{
  "version_module": true,
  "id": "integrations:v1alpha",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "ownerDomain": "google.com",
  "description": "",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "title": "Application Integration API",
  "discoveryVersion": "v1",
  "rootUrl": "https://integrations.googleapis.com/",
  "baseUrl": "https://integrations.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "name": "integrations",
  "schemas": {
    "EnterpriseCrmEventbusProtoParameterMap": {
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          },
          "type": "array"
        },
        "keyType": {
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        }
      },
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "id": "EnterpriseCrmEventbusProtoParameterMap"
    },
    "EnterpriseCrmEventbusProtoTransformExpression": {
      "id": "EnterpriseCrmEventbusProtoTransformExpression",
      "type": "object",
      "properties": {
        "initialValue": {
          "$ref": "EnterpriseCrmEventbusProtoBaseValue",
          "description": "Initial value upon which to perform transformations."
        },
        "transformationFunctions": {
          "description": "Transformations to be applied sequentially.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoFunction"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse": {
      "properties": {
        "runtimeActionSchemas": {
          "description": "Runtime action schemas.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse",
      "description": "Response for listing RuntimeActionSchemas for a specific Connection.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "properties": {
        "properties": {
          "description": "An unordered list of property entries.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          },
          "type": "array"
        }
      },
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus."
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest",
      "description": "The request for scheduling an integration. Next available id: 10",
      "type": "object",
      "properties": {
        "parameterEntries": {
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        },
        "parameters": {
          "description": "Passed in as parameters to each integration execution.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "deprecated": true
        },
        "scheduleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately."
        },
        "inputParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object",
          "description": "Optional. Input parameters used by integration execution."
        },
        "userGeneratedExecutionId": {
          "type": "string",
          "description": "Optional. This is a unique id provided by the method caller. If provided this will be used as the execution_id when a new execution info is created. This is a string representation of a UUID. Must have no more than 36 characters and contain only alphanumeric characters and hyphens."
        },
        "triggerId": {
          "type": "string",
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)"
        },
        "requestId": {
          "type": "string",
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse": {
      "properties": {
        "integrationVersions": {
          "description": "The integrations which match the request.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "noPermission": {
          "type": "boolean",
          "description": "Whether the user has no permission on the version or not."
        }
      },
      "type": "object",
      "description": "Response for ListIntegrationVersions.",
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse"
    },
    "EnterpriseCrmEventbusProtoIntArrayFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoIntArrayFunction",
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfig": {
      "properties": {
        "authKey": {
          "description": "Identifier key for auth config",
          "type": "string"
        },
        "sshPublicKey": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
          "description": "SSH Public Key."
        },
        "oauth2JwtBearer": {
          "description": "Oauth2JwtBearer.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer"
        },
        "oauth2AuthCodeFlow": {
          "description": "Oauth2AuthCodeFlow.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2AuthCodeFlow"
        },
        "authType": {
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow",
            "Google authentication"
          ],
          "description": "The type of authentication configured.",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW",
            "GOOGLE_AUTHENTICATION"
          ],
          "type": "string"
        },
        "userPassword": {
          "description": "UserPassword.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigUserPassword"
        },
        "oauth2ClientCredentials": {
          "description": "Oauth2ClientCredentials.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials"
        },
        "additionalVariables": {
          "description": "List containing additional auth configs.",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "AuthConfig defines details of a authentication type.",
      "id": "GoogleCloudConnectorsV1AuthConfig"
    },
    "EnterpriseCrmEventbusProtoValueType": {
      "properties": {
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "protoValue": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "stringValue": {
          "type": "string"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringArray"
        },
        "intValue": {
          "format": "int64",
          "type": "string"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArray"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntArray"
        },
        "booleanValue": {
          "type": "boolean"
        }
      },
      "description": "Used for define type for values. Currently supported value types include int, string, double, array, and any proto message.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoValueType"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest",
      "description": "The request for executing an integration.",
      "properties": {
        "inputParameters": {
          "description": "Optional. Input parameters used by integration execution.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "doNotPropagateError": {
          "type": "boolean",
          "description": "Optional. Flag to determine how to should propagate errors. If this flag is set to be true, it will not throw an exception. Instead, it will return a {@link ExecuteIntegrationsResponse} with an execution id and error messages as PostWithTriggerIdExecutionException in {@link EventParameters}. The flag is set to be false by default."
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id). The trigger_id is in the format of `api_trigger/TRIGGER_NAME`."
        },
        "parameters": {
          "description": "Optional. Passed in as parameters to each integration execution. Redacted",
          "deprecated": true,
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "executionId": {
          "deprecated": true,
          "description": "Optional. The id of the ON_HOLD execution to be resumed.",
          "type": "string"
        },
        "parameterEntries": {
          "deprecated": true,
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoToken": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoToken",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaParameterMapEntry": {
      "properties": {
        "key": {
          "description": "Key of the map entry.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField"
        },
        "value": {
          "description": "Value of the map entry.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaParameterMapEntry",
      "type": "object",
      "description": "Entry is a pair of key and value."
    },
    "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Auto-generated primary key. Format: projects/{project}/locations/{location}/products/{product}/integrationtemplates/{integrationtemplate}/versions/{version}",
          "type": "string"
        },
        "userLabel": {
          "type": "string",
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Auto-generated.",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Auto-generated."
        },
        "teardown": {
          "$ref": "EnterpriseCrmEventbusProtoTeardown",
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code."
        },
        "enableVariableMasking": {
          "description": "Optional. True if variable masking feature should be turned on for generated workflows",
          "type": "boolean"
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "Optional. The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "status": {
          "description": "Optional. Generated by eventbus. User should not set it as an input.",
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "parentIntegrationVersionId": {
          "description": "Optional. ID of the IntegrationVersion that was used to create this IntegrationTemplateVersion",
          "type": "string"
        },
        "databasePersistencePolicy": {
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED",
            "DATABASE_PERSISTENCE_ASYNC"
          ],
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index.",
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data.",
            "Asynchronously persist all execution data."
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The templateversion description. Permitted format is alphanumeric with underscores and no spaces."
        },
        "templateParameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
          "description": "Optional. Parameters that are expected to be passed to the IntegrationTemplateVersion when an event is triggered. This consists of all the parameters that are expected in the IntegrationTemplateVersion execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter."
        },
        "snapshotNumber": {
          "description": "Output only. An increasing sequence that is set when a new snapshot is created.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "triggerConfigs": {
          "description": "Optional. Trigger configurations.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          }
        },
        "errorCatcherConfigs": {
          "type": "array",
          "description": "Optional. Error Catch Task configuration for the IntegrationTemplateVersion. It's optional.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaErrorCatcherConfig"
          }
        },
        "taskConfigs": {
          "description": "Optional. Task configuration for the IntegrationTemplateVersion. It's optional, but the IntegrationTemplateVersion doesn't do anything without task_configs.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion",
      "type": "object",
      "description": "IntegrationTemplateVersion definition. An IntegrationTemplateVersion provides configurations required to construct an IntegrationVersion. It cannot be executed directly like an Integration. Users can create IntegrationTemplateVersions using Integrations. These Templates can be shared by users across GCP projects. Next available: 17"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationVersion": {
      "properties": {
        "cloudLoggingDetails": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudLoggingDetails",
          "description": "Optional. Cloud Logging details for the integration version"
        },
        "parentTemplateId": {
          "type": "string",
          "description": "Optional. The id of the template which was used to create this integration_version."
        },
        "userLabel": {
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created.",
          "type": "string"
        },
        "status": {
          "description": "Output only. Generated by eventbus. User should not set it as an input.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "readOnly": true,
          "type": "string",
          "deprecated": true
        },
        "enableVariableMasking": {
          "type": "boolean",
          "description": "Optional. True if variable masking feature should be turned on for this version"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Auto-generated primary key."
        },
        "taskConfigsInternal": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          },
          "deprecated": true,
          "description": "Optional. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs."
        },
        "origin": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "",
            "Workflow is being created via event bus UI.",
            "User checked in this workflow in Piper as v2 textproto format and we synced it into spanner.",
            "User checked in this workflow in piper as v3 textproto format and we synced it into spanner.",
            "Workflow is being created via Standalone IP Provisioning",
            "Workflow is being created via Test Case."
          ],
          "deprecated": true,
          "description": "Optional. The origin that indicates where this integration is coming from.",
          "enum": [
            "UNSPECIFIED",
            "UI",
            "PIPER_V2",
            "PIPER_V3",
            "APPLICATION_IP_PROVISIONING",
            "TEST_CASE"
          ],
          "type": "string"
        },
        "lockHolder": {
          "description": "Optional. The edit lock holder's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "triggerConfigs": {
          "description": "Optional. Trigger configurations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTriggerConfig"
          }
        },
        "taskConfigs": {
          "description": "Optional. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskConfig"
          },
          "type": "array"
        },
        "integrationParameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationParameter"
          },
          "description": "Optional. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter."
        },
        "errorCatcherConfigs": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaErrorCatcherConfig"
          },
          "type": "array",
          "description": "Optional. Error Catch Task configuration for the integration. It's optional."
        },
        "snapshotNumber": {
          "format": "int64",
          "description": "Optional. An increasing sequence that is set when a new snapshot is created. The last created snapshot can be identified by [workflow_name, org_id latest(snapshot_number)]. However, last created snapshot need not be same as the HEAD. So users should always use \"HEAD\" tag to identify the head.",
          "type": "string"
        },
        "teardown": {
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code.",
          "$ref": "EnterpriseCrmEventbusProtoTeardown",
          "deprecated": true
        },
        "integrationConfigParameters": {
          "description": "Optional. Config Parameters that are expected to be passed to the integration when an integration is published. This consists of all the parameters that are expected to provide configuration in the integration execution. This gives the user the ability to provide default values, value, add information like connection url, project based configuration value and also provide data types of each parameter.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationConfigParameter"
          }
        },
        "triggerConfigsInternal": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          },
          "type": "array",
          "description": "Optional. Trigger configurations.",
          "deprecated": true
        },
        "databasePersistencePolicy": {
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data.",
            "Asynchronously persist all execution data."
          ],
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index.",
          "type": "string",
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED",
            "DATABASE_PERSISTENCE_ASYNC"
          ]
        },
        "integrationParametersInternal": {
          "deprecated": true,
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
          "description": "Optional. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. User should not set it as an input.",
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Draft.",
            "Active.",
            "Archived.",
            "Snapshot."
          ],
          "enum": [
            "INTEGRATION_STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "Optional. The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "runAsServiceAccount": {
          "description": "Optional. The run-as service account email, if set and auth config is not configured, that will be used to generate auth token to be used in Connector task, Rest caller task and Cloud function task.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The integration description.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
      "description": "The integration version definition."
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "properties": {
        "referenceValue": {
          "description": "Start with a reference value to dereference.",
          "type": "string"
        },
        "baseFunction": {
          "$ref": "EnterpriseCrmEventbusProtoFunction",
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc."
        },
        "literalValue": {
          "description": "Start with a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBaseValue"
    },
    "GoogleCloudIntegrationsV1alphaErrorCatcherConfig": {
      "description": "Configuration detail of a error catch task",
      "properties": {
        "errorCatcherNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each error catcher config within the workflow on UI."
        },
        "position": {
          "$ref": "GoogleCloudIntegrationsV1alphaCoordinate",
          "description": "Optional. Informs the front-end application where to draw this error catcher config on the UI."
        },
        "label": {
          "type": "string",
          "description": "Optional. The user created label for a particular error catcher. Optional."
        },
        "errorCatcherId": {
          "type": "string",
          "description": "Required. An error catcher id is string representation for the error catcher config. Within a workflow, error_catcher_id uniquely identifies an error catcher config among all error catcher configs for the workflow"
        },
        "startErrorTasks": {
          "description": "Required. The set of start tasks that are to be executed for the error catch flow",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description intended to give more business context about the error catcher config."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaErrorCatcherConfig"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule": {
      "properties": {
        "stringRegex": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex"
        },
        "doubleRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
        },
        "intRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskMetadata": {
      "type": "object",
      "properties": {
        "category": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Internal IP tasks that should not be available in the UI.",
            "Tasks that are relevant to cloud systems teams and typically",
            "include connecting to Vector salesforce, CRM Hub Spanner etc. Task entities that derive from a custom task template.",
            "Category to show task recommendations"
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_CATEGORY",
            "CUSTOM",
            "FLOW_CONTROL",
            "DATA_MANIPULATION",
            "SCRIPTING",
            "CONNECTOR",
            "HIDDEN",
            "CLOUD_SYSTEMS",
            "CUSTOM_TASK_TEMPLATE",
            "TASK_RECOMMENDATIONS"
          ]
        },
        "externalDocHtml": {
          "description": "External-facing documention embedded in the RHP for this task.",
          "type": "string"
        },
        "codeSearchLink": {
          "type": "string",
          "description": "The Code Search link to the Task Java file."
        },
        "descriptiveName": {
          "description": "The string name to show on the task list on the Workflow editor screen. This should be a very short, one to two words name for the task. (e.g. \"Send Mail\")",
          "type": "string"
        },
        "isDeprecated": {
          "description": "The deprecation status of the current task. Default value is false;",
          "type": "boolean"
        },
        "system": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED_SYSTEM",
            "GENERIC",
            "BUGANIZER",
            "SALESFORCE",
            "CLOUD_SQL",
            "PLX",
            "SHEETS",
            "GOOGLE_GROUPS",
            "EMAIL",
            "SPANNER",
            "DATA_BRIDGE"
          ],
          "type": "string"
        },
        "description": {
          "description": "In a few sentences, describe the purpose and usage of the task.",
          "type": "string"
        },
        "standaloneExternalDocHtml": {
          "description": "External-facing documention for standalone IP in pantheon embedded in the RHP for this task. Non null only if different from external_doc_html",
          "type": "string"
        },
        "g3DocLink": {
          "description": "URL to the associated G3 Doc for the task if available",
          "type": "string"
        },
        "externalCategorySequence": {
          "description": "Sequence with which the task in specific category to be displayed in task discovery panel for external users.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The actual class name or the annotated name of the task. Task Author should initialize this field with value from the getName() method of the Task class.",
          "type": "string"
        },
        "defaultJsonValidationOption": {
          "description": "Controls whether JSON workflow parameters are validated against provided schemas before and/or after this task's execution.",
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "type": "string"
        },
        "docMarkdown": {
          "description": "Snippet of markdown documentation to embed in the RHP for this task.",
          "type": "string"
        },
        "externalDocMarkdown": {
          "description": "DEPRECATED: Use external_doc_html.",
          "type": "string"
        },
        "defaultSpec": {
          "type": "string",
          "description": "Contains the initial configuration of the task with default values set. For now, The string should be compatible to an ASCII-proto format."
        },
        "externalDocLink": {
          "description": "Doc link for external-facing documentation (separate from g3doc).",
          "type": "string"
        },
        "admins": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
          }
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Actual Task Status should always be set to either INACTIVE or ACTIVE. If none is specified at runtime, it will be set to INACTIVE.",
            "Still in-progress or incomplete, and not intended for use.",
            "Available for use."
          ],
          "description": "Allows author to indicate if the task is ready to use or not. If not set, then it will default to INACTIVE.",
          "enum": [
            "UNSPECIFIED_STATUS",
            "DEFAULT_INACTIVE",
            "ACTIVE"
          ]
        },
        "activeTaskName": {
          "description": "The new task name to replace the current task if it is deprecated. Otherwise, it is the same as the current task name.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "A set of tags that pertain to a particular task. This can be used to improve the searchability of tasks with several names (\"REST Caller\" vs. \"Call REST Endpoint\") or to help users find tasks based on related words.",
          "type": "array"
        },
        "iconLink": {
          "description": "URL to gstatic image icon for this task. This icon shows up on the task list panel along with the task name in the Workflow Editor screen. Use the 24p, 2x, gray color icon image format.",
          "type": "string"
        },
        "externalCategory": {
          "enum": [
            "UNSPECIFIED_EXTERNAL_CATEGORY",
            "CORE",
            "CONNECTORS",
            "EXTERNAL_HTTP",
            "EXTERNAL_INTEGRATION_SERVICES",
            "EXTERNAL_CUSTOMER_ACTIONS",
            "EXTERNAL_FLOW_CONTROL",
            "EXTERNAL_WORKSPACE",
            "EXTERNAL_SECURITY",
            "EXTERNAL_DATABASES",
            "EXTERNAL_ANALYTICS",
            "EXTERNAL_BYOC",
            "EXTERNAL_BYOT",
            "EXTERNAL_ARTIFICIAL_INTELIGENCE",
            "EXTERNAL_DATA_MANIPULATION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "HTTP tasks, e.g. rest api call task",
            "Integration services, e.g. connector task",
            "Customer ations, e.g. email task",
            "Flow control, e.g. while loop task",
            "Workspace tasks, e.g. list drive task",
            "Security, e.g. kms related tasks",
            "Database operation tasks, e.g. read firestore info tasks",
            "Analytics tasks, e.g. dataflow creattion tasks",
            "BYOC tasks",
            "BYOT tasks",
            "AI related tasks.",
            "Data manipulation related tasks, e.g. data mapping task"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskMetadata",
      "description": "TaskMetadata are attributes that are associated to every common Task we have."
    },
    "GoogleCloudIntegrationsV1alphaCoordinate": {
      "properties": {
        "y": {
          "description": "Required. Y axis of the coordinate",
          "format": "int32",
          "type": "integer"
        },
        "x": {
          "format": "int32",
          "description": "Required. X axis of the coordinate",
          "type": "integer"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCoordinate",
      "description": "Configuration detail of coordinate, it used for UI",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition",
      "properties": {
        "fullName": {
          "type": "string",
          "description": "The fully-qualified proto name. This message, for example, would be \"enterprise.crm.eventbus.proto.ParamSpecEntry.ProtoDefinition\"."
        },
        "path": {
          "description": "Path to the proto file that contains the message type's definition.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskEntity": {
      "properties": {
        "stats": {
          "deprecated": true,
          "description": "Deprecated - statistics from the Monarch query.",
          "$ref": "EnterpriseCrmEventbusStats"
        },
        "disabledForVpcSc": {
          "description": "True if the task has conflict with vpcsc",
          "type": "boolean"
        },
        "uiConfig": {
          "description": "UI configuration for this task Also associated with the METADATA mask.",
          "$ref": "EnterpriseCrmEventbusProtoTaskUiConfig"
        },
        "metadata": {
          "description": "Metadata inclueds the task name, author and so on.",
          "$ref": "EnterpriseCrmEventbusProtoTaskMetadata"
        },
        "taskType": {
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "description": "Defines the type of the task",
          "type": "string"
        },
        "paramSpecs": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage",
          "description": "Declarations for inputs/outputs for a TypedTask. This is also associated with the METADATA mask."
        }
      },
      "description": "Contains a task's metadata and associated information. Next available id: 7",
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
    },
    "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest": {
      "properties": {
        "fileFormat": {
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "enumDescriptions": [
            "Unspecified file format",
            "JSON File Format",
            "YAML File Format"
          ],
          "description": "File format for upload request.",
          "type": "string"
        },
        "content": {
          "description": "The textproto of the integration_version.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for UploadIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse": {
      "properties": {
        "integrationTemplateVersions": {
          "description": "The IntegrationTemplateVersions which match the request.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response for IntegrationTemplateVersions.ListIntegrationTemplateVersions.",
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse"
    },
    "EnterpriseCrmEventbusProtoCloudKmsConfig": {
      "type": "object",
      "properties": {
        "gcpProjectId": {
          "type": "string",
          "description": "Optional. The id of GCP project where the KMS key is stored. If not provided, assume the key is stored in the same GCP project defined in Client (tag 14)."
        },
        "keyName": {
          "description": "A Cloud KMS key is a named object containing one or more key versions, along with metadata for the key. A key exists on exactly one key ring tied to a specific location.",
          "type": "string"
        },
        "locationName": {
          "description": "Location name of the key ring, e.g. \"us-west1\".",
          "type": "string"
        },
        "keyRingName": {
          "description": "A key ring organizes keys in a specific Google Cloud location and allows you to manage access control on groups of keys. A key ring's name does not need to be unique across a Google Cloud project, but must be unique within a given location.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. The service account used for authentication of this KMS key. If this is not provided, the service account in Client.clientSource will be used.",
          "type": "string"
        },
        "keyVersionName": {
          "description": "Optional. Each version of a key contains key material used for encryption or signing. A key's version is represented by an integer, starting at 1. To decrypt data or verify a signature, you must use the same key version that was used to encrypt or sign the data.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoCloudKmsConfig"
    },
    "EnterpriseCrmEventbusProtoCoordinate": {
      "id": "EnterpriseCrmEventbusProtoCoordinate",
      "description": "Represents two-dimensional positions.",
      "type": "object",
      "properties": {
        "y": {
          "format": "int32",
          "type": "integer"
        },
        "x": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue": {
      "type": "object",
      "properties": {
        "percentage": {
          "format": "int32",
          "type": "integer",
          "description": "Percentage threshold."
        },
        "absolute": {
          "format": "int64",
          "description": "Absolute value threshold.",
          "type": "string"
        }
      },
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig.",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue"
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "id": "EnterpriseCrmEventbusProtoBooleanFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse": {
      "properties": {
        "files": {
          "description": "List containing String represendation for multiple file with type.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSerializedFile"
          },
          "type": "array"
        },
        "content": {
          "description": "String representation of the requested file.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for DownloadIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
    },
    "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata": {
      "id": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata",
      "type": "object",
      "description": "Metadata of runtime connection schema.",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of actions."
        },
        "entities": {
          "type": "array",
          "description": "List of entity names.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange": {
      "description": "Range used to validate longs and ints.",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange",
      "properties": {
        "max": {
          "description": "The inclusive maximum of the acceptable range.",
          "format": "int64",
          "type": "string"
        },
        "min": {
          "type": "string",
          "description": "The inclusive minimum of the acceptable range.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam": {
      "properties": {
        "allowedCredentialTypes": {
          "items": {
            "enum": [
              "CREDENTIAL_TYPE_UNSPECIFIED",
              "USERNAME_AND_PASSWORD",
              "API_KEY",
              "OAUTH2_AUTHORIZATION_CODE",
              "OAUTH2_IMPLICIT",
              "OAUTH2_CLIENT_CREDENTIALS",
              "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
              "JWT",
              "AUTH_TOKEN",
              "SERVICE_ACCOUNT",
              "CLIENT_CERTIFICATE_ONLY",
              "OIDC_TOKEN"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "Regular username/password pair.",
              "API key.",
              "OAuth 2.0 Authorization Code Grant Type.",
              "OAuth 2.0 Implicit Grant Type.",
              "OAuth 2.0 Client Credentials Grant Type.",
              "OAuth 2.0 Resource Owner Credentials Grant Type.",
              "JWT Token.",
              "Auth Token, e.g. bearer token.",
              "Service Account which can be used to generate token for authentication.",
              "Client Certificate only.",
              "Google OIDC ID Token"
            ]
          },
          "type": "array",
          "description": "Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only."
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "allowedServiceAccountInContext": {
          "type": "boolean"
        },
        "useServiceAccountInContext": {
          "type": "boolean"
        },
        "authConfigId": {
          "description": "UUID of the AuthConfig.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam"
    },
    "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest": {
      "properties": {},
      "description": "Request for UnpublishIntegrationVersion.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest"
    },
    "GoogleCloudConnectorsV1HPAConfig": {
      "properties": {
        "cpuUtilizationThreshold": {
          "type": "string",
          "description": "Output only. Percent CPU utilization where HPA triggers autoscaling.",
          "readOnly": true,
          "format": "int64"
        },
        "memoryUtilizationThreshold": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Percent Memory utilization where HPA triggers autoscaling.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Autoscaling config for connector deployment system metrics.",
      "id": "GoogleCloudConnectorsV1HPAConfig"
    },
    "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray",
      "properties": {
        "doubleValues": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer": {
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details.",
      "properties": {
        "jwtClaims": {
          "description": "JwtClaims providers fields to generate the token.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims"
        },
        "clientKey": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`."
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2AuthCodeFlow": {
      "properties": {
        "authUri": {
          "description": "Auth URL for Authorization Code Flow",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Client ID for user-provided OAuth app."
        },
        "scopes": {
          "type": "array",
          "description": "Scopes the connection will request when the user performs the auth code flow.",
          "items": {
            "type": "string"
          }
        },
        "redirectUri": {
          "description": "Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "enablePkce": {
          "description": "Whether to enable PKCE when the user performs the auth code flow.",
          "type": "boolean"
        },
        "pkceVerifier": {
          "type": "string",
          "description": "PKCE verifier to be used during the auth code exchange."
        },
        "clientSecret": {
          "description": "Client secret for user-provided OAuth app.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "authCode": {
          "type": "string",
          "description": "Authorization code to be exchanged for access and refresh tokens."
        }
      },
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details.",
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2AuthCodeFlow"
    },
    "GoogleCloudIntegrationsV1alphaAuthConfig": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the auth config is created.",
          "format": "google-datetime"
        },
        "validTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time until the auth config is valid. Empty or max value is considered the auth config won't expire."
        },
        "description": {
          "description": "A description of the auth config.",
          "type": "string"
        },
        "certificateId": {
          "description": "Certificate id for client certificate",
          "type": "string"
        },
        "visibility": {
          "type": "string",
          "enumDescriptions": [
            "Visibility not specified.",
            "Profile visible to the creator only.",
            "Profile visible within the client."
          ],
          "enum": [
            "AUTH_CONFIG_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "CLIENT_VISIBLE"
          ],
          "description": "The visibility of the auth config."
        },
        "credentialType": {
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "type": "string",
          "description": "Credential type of the encrypted credential.",
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ]
        },
        "encryptedCredential": {
          "description": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key.",
          "type": "string",
          "format": "byte"
        },
        "overrideValidTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings."
        },
        "displayName": {
          "description": "Required. The name of the auth config.",
          "type": "string"
        },
        "reason": {
          "description": "The reason / details of the current status.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Status not specified.",
            "Valid Auth config.",
            "General invalidity, if it doesn't fits in the detailed issue below.",
            "Auth config soft deleted.",
            "Auth config expired.",
            "Auth config unauthorized.",
            "Auth config not supported."
          ],
          "description": "The status of the auth config.",
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "SOFT_DELETED",
            "EXPIRED",
            "UNAUTHORIZED",
            "UNSUPPORTED"
          ],
          "type": "string"
        },
        "decryptedCredential": {
          "description": "Raw auth credentials.",
          "$ref": "GoogleCloudIntegrationsV1alphaCredential"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the auth config is modified."
        },
        "creatorEmail": {
          "description": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "name": {
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}.",
          "type": "string"
        },
        "expiryNotificationDuration": {
          "description": "User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours.",
          "items": {
            "format": "google-duration",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAuthConfig",
      "description": "The AuthConfig resource use to hold channels and connection config data."
    },
    "GoogleCloudIntegrationsV1alphaIntegrationParameter": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationParameter",
      "properties": {
        "searchable": {
          "description": "Searchable in the execution log or not.",
          "type": "boolean"
        },
        "inputOutputType": {
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "enumDescriptions": [
            "Default.",
            "Input parameters for the integration. EventBus validates that these parameters exist in the integrations before execution.",
            "Output Parameters for the integration. EventBus will only return the integration parameters tagged with OUT in the response back.",
            "Input and Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ],
          "type": "string",
          "description": "Specifies the input/output type for the parameter."
        },
        "isTransient": {
          "description": "Whether this parameter is a transient parameter.",
          "type": "boolean"
        },
        "containsLargeData": {
          "type": "boolean",
          "description": "Indicates whether this variable contains large data and need to be uploaded to Cloud Storage."
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "GoogleCloudIntegrationsV1alphaValueType"
        },
        "producer": {
          "type": "string",
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param."
        },
        "jsonSchema": {
          "type": "string",
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter."
        },
        "displayName": {
          "type": "string",
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\"."
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
        },
        "dataType": {
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "description": "Type of the parameter.",
          "type": "string"
        },
        "masked": {
          "description": "True if this parameter should be masked in the logs",
          "type": "boolean"
        }
      },
      "description": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition."
    },
    "EnterpriseCrmEventbusProtoAttributes": {
      "id": "EnterpriseCrmEventbusProtoAttributes",
      "type": "object",
      "properties": {
        "logSettings": {
          "description": "See",
          "$ref": "EnterpriseCrmEventbusProtoLogSettings"
        },
        "searchable": {
          "enumDescriptions": [
            "",
            "If yes, the parameter key and value will be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified.",
            "If no, the parameter key and value will not be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "YES",
            "NO"
          ]
        },
        "isRequired": {
          "type": "boolean",
          "description": "Required for event execution. The validation will be done by the event bus when the event is triggered."
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "URL",
            "CURRENCY",
            "TIMESTAMP",
            "DOMAIN_NAME"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Domain is a web url string with one top-level private domain and a suffix (for example: google.com, walmart.com)"
          ],
          "description": "Things like URL, Email, Currency, Timestamp (rather than string, int64...)"
        },
        "taskVisibility": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of tasks that can view this property, if empty then all."
        },
        "masked": {
          "description": "True if this workflow parameter should be masked in the logs",
          "type": "boolean"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Used to indicate if the ParameterEntry is a read only field or not."
        },
        "defaultValue": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Used to define defaults."
        },
        "isSearchable": {
          "deprecated": true,
          "description": "Used to indicate if a ParameterEntry should be converted to ParamIndexes for ST-Spanner full-text search. DEPRECATED: use searchable.",
          "type": "boolean"
        }
      },
      "description": "Attributes are additional options that can be associated with each event property. For more information, see"
    },
    "EnterpriseCrmEventbusProtoTaskMetadataAdmin": {
      "type": "object",
      "properties": {
        "googleGroupEmail": {
          "type": "string"
        },
        "userEmail": {
          "type": "string"
        }
      },
      "description": "Admins are owners of a Task, and have all permissions on a particular task identified by the task name. By default, Eventbus periodically scans all task metadata and syncs (adds) any new admins defined here to Zanzibar.",
      "id": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
    },
    "EnterpriseCrmLoggingGwsFieldLimits": {
      "id": "EnterpriseCrmLoggingGwsFieldLimits",
      "properties": {
        "maxStringLength": {
          "type": "integer",
          "description": "maximum string length. If the field exceeds this amount the field is shortened.",
          "format": "int32"
        },
        "shortenerType": {
          "enumDescriptions": [
            "",
            "String is shortened to max_string_length.",
            "String is replaced by its hex-string hash.",
            "String is replaced by a combination of string shortening and a hex-string hash.",
            "String shortening for email addresses. Shortening may be done on the user and/or domain portion of the email address.",
            "String is replaced by a combination of string shortening and a hex-string hash for an email address.",
            "Shortens a domain name (e.g., as part of an email address or URL)."
          ],
          "type": "string",
          "enum": [
            "SHORTENER_TYPE_UNSPECIFIED",
            "SHORTEN",
            "HASH",
            "SHORTEN_WITH_HASH",
            "SHORTEN_EMAIL",
            "SHORTEN_EMAIL_WITH_HASH",
            "SHORTEN_DOMAIN"
          ]
        },
        "logType": {
          "items": {
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ]
          },
          "type": "array",
          "description": "To which type(s) of logs the limits apply."
        },
        "maxArraySize": {
          "type": "integer",
          "format": "int32",
          "description": "maximum array size. If the array exceds this size, the field (list) is truncated."
        },
        "logAction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "LOG_ACTION_UNSPECIFIED",
            "DONT_LOG",
            "LOG"
          ]
        }
      },
      "type": "object",
      "description": "Describes string and array limits when writing to logs. When a limit is exceeded the *shortener_type* describes how to shorten the field. next_id: 6"
    },
    "GoogleCloudConnectorsV1SslConfig": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ],
          "description": "Controls the ssl type for the given connector version.",
          "type": "string",
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ]
        },
        "clientCertType": {
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ],
          "type": "string",
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ],
          "description": "Type of Client Cert (PEM/JKS/.. etc.)"
        },
        "privateServerCertificate": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Private Server Certificate. Needs to be specified if trust model is `PRIVATE`."
        },
        "trustModel": {
          "enum": [
            "PUBLIC",
            "PRIVATE",
            "INSECURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Public Trust Model. Takes the Default Java trust store.",
            "Private Trust Model. Takes custom/private trust store.",
            "Insecure Trust Model. Accept all certificates."
          ],
          "description": "Trust Model of the SSL connection"
        },
        "clientCertificate": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Client Certificate"
        },
        "serverCertType": {
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ],
          "description": "Type of Server Cert (PEM/JKS/.. etc.)",
          "type": "string",
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ]
        },
        "additionalVariables": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "type": "array",
          "description": "Additional SSL related field values"
        },
        "clientPrivateKey": {
          "description": "Client Private Key",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "clientPrivateKeyPass": {
          "description": "Secret containing the passphrase protecting the Client Private Key",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "useSsl": {
          "type": "boolean",
          "description": "Bool for enabling SSL"
        }
      },
      "id": "GoogleCloudConnectorsV1SslConfig",
      "description": "SSL Configuration of a connection"
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse",
      "description": "Response for ListIntegrations.",
      "properties": {
        "integrations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegration"
          },
          "description": "The integrations which match the request."
        },
        "nextPageToken": {
          "description": "The next page token for the response.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaJwt": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaJwt",
      "properties": {
        "jwtHeader": {
          "type": "string",
          "description": "Identifies which algorithm is used to generate the signature."
        },
        "jwt": {
          "type": "string",
          "description": "The token calculated by the header, payload and signature."
        },
        "secret": {
          "description": "User's pre-shared secret to sign the token.",
          "type": "string"
        },
        "jwtPayload": {
          "description": "Contains a set of claims. The JWT specification defines seven Registered Claim Names which are the standard fields commonly included in tokens. Custom claims are usually also included, depending on the purpose of the token.",
          "type": "string"
        }
      },
      "description": "Represents JSON web token(JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties, enabling the claims to be digitally signed or integrity protected."
    },
    "GoogleCloudConnectorsV1EventingStatus": {
      "description": "EventingStatus indicates the state of eventing.",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State.",
          "enumDescriptions": [
            "Default state.",
            "Eventing is enabled and ready to receive events.",
            "Eventing is not active due to an error.",
            "Ingress endpoint required."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ]
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of error if State is set to \"ERROR\"."
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1EventingStatus"
    },
    "EnterpriseCrmEventbusProtoBaseFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "NOW_IN_MILLIS",
            "INT_LIST",
            "ENVIRONMENT",
            "GET_EXECUTION_ID",
            "GET_INTEGRATION_NAME",
            "GET_REGION",
            "GET_UUID",
            "GET_PROJECT_ID"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseFunction"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials": {
      "type": "object",
      "description": "For client credentials grant, the client sends a POST request with grant_type as 'client_credentials' to the authorization server. The authorization server will respond with a JSON object containing the access token.",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials",
      "properties": {
        "requestType": {
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "type": "string",
          "description": "Represent how to pass parameters to fetch access token",
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ]
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "Token parameters for the auth request."
        },
        "clientId": {
          "description": "The client's ID.",
          "type": "string"
        },
        "accessToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken",
          "description": "Access token fetched from the authorization server."
        },
        "tokenEndpoint": {
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token.",
          "type": "string"
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoIntParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray",
      "properties": {
        "intValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList": {
      "properties": {
        "filterType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "type": "string"
        },
        "enumStrings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList",
      "description": "List of error enums for alerts.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      },
      "description": "Entry is a pair of key and value."
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "description": "LINT.IfChange Use this request to post all workflows associated with a given trigger id. Next available id: 12",
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "This field is only required when using Admin Access. The resource name of target, or the parent resource name. For example: \"projects/*/locations/*/integrations/*\""
        },
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required.",
          "type": "string"
        },
        "userGeneratedExecutionId": {
          "description": "This is a unique id provided by the method caller. If provided this will be used as the execution_id when a new execution info is created. This is a string representation of a UUID. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "scheduledTime": {
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled.",
          "format": "int64",
          "type": "string"
        },
        "priority": {
          "type": "string",
          "description": "The request priority this request should be processed at. For internal users:",
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ]
        },
        "testMode": {
          "type": "boolean",
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}."
        },
        "workflowName": {
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow.",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients.",
          "type": "string"
        },
        "parameters": {
          "description": "Passed in as parameters to each workflow execution. Optional.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default.",
          "type": "boolean"
        }
      },
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest"
    },
    "EnterpriseCrmEventbusProtoParameterMapEntry": {
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        }
      },
      "description": "Entry is a pair of key and value.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMapEntry"
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "properties": {
        "elementType": {
          "description": "Destination node where the edge ends. It can only be a task config.",
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "elementIdentifier": {
          "description": "Configuration of the edge.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a node identifier (type + id). Next highest id: 3"
    },
    "EnterpriseCrmEventbusProtoSuccessPolicy": {
      "type": "object",
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "properties": {
        "finalState": {
          "enum": [
            "UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuccessPolicy"
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "properties": {
        "appsScriptProject": {
          "type": "string",
          "description": "The name of the Apps Script project to be created."
        },
        "authConfigId": {
          "description": "The auth config id necessary to fetch the necessary credentials to create the project for external clients",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest",
      "description": "Request for CreateAppsScriptProject rpc call.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoWorkflowAlertConfig": {
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoWorkflowAlertConfig",
      "properties": {
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "thresholdType": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ]
        },
        "numAggregationPeriods": {
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "format": "int32",
          "type": "integer"
        },
        "alertName": {
          "type": "string",
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the workflow."
        },
        "thresholdValue": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue",
          "description": "The metric value, above or below which the alert should be triggered."
        },
        "onlyFinalAttempt": {
          "type": "boolean",
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries."
        },
        "playbookUrl": {
          "description": "Link to a playbook for resolving the issue that triggered this alert.",
          "type": "string"
        },
        "alertDisabled": {
          "type": "boolean",
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert."
        },
        "metricType": {
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing workflow.",
            "Specifies alerting on the rate of warnings for the enclosing workflow. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing workflow.",
            "Specifies alerting on the rate of warnings for any task in the enclosing workflow.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing workflow.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this workflow.",
            "Specifies alerting on the duration value of a particular percentile of workflow executions. E.g. If 10% or more of the workflow executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing workflow,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing workflow. E.g. If 10% or more of the task executions in the workflow have durations above 5 seconds, alert."
          ],
          "type": "string",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ]
        },
        "aggregationPeriod": {
          "type": "string",
          "description": "For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours."
        },
        "durationThresholdMs": {
          "format": "int64",
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "type": "string"
        },
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "clientId": {
          "description": "Client associated with this alert configuration.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskConfig",
      "properties": {
        "createTime": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "successPolicy": {
          "$ref": "EnterpriseCrmEventbusProtoSuccessPolicy",
          "description": "Determines what action to take upon successful task completion."
        },
        "nextTasks": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "type": "array"
        },
        "taskTemplateName": {
          "type": "string",
          "description": "Used to define task-template name if task is of type task-template"
        },
        "taskExecutionStrategy": {
          "description": "The policy dictating the execution strategy of this task.",
          "enum": [
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ]
        },
        "taskEntity": {
          "description": "Copy of the task entity that this task config is an instance of.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
        },
        "label": {
          "type": "string",
          "description": "User-provided label that is attached to this TaskConfig in the UI."
        },
        "errorCatcherId": {
          "description": "Optional Error catcher id of the error catch flow which will be executed when execution error happens in the task",
          "type": "string"
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "jsonValidationOption": {
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
[...]
