{
  "rootUrl": "https://integrations.googleapis.com/",
  "ownerName": "Google",
  "title": "Application Integration API",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "http://www.google.com",
  "basePath": "",
  "revision": "20220913",
  "canonicalName": "Integrations",
  "servicePath": "",
  "description": "",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://integrations.googleapis.com/",
  "batchPath": "batch",
  "version": "v1alpha",
  "version_module": true,
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "name": "integrations",
  "id": "integrations:v1alpha",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest",
      "type": "object",
      "description": "Request for PublishIntegrationVersion.",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoDoubleArrayFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleArrayFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoNextTask": {
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "Standard filter expression for this task to become an eligible next task.",
          "type": "string"
        },
        "label": {
          "description": "User-provided label that is attached to this edge in the UI.",
          "type": "string"
        },
        "taskConfigId": {
          "description": "ID of the next task.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the next task edge or condition."
        },
        "taskNumber": {
          "description": "Task number of the next task.",
          "type": "string"
        },
        "combinedConditions": {
          "description": "Combined condition for this task to become an eligible next task. Each of these combined_conditions are joined with logical OR. DEPRECATED: use `condition`",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCombinedCondition"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoNextTask"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse": {
      "properties": {
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
          "description": "Version after the lock is acquired by the new user."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse",
      "type": "object",
      "description": "Response for TakeoverEditLock."
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity": {
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string"
        },
        "gaiaId": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1Destination": {
      "id": "GoogleCloudConnectorsV1Destination",
      "type": "object",
      "properties": {
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "The port is the target port number that is accepted by the destination."
        },
        "host": {
          "type": "string",
          "description": "For publicly routable host."
        },
        "serviceAttachment": {
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "type": "object",
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringParameterArray"
    },
    "EnterpriseCrmEventbusProtoTaskMetadata": {
      "id": "EnterpriseCrmEventbusProtoTaskMetadata",
      "description": "TaskMetadata are attributes that are associated to every common Task we have. Next available: 26",
      "type": "object",
      "properties": {
        "name": {
          "description": "The actual class name or the annotated name of the task. Task Author should initialize this field with value from the getName() method of the Task class.",
          "type": "string"
        },
        "system": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED_SYSTEM",
            "GENERIC",
            "BUGANIZER",
            "SALESFORCE",
            "CLOUD_SQL",
            "PLX",
            "SHEETS",
            "GOOGLE_GROUPS",
            "EMAIL",
            "SPANNER",
            "DATA_BRIDGE"
          ],
          "type": "string"
        },
        "category": {
          "enum": [
            "UNSPECIFIED_CATEGORY",
            "CUSTOM",
            "FLOW_CONTROL",
            "DATA_MANIPULATION",
            "SCRIPTING",
            "CONNECTOR",
            "HIDDEN",
            "CLOUD_SYSTEMS",
            "CUSTOM_TASK_TEMPLATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Internal IP tasks that should not be available in the UI.",
            "Tasks that are relevant to cloud systems teams and typically",
            "include connecting to Vector salesforce, CRM Hub Spanner etc. Task entities that derive from a custom task template."
          ],
          "type": "string"
        },
        "descriptiveName": {
          "description": "The string name to show on the task list on the Workflow editor screen. This should be a very short, one to two words name for the task. (e.g. \"Send Mail\")",
          "type": "string"
        },
        "externalCategory": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_EXTERNAL_CATEGORY",
            "CORE",
            "CONNECTORS"
          ]
        },
        "isDeprecated": {
          "type": "boolean",
          "description": "The deprecation status of the current task. Default value is false;"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of tags that pertain to a particular task. This can be used to improve the searchability of tasks with several names (\"REST Caller\" vs. \"Call REST Endpoint\") or to help users find tasks based on related words."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Actual Task Status should always be set to either INACTIVE or ACTIVE. If none is specified at runtime, it will be set to INACTIVE.",
            "Still in-progress or incomplete, and not intended for use.",
            "Available for use."
          ],
          "enum": [
            "UNSPECIFIED_STATUS",
            "DEFAULT_INACTIVE",
            "ACTIVE"
          ],
          "description": "Allows author to indicate if the task is ready to use or not. If not set, then it will default to INACTIVE."
        },
        "defaultSpec": {
          "type": "string",
          "description": "Contains the initial configuration of the task with default values set. For now, The string should be compatible to an ASCII-proto format."
        },
        "g3DocLink": {
          "type": "string",
          "description": "URL to the associated G3 Doc for the task if available"
        },
        "codeSearchLink": {
          "type": "string",
          "description": "The Code Search link to the Task Java file."
        },
        "docMarkdown": {
          "type": "string",
          "description": "Snippet of markdown documentation to embed in the RHP for this task."
        },
        "standaloneExternalDocHtml": {
          "type": "string",
          "description": "External-facing documention for standalone IP in pantheon embedded in the RHP for this task. Non null only if different from external_doc_html"
        },
        "activeTaskName": {
          "description": "The new task name to replace the current task if it is deprecated. Otherwise, it is the same as the current task name.",
          "type": "string"
        },
        "externalCategorySequence": {
          "description": "Sequence with which the task in specific category to be displayed in task discovery panel for external users.",
          "format": "int32",
          "type": "integer"
        },
        "admins": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
          }
        },
        "defaultJsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "description": "Controls whether JSON workflow parameters are validated against provided schemas before and/or after this task's execution.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ]
        },
        "externalDocMarkdown": {
          "description": "DEPRECATED: Use external_doc_html.",
          "type": "string"
        },
        "iconLink": {
          "type": "string",
          "description": "URL to gstatic image icon for this task. This icon shows up on the task list panel along with the task name in the Workflow Editor screen. Use the 24p, 2x, gray color icon image format. See go/icons."
        },
        "externalDocHtml": {
          "description": "External-facing documention embedded in the RHP for this task.",
          "type": "string"
        },
        "externalDocLink": {
          "type": "string",
          "description": "Doc link for external-facing documentation (separate from g3doc)."
        },
        "description": {
          "description": "In a few sentences, describe the purpose and usage of the task.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage": {
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata": {
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata",
      "properties": {
        "taskAttempt": {
          "type": "integer",
          "format": "int32",
          "description": "the task attempt number this snapshot belongs to."
        },
        "taskNumber": {
          "description": "The task number associated with this snapshot.",
          "type": "string"
        },
        "task": {
          "description": "the task name associated with this snapshot.",
          "type": "string"
        },
        "executionAttempt": {
          "format": "int32",
          "description": "the execution attempt number this snapshot belongs to.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Metadata of the execution snapshot."
    },
    "GoogleCloudIntegrationsV1alphaListExecutionsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListExecutionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page results."
        },
        "executionInfos": {
          "description": "Required. The detailed information of requested executions.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo"
          }
        },
        "executions": {
          "description": "The detailed information of requested executions",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          }
        }
      },
      "type": "object",
      "description": "Response for listing the integration execution data."
    },
    "GoogleCloudIntegrationsV1alphaGenerateTokenResponse": {
      "description": "Returns success or error message",
      "properties": {
        "message": {
          "type": "string",
          "description": "The message that notifies the user if the request succeeded or not."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntFunction": {
      "id": "EnterpriseCrmEventbusProtoIntFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "GREATER_THAN_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN_EQUAL_TO",
            "LESS_THAN",
            "TO_DOUBLE",
            "TO_STRING",
            "EQUALS",
            "TO_JSON",
            "MOD",
            "EPOCH_TO_HUMAN_READABLE_TIME"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoProtoArrayFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoArrayFunction"
    },
    "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest": {
      "properties": {
        "fileFormat": {
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified file format",
            "JSON File Format",
            "YAML File Format"
          ],
          "description": "File format for upload request."
        },
        "content": {
          "description": "The textproto of the integration_version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest",
      "description": "Request for UploadIntegrationVersion.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse",
      "description": "Response for ArchiveIntegrationVersion.",
      "properties": {},
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex": {
      "type": "object",
      "description": "Rule used to validate strings.",
      "properties": {
        "regex": {
          "type": "string",
          "description": "The regex applied to the input value(s)."
        },
        "exclusive": {
          "description": "Whether the regex matcher is applied exclusively (if true, matching values will be rejected).",
          "type": "boolean"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex"
    },
    "GoogleCloudConnectorsV1AuthConfigSshPublicKey": {
      "description": "Parameters to support Ssh public key Authentication.",
      "type": "object",
      "properties": {
        "sshClientCert": {
          "description": "SSH Client Cert. It should contain both public and private key.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "sshClientCertPass": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Password (passphrase) for ssh client certificate if it has one."
        },
        "certType": {
          "description": "Format of SSH Client cert.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The user account used to authenticate."
        },
        "password": {
          "description": "This is an optional field used in case client has enabled multi-factor authentication",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigSshPublicKey"
    },
    "EnterpriseCrmLoggingGwsFieldLimits": {
      "properties": {
        "maxStringLength": {
          "type": "integer",
          "description": "maximum string length. If the field exceeds this amount the field is shortened.",
          "format": "int32"
        },
        "logAction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "LOG_ACTION_UNSPECIFIED",
            "DONT_LOG",
            "LOG"
          ]
        },
        "logType": {
          "description": "To which type(s) of logs the limits apply.",
          "items": {
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "shortenerType": {
          "enum": [
            "SHORTENER_TYPE_UNSPECIFIED",
            "SHORTEN",
            "HASH",
            "SHORTEN_WITH_HASH",
            "SHORTEN_EMAIL",
            "SHORTEN_EMAIL_WITH_HASH",
            "SHORTEN_DOMAIN"
          ],
          "enumDescriptions": [
            "",
            "String is shortened to max_string_length.",
            "String is replaced by its hex-string hash.",
            "String is replaced by a combination of string shortening and a hex-string hash.",
            "String shortening for email addresses. Shortening may be done on the user and/or domain portion of the email address.",
            "String is replaced by a combination of string shortening and a hex-string hash for an email address.",
            "Shortens a domain name (e.g., as part of an email address or URL)."
          ],
          "type": "string"
        },
        "maxArraySize": {
          "format": "int32",
          "description": "maximum array size. If the array exceds this size, the field (list) is truncated.",
          "type": "integer"
        }
      },
      "description": "Describes string and array limits when writing to logs. When a limit is exceeded the *shortener_type* describes how to shorten the field. next_id: 6",
      "id": "EnterpriseCrmLoggingGwsFieldLimits",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleRequest": {
      "type": "object",
      "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request to create a new Bundle.",
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleRequest",
      "properties": {
        "secondaryCustomerOrgId": {
          "type": "string",
          "description": "Optional. The prefix for the SA, it should be in the format \"o\". This is an optional field, and if empty service account will be created per project, where we are creating bundle. This should only be used as the org ID for which we want to run the integrations in the bundle."
        },
        "bundleId": {
          "type": "string",
          "description": "Required. name of the bundle that will be created"
        },
        "integrations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of integrations that can be executed by the bundle"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUsernameAndPassword": {
      "id": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
      "description": "Username and password pair.",
      "properties": {
        "username": {
          "description": "Username to be used",
          "type": "string"
        },
        "password": {
          "description": "Password to be used",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials",
      "description": "For client credentials grant, the client sends a POST request with grant_type as 'client_credentials' to the authorization server. The authorization server will respond with a JSON object containing the access token.",
      "properties": {
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "requestType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "description": "Represent how to pass parameters to fetch access token"
        },
        "tokenParams": {
          "description": "Token parameters for the auth request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "tokenEndpoint": {
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token.",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "accessToken": {
          "description": "Access token fetched from the authorization server.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "clientId": {
          "description": "The client's ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token returned in the previous response.",
          "type": "string"
        },
        "executionSnapshots": {
          "description": "Required. The detailed information for the execution snapshot.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse",
      "description": "Response for listing the integration execution snapshot."
    },
    "GoogleCloudConnectorsV1AuthConfigUserPassword": {
      "description": "Parameters to support Username and Password Authentication.",
      "id": "GoogleCloudConnectorsV1AuthConfigUserPassword",
      "properties": {
        "username": {
          "type": "string",
          "description": "Username."
        },
        "password": {
          "description": "Secret version reference containing the password.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaBooleanParameterArray": {
      "type": "object",
      "properties": {
        "booleanValues": {
          "description": "Boolean array.",
          "items": {
            "type": "boolean"
          },
          "type": "array"
        }
      },
      "description": "This message only contains a field of boolean array.",
      "id": "GoogleCloudIntegrationsV1alphaBooleanParameterArray"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition",
      "properties": {
        "fullName": {
          "type": "string",
          "description": "The fully-qualified proto name. This message, for example, would be \"enterprise.crm.eventbus.proto.ParamSpecEntry.ProtoDefinition\"."
        },
        "path": {
          "type": "string",
          "description": "Path to the proto file that contains the message type's definition."
        }
      },
      "type": "object"
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "type": "object",
      "description": "Use this request to post all workflows associated with a given trigger id. Next available id: 10",
      "properties": {
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required."
        },
        "scheduledTime": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled."
        },
        "testMode": {
          "type": "boolean",
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}."
        },
        "priority": {
          "type": "string",
          "description": "The request priority this request should be processed at. For internal users:",
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ]
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens."
        },
        "workflowName": {
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow.",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients.",
          "type": "string"
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each workflow execution. Optional."
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default.",
          "type": "boolean"
        }
      }
    },
    "EnterpriseCrmEventbusProtoWorkflowAlertConfig": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoWorkflowAlertConfig",
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event. See go/eventbus-alert-config-examples for examples of the different alerts that can be configured.",
      "properties": {
        "alertName": {
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the workflow.",
          "type": "string"
        },
        "clientId": {
          "description": "Client associated with this alert configuration.",
          "type": "string"
        },
        "aggregationPeriod": {
          "type": "string",
          "description": "For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours."
        },
        "thresholdValue": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue",
          "description": "The metric value, above or below which the alert should be triggered. See go/eventbus-alert-config-examples."
        },
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "metricType": {
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing workflow.",
            "Specifies alerting on the rate of warnings for the enclosing workflow. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing workflow.",
            "Specifies alerting on the rate of warnings for any task in the enclosing workflow.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing workflow.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this workflow.",
            "Specifies alerting on the duration value of a particular percentile of workflow executions. E.g. If 10% or more of the workflow executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing workflow,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing workflow. E.g. If 10% or more of the task executions in the workflow have durations above 5 seconds, alert."
          ],
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "type": "string"
        },
        "alertDisabled": {
          "type": "boolean",
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert."
        },
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "numAggregationPeriods": {
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "format": "int32",
          "type": "integer"
        },
        "playbookUrl": {
          "type": "string",
          "description": "Link to a playbook for resolving the issue that triggered this alert."
        },
        "onlyFinalAttempt": {
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries.",
          "type": "boolean"
        },
        "durationThresholdMs": {
          "format": "int64",
          "type": "string",
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger."
        },
        "thresholdType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ],
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringArray",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit": {
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit",
      "properties": {
        "resolvedBy": {
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse": {
      "type": "object",
      "description": "Response to list AuthConfigs.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        },
        "authConfigs": {
          "description": "The list of AuthConfigs retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
    },
    "EnterpriseCrmEventbusProtoToken": {
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoToken",
      "type": "object"
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesDataRow": {
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesDataRow",
      "type": "object",
      "properties": {
        "y": {
          "$ref": "EnterpriseCrmCardsCellValue"
        },
        "x": {
          "$ref": "EnterpriseCrmCardsCellValue"
        }
      },
      "description": "Aplos series row is exactly two columns labeled x and y."
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest": {
      "properties": {},
      "description": "Request for ArchiveIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "properties": {
        "elementIdentifier": {
          "type": "string",
          "description": "Configuration of the edge."
        },
        "elementType": {
          "type": "string",
          "description": "Destination node where the edge ends. It can only be a task config.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ]
        }
      },
      "description": "Represents a node identifier (type + id). Next highest id: 3",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoExternalTraffic": {
      "id": "EnterpriseCrmEventbusProtoExternalTraffic",
      "properties": {
        "source": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "LINT.ThenChange(//depot/google3/enterprise/crm/eventbus/proto/product.proto:product, //depot/google3/java/com/google/enterprise/crm/integrationplatform/api/utils/ConverterUtils.java:source_to_product)",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "APIGEE",
            "SECURITY"
          ],
          "type": "string"
        },
        "gcpProjectNumber": {
          "type": "string",
          "description": "User’s GCP project number the traffic is referring to."
        },
        "gcpProjectId": {
          "type": "string",
          "description": "User’s GCP project id the traffic is referring to."
        },
        "location": {
          "description": "Location for the user's request.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents external traffic type and id."
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList": {
      "properties": {
        "filterType": {
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "enumStrings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "List of error enums for alerts.",
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSerializedObjectParameter": {
      "properties": {
        "objectValue": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSerializedObjectParameter",
      "type": "object"
    },
    "GoogleCloudConnectorsV1ConnectionStatus": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1ConnectionStatus",
      "description": "ConnectionStatus indicates the state of the connection.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description."
        },
        "status": {
          "type": "string",
          "description": "Status provides detailed information for the state."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error."
          ],
          "description": "State.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
      "properties": {
        "absolute": {
          "format": "int64",
          "type": "string",
          "description": "Absolute value threshold."
        },
        "percentage": {
          "format": "int32",
          "type": "integer",
          "description": "Percentage threshold."
        }
      },
      "type": "object",
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig."
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse": {
      "type": "object",
      "description": "Response for Suspensions.ResolveSuspensions.",
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "description": "A record representing a suspension.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Auto-generated."
        },
        "audit": {
          "description": "Metadata pertaining to the resolution of this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit"
        },
        "lastModifyTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Auto-generated."
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig",
          "description": "Controls the notifications and resolver permissions for this suspension."
        },
        "name": {
          "description": "Resource name for suspensions suspension/{suspension_id}",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ],
          "description": "Required. State of this suspension, indicating what action a resolver has taken.",
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ]
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Required. ID of the associated execution."
        },
        "integration": {
          "type": "string",
          "description": "Required. The name of the originating integration."
        },
        "approvalConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig",
          "description": "Controls the notifications and approval permissions for this suspension."
        },
        "taskId": {
          "description": "Required. Task id of the associated SuspensionTask.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuspension"
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest",
      "description": "Request for CreateAppsScriptProject rpc call.",
      "properties": {
        "authConfigId": {
          "description": "The auth config id necessary to fetch the necessary credentials to create the project for external clients",
          "type": "string"
        },
        "appsScriptProject": {
          "type": "string",
          "description": "The name of the Apps Script project to be created."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventParameters": {
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same workflow execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
    },
    "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy",
      "description": "Next available id: 4",
      "properties": {
        "taskNumbersToRollback": {
          "description": "Required. These are the tasks numbers of the tasks whose `rollback_strategy.rollback_task_implementation_class_name` needs to be executed upon failure of this task.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "rollbackTaskImplementationClassName": {
          "description": "Required. This is the name of the task that needs to be executed upon rollback of this task.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. The customized parameters the user can pass to this task.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListCertificatesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        },
        "certificates": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
          },
          "description": "The list of Certificates retrieved."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListCertificatesResponse",
      "type": "object",
      "description": "Response to list Certificates."
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest",
      "properties": {
        "parameterEntries": {
          "type": "array",
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "triggerId": {
          "description": "Optional. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        },
        "inputParameters": {
          "description": "Optional. Input parameters used by integration execution.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "executionId": {
          "description": "Optional. The id of the ON_HOLD execution to be resumed.",
          "type": "string"
        },
        "doNotPropagateError": {
          "type": "boolean",
          "description": "Optional. Flag to determine how to should propagate errors. If this flag is set to be true, it will not throw an exception. Instead, it will return a {@link ExecuteIntegrationsResponse} with an execution id and error messages as PostWithTriggerIdExecutionException in {@link EventParameters}. The flag is set to be false by default."
        },
        "parameters": {
          "description": "Optional. Passed in as parameters to each integration execution. Redacted",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        }
      },
      "description": "The request for executing an integration.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse",
      "description": "Response for ListIntegrationVersions.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "noPermission": {
          "type": "boolean",
          "description": "Whether the user has no permission on the version or not."
        },
        "integrationVersions": {
          "type": "array",
          "description": "The integrations which match the request.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
          }
        }
      }
    },
    "GoogleCloudConnectorsV1ConfigVariable": {
      "type": "object",
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig.",
      "id": "GoogleCloudConnectorsV1ConfigVariable",
      "properties": {
        "key": {
          "description": "Key of the config variable.",
          "type": "string"
        },
        "intValue": {
          "format": "int64",
          "description": "Value is an integer",
          "type": "string"
        },
        "stringValue": {
          "type": "string",
          "description": "Value is a string."
        },
        "secretValue": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Value is a secret."
        },
        "boolValue": {
          "description": "Value is a bool.",
          "type": "boolean"
        }
      }
    },
    "EnterpriseCrmEventbusProtoValueType": {
      "description": "Used for define type for values. Currently supported value types include int, string, double, array, and any proto message.",
      "id": "EnterpriseCrmEventbusProtoValueType",
      "type": "object",
      "properties": {
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringArray"
        },
        "stringValue": {
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntArray"
        },
        "intValue": {
          "format": "int64",
          "type": "string"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArray"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse": {
      "type": "object",
      "description": "This is a UI only method and will be moved away. Response for ListTaskEntities.",
      "id": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse",
      "properties": {
        "taskEntities": {
          "type": "array",
          "description": "The list of the tasks.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaNextTask": {
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "properties": {
        "taskConfigId": {
          "description": "ID of the next task.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "Standard filter expression for this task to become an eligible next task."
        },
        "taskId": {
          "type": "string",
          "description": "Task number of the next task."
        },
        "description": {
          "description": "User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User-provided label that is attached to this edge in the UI."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaNextTask"
    },
    "EnterpriseCrmEventbusProtoTeardownTaskConfig": {
      "id": "EnterpriseCrmEventbusProtoTeardownTaskConfig",
      "properties": {
        "name": {
          "description": "Required. Unique identifier of the teardown task within this Config. We use this field as the identifier to find next teardown tasks.",
          "type": "string"
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address."
        },
        "parameters": {
          "description": "The parameters the user can pass to this task.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "teardownTaskImplementationClassName": {
          "description": "Required. Implementation class name.",
          "type": "string"
        },
        "nextTeardownTask": {
          "$ref": "EnterpriseCrmEventbusProtoNextTeardownTask"
        },
        "properties": {
          "$ref": "EnterpriseCrmEventbusProtoEventBusProperties"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema": {
      "type": "object",
      "description": "Metadata of an entity, including a schema for its properties.",
      "properties": {
        "entity": {
          "type": "string",
          "description": "Name of the entity."
        },
        "fieldSchema": {
          "type": "string",
          "description": "List of fields in the entity."
        },
        "arrayFieldSchema": {
          "type": "string",
          "description": "The above schema, but for an array of the associated entity."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema"
    },
    "EnterpriseCrmEventbusProtoStringFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringFunction",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "CONCAT",
            "TO_UPPERCASE",
            "TO_LOWERCASE",
            "CONTAINS",
            "SPLIT",
            "LENGTH",
            "EQUALS",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_BASE_64",
            "TO_JSON",
            "EQUALS_IGNORE_CASE",
            "REPLACE_ALL",
            "SUBSTRING",
            "RESOLVE_TEMPLATE"
          ]
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "properties": {
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "referenceKey": {
          "description": "Referencing one of the WF variables.",
          "type": "string"
        }
      },
      "description": "Field represents either the key or value in an entry.",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoJsonFunction": {
      "id": "EnterpriseCrmEventbusProtoJsonFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET_PROPERTY",
            "GET_ELEMENT",
            "APPEND_ELEMENT",
            "SIZE",
            "SET_PROPERTY",
            "FLATTEN",
            "FLATTEN_ONCE",
            "MERGE",
            "TO_STRING",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_PROTO",
            "TO_STRING_ARRAY",
            "TO_INT_ARRAY",
            "TO_DOUBLE_ARRAY",
            "TO_PROTO_ARRAY",
            "TO_BOOLEAN_ARRAY",
            "REMOVE_PROPERTY",
            "RESOLVE_TEMPLATE",
            "EQUALS",
            "FOR_EACH",
            "FILTER_ELEMENTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "next id: 24"
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecution": {
      "description": "The Execution resource contains detailed information of an individual integration execution.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecution",
      "properties": {
        "eventExecutionDetails": {
          "description": "The execution info about this event.",
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetails"
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "responseParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Event parameters returned as part of the response."
        },
        "requestParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Event parameters come in as part of the request.",
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Created time of the execution.",
          "type": "string"
        },
        "executionDetails": {
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionDetails",
          "description": "Detailed info of this execution."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last modified time of the execution.",
          "readOnly": true
        },
        "requestParams": {
          "description": "Event parameters come in as part of the request.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array"
        },
        "responseParams": {
          "type": "array",
          "description": "Event parameters come out as part of the response.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "directSubExecutions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          },
          "description": "Direct sub executions of the following Execution.",
          "type": "array"
        },
        "executionMethod": {
          "enum": [
            "EXECUTION_METHOD_UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Sync post.",
            "Async post.",
            "Async post with schedule time."
          ],
          "description": "The ways user posts this event.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Auto-generated primary key."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse": {
      "description": "The response for executing an integration.",
      "type": "object",
      "properties": {
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array"
        },
        "executionId": {
          "type": "string",
          "description": "The id of the execution corresponding to this run of integration."
        },
        "eventParameters": {
          "description": "Details for the integration that were executed.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "outputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "OUTPUT parameters in format of Map. Where Key is the name of the parameter. Note: Name of the system generated parameters are wrapped by backtick(`) to distinguish them from the user defined parameters.",
          "type": "object"
        },
        "executionFailed": {
          "type": "boolean",
          "description": "Is true if any execution in the integration failed. False otherwise."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "properties": {
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Required. ID of the associated execution."
        },
        "createdTimestamp": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "workflowName": {
          "description": "Required. The name of the originating workflow.",
          "type": "string"
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "suspensionId": {
          "description": "Primary key for the SuspensionResolutionInfoTable.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED"
          ]
        },
        "externalTraffic": {
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic",
          "description": "The origin of the suspension for periodic notifications."
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "product": {
          "type": "string",
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default.",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "taskNumber": {
          "description": "Required. Task number of the associated SuspensionTask.",
          "type": "string"
        },
        "lastModifiedTimestamp": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Optional. To be used in TaskConfig for the implementation class.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "triggerCriteriaTaskImplementationClassName": {
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface.",
          "type": "string"
        },
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria"
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse",
      "description": "Response for listing RuntimeActionSchemas for a specific Connection.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "runtimeActionSchemas": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema"
          },
          "description": "Runtime action schemas."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig",
      "description": "Union operation",
      "properties": {
        "reducer": {
          "description": "Optional. optional, reduce function",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoScatterResponse": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoScatterResponse",
      "properties": {
        "scatterElement": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "The element that was scattered for this execution."
        },
        "errorMsg": {
          "description": "The error message of the failure if applicable.",
          "type": "string"
        },
        "responseParams": {
          "type": "array",
          "description": "A list of all the response parameters in the aggregtorMap stored with the remapped key.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          }
        },
        "executionIds": {
          "description": "The execution ids of each Subworkflow fired by this scatter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isSuccessful": {
          "type": "boolean",
          "description": "If execution is sync, this is true if the execution passed and false if it failed. If the execution is async, this is true if the WF was fired off successfully, and false if it failed to execute. The success or failure of the subworkflows executed are not captured."
        }
      }
    },
    "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "id": "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig",
      "properties": {
        "connection": {
          "$ref": "EnterpriseCrmEventbusProtoConnectorsConnection",
          "description": "User-selected connection."
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Operation to perform using the configured connection.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EXECUTE_ACTION",
            "LIST_ENTITIES",
            "GET_ENTITY",
            "CREATE_ENTITY",
            "UPDATE_ENTITY",
            "DELETE_ENTITY"
          ]
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMapEntry": {
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMapEntry",
      "description": "Entry is a pair of key and value."
    },
    "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse": {
      "properties": {
        "eventExecutionInfoId": {
          "description": "Execution Id that will be returned",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse",
      "description": "Response of lift Suspense",
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
      "properties": {
        "clientSecret": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing the client secret."
        },
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMap": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMap",
      "properties": {
        "keyType": {
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry"
          },
          "type": "array"
        }
      },
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse": {
      "properties": {
        "projectId": {
          "description": "The created AppsScriptProject ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse",
      "type": "object",
      "description": "Response for CreateAppsScriptProject rpc call."
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskEntity": {
      "type": "object",
      "description": "Contains a task's metadata and associated information. Next available id: 7",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
      "properties": {
        "uiConfig": {
          "$ref": "EnterpriseCrmEventbusProtoTaskUiConfig",
          "description": "UI configuration for this task Also associated with the METADATA mask."
        },
        "stats": {
          "$ref": "EnterpriseCrmEventbusStats",
          "description": "Deprecated - statistics from the Monarch query."
        },
        "metadata": {
          "$ref": "EnterpriseCrmEventbusProtoTaskMetadata",
          "description": "Metadata inclueds the task name, author and so on."
        },
        "taskType": {
          "type": "string",
          "description": "Defines the type of the task",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ]
        },
        "disabledForVpcSc": {
          "description": "True if the task has conflict with vpcsc",
          "type": "boolean"
        },
        "paramSpecs": {
          "description": "Declarations for inputs/outputs for a TypedTask. This is also associated with the METADATA mask.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse",
      "description": "The response for getting Execution stats.",
      "properties": {
        "tableData": {
          "$ref": "EnterpriseCrmCardsTabularData",
          "description": "Data in form of table."
        },
        "aplosSeriesListData": {
          "description": "List of points.",
          "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesListData"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoTriggerConfig": {
      "description": "Configuration detail of a trigger. Next available id: 16",
      "properties": {
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Configurable properties of the trigger, not to be confused with workflow parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Cloud Pubsub triggers."
        },
        "startTasks": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "description": "Set of tasks numbers from where the workflow execution is started by this trigger. If this is empty, then workflow is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same workflow execution graph)."
        },
        "enabledClients": {
          "type": "array",
          "description": "Required. The list of client ids which are enabled to execute the workflow using this trigger. In other words, these clients have the workflow execution privledges for this trigger. For API trigger, the client id in the incoming request is validated against the list of enabled clients. For non-API triggers, one workflow execution is triggered on behalf of each enabled client.",
          "items": {
            "type": "string"
          }
        },
        "triggerNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each trigger config within the workflow on UI."
        },
        "position": {
          "$ref": "EnterpriseCrmEventbusProtoCoordinate",
          "description": "Optional. Informs the front-end application where to draw this trigger config on the UI."
        },
        "pauseWorkflowExecutions": {
          "description": "Optional. If set to true, any upcoming requests for this trigger config will be paused and the executions will be resumed later when the flag is reset. The workflow to which this trigger config belongs has to be in ACTIVE status for the executions to be paused or resumed.",
          "type": "boolean"
        },
        "triggerId": {
          "type": "string",
          "description": "The backend trigger ID."
        },
        "label": {
          "type": "string",
          "description": "The user created label for a particular trigger."
        },
        "nextTasksExecutionPolicy": {
          "description": "Dictates how next tasks will be executed.",
          "type": "string",
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ]
        },
        "triggerType": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CLOUD_PUBSUB",
            "GOOPS",
            "SFDC_SYNC",
            "CRON",
            "API",
            "MANIFOLD_TRIGGER",
            "DATALAYER_DATA_CHANGE",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "SFDC_PLATFORM_EVENTS_CHANNEL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "alertConfig": {
          "description": "An alert threshold configuration for the [trigger + client + workflow] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + workflow] when published.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoWorkflowAlertConfig"
          },
          "type": "array"
        },
        "triggerCriteria": {
          "description": "Optional. When set, Eventbus will run the task specified in the trigger_criteria and validate the result using the trigger_criteria.condition, and only execute the workflow when result is true.",
          "$ref": "EnterpriseCrmEventbusProtoTriggerCriteria"
        },
        "description": {
          "description": "User-provided description intended to give more business context about the task.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig",
      "description": "Join Operation",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaSfdcChannel": {
      "description": "The SfdcChannel that points to a CDC or Platform Event Channel.",
      "id": "GoogleCloudIntegrationsV1alphaSfdcChannel",
      "properties": {
        "channelTopic": {
          "type": "string",
          "description": "The Channel topic defined by salesforce once an channel is opened"
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the channel was deleted. Empty if not deleted.",
          "readOnly": true
        },
        "lastReplayId": {
          "type": "string",
          "description": "Last sfdc messsage replay id for channel"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the channel is created"
        },
        "updateTime": {
          "description": "Output only. Time when the channel was last updated",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Client level unique name/alias to easily reference a channel."
        },
        "isActive": {
          "description": "Indicated if a channel has any active integrations referencing it. Set to false when the channel is created, and set to true if there is any integration published with the channel configured in it.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}."
        },
        "description": {
          "description": "The description for this channel",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "id": "EnterpriseCrmEventbusProtoProtoFunction",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListConnectionsResponse": {
      "description": "Response containing Connections listed by region.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListConnectionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "connections": {
          "description": "Connections.",
          "items": {
            "$ref": "GoogleCloudConnectorsV1Connection"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCertificate": {
      "id": "GoogleCloudIntegrationsV1alphaCertificate",
      "properties": {
        "validStartTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp after which certificate will be valid"
        },
        "rawCertificate": {
          "description": "Input only. Raw client certificate which would be registered with trawler",
          "$ref": "GoogleCloudIntegrationsV1alphaClientCertificate"
        },
        "validEndTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp after which certificate will expire",
          "type": "string"
        },
        "credentialId": {
          "description": "Immutable. Credential id that will be used to register with trawler INTERNAL_ONLY",
          "type": "string"
        },
        "displayName": {
          "description": "Name of the certificate",
          "type": "string"
        },
        "name": {
          "description": "Output only. Auto generated primary key",
          "type": "string",
          "readOnly": true
        },
        "certificateStatus": {
          "type": "string",
          "description": "Status of the certificate",
          "enumDescriptions": [
            "Unspecified certificate status",
            "Certificate in active state will be able to use",
            "Certificate in expired state needs to be updated"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED"
          ]
        },
        "requestorId": {
          "description": "Immutable. Requestor ID to be used to register certificate with trawler",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the certificate"
        }
      },
      "description": "The certificate definition",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse": {
      "description": "Response for DeactivateIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse",
      "properties": {},
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot": {
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot",
      "properties": {
        "conditionResults": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoConditionResult"
          },
          "description": "All of the computed conditions that been calculated."
        },
        "checkpointTaskNumber": {
          "description": "Indicates \"right after which checkpoint task's execution\" this snapshot is taken.",
          "type": "string"
        },
        "diffParams": {
          "description": "The parameters in Event object that differs from last snapshot.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "taskName": {
          "description": "The task name associated with this snapshot. Could be empty.",
          "type": "string"
        },
        "eventExecutionSnapshotId": {
          "type": "string",
          "description": "Auto-generated. Used as primary key for EventExecutionSnapshots table."
        },
        "eventParams": {
          "description": "The parameters in Event object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "taskExecutionDetails": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
          },
          "description": "All of the task execution details at the given point of time."
        },
        "eventExecutionSnapshotMetadata": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        },
        "eventExecutionInfoId": {
          "description": "Points to the event execution info this snapshot belongs to.",
          "type": "string"
        },
        "snapshotTime": {
          "description": "Indicates when this snapshot is taken.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "type": "object",
      "properties": {
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array"
        },
        "scheduleTime": {
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately.",
          "type": "string",
          "format": "google-datetime"
        },
        "parameters": {
          "description": "Passed in as parameters to each integration execution.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used by integration execution."
        },
        "requestId": {
          "type": "string",
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        },
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)",
          "type": "string"
        }
      },
      "description": "The request for scheduling an integration.",
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
    },
    "EnterpriseCrmCardsTabularData": {
      "type": "object",
      "id": "EnterpriseCrmCardsTabularData",
      "properties": {
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Ordered list of column headers."
        },
        "rows": {
          "items": {
            "$ref": "EnterpriseCrmCardsRow"
          },
          "type": "array",
          "description": "Ordered list of table rows."
        }
      },
      "description": "The generic data format returned from all connectors."
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest": {
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest",
      "description": "Request for LinkAppsScriptProject rpc call.",
      "type": "object",
      "properties": {
        "scriptId": {
          "description": "The id of the Apps Script project to be linked.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse": {
      "type": "object",
      "description": "Response for listing RuntimeEntitySchemas for a specific Connection.",
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse",
      "properties": {
        "runtimeEntitySchemas": {
          "description": "Runtime entity schemas.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      }
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus. Please see go/cloud-crm-eng/platform/event_bus.md for more details.",
      "properties": {
        "properties": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          },
          "description": "An unordered list of property entries.",
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAuthToken": {
      "description": "The credentials to authenticate a user agent with a server that is put in HTTP Authorization request header.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAuthToken",
      "properties": {
        "type": {
          "description": "Authentication type, e.g. \"Basic\", \"Bearer\", etc.",
          "type": "string"
        },
        "token": {
          "description": "The token for the auth type.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterValueType": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
      "type": "object",
      "properties": {
        "jsonValue": {
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "stringArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "intArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
        },
        "stringValue": {
          "type": "string"
        },
        "protoArray": {
[...]
