{
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "title": "Application Integration API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Integrations",
  "ownerName": "Google",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/application-integration",
  "name": "integrations",
  "revision": "20221220",
  "rootUrl": "https://integrations.googleapis.com/",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "callback": {
      "methods": {
        "generateToken": {
          "parameters": {
            "redirectUri": {
              "location": "query",
              "description": "Redirect uri of the auth code request",
              "type": "string"
            },
            "gcpProjectId": {
              "description": "The gcp project id of the request",
              "location": "query",
              "type": "string"
            },
            "code": {
              "type": "string",
              "location": "query",
              "description": "The auth code for the given request"
            },
            "state": {
              "description": "The auth config id for the given request",
              "location": "query",
              "type": "string"
            },
            "product": {
              "location": "query",
              "type": "string",
              "description": "Which product sends the request",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "UNSPECIFIED_PRODUCT",
                "IP",
                "APIGEE",
                "SECURITY"
              ]
            }
          },
          "id": "integrations.callback.generateToken",
          "description": "Receives the auth code and auth config id to combine that with the client id and secret to retrieve access tokens from the token endpoint. Returns either a success or error message when it's done.",
          "response": {
            "$ref": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1alpha/callback:generateToken",
          "flatPath": "v1alpha/callback:generateToken",
          "parameterOrder": []
        }
      }
    },
    "connectorPlatformRegions": {
      "methods": {
        "enumerate": {
          "path": "v1alpha/connectorPlatformRegions:enumerate",
          "id": "integrations.connectorPlatformRegions.enumerate",
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse"
          },
          "flatPath": "v1alpha/connectorPlatformRegions:enumerate",
          "parameters": {},
          "description": "Enumerates the regions for which Connector Platform is provisioned."
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "authConfigs": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.authConfigs.list",
                  "description": "Lists all auth configs that match the filter. Restrict to auth configs belong to the current client only.",
                  "path": "v1alpha/{+parent}/authConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The client, which owns this collection of AuthConfigs."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The token returned in the previous response.",
                      "type": "string"
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The mask which specifies fields that need to be returned in the AuthConfig's response.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The size of entries in the response. If unspecified, defaults to 100.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs",
                  "description": "Creates an auth config record. Fetch corresponding credentials for specific auth types, e.g. access token for OAuth 2.0, JWT token for JWT. Encrypt the auth config with Cloud KMS and store the encrypted credentials in Spanner. Returns the encrypted auth config.",
                  "parameters": {
                    "clientCertificate.sslCertificate": {
                      "location": "query",
                      "type": "string",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                    },
                    "clientCertificate.passphrase": {
                      "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "type": "string"
                    },
                    "clientCertificate.encryptedPrivateKey": {
                      "location": "query",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/authConfigs",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "id": "integrations.projects.locations.authConfigs.create",
                  "httpMethod": "POST"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a complete auth config. If the auth config doesn't exist, Code.NOT_FOUND exception will be thrown. Returns the decrypted auth config.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "id": "integrations.projects.locations.authConfigs.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The name that is associated with the AuthConfig.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "GET"
                },
                "delete": {
                  "description": "Deletes an auth config.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name that is associated with the AuthConfig.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "integrations.projects.locations.authConfigs.delete",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "patch": {
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "parameters": {
                    "clientCertificate.passphrase": {
                      "location": "query",
                      "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}."
                    },
                    "clientCertificate.encryptedPrivateKey": {
                      "location": "query",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Field mask specifying the fields in the above AuthConfig that have been modified and need to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "clientCertificate.sslCertificate": {
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "integrations.projects.locations.authConfigs.patch",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "description": "Updates an auth config. If credential is updated, fetch the encrypted auth config from Spanner, decrypt with Cloud KMS key, update the credential fields, re-encrypt with Cloud KMS key and update the Spanner record. For other fields, directly update the Spanner record. Returns the encrypted auth config.",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "sfdcInstances": {
              "methods": {
                "get": {
                  "description": "Gets an sfdc instance. If the instance doesn't exist, Code.NOT_FOUND exception will be thrown.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name that is associated with the SfdcInstance."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}",
                  "id": "integrations.projects.locations.sfdcInstances.get"
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Field mask specifying the fields in the above SfdcInstance that have been modified and need to be updated.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/sfdcInstances/{sfdcInstance}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an sfdc instance. Updates the sfdc instance in spanner. Returns the sfdc instance.",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "path": "v1alpha/{+name}",
                  "id": "integrations.projects.locations.sfdcInstances.patch"
                },
                "delete": {
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name that is associated with the SfdcInstance.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Deletes an sfdc instance.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}",
                  "id": "integrations.projects.locations.sfdcInstances.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "id": "integrations.projects.locations.sfdcInstances.create",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances",
                  "description": "Creates an sfdc instance record. Store the sfdc instance in Spanner. Returns the sfdc instance.",
                  "path": "v1alpha/{+parent}/sfdcInstances",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "list": {
                  "description": "Lists all sfdc instances that match the filter. Restrict to sfdc instances belonging to the current client only.",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The size of entries in the response. If unspecified, defaults to 100.",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.",
                      "type": "string",
                      "location": "query"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The mask which specifies fields that need to be returned in the SfdcInstance's response.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The token returned in the previous response.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The client, which owns this collection of SfdcInstances."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances",
                  "id": "integrations.projects.locations.sfdcInstances.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/sfdcInstances",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "sfdcChannels": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels",
                      "parameters": {
                        "readMask": {
                          "type": "string",
                          "description": "The mask which specifies fields that need to be returned in the SfdcChannel's response.",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The client, which owns this collection of SfdcChannels.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The size of entries in the response. If unspecified, defaults to 100.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "The token returned in the previous response.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.list",
                      "path": "v1alpha/{+parent}/sfdcChannels",
                      "description": "Lists all sfdc channels that match the filter. Restrict to sfdc channels belonging to the current client only.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "path": "v1alpha/{+parent}/sfdcChannels",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. \"projects/{project}/locations/{location}\" format.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Creates an sfdc channel record. Store the sfdc channel in Spanner. Returns the sfdc channel.",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.create"
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels/{sfdcChannelsId}",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Field mask specifying the fields in the above SfdcChannel that have been modified and need to be updated.",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+/sfdcChannels/[^/]+$",
                          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "Updates an sfdc channel. Updates the sfdc channel in spanner. Returns the sfdc channel.",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "httpMethod": "PATCH",
                      "path": "v1alpha/{+name}",
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.patch"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels/{sfdcChannelsId}",
                      "path": "v1alpha/{+name}",
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+/sfdcChannels/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name that is associated with the SfdcChannel.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "Deletes an sfdc channel."
                    },
                    "get": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels/{sfdcChannelsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+/sfdcChannels/[^/]+$",
                          "description": "Required. The name that is associated with the SfdcChannel.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}",
                      "description": "Gets an sfdc channel. If the channel doesn't exist, Code.NOT_FOUND exception will be thrown.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.get"
                    }
                  }
                }
              }
            },
            "appsScriptProjects": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/appsScriptProjects",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest"
                  },
                  "path": "v1alpha/{+parent}/appsScriptProjects",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project that the executed integration belongs to.",
                      "type": "string"
                    }
                  },
                  "id": "integrations.projects.locations.appsScriptProjects.create",
                  "httpMethod": "POST",
                  "description": "Creates an Apps Script project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "link": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse"
                  },
                  "description": "Links a existing Apps Script project.",
                  "path": "v1alpha/{+parent}/appsScriptProjects:link",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest"
                  },
                  "id": "integrations.projects.locations.appsScriptProjects.link",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/appsScriptProjects:link",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The project that the executed integration belongs to."
                    }
                  }
                }
              }
            },
            "certificates": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The certificate to retrieve. Format: projects/{project}/locations/{location}/certificates/{certificate}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "id": "integrations.projects.locations.certificates.get",
                  "httpMethod": "GET",
                  "description": "Get a certificates in the specified project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "connections": {
              "resources": {
                "runtimeActionSchemas": {
                  "methods": {
                    "list": {
                      "path": "v1alpha/{+parent}/runtimeActionSchemas",
                      "id": "integrations.projects.locations.connections.runtimeActionSchemas.list",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/runtimeActionSchemas",
                      "description": "Lists the JSON schemas for the inputs and outputs of actions, filtered by action name.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "required": true,
                          "description": "Required. Parent resource of RuntimeActionSchema. Format: projects/{project}/locations/{location}/connections/{connection}"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filter. Only the action field with literal equality operator is supported."
                        },
                        "pageSize": {
                          "description": "Page size.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Page token.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "runtimeEntitySchemas": {
                  "methods": {
                    "list": {
                      "path": "v1alpha/{+parent}/runtimeEntitySchemas",
                      "id": "integrations.projects.locations.connections.runtimeEntitySchemas.list",
                      "description": "Lists the JSON schemas for the properties of runtime entities, filtered by entity name.",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Page token.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Page size.",
                          "type": "integer",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Filter. Only the entity field with literal equality operator is supported.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Parent resource of RuntimeEntitySchema. Format: projects/{project}/locations/{location}/connections/{connection}"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/runtimeEntitySchemas",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Page size."
                    },
                    "pageToken": {
                      "description": "Page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Order by parameters.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource of the Connection, of the form: `projects/*/locations/*`"
                    }
                  },
                  "id": "integrations.projects.locations.connections.list",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListConnectionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists Connections in a given project and location.",
                  "path": "v1alpha/{+parent}/connections"
                },
                "getConnectionSchemaMetadata": {
                  "description": "Lists the available entities and actions associated with a Connection.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/connectionSchemaMetadata",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/connectionSchemaMetadata$",
                      "required": true,
                      "location": "path",
                      "description": "Required. ConnectionSchemaMetadata name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "id": "integrations.projects.locations.connections.getConnectionSchemaMetadata",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata"
                  }
                }
              }
            },
            "products": {
              "resources": {
                "integrations": {
                  "resources": {
                    "executions": {
                      "resources": {
                        "suspensions": {
                          "methods": {
                            "resolve": {
                              "request": {
                                "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
                              },
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.resolve",
                              "path": "v1alpha/{+name}:resolve",
                              "description": "* Resolves (lifts/rejects) any number of suspensions. If the integration is already running, only the status of the suspension is updated. Otherwise, the suspended integration will begin execution again.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}/suspensions/{suspension_id}",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$"
                                }
                              },
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:resolve",
                              "httpMethod": "POST",
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse"
                              }
                            },
                            "lift": {
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.lift",
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "description": "Required. The resource that the suspension belongs to. \"projects/{project}/locations/{location}/products/{product}/integrations/{integration}/executions/{execution}/suspensions/{suspenion}\" format.",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                                  "required": true
                                }
                              },
                              "path": "v1alpha/{+name}:lift",
                              "request": {
                                "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "* Lifts suspension for advanced suspension task. Fetch corresponding suspension with provided suspension Id, resolve suspension, and set up suspension result for the Suspension Task.",
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse"
                              },
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:lift",
                              "httpMethod": "POST"
                            },
                            "list": {
                              "description": "* Lists suspensions associated with a specific execution. Only those with permissions to resolve the relevant suspensions will be able to view them.",
                              "path": "v1alpha/{+parent}/suspensions",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.list",
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse"
                              },
                              "httpMethod": "GET",
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                                  "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                },
                                "filter": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "Standard filter field."
                                },
                                "pageToken": {
                                  "description": "Token to retrieve a specific page.",
                                  "type": "string",
                                  "location": "query"
                                },
                                "orderBy": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "Field name to order by."
                                },
                                "pageSize": {
                                  "description": "Maximum number of entries in the response.",
                                  "type": "integer",
                                  "format": "int32",
                                  "location": "query"
                                }
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions"
                            }
                          }
                        }
                      },
                      "methods": {
                        "cancel": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Cancellation of an execution",
                          "id": "integrations.projects.locations.products.integrations.executions.cancel",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse"
                          },
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest"
                          },
                          "path": "v1alpha/{+name}:cancel",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}:cancel"
                        },
                        "get": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}",
                          "httpMethod": "GET",
                          "description": "Get an execution in the specified project.",
                          "id": "integrations.projects.locations.products.integrations.executions.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
                          },
                          "path": "v1alpha/{+name}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$"
                            }
                          }
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "path": "v1alpha/{+parent}/executions",
                          "parameters": {
                            "readMask": {
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask",
                              "description": "Optional. View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in event execution info will be filled and returned."
                            },
                            "filterParams.customFilter": {
                              "description": "Optional user-provided custom filter.",
                              "location": "query",
                              "type": "string"
                            },
                            "filterParams.parameterPairValue": {
                              "description": "Param value in the key value pair filter.",
                              "location": "query",
                              "type": "string"
                            },
                            "orderBy": {
                              "description": "Optional. The results would be returned in order you specified here. Currently supporting \"last_modified_time\" and \"create_time\".",
                              "type": "string",
                              "location": "query"
                            },
                            "pageToken": {
                              "description": "Optional. The token returned in the previous response.",
                              "type": "string",
                              "location": "query"
                            },
                            "filterParams.taskStatuses": {
                              "repeated": true,
                              "location": "query",
                              "type": "string",
                              "description": "List of possible task statuses."
                            },
                            "filterParams.eventStatuses": {
                              "repeated": true,
                              "location": "query",
                              "description": "List of possible event statuses.",
                              "type": "string"
                            },
                            "refreshAcl": {
                              "type": "boolean",
                              "location": "query",
                              "description": "Optional. If true, the service will use the most recent acl information to list event execution infos and renew the acl cache. Note that fetching the most recent acl is synchronous, so it will increase RPC call latency."
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "required": true,
                              "description": "Required. The parent resource name of the integration execution.",
                              "location": "path"
                            },
                            "filterParams.parameterType": {
                              "location": "query",
                              "description": "Param type.",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Optional. Standard filter field, we support filtering on all fields in EventExecutionParamIndexes table. All fields support for EQUALS, in additional: CreateTimestamp support for LESS_THAN, GREATER_THAN ParameterKey, ParameterValue, ParameterType support for HAS For example: \"parameter_value\" HAS \\\"parameter1\\\" Also supports operators like AND, OR, NOT For example, trigger_id=\\\"id1\\\" AND event_execution_state=\\\"FAILED\\\"",
                              "type": "string",
                              "location": "query"
                            },
                            "filterParams.parameterKey": {
                              "location": "query",
                              "description": "Param key. DEPRECATED. User parameter_pair_key instead.",
                              "type": "string"
                            },
                            "filterParams.parameterValue": {
                              "description": "Param value. DEPRECATED. User parameter_pair_value instead.",
                              "type": "string",
                              "location": "query"
                            },
                            "filterParams.parameterPairKey": {
                              "description": "Param key in the key value pair filter.",
                              "type": "string",
                              "location": "query"
                            },
                            "filterParams.endTime": {
                              "description": "End timestamp.",
                              "location": "query",
                              "format": "int64",
                              "type": "string"
                            },
                            "filterParams.startTime": {
                              "description": "Start timestamp.",
                              "type": "string",
                              "location": "query",
                              "format": "int64"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "Optional. The size of entries in the response.",
                              "type": "integer"
                            },
                            "filterParams.executionId": {
                              "location": "query",
                              "description": "Execution id.",
                              "type": "string"
                            },
                            "filterParams.workflowName": {
                              "type": "string",
                              "description": "Workflow name.",
                              "location": "query"
                            },
                            "truncateParams": {
                              "location": "query",
                              "description": "Optional. If true, the service will truncate the params to only keep the first 1000 characters of string params and empty the executions in order to make response smaller. Only works for UI and when the params fields are not filtered out.",
                              "type": "boolean"
                            }
                          },
                          "id": "integrations.projects.locations.products.integrations.executions.list",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions",
                          "description": "Lists the results of all the integration executions. The response includes the same information as the [execution log](https://cloud.google.com/application-integration/docs/viewing-logs) in the Integration UI.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
                          }
                        }
                      }
                    },
                    "versions": {
                      "methods": {
                        "updateBundle": {
                          "httpMethod": "PATCH",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUpdateBundleRequest"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. RPC to update the Bundle",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:updateBundle",
                          "parameters": {
                            "name": {
                              "description": "Required. Bundle name",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "id": "integrations.projects.locations.products.integrations.versions.updateBundle",
                          "path": "v1alpha/{+name}:updateBundle",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUpdateBundleResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "upload": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
                          },
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "description": "Required. The version to upload. Format: projects/{project}/locations/{location}/integrations/{integration}",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "type": "string"
                            }
                          },
                          "path": "v1alpha/{+parent}/versions:upload",
                          "httpMethod": "POST",
                          "description": "Uploads an integration. The content can be a previously downloaded integration. Performs the same function as CreateDraftIntegrationVersion, but accepts input in a string format, which holds the complete representation of the IntegrationVersion content.",
                          "id": "integrations.projects.locations.products.integrations.versions.upload",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions:upload",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse"
                          }
                        },
                        "get": {
                          "path": "v1alpha/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "description": "Required. The version to retrieve. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                              "type": "string",
                              "required": true
                            }
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                          },
                          "description": "Get a integration in the specified project.",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "integrations.projects.locations.products.integrations.versions.get"
                        },
                        "getBundle": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaGetBundleResponse"
                          },
                          "parameters": {
                            "name": {
                              "description": "Required. The bundle name.",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1alpha/{+name}:getBundle",
                          "id": "integrations.projects.locations.products.integrations.versions.getBundle",
                          "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. RPC to get details of the Bundle",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:getBundle"
                        },
                        "patch": {
                          "description": "Update a integration with a draft version in the specified project.",
                          "path": "v1alpha/{+name}",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Output only. Auto-generated primary key."
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "type": "string",
                              "location": "query",
                              "description": "Field mask specifying the fields in the above integration that have been modified and need to be updated."
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                          },
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}",
                          "id": "integrations.projects.locations.products.integrations.versions.patch",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                          }
                        },
                        "list": {
                          "httpMethod": "GET",
                          "id": "integrations.projects.locations.products.integrations.versions.list",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse"
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1alpha/{+parent}/versions",
                          "description": "Returns the list of all integration versions in the specified project.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \"\u003e\" (greater), \"\u003c\" (less than), \u003e=\" (greater than or equal to), \"\u003c=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`."
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "type": "integer"
                            },
                            "orderBy": {
                              "description": "The results would be returned in order you specified here. Currently supported sort keys are: Descending sort order for \"last_modified_time\", \"created_time\", \"snapshot_number\" Ascending sort order for \"name\".",
                              "type": "string",
                              "location": "query"
                            },
                            "fieldMask": {
                              "description": "The field mask which specifies the particular data to be returned.",
                              "type": "string",
                              "format": "google-fieldmask",
                              "location": "query"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "type": "string",
                              "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration} Specifically, when parent equals: 1. projects//locations//integrations/, Meaning: \"List versions (with filter) for a particular integration\". 2. projects//locations//integrations/- Meaning: \"List versions (with filter) for a client within a particular region\". 3. projects//locations/-/integrations/- Meaning: \"List versions (with filter) for a client\".",
                              "required": true,
                              "location": "path"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A page token, received from a previous `ListIntegrationVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationVersions` must match the call that provided the page token."
                            }
                          }
                        },
                        "publish": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
                          },
                          "path": "v1alpha/{+name}:publish",
                          "id": "integrations.projects.locations.products.integrations.versions.publish",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "This RPC throws an exception if the integration is in ARCHIVED or ACTIVE state. This RPC throws an exception if the version being published is DRAFT, and if the `locked_by` user is not the same as the user performing the Publish. Audit fields updated include last_published_timestamp, last_published_by, last_modified_timestamp, last_modified_by. Any existing lock is on this integration is released.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:publish",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "required": true,
                              "description": "Required. The version to publish. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                              "type": "string",
                              "location": "path"
                            }
                          }
                        },
                        "archive": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:archive",
                          "id": "integrations.projects.locations.products.integrations.versions.archive",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1alpha/{+name}:archive",
                          "parameters": {
                            "name": {
                              "description": "Required. The version to archive. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "location": "path"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Soft-deletes the integration. Changes the status of the integration to ARCHIVED. If the integration being ARCHIVED is tagged as \"HEAD\", the tag is removed from this snapshot and set to the previous non-ARCHIVED snapshot. The PUBLISH_REQUESTED, DUE_FOR_DELETION tags are removed too. This RPC throws an exception if the version being archived is DRAFT, and if the `locked_by` user is not the same as the user performing the Archive. Audit fields updated include last_modified_timestamp, last_modified_by. Any existing lock is released when Archiving a integration. Currently, there is no unarchive mechanism."
                        },
                        "create": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                          },
                          "id": "integrations.projects.locations.products.integrations.versions.create",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions",
                          "httpMethod": "POST",
                          "path": "v1alpha/{+parent}/versions",
                          "description": "Create a integration with a draft version in the specified project.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "newIntegration": {
                              "location": "query",
                              "description": "Set this flag to true, if draft version is to be created for a brand new integration. False, if the request is for an existing integration. For backward compatibility reasons, even if this flag is set to `false` and no existing integration is found, a new draft integration will still be created.",
                              "type": "boolean"
                            },
                            "parent": {
                              "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration}",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          }
                        },
                        "download": {
                          "description": "Downloads an integration. Retrieves the `IntegrationVersion` for a given `integration_id` and returns the response as a string.",
                          "parameters": {
                            "fileFormat": {
                              "enum": [
                                "FILE_FORMAT_UNSPECIFIED",
                                "JSON",
                                "YAML"
                              ],
                              "enumDescriptions": [
                                "Unspecified file format",
                                "JSON File Format",
                                "YAML File Format"
                              ],
                              "type": "string",
                              "location": "query",
                              "description": "File format for download request."
                            },
                            "name": {
                              "type": "string",
                              "description": "Required. The version to download. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$"
                            }
                          },
                          "path": "v1alpha/{+name}:download",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:download",
                          "id": "integrations.projects.locations.products.integrations.versions.download",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "deactivate": {
                          "description": "Sets the status of the ACTIVE integration to SNAPSHOT with a new tag \"PREVIOUSLY_PUBLISHED\" after validating it. The \"HEAD\" and \"PUBLISH_REQUESTED\" tags do not change. This RPC throws an exception if the version being snapshot is not ACTIVE. Audit fields added include action, action_by, action_timestamp.",
                          "path": "v1alpha/{+name}:deactivate",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse"
                          },
                          "httpMethod": "POST",
                          "id": "integrations.projects.locations.products.integrations.versions.deactivate",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:deactivate",
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "description": "Required. The version to deactivate. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                              "type": "string"
                            }
                          }
                        },
                        "takeoverEditLock": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "integrationVersion"
                          ],
                          "parameters": {
                            "integrationVersion": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The version to take over edit lock. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                            }
                          },
                          "id": "integrations.projects.locations.products.integrations.versions.takeoverEditLock",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:takeoverEditLock",
                          "description": "Clears the `locked_by` and `locked_at_timestamp`in the DRAFT version of this integration. It then performs the same action as the CreateDraftIntegrationVersion (i.e., copies the DRAFT version of the integration as a SNAPSHOT and then creates a new DRAFT version with the `locked_by` set to the `user_taking_over` and the `locked_at_timestamp` set to the current timestamp). Both the `locked_by` and `user_taking_over` are notified via email about the takeover. This RPC throws an exception if the integration is not in DRAFT status or if the `locked_by` and `locked_at_timestamp` fields are not set.The TakeoverEdit lock is treated the same as an edit of the integration, and hence shares ACLs with edit. Audit fields updated include last_modified_timestamp, last_modified_by.",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse"
                          },
                          "path": "v1alpha/{+integrationVersion}:takeoverEditLock"
                        },
                        "validate": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest"
                          },
                          "path": "v1alpha/{+name}:validate",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "description": "Required. The version to validate. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:validate",
                          "description": "Validates the given integration. If the id doesn't exist, a NotFoundException is thrown. If validation fails a CanonicalCodeException is thrown. If there was no failure an empty response is returned.",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse"
                          },
                          "id": "integrations.projects.locations.products.integrations.versions.validate",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "executionsnapshots": {
                      "methods": {
                        "list": {
                          "id": "integrations.projects.locations.products.integrations.executionsnapshots.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executionsnapshots",
                          "httpMethod": "GET",
                          "description": "Lists the snapshots of a given integration executions. This RPC is not being used.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1alpha/{+parent}/executionsnapshots",
                          "parameters": {
                            "readMask": {
                              "type": "string",
                              "location": "query",
                              "description": "View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in event execution snapshot will be filled and returned.",
                              "format": "google-fieldmask"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The parent resource name of the integration execution.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "Number of entries to be returned in a page.",
                              "format": "int32"
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Currently supports filter by `execution_info_id` or `execution_snapshot_id`."
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "The token used to retrieve the next page results.",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse"
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "archiveBundle": {
                      "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Soft-deletes the bundle.",
                      "path": "v1alpha/{+name}:archiveBundle",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                          "description": "Required. The bundle to archive. Format: projects/{project}/locations/{location}/integrations/{integration}",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaArchiveBundleRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "integrations.projects.locations.products.integrations.archiveBundle",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
[...]
