{
  "batchPath": "batch",
  "servicePath": "",
  "revision": "20230103",
  "ownerDomain": "google.com",
  "title": "Application Integration API",
  "rootUrl": "https://integrations.googleapis.com/",
  "id": "integrations:v1",
  "name": "integrations",
  "baseUrl": "https://integrations.googleapis.com/",
  "protocol": "rest",
  "ownerName": "Google",
  "version": "v1",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "documentationLink": "https://cloud.google.com/application-integration",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "canonicalName": "Integrations",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode": {
      "properties": {
        "clientId": {
          "description": "The client's id.",
          "type": "string"
        },
        "accessToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken",
          "description": "The access token received from the token endpoint."
        },
        "tokenParams": {
          "description": "The token parameters sent along with the token request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "requestType": {
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "description": "Represent how to pass parameters to fetch access token",
          "type": "string",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ]
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "tokenEndpoint": {
          "description": "The token url endpoint to send the token request to.",
          "type": "string"
        },
        "applyReauthPolicy": {
          "type": "boolean",
          "description": "Indicates if the user has opted in Google Reauth Policy. If opted in, the refresh token will be valid for 20 hours, after which time users must re-authenticate in order to obtain a new one."
        },
        "authCode": {
          "type": "string",
          "description": "The Auth Code that is used to initially retrieve the access token."
        },
        "authEndpoint": {
          "description": "The auth url endpoint to send the auth code request to.",
          "type": "string"
        },
        "authParams": {
          "description": "The auth parameters sent along with the auth code request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
      "description": "The OAuth Type where the client sends request with the client id and requested scopes to auth endpoint. User sees a consent screen and auth code is received at specified redirect url afterwards. The auth code is then combined with the client id and secret and sent to the token endpoint in exchange for the access and refresh token. The refresh token can be used to fetch new access tokens.",
      "type": "object"
    },
    "GoogleCloudConnectorsV1ConnectionStatus": {
      "properties": {
        "description": {
          "description": "Description.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR"
          ],
          "type": "string",
          "description": "State.",
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error."
          ]
        },
        "status": {
          "description": "Status provides detailed information for the state.",
          "type": "string"
        }
      },
      "id": "GoogleCloudConnectorsV1ConnectionStatus",
      "description": "ConnectionStatus indicates the state of the connection.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray",
      "type": "object"
    },
    "CrmlogErrorCode": {
      "properties": {
        "commonErrorCode": {
          "enum": [
            "COMMON_ERROR_CODE_UNSPECIFIED",
            "INVALID_CREDENTIALS",
            "REQUIRED_FIELDS_MISSING",
            "INVALID_FIELDS",
            "BACKEND",
            "GENERAL",
            "INTERNAL",
            "IO_ERROR",
            "NOT_FOUND",
            "EVENT_BUS",
            "ALREADY_EXISTS",
            "CONCORD",
            "CONVERSION",
            "FLUME",
            "PERMISSION",
            "SALES_FORCE",
            "SPANNER",
            "UNIMPLEMENTED",
            "RELTIO",
            "WORKFLOW_NOT_FOUND",
            "QUOTA_THROTTLED",
            "QUOTA_ENQUEUED",
            "INVALID_QUOTA_CONFIGURATION",
            "TASK_NOT_FOUND",
            "EXECUTION_TIMEOUT",
            "INVALID_EVENT_EXECUTION_STATE",
            "INVALID_ATTRIBUTE",
            "MISSING_ATTRIBUTE",
            "CLIENT_UNAUTHORIZED_FOR_WORKFLOW",
            "INVALID_PARAMETER",
            "MISSING_PARAMETER",
            "UNAUTHROIZED_WORKFLOW_EDITOR_ACTION",
            "FAILED_PRECONDITION",
            "INVALID_CLIENT",
            "MISSING_CLIENT",
            "INVALID_WORKFLOW",
            "MISSING_QUOTA_CONFIGURATION",
            "UNHANDLED_TASK_ERROR",
            "SCRIPT_TASK_RUNTIME_ERROR",
            "RPC",
            "INVALID_PROTO",
            "UNHANDLED_EVENTBUS_ERROR",
            "INVALID_TASK_STATE",
            "TYPED_TASK_INVALID_INPUT_OPERATION",
            "TYPED_TASK_INVALID_OUTPUT_OPERATION",
            "VALIDATION_ERROR",
            "RESUME_ERROR",
            "APPS_SCRIPT_EXECUTION_ERROR",
            "INVALID_VECTOR_USER",
            "INFORMATICA",
            "RETRYABLE_TASK_ERROR",
            "INVALID_TENANT",
            "WRONG_TENANT",
            "INFORMATICA_BACKEND_UNAVAILABLE",
            "RPC_PERMISSION_DENIED",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "NOT_SUPPORTED_DATA_TYPE",
            "UNSANITIZED_USER_INPUT",
            "TRANSFORM_EXPRESSION_EVALUATION_ERROR",
            "HTTP_EXCEPTION",
            "EXECUTION_CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only.",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only. This error will be counted as server availability error.",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "description": "Registered ids for errors, as \"oneof\" enums. Each task or logical grouping of tasks may share the same enum.",
      "id": "CrmlogErrorCode"
    },
    "EnterpriseCrmEventbusProtoTaskMetadataAdmin": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskMetadataAdmin",
      "description": "Admins are owners of a Task, and have all permissions on a particular task identified by the task name. By default, Eventbus periodically scans all task metadata and syncs (adds) any new admins defined here to Zanzibar.",
      "properties": {
        "googleGroupEmail": {
          "type": "string"
        },
        "userEmail": {
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoLoopMetadata": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoLoopMetadata",
      "properties": {
        "currentIterationCount": {
          "description": "Starting from 1, not 0.",
          "type": "string",
          "format": "int64"
        },
        "currentIterationDetail": {
          "type": "string",
          "description": "Needs to be set by the loop impl class before each iteration. The abstract loop class will append the request and response to it. Eg. The foreach Loop will clean up and set it as the current iteration element at the start of each loop. The post request and response will be appended to the value once they are available."
        },
        "failureLocation": {
          "description": "Indicates where in the loop logic did it error out.",
          "enum": [
            "UNKNOWN",
            "SUBWORKFLOW",
            "PARAM_OVERRIDING",
            "PARAM_AGGREGATING",
            "SETTING_ITERATION_ELEMENT",
            "GETTING_LIST_TO_ITERATE",
            "CONDITION_EVALUATION",
            "BUILDING_REQUEST"
          ],
          "type": "string",
          "enumDescriptions": [
            "No error or Unknown.",
            "Subworkflow failed while firing/running.",
            "Param overrides failed.",
            "Param aggregation failed.",
            "Setting for loop current element failed.",
            "Getting the list to iterate.",
            "Evaluating the while loop condition.",
            "Building the iteration request"
          ]
        },
        "errorMsg": {
          "description": "Add the error message when loops fail.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissions": {
      "type": "object",
      "properties": {
        "googleGroup": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        },
        "loasRole": {
          "type": "string"
        },
        "mdbGroup": {
          "type": "string"
        },
        "gaiaIdentity": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
          "description": "Represents a Gaia identity for a person or service account."
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions",
      "description": "LINT.IfChange"
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "id": "EnterpriseCrmEventbusProtoStringArray",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigSshPublicKey": {
      "description": "Parameters to support Ssh public key Authentication.",
      "properties": {
        "username": {
          "type": "string",
          "description": "The user account used to authenticate."
        },
        "certType": {
          "type": "string",
          "description": "Format of SSH Client cert."
        },
        "sshClientCertPass": {
          "description": "Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "sshClientCert": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "SSH Client Cert. It should contain both public and private key."
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskAlertConfig": {
      "type": "object",
      "description": "Message to be used to configure alerting in the {@code TaskConfig} protos for tasks in an event. See go/eventbus-alert-config-examples for examples of the different alerts that can be configured.",
      "properties": {
        "aggregationPeriod": {
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week).",
          "type": "string"
        },
        "clientId": {
          "description": "Client associated with this alert configuration. Must be a client enabled in one of the containing workflow's triggers.",
          "type": "string"
        },
        "alertName": {
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique in within the scope of the containing workflow.",
          "type": "string"
        },
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "numAggregationPeriods": {
          "format": "int32",
          "type": "integer",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired."
        },
        "durationThresholdMs": {
          "description": "Should be specified only for TASK_AVERAGE_DURATION and TASK_PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "type": "string",
          "format": "int64"
        },
        "playbookUrl": {
          "description": "Link to a playbook for resolving the issue that triggered this alert.",
          "type": "string"
        },
        "onlyFinalAttempt": {
          "type": "boolean",
          "description": "Only count final task attempts, not retries."
        },
        "alertDisabled": {
          "type": "boolean",
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert."
        },
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "metricType": {
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors (potentially for a specific set of enum values) for the enclosing TaskConfig.",
            "Specifies alerting on the rate of warnings (potentially for a specific set of enum values) for the enclosing TaskConfig. Warnings use the same enum values as errors.",
            "Specifies alerting on the number of instances for the enclosing TaskConfig executed in the given aggregation_period.",
            "Specifies alerting on the average duration of execution for the enclosing task.",
            "Specifies alerting on the duration of a particular percentile of task executions. E.g. If 10% or more of the task executions have durations above 5 seconds, alert."
          ]
        },
        "thresholdValue": {
          "description": "The metric value, above or below which the alert should be triggered.",
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue"
        },
        "thresholdType": {
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "type": "string",
          "description": "The threshold type for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskAlertConfig"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule": {
      "type": "object",
      "properties": {
        "stringRegex": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex"
        },
        "doubleRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
        },
        "intRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule"
    },
    "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse": {
      "description": "The response for testing an integration.",
      "properties": {
        "parameters": {
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object"
        },
        "executionId": {
          "type": "string",
          "description": "The id of the execution corresponding to this run of integration."
        },
        "executionFailed": {
          "type": "boolean",
          "description": "Is true if any execution in the integration failed. False otherwise."
        },
        "eventParameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Details for the integration that were executed."
        },
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryConfig": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryConfig",
      "properties": {
        "hideDefaultValue": {
          "type": "boolean",
          "description": "Whether the default value is hidden in the UI."
        },
        "helpText": {
          "description": "Detailed help text for this parameter containing information not provided elsewhere. For example, instructions on how to migrate from a deprecated parameter.",
          "type": "string"
        },
        "subSectionLabel": {
          "description": "A user-friendly label for subSection under which the parameter will be displayed.",
          "type": "string"
        },
        "parameterNameOption": {
          "enum": [
            "DEFAULT_NOT_PARAMETER_NAME",
            "IS_PARAMETER_NAME",
            "KEY_IS_PARAMETER_NAME",
            "VALUE_IS_PARAMETER_NAME"
          ],
          "type": "string",
          "enumDescriptions": [
            "This field is not a parameter name.",
            "If this field is a string and this option is selected, the field will be interpreted as a parameter name. Users will be able to choose a variable using the autocomplete, but the name will be stored as a literal string.",
            "If this field is a ParameterMap and this option is selected, the map's keys will be interpreted as parameter names. Ignored if this field is not a ParameterMap.",
            "If this field is a ParameterMap and this option is selected, the map's values will be interpreted as parameter names. Ignored if this field is not a ParameterMap."
          ]
        },
        "inputDisplayOption": {
          "type": "string",
          "enumDescriptions": [
            "A single-line input for strings, a numeric input box for numbers, or a checkbox for booleans.",
            "A multi-line input box for longer strings/string templates.",
            "A slider to select a numerical value. The default range is [0, 100].",
            "A toggle button for boolean parameters."
          ],
          "enum": [
            "DEFAULT",
            "STRING_MULTI_LINE",
            "NUMBER_SLIDER",
            "BOOLEAN_TOGGLE"
          ]
        },
        "label": {
          "type": "string",
          "description": "A user-friendly label for the parameter."
        },
        "uiPlaceholderText": {
          "type": "string",
          "description": "Placeholder text which will appear in the UI input form for this parameter."
        },
        "descriptivePhrase": {
          "type": "string",
          "description": "A short phrase to describe what this parameter contains."
        },
        "isHidden": {
          "description": "Whether this field is hidden in the UI.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the linked Apps Script project."
        }
      },
      "description": "Response for LinkAppsScriptProject rpc call."
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest": {
      "properties": {},
      "type": "object",
      "description": "Request for PublishIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
    },
    "GoogleCloudIntegrationsV1alphaGetBundleResponse": {
      "id": "GoogleCloudIntegrationsV1alphaGetBundleResponse",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "It contains the bundle data"
        }
      },
      "description": "Response for GetBundle."
    },
    "EnterpriseCrmEventbusProtoJsonFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "next id: 24"
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET_PROPERTY",
            "GET_ELEMENT",
            "APPEND_ELEMENT",
            "SIZE",
            "SET_PROPERTY",
            "FLATTEN",
            "FLATTEN_ONCE",
            "MERGE",
            "TO_STRING",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_PROTO",
            "TO_STRING_ARRAY",
            "TO_INT_ARRAY",
            "TO_DOUBLE_ARRAY",
            "TO_PROTO_ARRAY",
            "TO_BOOLEAN_ARRAY",
            "REMOVE_PROPERTY",
            "RESOLVE_TEMPLATE",
            "EQUALS",
            "FOR_EACH",
            "FILTER_ELEMENTS"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoJsonFunction"
    },
    "EnterpriseCrmEventbusProtoFailurePolicy": {
      "type": "object",
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied).",
      "id": "EnterpriseCrmEventbusProtoFailurePolicy",
      "properties": {
        "retryStrategy": {
          "enum": [
            "UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_WORKFLOW_WITH_BACKOFF"
          ],
          "type": "string",
          "description": "Defines what happens to the task upon failure.",
          "enumDescriptions": [
            "",
            "Ignores the failure of this task. The rest of the workflow will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the workflow.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified.",
            "The entire workflow will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified."
          ]
        },
        "intervalInSeconds": {
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the initial interval for backoff.",
          "format": "int64",
          "type": "string"
        },
        "maxNumRetries": {
          "format": "int32",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the number of times the task will be retried if failed.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest",
      "properties": {
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)",
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used by integration execution.",
          "type": "object"
        },
        "requestId": {
          "type": "string",
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        },
        "scheduleTime": {
          "type": "string",
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately.",
          "format": "google-datetime"
        },
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each integration execution."
        }
      },
      "type": "object",
      "description": "The request for scheduling an integration."
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "properties": {
        "elementType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ],
          "description": "Destination node where the edge ends. It can only be a task config."
        },
        "elementIdentifier": {
          "type": "string",
          "description": "Configuration of the edge."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "description": "Represents a node identifier (type + id). Next highest id: 3"
    },
    "EnterpriseCrmEventbusStats": {
      "properties": {
        "durationInSeconds": {
          "description": "Average duration in seconds.",
          "format": "double",
          "type": "number"
        },
        "errorRate": {
          "format": "double",
          "type": "number",
          "description": "Average error rate."
        },
        "dimensions": {
          "description": "Dimensions that these stats have been aggregated on.",
          "$ref": "EnterpriseCrmEventbusStatsDimensions"
        },
        "qps": {
          "type": "number",
          "description": "Queries per second.",
          "format": "double"
        },
        "warningRate": {
          "type": "number",
          "format": "double",
          "description": "Average warning rate."
        }
      },
      "id": "EnterpriseCrmEventbusStats",
      "description": "Stats for the requested dimensions: QPS, duration, and error/warning rate",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats": {
      "properties": {
        "endTime": {
          "format": "int64",
          "description": "The end time of the event execution for current attempt.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled.",
          "format": "int64"
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionResponse": {
      "properties": {
        "isCanceled": {
          "type": "boolean",
          "description": "True if cancellation performed successfully"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse",
      "description": "Response for cancelling an execution."
    },
    "GoogleCloudIntegrationsV1alphaValueType": {
      "description": "The type of the parameter.",
      "properties": {
        "intArray": {
          "description": "Integer Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntParameterArray"
        },
        "stringArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaStringParameterArray",
          "description": "String Array."
        },
        "booleanArray": {
          "description": "Boolean Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaBooleanParameterArray"
        },
        "doubleArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaDoubleParameterArray",
          "description": "Double Number Array."
        },
        "booleanValue": {
          "description": "Boolean.",
          "type": "boolean"
        },
        "jsonValue": {
          "type": "string",
          "description": "Json."
        },
        "stringValue": {
          "description": "String.",
          "type": "string"
        },
        "doubleValue": {
          "description": "Double Number.",
          "format": "double",
          "type": "number"
        },
        "intValue": {
          "format": "int64",
          "description": "Integer.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaValueType",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionConfig": {
      "id": "EnterpriseCrmEventbusProtoSuspensionConfig",
      "type": "object",
      "properties": {
        "customMessage": {
          "description": "Optional information to provide recipients of the suspension in addition to the resolution URL, typically containing relevant parameter values from the originating workflow.",
          "type": "string"
        },
        "notifications": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNotification"
          },
          "type": "array"
        },
        "suspensionExpiration": {
          "description": "Indicates the next steps when no external actions happen on the suspension.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionExpiration"
        },
        "whoMayResolve": {
          "description": "Identities able to resolve this suspension.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoDoubleArrayFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoDoubleArrayFunction",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange": {
      "description": "Range used to validate longs and ints.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange",
      "properties": {
        "min": {
          "type": "string",
          "format": "int64",
          "description": "The inclusive minimum of the acceptable range."
        },
        "max": {
          "description": "The inclusive maximum of the acceptable range.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoDoubleArray": {
      "id": "EnterpriseCrmEventbusProtoDoubleArray",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig": {
      "id": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig",
      "type": "object",
      "description": "Configurations for approving the Suspension.",
      "properties": {
        "emailAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Email addresses to send approval request to."
        },
        "customMessage": {
          "type": "string",
          "description": "Information to provide for recipients."
        },
        "expiration": {
          "description": "Indicates the next steps when no external actions happen on the suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse": {
      "properties": {
        "runtimeActionSchemas": {
          "description": "Runtime action schemas.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "description": "Response for listing RuntimeActionSchemas for a specific Connection.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse"
    },
    "GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequest",
      "description": "Request for Creating Cloud Function rpc call.",
      "properties": {
        "functionRegion": {
          "type": "string",
          "description": "The function region of CF to be created"
        },
        "projectId": {
          "description": "Indicates the id of the GCP project that the function will be created in.",
          "type": "string"
        },
        "functionName": {
          "type": "string",
          "description": "The function name of CF to be created"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUsernameAndPassword": {
      "id": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
      "properties": {
        "username": {
          "description": "Username to be used",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Password to be used"
        }
      },
      "type": "object",
      "description": "Username and password pair."
    },
    "GoogleCloudIntegrationsV1alphaExecution": {
      "description": "The Execution resource contains detailed information of an individual integration execution.",
      "type": "object",
      "properties": {
        "eventExecutionDetails": {
          "description": "The execution info about this event.",
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetails"
        },
        "requestParams": {
          "type": "array",
          "description": "Event parameters come in as part of the request.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last modified time of the execution."
        },
        "executionMethod": {
          "enumDescriptions": [
            "Default value.",
            "Sync post.",
            "Async post.",
            "Async post with schedule time."
          ],
          "description": "The ways user posts this event.",
          "type": "string",
          "enum": [
            "EXECUTION_METHOD_UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE"
          ]
        },
        "triggerId": {
          "description": "The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks.",
          "type": "string"
        },
        "name": {
          "description": "Auto-generated primary key.",
          "type": "string"
        },
        "requestParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Event parameters come in as part of the request."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Created time of the execution."
        },
        "responseParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object",
          "description": "Event parameters returned as part of the response."
        },
        "executionDetails": {
          "description": "Detailed info of this execution.",
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionDetails"
        },
        "directSubExecutions": {
          "description": "Direct sub executions of the following Execution.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          }
        },
        "responseParams": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array",
          "description": "Event parameters come out as part of the response."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecution"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleResponse": {
      "description": "Response for ArchiveBundle.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse"
    },
    "EnterpriseCrmEventbusProtoParameterEntry": {
      "description": "Key-value pair of EventBus parameters.",
      "id": "EnterpriseCrmEventbusProtoParameterEntry",
      "properties": {
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMap": {
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "type": "object",
      "properties": {
        "valueType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "keyType": {
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMap"
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "id": "EnterpriseCrmEventbusProtoStringParameterArray",
      "type": "object",
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoCondition": {
      "type": "object",
      "description": "Condition that uses `operator` to evaluate the key against the value.",
      "id": "EnterpriseCrmEventbusProtoCondition",
      "properties": {
        "operator": {
          "enum": [
            "UNSET",
            "EQUALS",
            "CONTAINS",
            "LESS_THAN",
            "GREATER_THAN",
            "EXISTS",
            "DOES_NOT_EXIST",
            "IS_EMPTY",
            "IS_NOT_EMPTY"
          ],
          "type": "string",
          "description": "Operator used to evaluate the condition. Please note that an operator with an inappropriate key/value operand will result in IllegalArgumentException, e.g. CONTAINS with boolean key/value pair.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "eventPropertyKey": {
          "description": "Key that's evaluated against the `value`. Please note the data type of the runtime value associated with the key should match the data type of `value`, else an IllegalArgumentException is thrown.",
          "type": "string"
        },
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Value that's checked for the key."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse",
      "type": "object",
      "properties": {
        "executionInfoIds": {
          "items": {
            "type": "string"
          },
          "description": "The execution info id for the executed integrations.",
          "type": "array"
        }
      },
      "description": "The response for executing an integration."
    },
    "EnterpriseCrmEventbusProtoParameterValueType": {
      "id": "EnterpriseCrmEventbusProtoParameterValueType",
      "description": "LINT.IfChange To support various types of parameter values. Next available id: 14",
      "properties": {
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntParameterArray"
        },
        "protoValue": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "stringValue": {
          "type": "string"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringParameterArray"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmEventbusProtoSerializedObjectParameter"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmEventbusProtoProtoParameterArray"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleParameterArray"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanParameterArray"
        },
        "booleanValue": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoToken": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoToken",
      "type": "object"
    },
    "GoogleCloudConnectorsV1DestinationConfig": {
      "description": "Define the Connectors target endpoint.",
      "id": "GoogleCloudConnectorsV1DestinationConfig",
      "type": "object",
      "properties": {
        "destinations": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1Destination"
          },
          "description": "The destinations for the key.",
          "type": "array"
        },
        "key": {
          "type": "string",
          "description": "The key is the destination identifier that is supported by the Connector."
        }
      }
    },
    "EnterpriseCrmEventbusProtoValueType": {
      "type": "object",
      "properties": {
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "intValue": {
          "format": "int64",
          "type": "string"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringArray"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArray"
        },
        "stringValue": {
          "type": "string"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntArray"
        },
        "protoValue": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "EnterpriseCrmEventbusProtoValueType",
      "description": "Used for define type for values. Currently supported value types include int, string, double, array, and any proto message."
    },
    "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration": {
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time after which the suspension expires, if no action taken.",
          "readOnly": true
        },
        "remindTime": {
          "description": "Time after the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "format": "google-datetime",
          "type": "string"
        },
        "liftWhenExpired": {
          "type": "boolean",
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior."
        }
      },
      "description": "Expiration configs for the approval request.",
      "id": "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaServiceAccountCredentials": {
      "type": "object",
      "description": "Represents the service account which can be used to generate access token for authenticating the service call.",
      "properties": {
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Name of the service account that has the permission to make the request."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials"
    },
    "GoogleCloudIntegrationsV1alphaRuntimeActionSchema": {
      "description": "Metadata of an action, including schemas for its inputs and outputs.",
      "id": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema",
      "type": "object",
      "properties": {
        "action": {
          "description": "Name of the action.",
          "type": "string"
        },
        "inputSchema": {
          "type": "string",
          "description": "Input parameter schema for the action."
        },
        "outputSchema": {
          "description": "Output parameter schema for the action.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest": {
      "properties": {},
      "description": "Request for TakeoverEditLock.",
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "properties": {
        "baseFunction": {
          "description": "LINT.IfChange",
          "$ref": "EnterpriseCrmEventbusProtoBaseFunction"
        },
        "jsonFunction": {
          "$ref": "EnterpriseCrmEventbusProtoJsonFunction",
          "description": "LINT.ThenChange(//depot/google3/alkali/apps/integrationplatform/client/workflow_editor/utils/transform_function.ts)"
        },
        "doubleFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleFunction"
        },
        "stringArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringArrayFunction"
        },
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "booleanFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanFunction"
        },
        "protoArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "booleanArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
        },
        "stringFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringFunction"
        },
        "intFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntFunction"
        },
        "doubleArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
        },
        "protoFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoFunction"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFunctionType"
    },
    "EnterpriseCrmEventbusStatsDimensions": {
      "properties": {
        "clientId": {
          "type": "string"
        },
        "errorEnumString": {
          "type": "string"
        },
        "taskName": {
          "type": "string"
        },
        "workflowName": {
          "type": "string"
        },
        "warningEnumString": {
          "type": "string"
        },
        "triggerId": {
          "description": "Stats have been or will be aggregated on set fields for any semantically-meaningful combination.",
          "type": "string"
        },
        "taskNumber": {
          "type": "string"
        },
        "retryAttempt": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "FINAL",
            "RETRYABLE",
            "CANCELED"
          ],
          "enumDescriptions": [
            "",
            "Task has completed successfully or has depleted all retry attempts.",
            "Task has failed but may be retried.",
            "Task has been deliberately canceled."
          ]
        },
        "workflowId": {
          "type": "string"
        },
        "enumFilterType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Whether to include or exclude the enums matching the regex.",
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusStatsDimensions",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "properties": {
        "intValues": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoIntParameterArray",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskUiModuleConfig": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskUiModuleConfig",
      "properties": {
        "moduleId": {
          "enumDescriptions": [
            "Default",
            "Supports editing label of a task config.",
            "Supports editing error handling settings such as retry strategy.",
            "Supports adding, removing and editing task parameter values in a table with little assistance or restriction.",
            "Supports editing values of declared input parameters of a task. Think of it as a \"strongly typed\" upgrade to the TASK_PARAM_TABLE.",
            "Supports editing preconditions of a task config.",
            "Supports adding, editing, and deleting the scripts associated with a script task, as well as modifying the input/output parameters.",
            "Supports editing task parameters associated with an RPC/stubby task.",
            "Contains readonly task information, including input/output type info.",
            "Configures a SuspensionTask.",
            "Configures a GenericStubbyTypedTask.",
            "Configures a SubWorkflowExecutorTask.",
            "Supports navigating to Apps Script editor",
            "Configures a SubWorkflowForEachLoopTask.",
            "Configures a FieldMappingTask.",
            "Contains embedded in-product documentation for a task.",
            "UI widget for the rest caller task.",
            "Configures a SubWorkflowScatterGatherTask.",
            "Configures a CloudSql Task.",
            "Configure a GenericConnectorTask."
          ],
          "description": "ID of the config module.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_TASK_MODULE",
            "LABEL",
            "ERROR_HANDLING",
            "TASK_PARAM_TABLE",
            "TASK_PARAM_FORM",
            "PRECONDITION",
            "SCRIPT_EDITOR",
            "RPC",
            "TASK_SUMMARY",
            "SUSPENSION",
            "RPC_TYPED",
            "SUB_WORKFLOW",
            "APPS_SCRIPT_NAVIGATOR",
            "SUB_WORKFLOW_FOR_EACH_LOOP",
            "FIELD_MAPPING",
            "README",
            "REST_CALLER",
            "SUB_WORKFLOW_SCATTER_GATHER",
            "CLOUD_SQL",
            "GENERIC_CONNECTOR_TASK"
          ]
        }
      },
      "description": "Task author would use this type to configure a config module."
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest": {
      "description": "Request for DeactivateIntegrationVersion.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest"
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse": {
      "description": "Response for CreateAppsScriptProject rpc call.",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The created AppsScriptProject ID."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse"
    },
    "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse": {
      "properties": {
        "content": {
          "description": "String representation of the integration version.",
          "type": "string"
        }
      },
      "description": "Response for DownloadIntegrationVersion.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats": {
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats",
      "properties": {
        "startTime": {
          "format": "int64",
          "description": "The start time of the task execution for current attempt. This could be in the future if it's been scheduled.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "int64",
          "description": "The end time of the task execution for current attempt."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaJwt": {
      "id": "GoogleCloudIntegrationsV1alphaJwt",
      "type": "object",
      "description": "Represents JSON web token(JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties, enabling the claims to be digitally signed or integrity protected.",
      "properties": {
        "jwt": {
          "type": "string",
          "description": "The token calculated by the header, payload and signature."
        },
        "secret": {
          "description": "User's pre-shared secret to sign the token.",
          "type": "string"
        },
        "jwtPayload": {
          "type": "string",
          "description": "Contains a set of claims. The JWT specification defines seven Registered Claim Names which are the standard fields commonly included in tokens. Custom claims are usually also included, depending on the purpose of the token."
        },
        "jwtHeader": {
          "description": "Identifies which algorithm is used to generate the signature.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest": {
      "type": "object",
      "description": "The request for executing an integration.",
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest",
      "properties": {
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array",
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        },
        "triggerId": {
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id). The trigger_id is in the format of `api_trigger/TRIGGER_NAME`.",
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used by integration execution."
        },
        "executionId": {
          "type": "string",
          "description": "Optional. The id of the ON_HOLD execution to be resumed."
        },
        "doNotPropagateError": {
          "description": "Optional. Flag to determine how to should propagate errors. If this flag is set to be true, it will not throw an exception. Instead, it will return a {@link ExecuteIntegrationsResponse} with an execution id and error messages as PostWithTriggerIdExecutionException in {@link EventParameters}. The flag is set to be false by default.",
          "type": "boolean"
        },
        "parameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Optional. Passed in as parameters to each integration execution. Redacted"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleRequest": {
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleRequest",
      "description": "THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request message for Bundle update",
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "It contains the updated bundle data"
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1ConfigVariable": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1ConfigVariable",
      "properties": {
        "stringValue": {
          "description": "Value is a string.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key of the config variable."
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Value is an integer"
        },
        "secretValue": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Value is a secret."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Value is a bool."
        }
      },
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig."
    },
    "GoogleCloudConnectorsV1AuthConfig": {
      "id": "GoogleCloudConnectorsV1AuthConfig",
      "properties": {
        "sshPublicKey": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
          "description": "SSH Public Key."
        },
        "authType": {
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW"
          ],
          "description": "The type of authentication configured.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow"
          ]
        },
        "userPassword": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigUserPassword",
          "description": "UserPassword."
        },
        "additionalVariables": {
          "description": "List containing additional auth configs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          }
        },
        "oauth2JwtBearer": {
          "description": "Oauth2JwtBearer.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer"
        },
        "oauth2ClientCredentials": {
          "description": "Oauth2ClientCredentials.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials"
        }
      },
      "type": "object",
      "description": "AuthConfig defines details of a authentication type."
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse": {
      "properties": {},
      "description": "Response for PublishIntegrationVersion.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata": {
      "description": "Metadata of the execution snapshot.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata",
      "properties": {
        "executionAttempt": {
          "format": "int32",
          "description": "the execution attempt number this snapshot belongs to.",
          "type": "integer"
        },
        "task": {
          "description": "the task name associated with this snapshot.",
          "type": "string"
        },
        "taskNumber": {
          "type": "string",
          "description": "The task number associated with this snapshot."
        },
        "taskAttempt": {
          "type": "integer",
          "description": "the task attempt number this snapshot belongs to.",
          "format": "int32"
        }
      }
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "description": "Field Mapping Config to map multiple output fields values from input fields values. Next id: 2",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig",
      "properties": {
        "mappedFields": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          }
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoStringParameterArray": {
      "type": "object",
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex": {
      "description": "Rule used to validate strings.",
      "type": "object",
      "properties": {
        "regex": {
          "description": "The regex applied to the input value(s).",
          "type": "string"
        },
        "exclusive": {
          "type": "boolean",
          "description": "Whether the regex matcher is applied exclusively (if true, matching values will be rejected)."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex"
    },
    "EnterpriseCrmEventbusProtoBooleanArrayFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBooleanArrayFunction",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      }
    },
    "GoogleCloudConnectorsV1Connection": {
      "id": "GoogleCloudConnectorsV1Connection",
      "properties": {
        "serviceDirectory": {
          "readOnly": true,
          "description": "Output only. The name of the Service Directory service name. Used for Private Harpoon to resolve the ILB address. e.g. \"projects/cloud-connectors-e2e-testing/locations/us-central1/namespaces/istio-system/services/istio-ingressgateway-connectors\"",
          "type": "string"
        },
        "lockConfig": {
          "$ref": "GoogleCloudConnectorsV1LockConfig",
          "description": "Optional. Configuration that indicates whether or not the Connection can be edited."
        },
        "name": {
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
          "readOnly": true,
          "type": "string"
        },
        "suspended": {
          "type": "boolean",
          "description": "Optional. Suspended indicates if a user has suspended a connection or not."
        },
        "authConfig": {
          "description": "Optional. Configuration for establishing the connection's authentication with an external system.",
          "$ref": "GoogleCloudConnectorsV1AuthConfig"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Service account needed for runtime plane to access GCP resources."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Created time."
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          }
        },
        "configVariables": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "type": "array",
          "description": "Optional. Configuration for configuring the connection with an external system."
        },
        "envoyImageLocation": {
          "description": "Output only. GCR location where the envoy image is stored. formatted like: gcr.io/{bucketName}/{imageName}",
          "readOnly": true,
          "type": "string"
        },
        "connectorVersion": {
          "description": "Required. Connector version on which the connection is created. The format is: projects/*/locations/*/providers/*/connectors/*/versions/* Only global location is supported for ConnectorVersion resource.",
          "type": "string"
        },
        "destinationConfigs": {
          "type": "array",
          "description": "Optional. Configuration of the Connector's destination. Only accepted for Connectors that accepts user defined destination(s).",
          "items": {
            "$ref": "GoogleCloudConnectorsV1DestinationConfig"
          }
        },
        "status": {
          "readOnly": true,
          "$ref": "GoogleCloudConnectorsV1ConnectionStatus",
          "description": "Output only. Current status of the connection."
        },
        "imageLocation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. GCR location where the runtime image is stored. formatted like: gcr.io/{bucketName}/{imageName}"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the resource."
        },
        "nodeConfig": {
          "description": "Optional. Node configuration for the connection.",
          "$ref": "GoogleCloudConnectorsV1NodeConfig"
        }
      },
      "type": "object",
      "description": "Connection represents an instance of connector."
    },
    "GoogleCloudIntegrationsV1alphaNextTask": {
      "type": "object",
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "id": "GoogleCloudIntegrationsV1alphaNextTask",
      "properties": {
        "condition": {
          "description": "Standard filter expression for this task to become an eligible next task.",
          "type": "string"
        },
        "taskConfigId": {
          "description": "ID of the next task.",
          "type": "string"
        },
        "displayName": {
          "description": "User-provided label that is attached to this edge in the UI.",
          "type": "string"
        },
        "taskId": {
          "description": "Task number of the next task.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User-provided description intended to give additional business context about the task."
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
      "properties": {
        "gaiaId": {
          "type": "string",
          "format": "int64"
        },
        "emailAddress": {
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "properties": {
        "min": {
          "format": "double",
          "type": "number",
          "description": "The inclusive minimum of the acceptable range."
        },
        "max": {
          "type": "number",
          "description": "The inclusive maximum of the acceptable range.",
          "format": "double"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange",
      "type": "object",
      "description": "Range used to validate doubles and floats."
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "properties": {
        "referenceValue": {
          "description": "Start with a reference value to dereference.",
          "type": "string"
        },
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Start with a literal value."
        },
        "baseFunction": {
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc.",
          "$ref": "EnterpriseCrmEventbusProtoFunction"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseValue",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition": {
      "properties": {
        "fullName": {
          "type": "string",
          "description": "The fully-qualified proto name. This message, for example, would be \"enterprise.crm.eventbus.proto.ParamSpecEntry.ProtoDefinition\"."
        },
        "path": {
          "description": "Path to the proto file that contains the message type's definition.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition"
    },
    "GoogleCloudIntegrationsV1alphaProvisionClientRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaProvisionClientRequest",
      "description": "Request for the Provision rpc",
      "properties": {
        "createSampleWorkflows": {
          "description": "Optional. Indicates if sample workflow should be created along with provisioning",
          "type": "boolean"
        },
        "cloudKmsConfig": {
          "description": "Required. Required: Cloud KMS config for AuthModule to encrypt/decrypt credentials.",
          "$ref": "GoogleCloudIntegrationsV1alphaCloudKmsConfig"
        }
      }
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "properties": {
        "clientSecret": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing the client secret."
        },
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaParameterMap": {
      "properties": {
        "entries": {
          "description": "A list of parameter map entries.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaParameterMapEntry"
          },
          "type": "array"
        },
        "keyType": {
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "type": "string",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "description": "Option to specify key type for all entries of the map. If provided then field types for all entries must conform to this."
        },
        "valueType": {
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "description": "Option to specify value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaParameterMap",
      "type": "object",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified."
    },
    "EnterpriseCrmEventbusProtoBuganizerNotification": {
      "id": "EnterpriseCrmEventbusProtoBuganizerNotification",
      "type": "object",
      "properties": {
        "componentId": {
          "description": "ID of the buganizer component within which to create a new issue. Required.",
          "type": "string",
          "format": "int64"
        },
        "templateId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the buganizer template to use. Optional."
        },
        "title": {
          "description": "Title of the issue to be created. Required.",
          "type": "string"
        },
        "assigneeEmailAddress": {
          "type": "string",
          "description": "Whom to assign the new bug. Optional."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse",
      "properties": {},
      "description": "Response for ArchiveIntegrationVersion.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetails": {
      "properties": {
        "taskNumber": {
          "type": "string",
          "description": "Pointer to the task config it used for execution."
        },
        "taskAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
          }
        },
        "taskExecutionState": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetails",
      "type": "object",
      "description": "Contains the details of the execution of this task. Next available id: 11"
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "properties": {
        "protoValues": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTeardown": {
      "properties": {
        "teardownTaskConfigs": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTeardownTaskConfig"
          },
          "type": "array",
          "description": "Required."
        }
      },
      "id": "EnterpriseCrmEventbusProtoTeardown",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskUiConfig": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskUiConfig",
      "properties": {
        "taskUiModuleConfigs": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskUiModuleConfig"
          },
          "description": "Configurations of included config modules."
        }
      },
      "description": "Task authors would use this type to configure the UI for a particular task by specifying what UI config modules should be included to compose the UI. Learn more about config module framework: go/integration-platform-config-module-framework"
    },
    "EnterpriseCrmEventbusProtoExecutionTraceInfo": {
      "id": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
      "properties": {
        "parentEventExecutionInfoId": {
          "type": "string",
          "description": "Parent event execution info id that triggers the current execution through SubWorkflowExecutorTask."
        },
        "traceId": {
          "type": "string",
          "description": "Used to aggregate ExecutionTraceInfo."
        }
      },
      "type": "object",
      "description": "Message that helps aggregate all sub-executions triggered by one execution and keeps track of child-parent relationships."
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoBooleanFunction",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "id": "GoogleCloudIntegrationsV1alphaAccessToken",
      "type": "object",
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data.",
      "properties": {
        "tokenType": {
          "type": "string",
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0."
        },
        "refreshTokenExpireTime": {
          "description": "The approximate time until the refresh token retrieved is valid.",
          "format": "google-datetime",
          "type": "string"
        },
        "accessToken": {
          "description": "The access token encapsulating the security identity of a process or thread.",
          "type": "string"
        },
        "refreshToken": {
          "description": "If the access token will expire, use the refresh token to obtain another access token.",
          "type": "string"
        },
        "accessTokenExpireTime": {
          "description": "Required. The approximate time until the access token retrieved is valid.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue": {
      "properties": {
        "percentage": {
          "description": "Percentage threshold.",
          "type": "integer",
          "format": "int32"
        },
        "absolute": {
          "type": "string",
          "format": "int64",
          "description": "Absolute value threshold."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
      "type": "object",
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig."
    },
    "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        },
        "authConfigs": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
          },
          "type": "array",
          "description": "The list of AuthConfigs retrieved."
        }
      },
      "description": "Response to list AuthConfigs."
    },
    "EnterpriseCrmLoggingGwsFieldLimits": {
      "description": "Describes string and array limits when writing to logs. When a limit is exceeded the *shortener_type* describes how to shorten the field. next_id: 6",
      "properties": {
        "maxStringLength": {
          "format": "int32",
          "type": "integer",
          "description": "maximum string length. If the field exceeds this amount the field is shortened."
        },
        "logType": {
          "type": "array",
          "items": {
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "type": "string"
          },
          "description": "To which type(s) of logs the limits apply."
        },
        "maxArraySize": {
          "type": "integer",
          "format": "int32",
          "description": "maximum array size. If the array exceds this size, the field (list) is truncated."
        },
        "logAction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "LOG_ACTION_UNSPECIFIED",
            "DONT_LOG",
            "LOG"
          ],
          "type": "string"
        },
        "shortenerType": {
          "enumDescriptions": [
            "",
            "String is shortened to max_string_length.",
            "String is replaced by its hex-string hash.",
            "String is replaced by a combination of string shortening and a hex-string hash.",
            "String shortening for email addresses. Shortening may be done on the user and/or domain portion of the email address.",
            "String is replaced by a combination of string shortening and a hex-string hash for an email address.",
            "Shortens a domain name (e.g., as part of an email address or URL)."
          ],
          "type": "string",
          "enum": [
            "SHORTENER_TYPE_UNSPECIFIED",
            "SHORTEN",
            "HASH",
            "SHORTEN_WITH_HASH",
            "SHORTEN_EMAIL",
            "SHORTEN_EMAIL_WITH_HASH",
            "SHORTEN_DOMAIN"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmLoggingGwsFieldLimits"
    },
    "GoogleCloudIntegrationsV1alphaIntegration": {
      "id": "GoogleCloudIntegrationsV1alphaIntegration",
      "description": "The integration definition.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional."
        },
        "name": {
          "description": "Required. The resource name of the integration.",
          "type": "string"
        },
        "active": {
          "description": "Required. If any integration version is published.",
          "type": "boolean"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig": {
      "type": "object",
      "description": "This proto holds the core runner data in the bundle task. It is not expected to be directly edited by the user. Instead, a default value will be provided at the task creation time.",
      "properties": {
        "serviceAccount": {
          "description": "Output only. The service account created and owned by IP and added to the customers GCP project.",
          "type": "string",
          "readOnly": true
        },
        "integrations": {
          "description": "A bundle of integrations that can be executed by the task at runtime.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
    },
    "GoogleCloudIntegrationsV1alphaSuccessPolicy": {
      "type": "object",
      "properties": {
        "finalState": {
          "type": "string",
          "enum": [
            "FINAL_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
[...]
