{
  "batchPath": "batch",
  "name": "integrations",
  "ownerDomain": "google.com",
  "revision": "20220913",
  "canonicalName": "Integrations",
  "servicePath": "",
  "version": "v1alpha",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "resources": {
    "callback": {
      "methods": {
        "generateToken": {
          "parameterOrder": [],
          "id": "integrations.callback.generateToken",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1alpha/callback:generateToken",
          "httpMethod": "GET",
          "description": "Receives the auth code and auth config id to combine that with the client id and secret to retrieve access tokens from the token endpoint. Returns either a success or error message when it's done.",
          "flatPath": "v1alpha/callback:generateToken",
          "response": {
            "$ref": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse"
          },
          "parameters": {
            "code": {
              "type": "string",
              "location": "query",
              "description": "The auth code for the given request"
            },
            "product": {
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "UNSPECIFIED_PRODUCT",
                "IP",
                "APIGEE",
                "SECURITY"
              ],
              "description": "Which product sends the request",
              "type": "string"
            },
            "state": {
              "location": "query",
              "type": "string",
              "description": "The auth config id for the given request"
            },
            "redirectUri": {
              "type": "string",
              "location": "query",
              "description": "Redirect uri of the auth code request"
            },
            "gcpProjectId": {
              "description": "The gcp project id of the request",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "integrations": {
              "methods": {
                "list": {
                  "id": "integrations.projects.locations.integrations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/integrations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "The page size for the resquest.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "The results would be returned in order you specified here. Supported sort keys are: Descending sort order by \"last_modified_time\", \"created_time\", \"snapshot_number\". Ascending sort order by the integration name.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Project and location from which the integrations should be listed. Format: projects/{project}"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \"\u003e\" (greater), \"\u003c\" (less than), \u003e=\" (greater than or equal to), \"\u003c=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The page token for the resquest."
                    }
                  },
                  "description": "Returns the list of all integrations in the specified project.",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations"
                },
                "execute": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:execute",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest"
                  },
                  "id": "integrations.projects.locations.integrations.execute",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "type": "string",
                      "description": "Required. The integration resource name."
                    }
                  },
                  "description": "Executes integrations synchronously by passing the trigger id in the request body. The request is not returned until the requested executions are either fulfilled or experienced an error. If the integration name is not specified (passing `-`), all of the associated integration under the given trigger_id will be executed. Otherwise only the specified integration for the given `trigger_id` is executed. This is helpful for execution the integration from UI.",
                  "path": "v1alpha/{+name}:execute",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
                  }
                },
                "monitorexecutionstats": {
                  "path": "v1alpha/{+parent}:monitorexecutionstats",
                  "id": "integrations.projects.locations.integrations.monitorexecutionstats",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Get execution stats",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "description": "Required. The parent resource name: {parent=projects/*/locations/*}."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:monitorexecutionstats",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "schedule": {
                  "id": "integrations.projects.locations.integrations.schedule",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The integration resource name.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Schedules an integration for execution by passing the trigger id and the scheduled time in the request body.",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
                  },
                  "path": "v1alpha/{+name}:schedule",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:schedule",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
                  }
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "get": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The version to retrieve. Format: projects/{project}/integrations/{integration}/versions/{version}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "integrations.projects.locations.integrations.versions.get",
                      "description": "Get a integration in the specified project.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}"
                    },
                    "validate": {
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The version to validate. Format: projects/{project}/integrations/{integration}/versions/{version}"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.validate",
                      "description": "Validates the given integration. If the id doesn't exist, a NotFoundException is thrown. If validation fails a CanonicalCodeException is thrown. If there was no failure an empty response is returned.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:validate",
                      "httpMethod": "POST",
                      "path": "v1alpha/{+name}:validate",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse"
                      }
                    },
                    "create": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions",
                      "description": "Create a integration with a draft version in the specified project.",
                      "parameters": {
                        "newIntegration": {
                          "location": "query",
                          "description": "Set this flag to true, if draft version is to be created for a brand new integration. False, if the request is for an existing integration. For backward compatibility reasons, even if this flag is set to `false` and no existing integration is found, a new draft integration will still be created.",
                          "type": "boolean"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/integrations/{integration}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.create",
                      "path": "v1alpha/{+parent}/versions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Field mask specifying the fields in the above integration that have been modified and need to be updated.",
                          "type": "string"
                        },
                        "name": {
                          "description": "Output only. Auto-generated primary key.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "description": "Update a integration with a draft version in the specified project.",
                      "id": "integrations.projects.locations.integrations.versions.patch"
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/integrations/{integration} Specifically, when parent equals: 1. projects//locations//integrations/, Meaning: \"List versions (with filter) for a particular integration\". 2. projects//locations//integrations/- Meaning: \"List versions (with filter) for a client within a particular region\". 3. projects//locations/-/integrations/- Meaning: \"List versions (with filter) for a client\".",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "fieldMask": {
                          "format": "google-fieldmask",
                          "description": "The field mask which specifies the particular data to be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "filter": {
                          "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \"\u003e\" (greater), \"\u003c\" (less than), \u003e=\" (greater than or equal to), \"\u003c=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "The results would be returned in order you specified here. Currently supported sort keys are: Descending sort order for \"last_modified_time\", \"created_time\", \"snapshot_number\" Ascending sort order for \"name\".",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListIntegrationVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationVersions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "integrations.projects.locations.integrations.versions.list",
                      "httpMethod": "GET",
                      "description": "Returns the list of all integration versions in the specified project.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/versions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions"
                    },
                    "takeoverEditLock": {
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "integrationVersion": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The version to take over edit lock. Format: projects/{project}/integrations/{integration}/versions/{version}",
                          "type": "string"
                        }
                      },
                      "description": "Clears the `locked_by` and `locked_at_timestamp`in the DRAFT version of this integration. It then performs the same action as the CreateDraftIntegrationVersion (i.e., copies the DRAFT version of the integration as a SNAPSHOT and then creates a new DRAFT version with the `locked_by` set to the `user_taking_over` and the `locked_at_timestamp` set to the current timestamp). Both the `locked_by` and `user_taking_over` are notified via email about the takeover. This RPC throws an exception if the integration is not in DRAFT status or if the `locked_by` and `locked_at_timestamp` fields are not set.The TakeoverEdit lock is treated the same as an edit of the integration, and hence shares ACLs with edit. Audit fields updated include last_modified_timestamp, last_modified_by.",
                      "parameterOrder": [
                        "integrationVersion"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.takeoverEditLock",
                      "httpMethod": "POST",
                      "path": "v1alpha/{+integrationVersion}:takeoverEditLock",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:takeoverEditLock"
                    },
                    "publish": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "This RPC throws an exception if the integration is in ARCHIVED or ACTIVE state. This RPC throws an exception if the version being published is DRAFT, and if the `locked_by` user is not the same as the user performing the Publish. Audit fields updated include last_published_timestamp, last_published_by, last_modified_timestamp, last_modified_by. Any existing lock is on this integration is released.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
                      },
                      "id": "integrations.projects.locations.integrations.versions.publish",
                      "path": "v1alpha/{+name}:publish",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The version to publish. Format: projects/{project}/integrations/{integration}/versions/{version}"
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:publish",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
                      }
                    },
                    "deactivate": {
                      "id": "integrations.projects.locations.integrations.versions.deactivate",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Sets the status of the ACTIVE integration to SNAPSHOT with a new tag \"PREVIOUSLY_PUBLISHED\" after validating it. The \"HEAD\" and \"PUBLISH_REQUESTED\" tags do not change. This RPC throws an exception if the version being snapshot is not ACTIVE. Audit fields added include action, action_by, action_timestamp.",
                      "httpMethod": "POST",
                      "path": "v1alpha/{+name}:deactivate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:deactivate",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The version to deactivate. Format: projects/{project}/integrations/{integration}/versions/{version}"
                        }
                      }
                    },
                    "archive": {
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The version to archive. Format: projects/{project}/integrations/{integration}/versions/{version}",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v1alpha/{+name}:archive",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:archive",
                      "description": "Soft-deletes the integration. Changes the status of the integration to ARCHIVED. If the integration being ARCHIVED is tagged as \"HEAD\", the tag is removed from this snapshot and set to the previous non-ARCHIVED snapshot. The PUBLISH_REQUESTED, DUE_FOR_DELETION tags are removed too. This RPC throws an exception if the version being archived is DRAFT, and if the `locked_by` user is not the same as the user performing the Archive. Audit fields updated include last_modified_timestamp, last_modified_by. Any existing lock is released when Archiving a integration. Currently, there is no unarchive mechanism.",
                      "id": "integrations.projects.locations.integrations.versions.archive",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "executions": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filterParams.eventStatuses": {
                          "repeated": true,
                          "location": "query",
                          "type": "string",
                          "description": "List of possible event statuses."
                        },
                        "filterParams.executionId": {
                          "description": "Execution id.",
                          "type": "string",
                          "location": "query"
                        },
                        "readMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in event execution info will be filled and returned.",
                          "format": "google-fieldmask"
                        },
                        "filterParams.triggerId": {
                          "type": "string",
                          "location": "query",
                          "description": "Trigger id."
                        },
                        "filterParams.workflowName": {
                          "location": "query",
                          "type": "string",
                          "description": "Workflow name."
                        },
                        "filter": {
                          "description": "Optional. Standard filter field, we support filtering on all fields in EventExecutionParamIndexes table. All fields support for EQUALS, in additional: CreateTimestamp support for LESS_THAN, GREATER_THAN ParameterKey, ParameterValue, ParameterType support for HAS For example: \"parameter_value\" HAS \\\"parameter1\\\" Also supports operators like AND, OR, NOT For example, trigger_id=\\\"id1\\\" AND event_execution_state=\\\"FAILED\\\"",
                          "location": "query",
                          "type": "string"
                        },
                        "filterParams.parameterKey": {
                          "type": "string",
                          "description": "Param key. DEPRECATED. User parameter_pair_key instead.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent resource name of the integration execution.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$"
                        },
                        "filterParams.parameterPairValue": {
                          "type": "string",
                          "description": "Param value in the key value pair filter.",
                          "location": "query"
                        },
                        "filterParams.startTime": {
                          "type": "string",
                          "location": "query",
                          "description": "Start timestamp.",
                          "format": "int64"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. The results would be returned in order you specified here. Currently supporting \"last_modified_time\" and \"create_time\".",
                          "type": "string"
                        },
                        "filterParams.customFilter": {
                          "location": "query",
                          "description": "Optional user-provided custom filter.",
                          "type": "string"
                        },
                        "filterParams.parameterValue": {
                          "location": "query",
                          "type": "string",
                          "description": "Param value. DEPRECATED. User parameter_pair_value instead."
                        },
                        "filterParams.parameterType": {
                          "description": "Param type.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The token returned in the previous response.",
                          "type": "string"
                        },
                        "truncateParams": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If true, the service will truncate the params to only keep the first 1000 characters of string params and empty the executions in order to make response smaller. Only works for UI and when the params fields are not filtered out."
                        },
                        "filterParams.endTime": {
                          "description": "End timestamp.",
                          "location": "query",
                          "format": "int64",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The size of entries in the response.",
                          "location": "query"
                        },
                        "refreshAcl": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If true, the service will use the most recent acl information to list event execution infos and renew the acl cache. Note that fetching the most recent acl is synchronous, so it will increase RPC call latency."
                        },
                        "filterParams.parameterPairKey": {
                          "type": "string",
                          "location": "query",
                          "description": "Param key in the key value pair filter."
                        },
                        "filterParams.taskStatuses": {
                          "location": "query",
                          "description": "List of possible task statuses.",
                          "repeated": true,
                          "type": "string"
                        }
                      },
                      "description": "Lists the status of the integration executions.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
                      },
                      "id": "integrations.projects.locations.integrations.executions.list",
                      "path": "v1alpha/{+parent}/executions",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "products": {
              "resources": {
                "certificates": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "description": "Get a certificates in the specified project.",
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/certificates/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The certificate to retrieve. Format: projects/{project}/locations/{location}/certificates/{certificate}"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.products.certificates.get",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates/{certificatesId}",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+parent}/certificates",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListCertificatesResponse"
                      },
                      "id": "integrations.projects.locations.products.certificates.list",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "The size of entries in the response. If unspecified, defaults to 100.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "readMask": {
                          "location": "query",
                          "description": "The mask which specifies fields that need to be returned in the Certificate's response.",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The token returned in the previous response."
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "description": "Required. The client, which owns this collection of Certificates.",
                          "location": "path",
                          "required": true
                        },
                        "filter": {
                          "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "List all the certificates that match the filter. Restrict to certificate of current client only.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new certificate. The certificate will be registered to the trawler service and will be encrypted using cloud KMS and stored in Spanner Returns the certificate.",
                      "httpMethod": "POST",
                      "id": "integrations.projects.locations.products.certificates.create",
                      "path": "v1alpha/{+parent}/certificates",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "type": "string",
                          "description": "Required. \"projects/{project}/locations/{location}\" format.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates"
                    },
                    "delete": {
                      "description": "Delete a certificate",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/certificates/[^/]+$",
                          "description": "Required. The name that is associated with the Certificate.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v1alpha/{+name}",
                      "httpMethod": "DELETE",
                      "id": "integrations.projects.locations.products.certificates.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates/{certificatesId}"
                    },
                    "patch": {
                      "id": "integrations.projects.locations.products.certificates.patch",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Field mask specifying the fields in the above Certificate that have been modified and need to be updated.",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/certificates/[^/]+$",
                          "type": "string",
                          "description": "Output only. Auto generated primary key",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "description": "Updates the certificate by id. If new certificate file is updated, it will register with the trawler service, re-encrypt with cloud KMS and update the Spanner record. Other fields will directly update the Spanner record. Returns the Certificate.",
                      "httpMethod": "PATCH",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates/{certificatesId}",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}"
                    }
                  }
                },
                "authConfigs": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}",
                      "id": "integrations.projects.locations.products.authConfigs.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs/{authConfigsId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/authConfigs/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name that is associated with the AuthConfig.",
                          "location": "path"
                        }
                      },
                      "description": "Deletes an auth config."
                    },
                    "get": {
                      "description": "Gets a complete auth config. If the auth config doesn't exist, Code.NOT_FOUND exception will be thrown. Returns the decrypted auth config.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs/{authConfigsId}",
                      "id": "integrations.projects.locations.products.authConfigs.get",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name that is associated with the AuthConfig.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/authConfigs/[^/]+$"
                        }
                      }
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "id": "integrations.projects.locations.products.authConfigs.patch",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs/{authConfigsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "clientCertificate.encryptedPrivateKey": {
                          "location": "query",
                          "type": "string",
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                        },
                        "updateMask": {
                          "description": "Field mask specifying the fields in the above AuthConfig that have been modified and need to be updated.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "clientCertificate.sslCertificate": {
                          "location": "query",
                          "type": "string",
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                        },
                        "clientCertificate.passphrase": {
                          "type": "string",
                          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/authConfigs/[^/]+$",
                          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1alpha/{+name}",
                      "description": "Updates an auth config. If credential is updated, fetch the encrypted auth config from Spanner, decrypt with Cloud KMS key, update the credential fields, re-encrypt with Cloud KMS key and update the Spanner record. For other fields, directly update the Spanner record. Returns the encrypted auth config."
                    },
                    "create": {
                      "parameters": {
                        "clientCertificate.passphrase": {
                          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                          "location": "query",
                          "type": "string"
                        },
                        "clientCertificate.encryptedPrivateKey": {
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                          "type": "string",
                          "location": "query"
                        },
                        "clientCertificate.sslCertificate": {
                          "type": "string",
                          "location": "query",
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                        },
                        "parent": {
                          "description": "Required. \"projects/{project}/locations/{location}\" format.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.products.authConfigs.create",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "description": "Creates an auth config record. Fetch corresponding credentials for specific auth types, e.g. access token for OAuth 2.0, JWT token for JWT. Encrypt the auth config with Cloud KMS and store the encrypted credentials in Spanner. Returns the encrypted auth config.",
                      "path": "v1alpha/{+parent}/authConfigs"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs",
                      "httpMethod": "GET",
                      "path": "v1alpha/{+parent}/authConfigs",
                      "description": "Lists all auth configs that match the filter. Restrict to auth configs belong to the current client only.",
                      "parameters": {
                        "pageToken": {
                          "description": "The token returned in the previous response.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The size of entries in the response. If unspecified, defaults to 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The client, which owns this collection of AuthConfigs."
                        },
                        "filter": {
                          "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.",
                          "location": "query",
                          "type": "string"
                        },
                        "readMask": {
                          "description": "The mask which specifies fields that need to be returned in the AuthConfig's response.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "id": "integrations.projects.locations.products.authConfigs.list"
                    }
                  }
                },
                "integrationtemplates": {
                  "resources": {
                    "versions": {
                      "methods": {
                        "get": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrationtemplates/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The TemplateVersion to retrieve. Format: projects/{project}/locations/{location}/products/{product}/integrationtemplates/{integrationtemplate}/versions/{version}"
                            }
                          },
                          "description": "Returns an IntegrationTemplateVersion in the specified project.",
                          "id": "integrations.projects.locations.products.integrationtemplates.versions.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
                          },
                          "httpMethod": "GET",
                          "path": "v1alpha/{+name}",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrationtemplates/{integrationtemplatesId}/versions/{versionsId}",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "create": {
                          "id": "integrations.projects.locations.products.integrationtemplates.versions.create",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. The parent resource where this TemplateVersion will be created. Format: projects/{project}/location/{location}/product/{product}/integrationtemplates/{integrationtemplate}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrationtemplates/[^/]+$",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
                          },
                          "httpMethod": "POST",
                          "description": "Creates an IntegrationTemplateVersion.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrationtemplates/{integrationtemplatesId}/versions",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
                          },
                          "path": "v1alpha/{+parent}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "filter": {
                              "location": "query",
                              "description": "Filter syntax: defined in the EBNF grammar.",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "The maximum number of IntegrationTemplateVersions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous `ListIntegrationTemplateVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationTemplateVersions` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "description": "Required. Format: projects/{project}/location/{location}/product/{product}/integrationtemplates/{integrationtemplate}",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrationtemplates/[^/]+$"
                            }
                          },
                          "id": "integrations.projects.locations.products.integrationtemplates.versions.list",
                          "path": "v1alpha/{+parent}/versions",
                          "httpMethod": "GET",
                          "description": "Returns the list of all IntegrationTemplateVersions in the specified project.",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrationtemplates/{integrationtemplatesId}/versions"
                        }
                      }
                    }
                  }
                },
                "integrations": {
                  "methods": {
                    "monitorexecutionstats": {
                      "path": "v1alpha/{+parent}:monitorexecutionstats",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequest"
                      },
                      "id": "integrations.projects.locations.products.integrations.monitorexecutionstats",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent resource name: {parent=projects/*/locations/*}.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}:monitorexecutionstats",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Get execution stats"
                    },
                    "schedule": {
                      "id": "integrations.projects.locations.products.integrations.schedule",
                      "description": "Schedules an integration for execution by passing the trigger id and the scheduled time in the request body.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
                      },
                      "path": "v1alpha/{+name}:schedule",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}:schedule",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The integration resource name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "description": "Required. Project and location from which the integrations should be listed. Format: projects/{project}"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The page token for the resquest."
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "The results would be returned in order you specified here. Supported sort keys are: Descending sort order by \"last_modified_time\", \"created_time\", \"snapshot_number\". Ascending sort order by the integration name."
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The page size for the resquest."
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \"\u003e\" (greater), \"\u003c\" (less than), \u003e=\" (greater than or equal to), \"\u003c=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`."
                        }
                      },
                      "description": "Returns the list of all integrations in the specified project.",
                      "id": "integrations.projects.locations.products.integrations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/integrations",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "execute": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}:execute",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}:execute",
                      "description": "Executes integrations synchronously by passing the trigger id in the request body. The request is not returned until the requested executions are either fulfilled or experienced an error. If the integration name is not specified (passing `-`), all of the associated integration under the given trigger_id will be executed. Otherwise only the specified integration for the given `trigger_id` is executed. This is helpful for execution the integration from UI.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The integration resource name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$"
                        }
                      },
                      "id": "integrations.projects.locations.products.integrations.execute"
                    },
                    "archiveBundle": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}:archiveBundle",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}:archiveBundle",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaArchiveBundleRequest"
                      },
                      "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Soft-deletes the bundle.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The bundle to archive. Format: projects/{project}/integrations/{integration}"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse"
                      },
                      "id": "integrations.projects.locations.products.integrations.archiveBundle"
                    }
                  },
                  "resources": {
                    "executionsnapshots": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse"
                          },
                          "id": "integrations.projects.locations.products.integrations.executionsnapshots.list",
                          "parameters": {
                            "filter": {
                              "description": "Currently supports filter by `execution_info_id` or `execution_snapshot_id`.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "Number of entries to be returned in a page.",
                              "type": "integer"
                            },
                            "readMask": {
                              "description": "View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in event execution snapshot will be filled and returned.",
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Required. The parent resource name of the integration execution."
                            },
                            "pageToken": {
                              "description": "The token used to retrieve the next page results.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executionsnapshots",
                          "description": "Lists the snapshots of a given integration executions. This RPC is not being used.",
                          "httpMethod": "GET",
                          "path": "v1alpha/{+parent}/executionsnapshots",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "executions": {
                      "resources": {
                        "suspensions": {
                          "methods": {
                            "lift": {
                              "httpMethod": "POST",
                              "parameters": {
                                "name": {
                                  "description": "Required. The resource that the suspension belongs to. \"projects/{project}/locations/{location}/products/{product}/integrations/{integration}/executions/{execution}/suspensions/{suspenion}\" format.",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                                  "location": "path"
                                }
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "* Lifts suspension for advanced suspension task. Fetch corresponding suspension with provided suspension Id, resolve suspension, and set up suspension result for the Suspension Task.",
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:lift",
                              "request": {
                                "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest"
                              },
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.lift",
                              "path": "v1alpha/{+name}:lift"
                            },
                            "list": {
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions",
                              "parameterOrder": [
                                "parent"
                              ],
                              "description": "* Lists suspensions associated with a specific execution. Only those with permissions to resolve the relevant suspensions will be able to view them.",
                              "httpMethod": "GET",
                              "path": "v1alpha/{+parent}/suspensions",
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "orderBy": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Field name to order by."
                                },
                                "filter": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "Standard filter field."
                                },
                                "pageSize": {
                                  "type": "integer",
                                  "description": "Maximum number of entries in the response.",
                                  "location": "query",
                                  "format": "int32"
                                },
                                "pageToken": {
                                  "location": "query",
                                  "description": "Token to retrieve a specific page.",
                                  "type": "string"
                                },
                                "parent": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                                  "required": true,
                                  "type": "string",
                                  "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}"
                                }
                              },
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.list"
                            },
                            "resolve": {
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse"
                              },
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:resolve",
                              "description": "* Resolves (lifts/rejects) any number of suspensions. If the integration is already running, only the status of the suspension is updated. Otherwise, the suspended integration will begin execution again.",
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "location": "path",
                                  "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}/suspensions/{suspension_id}",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "request": {
                                "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
                              },
                              "httpMethod": "POST",
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.resolve",
                              "path": "v1alpha/{+name}:resolve",
                              "parameterOrder": [
                                "name"
                              ]
                            }
                          }
                        }
                      },
                      "methods": {
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "required": true
                            }
                          },
                          "path": "v1alpha/{+name}",
                          "description": "Get an execution in the specified project.",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}",
                          "id": "integrations.projects.locations.products.integrations.executions.get",
                          "httpMethod": "GET"
                        },
                        "list": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions",
                          "path": "v1alpha/{+parent}/executions",
                          "description": "Lists the status of the integration executions.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "id": "integrations.projects.locations.products.integrations.executions.list",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "filterParams.customFilter": {
                              "location": "query",
                              "description": "Optional user-provided custom filter.",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. The parent resource name of the integration execution.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "filterParams.parameterType": {
                              "type": "string",
                              "description": "Param type.",
                              "location": "query"
                            },
                            "filterParams.parameterPairValue": {
                              "type": "string",
                              "description": "Param value in the key value pair filter.",
                              "location": "query"
                            },
                            "filterParams.executionId": {
                              "type": "string",
                              "location": "query",
                              "description": "Execution id."
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. The size of entries in the response.",
                              "format": "int32"
                            },
                            "filterParams.parameterKey": {
                              "location": "query",
                              "description": "Param key. DEPRECATED. User parameter_pair_key instead.",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "Optional. The token returned in the previous response.",
                              "type": "string",
                              "location": "query"
                            },
                            "filterParams.endTime": {
                              "location": "query",
                              "description": "End timestamp.",
                              "type": "string",
                              "format": "int64"
                            },
                            "filterParams.parameterValue": {
                              "description": "Param value. DEPRECATED. User parameter_pair_value instead.",
                              "location": "query",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Optional. Standard filter field, we support filtering on all fields in EventExecutionParamIndexes table. All fields support for EQUALS, in additional: CreateTimestamp support for LESS_THAN, GREATER_THAN ParameterKey, ParameterValue, ParameterType support for HAS For example: \"parameter_value\" HAS \\\"parameter1\\\" Also supports operators like AND, OR, NOT For example, trigger_id=\\\"id1\\\" AND event_execution_state=\\\"FAILED\\\"",
                              "location": "query",
                              "type": "string"
                            },
                            "filterParams.triggerId": {
                              "type": "string",
                              "description": "Trigger id.",
                              "location": "query"
                            },
                            "refreshAcl": {
                              "type": "boolean",
                              "description": "Optional. If true, the service will use the most recent acl information to list event execution infos and renew the acl cache. Note that fetching the most recent acl is synchronous, so it will increase RPC call latency.",
                              "location": "query"
                            },
                            "filterParams.workflowName": {
                              "description": "Workflow name.",
                              "location": "query",
                              "type": "string"
                            },
                            "filterParams.parameterPairKey": {
                              "location": "query",
                              "type": "string",
                              "description": "Param key in the key value pair filter."
                            },
                            "orderBy": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The results would be returned in order you specified here. Currently supporting \"last_modified_time\" and \"create_time\"."
                            },
                            "truncateParams": {
                              "location": "query",
                              "description": "Optional. If true, the service will truncate the params to only keep the first 1000 characters of string params and empty the executions in order to make response smaller. Only works for UI and when the params fields are not filtered out.",
                              "type": "boolean"
                            },
                            "filterParams.startTime": {
                              "location": "query",
                              "format": "int64",
                              "type": "string",
                              "description": "Start timestamp."
                            },
                            "filterParams.eventStatuses": {
                              "location": "query",
                              "repeated": true,
                              "type": "string",
                              "description": "List of possible event statuses."
                            },
                            "filterParams.taskStatuses": {
                              "description": "List of possible task statuses.",
                              "type": "string",
                              "location": "query",
                              "repeated": true
                            },
                            "readMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string",
                              "description": "Optional. View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in event execution info will be filled and returned."
                            }
                          }
                        },
                        "cancel": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest"
                          },
                          "id": "integrations.projects.locations.products.integrations.executions.cancel",
                          "path": "v1alpha/{+name}:cancel",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}:cancel",
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse"
                          },
                          "description": "Cancellation of an execution"
                        }
                      }
                    },
                    "versions": {
                      "methods": {
                        "publish": {
                          "id": "integrations.projects.locations.products.integrations.versions.publish",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:publish",
                          "path": "v1alpha/{+name}:publish",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "description": "Required. The version to publish. Format: projects/{project}/integrations/{integration}/versions/{version}"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
[...]
