{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "description": "",
  "baseUrl": "https://integrations.googleapis.com/",
  "servicePath": "",
  "ownerName": "Google",
  "id": "integrations:v1alpha",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "version": "v1alpha",
  "title": "Application Integration API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo": {
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo",
      "description": "Contains all the execution details for a workflow instance. Next available id: 24",
      "properties": {
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the workflow trigger config. If both trigger_id and client_id is present, the workflow is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "eventExecutionDetails": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
          "description": "The execution info about this event."
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Auto-generated.",
          "format": "int64"
        },
        "requestParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Event parameters come in as part of the request."
        },
        "executionTraceInfo": {
          "description": "Execution trace info to aggregate parent-child executions.",
          "$ref": "EnterpriseCrmEventbusProtoExecutionTraceInfo"
        },
        "product": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Which Google product the execution_info belongs to. If not set, the execution_info belongs to Integration Platform by default.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ]
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoErrorDetail"
          },
          "description": "Errors, warnings, and informationals associated with the workflow/task. The order in which the errors were added by the workflow/task is maintained."
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "postMethod": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The ways user posts this event.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE",
            "POST_BY_EVENT_CONFIG_ID",
            "POST_WITH_EVENT_DETAILS"
          ]
        },
        "workflowName": {
          "type": "string",
          "description": "Name of the workflow."
        },
        "workflowRetryBackoffIntervalSeconds": {
          "type": "string",
          "description": "Time interval in seconds to schedule retry of workflow in manifold when workflow is already running",
          "format": "int64"
        },
        "errorCode": {
          "description": "Final error-code if event failed.",
          "$ref": "CrmlogErrorCode"
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request.",
          "type": "string"
        },
        "snapshotNumber": {
          "format": "int64",
          "type": "string",
          "description": "Workflow snapshot number."
        },
        "workflowId": {
          "type": "string",
          "description": "Required. Pointer to the workflow it is executing."
        },
        "tenant": {
          "description": "Tenant this event is created. Used to reschedule the event to correct tenant.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "int64",
          "description": "Auto-generated."
        },
        "clientId": {
          "description": "The event data user sends as request.",
          "type": "string"
        },
        "responseParams": {
          "description": "Event parameters come out as part of the response.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange": {
      "type": "object",
      "description": "Range used to validate longs and ints.",
      "properties": {
        "max": {
          "format": "int64",
          "type": "string",
          "description": "The inclusive maximum of the acceptable range."
        },
        "min": {
          "description": "The inclusive minimum of the acceptable range.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange"
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest",
      "description": "Request for ArchiveIntegrationVersion.",
      "properties": {}
    },
    "GoogleCloudConnectorsV1DestinationConfig": {
      "id": "GoogleCloudConnectorsV1DestinationConfig",
      "description": "Define the Connectors target endpoint.",
      "properties": {
        "key": {
          "description": "The key is the destination identifier that is supported by the Connector.",
          "type": "string"
        },
        "destinations": {
          "description": "The destinations for the key.",
          "items": {
            "$ref": "GoogleCloudConnectorsV1Destination"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringParameterArray",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionConfig": {
      "properties": {
        "whoMayResolve": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions"
          },
          "description": "Identities able to resolve this suspension.",
          "type": "array"
        },
        "customMessage": {
          "type": "string",
          "description": "Optional information to provide recipients of the suspension in addition to the resolution URL, typically containing relevant parameter values from the originating workflow."
        },
        "suspensionExpiration": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionExpiration",
          "description": "Indicates the next steps when no external actions happen on the suspension."
        },
        "notifications": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNotification"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse": {
      "description": "The response for executing an integration.",
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse",
      "properties": {
        "eventParameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Details for the integration that were executed."
        },
        "executionId": {
          "description": "The id of the execution corresponding to this run of integration.",
          "type": "string"
        },
        "outputParameters": {
          "description": "OUTPUT parameters in format of Map. Where Key is the name of the parameter. Note: Name of the system generated parameters are wrapped by backtick(`) to distinguish them from the user defined parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array"
        },
        "executionFailed": {
          "description": "Is true if any execution in the integration failed. False otherwise.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The start time of the task execution for current attempt. This could be in the future if it's been scheduled.",
          "format": "int64"
        },
        "endTime": {
          "description": "The end time of the task execution for current attempt.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
    },
    "GoogleCloudIntegrationsV1alphaSuspensionAudit": {
      "properties": {
        "resolver": {
          "description": "Email address of the person who resolved this suspension.",
          "type": "string"
        },
        "resolveTime": {
          "description": "Time at which this suspension was resolved.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Contains when and by whom the suspension was resolved.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSuspensionAudit"
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "description": "Use this request to post all workflows associated with a given trigger id. Next available id: 10",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients."
        },
        "scheduledTime": {
          "type": "string",
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled.",
          "format": "int64"
        },
        "priority": {
          "description": "The request priority this request should be processed at. For internal users:",
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "type": "string",
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ]
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each workflow execution. Optional."
        },
        "testMode": {
          "type": "boolean",
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}."
        },
        "workflowName": {
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "type": "boolean",
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default."
        },
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "properties": {
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Optional. To be used in TaskConfig for the implementation class."
        },
        "triggerCriteriaTaskImplementationClassName": {
          "type": "string",
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface."
        },
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria"
    },
    "GoogleCloudIntegrationsV1alphaListSuspensionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results."
        },
        "suspensions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSuspension"
          },
          "description": "The suspensions for the relevant execution which the caller has permissions to view and resolve.",
          "type": "array"
        }
      },
      "description": "Response for Suspensions.ListSuspensions.",
      "id": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse"
    },
    "GoogleCloudIntegrationsV1alphaCertificate": {
      "description": "The certificate definition",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCertificate",
      "properties": {
        "requestorId": {
          "description": "Immutable. Requestor ID to be used to register certificate with trawler",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the certificate"
        },
        "certificateStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified certificate status",
            "Certificate in active state will be able to use",
            "Certificate in expired state needs to be updated"
          ],
          "description": "Status of the certificate",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED"
          ]
        },
        "rawCertificate": {
          "description": "Input only. Raw client certificate which would be registered with trawler",
          "$ref": "GoogleCloudIntegrationsV1alphaClientCertificate"
        },
        "displayName": {
          "type": "string",
          "description": "Name of the certificate"
        },
        "credentialId": {
          "description": "Immutable. Credential id that will be used to register with trawler INTERNAL_ONLY",
          "type": "string"
        },
        "validEndTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp after which certificate will expire"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Auto generated primary key"
        },
        "validStartTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp after which certificate will be valid"
        }
      }
    },
    "EnterpriseCrmEventbusProtoExecutionTraceInfo": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
      "description": "Message that helps aggregate all sub-executions triggered by one execution and keeps track of child-parent relationships.",
      "properties": {
        "traceId": {
          "type": "string",
          "description": "Used to aggregate ExecutionTraceInfo."
        },
        "parentEventExecutionInfoId": {
          "description": "Parent event execution info id that triggers the current execution through SubWorkflowExecutorTask.",
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1AuthConfig": {
      "description": "AuthConfig defines details of a authentication type.",
      "id": "GoogleCloudConnectorsV1AuthConfig",
      "properties": {
        "authType": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow"
          ],
          "type": "string",
          "description": "The type of authentication configured."
        },
        "oauth2ClientCredentials": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
          "description": "Oauth2ClientCredentials."
        },
        "oauth2JwtBearer": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
          "description": "Oauth2JwtBearer."
        },
        "sshPublicKey": {
          "description": "SSH Public Key.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigSshPublicKey"
        },
        "userPassword": {
          "description": "UserPassword.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigUserPassword"
        },
        "additionalVariables": {
          "description": "List containing additional auth configs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
      "properties": {
        "emailAddress": {
          "type": "string"
        },
        "gaiaId": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries": {
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries",
      "properties": {
        "name": {
          "type": "string"
        },
        "data": {
          "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesData"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleRequest": {
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleRequest",
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "It contains the updated bundle data"
        }
      },
      "description": "THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request message for Bundle update",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventParameters": {
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same workflow execution.",
          "type": "array"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
      "type": "object",
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4"
    },
    "GoogleCloudIntegrationsV1alphaParameterMapEntry": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaParameterMapEntry",
      "properties": {
        "value": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField",
          "description": "Value of the map entry."
        },
        "key": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField",
          "description": "Key of the map entry."
        }
      },
      "description": "Entry is a pair of key and value."
    },
    "EnterpriseCrmLoggingGwsFieldLimits": {
      "properties": {
        "maxStringLength": {
          "description": "maximum string length. If the field exceeds this amount the field is shortened.",
          "type": "integer",
          "format": "int32"
        },
        "logType": {
          "description": "To which type(s) of logs the limits apply.",
          "items": {
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "type": "string",
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ]
          },
          "type": "array"
        },
        "logAction": {
          "type": "string",
          "enum": [
            "LOG_ACTION_UNSPECIFIED",
            "DONT_LOG",
            "LOG"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "shortenerType": {
          "enumDescriptions": [
            "",
            "String is shortened to max_string_length.",
            "String is replaced by its hex-string hash.",
            "String is replaced by a combination of string shortening and a hex-string hash.",
            "String shortening for email addresses. Shortening may be done on the user and/or domain portion of the email address.",
            "String is replaced by a combination of string shortening and a hex-string hash for an email address.",
            "Shortens a domain name (e.g., as part of an email address or URL)."
          ],
          "enum": [
            "SHORTENER_TYPE_UNSPECIFIED",
            "SHORTEN",
            "HASH",
            "SHORTEN_WITH_HASH",
            "SHORTEN_EMAIL",
            "SHORTEN_EMAIL_WITH_HASH",
            "SHORTEN_DOMAIN"
          ],
          "type": "string"
        },
        "maxArraySize": {
          "format": "int32",
          "description": "maximum array size. If the array exceds this size, the field (list) is truncated.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Describes string and array limits when writing to logs. When a limit is exceeded the *shortener_type* describes how to shorten the field. next_id: 6",
      "id": "EnterpriseCrmLoggingGwsFieldLimits"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryConfig": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryConfig",
      "type": "object",
      "properties": {
        "parameterNameOption": {
          "enumDescriptions": [
            "This field is not a parameter name.",
            "If this field is a string and this option is selected, the field will be interpreted as a parameter name. Users will be able to choose a variable using the autocomplete, but the name will be stored as a literal string.",
            "If this field is a ParameterMap and this option is selected, the map's keys will be interpreted as parameter names. Ignored if this field is not a ParameterMap.",
            "If this field is a ParameterMap and this option is selected, the map's values will be interpreted as parameter names. Ignored if this field is not a ParameterMap."
          ],
          "enum": [
            "DEFAULT_NOT_PARAMETER_NAME",
            "IS_PARAMETER_NAME",
            "KEY_IS_PARAMETER_NAME",
            "VALUE_IS_PARAMETER_NAME"
          ],
          "type": "string"
        },
        "subSectionLabel": {
          "type": "string",
          "description": "A user-friendly label for subSection under which the parameter will be displayed."
        },
        "isHidden": {
          "description": "Whether this field is hidden in the UI.",
          "type": "boolean"
        },
        "helpText": {
          "description": "Detailed help text for this parameter containing information not provided elsewhere. For example, instructions on how to migrate from a deprecated parameter.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "A user-friendly label for the parameter."
        },
        "descriptivePhrase": {
          "description": "A short phrase to describe what this parameter contains.",
          "type": "string"
        },
        "inputDisplayOption": {
          "type": "string",
          "enum": [
            "DEFAULT",
            "STRING_MULTI_LINE",
            "NUMBER_SLIDER",
            "BOOLEAN_TOGGLE"
          ],
          "enumDescriptions": [
            "A single-line input for strings, a numeric input box for numbers, or a checkbox for booleans.",
            "A multi-line input box for longer strings/string templates.",
            "A slider to select a numerical value. The default range is [0, 100].",
            "A toggle button for boolean parameters."
          ]
        },
        "hideDefaultValue": {
          "type": "boolean",
          "description": "Whether the default value is hidden in the UI."
        },
        "uiPlaceholderText": {
          "type": "string",
          "description": "Placeholder text which will appear in the UI input form for this parameter."
        }
      }
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims": {
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "Value for the \"iss\" claim."
        },
        "audience": {
          "type": "string",
          "description": "Value for the \"aud\" claim."
        },
        "subject": {
          "description": "Value for the \"sub\" claim.",
          "type": "string"
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaParameterMap": {
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaParameterMapEntry"
          },
          "description": "A list of parameter map entries.",
          "type": "array"
        },
        "keyType": {
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "description": "Option to specify key type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string"
        },
        "valueType": {
          "description": "Option to specify value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaParameterMap"
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse": {
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse",
      "description": "Response for ArchiveIntegrationVersion.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoLogSettings": {
      "id": "EnterpriseCrmEventbusProtoLogSettings",
      "type": "object",
      "properties": {
        "logFieldName": {
          "description": "The name of corresponding logging field of the event property. If omitted, assumes the same name as the event property key.",
          "type": "string"
        },
        "seedScope": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Hash computations include the event name.",
            "Hash computations include a time period.",
            "Hash computations include the param name."
          ],
          "enum": [
            "SEED_SCOPE_UNSPECIFIED",
            "EVENT_NAME",
            "TIME_PERIOD",
            "PARAM_NAME"
          ]
        },
        "seedPeriod": {
          "enumDescriptions": [
            "",
            "Sanitized values remain constant for the day of the event.",
            "Sanitized values remain constant for the week of the event; may cross month boundaries.",
            "Sanitized values remain constant for the month of the event."
          ],
          "type": "string",
          "enum": [
            "SEED_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH"
          ]
        },
        "sanitizeOptions": {
          "description": "Contains the scrubbing options, such as whether to scrub, obfuscate, etc.",
          "$ref": "EnterpriseCrmLoggingGwsSanitizeOptions"
        },
        "shorteningLimits": {
          "description": "Contains the field limits for shortening, such as max string length and max array length.",
          "$ref": "EnterpriseCrmLoggingGwsFieldLimits"
        }
      },
      "description": "The LogSettings define the logging attributes for an event property. These attributes are used to map the property to the parameter in the log proto. Also used to define scrubbing/truncation behavior and PII information. See go/integration-platform/analytics/logging_task.md for details."
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQuery": {
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQuery",
      "properties": {
        "firstQuery": {
          "description": "Required. The components for constructing a mash query. Set \"point_operation\" if this is a single query",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent"
        },
        "operationMode": {
          "description": "Optional. optional, only set when joining 2 queries. By default join 2 queries with join operation.",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode"
        },
        "secondQuery": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent",
          "description": "Optional. optional, only set when joining 2 queries. Set \"point_operation\" for joined query."
        }
      },
      "description": "The MashQuery for searching data, set both queries for Join Operation.",
      "type": "object"
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesData": {
      "properties": {
        "rows": {
          "type": "array",
          "description": "A single Series Row",
          "items": {
            "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesDataRow"
          }
        }
      },
      "description": "Data used to render an Aplos Series card.",
      "type": "object",
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesData"
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "properties": {
        "accessTokenExpireTime": {
          "format": "google-datetime",
          "description": "Required. The approximate time until the access token retrieved is valid.",
          "type": "string"
        },
        "accessToken": {
          "description": "The access token encapsulating the security identity of a process or thread.",
          "type": "string"
        },
        "tokenType": {
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0.",
          "type": "string"
        },
        "refreshTokenExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The approximate time until the refresh token retrieved is valid."
        },
        "refreshToken": {
          "type": "string",
          "description": "If the access token will expire, use the refresh token to obtain another access token."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaAccessToken",
      "type": "object",
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data."
    },
    "EnterpriseCrmEventbusProtoStringFunction": {
      "id": "EnterpriseCrmEventbusProtoStringFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "CONCAT",
            "TO_UPPERCASE",
            "TO_LOWERCASE",
            "CONTAINS",
            "SPLIT",
            "LENGTH",
            "EQUALS",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_BASE_64",
            "TO_JSON",
            "EQUALS_IGNORE_CASE",
            "REPLACE_ALL",
            "SUBSTRING",
            "RESOLVE_TEMPLATE"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUsernameAndPassword": {
      "type": "object",
      "description": "Username and password pair.",
      "id": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
      "properties": {
        "password": {
          "description": "Password to be used",
          "type": "string"
        },
        "username": {
          "description": "Username to be used",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBooleanArrayFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
    },
    "EnterpriseCrmEventbusProtoPropertyEntry": {
      "description": "Key-value pair of EventBus property.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding property value. This should be unique for a given fired event. The Tasks should be aware of the keys used while firing the events for them to be able to retrieve the values."
        },
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        }
      },
      "id": "EnterpriseCrmEventbusProtoPropertyEntry",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaBooleanParameterArray": {
      "description": "This message only contains a field of boolean array.",
      "properties": {
        "booleanValues": {
          "type": "array",
          "description": "Boolean array.",
          "items": {
            "type": "boolean"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaBooleanParameterArray"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMap": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMap",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "keyType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoJsonFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET_PROPERTY",
            "GET_ELEMENT",
            "APPEND_ELEMENT",
            "SIZE",
            "SET_PROPERTY",
            "FLATTEN",
            "FLATTEN_ONCE",
            "MERGE",
            "TO_STRING",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_PROTO",
            "TO_STRING_ARRAY",
            "TO_INT_ARRAY",
            "TO_DOUBLE_ARRAY",
            "TO_PROTO_ARRAY",
            "TO_BOOLEAN_ARRAY",
            "REMOVE_PROPERTY",
            "RESOLVE_TEMPLATE",
            "EQUALS",
            "FOR_EACH",
            "FILTER_ELEMENTS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "next id: 24"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoJsonFunction"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshot": {
      "description": "Contains the snapshot of the execution for a given checkpoint.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshot",
      "properties": {
        "taskExecutionDetails": {
          "description": "All of the task execution details at the given point of time.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails"
          }
        },
        "params": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Parameters used during the execution.",
          "type": "object"
        },
        "checkpointTaskNumber": {
          "description": "Indicates \"after which checkpoint task's execution\" this snapshot is taken.",
          "type": "string"
        },
        "executionSnapshotMetadata": {
          "description": "Metadata of the execution snapshot.",
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaGenerateTokenResponse": {
      "id": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse",
      "type": "object",
      "properties": {
        "message": {
          "description": "The message that notifies the user if the request succeeded or not.",
          "type": "string"
        }
      },
      "description": "Returns success or error message"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule",
      "properties": {
        "intRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange"
        },
        "doubleRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
        },
        "stringRegex": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig": {
      "properties": {
        "durationThreshold": {
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "type": "string",
          "format": "google-duration"
        },
        "displayName": {
          "description": "Name of the alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the integration.",
          "type": "string"
        },
        "disableAlert": {
          "type": "boolean",
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this integration alert."
        },
        "alertThreshold": {
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "type": "integer",
          "format": "int32"
        },
        "thresholdType": {
          "enum": [
            "THRESHOLD_TYPE_UNSPECIFIED",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "enumDescriptions": [
            "Default.",
            "Note that this field will only trigger alerts if the integration specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours. Min value threshold.",
            "Max value threshold."
          ],
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "type": "string"
        },
        "metricType": {
          "type": "string",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing integration.",
            "Specifies alerting on the rate of warnings for the enclosing integration. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing integration.",
            "Specifies alerting on the rate of warnings for any task in the enclosing integration.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing integration.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this integration.",
            "Specifies alerting on the duration value of a particular percentile of integration executions. E.g. If 10% or more of the integration executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing integration,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing integration. E.g. If 10% or more of the task executions in the integration have durations above 5 seconds, alert."
          ],
          "description": "The type of metric."
        },
        "thresholdValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
          "description": "The metric value, above or below which the alert should be triggered."
        },
        "aggregationPeriod": {
          "type": "string",
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week). For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours."
        },
        "onlyFinalAttempt": {
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig",
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event."
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "properties": {
        "protoValues": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray"
    },
    "EnterpriseCrmEventbusProtoWorkflowAlertConfig": {
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event. See go/eventbus-alert-config-examples for examples of the different alerts that can be configured.",
      "id": "EnterpriseCrmEventbusProtoWorkflowAlertConfig",
      "properties": {
        "alertDisabled": {
          "type": "boolean",
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert."
        },
        "thresholdType": {
          "type": "string",
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ],
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ]
        },
        "metricType": {
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing workflow.",
            "Specifies alerting on the rate of warnings for the enclosing workflow. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing workflow.",
            "Specifies alerting on the rate of warnings for any task in the enclosing workflow.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing workflow.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this workflow.",
            "Specifies alerting on the duration value of a particular percentile of workflow executions. E.g. If 10% or more of the workflow executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing workflow,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing workflow. E.g. If 10% or more of the task executions in the workflow have durations above 5 seconds, alert."
          ],
          "type": "string"
        },
        "aggregationPeriod": {
          "type": "string",
          "description": "For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours."
        },
        "playbookUrl": {
          "description": "Link to a playbook for resolving the issue that triggered this alert.",
          "type": "string"
        },
        "durationThresholdMs": {
          "type": "string",
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "format": "int64"
        },
        "numAggregationPeriods": {
          "format": "int32",
          "type": "integer",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired."
        },
        "onlyFinalAttempt": {
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries.",
          "type": "boolean"
        },
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "clientId": {
          "description": "Client associated with this alert configuration.",
          "type": "string"
        },
        "alertName": {
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the workflow.",
          "type": "string"
        },
        "thresholdValue": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue",
          "description": "The metric value, above or below which the alert should be triggered. See go/eventbus-alert-config-examples."
        },
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "properties": {
        "operation": {
          "description": "Operation to perform using the configured connection.",
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EXECUTE_ACTION",
            "LIST_ENTITIES",
            "GET_ENTITY",
            "CREATE_ENTITY",
            "UPDATE_ENTITY",
            "DELETE_ENTITY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "connection": {
          "$ref": "EnterpriseCrmEventbusProtoConnectorsConnection",
          "description": "User-selected connection."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig"
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskEntity": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
      "properties": {
        "uiConfig": {
          "description": "UI configuration for this task Also associated with the METADATA mask.",
          "$ref": "EnterpriseCrmEventbusProtoTaskUiConfig"
        },
        "metadata": {
          "description": "Metadata inclueds the task name, author and so on.",
          "$ref": "EnterpriseCrmEventbusProtoTaskMetadata"
        },
        "stats": {
          "$ref": "EnterpriseCrmEventbusStats",
          "description": "Deprecated - statistics from the Monarch query."
        },
        "disabledForVpcSc": {
          "type": "boolean",
          "description": "True if the task has conflict with vpcsc"
        },
        "paramSpecs": {
          "description": "Declarations for inputs/outputs for a TypedTask. This is also associated with the METADATA mask.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage"
        },
        "taskType": {
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "description": "Defines the type of the task",
          "type": "string"
        }
      },
      "description": "Contains a task's metadata and associated information. Next available id: 7"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "description": "Field represents either the key or value in an entry.",
      "properties": {
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        },
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        }
      }
    },
    "EnterpriseCrmEventbusProtoIntArray": {
      "properties": {
        "values": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoIntArray"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest": {
      "properties": {
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used by integration execution."
        },
        "doNotPropagateError": {
          "type": "boolean",
          "description": "Optional. Flag to determine how to should propagate errors. If this flag is set to be true, it will not throw an exception. Instead, it will return a {@link ExecuteIntegrationsResponse} with an execution id and error messages as PostWithTriggerIdExecutionException in {@link EventParameters}. The flag is set to be false by default."
        },
        "executionId": {
          "type": "string",
          "description": "Optional. The id of the ON_HOLD execution to be resumed."
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
          "type": "string"
        },
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array"
        },
        "triggerId": {
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id). The trigger_id is in the format of `api_trigger/TRIGGER_NAME`.",
          "type": "string"
        },
        "parameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Optional. Passed in as parameters to each integration execution. Redacted"
        }
      },
      "description": "The request for executing an integration.",
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig.",
      "properties": {
        "absolute": {
          "format": "int64",
          "type": "string",
          "description": "Absolute value threshold."
        },
        "percentage": {
          "description": "Percentage threshold.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCloudSchedulerConfig": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations",
          "type": "string"
        },
        "cronTab": {
          "type": "string",
          "description": "Required. The cron tab of cloud scheduler trigger."
        },
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        },
        "serviceAccountEmail": {
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoCloudSchedulerConfig",
      "description": "Cloud Scheduler Trigger configuration"
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "description": "Represents a node identifier (type + id). Next highest id: 3",
      "properties": {
        "elementIdentifier": {
          "type": "string",
          "description": "Configuration of the edge."
        },
        "elementType": {
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ],
          "description": "Destination node where the edge ends. It can only be a task config.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "description": "The request for scheduling an integration.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest",
      "properties": {
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)"
        },
        "requestId": {
          "type": "string",
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        },
        "parameterEntries": {
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array"
        },
        "inputParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object",
          "description": "Optional. Input parameters used by integration execution."
        },
        "parameters": {
          "description": "Passed in as parameters to each integration execution.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "scheduleTime": {
          "type": "string",
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately.",
          "format": "google-datetime"
        }
      }
    },
    "EnterpriseCrmEventbusProtoTeardownTaskConfig": {
      "properties": {
        "name": {
          "description": "Required. Unique identifier of the teardown task within this Config. We use this field as the identifier to find next teardown tasks.",
          "type": "string"
        },
        "teardownTaskImplementationClassName": {
          "description": "Required. Implementation class name.",
          "type": "string"
        },
        "nextTeardownTask": {
          "$ref": "EnterpriseCrmEventbusProtoNextTeardownTask"
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address."
        },
        "properties": {
          "$ref": "EnterpriseCrmEventbusProtoEventBusProperties"
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "The parameters the user can pass to this task."
        }
      },
      "id": "EnterpriseCrmEventbusProtoTeardownTaskConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse": {
      "type": "object",
      "properties": {
        "integrationVersion": {
          "description": "Version after the lock is acquired by the new user.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse",
      "description": "Response for TakeoverEditLock."
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse",
      "properties": {},
      "description": "Response for Suspensions.ResolveSuspensions."
    },
    "EnterpriseCrmCardsTabularData": {
      "properties": {
        "rows": {
          "items": {
            "$ref": "EnterpriseCrmCardsRow"
          },
          "description": "Ordered list of table rows.",
          "type": "array"
        },
        "headers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Ordered list of column headers."
        }
      },
      "description": "The generic data format returned from all connectors.",
      "type": "object",
      "id": "EnterpriseCrmCardsTabularData"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails": {
      "properties": {
        "eventRetriesFromBeginningCount": {
          "format": "int32",
          "description": "Indicates the number of times the execution has restarted from the beginning.",
          "type": "integer"
        },
        "ryeLockUnheldCount": {
          "type": "integer",
          "format": "int32",
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/"
        },
        "eventExecutionState": {
          "description": "The execution state of this event.",
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ]
        },
        "networkAddress": {
          "type": "string",
          "description": "The network address (aka. bns address) that indicates where the event executor is running."
        },
        "eventExecutionSnapshot": {
          "description": "After snapshot migration, this field will no longer be populated, but old execution snapshots will still be accessible.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot"
          },
          "type": "array"
        },
        "nextExecutionTime": {
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD.",
          "format": "int64",
          "type": "string"
        },
        "logFilePath": {
          "type": "string",
          "description": "The log file path (aka. cns address) for this event."
        },
        "eventAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          }
        }
      },
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskUiConfig": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskUiConfig",
      "properties": {
        "taskUiModuleConfigs": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskUiModuleConfig"
          },
          "description": "Configurations of included config modules."
        }
      },
      "description": "Task authors would use this type to configure the UI for a particular task by specifying what UI config modules should be included to compose the UI. Learn more about config module framework: go/integration-platform-config-module-framework"
    },
    "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata": {
      "id": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata",
      "properties": {
        "entities": {
          "description": "List of entity names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "actions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of actions."
        }
      },
      "description": "Metadata of runtime connection schema.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoIntArrayFunction",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoNextTask": {
      "properties": {
        "taskNumber": {
          "type": "string",
          "description": "Task number of the next task."
        },
        "condition": {
          "description": "Standard filter expression for this task to become an eligible next task.",
          "type": "string"
        },
        "description": {
          "description": "User-provided description intended to give more business context about the next task edge or condition.",
          "type": "string"
        },
        "combinedConditions": {
          "description": "Combined condition for this task to become an eligible next task. Each of these combined_conditions are joined with logical OR. DEPRECATED: use `condition`",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCombinedCondition"
          },
          "type": "array"
        },
        "taskConfigId": {
          "description": "ID of the next task.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "User-provided label that is attached to this edge in the UI."
        }
      },
      "id": "EnterpriseCrmEventbusProtoNextTask",
      "type": "object",
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true."
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse": {
      "description": "Response for listing RuntimeEntitySchemas for a specific Connection.",
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse",
      "properties": {
        "runtimeEntitySchemas": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema"
          },
          "description": "Runtime entity schemas."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "properties": {
        "properties": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          },
          "type": "array",
          "description": "An unordered list of property entries."
        }
      },
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus. Please see go/cloud-crm-eng/platform/event_bus.md for more details.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "id": "EnterpriseCrmEventbusProtoBaseValue",
      "properties": {
        "baseFunction": {
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc.",
          "$ref": "EnterpriseCrmEventbusProtoFunction"
        },
        "referenceValue": {
          "description": "Start with a reference value to dereference.",
          "type": "string"
        },
        "literalValue": {
          "description": "Start with a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTriggerConfig": {
      "type": "object",
      "description": "Configuration detail of a trigger.",
      "properties": {
        "alertConfig": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig"
          },
          "type": "array",
          "description": "Optional. An alert threshold configuration for the [trigger + client + integration] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + integration] when published."
        },
        "triggerId": {
          "type": "string",
          "description": "Optional. The backend trigger ID."
        },
        "properties": {
          "description": "Optional. Configurable properties of the trigger, not to be confused with integration parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Pub/sub triggers.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "triggerNumber": {
          "description": "Required. A number to uniquely identify each trigger config within the integration on UI.",
          "type": "string"
        },
        "startTasks": {
          "description": "Optional. Set of tasks numbers from where the integration execution is started by this trigger. If this is empty, then integration is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same integration execution graph).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          }
        },
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "nextTasksExecutionPolicy": {
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "description": "Optional. Dictates how next tasks will be executed.",
          "type": "string"
        },
        "cloudSchedulerConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig",
          "description": "Optional. Cloud Scheduler Trigger related metadata"
        },
        "triggerType": {
          "type": "string",
          "description": "Optional. Type of trigger",
          "enumDescriptions": [
            "Unknown.",
            "Trigger by scheduled time.",
            "Trigger by API call.",
            "Trigger by Salesforce Channel.",
            "Trigger by Pub/Sub external.",
            "SFDC Channel Trigger for CDC.",
            "Trigger by Cloud Scheduler job."
          ],
          "enum": [
            "TRIGGER_TYPE_UNSPECIFIED",
            "CRON",
            "API",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "CLOUD_SCHEDULER"
          ]
        },
        "label": {
          "type": "string",
          "description": "Optional. The user created label for a particular trigger."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaTriggerConfig"
    },
    "EnterpriseCrmEventbusProtoExternalTraffic": {
      "properties": {
        "gcpProjectNumber": {
          "type": "string",
          "description": "User’s GCP project number the traffic is referring to."
        },
        "source": {
          "type": "string",
          "description": "LINT.ThenChange(//depot/google3/enterprise/crm/eventbus/proto/product.proto:product, //depot/google3/java/com/google/enterprise/crm/integrationplatform/api/utils/ConverterUtils.java:source_to_product)",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "APIGEE",
            "SECURITY"
          ]
        },
        "location": {
          "type": "string",
          "description": "Location for the user's request."
        },
        "gcpProjectId": {
          "description": "User’s GCP project id the traffic is referring to.",
          "type": "string"
        }
      },
      "description": "Represents external traffic type and id.",
      "id": "EnterpriseCrmEventbusProtoExternalTraffic",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoValueType": {
      "properties": {
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntArray"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "protoValue": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "stringValue": {
          "type": "string"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringArray"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArray"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        }
      },
      "description": "Used for define type for values. Currently supported value types include int, string, double, array, and any proto message.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoValueType"
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList": {
      "properties": {
        "enumStrings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "filterType": {
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      },
      "description": "List of error enums for alerts.",
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata",
      "description": "Metadata of the execution snapshot.",
      "properties": {
        "executionAttempt": {
          "type": "integer",
          "description": "the execution attempt number this snapshot belongs to.",
          "format": "int32"
        },
        "taskNumber": {
          "type": "string",
          "description": "The task number associated with this snapshot."
        },
        "task": {
          "description": "the task name associated with this snapshot.",
          "type": "string"
        },
        "taskAttempt": {
          "description": "the task attempt number this snapshot belongs to.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaValueType": {
      "properties": {
        "jsonValue": {
          "description": "Json.",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "description": "Double Number.",
          "format": "double"
        },
        "stringValue": {
          "description": "String.",
          "type": "string"
        },
        "stringArray": {
          "description": "String Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaStringParameterArray"
        },
        "intArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntParameterArray",
          "description": "Integer Array."
        },
        "booleanArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaBooleanParameterArray",
          "description": "Boolean Array."
        },
        "doubleArray": {
          "description": "Double Number Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaDoubleParameterArray"
        },
        "intValue": {
          "type": "string",
          "description": "Integer.",
          "format": "int64"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Boolean."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaValueType",
      "description": "The type of the parameter."
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "id": "EnterpriseCrmEventbusProtoStringArray",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaTaskConfig": {
      "type": "object",
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task.",
      "properties": {
        "nextTasks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "description": "Optional. The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true."
        },
        "successPolicy": {
          "description": "Optional. Determines what action to take upon successful task completion.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuccessPolicy"
        },
        "parameters": {
          "description": "Optional. The customized parameters the user can pass to this task.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaEventParameter"
          },
          "type": "object"
        },
        "failurePolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.)."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to this TaskConfig in the UI."
        },
        "taskExecutionStrategy": {
          "enum": [
            "TASK_EXECUTION_STRATEGY_UNSPECIFIED",
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "enumDescriptions": [
            "Default. If the strategy is not set explicitly, it will default to `WHEN_ALL_SUCCEED`.",
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "type": "string",
          "description": "Optional. The policy dictating the execution strategy of this task."
        },
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "task": {
          "type": "string",
          "description": "Optional. The name for the task."
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy"
        },
        "taskId": {
          "type": "string",
          "description": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`)."
        },
        "taskTemplate": {
          "type": "string",
          "description": "Optional. Used to define task-template name if task is of type task-template"
        },
        "jsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in IntegrationParameter.",
            "Validate all potential output JSON parameters against schemas specified in IntegrationParameter.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "enum": [
            "JSON_VALIDATION_OPTION_UNSPECIFIED",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "type": "string",
          "description": "Optional. If set, overrides the option configured in the Task implementation class."
        },
        "nextTasksExecutionPolicy": {
          "description": "Optional. The policy dictating the execution of the next set of tasks for the current task.",
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaTaskConfig"
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials": {
      "description": "For client credentials grant, the client sends a POST request with grant_type as 'client_credentials' to the authorization server. The authorization server will respond with a JSON object containing the access token.",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials",
      "properties": {
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "The client's ID."
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "Token parameters for the auth request."
        },
        "requestType": {
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "description": "Represent how to pass parameters to fetch access token",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "accessToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken",
          "description": "Access token fetched from the authorization server."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmLoggingGwsSanitizeOptions": {
      "type": "object",
      "description": "Identifies whether a field contains, or may contain, PII or sensitive data, and how to sanitize the field if it does. If a field's privacy type cannot be determined then it is sanitized (e.g., scrubbed). The specific sanitizer implementation is determined by run-time configuration and environment options (e.g., prod vs. qa). next_id: 5",
      "properties": {
        "privacy": {
          "enumDescriptions": [
            "",
            "Field does *NOT* contain PII or sensitive data.",
            "Field contains PII.",
            "Field contains Sensitive PII.",
            "Unsure if field contains PII."
          ],
          "type": "string",
          "enum": [
            "PRIVACY_TYPE_UNSPECIFIED",
            "NOT_PII",
            "PII",
            "SPII",
            "UNSURE"
          ]
        },
        "isAlreadySanitized": {
          "description": "If true, the value has already been sanitized and needs no further sanitization. For instance, a D3 customer id is already an obfuscated entity and *might not* need further sanitization.",
          "type": "boolean"
        },
        "logType": {
          "items": {
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ]
          },
          "description": "To which type(s) of logs the sanitize options apply.",
          "type": "array"
        },
        "sanitizeType": {
          "type": "string",
          "enum": [
            "SANITIZE_TYPE_UNSPECIFIED",
            "SCRUB",
            "ANONYMIZE",
            "ANONYMIZE_LIMITED_REPEATABLE",
            "OBFUSCATE",
            "ENCRYPT",
            "DO_NOT_SANITIZE"
          ],
          "enumDescriptions": [
            "",
            "Replace value with a scrubbed value (usu. a constant).",
[...]
