{
  "baseUrl": "https://integrations.googleapis.com/",
  "canonicalName": "Integrations",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "ownerName": "Google",
  "schemas": {
    "EnterpriseCrmEventbusProtoExecutionTraceInfo": {
      "description": "Message that helps aggregate all sub-executions triggered by one execution and keeps track of child-parent relationships.",
      "properties": {
        "traceId": {
          "type": "string",
          "description": "Used to aggregate ExecutionTraceInfo."
        },
        "parentEventExecutionInfoId": {
          "description": "Parent event execution info id that triggers the current execution through SubWorkflowExecutorTask.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
      "type": "object"
    },
    "GoogleCloudConnectorsV1ConfigVariable": {
      "type": "object",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Value is a string."
        },
        "intValue": {
          "description": "Value is an integer",
          "type": "string",
          "format": "int64"
        },
        "key": {
          "type": "string",
          "description": "Key of the config variable."
        },
        "boolValue": {
          "description": "Value is a bool.",
          "type": "boolean"
        },
        "secretValue": {
          "description": "Value is a secret.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      },
      "id": "GoogleCloudConnectorsV1ConfigVariable",
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig."
    },
    "EnterpriseCrmEventbusProtoScatterResponse": {
      "id": "EnterpriseCrmEventbusProtoScatterResponse",
      "type": "object",
      "properties": {
        "executionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The execution ids of each Subworkflow fired by this scatter."
        },
        "errorMsg": {
          "description": "The error message of the failure if applicable.",
          "type": "string"
        },
        "responseParams": {
          "type": "array",
          "description": "A list of all the response parameters in the aggregtorMap stored with the remapped key.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          }
        },
        "isSuccessful": {
          "type": "boolean",
          "description": "If execution is sync, this is true if the execution passed and false if it failed. If the execution is async, this is true if the WF was fired off successfully, and false if it failed to execute. The success or failure of the subworkflows executed are not captured."
        },
        "scatterElement": {
          "description": "The element that was scattered for this execution.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata": {
      "type": "object",
      "properties": {
        "actions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of actions."
        },
        "entities": {
          "type": "array",
          "description": "List of entity names.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata",
      "description": "Metadata of runtime connection schema."
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMap": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMap",
      "type": "object",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "valueType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "keyType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAccessToken",
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data.",
      "properties": {
        "refreshToken": {
          "description": "If the access token will expire, use the refresh token to obtain another access token.",
          "type": "string"
        },
        "refreshTokenExpireTime": {
          "description": "The approximate time until the refresh token retrieved is valid.",
          "type": "string",
          "format": "google-datetime"
        },
        "accessTokenExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The approximate time until the access token retrieved is valid."
        },
        "accessToken": {
          "description": "The access token encapsulating the security identity of a process or thread.",
          "type": "string"
        },
        "tokenType": {
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo",
      "properties": {
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED"
          ],
          "type": "string"
        },
        "lastModifiedTimestamp": {
          "description": "Auto-generated.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Required. ID of the associated execution."
        },
        "workflowName": {
          "type": "string",
          "description": "Required. The name of the originating workflow."
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "createdTimestamp": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "suspensionId": {
          "type": "string",
          "description": "Primary key for the SuspensionResolutionInfoTable."
        },
        "externalTraffic": {
          "description": "The origin of the suspension for periodic notifications.",
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic"
        },
        "taskNumber": {
          "description": "Required. Task number of the associated SuspensionTask.",
          "type": "string"
        },
        "product": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "type": "string",
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default."
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "properties": {
        "referenceKey": {
          "description": "Referencing one of the WF variables.",
          "type": "string"
        },
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      },
      "description": "Field represents either the key or value in an entry.",
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAuthToken": {
      "type": "object",
      "description": "The credentials to authenticate a user agent with a server that is put in HTTP Authorization request header.",
      "properties": {
        "token": {
          "type": "string",
          "description": "The token for the auth type."
        },
        "type": {
          "type": "string",
          "description": "Authentication type, e.g. \"Basic\", \"Bearer\", etc."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaAuthToken"
    },
    "EnterpriseCrmEventbusProtoEventExecutionSnapshot": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventExecutionSnapshot",
      "properties": {
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Points to the event execution info this snapshot belongs to."
        },
        "exceedMaxSize": {
          "description": "indicate whether snapshot exceeded maximum size before clean up",
          "type": "boolean"
        },
        "snapshotTime": {
          "description": "Indicates when this snapshot is taken.",
          "type": "string",
          "format": "int64"
        },
        "taskName": {
          "type": "string",
          "description": "The task name associated with this snapshot. Could be empty."
        },
        "diffParams": {
          "description": "The parameters in Event object that differs from last snapshot.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "checkpointTaskNumber": {
          "description": "Indicates \"right after which checkpoint task's execution\" this snapshot is taken.",
          "type": "string"
        },
        "eventParams": {
          "description": "The parameters in Event object.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "eventExecutionSnapshotMetadata": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        },
        "eventExecutionSnapshotId": {
          "type": "string",
          "description": "Auto-generated. Used as primary key for EventExecutionSnapshots table."
        },
        "conditionResults": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoConditionResult"
          },
          "description": "All of the computed conditions that been calculated.",
          "type": "array"
        },
        "taskExecutionDetails": {
          "description": "All of the task execution details at the given point of time.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
          }
        }
      },
      "description": "Contains the snapshot of the event execution for a given checkpoint. Next available id: 13"
    },
    "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration": {
      "description": "Expiration configs for the approval request.",
      "properties": {
        "liftWhenExpired": {
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior.",
          "type": "boolean"
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time after which the suspension expires, if no action taken.",
          "type": "string"
        },
        "remindTime": {
          "format": "google-datetime",
          "description": "Time after the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTeardown": {
      "id": "EnterpriseCrmEventbusProtoTeardown",
      "properties": {
        "teardownTaskConfigs": {
          "description": "Required.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTeardownTaskConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries": {
      "type": "object",
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries",
      "properties": {
        "data": {
          "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesData"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringFunction": {
      "id": "EnterpriseCrmEventbusProtoStringFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "CONCAT",
            "TO_UPPERCASE",
            "TO_LOWERCASE",
            "CONTAINS",
            "SPLIT",
            "LENGTH",
            "EQUALS",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_BASE_64",
            "TO_JSON",
            "EQUALS_IGNORE_CASE",
            "REPLACE_ALL",
            "SUBSTRING",
            "RESOLVE_TEMPLATE"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "type": "object",
      "properties": {
        "min": {
          "format": "double",
          "type": "number",
          "description": "The inclusive minimum of the acceptable range."
        },
        "max": {
          "format": "double",
          "type": "number",
          "description": "The inclusive maximum of the acceptable range."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange",
      "description": "Range used to validate doubles and floats."
    },
    "EnterpriseCrmEventbusProtoLogSettings": {
      "id": "EnterpriseCrmEventbusProtoLogSettings",
      "description": "The LogSettings define the logging attributes for an event property. These attributes are used to map the property to the parameter in the log proto. Also used to define scrubbing/truncation behavior and PII information. See go/integration-platform/analytics/logging_task.md for details.",
      "properties": {
        "seedScope": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Hash computations include the event name.",
            "Hash computations include a time period.",
            "Hash computations include the param name."
          ],
          "enum": [
            "SEED_SCOPE_UNSPECIFIED",
            "EVENT_NAME",
            "TIME_PERIOD",
            "PARAM_NAME"
          ]
        },
        "shorteningLimits": {
          "description": "Contains the field limits for shortening, such as max string length and max array length.",
          "$ref": "EnterpriseCrmLoggingGwsFieldLimits"
        },
        "logFieldName": {
          "description": "The name of corresponding logging field of the event property. If omitted, assumes the same name as the event property key.",
          "type": "string"
        },
        "seedPeriod": {
          "type": "string",
          "enum": [
            "SEED_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH"
          ],
          "enumDescriptions": [
            "",
            "Sanitized values remain constant for the day of the event.",
            "Sanitized values remain constant for the week of the event; may cross month boundaries.",
            "Sanitized values remain constant for the month of the event."
          ]
        },
        "sanitizeOptions": {
          "description": "Contains the scrubbing options, such as whether to scrub, obfuscate, etc.",
          "$ref": "EnterpriseCrmLoggingGwsSanitizeOptions"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest",
      "type": "object",
      "properties": {},
      "description": "Request for cancelling an execution."
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse",
      "properties": {
        "executionId": {
          "description": "The id of the execution corresponding to this run of integration.",
          "type": "string"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "OUTPUT parameters in format of Map. Where Key is the name of the parameter. Note: Name of the system generated parameters are wrapped by backtick(`) to distinguish them from the user defined parameters."
        },
        "parameterEntries": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "executionFailed": {
          "type": "boolean",
          "description": "Is true if any execution in the integration failed. False otherwise."
        },
        "eventParameters": {
          "description": "Details for the integration that were executed.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        }
      },
      "description": "The response for executing an integration."
    },
    "GoogleCloudIntegrationsV1alphaRuntimeActionSchema": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "description": "Name of the action."
        },
        "inputSchema": {
          "type": "string",
          "description": "Input parameter schema for the action."
        },
        "outputSchema": {
          "type": "string",
          "description": "Output parameter schema for the action."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema",
      "description": "Metadata of an action, including schemas for its inputs and outputs."
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials": {
      "description": "For resource owner credentials grant, the client will ask the user for their authorization credentials (ususally a username and password) and send a POST request to the authorization server. The authorization server will respond with a JSON object containing the access token.",
      "type": "object",
      "properties": {
        "tokenParams": {
          "description": "Token parameters for the auth request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "requestType": {
          "type": "string",
          "description": "Represent how to pass parameters to fetch access token",
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ]
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "username": {
          "description": "The user's username.",
          "type": "string"
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "accessToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken",
          "description": "Access token fetched from the authorization server."
        },
        "password": {
          "description": "The user's password.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "The client's ID."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials"
    },
    "EnterpriseCrmEventbusProtoFailurePolicy": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFailurePolicy",
      "properties": {
        "maxNumRetries": {
          "format": "int32",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the number of times the task will be retried if failed.",
          "type": "integer"
        },
        "intervalInSeconds": {
          "type": "string",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the initial interval for backoff.",
          "format": "int64"
        },
        "retryStrategy": {
          "enumDescriptions": [
            "",
            "Ignores the failure of this task. The rest of the workflow will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the workflow.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified.",
            "The entire workflow will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified."
          ],
          "enum": [
            "UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_WORKFLOW_WITH_BACKOFF"
          ],
          "description": "Defines what happens to the task upon failure.",
          "type": "string"
        }
      },
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied)."
    },
    "GoogleCloudIntegrationsV1alphaListExecutionsResponse": {
      "description": "Response for listing the integration execution data.",
      "id": "GoogleCloudIntegrationsV1alphaListExecutionsResponse",
      "type": "object",
      "properties": {
        "executionInfos": {
          "description": "Required. The detailed information of requested executions.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo"
          }
        },
        "executions": {
          "description": "The detailed information of requested executions",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest": {
      "description": "Request for DeactivateIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest",
      "type": "object",
      "properties": {}
    },
    "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray",
      "type": "object",
      "properties": {
        "doubleValues": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest": {
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest",
      "properties": {},
      "type": "object",
      "description": "Request for TakeoverEditLock."
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "id": "EnterpriseCrmEventbusProtoBaseValue",
      "type": "object",
      "properties": {
        "referenceValue": {
          "type": "string",
          "description": "Start with a reference value to dereference."
        },
        "baseFunction": {
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc.",
          "$ref": "EnterpriseCrmEventbusProtoFunction"
        },
        "literalValue": {
          "description": "Start with a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Auto-generated."
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "taskId": {
          "description": "Required. Task id of the associated SuspensionTask.",
          "type": "string"
        },
        "lastModifyTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Auto-generated."
        },
        "name": {
          "description": "Resource name for suspensions suspension/{suspension_id}",
          "type": "string"
        },
        "approvalConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig",
          "description": "Controls the notifications and approval permissions for this suspension."
        },
        "suspensionConfig": {
          "description": "Controls the notifications and resolver permissions for this suspension.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "state": {
          "type": "string",
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ],
          "description": "Required. State of this suspension, indicating what action a resolver has taken.",
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ]
        },
        "audit": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
          "description": "Metadata pertaining to the resolution of this suspension."
        },
        "integration": {
          "description": "Required. The name of the originating integration.",
          "type": "string"
        }
      },
      "description": "A record representing a suspension.",
      "id": "GoogleCloudIntegrationsV1alphaSuspension"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleRequest": {
      "description": "Request for ArchiveBundle.",
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig": {
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig",
      "properties": {},
      "description": "Join Operation",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventParameters": {
      "type": "object",
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "id": "EnterpriseCrmEventbusProtoEventParameters",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoProtoArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoProtoArrayFunction",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest": {
      "description": "Request for ValidateIntegrationVersion.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest"
    },
    "GoogleCloudConnectorsV1DestinationConfig": {
      "description": "Define the Connectors target endpoint.",
      "properties": {
        "destinations": {
          "type": "array",
          "description": "The destinations for the key.",
          "items": {
            "$ref": "GoogleCloudConnectorsV1Destination"
          }
        },
        "key": {
          "type": "string",
          "description": "The key is the destination identifier that is supported by the Connector."
        }
      },
      "id": "GoogleCloudConnectorsV1DestinationConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion",
      "description": "IntegrationTemplateVersion definition. An IntegrationTemplateVersion provides configurations required to construct an IntegrationVersion. It cannot be executed directly like an Integration. Users can create IntegrationTemplateVersions using Integrations. These Templates can be shared by users across GCP projects.",
      "properties": {
        "parentIntegrationVersionId": {
          "type": "string",
          "description": "Optional. ID of the IntegrationVersion that was used to create this IntegrationTemplateVersion"
        },
        "teardown": {
          "$ref": "EnterpriseCrmEventbusProtoTeardown",
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code."
        },
        "databasePersistencePolicy": {
          "type": "string",
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index.",
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data."
          ],
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED"
          ]
        },
        "name": {
          "description": "Output only. Auto-generated primary key. Format: projects/{project}/locations/{location}/products/{product}/integrationtemplates/{integrationtemplate}/versions/{version}",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "description": "Optional. Generated by eventbus. User should not set it as an input.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Auto-generated."
        },
        "userLabel": {
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created.",
          "type": "string"
        },
        "triggerConfigs": {
          "description": "Optional. Trigger configurations.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          }
        },
        "snapshotNumber": {
          "format": "int64",
          "description": "Output only. An increasing sequence that is set when a new snapshot is created.",
          "readOnly": true,
          "type": "string"
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "Optional. The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "description": {
          "description": "Optional. The templateversion description. Permitted format is alphanumeric with underscores and no spaces.",
          "type": "string"
        },
        "templateParameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
          "description": "Optional. Parameters that are expected to be passed to the IntegrationTemplateVersion when an event is triggered. This consists of all the parameters that are expected in the IntegrationTemplateVersion execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "taskConfigs": {
          "description": "Optional. Task configuration for the IntegrationTemplateVersion. It's optional, but the IntegrationTemplateVersion doesn't do anything without task_configs.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaStringParameterArray": {
      "description": "This message only contains a field of string array.",
      "properties": {
        "stringValues": {
          "type": "array",
          "description": "String array.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaStringParameterArray",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry": {
      "description": "Key-value pair of EventBus task parameters. Next id: 13",
      "properties": {
        "isDeprecated": {
          "type": "boolean",
          "description": "If set, this entry is deprecated, so further use of this parameter should be prohibited."
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given task. These parameters must be predefined in the workflow definition.",
          "type": "string"
        },
        "isOutput": {
          "type": "boolean"
        },
        "validationRule": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule",
          "description": "Rule used to validate inputs (individual values and collection elements) for this parameter."
        },
        "collectionElementClassName": {
          "type": "string",
          "description": "If it is a collection of objects, this would be the FCQN of every individual element in the collection. If this is \"java.lang.Object\", the parameter is a collection of any type."
        },
        "className": {
          "description": "The FQCN of the Java object this represents. A string, for example, would be \"java.lang.String\". If this is \"java.lang.Object\", the parameter can be of any type.",
          "type": "string"
        },
        "protoDef": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition",
          "description": "Populated if this represents a proto or proto array."
        },
        "required": {
          "description": "If set, the user must provide an input value for this parameter.",
          "type": "boolean"
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "description": "The data type of the parameter.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "jsonSchema": {
          "type": "string",
          "description": "If the data_type is JSON_VALUE, then this will define its schema."
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "config": {
          "description": "Optional fields, such as help text and other useful info.",
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryConfig"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
    },
    "GoogleCloudIntegrationsV1alphaValueType": {
      "id": "GoogleCloudIntegrationsV1alphaValueType",
      "description": "The type of the parameter.",
      "properties": {
        "doubleValue": {
          "description": "Double Number.",
          "type": "number",
          "format": "double"
        },
        "intArray": {
          "description": "Integer Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntParameterArray"
        },
        "stringArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaStringParameterArray",
          "description": "String Array."
        },
        "doubleArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaDoubleParameterArray",
          "description": "Double Number Array."
        },
        "stringValue": {
          "type": "string",
          "description": "String."
        },
        "intValue": {
          "type": "string",
          "description": "Integer.",
          "format": "int64"
        },
        "booleanArray": {
          "description": "Boolean Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaBooleanParameterArray"
        },
        "jsonValue": {
          "description": "Json.",
          "type": "string"
        },
        "booleanValue": {
          "description": "Boolean.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaParameterMapField": {
      "properties": {
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the Integration variables."
        },
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "GoogleCloudIntegrationsV1alphaValueType"
        }
      },
      "type": "object",
      "description": "Field represents either the key or value in an entry.",
      "id": "GoogleCloudIntegrationsV1alphaParameterMapField"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshot": {
      "properties": {
        "taskExecutionDetails": {
          "description": "All of the task execution details at the given point of time.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails"
          }
        },
        "executionSnapshotMetadata": {
          "description": "Metadata of the execution snapshot.",
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata"
        },
        "params": {
          "description": "Parameters used during the execution.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "checkpointTaskNumber": {
          "type": "string",
          "description": "Indicates \"after which checkpoint task's execution\" this snapshot is taken."
        }
      },
      "type": "object",
      "description": "Contains the snapshot of the execution for a given checkpoint.",
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshot"
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleRequest": {
      "type": "object",
      "description": "THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request message for Bundle update",
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "It contains the updated bundle data"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleRequest"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventParameters": {
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same workflow execution.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleResponse": {
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse",
      "properties": {},
      "type": "object",
      "description": "Response for ArchiveBundle."
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "properties": {
        "intValues": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoIntParameterArray",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
      "type": "object",
      "properties": {
        "percentage": {
          "type": "integer",
          "description": "Percentage threshold.",
          "format": "int32"
        },
        "absolute": {
          "format": "int64",
          "description": "Absolute value threshold.",
          "type": "string"
        }
      },
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig."
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "type": "object",
      "description": "Use this request to post all workflows associated with a given trigger id. Next available id: 10",
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens."
        },
        "testMode": {
          "type": "boolean",
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}."
        },
        "priority": {
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "description": "The request priority this request should be processed at. For internal users:",
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ],
          "type": "string"
        },
        "clientId": {
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients.",
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required."
        },
        "scheduledTime": {
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled.",
          "type": "string",
          "format": "int64"
        },
        "workflowName": {
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow.",
          "type": "string"
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each workflow execution. Optional."
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "type": "boolean",
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode": {
      "properties": {
        "tokenEndpoint": {
          "description": "The token url endpoint to send the token request to.",
          "type": "string"
        },
        "authCode": {
          "description": "The Auth Code that is used to initially retrieve the access token.",
          "type": "string"
        },
        "accessToken": {
          "description": "The access token received from the token endpoint.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "The token parameters sent along with the token request."
        },
        "authEndpoint": {
          "description": "The auth url endpoint to send the auth code request to.",
          "type": "string"
        },
        "requestType": {
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "type": "string",
          "description": "Represent how to pass parameters to fetch access token",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ]
        },
        "clientId": {
          "description": "The client's id.",
          "type": "string"
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "applyReauthPolicy": {
          "type": "boolean",
          "description": "Indicates if the user has opted in Google Reauth Policy. If opted in, the refresh token will be valid for 20 hours, after which time users must re-authenticate in order to obtain a new one."
        },
        "authParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "The auth parameters sent along with the auth code request."
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
      "type": "object",
      "description": "The OAuth Type where the client sends request with the client id and requested scopes to auth endpoint. User sees a consent screen and auth code is received at specified redirect url afterwards. The auth code is then combined with the client id and secret and sent to the token endpoint in exchange for the access and refresh token. The refresh token can be used to fetch new access tokens."
    },
    "EnterpriseCrmEventbusProtoDoubleArray": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleArray"
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "type": "object",
      "properties": {
        "protoValues": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleResponse": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "It contains the bundle data"
        },
        "triggerId": {
          "description": "trigger_id of the bundle task",
          "type": "string"
        }
      },
      "description": "Response for create bundle.",
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition": {
      "properties": {
        "path": {
          "description": "Path to the proto file that contains the message type's definition.",
          "type": "string"
        },
        "fullName": {
          "type": "string",
          "description": "The fully-qualified proto name. This message, for example, would be \"enterprise.crm.eventbus.proto.ParamSpecEntry.ProtoDefinition\"."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "TO_STRING",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "ROUND",
            "FLOOR",
            "CEIL",
            "GREATER_THAN",
            "LESS_THAN",
            "EQUALS",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "MOD"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoDoubleFunction"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQuery": {
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQuery",
      "description": "The MashQuery for searching data, set both queries for Join Operation.",
      "type": "object",
      "properties": {
        "secondQuery": {
          "description": "Optional. optional, only set when joining 2 queries. Set \"point_operation\" for joined query.",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent"
        },
        "operationMode": {
          "description": "Optional. optional, only set when joining 2 queries. By default join 2 queries with join operation.",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode"
        },
        "firstQuery": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent",
          "description": "Required. The components for constructing a mash query. Set \"point_operation\" if this is a single query"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSfdcInstance": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the instance is created",
          "readOnly": true,
          "format": "google-datetime"
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the instance was deleted. Empty if not deleted."
        },
        "authConfigId": {
          "description": "A list of AuthConfigs that can be tried to open the channel to SFDC",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceAuthority": {
          "description": "URL used for API calls after authentication (the login authority is configured within the referenced AuthConfig).",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the instance was last updated",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "User selected unique name/alias to easily reference an instance.",
          "type": "string"
        },
        "sfdcOrgId": {
          "type": "string",
          "description": "The SFDC Org Id. This is defined in salesforce."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/sfdcInstances/{sfdcInstance}."
        },
        "description": {
          "description": "A description of the sfdc instance.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The SfdcInstance resource use to hold channels and connection config data.",
      "id": "GoogleCloudIntegrationsV1alphaSfdcInstance"
    },
    "EnterpriseCrmEventbusProtoParameterValueType": {
      "properties": {
        "booleanValue": {
          "type": "boolean"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmEventbusProtoProtoParameterArray"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmEventbusProtoSerializedObjectParameter"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleParameterArray"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntParameterArray"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringParameterArray"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanParameterArray"
        },
        "intValue": {
          "format": "int64",
          "type": "string"
        },
        "stringValue": {
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterValueType",
      "description": "LINT.IfChange To support various types of parameter values. Next available id: 14",
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfig": {
      "description": "AuthConfig defines details of a authentication type.",
      "properties": {
        "additionalVariables": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "description": "List containing additional auth configs."
        },
        "oauth2ClientCredentials": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
          "description": "Oauth2ClientCredentials."
        },
        "authType": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW"
          ],
          "type": "string",
          "description": "The type of authentication configured.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow"
          ]
        },
        "sshPublicKey": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
          "description": "SSH Public Key."
        },
        "oauth2JwtBearer": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
          "description": "Oauth2JwtBearer."
        },
        "userPassword": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigUserPassword",
          "description": "UserPassword."
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfig"
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse": {
      "description": "Response for PublishIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode": {
      "type": "object",
      "description": "Operation between 2 query",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode",
      "properties": {
        "unionConfig": {
          "description": "Optional. union operation",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig"
        },
        "joinConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig",
          "description": "Optional. join operation"
        },
        "operationType": {
          "description": "Optional. optional operation types.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "UNION",
            "JOIN"
          ],
          "enumDescriptions": [
            "By default join.",
            "Union operation",
            "Join Operation"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse": {
      "properties": {
        "aplosSeriesListData": {
          "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesListData",
          "description": "List of points."
        },
        "tableData": {
          "description": "Data in form of table.",
          "$ref": "EnterpriseCrmCardsTabularData"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse",
      "type": "object",
      "description": "The response for getting Execution stats."
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "properties": {
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        },
        "parameterEntries": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each integration execution."
        },
        "scheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately."
        },
        "inputParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used by integration execution.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "The request for scheduling an integration.",
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          },
          "description": "An unordered list of property entries."
        }
      },
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus. Please see go/cloud-crm-eng/platform/event_bus.md for more details."
    },
    "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse": {
      "properties": {
        "sfdcInstances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
          },
          "description": "The list of SfdcInstances retrieved."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        }
      },
      "description": "Response to list SfdcInstances.",
      "id": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse": {
      "description": "Response for Suspensions.ResolveSuspensions.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse"
    },
    "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse",
      "description": "Response to list AuthConfigs.",
      "properties": {
        "authConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
          },
          "description": "The list of AuthConfigs retrieved."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterEntry": {
      "id": "EnterpriseCrmEventbusProtoParameterEntry",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        }
      },
      "description": "Key-value pair of EventBus parameters."
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "description": "Field represents either the key or value in an entry.",
      "properties": {
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        },
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuccessPolicy": {
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "properties": {
        "finalState": {
          "enum": [
            "UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuccessPolicy"
    },
    "EnterpriseCrmFrontendsEventbusProtoIntParameterArray": {
      "type": "object",
      "properties": {
        "intValues": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent": {
      "type": "object",
      "properties": {
        "dataFilters": {
          "items": {
            "type": "string"
          },
          "description": "Optional. optional, filters on fetched data, \"metric:client_id\" not supported.",
          "type": "array"
        },
        "fetchFilters": {
          "items": {
            "type": "string"
          },
          "description": "Optional. optional, filters for Fetch Raw, \"metric:client_id\" not supported.",
          "type": "array"
        },
        "pointOperation": {
          "type": "string",
          "description": "Optional. optional, Point Operation on single query or joined query."
        },
        "groupBy": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy",
          "description": "Optional. optional, GroupBy variables."
        },
        "timeDelta": {
          "description": "Required. Window time delta.",
          "type": "string"
        },
        "borgTaskMetric": {
          "enumDescriptions": [
            "Unknown metric",
            "Metric end with: \"/task/individual_count\".",
            "Metric end with: \"/event/count\".",
            "Metric end with: \"/event/duration\".",
            "Metric end with: \"/task/individual_duration\"."
          ],
          "type": "string",
          "description": "Required. The metric for monarch.BorgTask.",
          "enum": [
            "BORG_TASK_METRIC_UNSPECIFIED",
            "TASK_INDIVIDUAL_COUNT",
            "EVENT_COUNT",
            "EVENT_DURATION",
            "TASK_INDIVIDUAL_DURATION"
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent",
      "description": "The components for constructing MashQuery."
    },
    "GoogleCloudIntegrationsV1alphaSuspensionAudit": {
      "properties": {
        "resolver": {
          "description": "Email address of the person who resolved this suspension.",
          "type": "string"
        },
        "resolveTime": {
          "description": "Time at which this suspension was resolved.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
      "description": "Contains when and by whom the suspension was resolved.",
      "type": "object"
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesData": {
      "properties": {
        "rows": {
          "description": "A single Series Row",
          "items": {
            "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesDataRow"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesData",
      "description": "Data used to render an Aplos Series card."
    },
    "GoogleCloudIntegrationsV1alphaParameterMapEntry": {
      "description": "Entry is a pair of key and value.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaParameterMapEntry",
      "properties": {
        "key": {
          "description": "Key of the map entry.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField"
        },
        "value": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField",
          "description": "Value of the map entry."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest",
      "description": "Request for [Suspensions.ResolveSuspensions].",
      "type": "object",
      "properties": {
        "suspension": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspension",
          "description": "Suspension, containing the event_execution_info_id, task_id, and state to set on the corresponding suspension record."
        }
      }
    },
    "EnterpriseCrmEventbusProtoNotification": {
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "type": "string"
        },
        "buganizerNotification": {
          "$ref": "EnterpriseCrmEventbusProtoBuganizerNotification"
        },
        "escalatorQueue": {
          "type": "string"
        },
        "request": {
          "description": "If the out-of-the-box email/pubsub notifications are not suitable and custom logic is required, fire a workflow containing all info needed to notify users to resume execution.",
          "$ref": "EnterpriseCrmEventbusProtoCustomSuspensionRequest"
        },
        "emailAddress": {
          "$ref": "EnterpriseCrmEventbusProtoAddress"
        }
      },
      "id": "EnterpriseCrmEventbusProtoNotification"
    },
    "EnterpriseCrmEventbusProtoPropertyEntry": {
      "type": "object",
      "properties": {
        "key": {
          "description": "Key is used to retrieve the corresponding property value. This should be unique for a given fired event. The Tasks should be aware of the keys used while firing the events for them to be able to retrieve the values.",
          "type": "string"
        },
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        }
      },
      "id": "EnterpriseCrmEventbusProtoPropertyEntry",
      "description": "Key-value pair of EventBus property."
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer": {
      "properties": {
        "jwtClaims": {
          "description": "JwtClaims providers fields to generate the token.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims"
        },
        "clientKey": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`."
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleRequest": {
      "type": "object",
      "properties": {
        "secondaryCustomerOrgId": {
          "description": "Optional. The prefix for the SA, it should be in the format \"o\". This is an optional field, and if empty service account will be created per project, where we are creating bundle. This should only be used as the org ID for which we want to run the integrations in the bundle.",
          "type": "string"
        },
        "bundleId": {
          "description": "Required. name of the bundle that will be created",
          "type": "string"
        },
        "integrations": {
          "description": "A list of integrations that can be executed by the bundle",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request to create a new Bundle.",
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleRequest"
    },
    "EnterpriseCrmCardsTabularData": {
      "type": "object",
      "properties": {
        "rows": {
          "items": {
            "$ref": "EnterpriseCrmCardsRow"
          },
          "type": "array",
          "description": "Ordered list of table rows."
        },
        "headers": {
          "description": "Ordered list of column headers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "EnterpriseCrmCardsTabularData",
      "description": "The generic data format returned from all connectors."
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest": {
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the Apps Script project to be linked."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest",
      "description": "Request for LinkAppsScriptProject rpc call."
    },
    "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse": {
      "type": "object",
      "description": "Response containing all provisioned regions for Connector Platform.",
      "properties": {
        "regions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All regions where Connector Platform is provisioned."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse"
    },
    "EnterpriseCrmEventbusProtoCombinedCondition": {
      "type": "object",
      "description": "This message recursively combines constituent conditions using logical AND.",
      "id": "EnterpriseCrmEventbusProtoCombinedCondition",
      "properties": {
        "conditions": {
          "description": "A set of individual constituent conditions.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCondition"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse": {
      "description": "Response for listing the integration execution snapshot.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse",
      "properties": {
        "executionSnapshots": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          },
          "type": "array",
          "description": "Required. The detailed information for the execution snapshot."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token returned in the previous response."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListSuspensionsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results.",
          "type": "string"
        },
        "suspensions": {
          "type": "array",
          "description": "The suspensions for the relevant execution which the caller has permissions to view and resolve.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSuspension"
          }
        }
      },
      "description": "Response for Suspensions.ListSuspensions."
    },
    "EnterpriseCrmEventbusProtoDoubleArrayFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoDoubleArrayFunction",
      "type": "object"
    },
    "GoogleCloudConnectorsV1Connection": {
      "type": "object",
      "properties": {
        "lockConfig": {
          "$ref": "GoogleCloudConnectorsV1LockConfig",
          "description": "Optional. Configuration that indicates whether or not the Connection can be edited."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Created time.",
          "format": "google-datetime"
        },
        "serviceAccount": {
          "description": "Optional. Service account needed for runtime plane to access GCP resources.",
          "type": "string"
        },
        "nodeConfig": {
          "$ref": "GoogleCloudConnectorsV1NodeConfig",
          "description": "Optional. Configuration for the connection."
        },
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Updated time.",
          "type": "string"
        },
        "connectorVersion": {
          "type": "string",
          "description": "Required. Connector version on which the connection is created. The format is: projects/*/locations/*/providers/*/connectors/*/versions/* Only global location is supported for ConnectorVersion resource."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object"
        },
        "envoyImageLocation": {
          "type": "string",
          "description": "Output only. GCR location where the envoy image is stored. formatted like: gcr.io/{bucketName}/{imageName}",
          "readOnly": true
        },
        "configVariables": {
          "type": "array",
          "description": "Optional. Configuration for configuring the connection with an external system.",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          }
        },
        "authConfig": {
          "description": "Optional. Configuration for establishing the connection's authentication with an external system.",
          "$ref": "GoogleCloudConnectorsV1AuthConfig"
        },
        "serviceDirectory": {
          "description": "Output only. The name of the Service Directory service name. Used for Private Harpoon to resolve the ILB address. e.g. \"projects/cloud-connectors-e2e-testing/locations/us-central1/namespaces/istio-system/services/istio-ingressgateway-connectors\"",
          "readOnly": true,
          "type": "string"
        },
        "destinationConfigs": {
          "description": "Optional. Configuration of the Connector's destination. Only accepted for Connectors that accepts user defined destination(s).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudConnectorsV1DestinationConfig"
          }
        },
        "suspended": {
          "type": "boolean",
          "description": "Optional. Suspended indicates if a user has suspended a connection or not."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Current status of the connection.",
          "$ref": "GoogleCloudConnectorsV1ConnectionStatus"
        },
        "imageLocation": {
          "type": "string",
          "description": "Output only. GCR location where the runtime image is stored. formatted like: gcr.io/{bucketName}/{imageName}",
          "readOnly": true
        }
      },
      "id": "GoogleCloudConnectorsV1Connection",
      "description": "Connection represents an instance of connector."
    },
    "GoogleCloudIntegrationsV1alphaBooleanParameterArray": {
      "id": "GoogleCloudIntegrationsV1alphaBooleanParameterArray",
      "properties": {
        "booleanValues": {
          "type": "array",
          "items": {
            "type": "boolean"
          },
          "description": "Boolean array."
        }
      },
      "description": "This message only contains a field of boolean array.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListConnectionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "connections": {
          "type": "array",
          "description": "Connections.",
          "items": {
            "$ref": "GoogleCloudConnectorsV1Connection"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListConnectionsResponse",
      "type": "object",
      "description": "Response containing Connections listed by region."
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMap",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "keyType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this."
        },
        "valueType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata": {
      "properties": {
        "taskName": {
          "type": "string",
          "description": "the task name associated with this snapshot. Could be empty."
        },
        "taskNumber": {
          "description": "The task number associated with this snapshot. Could be empty.",
          "type": "string"
        },
        "eventAttemptNum": {
          "format": "int32",
          "type": "integer",
          "description": "the event attempt number this snapshot belongs to."
        },
        "taskAttemptNum": {
          "type": "integer",
          "description": "the task attempt number this snapshot belongs to. Could be empty.",
          "format": "int32"
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTriggerConfig": {
      "id": "GoogleCloudIntegrationsV1alphaTriggerConfig",
      "type": "object",
      "description": "Configuration detail of a trigger.",
      "properties": {
        "label": {
          "type": "string",
          "description": "Optional. The user created label for a particular trigger."
        },
        "alertConfig": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig"
          },
          "type": "array",
          "description": "Optional. An alert threshold configuration for the [trigger + client + integration] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + integration] when published."
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Configurable properties of the trigger, not to be confused with integration parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Pub/sub triggers."
        },
        "triggerNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each trigger config within the integration on UI."
        },
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "startTasks": {
          "description": "Optional. Set of tasks numbers from where the integration execution is started by this trigger. If this is empty, then integration is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same integration execution graph).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          }
        },
        "triggerType": {
          "description": "Optional. Type of trigger",
          "enumDescriptions": [
            "Unknown.",
            "Trigger by scheduled time.",
            "Trigger by API call.",
            "Trigger by Salesforce Channel.",
            "Trigger by Pub/Sub external.",
            "SFDC Channel Trigger for CDC."
          ],
          "type": "string",
          "enum": [
            "TRIGGER_TYPE_UNSPECIFIED",
            "CRON",
            "API",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL"
          ]
        },
        "triggerId": {
[...]
