{
  "id": "integrations:v1alpha",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "batchPath": "batch",
  "version": "v1alpha",
  "basePath": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "rootUrl": "https://integrations.googleapis.com/",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaCancelExecutionRequest": {
      "description": "Request for cancelling an execution.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest",
      "type": "object",
      "description": "The request for executing an integration.",
      "properties": {
        "doNotPropagateError": {
          "description": "Optional. Flag to determine how to should propagate errors. If this flag is set to be true, it will not throw an exception. Instead, it will return a {@link ExecuteIntegrationsResponse} with an execution id and error messages as PostWithTriggerIdExecutionException in {@link EventParameters}. The flag is set to be false by default.",
          "type": "boolean"
        },
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array",
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        },
        "executionId": {
          "description": "Optional. The id of the ON_HOLD execution to be resumed.",
          "type": "string"
        },
        "triggerId": {
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id). The trigger_id is in the format of `api_trigger/TRIGGER_NAME`.",
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "description": "Optional. Input parameters used by integration execution.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "parameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Optional. Passed in as parameters to each integration execution. Redacted"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "type": "object",
      "properties": {
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)",
          "type": "string"
        },
        "scheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately."
        },
        "parameters": {
          "description": "Passed in as parameters to each integration execution.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "requestId": {
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object",
          "description": "Optional. Input parameters used by integration execution."
        },
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest",
      "description": "The request for scheduling an integration."
    },
    "EnterpriseCrmEventbusProtoConnectorsConnection": {
      "properties": {
        "connectorVersion": {
          "type": "string",
          "description": "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}"
        },
        "connectionName": {
          "type": "string",
          "description": "Connection name Format: projects/{project}/locations/{location}/connections/{connection}"
        },
        "serviceName": {
          "type": "string",
          "description": "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoConnectorsConnection"
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "type": "object",
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "description": "Use this request to post all workflows associated with a given trigger id. Next available id: 10",
      "properties": {
        "priority": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "description": "The request priority this request should be processed at. For internal users:",
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ]
        },
        "parameters": {
          "description": "Passed in as parameters to each workflow execution. Optional.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "testMode": {
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}.",
          "type": "boolean"
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "type": "boolean",
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default."
        },
        "workflowName": {
          "type": "string",
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow."
        },
        "clientId": {
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients.",
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens."
        },
        "scheduledTime": {
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "description": "A record representing a suspension.",
      "properties": {
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "audit": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
          "description": "Metadata pertaining to the resolution of this suspension."
        },
        "lastModifyTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Auto-generated.",
          "readOnly": true
        },
        "approvalConfig": {
          "description": "Controls the notifications and approval permissions for this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Auto-generated.",
          "type": "string"
        },
        "taskId": {
          "type": "string",
          "description": "Required. Task id of the associated SuspensionTask."
        },
        "suspensionConfig": {
          "description": "Controls the notifications and resolver permissions for this suspension.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "name": {
          "description": "Resource name for suspensions suspension/{suspension_id}",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Required. State of this suspension, indicating what action a resolver has taken.",
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ],
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ]
        },
        "integration": {
          "description": "Required. The name of the originating integration.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSuspension"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig.",
      "type": "object",
      "properties": {
        "percentage": {
          "format": "int32",
          "description": "Percentage threshold.",
          "type": "integer"
        },
        "absolute": {
          "type": "string",
          "format": "int64",
          "description": "Absolute value threshold."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion": {
      "type": "object",
      "description": "IntegrationTemplateVersion definition. An IntegrationTemplateVersion provides configurations required to construct an IntegrationVersion. It cannot be executed directly like an Integration. Users can create IntegrationTemplateVersions using Integrations. These Templates can be shared by users across GCP projects.",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion",
      "properties": {
        "snapshotNumber": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. An increasing sequence that is set when a new snapshot is created.",
          "type": "string"
        },
        "teardown": {
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code.",
          "$ref": "EnterpriseCrmEventbusProtoTeardown"
        },
        "userLabel": {
          "type": "string",
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created."
        },
        "name": {
          "description": "Output only. Auto-generated primary key. Format: projects/{project}/locations/{location}/products/{product}/integrationtemplates/{integrationtemplate}/versions/{version}",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Auto-generated.",
          "type": "string",
          "readOnly": true
        },
        "triggerConfigs": {
          "type": "array",
          "description": "Optional. Trigger configurations.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          }
        },
        "description": {
          "description": "Optional. The templateversion description. Permitted format is alphanumeric with underscores and no spaces.",
          "type": "string"
        },
        "templateParameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
          "description": "Optional. Parameters that are expected to be passed to the IntegrationTemplateVersion when an event is triggered. This consists of all the parameters that are expected in the IntegrationTemplateVersion execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter."
        },
        "databasePersistencePolicy": {
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index.",
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data."
          ]
        },
        "taskConfigs": {
          "description": "Optional. Task configuration for the IntegrationTemplateVersion. It's optional, but the IntegrationTemplateVersion doesn't do anything without task_configs.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          }
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "Optional. The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "updateTime": {
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "parentIntegrationVersionId": {
          "description": "Optional. ID of the IntegrationVersion that was used to create this IntegrationTemplateVersion",
          "type": "string"
        },
        "status": {
          "description": "Optional. Generated by eventbus. User should not set it as an input.",
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAuthConfig": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAuthConfig",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the auth config."
        },
        "creatorEmail": {
          "description": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "decryptedCredential": {
          "$ref": "GoogleCloudIntegrationsV1alphaCredential",
          "description": "Raw auth credentials."
        },
        "state": {
          "enumDescriptions": [
            "Status not specified.",
            "Valid Auth config.",
            "General invalidity, if it doesn't fits in the detailed issue below.",
            "Auth config soft deleted.",
            "Auth config expired.",
            "Auth config unauthorized.",
            "Auth config not supported."
          ],
          "description": "The status of the auth config.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "SOFT_DELETED",
            "EXPIRED",
            "UNAUTHORIZED",
            "UNSUPPORTED"
          ]
        },
        "lastModifierEmail": {
          "description": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "The reason / details of the current status."
        },
        "visibility": {
          "type": "string",
          "enum": [
            "AUTH_CONFIG_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "CLIENT_VISIBLE"
          ],
          "enumDescriptions": [
            "Visibility not specified.",
            "Profile visible to the creator only.",
            "Profile visible within the client."
          ],
          "description": "The visibility of the auth config."
        },
        "overrideValidTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the auth config is created."
        },
        "certificateId": {
          "type": "string",
          "description": "Certificate id for client certificate"
        },
        "encryptedCredential": {
          "type": "string",
          "format": "byte",
          "description": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key."
        },
        "displayName": {
          "description": "The name of the auth config.",
          "type": "string"
        },
        "expiryNotificationDuration": {
          "description": "User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "google-duration"
          }
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the auth config is modified."
        },
        "credentialType": {
          "description": "Credential type of the encrypted credential.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ]
        },
        "name": {
          "type": "string",
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}."
        },
        "validTime": {
          "description": "The time until the auth config is valid. Empty or max value is considered the auth config won't expire.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The AuthConfig resource use to hold channels and connection config data."
    },
    "GoogleCloudIntegrationsV1alphaRuntimeActionSchema": {
      "description": "Metadata of an action, including schemas for its inputs and outputs.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema",
      "properties": {
        "inputSchema": {
          "type": "string",
          "description": "Input parameter schema for the action."
        },
        "outputSchema": {
          "description": "Output parameter schema for the action.",
          "type": "string"
        },
        "action": {
          "description": "Name of the action.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse": {
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the linked Apps Script project."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse",
      "description": "Response for LinkAppsScriptProject rpc call.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoIntParameterArray": {
      "type": "object",
      "properties": {
        "intValues": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
    },
    "EnterpriseCrmEventbusProtoTaskUiModuleConfig": {
      "description": "Task author would use this type to configure a config module.",
      "type": "object",
      "properties": {
        "moduleId": {
          "description": "ID of the config module.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_TASK_MODULE",
            "LABEL",
            "ERROR_HANDLING",
            "TASK_PARAM_TABLE",
            "TASK_PARAM_FORM",
            "PRECONDITION",
            "SCRIPT_EDITOR",
            "RPC",
            "TASK_SUMMARY",
            "SUSPENSION",
            "RPC_TYPED",
            "SUB_WORKFLOW",
            "APPS_SCRIPT_NAVIGATOR",
            "SUB_WORKFLOW_FOR_EACH_LOOP",
            "FIELD_MAPPING",
            "README",
            "REST_CALLER",
            "SUB_WORKFLOW_SCATTER_GATHER",
            "CLOUD_SQL",
            "GENERIC_CONNECTOR_TASK"
          ],
          "enumDescriptions": [
            "Default",
            "Supports editing label of a task config.",
            "Supports editing error handling settings such as retry strategy.",
            "Supports adding, removing and editing task parameter values in a table with little assistance or restriction.",
            "Supports editing values of declared input parameters of a task. Think of it as a \"strongly typed\" upgrade to the TASK_PARAM_TABLE.",
            "Supports editing preconditions of a task config.",
            "Supports adding, editing, and deleting the scripts associated with a script task, as well as modifying the input/output parameters.",
            "Supports editing task parameters associated with an RPC/stubby task.",
            "Contains readonly task information, including input/output type info.",
            "Configures a SuspensionTask.",
            "Configures a GenericStubbyTypedTask.",
            "Configures a SubWorkflowExecutorTask.",
            "Supports navigating to Apps Script editor",
            "Configures a SubWorkflowForEachLoopTask.",
            "Configures a FieldMappingTask.",
            "Contains embedded in-product documentation for a task.",
            "UI widget for the rest caller task.",
            "Configures a SubWorkflowScatterGatherTask.",
            "Configures a CloudSql Task.",
            "Configure a GenericConnectorTask."
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskUiModuleConfig"
    },
    "EnterpriseCrmEventbusProtoNextTask": {
      "type": "object",
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "id": "EnterpriseCrmEventbusProtoNextTask",
      "properties": {
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the next task edge or condition."
        },
        "taskNumber": {
          "type": "string",
          "description": "Task number of the next task."
        },
        "taskConfigId": {
          "description": "ID of the next task.",
          "type": "string"
        },
        "label": {
          "description": "User-provided label that is attached to this edge in the UI.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "Standard filter expression for this task to become an eligible next task."
        },
        "combinedConditions": {
          "description": "Combined condition for this task to become an eligible next task. Each of these combined_conditions are joined with logical OR. DEPRECATED: use `condition`",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCombinedCondition"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest",
      "description": "Request for PublishIntegrationVersion.",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode": {
      "description": "The OAuth Type where the client sends request with the client id and requested scopes to auth endpoint. User sees a consent screen and auth code is received at specified redirect url afterwards. The auth code is then combined with the client id and secret and sent to the token endpoint in exchange for the access and refresh token. The refresh token can be used to fetch new access tokens.",
      "type": "object",
      "properties": {
        "applyReauthPolicy": {
          "type": "boolean",
          "description": "Indicates if the user has opted in Google Reauth Policy. If opted in, the refresh token will be valid for 20 hours, after which time users must re-authenticate in order to obtain a new one."
        },
        "authCode": {
          "description": "The Auth Code that is used to initially retrieve the access token.",
          "type": "string"
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "The token parameters sent along with the token request."
        },
        "clientId": {
          "type": "string",
          "description": "The client's id."
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "accessToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken",
          "description": "The access token received from the token endpoint."
        },
        "tokenEndpoint": {
          "description": "The token url endpoint to send the token request to.",
          "type": "string"
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "authEndpoint": {
          "description": "The auth url endpoint to send the auth code request to.",
          "type": "string"
        },
        "authParams": {
          "description": "The auth parameters sent along with the auth code request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "requestType": {
          "description": "Represent how to pass parameters to fetch access token",
          "type": "string",
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode"
    },
    "EnterpriseCrmEventbusProtoTeardown": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTeardown",
      "properties": {
        "teardownTaskConfigs": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTeardownTaskConfig"
          },
          "description": "Required."
        }
      }
    },
    "EnterpriseCrmEventbusProtoCloudSchedulerConfig": {
      "id": "EnterpriseCrmEventbusProtoCloudSchedulerConfig",
      "properties": {
        "cronTab": {
          "description": "Required. The cron tab of cloud scheduler trigger.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        },
        "serviceAccountEmail": {
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Cloud Scheduler Trigger configuration"
    },
    "EnterpriseCrmEventbusStats": {
      "id": "EnterpriseCrmEventbusStats",
      "type": "object",
      "properties": {
        "durationInSeconds": {
          "type": "number",
          "format": "double",
          "description": "Average duration in seconds."
        },
        "qps": {
          "description": "Queries per second.",
          "format": "double",
          "type": "number"
        },
        "warningRate": {
          "format": "double",
          "description": "Average warning rate.",
          "type": "number"
        },
        "dimensions": {
          "description": "Dimensions that these stats have been aggregated on.",
          "$ref": "EnterpriseCrmEventbusStatsDimensions"
        },
        "errorRate": {
          "description": "Average error rate.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Stats for the requested dimensions: QPS, duration, and error/warning rate"
    },
    "EnterpriseCrmLoggingGwsSanitizeOptions": {
      "type": "object",
      "id": "EnterpriseCrmLoggingGwsSanitizeOptions",
      "properties": {
        "privacy": {
          "enum": [
            "PRIVACY_TYPE_UNSPECIFIED",
            "NOT_PII",
            "PII",
            "SPII",
            "UNSURE"
          ],
          "enumDescriptions": [
            "",
            "Field does *NOT* contain PII or sensitive data.",
            "Field contains PII.",
            "Field contains Sensitive PII.",
            "Unsure if field contains PII."
          ],
          "type": "string"
        },
        "sanitizeType": {
          "enum": [
            "SANITIZE_TYPE_UNSPECIFIED",
            "SCRUB",
            "ANONYMIZE",
            "ANONYMIZE_LIMITED_REPEATABLE",
            "OBFUSCATE",
            "ENCRYPT",
            "DO_NOT_SANITIZE"
          ],
          "enumDescriptions": [
            "",
            "Replace value with a scrubbed value (usu. a constant).",
            "Transform a value so that it cannot be tracked across events. However, a given value, is transformed to the same value *within* an event. E.g., \"foo.com\" is transformed to \"0xabcdef\" for event 1001, and to \"0xfedcba\" for event 1002.",
            "Transform values as with ANONYMIZER, but the same transformation is repeated for a limited time (e.g., 1 day).",
            "The value is transformed using a well-defined obfuscator (e.g., D3_CUSTOMER_ID).",
            "The value is encrypted.",
            "No sanitization is required."
          ],
          "type": "string"
        },
        "isAlreadySanitized": {
          "type": "boolean",
          "description": "If true, the value has already been sanitized and needs no further sanitization. For instance, a D3 customer id is already an obfuscated entity and *might not* need further sanitization."
        },
        "logType": {
          "type": "array",
          "items": {
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "type": "string"
          },
          "description": "To which type(s) of logs the sanitize options apply."
        }
      },
      "description": "Identifies whether a field contains, or may contain, PII or sensitive data, and how to sanitize the field if it does. If a field's privacy type cannot be determined then it is sanitized (e.g., scrubbed). The specific sanitizer implementation is determined by run-time configuration and environment options (e.g., prod vs. qa). next_id: 5"
    },
    "EnterpriseCrmEventbusProtoBooleanArrayFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
    },
    "GoogleCloudIntegrationsV1alphaListSuspensionsResponse": {
      "description": "Response for Suspensions.ListSuspensions.",
      "id": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse",
      "properties": {
        "suspensions": {
          "type": "array",
          "description": "The suspensions for the relevant execution which the caller has permissions to view and resolve.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSuspension"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit": {
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit",
      "properties": {
        "resolvedByCpi": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "resolvedBy": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1Destination": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1Destination",
      "properties": {
        "serviceAttachment": {
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "For publicly routable host."
        },
        "port": {
          "description": "The port is the target port number that is accepted by the destination.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus. Please see go/cloud-crm-eng/platform/event_bus.md for more details.",
      "type": "object",
      "properties": {
        "properties": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          },
          "description": "An unordered list of property entries.",
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "type": "object",
      "properties": {
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Start with a literal value."
        },
        "referenceValue": {
          "type": "string",
          "description": "Start with a reference value to dereference."
        },
        "baseFunction": {
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc.",
          "$ref": "EnterpriseCrmEventbusProtoFunction"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseValue"
    },
    "GoogleCloudIntegrationsV1alphaSfdcChannel": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the channel is created",
          "readOnly": true,
          "format": "google-datetime"
        },
        "isActive": {
          "description": "Indicated if a channel has any active integrations referencing it. Set to false when the channel is created, and set to true if there is any integration published with the channel configured in it.",
          "type": "boolean"
        },
        "lastReplayId": {
          "type": "string",
          "description": "Last sfdc messsage replay id for channel"
        },
        "channelTopic": {
          "type": "string",
          "description": "The Channel topic defined by salesforce once an channel is opened"
        },
        "deleteTime": {
          "description": "Output only. Time when the channel was deleted. Empty if not deleted.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Client level unique name/alias to easily reference a channel."
        },
        "name": {
          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}.",
          "type": "string"
        },
        "description": {
          "description": "The description for this channel",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the channel was last updated",
          "readOnly": true
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSfdcChannel",
      "description": "The SfdcChannel that points to a CDC or Platform Event Channel.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventParameters": {
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventParameters"
    },
    "EnterpriseCrmEventbusProtoFailurePolicy": {
      "type": "object",
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied).",
      "id": "EnterpriseCrmEventbusProtoFailurePolicy",
      "properties": {
        "maxNumRetries": {
          "type": "integer",
          "format": "int32",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the number of times the task will be retried if failed."
        },
        "retryStrategy": {
          "type": "string",
          "description": "Defines what happens to the task upon failure.",
          "enumDescriptions": [
            "",
            "Ignores the failure of this task. The rest of the workflow will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the workflow.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified.",
            "The entire workflow will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified."
          ],
          "enum": [
            "UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_WORKFLOW_WITH_BACKOFF"
          ]
        },
        "intervalInSeconds": {
          "format": "int64",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the initial interval for backoff.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse",
      "description": "Response for listing RuntimeActionSchemas for a specific Connection.",
      "type": "object",
      "properties": {
        "runtimeActionSchemas": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema"
          },
          "description": "Runtime action schemas.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringArray"
    },
    "GoogleCloudConnectorsV1AuthConfig": {
      "properties": {
        "authType": {
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow"
          ],
          "description": "The type of authentication configured."
        },
        "sshPublicKey": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
          "description": "SSH Public Key."
        },
        "additionalVariables": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "type": "array",
          "description": "List containing additional auth configs."
        },
        "oauth2JwtBearer": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
          "description": "Oauth2JwtBearer."
        },
        "userPassword": {
          "description": "UserPassword.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigUserPassword"
        },
        "oauth2ClientCredentials": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
          "description": "Oauth2ClientCredentials."
        }
      },
      "description": "AuthConfig defines details of a authentication type.",
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfig"
    },
    "GoogleCloudConnectorsV1DestinationConfig": {
      "properties": {
        "destinations": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1Destination"
          },
          "description": "The destinations for the key.",
          "type": "array"
        },
        "key": {
          "type": "string",
          "description": "The key is the destination identifier that is supported by the Connector."
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1DestinationConfig",
      "description": "Define the Connectors target endpoint."
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "runtimeEntitySchemas": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema"
          },
          "type": "array",
          "description": "Runtime entity schemas."
        }
      },
      "description": "Response for listing RuntimeEntitySchemas for a specific Connection.",
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse"
    },
    "EnterpriseCrmEventbusProtoNotification": {
      "properties": {
        "pubsubTopic": {
          "type": "string"
        },
        "emailAddress": {
          "$ref": "EnterpriseCrmEventbusProtoAddress"
        },
        "escalatorQueue": {
          "type": "string"
        },
        "buganizerNotification": {
          "$ref": "EnterpriseCrmEventbusProtoBuganizerNotification"
        },
        "request": {
          "description": "If the out-of-the-box email/pubsub notifications are not suitable and custom logic is required, fire a workflow containing all info needed to notify users to resume execution.",
          "$ref": "EnterpriseCrmEventbusProtoCustomSuspensionRequest"
        }
      },
      "id": "EnterpriseCrmEventbusProtoNotification",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaGetBundleResponse": {
      "description": "Response for GetBundle.",
      "id": "GoogleCloudIntegrationsV1alphaGetBundleResponse",
      "properties": {
        "config": {
          "description": "It contains the bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleResponse": {
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleResponse",
      "type": "object",
      "description": "Response for create bundle.",
      "properties": {
        "triggerId": {
          "type": "string",
          "description": "trigger_id of the bundle task"
        },
        "config": {
          "description": "It contains the bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters": {
      "properties": {
        "parameters": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communiticate between different tasks that are part of the same workflow execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          }
        }
      },
      "type": "object",
      "description": "LINT.IfChange This is the frontend version of WorkflowParameters. It's exactly like the backend version except that instead of flattening protobuf parameters and treating every field and subfield of a protobuf parameter as a separate parameter, the fields/subfields of a protobuf parameter will be nested as \"children\" (see 'children' field below) parameters of the parent parameter. Please refer to enterprise/crm/eventbus/proto/workflow_parameters.proto for more information about WorkflowParameters.",
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters"
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "properties": {
        "outputField": {
          "description": "The output field being mapped to.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        },
        "inputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The input field being mapped from."
        }
      },
      "description": "Mapped field is a pair of input field and output field. Next Id: 3",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoMappedField"
    },
    "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse": {
      "description": "This is a UI only method and will be moved away. Response for ListTaskEntities.",
      "properties": {
        "taskEntities": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
          },
          "description": "The list of the tasks.",
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "type": "array",
          "description": "Double number array.",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "description": "This message only contains a field of double number array.",
      "id": "GoogleCloudIntegrationsV1alphaDoubleParameterArray",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse",
      "description": "Response to list SfdcChannels.",
      "properties": {
        "sfdcChannels": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
          },
          "type": "array",
          "description": "The list of SfdcChannels retrieved."
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1ConfigVariable": {
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key of the config variable.",
          "type": "string"
        },
        "boolValue": {
          "description": "Value is a bool.",
          "type": "boolean"
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Value is an integer"
        },
        "stringValue": {
          "type": "string",
          "description": "Value is a string."
        },
        "secretValue": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Value is a secret."
        }
      },
      "id": "GoogleCloudConnectorsV1ConfigVariable"
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "properties": {
        "mappedFields": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig",
      "type": "object",
      "description": "Field Mapping Config to map multiple output fields values from input fields values. Next id: 2"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "properties": {
        "min": {
          "type": "number",
          "description": "The inclusive minimum of the acceptable range.",
          "format": "double"
        },
        "max": {
          "format": "double",
          "description": "The inclusive maximum of the acceptable range.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Range used to validate doubles and floats.",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
    },
    "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest": {
      "type": "object",
      "description": "Request for UploadIntegrationVersion.",
      "properties": {
        "content": {
          "description": "The textproto of the integration_version.",
          "type": "string"
        },
        "fileFormat": {
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "description": "File format for upload request.",
          "enumDescriptions": [
            "Unspecified file format",
            "JSON File Format",
            "YAML File Format"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry": {
      "properties": {
        "className": {
          "description": "The FQCN of the Java object this represents. A string, for example, would be \"java.lang.String\". If this is \"java.lang.Object\", the parameter can be of any type.",
          "type": "string"
        },
        "collectionElementClassName": {
          "type": "string",
          "description": "If it is a collection of objects, this would be the FCQN of every individual element in the collection. If this is \"java.lang.Object\", the parameter is a collection of any type."
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "isOutput": {
          "type": "boolean"
        },
        "validationRule": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule",
          "description": "Rule used to validate inputs (individual values and collection elements) for this parameter."
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given task. These parameters must be predefined in the workflow definition."
        },
        "isDeprecated": {
          "description": "If set, this entry is deprecated, so further use of this parameter should be prohibited.",
          "type": "boolean"
        },
        "required": {
          "type": "boolean",
          "description": "If set, the user must provide an input value for this parameter."
        },
        "config": {
          "description": "Optional fields, such as help text and other useful info.",
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryConfig"
        },
        "protoDef": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition",
          "description": "Populated if this represents a proto or proto array."
        },
        "jsonSchema": {
          "type": "string",
          "description": "If the data_type is JSON_VALUE, then this will define its schema."
        },
        "dataType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "The data type of the parameter.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry",
      "type": "object",
      "description": "Key-value pair of EventBus task parameters. Next id: 13"
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringParameterArray"
    },
    "EnterpriseCrmEventbusProtoStringFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringFunction",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "CONCAT",
            "TO_UPPERCASE",
            "TO_LOWERCASE",
            "CONTAINS",
            "SPLIT",
            "LENGTH",
            "EQUALS",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_BASE_64",
            "TO_JSON",
            "EQUALS_IGNORE_CASE",
            "REPLACE_ALL",
            "SUBSTRING",
            "RESOLVE_TEMPLATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetails": {
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetails",
      "type": "object",
      "properties": {
        "taskNumber": {
          "description": "Pointer to the task config it used for execution.",
          "type": "string"
        },
        "taskAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
          }
        },
        "taskExecutionState": {
          "enumDescriptions": [
            "",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ]
        }
      },
      "description": "Contains the details of the execution of this task. Next available id: 11"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse",
      "description": "Response for ArchiveBundle."
    },
    "EnterpriseCrmEventbusProtoAddress": {
      "id": "EnterpriseCrmEventbusProtoAddress",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required."
        },
        "name": {
          "type": "string"
        },
        "tokens": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoToken"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Email address along with optional name and tokens. These tokens will be substituted for the variables in the form of [{var_name}], where var_name could be any string of no more than 32 bytes."
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
      "properties": {
        "clientId": {
          "description": "The client identifier.",
          "type": "string"
        },
        "clientSecret": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing the client secret."
        }
      },
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaValueType": {
      "description": "The type of the parameter.",
      "type": "object",
      "properties": {
        "stringArray": {
          "description": "String Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaStringParameterArray"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Boolean."
        },
        "jsonValue": {
          "type": "string",
          "description": "Json."
        },
        "intArray": {
          "description": "Integer Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntParameterArray"
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "Double Number."
        },
        "intValue": {
          "format": "int64",
          "description": "Integer.",
          "type": "string"
        },
        "stringValue": {
          "description": "String.",
          "type": "string"
        },
        "booleanArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaBooleanParameterArray",
          "description": "Boolean Array."
        },
        "doubleArray": {
          "description": "Double Number Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaDoubleParameterArray"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaValueType"
    },
    "EnterpriseCrmEventbusProtoValueType": {
      "type": "object",
      "properties": {
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntArray"
        },
        "stringValue": {
          "type": "string"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArray"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringArray"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "protoValue": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "booleanValue": {
          "type": "boolean"
        }
      },
      "id": "EnterpriseCrmEventbusProtoValueType",
      "description": "Used for define type for values. Currently supported value types include int, string, double, array, and any proto message."
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleRequest",
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "It contains the updated bundle data"
        }
      },
      "description": "THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request message for Bundle update"
    },
    "GoogleCloudIntegrationsV1alphaParameterMap": {
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaParameterMapEntry"
          },
          "type": "array",
          "description": "A list of parameter map entries."
        },
        "keyType": {
          "type": "string",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "description": "Option to specify key type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ]
        },
        "valueType": {
          "description": "Option to specify value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "type": "string",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaParameterMap",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig": {
      "type": "object",
      "properties": {
        "serviceAccountEmail": {
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time",
          "type": "string"
        },
        "cronTab": {
          "description": "Required. The cron tab of cloud scheduler trigger.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations"
        },
        "location": {
          "description": "Required. The location where associated cloud scheduler job will be created",
          "type": "string"
        }
      },
      "description": "Cloud Scheduler Trigger configuration",
      "id": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig"
    },
    "EnterpriseCrmEventbusProtoConditionResult": {
      "properties": {
        "currentTaskNumber": {
          "description": "the current task number.",
          "type": "string"
        },
        "nextTaskNumber": {
          "description": "the next task number.",
          "type": "string"
        },
        "result": {
          "description": "the result comes out after evaluate the combined condition. True if there's no combined condition specified.",
          "type": "boolean"
        }
      },
      "id": "EnterpriseCrmEventbusProtoConditionResult",
      "type": "object",
      "description": "Contains the combined condition calculation results."
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest": {
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the Apps Script project to be linked."
        }
      },
      "description": "Request for LinkAppsScriptProject rpc call.",
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse": {
      "description": "Response for TakeoverEditLock.",
      "properties": {
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
          "description": "Version after the lock is acquired by the new user."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse"
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBooleanFunction"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials": {
      "description": "For client credentials grant, the client sends a POST request with grant_type as 'client_credentials' to the authorization server. The authorization server will respond with a JSON object containing the access token.",
      "properties": {
        "tokenEndpoint": {
          "type": "string",
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "Token parameters for the auth request."
        },
        "requestType": {
          "type": "string",
          "description": "Represent how to pass parameters to fetch access token",
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ]
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "accessToken": {
          "description": "Access token fetched from the authorization server.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "clientId": {
          "type": "string",
          "description": "The client's ID."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse": {
      "description": "The response for executing an integration.",
      "type": "object",
      "properties": {
        "executionInfoIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The execution info id for the executed integrations."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
    },
    "GoogleCloudIntegrationsV1alphaSuccessPolicy": {
      "properties": {
        "finalState": {
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "enum": [
            "FINAL_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "UNSPECIFIED.",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "type": "object"
    },
    "EnterpriseCrmEventbusStatsDimensions": {
      "properties": {
        "taskNumber": {
          "type": "string"
        },
        "workflowId": {
          "type": "string"
        },
        "warningEnumString": {
          "type": "string"
        },
        "enumFilterType": {
          "description": "Whether to include or exclude the enums matching the regex.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "type": "string"
        },
        "taskName": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "workflowName": {
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Stats have been or will be aggregated on set fields for any semantically-meaningful combination."
        },
        "errorEnumString": {
          "type": "string"
        },
        "retryAttempt": {
          "enum": [
            "UNSPECIFIED",
            "FINAL",
            "RETRYABLE",
            "CANCELED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Task has completed successfully or has depleted all retry attempts.",
            "Task has failed but may be retried.",
            "Task has been deliberately canceled."
          ]
        }
      },
      "id": "EnterpriseCrmEventbusStatsDimensions",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "description": "Represents a node identifier (type + id). Next highest id: 3",
      "properties": {
        "elementIdentifier": {
          "description": "Configuration of the edge.",
          "type": "string"
        },
        "elementType": {
          "description": "Destination node where the edge ends. It can only be a task config.",
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigUserPassword": {
      "description": "Parameters to support Username and Password Authentication.",
      "properties": {
        "password": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing the password."
        },
        "username": {
          "description": "Username.",
          "type": "string"
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigUserPassword",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray",
      "properties": {
        "protoValues": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskConfig",
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task. Next available id: 27",
      "type": "object",
      "properties": {
        "taskSpec": {
          "description": "A string template that allows user to configure task parameters (with either literal default values or tokens which will be resolved at execution time) for the task. It will eventually replace the old \"parameters\" field. Please refer to go/eventbus-task-spec-example for detailed usage example.",
          "type": "string"
        },
        "precondition": {
          "type": "string",
          "description": "Optional. Standard filter expression evaluated before execution. Independent of other conditions and tasks. Can be used to enable rollout. e.g. \"rollout(5)\" will only allow 5% of incoming traffic to task."
        },
        "taskExecutionStrategy": {
          "enum": [
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "enumDescriptions": [
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "type": "string",
          "description": "The policy dictating the execution strategy of this task."
        },
        "label": {
          "type": "string",
          "description": "User-provided label that is attached to this TaskConfig in the UI."
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Auto-generated from the user's email."
        },
        "alertConfigs": {
          "type": "array",
          "description": "Alert configurations on error rate, warning rate, number of runs, durations, etc.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskAlertConfig"
          }
        },
        "position": {
          "$ref": "EnterpriseCrmEventbusProtoCoordinate",
          "description": "Optional. Informs the front-end application where to draw this task config on the UI."
        },
        "taskTemplateName": {
          "type": "string",
          "description": "Used to define task-template name if task is of type task-template"
        },
        "jsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "description": "If set, overrides the option configured in the Task implementation class."
        },
        "preconditionLabel": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to precondition in the UI."
        },
        "taskName": {
          "description": "The name for the task.",
          "type": "string"
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "object",
          "description": "The customized parameters the user can pass to this task."
        },
        "createTime": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "incomingEdgeCount": {
          "description": "The number of edges leading into this TaskConfig.",
          "type": "integer",
          "format": "int32"
        },
        "rollbackStrategy": {
          "description": "Optional. Contains information about what needs to be done upon failure (either a permanent error or after it has been retried too many times).",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy"
        },
        "nextTasks": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "type": "array",
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true."
        },
        "nextTasksExecutionPolicy": {
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "description": "The policy dictating the execution of the next set of tasks for the current task.",
          "type": "string"
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Auto-generated."
        },
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the task."
        },
        "taskType": {
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "description": "Defines the type of the task",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "type": "string"
        },
        "taskEntity": {
          "description": "Copy of the task entity that this task config is an instance of.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
        },
        "taskNumber": {
          "description": "REQUIRED: the identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_number`).",
          "type": "string"
        },
        "successPolicy": {
          "$ref": "EnterpriseCrmEventbusProtoSuccessPolicy",
          "description": "Determines what action to take upon successful task completion."
        },
        "disableStrictTypeValidation": {
          "description": "If this config contains a TypedTask, allow validation to succeed if an input is read from the output of another TypedTask whose output type is declared as a superclass of the requested input type. For instance, if the previous task declares an output of type Message, any task with this flag enabled will pass validation when attempting to read any proto Message type from the resultant Event parameter.",
          "type": "boolean"
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest",
      "type": "object",
      "properties": {},
      "description": "Request for ValidateIntegrationVersion."
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange",
      "type": "object",
      "properties": {
        "max": {
          "type": "string",
          "format": "int64",
          "description": "The inclusive maximum of the acceptable range."
        },
        "min": {
          "description": "The inclusive minimum of the acceptable range.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Range used to validate longs and ints."
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskEntity": {
      "type": "object",
      "description": "Contains a task's metadata and associated information. Next available id: 7",
      "properties": {
        "taskType": {
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "description": "Defines the type of the task",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "type": "string"
        },
        "paramSpecs": {
          "description": "Declarations for inputs/outputs for a TypedTask. This is also associated with the METADATA mask.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage"
        },
        "disabledForVpcSc": {
          "description": "True if the task has conflict with vpcsc",
          "type": "boolean"
        },
        "metadata": {
          "description": "Metadata inclueds the task name, author and so on.",
          "$ref": "EnterpriseCrmEventbusProtoTaskMetadata"
        },
        "uiConfig": {
          "description": "UI configuration for this task Also associated with the METADATA mask.",
          "$ref": "EnterpriseCrmEventbusProtoTaskUiConfig"
        },
        "stats": {
          "description": "Deprecated - statistics from the Monarch query.",
          "$ref": "EnterpriseCrmEventbusStats"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "properties": {
        "protoValues": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationVersion": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
      "properties": {
        "taskConfigsInternal": {
          "type": "array",
          "description": "Optional. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          }
        },
        "state": {
          "readOnly": true,
          "description": "Output only. User should not set it as an input.",
          "enumDescriptions": [
            "Default.",
            "Draft.",
            "Active.",
            "Archived.",
            "Snapshot."
          ],
          "type": "string",
          "enum": [
            "INTEGRATION_STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ]
        },
        "origin": {
          "description": "Optional. The origin that indicates where this integration is coming from.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UI",
            "PIPER_V2",
            "PIPER_V3",
            "APPLICATION_IP_PROVISIONING"
          ],
          "enumDescriptions": [
            "",
            "Workflow is being created via event bus UI.",
            "User checked in this workflow in Piper as v2 textproto format and we synced it into spanner.",
            "User checked in this workflow in piper as v3 textproto format and we synced it into spanner.",
            "Workflow is being created via Standalone IP Provisioning"
          ]
        },
        "name": {
          "description": "Output only. Auto-generated primary key.",
          "type": "string",
          "readOnly": true
        },
        "databasePersistencePolicy": {
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data."
          ],
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED"
          ],
          "type": "string",
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index."
        },
        "integrationParametersInternal": {
          "description": "Optional. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters"
        },
        "integrationParameters": {
          "description": "Optional. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationParameter"
          }
        },
        "triggerConfigs": {
          "type": "array",
          "description": "Optional. Trigger configurations.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTriggerConfig"
          }
        },
        "snapshotNumber": {
          "type": "string",
          "format": "int64",
          "description": "Optional. An increasing sequence that is set when a new snapshot is created. The last created snapshot can be identified by [workflow_name, org_id latest(snapshot_number)]. However, last created snapshot need not be same as the HEAD. So users should always use \"HEAD\" tag to identify the head."
        },
        "teardown": {
          "$ref": "EnterpriseCrmEventbusProtoTeardown",
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "taskConfigs": {
          "description": "Optional. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskConfig"
          },
          "type": "array"
        },
        "parentTemplateId": {
          "description": "Optional. The id of the template which was used to create this integration_version.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Auto-generated."
        },
        "lockHolder": {
          "type": "string",
          "description": "Optional. The edit lock holder's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "triggerConfigsInternal": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          },
          "description": "Optional. Trigger configurations."
        },
        "status": {
          "description": "Output only. Generated by eventbus. User should not set it as an input.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
[...]
