{
  "version": "v1",
  "title": "Application Integration API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "description": "",
  "canonicalName": "Integrations",
  "rootUrl": "https://integrations.googleapis.com/",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "name": "integrations",
  "baseUrl": "https://integrations.googleapis.com/",
  "revision": "20230103",
  "version_module": true,
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "servicePath": "",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaIntegrationParameter": {
      "description": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition.",
      "properties": {
        "producer": {
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param.",
          "type": "string"
        },
        "isTransient": {
          "description": "Whether this parameter is a transient parameter.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\"."
        },
        "inputOutputType": {
          "type": "string",
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "description": "Specifies the input/output type for the parameter.",
          "enumDescriptions": [
            "Default.",
            "Input parameters for the integration. EventBus validates that these parameters exist in the integrations before execution.",
            "Output Parameters for the integration. EventBus will only return the integration parameters tagged with OUT in the response back.",
            "Input and Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ]
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "GoogleCloudIntegrationsV1alphaValueType"
        },
        "searchable": {
          "description": "Searchable in the execution log or not.",
          "type": "boolean"
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "jsonSchema": {
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter.",
          "type": "string"
        },
        "dataType": {
          "description": "Type of the parameter.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationParameter",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTaskExecutionDetails": {
      "description": "Contains the details of the execution of this task.",
      "properties": {
        "taskNumber": {
          "description": "Pointer to the task config it used for execution.",
          "type": "string"
        },
        "taskExecutionState": {
          "type": "string",
          "description": "The execution state of this task.",
          "enumDescriptions": [
            "Default value.",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ],
          "enum": [
            "TASK_EXECUTION_STATE_UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELLED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ]
        },
        "taskAttemptStats": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAttemptStats"
          },
          "description": "Status for the current task execution attempt.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig": {
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event.",
      "type": "object",
      "properties": {
        "metricType": {
          "type": "string",
          "description": "The type of metric.",
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing integration.",
            "Specifies alerting on the rate of warnings for the enclosing integration. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing integration.",
            "Specifies alerting on the rate of warnings for any task in the enclosing integration.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing integration.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this integration.",
            "Specifies alerting on the duration value of a particular percentile of integration executions. E.g. If 10% or more of the integration executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing integration,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing integration. E.g. If 10% or more of the task executions in the integration have durations above 5 seconds, alert."
          ],
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ]
        },
        "durationThreshold": {
          "format": "google-duration",
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "type": "string"
        },
        "thresholdType": {
          "type": "string",
          "enum": [
            "THRESHOLD_TYPE_UNSPECIFIED",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enumDescriptions": [
            "Default.",
            "Note that this field will only trigger alerts if the integration specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours. Min value threshold.",
            "Max value threshold."
          ]
        },
        "alertThreshold": {
          "format": "int32",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "type": "integer"
        },
        "aggregationPeriod": {
          "type": "string",
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week). For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours."
        },
        "onlyFinalAttempt": {
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries.",
          "type": "boolean"
        },
        "disableAlert": {
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this integration alert.",
          "type": "boolean"
        },
        "thresholdValue": {
          "description": "The metric value, above or below which the alert should be triggered.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue"
        },
        "displayName": {
          "description": "Name of the alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the integration.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig"
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse",
      "description": "Response for Suspensions.ResolveSuspensions."
    },
    "GoogleCloudIntegrationsV1alphaIntParameterArray": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaIntParameterArray",
      "description": "This message only contains a field of integer array.",
      "properties": {
        "intValues": {
          "type": "array",
          "description": "Integer array.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "type": "object",
      "properties": {
        "lastModifiedTimestamp": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "createdTimestamp": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "taskNumber": {
          "description": "Required. Task number of the associated SuspensionTask.",
          "type": "string"
        },
        "externalTraffic": {
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic",
          "description": "The origin of the suspension for periodic notifications."
        },
        "workflowName": {
          "type": "string",
          "description": "Required. The name of the originating workflow."
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "product": {
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default."
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED"
          ]
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "suspensionId": {
          "description": "Primary key for the SuspensionResolutionInfoTable.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo"
    },
    "GoogleCloudIntegrationsV1alphaExecutionDetails": {
      "description": "Contains the details of the execution info: this includes the tasks execution details plus the event execution statistics.",
      "id": "GoogleCloudIntegrationsV1alphaExecutionDetails",
      "type": "object",
      "properties": {
        "executionSnapshots": {
          "description": "List of snapshots taken during the execution.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshot"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "type": "string",
          "description": "Status of the execution.",
          "enumDescriptions": [
            "Default.",
            "Execution is scheduled and awaiting to be triggered.",
            "Execution is processing.",
            "Execution successfully finished. There's no more change after this state.",
            "Execution failed. There's no more change after this state.",
            "Execution canceled by user. There's no more change after this state.",
            "Execution failed and waiting for retry.",
            "Execution suspended and waiting for manual intervention."
          ]
        },
        "attemptStats": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAttemptStats"
          },
          "description": "List of Start and end time of the execution attempts.",
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration": {
      "description": "Expiration configs for the approval request.",
      "properties": {
        "liftWhenExpired": {
          "type": "boolean",
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior."
        },
        "remindTime": {
          "type": "string",
          "description": "Time after the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "format": "google-datetime"
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time after which the suspension expires, if no action taken.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration",
      "type": "object"
    },
    "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam": {
      "id": "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam",
      "type": "object",
      "properties": {
        "allowedServiceAccountInContext": {
          "type": "boolean"
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "allowedCredentialTypes": {
          "items": {
            "enumDescriptions": [
              "",
              "Regular username/password pair.",
              "API key.",
              "OAuth 2.0 Authorization Code Grant Type.",
              "OAuth 2.0 Implicit Grant Type.",
              "OAuth 2.0 Client Credentials Grant Type.",
              "OAuth 2.0 Resource Owner Credentials Grant Type.",
              "JWT Token.",
              "Auth Token, e.g. bearer token.",
              "Service Account which can be used to generate token for authentication.",
              "Client Certificate only.",
              "Google OIDC ID Token"
            ],
            "enum": [
              "CREDENTIAL_TYPE_UNSPECIFIED",
              "USERNAME_AND_PASSWORD",
              "API_KEY",
              "OAUTH2_AUTHORIZATION_CODE",
              "OAUTH2_IMPLICIT",
              "OAUTH2_CLIENT_CREDENTIALS",
              "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
              "JWT",
              "AUTH_TOKEN",
              "SERVICE_ACCOUNT",
              "CLIENT_CERTIFICATE_ONLY",
              "OIDC_TOKEN"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only."
        },
        "authConfigId": {
          "type": "string",
          "description": "UUID of the AuthConfig."
        },
        "useServiceAccountInContext": {
          "type": "boolean"
        }
      }
    },
    "EnterpriseCrmEventbusProtoPropertyEntry": {
      "type": "object",
      "properties": {
        "key": {
          "description": "Key is used to retrieve the corresponding property value. This should be unique for a given fired event. The Tasks should be aware of the keys used while firing the events for them to be able to retrieve the values.",
          "type": "string"
        },
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        }
      },
      "id": "EnterpriseCrmEventbusProtoPropertyEntry",
      "description": "Key-value pair of EventBus property."
    },
    "EnterpriseCrmEventbusProtoTaskUiConfig": {
      "description": "Task authors would use this type to configure the UI for a particular task by specifying what UI config modules should be included to compose the UI. Learn more about config module framework: go/integration-platform-config-module-framework",
      "id": "EnterpriseCrmEventbusProtoTaskUiConfig",
      "type": "object",
      "properties": {
        "taskUiModuleConfigs": {
          "description": "Configurations of included config modules.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskUiModuleConfig"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest": {
      "description": "Request for UnpublishIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAuthToken": {
      "id": "GoogleCloudIntegrationsV1alphaAuthToken",
      "type": "object",
      "description": "The credentials to authenticate a user agent with a server that is put in HTTP Authorization request header.",
      "properties": {
        "token": {
          "description": "The token for the auth type.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Authentication type, e.g. \"Basic\", \"Bearer\", etc."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "type": "object",
      "description": "A record representing a suspension.",
      "id": "GoogleCloudIntegrationsV1alphaSuspension",
      "properties": {
        "taskId": {
          "description": "Required. Task id of the associated SuspensionTask.",
          "type": "string"
        },
        "lastModifyTime": {
          "description": "Output only. Auto-generated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig",
          "description": "Controls the notifications and resolver permissions for this suspension."
        },
        "approvalConfig": {
          "description": "Controls the notifications and approval permissions for this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig"
        },
        "name": {
          "type": "string",
          "description": "Resource name for suspensions suspension/{suspension_id}"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Auto-generated."
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "state": {
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ],
          "description": "Required. State of this suspension, indicating what action a resolver has taken.",
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ],
          "type": "string"
        },
        "integration": {
          "type": "string",
          "description": "Required. The name of the originating integration."
        },
        "audit": {
          "description": "Metadata pertaining to the resolution of this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUsernameAndPassword": {
      "description": "Username and password pair.",
      "type": "object",
      "properties": {
        "password": {
          "description": "Password to be used",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Username to be used"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUsernameAndPassword"
    },
    "EnterpriseCrmEventbusProtoField": {
      "properties": {
        "cardinality": {
          "description": "By default, if the cardinality is unspecified the field is considered required while mapping.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "OPTIONAL"
          ],
          "enumDescriptions": [
            "For fields with unspecified cardinality.",
            "If field cardinality is set to optional, ignore errors if input field value is null or the reference_key is not found."
          ]
        },
        "defaultValue": {
          "description": "This holds the default values for the fields. This value is supplied by user so may or may not contain PII or SPII data. This field will be scrubbed using DatapolScrubber#maybeScrub() with go/proto-sanitizer#level3",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "protoDefPath": {
          "description": "Optional. The fully qualified proto name (e.g. enterprise.crm.storage.Account). Required for output field of type PROTO_VALUE or PROTO_ARRAY. For e.g., if input field_type is BYTES and output field_type is PROTO_VALUE, then fully qualified proto type url should be provided to parse the input bytes. If field_type is *_ARRAY, then all the converted protos are of the same type.",
          "type": "string"
        },
        "referenceKey": {
          "description": "This holds the reference key of the workflow or task parameter. 1. Any workflow parameter, for e.g. $workflowParam1$. 2. Any task input or output parameter, for e.g. $task1_param1$. 3. Any workflow or task parameters with subfield references, for e.g., $task1_param1.employee.id$",
          "type": "string"
        },
        "transformExpression": {
          "description": "This is the transform expression to fetch the input field value. for e.g. $param1$.CONCAT('test'). See go/transform-functions-design for more details. Keep points - 1. Only input field can have a transform expression. 2. If a transform expression is provided, reference_key will be ignored. 3. If no value is returned after evaluation of transform expression, default_value can be mapped if provided. 4. The field_type should be the type of the final object returned after the transform expression is evaluated. Scrubs the transform expression before logging as value provided by user so may or may not contain PII or SPII data.",
          "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
        },
        "fieldType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Specifies the data type of the field.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoField",
      "type": "object",
      "description": "Information about the value and type of the field. Next Id: 8"
    },
    "EnterpriseCrmLoggingGwsSanitizeOptions": {
      "type": "object",
      "properties": {
        "isAlreadySanitized": {
          "description": "If true, the value has already been sanitized and needs no further sanitization. For instance, a D3 customer id is already an obfuscated entity and *might not* need further sanitization.",
          "type": "boolean"
        },
        "privacy": {
          "enumDescriptions": [
            "",
            "Field does *NOT* contain PII or sensitive data.",
            "Field contains PII.",
            "Field contains Sensitive PII.",
            "Unsure if field contains PII."
          ],
          "type": "string",
          "enum": [
            "PRIVACY_TYPE_UNSPECIFIED",
            "NOT_PII",
            "PII",
            "SPII",
            "UNSURE"
          ]
        },
        "sanitizeType": {
          "enum": [
            "SANITIZE_TYPE_UNSPECIFIED",
            "SCRUB",
            "ANONYMIZE",
            "ANONYMIZE_LIMITED_REPEATABLE",
            "OBFUSCATE",
            "ENCRYPT",
            "DO_NOT_SANITIZE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Replace value with a scrubbed value (usu. a constant).",
            "Transform a value so that it cannot be tracked across events. However, a given value, is transformed to the same value *within* an event. E.g., \"foo.com\" is transformed to \"0xabcdef\" for event 1001, and to \"0xfedcba\" for event 1002.",
            "Transform values as with ANONYMIZER, but the same transformation is repeated for a limited time (e.g., 1 day).",
            "The value is transformed using a well-defined obfuscator (e.g., D3_CUSTOMER_ID).",
            "The value is encrypted.",
            "No sanitization is required."
          ]
        },
        "logType": {
          "type": "array",
          "items": {
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ]
          },
          "description": "To which type(s) of logs the sanitize options apply."
        }
      },
      "description": "Identifies whether a field contains, or may contain, PII or sensitive data, and how to sanitize the field if it does. If a field's privacy type cannot be determined then it is sanitized (e.g., scrubbed). The specific sanitizer implementation is determined by run-time configuration and environment options (e.g., prod vs. qa). next_id: 5",
      "id": "EnterpriseCrmLoggingGwsSanitizeOptions"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo": {
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo",
      "description": "Contains all the execution details for a workflow instance. Next available id: 24",
      "properties": {
        "executionTraceInfo": {
          "$ref": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
          "description": "Execution trace info to aggregate parent-child executions."
        },
        "createTime": {
          "format": "int64",
          "description": "Auto-generated.",
          "type": "string"
        },
        "errors": {
          "description": "Errors, warnings, and informationals associated with the workflow/task. The order in which the errors were added by the workflow/task is maintained.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoErrorDetail"
          },
          "type": "array"
        },
        "clientId": {
          "type": "string",
          "description": "The event data user sends as request."
        },
        "tenant": {
          "type": "string",
          "description": "Tenant this event is created. Used to reschedule the event to correct tenant."
        },
        "workflowRetryBackoffIntervalSeconds": {
          "format": "int64",
          "description": "Time interval in seconds to schedule retry of workflow in manifold when workflow is already running",
          "type": "string"
        },
        "eventExecutionInfoId": {
          "description": "Auto-generated primary key.",
          "type": "string"
        },
        "postMethod": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The ways user posts this event.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE",
            "POST_BY_EVENT_CONFIG_ID",
            "POST_WITH_EVENT_DETAILS"
          ]
        },
        "snapshotNumber": {
          "type": "string",
          "format": "int64",
          "description": "Workflow snapshot number."
        },
        "responseParams": {
          "description": "Event parameters come out as part of the response.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the workflow trigger config. If both trigger_id and client_id is present, the workflow is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "workflowName": {
          "description": "Name of the workflow.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request.",
          "type": "string"
        },
        "requestParams": {
          "description": "Event parameters come in as part of the request.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "errorCode": {
          "$ref": "CrmlogErrorCode",
          "description": "Final error-code if event failed."
        },
        "workflowId": {
          "type": "string",
          "description": "Required. Pointer to the workflow it is executing."
        },
        "lastModifiedTime": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "int64"
        },
        "product": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "description": "Which Google product the execution_info belongs to. If not set, the execution_info belongs to Integration Platform by default."
        },
        "eventExecutionDetails": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
          "description": "The execution info about this event."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuccessPolicy": {
      "properties": {
        "finalState": {
          "enum": [
            "UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ]
        }
      },
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "id": "EnterpriseCrmEventbusProtoSuccessPolicy",
      "type": "object"
    },
    "GoogleCloudConnectorsV1Destination": {
      "properties": {
        "serviceAttachment": {
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port is the target port number that is accepted by the destination."
        },
        "host": {
          "description": "For publicly routable host.",
          "type": "string"
        }
      },
      "id": "GoogleCloudConnectorsV1Destination",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCondition": {
      "type": "object",
      "properties": {
        "operator": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Operator used to evaluate the condition. Please note that an operator with an inappropriate key/value operand will result in IllegalArgumentException, e.g. CONTAINS with boolean key/value pair.",
          "type": "string",
          "enum": [
            "UNSET",
            "EQUALS",
            "CONTAINS",
            "LESS_THAN",
            "GREATER_THAN",
            "EXISTS",
            "DOES_NOT_EXIST",
            "IS_EMPTY",
            "IS_NOT_EMPTY"
          ]
        },
        "eventPropertyKey": {
          "type": "string",
          "description": "Key that's evaluated against the `value`. Please note the data type of the runtime value associated with the key should match the data type of `value`, else an IllegalArgumentException is thrown."
        },
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Value that's checked for the key."
        }
      },
      "id": "EnterpriseCrmEventbusProtoCondition",
      "description": "Condition that uses `operator` to evaluate the key against the value."
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters": {
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
      "type": "object",
      "description": "LINT.IfChange This is the frontend version of WorkflowParameters. It's exactly like the backend version except that instead of flattening protobuf parameters and treating every field and subfield of a protobuf parameter as a separate parameter, the fields/subfields of a protobuf parameter will be nested as \"children\" (see 'children' field below) parameters of the parent parameter. Please refer to enterprise/crm/eventbus/proto/workflow_parameters.proto for more information about WorkflowParameters.",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communiticate between different tasks that are part of the same workflow execution."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest",
      "type": "object",
      "description": "The request for executing an integration.",
      "properties": {
        "parameters": {
          "description": "Optional. Passed in as parameters to each integration execution. Redacted",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        },
        "triggerId": {
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id). The trigger_id is in the format of `api_trigger/TRIGGER_NAME`.",
          "type": "string"
        },
        "parameterEntries": {
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "doNotPropagateError": {
          "type": "boolean",
          "description": "Optional. Flag to determine how to should propagate errors. If this flag is set to be true, it will not throw an exception. Instead, it will return a {@link ExecuteIntegrationsResponse} with an execution id and error messages as PostWithTriggerIdExecutionException in {@link EventParameters}. The flag is set to be false by default."
        },
        "executionId": {
          "description": "Optional. The id of the ON_HOLD execution to be resumed.",
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used by integration execution."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry",
      "properties": {
        "isTransient": {
          "type": "boolean",
          "description": "Whether this parameter is a transient parameter. go/ip-transient-parameters"
        },
        "inOutType": {
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "type": "string",
          "description": "Specifies the input/output type for the parameter.",
          "enumDescriptions": [
            "",
            "Input parameters for the workflow. EventBus validates that these parameters exist in the workflows before execution.",
            "Output Parameters for the workflow. EventBus will only return the workflow parameters tagged with OUT in the response back.",
            "Input or Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ]
        },
        "children": {
          "description": "Child parameters nested within this parameter. This field only applies to protobuf parameters",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          }
        },
        "jsonSchema": {
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\"."
        },
        "defaultValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string",
          "description": "The data type of the parameter.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "attributes": {
          "description": "Metadata information about the parameters.",
          "$ref": "EnterpriseCrmEventbusProtoAttributes"
        },
        "protoDefName": {
          "type": "string",
          "description": "The name of the protobuf type if the parameter has a protobuf data type."
        },
        "producer": {
          "type": "string"
        },
        "protoDefPath": {
          "type": "string",
          "description": "If the data type is of type proto or proto array, this field needs to be populated with the fully qualified proto name. This message, for example, would be \"enterprise.crm.frontends.eventbus.proto.WorkflowParameterEntry\"."
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition.",
          "type": "string"
        },
        "producedBy": {
          "$ref": "EnterpriseCrmEventbusProtoNodeIdentifier",
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequest": {
      "type": "object",
      "description": "Request for Creating Cloud Function rpc call.",
      "properties": {
        "functionRegion": {
          "type": "string",
          "description": "The function region of CF to be created"
        },
        "projectId": {
          "description": "Indicates the id of the GCP project that the function will be created in.",
          "type": "string"
        },
        "functionName": {
          "type": "string",
          "description": "The function name of CF to be created"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequest"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage": {
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSfdcChannel": {
      "description": "The SfdcChannel that points to a CDC or Platform Event Channel.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSfdcChannel",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the channel was last updated",
          "format": "google-datetime"
        },
        "lastReplayId": {
          "type": "string",
          "description": "Last sfdc messsage replay id for channel"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the channel was deleted. Empty if not deleted.",
          "format": "google-datetime"
        },
        "description": {
          "description": "The description for this channel",
          "type": "string"
        },
        "channelTopic": {
          "description": "The Channel topic defined by salesforce once an channel is opened",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the channel is created"
        },
        "isActive": {
          "type": "boolean",
          "description": "Indicated if a channel has any active integrations referencing it. Set to false when the channel is created, and set to true if there is any integration published with the channel configured in it."
        },
        "displayName": {
          "type": "string",
          "description": "Client level unique name/alias to easily reference a channel."
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterEntry": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterEntry",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
        },
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        }
      },
      "description": "Key-value pair of EventBus parameters."
    },
    "EnterpriseCrmEventbusProtoLogSettings": {
      "type": "object",
      "properties": {
        "sanitizeOptions": {
          "$ref": "EnterpriseCrmLoggingGwsSanitizeOptions",
          "description": "Contains the scrubbing options, such as whether to scrub, obfuscate, etc."
        },
        "seedScope": {
          "enumDescriptions": [
            "",
            "Hash computations include the event name.",
            "Hash computations include a time period.",
            "Hash computations include the param name."
          ],
          "enum": [
            "SEED_SCOPE_UNSPECIFIED",
            "EVENT_NAME",
            "TIME_PERIOD",
            "PARAM_NAME"
          ],
          "type": "string"
        },
        "seedPeriod": {
          "enumDescriptions": [
            "",
            "Sanitized values remain constant for the day of the event.",
            "Sanitized values remain constant for the week of the event; may cross month boundaries.",
            "Sanitized values remain constant for the month of the event."
          ],
          "enum": [
            "SEED_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH"
          ],
          "type": "string"
        },
        "logFieldName": {
          "description": "The name of corresponding logging field of the event property. If omitted, assumes the same name as the event property key.",
          "type": "string"
        },
        "shorteningLimits": {
          "description": "Contains the field limits for shortening, such as max string length and max array length.",
          "$ref": "EnterpriseCrmLoggingGwsFieldLimits"
        }
      },
      "description": "The LogSettings define the logging attributes for an event property. These attributes are used to map the property to the parameter in the log proto. Also used to define scrubbing/truncation behavior and PII information. See go/integration-platform/analytics/logging_task.md for details.",
      "id": "EnterpriseCrmEventbusProtoLogSettings"
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList": {
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList",
      "description": "List of error enums for alerts.",
      "type": "object",
      "properties": {
        "filterType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ]
        },
        "enumStrings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoJsonFunction": {
      "id": "EnterpriseCrmEventbusProtoJsonFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "next id: 24"
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET_PROPERTY",
            "GET_ELEMENT",
            "APPEND_ELEMENT",
            "SIZE",
            "SET_PROPERTY",
            "FLATTEN",
            "FLATTEN_ONCE",
            "MERGE",
            "TO_STRING",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_PROTO",
            "TO_STRING_ARRAY",
            "TO_INT_ARRAY",
            "TO_DOUBLE_ARRAY",
            "TO_PROTO_ARRAY",
            "TO_BOOLEAN_ARRAY",
            "REMOVE_PROPERTY",
            "RESOLVE_TEMPLATE",
            "EQUALS",
            "FOR_EACH",
            "FILTER_ELEMENTS"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateCloudFunctionResponse": {
      "description": "Response for Creating Cloud Function rpc call.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCreateCloudFunctionResponse",
      "properties": {
        "triggerUrl": {
          "description": "The trigger url that will be returned",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoNextTeardownTask": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoNextTeardownTask",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the next teardown task."
        }
      },
      "description": "The teardown task that is next in line to be executed. We support only sequential execution of teardown tasks (i.e. no branching)."
    },
    "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest",
      "type": "object",
      "properties": {
        "suspensionResult": {
          "description": "User passed in suspension result and will be used to control workflow execution branching behavior by setting up corresponnding edge condition with suspension result. For example, if you want to lift the suspension, you can pass \"Approved\", or if you want to reject the suspension and terminate workfloe execution, you can pass \"Rejected\" and terminate the workflow execution with configuring the edge condition.",
          "type": "string"
        }
      },
      "description": "Request for lift Suspension"
    },
    "GoogleCloudIntegrationsV1alphaParameterMap": {
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "entries": {
          "type": "array",
          "description": "A list of parameter map entries.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaParameterMapEntry"
          }
        },
        "keyType": {
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "description": "Option to specify key type for all entries of the map. If provided then field types for all entries must conform to this."
        },
        "valueType": {
          "description": "Option to specify value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaParameterMap"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleRequest": {
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Required. name of the bundle that will be created"
        },
        "secondaryCustomerOrgId": {
          "description": "Optional. The prefix for the SA, it should be in the format \"o\". This is an optional field, and if empty service account will be created per project, where we are creating bundle. This should only be used as the org ID for which we want to run the integrations in the bundle.",
          "type": "string"
        },
        "integrations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of integrations that can be executed by the bundle"
        }
      },
      "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request to create a new Bundle.",
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleRequest",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "id": "EnterpriseCrmEventbusProtoParameterMap",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          }
        },
        "valueType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "keyType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot": {
      "type": "object",
      "properties": {
        "taskName": {
          "type": "string",
          "description": "The task name associated with this snapshot. Could be empty."
        },
        "eventExecutionSnapshotMetadata": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        },
        "snapshotTime": {
          "type": "string",
          "description": "Indicates when this snapshot is taken.",
          "format": "int64"
        },
        "checkpointTaskNumber": {
          "type": "string",
          "description": "Indicates \"right after which checkpoint task's execution\" this snapshot is taken."
        },
        "conditionResults": {
          "type": "array",
          "description": "All of the computed conditions that been calculated.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoConditionResult"
          }
        },
        "taskExecutionDetails": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
          },
          "description": "All of the task execution details at the given point of time.",
          "type": "array"
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Points to the event execution info this snapshot belongs to."
        },
        "diffParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "The parameters in Event object that differs from last snapshot."
        },
        "eventExecutionSnapshotId": {
          "description": "Auto-generated. Used as primary key for EventExecutionSnapshots table.",
          "type": "string"
        },
        "eventParams": {
          "description": "The parameters in Event object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleRequest": {
      "description": "Request for ArchiveBundle.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleRequest",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest",
      "description": "The request for testing an integration.",
      "properties": {
        "inputParameters": {
          "description": "Optional. Input parameters used during integration execution.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object"
        },
        "parameters": {
          "description": "Optional. Passed in as parameters to each integration execution.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "clientId": {
          "type": "string",
          "description": "Required. This is used to identify the client on whose behalf the event will be executed."
        },
        "testMode": {
          "type": "boolean",
          "description": "Optional. Can be specified in the event request, otherwise false (default). If true, enables tasks with condition \"test_mode = true\". If false, disables tasks with condition \"test_mode = true\" if global test mode (set by platform) is also false {@link EventBusConfig}."
        },
        "deadlineSecondsTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. custom deadline of the rpc"
        },
        "triggerId": {
          "description": "Required. The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks.",
          "type": "string"
        },
        "integrationVersion": {
          "description": "Required. integration config to execute the workflow",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse": {
      "description": "Response to list SfdcInstances.",
      "properties": {
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        },
        "sfdcInstances": {
          "description": "The list of SfdcInstances retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse"
    },
    "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse",
      "properties": {
        "parameterEntries": {
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array"
        },
        "executionId": {
          "description": "The id of the execution corresponding to this run of integration.",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "executionFailed": {
          "type": "boolean",
          "description": "Is true if any execution in the integration failed. False otherwise."
        },
        "eventParameters": {
          "description": "Details for the integration that were executed.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        }
      },
      "description": "The response for testing an integration."
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse": {
      "properties": {
        "executionInfoIds": {
          "type": "array",
          "description": "The execution info id for the executed integrations.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response for executing an integration.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
    },
    "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy": {
      "description": "Next available id: 4",
      "type": "object",
      "properties": {
        "taskNumbersToRollback": {
          "description": "Required. These are the tasks numbers of the tasks whose `rollback_strategy.rollback_task_implementation_class_name` needs to be executed upon failure of this task.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Optional. The customized parameters the user can pass to this task."
        },
        "rollbackTaskImplementationClassName": {
          "type": "string",
          "description": "Required. This is the name of the task that needs to be executed upon rollback of this task."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex": {
      "properties": {
        "regex": {
          "type": "string",
          "description": "The regex applied to the input value(s)."
        },
        "exclusive": {
          "description": "Whether the regex matcher is applied exclusively (if true, matching values will be rejected).",
          "type": "boolean"
        }
      },
      "description": "Rule used to validate strings.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex"
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "properties": {
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        },
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        }
      },
      "type": "object",
      "description": "Field represents either the key or value in an entry."
    },
    "EnterpriseCrmEventbusProtoBuganizerNotification": {
      "properties": {
        "title": {
          "description": "Title of the issue to be created. Required.",
          "type": "string"
        },
        "templateId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the buganizer template to use. Optional."
        },
        "assigneeEmailAddress": {
          "type": "string",
          "description": "Whom to assign the new bug. Optional."
        },
        "componentId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the buganizer component within which to create a new issue. Required."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBuganizerNotification"
    },
    "EnterpriseCrmEventbusProtoSuspensionExpiration": {
      "id": "EnterpriseCrmEventbusProtoSuspensionExpiration",
      "properties": {
        "expireAfterMs": {
          "type": "integer",
          "format": "int32",
          "description": "Milliseconds after which the suspension expires, if no action taken."
        },
        "liftWhenExpired": {
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior.",
          "type": "boolean"
        },
        "remindAfterMs": {
          "description": "Milliseconds after which the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "description": "Use this request to post all workflows associated with a given trigger id. Next available id: 10",
      "properties": {
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required.",
          "type": "string"
        },
        "testMode": {
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}.",
          "type": "boolean"
        },
        "workflowName": {
          "type": "string",
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow."
        },
        "scheduledTime": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled."
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "priority": {
          "type": "string",
          "description": "The request priority this request should be processed at. For internal users:",
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ]
        },
        "clientId": {
          "type": "string",
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients."
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each workflow execution. Optional."
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "type": "boolean",
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default."
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims": {
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "properties": {
        "audience": {
          "type": "string",
          "description": "Value for the \"aud\" claim."
        },
        "issuer": {
          "type": "string",
          "description": "Value for the \"iss\" claim."
        },
        "subject": {
          "type": "string",
          "description": "Value for the \"sub\" claim."
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissions": {
      "type": "object",
      "description": "LINT.IfChange",
      "properties": {
        "gaiaIdentity": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
          "description": "Represents a Gaia identity for a person or service account."
        },
        "loasRole": {
          "type": "string"
        },
        "googleGroup": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        },
        "mdbGroup": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions"
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "type": "object",
      "description": "Mapped field is a pair of input field and output field. Next Id: 3",
      "properties": {
        "outputField": {
          "description": "The output field being mapped to.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        },
        "inputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The input field being mapped from."
        }
      },
      "id": "EnterpriseCrmEventbusProtoMappedField"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The start time of the task execution for current attempt. This could be in the future if it's been scheduled.",
          "format": "int64",
          "type": "string"
        },
        "endTime": {
          "description": "The end time of the task execution for current attempt.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
    },
    "EnterpriseCrmFrontendsEventbusProtoIntParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray",
      "properties": {
        "intValues": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoConnectorsConnection": {
      "type": "object",
      "properties": {
        "connectionName": {
          "description": "Connection name Format: projects/{project}/locations/{location}/connections/{connection}",
          "type": "string"
        },
        "connectorVersion": {
          "description": "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}",
          "type": "string"
        },
        "serviceName": {
          "type": "string",
          "description": "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}"
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsConnection"
    },
    "EnterpriseCrmEventbusProtoErrorDetail": {
      "type": "object",
      "description": "An error, warning, or information message associated with a workflow.",
      "id": "EnterpriseCrmEventbusProtoErrorDetail",
      "properties": {
        "taskNumber": {
          "description": "The task try-number, in which, the error occurred. If zero, the error happened at the event level.",
          "type": "integer",
          "format": "int32"
        },
        "errorCode": {
          "description": "The associated error-code, which can be a common or internal code.",
          "$ref": "CrmlogErrorCode"
        },
        "severity": {
          "type": "string",
          "description": "The severity of the error: ERROR|WARN|INFO.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARN",
            "INFO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "errorMessage": {
          "description": "The full text of the error message, including any parameters that were thrown along with the exception.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode": {
      "properties": {
        "accessToken": {
          "description": "The access token received from the token endpoint.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "authEndpoint": {
          "type": "string",
          "description": "The auth url endpoint to send the auth code request to."
        },
        "requestType": {
          "type": "string",
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "description": "Represent how to pass parameters to fetch access token"
        },
        "clientId": {
          "type": "string",
          "description": "The client's id."
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "The token parameters sent along with the token request."
        },
        "authCode": {
          "description": "The Auth Code that is used to initially retrieve the access token.",
          "type": "string"
        },
        "applyReauthPolicy": {
          "description": "Indicates if the user has opted in Google Reauth Policy. If opted in, the refresh token will be valid for 20 hours, after which time users must re-authenticate in order to obtain a new one.",
          "type": "boolean"
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "authParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "The auth parameters sent along with the auth code request."
        },
        "tokenEndpoint": {
          "description": "The token url endpoint to send the token request to.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "The client's secret."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
      "description": "The OAuth Type where the client sends request with the client id and requested scopes to auth endpoint. User sees a consent screen and auth code is received at specified redirect url afterwards. The auth code is then combined with the client id and secret and sent to the token endpoint in exchange for the access and refresh token. The refresh token can be used to fetch new access tokens.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAttemptStats": {
      "id": "GoogleCloudIntegrationsV1alphaAttemptStats",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end time of the event execution for current attempt.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Status for the execution attempt."
    },
    "GoogleCloudIntegrationsV1alphaIntegrationVersion": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
      "properties": {
        "integrationParameters": {
          "description": "Optional. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationParameter"
          }
        },
        "lockHolder": {
          "type": "string",
          "description": "Optional. The edit lock holder's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "userLabel": {
          "type": "string",
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created."
        },
        "state": {
          "enum": [
            "INTEGRATION_STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. User should not set it as an input.",
          "enumDescriptions": [
            "Default.",
            "Draft.",
            "Active.",
            "Archived.",
            "Snapshot."
          ]
        },
        "origin": {
          "description": "Optional. The origin that indicates where this integration is coming from.",
          "enum": [
            "UNSPECIFIED",
            "UI",
            "PIPER_V2",
            "PIPER_V3",
            "APPLICATION_IP_PROVISIONING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Workflow is being created via event bus UI.",
            "User checked in this workflow in Piper as v2 textproto format and we synced it into spanner.",
            "User checked in this workflow in piper as v3 textproto format and we synced it into spanner.",
            "Workflow is being created via Standalone IP Provisioning"
          ]
        },
        "taskConfigs": {
          "type": "array",
          "description": "Optional. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskConfig"
          }
        },
        "snapshotNumber": {
          "type": "string",
          "format": "int64",
          "description": "Optional. An increasing sequence that is set when a new snapshot is created. The last created snapshot can be identified by [workflow_name, org_id latest(snapshot_number)]. However, last created snapshot need not be same as the HEAD. So users should always use \"HEAD\" tag to identify the head."
        },
        "databasePersistencePolicy": {
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data."
          ],
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index.",
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED"
          ],
          "type": "string"
        },
        "triggerConfigsInternal": {
          "description": "Optional. Trigger configurations.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          }
        },
        "lastModifierEmail": {
          "description": "Optional. The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Auto-generated."
        },
        "parentTemplateId": {
          "type": "string",
          "description": "Optional. The id of the template which was used to create this integration_version."
        },
        "integrationParametersInternal": {
          "description": "Optional. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Auto-generated.",
          "format": "google-datetime"
        },
        "triggerConfigs": {
          "description": "Optional. Trigger configurations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTriggerConfig"
          }
        },
        "taskConfigsInternal": {
          "description": "Optional. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          },
          "type": "array"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Output only. Generated by eventbus. User should not set it as an input.",
          "readOnly": true,
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. The integration description."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Auto-generated primary key."
        },
        "teardown": {
          "$ref": "EnterpriseCrmEventbusProtoTeardown",
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code."
        }
      },
      "type": "object",
      "description": "The integration version definition."
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest",
      "type": "object",
      "properties": {},
      "description": "Request for PublishIntegrationVersion."
    },
    "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig": {
      "type": "object",
      "properties": {
        "integrations": {
          "description": "A bundle of integrations that can be executed by the task at runtime.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceAccount": {
          "description": "Output only. The service account created and owned by IP and added to the customers GCP project.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "This proto holds the core runner data in the bundle task. It is not expected to be directly edited by the user. Instead, a default value will be provided at the task creation time.",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionRequest": {
      "description": "Request for cancelling an execution.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetails": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetails",
      "properties": {
        "eventExecutionState": {
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ]
        },
        "nextExecutionTime": {
          "format": "int64",
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD.",
          "type": "string"
        },
        "eventExecutionSnapshot": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          },
          "type": "array"
        },
        "eventRetriesFromBeginningCount": {
          "format": "int32",
          "description": "Indicates the number of times the execution has restarted from the beginning.",
          "type": "integer"
        },
        "networkAddress": {
          "description": "The network address (aka. bns address) that indicates where the event executor is running.",
          "type": "string"
        },
        "ryeLockUnheldCount": {
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/",
          "type": "integer",
          "format": "int32"
        },
        "logFilePath": {
          "description": "The log file path (aka. cns address) for this event.",
          "type": "string"
        },
        "eventAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          }
        }
      },
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10"
    },
    "GoogleCloudIntegrationsV1alphaOidcToken": {
      "id": "GoogleCloudIntegrationsV1alphaOidcToken",
      "properties": {
        "tokenExpireTime": {
          "description": "The approximate time until the token retrieved is valid.",
          "format": "google-datetime",
          "type": "string"
        },
        "audience": {
          "type": "string",
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for."
        },
        "serviceAccountEmail": {
          "description": "The service account email to be used as the identity for the token.",
          "type": "string"
        },
        "token": {
          "description": "ID token obtained for the service account",
          "type": "string"
        }
      },
      "type": "object",
      "description": "OIDC Token"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest": {
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest",
      "properties": {},
      "type": "object",
      "description": "Request for TakeoverEditLock."
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue": {
      "type": "object",
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig.",
[...]
