{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "baseUrl": "https://integrations.googleapis.com/",
  "canonicalName": "Integrations",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "id": "integrations:v1alpha",
  "ownerName": "Google",
  "revision": "20221220",
  "version_module": true,
  "servicePath": "",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "title": "Application Integration API",
  "schemas": {
    "EnterpriseCrmEventbusProtoProtoArrayFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoArrayFunction",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaRuntimeActionSchema": {
      "properties": {
        "outputSchema": {
          "description": "Output parameter schema for the action.",
          "type": "string"
        },
        "action": {
          "description": "Name of the action.",
          "type": "string"
        },
        "inputSchema": {
          "description": "Input parameter schema for the action.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema",
      "description": "Metadata of an action, including schemas for its inputs and outputs."
    },
    "EnterpriseCrmEventbusProtoTeardown": {
      "properties": {
        "teardownTaskConfigs": {
          "description": "Required.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTeardownTaskConfig"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTeardown"
    },
    "GoogleCloudIntegrationsV1alphaExecutionDetails": {
      "id": "GoogleCloudIntegrationsV1alphaExecutionDetails",
      "properties": {
        "attemptStats": {
          "description": "List of Start and end time of the execution attempts.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAttemptStats"
          }
        },
        "executionSnapshots": {
          "description": "List of snapshots taken during the execution.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshot"
          }
        },
        "state": {
          "type": "string",
          "description": "Status of the execution.",
          "enumDescriptions": [
            "Default.",
            "Execution is scheduled and awaiting to be triggered.",
            "Execution is processing.",
            "Execution successfully finished. There's no more change after this state.",
            "Execution failed. There's no more change after this state.",
            "Execution canceled by user. There's no more change after this state.",
            "Execution failed and waiting for retry.",
            "Execution suspended and waiting for manual intervention."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ]
        }
      },
      "type": "object",
      "description": "Contains the details of the execution info: this includes the tasks execution details plus the event execution statistics."
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "type": "object",
      "description": "Represents a node identifier (type + id). Next highest id: 3",
      "properties": {
        "elementType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ],
          "description": "Destination node where the edge ends. It can only be a task config."
        },
        "elementIdentifier": {
          "type": "string",
          "description": "Configuration of the edge."
        }
      }
    },
    "GoogleCloudConnectorsV1LockConfig": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "Describes why a connection is locked."
        },
        "locked": {
          "description": "Indicates whether or not the connection is locked.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Determines whether or no a connection is locked. If locked, a reason must be specified.",
      "id": "GoogleCloudConnectorsV1LockConfig"
    },
    "EnterpriseCrmEventbusProtoBuganizerNotification": {
      "id": "EnterpriseCrmEventbusProtoBuganizerNotification",
      "properties": {
        "title": {
          "description": "Title of the issue to be created. Required.",
          "type": "string"
        },
        "componentId": {
          "description": "ID of the buganizer component within which to create a new issue. Required.",
          "type": "string",
          "format": "int64"
        },
        "templateId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the buganizer template to use. Optional."
        },
        "assigneeEmailAddress": {
          "type": "string",
          "description": "Whom to assign the new bug. Optional."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaParameterMapEntry": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaParameterMapEntry",
      "properties": {
        "value": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField",
          "description": "Value of the map entry."
        },
        "key": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField",
          "description": "Key of the map entry."
        }
      },
      "description": "Entry is a pair of key and value."
    },
    "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema": {
      "description": "Metadata of an entity, including a schema for its properties.",
      "id": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema",
      "properties": {
        "fieldSchema": {
          "description": "List of fields in the entity.",
          "type": "string"
        },
        "arrayFieldSchema": {
          "type": "string",
          "description": "The above schema, but for an array of the associated entity."
        },
        "entity": {
          "description": "Name of the entity.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoIntArrayFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object"
    },
    "CrmlogErrorCode": {
      "id": "CrmlogErrorCode",
      "description": "Registered ids for errors, as \"oneof\" enums. Each task or logical grouping of tasks may share the same enum.",
      "type": "object",
      "properties": {
        "commonErrorCode": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only.",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only. This error will be counted as server availability error.",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "COMMON_ERROR_CODE_UNSPECIFIED",
            "INVALID_CREDENTIALS",
            "REQUIRED_FIELDS_MISSING",
            "INVALID_FIELDS",
            "BACKEND",
            "GENERAL",
            "INTERNAL",
            "IO_ERROR",
            "NOT_FOUND",
            "EVENT_BUS",
            "ALREADY_EXISTS",
            "CONCORD",
            "CONVERSION",
            "FLUME",
            "PERMISSION",
            "SALES_FORCE",
            "SPANNER",
            "UNIMPLEMENTED",
            "RELTIO",
            "WORKFLOW_NOT_FOUND",
            "QUOTA_THROTTLED",
            "QUOTA_ENQUEUED",
            "INVALID_QUOTA_CONFIGURATION",
            "TASK_NOT_FOUND",
            "EXECUTION_TIMEOUT",
            "INVALID_EVENT_EXECUTION_STATE",
            "INVALID_ATTRIBUTE",
            "MISSING_ATTRIBUTE",
            "CLIENT_UNAUTHORIZED_FOR_WORKFLOW",
            "INVALID_PARAMETER",
            "MISSING_PARAMETER",
            "UNAUTHROIZED_WORKFLOW_EDITOR_ACTION",
            "FAILED_PRECONDITION",
            "INVALID_CLIENT",
            "MISSING_CLIENT",
            "INVALID_WORKFLOW",
            "MISSING_QUOTA_CONFIGURATION",
            "UNHANDLED_TASK_ERROR",
            "SCRIPT_TASK_RUNTIME_ERROR",
            "RPC",
            "INVALID_PROTO",
            "UNHANDLED_EVENTBUS_ERROR",
            "INVALID_TASK_STATE",
            "TYPED_TASK_INVALID_INPUT_OPERATION",
            "TYPED_TASK_INVALID_OUTPUT_OPERATION",
            "VALIDATION_ERROR",
            "RESUME_ERROR",
            "APPS_SCRIPT_EXECUTION_ERROR",
            "INVALID_VECTOR_USER",
            "INFORMATICA",
            "RETRYABLE_TASK_ERROR",
            "INVALID_TENANT",
            "WRONG_TENANT",
            "INFORMATICA_BACKEND_UNAVAILABLE",
            "RPC_PERMISSION_DENIED",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "NOT_SUPPORTED_DATA_TYPE",
            "UNSANITIZED_USER_INPUT",
            "TRANSFORM_EXPRESSION_EVALUATION_ERROR",
            "HTTP_EXCEPTION",
            "EXECUTION_CANCELLED"
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest",
      "properties": {},
      "type": "object",
      "description": "Request for PublishIntegrationVersion."
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue": {
      "properties": {
        "percentage": {
          "description": "Percentage threshold.",
          "format": "int32",
          "type": "integer"
        },
        "absolute": {
          "format": "int64",
          "description": "Absolute value threshold.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "id": "EnterpriseCrmEventbusProtoIntParameterArray",
      "properties": {
        "intValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse",
      "type": "object",
      "description": "The response for getting Execution stats.",
      "properties": {
        "tableData": {
          "$ref": "EnterpriseCrmCardsTabularData",
          "description": "Data in form of table."
        },
        "aplosSeriesListData": {
          "description": "List of points.",
          "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesListData"
        }
      }
    },
    "EnterpriseCrmEventbusProtoErrorDetail": {
      "description": "An error, warning, or information message associated with a workflow.",
      "id": "EnterpriseCrmEventbusProtoErrorDetail",
      "type": "object",
      "properties": {
        "errorCode": {
          "$ref": "CrmlogErrorCode",
          "description": "The associated error-code, which can be a common or internal code."
        },
        "errorMessage": {
          "type": "string",
          "description": "The full text of the error message, including any parameters that were thrown along with the exception."
        },
        "taskNumber": {
          "format": "int32",
          "description": "The task try-number, in which, the error occurred. If zero, the error happened at the event level.",
          "type": "integer"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARN",
            "INFO"
          ],
          "description": "The severity of the error: ERROR|WARN|INFO."
        }
      }
    },
    "EnterpriseCrmEventbusProtoExecutionTraceInfo": {
      "id": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
      "description": "Message that helps aggregate all sub-executions triggered by one execution and keeps track of child-parent relationships.",
      "type": "object",
      "properties": {
        "parentEventExecutionInfoId": {
          "type": "string",
          "description": "Parent event execution info id that triggers the current execution through SubWorkflowExecutorTask."
        },
        "traceId": {
          "description": "Used to aggregate ExecutionTraceInfo.",
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1Secret": {
      "description": "Secret provides a reference to entries in Secret Manager.",
      "properties": {
        "secretVersion": {
          "type": "string",
          "description": "The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`."
        }
      },
      "id": "GoogleCloudConnectorsV1Secret",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse",
      "description": "Response for LinkAppsScriptProject rpc call.",
      "properties": {
        "scriptId": {
          "description": "The id of the linked Apps Script project.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryConfig": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryConfig",
      "type": "object",
      "properties": {
        "descriptivePhrase": {
          "description": "A short phrase to describe what this parameter contains.",
          "type": "string"
        },
        "helpText": {
          "description": "Detailed help text for this parameter containing information not provided elsewhere. For example, instructions on how to migrate from a deprecated parameter.",
          "type": "string"
        },
        "subSectionLabel": {
          "type": "string",
          "description": "A user-friendly label for subSection under which the parameter will be displayed."
        },
        "uiPlaceholderText": {
          "description": "Placeholder text which will appear in the UI input form for this parameter.",
          "type": "string"
        },
        "parameterNameOption": {
          "type": "string",
          "enum": [
            "DEFAULT_NOT_PARAMETER_NAME",
            "IS_PARAMETER_NAME",
            "KEY_IS_PARAMETER_NAME",
            "VALUE_IS_PARAMETER_NAME"
          ],
          "enumDescriptions": [
            "This field is not a parameter name.",
            "If this field is a string and this option is selected, the field will be interpreted as a parameter name. Users will be able to choose a variable using the autocomplete, but the name will be stored as a literal string.",
            "If this field is a ParameterMap and this option is selected, the map's keys will be interpreted as parameter names. Ignored if this field is not a ParameterMap.",
            "If this field is a ParameterMap and this option is selected, the map's values will be interpreted as parameter names. Ignored if this field is not a ParameterMap."
          ]
        },
        "label": {
          "type": "string",
          "description": "A user-friendly label for the parameter."
        },
        "hideDefaultValue": {
          "type": "boolean",
          "description": "Whether the default value is hidden in the UI."
        },
        "inputDisplayOption": {
          "type": "string",
          "enum": [
            "DEFAULT",
            "STRING_MULTI_LINE",
            "NUMBER_SLIDER",
            "BOOLEAN_TOGGLE"
          ],
          "enumDescriptions": [
            "A single-line input for strings, a numeric input box for numbers, or a checkbox for booleans.",
            "A multi-line input box for longer strings/string templates.",
            "A slider to select a numerical value. The default range is [0, 100].",
            "A toggle button for boolean parameters."
          ]
        },
        "isHidden": {
          "type": "boolean",
          "description": "Whether this field is hidden in the UI."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "properties": {
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        },
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "description": "Field represents either the key or value in an entry."
    },
    "GoogleCloudIntegrationsV1alphaListSuspensionsResponse": {
      "description": "Response for Suspensions.ListSuspensions.",
      "id": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse",
      "type": "object",
      "properties": {
        "suspensions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSuspension"
          },
          "type": "array",
          "description": "The suspensions for the relevant execution which the caller has permissions to view and resolve."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse": {
      "type": "object",
      "description": "Response of lift Suspense",
      "id": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse",
      "properties": {
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Execution Id that will be returned"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUsernameAndPassword": {
      "properties": {
        "password": {
          "description": "Password to be used",
          "type": "string"
        },
        "username": {
          "description": "Username to be used",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
      "description": "Username and password pair."
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequest": {
      "type": "object",
      "description": "The request to get data for monarch connector config.",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequest",
      "properties": {
        "metricFieldTable": {
          "type": "boolean",
          "description": "Returns a table of all possible metric field values within the specified duration, ignoring any data samples. Useful for autocomplete functionality."
        },
        "endTime": {
          "description": "Final time to query over, or the current time if left unset.",
          "type": "string",
          "format": "google-datetime"
        },
        "mashQuery": {
          "description": "Required. Query for searching data in monarch.",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQuery"
        },
        "responseTemplate": {
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "TABLE_CONFIG",
            "APLOSE_SERIES_LIST_CONFIG"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown data format",
            "Table data",
            "Aplose series data"
          ],
          "description": "Required. Template for response."
        },
        "outputPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "The output period for the query. Must be set if there is a window operation within the query and unset otherwise."
        },
        "duration": {
          "description": "How long the series data range: \"1h\",\"1d\",etc.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSuccessPolicy": {
      "properties": {
        "finalState": {
          "enum": [
            "FINAL_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "type": "string"
        }
      },
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "id": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
      "type": "object"
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesData": {
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesData",
      "type": "object",
      "description": "Data used to render an Aplos Series card.",
      "properties": {
        "rows": {
          "description": "A single Series Row",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesDataRow"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoFunction": {
      "id": "EnterpriseCrmEventbusProtoFunction",
      "properties": {
        "functionType": {
          "description": "The name of the function to perform.",
          "$ref": "EnterpriseCrmEventbusProtoFunctionType"
        },
        "parameters": {
          "type": "array",
          "description": "List of parameters required for the transformation.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationVersion": {
      "description": "The integration version definition.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
      "properties": {
        "parentTemplateId": {
          "type": "string",
          "description": "Optional. The id of the template which was used to create this integration_version."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Auto-generated.",
          "format": "google-datetime"
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "Optional. The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Auto-generated primary key."
        },
        "teardown": {
          "$ref": "EnterpriseCrmEventbusProtoTeardown",
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code."
        },
        "taskConfigs": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskConfig"
          },
          "description": "Optional. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs.",
          "type": "array"
        },
        "integrationParameters": {
          "type": "array",
          "description": "Optional. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationParameter"
          }
        },
        "origin": {
          "enum": [
            "UNSPECIFIED",
            "UI",
            "PIPER_V2",
            "PIPER_V3",
            "APPLICATION_IP_PROVISIONING"
          ],
          "enumDescriptions": [
            "",
            "Workflow is being created via event bus UI.",
            "User checked in this workflow in Piper as v2 textproto format and we synced it into spanner.",
            "User checked in this workflow in piper as v3 textproto format and we synced it into spanner.",
            "Workflow is being created via Standalone IP Provisioning"
          ],
          "type": "string",
          "description": "Optional. The origin that indicates where this integration is coming from."
        },
        "status": {
          "description": "Output only. Generated by eventbus. User should not set it as an input.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "readOnly": true
        },
        "triggerConfigs": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTriggerConfig"
          },
          "description": "Optional. Trigger configurations.",
          "type": "array"
        },
        "databasePersistencePolicy": {
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data."
          ],
          "type": "string",
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index.",
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED"
          ]
        },
        "taskConfigsInternal": {
          "type": "array",
          "description": "Optional. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          }
        },
        "snapshotNumber": {
          "type": "string",
          "format": "int64",
          "description": "Optional. An increasing sequence that is set when a new snapshot is created. The last created snapshot can be identified by [workflow_name, org_id latest(snapshot_number)]. However, last created snapshot need not be same as the HEAD. So users should always use \"HEAD\" tag to identify the head."
        },
        "userLabel": {
          "type": "string",
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created."
        },
        "createTime": {
          "description": "Output only. Auto-generated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Draft.",
            "Active.",
            "Archived.",
            "Snapshot."
          ],
          "description": "Output only. User should not set it as an input.",
          "enum": [
            "INTEGRATION_STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ]
        },
        "integrationParametersInternal": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
          "description": "Optional. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter."
        },
        "triggerConfigsInternal": {
          "description": "Optional. Trigger configurations.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. The integration description."
        },
        "lockHolder": {
          "type": "string",
          "description": "Optional. The edit lock holder's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse": {
      "properties": {
        "runtimeEntitySchemas": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema"
          },
          "description": "Runtime entity schemas.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse",
      "description": "Response for listing RuntimeEntitySchemas for a specific Connection.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray": {
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBooleanArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoBooleanArrayFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse",
      "type": "object",
      "description": "Response to list SfdcChannels.",
      "properties": {
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        },
        "sfdcChannels": {
          "type": "array",
          "description": "The list of SfdcChannels retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest",
      "description": "Request for CreateAppsScriptProject rpc call.",
      "properties": {
        "appsScriptProject": {
          "type": "string",
          "description": "The name of the Apps Script project to be created."
        },
        "authConfigId": {
          "description": "The auth config id necessary to fetch the necessary credentials to create the project for external clients",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse": {
      "type": "object",
      "properties": {
        "integrationVersion": {
          "description": "Version after the lock is acquired by the new user.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
        }
      },
      "description": "Response for TakeoverEditLock.",
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse"
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleRequest": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "It contains the updated bundle data"
        }
      },
      "type": "object",
      "description": "THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request message for Bundle update",
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleRequest"
    },
    "GoogleCloudIntegrationsV1alphaTaskExecutionDetails": {
      "description": "Contains the details of the execution of this task.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails",
      "properties": {
        "taskNumber": {
          "type": "string",
          "description": "Pointer to the task config it used for execution."
        },
        "taskAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAttemptStats"
          },
          "description": "Status for the current task execution attempt."
        },
        "taskExecutionState": {
          "enumDescriptions": [
            "Default value.",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ],
          "enum": [
            "TASK_EXECUTION_STATE_UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELLED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ],
          "description": "The execution state of this task.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "properties": {
        "scheduleTime": {
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately.",
          "format": "google-datetime",
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used by integration execution."
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each integration execution."
        },
        "parameterEntries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        },
        "requestId": {
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
          "type": "string"
        }
      },
      "description": "The request for scheduling an integration.",
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCoordinate": {
      "id": "EnterpriseCrmEventbusProtoCoordinate",
      "type": "object",
      "description": "Represents two-dimensional positions.",
      "properties": {
        "x": {
          "format": "int32",
          "type": "integer"
        },
        "y": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo",
      "properties": {
        "externalTraffic": {
          "description": "The origin of the suspension for periodic notifications.",
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic"
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "status": {
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Required. ID of the associated execution."
        },
        "suspensionId": {
          "type": "string",
          "description": "Primary key for the SuspensionResolutionInfoTable."
        },
        "lastModifiedTimestamp": {
          "description": "Auto-generated.",
          "format": "google-datetime",
          "type": "string"
        },
        "workflowName": {
          "type": "string",
          "description": "Required. The name of the originating workflow."
        },
        "createdTimestamp": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "product": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default.",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ]
        },
        "taskNumber": {
          "description": "Required. Task number of the associated SuspensionTask.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCustomSuspensionRequest": {
      "id": "EnterpriseCrmEventbusProtoCustomSuspensionRequest",
      "properties": {
        "suspensionInfoEventParameterKey": {
          "description": "In the fired event, set the SuspensionInfo message as the value for this key.",
          "type": "string"
        },
        "postToQueueWithTriggerIdRequest": {
          "$ref": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
          "description": "Request to fire an event containing the SuspensionInfo message."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest": {
      "type": "object",
      "properties": {
        "triggerId": {
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id). The trigger_id is in the format of `api_trigger/TRIGGER_NAME`.",
          "type": "string"
        },
        "doNotPropagateError": {
          "type": "boolean",
          "description": "Optional. Flag to determine how to should propagate errors. If this flag is set to be true, it will not throw an exception. Instead, it will return a {@link ExecuteIntegrationsResponse} with an execution id and error messages as PostWithTriggerIdExecutionException in {@link EventParameters}. The flag is set to be false by default."
        },
        "parameters": {
          "description": "Optional. Passed in as parameters to each integration execution. Redacted",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "inputParameters": {
          "description": "Optional. Input parameters used by integration execution.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "Optional. The id of the ON_HOLD execution to be resumed."
        },
        "parameterEntries": {
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest",
      "description": "The request for executing an integration."
    },
    "GoogleCloudIntegrationsV1alphaListExecutionsResponse": {
      "properties": {
        "executions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          },
          "type": "array",
          "description": "The detailed information of requested executions"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page results."
        },
        "executionInfos": {
          "type": "array",
          "description": "Required. The detailed information of requested executions.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo"
          }
        }
      },
      "type": "object",
      "description": "Response for listing the integration execution data.",
      "id": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "id": "GoogleCloudIntegrationsV1alphaSuspension",
      "properties": {
        "approvalConfig": {
          "description": "Controls the notifications and approval permissions for this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig"
        },
        "audit": {
          "description": "Metadata pertaining to the resolution of this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit"
        },
        "suspensionConfig": {
          "description": "Controls the notifications and resolver permissions for this suspension.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "lastModifyTime": {
          "description": "Output only. Auto-generated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Required. ID of the associated execution."
        },
        "taskId": {
          "description": "Required. Task id of the associated SuspensionTask.",
          "type": "string"
        },
        "integration": {
          "type": "string",
          "description": "Required. The name of the originating integration."
        },
        "name": {
          "type": "string",
          "description": "Resource name for suspensions suspension/{suspension_id}"
        },
        "state": {
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ],
          "description": "Required. State of this suspension, indicating what action a resolver has taken."
        },
        "createTime": {
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A record representing a suspension.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleResponse": {
      "properties": {
        "triggerId": {
          "description": "trigger_id of the bundle task",
          "type": "string"
        },
        "config": {
          "description": "It contains the bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleResponse",
      "description": "Response for create bundle.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQuery": {
      "properties": {
        "firstQuery": {
          "description": "Required. The components for constructing a mash query. Set \"point_operation\" if this is a single query",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent"
        },
        "secondQuery": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent",
          "description": "Optional. optional, only set when joining 2 queries. Set \"point_operation\" for joined query."
        },
        "operationMode": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode",
          "description": "Optional. optional, only set when joining 2 queries. By default join 2 queries with join operation."
        }
      },
      "description": "The MashQuery for searching data, set both queries for Join Operation.",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQuery",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse",
      "properties": {},
      "description": "Response for ArchiveIntegrationVersion.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest": {
      "description": "Request for lift Suspension",
      "id": "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest",
      "properties": {
        "suspensionResult": {
          "type": "string",
          "description": "User passed in suspension result and will be used to control workflow execution branching behavior by setting up corresponnding edge condition with suspension result. For example, if you want to lift the suspension, you can pass \"Approved\", or if you want to reject the suspension and terminate workfloe execution, you can pass \"Rejected\" and terminate the workflow execution with configuring the edge condition."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam": {
      "id": "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam",
      "type": "object",
      "properties": {
        "allowedCredentialTypes": {
          "items": {
            "enumDescriptions": [
              "",
              "Regular username/password pair.",
              "API key.",
              "OAuth 2.0 Authorization Code Grant Type.",
              "OAuth 2.0 Implicit Grant Type.",
              "OAuth 2.0 Client Credentials Grant Type.",
              "OAuth 2.0 Resource Owner Credentials Grant Type.",
              "JWT Token.",
              "Auth Token, e.g. bearer token.",
              "Service Account which can be used to generate token for authentication.",
              "Client Certificate only.",
              "Google OIDC ID Token"
            ],
            "type": "string",
            "enum": [
              "CREDENTIAL_TYPE_UNSPECIFIED",
              "USERNAME_AND_PASSWORD",
              "API_KEY",
              "OAUTH2_AUTHORIZATION_CODE",
              "OAUTH2_IMPLICIT",
              "OAUTH2_CLIENT_CREDENTIALS",
              "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
              "JWT",
              "AUTH_TOKEN",
              "SERVICE_ACCOUNT",
              "CLIENT_CERTIFICATE_ONLY",
              "OIDC_TOKEN"
            ]
          },
          "type": "array",
          "description": "Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only."
        },
        "useServiceAccountInContext": {
          "type": "boolean"
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "allowedServiceAccountInContext": {
          "type": "boolean"
        },
        "authConfigId": {
          "type": "string",
          "description": "UUID of the AuthConfig."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode": {
      "description": "Operation between 2 query",
      "properties": {
        "joinConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig",
          "description": "Optional. join operation"
        },
        "unionConfig": {
          "description": "Optional. union operation",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig"
        },
        "operationType": {
          "enumDescriptions": [
            "By default join.",
            "Union operation",
            "Join Operation"
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "UNION",
            "JOIN"
          ],
          "description": "Optional. optional operation types."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode",
      "type": "object"
    },
    "EnterpriseCrmLoggingGwsFieldLimits": {
      "id": "EnterpriseCrmLoggingGwsFieldLimits",
      "type": "object",
      "properties": {
        "logType": {
          "items": {
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "To which type(s) of logs the limits apply."
        },
        "maxArraySize": {
          "description": "maximum array size. If the array exceds this size, the field (list) is truncated.",
          "format": "int32",
          "type": "integer"
        },
        "logAction": {
          "type": "string",
          "enum": [
            "LOG_ACTION_UNSPECIFIED",
            "DONT_LOG",
            "LOG"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "shortenerType": {
          "enumDescriptions": [
            "",
            "String is shortened to max_string_length.",
            "String is replaced by its hex-string hash.",
            "String is replaced by a combination of string shortening and a hex-string hash.",
            "String shortening for email addresses. Shortening may be done on the user and/or domain portion of the email address.",
            "String is replaced by a combination of string shortening and a hex-string hash for an email address.",
            "Shortens a domain name (e.g., as part of an email address or URL)."
          ],
          "enum": [
            "SHORTENER_TYPE_UNSPECIFIED",
            "SHORTEN",
            "HASH",
            "SHORTEN_WITH_HASH",
            "SHORTEN_EMAIL",
            "SHORTEN_EMAIL_WITH_HASH",
            "SHORTEN_DOMAIN"
          ],
          "type": "string"
        },
        "maxStringLength": {
          "description": "maximum string length. If the field exceeds this amount the field is shortened.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Describes string and array limits when writing to logs. When a limit is exceeded the *shortener_type* describes how to shorten the field. next_id: 6"
    },
    "EnterpriseCrmEventbusProtoConditionResult": {
      "properties": {
        "currentTaskNumber": {
          "type": "string",
          "description": "the current task number."
        },
        "result": {
          "type": "boolean",
          "description": "the result comes out after evaluate the combined condition. True if there's no combined condition specified."
        },
        "nextTaskNumber": {
          "type": "string",
          "description": "the next task number."
        }
      },
      "description": "Contains the combined condition calculation results.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoConditionResult"
    },
    "GoogleCloudIntegrationsV1alphaTriggerConfig": {
      "id": "GoogleCloudIntegrationsV1alphaTriggerConfig",
      "description": "Configuration detail of a trigger.",
      "properties": {
        "label": {
          "description": "Optional. The user created label for a particular trigger.",
          "type": "string"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Configurable properties of the trigger, not to be confused with integration parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Pub/sub triggers."
        },
        "startTasks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "description": "Optional. Set of tasks numbers from where the integration execution is started by this trigger. If this is empty, then integration is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same integration execution graph)."
        },
        "triggerId": {
          "description": "Optional. The backend trigger ID.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description intended to give additional business context about the task."
        },
        "cloudSchedulerConfig": {
          "description": "Optional. Cloud Scheduler Trigger related metadata",
          "$ref": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig"
        },
        "nextTasksExecutionPolicy": {
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "type": "string",
          "description": "Optional. Dictates how next tasks will be executed."
        },
        "alertConfig": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig"
          },
          "type": "array",
          "description": "Optional. An alert threshold configuration for the [trigger + client + integration] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + integration] when published."
        },
        "triggerNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each trigger config within the integration on UI."
        },
        "triggerType": {
          "enumDescriptions": [
            "Unknown.",
            "Trigger by scheduled time.",
            "Trigger by API call.",
            "Trigger by Salesforce Channel.",
            "Trigger by Pub/Sub external.",
            "SFDC Channel Trigger for CDC.",
            "Trigger by Cloud Scheduler job."
          ],
          "type": "string",
          "enum": [
            "TRIGGER_TYPE_UNSPECIFIED",
            "CRON",
            "API",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "CLOUD_SCHEDULER"
          ],
          "description": "Optional. Type of trigger"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse": {
      "properties": {
        "taskEntities": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
          },
          "description": "The list of the tasks.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "This is a UI only method and will be moved away. Response for ListTaskEntities.",
      "id": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse"
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest",
      "properties": {},
      "description": "Request for DeactivateIntegrationVersion.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig": {
      "type": "object",
      "description": "This proto holds the core runner data in the bundle task. It is not expected to be directly edited by the user. Instead, a default value will be provided at the task creation time.",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The service account created and owned by IP and added to the customers GCP project."
        },
        "integrations": {
          "description": "A bundle of integrations that can be executed by the task at runtime.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
    },
    "EnterpriseCrmFrontendsEventbusProtoIntParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray",
      "properties": {
        "intValues": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data.",
      "id": "GoogleCloudIntegrationsV1alphaAccessToken",
      "properties": {
        "tokenType": {
          "type": "string",
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0."
        },
        "accessTokenExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The approximate time until the access token retrieved is valid."
        },
        "refreshTokenExpireTime": {
          "format": "google-datetime",
          "description": "The approximate time until the refresh token retrieved is valid.",
          "type": "string"
        },
        "accessToken": {
          "description": "The access token encapsulating the security identity of a process or thread.",
          "type": "string"
        },
        "refreshToken": {
          "description": "If the access token will expire, use the refresh token to obtain another access token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "type": "object",
      "properties": {
        "doubleValues": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
    },
    "EnterpriseCrmEventbusProtoDoubleArray": {
      "properties": {
        "values": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleArray"
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest": {
      "description": "Request for LinkAppsScriptProject rpc call.",
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest",
      "type": "object",
      "properties": {
        "scriptId": {
          "description": "The id of the Apps Script project to be linked.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCredential": {
      "description": "Defines parameters for a single, canonical credential.",
      "properties": {
        "jwt": {
          "description": "JWT credential",
          "$ref": "GoogleCloudIntegrationsV1alphaJwt"
        },
        "serviceAccountCredentials": {
          "$ref": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials",
          "description": "Service account credential"
        },
        "oauth2ResourceOwnerCredentials": {
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials",
          "description": "OAuth2 resource owner credentials"
        },
        "oauth2AuthorizationCode": {
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
          "description": "The api_key and oauth2_implicit are not covered in v1 and will be picked up once v1 is implemented. ApiKey api_key = 3; OAuth2 authorization code credential"
        },
        "oauth2ClientCredentials": {
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials",
          "description": "OAuth2Implicit oauth2_implicit = 5; OAuth2 client credentials"
        },
        "authToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAuthToken",
          "description": "Auth token credential"
        },
        "credentialType": {
          "type": "string",
          "description": "Credential type associated with auth config.",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ]
        },
        "oidcToken": {
          "description": "Google OIDC ID Token",
          "$ref": "GoogleCloudIntegrationsV1alphaOidcToken"
        },
        "usernameAndPassword": {
          "description": "Username and password credential",
          "$ref": "GoogleCloudIntegrationsV1alphaUsernameAndPassword"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCredential"
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest",
      "properties": {},
      "type": "object",
      "description": "Request for ArchiveIntegrationVersion."
    },
    "GoogleCloudIntegrationsV1alphaParameterMapField": {
      "description": "Field represents either the key or value in an entry.",
      "properties": {
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the Integration variables."
        },
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "GoogleCloudIntegrationsV1alphaValueType"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaParameterMapField"
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The next page token for the response.",
          "type": "string"
        },
        "integrations": {
          "description": "The integrations which match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegration"
          }
        }
      },
      "type": "object",
      "description": "Response for ListIntegrations."
    },
    "EnterpriseCrmEventbusProtoCloudSchedulerConfig": {
      "type": "object",
      "description": "Cloud Scheduler Trigger configuration",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations"
        },
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        },
        "cronTab": {
          "description": "Required. The cron tab of cloud scheduler trigger.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoCloudSchedulerConfig"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        },
        "clientSecret": {
          "description": "Secret version reference containing the client secret.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      },
      "type": "object",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials"
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleResponse": {
      "properties": {
        "config": {
          "description": "Contains updated bundle config",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      },
      "description": "Response message for Bundle update",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleResponse"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse": {
      "properties": {
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        },
        "executionId": {
          "type": "string",
          "description": "The id of the execution corresponding to this run of integration."
        },
        "outputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "OUTPUT parameters in format of Map. Where Key is the name of the parameter. Note: Name of the system generated parameters are wrapped by backtick(`) to distinguish them from the user defined parameters."
        },
        "executionFailed": {
          "type": "boolean",
          "description": "Is true if any execution in the integration failed. False otherwise."
        },
        "eventParameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Details for the integration that were executed."
        }
      },
      "description": "The response for executing an integration.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo": {
      "description": "Contains all the execution details for a workflow instance. Next available id: 24",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo",
      "type": "object",
      "properties": {
        "workflowRetryBackoffIntervalSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Time interval in seconds to schedule retry of workflow in manifold when workflow is already running"
        },
        "errors": {
          "description": "Errors, warnings, and informationals associated with the workflow/task. The order in which the errors were added by the workflow/task is maintained.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoErrorDetail"
          },
          "type": "array"
        },
        "eventExecutionDetails": {
          "description": "The execution info about this event.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails"
        },
        "errorCode": {
          "$ref": "CrmlogErrorCode",
          "description": "Final error-code if event failed."
        },
        "requestParams": {
          "description": "Event parameters come in as part of the request.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "clientId": {
          "description": "The event data user sends as request.",
          "type": "string"
        },
        "responseParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Event parameters come out as part of the response."
        },
        "eventExecutionInfoId": {
          "description": "Auto-generated primary key.",
          "type": "string"
        },
        "workflowName": {
          "type": "string",
          "description": "Name of the workflow."
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request.",
          "type": "string"
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "int64",
          "description": "Auto-generated."
        },
        "executionTraceInfo": {
          "$ref": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
          "description": "Execution trace info to aggregate parent-child executions."
        },
        "product": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "type": "string",
          "description": "Which Google product the execution_info belongs to. If not set, the execution_info belongs to Integration Platform by default."
        },
        "tenant": {
          "description": "Tenant this event is created. Used to reschedule the event to correct tenant.",
          "type": "string"
        },
        "createTime": {
          "description": "Auto-generated.",
          "format": "int64",
          "type": "string"
        },
        "snapshotNumber": {
          "type": "string",
          "description": "Workflow snapshot number.",
          "format": "int64"
        },
        "workflowId": {
          "description": "Required. Pointer to the workflow it is executing.",
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the workflow trigger config. If both trigger_id and client_id is present, the workflow is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "postMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE",
            "POST_BY_EVENT_CONFIG_ID",
            "POST_WITH_EVENT_DETAILS"
          ],
          "description": "The ways user posts this event."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaFailurePolicy": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaFailurePolicy",
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied).",
      "properties": {
        "intervalTime": {
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_INTEGRATION_WITH_BACKOFF. Defines the initial interval in seconds for backoff.",
          "format": "google-datetime",
          "type": "string"
        },
        "maxRetries": {
          "format": "int32",
          "type": "integer",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_INTEGRATION_WITH_BACKOFF. Defines the number of times the task will be retried if failed."
        },
        "retryStrategy": {
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Ignores the failure of this task. The rest of the integration will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the integration.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. max_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. max_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_retries` and `interval_in_seconds` must be specified.",
            "The entire integration will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_retries` and `interval_in_seconds` must be specified."
          ],
          "enum": [
            "RETRY_STRATEGY_UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_INTEGRATION_WITH_BACKOFF"
          ],
          "type": "string",
          "description": "Defines what happens to the task upon failure."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "properties": {
        "precondition": {
          "description": "Optional. Standard filter expression evaluated before execution. Independent of other conditions and tasks. Can be used to enable rollout. e.g. \"rollout(5)\" will only allow 5% of incoming traffic to task.",
          "type": "string"
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Auto-generated from the user's email."
        },
        "parameters": {
          "description": "The customized parameters the user can pass to this task.",
          "type": "object",
          "additionalProperties": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "taskEntity": {
          "description": "Copy of the task entity that this task config is an instance of.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
        },
        "successPolicy": {
          "description": "Determines what action to take upon successful task completion.",
          "$ref": "EnterpriseCrmEventbusProtoSuccessPolicy"
        },
        "taskType": {
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "description": "Defines the type of the task",
          "type": "string",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ]
        },
        "alertConfigs": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskAlertConfig"
          },
          "type": "array",
          "description": "Alert configurations on error rate, warning rate, number of runs, durations, etc."
        },
        "disableStrictTypeValidation": {
          "type": "boolean",
          "description": "If this config contains a TypedTask, allow validation to succeed if an input is read from the output of another TypedTask whose output type is declared as a superclass of the requested input type. For instance, if the previous task declares an output of type Message, any task with this flag enabled will pass validation when attempting to read any proto Message type from the resultant Event parameter."
        },
        "incomingEdgeCount": {
          "description": "The number of edges leading into this TaskConfig.",
          "type": "integer",
          "format": "int32"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Auto-generated."
        },
        "label": {
          "description": "User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        },
        "taskSpec": {
          "type": "string",
          "description": "A string template that allows user to configure task parameters (with either literal default values or tokens which will be resolved at execution time) for the task. It will eventually replace the old \"parameters\" field. Please refer to go/eventbus-task-spec-example for detailed usage example."
        },
        "position": {
          "description": "Optional. Informs the front-end application where to draw this task config on the UI.",
          "$ref": "EnterpriseCrmEventbusProtoCoordinate"
        },
        "preconditionLabel": {
          "description": "Optional. User-provided label that is attached to precondition in the UI.",
          "type": "string"
        },
        "nextTasksExecutionPolicy": {
          "type": "string",
          "description": "The policy dictating the execution of the next set of tasks for the current task.",
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        },
        "nextTasks": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true."
        },
        "taskTemplateName": {
          "description": "Used to define task-template name if task is of type task-template",
          "type": "string"
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Auto-generated.",
          "format": "google-datetime"
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "rollbackStrategy": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy",
          "description": "Optional. Contains information about what needs to be done upon failure (either a permanent error or after it has been retried too many times)."
        },
        "taskName": {
          "description": "The name for the task.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the task."
        },
        "taskExecutionStrategy": {
          "description": "The policy dictating the execution strategy of this task.",
          "enum": [
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ]
        },
        "taskNumber": {
          "description": "REQUIRED: the identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_number`).",
          "type": "string"
        },
        "jsonValidationOption": {
          "description": "If set, overrides the option configured in the Task implementation class.",
          "type": "string",
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskConfig",
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task. Next available id: 27"
    },
    "GoogleCloudIntegrationsV1alphaClientCertificate": {
      "properties": {
        "passphrase": {
          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
          "type": "string"
        },
        "encryptedPrivateKey": {
          "type": "string",
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
        },
        "sslCertificate": {
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaClientCertificate",
      "type": "object",
      "description": "Contains client certificate information"
    },
    "GoogleCloudIntegrationsV1alphaIntegration": {
      "id": "GoogleCloudIntegrationsV1alphaIntegration",
      "properties": {
        "name": {
          "description": "Required. The resource name of the integration.",
          "type": "string"
        },
        "active": {
          "description": "Required. If any integration version is published.",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Auto-generated.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The integration definition."
    },
    "GoogleCloudIntegrationsV1alphaStringParameterArray": {
      "id": "GoogleCloudIntegrationsV1alphaStringParameterArray",
      "type": "object",
      "description": "This message only contains a field of string array.",
      "properties": {
        "stringValues": {
          "description": "String array.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoStringParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray",
      "type": "object",
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaOidcToken": {
      "properties": {
        "tokenExpireTime": {
          "format": "google-datetime",
          "description": "The approximate time until the token retrieved is valid.",
          "type": "string"
        },
        "token": {
          "description": "ID token obtained for the service account",
          "type": "string"
        },
        "audience": {
          "type": "string",
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The service account email to be used as the identity for the token."
        }
      },
      "description": "OIDC Token",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaOidcToken"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleRequest": {
      "type": "object",
      "properties": {
        "secondaryCustomerOrgId": {
          "description": "Optional. The prefix for the SA, it should be in the format \"o\". This is an optional field, and if empty service account will be created per project, where we are creating bundle. This should only be used as the org ID for which we want to run the integrations in the bundle.",
          "type": "string"
        },
        "integrations": {
          "description": "A list of integrations that can be executed by the bundle",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bundleId": {
          "type": "string",
          "description": "Required. name of the bundle that will be created"
        }
      },
      "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request to create a new Bundle.",
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleRequest"
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "properties": {
        "protoValues": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray"
    },
    "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy": {
      "type": "object",
      "properties": {
        "rollbackTaskImplementationClassName": {
          "type": "string",
          "description": "Required. This is the name of the task that needs to be executed upon rollback of this task."
        },
        "taskNumbersToRollback": {
          "items": {
            "type": "string"
          },
          "description": "Required. These are the tasks numbers of the tasks whose `rollback_strategy.rollback_task_implementation_class_name` needs to be executed upon failure of this task.",
          "type": "array"
        },
        "parameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Optional. The customized parameters the user can pass to this task."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy",
      "description": "Next available id: 4"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition",
      "properties": {
        "fullName": {
          "description": "The fully-qualified proto name. This message, for example, would be \"enterprise.crm.eventbus.proto.ParamSpecEntry.ProtoDefinition\".",
          "type": "string"
        },
        "path": {
          "description": "Path to the proto file that contains the message type's definition.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmLoggingGwsSanitizeOptions": {
      "properties": {
        "sanitizeType": {
          "type": "string",
          "enum": [
            "SANITIZE_TYPE_UNSPECIFIED",
            "SCRUB",
            "ANONYMIZE",
            "ANONYMIZE_LIMITED_REPEATABLE",
            "OBFUSCATE",
            "ENCRYPT",
            "DO_NOT_SANITIZE"
          ],
          "enumDescriptions": [
            "",
            "Replace value with a scrubbed value (usu. a constant).",
            "Transform a value so that it cannot be tracked across events. However, a given value, is transformed to the same value *within* an event. E.g., \"foo.com\" is transformed to \"0xabcdef\" for event 1001, and to \"0xfedcba\" for event 1002.",
            "Transform values as with ANONYMIZER, but the same transformation is repeated for a limited time (e.g., 1 day).",
            "The value is transformed using a well-defined obfuscator (e.g., D3_CUSTOMER_ID).",
            "The value is encrypted.",
            "No sanitization is required."
          ]
        },
        "privacy": {
          "enumDescriptions": [
            "",
            "Field does *NOT* contain PII or sensitive data.",
            "Field contains PII.",
            "Field contains Sensitive PII.",
            "Unsure if field contains PII."
          ],
          "type": "string",
          "enum": [
            "PRIVACY_TYPE_UNSPECIFIED",
            "NOT_PII",
            "PII",
            "SPII",
            "UNSURE"
          ]
        },
        "isAlreadySanitized": {
          "type": "boolean",
[...]
