{
  "fullyEncodeReservedExpansion": true,
  "name": "integrations",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/application-integration",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://integrations.googleapis.com/",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "revision": "20240512",
  "version_module": true,
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "rootUrl": "https://integrations.googleapis.com/",
  "description": "",
  "canonicalName": "Integrations",
  "basePath": "",
  "schemas": {
    "EnterpriseCrmEventbusProtoTaskMetadataAdmin": {
      "id": "EnterpriseCrmEventbusProtoTaskMetadataAdmin",
      "description": "Admins are owners of a Task, and have all permissions on a particular task identified by the task name. By default, Eventbus periodically scans all task metadata and syncs (adds) any new admins defined here to Zanzibar.",
      "properties": {
        "googleGroupEmail": {
          "type": "string"
        },
        "userEmail": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials": {
      "type": "object",
      "properties": {
        "accessToken": {
          "description": "Access token fetched from the authorization server.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "requestType": {
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "description": "Represent how to pass parameters to fetch access token",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "type": "string"
        },
        "password": {
          "description": "The user's password.",
          "type": "string"
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "Token parameters for the auth request."
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The user's username."
        },
        "clientId": {
          "description": "The client's ID.",
          "type": "string"
        }
      },
      "description": "For resource owner credentials grant, the client will ask the user for their authorization credentials (ususally a username and password) and send a POST request to the authorization server. The authorization server will respond with a JSON object containing the access token.",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials"
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "runtimeEntitySchemas": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema"
          },
          "type": "array",
          "description": "Runtime entity schemas."
        }
      },
      "description": "Response for listing RuntimeEntitySchemas for a specific Connection.",
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse"
    },
    "GoogleCloudIntegrationsV1alphaSwitchEncryptionRequest": {
      "properties": {
        "cloudKmsConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudKmsConfig",
          "description": "Required. REQUIRED: Cloud KMS config for AuthModule to encrypt/decrypt credentials."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSwitchEncryptionRequest",
      "description": "Request for the SwitchEncryption rpc",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "TO_STRING",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "ROUND",
            "FLOOR",
            "CEIL",
            "GREATER_THAN",
            "LESS_THAN",
            "EQUALS",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "MOD"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleFunction"
    },
    "GoogleCloudIntegrationsV1alphaSfdcChannel": {
      "id": "GoogleCloudIntegrationsV1alphaSfdcChannel",
      "properties": {
        "name": {
          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}.",
          "type": "string"
        },
        "isActive": {
          "description": "Indicated if a channel has any active integrations referencing it. Set to false when the channel is created, and set to true if there is any integration published with the channel configured in it.",
          "type": "boolean"
        },
        "lastReplayId": {
          "type": "string",
          "description": "Last sfdc messsage replay id for channel"
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the channel was deleted. Empty if not deleted.",
          "readOnly": true
        },
        "displayName": {
          "description": "Client level unique name/alias to easily reference a channel.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the channel was last updated",
          "format": "google-datetime"
        },
        "channelTopic": {
          "description": "The Channel topic defined by salesforce once an channel is opened",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the channel is created"
        },
        "description": {
          "type": "string",
          "description": "The description for this channel"
        }
      },
      "description": "The SfdcChannel that points to a CDC or Platform Event Channel.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo",
      "properties": {
        "requestParams": {
          "description": "Event parameters come in as part of the request.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "product": {
          "description": "Which Google product the execution_info belongs to. If not set, the execution_info belongs to Integration Platform by default.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ]
        },
        "clientId": {
          "type": "string",
          "description": "The event data user sends as request."
        },
        "errors": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoErrorDetail"
          },
          "type": "array",
          "description": "Errors, warnings, and informationals associated with the workflow/task. The order in which the errors were added by the workflow/task is maintained."
        },
        "workflowId": {
          "type": "string",
          "description": "Required. Pointer to the workflow it is executing."
        },
        "executionTraceInfo": {
          "description": "Execution trace info to aggregate parent-child executions.",
          "$ref": "EnterpriseCrmEventbusProtoExecutionTraceInfo"
        },
        "errorCode": {
          "description": "Final error-code if event failed.",
          "$ref": "CrmlogErrorCode"
        },
        "eventExecutionDetails": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
          "description": "The execution info about this event."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request."
        },
        "tenant": {
          "description": "Tenant this event is created. Used to reschedule the event to correct tenant.",
          "type": "string"
        },
        "responseParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Event parameters come out as part of the response."
        },
        "replayInfo": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfoReplayInfo",
          "description": "Replay info for the execution"
        },
        "snapshotNumber": {
          "type": "string",
          "description": "Workflow snapshot number.",
          "format": "int64"
        },
        "lastModifiedTime": {
          "format": "int64",
          "description": "Auto-generated.",
          "type": "string"
        },
        "eventExecutionInfoId": {
          "description": "Auto-generated primary key.",
          "type": "string"
        },
        "createTime": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "int64"
        },
        "postMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE",
            "POST_BY_EVENT_CONFIG_ID",
            "POST_WITH_EVENT_DETAILS"
          ],
          "description": "The ways user posts this event."
        },
        "workflowRetryBackoffIntervalSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Time interval in seconds to schedule retry of workflow in manifold when workflow is already running"
        },
        "triggerId": {
          "description": "The trigger id of the workflow trigger config. If both trigger_id and client_id is present, the workflow is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks.",
          "type": "string"
        },
        "workflowName": {
          "type": "string",
          "description": "Name of the workflow."
        },
        "cloudLoggingDetails": {
          "$ref": "EnterpriseCrmEventbusProtoCloudLoggingDetails",
          "description": "Cloud Logging details for execution info"
        }
      },
      "description": "Contains all the execution details for a workflow instance. Next available id: 26"
    },
    "EnterpriseCrmEventbusProtoCloudKmsConfig": {
      "type": "object",
      "properties": {
        "keyName": {
          "description": "A Cloud KMS key is a named object containing one or more key versions, along with metadata for the key. A key exists on exactly one key ring tied to a specific location.",
          "type": "string"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "Optional. The id of GCP project where the KMS key is stored. If not provided, assume the key is stored in the same GCP project defined in Client (tag 14)."
        },
        "keyRingName": {
          "description": "A key ring organizes keys in a specific Google Cloud location and allows you to manage access control on groups of keys. A key ring's name does not need to be unique across a Google Cloud project, but must be unique within a given location.",
          "type": "string"
        },
        "locationName": {
          "type": "string",
          "description": "Location name of the key ring, e.g. \"us-west1\"."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account used for authentication of this KMS key. If this is not provided, the service account in Client.clientSource will be used."
        },
        "keyVersionName": {
          "description": "Optional. Each version of a key contains key material used for encryption or signing. A key's version is represented by an integer, starting at 1. To decrypt data or verify a signature, you must use the same key version that was used to encrypt or sign the data.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoCloudKmsConfig"
    },
    "GoogleCloudIntegrationsV1alphaParameterMap": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaParameterMap",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "keyType": {
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "type": "string",
          "description": "Option to specify key type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ]
        },
        "entries": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaParameterMapEntry"
          },
          "type": "array",
          "description": "A list of parameter map entries."
        },
        "valueType": {
          "description": "Option to specify value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterMapEntry": {
      "properties": {
        "key": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        },
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        }
      },
      "type": "object",
      "description": "Entry is a pair of key and value.",
      "id": "EnterpriseCrmEventbusProtoParameterMapEntry"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue": {
      "properties": {
        "percentage": {
          "format": "int32",
          "description": "Percentage threshold.",
          "type": "integer"
        },
        "absolute": {
          "description": "Absolute value threshold.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig."
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskEntity": {
      "type": "object",
      "description": "Contains a task's metadata and associated information. Next available id: 7",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
      "properties": {
        "uiConfig": {
          "description": "UI configuration for this task Also associated with the METADATA mask.",
          "$ref": "EnterpriseCrmEventbusProtoTaskUiConfig"
        },
        "stats": {
          "$ref": "EnterpriseCrmEventbusStats",
          "description": "Deprecated - statistics from the Monarch query.",
          "deprecated": true
        },
        "metadata": {
          "$ref": "EnterpriseCrmEventbusProtoTaskMetadata",
          "description": "Metadata inclueds the task name, author and so on."
        },
        "taskType": {
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "type": "string",
          "description": "Defines the type of the task"
        },
        "disabledForVpcSc": {
          "type": "boolean",
          "description": "True if the task has conflict with vpcsc"
        },
        "paramSpecs": {
          "description": "Declarations for inputs/outputs for a TypedTask. This is also associated with the METADATA mask.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage"
        }
      }
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "properties": {
        "properties": {
          "description": "An unordered list of property entries.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          }
        }
      },
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus."
    },
    "GoogleCloudIntegrationsV1alphaSuccessPolicy": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
      "properties": {
        "finalState": {
          "enumDescriptions": [
            "UNSPECIFIED.",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "type": "string",
          "enum": [
            "FINAL_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ]
        }
      },
      "description": "Policy that dictates the behavior for the task after it completes successfully."
    },
    "GoogleCloudIntegrationsV1alphaSuspensionAudit": {
      "description": "Contains when and by whom the suspension was resolved.",
      "properties": {
        "resolveTime": {
          "type": "string",
          "description": "Time at which this suspension was resolved.",
          "format": "google-datetime"
        },
        "resolver": {
          "description": "Email address of the person who resolved this suspension.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria",
      "properties": {
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Optional. To be used in TaskConfig for the implementation class."
        },
        "triggerCriteriaTaskImplementationClassName": {
          "type": "string",
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface."
        },
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoTaskMetadata": {
      "id": "EnterpriseCrmEventbusProtoTaskMetadata",
      "type": "object",
      "description": "TaskMetadata are attributes that are associated to every common Task we have.",
      "properties": {
        "description": {
          "description": "In a few sentences, describe the purpose and usage of the task.",
          "type": "string"
        },
        "defaultSpec": {
          "description": "Contains the initial configuration of the task with default values set. For now, The string should be compatible to an ASCII-proto format.",
          "type": "string"
        },
        "externalDocLink": {
          "description": "Doc link for external-facing documentation (separate from g3doc).",
          "type": "string"
        },
        "admins": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The actual class name or the annotated name of the task. Task Author should initialize this field with value from the getName() method of the Task class."
        },
        "standaloneExternalDocHtml": {
          "description": "External-facing documention for standalone IP in pantheon embedded in the RHP for this task. Non null only if different from external_doc_html",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Default value. Actual Task Status should always be set to either INACTIVE or ACTIVE. If none is specified at runtime, it will be set to INACTIVE.",
            "Still in-progress or incomplete, and not intended for use.",
            "Available for use."
          ],
          "enum": [
            "UNSPECIFIED_STATUS",
            "DEFAULT_INACTIVE",
            "ACTIVE"
          ],
          "type": "string",
          "description": "Allows author to indicate if the task is ready to use or not. If not set, then it will default to INACTIVE."
        },
        "externalDocMarkdown": {
          "type": "string",
          "description": "DEPRECATED: Use external_doc_html."
        },
        "isDeprecated": {
          "description": "The deprecation status of the current task. Default value is false;",
          "type": "boolean"
        },
        "codeSearchLink": {
          "type": "string",
          "description": "The Code Search link to the Task Java file."
        },
        "category": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_CATEGORY",
            "CUSTOM",
            "FLOW_CONTROL",
            "DATA_MANIPULATION",
            "SCRIPTING",
            "CONNECTOR",
            "HIDDEN",
            "CLOUD_SYSTEMS",
            "CUSTOM_TASK_TEMPLATE",
            "TASK_RECOMMENDATIONS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Internal IP tasks that should not be available in the UI.",
            "Tasks that are relevant to cloud systems teams and typically",
            "include connecting to Vector salesforce, CRM Hub Spanner etc. Task entities that derive from a custom task template.",
            "Category to show task recommendations"
          ]
        },
        "externalDocHtml": {
          "description": "External-facing documention embedded in the RHP for this task.",
          "type": "string"
        },
        "descriptiveName": {
          "description": "The string name to show on the task list on the Workflow editor screen. This should be a very short, one to two words name for the task. (e.g. \"Send Mail\")",
          "type": "string"
        },
        "activeTaskName": {
          "description": "The new task name to replace the current task if it is deprecated. Otherwise, it is the same as the current task name.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "A set of tags that pertain to a particular task. This can be used to improve the searchability of tasks with several names (\"REST Caller\" vs. \"Call REST Endpoint\") or to help users find tasks based on related words.",
          "type": "array"
        },
        "docMarkdown": {
          "type": "string",
          "description": "Snippet of markdown documentation to embed in the RHP for this task."
        },
        "system": {
          "enum": [
            "UNSPECIFIED_SYSTEM",
            "GENERIC",
            "BUGANIZER",
            "SALESFORCE",
            "CLOUD_SQL",
            "PLX",
            "SHEETS",
            "GOOGLE_GROUPS",
            "EMAIL",
            "SPANNER",
            "DATA_BRIDGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "g3DocLink": {
          "description": "URL to the associated G3 Doc for the task if available",
          "type": "string"
        },
        "externalCategory": {
          "enum": [
            "UNSPECIFIED_EXTERNAL_CATEGORY",
            "CORE",
            "CONNECTORS",
            "EXTERNAL_HTTP",
            "EXTERNAL_INTEGRATION_SERVICES",
            "EXTERNAL_CUSTOMER_ACTIONS",
            "EXTERNAL_FLOW_CONTROL",
            "EXTERNAL_WORKSPACE",
            "EXTERNAL_SECURITY",
            "EXTERNAL_DATABASES",
            "EXTERNAL_ANALYTICS",
            "EXTERNAL_BYOC",
            "EXTERNAL_BYOT",
            "EXTERNAL_ARTIFICIAL_INTELIGENCE",
            "EXTERNAL_DATA_MANIPULATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "HTTP tasks, e.g. rest api call task",
            "Integration services, e.g. connector task",
            "Customer ations, e.g. email task",
            "Flow control, e.g. while loop task",
            "Workspace tasks, e.g. list drive task",
            "Security, e.g. kms related tasks",
            "Database operation tasks, e.g. read firestore info tasks",
            "Analytics tasks, e.g. dataflow creattion tasks",
            "BYOC tasks",
            "BYOT tasks",
            "AI related tasks.",
            "Data manipulation related tasks, e.g. data mapping task"
          ]
        },
        "externalCategorySequence": {
          "type": "integer",
          "description": "Sequence with which the task in specific category to be displayed in task discovery panel for external users.",
          "format": "int32"
        },
        "iconLink": {
          "description": "URL to gstatic image icon for this task. This icon shows up on the task list panel along with the task name in the Workflow Editor screen. Use the 24p, 2x, gray color icon image format.",
          "type": "string"
        },
        "defaultJsonValidationOption": {
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "type": "string",
          "description": "Controls whether JSON workflow parameters are validated against provided schemas before and/or after this task's execution.",
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "type": "object",
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse": {
      "description": "The response for executing an integration.",
      "properties": {
        "executionInfoIds": {
          "description": "The execution info id for the executed integrations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
    },
    "CrmlogErrorCode": {
      "id": "CrmlogErrorCode",
      "type": "object",
      "properties": {
        "commonErrorCode": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only.",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only. This error will be counted as server availability error.",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "COMMON_ERROR_CODE_UNSPECIFIED",
            "INVALID_CREDENTIALS",
            "REQUIRED_FIELDS_MISSING",
            "INVALID_FIELDS",
            "BACKEND",
            "GENERAL",
            "INTERNAL",
            "IO_ERROR",
            "NOT_FOUND",
            "EVENT_BUS",
            "ALREADY_EXISTS",
            "CONCORD",
            "CONVERSION",
            "FLUME",
            "PERMISSION",
            "SALES_FORCE",
            "SPANNER",
            "UNIMPLEMENTED",
            "RELTIO",
            "WORKFLOW_NOT_FOUND",
            "QUOTA_THROTTLED",
            "QUOTA_ENQUEUED",
            "INVALID_QUOTA_CONFIGURATION",
            "TASK_NOT_FOUND",
            "EXECUTION_TIMEOUT",
            "INVALID_EVENT_EXECUTION_STATE",
            "INVALID_ATTRIBUTE",
            "MISSING_ATTRIBUTE",
            "CLIENT_UNAUTHORIZED_FOR_WORKFLOW",
            "INVALID_PARAMETER",
            "MISSING_PARAMETER",
            "UNAUTHROIZED_WORKFLOW_EDITOR_ACTION",
            "FAILED_PRECONDITION",
            "INVALID_CLIENT",
            "MISSING_CLIENT",
            "INVALID_WORKFLOW",
            "MISSING_QUOTA_CONFIGURATION",
            "UNHANDLED_TASK_ERROR",
            "SCRIPT_TASK_RUNTIME_ERROR",
            "RPC",
            "INVALID_PROTO",
            "UNHANDLED_EVENTBUS_ERROR",
            "INVALID_TASK_STATE",
            "TYPED_TASK_INVALID_INPUT_OPERATION",
            "TYPED_TASK_INVALID_OUTPUT_OPERATION",
            "VALIDATION_ERROR",
            "RESUME_ERROR",
            "APPS_SCRIPT_EXECUTION_ERROR",
            "INVALID_VECTOR_USER",
            "INFORMATICA",
            "RETRYABLE_TASK_ERROR",
            "INVALID_TENANT",
            "WRONG_TENANT",
            "INFORMATICA_BACKEND_UNAVAILABLE",
            "RPC_PERMISSION_DENIED",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "NOT_SUPPORTED_DATA_TYPE",
            "UNSANITIZED_USER_INPUT",
            "TRANSFORM_EXPRESSION_EVALUATION_ERROR",
            "HTTP_EXCEPTION",
            "EXECUTION_CANCELLED"
          ]
        }
      },
      "description": "Registered ids for errors, as \"oneof\" enums. Each task or logical grouping of tasks may share the same enum."
    },
    "EnterpriseCrmEventbusProtoTeardownTaskConfig": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTeardownTaskConfig",
      "properties": {
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "The parameters the user can pass to this task."
        },
        "name": {
          "description": "Required. Unique identifier of the teardown task within this Config. We use this field as the identifier to find next teardown tasks.",
          "type": "string"
        },
        "teardownTaskImplementationClassName": {
          "description": "Required. Implementation class name.",
          "type": "string"
        },
        "nextTeardownTask": {
          "$ref": "EnterpriseCrmEventbusProtoNextTeardownTask"
        },
        "properties": {
          "$ref": "EnterpriseCrmEventbusProtoEventBusProperties"
        },
        "creatorEmail": {
          "description": "The creator's email address.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCreateCloudFunctionResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCreateCloudFunctionResponse",
      "properties": {
        "triggerUrl": {
          "description": "The trigger url that will be returned",
          "type": "string"
        }
      },
      "description": "Response for Creating Cloud Function rpc call."
    },
    "GoogleCloudConnectorsV1HPAConfig": {
      "type": "object",
      "description": "Autoscaling config for connector deployment system metrics.",
      "properties": {
        "memoryUtilizationThreshold": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Percent Memory utilization where HPA triggers autoscaling."
        },
        "cpuUtilizationThreshold": {
          "description": "Output only. Percent CPU utilization where HPA triggers autoscaling.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudConnectorsV1HPAConfig"
    },
    "GoogleCloudIntegrationsV1alphaJwt": {
      "properties": {
        "jwtPayload": {
          "type": "string",
          "description": "Contains a set of claims. The JWT specification defines seven Registered Claim Names which are the standard fields commonly included in tokens. Custom claims are usually also included, depending on the purpose of the token."
        },
        "secret": {
          "type": "string",
          "description": "User's pre-shared secret to sign the token."
        },
        "jwtHeader": {
          "type": "string",
          "description": "Identifies which algorithm is used to generate the signature."
        },
        "jwt": {
          "type": "string",
          "description": "The token calculated by the header, payload and signature."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaJwt",
      "description": "Represents JSON web token(JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties, enabling the claims to be digitally signed or integrity protected."
    },
    "GoogleCloudConnectorsV1Secret": {
      "description": "Secret provides a reference to entries in Secret Manager.",
      "id": "GoogleCloudConnectorsV1Secret",
      "properties": {
        "secretVersion": {
          "description": "The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationParameter": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationParameter",
      "properties": {
        "containsLargeData": {
          "type": "boolean",
          "description": "Indicates whether this variable contains large data and need to be uploaded to Cloud Storage."
        },
        "isTransient": {
          "type": "boolean",
          "description": "Whether this parameter is a transient parameter."
        },
        "masked": {
          "type": "boolean",
          "description": "True if this parameter should be masked in the logs"
        },
        "producer": {
          "type": "string",
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param."
        },
        "dataType": {
          "description": "Type of the parameter.",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "type": "string"
        },
        "jsonSchema": {
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter.",
          "type": "string"
        },
        "defaultValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "displayName": {
          "type": "string",
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\"."
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
        },
        "inputOutputType": {
          "type": "string",
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "description": "Specifies the input/output type for the parameter.",
          "enumDescriptions": [
            "Default.",
            "Input parameters for the integration. EventBus validates that these parameters exist in the integrations before execution.",
            "Output Parameters for the integration. EventBus will only return the integration parameters tagged with OUT in the response back.",
            "Input and Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ]
        },
        "searchable": {
          "description": "Searchable in the execution log or not.",
          "type": "boolean"
        }
      },
      "description": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterValueType": {
      "id": "EnterpriseCrmEventbusProtoParameterValueType",
      "description": "LINT.IfChange To support various types of parameter values. Next available id: 14",
      "properties": {
        "protoValue": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntParameterArray"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmEventbusProtoProtoParameterArray"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringParameterArray"
        },
        "stringValue": {
          "type": "string"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleParameterArray"
        },
        "intValue": {
          "format": "int64",
          "type": "string"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanParameterArray"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmEventbusProtoSerializedObjectParameter"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoNextTask": {
      "type": "object",
      "properties": {
        "description": {
          "description": "User-provided description intended to give more business context about the next task edge or condition.",
          "type": "string"
        },
        "taskNumber": {
          "description": "Task number of the next task.",
          "type": "string"
        },
        "taskConfigId": {
          "description": "ID of the next task.",
          "type": "string"
        },
        "combinedConditions": {
          "type": "array",
          "deprecated": true,
          "description": "Combined condition for this task to become an eligible next task. Each of these combined_conditions are joined with logical OR. DEPRECATED: use `condition`",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCombinedCondition"
          }
        },
        "label": {
          "type": "string",
          "description": "User-provided label that is attached to this edge in the UI."
        },
        "condition": {
          "description": "Standard filter expression for this task to become an eligible next task.",
          "type": "string"
        }
      },
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "id": "EnterpriseCrmEventbusProtoNextTask"
    },
    "GoogleCloudIntegrationsV1alphaAuthConfig": {
      "id": "GoogleCloudIntegrationsV1alphaAuthConfig",
      "properties": {
        "visibility": {
          "description": "The visibility of the auth config.",
          "enumDescriptions": [
            "Visibility not specified.",
            "Profile visible to the creator only.",
            "Profile visible within the client."
          ],
          "enum": [
            "AUTH_CONFIG_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "CLIENT_VISIBLE"
          ],
          "type": "string"
        },
        "encryptedCredential": {
          "description": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key.",
          "format": "byte",
          "type": "string"
        },
        "overrideValidTime": {
          "type": "string",
          "description": "User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "SOFT_DELETED",
            "EXPIRED",
            "UNAUTHORIZED",
            "UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Status not specified.",
            "Valid Auth config.",
            "General invalidity, if it doesn't fits in the detailed issue below.",
            "Auth config soft deleted.",
            "Auth config expired.",
            "Auth config unauthorized.",
            "Auth config not supported."
          ],
          "description": "The status of the auth config."
        },
        "decryptedCredential": {
          "$ref": "GoogleCloudIntegrationsV1alphaCredential",
          "description": "Raw auth credentials."
        },
        "credentialType": {
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ],
          "description": "Credential type of the encrypted credential.",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "The reason / details of the current status."
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "createTime": {
          "description": "Output only. The timestamp when the auth config is created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The name of the auth config.",
          "type": "string"
        },
        "certificateId": {
          "description": "Certificate id for client certificate",
          "type": "string"
        },
        "expiryNotificationDuration": {
          "type": "array",
          "items": {
            "format": "google-duration",
            "type": "string"
          },
          "description": "User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours."
        },
        "description": {
          "type": "string",
          "description": "A description of the auth config."
        },
        "validTime": {
          "format": "google-datetime",
          "description": "The time until the auth config is valid. Empty or max value is considered the auth config won't expire.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the auth config is modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the auth config. For more information, see Manage authentication profiles. projects/{project}/locations/{location}/authConfigs/{authConfig}."
        }
      },
      "description": "The AuthConfig resource use to hold channels and connection config data.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode": {
      "id": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
      "properties": {
        "authParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "The auth parameters sent along with the auth code request."
        },
        "accessToken": {
          "description": "The access token received from the token endpoint.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "authEndpoint": {
          "type": "string",
          "description": "The auth url endpoint to send the auth code request to."
        },
        "applyReauthPolicy": {
          "type": "boolean",
          "description": "Indicates if the user has opted in Google Reauth Policy. If opted in, the refresh token will be valid for 20 hours, after which time users must re-authenticate in order to obtain a new one."
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "The token parameters sent along with the token request."
        },
        "clientId": {
          "type": "string",
          "description": "The client's id."
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token url endpoint to send the token request to."
        },
        "authCode": {
          "type": "string",
          "description": "The Auth Code that is used to initially retrieve the access token."
        },
        "requestType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "description": "Represent how to pass parameters to fetch access token"
        }
      },
      "type": "object",
      "description": "The OAuth Type where the client sends request with the client id and requested scopes to auth endpoint. User sees a consent screen and auth code is received at specified redirect url afterwards. The auth code is then combined with the client id and secret and sent to the token endpoint in exchange for the access and refresh token. The refresh token can be used to fetch new access tokens."
    },
    "GoogleCloudIntegrationsV1alphaBooleanParameterArray": {
      "description": "This message only contains a field of boolean array.",
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "type": "array",
          "description": "Boolean array."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaBooleanParameterArray",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoNotification": {
      "properties": {
        "emailAddress": {
          "$ref": "EnterpriseCrmEventbusProtoAddress"
        },
        "buganizerNotification": {
          "$ref": "EnterpriseCrmEventbusProtoBuganizerNotification"
        },
        "pubsubTopic": {
          "type": "string"
        },
        "escalatorQueue": {
          "type": "string"
        },
        "request": {
          "description": "If the out-of-the-box email/pubsub notifications are not suitable and custom logic is required, fire a workflow containing all info needed to notify users to resume execution.",
          "$ref": "EnterpriseCrmEventbusProtoCustomSuspensionRequest"
        }
      },
      "id": "EnterpriseCrmEventbusProtoNotification",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleParameterArray": {
      "id": "EnterpriseCrmEventbusProtoDoubleParameterArray",
      "properties": {
        "doubleValues": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoPropertyEntry": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding property value. This should be unique for a given fired event. The Tasks should be aware of the keys used while firing the events for them to be able to retrieve the values."
        }
      },
      "description": "Key-value pair of EventBus property.",
      "id": "EnterpriseCrmEventbusProtoPropertyEntry"
    },
    "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata": {
      "properties": {
        "integrationName": {
          "type": "string",
          "description": "The direct integration which the event execution snapshots belongs to"
        },
        "taskName": {
          "type": "string",
          "description": "the task name associated with this snapshot. Could be empty."
        },
        "ancestorTaskNumbers": {
          "items": {
            "type": "string"
          },
          "description": "Ancestor task number for the task(it will only be non-empty if the task is under 'private workflow')",
          "type": "array"
        },
        "eventAttemptNum": {
          "description": "the event attempt number this snapshot belongs to.",
          "type": "integer",
          "format": "int32"
        },
        "taskNumber": {
          "type": "string",
          "description": "The task number associated with this snapshot. Could be empty."
        },
        "taskAttemptNum": {
          "type": "integer",
          "description": "the task attempt number this snapshot belongs to. Could be empty.",
          "format": "int32"
        },
        "ancestorIterationNumbers": {
          "description": "Ancestor iteration number for the task(it will only be non-empty if the task is under 'private workflow')",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "taskLabel": {
          "type": "string",
          "description": "the task label associated with this snapshot. Could be empty."
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaProvisionClientRequest": {
      "id": "GoogleCloudIntegrationsV1alphaProvisionClientRequest",
      "properties": {
        "skipCpProvision": {
          "type": "boolean",
          "description": "Optional. Indicates if skip CP provision or not"
        },
        "cloudKmsConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudKmsConfig",
          "description": "Optional. OPTIONAL: Cloud KMS config for AuthModule to encrypt/decrypt credentials."
        },
        "provisionGmek": {
          "description": "Optional. Deprecated. Indicates provision with GMEK or CMEK. This field is deprecated and the provision would always be GMEK if cloud_kms_config is not present in the request.",
          "deprecated": true,
          "type": "boolean"
        },
        "runAsServiceAccount": {
          "description": "Optional. User input run-as service account, if empty, will bring up a new default service account",
          "type": "string"
        },
        "createSampleWorkflows": {
          "description": "Optional. Indicates if sample workflow should be created along with provisioning",
          "type": "boolean"
        }
      },
      "description": "Request for the Provision rpc",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaFile": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaFile",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value.",
            "Integration file.",
            "Integration Config variables."
          ],
          "enum": [
            "INTEGRATION_FILE_UNSPECIFIED",
            "INTEGRATION",
            "INTEGRATION_CONFIG_VARIABLES"
          ],
          "type": "string",
          "description": "File information like Integration version, Integration Config variables etc."
        },
        "integrationConfig": {
          "type": "object",
          "description": "Integration version config file",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
          "description": "Integration version"
        }
      },
      "description": "To store Integration version related file i.e. Integration Version, Config variable etc."
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryConfig": {
      "properties": {
        "hideDefaultValue": {
          "description": "Whether the default value is hidden in the UI.",
          "type": "boolean"
        },
        "subSectionLabel": {
          "type": "string",
          "description": "A user-friendly label for subSection under which the parameter will be displayed."
        },
        "helpText": {
          "type": "string",
          "description": "Detailed help text for this parameter containing information not provided elsewhere. For example, instructions on how to migrate from a deprecated parameter."
        },
        "descriptivePhrase": {
          "type": "string",
          "description": "A short phrase to describe what this parameter contains."
        },
        "label": {
          "description": "A user-friendly label for the parameter.",
          "type": "string"
        },
        "parameterNameOption": {
          "enum": [
            "DEFAULT_NOT_PARAMETER_NAME",
            "IS_PARAMETER_NAME",
            "KEY_IS_PARAMETER_NAME",
            "VALUE_IS_PARAMETER_NAME"
          ],
          "enumDescriptions": [
            "This field is not a parameter name.",
            "If this field is a string and this option is selected, the field will be interpreted as a parameter name. Users will be able to choose a variable using the autocomplete, but the name will be stored as a literal string.",
            "If this field is a ParameterMap and this option is selected, the map's keys will be interpreted as parameter names. Ignored if this field is not a ParameterMap.",
            "If this field is a ParameterMap and this option is selected, the map's values will be interpreted as parameter names. Ignored if this field is not a ParameterMap."
          ],
          "type": "string"
        },
        "uiPlaceholderText": {
          "description": "Placeholder text which will appear in the UI input form for this parameter.",
          "type": "string"
        },
        "isHidden": {
          "description": "Whether this field is hidden in the UI.",
          "type": "boolean"
        },
        "inputDisplayOption": {
          "enumDescriptions": [
            "A single-line input for strings, a numeric input box for numbers, or a checkbox for booleans.",
            "A multi-line input box for longer strings/string templates.",
            "A slider to select a numerical value. The default range is [0, 100].",
            "A toggle button for boolean parameters."
          ],
          "type": "string",
          "enum": [
            "DEFAULT",
            "STRING_MULTI_LINE",
            "NUMBER_SLIDER",
            "BOOLEAN_TOGGLE"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryConfig",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoExecutionTraceInfo": {
      "properties": {
        "traceId": {
          "description": "Used to aggregate ExecutionTraceInfo.",
          "type": "string"
        },
        "parentEventExecutionInfoId": {
          "type": "string",
          "description": "Parent event execution info id that triggers the current execution through SubWorkflowExecutorTask."
        }
      },
      "id": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
      "type": "object",
      "description": "Message that helps aggregate all sub-executions triggered by one execution and keeps track of child-parent relationships."
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "properties": {
        "audit": {
          "description": "Metadata pertaining to the resolution of this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit"
        },
        "name": {
          "description": "Resource name for suspensions suspension/{suspension_id}",
          "type": "string"
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Required. ID of the associated execution."
        },
        "integration": {
          "description": "Required. The name of the originating integration.",
          "type": "string"
        },
        "approvalConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig",
          "description": "Controls the notifications and approval permissions for this suspension."
        },
        "taskId": {
          "description": "Required. Task id of the associated SuspensionTask.",
          "type": "string"
        },
        "lastModifyTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Auto-generated."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Auto-generated."
        },
        "state": {
          "type": "string",
          "description": "Required. State of this suspension, indicating what action a resolver has taken.",
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ],
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ]
        },
        "suspensionConfig": {
          "deprecated": true,
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig",
          "description": "Controls the notifications and resolver permissions for this suspension."
        }
      },
      "description": "A record representing a suspension.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSuspension"
    },
    "GoogleCloudIntegrationsV1alphaCloudLoggingDetails": {
      "id": "GoogleCloudIntegrationsV1alphaCloudLoggingDetails",
      "type": "object",
      "properties": {
        "cloudLoggingSeverity": {
          "enumDescriptions": [
            "Unspecified",
            "If Severity selected is `INFO`, then all the Integration Execution States (`IN_PROCESS`, `ON_HOLD`, `SUCCEEDED`, `SUSPENDED`, `ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `ERROR`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `WARNING`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging."
          ],
          "enum": [
            "CLOUD_LOGGING_SEVERITY_UNSPECIFIED",
            "INFO",
            "ERROR",
            "WARNING"
          ],
          "description": "Optional. Severity selected by the customer for the logs to be sent to Cloud Logging, for the integration version getting executed.",
          "type": "string"
        },
        "enableCloudLogging": {
          "description": "Optional. Status of whether Cloud Logging is enabled or not for the integration version getting executed.",
          "type": "boolean"
        }
      },
      "description": "Cloud Logging details for execution info"
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse": {
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the linked Apps Script project."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse",
      "type": "object",
      "description": "Response for LinkAppsScriptProject rpc call."
    },
    "GoogleCloudIntegrationsV1alphaTaskConfig": {
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task.",
      "properties": {
        "taskTemplate": {
          "type": "string",
          "description": "Optional. Used to define task-template name if task is of type task-template"
        },
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaEventParameter"
          },
          "description": "Optional. The customized parameters the user can pass to this task."
        },
        "successPolicy": {
          "description": "Optional. Determines what action to take upon successful task completion.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuccessPolicy"
        },
        "externalTaskType": {
          "enumDescriptions": [
            "Default value. External task type is not specified",
            "Tasks belongs to the normal task flows",
            "Task belongs to the error catch task flows"
          ],
          "enum": [
            "EXTERNAL_TASK_TYPE_UNSPECIFIED",
            "NORMAL_TASK",
            "ERROR_TASK"
          ],
          "type": "string",
          "description": "Optional. External task type of the task"
        },
        "failurePolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.)."
        },
        "displayName": {
          "description": "Optional. User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        },
        "errorCatcherId": {
          "type": "string",
          "description": "Optional. Optional Error catcher id of the error catch flow which will be executed when execution error happens in the task"
        },
        "position": {
          "$ref": "GoogleCloudIntegrationsV1alphaCoordinate",
          "description": "Optional. Informs the front-end application where to draw this error catcher config on the UI."
        },
        "nextTasksExecutionPolicy": {
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "description": "Optional. The policy dictating the execution of the next set of tasks for the current task."
        },
        "taskId": {
          "type": "string",
          "description": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`)."
        },
        "nextTasks": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "type": "array",
          "description": "Optional. The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true."
        },
        "task": {
          "type": "string",
          "description": "Optional. The name for the task."
        },
        "jsonValidationOption": {
          "enum": [
            "JSON_VALIDATION_OPTION_UNSPECIFIED",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "type": "string",
          "description": "Optional. If set, overrides the option configured in the Task implementation class.",
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in IntegrationParameter.",
            "Validate all potential output JSON parameters against schemas specified in IntegrationParameter.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ]
        },
        "synchronousCallFailurePolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post)."
        },
        "taskExecutionStrategy": {
          "enumDescriptions": [
            "Default. If the strategy is not set explicitly, it will default to `WHEN_ALL_SUCCEED`.",
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "type": "string",
          "description": "Optional. The policy dictating the execution strategy of this task.",
          "enum": [
            "TASK_EXECUTION_STRATEGY_UNSPECIFIED",
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaTaskConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data.",
      "properties": {
        "accessTokenExpireTime": {
          "type": "string",
          "description": "Required. The approximate time until the access token retrieved is valid.",
          "format": "google-datetime"
        },
        "accessToken": {
          "type": "string",
          "description": "The access token encapsulating the security identity of a process or thread."
        },
        "refreshTokenExpireTime": {
          "description": "The approximate time until the refresh token retrieved is valid.",
          "type": "string",
          "format": "google-datetime"
        },
        "refreshToken": {
          "description": "If the access token will expire, use the refresh token to obtain another access token.",
          "type": "string"
        },
        "tokenType": {
          "type": "string",
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaAccessToken",
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims": {
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims",
      "type": "object",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "Value for the \"iss\" claim."
        },
        "subject": {
          "type": "string",
          "description": "Value for the \"sub\" claim."
        },
        "audience": {
          "type": "string",
          "description": "Value for the \"aud\" claim."
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo",
      "properties": {
        "workflowName": {
          "description": "Required. The name of the originating workflow.",
          "type": "string"
        },
        "taskNumber": {
          "type": "string",
          "description": "Required. Task number of the associated SuspensionTask."
        },
        "clientId": {
          "type": "string",
          "description": "The event data user sends as request."
        },
        "product": {
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default.",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "wrappedDek": {
          "description": "Wrapped dek",
          "type": "string",
          "format": "byte"
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Required. ID of the associated execution."
        },
        "createdTimestamp": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "suspensionId": {
          "description": "Primary key for the SuspensionResolutionInfoTable.",
          "type": "string"
        },
        "lastModifiedTimestamp": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "cloudKmsConfig": {
          "$ref": "EnterpriseCrmEventbusProtoCloudKmsConfig",
          "description": "KMS info, used by cmek/gmek integration"
        },
        "externalTraffic": {
          "description": "The origin of the suspension for periodic notifications.",
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic"
        },
        "status": {
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED",
            "CANCELED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "encryptedSuspensionResolutionInfo": {
          "type": "string",
          "description": "Encrypted SuspensionResolutionInfo",
          "format": "byte"
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        }
      }
    },
    "EnterpriseCrmEventbusProtoLogSettings": {
      "id": "EnterpriseCrmEventbusProtoLogSettings",
      "properties": {
        "seedScope": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Hash computations include the event name.",
            "Hash computations include a time period.",
            "Hash computations include the param name."
          ],
          "enum": [
            "SEED_SCOPE_UNSPECIFIED",
            "EVENT_NAME",
            "TIME_PERIOD",
            "PARAM_NAME"
          ]
        },
        "seedPeriod": {
          "enum": [
            "SEED_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Sanitized values remain constant for the day of the event.",
            "Sanitized values remain constant for the week of the event; may cross month boundaries.",
            "Sanitized values remain constant for the month of the event."
          ]
        },
        "sanitizeOptions": {
          "$ref": "EnterpriseCrmLoggingGwsSanitizeOptions",
          "description": "Contains the scrubbing options, such as whether to scrub, obfuscate, etc."
        },
        "shorteningLimits": {
          "$ref": "EnterpriseCrmLoggingGwsFieldLimits",
          "description": "Contains the field limits for shortening, such as max string length and max array length."
        },
        "logFieldName": {
          "type": "string",
          "description": "The name of corresponding logging field of the event property. If omitted, assumes the same name as the event property key."
        }
      },
      "type": "object",
      "description": "The LogSettings define the logging attributes for an event property. These attributes are used to map the property to the parameter in the log proto. Also used to define scrubbing/truncation behavior and PII information."
    },
    "GoogleCloudIntegrationsV1alphaErrorCatcherConfig": {
      "type": "object",
      "description": "Configuration detail of a error catch task",
      "id": "GoogleCloudIntegrationsV1alphaErrorCatcherConfig",
      "properties": {
        "position": {
          "description": "Optional. Informs the front-end application where to draw this error catcher config on the UI.",
          "$ref": "GoogleCloudIntegrationsV1alphaCoordinate"
        },
        "errorCatcherNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each error catcher config within the workflow on UI."
        },
        "label": {
          "description": "Optional. The user created label for a particular error catcher. Optional.",
          "type": "string"
        },
        "errorCatcherId": {
          "type": "string",
          "description": "Required. An error catcher id is string representation for the error catcher config. Within a workflow, error_catcher_id uniquely identifies an error catcher config among all error catcher configs for the workflow"
        },
        "startErrorTasks": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "description": "Required. The set of start tasks that are to be executed for the error catch flow",
          "type": "array"
        },
        "description": {
          "description": "Optional. User-provided description intended to give more business context about the error catcher config.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUsernameAndPassword": {
      "properties": {
        "password": {
          "type": "string",
          "description": "Password to be used"
        },
        "username": {
          "type": "string",
          "description": "Username to be used"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
      "type": "object",
      "description": "Username and password pair."
    },
    "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray": {
      "type": "object",
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig": {
      "id": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig",
      "description": "Configurations for approving the Suspension.",
      "type": "object",
      "properties": {
        "emailAddresses": {
          "type": "array",
          "description": "Email addresses to send approval request to.",
          "items": {
            "type": "string"
          }
        },
        "expiration": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration",
          "description": "Indicates the next steps when no external actions happen on the suspension."
        },
        "customMessage": {
          "description": "Information to provide for recipients.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudConnectorsV1BillingConfig": {
      "id": "GoogleCloudConnectorsV1BillingConfig",
      "type": "object",
      "properties": {
        "billingCategory": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Billing category for the connector.",
          "enumDescriptions": [
            "Billing category is not specified.",
            "GCP/Technical connector.",
            "Non-GCP connector."
          ],
          "enum": [
            "BILLING_CATEGORY_UNSPECIFIED",
            "GCP_AND_TECHNICAL_CONNECTOR",
            "NON_GCP_CONNECTOR"
          ]
        }
      },
      "description": "Billing config for the connection."
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray",
      "properties": {
        "protoValues": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse",
      "description": "Response containing all provisioned regions for Connector Platform.",
      "properties": {
        "regions": {
          "description": "All regions where Connector Platform is provisioned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaDownloadJsonPackageResponse": {
      "id": "GoogleCloudIntegrationsV1alphaDownloadJsonPackageResponse",
      "description": "Response for DownloadJsonPackage.",
      "type": "object",
      "properties": {
        "files": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaFile"
          },
          "type": "array",
          "description": "List containing JSON for multiple file with type information."
        }
      }
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "type": "object",
      "properties": {
        "intValues": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoIntParameterArray"
    },
    "EnterpriseCrmLoggingGwsFieldLimits": {
      "properties": {
        "logType": {
          "type": "array",
          "description": "To which type(s) of logs the limits apply.",
          "items": {
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "type": "string",
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ]
          }
        },
        "logAction": {
          "enum": [
            "LOG_ACTION_UNSPECIFIED",
            "DONT_LOG",
            "LOG"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "maxStringLength": {
          "format": "int32",
          "type": "integer",
          "description": "maximum string length. If the field exceeds this amount the field is shortened."
        },
        "shortenerType": {
          "type": "string",
          "enum": [
            "SHORTENER_TYPE_UNSPECIFIED",
            "SHORTEN",
            "HASH",
            "SHORTEN_WITH_HASH",
            "SHORTEN_EMAIL",
            "SHORTEN_EMAIL_WITH_HASH",
            "SHORTEN_DOMAIN"
          ],
          "enumDescriptions": [
            "",
            "String is shortened to max_string_length.",
            "String is replaced by its hex-string hash.",
            "String is replaced by a combination of string shortening and a hex-string hash.",
            "String shortening for email addresses. Shortening may be done on the user and/or domain portion of the email address.",
            "String is replaced by a combination of string shortening and a hex-string hash for an email address.",
            "Shortens a domain name (e.g., as part of an email address or URL)."
          ]
        },
        "maxArraySize": {
          "format": "int32",
          "type": "integer",
          "description": "maximum array size. If the array exceds this size, the field (list) is truncated."
        }
      },
      "id": "EnterpriseCrmLoggingGwsFieldLimits",
      "description": "Describes string and array limits when writing to logs. When a limit is exceeded the *shortener_type* describes how to shorten the field. next_id: 6",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoFunction"
    },
    "GoogleCloudIntegrationsV1alphaListExecutionsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListExecutionsResponse",
      "description": "Response for listing the integration execution data.",
      "properties": {
        "executionInfos": {
          "description": "Required. The detailed information of requested executions.",
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo"
          }
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page results.",
          "type": "string"
        },
        "executions": {
          "description": "The detailed information of requested executions",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest": {
      "description": "Request for LinkAppsScriptProject rpc call.",
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest",
      "type": "object",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the Apps Script project to be linked."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaDoubleParameterArray": {
      "description": "This message only contains a field of double number array.",
      "properties": {
        "doubleValues": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Double number array.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaDoubleParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse": {
      "type": "object",
      "properties": {
        "executionId": {
          "description": "The id of the execution corresponding to this run of integration.",
          "type": "string"
        },
        "outputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "OUTPUT parameters in format of Map. Where Key is the name of the parameter. Note: Name of the system generated parameters are wrapped by backtick(`) to distinguish them from the user defined parameters."
        },
        "parameterEntries": {
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "executionFailed": {
          "type": "boolean",
          "description": "Is true if any execution in the integration failed. False otherwise.",
          "deprecated": true
        },
        "eventParameters": {
          "description": "Details for the integration that were executed.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "deprecated": true
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse",
      "description": "The response for executing an integration."
    },
    "EnterpriseCrmEventbusProtoAddress": {
      "description": "Email address along with optional name and tokens. These tokens will be substituted for the variables in the form of [{var_name}], where var_name could be any string of no more than 32 bytes.",
      "id": "EnterpriseCrmEventbusProtoAddress",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required.",
          "type": "string"
        },
        "tokens": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoToken"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudIntegrationsV1alphaGetClientResponse": {
      "id": "GoogleCloudIntegrationsV1alphaGetClientResponse",
      "description": "Response for the GetClient rpc",
      "type": "object",
      "properties": {
        "client": {
          "description": "Required. Required: The client configuration that was requested",
          "$ref": "GoogleCloudIntegrationsV1alphaClientConfig"
        }
      }
    },
[...]
