{
  "protocol": "rest",
  "rootUrl": "https://integrations.googleapis.com/",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "id": "integrations:v1alpha",
  "revision": "20240421",
  "version_module": true,
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/application-integration",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudConnectorsV1NodeConfig": {
      "id": "GoogleCloudConnectorsV1NodeConfig",
      "description": "Node configuration for the connection.",
      "type": "object",
      "properties": {
        "maxNodeCount": {
          "description": "Maximum number of nodes in the runtime nodes.",
          "format": "int32",
          "type": "integer"
        },
        "minNodeCount": {
          "format": "int32",
          "description": "Minimum number of nodes in the runtime nodes.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse",
      "properties": {
        "sfdcInstances": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
          },
          "description": "The list of SfdcInstances retrieved.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response to list SfdcInstances.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats",
      "properties": {
        "startTime": {
          "description": "The start time of the task execution for current attempt. This could be in the future if it's been scheduled.",
          "format": "int64",
          "type": "string"
        },
        "endTime": {
          "description": "The end time of the task execution for current attempt.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecution": {
      "id": "GoogleCloudIntegrationsV1alphaExecution",
      "description": "The Execution resource contains detailed information of an individual integration execution.",
      "properties": {
        "snapshotNumber": {
          "description": "Output only. An increasing sequence that is set when a new snapshot is created",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "requestParameters": {
          "description": "Event parameters come in as part of the request.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last modified time of the execution.",
          "readOnly": true
        },
        "responseParams": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Event parameters come out as part of the response.",
          "deprecated": true
        },
        "responseParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Event parameters returned as part of the response.",
          "type": "object"
        },
        "integrationVersionState": {
          "enum": [
            "INTEGRATION_STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "description": "Output only. State of the integration version",
          "readOnly": true,
          "enumDescriptions": [
            "Default.",
            "Draft.",
            "Active.",
            "Archived.",
            "Snapshot."
          ],
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Created time of the execution."
        },
        "name": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "executionDetails": {
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionDetails",
          "description": "Detailed info of this execution."
        },
        "requestParams": {
          "type": "array",
          "deprecated": true,
          "description": "Event parameters come in as part of the request.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "eventExecutionDetails": {
          "deprecated": true,
          "description": "The execution info about this event.",
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetails"
        },
        "cloudLoggingDetails": {
          "description": "Cloud Logging details for the integration version",
          "$ref": "GoogleCloudIntegrationsV1alphaCloudLoggingDetails"
        },
        "executionMethod": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Sync post.",
            "Async post.",
            "Async post with schedule time."
          ],
          "description": "The ways user posts this event.",
          "enum": [
            "EXECUTION_METHOD_UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE"
          ]
        },
        "directSubExecutions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          },
          "type": "array",
          "description": "Direct sub executions of the following Execution."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaEventParameter": {
      "id": "GoogleCloudIntegrationsV1alphaEventParameter",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "masked": {
          "type": "boolean",
          "description": "True if this parameter should be masked in the logs"
        }
      },
      "description": "This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Next available id: 4"
    },
    "GoogleCloudConnectorsV1EventingConfigDeadLetterConfig": {
      "type": "object",
      "description": "Dead Letter configuration details provided by the user.",
      "id": "GoogleCloudConnectorsV1EventingConfigDeadLetterConfig",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Optional. Project which has the topic given."
        },
        "topic": {
          "type": "string",
          "description": "Optional. Topic to push events which couldn't be processed."
        }
      }
    },
    "EnterpriseCrmEventbusProtoEventParameters": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        }
      },
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see",
      "id": "EnterpriseCrmEventbusProtoEventParameters"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2AuthCodeFlow": {
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2AuthCodeFlow",
      "description": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details.",
      "properties": {
        "pkceVerifier": {
          "description": "PKCE verifier to be used during the auth code exchange.",
          "type": "string"
        },
        "enablePkce": {
          "type": "boolean",
          "description": "Whether to enable PKCE when the user performs the auth code flow."
        },
        "authCode": {
          "type": "string",
          "description": "Authorization code to be exchanged for access and refresh tokens."
        },
        "clientId": {
          "description": "Client ID for user-provided OAuth app.",
          "type": "string"
        },
        "redirectUri": {
          "description": "Redirect URI to be provided during the auth code exchange.",
          "type": "string"
        },
        "authUri": {
          "description": "Auth URL for Authorization Code Flow",
          "type": "string"
        },
        "scopes": {
          "description": "Scopes the connection will request when the user performs the auth code flow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clientSecret": {
          "description": "Client secret for user-provided OAuth app.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1SslConfig": {
      "description": "SSL Configuration of a connection",
      "id": "GoogleCloudConnectorsV1SslConfig",
      "properties": {
        "trustModel": {
          "enum": [
            "PUBLIC",
            "PRIVATE",
            "INSECURE"
          ],
          "description": "Trust Model of the SSL connection",
          "enumDescriptions": [
            "Public Trust Model. Takes the Default Java trust store.",
            "Private Trust Model. Takes custom/private trust store.",
            "Insecure Trust Model. Accept all certificates."
          ],
          "type": "string"
        },
        "clientCertType": {
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ],
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ],
          "type": "string",
          "description": "Type of Client Cert (PEM/JKS/.. etc.)"
        },
        "additionalVariables": {
          "description": "Additional SSL related field values",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "type": "array"
        },
        "clientCertificate": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Client Certificate"
        },
        "privateServerCertificate": {
          "description": "Private Server Certificate. Needs to be specified if trust model is `PRIVATE`.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "serverCertType": {
          "type": "string",
          "enum": [
            "CERT_TYPE_UNSPECIFIED",
            "PEM"
          ],
          "description": "Type of Server Cert (PEM/JKS/.. etc.)",
          "enumDescriptions": [
            "Cert type unspecified.",
            "Privacy Enhanced Mail (PEM) Type"
          ]
        },
        "type": {
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ],
          "type": "string",
          "enumDescriptions": [
            "No SSL configuration required.",
            "TLS Handshake",
            "mutual TLS (MTLS) Handshake"
          ],
          "description": "Controls the ssl type for the given connector version."
        },
        "useSsl": {
          "type": "boolean",
          "description": "Bool for enabling SSL"
        },
        "clientPrivateKeyPass": {
          "description": "Secret containing the passphrase protecting the Client Private Key",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "clientPrivateKey": {
          "description": "Client Private Key",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaJwt": {
      "properties": {
        "secret": {
          "type": "string",
          "description": "User's pre-shared secret to sign the token."
        },
        "jwt": {
          "type": "string",
          "description": "The token calculated by the header, payload and signature."
        },
        "jwtHeader": {
          "description": "Identifies which algorithm is used to generate the signature.",
          "type": "string"
        },
        "jwtPayload": {
          "type": "string",
          "description": "Contains a set of claims. The JWT specification defines seven Registered Claim Names which are the standard fields commonly included in tokens. Custom claims are usually also included, depending on the purpose of the token."
        }
      },
      "description": "Represents JSON web token(JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties, enabling the claims to be digitally signed or integrity protected.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaJwt"
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria",
      "properties": {
        "parameters": {
          "description": "Optional. To be used in TaskConfig for the implementation class.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "triggerCriteriaTaskImplementationClassName": {
          "type": "string",
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface."
        },
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "properties": {
        "baseFunction": {
          "$ref": "EnterpriseCrmEventbusProtoFunction",
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc."
        },
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Start with a literal value."
        },
        "referenceValue": {
          "type": "string",
          "description": "Start with a reference value to dereference."
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseValue",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoIntParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray",
      "properties": {
        "intValues": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse": {
      "description": "Response for DownloadIntegrationVersion.",
      "properties": {
        "files": {
          "description": "List containing String represendation for multiple file with type.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSerializedFile"
          },
          "type": "array"
        },
        "content": {
          "description": "String representation of the requested file.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "type": "object",
      "description": "Entry is a pair of key and value.",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      }
    },
    "EnterpriseCrmEventbusProtoNextTeardownTask": {
      "id": "EnterpriseCrmEventbusProtoNextTeardownTask",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the next teardown task.",
          "type": "string"
        }
      },
      "description": "The teardown task that is next in line to be executed. We support only sequential execution of teardown tasks (i.e. no branching)."
    },
    "GoogleCloudConnectorsV1ResourceLimits": {
      "properties": {
        "memory": {
          "readOnly": true,
          "description": "Output only. Memory limit.",
          "type": "string"
        },
        "cpu": {
          "description": "Output only. CPU limit.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Resource limits defined for connection pods of a given connector type.",
      "id": "GoogleCloudConnectorsV1ResourceLimits"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion": {
      "properties": {
        "description": {
          "description": "Optional. The templateversion description. Permitted format is alphanumeric with underscores and no spaces.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Auto-generated primary key. Format: projects/{project}/locations/{location}/products/{product}/integrationtemplates/{integrationtemplate}/versions/{version}",
          "readOnly": true,
          "type": "string"
        },
        "errorCatcherConfigs": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaErrorCatcherConfig"
          },
          "type": "array",
          "description": "Optional. Error Catch Task configuration for the IntegrationTemplateVersion. It's optional."
        },
        "templateParameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
          "description": "Optional. Parameters that are expected to be passed to the IntegrationTemplateVersion when an event is triggered. This consists of all the parameters that are expected in the IntegrationTemplateVersion execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter."
        },
        "teardown": {
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code.",
          "$ref": "EnterpriseCrmEventbusProtoTeardown"
        },
        "updateTime": {
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Auto-generated."
        },
        "triggerConfigs": {
          "description": "Optional. Trigger configurations.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          }
        },
        "parentIntegrationVersionId": {
          "description": "Optional. ID of the IntegrationVersion that was used to create this IntegrationTemplateVersion",
          "type": "string"
        },
        "enableVariableMasking": {
          "type": "boolean",
          "description": "Optional. True if variable masking feature should be turned on for generated workflows"
        },
        "taskConfigs": {
          "description": "Optional. Task configuration for the IntegrationTemplateVersion. It's optional, but the IntegrationTemplateVersion doesn't do anything without task_configs.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          },
          "type": "array"
        },
        "userLabel": {
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created.",
          "type": "string"
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "Optional. The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "databasePersistencePolicy": {
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data.",
            "Asynchronously persist all execution data."
          ],
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED",
            "DATABASE_PERSISTENCE_ASYNC"
          ],
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index.",
          "type": "string"
        },
        "snapshotNumber": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. An increasing sequence that is set when a new snapshot is created.",
          "type": "string"
        },
        "status": {
          "description": "Optional. Generated by eventbus. User should not set it as an input.",
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion",
      "description": "IntegrationTemplateVersion definition. An IntegrationTemplateVersion provides configurations required to construct an IntegrationVersion. It cannot be executed directly like an Integration. Users can create IntegrationTemplateVersions using Integrations. These Templates can be shared by users across GCP projects. Next available: 17",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCloudLoggingDetails": {
      "properties": {
        "enableCloudLogging": {
          "type": "boolean",
          "description": "Optional. Status of whether Cloud Logging is enabled or not for the integration version getting executed."
        },
        "cloudLoggingSeverity": {
          "type": "string",
          "enum": [
            "CLOUD_LOGGING_SEVERITY_UNSPECIFIED",
            "INFO",
            "ERROR",
            "WARNING"
          ],
          "enumDescriptions": [
            "Unspecified",
            "If Severity selected is `INFO`, then all the Integration Execution States (`IN_PROCESS`, `ON_HOLD`, `SUCCEEDED`, `SUSPENDED`, `ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `ERROR`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `WARNING`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging."
          ],
          "description": "Optional. Severity selected by the customer for the logs to be sent to Cloud Logging, for the integration version getting executed."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCloudLoggingDetails",
      "description": "Cloud Logging details for execution info"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray",
      "type": "object"
    },
    "GoogleCloudConnectorsV1ConnectionStatus": {
      "description": "ConnectionStatus indicates the state of the connection.",
      "id": "GoogleCloudConnectorsV1ConnectionStatus",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error.",
            "Connection is not running because the authorization configuration is not complete."
          ],
          "description": "State.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR",
            "AUTHORIZATION_REQUIRED"
          ]
        },
        "description": {
          "description": "Description.",
          "type": "string"
        },
        "status": {
          "description": "Status provides detailed information for the state.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryConfig": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryConfig",
      "properties": {
        "uiPlaceholderText": {
          "type": "string",
          "description": "Placeholder text which will appear in the UI input form for this parameter."
        },
        "helpText": {
          "type": "string",
          "description": "Detailed help text for this parameter containing information not provided elsewhere. For example, instructions on how to migrate from a deprecated parameter."
        },
        "label": {
          "description": "A user-friendly label for the parameter.",
          "type": "string"
        },
        "parameterNameOption": {
          "type": "string",
          "enumDescriptions": [
            "This field is not a parameter name.",
            "If this field is a string and this option is selected, the field will be interpreted as a parameter name. Users will be able to choose a variable using the autocomplete, but the name will be stored as a literal string.",
            "If this field is a ParameterMap and this option is selected, the map's keys will be interpreted as parameter names. Ignored if this field is not a ParameterMap.",
            "If this field is a ParameterMap and this option is selected, the map's values will be interpreted as parameter names. Ignored if this field is not a ParameterMap."
          ],
          "enum": [
            "DEFAULT_NOT_PARAMETER_NAME",
            "IS_PARAMETER_NAME",
            "KEY_IS_PARAMETER_NAME",
            "VALUE_IS_PARAMETER_NAME"
          ]
        },
        "descriptivePhrase": {
          "type": "string",
          "description": "A short phrase to describe what this parameter contains."
        },
        "isHidden": {
          "description": "Whether this field is hidden in the UI.",
          "type": "boolean"
        },
        "inputDisplayOption": {
          "enumDescriptions": [
            "A single-line input for strings, a numeric input box for numbers, or a checkbox for booleans.",
            "A multi-line input box for longer strings/string templates.",
            "A slider to select a numerical value. The default range is [0, 100].",
            "A toggle button for boolean parameters."
          ],
          "enum": [
            "DEFAULT",
            "STRING_MULTI_LINE",
            "NUMBER_SLIDER",
            "BOOLEAN_TOGGLE"
          ],
          "type": "string"
        },
        "subSectionLabel": {
          "type": "string",
          "description": "A user-friendly label for subSection under which the parameter will be displayed."
        },
        "hideDefaultValue": {
          "type": "boolean",
          "description": "Whether the default value is hidden in the UI."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam": {
      "properties": {
        "allowedCredentialTypes": {
          "items": {
            "type": "string",
            "enum": [
              "CREDENTIAL_TYPE_UNSPECIFIED",
              "USERNAME_AND_PASSWORD",
              "API_KEY",
              "OAUTH2_AUTHORIZATION_CODE",
              "OAUTH2_IMPLICIT",
              "OAUTH2_CLIENT_CREDENTIALS",
              "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
              "JWT",
              "AUTH_TOKEN",
              "SERVICE_ACCOUNT",
              "CLIENT_CERTIFICATE_ONLY",
              "OIDC_TOKEN"
            ],
            "enumDescriptions": [
              "",
              "Regular username/password pair.",
              "API key.",
              "OAuth 2.0 Authorization Code Grant Type.",
              "OAuth 2.0 Implicit Grant Type.",
              "OAuth 2.0 Client Credentials Grant Type.",
              "OAuth 2.0 Resource Owner Credentials Grant Type.",
              "JWT Token.",
              "Auth Token, e.g. bearer token.",
              "Service Account which can be used to generate token for authentication.",
              "Client Certificate only.",
              "Google OIDC ID Token"
            ]
          },
          "type": "array",
          "description": "Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only."
        },
        "useServiceAccountInContext": {
          "type": "boolean"
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "allowedServiceAccountInContext": {
          "type": "boolean"
        },
        "authConfigId": {
          "type": "string",
          "description": "UUID of the AuthConfig."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam"
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity": {
      "properties": {
        "emailAddress": {
          "type": "string"
        },
        "gaiaId": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
    },
    "GoogleCloudIntegrationsV1alphaExecutionDetails": {
      "id": "GoogleCloudIntegrationsV1alphaExecutionDetails",
      "description": "Contains the details of the execution info: this includes the tasks execution details plus the event execution statistics.",
      "type": "object",
      "properties": {
        "attemptStats": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAttemptStats"
          },
          "description": "List of Start and end time of the execution attempts.",
          "type": "array"
        },
        "executionSnapshots": {
          "description": "List of snapshots taken during the execution.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshot"
          }
        },
        "eventExecutionSnapshotsSize": {
          "format": "int64",
          "type": "string",
          "description": "Total size of all event_execution_snapshots for an execution"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "description": "Status of the execution.",
          "enumDescriptions": [
            "Default.",
            "Execution is scheduled and awaiting to be triggered.",
            "Execution is processing.",
            "Execution successfully finished. There's no more change after this state.",
            "Execution failed. There's no more change after this state.",
            "Execution canceled by user. There's no more change after this state.",
            "Execution failed and waiting for retry.",
            "Execution suspended and waiting for manual intervention."
          ]
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray": {
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
    },
    "EnterpriseCrmEventbusProtoTaskUiConfig": {
      "description": "Task authors would use this type to configure the UI for a particular task by specifying what UI config modules should be included to compose the UI. Learn more about config module framework:",
      "id": "EnterpriseCrmEventbusProtoTaskUiConfig",
      "type": "object",
      "properties": {
        "taskUiModuleConfigs": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskUiModuleConfig"
          },
          "type": "array",
          "description": "Configurations of included config modules."
        }
      }
    },
    "EnterpriseCrmEventbusProtoCustomSuspensionRequest": {
      "properties": {
        "postToQueueWithTriggerIdRequest": {
          "description": "Request to fire an event containing the SuspensionInfo message.",
          "$ref": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest"
        },
        "suspensionInfoEventParameterKey": {
          "description": "In the fired event, set the SuspensionInfo message as the value for this key.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoCustomSuspensionRequest"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats": {
      "properties": {
        "endTime": {
          "description": "The end time of the event execution for current attempt.",
          "type": "string",
          "format": "int64"
        },
        "startTime": {
          "type": "string",
          "format": "int64",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled."
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListConnectionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "connections": {
          "description": "Connections.",
          "items": {
            "$ref": "GoogleCloudConnectorsV1Connection"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListConnectionsResponse",
      "description": "Response containing Connections listed by region."
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "id": "EnterpriseCrmEventbusProtoStringParameterArray",
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTaskExecutionDetails": {
      "properties": {
        "taskAttemptStats": {
          "type": "array",
          "description": "Status for the current task execution attempt.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAttemptStats"
          }
        },
        "taskExecutionState": {
          "enum": [
            "TASK_EXECUTION_STATE_UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELLED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ],
          "description": "The execution state of this task.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole integration execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the integration execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when integration execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ]
        },
        "taskNumber": {
          "description": "Pointer to the task config it used for execution.",
          "type": "string"
        }
      },
      "description": "Contains the details of the execution of this task.",
      "id": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule",
      "properties": {
        "stringRegex": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex"
        },
        "doubleRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
        },
        "intRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest": {
      "description": "Request for LinkAppsScriptProject rpc call.",
      "type": "object",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the Apps Script project to be linked."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest"
    },
    "GoogleCloudIntegrationsV1alphaAuthConfig": {
      "id": "GoogleCloudIntegrationsV1alphaAuthConfig",
      "description": "The AuthConfig resource use to hold channels and connection config data.",
      "properties": {
        "name": {
          "description": "Resource name of the auth config. For more information, see Manage authentication profiles. projects/{project}/locations/{location}/authConfigs/{authConfig}.",
          "type": "string"
        },
        "credentialType": {
          "description": "Credential type of the encrypted credential.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of the auth config."
        },
        "encryptedCredential": {
          "description": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key.",
          "format": "byte",
          "type": "string"
        },
        "validTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time until the auth config is valid. Empty or max value is considered the auth config won't expire."
        },
        "decryptedCredential": {
          "$ref": "GoogleCloudIntegrationsV1alphaCredential",
          "description": "Raw auth credentials."
        },
        "description": {
          "description": "A description of the auth config.",
          "type": "string"
        },
        "overrideValidTime": {
          "description": "User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings.",
          "format": "google-datetime",
          "type": "string"
        },
        "visibility": {
          "enumDescriptions": [
            "Visibility not specified.",
            "Profile visible to the creator only.",
            "Profile visible within the client."
          ],
          "description": "The visibility of the auth config.",
          "type": "string",
          "enum": [
            "AUTH_CONFIG_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "CLIENT_VISIBLE"
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the auth config is created."
        },
        "reason": {
          "description": "The reason / details of the current status.",
          "type": "string"
        },
        "creatorEmail": {
          "description": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "expiryNotificationDuration": {
          "type": "array",
          "items": {
            "format": "google-duration",
            "type": "string"
          },
          "description": "User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours."
        },
        "state": {
          "enumDescriptions": [
            "Status not specified.",
            "Valid Auth config.",
            "General invalidity, if it doesn't fits in the detailed issue below.",
            "Auth config soft deleted.",
            "Auth config expired.",
            "Auth config unauthorized.",
            "Auth config not supported."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "SOFT_DELETED",
            "EXPIRED",
            "UNAUTHORIZED",
            "UNSUPPORTED"
          ],
          "description": "The status of the auth config.",
          "type": "string"
        },
        "lastModifierEmail": {
          "description": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "certificateId": {
          "type": "string",
          "description": "Certificate id for client certificate"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the auth config is modified.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSfdcChannel": {
      "description": "The SfdcChannel that points to a CDC or Platform Event Channel.",
      "id": "GoogleCloudIntegrationsV1alphaSfdcChannel",
      "properties": {
        "isActive": {
          "description": "Indicated if a channel has any active integrations referencing it. Set to false when the channel is created, and set to true if there is any integration published with the channel configured in it.",
          "type": "boolean"
        },
        "channelTopic": {
          "type": "string",
          "description": "The Channel topic defined by salesforce once an channel is opened"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the channel was last updated"
        },
        "displayName": {
          "type": "string",
          "description": "Client level unique name/alias to easily reference a channel."
        },
        "name": {
          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}.",
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the channel was deleted. Empty if not deleted.",
          "readOnly": true
        },
        "lastReplayId": {
          "type": "string",
          "description": "Last sfdc messsage replay id for channel"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the channel is created",
          "format": "google-datetime"
        },
        "description": {
          "description": "The description for this channel",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCombinedCondition": {
      "type": "object",
      "description": "This message recursively combines constituent conditions using logical AND.",
      "properties": {
        "conditions": {
          "description": "A set of individual constituent conditions.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCondition"
          },
          "type": "array"
        }
      },
      "deprecated": true,
      "id": "EnterpriseCrmEventbusProtoCombinedCondition"
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "type": "object",
      "properties": {
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig",
          "deprecated": true,
          "description": "Controls the notifications and resolver permissions for this suspension."
        },
        "state": {
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ],
          "type": "string",
          "description": "Required. State of this suspension, indicating what action a resolver has taken.",
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ]
        },
        "approvalConfig": {
          "description": "Controls the notifications and approval permissions for this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Auto-generated."
        },
        "taskId": {
          "type": "string",
          "description": "Required. Task id of the associated SuspensionTask."
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Required. ID of the associated execution."
        },
        "lastModifyTime": {
          "readOnly": true,
          "description": "Output only. Auto-generated.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for suspensions suspension/{suspension_id}"
        },
        "integration": {
          "type": "string",
          "description": "Required. The name of the originating integration."
        },
        "audit": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
          "description": "Metadata pertaining to the resolution of this suspension."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuspension",
      "description": "A record representing a suspension."
    },
    "EnterpriseCrmEventbusProtoTaskUiModuleConfig": {
      "properties": {
        "moduleId": {
          "description": "ID of the config module.",
          "enumDescriptions": [
            "Default",
            "Supports editing label of a task config.",
            "Supports editing error handling settings such as retry strategy.",
            "Supports adding, removing and editing task parameter values in a table with little assistance or restriction.",
            "Supports editing values of declared input parameters of a task. Think of it as a \"strongly typed\" upgrade to the TASK_PARAM_TABLE.",
            "Supports editing preconditions of a task config.",
            "Supports adding, editing, and deleting the scripts associated with a script task, as well as modifying the input/output parameters.",
            "Supports editing task parameters associated with an RPC/stubby task.",
            "Contains readonly task information, including input/output type info.",
            "Configures a SuspensionTask.",
            "Configures a GenericStubbyTypedTask.",
            "Configures a SubWorkflowExecutorTask.",
            "Supports navigating to Apps Script editor",
            "Configures a SubWorkflowForEachLoopTask.",
            "Configures a FieldMappingTask.",
            "Contains embedded in-product documentation for a task.",
            "UI widget for the rest caller task.",
            "Configures a SubWorkflowScatterGatherTask.",
            "Configures a CloudSql Task.",
            "Configure a GenericConnectorTask."
          ],
          "enum": [
            "UNSPECIFIED_TASK_MODULE",
            "LABEL",
            "ERROR_HANDLING",
            "TASK_PARAM_TABLE",
            "TASK_PARAM_FORM",
            "PRECONDITION",
            "SCRIPT_EDITOR",
            "RPC",
            "TASK_SUMMARY",
            "SUSPENSION",
            "RPC_TYPED",
            "SUB_WORKFLOW",
            "APPS_SCRIPT_NAVIGATOR",
            "SUB_WORKFLOW_FOR_EACH_LOOP",
            "FIELD_MAPPING",
            "README",
            "REST_CALLER",
            "SUB_WORKFLOW_SCATTER_GATHER",
            "CLOUD_SQL",
            "GENERIC_CONNECTOR_TASK"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskUiModuleConfig",
      "type": "object",
      "description": "Task author would use this type to configure a config module."
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails": {
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
      "properties": {
        "logFilePath": {
          "type": "string",
          "description": "The log file path (aka. cns address) for this event."
        },
        "networkAddress": {
          "description": "The network address (aka. bns address) that indicates where the event executor is running.",
          "type": "string"
        },
        "eventExecutionSnapshot": {
          "description": "After snapshot migration, this field will no longer be populated, but old execution snapshots will still be accessible.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot"
          }
        },
        "eventAttemptStats": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          },
          "type": "array"
        },
        "ryeLockUnheldCount": {
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/",
          "type": "integer",
          "format": "int32"
        },
        "eventExecutionState": {
          "description": "The execution state of this event.",
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ]
        },
        "eventRetriesFromBeginningCount": {
          "description": "Indicates the number of times the execution has restarted from the beginning.",
          "type": "integer",
          "format": "int32"
        },
        "eventExecutionSnapshotsSize": {
          "format": "int64",
          "description": "Total size of all event_execution_snapshots for an execution",
          "type": "string"
        },
        "nextExecutionTime": {
          "format": "int64",
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 11"
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray",
      "type": "object",
      "properties": {
        "protoValues": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "type": "object",
      "properties": {
        "connection": {
          "$ref": "EnterpriseCrmEventbusProtoConnectorsConnection",
          "description": "User-selected connection."
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Operation to perform using the configured connection.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EXECUTE_ACTION",
            "LIST_ENTITIES",
            "GET_ENTITY",
            "CREATE_ENTITY",
            "UPDATE_ENTITY",
            "DELETE_ENTITY",
            "EXECUTE_QUERY"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig"
    },
    "GoogleCloudConnectorsV1EventingConfig": {
      "properties": {
        "privateConnectivityEnabled": {
          "type": "boolean",
          "description": "Optional. Private Connectivity Enabled."
        },
        "additionalVariables": {
          "description": "Additional eventing related field values",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "type": "array"
        },
        "registrationDestinationConfig": {
          "description": "Registration endpoint for auto registration.",
          "$ref": "GoogleCloudConnectorsV1DestinationConfig"
        },
        "deadLetterConfig": {
          "$ref": "GoogleCloudConnectorsV1EventingConfigDeadLetterConfig",
          "description": "Optional. Dead letter configuration for eventing of a connection."
        },
        "listenerAuthConfig": {
          "description": "Optional. Auth details for the event listener.",
          "$ref": "GoogleCloudConnectorsV1AuthConfig"
        },
        "enrichmentEnabled": {
          "type": "boolean",
          "description": "Enrichment Enabled."
        },
        "authConfig": {
          "$ref": "GoogleCloudConnectorsV1AuthConfig",
          "description": "Auth details for the webhook adapter."
        },
        "proxyDestinationConfig": {
          "description": "Optional. Proxy for Eventing auto-registration.",
          "$ref": "GoogleCloudConnectorsV1DestinationConfig"
        },
        "eventsListenerIngressEndpoint": {
          "type": "string",
          "description": "Optional. Ingress endpoint of the event listener. This is used only when private connectivity is enabled."
        }
      },
      "type": "object",
      "description": "Eventing Configuration of a connection",
      "id": "GoogleCloudConnectorsV1EventingConfig"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshot": {
      "properties": {
        "taskExecutionDetails": {
          "description": "All of the task execution details at the given point of time.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails"
          }
        },
        "checkpointTaskNumber": {
          "type": "string",
          "description": "Indicates \"after which checkpoint task's execution\" this snapshot is taken."
        },
        "executionSnapshotMetadata": {
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata",
          "description": "Metadata of the execution snapshot."
        },
        "params": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Parameters used during the execution.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshot",
      "description": "Contains the snapshot of the execution for a given checkpoint."
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "description": "Represents a node identifier (type + id). Next highest id: 3",
      "properties": {
        "elementType": {
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ],
          "type": "string",
          "description": "Destination node where the edge ends. It can only be a task config.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "elementIdentifier": {
          "type": "string",
          "description": "Configuration of the edge."
        }
      }
    },
    "GoogleCloudConnectorsV1Destination": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string",
          "description": "For publicly routable host."
        },
        "port": {
          "description": "The port is the target port number that is accepted by the destination.",
          "type": "integer",
          "format": "int32"
        },
        "serviceAttachment": {
          "type": "string",
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*",
          "deprecated": true
        }
      },
      "id": "GoogleCloudConnectorsV1Destination"
    },
    "EnterpriseCrmEventbusProtoBooleanArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoBooleanArrayFunction",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest",
      "properties": {
        "appsScriptProject": {
          "type": "string",
          "description": "The name of the Apps Script project to be created."
        },
        "authConfigId": {
          "type": "string",
          "description": "The auth config id necessary to fetch the necessary credentials to create the project for external clients"
        }
      },
      "description": "Request for CreateAppsScriptProject rpc call.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSuspensionAudit": {
      "type": "object",
      "properties": {
        "resolver": {
          "description": "Email address of the person who resolved this suspension.",
          "type": "string"
        },
        "resolveTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which this suspension was resolved."
        }
      },
      "description": "Contains when and by whom the suspension was resolved.",
      "id": "GoogleCloudIntegrationsV1alphaSuspensionAudit"
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "id": "EnterpriseCrmEventbusProtoStringArray",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBaseFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "NOW_IN_MILLIS",
            "INT_LIST",
            "ENVIRONMENT",
            "GET_EXECUTION_ID",
            "GET_INTEGRATION_NAME",
            "GET_REGION",
            "GET_UUID",
            "GET_PROJECT_ID"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseFunction"
    },
    "GoogleCloudConnectorsV1BillingConfig": {
      "description": "Billing config for the connection.",
      "properties": {
        "billingCategory": {
          "readOnly": true,
          "enumDescriptions": [
            "Billing category is not specified.",
            "GCP/Technical connector.",
            "Non-GCP connector."
          ],
          "enum": [
            "BILLING_CATEGORY_UNSPECIFIED",
            "GCP_AND_TECHNICAL_CONNECTOR",
            "NON_GCP_CONNECTOR"
          ],
          "description": "Output only. Billing category for the connector.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1BillingConfig"
    },
    "EnterpriseCrmEventbusProtoDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoDoubleParameterArray",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "description": "Field represents either the key or value in an entry.",
      "properties": {
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        },
        "referenceKey": {
          "description": "Referencing one of the WF variables.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse",
      "properties": {
        "runtimeActionSchemas": {
          "type": "array",
          "description": "Runtime action schemas.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "description": "Response for listing RuntimeActionSchemas for a specific Connection.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAuthToken": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAuthToken",
      "properties": {
        "type": {
          "description": "Authentication type, e.g. \"Basic\", \"Bearer\", etc.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "The token for the auth type."
        }
      },
      "description": "The credentials to authenticate a user agent with a server that is put in HTTP Authorization request header."
    },
    "GoogleCloudIntegrationsV1alphaIntParameterArray": {
      "id": "GoogleCloudIntegrationsV1alphaIntParameterArray",
      "properties": {
        "intValues": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Integer array."
        }
      },
      "type": "object",
      "description": "This message only contains a field of integer array."
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "description": "Mapped field is a pair of input field and output field.",
      "properties": {
        "inputField": {
          "description": "The input field being mapped from.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        },
        "outputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The output field being mapped to."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoMappedField"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot": {
      "properties": {
        "eventExecutionSnapshotMetadata": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        },
        "diffParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "The parameters in Event object that differs from last snapshot."
        },
        "eventExecutionInfoId": {
          "description": "Points to the event execution info this snapshot belongs to.",
          "type": "string"
        },
        "conditionResults": {
          "description": "All of the computed conditions that been calculated.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoConditionResult"
          },
          "type": "array"
        },
        "eventExecutionSnapshotId": {
          "description": "Auto-generated. Used as primary key for EventExecutionSnapshots table.",
          "type": "string"
        },
        "taskExecutionDetails": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
          },
          "type": "array",
          "description": "All of the task execution details at the given point of time."
        },
        "snapshotTime": {
          "description": "Indicates when this snapshot is taken.",
          "type": "string",
          "format": "int64"
        },
        "taskName": {
          "deprecated": true,
          "type": "string",
          "description": "The task name associated with this snapshot. Could be empty."
        },
        "checkpointTaskNumber": {
          "type": "string",
          "description": "Indicates \"right after which checkpoint task's execution\" this snapshot is taken."
        },
        "eventParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "The parameters in Event object."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse": {
      "type": "object",
      "description": "The response for executing an integration.",
      "properties": {
        "executionFailed": {
          "type": "boolean",
          "deprecated": true,
          "description": "Is true if any execution in the integration failed. False otherwise."
        },
        "eventParameters": {
          "description": "Details for the integration that were executed.",
          "deprecated": true,
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "outputParameters": {
          "description": "OUTPUT parameters in format of Map. Where Key is the name of the parameter. Note: Name of the system generated parameters are wrapped by backtick(`) to distinguish them from the user defined parameters.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "parameterEntries": {
          "deprecated": true,
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array"
        },
        "executionId": {
          "type": "string",
          "description": "The id of the execution corresponding to this run of integration."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
    },
    "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata": {
      "description": "Metadata of runtime connection schema.",
      "id": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata",
      "type": "object",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of actions."
        },
        "entities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of entity names."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter": {
      "id": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter",
      "type": "object",
      "properties": {
        "objectValue": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "id": "EnterpriseCrmEventbusProtoFunctionType",
      "type": "object",
      "properties": {
        "jsonFunction": {
          "$ref": "EnterpriseCrmEventbusProtoJsonFunction",
          "description": "LINT.ThenChange(//depot/google3/alkali/apps/integrationplatform/client/workflow_editor/utils/transform_function.ts)"
        },
        "protoFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoFunction"
        },
        "stringArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringArrayFunction"
        },
        "booleanFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanFunction"
        },
        "intFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntFunction"
        },
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "doubleArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
        },
        "protoArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "booleanArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
        },
        "doubleFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleFunction"
        },
        "stringFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringFunction"
        },
        "baseFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBaseFunction",
          "description": "LINT.IfChange"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSerializedObjectParameter": {
      "id": "EnterpriseCrmEventbusProtoSerializedObjectParameter",
      "properties": {
        "objectValue": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmLoggingGwsSanitizeOptions": {
      "type": "object",
      "description": "Identifies whether a field contains, or may contain, PII or sensitive data, and how to sanitize the field if it does. If a field's privacy type cannot be determined then it is sanitized (e.g., scrubbed). The specific sanitizer implementation is determined by run-time configuration and environment options (e.g., prod vs. qa). next_id: 5",
      "properties": {
        "logType": {
          "description": "To which type(s) of logs the sanitize options apply.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "type": "string"
          }
        },
        "privacy": {
          "enum": [
            "PRIVACY_TYPE_UNSPECIFIED",
            "NOT_PII",
            "PII",
            "SPII",
            "UNSURE"
          ],
          "enumDescriptions": [
            "",
            "Field does *NOT* contain PII or sensitive data.",
            "Field contains PII.",
            "Field contains Sensitive PII.",
            "Unsure if field contains PII."
          ],
          "type": "string"
        },
        "isAlreadySanitized": {
          "description": "If true, the value has already been sanitized and needs no further sanitization. For instance, a D3 customer id is already an obfuscated entity and *might not* need further sanitization.",
          "type": "boolean"
        },
        "sanitizeType": {
          "type": "string",
          "enum": [
            "SANITIZE_TYPE_UNSPECIFIED",
            "SCRUB",
            "ANONYMIZE",
            "ANONYMIZE_LIMITED_REPEATABLE",
            "OBFUSCATE",
            "ENCRYPT",
            "DO_NOT_SANITIZE"
          ],
          "enumDescriptions": [
            "",
            "Replace value with a scrubbed value (usu. a constant).",
            "Transform a value so that it cannot be tracked across events. However, a given value, is transformed to the same value *within* an event. E.g., \"foo.com\" is transformed to \"0xabcdef\" for event 1001, and to \"0xfedcba\" for event 1002.",
            "Transform values as with ANONYMIZER, but the same transformation is repeated for a limited time (e.g., 1 day).",
            "The value is transformed using a well-defined obfuscator (e.g., D3_CUSTOMER_ID).",
            "The value is encrypted.",
            "No sanitization is required."
          ]
        }
      },
      "id": "EnterpriseCrmLoggingGwsSanitizeOptions"
    },
    "GoogleCloudIntegrationsV1alphaGenerateTokenResponse": {
      "id": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse",
      "properties": {
        "message": {
          "description": "The message that notifies the user if the request succeeded or not.",
          "type": "string"
        }
      },
      "description": "Returns success or error message",
      "type": "object"
    },
    "GoogleProtobufStruct": {
      "description": "`Struct` represents a structured data value, consisting of fields which map to dynamically typed values. In some languages, `Struct` might be supported by a native representation. For example, in scripting languages like JS a struct is represented as an object. The details of that representation are described together with the proto support for the language. The JSON representation for `Struct` is JSON object.",
      "type": "object",
      "additionalProperties": {
        "type": "any",
        "description": "Properties of the object."
      },
      "id": "GoogleProtobufStruct"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterValueType": {
      "properties": {
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "stringValue": {
          "type": "string"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter"
        },
        "protoValue": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "intArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
        },
        "jsonValue": {
          "type": "string"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
      "type": "object",
      "description": "To support various types of parameter values. Next available id: 14"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "description": "Field represents either the key or value in an entry.",
      "properties": {
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        },
        "literalValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1DestinationConfig": {
      "type": "object",
      "description": "Define the Connectors target endpoint.",
      "properties": {
        "key": {
          "description": "The key is the destination identifier that is supported by the Connector.",
          "type": "string"
        },
        "destinations": {
          "type": "array",
          "description": "The destinations for the key.",
          "items": {
            "$ref": "GoogleCloudConnectorsV1Destination"
          }
        }
      },
      "id": "GoogleCloudConnectorsV1DestinationConfig"
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "description": "Field Mapping Config to map multiple output fields values from input fields values.",
      "properties": {
        "mappedFields": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoProtoFunction",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoToken": {
      "id": "EnterpriseCrmEventbusProtoToken",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaDoubleParameterArray": {
      "type": "object",
      "description": "This message only contains a field of double number array.",
      "properties": {
        "doubleValues": {
          "description": "Double number array.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaDoubleParameterArray"
    },
    "EnterpriseCrmEventbusProtoFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFunction",
      "properties": {
        "functionType": {
          "description": "The name of the function to perform.",
          "$ref": "EnterpriseCrmEventbusProtoFunctionType"
        },
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
          },
          "description": "List of parameters required for the transformation.",
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoDoubleFunction": {
      "id": "EnterpriseCrmEventbusProtoDoubleFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "TO_STRING",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "ROUND",
            "FLOOR",
            "CEIL",
            "GREATER_THAN",
            "LESS_THAN",
            "EQUALS",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "MOD"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoEventParameters": {
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same workflow execution.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see"
    },
    "EnterpriseCrmEventbusProtoNextTask": {
      "id": "EnterpriseCrmEventbusProtoNextTask",
      "properties": {
        "condition": {
          "description": "Standard filter expression for this task to become an eligible next task.",
          "type": "string"
        },
        "taskConfigId": {
          "type": "string",
          "description": "ID of the next task."
        },
        "combinedConditions": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCombinedCondition"
          },
          "type": "array",
          "description": "Combined condition for this task to become an eligible next task. Each of these combined_conditions are joined with logical OR. DEPRECATED: use `condition`",
          "deprecated": true
        },
        "label": {
          "type": "string",
          "description": "User-provided label that is attached to this edge in the UI."
        },
        "description": {
          "description": "User-provided description intended to give more business context about the next task edge or condition.",
          "type": "string"
        },
        "taskNumber": {
          "type": "string",
          "description": "Task number of the next task."
        }
      },
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "type": "object"
    },
    "GoogleCloudConnectorsV1LockConfig": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "Describes why a connection is locked."
        },
        "locked": {
          "description": "Indicates whether or not the connection is locked.",
          "type": "boolean"
        }
      },
      "description": "Determines whether or no a connection is locked. If locked, a reason must be specified.",
      "id": "GoogleCloudConnectorsV1LockConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaServiceAccountCredentials": {
      "id": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials",
      "properties": {
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "serviceAccount": {
          "description": "Name of the service account that has the permission to make the request.",
          "type": "string"
        }
      },
      "description": "Represents the service account which can be used to generate access token for authenticating the service call.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "integrationTemplateVersions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
          },
          "description": "The IntegrationTemplateVersions which match the request."
        }
      },
      "description": "Response for IntegrationTemplateVersions.ListIntegrationTemplateVersions."
    },
    "EnterpriseCrmEventbusProtoSuccessPolicy": {
      "type": "object",
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "id": "EnterpriseCrmEventbusProtoSuccessPolicy",
      "properties": {
        "finalState": {
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetails": {
      "type": "object",
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 11",
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetails",
      "properties": {
        "logFilePath": {
          "type": "string",
          "description": "The log file path (aka. cns address) for this event."
        },
        "networkAddress": {
          "description": "The network address (aka. bns address) that indicates where the event executor is running.",
          "type": "string"
        },
        "eventExecutionSnapshot": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          },
          "type": "array"
        },
        "eventExecutionState": {
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ]
        },
        "eventRetriesFromBeginningCount": {
          "format": "int32",
          "description": "Indicates the number of times the execution has restarted from the beginning.",
          "type": "integer"
        },
        "nextExecutionTime": {
          "format": "int64",
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD.",
          "type": "string"
        },
        "eventAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          }
        },
        "ryeLockUnheldCount": {
          "type": "integer",
          "format": "int32",
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/"
        },
        "eventExecutionSnapshotsSize": {
          "description": "Total size of all event_execution_snapshots for an execution",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegration": {
      "description": "The integration definition.",
      "id": "GoogleCloudIntegrationsV1alphaIntegration",
      "properties": {
        "lastModifierEmail": {
          "type": "string",
          "description": "Required. The last modifier of this integration"
        },
        "active": {
          "type": "boolean",
          "description": "Required. If any integration version is published."
        },
        "creatorEmail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "description": "Required. Output only. Auto-generated.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Required. The resource name of the integration.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaValueType": {
      "description": "The type of the parameter.",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "String."
        },
        "stringArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaStringParameterArray",
          "description": "String Array."
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Boolean."
        },
        "booleanArray": {
          "description": "Boolean Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaBooleanParameterArray"
        },
        "doubleValue": {
          "description": "Double Number.",
          "type": "number",
          "format": "double"
        },
        "intValue": {
          "description": "Integer.",
          "format": "int64",
          "type": "string"
        },
        "jsonValue": {
          "description": "Json.",
          "type": "string"
        },
        "intArray": {
          "description": "Integer Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntParameterArray"
        },
        "doubleArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaDoubleParameterArray",
          "description": "Double Number Array."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaValueType"
    },
    "CrmlogErrorCode": {
      "id": "CrmlogErrorCode",
      "properties": {
        "commonErrorCode": {
          "enum": [
            "COMMON_ERROR_CODE_UNSPECIFIED",
            "INVALID_CREDENTIALS",
            "REQUIRED_FIELDS_MISSING",
            "INVALID_FIELDS",
            "BACKEND",
            "GENERAL",
            "INTERNAL",
            "IO_ERROR",
            "NOT_FOUND",
            "EVENT_BUS",
            "ALREADY_EXISTS",
            "CONCORD",
            "CONVERSION",
            "FLUME",
            "PERMISSION",
            "SALES_FORCE",
            "SPANNER",
            "UNIMPLEMENTED",
            "RELTIO",
            "WORKFLOW_NOT_FOUND",
            "QUOTA_THROTTLED",
            "QUOTA_ENQUEUED",
            "INVALID_QUOTA_CONFIGURATION",
            "TASK_NOT_FOUND",
            "EXECUTION_TIMEOUT",
            "INVALID_EVENT_EXECUTION_STATE",
            "INVALID_ATTRIBUTE",
            "MISSING_ATTRIBUTE",
            "CLIENT_UNAUTHORIZED_FOR_WORKFLOW",
            "INVALID_PARAMETER",
            "MISSING_PARAMETER",
            "UNAUTHROIZED_WORKFLOW_EDITOR_ACTION",
            "FAILED_PRECONDITION",
            "INVALID_CLIENT",
            "MISSING_CLIENT",
            "INVALID_WORKFLOW",
            "MISSING_QUOTA_CONFIGURATION",
            "UNHANDLED_TASK_ERROR",
            "SCRIPT_TASK_RUNTIME_ERROR",
            "RPC",
            "INVALID_PROTO",
            "UNHANDLED_EVENTBUS_ERROR",
            "INVALID_TASK_STATE",
            "TYPED_TASK_INVALID_INPUT_OPERATION",
            "TYPED_TASK_INVALID_OUTPUT_OPERATION",
            "VALIDATION_ERROR",
            "RESUME_ERROR",
            "APPS_SCRIPT_EXECUTION_ERROR",
            "INVALID_VECTOR_USER",
            "INFORMATICA",
            "RETRYABLE_TASK_ERROR",
            "INVALID_TENANT",
            "WRONG_TENANT",
            "INFORMATICA_BACKEND_UNAVAILABLE",
            "RPC_PERMISSION_DENIED",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "NOT_SUPPORTED_DATA_TYPE",
            "UNSANITIZED_USER_INPUT",
            "TRANSFORM_EXPRESSION_EVALUATION_ERROR",
            "HTTP_EXCEPTION",
            "EXECUTION_CANCELLED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only.",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only. This error will be counted as server availability error.",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
[...]
