{
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "description": "",
  "discoveryVersion": "v1",
  "canonicalName": "Integrations",
  "basePath": "",
  "revision": "20221220",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "baseUrl": "https://integrations.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "title": "Application Integration API",
  "version_module": true,
  "rootUrl": "https://integrations.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/application-integration",
  "version": "v1alpha",
  "kind": "discovery#restDescription",
  "id": "integrations:v1alpha",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig",
      "type": "object",
      "properties": {
        "disableAlert": {
          "type": "boolean",
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this integration alert."
        },
        "onlyFinalAttempt": {
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries.",
          "type": "boolean"
        },
        "alertThreshold": {
          "format": "int32",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "type": "integer"
        },
        "metricType": {
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing integration.",
            "Specifies alerting on the rate of warnings for the enclosing integration. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing integration.",
            "Specifies alerting on the rate of warnings for any task in the enclosing integration.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing integration.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this integration.",
            "Specifies alerting on the duration value of a particular percentile of integration executions. E.g. If 10% or more of the integration executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing integration,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing integration. E.g. If 10% or more of the task executions in the integration have durations above 5 seconds, alert."
          ],
          "description": "The type of metric.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Name of the alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the integration."
        },
        "thresholdType": {
          "enum": [
            "THRESHOLD_TYPE_UNSPECIFIED",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Note that this field will only trigger alerts if the integration specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours. Min value threshold.",
            "Max value threshold."
          ],
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired."
        },
        "durationThreshold": {
          "format": "google-duration",
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "type": "string"
        },
        "aggregationPeriod": {
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week). For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours.",
          "type": "string"
        },
        "thresholdValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
          "description": "The metric value, above or below which the alert should be triggered."
        }
      },
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event."
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse": {
      "type": "object",
      "description": "Response for TakeoverEditLock.",
      "properties": {
        "integrationVersion": {
          "description": "Version after the lock is acquired by the new user.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse"
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList": {
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList",
      "properties": {
        "enumStrings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filterType": {
          "type": "string",
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "type": "object",
      "description": "List of error enums for alerts."
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse": {
      "description": "Response for IntegrationTemplateVersions.ListIntegrationTemplateVersions.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "integrationTemplateVersions": {
          "type": "array",
          "description": "The IntegrationTemplateVersions which match the request.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy",
      "properties": {
        "fields": {
          "description": "Optional. optional, metrics list for GroupBy.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reducer": {
          "description": "Optional. optional, reduce function for GroupBy.",
          "type": "string"
        }
      },
      "description": "MashQuery GroupBy parameters."
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse": {
      "properties": {},
      "description": "Response for ValidateIntegrationVersion.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse"
    },
    "GoogleCloudIntegrationsV1alphaSfdcChannel": {
      "id": "GoogleCloudIntegrationsV1alphaSfdcChannel",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. Time when the channel is created",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time when the channel was last updated",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}."
        },
        "description": {
          "description": "The description for this channel",
          "type": "string"
        },
        "lastReplayId": {
          "description": "Last sfdc messsage replay id for channel",
          "type": "string"
        },
        "displayName": {
          "description": "Client level unique name/alias to easily reference a channel.",
          "type": "string"
        },
        "isActive": {
          "type": "boolean",
          "description": "Indicated if a channel has any active integrations referencing it. Set to false when the channel is created, and set to true if there is any integration published with the channel configured in it."
        },
        "channelTopic": {
          "type": "string",
          "description": "The Channel topic defined by salesforce once an channel is opened"
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the channel was deleted. Empty if not deleted."
        }
      },
      "description": "The SfdcChannel that points to a CDC or Platform Event Channel."
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange",
      "description": "Range used to validate longs and ints.",
      "properties": {
        "min": {
          "format": "int64",
          "type": "string",
          "description": "The inclusive minimum of the acceptable range."
        },
        "max": {
          "description": "The inclusive maximum of the acceptable range.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegration": {
      "description": "The integration definition.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the integration."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Auto-generated.",
          "readOnly": true
        },
        "active": {
          "type": "boolean",
          "description": "Required. If any integration version is published."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegration"
    },
    "GoogleCloudIntegrationsV1alphaClientCertificate": {
      "properties": {
        "passphrase": {
          "type": "string",
          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key."
        },
        "encryptedPrivateKey": {
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
          "type": "string"
        },
        "sslCertificate": {
          "type": "string",
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaClientCertificate",
      "type": "object",
      "description": "Contains client certificate information"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventParameters": {
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same workflow execution.",
          "type": "array"
        }
      },
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleResponse": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "Contains updated bundle config"
        }
      },
      "description": "Response message for Bundle update",
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "By default join.",
            "Union operation",
            "Join Operation"
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "UNION",
            "JOIN"
          ],
          "type": "string",
          "description": "Optional. optional operation types."
        },
        "unionConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig",
          "description": "Optional. union operation"
        },
        "joinConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig",
          "description": "Optional. join operation"
        }
      },
      "description": "Operation between 2 query"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetails": {
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10",
      "properties": {
        "eventAttemptStats": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          },
          "type": "array"
        },
        "eventExecutionSnapshot": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          },
          "type": "array"
        },
        "logFilePath": {
          "type": "string",
          "description": "The log file path (aka. cns address) for this event."
        },
        "nextExecutionTime": {
          "format": "int64",
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD.",
          "type": "string"
        },
        "eventRetriesFromBeginningCount": {
          "type": "integer",
          "description": "Indicates the number of times the execution has restarted from the beginning.",
          "format": "int32"
        },
        "ryeLockUnheldCount": {
          "type": "integer",
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/",
          "format": "int32"
        },
        "networkAddress": {
          "type": "string",
          "description": "The network address (aka. bns address) that indicates where the event executor is running."
        },
        "eventExecutionState": {
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetails",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationParameter": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationParameter",
      "type": "object",
      "properties": {
        "jsonSchema": {
          "type": "string",
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter."
        },
        "inputOutputType": {
          "enumDescriptions": [
            "Default.",
            "Input parameters for the integration. EventBus validates that these parameters exist in the integrations before execution.",
            "Output Parameters for the integration. EventBus will only return the integration parameters tagged with OUT in the response back.",
            "Input and Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ],
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "type": "string",
          "description": "Specifies the input/output type for the parameter."
        },
        "searchable": {
          "type": "boolean",
          "description": "Searchable in the execution log or not."
        },
        "producer": {
          "type": "string",
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param."
        },
        "displayName": {
          "type": "string",
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\"."
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
        },
        "defaultValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "isTransient": {
          "description": "Whether this parameter is a transient parameter.",
          "type": "boolean"
        },
        "dataType": {
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "type": "string",
          "description": "Type of the parameter.",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ]
        }
      },
      "description": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition."
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries": {
      "properties": {
        "data": {
          "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesData"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries"
    },
    "GoogleCloudIntegrationsV1alphaEventParameter": {
      "id": "GoogleCloudIntegrationsV1alphaEventParameter",
      "description": "This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus.",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAttemptStats": {
      "id": "GoogleCloudIntegrationsV1alphaAttemptStats",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end time of the event execution for current attempt."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled."
        }
      },
      "description": "Status for the execution attempt."
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse": {
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse",
      "type": "object",
      "description": "Response for DeactivateIntegrationVersion."
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse",
      "description": "Response for listing RuntimeEntitySchemas for a specific Connection.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "runtimeEntitySchemas": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema"
          },
          "description": "Runtime entity schemas.",
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaNextTask": {
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaNextTask",
      "properties": {
        "displayName": {
          "description": "User-provided label that is attached to this edge in the UI.",
          "type": "string"
        },
        "taskConfigId": {
          "description": "ID of the next task.",
          "type": "string"
        },
        "taskId": {
          "description": "Task number of the next task.",
          "type": "string"
        },
        "condition": {
          "description": "Standard filter expression for this task to become an eligible next task.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User-provided description intended to give additional business context about the task."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaOidcToken": {
      "id": "GoogleCloudIntegrationsV1alphaOidcToken",
      "type": "object",
      "properties": {
        "tokenExpireTime": {
          "format": "google-datetime",
          "description": "The approximate time until the token retrieved is valid.",
          "type": "string"
        },
        "token": {
          "description": "ID token obtained for the service account",
          "type": "string"
        },
        "audience": {
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The service account email to be used as the identity for the token."
        }
      },
      "description": "OIDC Token"
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse": {
      "properties": {},
      "description": "Response for ArchiveIntegrationVersion.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry",
      "description": "Entry is a pair of key and value.",
      "type": "object",
      "properties": {
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      }
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "type": "object",
      "description": "Use this request to post all workflows associated with a given trigger id. Next available id: 10",
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "properties": {
        "parameters": {
          "description": "Passed in as parameters to each workflow execution. Optional.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "type": "boolean",
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default."
        },
        "workflowName": {
          "type": "string",
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens."
        },
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required.",
          "type": "string"
        },
        "priority": {
          "type": "string",
          "description": "The request priority this request should be processed at. For internal users:",
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ]
        },
        "clientId": {
          "type": "string",
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients."
        },
        "testMode": {
          "type": "boolean",
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}."
        },
        "scheduledTime": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse": {
      "properties": {
        "content": {
          "type": "string",
          "description": "String representation of the integration version."
        }
      },
      "type": "object",
      "description": "Response for DownloadIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "type": "string"
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig",
          "description": "Controls the notifications and resolver permissions for this suspension."
        },
        "taskId": {
          "description": "Required. Task id of the associated SuspensionTask.",
          "type": "string"
        },
        "state": {
          "description": "Required. State of this suspension, indicating what action a resolver has taken.",
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ],
          "type": "string",
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ]
        },
        "audit": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
          "description": "Metadata pertaining to the resolution of this suspension."
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "lastModifyTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Auto-generated.",
          "type": "string"
        },
        "approvalConfig": {
          "description": "Controls the notifications and approval permissions for this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig"
        },
        "integration": {
          "description": "Required. The name of the originating integration.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for suspensions suspension/{suspension_id}"
        }
      },
      "description": "A record representing a suspension.",
      "id": "GoogleCloudIntegrationsV1alphaSuspension"
    },
    "GoogleCloudConnectorsV1NodeConfig": {
      "type": "object",
      "properties": {
        "minNodeCount": {
          "format": "int32",
          "description": "Minimum number of nodes in the runtime nodes.",
          "type": "integer"
        },
        "maxNodeCount": {
          "description": "Maximum number of nodes in the runtime nodes.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Node configuration for the connection.",
      "id": "GoogleCloudConnectorsV1NodeConfig"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "type": "object",
      "properties": {
        "max": {
          "format": "double",
          "type": "number",
          "description": "The inclusive maximum of the acceptable range."
        },
        "min": {
          "description": "The inclusive minimum of the acceptable range.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Range used to validate doubles and floats.",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionRequest": {
      "properties": {},
      "description": "Request for cancelling an execution.",
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCloudSchedulerConfig": {
      "properties": {
        "errorMessage": {
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        },
        "cronTab": {
          "type": "string",
          "description": "Required. The cron tab of cloud scheduler trigger."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time"
        }
      },
      "type": "object",
      "description": "Cloud Scheduler Trigger configuration",
      "id": "EnterpriseCrmEventbusProtoCloudSchedulerConfig"
    },
    "GoogleCloudIntegrationsV1alphaGenerateTokenResponse": {
      "id": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse",
      "description": "Returns success or error message",
      "properties": {
        "message": {
          "description": "The message that notifies the user if the request succeeded or not.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoLogSettings": {
      "description": "The LogSettings define the logging attributes for an event property. These attributes are used to map the property to the parameter in the log proto. Also used to define scrubbing/truncation behavior and PII information. See go/integration-platform/analytics/logging_task.md for details.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoLogSettings",
      "properties": {
        "seedScope": {
          "enumDescriptions": [
            "",
            "Hash computations include the event name.",
            "Hash computations include a time period.",
            "Hash computations include the param name."
          ],
          "enum": [
            "SEED_SCOPE_UNSPECIFIED",
            "EVENT_NAME",
            "TIME_PERIOD",
            "PARAM_NAME"
          ],
          "type": "string"
        },
        "seedPeriod": {
          "enum": [
            "SEED_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH"
          ],
          "enumDescriptions": [
            "",
            "Sanitized values remain constant for the day of the event.",
            "Sanitized values remain constant for the week of the event; may cross month boundaries.",
            "Sanitized values remain constant for the month of the event."
          ],
          "type": "string"
        },
        "sanitizeOptions": {
          "description": "Contains the scrubbing options, such as whether to scrub, obfuscate, etc.",
          "$ref": "EnterpriseCrmLoggingGwsSanitizeOptions"
        },
        "logFieldName": {
          "type": "string",
          "description": "The name of corresponding logging field of the event property. If omitted, assumes the same name as the event property key."
        },
        "shorteningLimits": {
          "$ref": "EnterpriseCrmLoggingGwsFieldLimits",
          "description": "Contains the field limits for shortening, such as max string length and max array length."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "properties": {
        "literalValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        },
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        }
      },
      "description": "Field represents either the key or value in an entry.",
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigSshPublicKey": {
      "id": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
      "type": "object",
      "properties": {
        "sshClientCert": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "SSH Client Cert. It should contain both public and private key."
        },
        "username": {
          "type": "string",
          "description": "The user account used to authenticate."
        },
        "sshClientCertPass": {
          "description": "Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "certType": {
          "description": "Format of SSH Client cert.",
          "type": "string"
        }
      },
      "description": "Parameters to support Ssh public key Authentication."
    },
    "EnterpriseCrmEventbusProtoTaskMetadataAdmin": {
      "properties": {
        "userEmail": {
          "type": "string"
        },
        "googleGroupEmail": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Admins are owners of a Task, and have all permissions on a particular task identified by the task name. By default, Eventbus periodically scans all task metadata and syncs (adds) any new admins defined here to Zanzibar.",
      "id": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
    },
    "EnterpriseCrmEventbusProtoIntFunction": {
      "id": "EnterpriseCrmEventbusProtoIntFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "GREATER_THAN_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN_EQUAL_TO",
            "LESS_THAN",
            "TO_DOUBLE",
            "TO_STRING",
            "EQUALS",
            "TO_JSON",
            "MOD",
            "EPOCH_TO_HUMAN_READABLE_TIME"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria",
      "properties": {
        "triggerCriteriaTaskImplementationClassName": {
          "type": "string",
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface."
        },
        "parameters": {
          "description": "Optional. To be used in TaskConfig for the implementation class.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSuspensionAudit": {
      "properties": {
        "resolveTime": {
          "description": "Time at which this suspension was resolved.",
          "format": "google-datetime",
          "type": "string"
        },
        "resolver": {
          "description": "Email address of the person who resolved this suspension.",
          "type": "string"
        }
      },
      "description": "Contains when and by whom the suspension was resolved.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSuspensionAudit"
    },
    "EnterpriseCrmEventbusProtoPropertyEntry": {
      "description": "Key-value pair of EventBus property.",
      "id": "EnterpriseCrmEventbusProtoPropertyEntry",
      "properties": {
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        },
        "key": {
          "description": "Key is used to retrieve the corresponding property value. This should be unique for a given fired event. The Tasks should be aware of the keys used while firing the events for them to be able to retrieve the values.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleResponse": {
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse",
      "description": "Response for ArchiveBundle.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaListConnectionsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListConnectionsResponse",
      "type": "object",
      "description": "Response containing Connections listed by region.",
      "properties": {
        "connections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudConnectorsV1Connection"
          },
          "description": "Connections."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig": {
      "properties": {
        "location": {
          "description": "Required. The location where associated cloud scheduler job will be created",
          "type": "string"
        },
        "errorMessage": {
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time"
        },
        "cronTab": {
          "description": "Required. The cron tab of cloud scheduler trigger.",
          "type": "string"
        }
      },
      "description": "Cloud Scheduler Trigger configuration",
      "id": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBaseValue",
      "properties": {
        "referenceValue": {
          "type": "string",
          "description": "Start with a reference value to dereference."
        },
        "baseFunction": {
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc.",
          "$ref": "EnterpriseCrmEventbusProtoFunction"
        },
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Start with a literal value."
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex": {
      "type": "object",
      "description": "Rule used to validate strings.",
      "properties": {
        "regex": {
          "type": "string",
          "description": "The regex applied to the input value(s)."
        },
        "exclusive": {
          "type": "boolean",
          "description": "Whether the regex matcher is applied exclusively (if true, matching values will be rejected)."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex"
    },
    "EnterpriseCrmEventbusProtoFailurePolicy": {
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied).",
      "type": "object",
      "properties": {
        "intervalInSeconds": {
          "type": "string",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the initial interval for backoff.",
          "format": "int64"
        },
        "retryStrategy": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_WORKFLOW_WITH_BACKOFF"
          ],
          "description": "Defines what happens to the task upon failure.",
          "enumDescriptions": [
            "",
            "Ignores the failure of this task. The rest of the workflow will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the workflow.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified.",
            "The entire workflow will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified."
          ]
        },
        "maxNumRetries": {
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the number of times the task will be retried if failed.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "EnterpriseCrmEventbusProtoFailurePolicy"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion",
      "description": "IntegrationTemplateVersion definition. An IntegrationTemplateVersion provides configurations required to construct an IntegrationVersion. It cannot be executed directly like an Integration. Users can create IntegrationTemplateVersions using Integrations. These Templates can be shared by users across GCP projects.",
      "properties": {
        "status": {
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Optional. Generated by eventbus. User should not set it as an input."
        },
        "triggerConfigs": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          },
          "type": "array",
          "description": "Optional. Trigger configurations."
        },
        "parentIntegrationVersionId": {
          "type": "string",
          "description": "Optional. ID of the IntegrationVersion that was used to create this IntegrationTemplateVersion"
        },
        "templateParameters": {
          "description": "Optional. Parameters that are expected to be passed to the IntegrationTemplateVersion when an event is triggered. This consists of all the parameters that are expected in the IntegrationTemplateVersion execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Auto-generated."
        },
        "description": {
          "description": "Optional. The templateversion description. Permitted format is alphanumeric with underscores and no spaces.",
          "type": "string"
        },
        "teardown": {
          "$ref": "EnterpriseCrmEventbusProtoTeardown",
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code."
        },
        "userLabel": {
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created.",
          "type": "string"
        },
        "taskConfigs": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          },
          "description": "Optional. Task configuration for the IntegrationTemplateVersion. It's optional, but the IntegrationTemplateVersion doesn't do anything without task_configs.",
          "type": "array"
        },
        "snapshotNumber": {
          "description": "Output only. An increasing sequence that is set when a new snapshot is created.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "databasePersistencePolicy": {
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data."
          ],
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Auto-generated.",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Auto-generated primary key. Format: projects/{project}/locations/{location}/products/{product}/integrationtemplates/{integrationtemplate}/versions/{version}"
        },
        "lastModifierEmail": {
          "description": "Optional. The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray": {
      "properties": {
        "booleanValues": {
          "type": "array",
          "items": {
            "type": "boolean"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo": {
      "properties": {
        "errors": {
          "description": "Errors, warnings, and informationals associated with the workflow/task. The order in which the errors were added by the workflow/task is maintained.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoErrorDetail"
          },
          "type": "array"
        },
        "snapshotNumber": {
          "type": "string",
          "description": "Workflow snapshot number.",
          "format": "int64"
        },
        "responseParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Event parameters come out as part of the response."
        },
        "requestParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Event parameters come in as part of the request."
        },
        "product": {
          "description": "Which Google product the execution_info belongs to. If not set, the execution_info belongs to Integration Platform by default.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ]
        },
        "errorCode": {
          "description": "Final error-code if event failed.",
          "$ref": "CrmlogErrorCode"
        },
        "createTime": {
          "format": "int64",
          "description": "Auto-generated.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "The event data user sends as request."
        },
        "workflowId": {
          "description": "Required. Pointer to the workflow it is executing.",
          "type": "string"
        },
        "workflowRetryBackoffIntervalSeconds": {
          "format": "int64",
          "type": "string",
          "description": "Time interval in seconds to schedule retry of workflow in manifold when workflow is already running"
        },
        "executionTraceInfo": {
          "$ref": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
          "description": "Execution trace info to aggregate parent-child executions."
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "eventExecutionDetails": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
          "description": "The execution info about this event."
        },
        "workflowName": {
          "description": "Name of the workflow.",
          "type": "string"
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "int64",
          "description": "Auto-generated."
        },
        "tenant": {
          "description": "Tenant this event is created. Used to reschedule the event to correct tenant.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request.",
          "type": "string"
        },
        "postMethod": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE",
            "POST_BY_EVENT_CONFIG_ID",
            "POST_WITH_EVENT_DETAILS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The ways user posts this event."
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the workflow trigger config. If both trigger_id and client_id is present, the workflow is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        }
      },
      "type": "object",
      "description": "Contains all the execution details for a workflow instance. Next available id: 24",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo"
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry",
      "properties": {
        "dataType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string",
          "description": "The data type of the parameter."
        },
        "inOutType": {
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "description": "Specifies the input/output type for the parameter.",
          "enumDescriptions": [
            "",
            "Input parameters for the workflow. EventBus validates that these parameters exist in the workflows before execution.",
            "Output Parameters for the workflow. EventBus will only return the workflow parameters tagged with OUT in the response back.",
            "Input or Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ],
          "type": "string"
        },
        "protoDefName": {
          "description": "The name of the protobuf type if the parameter has a protobuf data type.",
          "type": "string"
        },
        "producedBy": {
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param.",
          "$ref": "EnterpriseCrmEventbusProtoNodeIdentifier"
        },
        "children": {
          "description": "Child parameters nested within this parameter. This field only applies to protobuf parameters",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          }
        },
        "jsonSchema": {
          "type": "string",
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter."
        },
        "isTransient": {
          "description": "Whether this parameter is a transient parameter. go/ip-transient-parameters",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\"."
        },
        "attributes": {
          "description": "Metadata information about the parameters.",
          "$ref": "EnterpriseCrmEventbusProtoAttributes"
        },
        "protoDefPath": {
          "description": "If the data type is of type proto or proto array, this field needs to be populated with the fully qualified proto name. This message, for example, would be \"enterprise.crm.frontends.eventbus.proto.WorkflowParameterEntry\".",
          "type": "string"
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition.",
          "type": "string"
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "producer": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig": {
      "description": "Union operation",
      "type": "object",
      "properties": {
        "reducer": {
          "description": "Optional. optional, reduce function",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig"
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringParameterArray",
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQuery": {
      "type": "object",
      "properties": {
        "secondQuery": {
          "description": "Optional. optional, only set when joining 2 queries. Set \"point_operation\" for joined query.",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent"
        },
        "firstQuery": {
          "description": "Required. The components for constructing a mash query. Set \"point_operation\" if this is a single query",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent"
        },
        "operationMode": {
          "description": "Optional. optional, only set when joining 2 queries. By default join 2 queries with join operation.",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQuery",
      "description": "The MashQuery for searching data, set both queries for Join Operation."
    },
    "EnterpriseCrmEventbusProtoAttributes": {
      "id": "EnterpriseCrmEventbusProtoAttributes",
      "description": "Attributes are additional options that can be associated with each event property. For more information, see go/integration-platform/event_bus/attributes_registry.md. Next available: 8",
      "type": "object",
      "properties": {
        "defaultValue": {
          "description": "Used to define defaults.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        },
        "dataType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Domain is a web url string with one top-level private domain and a suffix (for example: google.com, walmart.com)"
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "URL",
            "CURRENCY",
            "TIMESTAMP",
            "DOMAIN_NAME"
          ],
          "description": "Things like URL, Email, Currency, Timestamp (rather than string, int64...)"
        },
        "isSearchable": {
          "description": "Used to indicate if a ParameterEntry should be converted to ParamIndexes for ST-Spanner full-text search. DEPRECATED: use searchable.",
          "type": "boolean"
        },
        "taskVisibility": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of tasks that can view this property, if empty then all."
        },
        "searchable": {
          "enum": [
            "UNSPECIFIED",
            "YES",
            "NO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "If yes, the parameter key and value will be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified.",
            "If no, the parameter key and value will not be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified."
          ]
        },
        "logSettings": {
          "description": "See go/integration-platform/analytics/logging_task.md for details.",
          "$ref": "EnterpriseCrmEventbusProtoLogSettings"
        },
        "isRequired": {
          "description": "Required for event execution. The validation will be done by the event bus when the event is triggered.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse": {
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse",
      "properties": {
        "projectId": {
          "description": "The created AppsScriptProject ID.",
          "type": "string"
        }
      },
      "description": "Response for CreateAppsScriptProject rpc call.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "CONCAT",
            "TO_UPPERCASE",
            "TO_LOWERCASE",
            "CONTAINS",
            "SPLIT",
            "LENGTH",
            "EQUALS",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_BASE_64",
            "TO_JSON",
            "EQUALS_IGNORE_CASE",
            "REPLACE_ALL",
            "SUBSTRING",
            "RESOLVE_TEMPLATE"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringFunction"
    },
    "EnterpriseCrmEventbusProtoSuspensionConfig": {
      "type": "object",
      "properties": {
        "suspensionExpiration": {
          "description": "Indicates the next steps when no external actions happen on the suspension.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionExpiration"
        },
        "notifications": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNotification"
          }
        },
        "customMessage": {
          "description": "Optional information to provide recipients of the suspension in addition to the resolution URL, typically containing relevant parameter values from the originating workflow.",
          "type": "string"
        },
        "whoMayResolve": {
          "type": "array",
          "description": "Identities able to resolve this suspension.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionConfig"
    },
    "EnterpriseCrmEventbusProtoField": {
      "description": "Information about the value and type of the field. Next Id: 8",
      "properties": {
        "defaultValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "This holds the default values for the fields. This value is supplied by user so may or may not contain PII or SPII data. This field will be scrubbed using DatapolScrubber#maybeScrub() with go/proto-sanitizer#level3"
        },
        "transformExpression": {
          "$ref": "EnterpriseCrmEventbusProtoTransformExpression",
          "description": "This is the transform expression to fetch the input field value. for e.g. $param1$.CONCAT('test'). See go/transform-functions-design for more details. Keep points - 1. Only input field can have a transform expression. 2. If a transform expression is provided, reference_key will be ignored. 3. If no value is returned after evaluation of transform expression, default_value can be mapped if provided. 4. The field_type should be the type of the final object returned after the transform expression is evaluated. Scrubs the transform expression before logging as value provided by user so may or may not contain PII or SPII data."
        },
        "protoDefPath": {
          "type": "string",
          "description": "Optional. The fully qualified proto name (e.g. enterprise.crm.storage.Account). Required for output field of type PROTO_VALUE or PROTO_ARRAY. For e.g., if input field_type is BYTES and output field_type is PROTO_VALUE, then fully qualified proto type url should be provided to parse the input bytes. If field_type is *_ARRAY, then all the converted protos are of the same type."
        },
        "referenceKey": {
          "type": "string",
          "description": "This holds the reference key of the workflow or task parameter. 1. Any workflow parameter, for e.g. $workflowParam1$. 2. Any task input or output parameter, for e.g. $task1_param1$. 3. Any workflow or task parameters with subfield references, for e.g., $task1_param1.employee.id$"
        },
        "fieldType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "description": "Specifies the data type of the field.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "cardinality": {
          "enumDescriptions": [
            "For fields with unspecified cardinality.",
            "If field cardinality is set to optional, ignore errors if input field value is null or the reference_key is not found."
          ],
          "description": "By default, if the cardinality is unspecified the field is considered required while mapping.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "OPTIONAL"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoField"
    },
    "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse",
      "properties": {
        "taskEntities": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
          },
          "type": "array",
          "description": "The list of the tasks."
        }
      },
      "type": "object",
      "description": "This is a UI only method and will be moved away. Response for ListTaskEntities."
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats": {
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "int64",
          "type": "string",
          "description": "The end time of the task execution for current attempt."
        },
        "startTime": {
          "description": "The start time of the task execution for current attempt. This could be in the future if it's been scheduled.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest",
      "type": "object",
      "description": "Request for DeactivateIntegrationVersion.",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleResponse": {
      "type": "object",
      "properties": {
        "triggerId": {
          "description": "trigger_id of the bundle task",
          "type": "string"
        },
        "config": {
          "description": "It contains the bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      },
      "description": "Response for create bundle.",
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleResponse"
    },
    "GoogleCloudIntegrationsV1alphaListExecutionsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListExecutionsResponse",
      "description": "Response for listing the integration execution data.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page results."
        },
        "executionInfos": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo"
          },
          "type": "array",
          "description": "Required. The detailed information of requested executions."
        },
        "executions": {
          "type": "array",
          "description": "The detailed information of requested executions",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBooleanArrayFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent": {
      "description": "The components for constructing MashQuery.",
      "properties": {
        "borgTaskMetric": {
          "enum": [
            "BORG_TASK_METRIC_UNSPECIFIED",
            "TASK_INDIVIDUAL_COUNT",
            "EVENT_COUNT",
            "EVENT_DURATION",
            "TASK_INDIVIDUAL_DURATION"
          ],
          "type": "string",
          "description": "Required. The metric for monarch.BorgTask.",
          "enumDescriptions": [
            "Unknown metric",
            "Metric end with: \"/task/individual_count\".",
            "Metric end with: \"/event/count\".",
            "Metric end with: \"/event/duration\".",
            "Metric end with: \"/task/individual_duration\"."
          ]
        },
        "timeDelta": {
          "type": "string",
          "description": "Required. Window time delta."
        },
        "fetchFilters": {
          "description": "Optional. optional, filters for Fetch Raw, \"metric:client_id\" not supported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataFilters": {
          "items": {
            "type": "string"
          },
          "description": "Optional. optional, filters on fetched data, \"metric:client_id\" not supported.",
          "type": "array"
        },
        "groupBy": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy",
          "description": "Optional. optional, GroupBy variables."
        },
        "pointOperation": {
          "description": "Optional. optional, Point Operation on single query or joined query.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse": {
      "properties": {
        "aplosSeriesListData": {
          "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesListData",
          "description": "List of points."
        },
        "tableData": {
          "$ref": "EnterpriseCrmCardsTabularData",
          "description": "Data in form of table."
        }
      },
      "description": "The response for getting Execution stats.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse"
    },
    "EnterpriseCrmEventbusProtoDoubleArray": {
      "properties": {
        "values": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleArray"
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse": {
      "description": "Response for LinkAppsScriptProject rpc call.",
      "type": "object",
      "properties": {
        "scriptId": {
          "description": "The id of the linked Apps Script project.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse"
    },
    "EnterpriseCrmCardsCellValue": {
      "id": "EnterpriseCrmCardsCellValue",
      "type": "object",
      "properties": {
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "stringValue": {
          "type": "string"
        },
        "longValue": {
          "type": "string",
          "format": "int64"
        },
        "empty": {
          "$ref": "GoogleProtobufEmpty"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMap": {
      "type": "object",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMap",
      "properties": {
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry"
          },
          "type": "array"
        },
        "valueType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string"
        },
        "keyType": {
          "type": "string",
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoBooleanFunction"
    },
    "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse",
      "properties": {
        "sfdcChannels": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
          },
          "type": "array",
          "description": "The list of SfdcChannels retrieved."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        }
      },
      "type": "object",
      "description": "Response to list SfdcChannels."
    },
    "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse": {
      "properties": {
        "sfdcInstances": {
          "type": "array",
          "description": "The list of SfdcInstances retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
          }
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse",
      "description": "Response to list SfdcInstances."
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "properties": {
        "mappedFields": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig",
      "type": "object",
      "description": "Field Mapping Config to map multiple output fields values from input fields values. Next id: 2"
    },
    "EnterpriseCrmFrontendsEventbusProtoTriggerConfig": {
      "id": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig",
      "properties": {
        "nextTasksExecutionPolicy": {
          "description": "Dictates how next tasks will be executed.",
          "type": "string",
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ]
        },
        "position": {
          "$ref": "EnterpriseCrmEventbusProtoCoordinate",
          "description": "Optional. Informs the front-end application where to draw this trigger config on the UI."
        },
        "triggerId": {
          "description": "The backend trigger ID.",
          "type": "string"
        },
        "pauseWorkflowExecutions": {
          "type": "boolean",
          "description": "Optional. If set to true, any upcoming requests for this trigger config will be paused and the executions will be resumed later when the flag is reset. The workflow to which this trigger config belongs has to be in ACTIVE status for the executions to be paused or resumed."
        },
        "label": {
          "type": "string",
          "description": "The user created label for a particular trigger."
        },
        "cloudSchedulerConfig": {
          "$ref": "EnterpriseCrmEventbusProtoCloudSchedulerConfig"
        },
        "enabledClients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of client ids which are enabled to execute the workflow using this trigger. In other words, these clients have the workflow execution privledges for this trigger. For API trigger, the client id in the incoming request is validated against the list of enabled clients. For non-API triggers, one workflow execution is triggered on behalf of each enabled client."
        },
        "triggerType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "CLOUD_PUBSUB",
            "GOOPS",
            "SFDC_SYNC",
            "CRON",
            "API",
            "MANIFOLD_TRIGGER",
            "DATALAYER_DATA_CHANGE",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "SFDC_PLATFORM_EVENTS_CHANNEL",
            "CLOUD_SCHEDULER"
          ],
          "type": "string"
        },
        "startTasks": {
          "type": "array",
          "description": "Set of tasks numbers from where the workflow execution is started by this trigger. If this is empty, then workflow is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same workflow execution graph).",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          }
        },
        "description": {
          "description": "User-provided description intended to give more business context about the task.",
          "type": "string"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Configurable properties of the trigger, not to be confused with workflow parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Cloud Pubsub triggers.",
          "type": "object"
        },
        "alertConfig": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoWorkflowAlertConfig"
          },
          "description": "An alert threshold configuration for the [trigger + client + workflow] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + workflow] when published."
        },
        "triggerNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each trigger config within the workflow on UI."
        },
        "triggerCriteria": {
          "description": "Optional. When set, Eventbus will run the task specified in the trigger_criteria and validate the result using the trigger_criteria.condition, and only execute the workflow when result is true.",
          "$ref": "EnterpriseCrmEventbusProtoTriggerCriteria"
        }
      },
      "type": "object",
      "description": "Configuration detail of a trigger. Next available id: 17"
    },
    "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "id": "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig",
      "type": "object",
      "properties": {
        "connection": {
          "description": "User-selected connection.",
          "$ref": "EnterpriseCrmEventbusProtoConnectorsConnection"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EXECUTE_ACTION",
            "LIST_ENTITIES",
            "GET_ENTITY",
            "CREATE_ENTITY",
            "UPDATE_ENTITY",
            "DELETE_ENTITY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Operation to perform using the configured connection."
        }
      }
    },
    "EnterpriseCrmEventbusProtoIntArray": {
      "id": "EnterpriseCrmEventbusProtoIntArray",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest": {
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the Apps Script project to be linked."
        }
      },
      "description": "Request for LinkAppsScriptProject rpc call.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest"
    },
    "GoogleCloudIntegrationsV1alphaTaskConfig": {
      "properties": {
        "taskTemplate": {
          "type": "string",
          "description": "Optional. Used to define task-template name if task is of type task-template"
        },
        "taskId": {
          "type": "string",
          "description": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`)."
        },
        "taskExecutionStrategy": {
          "enum": [
            "TASK_EXECUTION_STRATEGY_UNSPECIFIED",
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default. If the strategy is not set explicitly, it will default to `WHEN_ALL_SUCCEED`.",
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "description": "Optional. The policy dictating the execution strategy of this task."
        },
        "jsonValidationOption": {
          "description": "Optional. If set, overrides the option configured in the Task implementation class.",
          "type": "string",
          "enum": [
            "JSON_VALIDATION_OPTION_UNSPECIFIED",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in IntegrationParameter.",
            "Validate all potential output JSON parameters against schemas specified in IntegrationParameter.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ]
        },
        "task": {
          "type": "string",
          "description": "Optional. The name for the task."
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy"
        },
        "nextTasksExecutionPolicy": {
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "type": "string",
          "description": "Optional. The policy dictating the execution of the next set of tasks for the current task.",
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        },
        "parameters": {
          "description": "Optional. The customized parameters the user can pass to this task.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaEventParameter"
          },
          "type": "object"
        },
        "nextTasks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
[...]
