{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "id": "jobs:v2",
  "protocol": "rest",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/jobs": {
          "description": "Manage job postings"
        }
      }
    }
  },
  "revision": "20200929",
  "baseUrl": "https://jobs.googleapis.com/",
  "schemas": {
    "SearchJobsRequest": {
      "properties": {
        "histogramFacets": {
          "$ref": "HistogramFacets",
          "description": "Optional. Restrictions on what fields to perform histogram on, such as `COMPANY_SIZE` etc."
        },
        "offset": {
          "description": "Optional. An integer that specifies the current offset (that is, starting result location, amongst the jobs deemed by the API as relevant) in search results. This field is only considered if page_token is unset. For example, 0 means to return results starting from the first matching job, and 10 means to return from the 11th job. This can be used for pagination, (for example, pageSize = 10 and offset = 10 means to return from the second page).",
          "format": "int32",
          "type": "integer"
        },
        "mode": {
          "type": "string",
          "description": "Required. Mode of a search.",
          "enum": [
            "SEARCH_MODE_UNSPECIFIED",
            "JOB_SEARCH",
            "FEATURED_JOB_SEARCH",
            "EMAIL_ALERT_SEARCH"
          ],
          "enumDescriptions": [
            "The mode of the search method isn't specified.",
            "The job search doesn't include support for featured jobs.",
            "The job search matches only against featured jobs (jobs with a promotionValue \u003e 0). This method doesn't return any jobs having a promotionValue \u003c= 0. The search results order is determined by the promotionValue (jobs with a higher promotionValue are returned higher up in the search results), with relevance being used as a tiebreaker.",
            "Deprecated. Please use the SearchJobsForAlert API. The job search matches against jobs suited to email notifications."
          ]
        },
        "filters": {
          "$ref": "JobFilters",
          "description": "Deprecated. Use query instead. Optional. Restrictions on the scope of the search request, such as filtering by location."
        },
        "orderBy": {
          "description": "Deprecated. Use sort_by instead. Optional. The criteria determining how search results are sorted. Defaults to SortBy.RELEVANCE_DESC if no value is specified.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "By descending relevance, as determined by the API algorithms. Relevance thresholding of query results is only available for queries if RELEVANCE_DESC sort ordering is specified.",
            "Sort by published date descending.",
            "Sort by updated date descending.",
            "Sort by job title ascending.",
            "Sort by job title descending.",
            "Sort by job annualized base compensation in ascending order. If job's annualized base compensation is unspecified, they are put at the end of search result.",
            "Sort by job annualized total compensation in ascending order. If job's annualized total compensation is unspecified, they are put at the end of search result.",
            "Sort by job annualized base compensation in descending order. If job's annualized base compensation is unspecified, they are put at the end of search result.",
            "Sort by job annualized total compensation in descending order. If job's annualized total compensation is unspecified, they are put at the end of search result."
          ],
          "enum": [
            "SORT_BY_UNSPECIFIED",
            "RELEVANCE_DESC",
            "PUBLISHED_DATE_DESC",
            "UPDATED_DATE_DESC",
            "TITLE",
            "TITLE_DESC",
            "ANNUALIZED_BASE_COMPENSATION",
            "ANNUALIZED_TOTAL_COMPENSATION",
            "ANNUALIZED_BASE_COMPENSATION_DESC",
            "ANNUALIZED_TOTAL_COMPENSATION_DESC"
          ]
        },
        "query": {
          "$ref": "JobQuery",
          "description": "Optional. Query used to search against jobs, such as keyword, location filters, etc."
        },
        "requestMetadata": {
          "description": "Required. The meta information collected about the job searcher, used to improve the search quality of the service. The identifiers, (such as `user_id`) are provided by users, and must be unique and consistent.",
          "$ref": "RequestMetadata"
        },
        "disableRelevanceThresholding": {
          "type": "boolean",
          "description": "Optional. Controls whether to disable relevance thresholding. Relevance thresholding removes jobs that have low relevance in search results, for example, removing \"Assistant to the CEO\" positions from the search results of a search for \"CEO\". Disabling relevance thresholding improves the accuracy of subsequent search requests. Defaults to false."
        },
        "jobView": {
          "enumDescriptions": [
            "Default value.",
            "A small view of the job, with the following attributes in the search results: Job.name, Job.requisition_id, Job.job_title, Job.company_name, Job.job_locations, Job.description, Job.visibility. Note: Job.description is deprecated. It is scheduled to be removed from MatchingJob.Job objects in the SearchJobsResponse results on 12/31/2018.",
            "A minimal view of the job, with the following attributes in the search results: Job.name, Job.requisition_id, Job.job_title, Job.company_name, Job.job_locations.",
            "All available attributes are included in the search results. Note: [Job.description, Job.responsibilities, Job.qualifications and Job.incentives are deprecated. These fields are scheduled to be removed from MatchingJob.Job objects in the SearchJobsResponse results on 12/31/2018. See the alternative MatchingJob.search_text_snippet and MatchingJob.job_summary fields."
          ],
          "description": "Optional. The number of job attributes returned for jobs in the search response. Defaults to JobView.SMALL if no value is specified.",
          "type": "string",
          "enum": [
            "JOB_VIEW_UNSPECIFIED",
            "SMALL",
            "MINIMAL",
            "FULL"
          ]
        },
        "enableBroadening": {
          "type": "boolean",
          "description": "Optional. Controls whether to broaden the search when it produces sparse results. Broadened queries append results to the end of the matching results list. Defaults to false."
        },
        "sortBy": {
          "enumDescriptions": [
            "Default value.",
            "By descending relevance, as determined by the API algorithms. Relevance thresholding of query results is only available for queries if RELEVANCE_DESC sort ordering is specified.",
            "Sort by published date descending.",
            "Sort by updated date descending.",
            "Sort by job title ascending.",
            "Sort by job title descending.",
            "Sort by job annualized base compensation in ascending order. If job's annualized base compensation is unspecified, they are put at the end of search result.",
            "Sort by job annualized total compensation in ascending order. If job's annualized total compensation is unspecified, they are put at the end of search result.",
            "Sort by job annualized base compensation in descending order. If job's annualized base compensation is unspecified, they are put at the end of search result.",
            "Sort by job annualized total compensation in descending order. If job's annualized total compensation is unspecified, they are put at the end of search result."
          ],
          "enum": [
            "SORT_BY_UNSPECIFIED",
            "RELEVANCE_DESC",
            "PUBLISHED_DATE_DESC",
            "UPDATED_DATE_DESC",
            "TITLE",
            "TITLE_DESC",
            "ANNUALIZED_BASE_COMPENSATION",
            "ANNUALIZED_TOTAL_COMPENSATION",
            "ANNUALIZED_BASE_COMPENSATION_DESC",
            "ANNUALIZED_TOTAL_COMPENSATION_DESC"
          ],
          "description": "Optional. The criteria determining how search results are sorted. Defaults to SortBy.RELEVANCE_DESC if no value is specified.",
          "type": "string"
        },
        "enablePreciseResultSize": {
          "type": "boolean",
          "description": "Optional. Controls if the search job request requires the return of a precise count of the first 300 results. Setting this to `true` ensures consistency in the number of results per page. Best practice is to set this value to true if a client allows users to jump directly to a non-sequential search results page. Enabling this flag may adversely impact performance. Defaults to false."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The token specifying the current offset within search results. See SearchJobsResponse.next_page_token for an explanation of how to obtain the next set of query results."
        },
        "pageSize": {
          "description": "Optional. A limit on the number of jobs returned in the search results. Increasing this value above the default value of 10 can increase search response time. The value can be between 1 and 100.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Input only. The Request body of the `SearchJobs` call.",
      "type": "object",
      "id": "SearchJobsRequest"
    },
    "ExtendedCompensationInfo": {
      "type": "object",
      "id": "ExtendedCompensationInfo",
      "description": "Deprecated. Use CompensationInfo. Describes job compensation.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "ExtendedCompensationInfoCompensationEntry"
          },
          "description": "Optional. Job compensation information. At most one entry can be of type ExtendedCompensationInfo.CompensationType.BASE, which is referred as ** base compensation entry ** for the job.",
          "type": "array"
        },
        "annualizedBaseCompensationUnspecified": {
          "description": "Output only. Indicates annualized base compensation range cannot be derived, due to the job's base compensation entry cannot be annualized. See CompensationEntry for explanation on annualization and base compensation entry.",
          "type": "boolean"
        },
        "currency": {
          "type": "string",
          "description": "Optional. A 3-letter [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html) currency code."
        },
        "annualizedTotalCompensationRange": {
          "$ref": "ExtendedCompensationInfoCompensationRange",
          "description": "Output only. Annualized total compensation range."
        },
        "annualizedTotalCompensationUnspecified": {
          "description": "Output only. Indicates annualized total compensation range cannot be derived, due to the job's all CompensationEntry cannot be annualized. See CompensationEntry for explanation on annualization and base compensation entry.",
          "type": "boolean"
        },
        "annualizedBaseCompensationRange": {
          "description": "Output only. Annualized base compensation range.",
          "$ref": "ExtendedCompensationInfoCompensationRange"
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "HistogramResults": {
      "type": "object",
      "properties": {
        "simpleHistogramResults": {
          "description": "Specifies histogram results that matches HistogramFacets.simple_histogram_facets.",
          "type": "array",
          "items": {
            "$ref": "HistogramResult"
          }
        },
        "customAttributeHistogramResults": {
          "type": "array",
          "description": "Specifies histogram results for custom attributes that matches HistogramFacets.custom_attribute_histogram_facets.",
          "items": {
            "$ref": "CustomAttributeHistogramResult"
          }
        },
        "compensationHistogramResults": {
          "type": "array",
          "description": "Specifies compensation field-based histogram results that matches HistogramFacets.compensation_histogram_requests.",
          "items": {
            "$ref": "CompensationHistogramResult"
          }
        }
      },
      "description": "Output only. Histogram results that matches HistogramFacets specified in SearchJobsRequest.",
      "id": "HistogramResults"
    },
    "GoogleCloudTalentV4JobResult": {
      "properties": {
        "status": {
          "$ref": "Status",
          "description": "The status of the job processed. This field is populated if the processing of the job fails."
        },
        "job": {
          "description": "Here Job only contains basic information including name, company, language_code and requisition_id, use getJob method to retrieve detailed information of the created/updated job.",
          "$ref": "GoogleCloudTalentV4Job"
        }
      },
      "id": "GoogleCloudTalentV4JobResult",
      "type": "object",
      "description": "Mutation result of a job from a batch operation."
    },
    "GoogleCloudTalentV4BatchOperationMetadata": {
      "type": "object",
      "description": "Metadata used for long running operations returned by CTS batch APIs. It's used to replace google.longrunning.Operation.metadata.",
      "id": "GoogleCloudTalentV4BatchOperationMetadata",
      "properties": {
        "failureCount": {
          "format": "int32",
          "type": "integer",
          "description": "Count of failed item(s) inside an operation."
        },
        "endTime": {
          "description": "The time when the batch operation is finished and google.longrunning.Operation.done is set to `true`.",
          "format": "google-datetime",
          "type": "string"
        },
        "totalCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of total item(s) inside an operation."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "description": "The state of a long running operation.",
          "enumDescriptions": [
            "Default value.",
            "The batch operation is being prepared for processing.",
            "The batch operation is actively being processed.",
            "The batch operation is processed, and at least one item has been successfully processed.",
            "The batch operation is done and no item has been successfully processed.",
            "The batch operation is in the process of cancelling after google.longrunning.Operations.CancelOperation is called.",
            "The batch operation is done after google.longrunning.Operations.CancelOperation is called. Any items processed before cancelling are returned in the response."
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "The time when the batch operation status is updated. The metadata and the update_time is refreshed every minute otherwise cached data is returned.",
          "type": "string",
          "format": "google-datetime"
        },
        "successCount": {
          "type": "integer",
          "description": "Count of successful item(s) inside an operation.",
          "format": "int32"
        },
        "stateDescription": {
          "type": "string",
          "description": "More detailed information about operation state."
        },
        "createTime": {
          "type": "string",
          "description": "The time when the batch operation is created.",
          "format": "google-datetime"
        }
      }
    },
    "CustomFieldFilter": {
      "description": "Input only. Custom field filter of the search.",
      "properties": {
        "type": {
          "description": "Optional. The type of filter. Defaults to FilterType.OR.",
          "enumDescriptions": [
            "Default value.",
            "Search for a match with any query.",
            "Search for a match with all queries.",
            "Negate the set of filter values for the search."
          ],
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "OR",
            "AND",
            "NOT"
          ],
          "type": "string"
        },
        "queries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The query strings for the filter."
        }
      },
      "id": "CustomFieldFilter",
      "type": "object"
    },
    "ExtendedCompensationInfoCompensationRange": {
      "type": "object",
      "description": "Deprecated. See CompensationInfo. Compensation range.",
      "properties": {
        "min": {
          "description": "Required. Minimum value.",
          "$ref": "ExtendedCompensationInfoDecimal"
        },
        "max": {
          "description": "Required. Maximum value.",
          "$ref": "ExtendedCompensationInfoDecimal"
        }
      },
      "id": "ExtendedCompensationInfoCompensationRange"
    },
    "GoogleCloudTalentV4JobProcessingOptions": {
      "type": "object",
      "properties": {
        "htmlSanitization": {
          "description": "Option for job HTML content sanitization. Applied fields are: * description * applicationInfo.instruction * incentives * qualifications * responsibilities HTML tags in these fields may be stripped if sanitiazation isn't disabled. Defaults to HtmlSanitization.SIMPLE_FORMATTING_ONLY.",
          "enumDescriptions": [
            "Default value.",
            "Disables sanitization on HTML input.",
            "Sanitizes HTML input, only accepts bold, italic, ordered list, and unordered list markup tags."
          ],
          "enum": [
            "HTML_SANITIZATION_UNSPECIFIED",
            "HTML_SANITIZATION_DISABLED",
            "SIMPLE_FORMATTING_ONLY"
          ],
          "type": "string"
        },
        "disableStreetAddressResolution": {
          "type": "boolean",
          "description": "If set to `true`, the service does not attempt to resolve a more precise address for the job."
        }
      },
      "id": "GoogleCloudTalentV4JobProcessingOptions",
      "description": "Options for job processing."
    },
    "NumericBucketingOption": {
      "properties": {
        "bucketBounds": {
          "type": "array",
          "description": "Required. Two adjacent values form a histogram bucket. Values should be in ascending order. For example, if [5, 10, 15] are provided, four buckets are created: (-inf, 5), 5, 10), [10, 15), [15, inf). At most 20 [buckets_bound is supported.",
          "items": {
            "format": "double",
            "type": "number"
          }
        },
        "requiresMinMax": {
          "type": "boolean",
          "description": "Optional. If set to true, the histogram result includes minimum/maximum value of the numeric field."
        }
      },
      "id": "NumericBucketingOption",
      "description": "Input only. Use this field to specify bucketing option for the histogram search response.",
      "type": "object"
    },
    "BatchDeleteJobsRequest": {
      "type": "object",
      "description": "Input only. Batch delete jobs request.",
      "id": "BatchDeleteJobsRequest",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required. The filter string specifies the jobs to be deleted. Supported operator: =, AND The fields eligible for filtering are: * `companyName` (Required) * `requisitionId` (Required) Sample Query: companyName = \"companies/123\" AND requisitionId = \"req-1\""
        }
      }
    },
    "ExtendedCompensationInfoCompensationEntry": {
      "type": "object",
      "id": "ExtendedCompensationInfoCompensationEntry",
      "properties": {
        "amount": {
          "description": "Optional. Monetary amount.",
          "$ref": "ExtendedCompensationInfoDecimal"
        },
        "range": {
          "description": "Optional. Compensation range.",
          "$ref": "ExtendedCompensationInfoCompensationRange"
        },
        "unit": {
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
            "Hourly.",
            "Daily.",
            "Weekly",
            "Monthly.",
            "Yearly.",
            "One time.",
            "Other compensation units."
          ],
          "description": "Optional. Frequency of the specified amount. Default is CompensationUnit.COMPENSATION_UNIT_UNSPECIFIED.",
          "enum": [
            "EXTENDED_COMPENSATION_UNIT_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY",
            "ONE_TIME",
            "OTHER_COMPENSATION_UNIT"
          ],
          "type": "string"
        },
        "expectedUnitsPerYear": {
          "$ref": "ExtendedCompensationInfoDecimal",
          "description": "Optional. Expected number of units paid each year. If not specified, when Job.employment_types is FULLTIME, a default value is inferred based on unit. Default values: - HOURLY: 2080 - DAILY: 260 - WEEKLY: 52 - MONTHLY: 12 - ANNUAL: 1"
        },
        "type": {
          "enum": [
            "EXTENDED_COMPENSATION_TYPE_UNSPECIFIED",
            "BASE",
            "BONUS",
            "SIGNING_BONUS",
            "EQUITY",
            "PROFIT_SHARING",
            "COMMISSIONS",
            "TIPS",
            "OTHER_COMPENSATION_TYPE"
          ],
          "type": "string",
          "description": "Required. Compensation type.",
          "enumDescriptions": [
            "Default value. Equivalent to OTHER_COMPENSATION_TYPE.",
            "Base compensation: Refers to the fixed amount of money paid to an employee by an employer in return for work performed. Base compensation does not include benefits, bonuses or any other potential compensation from an employer.",
            "Bonus.",
            "Signing bonus.",
            "Equity.",
            "Profit sharing.",
            "Commission.",
            "Tips.",
            "Other compensation type."
          ]
        },
        "unspecified": {
          "description": "Optional. Indicates compensation amount and range are unset.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional. Compensation description."
        }
      },
      "description": "Deprecated. See CompensationInfo. A compensation entry that represents one component of compensation, such as base pay, bonus, or other compensation type. Annualization: One compensation entry can be annualized if - it contains valid amount or range. - and its expected_units_per_year is set or can be derived. Its annualized range is determined as (amount or range) times expected_units_per_year."
    },
    "Job": {
      "description": "A Job resource represents a job posting (also referred to as a \"job listing\" or \"job requisition\"). A job belongs to a Company, which is the hiring entity responsible for the job.",
      "properties": {
        "educationLevels": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The default value if the level is not specified.",
              "A High School diploma is required for the position.",
              "An Associate degree is required for the position.",
              "A Bachelors degree is required for the position.",
              "A Masters degree is required for the position.",
              "A Doctorate degree is required for the position.",
              "No formal education is required for the position."
            ],
            "enum": [
              "EDUCATION_LEVEL_UNSPECIFIED",
              "HIGH_SCHOOL",
              "ASSOCIATE",
              "BACHELORS",
              "MASTERS",
              "DOCTORATE",
              "NO_DEGREE_REQUIRED"
            ]
          },
          "description": "Optional. The desired education level for the job, such as \"Bachelors\", \"Masters\", \"Doctorate\"."
        },
        "qualifications": {
          "description": "Optional. A description of the qualifications required to perform the job. The use of this field is recommended as an alternative to using the more general description field. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 10,000.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when this job was created.",
          "format": "google-datetime"
        },
        "unindexedCustomFields": {
          "description": "Deprecated. Use custom_attributes instead. Optional. A map of fields to hold non-filterable custom job attributes, similar to filterable_custom_fields. These fields are distinct in that the data in these fields are not indexed. Therefore, the client cannot search against them, nor can the client use them to list jobs. The key of the map can be any valid string.",
          "additionalProperties": {
            "$ref": "CustomField"
          },
          "type": "object"
        },
        "applicationUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional but at least one of application_urls, application_email_list or application_instruction must be specified. Use this URL field to direct an applicant to a website, for example to link to an online application form. The maximum number of allowed characters is 2,000."
        },
        "filterableCustomFields": {
          "additionalProperties": {
            "$ref": "CustomField"
          },
          "type": "object",
          "description": "Deprecated. Use custom_attributes instead. Optional. A map of fields to hold filterable custom job attributes not captured by the standard fields such as job_title, company_name, or level. These custom fields store arbitrary string values, and can be used for purposes not covered by the structured fields. For the best search experience, use of the structured rather than custom fields is recommended. Data stored in these custom fields fields are indexed and searched against by keyword searches (see SearchJobsRequest.custom_field_filters][]). The map key must be a number between 1-20. If an invalid key is provided on job create or update, an error is returned."
        },
        "level": {
          "type": "string",
          "enumDescriptions": [
            "The default value if the level is not specified.",
            "Entry-level individual contributors, typically with less than 2 years of experience in a similar role. Includes interns.",
            "Experienced individual contributors, typically with 2+ years of experience in a similar role.",
            "Entry- to mid-level managers responsible for managing a team of people.",
            "Senior-level managers responsible for managing teams of managers.",
            "Executive-level managers and above, including C-level positions."
          ],
          "enum": [
            "JOB_LEVEL_UNSPECIFIED",
            "ENTRY_LEVEL",
            "EXPERIENCED",
            "MANAGER",
            "DIRECTOR",
            "EXECUTIVE"
          ],
          "description": "Optional. The experience level associated with the job, such as \"Entry Level\"."
        },
        "expiryDate": {
          "description": "Deprecated. Use expire_time instead. Optional but strongly recommended to be provided for the best service experience. The expiration date of the job in UTC time. After 12 am on this date, the job is marked as expired, and it no longer appears in search results. The expired job can't be deleted or listed by the DeleteJob and ListJobs APIs, but it can be retrieved with the GetJob API or updated with the UpdateJob API. An expired job can be updated and opened again by using a future expiration date. It can also remain expired. Updating an expired job to be open fails if there is another existing open job with same requisition_id, company_name and language_code. The expired jobs are retained in our system for 90 days. However, the overall expired job count cannot exceed 3 times the maximum of open jobs count over the past week, otherwise jobs with earlier expire time are removed first. Expired jobs are no longer accessible after they are cleaned out. A valid date range is between 1970/1/1 and 2100/12/31. Invalid dates are ignored and treated as expiry date not provided. If this value is not provided on job creation or is invalid, the job posting expires after 30 days from the job's creation time. For example, if the job was created on 2017/01/01 13:00AM UTC with an unspecified expiration date, the job expires after 2017/01/31 13:00AM UTC. If this value is not provided on job update, it depends on the field masks set by UpdateJobRequest.update_job_fields. If the field masks include expiry_date, or the masks are empty meaning that every field is updated, the job expires after 30 days from the job's last update time. Otherwise the expiration date isn't updated.",
          "$ref": "Date"
        },
        "extendedCompensationInfo": {
          "description": "Deprecated. Always use compensation_info. Optional. Job compensation information. This field replaces compensation_info. Only CompensationInfo.entries or extended_compensation_info can be set, otherwise an exception is thrown.",
          "$ref": "ExtendedCompensationInfo"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when this job was last updated.",
          "type": "string"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Optional. The end date of the job in UTC time zone. Typically this field is used for contracting engagements. Dates prior to 1970/1/1 and invalid date formats are ignored."
        },
        "companyName": {
          "type": "string",
          "description": "Optional but one of company_name or distributor_company_id must be provided. The resource name of the company listing the job, such as /companies/foo. This field takes precedence over the distributor-assigned company identifier, distributor_company_id."
        },
        "promotionValue": {
          "format": "int32",
          "description": "Optional. A promotion value of the job, as determined by the client. The value determines the sort order of the jobs returned when searching for jobs using the featured jobs search call, with higher promotional values being returned first and ties being resolved by relevance sort. Only the jobs with a promotionValue \u003e0 are returned in a FEATURED_JOB_SEARCH. Default value is 0, and negative values are treated as 0.",
          "type": "integer"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The language of the posting. This field is distinct from any requirements for fluency that are associated with the job. Language codes must be in BCP-47 format, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47){: class=\"external\" target=\"_blank\" }. If this field is unspecified and Job.description is present, detected language code based on Job.description is assigned, otherwise defaults to 'en_US'."
        },
        "applicationEmailList": {
          "items": {
            "type": "string"
          },
          "description": "Optional but at least one of application_urls, application_email_list or application_instruction must be specified. Use this field to specify email address(es) to which resumes or applications can be sent. The maximum number of allowed characters is 255.",
          "type": "array"
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional but strongly recommended for the best service experience. Location(s) where the emploeyer is looking to hire for this job posting. Specifying the full street address(es) of the hiring location enables better API results, especially job searches by commute time. At most 50 locations are allowed for best search performance. If a job has more locations, it is suggested to split it into multiple jobs with unique requisition_ids (e.g. 'ReqA' becomes 'ReqA-1', 'ReqA-2', etc.) as multiple jobs with the same requisition_id, company_name and language_code are not allowed. If the original requisition_id must be preserved, a custom field should be used for storage. It is also suggested to group the locations that close to each other in the same job for better search experience. The maximum number of allowed characters is 500."
        },
        "publishDate": {
          "$ref": "Date",
          "description": "Optional. The date this job was most recently published in UTC format. The default value is the time the request arrives at the server."
        },
        "referenceUrl": {
          "description": "Output only. The URL of a web page that displays job details.",
          "type": "string"
        },
        "responsibilities": {
          "type": "string",
          "description": "Optional. A description of job responsibilities. The use of this field is recommended as an alternative to using the more general description field. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 10,000."
        },
        "department": {
          "type": "string",
          "description": "Optional. The department or functional area within the company with the open position. The maximum number of allowed characters is 255."
        },
        "applicationInstruction": {
          "description": "Optional but at least one of application_urls, application_email_list or application_instruction must be specified. Use this field to provide instructions, such as \"Mail your application to ...\", that a candidate can follow to apply for the job. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 3,000.",
          "type": "string"
        },
        "requisitionId": {
          "description": "Required. The requisition ID, also referred to as the posting ID, assigned by the client to identify a job. This field is intended to be used by clients for client identification and tracking of listings. A job is not allowed to be created if there is another job with the same requisition_id, company_name and language_code. The maximum number of allowed characters is 255.",
          "type": "string"
        },
        "region": {
          "description": "Optional. The job Region (for example, state, country) throughout which the job is available. If this field is set, a LocationFilter in a search query within the job region finds this job if an exact location match is not specified. If this field is set, setting job locations to the same location level as this field is strongly recommended.",
          "enum": [
            "REGION_UNSPECIFIED",
            "STATE_WIDE",
            "NATION_WIDE",
            "TELECOMMUTE"
          ],
          "type": "string",
          "enumDescriptions": [
            "If the region is unspecified, the job is only returned if it matches the LocationFilter.",
            "In additiona to exact location matching, job is returned when the LocationFilter in search query is in the same state as this job. For example, if a `STATE_WIDE` job is posted in \"CA, USA\", it is returned if LocationFilter has \"Mountain View\".",
            "In addition to exact location matching, job is returned when LocationFilter in search query is in the same country as this job. For example, if a `NATION_WIDE` job is posted in \"USA\", it is returned if LocationFilter has 'Mountain View'.",
            "Job allows employees to work remotely (telecommute). If locations are provided with this value, the job is considered as having a location, but telecommuting is allowed."
          ]
        },
        "benefits": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value if the type is not specified.",
              "The job includes access to programs that support child care, such as daycare.",
              "The job includes dental services that are covered by a dental insurance plan.",
              "The job offers specific benefits to domestic partners.",
              "The job allows for a flexible work schedule.",
              "The job includes health services that are covered by a medical insurance plan.",
              "The job includes a life insurance plan provided by the employer or available for purchase by the employee.",
              "The job allows for a leave of absence to a parent to care for a newborn child.",
              "The job includes a workplace retirement plan provided by the employer or available for purchase by the employee.",
              "The job allows for paid time off due to illness.",
              "Deprecated. Set Region.TELECOMMUTE instead. The job allows telecommuting (working remotely).",
              "The job includes paid time off for vacation.",
              "The job includes vision services that are covered by a vision insurance plan."
            ],
            "enum": [
              "JOB_BENEFIT_TYPE_UNSPECIFIED",
              "CHILD_CARE",
              "DENTAL",
              "DOMESTIC_PARTNER",
              "FLEXIBLE_HOURS",
              "MEDICAL",
              "LIFE_INSURANCE",
              "PARENTAL_LEAVE",
              "RETIREMENT_PLAN",
              "SICK_DAYS",
              "TELECOMMUTE",
              "VACATION",
              "VISION"
            ]
          },
          "description": "Optional. The benefits included with the job."
        },
        "jobTitle": {
          "description": "Required. The title of the job, such as \"Software Engineer\" The maximum number of allowed characters is 500.",
          "type": "string"
        },
        "companyTitle": {
          "type": "string",
          "description": "Deprecated. Use company_display_name instead. Output only. The name of the company listing the job."
        },
        "jobLocations": {
          "description": "Output only. Structured locations of the job, resolved from locations.",
          "type": "array",
          "items": {
            "$ref": "JobLocation"
          }
        },
        "distributorCompanyId": {
          "description": "Optional but one of company_name or distributor_company_id must be provided. A unique company identifier used by job distributors to identify an employer's company entity. company_name takes precedence over this field, and is the recommended field to use to identify companies. The maximum number of allowed characters is 255.",
          "type": "string"
        },
        "incentives": {
          "description": "Optional. A description of bonus, commission, and other compensation incentives associated with the job not including salary or pay. The maximum number of allowed characters is 10,000.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional but strongly recommended for the best service experience. The expiration timestamp of the job. After this timestamp, the job is marked as expired, and it no longer appears in search results. The expired job can't be deleted or listed by the DeleteJob and ListJobs APIs, but it can be retrieved with the GetJob API or updated with the UpdateJob API. An expired job can be updated and opened again by using a future expiration timestamp. Updating an expired job fails if there is another existing open job with same requisition_id, company_name and language_code. The expired jobs are retained in our system for 90 days. However, the overall expired job count cannot exceed 3 times the maximum of open jobs count over the past week, otherwise jobs with earlier expire time are cleaned first. Expired jobs are no longer accessible after they are cleaned out. The format of this field is RFC 3339 date strings. Example: 2000-01-01T00:00:00.999999999Z See [https://www.ietf.org/rfc/rfc3339.txt](https://www.ietf.org/rfc/rfc3339.txt). A valid date range is between 1970-01-01T00:00:00.0Z and 2100-12-31T23:59:59.999Z. Invalid dates are ignored and treated as expire time not provided. If this value is not provided at the time of job creation or is invalid, the job posting expires after 30 days from the job's creation time. For example, if the job was created on 2017/01/01 13:00AM UTC with an unspecified expiration date, the job expires after 2017/01/31 13:00AM UTC. If this value is not provided but expiry_date is, expiry_date is used. If this value is not provided on job update, it depends on the field masks set by UpdateJobRequest.update_job_fields. If the field masks include expiry_time, or the masks are empty meaning that every field is updated, the job posting expires after 30 days from the job's last update time. Otherwise the expiration date isn't updated."
        },
        "startDate": {
          "$ref": "Date",
          "description": "Optional. The start date of the job in UTC time zone. Typically this field is used for contracting engagements. Dates prior to 1970/1/1 and invalid date formats are ignored."
        },
        "customAttributes": {
          "description": "Optional. A map of fields to hold both filterable and non-filterable custom job attributes that are not covered by the provided structured fields. This field is a more general combination of the deprecated id-based filterable_custom_fields and string-based non_filterable_custom_fields. The keys of the map are strings up to 64 bytes and must match the pattern: a-zA-Z*. At most 100 filterable and at most 100 unfilterable keys are supported. For filterable `string_values`, across all keys at most 200 values are allowed, with each string no more than 255 characters. For unfilterable `string_values`, the maximum total size of `string_values` across all keys is 50KB.",
          "type": "object",
          "additionalProperties": {
            "$ref": "CustomAttribute"
          }
        },
        "employmentTypes": {
          "items": {
            "enumDescriptions": [
              "The default value if the employment type is not specified.",
              "The job requires working a number of hours that constitute full time employment, typically 40 or more hours per week.",
              "The job entails working fewer hours than a full time job, typically less than 40 hours a week.",
              "The job is offered as a contracted, as opposed to a salaried employee, position.",
              "The job is offered as a temporary employment opportunity, usually a short-term engagement.",
              "The job is a fixed-term opportunity for students or entry-level job seekers to obtain on-the-job training, typically offered as a summer position.",
              "The is an opportunity for an individual to volunteer, where there is no expectation of compensation for the provided services.",
              "The job requires an employee to work on an as-needed basis with a flexible schedule.",
              "The job is offered as a contracted position with the understanding that it is converted into a full-time position at the end of the contract. Jobs of this type are also returned by a search for EmploymentType.CONTRACTOR jobs.",
              "The job involves employing people in remote areas and flying them temporarily to the work site instead of relocating employees and their families permanently.",
              "The job does not fit any of the other listed types."
            ],
            "type": "string",
            "enum": [
              "EMPLOYMENT_TYPE_UNSPECIFIED",
              "FULL_TIME",
              "PART_TIME",
              "CONTRACTOR",
              "TEMPORARY",
              "INTERN",
              "VOLUNTEER",
              "PER_DIEM",
              "CONTRACT_TO_HIRE",
              "FLY_IN_FLY_OUT",
              "OTHER"
            ]
          },
          "type": "array",
          "description": "Optional. The employment type(s) of a job, for example, full time or part time."
        },
        "name": {
          "description": "Required during job update. Resource name assigned to a job by the API, for example, \"/jobs/foo\". Use of this field in job queries and API calls is preferred over the use of requisition_id since this value is unique.",
          "type": "string"
        },
        "description": {
          "description": "Required. The description of the job, which typically includes a multi-paragraph description of the company and related information. Separate fields are provided on the job object for responsibilities, qualifications, and other job characteristics. Use of these separate job fields is recommended. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 100,000.",
          "type": "string"
        },
        "companyDisplayName": {
          "type": "string",
          "description": "Output only. The name of the company listing the job."
        },
        "compensationInfo": {
          "description": "Optional. Job compensation information.",
          "$ref": "CompensationInfo"
        },
        "visibility": {
          "enum": [
            "JOB_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "GOOGLE",
            "PUBLIC"
          ],
          "type": "string",
          "description": "Optional. The visibility of the job. Defaults to JobVisibility.PRIVATE if not specified. Currently only JobVisibility.PRIVATE is supported.",
          "enumDescriptions": [
            "Default value.",
            "The Job is only visible to the owner.",
            "The Job is visible to the owner and may be visible to other applications and processes at Google. Not yet supported. Use PRIVATE.",
            "The Job is visible to the owner and may be visible to all other API clients. Not yet supported. Use PRIVATE."
          ]
        }
      },
      "id": "Job",
      "type": "object"
    },
    "GoogleCloudTalentV4CustomAttribute": {
      "id": "GoogleCloudTalentV4CustomAttribute",
      "description": "Custom attribute values that are either filterable or non-filterable.",
      "type": "object",
      "properties": {
        "longValues": {
          "description": "Exactly one of string_values or long_values must be specified. This field is used to perform number range search. (`EQ`, `GT`, `GE`, `LE`, `LT`) over filterable `long_value`. Currently at most 1 long_values is supported.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "keywordSearchable": {
          "type": "boolean",
          "description": "If the `keyword_searchable` flag is true, the keywords in custom fields are searchable by keyword match. If false, the values are not searchable by keyword match. Default is false."
        },
        "stringValues": {
          "items": {
            "type": "string"
          },
          "description": "Exactly one of string_values or long_values must be specified. This field is used to perform a string match (`CASE_SENSITIVE_MATCH` or `CASE_INSENSITIVE_MATCH`) search. For filterable `string_value`s, a maximum total number of 200 values is allowed, with each `string_value` has a byte size of no more than 500B. For unfilterable `string_values`, the maximum total byte size of unfilterable `string_values` is 50KB. Empty string isn't allowed.",
          "type": "array"
        },
        "filterable": {
          "type": "boolean",
          "description": "If the `filterable` flag is true, the custom field values may be used for custom attribute filters JobQuery.custom_attribute_filter. If false, these values may not be used for custom attribute filters. Default is false."
        }
      }
    },
    "CreateJobRequest": {
      "type": "object",
      "id": "CreateJobRequest",
      "properties": {
        "processingOptions": {
          "$ref": "JobProcessingOptions",
          "description": "Optional. Options for job processing."
        },
        "disableStreetAddressResolution": {
          "description": "Deprecated. Please use processing_options. This flag is ignored if processing_options is set. Optional. If set to `true`, the service does not attempt to resolve a more precise address for the job.",
          "type": "boolean"
        },
        "job": {
          "$ref": "Job",
          "description": "Required. The Job to be created."
        }
      },
      "description": "Input only. Create job request."
    },
    "CustomAttributeHistogramResult": {
      "type": "object",
      "properties": {
        "longValueHistogramResult": {
          "description": "Stores bucketed histogram counting result or min/max values for custom attribute long values associated with `key`.",
          "$ref": "NumericBucketingResult"
        },
        "key": {
          "type": "string",
          "description": "Stores the key of custom attribute the histogram is performed on."
        },
        "stringValueHistogramResult": {
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "type": "object",
          "description": "Stores a map from the values of string custom field associated with `key` to the number of jobs with that value in this histogram result."
        }
      },
      "id": "CustomAttributeHistogramResult",
      "description": "Output only. Custom attribute histogram result."
    },
    "JobLocation": {
      "type": "object",
      "id": "JobLocation",
      "description": "Output only. A resource that represents a location with full geographic information.",
      "properties": {
        "latLng": {
          "$ref": "LatLng",
          "description": "An object representing a latitude/longitude pair."
        },
        "postalAddress": {
          "$ref": "PostalAddress",
          "description": "Postal address of the location that includes human readable information, such as postal delivery and payments addresses. Given a postal address, a postal service can deliver items to a premises, P.O. Box, or other delivery location."
        },
        "locationType": {
          "description": "The type of a location, which corresponds to the address lines field of PostalAddress. For example, \"Downtown, Atlanta, GA, USA\" has a type of LocationType#NEIGHBORHOOD, and \"Kansas City, KS, USA\" has a type of LocationType#LOCALITY.",
          "enumDescriptions": [
            "Default value if the type is not specified.",
            "A country level location.",
            "A state or equivalent level location.",
            "A county or equivalent level location.",
            "A city or equivalent level location.",
            "A postal code level location.",
            "A sublocality is a subdivision of a locality, for example a city borough, ward, or arrondissement. Sublocalities are usually recognized by a local political authority. For example, Manhattan and Brooklyn are recognized as boroughs by the City of New York, and are therefore modeled as sublocalities.",
            "A district or equivalent level location.",
            "A smaller district or equivalent level display.",
            "A neighborhood level location.",
            "A street address level location."
          ],
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "COUNTRY",
            "ADMINISTRATIVE_AREA",
            "SUB_ADMINISTRATIVE_AREA",
            "LOCALITY",
            "POSTAL_CODE",
            "SUB_LOCALITY",
            "SUB_LOCALITY_1",
            "SUB_LOCALITY_2",
            "NEIGHBORHOOD",
            "STREET_ADDRESS"
          ],
          "type": "string"
        },
        "radiusMeters": {
          "description": "Radius in meters of the job location. This value is derived from the location bounding box in which a circle with the specified radius centered from LatLng coves the area associated with the job location. For example, currently, \"Mountain View, CA, USA\" has a radius of 7885.79 meters.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "UpdateJobRequest": {
      "type": "object",
      "properties": {
        "processingOptions": {
          "description": "Optional. Options for job processing. UpdateJobRequest.disable_street_address_resolution is ignored if this flag is set.",
          "$ref": "JobProcessingOptions"
        },
        "updateJobFields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional but strongly recommended to be provided for the best service experience. If update_job_fields is provided, only the specified fields in job are updated. Otherwise all the fields are updated. A field mask to restrict the fields that are updated. Valid values are: * jobTitle * employmentTypes * description * applicationUrls * applicationEmailList * applicationInstruction * responsibilities * qualifications * educationLevels * level * department * startDate * endDate * compensationInfo * incentives * languageCode * benefits * expireTime * customAttributes * visibility * publishDate * promotionValue * locations * region * expiryDate (deprecated) * filterableCustomFields (deprecated) * unindexedCustomFields (deprecated)"
        },
        "disableStreetAddressResolution": {
          "description": "Deprecated. Please use processing_options. This flag is ignored if processing_options is set. Optional. If set to `true`, the service does not attempt resolve a more precise address for the job.",
          "type": "boolean"
        },
        "job": {
          "$ref": "Job",
          "description": "Required. The Job to be updated."
        }
      },
      "id": "UpdateJobRequest",
      "description": "Input only. Update job request."
    },
    "CompensationFilter": {
      "description": "Input only. Filter on job compensation type and amount.",
      "id": "CompensationFilter",
      "properties": {
        "units": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Equivalent to OTHER_COMPENSATION_UNIT.",
              "Hourly.",
              "Daily.",
              "Weekly",
              "Monthly.",
              "Yearly.",
              "One time.",
              "Other compensation units."
            ],
            "enum": [
              "COMPENSATION_UNIT_UNSPECIFIED",
              "HOURLY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY",
              "ONE_TIME",
              "OTHER_COMPENSATION_UNIT"
            ]
          },
          "type": "array",
          "description": "Required. Specify desired `base compensation entry's` CompensationInfo.CompensationUnit."
        },
        "range": {
          "$ref": "CompensationRange",
          "description": "Optional. Compensation range."
        },
        "type": {
          "enumDescriptions": [
            "Filter type unspecified. Position holder, INVALID, should never be used.",
            "Filter by `base compensation entry's` unit. A job is a match if and only if the job contains a base CompensationEntry and the base CompensationEntry's unit matches provided units. Populate one or more units. See CompensationInfo.CompensationEntry for definition of base compensation entry.",
            "Filter by `base compensation entry's` unit and amount / range. A job is a match if and only if the job contains a base CompensationEntry, and the base entry's unit matches provided compensation_units and amount or range overlaps with provided compensation_range. See CompensationInfo.CompensationEntry for definition of base compensation entry. Set exactly one units and populate range.",
            "Filter by annualized base compensation amount and `base compensation entry's` unit. Populate range and zero or more units.",
            "Filter by annualized total compensation amount and `base compensation entry's` unit . Populate range and zero or more units."
          ],
          "description": "Required. Type of filter.",
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "UNIT_ONLY",
            "UNIT_AND_AMOUNT",
            "ANNUALIZED_BASE_AMOUNT",
            "ANNUALIZED_TOTAL_AMOUNT"
          ],
          "type": "string"
        },
        "includeJobsWithUnspecifiedCompensationRange": {
          "type": "boolean",
          "description": "Optional. Whether to include jobs whose compensation range is unspecified."
        }
      },
      "type": "object"
    },
    "CustomAttributeHistogramRequest": {
      "description": "Custom attributes histogram request. An error will be thrown if neither string_value_histogram or long_value_histogram_bucketing_option has been defined.",
      "properties": {
        "stringValueHistogram": {
          "type": "boolean",
          "description": "Optional. If set to true, the response will include the histogram value for each key as a string."
        },
        "longValueHistogramBucketingOption": {
          "$ref": "NumericBucketingOption",
          "description": "Optional. Specifies buckets used to perform a range histogram on Job's filterable long custom field values, or min/max value requirements."
        },
        "key": {
          "description": "Required. Specifies the custom field key to perform a histogram on. If specified without `long_value_histogram_bucketing_option`, histogram on string values of the given `key` is triggered, otherwise histogram is performed on long values.",
          "type": "string"
        }
      },
      "id": "CustomAttributeHistogramRequest",
      "type": "object"
    },
    "CompletionResult": {
      "id": "CompletionResult",
      "description": "Output only. Resource that represents completion results.",
      "properties": {
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Only suggest job titles.",
            "Only suggest company names.",
            "Suggest both job titles and company names."
          ],
          "enum": [
            "COMPLETION_TYPE_UNSPECIFIED",
            "JOB_TITLE",
            "COMPANY_NAME",
            "COMBINED"
          ],
          "description": "The completion topic."
        },
        "imageUrl": {
          "description": "The URL for the company logo if `type=COMPANY_NAME`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompanyInfoSource": {
      "id": "CompanyInfoSource",
      "properties": {
        "gplusId": {
          "type": "string",
          "description": "Optional. The numeric identifier for the employer's Google+ business page."
        },
        "freebaseMid": {
          "type": "string",
          "description": "Optional. The Google's Knowledge Graph value for the employer's company."
        },
        "mapsCid": {
          "type": "string",
          "description": "Optional. The numeric identifier for the employer's headquarters on Google Maps, namely, the Google Maps CID (cell id)."
        },
        "unknownTypeId": {
          "description": "Optional. A Google identifier that does not match any of the other types.",
          "type": "string"
        }
      },
      "description": "A resource that represents an external Google identifier for a company, for example, a Google+ business page or a Google Maps business page. For unsupported types, use `unknown_type_id`.",
      "type": "object"
    },
    "NumericBucketingResult": {
      "description": "Output only. Custom numeric bucketing result.",
      "id": "NumericBucketingResult",
      "type": "object",
      "properties": {
        "counts": {
          "description": "Count within each bucket. Its size is the length of NumericBucketingOption.bucket_bounds plus 1.",
          "type": "array",
          "items": {
            "$ref": "BucketizedCount"
          }
        },
        "maxValue": {
          "type": "number",
          "description": "Stores the maximum value of the numeric field. Will be populated only if [NumericBucketingOption.requires_min_max] is set to true.",
          "format": "double"
        },
        "minValue": {
          "description": "Stores the minimum value of the numeric field. Will be populated only if [NumericBucketingOption.requires_min_max] is set to true.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudTalentV4Location": {
      "id": "GoogleCloudTalentV4Location",
      "type": "object",
      "description": "A resource that represents a location with full geographic information.",
      "properties": {
        "locationType": {
          "enumDescriptions": [
            "Default value if the type isn't specified.",
            "A country level location.",
            "A state or equivalent level location.",
            "A county or equivalent level location.",
            "A city or equivalent level location.",
            "A postal code level location.",
            "A sublocality is a subdivision of a locality, for example a city borough, ward, or arrondissement. Sublocalities are usually recognized by a local political authority. For example, Manhattan and Brooklyn are recognized as boroughs by the City of New York, and are therefore modeled as sublocalities.",
            "A district or equivalent level location.",
            "A smaller district or equivalent level display.",
            "A neighborhood level location.",
            "A street address level location."
          ],
          "type": "string",
          "description": "The type of a location, which corresponds to the address lines field of google.type.PostalAddress. For example, \"Downtown, Atlanta, GA, USA\" has a type of LocationType.NEIGHBORHOOD, and \"Kansas City, KS, USA\" has a type of LocationType.LOCALITY.",
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "COUNTRY",
            "ADMINISTRATIVE_AREA",
            "SUB_ADMINISTRATIVE_AREA",
            "LOCALITY",
            "POSTAL_CODE",
            "SUB_LOCALITY",
            "SUB_LOCALITY_1",
            "SUB_LOCALITY_2",
            "NEIGHBORHOOD",
            "STREET_ADDRESS"
          ]
        },
        "postalAddress": {
          "description": "Postal address of the location that includes human readable information, such as postal delivery and payments addresses. Given a postal address, a postal service can deliver items to a premises, P.O. Box, or other delivery location.",
          "$ref": "PostalAddress"
        },
        "radiusMiles": {
          "description": "Radius in miles of the job location. This value is derived from the location bounding box in which a circle with the specified radius centered from google.type.LatLng covers the area associated with the job location. For example, currently, \"Mountain View, CA, USA\" has a radius of 6.17 miles.",
          "type": "number",
          "format": "double"
        },
        "latLng": {
          "description": "An object representing a latitude/longitude pair.",
          "$ref": "LatLng"
        }
      }
    },
    "StringValues": {
      "type": "object",
      "description": "Represents array of string values.",
      "id": "StringValues",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. String values.",
          "type": "array"
        }
      }
    },
    "CompleteQueryResponse": {
      "description": "Output only. Response of auto-complete query.",
      "type": "object",
      "id": "CompleteQueryResponse",
      "properties": {
        "metadata": {
          "$ref": "ResponseMetadata",
          "description": "Additional information for the API invocation, such as the request tracking id."
        },
        "completionResults": {
          "description": "Results of the matching job/company candidates.",
          "items": {
            "$ref": "CompletionResult"
          },
          "type": "array"
        }
      }
    },
    "ListCompaniesResponse": {
      "type": "object",
      "properties": {
        "companies": {
          "description": "Companies for the current client.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "metadata": {
          "description": "Additional information for the API invocation, such as the request tracking id.",
          "$ref": "ResponseMetadata"
        }
      },
      "id": "ListCompaniesResponse",
      "description": "Output only. The List companies response object."
    },
    "JobQuery": {
      "description": "Input only. The query required to perform a search query or histogram.",
      "type": "object",
      "properties": {
        "compensationFilter": {
          "$ref": "CompensationFilter",
          "description": "Optional. This search filter is applied only to Job.compensation_info. For example, if the filter is specified as \"Hourly job with per-hour compensation \u003e $15\", only jobs meeting these criteria are searched. If a filter isn't defined, all open jobs are searched."
        },
        "locationFilters": {
          "description": "Optional. The location filter specifies geo-regions containing the jobs to search against. See LocationFilter for more information. If a location value isn't specified, jobs fitting the other search criteria are retrieved regardless of where they're located. If multiple values are specified, jobs are retrieved from any of the specified locations. If different values are specified for the LocationFilter.distance_in_miles parameter, the maximum provided distance is used for all locations. At most 5 location filters are allowed.",
          "items": {
            "$ref": "LocationFilter"
          },
          "type": "array"
        },
        "languageCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. This filter specifies the locale of jobs to search against, for example, \"en-US\". If a value isn't specified, the search results can contain jobs in any locale. Language codes should be in BCP-47 format, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47). At most 10 language code filters are allowed."
        },
        "companyNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. This filter specifies the company entities to search against. If a value isn't specified, jobs are searched for against all companies. If multiple values are specified, jobs are searched against the companies specified. At most 20 company filters are allowed."
        },
        "query": {
          "type": "string",
          "description": "Optional. The query string that matches against the job title, description, and location fields. The maximum query size is 255 bytes."
        },
        "customAttributeFilter": {
          "description": "Optional. This filter specifies a structured syntax to match against the Job.custom_attributes marked as `filterable`. The syntax for this expression is a subset of Google SQL syntax. Supported operators are: =, !=, \u003c, \u003c=, \u003e, \u003e= where the left of the operator is a custom field key and the right of the operator is a number or string (surrounded by quotes) value. Supported functions are LOWER() to perform case insensitive match and EMPTY() to filter on the existence of a key. Boolean expressions (AND/OR/NOT) are supported up to 3 levels of nesting (for example, \"((A AND B AND C) OR NOT D) AND E\"), a maximum of 50 comparisons/functions are allowed in the expression. The expression must be \u003c 2000 characters in length. Sample Query: (key1 = \"TEST\" OR LOWER(key1)=\"test\" OR NOT EMPTY(key1)) AND key2 \u003e 100",
          "type": "string"
        },
        "commuteFilter": {
          "$ref": "CommutePreference",
          "description": "Optional. Allows filtering jobs by commute time with different travel methods (for example, driving or public transit). Note: This only works with COMMUTE MODE. When specified, [JobQuery.location_filters] is ignored. Currently we don't support sorting by commute time."
        },
        "disableSpellCheck": {
          "type": "boolean",
          "description": "Optional. This flag controls the spell-check feature. If false, the service attempts to correct a misspelled query, for example, \"enginee\" is corrected to \"engineer\". Defaults to false: a spell check is performed."
        },
        "categories": {
          "items": {
            "type": "string",
            "enum": [
              "JOB_CATEGORY_UNSPECIFIED",
              "ACCOUNTING_AND_FINANCE",
              "ADMINISTRATIVE_AND_OFFICE",
              "ADVERTISING_AND_MARKETING",
              "ANIMAL_CARE",
              "ART_FASHION_AND_DESIGN",
              "BUSINESS_OPERATIONS",
              "CLEANING_AND_FACILITIES",
              "COMPUTER_AND_IT",
              "CONSTRUCTION",
              "CUSTOMER_SERVICE",
              "EDUCATION",
              "ENTERTAINMENT_AND_TRAVEL",
              "FARMING_AND_OUTDOORS",
              "HEALTHCARE",
              "HUMAN_RESOURCES",
              "INSTALLATION_MAINTENANCE_AND_REPAIR",
              "LEGAL",
              "MANAGEMENT",
              "MANUFACTURING_AND_WAREHOUSE",
              "MEDIA_COMMUNICATIONS_AND_WRITING",
              "OIL_GAS_AND_MINING",
              "PERSONAL_CARE_AND_SERVICES",
              "PROTECTIVE_SERVICES",
              "REAL_ESTATE",
              "RESTAURANT_AND_HOSPITALITY",
              "SALES_AND_RETAIL",
              "SCIENCE_AND_ENGINEERING",
              "SOCIAL_SERVICES_AND_NON_PROFIT",
              "SPORTS_FITNESS_AND_RECREATION",
              "TRANSPORTATION_AND_LOGISTICS"
            ],
            "enumDescriptions": [
              "The default value if the category is not specified.",
              "An accounting and finance job, such as an Accountant.",
              "And administrative and office job, such as an Administrative Assistant.",
              "An advertising and marketing job, such as Marketing Manager.",
              "An animal care job, such as Veterinarian.",
              "An art, fashion, or design job, such as Designer.",
              "A business operations job, such as Business Operations Manager.",
              "A cleaning and facilities job, such as Custodial Staff.",
              "A computer and IT job, such as Systems Administrator.",
              "A construction job, such as General Laborer.",
              "A customer service job, such s Cashier.",
              "An education job, such as School Teacher.",
              "An entertainment and travel job, such as Flight Attendant.",
              "A farming or outdoor job, such as Park Ranger.",
              "A healthcare job, such as Registered Nurse.",
              "A human resources job, such as Human Resources Director.",
              "An installation, maintenance, or repair job, such as Electrician.",
              "A legal job, such as Law Clerk.",
              "A management job, often used in conjunction with another category, such as Store Manager.",
              "A manufacturing or warehouse job, such as Assembly Technician.",
              "A media, communications, or writing job, such as Media Relations.",
              "An oil, gas or mining job, such as Offshore Driller.",
              "A personal care and services job, such as Hair Stylist.",
              "A protective services job, such as Security Guard.",
              "A real estate job, such as Buyer's Agent.",
              "A restaurant and hospitality job, such as Restaurant Server.",
              "A sales and/or retail job, such Sales Associate.",
              "A science and engineering job, such as Lab Technician.",
              "A social services or non-profit job, such as Case Worker.",
              "A sports, fitness, or recreation job, such as Personal Trainer.",
              "A transportation or logistics job, such as Truck Driver."
            ]
          },
          "description": "Optional. The category filter specifies the categories of jobs to search against. See Category for more information. If a value is not specified, jobs from any category are searched against. If multiple values are specified, jobs from any of the specified categories are searched against.",
          "type": "array"
        },
        "companyDisplayNames": {
          "description": "Optional. This filter specifies the exact company display name of the jobs to search against. If a value isn't specified, jobs within the search results are associated with any company. If multiple values are specified, jobs within the search results may be associated with any of the specified companies. At most 20 company display name filters are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "publishDateRange": {
          "description": "Optional. Jobs published within a range specified by this filter are searched against, for example, DateRange.PAST_MONTH. If a value isn't specified, all open jobs are searched against regardless of their published date.",
          "enumDescriptions": [
            "Default value: Filtering on time is not performed.",
            "The past 24 hours",
            "The past week (7 days)",
            "The past month (30 days)",
            "The past year (365 days)",
            "The past 3 days"
          ],
          "type": "string",
          "enum": [
            "DATE_RANGE_UNSPECIFIED",
            "PAST_24_HOURS",
            "PAST_WEEK",
            "PAST_MONTH",
            "PAST_YEAR",
            "PAST_3_DAYS"
          ]
        },
        "employmentTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The default value if the employment type is not specified.",
              "The job requires working a number of hours that constitute full time employment, typically 40 or more hours per week.",
              "The job entails working fewer hours than a full time job, typically less than 40 hours a week.",
              "The job is offered as a contracted, as opposed to a salaried employee, position.",
              "The job is offered as a temporary employment opportunity, usually a short-term engagement.",
              "The job is a fixed-term opportunity for students or entry-level job seekers to obtain on-the-job training, typically offered as a summer position.",
              "The is an opportunity for an individual to volunteer, where there is no expectation of compensation for the provided services.",
              "The job requires an employee to work on an as-needed basis with a flexible schedule.",
              "The job is offered as a contracted position with the understanding that it is converted into a full-time position at the end of the contract. Jobs of this type are also returned by a search for EmploymentType.CONTRACTOR jobs.",
              "The job involves employing people in remote areas and flying them temporarily to the work site instead of relocating employees and their families permanently.",
              "The job does not fit any of the other listed types."
            ],
            "enum": [
              "EMPLOYMENT_TYPE_UNSPECIFIED",
              "FULL_TIME",
              "PART_TIME",
              "CONTRACTOR",
              "TEMPORARY",
              "INTERN",
              "VOLUNTEER",
              "PER_DIEM",
              "CONTRACT_TO_HIRE",
              "FLY_IN_FLY_OUT",
              "OTHER"
            ],
            "type": "string"
          },
          "description": "Optional. The employment type filter specifies the employment type of jobs to search against, such as EmploymentType.FULL_TIME. If a value is not specified, jobs in the search results include any employment type. If multiple values are specified, jobs in the search results include any of the specified employment types."
        }
      },
      "id": "JobQuery"
    },
    "Company": {
      "type": "object",
      "properties": {
        "keywordSearchableCustomFields": {
          "description": "Deprecated. Use keyword_searchable_custom_attributes instead. Optional. A list of filterable custom fields that should be used in keyword search. The jobs of this company are returned if any of these custom fields matches the search keyword. Custom field values with parenthesis, brackets and special symbols might not be properly searchable, and those keyword queries need to be surrounded by quotes.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "structuredCompanyHqLocation": {
          "description": "Output only. A structured headquarters location of the company, resolved from hq_location if possible.",
          "$ref": "JobLocation"
        },
        "title": {
          "description": "Deprecated. Use display_name instead. Required. The name of the employer to be displayed with the job, for example, \"Google, LLC.\".",
          "type": "string"
        },
        "distributorCompanyId": {
          "type": "string",
          "description": "Required. A client's company identifier, used to uniquely identify the company. If an employer has a subsidiary or sub-brand, such as \"Alphabet\" and \"Google\", which the client wishes to use as the company displayed on the job. Best practice is to create a distinct company identifier for each distinct brand displayed. The maximum number of allowed characters is 255."
        },
        "imageUrl": {
          "type": "string",
          "description": "Optional. A URL that hosts the employer's company logo. If provided, the logo image should be squared at 80x80 pixels. The url must be a Google Photos or Google Album url. Only images in these Google sub-domains are accepted."
        },
        "name": {
          "type": "string",
          "description": "Required during company update. The resource name for a company. This is generated by the service when a company is created, for example, \"companies/0000aaaa-1111-bbbb-2222-cccc3333dddd\"."
        },
        "eeoText": {
          "type": "string",
          "description": "Optional. Equal Employment Opportunity legal disclaimer text to be associated with all jobs, and typically to be displayed in all roles. The maximum number of allowed characters is 500."
        },
        "disableLocationOptimization": {
          "type": "boolean",
          "description": "Deprecated. Do not use this field. Optional. This field is no longer used. Any value set to it is ignored."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of the employer to be displayed with the job, for example, \"Google, LLC.\"."
        },
        "suspended": {
          "type": "boolean",
          "description": "Output only. Indicates whether a company is flagged to be suspended from public availability by the service when job content appears suspicious, abusive, or spammy."
        },
        "hiringAgency": {
          "description": "Optional. Set to true if it is the hiring agency that post jobs for other employers. Defaults to false if not provided.",
          "type": "boolean"
        },
        "keywordSearchableCustomAttributes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of keys of filterable Job.custom_attributes, whose corresponding `string_values` are used in keyword search. Jobs with `string_values` under these specified field keys are returned if any of the values matches the search keyword. Custom field values with parenthesis, brackets and special symbols might not be properly searchable, and those keyword queries need to be surrounded by quotes."
        },
        "companyInfoSources": {
          "type": "array",
          "description": "Optional. Identifiers external to the application that help to further identify the employer.",
          "items": {
            "$ref": "CompanyInfoSource"
          }
        },
        "careerPageLink": {
          "description": "Optional. The URL to employer's career site or careers page on the employer's web site.",
          "type": "string"
        },
        "companySize": {
          "description": "Optional. The employer's company size.",
          "enum": [
            "COMPANY_SIZE_UNSPECIFIED",
            "MINI",
            "SMALL",
            "SMEDIUM",
            "MEDIUM",
            "BIG",
            "BIGGER",
            "GIANT"
          ],
          "enumDescriptions": [
            "Default value if the size is not specified.",
            "The company has less than 50 employees.",
            "The company has between 50 and 99 employees.",
            "The company has between 100 and 499 employees.",
            "The company has between 500 and 999 employees.",
            "The company has between 1,000 and 4,999 employees.",
            "The company has between 5,000 and 9,999 employees.",
            "The company has 10,000 or more employees."
          ],
          "type": "string"
        },
        "distributorBillingCompanyId": {
          "description": "Optional. The unique company identifier provided by the client to identify an employer for billing purposes. Recommended practice is to use the distributor_company_id. Defaults to same value as distributor_company_id when a value is not provided.",
          "type": "string"
        },
        "website": {
          "description": "Optional. The URL representing the company's primary web site or home page, such as, \"www.google.com\".",
          "type": "string"
        },
        "hqLocation": {
          "description": "Optional. The street address of the company's main headquarters, which may be different from the job location. The service attempts to geolocate the provided address, and populates a more specific location wherever possible in structured_company_hq_location.",
          "type": "string"
        }
      },
      "id": "Company",
      "description": "A Company resource represents a company in the service. A company is the entity that owns job listings, that is, the hiring entity responsible for employing applicants for the job position."
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, e.g. a birthday. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the Proleptic Gregorian Calendar. This can represent: * A full date, with non-zero year, month and day values * A month and day value, with a zero year, e.g. an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, e.g. a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a year by itself or a year and month where the day is not significant.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of year. Must be from 1 to 12, or 0 if specifying a year without a month and day."
        }
      }
    },
    "CompensationHistogramRequest": {
      "properties": {
        "type": {
          "description": "Required. Type of the request, representing which field the histogramming should be performed over. A single request can only specify one histogram of each `CompensationHistogramRequestType`.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Invalid.",
            "Histogram by job's base compensation. See CompensationEntry for definition of base compensation.",
            "Histogram by job's annualized base compensation. See CompensationEntry for definition of annualized base compensation.",
            "Histogram by job's annualized total compensation. See CompensationEntry for definition of annualized total compensation."
          ],
          "enum": [
            "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED",
            "BASE",
            "ANNUALIZED_BASE",
            "ANNUALIZED_TOTAL"
          ]
        },
        "bucketingOption": {
          "$ref": "NumericBucketingOption",
          "description": "Required. Numeric histogram options, like buckets, whether include min or max value."
        }
      },
      "id": "CompensationHistogramRequest",
      "description": "Input only. Compensation based histogram request.",
      "type": "object"
    },
    "LatLng": {
      "properties": {
        "longitude": {
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number"
        },
        "latitude": {
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double"
        }
      },
      "description": "An object representing a latitude/longitude pair. This is expressed as a pair of doubles representing degrees latitude and degrees longitude. Unless specified otherwise, this must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "LatLng",
      "type": "object"
    },
    "NamespacedDebugInput": {
      "type": "object",
      "id": "NamespacedDebugInput",
      "properties": {
        "absolutelyForcedExps": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Set of experiment ids to be absolutely forced. These ids will be forced without evaluating the conditions."
        },
        "disableExps": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Set of experiment ids to be disabled. If an experiment is disabled, it is never selected nor forced. If an aggregate experiment is disabled, its partitions are disabled together. If an experiment with an enrollment is disabled, the enrollment is disabled together. If an ID corresponds to a domain, the domain itself and all descendant experiments and domains are disabled together."
        },
        "forcedFlags": {
          "description": "Flags to force in a particular experiment state. Map from flag name to flag value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "disableManualEnrollmentSelection": {
          "type": "boolean",
          "description": "If true, disable manual enrollment selection (at all diversion points). Manual enrollment selection means experiment selection process based on the request's manual enrollment states (a.k.a. opt-in experiments). This does not disable selection of forced experiments."
        },
        "disableOrganicSelection": {
          "type": "boolean",
          "description": "If true, disable organic experiment selection (at all diversion points). Organic selection means experiment selection process based on traffic allocation and diversion condition evaluation. This does not disable selection of forced experiments. This is useful in cases when it is not known whether experiment selection behavior is responsible for a error or breakage. Disabling organic selection may help to isolate the cause of a given problem."
        },
        "conditionallyForcedExps": {
          "type": "array",
          "description": "Set of experiment ids to be conditionally forced. These ids will be forced only if their conditions and their parent domain's conditions are true.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "absolutelyForcedExpTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Set of experiment tags to be absolutely forced. The experiments with these tags will be forced without evaluating the conditions."
        },
        "disableAutomaticEnrollmentSelection": {
          "type": "boolean",
          "description": "If true, disable automatic enrollment selection (at all diversion points). Automatic enrollment selection means experiment selection process based on the experiment's automatic enrollment condition. This does not disable selection of forced experiments."
        },
        "conditionallyForcedExpNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Set of experiment names to be conditionally forced. These experiments will be forced only if their conditions and their parent domain's conditions are true."
        },
        "forcedRollouts": {
          "description": "Rollouts to force in a particular experiment state. Map from rollout name to rollout value.",
          "additionalProperties": {
            "type": "boolean"
          },
          "type": "object"
        },
        "conditionallyForcedExpTags": {
          "description": "Set of experiment tags to be conditionally forced. The experiments with these tags will be forced only if their conditions and their parent domain's conditions are true.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disableExpTags": {
          "items": {
            "type": "string"
          },
          "description": "Set of experiment tags to be disabled. All experiments that are tagged with one or more of these tags are disabled. If an experiment is disabled, it is never selected nor forced. If an aggregate experiment is disabled, its partitions are disabled together. If an experiment with an enrollment is disabled, the enrollment is disabled together.",
          "type": "array"
        },
        "disableExpNames": {
          "description": "Set of experiment names to be disabled. If an experiment is disabled, it is never selected nor forced. If an aggregate experiment is disabled, its partitions are disabled together. If an experiment with an enrollment is disabled, the enrollment is disabled together. If a name corresponds to a domain, the domain itself and all descendant experiments and domains are disabled together.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "absolutelyForcedExpNames": {
          "description": "Set of experiment names to be absolutely forced. These experiments will be forced without evaluating the conditions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Next ID: 15"
    },
    "LocationFilter": {
      "properties": {
        "latLng": {
          "description": "Optional. The latitude and longitude of the geographic center from which to search. This field is ignored if `location_name` is provided.",
          "$ref": "LatLng"
        },
        "isTelecommute": {
          "type": "boolean",
          "description": "Optional. Allows the client to return jobs without a set location, specifically, telecommuting jobs (telecomuting is considered by the service as a special location. Job.allow_telecommute indicates if a job permits telecommuting. If this field is true, telecommuting jobs are searched, and name and lat_lng are ignored. This filter can be used by itself to search exclusively for telecommuting jobs, or it can be combined with another location filter to search for a combination of job locations, such as \"Mountain View\" or \"telecommuting\" jobs. However, when used in combination with other location filters, telecommuting jobs can be treated as less relevant than other jobs in the search response."
        },
        "distanceInMiles": {
          "description": "Optional. The distance_in_miles is applied when the location being searched for is identified as a city or smaller. When the location being searched for is a state or larger, this field is ignored.",
          "format": "double",
          "type": "number"
        },
        "regionCode": {
          "type": "string",
          "description": "Optional. CLDR region code of the country/region of the address. This will be used to address ambiguity of the user-input location, e.g. \"Liverpool\" against \"Liverpool, NY, US\" or \"Liverpool, UK\". Set this field if all the jobs to search against are from a same region, or jobs are world-wide but the job seeker is from a specific region. See http://cldr.unicode.org/ and http://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "name": {
          "type": "string",
          "description": "Optional. The address name, such as \"Mountain View\" or \"Bay Area\"."
        }
      },
      "id": "LocationFilter",
      "description": "Input only. Geographic region of the search.",
      "type": "object"
    },
    "GetHistogramRequest": {
      "description": "Deprecated. Use SearchJobsRequest.histogram_facets instead to make a single call with both search and histogram. Input only. A request for the `GetHistogram` method.",
      "properties": {
        "searchTypes": {
          "description": "Required. A list of facets that specify the histogram data to be calculated against and returned. Histogram response times can be slow, and counts can be approximations. This call may be temporarily or permanently removed prior to the production release of Cloud Talent Solution.",
          "type": "array",
[...]
