{
  "canonicalName": "Kmsinventory",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "ownerName": "Google",
  "servicePath": "",
  "version_module": true,
  "mtlsRootUrl": "https://kmsinventory.mtls.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "rootUrl": "https://kmsinventory.googleapis.com/",
  "baseUrl": "https://kmsinventory.googleapis.com/",
  "title": "KMS Inventory API",
  "batchPath": "batch",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/kms/",
  "version": "v1",
  "resources": {
    "projects": {
      "resources": {
        "cryptoKeys": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/cryptoKeys",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The Google Cloud project for which to retrieve key metadata, in the format `projects/*`",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of keys to return. The service may return fewer than this value. If unspecified, at most 1000 keys will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. Pass this into a subsequent request in order to receive the next page of results.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectsId}/cryptoKeys",
              "description": "Returns cryptographic keys managed by Cloud KMS in a given Cloud project. Note that this data is sourced from snapshots, meaning it may not completely reflect the actual state of key metadata at call time.",
              "id": "kmsinventory.projects.cryptoKeys.list",
              "response": {
                "$ref": "GoogleCloudKmsInventoryV1ListCryptoKeysResponse"
              }
            }
          }
        },
        "locations": {
          "resources": {
            "keyRings": {
              "resources": {
                "cryptoKeys": {
                  "methods": {
                    "getProtectedResourcesSummary": {
                      "response": {
                        "$ref": "GoogleCloudKmsInventoryV1ProtectedResourcesSummary"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/.*$",
                          "required": true,
                          "description": "Required. The resource name of the CryptoKey.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "kmsinventory.projects.locations.keyRings.cryptoKeys.getProtectedResourcesSummary",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/protectedResourcesSummary",
                      "description": "Returns aggregate information about the resources protected by the given Cloud KMS CryptoKey. Only resources within the same Cloud organization as the key will be returned. The project that holds the key must be part of an organization in order for this call to succeed.",
                      "path": "v1/{+name}/protectedResourcesSummary",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "protectedResources": {
          "methods": {
            "search": {
              "parameterOrder": [
                "scope"
              ],
              "path": "v1/{+scope}/protectedResources:search",
              "description": "Returns metadata about the resources protected by the given Cloud KMS CryptoKey in the given Cloud organization.",
              "httpMethod": "GET",
              "id": "kmsinventory.organizations.protectedResources.search",
              "response": {
                "$ref": "GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous KeyTrackingService.SearchProtectedResources call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to KeyTrackingService.SearchProtectedResources must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "scope": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Resource name of the organization. Example: organizations/123"
                },
                "resourceTypes": {
                  "location": "query",
                  "description": "Optional. A list of resource types that this request searches for. If empty, it will search all the [trackable resource types](https://cloud.google.com/kms/docs/view-key-usage#tracked-resource-types). Regular expressions are also supported. For example: * `compute.googleapis.com.*` snapshots resources whose type starts with `compute.googleapis.com`. * `.*Image` snapshots resources whose type ends with `Image`. * `.*Image.*` snapshots resources whose type contains `Image`. See [RE2](https://github.com/google/re2/wiki/Syntax) for all supported regular expression syntax. If the regular expression does not match any supported resource type, an INVALID_ARGUMENT error will be returned.",
                  "type": "string",
                  "repeated": true
                },
                "cryptoKey": {
                  "description": "Required. The resource name of the CryptoKey.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of resources to return. The service may return fewer than this value. If unspecified, at most 500 resources will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "type": "integer"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/protectedResources:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "schemas": {
    "GoogleCloudKmsInventoryV1ListCryptoKeysResponse": {
      "id": "GoogleCloudKmsInventoryV1ListCryptoKeysResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token returned from the previous response if the next page is desired.",
          "type": "string"
        },
        "cryptoKeys": {
          "items": {
            "$ref": "GoogleCloudKmsV1CryptoKey"
          },
          "description": "The list of CryptoKeys.",
          "type": "array"
        }
      },
      "description": "Response message for KeyDashboardService.ListCryptoKeys."
    },
    "GoogleCloudKmsV1ExternalProtectionLevelOptions": {
      "description": "ExternalProtectionLevelOptions stores a group of additional fields for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection level and EXTERNAL_VPC protection levels.",
      "id": "GoogleCloudKmsV1ExternalProtectionLevelOptions",
      "type": "object",
      "properties": {
        "ekmConnectionKeyPath": {
          "type": "string",
          "description": "The path to the external key material on the EKM when using EkmConnection e.g., \"v0/my/key\". Set this field instead of external_key_uri when using an EkmConnection."
        },
        "externalKeyUri": {
          "description": "The URI for an external resource that this CryptoKeyVersion represents.",
          "type": "string"
        }
      }
    },
    "GoogleCloudKmsV1CryptoKey": {
      "type": "object",
      "properties": {
        "rotationPeriod": {
          "format": "google-duration",
          "description": "next_rotation_time will be advanced by this period when the service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours. If rotation_period is set, next_rotation_time must also be set. Keys with purpose ENCRYPT_DECRYPT support automatic rotation. For other keys, this field must be omitted.",
          "type": "string"
        },
        "importOnly": {
          "type": "boolean",
          "description": "Immutable. Whether this key may contain imported versions only."
        },
        "primary": {
          "$ref": "GoogleCloudKmsV1CryptoKeyVersion",
          "readOnly": true,
          "description": "Output only. A copy of the \"primary\" CryptoKeyVersion that will be used by Encrypt when this CryptoKey is given in EncryptRequest.name. The CryptoKey's primary version can be updated via UpdateCryptoKeyPrimaryVersion. Keys with purpose ENCRYPT_DECRYPT may have a primary. For other keys, this field will be omitted."
        },
        "versionTemplate": {
          "description": "A template describing settings for new CryptoKeyVersion instances. The properties of new CryptoKeyVersion instances created by either CreateCryptoKeyVersion or auto-rotation are controlled by this template.",
          "$ref": "GoogleCloudKmsV1CryptoKeyVersionTemplate"
        },
        "cryptoKeyBackend": {
          "description": "Immutable. The resource name of the backend environment where the key material for all CryptoKeyVersions associated with this CryptoKey reside and where all related cryptographic operations are performed. Only applicable if CryptoKeyVersions have a ProtectionLevel of EXTERNAL_VPC, with the resource name in the format `projects/*/locations/*/ekmConnections/*`. Note, this list is non-exhaustive and may apply to additional ProtectionLevels in the future.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for this CryptoKey in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which this CryptoKey was created.",
          "format": "google-datetime"
        },
        "nextRotationTime": {
          "description": "At next_rotation_time, the Key Management Service will automatically: 1. Create a new version of this CryptoKey. 2. Mark the new version as primary. Key rotations performed manually via CreateCryptoKeyVersion and UpdateCryptoKeyPrimaryVersion do not affect next_rotation_time. Keys with purpose ENCRYPT_DECRYPT support automatic rotation. For other keys, this field must be omitted.",
          "format": "google-datetime",
          "type": "string"
        },
        "purpose": {
          "enumDescriptions": [
            "Not specified.",
            "CryptoKeys with this purpose may be used with Encrypt and Decrypt.",
            "CryptoKeys with this purpose may be used with AsymmetricSign and GetPublicKey.",
            "CryptoKeys with this purpose may be used with AsymmetricDecrypt and GetPublicKey.",
            "CryptoKeys with this purpose may be used with RawEncrypt and RawDecrypt. This purpose is meant to be used for interoperable symmetric encryption and does not support automatic CryptoKey rotation.",
            "CryptoKeys with this purpose may be used with MacSign."
          ],
          "enum": [
            "CRYPTO_KEY_PURPOSE_UNSPECIFIED",
            "ENCRYPT_DECRYPT",
            "ASYMMETRIC_SIGN",
            "ASYMMETRIC_DECRYPT",
            "RAW_ENCRYPT_DECRYPT",
            "MAC"
          ],
          "type": "string",
          "description": "Immutable. The immutable purpose of this CryptoKey."
        },
        "labels": {
          "description": "Labels with user-defined metadata. For more information, see [Labeling Keys](https://cloud.google.com/kms/docs/labeling-keys).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "destroyScheduledDuration": {
          "description": "Immutable. The period of time that versions of this key spend in the DESTROY_SCHEDULED state before transitioning to DESTROYED. If not specified at creation time, the default duration is 24 hours.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudKmsV1CryptoKey",
      "description": "A CryptoKey represents a logical key that can be used for cryptographic operations. A CryptoKey is made up of zero or more versions, which represent the actual key material used in cryptographic operations."
    },
    "GoogleCloudKmsV1KeyOperationAttestationCertificateChains": {
      "properties": {
        "caviumCerts": {
          "type": "array",
          "description": "Cavium certificate chain corresponding to the attestation.",
          "items": {
            "type": "string"
          }
        },
        "googleCardCerts": {
          "description": "Google card certificate chain corresponding to the attestation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "googlePartitionCerts": {
          "description": "Google partition certificate chain corresponding to the attestation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Certificate chains needed to verify the attestation. Certificates in chains are PEM-encoded and are ordered based on https://tools.ietf.org/html/rfc5246#section-7.4.2.",
      "type": "object",
      "id": "GoogleCloudKmsV1KeyOperationAttestationCertificateChains"
    },
    "GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse": {
      "description": "Response message for KeyTrackingService.SearchProtectedResources.",
      "id": "GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse",
      "type": "object",
      "properties": {
        "protectedResources": {
          "items": {
            "$ref": "GoogleCloudKmsInventoryV1ProtectedResource"
          },
          "description": "Protected resources for this page.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudKmsInventoryV1ProtectedResourcesSummary": {
      "properties": {
        "cloudProducts": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "The number of resources protected by the key grouped by Cloud product."
        },
        "name": {
          "type": "string",
          "description": "The full name of the ProtectedResourcesSummary resource. Example: projects/test-project/locations/us/keyRings/test-keyring/cryptoKeys/test-key/protectedResourcesSummary"
        },
        "resourceCount": {
          "type": "string",
          "description": "The total number of protected resources in the same Cloud organization as the key.",
          "format": "int64"
        },
        "resourceTypes": {
          "description": "The number of resources protected by the key grouped by resource type.",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        },
        "locations": {
          "type": "object",
          "description": "The number of resources protected by the key grouped by region.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "projectCount": {
          "description": "The number of distinct Cloud projects in the same Cloud organization as the key that have resources protected by the key.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudKmsInventoryV1ProtectedResourcesSummary",
      "type": "object",
      "description": "Aggregate information about the resources protected by a Cloud KMS key in the same Cloud organization as the key."
    },
    "GoogleCloudKmsV1KeyOperationAttestation": {
      "type": "object",
      "properties": {
        "certChains": {
          "description": "Output only. The certificate chains needed to validate the attestation",
          "readOnly": true,
          "$ref": "GoogleCloudKmsV1KeyOperationAttestationCertificateChains"
        },
        "content": {
          "description": "Output only. The attestation data provided by the HSM when the key operation was performed.",
          "format": "byte",
          "readOnly": true,
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "Output only. The format of the attestation data.",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Cavium HSM attestation compressed with gzip. Note that this format is defined by Cavium and subject to change at any time. See https://www.marvell.com/products/security-solutions/nitrox-hs-adapters/software-key-attestation.html.",
            "Cavium HSM attestation V2 compressed with gzip. This is a new format introduced in Cavium's version 3.2-08."
          ],
          "enum": [
            "ATTESTATION_FORMAT_UNSPECIFIED",
            "CAVIUM_V1_COMPRESSED",
            "CAVIUM_V2_COMPRESSED"
          ]
        }
      },
      "description": "Contains an HSM-generated attestation about a key operation. For more information, see [Verifying attestations] (https://cloud.google.com/kms/docs/attest-key).",
      "id": "GoogleCloudKmsV1KeyOperationAttestation"
    },
    "GoogleCloudKmsInventoryV1ProtectedResource": {
      "description": "Metadata about a resource protected by a Cloud KMS key.",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Example: `compute.googleapis.com/Disk`"
        },
        "projectId": {
          "description": "The ID of the project that owns the resource.",
          "type": "string"
        },
        "cryptoKeyVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the Cloud KMS [CryptoKeyVersion](https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys.cryptoKeyVersions?hl=en) used to protect this resource via CMEK. This field is empty if the Google Cloud product owning the resource does not provide key versions data to Asset Inventory. The first element of this field is stored in crypto_key_version."
        },
        "cryptoKeyVersion": {
          "description": "The name of the Cloud KMS [CryptoKeyVersion](https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys.cryptoKeyVersions?hl=en) used to protect this resource via CMEK. This field is empty if the Google Cloud product owning the resource does not provide key version data to Asset Inventory. If there are multiple key versions protecting the resource, then this is same value as the first element of crypto_key_versions.",
          "type": "string"
        },
        "project": {
          "description": "Format: `projects/{PROJECT_NUMBER}`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "A key-value pair of the resource's labels (v1) to their values.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "The full resource name of the resource. Example: `//compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1`.",
          "type": "string"
        },
        "location": {
          "description": "Location can be `global`, regional like `us-east1`, or zonal like `us-west1-b`.",
          "type": "string"
        },
        "cloudProduct": {
          "type": "string",
          "description": "The Cloud product that owns the resource. Example: `compute`"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this resource was created. The granularity is in seconds. Timestamp.nanos will always be 0.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudKmsInventoryV1ProtectedResource"
    },
    "GoogleCloudKmsV1CryptoKeyVersionTemplate": {
      "properties": {
        "algorithm": {
          "enum": [
            "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
            "GOOGLE_SYMMETRIC_ENCRYPTION",
            "AES_128_GCM",
            "AES_256_GCM",
            "AES_128_CBC",
            "AES_256_CBC",
            "AES_128_CTR",
            "AES_256_CTR",
            "RSA_SIGN_PSS_2048_SHA256",
            "RSA_SIGN_PSS_3072_SHA256",
            "RSA_SIGN_PSS_4096_SHA256",
            "RSA_SIGN_PSS_4096_SHA512",
            "RSA_SIGN_PKCS1_2048_SHA256",
            "RSA_SIGN_PKCS1_3072_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA512",
            "RSA_SIGN_RAW_PKCS1_2048",
            "RSA_SIGN_RAW_PKCS1_3072",
            "RSA_SIGN_RAW_PKCS1_4096",
            "RSA_DECRYPT_OAEP_2048_SHA256",
            "RSA_DECRYPT_OAEP_3072_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA512",
            "RSA_DECRYPT_OAEP_2048_SHA1",
            "RSA_DECRYPT_OAEP_3072_SHA1",
            "RSA_DECRYPT_OAEP_4096_SHA1",
            "EC_SIGN_P256_SHA256",
            "EC_SIGN_P384_SHA384",
            "EC_SIGN_SECP256K1_SHA256",
            "EC_SIGN_ED25519",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_SHA384",
            "HMAC_SHA512",
            "HMAC_SHA224",
            "EXTERNAL_SYMMETRIC_ENCRYPTION"
          ],
          "type": "string",
          "description": "Required. Algorithm to use when creating a CryptoKeyVersion based on this template. For backwards compatibility, GOOGLE_SYMMETRIC_ENCRYPTION is implied if both this field is omitted and CryptoKey.purpose is ENCRYPT_DECRYPT.",
          "enumDescriptions": [
            "Not specified.",
            "Creates symmetric encryption keys.",
            "AES-GCM (Galois Counter Mode) using 128-bit keys.",
            "AES-GCM (Galois Counter Mode) using 256-bit keys.",
            "AES-CBC (Cipher Block Chaining Mode) using 128-bit keys.",
            "AES-CBC (Cipher Block Chaining Mode) using 256-bit keys.",
            "AES-CTR (Counter Mode) using 128-bit keys.",
            "AES-CTR (Counter Mode) using 256-bit keys.",
            "RSASSA-PSS 2048 bit key with a SHA256 digest.",
            "RSASSA-PSS 3072 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 with a 2048 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 3072 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 2048 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 3072 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 4096 bit key.",
            "RSAES-OAEP 2048 bit key with a SHA256 digest.",
            "RSAES-OAEP 3072 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA512 digest.",
            "RSAES-OAEP 2048 bit key with a SHA1 digest.",
            "RSAES-OAEP 3072 bit key with a SHA1 digest.",
            "RSAES-OAEP 4096 bit key with a SHA1 digest.",
            "ECDSA on the NIST P-256 curve with a SHA256 digest. Other hash functions can also be used: https://cloud.google.com/kms/docs/create-validate-signatures#ecdsa_support_for_other_hash_algorithms",
            "ECDSA on the NIST P-384 curve with a SHA384 digest. Other hash functions can also be used: https://cloud.google.com/kms/docs/create-validate-signatures#ecdsa_support_for_other_hash_algorithms",
            "ECDSA on the non-NIST secp256k1 curve. This curve is only supported for HSM protection level. Other hash functions can also be used: https://cloud.google.com/kms/docs/create-validate-signatures#ecdsa_support_for_other_hash_algorithms",
            "EdDSA on the Curve25519 in pure mode (taking data as input).",
            "HMAC-SHA256 signing with a 256 bit key.",
            "HMAC-SHA1 signing with a 160 bit key.",
            "HMAC-SHA384 signing with a 384 bit key.",
            "HMAC-SHA512 signing with a 512 bit key.",
            "HMAC-SHA224 signing with a 224 bit key.",
            "Algorithm representing symmetric encryption by an external key manager."
          ]
        },
        "protectionLevel": {
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "description": "ProtectionLevel to use when creating a CryptoKeyVersion based on this template. Immutable. Defaults to SOFTWARE.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ]
        }
      },
      "id": "GoogleCloudKmsV1CryptoKeyVersionTemplate",
      "type": "object",
      "description": "A CryptoKeyVersionTemplate specifies the properties to use when creating a new CryptoKeyVersion, either manually with CreateCryptoKeyVersion or automatically as a result of auto-rotation."
    },
    "GoogleCloudKmsV1CryptoKeyVersion": {
      "description": "A CryptoKeyVersion represents an individual cryptographic key, and the associated key material. An ENABLED version can be used for cryptographic operations. For security reasons, the raw cryptographic key material represented by a CryptoKeyVersion can never be viewed or exported. It can only be used to encrypt, decrypt, or sign data when an authorized user or application invokes Cloud KMS.",
      "type": "object",
      "properties": {
        "attestation": {
          "description": "Output only. Statement that was generated and signed by the HSM at key creation time. Use this statement to verify attributes of the key as stored on the HSM, independently of Google. Only provided for key versions with protection_level HSM.",
          "readOnly": true,
          "$ref": "GoogleCloudKmsV1KeyOperationAttestation"
        },
        "protectionLevel": {
          "description": "Output only. The ProtectionLevel describing how crypto operations are performed with this CryptoKeyVersion.",
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ]
        },
        "algorithm": {
          "description": "Output only. The CryptoKeyVersionAlgorithm that this CryptoKeyVersion supports.",
          "enum": [
            "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
            "GOOGLE_SYMMETRIC_ENCRYPTION",
            "AES_128_GCM",
            "AES_256_GCM",
            "AES_128_CBC",
            "AES_256_CBC",
            "AES_128_CTR",
            "AES_256_CTR",
            "RSA_SIGN_PSS_2048_SHA256",
            "RSA_SIGN_PSS_3072_SHA256",
            "RSA_SIGN_PSS_4096_SHA256",
            "RSA_SIGN_PSS_4096_SHA512",
            "RSA_SIGN_PKCS1_2048_SHA256",
            "RSA_SIGN_PKCS1_3072_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA512",
            "RSA_SIGN_RAW_PKCS1_2048",
            "RSA_SIGN_RAW_PKCS1_3072",
            "RSA_SIGN_RAW_PKCS1_4096",
            "RSA_DECRYPT_OAEP_2048_SHA256",
            "RSA_DECRYPT_OAEP_3072_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA512",
            "RSA_DECRYPT_OAEP_2048_SHA1",
            "RSA_DECRYPT_OAEP_3072_SHA1",
            "RSA_DECRYPT_OAEP_4096_SHA1",
            "EC_SIGN_P256_SHA256",
            "EC_SIGN_P384_SHA384",
            "EC_SIGN_SECP256K1_SHA256",
            "EC_SIGN_ED25519",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_SHA384",
            "HMAC_SHA512",
            "HMAC_SHA224",
            "EXTERNAL_SYMMETRIC_ENCRYPTION"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Creates symmetric encryption keys.",
            "AES-GCM (Galois Counter Mode) using 128-bit keys.",
            "AES-GCM (Galois Counter Mode) using 256-bit keys.",
            "AES-CBC (Cipher Block Chaining Mode) using 128-bit keys.",
            "AES-CBC (Cipher Block Chaining Mode) using 256-bit keys.",
            "AES-CTR (Counter Mode) using 128-bit keys.",
            "AES-CTR (Counter Mode) using 256-bit keys.",
            "RSASSA-PSS 2048 bit key with a SHA256 digest.",
            "RSASSA-PSS 3072 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 with a 2048 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 3072 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 2048 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 3072 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 4096 bit key.",
            "RSAES-OAEP 2048 bit key with a SHA256 digest.",
            "RSAES-OAEP 3072 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA512 digest.",
            "RSAES-OAEP 2048 bit key with a SHA1 digest.",
            "RSAES-OAEP 3072 bit key with a SHA1 digest.",
            "RSAES-OAEP 4096 bit key with a SHA1 digest.",
            "ECDSA on the NIST P-256 curve with a SHA256 digest. Other hash functions can also be used: https://cloud.google.com/kms/docs/create-validate-signatures#ecdsa_support_for_other_hash_algorithms",
            "ECDSA on the NIST P-384 curve with a SHA384 digest. Other hash functions can also be used: https://cloud.google.com/kms/docs/create-validate-signatures#ecdsa_support_for_other_hash_algorithms",
            "ECDSA on the non-NIST secp256k1 curve. This curve is only supported for HSM protection level. Other hash functions can also be used: https://cloud.google.com/kms/docs/create-validate-signatures#ecdsa_support_for_other_hash_algorithms",
            "EdDSA on the Curve25519 in pure mode (taking data as input).",
            "HMAC-SHA256 signing with a 256 bit key.",
            "HMAC-SHA1 signing with a 160 bit key.",
            "HMAC-SHA384 signing with a 384 bit key.",
            "HMAC-SHA512 signing with a 512 bit key.",
            "HMAC-SHA224 signing with a 224 bit key.",
            "Algorithm representing symmetric encryption by an external key manager."
          ],
          "type": "string"
        },
        "importTime": {
          "type": "string",
          "description": "Output only. The time at which this CryptoKeyVersion's key material was most recently imported.",
          "format": "google-datetime",
          "readOnly": true
        },
        "reimportEligible": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether or not this key version is eligible for reimport, by being specified as a target in ImportCryptoKeyVersionRequest.crypto_key_version."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for this CryptoKeyVersion in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*`."
        },
        "destroyEventTime": {
          "type": "string",
          "description": "Output only. The time this CryptoKeyVersion's key material was destroyed. Only present if state is DESTROYED.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "importFailureReason": {
          "type": "string",
          "description": "Output only. The root cause of the most recent import failure. Only present if state is IMPORT_FAILED.",
          "readOnly": true
        },
        "generateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this CryptoKeyVersion's key material was generated."
        },
        "generationFailureReason": {
          "readOnly": true,
          "description": "Output only. The root cause of the most recent generation failure. Only present if state is GENERATION_FAILED.",
          "type": "string"
        },
        "importJob": {
          "type": "string",
          "description": "Output only. The name of the ImportJob used in the most recent import of this CryptoKeyVersion. Only present if the underlying key material was imported.",
          "readOnly": true
        },
        "destroyTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this CryptoKeyVersion's key material is scheduled for destruction. Only present if state is DESTROY_SCHEDULED.",
          "readOnly": true
        },
        "externalDestructionFailureReason": {
          "type": "string",
          "description": "Output only. The root cause of the most recent external destruction failure. Only present if state is EXTERNAL_DESTRUCTION_FAILED.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which this CryptoKeyVersion was created.",
          "format": "google-datetime"
        },
        "externalProtectionLevelOptions": {
          "description": "ExternalProtectionLevelOptions stores a group of additional fields for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection level and EXTERNAL_VPC protection levels.",
          "$ref": "GoogleCloudKmsV1ExternalProtectionLevelOptions"
        },
        "state": {
          "enumDescriptions": [
            "Not specified.",
            "This version is still being generated. It may not be used, enabled, disabled, or destroyed yet. Cloud KMS will automatically mark this version ENABLED as soon as the version is ready.",
            "This version may be used for cryptographic operations.",
            "This version may not be used, but the key material is still available, and the version can be placed back into the ENABLED state.",
            "This version is destroyed, and the key material is no longer stored. This version may only become ENABLED again if this version is reimport_eligible and the original key material is reimported with a call to KeyManagementService.ImportCryptoKeyVersion.",
            "This version is scheduled for destruction, and will be destroyed soon. Call RestoreCryptoKeyVersion to put it back into the DISABLED state.",
            "This version is still being imported. It may not be used, enabled, disabled, or destroyed yet. Cloud KMS will automatically mark this version ENABLED as soon as the version is ready.",
            "This version was not imported successfully. It may not be used, enabled, disabled, or destroyed. The submitted key material has been discarded. Additional details can be found in CryptoKeyVersion.import_failure_reason.",
            "This version was not generated successfully. It may not be used, enabled, disabled, or destroyed. Additional details can be found in CryptoKeyVersion.generation_failure_reason.",
            "This version was destroyed, and it may not be used or enabled again. Cloud KMS is waiting for the corresponding key material residing in an external key manager to be destroyed.",
            "This version was destroyed, and it may not be used or enabled again. However, Cloud KMS could not confirm that the corresponding key material residing in an external key manager was destroyed. Additional details can be found in CryptoKeyVersion.external_destruction_failure_reason."
          ],
          "enum": [
            "CRYPTO_KEY_VERSION_STATE_UNSPECIFIED",
            "PENDING_GENERATION",
            "ENABLED",
            "DISABLED",
            "DESTROYED",
            "DESTROY_SCHEDULED",
            "PENDING_IMPORT",
            "IMPORT_FAILED",
            "GENERATION_FAILED",
            "PENDING_EXTERNAL_DESTRUCTION",
            "EXTERNAL_DESTRUCTION_FAILED"
          ],
          "type": "string",
          "description": "The current state of the CryptoKeyVersion."
        }
      },
      "id": "GoogleCloudKmsV1CryptoKeyVersion"
    }
  },
  "id": "kmsinventory:v1",
  "ownerDomain": "google.com",
  "name": "kmsinventory",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "revision": "20240427"
}
