{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "name": "kmsinventory",
  "rootUrl": "https://kmsinventory.googleapis.com/",
  "protocol": "rest",
  "servicePath": "",
  "schemas": {
    "GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse": {
      "description": "Response message for KeyTrackingService.SearchProtectedResources.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "protectedResources": {
          "description": "Protected resources for this page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudKmsInventoryV1ProtectedResource"
          }
        }
      },
      "id": "GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse"
    },
    "GoogleCloudKmsInventoryV1ListCryptoKeysResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The page token returned from the previous response if the next page is desired.",
          "type": "string"
        },
        "cryptoKeys": {
          "description": "The list of CryptoKeys.",
          "items": {
            "$ref": "GoogleCloudKmsV1CryptoKey"
          },
          "type": "array"
        }
      },
      "description": "Response message for KeyDashboardService.ListCryptoKeys.",
      "id": "GoogleCloudKmsInventoryV1ListCryptoKeysResponse",
      "type": "object"
    },
    "GoogleCloudKmsV1KeyOperationAttestation": {
      "type": "object",
      "properties": {
        "format": {
          "type": "string",
          "description": "Output only. The format of the attestation data.",
          "readOnly": true,
          "enum": [
            "ATTESTATION_FORMAT_UNSPECIFIED",
            "CAVIUM_V1_COMPRESSED",
            "CAVIUM_V2_COMPRESSED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Cavium HSM attestation compressed with gzip. Note that this format is defined by Cavium and subject to change at any time. See https://www.marvell.com/products/security-solutions/nitrox-hs-adapters/software-key-attestation.html.",
            "Cavium HSM attestation V2 compressed with gzip. This is a new format introduced in Cavium's version 3.2-08."
          ]
        },
        "certChains": {
          "readOnly": true,
          "$ref": "GoogleCloudKmsV1KeyOperationAttestationCertificateChains",
          "description": "Output only. The certificate chains needed to validate the attestation"
        },
        "content": {
          "description": "Output only. The attestation data provided by the HSM when the key operation was performed.",
          "readOnly": true,
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Contains an HSM-generated attestation about a key operation. For more information, see [Verifying attestations] (https://cloud.google.com/kms/docs/attest-key).",
      "id": "GoogleCloudKmsV1KeyOperationAttestation"
    },
    "GoogleCloudKmsV1CryptoKey": {
      "properties": {
        "nextRotationTime": {
          "format": "google-datetime",
          "description": "At next_rotation_time, the Key Management Service will automatically: 1. Create a new version of this CryptoKey. 2. Mark the new version as primary. Key rotations performed manually via CreateCryptoKeyVersion and UpdateCryptoKeyPrimaryVersion do not affect next_rotation_time. Keys with purpose ENCRYPT_DECRYPT support automatic rotation. For other keys, this field must be omitted.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name for this CryptoKey in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string",
          "readOnly": true
        },
        "importOnly": {
          "description": "Immutable. Whether this key may contain imported versions only.",
          "type": "boolean"
        },
        "destroyScheduledDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Immutable. The period of time that versions of this key spend in the DESTROY_SCHEDULED state before transitioning to DESTROYED. If not specified at creation time, the default duration is 24 hours."
        },
        "rotationPeriod": {
          "format": "google-duration",
          "description": "next_rotation_time will be advanced by this period when the service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours. If rotation_period is set, next_rotation_time must also be set. Keys with purpose ENCRYPT_DECRYPT support automatic rotation. For other keys, this field must be omitted.",
          "type": "string"
        },
        "versionTemplate": {
          "$ref": "GoogleCloudKmsV1CryptoKeyVersionTemplate",
          "description": "A template describing settings for new CryptoKeyVersion instances. The properties of new CryptoKeyVersion instances created by either CreateCryptoKeyVersion or auto-rotation are controlled by this template."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user-defined metadata. For more information, see [Labeling Keys](https://cloud.google.com/kms/docs/labeling-keys).",
          "type": "object"
        },
        "purpose": {
          "enumDescriptions": [
            "Not specified.",
            "CryptoKeys with this purpose may be used with Encrypt and Decrypt.",
            "CryptoKeys with this purpose may be used with AsymmetricSign and GetPublicKey.",
            "CryptoKeys with this purpose may be used with AsymmetricDecrypt and GetPublicKey.",
            "CryptoKeys with this purpose may be used with MacSign."
          ],
          "description": "Immutable. The immutable purpose of this CryptoKey.",
          "type": "string",
          "enum": [
            "CRYPTO_KEY_PURPOSE_UNSPECIFIED",
            "ENCRYPT_DECRYPT",
            "ASYMMETRIC_SIGN",
            "ASYMMETRIC_DECRYPT",
            "MAC"
          ]
        },
        "primary": {
          "$ref": "GoogleCloudKmsV1CryptoKeyVersion",
          "description": "Output only. A copy of the \"primary\" CryptoKeyVersion that will be used by Encrypt when this CryptoKey is given in EncryptRequest.name. The CryptoKey's primary version can be updated via UpdateCryptoKeyPrimaryVersion. Keys with purpose ENCRYPT_DECRYPT may have a primary. For other keys, this field will be omitted.",
          "readOnly": true
        },
        "cryptoKeyBackend": {
          "description": "Immutable. The resource name of the backend environment where the key material for all CryptoKeyVersions associated with this CryptoKey reside and where all related cryptographic operations are performed. Only applicable if CryptoKeyVersions have a ProtectionLevel of EXTERNAL_VPC, with the resource name in the format `projects/*/locations/*/ekmConnections/*`. Note, this list is non-exhaustive and may apply to additional ProtectionLevels in the future.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which this CryptoKey was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudKmsV1CryptoKey",
      "description": "A CryptoKey represents a logical key that can be used for cryptographic operations. A CryptoKey is made up of zero or more versions, which represent the actual key material used in cryptographic operations."
    },
    "GoogleCloudKmsV1CryptoKeyVersion": {
      "description": "A CryptoKeyVersion represents an individual cryptographic key, and the associated key material. An ENABLED version can be used for cryptographic operations. For security reasons, the raw cryptographic key material represented by a CryptoKeyVersion can never be viewed or exported. It can only be used to encrypt, decrypt, or sign data when an authorized user or application invokes Cloud KMS.",
      "id": "GoogleCloudKmsV1CryptoKeyVersion",
      "properties": {
        "state": {
          "type": "string",
          "description": "The current state of the CryptoKeyVersion.",
          "enumDescriptions": [
            "Not specified.",
            "This version is still being generated. It may not be used, enabled, disabled, or destroyed yet. Cloud KMS will automatically mark this version ENABLED as soon as the version is ready.",
            "This version may be used for cryptographic operations.",
            "This version may not be used, but the key material is still available, and the version can be placed back into the ENABLED state.",
            "This version is destroyed, and the key material is no longer stored. This version may only become ENABLED again if this version is reimport_eligible and the original key material is reimported with a call to KeyManagementService.ImportCryptoKeyVersion.",
            "This version is scheduled for destruction, and will be destroyed soon. Call RestoreCryptoKeyVersion to put it back into the DISABLED state.",
            "This version is still being imported. It may not be used, enabled, disabled, or destroyed yet. Cloud KMS will automatically mark this version ENABLED as soon as the version is ready.",
            "This version was not imported successfully. It may not be used, enabled, disabled, or destroyed. The submitted key material has been discarded. Additional details can be found in CryptoKeyVersion.import_failure_reason."
          ],
          "enum": [
            "CRYPTO_KEY_VERSION_STATE_UNSPECIFIED",
            "PENDING_GENERATION",
            "ENABLED",
            "DISABLED",
            "DESTROYED",
            "DESTROY_SCHEDULED",
            "PENDING_IMPORT",
            "IMPORT_FAILED"
          ]
        },
        "importFailureReason": {
          "type": "string",
          "description": "Output only. The root cause of the most recent import failure. Only present if state is IMPORT_FAILED.",
          "readOnly": true
        },
        "destroyEventTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this CryptoKeyVersion's key material was destroyed. Only present if state is DESTROYED."
        },
        "algorithm": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Creates symmetric encryption keys.",
            "RSASSA-PSS 2048 bit key with a SHA256 digest.",
            "RSASSA-PSS 3072 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 with a 2048 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 3072 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 2048 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 3072 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 4096 bit key.",
            "RSAES-OAEP 2048 bit key with a SHA256 digest.",
            "RSAES-OAEP 3072 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA512 digest.",
            "RSAES-OAEP 2048 bit key with a SHA1 digest.",
            "RSAES-OAEP 3072 bit key with a SHA1 digest.",
            "RSAES-OAEP 4096 bit key with a SHA1 digest.",
            "ECDSA on the NIST P-256 curve with a SHA256 digest.",
            "ECDSA on the NIST P-384 curve with a SHA384 digest.",
            "ECDSA on the non-NIST secp256k1 curve. This curve is only supported for HSM protection level.",
            "HMAC-SHA256 signing with a 256 bit key.",
            "HMAC-SHA1 signing with a 160 bit key.",
            "HMAC-SHA384 signing with a 384 bit key.",
            "HMAC-SHA512 signing with a 512 bit key.",
            "HMAC-SHA224 signing with a 224 bit key.",
            "Algorithm representing symmetric encryption by an external key manager."
          ],
          "description": "Output only. The CryptoKeyVersionAlgorithm that this CryptoKeyVersion supports.",
          "enum": [
            "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
            "GOOGLE_SYMMETRIC_ENCRYPTION",
            "RSA_SIGN_PSS_2048_SHA256",
            "RSA_SIGN_PSS_3072_SHA256",
            "RSA_SIGN_PSS_4096_SHA256",
            "RSA_SIGN_PSS_4096_SHA512",
            "RSA_SIGN_PKCS1_2048_SHA256",
            "RSA_SIGN_PKCS1_3072_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA512",
            "RSA_SIGN_RAW_PKCS1_2048",
            "RSA_SIGN_RAW_PKCS1_3072",
            "RSA_SIGN_RAW_PKCS1_4096",
            "RSA_DECRYPT_OAEP_2048_SHA256",
            "RSA_DECRYPT_OAEP_3072_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA512",
            "RSA_DECRYPT_OAEP_2048_SHA1",
            "RSA_DECRYPT_OAEP_3072_SHA1",
            "RSA_DECRYPT_OAEP_4096_SHA1",
            "EC_SIGN_P256_SHA256",
            "EC_SIGN_P384_SHA384",
            "EC_SIGN_SECP256K1_SHA256",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_SHA384",
            "HMAC_SHA512",
            "HMAC_SHA224",
            "EXTERNAL_SYMMETRIC_ENCRYPTION"
          ],
          "readOnly": true
        },
        "importJob": {
          "description": "Output only. The name of the ImportJob used in the most recent import of this CryptoKeyVersion. Only present if the underlying key material was imported.",
          "readOnly": true,
          "type": "string"
        },
        "destroyTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this CryptoKeyVersion's key material is scheduled for destruction. Only present if state is DESTROY_SCHEDULED.",
          "readOnly": true
        },
        "attestation": {
          "readOnly": true,
          "description": "Output only. Statement that was generated and signed by the HSM at key creation time. Use this statement to verify attributes of the key as stored on the HSM, independently of Google. Only provided for key versions with protection_level HSM.",
          "$ref": "GoogleCloudKmsV1KeyOperationAttestation"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for this CryptoKeyVersion in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*`."
        },
        "generateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this CryptoKeyVersion's key material was generated.",
          "type": "string"
        },
        "reimportEligible": {
          "type": "boolean",
          "description": "Output only. Whether or not this key version is eligible for reimport, by being specified as a target in ImportCryptoKeyVersionRequest.crypto_key_version.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which this CryptoKeyVersion was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "importTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this CryptoKeyVersion's key material was most recently imported.",
          "type": "string",
          "readOnly": true
        },
        "protectionLevel": {
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ProtectionLevel describing how crypto operations are performed with this CryptoKeyVersion.",
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ]
        },
        "externalProtectionLevelOptions": {
          "description": "ExternalProtectionLevelOptions stores a group of additional fields for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection level and EXTERNAL_VPC protection levels.",
          "$ref": "GoogleCloudKmsV1ExternalProtectionLevelOptions"
        }
      },
      "type": "object"
    },
    "GoogleCloudKmsV1KeyOperationAttestationCertificateChains": {
      "description": "Certificate chains needed to verify the attestation. Certificates in chains are PEM-encoded and are ordered based on https://tools.ietf.org/html/rfc5246#section-7.4.2.",
      "properties": {
        "googleCardCerts": {
          "description": "Google card certificate chain corresponding to the attestation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "googlePartitionCerts": {
          "items": {
            "type": "string"
          },
          "description": "Google partition certificate chain corresponding to the attestation.",
          "type": "array"
        },
        "caviumCerts": {
          "type": "array",
          "description": "Cavium certificate chain corresponding to the attestation.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudKmsV1KeyOperationAttestationCertificateChains"
    },
    "GoogleCloudKmsInventoryV1ProtectedResourcesSummary": {
      "type": "object",
      "description": "Aggregate information about the resources protected by a Cloud KMS key in the same Cloud organization as the key.",
      "properties": {
        "resourceCount": {
          "type": "string",
          "description": "The total number of protected resources in the same Cloud organization as the key.",
          "format": "int64"
        },
        "cloudProducts": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object",
          "description": "The number of resources protected by the key grouped by Cloud product."
        },
        "locations": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "The number of resources protected by the key grouped by region.",
          "type": "object"
        },
        "projectCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of distinct Cloud projects in the same Cloud organization as the key that have resources protected by the key."
        },
        "resourceTypes": {
          "description": "The number of resources protected by the key grouped by resource type.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The full name of the ProtectedResourcesSummary resource. Example: projects/test-project/locations/us/keyRings/test-keyring/cryptoKeys/test-key/protectedResourcesSummary"
        }
      },
      "id": "GoogleCloudKmsInventoryV1ProtectedResourcesSummary"
    },
    "GoogleCloudKmsV1CryptoKeyVersionTemplate": {
      "description": "A CryptoKeyVersionTemplate specifies the properties to use when creating a new CryptoKeyVersion, either manually with CreateCryptoKeyVersion or automatically as a result of auto-rotation.",
      "type": "object",
      "properties": {
        "protectionLevel": {
          "description": "ProtectionLevel to use when creating a CryptoKeyVersion based on this template. Immutable. Defaults to SOFTWARE.",
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ]
        },
        "algorithm": {
          "enumDescriptions": [
            "Not specified.",
            "Creates symmetric encryption keys.",
            "RSASSA-PSS 2048 bit key with a SHA256 digest.",
            "RSASSA-PSS 3072 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 with a 2048 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 3072 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 2048 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 3072 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 4096 bit key.",
            "RSAES-OAEP 2048 bit key with a SHA256 digest.",
            "RSAES-OAEP 3072 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA512 digest.",
            "RSAES-OAEP 2048 bit key with a SHA1 digest.",
            "RSAES-OAEP 3072 bit key with a SHA1 digest.",
            "RSAES-OAEP 4096 bit key with a SHA1 digest.",
            "ECDSA on the NIST P-256 curve with a SHA256 digest.",
            "ECDSA on the NIST P-384 curve with a SHA384 digest.",
            "ECDSA on the non-NIST secp256k1 curve. This curve is only supported for HSM protection level.",
            "HMAC-SHA256 signing with a 256 bit key.",
            "HMAC-SHA1 signing with a 160 bit key.",
            "HMAC-SHA384 signing with a 384 bit key.",
            "HMAC-SHA512 signing with a 512 bit key.",
            "HMAC-SHA224 signing with a 224 bit key.",
            "Algorithm representing symmetric encryption by an external key manager."
          ],
          "type": "string",
          "enum": [
            "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
            "GOOGLE_SYMMETRIC_ENCRYPTION",
            "RSA_SIGN_PSS_2048_SHA256",
            "RSA_SIGN_PSS_3072_SHA256",
            "RSA_SIGN_PSS_4096_SHA256",
            "RSA_SIGN_PSS_4096_SHA512",
            "RSA_SIGN_PKCS1_2048_SHA256",
            "RSA_SIGN_PKCS1_3072_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA512",
            "RSA_SIGN_RAW_PKCS1_2048",
            "RSA_SIGN_RAW_PKCS1_3072",
            "RSA_SIGN_RAW_PKCS1_4096",
            "RSA_DECRYPT_OAEP_2048_SHA256",
            "RSA_DECRYPT_OAEP_3072_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA512",
            "RSA_DECRYPT_OAEP_2048_SHA1",
            "RSA_DECRYPT_OAEP_3072_SHA1",
            "RSA_DECRYPT_OAEP_4096_SHA1",
            "EC_SIGN_P256_SHA256",
            "EC_SIGN_P384_SHA384",
            "EC_SIGN_SECP256K1_SHA256",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_SHA384",
            "HMAC_SHA512",
            "HMAC_SHA224",
            "EXTERNAL_SYMMETRIC_ENCRYPTION"
          ],
          "description": "Required. Algorithm to use when creating a CryptoKeyVersion based on this template. For backwards compatibility, GOOGLE_SYMMETRIC_ENCRYPTION is implied if both this field is omitted and CryptoKey.purpose is ENCRYPT_DECRYPT."
        }
      },
      "id": "GoogleCloudKmsV1CryptoKeyVersionTemplate"
    },
    "GoogleCloudKmsV1ExternalProtectionLevelOptions": {
      "id": "GoogleCloudKmsV1ExternalProtectionLevelOptions",
      "type": "object",
      "properties": {
        "ekmConnectionKeyPath": {
          "type": "string",
          "description": "The path to the external key material on the EKM when using EkmConnection e.g., \"v0/my/key\". Set this field instead of external_key_uri when using an EkmConnection."
        },
        "externalKeyUri": {
          "type": "string",
          "description": "The URI for an external resource that this CryptoKeyVersion represents."
        }
      },
      "description": "ExternalProtectionLevelOptions stores a group of additional fields for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection level and EXTERNAL_VPC protection levels."
    },
    "GoogleCloudKmsInventoryV1ProtectedResource": {
      "id": "GoogleCloudKmsInventoryV1ProtectedResource",
      "properties": {
        "project": {
          "type": "string",
          "description": "Format: `projects/{PROJECT_NUMBER}`."
        },
        "resourceType": {
          "type": "string",
          "description": "Example: `compute.googleapis.com/Disk`"
        },
        "projectId": {
          "description": "The ID of the project that owns the resource.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which this resource was created. The granularity is in seconds. Timestamp.nanos will always be 0.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location can be `global`, regional like `us-east1`, or zonal like `us-west1-b`."
        },
        "cryptoKeyVersion": {
          "type": "string",
          "description": "The name of the Cloud KMS [CryptoKeyVersion](https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys.cryptoKeyVersions?hl=en) used to protect this resource via CMEK. This field may be empty if the Cloud product owning the resource does not provide key version data to Asset Inventory."
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. Example: `//compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1`."
        },
        "labels": {
          "description": "A key-value pair of the resource's labels (v1) to their values.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "cloudProduct": {
          "description": "The Cloud product that owns the resource. Example: `compute`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata about a resource protected by a Cloud KMS key."
    }
  },
  "version": "v1",
  "mtlsRootUrl": "https://kmsinventory.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "cryptoKeys": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The Google Cloud project for which to retrieve key metadata, in the format `projects/*`",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Pass this into a subsequent request in order to receive the next page of results."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of keys to return. The service may return fewer than this value. If unspecified, at most 1000 keys will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32"
                }
              },
              "id": "kmsinventory.projects.cryptoKeys.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/cryptoKeys",
              "description": "Returns cryptographic keys managed by Cloud KMS in a given Cloud project. Note that this data is sourced from snapshots, meaning it may not completely reflect the actual state of key metadata at call time.",
              "response": {
                "$ref": "GoogleCloudKmsInventoryV1ListCryptoKeysResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/cryptoKeys"
            }
          }
        },
        "locations": {
          "resources": {
            "keyRings": {
              "resources": {
                "cryptoKeys": {
                  "methods": {
                    "getProtectedResourcesSummary": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "kmsinventory.projects.locations.keyRings.cryptoKeys.getProtectedResourcesSummary",
                      "path": "v1/{+name}/protectedResourcesSummary",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudKmsInventoryV1ProtectedResourcesSummary"
                      },
                      "description": "Returns aggregate information about the resources protected by the given Cloud KMS CryptoKey. Only resources within the same Cloud organization as the key will be returned. The project that holds the key must be part of an organization in order for this call to succeed.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/keyRings/{keyRingsId}/cryptoKeys/{cryptoKeysId}/protectedResourcesSummary",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the CryptoKey.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/keyRings/[^/]+/cryptoKeys/.*$",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "protectedResources": {
          "methods": {
            "search": {
              "description": "Returns metadata about the resources protected by the given Cloud KMS CryptoKey in the given Cloud organization.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous KeyTrackingService.SearchProtectedResources call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to KeyTrackingService.SearchProtectedResources must match the call that provided the page token.",
                  "location": "query"
                },
                "scope": {
                  "description": "Required. Resource name of the organization. Example: organizations/123",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "cryptoKey": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The resource name of the CryptoKey."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of resources to return. The service may return fewer than this value. If unspecified, at most 500 resources will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "format": "int32"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/protectedResources:search",
              "parameterOrder": [
                "scope"
              ],
              "id": "kmsinventory.organizations.protectedResources.search",
              "path": "v1/{+scope}/protectedResources:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse"
              }
            }
          }
        }
      }
    }
  },
  "description": "",
  "documentationLink": "https://cloud.google.com/kms/",
  "canonicalName": "Kmsinventory",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    }
  },
  "baseUrl": "https://kmsinventory.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20230115",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "KMS Inventory API",
  "version_module": true,
  "ownerName": "Google",
  "id": "kmsinventory:v1",
  "ownerDomain": "google.com",
  "basePath": ""
}
