{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        }
      }
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://language.mtls.googleapis.com/",
  "protocol": "rest",
  "title": "Cloud Natural Language API",
  "batchPath": "batch",
  "resources": {
    "documents": {
      "methods": {
        "analyzeEntitySentiment": {
          "response": {
            "$ref": "AnalyzeEntitySentimentResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/documents:analyzeEntitySentiment",
          "id": "language.documents.analyzeEntitySentiment",
          "description": "Finds entities, similar to AnalyzeEntities in the text and analyzes sentiment associated with each entity and its mentions.",
          "flatPath": "v1beta2/documents:analyzeEntitySentiment",
          "parameterOrder": [],
          "request": {
            "$ref": "AnalyzeEntitySentimentRequest"
          },
          "httpMethod": "POST"
        },
        "analyzeSentiment": {
          "request": {
            "$ref": "AnalyzeSentimentRequest"
          },
          "parameterOrder": [],
          "parameters": {},
          "path": "v1beta2/documents:analyzeSentiment",
          "flatPath": "v1beta2/documents:analyzeSentiment",
          "httpMethod": "POST",
          "id": "language.documents.analyzeSentiment",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Analyzes the sentiment of the provided text.",
          "response": {
            "$ref": "AnalyzeSentimentResponse"
          }
        },
        "annotateText": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "language.documents.annotateText",
          "parameters": {},
          "flatPath": "v1beta2/documents:annotateText",
          "description": "A convenience method that provides all syntax, sentiment, entity, and classification features in one call.",
          "response": {
            "$ref": "AnnotateTextResponse"
          },
          "path": "v1beta2/documents:annotateText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "AnnotateTextRequest"
          }
        },
        "moderateText": {
          "flatPath": "v1beta2/documents:moderateText",
          "response": {
            "$ref": "ModerateTextResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "path": "v1beta2/documents:moderateText",
          "description": "Moderates a document for harmful and sensitive categories.",
          "id": "language.documents.moderateText",
          "parameterOrder": [],
          "request": {
            "$ref": "ModerateTextRequest"
          }
        },
        "classifyText": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Classifies a document into categories.",
          "id": "language.documents.classifyText",
          "flatPath": "v1beta2/documents:classifyText",
          "request": {
            "$ref": "ClassifyTextRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "ClassifyTextResponse"
          },
          "path": "v1beta2/documents:classifyText",
          "httpMethod": "POST"
        },
        "analyzeEntities": {
          "response": {
            "$ref": "AnalyzeEntitiesResponse"
          },
          "id": "language.documents.analyzeEntities",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/documents:analyzeEntities",
          "request": {
            "$ref": "AnalyzeEntitiesRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, salience, mentions for each entity, and other properties.",
          "parameters": {},
          "path": "v1beta2/documents:analyzeEntities"
        },
        "analyzeSyntax": {
          "request": {
            "$ref": "AnalyzeSyntaxRequest"
          },
          "path": "v1beta2/documents:analyzeSyntax",
          "description": "Analyzes the syntax of the text and provides sentence boundaries and tokenization along with part of speech tags, dependency trees, and other properties.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "AnalyzeSyntaxResponse"
          },
          "id": "language.documents.analyzeSyntax",
          "flatPath": "v1beta2/documents:analyzeSyntax",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "canonicalName": "Cloud Natural Language",
  "kind": "discovery#restDescription",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://language.googleapis.com/",
  "name": "language",
  "revision": "20230728",
  "discoveryVersion": "v1",
  "rootUrl": "https://language.googleapis.com/",
  "version": "v1beta2",
  "id": "language:v1beta2",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/natural-language/",
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "schemas": {
    "ClassifyTextResponse": {
      "properties": {
        "categories": {
          "description": "Categories representing the input document.",
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          }
        }
      },
      "description": "The document classification response message.",
      "id": "ClassifyTextResponse",
      "type": "object"
    },
    "AnalyzeEntitySentimentResponse": {
      "id": "AnalyzeEntitySentimentResponse",
      "description": "The entity-level sentiment analysis response message.",
      "properties": {
        "language": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details.",
          "type": "string"
        },
        "entities": {
          "description": "The recognized entities in the input document with associated sentiments.",
          "items": {
            "$ref": "Entity"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Features": {
      "properties": {
        "extractEntities": {
          "type": "boolean",
          "description": "Extract entities."
        },
        "extractDocumentSentiment": {
          "type": "boolean",
          "description": "Extract document-level sentiment."
        },
        "moderateText": {
          "description": "Moderate the document for harmful and sensitive categories.",
          "type": "boolean"
        },
        "classifyText": {
          "description": "Classify the full document into categories. If this is true, the API will use the default model which classifies into a [predefined taxonomy](https://cloud.google.com/natural-language/docs/categories).",
          "type": "boolean"
        },
        "extractEntitySentiment": {
          "description": "Extract entities and their associated sentiment.",
          "type": "boolean"
        },
        "extractSyntax": {
          "type": "boolean",
          "description": "Extract syntax information."
        },
        "classificationModelOptions": {
          "description": "The model options to use for classification. Defaults to v1 options if not specified. Only used if `classify_text` is set to true.",
          "$ref": "ClassificationModelOptions"
        }
      },
      "description": "All available features for sentiment, syntax, and semantic analysis. Setting each one to true will enable that specific analysis for the input. Next ID: 12",
      "id": "Features",
      "type": "object"
    },
    "AnalyzeEntitiesRequest": {
      "properties": {
        "encodingType": {
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "description": "The encoding type used by the API to calculate offsets.",
          "type": "string"
        },
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        }
      },
      "id": "AnalyzeEntitiesRequest",
      "type": "object",
      "description": "The entity analysis request message."
    },
    "Token": {
      "description": "Represents the smallest syntactic building block of the text.",
      "properties": {
        "lemma": {
          "type": "string",
          "description": "[Lemma](https://en.wikipedia.org/wiki/Lemma_%28morphology%29) of the token."
        },
        "dependencyEdge": {
          "description": "Dependency tree parse for this token.",
          "$ref": "DependencyEdge"
        },
        "partOfSpeech": {
          "description": "Parts of speech tag for this token.",
          "$ref": "PartOfSpeech"
        },
        "text": {
          "$ref": "TextSpan",
          "description": "The token text."
        }
      },
      "id": "Token",
      "type": "object"
    },
    "Entity": {
      "description": "Represents a phrase in the text that is a known entity, such as a person, an organization, or location. The API associates information, such as salience and mentions, with entities.",
      "type": "object",
      "id": "Entity",
      "properties": {
        "name": {
          "description": "The representative name for the entity.",
          "type": "string"
        },
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment or if AnnotateTextRequest.Features.extract_entity_sentiment is set to true, this field will contain the aggregate sentiment expressed for this entity in the provided document.",
          "$ref": "Sentiment"
        },
        "salience": {
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "format": "float",
          "type": "number"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below."
        },
        "type": {
          "description": "The entity type.",
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Person",
            "Location",
            "Organization",
            "Event",
            "Artwork",
            "Consumer product",
            "Other types of entities",
            "Phone number The metadata lists the phone number, formatted according to local convention, plus whichever additional elements appear in the text: * `number` - the actual number, broken down into sections as per local convention * `national_prefix` - country code, if detected * `area_code` - region or area code, if detected * `extension` - phone extension (to be dialed after connection), if detected",
            "Address The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - street number * `locality` - city or town * `street_name` - street/route name, if detected * `postal_code` - postal code, if detected * `country` - country, if detected\u003c * `broad_region` - administrative area, such as the state, if detected * `narrow_region` - smaller administrative area, such as county, if detected * `sublocality` - used in Asian addresses to demark a district within a city, if detected",
            "Date The metadata identifies the components of the date: * `year` - four digit year, if detected * `month` - two digit month number, if detected * `day` - two digit day number, if detected",
            "Number The metadata is the number itself.",
            "Price The metadata identifies the `value` and `currency`."
          ],
          "enum": [
            "UNKNOWN",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ]
        },
        "mentions": {
          "type": "array",
          "items": {
            "$ref": "EntityMention"
          },
          "description": "The mentions of this entity in the input document. The API currently supports proper noun mentions."
        }
      }
    },
    "AnalyzeEntitySentimentRequest": {
      "id": "AnalyzeEntitySentimentRequest",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "encodingType": {
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "type": "string",
          "description": "The encoding type used by the API to calculate offsets.",
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ]
        }
      },
      "type": "object",
      "description": "The entity-level sentiment analysis request message."
    },
    "ModerateTextResponse": {
      "type": "object",
      "description": "The document moderation response message.",
      "properties": {
        "moderationCategories": {
          "description": "Harmful and sensitive categories representing the input document.",
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          }
        }
      },
      "id": "ModerateTextResponse"
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "ClassificationCategory": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the category representing the document."
        },
        "confidence": {
          "type": "number",
          "description": "The classifier's confidence of the category. Number represents how certain the classifier is that this category represents the given text.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "ClassificationCategory",
      "description": "Represents a category returned from the text classifier."
    },
    "ClassifyTextRequest": {
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "classificationModelOptions": {
          "$ref": "ClassificationModelOptions",
          "description": "Model options to use for classification. Defaults to v1 options if not specified."
        }
      },
      "id": "ClassifyTextRequest",
      "type": "object",
      "description": "The document classification request message."
    },
    "AnalyzeEntitiesResponse": {
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "Entity"
          },
          "description": "The recognized entities in the input document."
        },
        "language": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The entity analysis response message.",
      "id": "AnalyzeEntitiesResponse"
    },
    "Sentiment": {
      "description": "Represents the feeling associated with the entire text or entities in the text. Next ID: 6",
      "type": "object",
      "properties": {
        "magnitude": {
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment regardless of score (positive or negative).",
          "type": "number",
          "format": "float"
        },
        "score": {
          "format": "float",
          "type": "number",
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment)."
        }
      },
      "id": "Sentiment"
    },
    "AnalyzeSentimentResponse": {
      "properties": {
        "sentences": {
          "type": "array",
          "description": "The sentiment for all the sentences in the document.",
          "items": {
            "$ref": "Sentence"
          }
        },
        "documentSentiment": {
          "description": "The overall sentiment of the input document.",
          "$ref": "Sentiment"
        },
        "language": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details.",
          "type": "string"
        }
      },
      "id": "AnalyzeSentimentResponse",
      "type": "object",
      "description": "The sentiment analysis response message."
    },
    "DependencyEdge": {
      "description": "Represents dependency parse tree information for a token.",
      "properties": {
        "headTokenIndex": {
          "type": "integer",
          "description": "Represents the head of this token in the dependency tree. This is the index of the token which has an arc going to this token. The index is the position of the token in the array of tokens returned by the API method. If this token is a root token, then the `head_token_index` is its own index.",
          "format": "int32"
        },
        "label": {
          "type": "string",
          "description": "The parse label for the token.",
          "enum": [
            "UNKNOWN",
            "ABBREV",
            "ACOMP",
            "ADVCL",
            "ADVMOD",
            "AMOD",
            "APPOS",
            "ATTR",
            "AUX",
            "AUXPASS",
            "CC",
            "CCOMP",
            "CONJ",
            "CSUBJ",
            "CSUBJPASS",
            "DEP",
            "DET",
            "DISCOURSE",
            "DOBJ",
            "EXPL",
            "GOESWITH",
            "IOBJ",
            "MARK",
            "MWE",
            "MWV",
            "NEG",
            "NN",
            "NPADVMOD",
            "NSUBJ",
            "NSUBJPASS",
            "NUM",
            "NUMBER",
            "P",
            "PARATAXIS",
            "PARTMOD",
            "PCOMP",
            "POBJ",
            "POSS",
            "POSTNEG",
            "PRECOMP",
            "PRECONJ",
            "PREDET",
            "PREF",
            "PREP",
            "PRONL",
            "PRT",
            "PS",
            "QUANTMOD",
            "RCMOD",
            "RCMODREL",
            "RDROP",
            "REF",
            "REMNANT",
            "REPARANDUM",
            "ROOT",
            "SNUM",
            "SUFF",
            "TMOD",
            "TOPIC",
            "VMOD",
            "VOCATIVE",
            "XCOMP",
            "SUFFIX",
            "TITLE",
            "ADVPHMOD",
            "AUXCAUS",
            "AUXVV",
            "DTMOD",
            "FOREIGN",
            "KW",
            "LIST",
            "NOMC",
            "NOMCSUBJ",
            "NOMCSUBJPASS",
            "NUMC",
            "COP",
            "DISLOCATED",
            "ASP",
            "GMOD",
            "GOBJ",
            "INFMOD",
            "MES",
            "NCOMP"
          ],
          "enumDescriptions": [
            "Unknown",
            "Abbreviation modifier",
            "Adjectival complement",
            "Adverbial clause modifier",
            "Adverbial modifier",
            "Adjectival modifier of an NP",
            "Appositional modifier of an NP",
            "Attribute dependent of a copular verb",
            "Auxiliary (non-main) verb",
            "Passive auxiliary",
            "Coordinating conjunction",
            "Clausal complement of a verb or adjective",
            "Conjunct",
            "Clausal subject",
            "Clausal passive subject",
            "Dependency (unable to determine)",
            "Determiner",
            "Discourse",
            "Direct object",
            "Expletive",
            "Goes with (part of a word in a text not well edited)",
            "Indirect object",
            "Marker (word introducing a subordinate clause)",
            "Multi-word expression",
            "Multi-word verbal expression",
            "Negation modifier",
            "Noun compound modifier",
            "Noun phrase used as an adverbial modifier",
            "Nominal subject",
            "Passive nominal subject",
            "Numeric modifier of a noun",
            "Element of compound number",
            "Punctuation mark",
            "Parataxis relation",
            "Participial modifier",
            "The complement of a preposition is a clause",
            "Object of a preposition",
            "Possession modifier",
            "Postverbal negative particle",
            "Predicate complement",
            "Preconjunt",
            "Predeterminer",
            "Prefix",
            "Prepositional modifier",
            "The relationship between a verb and verbal morpheme",
            "Particle",
            "Associative or possessive marker",
            "Quantifier phrase modifier",
            "Relative clause modifier",
            "Complementizer in relative clause",
            "Ellipsis without a preceding predicate",
            "Referent",
            "Remnant",
            "Reparandum",
            "Root",
            "Suffix specifying a unit of number",
            "Suffix",
            "Temporal modifier",
            "Topic marker",
            "Clause headed by an infinite form of the verb that modifies a noun",
            "Vocative",
            "Open clausal complement",
            "Name suffix",
            "Name title",
            "Adverbial phrase modifier",
            "Causative auxiliary",
            "Helper auxiliary",
            "Rentaishi (Prenominal modifier)",
            "Foreign words",
            "Keyword",
            "List for chains of comparable items",
            "Nominalized clause",
            "Nominalized clausal subject",
            "Nominalized clausal passive",
            "Compound of numeric modifier",
            "Copula",
            "Dislocated relation (for fronted/topicalized elements)",
            "Aspect marker",
            "Genitive modifier",
            "Genitive object",
            "Infinitival modifier",
            "Measure",
            "Nominal complement of a noun"
          ]
        }
      },
      "type": "object",
      "id": "DependencyEdge"
    },
    "PartOfSpeech": {
      "description": "Represents part of speech information for a token.",
      "properties": {
        "tense": {
          "description": "The grammatical tense.",
          "enumDescriptions": [
            "Tense is not applicable in the analyzed language or is not predicted.",
            "Conditional",
            "Future",
            "Past",
            "Present",
            "Imperfect",
            "Pluperfect"
          ],
          "enum": [
            "TENSE_UNKNOWN",
            "CONDITIONAL_TENSE",
            "FUTURE",
            "PAST",
            "PRESENT",
            "IMPERFECT",
            "PLUPERFECT"
          ],
          "type": "string"
        },
        "gender": {
          "enumDescriptions": [
            "Gender is not applicable in the analyzed language or is not predicted.",
            "Feminine",
            "Masculine",
            "Neuter"
          ],
          "description": "The grammatical gender.",
          "type": "string",
          "enum": [
            "GENDER_UNKNOWN",
            "FEMININE",
            "MASCULINE",
            "NEUTER"
          ]
        },
        "voice": {
          "type": "string",
          "description": "The grammatical voice.",
          "enum": [
            "VOICE_UNKNOWN",
            "ACTIVE",
            "CAUSATIVE",
            "PASSIVE"
          ],
          "enumDescriptions": [
            "Voice is not applicable in the analyzed language or is not predicted.",
            "Active",
            "Causative",
            "Passive"
          ]
        },
        "number": {
          "enumDescriptions": [
            "Number is not applicable in the analyzed language or is not predicted.",
            "Singular",
            "Plural",
            "Dual"
          ],
          "enum": [
            "NUMBER_UNKNOWN",
            "SINGULAR",
            "PLURAL",
            "DUAL"
          ],
          "description": "The grammatical number.",
          "type": "string"
        },
        "reciprocity": {
          "description": "The grammatical reciprocity.",
          "enum": [
            "RECIPROCITY_UNKNOWN",
            "RECIPROCAL",
            "NON_RECIPROCAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Reciprocity is not applicable in the analyzed language or is not predicted.",
            "Reciprocal",
            "Non-reciprocal"
          ]
        },
        "proper": {
          "enumDescriptions": [
            "Proper is not applicable in the analyzed language or is not predicted.",
            "Proper",
            "Not proper"
          ],
          "description": "The grammatical properness.",
          "enum": [
            "PROPER_UNKNOWN",
            "PROPER",
            "NOT_PROPER"
          ],
          "type": "string"
        },
        "person": {
          "description": "The grammatical person.",
          "enumDescriptions": [
            "Person is not applicable in the analyzed language or is not predicted.",
            "First",
            "Second",
            "Third",
            "Reflexive"
          ],
          "type": "string",
          "enum": [
            "PERSON_UNKNOWN",
            "FIRST",
            "SECOND",
            "THIRD",
            "REFLEXIVE_PERSON"
          ]
        },
        "case": {
          "type": "string",
          "enumDescriptions": [
            "Case is not applicable in the analyzed language or is not predicted.",
            "Accusative",
            "Adverbial",
            "Complementive",
            "Dative",
            "Genitive",
            "Instrumental",
            "Locative",
            "Nominative",
            "Oblique",
            "Partitive",
            "Prepositional",
            "Reflexive",
            "Relative",
            "Vocative"
          ],
          "enum": [
            "CASE_UNKNOWN",
            "ACCUSATIVE",
            "ADVERBIAL",
            "COMPLEMENTIVE",
            "DATIVE",
            "GENITIVE",
            "INSTRUMENTAL",
            "LOCATIVE",
            "NOMINATIVE",
            "OBLIQUE",
            "PARTITIVE",
            "PREPOSITIONAL",
            "REFLEXIVE_CASE",
            "RELATIVE_CASE",
            "VOCATIVE"
          ],
          "description": "The grammatical case."
        },
        "tag": {
          "enum": [
            "UNKNOWN",
            "ADJ",
            "ADP",
            "ADV",
            "CONJ",
            "DET",
            "NOUN",
            "NUM",
            "PRON",
            "PRT",
            "PUNCT",
            "VERB",
            "X",
            "AFFIX"
          ],
          "description": "The part of speech tag.",
          "enumDescriptions": [
            "Unknown",
            "Adjective",
            "Adposition (preposition and postposition)",
            "Adverb",
            "Conjunction",
            "Determiner",
            "Noun (common and proper)",
            "Cardinal number",
            "Pronoun",
            "Particle or other function word",
            "Punctuation",
            "Verb (all tenses and modes)",
            "Other: foreign words, typos, abbreviations",
            "Affix"
          ],
          "type": "string"
        },
        "mood": {
          "enumDescriptions": [
            "Mood is not applicable in the analyzed language or is not predicted.",
            "Conditional",
            "Imperative",
            "Indicative",
            "Interrogative",
            "Jussive",
            "Subjunctive"
          ],
          "type": "string",
          "description": "The grammatical mood.",
          "enum": [
            "MOOD_UNKNOWN",
            "CONDITIONAL_MOOD",
            "IMPERATIVE",
            "INDICATIVE",
            "INTERROGATIVE",
            "JUSSIVE",
            "SUBJUNCTIVE"
          ]
        },
        "form": {
          "enum": [
            "FORM_UNKNOWN",
            "ADNOMIAL",
            "AUXILIARY",
            "COMPLEMENTIZER",
            "FINAL_ENDING",
            "GERUND",
            "REALIS",
            "IRREALIS",
            "SHORT",
            "LONG",
            "ORDER",
            "SPECIFIC"
          ],
          "description": "The grammatical form.",
          "type": "string",
          "enumDescriptions": [
            "Form is not applicable in the analyzed language or is not predicted.",
            "Adnomial",
            "Auxiliary",
            "Complementizer",
            "Final ending",
            "Gerund",
            "Realis",
            "Irrealis",
            "Short form",
            "Long form",
            "Order form",
            "Specific form"
          ]
        },
        "aspect": {
          "type": "string",
          "description": "The grammatical aspect.",
          "enum": [
            "ASPECT_UNKNOWN",
            "PERFECTIVE",
            "IMPERFECTIVE",
            "PROGRESSIVE"
          ],
          "enumDescriptions": [
            "Aspect is not applicable in the analyzed language or is not predicted.",
            "Perfective",
            "Imperfective",
            "Progressive"
          ]
        }
      },
      "type": "object",
      "id": "PartOfSpeech"
    },
    "ClassificationModelOptions": {
      "properties": {
        "v2Model": {
          "description": "Setting this field will use the V2 model with the appropriate content categories version. The V2 model is a better performing model.",
          "$ref": "V2Model"
        },
        "v1Model": {
          "description": "Setting this field will use the V1 model and V1 content categories version. The V1 model is a legacy model; support for this will be discontinued in the future.",
          "$ref": "V1Model"
        }
      },
      "id": "ClassificationModelOptions",
      "description": "Model options available for classification requests.",
      "type": "object"
    },
    "AnnotateTextResponse": {
      "id": "AnnotateTextResponse",
      "description": "The text annotations response message.",
      "properties": {
        "categories": {
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Categories identified in the input document."
        },
        "documentSentiment": {
          "$ref": "Sentiment",
          "description": "The overall sentiment for the document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment."
        },
        "tokens": {
          "description": "Tokens, along with their syntactic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_syntax.",
          "type": "array",
          "items": {
            "$ref": "Token"
          }
        },
        "entities": {
          "description": "Entities, along with their semantic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_entities.",
          "items": {
            "$ref": "Entity"
          },
          "type": "array"
        },
        "moderationCategories": {
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Harmful and sensitive categories identified in the input document.",
          "type": "array"
        },
        "sentences": {
          "type": "array",
          "description": "Sentences in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_syntax.",
          "items": {
            "$ref": "Sentence"
          }
        },
        "language": {
          "type": "string",
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details."
        }
      },
      "type": "object"
    },
    "Document": {
      "id": "Document",
      "properties": {
        "language": {
          "description": "The language of the document (if not specified, the language is automatically detected). Both ISO and BCP-47 language codes are accepted. [Language Support](https://cloud.google.com/natural-language/docs/languages) lists currently supported languages for each API method. If the language (either specified by the caller or automatically detected) is not supported by the called API method, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "gcsContentUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI where the file content is located. This URI must be of the form: gs://bucket_name/object_name. For more details, see https://cloud.google.com/storage/docs/reference-uris. NOTE: Cloud Storage object versioning is not supported."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ],
          "enumDescriptions": [
            "The content type is not specified.",
            "Plain text",
            "HTML"
          ],
          "description": "Required. If the type is not set or is `TYPE_UNSPECIFIED`, returns an `INVALID_ARGUMENT` error.",
          "type": "string"
        },
        "referenceWebUri": {
          "description": "The web URI where the document comes from. This URI is not used for fetching the content, but as a hint for analyzing the document.",
          "type": "string"
        },
        "content": {
          "description": "The content of the input in string format. Cloud audit logging exempt since it is based on user data.",
          "type": "string"
        },
        "boilerplateHandling": {
          "type": "string",
          "description": "Indicates how detected boilerplate(e.g. advertisements, copyright declarations, banners) should be handled for this document. If not specified, boilerplate will be treated the same as content.",
          "enumDescriptions": [
            "The boilerplate handling is not specified.",
            "Do not analyze detected boilerplate. Reference web URI is required for detecting boilerplate.",
            "Treat boilerplate the same as content."
          ],
          "enum": [
            "BOILERPLATE_HANDLING_UNSPECIFIED",
            "SKIP_BOILERPLATE",
            "KEEP_BOILERPLATE"
          ]
        }
      },
      "description": "Represents the input to API methods.",
      "type": "object"
    },
    "AnnotateTextRequest": {
      "properties": {
        "features": {
          "description": "Required. The enabled features.",
          "$ref": "Features"
        },
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "encodingType": {
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "description": "The encoding type used by the API to calculate offsets.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request message for the text annotation API, which can perform multiple analysis types (sentiment, entities, and syntax) in one call.",
      "id": "AnnotateTextRequest"
    },
    "V1Model": {
      "description": "Options for the V1 model.",
      "properties": {},
      "id": "V1Model",
      "type": "object"
    },
    "AnalyzeSyntaxRequest": {
      "properties": {
        "encodingType": {
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "type": "string",
          "description": "The encoding type used by the API to calculate offsets."
        },
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        }
      },
      "id": "AnalyzeSyntaxRequest",
      "description": "The syntax analysis request message.",
      "type": "object"
    },
    "EntityMention": {
      "id": "EntityMention",
      "type": "object",
      "properties": {
        "text": {
          "description": "The mention text.",
          "$ref": "TextSpan"
        },
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment or if AnnotateTextRequest.Features.extract_entity_sentiment is set to true, this field will contain the sentiment expressed for this mention of the entity in the provided document.",
          "$ref": "Sentiment"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Proper name",
            "Common noun (or noun compound)"
          ],
          "enum": [
            "TYPE_UNKNOWN",
            "PROPER",
            "COMMON"
          ],
          "description": "The type of the entity mention."
        }
      },
      "description": "Represents a mention for an entity in the text. Currently, proper noun mentions are supported."
    },
    "AnalyzeSyntaxResponse": {
      "properties": {
        "language": {
          "type": "string",
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details."
        },
        "tokens": {
          "type": "array",
          "items": {
            "$ref": "Token"
          },
          "description": "Tokens, along with their syntactic information, in the input document."
        },
        "sentences": {
          "description": "Sentences in the input document.",
          "type": "array",
          "items": {
            "$ref": "Sentence"
          }
        }
      },
      "id": "AnalyzeSyntaxResponse",
      "description": "The syntax analysis response message.",
      "type": "object"
    },
    "V2Model": {
      "type": "object",
      "properties": {
        "contentCategoriesVersion": {
          "type": "string",
          "enum": [
            "CONTENT_CATEGORIES_VERSION_UNSPECIFIED",
            "V1",
            "V2"
          ],
          "description": "The content categories used for classification.",
          "enumDescriptions": [
            "If `ContentCategoriesVersion` is not specified, this option will default to `V1`.",
            "Legacy content categories of our initial launch in 2017.",
            "Updated content categories in 2022."
          ]
        }
      },
      "description": "Options for the V2 model.",
      "id": "V2Model"
    },
    "AnalyzeSentimentRequest": {
      "type": "object",
      "description": "The sentiment analysis request message.",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "encodingType": {
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "description": "The encoding type used by the API to calculate sentence offsets for the sentence sentiment.",
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "type": "string"
        }
      },
      "id": "AnalyzeSentimentRequest"
    },
    "TextSpan": {
      "id": "TextSpan",
      "type": "object",
      "description": "Represents a text span in the input document.",
      "properties": {
        "beginOffset": {
          "description": "The API calculates the beginning offset of the content in the original document according to the EncodingType specified in the API request.",
          "type": "integer",
          "format": "int32"
        },
        "content": {
          "description": "The content of the text span, which is a substring of the document.",
          "type": "string"
        }
      }
    },
    "ModerateTextRequest": {
      "description": "The document moderation request message.",
      "type": "object",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        }
      },
      "id": "ModerateTextRequest"
    },
    "Sentence": {
      "type": "object",
      "description": "Represents a sentence in the input document.",
      "properties": {
        "text": {
          "$ref": "TextSpan",
          "description": "The sentence text."
        },
        "sentiment": {
          "description": "For calls to AnalyzeSentiment or if AnnotateTextRequest.Features.extract_document_sentiment is set to true, this field will contain the sentiment for the sentence.",
          "$ref": "Sentiment"
        }
      },
      "id": "Sentence"
    }
  },
  "ownerDomain": "google.com",
  "servicePath": ""
}
