{
  "baseUrl": "https://www.googleapis.com/",
  "rootUrl": "https://www.googleapis.com/",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.licensing": {
          "description": "View and manage G Suite licenses for your domain"
        }
      }
    }
  },
  "revision": "20201010",
  "version": "v1",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "title": "Enterprise License Manager API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "LicenseAssignmentInsert": {
      "description": "Representation of a license assignment.",
      "properties": {
        "userId": {
          "description": "Email id of the user",
          "annotations": {
            "required": [
              "licensing.licenseAssignments.insert"
            ]
          },
          "type": "string"
        }
      },
      "type": "object",
      "id": "LicenseAssignmentInsert"
    },
    "LicenseAssignment": {
      "description": "Representation of a license assignment.",
      "id": "LicenseAssignment",
      "type": "object",
      "properties": {
        "productName": {
          "type": "string",
          "description": "Display Name of the product."
        },
        "userId": {
          "annotations": {
            "required": [
              "licensing.licenseAssignments.update"
            ]
          },
          "type": "string",
          "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "productId": {
          "description": "A product's unique identifier. For more information about products in this version of the API, see Product and SKU IDs.",
          "type": "string",
          "annotations": {
            "required": [
              "licensing.licenseAssignments.update"
            ]
          }
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "skuId": {
          "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
          "type": "string",
          "annotations": {
            "required": [
              "licensing.licenseAssignments.update"
            ]
          }
        },
        "kind": {
          "default": "licensing#licenseAssignment",
          "description": "Identifies the resource as a LicenseAssignment.",
          "type": "string"
        },
        "skuName": {
          "type": "string",
          "description": "Display Name of the sku of the product."
        }
      }
    },
    "LicenseAssignmentList": {
      "id": "LicenseAssignmentList",
      "properties": {
        "items": {
          "type": "array",
          "description": "The LicenseAssignments in this page of results.",
          "items": {
            "$ref": "LicenseAssignment"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a collection of LicenseAssignments.",
          "default": "licensing#licenseAssignmentList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that you must submit in a subsequent request to retrieve additional license results matching your query parameters. The maxResults query string is related to the nextPageToken since maxResults determines how many entries are returned on each next page."
        }
      },
      "type": "object"
    }
  },
  "description": "The Google Enterprise License Manager API's allows you to license apps for all the users of a domain managed by you.",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/admin-sdk/licensing/",
  "batchPath": "batch/licensing/v1",
  "discoveryVersion": "v1",
  "basePath": "",
  "resources": {
    "licenseAssignments": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "LicenseAssignmentInsert"
          },
          "httpMethod": "POST",
          "parameters": {
            "productId": {
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "skuId": {
              "required": true,
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "parameterOrder": [
            "productId",
            "skuId"
          ],
          "description": "Assign a license.",
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user",
          "id": "licensing.licenseAssignments.insert",
          "response": {
            "$ref": "LicenseAssignment"
          }
        },
        "patch": {
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "description": "Patch a Licensing info via Apiary Patch Orchestration",
          "response": {
            "$ref": "LicenseAssignment"
          },
          "parameters": {
            "userId": {
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "location": "path",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "type": "string",
              "required": true
            },
            "skuId": {
              "required": true,
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "licensing.licenseAssignments.patch",
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "LicenseAssignment"
          }
        },
        "update": {
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "response": {
            "$ref": "LicenseAssignment"
          },
          "request": {
            "$ref": "LicenseAssignment"
          },
          "httpMethod": "PUT",
          "description": "Reassign a user's product SKU with a different SKU in the same product.",
          "parameters": {
            "userId": {
              "type": "string",
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes.",
              "location": "path",
              "required": true
            },
            "skuId": {
              "required": true,
              "type": "string",
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "location": "path"
            },
            "productId": {
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "licensing.licenseAssignments.update",
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ]
        },
        "listForProduct": {
          "path": "apps/licensing/v1/product/{productId}/users",
          "parameterOrder": [
            "productId",
            "customerId"
          ],
          "response": {
            "$ref": "LicenseAssignmentList"
          },
          "id": "licensing.licenseAssignments.listForProduct",
          "flatPath": "apps/licensing/v1/product/{productId}/users",
          "httpMethod": "GET",
          "description": "List all users assigned licenses for a specific product SKU.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "parameters": {
            "customerId": {
              "description": "Customer's customerId. A previous version of this API accepted the primary domain name as a value for this field. If the customer is suspended, the server returns an error.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "productId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs."
            },
            "maxResults": {
              "maximum": "1000",
              "minimum": "1",
              "format": "uint32",
              "default": "100",
              "description": "The maxResults query string determines how many entries are returned on each page of a large response. This is an optional parameter. The value must be a positive number.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "default": "",
              "type": "string",
              "location": "query",
              "description": "Token to fetch the next page of data. The maxResults query string is related to the pageToken since maxResults determines how many entries are returned on each page. This is an optional query string. If not specified, the server returns the first page."
            }
          }
        },
        "listForProductAndSku": {
          "description": "List all users assigned licenses for a specific product SKU.",
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/users",
          "parameterOrder": [
            "productId",
            "skuId",
            "customerId"
          ],
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/users",
          "id": "licensing.licenseAssignments.listForProductAndSku",
          "parameters": {
            "customerId": {
              "description": "Customer's customerId. A previous version of this API accepted the primary domain name as a value for this field. If the customer is suspended, the server returns an error.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "default": "",
              "location": "query",
              "description": "Token to fetch the next page of data. The maxResults query string is related to the pageToken since maxResults determines how many entries are returned on each page. This is an optional query string. If not specified, the server returns the first page.",
              "type": "string"
            },
            "skuId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs."
            },
            "productId": {
              "location": "path",
              "required": true,
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "minimum": "1",
              "description": "The maxResults query string determines how many entries are returned on each page of a large response. This is an optional parameter. The value must be a positive number.",
              "format": "uint32",
              "location": "query",
              "default": "100",
              "maximum": "1000"
            }
          },
          "response": {
            "$ref": "LicenseAssignmentList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "httpMethod": "DELETE",
          "description": "Revoke a license.",
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "parameters": {
            "skuId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs."
            },
            "userId": {
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "productId": {
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "licensing.licenseAssignments.delete"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "description": "Get a specific user's license by product SKU.",
          "parameters": {
            "userId": {
              "required": true,
              "location": "path",
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes.",
              "type": "string"
            },
            "productId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs."
            },
            "skuId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs."
            }
          },
          "id": "licensing.licenseAssignments.get",
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "LicenseAssignment"
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "name": "licensing",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "id": "licensing:v1"
}
