{
  "kind": "discovery#restDescription",
  "schemas": {
    "LicenseAssignmentInsert": {
      "type": "object",
      "id": "LicenseAssignmentInsert",
      "properties": {
        "userId": {
          "annotations": {
            "required": [
              "licensing.licenseAssignments.insert"
            ]
          },
          "type": "string",
          "description": "Email id of the user"
        }
      },
      "description": "Representation of a license assignment."
    },
    "LicenseAssignment": {
      "id": "LicenseAssignment",
      "properties": {
        "skuName": {
          "description": "Display Name of the sku of the product.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes.",
          "annotations": {
            "required": [
              "licensing.licenseAssignments.update"
            ]
          }
        },
        "skuId": {
          "annotations": {
            "required": [
              "licensing.licenseAssignments.update"
            ]
          },
          "type": "string",
          "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs."
        },
        "productId": {
          "annotations": {
            "required": [
              "licensing.licenseAssignments.update"
            ]
          },
          "description": "A product's unique identifier. For more information about products in this version of the API, see Product and SKU IDs.",
          "type": "string"
        },
        "productName": {
          "description": "Display Name of the product.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the resource as a LicenseAssignment.",
          "type": "string",
          "default": "licensing#licenseAssignment"
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        }
      },
      "type": "object",
      "description": "Representation of a license assignment."
    },
    "LicenseAssignmentList": {
      "type": "object",
      "id": "LicenseAssignmentList",
      "properties": {
        "nextPageToken": {
          "description": "The token that you must submit in a subsequent request to retrieve additional license results matching your query parameters. The maxResults query string is related to the nextPageToken since maxResults determines how many entries are returned on each next page.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LicenseAssignment"
          },
          "description": "The LicenseAssignments in this page of results."
        },
        "kind": {
          "default": "licensing#licenseAssignmentList",
          "description": "Identifies the resource as a collection of LicenseAssignments.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/admin-sdk/licensing/",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20201005",
  "protocol": "rest",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "description": "The Google Enterprise License Manager API's allows you to license apps for all the users of a domain managed by you.",
  "ownerName": "Google",
  "mtlsRootUrl": "https://licensing.mtls.googleapis.com/",
  "basePath": "",
  "version": "v1",
  "rootUrl": "https://licensing.googleapis.com/",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "id": "licensing:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.licensing": {
          "description": "View and manage G Suite licenses for your domain"
        }
      }
    }
  },
  "resources": {
    "licenseAssignments": {
      "methods": {
        "patch": {
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "request": {
            "$ref": "LicenseAssignment"
          },
          "description": "Patch a Licensing info via Apiary Patch Orchestration",
          "response": {
            "$ref": "LicenseAssignment"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "userId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes."
            },
            "productId": {
              "required": true,
              "location": "path",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "type": "string"
            },
            "skuId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs."
            }
          },
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "id": "licensing.licenseAssignments.patch",
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}"
        },
        "get": {
          "parameters": {
            "productId": {
              "type": "string",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "location": "path",
              "required": true
            },
            "skuId": {
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "userId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes."
            }
          },
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "description": "Get a specific user's license by product SKU.",
          "httpMethod": "GET",
          "response": {
            "$ref": "LicenseAssignment"
          },
          "id": "licensing.licenseAssignments.get",
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "description": "Reassign a user's product SKU with a different SKU in the same product.",
          "parameters": {
            "productId": {
              "required": true,
              "location": "path",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "type": "string"
            },
            "skuId": {
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "userId": {
              "location": "path",
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes.",
              "type": "string",
              "required": true
            }
          },
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "id": "licensing.licenseAssignments.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "LicenseAssignment"
          },
          "response": {
            "$ref": "LicenseAssignment"
          },
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}"
        },
        "delete": {
          "parameters": {
            "productId": {
              "location": "path",
              "type": "string",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "required": true
            },
            "skuId": {
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "userId": {
              "type": "string",
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes.",
              "location": "path",
              "required": true
            }
          },
          "id": "licensing.licenseAssignments.delete",
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "description": "Revoke a license."
        },
        "listForProduct": {
          "flatPath": "apps/licensing/v1/product/{productId}/users",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "response": {
            "$ref": "LicenseAssignmentList"
          },
          "path": "apps/licensing/v1/product/{productId}/users",
          "id": "licensing.licenseAssignments.listForProduct",
          "httpMethod": "GET",
          "parameterOrder": [
            "productId",
            "customerId"
          ],
          "description": "List all users assigned licenses for a specific product SKU.",
          "parameters": {
            "maxResults": {
              "default": "100",
              "maximum": "1000",
              "description": "The maxResults query string determines how many entries are returned on each page of a large response. This is an optional parameter. The value must be a positive number.",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "format": "uint32"
            },
            "customerId": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "Customer's customerId. A previous version of this API accepted the primary domain name as a value for this field. If the customer is suspended, the server returns an error."
            },
            "pageToken": {
              "location": "query",
              "description": "Token to fetch the next page of data. The maxResults query string is related to the pageToken since maxResults determines how many entries are returned on each page. This is an optional query string. If not specified, the server returns the first page.",
              "default": "",
              "type": "string"
            },
            "productId": {
              "required": true,
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "listForProductAndSku": {
          "response": {
            "$ref": "LicenseAssignmentList"
          },
          "id": "licensing.licenseAssignments.listForProductAndSku",
          "description": "List all users assigned licenses for a specific product SKU.",
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/users",
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "location": "query",
              "maximum": "1000",
              "default": "100",
              "description": "The maxResults query string determines how many entries are returned on each page of a large response. This is an optional parameter. The value must be a positive number.",
              "type": "integer",
              "format": "uint32"
            },
            "productId": {
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "customerId": {
              "description": "Customer's customerId. A previous version of this API accepted the primary domain name as a value for this field. If the customer is suspended, the server returns an error.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "skuId": {
              "type": "string",
              "location": "path",
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "required": true
            },
            "pageToken": {
              "description": "Token to fetch the next page of data. The maxResults query string is related to the pageToken since maxResults determines how many entries are returned on each page. This is an optional query string. If not specified, the server returns the first page.",
              "location": "query",
              "type": "string",
              "default": ""
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "httpMethod": "GET",
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/users",
          "parameterOrder": [
            "productId",
            "skuId",
            "customerId"
          ]
        },
        "insert": {
          "request": {
            "$ref": "LicenseAssignmentInsert"
          },
          "parameters": {
            "productId": {
              "location": "path",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "required": true,
              "type": "string"
            },
            "skuId": {
              "location": "path",
              "type": "string",
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "required": true
            }
          },
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user",
          "response": {
            "$ref": "LicenseAssignment"
          },
          "description": "Assign a license.",
          "httpMethod": "POST",
          "id": "licensing.licenseAssignments.insert",
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user",
          "parameterOrder": [
            "productId",
            "skuId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ]
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "title": "Enterprise License Manager API",
  "name": "licensing",
  "baseUrl": "https://licensing.googleapis.com/"
}
