{
  "servicePath": "",
  "title": "Enterprise License Manager API",
  "revision": "20201010",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "LicenseAssignment": {
      "type": "object",
      "id": "LicenseAssignment",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a LicenseAssignment.",
          "type": "string",
          "default": "licensing#licenseAssignment"
        },
        "skuId": {
          "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
          "annotations": {
            "required": [
              "licensing.licenseAssignments.update"
            ]
          },
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "productName": {
          "type": "string",
          "description": "Display Name of the product."
        },
        "skuName": {
          "description": "Display Name of the sku of the product.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes.",
          "annotations": {
            "required": [
              "licensing.licenseAssignments.update"
            ]
          }
        },
        "productId": {
          "type": "string",
          "annotations": {
            "required": [
              "licensing.licenseAssignments.update"
            ]
          },
          "description": "A product's unique identifier. For more information about products in this version of the API, see Product and SKU IDs."
        },
        "etags": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "description": "Representation of a license assignment."
    },
    "LicenseAssignmentInsert": {
      "description": "Representation of a license assignment.",
      "properties": {
        "userId": {
          "type": "string",
          "annotations": {
            "required": [
              "licensing.licenseAssignments.insert"
            ]
          },
          "description": "Email id of the user"
        }
      },
      "id": "LicenseAssignmentInsert",
      "type": "object"
    },
    "LicenseAssignmentList": {
      "id": "LicenseAssignmentList",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a collection of LicenseAssignments.",
          "default": "licensing#licenseAssignmentList"
        },
        "nextPageToken": {
          "description": "The token that you must submit in a subsequent request to retrieve additional license results matching your query parameters. The maxResults query string is related to the nextPageToken since maxResults determines how many entries are returned on each next page.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LicenseAssignment"
          },
          "description": "The LicenseAssignments in this page of results."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.licensing": {
          "description": "View and manage G Suite licenses for your domain"
        }
      }
    }
  },
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "version": "v1",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "name": "licensing",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "id": "licensing:v1",
  "documentationLink": "https://developers.google.com/admin-sdk/licensing/",
  "rootUrl": "https://www.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    }
  },
  "basePath": "",
  "batchPath": "batch/licensing/v1",
  "description": "The Google Enterprise License Manager API's allows you to license apps for all the users of a domain managed by you.",
  "resources": {
    "licenseAssignments": {
      "methods": {
        "update": {
          "parameters": {
            "productId": {
              "type": "string",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "required": true,
              "location": "path"
            },
            "userId": {
              "required": true,
              "type": "string",
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes.",
              "location": "path"
            },
            "skuId": {
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "LicenseAssignment"
          },
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "request": {
            "$ref": "LicenseAssignment"
          },
          "id": "licensing.licenseAssignments.update",
          "description": "Reassign a user's product SKU with a different SKU in the same product.",
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ]
        },
        "listForProduct": {
          "path": "apps/licensing/v1/product/{productId}/users",
          "parameterOrder": [
            "productId",
            "customerId"
          ],
          "response": {
            "$ref": "LicenseAssignmentList"
          },
          "flatPath": "apps/licensing/v1/product/{productId}/users",
          "parameters": {
            "customerId": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "Customer's customerId. A previous version of this API accepted the primary domain name as a value for this field. If the customer is suspended, the server returns an error."
            },
            "maxResults": {
              "minimum": "1",
              "format": "uint32",
              "description": "The maxResults query string determines how many entries are returned on each page of a large response. This is an optional parameter. The value must be a positive number.",
              "type": "integer",
              "maximum": "1000",
              "location": "query",
              "default": "100"
            },
            "productId": {
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "description": "Token to fetch the next page of data. The maxResults query string is related to the pageToken since maxResults determines how many entries are returned on each page. This is an optional query string. If not specified, the server returns the first page.",
              "default": "",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "id": "licensing.licenseAssignments.listForProduct",
          "httpMethod": "GET",
          "description": "List all users assigned licenses for a specific product SKU."
        },
        "delete": {
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "userId": {
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "skuId": {
              "type": "string",
              "required": true,
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "location": "path"
            },
            "productId": {
              "location": "path",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "type": "string",
              "required": true
            }
          },
          "id": "licensing.licenseAssignments.delete",
          "description": "Revoke a license.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}"
        },
        "patch": {
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "request": {
            "$ref": "LicenseAssignment"
          },
          "response": {
            "$ref": "LicenseAssignment"
          },
          "description": "Patch a Licensing info via Apiary Patch Orchestration",
          "httpMethod": "PATCH",
          "id": "licensing.licenseAssignments.patch",
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "parameters": {
            "skuId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs."
            },
            "userId": {
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "productId": {
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ]
        },
        "insert": {
          "id": "licensing.licenseAssignments.insert",
          "httpMethod": "POST",
          "parameters": {
            "skuId": {
              "location": "path",
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "required": true,
              "type": "string"
            },
            "productId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs."
            }
          },
          "request": {
            "$ref": "LicenseAssignmentInsert"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user",
          "response": {
            "$ref": "LicenseAssignment"
          },
          "description": "Assign a license.",
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user",
          "parameterOrder": [
            "productId",
            "skuId"
          ]
        },
        "get": {
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "description": "Get a specific user's license by product SKU.",
          "response": {
            "$ref": "LicenseAssignment"
          },
          "parameterOrder": [
            "productId",
            "skuId",
            "userId"
          ],
          "id": "licensing.licenseAssignments.get",
          "parameters": {
            "userId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes."
            },
            "productId": {
              "required": true,
              "location": "path",
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs.",
              "type": "string"
            },
            "skuId": {
              "required": true,
              "type": "string",
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "location": "path"
            }
          },
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/user/{userId}"
        },
        "listForProductAndSku": {
          "id": "licensing.licenseAssignments.listForProductAndSku",
          "parameters": {
            "skuId": {
              "description": "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "description": "The maxResults query string determines how many entries are returned on each page of a large response. This is an optional parameter. The value must be a positive number.",
              "minimum": "1",
              "default": "100",
              "maximum": "1000",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "customerId": {
              "required": true,
              "type": "string",
              "description": "Customer's customerId. A previous version of this API accepted the primary domain name as a value for this field. If the customer is suspended, the server returns an error.",
              "location": "query"
            },
            "productId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "A product's unique identifier. For more information about products in this version of the API, see Products and SKUs."
            },
            "pageToken": {
              "description": "Token to fetch the next page of data. The maxResults query string is related to the pageToken since maxResults determines how many entries are returned on each page. This is an optional query string. If not specified, the server returns the first page.",
              "type": "string",
              "location": "query",
              "default": ""
            }
          },
          "flatPath": "apps/licensing/v1/product/{productId}/sku/{skuId}/users",
          "scopes": [
            "https://www.googleapis.com/auth/apps.licensing"
          ],
          "httpMethod": "GET",
          "path": "apps/licensing/v1/product/{productId}/sku/{skuId}/users",
          "response": {
            "$ref": "LicenseAssignmentList"
          },
          "description": "List all users assigned licenses for a specific product SKU.",
          "parameterOrder": [
            "productId",
            "skuId",
            "customerId"
          ]
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/"
}
