{
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "baseUrl": "https://localservices.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "resources": {
    "detailedLeadReports": {
      "methods": {
        "search": {
          "id": "localservices.detailedLeadReports.search",
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "type": "integer"
            },
            "startDate.day": {
              "location": "query",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional."
            },
            "startDate.year": {
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "type": "integer"
            },
            "endDate.month": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "endDate.year": {
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer",
              "location": "query"
            },
            "endDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32"
            },
            "startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "query": {
              "type": "string",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required.",
              "location": "query"
            }
          },
          "flatPath": "v1/detailedLeadReports:search",
          "path": "v1/detailedLeadReports:search",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          }
        }
      }
    },
    "accountReports": {
      "methods": {
        "search": {
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "flatPath": "v1/accountReports:search",
          "path": "v1/accountReports:search",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "startDate.day": {
              "format": "int32",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer"
            },
            "startDate.month": {
              "type": "integer",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32"
            },
            "pageSize": {
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "endDate.month": {
              "location": "query",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional.",
              "location": "query"
            },
            "startDate.year": {
              "location": "query",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32"
            },
            "endDate.year": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required."
            }
          },
          "id": "localservices.accountReports.search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "revision": "20211011",
  "name": "localservices",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "servicePath": "",
  "version": "v1",
  "description": "",
  "schemas": {
    "GoogleTypeTimeZone": {
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "GoogleTypeTimeZone"
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "description": "Container for booking lead specific information.",
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "properties": {
        "consumerEmail": {
          "type": "string",
          "description": "Consumer email associated with the booking lead."
        },
        "bookingAppointmentTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of when service is provided by advertiser."
        },
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the booking lead.",
          "type": "string"
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        },
        "accountReports": {
          "description": "List of account reports which maps 1:1 to a particular linked GLS account.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          }
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "type": "object",
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
      "properties": {
        "leadType": {
          "description": "Lead type.",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ],
          "type": "string",
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ]
        },
        "businessName": {
          "description": "Business name associated to the account.",
          "type": "string"
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the lead.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "bookingLead": {
          "description": "More information associated to only booking leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead"
        },
        "leadCreationTimestamp": {
          "description": "Timestamp of when the lead was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Identifies account that received the lead."
        },
        "messageLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
          "description": "More information associated to only message leads."
        },
        "disputeStatus": {
          "description": "Dispute status related to the lead.",
          "type": "string"
        },
        "leadCategory": {
          "description": "Lead category (e.g. hvac, plumber)",
          "type": "string"
        },
        "currencyCode": {
          "description": "Currency code.",
          "type": "string"
        },
        "geo": {
          "type": "string",
          "description": "Location of the associated account's home city."
        },
        "timezone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Timezone of the particular provider associated to a lead."
        },
        "leadPrice": {
          "format": "double",
          "description": "Price of the lead (available only after it has been charged).",
          "type": "number"
        },
        "chargeStatus": {
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "description": "Whether the lead has been charged."
        },
        "leadId": {
          "description": "Unique identifier of a Detailed Lead Report.",
          "format": "int64",
          "type": "string"
        },
        "phoneLead": {
          "description": "More information associated to only phone leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
    },
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "properties": {
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the phone lead."
        },
        "chargedConnectedCallDurationSeconds": {
          "format": "google-duration",
          "description": "Duration of the charged phone call in seconds.",
          "type": "string"
        },
        "chargedCallTimestamp": {
          "format": "google-datetime",
          "description": "Timestamp of the phone call which resulted in a charged phone lead.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Container for phone lead specific information."
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object",
      "properties": {
        "detailedLeadReports": {
          "description": "List of detailed lead reports uniquely identified by external lead id.",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "properties": {
        "aggregatorProviderId": {
          "type": "string",
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system."
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "type": "object",
      "properties": {
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the customer who created the lead."
        },
        "jobType": {
          "type": "string",
          "description": "The job type of the specified lead."
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the message lead."
        }
      },
      "description": "Container for message lead specific information.",
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "properties": {
        "currentPeriodTotalCost": {
          "format": "double",
          "type": "number",
          "description": "Total cost of the account in current specified period in the account's specified currency."
        },
        "impressionsLastTwoDays": {
          "type": "string",
          "format": "int64",
          "description": "Number of impressions that customers have had in the past 2 days."
        },
        "currentPeriodConnectedPhoneCalls": {
          "description": "Number of connected phone calls (duration over 30s) in current specified period.",
          "format": "int64",
          "type": "string"
        },
        "averageWeeklyBudget": {
          "format": "double",
          "type": "number",
          "description": "Average weekly budget in the currency code of the account."
        },
        "averageFiveStarRating": {
          "format": "double",
          "type": "number",
          "description": "Average review rating score from 1-5 stars."
        },
        "totalReview": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of reviews the account has up to current date."
        },
        "currentPeriodChargedLeads": {
          "format": "int64",
          "description": "Number of charged leads the account received in current specified period.",
          "type": "string"
        },
        "previousPeriodChargedLeads": {
          "type": "string",
          "format": "int64",
          "description": "Number of charged leads the account received in previous specified period."
        },
        "businessName": {
          "type": "string",
          "description": "Business name of the account."
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the account."
        },
        "previousPeriodTotalCost": {
          "description": "Total cost of the account in previous specified period in the account's specified currency.",
          "type": "number",
          "format": "double"
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code of the account."
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Unique identifier of the GLS account."
        },
        "previousPeriodPhoneCalls": {
          "format": "int64",
          "type": "string",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls."
        },
        "currentPeriodPhoneCalls": {
          "format": "int64",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls.",
          "type": "string"
        },
        "previousPeriodConnectedPhoneCalls": {
          "description": "Number of connected phone calls (duration over 30s) in previous specified period.",
          "type": "string",
          "format": "int64"
        },
        "phoneLeadResponsiveness": {
          "format": "double",
          "type": "number",
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received."
        }
      }
    }
  },
  "canonicalName": "Localservices",
  "basePath": "",
  "rootUrl": "https://localservices.googleapis.com/",
  "id": "localservices:v1",
  "protocol": "rest",
  "version_module": true,
  "ownerDomain": "google.com",
  "title": "Local Services API",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "Manage your AdWords campaigns"
        }
      }
    }
  }
}
