{
  "discoveryVersion": "v1",
  "canonicalName": "Localservices",
  "ownerDomain": "google.com",
  "revision": "20201012",
  "fullyEncodeReservedExpansion": true,
  "id": "localservices:v1",
  "version_module": true,
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "protocol": "rest",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://localservices.googleapis.com/",
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "basePath": "",
  "title": "Local Services API",
  "resources": {
    "detailedLeadReports": {
      "methods": {
        "search": {
          "flatPath": "v1/detailedLeadReports:search",
          "id": "localservices.detailedLeadReports.search",
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "parameters": {
            "startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "startDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required."
            },
            "endDate.day": {
              "format": "int32",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional."
            },
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional.",
              "location": "query",
              "type": "string"
            },
            "endDate.year": {
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "location": "query"
            },
            "startDate.day": {
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32",
              "type": "integer"
            },
            "endDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1/detailedLeadReports:search"
        }
      }
    },
    "accountReports": {
      "methods": {
        "search": {
          "id": "localservices.accountReports.search",
          "path": "v1/accountReports:search",
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "httpMethod": "GET",
          "parameters": {
            "startDate.month": {
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer"
            },
            "endDate.month": {
              "location": "query",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32"
            },
            "endDate.year": {
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional."
            },
            "query": {
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "type": "string"
            },
            "startDate.year": {
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "type": "integer"
            },
            "startDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32"
            },
            "endDate.day": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            }
          },
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "flatPath": "v1/accountReports:search",
          "parameterOrder": []
        }
      }
    }
  },
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "name": "localservices",
  "description": "",
  "servicePath": "",
  "schemas": {
    "GoogleTypeTimeZone": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\"."
        }
      },
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "type": "object",
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        },
        "detailedLeadReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          },
          "type": "array",
          "description": "List of detailed lead reports uniquely identified by external lead id."
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "properties": {
        "aggregatorProviderId": {
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
      "properties": {
        "leadType": {
          "type": "string",
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL"
          ],
          "description": "Lead type.",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead."
          ]
        },
        "accountId": {
          "description": "Identifies account that received the lead.",
          "type": "string",
          "format": "int64"
        },
        "leadPrice": {
          "type": "number",
          "description": "Price of the lead (available only after it has been charged).",
          "format": "double"
        },
        "chargeStatus": {
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "description": "Whether the lead has been charged.",
          "type": "string",
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ]
        },
        "leadCreationTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when the lead was created."
        },
        "leadId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of a Detailed Lead Report."
        },
        "messageLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
          "description": "More information associated to only message leads."
        },
        "disputeStatus": {
          "type": "string",
          "description": "Dispute status related to the lead."
        },
        "leadCategory": {
          "description": "Lead category (e.g. hvac, plumber)",
          "type": "string"
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the lead.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "phoneLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
          "description": "More information associated to only phone leads."
        },
        "currencyCode": {
          "description": "Currency code.",
          "type": "string"
        },
        "geo": {
          "type": "string",
          "description": "Location of the associated account's home city."
        },
        "businessName": {
          "type": "string",
          "description": "Business name associated to the account."
        },
        "timezone": {
          "description": "Timezone of the particular provider associated to a lead.",
          "$ref": "GoogleTypeTimeZone"
        }
      },
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "description": "Container for phone lead specific information.",
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "type": "object",
      "properties": {
        "chargedCallTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the phone call which resulted in a charged phone lead."
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the phone lead."
        },
        "chargedConnectedCallDurationSeconds": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of the charged phone call in seconds."
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object",
      "properties": {
        "accountReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "description": "List of account reports which maps 1:1 to a particular linked GLS account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "type": "object",
      "properties": {
        "businessName": {
          "type": "string",
          "description": "Business name of the account."
        },
        "totalReview": {
          "description": "Total number of reviews the account has up to current date.",
          "type": "integer",
          "format": "int32"
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code of the account."
        },
        "averageWeeklyBudget": {
          "description": "Average weekly budget in the currency code of the account.",
          "type": "number",
          "format": "double"
        },
        "averageFiveStarRating": {
          "description": "Average review rating score from 1-5 stars.",
          "type": "number",
          "format": "double"
        },
        "currentPeriodChargedLeads": {
          "description": "Number of charged leads the account received in current specified period.",
          "format": "int64",
          "type": "string"
        },
        "previousPeriodChargedLeads": {
          "format": "int64",
          "type": "string",
          "description": "Number of charged leads the account received in previous specified period."
        },
        "previousPeriodConnectedPhoneCalls": {
          "format": "int64",
          "type": "string",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period."
        },
        "currentPeriodTotalCost": {
          "type": "number",
          "format": "double",
          "description": "Total cost of the account in current specified period in the account's specified currency."
        },
        "currentPeriodPhoneCalls": {
          "format": "int64",
          "type": "string",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls."
        },
        "currentPeriodConnectedPhoneCalls": {
          "type": "string",
          "description": "Number of connected phone calls (duration over 30s) in current specified period.",
          "format": "int64"
        },
        "phoneLeadResponsiveness": {
          "type": "number",
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "format": "double"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of the GLS account."
        },
        "previousPeriodTotalCost": {
          "format": "double",
          "description": "Total cost of the account in previous specified period in the account's specified currency.",
          "type": "number"
        },
        "previousPeriodPhoneCalls": {
          "format": "int64",
          "type": "string",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls."
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range."
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "type": "object",
      "properties": {
        "postalCode": {
          "type": "string",
          "description": "The postal code of the customer who created the lead."
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the message lead."
        },
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        }
      },
      "description": "Container for message lead specific information.",
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
    }
  },
  "baseUrl": "https://localservices.googleapis.com/"
}
