{
  "title": "Cloud Logging API",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Logging",
  "fullyEncodeReservedExpansion": true,
  "name": "logging",
  "batchPath": "batch",
  "revision": "20230727",
  "servicePath": "",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "id": "logging:v2",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/logging.admin": {
          "description": "Administrate log data for your projects"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/logging.write": {
          "description": "Submit log data for your projects"
        },
        "https://www.googleapis.com/auth/logging.read": {
          "description": "View log data for your projects"
        }
      }
    }
  },
  "ownerName": "Google",
  "schemas": {
    "WriteLogEntriesRequest": {
      "description": "The parameters to WriteLogEntries.",
      "properties": {
        "partialSuccess": {
          "type": "boolean",
          "description": "Optional. Whether a batch's valid entries should be written even if some other entry failed due to a permanent error such as INVALID_ARGUMENT or PERMISSION_DENIED. If any entry failed, then the response status is the response status of one of the failed entries. The response will include error details in WriteLogEntriesPartialErrors.log_entry_errors keyed by the entries' zero-based index in the entries. Failed requests for which no entries are written will not include per-entry errors."
        },
        "entries": {
          "items": {
            "$ref": "LogEntry"
          },
          "type": "array",
          "description": "Required. The log entries to send to Logging. The order of log entries in this list does not matter. Values supplied in this method's log_name, resource, and labels fields are copied into those log entries in this list that do not include values for their corresponding fields. For more information, see the LogEntry type.If the timestamp or insert_id fields are missing in log entries, then this method supplies the current time or a unique identifier, respectively. The supplied values are chosen so that, among the log entries that did not supply their own values, the entries earlier in the list will sort before the entries later in the list. See the entries.list method.Log entries with timestamps that are more than the logs retention period (https://cloud.google.com/logging/quotas) in the past or more than 24 hours in the future will not be available when calling entries.list. However, those log entries can still be exported with LogSinks (https://cloud.google.com/logging/docs/api/tasks/exporting-logs).To improve throughput and to avoid exceeding the quota limit (https://cloud.google.com/logging/quotas) for calls to entries.write, you should try to include several log entries in this list, rather than calling this method for each individual log entry."
        },
        "dryRun": {
          "description": "Optional. If true, the request should expect normal response, but the entries won't be persisted nor exported. Useful for checking whether the logging API endpoints are working properly before sending valuable data.",
          "type": "boolean"
        },
        "logName": {
          "type": "string",
          "description": "Optional. A default log resource name that is assigned to all log entries in entries that do not specify a value for log_name: projects/[PROJECT_ID]/logs/[LOG_ID] organizations/[ORGANIZATION_ID]/logs/[LOG_ID] billingAccounts/[BILLING_ACCOUNT_ID]/logs/[LOG_ID] folders/[FOLDER_ID]/logs/[LOG_ID][LOG_ID] must be URL-encoded. For example: \"projects/my-project-id/logs/syslog\" \"organizations/123/logs/cloudaudit.googleapis.com%2Factivity\" The permission logging.logEntries.create is needed on each project, organization, billing account, or folder that is receiving new log entries, whether the resource is specified in logName or in an individual log entry."
        },
        "resource": {
          "$ref": "MonitoredResource",
          "description": "Optional. A default monitored resource object that is assigned to all log entries in entries that do not specify a value for resource. Example: { \"type\": \"gce_instance\", \"labels\": { \"zone\": \"us-central1-a\", \"instance_id\": \"00000000000000000000\" }} See LogEntry."
        },
        "labels": {
          "description": "Optional. Default labels that are added to the labels field of all log entries in entries. If a log entry already has a label with the same key as a label in this parameter, then the log entry's label is not changed. See LogEntry.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "WriteLogEntriesRequest"
    },
    "LogEntryOperation": {
      "id": "LogEntryOperation",
      "description": "Additional information about a potentially long-running operation with which a log entry is associated.",
      "type": "object",
      "properties": {
        "first": {
          "type": "boolean",
          "description": "Optional. Set this to True if this is the first log entry in the operation."
        },
        "id": {
          "description": "Optional. An arbitrary operation identifier. Log entries with the same identifier are assumed to be part of the same operation.",
          "type": "string"
        },
        "producer": {
          "description": "Optional. An arbitrary producer identifier. The combination of id and producer must be globally unique. Examples for producer: \"MyDivision.MyBigCompany.com\", \"github.com/MyProject/MyApplication\".",
          "type": "string"
        },
        "last": {
          "type": "boolean",
          "description": "Optional. Set this to True if this is the last log entry in the operation."
        }
      }
    },
    "HttpRequest": {
      "id": "HttpRequest",
      "description": "A common proto for logging HTTP requests. Only contains semantics defined by the HTTP specification. Product-specific logging information MUST be defined in a separate message.",
      "properties": {
        "serverIp": {
          "description": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: \"192.168.1.1\", \"10.0.0.1:80\", \"FE80::0202:B3FF:FE1E:8329\".",
          "type": "string"
        },
        "cacheLookup": {
          "type": "boolean",
          "description": "Whether or not a cache lookup was attempted."
        },
        "cacheHit": {
          "type": "boolean",
          "description": "Whether or not an entity was served from cache (with or without validation)."
        },
        "cacheFillBytes": {
          "type": "string",
          "format": "int64",
          "description": "The number of HTTP response bytes inserted into cache. Set only when a cache fill was attempted."
        },
        "remoteIp": {
          "type": "string",
          "description": "The IP address (IPv4 or IPv6) of the client that issued the HTTP request. This field can include port information. Examples: \"192.168.1.1\", \"10.0.0.1:80\", \"FE80::0202:B3FF:FE1E:8329\"."
        },
        "requestUrl": {
          "description": "The scheme (http, https), the host name, the path and the query portion of the URL that was requested. Example: \"http://example.com/some/info?color=red\".",
          "type": "string"
        },
        "latency": {
          "format": "google-duration",
          "type": "string",
          "description": "The request processing latency on the server, from the time the request was received until the response was sent."
        },
        "responseSize": {
          "format": "int64",
          "description": "The size of the HTTP response message sent back to the client, in bytes, including the response headers and the response body.",
          "type": "string"
        },
        "cacheValidatedWithOriginServer": {
          "description": "Whether or not the response was validated with the origin server before being served from cache. This field is only meaningful if cache_hit is True.",
          "type": "boolean"
        },
        "userAgent": {
          "description": "The user agent sent by the client. Example: \"Mozilla/4.0 (compatible; MSIE 6.0; Windows 98; Q312461; .NET CLR 1.0.3705)\".",
          "type": "string"
        },
        "referer": {
          "type": "string",
          "description": "The referer URL of the request, as defined in HTTP/1.1 Header Field Definitions (https://datatracker.ietf.org/doc/html/rfc2616#section-14.36)."
        },
        "requestSize": {
          "format": "int64",
          "type": "string",
          "description": "The size of the HTTP request message in bytes, including the request headers and the request body."
        },
        "requestMethod": {
          "description": "The request method. Examples: \"GET\", \"HEAD\", \"PUT\", \"POST\".",
          "type": "string"
        },
        "status": {
          "description": "The response code indicating the status of response. Examples: 200, 404.",
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "description": "Protocol used for the request. Examples: \"HTTP/1.1\", \"HTTP/2\", \"websocket\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CopyLogEntriesRequest": {
      "properties": {
        "name": {
          "description": "Required. Log bucket from which to copy log entries.For example:\"projects/my-project/locations/global/buckets/my-source-bucket\"",
          "type": "string"
        },
        "destination": {
          "description": "Required. Destination to which to copy log entries.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. A filter specifying which log entries to copy. The filter must be no more than 20k characters. An empty filter matches all log entries.",
          "type": "string"
        }
      },
      "description": "The parameters to CopyLogEntries.",
      "type": "object",
      "id": "CopyLogEntriesRequest"
    },
    "Explicit": {
      "id": "Explicit",
      "properties": {
        "bounds": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "The values must be monotonically increasing."
        }
      },
      "type": "object",
      "description": "Specifies a set of buckets with arbitrary widths.There are size(bounds) + 1 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): boundsi Lower bound (1 \u003c= i \u003c N); boundsi - 1The bounds field must contain at least one element. If bounds has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets."
    },
    "SourceReference": {
      "type": "object",
      "properties": {
        "revisionId": {
          "description": "The canonical and persistent identifier of the deployed revision. Example (git): \"0035781c50ec7aa23385dc841529ce8a4b70db1b\"",
          "type": "string"
        },
        "repository": {
          "description": "Optional. A URI string identifying the repository. Example: \"https://github.com/GoogleCloudPlatform/kubernetes.git\"",
          "type": "string"
        }
      },
      "description": "A reference to a particular snapshot of the source tree used to build and deploy an application.",
      "id": "SourceReference"
    },
    "Linear": {
      "type": "object",
      "description": "Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): offset + (width * i).Lower bound (1 \u003c= i \u003c N): offset + (width * (i - 1)).",
      "id": "Linear",
      "properties": {
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "format": "int32",
          "type": "integer"
        },
        "offset": {
          "type": "number",
          "format": "double",
          "description": "Lower bound of the first bucket."
        },
        "width": {
          "type": "number",
          "description": "Must be greater than 0.",
          "format": "double"
        }
      }
    },
    "LogSplit": {
      "description": "Additional information used to correlate multiple log entries. Used when a single LogEntry would exceed the Google Cloud Logging size limit and is split across multiple log entries.",
      "properties": {
        "totalSplits": {
          "type": "integer",
          "description": "The total number of log entries that the original LogEntry was split into.",
          "format": "int32"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The index of this LogEntry in the sequence of split log entries. Log entries are given |index| values 0, 1, ..., n-1 for a sequence of n log entries."
        },
        "uid": {
          "description": "A globally unique identifier for all log entries in a sequence of split log entries. All log entries with the same |LogSplit.uid| are assumed to be part of the same sequence of split log entries.",
          "type": "string"
        }
      },
      "id": "LogSplit",
      "type": "object"
    },
    "DeleteLinkRequest": {
      "properties": {
        "name": {
          "description": "Required. The full resource name of the link to delete.\"projects/PROJECT_ID/locations/LOCATION_ID/buckets/BUCKET_ID/links/LINK_ID\" \"organizations/ORGANIZATION_ID/locations/LOCATION_ID/buckets/BUCKET_ID/links/LINK_ID\" \"billingAccounts/BILLING_ACCOUNT_ID/locations/LOCATION_ID/buckets/BUCKET_ID/links/LINK_ID\" \"folders/FOLDER_ID/locations/LOCATION_ID/buckets/BUCKET_ID/links/LINK_ID\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DeleteLinkRequest",
      "description": "The parameters to DeleteLink."
    },
    "ListLogMetricsResponse": {
      "id": "ListLogMetricsResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "description": "A list of logs-based metrics.",
          "items": {
            "$ref": "LogMetric"
          }
        }
      },
      "type": "object",
      "description": "Result returned from ListLogMetrics."
    },
    "TailLogEntriesResponse": {
      "id": "TailLogEntriesResponse",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          },
          "description": "A list of log entries. Each response in the stream will order entries with increasing values of LogEntry.timestamp. Ordering is not guaranteed between separate responses."
        },
        "suppressionInfo": {
          "description": "If entries that otherwise would have been included in the session were not sent back to the client, counts of relevant entries omitted from the session with the reason that they were not included. There will be at most one of each reason per response. The counts represent the number of suppressed entries since the last streamed response.",
          "type": "array",
          "items": {
            "$ref": "SuppressionInfo"
          }
        }
      },
      "description": "Result returned from TailLogEntries.",
      "type": "object"
    },
    "LogMetric": {
      "description": "Describes a logs-based metric. The value of the metric is the number of log entries that match a logs filter in a given time interval.Logs-based metrics can also be used to extract values from logs and create a distribution of the values. The distribution records the statistics of the extracted values along with an optional histogram of the values as specified by the bucket options.",
      "id": "LogMetric",
      "type": "object",
      "properties": {
        "metricDescriptor": {
          "$ref": "MetricDescriptor",
          "description": "Optional. The metric descriptor associated with the logs-based metric. If unspecified, it uses a default metric descriptor with a DELTA metric kind, INT64 value type, with no labels and a unit of \"1\". Such a metric counts the number of log entries matching the filter expression.The name, type, and description fields in the metric_descriptor are output only, and is constructed using the name and description field in the LogMetric.To create a logs-based metric that records a distribution of log values, a DELTA metric kind with a DISTRIBUTION value type must be used along with a value_extractor expression in the LogMetric.Each label in the metric descriptor must have a matching label name as the key and an extractor expression as the value in the label_extractors map.The metric_kind and value_type fields in the metric_descriptor cannot be updated once initially configured. New labels can be added in the metric_descriptor, but existing labels cannot be modified except for their description."
        },
        "valueExtractor": {
          "type": "string",
          "description": "Optional. A value_extractor is required when using a distribution logs-based metric to extract the values to record from a log entry. Two functions are supported for value extraction: EXTRACT(field) or REGEXP_EXTRACT(field, regex). The arguments are: field: The name of the log entry field from which the value is to be extracted. regex: A regular expression using the Google RE2 syntax (https://github.com/google/re2/wiki/Syntax) with a single capture group to extract data from the specified log entry field. The value of the field is converted to a string before applying the regex. It is an error to specify a regex that does not include exactly one capture group.The result of the extraction must be convertible to a double type, as the distribution always records double values. If either the extraction or the conversion to double fails, then those values are not recorded in the distribution.Example: REGEXP_EXTRACT(jsonPayload.request, \".*quantity=(\\d+).*\")"
        },
        "name": {
          "description": "Required. The client-assigned metric identifier. Examples: \"error_count\", \"nginx/requests\".Metric identifiers are limited to 100 characters and can include only the following characters: A-Z, a-z, 0-9, and the special characters _-.,+!*',()%/. The forward-slash character (/) denotes a hierarchy of name pieces, and it cannot be the first character of the name.This field is the [METRIC_ID] part of a metric resource name in the format \"projects/PROJECT_ID/metrics/METRIC_ID\". Example: If the resource name of a metric is \"projects/my-project/metrics/nginx%2Frequests\", this field's value is \"nginx/requests\".",
          "type": "string"
        },
        "version": {
          "description": "Deprecated. The API version that created or updated this metric. The v2 format is used by default and cannot be changed.",
          "type": "string",
          "enumDescriptions": [
            "Logging API v2.",
            "Logging API v1."
          ],
          "deprecated": true,
          "enum": [
            "V2",
            "V1"
          ]
        },
        "disabled": {
          "description": "Optional. If set to True, then this metric is disabled and it does not generate any points.",
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of the metric.This field may not be present for older metrics."
        },
        "bucketName": {
          "type": "string",
          "description": "Optional. The resource name of the Log Bucket that owns the Log Metric. Only Log Buckets in projects are supported. The bucket has to be in the same project as the metric.For example:projects/my-project/locations/global/buckets/my-bucketIf empty, then the Log Metric is considered a non-Bucket Log Metric."
        },
        "filter": {
          "description": "Required. An advanced logs filter (https://cloud.google.com/logging/docs/view/advanced_filters) which is used to match log entries. Example: \"resource.type=gae_app AND severity\u003e=ERROR\" The maximum length of the filter is 20000 characters.",
          "type": "string"
        },
        "labelExtractors": {
          "description": "Optional. A map from a label key string to an extractor expression which is used to extract data from a log entry field and assign as the label value. Each label key specified in the LabelDescriptor must have an associated extractor expression in this map. The syntax of the extractor expression is the same as for the value_extractor field.The extracted value is converted to the type defined in the label descriptor. If either the extraction or the type conversion fails, the label will have a default value. The default value for a string label is an empty string, for an integer label its 0, and for a boolean label its false.Note that there are upper bounds on the maximum number of labels and the number of active time series that are allowed in a project.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A description of this metric, which is used in documentation. The maximum length of the description is 8000 characters.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last update timestamp of the metric.This field may not be present for older metrics.",
          "format": "google-datetime",
          "readOnly": true
        },
        "bucketOptions": {
          "$ref": "BucketOptions",
          "description": "Optional. The bucket_options are required when the logs-based metric is using a DISTRIBUTION value type and it describes the bucket boundaries used to create a histogram of the extracted values."
        }
      }
    },
    "LogEntry": {
      "type": "object",
      "id": "LogEntry",
      "properties": {
        "httpRequest": {
          "description": "Optional. Information about the HTTP request associated with this log entry, if applicable.",
          "$ref": "HttpRequest"
        },
        "spanId": {
          "description": "Optional. The ID of the Cloud Trace (https://cloud.google.com/trace) span associated with the current operation in which the log is being written. For example, if a span has the REST resource name of \"projects/some-project/traces/some-trace/spans/some-span-id\", then the span_id field is \"some-span-id\".A Span (https://cloud.google.com/trace/docs/reference/v2/rest/v2/projects.traces/batchWrite#Span) represents a single operation within a trace. Whereas a trace may involve multiple different microservices running on multiple different machines, a span generally corresponds to a single logical operation being performed in a single instance of a microservice on one specific machine. Spans are the nodes within the tree that is a trace.Applications that are instrumented for tracing (https://cloud.google.com/trace/docs/setup) will generally assign a new, unique span ID on each incoming request. It is also common to create and record additional spans corresponding to internal processing elements as well as issuing requests to dependencies.The span ID is expected to be a 16-character, hexadecimal encoding of an 8-byte array and should not be zero. It should be unique within the trace and should, ideally, be generated in a manner that is uniformly random.Example values: 000000000000004a 7a2190356c3fc94b 0000f00300090021 d39223e101960076",
          "type": "string"
        },
        "logName": {
          "type": "string",
          "description": "Required. The resource name of the log to which this log entry belongs: \"projects/[PROJECT_ID]/logs/[LOG_ID]\" \"organizations/[ORGANIZATION_ID]/logs/[LOG_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/logs/[LOG_ID]\" \"folders/[FOLDER_ID]/logs/[LOG_ID]\" A project number may be used in place of PROJECT_ID. The project number is translated to its corresponding PROJECT_ID internally and the log_name field will contain PROJECT_ID in queries and exports.[LOG_ID] must be URL-encoded within log_name. Example: \"organizations/1234567890/logs/cloudresourcemanager.googleapis.com%2Factivity\".[LOG_ID] must be less than 512 characters long and can only include the following characters: upper and lower case alphanumeric characters, forward-slash, underscore, hyphen, and period.For backward compatibility, if log_name begins with a forward-slash, such as /projects/..., then the log entry is processed as usual, but the forward-slash is removed. Listing the log entry will not show the leading slash and filtering for a log name with a leading slash will never return any results."
        },
        "metadata": {
          "$ref": "MonitoredResourceMetadata",
          "readOnly": true,
          "description": "Output only. Deprecated. This field is not used by Logging. Any value written to it is cleared.",
          "deprecated": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. A map of key, value pairs that provides additional information about the log entry. The labels can be user-defined or system-defined.User-defined labels are arbitrary key, value pairs that you can use to classify logs.System-defined labels are defined by GCP services for platform logs. They have two components - a service namespace component and the attribute name. For example: compute.googleapis.com/resource_name.Cloud Logging truncates label keys that exceed 512 B and label values that exceed 64 KB upon their associated log entry being written. The truncation is indicated by an ellipsis at the end of the character string.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "textPayload": {
          "type": "string",
          "description": "The log entry payload, represented as a Unicode string (UTF-8)."
        },
        "jsonPayload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The log entry payload, represented as a structure that is expressed as a JSON object."
        },
        "traceSampled": {
          "type": "boolean",
          "description": "Optional. The sampling decision of the trace associated with the log entry.True means that the trace resource name in the trace field was sampled for storage in a trace backend. False means that the trace was not sampled for storage when this log entry was written, or the sampling decision was unknown at the time. A non-sampled trace value is still useful as a request correlation identifier. The default is False."
        },
        "receiveTimestamp": {
          "type": "string",
          "description": "Output only. The time the log entry was received by Logging.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "insertId": {
          "type": "string",
          "description": "Optional. A unique identifier for the log entry. If you provide a value, then Logging considers other log entries in the same project, with the same timestamp, and with the same insert_id to be duplicates which are removed in a single query result. However, there are no guarantees of de-duplication in the export of logs.If the insert_id is omitted when writing a log entry, the Logging API assigns its own unique identifier in this field.In queries, the insert_id is also used to order log entries that have the same log_name and timestamp values."
        },
        "split": {
          "$ref": "LogSplit",
          "description": "Optional. Information indicating this LogEntry is part of a sequence of multiple log entries split from a single LogEntry."
        },
        "trace": {
          "type": "string",
          "description": "Optional. The REST resource name of the trace being written to Cloud Trace (https://cloud.google.com/trace) in association with this log entry. For example, if your trace data is stored in the Cloud project \"my-trace-project\" and if the service that is creating the log entry receives a trace header that includes the trace ID \"12345\", then the service should use \"projects/my-tracing-project/traces/12345\".The trace field provides the link between logs and traces. By using this field, you can navigate from a log entry to a trace."
        },
        "operation": {
          "description": "Optional. Information about an operation associated with the log entry, if applicable.",
          "$ref": "LogEntryOperation"
        },
        "protoPayload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The log entry payload, represented as a protocol buffer. Some Google Cloud Platform services use this field for their log entry payloads.The following protocol buffer types are supported; user-defined types are not supported:\"type.googleapis.com/google.cloud.audit.AuditLog\" \"type.googleapis.com/google.appengine.logging.v1.RequestLog\"",
          "type": "object"
        },
        "resource": {
          "description": "Required. The monitored resource that produced this log entry.Example: a log entry that reports a database error would be associated with the monitored resource designating the particular database that reported the error.",
          "$ref": "MonitoredResource"
        },
        "severity": {
          "enumDescriptions": [
            "(0) The log entry has no assigned severity level.",
            "(100) Debug or trace information.",
            "(200) Routine information, such as ongoing status or performance.",
            "(300) Normal but significant events, such as start up, shut down, or a configuration change.",
            "(400) Warning events might cause problems.",
            "(500) Error events are likely to cause problems.",
            "(600) Critical events cause more severe problems or outages.",
            "(700) A person must take an action immediately.",
            "(800) One or more systems are unusable."
          ],
          "enum": [
            "DEFAULT",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ],
          "description": "Optional. The severity of the log entry. The default value is LogSeverity.DEFAULT.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time the event described by the log entry occurred. This time is used to compute the log entry's age and to enforce the logs retention period. If this field is omitted in a new log entry, then Logging assigns it the current time. Timestamps have nanosecond accuracy, but trailing zeros in the fractional seconds might be omitted when the timestamp is displayed.Incoming log entries must have timestamps that don't exceed the logs retention period (https://cloud.google.com/logging/quotas#logs_retention_periods) in the past, and that don't exceed 24 hours in the future. Log entries outside those time boundaries are rejected by Logging."
        },
        "sourceLocation": {
          "$ref": "LogEntrySourceLocation",
          "description": "Optional. Source code location information associated with the log entry, if any."
        }
      },
      "description": "An individual entry in a log."
    },
    "LogLine": {
      "id": "LogLine",
      "description": "Application log line emitted while processing a request.",
      "type": "object",
      "properties": {
        "sourceLocation": {
          "description": "Where in the source code this log message was written.",
          "$ref": "SourceLocation"
        },
        "logMessage": {
          "type": "string",
          "description": "App-provided log message."
        },
        "time": {
          "description": "Approximate time when this log entry was made.",
          "type": "string",
          "format": "google-datetime"
        },
        "severity": {
          "description": "Severity of this log entry.",
          "type": "string",
          "enumDescriptions": [
            "(0) The log entry has no assigned severity level.",
            "(100) Debug or trace information.",
            "(200) Routine information, such as ongoing status or performance.",
            "(300) Normal but significant events, such as start up, shut down, or a configuration change.",
            "(400) Warning events might cause problems.",
            "(500) Error events are likely to cause problems.",
            "(600) Critical events cause more severe problems or outages.",
            "(700) A person must take an action immediately.",
            "(800) One or more systems are unusable."
          ],
          "enum": [
            "DEFAULT",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ]
        }
      }
    },
    "RequestLog": {
      "description": "Complete log information about a single HTTP request to an App Engine application.",
      "properties": {
        "taskQueueName": {
          "type": "string",
          "description": "Queue name of the request, in the case of an offline request."
        },
        "endTime": {
          "description": "Time when the request finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestId": {
          "description": "Globally unique identifier for a request, which is based on the request start time. Request IDs for requests which started later will compare greater as strings than those for requests which started earlier.",
          "type": "string"
        },
        "spanId": {
          "description": "Stackdriver Trace span identifier for this request.",
          "type": "string"
        },
        "cost": {
          "format": "double",
          "type": "number",
          "description": "An indication of the relative cost of serving this request."
        },
        "httpVersion": {
          "description": "HTTP version of request. Example: \"HTTP/1.1\".",
          "type": "string"
        },
        "line": {
          "type": "array",
          "items": {
            "$ref": "LogLine"
          },
          "description": "A list of log lines emitted by the application while serving this request."
        },
        "ip": {
          "description": "Origin IP address.",
          "type": "string"
        },
        "host": {
          "description": "Internet host and port number of the resource being requested.",
          "type": "string"
        },
        "urlMapEntry": {
          "description": "File or class that handled the request.",
          "type": "string"
        },
        "appId": {
          "description": "Application that handled this request.",
          "type": "string"
        },
        "wasLoadingRequest": {
          "type": "boolean",
          "description": "Whether this was a loading request for the instance."
        },
        "appEngineRelease": {
          "description": "App Engine release version.",
          "type": "string"
        },
        "finished": {
          "description": "Whether this request is finished or active.",
          "type": "boolean"
        },
        "latency": {
          "format": "google-duration",
          "description": "Latency of the request.",
          "type": "string"
        },
        "moduleId": {
          "description": "Module of the application that handled this request.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "Request method. Example: \"GET\", \"HEAD\", \"PUT\", \"POST\", \"DELETE\"."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time when the request started.",
          "type": "string"
        },
        "versionId": {
          "description": "Version of the application that handled this request.",
          "type": "string"
        },
        "instanceIndex": {
          "type": "integer",
          "description": "If the instance processing this request belongs to a manually scaled module, then this is the 0-based index of the instance. Otherwise, this value is -1.",
          "format": "int32"
        },
        "megaCycles": {
          "description": "Number of CPU megacycles used to process request.",
          "type": "string",
          "format": "int64"
        },
        "traceId": {
          "type": "string",
          "description": "Stackdriver Trace identifier for this request."
        },
        "sourceReference": {
          "description": "Source code for the application that handled this request. There can be more than one source reference per deployed application if source code is distributed among multiple repositories.",
          "items": {
            "$ref": "SourceReference"
          },
          "type": "array"
        },
        "nickname": {
          "type": "string",
          "description": "The logged-in user who made the request.Most likely, this is the part of the user's email before the @ sign. The field value is the same for different requests from the same user, but different users can have similar names. This information is also available to the application via the App Engine Users API.This field will be populated starting with App Engine 1.9.21."
        },
        "referrer": {
          "description": "Referrer URL of request.",
          "type": "string"
        },
        "responseSize": {
          "description": "Size in bytes sent back to client by request.",
          "type": "string",
          "format": "int64"
        },
        "instanceId": {
          "type": "string",
          "description": "An identifier for the instance that handled the request."
        },
        "taskName": {
          "description": "Task name of the request, in the case of an offline request.",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "User agent that made the request."
        },
        "status": {
          "type": "integer",
          "description": "HTTP response status code. Example: 200, 404.",
          "format": "int32"
        },
        "traceSampled": {
          "type": "boolean",
          "description": "If true, the value in the 'trace_id' field was sampled for storage in a trace backend."
        },
        "pendingTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Time this request spent in the pending request queue."
        },
        "resource": {
          "description": "Contains the path and query portion of the URL that was requested. For example, if the URL was \"http://example.com/app?name=val\", the resource would be \"/app?name=val\". The fragment identifier, which is identified by the # character, is not included.",
          "type": "string"
        },
        "first": {
          "description": "Whether this is the first RequestLog entry for this request. If an active request has several RequestLog entries written to Stackdriver Logging, then this field will be set for one of them.",
          "type": "boolean"
        }
      },
      "id": "RequestLog",
      "type": "object"
    },
    "CopyLogEntriesResponse": {
      "description": "Response type for CopyLogEntries long running operations.",
      "type": "object",
      "id": "CopyLogEntriesResponse",
      "properties": {
        "logEntriesCopiedCount": {
          "description": "Number of log entries copied.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "BigQueryOptions": {
      "properties": {
        "usesTimestampColumnPartitioning": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if new timestamp column based partitioning is in use, false if legacy ingress-time partitioning is in use.All new sinks will have this field set true and will use timestamp column based partitioning. If use_partitioned_tables is false, this value has no meaning and will be false. Legacy sinks using partitioned tables will have this field set to false."
        },
        "usePartitionedTables": {
          "type": "boolean",
          "description": "Optional. Whether to use BigQuery's partition tables (https://cloud.google.com/bigquery/docs/partitioned-tables). By default, Cloud Logging creates dated tables based on the log entries' timestamps, e.g. syslog_20170523. With partitioned tables the date suffix is no longer present and special query syntax (https://cloud.google.com/bigquery/docs/querying-partitioned-tables) has to be used instead. In both cases, tables are sharded based on UTC timezone."
        }
      },
      "type": "object",
      "description": "Options that change functionality of a sink exporting data to BigQuery.",
      "id": "BigQueryOptions"
    },
    "CreateLinkRequest": {
      "type": "object",
      "properties": {
        "linkId": {
          "description": "Required. The ID to use for the link. The link_id can have up to 100 characters. A valid link_id must only have alphanumeric characters and underscores within it.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Required. The full resource name of the bucket to create a link for. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" "
        },
        "link": {
          "$ref": "Link",
          "description": "Required. The new link."
        }
      },
      "description": "The parameters to CreateLink.",
      "id": "CreateLinkRequest"
    },
    "ListLogsResponse": {
      "id": "ListLogsResponse",
      "description": "Result returned from ListLogs.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken.",
          "type": "string"
        },
        "logNames": {
          "items": {
            "type": "string"
          },
          "description": "A list of log names. For example, \"projects/my-project/logs/syslog\" or \"organizations/123/logs/cloudresourcemanager.googleapis.com%2Factivity\".",
          "type": "array"
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "properties": {}
    },
    "ListBucketsResponse": {
      "description": "The response from ListBuckets.",
      "type": "object",
      "id": "ListBucketsResponse",
      "properties": {
        "buckets": {
          "items": {
            "$ref": "LogBucket"
          },
          "description": "A list of buckets.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken."
        }
      }
    },
    "ListLogEntriesRequest": {
      "description": "The parameters to ListLogEntries.",
      "type": "object",
      "id": "ListLogEntriesRequest",
      "properties": {
        "orderBy": {
          "description": "Optional. How the results should be sorted. Presently, the only permitted values are \"timestamp asc\" (default) and \"timestamp desc\". The first option returns entries in order of increasing values of LogEntry.timestamp (oldest first), and the second option returns entries in order of decreasing timestamps (newest first). Entries with equal timestamps are returned in order of their insert_id values.",
          "type": "string"
        },
        "projectIds": {
          "type": "array",
          "description": "Optional. Deprecated. Use resource_names instead. One or more project identifiers or project numbers from which to retrieve log entries. Example: \"my-project-1A\".",
          "items": {
            "type": "string"
          },
          "deprecated": true
        },
        "pageSize": {
          "description": "Optional. The maximum number of results to return from this request. Default is 50. If the value is negative or exceeds 1000, the request is rejected. The presence of next_page_token in the response indicates that more results might be available.",
          "format": "int32",
          "type": "integer"
        },
        "pageToken": {
          "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. page_token must be the value of next_page_token from the previous response. The values of other method parameters should be identical to those in the previous call.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter that chooses which log entries to return. For more information, see Logging query language (https://cloud.google.com/logging/docs/view/logging-query-language).Only log entries that match the filter are returned. An empty filter matches all log entries in the resources listed in resource_names. Referencing a parent resource that is not listed in resource_names will cause the filter to return no results. The maximum length of a filter is 20,000 characters."
        },
        "resourceNames": {
          "items": {
            "type": "string"
          },
          "description": "Required. Names of one or more parent resources from which to retrieve log entries: projects/[PROJECT_ID] organizations/[ORGANIZATION_ID] billingAccounts/[BILLING_ACCOUNT_ID] folders/[FOLDER_ID]May alternatively be one or more views: projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID]Projects listed in the project_ids field are added to this list. A maximum of 100 resources may be specified in a single request.",
          "type": "array"
        }
      }
    },
    "TailLogEntriesRequest": {
      "description": "The parameters to TailLogEntries.",
      "properties": {
        "resourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Name of a parent resource from which to retrieve log entries: projects/[PROJECT_ID] organizations/[ORGANIZATION_ID] billingAccounts/[BILLING_ACCOUNT_ID] folders/[FOLDER_ID]May alternatively be one or more views: projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID]"
        },
        "bufferWindow": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The amount of time to buffer log entries at the server before being returned to prevent out of order results due to late arriving log entries. Valid values are between 0-60000 milliseconds. Defaults to 2000 milliseconds."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Only log entries that match the filter are returned. An empty filter matches all log entries in the resources listed in resource_names. Referencing a parent resource that is not listed in resource_names will cause the filter to return no results. The maximum length of a filter is 20,000 characters."
        }
      },
      "type": "object",
      "id": "TailLogEntriesRequest"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object"
    },
    "UpdateBucketRequest": {
      "properties": {
        "bucket": {
          "$ref": "LogBucket",
          "description": "Required. The updated bucket."
        },
        "name": {
          "type": "string",
          "description": "Required. The full resource name of the bucket to update. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" For example:\"projects/my-project/locations/global/buckets/my-bucket\""
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Field mask that specifies the fields in bucket that need an update. A bucket field will be overwritten if, and only if, it is in the update mask. name and output only fields cannot be updated.For a detailed FieldMask definition, see: https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.FieldMaskFor example: updateMask=retention_days"
        }
      },
      "description": "The parameters to UpdateBucket.",
      "type": "object",
      "id": "UpdateBucketRequest"
    },
    "CopyLogEntriesMetadata": {
      "id": "CopyLogEntriesMetadata",
      "type": "object",
      "description": "Metadata for CopyLogEntries long running operations.",
      "properties": {
        "cancellationRequested": {
          "description": "Identifies whether the user has requested cancellation of the operation.",
          "type": "boolean"
        },
        "request": {
          "description": "CopyLogEntries RPC request.",
          "$ref": "CopyLogEntriesRequest"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end time of an operation.",
          "type": "string"
        },
        "progress": {
          "format": "int32",
          "type": "integer",
          "description": "Estimated progress of the operation (0 - 100%)."
        },
        "writerIdentity": {
          "type": "string",
          "description": "The IAM identity of a service account that must be granted access to the destination.If the service account is not granted permission to the destination within an hour, the operation will be cancelled.For example: \"serviceAccount:foo@bar.com\""
        },
        "state": {
          "description": "State of an operation.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_SCHEDULED",
            "OPERATION_STATE_WAITING_FOR_PERMISSIONS",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED",
            "OPERATION_STATE_CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "The operation is scheduled.",
            "Waiting for necessary permissions.",
            "The operation is running.",
            "The operation was completed successfully.",
            "The operation failed.",
            "The operation was cancelled by the user."
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The create time of an operation."
        }
      }
    },
    "SuppressionInfo": {
      "id": "SuppressionInfo",
      "properties": {
        "suppressedCount": {
          "format": "int32",
          "type": "integer",
          "description": "A lower bound on the count of entries omitted due to reason."
        },
        "reason": {
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "RATE_LIMIT",
            "NOT_CONSUMED"
          ],
          "enumDescriptions": [
            "Unexpected default.",
            "Indicates suppression occurred due to relevant entries being received in excess of rate limits. For quotas and limits, see Logging API quotas and limits (https://cloud.google.com/logging/quotas#api-limits).",
            "Indicates suppression occurred due to the client not consuming responses quickly enough."
          ],
          "description": "The reason that entries were omitted from the session."
        }
      },
      "description": "Information about entries that were omitted from the session.",
      "type": "object"
    },
    "BucketOptions": {
      "id": "BucketOptions",
      "properties": {
        "explicitBuckets": {
          "description": "The explicit buckets.",
          "$ref": "Explicit"
        },
        "linearBuckets": {
          "$ref": "Linear",
          "description": "The linear bucket."
        },
        "exponentialBuckets": {
          "$ref": "Exponential",
          "description": "The exponential buckets."
        }
      },
      "description": "BucketOptions describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. BucketOptions does not include the number of values in each bucket.A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i \u003e 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "BigQueryDataset": {
      "type": "object",
      "id": "BigQueryDataset",
      "properties": {
        "datasetId": {
          "description": "Output only. The full resource name of the BigQuery dataset. The DATASET_ID will match the ID of the link, so the link must match the naming restrictions of BigQuery datasets (alphanumeric characters and underscores only).The dataset will have a resource path of \"bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID\"",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Describes a BigQuery dataset that was created by a link."
    },
    "LogExclusion": {
      "properties": {
        "disabled": {
          "description": "Optional. If set to True, then this exclusion is disabled and it does not exclude any log entries. You can update an exclusion to change the value of this field.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. A description of this exclusion.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of the exclusion.This field may not be present for older exclusions."
        },
        "filter": {
          "type": "string",
          "description": "Required. An advanced logs filter (https://cloud.google.com/logging/docs/view/advanced-queries) that matches the log entries to be excluded. By using the sample function (https://cloud.google.com/logging/docs/view/advanced-queries#sample), you can exclude less than 100% of the matching log entries.For example, the following query matches 99% of low-severity log entries from Google Cloud Storage buckets:resource.type=gcs_bucket severity\u003cERROR sample(insertId, 0.99)"
        },
        "name": {
          "type": "string",
          "description": "Required. A client-assigned identifier, such as \"load-balancer-exclusion\". Identifiers are limited to 100 characters and can include only letters, digits, underscores, hyphens, and periods. First character has to be alphanumeric."
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of the exclusion.This field may not be present for older exclusions.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "LogExclusion",
      "description": "Specifies a set of log entries that are filtered out by a sink. If your Google Cloud resource receives a large volume of log entries, you can use exclusions to reduce your chargeable logs. Note that exclusions on organization-level and folder-level sinks don't apply to child resources. Note also that you cannot modify the _Required sink or exclude logs from it."
    },
    "ListMonitoredResourceDescriptorsResponse": {
      "properties": {
        "resourceDescriptors": {
          "description": "A list of resource descriptors.",
          "items": {
            "$ref": "MonitoredResourceDescriptor"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken."
        }
      },
      "type": "object",
      "id": "ListMonitoredResourceDescriptorsResponse",
      "description": "Result returned from ListMonitoredResourceDescriptors."
    },
    "BucketMetadata": {
      "id": "BucketMetadata",
      "type": "object",
      "description": "Metadata for LongRunningUpdateBucket Operations.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The create time of an operation."
        },
        "endTime": {
          "description": "The end time of an operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateBucketRequest": {
          "$ref": "UpdateBucketRequest",
          "description": "LongRunningUpdateBucket RPC request."
        },
        "createBucketRequest": {
          "$ref": "CreateBucketRequest",
          "description": "LongRunningCreateBucket RPC request."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "The operation is scheduled.",
            "Waiting for necessary permissions.",
            "The operation is running.",
            "The operation was completed successfully.",
            "The operation failed.",
            "The operation was cancelled by the user."
          ],
          "description": "State of an operation.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_SCHEDULED",
            "OPERATION_STATE_WAITING_FOR_PERMISSIONS",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED",
            "OPERATION_STATE_CANCELLED"
          ]
        }
      }
    },
    "Settings": {
      "description": "Describes the settings associated with a project, folder, organization, billing account, or flexible resource.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the settings.",
          "readOnly": true,
          "type": "string"
        },
        "loggingServiceAccountId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The service account for the given container. Sinks use this service account as their writer_identity if no custom service account is provided."
        },
        "disableDefaultSink": {
          "type": "boolean",
          "description": "Optional. If set to true, the _Default sink in newly created projects and folders will created in a disabled state. This can be used to automatically disable log storage if there is already an aggregated sink configured in the hierarchy. The _Default sink can be re-enabled manually if needed."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The resource name for the configured Cloud KMS key.KMS key name format: \"projects/[PROJECT_ID]/locations/[LOCATION]/keyRings/[KEYRING]/cryptoKeys/[KEY]\" For example:\"projects/my-project/locations/us-central1/keyRings/my-ring/cryptoKeys/my-key\"To enable CMEK for the Log Router, set this field to a valid kms_key_name for which the associated service account has the required roles/cloudkms.cryptoKeyEncrypterDecrypter role assigned for the key.The Cloud KMS key used by the Log Router can be updated by changing the kms_key_name to a new valid key name. Encryption operations that are in progress will be completed with the key that was in use when they started. Decryption operations will be completed using the key that was used at the time of encryption unless access to that key has been revoked.To disable CMEK for the Log Router, set this field to an empty string.See Enabling CMEK for Log Router (https://cloud.google.com/logging/docs/routing/managed-encryption) for more information."
        },
        "kmsServiceAccountId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The service account that will be used by the Log Router to access your Cloud KMS key.Before enabling CMEK for Log Router, you must first assign the role roles/cloudkms.cryptoKeyEncrypterDecrypter to the service account that the Log Router will use to access your Cloud KMS key. Use GetSettings to obtain the service account ID.See Enabling CMEK for Log Router (https://cloud.google.com/logging/docs/routing/managed-encryption) for more information."
        },
        "storageLocation": {
          "description": "Optional. The storage location that Cloud Logging will use to create new resources when a location is needed but not explicitly provided. The use cases includes: The location of _Default and _Required log bucket for newly created projects and folders.Example value: europe-west1.Note: this setting does not affect the location of resources where a location is explicitly provided when created, such as custom log buckets.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Settings"
    },
    "Link": {
      "id": "Link",
      "description": "Describes a link connected to an analytics enabled bucket.",
      "type": "object",
      "properties": {
        "bigqueryDataset": {
          "$ref": "BigQueryDataset",
          "description": "The information of a BigQuery Dataset. When a link is created, a BigQuery dataset is created along with it, in the same project as the LogBucket it's linked to. This dataset will also have BigQuery Views corresponding to the LogViews in the bucket."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of the link.",
          "readOnly": true,
          "type": "string"
        },
        "lifecycleState": {
          "enumDescriptions": [
            "Unspecified state. This is only used/useful for distinguishing unset values.",
            "The normal and active state.",
            "The resource has been marked for deletion by the user. For some resources (e.g. buckets), this can be reversed by an un-delete operation.",
            "The resource has been marked for an update by the user. It will remain in this state until the update is complete.",
            "The resource has been marked for creation by the user. It will remain in this state until the creation is complete.",
            "The resource is in an INTERNAL error state."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED",
            "UPDATING",
            "CREATING",
            "FAILED"
          ],
          "description": "Output only. The resource lifecycle state."
        },
        "description": {
          "type": "string",
          "description": "Describes this link.The maximum length of the description is 8000 characters."
        },
        "name": {
          "description": "The resource name of the link. The name can have up to 100 characters. A valid link id (at the end of the link name) must only have alphanumeric characters and underscores within it. \"projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" \"folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/links/[LINK_ID]\" For example:`projects/my-project/locations/global/buckets/my-bucket/links/my_link",
          "type": "string"
        }
      }
    },
    "LogEntrySourceLocation": {
      "id": "LogEntrySourceLocation",
      "type": "object",
      "properties": {
        "function": {
          "description": "Optional. Human-readable name of the function or method being invoked, with optional context such as the class or package name. This information may be used in contexts such as the logs viewer, where a file and line number are less meaningful. The format can vary by language. For example: qual.if.ied.Class.method (Java), dir/package.func (Go), function (Python).",
          "type": "string"
        },
        "file": {
          "description": "Optional. Source file name. Depending on the runtime environment, this might be a simple name or a fully-qualified name.",
          "type": "string"
        },
        "line": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Line within the source file. 1-based; 0 indicates no line number available."
        }
      },
      "description": "Additional information about the source code location that produced the log entry."
    },
    "ListSinksResponse": {
      "description": "Result returned from ListSinks.",
      "id": "ListSinksResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken.",
          "type": "string"
        },
        "sinks": {
          "items": {
            "$ref": "LogSink"
          },
          "description": "A list of sinks.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "UndeleteBucketRequest": {
      "id": "UndeleteBucketRequest",
      "properties": {},
      "description": "The parameters to UndeleteBucket.",
      "type": "object"
    },
    "MonitoredResource": {
      "type": "object",
      "id": "MonitoredResource",
      "description": "An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The type field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the labels field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for \"gce_instance\" has labels \"project_id\", \"instance_id\" and \"zone\": { \"type\": \"gce_instance\", \"labels\": { \"project_id\": \"my-project\", \"instance_id\": \"12345678901234\", \"zone\": \"us-central1-a\" }} ",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor object. For example, the type of a Compute Engine VM instance is gce_instance. Some descriptors include the service name in the type; for example, the type of a Datastream stream is datastream.googleapis.com/Stream."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Compute Engine VM instances use the labels \"project_id\", \"instance_id\", and \"zone\"."
        }
      }
    },
    "WriteLogEntriesResponse": {
      "properties": {},
      "type": "object",
      "description": "Result returned from WriteLogEntries.",
      "id": "WriteLogEntriesResponse"
    },
    "MetricDescriptorMetadata": {
      "type": "object",
      "properties": {
        "ingestDelay": {
          "type": "string",
          "format": "google-duration",
          "description": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors."
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ],
          "description": "Deprecated. Must use the MetricDescriptor.launch_stage instead.",
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "deprecated": true
        },
        "samplePeriod": {
          "type": "string",
          "description": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period.",
          "format": "google-duration"
        }
      },
      "description": "Additional annotations that can be used to guide the usage of a metric.",
      "id": "MetricDescriptorMetadata"
    },
    "LogView": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of the view.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "The resource name of the view.For example:projects/my-project/locations/global/buckets/my-bucket/views/my-view",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last update timestamp of the view.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Describes this view."
        },
        "filter": {
          "description": "Filter that restricts which log entries in a bucket are visible in this view.Filters are restricted to be a logical AND of ==/!= of any of the following: originating project/folder/organization/billing account. resource type log idFor example:SOURCE(\"projects/myproject\") AND resource.type = \"gce_instance\" AND LOG_ID(\"stdout\")",
          "type": "string"
        }
      },
      "id": "LogView",
      "type": "object",
      "description": "Describes a view over log entries in a bucket."
    },
    "IndexConfig": {
      "id": "IndexConfig",
      "description": "Configuration for an indexed field.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "INDEX_TYPE_UNSPECIFIED",
            "INDEX_TYPE_STRING",
            "INDEX_TYPE_INTEGER"
          ],
          "enumDescriptions": [
            "The index's type is unspecified.",
            "The index is a string-type index.",
            "The index is a integer-type index."
          ],
          "type": "string",
          "description": "Required. The type of data in this index."
        },
        "fieldPath": {
          "type": "string",
          "description": "Required. The LogEntry field path to index.Note that some paths are automatically indexed, and other paths are not eligible for indexing. See indexing documentation( https://cloud.google.com/logging/docs/view/advanced-queries#indexed-fields) for details.For example: jsonPayload.request.status"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the index was last modified.This is used to return the timestamp, and will be ignored if supplied during update.",
          "format": "google-datetime"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Exponential": {
      "type": "object",
      "description": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): scale * (growth_factor ^ i).Lower bound (1 \u003c= i \u003c N): scale * (growth_factor ^ (i - 1)).",
      "properties": {
        "scale": {
          "format": "double",
          "description": "Must be greater than 0.",
          "type": "number"
        },
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "type": "integer",
          "format": "int32"
        },
        "growthFactor": {
          "format": "double",
          "description": "Must be greater than 1.",
          "type": "number"
        }
      },
      "id": "Exponential"
    },
    "ListViewsResponse": {
      "type": "object",
      "description": "The response from ListViews.",
      "properties": {
        "views": {
          "type": "array",
          "items": {
            "$ref": "LogView"
          },
          "description": "A list of views."
        },
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken.",
          "type": "string"
        }
      },
      "id": "ListViewsResponse"
    },
    "ListLinksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken."
        },
        "links": {
          "type": "array",
          "description": "A list of links.",
          "items": {
            "$ref": "Link"
          }
        }
      },
      "type": "object",
      "description": "The response from ListLinks.",
      "id": "ListLinksResponse"
    },
    "SourceLocation": {
      "id": "SourceLocation",
      "description": "Specifies a location in a source code file.",
      "properties": {
        "functionName": {
          "description": "Human-readable name of the function or method being invoked, with optional context such as the class or package name. This information is used in contexts such as the logs viewer, where a file and line number are less meaningful. The format can vary by language. For example: qual.if.ied.Class.method (Java), dir/package.func (Go), function (Python).",
          "type": "string"
        },
        "line": {
          "description": "Line within the source file.",
          "format": "int64",
          "type": "string"
        },
        "file": {
          "description": "Source file name. Depending on the runtime environment, this might be a simple name or a fully-qualified name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MonitoredResourceDescriptor": {
      "type": "object",
      "id": "MonitoredResourceDescriptor",
      "description": "An object that describes the schema of a MonitoredResource object using a type name and a set of labels. For example, the monitored resource descriptor for Google Compute Engine VM instances has a type of \"gce_instance\" and specifies the use of the labels \"instance_id\" and \"zone\" to identify particular VM instances.Different APIs can support different monitored resource types. APIs generally provide a list method that returns the monitored resource descriptors used by the API.",
      "properties": {
        "labels": {
          "items": {
            "$ref": "LabelDescriptor"
          },
          "type": "array",
          "description": "Required. A set of labels used to describe instances of this monitored resource type. For example, an individual Google Cloud SQL database is identified by values for the labels \"database_id\" and \"zone\"."
        },
        "name": {
          "description": "Optional. The resource name of the monitored resource descriptor: \"projects/{project_id}/monitoredResourceDescriptors/{type}\" where {type} is the value of the type field in this object and {project_id} is a project ID that provides API-specific context for accessing the type. APIs that do not use project information can use the resource name format \"monitoredResourceDescriptors/{type}\".",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A detailed description of the monitored resource type that might be used in documentation."
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ],
          "description": "Optional. The launch stage of the monitored resource definition.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Optional. A concise name for the monitored resource type that might be displayed in user interfaces. It should be a Title Cased Noun Phrase, without any article or other determiners. For example, \"Google Cloud SQL Database\".",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. The monitored resource type. For example, the type \"cloudsql_database\" represents databases in Google Cloud SQL. For a list of types, see Monitoring resource types (https://cloud.google.com/monitoring/api/resources) and Logging resource types (https://cloud.google.com/logging/docs/api/v2/resource-list)."
        }
      }
    },
    "LocationMetadata": {
      "description": "Cloud Logging specific location metadata.",
      "id": "LocationMetadata",
      "type": "object",
      "properties": {
        "logAnalyticsEnabled": {
          "description": "Indicates whether or not Log Analytics features are supported in the given location.",
          "type": "boolean"
        }
      }
    },
    "LogBucket": {
      "description": "Describes a repository in which log entries are stored.",
      "type": "object",
      "properties": {
        "analyticsEnabled": {
          "description": "Whether log analytics is enabled for this bucket.Once enabled, log analytics features cannot be disabled.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of the bucket. This is not set for any of the default buckets.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of the bucket.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the bucket.For example:projects/my-project/locations/global/buckets/my-bucketFor a list of supported locations, see Supported Regions (https://cloud.google.com/logging/docs/region-support)For the location of global it is unspecified where log entries are actually stored.After a bucket has been created, the location cannot be changed.",
          "type": "string"
        },
        "indexConfigs": {
          "items": {
            "$ref": "IndexConfig"
          },
          "description": "A list of indexed fields and related configuration data.",
          "type": "array"
        },
        "lifecycleState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The bucket lifecycle state.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED",
            "UPDATING",
            "CREATING",
            "FAILED"
          ],
          "enumDescriptions": [
            "Unspecified state. This is only used/useful for distinguishing unset values.",
            "The normal and active state.",
            "The resource has been marked for deletion by the user. For some resources (e.g. buckets), this can be reversed by an un-delete operation.",
            "The resource has been marked for an update by the user. It will remain in this state until the update is complete.",
            "The resource has been marked for creation by the user. It will remain in this state until the creation is complete.",
            "The resource is in an INTERNAL error state."
          ]
        },
        "cmekSettings": {
          "$ref": "CmekSettings",
          "description": "The CMEK settings of the log bucket. If present, new log entries written to this log bucket are encrypted using the CMEK key provided in this configuration. If a log bucket has CMEK settings, the CMEK settings cannot be disabled later by updating the log bucket. Changing the KMS key is allowed."
        },
        "restrictedFields": {
          "description": "Log entry field paths that are denied access in this bucket.The following fields and their children are eligible: textPayload, jsonPayload, protoPayload, httpRequest, labels, sourceLocation.Restricting a repeated field will restrict all values. Adding a parent will block all child fields. (e.g. foo.bar will block foo.bar.baz)",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "retentionDays": {
          "description": "Logs will be retained by default for this amount of time, after which they will automatically be deleted. The minimum retention period is 1 day. If this value is set to zero at bucket creation time, the default time of 30 days will be used.",
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "description": "Describes this bucket.",
          "type": "string"
        },
        "locked": {
          "type": "boolean",
          "description": "Whether the bucket is locked.The retention period on a locked bucket cannot be changed. Locked buckets may only be deleted if they are empty."
        }
      },
      "id": "LogBucket"
    },
    "ListLogEntriesResponse": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          },
          "description": "A list of log entries. If entries is empty, nextPageToken may still be returned, indicating that more entries may exist. See nextPageToken for more information."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken.If a value for next_page_token appears and the entries field is empty, it means that the search found no log entries so far but it did not have time to search all the possible log entries. Retry the method with this value for page_token to continue the search. Alternatively, consider speeding up the search by changing your filter to specify a single log name or resource type, or to narrow the time range of the search.",
          "type": "string"
        }
      },
      "id": "ListLogEntriesResponse",
      "description": "Result returned from ListLogEntries.",
      "type": "object"
    },
    "LogSink": {
      "id": "LogSink",
      "properties": {
        "bigqueryOptions": {
          "description": "Optional. Options that affect sinks exporting data to BigQuery.",
          "$ref": "BigQueryOptions"
        },
        "filter": {
          "type": "string",
          "description": "Optional. An advanced logs filter (https://cloud.google.com/logging/docs/view/advanced-queries). The only exported log entries are those that are in the resource owning the sink and that match the filter.For example:logName=\"projects/[PROJECT_ID]/logs/[LOG_ID]\" AND severity\u003e=ERROR"
        },
        "outputVersionFormat": {
          "description": "Deprecated. This field is unused.",
          "type": "string",
          "deprecated": true,
          "enum": [
            "VERSION_FORMAT_UNSPECIFIED",
            "V2",
            "V1"
          ],
          "enumDescriptions": [
            "An unspecified format version that will default to V2.",
            "LogEntry version 2 format.",
            "LogEntry version 1 format."
          ]
        },
        "exclusions": {
          "items": {
            "$ref": "LogExclusion"
          },
          "description": "Optional. Log entries that match any of these exclusion filters will not be exported.If a log entry is matched by both filter and one of exclusion_filters it will not be exported.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of this sink.The maximum length of the description is 8000 characters."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation timestamp of the sink.This field may not be present for older sinks.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The client-assigned sink identifier, unique within the project.For example: \"my-syslog-errors-to-pubsub\". Sink identifiers are limited to 100 characters and can include only the following characters: upper and lower-case alphanumeric characters, underscores, hyphens, and periods. First character has to be alphanumeric."
        },
        "disabled": {
          "description": "Optional. If set to true, then this sink is disabled and it does not export any log entries.",
          "type": "boolean"
        },
        "writerIdentity": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An IAM identity—a service account or group—under which Cloud Logging writes the exported log entries to the sink's destination. This field is either set by specifying custom_writer_identity or set automatically by sinks.create and sinks.update based on the value of unique_writer_identity in those methods.Until you grant this identity write-access to the destination, log entry exports from this sink will fail. For more information, see Granting Access for a Resource (https://cloud.google.com/iam/docs/granting-roles-to-service-accounts#granting_access_to_a_service_account_for_a_resource). Consult the destination service's documentation to determine the appropriate IAM roles to assign to the identity.Sinks that have a destination that is a log bucket in the same project as the sink cannot have a writer_identity and no additional permissions are required."
        },
        "destination": {
          "description": "Required. The export destination: \"storage.googleapis.com/[GCS_BUCKET]\" \"bigquery.googleapis.com/projects/[PROJECT_ID]/datasets/[DATASET]\" \"pubsub.googleapis.com/projects/[PROJECT_ID]/topics/[TOPIC_ID]\" \"logging.googleapis.com/projects/[PROJECT_ID]\" \"logging.googleapis.com/projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]\" The sink's writer_identity, set when the sink is created, must have permission to write to the destination or else the log entries are not exported. For more information, see Exporting Logs with Sinks (https://cloud.google.com/logging/docs/api/tasks/exporting-logs).",
          "type": "string"
        },
        "includeChildren": {
[...]
