{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://logging.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/logging.admin": {
          "description": "Administrate log data for your projects"
        },
        "https://www.googleapis.com/auth/logging.read": {
          "description": "View log data for your projects"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/logging.write": {
          "description": "Submit log data for your projects"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v2",
  "servicePath": "",
  "canonicalName": "Logging",
  "version_module": true,
  "basePath": "",
  "documentationLink": "https://cloud.google.com/logging/docs/",
  "name": "logging",
  "id": "logging:v2",
  "title": "Cloud Logging API",
  "schemas": {
    "ListSinksResponse": {
      "id": "ListSinksResponse",
      "description": "Result returned from ListSinks.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken.",
          "type": "string"
        },
        "sinks": {
          "type": "array",
          "items": {
            "$ref": "LogSink"
          },
          "description": "A list of sinks."
        }
      }
    },
    "CopyLogEntriesRequest": {
      "type": "object",
      "description": "The parameters to CopyLogEntries.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Log bucket from which to copy log entries.For example:\"projects/my-project/locations/global/buckets/my-source-bucket\""
        },
        "filter": {
          "description": "Optional. A filter specifying which log entries to copy. The filter must be no more than 20k characters. An empty filter matches all log entries.",
          "type": "string"
        },
        "destination": {
          "description": "Required. Destination to which to copy log entries.",
          "type": "string"
        }
      },
      "id": "CopyLogEntriesRequest"
    },
    "WriteLogEntriesRequest": {
      "type": "object",
      "id": "WriteLogEntriesRequest",
      "description": "The parameters to WriteLogEntries.",
      "properties": {
        "entries": {
          "description": "Required. The log entries to send to Logging. The order of log entries in this list does not matter. Values supplied in this method's log_name, resource, and labels fields are copied into those log entries in this list that do not include values for their corresponding fields. For more information, see the LogEntry type.If the timestamp or insert_id fields are missing in log entries, then this method supplies the current time or a unique identifier, respectively. The supplied values are chosen so that, among the log entries that did not supply their own values, the entries earlier in the list will sort before the entries later in the list. See the entries.list method.Log entries with timestamps that are more than the logs retention period (https://cloud.google.com/logging/quotas) in the past or more than 24 hours in the future will not be available when calling entries.list. However, those log entries can still be exported with LogSinks (https://cloud.google.com/logging/docs/api/tasks/exporting-logs).To improve throughput and to avoid exceeding the quota limit (https://cloud.google.com/logging/quotas) for calls to entries.write, you should try to include several log entries in this list, rather than calling this method for each individual log entry.",
          "items": {
            "$ref": "LogEntry"
          },
          "type": "array"
        },
        "logName": {
          "type": "string",
          "description": "Optional. A default log resource name that is assigned to all log entries in entries that do not specify a value for log_name: projects/[PROJECT_ID]/logs/[LOG_ID] organizations/[ORGANIZATION_ID]/logs/[LOG_ID] billingAccounts/[BILLING_ACCOUNT_ID]/logs/[LOG_ID] folders/[FOLDER_ID]/logs/[LOG_ID][LOG_ID] must be URL-encoded. For example: \"projects/my-project-id/logs/syslog\" \"organizations/123/logs/cloudaudit.googleapis.com%2Factivity\" The permission logging.logEntries.create is needed on each project, organization, billing account, or folder that is receiving new log entries, whether the resource is specified in logName or in an individual log entry."
        },
        "partialSuccess": {
          "type": "boolean",
          "description": "Optional. Whether valid entries should be written even if some other entries fail due to INVALID_ARGUMENT or PERMISSION_DENIED errors. If any entry is not written, then the response status is the error associated with one of the failed entries and the response includes error details keyed by the entries' zero-based index in the entries.write method."
        },
        "dryRun": {
          "type": "boolean",
          "description": "Optional. If true, the request should expect normal response, but the entries won't be persisted nor exported. Useful for checking whether the logging API endpoints are working properly before sending valuable data."
        },
        "labels": {
          "description": "Optional. Default labels that are added to the labels field of all log entries in entries. If a log entry already has a label with the same key as a label in this parameter, then the log entry's label is not changed. See LogEntry.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "resource": {
          "$ref": "MonitoredResource",
          "description": "Optional. A default monitored resource object that is assigned to all log entries in entries that do not specify a value for resource. Example: { \"type\": \"gce_instance\", \"labels\": { \"zone\": \"us-central1-a\", \"instance_id\": \"00000000000000000000\" }} See LogEntry."
        }
      }
    },
    "MetricDescriptorMetadata": {
      "properties": {
        "samplePeriod": {
          "type": "string",
          "description": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period.",
          "format": "google-duration"
        },
        "ingestDelay": {
          "type": "string",
          "format": "google-duration",
          "description": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors."
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don’t have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the “Deprecation Policy” section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ],
          "type": "string",
          "description": "Deprecated. Must use the MetricDescriptor.launch_stage instead.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        }
      },
      "type": "object",
      "id": "MetricDescriptorMetadata",
      "description": "Additional annotations that can be used to guide the usage of a metric."
    },
    "ListExclusionsResponse": {
      "properties": {
        "exclusions": {
          "description": "A list of exclusions.",
          "items": {
            "$ref": "LogExclusion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken."
        }
      },
      "id": "ListExclusionsResponse",
      "description": "Result returned from ListExclusions.",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: \"us-east1\"."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\""
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A resource that represents Google Cloud Platform location.",
      "id": "Location"
    },
    "UndeleteBucketRequest": {
      "description": "The parameters to UndeleteBucket.",
      "properties": {},
      "id": "UndeleteBucketRequest",
      "type": "object"
    },
    "ListLogMetricsResponse": {
      "id": "ListLogMetricsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken."
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "LogMetric"
          },
          "description": "A list of logs-based metrics."
        }
      },
      "description": "Result returned from ListLogMetrics.",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        }
      }
    },
    "ListBucketsResponse": {
      "properties": {
        "buckets": {
          "type": "array",
          "items": {
            "$ref": "LogBucket"
          },
          "description": "A list of buckets."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken."
        }
      },
      "description": "The response from ListBuckets.",
      "id": "ListBucketsResponse",
      "type": "object"
    },
    "TailLogEntriesRequest": {
      "properties": {
        "resourceNames": {
          "items": {
            "type": "string"
          },
          "description": "Required. Name of a parent resource from which to retrieve log entries: projects/[PROJECT_ID] organizations/[ORGANIZATION_ID] billingAccounts/[BILLING_ACCOUNT_ID] folders/[FOLDER_ID]May alternatively be one or more views: projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID]",
          "type": "array"
        },
        "bufferWindow": {
          "description": "Optional. The amount of time to buffer log entries at the server before being returned to prevent out of order results due to late arriving log entries. Valid values are between 0-60000 milliseconds. Defaults to 2000 milliseconds.",
          "type": "string",
          "format": "google-duration"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter that chooses which log entries to return. See Advanced Logs Filters (https://cloud.google.com/logging/docs/view/advanced_filters). Only log entries that match the filter are returned. An empty filter matches all log entries in the resources listed in resource_names. Referencing a parent resource that is not in resource_names will cause the filter to return no results. The maximum length of the filter is 20000 characters."
        }
      },
      "type": "object",
      "description": "The parameters to TailLogEntries.",
      "id": "TailLogEntriesRequest"
    },
    "WriteLogEntriesResponse": {
      "type": "object",
      "description": "Result returned from WriteLogEntries.",
      "properties": {},
      "id": "WriteLogEntriesResponse"
    },
    "HttpRequest": {
      "description": "A common proto for logging HTTP requests. Only contains semantics defined by the HTTP specification. Product-specific logging information MUST be defined in a separate message.",
      "type": "object",
      "id": "HttpRequest",
      "properties": {
        "userAgent": {
          "type": "string",
          "description": "The user agent sent by the client. Example: \"Mozilla/4.0 (compatible; MSIE 6.0; Windows 98; Q312461; .NET CLR 1.0.3705)\"."
        },
        "protocol": {
          "type": "string",
          "description": "Protocol used for the request. Examples: \"HTTP/1.1\", \"HTTP/2\", \"websocket\""
        },
        "referer": {
          "description": "The referer URL of the request, as defined in HTTP/1.1 Header Field Definitions (http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).",
          "type": "string"
        },
        "cacheLookup": {
          "type": "boolean",
          "description": "Whether or not a cache lookup was attempted."
        },
        "status": {
          "format": "int32",
          "type": "integer",
          "description": "The response code indicating the status of response. Examples: 200, 404."
        },
        "remoteIp": {
          "description": "The IP address (IPv4 or IPv6) of the client that issued the HTTP request. This field can include port information. Examples: \"192.168.1.1\", \"10.0.0.1:80\", \"FE80::0202:B3FF:FE1E:8329\".",
          "type": "string"
        },
        "requestUrl": {
          "description": "The scheme (http, https), the host name, the path and the query portion of the URL that was requested. Example: \"http://example.com/some/info?color=red\".",
          "type": "string"
        },
        "cacheValidatedWithOriginServer": {
          "type": "boolean",
          "description": "Whether or not the response was validated with the origin server before being served from cache. This field is only meaningful if cache_hit is True."
        },
        "requestMethod": {
          "type": "string",
          "description": "The request method. Examples: \"GET\", \"HEAD\", \"PUT\", \"POST\"."
        },
        "serverIp": {
          "type": "string",
          "description": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: \"192.168.1.1\", \"10.0.0.1:80\", \"FE80::0202:B3FF:FE1E:8329\"."
        },
        "responseSize": {
          "type": "string",
          "description": "The size of the HTTP response message sent back to the client, in bytes, including the response headers and the response body.",
          "format": "int64"
        },
        "latency": {
          "format": "google-duration",
          "description": "The request processing latency on the server, from the time the request was received until the response was sent.",
          "type": "string"
        },
        "cacheFillBytes": {
          "type": "string",
          "description": "The number of HTTP response bytes inserted into cache. Set only when a cache fill was attempted.",
          "format": "int64"
        },
        "cacheHit": {
          "description": "Whether or not an entity was served from cache (with or without validation).",
          "type": "boolean"
        },
        "requestSize": {
          "format": "int64",
          "type": "string",
          "description": "The size of the HTTP request message in bytes, including the request headers and the request body."
        }
      }
    },
    "LogExclusion": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of the exclusion.This field may not be present for older exclusions.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last update timestamp of the exclusion.This field may not be present for older exclusions.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Required. A client-assigned identifier, such as \"load-balancer-exclusion\". Identifiers are limited to 100 characters and can include only letters, digits, underscores, hyphens, and periods. First character has to be alphanumeric.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Required. An advanced logs filter (https://cloud.google.com/logging/docs/view/advanced-queries) that matches the log entries to be excluded. By using the sample function (https://cloud.google.com/logging/docs/view/advanced-queries#sample), you can exclude less than 100% of the matching log entries.For example, the following query matches 99% of low-severity log entries from Google Cloud Storage buckets:resource.type=gcs_bucket severity\u003cERROR sample(insertId, 0.99)"
        },
        "disabled": {
          "description": "Optional. If set to True, then this exclusion is disabled and it does not exclude any log entries. You can update an exclusion to change the value of this field.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of this exclusion."
        }
      },
      "id": "LogExclusion",
      "description": "Specifies a set of log entries that are filtered out by a sink. If your Google Cloud resource receives a large volume of log entries, you can use exclusions to reduce your chargeable logs. Note that exclusions on organization-level and folder-level sinks don't apply to child resources. Note also that you cannot modify the _Required sink or exclude logs from it."
    },
    "CmekSettings": {
      "properties": {
        "serviceAccountId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The service account that will be used by the Logs Router to access your Cloud KMS key.Before enabling CMEK for Logs Router, you must first assign the role roles/cloudkms.cryptoKeyEncrypterDecrypter to the service account that the Logs Router will use to access your Cloud KMS key. Use GetCmekSettings to obtain the service account ID.See Enabling CMEK for Logs Router (https://cloud.google.com/logging/docs/routing/managed-encryption) for more information."
        },
        "kmsKeyName": {
          "description": "The resource name for the configured Cloud KMS key.KMS key name format: \"projects/[PROJECT_ID]/locations/[LOCATION]/keyRings/[KEYRING]/cryptoKeys/[KEY]\" For example:\"projects/my-project/locations/us-central1/keyRings/my-ring/cryptoKeys/my-key\"To enable CMEK for the Logs Router, set this field to a valid kms_key_name for which the associated service account has the required roles/cloudkms.cryptoKeyEncrypterDecrypter role assigned for the key.The Cloud KMS key used by the Log Router can be updated by changing the kms_key_name to a new valid key name. Encryption operations that are in progress will be completed with the key that was in use when they started. Decryption operations will be completed using the key that was used at the time of encryption unless access to that key has been revoked.To disable CMEK for the Logs Router, set this field to an empty string.See Enabling CMEK for Logs Router (https://cloud.google.com/logging/docs/routing/managed-encryption) for more information.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the CMEK settings."
        }
      },
      "id": "CmekSettings",
      "type": "object",
      "description": "Describes the customer-managed encryption key (CMEK) settings associated with a project, folder, organization, billing account, or flexible resource.Note: CMEK for the Logs Router can currently only be configured for Google Cloud organizations. Once configured, it applies to all projects and folders in the Google Cloud organization.See Enabling CMEK for Logs Router (https://cloud.google.com/logging/docs/routing/managed-encryption) for more information."
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "LogEntryOperation": {
      "id": "LogEntryOperation",
      "description": "Additional information about a potentially long-running operation with which a log entry is associated.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. An arbitrary operation identifier. Log entries with the same identifier are assumed to be part of the same operation."
        },
        "first": {
          "description": "Optional. Set this to True if this is the first log entry in the operation.",
          "type": "boolean"
        },
        "producer": {
          "type": "string",
          "description": "Optional. An arbitrary producer identifier. The combination of id and producer must be globally unique. Examples for producer: \"MyDivision.MyBigCompany.com\", \"github.com/MyProject/MyApplication\"."
        },
        "last": {
          "description": "Optional. Set this to True if this is the last log entry in the operation.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "LogSink": {
      "id": "LogSink",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last update timestamp of the sink.This field may not be present for older sinks.",
          "type": "string",
          "format": "google-datetime"
        },
        "writerIdentity": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An IAM identity—a service account or group—under which Cloud Logging writes the exported log entries to the sink's destination. This field is set by sinks.create and sinks.update based on the value of unique_writer_identity in those methods.Until you grant this identity write-access to the destination, log entry exports from this sink will fail. For more information, see Granting Access for a Resource (https://cloud.google.com/iam/docs/granting-roles-to-service-accounts#granting_access_to_a_service_account_for_a_resource). Consult the destination service's documentation to determine the appropriate IAM roles to assign to the identity.Sinks that have a destination that is a log bucket in the same project as the sink do not have a writer_identity and no additional permissions are required."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The creation timestamp of the sink.This field may not be present for older sinks."
        },
        "description": {
          "description": "Optional. A description of this sink.The maximum length of the description is 8000 characters.",
          "type": "string"
        },
        "bigqueryOptions": {
          "description": "Optional. Options that affect sinks exporting data to BigQuery.",
          "$ref": "BigQueryOptions"
        },
        "name": {
          "description": "Required. The client-assigned sink identifier, unique within the project.For example: \"my-syslog-errors-to-pubsub\". Sink identifiers are limited to 100 characters and can include only the following characters: upper and lower-case alphanumeric characters, underscores, hyphens, and periods. First character has to be alphanumeric.",
          "type": "string"
        },
        "outputVersionFormat": {
          "description": "Deprecated. This field is unused.",
          "enumDescriptions": [
            "An unspecified format version that will default to V2.",
            "LogEntry version 2 format.",
            "LogEntry version 1 format."
          ],
          "type": "string",
          "enum": [
            "VERSION_FORMAT_UNSPECIFIED",
            "V2",
            "V1"
          ]
        },
        "includeChildren": {
          "description": "Optional. This field applies only to sinks owned by organizations and folders. If the field is false, the default, only the logs owned by the sink's parent resource are available for export. If the field is true, then log entries from all the projects, folders, and billing accounts contained in the sink's parent resource are also available for export. Whether a particular log entry from the children is exported depends on the sink's filter expression.For example, if this field is true, then the filter resource.type=gce_instance would export all Compute Engine VM instance log entries from all projects in the sink's parent.To only export entries from certain child projects, filter on the project part of the log name:logName:(\"projects/test-project1/\" OR \"projects/test-project2/\") AND resource.type=gce_instance",
          "type": "boolean"
        },
        "filter": {
          "type": "string",
          "description": "Optional. An advanced logs filter (https://cloud.google.com/logging/docs/view/advanced-queries). The only exported log entries are those that are in the resource owning the sink and that match the filter.For example:logName=\"projects/[PROJECT_ID]/logs/[LOG_ID]\" AND severity\u003e=ERROR"
        },
        "destination": {
          "type": "string",
          "description": "Required. The export destination: \"storage.googleapis.com/[GCS_BUCKET]\" \"bigquery.googleapis.com/projects/[PROJECT_ID]/datasets/[DATASET]\" \"pubsub.googleapis.com/projects/[PROJECT_ID]/topics/[TOPIC_ID]\" The sink's writer_identity, set when the sink is created, must have permission to write to the destination or else the log entries are not exported. For more information, see Exporting Logs with Sinks (https://cloud.google.com/logging/docs/api/tasks/exporting-logs)."
        },
        "exclusions": {
          "type": "array",
          "description": "Optional. Log entries that match any of these exclusion filters will not be exported.If a log entry is matched by both filter and one of exclusion_filters it will not be exported.",
          "items": {
            "$ref": "LogExclusion"
          }
        },
        "disabled": {
          "description": "Optional. If set to true, then this sink is disabled and it does not export any log entries.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Describes a sink used to export log entries to one of the following destinations in any project: a Cloud Storage bucket, a BigQuery dataset, a Pub/Sub topic or a Cloud Logging log bucket. A logs filter controls which log entries are exported. The sink must be created within a project, organization, billing account, or folder."
    },
    "ListMonitoredResourceDescriptorsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken."
        },
        "resourceDescriptors": {
          "items": {
            "$ref": "MonitoredResourceDescriptor"
          },
          "type": "array",
          "description": "A list of resource descriptors."
        }
      },
      "type": "object",
      "description": "Result returned from ListMonitoredResourceDescriptors.",
      "id": "ListMonitoredResourceDescriptorsResponse"
    },
    "LogBucket": {
      "type": "object",
      "id": "LogBucket",
      "properties": {
        "locked": {
          "type": "boolean",
          "description": "Whether the bucket is locked.The retention period on a locked bucket cannot be changed. Locked buckets may only be deleted if they are empty."
        },
        "description": {
          "description": "Describes this bucket.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation timestamp of the bucket. This is not set for any of the default buckets."
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of the bucket.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of the bucket.For example:projects/my-project/locations/global/buckets/my-bucketFor a list of supported locations, see Supported Regions (https://cloud.google.com/logging/docs/region-support)For the location of global it is unspecified where log entries are actually stored.After a bucket has been created, the location cannot be changed.",
          "type": "string",
          "readOnly": true
        },
        "restrictedFields": {
          "items": {
            "type": "string"
          },
          "description": "Log entry field paths that are denied access in this bucket.The following fields and their children are eligible: textPayload, jsonPayload, protoPayload, httpRequest, labels, sourceLocation.Restricting a repeated field will restrict all values. Adding a parent will block all child fields. (e.g. foo.bar will block foo.bar.baz)",
          "type": "array"
        },
        "retentionDays": {
          "description": "Logs will be retained by default for this amount of time, after which they will automatically be deleted. The minimum retention period is 1 day. If this value is set to zero at bucket creation time, the default time of 30 days will be used.",
          "format": "int32",
          "type": "integer"
        },
        "lifecycleState": {
          "description": "Output only. The bucket lifecycle state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified state. This is only used/useful for distinguishing unset values.",
            "The normal and active state.",
            "The bucket has been marked for deletion by the user."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ]
        }
      },
      "description": "Describes a repository in which log entries are stored."
    },
    "LabelDescriptor": {
      "type": "object",
      "id": "LabelDescriptor",
      "properties": {
        "description": {
          "description": "A human-readable description for the label.",
          "type": "string"
        },
        "key": {
          "description": "The label key.",
          "type": "string"
        },
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "A variable-length string. This is the default.",
            "Boolean; true or false.",
            "A 64-bit signed integer."
          ],
          "enum": [
            "STRING",
            "BOOL",
            "INT64"
          ],
          "description": "The type of data that can be assigned to the label."
        }
      },
      "description": "A description of a label."
    },
    "BucketOptions": {
      "type": "object",
      "description": "BucketOptions describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. BucketOptions does not include the number of values in each bucket.A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i \u003e 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite.",
      "properties": {
        "exponentialBuckets": {
          "description": "The exponential buckets.",
          "$ref": "Exponential"
        },
        "linearBuckets": {
          "$ref": "Linear",
          "description": "The linear bucket."
        },
        "explicitBuckets": {
          "description": "The explicit buckets.",
          "$ref": "Explicit"
        }
      },
      "id": "BucketOptions"
    },
    "ListLogEntriesResponse": {
      "type": "object",
      "id": "ListLogEntriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken.If a value for next_page_token appears and the entries field is empty, it means that the search found no log entries so far but it did not have time to search all the possible log entries. Retry the method with this value for page_token to continue the search. Alternatively, consider speeding up the search by changing your filter to specify a single log name or resource type, or to narrow the time range of the search.",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "description": "A list of log entries. If entries is empty, nextPageToken may still be returned, indicating that more entries may exist. See nextPageToken for more information.",
          "items": {
            "$ref": "LogEntry"
          }
        }
      },
      "description": "Result returned from ListLogEntries."
    },
    "MonitoredResourceDescriptor": {
      "description": "An object that describes the schema of a MonitoredResource object using a type name and a set of labels. For example, the monitored resource descriptor for Google Compute Engine VM instances has a type of \"gce_instance\" and specifies the use of the labels \"instance_id\" and \"zone\" to identify particular VM instances.Different APIs can support different monitored resource types. APIs generally provide a list method that returns the monitored resource descriptors used by the API.",
      "id": "MonitoredResourceDescriptor",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. A detailed description of the monitored resource type that might be used in documentation."
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name of the monitored resource descriptor: \"projects/{project_id}/monitoredResourceDescriptors/{type}\" where {type} is the value of the type field in this object and {project_id} is a project ID that provides API-specific context for accessing the type. APIs that do not use project information can use the resource name format \"monitoredResourceDescriptors/{type}\"."
        },
        "type": {
          "type": "string",
          "description": "Required. The monitored resource type. For example, the type \"cloudsql_database\" represents databases in Google Cloud SQL. For a list of types, see Monitoring resource types (https://cloud.google.com/monitoring/api/resources) and Logging resource types (https://cloud.google.com/logging/docs/api/v2/resource-list)."
        },
        "labels": {
          "items": {
            "$ref": "LabelDescriptor"
          },
          "description": "Required. A set of labels used to describe instances of this monitored resource type. For example, an individual Google Cloud SQL database is identified by values for the labels \"database_id\" and \"zone\".",
          "type": "array"
        },
        "displayName": {
          "description": "Optional. A concise name for the monitored resource type that might be displayed in user interfaces. It should be a Title Cased Noun Phrase, without any article or other determiners. For example, \"Google Cloud SQL Database\".",
          "type": "string"
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don’t have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the “Deprecation Policy” section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "type": "string",
          "description": "Optional. The launch stage of the monitored resource definition."
        }
      },
      "type": "object"
    },
    "CopyLogEntriesMetadata": {
      "id": "CopyLogEntriesMetadata",
      "description": "Metadata for CopyLogEntries long running operations.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The end time of an operation.",
          "format": "google-datetime"
        },
        "state": {
          "description": "State of an operation.",
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_SCHEDULED",
            "OPERATION_STATE_WAITING_FOR_PERMISSIONS",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED",
            "OPERATION_STATE_CANCELLED"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "The operation is scheduled.",
            "Waiting for necessary permissions.",
            "The operation is running.",
            "The operation was completed successfully.",
            "The operation failed.",
            "The operation was cancelled by the user."
          ]
        },
        "writerIdentity": {
          "description": "The IAM identity of a service account that must be granted access to the destination.If the service account is not granted permission to the destination within an hour, the operation will be cancelled.For example: \"serviceAccount:foo@bar.com\"",
          "type": "string"
        },
        "cancellationRequested": {
          "type": "boolean",
          "description": "Identifies whether the user has requested cancellation of the operation."
        },
        "startTime": {
          "description": "The create time of an operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "progress": {
          "type": "integer",
          "description": "Estimated progress of the operation (0 - 100%).",
          "format": "int32"
        },
        "request": {
          "$ref": "CopyLogEntriesRequest",
          "description": "CopyLogEntries RPC request."
        }
      },
      "type": "object"
    },
    "TailLogEntriesResponse": {
      "properties": {
        "entries": {
          "description": "A list of log entries. Each response in the stream will order entries with increasing values of LogEntry.timestamp. Ordering is not guaranteed between separate responses.",
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "suppressionInfo": {
          "description": "If entries that otherwise would have been included in the session were not sent back to the client, counts of relevant entries omitted from the session with the reason that they were not included. There will be at most one of each reason per response. The counts represent the number of suppressed entries since the last streamed response.",
          "type": "array",
          "items": {
            "$ref": "SuppressionInfo"
          }
        }
      },
      "id": "TailLogEntriesResponse",
      "type": "object",
      "description": "Result returned from TailLogEntries."
    },
    "ListViewsResponse": {
      "description": "The response from ListViews.",
      "type": "object",
      "id": "ListViewsResponse",
      "properties": {
        "views": {
          "type": "array",
          "items": {
            "$ref": "LogView"
          },
          "description": "A list of views."
        },
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then nextPageToken is included. To get the next set of results, call the same method again using the value of nextPageToken as pageToken.",
          "type": "string"
        }
      }
    },
    "SourceReference": {
      "type": "object",
      "description": "A reference to a particular snapshot of the source tree used to build and deploy an application.",
      "id": "SourceReference",
      "properties": {
        "repository": {
          "description": "Optional. A URI string identifying the repository. Example: \"https://github.com/GoogleCloudPlatform/kubernetes.git\"",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "The canonical and persistent identifier of the deployed revision. Example (git): \"0035781c50ec7aa23385dc841529ce8a4b70db1b\""
        }
      }
    },
    "SuppressionInfo": {
      "properties": {
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "RATE_LIMIT",
            "NOT_CONSUMED"
          ],
          "description": "The reason that entries were omitted from the session.",
          "enumDescriptions": [
            "Unexpected default.",
            "Indicates suppression occurred due to relevant entries being received in excess of rate limits. For quotas and limits, see Logging API quotas and limits (https://cloud.google.com/logging/quotas#api-limits).",
            "Indicates suppression occurred due to the client not consuming responses quickly enough."
          ],
          "type": "string"
        },
        "suppressedCount": {
          "type": "integer",
          "format": "int32",
          "description": "A lower bound on the count of entries omitted due to reason."
        }
      },
      "type": "object",
      "id": "SuppressionInfo",
      "description": "Information about entries that were omitted from the session."
    },
    "Linear": {
      "id": "Linear",
      "type": "object",
      "properties": {
        "width": {
          "description": "Must be greater than 0.",
          "type": "number",
          "format": "double"
        },
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "format": "int32",
          "type": "integer"
        },
        "offset": {
          "format": "double",
          "description": "Lower bound of the first bucket.",
          "type": "number"
        }
      },
      "description": "Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): offset + (width * i). Lower bound (1 \u003c= i \u003c N): offset + (width * (i - 1))."
    },
    "MonitoredResourceMetadata": {
      "properties": {
        "systemLabels": {
          "type": "object",
          "description": "Output only. Values for predefined system metadata labels. System labels are a kind of metadata extracted by Google, including \"machine_image\", \"vpc\", \"subnet_id\", \"security_group\", \"name\", etc. System label values can be only strings, Boolean values, or a list of strings. For example: { \"name\": \"my-test-instance\", \"security_group\": [\"a\", \"b\", \"c\"], \"spot_instance\": false } ",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. A map of user-defined metadata labels."
        }
      },
      "id": "MonitoredResourceMetadata",
      "description": "Auxiliary metadata for a MonitoredResource object. MonitoredResource objects contain the minimum set of information to uniquely identify a monitored resource instance. There is some other useful auxiliary metadata. Monitoring and Logging use an ingestion pipeline to extract metadata for cloud resources of all types, and store the metadata in this message.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "MonitoredResource": {
      "description": "An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The type field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the labels field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for \"gce_instance\" has labels \"instance_id\" and \"zone\": { \"type\": \"gce_instance\", \"labels\": { \"instance_id\": \"12345678901234\", \"zone\": \"us-central1-a\" }} ",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Compute Engine VM instances use the labels \"project_id\", \"instance_id\", and \"zone\"."
        },
        "type": {
          "description": "Required. The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor object. For example, the type of a Compute Engine VM instance is gce_instance.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MonitoredResource"
    },
    "ListLogEntriesRequest": {
      "type": "object",
      "properties": {
        "orderBy": {
          "type": "string",
          "description": "Optional. How the results should be sorted. Presently, the only permitted values are \"timestamp asc\" (default) and \"timestamp desc\". The first option returns entries in order of increasing values of LogEntry.timestamp (oldest first), and the second option returns entries in order of decreasing timestamps (newest first). Entries with equal timestamps are returned in order of their insert_id values."
        },
        "pageToken": {
          "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. page_token must be the value of next_page_token from the previous response. The values of other method parameters should be identical to those in the previous call.",
          "type": "string"
        },
        "projectIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Deprecated. Use resource_names instead. One or more project identifiers or project numbers from which to retrieve log entries. Example: \"my-project-1A\"."
        },
        "filter": {
          "description": "Optional. A filter that chooses which log entries to return. See Advanced Logs Queries (https://cloud.google.com/logging/docs/view/advanced-queries). Only log entries that match the filter are returned. An empty filter matches all log entries in the resources listed in resource_names. Referencing a parent resource that is not listed in resource_names will cause the filter to return no results. The maximum length of the filter is 20000 characters.",
          "type": "string"
        },
        "resourceNames": {
          "description": "Required. Names of one or more parent resources from which to retrieve log entries: projects/[PROJECT_ID] organizations/[ORGANIZATION_ID] billingAccounts/[BILLING_ACCOUNT_ID] folders/[FOLDER_ID]May alternatively be one or more views: projects/[PROJECT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] organizations/[ORGANIZATION_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID] folders/[FOLDER_ID]/locations/[LOCATION_ID]/buckets/[BUCKET_ID]/views/[VIEW_ID]Projects listed in the project_ids field are added to this list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of results to return from this request. Default is 50. If the value is negative or exceeds 1000, the request is rejected. The presence of next_page_token in the response indicates that more results might be available."
        }
      },
      "description": "The parameters to ListLogEntries.",
      "id": "ListLogEntriesRequest"
    },
    "MetricDescriptor": {
      "id": "MetricDescriptor",
      "description": "Defines a metric type and its schema. Once a metric descriptor is created, deleting or altering it stops data collection and makes the metric type's existing data unusable.",
      "type": "object",
      "properties": {
        "launchStage": {
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "description": "Optional. The launch stage of the metric definition.",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don’t have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the “Deprecation Policy” section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ],
          "type": "string"
        },
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The value is a boolean. This value type can be used only if the metric kind is GAUGE.",
            "The value is a signed 64-bit integer.",
            "The value is a double precision floating point number.",
            "The value is a text string. This value type can be used only if the metric kind is GAUGE.",
            "The value is a Distribution.",
            "The value is money."
          ],
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "DOUBLE",
            "STRING",
            "DISTRIBUTION",
            "MONEY"
          ],
          "description": "Whether the measurement is an integer, a floating-point number, etc. Some combinations of metric_kind and value_type might not be supported."
        },
        "metricKind": {
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "An instantaneous measurement of a value.",
            "The change in a value during a time interval.",
            "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
          ],
          "description": "Whether the metric records instantaneous values, changes to a value, etc. Some combinations of metric_kind and value_type might not be supported.",
          "enum": [
            "METRIC_KIND_UNSPECIFIED",
            "GAUGE",
            "DELTA",
            "CUMULATIVE"
          ]
        },
        "metadata": {
          "$ref": "MetricDescriptorMetadata",
          "description": "Optional. Metadata which can be used to guide usage of the metric."
        },
        "displayName": {
          "type": "string",
          "description": "A concise name for the metric, which can be displayed in user interfaces. Use sentence case without an ending period, for example \"Request count\". This field is optional but it is recommended to be set for any metrics associated with user-visible concepts, such as Quota."
        },
        "monitoredResourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Read-only. If present, then a time series, which is identified partially by a metric type and a MonitoredResourceDescriptor, that is associated with this metric type can only be associated with one of the monitored resource types listed here."
        },
        "type": {
          "type": "string",
          "description": "The metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined metric types have the DNS name custom.googleapis.com or external.googleapis.com. Metric types should use a natural hierarchical grouping. For example: \"custom.googleapis.com/invoice/paid/amount\" \"external.googleapis.com/prometheus/up\" \"appengine.googleapis.com/http/server/response_latencies\" "
        },
        "name": {
          "type": "string",
          "description": "The resource name of the metric descriptor."
        },
        "unit": {
          "description": "The units in which the metric value is reported. It is only applicable if the value_type is INT64, DOUBLE, or DISTRIBUTION. The unit defines the representation of the stored metric values.Different systems might scale the values to be more easily displayed (so a value of 0.02kBy might be displayed as 20By, and a value of 3523kBy might be displayed as 3.5MBy). However, if the unit is kBy, then the value of the metric is always in thousands of bytes, no matter how it might be displayed.If you want a custom metric to record the exact number of CPU-seconds used by a job, you can create an INT64 CUMULATIVE metric whose unit is s{CPU} (or equivalently 1s{CPU} or just s). If the job uses 12,005 CPU-seconds, then the value is written as 12005.Alternatively, if you want a custom metric to record data in a more granular way, you can create a DOUBLE CUMULATIVE metric whose unit is ks{CPU}, and then write the value 12.005 (which is 12005/1000), or use Kis{CPU} and write 11.723 (which is 12005/1024).The supported units are a subset of The Unified Code for Units of Measure (https://unitsofmeasure.org/ucum.html) standard:Basic units (UNIT) bit bit By byte s second min minute h hour d day 1 dimensionlessPrefixes (PREFIX) k kilo (10^3) M mega (10^6) G giga (10^9) T tera (10^12) P peta (10^15) E exa (10^18) Z zetta (10^21) Y yotta (10^24) m milli (10^-3) u micro (10^-6) n nano (10^-9) p pico (10^-12) f femto (10^-15) a atto (10^-18) z zepto (10^-21) y yocto (10^-24) Ki kibi (2^10) Mi mebi (2^20) Gi gibi (2^30) Ti tebi (2^40) Pi pebi (2^50)GrammarThe grammar also includes these connectors: / division or ratio (as an infix operator). For examples, kBy/{email} or MiBy/10ms (although you should almost never have /s in a metric unit; rates should always be computed at query time from the underlying cumulative or delta value). . multiplication or composition (as an infix operator). For examples, GBy.d or k{watt}.h.The grammar for a unit is as follows: Expression = Component { \".\" Component } { \"/\" Component } ; Component = ( [ PREFIX ] UNIT | \"%\" ) [ Annotation ] | Annotation | \"1\" ; Annotation = \"{\" NAME \"}\" ; Notes: Annotation is just a comment if it follows a UNIT. If the annotation is used alone, then the unit is equivalent to 1. For examples, {request}/s == 1/s, By{transmitted}/s == By/s. NAME is a sequence of non-blank printable ASCII characters not containing { or }. 1 represents a unitary dimensionless unit (https://en.wikipedia.org/wiki/Dimensionless_quantity) of 1, such as in 1/s. It is typically used when none of the basic units are appropriate. For example, \"new users per day\" can be represented as 1/d or {new-users}/d (and a metric value 5 would mean \"5 new users). Alternatively, \"thousands of page views per day\" would be represented as 1000/d or k1/d or k{page_views}/d (and a metric value of 5.3 would mean \"5300 page views per day\"). % represents dimensionless value of 1/100, and annotates values giving a percentage (so the metric values are typically in the range of 0..100, and a metric value 3 means \"3 percent\"). 10^2.% indicates a metric contains a ratio, typically in the range 0..1, that will be multiplied by 100 and displayed as a percentage (so a metric value 0.03 means \"3 percent\").",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A detailed description of the metric, which can be used in documentation."
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "LabelDescriptor"
          },
          "description": "The set of labels that can be used to describe a specific instance of this metric type. For example, the appengine.googleapis.com/http/server/response_latencies metric type has a label for the HTTP response code, response_code, so you can look at latencies for successful responses or just for responses that failed."
        }
      }
    },
    "LogEntry": {
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time the event described by the log entry occurred. This time is used to compute the log entry's age and to enforce the logs retention period. If this field is omitted in a new log entry, then Logging assigns it the current time. Timestamps have nanosecond accuracy, but trailing zeros in the fractional seconds might be omitted when the timestamp is displayed.Incoming log entries must have timestamps that don't exceed the logs retention period (https://cloud.google.com/logging/quotas#logs_retention_periods) in the past, and that don't exceed 24 hours in the future. Log entries outside those time boundaries aren't ingested by Logging."
        },
        "metadata": {
          "readOnly": true,
          "$ref": "MonitoredResourceMetadata",
          "description": "Output only. Deprecated. This field is not used by Logging. Any value written to it is cleared."
        },
        "receiveTimestamp": {
          "format": "google-datetime",
          "description": "Output only. The time the log entry was received by Logging.",
          "type": "string",
          "readOnly": true
        },
        "logName": {
          "type": "string",
          "description": "Required. The resource name of the log to which this log entry belongs: \"projects/[PROJECT_ID]/logs/[LOG_ID]\" \"organizations/[ORGANIZATION_ID]/logs/[LOG_ID]\" \"billingAccounts/[BILLING_ACCOUNT_ID]/logs/[LOG_ID]\" \"folders/[FOLDER_ID]/logs/[LOG_ID]\" A project number may be used in place of PROJECT_ID. The project number is translated to its corresponding PROJECT_ID internally and the log_name field will contain PROJECT_ID in queries and exports.[LOG_ID] must be URL-encoded within log_name. Example: \"organizations/1234567890/logs/cloudresourcemanager.googleapis.com%2Factivity\".[LOG_ID] must be less than 512 characters long and can only include the following characters: upper and lower case alphanumeric characters, forward-slash, underscore, hyphen, and period.For backward compatibility, if log_name begins with a forward-slash, such as /projects/..., then the log entry is ingested as usual, but the forward-slash is removed. Listing the log entry will not show the leading slash and filtering for a log name with a leading slash will never return any results."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A map of key, value pairs that provides additional information about the log entry. The labels can be user-defined or system-defined.User-defined labels are arbitrary key, value pairs that you can use to classify logs.System-defined labels are defined by GCP services for platform logs. They have two components - a service namespace component and the attribute name. For example: compute.googleapis.com/resource_name.Cloud Logging truncates label keys that exceed 512 B and label values that exceed 64 KB upon their associated log entry being written. The truncation is indicated by an ellipsis at the end of the character string."
        },
        "insertId": {
          "type": "string",
          "description": "Optional. A unique identifier for the log entry. If you provide a value, then Logging considers other log entries in the same project, with the same timestamp, and with the same insert_id to be duplicates which are removed in a single query result. However, there are no guarantees of de-duplication in the export of logs.If the insert_id is omitted when writing a log entry, the Logging API assigns its own unique identifier in this field.In queries, the insert_id is also used to order log entries that have the same log_name and timestamp values."
        },
        "traceSampled": {
          "type": "boolean",
          "description": "Optional. The sampling decision of the trace associated with the log entry.True means that the trace resource name in the trace field was sampled for storage in a trace backend. False means that the trace was not sampled for storage when this log entry was written, or the sampling decision was unknown at the time. A non-sampled trace value is still useful as a request correlation identifier. The default is False."
        },
        "spanId": {
          "description": "Optional. The span ID within the trace associated with the log entry.For Trace spans, this is the same format that the Trace API v2 uses: a 16-character hexadecimal encoding of an 8-byte array, such as 000000000000004a.",
          "type": "string"
        },
        "textPayload": {
          "description": "The log entry payload, represented as a Unicode string (UTF-8).",
          "type": "string"
        },
        "trace": {
          "description": "Optional. Resource name of the trace associated with the log entry, if any. If it contains a relative resource name, the name is assumed to be relative to //tracing.googleapis.com. Example: projects/my-projectid/traces/06796866738c859f2f19b7cfb3214824",
          "type": "string"
        },
        "protoPayload": {
          "type": "object",
          "description": "The log entry payload, represented as a protocol buffer. Some Google Cloud Platform services use this field for their log entry payloads.The following protocol buffer types are supported; user-defined types are not supported:\"type.googleapis.com/google.cloud.audit.AuditLog\" \"type.googleapis.com/google.appengine.logging.v1.RequestLog\"",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "severity": {
          "type": "string",
          "description": "Optional. The severity of the log entry. The default value is LogSeverity.DEFAULT.",
          "enum": [
            "DEFAULT",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ],
          "enumDescriptions": [
            "(0) The log entry has no assigned severity level.",
            "(100) Debug or trace information.",
            "(200) Routine information, such as ongoing status or performance.",
            "(300) Normal but significant events, such as start up, shut down, or a configuration change.",
            "(400) Warning events might cause problems.",
            "(500) Error events are likely to cause problems.",
            "(600) Critical events cause more severe problems or outages.",
            "(700) A person must take an action immediately.",
            "(800) One or more systems are unusable."
          ]
        },
        "operation": {
          "$ref": "LogEntryOperation",
          "description": "Optional. Information about an operation associated with the log entry, if applicable."
        },
        "sourceLocation": {
          "description": "Optional. Source code location information associated with the log entry, if any.",
          "$ref": "LogEntrySourceLocation"
        },
        "resource": {
          "description": "Required. The monitored resource that produced this log entry.Example: a log entry that reports a database error would be associated with the monitored resource designating the particular database that reported the error.",
          "$ref": "MonitoredResource"
        },
        "jsonPayload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The log entry payload, represented as a structure that is expressed as a JSON object.",
          "type": "object"
        },
        "httpRequest": {
          "$ref": "HttpRequest",
          "description": "Optional. Information about the HTTP request associated with this log entry, if applicable."
        }
      },
      "id": "LogEntry",
      "type": "object",
      "description": "An individual entry in a log."
    },
    "Exponential": {
      "description": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): scale * (growth_factor ^ i). Lower bound (1 \u003c= i \u003c N): scale * (growth_factor ^ (i - 1)).",
      "type": "object",
      "id": "Exponential",
      "properties": {
        "growthFactor": {
          "format": "double",
          "type": "number",
          "description": "Must be greater than 1."
        },
        "scale": {
          "format": "double",
          "type": "number",
          "description": "Must be greater than 0."
        },
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RequestLog": {
      "description": "Complete log information about a single HTTP request to an App Engine application.",
      "properties": {
        "nickname": {
          "description": "The logged-in user who made the request.Most likely, this is the part of the user's email before the @ sign. The field value is the same for different requests from the same user, but different users can have similar names. This information is also available to the application via the App Engine Users API.This field will be populated starting with App Engine 1.9.21.",
          "type": "string"
        },
        "megaCycles": {
          "description": "Number of CPU megacycles used to process request.",
          "format": "int64",
          "type": "string"
        },
        "moduleId": {
          "description": "Module of the application that handled this request.",
          "type": "string"
        },
        "sourceReference": {
          "items": {
            "$ref": "SourceReference"
          },
          "type": "array",
          "description": "Source code for the application that handled this request. There can be more than one source reference per deployed application if source code is distributed among multiple repositories."
        },
        "responseSize": {
          "format": "int64",
          "type": "string",
          "description": "Size in bytes sent back to client by request."
        },
        "cost": {
          "format": "double",
          "type": "number",
          "description": "An indication of the relative cost of serving this request."
        },
        "taskName": {
          "description": "Task name of the request, in the case of an offline request.",
          "type": "string"
        },
        "instanceIndex": {
          "description": "If the instance processing this request belongs to a manually scaled module, then this is the 0-based index of the instance. Otherwise, this value is -1.",
          "type": "integer",
          "format": "int32"
        },
        "pendingTime": {
          "format": "google-duration",
          "description": "Time this request spent in the pending request queue.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Globally unique identifier for a request, which is based on the request start time. Request IDs for requests which started later will compare greater as strings than those for requests which started earlier."
        },
        "resource": {
          "type": "string",
          "description": "Contains the path and query portion of the URL that was requested. For example, if the URL was \"http://example.com/app?name=val\", the resource would be \"/app?name=val\". The fragment identifier, which is identified by the # character, is not included."
        },
        "versionId": {
          "type": "string",
          "description": "Version of the application that handled this request."
        },
        "line": {
          "type": "array",
          "description": "A list of log lines emitted by the application while serving this request.",
          "items": {
            "$ref": "LogLine"
          }
        },
        "urlMapEntry": {
          "description": "File or class that handled the request.",
          "type": "string"
        },
        "finished": {
          "description": "Whether this request is finished or active.",
          "type": "boolean"
        },
        "appId": {
          "type": "string",
          "description": "Application that handled this request."
        },
        "ip": {
          "type": "string",
          "description": "Origin IP address."
        },
        "status": {
          "format": "int32",
          "type": "integer",
          "description": "HTTP response status code. Example: 200, 404."
        },
        "userAgent": {
          "description": "User agent that made the request.",
          "type": "string"
        },
        "referrer": {
          "type": "string",
          "description": "Referrer URL of request."
        },
        "latency": {
          "format": "google-duration",
          "description": "Latency of the request.",
          "type": "string"
        },
        "appEngineRelease": {
          "type": "string",
          "description": "App Engine release version."
        },
        "traceSampled": {
          "description": "If true, the value in the 'trace_id' field was sampled for storage in a trace backend.",
          "type": "boolean"
        },
        "httpVersion": {
          "description": "HTTP version of request. Example: \"HTTP/1.1\".",
          "type": "string"
        },
        "host": {
          "description": "Internet host and port number of the resource being requested.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "Request method. Example: \"GET\", \"HEAD\", \"PUT\", \"POST\", \"DELETE\"."
        },
        "instanceId": {
          "type": "string",
          "description": "An identifier for the instance that handled the request."
        },
        "wasLoadingRequest": {
          "type": "boolean",
          "description": "Whether this was a loading request for the instance."
        },
        "startTime": {
          "description": "Time when the request started.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "Time when the request finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "traceId": {
          "type": "string",
          "description": "Stackdriver Trace identifier for this request."
        },
        "first": {
          "type": "boolean",
          "description": "Whether this is the first RequestLog entry for this request. If an active request has several RequestLog entries written to Stackdriver Logging, then this field will be set for one of them."
        },
        "taskQueueName": {
          "description": "Queue name of the request, in the case of an offline request.",
          "type": "string"
        }
      },
      "id": "RequestLog",
      "type": "object"
    },
    "CopyLogEntriesResponse": {
      "description": "Response type for CopyLogEntries long running operations.",
      "type": "object",
      "id": "CopyLogEntriesResponse",
      "properties": {
        "logEntriesCopiedCount": {
          "description": "Number of log entries copied.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SourceLocation": {
      "description": "Specifies a location in a source code file.",
      "properties": {
        "file": {
          "description": "Source file name. Depending on the runtime environment, this might be a simple name or a fully-qualified name.",
          "type": "string"
        },
        "line": {
          "description": "Line within the source file.",
          "type": "string",
          "format": "int64"
        },
        "functionName": {
          "type": "string",
          "description": "Human-readable name of the function or method being invoked, with optional context such as the class or package name. This information is used in contexts such as the logs viewer, where a file and line number are less meaningful. The format can vary by language. For example: qual.if.ied.Class.method (Java), dir/package.func (Go), function (Python)."
        }
      },
      "type": "object",
      "id": "SourceLocation"
    },
    "ListLogsResponse": {
      "id": "ListLogsResponse",
      "type": "object",
      "description": "Result returned from ListLogs.",
      "properties": {
        "logNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of log names. For example, \"projects/my-project/logs/syslog\" or \"organizations/123/logs/cloudresourcemanager.googleapis.com%2Factivity\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then nextPageToken is included. To get the next set of results, call this method again using the value of nextPageToken as pageToken."
        }
      }
    },
    "LogMetric": {
      "id": "LogMetric",
      "description": "Describes a logs-based metric. The value of the metric is the number of log entries that match a logs filter in a given time interval.Logs-based metrics can also be used to extract values from logs and create a distribution of the values. The distribution records the statistics of the extracted values along with an optional histogram of the values as specified by the bucket options.",
      "type": "object",
      "properties": {
        "metricDescriptor": {
          "description": "Optional. The metric descriptor associated with the logs-based metric. If unspecified, it uses a default metric descriptor with a DELTA metric kind, INT64 value type, with no labels and a unit of \"1\". Such a metric counts the number of log entries matching the filter expression.The name, type, and description fields in the metric_descriptor are output only, and is constructed using the name and description field in the LogMetric.To create a logs-based metric that records a distribution of log values, a DELTA metric kind with a DISTRIBUTION value type must be used along with a value_extractor expression in the LogMetric.Each label in the metric descriptor must have a matching label name as the key and an extractor expression as the value in the label_extractors map.The metric_kind and value_type fields in the metric_descriptor cannot be updated once initially configured. New labels can be added in the metric_descriptor, but existing labels cannot be modified except for their description.",
          "$ref": "MetricDescriptor"
        },
        "version": {
          "enumDescriptions": [
            "Logging API v2.",
            "Logging API v1."
          ],
          "description": "Deprecated. The API version that created or updated this metric. The v2 format is used by default and cannot be changed.",
          "enum": [
            "V2",
            "V1"
          ],
          "type": "string"
        },
        "disabled": {
          "description": "Optional. If set to True, then this metric is disabled and it does not generate any points.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of this metric, which is used in documentation. The maximum length of the description is 8000 characters."
        },
        "valueExtractor": {
          "type": "string",
          "description": "Optional. A value_extractor is required when using a distribution logs-based metric to extract the values to record from a log entry. Two functions are supported for value extraction: EXTRACT(field) or REGEXP_EXTRACT(field, regex). The argument are: 1. field: The name of the log entry field from which the value is to be extracted. 2. regex: A regular expression using the Google RE2 syntax (https://github.com/google/re2/wiki/Syntax) with a single capture group to extract data from the specified log entry field. The value of the field is converted to a string before applying the regex. It is an error to specify a regex that does not include exactly one capture group.The result of the extraction must be convertible to a double type, as the distribution always records double values. If either the extraction or the conversion to double fails, then those values are not recorded in the distribution.Example: REGEXP_EXTRACT(jsonPayload.request, \".*quantity=(\\d+).*\")"
        },
        "bucketOptions": {
          "$ref": "BucketOptions",
          "description": "Optional. The bucket_options are required when the logs-based metric is using a DISTRIBUTION value type and it describes the bucket boundaries used to create a histogram of the extracted values."
        },
        "name": {
          "description": "Required. The client-assigned metric identifier. Examples: \"error_count\", \"nginx/requests\".Metric identifiers are limited to 100 characters and can include only the following characters: A-Z, a-z, 0-9, and the special characters _-.,+!*',()%/. The forward-slash character (/) denotes a hierarchy of name pieces, and it cannot be the first character of the name.The metric identifier in this field must not be URL-encoded (https://en.wikipedia.org/wiki/Percent-encoding). However, when the metric identifier appears as the [METRIC_ID] part of a metric_name API parameter, then the metric identifier must be URL-encoded. Example: \"projects/my-project/metrics/nginx%2Frequests\".",
          "type": "string"
        },
        "labelExtractors": {
          "type": "object",
          "description": "Optional. A map from a label key string to an extractor expression which is used to extract data from a log entry field and assign as the label value. Each label key specified in the LabelDescriptor must have an associated extractor expression in this map. The syntax of the extractor expression is the same as for the value_extractor field.The extracted value is converted to the type defined in the label descriptor. If the either the extraction or the type conversion fails, the label will have a default value. The default value for a string label is an empty string, for an integer label its 0, and for a boolean label its false.Note that there are upper bounds on the maximum number of labels and the number of active time series that are allowed in a project.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "filter": {
          "description": "Required. An advanced logs filter (https://cloud.google.com/logging/docs/view/advanced_filters) which is used to match log entries. Example: \"resource.type=gae_app AND severity\u003e=ERROR\" The maximum length of the filter is 20000 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The creation timestamp of the metric.This field may not be present for older metrics.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last update timestamp of the metric.This field may not be present for older metrics.",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "Explicit": {
      "id": "Explicit",
      "properties": {
        "bounds": {
          "description": "The values must be monotonically increasing.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "description": "Specifies a set of buckets with arbitrary widths.There are size(bounds) + 1 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): boundsi Lower bound (1 \u003c= i \u003c N); boundsi - 1The bounds field must contain at least one element. If bounds has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
      "type": "object"
    },
    "LogView": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the view.For example:projects/my-project/locations/global/buckets/my-bucket/views/my-view"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation timestamp of the view."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last update timestamp of the view.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Describes this view."
        },
        "filter": {
          "type": "string",
          "description": "Filter that restricts which log entries in a bucket are visible in this view.Filters are restricted to be a logical AND of ==/!= of any of the following: originating project/folder/organization/billing account. resource type log idFor example:SOURCE(\"projects/myproject\") AND resource.type = \"gce_instance\" AND LOG_ID(\"stdout\")"
        }
      },
      "type": "object",
      "description": "Describes a view over log entries in a bucket.",
      "id": "LogView"
    },
    "BigQueryOptions": {
      "properties": {
        "usesTimestampColumnPartitioning": {
          "description": "Output only. True if new timestamp column based partitioning is in use, false if legacy ingestion-time partitioning is in use.All new sinks will have this field set true and will use timestamp column based partitioning. If use_partitioned_tables is false, this value has no meaning and will be false. Legacy sinks using partitioned tables will have this field set to false.",
          "readOnly": true,
          "type": "boolean"
        },
        "usePartitionedTables": {
          "type": "boolean",
          "description": "Optional. Whether to use BigQuery's partition tables (https://cloud.google.com/bigquery/docs/partitioned-tables). By default, Cloud Logging creates dated tables based on the log entries' timestamps, e.g. syslog_20170523. With partitioned tables the date suffix is no longer present and special query syntax (https://cloud.google.com/bigquery/docs/querying-partitioned-tables) has to be used instead. In both cases, tables are sharded based on UTC timezone."
        }
      },
      "id": "BigQueryOptions",
      "description": "Options that change functionality of a sink exporting data to BigQuery.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "LogLine": {
      "properties": {
        "sourceLocation": {
          "$ref": "SourceLocation",
          "description": "Where in the source code this log message was written."
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "(0) The log entry has no assigned severity level.",
            "(100) Debug or trace information.",
            "(200) Routine information, such as ongoing status or performance.",
            "(300) Normal but significant events, such as start up, shut down, or a configuration change.",
            "(400) Warning events might cause problems.",
            "(500) Error events are likely to cause problems.",
            "(600) Critical events cause more severe problems or outages.",
            "(700) A person must take an action immediately.",
            "(800) One or more systems are unusable."
          ],
          "enum": [
            "DEFAULT",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ],
          "description": "Severity of this log entry."
        },
        "time": {
          "format": "google-datetime",
          "type": "string",
          "description": "Approximate time when this log entry was made."
        },
        "logMessage": {
          "type": "string",
          "description": "App-provided log message."
        }
      },
      "description": "Application log line emitted while processing a request.",
      "id": "LogLine",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for Empty is empty JSON object {}."
    },
    "LogEntrySourceLocation": {
      "type": "object",
      "description": "Additional information about the source code location that produced the log entry.",
      "properties": {
        "file": {
          "description": "Optional. Source file name. Depending on the runtime environment, this might be a simple name or a fully-qualified name.",
          "type": "string"
        },
        "function": {
          "description": "Optional. Human-readable name of the function or method being invoked, with optional context such as the class or package name. This information may be used in contexts such as the logs viewer, where a file and line number are less meaningful. The format can vary by language. For example: qual.if.ied.Class.method (Java), dir/package.func (Go), function (Python).",
          "type": "string"
        },
        "line": {
          "description": "Optional. Line within the source file. 1-based; 0 indicates no line number available.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "LogEntrySourceLocation"
    }
  },
  "mtlsRootUrl": "https://logging.mtls.googleapis.com/",
  "protocol": "rest",
  "revision": "20211015",
  "parameters": {
    "key": {
[...]
