{
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "title": "Managed Service for Microsoft Active Directory API",
  "name": "managedidentities",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20230505",
  "documentationLink": "https://cloud.google.com/managed-microsoft-ad/",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://managedidentities.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "managedidentities:v1",
  "baseUrl": "https://managedidentities.googleapis.com/",
  "servicePath": "",
  "version_module": true,
  "protocol": "rest",
  "batchPath": "batch",
  "description": "The Managed Service for Microsoft Active Directory API is used for managing a highly available, hardened service running Microsoft Active Directory (AD).",
  "canonicalName": "Managed Service for Microsoft Active Directory Consumer API",
  "basePath": "",
  "ownerName": "Google",
  "rootUrl": "https://managedidentities.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "id": "managedidentities.projects.locations.get",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "id": "managedidentities.projects.locations.list"
            }
          },
          "resources": {
            "global": {
              "resources": {
                "peerings": {
                  "methods": {
                    "setIamPolicy": {
                      "path": "v1/{+resource}:setIamPolicy",
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "id": "managedidentities.projects.locations.global.peerings.setIamPolicy",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "response": {
                        "$ref": "Policy"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "resource"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}:setIamPolicy"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings",
                      "id": "managedidentities.projects.locations.global.peerings.list",
                      "description": "Lists Peerings in a given project.",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter specifying constraints of a list operation. For example, `peering.authorized_network=\"projects/myprojectid/global/networks/mynetwork\"`.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/global$",
                          "type": "string",
                          "description": "Required. The resource name of the peering location using the form: `projects/{project_id}/locations/global`",
                          "required": true,
                          "location": "path"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order."
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's next_page_token to determine if there are more instances left to be queried.",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/peerings",
                      "response": {
                        "$ref": "ListPeeringsResponse"
                      }
                    },
                    "get": {
                      "description": "Gets details of a single Peering.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "location": "path",
                          "description": "Required. Peering resource name using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`",
                          "required": true
                        }
                      },
                      "id": "managedidentities.projects.locations.global.peerings.get",
                      "response": {
                        "$ref": "Peering"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}"
                    },
                    "create": {
                      "id": "managedidentities.projects.locations.global.peerings.create",
                      "request": {
                        "$ref": "Peering"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a Peering for Managed AD instance.",
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/global$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Resource project name and location using the form: `projects/{project_id}/locations/global`"
                        },
                        "peeringId": {
                          "description": "Required. Peering Id, unique name to identify peering. It should follow the regex format \"^(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?)$\"",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/peerings"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedidentities.projects.locations.global.peerings.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes identified Peering.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Peering resource name using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "getIamPolicy": {
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}:getIamPolicy",
                      "path": "v1/{+resource}:getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "httpMethod": "GET",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "parameters": {
                        "options.requestedPolicyVersion": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                        },
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedidentities.projects.locations.global.peerings.getIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ]
                    },
                    "patch": {
                      "description": "Updates the labels for specified Peering.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "description": "Output only. Unique name of the peering in this scope including projects and location using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`."
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields from Peering: * `labels`",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "managedidentities.projects.locations.global.peerings.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Peering"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}"
                    },
                    "testIamPermissions": {
                      "id": "managedidentities.projects.locations.global.peerings.testIamPermissions",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "path": "v1/{+resource}:testIamPermissions",
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}:testIamPermissions"
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "id": "managedidentities.projects.locations.global.operations.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "flatPath": "v1/projects/{projectsId}/locations/global/operations/{operationsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "The name of the operation resource to be deleted.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "cancel": {
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "description": "The name of the operation resource to be cancelled.",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                      "flatPath": "v1/projects/{projectsId}/locations/global/operations/{operationsId}:cancel",
                      "id": "managedidentities.projects.locations.global.operations.cancel"
                    },
                    "get": {
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/operations/{operationsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "managedidentities.projects.locations.global.operations.get"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/operations",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The standard list page token."
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "The standard list page size.",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/operations$",
                          "description": "The name of the operation's parent resource."
                        }
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "id": "managedidentities.projects.locations.global.operations.list"
                    }
                  }
                },
                "domains": {
                  "methods": {
                    "restore": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "Required. Resource name for the domain to which the backup belongs",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "RestoreDomainRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "RestoreDomain restores domain backup mentioned in the RestoreDomainRequest",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:restore",
                      "path": "v1/{+name}:restore",
                      "id": "managedidentities.projects.locations.global.domains.restore"
                    },
                    "detachTrust": {
                      "id": "managedidentities.projects.locations.global.domains.detachTrust",
                      "request": {
                        "$ref": "DetachTrustRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:detachTrust",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "Required. The resource domain name, project name, and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:detachTrust",
                      "description": "Removes an AD trust.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "reconfigureTrust": {
                      "request": {
                        "$ref": "ReconfigureTrustRequest"
                      },
                      "id": "managedidentities.projects.locations.global.domains.reconfigureTrust",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:reconfigureTrust",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the DNS conditional forwarder.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "Required. The resource domain name, project name and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:reconfigureTrust"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Domain"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$"
                        }
                      },
                      "description": "Gets information about a domain.",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}",
                      "path": "v1/{+name}",
                      "id": "managedidentities.projects.locations.global.domains.get"
                    },
                    "create": {
                      "id": "managedidentities.projects.locations.global.domains.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Domain"
                      },
                      "path": "v1/{+parent}/domains",
                      "parameters": {
                        "domainName": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The fully qualified domain name. e.g. mydomain.myorganization.com, with the following restrictions: * Must contain only lowercase letters, numbers, periods and hyphens. * Must start with a letter. * Must contain between 2-64 characters. * Must end with a number or a letter. * Must not start with period. * First segment length (mydomain for example above) shouldn't exceed 15 chars. * The last segment cannot be fully numeric. * Must be unique within the customer project."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/global$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource project name and location using the form: `projects/{project_id}/locations/global`"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a Microsoft AD domain."
                    },
                    "extendSchema": {
                      "request": {
                        "$ref": "ExtendSchemaRequest"
                      },
                      "path": "v1/{+domain}:extendSchema",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:extendSchema",
                      "parameters": {
                        "domain": {
                          "required": true,
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "domain"
                      ],
                      "description": "Extend Schema for Domain",
                      "id": "managedidentities.projects.locations.global.domains.extendSchema",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}",
                      "id": "managedidentities.projects.locations.global.domains.patch",
                      "request": {
                        "$ref": "Domain"
                      },
                      "httpMethod": "PATCH",
                      "description": "Updates the metadata and configuration of a domain.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The unique name of the domain using the form: `projects/{project_id}/locations/global/domains/{domain_name}`."
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include fields from Domain: * `labels` * `locations` * `authorized_networks` * `audit_logs_enabled`",
                          "format": "google-fieldmask"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "validateTrust": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:validateTrust",
                      "description": "Validates a trust state, that the target domain is reachable, and that the target domain is able to accept incoming trust requests.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedidentities.projects.locations.global.domains.validateTrust",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource domain name, project name, and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "ValidateTrustRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:validateTrust"
                    },
                    "disableMigration": {
                      "id": "managedidentities.projects.locations.global.domains.disableMigration",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Disable Domain Migration",
                      "httpMethod": "POST",
                      "path": "v1/{+domain}:disableMigration",
                      "parameterOrder": [
                        "domain"
                      ],
                      "request": {
                        "$ref": "DisableMigrationRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:disableMigration",
                      "parameters": {
                        "domain": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "type": "string"
                        }
                      }
                    },
                    "resetAdminPassword": {
                      "response": {
                        "$ref": "ResetAdminPasswordResponse"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "id": "managedidentities.projects.locations.global.domains.resetAdminPassword",
                      "request": {
                        "$ref": "ResetAdminPasswordRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:resetAdminPassword",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Resets a domain's administrator password.",
                      "path": "v1/{+name}:resetAdminPassword"
                    },
                    "updateLdapssettings": {
                      "path": "v1/{+name}/ldapssettings",
                      "description": "Patches a single ldaps settings.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "The resource name of the LDAPS settings. Uses the form: `projects/{project}/locations/{location}/domains/{domain}`."
                        }
                      },
                      "id": "managedidentities.projects.locations.global.domains.updateLdapssettings",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "LDAPSSettings"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/ldapssettings"
                    },
                    "domainJoinMachine": {
                      "id": "managedidentities.projects.locations.global.domains.domainJoinMachine",
                      "path": "v1/{+domain}:domainJoinMachine",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "DomainJoinMachine API joins a Compute Engine VM to the domain",
                      "response": {
                        "$ref": "DomainJoinMachineResponse"
                      },
                      "request": {
                        "$ref": "DomainJoinMachineRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "domain": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The domain resource name using the form: projects/{project_id}/locations/global/domains/{domain_name}",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "domain"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:domainJoinMachine"
                    },
                    "setIamPolicy": {
                      "response": {
                        "$ref": "Policy"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "id": "managedidentities.projects.locations.global.domains.setIamPolicy",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:setIamPolicy",
                      "path": "v1/{+resource}:setIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedidentities.projects.locations.global.domains.list",
                      "path": "v1/{+parent}/domains",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists domains in a project.",
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Specifies the ordering of results. See [Sorting order](https://cloud.google.com/apis/design/design_patterns#sorting_order) for more information."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global$",
                          "description": "Required. The resource name of the domain location using the form: `projects/{project_id}/locations/global`",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used. Regardless of the page_size value, the response may include a partial list. Callers should rely on a response's next_page_token to determine if there are additional results to list.",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The `next_page_token` value returned from a previous ListDomainsRequest request, if any."
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A filter specifying constraints of a list operation. For example, `Domain.fqdn=\"mydomain.myorginization\"`."
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains",
                      "response": {
                        "$ref": "ListDomainsResponse"
                      }
                    },
                    "enableMigration": {
                      "id": "managedidentities.projects.locations.global.domains.enableMigration",
                      "parameterOrder": [
                        "domain"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:enableMigration",
                      "path": "v1/{+domain}:enableMigration",
                      "httpMethod": "POST",
                      "description": "Enable Domain Migration",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "EnableMigrationRequest"
                      },
                      "parameters": {
                        "domain": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a domain.",
                      "id": "managedidentities.projects.locations.global.domains.delete",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$"
                        }
                      }
                    },
                    "testIamPermissions": {
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "POST",
                      "id": "managedidentities.projects.locations.global.domains.testIamPermissions",
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:testIamPermissions",
                      "path": "v1/{+resource}:testIamPermissions",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      }
                    },
                    "getLdapssettings": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/ldapssettings",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the domain ldaps settings.",
                      "id": "managedidentities.projects.locations.global.domains.getLdapssettings",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "LDAPSSettings"
                      },
                      "path": "v1/{+name}/ldapssettings"
                    },
                    "getIamPolicy": {
                      "response": {
                        "$ref": "Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:getIamPolicy",
                      "id": "managedidentities.projects.locations.global.domains.getIamPolicy",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "parameterOrder": [
                        "resource"
                      ],
                      "parameters": {
                        "options.requestedPolicyVersion": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                        },
                        "resource": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        }
                      },
                      "path": "v1/{+resource}:getIamPolicy"
                    },
                    "attachTrust": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "AttachTrustRequest"
                      },
                      "id": "managedidentities.projects.locations.global.domains.attachTrust",
                      "path": "v1/{+name}:attachTrust",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Adds an AD trust to a domain.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "Required. The resource domain name, project name and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:attachTrust",
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  },
                  "resources": {
                    "sqlIntegrations": {
                      "methods": {
                        "get": {
                          "path": "v1/{+name}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. SQLIntegration resource name using the form: `projects/{project_id}/locations/global/domains/{domain}/sqlIntegrations/{name}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/sqlIntegrations/[^/]+$"
                            }
                          },
                          "id": "managedidentities.projects.locations.global.domains.sqlIntegrations.get",
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/sqlIntegrations/{sqlIntegrationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets details of a single sqlIntegration.",
                          "response": {
                            "$ref": "SqlIntegration"
                          }
                        },
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListSqlIntegrationsResponse"
                          },
                          "description": "Lists SqlIntegrations in a given domain.",
                          "httpMethod": "GET",
                          "id": "managedidentities.projects.locations.global.domains.sqlIntegrations.list",
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/sqlIntegrations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The next_page_token value returned from a previous List request, if any."
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response'ANIZATIONs next_page_token to determine if there are more instances left to be queried.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "filter": {
                              "description": "Optional. Filter specifying constraints of a list operation. For example, `SqlIntegration.name=\"sql\"`.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. The resource name of the SqlIntegrations using the form: `projects/{project_id}/locations/global/domains/*`",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                              "location": "path"
                            },
                            "orderBy": {
                              "location": "query",
                              "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+parent}/sqlIntegrations"
                        }
                      }
                    },
                    "backups": {
                      "methods": {
                        "patch": {
                          "id": "managedidentities.projects.locations.global.domains.backups.patch",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "updateMask": {
                              "format": "google-fieldmask",
                              "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields from Backup: * `labels`",
                              "type": "string",
                              "location": "query"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$",
                              "location": "path",
                              "description": "Output only. The unique name of the Backup in the form of `projects/{project_id}/locations/global/domains/{domain_name}/backups/{name}`",
                              "type": "string",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "PATCH",
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}",
                          "path": "v1/{+name}",
                          "request": {
                            "$ref": "Backup"
                          },
                          "description": "Updates the labels for specified Backup.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "get": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$",
                              "description": "Required. The backup resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}/backups/{backup_id}`",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "description": "Gets details of a single Backup.",
                          "response": {
                            "$ref": "Backup"
                          },
                          "id": "managedidentities.projects.locations.global.domains.backups.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}"
                        },
                        "list": {
                          "response": {
                            "$ref": "ListBackupsResponse"
                          },
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's next_page_token to determine if there are more instances left to be queried.",
                              "type": "integer"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order."
                            },
                            "filter": {
                              "description": "Optional. Filter specifying constraints of a list operation.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                              "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. The `next_page_token` value returned from a previous List request, if any.",
                              "type": "string"
                            }
                          },
                          "description": "Lists Backup in a given project.",
                          "path": "v1/{+parent}/backups",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "managedidentities.projects.locations.global.domains.backups.list"
                        },
                        "getIamPolicy": {
                          "parameters": {
                            "options.requestedPolicyVersion": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32",
                              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                            },
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$"
                            }
                          },
                          "id": "managedidentities.projects.locations.global.domains.backups.getIamPolicy",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                          "response": {
                            "$ref": "Policy"
                          },
                          "parameterOrder": [
                            "resource"
                          ],
                          "httpMethod": "GET",
                          "path": "v1/{+resource}:getIamPolicy",
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}:getIamPolicy"
                        },
                        "create": {
                          "description": "Creates a Backup for a domain.",
                          "request": {
                            "$ref": "Backup"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups",
                          "path": "v1/{+parent}/backups",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`"
                            },
                            "backupId": {
                              "description": "Required. Backup Id, unique name to identify the backups with the following restrictions: * Must be lowercase letters, numbers, and hyphens * Must start with a letter. * Must contain between 1-63 characters. * Must end with a number or a letter. * Must be unique within the domain.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "managedidentities.projects.locations.global.domains.backups.create"
                        },
                        "testIamPermissions": {
                          "response": {
                            "$ref": "TestIamPermissionsResponse"
                          },
                          "path": "v1/{+resource}:testIamPermissions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "TestIamPermissionsRequest"
                          },
                          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                          "parameterOrder": [
                            "resource"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}:testIamPermissions",
                          "id": "managedidentities.projects.locations.global.domains.backups.testIamPermissions",
                          "parameters": {
                            "resource": {
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$",
                              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          }
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Deletes identified Backup.",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$",
                              "description": "Required. The backup resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}/backups/{backup_id}`",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "id": "managedidentities.projects.locations.global.domains.backups.delete",
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}"
                        },
                        "setIamPolicy": {
                          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                          "request": {
                            "$ref": "SetIamPolicyRequest"
                          },
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Policy"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}:setIamPolicy",
                          "parameterOrder": [
                            "resource"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+resource}:setIamPolicy",
                          "parameters": {
                            "resource": {
                              "location": "path",
                              "required": true,
                              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$"
                            }
                          },
                          "id": "managedidentities.projects.locations.global.domains.backups.setIamPolicy"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudManagedidentitiesV1OpMetadata": {
      "properties": {
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudManagedidentitiesV1OpMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "DenyMaintenancePeriod": {
      "id": "DenyMaintenancePeriod",
      "properties": {
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start.",
          "$ref": "Date"
        },
        "time": {
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC",
          "$ref": "TimeOfDay"
        },
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end.",
          "$ref": "Date"
        }
      },
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date.",
      "type": "object"
    },
    "DetachTrustRequest": {
      "id": "DetachTrustRequest",
      "type": "object",
      "description": "Request message for DetachTrust",
      "properties": {
        "trust": {
          "$ref": "Trust",
          "description": "Required. The domain trust resource to removed."
        }
      }
    },
    "DailyCycle": {
      "type": "object",
      "description": "Time window specified for daily operations.",
      "id": "DailyCycle",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Time within the day to start the operations."
        },
        "duration": {
          "type": "string",
          "description": "Output only. Duration of the time window, set by service producer.",
          "format": "google-duration"
        }
      }
    },
    "ResetAdminPasswordRequest": {
      "properties": {},
      "type": "object",
      "id": "ResetAdminPasswordRequest",
      "description": "Request message for ResetAdminPassword"
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "type": "object",
      "properties": {
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of Cloud AD backups in the domain.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "ListBackupsResponse is the response message for ListBackups method."
    },
    "ListSqlIntegrationsResponse": {
      "description": "ListSqlIntegrationsResponse is the response message for ListSqlIntegrations method.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of locations that could not be reached."
        },
        "sqlIntegrations": {
          "type": "array",
          "items": {
            "$ref": "SqlIntegration"
          },
          "description": "A list of SQLIntegrations of a domain."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "id": "ListSqlIntegrationsResponse"
    },
    "Date": {
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "ExtendSchemaRequest": {
      "description": "ExtendSchemaRequest is the request message for ExtendSchema method.",
      "type": "object",
      "properties": {
        "gcsPath": {
          "type": "string",
          "description": "File stored in Cloud Storage bucket and represented in the form projects/{project_id}/buckets/{bucket_name}/objects/{object_name} File should be in the same project as the domain."
        },
        "fileContents": {
          "type": "string",
          "description": "File uploaded as a byte stream input.",
          "format": "byte"
        },
        "description": {
          "description": "Required. Description for Schema Change.",
          "type": "string"
        }
      },
      "id": "ExtendSchemaRequest"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter": {
      "properties": {
        "values": {
          "description": "Optional. Array of string values. e.g. instance's replica information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Contains notification related data.",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter"
    },
    "GoogleCloudManagedidentitiesV1beta1OpMetadata": {
      "id": "GoogleCloudManagedidentitiesV1beta1OpMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DomainJoinMachineRequest": {
      "properties": {
        "force": {
          "description": "Optional. force if True, forces domain join even if the computer account already exists.",
          "type": "boolean"
        },
        "vmIdToken": {
          "description": "Required. Full instance id token of compute engine VM to verify instance identity. More about this: https://cloud.google.com/compute/docs/instances/verifying-instance-identity#request_signature",
          "type": "string"
        },
        "ouName": {
          "description": "Optional. OU name where the VM needs to be domain joined",
          "type": "string"
        }
      },
      "id": "DomainJoinMachineRequest",
      "description": "DomainJoinMachineRequest is the request message for DomainJoinMachine method",
      "type": "object"
    },
    "ListPeeringsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "peerings": {
          "description": "A list of Managed Identities Service Peerings in the project.",
          "items": {
            "$ref": "Peering"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "ListPeeringsResponse is the response message for ListPeerings method.",
      "id": "ListPeeringsResponse"
    },
    "TimeOfDay": {
      "properties": {
        "hours": {
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        }
      },
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1Instance": {
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "maintenancePolicyNames": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/cloud-saas-mw-ug. Should not be set if maintenance_settings.maintenance_policies is set.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "consumerDefinedName": {
          "description": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites).",
          "type": "string"
        },
        "notificationParameters": {
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter"
          }
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ],
          "type": "string",
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ]
        },
        "softwareVersions": {
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "instanceType": {
          "type": "string",
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not."
        },
        "tenantProjectId": {
          "type": "string",
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details."
        },
        "provisionedResources": {
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource"
          },
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified."
        },
        "slmInstanceTemplate": {
          "type": "string",
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions."
        },
        "producerMetadata": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sloMetadata": {
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
          "readOnly": true,
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description."
        },
        "maintenanceSchedules": {
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions.",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
          },
          "type": "object"
        },
        "maintenanceSettings": {
          "description": "Optional. The MaintenanceSettings associated with instance.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings"
        },
        "labels": {
[...]
