{
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Managed Service for Microsoft Active Directory Consumer API",
  "description": "The Managed Service for Microsoft Active Directory API is used for managing a highly available, hardened service running Microsoft Active Directory (AD).",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "id": "managedidentities.projects.locations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "type": "string"
                }
              },
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "id": "managedidentities.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                }
              },
              "path": "v1/{+name}/locations"
            }
          },
          "resources": {
            "global": {
              "resources": {
                "peerings": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "location": "path",
                          "description": "Required. Peering resource name using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`"
                        }
                      },
                      "path": "v1/{+name}",
                      "description": "Gets details of a single Peering.",
                      "id": "managedidentities.projects.locations.global.peerings.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Peering"
                      },
                      "httpMethod": "GET"
                    },
                    "testIamPermissions": {
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedidentities.projects.locations.global.peerings.testIamPermissions",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$"
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "parameterOrder": [
                        "resource"
                      ],
                      "path": "v1/{+resource}:testIamPermissions",
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}:testIamPermissions"
                    },
                    "patch": {
                      "id": "managedidentities.projects.locations.global.peerings.patch",
                      "description": "Updates the labels for specified Peering.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Peering"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Output only. Unique name of the peering in this scope including projects and location using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields from Peering: * `labels`",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "description": "Required. Peering resource name using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "Deletes identified Peering.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}",
                      "httpMethod": "DELETE",
                      "id": "managedidentities.projects.locations.global.peerings.delete"
                    },
                    "setIamPolicy": {
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}:setIamPolicy",
                      "id": "managedidentities.projects.locations.global.peerings.setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+resource}:setIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      }
                    },
                    "getIamPolicy": {
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings/{peeringsId}:getIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "path": "v1/{+resource}:getIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "managedidentities.projects.locations.global.peerings.getIamPolicy",
                      "parameters": {
                        "options.requestedPolicyVersion": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                        },
                        "resource": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/peerings/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Policy"
                      }
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/peerings",
                      "id": "managedidentities.projects.locations.global.peerings.create",
                      "parameters": {
                        "peeringId": {
                          "type": "string",
                          "description": "Required. Peering Id, unique name to identify peering. It should follow the regex format \"^(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?)$\"",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Resource project name and location using the form: `projects/{project_id}/locations/global`",
                          "pattern": "^projects/[^/]+/locations/global$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "Peering"
                      },
                      "httpMethod": "POST",
                      "description": "Creates a Peering for Managed AD instance.",
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings"
                    },
                    "list": {
                      "path": "v1/{+parent}/peerings",
                      "response": {
                        "$ref": "ListPeeringsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists Peerings in a given project.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order."
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global$",
                          "location": "path",
                          "description": "Required. The resource name of the peering location using the form: `projects/{project_id}/locations/global`"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any."
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter specifying constraints of a list operation. For example, `peering.authorized_network=\"projects/myprojectid/global/networks/mynetwork\"`.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's next_page_token to determine if there are more instances left to be queried.",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/peerings",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedidentities.projects.locations.global.peerings.list"
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "cancel": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "description": "The name of the operation resource to be cancelled.",
                          "type": "string"
                        }
                      },
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+name}:cancel",
                      "flatPath": "v1/projects/{projectsId}/locations/global/operations/{operationsId}:cancel",
                      "response": {
                        "$ref": "Empty"
                      },
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedidentities.projects.locations.global.operations.cancel"
                    },
                    "list": {
                      "id": "managedidentities.projects.locations.global.operations.list",
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/operations",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/operations$",
                          "type": "string",
                          "description": "The name of the operation's parent resource.",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "The standard list filter."
                        }
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "required": true,
                          "description": "The name of the operation resource.",
                          "location": "path"
                        }
                      },
                      "id": "managedidentities.projects.locations.global.operations.get",
                      "path": "v1/{+name}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "flatPath": "v1/projects/{projectsId}/locations/global/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "id": "managedidentities.projects.locations.global.operations.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/operations/{operationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation resource to be deleted.",
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$"
                        }
                      }
                    }
                  }
                },
                "domains": {
                  "resources": {
                    "sqlIntegrations": {
                      "methods": {
                        "get": {
                          "path": "v1/{+name}",
                          "id": "managedidentities.projects.locations.global.domains.sqlIntegrations.get",
                          "response": {
                            "$ref": "SqlIntegration"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/sqlIntegrations/[^/]+$",
                              "description": "Required. SQLIntegration resource name using the form: `projects/{project_id}/locations/global/domains/{domain}/sqlIntegrations/{name}`",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "description": "Gets details of a single sqlIntegration.",
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/sqlIntegrations/{sqlIntegrationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "response": {
                            "$ref": "ListSqlIntegrationsResponse"
                          },
                          "parameters": {
                            "pageToken": {
                              "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                              "description": "Required. The resource name of the SqlIntegrations using the form: `projects/{project_id}/locations/global/domains/*`",
                              "required": true
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response'ANIZATIONs next_page_token to determine if there are more instances left to be queried.",
                              "format": "int32"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order."
                            },
                            "filter": {
                              "description": "Optional. Filter specifying constraints of a list operation. For example, `SqlIntegration.name=\"sql\"`.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Lists SqlIntegrations in a given domain.",
                          "id": "managedidentities.projects.locations.global.domains.sqlIntegrations.list",
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/sqlIntegrations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/sqlIntegrations"
                        }
                      }
                    },
                    "backups": {
                      "methods": {
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups",
                          "description": "Lists Backup in a given project.",
                          "parameters": {
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order."
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's next_page_token to determine if there are more instances left to be queried.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. Filter specifying constraints of a list operation."
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`"
                            },
                            "pageToken": {
                              "description": "Optional. The `next_page_token` value returned from a previous List request, if any.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/backups",
                          "id": "managedidentities.projects.locations.global.domains.backups.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListBackupsResponse"
                          }
                        },
                        "getIamPolicy": {
                          "parameterOrder": [
                            "resource"
                          ],
                          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                          "response": {
                            "$ref": "Policy"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "path": "v1/{+resource}:getIamPolicy",
                          "id": "managedidentities.projects.locations.global.domains.backups.getIamPolicy",
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}:getIamPolicy",
                          "parameters": {
                            "options.requestedPolicyVersion": {
                              "location": "query",
                              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                              "type": "integer",
                              "format": "int32"
                            },
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$"
                            }
                          }
                        },
                        "testIamPermissions": {
                          "parameterOrder": [
                            "resource"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}:testIamPermissions",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "id": "managedidentities.projects.locations.global.domains.backups.testIamPermissions",
                          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                          "response": {
                            "$ref": "TestIamPermissionsResponse"
                          },
                          "path": "v1/{+resource}:testIamPermissions",
                          "request": {
                            "$ref": "TestIamPermissionsRequest"
                          }
                        },
                        "create": {
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups",
                          "parameters": {
                            "parent": {
                              "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "backupId": {
                              "location": "query",
                              "description": "Required. Backup Id, unique name to identify the backups with the following restrictions: * Must be lowercase letters, numbers, and hyphens * Must start with a letter. * Must contain between 1-63 characters. * Must end with a number or a letter. * Must be unique within the domain.",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "description": "Creates a Backup for a domain.",
                          "request": {
                            "$ref": "Backup"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "managedidentities.projects.locations.global.domains.backups.create",
                          "path": "v1/{+parent}/backups",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "delete": {
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$",
                              "type": "string",
                              "description": "Required. The backup resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}/backups/{backup_id}`",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE",
                          "description": "Deletes identified Backup.",
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "managedidentities.projects.locations.global.domains.backups.delete"
                        },
                        "patch": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "Backup"
                          },
                          "path": "v1/{+name}",
                          "description": "Updates the labels for specified Backup.",
                          "httpMethod": "PATCH",
                          "response": {
                            "$ref": "Operation"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}",
                          "parameters": {
                            "updateMask": {
                              "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields from Backup: * `labels`",
                              "location": "query",
                              "format": "google-fieldmask",
                              "type": "string"
                            },
                            "name": {
                              "description": "Output only. The unique name of the Backup in the form of `projects/{project_id}/locations/global/domains/{domain_name}/backups/{name}`",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$",
                              "type": "string"
                            }
                          },
                          "id": "managedidentities.projects.locations.global.domains.backups.patch"
                        },
                        "setIamPolicy": {
                          "parameterOrder": [
                            "resource"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+resource}:setIamPolicy",
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}:setIamPolicy",
                          "response": {
                            "$ref": "Policy"
                          },
                          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                          "request": {
                            "$ref": "SetIamPolicyRequest"
                          },
                          "id": "managedidentities.projects.locations.global.domains.backups.setIamPolicy",
                          "httpMethod": "POST",
                          "parameters": {
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          }
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets details of a single Backup.",
                          "path": "v1/{+name}",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "Backup"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "managedidentities.projects.locations.global.domains.backups.get",
                          "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/backups/{backupsId}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/global/domains/[^/]+/backups/[^/]+$",
                              "description": "Required. The backup resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}/backups/{backup_id}`",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "testIamPermissions": {
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:testIamPermissions",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "id": "managedidentities.projects.locations.global.domains.testIamPermissions",
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "parameterOrder": [
                        "resource"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+resource}:testIamPermissions",
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      }
                    },
                    "resetAdminPassword": {
                      "httpMethod": "POST",
                      "id": "managedidentities.projects.locations.global.domains.resetAdminPassword",
                      "path": "v1/{+name}:resetAdminPassword",
                      "description": "Resets a domain's administrator password.",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:resetAdminPassword",
                      "request": {
                        "$ref": "ResetAdminPasswordRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ResetAdminPasswordResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "id": "managedidentities.projects.locations.global.domains.create",
                      "path": "v1/{+parent}/domains",
                      "request": {
                        "$ref": "Domain"
                      },
                      "description": "Creates a Microsoft AD domain.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global$",
                          "description": "Required. The resource project name and location using the form: `projects/{project_id}/locations/global`",
                          "location": "path",
                          "type": "string"
                        },
                        "domainName": {
                          "type": "string",
                          "description": "Required. The fully qualified domain name. e.g. mydomain.myorganization.com, with the following restrictions: * Must contain only lowercase letters, numbers, periods and hyphens. * Must start with a letter. * Must contain between 2-64 characters. * Must end with a number or a letter. * Must not start with period. * First segment length (mydomain for example above) shouldn't exceed 15 chars. * The last segment cannot be fully numeric. * Must be unique within the customer project.",
                          "location": "query"
                        }
                      }
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Domain"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The unique name of the domain using the form: `projects/{project_id}/locations/global/domains/{domain_name}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include fields from Domain: * `labels` * `locations` * `authorized_networks` * `audit_logs_enabled`",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "description": "Updates the metadata and configuration of a domain.",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}",
                      "id": "managedidentities.projects.locations.global.domains.patch",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "path": "v1/{+parent}/domains",
                      "response": {
                        "$ref": "ListDomainsResponse"
                      },
                      "description": "Lists domains in a project.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "managedidentities.projects.locations.global.domains.list",
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the domain location using the form: `projects/{project_id}/locations/global`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global$"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used. Regardless of the page_size value, the response may include a partial list. Callers should rely on a response's next_page_token to determine if there are additional results to list.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A filter specifying constraints of a list operation. For example, `Domain.fqdn=\"mydomain.myorginization\"`."
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Specifies the ordering of results. See [Sorting order](https://cloud.google.com/apis/design/design_patterns#sorting_order) for more information."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The `next_page_token` value returned from a previous ListDomainsRequest request, if any."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains"
                    },
                    "getLdapssettings": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/ldapssettings",
                      "description": "Gets the domain ldaps settings.",
                      "response": {
                        "$ref": "LDAPSSettings"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedidentities.projects.locations.global.domains.getLdapssettings",
                      "path": "v1/{+name}/ldapssettings",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "detachTrust": {
                      "path": "v1/{+name}:detachTrust",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:detachTrust",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "DetachTrustRequest"
                      },
                      "description": "Removes an AD trust.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "managedidentities.projects.locations.global.domains.detachTrust",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource domain name, project name, and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "required": true
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "reconfigureTrust": {
                      "id": "managedidentities.projects.locations.global.domains.reconfigureTrust",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "Required. The resource domain name, project name and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "ReconfigureTrustRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:reconfigureTrust",
                      "path": "v1/{+name}:reconfigureTrust",
                      "description": "Updates the DNS conditional forwarder."
                    },
                    "validateTrust": {
                      "httpMethod": "POST",
                      "id": "managedidentities.projects.locations.global.domains.validateTrust",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "ValidateTrustRequest"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "Required. The resource domain name, project name, and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}:validateTrust",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:validateTrust",
                      "description": "Validates a trust state, that the target domain is reachable, and that the target domain is able to accept incoming trust requests."
                    },
                    "extendSchema": {
                      "httpMethod": "POST",
                      "description": "Extend Schema for Domain",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:extendSchema",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "ExtendSchemaRequest"
                      },
                      "id": "managedidentities.projects.locations.global.domains.extendSchema",
                      "parameters": {
                        "domain": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+domain}:extendSchema",
                      "parameterOrder": [
                        "domain"
                      ]
                    },
                    "setIamPolicy": {
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "id": "managedidentities.projects.locations.global.domains.setIamPolicy",
                      "httpMethod": "POST",
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$"
                        }
                      },
                      "path": "v1/{+resource}:setIamPolicy",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:setIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "response": {
                        "$ref": "Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "restore": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "Required. Resource name for the domain to which the backup belongs",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "managedidentities.projects.locations.global.domains.restore",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "RestoreDomain restores domain backup mentioned in the RestoreDomainRequest",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:restore",
                      "httpMethod": "POST",
                      "path": "v1/{+name}:restore",
                      "request": {
                        "$ref": "RestoreDomainRequest"
                      }
                    },
                    "attachTrust": {
                      "id": "managedidentities.projects.locations.global.domains.attachTrust",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource domain name, project name and location using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}:attachTrust",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "AttachTrustRequest"
                      },
                      "description": "Adds an AD trust to a domain.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:attachTrust",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "id": "managedidentities.projects.locations.global.domains.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a domain.",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "getIamPolicy": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Policy"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}:getIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "id": "managedidentities.projects.locations.global.domains.getIamPolicy",
                      "parameters": {
                        "options.requestedPolicyVersion": {
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "resource": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+resource}:getIamPolicy"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "id": "managedidentities.projects.locations.global.domains.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets information about a domain.",
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}",
                      "response": {
                        "$ref": "Domain"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The domain resource name using the form: `projects/{project_id}/locations/global/domains/{domain_name}`",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "updateLdapssettings": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/domains/{domainsId}/ldapssettings",
                      "id": "managedidentities.projects.locations.global.domains.updateLdapssettings",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "LDAPSSettings"
                      },
                      "description": "Patches a single ldaps settings.",
                      "path": "v1/{+name}/ldapssettings",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "The resource name of the LDAPS settings. Uses the form: `projects/{project}/locations/{location}/domains/{domain}`.",
                          "pattern": "^projects/[^/]+/locations/global/domains/[^/]+$",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1",
  "version_module": true,
  "title": "Managed Service for Microsoft Active Directory API",
  "schemas": {
    "GoogleCloudManagedidentitiesV1beta1OpMetadata": {
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        }
      },
      "id": "GoogleCloudManagedidentitiesV1beta1OpMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "ResetAdminPasswordResponse": {
      "properties": {
        "password": {
          "type": "string",
          "description": "A random password. See admin for more information."
        }
      },
      "type": "object",
      "id": "ResetAdminPasswordResponse",
      "description": "Response message for ResetAdminPassword"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'."
        },
        "resourceUrl": {
          "type": "string",
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\"."
        }
      },
      "type": "object",
      "description": "Describes provisioned dataplane resources."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ReconfigureTrustRequest": {
      "description": "Request message for ReconfigureTrust",
      "type": "object",
      "properties": {
        "targetDomainName": {
          "type": "string",
          "description": "Required. The fully-qualified target domain name which will be in trust with current domain."
        },
        "targetDnsIpAddresses": {
          "items": {
            "type": "string"
          },
          "description": "Required. The target DNS server IP addresses to resolve the remote domain involved in the trust.",
          "type": "array"
        }
      },
      "id": "ReconfigureTrustRequest"
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "Schedule": {
      "id": "Schedule",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Time within the window to start the operations."
        },
        "day": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Allows to define schedule that runs specified day of the week."
        },
        "duration": {
          "description": "Output only. Duration of the time window, set by service producer.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Configure the schedule.",
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "type": "object",
      "properties": {
        "eligibilities": {
          "type": "object",
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted.",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
          }
        }
      }
    },
    "ResetAdminPasswordRequest": {
      "id": "ResetAdminPasswordRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for ResetAdminPassword"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1Instance": {
      "type": "object",
      "properties": {
        "maintenancePolicyNames": {
          "type": "object",
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/cloud-saas-mw-ug. Should not be set if maintenance_settings.maintenance_policies is set.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisionedResources": {
          "items": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata."
        },
        "consumerDefinedName": {
          "description": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites).",
          "type": "string"
        },
        "state": {
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "readOnly": true,
          "type": "string"
        },
        "slmInstanceTemplate": {
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions.",
          "type": "string"
        },
        "maintenanceSettings": {
          "description": "Optional. The MaintenanceSettings associated with instance.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings"
        },
        "softwareVersions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services.",
          "type": "object"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
        },
        "notificationParameters": {
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the resource was last modified.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details."
        },
        "instanceType": {
          "type": "string",
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not."
        },
        "tenantProjectId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata."
        },
        "maintenanceSchedules": {
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions.",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
          },
          "type": "object"
        },
        "sloMetadata": {
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description.",
          "readOnly": true
        },
        "producerMetadata": {
          "readOnly": true,
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1Instance",
      "description": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata",
      "properties": {
        "location": {
          "description": "The location of the node, if different from instance location.",
          "type": "string"
        },
        "nodeId": {
          "type": "string",
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id."
        },
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility"
        }
      },
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "type": "object"
    },
    "MaintenancePolicy": {
      "description": "LINT.IfChange Defines policies to service maintenance events.",
      "type": "object",
      "id": "MaintenancePolicy",
      "properties": {
        "updatePolicy": {
          "$ref": "UpdatePolicy",
          "description": "Maintenance policy applicable to instance update."
        },
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the resource was updated."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "description": "Optional. The state of the policy."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the resource was created.",
          "format": "google-datetime"
        }
      }
    },
    "UpdatePolicy": {
      "type": "object",
      "id": "UpdatePolicy",
      "properties": {
        "denyMaintenancePeriods": {
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. User can specify zero or more non-overlapping deny periods. Maximum number of deny_maintenance_periods expected is one.",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array"
        },
        "channel": {
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "description": "Optional. Relative scheduling channel applied to resource.",
          "type": "string"
        },
        "window": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. Maintenance window that is applied to resources covered by this policy."
        }
      },
      "description": "Maintenance policy applicable to instance updates."
    },
    "ListPeeringsResponse": {
      "description": "ListPeeringsResponse is the response message for ListPeerings method.",
      "properties": {
        "peerings": {
          "type": "array",
          "description": "A list of Managed Identities Service Peerings in the project.",
          "items": {
            "$ref": "Peering"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListPeeringsResponse"
    },
    "WeeklyCycle": {
      "type": "object",
      "id": "WeeklyCycle",
      "description": "Time window specified for weekly operations.",
      "properties": {
        "schedule": {
          "type": "array",
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "items": {
            "$ref": "Schedule"
          }
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "Operation"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
[...]
