{
  "version_module": true,
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, set the service level of your GA4 properties.",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "name": "marketingplatformadmin",
  "servicePath": "",
  "protocol": "rest",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "title": "Google Marketing Platform Admin API",
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "version": "v1alpha",
  "canonicalName": "Google Marketing Platform Admin API",
  "schemas": {
    "AnalyticsAccountLink": {
      "id": "AnalyticsAccountLink",
      "type": "object",
      "properties": {
        "analyticsAccount": {
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The human-readable name for the Analytics account.",
          "type": "string"
        },
        "linkVerificationState": {
          "type": "string",
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ],
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "readOnly": true,
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization."
        },
        "name": {
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\"",
          "type": "string"
        }
      },
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ListAnalyticsAccountLinksResponse": {
      "id": "ListAnalyticsAccountLinksResponse",
      "properties": {
        "analyticsAccountLinks": {
          "type": "array",
          "description": "Analytics account links in this organization.",
          "items": {
            "$ref": "AnalyticsAccountLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for ListAnalyticsAccountLinks RPC."
    },
    "SetPropertyServiceLevelRequest": {
      "description": "Request message for SetPropertyServiceLevel RPC.",
      "properties": {
        "analyticsProperty": {
          "type": "string",
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "serviceLevel": {
          "type": "string",
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "description": "Required. The service level to set for this property.",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ]
        }
      },
      "type": "object",
      "id": "SetPropertyServiceLevelRequest"
    },
    "SetPropertyServiceLevelResponse": {
      "properties": {},
      "description": "Response message for SetPropertyServiceLevel RPC.",
      "type": "object",
      "id": "SetPropertyServiceLevelResponse"
    }
  },
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "id": "marketingplatformadmin:v1alpha",
  "revision": "20240311",
  "batchPath": "batch",
  "resources": {
    "organizations": {
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "setPropertyServiceLevel": {
              "parameters": {
                "analyticsAccountLink": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "required": true,
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "description": "Updates the service level for an Analytics property.",
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel",
              "httpMethod": "POST"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "request": {
                "$ref": "AnalyticsAccountLink"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.",
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create"
            },
            "list": {
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              },
              "httpMethod": "GET"
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com"
}
