{
  "title": "Merchant API",
  "version_module": true,
  "canonicalName": "Merchant",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://merchantapi.googleapis.com/",
  "name": "merchantapi",
  "kind": "discovery#restDescription",
  "id": "merchantapi:accounts_v1beta",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "servicePath": "",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "version": "accounts_v1beta",
  "protocol": "rest",
  "basePath": "",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "schemas": {
    "AccountTax": {
      "id": "AccountTax",
      "description": "The tax settings of a merchant account. All methods require the admin role.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the tax setting. Format: \"{account_tax.name=accounts/{account}}\"",
          "type": "string"
        },
        "account": {
          "description": "Output only. The ID of the account to which these account tax settings belong.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "taxRules": {
          "description": "Tax rules. \"Define the tax rules in each region. No tax will be presented if a region has no rule.\"",
          "type": "array",
          "items": {
            "$ref": "TaxRule"
          }
        }
      }
    },
    "TaxRule": {
      "id": "TaxRule",
      "description": "Primary type convension percent micro : 100% = 1 000 000 and 1% = 10 000 cannot be negative. Information about tax nexus and related parameters applicable to orders delivered to the area covered by a single tax admin. Nexus is created when a merchant is doing business in an area administered by tax admin (only US states are supported for nexus configuration). If merchant has nexus in a US state, merchant needs to pay tax to all tax authorities associated with the shipping destination. Next Id : 8",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The admin_id or criteria_id of the region in which this rule is applicable.",
          "type": "string",
          "format": "int64"
        },
        "postCodeRange": {
          "description": "The range of postal codes in which this rule is applicable.",
          "$ref": "TaxPostalCodeRange"
        },
        "useGoogleRate": {
          "description": "Rate that depends on delivery location: if merchant has a nexus in corresponding US state, rates from authorities with jurisdiction over delivery area are added up.",
          "type": "boolean"
        },
        "selfSpecifiedRateMicros": {
          "description": "A fixed rate specified in micros, where 100% = 1_000_000. Suitable for origin-based states.",
          "type": "string",
          "format": "int64"
        },
        "regionCode": {
          "description": "Region code in which this rule is applicable",
          "type": "string"
        },
        "shippingTaxed": {
          "description": "If set, shipping charge is taxed (at the same rate as product) when delivering to this admin's area. Can only be set on US states without category.",
          "type": "boolean"
        },
        "effectiveTimePeriod": {
          "description": "Required. Time period when this rule is effective. If the duration is missing from effective_time listed, then it is open ended to the future. The start of this time period is inclusive, and the end is exclusive.",
          "$ref": "Interval"
        }
      }
    },
    "TaxPostalCodeRange": {
      "id": "TaxPostalCodeRange",
      "description": "A range of postal codes that defines the area.",
      "type": "object",
      "properties": {
        "start": {
          "description": "Required. The start of the postal code range, which is also the smallest in the range.",
          "type": "string"
        },
        "end": {
          "description": "The end of the postal code range. Will be the same as start if not specified.",
          "type": "string"
        }
      }
    },
    "Interval": {
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListAccountTaxResponse": {
      "id": "ListAccountTaxResponse",
      "description": "Response to account tax list request This method can only be called on a multi-client account, otherwise it'll return an error.",
      "type": "object",
      "properties": {
        "accountTaxes": {
          "description": "Page of accounttax settings",
          "type": "array",
          "items": {
            "$ref": "AccountTax"
          }
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of account tax settings.",
          "type": "string"
        }
      }
    },
    "ListAccountIssuesResponse": {
      "id": "ListAccountIssuesResponse",
      "description": "Response message for the `ListAccountIssues` method.",
      "type": "object",
      "properties": {
        "accountIssues": {
          "description": "The issues from the specified account.",
          "type": "array",
          "items": {
            "$ref": "AccountIssue"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "AccountIssue": {
      "id": "AccountIssue",
      "description": "An [`AccountIssue`](https://support.google.com/merchants/answer/12153802?sjid=17798438912526418908-EU#account).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the account issue. Format: `accounts/{account}/issues/{id}`",
          "type": "string"
        },
        "title": {
          "description": "The localized title of the issue.",
          "type": "string"
        },
        "severity": {
          "description": "The overall severity of the issue.",
          "type": "string",
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ]
        },
        "impactedDestinations": {
          "description": "The impact this issue has on various destinations.",
          "type": "array",
          "items": {
            "$ref": "ImpactedDestination"
          }
        },
        "detail": {
          "description": "Further localized details about the issue.",
          "type": "string"
        },
        "documentationUri": {
          "description": "Link to Merchant Center Help Center providing further information about the issue and how to fix it.",
          "type": "string"
        }
      }
    },
    "ImpactedDestination": {
      "id": "ImpactedDestination",
      "description": "The impact of the issue on a destination.",
      "type": "object",
      "properties": {
        "reportingContext": {
          "description": "The impacted reporting context.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail)."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL"
          ]
        },
        "impacts": {
          "description": "The (negative) impact for various regions on the given destination.",
          "type": "array",
          "items": {
            "$ref": "Impact"
          }
        }
      }
    },
    "Impact": {
      "id": "Impact",
      "description": "The impact of the issue on a region.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "The [CLDR region code](https://cldr.unicode.org/) where this issue applies.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the issue on the destination and region.",
          "type": "string",
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ]
        }
      }
    },
    "User": {
      "id": "User",
      "description": "A [user](https://support.google.com/merchants/answer/12160472).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the user.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The user is pending confirmation. In this state, the user first needs to accept the invitation before performing other actions.",
            "The user is verified."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ]
        },
        "accessRights": {
          "description": "Optional. The [access rights](https://support.google.com/merchants/answer/12160472?sjid=6789834943175119429-EU#accesstypes) the user has.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Standard access rights.",
              "Admin access rights.",
              "Users with this right have access to performance and insights."
            ],
            "enum": [
              "ACCESS_RIGHT_UNSPECIFIED",
              "STANDARD",
              "ADMIN",
              "PERFORMANCE_REPORTING"
            ]
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ListUsersResponse": {
      "id": "ListUsersResponse",
      "description": "Response message for the `ListUsers` method.",
      "type": "object",
      "properties": {
        "users": {
          "description": "The users from the specified account.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Account": {
      "id": "Account",
      "description": "An account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the account. Format: `accounts/{account}`",
          "type": "string"
        },
        "accountId": {
          "description": "Output only. The ID of the account.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "accountName": {
          "description": "Required. A human-readable name of the account. See [store name](https://support.google.com/merchants/answer/160556) and [business name](https://support.google.com/merchants/answer/12159159) for more information.",
          "type": "string"
        },
        "adultContent": {
          "description": "Whether this account contains adult content.",
          "type": "boolean"
        },
        "testAccount": {
          "description": "Output only. Whether this is a test account.",
          "readOnly": true,
          "type": "boolean"
        },
        "timeZone": {
          "description": "Required. The time zone of the account. On writes, `time_zone` sets both the `reporting_time_zone` and the `display_time_zone`. For reads, `time_zone` always returns the `display_time_zone`. If `display_time_zone` doesn't exist for your account, `time_zone` is empty.",
          "$ref": "TimeZone"
        },
        "languageCode": {
          "description": "Required. The account's [BCP-47 language code](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`.",
          "type": "string"
        }
      }
    },
    "TimeZone": {
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string"
        }
      }
    },
    "CreateAndConfigureAccountRequest": {
      "id": "CreateAndConfigureAccountRequest",
      "description": "Request message for the `CreateAndConfigureAccount` method.",
      "type": "object",
      "properties": {
        "account": {
          "description": "Required. The account to be created.",
          "$ref": "Account"
        },
        "users": {
          "description": "Optional. Users to be added to the account.",
          "type": "array",
          "items": {
            "$ref": "CreateUserRequest"
          }
        },
        "acceptTermsOfService": {
          "description": "Optional. The Terms of Service (ToS) to be accepted immediately upon account creation.",
          "$ref": "AcceptTermsOfService"
        },
        "service": {
          "description": "Optional. If specified, an account service between the account to be created and the provider account is initialized as part of the creation.",
          "type": "array",
          "items": {
            "$ref": "AddAccountService"
          }
        }
      }
    },
    "CreateUserRequest": {
      "id": "CreateUserRequest",
      "description": "Request message for the `CreateUser` method.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The resource name of the account for which a user will be created. Format: `accounts/{account}`",
          "type": "string"
        },
        "userId": {
          "description": "Required. The email address of the user (for example, `john.doe@gmail.com`).",
          "type": "string"
        },
        "user": {
          "description": "Required. The user to create.",
          "$ref": "User"
        }
      }
    },
    "AcceptTermsOfService": {
      "id": "AcceptTermsOfService",
      "description": "Reference to a Terms of Service resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The resource name of the terms of service version.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country when the ToS applies specifically to that country or `001` when it applies globally.",
          "type": "string"
        }
      }
    },
    "AddAccountService": {
      "id": "AddAccountService",
      "description": "Additional instructions to add account services during creation of the account.",
      "type": "object",
      "properties": {
        "accountAggregation": {
          "description": "The provider is an aggregator for the account.",
          "$ref": "Empty"
        },
        "provider": {
          "description": "Optional. The provider of the service. Format: `accounts/{account}`",
          "type": "string"
        }
      }
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "description": "Response message for the `ListAccounts` method.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "The accounts matching the `ListAccountsRequest`.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListSubAccountsResponse": {
      "id": "ListSubAccountsResponse",
      "description": "Response message for the `ListSubAccounts` method.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "The accounts for which the given parent account is an aggregator.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "BusinessIdentity": {
      "id": "BusinessIdentity",
      "description": "Collection of information related to the [identity of a business](https://support.google.com/merchants/answer/12564247).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
          "type": "string"
        },
        "promotionsConsent": {
          "description": "Optional. Whether the identity attributes may be used for promotions.",
          "type": "string",
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account consented to having their business identity used for promotions.",
            "Indicates that the account did not consent to having their business identity used for promotions."
          ],
          "enum": [
            "PROMOTIONS_CONSENT_UNSPECIFIED",
            "PROMOTIONS_CONSENT_GIVEN",
            "PROMOTIONS_CONSENT_DENIED"
          ]
        },
        "blackOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being black-owned. This optional field will only be available for merchants with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "womenOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being women-owned. This optional field will only be available for merchants with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "veteranOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being veteran-owned. This optional field will only be available for merchants with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "latinoOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being latino-owned. This optional field will only be available for merchants with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "smallBusiness": {
          "description": "Optional. Specifies whether the business identifies itself as a small business. This optional field will only be available for merchants with a business country set to `US`. It is also not applicable for marketplaces.",
          "$ref": "IdentityAttribute"
        }
      }
    },
    "IdentityAttribute": {
      "id": "IdentityAttribute",
      "description": "All information related to an identity attribute.",
      "type": "object",
      "properties": {
        "identityDeclaration": {
          "description": "Required. The declaration of identity for this attribute.",
          "type": "string",
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account identifies with the attribute.",
            "Indicates that the account does not identify with the attribute."
          ],
          "enum": [
            "IDENTITY_DECLARATION_UNSPECIFIED",
            "SELF_IDENTIFIES_AS",
            "DOES_NOT_SELF_IDENTIFY_AS"
          ]
        }
      }
    },
    "BusinessInfo": {
      "id": "BusinessInfo",
      "description": "Collection of information related to a business.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`",
          "type": "string"
        },
        "address": {
          "description": "Optional. The address of the business.",
          "$ref": "PostalAddress"
        },
        "phone": {
          "description": "Output only. The phone number of the business.",
          "readOnly": true,
          "$ref": "PhoneNumber"
        },
        "phoneVerificationState": {
          "description": "Output only. The phone verification state of the business.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The phone is verified.",
            "The phone is unverified"
          ],
          "enum": [
            "PHONE_VERIFICATION_STATE_UNSPECIFIED",
            "PHONE_VERIFICATION_STATE_VERIFIED",
            "PHONE_VERIFICATION_STATE_UNVERIFIED"
          ]
        },
        "customerService": {
          "description": "Optional. The customer service of the business.",
          "$ref": "CustomerService"
        }
      }
    },
    "PostalAddress": {
      "id": "PostalAddress",
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478",
      "type": "object",
      "properties": {
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "type": "integer",
          "format": "int32"
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.).",
          "type": "string"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire).",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated.",
          "type": "string"
        },
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines.",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts.",
          "type": "string"
        },
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "recipients": {
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        }
      }
    },
    "PhoneNumber": {
      "id": "PhoneNumber",
      "description": "An object representing a phone number, suitable as an API wire format. This representation: - should not be used for locale-specific formatting of a phone number, such as \"+1 (650) 253-0000 ext. 123\" - is not designed for efficient storage - may not be suitable for dialing - specialized libraries (see references) should be used to parse the number for that purpose To do something meaningful with this number, such as format it for various use-cases, convert it to an `i18n.phonenumbers.PhoneNumber` object first. For instance, in Java this would be: com.google.type.PhoneNumber wireProto = com.google.type.PhoneNumber.newBuilder().build(); com.google.i18n.phonenumbers.Phonenumber.PhoneNumber phoneNumber = PhoneNumberUtil.getInstance().parse(wireProto.getE164Number(), \"ZZ\"); if (!wireProto.getExtension().isEmpty()) { phoneNumber.setExtension(wireProto.getExtension()); } Reference(s): - https://github.com/google/libphonenumber",
      "type": "object",
      "properties": {
        "e164Number": {
          "description": "The phone number, represented as a leading plus sign ('+'), followed by a phone number that uses a relaxed ITU E.164 format consisting of the country calling code (1 to 3 digits) and the subscriber number, with no additional spaces or formatting, e.g.: - correct: \"+15552220123\" - incorrect: \"+1 (555) 222-01234 x123\". The ITU E.164 format limits the latter to 12 digits, but in practice not all countries respect that, so we relax that restriction here. National-only numbers are not allowed. References: - https://www.itu.int/rec/T-REC-E.164-201011-I - https://en.wikipedia.org/wiki/E.164. - https://en.wikipedia.org/wiki/List_of_country_calling_codes",
          "type": "string"
        },
        "shortCode": {
          "description": "A short code. Reference(s): - https://en.wikipedia.org/wiki/Short_code",
          "$ref": "ShortCode"
        },
        "extension": {
          "description": "The phone number's extension. The extension is not standardized in ITU recommendations, except for being defined as a series of numbers with a maximum length of 40 digits. Other than digits, some other dialing characters such as ',' (indicating a wait) or '#' may be stored here. Note that no regions currently use extensions with short codes, so this field is normally only set in conjunction with an E.164 number. It is held separately from the E.164 number to allow for short code extensions in the future.",
          "type": "string"
        }
      }
    },
    "ShortCode": {
      "id": "ShortCode",
      "description": "An object representing a short code, which is a phone number that is typically much shorter than regular phone numbers and can be used to address messages in MMS and SMS systems, as well as for abbreviated dialing (e.g. \"Text 611 to see how many minutes you have remaining on your plan.\"). Short codes are restricted to a region and are not internationally dialable, which means the same short code can exist in different regions, with different usage and pricing, even if those regions share the same country calling code (e.g. US and CA).",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. The BCP-47 region code of the location where calls to this short code can be made, such as \"US\" and \"BB\". Reference(s): - http://www.unicode.org/reports/tr35/#unicode_region_subtag",
          "type": "string"
        },
        "number": {
          "description": "Required. The short code digits, without a leading plus ('+') or country calling code, e.g. \"611\".",
          "type": "string"
        }
      }
    },
    "CustomerService": {
      "id": "CustomerService",
      "description": "Customer service information.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Optional. The URI where customer service may be found.",
          "type": "string"
        },
        "email": {
          "description": "Optional. The email address where customer service may be reached.",
          "type": "string"
        },
        "phone": {
          "description": "Optional. The phone number where customer service may be called.",
          "$ref": "PhoneNumber"
        }
      }
    },
    "EmailPreferences": {
      "id": "EmailPreferences",
      "description": "The categories of notifications the user opted into / opted out of. The email preferences do not include mandatory announcements as users can't opt out of them.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user.",
          "type": "string"
        },
        "newsAndTips": {
          "description": "Optional. Updates on new features, tips and best practices.",
          "type": "string",
          "enumDescriptions": [
            "Opt-in status is not specified.",
            "User has opted out of receiving this type of email.",
            "User has opted in to receiving this type of email.",
            "User has opted in to receiving this type of email and the confirmation email has been sent, but user has not yet confirmed the opt in (applies only to certain countries)."
          ],
          "enum": [
            "OPT_IN_STATE_UNSPECIFIED",
            "OPTED_OUT",
            "OPTED_IN",
            "UNCONFIRMED"
          ]
        }
      }
    },
    "Homepage": {
      "id": "Homepage",
      "description": "A store's homepage.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`",
          "type": "string"
        },
        "uri": {
          "description": "Required. The URI (typically a URL) of the store's homepage.",
          "type": "string"
        },
        "claimed": {
          "description": "Output only. Whether the homepage is claimed. See https://support.google.com/merchants/answer/176793.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "ClaimHomepageRequest": {
      "id": "ClaimHomepageRequest",
      "description": "Request message for the `ClaimHomepage` method.",
      "type": "object",
      "properties": {}
    },
    "UnclaimHomepageRequest": {
      "id": "UnclaimHomepageRequest",
      "description": "Request message for the `UnclaimHomepage` method.",
      "type": "object",
      "properties": {}
    },
    "OnlineReturnPolicy": {
      "id": "OnlineReturnPolicy",
      "description": "[Online return policy](https://support.google.com/merchants/answer/10220642) object. This is currently used to represent return policies for ads and free listings programs.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
          "type": "string"
        },
        "returnPolicyId": {
          "description": "Output only. Return policy ID generated by Google.",
          "readOnly": true,
          "type": "string"
        },
        "label": {
          "description": "This field represents the unique user-defined label of the return policy. It is important to note that the same label cannot be used in different return policies for the same country. Unless a product specifies a specific label attribute, policies will be automatically labeled as 'default'. To assign a custom return policy to certain product groups, follow the instructions provided in the [Return policy label] (https://support.google.com/merchants/answer/9445425). The label can contain up to 50 characters.",
          "type": "string"
        },
        "countries": {
          "description": "The countries of sale where the return policy applies. The values must be a valid 2 letter ISO 3166 code.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policy": {
          "description": "The return policy.",
          "$ref": "Policy"
        },
        "restockingFee": {
          "description": "The restocking fee that applies to all return reason categories. This would be treated as a free restocking fee if the value is not set.",
          "$ref": "RestockingFee"
        },
        "returnMethods": {
          "description": "The return methods of how customers can return an item. This value is required to not be empty unless the type of return policy is noReturns.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Return by mail.",
              "Return in store.",
              "Return at a kiosk."
            ],
            "enum": [
              "RETURN_METHOD_UNSPECIFIED",
              "BY_MAIL",
              "IN_STORE",
              "AT_A_KIOSK"
            ]
          }
        },
        "itemConditions": {
          "description": "The item conditions accepted for returns must not be empty unless the type of return policy is 'noReturns'.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "New.",
              "Used."
            ],
            "enum": [
              "ITEM_CONDITION_UNSPECIFIED",
              "NEW",
              "USED"
            ]
          }
        },
        "returnShippingFee": {
          "description": "The return shipping fee. Should be set only when customer need to download and print the return label.",
          "$ref": "ReturnShippingFee"
        },
        "returnPolicyUri": {
          "description": "The return policy uri. This can used by Google to do a sanity check for the policy. It must be a valid URL.",
          "type": "string"
        },
        "acceptDefectiveOnly": {
          "description": "This field specifies if merchant only accepts defective products for returns, and this field is required.",
          "type": "boolean"
        },
        "processRefundDays": {
          "description": "The field specifies the number of days it takes for merchants to process refunds, field is optional.",
          "type": "integer",
          "format": "int32"
        },
        "acceptExchange": {
          "description": "This field specifies if merchant allows customers to exchange products, this field is required.",
          "type": "boolean"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "The available policies.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Policy type.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The number of days within which a return is valid after delivery.",
            "No returns.",
            "Life time returns."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NUMBER_OF_DAYS_AFTER_DELIVERY",
            "NO_RETURNS",
            "LIFETIME_RETURNS"
          ]
        },
        "days": {
          "description": "The number of days items can be returned after delivery, where one day is defined as 24 hours after the delivery timestamp. Required for `NUMBER_OF_DAYS_AFTER_DELIVERY` returns.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RestockingFee": {
      "id": "RestockingFee",
      "description": "The restocking fee. This can be a flat fee or a micro percent.",
      "type": "object",
      "properties": {
        "fixedFee": {
          "description": "Fixed restocking fee.",
          "$ref": "Price"
        },
        "microPercent": {
          "description": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Price": {
      "id": "Price",
      "description": "The price represented as a number and currency.",
      "type": "object",
      "properties": {
        "amountMicros": {
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      }
    },
    "ReturnShippingFee": {
      "id": "ReturnShippingFee",
      "description": "The return shipping fee. This can either be a fixed fee or a boolean to indicate that the customer pays the actual shipping cost.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of return shipping fee.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The return shipping fee is a fixed value.",
            "Customers will pay the actual return shipping fee."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED",
            "CUSTOMER_PAYING_ACTUAL_FEE"
          ]
        },
        "fixedFee": {
          "description": "Fixed return shipping fee amount. This value is only applicable when type is `FIXED`. We will treat the return shipping fee as free if type is `FIXED` and this value is not set.",
          "$ref": "Price"
        }
      }
    },
    "ListOnlineReturnPoliciesResponse": {
      "id": "ListOnlineReturnPoliciesResponse",
      "description": "Response message for the `ListOnlineReturnPolicies` method.",
      "type": "object",
      "properties": {
        "onlineReturnPolicies": {
          "description": "The retrieved return policies.",
          "type": "array",
          "items": {
            "$ref": "OnlineReturnPolicy"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Program": {
      "id": "Program",
      "description": "Defines participation in a given program for the specified account. Programs provide a mechanism for adding functionality to merchant accounts. A typical example of this is the [Free product listings](https://support.google.com/merchants/topic/9240261?ref_topic=7257954,7259405,&sjid=796648681813264022-EU) program, which enables products from a merchant's store to be shown across Google for free.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the program. Format: `accounts/{account}/programs/{program}`",
          "type": "string"
        },
        "documentationUri": {
          "description": "Output only. The URL of a Merchant Center help page describing the program.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The participation state of the account in the program.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The account is not eligible to participate in the program.",
            "The account is eligible to participate in the program.",
            "The program is enabled for the account."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_ELIGIBLE",
            "ELIGIBLE",
            "ENABLED"
          ]
        },
        "activeRegionCodes": {
          "description": "Output only. The regions in which the account is actively participating in the program. Active regions are defined as those where all program requirements affecting the regions have been met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unmetRequirements": {
          "description": "Output only. The requirements that the account has not yet satisfied that are affecting participation in the program.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Requirement"
          }
        }
      }
    },
    "Requirement": {
      "id": "Requirement",
      "description": "Defines a requirement specified for participation in the program.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Output only. Name of the requirement.",
          "readOnly": true,
          "type": "string"
        },
        "documentationUri": {
          "description": "Output only. The URL of a help page describing the requirement.",
          "readOnly": true,
          "type": "string"
        },
        "affectedRegionCodes": {
          "description": "Output only. The regions that are currently affected by this requirement not being met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListProgramsResponse": {
      "id": "ListProgramsResponse",
      "description": "Response message for the ListPrograms method.",
      "type": "object",
      "properties": {
        "programs": {
          "description": "The programs for the given account.",
          "type": "array",
          "items": {
            "$ref": "Program"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "EnableProgramRequest": {
      "id": "EnableProgramRequest",
      "description": "Request message for the EnableProgram method.",
      "type": "object",
      "properties": {}
    },
    "DisableProgramRequest": {
      "id": "DisableProgramRequest",
      "description": "Request message for the DisableProgram method.",
      "type": "object",
      "properties": {}
    },
    "Region": {
      "id": "Region",
      "description": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes or, in some countries, using predefined geotargets. For more information, see [Set up regions ](https://support.google.com/merchants/answer/7410946#zippy=%2Ccreate-a-new-region) for more information.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the region.",
          "type": "string"
        },
        "postalCodeArea": {
          "description": "Optional. A list of postal codes that defines the region area.",
          "$ref": "PostalCodeArea"
        },
        "geotargetArea": {
          "description": "Optional. A list of geotargets that defines the region area.",
          "$ref": "GeoTargetArea"
        },
        "regionalInventoryEligible": {
          "description": "Output only. Indicates if the region is eligible for use in the Regional Inventory configuration.",
          "readOnly": true,
          "type": "boolean"
        },
        "shippingEligible": {
          "description": "Output only. Indicates if the region is eligible for use in the Shipping Services configuration.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "PostalCodeArea": {
      "id": "PostalCodeArea",
      "description": "A list of postal codes that defines the region area. Note: All regions defined using postal codes are accessible through the account's `ShippingSettings.postalCodeGroups` resource.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the postal code group applies to.",
          "type": "string"
        },
        "postalCodes": {
          "description": "Required. A range of postal codes.",
          "type": "array",
          "items": {
            "$ref": "PostalCodeRange"
          }
        }
      }
    },
    "PostalCodeRange": {
      "id": "PostalCodeRange",
      "description": "A range of postal codes that defines the region area.",
      "type": "object",
      "properties": {
        "begin": {
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: `94108`, `9410*`, `9*`.",
          "type": "string"
        },
        "end": {
          "description": "Optional. A postal code or a pattern of the form `prefix*` denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin.",
          "type": "string"
        }
      }
    },
    "GeoTargetArea": {
      "id": "GeoTargetArea",
      "description": "A list of geotargets that defines the region area.",
      "type": "object",
      "properties": {
        "geotargetCriteriaIds": {
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (for example, state).",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "ListRegionsResponse": {
      "id": "ListRegionsResponse",
      "description": "Response message for the `ListRegions` method.",
      "type": "object",
      "properties": {
        "regions": {
          "description": "The regions from the specified merchant.",
          "type": "array",
          "items": {
            "$ref": "Region"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ShippingSettings": {
      "id": "ShippingSettings",
      "description": "The merchant account's [shipping setting]((https://support.google.com/merchants/answer/6069284).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the shipping setting. Format: `accounts/{account}/shippingSetting`",
          "type": "string"
        },
        "services": {
          "description": "Optional. The target account's list of services.",
          "type": "array",
          "items": {
            "$ref": "Service"
          }
        },
        "warehouses": {
          "description": "Optional. A list of warehouses which can be referred to in `services`.",
          "type": "array",
          "items": {
            "$ref": "Warehouse"
          }
        },
        "etag": {
          "description": "Required. This field is used for avoid async issue. Make sure shipping setting data didn't change between get call and insert call. The user should do following steps： 1. Set etag field as empty string for initial shipping setting creation. 2. After initial creation, call get method to obtain an etag and current shipping setting data before call insert. 3. Modify to wanted shipping setting information. 4. Call insert method with the wanted shipping setting information with the etag obtained from step 2. 5. If shipping setting data changed between step 2 and step 4. Insert request will fail because the etag changes every time the shipping setting data changes. User should repeate step 2-4 with the new etag.",
          "type": "string"
        }
      }
    },
    "Service": {
      "id": "Service",
      "description": "Shipping service.",
      "type": "object",
      "properties": {
        "serviceName": {
          "description": "Required. Free-form name of the service. Must be unique within target account.",
          "type": "string"
        },
        "active": {
          "description": "Required. A boolean exposing the active status of the shipping service.",
          "type": "boolean"
        },
        "deliveryCountries": {
          "description": "Required. The CLDR territory code of the countries to which the service applies.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "currencyCode": {
          "description": "The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups.",
          "type": "string"
        },
        "deliveryTime": {
          "description": "Required. Time spent in various aspects from order to the delivery of the product.",
          "$ref": "DeliveryTime"
        },
        "rateGroups": {
          "description": "Optional. Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap.",
          "type": "array",
          "items": {
            "$ref": "RateGroup"
          }
        },
        "shipmentType": {
          "description": "Type of locations this service ships orders to.",
          "type": "string",
          "enumDescriptions": [
            "This service did not specify shipment type.",
            "This service ships orders to an address chosen by the customer.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a local store near by.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a collection point."
          ],
          "enum": [
            "SHIPMENT_TYPE_UNSPECIFIED",
            "DELIVERY",
            "LOCAL_DELIVERY",
            "COLLECTION_POINT"
          ]
        },
        "minimumOrderValue": {
          "description": "Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with minimum_order_value_table.",
          "$ref": "Price"
        },
        "minimumOrderValueTable": {
          "description": "Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with minimum_order_value.",
          "$ref": "MinimumOrderValueTable"
        },
        "storeConfig": {
          "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type.",
          "$ref": "StoreConfig"
        },
        "loyaltyPrograms": {
          "description": "Optional. Loyalty programs that this shipping service is limited to.",
          "type": "array",
          "items": {
            "$ref": "LoyaltyProgram"
          }
        }
      }
    },
    "DeliveryTime": {
      "id": "DeliveryTime",
      "description": "Time spent in various aspects from order to the delivery of the product.",
      "type": "object",
      "properties": {
        "minTransitDays": {
          "description": "Minimum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Either `min_transit_days`, `max_transit_days` or `transit_time_table` must be set, but not both.",
          "type": "integer",
          "format": "int32"
        },
        "maxTransitDays": {
          "description": "Maximum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `min_transit_days`.",
          "type": "integer",
          "format": "int32"
        },
        "cutoffTime": {
          "description": "Business days cutoff time definition. If not configured the cutoff time will be defaulted to 8AM PST.",
          "$ref": "CutoffTime"
        },
        "minHandlingDays": {
          "description": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped.",
          "type": "integer",
          "format": "int32"
        },
        "maxHandlingDays": {
          "description": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `min_handling_days`.",
          "type": "integer",
          "format": "int32"
        },
        "transitTimeTable": {
          "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both.",
          "$ref": "TransitTable"
        },
        "handlingBusinessDayConfig": {
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "transitBusinessDayConfig": {
          "description": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "warehouseBasedDeliveryTimes": {
          "description": "Optional. Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in delivery time should be set.",
          "type": "array",
          "items": {
            "$ref": "WarehouseBasedDeliveryTime"
          }
        }
      }
    },
    "CutoffTime": {
      "id": "CutoffTime",
      "description": "Business days cutoff time definition.",
      "type": "object",
      "properties": {
        "hour": {
          "description": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day.",
          "type": "integer",
          "format": "int32"
        },
        "minute": {
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day.",
          "type": "integer",
          "format": "int32"
        },
        "timeZone": {
          "description": "Required. [Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example \"Europe/Zurich\".",
          "type": "string"
        }
      }
    },
    "TransitTable": {
      "id": "TransitTable",
      "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both.",
      "type": "object",
      "properties": {
        "postalCodeGroupNames": {
          "description": "Required. A list of region names Region.name . The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transitTimeLabels": {
          "description": "Required. A list of transit time labels. The last value can be `\"all other labels\"`. Example: `[\"food\", \"electronics\", \"all other labels\"]`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rows": {
          "description": "Required. If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`.",
          "type": "array",
          "items": {
            "$ref": "TransitTimeRow"
          }
        }
      }
    },
    "TransitTimeRow": {
      "id": "TransitTimeRow",
      "description": "If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Required. Transit time range (min-max) in business days.",
          "type": "array",
          "items": {
            "$ref": "TransitTimeValue"
          }
        }
      }
    },
    "TransitTimeValue": {
      "id": "TransitTimeValue",
      "description": "Transit time range (min-max) in business days.",
      "type": "object",
      "properties": {
        "minTransitDays": {
          "description": "Minimum transit time range in business days. 0 means same day delivery, 1 means next day delivery.",
          "type": "integer",
          "format": "int32"
        },
        "maxTransitDays": {
          "description": "Must be greater than or equal to `min_transit_days`.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BusinessDayConfig": {
      "id": "BusinessDayConfig",
      "description": "Business days of the warehouse.",
      "type": "object",
      "properties": {
        "businessDays": {
          "description": "Required. Regular business days. May not be empty.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "WEEKDAY_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          }
        }
      }
    },
    "WarehouseBasedDeliveryTime": {
      "id": "WarehouseBasedDeliveryTime",
      "description": "Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in `delivery_time` should be set.",
      "type": "object",
      "properties": {
        "carrier": {
          "description": "Required. Carrier, such as `\"UPS\"` or `\"Fedex\"`.",
          "type": "string"
        },
        "carrierService": {
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`. The name of the service must be in the eddSupportedServices list.",
          "type": "string"
        },
        "warehouse": {
          "description": "Required. Warehouse name. This should match warehouse",
          "type": "string"
        }
      }
    },
    "RateGroup": {
      "id": "RateGroup",
      "description": "Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap.",
      "type": "object",
      "properties": {
        "applicableShippingLabels": {
          "description": "Required. A list of [shipping labels](https://support.google.com/merchants/answer/6324504) defining the products to which this rate group applies to. This is a disjunction: only one of the labels has to match for the rate group to apply. May only be empty for the last rate group of a service.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "singleValue": {
          "description": "The value of the rate group (For example flat rate $10). Can only be set if `main_table` and `subtables` are not set.",
          "$ref": "Value"
        },
        "mainTable": {
          "description": "A table defining the rate group, when `single_value` is not expressive enough. Can only be set if `single_value` is not set.",
          "$ref": "Table"
        },
        "subtables": {
          "description": "Optional. A list of subtables referred to by `main_table`. Can only be set if `main_table` is set.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        },
        "carrierRates": {
          "description": "Optional. A list of carrier rates that can be referred to by `main_table` or `single_value`.",
          "type": "array",
          "items": {
            "$ref": "CarrierRate"
          }
        },
        "name": {
          "description": "Optional. Name of the rate group. If set has to be unique within shipping service.",
          "type": "string"
        }
      }
    },
    "Value": {
      "id": "Value",
      "description": "The single value of a rate group or the value of a rate group table's cell. Exactly one of `no_shipping`, `flat_rate`, `price_percentage`, `carrier_rateName`, `subtable_name` must be set.",
      "type": "object",
      "properties": {
        "noShipping": {
          "description": "If true, then the product can't be shipped. Must be true when set, can only be set if all other fields are not set.",
          "type": "boolean"
        },
        "flatRate": {
          "description": "A flat rate. Can only be set if all other fields are not set.",
          "$ref": "Price"
        },
        "pricePercentage": {
          "description": "A percentage of the price represented as a number in decimal notation (For example, `\"5.4\"`). Can only be set if all other fields are not set.",
          "type": "string"
        },
        "carrierRate": {
          "description": "The name of a carrier rate referring to a carrier rate defined in the same rate group. Can only be set if all other fields are not set.",
          "type": "string"
        },
        "subtable": {
          "description": "The name of a subtable. Can only be set in table cells (For example, not for single values), and only if all other fields are not set.",
          "type": "string"
        }
      }
    },
    "Table": {
      "id": "Table",
      "description": "A table defining the rate group, when `single_value` is not expressive enough.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the table. Required for subtables, ignored for the main table.",
          "type": "string"
        },
        "rowHeaders": {
          "description": "Required. Headers of the table's rows.",
          "$ref": "Headers"
        },
        "columnHeaders": {
          "description": "Headers of the table's columns. Optional: if not set then the table has only one dimension.",
          "$ref": "Headers"
        },
        "rows": {
          "description": "Required. The list of rows that constitute the table. Must have the same length as `row_headers`.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      }
    },
    "Headers": {
      "id": "Headers",
      "description": "A non-empty list of row or column headers for a table. Exactly one of `prices`, `weights`, `num_items`, `postal_code_group_names`, or `location` must be set.",
      "type": "object",
      "properties": {
        "prices": {
          "description": "Required. A list of inclusive order price upper bounds. The last price's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"currency_code\": \"USD\"}, {\"amount_micros\": 500000000, \"currency_code\": \"USD\"}, {\"amount_micros\": -1, \"currency_code\": \"USD\"}]` represents the headers \"\u003c= $10\", \"\u003c= $500\", and \"\u003e $500\". All prices within a service must have the same currency. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set.",
          "type": "array",
          "items": {
            "$ref": "Price"
          }
        },
        "weights": {
          "description": "Required. A list of inclusive order weight upper bounds. The last weight's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"unit\": \"kg\"}, {\"amount_micros\": 50000000, \"unit\": \"kg\"}, {\"amount_micros\": -1, \"unit\": \"kg\"}]` represents the headers \"\u003c= 10kg\", \"\u003c= 50kg\", and \"\u003e 50kg\". All weights within a service must have the same unit. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set.",
          "type": "array",
          "items": {
            "$ref": "Weight"
          }
        },
        "numberOfItems": {
          "description": "Required. A list of inclusive number of items upper bounds. The last value can be `\"infinity\"`. For example `[\"10\", \"50\", \"infinity\"]` represents the headers \"\u003c= 10 items\", \"\u003c= 50 items\", and \"\u003e 50 items\". Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "postalCodeGroupNames": {
          "description": "Required. A list of postal group names. The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service. Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "locations": {
          "description": "Required. A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array",
          "items": {
            "$ref": "LocationIdSet"
          }
        }
      }
    },
    "Weight": {
      "id": "Weight",
      "description": "The weight represented as the value in string and the unit.",
      "type": "object",
      "properties": {
        "amountMicros": {
          "description": "Required. The weight represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 kg = 1000000 micros). This field can also be set as infinity by setting to -1. This field only support -1 and positive value.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: kg and lb",
          "type": "string",
          "enumDescriptions": [
            "unit unspecified",
            "lb unit.",
            "kg unit."
          ],
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "POUND",
            "KILOGRAM"
          ]
        }
      }
    },
    "LocationIdSet": {
      "id": "LocationIdSet",
      "description": "A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set.",
      "type": "object",
      "properties": {
        "locationIds": {
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (For example, state).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Row": {
      "id": "Row",
      "description": "Include a list of cells.",
      "type": "object",
      "properties": {
        "cells": {
          "description": "Required. The list of cells that constitute the row. Must have the same length as `columnHeaders` for two-dimensional tables, a length of 1 for one-dimensional tables.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      }
    },
    "CarrierRate": {
      "id": "CarrierRate",
      "description": "A list of carrier rates that can be referred to by `main_table` or `single_value`.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the carrier rate. Must be unique per rate group.",
          "type": "string"
        },
        "carrier": {
          "description": "Required. Carrier service, such as `\"UPS\"` or `\"Fedex\"`.",
          "type": "string"
        },
        "carrierService": {
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`.",
          "type": "string"
        },
        "originPostalCode": {
          "description": "Required. Shipping origin for this carrier rate.",
          "type": "string"
        },
        "percentageAdjustment": {
          "description": "Optional. Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example `\"5.4\"` increases the rate by 5.4%, `\"-3\"` decreases the rate by 3%.",
          "type": "string"
        },
        "flatAdjustment": {
          "description": "Optional. Additive shipping rate modifier. Can be negative. For example `{ \"amount_micros\": 1, \"currency_code\" : \"USD\" }` adds $1 to the rate, `{ \"amount_micros\": -3, \"currency_code\" : \"USD\" }` removes $3 from the rate.",
          "$ref": "Price"
        }
      }
    },
    "MinimumOrderValueTable": {
      "id": "MinimumOrderValueTable",
      "description": "Table of per store minimum order values for the pickup fulfillment type.",
      "type": "object",
      "properties": {
        "storeCodeSetWithMovs": {
          "description": "Required. A list of store code sets sharing the same minimum order value (MOV). At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency.",
          "type": "array",
          "items": {
            "$ref": "StoreCodeSetWithMov"
          }
        }
      }
    },
    "StoreCodeSetWithMov": {
      "id": "StoreCodeSetWithMov",
      "description": "A list of store code sets sharing the same minimum order value. At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency.",
      "type": "object",
      "properties": {
        "storeCodes": {
          "description": "Optional. A list of unique store codes or empty for the catch all.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "description": "The minimum order value for the given stores.",
          "$ref": "Price"
        }
      }
    },
    "StoreConfig": {
      "id": "StoreConfig",
      "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type.",
      "type": "object",
      "properties": {
        "storeServiceType": {
          "description": "Indicates whether all stores, or selected stores, listed by this merchant provide local delivery.",
          "type": "string",
          "enumDescriptions": [
            "Did not specify store service type.",
            "Indicates whether all stores, current and future, listed by this merchant provide local delivery.",
            "Indicates that only the stores listed in `store_codes` are eligible for local delivery."
          ],
          "enum": [
            "STORE_SERVICE_TYPE_UNSPECIFIED",
            "ALL_STORES",
            "SELECTED_STORES"
          ]
        },
        "storeCodes": {
          "description": "Optional. A list of store codes that provide local delivery. If empty, then `all_stores` must be true.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cutoffConfig": {
          "description": "Configs related to local delivery ends for the day.",
          "$ref": "CutoffConfig"
        },
        "serviceRadius": {
          "description": "Maximum delivery radius. This is only required for the local delivery shipment type.",
          "$ref": "Distance"
        }
      }
    },
    "CutoffConfig": {
      "id": "CutoffConfig",
      "description": "Configs related to local delivery ends for the day.",
      "type": "object",
      "properties": {
        "localCutoffTime": {
          "description": "Time that local delivery ends for the day.",
          "$ref": "LocalCutoffTime"
        },
        "storeCloseOffsetHours": {
          "description": "Only valid with local delivery fulfillment. Represents cutoff time as the number of hours before store closing. Mutually exclusive with `local_cutoff_time`.",
          "type": "string",
          "format": "int64"
        },
        "noDeliveryPostCutoff": {
          "description": "Merchants can opt-out of showing n+1 day local delivery when they have a shipping service configured to n day local delivery. For example, if the shipping service defines same-day delivery, and it's past the cut-off, setting this field to `true` results in the calculated shipping service rate returning `NO_DELIVERY_POST_CUTOFF`. In the same example, setting this field to `false` results in the calculated shipping time being one day. This is only for local delivery.",
          "type": "boolean"
        }
      }
    },
    "LocalCutoffTime": {
      "id": "LocalCutoffTime",
      "description": "Time that local delivery ends for the day.",
      "type": "object",
      "properties": {
        "hour": {
          "description": "Hour local delivery orders must be placed by to process the same day.",
          "type": "string",
          "format": "int64"
        },
        "minute": {
          "description": "Minute local delivery orders must be placed by to process the same day.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Distance": {
      "id": "Distance",
      "description": "Maximum delivery radius. This is only required for the local delivery shipment type.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Integer value of distance.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "description": "Unit can differ based on country, it is parameterized to include miles and kilometers.",
          "type": "string",
          "enumDescriptions": [
            "Unit unspecified",
            "Unit in miles",
            "Unit in kilometers"
          ],
          "enum": [
            "UNIT_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ]
        }
      }
    },
    "LoyaltyProgram": {
      "id": "LoyaltyProgram",
      "description": "[Loyalty program](https://support.google.com/merchants/answer/12922446) provided by a merchant.",
      "type": "object",
      "properties": {
        "programLabel": {
          "description": "This is the loyalty program label set in your loyalty program settings in Merchant Center. This sub-attribute allows Google to map your loyalty program to eligible offers.",
          "type": "string"
        },
        "loyaltyProgramTiers": {
          "description": "Optional. Loyalty program tier of this shipping service.",
          "type": "array",
          "items": {
            "$ref": "LoyaltyProgramTiers"
          }
        }
      }
    },
    "LoyaltyProgramTiers": {
      "id": "LoyaltyProgramTiers",
      "description": "Subset of a merchants loyalty program.",
      "type": "object",
      "properties": {
        "tierLabel": {
          "description": "The tier label [tier_label] sub-attribute differentiates offer level benefits between each tier. This value is also set in your program settings in Merchant Center, and is required for data source changes even if your loyalty program only has 1 tier.",
          "type": "string"
        }
      }
    },
    "Warehouse": {
      "id": "Warehouse",
      "description": "A fulfillment warehouse, which stores and handles inventory. Next tag: 7",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the warehouse. Must be unique within account.",
          "type": "string"
        },
        "shippingAddress": {
          "description": "Required. Shipping address of the warehouse.",
          "$ref": "Address"
        },
        "cutoffTime": {
          "description": "Required. The latest time of day that an order can be accepted and begin processing. Later orders will be processed in the next day. The time is based on the warehouse postal code.",
          "$ref": "WarehouseCutoffTime"
        },
        "handlingDays": {
          "description": "Required. The number of days it takes for this warehouse to pack up and ship an item. This is on the warehouse level, but can be overridden on the offer level based on the attributes of an item.",
          "type": "string",
          "format": "int64"
        },
        "businessDayConfig": {
          "description": "Business days of the warehouse. If not set, will be Monday to Friday by default.",
          "$ref": "BusinessDayConfig"
        }
      }
    },
    "Address": {
      "id": "Address",
      "description": "Shipping address of the warehouse.",
      "type": "object",
      "properties": {
        "streetAddress": {
          "description": "Street-level part of the address. For example: `111w 31st Street`.",
          "type": "string"
        },
        "city": {
          "description": "Required. City, town or commune. May also include dependent localities or sublocalities (For example neighborhoods or suburbs).",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Required. Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\").",
          "type": "string"
        },
        "postalCode": {
          "description": "Required. Postal code or ZIP (For example \"94043\").",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. [CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) (For example \"US\").",
          "type": "string"
        }
      }
    },
    "WarehouseCutoffTime": {
      "id": "WarehouseCutoffTime",
      "description": "The latest time of day that an order can be accepted and begin processing. Later orders will be processed in the next day. The time is based on the warehouse postal code.",
      "type": "object",
      "properties": {
        "hour": {
          "description": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Hour is based on the timezone of warehouse.",
          "type": "integer",
          "format": "int32"
        },
        "minute": {
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Minute is based on the timezone of warehouse.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TermsOfService": {
      "id": "TermsOfService",
      "description": "A `TermsOfService`.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the terms of service version. Format: `termsOfService/{version}`",
          "type": "string"
        },
        "regionCode": {
          "description": "Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country where the ToS applies specifically to that country or `001` when the same `TermsOfService` can be signed in any country. However note that when signing a ToS that applies globally we still expect that a specific country is provided (this should be merchant business country or program country of participation).",
          "type": "string"
        },
        "kind": {
          "description": "The Kind this terms of service version applies to.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Merchant Center application."
          ],
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ]
        },
        "fileUri": {
          "description": "URI for terms of service file that needs to be displayed to signing users.",
          "type": "string"
        },
        "external": {
          "description": "Whether this terms of service version is external. External terms of service versions can only be agreed through external processes and not directly by the merchant through UI or API.",
          "type": "boolean"
        }
      }
    },
    "TermsOfServiceAgreementState": {
      "id": "TermsOfServiceAgreementState",
      "description": "This resource represents the agreement state for a given account and terms of service kind. The state is as follows: * If the merchant has accepted a terms of service: [accepted](TermsOfServiceAggrementState.accepted) will be populated, otherwise it will be empty * If the merchant must sign a terms of service: [required](TermsOfServiceAggrementState.required) will be populated, otherwise it will be empty. Note that both [required](TermsOfServiceAggrementState.required) and [accepted](TermsOfServiceAggrementState.accepted) can be present. In this case the `accepted` terms of services will have an expiration date set in the [valid_until](Accepted.valid_until) field. The `required` terms of services need to be accepted before `valid_until` in order for the account to continue having a valid agreement. When accepting new terms of services we expect 3Ps to display the text associated with the given terms of service agreement (the url to the file containing the text is added in the Required message below as [tos_file_uri](Accepted.tos_file_uri). The actual acceptance of the terms of service is done by calling accept on the [TermsOfService](TermsOfService) resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementState/{identifier}`",
          "type": "string"
        },
        "regionCode": {
          "description": "Region code as defined by https://cldr.unicode.org/. This is the country the current state applies to.",
          "type": "string"
        },
        "termsOfServiceKind": {
          "description": "Terms of Service kind associated with the particular version.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Merchant Center application."
          ],
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ]
        },
        "accepted": {
          "description": "The accepted terms of service of this kind and for the associated region_code",
          "$ref": "Accepted"
        },
        "required": {
          "description": "The required terms of service",
          "$ref": "Required"
        }
      }
    },
    "Accepted": {
      "id": "Accepted",
      "description": "Describes the accepted terms of service.",
      "type": "object",
      "properties": {
        "termsOfService": {
          "description": "The accepted [termsOfService](google.shopping.merchant.accounts.v1main.TermsOfService).",
          "type": "string"
        },
        "acceptedBy": {
          "description": "The account where the acceptance was recorded. This can be the account itself or, in the case of subaccounts, the MCA account.",
          "type": "string"
        },
        "validUntil": {
          "description": "When set, it states that the accepted [TermsOfService](google.shopping.merchant.accounts.v1main.TermsOfService) is only valid until the end of this date (in UTC). A new one must be accepted before then. The information of the required [TermsOfService](google.shopping.merchant.accounts.v1main.TermsOfService) is found in the [Required](Required) message.",
          "$ref": "Date"
        }
      }
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Required": {
      "id": "Required",
      "description": "Describes the terms of service which are required to be accepted.",
      "type": "object",
      "properties": {
        "termsOfService": {
          "description": "The [termsOfService](google.shopping.merchant.accounts.v1main.TermsOfService) that need to be accepted.",
          "type": "string"
        },
        "tosFileUri": {
          "description": "Full URL to the terms of service file. This field is the same as [TermsOfService.file_uri](TermsOfService.file_uri), it is added here for convenience only.",
          "type": "string"
        }
      }
    },
    "ProductStatusChangeMessage": {
      "id": "ProductStatusChangeMessage",
      "description": "The message that the merchant will receive to notify about product status change event",
      "type": "object",
      "properties": {
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "resourceType": {
          "description": "The resource that changed, in this case it will always be `Product`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product"
          ],
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT"
          ]
        },
        "attribute": {
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ]
        },
        "changes": {
          "description": "A message to describe the change that happened to the product",
          "type": "array",
          "items": {
            "$ref": "ProductChange"
          }
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "resource": {
          "description": "The product name. Format: `{product.name=accounts/{account}/products/{product}}`",
          "type": "string"
        }
      }
    },
    "ProductChange": {
      "id": "ProductChange",
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "type": "object",
      "properties": {
        "oldValue": {
          "description": "The old value of the changed resource or attribute.",
[...]
