{
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://metastore.mtls.googleapis.com/",
  "version": "v1alpha",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "description": "The Dataproc Metastore API is used to manage the lifecycle and configuration of metastore services.",
  "canonicalName": "Dataproc Metastore",
  "revision": "20230926",
  "title": "Dataproc Metastore API",
  "name": "metastore",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "basePath": "",
  "rootUrl": "https://metastore.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "ownerDomain": "google.com",
  "schemas": {
    "DataCatalogConfig": {
      "description": "Specifies how metastore metadata should be integrated with the Data Catalog service.",
      "type": "object",
      "id": "DataCatalogConfig",
      "properties": {
        "enabled": {
          "description": "Defines whether the metastore metadata should be synced to Data Catalog. The default value is to disable syncing metastore metadata to Data Catalog.",
          "type": "boolean"
        }
      }
    },
    "MetadataImport": {
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the metadata import."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the metadata import finished.",
          "readOnly": true,
          "type": "string"
        },
        "databaseDump": {
          "$ref": "DatabaseDump",
          "description": "Immutable. A database dump from a pre-existing metastore's database."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the metadata import was started."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the metadata import.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "UPDATING",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state of the metadata import is unknown.",
            "The metadata import is running.",
            "The metadata import completed successfully.",
            "The metadata import is being updated.",
            "The metadata import failed, and attempted metadata changes were rolled back."
          ]
        },
        "name": {
          "description": "Immutable. The relative resource name of the metadata import, of the form:projects/{project_number}/locations/{location_id}/services/{service_id}/metadataImports/{metadata_import_id}.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the metadata import was last updated.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "MetadataImport",
      "description": "A metastore resource that imports metadata.",
      "type": "object"
    },
    "KerberosConfig": {
      "description": "Configuration information for a Kerberos principal.",
      "type": "object",
      "properties": {
        "krb5ConfigGcsUri": {
          "type": "string",
          "description": "A Cloud Storage URI that specifies the path to a krb5.conf file. It is of the form gs://{bucket_name}/path/to/krb5.conf, although the file does not need to be named krb5.conf explicitly."
        },
        "keytab": {
          "$ref": "Secret",
          "description": "A Kerberos keytab file that can be used to authenticate a service principal with a Kerberos Key Distribution Center (KDC)."
        },
        "principal": {
          "type": "string",
          "description": "A Kerberos principal that exists in the both the keytab the KDC to authenticate as. A typical principal is of the form primary/instance@REALM, but there is no exact format."
        }
      },
      "id": "KerberosConfig"
    },
    "QueryMetadataRequest": {
      "description": "Request message for DataprocMetastore.QueryMetadata.",
      "properties": {
        "query": {
          "type": "string",
          "description": "Required. A read-only SQL query to execute against the metadata database. The query cannot change or mutate the data."
        }
      },
      "type": "object",
      "id": "QueryMetadataRequest"
    },
    "ListFederationsResponse": {
      "description": "Response message for ListFederations",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "federations": {
          "description": "The services in the specified location.",
          "type": "array",
          "items": {
            "$ref": "Federation"
          }
        }
      },
      "id": "ListFederationsResponse",
      "type": "object"
    },
    "AuxiliaryVersionConfig": {
      "id": "AuxiliaryVersionConfig",
      "properties": {
        "networkConfig": {
          "description": "Output only. The network configuration contains the endpoint URI(s) of the auxiliary Hive metastore service.",
          "readOnly": true,
          "$ref": "NetworkConfig"
        },
        "configOverrides": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A mapping of Hive metastore configuration key-value pairs to apply to the auxiliary Hive metastore (configured in hive-site.xml) in addition to the primary version's overrides. If keys are present in both the auxiliary version's overrides and the primary version's overrides, the value from the auxiliary version's overrides takes precedence.",
          "type": "object"
        },
        "version": {
          "description": "The Hive metastore version of the auxiliary service. It must be less than the primary Hive metastore service's version.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration information for the auxiliary service versions."
    },
    "RemoveIamPolicyRequest": {
      "id": "RemoveIamPolicyRequest",
      "properties": {
        "asynchronous": {
          "description": "Optional. Removes IAM policy attached to database or table asynchronously when it is set. The default is false.",
          "type": "boolean"
        }
      },
      "description": "Request message for DataprocMetastore.RemoveIamPolicy.",
      "type": "object"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AuditConfig"
    },
    "ExportMetadataRequest": {
      "type": "object",
      "id": "ExportMetadataRequest",
      "properties": {
        "databaseDumpType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
          "type": "string"
        },
        "destinationGcsFolder": {
          "type": "string",
          "description": "A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing exported files will be created below it."
        }
      },
      "description": "Request message for DataprocMetastore.ExportMetadata."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "type": "object",
      "description": "Encryption settings for the service.",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "The fully qualified customer provided Cloud KMS key name to use for customer data encryption, in the following form:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}."
        }
      }
    },
    "RemoveIamPolicyResponse": {
      "type": "object",
      "description": "Response message for DataprocMetastore.RemoveIamPolicy.",
      "id": "RemoveIamPolicyResponse",
      "properties": {
        "success": {
          "type": "boolean",
          "description": "True if the policy is successfully removed."
        }
      }
    },
    "ListBackupsResponse": {
      "type": "object",
      "id": "ListBackupsResponse",
      "properties": {
        "backups": {
          "type": "array",
          "description": "The backups of the specified service.",
          "items": {
            "$ref": "Backup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response message for DataprocMetastore.ListBackups."
    },
    "Secret": {
      "properties": {
        "cloudSecret": {
          "description": "The relative resource name of a Secret Manager secret version, in the following form:projects/{project_number}/secrets/{secret_id}/versions/{version_id}.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A securely stored value.",
      "id": "Secret"
    },
    "MetadataIntegration": {
      "id": "MetadataIntegration",
      "description": "Specifies how metastore metadata should be integrated with external services.",
      "properties": {
        "dataplexConfig": {
          "$ref": "DataplexConfig",
          "description": "The integration config for the Dataplex service."
        },
        "dataCatalogConfig": {
          "$ref": "DataCatalogConfig",
          "description": "The integration config for the Data Catalog service."
        }
      },
      "type": "object"
    },
    "BackendMetastore": {
      "description": "Represents a backend metastore for the federation.",
      "type": "object",
      "id": "BackendMetastore",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of the metastore that is being federated. The formats of the relative resource names for the currently supported metastores are listed below: BigQuery projects/{project_id} Dataproc Metastore projects/{project_id}/locations/{location}/services/{service_id}"
        },
        "metastoreType": {
          "description": "The type of the backend metastore.",
          "enum": [
            "METASTORE_TYPE_UNSPECIFIED",
            "DATAPLEX",
            "BIGQUERY",
            "DATAPROC_METASTORE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The metastore type is not set.",
            "The backend metastore is Dataplex.",
            "The backend metastore is BigQuery.",
            "The backend metastore is Dataproc Metastore."
          ]
        }
      }
    },
    "Service": {
      "id": "Service",
      "type": "object",
      "properties": {
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "The TCP port at which the metastore service is reached. Default: 9083."
        },
        "maintenanceWindow": {
          "description": "The one hour maintenance window of the metastore service. This specifies when the service can be restarted for maintenance purposes in UTC time. Maintenance window is not needed for services with the SPANNER database type.",
          "$ref": "MaintenanceWindow"
        },
        "createTime": {
          "description": "Output only. The time when the metastore service was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "releaseChannel": {
          "type": "string",
          "enumDescriptions": [
            "Release channel is not specified.",
            "The CANARY release channel contains the newest features, which may be unstable and subject to unresolved issues with no known workarounds. Services using the CANARY release channel are not subject to any SLAs.",
            "The STABLE release channel contains features that are considered stable and have been validated for production use."
          ],
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "STABLE"
          ],
          "description": "Immutable. The release channel of the service. If unspecified, defaults to STABLE."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the metastore service.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "ERROR"
          ],
          "enumDescriptions": [
            "The state of the metastore service is unknown.",
            "The metastore service is in the process of being created.",
            "The metastore service is running and ready to serve queries.",
            "The metastore service is entering suspension. Its query-serving availability may cease unexpectedly.",
            "The metastore service is suspended and unable to serve queries.",
            "The metastore service is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore service is undergoing deletion. It cannot be used.",
            "The metastore service has encountered an error and cannot be used. The metastore service should be deleted."
          ]
        },
        "name": {
          "type": "string",
          "description": "Immutable. The relative resource name of the metastore service, in the following format:projects/{project_number}/locations/{location_id}/services/{service_id}."
        },
        "scalingConfig": {
          "$ref": "ScalingConfig",
          "description": "Scaling configuration of the metastore service."
        },
        "telemetryConfig": {
          "$ref": "TelemetryConfig",
          "description": "The configuration specifying telemetry settings for the Dataproc Metastore service. If unspecified defaults to JSON."
        },
        "tier": {
          "description": "The tier of the service.",
          "enum": [
            "TIER_UNSPECIFIED",
            "DEVELOPER",
            "ENTERPRISE"
          ],
          "enumDescriptions": [
            "The tier is not set.",
            "The developer tier provides limited scalability and no fault tolerance. Good for low-cost proof-of-concept.",
            "The enterprise tier provides multi-zone high availability, and sufficient scalability for enterprise-level Dataproc Metastore workloads."
          ],
          "type": "string"
        },
        "endpointUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the endpoint used to access the metastore service."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels for the metastore service."
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "The configuration specifying the network settings for the Dataproc Metastore service."
        },
        "databaseType": {
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL",
            "SPANNER"
          ],
          "description": "Immutable. The database type that the Metastore service stores its data.",
          "type": "string",
          "enumDescriptions": [
            "The DATABASE_TYPE is not set.",
            "MySQL is used to persist the metastore data.",
            "Spanner is used to persist the metastore data."
          ]
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The globally unique resource identifier of the metastore service."
        },
        "metadataManagementActivity": {
          "readOnly": true,
          "$ref": "MetadataManagementActivity",
          "description": "Output only. The metadata management activities of the metastore service."
        },
        "artifactGcsUri": {
          "description": "Output only. A Cloud Storage URI (starting with gs://) that specifies where artifacts related to the metastore service are stored.",
          "readOnly": true,
          "type": "string"
        },
        "metadataIntegration": {
          "description": "The setting that defines how metastore metadata should be integrated with external services and systems.",
          "$ref": "MetadataIntegration"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Immutable. Information used to configure the Dataproc Metastore service to encrypt customer data at rest. Cannot be updated."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the metastore service was last updated.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Immutable. The relative resource name of the VPC network on which the instance can be accessed. It is specified in the following form:projects/{project_number}/global/networks/{network_id}."
        },
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current state of the metastore service, if available."
        },
        "hiveMetastoreConfig": {
          "$ref": "HiveMetastoreConfig",
          "description": "Configuration information specific to running Hive metastore software as the metastore service."
        }
      },
      "description": "A managed metastore service that serves metadata queries."
    },
    "Consumer": {
      "properties": {
        "endpointLocation": {
          "readOnly": true,
          "description": "Output only. The location of the endpoint URI. Format: projects/{project}/locations/{location}.",
          "type": "string"
        },
        "endpointUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the endpoint used to access the metastore service."
        },
        "subnetwork": {
          "type": "string",
          "description": "Immutable. The subnetwork of the customer project from which an IP address is reserved and used as the Dataproc Metastore service's endpoint. It is accessible to hosts in the subnet and to all hosts in a subnet in the same region and same network. There must be at least one IP address available in the subnet's primary range. The subnet is specified in the following form:projects/{project_number}/regions/{region_id}/subnetworks/{subnetwork_id}"
        }
      },
      "id": "Consumer",
      "type": "object",
      "description": "Contains information of the customer's network configurations.Next available ID: 5"
    },
    "TelemetryConfig": {
      "properties": {
        "logFormat": {
          "description": "The output format of the Dataproc Metastore service's logs.",
          "enumDescriptions": [
            "The LOG_FORMAT is not set.",
            "Logging output uses the legacy textPayload format.",
            "Logging output uses the jsonPayload format."
          ],
          "type": "string",
          "enum": [
            "LOG_FORMAT_UNSPECIFIED",
            "LEGACY",
            "JSON"
          ]
        }
      },
      "id": "TelemetryConfig",
      "type": "object",
      "description": "Telemetry Configuration for the Dataproc Metastore service."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "LocationMetadata": {
      "properties": {
        "supportedHiveMetastoreVersions": {
          "items": {
            "$ref": "HiveMetastoreVersion"
          },
          "description": "The versions of Hive Metastore that can be used when creating a new metastore service in this location. The server guarantees that exactly one HiveMetastoreVersion in the list will set is_default.",
          "type": "array"
        },
        "multiRegionMetadata": {
          "description": "The multi-region metadata if the current region is a multi-region.",
          "$ref": "MultiRegionMetadata"
        }
      },
      "id": "LocationMetadata",
      "type": "object",
      "description": "Metadata about the service in a location."
    },
    "ErrorDetails": {
      "id": "ErrorDetails",
      "description": "Error details in public error message for DataprocMetastore.QueryMetadata.",
      "type": "object",
      "properties": {
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional structured details about this error.Keys define the failure items. Value describes the exception or details of the item."
        }
      }
    },
    "Restore": {
      "id": "Restore",
      "type": "object",
      "description": "The details of a metadata restore operation.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the restore started."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the restore ended.",
          "format": "google-datetime"
        },
        "type": {
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "readOnly": true,
          "description": "Output only. The type of restore.",
          "type": "string",
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ]
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "The state of the metadata restore is unknown.",
            "The metadata restore is running.",
            "The metadata restore completed successfully.",
            "The metadata restore failed.",
            "The metadata restore is cancelled."
          ],
          "description": "Output only. The current state of the restore."
        },
        "details": {
          "type": "string",
          "description": "Output only. The restore details containing the revision of the service to be restored to, in format of JSON.",
          "readOnly": true
        },
        "backup": {
          "description": "Output only. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DatabaseDump": {
      "type": "object",
      "id": "DatabaseDump",
      "properties": {
        "gcsUri": {
          "description": "A Cloud Storage object or folder URI that specifies the source from which to import metadata. It must begin with gs://.",
          "type": "string"
        },
        "sourceDatabase": {
          "deprecated": true,
          "type": "string",
          "description": "The name of the source database."
        },
        "databaseType": {
          "description": "The type of the database.",
          "enumDescriptions": [
            "The type of the source database is unknown.",
            "The type of the source database is MySQL."
          ],
          "deprecated": true,
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL"
          ],
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL."
        }
      },
      "description": "A specification of the location of and metadata about a database dump from a relational database management system."
    },
    "MetadataExport": {
      "properties": {
        "startTime": {
          "description": "Output only. The time when the export started.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the export.",
          "enumDescriptions": [
            "The state of the metadata export is unknown.",
            "The metadata export is running.",
            "The metadata export completed successfully.",
            "The metadata export failed.",
            "The metadata export is cancelled."
          ],
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the export ended."
        },
        "destinationGcsUri": {
          "readOnly": true,
          "description": "Output only. A Cloud Storage URI of a folder that metadata are exported to, in the form of gs:////, where is automatically generated.",
          "type": "string"
        },
        "databaseDumpType": {
          "readOnly": true,
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "description": "Output only. The type of the database dump.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MetadataExport",
      "description": "The details of a metadata export operation."
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "AlterMetadataResourceLocationRequest": {
      "description": "Request message for DataprocMetastore.AlterMetadataResourceLocation.",
      "type": "object",
      "id": "AlterMetadataResourceLocationRequest",
      "properties": {
        "resourceName": {
          "description": "Required. The relative metadata resource name in the following format.databases/{database_id} or databases/{database_id}/tables/{table_id} or databases/{database_id}/tables/{table_id}/partitions/{partition_id}",
          "type": "string"
        },
        "locationUri": {
          "description": "Required. The new location URI for the metadata resource.",
          "type": "string"
        }
      }
    },
    "MultiRegionMetadata": {
      "id": "MultiRegionMetadata",
      "type": "object",
      "properties": {
        "constituentRegions": {
          "items": {
            "type": "string"
          },
          "description": "The regions constituting the multi-region.",
          "type": "array"
        }
      },
      "description": "The metadata for the multi-region that includes the constituent regions. The metadata is only populated if the region is multi-region. For single region, it will be empty."
    },
    "Federation": {
      "type": "object",
      "id": "Federation",
      "description": "Represents a federation of multiple backend metastores.",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the metastore federation was last updated."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the metastore federation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The relative resource name of the federation, of the form: projects/{project_number}/locations/{location_id}/federations/{federation_id}`.",
          "type": "string"
        },
        "version": {
          "description": "Immutable. The Apache Hive metastore version of the federation. All backend metastore versions must be compatible with the federation version.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The globally unique resource identifier of the metastore federation.",
          "type": "string"
        },
        "labels": {
          "description": "User-defined labels for the metastore federation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "ERROR"
          ],
          "enumDescriptions": [
            "The state of the metastore federation is unknown.",
            "The metastore federation is in the process of being created.",
            "The metastore federation is running and ready to serve queries.",
            "The metastore federation is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore federation is undergoing deletion. It cannot be used.",
            "The metastore federation has encountered an error and cannot be used. The metastore federation should be deleted."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the federation."
        },
        "endpointUri": {
          "description": "Output only. The federation endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the current state of the metastore federation, if available."
        },
        "backendMetastores": {
          "type": "object",
          "description": "A map from BackendMetastore rank to BackendMetastores from which the federation service serves metadata at query time. The map key represents the order in which BackendMetastores should be evaluated to resolve database names at query time and should be greater than or equal to zero. A BackendMetastore with a lower number will be evaluated before a BackendMetastore with a higher number.",
          "additionalProperties": {
            "$ref": "BackendMetastore"
          }
        }
      }
    },
    "MaintenanceWindow": {
      "properties": {
        "dayOfWeek": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "The day of week, when the window starts.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "hourOfDay": {
          "description": "The hour of day (0-23) when the window starts.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Maintenance window. This specifies when Dataproc Metastore may perform system maintenance operation to the service.",
      "id": "MaintenanceWindow",
      "type": "object"
    },
    "RestoreServiceRequest": {
      "type": "object",
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported."
        },
        "restoreType": {
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "description": "Optional. The type of restore. If unspecified, defaults to METADATA_ONLY.",
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ],
          "type": "string"
        }
      },
      "id": "RestoreServiceRequest",
      "description": "Request message for DataprocMetastore.Restore."
    },
    "ListMetadataImportsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "metadataImports": {
          "description": "The imports in the specified service.",
          "type": "array",
          "items": {
            "$ref": "MetadataImport"
          }
        }
      },
      "id": "ListMetadataImportsResponse",
      "description": "Response message for DataprocMetastore.ListMetadataImports."
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for TestIamPermissions method.",
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "DataplexConfig": {
      "description": "Specifies how metastore metadata should be integrated with the Dataplex service.",
      "id": "DataplexConfig",
      "type": "object",
      "properties": {
        "lakeResources": {
          "type": "object",
          "description": "A reference to the Lake resources that this metastore service is attached to. The key is the lake resource name. Example: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "additionalProperties": {
            "$ref": "Lake"
          }
        }
      }
    },
    "HiveMetastoreVersion": {
      "type": "object",
      "properties": {
        "isDefault": {
          "description": "Whether version will be chosen by the server if a metastore service is created with a HiveMetastoreConfig that omits the version.",
          "type": "boolean"
        },
        "version": {
          "description": "The semantic version of the Hive Metastore software.",
          "type": "string"
        }
      },
      "description": "A specification of a supported version of the Hive Metastore software.",
      "id": "HiveMetastoreVersion"
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "ListServicesResponse": {
      "description": "Response message for DataprocMetastore.ListServices.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "services": {
          "items": {
            "$ref": "Service"
          },
          "description": "The services in the specified location.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListServicesResponse"
    },
    "MetadataManagementActivity": {
      "properties": {
        "restores": {
          "description": "Output only. The latest restores of the metastore service.",
          "items": {
            "$ref": "Restore"
          },
          "type": "array",
          "readOnly": true
        },
        "metadataExports": {
          "items": {
            "$ref": "MetadataExport"
          },
          "type": "array",
          "description": "Output only. The latest metadata exports of the metastore service.",
          "readOnly": true
        }
      },
      "id": "MetadataManagementActivity",
      "description": "The metadata management activities of the metastore service.",
      "type": "object"
    },
    "AlterMetadataResourceLocationResponse": {
      "properties": {},
      "description": "Response message for DataprocMetastore.AlterMetadataResourceLocation.",
      "id": "AlterMetadataResourceLocationResponse",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\"",
          "format": "google-fieldmask"
        }
      },
      "description": "Request message for SetIamPolicy method.",
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "HiveMetastoreConfig": {
      "description": "Specifies configuration information specific to running Hive metastore software as the metastore service.",
      "type": "object",
      "id": "HiveMetastoreConfig",
      "properties": {
        "kerberosConfig": {
          "$ref": "KerberosConfig",
          "description": "Information used to configure the Hive metastore service as a service principal in a Kerberos realm. To disable Kerberos, use the UpdateService method and specify this field's path (hive_metastore_config.kerberos_config) in the request's update_mask while omitting this field from the request's service."
        },
        "endpointProtocol": {
          "enum": [
            "ENDPOINT_PROTOCOL_UNSPECIFIED",
            "THRIFT",
            "GRPC"
          ],
          "enumDescriptions": [
            "The protocol is not set.",
            "Use the legacy Apache Thrift protocol for the metastore service endpoint.",
            "Use the modernized gRPC protocol for the metastore service endpoint."
          ],
          "description": "The protocol to use for the metastore service endpoint. If unspecified, defaults to THRIFT.",
          "type": "string"
        },
        "version": {
          "description": "Immutable. The Hive metastore schema version.",
          "type": "string"
        },
        "auxiliaryVersions": {
          "type": "object",
          "description": "A mapping of Hive metastore version to the auxiliary version configuration. When specified, a secondary Hive metastore service is created along with the primary service. All auxiliary versions must be less than the service's primary version. The key is the auxiliary service name and it must match the regular expression a-z?. This means that the first character must be a lowercase letter, and all the following characters must be hyphens, lowercase letters, or digits, except the last character, which cannot be a hyphen.",
          "additionalProperties": {
            "$ref": "AuxiliaryVersionConfig"
          }
        },
        "configOverrides": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A mapping of Hive metastore configuration key-value pairs to apply to the Hive metastore (configured in hive-site.xml). The mappings override system defaults (some keys cannot be overridden). These overrides are also applied to auxiliary versions and can be further customized in the auxiliary version's AuxiliaryVersionConfig."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed."
        }
      },
      "description": "Response message for TestIamPermissions method."
    },
    "ScalingConfig": {
      "id": "ScalingConfig",
      "description": "Represents the scaling configuration of a metastore service.",
      "properties": {
        "instanceSize": {
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "EXTRA_SMALL",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "EXTRA_LARGE"
          ],
          "description": "An enum of readable instance sizes, with each instance size mapping to a float value (e.g. InstanceSize.EXTRA_SMALL = scaling_factor(0.1))",
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance size",
            "Extra small instance size, maps to a scaling factor of 0.1.",
            "Small instance size, maps to a scaling factor of 0.5.",
            "Medium instance size, maps to a scaling factor of 1.0.",
            "Large instance size, maps to a scaling factor of 3.0.",
            "Extra large instance size, maps to a scaling factor of 6.0."
          ]
        },
        "scalingFactor": {
          "description": "Scaling factor, increments of 0.1 for values less than 1.0, and increments of 1.0 for values greater than 1.0.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Lake": {
      "id": "Lake",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The Lake resource name. Example: projects/{project_number}/locations/{location_id}/lakes/{lake_id}"
        }
      },
      "description": "Represents a Lake resource"
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding."
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "type": "object",
      "description": "Associates members, or principals, with a role.",
      "id": "Binding"
    },
    "AuditLogConfig": {
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "MoveTableToDatabaseRequest": {
      "properties": {
        "destinationDbName": {
          "description": "Required. The name of the database where the table should be moved.",
          "type": "string"
        },
        "tableName": {
          "type": "string",
          "description": "Required. The name of the table to be moved."
        },
        "dbName": {
          "type": "string",
          "description": "Required. The name of the database where the table resides."
        }
      },
      "id": "MoveTableToDatabaseRequest",
      "type": "object",
      "description": "Request message for DataprocMetastore.MoveTableToDatabase."
    },
    "Backup": {
      "description": "The details of a backup resource.",
      "type": "object",
      "id": "Backup",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the backup was started."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed.",
            "The backup is being restored."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED",
            "RESTORING"
          ],
          "description": "Output only. The current state of the backup.",
          "readOnly": true
        },
        "restoringServices": {
          "readOnly": true,
          "description": "Output only. Services that are restoring from the backup.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceRevision": {
          "description": "Output only. The revision of the service at the time of backup.",
          "$ref": "Service",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of the backup."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the backup finished creating.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The relative resource name of the backup, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/backups/{backup_id}"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      }
    },
    "QueryMetadataResponse": {
      "properties": {
        "resultManifestUri": {
          "description": "The manifest URI is link to a JSON instance in Cloud Storage. This instance manifests immediately along with QueryMetadataResponse. The content of the URI is not retriable until the long-running operation query against the metadata finishes.",
          "type": "string"
        }
      },
      "id": "QueryMetadataResponse",
      "description": "Response message for DataprocMetastore.QueryMetadata.",
      "type": "object"
    },
    "MoveTableToDatabaseResponse": {
      "type": "object",
      "properties": {},
      "description": "Response message for DataprocMetastore.MoveTableToDatabase.",
      "id": "MoveTableToDatabaseResponse"
    },
    "NetworkConfig": {
      "properties": {
        "customRoutesEnabled": {
          "description": "Enables custom routes to be imported and exported for the Dataproc Metastore service's peered VPC network.",
          "type": "boolean"
        },
        "consumers": {
          "items": {
            "$ref": "Consumer"
          },
          "description": "Immutable. The consumer-side network configuration for the Dataproc Metastore instance.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "NetworkConfig",
      "description": "Network configuration for the Dataproc Metastore service.Next available ID: 4"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of a long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED."
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    }
  },
  "documentationLink": "https://cloud.google.com/dataproc-metastore/docs",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://metastore.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "federations": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Federation"
                  },
                  "description": "Updates the fields of a federation.",
                  "id": "metastore.projects.locations.federations.patch",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. A field mask used to specify the fields to be overwritten in the metastore federation resource by the update. Fields specified in the update_mask are relative to the resource (not to the full request). A field is overwritten if it is in the mask."
                    },
                    "name": {
                      "description": "Immutable. The relative resource name of the federation, of the form: projects/{project_number}/locations/{location_id}/federations/{federation_id}`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/federations/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format) A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/federations/{federationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/federations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/federations/{federationsId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "GET",
                  "id": "metastore.projects.locations.federations.getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "path": "v1alpha/{+resource}:getIamPolicy"
                },
                "setIamPolicy": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/federations/{federationsId}:setIamPolicy",
                  "id": "metastore.projects.locations.federations.setIamPolicy",
                  "path": "v1alpha/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy.Can return NOT_FOUND, INVALID_ARGUMENT, and PERMISSION_DENIED errors.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/federations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "metastore.projects.locations.federations.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/federations/{federationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a single federation.",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format) A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. The relative resource name of the metastore federation to delete, in the following form:projects/{project_number}/locations/{location_id}/federations/{federation_id}.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/federations/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Federation"
                  },
                  "id": "metastore.projects.locations.federations.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a metastore federation in a project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/federations",
                  "httpMethod": "POST",
                  "parameters": {
                    "federationId": {
                      "description": "Required. The ID of the metastore federation, which is used as the final component of the metastore federation's name.This value must be between 2 and 63 characters long inclusive, begin with a letter, end with a letter or number, and consist of alpha-numeric ASCII characters or hyphens.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The relative resource name of the location in which to create a federation service, in the following form:projects/{project_number}/locations/{location_id}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format) A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/federations"
                },
                "testIamPermissions": {
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "path": "v1alpha/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "id": "metastore.projects.locations.federations.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/federations/{federationsId}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/federations/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "id": "metastore.projects.locations.federations.list",
                  "description": "Lists federations in a project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/federations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Specify the ordering of results as described in Sorting Order (https://cloud.google.com/apis/design/design_patterns#sorting_order). If not specified, the results will be sorted in the default order.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The relative resource name of the location of metastore federations to list, in the following form: projects/{project_number}/locations/{location_id}."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filter to apply to list results.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous ListFederationServices call. Provide this token to retrieve the subsequent page.To retrieve the first page, supply an empty page token.When paginating, other parameters provided to ListFederationServices must match the call that provided the page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of federations to return. The response may contain less than the maximum number. If unspecified, no more than 500 services are returned. The maximum value is 1000; values above 1000 are changed to 1000.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "path": "v1alpha/{+parent}/federations",
                  "response": {
                    "$ref": "ListFederationsResponse"
                  },
                  "httpMethod": "GET"
                },
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/federations/{federationsId}",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "metastore.projects.locations.federations.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the metastore federation to retrieve, in the following form:projects/{project_number}/locations/{location_id}/federations/{federation_id}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/federations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Federation"
                  },
                  "description": "Gets the details of a single federation.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "id": "metastore.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "metastore.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "id": "metastore.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
                  "id": "metastore.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}/operations",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "services": {
              "resources": {
                "databases": {
                  "methods": {
                    "testIamPermissions": {
                      "httpMethod": "POST",
                      "path": "v1alpha/{+resource}:testIamPermissions",
                      "id": "metastore.projects.locations.services.databases.testIamPermissions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/databases/{databasesId}:testIamPermissions",
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/databases/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "parameterOrder": [
                        "resource"
                      ],
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      }
                    },
                    "getIamPolicy": {
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/databases/[^/]+$"
                        },
                        "options.requestedPolicyVersion": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
[...]
