{
  "id": "migrationcenter:v1alpha1",
  "documentationLink": "https://cloud.google.com/migration-center",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "name": "migrationcenter",
  "version": "v1alpha1",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "schemas": {
    "PayloadFile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The file name."
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The file data."
        }
      },
      "type": "object",
      "id": "PayloadFile",
      "description": "Payload file for inline import job payload."
    },
    "ListImportDataFilesResponse": {
      "id": "ListImportDataFilesResponse",
      "description": "Response for listing payload files of an import job.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "importDataFiles": {
          "items": {
            "$ref": "ImportDataFile"
          },
          "description": "The list of import data files.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Report": {
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "type": "object",
      "id": "Report",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Creation timestamp.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "type": {
          "description": "Report type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "summary": {
          "description": "Output only. Summary view of the Report.",
          "readOnly": true,
          "$ref": "ReportSummary"
        },
        "state": {
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "type": "string",
          "description": "Report creation state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of resource.",
          "readOnly": true
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "ImportDataFile": {
      "id": "ImportDataFile",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "uploadFileInfo": {
          "$ref": "UploadFileInfo",
          "description": "Information about a file that is uploaded to a storage service."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "description": "Output only. The state of the import data file.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the file was created."
        },
        "format": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the AWS collection script.",
            "CSV format exported from Azure using the Azure collection script.",
            "CSV format created manually. For more information, see Manually create and upload data tables."
          ],
          "description": "Required. The payload format.",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV"
          ]
        },
        "name": {
          "description": "Output only. The name of the file.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A resource that represents a payload file in an import job."
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "description": "Response message for listing Reports.",
      "type": "object",
      "properties": {
        "reports": {
          "type": "array",
          "description": "The list of Reports.",
          "items": {
            "$ref": "Report"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ReportSummaryChartDataDataPoint": {
      "properties": {
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "The Y-axis value for this data point."
        }
      },
      "type": "object",
      "description": "Describes a single data point in the Chart.",
      "id": "ReportSummaryChartDataDataPoint"
    },
    "Settings": {
      "description": "Describes the Migration Center settings related to the project.",
      "id": "Settings",
      "properties": {
        "name": {
          "description": "Output only. The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "GCSPayloadInfo": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "The payload path in Google Cloud Storage."
        },
        "format": {
          "description": "The import job format.",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the AWS collection script.",
            "CSV format exported from Azure using the Azure collection script.",
            "CSV format created manually. For more information, see Manually create and upload data tables."
          ],
          "type": "string"
        }
      },
      "description": "A resource that represents a payload hosted on Google Cloud Storage.",
      "id": "GCSPayloadInfo"
    },
    "ListReportConfigsResponse": {
      "id": "ListReportConfigsResponse",
      "type": "object",
      "description": "Response message for listing report configs.",
      "properties": {
        "reportConfigs": {
          "items": {
            "$ref": "ReportConfig"
          },
          "description": "A list of report configs.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "VirtualMachineNetworkDetails": {
      "properties": {
        "networkAdapters": {
          "description": "List of network adapters.",
          "$ref": "NetworkAdapterList"
        },
        "publicIpAddress": {
          "description": "Public IP address of the machine.",
          "type": "string"
        },
        "primaryIpAddress": {
          "type": "string",
          "description": "IP address of the machine."
        },
        "defaultGw": {
          "type": "string",
          "description": "Default gateway address."
        },
        "primaryMacAddress": {
          "description": "MAC address of the machine. This property is used to uniqly identify the machine.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details of network adapters and settings.",
      "id": "VirtualMachineNetworkDetails"
    },
    "NetworkAddressList": {
      "id": "NetworkAddressList",
      "properties": {
        "addresses": {
          "items": {
            "$ref": "NetworkAddress"
          },
          "type": "array",
          "description": "Network address entries."
        }
      },
      "type": "object",
      "description": "List of allocated/assigned network addresses."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "AwsEc2PlatformDetails": {
      "properties": {
        "machineTypeLabel": {
          "description": "AWS platform's machine type label.",
          "type": "string"
        },
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        }
      },
      "description": "AWS EC2 specific details.",
      "type": "object",
      "id": "AwsEc2PlatformDetails"
    },
    "VirtualMachineArchitectureDetails": {
      "description": "Details of the VM architecture.",
      "properties": {
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        },
        "cpuArchitecture": {
          "type": "string",
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc."
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "CPU hyperthreading support.",
          "type": "string",
          "enum": [
            "HYPER_THREADING_UNSPECIFIED",
            "HYPER_THREADING_DISABLED",
            "HYPER_THREADING_ENABLED"
          ],
          "enumDescriptions": [
            "Unknown (default value).",
            "Hyperthreading is disabled.",
            "Hyperthreading is enabled."
          ]
        },
        "cpuThreadCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of CPU threads allocated to the machine."
        },
        "cpuManufacturer": {
          "type": "string",
          "description": "CPU manufacturer, e.g., \"Intel\", \"AMD\"."
        },
        "firmware": {
          "type": "string",
          "description": "Firmware (BIOS/efi)."
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "bios": {
          "$ref": "BiosDetails",
          "description": "BIOS Details."
        }
      },
      "type": "object",
      "id": "VirtualMachineArchitectureDetails"
    },
    "NfsExportList": {
      "id": "NfsExportList",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "NfsExport"
          },
          "description": "NFS export entries."
        }
      },
      "description": "NFS exports."
    },
    "RunningService": {
      "type": "object",
      "id": "RunningService",
      "description": "Guest OS running service details.",
      "properties": {
        "cmdline": {
          "description": "Service command line.",
          "type": "string"
        },
        "startMode": {
          "description": "Service start mode (raw, OS-agnostic).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Service name."
        },
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        },
        "pid": {
          "type": "string",
          "description": "Service pid.",
          "format": "int64"
        },
        "state": {
          "type": "string",
          "description": "Service state (raw, OS-agnostic)."
        },
        "status": {
          "description": "Service status.",
          "type": "string"
        }
      }
    },
    "Insight": {
      "properties": {
        "migrationInsight": {
          "$ref": "MigrationInsight",
          "readOnly": true,
          "description": "Output only. An insight about potential migrations for an asset."
        }
      },
      "type": "object",
      "description": "An insight about an asset.",
      "id": "Insight"
    },
    "DiskPartition": {
      "description": "Disk Partition details.",
      "type": "object",
      "id": "DiskPartition",
      "properties": {
        "uuid": {
          "type": "string",
          "description": "Partition UUID."
        },
        "freeBytes": {
          "format": "int64",
          "description": "Partition free space.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Mount pount (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        },
        "capacityBytes": {
          "type": "string",
          "description": "Partition capacity.",
          "format": "int64"
        },
        "type": {
          "description": "Partition type (e.g. BIOS boot).",
          "type": "string"
        }
      }
    },
    "FrameViolationEntry": {
      "id": "FrameViolationEntry",
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "type": "object",
      "properties": {
        "violation": {
          "description": "A message describing the violation.",
          "type": "string"
        },
        "field": {
          "description": "The field of the original frame where the violation occurred.",
          "type": "string"
        }
      }
    },
    "VmwarePlatformDetails": {
      "description": "VMware specific details.",
      "id": "VmwarePlatformDetails",
      "type": "object",
      "properties": {
        "osid": {
          "type": "string",
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html."
        },
        "esxVersion": {
          "type": "string",
          "description": "ESX version."
        },
        "vcenterVersion": {
          "description": "vCenter version.",
          "type": "string"
        }
      }
    },
    "Frames": {
      "type": "object",
      "id": "Frames",
      "properties": {
        "framesData": {
          "items": {
            "$ref": "AssetFrame"
          },
          "type": "array",
          "description": "A repeated field of asset data."
        }
      },
      "description": "Collection of frame data."
    },
    "Selinux": {
      "id": "Selinux",
      "description": "SELinux details.",
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "description": "SELinux mode enforcing / permissive."
        },
        "enabled": {
          "type": "boolean",
          "description": "Is SELinux enabled."
        }
      }
    },
    "DailyResourceUsageAggregationMemory": {
      "type": "object",
      "description": "Statistical aggregation of memory usage.",
      "id": "DailyResourceUsageAggregationMemory",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Memory utilization percentage."
        }
      }
    },
    "GuestConfigDetails": {
      "id": "GuestConfigDetails",
      "type": "object",
      "description": "Guest OS config information.",
      "properties": {
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        },
        "selinux": {
          "description": "SELinux details.",
          "$ref": "Selinux"
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        },
        "hosts": {
          "description": "Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList"
        },
        "fstab": {
          "$ref": "FstabEntryList",
          "description": "Mount list (Linux fstab)."
        }
      }
    },
    "ValidateImportJobRequest": {
      "id": "ValidateImportJobRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "A request to validate an import job."
    },
    "NetworkUsageSample": {
      "properties": {
        "averageIngressBps": {
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "format": "float",
          "type": "number"
        },
        "averageEgressBps": {
          "type": "number",
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "format": "float"
        }
      },
      "description": "Network usage sample. Values are across all network interfaces.",
      "id": "NetworkUsageSample",
      "type": "object"
    },
    "NfsExport": {
      "properties": {
        "hosts": {
          "description": "The hosts or networks to which the export is being shared.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exportDirectory": {
          "type": "string",
          "description": "The directory being exported."
        }
      },
      "type": "object",
      "id": "NfsExport",
      "description": "NFS export."
    },
    "PlatformDetails": {
      "id": "PlatformDetails",
      "properties": {
        "awsEc2Details": {
          "description": "AWS EC2 specific details.",
          "$ref": "AwsEc2PlatformDetails"
        },
        "physicalDetails": {
          "$ref": "PhysicalPlatformDetails",
          "description": "Physical machines platform details."
        },
        "vmwareDetails": {
          "$ref": "VmwarePlatformDetails",
          "description": "VMware specific details."
        },
        "genericDetails": {
          "description": "Generic platform details.",
          "$ref": "GenericPlatformDetails"
        },
        "azureVmDetails": {
          "$ref": "AzureVmPlatformDetails",
          "description": "Azure VM specific details."
        }
      },
      "description": "Information about the platform.",
      "type": "object"
    },
    "FstabEntry": {
      "properties": {
        "passno": {
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
          "format": "int32",
          "type": "integer"
        },
        "freq": {
          "type": "integer",
          "description": "Used by dump to determine which filesystems need to be dumped.",
          "format": "int32"
        },
        "mntops": {
          "type": "string",
          "description": "Mount options associated with the filesystem."
        },
        "file": {
          "type": "string",
          "description": "The mount point for the filesystem."
        },
        "spec": {
          "description": "The block special device or remote filesystem to be mounted.",
          "type": "string"
        },
        "vfstype": {
          "description": "The type of the filesystem.",
          "type": "string"
        }
      },
      "description": "Single fstab entry.",
      "type": "object",
      "id": "FstabEntry"
    },
    "GuestOsDetails": {
      "id": "GuestOsDetails",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GuestConfigDetails",
          "description": "OS and app configuration."
        },
        "runtime": {
          "$ref": "GuestRuntimeDetails",
          "description": "Runtime information."
        }
      },
      "description": "Information from Guest-level collections."
    },
    "DailyResourceUsageAggregationCPU": {
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "CPU utilization percentage."
        }
      },
      "type": "object",
      "id": "DailyResourceUsageAggregationCPU",
      "description": "Statistical aggregation of CPU usage."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "ImportJob": {
      "id": "ImportJob",
      "description": "A resource that represents the background job that imports asset frames.",
      "properties": {
        "validationReport": {
          "readOnly": true,
          "description": "Output only. The report with the validation results of the import job.",
          "$ref": "ValidationReport"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was created.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "type": "string",
          "description": "Output only. The state of the import job.",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ]
        },
        "updateTime": {
          "description": "Output only. The timestamp when the import job was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "executionReport": {
          "readOnly": true,
          "$ref": "ExecutionReport",
          "description": "Output only. The report with the results of running the import job."
        },
        "name": {
          "type": "string",
          "description": "Output only. The full name of the import job.",
          "readOnly": true
        },
        "assetSource": {
          "type": "string",
          "description": "Required. Reference to a source."
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was completed.",
          "readOnly": true,
          "type": "string"
        },
        "inlinePayload": {
          "$ref": "InlinePayloadInfo",
          "description": "The payload is included in the request, mainly used for small import jobs."
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "gcsPayload": {
          "deprecated": true,
          "$ref": "GCSPayloadInfo",
          "description": "The payload is in Google Cloud Storage."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        }
      },
      "type": "object"
    },
    "AggregationSum": {
      "description": "Sum of field values.",
      "id": "AggregationSum",
      "properties": {},
      "type": "object"
    },
    "RemoveAssetsFromGroupRequest": {
      "id": "RemoveAssetsFromGroupRequest",
      "description": "A request to remove assets from a group.",
      "properties": {
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        }
      },
      "type": "object"
    },
    "ReportSummaryGroupFinding": {
      "description": "Summary Findings for a specific Group.",
      "id": "ReportSummaryGroupFinding",
      "type": "object",
      "properties": {
        "assetAggregateStats": {
          "description": "Summary statistics for all the assets in this group.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "displayName": {
          "type": "string",
          "description": "Display Name for the Group."
        },
        "overlappingAssetCount": {
          "format": "int64",
          "description": "Count of the number of assets in this group which are also included in another group within the same report.",
          "type": "string"
        },
        "preferenceSetFindings": {
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          },
          "description": "Findings for each of the PreferenceSets for this group.",
          "type": "array"
        },
        "description": {
          "description": "Description for the Group.",
          "type": "string"
        }
      }
    },
    "ImportRowError": {
      "properties": {
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        },
        "rowNumber": {
          "type": "integer",
          "format": "int32",
          "deprecated": true,
          "description": "The row number where the error was detected."
        },
        "errors": {
          "items": {
            "$ref": "ImportError"
          },
          "type": "array",
          "description": "The list of errors detected in the row."
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM in the row."
        }
      },
      "type": "object",
      "description": "A resource that reports the import job errors at row level.",
      "id": "ImportRowError"
    },
    "FitDescriptor": {
      "type": "object",
      "id": "FitDescriptor",
      "description": "Describes the fit level of an asset for migration to a specific target.",
      "properties": {
        "fitLevel": {
          "description": "Fit level.",
          "type": "string",
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ],
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ]
        }
      }
    },
    "HostsEntryList": {
      "id": "HostsEntryList",
      "type": "object",
      "description": "Hosts content.",
      "properties": {
        "entries": {
          "description": "Hosts entries.",
          "items": {
            "$ref": "HostsEntry"
          },
          "type": "array"
        }
      }
    },
    "SoleTenantNodeType": {
      "description": "A Sole Tenant node type.",
      "type": "object",
      "id": "SoleTenantNodeType",
      "properties": {
        "nodeName": {
          "type": "string",
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes"
        }
      }
    },
    "AssetPerformanceData": {
      "id": "AssetPerformanceData",
      "description": "Performance data for an asset.",
      "type": "object",
      "properties": {
        "dailyResourceUsageAggregations": {
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent.",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "type": "array"
        }
      }
    },
    "ListAssetsResponse": {
      "properties": {
        "assets": {
          "description": "A list of assets.",
          "items": {
            "$ref": "Asset"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for listing assets.",
      "id": "ListAssetsResponse",
      "type": "object"
    },
    "ReportSummaryVMWareNode": {
      "description": "A VMWare Engine Node",
      "id": "ReportSummaryVMWareNode",
      "properties": {
        "code": {
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SoleTenancyPreferences": {
      "type": "object",
      "properties": {
        "hostMaintenancePolicy": {
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ],
          "type": "string",
          "description": "Sole Tenancy nodes maintenance policy.",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ]
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment.",
            "3 years commitment."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR"
          ],
          "type": "string"
        },
        "nodeTypes": {
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "items": {
            "$ref": "SoleTenantNodeType"
          },
          "type": "array"
        },
        "cpuOvercommitRatio": {
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Preferences concerning Sole Tenancy nodes and VMs.",
      "id": "SoleTenancyPreferences"
    },
    "AggregationResultSum": {
      "description": "The result of a sum aggregation.",
      "id": "AggregationResultSum",
      "properties": {
        "value": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "AzureVmPlatformDetails": {
      "properties": {
        "machineTypeLabel": {
          "type": "string",
          "description": "Azure platform's machine type label."
        },
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        },
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        }
      },
      "description": "Azure VM specific details.",
      "type": "object",
      "id": "AzureVmPlatformDetails"
    },
    "ComputeEnginePreferences": {
      "properties": {
        "persistentDiskType": {
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "enumDescriptions": [
            "Unspecified (default value). Selecting this value allows the system to use any disk type according to reported usage. This a good value to start with.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "type": "string",
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data."
        },
        "licenseType": {
          "description": "License type to consider when calculating costs for virtual machine insights and recommendations. If unspecified, costs are calculated based on the default licensing plan.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the OS license."
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ]
        },
        "machinePreferences": {
          "$ref": "MachinePreferences",
          "description": "Preferences concerning the machine types to consider on Compute Engine."
        }
      },
      "description": "The user preferences relating to Compute Engine target platform.",
      "type": "object",
      "id": "ComputeEnginePreferences"
    },
    "DiskUsageSample": {
      "description": "Disk usage sample. Values are across all disks.",
      "id": "DiskUsageSample",
      "type": "object",
      "properties": {
        "averageIops": {
          "type": "number",
          "format": "float",
          "description": "Average IOPS sampled over a short window. Must be non-negative."
        }
      }
    },
    "AssetFrame": {
      "id": "AssetFrame",
      "type": "object",
      "properties": {
        "traceToken": {
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "performanceSamples": {
          "items": {
            "$ref": "PerformanceSample"
          },
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "type": "array"
        },
        "reportTime": {
          "type": "string",
          "description": "The time the data was reported.",
          "format": "google-datetime"
        },
        "virtualMachineDetails": {
          "$ref": "VirtualMachineDetails",
          "description": "Asset information specific for virtual machines."
        },
        "attributes": {
          "description": "Generic asset attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Contains data reported from an inventory source on an asset."
    },
    "FstabEntryList": {
      "properties": {
        "entries": {
          "description": "Fstab entries.",
          "items": {
            "$ref": "FstabEntry"
          },
          "type": "array"
        }
      },
      "description": "Fstab content.",
      "id": "FstabEntryList",
      "type": "object"
    },
    "ReportSummaryChartData": {
      "description": "Describes a collection of data points rendered as a Chart.",
      "id": "ReportSummaryChartData",
      "type": "object",
      "properties": {
        "dataPoints": {
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "type": "array"
        }
      }
    },
    "DailyResourceUsageAggregationStats": {
      "description": "Statistical aggregation of samples for a single resource usage.",
      "id": "DailyResourceUsageAggregationStats",
      "type": "object",
      "properties": {
        "average": {
          "type": "number",
          "format": "float",
          "description": "Average usage value."
        },
        "median": {
          "description": "Median usage value.",
          "format": "float",
          "type": "number"
        },
        "peak": {
          "type": "number",
          "format": "float",
          "description": "Peak usage value."
        },
        "ninteyFifthPercentile": {
          "description": "95th percentile usage value.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "AggregationResultCount": {
      "description": "The result of a count aggregation.",
      "type": "object",
      "properties": {
        "value": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AggregationResultCount"
    },
    "InlinePayloadInfo": {
      "description": "A resource that represents the inline import job payload.",
      "type": "object",
      "id": "InlinePayloadInfo",
      "properties": {
        "payload": {
          "type": "array",
          "items": {
            "$ref": "PayloadFile"
          },
          "description": "List of payload files."
        },
        "format": {
          "type": "string",
          "description": "The import job format.",
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the AWS collection script.",
            "CSV format exported from Azure using the Azure collection script.",
            "CSV format created manually. For more information, see Manually create and upload data tables."
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        }
      }
    },
    "ListGroupsResponse": {
      "type": "object",
      "id": "ListGroupsResponse",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The list of Group"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "A response for listing groups."
    },
    "DateTime": {
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "id": "DateTime",
      "type": "object",
      "properties": {
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Time zone."
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer",
          "format": "int32"
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "type": "string",
          "format": "google-duration"
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
        }
      }
    },
    "UploadFileInfo": {
      "type": "object",
      "properties": {
        "headers": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The headers that were used to sign the URL.",
          "readOnly": true,
          "type": "object"
        },
        "signedUri": {
          "description": "Output only. Upload URI for the file.",
          "type": "string",
          "readOnly": true
        },
        "uriExpirationTime": {
          "readOnly": true,
          "description": "Output only. Expiration time of the upload URI.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "UploadFileInfo",
      "description": "A resource that contains a URI to which a data file can be uploaded."
    },
    "AggregationResultHistogramBucket": {
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "properties": {
        "count": {
          "description": "Count of items in the bucket.",
          "format": "int64",
          "type": "string"
        },
        "upperBound": {
          "format": "double",
          "description": "Upper bound - exclusive.",
          "type": "number"
        },
        "lowerBound": {
          "format": "double",
          "description": "Lower bound - inclusive.",
          "type": "number"
        }
      },
      "id": "AggregationResultHistogramBucket"
    },
    "ExecutionReport": {
      "description": "A resource that reports result of the import job execution.",
      "type": "object",
      "id": "ExecutionReport",
      "properties": {
        "totalRowsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of rows in the import job."
        },
        "framesReported": {
          "description": "Total number of asset frames reported for the import job.",
          "type": "integer",
          "format": "int32"
        },
        "executionErrors": {
          "description": "Validation errors encountered during the execution of the import job.",
          "$ref": "ValidationReport"
        },
        "jobErrors": {
          "items": {
            "$ref": "ImportError"
          },
          "deprecated": true,
          "type": "array",
          "description": "List of job-level errors. Deprecated, use the job errors under execution_errors instead."
        }
      }
    },
    "NetworkAdapterDetails": {
      "description": "Details of network adapter.",
      "properties": {
        "addresses": {
          "$ref": "NetworkAddressList",
          "description": "NetworkAddressList"
        },
        "adapterType": {
          "type": "string",
          "description": "Network adapter type (e.g. VMXNET3)."
        },
        "macAddress": {
          "type": "string",
          "description": "MAC address."
        }
      },
      "type": "object",
      "id": "NetworkAdapterDetails"
    },
    "ReportSummaryAssetAggregateStats": {
      "id": "ReportSummaryAssetAggregateStats",
      "description": "Aggregate statistics for a collection of assets.",
      "properties": {
        "memoryUtilization": {
          "deprecated": true,
          "$ref": "ReportSummaryChartData",
          "description": "Total memory split into Used/Free buckets."
        },
        "operatingSystem": {
          "description": "Count of assets grouped by Operating System families.",
          "$ref": "ReportSummaryChartData"
        },
        "totalCores": {
          "format": "int64",
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "type": "string"
        },
        "coreCountHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of CPU core counts."
        },
        "totalStorageBytes": {
          "format": "int64",
          "type": "string",
          "description": "Sum of persistent storage in bytes of all the assets in this collection."
        },
        "totalAssets": {
          "format": "int64",
          "type": "string",
          "description": "Count of the number of unique assets in this collection."
        },
        "storageUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "totalMemoryBytes": {
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "type": "string",
          "format": "int64"
        },
        "storageBytesHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of memory sizes."
        },
        "assetAge": {
          "$ref": "ReportSummaryChartData",
          "description": "Count of assets grouped by age.",
          "deprecated": true
        },
        "storageUtilization": {
          "deprecated": true,
          "$ref": "ReportSummaryChartData",
          "description": "Total storage split into Used/Free buckets."
        },
        "memoryBytesHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of memory sizes."
        },
        "memoryUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        }
      },
      "type": "object"
    },
    "InsightList": {
      "id": "InsightList",
      "description": "Message containing insights list.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update timestamp.",
          "type": "string"
        },
        "insights": {
          "readOnly": true,
          "description": "Output only. Insights of the list.",
          "items": {
            "$ref": "Insight"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "VmwareEnginePreferences": {
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "id": "VmwareEnginePreferences",
      "type": "object",
      "properties": {
        "commitmentPlan": {
          "type": "string",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          ],
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment)."
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
        },
        "storageDeduplicationCompressionRatio": {
          "type": "number",
          "format": "double",
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0."
        },
        "memoryOvercommitRatio": {
          "type": "number",
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "format": "double"
        },
        "cpuOvercommitRatio": {
          "type": "number",
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment."
        }
      }
    },
    "RunningProcess": {
      "description": "Guest OS running process details.",
      "properties": {
        "user": {
          "description": "User running the process.",
          "type": "string"
        },
        "pid": {
          "format": "int64",
          "description": "Process ID.",
          "type": "string"
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Process extended attributes."
        },
        "exePath": {
          "description": "Process binary path.",
          "type": "string"
        },
        "cmdline": {
          "description": "Process full command line.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RunningProcess"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "BatchDeleteAssetsRequest": {
      "id": "BatchDeleteAssetsRequest",
      "type": "object",
      "properties": {
        "allowMissing": {
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.",
          "type": "boolean"
        },
        "names": {
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A request to delete a list of asset."
    },
    "DailyResourceUsageAggregation": {
      "description": "Usage data aggregation for a single day.",
      "id": "DailyResourceUsageAggregation",
      "type": "object",
      "properties": {
        "network": {
          "description": "Network usage.",
          "$ref": "DailyResourceUsageAggregationNetwork"
        },
        "cpu": {
          "$ref": "DailyResourceUsageAggregationCPU",
          "description": "CPU usage."
        },
        "memory": {
          "description": "Memory usage.",
          "$ref": "DailyResourceUsageAggregationMemory"
        },
        "disk": {
          "$ref": "DailyResourceUsageAggregationDisk",
          "description": "Disk usage."
        },
        "date": {
          "description": "Aggregation date. Day boundaries are at midnight UTC.",
          "$ref": "Date"
        }
      }
    },
    "ListImportJobsResponse": {
      "type": "object",
      "description": "A response for listing import jobs.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "importJobs": {
          "type": "array",
          "description": "The list of import jobs.",
          "items": {
            "$ref": "ImportJob"
          }
        }
      },
      "id": "ListImportJobsResponse"
    },
    "ListPreferenceSetsResponse": {
      "properties": {
        "preferenceSets": {
          "type": "array",
          "description": "The list of PreferenceSets",
          "items": {
            "$ref": "PreferenceSet"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for listing preference sets.",
      "id": "ListPreferenceSetsResponse"
    },
    "BatchUpdateAssetsRequest": {
      "id": "BatchUpdateAssetsRequest",
      "description": "A request to update a list of assets.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "items": {
            "$ref": "UpdateAssetRequest"
          },
          "type": "array"
        }
      }
    },
    "AggregationResultFrequency": {
      "properties": {
        "values": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "AggregationResultFrequency",
      "description": "The result of a frequency distribution aggregation."
    },
    "AddAssetsToGroupRequest": {
      "id": "AddAssetsToGroupRequest",
      "description": "A request to add assets to a group.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 1000."
        },
        "allowExisting": {
          "type": "boolean",
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
        }
      },
      "type": "object"
    },
    "PhysicalPlatformDetails": {
      "id": "PhysicalPlatformDetails",
      "type": "object",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        }
      },
      "description": "Platform specific details for Physical Machines."
    },
    "GuestInstalledApplicationList": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "Application entries.",
          "items": {
            "$ref": "GuestInstalledApplication"
          }
        }
      },
      "type": "object",
      "id": "GuestInstalledApplicationList",
      "description": "Guest installed application list."
    },
    "MachinePreferences": {
      "id": "MachinePreferences",
      "type": "object",
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations. Not all machine types are available in all zones and regions.",
      "properties": {
        "allowedMachineSeries": {
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "items": {
            "$ref": "MachineSeries"
          },
          "type": "array"
        }
      }
    },
    "RunImportJobRequest": {
      "type": "object",
      "id": "RunImportJobRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "A request to run an import job."
    },
    "GenericPlatformDetails": {
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GenericPlatformDetails",
      "description": "Generic platform details."
    },
    "BiosDetails": {
      "type": "object",
      "id": "BiosDetails",
      "description": "Details about the BIOS.",
      "properties": {
        "biosVersion": {
          "description": "BIOS version.",
          "type": "string"
        },
        "biosManufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "biosName": {
          "type": "string",
          "description": "BIOS name."
        },
        "smbiosUuid": {
          "type": "string",
          "description": "SMBIOS UUID."
        },
        "biosReleaseDate": {
          "description": "BIOS release date.",
          "type": "string"
        }
      }
    },
    "AggregationResultHistogram": {
      "id": "AggregationResultHistogram",
      "type": "object",
      "description": "The result of a bucketed histogram aggregation.",
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          },
          "type": "array"
        }
      }
    },
    "ReportSummary": {
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "properties": {
        "allAssetsStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "description": "Aggregate statistics for all the assets across all the groups."
        },
        "groupFindings": {
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          },
          "type": "array",
          "description": "Findings for each Group included in this report."
        }
      },
      "type": "object",
      "id": "ReportSummary"
    },
    "AggregateAssetsValuesRequest": {
      "id": "AggregateAssetsValuesRequest",
      "properties": {
        "aggregations": {
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "type": "array"
        },
        "filter": {
          "description": "The aggregation will be performed on assets that match the provided filter.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request to aggregate one or more values."
    },
    "UpdateAssetRequest": {
      "type": "object",
      "id": "UpdateAssetRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.",
          "type": "string"
        },
        "asset": {
          "description": "Required. The resource being updated.",
          "$ref": "Asset"
        }
      },
      "description": "A request to update an asset."
    },
    "ComputeEngineShapeDescriptor": {
      "properties": {
        "series": {
          "type": "string",
          "description": "Compute Engine machine series."
        },
        "memoryMb": {
          "description": "Memory in mebibytes.",
          "type": "integer",
          "format": "int32"
        },
        "physicalCoreCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of physical cores."
        },
        "logicalCoreCount": {
          "type": "integer",
          "description": "Number of logical cores.",
          "format": "int32"
        },
        "storage": {
          "type": "array",
          "description": "Compute Engine storage. Never empty.",
          "items": {
            "$ref": "ComputeStorageDescriptor"
          }
        },
        "machineType": {
          "type": "string",
          "description": "Compute Engine machine type."
        }
      },
      "type": "object",
      "description": "Compute Engine target shape descriptor.",
      "id": "ComputeEngineShapeDescriptor"
    },
    "PerformanceSample": {
      "properties": {
        "disk": {
          "$ref": "DiskUsageSample",
          "description": "Disk usage sample."
        },
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "sampleTime": {
          "description": "Time the sample was collected.",
          "type": "string",
          "format": "google-datetime"
        },
        "cpu": {
          "$ref": "CpuUsageSample",
          "description": "CPU usage sample."
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        }
      },
      "type": "object",
      "id": "PerformanceSample",
      "description": "Performance data sample."
    },
    "Money": {
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        }
      }
    },
    "GuestRuntimeDetails": {
      "id": "GuestRuntimeDetails",
      "properties": {
        "domain": {
          "description": "Domain, e.g. c.stratozone-development.internal.",
          "type": "string"
        },
        "openFileList": {
          "$ref": "OpenFileList",
          "description": "Open files information."
        },
        "services": {
          "description": "Running background services.",
          "$ref": "RunningServiceList"
        },
        "networkInfo": {
          "description": "Runtime network information (connections, ports).",
          "$ref": "RuntimeNetworkInfo"
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "installedApps": {
          "description": "Installed applications information.",
          "$ref": "GuestInstalledApplicationList"
        },
        "lastUptime": {
          "$ref": "Date",
          "description": "Date since last booted (last uptime date)."
        }
      },
      "type": "object",
      "description": "Guest OS runtime information."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "AggregationCount": {
      "description": "Object count.",
      "properties": {},
      "type": "object",
      "id": "AggregationCount"
    },
    "MachineSeries": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify a Compute Engine machine series. Consult https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison for more details on the available series."
        }
      },
      "description": "A Compute Engine machine series.",
      "id": "MachineSeries"
    },
    "ReportSummaryHistogramChartData": {
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket.",
      "properties": {
        "buckets": {
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "type": "array",
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity."
        }
      },
      "type": "object",
      "id": "ReportSummaryHistogramChartData"
    },
    "Source": {
      "id": "Source",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full name of the source."
        },
        "errorFrameCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of frames that were reported by the source and contained errors."
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the source was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The information confidence of the source. The higher the value, the higher the confidence."
        },
        "pendingFrameCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of frames that are still being processed.",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources."
          ],
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM"
          ],
          "description": "Data source type."
        },
        "state": {
          "description": "Output only. The state of the source.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "readOnly": true
        },
        "isManaged": {
          "type": "boolean",
          "description": "If `true`, the source is managed by other service(s)."
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was last updated."
        }
      },
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "type": "object"
    },
    "ValidationReport": {
      "type": "object",
      "description": "A resource that aggregates errors across import job files.",
      "id": "ValidationReport",
      "properties": {
        "fileValidations": {
          "items": {
            "$ref": "FileValidationReport"
          },
          "type": "array",
          "description": "List of errors found in files."
        },
        "jobErrors": {
          "type": "array",
          "description": "List of job level errors.",
          "items": {
            "$ref": "ImportError"
          }
        }
      }
    },
    "GuestInstalledApplication": {
      "id": "GuestInstalledApplication",
      "description": "Guest installed application information.",
      "properties": {
        "time": {
          "type": "string",
          "description": "Date application was installed."
        },
        "name": {
          "description": "Installed application name.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Installed application version."
        },
        "vendor": {
          "description": "Installed application vendor.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Source path."
        }
      },
      "type": "object"
    },
    "DiskEntryList": {
      "id": "DiskEntryList",
      "description": "VM disks.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Disk entries.",
          "type": "array",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      }
    },
    "GoogleKubernetesEngineMigrationTarget": {
      "type": "object",
      "properties": {},
      "description": "GKE migration target.",
      "id": "GoogleKubernetesEngineMigrationTarget"
    },
    "DiskPartitionList": {
      "id": "DiskPartitionList",
      "type": "object",
      "description": "Disk partition list.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "DiskPartition"
          },
          "type": "array",
          "description": "Partition entries."
        }
      }
    },
    "DiskEntry": {
      "description": "Single disk entry.",
      "properties": {
        "hwAddress": {
          "description": "Disk hardware address (e.g. 0:1 for SCSI).",
          "type": "string"
        },
        "interfaceType": {
          "description": "Disks interface type (e.g. SATA/SCSI)",
          "type": "string"
        },
        "partitions": {
          "description": "Partition layout.",
          "$ref": "DiskPartitionList"
        },
        "diskLabel": {
          "description": "Disk label.",
          "type": "string"
        },
        "totalFreeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Disk free space."
        },
        "status": {
          "type": "string",
          "description": "Disk status (e.g. online)."
        },
        "vmwareConfig": {
          "$ref": "VmwareDiskConfig",
          "description": "VMware disk details."
        },
        "totalCapacityBytes": {
          "type": "string",
          "description": "Disk capacity.",
          "format": "int64"
        },
        "diskLabelType": {
          "description": "Disk label type (e.g. BIOS/GPT)",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DiskEntry"
    },
    "RuntimeNetworkInfo": {
      "description": "Runtime networking information.",
      "type": "object",
      "id": "RuntimeNetworkInfo",
      "properties": {
        "connections": {
          "description": "Network connections.",
          "$ref": "NetworkConnectionList"
        },
        "netstat": {
          "description": "Netstat (raw, OS-agnostic).",
          "type": "string"
        },
        "netstatTime": {
          "$ref": "DateTime",
          "description": "Netstat time collected."
        }
      }
    },
    "ReportSummaryMachineFinding": {
      "properties": {
        "allocatedDiskTypes": {
          "items": {
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ],
            "enumDescriptions": [
              "Unspecified (default value). Selecting this value allows the system to use any disk type according to reported usage. This a good value to start with.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Set of disk types allocated to assets."
        },
        "machineSeriesAllocations": {
          "description": "Distribution of assets based on the Machine Series.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          }
        },
        "allocatedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets were allocated."
        },
        "allocatedAssetCount": {
          "description": "Count of assets which were allocated.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A set of findings that applies to assets of type Virtual/Physical Machine.",
      "type": "object",
      "id": "ReportSummaryMachineFinding"
    },
    "MigrationInsight": {
      "properties": {
        "fit": {
          "$ref": "FitDescriptor",
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration.",
          "readOnly": true
        },
        "vmwareEngineTarget": {
          "description": "Output only. A VMWare Engine target.",
          "readOnly": true,
          "$ref": "VmwareEngineMigrationTarget"
        },
        "computeEngineTarget": {
          "$ref": "ComputeEngineMigrationTarget",
          "readOnly": true,
          "description": "Output only. A Google Compute Engine target."
        },
        "gkeTarget": {
          "readOnly": true,
          "$ref": "GoogleKubernetesEngineMigrationTarget",
          "description": "Output only. A Google Kubernetes Engine target."
        }
      },
      "id": "MigrationInsight",
      "type": "object",
      "description": "An insight about potential migrations for an asset."
    },
    "ReportSummaryHistogramChartDataBucket": {
      "properties": {
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Count of items in the bucket."
        },
        "lowerBound": {
          "description": "Lower bound - inclusive.",
          "format": "int64",
          "type": "string"
        },
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "type": "object",
      "id": "ReportSummaryHistogramChartDataBucket"
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "type": "object",
      "properties": {
        "preferenceSet": {
          "type": "string",
          "description": "Required. Name of the Preference Set."
        },
        "group": {
          "description": "Required. Name of the group.",
          "type": "string"
        }
      },
      "description": "Represents a combination of a group with a preference set.",
      "id": "ReportConfigGroupPreferenceSetAssignment"
    },
    "NetworkConnectionList": {
      "type": "object",
      "id": "NetworkConnectionList",
      "description": "Network connection list.",
      "properties": {
        "entries": {
          "description": "Network connection entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkConnection"
          }
        }
      }
    },
    "VirtualMachineDetails": {
      "description": "Details of a VirtualMachine.",
      "type": "object",
      "id": "VirtualMachineDetails",
      "properties": {
        "vmArchitecture": {
          "$ref": "VirtualMachineArchitectureDetails",
          "description": "VM architecture details (vendor, cpu arch)."
        },
        "osFamily": {
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "type": "string",
          "description": "What family the OS belong to, if known.",
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ]
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "osName": {
          "type": "string",
          "description": "The name of the operating system running on the VirtualMachine."
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "powerState": {
          "type": "string",
          "description": "Power state of VM (poweredOn or poweredOff)."
        },
        "vmUuid": {
          "description": "Virtual Machine unique identifier.",
          "type": "string"
        },
        "vcenterUrl": {
          "type": "string",
          "description": "vCenter URL used in collection."
        },
        "platform": {
          "description": "Platform information.",
          "$ref": "PlatformDetails"
        },
        "vcenterFolder": {
          "type": "string",
          "description": "Folder name in vCenter where asset resides."
        },
        "osVersion": {
          "type": "string",
          "description": "The version of the operating system running on the virtual machine."
        },
        "createTime": {
          "description": "VM creation timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "vmName": {
          "type": "string",
          "description": "Virtual Machine display name."
        },
        "vmDisks": {
          "$ref": "VirtualMachineDiskDetails",
          "description": "VM disk details."
        },
        "vmNetwork": {
          "$ref": "VirtualMachineNetworkDetails",
          "description": "VM network details."
        },
        "coreCount": {
          "format": "int32",
          "description": "Number of CPU cores in the VirtualMachine. Must be non-negative.",
          "type": "integer"
        },
        "memoryMb": {
          "description": "The amount of memory in the VirtualMachine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReportAssetFramesResponse": {
      "type": "object",
      "id": "ReportAssetFramesResponse",
      "properties": {},
[...]
