{
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "version_module": true,
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "basePath": "",
  "description": "An API to enable creating and using machine learning models.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "ml:v1",
  "ownerName": "Google",
  "servicePath": "",
  "baseUrl": "https://ml.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "methods": {
        "predict": {
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The resource name of a model or a version. Authorization: requires the `predict` permission on the specified resource.",
              "pattern": "^projects/.*$",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{projectsId}:predict",
          "request": {
            "$ref": "GoogleCloudMlV1__PredictRequest"
          },
          "response": {
            "$ref": "GoogleApi__HttpBody"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "ml.projects.predict",
          "path": "v1/{+name}:predict",
          "description": "Performs online prediction on the data in the request. {% dynamic include \"/ai-platform/includes/___predict-request\" %} "
        },
        "explain": {
          "description": "Performs explanation on the data in the request. {% dynamic include \"/ai-platform/includes/___explain-request\" %} ",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "id": "ml.projects.explain",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}:explain",
          "flatPath": "v1/projects/{projectsId}:explain",
          "request": {
            "$ref": "GoogleCloudMlV1__ExplainRequest"
          },
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The resource name of a model or a version. Authorization: requires the `predict` permission on the specified resource.",
              "type": "string",
              "pattern": "^projects/.*$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleApi__HttpBody"
          }
        },
        "getConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudMlV1__GetConfigResponse"
          },
          "id": "ml.projects.getConfig",
          "path": "v1/{+name}:getConfig",
          "flatPath": "v1/projects/{projectsId}:getConfig",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The project name.",
              "pattern": "^projects/[^/]+$"
            }
          },
          "description": "Get the service account information associated with your project. You need this information in order to grant the service account permissions for the Google Cloud Storage location where you put your model training code for training the model with Google Cloud Machine Learning."
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              },
              "path": "v1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "id": "ml.projects.operations.get",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "list": {
              "id": "ml.projects.operations.list",
              "path": "v1/{+name}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunning__ListOperationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/operations",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation's parent resource."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "cancel": {
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "id": "ml.projects.operations.cancel",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobuf__Empty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "jobs": {
          "methods": {
            "patch": {
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudMlV1__Job"
              },
              "flatPath": "v1/projects/{projectsId}/jobs/{jobsId}",
              "id": "ml.projects.jobs.patch",
              "response": {
                "$ref": "GoogleCloudMlV1__Job"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a specific job resource. Currently the only supported fields to update are `labels`.",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. Specifies the path, relative to `Job`, of the field to update. To adopt etag mechanism, include `etag` field in the mask, and include the `etag` value in your job resource. For example, to change the labels of a job, the `update_mask` parameter would be specified as `labels`, `etag`, and the `PATCH` request body would specify the new value, as follows: { \"labels\": { \"owner\": \"Google\", \"color\": \"Blue\" } \"etag\": \"33a64df551425fcc55e4d42a148795d9f25f89d4\" } If `etag` matches the one on the server, the labels of the job will be replaced with the given ones, and the server end `etag` will be recalculated. Currently the only supported update masks are `labels` and `etag`.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+/jobs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The job name.",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH"
            },
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the job to cancel.",
                  "required": true,
                  "pattern": "^projects/[^/]+/jobs/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobuf__Empty"
              },
              "request": {
                "$ref": "GoogleCloudMlV1__CancelJobRequest"
              },
              "id": "ml.projects.jobs.cancel",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/jobs/{jobsId}:cancel",
              "path": "v1/{+name}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Cancels a running job."
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The project name.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/jobs",
              "description": "Creates a training or a batch prediction job.",
              "id": "ml.projects.jobs.create",
              "response": {
                "$ref": "GoogleCloudMlV1__Job"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudMlV1__Job"
              },
              "path": "v1/{+parent}/jobs",
              "httpMethod": "POST"
            },
            "getIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "id": "ml.projects.jobs.getIamPolicy",
              "parameters": {
                "resource": {
                  "location": "path",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/jobs/[^/]+$",
                  "required": true
                },
                "options.requestedPolicyVersion": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "response": {
                "$ref": "GoogleIamV1__Policy"
              },
              "flatPath": "v1/projects/{projectsId}/jobs/{jobsId}:getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy"
            },
            "list": {
              "description": "Lists the jobs in the project. If there are no jobs that match the request parameters, the list request returns an empty response body: {}.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/projects/{projectsId}/jobs",
              "httpMethod": "GET",
              "path": "v1/{+parent}/jobs",
              "id": "ml.projects.jobs.list",
              "response": {
                "$ref": "GoogleCloudMlV1__ListJobsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The number of jobs to retrieve per \"page\" of results. If there are more remaining results than this number, the response message will contain a valid value in the `next_page_token` field. The default value is 20, and the maximum page size is 100."
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Specifies the subset of jobs to retrieve. You can filter on the value of one or more attributes of the job object. For example, retrieve jobs with a job identifier that starts with 'census': gcloud ai-platform jobs list --filter='jobId:census*' List all failed jobs with names that start with 'rnn': gcloud ai-platform jobs list --filter='jobId:rnn* AND state:FAILED' For more examples, see the guide to monitoring jobs.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A page token to request the next page of results. You get the token from the `next_page_token` field of the response from the previous call.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The name of the project for which to list jobs.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/jobs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the job to get the description of."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "ml.projects.jobs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/jobs/{jobsId}",
              "response": {
                "$ref": "GoogleCloudMlV1__Job"
              },
              "description": "Describes a job.",
              "path": "v1/{+name}"
            },
            "setIamPolicy": {
              "httpMethod": "POST",
              "id": "ml.projects.jobs.setIamPolicy",
              "request": {
                "$ref": "GoogleIamV1__SetIamPolicyRequest"
              },
              "parameters": {
                "resource": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/jobs/[^/]+$",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "resource"
              ],
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "path": "v1/{+resource}:setIamPolicy",
              "response": {
                "$ref": "GoogleIamV1__Policy"
              },
              "flatPath": "v1/projects/{projectsId}/jobs/{jobsId}:setIamPolicy"
            },
            "testIamPermissions": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleIamV1__TestIamPermissionsResponse"
              },
              "request": {
                "$ref": "GoogleIamV1__TestIamPermissionsRequest"
              },
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/jobs/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "id": "ml.projects.jobs.testIamPermissions",
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "flatPath": "v1/projects/{projectsId}/jobs/{jobsId}:testIamPermissions",
              "path": "v1/{+resource}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ]
            }
          }
        },
        "models": {
          "methods": {
            "patch": {
              "id": "ml.projects.models.patch",
              "request": {
                "$ref": "GoogleCloudMlV1__Model"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "description": "Updates a specific model resource. Currently the only supported fields to update are `description` and `default_version.name`.",
              "parameters": {
                "name": {
                  "description": "Required. The project name.",
                  "pattern": "^projects/[^/]+/models/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "description": "Required. Specifies the path, relative to `Model`, of the field to update. For example, to change the description of a model to \"foo\" and set its default version to \"version_1\", the `update_mask` parameter would be specified as `description`, `default_version.name`, and the `PATCH` request body would specify the new value, as follows: { \"description\": \"foo\", \"defaultVersion\": { \"name\":\"version_1\" } } Currently the supported update masks are `description` and `default_version.name`.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              },
              "flatPath": "v1/projects/{projectsId}/models/{modelsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "getIamPolicy": {
              "flatPath": "v1/projects/{projectsId}/models/{modelsId}:getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy",
              "httpMethod": "GET",
              "id": "ml.projects.models.getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "GoogleIamV1__Policy"
              },
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/models/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true
                },
                "options.requestedPolicyVersion": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
            },
            "testIamPermissions": {
              "request": {
                "$ref": "GoogleIamV1__TestIamPermissionsRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/models/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "response": {
                "$ref": "GoogleIamV1__TestIamPermissionsResponse"
              },
              "path": "v1/{+resource}:testIamPermissions",
              "id": "ml.projects.models.testIamPermissions",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/models/{modelsId}:testIamPermissions"
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudMlV1__Model"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project name.",
                  "required": true
                }
              },
              "id": "ml.projects.models.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/models",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudMlV1__Model"
              },
              "path": "v1/{+parent}/models",
              "description": "Creates a model which will later contain one or more versions. You must add at least one version before you can request predictions from the model. Add versions by calling projects.models.versions.create."
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a model. You can only delete a model if there are no versions in it. You can delete versions by calling projects.models.versions.delete.",
              "response": {
                "$ref": "GoogleLongrunning__Operation"
              },
              "id": "ml.projects.models.delete",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/models/[^/]+$",
                  "description": "Required. The name of the model."
                }
              },
              "flatPath": "v1/projects/{projectsId}/models/{modelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a model, including its name, the description (if set), and the default version (if at least one version of the model has been deployed).",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the model.",
                  "pattern": "^projects/[^/]+/models/[^/]+$",
                  "location": "path"
                }
              },
              "id": "ml.projects.models.get",
              "flatPath": "v1/projects/{projectsId}/models/{modelsId}",
              "response": {
                "$ref": "GoogleCloudMlV1__Model"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/models",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Optional. Specifies the subset of models to retrieve.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The number of models to retrieve per \"page\" of results. If there are more remaining results than this number, the response message will contain a valid value in the `next_page_token` field. The default value is 20, and the maximum page size is 100."
                },
                "pageToken": {
                  "description": "Optional. A page token to request the next page of results. You get the token from the `next_page_token` field of the response from the previous call.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The name of the project whose models are to be listed.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudMlV1__ListModelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/models",
              "description": "Lists the models in a project. Each project can contain multiple models, and each model can have multiple versions. If there are no models that match the request parameters, the list request returns an empty response body: {}.",
              "id": "ml.projects.models.list"
            },
            "setIamPolicy": {
              "flatPath": "v1/projects/{projectsId}/models/{modelsId}:setIamPolicy",
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "id": "ml.projects.models.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleIamV1__SetIamPolicyRequest"
              },
              "response": {
                "$ref": "GoogleIamV1__Policy"
              },
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "pattern": "^projects/[^/]+/models/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+resource}:setIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ]
            }
          },
          "resources": {
            "versions": {
              "methods": {
                "setDefault": {
                  "id": "ml.projects.models.versions.setDefault",
                  "flatPath": "v1/projects/{projectsId}/models/{modelsId}/versions/{versionsId}:setDefault",
                  "response": {
                    "$ref": "GoogleCloudMlV1__Version"
                  },
                  "request": {
                    "$ref": "GoogleCloudMlV1__SetDefaultVersionRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Designates a version to be the default for the model. The default version is used for prediction requests made against the model that don't specify a version. The first version to be created for a model is automatically set as the default. You must make any subsequent changes to the default version setting manually using this method.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:setDefault",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/models/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the version to make the default for the model. You can get the names of all the versions of a model by calling projects.models.versions.list.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/versions",
                  "flatPath": "v1/projects/{projectsId}/models/{modelsId}/versions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudMlV1__ListVersionsResponse"
                  },
                  "id": "ml.projects.models.versions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Gets basic information about all the versions of a model. If you expect that a model has many versions, or if you need to handle only a limited number of results at a time, you can request that the list be retrieved in batches (called pages). If there are no versions that match the request parameters, the list request returns an empty response body: {}.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Specifies the subset of versions to retrieve."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the model for which to list the version.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/models/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. The number of versions to retrieve per \"page\" of results. If there are more remaining results than this number, the response message will contain a valid value in the `next_page_token` field. The default value is 20, and the maximum page size is 100.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token to request the next page of results. You get the token from the `next_page_token` field of the response from the previous call."
                    }
                  }
                },
                "delete": {
                  "description": "Deletes a model version. Each model can have multiple versions deployed and in use at any given time. Use this method to remove a single version. Note: You cannot delete the version that is set as the default version of the model unless it is the only remaining version.",
                  "response": {
                    "$ref": "GoogleLongrunning__Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the version. You can get the names of all the versions of a model by calling projects.models.versions.list.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/models/[^/]+/versions/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/models/{modelsId}/versions/{versionsId}",
                  "id": "ml.projects.models.versions.delete"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ml.projects.models.versions.patch",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/models/{modelsId}/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunning__Operation"
                  },
                  "request": {
                    "$ref": "GoogleCloudMlV1__Version"
                  },
                  "description": "Updates the specified Version resource. Currently the only update-able fields are `description`, `requestLoggingConfig`, `autoScaling.minNodes`, and `manualScaling.nodes`.",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Specifies the path, relative to `Version`, of the field to update. Must be present and non-empty. For example, to change the description of a version to \"foo\", the `update_mask` parameter would be specified as `description`, and the `PATCH` request body would specify the new value, as follows: ``` { \"description\": \"foo\" } ``` Currently the only supported update mask fields are `description`, `requestLoggingConfig`, `autoScaling.minNodes`, and `manualScaling.nodes`. However, you can only update `manualScaling.nodes` if the version uses a [Compute Engine (N1) machine type](/ml-engine/docs/machine-types-online-prediction).",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/models/[^/]+/versions/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the model."
                    }
                  }
                },
                "create": {
                  "path": "v1/{+parent}/versions",
                  "id": "ml.projects.models.versions.create",
                  "response": {
                    "$ref": "GoogleLongrunning__Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/models/{modelsId}/versions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudMlV1__Version"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new version of a model from a trained TensorFlow model. If the version created in the cloud by this call is the first deployed version of the specified model, it will be made the default version of the model. When you add a version to a model that already has one or more versions, the default version does not automatically change. If you want a new version to be the default, you must call projects.models.versions.setDefault.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/models/[^/]+$",
                      "description": "Required. The name of the model.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "ml.projects.models.versions.get",
                  "flatPath": "v1/projects/{projectsId}/models/{modelsId}/versions/{versionsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/models/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the version."
                    }
                  },
                  "description": "Gets information about a model version. Models can have multiple versions. You can call projects.models.versions.list to get the same information that this method returns for all of the versions of a model.",
                  "response": {
                    "$ref": "GoogleCloudMlV1__Version"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "get": {
              "id": "ml.projects.locations.get",
              "description": "Get the complete list of CMLE capabilities in a location, along with their location-specific properties.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "GoogleCloudMlV1__Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the location.",
                  "location": "path"
                }
              },
              "httpMethod": "GET"
            },
            "list": {
              "path": "v1/{+parent}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "parent"
              ],
              "description": "List all locations that provides at least one type of CMLE capability.",
              "httpMethod": "GET",
              "id": "ml.projects.locations.list",
              "response": {
                "$ref": "GoogleCloudMlV1__ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The number of locations to retrieve per \"page\" of results. If there are more remaining results than this number, the response message will contain a valid value in the `next_page_token` field. The default value is 20, and the maximum page size is 100.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The name of the project for which available locations are to be listed (since some locations might be whitelisted for specific projects).",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token to request the next page of results. You get the token from the `next_page_token` field of the response from the previous call.",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "studies": {
              "resources": {
                "trials": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobuf__Empty"
                      },
                      "description": "Deletes a trial.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials/{trialsId}",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "id": "ml.projects.locations.studies.trials.delete",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+/trials/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The trial name.",
                          "type": "string"
                        }
                      }
                    },
                    "listOptimalTrials": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials:listOptimalTrials",
                      "path": "v1/{+parent}/trials:listOptimalTrials",
                      "request": {
                        "$ref": "GoogleCloudMlV1__ListOptimalTrialsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudMlV1__ListOptimalTrialsResponse"
                      },
                      "description": "Lists the pareto-optimal trials for multi-objective study or the optimal trials for single-objective study. The definition of pareto-optimal can be checked in wiki page. https://en.wikipedia.org/wiki/Pareto_efficiency",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+$",
                          "description": "Required. The name of the study that the pareto-optimal trial belongs to.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "ml.projects.locations.studies.trials.listOptimalTrials"
                    },
                    "checkEarlyStoppingState": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudMlV1__CheckTrialEarlyStoppingStateRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunning__Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials/{trialsId}:checkEarlyStoppingState",
                      "path": "v1/{+name}:checkEarlyStoppingState",
                      "description": "Checks whether a trial should stop or not. Returns a long-running operation. When the operation is successful, it will contain a CheckTrialEarlyStoppingStateResponse.",
                      "parameters": {
                        "name": {
                          "description": "Required. The trial name.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+/trials/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ml.projects.locations.studies.trials.checkEarlyStoppingState"
                    },
                    "stop": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+/trials/[^/]+$",
                          "description": "Required. The trial name."
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:stop",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Stops a trial.",
                      "request": {
                        "$ref": "GoogleCloudMlV1__StopTrialRequest"
                      },
                      "id": "ml.projects.locations.studies.trials.stop",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials/{trialsId}:stop",
                      "response": {
                        "$ref": "GoogleCloudMlV1__Trial"
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudMlV1__Trial"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The trial name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+/trials/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials/{trialsId}",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "id": "ml.projects.locations.studies.trials.get",
                      "description": "Gets a trial."
                    },
                    "suggest": {
                      "id": "ml.projects.locations.studies.trials.suggest",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The name of the study that the trial belongs to.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+parent}/trials:suggest",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Adds one or more trials to a study, with parameter values suggested by AI Platform Vizier. Returns a long-running operation associated with the generation of trial suggestions. When this long-running operation succeeds, it will contain a SuggestTrialsResponse.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunning__Operation"
                      },
                      "request": {
                        "$ref": "GoogleCloudMlV1__SuggestTrialsRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials:suggest"
                    },
                    "complete": {
                      "description": "Marks a trial as complete.",
                      "id": "ml.projects.locations.studies.trials.complete",
                      "path": "v1/{+name}:complete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials/{trialsId}:complete",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The trial name.metat",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+/trials/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudMlV1__CompleteTrialRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudMlV1__Trial"
                      }
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials",
                      "id": "ml.projects.locations.studies.trials.create",
                      "path": "v1/{+parent}/trials",
                      "request": {
                        "$ref": "GoogleCloudMlV1__Trial"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Adds a user provided trial to a study.",
                      "response": {
                        "$ref": "GoogleCloudMlV1__Trial"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the study that the trial belongs to."
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "list": {
                      "id": "ml.projects.locations.studies.trials.list",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/trials",
                      "description": "Lists the trials associated with a study.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudMlV1__ListTrialsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the study that the trial belongs to."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials"
                    },
                    "addMeasurement": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:addMeasurement",
                      "httpMethod": "POST",
                      "description": "Adds a measurement of the objective metrics to a trial. This measurement is assumed to have been taken before the trial is complete.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The trial name.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+/trials/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudMlV1__Trial"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ml.projects.locations.studies.trials.addMeasurement",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}/trials/{trialsId}:addMeasurement",
                      "request": {
                        "$ref": "GoogleCloudMlV1__AddTrialMeasurementRequest"
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}",
                  "path": "v1/{+name}",
                  "description": "Gets a study.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudMlV1__Study"
                  },
                  "id": "ml.projects.locations.studies.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The study name.",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The study name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/studies/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "ml.projects.locations.studies.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobuf__Empty"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a study.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies/{studiesId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "path": "v1/{+parent}/studies",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudMlV1__Study"
                  },
                  "description": "Creates a study.",
                  "request": {
                    "$ref": "GoogleCloudMlV1__Study"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The project and location that the study belongs to. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "studyId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the study, which will become the final component of the study's resource name."
                    }
                  },
                  "id": "ml.projects.locations.studies.create"
                },
                "list": {
                  "path": "v1/{+parent}/studies",
                  "response": {
                    "$ref": "GoogleCloudMlV1__ListStudiesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/studies",
                  "id": "ml.projects.locations.studies.list",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location that the study belongs to. Format: projects/{project}/locations/{location}",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all the studies in a region for an associated project."
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "ml.projects.locations.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunning__Operation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobuf__Empty"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel",
                  "id": "ml.projects.locations.operations.cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "name": "ml",
  "canonicalName": "Cloud Machine Learning Engine",
  "batchPath": "batch",
  "rootUrl": "https://ml.googleapis.com/",
  "mtlsRootUrl": "https://ml.mtls.googleapis.com/",
  "revision": "20220430",
  "schemas": {
    "GoogleCloudMlV1_AutomatedStoppingConfig_DecayCurveAutomatedStoppingConfig": {
      "properties": {
        "useElapsedTime": {
          "type": "boolean",
          "description": "If true, measurement.elapsed_time is used as the x-axis of each Trials Decay Curve. Otherwise, Measurement.steps will be used as the x-axis."
        }
      },
      "id": "GoogleCloudMlV1_AutomatedStoppingConfig_DecayCurveAutomatedStoppingConfig",
      "type": "object"
    },
    "GoogleCloudMlV1__AcceleratorConfig": {
      "description": "Represents a hardware accelerator request config. Note that the AcceleratorConfig can be used in both Jobs and Versions. Learn more about [accelerators for training](/ml-engine/docs/using-gpus) and [accelerators for online prediction](/ml-engine/docs/machine-types-online-prediction#gpus).",
      "id": "GoogleCloudMlV1__AcceleratorConfig",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified accelerator type. Default to no GPU.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia T4 GPU.",
            "Nvidia A100 GPU.",
            "TPU v2.",
            "TPU v3.",
            "TPU v2 POD.",
            "TPU v3 POD."
          ],
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "TPU_V2",
            "TPU_V3",
            "TPU_V2_POD",
            "TPU_V3_POD"
          ],
          "description": "The type of accelerator to use.",
          "type": "string"
        },
        "count": {
          "description": "The number of accelerators to attach to each machine running the job.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleIamV1__AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "id": "GoogleIamV1__AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudMlV1__GetConfigResponse": {
      "type": "object",
      "description": "Returns service account information associated with a project.",
      "properties": {
        "config": {
          "$ref": "GoogleCloudMlV1__Config"
        },
        "serviceAccountProject": {
          "type": "string",
          "description": "The project number for `service_account`.",
          "format": "int64"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account Cloud ML uses to access resources in the project."
        }
      },
      "id": "GoogleCloudMlV1__GetConfigResponse"
    },
    "GoogleCloudMlV1_StudyConfigParameterSpec_DiscreteValueSpec": {
      "id": "GoogleCloudMlV1_StudyConfigParameterSpec_DiscreteValueSpec",
      "type": "object",
      "properties": {
        "values": {
          "description": "Must be specified if type is `DISCRETE`. A list of feasible points. The list should be in strictly increasing order. For instance, this parameter might have possible settings of 1.5, 2.5, and 4.0. This list should not contain more than 1,000 values.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "GoogleCloudMlV1__BuiltInAlgorithmOutput": {
      "description": "Represents output related to a built-in algorithm Job.",
      "properties": {
        "pythonVersion": {
          "type": "string",
          "description": "Python version on which the built-in algorithm was trained."
        },
        "runtimeVersion": {
          "type": "string",
          "description": "AI Platform runtime version on which the built-in algorithm was trained."
        },
        "framework": {
          "type": "string",
          "description": "Framework on which the built-in algorithm was trained."
        },
        "modelPath": {
          "description": "The Cloud Storage path to the `model/` directory where the training job saves the trained model. Only set for successful jobs that don't use hyperparameter tuning.",
          "type": "string"
        }
      },
      "id": "GoogleCloudMlV1__BuiltInAlgorithmOutput",
      "type": "object"
    },
    "GoogleCloudMlV1__ListStudiesResponse": {
      "type": "object",
      "properties": {
        "studies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__Study"
          },
          "description": "The studies associated with the project."
        }
      },
      "id": "GoogleCloudMlV1__ListStudiesResponse"
    },
    "GoogleCloudMlV1__ListLocationsResponse": {
      "type": "object",
      "id": "GoogleCloudMlV1__ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "GoogleCloudMlV1__Location"
          },
          "description": "Locations where at least one type of CMLE capability is available.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. Pass this token as the `page_token` field of the request for a subsequent call."
        }
      }
    },
    "GoogleCloudMlV1_StudyConfigParameterSpec_CategoricalValueSpec": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Must be specified if type is `CATEGORICAL`. The list of possible categories.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudMlV1_StudyConfigParameterSpec_CategoricalValueSpec"
    },
    "GoogleIamV1__SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "GoogleIamV1__Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "GoogleIamV1__SetIamPolicyRequest",
      "type": "object"
    },
    "GoogleCloudMlV1__ExplainRequest": {
      "id": "GoogleCloudMlV1__ExplainRequest",
      "properties": {
        "httpBody": {
          "$ref": "GoogleApi__HttpBody",
          "description": "Required. The explanation request body."
        }
      },
      "description": "Request for explanations to be issued against a trained model.",
      "type": "object"
    },
    "GoogleIamV1__Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1__Policy",
      "properties": {
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1__AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1__Binding"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentCategoricalValueSpec": {
      "id": "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentCategoricalValueSpec",
      "type": "object",
      "description": "Represents the spec to match categorical values from parent parameter.",
      "properties": {
        "values": {
          "description": "Matches values of the parent parameter with type 'CATEGORICAL'. All values must exist in `categorical_value_spec` of parent parameter.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentDiscreteValueSpec": {
      "description": "Represents the spec to match discrete values from parent parameter.",
      "id": "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentDiscreteValueSpec",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Matches values of the parent parameter with type 'DISCRETE'. All values must exist in `discrete_value_spec` of parent parameter.",
          "type": "array"
        }
      }
    },
    "GoogleCloudMlV1_Measurement_Metric": {
      "description": "A message representing a metric in the measurement.",
      "type": "object",
      "properties": {
        "metric": {
          "description": "Required. Metric name.",
          "type": "string"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "Required. The value for this metric."
        }
      },
      "id": "GoogleCloudMlV1_Measurement_Metric"
    },
    "GoogleCloudMlV1__Config": {
      "properties": {
        "tpuServiceAccount": {
          "description": "The service account Cloud ML uses to run on TPU node.",
          "type": "string"
        }
      },
      "id": "GoogleCloudMlV1__Config",
      "type": "object"
    },
    "GoogleCloudMlV1__SuggestTrialsRequest": {
      "id": "GoogleCloudMlV1__SuggestTrialsRequest",
      "description": "The request message for the SuggestTrial service method.",
      "type": "object",
      "properties": {
        "suggestionCount": {
          "format": "int32",
          "description": "Required. The number of suggestions requested.",
          "type": "integer"
        },
        "clientId": {
          "description": "Required. The identifier of the client that is requesting the suggestion. If multiple SuggestTrialsRequests have the same `client_id`, the service will return the identical suggested trial if the trial is pending, and provide a new trial if the last suggested trial was completed.",
          "type": "string"
        }
      }
    },
    "GoogleType__Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "id": "GoogleType__Expr",
      "type": "object"
    },
    "GoogleIamV1__AuditConfig": {
      "id": "GoogleIamV1__AuditConfig",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1__AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "GoogleCloudMlV1__ListModelsResponse": {
      "properties": {
        "models": {
          "description": "The list of models.",
          "items": {
            "$ref": "GoogleCloudMlV1__Model"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. Pass this token as the `page_token` field of the request for a subsequent call."
        }
      },
      "description": "Response message for the ListModels method.",
      "type": "object",
      "id": "GoogleCloudMlV1__ListModelsResponse"
    },
    "GoogleCloudMlV1__CheckTrialEarlyStoppingStateResponse": {
      "type": "object",
      "properties": {
        "shouldStop": {
          "type": "boolean",
          "description": "True if the Trial should stop."
        },
        "endTime": {
          "description": "The time at which operation processing completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The time at which the operation was started.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The message will be placed in the response field of a completed google.longrunning.Operation associated with a CheckTrialEarlyStoppingState request.",
      "id": "GoogleCloudMlV1__CheckTrialEarlyStoppingStateResponse"
    },
    "GoogleCloudMlV1__Study": {
      "properties": {
        "studyConfig": {
          "description": "Required. Configuration of the study.",
          "$ref": "GoogleCloudMlV1__StudyConfig"
        },
        "name": {
          "description": "Output only. The name of a study.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the study was created."
        },
        "inactiveReason": {
          "readOnly": true,
          "description": "Output only. A human readable reason why the Study is inactive. This should be empty if a study is ACTIVE or COMPLETED.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "COMPLETED"
          ],
          "description": "Output only. The detailed state of a study.",
          "enumDescriptions": [
            "The study state is unspecified.",
            "The study is active.",
            "The study is stopped due to an internal error.",
            "The study is done when the service exhausts the parameter search space or max_trial_count is reached."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudMlV1__Study",
      "type": "object",
      "description": "A message representing a Study."
    },
    "GoogleCloudMlV1_StudyConfigParameterSpec_DoubleValueSpec": {
      "type": "object",
      "id": "GoogleCloudMlV1_StudyConfigParameterSpec_DoubleValueSpec",
      "properties": {
        "minValue": {
          "description": "Must be specified if type is `DOUBLE`. Minimum value of the parameter.",
          "format": "double",
          "type": "number"
        },
        "maxValue": {
          "type": "number",
          "format": "double",
          "description": "Must be specified if type is `DOUBLE`. Maximum value of the parameter."
        }
      }
    },
    "GoogleCloudMlV1__PredictRequest": {
      "id": "GoogleCloudMlV1__PredictRequest",
      "type": "object",
      "properties": {
        "httpBody": {
          "$ref": "GoogleApi__HttpBody",
          "description": " Required. The prediction request body. Refer to the [request body details section](#request-body-details) for more information on how to structure your request."
        }
      },
      "description": "Request for predictions to be issued against a trained model."
    },
    "GoogleCloudMlV1__SetDefaultVersionRequest": {
      "id": "GoogleCloudMlV1__SetDefaultVersionRequest",
      "properties": {},
      "description": "Request message for the SetDefaultVersion request.",
      "type": "object"
    },
    "GoogleRpc__Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "GoogleRpc__Status"
    },
    "GoogleCloudMlV1__CheckTrialEarlyStoppingStateRequest": {
      "description": "The request message for the CheckTrialEarlyStoppingState service method.",
      "properties": {},
      "id": "GoogleCloudMlV1__CheckTrialEarlyStoppingStateRequest",
      "type": "object"
    },
    "GoogleIamV1__TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "GoogleIamV1__TestIamPermissionsRequest",
      "type": "object"
    },
    "GoogleCloudMlV1__ContainerSpec": {
      "type": "object",
      "id": "GoogleCloudMlV1__ContainerSpec",
      "description": "Specification of a custom container for serving predictions. This message is a subset of the [Kubernetes Container v1 core specification](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core).",
      "properties": {
        "env": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__EnvVar"
          },
          "description": "Immutable. List of environment variables to set in the container. After the container starts running, code running in the container can read these environment variables. Additionally, the command and args fields can reference these variables. Later entries in this list can also reference earlier entries. For example, the following example sets the variable `VAR_2` to have the value `foo bar`: ```json [ { \"name\": \"VAR_1\", \"value\": \"foo\" }, { \"name\": \"VAR_2\", \"value\": \"$(VAR_1) bar\" } ] ``` If you switch the order of the variables in the example, then the expansion does not occur. This field corresponds to the `env` field of the [Kubernetes Containers v1 core API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core)."
        },
        "image": {
[...]
