{
  "kind": "discovery#restDescription",
  "revision": "20220409",
  "name": "ml",
  "documentationLink": "https://cloud.google.com/ml/",
  "batchPath": "batch",
  "rootUrl": "https://ml.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "An API to enable creating and using machine learning models.",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudMlV1__SuggestTrialsResponse": {
      "properties": {
        "trials": {
          "description": "A list of trials.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__Trial"
          }
        },
        "startTime": {
          "type": "string",
          "description": "The time at which the operation was started.",
          "format": "google-datetime"
        },
        "studyState": {
          "enumDescriptions": [
            "The study state is unspecified.",
            "The study is active.",
            "The study is stopped due to an internal error.",
            "The study is done when the service exhausts the parameter search space or max_trial_count is reached."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "COMPLETED"
          ],
          "description": "The state of the study.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time at which operation processing completed.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "This message will be placed in the response field of a completed google.longrunning.Operation associated with a SuggestTrials request.",
      "id": "GoogleCloudMlV1__SuggestTrialsResponse"
    },
    "GoogleCloudMlV1__RouteMap": {
      "properties": {
        "predict": {
          "type": "string",
          "description": "HTTP path on the container to send prediction requests to. AI Platform Prediction forwards requests sent using projects.predict to this path on the container's IP address and port. AI Platform Prediction then returns the container's response in the API response. For example, if you set this field to `/foo`, then when AI Platform Prediction receives a prediction request, it forwards the request body in a POST request to the `/foo` path on the port of your container specified by the first value of Version.container.ports. If you don't specify this field, it defaults to the following value: /v1/models/MODEL/versions/VERSION:predict The placeholders in this value are replaced as follows: * MODEL: The name of the parent Model. This does not include the \"projects/PROJECT_ID/models/\" prefix that the API returns in output; it is the bare model name, as provided to projects.models.create. * VERSION: The name of the model version. This does not include the \"projects/PROJECT_ID/models/MODEL/versions/\" prefix that the API returns in output; it is the bare version name, as provided to projects.models.versions.create."
        },
        "health": {
          "type": "string",
          "description": "HTTP path on the container to send health checkss to. AI Platform Prediction intermittently sends GET requests to this path on the container's IP address and port to check that the container is healthy. Read more about [health checks](/ai-platform/prediction/docs/custom-container-requirements#checks). For example, if you set this field to `/bar`, then AI Platform Prediction intermittently sends a GET request to the `/bar` path on the port of your container specified by the first value of Version.container.ports. If you don't specify this field, it defaults to the following value: /v1/models/ MODEL/versions/VERSION The placeholders in this value are replaced as follows: * MODEL: The name of the parent Model. This does not include the \"projects/PROJECT_ID/models/\" prefix that the API returns in output; it is the bare model name, as provided to projects.models.create. * VERSION: The name of the model version. This does not include the \"projects/PROJECT_ID /models/MODEL/versions/\" prefix that the API returns in output; it is the bare version name, as provided to projects.models.versions.create."
        }
      },
      "type": "object",
      "description": "Specifies HTTP paths served by a custom container. AI Platform Prediction sends requests to these paths on the container; the custom container must run an HTTP server that responds to these requests with appropriate responses. Read [Custom container requirements](/ai-platform/prediction/docs/custom-container-requirements) for details on how to create your container image to meet these requirements.",
      "id": "GoogleCloudMlV1__RouteMap"
    },
    "GoogleCloudMlV1_StudyConfigParameterSpec_DoubleValueSpec": {
      "properties": {
        "minValue": {
          "type": "number",
          "description": "Must be specified if type is `DOUBLE`. Minimum value of the parameter.",
          "format": "double"
        },
        "maxValue": {
          "description": "Must be specified if type is `DOUBLE`. Maximum value of the parameter.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudMlV1_StudyConfigParameterSpec_DoubleValueSpec"
    },
    "GoogleCloudMlV1__Measurement": {
      "type": "object",
      "properties": {
        "stepCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of steps a machine learning model has been trained for. Must be non-negative."
        },
        "elapsedTime": {
          "format": "google-duration",
          "description": "Output only. Time that the trial has been running at the point of this measurement.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudMlV1_Measurement_Metric"
          },
          "type": "array",
          "description": "Provides a list of metrics that act as inputs into the objective function."
        }
      },
      "description": "A message representing a measurement.",
      "id": "GoogleCloudMlV1__Measurement"
    },
    "GoogleCloudMlV1__SampledShapleyAttribution": {
      "properties": {
        "numPaths": {
          "description": "The number of feature permutations to consider when approximating the Shapley values.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudMlV1__SampledShapleyAttribution",
      "type": "object",
      "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features."
    },
    "GoogleCloudMlV1_StudyConfig_MetricSpec": {
      "id": "GoogleCloudMlV1_StudyConfig_MetricSpec",
      "properties": {
        "metric": {
          "type": "string",
          "description": "Required. The name of the metric."
        },
        "goal": {
          "type": "string",
          "description": "Required. The optimization goal of the metric.",
          "enum": [
            "GOAL_TYPE_UNSPECIFIED",
            "MAXIMIZE",
            "MINIMIZE"
          ],
          "enumDescriptions": [
            "Goal Type will default to maximize.",
            "Maximize the goal metric.",
            "Minimize the goal metric."
          ]
        }
      },
      "type": "object",
      "description": "Represents a metric to optimize."
    },
    "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric": {
      "properties": {
        "trainingStep": {
          "description": "The global training step for this metric.",
          "format": "int64",
          "type": "string"
        },
        "objectiveValue": {
          "description": "The objective value at this training step.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric",
      "description": "An observed value of a metric."
    },
    "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentDiscreteValueSpec": {
      "type": "object",
      "id": "GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentDiscreteValueSpec",
      "description": "Represents the spec to match discrete values from parent parameter.",
      "properties": {
        "values": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array",
          "description": "Matches values of the parent parameter with type 'DISCRETE'. All values must exist in `discrete_value_spec` of parent parameter."
        }
      }
    },
    "GoogleCloudMlV1__OperationMetadata": {
      "properties": {
        "endTime": {
          "description": "The time operation processing completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "projectNumber": {
          "type": "string",
          "format": "int64",
          "description": "Contains the project number associated with the operation."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels, inherited from the model or the model version being operated on.",
          "type": "object"
        },
        "operationType": {
          "description": "The operation type.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_VERSION",
            "DELETE_VERSION",
            "DELETE_MODEL",
            "UPDATE_MODEL",
            "UPDATE_VERSION",
            "UPDATE_CONFIG"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified operation type.",
            "An operation to create a new version.",
            "An operation to delete an existing version.",
            "An operation to delete an existing model.",
            "An operation to update an existing model.",
            "An operation to update an existing version.",
            "An operation to update project configuration."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time operation processing started.",
          "type": "string"
        },
        "modelName": {
          "description": "Contains the name of the model associated with the operation.",
          "type": "string"
        },
        "isCancellationRequested": {
          "description": "Indicates whether a request to cancel this operation has been made.",
          "type": "boolean"
        },
        "createTime": {
          "description": "The time the operation was submitted.",
          "format": "google-datetime",
          "type": "string"
        },
        "version": {
          "description": "Contains the version associated with the operation.",
          "$ref": "GoogleCloudMlV1__Version"
        }
      },
      "id": "GoogleCloudMlV1__OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "GoogleApi__HttpBody": {
      "properties": {
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The HTTP request/response body as raw binary."
        }
      },
      "id": "GoogleApi__HttpBody",
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "GoogleType__Expr": {
      "id": "GoogleType__Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "type": "object"
    },
    "GoogleCloudMlV1__Scheduling": {
      "properties": {
        "priority": {
          "description": "Optional. Job scheduling will be based on this priority, which in the range [0, 1000]. The bigger the number, the higher the priority. Default to 0 if not set. If there are multiple jobs requesting same type of accelerators, the high priority job will be scheduled prior to ones with low priority.",
          "type": "integer",
          "format": "int32"
        },
        "maxRunningTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The maximum job running time, expressed in seconds. The field can contain up to nine fractional digits, terminated by `s`. If not specified, this field defaults to `604800s` (seven days). If the training job is still running after this duration, AI Platform Training cancels it. The duration is measured from when the job enters the `RUNNING` state; therefore it does not overlap with the duration limited by Scheduling.max_wait_time. For example, if you want to ensure your job runs for no more than 2 hours, set this field to `7200s` (2 hours * 60 minutes / hour * 60 seconds / minute). If you submit your training job using the `gcloud` tool, you can [specify this field in a `config.yaml` file](/ai-platform/training/docs/training-jobs#formatting_your_configuration_parameters). For example: ```yaml trainingInput: scheduling: maxRunningTime: 7200s ```"
        },
        "maxWaitTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The maximum job wait time, expressed in seconds. The field can contain up to nine fractional digits, terminated by `s`. If not specified, there is no limit to the wait time. The minimum for this field is `1800s` (30 minutes). If the training job has not entered the `RUNNING` state after this duration, AI Platform Training cancels it. After the job begins running, it can no longer be cancelled due to the maximum wait time. Therefore the duration limited by this field does not overlap with the duration limited by Scheduling.max_running_time. For example, if the job temporarily stops running and retries due to a [VM restart](/ai-platform/training/docs/overview#restarts), this cannot lead to a maximum wait time cancellation. However, independently of this constraint, AI Platform Training might stop a job if there are too many retries due to exhausted resources in a region. The following example describes how you might use this field: To cancel your job if it doesn't start running within 1 hour, set this field to `3600s` (1 hour * 60 minutes / hour * 60 seconds / minute). If the job is still in the `QUEUED` or `PREPARING` state after an hour of waiting, AI Platform Training cancels the job. If you submit your training job using the `gcloud` tool, you can [specify this field in a `config.yaml` file](/ai-platform/training/docs/training-jobs#formatting_your_configuration_parameters). For example: ```yaml trainingInput: scheduling: maxWaitTime: 3600s ```"
        }
      },
      "id": "GoogleCloudMlV1__Scheduling",
      "type": "object",
      "description": "All parameters related to scheduling of training jobs."
    },
    "GoogleCloudMlV1__CancelJobRequest": {
      "id": "GoogleCloudMlV1__CancelJobRequest",
      "description": "Request message for the CancelJob method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudMlV1_Trial_Parameter": {
      "description": "A message representing a parameter to be tuned. Contains the name of the parameter and the suggested value to use for this trial.",
      "type": "object",
      "properties": {
        "floatValue": {
          "description": "Must be set if ParameterType is DOUBLE or DISCRETE.",
          "format": "double",
          "type": "number"
        },
        "parameter": {
          "type": "string",
          "description": "The name of the parameter."
        },
        "stringValue": {
          "type": "string",
          "description": "Must be set if ParameterTypeis CATEGORICAL"
        },
        "intValue": {
          "type": "string",
          "description": "Must be set if ParameterType is INTEGER",
          "format": "int64"
        }
      },
      "id": "GoogleCloudMlV1_Trial_Parameter"
    },
    "GoogleCloudMlV1__AutomatedStoppingConfig": {
      "description": "Configuration for Automated Early Stopping of Trials. If no implementation_config is set, automated early stopping will not be run.",
      "type": "object",
      "properties": {
        "decayCurveStoppingConfig": {
          "$ref": "GoogleCloudMlV1_AutomatedStoppingConfig_DecayCurveAutomatedStoppingConfig"
        },
        "medianAutomatedStoppingConfig": {
          "$ref": "GoogleCloudMlV1_AutomatedStoppingConfig_MedianAutomatedStoppingConfig"
        }
      },
      "id": "GoogleCloudMlV1__AutomatedStoppingConfig"
    },
    "GoogleCloudMlV1_Measurement_Metric": {
      "properties": {
        "metric": {
          "description": "Required. Metric name.",
          "type": "string"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "Required. The value for this metric."
        }
      },
      "id": "GoogleCloudMlV1_Measurement_Metric",
      "type": "object",
      "description": "A message representing a metric in the measurement."
    },
    "GoogleCloudMlV1__PredictRequest": {
      "type": "object",
      "id": "GoogleCloudMlV1__PredictRequest",
      "properties": {
        "httpBody": {
          "description": " Required. The prediction request body. Refer to the [request body details section](#request-body-details) for more information on how to structure your request.",
          "$ref": "GoogleApi__HttpBody"
        }
      },
      "description": "Request for predictions to be issued against a trained model."
    },
    "GoogleCloudMlV1__IntegratedGradientsAttribution": {
      "type": "object",
      "id": "GoogleCloudMlV1__IntegratedGradientsAttribution",
      "properties": {
        "numIntegralSteps": {
          "format": "int32",
          "description": "Number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range.",
          "type": "integer"
        }
      },
      "description": "Attributes credit by computing the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365"
    },
    "GoogleCloudMlV1__CheckTrialEarlyStoppingStateResponse": {
      "type": "object",
      "description": "The message will be placed in the response field of a completed google.longrunning.Operation associated with a CheckTrialEarlyStoppingState request.",
      "properties": {
        "shouldStop": {
          "type": "boolean",
          "description": "True if the Trial should stop."
        },
        "startTime": {
          "type": "string",
          "description": "The time at which the operation was started.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time at which operation processing completed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudMlV1__CheckTrialEarlyStoppingStateResponse"
    },
    "GoogleCloudMlV1__ListModelsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Optional. Pass this token as the `page_token` field of the request for a subsequent call.",
          "type": "string"
        },
        "models": {
          "description": "The list of models.",
          "items": {
            "$ref": "GoogleCloudMlV1__Model"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudMlV1__ListModelsResponse",
      "description": "Response message for the ListModels method."
    },
    "GoogleCloudMlV1__Job": {
      "id": "GoogleCloudMlV1__Job",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the job was created."
        },
        "trainingOutput": {
          "description": "The current training job result.",
          "$ref": "GoogleCloudMlV1__TrainingOutput"
        },
        "endTime": {
          "description": "Output only. When the job processing was completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. When the job processing was started.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed. `error_message` should contain the details of the failure.",
            "The job is being cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has been cancelled. `error_message` should describe the reason for the cancellation."
          ],
          "description": "Output only. The detailed state of a job.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PREPARING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ]
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a job from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform job updates in order to avoid race conditions: An `etag` is returned in the response to `GetJob`, and systems are expected to put that etag in the request to `UpdateJob` to ensure that their change will be applied to the same version of the job.",
          "format": "byte"
        },
        "predictionInput": {
          "description": "Input parameters to create a prediction job.",
          "$ref": "GoogleCloudMlV1__PredictionInput"
        },
        "jobId": {
          "description": "Required. The user-specified id of the job.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Output only. The details of a failure or a cancellation.",
          "type": "string"
        },
        "jobPosition": {
          "description": "Output only. It's only effect when the job is in QUEUED state. If it's positive, it indicates the job's position in the job scheduler. It's 0 when the job is already scheduled.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "trainingInput": {
          "description": "Input parameters to create a training job.",
          "$ref": "GoogleCloudMlV1__TrainingInput"
        },
        "predictionOutput": {
          "$ref": "GoogleCloudMlV1__PredictionOutput",
          "description": "The current prediction job result."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. One or more labels that you can add, to organize your jobs. Each label is a key-value pair, where both the key and the value are arbitrary strings that you supply. For more information, see the documentation on using labels."
        }
      },
      "description": "Represents a training or prediction job.",
      "type": "object"
    },
    "GoogleCloudMlV1_AutomatedStoppingConfig_MedianAutomatedStoppingConfig": {
      "id": "GoogleCloudMlV1_AutomatedStoppingConfig_MedianAutomatedStoppingConfig",
      "properties": {
        "useElapsedTime": {
          "type": "boolean",
          "description": "If true, the median automated stopping rule applies to measurement.use_elapsed_time, which means the elapsed_time field of the current trial's latest measurement is used to compute the median objective value for each completed trial."
        }
      },
      "description": "The median automated stopping rule stops a pending trial if the trial's best objective_value is strictly below the median 'performance' of all completed trials reported up to the trial's last measurement. Currently, 'performance' refers to the running average of the objective values reported by the trial in each measurement.",
      "type": "object"
    },
    "GoogleCloudMlV1__AutoScaling": {
      "type": "object",
      "properties": {
        "metrics": {
          "description": "MetricSpec contains the specifications to use to calculate the desired nodes count.",
          "items": {
            "$ref": "GoogleCloudMlV1__MetricSpec"
          },
          "type": "array"
        },
        "minNodes": {
          "description": "Optional. The minimum number of nodes to allocate for this model. These nodes are always up, starting from the time the model is deployed. Therefore, the cost of operating this model will be at least `rate` * `min_nodes` * number of hours since last billing cycle, where `rate` is the cost per node-hour as documented in the [pricing guide](/ml-engine/docs/pricing), even if no predictions are performed. There is additional cost for each prediction performed. Unlike manual scaling, if the load gets too heavy for the nodes that are up, the service will automatically add nodes to handle the increased load as well as scale back as traffic drops, always maintaining at least `min_nodes`. You will be charged for the time in which additional nodes are used. If `min_nodes` is not specified and AutoScaling is used with a [legacy (MLS1) machine type](/ml-engine/docs/machine-types-online-prediction), `min_nodes` defaults to 0, in which case, when traffic to a model stops (and after a cool-down period), nodes will be shut down and no charges will be incurred until traffic to the model resumes. If `min_nodes` is not specified and AutoScaling is used with a [Compute Engine (N1) machine type](/ml-engine/docs/machine-types-online-prediction), `min_nodes` defaults to 1. `min_nodes` must be at least 1 for use with a Compute Engine machine type. You can set `min_nodes` when creating the model version, and you can also update `min_nodes` for an existing version: update_body.json: { 'autoScaling': { 'minNodes': 5 } } HTTP request: PATCH https://ml.googleapis.com/v1/{name=projects/*/models/*/versions/*}?update_mask=autoScaling.minNodes -d @./update_body.json ",
          "type": "integer",
          "format": "int32"
        },
        "maxNodes": {
          "description": "The maximum number of nodes to scale this model under load. The actual value will depend on resource quota and availability.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Options for automatically scaling a model.",
      "id": "GoogleCloudMlV1__AutoScaling"
    },
    "GoogleCloudMlV1__Location": {
      "type": "object",
      "properties": {
        "capabilities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__Capability"
          },
          "description": "Capabilities available in the location."
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudMlV1__Location"
    },
    "GoogleCloudMlV1__ListOptimalTrialsRequest": {
      "properties": {},
      "description": "The request message for the ListTrials service method.",
      "type": "object",
      "id": "GoogleCloudMlV1__ListOptimalTrialsRequest"
    },
    "GoogleCloudMlV1__EnvVar": {
      "description": "Represents an environment variable to be made available in a container. This message is a subset of the [Kubernetes EnvVar v1 core specification](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#envvar-v1-core).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the environment variable. Must be a [valid C identifier](https://github.com/kubernetes/kubernetes/blob/v1.18.8/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L258) and must not begin with the prefix `AIP_`."
        },
        "value": {
          "type": "string",
          "description": "Value of the environment variable. Defaults to an empty string. In this field, you can reference [environment variables set by AI Platform Prediction](/ai-platform/prediction/docs/custom-container-requirements#aip-variables) and environment variables set earlier in the same env field as where this message occurs. You cannot reference environment variables set in the Docker image. In order for environment variables to be expanded, reference them by using the following syntax: $(VARIABLE_NAME) Note that this differs from Bash variable expansion, which does not use parentheses. If a variable cannot be resolved, the reference in the input string is used unchanged. To avoid variable expansion, you can escape this syntax with `$$`; for example: $$(VARIABLE_NAME)"
        }
      },
      "id": "GoogleCloudMlV1__EnvVar",
      "type": "object"
    },
    "GoogleCloudMlV1_AutomatedStoppingConfig_DecayCurveAutomatedStoppingConfig": {
      "id": "GoogleCloudMlV1_AutomatedStoppingConfig_DecayCurveAutomatedStoppingConfig",
      "properties": {
        "useElapsedTime": {
          "type": "boolean",
          "description": "If true, measurement.elapsed_time is used as the x-axis of each Trials Decay Curve. Otherwise, Measurement.steps will be used as the x-axis."
        }
      },
      "type": "object"
    },
    "GoogleCloudMlV1__HyperparameterOutput": {
      "description": "Represents the result of a single hyperparameter tuning trial from a training job. The TrainingOutput object that is returned on successful completion of a training job with hyperparameter tuning includes a list of HyperparameterOutput objects, one for each successful trial.",
      "type": "object",
      "id": "GoogleCloudMlV1__HyperparameterOutput",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Output only. Start time for the trial.",
          "format": "google-datetime"
        },
        "webAccessUris": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "URIs for accessing [interactive shells](https://cloud.google.com/ai-platform/training/docs/monitor-debug-interactive-shell) (one URI for each training node). Only available if this trial is part of a hyperparameter tuning job and the job's training_input.enable_web_access is `true`. The keys are names of each node in the training job; for example, `master-replica-0` for the master node, `worker-replica-0` for the first worker, and `ps-replica-0` for the first parameter server. The values are the URIs for each node's interactive shell.",
          "type": "object"
        },
        "trialId": {
          "type": "string",
          "description": "The trial id for these results."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. End time for the trial.",
          "type": "string"
        },
        "isTrialStoppedEarly": {
          "description": "True if the trial is stopped early.",
          "type": "boolean"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PREPARING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed. `error_message` should contain the details of the failure.",
            "The job is being cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has been cancelled. `error_message` should describe the reason for the cancellation."
          ],
          "description": "Output only. The detailed state of the trial.",
          "type": "string"
        },
        "finalMetric": {
          "$ref": "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric",
          "description": "The final objective metric seen for this trial."
        },
        "allMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric"
          },
          "description": "All recorded object metrics for this trial. This field is not currently populated."
        },
        "hyperparameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The hyperparameters given to this trial."
        },
        "builtInAlgorithmOutput": {
          "description": "Details related to built-in algorithms jobs. Only set for trials of built-in algorithms jobs that have succeeded.",
          "$ref": "GoogleCloudMlV1__BuiltInAlgorithmOutput"
        }
      }
    },
    "GoogleIamV1__Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "condition": {
          "$ref": "GoogleType__Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array"
        }
      },
      "id": "GoogleIamV1__Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleCloudMlV1__Capability": {
      "type": "object",
      "id": "GoogleCloudMlV1__Capability",
      "properties": {
        "availableAccelerators": {
          "description": "Available accelerators for the capability.",
          "items": {
            "enum": [
              "ACCELERATOR_TYPE_UNSPECIFIED",
              "NVIDIA_TESLA_K80",
              "NVIDIA_TESLA_P100",
              "NVIDIA_TESLA_V100",
              "NVIDIA_TESLA_P4",
              "NVIDIA_TESLA_T4",
              "NVIDIA_TESLA_A100",
              "TPU_V2",
              "TPU_V3",
              "TPU_V2_POD",
              "TPU_V3_POD"
            ],
            "enumDescriptions": [
              "Unspecified accelerator type. Default to no GPU.",
              "Nvidia Tesla K80 GPU.",
              "Nvidia Tesla P100 GPU.",
              "Nvidia V100 GPU.",
              "Nvidia Tesla P4 GPU.",
              "Nvidia T4 GPU.",
              "Nvidia A100 GPU.",
              "TPU v2.",
              "TPU v3.",
              "TPU v2 POD.",
              "TPU v3 POD."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRAINING",
            "BATCH_PREDICTION",
            "ONLINE_PREDICTION"
          ]
        }
      }
    },
    "GoogleIamV1__SetIamPolicyRequest": {
      "id": "GoogleIamV1__SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1__Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "GoogleCloudMlV1__BuiltInAlgorithmOutput": {
      "description": "Represents output related to a built-in algorithm Job.",
      "properties": {
        "runtimeVersion": {
          "description": "AI Platform runtime version on which the built-in algorithm was trained.",
          "type": "string"
        },
        "pythonVersion": {
          "type": "string",
          "description": "Python version on which the built-in algorithm was trained."
        },
        "modelPath": {
          "description": "The Cloud Storage path to the `model/` directory where the training job saves the trained model. Only set for successful jobs that don't use hyperparameter tuning.",
          "type": "string"
        },
        "framework": {
          "type": "string",
          "description": "Framework on which the built-in algorithm was trained."
        }
      },
      "id": "GoogleCloudMlV1__BuiltInAlgorithmOutput",
      "type": "object"
    },
    "GoogleCloudMlV1__CompleteTrialRequest": {
      "type": "object",
      "id": "GoogleCloudMlV1__CompleteTrialRequest",
      "properties": {
        "finalMeasurement": {
          "description": "Optional. If provided, it will be used as the completed trial's final_measurement; Otherwise, the service will auto-select a previously reported measurement as the final-measurement",
          "$ref": "GoogleCloudMlV1__Measurement"
        },
        "infeasibleReason": {
          "description": "Optional. A human readable reason why the trial was infeasible. This should only be provided if `trial_infeasible` is true.",
          "type": "string"
        },
        "trialInfeasible": {
          "type": "boolean",
          "description": "Optional. True if the trial cannot be run with the given Parameter, and final_measurement will be ignored."
        }
      },
      "description": "The request message for the CompleteTrial service method."
    },
    "GoogleIamV1__Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1__Binding"
          }
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1__AuditConfig"
          },
          "type": "array"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "id": "GoogleIamV1__Policy"
    },
    "GoogleProtobuf__Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobuf__Empty",
      "type": "object"
    },
    "GoogleCloudMlV1__HyperparameterSpec": {
      "id": "GoogleCloudMlV1__HyperparameterSpec",
      "type": "object",
      "properties": {
        "params": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__ParameterSpec"
          },
          "description": "Required. The set of parameters to tune."
        },
        "maxFailedTrials": {
          "description": "Optional. The number of failed trials that need to be seen before failing the hyperparameter tuning job. You can specify this field to override the default failing criteria for AI Platform hyperparameter tuning jobs. Defaults to zero, which means the service decides when a hyperparameter job should fail.",
          "format": "int32",
          "type": "integer"
        },
        "maxTrials": {
          "format": "int32",
          "description": "Optional. How many training trials should be attempted to optimize the specified hyperparameters. Defaults to one.",
          "type": "integer"
        },
        "maxParallelTrials": {
          "description": "Optional. The number of training trials to run concurrently. You can reduce the time it takes to perform hyperparameter tuning by adding trials in parallel. However, each trail only benefits from the information gained in completed trials. That means that a trial does not get access to the results of trials running at the same time, which could reduce the quality of the overall optimization. Each trial will use the same scale tier and machine types. Defaults to one.",
          "format": "int32",
          "type": "integer"
        },
        "hyperparameterMetricTag": {
          "type": "string",
          "description": "Optional. The TensorFlow summary tag name to use for optimizing trials. For current versions of TensorFlow, this tag name should exactly match what is shown in TensorBoard, including all scopes. For versions of TensorFlow prior to 0.12, this should be only the tag passed to tf.Summary. By default, \"training/hptuning/metric\" will be used."
        },
        "goal": {
          "description": "Required. The type of goal to use for tuning. Available types are `MAXIMIZE` and `MINIMIZE`. Defaults to `MAXIMIZE`.",
          "enum": [
            "GOAL_TYPE_UNSPECIFIED",
            "MAXIMIZE",
            "MINIMIZE"
          ],
          "enumDescriptions": [
            "Goal Type will default to maximize.",
            "Maximize the goal metric.",
            "Minimize the goal metric."
          ],
          "type": "string"
        },
        "resumePreviousJobId": {
          "description": "Optional. The prior hyperparameter tuning job id that users hope to continue with. The job id will be used to find the corresponding vizier study guid and resume the study.",
          "type": "string"
        },
        "algorithm": {
          "enum": [
            "ALGORITHM_UNSPECIFIED",
            "GRID_SEARCH",
            "RANDOM_SEARCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default algorithm used by the hyperparameter tuning service. This is a Bayesian optimization algorithm.",
            "Simple grid search within the feasible space. To use grid search, all parameters must be `INTEGER`, `CATEGORICAL`, or `DISCRETE`.",
            "Simple random search within the feasible space."
          ],
          "description": "Optional. The search algorithm specified for the hyperparameter tuning job. Uses the default AI Platform hyperparameter tuning algorithm if unspecified."
        },
        "enableTrialEarlyStopping": {
          "description": "Optional. Indicates if the hyperparameter tuning job enables auto trial early stopping.",
          "type": "boolean"
        }
      },
      "description": "Represents a set of hyperparameters to optimize."
    },
    "GoogleCloudMlV1__ListStudiesResponse": {
      "properties": {
        "studies": {
          "type": "array",
          "description": "The studies associated with the project.",
          "items": {
            "$ref": "GoogleCloudMlV1__Study"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudMlV1__ListStudiesResponse"
    },
    "GoogleCloudMlV1__ContainerSpec": {
      "id": "GoogleCloudMlV1__ContainerSpec",
      "properties": {
        "ports": {
          "description": "Immutable. List of ports to expose from the container. AI Platform Prediction sends any prediction requests that it receives to the first port on this list. AI Platform Prediction also sends [liveness and health checks](/ai-platform/prediction/docs/custom-container-requirements#health) to this port. If you do not specify this field, it defaults to following value: ```json [ { \"containerPort\": 8080 } ] ``` AI Platform Prediction does not use ports other than the first one listed. This field corresponds to the `ports` field of the [Kubernetes Containers v1 core API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core).",
          "items": {
            "$ref": "GoogleCloudMlV1__ContainerPort"
          },
          "type": "array"
        },
        "args": {
          "description": "Immutable. Specifies arguments for the command that runs when the container starts. This overrides the container's [`CMD`](https://docs.docker.com/engine/reference/builder/#cmd). Specify this field as an array of executable and arguments, similar to a Docker `CMD`'s \"default parameters\" form. If you don't specify this field but do specify the command field, then the command from the `command` field runs without any additional arguments. See the [Kubernetes documentation about how the `command` and `args` fields interact with a container's `ENTRYPOINT` and `CMD`](https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#notes). If you don't specify this field and don't specify the `commmand` field, then the container's [`ENTRYPOINT`](https://docs.docker.com/engine/reference/builder/#cmd) and `CMD` determine what runs based on their default behavior. See the [Docker documentation about how `CMD` and `ENTRYPOINT` interact](https://docs.docker.com/engine/reference/builder/#understand-how-cmd-and-entrypoint-interact). In this field, you can reference [environment variables set by AI Platform Prediction](/ai-platform/prediction/docs/custom-container-requirements#aip-variables) and environment variables set in the env field. You cannot reference environment variables set in the Docker image. In order for environment variables to be expanded, reference them by using the following syntax: $( VARIABLE_NAME) Note that this differs from Bash variable expansion, which does not use parentheses. If a variable cannot be resolved, the reference in the input string is used unchanged. To avoid variable expansion, you can escape this syntax with `$$`; for example: $$(VARIABLE_NAME) This field corresponds to the `args` field of the [Kubernetes Containers v1 core API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "image": {
          "type": "string",
          "description": "URI of the Docker image to be used as the custom container for serving predictions. This URI must identify [an image in Artifact Registry](/artifact-registry/docs/overview) and begin with the hostname `{REGION}-docker.pkg.dev`, where `{REGION}` is replaced by the region that matches AI Platform Prediction [regional endpoint](/ai-platform/prediction/docs/regional-endpoints) that you are using. For example, if you are using the `us-central1-ml.googleapis.com` endpoint, then this URI must begin with `us-central1-docker.pkg.dev`. To use a custom container, the [AI Platform Google-managed service account](/ai-platform/prediction/docs/custom-service-account#default) must have permission to pull (read) the Docker image at this URI. The AI Platform Google-managed service account has the following format: `service-{PROJECT_NUMBER}@cloud-ml.google.com.iam.gserviceaccount.com` {PROJECT_NUMBER} is replaced by your Google Cloud project number. By default, this service account has necessary permissions to pull an Artifact Registry image in the same Google Cloud project where you are using AI Platform Prediction. In this case, no configuration is necessary. If you want to use an image from a different Google Cloud project, learn how to [grant the Artifact Registry Reader (roles/artifactregistry.reader) role for a repository](/artifact-registry/docs/access-control#grant-repo) to your projet's AI Platform Google-managed service account. To learn about the requirements for the Docker image itself, read [Custom container requirements](/ai-platform/prediction/docs/custom-container-requirements)."
        },
        "env": {
          "description": "Immutable. List of environment variables to set in the container. After the container starts running, code running in the container can read these environment variables. Additionally, the command and args fields can reference these variables. Later entries in this list can also reference earlier entries. For example, the following example sets the variable `VAR_2` to have the value `foo bar`: ```json [ { \"name\": \"VAR_1\", \"value\": \"foo\" }, { \"name\": \"VAR_2\", \"value\": \"$(VAR_1) bar\" } ] ``` If you switch the order of the variables in the example, then the expansion does not occur. This field corresponds to the `env` field of the [Kubernetes Containers v1 core API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core).",
          "items": {
            "$ref": "GoogleCloudMlV1__EnvVar"
          },
          "type": "array"
        },
        "command": {
          "type": "array",
          "description": "Immutable. Specifies the command that runs when the container starts. This overrides the container's [`ENTRYPOINT`](https://docs.docker.com/engine/reference/builder/#entrypoint). Specify this field as an array of executable and arguments, similar to a Docker `ENTRYPOINT`'s \"exec\" form, not its \"shell\" form. If you do not specify this field, then the container's `ENTRYPOINT` runs, in conjunction with the args field or the container's [`CMD`](https://docs.docker.com/engine/reference/builder/#cmd), if either exists. If this field is not specified and the container does not have an `ENTRYPOINT`, then refer to the [Docker documentation about how `CMD` and `ENTRYPOINT` interact](https://docs.docker.com/engine/reference/builder/#understand-how-cmd-and-entrypoint-interact). If you specify this field, then you can also specify the `args` field to provide additional arguments for this command. However, if you specify this field, then the container's `CMD` is ignored. See the [Kubernetes documentation about how the `command` and `args` fields interact with a container's `ENTRYPOINT` and `CMD`](https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#notes). In this field, you can reference [environment variables set by AI Platform Prediction](/ai-platform/prediction/docs/custom-container-requirements#aip-variables) and environment variables set in the env field. You cannot reference environment variables set in the Docker image. In order for environment variables to be expanded, reference them by using the following syntax: $( VARIABLE_NAME) Note that this differs from Bash variable expansion, which does not use parentheses. If a variable cannot be resolved, the reference in the input string is used unchanged. To avoid variable expansion, you can escape this syntax with `$$`; for example: $$(VARIABLE_NAME) This field corresponds to the `command` field of the [Kubernetes Containers v1 core API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core).",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Specification of a custom container for serving predictions. This message is a subset of the [Kubernetes Container v1 core specification](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core)."
    },
    "GoogleCloudMlV1__Version": {
      "properties": {
        "requestLoggingConfig": {
          "description": "Optional. *Only* specify this field in a projects.models.versions.patch request. Specifying it in a projects.models.versions.create request has no effect. Configures the request-response pair logging on predictions from this Version.",
          "$ref": "GoogleCloudMlV1__RequestLoggingConfig"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the version was created."
        },
        "runtimeVersion": {
          "description": "Required. The AI Platform runtime version to use for this deployment. For more information, see the [runtime version list](/ml-engine/docs/runtime-version-list) and [how to manage runtime versions](/ml-engine/docs/versioning).",
          "type": "string"
        },
        "framework": {
          "enum": [
            "FRAMEWORK_UNSPECIFIED",
            "TENSORFLOW",
            "SCIKIT_LEARN",
            "XGBOOST"
          ],
          "enumDescriptions": [
            "Unspecified framework. Assigns a value based on the file suffix.",
            "Tensorflow framework.",
            "Scikit-learn framework.",
            "XGBoost framework."
          ],
          "type": "string",
          "description": "Optional. The machine learning framework AI Platform uses to train this version of the model. Valid values are `TENSORFLOW`, `SCIKIT_LEARN`, `XGBOOST`. If you do not specify a framework, AI Platform will analyze files in the deployment_uri to determine a framework. If you choose `SCIKIT_LEARN` or `XGBOOST`, you must also set the runtime version of the model to 1.4 or greater. Do **not** specify a framework if you're deploying a [custom prediction routine](/ai-platform/prediction/docs/custom-prediction-routines) or if you're using a [custom container](/ai-platform/prediction/docs/use-custom-container)."
        },
        "autoScaling": {
          "description": "Automatically scale the number of nodes used to serve the model in response to increases and decreases in traffic. Care should be taken to ramp up traffic according to the model's ability to scale or you will start seeing increases in latency and 429 response codes.",
          "$ref": "GoogleCloudMlV1__AutoScaling"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. The type of machine on which to serve the model. Currently only applies to online prediction service. To learn about valid values for this field, read [Choosing a machine type for online prediction](/ai-platform/prediction/docs/machine-types-online-prediction). If this field is not specified and you are using a [regional endpoint](/ai-platform/prediction/docs/regional-endpoints), then the machine type defaults to `n1-standard-2`. If this field is not specified and you are using the global endpoint (`ml.googleapis.com`), then the machine type defaults to `mls1-c1-m2`."
        },
        "acceleratorConfig": {
          "$ref": "GoogleCloudMlV1__AcceleratorConfig",
          "description": "Optional. Accelerator config for using GPUs for online prediction (beta). Only specify this field if you have specified a Compute Engine (N1) machine type in the `machineType` field. Learn more about [using GPUs for online prediction](/ml-engine/docs/machine-types-online-prediction#gpus)."
        },
        "container": {
          "description": "Optional. Specifies a custom container to use for serving predictions. If you specify this field, then `machineType` is required. If you specify this field, then `deploymentUri` is optional. If you specify this field, then you must not specify `runtimeVersion`, `packageUris`, `framework`, `pythonVersion`, or `predictionClass`.",
          "$ref": "GoogleCloudMlV1__ContainerSpec"
        },
        "predictionClass": {
          "description": "Optional. The fully qualified name (module_name.class_name) of a class that implements the Predictor interface described in this reference field. The module containing this class should be included in a package provided to the [`packageUris` field](#Version.FIELDS.package_uris). Specify this field if and only if you are deploying a [custom prediction routine (beta)](/ml-engine/docs/tensorflow/custom-prediction-routines). If you specify this field, you must set [`runtimeVersion`](#Version.FIELDS.runtime_version) to 1.4 or greater and you must set `machineType` to a [legacy (MLS1) machine type](/ml-engine/docs/machine-types-online-prediction). The following code sample provides the Predictor interface: class Predictor(object): \"\"\"Interface for constructing custom predictors.\"\"\" def predict(self, instances, **kwargs): \"\"\"Performs custom prediction. Instances are the decoded values from the request. They have already been deserialized from JSON. Args: instances: A list of prediction input instances. **kwargs: A dictionary of keyword args provided as additional fields on the predict request body. Returns: A list of outputs containing the prediction results. This list must be JSON serializable. \"\"\" raise NotImplementedError() @classmethod def from_path(cls, model_dir): \"\"\"Creates an instance of Predictor using the given path. Loading of the predictor should be done in this method. Args: model_dir: The local directory that contains the exported model file along with any additional files uploaded when creating the version resource. Returns: An instance implementing this Predictor class. \"\"\" raise NotImplementedError() Learn more about [the Predictor interface and custom prediction routines](/ml-engine/docs/tensorflow/custom-prediction-routines).",
          "type": "string"
        },
        "packageUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Cloud Storage paths (`gs://…`) of packages for [custom prediction routines](/ml-engine/docs/tensorflow/custom-prediction-routines) or [scikit-learn pipelines with custom code](/ml-engine/docs/scikit/exporting-for-prediction#custom-pipeline-code). For a custom prediction routine, one of these packages must contain your Predictor class (see [`predictionClass`](#Version.FIELDS.prediction_class)). Additionally, include any dependencies used by your Predictor or scikit-learn pipeline uses that are not already included in your selected [runtime version](/ml-engine/docs/tensorflow/runtime-version-list). If you specify this field, you must also set [`runtimeVersion`](#Version.FIELDS.runtime_version) to 1.4 or greater."
        },
        "serviceAccount": {
          "description": "Optional. Specifies the service account for resource access control. If you specify this field, then you must also specify either the `containerSpec` or the `predictionClass` field. Learn more about [using a custom service account](/ai-platform/prediction/docs/custom-service-account).",
          "type": "string"
        },
        "deploymentUri": {
          "description": "The Cloud Storage URI of a directory containing trained model artifacts to be used to create the model version. See the [guide to deploying models](/ai-platform/prediction/docs/deploying-models) for more information. The total number of files under this directory must not exceed 1000. During projects.models.versions.create, AI Platform Prediction copies all files from the specified directory to a location managed by the service. From then on, AI Platform Prediction uses these copies of the model artifacts to serve predictions, not the original files in Cloud Storage, so this location is useful only as a historical record. If you specify container, then this field is optional. Otherwise, it is required. Learn [how to use this field with a custom container](/ai-platform/prediction/docs/custom-container-requirements#artifacts).",
          "type": "string"
        },
        "manualScaling": {
          "description": "Manually select the number of nodes to use for serving the model. You should generally use `auto_scaling` with an appropriate `min_nodes` instead, but this option is available if you want more predictable billing. Beware that latency and error rates will increase if the traffic exceeds that capability of the system to serve it based on the selected number of nodes.",
          "$ref": "GoogleCloudMlV1__ManualScaling"
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. The details of a failure or a cancellation."
        },
        "name": {
          "type": "string",
          "description": "Required. The name specified for the version when it was created. The version name must be unique within the model it is created in."
        },
        "isDefault": {
          "description": "Output only. If true, this version will be used to handle prediction requests that do not specify a version. You can change the default version by calling projects.methods.versions.setDefault.",
          "type": "boolean"
        },
        "pythonVersion": {
          "type": "string",
          "description": "Required. The version of Python used in prediction. The following Python versions are available: * Python '3.7' is available when `runtime_version` is set to '1.15' or later. * Python '3.5' is available when `runtime_version` is set to a version from '1.4' to '1.14'. * Python '2.7' is available when `runtime_version` is set to '1.15' or earlier. Read more about the Python versions available for [each runtime version](/ml-engine/docs/runtime-version-list)."
        },
        "lastUseTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the version was last used for prediction."
        },
        "routes": {
          "$ref": "GoogleCloudMlV1__RouteMap",
          "description": "Optional. Specifies paths on a custom container's HTTP server where AI Platform Prediction sends certain requests. If you specify this field, then you must also specify the `container` field. If you specify the `container` field and do not specify this field, it defaults to the following: ```json { \"predict\": \"/v1/models/MODEL/versions/VERSION:predict\", \"health\": \"/v1/models/MODEL/versions/VERSION\" } ``` See RouteMap for more details about these default values."
        },
        "state": {
          "enumDescriptions": [
            "The version state is unspecified.",
            "The version is ready for prediction.",
            "The version is being created. New UpdateVersion and DeleteVersion requests will fail if a version is in the CREATING state.",
            "The version failed to be created, possibly cancelled. `error_message` should contain the details of the failure.",
            "The version is being deleted. New UpdateVersion and DeleteVersion requests will fail if a version is in the DELETING state.",
            "The version is being updated. New UpdateVersion and DeleteVersion requests will fail if a version is in the UPDATING state."
          ],
          "description": "Output only. The state of a version.",
          "enum": [
            "UNKNOWN",
            "READY",
            "CREATING",
            "FAILED",
            "DELETING",
            "UPDATING"
          ],
          "type": "string"
        },
        "explanationConfig": {
          "$ref": "GoogleCloudMlV1__ExplanationConfig",
          "description": "Optional. Configures explainability features on the model's version. Some explanation features require additional metadata to be loaded as part of the model payload."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a model from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform model updates in order to avoid race conditions: An `etag` is returned in the response to `GetVersion`, and systems are expected to put that etag in the request to `UpdateVersion` to ensure that their change will be applied to the model as intended.",
          "type": "string",
          "format": "byte"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. One or more labels that you can add, to organize your model versions. Each label is a key-value pair, where both the key and the value are arbitrary strings that you supply. For more information, see the documentation on using labels."
        },
        "description": {
          "description": "Optional. The description specified for the version when it was created.",
          "type": "string"
        },
        "lastMigrationModelId": {
          "description": "Output only. The [AI Platform (Unified) `Model`](https://cloud.google.com/ai-platform-unified/docs/reference/rest/v1beta1/projects.locations.models) ID for the last [model migration](https://cloud.google.com/ai-platform-unified/docs/start/migrating-to-ai-platform-unified).",
          "type": "string",
          "readOnly": true
        },
        "lastMigrationTime": {
          "description": "Output only. The last time this version was successfully [migrated to AI Platform (Unified)](https://cloud.google.com/ai-platform-unified/docs/start/migrating-to-ai-platform-unified).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Represents a version of the model. Each version is a trained model deployed in the cloud, ready to handle prediction requests. A model can have multiple versions. You can get information about all of the versions of a given model by calling projects.models.versions.list.",
      "id": "GoogleCloudMlV1__Version",
      "type": "object"
    },
    "GoogleLongrunning__ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunning__Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunning__ListOperationsResponse"
    },
    "GoogleIamV1__AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "GoogleIamV1__AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "description": "The log type that this config enables."
        }
      }
    },
    "GoogleCloudMlV1__ListLocationsResponse": {
      "id": "GoogleCloudMlV1__ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "GoogleCloudMlV1__Location"
          },
          "type": "array",
          "description": "Locations where at least one type of CMLE capability is available."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. Pass this token as the `page_token` field of the request for a subsequent call."
        }
      },
      "type": "object"
    },
    "GoogleCloudMlV1__CheckTrialEarlyStoppingStateRequest": {
      "properties": {},
      "id": "GoogleCloudMlV1__CheckTrialEarlyStoppingStateRequest",
      "description": "The request message for the CheckTrialEarlyStoppingState service method.",
      "type": "object"
    },
    "GoogleCloudMlV1__ListTrialsResponse": {
      "properties": {
        "trials": {
          "description": "The trials associated with the study.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__Trial"
          }
        }
      },
      "type": "object",
      "description": "The response message for the ListTrials method.",
      "id": "GoogleCloudMlV1__ListTrialsResponse"
    },
    "GoogleCloudMlV1__AcceleratorConfig": {
      "description": "Represents a hardware accelerator request config. Note that the AcceleratorConfig can be used in both Jobs and Versions. Learn more about [accelerators for training](/ml-engine/docs/using-gpus) and [accelerators for online prediction](/ml-engine/docs/machine-types-online-prediction#gpus).",
      "id": "GoogleCloudMlV1__AcceleratorConfig",
      "properties": {
        "type": {
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "TPU_V2",
            "TPU_V3",
            "TPU_V2_POD",
            "TPU_V3_POD"
          ],
          "enumDescriptions": [
            "Unspecified accelerator type. Default to no GPU.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia T4 GPU.",
            "Nvidia A100 GPU.",
            "TPU v2.",
            "TPU v3.",
            "TPU v2 POD.",
            "TPU v3 POD."
          ],
          "type": "string",
          "description": "The type of accelerator to use."
        },
        "count": {
          "description": "The number of accelerators to attach to each machine running the job.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudMlV1__EncryptionConfig": {
      "id": "GoogleCloudMlV1__EncryptionConfig",
      "description": "Represents a custom encryption key configuration that can be applied to a resource.",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "The Cloud KMS resource identifier of the customer-managed encryption key used to protect a resource, such as a training job. It has the following format: `projects/{PROJECT_ID}/locations/{REGION}/keyRings/{KEY_RING_NAME}/cryptoKeys/{KEY_NAME}`"
        }
      },
      "type": "object"
    },
    "GoogleCloudMlV1__SuggestTrialsRequest": {
      "type": "object",
      "properties": {
        "suggestionCount": {
          "format": "int32",
          "description": "Required. The number of suggestions requested.",
          "type": "integer"
        },
        "clientId": {
          "description": "Required. The identifier of the client that is requesting the suggestion. If multiple SuggestTrialsRequests have the same `client_id`, the service will return the identical suggested trial if the trial is pending, and provide a new trial if the last suggested trial was completed.",
          "type": "string"
        }
      },
      "description": "The request message for the SuggestTrial service method.",
      "id": "GoogleCloudMlV1__SuggestTrialsRequest"
    },
    "GoogleCloudMlV1__ListJobsResponse": {
      "description": "Response message for the ListJobs method.",
      "type": "object",
      "properties": {
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__Job"
          },
          "description": "The list of jobs."
        },
        "nextPageToken": {
          "description": "Optional. Pass this token as the `page_token` field of the request for a subsequent call.",
          "type": "string"
        }
      },
      "id": "GoogleCloudMlV1__ListJobsResponse"
    },
    "GoogleCloudMlV1__PredictionOutput": {
      "id": "GoogleCloudMlV1__PredictionOutput",
      "properties": {
        "outputPath": {
          "description": "The output Google Cloud Storage location provided at the job creation time.",
          "type": "string"
        },
        "nodeHours": {
          "description": "Node hours used by the batch prediction job.",
          "type": "number",
          "format": "double"
        },
        "errorCount": {
          "format": "int64",
          "description": "The number of data instances which resulted in errors.",
          "type": "string"
        },
        "predictionCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of generated predictions."
        }
      },
      "description": "Represents results of a prediction job.",
      "type": "object"
    },
    "GoogleCloudMlV1__ReplicaConfig": {
      "description": "Represents the configuration for a replica in a cluster.",
      "type": "object",
      "id": "GoogleCloudMlV1__ReplicaConfig",
      "properties": {
        "diskConfig": {
          "description": "Represents the configuration of disk options.",
          "$ref": "GoogleCloudMlV1__DiskConfig"
        },
        "containerCommand": {
          "description": "The command with which the replica's custom container is run. If provided, it will override default ENTRYPOINT of the docker image. If not provided, the docker image's ENTRYPOINT is used. It cannot be set if custom container image is not provided. Note that this field and [TrainingInput.args] are mutually exclusive, i.e., both cannot be set at the same time.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "imageUri": {
          "description": "The Docker image to run on the replica. This image must be in Container Registry. Learn more about [configuring custom containers](/ai-platform/training/docs/distributed-training-containers).",
          "type": "string"
        },
        "containerArgs": {
          "description": "Arguments to the entrypoint command. The following rules apply for container_command and container_args: - If you do not supply command or args: The defaults defined in the Docker image are used. - If you supply a command but no args: The default EntryPoint and the default Cmd defined in the Docker image are ignored. Your command is run without any arguments. - If you supply only args: The default Entrypoint defined in the Docker image is run with the args that you supplied. - If you supply a command and args: The default Entrypoint and the default Cmd defined in the Docker image are ignored. Your command is run with your args. It cannot be set if custom container image is not provided. Note that this field and [TrainingInput.args] are mutually exclusive, i.e., both cannot be set at the same time.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tpuTfVersion": {
          "description": "The AI Platform runtime version that includes a TensorFlow version matching the one used in the custom container. This field is required if the replica is a TPU worker that uses a custom container. Otherwise, do not specify this field. This must be a [runtime version that currently supports training with TPUs](/ml-engine/docs/tensorflow/runtime-version-list#tpu-support). Note that the version of TensorFlow included in a runtime version may differ from the numbering of the runtime version itself, because it may have a different [patch version](https://www.tensorflow.org/guide/version_compat#semantic_versioning_20). In this field, you must specify the runtime version (TensorFlow minor version). For example, if your custom container runs TensorFlow `1.x.y`, specify `1.x`.",
          "type": "string"
        },
        "acceleratorConfig": {
          "description": "Represents the type and number of accelerators used by the replica. [Learn about restrictions on accelerator configurations for training.](/ai-platform/training/docs/using-gpus#compute-engine-machine-types-with-gpu)",
          "$ref": "GoogleCloudMlV1__AcceleratorConfig"
        }
      }
    },
    "GoogleCloudMlV1__Model": {
      "id": "GoogleCloudMlV1__Model",
      "type": "object",
      "properties": {
        "onlinePredictionLogging": {
          "type": "boolean",
          "description": "Optional. If true, online prediction access logs are sent to Cloud Logging. These logs are like standard server access logs, containing information like timestamp and latency for each request. Note that [logs may incur a cost](/stackdriver/pricing), especially if your project receives prediction requests at a high queries per second rate (QPS). Estimate your costs before enabling this option. Default is false."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. One or more labels that you can add, to organize your models. Each label is a key-value pair, where both the key and the value are arbitrary strings that you supply. For more information, see the documentation on using labels.",
          "type": "object"
        },
        "defaultVersion": {
          "$ref": "GoogleCloudMlV1__Version",
          "description": "Output only. The default version of the model. This version will be used to handle prediction requests that do not specify a version. You can change the default version by calling projects.models.versions.setDefault."
        },
        "onlinePredictionConsoleLogging": {
          "type": "boolean",
          "description": "Optional. If true, online prediction nodes send `stderr` and `stdout` streams to Cloud Logging. These can be more verbose than the standard access logs (see `onlinePredictionLogging`) and can incur higher cost. However, they are helpful for debugging. Note that [logs may incur a cost](/stackdriver/pricing), especially if your project receives prediction requests at a high QPS. Estimate your costs before enabling this option. Default is false."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description specified for the model when it was created."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a model from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform model updates in order to avoid race conditions: An `etag` is returned in the response to `GetModel`, and systems are expected to put that etag in the request to `UpdateModel` to ensure that their change will be applied to the model as intended.",
          "format": "byte",
          "type": "string"
        },
        "regions": {
          "type": "array",
          "description": "Optional. The list of regions where the model is going to be deployed. Only one region per model is supported. Defaults to 'us-central1' if nothing is set. See the available regions for AI Platform services. Note: * No matter where a model is deployed, it can always be accessed by users from anywhere, both for online and batch prediction. * The region for a batch prediction job is set by the region field when submitting the batch prediction job and does not take its value from this field.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. The name specified for the model when it was created. The model name must be unique within the project it is created in.",
          "type": "string"
        }
      },
      "description": "Represents a machine learning solution. A model can have multiple versions, each of which is a deployed, trained model ready to receive prediction requests. The model itself is just a container."
    },
    "GoogleCloudMlV1_StudyConfigParameterSpec_IntegerValueSpec": {
      "id": "GoogleCloudMlV1_StudyConfigParameterSpec_IntegerValueSpec",
      "type": "object",
      "properties": {
        "minValue": {
          "description": "Must be specified if type is `INTEGER`. Minimum value of the parameter.",
          "type": "string",
          "format": "int64"
        },
        "maxValue": {
          "description": "Must be specified if type is `INTEGER`. Maximum value of the parameter.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudMlV1__AddTrialMeasurementRequest": {
      "id": "GoogleCloudMlV1__AddTrialMeasurementRequest",
      "description": "The request message for the AddTrialMeasurement service method.",
      "type": "object",
      "properties": {
        "measurement": {
          "$ref": "GoogleCloudMlV1__Measurement",
          "description": "Required. The measurement to be added to a trial."
        }
      }
    },
    "GoogleCloudMlV1__CheckTrialEarlyStoppingStateMetatdata": {
      "type": "object",
      "id": "GoogleCloudMlV1__CheckTrialEarlyStoppingStateMetatdata",
      "description": "This message will be placed in the metadata field of a google.longrunning.Operation associated with a CheckTrialEarlyStoppingState request.",
      "properties": {
        "createTime": {
          "description": "The time at which the operation was submitted.",
          "format": "google-datetime",
          "type": "string"
        },
        "trial": {
          "description": "The trial name.",
          "type": "string"
        },
        "study": {
          "type": "string",
          "description": "The name of the study that the trial belongs to."
        }
      }
    },
    "GoogleCloudMlV1__ListVersionsResponse": {
      "id": "GoogleCloudMlV1__ListVersionsResponse",
      "type": "object",
      "description": "Response message for the ListVersions method.",
      "properties": {
        "versions": {
          "items": {
            "$ref": "GoogleCloudMlV1__Version"
          },
          "description": "The list of versions.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. Pass this token as the `page_token` field of the request for a subsequent call."
        }
      }
    },
    "GoogleCloudMlV1__XraiAttribution": {
      "type": "object",
      "description": "Attributes credit by computing the XRAI taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 Currently only implemented for models with natural image inputs.",
      "properties": {
        "numIntegralSteps": {
          "format": "int32",
          "description": "Number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudMlV1__XraiAttribution"
    },
    "GoogleCloudMlV1__SetDefaultVersionRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudMlV1__SetDefaultVersionRequest",
      "description": "Request message for the SetDefaultVersion request."
    },
    "GoogleCloudMlV1__ManualScaling": {
      "description": "Options for manually scaling a model.",
      "properties": {
        "nodes": {
          "type": "integer",
          "description": "The number of nodes to allocate for this model. These nodes are always up, starting from the time the model is deployed, so the cost of operating this model will be proportional to `nodes` * number of hours since last billing cycle plus the cost for each prediction performed.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudMlV1__ManualScaling",
      "type": "object"
    },
    "GoogleCloudMlV1__GetConfigResponse": {
      "id": "GoogleCloudMlV1__GetConfigResponse",
      "description": "Returns service account information associated with a project.",
      "properties": {
        "serviceAccount": {
          "description": "The service account Cloud ML uses to access resources in the project.",
          "type": "string"
        },
        "serviceAccountProject": {
          "description": "The project number for `service_account`.",
          "type": "string",
          "format": "int64"
        },
        "config": {
          "$ref": "GoogleCloudMlV1__Config"
        }
      },
      "type": "object"
    },
    "GoogleCloudMlV1_StudyConfigParameterSpec_CategoricalValueSpec": {
      "id": "GoogleCloudMlV1_StudyConfigParameterSpec_CategoricalValueSpec",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Must be specified if type is `CATEGORICAL`. The list of possible categories."
        }
      }
    },
    "GoogleCloudMlV1__ExplainRequest": {
      "properties": {
        "httpBody": {
          "description": "Required. The explanation request body.",
          "$ref": "GoogleApi__HttpBody"
        }
      },
      "description": "Request for explanations to be issued against a trained model.",
      "id": "GoogleCloudMlV1__ExplainRequest",
      "type": "object"
    },
    "GoogleCloudMlV1__ListOptimalTrialsResponse": {
      "properties": {
        "trials": {
          "type": "array",
          "description": "The pareto-optimal trials for multiple objective study or the optimal trial for single objective study. The definition of pareto-optimal can be checked in wiki page. https://en.wikipedia.org/wiki/Pareto_efficiency",
          "items": {
            "$ref": "GoogleCloudMlV1__Trial"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudMlV1__ListOptimalTrialsResponse",
      "description": "The response message for the ListOptimalTrials method."
    },
    "GoogleCloudMlV1__ParameterSpec": {
      "description": "Represents a single hyperparameter to optimize.",
      "properties": {
        "minValue": {
          "type": "number",
          "description": "Required if type is `DOUBLE` or `INTEGER`. This field should be unset if type is `CATEGORICAL`. This value should be integers if type is INTEGER.",
          "format": "double"
        },
        "scaleType": {
          "enum": [
            "NONE",
            "UNIT_LINEAR_SCALE",
            "UNIT_LOG_SCALE",
            "UNIT_REVERSE_LOG_SCALE"
          ],
          "type": "string",
          "description": "Optional. How the parameter should be scaled to the hypercube. Leave unset for categorical parameters. Some kind of scaling is strongly recommended for real or integral parameters (e.g., `UNIT_LINEAR_SCALE`).",
          "enumDescriptions": [
            "By default, no scaling is applied.",
            "Scales the feasible space to (0, 1) linearly.",
            "Scales the feasible space logarithmically to (0, 1). The entire feasible space must be strictly positive.",
            "Scales the feasible space \"reverse\" logarithmically to (0, 1). The result is that values close to the top of the feasible space are spread out more than points near the bottom. The entire feasible space must be strictly positive."
          ]
        },
        "type": {
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "DOUBLE",
            "INTEGER",
            "CATEGORICAL",
            "DISCRETE"
          ],
          "type": "string",
          "description": "Required. The type of the parameter.",
          "enumDescriptions": [
            "You must specify a valid type. Using this unspecified type will result in an error.",
            "Type for real-valued parameters.",
            "Type for integral parameters.",
            "The parameter is categorical, with a value chosen from the categories field.",
[...]
