{
  "version_module": true,
  "mtlsRootUrl": "https://monitoring.mtls.googleapis.com/",
  "id": "monitoring:v3",
  "protocol": "rest",
  "canonicalName": "Monitoring",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/monitoring.write": {
          "description": "Publish metric data to your Google Cloud projects"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/monitoring.read": {
          "description": "View monitoring data for all of your Google Cloud and third-party projects"
        },
        "https://www.googleapis.com/auth/monitoring": {
          "description": "View and write monitoring data for all of your Google and third-party Cloud and API projects"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "title": "Cloud Monitoring API",
  "name": "monitoring",
  "version": "v3",
  "documentationLink": "https://cloud.google.com/monitoring/api/",
  "batchPath": "batch",
  "baseUrl": "https://monitoring.googleapis.com/",
  "ownerName": "Google",
  "description": "Manages your Cloud Monitoring data and configurations. Most projects must be associated with a Workspace, with a few exceptions as noted on the individual method pages. The table entries below are presented in alphabetical order, not in order of common use. For explanations of the concepts found in the table entries, read the Cloud Monitoring documentation.",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "rootUrl": "https://monitoring.googleapis.com/",
  "schemas": {
    "BasicSli": {
      "type": "object",
      "id": "BasicSli",
      "description": "An SLI measuring performance on a well-known service type. Performance will be computed on the basis of pre-defined metrics. The type of the service_resource determines the metrics to use and the service_resource.labels and metric_labels are used to construct a monitoring filter to filter that metric down to just the data relevant to this service.",
      "properties": {
        "method": {
          "description": "OPTIONAL: The set of RPCs to which this SLI is relevant. Telemetry from other methods will not be used to calculate performance for this SLI. If omitted, this SLI applies to all the Service's methods. For service types that don't support breaking down by method, setting this field will result in an error.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "version": {
          "description": "OPTIONAL: The set of API versions to which this SLI is relevant. Telemetry from other API versions will not be used to calculate performance for this SLI. If omitted, this SLI applies to all API versions. For service types that don't support breaking down by version, setting this field will result in an error.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "latency": {
          "$ref": "LatencyCriteria",
          "description": "Good service is defined to be the count of requests made to this service that are fast enough with respect to latency.threshold."
        },
        "availability": {
          "description": "Good service is defined to be the count of requests made to this service that return successfully.",
          "$ref": "AvailabilityCriteria"
        },
        "location": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "OPTIONAL: The set of locations to which this SLI is relevant. Telemetry from other locations will not be used to calculate performance for this SLI. If omitted, this SLI applies to all locations in which the Service has activity. For service types that don't support breaking down by location, setting this field will result in an error."
        }
      }
    },
    "CollectdPayloadError": {
      "id": "CollectdPayloadError",
      "type": "object",
      "description": "Describes the error status for payloads that were not written.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "Records the error status for the payload. If this field is present, the partial errors for nested values won't be populated."
        },
        "valueErrors": {
          "type": "array",
          "items": {
            "$ref": "CollectdValueError"
          },
          "description": "Records the error status for values that were not written due to an error.Failed payloads for which nothing is written will not include partial value errors."
        },
        "index": {
          "description": "The zero-based index in CreateCollectdTimeSeriesRequest.collectd_payloads.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CloudEndpoints": {
      "description": "Cloud Endpoints service. Learn more at https://cloud.google.com/endpoints.",
      "id": "CloudEndpoints",
      "properties": {
        "service": {
          "type": "string",
          "description": "The name of the Cloud Endpoints service underlying this service. Corresponds to the service resource label in the api monitored resource: https://cloud.google.com/monitoring/api/resources#tag_api"
        }
      },
      "type": "object"
    },
    "MetricThreshold": {
      "type": "object",
      "description": "A condition type that compares a collection of time series against a threshold.",
      "properties": {
        "aggregations": {
          "description": "Specifies the alignment of data points in individual time series as well as how to combine the retrieved time series together (such as when aggregating multiple streams on each resource to a single stream for each resource or when aggregating streams across all members of a group of resrouces). Multiple aggregations are applied in the order specified.This field is similar to the one in the ListTimeSeries request (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list). It is advisable to use the ListTimeSeries method when debugging this field.",
          "items": {
            "$ref": "Aggregation"
          },
          "type": "array"
        },
        "denominatorFilter": {
          "type": "string",
          "description": "A filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies a time series that should be used as the denominator of a ratio that will be compared with the threshold. If a denominator_filter is specified, the time series specified by the filter field will be used as the numerator.The filter must specify the metric type and optionally may contain restrictions on resource type, resource labels, and metric labels. This field may not exceed 2048 Unicode characters in length."
        },
        "trigger": {
          "description": "The number/percent of time series for which the comparison must hold in order for the condition to trigger. If unspecified, then the condition will trigger if the comparison is true for any of the time series that have been identified by filter and aggregations, or by the ratio, if denominator_filter and denominator_aggregations are specified.",
          "$ref": "Trigger"
        },
        "comparison": {
          "type": "string",
          "enumDescriptions": [
            "No ordering relationship is specified.",
            "True if the left argument is greater than the right argument.",
            "True if the left argument is greater than or equal to the right argument.",
            "True if the left argument is less than the right argument.",
            "True if the left argument is less than or equal to the right argument.",
            "True if the left argument is equal to the right argument.",
            "True if the left argument is not equal to the right argument."
          ],
          "description": "The comparison to apply between the time series (indicated by filter and aggregation) and the threshold (indicated by threshold_value). The comparison is applied on each time series, with the time series on the left-hand side and the threshold on the right-hand side.Only COMPARISON_LT and COMPARISON_GT are supported currently.",
          "enum": [
            "COMPARISON_UNSPECIFIED",
            "COMPARISON_GT",
            "COMPARISON_GE",
            "COMPARISON_LT",
            "COMPARISON_LE",
            "COMPARISON_EQ",
            "COMPARISON_NE"
          ]
        },
        "thresholdValue": {
          "type": "number",
          "format": "double",
          "description": "A value against which to compare the time series."
        },
        "denominatorAggregations": {
          "type": "array",
          "description": "Specifies the alignment of data points in individual time series selected by denominatorFilter as well as how to combine the retrieved time series together (such as when aggregating multiple streams on each resource to a single stream for each resource or when aggregating streams across all members of a group of resources).When computing ratios, the aggregations and denominator_aggregations fields must use the same alignment period and produce time series that have the same periodicity and labels.",
          "items": {
            "$ref": "Aggregation"
          }
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "The amount of time that a time series must violate the threshold to be considered failing. Currently, only values that are a multiple of a minute--e.g., 0, 60, 120, or 300 seconds--are supported. If an invalid value is given, an error will be returned. When choosing a duration, it is useful to keep in mind the frequency of the underlying time series data (which may also be affected by any alignments specified in the aggregations field); a good duration is long enough so that a single outlier does not generate spurious alerts, but short enough that unhealthy states are detected and alerted on quickly."
        },
        "filter": {
          "description": "A filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies which time series should be compared with the threshold.The filter is similar to the one that is specified in the ListTimeSeries request (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list) (that call is useful to verify the time series that will be retrieved / processed) and must specify the metric type and optionally may contain restrictions on resource type, resource labels, and metric labels. This field may not exceed 2048 Unicode characters in length.",
          "type": "string"
        }
      },
      "id": "MetricThreshold"
    },
    "UptimeCheckConfig": {
      "id": "UptimeCheckConfig",
      "type": "object",
      "description": "This message configures which resources and services to monitor for availability.",
      "properties": {
        "internalCheckers": {
          "description": "The internal checkers that this check will egress from. If is_internal is true and this list is empty, the check will egress from all the InternalCheckers configured for the project that owns this UptimeCheckConfig.",
          "type": "array",
          "items": {
            "$ref": "InternalChecker"
          }
        },
        "selectedRegions": {
          "items": {
            "enumDescriptions": [
              "Default value if no region is specified. Will result in Uptime checks running from all regions.",
              "Allows checks to run from locations within the United States of America.",
              "Allows checks to run from locations within the continent of Europe.",
              "Allows checks to run from locations within the continent of South America.",
              "Allows checks to run from locations within the Asia Pacific area (ex: Singapore)."
            ],
            "type": "string",
            "enum": [
              "REGION_UNSPECIFIED",
              "USA",
              "EUROPE",
              "SOUTH_AMERICA",
              "ASIA_PACIFIC"
            ]
          },
          "description": "The list of regions from which the check will be run. Some regions contain one location, and others contain more than one. If this field is specified, enough regions must be provided to include a minimum of 3 locations. Not specifying this field will result in Uptime checks running from all available regions.",
          "type": "array"
        },
        "contentMatchers": {
          "items": {
            "$ref": "ContentMatcher"
          },
          "description": "The content that is expected to appear in the data returned by the target server against which the check is run. Currently, only the first entry in the content_matchers list is supported, and additional entries will be ignored. This field is optional and should only be specified if a content match is required as part of the/ Uptime check.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "A unique resource name for this Uptime check configuration. The format is: projects/[PROJECT_ID_OR_NUMBER]/uptimeCheckConfigs/[UPTIME_CHECK_ID] This field should be omitted when creating the Uptime check configuration; on create, the resource name is assigned by the server and included in the response."
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "The maximum amount of time to wait for the request to complete (must be between 1 and 60 seconds). Required."
        },
        "displayName": {
          "description": "A human-friendly name for the Uptime check configuration. The display name should be unique within a Stackdriver Workspace in order to make it easier to identify; however, uniqueness is not enforced. Required.",
          "type": "string"
        },
        "isInternal": {
          "description": "If this is true, then checks are made only from the 'internal_checkers'. If it is false, then checks are made only from the 'selected_regions'. It is an error to provide 'selected_regions' when is_internal is true, or to provide 'internal_checkers' when is_internal is false.",
          "type": "boolean"
        },
        "httpCheck": {
          "$ref": "HttpCheck",
          "description": "Contains information needed to make an HTTP or HTTPS check."
        },
        "monitoredResource": {
          "$ref": "MonitoredResource",
          "description": "The monitored resource (https://cloud.google.com/monitoring/api/resources) associated with the configuration. The following monitored resource types are supported for Uptime checks: uptime_url, gce_instance, gae_app, aws_ec2_instance, aws_elb_load_balancer"
        },
        "period": {
          "type": "string",
          "description": "How often, in seconds, the Uptime check is performed. Currently, the only supported values are 60s (1 minute), 300s (5 minutes), 600s (10 minutes), and 900s (15 minutes). Optional, defaults to 60s.",
          "format": "google-duration"
        },
        "tcpCheck": {
          "description": "Contains information needed to make a TCP check.",
          "$ref": "TcpCheck"
        },
        "resourceGroup": {
          "description": "The group resource associated with the configuration.",
          "$ref": "ResourceGroup"
        }
      }
    },
    "PerformanceThreshold": {
      "id": "PerformanceThreshold",
      "type": "object",
      "description": "A PerformanceThreshold is used when each window is good when that window has a sufficiently high performance.",
      "properties": {
        "threshold": {
          "format": "double",
          "description": "If window performance \u003e= threshold, the window is counted as good.",
          "type": "number"
        },
        "basicSliPerformance": {
          "description": "BasicSli to evaluate to judge window quality.",
          "$ref": "BasicSli"
        },
        "performance": {
          "$ref": "RequestBasedSli",
          "description": "RequestBasedSli to evaluate to judge window quality."
        }
      }
    },
    "MetricAbsence": {
      "id": "MetricAbsence",
      "properties": {
        "filter": {
          "description": "A filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies which time series should be compared with the threshold.The filter is similar to the one that is specified in the ListTimeSeries request (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list) (that call is useful to verify the time series that will be retrieved / processed) and must specify the metric type and optionally may contain restrictions on resource type, resource labels, and metric labels. This field may not exceed 2048 Unicode characters in length.",
          "type": "string"
        },
        "trigger": {
          "$ref": "Trigger",
          "description": "The number/percent of time series for which the comparison must hold in order for the condition to trigger. If unspecified, then the condition will trigger if the comparison is true for any of the time series that have been identified by filter and aggregations."
        },
        "duration": {
          "description": "The amount of time that a time series must fail to report new data to be considered failing. Currently, only values that are a multiple of a minute--e.g. 60, 120, or 300 seconds--are supported. If an invalid value is given, an error will be returned. The Duration.nanos field is ignored.",
          "format": "google-duration",
          "type": "string"
        },
        "aggregations": {
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Specifies the alignment of data points in individual time series as well as how to combine the retrieved time series together (such as when aggregating multiple streams on each resource to a single stream for each resource or when aggregating streams across all members of a group of resrouces). Multiple aggregations are applied in the order specified.This field is similar to the one in the ListTimeSeries request (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list). It is advisable to use the ListTimeSeries method when debugging this field."
        }
      },
      "type": "object",
      "description": "A condition type that checks that monitored resources are reporting data. The configuration defines a metric and a set of monitored resources. The predicate is considered in violation when a time series for the specified metric of a monitored resource does not include any data in the specified duration."
    },
    "AlertPolicy": {
      "id": "AlertPolicy",
      "type": "object",
      "description": "A description of the conditions under which some aspect of your system is considered to be \"unhealthy\" and the ways to notify people or services about this state. For an overview of alert policies, see Introduction to Alerting (https://cloud.google.com/monitoring/alerts/).",
      "properties": {
        "combiner": {
          "enumDescriptions": [
            "An unspecified combiner.",
            "Combine conditions using the logical AND operator. An incident is created only if all the conditions are met simultaneously. This combiner is satisfied if all conditions are met, even if they are met on completely different resources.",
            "Combine conditions using the logical OR operator. An incident is created if any of the listed conditions is met.",
            "Combine conditions using logical AND operator, but unlike the regular AND option, an incident is created only if all conditions are met simultaneously on at least one resource."
          ],
          "enum": [
            "COMBINE_UNSPECIFIED",
            "AND",
            "OR",
            "AND_WITH_MATCHING_RESOURCE"
          ],
          "type": "string",
          "description": "How to combine the results of multiple conditions to determine if an incident should be opened. If condition_time_series_query_language is present, this must be COMBINE_UNSPECIFIED."
        },
        "creationRecord": {
          "$ref": "MutationRecord",
          "description": "A read-only record of the creation of the alerting policy. If provided in a call to create or update, this field will be ignored."
        },
        "validity": {
          "description": "Read-only description of how the alert policy is invalid. OK if the alert policy is valid. If not OK, the alert policy will not generate incidents.",
          "$ref": "Status"
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-supplied key/value data to be used for organizing and identifying the AlertPolicy objects.The field can contain up to 64 entries. Each key and value is limited to 63 Unicode characters or 128 bytes, whichever is smaller. Labels and values can contain only lowercase letters, numerals, underscores, and dashes. Keys must begin with a letter.",
          "type": "object"
        },
        "documentation": {
          "description": "Documentation that is included with notifications and incidents related to this policy. Best practice is for the documentation to include information to help responders understand, mitigate, escalate, and correct the underlying problems detected by the alerting policy. Notification channels that have limited capacity might not show this documentation.",
          "$ref": "Documentation"
        },
        "notificationChannels": {
          "items": {
            "type": "string"
          },
          "description": "Identifies the notification channels to which notifications should be sent when incidents are opened or closed or when new violations occur on an already opened incident. Each element of this array corresponds to the name field in each of the NotificationChannel objects that are returned from the ListNotificationChannels method. The format of the entries in this field is: projects/[PROJECT_ID_OR_NUMBER]/notificationChannels/[CHANNEL_ID] ",
          "type": "array"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether or not the policy is enabled. On write, the default interpretation if unset is that the policy is enabled. On read, clients should not make any assumption about the state if it has not been populated. The field should always be populated on List and Get operations, unless a field projection has been specified that strips it out."
        },
        "displayName": {
          "type": "string",
          "description": "A short name or phrase used to identify the policy in dashboards, notifications, and incidents. To avoid confusion, don't use the same display name for multiple policies in the same project. The name is limited to 512 Unicode characters."
        },
        "conditions": {
          "description": "A list of conditions for the policy. The conditions are combined by AND or OR according to the combiner field. If the combined conditions evaluate to true, then an incident is created. A policy can have from one to six conditions. If condition_time_series_query_language is present, it must be the only condition.",
          "items": {
            "$ref": "Condition"
          },
          "type": "array"
        },
        "name": {
          "description": "Required if the policy exists. The resource name for this policy. The format is: projects/[PROJECT_ID_OR_NUMBER]/alertPolicies/[ALERT_POLICY_ID] [ALERT_POLICY_ID] is assigned by Stackdriver Monitoring when the policy is created. When calling the alertPolicies.create method, do not include the name field in the alerting policy passed as part of the request.",
          "type": "string"
        },
        "mutationRecord": {
          "description": "A read-only record of the most recent change to the alerting policy. If provided in a call to create or update, this field will be ignored.",
          "$ref": "MutationRecord"
        }
      }
    },
    "Exemplar": {
      "properties": {
        "timestamp": {
          "description": "The observation (sampling) time of the above value.",
          "type": "string",
          "format": "google-datetime"
        },
        "attachments": {
          "type": "array",
          "description": "Contextual information about the example value. Examples are:Trace: type.googleapis.com/google.monitoring.v3.SpanContextLiteral string: type.googleapis.com/google.protobuf.StringValueLabels dropped during aggregation: type.googleapis.com/google.monitoring.v3.DroppedLabelsThere may be only a single attachment of any given message type in a single exemplar, and this is enforced by the system.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "value": {
          "format": "double",
          "description": "Value of the exemplar point. This value determines to which bucket the exemplar belongs.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "Exemplar",
      "description": "Exemplars are example points that may be used to annotate aggregated distribution values. They are metadata that gives information about a particular value added to a Distribution bucket, such as a trace ID that was active when a value was added. They may contain further information, such as a example values and timestamps, origin, etc."
    },
    "ListMonitoredResourceDescriptorsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method."
        },
        "resourceDescriptors": {
          "description": "The monitored resource descriptors that are available to this project and that match filter, if present.",
          "items": {
            "$ref": "MonitoredResourceDescriptor"
          },
          "type": "array"
        }
      },
      "id": "ListMonitoredResourceDescriptorsResponse",
      "description": "The ListMonitoredResourceDescriptors response.",
      "type": "object"
    },
    "CreateCollectdTimeSeriesRequest": {
      "description": "The CreateCollectdTimeSeries request.",
      "type": "object",
      "properties": {
        "collectdVersion": {
          "description": "The version of collectd that collected the data. Example: \"5.3.0-192.el6\".",
          "type": "string"
        },
        "resource": {
          "$ref": "MonitoredResource",
          "description": "The monitored resource associated with the time series."
        },
        "collectdPayloads": {
          "description": "The collectd payloads representing the time series data. You must not include more than a single point for each time series, so no two payloads can have the same values for all of the fields plugin, plugin_instance, type, and type_instance.",
          "items": {
            "$ref": "CollectdPayload"
          },
          "type": "array"
        }
      },
      "id": "CreateCollectdTimeSeriesRequest"
    },
    "Service": {
      "properties": {
        "cloudEndpoints": {
          "description": "Type used for Cloud Endpoints services.",
          "$ref": "CloudEndpoints"
        },
        "meshIstio": {
          "description": "Type used for Istio services scoped to an Istio mesh.",
          "$ref": "MeshIstio"
        },
        "displayName": {
          "description": "Name used for UI elements listing this Service.",
          "type": "string"
        },
        "telemetry": {
          "description": "Configuration for how to query telemetry on a Service.",
          "$ref": "Telemetry"
        },
        "custom": {
          "$ref": "Custom",
          "description": "Custom service type."
        },
        "appEngine": {
          "description": "Type used for App Engine services.",
          "$ref": "AppEngine"
        },
        "clusterIstio": {
          "description": "Type used for Istio services that live in a Kubernetes cluster.",
          "$ref": "ClusterIstio"
        },
        "name": {
          "type": "string",
          "description": "Resource name for this Service. The format is: projects/[PROJECT_ID_OR_NUMBER]/services/[SERVICE_ID] "
        }
      },
      "id": "Service",
      "description": "A Service is a discrete, autonomous, and network-accessible unit, designed to solve an individual concern (Wikipedia (https://en.wikipedia.org/wiki/Service-orientation)). In Cloud Monitoring, a Service acts as the root resource under which operational aspects of the service are accessible.",
      "type": "object"
    },
    "CreateTimeSeriesRequest": {
      "id": "CreateTimeSeriesRequest",
      "type": "object",
      "properties": {
        "timeSeries": {
          "description": "Required. The new data to be added to a list of time series. Adds at most one data point to each of several time series. The new data point must be more recent than any other point in its time series. Each TimeSeries value must fully specify a unique time series by supplying all label values for the metric and the monitored resource.The maximum number of TimeSeries objects per Create request is 200.",
          "items": {
            "$ref": "TimeSeries"
          },
          "type": "array"
        }
      },
      "description": "The CreateTimeSeries request."
    },
    "Option": {
      "type": "object",
      "id": "Option",
      "properties": {
        "value": {
          "description": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The option's name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, \"map_entry\". For custom options, it should be the fully-qualified name. For example, \"google.api.http\"."
        }
      },
      "description": "A protocol buffer option, which can be attached to a message, field, enumeration, etc."
    },
    "LabelDescriptor": {
      "description": "A description of a label.",
      "id": "LabelDescriptor",
      "properties": {
        "description": {
          "type": "string",
          "description": "A human-readable description for the label."
        },
        "key": {
          "description": "The key for this label. The key must meet the following criteria: Does not exceed 100 characters. Matches the following regular expression: [a-zA-Z][a-zA-Z0-9_]* The first character must be an upper- or lower-case letter. The remaining characters must be letters, digits, or underscores.",
          "type": "string"
        },
        "valueType": {
          "enumDescriptions": [
            "A variable-length string, not to exceed 1,024 characters. This is the default value type.",
            "Boolean; true or false.",
            "A 64-bit signed integer."
          ],
          "enum": [
            "STRING",
            "BOOL",
            "INT64"
          ],
          "type": "string",
          "description": "The type of data that can be assigned to the label."
        }
      },
      "type": "object"
    },
    "HttpCheck": {
      "description": "Information involved in an HTTP/HTTPS Uptime check request.",
      "properties": {
        "useSsl": {
          "type": "boolean",
          "description": "If true, use HTTPS instead of HTTP to run the check."
        },
        "requestMethod": {
          "type": "string",
          "enumDescriptions": [
            "No request method specified.",
            "GET request.",
            "POST request."
          ],
          "description": "The HTTP request method to use for the check. If set to METHOD_UNSPECIFIED then request_method defaults to GET.",
          "enum": [
            "METHOD_UNSPECIFIED",
            "GET",
            "POST"
          ]
        },
        "port": {
          "description": "Optional (defaults to 80 when use_ssl is false, and 443 when use_ssl is true). The TCP port on the HTTP server against which to run the check. Will be combined with host (specified within the monitored_resource) and path to construct the full URL.",
          "type": "integer",
          "format": "int32"
        },
        "maskHeaders": {
          "type": "boolean",
          "description": "Boolean specifying whether to encrypt the header information. Encryption should be specified for any headers related to authentication that you do not wish to be seen when retrieving the configuration. The server will be responsible for encrypting the headers. On Get/List calls, if mask_headers is set to true then the headers will be obscured with ******."
        },
        "headers": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The list of headers to send as part of the Uptime check request. If two headers have the same key and different values, they should be entered as a single header, with the value being a comma-separated list of all the desired values as described at https://www.w3.org/Protocols/rfc2616/rfc2616.txt (page 31). Entering two separate headers with the same key in a Create call will cause the first to be overwritten by the second. The maximum number of headers allowed is 100."
        },
        "authInfo": {
          "description": "The authentication information. Optional when creating an HTTP check; defaults to empty.",
          "$ref": "BasicAuthentication"
        },
        "validateSsl": {
          "description": "Boolean specifying whether to include SSL certificate validation as a part of the Uptime check. Only applies to checks where monitored_resource is set to uptime_url. If use_ssl is false, setting validate_ssl to true has no effect.",
          "type": "boolean"
        },
        "path": {
          "description": "Optional (defaults to \"/\"). The path to the page against which to run the check. Will be combined with the host (specified within the monitored_resource) and port to construct the full URL. If the provided path does not begin with \"/\", a \"/\" will be prepended automatically.",
          "type": "string"
        },
        "contentType": {
          "type": "string",
          "enumDescriptions": [
            "No content type specified. If the request method is POST, an unspecified content type results in a check creation rejection.",
            "body is in URL-encoded form. Equivalent to setting the Content-Type to application/x-www-form-urlencoded in the HTTP request."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "URL_ENCODED"
          ],
          "description": "The content type to use for the check."
        },
        "body": {
          "description": "The request body associated with the HTTP POST request. If content_type is URL_ENCODED, the body passed in must be URL-encoded. Users can provide a Content-Length header via the headers field or the API will do so. If the request_method is GET and body is not empty, the API will return an error. The maximum byte size is 1 megabyte. Note: As with all bytes fields JSON representations are base64 encoded. e.g.: \"foo=bar\" in URL-encoded form is \"foo%3Dbar\" and in base64 encoding is \"Zm9vJTI1M0RiYXI=\".",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "HttpCheck"
    },
    "TimeSeriesDescriptor": {
      "type": "object",
      "description": "A descriptor for the labels and points in a time series.",
      "id": "TimeSeriesDescriptor",
      "properties": {
        "labelDescriptors": {
          "items": {
            "$ref": "LabelDescriptor"
          },
          "type": "array",
          "description": "Descriptors for the labels."
        },
        "pointDescriptors": {
          "description": "Descriptors for the point data value columns.",
          "type": "array",
          "items": {
            "$ref": "ValueDescriptor"
          }
        }
      }
    },
    "DroppedLabels": {
      "type": "object",
      "id": "DroppedLabels",
      "description": "A set of (label, value) pairs that were removed from a Distribution time series during aggregation and then added as an attachment to a Distribution.Exemplar.The full label set for the exemplars is constructed by using the dropped pairs in combination with the label values that remain on the aggregated Distribution time series. The constructed full label set can be used to identify the specific entity, such as the instance or job, which might be contributing to a long-tail. However, with dropped labels, the storage requirements are reduced because only the aggregated distribution values for a large group of time series are stored.Note that there are no guarantees on ordering of the labels from exemplar-to-exemplar and from distribution-to-distribution in the same stream, and there may be duplicates. It is up to clients to resolve any ambiguities.",
      "properties": {
        "label": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from label to its value, for all labels dropped in any aggregation."
        }
      }
    },
    "ListUptimeCheckIpsResponse": {
      "description": "The protocol for the ListUptimeCheckIps response.",
      "type": "object",
      "properties": {
        "uptimeCheckIps": {
          "description": "The returned list of IP addresses (including region and location) that the checkers run from.",
          "type": "array",
          "items": {
            "$ref": "UptimeCheckIp"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "This field represents the pagination token to retrieve the next page of results. If the value is empty, it means no further results for the request. To retrieve the next page of results, the value of the next_page_token is passed to the subsequent List method call (in the request message's page_token field). NOTE: this field is not yet implemented"
        }
      },
      "id": "ListUptimeCheckIpsResponse"
    },
    "SourceContext": {
      "properties": {
        "fileName": {
          "type": "string",
          "description": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: \"google/protobuf/source_context.proto\"."
        }
      },
      "description": "SourceContext represents information about the source of a protobuf element, like the file in which it is defined.",
      "id": "SourceContext",
      "type": "object"
    },
    "Range": {
      "properties": {
        "max": {
          "description": "The maximum of the population values.",
          "format": "double",
          "type": "number"
        },
        "min": {
          "type": "number",
          "format": "double",
          "description": "The minimum of the population values."
        }
      },
      "type": "object",
      "description": "The range of the population values.",
      "id": "Range"
    },
    "ListGroupMembersResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "description": "The total number of elements matching this request.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method."
        },
        "members": {
          "type": "array",
          "description": "A set of monitored resources in the group.",
          "items": {
            "$ref": "MonitoredResource"
          }
        }
      },
      "id": "ListGroupMembersResponse",
      "description": "The ListGroupMembers response."
    },
    "MetricDescriptor": {
      "properties": {
        "name": {
          "description": "The resource name of the metric descriptor.",
          "type": "string"
        },
        "unit": {
          "description": "The units in which the metric value is reported. It is only applicable if the value_type is INT64, DOUBLE, or DISTRIBUTION. The unit defines the representation of the stored metric values.Different systems may scale the values to be more easily displayed (so a value of 0.02KBy might be displayed as 20By, and a value of 3523KBy might be displayed as 3.5MBy). However, if the unit is KBy, then the value of the metric is always in thousands of bytes, no matter how it may be displayed..If you want a custom metric to record the exact number of CPU-seconds used by a job, you can create an INT64 CUMULATIVE metric whose unit is s{CPU} (or equivalently 1s{CPU} or just s). If the job uses 12,005 CPU-seconds, then the value is written as 12005.Alternatively, if you want a custom metric to record data in a more granular way, you can create a DOUBLE CUMULATIVE metric whose unit is ks{CPU}, and then write the value 12.005 (which is 12005/1000), or use Kis{CPU} and write 11.723 (which is 12005/1024).The supported units are a subset of The Unified Code for Units of Measure (http://unitsofmeasure.org/ucum.html) standard:Basic units (UNIT) bit bit By byte s second min minute h hour d day 1 dimensionlessPrefixes (PREFIX) k kilo (10^3) M mega (10^6) G giga (10^9) T tera (10^12) P peta (10^15) E exa (10^18) Z zetta (10^21) Y yotta (10^24) m milli (10^-3) u micro (10^-6) n nano (10^-9) p pico (10^-12) f femto (10^-15) a atto (10^-18) z zepto (10^-21) y yocto (10^-24) Ki kibi (2^10) Mi mebi (2^20) Gi gibi (2^30) Ti tebi (2^40) Pi pebi (2^50)GrammarThe grammar also includes these connectors: / division or ratio (as an infix operator). For examples, kBy/{email} or MiBy/10ms (although you should almost never have /s in a metric unit; rates should always be computed at query time from the underlying cumulative or delta value). . multiplication or composition (as an infix operator). For examples, GBy.d or k{watt}.h.The grammar for a unit is as follows: Expression = Component { \".\" Component } { \"/\" Component } ; Component = ( [ PREFIX ] UNIT | \"%\" ) [ Annotation ] | Annotation | \"1\" ; Annotation = \"{\" NAME \"}\" ; Notes: Annotation is just a comment if it follows a UNIT. If the annotation is used alone, then the unit is equivalent to 1. For examples, {request}/s == 1/s, By{transmitted}/s == By/s. NAME is a sequence of non-blank printable ASCII characters not containing { or }. 1 represents a unitary dimensionless unit (https://en.wikipedia.org/wiki/Dimensionless_quantity) of 1, such as in 1/s. It is typically used when none of the basic units are appropriate. For example, \"new users per day\" can be represented as 1/d or {new-users}/d (and a metric value 5 would mean \"5 new users). Alternatively, \"thousands of page views per day\" would be represented as 1000/d or k1/d or k{page_views}/d (and a metric value of 5.3 would mean \"5300 page views per day\"). % represents dimensionless value of 1/100, and annotates values giving a percentage (so the metric values are typically in the range of 0..100, and a metric value 3 means \"3 percent\"). 10^2.% indicates a metric contains a ratio, typically in the range 0..1, that will be multiplied by 100 and displayed as a percentage (so a metric value 0.03 means \"3 percent\").",
          "type": "string"
        },
        "type": {
          "description": "The metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined metric types have the DNS name custom.googleapis.com or external.googleapis.com. Metric types should use a natural hierarchical grouping. For example: \"custom.googleapis.com/invoice/paid/amount\" \"external.googleapis.com/prometheus/up\" \"appengine.googleapis.com/http/server/response_latencies\" ",
          "type": "string"
        },
        "metricKind": {
          "description": "Whether the metric records instantaneous values, changes to a value, etc. Some combinations of metric_kind and value_type might not be supported.",
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "An instantaneous measurement of a value.",
            "The change in a value during a time interval.",
            "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
          ],
          "enum": [
            "METRIC_KIND_UNSPECIFIED",
            "GAUGE",
            "DELTA",
            "CUMULATIVE"
          ]
        },
        "description": {
          "description": "A detailed description of the metric, which can be used in documentation.",
          "type": "string"
        },
        "metadata": {
          "$ref": "MetricDescriptorMetadata",
          "description": "Optional. Metadata which can be used to guide usage of the metric."
        },
        "displayName": {
          "description": "A concise name for the metric, which can be displayed in user interfaces. Use sentence case without an ending period, for example \"Request count\". This field is optional but it is recommended to be set for any metrics associated with user-visible concepts, such as Quota.",
          "type": "string"
        },
        "valueType": {
          "description": "Whether the measurement is an integer, a floating-point number, etc. Some combinations of metric_kind and value_type might not be supported.",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "DOUBLE",
            "STRING",
            "DISTRIBUTION",
            "MONEY"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "The value is a boolean. This value type can be used only if the metric kind is GAUGE.",
            "The value is a signed 64-bit integer.",
            "The value is a double precision floating point number.",
            "The value is a text string. This value type can be used only if the metric kind is GAUGE.",
            "The value is a Distribution.",
            "The value is money."
          ],
          "type": "string"
        },
        "labels": {
          "description": "The set of labels that can be used to describe a specific instance of this metric type. For example, the appengine.googleapis.com/http/server/response_latencies metric type has a label for the HTTP response code, response_code, so you can look at latencies for successful responses or just for responses that failed.",
          "items": {
            "$ref": "LabelDescriptor"
          },
          "type": "array"
        },
        "monitoredResourceTypes": {
          "description": "Read-only. If present, then a time series, which is identified partially by a metric type and a MonitoredResourceDescriptor, that is associated with this metric type can only be associated with one of the monitored resource types listed here.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects whitelisted. Alpha releases don’t have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the “Deprecation Policy” section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "type": "string",
          "description": "Optional. The launch stage of the metric definition."
        }
      },
      "id": "MetricDescriptor",
      "type": "object",
      "description": "Defines a metric type and its schema. Once a metric descriptor is created, deleting or altering it stops data collection and makes the metric type's existing data unusable."
    },
    "Group": {
      "description": "The description of a dynamic collection of monitored resources. Each group has a filter that is matched against monitored resources and their associated metadata. If a group's filter matches an available monitored resource, then that resource is a member of that group. Groups can contain any number of monitored resources, and each monitored resource can be a member of any number of groups.Groups can be nested in parent-child hierarchies. The parentName field identifies an optional parent for each group. If a group has a parent, then the only monitored resources available to be matched by the group's filter are the resources contained in the parent group. In other words, a group contains the monitored resources that match its filter and the filters of all the group's ancestors. A group without a parent can contain any monitored resource.For example, consider an infrastructure running a set of instances with two user-defined tags: \"environment\" and \"role\". A parent group has a filter, environment=\"production\". A child of that parent group has a filter, role=\"transcoder\". The parent group contains all instances in the production environment, regardless of their roles. The child group contains instances that have the transcoder role and are in the production environment.The monitored resources contained in a group can change at any moment, depending on what resources exist and what filters are associated with the group and its ancestors.",
      "id": "Group",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A user-assigned name for this group, used only for display purposes."
        },
        "isCluster": {
          "description": "If true, the members of this group are considered to be a cluster. The system can perform additional analysis on groups that are clusters.",
          "type": "boolean"
        },
        "parentName": {
          "description": "The name of the group's parent, if it has one. The format is: projects/[PROJECT_ID_OR_NUMBER]/groups/[GROUP_ID] For groups with no parent, parent_name is the empty string, \"\".",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "The filter used to determine which monitored resources belong to this group."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of this group. The format is: projects/[PROJECT_ID_OR_NUMBER]/groups/[GROUP_ID] When creating a group, this field is ignored and a new name is created consisting of the project specified in the call to CreateGroup and a unique [GROUP_ID] that is generated automatically."
        }
      },
      "type": "object"
    },
    "GetNotificationChannelVerificationCodeResponse": {
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "The expiration time associated with the code that was returned. If an expiration was provided in the request, this is the minimum of the requested expiration in the request and the max permitted expiration.",
          "format": "google-datetime"
        },
        "code": {
          "description": "The verification code, which may be used to verify other channels that have an equivalent identity (i.e. other channels of the same type with the same fingerprint such as other email channels with the same email address or other sms channels with the same number).",
          "type": "string"
        }
      },
      "description": "The GetNotificationChannelVerificationCode request.",
      "id": "GetNotificationChannelVerificationCodeResponse",
      "type": "object"
    },
    "ListServicesResponse": {
      "description": "The ListServices response.",
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "description": "The Services matching the specified filter.",
          "items": {
            "$ref": "Service"
          }
        },
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method.",
          "type": "string"
        }
      },
      "id": "ListServicesResponse"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "InternalChecker": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The checker's human-readable name. The display name should be unique within a Stackdriver Workspace in order to make it easier to identify; however, uniqueness is not enforced."
        },
        "state": {
          "enum": [
            "UNSPECIFIED",
            "CREATING",
            "RUNNING"
          ],
          "description": "The current operational state of the internal checker.",
          "enumDescriptions": [
            "An internal checker should never be in the unspecified state.",
            "The checker is being created, provisioned, and configured. A checker in this state can be returned by ListInternalCheckers or GetInternalChecker, as well as by examining the long running Operation (https://cloud.google.com/apis/design/design_patterns#long_running_operations) that created it.",
            "The checker is running and available for use. A checker in this state can be returned by ListInternalCheckers or GetInternalChecker as well as by examining the long running Operation (https://cloud.google.com/apis/design/design_patterns#long_running_operations) that created it. If a checker is being torn down, it is neither visible nor usable, so there is no \"deleting\" or \"down\" state."
          ],
          "type": "string"
        },
        "name": {
          "description": "A unique resource name for this InternalChecker. The format is: projects/[PROJECT_ID_OR_NUMBER]/internalCheckers/[INTERNAL_CHECKER_ID] [PROJECT_ID_OR_NUMBER] is the Stackdriver Workspace project for the Uptime check config associated with the internal checker.",
          "type": "string"
        },
        "peerProjectId": {
          "type": "string",
          "description": "The GCP project ID where the internal checker lives. Not necessary the same as the Workspace project."
        },
        "network": {
          "description": "The GCP VPC network (https://cloud.google.com/vpc/docs/vpc) where the internal resource lives (ex: \"default\").",
          "type": "string"
        },
        "gcpZone": {
          "description": "The GCP zone the Uptime check should egress from. Only respected for internal Uptime checks, where internal_network is specified.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InternalChecker",
      "description": "An internal checker allows Uptime checks to run on private/internal GCP resources."
    },
    "MonitoredResourceMetadata": {
      "type": "object",
      "description": "Auxiliary metadata for a MonitoredResource object. MonitoredResource objects contain the minimum set of information to uniquely identify a monitored resource instance. There is some other useful auxiliary metadata. Monitoring and Logging use an ingestion pipeline to extract metadata for cloud resources of all types, and store the metadata in this message.",
      "properties": {
        "systemLabels": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. Values for predefined system metadata labels. System labels are a kind of metadata extracted by Google, including \"machine_image\", \"vpc\", \"subnet_id\", \"security_group\", \"name\", etc. System label values can be only strings, Boolean values, or a list of strings. For example: { \"name\": \"my-test-instance\", \"security_group\": [\"a\", \"b\", \"c\"], \"spot_instance\": false } ",
          "type": "object"
        },
        "userLabels": {
          "description": "Output only. A map of user-defined metadata labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "MonitoredResourceMetadata"
    },
    "ContentMatcher": {
      "id": "ContentMatcher",
      "description": "Optional. Used to perform content matching. This allows matching based on substrings and regular expressions, together with their negations. Only the first 4 MB of an HTTP or HTTPS check's response (and the first 1 MB of a TCP check's response) are examined for purposes of content matching.",
      "properties": {
        "content": {
          "type": "string",
          "description": "String or regex content to match. Maximum 1024 bytes. An empty content string indicates no content matching is to be performed."
        },
        "matcher": {
          "enum": [
            "CONTENT_MATCHER_OPTION_UNSPECIFIED",
            "CONTAINS_STRING",
            "NOT_CONTAINS_STRING",
            "MATCHES_REGEX",
            "NOT_MATCHES_REGEX"
          ],
          "description": "The type of content matcher that will be applied to the server output, compared to the content string when the check is run.",
          "type": "string",
          "enumDescriptions": [
            "No content matcher type specified (maintained for backward compatibility, but deprecated for future use). Treated as CONTAINS_STRING.",
            "Selects substring matching. The match succeeds if the output contains the content string. This is the default value for checks without a matcher option, or where the value of matcher is CONTENT_MATCHER_OPTION_UNSPECIFIED.",
            "Selects negation of substring matching. The match succeeds if the output does NOT contain the content string.",
            "Selects regular-expression matching. The match succeeds of the output matches the regular expression specified in the content string.",
            "Selects negation of regular-expression matching. The match succeeds if the output does NOT match the regular expression specified in the content string."
          ]
        }
      },
      "type": "object"
    },
    "QueryTimeSeriesRequest": {
      "properties": {
        "query": {
          "type": "string",
          "description": "Required. The query in the Monitoring Query Language (https://cloud.google.com/monitoring/mql/reference) format. The default time zone is in UTC."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "A positive number that is the maximum number of time_series_data to return."
        },
        "pageToken": {
          "type": "string",
          "description": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call."
        }
      },
      "description": "The QueryTimeSeries request.",
      "type": "object",
      "id": "QueryTimeSeriesRequest"
    },
    "Custom": {
      "type": "object",
      "description": "Custom view of service telemetry. Currently a place-holder pending final design.",
      "id": "Custom",
      "properties": {}
    },
    "NotificationChannel": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether notifications are forwarded to the described channel. This makes it possible to disable delivery of notifications to a particular channel without removing the channel from all alerting policies that reference the channel. This is a more convenient approach when the change is temporary and you want to receive notifications from the same set of alerting policies on the channel at some point in the future."
        },
        "description": {
          "description": "An optional human-readable description of this notification channel. This description may provide additional details, beyond the display name, for the channel. This may not exceed 1024 Unicode characters.",
          "type": "string"
        },
        "labels": {
          "description": "Configuration fields that define the channel and its behavior. The permissible and required labels are specified in the NotificationChannelDescriptor.labels of the NotificationChannelDescriptor corresponding to the type field.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "verificationStatus": {
          "enumDescriptions": [
            "Sentinel value used to indicate that the state is unknown, omitted, or is not applicable (as in the case of channels that neither support nor require verification in order to function).",
            "The channel has yet to be verified and requires verification to function. Note that this state also applies to the case where the verification process has been initiated by sending a verification code but where the verification code has not been submitted to complete the process.",
            "It has been proven that notifications can be received on this notification channel and that someone on the project has access to messages that are delivered to that channel."
          ],
          "type": "string",
          "enum": [
            "VERIFICATION_STATUS_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED"
          ],
          "description": "Indicates whether this channel has been verified or not. On a ListNotificationChannels or GetNotificationChannel operation, this field is expected to be populated.If the value is UNVERIFIED, then it indicates that the channel is non-functioning (it both requires verification and lacks verification); otherwise, it is assumed that the channel works.If the channel is neither VERIFIED nor UNVERIFIED, it implies that the channel is of a type that does not require verification or that this specific channel has been exempted from verification because it was created prior to verification being required for channels of this type.This field cannot be modified using a standard UpdateNotificationChannel operation. To change the value of this field, you must call VerifyNotificationChannel."
        },
        "userLabels": {
          "description": "User-supplied key/value data that does not need to conform to the corresponding NotificationChannelDescriptor's schema, unlike the labels field. This field is intended to be used for organizing and identifying the NotificationChannel objects.The field can contain up to 64 entries. Each key and value is limited to 63 Unicode characters or 128 bytes, whichever is smaller. Labels and values can contain only lowercase letters, numerals, underscores, and dashes. Keys must begin with a letter.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "type": {
          "description": "The type of the notification channel. This field matches the value of the NotificationChannelDescriptor.type field.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "An optional human-readable name for this notification channel. It is recommended that you specify a non-empty and unique name in order to make it easier to identify the channels in your project, though this is not enforced. The display name is limited to 512 Unicode characters."
        },
        "name": {
          "type": "string",
          "description": "The full REST resource name for this channel. The format is: projects/[PROJECT_ID_OR_NUMBER]/notificationChannels/[CHANNEL_ID] The [CHANNEL_ID] is automatically assigned by the server on creation."
        }
      },
      "id": "NotificationChannel",
      "type": "object",
      "description": "A NotificationChannel is a medium through which an alert is delivered when a policy violation is detected. Examples of channels include email, SMS, and third-party messaging applications. Fields containing sensitive information like authentication tokens or contact info are only partially populated on retrieval."
    },
    "Trigger": {
      "id": "Trigger",
      "properties": {
        "percent": {
          "format": "double",
          "type": "number",
          "description": "The percentage of time series that must fail the predicate for the condition to be triggered."
        },
        "count": {
          "type": "integer",
          "description": "The absolute number of time series that must fail the predicate for the condition to be triggered.",
          "format": "int32"
        }
      },
      "description": "Specifies how many time series must fail a predicate to trigger a condition. If not specified, then a {count: 1} trigger is used.",
      "type": "object"
    },
    "UptimeCheckIp": {
      "description": "Contains the region, location, and list of IP addresses where checkers in the location run from.",
      "type": "object",
      "properties": {
        "region": {
          "enumDescriptions": [
            "Default value if no region is specified. Will result in Uptime checks running from all regions.",
            "Allows checks to run from locations within the United States of America.",
            "Allows checks to run from locations within the continent of Europe.",
            "Allows checks to run from locations within the continent of South America.",
            "Allows checks to run from locations within the Asia Pacific area (ex: Singapore)."
          ],
          "enum": [
            "REGION_UNSPECIFIED",
            "USA",
            "EUROPE",
            "SOUTH_AMERICA",
            "ASIA_PACIFIC"
          ],
          "type": "string",
          "description": "A broad region category in which the IP address is located."
        },
        "ipAddress": {
          "description": "The IP address from which the Uptime check originates. This is a fully specified IP address (not an IP address range). Most IP addresses, as of this publication, are in IPv4 format; however, one should not rely on the IP addresses being in IPv4 format indefinitely, and should support interpreting this field in either IPv4 or IPv6 format.",
          "type": "string"
        },
        "location": {
          "description": "A more specific location within the region that typically encodes a particular city/town/metro (and its containing state/province or country) within the broader umbrella region category.",
          "type": "string"
        }
      },
      "id": "UptimeCheckIp"
    },
    "Field": {
      "id": "Field",
      "description": "A single field of a message type.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The field name."
        },
        "jsonName": {
          "type": "string",
          "description": "The field JSON name."
        },
        "oneofIndex": {
          "type": "integer",
          "description": "The index of the field type in Type.oneofs, for message or enumeration types. The first type has index 1; zero means the type is not in the list.",
          "format": "int32"
        },
        "options": {
          "description": "The protocol buffer options.",
          "items": {
            "$ref": "Option"
          },
          "type": "array"
        },
        "number": {
          "format": "int32",
          "description": "The field number.",
          "type": "integer"
        },
        "cardinality": {
          "type": "string",
          "description": "The field cardinality.",
          "enumDescriptions": [
            "For fields with unknown cardinality.",
            "For optional fields.",
            "For required fields. Proto2 syntax only.",
            "For repeated fields."
          ],
          "enum": [
            "CARDINALITY_UNKNOWN",
            "CARDINALITY_OPTIONAL",
            "CARDINALITY_REQUIRED",
            "CARDINALITY_REPEATED"
          ]
        },
        "packed": {
          "type": "boolean",
          "description": "Whether to use alternative packed wire representation."
        },
        "kind": {
          "enum": [
            "TYPE_UNKNOWN",
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "description": "The field type.",
          "type": "string",
          "enumDescriptions": [
            "Field type unknown.",
            "Field type double.",
            "Field type float.",
            "Field type int64.",
            "Field type uint64.",
            "Field type int32.",
            "Field type fixed64.",
            "Field type fixed32.",
            "Field type bool.",
            "Field type string.",
            "Field type group. Proto2 syntax only, and deprecated.",
            "Field type message.",
            "Field type bytes.",
            "Field type uint32.",
            "Field type enum.",
            "Field type sfixed32.",
            "Field type sfixed64.",
            "Field type sint32.",
            "Field type sint64."
          ]
        },
        "defaultValue": {
          "type": "string",
          "description": "The string value of the default value of this field. Proto2 syntax only."
        },
        "typeUrl": {
          "type": "string",
          "description": "The field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com/google.protobuf.Timestamp\"."
        }
      }
    },
    "Documentation": {
      "properties": {
        "mimeType": {
          "description": "The format of the content field. Presently, only the value \"text/markdown\" is supported. See Markdown (https://en.wikipedia.org/wiki/Markdown) for more information.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The text of the documentation, interpreted according to mime_type. The content may not exceed 8,192 Unicode characters and may not exceed more than 10,240 bytes when encoded in UTF-8 format, whichever is smaller."
        }
      },
      "type": "object",
      "description": "A content string and a MIME type that describes the content string's format.",
      "id": "Documentation"
    },
    "TcpCheck": {
      "id": "TcpCheck",
      "type": "object",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The TCP port on the server against which to run the check. Will be combined with host (specified within the monitored_resource) to construct the full URL. Required."
        }
      },
      "description": "Information required for a TCP Uptime check request."
    },
    "GetNotificationChannelVerificationCodeRequest": {
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "The desired expiration time. If specified, the API will guarantee that the returned code will not be valid after the specified timestamp; however, the API cannot guarantee that the returned code will be valid for at least as long as the requested time (the API puts an upper bound on the amount of time for which a code may be valid). If omitted, a default expiration will be used, which may be less than the max permissible expiration (so specifying an expiration may extend the code's lifetime over omitting an expiration, even though the API does impose an upper limit on the maximum expiration that is permitted).",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The GetNotificationChannelVerificationCode request.",
      "id": "GetNotificationChannelVerificationCodeRequest"
    },
    "MeshIstio": {
      "type": "object",
      "properties": {
        "serviceName": {
          "description": "The name of the Istio service underlying this service. Corresponds to the destination_service_name metric label in Istio metrics.",
          "type": "string"
        },
        "meshUid": {
          "type": "string",
          "description": "Identifier for the mesh in which this Istio service is defined. Corresponds to the mesh_uid metric label in Istio metrics."
        },
        "serviceNamespace": {
          "type": "string",
          "description": "The namespace of the Istio service underlying this service. Corresponds to the destination_service_namespace metric label in Istio metrics."
        }
      },
      "description": "Istio service scoped to an Istio mesh",
      "id": "MeshIstio"
    },
    "Telemetry": {
      "description": "Configuration for how to query telemetry on a Service.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The full name of the resource that defines this service. Formatted as described in https://cloud.google.com/apis/design/resource_names."
        }
      },
      "type": "object",
      "id": "Telemetry"
    },
    "MetricRange": {
      "properties": {
        "timeSeries": {
          "type": "string",
          "description": "A monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) specifying the TimeSeries to use for evaluating window quality."
        },
        "range": {
          "description": "Range of values considered \"good.\" For a one-sided range, set one bound to an infinite value.",
          "$ref": "GoogleMonitoringV3Range"
        }
      },
      "type": "object",
      "description": "A MetricRange is used when each window is good when the value x of a single TimeSeries satisfies range.min \u003c= x \u003c range.max. The provided TimeSeries must have ValueType = INT64 or ValueType = DOUBLE and MetricKind = GAUGE.",
      "id": "MetricRange"
    },
    "AppEngine": {
      "id": "AppEngine",
      "properties": {
        "moduleId": {
          "type": "string",
          "description": "The ID of the App Engine module underlying this service. Corresponds to the module_id resource label in the gae_app monitored resource: https://cloud.google.com/monitoring/api/resources#tag_gae_app"
        }
      },
      "type": "object",
      "description": "App Engine service. Learn more at https://cloud.google.com/appengine."
    },
    "Metric": {
      "type": "object",
      "id": "Metric",
      "description": "A specific metric, identified by specifying values for all of the labels of a MetricDescriptor.",
      "properties": {
        "labels": {
          "description": "The set of label values that uniquely identify this metric. All labels listed in the MetricDescriptor must be assigned values.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "An existing metric type, see google.api.MetricDescriptor. For example, custom.googleapis.com/invoice/paid/amount.",
          "type": "string"
        }
      }
    },
    "ListServiceLevelObjectivesResponse": {
      "id": "ListServiceLevelObjectivesResponse",
      "type": "object",
      "description": "The ListServiceLevelObjectives response.",
      "properties": {
        "serviceLevelObjectives": {
          "description": "The ServiceLevelObjectives matching the specified filter.",
          "items": {
            "$ref": "ServiceLevelObjective"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method."
        }
      }
    },
    "Point": {
      "properties": {
        "value": {
          "$ref": "TypedValue",
          "description": "The value of the data point."
        },
        "interval": {
          "$ref": "TimeInterval",
          "description": "The time interval to which the data point applies. For GAUGE metrics, the start time is optional, but if it is supplied, it must equal the end time. For DELTA metrics, the start and end time should specify a non-zero interval, with subsequent points specifying contiguous and non-overlapping intervals. For CUMULATIVE metrics, the start and end time should specify a non-zero interval, with subsequent points specifying the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
        }
      },
      "description": "A single data point in a time series.",
      "id": "Point",
      "type": "object"
    },
    "TimeSeriesRatio": {
      "properties": {
        "goodServiceFilter": {
          "description": "A monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) specifying a TimeSeries quantifying good service provided. Must have ValueType = DOUBLE or ValueType = INT64 and must have MetricKind = DELTA or MetricKind = CUMULATIVE.",
          "type": "string"
        },
        "totalServiceFilter": {
          "type": "string",
          "description": "A monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) specifying a TimeSeries quantifying total demanded service. Must have ValueType = DOUBLE or ValueType = INT64 and must have MetricKind = DELTA or MetricKind = CUMULATIVE."
        },
        "badServiceFilter": {
          "description": "A monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) specifying a TimeSeries quantifying bad service, either demanded service that was not provided or demanded service that was of inadequate quality. Must have ValueType = DOUBLE or ValueType = INT64 and must have MetricKind = DELTA or MetricKind = CUMULATIVE.",
          "type": "string"
        }
      },
      "description": "A TimeSeriesRatio specifies two TimeSeries to use for computing the good_service / total_service ratio. The specified TimeSeries must have ValueType = DOUBLE or ValueType = INT64 and must have MetricKind = DELTA or MetricKind = CUMULATIVE. The TimeSeriesRatio must specify exactly two of good, bad, and total, and the relationship good_service + bad_service = total_service will be assumed.",
      "id": "TimeSeriesRatio",
      "type": "object"
    },
    "ListUptimeCheckConfigsResponse": {
      "type": "object",
      "id": "ListUptimeCheckConfigsResponse",
      "description": "The protocol for the ListUptimeCheckConfigs response.",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total number of Uptime check configurations for the project, irrespective of any pagination.",
          "type": "integer"
        },
        "uptimeCheckConfigs": {
          "type": "array",
          "items": {
            "$ref": "UptimeCheckConfig"
          },
          "description": "The returned Uptime check configurations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "This field represents the pagination token to retrieve the next page of results. If the value is empty, it means no further results for the request. To retrieve the next page of results, the value of the next_page_token is passed to the subsequent List method call (in the request message's page_token field)."
        }
      }
    },
    "ClusterIstio": {
      "id": "ClusterIstio",
      "properties": {
        "serviceNamespace": {
          "type": "string",
          "description": "The namespace of the Istio service underlying this service. Corresponds to the destination_service_namespace metric label in Istio metrics."
        },
        "clusterName": {
          "description": "The name of the Kubernetes cluster in which this Istio service is defined. Corresponds to the cluster_name resource label in k8s_cluster resources.",
          "type": "string"
        },
        "serviceName": {
          "type": "string",
          "description": "The name of the Istio service underlying this service. Corresponds to the destination_service_name metric label in Istio metrics."
        },
        "location": {
          "description": "The location of the Kubernetes cluster in which this Istio service is defined. Corresponds to the location resource label in k8s_cluster resources.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Istio service scoped to a single Kubernetes cluster. Learn more at http://istio.io."
    },
    "TimeInterval": {
      "description": "A closed time interval. It extends from the start time to the end time, and includes both: [startTime, endTime]. Valid time intervals depend on the MetricKind of the metric value. The end time must not be earlier than the start time. When writing data points, the start time must not be more than 25 hours in the past and the end time must not be more than five minutes in the future. For GAUGE metrics, the startTime value is technically optional; if no value is specified, the start time defaults to the value of the end time, and the interval represents a single point in time. If both start and end times are specified, they must be identical. Such an interval is valid only for GAUGE metrics, which are point-in-time measurements. The end time of a new interval must be at least a millisecond after the end time of the previous interval. For DELTA metrics, the start time and end time must specify a non-zero interval, with subsequent points specifying contiguous and non-overlapping intervals. For DELTA metrics, the start time of the next interval must be at least a millisecond after the end time of the previous interval. For CUMULATIVE metrics, the start time and end time must specify a a non-zero interval, with subsequent points specifying the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points. The new start time must be at least a millisecond after the end time of the previous interval. The start time of a new interval must be at least a millisecond after the end time of the previous interval because intervals are closed. If the start time of a new interval is the same as the end time of the previous interval, then data written at the new start time could overwrite data written at the previous end time.",
      "id": "TimeInterval",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time."
        },
        "endTime": {
          "description": "Required. The end of the time interval.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ResourceGroup": {
      "id": "ResourceGroup",
      "description": "The resource submessage for group checks. It can be used instead of a monitored resource, when multiple resources are being monitored.",
      "properties": {
        "resourceType": {
          "enumDescriptions": [
            "Default value (not valid).",
            "A group of instances from Google Cloud Platform (GCP) or Amazon Web Services (AWS).",
            "A group of Amazon ELB load balancers."
          ],
          "description": "The resource type of the group members.",
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "INSTANCE",
            "AWS_ELB_LOAD_BALANCER"
          ]
        },
        "groupId": {
          "type": "string",
          "description": "The group of resources being monitored. Should be only the [GROUP_ID], and not the full-path projects/[PROJECT_ID_OR_NUMBER]/groups/[GROUP_ID]."
        }
      },
      "type": "object"
    },
    "BasicAuthentication": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "The username to use when authenticating with the HTTP server."
        },
        "password": {
          "description": "The password to use when authenticating with the HTTP server.",
          "type": "string"
        }
      },
      "description": "The authentication parameters to provide to the specified resource or URL that requires a username and password. Currently, only Basic HTTP authentication (https://tools.ietf.org/html/rfc7617) is supported in Uptime checks.",
      "id": "BasicAuthentication"
    },
    "MetricDescriptorMetadata": {
      "type": "object",
      "id": "MetricDescriptorMetadata",
      "properties": {
        "samplePeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period."
        },
        "ingestDelay": {
          "type": "string",
          "description": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors.",
          "format": "google-duration"
        },
        "launchStage": {
          "description": "Deprecated. Must use the MetricDescriptor.launch_stage instead.",
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects whitelisted. Alpha releases don’t have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the “Deprecation Policy” section of our Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Platform Subject to the Deprecation Policy (https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        }
      },
      "description": "Additional annotations that can be used to guide the usage of a metric."
    },
    "GoogleMonitoringV3Range": {
      "properties": {
        "min": {
          "description": "Range minimum.",
          "type": "number",
          "format": "double"
        },
        "max": {
          "type": "number",
          "format": "double",
          "description": "Range maximum."
        }
      },
      "description": "Range of numerical values, inclusive of min and exclusive of max. If the open range \"\u003c range.max\" is desired, set range.min = -infinity. If the open range \"\u003e= range.min\" is desired, set range.max = infinity.",
      "id": "GoogleMonitoringV3Range",
      "type": "object"
    },
    "WindowsBasedSli": {
      "type": "object",
      "properties": {
        "goodTotalRatioThreshold": {
          "$ref": "PerformanceThreshold",
          "description": "A window is good if its performance is high enough."
        },
        "windowPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration over which window quality is evaluated. Must be an integer fraction of a day and at least 60s."
        },
        "metricMeanInRange": {
          "$ref": "MetricRange",
          "description": "A window is good if the metric's value is in a good range, averaged across returned streams."
        },
        "goodBadMetricFilter": {
          "type": "string",
          "description": "A monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) specifying a TimeSeries with ValueType = BOOL. The window is good if any true values appear in the window."
        },
        "metricSumInRange": {
          "$ref": "MetricRange",
          "description": "A window is good if the metric's value is in a good range, summed across returned streams."
        }
      },
      "id": "WindowsBasedSli",
      "description": "A WindowsBasedSli defines good_service as the count of time windows for which the provided service was of good quality. Criteria for determining if service was good are embedded in the window_criterion."
    },
    "ListNotificationChannelDescriptorsResponse": {
      "id": "ListNotificationChannelDescriptorsResponse",
      "type": "object",
      "properties": {
        "channelDescriptors": {
          "type": "array",
          "items": {
            "$ref": "NotificationChannelDescriptor"
          },
          "description": "The monitored resource descriptors supported for the specified project, optionally filtered."
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more results that match the request. Use the value in the page_token field in a subsequent request to fetch the next set of results. If empty, all results have been returned.",
          "type": "string"
        }
      },
      "description": "The ListNotificationChannelDescriptors response."
    },
    "TimeSeriesData": {
      "properties": {
        "pointData": {
          "items": {
            "$ref": "PointData"
          },
          "type": "array",
          "description": "The points in the time series."
        },
        "labelValues": {
          "items": {
            "$ref": "LabelValue"
          },
          "description": "The values of the labels in the time series identifier, given in the same order as the label_descriptors field of the TimeSeriesDescriptor associated with this object. Each value must have a value of the type given in the corresponding entry of label_descriptors.",
          "type": "array"
        }
      },
      "description": "Represents the values of a time series associated with a TimeSeriesDescriptor.",
      "id": "TimeSeriesData",
      "type": "object"
    },
    "PointData": {
      "id": "PointData",
      "description": "A point's value columns and time interval. Each point has one or more point values corresponding to the entries in point_descriptors field in the TimeSeriesDescriptor associated with this object.",
      "properties": {
        "timeInterval": {
          "$ref": "TimeInterval",
          "description": "The time interval associated with the point."
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "TypedValue"
          },
          "description": "The values that make up the point."
        }
      },
      "type": "object"
    },
    "SendNotificationChannelVerificationCodeRequest": {
      "description": "The SendNotificationChannelVerificationCode request.",
      "properties": {},
      "type": "object",
      "id": "SendNotificationChannelVerificationCodeRequest"
    },
    "VerifyNotificationChannelRequest": {
      "id": "VerifyNotificationChannelRequest",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Required. The verification code that was delivered to the channel as a result of invoking the SendNotificationChannelVerificationCode API method or that was retrieved from a verified channel via GetNotificationChannelVerificationCode. For example, one might have \"G-123456\" or \"TKNZGhhd2EyN3I1MnRnMjRv\" (in general, one is only guaranteed that the code is valid UTF-8; one should not make any assumptions regarding the structure or format of the code)."
        }
      },
      "description": "The VerifyNotificationChannel request."
    },
    "Explicit": {
      "id": "Explicit",
      "type": "object",
      "description": "Specifies a set of buckets with arbitrary widths.There are size(bounds) + 1 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): boundsi Lower bound (1 \u003c= i \u003c N); boundsi - 1The bounds field must contain at least one element. If bounds has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
      "properties": {
        "bounds": {
          "type": "array",
          "description": "The values must be monotonically increasing.",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      }
    },
    "Exponential": {
      "type": "object",
      "properties": {
        "growthFactor": {
          "description": "Must be greater than 1.",
          "format": "double",
          "type": "number"
        },
        "scale": {
          "type": "number",
          "format": "double",
          "description": "Must be greater than 0."
        },
        "numFiniteBuckets": {
          "type": "integer",
          "format": "int32",
          "description": "Must be greater than 0."
        }
      },
      "description": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 \u003c= i \u003c N-1): scale * (growth_factor ^ i). Lower bound (1 \u003c= i \u003c N): scale * (growth_factor ^ (i - 1)).",
      "id": "Exponential"
    },
    "Error": {
      "type": "object",
      "description": "Detailed information about an error category.",
      "properties": {
[...]
