{
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/monitoring.write": {
          "description": "Publish metric data to your Google Cloud projects"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/monitoring": {
          "description": "View and write monitoring data for all of your Google and third-party Cloud and API projects"
        },
        "https://www.googleapis.com/auth/monitoring.read": {
          "description": "View monitoring data for all of your Google Cloud and third-party projects"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/monitoring/api/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "canonicalName": "Monitoring",
  "version": "v1",
  "description": "Manages your Cloud Monitoring data and configurations.",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "version_module": true,
  "title": "Cloud Monitoring API",
  "schemas": {
    "StatisticalTimeSeriesFilter": {
      "properties": {
        "rankingMethod": {
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "Compute the outlier score of each stream."
          ],
          "description": "rankingMethod is applied to a set of time series, and then the produced value for each individual time series is used to compare a given time series to others. These are methods that cannot be applied stream-by-stream, but rather require the full context of a request to evaluate time series.",
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "METHOD_CLUSTER_OUTLIER"
          ]
        },
        "numTimeSeries": {
          "type": "integer",
          "format": "int32",
          "description": "How many time series to output."
        }
      },
      "description": "A filter that ranks streams based on their statistical relation to other streams in a request. Note: This field is deprecated and completely ignored by the API.",
      "type": "object",
      "id": "StatisticalTimeSeriesFilter"
    },
    "Field": {
      "properties": {
        "typeUrl": {
          "type": "string",
          "description": "The field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com/google.protobuf.Timestamp\"."
        },
        "options": {
          "description": "The protocol buffer options.",
          "items": {
            "$ref": "Option"
          },
          "type": "array"
        },
        "defaultValue": {
          "description": "The string value of the default value of this field. Proto2 syntax only.",
          "type": "string"
        },
        "jsonName": {
          "description": "The field JSON name.",
          "type": "string"
        },
        "cardinality": {
          "enum": [
            "CARDINALITY_UNKNOWN",
            "CARDINALITY_OPTIONAL",
            "CARDINALITY_REQUIRED",
            "CARDINALITY_REPEATED"
          ],
          "enumDescriptions": [
            "For fields with unknown cardinality.",
            "For optional fields.",
            "For required fields. Proto2 syntax only.",
            "For repeated fields."
          ],
          "type": "string",
          "description": "The field cardinality."
        },
        "packed": {
          "description": "Whether to use alternative packed wire representation.",
          "type": "boolean"
        },
        "kind": {
          "enumDescriptions": [
            "Field type unknown.",
            "Field type double.",
            "Field type float.",
            "Field type int64.",
            "Field type uint64.",
            "Field type int32.",
            "Field type fixed64.",
            "Field type fixed32.",
            "Field type bool.",
            "Field type string.",
            "Field type group. Proto2 syntax only, and deprecated.",
            "Field type message.",
            "Field type bytes.",
            "Field type uint32.",
            "Field type enum.",
            "Field type sfixed32.",
            "Field type sfixed64.",
            "Field type sint32.",
            "Field type sint64."
          ],
          "enum": [
            "TYPE_UNKNOWN",
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "type": "string",
          "description": "The field type."
        },
        "number": {
          "description": "The field number.",
          "type": "integer",
          "format": "int32"
        },
        "oneofIndex": {
          "type": "integer",
          "description": "The index of the field type in Type.oneofs, for message or enumeration types. The first type has index 1; zero means the type is not in the list.",
          "format": "int32"
        },
        "name": {
          "description": "The field name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Field",
      "description": "A single field of a message type."
    },
    "Aggregation": {
      "type": "object",
      "properties": {
        "groupByFields": {
          "items": {
            "type": "string"
          },
          "description": "The set of fields to preserve when cross_series_reducer is specified. The group_by_fields determine how the time series are partitioned into subsets prior to applying the aggregation operation. Each subset contains time series that have the same value for each of the grouping fields. Each individual time series is a member of exactly one subset. The cross_series_reducer is applied to each subset of time series. It is not possible to reduce across different resource types, so this field implicitly contains resource.type. Fields not specified in group_by_fields are aggregated away. If group_by_fields is not specified and all the time series have the same resource type, then the time series are aggregated into a single output time series. If cross_series_reducer is not defined, this field is ignored.",
          "type": "array"
        },
        "alignmentPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "The alignment_period specifies a time interval, in seconds, that is used to divide the data in all the time series into consistent blocks of time. This will be done before the per-series aligner can be applied to the data.The value must be at least 60 seconds. If a per-series aligner other than ALIGN_NONE is specified, this field is required or an error is returned. If no per-series aligner is specified, or the aligner ALIGN_NONE is specified, then this field is ignored.The maximum value of the alignment_period is 2 years, or 104 weeks."
        },
        "perSeriesAligner": {
          "description": "An Aligner describes how to bring the data points in a single time series into temporal alignment. Except for ALIGN_NONE, all alignments cause all the data points in an alignment_period to be mathematically grouped together, resulting in a single data point for each alignment_period with end timestamp at the end of the period.Not all alignment operations may be applied to all time series. The valid choices depend on the metric_kind and value_type of the original time series. Alignment can change the metric_kind or the value_type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified and not equal to ALIGN_NONE and alignment_period must be specified; otherwise, an error is returned.",
          "enum": [
            "ALIGN_NONE",
            "ALIGN_DELTA",
            "ALIGN_RATE",
            "ALIGN_INTERPOLATE",
            "ALIGN_NEXT_OLDER",
            "ALIGN_MIN",
            "ALIGN_MAX",
            "ALIGN_MEAN",
            "ALIGN_COUNT",
            "ALIGN_SUM",
            "ALIGN_STDDEV",
            "ALIGN_COUNT_TRUE",
            "ALIGN_COUNT_FALSE",
            "ALIGN_FRACTION_TRUE",
            "ALIGN_PERCENTILE_99",
            "ALIGN_PERCENTILE_95",
            "ALIGN_PERCENTILE_50",
            "ALIGN_PERCENTILE_05",
            "ALIGN_PERCENT_CHANGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "No alignment. Raw data is returned. Not valid if cross-series reduction is requested. The value_type of the result is the same as the value_type of the input.",
            "Align and convert to DELTA. The output is delta = y1 - y0.This alignment is valid for CUMULATIVE and DELTA metrics. If the selected alignment period results in periods with no data, then the aligned value for such a period is created by interpolation. The value_type of the aligned result is the same as the value_type of the input.",
            "Align and convert to a rate. The result is computed as rate = (y1 - y0)/(t1 - t0), or \"delta over time\". Think of this aligner as providing the slope of the line that passes through the value at the start and at the end of the alignment_period.This aligner is valid for CUMULATIVE and DELTA metrics with numeric values. If the selected alignment period results in periods with no data, then the aligned value for such a period is created by interpolation. The output is a GAUGE metric with value_type DOUBLE.If, by \"rate\", you mean \"percentage change\", see the ALIGN_PERCENT_CHANGE aligner instead.",
            "Align by interpolating between adjacent points around the alignment period boundary. This aligner is valid for GAUGE metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align by moving the most recent data point before the end of the alignment period to the boundary at the end of the alignment period. This aligner is valid for GAUGE metrics. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the minimum value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the maximum value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the mean value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is DOUBLE.",
            "Align the time series by returning the number of values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric or Boolean values. The value_type of the aligned result is INT64.",
            "Align the time series by returning the sum of the values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric and distribution values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the standard deviation of the values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the output is DOUBLE.",
            "Align the time series by returning the number of True values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The value_type of the output is INT64.",
            "Align the time series by returning the number of False values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The value_type of the output is INT64.",
            "Align the time series by returning the ratio of the number of True values to the total number of values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The output value is in the range 0.0, 1.0 and has value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 99th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 95th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 50th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 5th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align and convert to a percentage change. This aligner is valid for GAUGE and DELTA metrics with numeric values. This alignment returns ((current - previous)/previous) * 100, where the value of previous is determined based on the alignment_period.If the values of current and previous are both 0, then the returned value is 0. If only previous is 0, the returned value is infinity.A 10-minute moving mean is computed at each point of the alignment period prior to the above calculation to smooth the metric and prevent false positives from very short-lived spikes. The moving mean is only applicable for data whose values are \u003e= 0. Any values \u003c 0 are treated as a missing datapoint, and are ignored. While DELTA metrics are accepted by this alignment, special care should be taken that the values for the metric will always be positive. The output is a GAUGE metric with value_type DOUBLE."
          ]
        },
        "crossSeriesReducer": {
          "enumDescriptions": [
            "No cross-time series reduction. The output of the Aligner is returned.",
            "Reduce by computing the mean value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric or distribution values. The value_type of the output is DOUBLE.",
            "Reduce by computing the minimum value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the maximum value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the sum across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric and distribution values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the standard deviation across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric or distribution values. The value_type of the output is DOUBLE.",
            "Reduce by computing the number of data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of numeric, Boolean, distribution, and string value_type. The value_type of the output is INT64.",
            "Reduce by computing the number of True-valued data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The value_type of the output is INT64.",
            "Reduce by computing the number of False-valued data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The value_type of the output is INT64.",
            "Reduce by computing the ratio of the number of True-valued data points to the total number of data points for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The output value is in the range 0.0, 1.0 and has value_type DOUBLE.",
            "Reduce by computing the 99th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 95th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 50th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 5th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE."
          ],
          "description": "The reduction operation to be used to combine time series into a single time series, where the value of each data point in the resulting series is a function of all the already aligned values in the input time series.Not all reducer operations can be applied to all time series. The valid choices depend on the metric_kind and the value_type of the original time series. Reduction can yield a time series with a different metric_kind or value_type than the input time series.Time series data must first be aligned (see per_series_aligner) in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified, and must not be ALIGN_NONE. An alignment_period must also be specified; otherwise, an error is returned.",
          "type": "string",
          "enum": [
            "REDUCE_NONE",
            "REDUCE_MEAN",
            "REDUCE_MIN",
            "REDUCE_MAX",
            "REDUCE_SUM",
            "REDUCE_STDDEV",
            "REDUCE_COUNT",
            "REDUCE_COUNT_TRUE",
            "REDUCE_COUNT_FALSE",
            "REDUCE_FRACTION_TRUE",
            "REDUCE_PERCENTILE_99",
            "REDUCE_PERCENTILE_95",
            "REDUCE_PERCENTILE_50",
            "REDUCE_PERCENTILE_05"
          ]
        }
      },
      "description": "Describes how to combine multiple time series to provide a different view of the data. Aggregation of time series is done in two steps. First, each time series in the set is aligned to the same time interval boundaries, then the set of time series is optionally reduced in number.Alignment consists of applying the per_series_aligner operation to each time series after its data has been divided into regular alignment_period time intervals. This process takes all of the data points in an alignment period, applies a mathematical transformation such as averaging, minimum, maximum, delta, etc., and converts them into a single data point per period.Reduction is when the aligned and transformed time series can optionally be combined, reducing the number of time series through similar mathematical transformations. Reduction involves applying a cross_series_reducer to all the time series, optionally sorting the time series into subsets with group_by_fields, and applying the reducer to each subset.The raw time series data can contain a huge amount of information from multiple sources. Alignment and reduction transforms this mass of data into a more manageable and representative collection of data, for example \"the 95% latency across the average of all tasks in a cluster\". This representative data can be more easily graphed and comprehended, and the individual time series data is still available for later drilldown. For more details, see Filtering and aggregation (https://cloud.google.com/monitoring/api/v3/aggregation).",
      "id": "Aggregation"
    },
    "LogsPanel": {
      "id": "LogsPanel",
      "type": "object",
      "description": "A widget that displays a stream of log.",
      "properties": {
        "resourceNames": {
          "description": "The names of logging resources to collect logs for. Currently only projects are supported. If empty, the widget will default to the host project.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "description": "A filter that chooses which log entries to return. See Advanced Logs Queries (https://cloud.google.com/logging/docs/view/advanced-queries). Only log entries that match the filter are returned. An empty filter matches all log entries.",
          "type": "string"
        }
      }
    },
    "Column": {
      "type": "object",
      "properties": {
        "widgets": {
          "description": "The display widgets arranged vertically in this column.",
          "type": "array",
          "items": {
            "$ref": "Widget"
          }
        },
        "weight": {
          "description": "The relative weight of this column. The column weight is used to adjust the width of columns on the screen (relative to peers). Greater the weight, greater the width of the column on the screen. If omitted, a value of 1 is used while rendering.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Defines the layout properties and content for a column.",
      "id": "Column"
    },
    "DashboardFilter": {
      "properties": {
        "templateVariable": {
          "description": "The placeholder text that can be referenced in a filter string or MQL query. If omitted, the dashboard filter will be applied to all relevant widgets in the dashboard.",
          "type": "string"
        },
        "filterType": {
          "type": "string",
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "RESOURCE_LABEL",
            "METRIC_LABEL",
            "USER_METADATA_LABEL",
            "SYSTEM_METADATA_LABEL",
            "GROUP"
          ],
          "enumDescriptions": [
            "Filter type is unspecified. This is not valid in a well-formed request.",
            "Filter on a resource label value",
            "Filter on a metrics label value",
            "Filter on a user metadata label value",
            "Filter on a system metadata label value",
            "Filter on a group id"
          ],
          "description": "The specified filter type"
        },
        "labelKey": {
          "description": "Required. The key for the label",
          "type": "string"
        },
        "stringValue": {
          "description": "A variable-length string value.",
          "type": "string"
        }
      },
      "id": "DashboardFilter",
      "description": "A filter to reduce the amount of data charted in relevant widgets.",
      "type": "object"
    },
    "DroppedLabels": {
      "type": "object",
      "properties": {
        "label": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map from label to its value, for all labels dropped in any aggregation."
        }
      },
      "id": "DroppedLabels",
      "description": "A set of (label, value) pairs that were removed from a Distribution time series during aggregation and then added as an attachment to a Distribution.Exemplar.The full label set for the exemplars is constructed by using the dropped pairs in combination with the label values that remain on the aggregated Distribution time series. The constructed full label set can be used to identify the specific entity, such as the instance or job, which might be contributing to a long-tail. However, with dropped labels, the storage requirements are reduced because only the aggregated distribution values for a large group of time series are stored.Note that there are no guarantees on ordering of the labels from exemplar-to-exemplar and from distribution-to-distribution in the same stream, and there may be duplicates. It is up to clients to resolve any ambiguities."
    },
    "Option": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The option's name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, \"map_entry\". For custom options, it should be the fully-qualified name. For example, \"google.api.http\".",
          "type": "string"
        }
      },
      "description": "A protocol buffer option, which can be attached to a message, field, enumeration, etc.",
      "id": "Option"
    },
    "CollapsibleGroup": {
      "description": "A widget that groups the other widgets. All widgets that are within the area spanned by the grouping widget are considered member widgets.",
      "properties": {
        "collapsed": {
          "type": "boolean",
          "description": "The collapsed state of the widget on first page load."
        }
      },
      "type": "object",
      "id": "CollapsibleGroup"
    },
    "HttpBody": {
      "properties": {
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The HTTP request/response body as raw binary."
        }
      },
      "id": "HttpBody",
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page.This message can be used both in streaming and non-streaming API methods in the request as well as the response.It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body.Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "PickTimeSeriesFilter": {
      "type": "object",
      "properties": {
        "rankingMethod": {
          "type": "string",
          "enumDescriptions": [
            "Not allowed. You must specify a different Method if you specify a PickTimeSeriesFilter.",
            "Select the mean of all values.",
            "Select the maximum value.",
            "Select the minimum value.",
            "Compute the sum of all values.",
            "Select the most recent value."
          ],
          "description": "ranking_method is applied to each time series independently to produce the value which will be used to compare the time series to other time series.",
          "enum": [
            "METHOD_UNSPECIFIED",
            "METHOD_MEAN",
            "METHOD_MAX",
            "METHOD_MIN",
            "METHOD_SUM",
            "METHOD_LATEST"
          ]
        },
        "direction": {
          "enumDescriptions": [
            "Not allowed. You must specify a different Direction if you specify a PickTimeSeriesFilter.",
            "Pass the highest num_time_series ranking inputs.",
            "Pass the lowest num_time_series ranking inputs."
          ],
          "description": "How to use the ranking to select time series that pass through the filter.",
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "TOP",
            "BOTTOM"
          ]
        },
        "numTimeSeries": {
          "description": "How many time series to allow to pass through the filter.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Describes a ranking-based time series filter. Each input time series is ranked with an aligner. The filter will allow up to num_time_series time series to pass through it, selecting them based on the relative ranking.For example, if ranking_method is METHOD_MEAN,direction is BOTTOM, and num_time_series is 3, then the 3 times series with the lowest mean values will pass through the filter.",
      "id": "PickTimeSeriesFilter"
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
    },
    "Tile": {
      "description": "A single tile in the mosaic. The placement and size of the tile are configurable.",
      "type": "object",
      "id": "Tile",
      "properties": {
        "widget": {
          "$ref": "Widget",
          "description": "The informational widget contained in the tile. For example an XyChart."
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the tile, measured in grid blocks. Tiles must have a minimum width of 1."
        },
        "yPos": {
          "format": "int32",
          "description": "The zero-indexed position of the tile in grid blocks relative to the top edge of the grid. y_pos cannot be negative.",
          "type": "integer"
        },
        "xPos": {
          "description": "The zero-indexed position of the tile in grid blocks relative to the left edge of the grid. Tiles must be contained within the specified number of columns. x_pos cannot be negative.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "format": "int32",
          "description": "The height of the tile, measured in grid blocks. Tiles must have a minimum height of 1.",
          "type": "integer"
        }
      }
    },
    "TimeSeriesQuery": {
      "description": "TimeSeriesQuery collects the set of supported methods for querying time series data from the Stackdriver metrics API.",
      "type": "object",
      "id": "TimeSeriesQuery",
      "properties": {
        "prometheusQuery": {
          "description": "A query used to fetch time series with PromQL.",
          "type": "string"
        },
        "timeSeriesFilter": {
          "description": "Filter parameters to fetch time series.",
          "$ref": "TimeSeriesFilter"
        },
        "timeSeriesQueryLanguage": {
          "description": "A query used to fetch time series with MQL.",
          "type": "string"
        },
        "timeSeriesFilterRatio": {
          "description": "Parameters to fetch a ratio between two time series filters.",
          "$ref": "TimeSeriesFilterRatio"
        },
        "unitOverride": {
          "type": "string",
          "description": "The unit of data contained in fetched time series. If non-empty, this unit will override any unit that accompanies fetched data. The format is the same as the unit (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors) field in MetricDescriptor."
        }
      }
    },
    "IncidentList": {
      "description": "A widget that displays a list of incidents",
      "id": "IncidentList",
      "type": "object",
      "properties": {
        "policyNames": {
          "description": "Optional. A list of alert policy names to filter the incident list by. Don't include the project ID prefix in the policy name. For example, use alertPolicies/utilization.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "monitoredResources": {
          "description": "Optional. The monitored resource for which incidents are listed. The resource doesn't need to be fully specified. That is, you can specify the resource type but not the values of the resource labels. The resource type and labels are used for filtering.",
          "type": "array",
          "items": {
            "$ref": "MonitoredResource"
          }
        }
      }
    },
    "SpanContext": {
      "type": "object",
      "properties": {
        "spanName": {
          "description": "The resource name of the span. The format is: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID] [TRACE_ID] is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array.[SPAN_ID] is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array.",
          "type": "string"
        }
      },
      "id": "SpanContext",
      "description": "The context of a span. This is attached to an Exemplar in Distribution values during aggregation.It contains the name of a span with format: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID] "
    },
    "TimeSeriesFilterRatio": {
      "type": "object",
      "properties": {
        "numerator": {
          "description": "The numerator of the ratio.",
          "$ref": "RatioPart"
        },
        "secondaryAggregation": {
          "$ref": "Aggregation",
          "description": "Apply a second aggregation after the ratio is computed."
        },
        "statisticalTimeSeriesFilter": {
          "deprecated": true,
          "$ref": "StatisticalTimeSeriesFilter",
          "description": "Statistics based time series filter. Note: This field is deprecated and completely ignored by the API."
        },
        "pickTimeSeriesFilter": {
          "$ref": "PickTimeSeriesFilter",
          "description": "Ranking based time series filter."
        },
        "denominator": {
          "$ref": "RatioPart",
          "description": "The denominator of the ratio."
        }
      },
      "description": "A pair of time series filters that define a ratio computation. The output time series is the pair-wise division of each aligned element from the numerator and denominator time series.",
      "id": "TimeSeriesFilterRatio"
    },
    "QueryRangeRequest": {
      "description": "QueryRangeRequest holds all parameters of the Prometheus upstream range query API plus GCM specific parameters.",
      "type": "object",
      "id": "QueryRangeRequest",
      "properties": {
        "end": {
          "type": "string",
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "query": {
          "type": "string",
          "description": "A PromQL query string. Query lanauge documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/."
        },
        "step": {
          "description": "The resolution of query result. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field.",
          "type": "string"
        },
        "start": {
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "timeout": {
          "description": "An upper bound timeout for the query. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field.",
          "type": "string"
        }
      }
    },
    "GaugeView": {
      "properties": {
        "lowerBound": {
          "description": "The lower bound for this gauge chart. The value of the chart should always be greater than or equal to this.",
          "type": "number",
          "format": "double"
        },
        "upperBound": {
          "format": "double",
          "type": "number",
          "description": "The upper bound for this gauge chart. The value of the chart should always be less than or equal to this."
        }
      },
      "id": "GaugeView",
      "type": "object",
      "description": "A gauge chart shows where the current value sits within a pre-defined range. The upper and lower bounds should define the possible range of values for the scorecard's query (inclusive)."
    },
    "Scorecard": {
      "description": "A widget showing the latest value of a metric, and how this value relates to one or more thresholds.",
      "id": "Scorecard",
      "properties": {
        "timeSeriesQuery": {
          "$ref": "TimeSeriesQuery",
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API."
        },
        "sparkChartView": {
          "$ref": "SparkChartView",
          "description": "Will cause the scorecard to show a spark chart."
        },
        "thresholds": {
          "type": "array",
          "description": "The thresholds used to determine the state of the scorecard given the time series' current value. For an actual value x, the scorecard is in a danger state if x is less than or equal to a danger threshold that triggers below, or greater than or equal to a danger threshold that triggers above. Similarly, if x is above/below a warning threshold that triggers above/below, then the scorecard is in a warning state - unless x also puts it in a danger state. (Danger trumps warning.)As an example, consider a scorecard with the following four thresholds: { value: 90, category: 'DANGER', trigger: 'ABOVE', }, { value: 70, category: 'WARNING', trigger: 'ABOVE', }, { value: 10, category: 'DANGER', trigger: 'BELOW', }, { value: 20, category: 'WARNING', trigger: 'BELOW', } Then: values less than or equal to 10 would put the scorecard in a DANGER state, values greater than 10 but less than or equal to 20 a WARNING state, values strictly between 20 and 70 an OK state, values greater than or equal to 70 but less than 90 a WARNING state, and values greater than or equal to 90 a DANGER state.",
          "items": {
            "$ref": "Threshold"
          }
        },
        "gaugeView": {
          "description": "Will cause the scorecard to show a gauge chart.",
          "$ref": "GaugeView"
        }
      },
      "type": "object"
    },
    "GridLayout": {
      "properties": {
        "widgets": {
          "type": "array",
          "description": "The informational elements that are arranged into the columns row-first.",
          "items": {
            "$ref": "Widget"
          }
        },
        "columns": {
          "type": "string",
          "description": "The number of columns into which the view's width is divided. If omitted or set to zero, a system default will be used while rendering.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GridLayout",
      "description": "A basic layout divides the available space into vertical columns of equal width and arranges a list of widgets using a row-first strategy."
    },
    "MosaicLayout": {
      "description": "A mosaic layout divides the available space into a grid of blocks, and overlays the grid with tiles. Unlike GridLayout, tiles may span multiple grid blocks and can be placed at arbitrary locations in the grid.",
      "id": "MosaicLayout",
      "properties": {
        "tiles": {
          "type": "array",
          "items": {
            "$ref": "Tile"
          },
          "description": "The tiles to display."
        },
        "columns": {
          "description": "The number of columns in the mosaic grid. The number of columns must be between 1 and 12, inclusive.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "QueryExemplarsRequest": {
      "description": "QueryExemplarsRequest holds all parameters of the Prometheus upstream API for querying exemplars.",
      "properties": {
        "start": {
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "query": {
          "description": "A PromQL query string. Query lanauge documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/.",
          "type": "string"
        }
      },
      "id": "QueryExemplarsRequest",
      "type": "object"
    },
    "QueryInstantRequest": {
      "description": "QueryInstantRequest holds all parameters of the Prometheus upstream instant query API plus GCM specific parameters.",
      "id": "QueryInstantRequest",
      "type": "object",
      "properties": {
        "time": {
          "description": "The single point in time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "description": "An upper bound timeout for the query. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field."
        },
        "query": {
          "description": "A PromQL query string. Query lanauge documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/.",
          "type": "string"
        }
      }
    },
    "Axis": {
      "type": "object",
      "id": "Axis",
      "description": "A chart axis.",
      "properties": {
        "scale": {
          "enum": [
            "SCALE_UNSPECIFIED",
            "LINEAR",
            "LOG10"
          ],
          "enumDescriptions": [
            "Scale is unspecified. The view will default to LINEAR.",
            "Linear scale.",
            "Logarithmic scale (base 10)."
          ],
          "type": "string",
          "description": "The axis scale. By default, a linear scale is used."
        },
        "label": {
          "description": "The label of the axis.",
          "type": "string"
        }
      }
    },
    "Text": {
      "description": "A widget that displays textual content.",
      "type": "object",
      "properties": {
        "format": {
          "description": "How the text content is formatted.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "MARKDOWN",
            "RAW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Format is unspecified. Defaults to MARKDOWN.",
            "The text contains Markdown formatting.",
            "The text contains no special formatting."
          ]
        },
        "content": {
          "description": "The text content to be displayed.",
          "type": "string"
        }
      },
      "id": "Text"
    },
    "TimeSeriesFilter": {
      "description": "A filter that defines a subset of time series data that is displayed in a widget. Time series data is fetched using the ListTimeSeries (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list) method.",
      "id": "TimeSeriesFilter",
      "properties": {
        "aggregation": {
          "description": "By default, the raw time series data is returned. Use this field to combine multiple time series for different views of the data.",
          "$ref": "Aggregation"
        },
        "statisticalTimeSeriesFilter": {
          "deprecated": true,
          "$ref": "StatisticalTimeSeriesFilter",
          "description": "Statistics based time series filter. Note: This field is deprecated and completely ignored by the API."
        },
        "pickTimeSeriesFilter": {
          "$ref": "PickTimeSeriesFilter",
          "description": "Ranking based time series filter."
        },
        "secondaryAggregation": {
          "$ref": "Aggregation",
          "description": "Apply a second aggregation after aggregation is applied."
        },
        "filter": {
          "description": "Required. The monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies the metric types, resources, and projects to query.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListMetricsScopesByMonitoredProjectResponse": {
      "id": "ListMetricsScopesByMonitoredProjectResponse",
      "properties": {
        "metricsScopes": {
          "description": "A set of all metrics scopes that the specified monitored project has been added to.",
          "type": "array",
          "items": {
            "$ref": "MetricsScope"
          }
        }
      },
      "type": "object",
      "description": "Response for the ListMetricsScopesByMonitoredProject method."
    },
    "Operation": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "RatioPart": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required. The monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies the metric types, resources, and projects to query."
        },
        "aggregation": {
          "$ref": "Aggregation",
          "description": "By default, the raw time series data is returned. Use this field to combine multiple time series for different views of the data."
        }
      },
      "id": "RatioPart",
      "description": "Describes a query to build the numerator or denominator of a TimeSeriesFilterRatio."
    },
    "TimeSeriesTable": {
      "properties": {
        "metricVisualization": {
          "enumDescriptions": [
            "Unspecified state",
            "Default text rendering",
            "Horizontal bar rendering"
          ],
          "type": "string",
          "description": "Optional. Store rendering strategy",
          "enum": [
            "METRIC_VISUALIZATION_UNSPECIFIED",
            "NUMBER",
            "BAR"
          ]
        },
        "columnSettings": {
          "description": "Optional. The list of the persistent column settings for the table.",
          "type": "array",
          "items": {
            "$ref": "ColumnSettings"
          }
        },
        "dataSets": {
          "description": "Required. The data displayed in this table.",
          "type": "array",
          "items": {
            "$ref": "TableDataSet"
          }
        }
      },
      "type": "object",
      "id": "TimeSeriesTable",
      "description": "A table that displays time series data."
    },
    "RowLayout": {
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "The rows of content to display."
        }
      },
      "id": "RowLayout",
      "description": "A simplified layout that divides the available space into rows and arranges a set of widgets horizontally in each row."
    },
    "Widget": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. The title of the widget."
        },
        "text": {
          "description": "A raw string or markdown displaying textual content.",
          "$ref": "Text"
        },
        "timeSeriesTable": {
          "$ref": "TimeSeriesTable",
          "description": "A widget that displays time series data in a tabular format."
        },
        "logsPanel": {
          "description": "A widget that shows a stream of logs.",
          "$ref": "LogsPanel"
        },
        "xyChart": {
          "description": "A chart of time series data.",
          "$ref": "XyChart"
        },
        "collapsibleGroup": {
          "$ref": "CollapsibleGroup",
          "description": "A widget that groups the other widgets. All widgets that are within the area spanned by the grouping widget are considered member widgets."
        },
        "blank": {
          "description": "A blank space.",
          "$ref": "Empty"
        },
        "incidentList": {
          "description": "A widget that shows list of incidents.",
          "$ref": "IncidentList"
        },
        "alertChart": {
          "$ref": "AlertChart",
          "description": "A chart of alert policy data."
        },
        "scorecard": {
          "description": "A scorecard summarizing time series data.",
          "$ref": "Scorecard"
        }
      },
      "description": "Widget contains a single dashboard component and configuration of how to present the component in the dashboard.",
      "id": "Widget"
    },
    "TableDataSet": {
      "id": "TableDataSet",
      "properties": {
        "minAlignmentPeriod": {
          "type": "string",
          "description": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals.",
          "format": "google-duration"
        },
        "tableDisplayOptions": {
          "description": "Optional. Table display options for configuring how the table is rendered.",
          "$ref": "TableDisplayOptions"
        },
        "timeSeriesQuery": {
          "$ref": "TimeSeriesQuery",
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API."
        },
        "tableTemplate": {
          "type": "string",
          "description": "Optional. A template string for naming TimeSeries in the resulting data set. This should be a string with interpolations of the form ${label_name}, which will resolve to the label's value i.e. \"${resource.labels.project_id}.\""
        }
      },
      "type": "object",
      "description": "Groups a time series query definition with table options."
    },
    "ColumnSettings": {
      "type": "object",
      "properties": {
        "column": {
          "description": "Required. The id of the column.",
          "type": "string"
        },
        "visible": {
          "description": "Required. Whether the column should be visible on page load.",
          "type": "boolean"
        }
      },
      "id": "ColumnSettings",
      "description": "The persistent settings for a table's columns."
    },
    "Threshold": {
      "id": "Threshold",
      "description": "Defines a threshold for categorizing time series values.",
      "type": "object",
      "properties": {
        "color": {
          "enumDescriptions": [
            "Color is unspecified. Not allowed in well-formed requests.",
            "Crossing the threshold is \"concerning\" behavior.",
            "Crossing the threshold is \"emergency\" behavior."
          ],
          "description": "The state color for this threshold. Color is not allowed in a XyChart.",
          "enum": [
            "COLOR_UNSPECIFIED",
            "YELLOW",
            "RED"
          ],
          "type": "string"
        },
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ABOVE",
            "BELOW"
          ],
          "description": "The direction for the current threshold. Direction is not allowed in a XyChart.",
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "The threshold will be considered crossed if the actual value is above the threshold value.",
            "The threshold will be considered crossed if the actual value is below the threshold value."
          ]
        },
        "targetAxis": {
          "enum": [
            "TARGET_AXIS_UNSPECIFIED",
            "Y1",
            "Y2"
          ],
          "enumDescriptions": [
            "The target axis was not specified. Defaults to Y1.",
            "The y_axis (the right axis of chart).",
            "The y2_axis (the left axis of chart)."
          ],
          "description": "The target axis to use for plotting the threshold. Target axis is not allowed in a Scorecard.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "The value of the threshold. The value should be defined in the native scale of the metric.",
          "format": "double"
        },
        "label": {
          "description": "A label for the threshold.",
          "type": "string"
        }
      }
    },
    "MetricsScope": {
      "description": "Represents a Metrics Scope (https://cloud.google.com/monitoring/settings#concept-scope) in Cloud Monitoring, which specifies one or more Google projects and zero or more AWS accounts to monitor together.",
      "properties": {
        "createTime": {
          "description": "Output only. The time when this Metrics Scope was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "monitoredProjects": {
          "description": "Output only. The list of projects monitored by this Metrics Scope.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MonitoredProject"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when this Metrics Scope record was last updated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the Monitoring Metrics Scope. On input, the resource name can be specified with the scoping project ID or number. On output, the resource name is specified with the scoping project number. Example: locations/global/metricsScopes/{SCOPING_PROJECT_ID_OR_NUMBER}"
        }
      },
      "id": "MetricsScope",
      "type": "object"
    },
    "AlertChart": {
      "id": "AlertChart",
      "description": "A chart that displays alert policy data.",
      "properties": {
        "name": {
          "description": "Required. The resource name of the alert policy. The format is: projects/[PROJECT_ID_OR_NUMBER]/alertPolicies/[ALERT_POLICY_ID] ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataSet": {
      "type": "object",
      "description": "Groups a time series query definition with charting options.",
      "id": "DataSet",
      "properties": {
        "plotType": {
          "enum": [
            "PLOT_TYPE_UNSPECIFIED",
            "LINE",
            "STACKED_AREA",
            "STACKED_BAR",
            "HEATMAP"
          ],
          "enumDescriptions": [
            "Plot type is unspecified. The view will default to LINE.",
            "The data is plotted as a set of lines (one line per series).",
            "The data is plotted as a set of filled areas (one area per series), with the areas stacked vertically (the base of each area is the top of its predecessor, and the base of the first area is the x-axis). Since the areas do not overlap, each is filled with a different opaque color.",
            "The data is plotted as a set of rectangular boxes (one box per series), with the boxes stacked vertically (the base of each box is the top of its predecessor, and the base of the first box is the x-axis). Since the boxes do not overlap, each is filled with a different opaque color.",
            "The data is plotted as a heatmap. The series being plotted must have a DISTRIBUTION value type. The value of each bucket in the distribution is displayed as a color. This type is not currently available in the Stackdriver Monitoring application."
          ],
          "type": "string",
          "description": "How this data should be plotted on the chart."
        },
        "minAlignmentPeriod": {
          "description": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals.",
          "format": "google-duration",
          "type": "string"
        },
        "targetAxis": {
          "type": "string",
          "enumDescriptions": [
            "The target axis was not specified. Defaults to Y1.",
            "The y_axis (the right axis of chart).",
            "The y2_axis (the left axis of chart)."
          ],
          "description": "Optional. The target axis to use for plotting the metric.",
          "enum": [
            "TARGET_AXIS_UNSPECIFIED",
            "Y1",
            "Y2"
          ]
        },
        "legendTemplate": {
          "description": "A template string for naming TimeSeries in the resulting data set. This should be a string with interpolations of the form ${label_name}, which will resolve to the label's value.",
          "type": "string"
        },
        "timeSeriesQuery": {
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API.",
          "$ref": "TimeSeriesQuery"
        }
      }
    },
    "ListDashboardsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method."
        },
        "dashboards": {
          "items": {
            "$ref": "Dashboard"
          },
          "type": "array",
          "description": "The list of requested dashboards."
        }
      },
      "description": "The ListDashboards request.",
      "type": "object",
      "id": "ListDashboardsResponse"
    },
    "Type": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "description": "The list of fields.",
          "items": {
            "$ref": "Field"
          }
        },
        "name": {
          "description": "The fully qualified message name.",
          "type": "string"
        },
        "sourceContext": {
          "description": "The source context.",
          "$ref": "SourceContext"
        },
        "oneofs": {
          "items": {
            "type": "string"
          },
          "description": "The list of types appearing in oneof definitions in this type.",
          "type": "array"
        },
        "syntax": {
          "enum": [
            "SYNTAX_PROTO2",
            "SYNTAX_PROTO3",
            "SYNTAX_EDITIONS"
          ],
          "enumDescriptions": [
            "Syntax proto2.",
            "Syntax proto3.",
            "Syntax editions."
          ],
          "type": "string",
          "description": "The source syntax."
        },
        "edition": {
          "description": "The source edition string, only valid when syntax is SYNTAX_EDITIONS.",
          "type": "string"
        },
        "options": {
          "items": {
            "$ref": "Option"
          },
          "description": "The protocol buffer options.",
          "type": "array"
        }
      },
      "id": "Type",
      "description": "A protocol buffer message type."
    },
    "MonitoredResource": {
      "id": "MonitoredResource",
      "type": "object",
      "description": "An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The type field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the labels field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for \"gce_instance\" has labels \"project_id\", \"instance_id\" and \"zone\": { \"type\": \"gce_instance\", \"labels\": { \"project_id\": \"my-project\", \"instance_id\": \"12345678901234\", \"zone\": \"us-central1-a\" }} ",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Compute Engine VM instances use the labels \"project_id\", \"instance_id\", and \"zone\".",
          "type": "object"
        },
        "type": {
          "description": "Required. The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor object. For example, the type of a Compute Engine VM instance is gce_instance. For a list of types, see Monitoring resource types (https://cloud.google.com/monitoring/api/resources) and Logging resource types (https://cloud.google.com/logging/docs/api/v2/resource-list).",
          "type": "string"
        }
      }
    },
    "QuerySeriesRequest": {
      "type": "object",
      "properties": {
        "end": {
          "type": "string",
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "start": {
          "type": "string",
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        }
      },
      "id": "QuerySeriesRequest",
      "description": "QuerySeries holds all parameters of the Prometheus upstream API for querying series."
    },
    "SparkChartView": {
      "description": "A sparkChart is a small chart suitable for inclusion in a table-cell or inline in text. This message contains the configuration for a sparkChart to show up on a Scorecard, showing recent trends of the scorecard's timeseries.",
      "type": "object",
      "id": "SparkChartView",
      "properties": {
        "minAlignmentPeriod": {
          "type": "string",
          "description": "The lower bound on data point frequency in the chart implemented by specifying the minimum alignment period to use in a time series query. For example, if the data is published once every 10 minutes it would not make sense to fetch and align data at one minute intervals. This field is optional and exists only as a hint.",
          "format": "google-duration"
        },
        "sparkChartType": {
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "The sparkline will be rendered as a small line chart.",
            "The sparkbar will be rendered as a small bar chart."
          ],
          "enum": [
            "SPARK_CHART_TYPE_UNSPECIFIED",
            "SPARK_LINE",
            "SPARK_BAR"
          ],
          "description": "Required. The type of sparkchart to show in this chartView.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "id": "Empty"
    },
    "XyChart": {
      "id": "XyChart",
      "properties": {
        "xAxis": {
          "$ref": "Axis",
          "description": "The properties applied to the x-axis."
        },
        "y2Axis": {
          "description": "The properties applied to the y2-axis.",
          "$ref": "Axis"
        },
        "chartOptions": {
          "description": "Display options for the chart.",
          "$ref": "ChartOptions"
        },
        "yAxis": {
          "$ref": "Axis",
          "description": "The properties applied to the y-axis."
        },
        "timeshiftDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration used to display a comparison chart. A comparison chart simultaneously shows values from two similar-length time periods (e.g., week-over-week metrics). The duration must be positive, and it can only be applied to charts with data sets of LINE plot type."
        },
        "thresholds": {
          "description": "Threshold lines drawn horizontally across the chart.",
          "items": {
            "$ref": "Threshold"
          },
          "type": "array"
        },
        "dataSets": {
          "items": {
            "$ref": "DataSet"
          },
          "description": "Required. The data displayed in this chart.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A chart that displays data on a 2D (X and Y axes) plane."
    },
    "SourceContext": {
      "properties": {
        "fileName": {
          "description": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: \"google/protobuf/source_context.proto\".",
          "type": "string"
        }
      },
      "id": "SourceContext",
      "type": "object",
      "description": "SourceContext represents information about the source of a protobuf element, like the file in which it is defined."
    },
    "TableDisplayOptions": {
      "type": "object",
      "description": "Table display options that can be reused.",
      "id": "TableDisplayOptions",
      "properties": {
        "shownColumns": {
          "type": "array",
          "description": "Optional. This field is unused and has been replaced by TimeSeriesTable.column_settings",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListLabelsRequest": {
      "type": "object",
      "properties": {
        "match": {
          "type": "string",
          "description": "A list of matchers encoded in the Prometheus label matcher format to constrain the values to series that satisfy them."
        },
        "end": {
          "type": "string",
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "start": {
          "type": "string",
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        }
      },
      "description": "ListLabelsRequest holds all parameters of the Prometheus upstream API for returning a list of label names.",
      "id": "ListLabelsRequest"
    },
    "ColumnLayout": {
      "id": "ColumnLayout",
      "properties": {
        "columns": {
          "description": "The columns of content to display.",
          "items": {
            "$ref": "Column"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A simplified layout that divides the available space into vertical columns and arranges a set of widgets vertically in each column."
    },
    "Row": {
      "id": "Row",
      "description": "Defines the layout properties and content for a row.",
      "type": "object",
      "properties": {
        "weight": {
          "format": "int64",
          "description": "The relative weight of this row. The row weight is used to adjust the height of rows on the screen (relative to peers). Greater the weight, greater the height of the row on the screen. If omitted, a value of 1 is used while rendering.",
          "type": "string"
        },
        "widgets": {
          "description": "The display widgets arranged horizontally in this row.",
          "type": "array",
          "items": {
            "$ref": "Widget"
          }
        }
      }
    },
    "MonitoredProject": {
      "id": "MonitoredProject",
      "properties": {
        "createTime": {
          "description": "Output only. The time when this MonitoredProject was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the MonitoredProject. On input, the resource name includes the scoping project ID and monitored project ID. On output, it contains the equivalent project numbers. Example: locations/global/metricsScopes/{SCOPING_PROJECT_ID_OR_NUMBER}/projects/{MONITORED_PROJECT_ID_OR_NUMBER}"
        }
      },
      "description": "A project being monitored (https://cloud.google.com/monitoring/settings/multiple-projects#create-multi) by a Metrics Scope.",
      "type": "object"
    },
    "ChartOptions": {
      "properties": {
        "mode": {
          "description": "The chart mode.",
          "enumDescriptions": [
            "Mode is unspecified. The view will default to COLOR.",
            "The chart distinguishes data series using different color. Line colors may get reused when there are many lines in the chart.",
            "The chart uses the Stackdriver x-ray mode, in which each data set is plotted using the same semi-transparent color.",
            "The chart displays statistics such as average, median, 95th percentile, and more."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "COLOR",
            "X_RAY",
            "STATS"
          ],
          "type": "string"
        }
      },
      "id": "ChartOptions",
      "type": "object",
      "description": "Options to control visual rendering of a chart."
    },
    "Dashboard": {
      "id": "Dashboard",
      "description": "A Google Stackdriver dashboard. Dashboards define the content and layout of pages in the Stackdriver web application.",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the dashboard.",
          "type": "string"
        },
        "mosaicLayout": {
          "$ref": "MosaicLayout",
          "description": "The content is arranged as a grid of tiles, with each content widget occupying one or more grid blocks."
        },
        "dashboardFilters": {
          "items": {
            "$ref": "DashboardFilter"
          },
          "description": "Filters to reduce the amount of data charted based on the filter criteria.",
          "type": "array"
        },
        "columnLayout": {
          "description": "The content is divided into equally spaced columns and the widgets are arranged vertically.",
          "$ref": "ColumnLayout"
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. An etag is returned in the response to GetDashboard, and users are expected to put that etag in the request to UpdateDashboard to ensure that their change will be applied to the same version of the Dashboard configuration. The field should not be passed during dashboard creation.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The mutable, human-readable name."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels applied to the dashboard",
          "type": "object"
        },
        "rowLayout": {
          "$ref": "RowLayout",
          "description": "The content is divided into equally spaced rows and the widgets are arranged horizontally."
        },
        "gridLayout": {
          "$ref": "GridLayout",
          "description": "Content is arranged with a basic layout that re-flows a simple list of informational elements like widgets or tiles."
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "description": "The time when the batch request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "DONE",
            "CANCELLED"
          ],
          "description": "Current state of the batch operation.",
          "type": "string",
          "enumDescriptions": [
            "Invalid.",
            "Request has been received.",
            "Request is actively being processed.",
            "The batch processing is done.",
            "The batch processing was cancelled."
          ]
        },
        "updateTime": {
          "description": "The time when the operation result was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "OperationMetadata",
      "description": "Contains metadata for longrunning operation for the edit Metrics Scope endpoints.",
      "type": "object"
    }
  },
  "name": "monitoring",
  "protocol": "rest",
  "baseUrl": "https://monitoring.googleapis.com/",
  "revision": "20230703",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "monitoring:v1",
  "ownerName": "Google",
  "rootUrl": "https://monitoring.googleapis.com/",
  "mtlsRootUrl": "https://monitoring.mtls.googleapis.com/",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "pattern": "^operations/.*$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+name}",
          "id": "monitoring.operations.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/monitoring",
            "https://www.googleapis.com/auth/monitoring.read"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/operations/{operationsId}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        }
      }
    },
    "projects": {
      "resources": {
        "dashboards": {
          "methods": {
            "list": {
              "id": "monitoring.projects.dashboards.list",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The scope of the dashboards to list. The format is: projects/[PROJECT_ID_OR_NUMBER] ",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "description": "A positive number that is the maximum number of results to return. If unspecified, a default of 1000 is used.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectsId}/dashboards",
              "response": {
                "$ref": "ListDashboardsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/dashboards",
              "description": "Lists the existing dashboards.This method requires the monitoring.dashboards.list permission on the specified project. For more information, see Cloud Identity and Access Management (https://cloud.google.com/iam).",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read"
              ]
            },
            "delete": {
              "id": "monitoring.projects.dashboards.delete",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.write"
              ],
              "flatPath": "v1/projects/{projectsId}/dashboards/{dashboardsId}",
              "description": "Deletes an existing custom dashboard.This method requires the monitoring.dashboards.delete permission on the specified dashboard. For more information, see Cloud Identity and Access Management (https://cloud.google.com/iam).",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the Dashboard. The format is: projects/[PROJECT_ID_OR_NUMBER]/dashboards/[DASHBOARD_ID] ",
                  "pattern": "^projects/[^/]+/dashboards/[^/]+$",
                  "type": "string"
                }
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Dashboard"
              },
              "flatPath": "v1/projects/{projectsId}/dashboards/{dashboardsId}",
              "description": "Fetches a specific dashboard.This method requires the monitoring.dashboards.get permission on the specified dashboard. For more information, see Cloud Identity and Access Management (https://cloud.google.com/iam).",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/dashboards/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the Dashboard. The format is one of: dashboards/[DASHBOARD_ID] (for system dashboards) projects/[PROJECT_ID_OR_NUMBER]/dashboards/[DASHBOARD_ID] (for custom dashboards)."
                }
              },
              "httpMethod": "GET",
              "id": "monitoring.projects.dashboards.get"
            },
            "patch": {
              "request": {
                "$ref": "Dashboard"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Replaces an existing custom dashboard with a new definition.This method requires the monitoring.dashboards.update permission on the specified dashboard. For more information, see Cloud Identity and Access Management (https://cloud.google.com/iam).",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.write"
              ],
              "flatPath": "v1/projects/{projectsId}/dashboards/{dashboardsId}",
              "id": "monitoring.projects.dashboards.patch",
              "parameters": {
                "validateOnly": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If set, validate the request and preview the review, but do not actually save it."
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/dashboards/[^/]+$",
                  "type": "string",
                  "description": "Immutable. The resource name of the dashboard."
                }
              },
              "response": {
                "$ref": "Dashboard"
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH"
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The project on which to execute the request. The format is: projects/[PROJECT_ID_OR_NUMBER] The [PROJECT_ID_OR_NUMBER] must match the dashboard resource name.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "validateOnly": {
                  "location": "query",
                  "description": "If set, validate the request and preview the review, but do not actually save it.",
                  "type": "boolean"
                }
              },
              "flatPath": "v1/projects/{projectsId}/dashboards",
              "path": "v1/{+parent}/dashboards",
              "id": "monitoring.projects.dashboards.create",
              "request": {
                "$ref": "Dashboard"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.write"
              ],
              "description": "Creates a new custom dashboard. For examples on how you can use this API to create dashboards, see Managing dashboards by API (https://cloud.google.com/monitoring/dashboards/api-dashboard). This method requires the monitoring.dashboards.create permission on the specified project. For more information about permissions, see Cloud Identity and Access Management (https://cloud.google.com/iam).",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Dashboard"
              }
            }
          }
        },
        "location": {
          "resources": {
            "prometheus": {
              "resources": {
                "api": {
                  "resources": {
                    "v1": {
                      "methods": {
                        "query_range": {
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/query_range",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "parameterOrder": [
                            "name",
                            "location"
                          ],
                          "description": "Evaluate a PromQL query with start, end time range.",
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/query_range",
                          "parameters": {
                            "location": {
                              "location": "path",
                              "description": "Location of the resource information. Has to be \"global\" now.",
                              "required": true,
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "description": "The project on which to execute the request. Data associcated with the project's workspace stored under the The format is: projects/PROJECT_ID_OR_NUMBER. Open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine.",
                              "location": "path",
                              "pattern": "^projects/[^/]+$",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/monitoring",
                            "https://www.googleapis.com/auth/monitoring.read"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "QueryRangeRequest"
                          },
                          "id": "monitoring.projects.location.prometheus.api.v1.query_range"
                        },
                        "series": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/monitoring",
                            "https://www.googleapis.com/auth/monitoring.read"
                          ],
                          "id": "monitoring.projects.location.prometheus.api.v1.series",
                          "httpMethod": "POST",
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/series",
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/series",
                          "parameterOrder": [
                            "name",
                            "location"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+$",
                              "description": "Required. The workspace on which to execute the request. It is not part of the open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine. The format is: projects/PROJECT_ID_OR_NUMBER."
                            },
                            "location": {
                              "location": "path",
                              "type": "string",
                              "description": "Location of the resource information. Has to be \"global\" for now.",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "request": {
                            "$ref": "QuerySeriesRequest"
                          },
                          "description": "Lists metadata for metrics."
                        },
                        "query_exemplars": {
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/monitoring",
                            "https://www.googleapis.com/auth/monitoring.read"
                          ],
                          "parameterOrder": [
                            "name",
                            "location"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "location": {
                              "location": "path",
                              "description": "Location of the resource information. Has to be \"global\" now.",
                              "type": "string",
                              "required": true
                            },
                            "name": {
                              "description": "The project on which to execute the request. Data associcated with the project's workspace stored under the The format is: projects/PROJECT_ID_OR_NUMBER. Open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine.",
                              "required": true,
                              "pattern": "^projects/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/query_exemplars",
                          "id": "monitoring.projects.location.prometheus.api.v1.query_exemplars",
                          "request": {
                            "$ref": "QueryExemplarsRequest"
                          },
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/query_exemplars",
                          "description": "Lists exemplars relevant to a given PromQL query,"
                        },
                        "labels": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+$",
                              "location": "path",
                              "description": "The workspace on which to execute the request. It is not part of the open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine. The format is: projects/PROJECT_ID_OR_NUMBER.",
                              "type": "string",
                              "required": true
                            },
                            "location": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Location of the resource information. Has to be \"global\" now."
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/labels",
                          "request": {
                            "$ref": "ListLabelsRequest"
                          },
                          "id": "monitoring.projects.location.prometheus.api.v1.labels",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/labels",
                          "description": "Lists labels for metrics.",
                          "parameterOrder": [
[...]
