{
  "title": "Cloud Monitoring API",
  "discoveryVersion": "v1",
  "id": "monitoring:v1",
  "schemas": {
    "Text": {
      "id": "Text",
      "description": "A widget that displays textual content.",
      "properties": {
        "format": {
          "enumDescriptions": [
            "Format is unspecified. Defaults to MARKDOWN.",
            "The text contains Markdown formatting.",
            "The text contains no special formatting."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "MARKDOWN",
            "RAW"
          ],
          "description": "How the text content is formatted.",
          "type": "string"
        },
        "content": {
          "description": "The text content to be displayed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TableDisplayOptions": {
      "description": "Table display options that can be reused.",
      "id": "TableDisplayOptions",
      "properties": {
        "shownColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. This field is unused and has been replaced by TimeSeriesTable.column_settings"
        }
      },
      "type": "object"
    },
    "CollapsibleGroup": {
      "description": "A widget that groups the other widgets. All widgets that are within the area spanned by the grouping widget are considered member widgets.",
      "properties": {
        "collapsed": {
          "type": "boolean",
          "description": "The collapsed state of the widget on first page load."
        }
      },
      "id": "CollapsibleGroup",
      "type": "object"
    },
    "SpanContext": {
      "type": "object",
      "id": "SpanContext",
      "properties": {
        "spanName": {
          "description": "The resource name of the span. The format is: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID] [TRACE_ID] is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array.[SPAN_ID] is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array.",
          "type": "string"
        }
      },
      "description": "The context of a span. This is attached to an Exemplar in Distribution values during aggregation.It contains the name of a span with format: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID] "
    },
    "ListLabelsRequest": {
      "type": "object",
      "id": "ListLabelsRequest",
      "properties": {
        "end": {
          "type": "string",
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "start": {
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "match": {
          "description": "A list of matchers encoded in the Prometheus label matcher format to constrain the values to series that satisfy them.",
          "type": "string"
        }
      },
      "description": "ListLabelsRequest holds all parameters of the Prometheus upstream API for returning a list of label names."
    },
    "LogsPanel": {
      "description": "A widget that displays a stream of log.",
      "id": "LogsPanel",
      "properties": {
        "filter": {
          "description": "A filter that chooses which log entries to return. See Advanced Logs Queries (https://cloud.google.com/logging/docs/view/advanced-queries). Only log entries that match the filter are returned. An empty filter matches all log entries.",
          "type": "string"
        },
        "resourceNames": {
          "items": {
            "type": "string"
          },
          "description": "The names of logging resources to collect logs for. Currently only projects are supported. If empty, the widget will default to the host project.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "TimeSeriesQuery": {
      "properties": {
        "timeSeriesFilter": {
          "description": "Filter parameters to fetch time series.",
          "$ref": "TimeSeriesFilter"
        },
        "unitOverride": {
          "description": "The unit of data contained in fetched time series. If non-empty, this unit will override any unit that accompanies fetched data. The format is the same as the unit (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors) field in MetricDescriptor.",
          "type": "string"
        },
        "prometheusQuery": {
          "description": "A query used to fetch time series with PromQL.",
          "type": "string"
        },
        "timeSeriesQueryLanguage": {
          "description": "A query used to fetch time series with MQL.",
          "type": "string"
        },
        "timeSeriesFilterRatio": {
          "description": "Parameters to fetch a ratio between two time series filters.",
          "$ref": "TimeSeriesFilterRatio"
        }
      },
      "description": "TimeSeriesQuery collects the set of supported methods for querying time series data from the Stackdriver metrics API.",
      "type": "object",
      "id": "TimeSeriesQuery"
    },
    "PickTimeSeriesFilter": {
      "description": "Describes a ranking-based time series filter. Each input time series is ranked with an aligner. The filter will allow up to num_time_series time series to pass through it, selecting them based on the relative ranking.For example, if ranking_method is METHOD_MEAN,direction is BOTTOM, and num_time_series is 3, then the 3 times series with the lowest mean values will pass through the filter.",
      "properties": {
        "rankingMethod": {
          "enum": [
            "METHOD_UNSPECIFIED",
            "METHOD_MEAN",
            "METHOD_MAX",
            "METHOD_MIN",
            "METHOD_SUM",
            "METHOD_LATEST"
          ],
          "enumDescriptions": [
            "Not allowed. You must specify a different Method if you specify a PickTimeSeriesFilter.",
            "Select the mean of all values.",
            "Select the maximum value.",
            "Select the minimum value.",
            "Compute the sum of all values.",
            "Select the most recent value."
          ],
          "description": "ranking_method is applied to each time series independently to produce the value which will be used to compare the time series to other time series.",
          "type": "string"
        },
        "direction": {
          "enumDescriptions": [
            "Not allowed. You must specify a different Direction if you specify a PickTimeSeriesFilter.",
            "Pass the highest num_time_series ranking inputs.",
            "Pass the lowest num_time_series ranking inputs."
          ],
          "description": "How to use the ranking to select time series that pass through the filter.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "TOP",
            "BOTTOM"
          ],
          "type": "string"
        },
        "numTimeSeries": {
          "description": "How many time series to allow to pass through the filter.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "PickTimeSeriesFilter"
    },
    "MosaicLayout": {
      "description": "A mosaic layout divides the available space into a grid of blocks, and overlays the grid with tiles. Unlike GridLayout, tiles may span multiple grid blocks and can be placed at arbitrary locations in the grid.",
      "properties": {
        "tiles": {
          "description": "The tiles to display.",
          "items": {
            "$ref": "Tile"
          },
          "type": "array"
        },
        "columns": {
          "type": "integer",
          "format": "int32",
          "description": "The number of columns in the mosaic grid. The number of columns must be between 1 and 12, inclusive."
        }
      },
      "type": "object",
      "id": "MosaicLayout"
    },
    "DroppedLabels": {
      "type": "object",
      "description": "A set of (label, value) pairs that were removed from a Distribution time series during aggregation and then added as an attachment to a Distribution.Exemplar.The full label set for the exemplars is constructed by using the dropped pairs in combination with the label values that remain on the aggregated Distribution time series. The constructed full label set can be used to identify the specific entity, such as the instance or job, which might be contributing to a long-tail. However, with dropped labels, the storage requirements are reduced because only the aggregated distribution values for a large group of time series are stored.Note that there are no guarantees on ordering of the labels from exemplar-to-exemplar and from distribution-to-distribution in the same stream, and there may be duplicates. It is up to clients to resolve any ambiguities.",
      "id": "DroppedLabels",
      "properties": {
        "label": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from label to its value, for all labels dropped in any aggregation.",
          "type": "object"
        }
      }
    },
    "TimeSeriesFilter": {
      "type": "object",
      "id": "TimeSeriesFilter",
      "description": "A filter that defines a subset of time series data that is displayed in a widget. Time series data is fetched using the ListTimeSeries (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list) method.",
      "properties": {
        "statisticalTimeSeriesFilter": {
          "$ref": "StatisticalTimeSeriesFilter",
          "description": "Statistics based time series filter. Note: This field is deprecated and completely ignored by the API."
        },
        "aggregation": {
          "$ref": "Aggregation",
          "description": "By default, the raw time series data is returned. Use this field to combine multiple time series for different views of the data."
        },
        "secondaryAggregation": {
          "$ref": "Aggregation",
          "description": "Apply a second aggregation after aggregation is applied."
        },
        "pickTimeSeriesFilter": {
          "$ref": "PickTimeSeriesFilter",
          "description": "Ranking based time series filter."
        },
        "filter": {
          "type": "string",
          "description": "Required. The monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies the metric types, resources, and projects to query."
        }
      }
    },
    "QueryExemplarsRequest": {
      "type": "object",
      "properties": {
        "end": {
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "start": {
          "type": "string",
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "query": {
          "type": "string",
          "description": "A PromQL query string. Query lanauge documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/."
        }
      },
      "id": "QueryExemplarsRequest",
      "description": "QueryExemplarsRequest holds all parameters of the Prometheus upstream API for querying exemplars."
    },
    "RatioPart": {
      "id": "RatioPart",
      "properties": {
        "filter": {
          "description": "Required. The monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies the metric types, resources, and projects to query.",
          "type": "string"
        },
        "aggregation": {
          "description": "By default, the raw time series data is returned. Use this field to combine multiple time series for different views of the data.",
          "$ref": "Aggregation"
        }
      },
      "type": "object",
      "description": "Describes a query to build the numerator or denominator of a TimeSeriesFilterRatio."
    },
    "MetricsScope": {
      "type": "object",
      "id": "MetricsScope",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when this Metrics Scope was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the Monitoring Metrics Scope. On input, the resource name can be specified with the scoping project ID or number. On output, the resource name is specified with the scoping project number. Example: locations/global/metricsScopes/{SCOPING_PROJECT_ID_OR_NUMBER}",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when this Metrics Scope record was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "monitoredProjects": {
          "description": "Output only. The list of projects monitored by this Metrics Scope.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MonitoredProject"
          }
        }
      },
      "description": "Represents a Metrics Scope (https://cloud.google.com/monitoring/settings#concept-scope) in Cloud Monitoring, which specifies one or more Google projects and zero or more AWS accounts to monitor together."
    },
    "Dashboard": {
      "id": "Dashboard",
      "description": "A Google Stackdriver dashboard. Dashboards define the content and layout of pages in the Stackdriver web application.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the dashboard."
        },
        "columnLayout": {
          "$ref": "ColumnLayout",
          "description": "The content is divided into equally spaced columns and the widgets are arranged vertically."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The mutable, human-readable name."
        },
        "gridLayout": {
          "$ref": "GridLayout",
          "description": "Content is arranged with a basic layout that re-flows a simple list of informational elements like widgets or tiles."
        },
        "etag": {
          "type": "string",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. An etag is returned in the response to GetDashboard, and users are expected to put that etag in the request to UpdateDashboard to ensure that their change will be applied to the same version of the Dashboard configuration. The field should not be passed during dashboard creation."
        },
        "mosaicLayout": {
          "description": "The content is arranged as a grid of tiles, with each content widget occupying one or more grid blocks.",
          "$ref": "MosaicLayout"
        },
        "rowLayout": {
          "$ref": "RowLayout",
          "description": "The content is divided into equally spaced rows and the widgets are arranged horizontally."
        },
        "labels": {
          "description": "Labels applied to the dashboard",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dashboardFilters": {
          "type": "array",
          "items": {
            "$ref": "DashboardFilter"
          },
          "description": "Filters to reduce the amount of data charted based on the filter criteria."
        }
      },
      "type": "object"
    },
    "HttpBody": {
      "type": "object",
      "id": "HttpBody",
      "properties": {
        "extensions": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "The HTTP request/response body as raw binary.",
          "type": "string"
        }
      },
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page.This message can be used both in streaming and non-streaming API methods in the request as well as the response.It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body.Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "SourceContext": {
      "properties": {
        "fileName": {
          "type": "string",
          "description": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: \"google/protobuf/source_context.proto\"."
        }
      },
      "id": "SourceContext",
      "description": "SourceContext represents information about the source of a protobuf element, like the file in which it is defined.",
      "type": "object"
    },
    "RowLayout": {
      "description": "A simplified layout that divides the available space into rows and arranges a set of widgets horizontally in each row.",
      "type": "object",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "The rows of content to display.",
          "type": "array"
        }
      },
      "id": "RowLayout"
    },
    "ListMetricsScopesByMonitoredProjectResponse": {
      "properties": {
        "metricsScopes": {
          "items": {
            "$ref": "MetricsScope"
          },
          "type": "array",
          "description": "A set of all metrics scopes that the specified monitored project has been added to."
        }
      },
      "id": "ListMetricsScopesByMonitoredProjectResponse",
      "type": "object",
      "description": "Response for the ListMetricsScopesByMonitoredProject method."
    },
    "GridLayout": {
      "id": "GridLayout",
      "properties": {
        "widgets": {
          "type": "array",
          "items": {
            "$ref": "Widget"
          },
          "description": "The informational elements that are arranged into the columns row-first."
        },
        "columns": {
          "format": "int64",
          "type": "string",
          "description": "The number of columns into which the view's width is divided. If omitted or set to zero, a system default will be used while rendering."
        }
      },
      "type": "object",
      "description": "A basic layout divides the available space into vertical columns of equal width and arranges a list of widgets using a row-first strategy."
    },
    "TimeSeriesTable": {
      "properties": {
        "dataSets": {
          "items": {
            "$ref": "TableDataSet"
          },
          "type": "array",
          "description": "Required. The data displayed in this table."
        },
        "columnSettings": {
          "description": "Optional. The list of the persistent column settings for the table.",
          "items": {
            "$ref": "ColumnSettings"
          },
          "type": "array"
        },
        "metricVisualization": {
          "enumDescriptions": [
            "Unspecified state",
            "Default text rendering",
            "Horizontal bar rendering"
          ],
          "type": "string",
          "description": "Optional. Store rendering strategy",
          "enum": [
            "METRIC_VISUALIZATION_UNSPECIFIED",
            "NUMBER",
            "BAR"
          ]
        }
      },
      "id": "TimeSeriesTable",
      "description": "A table that displays time series data.",
      "type": "object"
    },
    "AlertChart": {
      "type": "object",
      "description": "A chart that displays alert policy data.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name of the alert policy. The format is: projects/[PROJECT_ID_OR_NUMBER]/alertPolicies/[ALERT_POLICY_ID] "
        }
      },
      "id": "AlertChart"
    },
    "Row": {
      "properties": {
        "weight": {
          "format": "int64",
          "description": "The relative weight of this row. The row weight is used to adjust the height of rows on the screen (relative to peers). Greater the weight, greater the height of the row on the screen. If omitted, a value of 1 is used while rendering.",
          "type": "string"
        },
        "widgets": {
          "items": {
            "$ref": "Widget"
          },
          "type": "array",
          "description": "The display widgets arranged horizontally in this row."
        }
      },
      "id": "Row",
      "type": "object",
      "description": "Defines the layout properties and content for a row."
    },
    "SparkChartView": {
      "description": "A sparkChart is a small chart suitable for inclusion in a table-cell or inline in text. This message contains the configuration for a sparkChart to show up on a Scorecard, showing recent trends of the scorecard's timeseries.",
      "id": "SparkChartView",
      "type": "object",
      "properties": {
        "sparkChartType": {
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "The sparkline will be rendered as a small line chart.",
            "The sparkbar will be rendered as a small bar chart."
          ],
          "description": "Required. The type of sparkchart to show in this chartView.",
          "type": "string",
          "enum": [
            "SPARK_CHART_TYPE_UNSPECIFIED",
            "SPARK_LINE",
            "SPARK_BAR"
          ]
        },
        "minAlignmentPeriod": {
          "description": "The lower bound on data point frequency in the chart implemented by specifying the minimum alignment period to use in a time series query. For example, if the data is published once every 10 minutes it would not make sense to fetch and align data at one minute intervals. This field is optional and exists only as a hint.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "StatisticalTimeSeriesFilter": {
      "properties": {
        "numTimeSeries": {
          "format": "int32",
          "description": "How many time series to output.",
          "type": "integer"
        },
        "rankingMethod": {
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "METHOD_CLUSTER_OUTLIER"
          ],
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "Compute the outlier score of each stream."
          ],
          "description": "rankingMethod is applied to a set of time series, and then the produced value for each individual time series is used to compare a given time series to others. These are methods that cannot be applied stream-by-stream, but rather require the full context of a request to evaluate time series."
        }
      },
      "id": "StatisticalTimeSeriesFilter",
      "description": "A filter that ranks streams based on their statistical relation to other streams in a request. Note: This field is deprecated and completely ignored by the API.",
      "type": "object"
    },
    "GaugeView": {
      "id": "GaugeView",
      "properties": {
        "lowerBound": {
          "format": "double",
          "type": "number",
          "description": "The lower bound for this gauge chart. The value of the chart should always be greater than or equal to this."
        },
        "upperBound": {
          "format": "double",
          "description": "The upper bound for this gauge chart. The value of the chart should always be less than or equal to this.",
          "type": "number"
        }
      },
      "description": "A gauge chart shows where the current value sits within a pre-defined range. The upper and lower bounds should define the possible range of values for the scorecard's query (inclusive).",
      "type": "object"
    },
    "DataSet": {
      "id": "DataSet",
      "description": "Groups a time series query definition with charting options.",
      "type": "object",
      "properties": {
        "timeSeriesQuery": {
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API.",
          "$ref": "TimeSeriesQuery"
        },
        "legendTemplate": {
          "description": "A template string for naming TimeSeries in the resulting data set. This should be a string with interpolations of the form ${label_name}, which will resolve to the label's value.",
          "type": "string"
        },
        "targetAxis": {
          "enumDescriptions": [
            "The target axis was not specified. Defaults to Y1.",
            "The y_axis (the right axis of chart).",
            "The y2_axis (the left axis of chart)."
          ],
          "type": "string",
          "enum": [
            "TARGET_AXIS_UNSPECIFIED",
            "Y1",
            "Y2"
          ],
          "description": "Optional. The target axis to use for plotting the metric."
        },
        "minAlignmentPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals."
        },
        "plotType": {
          "description": "How this data should be plotted on the chart.",
          "enumDescriptions": [
            "Plot type is unspecified. The view will default to LINE.",
            "The data is plotted as a set of lines (one line per series).",
            "The data is plotted as a set of filled areas (one area per series), with the areas stacked vertically (the base of each area is the top of its predecessor, and the base of the first area is the X axis). Since the areas do not overlap, each is filled with a different opaque color.",
            "The data is plotted as a set of rectangular boxes (one box per series), with the boxes stacked vertically (the base of each box is the top of its predecessor, and the base of the first box is the X axis). Since the boxes do not overlap, each is filled with a different opaque color.",
            "The data is plotted as a heatmap. The series being plotted must have a DISTRIBUTION value type. The value of each bucket in the distribution is displayed as a color. This type is not currently available in the Stackdriver Monitoring application."
          ],
          "enum": [
            "PLOT_TYPE_UNSPECIFIED",
            "LINE",
            "STACKED_AREA",
            "STACKED_BAR",
            "HEATMAP"
          ],
          "type": "string"
        }
      }
    },
    "XyChart": {
      "id": "XyChart",
      "type": "object",
      "properties": {
        "dataSets": {
          "items": {
            "$ref": "DataSet"
          },
          "type": "array",
          "description": "Required. The data displayed in this chart."
        },
        "chartOptions": {
          "description": "Display options for the chart.",
          "$ref": "ChartOptions"
        },
        "y2Axis": {
          "$ref": "Axis",
          "description": "The properties applied to the Y2 axis."
        },
        "yAxis": {
          "$ref": "Axis",
          "description": "The properties applied to the Y axis."
        },
        "thresholds": {
          "type": "array",
          "description": "Threshold lines drawn horizontally across the chart.",
          "items": {
            "$ref": "Threshold"
          }
        },
        "xAxis": {
          "description": "The properties applied to the X axis.",
          "$ref": "Axis"
        },
        "timeshiftDuration": {
          "description": "The duration used to display a comparison chart. A comparison chart simultaneously shows values from two similar-length time periods (e.g., week-over-week metrics). The duration must be positive, and it can only be applied to charts with data sets of LINE plot type.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "A chart that displays data on a 2D (X and Y axes) plane."
    },
    "Axis": {
      "properties": {
        "label": {
          "type": "string",
          "description": "The label of the axis."
        },
        "scale": {
          "enumDescriptions": [
            "Scale is unspecified. The view will default to LINEAR.",
            "Linear scale.",
            "Logarithmic scale (base 10)."
          ],
          "type": "string",
          "description": "The axis scale. By default, a linear scale is used.",
          "enum": [
            "SCALE_UNSPECIFIED",
            "LINEAR",
            "LOG10"
          ]
        }
      },
      "description": "A chart axis.",
      "type": "object",
      "id": "Axis"
    },
    "MonitoredProject": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the MonitoredProject. On input, the resource name includes the scoping project ID and monitored project ID. On output, it contains the equivalent project numbers. Example: locations/global/metricsScopes/{SCOPING_PROJECT_ID_OR_NUMBER}/projects/{MONITORED_PROJECT_ID_OR_NUMBER}"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when this MonitoredProject was created."
        }
      },
      "description": "A project being monitored (https://cloud.google.com/monitoring/settings/multiple-projects#create-multi) by a Metrics Scope.",
      "type": "object",
      "id": "MonitoredProject"
    },
    "Scorecard": {
      "properties": {
        "thresholds": {
          "type": "array",
          "items": {
            "$ref": "Threshold"
          },
          "description": "The thresholds used to determine the state of the scorecard given the time series' current value. For an actual value x, the scorecard is in a danger state if x is less than or equal to a danger threshold that triggers below, or greater than or equal to a danger threshold that triggers above. Similarly, if x is above/below a warning threshold that triggers above/below, then the scorecard is in a warning state - unless x also puts it in a danger state. (Danger trumps warning.)As an example, consider a scorecard with the following four thresholds: { value: 90, category: 'DANGER', trigger: 'ABOVE', }, { value: 70, category: 'WARNING', trigger: 'ABOVE', }, { value: 10, category: 'DANGER', trigger: 'BELOW', }, { value: 20, category: 'WARNING', trigger: 'BELOW', } Then: values less than or equal to 10 would put the scorecard in a DANGER state, values greater than 10 but less than or equal to 20 a WARNING state, values strictly between 20 and 70 an OK state, values greater than or equal to 70 but less than 90 a WARNING state, and values greater than or equal to 90 a DANGER state."
        },
        "sparkChartView": {
          "$ref": "SparkChartView",
          "description": "Will cause the scorecard to show a spark chart."
        },
        "gaugeView": {
          "description": "Will cause the scorecard to show a gauge chart.",
          "$ref": "GaugeView"
        },
        "timeSeriesQuery": {
          "$ref": "TimeSeriesQuery",
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API."
        }
      },
      "id": "Scorecard",
      "description": "A widget showing the latest value of a metric, and how this value relates to one or more thresholds.",
      "type": "object"
    },
    "Option": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The option's name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, \"map_entry\". For custom options, it should be the fully-qualified name. For example, \"google.api.http\"."
        },
        "value": {
          "description": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "A protocol buffer option, which can be attached to a message, field, enumeration, etc.",
      "id": "Option"
    },
    "Tile": {
      "type": "object",
      "id": "Tile",
      "properties": {
        "widget": {
          "description": "The informational widget contained in the tile. For example an XyChart.",
          "$ref": "Widget"
        },
        "yPos": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-indexed position of the tile in grid blocks relative to the top edge of the grid. y_pos cannot be negative."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the tile, measured in grid blocks. Tiles must have a minimum height of 1."
        },
        "width": {
          "description": "The width of the tile, measured in grid blocks. Tiles must have a minimum width of 1.",
          "format": "int32",
          "type": "integer"
        },
        "xPos": {
          "description": "The zero-indexed position of the tile in grid blocks relative to the left edge of the grid. Tiles must be contained within the specified number of columns. x_pos cannot be negative.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A single tile in the mosaic. The placement and size of the tile are configurable."
    },
    "Column": {
      "properties": {
        "weight": {
          "format": "int64",
          "type": "string",
          "description": "The relative weight of this column. The column weight is used to adjust the width of columns on the screen (relative to peers). Greater the weight, greater the width of the column on the screen. If omitted, a value of 1 is used while rendering."
        },
        "widgets": {
          "items": {
            "$ref": "Widget"
          },
          "description": "The display widgets arranged vertically in this column.",
          "type": "array"
        }
      },
      "description": "Defines the layout properties and content for a column.",
      "id": "Column",
      "type": "object"
    },
    "Aggregation": {
      "type": "object",
      "id": "Aggregation",
      "properties": {
        "alignmentPeriod": {
          "description": "The alignment_period specifies a time interval, in seconds, that is used to divide the data in all the time series into consistent blocks of time. This will be done before the per-series aligner can be applied to the data.The value must be at least 60 seconds. If a per-series aligner other than ALIGN_NONE is specified, this field is required or an error is returned. If no per-series aligner is specified, or the aligner ALIGN_NONE is specified, then this field is ignored.The maximum value of the alignment_period is 2 years, or 104 weeks.",
          "format": "google-duration",
          "type": "string"
        },
        "perSeriesAligner": {
          "enum": [
            "ALIGN_NONE",
            "ALIGN_DELTA",
            "ALIGN_RATE",
            "ALIGN_INTERPOLATE",
            "ALIGN_NEXT_OLDER",
            "ALIGN_MIN",
            "ALIGN_MAX",
            "ALIGN_MEAN",
            "ALIGN_COUNT",
            "ALIGN_SUM",
            "ALIGN_STDDEV",
            "ALIGN_COUNT_TRUE",
            "ALIGN_COUNT_FALSE",
            "ALIGN_FRACTION_TRUE",
            "ALIGN_PERCENTILE_99",
            "ALIGN_PERCENTILE_95",
            "ALIGN_PERCENTILE_50",
            "ALIGN_PERCENTILE_05",
            "ALIGN_PERCENT_CHANGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "No alignment. Raw data is returned. Not valid if cross-series reduction is requested. The value_type of the result is the same as the value_type of the input.",
            "Align and convert to DELTA. The output is delta = y1 - y0.This alignment is valid for CUMULATIVE and DELTA metrics. If the selected alignment period results in periods with no data, then the aligned value for such a period is created by interpolation. The value_type of the aligned result is the same as the value_type of the input.",
            "Align and convert to a rate. The result is computed as rate = (y1 - y0)/(t1 - t0), or \"delta over time\". Think of this aligner as providing the slope of the line that passes through the value at the start and at the end of the alignment_period.This aligner is valid for CUMULATIVE and DELTA metrics with numeric values. If the selected alignment period results in periods with no data, then the aligned value for such a period is created by interpolation. The output is a GAUGE metric with value_type DOUBLE.If, by \"rate\", you mean \"percentage change\", see the ALIGN_PERCENT_CHANGE aligner instead.",
            "Align by interpolating between adjacent points around the alignment period boundary. This aligner is valid for GAUGE metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align by moving the most recent data point before the end of the alignment period to the boundary at the end of the alignment period. This aligner is valid for GAUGE metrics. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the minimum value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the maximum value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the mean value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is DOUBLE.",
            "Align the time series by returning the number of values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric or Boolean values. The value_type of the aligned result is INT64.",
            "Align the time series by returning the sum of the values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric and distribution values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the standard deviation of the values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the output is DOUBLE.",
            "Align the time series by returning the number of True values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The value_type of the output is INT64.",
            "Align the time series by returning the number of False values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The value_type of the output is INT64.",
            "Align the time series by returning the ratio of the number of True values to the total number of values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The output value is in the range 0.0, 1.0 and has value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 99th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 95th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 50th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 5th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align and convert to a percentage change. This aligner is valid for GAUGE and DELTA metrics with numeric values. This alignment returns ((current - previous)/previous) * 100, where the value of previous is determined based on the alignment_period.If the values of current and previous are both 0, then the returned value is 0. If only previous is 0, the returned value is infinity.A 10-minute moving mean is computed at each point of the alignment period prior to the above calculation to smooth the metric and prevent false positives from very short-lived spikes. The moving mean is only applicable for data whose values are \u003e= 0. Any values \u003c 0 are treated as a missing datapoint, and are ignored. While DELTA metrics are accepted by this alignment, special care should be taken that the values for the metric will always be positive. The output is a GAUGE metric with value_type DOUBLE."
          ],
          "description": "An Aligner describes how to bring the data points in a single time series into temporal alignment. Except for ALIGN_NONE, all alignments cause all the data points in an alignment_period to be mathematically grouped together, resulting in a single data point for each alignment_period with end timestamp at the end of the period.Not all alignment operations may be applied to all time series. The valid choices depend on the metric_kind and value_type of the original time series. Alignment can change the metric_kind or the value_type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified and not equal to ALIGN_NONE and alignment_period must be specified; otherwise, an error is returned."
        },
        "groupByFields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of fields to preserve when cross_series_reducer is specified. The group_by_fields determine how the time series are partitioned into subsets prior to applying the aggregation operation. Each subset contains time series that have the same value for each of the grouping fields. Each individual time series is a member of exactly one subset. The cross_series_reducer is applied to each subset of time series. It is not possible to reduce across different resource types, so this field implicitly contains resource.type. Fields not specified in group_by_fields are aggregated away. If group_by_fields is not specified and all the time series have the same resource type, then the time series are aggregated into a single output time series. If cross_series_reducer is not defined, this field is ignored."
        },
        "crossSeriesReducer": {
          "enumDescriptions": [
            "No cross-time series reduction. The output of the Aligner is returned.",
            "Reduce by computing the mean value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric or distribution values. The value_type of the output is DOUBLE.",
            "Reduce by computing the minimum value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the maximum value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the sum across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric and distribution values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the standard deviation across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric or distribution values. The value_type of the output is DOUBLE.",
            "Reduce by computing the number of data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of numeric, Boolean, distribution, and string value_type. The value_type of the output is INT64.",
            "Reduce by computing the number of True-valued data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The value_type of the output is INT64.",
            "Reduce by computing the number of False-valued data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The value_type of the output is INT64.",
            "Reduce by computing the ratio of the number of True-valued data points to the total number of data points for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The output value is in the range 0.0, 1.0 and has value_type DOUBLE.",
            "Reduce by computing the 99th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 95th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 50th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 5th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE."
          ],
          "description": "The reduction operation to be used to combine time series into a single time series, where the value of each data point in the resulting series is a function of all the already aligned values in the input time series.Not all reducer operations can be applied to all time series. The valid choices depend on the metric_kind and the value_type of the original time series. Reduction can yield a time series with a different metric_kind or value_type than the input time series.Time series data must first be aligned (see per_series_aligner) in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified, and must not be ALIGN_NONE. An alignment_period must also be specified; otherwise, an error is returned.",
          "type": "string",
          "enum": [
            "REDUCE_NONE",
            "REDUCE_MEAN",
            "REDUCE_MIN",
            "REDUCE_MAX",
            "REDUCE_SUM",
            "REDUCE_STDDEV",
            "REDUCE_COUNT",
            "REDUCE_COUNT_TRUE",
            "REDUCE_COUNT_FALSE",
            "REDUCE_FRACTION_TRUE",
            "REDUCE_PERCENTILE_99",
            "REDUCE_PERCENTILE_95",
            "REDUCE_PERCENTILE_50",
            "REDUCE_PERCENTILE_05"
          ]
        }
      },
      "description": "Describes how to combine multiple time series to provide a different view of the data. Aggregation of time series is done in two steps. First, each time series in the set is aligned to the same time interval boundaries, then the set of time series is optionally reduced in number.Alignment consists of applying the per_series_aligner operation to each time series after its data has been divided into regular alignment_period time intervals. This process takes all of the data points in an alignment period, applies a mathematical transformation such as averaging, minimum, maximum, delta, etc., and converts them into a single data point per period.Reduction is when the aligned and transformed time series can optionally be combined, reducing the number of time series through similar mathematical transformations. Reduction involves applying a cross_series_reducer to all the time series, optionally sorting the time series into subsets with group_by_fields, and applying the reducer to each subset.The raw time series data can contain a huge amount of information from multiple sources. Alignment and reduction transforms this mass of data into a more manageable and representative collection of data, for example \"the 95% latency across the average of all tasks in a cluster\". This representative data can be more easily graphed and comprehended, and the individual time series data is still available for later drilldown. For more details, see Filtering and aggregation (https://cloud.google.com/monitoring/api/v3/aggregation)."
    },
    "QueryRangeRequest": {
      "properties": {
        "query": {
          "description": "A PromQL query string. Query lanauge documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/.",
          "type": "string"
        },
        "timeout": {
          "description": "An upper bound timeout for the query. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field.",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "step": {
          "description": "The resolution of query result. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field.",
          "type": "string"
        },
        "start": {
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "QueryRangeRequest",
      "description": "QueryRangeRequest holds all parameters of the Prometheus upstream range query API plus GCM specific parameters."
    },
    "TableDataSet": {
      "properties": {
        "tableTemplate": {
          "description": "Optional. A template string for naming TimeSeries in the resulting data set. This should be a string with interpolations of the form ${label_name}, which will resolve to the label's value i.e. \"${resource.labels.project_id}.\"",
          "type": "string"
        },
        "minAlignmentPeriod": {
          "format": "google-duration",
          "description": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals.",
          "type": "string"
        },
        "timeSeriesQuery": {
          "$ref": "TimeSeriesQuery",
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API."
        },
        "tableDisplayOptions": {
          "$ref": "TableDisplayOptions",
          "description": "Optional. Table display options for configuring how the table is rendered."
        }
      },
      "id": "TableDataSet",
      "description": "Groups a time series query definition with table options.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "properties": {}
    },
    "DashboardFilter": {
      "id": "DashboardFilter",
      "description": "A filter to reduce the amount of data charted in relevant widgets.",
      "type": "object",
      "properties": {
        "templateVariable": {
          "type": "string",
          "description": "The placeholder text that can be referenced in a filter string or MQL query. If omitted, the dashboard filter will be applied to all relevant widgets in the dashboard."
        },
        "stringValue": {
          "type": "string",
          "description": "A variable-length string value."
        },
        "filterType": {
          "enumDescriptions": [
            "Filter type is unspecified. This is not valid in a well-formed request.",
            "Filter on a resource label value",
            "Filter on a metrics label value",
            "Filter on a user metadata label value",
            "Filter on a system metadata label value",
            "Filter on a group id"
          ],
          "description": "The specified filter type",
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "RESOURCE_LABEL",
            "METRIC_LABEL",
            "USER_METADATA_LABEL",
            "SYSTEM_METADATA_LABEL",
            "GROUP"
          ],
          "type": "string"
        },
        "labelKey": {
          "description": "Required. The key for the label",
          "type": "string"
        }
      }
    },
    "Widget": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. The title of the widget."
        },
        "timeSeriesTable": {
          "description": "A widget that displays time series data in a tabular format.",
          "$ref": "TimeSeriesTable"
        },
        "text": {
          "description": "A raw string or markdown displaying textual content.",
          "$ref": "Text"
        },
        "blank": {
          "$ref": "Empty",
          "description": "A blank space."
        },
        "collapsibleGroup": {
          "$ref": "CollapsibleGroup",
          "description": "A widget that groups the other widgets. All widgets that are within the area spanned by the grouping widget are considered member widgets."
        },
        "scorecard": {
          "description": "A scorecard summarizing time series data.",
          "$ref": "Scorecard"
        },
        "logsPanel": {
          "$ref": "LogsPanel",
          "description": "A widget that shows a stream of logs."
        },
        "xyChart": {
          "$ref": "XyChart",
          "description": "A chart of time series data."
        },
        "alertChart": {
          "$ref": "AlertChart",
          "description": "A chart of alert policy data."
        }
      },
      "description": "Widget contains a single dashboard component and configuration of how to present the component in the dashboard.",
      "id": "Widget",
      "type": "object"
    },
    "Threshold": {
      "description": "Defines a threshold for categorizing time series values.",
      "properties": {
        "targetAxis": {
          "description": "The target axis to use for plotting the threshold. Target axis is not allowed in a Scorecard.",
          "enum": [
            "TARGET_AXIS_UNSPECIFIED",
            "Y1",
            "Y2"
          ],
          "type": "string",
          "enumDescriptions": [
            "The target axis was not specified. Defaults to Y1.",
            "The y_axis (the right axis of chart).",
            "The y2_axis (the left axis of chart)."
          ]
        },
        "label": {
          "type": "string",
          "description": "A label for the threshold."
        },
        "color": {
          "enum": [
            "COLOR_UNSPECIFIED",
            "YELLOW",
            "RED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Color is unspecified. Not allowed in well-formed requests.",
            "Crossing the threshold is \"concerning\" behavior.",
            "Crossing the threshold is \"emergency\" behavior."
          ],
          "description": "The state color for this threshold. Color is not allowed in a XyChart."
        },
        "direction": {
          "description": "The direction for the current threshold. Direction is not allowed in a XyChart.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ABOVE",
            "BELOW"
          ],
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "The threshold will be considered crossed if the actual value is above the threshold value.",
            "The threshold will be considered crossed if the actual value is below the threshold value."
          ],
          "type": "string"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "The value of the threshold. The value should be defined in the native scale of the metric."
        }
      },
      "id": "Threshold",
      "type": "object"
    },
    "TimeSeriesFilterRatio": {
      "type": "object",
      "id": "TimeSeriesFilterRatio",
      "description": "A pair of time series filters that define a ratio computation. The output time series is the pair-wise division of each aligned element from the numerator and denominator time series.",
      "properties": {
        "denominator": {
          "description": "The denominator of the ratio.",
          "$ref": "RatioPart"
        },
        "statisticalTimeSeriesFilter": {
          "$ref": "StatisticalTimeSeriesFilter",
          "description": "Statistics based time series filter. Note: This field is deprecated and completely ignored by the API."
        },
        "secondaryAggregation": {
          "$ref": "Aggregation",
          "description": "Apply a second aggregation after the ratio is computed."
        },
        "numerator": {
          "description": "The numerator of the ratio.",
          "$ref": "RatioPart"
        },
        "pickTimeSeriesFilter": {
          "$ref": "PickTimeSeriesFilter",
          "description": "Ranking based time series filter."
        }
      }
    },
    "ChartOptions": {
      "description": "Options to control visual rendering of a chart.",
      "id": "ChartOptions",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Mode is unspecified. The view will default to COLOR.",
            "The chart distinguishes data series using different color. Line colors may get reused when there are many lines in the chart.",
            "The chart uses the Stackdriver x-ray mode, in which each data set is plotted using the same semi-transparent color.",
            "The chart displays statistics such as average, median, 95th percentile, and more."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "COLOR",
            "X_RAY",
            "STATS"
          ],
          "description": "The chart mode."
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "ListDashboardsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method.",
          "type": "string"
        },
        "dashboards": {
          "description": "The list of requested dashboards.",
          "items": {
            "$ref": "Dashboard"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListDashboardsResponse",
      "description": "The ListDashboards request."
    },
    "ColumnLayout": {
      "id": "ColumnLayout",
      "description": "A simplified layout that divides the available space into vertical columns and arranges a set of widgets vertically in each column.",
      "properties": {
        "columns": {
          "type": "array",
          "items": {
            "$ref": "Column"
          },
          "description": "The columns of content to display."
        }
      },
      "type": "object"
    },
    "Field": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The field type.",
          "enumDescriptions": [
            "Field type unknown.",
            "Field type double.",
            "Field type float.",
            "Field type int64.",
            "Field type uint64.",
            "Field type int32.",
            "Field type fixed64.",
            "Field type fixed32.",
            "Field type bool.",
            "Field type string.",
            "Field type group. Proto2 syntax only, and deprecated.",
            "Field type message.",
            "Field type bytes.",
            "Field type uint32.",
            "Field type enum.",
            "Field type sfixed32.",
            "Field type sfixed64.",
            "Field type sint32.",
            "Field type sint64."
          ],
          "enum": [
            "TYPE_UNKNOWN",
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ]
        },
        "options": {
          "type": "array",
          "description": "The protocol buffer options.",
          "items": {
            "$ref": "Option"
          }
        },
        "jsonName": {
          "description": "The field JSON name.",
          "type": "string"
        },
        "defaultValue": {
          "description": "The string value of the default value of this field. Proto2 syntax only.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The field name."
        },
        "packed": {
          "type": "boolean",
          "description": "Whether to use alternative packed wire representation."
        },
        "number": {
          "description": "The field number.",
          "format": "int32",
          "type": "integer"
        },
        "typeUrl": {
          "description": "The field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com/google.protobuf.Timestamp\".",
          "type": "string"
        },
        "cardinality": {
          "type": "string",
          "description": "The field cardinality.",
          "enumDescriptions": [
            "For fields with unknown cardinality.",
            "For optional fields.",
            "For required fields. Proto2 syntax only.",
            "For repeated fields."
          ],
          "enum": [
            "CARDINALITY_UNKNOWN",
            "CARDINALITY_OPTIONAL",
            "CARDINALITY_REQUIRED",
            "CARDINALITY_REPEATED"
          ]
        },
        "oneofIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the field type in Type.oneofs, for message or enumeration types. The first type has index 1; zero means the type is not in the list."
        }
      },
      "description": "A single field of a message type.",
      "id": "Field",
      "type": "object"
    },
    "Type": {
      "id": "Type",
      "properties": {
        "syntax": {
          "type": "string",
          "enum": [
            "SYNTAX_PROTO2",
            "SYNTAX_PROTO3"
          ],
          "enumDescriptions": [
            "Syntax proto2.",
            "Syntax proto3."
          ],
          "description": "The source syntax."
        },
        "oneofs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of types appearing in oneof definitions in this type."
        },
        "options": {
          "description": "The protocol buffer options.",
          "items": {
            "$ref": "Option"
          },
          "type": "array"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "Field"
          },
          "description": "The list of fields."
        },
        "name": {
          "description": "The fully qualified message name.",
          "type": "string"
        },
        "sourceContext": {
          "$ref": "SourceContext",
          "description": "The source context."
        }
      },
      "description": "A protocol buffer message type.",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Contains metadata for longrunning operation for the edit Metrics Scope endpoints.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the operation result was last updated."
        },
        "createTime": {
          "description": "The time when the batch request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Invalid.",
            "Request has been received.",
            "Request is actively being processed.",
            "The batch processing is done.",
            "The batch processing was cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "DONE",
            "CANCELLED"
          ],
          "description": "Current state of the batch operation."
        }
      }
    },
    "ColumnSettings": {
      "properties": {
        "visible": {
          "description": "Required. Whether the column should be visible on page load.",
          "type": "boolean"
        },
        "column": {
          "type": "string",
          "description": "Required. The id of the column."
        }
      },
      "description": "The persistent settings for a table's columns.",
      "id": "ColumnSettings",
      "type": "object"
    },
    "QueryInstantRequest": {
      "description": "QueryInstantRequest holds all parameters of the Prometheus upstream instant query API plus GCM specific parameters.",
      "properties": {
        "timeout": {
          "description": "An upper bound timeout for the query. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "A PromQL query string. Query lanauge documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/."
        },
        "time": {
          "description": "The single point in time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "QueryInstantRequest"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "QuerySeriesRequest": {
      "properties": {
        "end": {
          "type": "string",
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "start": {
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        }
      },
      "id": "QuerySeriesRequest",
      "description": "QuerySeries holds all parameters of the Prometheus upstream API for querying series.",
      "type": "object"
    }
  },
  "canonicalName": "Monitoring",
  "version_module": true,
  "revision": "20230130",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/monitoring.write": {
          "description": "Publish metric data to your Google Cloud projects"
        },
        "https://www.googleapis.com/auth/monitoring.read": {
          "description": "View monitoring data for all of your Google Cloud and third-party projects"
        },
        "https://www.googleapis.com/auth/monitoring": {
          "description": "View and write monitoring data for all of your Google and third-party Cloud and API projects"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "location": {
          "resources": {
            "prometheus": {
              "resources": {
                "api": {
                  "resources": {
                    "v1": {
                      "resources": {
                        "label": {
                          "methods": {
                            "values": {
                              "parameterOrder": [
                                "name",
                                "location",
                                "label"
                              ],
                              "parameters": {
                                "label": {
                                  "location": "path",
                                  "required": true,
                                  "description": "The label name for which values are queried.",
                                  "type": "string"
                                },
                                "end": {
                                  "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
                                  "type": "string",
                                  "location": "query"
                                },
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+$",
                                  "description": "The workspace on which to execute the request. It is not part of the open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine. The format is: projects/PROJECT_ID_OR_NUMBER."
                                },
                                "match": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "A list of matchers encoded in the Prometheus label matcher format to constrain the values to series that satisfy them."
                                },
                                "start": {
                                  "location": "query",
                                  "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
                                  "type": "string"
                                },
                                "location": {
                                  "description": "Location of the resource information. Has to be \"global\" now.",
                                  "type": "string",
                                  "required": true,
                                  "location": "path"
                                }
                              },
                              "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/label/{label}/values",
                              "path": "v1/{+name}/location/{location}/prometheus/api/v1/label/{label}/values",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                              ],
                              "description": "Lists possible values for a given label name.",
                              "id": "monitoring.projects.location.prometheus.api.v1.label.values",
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "HttpBody"
                              }
                            }
                          }
                        },
                        "labels": {
                          "methods": {
                            "list": {
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "description": "Lists labels for metrics.",
                              "parameterOrder": [
                                "name",
                                "location"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                              ],
                              "path": "v1/{+name}/location/{location}/prometheus/api/v1/labels",
                              "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/labels",
                              "id": "monitoring.projects.location.prometheus.api.v1.labels.list",
                              "parameters": {
                                "end": {
                                  "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
                                  "type": "string",
                                  "location": "query"
                                },
                                "name": {
                                  "required": true,
                                  "location": "path",
                                  "description": "The workspace on which to execute the request. It is not part of the open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine. The format is: projects/PROJECT_ID_OR_NUMBER.",
                                  "pattern": "^projects/[^/]+$",
                                  "type": "string"
                                },
                                "location": {
                                  "description": "Location of the resource information. Has to be \"global\" now.",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "start": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
                                },
                                "match": {
                                  "description": "A list of matchers encoded in the Prometheus label matcher format to constrain the values to series that satisfy them.",
                                  "location": "query",
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "metadata": {
                          "methods": {
                            "list": {
                              "description": "Lists metadata for metrics.",
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "parameterOrder": [
                                "name",
                                "location"
                              ],
                              "path": "v1/{+name}/location/{location}/prometheus/api/v1/metadata",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                              ],
                              "httpMethod": "GET",
                              "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/metadata",
                              "id": "monitoring.projects.location.prometheus.api.v1.metadata.list",
                              "parameters": {
                                "location": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "Location of the resource information. Has to be \"global\" for now."
                                },
                                "name": {
                                  "description": "Required. The workspace on which to execute the request. It is not part of the open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine. The format is: projects/PROJECT_ID_OR_NUMBER.",
                                  "pattern": "^projects/[^/]+$",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "limit": {
                                  "type": "string",
                                  "description": "Maximum number of metrics to return.",
                                  "format": "int64",
                                  "location": "query"
                                },
                                "metric": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "The metric name for which to query metadata. If unset, all metric metadata is returned."
                                }
                              }
                            }
                          }
                        }
                      },
                      "methods": {
                        "query_exemplars": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/monitoring",
                            "https://www.googleapis.com/auth/monitoring.read"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "QueryExemplarsRequest"
                          },
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/query_exemplars",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "description": "Lists exemplars relevant to a given PromQL query,",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "The project on which to execute the request. Data associcated with the project's workspace stored under the The format is: projects/PROJECT_ID_OR_NUMBER. Open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine.",
                              "pattern": "^projects/[^/]+$"
                            },
                            "location": {
                              "location": "path",
                              "required": true,
                              "description": "Location of the resource information. Has to be \"global\" now.",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/query_exemplars",
                          "id": "monitoring.projects.location.prometheus.api.v1.query_exemplars",
                          "parameterOrder": [
                            "name",
                            "location"
                          ]
                        },
                        "query_range": {
                          "id": "monitoring.projects.location.prometheus.api.v1.query_range",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/monitoring",
                            "https://www.googleapis.com/auth/monitoring.read"
                          ],
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/query_range",
                          "parameterOrder": [
                            "name",
                            "location"
                          ],
                          "request": {
                            "$ref": "QueryRangeRequest"
                          },
                          "description": "Evaluate a PromQL query with start, end time range.",
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/query_range",
                          "parameters": {
                            "location": {
                              "location": "path",
                              "description": "Location of the resource information. Has to be \"global\" now.",
                              "type": "string",
                              "required": true
                            },
                            "name": {
                              "type": "string",
                              "description": "The project on which to execute the request. Data associcated with the project's workspace stored under the The format is: projects/PROJECT_ID_OR_NUMBER. Open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine.",
                              "required": true,
                              "pattern": "^projects/[^/]+$",
                              "location": "path"
                            }
                          }
                        },
                        "series": {
                          "request": {
                            "$ref": "QuerySeriesRequest"
                          },
                          "id": "monitoring.projects.location.prometheus.api.v1.series",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/monitoring",
                            "https://www.googleapis.com/auth/monitoring.read"
                          ],
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "parameterOrder": [
                            "name",
                            "location"
                          ],
                          "description": "Lists metadata for metrics.",
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/series",
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/series",
                          "httpMethod": "POST",
                          "parameters": {
                            "location": {
                              "type": "string",
                              "location": "path",
                              "description": "Location of the resource information. Has to be \"global\" for now.",
                              "required": true
                            },
                            "name": {
                              "description": "Required. The workspace on which to execute the request. It is not part of the open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine. The format is: projects/PROJECT_ID_OR_NUMBER.",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+$"
                            }
                          }
                        },
                        "query": {
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/query",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/monitoring",
                            "https://www.googleapis.com/auth/monitoring.read"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "The project on which to execute the request. Data associcated with the project's workspace stored under the The format is: projects/PROJECT_ID_OR_NUMBER. Open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine.",
                              "pattern": "^projects/[^/]+$"
                            },
                            "location": {
                              "type": "string",
                              "description": "Location of the resource information. Has to be \"global\" now.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "description": "Evaluate a PromQL query at a single point in time.",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/query",
                          "parameterOrder": [
                            "name",
                            "location"
                          ],
                          "request": {
                            "$ref": "QueryInstantRequest"
                          },
                          "httpMethod": "POST",
                          "id": "monitoring.projects.location.prometheus.api.v1.query"
                        },
                        "labels": {
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/labels",
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/labels",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+$",
                              "description": "The workspace on which to execute the request. It is not part of the open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine. The format is: projects/PROJECT_ID_OR_NUMBER."
                            },
                            "location": {
                              "type": "string",
                              "description": "Location of the resource information. Has to be \"global\" now.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "request": {
                            "$ref": "ListLabelsRequest"
                          },
                          "description": "Lists labels for metrics.",
                          "parameterOrder": [
                            "name",
                            "location"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/monitoring",
                            "https://www.googleapis.com/auth/monitoring.read"
                          ],
                          "id": "monitoring.projects.location.prometheus.api.v1.labels",
                          "httpMethod": "POST"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "dashboards": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Dashboard"
              },
              "flatPath": "v1/projects/{projectsId}/dashboards/{dashboardsId}",
              "path": "v1/{+name}",
              "description": "Fetches a specific dashboard.This method requires the monitoring.dashboards.get permission on the specified dashboard. For more information, see Cloud Identity and Access Management (https://cloud.google.com/iam).",
              "parameterOrder": [
                "name"
              ],
              "id": "monitoring.projects.dashboards.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/dashboards/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the Dashboard. The format is one of: dashboards/[DASHBOARD_ID] (for system dashboards) projects/[PROJECT_ID_OR_NUMBER]/dashboards/[DASHBOARD_ID] (for custom dashboards)."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/dashboards",
              "id": "monitoring.projects.dashboards.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read"
              ],
              "description": "Lists the existing dashboards.This method requires the monitoring.dashboards.list permission on the specified project. For more information, see Cloud Identity and Access Management (https://cloud.google.com/iam).",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
[...]
