{
  "id": "mybusinessplaceactions:v1",
  "mtlsRootUrl": "https://mybusinessplaceactions.mtls.googleapis.com/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "revision": "20220319",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "My Business Place Actions",
  "servicePath": "",
  "schemas": {
    "PlaceActionTypeMetadata": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The localized display name for the attribute, if available; otherwise, the English display name."
        },
        "placeActionType": {
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout."
          ],
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT"
          ],
          "type": "string",
          "description": "The place action type."
        }
      },
      "type": "object",
      "description": "Metadata for supported place action types.",
      "id": "PlaceActionTypeMetadata"
    },
    "ListPlaceActionLinksResponse": {
      "id": "ListPlaceActionLinksResponse",
      "description": "Response message for PlaceActions.ListPlaceActionLinks.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there are more place action links than the requested page size, then this field is populated with a token to fetch the next page of results.",
          "type": "string"
        },
        "placeActionLinks": {
          "description": "The returned list of place action links.",
          "type": "array",
          "items": {
            "$ref": "PlaceActionLink"
          }
        }
      }
    },
    "PlaceActionLink": {
      "description": "Represents a place action link and its attributes.",
      "type": "object",
      "id": "PlaceActionLink",
      "properties": {
        "isPreferred": {
          "description": "Optional. Whether this link is preferred by the merchant. Only one link can be marked as preferred per place action type at a location. If a future request marks a different link as preferred for the same place action type, then the current preferred link (if any exists) will lose its preference.",
          "type": "boolean"
        },
        "uri": {
          "description": "Required. The link uri. The same uri can be reused for different action types across different locations. However, only one place action link is allowed for each unique combination of (uri, place action type, location).",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the place action link was last modified."
        },
        "placeActionType": {
          "type": "string",
          "description": "Required. The type of place action that can be performed using this link.",
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout."
          ],
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT"
          ]
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response."
        },
        "isEditable": {
          "readOnly": true,
          "description": "Output only. Indicates whether this link can be edited by the client.",
          "type": "boolean"
        },
        "providerType": {
          "description": "Output only. Specifies the provider type.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "A 1P provider such as a merchant, or an agency on behalf of a merchant.",
            "A 3P aggregator, such as a `Reserve with Google` partner."
          ],
          "enum": [
            "PROVIDER_TYPE_UNSPECIFIED",
            "MERCHANT",
            "AGGREGATOR_3P"
          ],
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the place action link was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "ListPlaceActionTypeMetadataResponse": {
      "type": "object",
      "description": "Response message for PlaceActions.ListPlaceActionTypeMetadata.",
      "id": "ListPlaceActionTypeMetadataResponse",
      "properties": {
        "nextPageToken": {
          "description": "If the number of action types exceeded the requested page size, this field will be populated with a token to fetch the next page on a subsequent call to `placeActionTypeMetadata.list`. If there are no more results, this field will not be present in the response.",
          "type": "string"
        },
        "placeActionTypeMetadata": {
          "items": {
            "$ref": "PlaceActionTypeMetadata"
          },
          "type": "array",
          "description": "A collection of metadata for the available place action types."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    }
  },
  "version_module": true,
  "rootUrl": "https://mybusinessplaceactions.googleapis.com/",
  "documentationLink": "https://developers.google.com/my-business/",
  "description": "The My Business Place Actions API provides an interface for managing place action links of a location on Google.",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "name": "mybusinessplaceactions",
  "basePath": "",
  "resources": {
    "locations": {
      "resources": {
        "placeActionLinks": {
          "methods": {
            "delete": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a place action link from the specified location.",
              "id": "mybusinessplaceactions.locations.placeActionLinks.delete",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the place action link to remove from the location.",
                  "required": true,
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "patch": {
              "request": {
                "$ref": "PlaceActionLink"
              },
              "response": {
                "$ref": "PlaceActionLink"
              },
              "parameters": {
                "updateMask": {
                  "description": "Required. The specific fields to update. The only editable fields are `uri`, `place_action_type` and `is_preferred`. If the updated link already exists at the same location with the same `place_action_type` and `uri`, fails with an `ALREADY_EXISTS` error.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response."
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the specified place action link and returns it.",
              "httpMethod": "PATCH",
              "id": "mybusinessplaceactions.locations.placeActionLinks.patch",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the place action link to fetch.",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "required": true
                }
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Gets the specified place action link.",
              "response": {
                "$ref": "PlaceActionLink"
              }
            },
            "list": {
              "id": "mybusinessplaceactions.locations.placeActionLinks.list",
              "httpMethod": "GET",
              "description": "Lists the place action links for the specified location.",
              "path": "v1/{+parent}/placeActionLinks",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the location whose place action links will be listed. `locations/{location_id}`.",
                  "pattern": "^locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If specified, returns the next page of place action links.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. How many place action links to return per page. Default of 10. The minimum is 1.",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A filter constraining the place action links to return. The response includes entries that match the filter. We support only the following filter: 1. place_action_type=XYZ where XYZ is a valid PlaceActionType."
                }
              },
              "response": {
                "$ref": "ListPlaceActionLinksResponse"
              },
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "path": "v1/{+parent}/placeActionLinks",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name of the location where to create this place action link. `locations/{location_id}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^locations/[^/]+$"
                }
              },
              "request": {
                "$ref": "PlaceActionLink"
              },
              "httpMethod": "POST",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "parameterOrder": [
                "parent"
              ],
              "id": "mybusinessplaceactions.locations.placeActionLinks.create",
              "description": "Creates a place action link associated with the specified location, and returns it. The request is considered duplicate if the `parent`, `place_action_link.uri` and `place_action_link.place_action_type` are the same as a previous request.",
              "response": {
                "$ref": "PlaceActionLink"
              }
            }
          }
        }
      }
    },
    "placeActionTypeMetadata": {
      "methods": {
        "list": {
          "path": "v1/placeActionTypeMetadata",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. If specified, the next page of place action type metadata is retrieved. The `pageToken` is returned when a call to `placeActionTypeMetadata.list` returns more results than can fit into the requested page size.",
              "location": "query"
            },
            "filter": {
              "description": "Optional. A filter constraining the place action types to return metadata for. The response includes entries that match the filter. We support only the following filters: 1. location=XYZ where XYZ is a string indicating the resource name of a location, in the format `locations/{location_id}`. 2. region_code=XYZ where XYZ is a Unicode CLDR region code to find available action types. If no filter is provided, all place action types are returned.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. How many action types to include per page. Default is 10, minimum is 1.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "languageCode": {
              "description": "Optional. The IETF BCP-47 code of language to get display names in. If this language is not available, they will be provided in English.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1/placeActionTypeMetadata",
          "description": "Returns the list of available place action types for a location or country.",
          "id": "mybusinessplaceactions.placeActionTypeMetadata.list",
          "response": {
            "$ref": "ListPlaceActionTypeMetadataResponse"
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "title": "My Business Place Actions API",
  "baseUrl": "https://mybusinessplaceactions.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  }
}
