{
  "resources": {
    "accounts": {
      "methods": {
        "getNotificationSetting": {
          "response": {
            "$ref": "NotificationSetting"
          },
          "flatPath": "v1/accounts/{accountsId}/notificationSetting",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+/notificationSetting$",
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the notification setting we are trying to fetch."
            }
          },
          "description": "Returns the pubsub notification settings for the account.",
          "httpMethod": "GET",
          "id": "mybusinessnotifications.accounts.getNotificationSetting",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "updateNotificationSetting": {
          "description": "Sets the pubsub notification setting for the account informing Google which topic to send pubsub notifications for. Use the notification_types field within notification_setting to manipulate the events an account wants to subscribe to. An account will only have one notification setting resource, and only one pubsub topic can be set. To delete the setting, update with an empty notification_types",
          "flatPath": "v1/accounts/{accountsId}/notificationSetting",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "id": "mybusinessnotifications.accounts.updateNotificationSetting",
          "response": {
            "$ref": "NotificationSetting"
          },
          "parameters": {
            "name": {
              "description": "Required. The resource name this setting is for. This is of the form `accounts/{account_id}/notifications/setting`.",
              "type": "string",
              "required": true,
              "pattern": "^accounts/[^/]+/notificationSetting$",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The specific fields that should be updated. The only editable field is notification_setting."
            }
          },
          "request": {
            "$ref": "NotificationSetting"
          },
          "path": "v1/{+name}"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "id": "mybusinessnotifications:v1",
  "mtlsRootUrl": "https://mybusinessnotifications.mtls.googleapis.com/",
  "baseUrl": "https://mybusinessnotifications.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "protocol": "rest",
  "description": "The My Business Notification Settings API enables managing notification settings for business accounts.",
  "ownerDomain": "google.com",
  "revision": "20210712",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "NotificationSetting": {
      "type": "object",
      "id": "NotificationSetting",
      "properties": {
        "notificationTypes": {
          "description": "The types of notifications that will be sent to the Pub/Sub topic. To stop receiving notifications entirely, use NotificationSettings.UpdateNotificationSetting with an empty notification_types or set the pubsub_topic to an empty string.",
          "type": "array",
          "items": {
            "enum": [
              "NOTIFICATION_TYPE_UNSPECIFIED",
              "GOOGLE_UPDATE",
              "NEW_REVIEW",
              "UPDATED_REVIEW",
              "NEW_CUSTOMER_MEDIA",
              "NEW_QUESTION",
              "UPDATED_QUESTION",
              "NEW_ANSWER",
              "UPDATED_ANSWER",
              "DUPLICATE_LOCATION"
            ],
            "type": "string",
            "enumDescriptions": [
              "No notification type. Will not match any notifications.",
              "The location has Google updates for review. The location_name field on the notification will provide the resource name of the location with Google updates.",
              "A new review has been added to the location. The review_name field on the notification will provide the resource name of the review that was added, and location_name will have the location's resource name.",
              "A review on the location has been updated. The review_name field on the notification will provide the resource name of the review that was added, and location_name will have the location's resource name.",
              "A new media item has been added to the location by a Google Maps user. The notification will provide the resource name of the new media item.",
              "A new question is added to the location. The notification will provide the resource name of question.",
              "A question of the location is updated. The notification will provide the resource name of question.",
              "A new answer is added to the location. The notification will provide the resource name of question and answer.",
              "An answer of the location is updated. The notification will provide the resource name of question and answer.",
              "Indicates whether there is a change in location metadata's duplicate location field."
            ]
          }
        },
        "name": {
          "description": "Required. The resource name this setting is for. This is of the form `accounts/{account_id}/notifications/setting`.",
          "type": "string"
        },
        "pubsubTopic": {
          "description": "Optional. The Google Pub/Sub topic that will receive notifications when locations managed by this account are updated. If unset, no notifications will be posted. The account mybusiness-api-pubsub@system.gserviceaccount.com must have at least Publish permissions on the Pub/Sub topic.",
          "type": "string"
        }
      },
      "description": "A Google Pub/Sub topic where notifications can be published when a location is updated or has a new review. There will be only one notification setting resource per-account."
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "canonicalName": "My Business Notification Settings",
  "basePath": "",
  "version": "v1",
  "batchPath": "batch",
  "rootUrl": "https://mybusinessnotifications.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/my-business/",
  "title": "My Business Notifications API",
  "name": "mybusinessnotifications",
  "version_module": true
}
