{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "resources": {
    "locations": {
      "methods": {
        "verify": {
          "request": {
            "$ref": "VerifyLocationRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/locations/{locationsId}:verify",
          "response": {
            "$ref": "VerifyLocationResponse"
          },
          "description": "Starts the verification process for a location.",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the location to verify.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^locations/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "id": "mybusinessverifications.locations.verify",
          "path": "v1/{+name}:verify"
        },
        "getVoiceOfMerchantState": {
          "httpMethod": "GET",
          "path": "v1/{+name}/VoiceOfMerchantState",
          "id": "mybusinessverifications.locations.getVoiceOfMerchantState",
          "description": "Gets the VoiceOfMerchant state.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "VoiceOfMerchantState"
          },
          "flatPath": "v1/locations/{locationsId}/VoiceOfMerchantState",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^locations/[^/]+$",
              "description": "Required. Resource name of the location.",
              "type": "string"
            }
          }
        },
        "fetchVerificationOptions": {
          "parameterOrder": [
            "location"
          ],
          "request": {
            "$ref": "FetchVerificationOptionsRequest"
          },
          "response": {
            "$ref": "FetchVerificationOptionsResponse"
          },
          "path": "v1/{+location}:fetchVerificationOptions",
          "httpMethod": "POST",
          "id": "mybusinessverifications.locations.fetchVerificationOptions",
          "flatPath": "v1/locations/{locationsId}:fetchVerificationOptions",
          "description": "Reports all eligible verification options for a location in a specific language.",
          "parameters": {
            "location": {
              "description": "Required. The location to verify.",
              "pattern": "^locations/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        }
      },
      "resources": {
        "verifications": {
          "methods": {
            "complete": {
              "id": "mybusinessverifications.locations.verifications.complete",
              "path": "v1/{+name}:complete",
              "request": {
                "$ref": "CompleteVerificationRequest"
              },
              "response": {
                "$ref": "CompleteVerificationResponse"
              },
              "flatPath": "v1/locations/{locationsId}/verifications/{verificationsId}:complete",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the verification to complete.",
                  "pattern": "^locations/[^/]+/verifications/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Completes a `PENDING` verification. It is only necessary for non `AUTO` verification methods. `AUTO` verification request is instantly `VERIFIED` upon creation.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the location that verification requests belong to."
                },
                "pageToken": {
                  "location": "query",
                  "description": "If specified, returns the next page of verifications.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "How many verification to include per page. Minimum is 1, and the default and maximum page size is 100.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListVerificationsResponse"
              },
              "description": "List verifications of a location, ordered by create time.",
              "path": "v1/{+parent}/verifications",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/locations/{locationsId}/verifications",
              "id": "mybusinessverifications.locations.verifications.list"
            }
          }
        }
      }
    },
    "verificationTokens": {
      "methods": {
        "generate": {
          "parameterOrder": [],
          "description": "Generates a token for the provided location data as a vetted [partner](https://support.google.com/business/answer/7674102). Throws PERMISSION_DENIED if the caller is not a vetted partner account. Throws FAILED_PRECONDITION if the caller's VettedStatus is INVALID.",
          "httpMethod": "POST",
          "id": "mybusinessverifications.verificationTokens.generate",
          "flatPath": "v1/verificationTokens:generate",
          "parameters": {},
          "request": {
            "$ref": "GenerateVerificationTokenRequest"
          },
          "path": "v1/verificationTokens:generate",
          "response": {
            "$ref": "GenerateVerificationTokenResponse"
          }
        }
      }
    }
  },
  "description": "The My Business Verifications API provides an interface for taking verifications related actions for locations.",
  "rootUrl": "https://mybusinessverifications.googleapis.com/",
  "basePath": "",
  "revision": "20210822",
  "canonicalName": "My Business Verifications",
  "version_module": true,
  "name": "mybusinessverifications",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/my-business/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "batchPath": "batch",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://mybusinessverifications.googleapis.com/",
  "mtlsRootUrl": "https://mybusinessverifications.mtls.googleapis.com/",
  "schemas": {
    "VerifyLocationResponse": {
      "type": "object",
      "description": "Response message for Verifications.VerifyLocation.",
      "properties": {
        "verification": {
          "$ref": "Verification",
          "description": "The created verification request."
        }
      },
      "id": "VerifyLocationResponse"
    },
    "ServiceBusinessContext": {
      "type": "object",
      "id": "ServiceBusinessContext",
      "properties": {
        "address": {
          "description": "The verification address of the location. It is used to either enable more verification options or send a postcard.",
          "$ref": "PostalAddress"
        }
      },
      "description": "Additional data for service business verification."
    },
    "VerifyLocationRequest": {
      "description": "Request message for Verifications.VerifyLocation.",
      "properties": {
        "phoneNumber": {
          "description": "Optional. The input for PHONE_CALL/SMS method The phone number that should be called or be sent SMS to. It must be one of the phone numbers in the eligible options.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The BCP 47 language code representing the language that is to be used for the verification process.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "enum": [
            "VERIFICATION_METHOD_UNSPECIFIED",
            "ADDRESS",
            "EMAIL",
            "PHONE_CALL",
            "SMS",
            "AUTO",
            "VETTED_PARTNER"
          ],
          "enumDescriptions": [
            "Default value, will result in errors.",
            "Send a postcard with a verification PIN to a specific mailing address. The PIN is used to complete verification with Google.",
            "Send an email with a verification PIN to a specific email address. The PIN is used to complete verification with Google.",
            "Make a phone call with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Send an SMS with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Verify the location without additional user action. This option may not be available for all locations.",
            "Used for vetted [partners](https://support.google.com/business/answer/7674102). This option may not be available for all locations."
          ],
          "description": "Required. Verification method."
        },
        "context": {
          "description": "Optional. Extra context information for the verification of service businesses. It is only required for the locations whose business type is CUSTOMER_LOCATION_ONLY. For ADDRESS verification, the address will be used to send out postcard. For other methods, it should be the same as the one that is passed to GetVerificationOptions. INVALID_ARGUMENT will be thrown if it is set for other types of business locations.",
          "$ref": "ServiceBusinessContext"
        },
        "mailerContact": {
          "type": "string",
          "description": "Optional. The input for ADDRESS method. Contact name the mail should be sent to."
        },
        "token": {
          "description": "Optional. The input for VETTED_PARTNER method available to select [partners.](https://support.google.com/business/answer/7674102) The input is not needed for a vetted account. Token that is associated to the location. Token that is associated to the location.",
          "$ref": "VerificationToken"
        },
        "emailAddress": {
          "description": "Optional. The input for EMAIL method. Email address where the PIN should be sent to. An email address is accepted only if it is one of the addresses provided by FetchVerificationOptions. If the EmailVerificationData has is_user_name_editable set to true, the client may specify a different user name (local-part) but must match the domain name.",
          "type": "string"
        }
      },
      "id": "VerifyLocationRequest",
      "type": "object"
    },
    "VoiceOfMerchantState": {
      "type": "object",
      "id": "VoiceOfMerchantState",
      "description": "Response message for VoiceOfMerchant.GetVoiceOfMerchantState.",
      "properties": {
        "hasBusinessAuthority": {
          "description": "Indicates whether the location has the authority (ownership) over the business on Google. If true, another location cannot take over and become the dominant listing on Maps. However, edits will not become live unless Voice of Merchant is gained (i.e. has_voice_of_merchant is true).",
          "type": "boolean"
        },
        "waitForVoiceOfMerchant": {
          "description": "Wait to gain Voice of Merchant. The location is under review for quality purposes.",
          "$ref": "WaitForVoiceOfMerchant"
        },
        "hasVoiceOfMerchant": {
          "type": "boolean",
          "description": "Indicates whether the location is in good standing and has control over the business on Google. Any edits made to the location will propagate to Maps after passing the review phase."
        },
        "complyWithGuidelines": {
          "description": "The location fails to comply with our [guidelines](https://support.google.com/business/answer/3038177) and requires additional steps for reinstatement. To fix this issue, consult the [Help Center Article](https://support.google.com/business/answer/4569145).",
          "$ref": "ComplyWithGuidelines"
        },
        "resolveOwnershipConflict": {
          "description": "This location duplicates another location that is in good standing. If you have access to the location in good standing, use that location's id to perform operations. Otherwise, request access from the current owner.",
          "$ref": "ResolveOwnershipConflict"
        },
        "verify": {
          "$ref": "Verify",
          "description": "Start or continue the verification process."
        }
      }
    },
    "CompleteVerificationResponse": {
      "type": "object",
      "properties": {
        "verification": {
          "$ref": "Verification",
          "description": "The completed verification."
        }
      },
      "id": "CompleteVerificationResponse",
      "description": "Response message for Verifications.CompleteVerificationAction."
    },
    "ResolveOwnershipConflict": {
      "description": "Indicates that the location duplicates another location that is in good standing.",
      "id": "ResolveOwnershipConflict",
      "properties": {},
      "type": "object"
    },
    "FetchVerificationOptionsRequest": {
      "type": "object",
      "description": "Request message for Verifications.FetchVerificationOptions.",
      "properties": {
        "context": {
          "description": "Optional. Extra context information for the verification of service businesses. Can only be applied to the locations whose business type is CUSTOMER_LOCATION_ONLY. Specifying an accurate address could enable more options. INVALID_ARGUMENT will be thrown if it is set for other business types of locations.",
          "$ref": "ServiceBusinessContext"
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The BCP 47 language code representing the language that is to be used for the verification process. Available options vary by language."
        }
      },
      "id": "FetchVerificationOptionsRequest"
    },
    "VerificationToken": {
      "description": "Token generated by a vetted [partner](https://support.google.com/business/answer/7674102).",
      "id": "VerificationToken",
      "properties": {
        "tokenString": {
          "description": "The token string.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GenerateVerificationTokenResponse": {
      "properties": {
        "token": {
          "description": "The generated token to verify the location.",
          "$ref": "VerificationToken"
        }
      },
      "description": "Response message for Verifications.GenerateVerificationToken.",
      "id": "GenerateVerificationTokenResponse",
      "type": "object"
    },
    "EmailVerificationData": {
      "id": "EmailVerificationData",
      "type": "object",
      "properties": {
        "user": {
          "type": "string",
          "description": "User name in the email address. e.g. \"foo\" in foo@gmail.com"
        },
        "domain": {
          "description": "Domain name in the email address. e.g. \"gmail.com\" in foo@gmail.com",
          "type": "string"
        },
        "isUserNameEditable": {
          "type": "boolean",
          "description": "Whether client is allowed to provide a different user name."
        }
      },
      "description": "Display data for verifications through email."
    },
    "ListVerificationsResponse": {
      "type": "object",
      "id": "ListVerificationsResponse",
      "properties": {
        "verifications": {
          "items": {
            "$ref": "Verification"
          },
          "description": "List of the verifications.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the number of verifications exceeded the requested page size, this field will be populated with a token to fetch the next page of verification on a subsequent call. If there are no more attributes, this field will not be present in the response."
        }
      },
      "description": "Response message for Verifications.ListVerifications."
    },
    "Verify": {
      "type": "object",
      "id": "Verify",
      "properties": {
        "hasPendingVerification": {
          "type": "boolean",
          "description": "Indicates whether a verification process has already started, and can be completed by the location."
        }
      },
      "description": "Indicates that the location requires verification. Contains information about the current verification actions performed on the location."
    },
    "GenerateVerificationTokenRequest": {
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Required. The target location."
        }
      },
      "id": "GenerateVerificationTokenRequest",
      "description": "Request message for Verifications.GenerateVerificationToken.",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "primaryPhone": {
          "type": "string",
          "description": "Optional. A phone number that connects to your individual business location as directly as possible. Use a local phone number instead of a central, call center helpline number whenever possible."
        },
        "name": {
          "description": "Required. Location name should reflect your business's real-world name, as used consistently on your storefront, website, and stationery, and as known to customers. Any additional information, when relevant, can be included in other fields of the resource (for example, `Address`, `Categories`). Don't add unnecessary information to your name (for example, prefer \"Google\" over \"Google Inc. - Mountain View Corporate Headquarters\"). Don't include marketing taglines, store codes, special characters, hours or closed/open status, phone numbers, website URLs, service/product information, location/address or directions, or containment information (for example, \"Chase ATM in Duane Reade\").",
          "type": "string"
        },
        "websiteUri": {
          "type": "string",
          "description": "Optional. A URL for this business. If possible, use a URL that represents this individual business location instead of a generic website/URL that represents all locations, or the brand."
        },
        "address": {
          "description": "Required. A precise, accurate address to describe your business location. PO boxes or mailboxes located at remote locations are not acceptable. At this time, you can specify a maximum of five `address_lines` values in the address.",
          "$ref": "PostalAddress"
        },
        "primaryCategoryId": {
          "description": "Required. Id of the category that best describes the core business this location engages in.",
          "type": "string"
        }
      },
      "description": "A subset of location info. See the [help center article] (https://support.google.com/business/answer/3038177) for a detailed description of these fields, or the [category endpoint](/my-business/reference/rest/v4/categories) for a list of valid business categories.",
      "type": "object"
    },
    "WaitForVoiceOfMerchant": {
      "id": "WaitForVoiceOfMerchant",
      "type": "object",
      "properties": {},
      "description": "Indicates that the location will gain voice of merchant after passing review."
    },
    "PostalAddress": {
      "type": "object",
      "properties": {
        "recipients": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "type": "array"
        },
        "addressLines": {
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See http://cldr.unicode.org/ and http://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated."
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.)."
        },
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines.",
          "type": "string"
        },
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "type": "integer",
          "format": "int32"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts."
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire).",
          "type": "string"
        }
      },
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an i18n-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478",
      "id": "PostalAddress"
    },
    "FetchVerificationOptionsResponse": {
      "type": "object",
      "description": "Response message for Verifications.FetchVerificationOptions.",
      "properties": {
        "options": {
          "description": "The available verification options.",
          "type": "array",
          "items": {
            "$ref": "VerificationOption"
          }
        }
      },
      "id": "FetchVerificationOptionsResponse"
    },
    "AddressVerificationData": {
      "id": "AddressVerificationData",
      "description": "Display data for verifications through postcard.",
      "properties": {
        "expectedDeliveryDaysRegion": {
          "format": "int32",
          "description": "Expected number of days it takes to deliver a postcard to the address's region.",
          "type": "integer"
        },
        "business": {
          "description": "Merchant's business name.",
          "type": "string"
        },
        "address": {
          "$ref": "PostalAddress",
          "description": "Address that a postcard can be sent to."
        }
      },
      "type": "object"
    },
    "CompleteVerificationRequest": {
      "description": "Request message for Verifications.CompleteVerificationAction.",
      "id": "CompleteVerificationRequest",
      "type": "object",
      "properties": {
        "pin": {
          "description": "Required. PIN code received by the merchant to complete the verification.",
          "type": "string"
        }
      }
    },
    "ComplyWithGuidelines": {
      "type": "object",
      "description": "Indicates that the location fails to comply with our [guidelines](https://support.google.com/business/answer/3038177). To fix this issue, consult the [Help Center Article](https://support.google.com/business/answer/4569145).",
      "id": "ComplyWithGuidelines",
      "properties": {}
    },
    "Verification": {
      "description": "A verification represents a verification attempt on a location.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The timestamp when the verification is requested.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the verification."
        },
        "method": {
          "enum": [
            "VERIFICATION_METHOD_UNSPECIFIED",
            "ADDRESS",
            "EMAIL",
            "PHONE_CALL",
            "SMS",
            "AUTO",
            "VETTED_PARTNER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, will result in errors.",
            "Send a postcard with a verification PIN to a specific mailing address. The PIN is used to complete verification with Google.",
            "Send an email with a verification PIN to a specific email address. The PIN is used to complete verification with Google.",
            "Make a phone call with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Send an SMS with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Verify the location without additional user action. This option may not be available for all locations.",
            "Used for vetted [partners](https://support.google.com/business/answer/7674102). This option may not be available for all locations."
          ],
          "description": "The method of the verification."
        },
        "state": {
          "enumDescriptions": [
            "Default value, will result in errors.",
            "The verification is pending.",
            "The verification is completed.",
            "The verification is failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETED",
            "FAILED"
          ],
          "description": "The state of the verification.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Verification"
    },
    "VerificationOption": {
      "properties": {
        "verificationMethod": {
          "description": "Method to verify the location.",
          "enum": [
            "VERIFICATION_METHOD_UNSPECIFIED",
            "ADDRESS",
            "EMAIL",
            "PHONE_CALL",
            "SMS",
            "AUTO",
            "VETTED_PARTNER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, will result in errors.",
            "Send a postcard with a verification PIN to a specific mailing address. The PIN is used to complete verification with Google.",
            "Send an email with a verification PIN to a specific email address. The PIN is used to complete verification with Google.",
            "Make a phone call with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Send an SMS with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Verify the location without additional user action. This option may not be available for all locations.",
            "Used for vetted [partners](https://support.google.com/business/answer/7674102). This option may not be available for all locations."
          ]
        },
        "emailData": {
          "$ref": "EmailVerificationData",
          "description": "Set only if the method is EMAIL."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Set only if the method is PHONE_CALL or SMS. Phone number that the PIN will be sent to."
        },
        "addressData": {
          "description": "Set only if the method is MAIL.",
          "$ref": "AddressVerificationData"
        }
      },
      "id": "VerificationOption",
      "description": "The verification option represents how to verify the location (indicated by verification method) and where the verification will be sent to (indicated by display data).",
      "type": "object"
    }
  },
  "version": "v1",
  "ownerDomain": "google.com",
  "title": "My Business Verifications API",
  "id": "mybusinessverifications:v1"
}
