{
  "basePath": "",
  "name": "mybusinessqanda",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "My Business Q&A",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "version_module": true,
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "batchPath": "batch",
  "protocol": "rest",
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "title": "My Business Q&A API",
  "id": "mybusinessqanda:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "fullyEncodeReservedExpansion": true,
  "revision": "20221124",
  "ownerName": "Google",
  "version": "v1",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the question to delete.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "mybusinessqanda.locations.questions.delete",
              "path": "v1/{+name}",
              "description": "Deletes a specific question written by the current user."
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Question"
              },
              "path": "v1/{+parent}",
              "flatPath": "v1/locations/{locationsId}/questions",
              "response": {
                "$ref": "Question"
              },
              "id": "mybusinessqanda.locations.questions.create",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the location to write a question for.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^locations/[^/]+/questions$"
                }
              },
              "httpMethod": "POST",
              "description": "Adds a question for the specified location."
            },
            "list": {
              "id": "mybusinessqanda.locations.questions.list",
              "flatPath": "v1/locations/{locationsId}/questions",
              "path": "v1/{+parent}",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions$",
                  "description": "Required. The name of the location to fetch questions for.",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'."
                },
                "answersPerQuestion": {
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageSize": {
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "Question"
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The specific fields to update. Only question text can be updated."
                },
                "name": {
                  "required": true,
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinessqanda.locations.questions.patch",
              "description": "Updates a specific question written by the current user.",
              "request": {
                "$ref": "Question"
              },
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}"
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/answers:delete",
                  "httpMethod": "DELETE",
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the question to delete an answer for.",
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "description": "Deletes the answer written by the current user to a question.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. If specified, the next page of answers is retrieved."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to fetch answers for."
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "format": "int32"
                    }
                  },
                  "description": "Returns the paginated list of answers for a specified question.",
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/answers"
                },
                "upsert": {
                  "path": "v1/{+parent}/answers:upsert",
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "response": {
                    "$ref": "Answer"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to write an answer for.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/my-business/",
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Answer": {
      "properties": {
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp for when the answer was last modified.",
          "format": "google-datetime"
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "$ref": "Author"
        },
        "upvoteCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of upvotes for the answer.",
          "format": "int32"
        }
      },
      "id": "Answer",
      "type": "object",
      "description": "Represents an answer to a question"
    },
    "ListAnswersResponse": {
      "id": "ListAnswersResponse",
      "type": "object",
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "Answer"
          },
          "description": "The requested answers."
        },
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of answers posted for this question across all pages."
        }
      }
    },
    "Author": {
      "properties": {
        "profilePhotoUri": {
          "type": "string",
          "description": "The profile photo URI of the user."
        },
        "type": {
          "description": "The type of user the author is.",
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ]
        },
        "displayName": {
          "description": "The display name of the user",
          "type": "string"
        }
      },
      "id": "Author",
      "type": "object",
      "description": "Represents the author of a question or answer"
    },
    "UpsertAnswerRequest": {
      "type": "object",
      "properties": {
        "answer": {
          "$ref": "Answer",
          "description": "Required. The new answer."
        }
      },
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "id": "UpsertAnswerRequest"
    },
    "Question": {
      "type": "object",
      "description": "Represents a single question and some of its answers.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp for when the question was last modified.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp for when the question was written.",
          "type": "string"
        },
        "upvoteCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of upvotes for the question."
        },
        "totalAnswerCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The total number of answers posted for this question.",
          "type": "integer"
        },
        "topAnswers": {
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "readOnly": true,
          "items": {
            "$ref": "Answer"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation."
        },
        "author": {
          "readOnly": true,
          "$ref": "Author",
          "description": "Output only. The author of the question."
        },
        "text": {
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters.",
          "type": "string"
        }
      },
      "id": "Question"
    },
    "ListQuestionsResponse": {
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        },
        "questions": {
          "type": "array",
          "description": "The requested questions,",
          "items": {
            "$ref": "Question"
          }
        },
        "totalSize": {
          "description": "The total number of questions posted for this location across all pages.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ListQuestionsResponse"
    }
  }
}
