{
  "batchPath": "batch",
  "canonicalName": "NetworkServices",
  "discoveryVersion": "v1",
  "baseUrl": "https://networkservices.googleapis.com/",
  "version": "v1beta1",
  "basePath": "",
  "revision": "20230619",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/networking",
  "ownerName": "Google",
  "schemas": {
    "ListTlsRoutesResponse": {
      "description": "Response returned by the ListTlsRoutes method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "tlsRoutes": {
          "description": "List of TlsRoute resources.",
          "type": "array",
          "items": {
            "$ref": "TlsRoute"
          }
        }
      },
      "id": "ListTlsRoutesResponse"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      }
    },
    "TlsRoute": {
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true
        },
        "gateways": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Gateways defines a list of gateways this TlsRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/global/gateways/`"
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "meshes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Meshes defines a list of meshes this TlsRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/global/meshes/` The attached Mesh should be of a type SIDECAR",
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the TlsRoute resource. It matches pattern `projects/*/locations/global/tlsRoutes/tls_route_name\u003e`.",
          "type": "string"
        },
        "rules": {
          "items": {
            "$ref": "TlsRouteRouteRule"
          },
          "description": "Required. Rules that define how traffic is routed and handled. At least one RouteRule must be supplied. If there are multiple rules then the action taken will be the first rule to match.",
          "type": "array"
        }
      },
      "description": "TlsRoute defines how traffic should be routed based on SNI and other matching L3 attributes.",
      "type": "object",
      "id": "TlsRoute"
    },
    "HttpRouteDestination": {
      "description": "Specifications of a destination to which the request should be routed to.",
      "id": "HttpRouteDestination",
      "properties": {
        "weight": {
          "format": "int32",
          "description": "Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "type": "integer"
        },
        "serviceName": {
          "type": "string",
          "description": "The URL of a BackendService to route traffic to."
        }
      },
      "type": "object"
    },
    "ListServiceBindingsResponse": {
      "description": "Response returned by the ListServiceBindings method.",
      "properties": {
        "serviceBindings": {
          "description": "List of ServiceBinding resources.",
          "type": "array",
          "items": {
            "$ref": "ServiceBinding"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "id": "ListServiceBindingsResponse",
      "type": "object"
    },
    "TcpRouteRouteDestination": {
      "id": "TcpRouteRouteDestination",
      "description": "Describe the destination for traffic to be routed to.",
      "properties": {
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them."
        },
        "serviceName": {
          "description": "Required. The URL of a BackendService to route traffic to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GrpcRouteDestination": {
      "type": "object",
      "properties": {
        "weight": {
          "description": "Optional. Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "type": "integer",
          "format": "int32"
        },
        "serviceName": {
          "type": "string",
          "description": "Required. The URL of a destination service to which to route traffic. Must refer to either a BackendService or ServiceDirectoryService."
        }
      },
      "description": "The destination to which traffic will be routed.",
      "id": "GrpcRouteDestination"
    },
    "ServiceLbPolicyAutoCapacityDrain": {
      "description": "Option to specify if an unhealthy IG/NEG should be considered for global load balancing and traffic routing.",
      "type": "object",
      "id": "ServiceLbPolicyAutoCapacityDrain",
      "properties": {
        "enable": {
          "description": "Optional. If set to 'True', an unhealthy IG/NEG will be set as drained. - An IG/NEG is considered unhealthy if less than 25% of the instances/endpoints in the IG/NEG are healthy. - This option will never result in draining more than 50% of the configured IGs/NEGs for the Backend Service.",
          "type": "boolean"
        }
      }
    },
    "GrpcRouteFaultInjectionPolicyAbort": {
      "type": "object",
      "id": "GrpcRouteFaultInjectionPolicyAbort",
      "properties": {
        "httpStatus": {
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "percentage": {
          "format": "int32",
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]",
          "type": "integer"
        }
      },
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination."
    },
    "GrpcRouteRouteRule": {
      "properties": {
        "action": {
          "$ref": "GrpcRouteRouteAction",
          "description": "Required. A detailed rule defining how to route traffic. This field is required."
        },
        "matches": {
          "items": {
            "$ref": "GrpcRouteRouteMatch"
          },
          "type": "array",
          "description": "Optional. Matches define conditions used for matching the rule against incoming gRPC requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic."
        }
      },
      "description": "Describes how to route traffic.",
      "id": "GrpcRouteRouteRule",
      "type": "object"
    },
    "TcpRouteRouteRule": {
      "properties": {
        "action": {
          "description": "Required. The detailed rule defining how to route matched traffic.",
          "$ref": "TcpRouteRouteAction"
        },
        "matches": {
          "items": {
            "$ref": "TcpRouteRouteMatch"
          },
          "type": "array",
          "description": "Optional. RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic."
        }
      },
      "id": "TcpRouteRouteRule",
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched.",
      "type": "object"
    },
    "GrpcRouteMethodMatch": {
      "type": "object",
      "description": "Specifies a match against a method.",
      "properties": {
        "caseSensitive": {
          "type": "boolean",
          "description": "Optional. Specifies that matches are case sensitive. The default value is true. case_sensitive must not be used with a type of REGULAR_EXPRESSION."
        },
        "grpcService": {
          "description": "Required. Name of the service to match against. If unspecified, will match all services.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Will only match the exact name provided.",
            "Will interpret grpc_method and grpc_service as regexes. RE2 syntax is supported."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXACT",
            "REGULAR_EXPRESSION"
          ],
          "description": "Optional. Specifies how to match against the name. If not specified, a default value of \"EXACT\" is used."
        },
        "grpcMethod": {
          "type": "string",
          "description": "Required. Name of the method to match against. If unspecified, will match all methods."
        }
      },
      "id": "GrpcRouteMethodMatch"
    },
    "HttpRouteHeaderModifier": {
      "properties": {
        "set": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Completely overwrite/replace the headers with given map where key is the name of the header, value is the value of the header."
        },
        "remove": {
          "description": "Remove headers (matching by header names) specified in the list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "add": {
          "type": "object",
          "description": "Add the headers with given map where key is the name of the header, value is the value of the header.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "HttpRouteHeaderModifier",
      "description": "The specification for modifying HTTP header in HTTP request and HTTP response."
    },
    "ListHttpRoutesResponse": {
      "type": "object",
      "properties": {
        "httpRoutes": {
          "items": {
            "$ref": "HttpRoute"
          },
          "type": "array",
          "description": "List of HttpRoute resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "description": "Response returned by the ListHttpRoutes method.",
      "id": "ListHttpRoutesResponse"
    },
    "HttpRouteCorsPolicy": {
      "type": "object",
      "description": "The Specification for allowing client side cross-origin requests.",
      "id": "HttpRouteCorsPolicy",
      "properties": {
        "allowOriginRegexes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the regular expression patterns that match allowed origins. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax."
        },
        "allowMethods": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the content for Access-Control-Allow-Methods header."
        },
        "maxAge": {
          "type": "string",
          "description": "Specifies how long result of a preflight request can be cached in seconds. This translates to the Access-Control-Max-Age header."
        },
        "allowCredentials": {
          "type": "boolean",
          "description": "In response to a preflight request, setting this to true indicates that the actual request can include user credentials. This translates to the Access-Control-Allow-Credentials header. Default value is false."
        },
        "allowHeaders": {
          "description": "Specifies the content for Access-Control-Allow-Headers header.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposeHeaders": {
          "description": "Specifies the content for Access-Control-Expose-Headers header.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowOrigins": {
          "description": "Specifies the list of origins that will be allowed to do CORS requests. An origin is allowed if it matches either an item in allow_origins or an item in allow_origin_regexes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "description": "If true, the CORS policy is disabled. The default value is false, which indicates that the CORS policy is in effect.",
          "type": "boolean"
        }
      }
    },
    "ServiceBinding": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string"
        },
        "service": {
          "description": "Required. The full Service Directory Service name of the format projects/*/locations/*/namespaces/*/services/*",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the ServiceBinding resource."
        },
        "serviceId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the Service Directory Service against which the Service Binding resource is validated. This is populated when the Service Binding resource is used in another resource (like Backend Service). This is of the UUID4 format."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the ServiceBinding resource. It matches pattern `projects/*/locations/global/serviceBindings/service_binding_name`."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        }
      },
      "description": "ServiceBinding is the resource that defines a Service Directory Service to be used in a BackendService resource.",
      "type": "object",
      "id": "ServiceBinding"
    },
    "ListServiceLbPoliciesResponse": {
      "description": "Response returned by the ListServiceLbPolicies method.",
      "id": "ListServiceLbPoliciesResponse",
      "properties": {
        "serviceLbPolicies": {
          "type": "array",
          "items": {
            "$ref": "ServiceLbPolicy"
          },
          "description": "List of ServiceLbPolicy resources."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GrpcRoute": {
      "id": "GrpcRoute",
      "properties": {
        "rules": {
          "items": {
            "$ref": "GrpcRouteRouteRule"
          },
          "type": "array",
          "description": "Required. A list of detailed rules defining how to route traffic. Within a single GrpcRoute, the GrpcRoute.RouteAction associated with the first matching GrpcRoute.RouteRule will be executed. At least one rule must be supplied."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "gateways": {
          "description": "Optional. Gateways defines a list of gateways this GrpcRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/global/gateways/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the GrpcRoute resource. It matches pattern `projects/*/locations/global/grpcRoutes/`"
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the GrpcRoute resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "selfLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined URL of this resource"
        },
        "meshes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Meshes defines a list of meshes this GrpcRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/global/meshes/`",
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string"
        },
        "hostnames": {
          "description": "Required. Service hostnames with an optional port for which this route describes traffic. Format: [:] Hostname is the fully qualified domain name of a network host. This matches the RFC 1123 definition of a hostname with 2 notable exceptions: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (`*.`). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. `foo.example.com`) or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. `*.example.com`). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateway must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames `*.foo.bar.com` and `*.bar.com` to be associated with the same route, it is not possible to associate two routes both with `*.bar.com` or both with `bar.com`. If a port is specified, then gRPC clients must use the channel URI with the port to match this rule (i.e. \"xds:///service:123\"), otherwise they must supply the URI without a port (i.e. \"xds:///service\").",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "GrpcRoute is the resource defining how gRPC traffic routed by a Mesh or Gateway resource is routed.",
      "type": "object"
    },
    "GrpcRouteRouteAction": {
      "description": "Specifies how to route matched traffic.",
      "type": "object",
      "id": "GrpcRouteRouteAction",
      "properties": {
        "retryPolicy": {
          "description": "Optional. Specifies the retry policy associated with this route.",
          "$ref": "GrpcRouteRetryPolicy"
        },
        "timeout": {
          "description": "Optional. Specifies the timeout for selected route. Timeout is computed from the time the request has been fully processed (i.e. end of stream) up until the response has been completely processed. Timeout includes all retries.",
          "format": "google-duration",
          "type": "string"
        },
        "faultInjectionPolicy": {
          "$ref": "GrpcRouteFaultInjectionPolicy",
          "description": "Optional. The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests. timeout and retry_policy will be ignored by clients that are configured with a fault_injection_policy"
        },
        "destinations": {
          "type": "array",
          "items": {
            "$ref": "GrpcRouteDestination"
          },
          "description": "Optional. The destination services to which traffic should be forwarded. If multiple destinations are specified, traffic will be split between Backend Service(s) according to the weight field of these destinations."
        }
      }
    },
    "HttpRouteRedirect": {
      "type": "object",
      "properties": {
        "portRedirect": {
          "format": "int32",
          "type": "integer",
          "description": "The port that will be used in the redirected request instead of the one that was supplied in the request."
        },
        "hostRedirect": {
          "type": "string",
          "description": "The host that will be used in the redirect response instead of the one that was supplied in the request."
        },
        "prefixRewrite": {
          "type": "string",
          "description": "Indicates that during redirection, the matched prefix (or path) should be swapped with this value. This option allows URLs be dynamically created based on the request."
        },
        "pathRedirect": {
          "description": "The path that will be used in the redirect response instead of the one that was supplied in the request. path_redirect can not be supplied together with prefix_redirect. Supply one alone or neither. If neither is supplied, the path of the original request will be used for the redirect.",
          "type": "string"
        },
        "stripQuery": {
          "description": "if set to true, any accompanying query portion of the original URL is removed prior to redirecting the request. If set to false, the query portion of the original URL is retained. The default is set to false.",
          "type": "boolean"
        },
        "httpsRedirect": {
          "type": "boolean",
          "description": "If set to true, the URL scheme in the redirected request is set to https. If set to false, the URL scheme of the redirected request will remain the same as that of the request. The default is set to false."
        },
        "responseCode": {
          "enumDescriptions": [
            "Default value",
            "Corresponds to 301.",
            "Corresponds to 302.",
            "Corresponds to 303.",
            "Corresponds to 307. In this case, the request method will be retained.",
            "Corresponds to 308. In this case, the request method will be retained."
          ],
          "description": "The HTTP Status code to use for the redirect.",
          "enum": [
            "RESPONSE_CODE_UNSPECIFIED",
            "MOVED_PERMANENTLY_DEFAULT",
            "FOUND",
            "SEE_OTHER",
            "TEMPORARY_REDIRECT",
            "PERMANENT_REDIRECT"
          ],
          "type": "string"
        }
      },
      "description": "The specification for redirecting traffic.",
      "id": "HttpRouteRedirect"
    },
    "HttpRouteFaultInjectionPolicyDelay": {
      "id": "HttpRouteFaultInjectionPolicyDelay",
      "type": "object",
      "description": "Specification of how client requests are delayed as part of fault injection before being sent to a destination.",
      "properties": {
        "percentage": {
          "type": "integer",
          "description": "The percentage of traffic on which delay will be injected. The value must be between [0, 100]",
          "format": "int32"
        },
        "fixedDelay": {
          "description": "Specify a fixed delay before forwarding the request.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListEndpointPoliciesResponse": {
      "type": "object",
      "description": "Response returned by the ListEndpointPolicies method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "endpointPolicies": {
          "type": "array",
          "description": "List of EndpointPolicy resources.",
          "items": {
            "$ref": "EndpointPolicy"
          }
        }
      },
      "id": "ListEndpointPoliciesResponse"
    },
    "ListTcpRoutesResponse": {
      "description": "Response returned by the ListTcpRoutes method.",
      "id": "ListTcpRoutesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "tcpRoutes": {
          "type": "array",
          "description": "List of TcpRoute resources.",
          "items": {
            "$ref": "TcpRoute"
          }
        }
      }
    },
    "EndpointPolicy": {
      "id": "EndpointPolicy",
      "properties": {
        "type": {
          "enum": [
            "ENDPOINT_POLICY_TYPE_UNSPECIFIED",
            "SIDECAR_PROXY",
            "GRPC_SERVER"
          ],
          "type": "string",
          "description": "Required. The type of endpoint policy. This is primarily used to validate the configuration.",
          "enumDescriptions": [
            "Default value. Must not be used.",
            "Represents a proxy deployed as a sidecar.",
            "Represents a proxyless gRPC backend."
          ]
        },
        "authorizationPolicy": {
          "type": "string",
          "description": "Optional. This field specifies the URL of AuthorizationPolicy resource that applies authorization policies to the inbound traffic at the matched endpoints. Refer to Authorization. If this field is not specified, authorization is disabled(no authz checks) for this endpoint."
        },
        "clientTlsPolicy": {
          "type": "string",
          "description": "Optional. A URL referring to a ClientTlsPolicy resource. ClientTlsPolicy can be set to specify the authentication for traffic from the proxy to the actual endpoints. More specifically, it is applied to the outgoing traffic from the proxy to the endpoint. This is typically used for sidecar model where the proxy identifies itself as endpoint to the control plane, with the connection between sidecar and endpoint requiring authentication. If this field is not set, authentication is disabled(open). Applicable only when EndpointPolicyType is SIDECAR_PROXY."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the EndpointPolicy resource."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Required. Name of the EndpointPolicy resource. It matches pattern `projects/{project}/locations/global/endpointPolicies/{endpoint_policy}`.",
          "type": "string"
        },
        "endpointMatcher": {
          "description": "Required. A matcher that selects endpoints to which the policies should be applied.",
          "$ref": "EndpointMatcher"
        },
        "serverTlsPolicy": {
          "description": "Optional. A URL referring to ServerTlsPolicy resource. ServerTlsPolicy is used to determine the authentication policy to be applied to terminate the inbound traffic at the identified backends. If this field is not set, authentication is disabled(open) for this endpoint.",
          "type": "string"
        },
        "trafficPortSelector": {
          "description": "Optional. Port selector for the (matched) endpoints. If no port selector is provided, the matched config is applied to all ports.",
          "$ref": "TrafficPortSelector"
        }
      },
      "type": "object",
      "description": "EndpointPolicy is a resource that helps apply desired configuration on the endpoints that match specific criteria. For example, this resource can be used to apply \"authentication config\" an all endpoints that serve on port 8080."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "HttpRouteRetryPolicy": {
      "type": "object",
      "properties": {
        "perTryTimeout": {
          "type": "string",
          "description": "Specifies a non-zero timeout per retry attempt.",
          "format": "google-duration"
        },
        "numRetries": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the allowed number of retries. This number must be \u003e 0. If not specified, default to 1."
        },
        "retryConditions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies one or more conditions when this retry policy applies. Valid values are: 5xx: Proxy will attempt a retry if the destination service responds with any 5xx response code, of if the destination service does not respond at all, example: disconnect, reset, read timeout, connection failure and refused streams. gateway-error: Similar to 5xx, but only applies to response codes 502, 503, 504. reset: Proxy will attempt a retry if the destination service does not respond at all (disconnect/reset/read timeout) connect-failure: Proxy will retry on failures connecting to destination for example due to connection timeouts. retriable-4xx: Proxy will retry fro retriable 4xx response codes. Currently the only retriable error supported is 409. refused-stream: Proxy will retry if the destination resets the stream with a REFUSED_STREAM error code. This reset type indicates that it is safe to retry."
        }
      },
      "id": "HttpRouteRetryPolicy",
      "description": "The specifications for retries."
    },
    "ListMeshesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "meshes": {
          "description": "List of Mesh resources.",
          "type": "array",
          "items": {
            "$ref": "Mesh"
          }
        }
      },
      "id": "ListMeshesResponse",
      "description": "Response returned by the ListMeshes method."
    },
    "ListGatewaysResponse": {
      "id": "ListGatewaysResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "gateways": {
          "type": "array",
          "description": "List of Gateway resources.",
          "items": {
            "$ref": "Gateway"
          }
        }
      },
      "description": "Response returned by the ListGateways method."
    },
    "HttpRouteHeaderMatchIntegerRange": {
      "properties": {
        "start": {
          "type": "integer",
          "description": "Start of the range (inclusive)",
          "format": "int32"
        },
        "end": {
          "type": "integer",
          "format": "int32",
          "description": "End of the range (exclusive)"
        }
      },
      "id": "HttpRouteHeaderMatchIntegerRange",
      "description": "Represents an integer value range.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "ServiceLbPolicyFailoverConfig": {
      "id": "ServiceLbPolicyFailoverConfig",
      "type": "object",
      "description": "Option to specify health based failover behavior. This is not related to Network load balancer FailoverPolicy.",
      "properties": {
        "failoverHealthThreshold": {
          "type": "integer",
          "description": "Optional. The percentage threshold that a load balancer will begin to send traffic to failover backends. If the percentage of endpoints in a MIG/NEG is smaller than this value, traffic would be sent to failover backends if possible. This field should be set to a value between 1 and 99. The default value is 50 for Global external HTTP(S) load balancer (classic) and Proxyless service mesh, and 70 for others.",
          "format": "int32"
        }
      }
    },
    "TlsRouteRouteMatch": {
      "description": "RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"AND\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic.",
      "id": "TlsRouteRouteMatch",
      "type": "object",
      "properties": {
        "sniHost": {
          "description": "Optional. SNI (server name indicator) to match against. SNI will be matched against all wildcard domains, i.e. `www.example.com` will be first matched against `www.example.com`, then `*.example.com`, then `*.com.` Partial wildcards are not supported, and values like *w.example.com are invalid. At least one of sni_host and alpn is required. Up to 5 sni hosts across all matches can be set.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "alpn": {
          "description": "Optional. ALPN (Application-Layer Protocol Negotiation) to match against. Examples: \"http/1.1\", \"h2\". At least one of sni_host and alpn is required. Up to 5 alpns across all matches can be set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Mesh": {
      "description": "Mesh represents a logical configuration grouping for workload to workload communication within a service mesh. Routes that point to mesh dictate how requests are routed within this logical mesh boundary.",
      "type": "object",
      "id": "Mesh",
      "properties": {
        "name": {
          "description": "Required. Name of the Mesh resource. It matches pattern `projects/*/locations/global/meshes/`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the Mesh resource.",
          "type": "object"
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URL of this resource"
        },
        "interceptionPort": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If set to a valid TCP port (1-65535), instructs the SIDECAR proxy to listen on the specified port of localhost (127.0.0.1) address. The SIDECAR proxy will expect all traffic to be redirected to this port regardless of its actual ip:port destination. If unset, a port '15001' is used as the interception port. This is applicable only for sidecar proxy deployments."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "HttpRoute": {
      "id": "HttpRoute",
      "properties": {
        "name": {
          "description": "Required. Name of the HttpRoute resource. It matches pattern `projects/*/locations/global/httpRoutes/http_route_name\u003e`.",
          "type": "string"
        },
        "gateways": {
          "description": "Optional. Gateways defines a list of gateways this HttpRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/global/gateways/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URL of this resource"
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "rules": {
          "type": "array",
          "description": "Required. Rules that define how traffic is routed and handled. Rules will be matched sequentially based on the RouteMatch specified for the rule.",
          "items": {
            "$ref": "HttpRouteRouteRule"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated."
        },
        "meshes": {
          "type": "array",
          "description": "Optional. Meshes defines a list of meshes this HttpRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/global/meshes/` The attached Mesh should be of a type SIDECAR",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the HttpRoute resource."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "hostnames": {
          "type": "array",
          "description": "Required. Hostnames define a set of hosts that should match against the HTTP host header to select a HttpRoute to process the request. Hostname is the fully qualified domain name of a network host, as defined by RFC 1123 with the exception that: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (`*.`). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. `foo.example.com`) or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. `*.example.com`). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateways must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames `*.foo.bar.com` and `*.bar.com` to be associated with the same Mesh (or Gateways under the same scope), it is not possible to associate two routes both with `*.bar.com` or both with `bar.com`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "HttpRoute is the resource defining how HTTP traffic should be routed by a Mesh or Gateway resource."
    },
    "TlsRouteRouteDestination": {
      "description": "Describe the destination for traffic to be routed to.",
      "type": "object",
      "id": "TlsRouteRouteDestination",
      "properties": {
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the proportion of requests forwareded to the backend referenced by the service_name field. This is computed as: weight/Sum(weights in destinations) Weights in all destinations does not need to sum up to 100."
        },
        "serviceName": {
          "type": "string",
          "description": "Required. The URL of a BackendService to route traffic to."
        }
      }
    },
    "GrpcRouteFaultInjectionPolicy": {
      "type": "object",
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests.",
      "id": "GrpcRouteFaultInjectionPolicy",
      "properties": {
        "abort": {
          "description": "The specification for aborting to client requests.",
          "$ref": "GrpcRouteFaultInjectionPolicyAbort"
        },
        "delay": {
          "$ref": "GrpcRouteFaultInjectionPolicyDelay",
          "description": "The specification for injecting delay to client requests."
        }
      }
    },
    "HttpRouteRouteRule": {
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched.",
      "type": "object",
      "id": "HttpRouteRouteRule",
      "properties": {
        "action": {
          "description": "The detailed rule defining how to route matched traffic.",
          "$ref": "HttpRouteRouteAction"
        },
        "matches": {
          "description": "A list of matches define conditions used for matching the rule against incoming HTTP requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic. If a default rule is desired to be configured, add a rule with no matches specified to the end of the rules list.",
          "items": {
            "$ref": "HttpRouteRouteMatch"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "HttpRouteRequestMirrorPolicy": {
      "id": "HttpRouteRequestMirrorPolicy",
      "description": "Specifies the policy on how requests are shadowed to a separate mirrored destination service. The proxy does not wait for responses from the shadow service. Prior to sending traffic to the shadow service, the host/authority header is suffixed with -shadow.",
      "type": "object",
      "properties": {
        "destination": {
          "$ref": "HttpRouteDestination",
          "description": "The destination the requests will be mirrored to. The weight of the destination will be ignored."
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse"
    },
    "TlsRouteRouteAction": {
      "properties": {
        "destinations": {
          "description": "Required. The destination services to which traffic should be forwarded. At least one destination service is required.",
          "items": {
            "$ref": "TlsRouteRouteDestination"
          },
          "type": "array"
        }
      },
      "description": "The specifications for routing traffic and applying associated policies.",
      "id": "TlsRouteRouteAction",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "GrpcRouteHeaderMatch": {
      "id": "GrpcRouteHeaderMatch",
      "description": "A match against a collection of headers.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. Specifies how to match against the value of the header. If not specified, a default value of EXACT is used.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXACT",
            "REGULAR_EXPRESSION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Will only match the exact value provided.",
            "Will match paths conforming to the prefix specified by value. RE2 syntax is supported."
          ],
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the header."
        },
        "key": {
          "type": "string",
          "description": "Required. The key of the header."
        }
      }
    },
    "HttpRouteQueryParameterMatch": {
      "description": "Specifications to match a query parameter in the request.",
      "id": "HttpRouteQueryParameterMatch",
      "properties": {
        "exactMatch": {
          "description": "The value of the query parameter must exactly match the contents of exact_match. Only one of exact_match, regex_match, or present_match must be set.",
          "type": "string"
        },
        "regexMatch": {
          "type": "string",
          "description": "The value of the query parameter must match the regular expression specified by regex_match. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax Only one of exact_match, regex_match, or present_match must be set."
        },
        "queryParameter": {
          "type": "string",
          "description": "The name of the query parameter to match."
        },
        "presentMatch": {
          "description": "Specifies that the QueryParameterMatcher matches if request contains query parameter, irrespective of whether the parameter has a value or not. Only one of exact_match, regex_match, or present_match must be set.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GrpcRouteFaultInjectionPolicyDelay": {
      "description": "Specification of how client requests are delayed as part of fault injection before being sent to a destination.",
      "id": "GrpcRouteFaultInjectionPolicyDelay",
      "properties": {
        "fixedDelay": {
          "description": "Specify a fixed delay before forwarding the request.",
          "format": "google-duration",
          "type": "string"
        },
        "percentage": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of traffic on which delay will be injected. The value must be between [0, 100]"
        }
      },
      "type": "object"
    },
    "HttpRouteHeaderMatch": {
      "properties": {
        "header": {
          "type": "string",
          "description": "The name of the HTTP header to match against."
        },
        "regexMatch": {
          "description": "The value of the header must match the regular expression specified in regex_match. For regular expression grammar, please see: https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "invertMatch": {
          "description": "If specified, the match result will be inverted before checking. Default value is set to false.",
          "type": "boolean"
        },
        "suffixMatch": {
          "description": "The value of the header must end with the contents of suffix_match.",
          "type": "string"
        },
        "prefixMatch": {
          "type": "string",
          "description": "The value of the header must start with the contents of prefix_match."
        },
        "rangeMatch": {
          "$ref": "HttpRouteHeaderMatchIntegerRange",
          "description": "If specified, the rule will match if the request header value is within the range."
        },
        "presentMatch": {
          "description": "A header with header_name must exist. The match takes place whether or not the header has a value.",
          "type": "boolean"
        },
        "exactMatch": {
          "type": "string",
          "description": "The value of the header should match exactly the content of exact_match."
        }
      },
      "description": "Specifies how to select a route rule based on HTTP request headers.",
      "id": "HttpRouteHeaderMatch",
      "type": "object"
    },
    "TlsRouteRouteRule": {
      "id": "TlsRouteRouteRule",
      "properties": {
        "action": {
          "description": "Required. The detailed rule defining how to route matched traffic.",
          "$ref": "TlsRouteRouteAction"
        },
        "matches": {
          "items": {
            "$ref": "TlsRouteRouteMatch"
          },
          "description": "Required. RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation.",
          "type": "array"
        }
      },
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched.",
      "type": "object"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        }
      }
    },
    "Gateway": {
      "id": "Gateway",
      "type": "object",
      "description": "Gateway represents the configuration for a proxy, typically a load balancer. It captures the ip:port over which the services are exposed by the proxy, along with any policy configurations. Routes have reference to to Gateways to dictate how requests should be routed by this Gateway.",
      "properties": {
        "addresses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Zero or one IPv4 or IPv6 address on which the Gateway will receive the traffic. When no address is provided, an IP from the subnetwork is allocated This field only applies to gateways of type 'SECURE_WEB_GATEWAY'. Gateways of type 'OPEN_MESH' listen on 0.0.0.0 for IPv4 and :: for IPv6.",
          "type": "array"
        },
        "scope": {
          "description": "Optional. Scope determines how configuration across multiple Gateway instances are merged. The configuration for multiple Gateway instances with the same scope will be merged as presented as a single coniguration to the proxy/load balancer. Max length 64 characters. Scope should start with a letter and can only have letters, numbers, hyphens.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "OPEN_MESH",
            "SECURE_WEB_GATEWAY"
          ],
          "enumDescriptions": [
            "The type of the customer managed gateway is unspecified.",
            "The type of the customer managed gateway is TrafficDirector Open Mesh.",
            "The type of the customer managed gateway is SecureWebGateway (SWG)."
          ],
          "type": "string",
          "description": "Immutable. The type of the customer managed gateway. This field is required. If unspecified, an error is returned."
        },
        "gatewaySecurityPolicy": {
          "type": "string",
          "description": "Optional. A fully-qualified GatewaySecurityPolicy URL reference. Defines how a server should apply security policy to inbound (VM to Proxy) initiated connections. For example: `projects/*/locations/*/gatewaySecurityPolicies/swg-policy`. This policy is specific to gateways of type 'SECURE_WEB_GATEWAY'."
        },
        "selfLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined URL of this resource"
        },
        "certificateUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A fully-qualified Certificates URL reference. The proxy presents a Certificate (selected based on SNI) when establishing a TLS connection. This feature only applies to gateways of type 'SECURE_WEB_GATEWAY'."
        },
        "network": {
          "type": "string",
          "description": "Optional. The relative resource name identifying the VPC network that is using this configuration. For example: `projects/*/global/networks/network-1`. Currently, this field is specific to gateways of type 'SECURE_WEB_GATEWAY'."
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the Gateway resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. The relative resource name identifying the subnetwork in which this SWG is allocated. For example: `projects/*/regions/us-central1/subnetworks/network-1` Currently, this field is specific to gateways of type 'SECURE_WEB_GATEWAY\"."
        },
        "ports": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Required. One or more port numbers (1-65535), on which the Gateway will receive traffic. The proxy binds to the specified ports. Gateways of type 'SECURE_WEB_GATEWAY' are limited to 1 port. Gateways of type 'OPEN_MESH' listen on 0.0.0.0 for IPv4 and :: for IPv6 and support multiple ports.",
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the Gateway resource. It matches pattern `projects/*/locations/*/gateways/`."
        },
        "serverTlsPolicy": {
          "description": "Optional. A fully-qualified ServerTLSPolicy URL reference. Specifies how TLS traffic is terminated. If empty, TLS termination is disabled.",
          "type": "string"
        }
      }
    },
    "ListGrpcRoutesResponse": {
      "id": "ListGrpcRoutesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "grpcRoutes": {
          "type": "array",
          "items": {
            "$ref": "GrpcRoute"
          },
          "description": "List of GrpcRoute resources."
        }
      },
      "description": "Response returned by the ListGrpcRoutes method."
    },
    "EndpointMatcher": {
      "type": "object",
      "id": "EndpointMatcher",
      "description": "A definition of a matcher that selects endpoints to which the policies should be applied.",
      "properties": {
        "metadataLabelMatcher": {
          "description": "The matcher is based on node metadata presented by xDS clients.",
          "$ref": "MetadataLabelMatcher"
        }
      }
    },
    "HttpRouteRouteAction": {
      "description": "The specifications for routing traffic and applying associated policies.",
      "id": "HttpRouteRouteAction",
      "type": "object",
      "properties": {
        "redirect": {
          "$ref": "HttpRouteRedirect",
          "description": "If set, the request is directed as configured by this field."
        },
        "timeout": {
          "format": "google-duration",
          "description": "Specifies the timeout for selected route. Timeout is computed from the time the request has been fully processed (i.e. end of stream) up until the response has been completely processed. Timeout includes all retries.",
          "type": "string"
        },
        "destinations": {
          "type": "array",
          "items": {
            "$ref": "HttpRouteDestination"
          },
          "description": "The destination to which traffic should be forwarded."
        },
        "requestMirrorPolicy": {
          "description": "Specifies the policy on how requests intended for the routes destination are shadowed to a separate mirrored destination. Proxy will not wait for the shadow destination to respond before returning the response. Prior to sending traffic to the shadow service, the host/authority header is suffixed with -shadow.",
          "$ref": "HttpRouteRequestMirrorPolicy"
        },
        "requestHeaderModifier": {
          "description": "The specification for modifying the headers of a matching request prior to delivery of the request to the destination.",
          "$ref": "HttpRouteHeaderModifier"
        },
        "responseHeaderModifier": {
          "$ref": "HttpRouteHeaderModifier",
          "description": "The specification for modifying the headers of a response prior to sending the response back to the client."
        },
        "corsPolicy": {
          "description": "The specification for allowing client side cross-origin requests.",
          "$ref": "HttpRouteCorsPolicy"
        },
        "retryPolicy": {
          "$ref": "HttpRouteRetryPolicy",
          "description": "Specifies the retry policy associated with this route."
        },
        "faultInjectionPolicy": {
          "$ref": "HttpRouteFaultInjectionPolicy",
          "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to backend service failure. As part of fault injection, when clients send requests to a backend service, delays can be introduced on a percentage of requests before sending those requests to the backend service. Similarly requests from clients can be aborted for a percentage of requests. timeout and retry_policy will be ignored by clients that are configured with a fault_injection_policy"
        },
        "urlRewrite": {
          "$ref": "HttpRouteURLRewrite",
          "description": "The specification for rewrite URL before forwarding requests to the destination."
        }
      }
    },
    "HttpRouteRouteMatch": {
      "properties": {
        "fullPathMatch": {
          "type": "string",
          "description": "The HTTP request path value should exactly match this value. Only one of full_path_match, prefix_match, or regex_match should be used."
        },
        "headers": {
          "description": "Specifies a list of HTTP request headers to match against. ALL of the supplied headers must be matched.",
          "items": {
            "$ref": "HttpRouteHeaderMatch"
          },
          "type": "array"
        },
        "prefixMatch": {
          "description": "The HTTP request path value must begin with specified prefix_match. prefix_match must begin with a /. Only one of full_path_match, prefix_match, or regex_match should be used.",
          "type": "string"
        },
        "regexMatch": {
          "description": "The HTTP request path value must satisfy the regular expression specified by regex_match after removing any query parameters and anchor supplied with the original URL. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax Only one of full_path_match, prefix_match, or regex_match should be used.",
          "type": "string"
        },
        "ignoreCase": {
          "type": "boolean",
          "description": "Specifies if prefix_match and full_path_match matches are case sensitive. The default value is false."
        },
        "queryParameters": {
          "description": "Specifies a list of query parameters to match against. ALL of the query parameters must be matched.",
          "type": "array",
          "items": {
            "$ref": "HttpRouteQueryParameterMatch"
          }
        }
      },
      "description": "RouteMatch defines specifications used to match requests. If multiple match types are set, this RouteMatch will match if ALL type of matches are matched.",
      "type": "object",
      "id": "HttpRouteRouteMatch"
    },
    "HttpRouteURLRewrite": {
      "description": "The specification for modifying the URL of the request, prior to forwarding the request to the destination.",
      "id": "HttpRouteURLRewrite",
      "properties": {
        "hostRewrite": {
          "type": "string",
          "description": "Prior to forwarding the request to the selected destination, the requests host header is replaced by this value."
        },
        "pathPrefixRewrite": {
          "description": "Prior to forwarding the request to the selected destination, the matching portion of the requests path is replaced by this value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GrpcRouteRetryPolicy": {
      "type": "object",
      "properties": {
        "retryConditions": {
          "description": "- connect-failure: Router will retry on failures connecting to Backend Services, for example due to connection timeouts. - refused-stream: Router will retry if the backend service resets the stream with a REFUSED_STREAM error code. This reset type indicates that it is safe to retry. - cancelled: Router will retry if the gRPC status code in the response header is set to cancelled - deadline-exceeded: Router will retry if the gRPC status code in the response header is set to deadline-exceeded - resource-exhausted: Router will retry if the gRPC status code in the response header is set to resource-exhausted - unavailable: Router will retry if the gRPC status code in the response header is set to unavailable",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "numRetries": {
          "format": "uint32",
          "type": "integer",
          "description": "Specifies the allowed number of retries. This number must be \u003e 0. If not specified, default to 1."
        }
      },
      "id": "GrpcRouteRetryPolicy",
      "description": "The specifications for retries."
    },
    "GrpcRouteRouteMatch": {
      "description": "Criteria for matching traffic. A RouteMatch will be considered to match when all supplied fields match.",
      "id": "GrpcRouteRouteMatch",
      "properties": {
        "method": {
          "$ref": "GrpcRouteMethodMatch",
          "description": "Optional. A gRPC method to match against. If this field is empty or omitted, will match all methods."
        },
        "headers": {
          "items": {
            "$ref": "GrpcRouteHeaderMatch"
          },
          "description": "Optional. Specifies a collection of headers to match.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MetadataLabels": {
      "description": "Defines a name-pair value for a single label.",
      "properties": {
        "labelValue": {
          "type": "string",
          "description": "Required. Label value presented as value corresponding to the above key, in xDS Node Metadata."
        },
        "labelName": {
          "type": "string",
          "description": "Required. Label name presented as key in xDS Node Metadata."
        }
      },
      "type": "object",
      "id": "MetadataLabels"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "TcpRouteRouteAction": {
      "id": "TcpRouteRouteAction",
      "type": "object",
      "properties": {
        "destinations": {
          "items": {
            "$ref": "TcpRouteRouteDestination"
          },
          "description": "Optional. The destination services to which traffic should be forwarded. At least one destination service is required. Only one of route destination or original destination can be set.",
          "type": "array"
        },
        "originalDestination": {
          "description": "Optional. If true, Router will use the destination IP and port of the original connection as the destination of the request. Default is false. Only one of route destinations or original destination can be set.",
          "type": "boolean"
        }
      },
      "description": "The specifications for routing traffic and applying associated policies."
    },
    "TcpRoute": {
      "properties": {
        "meshes": {
          "type": "array",
          "description": "Optional. Meshes defines a list of meshes this TcpRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/global/meshes/` The attached Mesh should be of a type SIDECAR",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined URL of this resource"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true
        },
        "gateways": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Gateways defines a list of gateways this TcpRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/global/gateways/`",
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of label tags associated with the TcpRoute resource."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the TcpRoute resource. It matches pattern `projects/*/locations/global/tcpRoutes/tcp_route_name\u003e`."
        },
        "rules": {
          "items": {
            "$ref": "TcpRouteRouteRule"
          },
          "description": "Required. Rules that define how traffic is routed and handled. At least one RouteRule must be supplied. If there are multiple rules then the action taken will be the first rule to match.",
          "type": "array"
        }
      },
      "id": "TcpRoute",
      "type": "object",
      "description": "TcpRoute is the resource defining how TCP traffic should be routed by a Mesh/Gateway resource."
    },
    "MetadataLabelMatcher": {
      "properties": {
        "metadataLabels": {
          "description": "The list of label value pairs that must match labels in the provided metadata based on filterMatchCriteria This list can have at most 64 entries. The list can be empty if the match criteria is MATCH_ANY, to specify a wildcard match (i.e this matches any client).",
          "type": "array",
          "items": {
            "$ref": "MetadataLabels"
          }
        },
        "metadataLabelMatchCriteria": {
          "enum": [
            "METADATA_LABEL_MATCH_CRITERIA_UNSPECIFIED",
            "MATCH_ANY",
            "MATCH_ALL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "At least one of the Labels specified in the matcher should match the metadata presented by xDS client.",
            "The metadata presented by the xDS client should contain all of the labels specified here."
          ],
          "description": "Specifies how matching should be done. Supported values are: MATCH_ANY: At least one of the Labels specified in the matcher should match the metadata presented by xDS client. MATCH_ALL: The metadata presented by the xDS client should contain all of the labels specified here. The selection is determined based on the best match. For example, suppose there are three EndpointPolicy resources P1, P2 and P3 and if P1 has a the matcher as MATCH_ANY , P2 has MATCH_ALL , and P3 has MATCH_ALL . If a client with label connects, the config from P1 will be selected. If a client with label connects, the config from P2 will be selected. If a client with label connects, the config from P3 will be selected. If there is more than one best match, (for example, if a config P4 with selector exists and if a client with label connects), an error will be thrown."
        }
      },
      "description": "The matcher that is based on node metadata presented by xDS clients.",
      "type": "object",
      "id": "MetadataLabelMatcher"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object"
    },
    "HttpRouteFaultInjectionPolicyAbort": {
      "id": "HttpRouteFaultInjectionPolicyAbort",
      "type": "object",
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination.",
      "properties": {
        "httpStatus": {
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "percentage": {
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "TrafficPortSelector": {
      "type": "object",
      "properties": {
        "ports": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of ports. Can be port numbers or port range (example, [80-90] specifies all ports from 80 to 90, including 80 and 90) or named ports or * to specify all ports. If the list is empty, all ports are selected."
        }
      },
      "description": "Specification of a port-based selector.",
      "id": "TrafficPortSelector"
    },
    "AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "id": "AuditConfig"
    },
    "HttpRouteFaultInjectionPolicy": {
      "properties": {
        "delay": {
          "description": "The specification for injecting delay to client requests.",
          "$ref": "HttpRouteFaultInjectionPolicyDelay"
        },
        "abort": {
          "$ref": "HttpRouteFaultInjectionPolicyAbort",
          "description": "The specification for aborting to client requests."
        }
      },
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced by client proxy on a percentage of requests before sending those requests to the destination service. Similarly requests can be aborted by client proxy for a percentage of requests.",
      "id": "HttpRouteFaultInjectionPolicy",
      "type": "object"
    },
    "TcpRouteRouteMatch": {
      "id": "TcpRouteRouteMatch",
      "type": "object",
      "properties": {
        "port": {
          "description": "Required. Specifies the destination port to match against.",
          "type": "string"
        },
        "address": {
          "description": "Required. Must be specified in the CIDR range format. A CIDR range consists of an IP Address and a prefix length to construct the subnet mask. By default, the prefix length is 32 (i.e. matches a single IP address). Only IPV4 addresses are supported. Examples: \"10.0.0.1\" - matches against this exact IP address. \"10.0.0.0/8\" - matches against any IP address within the 10.0.0.0 subnet and 255.255.255.0 mask. \"0.0.0.0/0\" - matches against any IP address'.",
          "type": "string"
        }
      },
      "description": "RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic."
    },
    "ServiceLbPolicy": {
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when this resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the ServiceLbPolicy resource.",
          "type": "object"
        },
        "loadBalancingAlgorithm": {
          "description": "Optional. The type of load balancing algorithm to be used. The default behavior is WATERFALL_BY_REGION.",
          "enumDescriptions": [
            "The type of the loadbalancing algorithm is unspecified.",
            "Balance traffic across all backends across the world proportionally based on capacity.",
            "Direct traffic to the nearest region with endpoints and capacity before spilling over to other regions and spread the traffic from each client to all the MIGs/NEGs in a region.",
            "Direct traffic to the nearest region with endpoints and capacity before spilling over to other regions. All MIGs/NEGs within a region are evenly loaded but each client might not spread the traffic to all the MIGs/NEGs in the region.",
            "Attempt to keep traffic in a single zone closest to the client, before spilling over to other zones."
          ],
          "enum": [
            "LOAD_BALANCING_ALGORITHM_UNSPECIFIED",
            "SPRAY_TO_WORLD",
            "SPRAY_TO_REGION",
            "WATERFALL_BY_REGION",
            "WATERFALL_BY_ZONE"
          ],
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when this resource was last updated.",
          "format": "google-datetime"
        },
        "autoCapacityDrain": {
          "$ref": "ServiceLbPolicyAutoCapacityDrain",
          "description": "Optional. Configuration to automatically move traffic away for unhealthy IG/NEG for the associated Backend Service."
        },
        "failoverConfig": {
          "$ref": "ServiceLbPolicyFailoverConfig",
          "description": "Optional. Configuration related to health based failover."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the ServiceLbPolicy resource. It matches pattern `projects/{project}/locations/{location}/serviceLbPolicies/{service_lb_policy_name}`."
        }
      },
      "id": "ServiceLbPolicy",
      "type": "object",
      "description": "ServiceLbPolicy holds global load balancing and traffic distribution configuration that can be applied to a BackendService."
    },
    "Binding": {
      "type": "object",
      "properties": {
        "members": {
          "items": {
[...]
