{
  "version": "v1beta1",
  "discoveryVersion": "v1",
  "schemas": {
    "HttpRouteRequestMirrorPolicy": {
      "type": "object",
      "properties": {
        "destination": {
          "$ref": "HttpRouteDestination",
          "description": "The destination the requests will be mirrored to. The weight of the destination will be ignored."
        }
      },
      "id": "HttpRouteRequestMirrorPolicy",
      "description": "Specifies the policy on how requests are shadowed to a separate mirrored destination service. The proxy does not wait for responses from the shadow service. Prior to sending traffic to the shadow service, the host/authority header is suffixed with -shadow."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "AuditLogConfig": {
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "id": "AuditLogConfig"
    },
    "HttpRouteCorsPolicy": {
      "id": "HttpRouteCorsPolicy",
      "properties": {
        "allowCredentials": {
          "type": "boolean",
          "description": "In response to a preflight request, setting this to true indicates that the actual request can include user credentials. This translates to the Access-Control-Allow-Credentials header. Default value is false."
        },
        "allowOriginRegexes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the regular expression patterns that match allowed origins. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax."
        },
        "allowMethods": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the content for Access-Control-Allow-Methods header."
        },
        "allowHeaders": {
          "description": "Specifies the content for Access-Control-Allow-Headers header.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposeHeaders": {
          "description": "Specifies the content for Access-Control-Expose-Headers header.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowOrigins": {
          "description": "Specifies the list of origins that will be allowed to do CORS requests. An origin is allowed if it matches either an item in allow_origins or an item in allow_origin_regexes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxAge": {
          "description": "Specifies how long result of a preflight request can be cached in seconds. This translates to the Access-Control-Max-Age header.",
          "type": "string"
        },
        "disabled": {
          "description": "If true, the CORS policy is disabled. The default value is false, which indicates that the CORS policy is in effect.",
          "type": "boolean"
        }
      },
      "description": "The Specification for allowing client side cross-origin requests.",
      "type": "object"
    },
    "GrpcRouteMethodMatch": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXACT",
            "REGULAR_EXPRESSION"
          ],
          "description": "Optional. Specifies how to match against the name. If not specified, a default value of \"EXACT\" is used.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Will only match the exact name provided.",
            "Will interpret grpc_method and grpc_service as regexes. RE2 syntax is supported."
          ]
        },
        "grpcService": {
          "type": "string",
          "description": "Required. Name of the service to match against. If unspecified, will match all services."
        },
        "grpcMethod": {
          "type": "string",
          "description": "Required. Name of the method to match against. If unspecified, will match all methods."
        },
        "caseSensitive": {
          "description": "Optional. Specifies that matches are case sensitive. The default value is true. case_sensitive must not be used with a type of REGULAR_EXPRESSION.",
          "type": "boolean"
        }
      },
      "description": "Specifies a match against a method.",
      "id": "GrpcRouteMethodMatch"
    },
    "HttpRoute": {
      "description": "HttpRoute is the resource defining how HTTP traffic should be routed by a Mesh or Gateway resource.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. Set of label tags associated with the HttpRoute resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URL of this resource"
        },
        "rules": {
          "description": "Required. Rules that define how traffic is routed and handled. Rules will be matched sequentially based on the RouteMatch specified for the rule.",
          "type": "array",
          "items": {
            "$ref": "HttpRouteRouteRule"
          }
        },
        "meshes": {
          "type": "array",
          "description": "Optional. Meshes defines a list of meshes this HttpRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/global/meshes/` The attached Mesh should be of a type SIDECAR",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "gateways": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Gateways defines a list of gateways this HttpRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/global/gateways/`"
        },
        "hostnames": {
          "type": "array",
          "description": "Required. Hostnames define a set of hosts that should match against the HTTP host header to select a HttpRoute to process the request. Hostname is the fully qualified domain name of a network host, as defined by RFC 1123 with the exception that: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (*.). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. \"foo.example.com\") or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. *.example.com). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateways must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames \"*.foo.bar.com\" and \"*.bar.com\" to be associated with the same Mesh (or Gateways under the same scope), it is not possible to associate two routes both with \"*.bar.com\" or both with \"bar.com\".",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the HttpRoute resource. It matches pattern `projects/*/locations/global/httpRoutes/http_route_name\u003e`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "HttpRoute"
    },
    "EndpointMatcher": {
      "type": "object",
      "properties": {
        "metadataLabelMatcher": {
          "description": "The matcher is based on node metadata presented by xDS clients.",
          "$ref": "MetadataLabelMatcher"
        }
      },
      "id": "EndpointMatcher",
      "description": "A definition of a matcher that selects endpoints to which the policies should be applied."
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "id": "Expr",
      "type": "object"
    },
    "MetadataLabels": {
      "description": "Defines a name-pair value for a single label.",
      "properties": {
        "labelName": {
          "description": "Required. Label name presented as key in xDS Node Metadata.",
          "type": "string"
        },
        "labelValue": {
          "description": "Required. Label value presented as value corresponding to the above key, in xDS Node Metadata.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MetadataLabels"
    },
    "ListTcpRoutesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "tcpRoutes": {
          "items": {
            "$ref": "TcpRoute"
          },
          "type": "array",
          "description": "List of TcpRoute resources."
        }
      },
      "description": "Response returned by the ListTcpRoutes method.",
      "id": "ListTcpRoutesResponse",
      "type": "object"
    },
    "TcpRouteRouteAction": {
      "description": "The specifications for routing traffic and applying associated policies.",
      "properties": {
        "destinations": {
          "items": {
            "$ref": "TcpRouteRouteDestination"
          },
          "type": "array",
          "description": "Optional. The destination services to which traffic should be forwarded. At least one destination service is required."
        },
        "originalDestination": {
          "description": "Optional. If true, Router will use the destination IP and port of the original connection as the destination of the request. Default is false.",
          "type": "boolean"
        }
      },
      "id": "TcpRouteRouteAction",
      "type": "object"
    },
    "GrpcRouteFaultInjectionPolicy": {
      "id": "GrpcRouteFaultInjectionPolicy",
      "properties": {
        "delay": {
          "description": "The specification for injecting delay to client requests.",
          "$ref": "GrpcRouteFaultInjectionPolicyDelay"
        },
        "abort": {
          "$ref": "GrpcRouteFaultInjectionPolicyAbort",
          "description": "The specification for aborting to client requests."
        }
      },
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests.",
      "type": "object"
    },
    "HttpRouteFaultInjectionPolicyAbort": {
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination.",
      "id": "HttpRouteFaultInjectionPolicyAbort",
      "properties": {
        "httpStatus": {
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "percentage": {
          "type": "integer",
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "HttpRouteHeaderMatch": {
      "description": "Specifies how to select a route rule based on HTTP request headers.",
      "id": "HttpRouteHeaderMatch",
      "type": "object",
      "properties": {
        "prefixMatch": {
          "type": "string",
          "description": "The value of the header must start with the contents of prefix_match."
        },
        "rangeMatch": {
          "description": "If specified, the rule will match if the request header value is within the range.",
          "$ref": "HttpRouteHeaderMatchIntegerRange"
        },
        "presentMatch": {
          "description": "A header with header_name must exist. The match takes place whether or not the header has a value.",
          "type": "boolean"
        },
        "exactMatch": {
          "type": "string",
          "description": "The value of the header should match exactly the content of exact_match."
        },
        "regexMatch": {
          "type": "string",
          "description": "The value of the header must match the regular expression specified in regex_match. For regular expression grammar, please see: https://github.com/google/re2/wiki/Syntax"
        },
        "invertMatch": {
          "type": "boolean",
          "description": "If specified, the match result will be inverted before checking. Default value is set to false."
        },
        "suffixMatch": {
          "type": "string",
          "description": "The value of the header must end with the contents of suffix_match."
        },
        "header": {
          "description": "The name of the HTTP header to match against.",
          "type": "string"
        }
      }
    },
    "HttpRouteFaultInjectionPolicy": {
      "id": "HttpRouteFaultInjectionPolicy",
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced by client proxy on a percentage of requests before sending those requests to the destination service. Similarly requests can be aborted by client proxy for a percentage of requests.",
      "properties": {
        "abort": {
          "description": "The specification for aborting to client requests.",
          "$ref": "HttpRouteFaultInjectionPolicyAbort"
        },
        "delay": {
          "$ref": "HttpRouteFaultInjectionPolicyDelay",
          "description": "The specification for injecting delay to client requests."
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "ListGatewaysResponse": {
      "properties": {
        "gateways": {
          "type": "array",
          "description": "List of Gateway resources.",
          "items": {
            "$ref": "Gateway"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "description": "Response returned by the ListGateways method.",
      "type": "object",
      "id": "ListGatewaysResponse"
    },
    "GrpcRouteRetryPolicy": {
      "description": "The specifications for retries.",
      "id": "GrpcRouteRetryPolicy",
      "properties": {
        "retryConditions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "- connect-failure: Router will retry on failures connecting to Backend Services, for example due to connection timeouts. - refused-stream: Router will retry if the backend service resets the stream with a REFUSED_STREAM error code. This reset type indicates that it is safe to retry. - cancelled: Router will retry if the gRPC status code in the response header is set to cancelled - deadline-exceeded: Router will retry if the gRPC status code in the response header is set to deadline-exceeded - resource-exhausted: Router will retry if the gRPC status code in the response header is set to resource-exhausted - unavailable: Router will retry if the gRPC status code in the response header is set to unavailable"
        },
        "numRetries": {
          "format": "uint32",
          "type": "integer",
          "description": "Specifies the allowed number of retries. This number must be \u003e 0. If not specpfied, default to 1."
        }
      },
      "type": "object"
    },
    "GrpcRouteHeaderMatch": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The key of the header."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXACT",
            "REGULAR_EXPRESSION"
          ],
          "description": "Optional. Specifies how to match against the value of the header. If not specified, a default value of EXACT is used.",
          "enumDescriptions": [
            "Unspecified.",
            "Will only match the exact value provided.",
            "Will match paths conforming to the prefix specified by value. RE2 syntax is supported."
          ]
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the header."
        }
      },
      "id": "GrpcRouteHeaderMatch",
      "description": "A match against a collection of headers."
    },
    "TlsRouteRouteAction": {
      "id": "TlsRouteRouteAction",
      "properties": {
        "destinations": {
          "type": "array",
          "description": "Required. The destination services to which traffic should be forwarded. At least one destination service is required.",
          "items": {
            "$ref": "TlsRouteRouteDestination"
          }
        }
      },
      "type": "object",
      "description": "The specifications for routing traffic and applying associated policies."
    },
    "ListMeshesResponse": {
      "id": "ListMeshesResponse",
      "type": "object",
      "properties": {
        "meshes": {
          "description": "List of Mesh resources.",
          "items": {
            "$ref": "Mesh"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "description": "Response returned by the ListMeshes method."
    },
    "GrpcRouteRouteMatch": {
      "description": "Criteria for matching traffic. A RouteMatch will be considered to match when all supplied fields match.",
      "type": "object",
      "id": "GrpcRouteRouteMatch",
      "properties": {
        "method": {
          "$ref": "GrpcRouteMethodMatch",
          "description": "Optional. A gRPC method to match against. If this field is empty or omitted, will match all methods."
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "GrpcRouteHeaderMatch"
          },
          "description": "Optional. Specifies a collection of headers to match."
        }
      }
    },
    "GrpcRouteFaultInjectionPolicyAbort": {
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination.",
      "id": "GrpcRouteFaultInjectionPolicyAbort",
      "type": "object",
      "properties": {
        "httpStatus": {
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "percentage": {
          "format": "int32",
          "type": "integer",
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]"
        }
      }
    },
    "TlsRouteRouteDestination": {
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "Required. The URL of a BackendService to route traffic to."
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the proportion of requests forwareded to the backend referenced by the service_name field. This is computed as: weight/Sum(weights in destinations) Weights in all destinations does not need to sum up to 100."
        }
      },
      "description": "Describe the destination for traffic to be routed to.",
      "id": "TlsRouteRouteDestination",
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "HttpRouteQueryParameterMatch": {
      "properties": {
        "presentMatch": {
          "type": "boolean",
          "description": "Specifies that the QueryParameterMatcher matches if request contains query parameter, irrespective of whether the parameter has a value or not. Only one of exact_match, regex_match, or present_match must be set."
        },
        "queryParameter": {
          "type": "string",
          "description": "The name of the query parameter to match."
        },
        "exactMatch": {
          "description": "The value of the query parameter must exactly match the contents of exact_match. Only one of exact_match, regex_match, or present_match must be set.",
          "type": "string"
        },
        "regexMatch": {
          "type": "string",
          "description": "The value of the query parameter must match the regular expression specified by regex_match. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax Only one of exact_match, regex_match, or present_match must be set."
        }
      },
      "type": "object",
      "description": "Specifications to match a query parameter in the request.",
      "id": "HttpRouteQueryParameterMatch"
    },
    "HttpRouteURLRewrite": {
      "id": "HttpRouteURLRewrite",
      "description": "The specification for modifying the URL of the request, prior to forwarding the request to the destination.",
      "properties": {
        "hostRewrite": {
          "description": "Prior to forwarding the request to the selected destination, the requests host header is replaced by this value.",
          "type": "string"
        },
        "pathPrefixRewrite": {
          "description": "Prior to forwarding the request to the selected destination, the matching portion of the requests path is replaced by this value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TcpRoute": {
      "description": "TcpRoute is the resource defining how TCP traffic should be routed by a Mesh/Gateway resource.",
      "type": "object",
      "id": "TcpRoute",
      "properties": {
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "gateways": {
          "description": "Optional. Gateways defines a list of gateways this TcpRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/global/gateways/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined URL of this resource"
        },
        "meshes": {
          "description": "Optional. Meshes defines a list of meshes this TcpRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/global/meshes/` The attached Mesh should be of a type SIDECAR",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rules": {
          "items": {
            "$ref": "TcpRouteRouteRule"
          },
          "description": "Required. Rules that define how traffic is routed and handled. At least one RouteRule must be supplied. If there are multiple rules then the action taken will be the first rule to match.",
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of label tags associated with the TcpRoute resource."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the TcpRoute resource. It matches pattern `projects/*/locations/global/tcpRoutes/tcp_route_name\u003e`."
        }
      }
    },
    "TlsRouteRouteMatch": {
      "properties": {
        "sniHost": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. SNI (server name indicator) to match against. SNI will be matched against all wildcard domains, i.e. www.example.com will be first matched against www.example.com, then *.example.com, then *.com. Partial wildcards are not supported, and values like *w.example.com are invalid. At least one of sni_host and alpn is required. Up to 5 sni hosts across all matches can be set."
        },
        "alpn": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. ALPN (Application-Layer Protocol Negotiation) to match against. Examples: \"http/1.1\", \"h2\". At least one of sni_host and alpn is required. Up to 5 alpns across all matches can be set."
        }
      },
      "type": "object",
      "id": "TlsRouteRouteMatch",
      "description": "RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"AND\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic."
    },
    "TcpRouteRouteMatch": {
      "type": "object",
      "id": "TcpRouteRouteMatch",
      "properties": {
        "port": {
          "type": "string",
          "description": "Required. Specifies the destination port to match against."
        },
        "address": {
          "type": "string",
          "description": "Required. Must be specified in the CIDR range format. A CIDR range consists of an IP Address and a prefix length to construct the subnet mask. By default, the prefix length is 32 (i.e. matches a single IP address). Only IPV4 addresses are supported. Examples: \"10.0.0.1\" - matches against this exact IP address. \"10.0.0.0/8\" - matches against any IP address within the 10.0.0.0 subnet and 255.255.255.0 mask. \"0.0.0.0/0\" - matches against any IP address'."
        }
      },
      "description": "RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic."
    },
    "HttpRouteHeaderModifier": {
      "description": "The specification for modifying HTTP header in HTTP request and HTTP response.",
      "id": "HttpRouteHeaderModifier",
      "type": "object",
      "properties": {
        "set": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Completely overwrite/replace the headers with given map where key is the name of the header, value is the value of the header."
        },
        "remove": {
          "type": "array",
          "description": "Remove headers (matching by header names) specified in the list.",
          "items": {
            "type": "string"
          }
        },
        "add": {
          "type": "object",
          "description": "Add the headers with given map where key is the name of the header, value is the value of the header.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GrpcRouteRouteAction": {
      "properties": {
        "faultInjectionPolicy": {
          "$ref": "GrpcRouteFaultInjectionPolicy",
          "description": "Optional. The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests. timeout and retry_policy will be ignored by clients that are configured with a fault_injection_policy"
        },
        "retryPolicy": {
          "description": "Optional. Specifies the retry policy associated with this route.",
          "$ref": "GrpcRouteRetryPolicy"
        },
        "destinations": {
          "type": "array",
          "description": "Optional. The destination services to which traffic should be forwarded. If multiple destinations are specified, traffic will be split between Backend Service(s) according to the weight field of these destinations.",
          "items": {
            "$ref": "GrpcRouteDestination"
          }
        },
        "timeout": {
          "type": "string",
          "description": "Optional. Specifies the timeout for selected route. Timeout is computed from the time the request has been fully processed (i.e. end of stream) up until the response has been completely processed. Timeout includes all retries.",
          "format": "google-duration"
        }
      },
      "id": "GrpcRouteRouteAction",
      "description": "Specifies how to route matched traffic.",
      "type": "object"
    },
    "ServiceBinding": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the ServiceBinding resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "service": {
          "description": "Required. The full service directory service name of the format /projects/*/locations/*/namespaces/*/services/*",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the ServiceBinding resource. It matches pattern `projects/*/locations/global/serviceBindings/service_binding_name\u003e`."
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        }
      },
      "description": "ServiceBinding is the resource that defines a Service Directory Service to be used in a BackendService resource.",
      "id": "ServiceBinding",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest"
    },
    "ListGrpcRoutesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "grpcRoutes": {
          "type": "array",
          "items": {
            "$ref": "GrpcRoute"
          },
          "description": "List of GrpcRoute resources."
        }
      },
      "id": "ListGrpcRoutesResponse",
      "type": "object",
      "description": "Response returned by the ListGrpcRoutes method."
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "HttpRouteRetryPolicy": {
      "id": "HttpRouteRetryPolicy",
      "type": "object",
      "description": "The specifications for retries.",
      "properties": {
        "perTryTimeout": {
          "type": "string",
          "description": "Specifies a non-zero timeout per retry attempt.",
          "format": "google-duration"
        },
        "numRetries": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the allowed number of retries. This number must be \u003e 0. If not specified, default to 1."
        },
        "retryConditions": {
          "items": {
            "type": "string"
          },
          "description": "Specifies one or more conditions when this retry policy applies. Valid values are: 5xx: Proxy will attempt a retry if the destination service responds with any 5xx response code, of if the destination service does not respond at all, example: disconnect, reset, read timeout, connection failure and refused streams. gateway-error: Similar to 5xx, but only applies to response codes 502, 503, 504. reset: Proxy will attempt a retry if the destination service does not respond at all (disconnect/reset/read timeout) connect-failure: Proxy will retry on failures connecting to destination for example due to connection timeouts. retriable-4xx: Proxy will retry fro retriable 4xx response codes. Currently the only retriable error supported is 409. refused-stream: Proxy will retry if the destination resets the stream with a REFUSED_STREAM error code. This reset type indicates that it is safe to retry.",
          "type": "array"
        }
      }
    },
    "ListHttpRoutesResponse": {
      "properties": {
        "httpRoutes": {
          "type": "array",
          "description": "List of HttpRoute resources.",
          "items": {
            "$ref": "HttpRoute"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "id": "ListHttpRoutesResponse",
      "type": "object",
      "description": "Response returned by the ListHttpRoutes method."
    },
    "MetadataLabelMatcher": {
      "type": "object",
      "description": "The matcher that is based on node metadata presented by xDS clients.",
      "id": "MetadataLabelMatcher",
      "properties": {
        "metadataLabelMatchCriteria": {
          "enum": [
            "METADATA_LABEL_MATCH_CRITERIA_UNSPECIFIED",
            "MATCH_ANY",
            "MATCH_ALL"
          ],
          "type": "string",
          "description": "Specifies how matching should be done. Supported values are: MATCH_ANY: At least one of the Labels specified in the matcher should match the metadata presented by xDS client. MATCH_ALL: The metadata presented by the xDS client should contain all of the labels specified here. The selection is determined based on the best match. For example, suppose there are three EndpointPolicy resources P1, P2 and P3 and if P1 has a the matcher as MATCH_ANY , P2 has MATCH_ALL , and P3 has MATCH_ALL . If a client with label connects, the config from P1 will be selected. If a client with label connects, the config from P2 will be selected. If a client with label connects, the config from P3 will be selected. If there is more than one best match, (for example, if a config P4 with selector exists and if a client with label connects), an error will be thrown.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "At least one of the Labels specified in the matcher should match the metadata presented by xDS client.",
            "The metadata presented by the xDS client should contain all of the labels specified here."
          ]
        },
        "metadataLabels": {
          "type": "array",
          "description": "The list of label value pairs that must match labels in the provided metadata based on filterMatchCriteria This list can have at most 64 entries. The list can be empty if the match criteria is MATCH_ANY, to specify a wildcard match (i.e this matches any client).",
          "items": {
            "$ref": "MetadataLabels"
          }
        }
      }
    },
    "TlsRouteRouteRule": {
      "id": "TlsRouteRouteRule",
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched.",
      "type": "object",
      "properties": {
        "matches": {
          "type": "array",
          "items": {
            "$ref": "TlsRouteRouteMatch"
          },
          "description": "Required. RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation."
        },
        "action": {
          "$ref": "TlsRouteRouteAction",
          "description": "Required. The detailed rule defining how to route matched traffic."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "HttpRouteRouteRule": {
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched.",
      "properties": {
        "matches": {
          "items": {
            "$ref": "HttpRouteRouteMatch"
          },
          "description": "A list of matches define conditions used for matching the rule against incoming HTTP requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic. If a default rule is desired to be configured, add a rule with no matches specified to the end of the rules list.",
          "type": "array"
        },
        "action": {
          "$ref": "HttpRouteRouteAction",
          "description": "The detailed rule defining how to route matched traffic."
        }
      },
      "type": "object",
      "id": "HttpRouteRouteRule"
    },
    "GrpcRouteDestination": {
      "type": "object",
      "id": "GrpcRouteDestination",
      "description": "The destination to which traffic will be routed.",
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "Required. The URL of a destination service to which to route traffic. Must refer to either a BackendService or ServiceDirectoryService."
        },
        "weight": {
          "format": "int32",
          "description": "Optional. Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "type": "integer"
        }
      }
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "ListTlsRoutesResponse": {
      "description": "Response returned by the ListTlsRoutes method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "tlsRoutes": {
          "items": {
            "$ref": "TlsRoute"
          },
          "description": "List of TlsRoute resources.",
          "type": "array"
        }
      },
      "id": "ListTlsRoutesResponse"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "ListEndpointPoliciesResponse": {
      "type": "object",
      "description": "Response returned by the ListEndpointPolicies method.",
      "properties": {
        "endpointPolicies": {
          "description": "List of EndpointPolicy resources.",
          "items": {
            "$ref": "EndpointPolicy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "id": "ListEndpointPoliciesResponse"
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      }
    },
    "HttpRouteFaultInjectionPolicyDelay": {
      "type": "object",
      "properties": {
        "percentage": {
          "type": "integer",
          "description": "The percentage of traffic on which delay will be injected. The value must be between [0, 100]",
          "format": "int32"
        },
        "fixedDelay": {
          "description": "Specify a fixed delay before forwarding the request.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Specification of how client requests are delayed as part of fault injection before being sent to a destination.",
      "id": "HttpRouteFaultInjectionPolicyDelay"
    },
    "EndpointPolicy": {
      "description": "EndpointPolicy is a resource that helps apply desired configuration on the endpoints that match specific criteria. For example, this resource can be used to apply \"authentication config\" an all endpoints that serve on port 8080.",
      "properties": {
        "authorizationPolicy": {
          "description": "Optional. This field specifies the URL of AuthorizationPolicy resource that applies authorization policies to the inbound traffic at the matched endpoints. Refer to Authorization. If this field is not specified, authorization is disabled(no authz checks) for this endpoint.",
          "type": "string"
        },
        "serverTlsPolicy": {
          "description": "Optional. A URL referring to ServerTlsPolicy resource. ServerTlsPolicy is used to determine the authentication policy to be applied to terminate the inbound traffic at the identified backends. If this field is not set, authentication is disabled(open) for this endpoint.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Default value. Must not be used.",
            "Represents a proxy deployed as a sidecar.",
            "Represents a proxyless gRPC backend."
          ],
          "description": "Required. The type of endpoint policy. This is primarily used to validate the configuration.",
          "enum": [
            "ENDPOINT_POLICY_TYPE_UNSPECIFIED",
            "SIDECAR_PROXY",
            "GRPC_SERVER"
          ],
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the EndpointPolicy resource.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the EndpointPolicy resource. It matches pattern `projects/{project}/locations/global/endpointPolicies/{endpoint_policy}`."
        },
        "trafficPortSelector": {
          "description": "Optional. Port selector for the (matched) endpoints. If no port selector is provided, the matched config is applied to all ports.",
          "$ref": "TrafficPortSelector"
        },
        "clientTlsPolicy": {
          "type": "string",
          "description": "Optional. A URL referring to a ClientTlsPolicy resource. ClientTlsPolicy can be set to specify the authentication for traffic from the proxy to the actual endpoints. More specifically, it is applied to the outgoing traffic from the proxy to the endpoint. This is typically used for sidecar model where the proxy identifies itself as endpoint to the control plane, with the connection between sidecar and endpoint requiring authentication. If this field is not set, authentication is disabled(open). Applicable only when EndpointPolicyType is SIDECAR_PROXY."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "endpointMatcher": {
          "description": "Required. A matcher that selects endpoints to which the policies should be applied.",
          "$ref": "EndpointMatcher"
        }
      },
      "type": "object",
      "id": "EndpointPolicy"
    },
    "TlsRoute": {
      "type": "object",
      "description": "TlsRoute defines how traffic should be routed based on SNI and other matching L3 attributes.",
      "id": "TlsRoute",
      "properties": {
        "gateways": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Gateways defines a list of gateways this TlsRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/global/gateways/`",
          "type": "array"
        },
        "name": {
          "description": "Required. Name of the TlsRoute resource. It matches pattern `projects/*/locations/global/tlsRoutes/tls_route_name\u003e`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "meshes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Meshes defines a list of meshes this TlsRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/global/meshes/` The attached Mesh should be of a type SIDECAR",
          "type": "array"
        },
        "rules": {
          "description": "Required. Rules that define how traffic is routed and handled. At least one RouteRule must be supplied. If there are multiple rules then the action taken will be the first rule to match.",
          "type": "array",
          "items": {
            "$ref": "TlsRouteRouteRule"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "HttpRouteHeaderMatchIntegerRange": {
      "description": "Represents an integer value range.",
      "id": "HttpRouteHeaderMatchIntegerRange",
      "properties": {
        "end": {
          "description": "End of the range (exclusive)",
          "format": "int32",
          "type": "integer"
        },
        "start": {
          "format": "int32",
          "description": "Start of the range (inclusive)",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GrpcRouteFaultInjectionPolicyDelay": {
      "properties": {
        "percentage": {
          "format": "int32",
          "type": "integer",
          "description": "The percentage of traffic on which delay will be injected. The value must be between [0, 100]"
        },
        "fixedDelay": {
          "description": "Specify a fixed delay before forwarding the request.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Specification of how client requests are delayed as part of fault injection before being sent to a destination.",
      "id": "GrpcRouteFaultInjectionPolicyDelay"
    },
    "TcpRouteRouteRule": {
      "properties": {
        "matches": {
          "type": "array",
          "items": {
            "$ref": "TcpRouteRouteMatch"
          },
          "description": "Optional. RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic."
        },
        "action": {
          "$ref": "TcpRouteRouteAction",
          "description": "Required. The detailed rule defining how to route matched traffic."
        }
      },
      "id": "TcpRouteRouteRule",
      "type": "object",
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched."
    },
    "TcpRouteRouteDestination": {
      "type": "object",
      "properties": {
        "weight": {
          "description": "Optional. Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "type": "integer",
          "format": "int32"
        },
        "serviceName": {
          "description": "Required. The URL of a BackendService to route traffic to.",
          "type": "string"
        }
      },
      "id": "TcpRouteRouteDestination",
      "description": "Describe the destination for traffic to be routed to."
    },
    "HttpRouteRouteAction": {
      "type": "object",
      "description": "The specifications for routing traffic and applying associated policies.",
      "id": "HttpRouteRouteAction",
      "properties": {
        "requestMirrorPolicy": {
          "$ref": "HttpRouteRequestMirrorPolicy",
          "description": "Specifies the policy on how requests intended for the routes destination are shadowed to a separate mirrored destination. Proxy will not wait for the shadow destination to respond before returning the response. Prior to sending traffic to the shadow service, the host/authority header is suffixed with -shadow."
        },
        "destinations": {
          "description": "The destination to which traffic should be forwarded.",
          "type": "array",
          "items": {
            "$ref": "HttpRouteDestination"
          }
        },
        "responseHeaderModifier": {
          "description": "The specification for modifying the headers of a response prior to sending the response back to the client.",
          "$ref": "HttpRouteHeaderModifier"
        },
        "redirect": {
          "$ref": "HttpRouteRedirect",
          "description": "If set, the request is directed as configured by this field."
        },
        "faultInjectionPolicy": {
          "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to backend service failure. As part of fault injection, when clients send requests to a backend service, delays can be introduced on a percentage of requests before sending those requests to the backend service. Similarly requests from clients can be aborted for a percentage of requests. timeout and retry_policy will be ignored by clients that are configured with a fault_injection_policy",
          "$ref": "HttpRouteFaultInjectionPolicy"
        },
        "retryPolicy": {
          "description": "Specifies the retry policy associated with this route.",
          "$ref": "HttpRouteRetryPolicy"
        },
        "urlRewrite": {
          "$ref": "HttpRouteURLRewrite",
          "description": "The specification for rewrite URL before forwarding requests to the destination."
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Specifies the timeout for selected route. Timeout is computed from the time the request has been fully processed (i.e. end of stream) up until the response has been completely processed. Timeout includes all retries."
        },
        "requestHeaderModifier": {
          "$ref": "HttpRouteHeaderModifier",
          "description": "The specification for modifying the headers of a matching request prior to delivery of the request to the destination."
        },
        "corsPolicy": {
          "$ref": "HttpRouteCorsPolicy",
          "description": "The specification for allowing client side cross-origin requests."
        }
      }
    },
    "Gateway": {
      "properties": {
        "ports": {
          "description": "Required. One or more ports that the Gateway must receive traffic on. The proxy binds to the ports specified. Gateway listen on 0.0.0.0 on the ports specified below.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "type": {
          "enumDescriptions": [
            "The type of the customer managed gateway is unspecified.",
            "The type of the customer managed gateway is TrafficDirector Open Mesh.",
            "The type of the customer managed gateway is SecureWebGateway (SWG)."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "OPEN_MESH",
            "SECURE_WEB_GATEWAY"
          ],
          "description": "Immutable. The type of the customer managed gateway."
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URL of this resource"
        },
        "scope": {
          "type": "string",
          "description": "Required. Immutable. Scope determines how configuration across multiple Gateway instances are merged. The configuration for multiple Gateway instances with the same scope will be merged as presented as a single coniguration to the proxy/load balancer. Max length 64 characters. Scope should start with a letter and can only have letters, numbers, hyphens."
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the Gateway resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "serverTlsPolicy": {
          "type": "string",
          "description": "Optional. A fully-qualified ServerTLSPolicy URL reference. Specifies how TLS traffic is terminated. If empty, TLS termination is disabled."
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "name": {
          "description": "Required. Name of the Gateway resource. It matches pattern `projects/*/locations/global/gateways/`.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "Gateway",
      "description": "Gateway represents the configuration for a proxy, typically a load balancer. It captures the ip:port over which the services are exposed by the proxy, along with any policy configurations. Routes have reference to to Gateways to dictate how requests should be routed by this Gateway."
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListServiceBindingsResponse": {
      "type": "object",
      "id": "ListServiceBindingsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "serviceBindings": {
          "description": "List of ServiceBinding resources.",
          "items": {
            "$ref": "ServiceBinding"
          },
          "type": "array"
        }
      },
      "description": "Response returned by the ListServiceBindings method."
    },
    "GrpcRoute": {
      "description": "GrpcRoute is the resource defining how gRPC traffic routed by a Mesh or Gateway resource is routed.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "hostnames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Service hostnames with an optional port for which this route describes traffic. Format: [:] Hostname is the fully qualified domain name of a network host. This matches the RFC 1123 definition of a hostname with 2 notable exceptions: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (*.). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. \"foo.example.com\") or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. *.example.com). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateway must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames \"*.foo.bar.com\" and \"*.bar.com\" to be associated with the same route, it is not possible to associate two routes both with \"*.bar.com\" or both with \"bar.com\". If a port is specified, then gRPC clients must use the channel URI with the port to match this rule (i.e. \"xds:///service:123\"), otherwise they must supply the URI without a port (i.e. \"xds:///service\")."
        },
        "rules": {
          "description": "Required. A list of detailed rules defining how to route traffic. Within a single GrpcRoute, the GrpcRoute.RouteAction associated with the first matching GrpcRoute.RouteRule will be executed. At least one rule must be supplied.",
          "type": "array",
          "items": {
            "$ref": "GrpcRouteRouteRule"
          }
        },
        "name": {
          "description": "Required. Name of the GrpcRoute resource. It matches pattern `projects/*/locations/global/grpcRoutes/`",
          "type": "string"
        },
        "gateways": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Gateways defines a list of gateways this GrpcRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/global/gateways/`"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of label tags associated with the GrpcRoute resource."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated."
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URL of this resource"
        },
        "meshes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Meshes defines a list of meshes this GrpcRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/global/meshes/`"
        }
      },
      "id": "GrpcRoute"
    },
    "Mesh": {
      "id": "Mesh",
      "description": "Mesh represents a logical configuration grouping for workload to workload communication within a service mesh. Routes that point to mesh dictate how requests are routed within this logical mesh boundary.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the Mesh resource. It matches pattern `projects/*/locations/global/meshes/`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of label tags associated with the Mesh resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "interceptionPort": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If set to a valid TCP port (1-65535), instructs the SIDECAR proxy to listen on the specified port of localhost (127.0.0.1) address. The SIDECAR proxy will expect all traffic to be redirected to this port regardless of its actual ip:port destination. If unset, a port '15001' is used as the interception port. This will is applicable only for sidecar proxy deployments."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true
        }
      }
    },
    "GrpcRouteRouteRule": {
      "properties": {
        "matches": {
          "description": "Optional. Matches define conditions used for matching the rule against incoming gRPC requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic.",
          "items": {
            "$ref": "GrpcRouteRouteMatch"
          },
          "type": "array"
        },
        "action": {
          "description": "Required. A detailed rule defining how to route traffic. This field is required.",
          "$ref": "GrpcRouteRouteAction"
        }
      },
      "id": "GrpcRouteRouteRule",
      "type": "object",
      "description": "Describes how to route traffic."
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "HttpRouteDestination": {
      "id": "HttpRouteDestination",
      "properties": {
        "weight": {
          "format": "int32",
          "description": "Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "type": "integer"
        },
        "serviceName": {
          "type": "string",
          "description": "The URL of a BackendService to route traffic to."
        }
      },
      "description": "Specifications of a destination to which the request should be routed to.",
      "type": "object"
    },
    "HttpRouteRedirect": {
      "type": "object",
      "id": "HttpRouteRedirect",
      "properties": {
        "httpsRedirect": {
          "type": "boolean",
          "description": "If set to true, the URL scheme in the redirected request is set to https. If set to false, the URL scheme of the redirected request will remain the same as that of the request. The default is set to false."
        },
        "stripQuery": {
          "description": "if set to true, any accompanying query portion of the original URL is removed prior to redirecting the request. If set to false, the query portion of the original URL is retained. The default is set to false.",
          "type": "boolean"
        },
        "hostRedirect": {
          "type": "string",
          "description": "The host that will be used in the redirect response instead of the one that was supplied in the request."
        },
        "responseCode": {
          "enumDescriptions": [
            "Default value",
            "Corresponds to 301.",
            "Corresponds to 302.",
            "Corresponds to 303.",
            "Corresponds to 307. In this case, the request method will be retained.",
            "Corresponds to 308. In this case, the request method will be retained."
          ],
          "enum": [
            "RESPONSE_CODE_UNSPECIFIED",
            "MOVED_PERMANENTLY_DEFAULT",
            "FOUND",
            "SEE_OTHER",
            "TEMPORARY_REDIRECT",
            "PERMANENT_REDIRECT"
          ],
          "description": "The HTTP Status code to use for the redirect.",
          "type": "string"
        },
        "pathRedirect": {
          "type": "string",
          "description": "The path that will be used in the redirect response instead of the one that was supplied in the request. path_redirect can not be supplied together with prefix_redirect. Supply one alone or neither. If neither is supplied, the path of the original request will be used for the redirect."
        },
        "portRedirect": {
          "description": "The port that will be used in the redirected request instead of the one that was supplied in the request.",
          "type": "integer",
          "format": "int32"
        },
        "prefixRewrite": {
          "description": "Indicates that during redirection, the matched prefix (or path) should be swapped with this value. This option allows URLs be dynamically created based on the request.",
          "type": "string"
        }
      },
      "description": "The specification for redirecting traffic."
    },
    "HttpRouteRouteMatch": {
      "type": "object",
      "id": "HttpRouteRouteMatch",
      "properties": {
        "prefixMatch": {
          "description": "The HTTP request path value must begin with specified prefix_match. prefix_match must begin with a /. Only one of full_path_match, prefix_match, or regex_match should be used.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "description": "Specifies a list of HTTP request headers to match against. ALL of the supplied headers must be matched.",
          "items": {
            "$ref": "HttpRouteHeaderMatch"
          }
        },
        "queryParameters": {
          "description": "Specifies a list of query parameters to match against. ALL of the query parameters must be matched.",
          "items": {
            "$ref": "HttpRouteQueryParameterMatch"
          },
          "type": "array"
        },
        "ignoreCase": {
          "description": "Specifies if prefix_match and full_path_match matches are case sensitive. The default value is false.",
          "type": "boolean"
        },
        "regexMatch": {
          "description": "The HTTP request path value must satisfy the regular expression specified by regex_match after removing any query parameters and anchor supplied with the original URL. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax Only one of full_path_match, prefix_match, or regex_match should be used.",
          "type": "string"
        },
        "fullPathMatch": {
          "description": "The HTTP request path value should exactly match this value. Only one of full_path_match, prefix_match, or regex_match should be used.",
          "type": "string"
        }
      },
      "description": "RouteMatch defines specifications used to match requests. If multiple match types are set, this RouteMatch will match if ALL type of matches are matched."
    },
    "TrafficPortSelector": {
      "id": "TrafficPortSelector",
      "type": "object",
      "description": "Specification of a port-based selector.",
      "properties": {
        "ports": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of ports. Can be port numbers or port range (example, [80-90] specifies all ports from 80 to 90, including 80 and 90) or named ports or * to specify all ports. If the list is empty, all ports are selected."
        }
      }
    }
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "NetworkServices",
  "batchPath": "batch",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "revision": "20220404",
  "name": "networkservices",
  "title": "Network Services API",
  "mtlsRootUrl": "https://networkservices.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "basePath": "",
  "version_module": true,
  "baseUrl": "https://networkservices.googleapis.com/",
  "id": "networkservices:v1beta1",
  "documentationLink": "https://cloud.google.com/networking",
  "ownerDomain": "google.com",
  "servicePath": "",
  "rootUrl": "https://networkservices.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "grpcRoutes": {
              "methods": {
                "create": {
                  "id": "networkservices.projects.locations.grpcRoutes.create",
                  "path": "v1beta1/{+parent}/grpcRoutes",
                  "httpMethod": "POST",
                  "parameters": {
                    "grpcRouteId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Short name of the GrpcRoute resource to be created."
                    },
                    "parent": {
                      "description": "Required. The parent resource of the GrpcRoute. Must be in the format `projects/*/locations/global`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/grpcRoutes",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new GrpcRoute in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GrpcRoute"
                  }
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/grpcRoutes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
[...]
