{
  "name": "networkconnectivity",
  "description": "This API enables connectivity with and between Google Cloud resources.",
  "revision": "20230816",
  "version_module": true,
  "basePath": "",
  "mtlsRootUrl": "https://networkconnectivity.mtls.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "title": "Network Connectivity API",
  "rootUrl": "https://networkconnectivity.googleapis.com/",
  "version": "v1",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "id": "networkconnectivity:v1",
  "baseUrl": "https://networkconnectivity.googleapis.com/",
  "schemas": {
    "RoutingVPC": {
      "type": "object",
      "id": "RoutingVPC",
      "properties": {
        "requiredForNewSiteToSiteDataTransferSpokes": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If true, indicates that this VPC network is currently associated with spokes that use the data transfer feature (spokes where the site_to_site_data_transfer field is set to true). If you create new spokes that use data transfer, they must be associated with this VPC network. At most, one VPC network will have this field set to true."
        },
        "uri": {
          "description": "The URI of the VPC network.",
          "type": "string"
        }
      },
      "description": "RoutingVPC contains information about the VPC networks associated with the spokes of a Network Connectivity Center hub."
    },
    "Hub": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The name of the hub. Hub names must be unique. They use the following form: `projects/{project_number}/locations/global/hubs/{hub_id}`",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time the hub was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uniqueId": {
          "type": "string",
          "description": "Output only. The Google-generated UUID for the hub. This value is unique across all hub resources. If a hub is deleted and another with the same name is created, the new hub is assigned a different unique_id.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current lifecycle state of this hub.",
          "enumDescriptions": [
            "No state information available",
            "The resource's create operation is in progress.",
            "The resource is active",
            "The resource's delete operation is in progress.",
            "The resource's accept operation is in progress.",
            "The resource's reject operation is in progress.",
            "The resource's update operation is in progress.",
            "The resource is inactive.",
            "The hub associated with this spoke resource has been deleted. This state applies to spoke resources only."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ACCEPTING",
            "REJECTING",
            "UPDATING",
            "INACTIVE",
            "OBSOLETE"
          ],
          "type": "string"
        },
        "routeTables": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The route tables that belong to this hub. They use the following form: `projects/{project_number}/locations/global/hubs/{hub_id}/routeTables/{route_table_id}` This field is read-only. Network Connectivity Center automatically populates it based on the route tables nested under the hub.",
          "type": "array"
        },
        "spokeSummary": {
          "description": "Output only. A summary of the spokes associated with a hub. The summary includes a count of spokes according to type and according to state. If any spokes are inactive, the summary also lists the reasons they are inactive, including a count for each reason.",
          "readOnly": true,
          "$ref": "SpokeSummary"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional labels in key:value format. For more information about labels, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements)."
        },
        "routingVpcs": {
          "description": "The VPC networks associated with this hub's spokes. This field is read-only. Network Connectivity Center automatically populates it based on the set of spokes attached to the hub.",
          "items": {
            "$ref": "RoutingVPC"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the hub was created.",
          "format": "google-datetime"
        },
        "description": {
          "description": "An optional description of the hub.",
          "type": "string"
        }
      },
      "id": "Hub",
      "description": "A Network Connectivity Center hub is a global management resource to which you attach spokes. A single hub can contain spokes from multiple regions. However, if any of a hub's spokes use the site-to-site data transfer feature, the resources associated with those spokes must all be in the same VPC network. Spokes that do not use site-to-site data transfer can be associated with any VPC network in your project."
    },
    "InternalRange": {
      "type": "object",
      "description": "The internal range resource for IPAM operations within a VPC network. Used to represent a private address range along with behavioral characterstics of that range (its usage and peering behavior). Networking resources can link to this range if they are created as belonging to it.",
      "id": "InternalRange",
      "properties": {
        "prefixLength": {
          "format": "int32",
          "description": "An alternate to ip_cidr_range. Can be set when trying to create a reservation that automatically finds a free range of the given size. If both ip_cidr_range and prefix_length are set, there is an error if the range sizes do not match. Can also be used during updates to change the range size.",
          "type": "integer"
        },
        "usage": {
          "description": "The type of usage set for this InternalRange.",
          "enum": [
            "USAGE_UNSPECIFIED",
            "FOR_VPC",
            "EXTERNAL_TO_VPC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified usage is allowed in calls which identify the resource by other fields and do not need Usage set to complete. These are, i.e.: GetInternalRange and DeleteInternalRange. Usage needs to be specified explicitly in CreateInternalRange or UpdateInternalRange calls.",
            "A VPC resource can use the reserved CIDR block by associating it with the internal range resource if usage is set to FOR_VPC.",
            "Ranges created with EXTERNAL_TO_VPC cannot be associated with VPC resources and are meant to block out address ranges for various use cases, like for example, usage on-prem, with dynamic route announcements via interconnect."
          ]
        },
        "createTime": {
          "description": "Time when the internal range was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "peering": {
          "description": "The type of peering set for this internal range.",
          "enum": [
            "PEERING_UNSPECIFIED",
            "FOR_SELF",
            "FOR_PEER",
            "NOT_SHARED"
          ],
          "type": "string",
          "enumDescriptions": [
            "If Peering is left unspecified in CreateInternalRange or UpdateInternalRange, it will be defaulted to FOR_SELF.",
            "This is the default behavior and represents the case that this internal range is intended to be used in the VPC in which it is created and is accessible from its peers. This implies that peers or peers-of-peers cannot use this range.",
            "This behavior can be set when the internal range is being reserved for usage by peers. This means that no resource within the VPC in which it is being created can use this to associate with a VPC resource, but one of the peers can. This represents donating a range for peers to use.",
            "This behavior can be set when the internal range is being reserved for usage by the VPC in which it is created, but not shared with peers. In a sense, it is local to the VPC. This can be used to create internal ranges for various purposes like HTTP_INTERNAL_LOAD_BALANCER or for Interconnect routes that are not shared with peers. This also implies that peers cannot use this range in a way that is visible to this VPC, but can re-use this range as long as it is NOT_SHARED from the peer VPC, too."
          ]
        },
        "description": {
          "description": "A description of this resource.",
          "type": "string"
        },
        "overlaps": {
          "type": "array",
          "description": "Optional. Types of resources that are allowed to overlap with the current internal range.",
          "items": {
            "enumDescriptions": [
              "No overlap overrides.",
              "Allow creation of static routes more specific that the current internal range.",
              "Allow creation of internal ranges that overlap with existing subnets."
            ],
            "enum": [
              "OVERLAP_UNSPECIFIED",
              "OVERLAP_ROUTE_RANGE",
              "OVERLAP_EXISTING_SUBNET_RANGE"
            ],
            "type": "string"
          }
        },
        "targetCidrRange": {
          "description": "Optional. Can be set to narrow down or pick a different address space while searching for a free range. If not set, defaults to the \"10.0.0.0/8\" address space. This can be used to search in other rfc-1918 address spaces like \"172.16.0.0/12\" and \"192.168.0.0/16\" or non-rfc-1918 address spaces used in the VPC.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Immutable. The name of an internal range. Format: projects/{project}/locations/{location}/internalRanges/{internal_range} See: https://google.aip.dev/122#fields-representing-resource-names",
          "type": "string"
        },
        "ipCidrRange": {
          "description": "The IP range that this internal range defines.",
          "type": "string"
        },
        "users": {
          "description": "Output only. The list of resources that refer to this internal range. Resources that use the internal range for their range allocation are referred to as users of the range. Other resources mark themselves as users while doing so by creating a reference to this internal range. Having a user, based on this reference, prevents deletion of the internal range referred to. Can be empty.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Time when the internal range was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "network": {
          "description": "The URL or resource ID of the network in which to reserve the internal range. The network cannot be deleted if there are any reserved internal ranges referring to it. Legacy networks are not supported. This can only be specified for a global internal address. Example: - URL: /compute/v1/projects/{project}/global/networks/{resourceId} - ID: network123",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels.",
          "type": "object"
        }
      }
    },
    "ServiceConnectionMap": {
      "description": "The ServiceConnectionMap resource. Next id: 15",
      "id": "ServiceConnectionMap",
      "properties": {
        "description": {
          "description": "A description of this resource.",
          "type": "string"
        },
        "infrastructure": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "An invalid infrastructure as the default case.",
            "Private Service Connect is used for connections."
          ],
          "enum": [
            "INFRASTRUCTURE_UNSPECIFIED",
            "PSC"
          ],
          "description": "Output only. The infrastructure used for connections between consumers/producers."
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag is computed by the server, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "consumerPscConfigs": {
          "description": "The PSC configurations on consumer side.",
          "type": "array",
          "items": {
            "$ref": "ConsumerPscConfig"
          }
        },
        "producerPscConfigs": {
          "items": {
            "$ref": "ProducerPscConfig"
          },
          "description": "The PSC configurations on producer side.",
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the ServiceConnectionMap was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User-defined labels."
        },
        "token": {
          "type": "string",
          "description": "The token provided by the consumer. This token authenticates that the consumer can create a connecton within the specified project and network."
        },
        "serviceClassUri": {
          "readOnly": true,
          "description": "Output only. The service class uri this ServiceConnectionMap is for.",
          "type": "string"
        },
        "consumerPscConnections": {
          "readOnly": true,
          "items": {
            "$ref": "ConsumerPscConnection"
          },
          "description": "Output only. PSC connection details on consumer side.",
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the ServiceConnectionMap was updated.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. The name of a ServiceConnectionMap. Format: projects/{project}/locations/{location}/serviceConnectionMaps/{service_connection_map} See: https://google.aip.dev/122#fields-representing-resource-names",
          "type": "string"
        },
        "serviceClass": {
          "description": "The service class identifier this ServiceConnectionMap is for. The user of ServiceConnectionMap create API needs to have networkconnecitivty.serviceclasses.use iam permission for the service class.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Warnings": {
      "type": "object",
      "id": "Warnings",
      "description": "Informational warning message.",
      "properties": {
        "code": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "WARNING_UNSPECIFIED",
            "RESOURCE_NOT_ACTIVE",
            "RESOURCE_BEING_MODIFIED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The policy based route is not active and functioning. Common causes are the dependent network was deleted or the resource project was turned off.",
            "The policy based route is being modified (e.g. created/deleted) at this time."
          ],
          "description": "Output only. A warning code, if applicable."
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Metadata about this warning in key: value format. The key should provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement.",
          "readOnly": true
        },
        "warningMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A human-readable description of the warning code."
        }
      }
    },
    "Location": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "ServiceClass": {
      "id": "ServiceClass",
      "type": "object",
      "description": "The ServiceClass resource. Next id: 9",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the ServiceClass was updated."
        },
        "description": {
          "description": "A description of this resource.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The name of a ServiceClass resource. Format: projects/{project}/locations/{location}/serviceClasses/{service_class} See: https://google.aip.dev/122#fields-representing-resource-names",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag is computed by the server, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the ServiceClass was created.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels."
        },
        "serviceClass": {
          "description": "Output only. The generated service class name. Use this name to refer to the Service class in Service Connection Maps and Service Connection Policies.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PscConnection": {
      "description": "Information about a specific Private Service Connect connection.",
      "type": "object",
      "id": "PscConnection",
      "properties": {
        "consumerForwardingRule": {
          "description": "The resource reference of the PSC Forwarding Rule within the consumer VPC.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "An invalid state as the default case.",
            "The connection is fully established and ready to use.",
            "The connection is not functional since some resources on the connection fail to be created.",
            "The connection is being created.",
            "The connection is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "CREATING",
            "DELETING"
          ],
          "type": "string",
          "description": "State of the PSC Connection"
        },
        "gceOperation": {
          "description": "The last Compute Engine operation to setup PSC connection.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "deprecated": true,
          "description": "The most recent error during operating this connection."
        },
        "errorInfo": {
          "$ref": "GoogleRpcErrorInfo",
          "description": "Output only. The error info for the latest error during operating this connection.",
          "readOnly": true
        },
        "errorType": {
          "enumDescriptions": [
            "An invalid error type as the default case.",
            "The error is due to Service Automation system internal.",
            "The error is due to the setup on consumer side.",
            "The error is due to the setup on producer side."
          ],
          "type": "string",
          "description": "The error type indicates whether the error is consumer facing, producer facing or system internal.",
          "enum": [
            "CONNECTION_ERROR_TYPE_UNSPECIFIED",
            "ERROR_INTERNAL",
            "ERROR_CONSUMER_SIDE",
            "ERROR_PRODUCER_SIDE"
          ]
        },
        "consumerTargetProject": {
          "type": "string",
          "description": "The project where the PSC connection is created."
        },
        "pscConnectionId": {
          "type": "string",
          "description": "The PSC connection id of the PSC forwarding rule."
        },
        "consumerAddress": {
          "description": "The resource reference of the consumer address.",
          "type": "string"
        }
      }
    },
    "LinkedVpnTunnels": {
      "properties": {
        "siteToSiteDataTransfer": {
          "description": "A value that controls whether site-to-site data transfer is enabled for these resources. Data transfer is available only in [supported locations](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/locations).",
          "type": "boolean"
        },
        "vpcNetwork": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The VPC network where these VPN tunnels are located."
        },
        "uris": {
          "type": "array",
          "description": "The URIs of linked VPN tunnel resources.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "LinkedVpnTunnels",
      "description": "A collection of Cloud VPN tunnel resources. These resources should be redundant HA VPN tunnels that all advertise the same prefixes to Google Cloud. Alternatively, in a passive/active configuration, all tunnels should be capable of advertising the same prefixes.",
      "type": "object"
    },
    "Spoke": {
      "type": "object",
      "description": "A Network Connectivity Center spoke represents one or more network connectivity resources. When you create a spoke, you associate it with a hub. You must also identify a value for exactly one of the following fields: * linked_vpn_tunnels * linked_interconnect_attachments * linked_router_appliance_instances * linked_vpc_network",
      "id": "Spoke",
      "properties": {
        "reasons": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The reasons for current state of the spoke. Only present when the spoke is in the `INACTIVE` state.",
          "items": {
            "$ref": "StateReason"
          }
        },
        "linkedRouterApplianceInstances": {
          "description": "Router appliance instances that are associated with the spoke.",
          "$ref": "LinkedRouterApplianceInstances"
        },
        "uniqueId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Google-generated UUID for the spoke. This value is unique across all spoke resources. If a spoke is deleted and another with the same name is created, the new spoke is assigned a different `unique_id`."
        },
        "linkedVpnTunnels": {
          "description": "VPN tunnels that are associated with the spoke.",
          "$ref": "LinkedVpnTunnels"
        },
        "group": {
          "type": "string",
          "description": "Optional. The name of the group that this spoke is associated with."
        },
        "spokeType": {
          "readOnly": true,
          "enum": [
            "SPOKE_TYPE_UNSPECIFIED",
            "VPN_TUNNEL",
            "INTERCONNECT_ATTACHMENT",
            "ROUTER_APPLIANCE",
            "VPC_NETWORK"
          ],
          "enumDescriptions": [
            "Unspecified spoke type.",
            "Spokes associated with VPN tunnels.",
            "Spokes associated with VLAN attachments.",
            "Spokes associated with router appliance instances.",
            "Spokes associated with VPC networks."
          ],
          "type": "string",
          "description": "Output only. The type of resource associated with the spoke."
        },
        "hub": {
          "type": "string",
          "description": "Immutable. The name of the hub that this spoke is attached to."
        },
        "name": {
          "description": "Immutable. The name of the spoke. Spoke names must be unique. They use the following form: `projects/{project_number}/locations/{region}/spokes/{spoke_id}`",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ACCEPTING",
            "REJECTING",
            "UPDATING",
            "INACTIVE",
            "OBSOLETE"
          ],
          "description": "Output only. The current lifecycle state of this spoke.",
          "enumDescriptions": [
            "No state information available",
            "The resource's create operation is in progress.",
            "The resource is active",
            "The resource's delete operation is in progress.",
            "The resource's accept operation is in progress.",
            "The resource's reject operation is in progress.",
            "The resource's update operation is in progress.",
            "The resource is inactive.",
            "The hub associated with this spoke resource has been deleted. This state applies to spoke resources only."
          ]
        },
        "updateTime": {
          "description": "Output only. The time the spoke was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "An optional description of the spoke.",
          "type": "string"
        },
        "linkedVpcNetwork": {
          "$ref": "LinkedVpcNetwork",
          "description": "Optional. VPC network that is associated with the spoke."
        },
        "createTime": {
          "description": "Output only. The time the spoke was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional labels in key:value format. For more information about labels, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements).",
          "type": "object"
        },
        "linkedInterconnectAttachments": {
          "$ref": "LinkedInterconnectAttachments",
          "description": "VLAN attachments that are associated with the spoke."
        }
      }
    },
    "StateReason": {
      "description": "The reason a spoke is inactive.",
      "properties": {
        "userDetails": {
          "description": "Additional information provided by the user in the RejectSpoke call.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "PENDING_REVIEW",
            "REJECTED",
            "PAUSED",
            "FAILED"
          ],
          "description": "The code associated with this reason.",
          "enumDescriptions": [
            "No information available.",
            "The proposed spoke is pending review.",
            "The proposed spoke has been rejected by the hub administrator.",
            "The spoke has been deactivated internally.",
            "Network Connectivity Center encountered errors while accepting the spoke."
          ]
        },
        "message": {
          "description": "Human-readable details about this reason.",
          "type": "string"
        }
      },
      "id": "StateReason",
      "type": "object"
    },
    "ListServiceConnectionPoliciesResponse": {
      "type": "object",
      "description": "Response for ListServiceConnectionPolicies.",
      "id": "ListServiceConnectionPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceConnectionPolicies": {
          "type": "array",
          "description": "ServiceConnectionPolicies to be returned.",
          "items": {
            "$ref": "ServiceConnectionPolicy"
          }
        }
      }
    },
    "VirtualMachine": {
      "type": "object",
      "id": "VirtualMachine",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of VM instance tags to which this policy based route applies to. VM instances that have ANY of tags specified here will install this PBR.",
          "type": "array"
        }
      },
      "description": "VM instances to which this policy based route applies to."
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      }
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object"
    },
    "SpokeTypeCount": {
      "description": "The number of spokes of a given type that are associated with a specific hub. The type indicates what kind of resource is associated with the spoke.",
      "type": "object",
      "id": "SpokeTypeCount",
      "properties": {
        "spokeType": {
          "enumDescriptions": [
            "Unspecified spoke type.",
            "Spokes associated with VPN tunnels.",
            "Spokes associated with VLAN attachments.",
            "Spokes associated with router appliance instances.",
            "Spokes associated with VPC networks."
          ],
          "type": "string",
          "description": "Output only. The type of the spokes.",
          "enum": [
            "SPOKE_TYPE_UNSPECIFIED",
            "VPN_TUNNEL",
            "INTERCONNECT_ATTACHMENT",
            "ROUTER_APPLIANCE",
            "VPC_NETWORK"
          ],
          "readOnly": true
        },
        "count": {
          "description": "Output only. The total number of spokes of this type that are associated with the hub.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "PscConfig": {
      "properties": {
        "limit": {
          "description": "Optional. Max number of PSC connections for this policy.",
          "type": "string",
          "format": "int64"
        },
        "subnetworks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The resource paths of subnetworks to use for IP address management. Example: projects/{projectNumOrId}/regions/{region}/subnetworks/{resourceId}."
        }
      },
      "description": "Configuration used for Private Service Connect connections. Used when Infrastructure is PSC.",
      "id": "PscConfig",
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      }
    },
    "ListHubSpokesResponse": {
      "id": "ListHubSpokesResponse",
      "description": "The response for HubService.ListHubSpokes.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results.",
          "type": "string"
        },
        "spokes": {
          "type": "array",
          "items": {
            "$ref": "Spoke"
          },
          "description": "The requested spokes. The spoke fields can be partially populated based on the `view` field in the request message."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "LinkedInterconnectAttachments": {
      "properties": {
        "siteToSiteDataTransfer": {
          "description": "A value that controls whether site-to-site data transfer is enabled for these resources. Data transfer is available only in [supported locations](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/locations).",
          "type": "boolean"
        },
        "uris": {
          "items": {
            "type": "string"
          },
          "description": "The URIs of linked interconnect attachment resources",
          "type": "array"
        },
        "vpcNetwork": {
          "description": "Output only. The VPC network where these VLAN attachments are located.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A collection of VLAN attachment resources. These resources should be redundant attachments that all advertise the same prefixes to Google Cloud. Alternatively, in active/passive configurations, all attachments should be capable of advertising the same prefixes.",
      "type": "object",
      "id": "LinkedInterconnectAttachments"
    },
    "ListServiceClassesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result.",
          "type": "string"
        },
        "serviceClasses": {
          "items": {
            "$ref": "ServiceClass"
          },
          "type": "array",
          "description": "ServiceClasses to be returned."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListServiceClassesResponse",
      "description": "Response for ListServiceClasses."
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RouterApplianceInstance": {
      "type": "object",
      "description": "A router appliance instance is a Compute Engine virtual machine (VM) instance that acts as a BGP speaker. A router appliance instance is specified by the URI of the VM and the internal IP address of one of the VM's network interfaces.",
      "id": "RouterApplianceInstance",
      "properties": {
        "ipAddress": {
          "description": "The IP address on the VM to use for peering.",
          "type": "string"
        },
        "virtualMachine": {
          "type": "string",
          "description": "The URI of the VM."
        }
      }
    },
    "ServiceConnectionPolicy": {
      "description": "The ServiceConnectionPolicy resource. Next id: 12",
      "properties": {
        "serviceClass": {
          "description": "The service class identifier for which this ServiceConnectionPolicy is for. The service class identifier is a unique, symbolic representation of a ServiceClass. It is provided by the Service Producer. Google services have a prefix of gcp. For example, gcp-cloud-sql. 3rd party services do not. For example, test-service-a3dfcx.",
          "type": "string"
        },
        "infrastructure": {
          "description": "Output only. The type of underlying resources used to create the connection.",
          "enum": [
            "INFRASTRUCTURE_UNSPECIFIED",
            "PSC"
          ],
          "enumDescriptions": [
            "An invalid infrastructure as the default case.",
            "Private Service Connect is used for connections."
          ],
          "type": "string",
          "readOnly": true
        },
        "network": {
          "description": "The resource path of the consumer network. Example: - projects/{projectNumOrId}/global/networks/{resourceId}.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when the ServiceConnectionMap was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. The name of a ServiceConnectionPolicy. Format: projects/{project}/locations/{location}/serviceConnectionPolicies/{service_connection_policy} See: https://google.aip.dev/122#fields-representing-resource-names",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of this resource."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the ServiceConnectionMap was updated.",
          "type": "string"
        },
        "labels": {
          "description": "User-defined labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "Configuration used for Private Service Connect connections. Used when Infrastructure is PSC."
        },
        "pscConnections": {
          "items": {
            "$ref": "PscConnection"
          },
          "type": "array",
          "description": "Output only. [Output only] Information about each Private Service Connect connection.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag is computed by the server, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        }
      },
      "type": "object",
      "id": "ServiceConnectionPolicy"
    },
    "Filter": {
      "properties": {
        "ipProtocol": {
          "description": "Optional. The IP protocol that this policy based route applies to. Valid values are 'TCP', 'UDP', and 'ALL'. Default is 'ALL'.",
          "type": "string"
        },
        "destRange": {
          "type": "string",
          "description": "Optional. The destination IP range of outgoing packets that this policy based route applies to. Default is \"0.0.0.0/0\" if protocol version is IPv4."
        },
        "srcRange": {
          "type": "string",
          "description": "Optional. The source IP range of outgoing packets that this policy based route applies to. Default is \"0.0.0.0/0\" if protocol version is IPv4."
        },
        "protocolVersion": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The PBR is for IPv4 internet protocol traffic."
          ],
          "enum": [
            "PROTOCOL_VERSION_UNSPECIFIED",
            "IPV4"
          ],
          "description": "Required. Internet protocol versions this policy based route applies to. For this version, only IPV4 is supported."
        }
      },
      "id": "Filter",
      "description": "Filter matches L4 traffic.",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListServiceConnectionMapsResponse": {
      "id": "ListServiceConnectionMapsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result."
        },
        "serviceConnectionMaps": {
          "items": {
            "$ref": "ServiceConnectionMap"
          },
          "type": "array",
          "description": "ServiceConnectionMaps to be returned."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for ListServiceConnectionMaps."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AcceptSpokeRequest": {
      "id": "AcceptSpokeRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check to see whether the original operation was received. If it was, the server ignores the second request. This behavior prevents clients from mistakenly creating duplicate commitments. The request ID must be a valid UUID, with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "The request for HubService.AcceptSpoke."
    },
    "ConsumerPscConnection": {
      "type": "object",
      "properties": {
        "ip": {
          "type": "string",
          "description": "The IP literal allocated on the consumer network for the PSC forwarding rule that is created to connect to the producer service attachment in this service connection map."
        },
        "serviceAttachmentUri": {
          "type": "string",
          "description": "The URI of a service attachment which is the target of the PSC connection."
        },
        "pscConnectionId": {
          "type": "string",
          "description": "The PSC connection id of the PSC forwarding rule connected to the service attachments in this service connection map."
        },
        "project": {
          "type": "string",
          "description": "The consumer project whose PSC forwarding rule is connected to the service attachments in this service connection map."
        },
        "error": {
          "deprecated": true,
          "$ref": "GoogleRpcStatus",
          "description": "The most recent error during operating this connection."
        },
        "forwardingRule": {
          "description": "The URI of the consumer forwarding rule created. Example: projects/{projectNumOrId}/regions/us-east1/networks/{resourceId}.",
          "type": "string"
        },
        "errorInfo": {
          "description": "Output only. The error info for the latest error during operating this connection.",
          "$ref": "GoogleRpcErrorInfo",
          "readOnly": true
        },
        "errorType": {
          "type": "string",
          "enumDescriptions": [
            "An invalid error type as the default case.",
            "The error is due to Service Automation system internal.",
            "The error is due to the setup on consumer side.",
            "The error is due to the setup on producer side."
          ],
          "description": "The error type indicates whether the error is consumer facing, producer facing or system internal.",
          "enum": [
            "CONNECTION_ERROR_TYPE_UNSPECIFIED",
            "ERROR_INTERNAL",
            "ERROR_CONSUMER_SIDE",
            "ERROR_PRODUCER_SIDE"
          ]
        },
        "network": {
          "type": "string",
          "description": "The consumer network whose PSC forwarding rule is connected to the service attachments in this service connection map. Note that the network could be on a different project (shared VPC)."
        },
        "gceOperation": {
          "type": "string",
          "description": "The last Compute Engine operation to setup PSC connection."
        },
        "state": {
          "description": "The state of the PSC connection.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "CREATING",
            "DELETING"
          ],
          "type": "string",
          "enumDescriptions": [
            "An invalid state as the default case.",
            "The connection is fully established and ready to use.",
            "The connection is not functional since some resources on the connection fail to be created.",
            "The connection is being created.",
            "The connection is being deleted."
          ]
        }
      },
      "description": "PSC connection details on consumer side.",
      "id": "ConsumerPscConnection"
    },
    "Route": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the route was created.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Output only. The location of the route. Uses the following form: \"projects/{project}/locations/{location}\" Example: projects/1234/locations/us-central1",
          "readOnly": true
        },
        "spoke": {
          "type": "string",
          "description": "Immutable. The spoke that this route leads to. Example: projects/12345/locations/global/spokes/SPOKE"
        },
        "updateTime": {
          "description": "Output only. The time the route was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "An optional description of the route.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The name of the route. Route names must be unique. Route names use the following form: `projects/{project_number}/locations/global/hubs/{hub}/routeTables/{route_table_id}/routes/{route_id}`"
        },
        "type": {
          "enum": [
            "ROUTE_TYPE_UNSPECIFIED",
            "VPC_PRIMARY_SUBNET",
            "VPC_SECONDARY_SUBNET"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The route's type. Its type is determined by the properties of its IP address range.",
          "enumDescriptions": [
            "No route type information specified",
            "The route leads to a destination within the primary address range of the VPC network's subnet.",
            "The route leads to a destination within the secondary address range of the VPC network's subnet."
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional labels in key:value format. For more information about labels, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements)."
        },
        "nextHopVpcNetwork": {
          "$ref": "NextHopVpcNetwork",
          "description": "Immutable. The destination VPC network for packets on this route."
        },
        "uid": {
          "description": "Output only. The Google-generated UUID for the route. This value is unique across all Network Connectivity Center route resources. If a route is deleted and another with the same name is created, the new route is assigned a different `uid`.",
          "readOnly": true,
          "type": "string"
        },
        "ipCidrRange": {
          "type": "string",
          "description": "The destination IP address range."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current lifecycle state of the route.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ACCEPTING",
            "REJECTING",
            "UPDATING",
            "INACTIVE",
            "OBSOLETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "No state information available",
            "The resource's create operation is in progress.",
            "The resource is active",
            "The resource's delete operation is in progress.",
            "The resource's accept operation is in progress.",
            "The resource's reject operation is in progress.",
            "The resource's update operation is in progress.",
            "The resource is inactive.",
            "The hub associated with this spoke resource has been deleted. This state applies to spoke resources only."
          ]
        }
      },
      "type": "object",
      "id": "Route",
      "description": "A route defines a path from VM instances within a spoke to a specific destination resource. Only VPC spokes have routes."
    },
    "SpokeStateReasonCount": {
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The total number of spokes that are inactive for a particular reason and associated with a given hub."
        },
        "stateReasonCode": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "CODE_UNSPECIFIED",
            "PENDING_REVIEW",
            "REJECTED",
            "PAUSED",
            "FAILED"
          ],
          "description": "Output only. The reason that a spoke is inactive.",
          "enumDescriptions": [
            "No information available.",
            "The proposed spoke is pending review.",
            "The proposed spoke has been rejected by the hub administrator.",
            "The spoke has been deactivated internally.",
            "Network Connectivity Center encountered errors while accepting the spoke."
          ]
        }
      },
      "description": "The number of spokes in the hub that are inactive for this reason.",
      "id": "SpokeStateReasonCount"
    },
    "RouteTable": {
      "id": "RouteTable",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional labels in key:value format. For more information about labels, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements)."
        },
        "uid": {
          "description": "Output only. The Google-generated UUID for the route table. This value is unique across all route table resources. If a route table is deleted and another with the same name is created, the new route table is assigned a different `uid`.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ACCEPTING",
            "REJECTING",
            "UPDATING",
            "INACTIVE",
            "OBSOLETE"
          ],
          "type": "string",
          "description": "Output only. The current lifecycle state of this route table.",
          "readOnly": true,
          "enumDescriptions": [
            "No state information available",
            "The resource's create operation is in progress.",
            "The resource is active",
            "The resource's delete operation is in progress.",
            "The resource's accept operation is in progress.",
            "The resource's reject operation is in progress.",
            "The resource's update operation is in progress.",
            "The resource is inactive.",
            "The hub associated with this spoke resource has been deleted. This state applies to spoke resources only."
          ]
        },
        "description": {
          "description": "An optional description of the route table.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The name of the route table. Route table names must be unique. They use the following form: `projects/{project_number}/locations/global/hubs/{hub}/routeTables/{route_table_id}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the route table was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the route table was last updated."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ConsumerPscConfig": {
      "description": "Allow the producer to specify which consumers can connect to it.",
      "id": "ConsumerPscConfig",
      "type": "object",
      "properties": {
        "network": {
          "description": "The resource path of the consumer network where PSC connections are allowed to be created in. Note, this network does not need be in the ConsumerPscConfig.project in the case of SharedVPC. Example: projects/{projectNumOrId}/global/networks/{networkId}.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The consumer project where PSC connections are allowed to be created in."
        },
        "disableGlobalAccess": {
          "description": "This is used in PSC consumer ForwardingRule to control whether the PSC endpoint can be accessed from another region.",
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default state, when Connection Map is created initially.",
            "Set when policy and map configuration is valid, and their matching can lead to allowing creation of PSC Connections subject to other constraints like connections limit.",
            "No Service Connection Policy found for this network and Service Class",
            "Service Connection Policy limit reached for this network and Service Class"
          ],
          "description": "Output only. Overall state of PSC Connections management for this consumer psc config.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "CONNECTION_POLICY_MISSING",
            "POLICY_LIMIT_REACHED"
          ]
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels in key:value format. For more information about labels, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements).",
          "type": "object"
        },
        "state": {
          "description": "Output only. The current lifecycle state of this group.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ACCEPTING",
            "REJECTING",
            "UPDATING",
            "INACTIVE",
            "OBSOLETE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No state information available",
            "The resource's create operation is in progress.",
            "The resource is active",
            "The resource's delete operation is in progress.",
            "The resource's accept operation is in progress.",
            "The resource's reject operation is in progress.",
            "The resource's update operation is in progress.",
            "The resource is inactive.",
            "The hub associated with this spoke resource has been deleted. This state applies to spoke resources only."
          ]
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Google-generated UUID for the group. This value is unique across all group resources. If a group is deleted and another with the same name is created, the new route table is assigned a different unique_id."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the group."
        },
        "name": {
          "description": "Immutable. The name of the group. Group names must be unique. They use the following form: `projects/{project_number}/locations/global/hubs/{hub}/groups/{group_id}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the group was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the group was last updated.",
          "format": "google-datetime"
        }
      },
      "description": "A group represents a subset of spokes attached to a hub."
    },
    "ListInternalRangesResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "internalRanges": {
          "description": "Internal ranges to be returned.",
          "type": "array",
          "items": {
            "$ref": "InternalRange"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result."
        }
      },
      "type": "object",
      "description": "Response for InternalRange.ListInternalRanges",
      "id": "ListInternalRangesResponse"
    },
    "ListServiceConnectionTokensResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result."
        },
        "serviceConnectionTokens": {
          "description": "ServiceConnectionTokens to be returned.",
          "type": "array",
          "items": {
            "$ref": "ServiceConnectionToken"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListServiceConnectionTokensResponse",
      "description": "Response for ListServiceConnectionTokens."
    },
    "GoogleRpcErrorInfo": {
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }",
      "properties": {
        "reason": {
          "description": "The reason of the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional structured details about this error. Keys should match /[a-zA-Z0-9-_]/ and be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than {\"instanceLimit\": \"100/request\"}, should be returned as, {\"instanceLimitPerRequest\": \"100\"}, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "type": "object"
        },
        "domain": {
          "type": "string",
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\"."
        }
      },
      "id": "GoogleRpcErrorInfo",
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "SpokeStateCount": {
      "id": "SpokeStateCount",
      "properties": {
        "count": {
          "type": "string",
          "description": "Output only. The total number of spokes that are in this state and associated with a given hub.",
          "format": "int64",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the spokes.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ACCEPTING",
            "REJECTING",
            "UPDATING",
            "INACTIVE",
            "OBSOLETE"
          ],
          "enumDescriptions": [
            "No state information available",
            "The resource's create operation is in progress.",
            "The resource is active",
            "The resource's delete operation is in progress.",
            "The resource's accept operation is in progress.",
            "The resource's reject operation is in progress.",
            "The resource's update operation is in progress.",
            "The resource is inactive.",
            "The hub associated with this spoke resource has been deleted. This state applies to spoke resources only."
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The number of spokes that are in a particular state and associated with a given hub."
    },
    "PolicyBasedRoute": {
      "type": "object",
      "description": "Policy Based Routes (PBR) are more powerful routes that allows GCP customers to route their L4 network traffic based on not just destination IP, but also source IP, protocol and more. A PBR always take precedence when it conflicts with other types of routes. Next id: 22",
      "properties": {
        "nextHopOtherRoutes": {
          "type": "string",
          "enum": [
            "OTHER_ROUTES_UNSPECIFIED",
            "DEFAULT_ROUTING"
          ],
          "enumDescriptions": [
            "Default value.",
            "Use the routes from the default routing tables (system-generated routes, custom routes, peering route) to determine the next hop. This will effectively exclude matching packets being applied on other PBRs with a lower priority."
          ],
          "description": "Optional. Other routes that will be referenced to determine the next hop of the packet."
        },
        "nextHopIlbIp": {
          "type": "string",
          "description": "Optional. The IP of a global access enabled L4 ILB that should be the next hop to handle matching packets. For this version, only next_hop_ilb_ip is supported."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the PolicyBasedRoute was updated.",
          "type": "string",
          "readOnly": true
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. Type of this resource. Always networkconnectivity#policyBasedRoute for Policy Based Route resources.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. A unique name of the resource in the form of `projects/{project_number}/locations/global/PolicyBasedRoutes/{policy_based_route_id}`"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the PolicyBasedRoute was created.",
          "readOnly": true
        },
        "priority": {
          "format": "int32",
          "description": "Optional. The priority of this policy based route. Priority is used to break ties in cases where there are more than one matching policy based routes found. In cases where multiple policy based routes are matched, the one with the lowest-numbered priority value wins. The default value is 1000. The priority value must be from 1 to 65535, inclusive.",
          "type": "integer"
        },
        "filter": {
          "description": "Required. The filter to match L4 traffic.",
          "$ref": "Filter"
        },
        "warnings": {
          "items": {
            "$ref": "Warnings"
          },
          "description": "Output only. If potential misconfigurations are detected for this route, this field will be populated with warning messages.",
          "type": "array",
          "readOnly": true
        },
        "labels": {
          "description": "User-defined labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "virtualMachine": {
          "$ref": "VirtualMachine",
          "description": "Optional. VM instances to which this policy based route applies to."
        },
        "network": {
          "description": "Required. Fully-qualified URL of the network that this route applies to. e.g. projects/my-project/global/networks/my-network.",
          "type": "string"
        },
        "interconnectAttachment": {
          "$ref": "InterconnectAttachment",
          "description": "Optional. The interconnect attachments to which this route applies to."
        },
        "selfLink": {
          "description": "Output only. Server-defined fully-qualified URL for this resource.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of this resource. Provide this field when you create the resource."
        }
      },
      "id": "PolicyBasedRoute"
    },
    "ListPolicyBasedRoutesResponse": {
      "id": "ListPolicyBasedRoutesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "policyBasedRoutes": {
          "type": "array",
          "items": {
            "$ref": "PolicyBasedRoute"
          },
          "description": "Policy based routes to be returned."
        },
        "nextPageToken": {
          "description": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result.",
          "type": "string"
        }
      },
      "description": "Response for PolicyBasedRouting.ListPolicyBasedRoutes method.",
      "type": "object"
    },
    "ListGroupsResponse": {
      "description": "Response for HubService.ListGroups method.",
      "type": "object",
      "id": "ListGroupsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Hubs that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results.",
          "type": "string"
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "description": "The requested groups.",
          "type": "array"
        }
      }
    },
    "ListSpokesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results."
        },
        "spokes": {
          "description": "The requested spokes.",
          "type": "array",
          "items": {
            "$ref": "Spoke"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "description": "The response for HubService.ListSpokes.",
      "id": "ListSpokesResponse"
    },
    "LinkedVpcNetwork": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. The URI of the VPC network resource.",
          "type": "string"
        },
        "excludeExportRanges": {
          "description": "Optional. IP ranges encompassing the subnets to be excluded from peering.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "LinkedVpcNetwork",
      "description": "An existing VPC network."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ListRoutesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results."
        },
        "unreachable": {
          "description": "RouteTables that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "routes": {
          "description": "The requested routes.",
          "items": {
            "$ref": "Route"
          },
          "type": "array"
        }
      },
      "id": "ListRoutesResponse",
      "description": "Response for HubService.ListRoutes method.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      }
    },
    "ProducerPscConfig": {
      "type": "object",
      "properties": {
        "serviceAttachmentUri": {
          "type": "string",
          "description": "The resource path of a service attachment. Example: projects/{projectNumOrId}/regions/{region}/serviceAttachments/{resourceId}."
        }
      },
      "id": "ProducerPscConfig",
      "description": "The PSC configurations on producer side."
    },
    "ListRouteTablesResponse": {
      "description": "Response for HubService.ListRouteTables method.",
      "properties": {
        "routeTables": {
          "items": {
            "$ref": "RouteTable"
          },
          "description": "The requested route tables.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Hubs that could not be reached."
        }
      },
      "id": "ListRouteTablesResponse",
      "type": "object"
    },
    "ListHubsResponse": {
      "description": "Response for HubService.ListHubs method.",
      "properties": {
        "hubs": {
          "items": {
            "$ref": "Hub"
          },
          "description": "The requested hubs.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results.",
          "type": "string"
        }
      },
      "id": "ListHubsResponse",
      "type": "object"
    },
    "NextHopVpcNetwork": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the VPC network resource"
        }
      },
      "id": "NextHopVpcNetwork",
      "type": "object"
    },
    "Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
        }
      }
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest"
    },
    "RejectSpokeRequest": {
      "properties": {
        "details": {
          "type": "string",
          "description": "Optional. Additional information provided by the hub administrator in the `RejectSpoke` call."
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check to see whether the original operation was received. If it was, the server ignores the second request. This behavior prevents clients from mistakenly creating duplicate commitments. The request ID must be a valid UUID, with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request for HubService.RejectSpoke.",
      "id": "RejectSpokeRequest"
    },
    "InterconnectAttachment": {
      "description": "InterconnectAttachment to which this route applies to.",
      "properties": {
        "region": {
          "type": "string",
          "description": "Optional. Cloud region to install this policy based route on interconnect attachment. Use `all` to install it on all interconnect attachments."
        }
      },
      "id": "InterconnectAttachment",
      "type": "object"
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "properties": {
        "locationFeatures": {
          "items": {
            "enumDescriptions": [
              "No publicly supported feature in this location",
              "Site-to-cloud spokes are supported in this location",
              "Site-to-site spokes are supported in this location"
            ],
            "enum": [
              "LOCATION_FEATURE_UNSPECIFIED",
              "SITE_TO_CLOUD_SPOKES",
              "SITE_TO_SITE_SPOKES"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "List of supported features"
        }
      },
      "description": "Metadata about locations",
      "type": "object"
    },
    "ServiceConnectionToken": {
      "id": "ServiceConnectionToken",
      "properties": {
        "network": {
          "type": "string",
          "description": "The resource path of the network associated with this token. Example: projects/{projectNumOrId}/global/networks/{resourceId}."
        },
        "createTime": {
          "description": "Output only. Time when the ServiceConnectionToken was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "A description of this resource."
        },
        "token": {
          "description": "Output only. The token generated by Automation.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag is computed by the server, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the ServiceConnectionToken was updated.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The name of a ServiceConnectionToken. Format: projects/{project}/locations/{location}/ServiceConnectionTokens/{service_connection_token} See: https://google.aip.dev/122#fields-representing-resource-names",
          "type": "string"
        },
        "labels": {
          "description": "User-defined labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. The time to which this token is valid.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The ServiceConnectionToken resource. Next id: 10",
      "type": "object"
    },
    "LinkedRouterApplianceInstances": {
      "description": "A collection of router appliance instances. If you configure multiple router appliance instances to receive data from the same set of sites outside of Google Cloud, we recommend that you associate those instances with the same spoke.",
      "type": "object",
      "properties": {
        "vpcNetwork": {
          "readOnly": true,
          "description": "Output only. The VPC network where these router appliance instances are located.",
          "type": "string"
        },
        "siteToSiteDataTransfer": {
          "type": "boolean",
          "description": "A value that controls whether site-to-site data transfer is enabled for these resources. Data transfer is available only in [supported locations](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/locations)."
        },
        "instances": {
          "type": "array",
          "description": "The list of router appliance instances.",
          "items": {
            "$ref": "RouterApplianceInstance"
          }
        }
      },
      "id": "LinkedRouterApplianceInstances"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
[...]
