{
  "version": "v1beta1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/networking",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "batchPath": "batch",
  "name": "networksecurity",
  "ownerName": "Google",
  "basePath": "",
  "canonicalName": "NetworkSecurity",
  "servicePath": "",
  "mtlsRootUrl": "https://networksecurity.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "description": "",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "ServerTlsPolicy": {
      "description": "ServerTlsPolicy is a resource that specifies how a server should authenticate incoming requests. This resource itself does not affect configuration unless it is attached to a target HTTPS proxy or endpoint config selector resource. ServerTlsPolicy in the form accepted by external HTTPS load balancers can be attached only to TargetHttpsProxy with an `EXTERNAL` or `EXTERNAL_MANAGED` load balancing scheme. Traffic Director compatible ServerTlsPolicies can be attached to EndpointPolicy and TargetHttpsProxy with Traffic Director `INTERNAL_SELF_MANAGED` load balancing scheme.",
      "id": "ServerTlsPolicy",
      "properties": {
        "name": {
          "description": "Required. Name of the ServerTlsPolicy resource. It matches the pattern `projects/*/locations/{location}/serverTlsPolicies/{server_tls_policy}`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Set of label tags associated with the resource."
        },
        "mtlsPolicy": {
          "$ref": "MTLSPolicy",
          "description": "This field is required if the policy is used with external HTTPS load balancers. This field can be empty for Traffic Director. Defines a mechanism to provision peer validation certificates for peer to peer authentication (Mutual TLS - mTLS). If not specified, client certificate will not be requested. The connection is treated as TLS and not mTLS. If `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections."
        },
        "description": {
          "description": "Free-text description of the resource.",
          "type": "string"
        },
        "allowOpen": {
          "description": "This field applies only for Traffic Director policies. It is must be set to false for external HTTPS load balancer policies. Determines if server allows plaintext connections. If set to true, server allows plain text connections. By default, it is set to false. This setting is not exclusive of other encryption modes. For example, if `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections. See documentation of other encryption modes to confirm compatibility. Consider using it if you wish to upgrade in place your deployment to TLS while having mixed TLS and non-TLS traffic reaching port :80.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated."
        },
        "serverCertificate": {
          "description": "Optional if policy is to be used with Traffic Director. For external HTTPS load balancer must be empty. Defines a mechanism to provision server identity (public and private keys). Cannot be combined with `allow_open` as a permissive mode that allows both plain text and TLS is not supported.",
          "$ref": "GoogleCloudNetworksecurityV1beta1CertificateProvider"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ListSecurityProfilesResponse": {
      "id": "ListSecurityProfilesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "securityProfiles": {
          "description": "List of SecurityProfile resources.",
          "type": "array",
          "items": {
            "$ref": "SecurityProfile"
          }
        }
      },
      "description": "Response returned by the ListSecurityProfiles method."
    },
    "SecurityProfileGroup": {
      "id": "SecurityProfileGroup",
      "type": "object",
      "description": "SecurityProfileGroup is a resource that defines the behavior for various ProfileTypes. Next ID: 8",
      "properties": {
        "name": {
          "description": "Immutable. Name of the SecurityProfileGroup resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfileGroups/{security_profile_group}`.",
          "type": "string"
        },
        "threatPreventionProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the threat prevention configuration for the SecurityProfileGroup."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs.",
          "type": "object"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Resource creation timestamp.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the profile group. Max length 2048 characters."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last resource update timestamp.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Rule": {
      "properties": {
        "destinations": {
          "description": "Optional. List of attributes for the traffic destination. All of the destinations must match. A destination is a match if a request matches all the specified hosts, ports, methods and headers. If not set, the action specified in the 'action' field will be applied without any rule checks for the destination.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          },
          "description": "Optional. List of attributes for the traffic source. All of the sources must match. A source is a match if both principals and ip_blocks match. If not set, the action specified in the 'action' field will be applied without any rule checks for the source."
        }
      },
      "type": "object",
      "description": "Specification of rules.",
      "id": "Rule"
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GatewaySecurityPolicy": {
      "type": "object",
      "id": "GatewaySecurityPolicy",
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Required. Name of the resource. Name is of the form projects/{project}/locations/{location}/gatewaySecurityPolicies/{gateway_security_policy} gateway_security_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "tlsInspectionPolicy": {
          "description": "Optional. Name of a TLS Inspection Policy resource that defines how TLS inspection will be performed for any rule(s) which enables it.",
          "type": "string"
        }
      },
      "description": "The GatewaySecurityPolicy resource contains a collection of GatewaySecurityPolicyRules and associated metadata."
    },
    "Source": {
      "properties": {
        "principals": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of peer identities to match for authorization. At least one principal should match. Each peer can be an exact match, or a prefix match (example, \"namespace/*\") or a suffix match (example, \"*/service-account\") or a presence match \"*\". Authorization based on the principal name without certificate validation (configured by ServerTlsPolicy resource) is considered insecure."
        },
        "ipBlocks": {
          "description": "Optional. List of CIDR ranges to match based on source IP address. At least one IP block should match. Single IP (e.g., \"1.2.3.4\") and CIDR (e.g., \"1.2.3.0/24\") are supported. Authorization based on source IP alone should be avoided. The IP addresses of any load balancers or proxies should be considered untrusted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Source",
      "description": "Specification of traffic source attributes."
    },
    "ClientTlsPolicy": {
      "type": "object",
      "id": "ClientTlsPolicy",
      "description": "ClientTlsPolicy is a resource that specifies how a client should authenticate connections to backends of a service. This resource itself does not affect configuration unless it is attached to a backend service resource.",
      "properties": {
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "serverValidationCa": {
          "description": "Optional. Defines the mechanism to obtain the Certificate Authority certificate to validate the server certificate. If empty, client does not validate the server certificate.",
          "items": {
            "$ref": "ValidationCA"
          },
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the resource.",
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the ClientTlsPolicy resource. It matches the pattern `projects/*/locations/{location}/clientTlsPolicies/{client_tls_policy}`"
        },
        "clientCertificate": {
          "description": "Optional. Defines a mechanism to provision client identity (public and private keys) for peer to peer authentication. The presence of this dictates mTLS.",
          "$ref": "GoogleCloudNetworksecurityV1beta1CertificateProvider"
        },
        "sni": {
          "type": "string",
          "description": "Optional. Server Name Indication string to present to the server during TLS handshake. E.g: \"secure.example.com\"."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "RemoveAddressGroupItemsRequest": {
      "properties": {
        "items": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of items to remove.",
          "type": "array"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object",
      "id": "RemoveAddressGroupItemsRequest",
      "description": "Request used by the RemoveAddressGroupItems method."
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CertificateProviderInstance": {
      "description": "Specification of a TLS certificate provider instance. Workloads may have one or more CertificateProvider instances (plugins) and one of them is enabled and configured by specifying this message. Workloads use the values from this message to locate and load the CertificateProvider instance configuration.",
      "id": "CertificateProviderInstance",
      "properties": {
        "pluginInstance": {
          "description": "Required. Plugin instance name, used to locate and load CertificateProvider instance configuration. Set to \"google_cloud_private_spiffe\" to use Certificate Authority Service certificate provider instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListUrlListsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "urlLists": {
          "description": "List of UrlList resources.",
          "type": "array",
          "items": {
            "$ref": "UrlList"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "description": "Response returned by the ListUrlLists method.",
      "id": "ListUrlListsResponse",
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "ValidationCA": {
      "id": "ValidationCA",
      "properties": {
        "grpcEndpoint": {
          "description": "gRPC specific configuration to access the gRPC server to obtain the CA certificate.",
          "$ref": "GoogleCloudNetworksecurityV1beta1GrpcEndpoint"
        },
        "certificateProviderInstance": {
          "$ref": "CertificateProviderInstance",
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information."
        }
      },
      "description": "Specification of ValidationCA. Defines the mechanism to obtain the Certificate Authority certificate to validate the peer certificate.",
      "type": "object"
    },
    "ListServerTlsPoliciesResponse": {
      "description": "Response returned by the ListServerTlsPolicies method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "serverTlsPolicies": {
          "description": "List of ServerTlsPolicy resources.",
          "type": "array",
          "items": {
            "$ref": "ServerTlsPolicy"
          }
        }
      },
      "type": "object",
      "id": "ListServerTlsPoliciesResponse"
    },
    "GatewaySecurityPolicyRule": {
      "description": "The GatewaySecurityPolicyRule resource is in a nested collection within a GatewaySecurityPolicy and represents a traffic matching condition and associated action to perform.",
      "type": "object",
      "id": "GatewaySecurityPolicyRule",
      "properties": {
        "sessionMatcher": {
          "type": "string",
          "description": "Required. CEL expression for matching on session criteria."
        },
        "priority": {
          "format": "int32",
          "description": "Required. Priority of the rule. Lower number corresponds to higher precedence.",
          "type": "integer"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the rule was updated."
        },
        "createTime": {
          "description": "Output only. Time when the rule was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "tlsInspectionEnabled": {
          "type": "boolean",
          "description": "Optional. Flag to enable TLS inspection of traffic matching on , can only be true if the parent GatewaySecurityPolicy references a TLSInspectionConfig."
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Whether the rule is enforced."
        },
        "name": {
          "description": "Required. Immutable. Name of the resource. ame is the full resource name so projects/{project}/locations/{location}/gatewaySecurityPolicies/{gateway_security_policy}/rules/{rule} rule should match the pattern: (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "basicProfile": {
          "description": "Required. Profile which tells what the primitive action should be.",
          "type": "string",
          "enum": [
            "BASIC_PROFILE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "If there is not a mentioned action for the target.",
            "Allow the matched traffic.",
            "Deny the matched traffic."
          ]
        },
        "applicationMatcher": {
          "description": "Optional. CEL expression for matching on L7/application level criteria.",
          "type": "string"
        }
      }
    },
    "SeverityOverride": {
      "description": "Defines what action to take for a specific severity match.",
      "properties": {
        "action": {
          "type": "string",
          "description": "Required. Threat action override.",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ]
        },
        "severity": {
          "enumDescriptions": [
            "Severity level not specified.",
            "Suspicious events that do not pose an immediate threat, but that are reported to call attention to deeper problems that could possibly exist.",
            "Warning-level threats that have very little impact on an organization's infrastructure. They usually require local or physical system access and may often result in victim privacy issues and information leakage.",
            "Minor threats in which impact is minimized, that do not compromise the target or exploits that require an attacker to reside on the same local network as the victim, affect only non-standard configurations or obscure applications, or provide very limited access.",
            "Threats that have the ability to become critical but have mitigating factors; for example, they may be difficult to exploit, do not result in elevated privileges, or do not have a large victim pool.",
            "Serious threats, such as those that affect default installations of widely deployed software, result in root compromise of servers, and the exploit code is widely available to attackers. The attacker usually does not need any special authentication credentials or knowledge about the individual victims and the target does not need to be manipulated into performing any special functions."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFORMATIONAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. Severity level to match.",
          "type": "string"
        }
      },
      "id": "SeverityOverride",
      "type": "object"
    },
    "ListAddressGroupReferencesResponse": {
      "id": "ListAddressGroupReferencesResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "addressGroupReferences": {
          "items": {
            "$ref": "ListAddressGroupReferencesResponseAddressGroupReference"
          },
          "type": "array",
          "description": "A list of references that matches the specified filter in the request."
        }
      },
      "description": "Response of the ListAddressGroupReferences method.",
      "type": "object"
    },
    "GoogleCloudNetworksecurityV1beta1CertificateProvider": {
      "properties": {
        "certificateProviderInstance": {
          "$ref": "CertificateProviderInstance",
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information."
        },
        "grpcEndpoint": {
          "$ref": "GoogleCloudNetworksecurityV1beta1GrpcEndpoint",
          "description": "gRPC specific configuration to access the gRPC server to obtain the cert and private key."
        }
      },
      "type": "object",
      "description": "Specification of certificate provider. Defines the mechanism to obtain the certificate and private key for peer to peer authentication.",
      "id": "GoogleCloudNetworksecurityV1beta1CertificateProvider"
    },
    "Location": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "Destination": {
      "properties": {
        "methods": {
          "type": "array",
          "description": "Optional. A list of HTTP methods to match. At least one method should match. Should not be set for gRPC services.",
          "items": {
            "type": "string"
          }
        },
        "ports": {
          "items": {
            "format": "uint32",
            "type": "integer"
          },
          "type": "array",
          "description": "Required. List of destination ports to match. At least one port should match."
        },
        "hosts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of host names to match. Matched against the \":authority\" header in http requests. At least one host should match. Each host can be an exact match, or a prefix match (example \"mydomain.*\") or a suffix match (example \"*.myorg.com\") or a presence (any) match \"*\"."
        },
        "httpHeaderMatch": {
          "$ref": "HttpHeaderMatch",
          "description": "Optional. Match against key:value pair in http header. Provides a flexible match based on HTTP headers, for potentially advanced use cases. At least one header should match. Avoid using header matches to make authorization decisions unless there is a strong guarantee that requests arrive through a trusted client or proxy."
        }
      },
      "id": "Destination",
      "type": "object",
      "description": "Specification of traffic destination attributes."
    },
    "CloneAddressGroupItemsRequest": {
      "description": "Request used by the CloneAddressGroupItems method.",
      "type": "object",
      "id": "CloneAddressGroupItemsRequest",
      "properties": {
        "sourceAddressGroup": {
          "description": "Required. Source address group to clone items from.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      }
    },
    "ThreatPreventionProfile": {
      "id": "ThreatPreventionProfile",
      "type": "object",
      "description": "ThreatPreventionProfile defines an action for specific threat signatures or severity levels.",
      "properties": {
        "threatOverrides": {
          "items": {
            "$ref": "ThreatOverride"
          },
          "description": "Optional. Configuration for overriding threats actions by threat_id match. If a threat is matched both by configuration provided in severity_overrides and threat_overrides, the threat_overrides action is applied.",
          "type": "array"
        },
        "severityOverrides": {
          "items": {
            "$ref": "SeverityOverride"
          },
          "type": "array",
          "description": "Optional. Configuration for overriding threats actions by severity match."
        }
      }
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        }
      },
      "id": "GoogleIamV1Policy"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "HttpHeaderMatch": {
      "id": "HttpHeaderMatch",
      "type": "object",
      "properties": {
        "regexMatch": {
          "description": "Required. The value of the header must match the regular expression specified in regexMatch. For regular expression grammar, please see: en.cppreference.com/w/cpp/regex/ecmascript For matching against a port specified in the HTTP request, use a headerMatch with headerName set to Host and a regular expression that satisfies the RFC2616 Host header's port specifier.",
          "type": "string"
        },
        "headerName": {
          "description": "Required. The name of the HTTP header to match. For matching against the HTTP request's authority, use a headerMatch with the header name \":authority\". For matching a request's method, use the headerName \":method\".",
          "type": "string"
        }
      },
      "description": "Specification of HTTP header match attributes."
    },
    "ListClientTlsPoliciesResponse": {
      "description": "Response returned by the ListClientTlsPolicies method.",
      "type": "object",
      "properties": {
        "clientTlsPolicies": {
          "description": "List of ClientTlsPolicy resources.",
          "items": {
            "$ref": "ClientTlsPolicy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "id": "ListClientTlsPoliciesResponse"
    },
    "AddAddressGroupItemsRequest": {
      "description": "Request used by the AddAddressGroupItems method.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "items": {
          "description": "Required. List of items to add.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AddAddressGroupItemsRequest"
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "GoogleIamV1Binding",
      "type": "object",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest"
    },
    "FirewallEndpoint": {
      "type": "object",
      "description": "Message describing Endpoint object",
      "id": "FirewallEndpoint",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Processing configuration updates.",
            "Being deleted.",
            "Down or in an error state."
          ],
          "description": "Output only. Current state of the endpoint.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs",
          "type": "object"
        },
        "name": {
          "description": "Output only. name of resource",
          "type": "string",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128."
        },
        "createTime": {
          "description": "Output only. Create time stamp",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "associatedNetworks": {
          "readOnly": true,
          "description": "Output only. List of networks that are associated with this endpoint in the local zone. This is a projection of the FirewallEndpointAssociations pointing at this endpoint. A network will only appear in this list after traffic routing is fully configured. Format: projects/{project}/global/networks/{name}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update time stamp",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "ListFirewallEndpointAssociationsResponse": {
      "description": "Message for response to listing Associations",
      "properties": {
        "firewallEndpointAssociations": {
          "description": "The list of Association",
          "items": {
            "$ref": "FirewallEndpointAssociation"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListFirewallEndpointAssociationsResponse"
    },
    "ListAddressGroupReferencesResponseAddressGroupReference": {
      "id": "ListAddressGroupReferencesResponseAddressGroupReference",
      "properties": {
        "rulePriority": {
          "type": "integer",
          "format": "int32",
          "description": "Rule priority of the FirewallPolicy that is using the Address Group."
        },
        "firewallPolicy": {
          "description": "FirewallPolicy that is using the Address Group.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Reference of AddressGroup."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "ListGatewaySecurityPoliciesResponse": {
      "type": "object",
      "id": "ListGatewaySecurityPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "gatewaySecurityPolicies": {
          "description": "List of GatewaySecurityPolicies resources.",
          "type": "array",
          "items": {
            "$ref": "GatewaySecurityPolicy"
          }
        }
      },
      "description": "Response returned by the ListGatewaySecurityPolicies method."
    },
    "ListSecurityProfileGroupsResponse": {
      "id": "ListSecurityProfileGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "securityProfileGroups": {
          "description": "List of SecurityProfileGroups resources.",
          "type": "array",
          "items": {
            "$ref": "SecurityProfileGroup"
          }
        }
      },
      "description": "Response returned by the ListSecurityProfileGroups method.",
      "type": "object"
    },
    "ListAuthorizationPoliciesResponse": {
      "type": "object",
      "description": "Response returned by the ListAuthorizationPolicies method.",
      "id": "ListAuthorizationPoliciesResponse",
      "properties": {
        "authorizationPolicies": {
          "type": "array",
          "items": {
            "$ref": "AuthorizationPolicy"
          },
          "description": "List of AuthorizationPolicies resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      }
    },
    "ThreatOverride": {
      "type": "object",
      "description": "Defines what action to take for a specific threat_id match.",
      "id": "ThreatOverride",
      "properties": {
        "action": {
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "type": "string",
          "description": "Required. Threat action override. For some threat types, only a subset of actions applies.",
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ]
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Type of the threat (read only).",
          "type": "string",
          "enumDescriptions": [
            "Type of threat not specified.",
            "Type of threat is not derivable from threat ID. An override will be created for all types. Firewall will ignore overridden signature ID's that don't exist in the specific type.",
            "Threats related to system flaws that an attacker might otherwise attempt to exploit.",
            "Threats related to viruses and malware found in executables and file types.",
            "Threats related to command-and-control (C2) activity, where spyware on an infected client is collecting data without the user's consent and/or communicating with a remote attacker.",
            "Threats related to DNS."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "UNKNOWN",
            "VULNERABILITY",
            "ANTIVIRUS",
            "SPYWARE",
            "DNS"
          ]
        },
        "threatId": {
          "type": "string",
          "description": "Required. Vendor-specific ID of a threat to override."
        }
      }
    },
    "GoogleCloudNetworksecurityV1beta1GrpcEndpoint": {
      "type": "object",
      "id": "GoogleCloudNetworksecurityV1beta1GrpcEndpoint",
      "properties": {
        "targetUri": {
          "type": "string",
          "description": "Required. The target URI of the gRPC endpoint. Only UDS path is supported, and should start with \"unix:\"."
        }
      },
      "description": "Specification of the GRPC Endpoint."
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "MTLSPolicy": {
      "id": "MTLSPolicy",
      "properties": {
        "clientValidationCa": {
          "items": {
            "$ref": "ValidationCA"
          },
          "type": "array",
          "description": "Required if the policy is to be used with Traffic Director. For external HTTPS load balancers it must be empty. Defines the mechanism to obtain the Certificate Authority certificate to validate the client certificate."
        },
        "clientValidationTrustConfig": {
          "description": "Reference to the TrustConfig from certificatemanager.googleapis.com namespace. If specified, the chain validation will be performed against certificates configured in the given TrustConfig. Allowed only if the policy is to be used with external HTTPS load balancers.",
          "type": "string"
        },
        "clientValidationMode": {
          "type": "string",
          "enum": [
            "CLIENT_VALIDATION_MODE_UNSPECIFIED",
            "ALLOW_INVALID_OR_MISSING_CLIENT_CERT",
            "REJECT_INVALID"
          ],
          "description": "When the client presents an invalid certificate or no certificate to the load balancer, the `client_validation_mode` specifies how the client connection is handled. Required if the policy is to be used with the external HTTPS load balancing. For Traffic Director it must be empty.",
          "enumDescriptions": [
            "Not allowed.",
            "Allow connection even if certificate chain validation of the client certificate failed or no client certificate was presented. The proof of possession of the private key is always checked if client certificate was presented. This mode requires the backend to implement processing of data extracted from a client certificate to authenticate the peer, or to reject connections if the client certificate fingerprint is missing.",
            "Require a client certificate and allow connection to the backend only if validation of the client certificate passed. If set, requires a reference to non-empty TrustConfig specified in `client_validation_trust_config`."
          ]
        }
      },
      "type": "object",
      "description": "Specification of the MTLSPolicy."
    },
    "UrlList": {
      "properties": {
        "values": {
          "description": "Required. FQDNs and URLs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the security policy was created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Time when the security policy was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the resource provided by the user. Name is of the form projects/{project}/locations/{location}/urlLists/{url_list} url_list should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$)."
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        }
      },
      "description": "UrlList proto helps users to set reusable, independently manageable lists of hosts, host patterns, URLs, URL patterns.",
      "id": "UrlList",
      "type": "object"
    },
    "AuthorizationPolicy": {
      "id": "AuthorizationPolicy",
      "properties": {
        "action": {
          "enumDescriptions": [
            "Default value.",
            "Grant access.",
            "Deny access. Deny rules should be avoided unless they are used to provide a default \"deny all\" fallback."
          ],
          "description": "Required. The action to take when a rule match is found. Possible values are \"ALLOW\" or \"DENY\".",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "rules": {
          "type": "array",
          "description": "Optional. List of rules to match. Note that at least one of the rules must match in order for the action specified in the 'action' field to be taken. A rule is a match if there is a matching source and destination. If left blank, the action specified in the `action` field will be applied on every request.",
          "items": {
            "$ref": "Rule"
          }
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the AuthorizationPolicy resource. It matches pattern `projects/{project}/locations/{location}/authorizationPolicies/`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the AuthorizationPolicy resource.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "AuthorizationPolicy is a resource that specifies how a server should authorize incoming connections. This resource in itself does not change the configuration unless it's attached to a target https proxy or endpoint config selector resource."
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "TlsInspectionPolicy": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "customTlsFeatures": {
          "description": "Optional. List of custom TLS cipher suites selected. This field is valid only if the selected tls_feature_profile is CUSTOM. The compute.SslPoliciesService.ListAvailableFeatures method returns the set of features that can be specified in this list. Note that Secure Web Proxy does not yet honor this field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated."
        },
        "excludePublicCaSet": {
          "description": "Optional. If FALSE (the default), use our default set of public CAs in addition to any CAs specified in trust_config. These public CAs are currently based on the Mozilla Root Program and are subject to change over time. If TRUE, do not accept our default set of public CAs. Only CAs specified in trust_config will be accepted. This defaults to FALSE (use public CAs in addition to trust_config) for backwards compatibility, but trusting public root CAs is *not recommended* unless the traffic in question is outbound to public web servers. When possible, prefer setting this to \"false\" and explicitly specifying trusted CAs and certificates in a TrustConfig. Note that Secure Web Proxy does not yet honor this field.",
          "type": "boolean"
        },
        "name": {
          "description": "Required. Name of the resource. Name is of the form projects/{project}/locations/{location}/tlsInspectionPolicies/{tls_inspection_policy} tls_inspection_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "tlsFeatureProfile": {
          "enumDescriptions": [
            "Indicates no profile was specified.",
            "Compatible profile. Allows the broadest set of clients, even those which support only out-of-date SSL features to negotiate with the TLS inspection proxy.",
            "Modern profile. Supports a wide set of SSL features, allowing modern clients to negotiate SSL with the TLS inspection proxy.",
            "Restricted profile. Supports a reduced set of SSL features, intended to meet stricter compliance requirements.",
            "Custom profile. Allow only the set of allowed SSL features specified in the custom_features field of SslPolicy."
          ],
          "enum": [
            "PROFILE_UNSPECIFIED",
            "PROFILE_COMPATIBLE",
            "PROFILE_MODERN",
            "PROFILE_RESTRICTED",
            "PROFILE_CUSTOM"
          ],
          "description": "Optional. The selected Profile. If this is not set, then the default value is to allow the broadest set of clients and servers (\"PROFILE_COMPATIBLE\"). Setting this to more restrictive values may improve security, but may also prevent the TLS inspection proxy from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field.",
          "type": "string"
        },
        "caPool": {
          "description": "Required. A CA pool resource used to issue interception certificates. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\".",
          "type": "string"
        },
        "trustConfig": {
          "type": "string",
          "description": "Optional. A TrustConfig resource used when making a connection to the TLS server. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". This is necessary to intercept TLS connections to servers with certificates signed by a private CA or self-signed certificates. Note that Secure Web Proxy does not yet honor this field."
        },
        "minTlsVersion": {
          "description": "Optional. Minimum TLS version that the firewall should use when negotiating connections with both clients and servers. If this is not set, then the default value is to allow the broadest set of clients and servers (TLS 1.0 or higher). Setting this to more restrictive values may improve security, but may also prevent the firewall from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field.",
          "enum": [
            "TLS_VERSION_UNSPECIFIED",
            "TLS_1_0",
            "TLS_1_1",
            "TLS_1_2",
            "TLS_1_3"
          ],
          "enumDescriptions": [
            "Indicates no TLS version was specified.",
            "TLS 1.0",
            "TLS 1.1",
            "TLS 1.2",
            "TLS 1.3"
          ],
          "type": "string"
        }
      },
      "id": "TlsInspectionPolicy",
      "type": "object",
      "description": "The TlsInspectionPolicy resource contains references to CA pools in Certificate Authority Service and associated metadata."
    },
    "ListGatewaySecurityPolicyRulesResponse": {
      "id": "ListGatewaySecurityPolicyRulesResponse",
      "description": "Response returned by the ListGatewaySecurityPolicyRules method.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "gatewaySecurityPolicyRules": {
          "type": "array",
          "description": "List of GatewaySecurityPolicyRule resources.",
          "items": {
            "$ref": "GatewaySecurityPolicyRule"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAddressGroupsResponse": {
      "description": "Response returned by the ListAddressGroups method.",
      "id": "ListAddressGroupsResponse",
      "type": "object",
      "properties": {
        "addressGroups": {
          "items": {
            "$ref": "AddressGroup"
          },
          "type": "array",
          "description": "List of AddressGroups resources."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "ListFirewallEndpointsResponse": {
      "properties": {
        "firewallEndpoints": {
          "description": "The list of Endpoint",
          "items": {
            "$ref": "FirewallEndpoint"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListFirewallEndpointsResponse",
      "type": "object",
      "description": "Message for response to listing Endpoints"
    },
    "SecurityProfile": {
      "id": "SecurityProfile",
      "description": "SecurityProfile is a resource that defines the behavior for one of many ProfileTypes. Next ID: 9",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Name of the SecurityProfile resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfiles/{security_profile}`."
        },
        "type": {
          "description": "Immutable. The single ProfileType that the SecurityProfile resource configures.",
          "enum": [
            "PROFILE_TYPE_UNSPECIFIED",
            "THREAT_PREVENTION"
          ],
          "enumDescriptions": [
            "Profile type not specified.",
            "Profile type for threat prevention."
          ],
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Resource creation timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "threatPreventionProfile": {
          "$ref": "ThreatPreventionProfile",
          "description": "The threat prevention configuration for the SecurityProfile."
        },
        "description": {
          "description": "Optional. An optional description of the profile. Max length 512 characters.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Last resource update timestamp.",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AddressGroup": {
      "description": "AddressGroup is a resource that specifies how a collection of IP/DNS used in Firewall Policy.",
      "id": "AddressGroup",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of the Address Group. Possible values are \"IPv4\" or \"IPV6\".",
          "enumDescriptions": [
            "Default value.",
            "IP v4 ranges.",
            "IP v6 ranges."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of label tags associated with the AddressGroup resource."
        },
        "items": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of items."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        },
        "capacity": {
          "description": "Required. Capacity of the Address Group",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the AddressGroup resource. It matches pattern `projects/*/locations/{location}/addressGroups/`."
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "selfLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined fully-qualified URL for this resource."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListTlsInspectionPoliciesResponse": {
      "type": "object",
      "id": "ListTlsInspectionPoliciesResponse",
      "description": "Response returned by the ListTlsInspectionPolicies method.",
      "properties": {
        "tlsInspectionPolicies": {
          "items": {
            "$ref": "TlsInspectionPolicy"
          },
          "type": "array",
          "description": "List of TlsInspectionPolicies resources."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'."
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "FirewallEndpointAssociation": {
      "description": "Message describing Association object",
      "id": "FirewallEndpointAssociation",
      "type": "object",
      "properties": {
        "network": {
          "description": "Required. The URL of the network that is being associated.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time stamp",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tlsInspectionPolicy": {
          "description": "Optional. The URL of the TlsInspectionPolicy that is being associated.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time stamp",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. name of resource"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state of the association.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Active and ready for traffic.",
            "Being deleted.",
            "Down or in an error state."
          ],
          "readOnly": true
        },
        "firewallEndpoint": {
          "description": "Required. The URL of the FirewallEndpoint that is being associated.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networksecurity.organizations.locations.operations.cancel",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "path": "v1beta1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "networksecurity.organizations.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "networksecurity.organizations.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1beta1/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "networksecurity.organizations.locations.operations.list",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    }
                  },
                  "path": "v1beta1/{+name}/operations"
                }
              }
            },
            "securityProfileGroups": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single SecurityProfileGroup.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "id": "networksecurity.organizations.locations.securityProfileGroups.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/securityProfileGroups/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. A name of the SecurityProfileGroup to delete. Must be in the format `projects|organizations/*/locations/{location}/securityProfileGroups/{security_profile_group}`.",
                      "type": "string"
                    },
                    "etag": {
                      "description": "Optional. If client provided etag is out of date, delete will return FAILED_PRECONDITION error.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/securityProfileGroups/{securityProfileGroupsId}"
                },
                "get": {
                  "description": "Gets details of a single SecurityProfileGroup.",
                  "id": "networksecurity.organizations.locations.securityProfileGroups.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/securityProfileGroups/{securityProfileGroupsId}",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/securityProfileGroups/[^/]+$",
                      "required": true,
                      "description": "Required. A name of the SecurityProfileGroup to get. Must be in the format `projects|organizations/*/locations/{location}/securityProfileGroups/{security_profile_group}`.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "SecurityProfileGroup"
                  }
                },
                "list": {
                  "id": "networksecurity.organizations.locations.securityProfileGroups.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListSecurityProfileGroupsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of SecurityProfileGroups to return per call.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The project or organization and location from which the SecurityProfileGroups should be listed, specified in the format `projects|organizations/*/locations/{location}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The value returned by the last `ListSecurityProfileGroupsResponse` Indicates that this is a continuation of a prior `ListSecurityProfileGroups` call, and that the system should return the next page of data.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+parent}/securityProfileGroups",
                  "description": "Lists SecurityProfileGroups in a given organization and location.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/securityProfileGroups"
                },
                "patch": {
                  "request": {
                    "$ref": "SecurityProfileGroup"
                  },
                  "id": "networksecurity.organizations.locations.securityProfileGroups.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/securityProfileGroups/{securityProfileGroupsId}",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the SecurityProfileGroup resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/securityProfileGroups/[^/]+$",
                      "required": true,
                      "description": "Immutable. Name of the SecurityProfileGroup resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfileGroups/{security_profile_group}`."
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single SecurityProfileGroup."
                },
                "create": {
                  "request": {
[...]
