{
  "basePath": "",
  "version": "v1",
  "discoveryVersion": "v1",
  "name": "notebooks",
  "protocol": "rest",
  "baseUrl": "https://notebooks.googleapis.com/",
  "description": "Notebooks API is used to manage notebook resources in Google Cloud.",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "id": "notebooks:v1",
  "servicePath": "",
  "revision": "20220716",
  "batchPath": "batch",
  "schemas": {
    "Location": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "description": "A resource that represents Google Cloud Platform location.",
      "id": "Location"
    },
    "Runtime": {
      "id": "Runtime",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Runtime update time."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Runtime creation time.",
          "type": "string",
          "readOnly": true
        },
        "virtualMachine": {
          "$ref": "VirtualMachine",
          "description": "Use a Compute Engine VM image to start the managed notebook instance."
        },
        "name": {
          "description": "Output only. The resource name of the runtime. Format: `projects/{project}/locations/{location}/runtimes/{runtimeId}`",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "PROVISIONING",
            "ACTIVE",
            "STOPPING",
            "STOPPED",
            "DELETING",
            "UPGRADING",
            "INITIALIZING"
          ],
          "readOnly": true,
          "description": "Output only. Runtime state.",
          "enumDescriptions": [
            "State is not specified.",
            "The compute layer is starting the runtime. It is not ready for use.",
            "The compute layer is installing required frameworks and registering the runtime with notebook proxy. It cannot be used.",
            "The runtime is currently running. It is ready for use.",
            "The control logic is stopping the runtime. It cannot be used.",
            "The runtime is stopped. It cannot be used.",
            "The runtime is being deleted. It cannot be used.",
            "The runtime is upgrading. It cannot be used.",
            "The runtime is being created and set up. It is not ready for use."
          ]
        },
        "metrics": {
          "description": "Output only. Contains Runtime daemon metrics such as Service status and JupyterLab stats.",
          "$ref": "RuntimeMetrics",
          "readOnly": true
        },
        "healthState": {
          "description": "Output only. Runtime health_state.",
          "type": "string",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "AGENT_NOT_INSTALLED",
            "AGENT_NOT_RUNNING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The runtime substate is unknown.",
            "The runtime is known to be in an healthy state (for example, critical daemons are running) Applies to ACTIVE state.",
            "The runtime is known to be in an unhealthy state (for example, critical daemons are not running) Applies to ACTIVE state.",
            "The runtime has not installed health monitoring agent. Applies to ACTIVE state.",
            "The runtime health monitoring agent is not running. Applies to ACTIVE state."
          ]
        },
        "accessConfig": {
          "$ref": "RuntimeAccessConfig",
          "description": "The config settings for accessing runtime."
        },
        "softwareConfig": {
          "description": "The config settings for software inside the runtime.",
          "$ref": "RuntimeSoftwareConfig"
        }
      },
      "description": "The definition of a Runtime for a managed notebook instance."
    },
    "SetInstanceLabelsRequest": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels to apply to this instance. These can be later modified by the setLabels method"
        }
      },
      "description": "Request for setting instance labels.",
      "type": "object",
      "id": "SetInstanceLabelsRequest"
    },
    "VertexAIParameters": {
      "properties": {
        "env": {
          "description": "Environment variables. At most 100 environment variables can be specified and unique. Example: GCP_BUCKET=gs://my-bucket/samples/",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "network": {
          "type": "string",
          "description": "The full name of the Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to which the Job should be peered. For example, `projects/12345/global/networks/myVPC`. [Format](https://cloud.google.com/compute/docs/reference/rest/v1/networks/insert) is of the form `projects/{project}/global/networks/{network}`. Where {project} is a project number, as in `12345`, and {network} is a network name. Private services access must already be configured for the network. If left unspecified, the job is not peered with any network."
        }
      },
      "type": "object",
      "description": "Parameters used in Vertex AI JobType executions.",
      "id": "VertexAIParameters"
    },
    "Disk": {
      "type": "object",
      "description": "An instance-attached disk resource.",
      "id": "Disk",
      "properties": {
        "kind": {
          "description": "Type of the resource. Always compute#attachedDisk for attached disks.",
          "type": "string"
        },
        "boot": {
          "type": "boolean",
          "description": "Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem."
        },
        "interface": {
          "description": "Indicates the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance. Valid values: * NVME * SCSI",
          "type": "string"
        },
        "deviceName": {
          "type": "string",
          "description": "Indicates a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine.This field is only applicable for persistent disks."
        },
        "autoDelete": {
          "description": "Indicates whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance).",
          "type": "boolean"
        },
        "licenses": {
          "description": "A list of publicly visible licenses. Reserved for Google's use. A License represents billing and aggregate usage data for public and marketplace images.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "Indicates the type of the disk, either SCRATCH or PERSISTENT. Valid values: * PERSISTENT * SCRATCH"
        },
        "diskSizeGb": {
          "format": "int64",
          "description": "Indicates the size of the disk in base-2 GB.",
          "type": "string"
        },
        "guestOsFeatures": {
          "description": "Indicates a list of features to enable on the guest operating system. Applicable only for bootable images. Read Enabling guest operating system features to see a list of available options.",
          "type": "array",
          "items": {
            "$ref": "GuestOsFeature"
          }
        },
        "index": {
          "type": "string",
          "format": "int64",
          "description": "A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number."
        },
        "source": {
          "type": "string",
          "description": "Indicates a valid partial or full URL to an existing Persistent Disk resource."
        },
        "mode": {
          "type": "string",
          "description": "The mode in which to attach this disk, either READ_WRITE or READ_ONLY. If not specified, the default is to attach the disk in READ_WRITE mode. Valid values: * READ_ONLY * READ_WRITE"
        }
      }
    },
    "Binding": {
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding"
    },
    "StartRuntimeRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Idempotent request UUID."
        }
      },
      "description": "Request for starting a Managed Notebook Runtime.",
      "id": "StartRuntimeRequest"
    },
    "ReportRuntimeEventRequest": {
      "id": "ReportRuntimeEventRequest",
      "type": "object",
      "description": "Request for reporting a Managed Notebook Event.",
      "properties": {
        "event": {
          "description": "Required. The Event to be reported.",
          "$ref": "Event"
        },
        "vmId": {
          "type": "string",
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity"
        }
      }
    },
    "ListRuntimesResponse": {
      "description": "Response for listing Managed Notebook Runtimes.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token that can be used to continue listing from the last result in the next list call."
        },
        "runtimes": {
          "items": {
            "$ref": "Runtime"
          },
          "description": "A list of returned Runtimes.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached. For example, ['us-west1', 'us-central1']. A ListRuntimesResponse will only contain either runtimes or unreachables,",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListRuntimesResponse",
      "type": "object"
    },
    "ListEnvironmentsResponse": {
      "description": "Response for listing environments.",
      "type": "object",
      "properties": {
        "environments": {
          "description": "A list of returned environments.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        },
        "nextPageToken": {
          "description": "A page token that can be used to continue listing from the last result in the next list call.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListEnvironmentsResponse"
    },
    "LocalDiskInitializeParams": {
      "properties": {
        "description": {
          "description": "Optional. Provide this property when creating the disk.",
          "type": "string"
        },
        "diskSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Specifies the size of the disk in base-2 GB. If not specified, the disk will be the same size as the image (usually 10GB). If specified, the size must be equal to or larger than 10GB. Default 100 GB."
        },
        "labels": {
          "description": "Optional. Labels to apply to this disk. These can be later modified by the disks.setLabels method. This field is only applicable for persistent disks.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "diskName": {
          "type": "string",
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance. If the disk with the instance name exists already in the given zone/region, a new name will be automatically generated."
        },
        "diskType": {
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "PD_STANDARD",
            "PD_SSD",
            "PD_BALANCED",
            "PD_EXTREME"
          ],
          "enumDescriptions": [
            "Disk type not set.",
            "Standard persistent disk type.",
            "SSD persistent disk type.",
            "Balanced persistent disk type.",
            "Extreme persistent disk type."
          ],
          "description": "Input only. The type of the boot disk attached to this instance, defaults to standard persistent disk (`PD_STANDARD`).",
          "type": "string"
        }
      },
      "id": "LocalDiskInitializeParams",
      "type": "object",
      "description": "Input only. Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new runtime. This property is mutually exclusive with the source property; you can only define one or the other, but not both."
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "StartInstanceRequest": {
      "properties": {},
      "id": "StartInstanceRequest",
      "description": "Request for starting a notebook instance",
      "type": "object"
    },
    "Execution": {
      "description": "The definition of a single executed notebook.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time the Execution was last updated.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the execute. Format: `projects/{project_id}/locations/{location}/executions/{execution_id}`",
          "type": "string"
        },
        "jobUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the external job used to execute the notebook."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the underlying AI Platform job.",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created and processing has not yet begun.",
            "The service is preparing to execution the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed. `error_message` should contain the details of the failure.",
            "The job is being cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has been cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has become expired (relevant to Vertex AI jobs) https://cloud.google.com/vertex-ai/docs/reference/rest/v1/JobState",
            "The Execution is being created."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PREPARING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED",
            "EXPIRED",
            "INITIALIZING"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Name used for UI purposes. Name can only contain alphanumeric characters and underscores '_'.",
          "readOnly": true
        },
        "executionTemplate": {
          "description": "execute metadata including name, hardware spec, region, labels, etc.",
          "$ref": "ExecutionTemplate"
        },
        "createTime": {
          "description": "Output only. Time the Execution was instantiated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "outputNotebookFile": {
          "type": "string",
          "description": "Output notebook file generated by this execution"
        },
        "description": {
          "description": "A brief description of this execution.",
          "type": "string"
        }
      },
      "id": "Execution",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "id": "Expr"
    },
    "TriggerScheduleRequest": {
      "id": "TriggerScheduleRequest",
      "description": "Request for created scheduled notebooks",
      "properties": {},
      "type": "object"
    },
    "Schedule": {
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Timezone on which the cron_schedule. The value of this field must be a time zone name from the tz database. TZ Database: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones Note that some time zones include a provision for daylight savings time. The rules for daylight saving time are determined by the chosen tz. For UTC use the string \"utc\". If a time zone is not specified, the default will be in UTC (also known as GMT).",
          "type": "string"
        },
        "cronSchedule": {
          "description": "Cron-tab formatted schedule by which the job will execute. Format: minute, hour, day of month, month, day of week, e.g. 0 0 * * WED = every Wednesday More examples: https://crontab.guru/examples.html",
          "type": "string"
        },
        "recentExecutions": {
          "readOnly": true,
          "items": {
            "$ref": "Execution"
          },
          "type": "array",
          "description": "Output only. The most recent execution names triggered from this schedule and their corresponding states."
        },
        "name": {
          "description": "Output only. The name of this schedule. Format: `projects/{project_id}/locations/{location}/schedules/{schedule_id}`",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time the schedule was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the schedule was created."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name used for UI purposes. Name can only contain alphanumeric characters, hyphens '-', and underscores '_'."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The job is executing normally.",
            "The job is paused by the user. It will not execute. A user can intentionally pause the job using PauseJobRequest.",
            "The job is disabled by the system due to error. The user cannot directly set a job to be disabled.",
            "The job state resulting from a failed CloudScheduler.UpdateJob operation. To recover a job from this state, retry CloudScheduler.UpdateJob until a successful response is received.",
            "The schedule resource is being created.",
            "The schedule resource is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "PAUSED",
            "DISABLED",
            "UPDATE_FAILED",
            "INITIALIZING",
            "DELETING"
          ],
          "type": "string"
        },
        "description": {
          "description": "A brief description of this environment.",
          "type": "string"
        },
        "executionTemplate": {
          "description": "Notebook Execution Template corresponding to this schedule.",
          "$ref": "ExecutionTemplate"
        }
      },
      "id": "Schedule",
      "description": "The definition of a schedule."
    },
    "RuntimeSoftwareConfig": {
      "description": "Specifies the selection and configuration of software inside the runtime. The properties to set on runtime. Properties keys are specified in `key:value` format, for example: * `idle_shutdown: true` * `idle_shutdown_timeout: 180` * `enable_health_monitoring: true`",
      "id": "RuntimeSoftwareConfig",
      "properties": {
        "customGpuDriverPath": {
          "type": "string",
          "description": "Specify a custom Cloud Storage path where the GPU driver is stored. If not specified, we'll automatically choose from official GPU drivers."
        },
        "kernels": {
          "type": "array",
          "description": "Optional. Use a list of container images to use as Kernels in the notebook instance.",
          "items": {
            "$ref": "ContainerImage"
          }
        },
        "notebookUpgradeSchedule": {
          "description": "Cron expression in UTC timezone, used to schedule instance auto upgrade. Please follow the [cron format](https://en.wikipedia.org/wiki/Cron).",
          "type": "string"
        },
        "postStartupScript": {
          "type": "string",
          "description": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path (`gs://path-to-file/file-name`)."
        },
        "idleShutdown": {
          "type": "boolean",
          "description": "Runtime will automatically shutdown after idle_shutdown_time. Default: True"
        },
        "enableHealthMonitoring": {
          "description": "Verifies core internal services are running. Default: True",
          "type": "boolean"
        },
        "postStartupScriptBehavior": {
          "description": "Behavior for the post startup script.",
          "enumDescriptions": [
            "Unspecified post startup script behavior. Will run only once at creation.",
            "Runs the post startup script provided during creation at every start.",
            "Downloads and runs the provided post startup script at every start."
          ],
          "enum": [
            "POST_STARTUP_SCRIPT_BEHAVIOR_UNSPECIFIED",
            "RUN_EVERY_START",
            "DOWNLOAD_AND_RUN_EVERY_START"
          ],
          "type": "string"
        },
        "idleShutdownTimeout": {
          "description": "Time in minutes to wait before shutting down runtime. Default: 180 minutes",
          "type": "integer",
          "format": "int32"
        },
        "upgradeable": {
          "description": "Output only. Bool indicating whether an newer image is available in an image family.",
          "type": "boolean",
          "readOnly": true
        },
        "installGpuDriver": {
          "type": "boolean",
          "description": "Install Nvidia Driver automatically. Default: True"
        }
      },
      "type": "object"
    },
    "LocalDisk": {
      "type": "object",
      "properties": {
        "interface": {
          "type": "string",
          "description": "Specifies the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance. Valid values: * NVME * SCSI"
        },
        "autoDelete": {
          "type": "boolean",
          "readOnly": true,
          "description": "Optional. Output only. Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance)."
        },
        "guestOsFeatures": {
          "description": "Output only. Indicates a list of features to enable on the guest operating system. Applicable only for bootable images. Read Enabling guest operating system features to see a list of available options.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "RuntimeGuestOsFeature"
          }
        },
        "deviceName": {
          "type": "string",
          "description": "Optional. Output only. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "readOnly": true
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the resource. Always compute#attachedDisk for attached disks."
        },
        "boot": {
          "readOnly": true,
          "description": "Optional. Output only. Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem.",
          "type": "boolean"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number.",
          "readOnly": true
        },
        "source": {
          "type": "string",
          "description": "Specifies a valid partial or full URL to an existing Persistent Disk resource."
        },
        "type": {
          "description": "Specifies the type of the disk, either SCRATCH or PERSISTENT. If not specified, the default is PERSISTENT. Valid values: * PERSISTENT * SCRATCH",
          "type": "string"
        },
        "licenses": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Any valid publicly visible licenses."
        },
        "initializeParams": {
          "description": "Input only. Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance. This property is mutually exclusive with the source property; you can only define one or the other, but not both.",
          "$ref": "LocalDiskInitializeParams"
        },
        "mode": {
          "type": "string",
          "description": "The mode in which to attach this disk, either READ_WRITE or READ_ONLY. If not specified, the default is to attach the disk in READ_WRITE mode. Valid values: * READ_ONLY * READ_WRITE"
        }
      },
      "id": "LocalDisk",
      "description": "A Local attached disk resource."
    },
    "RuntimeShieldedInstanceConfig": {
      "properties": {
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created. Enabled by default."
        },
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails. Disabled by default.",
          "type": "boolean"
        },
        "enableVtpm": {
          "description": "Defines whether the instance has the vTPM enabled. Enabled by default.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A set of Shielded Instance options. Check [Images using supported Shielded VM features](https://cloud.google.com/compute/docs/instances/modifying-shielded-vm). Not all combinations are valid.",
      "id": "RuntimeShieldedInstanceConfig"
    },
    "RegisterInstanceRequest": {
      "description": "Request for registering a notebook instance.",
      "properties": {
        "instanceId": {
          "description": "Required. User defined unique ID of this instance. The `instance_id` must be 1 to 63 characters long and contain only lowercase letters, numeric characters, and dashes. The first character must be a lowercase letter and the last character cannot be a dash.",
          "type": "string"
        }
      },
      "id": "RegisterInstanceRequest",
      "type": "object"
    },
    "SetInstanceAcceleratorRequest": {
      "type": "object",
      "properties": {
        "coreCount": {
          "type": "string",
          "format": "int64",
          "description": "Required. Count of cores of this accelerator. Note that not all combinations of `type` and `core_count` are valid. Check [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus/#gpus-list) to find a valid combination. TPUs are not supported."
        },
        "type": {
          "description": "Required. Type of this accelerator.",
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_TESLA_T4_VWS",
            "NVIDIA_TESLA_P100_VWS",
            "NVIDIA_TESLA_P4_VWS",
            "TPU_V2",
            "TPU_V3"
          ],
          "enumDescriptions": [
            "Accelerator type is not specified.",
            "Accelerator type is Nvidia Tesla K80.",
            "Accelerator type is Nvidia Tesla P100.",
            "Accelerator type is Nvidia Tesla V100.",
            "Accelerator type is Nvidia Tesla P4.",
            "Accelerator type is Nvidia Tesla T4.",
            "Accelerator type is Nvidia Tesla A100.",
            "Accelerator type is NVIDIA Tesla T4 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P100 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P4 Virtual Workstations.",
            "(Coming soon) Accelerator type is TPU V2.",
            "(Coming soon) Accelerator type is TPU V3."
          ],
          "type": "string"
        }
      },
      "id": "SetInstanceAcceleratorRequest",
      "description": "Request for setting instance accelerator."
    },
    "GetInstanceHealthResponse": {
      "description": "Response for checking if a notebook instance is healthy.",
      "type": "object",
      "id": "GetInstanceHealthResponse",
      "properties": {
        "healthState": {
          "enumDescriptions": [
            "The instance substate is unknown.",
            "The instance is known to be in an healthy state (for example, critical daemons are running) Applies to ACTIVE state.",
            "The instance is known to be in an unhealthy state (for example, critical daemons are not running) Applies to ACTIVE state.",
            "The instance has not installed health monitoring agent. Applies to ACTIVE state.",
            "The instance health monitoring agent is not running. Applies to ACTIVE state."
          ],
          "description": "Output only. Runtime health_state.",
          "type": "string",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "AGENT_NOT_INSTALLED",
            "AGENT_NOT_RUNNING"
          ],
          "readOnly": true
        },
        "healthInfo": {
          "description": "Output only. Additional information about instance health. Example: healthInfo\": { \"docker_proxy_agent_status\": \"1\", \"docker_status\": \"1\", \"jupyterlab_api_status\": \"-1\", \"jupyterlab_status\": \"-1\", \"updated\": \"2020-10-18 09:40:03.573409\" }",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "Environment": {
      "type": "object",
      "properties": {
        "postStartupScript": {
          "type": "string",
          "description": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path. Example: `\"gs://path-to-file/file-name\"`"
        },
        "vmImage": {
          "description": "Use a Compute Engine VM image to start the notebook instance.",
          "$ref": "VmImage"
        },
        "description": {
          "type": "string",
          "description": "A brief description of this environment."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of this environment for the UI."
        },
        "containerImage": {
          "description": "Use a container image to start the notebook instance.",
          "$ref": "ContainerImage"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this environment was created."
        },
        "name": {
          "description": "Output only. Name of this environment. Format: `projects/{project_id}/locations/{location}/environments/{environment_id}`",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Definition of a software environment that is used to start a notebook instance.",
      "id": "Environment"
    },
    "VirtualMachineConfig": {
      "description": "The config settings for virtual machine.",
      "type": "object",
      "id": "VirtualMachineConfig",
      "properties": {
        "acceleratorConfig": {
          "description": "Optional. The Compute Engine accelerator configuration for this runtime.",
          "$ref": "RuntimeAcceleratorConfig"
        },
        "containerImages": {
          "items": {
            "$ref": "ContainerImage"
          },
          "type": "array",
          "description": "Optional. Use a list of container images to use as Kernels in the notebook instance."
        },
        "bootImage": {
          "$ref": "BootImage",
          "description": "Optional. Boot image metadata used for runtime upgradeability."
        },
        "dataDisk": {
          "description": "Required. Data disk option configuration settings.",
          "$ref": "LocalDisk"
        },
        "guestAttributes": {
          "description": "Output only. The Compute Engine guest attributes. (see [Project and instance guest attributes](https://cloud.google.com/compute/docs/storing-retrieving-metadata#guest_attributes)).",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "tags": {
          "description": "Optional. The Compute Engine tags to add to runtime (see [Tagging instances](https://cloud.google.com/compute/docs/label-or-tag-resources#tags)).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded VM Instance configuration settings.",
          "$ref": "RuntimeShieldedInstanceConfig"
        },
        "network": {
          "description": "Optional. The Compute Engine network to be used for machine communications. Cannot be specified with subnetwork. If neither `network` nor `subnet` is specified, the \"default\" network of the project is used, if it exists. A full URL or partial URI. Examples: * `https://www.googleapis.com/compute/v1/projects/[project_id]/global/networks/default` * `projects/[project_id]/global/networks/default` Runtimes are managed resources inside Google Infrastructure. Runtimes support the following network configurations: * Google Managed Network (Network & subnet are empty) * Consumer Project VPC (network & subnet are required). Requires configuring Private Service Access. * Shared VPC (network & subnet are required). Requires configuring Private Service Access.",
          "type": "string"
        },
        "reservedIpRange": {
          "description": "Optional. Reserved IP Range name is used for VPC Peering. The subnetwork allocation will use the range *name* if it's assigned. Example: managed-notebooks-range-c PEERING_RANGE_NAME_3=managed-notebooks-range-c gcloud compute addresses create $PEERING_RANGE_NAME_3 \\ --global \\ --prefix-length=24 \\ --description=\"Google Cloud Managed Notebooks Range 24 c\" \\ --network=$NETWORK \\ --addresses=192.168.0.0 \\ --purpose=VPC_PEERING Field value will be: `managed-notebooks-range-c`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The Compute Engine metadata entries to add to virtual machine. (see [Project and instance metadata](https://cloud.google.com/compute/docs/storing-retrieving-metadata#project_and_instance_metadata))."
        },
        "internalIpOnly": {
          "description": "Optional. If true, runtime will only have internal IP addresses. By default, runtimes are not restricted to internal IP addresses, and will have ephemeral external IP addresses assigned to each vm. This `internal_ip_only` restriction can only be enabled for subnetwork enabled networks, and all dependencies must be configured to be accessible without external IP addresses.",
          "type": "boolean"
        },
        "nicType": {
          "type": "string",
          "enumDescriptions": [
            "No type specified.",
            "VIRTIO",
            "GVNIC"
          ],
          "enum": [
            "UNSPECIFIED_NIC_TYPE",
            "VIRTIO_NET",
            "GVNIC"
          ],
          "description": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this runtime. Label **keys** must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). Label **values** may be empty, but, if present, must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster.",
          "type": "object"
        },
        "subnet": {
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications. Cannot be specified with network. A full URL or partial URI are valid. Examples: * `https://www.googleapis.com/compute/v1/projects/[project_id]/regions/us-east1/subnetworks/sub0` * `projects/[project_id]/regions/us-east1/subnetworks/sub0`",
          "type": "string"
        },
        "zone": {
          "readOnly": true,
          "description": "Output only. The zone where the virtual machine is located. If using regional request, the notebooks service will pick a location in the corresponding runtime region. On a get request, zone will always be present. Example: * `us-central1-b`",
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Encryption settings for virtual machine data disk."
        },
        "machineType": {
          "description": "Required. The Compute Engine machine type used for runtimes. Short name is valid. Examples: * `n1-standard-2` * `e2-standard-8`",
          "type": "string"
        }
      }
    },
    "UpgradeInstanceInternalRequest": {
      "type": "object",
      "description": "Request for upgrading a notebook instance from within the VM",
      "properties": {
        "vmId": {
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Upgrade type is not specified.",
            "Upgrade ML framework.",
            "Upgrade Operating System.",
            "Upgrade CUDA.",
            "Upgrade All (OS, Framework and CUDA)."
          ],
          "description": "Optional. The optional UpgradeType. Setting this field will search for additional compute images to upgrade this instance.",
          "enum": [
            "UPGRADE_TYPE_UNSPECIFIED",
            "UPGRADE_FRAMEWORK",
            "UPGRADE_OS",
            "UPGRADE_CUDA",
            "UPGRADE_ALL"
          ],
          "type": "string"
        }
      },
      "id": "UpgradeInstanceInternalRequest"
    },
    "DataprocParameters": {
      "properties": {
        "cluster": {
          "type": "string",
          "description": "URI for cluster used to run Dataproc execution. Format: `projects/{PROJECT_ID}/regions/{REGION}/clusters/{CLUSTER_NAME}`"
        }
      },
      "description": "Parameters used in Dataproc JobType executions.",
      "id": "DataprocParameters",
      "type": "object"
    },
    "ListExecutionsResponse": {
      "type": "object",
      "id": "ListExecutionsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Executions IDs that could not be reached. For example: ['projects/{project_id}/location/{location}/executions/imagenet_test1', 'projects/{project_id}/location/{location}/executions/classifier_train1']",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that can be used to continue listing from the last result in the next list call."
        },
        "executions": {
          "items": {
            "$ref": "Execution"
          },
          "type": "array",
          "description": "A list of returned instances."
        }
      },
      "description": "Response for listing scheduled notebook executions"
    },
    "SchedulerAcceleratorConfig": {
      "id": "SchedulerAcceleratorConfig",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified accelerator type. Default to no GPU.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "TPU v2.",
            "TPU v3."
          ],
          "enum": [
            "SCHEDULER_ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "TPU_V2",
            "TPU_V3"
          ],
          "description": "Type of this accelerator.",
          "type": "string"
        },
        "coreCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of cores of this accelerator."
        }
      },
      "type": "object",
      "description": "Definition of a hardware accelerator. Note that not all combinations of `type` and `core_count` are valid. Check [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus) to find a valid combination. TPUs are not supported."
    },
    "AcceleratorConfig": {
      "description": "Definition of a hardware accelerator. Note that not all combinations of `type` and `core_count` are valid. Check [GPUs on Compute Engine](/compute/docs/gpus/#gpus-list) to find a valid combination. TPUs are not supported.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Accelerator type is not specified.",
            "Accelerator type is Nvidia Tesla K80.",
            "Accelerator type is Nvidia Tesla P100.",
            "Accelerator type is Nvidia Tesla V100.",
            "Accelerator type is Nvidia Tesla P4.",
            "Accelerator type is Nvidia Tesla T4.",
            "Accelerator type is Nvidia Tesla A100.",
            "Accelerator type is NVIDIA Tesla T4 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P100 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P4 Virtual Workstations.",
            "(Coming soon) Accelerator type is TPU V2.",
            "(Coming soon) Accelerator type is TPU V3."
          ],
          "description": "Type of this accelerator.",
          "type": "string",
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_TESLA_T4_VWS",
            "NVIDIA_TESLA_P100_VWS",
            "NVIDIA_TESLA_P4_VWS",
            "TPU_V2",
            "TPU_V3"
          ]
        },
        "coreCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of cores of this accelerator."
        }
      },
      "id": "AcceleratorConfig"
    },
    "Instance": {
      "type": "object",
      "id": "Instance",
      "description": "The definition of a notebook instance.",
      "properties": {
        "containerImage": {
          "$ref": "ContainerImage",
          "description": "Use a container image to start the notebook instance."
        },
        "proxyUri": {
          "type": "string",
          "description": "Output only. The proxy endpoint that is used to access the Jupyter notebook.",
          "readOnly": true
        },
        "canIpForward": {
          "description": "Optional. Flag to enable ip forwarding or not, default false/off. https://cloud.google.com/vpc/docs/using-routes#canipforward",
          "type": "boolean"
        },
        "acceleratorConfig": {
          "description": "The hardware accelerator used on this instance. If you use accelerators, make sure that your configuration has [enough vCPUs and memory to support the `machine_type` you have selected](/compute/docs/gpus/#gpus-list).",
          "$ref": "AcceleratorConfig"
        },
        "subnet": {
          "description": "The name of the subnet that this instance is in. Format: `projects/{project_id}/regions/{region}/subnetworks/{subnetwork_id}`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Instance creation time.",
          "format": "google-datetime"
        },
        "disks": {
          "type": "array",
          "description": "Output only. Attached disks to notebook instance.",
          "readOnly": true,
          "items": {
            "$ref": "Disk"
          }
        },
        "dataDiskType": {
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "PD_STANDARD",
            "PD_SSD",
            "PD_BALANCED",
            "PD_EXTREME"
          ],
          "enumDescriptions": [
            "Disk type not set.",
            "Standard persistent disk type.",
            "SSD persistent disk type.",
            "Balanced persistent disk type.",
            "Extreme persistent disk type."
          ],
          "description": "Input only. The type of the data disk attached to this instance, defaults to standard persistent disk (`PD_STANDARD`).",
          "type": "string"
        },
        "postStartupScript": {
          "type": "string",
          "description": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path (`gs://path-to-file/file-name`)."
        },
        "dataDiskSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "Input only. The size of the data disk in GB attached to this instance, up to a maximum of 64000 GB (64 TB). You can choose the size of the data disk based on how big your notebooks and data are. If not specified, this defaults to 100."
        },
        "installGpuDriver": {
          "description": "Whether the end user authorizes Google Cloud to install GPU driver on this instance. If this field is empty or set to false, the GPU driver won't be installed. Only applicable to instances with GPUs.",
          "type": "boolean"
        },
        "kmsKey": {
          "description": "Input only. The KMS key used to encrypt the disks, only applicable if disk_encryption is CMEK. Format: `projects/{project_id}/locations/{location}/keyRings/{key_ring_id}/cryptoKeys/{key_id}` Learn more about [using your own encryption keys](/kms/docs/quickstart).",
          "type": "string"
        },
        "noRemoveDataDisk": {
          "description": "Input only. If true, the data disk will not be auto deleted when deleting the instance.",
          "type": "boolean"
        },
        "upgradeHistory": {
          "items": {
            "$ref": "UpgradeHistoryEntry"
          },
          "description": "The upgrade history of this instance.",
          "type": "array"
        },
        "machineType": {
          "type": "string",
          "description": "Required. The [Compute Engine machine type](/compute/docs/machine-types) of this instance."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account on this instance, giving access to other Google Cloud services. You can use any service account within the same project, but you must have the service account user permission to use the instance. If not specified, the [Compute Engine default service account](https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used."
        },
        "reservationAffinity": {
          "$ref": "ReservationAffinity",
          "description": "Optional. The optional reservation affinity. Setting this field will apply the specified [Zonal Compute Reservation](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) to this notebook instance."
        },
        "updateTime": {
          "description": "Output only. Instance update time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "bootDiskType": {
          "type": "string",
          "enumDescriptions": [
            "Disk type not set.",
            "Standard persistent disk type.",
            "SSD persistent disk type.",
            "Balanced persistent disk type.",
            "Extreme persistent disk type."
          ],
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "PD_STANDARD",
            "PD_SSD",
            "PD_BALANCED",
            "PD_EXTREME"
          ],
          "description": "Input only. The type of the boot disk attached to this instance, defaults to standard persistent disk (`PD_STANDARD`)."
        },
        "customGpuDriverPath": {
          "description": "Specify a custom Cloud Storage path where the GPU driver is stored. If not specified, we'll automatically choose from official GPU drivers.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The Compute Engine tags to add to runtime (see [Tagging instances](https://cloud.google.com/compute/docs/label-or-tag-resources#tags))."
        },
        "nicType": {
          "enumDescriptions": [
            "No type specified.",
            "VIRTIO",
            "GVNIC"
          ],
          "description": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet.",
          "enum": [
            "UNSPECIFIED_NIC_TYPE",
            "VIRTIO_NET",
            "GVNIC"
          ],
          "type": "string"
        },
        "network": {
          "description": "The name of the VPC that this instance is in. Format: `projects/{project_id}/global/networks/{network_id}`",
          "type": "string"
        },
        "instanceOwners": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Input only. The owner of this instance after creation. Format: `alias@example.com` Currently supports one owner only. If not specified, all of the service account users of your VM instance's service account can use the instance."
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded VM configuration. [Images using supported Shielded VM features](https://cloud.google.com/compute/docs/instances/modifying-shielded-vm).",
          "$ref": "ShieldedInstanceConfig"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "PROVISIONING",
            "ACTIVE",
            "STOPPING",
            "STOPPED",
            "DELETED",
            "UPGRADING",
            "INITIALIZING",
            "REGISTERING",
            "SUSPENDING",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "State is not specified.",
            "The control logic is starting the instance.",
            "The control logic is installing required frameworks and registering the instance with notebook proxy",
            "The instance is running.",
            "The control logic is stopping the instance.",
            "The instance is stopped.",
            "The instance is deleted.",
            "The instance is upgrading.",
            "The instance is being created.",
            "The instance is getting registered.",
            "The instance is suspending.",
            "The instance is suspended."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of this instance."
        },
        "bootDiskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Input only. The size of the boot disk in GB attached to this instance, up to a maximum of 64000 GB (64 TB). The minimum recommended value is 100 GB. If not specified, this defaults to 100."
        },
        "noPublicIp": {
          "type": "boolean",
          "description": "If true, no public IP will be assigned to this instance."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels to apply to this instance. These can be later modified by the setLabels method.",
          "type": "object"
        },
        "vmImage": {
          "$ref": "VmImage",
          "description": "Use a Compute Engine VM image to start the notebook instance."
        },
        "metadata": {
          "description": "Custom metadata to apply to this instance.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccountScopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The URIs of service account scopes to be included in Compute Engine instances. If not specified, the following [scopes](https://cloud.google.com/compute/docs/access/service-accounts#accesscopesiam) are defined: - https://www.googleapis.com/auth/cloud-platform - https://www.googleapis.com/auth/userinfo.email If not using default scopes, you need at least: https://www.googleapis.com/auth/compute",
          "type": "array"
        },
        "noProxyAccess": {
          "type": "boolean",
          "description": "If true, the notebook instance will not register with the proxy."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of this notebook instance. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
          "type": "string"
        },
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of entity that sent original CreateInstance request."
        },
        "diskEncryption": {
          "enumDescriptions": [
            "Disk encryption is not specified.",
            "Use Google managed encryption keys to encrypt the boot disk.",
            "Use customer managed encryption keys to encrypt the boot disk."
          ],
          "description": "Input only. Disk encryption method used on the boot and data disks, defaults to GMEK.",
          "enum": [
            "DISK_ENCRYPTION_UNSPECIFIED",
            "GMEK",
            "CMEK"
          ],
          "type": "string"
        }
      }
    },
    "RollbackInstanceRequest": {
      "id": "RollbackInstanceRequest",
      "description": "Request for rollbacking a notebook instance",
      "properties": {
        "targetSnapshot": {
          "description": "Required. The snapshot for rollback. Example: \"projects/test-project/global/snapshots/krwlzipynril\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpgradeInstanceRequest": {
      "type": "object",
      "description": "Request for upgrading a notebook instance",
      "id": "UpgradeInstanceRequest",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Upgrade type is not specified.",
            "Upgrade ML framework.",
            "Upgrade Operating System.",
            "Upgrade CUDA.",
            "Upgrade All (OS, Framework and CUDA)."
          ],
          "description": "Optional. The optional UpgradeType. Setting this field will search for additional compute images to upgrade this instance.",
          "enum": [
            "UPGRADE_TYPE_UNSPECIFIED",
            "UPGRADE_FRAMEWORK",
            "UPGRADE_OS",
            "UPGRADE_CUDA",
            "UPGRADE_ALL"
          ],
          "type": "string"
        }
      }
    },
    "SetInstanceMachineTypeRequest": {
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Required. The [Compute Engine machine type](https://cloud.google.com/compute/docs/machine-types).",
          "type": "string"
        }
      },
      "id": "SetInstanceMachineTypeRequest",
      "description": "Request for setting instance machine type."
    },
    "RefreshRuntimeTokenInternalResponse": {
      "type": "object",
      "id": "RefreshRuntimeTokenInternalResponse",
      "description": "Response with a new access token.",
      "properties": {
        "accessToken": {
          "type": "string",
          "description": "The OAuth 2.0 access token."
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. Token expiration time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "EncryptionConfig": {
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "The Cloud KMS resource identifier of the customer-managed encryption key used to protect a resource, such as a disks. It has the following format: `projects/{PROJECT_ID}/locations/{REGION}/keyRings/{KEY_RING_NAME}/cryptoKeys/{KEY_NAME}`"
        }
      },
      "description": "Represents a custom encryption key configuration that can be applied to a resource. This will encrypt all disks in Virtual Machine.",
      "type": "object",
      "id": "EncryptionConfig"
    },
    "ResetInstanceRequest": {
      "description": "Request for resetting a notebook instance",
      "id": "ResetInstanceRequest",
      "type": "object",
      "properties": {}
    },
    "StopRuntimeRequest": {
      "description": "Request for stopping a Managed Notebook Runtime.",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Idempotent request UUID."
        }
      },
      "id": "StopRuntimeRequest"
    },
    "RuntimeMetrics": {
      "properties": {
        "systemMetrics": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The system metrics."
        }
      },
      "id": "RuntimeMetrics",
      "description": "Contains runtime daemon metrics, such as OS and kernels and sessions stats.",
      "type": "object"
    },
    "GuestOsFeature": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The ID of a supported feature. Read Enabling guest operating system features to see a list of available options. Valid values: * FEATURE_TYPE_UNSPECIFIED * MULTI_IP_SUBNET * SECURE_BOOT * UEFI_COMPATIBLE * VIRTIO_SCSI_MULTIQUEUE * WINDOWS"
        }
      },
      "description": "Guest OS features for boot disk.",
      "id": "GuestOsFeature"
    },
    "ShieldedInstanceConfig": {
      "properties": {
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created. Enabled by default."
        },
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails. Disabled by default.",
          "type": "boolean"
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Defines whether the instance has the vTPM enabled. Enabled by default."
        }
      },
      "type": "object",
      "description": "A set of Shielded Instance options. Check [Images using supported Shielded VM features] Not all combinations are valid.",
      "id": "ShieldedInstanceConfig"
    },
    "UpgradeHistoryEntry": {
      "id": "UpgradeHistoryEntry",
      "type": "object",
      "properties": {
        "snapshot": {
          "description": "The snapshot of the boot disk of this notebook instance before upgrade.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State is not specified.",
            "The instance upgrade is started.",
            "The instance upgrade is succeeded.",
            "The instance upgrade is failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "The state of this instance upgrade history entry."
        },
        "targetImage": {
          "description": "Target VM Image. Format: ainotebooks-vm/project/image-name/name.",
          "type": "string"
        },
        "createTime": {
          "description": "The time that this instance upgrade history entry is created.",
          "type": "string",
          "format": "google-datetime"
        },
        "containerImage": {
          "type": "string",
          "description": "The container image before this instance upgrade."
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "UPGRADE",
            "ROLLBACK"
          ],
          "type": "string",
          "description": "Action. Rolloback or Upgrade.",
          "enumDescriptions": [
            "Operation is not specified.",
            "Upgrade.",
            "Rollback."
          ]
        },
        "targetVersion": {
          "description": "Target VM Version, like m63.",
          "type": "string"
        },
        "framework": {
          "type": "string",
          "description": "The framework of this notebook instance."
        },
        "vmImage": {
          "type": "string",
          "description": "The VM image before this instance upgrade."
        },
        "version": {
          "type": "string",
          "description": "The version of the notebook instance before this upgrade."
        }
      },
      "description": "The entry of VM image upgrade history."
    },
    "UpdateInstanceMetadataItemsRequest": {
      "type": "object",
      "properties": {
        "items": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata items to add/update for the instance.",
          "type": "object"
        }
      },
      "description": "Request for adding/changing metadata items for an instance.",
      "id": "UpdateInstanceMetadataItemsRequest"
    },
    "ReservationAffinity": {
      "type": "object",
      "properties": {
        "consumeReservationType": {
          "description": "Optional. Type of reservation to consume",
          "enumDescriptions": [
            "Default type.",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ]
        },
        "key": {
          "description": "Optional. Corresponds to the label key of reservation resource.",
          "type": "string"
        },
        "values": {
          "description": "Optional. Corresponds to the label values of reservation resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ReservationAffinity",
      "description": "Reservation Affinity for consuming Zonal reservation."
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "RuntimeAcceleratorConfig": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "TPU_V2",
            "TPU_V3",
            "NVIDIA_TESLA_T4_VWS",
            "NVIDIA_TESLA_P100_VWS",
            "NVIDIA_TESLA_P4_VWS"
          ],
          "description": "Accelerator model.",
          "enumDescriptions": [
            "Accelerator type is not specified.",
            "Accelerator type is Nvidia Tesla K80.",
            "Accelerator type is Nvidia Tesla P100.",
            "Accelerator type is Nvidia Tesla V100.",
            "Accelerator type is Nvidia Tesla P4.",
            "Accelerator type is Nvidia Tesla T4.",
            "Accelerator type is Nvidia Tesla A100.",
            "(Coming soon) Accelerator type is TPU V2.",
            "(Coming soon) Accelerator type is TPU V3.",
            "Accelerator type is NVIDIA Tesla T4 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P100 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P4 Virtual Workstations."
          ]
        },
        "coreCount": {
          "description": "Count of cores of this accelerator.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RuntimeAcceleratorConfig",
      "description": "Definition of the types of hardware accelerators that can be used. Definition of the types of hardware accelerators that can be used. See [Compute Engine AcceleratorTypes](https://cloud.google.com/compute/docs/reference/beta/acceleratorTypes). Examples: * `nvidia-tesla-k80` * `nvidia-tesla-p100` * `nvidia-tesla-v100` * `nvidia-tesla-p4` * `nvidia-tesla-t4` * `nvidia-tesla-a100`"
    },
    "ResetRuntimeRequest": {
      "description": "Request for resetting a Managed Notebook Runtime.",
      "id": "ResetRuntimeRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Idempotent request UUID.",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object"
    },
    "ExecutionTemplate": {
      "description": "The description a notebook execution workload.",
      "type": "object",
      "id": "ExecutionTemplate",
      "properties": {
        "kernelSpec": {
          "description": "Name of the kernel spec to use. This must be specified if the kernel spec name on the execution target does not match the name in the input notebook file.",
          "type": "string"
        },
        "scaleTier": {
          "description": "Required. Scale tier of the hardware used for notebook execution. DEPRECATED Will be discontinued. As right now only CUSTOM is supported.",
          "enum": [
            "SCALE_TIER_UNSPECIFIED",
            "BASIC",
            "STANDARD_1",
            "PREMIUM_1",
            "BASIC_GPU",
            "BASIC_TPU",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Unspecified Scale Tier.",
            "A single worker instance. This tier is suitable for learning how to use Cloud ML, and for experimenting with new models using small datasets.",
            "Many workers and a few parameter servers.",
            "A large number of workers with many parameter servers.",
            "A single worker instance with a K80 GPU.",
            "A single worker instance with a Cloud TPU.",
            "The CUSTOM tier is not a set tier, but rather enables you to use your own cluster specification. When you use this tier, set values to configure your processing cluster according to these guidelines: * You _must_ set `ExecutionTemplate.masterType` to specify the type of machine to use for your master node. This is the only required setting."
          ],
          "type": "string"
        },
        "dataprocParameters": {
          "$ref": "DataprocParameters",
          "description": "Parameters used in Dataproc JobType executions."
        },
        "vertexAiParameters": {
          "$ref": "VertexAIParameters",
          "description": "Parameters used in Vertex AI JobType executions."
        },
        "jobType": {
          "enum": [
            "JOB_TYPE_UNSPECIFIED",
            "VERTEX_AI",
            "DATAPROC"
          ],
          "type": "string",
          "description": "The type of Job to be used on this execution.",
          "enumDescriptions": [
            "No type specified.",
            "Custom Job in `aiplatform.googleapis.com`. Default value for an execution.",
            "Run execution on a cluster with Dataproc as a job. https://cloud.google.com/dataproc/docs/reference/rest/v1/projects.regions.jobs"
          ]
        },
        "outputNotebookFolder": {
          "type": "string",
          "description": "Path to the notebook folder to write to. Must be in a Google Cloud Storage bucket path. Format: `gs://{bucket_name}/{folder}` Ex: `gs://notebook_user/scheduled_notebooks`"
        },
        "containerImageUri": {
          "description": "Container Image URI to a DLVM Example: 'gcr.io/deeplearning-platform-release/base-cu100' More examples can be found at: https://cloud.google.com/ai-platform/deep-learning-containers/docs/choosing-container",
          "type": "string"
        },
        "acceleratorConfig": {
          "$ref": "SchedulerAcceleratorConfig",
          "description": "Configuration (count and accelerator type) for hardware running notebook execution."
        },
        "masterType": {
          "description": "Specifies the type of virtual machine to use for your training job's master worker. You must specify this field when `scaleTier` is set to `CUSTOM`. You can use certain Compute Engine machine types directly in this field. The following types are supported: - `n1-standard-4` - `n1-standard-8` - `n1-standard-16` - `n1-standard-32` - `n1-standard-64` - `n1-standard-96` - `n1-highmem-2` - `n1-highmem-4` - `n1-highmem-8` - `n1-highmem-16` - `n1-highmem-32` - `n1-highmem-64` - `n1-highmem-96` - `n1-highcpu-16` - `n1-highcpu-32` - `n1-highcpu-64` - `n1-highcpu-96` Alternatively, you can use the following legacy machine types: - `standard` - `large_model` - `complex_model_s` - `complex_model_m` - `complex_model_l` - `standard_gpu` - `complex_model_m_gpu` - `complex_model_l_gpu` - `standard_p100` - `complex_model_m_p100` - `standard_v100` - `large_model_v100` - `complex_model_m_v100` - `complex_model_l_v100` Finally, if you want to use a TPU for training, specify `cloud_tpu` in this field. Learn more about the [special configuration options for training with TPU](https://cloud.google.com/ai-platform/training/docs/using-tpus#configuring_a_custom_tpu_machine).",
          "type": "string"
        },
        "paramsYamlFile": {
          "type": "string",
          "description": "Parameters to be overridden in the notebook during execution. Ref https://papermill.readthedocs.io/en/latest/usage-parameterize.html on how to specifying parameters in the input notebook and pass them here in an YAML file. Ex: `gs://notebook_user/scheduled_notebooks/sentiment_notebook_params.yaml`"
        },
        "tensorboard": {
          "description": "The name of a Vertex AI [Tensorboard] resource to which this execution will upload Tensorboard logs. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`",
          "type": "string"
        },
        "inputNotebookFile": {
          "description": "Path to the notebook file to execute. Must be in a Google Cloud Storage bucket. Format: `gs://{bucket_name}/{folder}/{notebook_file_name}` Ex: `gs://notebook_user/scheduled_notebooks/sentiment_notebook.ipynb`",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The email address of a service account to use when running the execution. You must have the `iam.serviceAccounts.actAs` permission for the specified service account.",
          "type": "string"
        },
        "parameters": {
          "type": "string",
          "description": "Parameters used within the 'input_notebook_file' notebook."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for execution. If execution is scheduled, a field included will be 'nbs-scheduled'. Otherwise, it is an immediate execution, and an included field will be 'nbs-immediate'. Use fields to efficiently index between various types of executions.",
          "type": "object"
        }
      }
    },
    "SwitchRuntimeRequest": {
      "properties": {
        "acceleratorConfig": {
          "$ref": "RuntimeAcceleratorConfig",
          "description": "accelerator config."
        },
        "requestId": {
          "type": "string",
          "description": "Idempotent request UUID."
        },
        "machineType": {
          "description": "machine type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SwitchRuntimeRequest",
      "description": "Request for switching a Managed Notebook Runtime."
    },
    "Policy": {
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy"
    },
    "Operation": {
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "RuntimeGuestOsFeature": {
      "description": "Optional. A list of features to enable on the guest operating system. Applicable only for bootable images. Read [Enabling guest operating system features](https://cloud.google.com/compute/docs/images/create-delete-deprecate-private-images#guest-os-features) to see a list of available options. Guest OS features for boot disk.",
      "type": "object",
      "id": "RuntimeGuestOsFeature",
      "properties": {
        "type": {
          "type": "string",
          "description": "The ID of a supported feature. Read [Enabling guest operating system features](https://cloud.google.com/compute/docs/images/create-delete-deprecate-private-images#guest-os-features) to see a list of available options. Valid values: * FEATURE_TYPE_UNSPECIFIED * MULTI_IP_SUBNET * SECURE_BOOT * UEFI_COMPATIBLE * VIRTIO_SCSI_MULTIQUEUE * WINDOWS"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      }
    },
    "BootImage": {
      "type": "object",
      "id": "BootImage",
      "properties": {},
      "description": "Definition of the boot image used by the Runtime. Used to facilitate runtime upgradeability."
    },
    "InstanceConfig": {
      "type": "object",
      "properties": {
        "enableHealthMonitoring": {
          "description": "Verifies core internal services are running.",
          "type": "boolean"
        },
        "notebookUpgradeSchedule": {
          "description": "Cron expression in UTC timezone, used to schedule instance auto upgrade. Please follow the [cron format](https://en.wikipedia.org/wiki/Cron).",
          "type": "string"
        }
      },
      "id": "InstanceConfig",
      "description": "Notebook instance configurations that can be updated."
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "RefreshRuntimeTokenInternalRequest": {
      "type": "object",
      "properties": {
        "vmId": {
          "type": "string",
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity"
        }
      },
      "id": "RefreshRuntimeTokenInternalRequest",
      "description": "Request for getting a new access token."
    },
    "ListSchedulesResponse": {
      "type": "object",
      "id": "ListSchedulesResponse",
      "description": "Response for listing scheduled notebook job.",
      "properties": {
        "schedules": {
          "description": "A list of returned instances.",
          "items": {
            "$ref": "Schedule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that can be used to continue listing from the last result in the next list call."
        },
        "unreachable": {
          "type": "array",
          "description": "Schedules that could not be reached. For example: ['projects/{project_id}/location/{location}/schedules/monthly_digest', 'projects/{project_id}/location/{location}/schedules/weekly_sentiment']",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UpdateInstanceConfigRequest": {
      "properties": {
        "config": {
          "$ref": "InstanceConfig",
          "description": "The instance configurations to be updated."
        }
      },
      "id": "UpdateInstanceConfigRequest",
      "type": "object",
      "description": "Request for updating instance configurations."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "UpdateInstanceMetadataItemsResponse": {
      "description": "Response for adding/changing metadata items for an instance.",
      "properties": {
        "items": {
          "description": "Map of items that were added/updated to/in the metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "UpdateInstanceMetadataItemsResponse"
    },
    "ContainerImage": {
      "properties": {
        "repository": {
          "type": "string",
          "description": "Required. The path to the container image repository. For example: `gcr.io/{project_id}/{image_name}`"
        },
        "tag": {
          "type": "string",
          "description": "The tag of the container image. If not specified, this defaults to the latest tag."
        }
      },
      "id": "ContainerImage",
      "description": "Definition of a container image for starting a notebook instance with the environment installed in a container.",
      "type": "object"
    },
    "IsInstanceUpgradeableResponse": {
      "type": "object",
      "description": "Response for checking if a notebook instance is upgradeable.",
      "properties": {
        "upgradeable": {
          "description": "If an instance is upgradeable.",
          "type": "boolean"
        },
        "upgradeInfo": {
          "type": "string",
          "description": "Additional information about upgrade."
        },
        "upgradeVersion": {
          "description": "The version this instance will be upgraded to if calling the upgrade endpoint. This field will only be populated if field upgradeable is true.",
          "type": "string"
        },
        "upgradeImage": {
          "type": "string",
          "description": "The new image self link this instance will be upgraded to if calling the upgrade endpoint. This field will only be populated if field upgradeable is true."
        }
      },
      "id": "IsInstanceUpgradeableResponse"
    },
    "Event": {
      "type": "object",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
[...]
