{
  "id": "ondemandscanning:v1beta1",
  "description": "A service to scan container images for vulnerabilities.",
  "kind": "discovery#restDescription",
  "name": "ondemandscanning",
  "rootUrl": "https://ondemandscanning.googleapis.com/",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerName": "Google",
  "batchPath": "batch",
  "version": "v1beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "On-Demand Scanning API",
  "baseUrl": "https://ondemandscanning.googleapis.com/",
  "protocol": "rest",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    }
  },
  "mtlsRootUrl": "https://ondemandscanning.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "wait": {
                  "httpMethod": "POST",
                  "path": "v1beta1/{+name}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to wait on."
                    },
                    "timeout": {
                      "type": "string",
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ondemandscanning.projects.locations.operations.wait"
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ondemandscanning.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "path": "v1beta1/{+name}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "ondemandscanning.projects.locations.operations.list"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "id": "ondemandscanning.projects.locations.operations.cancel",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:cancel"
                },
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "ondemandscanning.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "scans": {
              "methods": {
                "analyzePackages": {
                  "description": "Initiates an analysis of the provided packages.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/scans:analyzePackages",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "ondemandscanning.projects.locations.scans.analyzePackages",
                  "path": "v1beta1/{+parent}/scans:analyzePackages",
                  "request": {
                    "$ref": "AnalyzePackagesRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent of the resource for which analysis is requested. Format: projects/[project_name]/locations/[location]",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              },
              "resources": {
                "vulnerabilities": {
                  "methods": {
                    "list": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/scans/{scansId}/vulnerabilities",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/vulnerabilities",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListVulnerabilitiesResponse"
                      },
                      "id": "ondemandscanning.projects.locations.scans.vulnerabilities.list",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The page token, resulting from a previous call to ListVulnerabilities."
                        },
                        "pageSize": {
                          "description": "The number of vulnerabilities to retrieve.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent of the collection of Vulnerabilities being requested. Format: projects/[project_name]/locations/[location]/scans/[scan_id]",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/scans/[^/]+$",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists vulnerabilities resulting from a successfully completed scan."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "revision": "20220326",
  "documentationLink": "https://cloud.google.com/container-analysis/docs/on-demand-scanning/",
  "canonicalName": "On-Demand Scanning",
  "ownerDomain": "google.com",
  "schemas": {
    "ComplianceOccurrence": {
      "id": "ComplianceOccurrence",
      "type": "object",
      "description": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason.",
      "properties": {
        "nonComplianceReason": {
          "type": "string"
        },
        "nonCompliantFiles": {
          "items": {
            "$ref": "NonCompliantFile"
          },
          "type": "array"
        }
      }
    },
    "Layer": {
      "properties": {
        "directive": {
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information.",
          "type": "string"
        },
        "arguments": {
          "description": "The recovered arguments to the Dockerfile directive.",
          "type": "string"
        }
      },
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "type": "object",
      "id": "Layer"
    },
    "Source": {
      "description": "Source describes the location of the source used for the build.",
      "type": "object",
      "id": "Source",
      "properties": {
        "context": {
          "$ref": "SourceContext",
          "description": "If provided, the source code used for the build came from this location."
        },
        "additionalContexts": {
          "type": "array",
          "items": {
            "$ref": "SourceContext"
          },
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field."
        },
        "artifactStorageSourceUri": {
          "type": "string",
          "description": "If provided, the input binary artifacts for the build came from this location."
        },
        "fileHashes": {
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file.",
          "type": "object"
        }
      }
    },
    "CVSS": {
      "type": "object",
      "properties": {
        "exploitabilityScore": {
          "format": "float",
          "type": "number"
        },
        "availabilityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "privilegesRequired": {
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "baseScore": {
          "format": "float",
          "type": "number",
          "description": "The base score is a function of the base metric scores."
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "attackComplexity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "type": "string"
        },
        "authentication": {
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "userInteraction": {
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "attackVector": {
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "integrityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "description": "Common Vulnerability Scoring System. For details, see https://www.first.org/cvss/specification-document This is a message we will try to use for storing multiple versions of CVSS. The intention is that as new versions of CVSS scores get added, we will be able to modify this message rather than adding new protos for each new version of the score.",
      "id": "CVSS"
    },
    "DSSEAttestationOccurrence": {
      "id": "DSSEAttestationOccurrence",
      "properties": {
        "statement": {
          "$ref": "InTotoStatement"
        },
        "envelope": {
          "description": "If doing something security critical, make sure to verify the signatures in this metadata.",
          "$ref": "Envelope"
        }
      },
      "type": "object",
      "description": "Deprecated. Prefer to use a regular Occurrence, and populate the Envelope at the top level of the Occurrence."
    },
    "NonCompliantFile": {
      "properties": {
        "reason": {
          "description": "Explains why a file is non compliant for a CIS check.",
          "type": "string"
        },
        "displayCommand": {
          "type": "string",
          "description": "Command to display the non-compliant files."
        },
        "path": {
          "description": "Empty if `display_command` is set.",
          "type": "string"
        }
      },
      "description": "Details about files that caused a compliance check to fail. display_command is a single command that can be used to display a list of non compliant files. When there is no such command, we can also iterate a list of non compliant file using 'path'.",
      "type": "object",
      "id": "NonCompliantFile"
    },
    "Metadata": {
      "type": "object",
      "id": "Metadata",
      "description": "Other properties of the build.",
      "properties": {
        "buildStartedOn": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of when the build started."
        },
        "completeness": {
          "description": "Indicates that the builder claims certain fields in this message to be complete.",
          "$ref": "Completeness"
        },
        "buildFinishedOn": {
          "description": "The timestamp of when the build completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "reproducible": {
          "type": "boolean",
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output."
        },
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        }
      }
    },
    "UpgradeDistribution": {
      "type": "object",
      "id": "UpgradeDistribution",
      "description": "The Upgrade Distribution represents metadata about the Upgrade for each operating system (CPE). Some distributions have additional metadata around updates, classifying them into various categories and severities.",
      "properties": {
        "cpeUri": {
          "description": "Required - The specific operating system this metadata applies to. See https://cpe.mitre.org/specification/.",
          "type": "string"
        },
        "cve": {
          "items": {
            "type": "string"
          },
          "description": "The cve tied to this Upgrade.",
          "type": "array"
        },
        "severity": {
          "type": "string",
          "description": "The severity as specified by the upstream operating system."
        },
        "classification": {
          "description": "The operating system classification of this Upgrade, as specified by the upstream operating system upgrade feed. For Windows the classification is one of the category_ids listed at https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ff357803(v=vs.85)",
          "type": "string"
        }
      }
    },
    "PackageIssue": {
      "description": "A detail for a distro and package this vulnerability occurrence was found in and its associated fix (if one is available).",
      "id": "PackageIssue",
      "type": "object",
      "properties": {
        "fixedPackage": {
          "type": "string",
          "description": "The package this vulnerability was fixed in. It is possible for this to be different from the affected_package."
        },
        "packageType": {
          "type": "string",
          "description": "The type of package (e.g. OS, MAVEN, GO)."
        },
        "affectedVersion": {
          "$ref": "Version",
          "description": "Required. The version of the package that is installed on the resource affected by this vulnerability."
        },
        "fixedCpeUri": {
          "description": "The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was fixed in. It is possible for this to be different from the affected_cpe_uri.",
          "type": "string"
        },
        "affectedPackage": {
          "description": "Required. The package this vulnerability was found in.",
          "type": "string"
        },
        "effectiveSeverity": {
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when it is not available.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "affectedCpeUri": {
          "description": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was found in.",
          "type": "string"
        },
        "fixAvailable": {
          "type": "boolean",
          "description": "Output only. Whether a fix is available for this package."
        },
        "fixedVersion": {
          "$ref": "Version",
          "description": "Required. The version of the package this vulnerability was fixed in. Setting this to VersionKind.MAXIMUM means no fix is yet available."
        }
      }
    },
    "Jwt": {
      "id": "Jwt",
      "properties": {
        "compactJwt": {
          "description": "The compact encoding of a JWS, which is always three base64 encoded strings joined by periods. For details, see: https://tools.ietf.org/html/rfc7515.html#section-3.1",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnalyzePackagesMetadata": {
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image.",
      "type": "object",
      "properties": {
        "resourceUri": {
          "description": "The resource URI of the container image being scanned.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the scan was created."
        }
      },
      "id": "AnalyzePackagesMetadata"
    },
    "RepoId": {
      "type": "object",
      "id": "RepoId",
      "properties": {
        "uid": {
          "type": "string",
          "description": "A server-assigned, globally unique identifier."
        },
        "projectRepoId": {
          "$ref": "ProjectRepoId",
          "description": "A combination of a project ID and a repo name."
        }
      },
      "description": "A unique identifier for a Cloud Repo."
    },
    "ListVulnerabilitiesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A page token that can be used in a subsequent call to ListVulnerabilities to continue retrieving results.",
          "type": "string"
        },
        "occurrences": {
          "description": "The list of Vulnerability Occurrences resulting from a scan.",
          "type": "array",
          "items": {
            "$ref": "Occurrence"
          }
        }
      },
      "id": "ListVulnerabilitiesResponse",
      "description": "ListVulnerabilitiesResponse contains a single page of vulnerabilities resulting from a scan."
    },
    "AttestationOccurrence": {
      "type": "object",
      "properties": {
        "serializedPayload": {
          "type": "string",
          "description": "Required. The serialized payload that is verified by one or more `signatures`.",
          "format": "byte"
        },
        "jwts": {
          "items": {
            "$ref": "Jwt"
          },
          "type": "array",
          "description": "One or more JWTs encoding a self-contained attestation. Each JWT encodes the payload that it verifies within the JWT itself. Verifier implementation SHOULD ignore the `serialized_payload` field when verifying these JWTs. If only JWTs are present on this AttestationOccurrence, then the `serialized_payload` SHOULD be left empty. Each JWT SHOULD encode a claim specific to the `resource_uri` of this Occurrence, but this is not validated by Grafeas metadata API implementations. The JWT itself is opaque to Grafeas."
        },
        "signatures": {
          "type": "array",
          "description": "One or more signatures over `serialized_payload`. Verifier implementations should consider this attestation message verified if at least one `signature` verifies `serialized_payload`. See `Signature` in common.proto for more details on signature structure and verification.",
          "items": {
            "$ref": "Signature"
          }
        }
      },
      "id": "AttestationOccurrence",
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the authority to which this attestation is attached is primarily useful for lookup (how to find this attestation if you already know the authority and artifact to be verified) and intent (for which authority this attestation was intended to sign."
    },
    "EnvelopeSignature": {
      "properties": {
        "keyid": {
          "type": "string"
        },
        "sig": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "EnvelopeSignature",
      "type": "object"
    },
    "SlsaCompleteness": {
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "type": "object",
      "id": "SlsaCompleteness",
      "properties": {
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        },
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        },
        "materials": {
          "type": "boolean",
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
        }
      }
    },
    "ProjectRepoId": {
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The ID of the project."
        },
        "repoName": {
          "type": "string",
          "description": "The name of the repo. Leave empty for the default repo."
        }
      },
      "id": "ProjectRepoId",
      "type": "object"
    },
    "AliasContext": {
      "description": "An alias to a repo revision.",
      "type": "object",
      "id": "AliasContext",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "description": "The alias kind.",
          "type": "string"
        },
        "name": {
          "description": "The alias name.",
          "type": "string"
        }
      }
    },
    "BuildOccurrence": {
      "description": "Details of a build occurrence.",
      "type": "object",
      "id": "BuildOccurrence",
      "properties": {
        "provenanceBytes": {
          "description": "Serialized JSON representation of the provenance, used in generating the build signature in the corresponding build note. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes.",
          "type": "string"
        },
        "intotoProvenance": {
          "description": "Deprecated. See InTotoStatement for the replacement. In-toto Provenance representation as defined in spec.",
          "$ref": "InTotoProvenance"
        },
        "provenance": {
          "$ref": "BuildProvenance",
          "description": "The actual provenance for the build."
        },
        "intotoStatement": {
          "description": "In-toto Statement representation as defined in spec. The intoto_statement can contain any type of provenance. The serialized payload of the statement can be stored and signed in the Occurrence's envelope.",
          "$ref": "InTotoStatement"
        }
      }
    },
    "CloudRepoSourceContext": {
      "id": "CloudRepoSourceContext",
      "properties": {
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "RepoId"
        },
        "revisionId": {
          "description": "A revision ID.",
          "type": "string"
        }
      },
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Envelope": {
      "properties": {
        "payload": {
          "format": "byte",
          "type": "string"
        },
        "payloadType": {
          "type": "string"
        },
        "signatures": {
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Envelope",
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type."
    },
    "ImageOccurrence": {
      "properties": {
        "baseResourceUrl": {
          "type": "string",
          "description": "Output only. This contains the base image URL for the derived image occurrence."
        },
        "fingerprint": {
          "$ref": "Fingerprint",
          "description": "Required. The fingerprint of the derived image."
        },
        "distance": {
          "type": "integer",
          "description": "Output only. The number of layers by which this image differs from the associated image basis.",
          "format": "int32"
        },
        "layerInfo": {
          "description": "This contains layer-specific metadata, if populated it has length \"distance\" and is ordered with [distance] being the layer immediately following the base image and [1] being the final layer.",
          "items": {
            "$ref": "Layer"
          },
          "type": "array"
        }
      },
      "description": "Details of the derived image portion of the DockerImage relationship. This image would be produced from a Dockerfile with FROM .",
      "type": "object",
      "id": "ImageOccurrence"
    },
    "SlsaRecipe": {
      "type": "object",
      "id": "SlsaRecipe",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "properties": {
        "environment": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different."
        },
        "entryPoint": {
          "type": "string",
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
        },
        "definedInMaterial": {
          "type": "string",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64"
        },
        "arguments": {
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        }
      }
    },
    "BuildProvenance": {
      "properties": {
        "commands": {
          "description": "Commands requested by the build.",
          "type": "array",
          "items": {
            "$ref": "Command"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which the build was created."
        },
        "sourceProvenance": {
          "$ref": "Source",
          "description": "Details of the Source input to the build."
        },
        "buildOptions": {
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "builderVersion": {
          "type": "string",
          "description": "Version string of the builder at the time this build was executed."
        },
        "projectId": {
          "description": "ID of the project.",
          "type": "string"
        },
        "startTime": {
          "description": "Time at which execution of the build was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "type": "string",
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time."
        },
        "builtArtifacts": {
          "items": {
            "$ref": "Artifact"
          },
          "type": "array",
          "description": "Output of the build."
        },
        "triggerId": {
          "type": "string",
          "description": "Trigger identifier if the build was triggered automatically; empty if not."
        },
        "endTime": {
          "description": "Time at which execution of the build was finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Unique identifier of the build."
        },
        "logsUri": {
          "type": "string",
          "description": "URI where any logs for this provenance were written."
        }
      },
      "id": "BuildProvenance",
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "type": "object"
    },
    "Identity": {
      "description": "The unique identifier of the update.",
      "type": "object",
      "properties": {
        "updateId": {
          "type": "string",
          "description": "The revision independent identifier of the update."
        },
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The revision number of the update."
        }
      },
      "id": "Identity"
    },
    "Hash": {
      "id": "Hash",
      "properties": {
        "type": {
          "description": "Required. The type of hash that was performed, e.g. \"SHA-256\".",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The hash value.",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "Container message for hash values."
    },
    "Recipe": {
      "type": "object",
      "id": "Recipe",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "properties": {
        "entryPoint": {
          "type": "string",
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
        },
        "arguments": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Since the arguments field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "type": "array"
        },
        "environment": {
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Since the environment field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "definedInMaterial": {
          "format": "int64",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "type": "string"
        },
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        }
      }
    },
    "GitSourceContext": {
      "id": "GitSourceContext",
      "type": "object",
      "properties": {
        "url": {
          "description": "Git repository URL.",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "Git commit hash."
        }
      },
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub)."
    },
    "InTotoProvenance": {
      "properties": {
        "recipe": {
          "$ref": "Recipe",
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required"
        },
        "builderConfig": {
          "$ref": "BuilderConfig",
          "description": "required"
        },
        "metadata": {
          "$ref": "Metadata"
        },
        "materials": {
          "type": "array",
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "InTotoProvenance"
    },
    "Occurrence": {
      "type": "object",
      "properties": {
        "deployment": {
          "description": "Describes the deployment of an artifact on a runtime.",
          "$ref": "DeploymentOccurrence"
        },
        "remediation": {
          "type": "string",
          "description": "A description of actions that can be taken to remedy the note."
        },
        "compliance": {
          "$ref": "ComplianceOccurrence",
          "description": "Describes a compliance violation on a linked resource."
        },
        "updateTime": {
          "description": "Output only. The time this occurrence was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "attestation": {
          "$ref": "AttestationOccurrence",
          "description": "Describes an attestation of an artifact."
        },
        "build": {
          "description": "Describes a verifiable build.",
          "$ref": "BuildOccurrence"
        },
        "vulnerability": {
          "description": "Describes a security vulnerability.",
          "$ref": "VulnerabilityOccurrence"
        },
        "createTime": {
          "description": "Output only. The time this occurrence was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "kind": {
          "description": "Output only. This explicitly denotes which of the occurrence details are specified. This field can be used as a filter in list requests.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available package upgrade.",
            "This represents a Compliance Note",
            "This represents a DSSE attestation Note"
          ],
          "enum": [
            "NOTE_KIND_UNSPECIFIED",
            "VULNERABILITY",
            "BUILD",
            "IMAGE",
            "PACKAGE",
            "DEPLOYMENT",
            "DISCOVERY",
            "ATTESTATION",
            "UPGRADE",
            "COMPLIANCE",
            "DSSE_ATTESTATION"
          ]
        },
        "envelope": {
          "$ref": "Envelope",
          "description": "https://github.com/secure-systems-lab/dsse"
        },
        "discovery": {
          "$ref": "DiscoveryOccurrence",
          "description": "Describes when a resource was discovered."
        },
        "resourceUri": {
          "type": "string",
          "description": "Required. Immutable. A URI that represents the resource for which the occurrence applies. For example, `https://gcr.io/project/image@sha256:123abc` for a Docker image."
        },
        "image": {
          "$ref": "ImageOccurrence",
          "description": "Describes how this resource derives from the basis in the associated note."
        },
        "name": {
          "description": "Output only. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
          "type": "string"
        },
        "package": {
          "description": "Describes the installation of a package on the linked resource.",
          "$ref": "PackageOccurrence"
        },
        "noteName": {
          "type": "string",
          "description": "Required. Immutable. The analysis note associated with this occurrence, in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. This field can be used as a filter in list requests."
        },
        "upgrade": {
          "$ref": "UpgradeOccurrence",
          "description": "Describes an available package upgrade on the linked resource."
        },
        "dsseAttestation": {
          "$ref": "DSSEAttestationOccurrence",
          "description": "Describes an attestation of an artifact using dsse."
        }
      },
      "description": "An instance of an analysis type that has been found on a resource.",
      "id": "Occurrence"
    },
    "UpgradeOccurrence": {
      "type": "object",
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability). For Windows, both distribution and windows_update contain information for the Windows update.",
      "properties": {
        "package": {
          "description": "Required for non-Windows OS. The package this Upgrade is for.",
          "type": "string"
        },
        "distribution": {
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence.",
          "$ref": "UpgradeDistribution"
        },
        "parsedVersion": {
          "$ref": "Version",
          "description": "Required for non-Windows OS. The version of the package in a machine + human readable form."
        },
        "windowsUpdate": {
          "description": "Required for Windows OS. Represents the metadata about the Windows update.",
          "$ref": "WindowsUpdate"
        }
      },
      "id": "UpgradeOccurrence"
    },
    "Category": {
      "properties": {
        "categoryId": {
          "description": "The identifier of the category.",
          "type": "string"
        },
        "name": {
          "description": "The localized name of the category.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Category",
      "description": "The category to which the update belongs."
    },
    "Subject": {
      "type": "object",
      "id": "Subject",
      "properties": {
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "`\"\": \"\"` Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "DeploymentOccurrence": {
      "description": "The period during which some deployable was active in a runtime.",
      "properties": {
        "undeployTime": {
          "description": "End of the lifetime of this deployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceUri": {
          "type": "array",
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name.",
          "items": {
            "type": "string"
          }
        },
        "config": {
          "type": "string",
          "description": "Configuration used to create this deployment."
        },
        "address": {
          "type": "string",
          "description": "Address of the runtime element hosting this deployment."
        },
        "deployTime": {
          "description": "Required. Beginning of the lifetime of this deployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "userEmail": {
          "type": "string",
          "description": "Identity of the user that triggered this deployment."
        },
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Google Container Engine.",
            "Google App Engine: Flexible Environment.",
            "Custom user-defined platform."
          ],
          "type": "string",
          "description": "Platform hosting this deployment."
        }
      },
      "id": "DeploymentOccurrence",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "SlsaBuilder": {
      "id": "SlsaBuilder",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Material": {
      "id": "Material",
      "properties": {
        "uri": {
          "type": "string"
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "InTotoStatement": {
      "type": "object",
      "id": "InTotoStatement",
      "description": "Spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement The serialized InTotoStatement will be stored as Envelope.payload. Envelope.payloadType is always \"application/vnd.in-toto+json\".",
      "properties": {
        "_type": {
          "description": "Always `https://in-toto.io/Statement/v0.1`.",
          "type": "string"
        },
        "subject": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        },
        "provenance": {
          "$ref": "InTotoProvenance"
        },
        "slsaProvenance": {
          "$ref": "SlsaProvenance"
        },
        "predicateType": {
          "type": "string",
          "description": "`https://slsa.dev/provenance/v0.1` for SlsaProvenance."
        }
      }
    },
    "DiscoveryOccurrence": {
      "id": "DiscoveryOccurrence",
      "properties": {
        "continuousAnalysis": {
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Whether the resource is continuously analyzed.",
          "type": "string"
        },
        "cpe": {
          "type": "string",
          "description": "The CPE of the resource being scanned."
        },
        "analysisStatus": {
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported"
          ],
          "description": "The status of discovery for the resource.",
          "type": "string"
        },
        "lastScanTime": {
          "description": "The last time this resource was scanned.",
          "format": "google-datetime",
          "type": "string"
        },
        "analysisStatusError": {
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API.",
          "$ref": "Status"
        },
        "archiveTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time occurrences related to this discovery occurrence were archived.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Provides information about the analysis status of a discovered resource."
    },
    "AnalyzePackagesResponseV1": {
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "properties": {
        "scan": {
          "description": "The name of the scan resource created by this successful scan.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AnalyzePackagesResponseV1"
    },
    "RelatedUrl": {
      "id": "RelatedUrl",
      "properties": {
        "url": {
          "type": "string",
          "description": "Specific URL associated with the resource."
        },
        "label": {
          "description": "Label to describe usage of the URL.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for any related URL information."
    },
    "SourceContext": {
      "properties": {
        "cloudRepo": {
          "$ref": "CloudRepoSourceContext",
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo."
        },
        "labels": {
          "description": "Labels with user defined metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "git": {
          "$ref": "GitSourceContext",
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub)."
        },
        "gerrit": {
          "$ref": "GerritSourceContext",
          "description": "A SourceContext referring to a Gerrit project."
        }
      },
      "type": "object",
      "id": "SourceContext",
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory."
    },
    "AnalyzePackagesResponse": {
      "properties": {
        "scan": {
          "type": "string",
          "description": "The name of the scan resource created by this successful scan."
        }
      },
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "id": "AnalyzePackagesResponse",
      "type": "object"
    },
    "AnalyzePackagesRequest": {
      "description": "AnalyzePackagesRequest is the request to analyze a list of packages and create Vulnerability Occurrences for it.",
      "type": "object",
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "Required. The resource URI of the container image being scanned."
        },
        "packages": {
          "description": "The packages to analyze.",
          "items": {
            "$ref": "PackageData"
          },
          "type": "array"
        }
      },
      "id": "AnalyzePackagesRequest"
    },
    "SlsaProvenance": {
      "properties": {
        "materials": {
          "type": "array",
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "items": {
            "$ref": "Material"
          }
        },
        "recipe": {
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required",
          "$ref": "SlsaRecipe"
        },
        "metadata": {
          "$ref": "SlsaMetadata"
        },
        "builder": {
          "$ref": "SlsaBuilder",
          "description": "required"
        }
      },
      "id": "SlsaProvenance",
      "type": "object"
    },
    "PackageData": {
      "type": "object",
      "id": "PackageData",
      "properties": {
        "osVersion": {
          "description": "The version of the OS This field is deprecated and the information is in cpe_uri",
          "type": "string"
        },
        "os": {
          "type": "string",
          "description": "The OS affected by a vulnerability This field is deprecated and the information is in cpe_uri"
        },
        "unused": {
          "type": "string"
        },
        "version": {
          "description": "The version of the package being analysed",
          "type": "string"
        },
        "package": {
          "type": "string",
          "description": "The package being analysed for vulnerabilities"
        },
        "packageType": {
          "enumDescriptions": [
            "",
            "Operating System",
            "Java packages from Maven.",
            "Go third-party packages.",
            "Go toolchain + standard library packages."
          ],
          "type": "string",
          "description": "The type of package: os, maven, go, etc.",
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "OS",
            "MAVEN",
            "GO",
            "GO_STDLIB"
          ]
        },
        "cpeUri": {
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) in which the vulnerability may manifest. Examples include distro or storage location for vulnerable jar.",
          "type": "string"
        }
      }
    },
    "AnalyzePackagesMetadataV1": {
      "id": "AnalyzePackagesMetadataV1",
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "The resource URI of the container image being scanned."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "When the scan was created.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image."
    },
    "Location": {
      "description": "An occurrence of a particular package installation found within a system's filesystem. E.g., glibc was found in `/var/lib/dpkg/status`.",
      "type": "object",
      "id": "Location",
      "properties": {
        "path": {
          "type": "string",
          "description": "The path from which we gathered that this package/version is installed."
        },
        "cpeUri": {
          "type": "string",
          "description": "Required. The CPE URI in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package."
        },
        "version": {
          "description": "The version installed at this location.",
          "$ref": "Version"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "FileHashes": {
      "description": "Container message for hashes of byte content of files, used in source messages to verify integrity of source input to the build.",
      "id": "FileHashes",
      "properties": {
        "fileHash": {
          "items": {
            "$ref": "Hash"
          },
          "type": "array",
          "description": "Required. Collection of file hashes."
        }
      },
      "type": "object"
    },
    "Completeness": {
      "type": "object",
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "properties": {
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        },
        "materials": {
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
          "type": "boolean"
        },
        "arguments": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe."
        }
      },
      "id": "Completeness"
    },
    "Artifact": {
      "type": "object",
      "properties": {
        "checksum": {
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container.",
          "type": "string"
        },
        "names": {
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`."
        }
      },
      "id": "Artifact",
      "description": "Artifact describes a build product."
    },
    "WindowsUpdate": {
      "id": "WindowsUpdate",
      "description": "Windows Update represents the metadata about the update for the Windows operating system. The fields in this message come from the Windows Update API documented at https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nn-wuapi-iupdate.",
      "properties": {
        "identity": {
          "description": "Required - The unique identifier for the update.",
          "$ref": "Identity"
        },
        "kbArticleIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Microsoft Knowledge Base article IDs that are associated with the update."
        },
        "supportUrl": {
          "type": "string",
          "description": "The hyperlink to the support information for the update."
        },
        "description": {
          "description": "The localized description of the update.",
          "type": "string"
        },
        "title": {
          "description": "The localized title of the update.",
          "type": "string"
        },
        "categories": {
          "description": "The list of categories to which the update belongs.",
          "type": "array",
          "items": {
            "$ref": "Category"
          }
        },
        "lastPublishedTimestamp": {
          "description": "The last published timestamp of the update.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Version": {
      "id": "Version",
      "description": "Version contains structured information about the version of a package.",
      "properties": {
        "revision": {
          "type": "string",
          "description": "The iteration of the package build from the above version."
        },
        "fullName": {
          "description": "Human readable version string. This string is of the form :- and is only set when kind is NORMAL.",
          "type": "string"
        },
        "inclusive": {
          "description": "Whether this version is specifying part of an inclusive range. Grafeas does not have the capability to specify version ranges; instead we have fields that specify start version and end versions. At times this is insufficient - we also need to specify whether the version is included in the range or is excluded from the range. This boolean is expected to be set to true when the version is included in a range.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
            "A special version representing positive infinity."
          ],
          "enum": [
            "VERSION_KIND_UNSPECIFIED",
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions."
        },
        "name": {
          "type": "string",
          "description": "Required only when version kind is NORMAL. The main part of the version name."
        },
        "epoch": {
          "format": "int32",
          "description": "Used to correct mistakes in the version numbering scheme.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "BuilderConfig": {
      "id": "BuilderConfig",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Fingerprint": {
      "properties": {
        "v2Blob": {
          "type": "array",
          "description": "Required. The ordered list of v2 blobs that represent a given image.",
          "items": {
            "type": "string"
          }
        },
        "v2Name": {
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept.",
          "type": "string"
        },
        "v1Name": {
          "type": "string",
          "description": "Required. The layer ID of the final layer in the Docker image's v1 representation."
        }
      },
      "description": "A set of properties that uniquely identify a given Docker image.",
      "type": "object",
      "id": "Fingerprint"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "SlsaMetadata": {
      "type": "object",
      "id": "SlsaMetadata",
      "properties": {
        "reproducible": {
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output.",
          "type": "boolean"
        },
        "completeness": {
          "$ref": "SlsaCompleteness",
          "description": "Indicates that the builder claims certain fields in this message to be complete."
        },
        "buildFinishedOn": {
          "description": "The timestamp of when the build completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "buildStartedOn": {
          "type": "string",
          "description": "The timestamp of when the build started.",
          "format": "google-datetime"
        },
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        }
      },
      "description": "Other properties of the build."
    },
    "Signature": {
      "properties": {
        "signature": {
          "format": "byte",
          "type": "string",
          "description": "The content of the signature, an opaque bytestring. The payload that this signature verifies MUST be unambiguously provided with the Signature during verification. A wrapper message might provide the payload explicitly. Alternatively, a message might have a canonical serialization that can always be unambiguously computed to derive the payload."
        },
        "publicKeyId": {
          "type": "string",
          "description": "The identifier for the public key that verifies this signature. * The `public_key_id` is required. * The `public_key_id` SHOULD be an RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD be an immutable reference, such as a cryptographic digest. Examples of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\" See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\" * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\""
        }
      },
      "id": "Signature",
      "type": "object",
      "description": "Verifiers (e.g. Kritis implementations) MUST verify signatures with respect to the trust anchors defined in policy (e.g. a Kritis policy). Typically this means that the verifier has been configured with a map from `public_key_id` to public key material (and any required parameters, e.g. signing algorithm). In particular, verification implementations MUST NOT treat the signature `public_key_id` as anything more than a key lookup hint. The `public_key_id` DOES NOT validate or authenticate a public key; it only provides a mechanism for quickly selecting a public key ALREADY CONFIGURED on the verifier through a trusted channel. Verification implementations MUST reject signatures in any of the following circumstances: * The `public_key_id` is not recognized by the verifier. * The public key that `public_key_id` refers to does not verify the signature with respect to the payload. The `signature` contents SHOULD NOT be \"attached\" (where the payload is included with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\" payload and only verify signatures with respect to explicitly provided payload (e.g. a `payload` field on the proto message that holds this Signature, or the canonical serialization of the proto message that holds this signature)."
    },
    "PackageOccurrence": {
      "properties": {
        "location": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "Required. All of the places within the filesystem versions of this package have been found."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the installed package."
        }
      },
      "type": "object",
      "id": "PackageOccurrence",
      "description": "Details on how a particular software package was installed on a system."
    },
    "Command": {
      "id": "Command",
      "properties": {
        "name": {
          "description": "Required. Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`.",
          "type": "string"
        },
        "waitFor": {
          "description": "The ID(s) of the command(s) that this command depends on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "env": {
          "items": {
            "type": "string"
          },
          "description": "Environment variables set before running this command.",
          "type": "array"
        },
        "id": {
          "description": "Optional unique identifier for this command, used in wait_for to reference this command as a dependency.",
          "type": "string"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Command-line arguments used when executing this command.",
          "type": "array"
        },
        "dir": {
          "description": "Working directory (relative to project source root) used when running this command.",
          "type": "string"
        }
      },
      "description": "Command describes a step performed as part of the build pipeline.",
      "type": "object"
    },
    "VulnerabilityOccurrence": {
      "properties": {
        "relatedUrls": {
          "type": "array",
          "items": {
            "$ref": "RelatedUrl"
          },
          "description": "Output only. URLs related to this vulnerability."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Output only. The note provider assigned severity of this vulnerability.",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string"
        },
        "longDescription": {
          "type": "string",
          "description": "Output only. A detailed description of this vulnerability."
        },
        "fixAvailable": {
          "description": "Output only. Whether at least one of the affected packages has a fix available.",
          "type": "boolean"
        },
        "shortDescription": {
          "description": "Output only. A one sentence description of this vulnerability.",
          "type": "string"
        },
        "cvssScore": {
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "type": "number",
          "format": "float"
        },
        "type": {
          "type": "string",
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
        },
        "packageIssue": {
          "type": "array",
          "items": {
            "$ref": "PackageIssue"
          },
          "description": "Required. The set of affected locations and their fixes (if available) within the associated resource."
        },
        "effectiveSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "The distro assigned severity for this vulnerability when it is available, otherwise this is the note provider assigned severity. When there are multiple PackageIssues for this vulnerability, they can have different effective severities because some might be provided by the distro while others are provided by the language ecosystem for a language pack. For this reason, it is advised to use the effective severity on the PackageIssue level. In the case where multiple PackageIssues have differing effective severities, this field should be the highest severity for any of the PackageIssues.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "cvssv3": {
          "$ref": "CVSS",
          "description": "The cvss v3 score for the vulnerability."
        }
      },
      "type": "object",
      "description": "An occurrence of a severity vulnerability on a resource.",
      "id": "VulnerabilityOccurrence"
    },
    "GerritSourceContext": {
      "description": "A SourceContext referring to a Gerrit project.",
      "type": "object",
      "properties": {
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "hostUri": {
          "type": "string",
          "description": "The URI of a running Gerrit instance."
        },
        "revisionId": {
          "description": "A revision (commit) ID.",
          "type": "string"
        },
        "gerritProject": {
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project.",
          "type": "string"
        }
      },
      "id": "GerritSourceContext"
    }
  }
}
