{
  "revision": "20220513",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "On-Demand Scanning",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/container-analysis/docs/on-demand-scanning/",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "name": "ondemandscanning",
  "version_module": true,
  "description": "A service to scan container images for vulnerabilities.",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://ondemandscanning.mtls.googleapis.com/",
  "baseUrl": "https://ondemandscanning.googleapis.com/",
  "basePath": "",
  "schemas": {
    "ProjectRepoId": {
      "id": "ProjectRepoId",
      "type": "object",
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "properties": {
        "repoName": {
          "type": "string",
          "description": "The name of the repo. Leave empty for the default repo."
        },
        "projectId": {
          "description": "The ID of the project.",
          "type": "string"
        }
      }
    },
    "SourceContext": {
      "properties": {
        "cloudRepo": {
          "$ref": "CloudRepoSourceContext",
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo."
        },
        "git": {
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub).",
          "$ref": "GitSourceContext"
        },
        "labels": {
          "description": "Labels with user defined metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "gerrit": {
          "$ref": "GerritSourceContext",
          "description": "A SourceContext referring to a Gerrit project."
        }
      },
      "id": "SourceContext",
      "type": "object",
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory."
    },
    "AnalyzePackagesMetadata": {
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "The resource URI of the container image being scanned."
        },
        "createTime": {
          "description": "When the scan was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image.",
      "id": "AnalyzePackagesMetadata",
      "type": "object"
    },
    "Subject": {
      "id": "Subject",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "digest": {
          "description": "`\"\": \"\"` Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PackageIssue": {
      "id": "PackageIssue",
      "properties": {
        "fileLocation": {
          "items": {
            "$ref": "GrafeasV1FileLocation"
          },
          "type": "array",
          "description": "The location at which this package was found."
        },
        "fixedCpeUri": {
          "description": "The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was fixed in. It is possible for this to be different from the affected_cpe_uri.",
          "type": "string"
        },
        "effectiveSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "description": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when it is not available.",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "fixAvailable": {
          "type": "boolean",
          "description": "Output only. Whether a fix is available for this package."
        },
        "affectedVersion": {
          "$ref": "Version",
          "description": "Required. The version of the package that is installed on the resource affected by this vulnerability."
        },
        "affectedCpeUri": {
          "description": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was found in.",
          "type": "string"
        },
        "packageType": {
          "description": "The type of package (e.g. OS, MAVEN, GO).",
          "type": "string"
        },
        "fixedPackage": {
          "type": "string",
          "description": "The package this vulnerability was fixed in. It is possible for this to be different from the affected_package."
        },
        "affectedPackage": {
          "type": "string",
          "description": "Required. The package this vulnerability was found in."
        },
        "fixedVersion": {
          "description": "Required. The version of the package this vulnerability was fixed in. Setting this to VersionKind.MAXIMUM means no fix is yet available.",
          "$ref": "Version"
        }
      },
      "type": "object",
      "description": "A detail for a distro and package this vulnerability occurrence was found in and its associated fix (if one is available)."
    },
    "Signature": {
      "properties": {
        "signature": {
          "type": "string",
          "description": "The content of the signature, an opaque bytestring. The payload that this signature verifies MUST be unambiguously provided with the Signature during verification. A wrapper message might provide the payload explicitly. Alternatively, a message might have a canonical serialization that can always be unambiguously computed to derive the payload.",
          "format": "byte"
        },
        "publicKeyId": {
          "type": "string",
          "description": "The identifier for the public key that verifies this signature. * The `public_key_id` is required. * The `public_key_id` SHOULD be an RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD be an immutable reference, such as a cryptographic digest. Examples of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\" See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\" * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\""
        }
      },
      "type": "object",
      "id": "Signature",
      "description": "Verifiers (e.g. Kritis implementations) MUST verify signatures with respect to the trust anchors defined in policy (e.g. a Kritis policy). Typically this means that the verifier has been configured with a map from `public_key_id` to public key material (and any required parameters, e.g. signing algorithm). In particular, verification implementations MUST NOT treat the signature `public_key_id` as anything more than a key lookup hint. The `public_key_id` DOES NOT validate or authenticate a public key; it only provides a mechanism for quickly selecting a public key ALREADY CONFIGURED on the verifier through a trusted channel. Verification implementations MUST reject signatures in any of the following circumstances: * The `public_key_id` is not recognized by the verifier. * The public key that `public_key_id` refers to does not verify the signature with respect to the payload. The `signature` contents SHOULD NOT be \"attached\" (where the payload is included with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\" payload and only verify signatures with respect to explicitly provided payload (e.g. a `payload` field on the proto message that holds this Signature, or the canonical serialization of the proto message that holds this signature)."
    },
    "GerritSourceContext": {
      "description": "A SourceContext referring to a Gerrit project.",
      "type": "object",
      "id": "GerritSourceContext",
      "properties": {
        "gerritProject": {
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project.",
          "type": "string"
        },
        "revisionId": {
          "description": "A revision (commit) ID.",
          "type": "string"
        },
        "hostUri": {
          "description": "The URI of a running Gerrit instance.",
          "type": "string"
        },
        "aliasContext": {
          "$ref": "AliasContext",
          "description": "An alias, which may be a branch or tag."
        }
      }
    },
    "WindowsUpdate": {
      "description": "Windows Update represents the metadata about the update for the Windows operating system. The fields in this message come from the Windows Update API documented at https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nn-wuapi-iupdate.",
      "type": "object",
      "id": "WindowsUpdate",
      "properties": {
        "title": {
          "description": "The localized title of the update.",
          "type": "string"
        },
        "lastPublishedTimestamp": {
          "description": "The last published timestamp of the update.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The localized description of the update."
        },
        "kbArticleIds": {
          "description": "The Microsoft Knowledge Base article IDs that are associated with the update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "supportUrl": {
          "type": "string",
          "description": "The hyperlink to the support information for the update."
        },
        "categories": {
          "items": {
            "$ref": "Category"
          },
          "description": "The list of categories to which the update belongs.",
          "type": "array"
        },
        "identity": {
          "$ref": "Identity",
          "description": "Required - The unique identifier for the update."
        }
      }
    },
    "BuildProvenance": {
      "id": "BuildProvenance",
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "properties": {
        "sourceProvenance": {
          "description": "Details of the Source input to the build.",
          "$ref": "Source"
        },
        "builderVersion": {
          "description": "Version string of the builder at the time this build was executed.",
          "type": "string"
        },
        "commands": {
          "items": {
            "$ref": "Command"
          },
          "description": "Commands requested by the build.",
          "type": "array"
        },
        "builtArtifacts": {
          "items": {
            "$ref": "Artifact"
          },
          "type": "array",
          "description": "Output of the build."
        },
        "creator": {
          "type": "string",
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which the build was created."
        },
        "endTime": {
          "description": "Time at which execution of the build was finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "logsUri": {
          "type": "string",
          "description": "URI where any logs for this provenance were written."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time at which execution of the build was started.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Unique identifier of the build."
        },
        "triggerId": {
          "type": "string",
          "description": "Trigger identifier if the build was triggered automatically; empty if not."
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "buildOptions": {
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "Identity": {
      "type": "object",
      "properties": {
        "updateId": {
          "type": "string",
          "description": "The revision independent identifier of the update."
        },
        "revision": {
          "format": "int32",
          "type": "integer",
          "description": "The revision number of the update."
        }
      },
      "description": "The unique identifier of the update.",
      "id": "Identity"
    },
    "NonCompliantFile": {
      "type": "object",
      "description": "Details about files that caused a compliance check to fail. display_command is a single command that can be used to display a list of non compliant files. When there is no such command, we can also iterate a list of non compliant file using 'path'.",
      "properties": {
        "displayCommand": {
          "description": "Command to display the non-compliant files.",
          "type": "string"
        },
        "path": {
          "description": "Empty if `display_command` is set.",
          "type": "string"
        },
        "reason": {
          "description": "Explains why a file is non compliant for a CIS check.",
          "type": "string"
        }
      },
      "id": "NonCompliantFile"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Recipe": {
      "properties": {
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        },
        "definedInMaterial": {
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64",
          "type": "string"
        },
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "environment": {
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Since the environment field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "arguments": {
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Since the arguments field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "id": "Recipe",
      "type": "object"
    },
    "BuilderConfig": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "BuilderConfig",
      "type": "object"
    },
    "Version": {
      "description": "Version contains structured information about the version of a package.",
      "properties": {
        "revision": {
          "description": "The iteration of the package build from the above version.",
          "type": "string"
        },
        "inclusive": {
          "type": "boolean",
          "description": "Whether this version is specifying part of an inclusive range. Grafeas does not have the capability to specify version ranges; instead we have fields that specify start version and end versions. At times this is insufficient - we also need to specify whether the version is included in the range or is excluded from the range. This boolean is expected to be set to true when the version is included in a range."
        },
        "fullName": {
          "description": "Human readable version string. This string is of the form :- and is only set when kind is NORMAL.",
          "type": "string"
        },
        "epoch": {
          "format": "int32",
          "type": "integer",
          "description": "Used to correct mistakes in the version numbering scheme."
        },
        "kind": {
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions.",
          "type": "string",
          "enum": [
            "VERSION_KIND_UNSPECIFIED",
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
            "A special version representing positive infinity."
          ]
        },
        "name": {
          "description": "Required only when version kind is NORMAL. The main part of the version name.",
          "type": "string"
        }
      },
      "id": "Version",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      }
    },
    "GitSourceContext": {
      "id": "GitSourceContext",
      "type": "object",
      "properties": {
        "url": {
          "description": "Git repository URL.",
          "type": "string"
        },
        "revisionId": {
          "description": "Git commit hash.",
          "type": "string"
        }
      },
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub)."
    },
    "PackageOccurrence": {
      "id": "PackageOccurrence",
      "properties": {
        "location": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "All of the places within the filesystem versions of this package have been found."
        },
        "architecture": {
          "description": "Output only. The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "type": "string",
          "readOnly": true
        },
        "cpeUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages."
        },
        "version": {
          "$ref": "Version",
          "description": "Output only. The version of the package.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Required. Output only. The name of the installed package.",
          "type": "string"
        },
        "license": {
          "$ref": "License",
          "description": "Licenses that have been declared by the authors of the package."
        },
        "packageType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
        }
      },
      "type": "object",
      "description": "Details on how a particular software package was installed on a system."
    },
    "Fingerprint": {
      "type": "object",
      "description": "A set of properties that uniquely identify a given Docker image.",
      "id": "Fingerprint",
      "properties": {
        "v2Blob": {
          "items": {
            "type": "string"
          },
          "description": "Required. The ordered list of v2 blobs that represent a given image.",
          "type": "array"
        },
        "v1Name": {
          "description": "Required. The layer ID of the final layer in the Docker image's v1 representation.",
          "type": "string"
        },
        "v2Name": {
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept.",
          "type": "string"
        }
      }
    },
    "GrafeasV1SlsaProvenance_0_2SlsaCompleteness": {
      "properties": {
        "environment": {
          "type": "boolean"
        },
        "materials": {
          "type": "boolean"
        },
        "parameters": {
          "type": "boolean"
        }
      },
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "id": "GrafeasV1SlsaProvenance_0_2SlsaCompleteness",
      "type": "object"
    },
    "SlsaRecipe": {
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "id": "SlsaRecipe",
      "properties": {
        "environment": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different.",
          "type": "object"
        },
        "arguments": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different.",
          "type": "object"
        },
        "entryPoint": {
          "type": "string",
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
        },
        "definedInMaterial": {
          "format": "int64",
          "type": "string",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64."
        },
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        }
      },
      "type": "object"
    },
    "AnalyzePackagesResponseV1": {
      "id": "AnalyzePackagesResponseV1",
      "type": "object",
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "properties": {
        "scan": {
          "type": "string",
          "description": "The name of the scan resource created by this successful scan."
        }
      }
    },
    "Envelope": {
      "type": "object",
      "properties": {
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "EnvelopeSignature"
          }
        },
        "payload": {
          "format": "byte",
          "type": "string"
        },
        "payloadType": {
          "type": "string"
        }
      },
      "id": "Envelope",
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type."
    },
    "Layer": {
      "properties": {
        "directive": {
          "type": "string",
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information."
        },
        "arguments": {
          "description": "The recovered arguments to the Dockerfile directive.",
          "type": "string"
        }
      },
      "id": "Layer",
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "type": "object"
    },
    "BuildOccurrence": {
      "type": "object",
      "description": "Details of a build occurrence.",
      "id": "BuildOccurrence",
      "properties": {
        "provenanceBytes": {
          "type": "string",
          "description": "Serialized JSON representation of the provenance, used in generating the build signature in the corresponding build note. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes."
        },
        "provenance": {
          "$ref": "BuildProvenance",
          "description": "The actual provenance for the build."
        },
        "intotoStatement": {
          "description": "In-toto Statement representation as defined in spec. The intoto_statement can contain any type of provenance. The serialized payload of the statement can be stored and signed in the Occurrence's envelope.",
          "$ref": "InTotoStatement"
        },
        "intotoProvenance": {
          "description": "Deprecated. See InTotoStatement for the replacement. In-toto Provenance representation as defined in spec.",
          "$ref": "InTotoProvenance"
        }
      }
    },
    "GrafeasV1SlsaProvenance_0_2SlsaInvocation": {
      "id": "GrafeasV1SlsaProvenance_0_2SlsaInvocation",
      "description": "Identifies the event that kicked off the build.",
      "properties": {
        "environment": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "configSource": {
          "$ref": "GrafeasV1SlsaProvenance_0_2SlsaConfigSource"
        }
      },
      "type": "object"
    },
    "Material": {
      "id": "Material",
      "properties": {
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Jwt": {
      "id": "Jwt",
      "type": "object",
      "properties": {
        "compactJwt": {
          "type": "string",
          "description": "The compact encoding of a JWS, which is always three base64 encoded strings joined by periods. For details, see: https://tools.ietf.org/html/rfc7515.html#section-3.1"
        }
      }
    },
    "DiscoveryOccurrence": {
      "id": "DiscoveryOccurrence",
      "properties": {
        "cpe": {
          "type": "string",
          "description": "The CPE of the resource being scanned."
        },
        "analysisStatusError": {
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API.",
          "$ref": "Status"
        },
        "archiveTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time occurrences related to this discovery occurrence were archived."
        },
        "continuousAnalysis": {
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "type": "string",
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Whether the resource is continuously analyzed."
        },
        "analysisStatus": {
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "type": "string",
          "description": "The status of discovery for the resource.",
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported"
          ]
        },
        "lastScanTime": {
          "description": "The last time this resource was scanned.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Provides information about the analysis status of a discovered resource.",
      "type": "object"
    },
    "Artifact": {
      "properties": {
        "checksum": {
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container.",
          "type": "string"
        },
        "names": {
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Artifact describes a build product.",
      "id": "Artifact"
    },
    "DSSEAttestationOccurrence": {
      "properties": {
        "statement": {
          "$ref": "InTotoStatement"
        },
        "envelope": {
          "$ref": "Envelope",
          "description": "If doing something security critical, make sure to verify the signatures in this metadata."
        }
      },
      "type": "object",
      "id": "DSSEAttestationOccurrence",
      "description": "Deprecated. Prefer to use a regular Occurrence, and populate the Envelope at the top level of the Occurrence."
    },
    "Location": {
      "properties": {
        "cpeUri": {
          "description": "Deprecated. The CPE URI in [CPE format](https://cpe.mitre.org/specification/)",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "The path from which we gathered that this package/version is installed."
        },
        "version": {
          "$ref": "Version",
          "description": "Deprecated. The version installed at this location."
        }
      },
      "description": "An occurrence of a particular package installation found within a system's filesystem. E.g., glibc was found in `/var/lib/dpkg/status`.",
      "type": "object",
      "id": "Location"
    },
    "Category": {
      "description": "The category to which the update belongs.",
      "id": "Category",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The localized name of the category."
        },
        "categoryId": {
          "type": "string",
          "description": "The identifier of the category."
        }
      }
    },
    "Completeness": {
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "properties": {
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        },
        "materials": {
          "type": "boolean",
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
        },
        "environment": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.environment is claimed to be complete."
        }
      },
      "id": "Completeness",
      "type": "object"
    },
    "InTotoProvenance": {
      "properties": {
        "recipe": {
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required",
          "$ref": "Recipe"
        },
        "metadata": {
          "$ref": "Metadata"
        },
        "materials": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty."
        },
        "builderConfig": {
          "description": "required",
          "$ref": "BuilderConfig"
        }
      },
      "type": "object",
      "id": "InTotoProvenance"
    },
    "ComplianceOccurrence": {
      "description": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason.",
      "id": "ComplianceOccurrence",
      "properties": {
        "nonCompliantFiles": {
          "items": {
            "$ref": "NonCompliantFile"
          },
          "type": "array"
        },
        "nonComplianceReason": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SlsaProvenance": {
      "type": "object",
      "id": "SlsaProvenance",
      "properties": {
        "builder": {
          "description": "required",
          "$ref": "SlsaBuilder"
        },
        "recipe": {
          "$ref": "SlsaRecipe",
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required"
        },
        "materials": {
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "type": "array",
          "items": {
            "$ref": "Material"
          }
        },
        "metadata": {
          "$ref": "SlsaMetadata"
        }
      }
    },
    "AnalyzePackagesRequestV1": {
      "properties": {
        "includeOsvData": {
          "type": "boolean",
          "description": "[DEPRECATED] Whether to include OSV data in the scan. For backwards compatibility reasons, this field can be neither removed nor renamed."
        },
        "packages": {
          "type": "array",
          "items": {
            "$ref": "PackageData"
          },
          "description": "The packages to analyze."
        },
        "resourceUri": {
          "type": "string",
          "description": "Required. The resource URI of the container image being scanned."
        }
      },
      "id": "AnalyzePackagesRequestV1",
      "description": "AnalyzePackagesRequest is the request to analyze a list of packages and create Vulnerability Occurrences for it.",
      "type": "object"
    },
    "GrafeasV1FileLocation": {
      "description": "Indicates the location at which a package was found.",
      "id": "GrafeasV1FileLocation",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file."
        }
      },
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "InTotoStatement": {
      "description": "Spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement The serialized InTotoStatement will be stored as Envelope.payload. Envelope.payloadType is always \"application/vnd.in-toto+json\".",
      "properties": {
        "_type": {
          "type": "string",
          "description": "Always `https://in-toto.io/Statement/v0.1`."
        },
        "subject": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        },
        "slsaProvenance": {
          "$ref": "SlsaProvenance"
        },
        "predicateType": {
          "type": "string",
          "description": "`https://slsa.dev/provenance/v0.1` for SlsaProvenance."
        },
        "provenance": {
          "$ref": "InTotoProvenance"
        },
        "slsaProvenance02": {
          "$ref": "SlsaProvenance_0_2"
        }
      },
      "id": "InTotoStatement",
      "type": "object"
    },
    "Metadata": {
      "type": "object",
      "description": "Other properties of the build.",
      "properties": {
        "reproducible": {
          "type": "boolean",
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output."
        },
        "completeness": {
          "description": "Indicates that the builder claims certain fields in this message to be complete.",
          "$ref": "Completeness"
        },
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        },
        "buildStartedOn": {
          "type": "string",
          "description": "The timestamp of when the build started.",
          "format": "google-datetime"
        },
        "buildFinishedOn": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of when the build completed."
        }
      },
      "id": "Metadata"
    },
    "UpgradeOccurrence": {
      "properties": {
        "package": {
          "description": "Required for non-Windows OS. The package this Upgrade is for.",
          "type": "string"
        },
        "distribution": {
          "$ref": "UpgradeDistribution",
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence."
        },
        "parsedVersion": {
          "$ref": "Version",
          "description": "Required for non-Windows OS. The version of the package in a machine + human readable form."
        },
        "windowsUpdate": {
          "$ref": "WindowsUpdate",
          "description": "Required for Windows OS. Represents the metadata about the Windows update."
        }
      },
      "id": "UpgradeOccurrence",
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability). For Windows, both distribution and windows_update contain information for the Windows update.",
      "type": "object"
    },
    "FileLocation": {
      "properties": {
        "filePath": {
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FileLocation",
      "description": "Indicates the location at which a package was found."
    },
    "AnalyzePackagesMetadataV1": {
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "The resource URI of the container image being scanned."
        },
        "createTime": {
          "description": "When the scan was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "AnalyzePackagesMetadataV1",
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image.",
      "type": "object"
    },
    "Occurrence": {
      "properties": {
        "discovery": {
          "$ref": "DiscoveryOccurrence",
          "description": "Describes when a resource was discovered."
        },
        "kind": {
          "description": "Output only. This explicitly denotes which of the occurrence details are specified. This field can be used as a filter in list requests.",
          "type": "string",
          "enum": [
            "NOTE_KIND_UNSPECIFIED",
            "VULNERABILITY",
            "BUILD",
            "IMAGE",
            "PACKAGE",
            "DEPLOYMENT",
            "DISCOVERY",
            "ATTESTATION",
            "UPGRADE",
            "COMPLIANCE",
            "DSSE_ATTESTATION"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available package upgrade.",
            "This represents a Compliance Note",
            "This represents a DSSE attestation Note"
          ]
        },
        "compliance": {
          "$ref": "ComplianceOccurrence",
          "description": "Describes a compliance violation on a linked resource."
        },
        "remediation": {
          "type": "string",
          "description": "A description of actions that can be taken to remedy the note."
        },
        "build": {
          "description": "Describes a verifiable build.",
          "$ref": "BuildOccurrence"
        },
        "upgrade": {
          "$ref": "UpgradeOccurrence",
          "description": "Describes an available package upgrade on the linked resource."
        },
        "attestation": {
          "$ref": "AttestationOccurrence",
          "description": "Describes an attestation of an artifact."
        },
        "name": {
          "description": "Output only. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
          "type": "string"
        },
        "resourceUri": {
          "description": "Required. Immutable. A URI that represents the resource for which the occurrence applies. For example, `https://gcr.io/project/image@sha256:123abc` for a Docker image.",
          "type": "string"
        },
        "image": {
          "description": "Describes how this resource derives from the basis in the associated note.",
          "$ref": "ImageOccurrence"
        },
        "deployment": {
          "description": "Describes the deployment of an artifact on a runtime.",
          "$ref": "DeploymentOccurrence"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this occurrence was last updated."
        },
        "package": {
          "$ref": "PackageOccurrence",
          "description": "Describes the installation of a package on the linked resource."
        },
        "envelope": {
          "$ref": "Envelope",
          "description": "https://github.com/secure-systems-lab/dsse"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this occurrence was created."
        },
        "dsseAttestation": {
          "$ref": "DSSEAttestationOccurrence",
          "description": "Describes an attestation of an artifact using dsse."
        },
        "vulnerability": {
          "$ref": "VulnerabilityOccurrence",
          "description": "Describes a security vulnerability."
        },
        "noteName": {
          "description": "Required. Immutable. The analysis note associated with this occurrence, in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. This field can be used as a filter in list requests.",
          "type": "string"
        }
      },
      "id": "Occurrence",
      "description": "An instance of an analysis type that has been found on a resource.",
      "type": "object"
    },
    "VulnerabilityOccurrence": {
      "properties": {
        "relatedUrls": {
          "items": {
            "$ref": "RelatedUrl"
          },
          "type": "array",
          "description": "Output only. URLs related to this vulnerability."
        },
        "cvssv3": {
          "$ref": "CVSS",
          "description": "The cvss v3 score for the vulnerability."
        },
        "fixAvailable": {
          "description": "Output only. Whether at least one of the affected packages has a fix available.",
          "type": "boolean"
        },
        "cvssScore": {
          "type": "number",
          "format": "float",
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity."
        },
        "severity": {
          "type": "string",
          "description": "Output only. The note provider assigned severity of this vulnerability.",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "effectiveSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "The distro assigned severity for this vulnerability when it is available, otherwise this is the note provider assigned severity. When there are multiple PackageIssues for this vulnerability, they can have different effective severities because some might be provided by the distro while others are provided by the language ecosystem for a language pack. For this reason, it is advised to use the effective severity on the PackageIssue level. In the case where multiple PackageIssues have differing effective severities, this field should be the highest severity for any of the PackageIssues.",
          "type": "string"
        },
        "type": {
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "type": "string"
        },
        "packageIssue": {
          "type": "array",
          "items": {
            "$ref": "PackageIssue"
          },
          "description": "Required. The set of affected locations and their fixes (if available) within the associated resource."
        },
        "longDescription": {
          "type": "string",
          "description": "Output only. A detailed description of this vulnerability."
        },
        "shortDescription": {
          "description": "Output only. A one sentence description of this vulnerability.",
          "type": "string"
        }
      },
      "id": "VulnerabilityOccurrence",
      "description": "An occurrence of a severity vulnerability on a resource.",
      "type": "object"
    },
    "AttestationOccurrence": {
      "id": "AttestationOccurrence",
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the authority to which this attestation is attached is primarily useful for lookup (how to find this attestation if you already know the authority and artifact to be verified) and intent (for which authority this attestation was intended to sign.",
      "properties": {
        "signatures": {
          "items": {
            "$ref": "Signature"
          },
          "description": "One or more signatures over `serialized_payload`. Verifier implementations should consider this attestation message verified if at least one `signature` verifies `serialized_payload`. See `Signature` in common.proto for more details on signature structure and verification.",
          "type": "array"
        },
        "jwts": {
          "type": "array",
          "description": "One or more JWTs encoding a self-contained attestation. Each JWT encodes the payload that it verifies within the JWT itself. Verifier implementation SHOULD ignore the `serialized_payload` field when verifying these JWTs. If only JWTs are present on this AttestationOccurrence, then the `serialized_payload` SHOULD be left empty. Each JWT SHOULD encode a claim specific to the `resource_uri` of this Occurrence, but this is not validated by Grafeas metadata API implementations. The JWT itself is opaque to Grafeas.",
          "items": {
            "$ref": "Jwt"
          }
        },
        "serializedPayload": {
          "type": "string",
          "description": "Required. The serialized payload that is verified by one or more `signatures`.",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "AnalyzePackagesResponse": {
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "id": "AnalyzePackagesResponse",
      "properties": {
        "scan": {
          "type": "string",
          "description": "The name of the scan resource created by this successful scan."
        }
      },
      "type": "object"
    },
    "AliasContext": {
      "id": "AliasContext",
      "description": "An alias to a repo revision.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The alias kind.",
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ]
        },
        "name": {
          "type": "string",
          "description": "The alias name."
        }
      }
    },
    "ListVulnerabilitiesResponseV1": {
      "properties": {
        "nextPageToken": {
          "description": "A page token that can be used in a subsequent call to ListVulnerabilities to continue retrieving results.",
          "type": "string"
        },
        "occurrences": {
          "description": "The list of Vulnerability Occurrences resulting from a scan.",
          "type": "array",
          "items": {
            "$ref": "Occurrence"
          }
        }
      },
      "id": "ListVulnerabilitiesResponseV1",
      "type": "object",
      "description": "ListVulnerabilitiesResponse contains a single page of vulnerabilities resulting from a scan."
    },
    "CloudRepoSourceContext": {
      "properties": {
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "RepoId"
        },
        "revisionId": {
          "type": "string",
          "description": "A revision ID."
        }
      },
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "type": "object",
      "id": "CloudRepoSourceContext"
    },
    "SlsaCompleteness": {
      "type": "object",
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "properties": {
        "materials": {
          "type": "boolean",
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
        },
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        },
        "environment": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.environment is claimed to be complete."
        }
      },
      "id": "SlsaCompleteness"
    },
    "DeploymentOccurrence": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "description": "Address of the runtime element hosting this deployment."
        },
        "resourceUri": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name."
        },
        "undeployTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End of the lifetime of this deployment."
        },
        "userEmail": {
          "description": "Identity of the user that triggered this deployment.",
          "type": "string"
        },
        "deployTime": {
          "description": "Required. Beginning of the lifetime of this deployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "config": {
          "description": "Configuration used to create this deployment.",
          "type": "string"
        },
        "platform": {
          "description": "Platform hosting this deployment.",
          "enumDescriptions": [
            "Unknown.",
            "Google Container Engine.",
            "Google App Engine: Flexible Environment.",
            "Custom user-defined platform."
          ],
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ]
        }
      },
      "id": "DeploymentOccurrence",
      "description": "The period during which some deployable was active in a runtime."
    },
    "CVSS": {
      "type": "object",
      "description": "Common Vulnerability Scoring System. For details, see https://www.first.org/cvss/specification-document This is a message we will try to use for storing various versions of CVSS rather than making a separate proto for storing a specific version.",
      "properties": {
        "integrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "exploitabilityScore": {
          "type": "number",
          "format": "float"
        },
        "userInteraction": {
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "impactScore": {
          "format": "float",
          "type": "number"
        },
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "attackVector": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments."
        },
        "attackComplexity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "baseScore": {
          "type": "number",
          "format": "float",
          "description": "The base score is a function of the base metric scores."
        },
        "privilegesRequired": {
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "authentication": {
          "type": "string",
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "type": "string"
        }
      },
      "id": "CVSS"
    },
    "PackageData": {
      "id": "PackageData",
      "properties": {
        "package": {
          "type": "string",
          "description": "The package being analysed for vulnerabilities"
        },
        "hashDigest": {
          "description": "HashDigest stores the SHA512 hash digest of the jar file if the package is of type Maven. This field will be unset for non Maven packages.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the package being analysed"
        },
        "fileLocation": {
          "description": "The path to the jar file / go binary file.",
          "items": {
            "$ref": "FileLocation"
          },
          "type": "array"
        },
        "osVersion": {
          "description": "The version of the OS This field is deprecated and the information is in cpe_uri",
          "type": "string"
        },
        "packageType": {
          "type": "string",
          "description": "The type of package: os, maven, go, etc.",
          "enumDescriptions": [
            "",
            "Operating System",
            "Java packages from Maven.",
            "Go third-party packages.",
            "Go toolchain + standard library packages."
          ],
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "OS",
            "MAVEN",
            "GO",
            "GO_STDLIB"
          ]
        },
        "unused": {
          "type": "string"
        },
        "os": {
          "description": "The OS affected by a vulnerability This field is deprecated and the information is in cpe_uri",
          "type": "string"
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) in which the vulnerability may manifest. Examples include distro or storage location for vulnerable jar."
        }
      },
      "type": "object"
    },
    "SlsaBuilder": {
      "id": "SlsaBuilder",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "RepoId": {
      "id": "RepoId",
      "properties": {
        "uid": {
          "type": "string",
          "description": "A server-assigned, globally unique identifier."
        },
        "projectRepoId": {
          "$ref": "ProjectRepoId",
          "description": "A combination of a project ID and a repo name."
        }
      },
      "description": "A unique identifier for a Cloud Repo.",
      "type": "object"
    },
    "GrafeasV1SlsaProvenance_0_2SlsaMaterial": {
      "type": "object",
      "id": "GrafeasV1SlsaProvenance_0_2SlsaMaterial",
      "properties": {
        "uri": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on."
    },
    "Source": {
      "type": "object",
      "description": "Source describes the location of the source used for the build.",
      "properties": {
        "additionalContexts": {
          "items": {
            "$ref": "SourceContext"
          },
          "type": "array",
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field."
        },
        "fileHashes": {
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file.",
          "type": "object",
          "additionalProperties": {
            "$ref": "FileHashes"
          }
        },
        "context": {
          "$ref": "SourceContext",
          "description": "If provided, the source code used for the build came from this location."
        },
        "artifactStorageSourceUri": {
          "type": "string",
          "description": "If provided, the input binary artifacts for the build came from this location."
        }
      },
      "id": "Source"
    },
    "GrafeasV1SlsaProvenance_0_2SlsaBuilder": {
      "description": "Identifies the entity that executed the recipe, which is trusted to have correctly performed the operation and populated this provenance.",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "GrafeasV1SlsaProvenance_0_2SlsaBuilder",
      "type": "object"
    },
    "EnvelopeSignature": {
      "id": "EnvelopeSignature",
      "type": "object",
      "properties": {
        "keyid": {
          "type": "string"
        },
        "sig": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "UpgradeDistribution": {
      "description": "The Upgrade Distribution represents metadata about the Upgrade for each operating system (CPE). Some distributions have additional metadata around updates, classifying them into various categories and severities.",
      "properties": {
        "cpeUri": {
          "type": "string",
          "description": "Required - The specific operating system this metadata applies to. See https://cpe.mitre.org/specification/."
        },
        "cve": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The cve tied to this Upgrade."
        },
        "severity": {
          "description": "The severity as specified by the upstream operating system.",
          "type": "string"
        },
        "classification": {
          "description": "The operating system classification of this Upgrade, as specified by the upstream operating system upgrade feed. For Windows the classification is one of the category_ids listed at https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ff357803(v=vs.85)",
          "type": "string"
        }
      },
      "id": "UpgradeDistribution",
      "type": "object"
    },
    "GrafeasV1SlsaProvenance_0_2SlsaMetadata": {
      "id": "GrafeasV1SlsaProvenance_0_2SlsaMetadata",
      "description": "Other properties of the build.",
      "type": "object",
      "properties": {
        "buildStartedOn": {
          "format": "google-datetime",
          "type": "string"
        },
        "buildFinishedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "completeness": {
          "$ref": "GrafeasV1SlsaProvenance_0_2SlsaCompleteness"
        },
        "buildInvocationId": {
          "type": "string"
        },
        "reproducible": {
          "type": "boolean"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SlsaMetadata": {
      "description": "Other properties of the build.",
      "id": "SlsaMetadata",
      "properties": {
        "reproducible": {
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output.",
          "type": "boolean"
        },
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        },
        "buildStartedOn": {
          "type": "string",
          "description": "The timestamp of when the build started.",
          "format": "google-datetime"
        },
        "completeness": {
          "$ref": "SlsaCompleteness",
          "description": "Indicates that the builder claims certain fields in this message to be complete."
        },
        "buildFinishedOn": {
          "type": "string",
          "description": "The timestamp of when the build completed.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Command": {
      "type": "object",
      "description": "Command describes a step performed as part of the build pipeline.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`."
        },
        "env": {
          "items": {
            "type": "string"
          },
          "description": "Environment variables set before running this command.",
          "type": "array"
        },
        "waitFor": {
          "description": "The ID(s) of the command(s) that this command depends on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "description": "Command-line arguments used when executing this command.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "Optional unique identifier for this command, used in wait_for to reference this command as a dependency.",
          "type": "string"
        },
        "dir": {
          "description": "Working directory (relative to project source root) used when running this command.",
          "type": "string"
        }
      },
      "id": "Command"
    },
    "License": {
      "description": "License information.",
      "properties": {
        "comments": {
          "type": "string",
          "description": "Comments"
        },
        "expression": {
          "type": "string",
          "description": "Often a single license can be used to represent the licensing terms. Sometimes it is necessary to include a choice of one or more licenses or some combination of license identifiers. Examples: \"LGPL-2.1-only OR MIT\", \"LGPL-2.1-only AND MIT\", \"GPL-2.0-or-later WITH Bison-exception-2.2\"."
        }
      },
      "id": "License",
      "type": "object"
    },
    "FileHashes": {
      "properties": {
        "fileHash": {
          "items": {
            "$ref": "Hash"
          },
          "type": "array",
          "description": "Required. Collection of file hashes."
        }
      },
      "description": "Container message for hashes of byte content of files, used in source messages to verify integrity of source input to the build.",
      "type": "object",
      "id": "FileHashes"
    },
    "RelatedUrl": {
      "description": "Metadata for any related URL information.",
      "id": "RelatedUrl",
      "properties": {
        "url": {
          "type": "string",
          "description": "Specific URL associated with the resource."
        },
        "label": {
          "description": "Label to describe usage of the URL.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SlsaProvenance_0_2": {
      "id": "SlsaProvenance_0_2",
      "properties": {
        "buildType": {
          "type": "string"
        },
        "builder": {
          "$ref": "GrafeasV1SlsaProvenance_0_2SlsaBuilder"
        },
        "materials": {
          "type": "array",
          "items": {
            "$ref": "GrafeasV1SlsaProvenance_0_2SlsaMaterial"
          }
        },
        "metadata": {
          "$ref": "GrafeasV1SlsaProvenance_0_2SlsaMetadata"
        },
        "buildConfig": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "invocation": {
          "$ref": "GrafeasV1SlsaProvenance_0_2SlsaInvocation"
        }
      },
      "type": "object",
      "description": "See full explanation of fields at slsa.dev/provenance/v0.2."
    },
    "Hash": {
      "id": "Hash",
      "description": "Container message for hash values.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of hash that was performed, e.g. \"SHA-256\"."
        },
        "value": {
          "type": "string",
          "description": "Required. The hash value.",
          "format": "byte"
        }
      }
    },
    "ImageOccurrence": {
      "properties": {
        "distance": {
          "type": "integer",
          "description": "Output only. The number of layers by which this image differs from the associated image basis.",
          "format": "int32"
        },
        "fingerprint": {
          "description": "Required. The fingerprint of the derived image.",
          "$ref": "Fingerprint"
        },
        "baseResourceUrl": {
          "type": "string",
          "description": "Output only. This contains the base image URL for the derived image occurrence."
        },
        "layerInfo": {
          "description": "This contains layer-specific metadata, if populated it has length \"distance\" and is ordered with [distance] being the layer immediately following the base image and [1] being the final layer.",
          "items": {
            "$ref": "Layer"
          },
          "type": "array"
        }
      },
      "id": "ImageOccurrence",
      "description": "Details of the derived image portion of the DockerImage relationship. This image would be produced from a Dockerfile with FROM .",
      "type": "object"
    },
    "GrafeasV1SlsaProvenance_0_2SlsaConfigSource": {
      "id": "GrafeasV1SlsaProvenance_0_2SlsaConfigSource",
      "type": "object",
      "description": "Describes where the config file that kicked off the build came from. This is effectively a pointer to the source where buildConfig came from.",
      "properties": {
        "uri": {
          "type": "string"
        },
        "entryPoint": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    }
  },
  "rootUrl": "https://ondemandscanning.googleapis.com/",
  "title": "On-Demand Scanning API",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "id": "ondemandscanning:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "scans": {
              "methods": {
                "analyzePackages": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scans:analyzePackages",
                  "path": "v1/{+parent}/scans:analyzePackages",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent of the resource for which analysis is requested. Format: projects/[project_name]/locations/[location]",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "AnalyzePackagesRequestV1"
                  },
                  "description": "Initiates an analysis of the provided packages.",
                  "id": "ondemandscanning.projects.locations.scans.analyzePackages",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              },
              "resources": {
                "vulnerabilities": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/vulnerabilities",
                      "response": {
                        "$ref": "ListVulnerabilitiesResponseV1"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scans/{scansId}/vulnerabilities",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent of the collection of Vulnerabilities being requested. Format: projects/[project_name]/locations/[location]/scans/[scan_id]",
                          "pattern": "^projects/[^/]+/locations/[^/]+/scans/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The number of vulnerabilities to retrieve.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "The page token, resulting from a previous call to ListVulnerabilities.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "ondemandscanning.projects.locations.scans.vulnerabilities.list",
                      "description": "Lists vulnerabilities resulting from a successfully completed scan."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "wait": {
                  "path": "v1/{+name}:wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "id": "ondemandscanning.projects.locations.operations.wait",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to wait on.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "format": "google-duration",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "ondemandscanning.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "ondemandscanning.projects.locations.operations.cancel"
                },
                "get": {
                  "id": "ondemandscanning.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "ondemandscanning.projects.locations.operations.list",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1"
}
