{
  "version_module": true,
  "basePath": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "schemas": {
    "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource": {
      "description": "Describes where the config file that kicked off the build came from. This is effectively a pointer to the source where buildConfig came from.",
      "type": "object",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource",
      "properties": {
        "entryPoint": {
          "type": "string"
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "Command": {
      "description": "Command describes a step performed as part of the build pipeline.",
      "type": "object",
      "id": "Command",
      "properties": {
        "dir": {
          "description": "Working directory (relative to project source root) used when running this command.",
          "type": "string"
        },
        "id": {
          "description": "Optional unique identifier for this command, used in wait_for to reference this command as a dependency.",
          "type": "string"
        },
        "waitFor": {
          "description": "The ID(s) of the command(s) that this command depends on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "env": {
          "type": "array",
          "description": "Environment variables set before running this command.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`.",
          "type": "string"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Command-line arguments used when executing this command.",
          "type": "array"
        }
      }
    },
    "InTotoStatement": {
      "description": "Spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement The serialized InTotoStatement will be stored as Envelope.payload. Envelope.payloadType is always \"application/vnd.in-toto+json\".",
      "id": "InTotoStatement",
      "properties": {
        "subject": {
          "items": {
            "$ref": "Subject"
          },
          "type": "array"
        },
        "predicateType": {
          "description": "`https://slsa.dev/provenance/v0.1` for SlsaProvenance.",
          "type": "string"
        },
        "slsaProvenanceZeroTwo": {
          "$ref": "SlsaProvenanceZeroTwo"
        },
        "provenance": {
          "$ref": "InTotoProvenance"
        },
        "_type": {
          "description": "Always `https://in-toto.io/Statement/v0.1`.",
          "type": "string"
        },
        "slsaProvenance": {
          "$ref": "SlsaProvenance"
        }
      },
      "type": "object"
    },
    "Recipe": {
      "type": "object",
      "id": "Recipe",
      "properties": {
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "arguments": {
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Since the arguments field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        },
        "definedInMaterial": {
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "type": "string",
          "format": "int64"
        },
        "environment": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Since the environment field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "type": "array"
        }
      },
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe."
    },
    "Layer": {
      "id": "Layer",
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "type": "object",
      "properties": {
        "arguments": {
          "type": "string",
          "description": "The recovered arguments to the Dockerfile directive."
        },
        "directive": {
          "type": "string",
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information."
        }
      }
    },
    "AnalyzePackagesMetadata": {
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image.",
      "id": "AnalyzePackagesMetadata",
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "The resource URI of the container image being scanned."
        },
        "createTime": {
          "description": "When the scan was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "LanguagePackageDependency": {
      "properties": {
        "version": {
          "type": "string"
        },
        "package": {
          "type": "string"
        }
      },
      "id": "LanguagePackageDependency",
      "description": "Indicates a language package available between this package and the customer's resource artifact.",
      "type": "object"
    },
    "ProjectRepoId": {
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "id": "ProjectRepoId",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The ID of the project."
        },
        "repoName": {
          "description": "The name of the repo. Leave empty for the default repo.",
          "type": "string"
        }
      }
    },
    "InTotoProvenance": {
      "type": "object",
      "properties": {
        "recipe": {
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required",
          "$ref": "Recipe"
        },
        "metadata": {
          "$ref": "Metadata"
        },
        "builderConfig": {
          "description": "required",
          "$ref": "BuilderConfig"
        },
        "materials": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty."
        }
      },
      "id": "InTotoProvenance"
    },
    "GitSourceContext": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Git repository URL."
        },
        "revisionId": {
          "description": "Git commit hash.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GitSourceContext",
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub)."
    },
    "AnalysisCompleted": {
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource.",
      "properties": {
        "analysisType": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AnalysisCompleted",
      "type": "object"
    },
    "VulnerabilityOccurrence": {
      "id": "VulnerabilityOccurrence",
      "description": "An occurrence of a severity vulnerability on a resource.",
      "properties": {
        "packageIssue": {
          "items": {
            "$ref": "PackageIssue"
          },
          "description": "Required. The set of affected locations and their fixes (if available) within the associated resource.",
          "type": "array"
        },
        "cvssv3": {
          "$ref": "CVSS",
          "description": "The cvss v3 score for the vulnerability."
        },
        "longDescription": {
          "description": "Output only. A detailed description of this vulnerability.",
          "type": "string"
        },
        "cvssScore": {
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "type": "number",
          "format": "float"
        },
        "cvssVersion": {
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Output only. CVSS version used to populate cvss_score and severity.",
          "type": "string"
        },
        "relatedUrls": {
          "items": {
            "$ref": "RelatedUrl"
          },
          "description": "Output only. URLs related to this vulnerability.",
          "type": "array"
        },
        "cvssV2": {
          "description": "The cvss v2 score for the vulnerability.",
          "$ref": "CVSS"
        },
        "effectiveSeverity": {
          "description": "The distro assigned severity for this vulnerability when it is available, otherwise this is the note provider assigned severity. When there are multiple PackageIssues for this vulnerability, they can have different effective severities because some might be provided by the distro while others are provided by the language ecosystem for a language pack. For this reason, it is advised to use the effective severity on the PackageIssue level. In the case where multiple PackageIssues have differing effective severities, this field should be the highest severity for any of the PackageIssues.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "severity": {
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Output only. The note provider assigned severity of this vulnerability.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string"
        },
        "fixAvailable": {
          "type": "boolean",
          "description": "Output only. Whether at least one of the affected packages has a fix available."
        },
        "type": {
          "type": "string",
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
        },
        "shortDescription": {
          "type": "string",
          "description": "Output only. A one sentence description of this vulnerability."
        }
      },
      "type": "object"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder": {
      "description": "Identifies the entity that executed the recipe, which is trusted to have correctly performed the operation and populated this provenance.",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder"
    },
    "DSSEAttestationOccurrence": {
      "description": "Deprecated. Prefer to use a regular Occurrence, and populate the Envelope at the top level of the Occurrence.",
      "properties": {
        "statement": {
          "$ref": "InTotoStatement"
        },
        "envelope": {
          "$ref": "Envelope",
          "description": "If doing something security critical, make sure to verify the signatures in this metadata."
        }
      },
      "id": "DSSEAttestationOccurrence",
      "type": "object"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation": {
      "type": "object",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation",
      "description": "Identifies the event that kicked off the build.",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "environment": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "configSource": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource"
        }
      }
    },
    "AttestationOccurrence": {
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the authority to which this attestation is attached is primarily useful for lookup (how to find this attestation if you already know the authority and artifact to be verified) and intent (for which authority this attestation was intended to sign.",
      "type": "object",
      "id": "AttestationOccurrence",
      "properties": {
        "jwts": {
          "type": "array",
          "items": {
            "$ref": "Jwt"
          },
          "description": "One or more JWTs encoding a self-contained attestation. Each JWT encodes the payload that it verifies within the JWT itself. Verifier implementation SHOULD ignore the `serialized_payload` field when verifying these JWTs. If only JWTs are present on this AttestationOccurrence, then the `serialized_payload` SHOULD be left empty. Each JWT SHOULD encode a claim specific to the `resource_uri` of this Occurrence, but this is not validated by Grafeas metadata API implementations. The JWT itself is opaque to Grafeas."
        },
        "signatures": {
          "description": "One or more signatures over `serialized_payload`. Verifier implementations should consider this attestation message verified if at least one `signature` verifies `serialized_payload`. See `Signature` in common.proto for more details on signature structure and verification.",
          "items": {
            "$ref": "Signature"
          },
          "type": "array"
        },
        "serializedPayload": {
          "type": "string",
          "format": "byte",
          "description": "Required. The serialized payload that is verified by one or more `signatures`."
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "An occurrence of a particular package installation found within a system's filesystem. E.g., glibc was found in `/var/lib/dpkg/status`.",
      "properties": {
        "version": {
          "$ref": "Version",
          "description": "Deprecated. The version installed at this location."
        },
        "path": {
          "type": "string",
          "description": "The path from which we gathered that this package/version is installed."
        },
        "cpeUri": {
          "type": "string",
          "description": "Deprecated. The CPE URI in [CPE format](https://cpe.mitre.org/specification/)"
        }
      }
    },
    "Envelope": {
      "properties": {
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "EnvelopeSignature"
          }
        },
        "payloadType": {
          "type": "string"
        },
        "payload": {
          "format": "byte",
          "type": "string"
        }
      },
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type.",
      "type": "object",
      "id": "Envelope"
    },
    "BuilderConfig": {
      "type": "object",
      "id": "BuilderConfig",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "FileHashes": {
      "description": "Container message for hashes of byte content of files, used in source messages to verify integrity of source input to the build.",
      "properties": {
        "fileHash": {
          "description": "Required. Collection of file hashes.",
          "type": "array",
          "items": {
            "$ref": "Hash"
          }
        }
      },
      "id": "FileHashes",
      "type": "object"
    },
    "License": {
      "properties": {
        "comments": {
          "description": "Comments",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Often a single license can be used to represent the licensing terms. Sometimes it is necessary to include a choice of one or more licenses or some combination of license identifiers. Examples: \"LGPL-2.1-only OR MIT\", \"LGPL-2.1-only AND MIT\", \"GPL-2.0-or-later WITH Bison-exception-2.2\"."
        }
      },
      "id": "License",
      "description": "License information.",
      "type": "object"
    },
    "DiscoveryOccurrence": {
      "id": "DiscoveryOccurrence",
      "type": "object",
      "description": "Provides information about the analysis status of a discovered resource.",
      "properties": {
        "lastScanTime": {
          "description": "The last time this resource was scanned.",
          "format": "google-datetime",
          "type": "string"
        },
        "cpe": {
          "description": "The CPE of the resource being scanned.",
          "type": "string"
        },
        "continuousAnalysis": {
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "description": "Whether the resource is continuously analyzed."
        },
        "analysisCompleted": {
          "$ref": "AnalysisCompleted"
        },
        "analysisStatusError": {
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API.",
          "$ref": "Status"
        },
        "archiveTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time occurrences related to this discovery occurrence were archived."
        },
        "analysisError": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors."
        },
        "analysisStatus": {
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has completed.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ],
          "type": "string",
          "description": "The status of discovery for the resource.",
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "COMPLETE",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ]
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "ComplianceOccurrence": {
      "id": "ComplianceOccurrence",
      "description": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason.",
      "properties": {
        "nonCompliantFiles": {
          "items": {
            "$ref": "NonCompliantFile"
          },
          "type": "array"
        },
        "nonComplianceReason": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "EnvelopeSignature": {
      "id": "EnvelopeSignature",
      "properties": {
        "keyid": {
          "type": "string"
        },
        "sig": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "Maintainer": {
      "type": "object",
      "id": "Maintainer",
      "properties": {
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        }
      }
    },
    "AnalyzePackagesRequest": {
      "description": "AnalyzePackagesRequest is the request to analyze a list of packages and create Vulnerability Occurrences for it.",
      "type": "object",
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "Required. The resource URI of the container image being scanned."
        },
        "packages": {
          "items": {
            "$ref": "PackageData"
          },
          "type": "array",
          "description": "The packages to analyze."
        }
      },
      "id": "AnalyzePackagesRequest"
    },
    "SourceContext": {
      "type": "object",
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory.",
      "id": "SourceContext",
      "properties": {
        "cloudRepo": {
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo.",
          "$ref": "CloudRepoSourceContext"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user defined metadata."
        },
        "git": {
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub).",
          "$ref": "GitSourceContext"
        },
        "gerrit": {
          "$ref": "GerritSourceContext",
          "description": "A SourceContext referring to a Gerrit project."
        }
      }
    },
    "Hash": {
      "properties": {
        "type": {
          "description": "Required. The type of hash that was performed, e.g. \"SHA-256\".",
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Required. The hash value."
        }
      },
      "id": "Hash",
      "type": "object",
      "description": "Container message for hash values."
    },
    "AnalyzePackagesResponse": {
      "type": "object",
      "properties": {
        "scan": {
          "description": "The name of the scan resource created by this successful scan.",
          "type": "string"
        }
      },
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "id": "AnalyzePackagesResponse"
    },
    "DeploymentOccurrence": {
      "id": "DeploymentOccurrence",
      "description": "The period during which some deployable was active in a runtime.",
      "properties": {
        "config": {
          "description": "Configuration used to create this deployment.",
          "type": "string"
        },
        "undeployTime": {
          "type": "string",
          "description": "End of the lifetime of this deployment.",
          "format": "google-datetime"
        },
        "userEmail": {
          "description": "Identity of the user that triggered this deployment.",
          "type": "string"
        },
        "platform": {
          "enumDescriptions": [
            "Unknown.",
            "Google Container Engine.",
            "Google App Engine: Flexible Environment.",
            "Custom user-defined platform."
          ],
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ],
          "description": "Platform hosting this deployment."
        },
        "deployTime": {
          "description": "Required. Beginning of the lifetime of this deployment.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceUri": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name."
        },
        "address": {
          "description": "Address of the runtime element hosting this deployment.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Category": {
      "id": "Category",
      "description": "The category to which the update belongs.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The localized name of the category."
        },
        "categoryId": {
          "type": "string",
          "description": "The identifier of the category."
        }
      },
      "type": "object"
    },
    "ImageOccurrence": {
      "id": "ImageOccurrence",
      "description": "Details of the derived image portion of the DockerImage relationship. This image would be produced from a Dockerfile with FROM .",
      "properties": {
        "fingerprint": {
          "description": "Required. The fingerprint of the derived image.",
          "$ref": "Fingerprint"
        },
        "layerInfo": {
          "description": "This contains layer-specific metadata, if populated it has length \"distance\" and is ordered with [distance] being the layer immediately following the base image and [1] being the final layer.",
          "type": "array",
          "items": {
            "$ref": "Layer"
          }
        },
        "baseResourceUrl": {
          "description": "Output only. This contains the base image URL for the derived image occurrence.",
          "type": "string"
        },
        "distance": {
          "format": "int32",
          "description": "Output only. The number of layers by which this image differs from the associated image basis.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "RepoId": {
      "properties": {
        "uid": {
          "description": "A server-assigned, globally unique identifier.",
          "type": "string"
        },
        "projectRepoId": {
          "$ref": "ProjectRepoId",
          "description": "A combination of a project ID and a repo name."
        }
      },
      "type": "object",
      "id": "RepoId",
      "description": "A unique identifier for a Cloud Repo."
    },
    "UpgradeDistribution": {
      "id": "UpgradeDistribution",
      "properties": {
        "cpeUri": {
          "description": "Required - The specific operating system this metadata applies to. See https://cpe.mitre.org/specification/.",
          "type": "string"
        },
        "cve": {
          "description": "The cve tied to this Upgrade.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "description": "The severity as specified by the upstream operating system.",
          "type": "string"
        },
        "classification": {
          "type": "string",
          "description": "The operating system classification of this Upgrade, as specified by the upstream operating system upgrade feed. For Windows the classification is one of the category_ids listed at https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ff357803(v=vs.85)"
        }
      },
      "type": "object",
      "description": "The Upgrade Distribution represents metadata about the Upgrade for each operating system (CPE). Some distributions have additional metadata around updates, classifying them into various categories and severities."
    },
    "RelatedUrl": {
      "description": "Metadata for any related URL information.",
      "properties": {
        "label": {
          "type": "string",
          "description": "Label to describe usage of the URL."
        },
        "url": {
          "description": "Specific URL associated with the resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RelatedUrl"
    },
    "Jwt": {
      "id": "Jwt",
      "properties": {
        "compactJwt": {
          "type": "string",
          "description": "The compact encoding of a JWS, which is always three base64 encoded strings joined by periods. For details, see: https://tools.ietf.org/html/rfc7515.html#section-3.1"
        }
      },
      "type": "object"
    },
    "BuildProvenance": {
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "id": "BuildProvenance",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Time at which the build was created.",
          "format": "google-datetime"
        },
        "buildOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details."
        },
        "builtArtifacts": {
          "items": {
            "$ref": "Artifact"
          },
          "type": "array",
          "description": "Output of the build."
        },
        "commands": {
          "type": "array",
          "description": "Commands requested by the build.",
          "items": {
            "$ref": "Command"
          }
        },
        "creator": {
          "type": "string",
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time."
        },
        "triggerId": {
          "description": "Trigger identifier if the build was triggered automatically; empty if not.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Time at which execution of the build was finished.",
          "format": "google-datetime"
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "sourceProvenance": {
          "$ref": "Source",
          "description": "Details of the Source input to the build."
        },
        "logsUri": {
          "type": "string",
          "description": "URI where any logs for this provenance were written."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which execution of the build was started."
        },
        "id": {
          "type": "string",
          "description": "Required. Unique identifier of the build."
        },
        "builderVersion": {
          "description": "Version string of the builder at the time this build was executed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CVSS": {
      "properties": {
        "confidentialityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "exploitabilityScore": {
          "type": "number",
          "format": "float"
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "userInteraction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "type": "string"
        },
        "availabilityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "authentication": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "baseScore": {
          "type": "number",
          "format": "float",
          "description": "The base score is a function of the base metric scores."
        },
        "attackVector": {
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "integrityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "CVSS",
      "description": "Common Vulnerability Scoring System. For details, see https://www.first.org/cvss/specification-document This is a message we will try to use for storing various versions of CVSS rather than making a separate proto for storing a specific version."
    },
    "SlsaBuilder": {
      "id": "SlsaBuilder",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnalyzePackagesResponseV1": {
      "properties": {
        "scan": {
          "type": "string",
          "description": "The name of the scan resource created by this successful scan."
        }
      },
      "id": "AnalyzePackagesResponseV1",
      "type": "object",
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan."
    },
    "PackageData": {
      "properties": {
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) in which the vulnerability may manifest. Examples include distro or storage location for vulnerable jar."
        },
        "package": {
          "description": "The package being analysed for vulnerabilities",
          "type": "string"
        },
        "os": {
          "type": "string",
          "description": "The OS affected by a vulnerability Used to generate the cpe_uri for OS packages"
        },
        "maintainer": {
          "$ref": "Maintainer",
          "description": "The maintainer of the package."
        },
        "unused": {
          "type": "string"
        },
        "patchedCve": {
          "items": {
            "type": "string"
          },
          "description": "CVEs that this package is no longer vulnerable to go/drydock-dd-custom-binary-scanning",
          "type": "array"
        },
        "dependencyChain": {
          "description": "The dependency chain between this package and the user's artifact. List in order from the customer's package under review first, to the current package last. Inclusive of the original package and the current package.",
          "items": {
            "$ref": "LanguagePackageDependency"
          },
          "type": "array"
        },
        "fileLocation": {
          "description": "The path to the jar file / go binary file.",
          "items": {
            "$ref": "FileLocation"
          },
          "type": "array"
        },
        "hashDigest": {
          "description": "HashDigest stores the SHA512 hash digest of the jar file if the package is of type Maven. This field will be unset for non Maven packages.",
          "type": "string"
        },
        "packageType": {
          "enumDescriptions": [
            "",
            "Operating System",
            "Java packages from Maven.",
            "Go third-party packages.",
            "Go toolchain + standard library packages.",
            "Python packages.",
            "NPM packages."
          ],
          "type": "string",
          "description": "The type of package: os, maven, go, etc.",
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "OS",
            "MAVEN",
            "GO",
            "GO_STDLIB",
            "PYPI",
            "NPM"
          ]
        },
        "version": {
          "type": "string",
          "description": "The version of the package being analysed"
        },
        "osVersion": {
          "description": "The version of the OS Used to generate the cpe_uri for OS packages",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PackageData"
    },
    "PackageIssue": {
      "description": "A detail for a distro and package this vulnerability occurrence was found in and its associated fix (if one is available).",
      "properties": {
        "fixedVersion": {
          "$ref": "Version",
          "description": "Required. The version of the package this vulnerability was fixed in. Setting this to VersionKind.MAXIMUM means no fix is yet available."
        },
        "fileLocation": {
          "description": "The location at which this package was found.",
          "items": {
            "$ref": "GrafeasV1FileLocation"
          },
          "type": "array"
        },
        "fixAvailable": {
          "type": "boolean",
          "description": "Output only. Whether a fix is available for this package."
        },
        "fixedCpeUri": {
          "description": "The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was fixed in. It is possible for this to be different from the affected_cpe_uri.",
          "type": "string"
        },
        "fixedPackage": {
          "description": "The package this vulnerability was fixed in. It is possible for this to be different from the affected_package.",
          "type": "string"
        },
        "effectiveSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when it is not available.",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string"
        },
        "affectedPackage": {
          "type": "string",
          "description": "Required. The package this vulnerability was found in."
        },
        "packageType": {
          "description": "The type of package (e.g. OS, MAVEN, GO).",
          "type": "string"
        },
        "affectedCpeUri": {
          "description": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was found in.",
          "type": "string"
        },
        "affectedVersion": {
          "description": "Required. The version of the package that is installed on the resource affected by this vulnerability.",
          "$ref": "Version"
        }
      },
      "type": "object",
      "id": "PackageIssue"
    },
    "AliasContext": {
      "description": "An alias to a repo revision.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The alias name."
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "description": "The alias kind."
        }
      },
      "id": "AliasContext",
      "type": "object"
    },
    "Source": {
      "id": "Source",
      "type": "object",
      "properties": {
        "additionalContexts": {
          "type": "array",
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field.",
          "items": {
            "$ref": "SourceContext"
          }
        },
        "fileHashes": {
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file.",
          "type": "object",
          "additionalProperties": {
            "$ref": "FileHashes"
          }
        },
        "context": {
          "description": "If provided, the source code used for the build came from this location.",
          "$ref": "SourceContext"
        },
        "artifactStorageSourceUri": {
          "type": "string",
          "description": "If provided, the input binary artifacts for the build came from this location."
        }
      },
      "description": "Source describes the location of the source used for the build."
    },
    "SlsaMetadata": {
      "id": "SlsaMetadata",
      "type": "object",
      "properties": {
        "completeness": {
          "description": "Indicates that the builder claims certain fields in this message to be complete.",
          "$ref": "SlsaCompleteness"
        },
        "reproducible": {
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output.",
          "type": "boolean"
        },
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        },
        "buildFinishedOn": {
          "description": "The timestamp of when the build completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "buildStartedOn": {
          "type": "string",
          "description": "The timestamp of when the build started.",
          "format": "google-datetime"
        }
      },
      "description": "Other properties of the build."
    },
    "SlsaCompleteness": {
      "type": "object",
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "properties": {
        "materials": {
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
          "type": "boolean"
        },
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        },
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        }
      },
      "id": "SlsaCompleteness"
    },
    "ListVulnerabilitiesResponse": {
      "type": "object",
      "properties": {
        "occurrences": {
          "type": "array",
          "description": "The list of Vulnerability Occurrences resulting from a scan.",
          "items": {
            "$ref": "Occurrence"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token that can be used in a subsequent call to ListVulnerabilities to continue retrieving results."
        }
      },
      "id": "ListVulnerabilitiesResponse",
      "description": "ListVulnerabilitiesResponse contains a single page of vulnerabilities resulting from a scan."
    },
    "BuildOccurrence": {
      "id": "BuildOccurrence",
      "type": "object",
      "properties": {
        "intotoProvenance": {
          "description": "Deprecated. See InTotoStatement for the replacement. In-toto Provenance representation as defined in spec.",
          "$ref": "InTotoProvenance"
        },
        "provenance": {
          "$ref": "BuildProvenance",
          "description": "The actual provenance for the build."
        },
        "provenanceBytes": {
          "description": "Serialized JSON representation of the provenance, used in generating the build signature in the corresponding build note. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes.",
          "type": "string"
        },
        "intotoStatement": {
          "$ref": "InTotoStatement",
          "description": "In-toto Statement representation as defined in spec. The intoto_statement can contain any type of provenance. The serialized payload of the statement can be stored and signed in the Occurrence's envelope."
        }
      },
      "description": "Details of a build occurrence."
    },
    "Metadata": {
      "properties": {
        "completeness": {
          "$ref": "Completeness",
          "description": "Indicates that the builder claims certain fields in this message to be complete."
        },
        "buildFinishedOn": {
          "description": "The timestamp of when the build completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "reproducible": {
          "type": "boolean",
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output."
        },
        "buildStartedOn": {
          "description": "The timestamp of when the build started.",
          "format": "google-datetime",
          "type": "string"
        },
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        }
      },
      "id": "Metadata",
      "description": "Other properties of the build.",
      "type": "object"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata": {
      "type": "object",
      "description": "Other properties of the build.",
      "properties": {
        "buildInvocationId": {
          "type": "string"
        },
        "buildFinishedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "buildStartedOn": {
          "format": "google-datetime",
          "type": "string"
        },
        "reproducible": {
          "type": "boolean"
        },
        "completeness": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness"
        }
      },
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata"
    },
    "SlsaProvenanceZeroTwo": {
      "description": "See full explanation of fields at slsa.dev/provenance/v0.2.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata"
        },
        "materials": {
          "items": {
            "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial"
          },
          "type": "array"
        },
        "buildConfig": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "buildType": {
          "type": "string"
        },
        "invocation": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation"
        },
        "builder": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder"
        }
      },
      "id": "SlsaProvenanceZeroTwo"
    },
    "Signature": {
      "type": "object",
      "id": "Signature",
      "description": "Verifiers (e.g. Kritis implementations) MUST verify signatures with respect to the trust anchors defined in policy (e.g. a Kritis policy). Typically this means that the verifier has been configured with a map from `public_key_id` to public key material (and any required parameters, e.g. signing algorithm). In particular, verification implementations MUST NOT treat the signature `public_key_id` as anything more than a key lookup hint. The `public_key_id` DOES NOT validate or authenticate a public key; it only provides a mechanism for quickly selecting a public key ALREADY CONFIGURED on the verifier through a trusted channel. Verification implementations MUST reject signatures in any of the following circumstances: * The `public_key_id` is not recognized by the verifier. * The public key that `public_key_id` refers to does not verify the signature with respect to the payload. The `signature` contents SHOULD NOT be \"attached\" (where the payload is included with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\" payload and only verify signatures with respect to explicitly provided payload (e.g. a `payload` field on the proto message that holds this Signature, or the canonical serialization of the proto message that holds this signature).",
      "properties": {
        "publicKeyId": {
          "description": "The identifier for the public key that verifies this signature. * The `public_key_id` is required. * The `public_key_id` SHOULD be an RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD be an immutable reference, such as a cryptographic digest. Examples of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\" See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\" * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\"",
          "type": "string"
        },
        "signature": {
          "format": "byte",
          "description": "The content of the signature, an opaque bytestring. The payload that this signature verifies MUST be unambiguously provided with the Signature during verification. A wrapper message might provide the payload explicitly. Alternatively, a message might have a canonical serialization that can always be unambiguously computed to derive the payload.",
          "type": "string"
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial": {
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial",
      "type": "object",
      "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on.",
      "properties": {
        "uri": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GerritSourceContext": {
      "id": "GerritSourceContext",
      "description": "A SourceContext referring to a Gerrit project.",
      "type": "object",
      "properties": {
        "gerritProject": {
          "type": "string",
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project."
        },
        "hostUri": {
          "type": "string",
          "description": "The URI of a running Gerrit instance."
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "revisionId": {
          "description": "A revision (commit) ID.",
          "type": "string"
        }
      }
    },
    "Artifact": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`."
        },
        "names": {
          "type": "array",
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "items": {
            "type": "string"
          }
        },
        "checksum": {
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container.",
          "type": "string"
        }
      },
      "id": "Artifact",
      "type": "object",
      "description": "Artifact describes a build product."
    },
    "CloudRepoSourceContext": {
      "properties": {
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "RepoId"
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "revisionId": {
          "type": "string",
          "description": "A revision ID."
        }
      },
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "id": "CloudRepoSourceContext",
      "type": "object"
    },
    "WindowsUpdate": {
      "description": "Windows Update represents the metadata about the update for the Windows operating system. The fields in this message come from the Windows Update API documented at https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nn-wuapi-iupdate.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The localized description of the update.",
          "type": "string"
        },
        "lastPublishedTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last published timestamp of the update."
        },
        "title": {
          "description": "The localized title of the update.",
          "type": "string"
        },
        "identity": {
          "description": "Required - The unique identifier for the update.",
          "$ref": "Identity"
        },
        "kbArticleIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Microsoft Knowledge Base article IDs that are associated with the update."
        },
        "supportUrl": {
          "description": "The hyperlink to the support information for the update.",
          "type": "string"
        },
        "categories": {
          "items": {
            "$ref": "Category"
          },
          "type": "array",
          "description": "The list of categories to which the update belongs."
        }
      },
      "id": "WindowsUpdate"
    },
    "Subject": {
      "type": "object",
      "id": "Subject",
      "properties": {
        "name": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "`\"\": \"\"` Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet",
          "type": "object"
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness": {
      "properties": {
        "parameters": {
          "type": "boolean"
        },
        "materials": {
          "type": "boolean"
        },
        "environment": {
          "type": "boolean"
        }
      },
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "Fingerprint": {
      "id": "Fingerprint",
      "type": "object",
      "description": "A set of properties that uniquely identify a given Docker image.",
      "properties": {
        "v1Name": {
          "type": "string",
          "description": "Required. The layer ID of the final layer in the Docker image's v1 representation."
        },
        "v2Blob": {
          "items": {
            "type": "string"
          },
          "description": "Required. The ordered list of v2 blobs that represent a given image.",
          "type": "array"
        },
        "v2Name": {
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept.",
          "type": "string"
        }
      }
    },
    "Version": {
      "properties": {
        "revision": {
          "type": "string",
          "description": "The iteration of the package build from the above version."
        },
        "inclusive": {
          "description": "Whether this version is specifying part of an inclusive range. Grafeas does not have the capability to specify version ranges; instead we have fields that specify start version and end versions. At times this is insufficient - we also need to specify whether the version is included in the range or is excluded from the range. This boolean is expected to be set to true when the version is included in a range.",
          "type": "boolean"
        },
        "kind": {
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
            "A special version representing positive infinity."
          ],
          "enum": [
            "VERSION_KIND_UNSPECIFIED",
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ]
        },
        "epoch": {
          "description": "Used to correct mistakes in the version numbering scheme.",
          "type": "integer",
          "format": "int32"
        },
        "fullName": {
          "type": "string",
          "description": "Human readable version string. This string is of the form :- and is only set when kind is NORMAL."
        },
        "name": {
          "description": "Required only when version kind is NORMAL. The main part of the version name.",
          "type": "string"
        }
      },
      "description": "Version contains structured information about the version of a package.",
      "type": "object",
      "id": "Version"
    },
    "AnalyzePackagesMetadataV1": {
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image.",
      "id": "AnalyzePackagesMetadataV1",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "When the scan was created.",
          "type": "string"
        },
        "resourceUri": {
          "type": "string",
          "description": "The resource URI of the container image being scanned."
        }
      }
    },
    "SlsaProvenance": {
      "id": "SlsaProvenance",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "SlsaMetadata"
        },
        "builder": {
          "description": "required",
          "$ref": "SlsaBuilder"
        },
        "recipe": {
          "$ref": "SlsaRecipe",
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required"
        },
        "materials": {
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "items": {
            "$ref": "Material"
          },
          "type": "array"
        }
      }
    },
    "NonCompliantFile": {
      "type": "object",
      "description": "Details about files that caused a compliance check to fail. display_command is a single command that can be used to display a list of non compliant files. When there is no such command, we can also iterate a list of non compliant file using 'path'.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Explains why a file is non compliant for a CIS check."
        },
        "path": {
          "type": "string",
          "description": "Empty if `display_command` is set."
        },
        "displayCommand": {
          "description": "Command to display the non-compliant files.",
          "type": "string"
        }
      },
      "id": "NonCompliantFile"
    },
    "Occurrence": {
      "properties": {
        "remediation": {
          "description": "A description of actions that can be taken to remedy the note.",
          "type": "string"
        },
        "package": {
          "$ref": "PackageOccurrence",
          "description": "Describes the installation of a package on the linked resource."
        },
        "build": {
          "$ref": "BuildOccurrence",
          "description": "Describes a verifiable build."
        },
        "kind": {
          "enum": [
            "NOTE_KIND_UNSPECIFIED",
            "VULNERABILITY",
            "BUILD",
            "IMAGE",
            "PACKAGE",
            "DEPLOYMENT",
            "DISCOVERY",
            "ATTESTATION",
            "UPGRADE",
            "COMPLIANCE",
            "DSSE_ATTESTATION"
          ],
          "description": "Output only. This explicitly denotes which of the occurrence details are specified. This field can be used as a filter in list requests.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available package upgrade.",
            "This represents a Compliance Note",
            "This represents a DSSE attestation Note"
          ],
          "type": "string"
        },
        "envelope": {
          "description": "https://github.com/secure-systems-lab/dsse",
          "$ref": "Envelope"
        },
        "attestation": {
          "description": "Describes an attestation of an artifact.",
          "$ref": "AttestationOccurrence"
        },
        "deployment": {
          "description": "Describes the deployment of an artifact on a runtime.",
          "$ref": "DeploymentOccurrence"
        },
        "vulnerability": {
          "$ref": "VulnerabilityOccurrence",
          "description": "Describes a security vulnerability."
        },
        "dsseAttestation": {
          "$ref": "DSSEAttestationOccurrence",
          "description": "Describes an attestation of an artifact using dsse."
        },
        "discovery": {
          "description": "Describes when a resource was discovered.",
          "$ref": "DiscoveryOccurrence"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this occurrence was last updated.",
          "format": "google-datetime"
        },
        "noteName": {
          "type": "string",
          "description": "Required. Immutable. The analysis note associated with this occurrence, in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. This field can be used as a filter in list requests."
        },
        "compliance": {
          "description": "Describes a compliance violation on a linked resource.",
          "$ref": "ComplianceOccurrence"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this occurrence was created.",
          "format": "google-datetime"
        },
        "image": {
          "description": "Describes how this resource derives from the basis in the associated note.",
          "$ref": "ImageOccurrence"
        },
        "upgrade": {
          "description": "Describes an available package upgrade on the linked resource.",
          "$ref": "UpgradeOccurrence"
        },
        "resourceUri": {
          "type": "string",
          "description": "Required. Immutable. A URI that represents the resource for which the occurrence applies. For example, `https://gcr.io/project/image@sha256:123abc` for a Docker image."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`."
        }
      },
      "type": "object",
      "description": "An instance of an analysis type that has been found on a resource.",
      "id": "Occurrence"
    },
    "UpgradeOccurrence": {
      "type": "object",
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability). For Windows, both distribution and windows_update contain information for the Windows update.",
      "properties": {
        "parsedVersion": {
          "description": "Required for non-Windows OS. The version of the package in a machine + human readable form.",
          "$ref": "Version"
        },
        "windowsUpdate": {
          "$ref": "WindowsUpdate",
          "description": "Required for Windows OS. Represents the metadata about the Windows update."
        },
        "distribution": {
          "$ref": "UpgradeDistribution",
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence."
        },
        "package": {
          "description": "Required for non-Windows OS. The package this Upgrade is for.",
          "type": "string"
        }
      },
      "id": "UpgradeOccurrence"
    },
    "SlsaRecipe": {
      "type": "object",
      "properties": {
        "environment": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different.",
          "type": "object"
        },
        "definedInMaterial": {
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        },
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "arguments": {
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "SlsaRecipe",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe."
    },
    "Material": {
      "id": "Material",
      "properties": {
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "Identity": {
      "properties": {
        "updateId": {
          "description": "The revision independent identifier of the update.",
          "type": "string"
        },
        "revision": {
          "format": "int32",
          "description": "The revision number of the update.",
          "type": "integer"
        }
      },
      "description": "The unique identifier of the update.",
      "id": "Identity",
      "type": "object"
    },
    "PackageOccurrence": {
      "type": "object",
      "description": "Details on how a particular software package was installed on a system.",
      "properties": {
        "license": {
          "description": "Licenses that have been declared by the authors of the package.",
          "$ref": "License"
        },
        "version": {
          "readOnly": true,
          "$ref": "Version",
          "description": "Output only. The version of the package."
        },
        "cpeUri": {
          "description": "Output only. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages.",
          "readOnly": true,
          "type": "string"
        },
        "architecture": {
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ],
          "description": "Output only. The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "readOnly": true,
          "type": "string"
        },
        "location": {
          "description": "All of the places within the filesystem versions of this package have been found.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "packageType": {
          "type": "string",
          "description": "Output only. The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Required. Output only. The name of the installed package.",
          "type": "string"
        }
      },
      "id": "PackageOccurrence"
    },
    "GrafeasV1FileLocation": {
      "type": "object",
      "id": "GrafeasV1FileLocation",
      "description": "Indicates the location at which a package was found.",
      "properties": {
        "filePath": {
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file.",
          "type": "string"
        }
      }
    },
    "Completeness": {
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "id": "Completeness",
      "properties": {
        "arguments": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe."
        },
        "environment": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.environment is claimed to be complete."
        },
        "materials": {
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "FileLocation": {
      "type": "object",
      "description": "Indicates the location at which a package was found.",
      "id": "FileLocation",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file."
        }
      }
    }
  },
  "name": "ondemandscanning",
  "ownerDomain": "google.com",
  "baseUrl": "https://ondemandscanning.googleapis.com/",
  "revision": "20230227",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "scans": {
              "methods": {
                "analyzePackages": {
                  "id": "ondemandscanning.projects.locations.scans.analyzePackages",
                  "request": {
                    "$ref": "AnalyzePackagesRequest"
                  },
                  "description": "Initiates an analysis of the provided packages.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/scans:analyzePackages",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent of the resource for which analysis is requested. Format: projects/[project_name]/locations/[location]",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+parent}/scans:analyzePackages",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              },
              "resources": {
                "vulnerabilities": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/scans/{scansId}/vulnerabilities",
                      "id": "ondemandscanning.projects.locations.scans.vulnerabilities.list",
                      "path": "v1beta1/{+parent}/vulnerabilities",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The page token, resulting from a previous call to ListVulnerabilities."
                        },
                        "pageSize": {
                          "description": "The number of vulnerabilities to retrieve.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/scans/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent of the collection of Vulnerabilities being requested. Format: projects/[project_name]/locations/[location]/scans/[scan_id]",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListVulnerabilitiesResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists vulnerabilities resulting from a successfully completed scan."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ondemandscanning.projects.locations.operations.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}/operations",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "id": "ondemandscanning.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "wait": {
                  "path": "v1beta1/{+name}:wait",
                  "parameters": {
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string",
                      "location": "query",
                      "format": "google-duration"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to wait on."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "id": "ondemandscanning.projects.locations.operations.wait",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "httpMethod": "POST"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "ondemandscanning.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "path": "v1beta1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST"
                },
                "get": {
                  "id": "ondemandscanning.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1beta1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://ondemandscanning.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "On-Demand Scanning",
  "documentationLink": "https://cloud.google.com/container-analysis/docs/on-demand-scanning/",
  "id": "ondemandscanning:v1beta1",
  "mtlsRootUrl": "https://ondemandscanning.mtls.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "kind": "discovery#restDescription",
  "description": "A service to scan container images for vulnerabilities.",
  "title": "On-Demand Scanning API"
}
