{
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "rootUrl": "https://ondemandscanning.googleapis.com/",
  "name": "ondemandscanning",
  "ownerDomain": "google.com",
  "description": "A service to scan container images for vulnerabilities.",
  "batchPath": "batch",
  "id": "ondemandscanning:v1beta1",
  "revision": "20210410",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "On-Demand Scanning",
  "title": "On-Demand Scanning API",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "scans": {
              "resources": {
                "vulnerabilities": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ondemandscanning.projects.locations.scans.vulnerabilities.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/scans/{scansId}/vulnerabilities",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListVulnerabilitiesResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The number of vulnerabilities to retrieve.",
                          "format": "int32"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/scans/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent of the collection of Vulnerabilities being requested. Format: projects/[project_name]/locations/[location]/scans/[scan_id]"
                        },
                        "pageToken": {
                          "description": "The page token, resulting from a previous call to ListVulnerabilities.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Lists vulnerabilities resulting from a successfully completed scan.",
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/vulnerabilities"
                    }
                  }
                }
              },
              "methods": {
                "analyzePackages": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "AnalyzePackagesRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent of the resource for which analysis is requested. Format: projects/[project_name]/locations/[location]"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "ondemandscanning.projects.locations.scans.analyzePackages",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/scans:analyzePackages",
                  "path": "v1beta1/{+parent}/scans:analyzePackages",
                  "description": "Initiates an analysis of the provided packages.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "ondemandscanning.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path"
                    }
                  }
                },
                "wait": {
                  "id": "ondemandscanning.projects.locations.operations.wait",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "parameters": {
                    "timeout": {
                      "location": "query",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "format": "google-duration",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to wait on.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1beta1/{+name}:wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "ondemandscanning.projects.locations.operations.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1beta1/{+name}"
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ondemandscanning.projects.locations.operations.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}/operations",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    }
                  }
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:cancel",
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "ondemandscanning.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1beta1",
  "baseUrl": "https://ondemandscanning.googleapis.com/",
  "servicePath": "",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "mtlsRootUrl": "https://ondemandscanning.mtls.googleapis.com/",
  "version_module": true,
  "protocol": "rest",
  "schemas": {
    "AnalyzePackagesRequest": {
      "properties": {
        "packages": {
          "items": {
            "$ref": "PackageData"
          },
          "type": "array",
          "description": "The packages to analyze."
        },
        "resourceUri": {
          "description": "Required. The resource URI of the container image being scanned.",
          "type": "string"
        }
      },
      "id": "AnalyzePackagesRequest",
      "description": "AnalyzePackagesRequest is the request to analyze a list of packages and create Vulnerability Occurrences for it.",
      "type": "object"
    },
    "PackageOccurrence": {
      "properties": {
        "location": {
          "type": "array",
          "description": "Required. All of the places within the filesystem versions of this package have been found.",
          "items": {
            "$ref": "Location"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the installed package."
        }
      },
      "description": "Details on how a particular software package was installed on a system.",
      "id": "PackageOccurrence",
      "type": "object"
    },
    "Command": {
      "id": "Command",
      "description": "Command describes a step performed as part of the build pipeline.",
      "type": "object",
      "properties": {
        "args": {
          "description": "Command-line arguments used when executing this command.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`."
        },
        "id": {
          "description": "Optional unique identifier for this command, used in wait_for to reference this command as a dependency.",
          "type": "string"
        },
        "env": {
          "description": "Environment variables set before running this command.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dir": {
          "description": "Working directory (relative to project source root) used when running this command.",
          "type": "string"
        },
        "waitFor": {
          "description": "The ID(s) of the command(s) that this command depends on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object",
      "id": "Status"
    },
    "BuildOccurrence": {
      "id": "BuildOccurrence",
      "description": "Details of a build occurrence.",
      "properties": {
        "provenanceBytes": {
          "description": "Serialized JSON representation of the provenance, used in generating the build signature in the corresponding build note. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes.",
          "type": "string"
        },
        "provenance": {
          "description": "Required. The actual provenance for the build.",
          "$ref": "BuildProvenance"
        }
      },
      "type": "object"
    },
    "WindowsUpdate": {
      "properties": {
        "description": {
          "description": "The localized description of the update.",
          "type": "string"
        },
        "kbArticleIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Microsoft Knowledge Base article IDs that are associated with the update."
        },
        "identity": {
          "$ref": "Identity",
          "description": "Required - The unique identifier for the update."
        },
        "supportUrl": {
          "type": "string",
          "description": "The hyperlink to the support information for the update."
        },
        "title": {
          "description": "The localized title of the update.",
          "type": "string"
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "Category"
          },
          "description": "The list of categories to which the update belongs."
        },
        "lastPublishedTimestamp": {
          "description": "The last published timestamp of the update.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Windows Update represents the metadata about the update for the Windows operating system. The fields in this message come from the Windows Update API documented at https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nn-wuapi-iupdate.",
      "id": "WindowsUpdate"
    },
    "AnalyzePackagesResponseV1": {
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "id": "AnalyzePackagesResponseV1",
      "properties": {
        "scan": {
          "type": "string",
          "description": "The name of the scan resource created by this successful scan."
        }
      },
      "type": "object"
    },
    "GerritSourceContext": {
      "type": "object",
      "properties": {
        "aliasContext": {
          "$ref": "AliasContext",
          "description": "An alias, which may be a branch or tag."
        },
        "hostUri": {
          "type": "string",
          "description": "The URI of a running Gerrit instance."
        },
        "revisionId": {
          "description": "A revision (commit) ID.",
          "type": "string"
        },
        "gerritProject": {
          "type": "string",
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project."
        }
      },
      "id": "GerritSourceContext",
      "description": "A SourceContext referring to a Gerrit project."
    },
    "UpgradeOccurrence": {
      "type": "object",
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability). For Windows, both distribution and windows_update contain information for the Windows update.",
      "id": "UpgradeOccurrence",
      "properties": {
        "windowsUpdate": {
          "$ref": "WindowsUpdate",
          "description": "Required for Windows OS. Represents the metadata about the Windows update."
        },
        "distribution": {
          "$ref": "UpgradeDistribution",
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence."
        },
        "parsedVersion": {
          "description": "Required for non-Windows OS. The version of the package in a machine + human readable form.",
          "$ref": "Version"
        },
        "package": {
          "description": "Required for non-Windows OS. The package this Upgrade is for.",
          "type": "string"
        }
      }
    },
    "RelatedUrl": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Specific URL associated with the resource."
        },
        "label": {
          "type": "string",
          "description": "Label to describe usage of the URL."
        }
      },
      "description": "Metadata for any related URL information.",
      "id": "RelatedUrl",
      "type": "object"
    },
    "AttestationOccurrence": {
      "type": "object",
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the authority to which this attestation is attached is primarily useful for lookup (how to find this attestation if you already know the authority and artifact to be verified) and intent (for which authority this attestation was intended to sign.",
      "id": "AttestationOccurrence",
      "properties": {
        "jwts": {
          "description": "One or more JWTs encoding a self-contained attestation. Each JWT encodes the payload that it verifies within the JWT itself. Verifier implementation SHOULD ignore the `serialized_payload` field when verifying these JWTs. If only JWTs are present on this AttestationOccurrence, then the `serialized_payload` SHOULD be left empty. Each JWT SHOULD encode a claim specific to the `resource_uri` of this Occurrence, but this is not validated by Grafeas metadata API implementations. The JWT itself is opaque to Grafeas.",
          "type": "array",
          "items": {
            "$ref": "Jwt"
          }
        },
        "serializedPayload": {
          "description": "Required. The serialized payload that is verified by one or more `signatures`.",
          "format": "byte",
          "type": "string"
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "Signature"
          },
          "description": "One or more signatures over `serialized_payload`. Verifier implementations should consider this attestation message verified if at least one `signature` verifies `serialized_payload`. See `Signature` in common.proto for more details on signature structure and verification."
        }
      }
    },
    "UpgradeDistribution": {
      "properties": {
        "classification": {
          "description": "The operating system classification of this Upgrade, as specified by the upstream operating system upgrade feed. For Windows the classification is one of the category_ids listed at https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ff357803(v=vs.85)",
          "type": "string"
        },
        "cve": {
          "description": "The cve tied to this Upgrade.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cpeUri": {
          "description": "Required - The specific operating system this metadata applies to. See https://cpe.mitre.org/specification/.",
          "type": "string"
        },
        "severity": {
          "description": "The severity as specified by the upstream operating system.",
          "type": "string"
        }
      },
      "id": "UpgradeDistribution",
      "description": "The Upgrade Distribution represents metadata about the Upgrade for each operating system (CPE). Some distributions have additional metadata around updates, classifying them into various categories and severities.",
      "type": "object"
    },
    "PackageData": {
      "type": "object",
      "properties": {
        "unused": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) in which the vulnerability may manifest. Examples include distro or storage location for vulnerable jar."
        },
        "os": {
          "description": "The OS affected by a vulnerability This field is deprecated and the information is in cpe_uri",
          "type": "string"
        },
        "package": {
          "type": "string",
          "description": "The package being analysed for vulnerabilities"
        },
        "version": {
          "description": "The version of the package being analysed",
          "type": "string"
        },
        "osVersion": {
          "type": "string",
          "description": "The version of the OS This field is deprecated and the information is in cpe_uri"
        }
      },
      "id": "PackageData"
    },
    "AliasContext": {
      "type": "object",
      "id": "AliasContext",
      "description": "An alias to a repo revision.",
      "properties": {
        "name": {
          "description": "The alias name.",
          "type": "string"
        },
        "kind": {
          "description": "The alias kind.",
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ]
        }
      }
    },
    "VulnerabilityOccurrence": {
      "description": "An occurrence of a severity vulnerability on a resource.",
      "type": "object",
      "id": "VulnerabilityOccurrence",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
        },
        "effectiveSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "The distro assigned severity for this vulnerability when it is available, otherwise this is the note provider assigned severity."
        },
        "packageIssue": {
          "items": {
            "$ref": "PackageIssue"
          },
          "description": "Required. The set of affected locations and their fixes (if available) within the associated resource.",
          "type": "array"
        },
        "relatedUrls": {
          "items": {
            "$ref": "RelatedUrl"
          },
          "description": "Output only. URLs related to this vulnerability.",
          "type": "array"
        },
        "shortDescription": {
          "type": "string",
          "description": "Output only. A one sentence description of this vulnerability."
        },
        "cvssScore": {
          "type": "number",
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "format": "float"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "description": "Output only. The note provider assigned severity of this vulnerability.",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "longDescription": {
          "description": "Output only. A detailed description of this vulnerability.",
          "type": "string"
        },
        "fixAvailable": {
          "type": "boolean",
          "description": "Output only. Whether at least one of the affected packages has a fix available."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "DiscoveryOccurrence": {
      "description": "Provides information about the analysis status of a discovered resource.",
      "type": "object",
      "properties": {
        "continuousAnalysis": {
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "type": "string",
          "description": "Whether the resource is continuously analyzed."
        },
        "analysisStatus": {
          "description": "The status of discovery for the resource.",
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported"
          ],
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "type": "string"
        },
        "analysisStatusError": {
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API.",
          "$ref": "Status"
        },
        "lastScanTime": {
          "type": "string",
          "description": "The last time this resource was scanned.",
          "format": "google-datetime"
        },
        "cpe": {
          "description": "The CPE of the resource being scanned.",
          "type": "string"
        }
      },
      "id": "DiscoveryOccurrence"
    },
    "RepoId": {
      "properties": {
        "projectRepoId": {
          "$ref": "ProjectRepoId",
          "description": "A combination of a project ID and a repo name."
        },
        "uid": {
          "type": "string",
          "description": "A server-assigned, globally unique identifier."
        }
      },
      "type": "object",
      "description": "A unique identifier for a Cloud Repo.",
      "id": "RepoId"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "ListVulnerabilitiesResponse": {
      "id": "ListVulnerabilitiesResponse",
      "properties": {
        "occurrences": {
          "description": "The list of Vulnerability Occurrences resulting from a scan.",
          "items": {
            "$ref": "Occurrence"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token that can be used in a subsequent call to ListVulnerabilities to continue retrieving results."
        }
      },
      "type": "object",
      "description": "ListVulnerabilitiesResponse contains a single page of vulnerabilities resulting from a scan."
    },
    "Version": {
      "type": "object",
      "id": "Version",
      "description": "Version contains structured information about the version of a package.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required only when version kind is NORMAL. The main part of the version name."
        },
        "revision": {
          "description": "The iteration of the package build from the above version.",
          "type": "string"
        },
        "epoch": {
          "format": "int32",
          "type": "integer",
          "description": "Used to correct mistakes in the version numbering scheme."
        },
        "fullName": {
          "description": "Human readable version string. This string is of the form :- and is only set when kind is NORMAL.",
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
            "A special version representing positive infinity."
          ],
          "enum": [
            "VERSION_KIND_UNSPECIFIED",
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "type": "string",
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions."
        },
        "inclusive": {
          "type": "boolean",
          "description": "Whether this version is specifying part of an inclusive range. Grafeas does not have the capability to specify version ranges; instead we have fields that specify start version and end versions. At times this is insufficient - we also need to specify whether the version is included in the range or is excluded from the range. This boolean is expected to be set to true when the version is included in a range."
        }
      }
    },
    "Jwt": {
      "id": "Jwt",
      "properties": {
        "compactJwt": {
          "description": "The compact encoding of a JWS, which is always three base64 encoded strings joined by periods. For details, see: https://tools.ietf.org/html/rfc7515.html#section-3.1",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Layer": {
      "type": "object",
      "properties": {
        "arguments": {
          "type": "string",
          "description": "The recovered arguments to the Dockerfile directive."
        },
        "directive": {
          "type": "string",
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information."
        }
      },
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "id": "Layer"
    },
    "FileHashes": {
      "description": "Container message for hashes of byte content of files, used in source messages to verify integrity of source input to the build.",
      "id": "FileHashes",
      "type": "object",
      "properties": {
        "fileHash": {
          "description": "Required. Collection of file hashes.",
          "type": "array",
          "items": {
            "$ref": "Hash"
          }
        }
      }
    },
    "DeploymentOccurrence": {
      "properties": {
        "platform": {
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ],
          "description": "Platform hosting this deployment.",
          "enumDescriptions": [
            "Unknown.",
            "Google Container Engine.",
            "Google App Engine: Flexible Environment.",
            "Custom user-defined platform."
          ]
        },
        "config": {
          "description": "Configuration used to create this deployment.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "Address of the runtime element hosting this deployment."
        },
        "resourceUri": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name."
        },
        "undeployTime": {
          "type": "string",
          "description": "End of the lifetime of this deployment.",
          "format": "google-datetime"
        },
        "deployTime": {
          "description": "Required. Beginning of the lifetime of this deployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "userEmail": {
          "type": "string",
          "description": "Identity of the user that triggered this deployment."
        }
      },
      "type": "object",
      "description": "The period during which some deployable was active in a runtime.",
      "id": "DeploymentOccurrence"
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Category": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The localized name of the category."
        },
        "categoryId": {
          "type": "string",
          "description": "The identifier of the category."
        }
      },
      "id": "Category",
      "type": "object",
      "description": "The category to which the update belongs."
    },
    "AnalyzePackagesResponse": {
      "type": "object",
      "id": "AnalyzePackagesResponse",
      "properties": {
        "scan": {
          "description": "The name of the scan resource created by this successful scan.",
          "type": "string"
        }
      },
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan."
    },
    "Identity": {
      "id": "Identity",
      "properties": {
        "updateId": {
          "description": "The revision independent identifier of the update.",
          "type": "string"
        },
        "revision": {
          "description": "The revision number of the update.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The unique identifier of the update.",
      "type": "object"
    },
    "CloudRepoSourceContext": {
      "type": "object",
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "id": "CloudRepoSourceContext",
      "properties": {
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "RepoId"
        },
        "aliasContext": {
          "$ref": "AliasContext",
          "description": "An alias, which may be a branch or tag."
        },
        "revisionId": {
          "type": "string",
          "description": "A revision ID."
        }
      }
    },
    "ProjectRepoId": {
      "properties": {
        "projectId": {
          "description": "The ID of the project.",
          "type": "string"
        },
        "repoName": {
          "description": "The name of the repo. Leave empty for the default repo.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProjectRepoId",
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project."
    },
    "PackageIssue": {
      "properties": {
        "affectedVersion": {
          "description": "Required. The version of the package that is installed on the resource affected by this vulnerability.",
          "$ref": "Version"
        },
        "fixAvailable": {
          "description": "Output only. Whether a fix is available for this package.",
          "type": "boolean"
        },
        "fixedCpeUri": {
          "type": "string",
          "description": "The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was fixed in. It is possible for this to be different from the affected_cpe_uri."
        },
        "affectedPackage": {
          "description": "Required. The package this vulnerability was found in.",
          "type": "string"
        },
        "fixedVersion": {
          "$ref": "Version",
          "description": "Required. The version of the package this vulnerability was fixed in. Setting this to VersionKind.MAXIMUM means no fix is yet available."
        },
        "fixedPackage": {
          "description": "The package this vulnerability was fixed in. It is possible for this to be different from the affected_package.",
          "type": "string"
        },
        "affectedCpeUri": {
          "description": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was found in.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A detail for a distro and package this vulnerability occurrence was found in and its associated fix (if one is available).",
      "id": "PackageIssue"
    },
    "Location": {
      "id": "Location",
      "description": "An occurrence of a particular package installation found within a system's filesystem. E.g., glibc was found in `/var/lib/dpkg/status`.",
      "type": "object",
      "properties": {
        "cpeUri": {
          "type": "string",
          "description": "Required. The CPE URI in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package."
        },
        "version": {
          "description": "The version installed at this location.",
          "$ref": "Version"
        },
        "path": {
          "description": "The path from which we gathered that this package/version is installed.",
          "type": "string"
        }
      }
    },
    "AnalyzePackagesMetadata": {
      "id": "AnalyzePackagesMetadata",
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "When the scan was created.",
          "format": "google-datetime"
        },
        "resourceUri": {
          "type": "string",
          "description": "The resource URI of the container image being scanned."
        }
      },
      "type": "object"
    },
    "Fingerprint": {
      "properties": {
        "v1Name": {
          "type": "string",
          "description": "Required. The layer ID of the final layer in the Docker image's v1 representation."
        },
        "v2Name": {
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept.",
          "type": "string"
        },
        "v2Blob": {
          "description": "Required. The ordered list of v2 blobs that represent a given image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A set of properties that uniquely identify a given Docker image.",
      "id": "Fingerprint",
      "type": "object"
    },
    "GitSourceContext": {
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub).",
      "id": "GitSourceContext",
      "properties": {
        "revisionId": {
          "description": "Git commit hash.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Git repository URL."
        }
      },
      "type": "object"
    },
    "Hash": {
      "properties": {
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Required. The hash value."
        },
        "type": {
          "type": "string",
          "description": "Required. The type of hash that was performed, e.g. \"SHA-256\"."
        }
      },
      "id": "Hash",
      "description": "Container message for hash values.",
      "type": "object"
    },
    "SourceContext": {
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory.",
      "type": "object",
      "properties": {
        "gerrit": {
          "description": "A SourceContext referring to a Gerrit project.",
          "$ref": "GerritSourceContext"
        },
        "cloudRepo": {
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo.",
          "$ref": "CloudRepoSourceContext"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user defined metadata."
        },
        "git": {
          "$ref": "GitSourceContext",
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub)."
        }
      },
      "id": "SourceContext"
    },
    "AnalyzePackagesMetadataV1": {
      "type": "object",
      "id": "AnalyzePackagesMetadataV1",
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image.",
      "properties": {
        "createTime": {
          "description": "When the scan was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceUri": {
          "description": "The resource URI of the container image being scanned.",
          "type": "string"
        }
      }
    },
    "Source": {
      "properties": {
        "fileHashes": {
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file.",
          "type": "object",
          "additionalProperties": {
            "$ref": "FileHashes"
          }
        },
        "artifactStorageSourceUri": {
          "type": "string",
          "description": "If provided, the input binary artifacts for the build came from this location."
        },
        "additionalContexts": {
          "type": "array",
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field.",
          "items": {
            "$ref": "SourceContext"
          }
        },
        "context": {
          "description": "If provided, the source code used for the build came from this location.",
          "$ref": "SourceContext"
        }
      },
      "type": "object",
      "description": "Source describes the location of the source used for the build.",
      "id": "Source"
    },
    "BuildProvenance": {
      "properties": {
        "creator": {
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time.",
          "type": "string"
        },
        "builderVersion": {
          "description": "Version string of the builder at the time this build was executed.",
          "type": "string"
        },
        "sourceProvenance": {
          "$ref": "Source",
          "description": "Details of the Source input to the build."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time at which execution of the build was finished.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Unique identifier of the build."
        },
        "builtArtifacts": {
          "description": "Output of the build.",
          "type": "array",
          "items": {
            "$ref": "Artifact"
          }
        },
        "commands": {
          "type": "array",
          "description": "Commands requested by the build.",
          "items": {
            "$ref": "Command"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time at which the build was created.",
          "type": "string"
        },
        "triggerId": {
          "description": "Trigger identifier if the build was triggered automatically; empty if not.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which execution of the build was started."
        },
        "buildOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details."
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "logsUri": {
          "type": "string",
          "description": "URI where any logs for this provenance were written."
        }
      },
      "type": "object",
      "id": "BuildProvenance",
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion."
    },
    "Occurrence": {
      "id": "Occurrence",
      "type": "object",
      "description": "An instance of an analysis type that has been found on a resource.",
      "properties": {
        "vulnerability": {
          "$ref": "VulnerabilityOccurrence",
          "description": "Describes a security vulnerability."
        },
        "resourceUri": {
          "description": "Required. Immutable. A URI that represents the resource for which the occurrence applies. For example, `https://gcr.io/project/image@sha256:123abc` for a Docker image.",
          "type": "string"
        },
        "image": {
          "description": "Describes how this resource derives from the basis in the associated note.",
          "$ref": "ImageOccurrence"
        },
        "package": {
          "description": "Describes the installation of a package on the linked resource.",
          "$ref": "PackageOccurrence"
        },
        "build": {
          "$ref": "BuildOccurrence",
          "description": "Describes a verifiable build."
        },
        "remediation": {
          "type": "string",
          "description": "A description of actions that can be taken to remedy the note."
        },
        "upgrade": {
          "description": "Describes an available package upgrade on the linked resource.",
          "$ref": "UpgradeOccurrence"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`."
        },
        "deployment": {
          "description": "Describes the deployment of an artifact on a runtime.",
          "$ref": "DeploymentOccurrence"
        },
        "updateTime": {
          "description": "Output only. The time this occurrence was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "noteName": {
          "description": "Required. Immutable. The analysis note associated with this occurrence, in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "kind": {
          "enum": [
            "NOTE_KIND_UNSPECIFIED",
            "VULNERABILITY",
            "BUILD",
            "IMAGE",
            "PACKAGE",
            "DEPLOYMENT",
            "DISCOVERY",
            "ATTESTATION",
            "UPGRADE"
          ],
          "description": "Output only. This explicitly denotes which of the occurrence details are specified. This field can be used as a filter in list requests.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available package upgrade."
          ]
        },
        "attestation": {
          "description": "Describes an attestation of an artifact.",
          "$ref": "AttestationOccurrence"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this occurrence was created.",
          "type": "string"
        },
        "discovery": {
          "$ref": "DiscoveryOccurrence",
          "description": "Describes when a resource was discovered."
        }
      }
    },
    "Artifact": {
      "properties": {
        "names": {
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`."
        },
        "checksum": {
          "type": "string",
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container."
        }
      },
      "type": "object",
      "description": "Artifact describes a build product.",
      "id": "Artifact"
    },
    "ImageOccurrence": {
      "description": "Details of the derived image portion of the DockerImage relationship. This image would be produced from a Dockerfile with FROM .",
      "type": "object",
      "properties": {
        "fingerprint": {
          "$ref": "Fingerprint",
          "description": "Required. The fingerprint of the derived image."
        },
        "distance": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of layers by which this image differs from the associated image basis."
        },
        "layerInfo": {
          "description": "This contains layer-specific metadata, if populated it has length \"distance\" and is ordered with [distance] being the layer immediately following the base image and [1] being the final layer.",
          "type": "array",
          "items": {
            "$ref": "Layer"
          }
        },
        "baseResourceUrl": {
          "description": "Output only. This contains the base image URL for the derived image occurrence.",
          "type": "string"
        }
      },
      "id": "ImageOccurrence"
    },
    "Signature": {
      "id": "Signature",
      "properties": {
        "signature": {
          "format": "byte",
          "type": "string",
          "description": "The content of the signature, an opaque bytestring. The payload that this signature verifies MUST be unambiguously provided with the Signature during verification. A wrapper message might provide the payload explicitly. Alternatively, a message might have a canonical serialization that can always be unambiguously computed to derive the payload."
        },
        "publicKeyId": {
          "type": "string",
          "description": "The identifier for the public key that verifies this signature. * The `public_key_id` is required. * The `public_key_id` SHOULD be an RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD be an immutable reference, such as a cryptographic digest. Examples of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\" See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\" * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\""
        }
      },
      "type": "object",
      "description": "Verifiers (e.g. Kritis implementations) MUST verify signatures with respect to the trust anchors defined in policy (e.g. a Kritis policy). Typically this means that the verifier has been configured with a map from `public_key_id` to public key material (and any required parameters, e.g. signing algorithm). In particular, verification implementations MUST NOT treat the signature `public_key_id` as anything more than a key lookup hint. The `public_key_id` DOES NOT validate or authenticate a public key; it only provides a mechanism for quickly selecting a public key ALREADY CONFIGURED on the verifier through a trusted channel. Verification implementations MUST reject signatures in any of the following circumstances: * The `public_key_id` is not recognized by the verifier. * The public key that `public_key_id` refers to does not verify the signature with respect to the payload. The `signature` contents SHOULD NOT be \"attached\" (where the payload is included with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\" payload and only verify signatures with respect to explicitly provided payload (e.g. a `payload` field on the proto message that holds this Signature, or the canonical serialization of the proto message that holds this signature)."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/container-analysis/docs/on-demand-scanning/",
  "basePath": ""
}
