{
  "ownerDomain": "google.com",
  "rootUrl": "https://ondemandscanning.googleapis.com/",
  "mtlsRootUrl": "https://ondemandscanning.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "parameters": {
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "batchPath": "batch",
  "id": "ondemandscanning:v1",
  "fullyEncodeReservedExpansion": true,
  "title": "On-Demand Scanning API",
  "ownerName": "Google",
  "version_module": true,
  "version": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "scans": {
              "resources": {
                "vulnerabilities": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ondemandscanning.projects.locations.scans.vulnerabilities.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "The page token, resulting from a previous call to ListVulnerabilities.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The number of vulnerabilities to retrieve.",
                          "type": "integer"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent of the collection of Vulnerabilities being requested. Format: projects/[project_name]/locations/[location]/scans/[scan_id]",
                          "pattern": "^projects/[^/]+/locations/[^/]+/scans/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListVulnerabilitiesResponseV1"
                      },
                      "path": "v1/{+parent}/vulnerabilities",
                      "description": "Lists vulnerabilities resulting from a successfully completed scan.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scans/{scansId}/vulnerabilities",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "analyzePackages": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent of the resource for which analysis is requested. Format: projects/[project_name]/locations/[location]"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "ondemandscanning.projects.locations.scans.analyzePackages",
                  "request": {
                    "$ref": "AnalyzePackagesRequestV1"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scans:analyzePackages",
                  "path": "v1/{+parent}/scans:analyzePackages",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Initiates an analysis of the provided packages."
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ondemandscanning.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "wait": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ondemandscanning.projects.locations.operations.wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameters": {
                    "timeout": {
                      "location": "query",
                      "format": "google-duration",
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to wait on.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:wait",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "ondemandscanning.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "id": "ondemandscanning.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "id": "ondemandscanning.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations"
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://ondemandscanning.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "canonicalName": "On-Demand Scanning",
  "kind": "discovery#restDescription",
  "description": "A service to scan container images for vulnerabilities.",
  "documentationLink": "https://cloud.google.com/container-analysis/docs/on-demand-scanning/",
  "schemas": {
    "RelatedUrl": {
      "properties": {
        "label": {
          "type": "string",
          "description": "Label to describe usage of the URL."
        },
        "url": {
          "type": "string",
          "description": "Specific URL associated with the resource."
        }
      },
      "description": "Metadata for any related URL information.",
      "type": "object",
      "id": "RelatedUrl"
    },
    "SbomReferenceIntotoPayload": {
      "description": "The actual payload that contains the SBOM Reference data. The payload follows the intoto statement specification. See https://github.com/in-toto/attestation/blob/main/spec/v1.0/statement.md for more details.",
      "id": "SbomReferenceIntotoPayload",
      "type": "object",
      "properties": {
        "subject": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          },
          "description": "Set of software artifacts that the attestation applies to. Each element represents a single software artifact."
        },
        "predicate": {
          "description": "Additional parameters of the Predicate. Includes the actual data about the SBOM.",
          "$ref": "SbomReferenceIntotoPredicate"
        },
        "_type": {
          "description": "Identifier for the schema of the Statement.",
          "type": "string"
        },
        "predicateType": {
          "type": "string",
          "description": "URI identifying the type of the Predicate."
        }
      }
    },
    "SlsaBuilder": {
      "type": "object",
      "id": "SlsaBuilder",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "UpgradeOccurrence": {
      "properties": {
        "distribution": {
          "$ref": "UpgradeDistribution",
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence."
        },
        "parsedVersion": {
          "$ref": "Version",
          "description": "Required for non-Windows OS. The version of the package in a machine + human readable form."
        },
        "windowsUpdate": {
          "$ref": "WindowsUpdate",
          "description": "Required for Windows OS. Represents the metadata about the Windows update."
        },
        "package": {
          "description": "Required for non-Windows OS. The package this Upgrade is for.",
          "type": "string"
        }
      },
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability). For Windows, both distribution and windows_update contain information for the Windows update.",
      "id": "UpgradeOccurrence",
      "type": "object"
    },
    "Occurrence": {
      "id": "Occurrence",
      "properties": {
        "vulnerability": {
          "$ref": "VulnerabilityOccurrence",
          "description": "Describes a security vulnerability."
        },
        "sbomReference": {
          "description": "Describes a specific SBOM reference occurrences.",
          "$ref": "SBOMReferenceOccurrence"
        },
        "remediation": {
          "type": "string",
          "description": "A description of actions that can be taken to remedy the note."
        },
        "kind": {
          "enum": [
            "NOTE_KIND_UNSPECIFIED",
            "VULNERABILITY",
            "BUILD",
            "IMAGE",
            "PACKAGE",
            "DEPLOYMENT",
            "DISCOVERY",
            "ATTESTATION",
            "UPGRADE",
            "COMPLIANCE",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available package upgrade.",
            "This represents a Compliance Note",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents an SBOM Reference."
          ],
          "description": "Output only. This explicitly denotes which of the occurrence details are specified. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "envelope": {
          "description": "https://github.com/secure-systems-lab/dsse",
          "$ref": "Envelope"
        },
        "discovery": {
          "$ref": "DiscoveryOccurrence",
          "description": "Describes when a resource was discovered."
        },
        "attestation": {
          "$ref": "AttestationOccurrence",
          "description": "Describes an attestation of an artifact."
        },
        "resourceUri": {
          "type": "string",
          "description": "Required. Immutable. A URI that represents the resource for which the occurrence applies. For example, `https://gcr.io/project/image@sha256:123abc` for a Docker image."
        },
        "image": {
          "description": "Describes how this resource derives from the basis in the associated note.",
          "$ref": "ImageOccurrence"
        },
        "compliance": {
          "$ref": "ComplianceOccurrence",
          "description": "Describes a compliance violation on a linked resource."
        },
        "noteName": {
          "type": "string",
          "description": "Required. Immutable. The analysis note associated with this occurrence, in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. This field can be used as a filter in list requests."
        },
        "build": {
          "$ref": "BuildOccurrence",
          "description": "Describes a verifiable build."
        },
        "name": {
          "description": "Output only. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
          "type": "string"
        },
        "dsseAttestation": {
          "description": "Describes an attestation of an artifact using dsse.",
          "$ref": "DSSEAttestationOccurrence"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this occurrence was last updated.",
          "format": "google-datetime"
        },
        "package": {
          "$ref": "PackageOccurrence",
          "description": "Describes the installation of a package on the linked resource."
        },
        "upgrade": {
          "description": "Describes an available package upgrade on the linked resource.",
          "$ref": "UpgradeOccurrence"
        },
        "deployment": {
          "$ref": "DeploymentOccurrence",
          "description": "Describes the deployment of an artifact on a runtime."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this occurrence was created.",
          "format": "google-datetime"
        }
      },
      "description": "An instance of an analysis type that has been found on a resource.",
      "type": "object"
    },
    "Justification": {
      "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED.",
      "type": "object",
      "properties": {
        "justificationType": {
          "description": "The justification type for this vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "JUSTIFICATION_TYPE_UNSPECIFIED.",
            "The vulnerable component is not present in the product.",
            "The vulnerable code is not present. Typically this case occurs when source code is configured or built in a way that excludes the vulnerable code.",
            "The vulnerable code can not be executed. Typically this case occurs when the product includes the vulnerable code but does not call or use the vulnerable code.",
            "The vulnerable code cannot be controlled by an attacker to exploit the vulnerability.",
            "The product includes built-in protections or features that prevent exploitation of the vulnerability. These built-in protections cannot be subverted by the attacker and cannot be configured or disabled by the user. These mitigations completely prevent exploitation based on known attack vectors."
          ],
          "enum": [
            "JUSTIFICATION_TYPE_UNSPECIFIED",
            "COMPONENT_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_IN_EXECUTE_PATH",
            "VULNERABLE_CODE_CANNOT_BE_CONTROLLED_BY_ADVERSARY",
            "INLINE_MITIGATIONS_ALREADY_EXIST"
          ]
        },
        "details": {
          "description": "Additional details on why this justification was chosen.",
          "type": "string"
        }
      },
      "id": "Justification"
    },
    "BuildOccurrence": {
      "properties": {
        "provenance": {
          "$ref": "BuildProvenance",
          "description": "The actual provenance for the build."
        },
        "intotoStatement": {
          "description": "In-toto Statement representation as defined in spec. The intoto_statement can contain any type of provenance. The serialized payload of the statement can be stored and signed in the Occurrence's envelope.",
          "$ref": "InTotoStatement"
        },
        "provenanceBytes": {
          "type": "string",
          "description": "Serialized JSON representation of the provenance, used in generating the build signature in the corresponding build note. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes."
        },
        "intotoProvenance": {
          "description": "Deprecated. See InTotoStatement for the replacement. In-toto Provenance representation as defined in spec.",
          "$ref": "InTotoProvenance"
        }
      },
      "id": "BuildOccurrence",
      "type": "object",
      "description": "Details of a build occurrence."
    },
    "Completeness": {
      "id": "Completeness",
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "type": "object",
      "properties": {
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        },
        "environment": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.environment is claimed to be complete."
        },
        "materials": {
          "type": "boolean",
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
        }
      }
    },
    "AliasContext": {
      "description": "An alias to a repo revision.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The alias name.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "description": "The alias kind."
        }
      },
      "id": "AliasContext"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness": {
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "properties": {
        "materials": {
          "type": "boolean"
        },
        "environment": {
          "type": "boolean"
        },
        "parameters": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness"
    },
    "LanguagePackageDependency": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "package": {
          "type": "string"
        }
      },
      "description": "Indicates a language package available between this package and the customer's resource artifact.",
      "id": "LanguagePackageDependency"
    },
    "AnalyzePackagesMetadata": {
      "id": "AnalyzePackagesMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "When the scan was created.",
          "format": "google-datetime"
        },
        "resourceUri": {
          "description": "The resource URI of the container image being scanned.",
          "type": "string"
        }
      },
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image.",
      "type": "object"
    },
    "AnalysisCompleted": {
      "properties": {
        "analysisType": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AnalysisCompleted",
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource."
    },
    "Command": {
      "description": "Command describes a step performed as part of the build pipeline.",
      "id": "Command",
      "properties": {
        "env": {
          "type": "array",
          "description": "Environment variables set before running this command.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Optional unique identifier for this command, used in wait_for to reference this command as a dependency.",
          "type": "string"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Command-line arguments used when executing this command."
        },
        "dir": {
          "type": "string",
          "description": "Working directory (relative to project source root) used when running this command."
        },
        "waitFor": {
          "items": {
            "type": "string"
          },
          "description": "The ID(s) of the command(s) that this command depends on.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`."
        }
      },
      "type": "object"
    },
    "VulnerabilityOccurrence": {
      "properties": {
        "shortDescription": {
          "type": "string",
          "description": "Output only. A one sentence description of this vulnerability."
        },
        "relatedUrls": {
          "type": "array",
          "description": "Output only. URLs related to this vulnerability.",
          "items": {
            "$ref": "RelatedUrl"
          }
        },
        "cvssScore": {
          "format": "float",
          "type": "number",
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity."
        },
        "fixAvailable": {
          "type": "boolean",
          "description": "Output only. Whether at least one of the affected packages has a fix available."
        },
        "cvssV2": {
          "$ref": "CVSS",
          "description": "The cvss v2 score for the vulnerability."
        },
        "longDescription": {
          "description": "Output only. A detailed description of this vulnerability.",
          "type": "string"
        },
        "vexAssessment": {
          "$ref": "VexAssessment"
        },
        "effectiveSeverity": {
          "description": "The distro assigned severity for this vulnerability when it is available, otherwise this is the note provider assigned severity. When there are multiple PackageIssues for this vulnerability, they can have different effective severities because some might be provided by the distro while others are provided by the language ecosystem for a language pack. For this reason, it is advised to use the effective severity on the PackageIssue level. In the case where multiple PackageIssues have differing effective severities, this field should be the highest severity for any of the PackageIssues.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "type": {
          "type": "string",
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
        },
        "packageIssue": {
          "type": "array",
          "description": "Required. The set of affected locations and their fixes (if available) within the associated resource.",
          "items": {
            "$ref": "PackageIssue"
          }
        },
        "cvssVersion": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3"
          ],
          "description": "Output only. CVSS version used to populate cvss_score and severity.",
          "type": "string"
        },
        "cvssv3": {
          "$ref": "CVSS",
          "description": "The cvss v3 score for the vulnerability."
        },
        "severity": {
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Output only. The note provider assigned severity of this vulnerability.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "VulnerabilityOccurrence",
      "description": "An occurrence of a severity vulnerability on a resource."
    },
    "VexAssessment": {
      "id": "VexAssessment",
      "type": "object",
      "description": "VexAssessment provides all publisher provided Vex information that is related to this vulnerability.",
      "properties": {
        "justification": {
          "$ref": "Justification",
          "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED."
        },
        "impacts": {
          "description": "Contains information about the impact of this vulnerability, this will change with time.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "relatedUris": {
          "description": "Holds a list of references associated with this vulnerability item and assessment.",
          "items": {
            "$ref": "RelatedUrl"
          },
          "type": "array"
        },
        "remediations": {
          "type": "array",
          "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
          "items": {
            "$ref": "Remediation"
          }
        },
        "noteName": {
          "type": "string",
          "description": "The VulnerabilityAssessment note from which this VexAssessment was generated. This will be of the form: `projects/[PROJECT_ID]/notes/[NOTE_ID]`."
        },
        "state": {
          "enumDescriptions": [
            "No state is specified.",
            "This product is known to be affected by this vulnerability.",
            "This product is known to be not affected by this vulnerability.",
            "This product contains a fix for this vulnerability.",
            "It is not known yet whether these versions are or are not affected by the vulnerability. However, it is still under investigation."
          ],
          "description": "Provides the state of this Vulnerability assessment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "AFFECTED",
            "NOT_AFFECTED",
            "FIXED",
            "UNDER_INVESTIGATION"
          ],
          "type": "string"
        },
        "cve": {
          "type": "string",
          "description": "Holds the MITRE standard Common Vulnerabilities and Exposures (CVE) tracking number for the vulnerability."
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource": {
      "description": "Describes where the config file that kicked off the build came from. This is effectively a pointer to the source where buildConfig came from.",
      "properties": {
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "entryPoint": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource"
    },
    "SourceContext": {
      "type": "object",
      "id": "SourceContext",
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory.",
      "properties": {
        "cloudRepo": {
          "$ref": "CloudRepoSourceContext",
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo."
        },
        "labels": {
          "description": "Labels with user defined metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "git": {
          "$ref": "GitSourceContext",
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub)."
        },
        "gerrit": {
          "$ref": "GerritSourceContext",
          "description": "A SourceContext referring to a Gerrit project."
        }
      }
    },
    "SlsaProvenance": {
      "type": "object",
      "id": "SlsaProvenance",
      "properties": {
        "builder": {
          "description": "required",
          "$ref": "SlsaBuilder"
        },
        "recipe": {
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required",
          "$ref": "SlsaRecipe"
        },
        "metadata": {
          "$ref": "SlsaMetadata"
        },
        "materials": {
          "items": {
            "$ref": "Material"
          },
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "type": "array"
        }
      }
    },
    "Source": {
      "id": "Source",
      "properties": {
        "artifactStorageSourceUri": {
          "type": "string",
          "description": "If provided, the input binary artifacts for the build came from this location."
        },
        "context": {
          "description": "If provided, the source code used for the build came from this location.",
          "$ref": "SourceContext"
        },
        "additionalContexts": {
          "type": "array",
          "items": {
            "$ref": "SourceContext"
          },
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field."
        },
        "fileHashes": {
          "type": "object",
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file.",
          "additionalProperties": {
            "$ref": "FileHashes"
          }
        }
      },
      "description": "Source describes the location of the source used for the build.",
      "type": "object"
    },
    "Hash": {
      "id": "Hash",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of hash that was performed, e.g. \"SHA-256\"."
        },
        "value": {
          "description": "Required. The hash value.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Container message for hash values.",
      "type": "object"
    },
    "Fingerprint": {
      "id": "Fingerprint",
      "description": "A set of properties that uniquely identify a given Docker image.",
      "type": "object",
      "properties": {
        "v1Name": {
          "type": "string",
          "description": "Required. The layer ID of the final layer in the Docker image's v1 representation."
        },
        "v2Blob": {
          "description": "Required. The ordered list of v2 blobs that represent a given image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "v2Name": {
          "type": "string",
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept."
        }
      }
    },
    "ProjectRepoId": {
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "properties": {
        "repoName": {
          "type": "string",
          "description": "The name of the repo. Leave empty for the default repo."
        },
        "projectId": {
          "description": "The ID of the project.",
          "type": "string"
        }
      },
      "id": "ProjectRepoId",
      "type": "object"
    },
    "UpgradeDistribution": {
      "type": "object",
      "description": "The Upgrade Distribution represents metadata about the Upgrade for each operating system (CPE). Some distributions have additional metadata around updates, classifying them into various categories and severities.",
      "id": "UpgradeDistribution",
      "properties": {
        "classification": {
          "type": "string",
          "description": "The operating system classification of this Upgrade, as specified by the upstream operating system upgrade feed. For Windows the classification is one of the category_ids listed at https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ff357803(v=vs.85)"
        },
        "cpeUri": {
          "description": "Required - The specific operating system this metadata applies to. See https://cpe.mitre.org/specification/.",
          "type": "string"
        },
        "severity": {
          "description": "The severity as specified by the upstream operating system.",
          "type": "string"
        },
        "cve": {
          "type": "array",
          "description": "The cve tied to this Upgrade.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Jwt": {
      "type": "object",
      "id": "Jwt",
      "properties": {
        "compactJwt": {
          "type": "string",
          "description": "The compact encoding of a JWS, which is always three base64 encoded strings joined by periods. For details, see: https://tools.ietf.org/html/rfc7515.html#section-3.1"
        }
      }
    },
    "Maintainer": {
      "id": "Maintainer",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Recipe": {
      "properties": {
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "definedInMaterial": {
          "type": "string",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64"
        },
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        },
        "environment": {
          "type": "array",
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Since the environment field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "arguments": {
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Since the arguments field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "id": "Recipe"
    },
    "InTotoStatement": {
      "description": "Spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement The serialized InTotoStatement will be stored as Envelope.payload. Envelope.payloadType is always \"application/vnd.in-toto+json\".",
      "properties": {
        "provenance": {
          "$ref": "InTotoProvenance"
        },
        "predicateType": {
          "description": "`https://slsa.dev/provenance/v0.1` for SlsaProvenance.",
          "type": "string"
        },
        "slsaProvenance": {
          "$ref": "SlsaProvenance"
        },
        "subject": {
          "items": {
            "$ref": "Subject"
          },
          "type": "array"
        },
        "slsaProvenanceZeroTwo": {
          "$ref": "SlsaProvenanceZeroTwo"
        },
        "_type": {
          "description": "Always `https://in-toto.io/Statement/v0.1`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InTotoStatement"
    },
    "BuilderConfig": {
      "type": "object",
      "id": "BuilderConfig",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "Layer": {
      "id": "Layer",
      "type": "object",
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "properties": {
        "arguments": {
          "description": "The recovered arguments to the Dockerfile directive.",
          "type": "string"
        },
        "directive": {
          "type": "string",
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information."
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial": {
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial",
      "properties": {
        "uri": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on.",
      "type": "object"
    },
    "PackageOccurrence": {
      "id": "PackageOccurrence",
      "type": "object",
      "description": "Details on how a particular software package was installed on a system.",
      "properties": {
        "version": {
          "description": "Output only. The version of the package.",
          "readOnly": true,
          "$ref": "Version"
        },
        "packageType": {
          "description": "Output only. The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "readOnly": true,
          "type": "string"
        },
        "cpeUri": {
          "description": "Output only. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Output only. The name of the installed package.",
          "readOnly": true
        },
        "location": {
          "description": "All of the places within the filesystem versions of this package have been found.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "license": {
          "$ref": "License",
          "description": "Licenses that have been declared by the authors of the package."
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "readOnly": true,
          "description": "Output only. The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "type": "string",
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ]
        }
      }
    },
    "Signature": {
      "id": "Signature",
      "description": "Verifiers (e.g. Kritis implementations) MUST verify signatures with respect to the trust anchors defined in policy (e.g. a Kritis policy). Typically this means that the verifier has been configured with a map from `public_key_id` to public key material (and any required parameters, e.g. signing algorithm). In particular, verification implementations MUST NOT treat the signature `public_key_id` as anything more than a key lookup hint. The `public_key_id` DOES NOT validate or authenticate a public key; it only provides a mechanism for quickly selecting a public key ALREADY CONFIGURED on the verifier through a trusted channel. Verification implementations MUST reject signatures in any of the following circumstances: * The `public_key_id` is not recognized by the verifier. * The public key that `public_key_id` refers to does not verify the signature with respect to the payload. The `signature` contents SHOULD NOT be \"attached\" (where the payload is included with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\" payload and only verify signatures with respect to explicitly provided payload (e.g. a `payload` field on the proto message that holds this Signature, or the canonical serialization of the proto message that holds this signature).",
      "type": "object",
      "properties": {
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "The content of the signature, an opaque bytestring. The payload that this signature verifies MUST be unambiguously provided with the Signature during verification. A wrapper message might provide the payload explicitly. Alternatively, a message might have a canonical serialization that can always be unambiguously computed to derive the payload."
        },
        "publicKeyId": {
          "type": "string",
          "description": "The identifier for the public key that verifies this signature. * The `public_key_id` is required. * The `public_key_id` SHOULD be an RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD be an immutable reference, such as a cryptographic digest. Examples of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\" See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\" * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\""
        }
      }
    },
    "GrafeasV1FileLocation": {
      "properties": {
        "filePath": {
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file.",
          "type": "string"
        }
      },
      "id": "GrafeasV1FileLocation",
      "type": "object",
      "description": "Indicates the location at which a package was found."
    },
    "FileLocation": {
      "id": "FileLocation",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file."
        }
      },
      "description": "Indicates the location at which a package was found.",
      "type": "object"
    },
    "EnvelopeSignature": {
      "properties": {
        "sig": {
          "type": "string",
          "format": "byte"
        },
        "keyid": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnvelopeSignature"
    },
    "Envelope": {
      "properties": {
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "EnvelopeSignature"
          }
        },
        "payload": {
          "type": "string",
          "format": "byte"
        },
        "payloadType": {
          "type": "string"
        }
      },
      "id": "Envelope",
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type.",
      "type": "object"
    },
    "Identity": {
      "properties": {
        "revision": {
          "type": "integer",
          "description": "The revision number of the update.",
          "format": "int32"
        },
        "updateId": {
          "type": "string",
          "description": "The revision independent identifier of the update."
        }
      },
      "description": "The unique identifier of the update.",
      "id": "Identity",
      "type": "object"
    },
    "RepoId": {
      "id": "RepoId",
      "type": "object",
      "properties": {
        "projectRepoId": {
          "$ref": "ProjectRepoId",
          "description": "A combination of a project ID and a repo name."
        },
        "uid": {
          "description": "A server-assigned, globally unique identifier.",
          "type": "string"
        }
      },
      "description": "A unique identifier for a Cloud Repo."
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata": {
      "type": "object",
      "properties": {
        "buildInvocationId": {
          "type": "string"
        },
        "buildFinishedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "completeness": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness"
        },
        "reproducible": {
          "type": "boolean"
        },
        "buildStartedOn": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Other properties of the build.",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata"
    },
    "SlsaRecipe": {
      "id": "SlsaRecipe",
      "type": "object",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "properties": {
        "definedInMaterial": {
          "type": "string",
          "format": "int64",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64."
        },
        "arguments": {
          "type": "object",
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "environment": {
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        },
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        }
      }
    },
    "FileHashes": {
      "type": "object",
      "description": "Container message for hashes of byte content of files, used in source messages to verify integrity of source input to the build.",
      "id": "FileHashes",
      "properties": {
        "fileHash": {
          "items": {
            "$ref": "Hash"
          },
          "type": "array",
          "description": "Required. Collection of file hashes."
        }
      }
    },
    "Material": {
      "properties": {
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Material"
    },
    "SlsaProvenanceZeroTwo": {
      "type": "object",
      "description": "See full explanation of fields at slsa.dev/provenance/v0.2.",
      "properties": {
        "invocation": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation"
        },
        "builder": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder"
        },
        "buildConfig": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "buildType": {
          "type": "string"
        },
        "materials": {
          "items": {
            "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial"
          },
          "type": "array"
        },
        "metadata": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata"
        }
      },
      "id": "SlsaProvenanceZeroTwo"
    },
    "NonCompliantFile": {
      "type": "object",
      "id": "NonCompliantFile",
      "description": "Details about files that caused a compliance check to fail. display_command is a single command that can be used to display a list of non compliant files. When there is no such command, we can also iterate a list of non compliant file using 'path'.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Explains why a file is non compliant for a CIS check."
        },
        "path": {
          "description": "Empty if `display_command` is set.",
          "type": "string"
        },
        "displayCommand": {
          "description": "Command to display the non-compliant files.",
          "type": "string"
        }
      }
    },
    "AttestationOccurrence": {
      "properties": {
        "signatures": {
          "items": {
            "$ref": "Signature"
          },
          "type": "array",
          "description": "One or more signatures over `serialized_payload`. Verifier implementations should consider this attestation message verified if at least one `signature` verifies `serialized_payload`. See `Signature` in common.proto for more details on signature structure and verification."
        },
        "jwts": {
          "type": "array",
          "description": "One or more JWTs encoding a self-contained attestation. Each JWT encodes the payload that it verifies within the JWT itself. Verifier implementation SHOULD ignore the `serialized_payload` field when verifying these JWTs. If only JWTs are present on this AttestationOccurrence, then the `serialized_payload` SHOULD be left empty. Each JWT SHOULD encode a claim specific to the `resource_uri` of this Occurrence, but this is not validated by Grafeas metadata API implementations. The JWT itself is opaque to Grafeas.",
          "items": {
            "$ref": "Jwt"
          }
        },
        "serializedPayload": {
          "description": "Required. The serialized payload that is verified by one or more `signatures`.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AttestationOccurrence",
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the authority to which this attestation is attached is primarily useful for lookup (how to find this attestation if you already know the authority and artifact to be verified) and intent (for which authority this attestation was intended to sign."
    },
    "Remediation": {
      "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
      "properties": {
        "remediationUri": {
          "description": "Contains the URL where to obtain the remediation.",
          "$ref": "RelatedUrl"
        },
        "remediationType": {
          "description": "The type of remediation that can be applied.",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "MITIGATION",
            "NO_FIX_PLANNED",
            "NONE_AVAILABLE",
            "VENDOR_FIX",
            "WORKAROUND"
          ],
          "enumDescriptions": [
            "No remediation type specified.",
            "A MITIGATION is available.",
            "No fix is planned.",
            "Not available.",
            "A vendor fix is available.",
            "A workaround is available."
          ],
          "type": "string"
        },
        "details": {
          "type": "string",
          "description": "Contains a comprehensive human-readable discussion of the remediation."
        }
      },
      "id": "Remediation",
      "type": "object"
    },
    "Artifact": {
      "description": "Artifact describes a build product.",
      "id": "Artifact",
      "type": "object",
      "properties": {
        "checksum": {
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container.",
          "type": "string"
        },
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image."
        },
        "id": {
          "type": "string",
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`."
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "AnalyzePackagesResponse": {
      "id": "AnalyzePackagesResponse",
      "type": "object",
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "properties": {
        "scan": {
          "type": "string",
          "description": "The name of the scan resource created by this successful scan."
        }
      }
    },
    "SbomReferenceIntotoPredicate": {
      "properties": {
        "referrerId": {
          "description": "The person or system referring this predicate to the consumer.",
          "type": "string"
        },
        "digest": {
          "description": "A map of algorithm to digest of the contents of the SBOM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "The location of the SBOM."
        },
        "mimeType": {
          "type": "string",
          "description": "The mime type of the SBOM."
        }
      },
      "id": "SbomReferenceIntotoPredicate",
      "type": "object",
      "description": "A predicate which describes the SBOM being referenced."
    },
    "BuildProvenance": {
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "type": "object",
      "id": "BuildProvenance",
      "properties": {
        "creator": {
          "type": "string",
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time."
        },
        "triggerId": {
          "description": "Trigger identifier if the build was triggered automatically; empty if not.",
          "type": "string"
        },
        "builtArtifacts": {
          "type": "array",
          "description": "Output of the build.",
          "items": {
            "$ref": "Artifact"
          }
        },
        "builderVersion": {
          "description": "Version string of the builder at the time this build was executed.",
          "type": "string"
        },
        "sourceProvenance": {
          "$ref": "Source",
          "description": "Details of the Source input to the build."
        },
        "logsUri": {
          "type": "string",
          "description": "URI where any logs for this provenance were written."
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time at which execution of the build was finished.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which execution of the build was started."
        },
        "commands": {
          "description": "Commands requested by the build.",
          "items": {
            "$ref": "Command"
          },
          "type": "array"
        },
        "buildOptions": {
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "Required. Unique identifier of the build."
        },
        "createTime": {
          "description": "Time at which the build was created.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "description": "Identifies the entity that executed the recipe, which is trusted to have correctly performed the operation and populated this provenance.",
      "type": "object",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder"
    },
    "DiscoveryOccurrence": {
      "description": "Provides information about the analysis status of a discovered resource.",
      "id": "DiscoveryOccurrence",
      "type": "object",
      "properties": {
        "analysisError": {
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        },
        "cpe": {
          "type": "string",
          "description": "The CPE of the resource being scanned."
        },
        "archiveTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time occurrences related to this discovery occurrence were archived.",
          "readOnly": true
        },
        "continuousAnalysis": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "description": "Whether the resource is continuously analyzed.",
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "analysisStatus": {
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "COMPLETE",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has completed.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ],
          "type": "string",
          "description": "The status of discovery for the resource."
        },
        "lastScanTime": {
          "description": "The last time this resource was scanned.",
          "format": "google-datetime",
          "type": "string"
        },
        "analysisCompleted": {
          "$ref": "AnalysisCompleted"
        },
        "analysisStatusError": {
          "$ref": "Status",
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API."
        }
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The localized name of the category."
        },
        "categoryId": {
          "description": "The identifier of the category.",
          "type": "string"
        }
      },
      "id": "Category",
      "description": "The category to which the update belongs."
    },
    "ImageOccurrence": {
      "description": "Details of the derived image portion of the DockerImage relationship. This image would be produced from a Dockerfile with FROM .",
      "id": "ImageOccurrence",
      "properties": {
        "layerInfo": {
          "items": {
            "$ref": "Layer"
          },
          "type": "array",
          "description": "This contains layer-specific metadata, if populated it has length \"distance\" and is ordered with [distance] being the layer immediately following the base image and [1] being the final layer."
        },
        "fingerprint": {
          "$ref": "Fingerprint",
          "description": "Required. The fingerprint of the derived image."
        },
        "distance": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of layers by which this image differs from the associated image basis."
        },
        "baseResourceUrl": {
          "description": "Output only. This contains the base image URL for the derived image occurrence.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudRepoSourceContext": {
      "properties": {
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "revisionId": {
          "type": "string",
          "description": "A revision ID."
        },
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "RepoId"
        }
      },
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "type": "object",
      "id": "CloudRepoSourceContext"
    },
    "Metadata": {
      "id": "Metadata",
      "properties": {
        "reproducible": {
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output.",
          "type": "boolean"
        },
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        },
        "completeness": {
          "$ref": "Completeness",
          "description": "Indicates that the builder claims certain fields in this message to be complete."
        },
        "buildStartedOn": {
          "description": "The timestamp of when the build started.",
          "format": "google-datetime",
          "type": "string"
        },
        "buildFinishedOn": {
          "format": "google-datetime",
          "description": "The timestamp of when the build completed.",
          "type": "string"
        }
      },
      "description": "Other properties of the build.",
      "type": "object"
    },
    "CVSS": {
      "id": "CVSS",
      "type": "object",
      "properties": {
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "authentication": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ],
          "type": "string"
        },
        "confidentialityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH",
            "ATTACK_COMPLEXITY_MEDIUM"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "type": "number",
          "format": "float"
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "type": "string"
        },
        "integrityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "userInteraction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "exploitabilityScore": {
          "type": "number",
          "format": "float"
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "attackVector": {
          "type": "string",
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments.",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Common Vulnerability Scoring System. For details, see https://www.first.org/cvss/specification-document This is a message we will try to use for storing various versions of CVSS rather than making a separate proto for storing a specific version."
    },
    "AnalyzePackagesResponseV1": {
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "id": "AnalyzePackagesResponseV1",
      "type": "object",
      "properties": {
        "scan": {
          "type": "string",
          "description": "The name of the scan resource created by this successful scan."
        }
      }
    },
    "Version": {
      "description": "Version contains structured information about the version of a package.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required only when version kind is NORMAL. The main part of the version name."
        },
        "kind": {
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions.",
          "type": "string",
          "enum": [
            "VERSION_KIND_UNSPECIFIED",
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
            "A special version representing positive infinity."
          ]
        },
        "fullName": {
          "type": "string",
          "description": "Human readable version string. This string is of the form :- and is only set when kind is NORMAL."
        },
        "inclusive": {
          "description": "Whether this version is specifying part of an inclusive range. Grafeas does not have the capability to specify version ranges; instead we have fields that specify start version and end versions. At times this is insufficient - we also need to specify whether the version is included in the range or is excluded from the range. This boolean is expected to be set to true when the version is included in a range.",
          "type": "boolean"
        },
        "epoch": {
          "type": "integer",
          "description": "Used to correct mistakes in the version numbering scheme.",
          "format": "int32"
        },
        "revision": {
          "type": "string",
          "description": "The iteration of the package build from the above version."
        }
      },
      "id": "Version",
      "type": "object"
    },
    "AnalyzePackagesRequestV1": {
      "id": "AnalyzePackagesRequestV1",
      "type": "object",
      "description": "AnalyzePackagesRequest is the request to analyze a list of packages and create Vulnerability Occurrences for it.",
      "properties": {
        "includeOsvData": {
          "description": "[DEPRECATED] Whether to include OSV data in the scan. For backwards compatibility reasons, this field can be neither removed nor renamed.",
          "type": "boolean"
        },
        "packages": {
          "description": "The packages to analyze.",
          "items": {
            "$ref": "PackageData"
          },
          "type": "array"
        },
        "resourceUri": {
          "description": "Required. The resource URI of the container image being scanned.",
          "type": "string"
        }
      }
    },
    "SBOMReferenceOccurrence": {
      "id": "SBOMReferenceOccurrence",
      "type": "object",
      "description": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details.",
      "properties": {
        "payload": {
          "$ref": "SbomReferenceIntotoPayload",
          "description": "The actual payload that contains the SBOM reference data."
        },
        "payloadType": {
          "description": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'.",
          "type": "string"
        },
        "signatures": {
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "type": "array",
          "description": "The signatures over the payload."
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "ListVulnerabilitiesResponseV1": {
      "id": "ListVulnerabilitiesResponseV1",
      "description": "ListVulnerabilitiesResponse contains a single page of vulnerabilities resulting from a scan.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A page token that can be used in a subsequent call to ListVulnerabilities to continue retrieving results.",
          "type": "string"
        },
        "occurrences": {
          "description": "The list of Vulnerability Occurrences resulting from a scan.",
          "type": "array",
          "items": {
            "$ref": "Occurrence"
          }
        }
      }
    },
    "PackageData": {
      "id": "PackageData",
      "properties": {
        "package": {
          "description": "The package being analysed for vulnerabilities",
          "type": "string"
        },
        "fileLocation": {
          "type": "array",
          "description": "The path to the jar file / go binary file.",
          "items": {
            "$ref": "FileLocation"
          }
        },
        "architecture": {
          "type": "string",
          "description": "The architecture of the package."
        },
        "unused": {
          "type": "string"
        },
        "os": {
          "type": "string",
          "description": "The OS affected by a vulnerability Used to generate the cpe_uri for OS packages"
        },
        "sourceVersion": {
          "description": "The source package. Similar to the above, this is significant when the source is different than the binary itself. Since the top-level package/version fields are based on an if/else, we need a separate field for both binary and source if we want to know definitively where the data is coming from.",
          "$ref": "PackageVersion"
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) in which the vulnerability may manifest. Examples include distro or storage location for vulnerable jar."
        },
        "version": {
          "description": "The version of the package being analysed",
          "type": "string"
        },
        "osVersion": {
          "type": "string",
          "description": "The version of the OS Used to generate the cpe_uri for OS packages"
        },
        "dependencyChain": {
          "description": "The dependency chain between this package and the user's artifact. List in order from the customer's package under review first, to the current package last. Inclusive of the original package and the current package.",
          "items": {
            "$ref": "LanguagePackageDependency"
          },
          "type": "array"
        },
        "binaryVersion": {
          "$ref": "PackageVersion",
          "description": "The binary package. This is significant when the source is different than the binary itself. Historically if they've differed, we've stored the name of the source and its version in the package/version fields, but we should also store the binary package info, as that's what's actually installed. See b/175908657#comment15."
        },
        "patchedCve": {
          "type": "array",
          "description": "CVEs that this package is no longer vulnerable to go/drydock-dd-custom-binary-scanning",
          "items": {
            "type": "string"
          }
        },
        "maintainer": {
          "description": "The maintainer of the package.",
          "$ref": "Maintainer"
        },
        "packageType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Operating System",
            "Java packages from Maven.",
            "Go third-party packages.",
            "Go toolchain + standard library packages.",
            "Python packages.",
            "NPM packages."
          ],
          "description": "The type of package: os, maven, go, etc.",
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "OS",
            "MAVEN",
            "GO",
            "GO_STDLIB",
            "PYPI",
            "NPM"
          ]
        },
        "hashDigest": {
          "description": "HashDigest stores the SHA512 hash digest of the jar file if the package is of type Maven. This field will be unset for non Maven packages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComplianceOccurrence": {
      "description": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason.",
      "id": "ComplianceOccurrence",
      "type": "object",
      "properties": {
        "nonComplianceReason": {
          "type": "string"
        },
        "nonCompliantFiles": {
          "type": "array",
          "items": {
            "$ref": "NonCompliantFile"
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "DeploymentOccurrence": {
      "description": "The period during which some deployable was active in a runtime.",
      "properties": {
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Google Container Engine.",
            "Google App Engine: Flexible Environment.",
            "Custom user-defined platform."
          ],
          "description": "Platform hosting this deployment."
        },
        "config": {
          "type": "string",
          "description": "Configuration used to create this deployment."
        },
        "userEmail": {
          "type": "string",
          "description": "Identity of the user that triggered this deployment."
        },
        "undeployTime": {
          "format": "google-datetime",
          "description": "End of the lifetime of this deployment.",
          "type": "string"
        },
        "deployTime": {
          "description": "Required. Beginning of the lifetime of this deployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "address": {
          "description": "Address of the runtime element hosting this deployment.",
          "type": "string"
        },
        "resourceUri": {
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DeploymentOccurrence",
      "type": "object"
    },
    "InTotoProvenance": {
      "properties": {
        "metadata": {
          "$ref": "Metadata"
        },
        "builderConfig": {
          "$ref": "BuilderConfig",
          "description": "required"
        },
        "recipe": {
          "$ref": "Recipe",
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required"
        },
        "materials": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty."
        }
      },
      "id": "InTotoProvenance",
      "type": "object"
    },
    "DSSEAttestationOccurrence": {
      "properties": {
        "statement": {
          "$ref": "InTotoStatement"
        },
        "envelope": {
          "$ref": "Envelope",
          "description": "If doing something security critical, make sure to verify the signatures in this metadata."
        }
      },
      "id": "DSSEAttestationOccurrence",
      "description": "Deprecated. Prefer to use a regular Occurrence, and populate the Envelope at the top level of the Occurrence.",
      "type": "object"
    },
    "PackageVersion": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "PackageVersion"
    },
    "SlsaMetadata": {
      "description": "Other properties of the build.",
      "id": "SlsaMetadata",
      "properties": {
        "reproducible": {
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output.",
          "type": "boolean"
        },
        "buildInvocationId": {
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec.",
          "type": "string"
        },
        "buildStartedOn": {
          "description": "The timestamp of when the build started.",
          "format": "google-datetime",
          "type": "string"
        },
        "completeness": {
          "description": "Indicates that the builder claims certain fields in this message to be complete.",
          "$ref": "SlsaCompleteness"
        },
        "buildFinishedOn": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of when the build completed."
        }
      },
      "type": "object"
    },
    "Location": {
      "properties": {
        "cpeUri": {
          "type": "string",
          "description": "Deprecated. The CPE URI in [CPE format](https://cpe.mitre.org/specification/)"
        },
        "path": {
          "type": "string",
          "description": "The path from which we gathered that this package/version is installed."
        },
        "version": {
          "$ref": "Version",
          "description": "Deprecated. The version installed at this location."
        }
      },
      "type": "object",
      "description": "An occurrence of a particular package installation found within a system's filesystem. E.g., glibc was found in `/var/lib/dpkg/status`.",
      "id": "Location"
    },
    "License": {
      "properties": {
        "comments": {
          "type": "string",
          "description": "Comments"
        },
        "expression": {
          "description": "Often a single license can be used to represent the licensing terms. Sometimes it is necessary to include a choice of one or more licenses or some combination of license identifiers. Examples: \"LGPL-2.1-only OR MIT\", \"LGPL-2.1-only AND MIT\", \"GPL-2.0-or-later WITH Bison-exception-2.2\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "License",
      "description": "License information."
    },
    "Subject": {
      "properties": {
        "name": {
          "type": "string"
        },
        "digest": {
          "type": "object",
          "description": "`\"\": \"\"` Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Subject"
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
[...]
