{
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://orgpolicy.mtls.googleapis.com/",
  "batchPath": "batch",
  "servicePath": "",
  "version_module": true,
  "baseUrl": "https://orgpolicy.googleapis.com/",
  "basePath": "",
  "id": "orgpolicy:v2",
  "version": "v2",
  "fullyEncodeReservedExpansion": true,
  "description": "The Organization Policy API allows users to configure governance rules on their Google Cloud resources across the resource hierarchy.",
  "discoveryVersion": "v1",
  "canonicalName": "OrgPolicy API",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/orgpolicy/docs/reference/rest/index.html",
  "schemas": {
    "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is currently not used, but the server may at any point start supplying a valid token."
        },
        "customConstraints": {
          "description": "All custom constraints that exist on the organization resource. It will be empty if no custom constraints are set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
          }
        }
      },
      "id": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse",
      "description": "The response returned from the ListCustomConstraints method. It will be empty if no custom constraints are set on the organization resource.",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2ListPoliciesResponse": {
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2ListPoliciesResponse",
      "description": "The response returned from the ListPolicies method. It will be empty if no policies are set on the resource.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is currently not used, but the server may at any point start supplying a valid token."
        },
        "policies": {
          "type": "array",
          "description": "All policies that exist on the resource. It will be empty if no policies are set.",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Policy"
          }
        }
      }
    },
    "GoogleCloudOrgpolicyV2Policy": {
      "description": "Defines an organization policy which is used to specify constraints for configurations of Google Cloud resources.",
      "properties": {
        "alternate": {
          "description": "Deprecated.",
          "deprecated": true,
          "$ref": "GoogleCloudOrgpolicyV2AlternatePolicySpec"
        },
        "spec": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec",
          "description": "Basic information about the Organization Policy."
        },
        "name": {
          "description": "Immutable. The resource name of the policy. Must be one of the following forms, where constraint_name is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, \"projects/123/policies/compute.disableSerialPortAccess\". Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
          "type": "string"
        },
        "dryRunSpec": {
          "description": "Dry-run policy. Audit-only policy, can be used to monitor how the policy would have impacted the existing and future resources if it's enforced.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec"
        }
      },
      "id": "GoogleCloudOrgpolicyV2Policy",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2PolicySpec": {
      "description": "Defines a Google Cloud policy specification which is used to specify constraints for configurations of Google Cloud resources.",
      "type": "object",
      "properties": {
        "rules": {
          "description": "In policies for boolean constraints, the following requirements apply: - There must be one and only one policy rule where condition is unset. - Boolean policy rules with conditions must set `enforced` to the opposite of the policy rule without a condition. - During policy evaluation, policy rules with conditions that are true for a target resource take precedence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time stamp this was previously updated. This represents the last time a call to `CreatePolicy` or `UpdatePolicy` was made for that policy.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "An opaque tag indicating the current version of the policy, used for concurrency control. This field is ignored if used in a `CreatePolicy` request. When the policy` is returned from either a `GetPolicy` or a `ListPolicies` request, this `etag` indicates the version of the current policy to use when executing a read-modify-write loop. When the policy is returned from a `GetEffectivePolicy` request, the `etag` will be unset."
        },
        "reset": {
          "type": "boolean",
          "description": "Ignores policies set above this resource and restores the `constraint_default` enforcement behavior of the specific constraint at this resource. This field can be set in policies for either list or boolean constraints. If set, `rules` must be empty and `inherit_from_parent` must be set to false."
        },
        "inheritFromParent": {
          "description": "Determines the inheritance behavior for this policy. If `inherit_from_parent` is true, policy rules set higher up in the hierarchy (up to the closest root) are inherited and present in the effective policy. If it is false, then no rules are inherited, and this policy becomes the new root for evaluation. This field can be set only for policies which configure list constraints.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudOrgpolicyV2PolicySpec"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleTypeExpr": {
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "GoogleTypeExpr",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2Constraint": {
      "id": "GoogleCloudOrgpolicyV2Constraint",
      "type": "object",
      "description": "A constraint describes a way to restrict resource's configuration. For example, you could enforce a constraint that controls which Google Cloud services can be activated across an organization, or whether a Compute Engine instance can have serial port connections established. Constraints can be configured by the organization policy administrator to fit the needs of the organization by setting a policy that includes constraints at different locations in the organization's resource hierarchy. Policies are inherited down the resource hierarchy from higher levels, but can also be overridden. For details about the inheritance rules please read about `policies`. Constraints have a default behavior determined by the `constraint_default` field, which is the enforcement behavior that is used in the absence of a policy being defined or inherited for the resource in question.",
      "properties": {
        "booleanConstraint": {
          "$ref": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint",
          "description": "Defines this constraint as being a BooleanConstraint."
        },
        "description": {
          "description": "Detailed description of what this constraint controls as well as how and where it is enforced. Mutable.",
          "type": "string"
        },
        "supportsDryRun": {
          "description": "Shows if dry run is supported for this constraint or not.",
          "type": "boolean"
        },
        "listConstraint": {
          "$ref": "GoogleCloudOrgpolicyV2ConstraintListConstraint",
          "description": "Defines this constraint as being a ListConstraint."
        },
        "name": {
          "description": "Immutable. The resource name of the constraint. Must be in one of the following forms: * `projects/{project_number}/constraints/{constraint_name}` * `folders/{folder_id}/constraints/{constraint_name}` * `organizations/{organization_id}/constraints/{constraint_name}` For example, \"/projects/123/constraints/compute.disableSerialPortAccess\".",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable name. Mutable.",
          "type": "string"
        },
        "constraintDefault": {
          "type": "string",
          "enum": [
            "CONSTRAINT_DEFAULT_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "The evaluation behavior of this constraint in the absence of a policy.",
          "enumDescriptions": [
            "This is only used for distinguishing unset values and should never be used.",
            "Indicate that all values are allowed for list constraints. Indicate that enforcement is off for boolean constraints.",
            "Indicate that all values are denied for list constraints. Indicate that enforcement is on for boolean constraints."
          ]
        }
      }
    },
    "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint": {
      "id": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint",
      "description": "A constraint that is either enforced or not. For example, a constraint `constraints/compute.disableSerialPortAccess`. If it is enforced on a VM instance, serial port connections will not be opened to that instance.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudOrgpolicyV2ConstraintListConstraint": {
      "properties": {
        "supportsIn": {
          "description": "Indicates whether values grouped into categories can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"in:Python\"` would match any value in the 'Python' group.",
          "type": "boolean"
        },
        "supportsUnder": {
          "description": "Indicates whether subtrees of the Resource Manager resource hierarchy can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"under:folders/123\"` would match any resource under the 'folders/123' folder.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2ConstraintListConstraint",
      "description": "A constraint that allows or disallows a list of string values, which are configured by an Organization Policy administrator with a policy."
    },
    "GoogleCloudOrgpolicyV2ListConstraintsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is currently not used."
        },
        "constraints": {
          "description": "The collection of constraints that are available on the targeted resource.",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Constraint"
          },
          "type": "array"
        }
      },
      "description": "The response returned from the ListConstraints method.",
      "id": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues": {
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues",
      "description": "A message that holds specific allowed and denied values. This message can define specific values and subtrees of the Resource Manager resource hierarchy (`Organizations`, `Folders`, `Projects`) that are allowed or denied. This is achieved by using the `under:` and optional `is:` prefixes. The `under:` prefix is used to denote resource subtree values. The `is:` prefix is used to denote specific values, and is required only if the value contains a \":\". Values prefixed with \"is:\" are treated the same as values with no prefix. Ancestry subtrees must be in one of the following formats: - \"projects/\", e.g. \"projects/tokyo-rain-123\" - \"folders/\", e.g. \"folders/1234\" - \"organizations/\", e.g. \"organizations/1234\" The `supports_under` field of the associated `Constraint` defines whether ancestry prefixes can be used.",
      "type": "object",
      "properties": {
        "allowedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of values allowed at this resource."
        },
        "deniedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of values denied at this resource."
        }
      }
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRule": {
      "properties": {
        "allowAll": {
          "type": "boolean",
          "description": "Setting this to true means that all values are allowed. This field can be set only in policies for list constraints."
        },
        "condition": {
          "description": "A condition which determines whether this rule is used in the evaluation of the policy. When set, the `expression` field in the `Expr' must include from 1 to 10 subexpressions, joined by the \"||\" or \"&&\" operators. Each subexpression must be of the form \"resource.matchTag('/tag_key_short_name, 'tag_value_short_name')\". or \"resource.matchTagId('tagKeys/key_id', 'tagValues/value_id')\". where key_name and value_name are the resource names for Label Keys and Values. These names are available from the Tag Manager Service. An example expression is: \"resource.matchTag('123456789/environment, 'prod')\". or \"resource.matchTagId('tagKeys/123', 'tagValues/456')\".",
          "$ref": "GoogleTypeExpr"
        },
        "values": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues",
          "description": "List of values to be used for this policy rule. This field can be set only in policies for list constraints."
        },
        "denyAll": {
          "type": "boolean",
          "description": "Setting this to true means that all values are denied. This field can be set only in policies for list constraints."
        },
        "enforce": {
          "description": "If `true`, then the policy is enforced. If `false`, then any configuration is acceptable. This field can be set only in policies for boolean constraints.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule",
      "description": "A rule used to express this policy."
    },
    "GoogleCloudOrgpolicyV2CustomConstraint": {
      "properties": {
        "updateTime": {
          "description": "Output only. The last time this custom constraint was updated. This represents the last time that the `CreateCustomConstraint` or `UpdateCustomConstraint` RPC was called",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "methodTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "enumDescriptions": [
              "Unspecified. Results in an error.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Constraint applied when deleting the resource. Not supported yet."
            ]
          },
          "description": "All the operations being applied for this constraint."
        },
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Immutable. The resource instance type on which this policy applies. Format will be of the form : `/` Example: * `compute.googleapis.com/Instance`."
        },
        "displayName": {
          "type": "string",
          "description": "One line display name for the UI. The max length of the display_name is 200 characters."
        },
        "description": {
          "description": "Detailed information about this custom policy constraint. The max length of the description is 2000 characters.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Name of the constraint. This is unique within the organization. Format of the name should be * `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms` The max length is 70 characters and the minimum length is 1. Note that the prefix `organizations/{organization_id}/customConstraints/` is not counted.",
          "type": "string"
        },
        "actionType": {
          "type": "string",
          "description": "Allow or deny type.",
          "enumDescriptions": [
            "Unspecified. Results in an error.",
            "Allowed action type.",
            "Deny action type."
          ],
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "condition": {
          "description": "Org policy condition/expression. For example: `resource.instanceName.matches(\"[production|test]_.*_(\\d)+\")'` or, `resource.management.auto_upgrade == true` The max length of the condition is 1000 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudOrgpolicyV2CustomConstraint",
      "type": "object",
      "description": "A custom constraint defined by customers which can *only* be applied to the given resource types and organization. By creating a custom constraint, customers can apply policies of this custom constraint. *Creating a custom constraint itself does NOT apply any policy enforcement*."
    },
    "GoogleCloudOrgpolicyV2AlternatePolicySpec": {
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2AlternatePolicySpec",
      "description": "Similar to PolicySpec but with an extra 'launch' field for launch reference. The PolicySpec here is specific for dry-run/darklaunch.",
      "properties": {
        "spec": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec",
          "description": "Specify constraint for configurations of Google Cloud resources."
        },
        "launch": {
          "type": "string",
          "description": "Reference to the launch that will be used while audit logging and to control the launch. Should be set only in the alternate policy."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "orgpolicy",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "title": "Organization Policy API",
  "rootUrl": "https://orgpolicy.googleapis.com/",
  "protocol": "rest",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "revision": "20230704",
  "resources": {
    "projects": {
      "resources": {
        "policies": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "flatPath": "v2/projects/{projectsId}/policies",
              "parameterOrder": [
                "parent"
              ],
              "id": "orgpolicy.projects.policies.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "path": "v2/{+parent}/policies"
            },
            "getEffectivePolicy": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "description": "Required. The effective policy to compute. See `Policy` for naming rules.",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v2/{+name}:getEffectivePolicy",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}:getEffectivePolicy",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "orgpolicy.projects.policies.getEffectivePolicy",
              "httpMethod": "GET",
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "type": "string"
                }
              },
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "id": "orgpolicy.projects.policies.delete",
              "httpMethod": "DELETE",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}"
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "path": "v2/{+parent}/policies",
              "id": "orgpolicy.projects.policies.create",
              "flatPath": "v2/projects/{projectsId}/policies",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "id": "orgpolicy.projects.policies.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name of the policy. See `Policy` for naming requirements."
                }
              },
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "id": "orgpolicy.projects.policies.patch",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where constraint_name is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, \"projects/123/policies/compute.disableSerialPortAccess\". Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields.",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}"
            }
          }
        },
        "constraints": {
          "methods": {
            "list": {
              "id": "orgpolicy.projects.constraints.list",
              "path": "v2/{+parent}/constraints",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
                }
              },
              "flatPath": "v2/projects/{projectsId}/constraints",
              "description": "Lists constraints that could be applied on the specified resource.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "policies": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "location": "path",
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where constraint_name is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, \"projects/123/policies/compute.disableSerialPortAccess\". Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number."
                },
                "updateMask": {
                  "type": "string",
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "id": "orgpolicy.folders.policies.patch",
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "path": "v2/{+name}"
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "flatPath": "v2/folders/{foldersId}/policies",
              "path": "v2/{+parent}/policies",
              "id": "orgpolicy.folders.policies.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "location": "path"
                }
              },
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "id": "orgpolicy.folders.policies.delete",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE"
            },
            "getEffectivePolicy": {
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}:getEffectivePolicy",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The effective policy to compute. See `Policy` for naming rules.",
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "orgpolicy.folders.policies.getEffectivePolicy",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "path": "v2/{+name}:getEffectivePolicy",
              "httpMethod": "GET"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "orgpolicy.folders.policies.create",
              "path": "v2/{+parent}/policies",
              "flatPath": "v2/folders/{foldersId}/policies",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "id": "orgpolicy.folders.policies.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the policy. See `Policy` for naming requirements.",
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "path": "v2/{+name}"
            }
          }
        },
        "constraints": {
          "methods": {
            "list": {
              "description": "Lists constraints that could be applied on the specified resource.",
              "httpMethod": "GET",
              "flatPath": "v2/folders/{foldersId}/constraints",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/constraints",
              "parameters": {
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "id": "orgpolicy.folders.constraints.list"
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "policies": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "orgpolicy.organizations.policies.create",
              "path": "v2/{+parent}/policies",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "v2/organizations/{organizationsId}/policies"
            },
            "list": {
              "path": "v2/{+parent}/policies",
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "flatPath": "v2/organizations/{organizationsId}/policies",
              "id": "orgpolicy.organizations.policies.list",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Resource name of the policy. See `Policy` for naming requirements.",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "id": "orgpolicy.organizations.policies.get"
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/policies/[^/]+$"
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "httpMethod": "DELETE",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "parameterOrder": [
                "name"
              ],
              "id": "orgpolicy.organizations.policies.delete"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "orgpolicy.organizations.policies.patch",
              "path": "v2/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request."
                },
                "name": {
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where constraint_name is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, \"projects/123/policies/compute.disableSerialPortAccess\". Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields.",
              "httpMethod": "PATCH",
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}"
            },
            "getEffectivePolicy": {
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "httpMethod": "GET",
              "path": "v2/{+name}:getEffectivePolicy",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "description": "Required. The effective policy to compute. See `Policy` for naming rules.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}:getEffectivePolicy",
              "id": "orgpolicy.organizations.policies.getEffectivePolicy",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "constraints": {
          "methods": {
            "list": {
              "flatPath": "v2/organizations/{organizationsId}/constraints",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field."
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}/constraints",
              "id": "orgpolicy.organizations.constraints.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists constraints that could be applied on the specified resource."
            }
          }
        },
        "customConstraints": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "orgpolicy.organizations.customConstraints.list",
              "parameters": {
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The target Google Cloud resource that parents the set of custom constraints that will be returned from this call. Must be in one of the following forms: * `organizations/{organization_id}`",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse"
              },
              "path": "v2/{+parent}/customConstraints",
              "description": "Retrieves all of the custom constraints that exist on a particular organization resource.",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the custom constraint. See the custom constraint entry for naming requirements.",
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "description": "Gets a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the custom constraint does not exist.",
              "id": "orgpolicy.organizations.customConstraints.get",
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Immutable. Name of the constraint. This is unique within the organization. Format of the name should be * `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms` The max length is 70 characters and the minimum length is 1. Note that the prefix `organizations/{organization_id}/customConstraints/` is not counted.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "id": "orgpolicy.organizations.customConstraints.patch",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "description": "Updates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Note: the supplied policy will perform a full overwrite of all fields.",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the custom constraint to delete. See the custom constraint entry for naming rules.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$"
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "httpMethod": "DELETE",
              "path": "v2/{+name}",
              "id": "orgpolicy.organizations.customConstraints.delete"
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "id": "orgpolicy.organizations.customConstraints.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Must be in the following form: * `organizations/{organization_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/customConstraints",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints",
              "description": "Creates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the organization does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the constraint already exists on the given organization.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              }
            }
          }
        }
      }
    }
  }
}
