{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://orgpolicy.googleapis.com/",
  "version": "v2",
  "description": "The Organization Policy API allows users to configure governance rules on their Google Cloud resources across the resource hierarchy.",
  "ownerDomain": "google.com",
  "servicePath": "",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "name": "orgpolicy",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://orgpolicy.mtls.googleapis.com/",
  "title": "Organization Policy API",
  "resources": {
    "projects": {
      "resources": {
        "policies": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "path": "v2/{+name}",
              "id": "orgpolicy.projects.policies.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "location": "query"
                }
              },
              "httpMethod": "PATCH",
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields.",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}"
            },
            "getEffectivePolicy": {
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The effective policy to compute. See Policy for naming requirements.",
                  "type": "string"
                }
              },
              "path": "v2/{+name}:getEffectivePolicy",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}:getEffectivePolicy",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "id": "orgpolicy.projects.policies.getEffectivePolicy"
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/policies",
              "path": "v2/{+parent}/policies",
              "httpMethod": "GET",
              "id": "orgpolicy.projects.policies.list"
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "flatPath": "v2/projects/{projectsId}/policies",
              "id": "orgpolicy.projects.policies.create",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}/policies",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "delete": {
              "id": "orgpolicy.projects.policies.delete",
              "parameters": {
                "etag": {
                  "location": "query",
                  "description": "Optional. The current etag of policy. If an etag is provided and does not match the current etag of the policy, deletion will be blocked and an ABORTED error will be returned.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "required": true,
                  "pattern": "^projects/[^/]+/policies/[^/]+$"
                }
              },
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "httpMethod": "DELETE"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the policy. See Policy for naming requirements.",
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "orgpolicy.projects.policies.get",
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "path": "v2/{+name}"
            }
          }
        },
        "constraints": {
          "methods": {
            "list": {
              "flatPath": "v2/projects/{projectsId}/constraints",
              "httpMethod": "GET",
              "id": "orgpolicy.projects.constraints.list",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists constraints that could be applied on the specified resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}/constraints",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "policies": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "httpMethod": "GET",
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the policy. See Policy for naming requirements.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "orgpolicy.organizations.policies.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}"
            },
            "getEffectivePolicy": {
              "httpMethod": "GET",
              "id": "orgpolicy.organizations.policies.getEffectivePolicy",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}:getEffectivePolicy",
              "path": "v2/{+name}:getEffectivePolicy",
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The effective policy to compute. See Policy for naming requirements.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "id": "orgpolicy.organizations.policies.create",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "flatPath": "v2/organizations/{organizationsId}/policies",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
                }
              },
              "path": "v2/{+parent}/policies",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "httpMethod": "PATCH",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "orgpolicy.organizations.policies.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields.",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "type": "string"
                },
                "name": {
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "orgpolicy.organizations.policies.delete",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/policies/[^/]+$"
                },
                "etag": {
                  "description": "Optional. The current etag of policy. If an etag is provided and does not match the current etag of the policy, deletion will be blocked and an ABORTED error will be returned.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "orgpolicy.organizations.policies.list",
              "httpMethod": "GET",
              "flatPath": "v2/organizations/{organizationsId}/policies",
              "path": "v2/{+parent}/policies"
            }
          }
        },
        "customConstraints": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "description": "Required. Name of the custom constraint to delete. See the custom constraint entry for naming rules.",
                  "required": true
                }
              },
              "description": "Deletes a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "orgpolicy.organizations.customConstraints.delete",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the custom constraint. See the custom constraint entry for naming requirements.",
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "id": "orgpolicy.organizations.customConstraints.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the custom constraint does not exist."
            },
            "create": {
              "id": "orgpolicy.organizations.customConstraints.create",
              "description": "Creates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the organization does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the constraint already exists on the given organization.",
              "path": "v2/{+parent}/customConstraints",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Must be in the following form: * `organizations/{organization_id}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              }
            },
            "list": {
              "httpMethod": "GET",
              "id": "orgpolicy.organizations.customConstraints.list",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse"
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints",
              "path": "v2/{+parent}/customConstraints",
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieves all of the custom constraints that exist on a particular organization resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. The target Google Cloud resource that parents the set of custom constraints that will be returned from this call. Must be in one of the following forms: * `organizations/{organization_id}`",
                  "location": "path"
                }
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "id": "orgpolicy.organizations.customConstraints.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+name}",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "description": "Updates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Note: the supplied policy will perform a full overwrite of all fields.",
              "parameters": {
                "name": {
                  "description": "Immutable. Name of the constraint. This is unique within the organization. Format of the name should be * `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms` The max length is 70 characters and the minimum length is 1. Note that the prefix `organizations/{organization_id}/customConstraints/` is not counted.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$"
                }
              }
            }
          }
        },
        "constraints": {
          "methods": {
            "list": {
              "path": "v2/{+parent}/constraints",
              "parameters": {
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/constraints",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "orgpolicy.organizations.constraints.list",
              "description": "Lists constraints that could be applied on the specified resource.",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "policies": {
          "methods": {
            "list": {
              "path": "v2/{+parent}/policies",
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^folders/[^/]+$"
                }
              },
              "id": "orgpolicy.folders.policies.list",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "flatPath": "v2/folders/{foldersId}/policies",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields.",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "httpMethod": "PATCH",
              "id": "orgpolicy.folders.policies.patch",
              "path": "v2/{+name}"
            },
            "create": {
              "httpMethod": "POST",
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v2/folders/{foldersId}/policies",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "orgpolicy.folders.policies.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}/policies"
            },
            "getEffectivePolicy": {
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "path": "v2/{+name}:getEffectivePolicy",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}:getEffectivePolicy",
              "parameters": {
                "name": {
                  "description": "Required. The effective policy to compute. See Policy for naming requirements.",
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "orgpolicy.folders.policies.getEffectivePolicy",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "etag": {
                  "description": "Optional. The current etag of policy. If an etag is provided and does not match the current etag of the policy, deletion will be blocked and an ABORTED error will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+name}",
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "id": "orgpolicy.folders.policies.delete"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the policy. See Policy for naming requirements.",
                  "location": "path"
                }
              },
              "id": "orgpolicy.folders.policies.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+name}",
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write."
            }
          }
        },
        "constraints": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "pattern": "^folders/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "httpMethod": "GET",
              "id": "orgpolicy.folders.constraints.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/constraints",
              "description": "Lists constraints that could be applied on the specified resource.",
              "flatPath": "v2/folders/{foldersId}/constraints",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "schemas": {
    "GoogleTypeExpr": {
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRule": {
      "type": "object",
      "description": "A rule used to express this policy.",
      "properties": {
        "denyAll": {
          "type": "boolean",
          "description": "Setting this to true means that all values are denied. This field can be set only in policies for list constraints."
        },
        "values": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues",
          "description": "List of values to be used for this policy rule. This field can be set only in policies for list constraints."
        },
        "allowAll": {
          "description": "Setting this to true means that all values are allowed. This field can be set only in policies for list constraints.",
          "type": "boolean"
        },
        "enforce": {
          "description": "If `true`, then the policy is enforced. If `false`, then any configuration is acceptable. This field can be set only in policies for boolean constraints.",
          "type": "boolean"
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "A condition which determines whether this rule is used in the evaluation of the policy. When set, the `expression` field in the `Expr' must include from 1 to 10 subexpressions, joined by the \"||\" or \"&&\" operators. Each subexpression must be of the form \"resource.matchTag('/tag_key_short_name, 'tag_value_short_name')\". or \"resource.matchTagId('tagKeys/key_id', 'tagValues/value_id')\". where key_name and value_name are the resource names for Label Keys and Values. These names are available from the Tag Manager Service. An example expression is: \"resource.matchTag('123456789/environment, 'prod')\". or \"resource.matchTagId('tagKeys/123', 'tagValues/456')\"."
        }
      },
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule"
    },
    "GoogleCloudOrgpolicyV2Constraint": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Detailed description of what this constraint controls as well as how and where it is enforced. Mutable."
        },
        "booleanConstraint": {
          "description": "Defines this constraint as being a BooleanConstraint.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint"
        },
        "listConstraint": {
          "description": "Defines this constraint as being a ListConstraint.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintListConstraint"
        },
        "googleManagedConstraint": {
          "$ref": "GoogleCloudOrgpolicyV2ConstraintGoogleManagedConstraint",
          "description": "Defines this constraint as being a GoogleManagedConstraint."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the constraint. Must be in one of the following forms: * `projects/{project_number}/constraints/{constraint_name}` * `folders/{folder_id}/constraints/{constraint_name}` * `organizations/{organization_id}/constraints/{constraint_name}` For example, \"/projects/123/constraints/compute.disableSerialPortAccess\"."
        },
        "constraintDefault": {
          "enumDescriptions": [
            "This is only used for distinguishing unset values and should never be used.",
            "Indicate that all values are allowed for list constraints. Indicate that enforcement is off for boolean constraints.",
            "Indicate that all values are denied for list constraints. Indicate that enforcement is on for boolean constraints."
          ],
          "enum": [
            "CONSTRAINT_DEFAULT_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "The evaluation behavior of this constraint in the absence of a policy.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name. Mutable."
        },
        "supportsDryRun": {
          "description": "Shows if dry run is supported for this constraint or not.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A constraint describes a way to restrict resource's configuration. For example, you could enforce a constraint that controls which Google Cloud services can be activated across an organization, or whether a Compute Engine instance can have serial port connections established. Constraints can be configured by the organization policy administrator to fit the needs of the organization by setting a policy that includes constraints at different locations in the organization's resource hierarchy. Policies are inherited down the resource hierarchy from higher levels, but can also be overridden. For details about the inheritance rules please read about `policies`. Constraints have a default behavior determined by the `constraint_default` field, which is the enforcement behavior that is used in the absence of a policy being defined or inherited for the resource in question.",
      "id": "GoogleCloudOrgpolicyV2Constraint"
    },
    "GoogleCloudOrgpolicyV2ListConstraintsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is currently not used.",
          "type": "string"
        },
        "constraints": {
          "type": "array",
          "description": "The collection of constraints that are available on the targeted resource.",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Constraint"
          }
        }
      },
      "id": "GoogleCloudOrgpolicyV2ListConstraintsResponse",
      "type": "object",
      "description": "The response returned from the ListConstraints method."
    },
    "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse": {
      "id": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse",
      "type": "object",
      "description": "The response returned from the ListCustomConstraints method. It will be empty if no custom constraints are set on the organization resource.",
      "properties": {
        "customConstraints": {
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
          },
          "description": "All custom constraints that exist on the organization resource. It will be empty if no custom constraints are set.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is currently not used, but the server may at any point start supplying a valid token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint",
      "description": "A constraint that is either enforced or not. For example, a constraint `constraints/compute.disableSerialPortAccess`. If it is enforced on a VM instance, serial port connections will not be opened to that instance."
    },
    "GoogleCloudOrgpolicyV2AlternatePolicySpec": {
      "type": "object",
      "properties": {
        "launch": {
          "type": "string",
          "description": "Reference to the launch that will be used while audit logging and to control the launch. Should be set only in the alternate policy."
        },
        "spec": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec",
          "description": "Specify constraint for configurations of Google Cloud resources."
        }
      },
      "description": "Similar to PolicySpec but with an extra 'launch' field for launch reference. The PolicySpec here is specific for dry-run/darklaunch.",
      "id": "GoogleCloudOrgpolicyV2AlternatePolicySpec"
    },
    "GoogleCloudOrgpolicyV2ConstraintListConstraint": {
      "description": "A constraint that allows or disallows a list of string values, which are configured by an Organization Policy administrator with a policy.",
      "id": "GoogleCloudOrgpolicyV2ConstraintListConstraint",
      "type": "object",
      "properties": {
        "supportsUnder": {
          "type": "boolean",
          "description": "Indicates whether subtrees of the Resource Manager resource hierarchy can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"under:folders/123\"` would match any resource under the 'folders/123' folder."
        },
        "supportsIn": {
          "type": "boolean",
          "description": "Indicates whether values grouped into categories can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"in:Python\"` would match any value in the 'Python' group."
        }
      }
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues": {
      "description": "A message that holds specific allowed and denied values. This message can define specific values and subtrees of the Resource Manager resource hierarchy (`Organizations`, `Folders`, `Projects`) that are allowed or denied. This is achieved by using the `under:` and optional `is:` prefixes. The `under:` prefix is used to denote resource subtree values. The `is:` prefix is used to denote specific values, and is required only if the value contains a \":\". Values prefixed with \"is:\" are treated the same as values with no prefix. Ancestry subtrees must be in one of the following formats: - `projects/` (for example, `projects/tokyo-rain-123`) - `folders/` (for example, `folders/1234`) - `organizations/` (for example, `organizations/1234`) The `supports_under` field of the associated `Constraint` defines whether ancestry prefixes can be used.",
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues",
      "properties": {
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "description": "List of values allowed at this resource.",
          "type": "array"
        },
        "deniedValues": {
          "items": {
            "type": "string"
          },
          "description": "List of values denied at this resource.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2PolicySpec": {
      "id": "GoogleCloudOrgpolicyV2PolicySpec",
      "type": "object",
      "description": "Defines a Google Cloud policy specification which is used to specify constraints for configurations of Google Cloud resources.",
      "properties": {
        "updateTime": {
          "description": "Output only. The time stamp this was previously updated. This represents the last time a call to `CreatePolicy` or `UpdatePolicy` was made for that policy.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "inheritFromParent": {
          "description": "Determines the inheritance behavior for this policy. If `inherit_from_parent` is true, policy rules set higher up in the hierarchy (up to the closest root) are inherited and present in the effective policy. If it is false, then no rules are inherited, and this policy becomes the new root for evaluation. This field can be set only for policies which configure list constraints.",
          "type": "boolean"
        },
        "rules": {
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule"
          },
          "description": "In policies for boolean constraints, the following requirements apply: - There must be one and only one policy rule where condition is unset. - Boolean policy rules with conditions must set `enforced` to the opposite of the policy rule without a condition. - During policy evaluation, policy rules with conditions that are true for a target resource take precedence.",
          "type": "array"
        },
        "reset": {
          "type": "boolean",
          "description": "Ignores policies set above this resource and restores the `constraint_default` enforcement behavior of the specific constraint at this resource. This field can be set in policies for either list or boolean constraints. If set, `rules` must be empty and `inherit_from_parent` must be set to false."
        },
        "etag": {
          "description": "An opaque tag indicating the current version of the policySpec, used for concurrency control. This field is ignored if used in a `CreatePolicy` request. When the policy is returned from either a `GetPolicy` or a `ListPolicies` request, this `etag` indicates the version of the current policySpec to use when executing a read-modify-write loop. When the policy is returned from a `GetEffectivePolicy` request, the `etag` will be unset.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOrgpolicyV2ListPoliciesResponse": {
      "description": "The response returned from the ListPolicies method. It will be empty if no policies are set on the resource.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is currently not used, but the server may at any point start supplying a valid token."
        },
        "policies": {
          "description": "All policies that exist on the resource. It will be empty if no policies are set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Policy"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
    },
    "GoogleCloudOrgpolicyV2ConstraintGoogleManagedConstraint": {
      "id": "GoogleCloudOrgpolicyV2ConstraintGoogleManagedConstraint",
      "properties": {
        "resourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The resource instance type on which this policy applies. Format will be of the form : `/` Example: * `compute.googleapis.com/Instance`."
        },
        "condition": {
          "type": "string",
          "description": "Org policy condition/expression. For example: `resource.instanceName.matches(\"[production|test]_.*_(\\d)+\")` or, `resource.management.auto_upgrade == true` The max length of the condition is 1000 characters."
        },
        "actionType": {
          "type": "string",
          "description": "Allow or deny type.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "Unspecified. Results in an error.",
            "Allowed action type.",
            "Deny action type."
          ]
        },
        "methodTypes": {
          "description": "All the operations being applied for this constraint.",
          "items": {
            "type": "string",
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "enumDescriptions": [
              "Unspecified. Results in an error.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Constraint applied when deleting the resource. Not supported yet."
            ]
          },
          "type": "array"
        }
      },
      "description": "A Google managed constraint. This represents a subset of fields missing from Constraint proto that are required to describe CustomConstraint",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2Policy": {
      "type": "object",
      "description": "Defines an organization policy which is used to specify constraints for configurations of Google Cloud resources.",
      "properties": {
        "alternate": {
          "deprecated": true,
          "description": "Deprecated.",
          "$ref": "GoogleCloudOrgpolicyV2AlternatePolicySpec"
        },
        "dryRunSpec": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec",
          "description": "Dry-run policy. Audit-only policy, can be used to monitor how the policy would have impacted the existing and future resources if it's enforced."
        },
        "spec": {
          "description": "Basic information about the Organization Policy.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number."
        },
        "etag": {
          "description": "Optional. An opaque tag indicating the current state of the policy, used for concurrency control. This 'etag' is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        }
      },
      "id": "GoogleCloudOrgpolicyV2Policy"
    },
    "GoogleCloudOrgpolicyV2CustomConstraint": {
      "description": "A custom constraint defined by customers which can *only* be applied to the given resource types and organization. By creating a custom constraint, customers can apply policies of this custom constraint. *Creating a custom constraint itself does NOT apply any policy enforcement*.",
      "id": "GoogleCloudOrgpolicyV2CustomConstraint",
      "properties": {
        "methodTypes": {
          "type": "array",
          "items": {
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE",
              "REMOVE_GRANT"
            ],
            "enumDescriptions": [
              "Unspecified. Results in an error.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Constraint applied when deleting the resource. Not supported yet.",
              "Constraint applied when removing an IAM grant."
            ],
            "type": "string"
          },
          "description": "All the operations being applied for this constraint."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time this custom constraint was updated. This represents the last time that the `CreateCustomConstraint` or `UpdateCustomConstraint` RPC was called",
          "readOnly": true,
          "format": "google-datetime"
        },
        "actionType": {
          "enumDescriptions": [
            "Unspecified. Results in an error.",
            "Allowed action type.",
            "Deny action type."
          ],
          "description": "Allow or deny type.",
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "displayName": {
          "description": "One line display name for the UI. The max length of the display_name is 200 characters.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "Org policy condition/expression. For example: `resource.instanceName.matches(\"[production|test]_.*_(\\d)+\")` or, `resource.management.auto_upgrade == true` The max length of the condition is 1000 characters."
        },
        "resourceTypes": {
          "description": "Immutable. The resource instance type on which this policy applies. Format will be of the form : `/` Example: * `compute.googleapis.com/Instance`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Name of the constraint. This is unique within the organization. Format of the name should be * `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms` The max length is 70 characters and the minimum length is 1. Note that the prefix `organizations/{organization_id}/customConstraints/` is not counted."
        },
        "description": {
          "description": "Detailed information about this custom policy constraint. The max length of the description is 2000 characters.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "documentationLink": "https://cloud.google.com/orgpolicy/docs/reference/rest/index.html",
  "id": "orgpolicy:v2",
  "canonicalName": "OrgPolicy API",
  "revision": "20240422",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "protocol": "rest",
  "batchPath": "batch",
  "ownerName": "Google",
  "baseUrl": "https://orgpolicy.googleapis.com/"
}
