{
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/orgpolicy/docs/reference/rest/index.html",
  "name": "orgpolicy",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20230625",
  "version_module": true,
  "baseUrl": "https://orgpolicy.googleapis.com/",
  "version": "v2",
  "protocol": "rest",
  "rootUrl": "https://orgpolicy.googleapis.com/",
  "servicePath": "",
  "id": "orgpolicy:v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "batchPath": "batch",
  "description": "The Organization Policy API allows users to configure governance rules on their Google Cloud resources across the resource hierarchy.",
  "ownerDomain": "google.com",
  "title": "Organization Policy API",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2ListPoliciesResponse": {
      "properties": {
        "policies": {
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Policy"
          },
          "type": "array",
          "description": "All policies that exist on the resource. It will be empty if no policies are set."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is currently not used, but the server may at any point start supplying a valid token."
        }
      },
      "id": "GoogleCloudOrgpolicyV2ListPoliciesResponse",
      "description": "The response returned from the ListPolicies method. It will be empty if no policies are set on the resource.",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint": {
      "type": "object",
      "description": "A constraint that is either enforced or not. For example, a constraint `constraints/compute.disableSerialPortAccess`. If it is enforced on a VM instance, serial port connections will not be opened to that instance.",
      "id": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint",
      "properties": {}
    },
    "GoogleCloudOrgpolicyV2PolicySpec": {
      "properties": {
        "rules": {
          "description": "In policies for boolean constraints, the following requirements apply: - There must be one and only one policy rule where condition is unset. - Boolean policy rules with conditions must set `enforced` to the opposite of the policy rule without a condition. - During policy evaluation, policy rules with conditions that are true for a target resource take precedence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time stamp this was previously updated. This represents the last time a call to `CreatePolicy` or `UpdatePolicy` was made for that policy.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "An opaque tag indicating the current version of the policy, used for concurrency control. This field is ignored if used in a `CreatePolicy` request. When the policy` is returned from either a `GetPolicy` or a `ListPolicies` request, this `etag` indicates the version of the current policy to use when executing a read-modify-write loop. When the policy is returned from a `GetEffectivePolicy` request, the `etag` will be unset."
        },
        "inheritFromParent": {
          "type": "boolean",
          "description": "Determines the inheritance behavior for this policy. If `inherit_from_parent` is true, policy rules set higher up in the hierarchy (up to the closest root) are inherited and present in the effective policy. If it is false, then no rules are inherited, and this policy becomes the new root for evaluation. This field can be set only for policies which configure list constraints."
        },
        "reset": {
          "type": "boolean",
          "description": "Ignores policies set above this resource and restores the `constraint_default` enforcement behavior of the specific constraint at this resource. This field can be set in policies for either list or boolean constraints. If set, `rules` must be empty and `inherit_from_parent` must be set to false."
        }
      },
      "description": "Defines a Google Cloud policy specification which is used to specify constraints for configurations of Google Cloud resources.",
      "id": "GoogleCloudOrgpolicyV2PolicySpec",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2Policy": {
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2Policy",
      "description": "Defines an organization policy which is used to specify constraints for configurations of Google Cloud resources.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the policy. Must be one of the following forms, where constraint_name is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, \"projects/123/policies/compute.disableSerialPortAccess\". Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number."
        },
        "alternate": {
          "description": "Deprecated.",
          "$ref": "GoogleCloudOrgpolicyV2AlternatePolicySpec"
        },
        "dryRunSpec": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec",
          "description": "Dry-run policy. Audit-only policy, can be used to monitor how the policy would have impacted the existing and future resources if it's enforced."
        },
        "spec": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec",
          "description": "Basic information about the Organization Policy."
        }
      }
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues": {
      "description": "A message that holds specific allowed and denied values. This message can define specific values and subtrees of the Resource Manager resource hierarchy (`Organizations`, `Folders`, `Projects`) that are allowed or denied. This is achieved by using the `under:` and optional `is:` prefixes. The `under:` prefix is used to denote resource subtree values. The `is:` prefix is used to denote specific values, and is required only if the value contains a \":\". Values prefixed with \"is:\" are treated the same as values with no prefix. Ancestry subtrees must be in one of the following formats: - \"projects/\", e.g. \"projects/tokyo-rain-123\" - \"folders/\", e.g. \"folders/1234\" - \"organizations/\", e.g. \"organizations/1234\" The `supports_under` field of the associated `Constraint` defines whether ancestry prefixes can be used.",
      "properties": {
        "allowedValues": {
          "type": "array",
          "description": "List of values allowed at this resource.",
          "items": {
            "type": "string"
          }
        },
        "deniedValues": {
          "items": {
            "type": "string"
          },
          "description": "List of values denied at this resource.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues"
    },
    "GoogleCloudOrgpolicyV2Constraint": {
      "description": "A constraint describes a way to restrict resource's configuration. For example, you could enforce a constraint that controls which Google Cloud services can be activated across an organization, or whether a Compute Engine instance can have serial port connections established. Constraints can be configured by the organization policy administrator to fit the needs of the organization by setting a policy that includes constraints at different locations in the organization's resource hierarchy. Policies are inherited down the resource hierarchy from higher levels, but can also be overridden. For details about the inheritance rules please read about `policies`. Constraints have a default behavior determined by the `constraint_default` field, which is the enforcement behavior that is used in the absence of a policy being defined or inherited for the resource in question.",
      "properties": {
        "constraintDefault": {
          "description": "The evaluation behavior of this constraint in the absence of a policy.",
          "enum": [
            "CONSTRAINT_DEFAULT_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is only used for distinguishing unset values and should never be used.",
            "Indicate that all values are allowed for list constraints. Indicate that enforcement is off for boolean constraints.",
            "Indicate that all values are denied for list constraints. Indicate that enforcement is on for boolean constraints."
          ]
        },
        "name": {
          "description": "Immutable. The resource name of the constraint. Must be in one of the following forms: * `projects/{project_number}/constraints/{constraint_name}` * `folders/{folder_id}/constraints/{constraint_name}` * `organizations/{organization_id}/constraints/{constraint_name}` For example, \"/projects/123/constraints/compute.disableSerialPortAccess\".",
          "type": "string"
        },
        "listConstraint": {
          "description": "Defines this constraint as being a ListConstraint.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintListConstraint"
        },
        "displayName": {
          "description": "The human readable name. Mutable.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Detailed description of what this constraint controls as well as how and where it is enforced. Mutable."
        },
        "booleanConstraint": {
          "description": "Defines this constraint as being a BooleanConstraint.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint"
        },
        "supportsDryRun": {
          "description": "Shows if dry run is supported for this constraint or not.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2Constraint"
    },
    "GoogleCloudOrgpolicyV2AlternatePolicySpec": {
      "type": "object",
      "properties": {
        "spec": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec",
          "description": "Specify constraint for configurations of Google Cloud resources."
        },
        "launch": {
          "type": "string",
          "description": "Reference to the launch that will be used while audit logging and to control the launch. Should be set only in the alternate policy."
        }
      },
      "description": "Similar to PolicySpec but with an extra 'launch' field for launch reference. The PolicySpec here is specific for dry-run/darklaunch.",
      "id": "GoogleCloudOrgpolicyV2AlternatePolicySpec"
    },
    "GoogleTypeExpr": {
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleCloudOrgpolicyV2ConstraintListConstraint": {
      "properties": {
        "supportsIn": {
          "description": "Indicates whether values grouped into categories can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"in:Python\"` would match any value in the 'Python' group.",
          "type": "boolean"
        },
        "supportsUnder": {
          "type": "boolean",
          "description": "Indicates whether subtrees of the Resource Manager resource hierarchy can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"under:folders/123\"` would match any resource under the 'folders/123' folder."
        }
      },
      "description": "A constraint that allows or disallows a list of string values, which are configured by an Organization Policy administrator with a policy.",
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2ConstraintListConstraint"
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRule": {
      "description": "A rule used to express this policy.",
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule",
      "type": "object",
      "properties": {
        "values": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues",
          "description": "List of values to be used for this policy rule. This field can be set only in policies for list constraints."
        },
        "denyAll": {
          "description": "Setting this to true means that all values are denied. This field can be set only in policies for list constraints.",
          "type": "boolean"
        },
        "allowAll": {
          "type": "boolean",
          "description": "Setting this to true means that all values are allowed. This field can be set only in policies for list constraints."
        },
        "enforce": {
          "type": "boolean",
          "description": "If `true`, then the policy is enforced. If `false`, then any configuration is acceptable. This field can be set only in policies for boolean constraints."
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "A condition which determines whether this rule is used in the evaluation of the policy. When set, the `expression` field in the `Expr' must include from 1 to 10 subexpressions, joined by the \"||\" or \"&&\" operators. Each subexpression must be of the form \"resource.matchTag('/tag_key_short_name, 'tag_value_short_name')\". or \"resource.matchTagId('tagKeys/key_id', 'tagValues/value_id')\". where key_name and value_name are the resource names for Label Keys and Values. These names are available from the Tag Manager Service. An example expression is: \"resource.matchTag('123456789/environment, 'prod')\". or \"resource.matchTagId('tagKeys/123', 'tagValues/456')\"."
        }
      }
    },
    "GoogleCloudOrgpolicyV2CustomConstraint": {
      "description": "A custom constraint defined by customers which can *only* be applied to the given resource types and organization. By creating a custom constraint, customers can apply policies of this custom constraint. *Creating a custom constraint itself does NOT apply any policy enforcement*.",
      "properties": {
        "condition": {
          "type": "string",
          "description": "Org policy condition/expression. For example: `resource.instanceName.matches(\"[production|test]_.*_(\\d)+\")'` or, `resource.management.auto_upgrade == true` The max length of the condition is 1000 characters."
        },
        "actionType": {
          "type": "string",
          "description": "Allow or deny type.",
          "enumDescriptions": [
            "Unspecified. Results in an error.",
            "Allowed action type.",
            "Deny action type."
          ],
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last time this custom constraint was updated. This represents the last time that the `CreateCustomConstraint` or `UpdateCustomConstraint` RPC was called",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. Name of the constraint. This is unique within the organization. Format of the name should be * `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms` The max length is 70 characters and the minimum length is 1. Note that the prefix `organizations/{organization_id}/customConstraints/` is not counted."
        },
        "methodTypes": {
          "description": "All the operations being applied for this constraint.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "enumDescriptions": [
              "Unspecified. Results in an error.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Constraint applied when deleting the resource. Not supported yet."
            ]
          }
        },
        "description": {
          "type": "string",
          "description": "Detailed information about this custom policy constraint. The max length of the description is 2000 characters."
        },
        "resourceTypes": {
          "description": "Immutable. The resource instance type on which this policy applies. Format will be of the form : `/` Example: * `compute.googleapis.com/Instance`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "One line display name for the UI. The max length of the display_name is 200 characters."
        }
      },
      "id": "GoogleCloudOrgpolicyV2CustomConstraint",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2ListConstraintsResponse": {
      "properties": {
        "constraints": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Constraint"
          },
          "description": "The collection of constraints that are available on the targeted resource."
        },
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is currently not used.",
          "type": "string"
        }
      },
      "description": "The response returned from the ListConstraints method.",
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
    },
    "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse": {
      "id": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse",
      "description": "The response returned from the ListCustomConstraints method. It will be empty if no custom constraints are set on the organization resource.",
      "properties": {
        "customConstraints": {
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
          },
          "type": "array",
          "description": "All custom constraints that exist on the organization resource. It will be empty if no custom constraints are set."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is currently not used, but the server may at any point start supplying a valid token."
        }
      },
      "type": "object"
    }
  },
  "canonicalName": "OrgPolicy API",
  "mtlsRootUrl": "https://orgpolicy.mtls.googleapis.com/",
  "resources": {
    "organizations": {
      "resources": {
        "policies": {
          "methods": {
            "list": {
              "flatPath": "v2/organizations/{organizationsId}/policies",
              "httpMethod": "GET",
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "path": "v2/{+parent}/policies",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field."
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "id": "orgpolicy.organizations.policies.list"
            },
            "getEffectivePolicy": {
              "httpMethod": "GET",
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}:getEffectivePolicy",
              "path": "v2/{+name}:getEffectivePolicy",
              "id": "orgpolicy.organizations.policies.getEffectivePolicy",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The effective policy to compute. See `Policy` for naming rules."
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "id": "orgpolicy.organizations.policies.patch",
              "httpMethod": "PATCH",
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields.",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where constraint_name is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, \"projects/123/policies/compute.disableSerialPortAccess\". Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/organizations/{organizationsId}/policies",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "id": "orgpolicy.organizations.policies.create",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "httpMethod": "POST",
              "path": "v2/{+parent}/policies"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "id": "orgpolicy.organizations.policies.delete"
            },
            "get": {
              "id": "orgpolicy.organizations.policies.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "description": "Required. Resource name of the policy. See `Policy` for naming requirements.",
                  "required": true
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write."
            }
          }
        },
        "constraints": {
          "methods": {
            "list": {
              "description": "Lists constraints that could be applied on the specified resource.",
              "flatPath": "v2/organizations/{organizationsId}/constraints",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "id": "orgpolicy.organizations.constraints.list",
              "parameters": {
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "pattern": "^organizations/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/constraints"
            }
          }
        },
        "customConstraints": {
          "methods": {
            "list": {
              "path": "v2/{+parent}/customConstraints",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse"
              },
              "httpMethod": "GET",
              "description": "Retrieves all of the custom constraints that exist on a particular organization resource.",
              "id": "orgpolicy.organizations.customConstraints.list",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The target Google Cloud resource that parents the set of custom constraints that will be returned from this call. Must be in one of the following forms: * `organizations/{organization_id}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "id": "orgpolicy.organizations.customConstraints.patch",
              "parameters": {
                "name": {
                  "description": "Immutable. Name of the constraint. This is unique within the organization. Format of the name should be * `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms` The max length is 70 characters and the minimum length is 1. Note that the prefix `organizations/{organization_id}/customConstraints/` is not counted.",
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "description": "Updates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Note: the supplied policy will perform a full overwrite of all fields.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}"
            },
            "delete": {
              "description": "Deletes a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist.",
              "id": "orgpolicy.organizations.customConstraints.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "description": "Required. Name of the custom constraint to delete. See the custom constraint entry for naming rules."
                }
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+name}"
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the custom constraint. See the custom constraint entry for naming requirements.",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "id": "orgpolicy.organizations.customConstraints.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the custom constraint does not exist.",
              "path": "v2/{+name}"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "orgpolicy.organizations.customConstraints.create",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Must be in the following form: * `organizations/{organization_id}`",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "description": "Creates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the organization does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the constraint already exists on the given organization.",
              "path": "v2/{+parent}/customConstraints",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "policies": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the policy. See `Policy` for naming requirements.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/policies/[^/]+$"
                }
              },
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "id": "orgpolicy.projects.policies.get",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "getEffectivePolicy": {
              "id": "orgpolicy.projects.policies.getEffectivePolicy",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}:getEffectivePolicy",
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "path": "v2/{+name}:getEffectivePolicy",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The effective policy to compute. See `Policy` for naming rules.",
                  "required": true,
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "httpMethod": "GET",
              "id": "orgpolicy.projects.policies.list",
              "path": "v2/{+parent}/policies",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size."
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/policies"
            },
            "delete": {
              "id": "orgpolicy.projects.policies.delete",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "path": "v2/{+name}"
            },
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
                }
              },
              "flatPath": "v2/projects/{projectsId}/policies",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "httpMethod": "POST",
              "id": "orgpolicy.projects.policies.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}/policies",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "parameters": {
                "name": {
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where constraint_name is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, \"projects/123/policies/compute.disableSerialPortAccess\". Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "id": "orgpolicy.projects.policies.patch",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "path": "v2/{+name}",
              "httpMethod": "PATCH"
            }
          }
        },
        "constraints": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "orgpolicy.projects.constraints.list",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "path": "v2/{+parent}/constraints",
              "description": "Lists constraints that could be applied on the specified resource.",
              "flatPath": "v2/projects/{projectsId}/constraints"
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "policies": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "required": true
                }
              },
              "id": "orgpolicy.folders.policies.delete",
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+name}",
              "httpMethod": "DELETE"
            },
            "getEffectivePolicy": {
              "path": "v2/{+name}:getEffectivePolicy",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "id": "orgpolicy.folders.policies.getEffectivePolicy",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The effective policy to compute. See `Policy` for naming rules."
                }
              },
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}:getEffectivePolicy",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field."
                },
                "parent": {
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "path": "v2/{+parent}/policies",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/folders/{foldersId}/policies",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "id": "orgpolicy.folders.policies.list"
            },
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "type": "string",
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where constraint_name is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, \"projects/123/policies/compute.disableSerialPortAccess\". Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number."
                }
              },
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields.",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "id": "orgpolicy.folders.policies.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "flatPath": "v2/folders/{foldersId}/policies",
              "id": "orgpolicy.folders.policies.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v2/{+parent}/policies",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "get": {
              "path": "v2/{+name}",
              "id": "orgpolicy.folders.policies.get",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "description": "Required. Resource name of the policy. See `Policy` for naming requirements.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            }
          }
        },
        "constraints": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "orgpolicy.folders.constraints.list",
              "path": "v2/{+parent}/constraints",
              "flatPath": "v2/folders/{foldersId}/constraints",
              "description": "Lists constraints that could be applied on the specified resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  }
}
