{
  "id": "osconfig:v1beta",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "version_module": true,
  "name": "osconfig",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "patchJobs": {
          "methods": {
            "cancel": {
              "request": {
                "$ref": "CancelPatchJobRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}:cancel",
              "response": {
                "$ref": "PatchJob"
              },
              "path": "v1beta/{+name}:cancel",
              "description": "Cancel a patch job. The patch job must be active. Canceled patch jobs cannot be restarted.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "osconfig.projects.patchJobs.cancel"
            },
            "execute": {
              "httpMethod": "POST",
              "description": "Patch VM instances by creating and running a patch job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "PatchJob"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/patchJobs:execute",
              "request": {
                "$ref": "ExecutePatchJobRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/patchJobs:execute",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The project in which to run this patch in the form `projects/*`",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "osconfig.projects.patchJobs.execute"
            },
            "list": {
              "description": "Get a list of patch jobs.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. In the form of `projects/*`"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of instance status to return.",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "If provided, this field specifies the criteria that must be met by patch jobs to be included in the response. Currently, filtering is only available on the patch_deployment field."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/patchJobs",
              "response": {
                "$ref": "ListPatchJobsResponse"
              },
              "id": "osconfig.projects.patchJobs.list",
              "flatPath": "v1beta/projects/{projectsId}/patchJobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "description": "Get the patch job. This can be used to track the progress of an ongoing patch job or review the details of completed jobs.",
              "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}",
              "response": {
                "$ref": "PatchJob"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "location": "path"
                }
              },
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchJobs.get"
            }
          },
          "resources": {
            "instanceDetails": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/instanceDetails",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of instance details records to return. Default is 100.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "A filter expression that filters results listed in the response. This field supports filtering results by instance zone, name, state, or `failure_reason`.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent for the instances are in the form of `projects/*/patchJobs/*`.",
                      "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous call that indicates where this listing should continue from."
                    }
                  },
                  "response": {
                    "$ref": "ListPatchJobInstanceDetailsResponse"
                  },
                  "id": "osconfig.projects.patchJobs.instanceDetails.list",
                  "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails",
                  "httpMethod": "GET",
                  "description": "Get a list of instance details for a given patch job."
                }
              }
            }
          }
        },
        "guestPolicies": {
          "methods": {
            "patch": {
              "description": "Update an OS Config guest policy.",
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}",
              "response": {
                "$ref": "GuestPolicy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.guestPolicies.patch",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Unique name of the resource in this project using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Field mask that controls which fields of the guest policy should be updated.",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "GuestPolicy"
              },
              "path": "v1beta/{+name}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "description": "Delete an OS Config guest policy.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the guest policy using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "id": "osconfig.projects.guestPolicies.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}"
            },
            "get": {
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GuestPolicy"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the guest policy using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "osconfig.projects.guestPolicies.get",
              "httpMethod": "GET",
              "description": "Get an OS Config guest policy."
            },
            "list": {
              "path": "v1beta/{+parent}/guestPolicies",
              "description": "Get a page of OS Config guest policies.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.guestPolicies.list",
              "response": {
                "$ref": "ListGuestPoliciesResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of guest policies to return.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call to `ListGuestPolicies` that indicates where this listing should continue from."
                },
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of the parent using one of the following forms: `projects/{project_number}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "id": "osconfig.projects.guestPolicies.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The resource name of the parent using one of the following forms: `projects/{project_number}`.",
                  "location": "path",
                  "type": "string"
                },
                "guestPolicyId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The logical name of the guest policy in the project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project."
                }
              },
              "response": {
                "$ref": "GuestPolicy"
              },
              "request": {
                "$ref": "GuestPolicy"
              },
              "description": "Create an OS Config guest policy.",
              "path": "v1beta/{+parent}/guestPolicies",
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies",
              "httpMethod": "POST"
            }
          }
        },
        "zones": {
          "resources": {
            "instances": {
              "methods": {
                "lookupEffectiveGuestPolicy": {
                  "parameterOrder": [
                    "instance"
                  ],
                  "description": "Lookup the effective guest policy that applies to a VM instance. This lookup merges all policies that are assigned to the instance ancestry.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "LookupEffectiveGuestPolicyRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/zones/{zonesId}/instances/{instancesId}:lookupEffectiveGuestPolicy",
                  "parameters": {
                    "instance": {
                      "required": true,
                      "pattern": "^projects/[^/]+/zones/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "description": "Required. The VM instance whose policies are being looked up.",
                      "type": "string"
                    }
                  },
                  "id": "osconfig.projects.zones.instances.lookupEffectiveGuestPolicy",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "EffectiveGuestPolicy"
                  },
                  "path": "v1beta/{+instance}:lookupEffectiveGuestPolicy"
                }
              }
            }
          }
        },
        "patchDeployments": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project to apply this patch deployment to in the form `projects/*`.",
                  "type": "string",
                  "location": "path"
                },
                "patchDeploymentId": {
                  "type": "string",
                  "description": "Required. A name for the patch deployment in the project. When creating a name the following rules apply: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                  "location": "query"
                }
              },
              "description": "Create an OS Config patch deployment.",
              "request": {
                "$ref": "PatchDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1beta/{+parent}/patchDeployments",
              "response": {
                "$ref": "PatchDeployment"
              },
              "id": "osconfig.projects.patchDeployments.create",
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments"
            },
            "list": {
              "description": "Get a page of OS Config patch deployments.",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of patch deployments to return. Default is 100.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A pagination token returned from a previous call to ListPatchDeployments that indicates where this listing should continue from."
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name of the parent in the form `projects/*`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "id": "osconfig.projects.patchDeployments.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/patchDeployments",
              "response": {
                "$ref": "ListPatchDeploymentsResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "description": "Delete an OS Config patch deployment.",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`."
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "id": "osconfig.projects.patchDeployments.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "resume": {
              "id": "osconfig.projects.patchDeployments.resume",
              "request": {
                "$ref": "ResumePatchDeploymentRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta/{+name}:resume",
              "description": "Change state of patch deployment back to \"ACTIVE\". Patch deployment in active state continues to generate patch jobs.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:resume",
              "response": {
                "$ref": "PatchDeployment"
              }
            },
            "patch": {
              "request": {
                "$ref": "PatchDeployment"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "osconfig.projects.patchDeployments.patch",
              "httpMethod": "PATCH",
              "description": "Update an OS Config patch deployment.",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. Field mask that controls which fields of the patch deployment should be updated.",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "PatchDeployment"
              }
            },
            "pause": {
              "httpMethod": "POST",
              "response": {
                "$ref": "PatchDeployment"
              },
              "description": "Change state of patch deployment to \"PAUSED\". Patch deployment in paused state doesn't generate patch jobs.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "PausePatchDeploymentRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:pause",
              "id": "osconfig.projects.patchDeployments.pause",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:pause",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "PatchDeployment"
              },
              "description": "Get an OS Config patch deployment.",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "location": "path"
                }
              },
              "id": "osconfig.projects.patchDeployments.get",
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}"
            }
          }
        }
      }
    }
  },
  "canonicalName": "OS Config",
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "baseUrl": "https://osconfig.googleapis.com/",
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "revision": "20211203",
  "rootUrl": "https://osconfig.googleapis.com/",
  "basePath": "",
  "version": "v1beta",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListPatchDeploymentsResponse": {
      "description": "A response message for listing patch deployments.",
      "type": "object",
      "id": "ListPatchDeploymentsResponse",
      "properties": {
        "patchDeployments": {
          "items": {
            "$ref": "PatchDeployment"
          },
          "type": "array",
          "description": "The list of patch deployments."
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of patch deployments.",
          "type": "string"
        }
      }
    },
    "OSPolicyAssignmentOperationMetadata": {
      "properties": {
        "apiMethod": {
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "The OS policy assignment API method.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ]
        },
        "rolloutStartTime": {
          "format": "google-datetime",
          "description": "Rollout start time",
          "type": "string"
        },
        "rolloutUpdateTime": {
          "type": "string",
          "description": "Rollout update time",
          "format": "google-datetime"
        },
        "rolloutState": {
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "description": "State of the rollout",
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ]
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OSPolicyAssignmentOperationMetadata",
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations."
    },
    "SoftwareRecipeStepInstallDpkg": {
      "id": "SoftwareRecipeStepInstallDpkg",
      "description": "Installs a deb via dpkg.",
      "type": "object",
      "properties": {
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        }
      }
    },
    "SoftwareRecipeStep": {
      "id": "SoftwareRecipeStep",
      "type": "object",
      "properties": {
        "archiveExtraction": {
          "$ref": "SoftwareRecipeStepExtractArchive",
          "description": "Extracts an archive into the specified directory."
        },
        "fileExec": {
          "description": "Executes an artifact or local file.",
          "$ref": "SoftwareRecipeStepExecFile"
        },
        "rpmInstallation": {
          "description": "Installs an rpm file via the rpm utility.",
          "$ref": "SoftwareRecipeStepInstallRpm"
        },
        "msiInstallation": {
          "$ref": "SoftwareRecipeStepInstallMsi",
          "description": "Installs an MSI file."
        },
        "scriptRun": {
          "$ref": "SoftwareRecipeStepRunScript",
          "description": "Runs commands in a shell."
        },
        "fileCopy": {
          "description": "Copies a file onto the instance.",
          "$ref": "SoftwareRecipeStepCopyFile"
        },
        "dpkgInstallation": {
          "$ref": "SoftwareRecipeStepInstallDpkg",
          "description": "Installs a deb file via dpkg."
        }
      },
      "description": "An action that can be taken as part of installing or updating a recipe."
    },
    "ZypperRepository": {
      "id": "ZypperRepository",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for guest policy conflicts."
        },
        "gpgKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "URIs of GPG keys."
        },
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the repository."
        }
      },
      "description": "Represents a single Zypper package repository. This repository is added to a repo file that is stored at `/etc/zypp/repos.d/google_osconfig.repo`.",
      "type": "object"
    },
    "PatchConfig": {
      "type": "object",
      "id": "PatchConfig",
      "description": "Patch configuration specifications. Contains details on how to apply the patch(es) to a VM instance.",
      "properties": {
        "yum": {
          "description": "Yum update settings. Use this setting to override the default `yum` patch rules.",
          "$ref": "YumSettings"
        },
        "preStep": {
          "description": "The `ExecStep` to run before the patch update.",
          "$ref": "ExecStep"
        },
        "apt": {
          "description": "Apt update settings. Use this setting to override the default `apt` patch rules.",
          "$ref": "AptSettings"
        },
        "zypper": {
          "description": "Zypper update settings. Use this setting to override the default `zypper` patch rules.",
          "$ref": "ZypperSettings"
        },
        "windowsUpdate": {
          "$ref": "WindowsUpdateSettings",
          "description": "Windows update settings. Use this override the default windows patch rules."
        },
        "goo": {
          "description": "Goo update settings. Use this setting to override the default `goo` patch rules.",
          "$ref": "GooSettings"
        },
        "postStep": {
          "$ref": "ExecStep",
          "description": "The `ExecStep` to run after the patch update."
        },
        "rebootConfig": {
          "enum": [
            "REBOOT_CONFIG_UNSPECIFIED",
            "DEFAULT",
            "ALWAYS",
            "NEVER"
          ],
          "description": "Post-patch reboot settings.",
          "type": "string",
          "enumDescriptions": [
            "The default behavior is DEFAULT.",
            "The agent decides if a reboot is necessary by checking signals such as registry keys on Windows or `/var/run/reboot-required` on APT based systems. On RPM based systems, a set of core system package install times are compared with system boot time.",
            "Always reboot the machine after the update completes.",
            "Never reboot the machine after the update completes."
          ]
        }
      }
    },
    "LookupEffectiveGuestPolicyRequest": {
      "description": "A request message for getting the effective guest policy assigned to the instance.",
      "id": "LookupEffectiveGuestPolicyRequest",
      "type": "object",
      "properties": {
        "osVersion": {
          "type": "string",
          "description": "Version of the OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that VM instance."
        },
        "osArchitecture": {
          "type": "string",
          "description": "Architecture of OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that instance."
        },
        "osShortName": {
          "description": "Short name of the OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that instance.",
          "type": "string"
        }
      }
    },
    "Package": {
      "id": "Package",
      "description": "Package is a reference to the software package to be installed or removed. The agent on the VM instance uses the system package manager to apply the config. These are the commands that the agent uses to install or remove packages. Apt install: `apt-get update && apt-get -y install package1 package2 package3` remove: `apt-get -y remove package1 package2 package3` Yum install: `yum -y install package1 package2 package3` remove: `yum -y remove package1 package2 package3` Zypper install: `zypper install package1 package2 package3` remove: `zypper rm package1 package2` Googet install: `googet -noconfirm install package1 package2 package3` remove: `googet -noconfirm remove package1 package2 package3`",
      "properties": {
        "desiredState": {
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "UPDATED",
            "REMOVED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default is to ensure the package is installed.",
            "The agent ensures that the package is installed.",
            "The agent ensures that the package is installed and periodically checks for and install any updates.",
            "The agent ensures that the package is not installed and uninstall it if detected."
          ],
          "description": "The desired_state the agent should maintain for this package. The default is to ensure the package is installed."
        },
        "name": {
          "description": "Required. The name of the package. A package is uniquely identified for conflict validation by checking the package name and the manager(s) that the package targets.",
          "type": "string"
        },
        "manager": {
          "description": "Type of package manager that can be used to install this package. If a system does not have the package manager, the package is not installed or removed no error message is returned. By default, or if you specify `ANY`, the agent attempts to install and remove this package using the default package manager. This is useful when creating a policy that applies to different types of systems. The default behavior is ANY.",
          "type": "string",
          "enumDescriptions": [
            "The default behavior is ANY.",
            "Apply this package config using the default system package manager.",
            "Apply this package config only if Apt is available on the system.",
            "Apply this package config only if Yum is available on the system.",
            "Apply this package config only if Zypper is available on the system.",
            "Apply this package config only if GooGet is available on the system."
          ],
          "enum": [
            "MANAGER_UNSPECIFIED",
            "ANY",
            "APT",
            "YUM",
            "ZYPPER",
            "GOO"
          ]
        }
      },
      "type": "object"
    },
    "ZypperSettings": {
      "type": "object",
      "description": "Zypper patching is performed by running `zypper patch`. See also https://en.opensuse.org/SDB:Zypper_manual.",
      "properties": {
        "exclusivePatches": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "An exclusive list of patches to be updated. These are the only patches that will be installed using 'zypper patch patch:' command. This field must not be used with any other patch configuration fields."
        },
        "categories": {
          "type": "array",
          "description": "Install only patches with these categories. Common categories include security, recommended, and feature.",
          "items": {
            "type": "string"
          }
        },
        "withUpdate": {
          "type": "boolean",
          "description": "Adds the `--with-update` flag, to `zypper patch`."
        },
        "withOptional": {
          "type": "boolean",
          "description": "Adds the `--with-optional` flag to `zypper patch`."
        },
        "severities": {
          "type": "array",
          "description": "Install only patches with these severities. Common severities include critical, important, moderate, and low.",
          "items": {
            "type": "string"
          }
        },
        "excludes": {
          "items": {
            "type": "string"
          },
          "description": "List of patches to exclude from update.",
          "type": "array"
        }
      },
      "id": "ZypperSettings"
    },
    "Assignment": {
      "type": "object",
      "id": "Assignment",
      "description": "An assignment represents the group or groups of VM instances that the policy applies to. If an assignment is empty, it applies to all VM instances. Otherwise, the targeted VM instances must meet all the criteria specified. So if both labels and zones are specified, the policy applies to VM instances with those labels and in those zones.",
      "properties": {
        "osTypes": {
          "type": "array",
          "description": "Targets VM instances matching at least one of the following OS types. VM instances must match all supplied criteria for a given OsType to be included.",
          "items": {
            "$ref": "AssignmentOsType"
          }
        },
        "zones": {
          "description": "Targets instances in any of these zones. Leave empty to target instances in any zone. Zonal targeting is uncommon and is supported to facilitate the management of changes by zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instanceNamePrefixes": {
          "description": "Targets VM instances whose name starts with one of these prefixes. Like labels, this is another way to group VM instances when targeting configs, for example prefix=\"prod-\". Only supported for project-level policies.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instances": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Targets any of the instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`. Instance targeting is uncommon and is supported to facilitate the management of changes by the instance or to target specific VM instances for development and testing. Only supported for project-level policies and must reference instances within this project."
        },
        "groupLabels": {
          "description": "Targets instances matching at least one of these label sets. This allows an assignment to target disparate groups, for example \"env=prod or env=staging\".",
          "items": {
            "$ref": "AssignmentGroupLabel"
          },
          "type": "array"
        }
      }
    },
    "GooSettings": {
      "description": "Googet patching is performed by running `googet update`.",
      "properties": {},
      "type": "object",
      "id": "GooSettings"
    },
    "SoftwareRecipeStepInstallRpm": {
      "type": "object",
      "properties": {
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        }
      },
      "description": "Installs an rpm file via the rpm utility.",
      "id": "SoftwareRecipeStepInstallRpm"
    },
    "WindowsUpdateSettings": {
      "description": "Windows patching is performed using the Windows Update Agent.",
      "type": "object",
      "properties": {
        "classifications": {
          "description": "Only apply updates of these windows update classifications. If empty, all updates are applied.",
          "items": {
            "enumDescriptions": [
              "Invalid. If classifications are included, they must be specified.",
              "\"A widely released fix for a specific problem that addresses a critical, non-security-related bug.\" [1]",
              "\"A widely released fix for a product-specific, security-related vulnerability. Security vulnerabilities are rated by their severity. The severity rating is indicated in the Microsoft security bulletin as critical, important, moderate, or low.\" [1]",
              "\"A widely released and frequent software update that contains additions to a product's definition database. Definition databases are often used to detect objects that have specific attributes, such as malicious code, phishing websites, or junk mail.\" [1]",
              "\"Software that controls the input and output of a device.\" [1]",
              "\"New product functionality that is first distributed outside the context of a product release and that is typically included in the next full product release.\" [1]",
              "\"A tested, cumulative set of all hotfixes, security updates, critical updates, and updates. Additionally, service packs may contain additional fixes for problems that are found internally since the release of the product. Service packs my also contain a limited number of customer-requested design changes or features.\" [1]",
              "\"A utility or feature that helps complete a task or set of tasks.\" [1]",
              "\"A tested, cumulative set of hotfixes, security updates, critical updates, and updates that are packaged together for easy deployment. A rollup generally targets a specific area, such as security, or a component of a product, such as Internet Information Services (IIS).\" [1]",
              "\"A widely released fix for a specific problem. An update addresses a noncritical, non-security-related bug.\" [1]"
            ],
            "type": "string",
            "enum": [
              "CLASSIFICATION_UNSPECIFIED",
              "CRITICAL",
              "SECURITY",
              "DEFINITION",
              "DRIVER",
              "FEATURE_PACK",
              "SERVICE_PACK",
              "TOOL",
              "UPDATE_ROLLUP",
              "UPDATE"
            ]
          },
          "type": "array"
        },
        "exclusivePatches": {
          "description": "An exclusive list of kbs to be updated. These are the only patches that will be updated. This field must not be used with other patch configurations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "excludes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of KBs to exclude from update."
        }
      },
      "id": "WindowsUpdateSettings"
    },
    "ListPatchJobInstanceDetailsResponse": {
      "description": "A response message for listing the instances details for a patch job.",
      "properties": {
        "patchJobInstanceDetails": {
          "type": "array",
          "items": {
            "$ref": "PatchJobInstanceDetails"
          },
          "description": "A list of instance status."
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        }
      },
      "id": "ListPatchJobInstanceDetailsResponse",
      "type": "object"
    },
    "ExecStep": {
      "properties": {
        "linuxExecStepConfig": {
          "$ref": "ExecStepConfig",
          "description": "The ExecStepConfig for all Linux VMs targeted by the PatchJob."
        },
        "windowsExecStepConfig": {
          "description": "The ExecStepConfig for all Windows VMs targeted by the PatchJob.",
          "$ref": "ExecStepConfig"
        }
      },
      "type": "object",
      "description": "A step that runs an executable for a PatchJob.",
      "id": "ExecStep"
    },
    "ListPatchJobsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token that can be used to get the next page of results."
        },
        "patchJobs": {
          "description": "The list of patch jobs.",
          "items": {
            "$ref": "PatchJob"
          },
          "type": "array"
        }
      },
      "id": "ListPatchJobsResponse",
      "description": "A response message for listing patch jobs."
    },
    "MonthlySchedule": {
      "id": "MonthlySchedule",
      "type": "object",
      "description": "Represents a monthly schedule. An example of a valid monthly schedule is \"on the third Tuesday of the month\" or \"on the 15th of the month\".",
      "properties": {
        "weekDayOfMonth": {
          "description": "Required. Week day in a month.",
          "$ref": "WeekDayOfMonth"
        },
        "monthDay": {
          "format": "int32",
          "description": "Required. One day of the month. 1-31 indicates the 1st to the 31st day. -1 indicates the last day of the month. Months without the target day will be skipped. For example, a schedule to run \"every month on the 31st\" will not run in February, April, June, etc.",
          "type": "integer"
        }
      }
    },
    "PatchInstanceFilter": {
      "properties": {
        "instances": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Targets any of the VM instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`, `projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`, or `https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`"
        },
        "groupLabels": {
          "items": {
            "$ref": "PatchInstanceFilterGroupLabel"
          },
          "description": "Targets VM instances matching at least one of these label sets. This allows targeting of disparate groups, for example \"env=prod or env=staging\".",
          "type": "array"
        },
        "zones": {
          "items": {
            "type": "string"
          },
          "description": "Targets VM instances in ANY of these zones. Leave empty to target VM instances in any zone.",
          "type": "array"
        },
        "instanceNamePrefixes": {
          "items": {
            "type": "string"
          },
          "description": "Targets VMs whose name starts with one of these prefixes. Similar to labels, this is another way to group VMs when targeting configs, for example prefix=\"prod-\".",
          "type": "array"
        },
        "all": {
          "description": "Target all VM instances in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        }
      },
      "id": "PatchInstanceFilter",
      "type": "object",
      "description": "A filter to target VM instances for patching. The targeted VMs must meet all criteria specified. So if both labels and zones are specified, the patch job targets only VMs with those labels and in those zones."
    },
    "PatchJobInstanceDetails": {
      "description": "Patch details for a VM instance. For more information about reviewing VM instance details, see [Listing all VM instance details for a specific patch job](https://cloud.google.com/compute/docs/os-patch-management/manage-patch-jobs#list-instance-details).",
      "type": "object",
      "id": "PatchJobInstanceDetails",
      "properties": {
        "name": {
          "description": "The instance name in the form `projects/*/zones/*/instances/*`",
          "type": "string"
        },
        "attemptCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of times the agent that the agent attempts to apply the patch."
        },
        "instanceSystemId": {
          "description": "The unique identifier for the instance. This identifier is defined by the server.",
          "type": "string"
        },
        "failureReason": {
          "description": "If the patch fails, this field provides the reason.",
          "type": "string"
        },
        "state": {
          "description": "Current state of instance patch.",
          "enum": [
            "PATCH_STATE_UNSPECIFIED",
            "PENDING",
            "INACTIVE",
            "NOTIFIED",
            "STARTED",
            "DOWNLOADING_PATCHES",
            "APPLYING_PATCHES",
            "REBOOTING",
            "SUCCEEDED",
            "SUCCEEDED_REBOOT_REQUIRED",
            "FAILED",
            "ACKED",
            "TIMED_OUT",
            "RUNNING_PRE_PATCH_STEP",
            "RUNNING_POST_PATCH_STEP",
            "NO_AGENT_DETECTED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The instance is not yet notified.",
            "Instance is inactive and cannot be patched.",
            "The instance is notified that it should be patched.",
            "The instance has started the patching process.",
            "The instance is downloading patches.",
            "The instance is applying patches.",
            "The instance is rebooting.",
            "The instance has completed applying patches.",
            "The instance has completed applying patches but a reboot is required.",
            "The instance has failed to apply the patch.",
            "The instance acked the notification and will start shortly.",
            "The instance exceeded the time out while applying the patch.",
            "The instance is running the pre-patch step.",
            "The instance is running the post-patch step.",
            "The service could not detect the presence of the agent. Check to ensure that the agent is installed, running, and able to communicate with the service."
          ],
          "type": "string"
        }
      }
    },
    "SoftwareRecipeStepRunScript": {
      "id": "SoftwareRecipeStepRunScript",
      "properties": {
        "interpreter": {
          "type": "string",
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script is executed directly, which likely only succeed for scripts with [shebang lines](https://en.wikipedia.org/wiki/Shebang_\\(Unix\\)).",
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "SHELL",
            "POWERSHELL"
          ],
          "enumDescriptions": [
            "Default value for ScriptType.",
            "Indicates that the script is run with `/bin/sh` on Linux and `cmd` on windows.",
            "Indicates that the script is run with powershell."
          ]
        },
        "allowedExitCodes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]",
          "type": "array"
        },
        "script": {
          "description": "Required. The shell script to be executed.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Runs a script through an interpreter."
    },
    "RecurringSchedule": {
      "properties": {
        "nextExecuteTime": {
          "description": "Output only. The time the next patch job is scheduled to run.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment.",
          "type": "string"
        },
        "weekly": {
          "$ref": "WeeklySchedule",
          "description": "Required. Schedule with weekly executions."
        },
        "frequency": {
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "Invalid. A frequency must be specified.",
            "Indicates that the frequency of recurrence should be expressed in terms of weeks.",
            "Indicates that the frequency of recurrence should be expressed in terms of months.",
            "Indicates that the frequency of recurrence should be expressed in terms of days."
          ],
          "description": "Required. The frequency unit of this recurring schedule."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The end time at which a recurring patch deployment schedule is no longer active."
        },
        "monthly": {
          "description": "Required. Schedule with monthly executions.",
          "$ref": "MonthlySchedule"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone."
        },
        "timeOfDay": {
          "description": "Required. Time of the day to run a recurring deployment.",
          "$ref": "TimeOfDay"
        },
        "lastExecuteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the last patch job ran successfully."
        }
      },
      "type": "object",
      "id": "RecurringSchedule",
      "description": "Sets the time for recurring patch deployments."
    },
    "AssignmentOsType": {
      "id": "AssignmentOsType",
      "type": "object",
      "properties": {
        "osVersion": {
          "description": "Targets VM instances with OS Inventory enabled and having the following following OS version.",
          "type": "string"
        },
        "osShortName": {
          "type": "string",
          "description": "Targets VM instances with OS Inventory enabled and having the following OS short name, for example \"debian\" or \"windows\"."
        },
        "osArchitecture": {
          "description": "Targets VM instances with OS Inventory enabled and having the following OS architecture.",
          "type": "string"
        }
      },
      "description": "Defines the criteria for selecting VM Instances by OS type."
    },
    "OneTimeSchedule": {
      "description": "Sets the time for a one time patch deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
      "properties": {
        "executeTime": {
          "type": "string",
          "description": "Required. The desired patch job execution time.",
          "format": "google-datetime"
        }
      },
      "id": "OneTimeSchedule",
      "type": "object"
    },
    "ListGuestPoliciesResponse": {
      "properties": {
        "guestPolicies": {
          "items": {
            "$ref": "GuestPolicy"
          },
          "description": "The list of GuestPolicies.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of guest policies.",
          "type": "string"
        }
      },
      "description": "A response message for listing guest policies.",
      "id": "ListGuestPoliciesResponse",
      "type": "object"
    },
    "FixedOrPercent": {
      "id": "FixedOrPercent",
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value.",
      "type": "object",
      "properties": {
        "percent": {
          "format": "int32",
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "type": "integer"
        },
        "fixed": {
          "description": "Specifies a fixed value.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {}
    },
    "CancelPatchJobRequest": {
      "properties": {},
      "id": "CancelPatchJobRequest",
      "description": "Message for canceling a patch job.",
      "type": "object"
    },
    "SoftwareRecipeArtifactRemote": {
      "id": "SoftwareRecipeArtifactRemote",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI from which to fetch the object. It should contain both the protocol and path following the format {protocol}://{location}."
        },
        "checksum": {
          "description": "Must be provided if `allow_insecure` is `false`. SHA256 checksum in hex format, to compare to the checksum of the artifact. If the checksum is not empty and it doesn't match the artifact then the recipe installation fails before running any of the steps.",
          "type": "string"
        }
      },
      "description": "Specifies an artifact available via some URI."
    },
    "SoftwareRecipeStepExecFile": {
      "description": "Executes an artifact or local file.",
      "properties": {
        "allowedExitCodes": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "Defaults to [0]. A list of possible return values that the program can return to indicate a success."
        },
        "localPath": {
          "type": "string",
          "description": "The absolute path of the file on the local filesystem."
        },
        "args": {
          "description": "Arguments to be passed to the provided executable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "artifactId": {
          "description": "The id of the relevant artifact in the recipe.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SoftwareRecipeStepExecFile"
    },
    "PatchDeployment": {
      "description": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs).",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "duration": {
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out.",
          "type": "string",
          "format": "google-duration"
        },
        "name": {
          "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
          "type": "string"
        },
        "rollout": {
          "$ref": "PatchRollout",
          "description": "Optional. Rollout strategy of the patch job."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters."
        },
        "recurringSchedule": {
          "$ref": "RecurringSchedule",
          "description": "Required. Schedule recurring executions."
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Required. VM instances to patch."
        },
        "patchConfig": {
          "description": "Optional. Patch configuration that is applied.",
          "$ref": "PatchConfig"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Active value means that patch deployment generates Patch Jobs.",
            "Paused value means that patch deployment does not generate Patch jobs. Requires user action to move in and out from this state."
          ],
          "description": "Output only. Current state of the patch deployment.",
          "readOnly": true
        },
        "lastExecuteTime": {
          "type": "string",
          "description": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "oneTimeSchedule": {
          "description": "Required. Schedule a one-time execution.",
          "$ref": "OneTimeSchedule"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "PatchDeployment"
    },
    "PausePatchDeploymentRequest": {
      "properties": {},
      "type": "object",
      "id": "PausePatchDeploymentRequest",
      "description": "A request message for pausing a patch deployment."
    },
    "AptRepository": {
      "description": "Represents a single Apt package repository. This repository is added to a repo file that is stored at `/etc/apt/sources.list.d/google_osconfig.list`.",
      "id": "AptRepository",
      "type": "object",
      "properties": {
        "components": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of components for this repository. Must contain at least one item."
        },
        "archiveType": {
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "DEB",
            "DEB_SRC"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "DEB indicates that the archive contains binary files.",
            "DEB_SRC indicates that the archive contains source files."
          ],
          "type": "string",
          "description": "Type of archive files in this repository. The default behavior is DEB."
        },
        "gpgKey": {
          "description": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg` containing all the keys in any applied guest policy.",
          "type": "string"
        },
        "distribution": {
          "description": "Required. Distribution of this repository.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. URI for this repository."
        }
      }
    },
    "GooRepository": {
      "description": "Represents a Goo package repository. These is added to a repo file that is stored at C:/ProgramData/GooGet/repos/google_osconfig.repo.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the repository."
        },
        "url": {
          "description": "Required. The url of the repository.",
          "type": "string"
        }
      },
      "id": "GooRepository"
    },
    "ExecutePatchJobRequest": {
      "properties": {
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Required. Instances to patch, either explicitly or filtered by some criteria such as zone or labels."
        },
        "rollout": {
          "$ref": "PatchRollout",
          "description": "Rollout strategy of the patch job."
        },
        "dryRun": {
          "type": "boolean",
          "description": "If this patch is a dry-run only, instances are contacted but will do nothing."
        },
        "duration": {
          "format": "google-duration",
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this patch job. This does not have to be unique."
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Patch configuration being applied. If omitted, instances are patched using the default configurations."
        },
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExecutePatchJobRequest",
      "description": "A request message to initiate patching across Compute Engine instances."
    },
    "SoftwareRecipeArtifact": {
      "id": "SoftwareRecipeArtifact",
      "type": "object",
      "properties": {
        "remote": {
          "description": "A generic remote artifact.",
          "$ref": "SoftwareRecipeArtifactRemote"
        },
        "gcs": {
          "$ref": "SoftwareRecipeArtifactGcs",
          "description": "A Google Cloud Storage artifact."
        },
        "id": {
          "description": "Required. Id of the artifact, which the installation and update steps of this recipe can reference. Artifacts in a recipe cannot have the same id.",
          "type": "string"
        },
        "allowInsecure": {
          "description": "Defaults to false. When false, recipes are subject to validations based on the artifact type: Remote: A checksum must be specified, and only protocols with transport-layer security are permitted. GCS: An object generation number must be specified.",
          "type": "boolean"
        }
      },
      "description": "Specifies a resource to be used in the recipe."
    },
    "GuestPolicy": {
      "description": "An OS Config resource representing a guest configuration policy. These policies represent the desired state for VM instance guest environments including packages to install or remove, package repository configurations, and software to install.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Last time this guest policy was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "assignment": {
          "$ref": "Assignment",
          "description": "Required. Specifies the VM instances that are assigned to this policy. This allows you to target sets or groups of VM instances by different parameters such as labels, names, OS, or zones. If left empty, all VM instances underneath this policy are targeted. At the same level in the resource hierarchy (that is within a project), the service prevents the creation of multiple policies that conflict with each other. For more information, see how the service [handles assignment conflicts](/compute/docs/os-config-management/create-guest-policy#handle-conflicts)."
        },
        "etag": {
          "description": "The etag for this guest policy. If this is provided on update, it must match the server's etag.",
          "type": "string"
        },
        "name": {
          "description": "Required. Unique name of the resource in this project using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time this guest policy was created.",
          "readOnly": true
        },
        "recipes": {
          "items": {
            "$ref": "SoftwareRecipe"
          },
          "description": "A list of Recipes to install on the VM instance.",
          "type": "array"
        },
        "packageRepositories": {
          "items": {
            "$ref": "PackageRepository"
          },
          "description": "A list of package repositories to configure on the VM instance. This is done before any other configs are applied so they can use these repos. Package repositories are only configured if the corresponding package manager(s) are available.",
          "type": "array"
        },
        "packages": {
          "items": {
            "$ref": "Package"
          },
          "type": "array",
          "description": "The software packages to be managed by this policy."
        },
        "description": {
          "type": "string",
          "description": "Description of the guest policy. Length of the description is limited to 1024 characters."
        }
      },
      "type": "object",
      "id": "GuestPolicy"
    },
    "EffectiveGuestPolicySourcedPackageRepository": {
      "id": "EffectiveGuestPolicySourcedPackageRepository",
      "properties": {
        "source": {
          "description": "Name of the guest policy providing this config.",
          "type": "string"
        },
        "packageRepository": {
          "$ref": "PackageRepository",
          "description": "A software package repository to configure on the VM instance."
        }
      },
      "description": "A guest policy package repository including its source.",
      "type": "object"
    },
    "SoftwareRecipe": {
      "description": "A software recipe is a set of instructions for installing and configuring a piece of software. It consists of a set of artifacts that are downloaded, and a set of steps that install, configure, and/or update the software. Recipes support installing and updating software from artifacts in the following formats: Zip archive, Tar archive, Windows MSI, Debian package, and RPM package. Additionally, recipes support executing a script (either defined in a file or directly in this api) in bash, sh, cmd, and powershell. Updating a software recipe If a recipe is assigned to an instance and there is a recipe with the same name but a lower version already installed and the assigned state of the recipe is `UPDATED`, then the recipe is updated to the new version. Script Working Directories Each script or execution step is run in its own temporary directory which is deleted after completing the step.",
      "type": "object",
      "id": "SoftwareRecipe",
      "properties": {
        "updateSteps": {
          "description": "Actions to be taken for updating this recipe. On failure it stops executing steps and does not attempt another update for this recipe. Any steps taken (including partially completed steps) are not rolled back.",
          "type": "array",
          "items": {
            "$ref": "SoftwareRecipeStep"
          }
        },
        "artifacts": {
          "items": {
            "$ref": "SoftwareRecipeArtifact"
          },
          "description": "Resources available to be used in the steps in the recipe.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. Unique identifier for the recipe. Only one recipe with a given name is installed on an instance. Names are also used to identify resources which helps to determine whether guest policies have conflicts. This means that requests to create multiple recipes with the same name and version are rejected since they could potentially have conflicting assignments."
        },
        "version": {
          "type": "string",
          "description": "The version of this software recipe. Version can be up to 4 period separated numbers (e.g. 12.34.56.78)."
        },
        "installSteps": {
          "description": "Actions to be taken for installing this recipe. On failure it stops executing steps and does not attempt another installation. Any steps taken (including partially completed steps) are not rolled back.",
          "items": {
            "$ref": "SoftwareRecipeStep"
          },
          "type": "array"
        },
        "desiredState": {
          "description": "Default is INSTALLED. The desired state the agent should maintain for this recipe. INSTALLED: The software recipe is installed on the instance but won't be updated to new versions. UPDATED: The software recipe is installed on the instance. The recipe is updated to a higher version, if a higher version of the recipe is assigned to this instance. REMOVE: Remove is unsupported for software recipes and attempts to create or update a recipe to the REMOVE state is rejected.",
          "enumDescriptions": [
            "The default is to ensure the package is installed.",
            "The agent ensures that the package is installed.",
            "The agent ensures that the package is installed and periodically checks for and install any updates.",
            "The agent ensures that the package is not installed and uninstall it if detected."
          ],
          "type": "string",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "UPDATED",
            "REMOVED"
          ]
        }
      }
    },
    "SoftwareRecipeStepInstallMsi": {
      "id": "SoftwareRecipeStepInstallMsi",
      "type": "object",
      "properties": {
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        },
        "flags": {
          "type": "array",
          "description": "The flags to use when installing the MSI defaults to [\"/i\"] (i.e. the install flag).",
          "items": {
            "type": "string"
          }
        },
        "allowedExitCodes": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]"
        }
      },
      "description": "Installs an MSI file."
    },
    "PatchInstanceFilterGroupLabel": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Compute Engine instance labels that must be present for a VM instance to be targeted by this filter."
        }
      },
      "description": "Represents a group of VMs that can be identified as having all these labels, for example \"env=prod and app=web\".",
      "type": "object",
      "id": "PatchInstanceFilterGroupLabel"
    },
    "SoftwareRecipeArtifactGcs": {
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Bucket of the Google Cloud Storage object. Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `my-bucket`."
        },
        "object": {
          "type": "string",
          "description": "Name of the Google Cloud Storage object. As specified [here] (https://cloud.google.com/storage/docs/naming#objectnames) Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `foo/bar`."
        },
        "generation": {
          "description": "Must be provided if allow_insecure is false. Generation number of the Google Cloud Storage object. `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `1234567`.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "SoftwareRecipeArtifactGcs",
      "description": "Specifies an artifact available as a Google Cloud Storage object."
    },
    "GcsObject": {
      "description": "Google Cloud Storage object representation.",
      "type": "object",
      "properties": {
        "object": {
          "type": "string",
          "description": "Required. Name of the Google Cloud Storage object."
        },
        "bucket": {
          "description": "Required. Bucket of the Google Cloud Storage object.",
          "type": "string"
        },
        "generationNumber": {
          "format": "int64",
          "type": "string",
          "description": "Required. Generation number of the Google Cloud Storage object. This is used to ensure that the ExecStep specified by this PatchJob does not change."
        }
      },
      "id": "GcsObject"
    },
    "AptSettings": {
      "properties": {
        "exclusivePackages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field cannot be specified with any other patch configuration fields."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIST",
            "UPGRADE"
          ],
          "enumDescriptions": [
            "By default, upgrade will be performed.",
            "Runs `apt-get dist-upgrade`.",
            "Runs `apt-get upgrade`."
          ],
          "type": "string",
          "description": "By changing the type to DIST, the patching is performed using `apt-get dist-upgrade` instead."
        },
        "excludes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of packages to exclude from update. These packages will be excluded"
        }
      },
      "type": "object",
      "id": "AptSettings",
      "description": "Apt patching is completed by executing `apt-get update && apt-get upgrade`. Additional options can be set to control how this is executed."
    },
    "AssignmentGroupLabel": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Google Compute Engine instance labels that must be present for an instance to be included in this assignment group."
        }
      },
      "id": "AssignmentGroupLabel",
      "type": "object",
      "description": "Represents a group of VM intances that can be identified as having all these labels, for example \"env=prod and app=web\"."
    },
    "EffectiveGuestPolicySourcedSoftwareRecipe": {
      "id": "EffectiveGuestPolicySourcedSoftwareRecipe",
      "description": "A guest policy recipe including its source.",
      "properties": {
        "softwareRecipe": {
          "description": "A software recipe to configure on the VM instance.",
          "$ref": "SoftwareRecipe"
        },
        "source": {
          "description": "Name of the guest policy providing this config.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SoftwareRecipeStepExtractArchive": {
      "description": "Extracts an archive of the type specified in the specified directory.",
      "properties": {
        "destination": {
          "type": "string",
          "description": "Directory to extract archive to. Defaults to `/` on Linux or `C:\\` on Windows."
        },
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        },
        "type": {
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "TAR",
            "TAR_GZIP",
            "TAR_BZIP",
            "TAR_LZMA",
            "TAR_XZ",
            "ZIP"
          ],
          "description": "Required. The type of the archive to extract.",
          "type": "string",
          "enumDescriptions": [
            "Indicates that the archive type isn't specified.",
            "Indicates that the archive is a tar archive with no encryption.",
            "Indicates that the archive is a tar archive with gzip encryption.",
            "Indicates that the archive is a tar archive with bzip encryption.",
            "Indicates that the archive is a tar archive with lzma encryption.",
            "Indicates that the archive is a tar archive with xz encryption.",
            "Indicates that the archive is a zip archive."
          ]
        }
      },
      "id": "SoftwareRecipeStepExtractArchive",
      "type": "object"
    },
    "SoftwareRecipeStepCopyFile": {
      "type": "object",
      "properties": {
        "destination": {
          "type": "string",
          "description": "Required. The absolute path on the instance to put the file."
        },
        "permissions": {
          "type": "string",
          "description": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4"
        },
        "overwrite": {
          "type": "boolean",
          "description": "Whether to allow this step to overwrite existing files. If this is false and the file already exists the file is not overwritten and the step is considered a success. Defaults to false."
        },
        "artifactId": {
          "type": "string",
          "description": "Required. The id of the relevant artifact in the recipe."
        }
      },
      "id": "SoftwareRecipeStepCopyFile",
      "description": "Copies the artifact to the specified path on the instance."
    },
    "PatchJob": {
      "properties": {
        "instanceDetailsSummary": {
          "description": "Summary of instance details.",
          "$ref": "PatchJobInstanceDetailsSummary"
        },
        "state": {
          "description": "The current state of the PatchJob.",
          "type": "string",
          "enumDescriptions": [
            "State must be specified.",
            "The patch job was successfully initiated.",
            "The patch job is looking up instances to run the patch on.",
            "Instances are being patched.",
            "Patch job completed successfully.",
            "Patch job completed but there were errors.",
            "The patch job was canceled.",
            "The patch job timed out."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "INSTANCE_LOOKUP",
            "PATCHING",
            "SUCCEEDED",
            "COMPLETED_WITH_ERRORS",
            "CANCELED",
            "TIMED_OUT"
          ]
        },
        "errorMessage": {
          "type": "string",
          "description": "If this patch job failed, this message provides information about the failure."
        },
        "instanceFilter": {
          "description": "Instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "duration": {
          "format": "google-duration",
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "type": "string"
        },
        "percentComplete": {
          "description": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete.",
          "type": "number",
          "format": "double"
        },
        "createTime": {
          "description": "Time this patch job was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Description of the patch job. Length of the description is limited to 1024 characters."
        },
        "patchDeployment": {
          "readOnly": true,
          "description": "Output only. Name of the patch deployment that created this patch job.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last time this patch job was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "rollout": {
          "description": "Rollout strategy being applied.",
          "$ref": "PatchRollout"
        },
        "patchConfig": {
          "description": "Patch configuration being applied.",
          "$ref": "PatchConfig"
        },
        "name": {
          "description": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`",
          "type": "string"
        },
        "dryRun": {
          "type": "boolean",
          "description": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance."
        },
        "displayName": {
          "description": "Display name for this patch job. This is not a unique identifier.",
          "type": "string"
        }
      },
      "id": "PatchJob",
      "description": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use `ListPatchJobInstanceDetails`. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job).",
      "type": "object"
    },
    "EffectiveGuestPolicySourcedPackage": {
      "id": "EffectiveGuestPolicySourcedPackage",
      "description": "A guest policy package including its source.",
      "properties": {
        "package": {
          "$ref": "Package",
          "description": "A software package to configure on the VM instance."
        },
        "source": {
          "type": "string",
          "description": "Name of the guest policy providing this config."
        }
      },
      "type": "object"
    },
    "ResumePatchDeploymentRequest": {
      "type": "object",
      "id": "ResumePatchDeploymentRequest",
      "properties": {},
      "description": "A request message for resuming a patch deployment."
    },
    "PatchRollout": {
      "id": "PatchRollout",
      "type": "object",
      "description": "Patch rollout configuration specifications. Contains details on the concurrency control when applying patch(es) to all targeted VMs.",
      "properties": {
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Mode must be specified.",
            "Patches are applied one zone at a time. The patch job begins in the region with the lowest number of targeted VMs. Within the region, patching begins in the zone with the lowest number of targeted VMs. If multiple regions (or zones within a region) have the same number of targeted VMs, a tie-breaker is achieved by sorting the regions or zones in alphabetical order.",
            "Patches are applied to VMs in all zones at the same time."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "ZONE_BY_ZONE",
            "CONCURRENT_ZONES"
          ],
          "description": "Mode of the patch rollout."
        },
        "disruptionBudget": {
          "$ref": "FixedOrPercent",
          "description": "The maximum number (or percentage) of VMs per zone to disrupt at any given moment. The number of VMs calculated from multiplying the percentage by the total number of VMs in a zone is rounded up. During patching, a VM is considered disrupted from the time the agent is notified to begin until patching has completed. This disruption time includes the time to complete reboot and any post-patch steps. A VM contributes to the disruption budget if its patching operation fails either when applying the patches, running pre or post patch steps, or if it fails to respond with a success notification before timing out. VMs that are not running or do not have an active agent do not count toward this disruption budget. For zone-by-zone rollouts, if the disruption budget in a zone is exceeded, the patch job stops, because continuing to the next zone requires completion of the patch process in the previous zone. For example, if the disruption budget has a fixed value of `10`, and 8 VMs fail to patch in the current zone, the patch job continues to patch 2 VMs at a time until the zone is completed. When that zone is completed successfully, patching begins with 10 VMs at a time in the next zone. If 10 VMs in the next zone fail to patch, the patch job stops."
        }
      }
    },
    "PatchJobInstanceDetailsSummary": {
      "type": "object",
      "properties": {
        "inactiveInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that are inactive."
        },
        "postPatchStepInstanceCount": {
          "format": "int64",
          "description": "Number of instances that are running the post-patch step.",
          "type": "string"
        },
        "startedInstanceCount": {
          "description": "Number of instances that have started.",
          "type": "string",
          "format": "int64"
        },
        "timedOutInstanceCount": {
          "description": "Number of instances that exceeded the time out while applying the patch.",
          "format": "int64",
          "type": "string"
        },
        "failedInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that failed."
        },
        "pendingInstanceCount": {
          "description": "Number of instances pending patch job.",
          "format": "int64",
          "type": "string"
        },
        "succeededRebootRequiredInstanceCount": {
          "format": "int64",
          "description": "Number of instances that require reboot.",
          "type": "string"
        },
        "rebootingInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances rebooting."
        },
        "prePatchStepInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that are running the pre-patch step."
        },
        "applyingPatchesInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that are applying patches."
        },
        "notifiedInstanceCount": {
          "format": "int64",
          "description": "Number of instances notified about patch job.",
          "type": "string"
        },
        "succeededInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that have completed successfully."
        },
        "noAgentDetectedInstanceCount": {
          "type": "string",
          "description": "Number of instances that do not appear to be running the agent. Check to ensure that the agent is installed, running, and able to communicate with the service.",
          "format": "int64"
        },
        "ackedInstanceCount": {
          "type": "string",
          "description": "Number of instances that have acked and will start shortly.",
          "format": "int64"
        },
        "downloadingPatchesInstanceCount": {
          "format": "int64",
          "description": "Number of instances that are downloading patches.",
          "type": "string"
        }
      },
      "id": "PatchJobInstanceDetailsSummary",
      "description": "A summary of the current patch state across all instances that this patch job affects. Contains counts of instances in different states. These states map to `InstancePatchState`. List patch job instance details to see the specific states of each instance."
    },
    "PackageRepository": {
      "id": "PackageRepository",
      "type": "object",
      "description": "A package repository.",
      "properties": {
        "apt": {
          "$ref": "AptRepository",
          "description": "An Apt Repository."
        },
        "goo": {
          "description": "A Goo Repository.",
          "$ref": "GooRepository"
        },
        "yum": {
          "$ref": "YumRepository",
          "description": "A Yum Repository."
        },
        "zypper": {
          "description": "A Zypper Repository.",
          "$ref": "ZypperRepository"
        }
      }
    },
    "EffectiveGuestPolicy": {
      "properties": {
        "packageRepositories": {
          "type": "array",
          "description": "List of package repository configurations assigned to the VM instance.",
          "items": {
            "$ref": "EffectiveGuestPolicySourcedPackageRepository"
          }
        },
        "packages": {
          "description": "List of package configurations assigned to the VM instance.",
          "type": "array",
          "items": {
            "$ref": "EffectiveGuestPolicySourcedPackage"
          }
        },
        "softwareRecipes": {
          "type": "array",
          "description": "List of recipes assigned to the VM instance.",
          "items": {
            "$ref": "EffectiveGuestPolicySourcedSoftwareRecipe"
          }
        }
      },
      "type": "object",
      "id": "EffectiveGuestPolicy",
      "description": "The effective guest policy that applies to a VM instance."
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "YumSettings": {
      "properties": {
        "exclusivePackages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields."
        },
        "security": {
          "type": "boolean",
          "description": "Adds the `--security` flag to `yum update`. Not supported on all platforms."
        },
        "minimal": {
          "type": "boolean",
          "description": "Will cause patch to run `yum update-minimal` instead."
        },
        "excludes": {
          "type": "array",
          "items": {
[...]
