{
  "title": "OS Config API",
  "name": "osconfig",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "revision": "20200930",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "OS management tools that can be used for patch management, patch compliance, and configuration management on VM instances.",
  "baseUrl": "https://osconfig.googleapis.com/",
  "rootUrl": "https://osconfig.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "protocol": "rest",
  "canonicalName": "OS Config",
  "discoveryVersion": "v1",
  "version_module": true,
  "kind": "discovery#restDescription",
  "id": "osconfig:v1",
  "schemas": {
    "TimeOfDay": {
      "id": "TimeOfDay",
      "properties": {
        "seconds": {
          "format": "int32",
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of hour of day. Must be from 0 to 59."
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999."
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "AptSettings": {
      "properties": {
        "excludes": {
          "items": {
            "type": "string"
          },
          "description": "List of packages to exclude from update. These packages will be excluded",
          "type": "array"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIST",
            "UPGRADE"
          ],
          "enumDescriptions": [
            "By default, upgrade will be performed.",
            "Runs `apt-get dist-upgrade`.",
            "Runs `apt-get upgrade`."
          ],
          "description": "By changing the type to DIST, the patching is performed using `apt-get dist-upgrade` instead.",
          "type": "string"
        },
        "exclusivePackages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field cannot be specified with any other patch configuration fields."
        }
      },
      "type": "object",
      "description": "Apt patching is completed by executing `apt-get update && apt-get upgrade`. Additional options can be set to control how this is executed.",
      "id": "AptSettings"
    },
    "PatchJob": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "If this patch job failed, this message provides information about the failure."
        },
        "rollout": {
          "description": "Rollout strategy being applied.",
          "$ref": "PatchRollout"
        },
        "dryRun": {
          "type": "boolean",
          "description": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance."
        },
        "duration": {
          "type": "string",
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "format": "google-duration"
        },
        "percentComplete": {
          "description": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete.",
          "format": "double",
          "type": "number"
        },
        "createTime": {
          "description": "Time this patch job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`"
        },
        "displayName": {
          "description": "Display name for this patch job. This is not a unique identifier.",
          "type": "string"
        },
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "patchConfig": {
          "description": "Patch configuration being applied.",
          "$ref": "PatchConfig"
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Instances to patch."
        },
        "state": {
          "enumDescriptions": [
            "State must be specified.",
            "The patch job was successfully initiated.",
            "The patch job is looking up instances to run the patch on.",
            "Instances are being patched.",
            "Patch job completed successfully.",
            "Patch job completed but there were errors.",
            "The patch job was canceled.",
            "The patch job timed out."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "INSTANCE_LOOKUP",
            "PATCHING",
            "SUCCEEDED",
            "COMPLETED_WITH_ERRORS",
            "CANCELED",
            "TIMED_OUT"
          ],
          "description": "The current state of the PatchJob."
        },
        "instanceDetailsSummary": {
          "$ref": "PatchJobInstanceDetailsSummary",
          "description": "Summary of instance details."
        },
        "patchDeployment": {
          "description": "Output only. Name of the patch deployment that created this patch job.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Last time this patch job was updated.",
          "format": "google-datetime"
        }
      },
      "description": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use ListPatchJobInstanceDetails. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job).",
      "id": "PatchJob"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "type": "object"
    },
    "PatchRollout": {
      "description": "Patch rollout configuration specifications. Contains details on the concurrency control when applying patch(es) to all targeted VMs.",
      "id": "PatchRollout",
      "type": "object",
      "properties": {
        "disruptionBudget": {
          "$ref": "FixedOrPercent",
          "description": "The maximum number (or percentage) of VMs per zone to disrupt at any given moment. The number of VMs calculated from multiplying the percentage by the total number of VMs in a zone is rounded up. During patching, a VM is considered disrupted from the time the agent is notified to begin until patching has completed. This disruption time includes the time to complete reboot and any post-patch steps. A VM contributes to the disruption budget if its patching operation fails either when applying the patches, running pre or post patch steps, or if it fails to respond with a success notification before timing out. VMs that are not running or do not have an active agent do not count toward this disruption budget. For zone-by-zone rollouts, if the disruption budget in a zone is exceeded, the patch job stops, because continuing to the next zone requires completion of the patch process in the previous zone. For example, if the disruption budget has a fixed value of `10`, and 8 VMs fail to patch in the current zone, the patch job continues to patch 2 VMs at a time until the zone is completed. When that zone is completed successfully, patching begins with 10 VMs at a time in the next zone. If 10 VMs in the next zone fail to patch, the patch job stops."
        },
        "mode": {
          "enumDescriptions": [
            "Mode must be specified.",
            "Patches are applied one zone at a time. The patch job begins in the region with the lowest number of targeted VMs. Within the region, patching begins in the zone with the lowest number of targeted VMs. If multiple regions (or zones within a region) have the same number of targeted VMs, a tie-breaker is achieved by sorting the regions or zones in alphabetical order.",
            "Patches are applied to VMs in all zones at the same time."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "ZONE_BY_ZONE",
            "CONCURRENT_ZONES"
          ],
          "description": "Mode of the patch rollout.",
          "type": "string"
        }
      }
    },
    "PatchConfig": {
      "type": "object",
      "properties": {
        "postStep": {
          "description": "The `ExecStep` to run after the patch update.",
          "$ref": "ExecStep"
        },
        "preStep": {
          "description": "The `ExecStep` to run before the patch update.",
          "$ref": "ExecStep"
        },
        "zypper": {
          "description": "Zypper update settings. Use this setting to override the default `zypper` patch rules.",
          "$ref": "ZypperSettings"
        },
        "yum": {
          "description": "Yum update settings. Use this setting to override the default `yum` patch rules.",
          "$ref": "YumSettings"
        },
        "apt": {
          "$ref": "AptSettings",
          "description": "Apt update settings. Use this setting to override the default `apt` patch rules."
        },
        "windowsUpdate": {
          "$ref": "WindowsUpdateSettings",
          "description": "Windows update settings. Use this override the default windows patch rules."
        },
        "goo": {
          "description": "Goo update settings. Use this setting to override the default `goo` patch rules.",
          "$ref": "GooSettings"
        },
        "rebootConfig": {
          "type": "string",
          "enumDescriptions": [
            "The default behavior is DEFAULT.",
            "The agent decides if a reboot is necessary by checking signals such as registry keys on Windows or `/var/run/reboot-required` on APT based systems. On RPM based systems, a set of core system package install times are compared with system boot time.",
            "Always reboot the machine after the update completes.",
            "Never reboot the machine after the update completes."
          ],
          "description": "Post-patch reboot settings.",
          "enum": [
            "REBOOT_CONFIG_UNSPECIFIED",
            "DEFAULT",
            "ALWAYS",
            "NEVER"
          ]
        }
      },
      "id": "PatchConfig",
      "description": "Patch configuration specifications. Contains details on how to apply the patch(es) to a VM instance."
    },
    "ListPatchDeploymentsResponse": {
      "description": "A response message for listing patch deployments.",
      "id": "ListPatchDeploymentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of patch deployments.",
          "type": "string"
        },
        "patchDeployments": {
          "items": {
            "$ref": "PatchDeployment"
          },
          "type": "array",
          "description": "The list of patch deployments."
        }
      }
    },
    "GcsObject": {
      "description": "Cloud Storage object representation.",
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. Bucket of the Cloud Storage object."
        },
        "object": {
          "type": "string",
          "description": "Required. Name of the Cloud Storage object."
        },
        "generationNumber": {
          "format": "int64",
          "description": "Required. Generation number of the Cloud Storage object. This is used to ensure that the ExecStep specified by this PatchJob does not change.",
          "type": "string"
        }
      },
      "id": "GcsObject"
    },
    "MonthlySchedule": {
      "properties": {
        "weekDayOfMonth": {
          "description": "Required. Week day in a month.",
          "$ref": "WeekDayOfMonth"
        },
        "monthDay": {
          "type": "integer",
          "description": "Required. One day of the month. 1-31 indicates the 1st to the 31st day. -1 indicates the last day of the month. Months without the target day will be skipped. For example, a schedule to run \"every month on the 31st\" will not run in February, April, June, etc.",
          "format": "int32"
        }
      },
      "description": "Represents a monthly schedule. An example of a valid monthly schedule is \"on the third Tuesday of the month\" or \"on the 15th of the month\".",
      "type": "object",
      "id": "MonthlySchedule"
    },
    "WindowsUpdateSettings": {
      "properties": {
        "classifications": {
          "items": {
            "enum": [
              "CLASSIFICATION_UNSPECIFIED",
              "CRITICAL",
              "SECURITY",
              "DEFINITION",
              "DRIVER",
              "FEATURE_PACK",
              "SERVICE_PACK",
              "TOOL",
              "UPDATE_ROLLUP",
              "UPDATE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Invalid. If classifications are included, they must be specified.",
              "\"A widely released fix for a specific problem that addresses a critical, non-security-related bug.\" [1]",
              "\"A widely released fix for a product-specific, security-related vulnerability. Security vulnerabilities are rated by their severity. The severity rating is indicated in the Microsoft security bulletin as critical, important, moderate, or low.\" [1]",
              "\"A widely released and frequent software update that contains additions to a product's definition database. Definition databases are often used to detect objects that have specific attributes, such as malicious code, phishing websites, or junk mail.\" [1]",
              "\"Software that controls the input and output of a device.\" [1]",
              "\"New product functionality that is first distributed outside the context of a product release and that is typically included in the next full product release.\" [1]",
              "\"A tested, cumulative set of all hotfixes, security updates, critical updates, and updates. Additionally, service packs may contain additional fixes for problems that are found internally since the release of the product. Service packs my also contain a limited number of customer-requested design changes or features.\" [1]",
              "\"A utility or feature that helps complete a task or set of tasks.\" [1]",
              "\"A tested, cumulative set of hotfixes, security updates, critical updates, and updates that are packaged together for easy deployment. A rollup generally targets a specific area, such as security, or a component of a product, such as Internet Information Services (IIS).\" [1]",
              "\"A widely released fix for a specific problem. An update addresses a noncritical, non-security-related bug.\" [1]"
            ]
          },
          "description": "Only apply updates of these windows update classifications. If empty, all updates are applied.",
          "type": "array"
        },
        "excludes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of KBs to exclude from update."
        },
        "exclusivePatches": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "An exclusive list of kbs to be updated. These are the only patches that will be updated. This field must not be used with other patch configurations."
        }
      },
      "id": "WindowsUpdateSettings",
      "description": "Windows patching is performed using the Windows Update Agent.",
      "type": "object"
    },
    "ExecStep": {
      "description": "A step that runs an executable for a PatchJob.",
      "properties": {
        "linuxExecStepConfig": {
          "$ref": "ExecStepConfig",
          "description": "The ExecStepConfig for all Linux VMs targeted by the PatchJob."
        },
        "windowsExecStepConfig": {
          "description": "The ExecStepConfig for all Windows VMs targeted by the PatchJob.",
          "$ref": "ExecStepConfig"
        }
      },
      "id": "ExecStep",
      "type": "object"
    },
    "PatchJobInstanceDetails": {
      "description": "Patch details for a VM instance. For more information about reviewing VM instance details, see [Listing all VM instance details for a specific patch job](https://cloud.google.com/compute/docs/os-patch-management/manage-patch-jobs#list-instance-details).",
      "properties": {
        "failureReason": {
          "description": "If the patch fails, this field provides the reason.",
          "type": "string"
        },
        "attemptCount": {
          "format": "int64",
          "description": "The number of times the agent that the agent attempts to apply the patch.",
          "type": "string"
        },
        "state": {
          "enum": [
            "PATCH_STATE_UNSPECIFIED",
            "PENDING",
            "INACTIVE",
            "NOTIFIED",
            "STARTED",
            "DOWNLOADING_PATCHES",
            "APPLYING_PATCHES",
            "REBOOTING",
            "SUCCEEDED",
            "SUCCEEDED_REBOOT_REQUIRED",
            "FAILED",
            "ACKED",
            "TIMED_OUT",
            "RUNNING_PRE_PATCH_STEP",
            "RUNNING_POST_PATCH_STEP",
            "NO_AGENT_DETECTED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The instance is not yet notified.",
            "Instance is inactive and cannot be patched.",
            "The instance is notified that it should be patched.",
            "The instance has started the patching process.",
            "The instance is downloading patches.",
            "The instance is applying patches.",
            "The instance is rebooting.",
            "The instance has completed applying patches.",
            "The instance has completed applying patches but a reboot is required.",
            "The instance has failed to apply the patch.",
            "The instance acked the notification and will start shortly.",
            "The instance exceeded the time out while applying the patch.",
            "The instance is running the pre-patch step.",
            "The instance is running the post-patch step.",
            "The service could not detect the presence of the agent. Check to ensure that the agent is installed, running, and able to communicate with the service."
          ],
          "type": "string",
          "description": "Current state of instance patch."
        },
        "name": {
          "type": "string",
          "description": "The instance name in the form `projects/*/zones/*/instances/*`"
        },
        "instanceSystemId": {
          "type": "string",
          "description": "The unique identifier for the instance. This identifier is defined by the server."
        }
      },
      "id": "PatchJobInstanceDetails",
      "type": "object"
    },
    "YumSettings": {
      "id": "YumSettings",
      "properties": {
        "minimal": {
          "description": "Will cause patch to run `yum update-minimal` instead.",
          "type": "boolean"
        },
        "exclusivePackages": {
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields.",
          "type": "array"
        },
        "security": {
          "description": "Adds the `--security` flag to `yum update`. Not supported on all platforms.",
          "type": "boolean"
        },
        "excludes": {
          "description": "List of packages to exclude from update. These packages are excluded by using the yum `--exclude` flag.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Yum patching is performed by executing `yum update`. Additional options can be set to control how this is executed. Note that not all settings are supported on all platforms."
    },
    "PatchInstanceFilterGroupLabel": {
      "properties": {
        "labels": {
          "type": "object",
          "description": "Compute Engine instance labels that must be present for a VM instance to be targeted by this filter.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Targets a group of VM instances by using their [assigned labels](https://cloud.google.com/compute/docs/labeling-resources). Labels are key-value pairs. A `GroupLabel` is a combination of labels that is used to target VMs for a patch job. For example, a patch job can target VMs that have the following `GroupLabel`: `{\"env\":\"test\", \"app\":\"web\"}`. This means that the patch job is applied to VMs that have both the labels `env=test` and `app=web`.",
      "id": "PatchInstanceFilterGroupLabel"
    },
    "PatchJobInstanceDetailsSummary": {
      "type": "object",
      "description": "A summary of the current patch state across all instances that this patch job affects. Contains counts of instances in different states. These states map to `InstancePatchState`. List patch job instance details to see the specific states of each instance.",
      "properties": {
        "failedInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that failed."
        },
        "prePatchStepInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that are running the pre-patch step."
        },
        "inactiveInstanceCount": {
          "format": "int64",
          "description": "Number of instances that are inactive.",
          "type": "string"
        },
        "timedOutInstanceCount": {
          "description": "Number of instances that exceeded the time out while applying the patch.",
          "format": "int64",
          "type": "string"
        },
        "postPatchStepInstanceCount": {
          "description": "Number of instances that are running the post-patch step.",
          "type": "string",
          "format": "int64"
        },
        "startedInstanceCount": {
          "format": "int64",
          "description": "Number of instances that have started.",
          "type": "string"
        },
        "applyingPatchesInstanceCount": {
          "type": "string",
          "description": "Number of instances that are applying patches.",
          "format": "int64"
        },
        "notifiedInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances notified about patch job."
        },
        "rebootingInstanceCount": {
          "description": "Number of instances rebooting.",
          "type": "string",
          "format": "int64"
        },
        "succeededInstanceCount": {
          "description": "Number of instances that have completed successfully.",
          "format": "int64",
          "type": "string"
        },
        "ackedInstanceCount": {
          "description": "Number of instances that have acked and will start shortly.",
          "format": "int64",
          "type": "string"
        },
        "noAgentDetectedInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that do not appear to be running the agent. Check to ensure that the agent is installed, running, and able to communicate with the service."
        },
        "pendingInstanceCount": {
          "type": "string",
          "description": "Number of instances pending patch job.",
          "format": "int64"
        },
        "downloadingPatchesInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that are downloading patches."
        },
        "succeededRebootRequiredInstanceCount": {
          "description": "Number of instances that require reboot.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "PatchJobInstanceDetailsSummary"
    },
    "ZypperSettings": {
      "type": "object",
      "description": "Zypper patching is performed by running `zypper patch`. See also https://en.opensuse.org/SDB:Zypper_manual.",
      "id": "ZypperSettings",
      "properties": {
        "categories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Install only patches with these categories. Common categories include security, recommended, and feature."
        },
        "withUpdate": {
          "description": "Adds the `--with-update` flag, to `zypper patch`.",
          "type": "boolean"
        },
        "withOptional": {
          "type": "boolean",
          "description": "Adds the `--with-optional` flag to `zypper patch`."
        },
        "exclusivePatches": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of patches to be updated. These are the only patches that will be installed using 'zypper patch patch:' command. This field must not be used with any other patch configuration fields."
        },
        "excludes": {
          "type": "array",
          "description": "List of patches to exclude from update.",
          "items": {
            "type": "string"
          }
        },
        "severities": {
          "items": {
            "type": "string"
          },
          "description": "Install only patches with these severities. Common severities include critical, important, moderate, and low.",
          "type": "array"
        }
      }
    },
    "WeekDayOfMonth": {
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "description": "Required. A day of the week.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "weekOrdinal": {
          "type": "integer",
          "description": "Required. Week number in a month. 1-4 indicates the 1st to 4th week of the month. -1 indicates the last week of the month.",
          "format": "int32"
        }
      },
      "description": "Represents one week day in a month. An example is \"the 4th Sunday\".",
      "id": "WeekDayOfMonth"
    },
    "TimeZone": {
      "id": "TimeZone",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object"
    },
    "ListPatchJobsResponse": {
      "description": "A response message for listing patch jobs.",
      "id": "ListPatchJobsResponse",
      "type": "object",
      "properties": {
        "patchJobs": {
          "type": "array",
          "description": "The list of patch jobs.",
          "items": {
            "$ref": "PatchJob"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token that can be used to get the next page of results."
        }
      }
    },
    "OneTimeSchedule": {
      "id": "OneTimeSchedule",
      "type": "object",
      "description": "Sets the time for a one time patch deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
      "properties": {
        "executeTime": {
          "type": "string",
          "description": "Required. The desired patch job execution time.",
          "format": "google-datetime"
        }
      }
    },
    "ExecStepConfig": {
      "properties": {
        "interpreter": {
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "SHELL",
            "POWERSHELL"
          ],
          "type": "string",
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script will be executed directly, which will likely only succeed for scripts with [shebang lines] (https://en.wikipedia.org/wiki/Shebang_\\(Unix\\)).",
          "enumDescriptions": [
            "Invalid for a Windows ExecStepConfig. For a Linux ExecStepConfig, the interpreter will be parsed from the shebang line of the script if unspecified.",
            "Indicates that the script is run with `/bin/sh` on Linux and `cmd` on Windows.",
            "Indicates that the file is run with PowerShell flags `-NonInteractive`, `-NoProfile`, and `-ExecutionPolicy Bypass`."
          ]
        },
        "allowedSuccessCodes": {
          "type": "array",
          "description": "Defaults to [0]. A list of possible return values that the execution can return to indicate a success.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "gcsObject": {
          "$ref": "GcsObject",
          "description": "A Cloud Storage object containing the executable."
        },
        "localPath": {
          "description": "An absolute path to the executable on the VM.",
          "type": "string"
        }
      },
      "id": "ExecStepConfig",
      "description": "Common configurations for an ExecStep.",
      "type": "object"
    },
    "RecurringSchedule": {
      "description": "Sets the time for recurring patch deployments.",
      "id": "RecurringSchedule",
      "properties": {
        "startTime": {
          "description": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment.",
          "format": "google-datetime",
          "type": "string"
        },
        "frequency": {
          "description": "Required. The frequency unit of this recurring schedule.",
          "enumDescriptions": [
            "Invalid. A frequency must be specified.",
            "Indicates that the frequency should be expressed in terms of weeks.",
            "Indicates that the frequency should be expressed in terms of months."
          ],
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY"
          ]
        },
        "weekly": {
          "description": "Required. Schedule with weekly executions.",
          "$ref": "WeeklySchedule"
        },
        "timeOfDay": {
          "$ref": "TimeOfDay",
          "description": "Required. Time of the day to run a recurring deployment."
        },
        "timeZone": {
          "description": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone.",
          "$ref": "TimeZone"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The end time at which a recurring patch deployment schedule is no longer active.",
          "format": "google-datetime"
        },
        "nextExecuteTime": {
          "description": "Output only. The time the next patch job is scheduled to run.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "monthly": {
          "$ref": "MonthlySchedule",
          "description": "Required. Schedule with monthly executions."
        },
        "lastExecuteTime": {
          "format": "google-datetime",
          "description": "Output only. The time the last patch job ran successfully.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListPatchJobInstanceDetailsResponse": {
      "type": "object",
      "description": "A response message for listing the instances details for a patch job.",
      "id": "ListPatchJobInstanceDetailsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        },
        "patchJobInstanceDetails": {
          "type": "array",
          "items": {
            "$ref": "PatchJobInstanceDetails"
          },
          "description": "A list of instance status."
        }
      }
    },
    "GooSettings": {
      "type": "object",
      "id": "GooSettings",
      "properties": {},
      "description": "Googet patching is performed by running `googet update`."
    },
    "PatchDeployment": {
      "type": "object",
      "description": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs).",
      "id": "PatchDeployment",
      "properties": {
        "lastExecuteTime": {
          "description": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "rollout": {
          "$ref": "PatchRollout",
          "description": "Optional. Rollout strategy of the patch job."
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Required. VM instances to patch."
        },
        "name": {
          "type": "string",
          "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment."
        },
        "recurringSchedule": {
          "$ref": "RecurringSchedule",
          "description": "Required. Schedule recurring executions."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters."
        },
        "duration": {
          "format": "google-duration",
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out.",
          "type": "string"
        },
        "patchConfig": {
          "description": "Optional. Patch configuration that is applied.",
          "$ref": "PatchConfig"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "oneTimeSchedule": {
          "$ref": "OneTimeSchedule",
          "description": "Required. Schedule a one-time execution."
        }
      }
    },
    "FixedOrPercent": {
      "type": "object",
      "properties": {
        "percent": {
          "format": "int32",
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "type": "integer"
        },
        "fixed": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies a fixed value."
        }
      },
      "id": "FixedOrPercent",
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value."
    },
    "CancelPatchJobRequest": {
      "id": "CancelPatchJobRequest",
      "type": "object",
      "description": "Message for canceling a patch job.",
      "properties": {}
    },
    "WeeklySchedule": {
      "properties": {
        "dayOfWeek": {
          "description": "Required. Day of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a weekly schedule.",
      "id": "WeeklySchedule"
    },
    "PatchInstanceFilter": {
      "id": "PatchInstanceFilter",
      "properties": {
        "groupLabels": {
          "type": "array",
          "description": "Targets VM instances matching ANY of these GroupLabels. This allows targeting of disparate groups of VM instances.",
          "items": {
            "$ref": "PatchInstanceFilterGroupLabel"
          }
        },
        "instanceNamePrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Targets VMs whose name starts with one of these prefixes. Similar to labels, this is another way to group VMs when targeting configs, for example prefix=\"prod-\"."
        },
        "zones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Targets VM instances in ANY of these zones. Leave empty to target VM instances in any zone."
        },
        "instances": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Targets any of the VM instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`, `projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`, or `https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`"
        },
        "all": {
          "type": "boolean",
          "description": "Target all VM instances in the project. If true, no other criteria is permitted."
        }
      },
      "description": "A filter to target VM instances for patching. The targeted VMs must meet all criteria specified. So if both labels and zones are specified, the patch job targets only VMs with those labels and in those zones.",
      "type": "object"
    },
    "ExecutePatchJobRequest": {
      "type": "object",
      "id": "ExecutePatchJobRequest",
      "properties": {
        "displayName": {
          "description": "Display name for this patch job. This does not have to be unique.",
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Duration of the patch job. After the duration ends, the patch job times out."
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Patch configuration being applied. If omitted, instances are patched using the default configurations."
        },
        "rollout": {
          "description": "Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        },
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "dryRun": {
          "description": "If this patch is a dry-run only, instances are contacted but will do nothing.",
          "type": "boolean"
        },
        "instanceFilter": {
          "description": "Required. Instances to patch, either explicitly or filtered by some criteria such as zone or labels.",
          "$ref": "PatchInstanceFilter"
        }
      },
      "description": "A request message to initiate patching across Compute Engine instances."
    }
  },
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "ownerName": "Google",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/compute/docs/manage-os",
  "servicePath": "",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "patchDeployments": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PatchDeployment"
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$"
                }
              },
              "id": "osconfig.projects.patchDeployments.get",
              "description": "Get an OS Config patch deployment."
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "osconfig.projects.patchDeployments.delete",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Delete an OS Config patch deployment.",
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "description": "Get a page of OS Config patch deployments.",
              "response": {
                "$ref": "ListPatchDeploymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of patch deployments to return. Default is 100.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The resource name of the parent in the form `projects/*`.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A pagination token returned from a previous call to ListPatchDeployments that indicates where this listing should continue from."
                }
              },
              "path": "v1/{+parent}/patchDeployments",
              "flatPath": "v1/projects/{projectsId}/patchDeployments",
              "httpMethod": "GET",
              "id": "osconfig.projects.patchDeployments.list"
            },
            "create": {
              "id": "osconfig.projects.patchDeployments.create",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/patchDeployments",
              "description": "Create an OS Config patch deployment.",
              "parameters": {
                "patchDeploymentId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A name for the patch deployment in the project. When creating a name the following rules apply: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The project to apply this patch deployment to in the form `projects/*`.",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "PatchDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/patchDeployments",
              "request": {
                "$ref": "PatchDeployment"
              }
            }
          }
        },
        "patchJobs": {
          "resources": {
            "instanceDetails": {
              "methods": {
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "A filter expression that filters results listed in the response. This field supports filtering results by instance zone, name, state, or `failure_reason`.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent for the instances are in the form of `projects/*/patchJobs/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/patchJobs/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of instance details records to return. Default is 100.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails",
                  "path": "v1/{+parent}/instanceDetails",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListPatchJobInstanceDetailsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "osconfig.projects.patchJobs.instanceDetails.list",
                  "description": "Get a list of instance details for a given patch job.",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "flatPath": "v1/projects/{projectsId}/patchJobs",
              "parameterOrder": [
                "parent"
              ],
              "id": "osconfig.projects.patchJobs.list",
              "response": {
                "$ref": "ListPatchJobsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "If provided, this field specifies the criteria that must be met by patch jobs to be included in the response. Currently, filtering is only available on the patch_deployment field."
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of instance status to return.",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. In the form of `projects/*`"
                }
              },
              "description": "Get a list of patch jobs.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/patchJobs"
            },
            "cancel": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Cancel a patch job. The patch job must be active. Canceled patch jobs cannot be restarted.",
              "response": {
                "$ref": "PatchJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchJobs.cancel",
              "request": {
                "$ref": "CancelPatchJobRequest"
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}:cancel"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "description": "Get the patch job. This can be used to track the progress of an ongoing patch job or review the details of completed jobs.",
              "response": {
                "$ref": "PatchJob"
              },
              "path": "v1/{+name}",
              "id": "osconfig.projects.patchJobs.get",
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}"
            },
            "execute": {
              "flatPath": "v1/projects/{projectsId}/patchJobs:execute",
              "path": "v1/{+parent}/patchJobs:execute",
              "response": {
                "$ref": "PatchJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "osconfig.projects.patchJobs.execute",
              "description": "Patch VM instances by creating and running a patch job.",
              "request": {
                "$ref": "ExecutePatchJobRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project in which to run this patch in the form `projects/*`",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        }
      }
    }
  }
}
