{
  "id": "osconfig:v1",
  "canonicalName": "OS Config",
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "title": "OS Config API",
  "discoveryVersion": "v1",
  "servicePath": "",
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "version": "v1",
  "description": "OS management tools that can be used for patch management, patch compliance, and configuration management on VM instances.",
  "baseUrl": "https://osconfig.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://osconfig.googleapis.com/",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "patchDeployments": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/patchDeployments",
              "id": "osconfig.projects.patchDeployments.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the parent in the form `projects/*`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of patch deployments to return. Default is 100.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A pagination token returned from a previous call to ListPatchDeployments that indicates where this listing should continue from.",
                  "type": "string"
                }
              },
              "description": "Get a page of OS Config patch deployments.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/patchDeployments",
              "response": {
                "$ref": "ListPatchDeploymentsResponse"
              }
            },
            "resume": {
              "description": "Change state of patch deployment back to \"ACTIVE\". Patch deployment in active state continues to generate patch jobs.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:resume",
              "response": {
                "$ref": "PatchDeployment"
              },
              "request": {
                "$ref": "ResumePatchDeploymentRequest"
              },
              "path": "v1/{+name}:resume",
              "id": "osconfig.projects.patchDeployments.resume",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Optional. Field mask that controls which fields of the patch deployment should be updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "required": true
                }
              },
              "id": "osconfig.projects.patchDeployments.patch",
              "response": {
                "$ref": "PatchDeployment"
              },
              "description": "Update an OS Config patch deployment.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "PatchDeployment"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}"
            },
            "create": {
              "response": {
                "$ref": "PatchDeployment"
              },
              "request": {
                "$ref": "PatchDeployment"
              },
              "httpMethod": "POST",
              "id": "osconfig.projects.patchDeployments.create",
              "flatPath": "v1/projects/{projectsId}/patchDeployments",
              "parameters": {
                "patchDeploymentId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A name for the patch deployment in the project. When creating a name the following rules apply: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project."
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project to apply this patch deployment to in the form `projects/*`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Create an OS Config patch deployment.",
              "path": "v1/{+parent}/patchDeployments",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "PatchDeployment"
              },
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "id": "osconfig.projects.patchDeployments.get",
              "path": "v1/{+name}",
              "description": "Get an OS Config patch deployment."
            },
            "pause": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "PausePatchDeploymentRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:pause",
              "id": "osconfig.projects.patchDeployments.pause",
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:pause",
              "response": {
                "$ref": "PatchDeployment"
              },
              "description": "Change state of patch deployment to \"PAUSED\". Patch deployment in paused state doesn't generate patch jobs.",
              "httpMethod": "POST"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchDeployments.delete",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "description": "Delete an OS Config patch deployment."
            }
          }
        },
        "locations": {
          "resources": {
            "osPolicyAssignments": {
              "methods": {
                "listRevisions": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the OS policy assignment to list revisions for."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of revisions to return.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to `ListOSPolicyAssignmentRevisions` that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}:listRevisions",
                  "httpMethod": "GET",
                  "id": "osconfig.projects.locations.osPolicyAssignments.listRevisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:listRevisions",
                  "response": {
                    "$ref": "ListOSPolicyAssignmentRevisionsResponse"
                  },
                  "description": "List the OS policy assignment revisions for a given OS policy assignment."
                },
                "create": {
                  "description": "Create an OS policy assignment. This method also creates the first revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1/projects.locations.osPolicyAssignments.operations/cancel).",
                  "parameters": {
                    "osPolicyAssignmentId": {
                      "description": "Required. The logical name of the OS policy assignment in the project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name in the form: projects/{project}/locations/{location}. Note: Specify the zone of your VMs as the location.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "id": "osconfig.projects.locations.osPolicyAssignments.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/osPolicyAssignments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "list": {
                  "description": "List the OS policy assignments under the parent resource. For each OS policy assignment, the latest revision is returned.",
                  "id": "osconfig.projects.locations.osPolicyAssignments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/osPolicyAssignments",
                  "response": {
                    "$ref": "ListOSPolicyAssignmentsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to `ListOSPolicyAssignments` that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of assignments to return.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "id": "osconfig.projects.locations.osPolicyAssignments.delete",
                  "description": "Delete the OS policy assignment. This method creates a new revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. If the LRO completes and is not cancelled, all revisions associated with the OS policy assignment are deleted. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1/projects.locations.osPolicyAssignments.operations/cancel).",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the OS policy assignment to be deleted",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "id": "osconfig.projects.locations.osPolicyAssignments.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Field mask that controls which fields of the assignment should be updated."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update an existing OS policy assignment. This method creates a new revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1/projects.locations.osPolicyAssignments.operations/cancel).",
                  "request": {
                    "$ref": "OSPolicyAssignment"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieve an existing OS policy assignment. This method always returns the latest revision. In order to retrieve a previous revision of the assignment, also provide the revision ID in the `name` parameter.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "httpMethod": "GET",
                  "id": "osconfig.projects.locations.osPolicyAssignments.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of OS policy assignment. Format: `projects/{project}/locations/{location}/osPolicyAssignments/{os_policy_assignment}@{revisionId}`",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "OSPolicyAssignment"
                  }
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "cancel": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+/operations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "The name of the operation resource to be cancelled."
                        }
                      },
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.projects.locations.osPolicyAssignments.operations.cancel",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}/operations/{operationsId}:cancel",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "id": "osconfig.projects.locations.osPolicyAssignments.operations.get",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+/operations/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                    }
                  }
                }
              }
            },
            "instances": {
              "resources": {
                "osPolicyAssignments": {
                  "resources": {
                    "reports": {
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "description": "Get the OS policy asssignment report for the specified Compute Engine VM instance.",
                          "response": {
                            "$ref": "OSPolicyAssignmentReport"
                          },
                          "id": "osconfig.projects.locations.instances.osPolicyAssignments.reports.get",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/osPolicyAssignments/{osPolicyAssignmentsId}/report",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. API resource name for OS policy assignment report. Format: `/projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/{assignment}/report` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance_id}`, either Compute Engine `instance-id` or `instance-name` can be provided. For `{assignment_id}`, the OSPolicyAssignment id must be provided.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/osPolicyAssignments/[^/]+/report$",
                              "required": true
                            }
                          },
                          "path": "v1/{+name}"
                        },
                        "list": {
                          "id": "osconfig.projects.locations.instances.osPolicyAssignments.reports.list",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/osPolicyAssignments/{osPolicyAssignmentsId}/reports",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "description": "A pagination token returned from a previous call to the `ListOSPolicyAssignmentReports` method that indicates where this listing should continue from.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/{assignment}/reports` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either `instance-name`, `instance-id`, or `-` can be provided. If '-' is provided, the response will include OSPolicyAssignmentReports for all instances in the project/location. For `{assignment}`, either `assignment-id` or `-` can be provided. If '-' is provided, the response will include OSPolicyAssignmentReports for all OSPolicyAssignments in the project/location. Either {instance} or {assignment} must be `-`. For example: `projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/-/reports` returns all reports for the instance `projects/{project}/locations/{location}/instances/-/osPolicyAssignments/{assignment-id}/reports` returns all the reports for the given assignment across all instances. `projects/{project}/locations/{location}/instances/-/osPolicyAssignments/-/reports` returns all the reports for all assignments across all instances.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/osPolicyAssignments/[^/]+$",
                              "location": "path"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "The maximum number of results to return.",
                              "format": "int32",
                              "location": "query"
                            },
                            "filter": {
                              "description": "If provided, this field specifies the criteria that must be met by the `OSPolicyAssignmentReport` API resource that is included in the response.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListOSPolicyAssignmentReportsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/reports",
                          "description": "List OS policy asssignment reports for all Compute Engine VM instances in the specified zone."
                        }
                      }
                    }
                  }
                },
                "inventories": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "id": "osconfig.projects.locations.instances.inventories.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. API resource name for inventory resource. Format: `projects/{project}/locations/{location}/instances/{instance}/inventory` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either Compute Engine `instance-id` or `instance-name` can be provided.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/inventory$"
                        },
                        "view": {
                          "description": "Inventory view indicating what information should be included in the inventory resource. If unspecified, the default view is BASIC.",
                          "location": "query",
                          "enum": [
                            "INVENTORY_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string",
                          "enumDescriptions": [
                            "The default value. The API defaults to the BASIC view.",
                            "Returns the basic inventory information that includes `os_info`.",
                            "Returns all fields."
                          ]
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/inventory",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Inventory"
                      },
                      "description": "Get inventory data for the specified VM instance. If the VM has no associated inventory, the message `NOT_FOUND` is returned."
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/inventories",
                      "path": "v1/{+parent}/inventories",
                      "id": "osconfig.projects.locations.instances.inventories.list",
                      "response": {
                        "$ref": "ListInventoriesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "List inventory data for all VM instances in the specified zone.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/-` For `{project}`, either `project-number` or `project-id` can be provided.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                        },
                        "view": {
                          "location": "query",
                          "enum": [
                            "INVENTORY_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string",
                          "enumDescriptions": [
                            "The default value. The API defaults to the BASIC view.",
                            "Returns the basic inventory information that includes `os_info`.",
                            "Returns all fields."
                          ],
                          "description": "Inventory view indicating what information should be included in the inventory resource. If unspecified, the default view is BASIC."
                        },
                        "filter": {
                          "type": "string",
                          "description": "If provided, this field specifies the criteria that must be met by a `Inventory` API resource to be included in the response.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of results to return.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A pagination token returned from a previous call to `ListInventories` that indicates where this listing should continue from.",
                          "type": "string",
                          "location": "query"
                        }
                      }
                    }
                  }
                },
                "vulnerabilityReports": {
                  "methods": {
                    "get": {
                      "id": "osconfig.projects.locations.instances.vulnerabilityReports.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/vulnerabilityReport",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Gets the vulnerability report for the specified VM instance. Only VMs with inventory data have vulnerability reports associated with them.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/vulnerabilityReport$",
                          "description": "Required. API resource name for vulnerability resource. Format: `projects/{project}/locations/{location}/instances/{instance}/vulnerabilityReport` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either Compute Engine `instance-id` or `instance-name` can be provided.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "VulnerabilityReport"
                      }
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of results to return.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/-` For `{project}`, either `project-number` or `project-id` can be provided.",
                          "location": "path"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "This field supports filtering by the severity level for the vulnerability. For a list of severity levels, see [Severity levels for vulnerabilities](https://cloud.google.com/container-analysis/docs/container-scanning-overview#severity_levels_for_vulnerabilities). The filter field follows the rules described in the [AIP-160](https://google.aip.dev/160) guidelines as follows: + **Filter for a specific severity type**: you can list reports that contain vulnerabilities that are classified as medium by specifying `vulnerabilities.details.severity:MEDIUM`. + **Filter for a range of severities** : you can list reports that have vulnerabilities that are classified as critical or high by specifying `vulnerabilities.details.severity:HIGH OR vulnerabilities.details.severity:CRITICAL`"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A pagination token returned from a previous call to `ListVulnerabilityReports` that indicates where this listing should continue from.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "osconfig.projects.locations.instances.vulnerabilityReports.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/vulnerabilityReports",
                      "response": {
                        "$ref": "ListVulnerabilityReportsResponse"
                      },
                      "path": "v1/{+parent}/vulnerabilityReports",
                      "description": "List vulnerability reports for all VM instances in the specified zone.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "patchJobs": {
          "resources": {
            "instanceDetails": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/instanceDetails",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent for the instances are in the form of `projects/*/patchJobs/*`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "description": "A filter expression that filters results listed in the response. This field supports filtering results by instance zone, name, state, or `failure_reason`.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of instance details records to return. Default is 100."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Get a list of instance details for a given patch job.",
                  "id": "osconfig.projects.patchJobs.instanceDetails.list",
                  "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails",
                  "response": {
                    "$ref": "ListPatchJobInstanceDetailsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}",
              "id": "osconfig.projects.patchJobs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "PatchJob"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Get the patch job. This can be used to track the progress of an ongoing patch job or review the details of completed jobs.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$"
                }
              }
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/patchJobs",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListPatchJobsResponse"
              },
              "id": "osconfig.projects.patchJobs.list",
              "description": "Get a list of patch jobs.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of instance status to return."
                },
                "parent": {
                  "required": true,
                  "description": "Required. In the form of `projects/*`",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "description": "If provided, this field specifies the criteria that must be met by patch jobs to be included in the response. Currently, filtering is only available on the patch_deployment field.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call that indicates where this listing should continue from."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/patchJobs"
            },
            "execute": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "PatchJob"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The project in which to run this patch in the form `projects/*`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "id": "osconfig.projects.patchJobs.execute",
              "description": "Patch VM instances by creating and running a patch job.",
              "request": {
                "$ref": "ExecutePatchJobRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/patchJobs:execute",
              "flatPath": "v1/projects/{projectsId}/patchJobs:execute"
            },
            "cancel": {
              "id": "osconfig.projects.patchJobs.cancel",
              "response": {
                "$ref": "PatchJob"
              },
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "description": "Cancel a patch job. The patch job must be active. Canceled patch jobs cannot be restarted.",
              "request": {
                "$ref": "CancelPatchJobRequest"
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "VulnerabilityReportVulnerability": {
      "properties": {
        "details": {
          "description": "Contains metadata as per the upstream feed of the operating system and NVD.",
          "$ref": "VulnerabilityReportVulnerabilityDetails"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp for when the vulnerability was last modified."
        },
        "items": {
          "description": "List of items affected by the vulnerability.",
          "items": {
            "$ref": "VulnerabilityReportVulnerabilityItem"
          },
          "type": "array"
        },
        "installedInventoryItemIds": {
          "description": "Corresponds to the `INSTALLED_PACKAGE` inventory item on the VM. This field displays the inventory items affected by this vulnerability. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. For some distros, this field may be empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "The timestamp for when the vulnerability was first detected.",
          "format": "google-datetime"
        },
        "availableInventoryItemIds": {
          "type": "array",
          "description": "Corresponds to the `AVAILABLE_PACKAGE` inventory item on the VM. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. If there is no available fix, the field is empty. The `inventory_item` value specifies the latest `SoftwarePackage` available to the VM that fixes the vulnerability.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "VulnerabilityReportVulnerability",
      "description": "A vulnerability affecting the VM instance."
    },
    "OSPolicyResourceExecResourceExec": {
      "id": "OSPolicyResourceExecResourceExec",
      "description": "A file or script to execute.",
      "properties": {
        "outputFilePath": {
          "type": "string",
          "description": "Only recorded for enforce Exec. Path to an output file (that is created by this Exec) whose content will be recorded in OSPolicyResourceCompliance after a successful run. Absence or failure to read this file will result in this ExecResource being non-compliant. Output file size is limited to 100K bytes."
        },
        "script": {
          "type": "string",
          "description": "An inline script. The size of the script is limited to 32KiB."
        },
        "file": {
          "description": "A remote or local file.",
          "$ref": "OSPolicyResourceFile"
        },
        "interpreter": {
          "description": "Required. The script interpreter to use.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value, the request will return validation error.",
            "If an interpreter is not specified, the source is executed directly. This execution, without an interpreter, only succeeds for executables and scripts that have shebang lines.",
            "Indicates that the script runs with `/bin/sh` on Linux and `cmd.exe` on Windows.",
            "Indicates that the script runs with PowerShell."
          ],
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "NONE",
            "SHELL",
            "POWERSHELL"
          ]
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional arguments to pass to the source during execution."
        }
      },
      "type": "object"
    },
    "MonthlySchedule": {
      "description": "Represents a monthly schedule. An example of a valid monthly schedule is \"on the third Tuesday of the month\" or \"on the 15th of the month\".",
      "type": "object",
      "id": "MonthlySchedule",
      "properties": {
        "monthDay": {
          "format": "int32",
          "type": "integer",
          "description": "Required. One day of the month. 1-31 indicates the 1st to the 31st day. -1 indicates the last day of the month. Months without the target day will be skipped. For example, a schedule to run \"every month on the 31st\" will not run in February, April, June, etc."
        },
        "weekDayOfMonth": {
          "description": "Required. Week day in a month.",
          "$ref": "WeekDayOfMonth"
        }
      }
    },
    "OSPolicyResourceExecResource": {
      "description": "A resource that allows executing scripts on the VM. The `ExecResource` has 2 stages: `validate` and `enforce` and both stages accept a script as an argument to execute. When the `ExecResource` is applied by the agent, it first executes the script in the `validate` stage. The `validate` stage can signal that the `ExecResource` is already in the desired state by returning an exit code of `100`. If the `ExecResource` is not in the desired state, it should return an exit code of `101`. Any other exit code returned by this stage is considered an error. If the `ExecResource` is not in the desired state based on the exit code from the `validate` stage, the agent proceeds to execute the script from the `enforce` stage. If the `ExecResource` is already in the desired state, the `enforce` stage will not be run. Similar to `validate` stage, the `enforce` stage should return an exit code of `100` to indicate that the resource in now in its desired state. Any other exit code is considered an error. NOTE: An exit code of `100` was chosen over `0` (and `101` vs `1`) to have an explicit indicator of `in desired state`, `not in desired state` and errors. Because, for example, Powershell will always return an exit code of `0` unless an `exit` statement is provided in the script. So, for reasons of consistency and being explicit, exit codes `100` and `101` were chosen.",
      "properties": {
        "validate": {
          "$ref": "OSPolicyResourceExecResourceExec",
          "description": "Required. What to run to validate this resource is in the desired state. An exit code of 100 indicates \"in desired state\", and exit code of 101 indicates \"not in desired state\". Any other exit code indicates a failure running validate."
        },
        "enforce": {
          "$ref": "OSPolicyResourceExecResourceExec",
          "description": "What to run to bring this resource into the desired state. An exit code of 100 indicates \"success\", any other exit code indicates a failure running enforce."
        }
      },
      "type": "object",
      "id": "OSPolicyResourceExecResource"
    },
    "ExecStep": {
      "id": "ExecStep",
      "description": "A step that runs an executable for a PatchJob.",
      "properties": {
        "linuxExecStepConfig": {
          "description": "The ExecStepConfig for all Linux VMs targeted by the PatchJob.",
          "$ref": "ExecStepConfig"
        },
        "windowsExecStepConfig": {
          "description": "The ExecStepConfig for all Windows VMs targeted by the PatchJob.",
          "$ref": "ExecStepConfig"
        }
      },
      "type": "object"
    },
    "OSPolicyResourcePackageResourceGooGet": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      },
      "id": "OSPolicyResourcePackageResourceGooGet",
      "description": "A package managed by GooGet. - install: `googet -noconfirm install package` - remove: `googet -noconfirm remove package`"
    },
    "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "type": "object",
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "properties": {
        "rolloutStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Rollout start time"
        },
        "apiMethod": {
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "type": "string",
          "description": "The OS policy assignment API method."
        },
        "rolloutUpdateTime": {
          "description": "Rollout update time",
          "type": "string",
          "format": "google-datetime"
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "rolloutState": {
          "type": "string",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "description": "State of the rollout"
        }
      },
      "id": "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata"
    },
    "AptSettings": {
      "id": "AptSettings",
      "type": "object",
      "properties": {
        "type": {
          "description": "By changing the type to DIST, the patching is performed using `apt-get dist-upgrade` instead.",
          "type": "string",
          "enumDescriptions": [
            "By default, upgrade will be performed.",
            "Runs `apt-get dist-upgrade`.",
            "Runs `apt-get upgrade`."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIST",
            "UPGRADE"
          ]
        },
        "excludes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of packages to exclude from update. These packages will be excluded"
        },
        "exclusivePackages": {
          "type": "array",
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field cannot be specified with any other patch configuration fields.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Apt patching is completed by executing `apt-get update && apt-get upgrade`. Additional options can be set to control how this is executed."
    },
    "OSPolicyResourceRepositoryResourceYumRepository": {
      "description": "Represents a single yum package repository. These are added to a repo file that is managed at `/etc/yum.repos.d/google_osconfig.repo`.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for resource conflicts."
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "baseUrl": {
          "description": "Required. The location of the repository directory.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the repository."
        }
      },
      "id": "OSPolicyResourceRepositoryResourceYumRepository",
      "type": "object"
    },
    "ListInventoriesResponse": {
      "description": "A response message for listing inventory data for all VMs in a specified location.",
      "id": "ListInventoriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token to retrieve the next page of inventory objects."
        },
        "inventories": {
          "type": "array",
          "description": "List of inventory objects.",
          "items": {
            "$ref": "Inventory"
          }
        }
      }
    },
    "ListOSPolicyAssignmentsResponse": {
      "description": "A response message for listing all assignments under given parent.",
      "id": "ListOSPolicyAssignmentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of OS policy assignments.",
          "type": "string"
        },
        "osPolicyAssignments": {
          "description": "The list of assignments",
          "items": {
            "$ref": "OSPolicyAssignment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceExecResourceOutput": {
      "description": "ExecResource specific output.",
      "type": "object",
      "properties": {
        "enforcementOutput": {
          "format": "byte",
          "description": "Output from enforcement phase output file (if run). Output size is limited to 100K bytes.",
          "type": "string"
        }
      },
      "id": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceExecResourceOutput"
    },
    "PatchJob": {
      "id": "PatchJob",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Time this patch job was created.",
          "type": "string"
        },
        "errorMessage": {
          "description": "If this patch job failed, this message provides information about the failure.",
          "type": "string"
        },
        "dryRun": {
          "type": "boolean",
          "description": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance."
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of the patch job. After the duration ends, the patch job times out."
        },
        "name": {
          "description": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`",
          "type": "string"
        },
        "instanceFilter": {
          "description": "Instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "INSTANCE_LOOKUP",
            "PATCHING",
            "SUCCEEDED",
            "COMPLETED_WITH_ERRORS",
            "CANCELED",
            "TIMED_OUT"
          ],
          "description": "The current state of the PatchJob.",
          "enumDescriptions": [
            "State must be specified.",
            "The patch job was successfully initiated.",
            "The patch job is looking up instances to run the patch on.",
            "Instances are being patched.",
            "Patch job completed successfully.",
            "Patch job completed but there were errors.",
            "The patch job was canceled.",
            "The patch job timed out."
          ]
        },
        "description": {
          "type": "string",
          "description": "Description of the patch job. Length of the description is limited to 1024 characters."
        },
        "displayName": {
          "description": "Display name for this patch job. This is not a unique identifier.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last time this patch job was updated.",
          "type": "string"
        },
        "rollout": {
          "$ref": "PatchRollout",
          "description": "Rollout strategy being applied."
        },
        "patchDeployment": {
          "type": "string",
          "description": "Output only. Name of the patch deployment that created this patch job.",
          "readOnly": true
        },
        "instanceDetailsSummary": {
          "$ref": "PatchJobInstanceDetailsSummary",
          "description": "Summary of instance details."
        },
        "percentComplete": {
          "format": "double",
          "description": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete.",
          "type": "number"
        },
        "patchConfig": {
          "description": "Patch configuration being applied.",
          "$ref": "PatchConfig"
        }
      },
      "description": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use ListPatchJobInstanceDetails. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job)."
    },
    "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStep": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Checks for resource conflicts such as schema errors.",
            "Checks the current status of the desired state for a resource.",
            "Enforces the desired state for a resource that is not in desired state.",
            "Re-checks the status of the desired state. This check is done for a resource after the enforcement of all OS policies. This step is used to determine the final desired state status for the resource. It accounts for any resources that might have drifted from their desired state due to side effects from executing other resources."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "VALIDATION",
            "DESIRED_STATE_CHECK",
            "DESIRED_STATE_ENFORCEMENT",
            "DESIRED_STATE_CHECK_POST_ENFORCEMENT"
          ],
          "type": "string",
          "description": "Configuration step type."
        },
        "errorMessage": {
          "type": "string",
          "description": "An error message recorded during the execution of this step. Only populated if errors were encountered during this step execution."
        }
      },
      "description": "Step performed by the OS Config agent for configuring an `OSPolicy` resource to its desired state.",
      "type": "object",
      "id": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStep"
    },
    "InventorySoftwarePackage": {
      "type": "object",
      "id": "InventorySoftwarePackage",
      "description": "Software package information of the operating system.",
      "properties": {
        "cosPackage": {
          "$ref": "InventoryVersionedPackage",
          "description": "Details of a COS package."
        },
        "zypperPackage": {
          "description": "Details of a Zypper package. For details about the Zypper package manager, see https://en.opensuse.org/SDB:Zypper_manual.",
          "$ref": "InventoryVersionedPackage"
        },
        "zypperPatch": {
          "$ref": "InventoryZypperPatch",
          "description": "Details of a Zypper patch. For details about the Zypper package manager, see https://en.opensuse.org/SDB:Zypper_manual."
        },
        "windowsApplication": {
          "$ref": "InventoryWindowsApplication",
          "description": "Details of Windows Application."
        },
        "qfePackage": {
          "description": "Details of a Windows Quick Fix engineering package. See https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering for info in Windows Quick Fix Engineering.",
          "$ref": "InventoryWindowsQuickFixEngineeringPackage"
        },
        "wuaPackage": {
          "$ref": "InventoryWindowsUpdatePackage",
          "description": "Details of a Windows Update package. See https://docs.microsoft.com/en-us/windows/win32/api/_wua/ for information about Windows Update."
        },
        "googetPackage": {
          "$ref": "InventoryVersionedPackage",
          "description": "Details of a Googet package. For details about the googet package manager, see https://github.com/google/googet."
        },
        "yumPackage": {
          "$ref": "InventoryVersionedPackage",
          "description": "Yum package info. For details about the yum package manager, see https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/deployment_guide/ch-yum."
        },
        "aptPackage": {
          "$ref": "InventoryVersionedPackage",
          "description": "Details of an APT package. For details about the apt package manager, see https://wiki.debian.org/Apt."
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "PatchDeployment": {
      "description": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs).",
      "id": "PatchDeployment",
      "type": "object",
      "properties": {
        "lastExecuteTime": {
          "readOnly": true,
          "description": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "format": "google-datetime",
          "type": "string"
        },
        "rollout": {
          "description": "Optional. Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        },
        "recurringSchedule": {
          "$ref": "RecurringSchedule",
          "description": "Required. Schedule recurring executions."
        },
        "name": {
          "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Active value means that patch deployment generates Patch Jobs.",
            "Paused value means that patch deployment does not generate Patch jobs. Requires user action to move in and out from this state."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the patch deployment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED"
          ],
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "oneTimeSchedule": {
          "$ref": "OneTimeSchedule",
          "description": "Required. Schedule a one-time execution."
        },
        "patchConfig": {
          "description": "Optional. Patch configuration that is applied.",
          "$ref": "PatchConfig"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Required. VM instances to patch."
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out."
        }
      }
    },
    "OSPolicyResourcePackageResourceZypper": {
      "description": "A package managed by Zypper. - install: `zypper -y install package` - remove: `zypper -y rm package`",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Package name."
        }
      },
      "type": "object",
      "id": "OSPolicyResourcePackageResourceZypper"
    },
    "OSPolicyResourceRepositoryResourceZypperRepository": {
      "id": "OSPolicyResourceRepositoryResourceZypperRepository",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for GuestPolicy conflicts."
        },
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the repository."
        },
        "gpgKeys": {
          "type": "array",
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a single zypper package repository. These are added to a repo file that is managed at `/etc/zypp/repos.d/google_osconfig.repo`.",
      "type": "object"
    },
    "OSPolicyResourceFile": {
      "id": "OSPolicyResourceFile",
      "properties": {
        "gcs": {
          "$ref": "OSPolicyResourceFileGcs",
          "description": "A Cloud Storage object."
        },
        "allowInsecure": {
          "type": "boolean",
          "description": "Defaults to false. When false, files are subject to validations based on the file type: Remote: A checksum must be specified. Cloud Storage: An object generation number must be specified."
        },
        "localPath": {
          "description": "A local path within the VM to use.",
          "type": "string"
        },
        "remote": {
          "description": "A generic remote file.",
          "$ref": "OSPolicyResourceFileRemote"
        }
      },
      "description": "A remote or local file.",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "OSPolicyResourcePackageResource": {
      "properties": {
        "apt": {
          "$ref": "OSPolicyResourcePackageResourceAPT",
          "description": "A package managed by Apt."
        },
        "deb": {
          "$ref": "OSPolicyResourcePackageResourceDeb",
          "description": "A deb package file."
        },
        "desiredState": {
          "description": "Required. The desired state the agent should maintain for this package.",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "REMOVED"
          ],
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure that the package is installed.",
            "The agent ensures that the package is not installed and uninstalls it if detected."
          ],
          "type": "string"
        },
        "msi": {
          "description": "An MSI package.",
          "$ref": "OSPolicyResourcePackageResourceMSI"
        },
        "googet": {
          "$ref": "OSPolicyResourcePackageResourceGooGet",
          "description": "A package managed by GooGet."
        },
        "rpm": {
          "$ref": "OSPolicyResourcePackageResourceRPM",
          "description": "An rpm package file."
        },
        "zypper": {
          "description": "A package managed by Zypper.",
          "$ref": "OSPolicyResourcePackageResourceZypper"
        },
        "yum": {
          "description": "A package managed by YUM.",
          "$ref": "OSPolicyResourcePackageResourceYUM"
        }
      },
      "id": "OSPolicyResourcePackageResource",
      "type": "object",
      "description": "A resource that manages a system package."
    },
    "OSPolicyResourceRepositoryResourceAptRepository": {
      "type": "object",
      "id": "OSPolicyResourceRepositoryResourceAptRepository",
      "properties": {
        "archiveType": {
          "type": "string",
          "description": "Required. Type of archive files in this repository.",
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "DEB",
            "DEB_SRC"
          ],
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Deb indicates that the archive contains binary files.",
            "Deb-src indicates that the archive contains source files."
          ]
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of components for this repository. Must contain at least one item."
        },
        "distribution": {
          "type": "string",
          "description": "Required. Distribution of this repository."
        },
        "gpgKey": {
          "type": "string",
          "description": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg`."
        },
        "uri": {
          "type": "string",
          "description": "Required. URI for this repository."
        }
      },
      "description": "Represents a single apt package repository. These will be added to a repo file that will be managed at `/etc/apt/sources.list.d/google_osconfig.list`."
    },
    "OSPolicyResourcePackageResourceDeb": {
      "id": "OSPolicyResourcePackageResourceDeb",
      "properties": {
        "pullDeps": {
          "description": "Whether dependencies should also be installed. - install when false: `dpkg -i package` - install when true: `apt-get update && apt-get -y install package.deb`",
          "type": "boolean"
        },
        "source": {
          "description": "Required. A deb package.",
          "$ref": "OSPolicyResourceFile"
        }
      },
      "type": "object",
      "description": "A deb package file. dpkg packages only support INSTALLED state."
    },
    "InventoryWindowsUpdatePackageWindowsUpdateCategory": {
      "id": "InventoryWindowsUpdatePackageWindowsUpdateCategory",
      "description": "Categories specified by the Windows Update.",
      "properties": {
        "name": {
          "description": "The name of the windows update category.",
          "type": "string"
        },
        "id": {
          "description": "The identifier of the windows update category.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OSPolicyResourcePackageResourceMSI": {
      "properties": {
        "properties": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional properties to use during installation. This should be in the format of Property=Setting. Appended to the defaults of `ACTION=INSTALL REBOOT=ReallySuppress`."
        },
        "source": {
          "$ref": "OSPolicyResourceFile",
          "description": "Required. The MSI package."
        }
      },
      "id": "OSPolicyResourcePackageResourceMSI",
      "type": "object",
      "description": "An MSI package. MSI packages only support INSTALLED state."
    },
    "OSPolicyResourceFileRemote": {
      "id": "OSPolicyResourceFileRemote",
      "properties": {
        "sha256Checksum": {
          "description": "SHA256 checksum of the remote file.",
          "type": "string"
        },
        "uri": {
          "description": "Required. URI from which to fetch the object. It should contain both the protocol and path following the format `{protocol}://{location}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies a file available via some URI."
    },
    "OSPolicyResourceGroup": {
      "description": "Resource groups provide a mechanism to group OS policy resources. Resource groups enable OS policy authors to create a single OS policy to be applied to VMs running different operating Systems. When the OS policy is applied to a target VM, the appropriate resource group within the OS policy is selected based on the `OSFilter` specified within the resource group.",
      "type": "object",
      "properties": {
        "inventoryFilters": {
          "items": {
            "$ref": "OSPolicyInventoryFilter"
          },
          "type": "array",
          "description": "List of inventory filters for the resource group. The resources in this resource group are applied to the target VM if it satisfies at least one of the following inventory filters. For example, to apply this resource group to VMs running either `RHEL` or `CentOS` operating systems, specify 2 items for the list with following values: inventory_filters[0].os_short_name='rhel' and inventory_filters[1].os_short_name='centos' If the list is empty, this resource group will be applied to the target VM unconditionally."
        },
        "resources": {
          "items": {
            "$ref": "OSPolicyResource"
          },
          "description": "Required. List of resources configured for this resource group. The resources are executed in the exact order specified here.",
          "type": "array"
        }
      },
      "id": "OSPolicyResourceGroup"
    },
    "InventoryWindowsQuickFixEngineeringPackage": {
      "id": "InventoryWindowsQuickFixEngineeringPackage",
      "description": "Information related to a Quick Fix Engineering package. Fields are taken from Windows QuickFixEngineering Interface and match the source names: https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering",
      "type": "object",
      "properties": {
        "hotFixId": {
          "type": "string",
          "description": "Unique identifier associated with a particular QFE update."
        },
        "installTime": {
          "description": "Date that the QFE update was installed. Mapped from installed_on field.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "A textual description of the QFE update.",
          "type": "string"
        },
        "caption": {
          "type": "string",
          "description": "A short textual description of the QFE update."
        }
      }
    },
    "YumSettings": {
      "description": "Yum patching is performed by executing `yum update`. Additional options can be set to control how this is executed. Note that not all settings are supported on all platforms.",
      "id": "YumSettings",
      "properties": {
        "excludes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of packages to exclude from update. These packages are excluded by using the yum `--exclude` flag."
        },
        "security": {
          "description": "Adds the `--security` flag to `yum update`. Not supported on all platforms.",
          "type": "boolean"
        },
        "exclusivePackages": {
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields.",
          "type": "array"
        },
        "minimal": {
          "description": "Will cause patch to run `yum update-minimal` instead.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "OSPolicyResourceRepositoryResource": {
      "type": "object",
      "description": "A resource that manages a package repository.",
      "properties": {
        "apt": {
          "$ref": "OSPolicyResourceRepositoryResourceAptRepository",
          "description": "An Apt Repository."
        },
        "yum": {
          "description": "A Yum Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceYumRepository"
        },
        "zypper": {
          "$ref": "OSPolicyResourceRepositoryResourceZypperRepository",
          "description": "A Zypper Repository."
        },
        "goo": {
          "$ref": "OSPolicyResourceRepositoryResourceGooRepository",
          "description": "A Goo Repository."
        }
      },
      "id": "OSPolicyResourceRepositoryResource"
    },
    "FixedOrPercent": {
      "id": "FixedOrPercent",
      "type": "object",
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value.",
      "properties": {
        "fixed": {
          "format": "int32",
          "description": "Specifies a fixed value.",
          "type": "integer"
        },
        "percent": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value."
        }
      }
    },
    "OSPolicyResourcePackageResourceYUM": {
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OSPolicyResourcePackageResourceYUM",
      "description": "A package managed by YUM. - install: `yum -y install package` - remove: `yum -y remove package`"
    },
    "ListOSPolicyAssignmentReportsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of OS policy assignment report objects.",
          "type": "string"
        },
        "osPolicyAssignmentReports": {
          "type": "array",
          "description": "List of OS policy assignment reports.",
          "items": {
            "$ref": "OSPolicyAssignmentReport"
          }
        }
      },
      "description": "A response message for listing OS Policy assignment reports including the page of results and page token.",
      "id": "ListOSPolicyAssignmentReportsResponse",
      "type": "object"
    },
    "VulnerabilityReportVulnerabilityDetailsReference": {
      "type": "object",
      "id": "VulnerabilityReportVulnerabilityDetailsReference",
      "properties": {
        "source": {
          "type": "string",
          "description": "The source of the reference e.g. NVD."
        },
        "url": {
          "type": "string",
          "description": "The url of the reference."
        }
      },
      "description": "A reference for this vulnerability."
    },
    "ListPatchJobInstanceDetailsResponse": {
      "properties": {
        "patchJobInstanceDetails": {
          "type": "array",
          "description": "A list of instance status.",
          "items": {
            "$ref": "PatchJobInstanceDetails"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token that can be used to get the next page of results."
        }
      },
      "description": "A response message for listing the instances details for a patch job.",
      "type": "object",
      "id": "ListPatchJobInstanceDetailsResponse"
    },
    "OSPolicyAssignmentOperationMetadata": {
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "type": "object",
      "properties": {
        "apiMethod": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "The OS policy assignment API method."
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "rolloutState": {
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "description": "State of the rollout",
          "type": "string"
        },
        "rolloutStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Rollout start time"
        },
        "rolloutUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Rollout update time"
        }
      },
      "id": "OSPolicyAssignmentOperationMetadata"
    },
    "RecurringSchedule": {
      "id": "RecurringSchedule",
      "type": "object",
      "properties": {
        "timeOfDay": {
          "description": "Required. Time of the day to run a recurring deployment.",
          "$ref": "TimeOfDay"
        },
        "nextExecuteTime": {
          "description": "Output only. The time the next patch job is scheduled to run.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "frequency": {
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "Invalid. A frequency must be specified.",
            "Indicates that the frequency of recurrence should be expressed in terms of weeks.",
            "Indicates that the frequency of recurrence should be expressed in terms of months.",
            "Indicates that the frequency of recurrence should be expressed in terms of days."
          ],
          "description": "Required. The frequency unit of this recurring schedule.",
          "type": "string"
        },
        "weekly": {
          "description": "Required. Schedule with weekly executions.",
          "$ref": "WeeklySchedule"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. The end time at which a recurring patch deployment schedule is no longer active.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment."
        },
        "monthly": {
          "description": "Required. Schedule with monthly executions.",
          "$ref": "MonthlySchedule"
        },
        "lastExecuteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the last patch job ran successfully.",
          "format": "google-datetime"
        },
        "timeZone": {
          "description": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone.",
          "$ref": "TimeZone"
        }
      },
      "description": "Sets the time for recurring patch deployments."
    },
    "OSPolicyResourcePackageResourceRPM": {
      "description": "An RPM package file. RPM packages only support INSTALLED state.",
      "id": "OSPolicyResourcePackageResourceRPM",
      "type": "object",
      "properties": {
        "source": {
          "description": "Required. An rpm package.",
          "$ref": "OSPolicyResourceFile"
        },
        "pullDeps": {
          "description": "Whether dependencies should also be installed. - install when false: `rpm --upgrade --replacepkgs package.rpm` - install when true: `yum -y install package.rpm` or `zypper -y install package.rpm`",
          "type": "boolean"
        }
      }
    },
    "GooSettings": {
      "id": "GooSettings",
      "type": "object",
      "description": "Googet patching is performed by running `googet update`.",
      "properties": {}
    },
    "OSPolicyAssignmentInstanceFilter": {
      "properties": {
        "inclusionLabels": {
          "description": "List of label sets used for VM inclusion. If the list has more than one `LabelSet`, the VM is included if any of the label sets are applicable for the VM.",
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          },
          "type": "array"
        },
        "all": {
          "description": "Target all VMs in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        },
        "inventories": {
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentInstanceFilterInventory"
          },
          "description": "List of inventories to select VMs. A VM is selected if its inventory data matches at least one of the following inventories."
        },
        "exclusionLabels": {
          "type": "array",
          "description": "List of label sets used for VM exclusion. If the list has more than one label set, the VM is excluded if any of the label sets are applicable for the VM.",
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          }
        }
      },
      "description": "Filters to select target VMs for an assignment. If more than one filter criteria is specified below, a VM will be selected if and only if it satisfies all of them.",
      "type": "object",
      "id": "OSPolicyAssignmentInstanceFilter"
    },
    "OSPolicyAssignmentLabelSet": {
      "id": "OSPolicyAssignmentLabelSet",
      "properties": {
        "labels": {
          "description": "Labels are identified by key/value pairs in this map. A VM should contain all the key/value pairs specified in this map to be selected.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Message representing label set. * A label is a key value pair set for a VM. * A LabelSet is a set of labels. * Labels within a LabelSet are ANDed. In other words, a LabelSet is applicable for a VM only if it matches all the labels in the LabelSet. * Example: A LabelSet with 2 labels: `env=prod` and `type=webserver` will only be applicable for those VMs with both labels present."
    },
    "CancelPatchJobRequest": {
      "properties": {},
      "id": "CancelPatchJobRequest",
      "type": "object",
      "description": "Message for canceling a patch job."
    },
    "ExecutePatchJobRequest": {
      "description": "A request message to initiate patching across Compute Engine instances.",
      "properties": {
        "rollout": {
          "description": "Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Patch configuration being applied. If omitted, instances are patched using the default configurations."
        },
        "description": {
          "type": "string",
[...]
