{
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "id": "osconfig:v1alpha",
  "canonicalName": "OS Config",
  "description": "OS management tools that can be used for patch management, patch compliance, and configuration management on VM instances.",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "version_module": true,
  "batchPath": "batch",
  "protocol": "rest",
  "title": "OS Config API",
  "baseUrl": "https://osconfig.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "rootUrl": "https://osconfig.googleapis.com/",
  "version": "v1alpha",
  "revision": "20210430",
  "name": "osconfig",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "osPolicyAssignments": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "path": "v1alpha/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}/operations/{operationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.projects.locations.osPolicyAssignments.operations.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+/operations/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.projects.locations.osPolicyAssignments.operations.cancel",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation resource to be cancelled.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+/operations/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}:cancel",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}/operations/{operationsId}:cancel",
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "POST"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of OS policy assignment. Format: `projects/{project}/locations/{location}/osPolicyAssignments/{os_policy_assignment}@{revisionId}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "description": "Retrieve an existing OS policy assignment. This method always returns the latest revision. In order to retrieve a previous revision of the assignment, also provide the revision ID in the `name` parameter.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "osconfig.projects.locations.osPolicyAssignments.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}"
                },
                "list": {
                  "response": {
                    "$ref": "ListOSPolicyAssignmentsResponse"
                  },
                  "path": "v1alpha/{+parent}/osPolicyAssignments",
                  "id": "osconfig.projects.locations.osPolicyAssignments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to `ListOSPolicyAssignments` that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of assignments to return.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments",
                  "description": "List the OS policy assignments under the parent resource. For each OS policy assignment, the latest revision is returned."
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name in the form: projects/{project}/locations/{location}",
                      "type": "string",
                      "location": "path"
                    },
                    "osPolicyAssignmentId": {
                      "type": "string",
                      "description": "Required. The logical name of the OS policy assignment in the project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments",
                  "path": "v1alpha/{+parent}/osPolicyAssignments",
                  "request": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Create an OS policy assignment. This method also creates the first revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](/compute/docs/osconfig/rest/v1alpha/projects.locations.osPolicyAssignments.operations/cancel).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "osconfig.projects.locations.osPolicyAssignments.create"
                },
                "listRevisions": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to `ListOSPolicyAssignmentRevisions` that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of revisions to return."
                    },
                    "name": {
                      "description": "Required. The name of the OS policy assignment to list revisions for.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}:listRevisions",
                  "id": "osconfig.projects.locations.osPolicyAssignments.listRevisions",
                  "response": {
                    "$ref": "ListOSPolicyAssignmentRevisionsResponse"
                  },
                  "description": "List the OS policy assignment revisions for a given OS policy assignment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:listRevisions"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the OS policy assignment to be deleted",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "id": "osconfig.projects.locations.osPolicyAssignments.delete",
                  "description": "Delete the OS policy assignment. This method creates a new revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. If the LRO completes and is not cancelled, all revisions associated with the OS policy assignment are deleted. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](/compute/docs/osconfig/rest/v1alpha/projects.locations.osPolicyAssignments.operations/cancel).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "Update an existing OS policy assignment. This method creates a new revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](/compute/docs/osconfig/rest/v1alpha/projects.locations.osPolicyAssignments.operations/cancel).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask that controls which fields of the assignment should be updated.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "osconfig.projects.locations.osPolicyAssignments.patch",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}"
                }
              }
            },
            "instances": {
              "resources": {
                "vulnerabilityReports": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. API resource name for vulnerability resource. Format: `projects/{project}/locations/{location}/instances/{instance}/vulnerabilityReport` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either Compute Engine `instance-id` or `instance-name` can be provided.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/vulnerabilityReport$",
                          "required": true
                        }
                      },
                      "description": "Gets the vulnerability report for the specified VM instance. Only VMs with inventory data have vulnerability reports associated with them.",
                      "id": "osconfig.projects.locations.instances.vulnerabilityReports.get",
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "VulnerabilityReport"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/vulnerabilityReport"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "osconfig.projects.locations.instances.vulnerabilityReports.list",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/vulnerabilityReports",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/vulnerabilityReports",
                      "response": {
                        "$ref": "ListVulnerabilityReportsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of results to return.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/{instance}` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, only `-` character is supported to list vulnerability reports across VMs.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "filter": {
                          "description": "If provided, this field specifies the criteria that must be met by a `vulnerabilityReport` API resource to be included in the response.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A pagination token returned from a previous call to `ListVulnerabilityReports` that indicates where this listing should continue from."
                        }
                      },
                      "description": "List vulnerability reports for all VM instances in the specified zone."
                    }
                  }
                },
                "inventories": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "filter": {
                          "description": "If provided, this field specifies the criteria that must be met by a `Inventory` API resource to be included in the response.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/{instance}` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, only hyphen or dash character is supported to list inventories across VMs."
                        },
                        "view": {
                          "location": "query",
                          "enumDescriptions": [
                            "The default value. The API defaults to the BASIC view.",
                            "Returns the basic inventory information that includes `os_info`.",
                            "Returns all fields."
                          ],
                          "enum": [
                            "INVENTORY_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "description": "Inventory view indicating what information should be included in the inventory resource. If unspecified, the default view is BASIC.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of results to return."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A pagination token returned from a previous call to `ListInventories` that indicates where this listing should continue from.",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.projects.locations.instances.inventories.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/inventories",
                      "response": {
                        "$ref": "ListInventoriesResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/inventories",
                      "description": "List inventory data for all VM instances in the specified zone."
                    },
                    "get": {
                      "response": {
                        "$ref": "Inventory"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. API resource name for inventory resource. Format: `projects/{project}/locations/{location}/instances/{instance}/inventory` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either Compute Engine `instance-id` or `instance-name` can be provided.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/inventory$",
                          "type": "string"
                        },
                        "view": {
                          "location": "query",
                          "enumDescriptions": [
                            "The default value. The API defaults to the BASIC view.",
                            "Returns the basic inventory information that includes `os_info`.",
                            "Returns all fields."
                          ],
                          "enum": [
                            "INVENTORY_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "description": "Inventory view indicating what information should be included in the inventory resource. If unspecified, the default view is BASIC.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/inventory",
                      "id": "osconfig.projects.locations.instances.inventories.get",
                      "path": "v1alpha/{+name}",
                      "description": "Get inventory data for the specified VM instance. If the VM has no associated inventory, the message `NOT_FOUND` is returned.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "instanceOSPoliciesCompliances": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of results to return.",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}` For `{project}`, either Compute Engine project-number or project-id can be provided.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "If provided, this field specifies the criteria that must be met by a `InstanceOSPoliciesCompliance` API resource to be included in the response."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to `ListInstanceOSPoliciesCompliances` that indicates where this listing should continue from.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListInstanceOSPoliciesCompliancesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instanceOSPoliciesCompliances",
                  "description": "List OS policies compliance data for all Compute Engine VM instances in the specified zone.",
                  "id": "osconfig.projects.locations.instanceOSPoliciesCompliances.list",
                  "path": "v1alpha/{+parent}/instanceOSPoliciesCompliances"
                },
                "get": {
                  "id": "osconfig.projects.locations.instanceOSPoliciesCompliances.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instanceOSPoliciesCompliances/{instanceOSPoliciesCompliancesId}",
                  "description": "Get OS policies compliance data for the specified Compute Engine VM instance.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. API resource name for instance OS policies compliance resource. Format: `projects/{project}/locations/{location}/instanceOSPoliciesCompliances/{instance}` For `{project}`, either Compute Engine project-number or project-id can be provided. For `{instance}`, either Compute Engine VM instance-id or instance-name can be provided.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instanceOSPoliciesCompliances/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "InstanceOSPoliciesCompliance"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "InventoryWindowsUpdatePackage": {
      "type": "object",
      "id": "InventoryWindowsUpdatePackage",
      "description": "Details related to a Windows Update package. Field data and names are taken from Windows Update API IUpdate Interface: https://docs.microsoft.com/en-us/windows/win32/api/_wua/ Descriptive fields like title, and description are localized based on the locale of the VM being updated.",
      "properties": {
        "updateId": {
          "description": "Gets the identifier of an update package. Stays the same across revisions.",
          "type": "string"
        },
        "categories": {
          "description": "The categories that are associated with this update package.",
          "type": "array",
          "items": {
            "$ref": "InventoryWindowsUpdatePackageWindowsUpdateCategory"
          }
        },
        "moreInfoUrls": {
          "description": "A collection of URLs that provide more information about the update package.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "The localized description of the update package."
        },
        "supportUrl": {
          "type": "string",
          "description": "A hyperlink to the language-specific support information for the update."
        },
        "lastDeploymentChangeTime": {
          "type": "string",
          "description": "The last published date of the update, in (UTC) date and time.",
          "format": "google-datetime"
        },
        "revisionNumber": {
          "format": "int32",
          "description": "The revision number of this update package.",
          "type": "integer"
        },
        "title": {
          "type": "string",
          "description": "The localized title of the update package."
        },
        "kbArticleIds": {
          "items": {
            "type": "string"
          },
          "description": "A collection of Microsoft Knowledge Base article IDs that are associated with the update package.",
          "type": "array"
        }
      }
    },
    "OSPolicyAssignmentInstanceFilter": {
      "properties": {
        "osShortNames": {
          "description": "A VM is included if it's OS short name matches with any of the values provided in this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "all": {
          "type": "boolean",
          "description": "Target all VMs in the project. If true, no other criteria is permitted."
        },
        "inclusionLabels": {
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          },
          "type": "array",
          "description": "List of label sets used for VM inclusion. If the list has more than one `LabelSet`, the VM is included if any of the label sets are applicable for the VM."
        },
        "exclusionLabels": {
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          },
          "description": "List of label sets used for VM exclusion. If the list has more than one label set, the VM is excluded if any of the label sets are applicable for the VM. This filter is applied last in the filtering chain and therefore a VM is guaranteed to be excluded if it satisfies one of the below label sets.",
          "type": "array"
        }
      },
      "id": "OSPolicyAssignmentInstanceFilter",
      "description": "Message to represent the filters to select VMs for an assignment",
      "type": "object"
    },
    "InventoryVersionedPackage": {
      "description": "Information related to the a standard versioned package. This includes package info for APT, Yum, Zypper, and Googet package managers.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the package."
        },
        "packageName": {
          "type": "string",
          "description": "The name of the package."
        },
        "architecture": {
          "description": "The system architecture this package is intended for.",
          "type": "string"
        }
      },
      "id": "InventoryVersionedPackage"
    },
    "OSPolicyResourcePackageResourceYUM": {
      "description": "A package managed by YUM. install: `yum -y install package` remove: `yum -y remove package`",
      "id": "OSPolicyResourcePackageResourceYUM",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      }
    },
    "VulnerabilityReportVulnerabilityDetails": {
      "description": "Contains metadata information for the vulnerability. This information is collected from the upstream feed of the operating system.",
      "id": "VulnerabilityReportVulnerabilityDetails",
      "type": "object",
      "properties": {
        "cvssV2Score": {
          "type": "number",
          "format": "float",
          "description": "The CVSS V2 score of this vulnerability. CVSS V2 score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity."
        },
        "description": {
          "description": "The note or description describing the vulnerability from the distro.",
          "type": "string"
        },
        "cvssV3": {
          "description": "The full description of the CVSSv3 for this vulnerability from NVD.",
          "$ref": "CVSSv3"
        },
        "severity": {
          "description": "Assigned severity/impact ranking from the distro.",
          "type": "string"
        },
        "references": {
          "type": "array",
          "description": "Corresponds to the references attached to the `VulnerabilityDetails`.",
          "items": {
            "$ref": "VulnerabilityReportVulnerabilityDetailsReference"
          }
        },
        "cve": {
          "description": "The CVE of the vulnerability. CVE cannot be empty and the combination of should be unique across vulnerabilities for a VM.",
          "type": "string"
        }
      }
    },
    "ListInstanceOSPoliciesCompliancesResponse": {
      "id": "ListInstanceOSPoliciesCompliancesResponse",
      "type": "object",
      "description": "A response message for listing OS policies compliance data for all Compute Engine VMs in the given location.",
      "properties": {
        "instanceOsPoliciesCompliances": {
          "type": "array",
          "description": "List of instance OS policies compliance objects.",
          "items": {
            "$ref": "InstanceOSPoliciesCompliance"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token to retrieve the next page of instance OS policies compliance objects."
        }
      }
    },
    "OSPolicyResourceRepositoryResource": {
      "id": "OSPolicyResourceRepositoryResource",
      "description": "A resource that manages a package repository.",
      "properties": {
        "yum": {
          "description": "A Yum Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceYumRepository"
        },
        "apt": {
          "description": "An Apt Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceAptRepository"
        },
        "zypper": {
          "$ref": "OSPolicyResourceRepositoryResourceZypperRepository",
          "description": "A Zypper Repository."
        },
        "goo": {
          "description": "A Goo Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceGooRepository"
        }
      },
      "type": "object"
    },
    "OSPolicyAssignmentOperationMetadata": {
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "properties": {
        "apiMethod": {
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "description": "The OS policy assignment API method.",
          "type": "string"
        },
        "osPolicyAssignment": {
          "type": "string",
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
        },
        "rolloutStartTime": {
          "description": "Rollout start time",
          "format": "google-datetime",
          "type": "string"
        },
        "rolloutState": {
          "type": "string",
          "description": "State of the rollout",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ]
        },
        "rolloutUpdateTime": {
          "description": "Rollout update time",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "OSPolicyAssignmentOperationMetadata"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "OSPolicyResourcePackageResource": {
      "properties": {
        "googet": {
          "description": "A package managed by GooGet.",
          "$ref": "OSPolicyResourcePackageResourceGooGet"
        },
        "yum": {
          "description": "A package managed by YUM.",
          "$ref": "OSPolicyResourcePackageResourceYUM"
        },
        "zypper": {
          "$ref": "OSPolicyResourcePackageResourceZypper",
          "description": "A package managed by Zypper."
        },
        "msi": {
          "description": "An MSI package.",
          "$ref": "OSPolicyResourcePackageResourceMSI"
        },
        "apt": {
          "description": "A package managed by Apt.",
          "$ref": "OSPolicyResourcePackageResourceAPT"
        },
        "deb": {
          "description": "A deb package file.",
          "$ref": "OSPolicyResourcePackageResourceDeb"
        },
        "desiredState": {
          "description": "Required. The desired state the agent should maintain for this package.",
          "type": "string",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "REMOVED"
          ],
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure that the package is installed.",
            "The agent ensures that the package is not installed and uninstalls it if detected."
          ]
        },
        "rpm": {
          "description": "An rpm package file.",
          "$ref": "OSPolicyResourcePackageResourceRPM"
        }
      },
      "description": "A resource that manages a system package.",
      "type": "object",
      "id": "OSPolicyResourcePackageResource"
    },
    "InventoryWindowsUpdatePackageWindowsUpdateCategory": {
      "id": "InventoryWindowsUpdatePackageWindowsUpdateCategory",
      "description": "Categories specified by the Windows Update.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the windows update category."
        },
        "id": {
          "type": "string",
          "description": "The identifier of the windows update category."
        }
      },
      "type": "object"
    },
    "OSPolicyResourceRepositoryResourceGooRepository": {
      "description": "Represents a Goo package repository. These are added to a repo file that is managed at `C:/ProgramData/GooGet/repos/google_osconfig.repo`.",
      "id": "OSPolicyResourceRepositoryResourceGooRepository",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the repository."
        },
        "url": {
          "type": "string",
          "description": "Required. The url of the repository."
        }
      }
    },
    "OSPolicyResourceFileResource": {
      "type": "object",
      "properties": {
        "file": {
          "$ref": "OSPolicyResourceFile",
          "description": "A remote or local source."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure file at path is present.",
            "Ensure file at path is absent.",
            "Ensure the contents of the file at path matches. If the file does not exist it will be created."
          ],
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "PRESENT",
            "ABSENT",
            "CONTENTS_MATCH"
          ],
          "type": "string",
          "description": "Required. Desired state of the file."
        },
        "permissions": {
          "description": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "A a file with this content. The size of the content is limited to 1024 characters."
        },
        "path": {
          "description": "Required. The absolute path of the file within the VM.",
          "type": "string"
        }
      },
      "id": "OSPolicyResourceFileResource",
      "description": "A resource that manages the state of a file."
    },
    "OSPolicyResourceFileRemote": {
      "description": "Specifies a file available via some URI.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. URI from which to fetch the object. It should contain both the protocol and path following the format `{protocol}://{location}`.",
          "type": "string"
        },
        "sha256Checksum": {
          "description": "SHA256 checksum of the remote file.",
          "type": "string"
        }
      },
      "id": "OSPolicyResourceFileRemote"
    },
    "OSPolicyResourceFile": {
      "type": "object",
      "id": "OSPolicyResourceFile",
      "description": "A remote or local file.",
      "properties": {
        "gcs": {
          "$ref": "OSPolicyResourceFileGcs",
          "description": "A Cloud Storage object."
        },
        "allowInsecure": {
          "description": "Defaults to false. When false, files are subject to validations based on the file type: Remote: A checksum must be specified. Cloud Storage: An object generation number must be specified.",
          "type": "boolean"
        },
        "localPath": {
          "description": "A local path within the VM to use.",
          "type": "string"
        },
        "remote": {
          "description": "A generic remote file.",
          "$ref": "OSPolicyResourceFileRemote"
        }
      }
    },
    "OSPolicyResourceGroup": {
      "type": "object",
      "description": "Resource groups provide a mechanism to group OS policy resources. Resource groups enable OS policy authors to create a single OS policy to be applied to VMs running different operating Systems. When the OS policy is applied to a target VM, the appropriate resource group within the OS policy is selected based on the `OSFilter` specified within the resource group.",
      "id": "OSPolicyResourceGroup",
      "properties": {
        "osFilter": {
          "description": "Used to specify the OS filter for a resource group",
          "$ref": "OSPolicyOSFilter"
        },
        "resources": {
          "items": {
            "$ref": "OSPolicyResource"
          },
          "type": "array",
          "description": "Required. List of resources configured for this resource group. The resources are executed in the exact order specified here."
        }
      }
    },
    "OSPolicyAssignmentRollout": {
      "id": "OSPolicyAssignmentRollout",
      "properties": {
        "disruptionBudget": {
          "description": "Required. The maximum number (or percentage) of VMs per zone to disrupt at any given moment.",
          "$ref": "FixedOrPercent"
        },
        "minWaitDuration": {
          "description": "Required. This determines the minimum duration of time to wait after the configuration changes are applied through the current rollout. A VM continues to count towards the `disruption_budget` at least until this duration of time has passed after configuration changes are applied.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message to configure the rollout at the zonal level for the OS policy assignment."
    },
    "CVSSv3": {
      "description": "Common Vulnerability Scoring System version 3. For details, see https://www.first.org/cvss/specification-document",
      "type": "object",
      "properties": {
        "scope": {
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ],
          "type": "string",
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "baseScore": {
          "description": "The base score is a function of the base metric scores. https://www.first.org/cvss/specification-document#Base-Metrics",
          "format": "float",
          "type": "number"
        },
        "integrityImpact": {
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "privilegesRequired": {
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ],
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "impactScore": {
          "format": "float",
          "description": "The Impact sub-score equation is derived from the Base Impact metrics.",
          "type": "number"
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability."
        },
        "attackComplexity": {
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ],
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability.",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "type": "string"
        },
        "userInteraction": {
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ]
        },
        "attackVector": {
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read/write/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ],
          "description": "This metric reflects the context by which vulnerability exploitation is possible."
        },
        "exploitabilityScore": {
          "format": "float",
          "description": "The Exploitability sub-score equation is derived from the Base Exploitability metrics. https://www.first.org/cvss/specification-document#2-1-Exploitability-Metrics",
          "type": "number"
        },
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability."
        }
      },
      "id": "CVSSv3"
    },
    "OSPolicyResourceRepositoryResourceZypperRepository": {
      "description": "Represents a single zypper package repository. These are added to a repo file that is managed at `/etc/zypp/repos.d/google_osconfig.repo`.",
      "id": "OSPolicyResourceRepositoryResourceZypperRepository",
      "type": "object",
      "properties": {
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for GuestPolicy conflicts.",
          "type": "string"
        },
        "gpgKeys": {
          "type": "array",
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the repository."
        }
      }
    },
    "OSPolicyAssignment": {
      "type": "object",
      "description": "OS policy assignment is an API resource that is used to apply a set of OS policies to a dynamically targeted group of Compute Engine VM instances. An OS policy is used to define the desired state configuration for a Compute Engine VM instance through a set of configuration resources that provide capabilities such as installing or removing software packages, or executing a script. For more information, see [OS policy and OS policy assignment](/compute/docs/os-configuration-management/working-with-os-policies).",
      "id": "OSPolicyAssignment",
      "properties": {
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates that reconciliation is in progress for the revision. This value is `true` when the `rollout_state` is one of: * IN_PROGRESS * CANCELLING"
        },
        "description": {
          "description": "OS policy assignment description. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "rollout": {
          "description": "Required. Rollout to deploy the OS policy assignment. A rollout is triggered in the following situations: 1) OSPolicyAssignment is created. 2) OSPolicyAssignment is updated and the update contains changes to one of the following fields: - instance_filter - os_policies 3) OSPolicyAssignment is deleted.",
          "$ref": "OSPolicyAssignmentRollout"
        },
        "deleted": {
          "readOnly": true,
          "description": "Output only. Indicates that this revision deletes the OS policy assignment.",
          "type": "boolean"
        },
        "instanceFilter": {
          "$ref": "OSPolicyAssignmentInstanceFilter",
          "description": "Required. Filter to select VMs."
        },
        "name": {
          "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment.",
          "type": "string"
        },
        "revisionCreateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp that the revision was created."
        },
        "rolloutState": {
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. OS policy assignment rollout state",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ]
        },
        "revisionId": {
          "description": "Output only. The assignment revision ID A new revision is committed whenever a rollout is triggered for a OS policy assignment",
          "type": "string",
          "readOnly": true
        },
        "baseline": {
          "readOnly": true,
          "description": "Output only. Indicates that this revision has been successfully rolled out in this zone and new VMs will be assigned OS policies from this revision. For a given OS policy assignment, there is only one revision with a value of `true` for this field.",
          "type": "boolean"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Server generated unique id for the OS policy assignment resource.",
          "type": "string"
        },
        "osPolicies": {
          "type": "array",
          "items": {
            "$ref": "OSPolicy"
          },
          "description": "Required. List of OS policies to be applied to the VMs."
        }
      }
    },
    "OSPolicy": {
      "properties": {
        "resourceGroups": {
          "description": "Required. List of resource groups for the policy. For a particular VM, resource groups are evaluated in the order specified and the first resource group that is applicable is selected and the rest are ignored. If none of the resource groups are applicable for a VM, the VM is considered to be non-compliant w.r.t this policy. This behavior can be toggled by the flag `allow_no_resource_group_match`",
          "items": {
            "$ref": "OSPolicyResourceGroup"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Policy description. Length of the description is limited to 1024 characters."
        },
        "allowNoResourceGroupMatch": {
          "description": "This flag determines the OS policy compliance status when none of the resource groups within the policy are applicable for a VM. Set this value to `true` if the policy needs to be reported as compliant even if the policy has nothing to validate or enforce.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "Required. The id of the OS policy with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the assignment."
        },
        "mode": {
          "type": "string",
          "description": "Required. Policy mode",
          "enum": [
            "MODE_UNSPECIFIED",
            "VALIDATION",
            "ENFORCEMENT"
          ],
          "enumDescriptions": [
            "Invalid mode",
            "This mode checks if the configuration resources in the policy are in their desired state. No actions are performed if they are not in the desired state. This mode is used for reporting purposes.",
            "This mode checks if the configuration resources in the policy are in their desired state, and if not, enforces the desired state."
          ]
        }
      },
      "description": "An OS policy defines the desired state configuration for a VM.",
      "type": "object",
      "id": "OSPolicy"
    },
    "InventoryOsInfo": {
      "type": "object",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "The VM hostname."
        },
        "longName": {
          "description": "The operating system long name. For example 'Debian GNU/Linux 9' or 'Microsoft Window Server 2019 Datacenter'.",
          "type": "string"
        },
        "shortName": {
          "description": "The operating system short name. For example, 'windows' or 'debian'.",
          "type": "string"
        },
        "kernelRelease": {
          "description": "The kernel release of the operating system.",
          "type": "string"
        },
        "osconfigAgentVersion": {
          "type": "string",
          "description": "The current version of the OS Config agent running on the VM."
        },
        "architecture": {
          "type": "string",
          "description": "The system architecture of the operating system."
        },
        "version": {
          "type": "string",
          "description": "The version of the operating system."
        },
        "kernelVersion": {
          "type": "string",
          "description": "The kernel version of the operating system."
        }
      },
      "description": "Operating system information for the VM.",
      "id": "InventoryOsInfo"
    },
    "InventorySoftwarePackage": {
      "type": "object",
      "id": "InventorySoftwarePackage",
      "properties": {
        "zypperPatch": {
          "description": "Details of a Zypper patch. For details about the Zypper package manager, see https://en.opensuse.org/SDB:Zypper_manual.",
          "$ref": "InventoryZypperPatch"
        },
        "yumPackage": {
          "description": "Yum package info. For details about the yum package manager, see https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/deployment_guide/ch-yum.",
          "$ref": "InventoryVersionedPackage"
        },
        "googetPackage": {
          "$ref": "InventoryVersionedPackage",
          "description": "Details of a Googet package. For details about the googet package manager, see https://github.com/google/googet."
        },
        "zypperPackage": {
          "description": "Details of a Zypper package. For details about the Zypper package manager, see https://en.opensuse.org/SDB:Zypper_manual.",
          "$ref": "InventoryVersionedPackage"
        },
        "qfePackage": {
          "$ref": "InventoryWindowsQuickFixEngineeringPackage",
          "description": "Details of a Windows Quick Fix engineering package. See https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering for info in Windows Quick Fix Engineering."
        },
        "wuaPackage": {
          "$ref": "InventoryWindowsUpdatePackage",
          "description": "Details of a Windows Update package. See https://docs.microsoft.com/en-us/windows/win32/api/_wua/ for information about Windows Update."
        },
        "aptPackage": {
          "description": "Details of an APT package. For details about the apt package manager, see https://wiki.debian.org/Apt.",
          "$ref": "InventoryVersionedPackage"
        },
        "cosPackage": {
          "description": "Details of a COS package.",
          "$ref": "InventoryVersionedPackage"
        }
      },
      "description": "Software package information of the operating system."
    },
    "OSPolicyResourceFileGcs": {
      "description": "Specifies a file available as a Cloud Storage Object.",
      "type": "object",
      "id": "OSPolicyResourceFileGcs",
      "properties": {
        "object": {
          "description": "Required. Name of the Cloud Storage object.",
          "type": "string"
        },
        "generation": {
          "description": "Generation number of the Cloud Storage object.",
          "type": "string",
          "format": "int64"
        },
        "bucket": {
          "type": "string",
          "description": "Required. Bucket of the Cloud Storage object."
        }
      }
    },
    "OSPolicyResourceExecResource": {
      "type": "object",
      "description": "A resource that allows executing scripts on the VM. The `ExecResource` has 2 stages: `validate` and `enforce` and both stages accept a script as an argument to execute. When the `ExecResource` is applied by the agent, it first executes the script in the `validate` stage. The `validate` stage can signal that the `ExecResource` is already in the desired state by returning an exit code of `100`. If the `ExecResource` is not in the desired state, it should return an exit code of `101`. Any other exit code returned by this stage is considered an error. If the `ExecResource` is not in the desired state based on the exit code from the `validate` stage, the agent proceeds to execute the script from the `enforce` stage. If the `ExecResource` is already in the desired state, the `enforce` stage will not be run. Similar to `validate` stage, the `enforce` stage should return an exit code of `100` to indicate that the resource in now in its desired state. Any other exit code is considered an error. NOTE: An exit code of `100` was chosen over `0` (and `101` vs `1`) to have an explicit indicator of `in desired state`, `not in desired state` and errors. Because, for example, Powershell will always return an exit code of `0` unless an `exit` statement is provided in the script. So, for reasons of consistency and being explicit, exit codes `100` and `101` were chosen.",
      "properties": {
        "enforce": {
          "$ref": "OSPolicyResourceExecResourceExec",
          "description": "What to run to bring this resource into the desired state. An exit code of 100 indicates \"success\", any other exit code indicates a failure running enforce."
        },
        "validate": {
          "$ref": "OSPolicyResourceExecResourceExec",
          "description": "Required. What to run to validate this resource is in the desired state. An exit code of 100 indicates \"in desired state\", and exit code of 101 indicates \"not in desired state\". Any other exit code indicates a failure running validate."
        }
      },
      "id": "OSPolicyResourceExecResource"
    },
    "OSPolicyResourceRepositoryResourceAptRepository": {
      "type": "object",
      "description": "Represents a single apt package repository. These will be added to a repo file that will be managed at /etc/apt/sources.list.d/google_osconfig.list.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URI for this repository."
        },
        "gpgKey": {
          "description": "URI of the key file for this repository. The agent maintains a keyring at /etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg.",
          "type": "string"
        },
        "components": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of components for this repository. Must contain at least one item.",
          "type": "array"
        },
        "archiveType": {
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Deb indicates that the archive contains binary files.",
            "Deb-src indicates that the archive contains source files."
          ],
          "description": "Required. Type of archive files in this repository.",
          "type": "string",
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "DEB",
            "DEB_SRC"
          ]
        },
        "distribution": {
          "type": "string",
          "description": "Required. Distribution of this repository."
        }
      },
      "id": "OSPolicyResourceRepositoryResourceAptRepository"
    },
    "VulnerabilityReportVulnerabilityDetailsReference": {
      "description": "A reference for this vulnerability.",
      "id": "VulnerabilityReportVulnerabilityDetailsReference",
      "properties": {
        "url": {
          "description": "The url of the reference.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "OSPolicyAssignmentLabelSet": {
      "properties": {
        "labels": {
          "type": "object",
          "description": "Labels are identified by key/value pairs in this map. A VM should contain all the key/value pairs specified in this map to be selected.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "OSPolicyAssignmentLabelSet",
      "type": "object",
      "description": "Message representing label set. * A label is a key value pair set for a VM. * A LabelSet is a set of labels. * Labels within a LabelSet are ANDed. In other words, a LabelSet is applicable for a VM only if it matches all the labels in the LabelSet. * Example: A LabelSet with 2 labels: `env=prod` and `type=webserver` will only be applicable for those VMs with both labels present."
    },
    "OSPolicyResourcePackageResourceAPT": {
      "id": "OSPolicyResourcePackageResourceAPT",
      "description": "A package managed by APT. install: `apt-get update && apt-get -y install [name]` remove: `apt-get -y remove [name]`",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OSPolicyOSFilter": {
      "type": "object",
      "description": "The `OSFilter` is used to specify the OS filtering criteria for the resource group.",
      "id": "OSPolicyOSFilter",
      "properties": {
        "osShortName": {
          "type": "string",
          "description": "This should match OS short name emitted by the OS inventory agent. An empty value matches any OS."
        },
        "osVersion": {
          "type": "string",
          "description": "This value should match the version emitted by the OS inventory agent. Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*`"
        }
      }
    },
    "Inventory": {
      "description": "This API resource represents the available inventory data for a Compute Engine virtual machine (VM) instance at a given point in time. You can use this API resource to determine the inventory data of your VM. For more information, see [Information provided by OS inventory management](/compute/docs/instances/os-inventory-management#data-collected).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The `Inventory` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/inventory`",
          "readOnly": true
        },
        "osInfo": {
          "description": "Output only. Base level operating system information for the VM.",
          "$ref": "InventoryOsInfo",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of the last reported inventory for the VM."
        },
        "items": {
          "additionalProperties": {
            "$ref": "InventoryItem"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. Inventory items related to the VM keyed by an opaque unique identifier for each inventory item. The identifier is unique to each distinct and addressable inventory item and will change, when there is a new package version."
        }
      },
      "type": "object",
      "id": "Inventory"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ListOSPolicyAssignmentRevisionsResponse": {
      "id": "ListOSPolicyAssignmentRevisionsResponse",
      "description": "A response message for listing all revisions for a OS policy assignment.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of OS policy assignment revisions.",
          "type": "string"
        },
        "osPolicyAssignments": {
          "description": "The OS policy assignment revisions",
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignment"
          }
        }
      }
    },
    "OSPolicyResourcePackageResourceDeb": {
      "id": "OSPolicyResourcePackageResourceDeb",
      "description": "A deb package file. dpkg packages only support INSTALLED state.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Required. A deb package.",
          "$ref": "OSPolicyResourceFile"
        },
        "pullDeps": {
          "description": "Whether dependencies should also be installed. install when false: `dpkg -i package` install when true: `apt-get update && apt-get -y install package.deb`",
          "type": "boolean"
        }
      }
    },
    "InventoryItem": {
      "type": "object",
      "properties": {
        "originType": {
          "enum": [
            "ORIGIN_TYPE_UNSPECIFIED",
            "INVENTORY_REPORT"
          ],
          "type": "string",
          "description": "The origin of this inventory item.",
          "enumDescriptions": [
            "Invalid. An origin type must be specified.",
            "This inventory item was discovered as the result of the agent reporting inventory via the reporting API."
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "When this inventory item was last modified.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "When this inventory item was first detected.",
          "format": "google-datetime"
        },
        "installedPackage": {
          "$ref": "InventorySoftwarePackage",
          "description": "Software package present on the VM instance."
        },
        "id": {
          "type": "string",
          "description": "Identifier for this item, unique across items for this VM."
        },
        "type": {
          "enumDescriptions": [
            "Invalid. An type must be specified.",
            "This represents a package that is installed on the VM.",
            "This represents an update that is available for a package."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INSTALLED_PACKAGE",
            "AVAILABLE_PACKAGE"
          ],
          "description": "The specific type of inventory, correlating to its specific details.",
          "type": "string"
        },
        "availablePackage": {
          "description": "Software package available to be installed on the VM instance.",
          "$ref": "InventorySoftwarePackage"
        }
      },
      "id": "InventoryItem",
      "description": "A single piece of inventory on a VM."
    },
    "ListVulnerabilityReportsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of vulnerabilityReports object.",
          "type": "string"
        },
        "vulnerabilityReports": {
          "description": "List of vulnerabilityReport objects.",
          "items": {
            "$ref": "VulnerabilityReport"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A response message for listing vulnerability reports for all VM instances in the specified location.",
      "id": "ListVulnerabilityReportsResponse"
    },
    "OSPolicyResourcePackageResourceZypper": {
      "type": "object",
      "description": "A package managed by Zypper. install: `zypper -y install package` remove: `zypper -y rm package`",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      },
      "id": "OSPolicyResourcePackageResourceZypper"
    },
    "OSPolicyResourceCompliance": {
      "description": "Compliance data for an OS policy resource.",
      "properties": {
        "osPolicyResourceId": {
          "type": "string",
          "description": "The id of the OS policy resource."
        },
        "configSteps": {
          "description": "Ordered list of configuration steps taken by the agent for the OS policy resource.",
          "type": "array",
          "items": {
            "$ref": "OSPolicyResourceConfigStep"
          }
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Compliant state.",
            "Non-compliant state",
            "Unknown compliance state.",
            "No applicable OS policies were found for the instance. This state is only applicable to the instance."
          ],
          "type": "string",
          "description": "Compliance state of the OS policy resource.",
          "enum": [
            "OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT",
            "UNKNOWN",
            "NO_OS_POLICIES_APPLICABLE"
          ]
        }
      },
      "type": "object",
      "id": "OSPolicyResourceCompliance"
    },
    "VulnerabilityReport": {
      "description": "This API resource represents the vulnerability report for a specified Compute Engine virtual machine (VM) instance at a given point in time. For more information, see [Vulnerability reports](/compute/docs/instances/os-inventory-management#vulnerability-reports).",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The `vulnerabilityReport` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/vulnerabilityReport`",
          "type": "string"
        },
        "vulnerabilities": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of vulnerabilities affecting the VM.",
          "items": {
            "$ref": "VulnerabilityReportVulnerability"
          }
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp for when the last vulnerability report was generated for the VM.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "VulnerabilityReport"
    },
    "OSPolicyResource": {
      "id": "OSPolicyResource",
      "properties": {
        "file": {
          "description": "File resource",
          "$ref": "OSPolicyResourceFileResource"
        },
        "repository": {
          "description": "Package repository resource",
          "$ref": "OSPolicyResourceRepositoryResource"
        },
        "id": {
          "type": "string",
          "description": "Required. The id of the resource with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the OS policy."
        },
        "exec": {
          "$ref": "OSPolicyResourceExecResource",
          "description": "Exec resource"
        },
        "pkg": {
          "$ref": "OSPolicyResourcePackageResource",
          "description": "Package resource"
        }
      },
      "type": "object",
      "description": "An OS policy resource is used to define the desired state configuration and provides a specific functionality like installing/removing packages, executing a script etc. The system ensures that resources are always in their desired state by taking necessary actions if they have drifted from their desired state."
    },
    "OSPolicyResourcePackageResourceGooGet": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Package name."
        }
      },
      "description": "A package managed by GooGet. install: `googet -noconfirm install package` remove: `googet -noconfirm remove package`",
      "id": "OSPolicyResourcePackageResourceGooGet",
      "type": "object"
    },
    "OSPolicyResourceRepositoryResourceYumRepository": {
      "type": "object",
      "description": "Represents a single yum package repository. These are added to a repo file that is managed at `/etc/yum.repos.d/google_osconfig.repo`.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the repository."
        },
        "id": {
          "type": "string",
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for resource conflicts."
        },
        "baseUrl": {
          "description": "Required. The location of the repository directory.",
          "type": "string"
        },
        "gpgKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "URIs of GPG keys."
        }
      },
      "id": "OSPolicyResourceRepositoryResourceYumRepository"
    },
    "OSPolicyResourcePackageResourceRPM": {
      "description": "An RPM package file. RPM packages only support INSTALLED state.",
      "properties": {
        "pullDeps": {
          "description": "Whether dependencies should also be installed. install when false: `rpm --upgrade --replacepkgs package.rpm` install when true: `yum -y install package.rpm` or `zypper -y install package.rpm`",
          "type": "boolean"
        },
        "source": {
          "$ref": "OSPolicyResourceFile",
          "description": "Required. An rpm package."
        }
      },
      "type": "object",
      "id": "OSPolicyResourcePackageResourceRPM"
    },
    "OSPolicyResourceConfigStep": {
      "id": "OSPolicyResourceConfigStep",
      "description": "Step performed by the OS Config agent for configuring an `OSPolicyResource` to its desired state.",
      "properties": {
        "outcome": {
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Outcome of the configuration step.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The step succeeded.",
            "The step failed."
          ]
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "VALIDATION",
            "DESIRED_STATE_CHECK",
            "DESIRED_STATE_ENFORCEMENT",
            "DESIRED_STATE_CHECK_POST_ENFORCEMENT"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Validation to detect resource conflicts, schema errors, etc.",
            "Check the current desired state status of the resource.",
            "Enforce the desired state for a resource that is not in desired state.",
            "Re-check desired state status for a resource after enforcement of all resources in the current configuration run. This step is used to determine the final desired state status for the resource. It accounts for any resources that might have drifted from their desired state due to side effects from configuring other resources during the current configuration run."
          ],
          "description": "Configuration step type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InventoryWindowsQuickFixEngineeringPackage": {
      "properties": {
        "installTime": {
          "type": "string",
          "description": "Date that the QFE update was installed. Mapped from installed_on field.",
          "format": "google-datetime"
        },
        "hotFixId": {
          "description": "Unique identifier associated with a particular QFE update.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A textual description of the QFE update."
        },
        "caption": {
          "description": "A short textual description of the QFE update.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information related to a Quick Fix Engineering package. Fields are taken from Windows QuickFixEngineering Interface and match the source names: https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering",
      "id": "InventoryWindowsQuickFixEngineeringPackage"
    },
    "ListInventoriesResponse": {
      "id": "ListInventoriesResponse",
      "properties": {
        "inventories": {
          "items": {
            "$ref": "Inventory"
          },
          "description": "List of inventory objects.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of inventory objects.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A response message for listing inventory data for all VMs in a specified location."
    },
    "OSPolicyResourcePackageResourceMSI": {
      "type": "object",
      "id": "OSPolicyResourcePackageResourceMSI",
      "properties": {
        "properties": {
          "items": {
            "type": "string"
          },
          "description": "Additional properties to use during installation. This should be in the format of Property=Setting. Appended to the defaults of \"ACTION=INSTALL REBOOT=ReallySuppress\".",
          "type": "array"
        },
        "source": {
          "description": "Required. The MSI package.",
          "$ref": "OSPolicyResourceFile"
        }
      },
      "description": "An MSI package. MSI packages only support INSTALLED state."
    },
    "InstanceOSPoliciesCompliance": {
      "properties": {
        "lastComplianceCheckTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of the last compliance check for the VM.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Compliant state.",
            "Non-compliant state",
            "Unknown compliance state.",
            "No applicable OS policies were found for the instance. This state is only applicable to the instance."
          ],
          "enum": [
            "OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT",
            "UNKNOWN",
            "NO_OS_POLICIES_APPLICABLE"
          ],
          "description": "Output only. Compliance state of the VM.",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Compute Engine VM instance name."
        },
        "detailedState": {
          "description": "Output only. Detailed compliance state of the VM. This field is populated only when compliance state is `UNKNOWN`. It may contain one of the following values: * `no-compliance-data`: Compliance data is not available for this VM. * `no-agent-detected`: OS Config agent is not detected for this VM. * `config-not-supported-by-agent`: The version of the OS Config agent running on this VM does not support configuration management. * `inactive`: VM is not running. * `internal-service-errors`: There were internal service errors encountered while enforcing compliance. * `agent-errors`: OS config agent encountered errors while enforcing compliance.",
          "readOnly": true,
          "type": "string"
        },
        "lastComplianceRunId": {
          "type": "string",
          "description": "Output only. Unique identifier for the last compliance run. This id will be logged by the OS config agent during a compliance run and can be used for debugging and tracing purpose.",
          "readOnly": true
        },
        "detailedStateReason": {
          "type": "string",
          "description": "Output only. The reason for the `detailed_state` of the VM (if any).",
          "readOnly": true
        },
        "osPolicyCompliances": {
          "description": "Output only. Compliance data for each `OSPolicy` that is applied to the VM.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "InstanceOSPoliciesComplianceOSPolicyCompliance"
          }
        },
        "name": {
          "description": "Output only. The `InstanceOSPoliciesCompliance` API resource name. Format: `projects/{project_number}/locations/{location}/instanceOSPoliciesCompliances/{instance_id}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "This API resource represents the OS policies compliance data for a Compute Engine virtual machine (VM) instance at a given point in time. A Compute Engine VM can have multiple OS policy assignments, and each assignment can have multiple OS policies. As a result, multiple OS policies could be applied to a single VM. You can use this API resource to determine both the compliance state of your VM as well as the compliance state of an individual OS policy. For more information, see [View compliance](/compute/docs/os-configuration-management/view-compliance).",
      "type": "object",
      "id": "InstanceOSPoliciesCompliance"
    },
    "InstanceOSPoliciesComplianceOSPolicyCompliance": {
      "type": "object",
      "id": "InstanceOSPoliciesComplianceOSPolicyCompliance",
      "properties": {
        "osPolicyId": {
          "description": "The OS policy id",
          "type": "string"
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource that the `OSPolicy` belongs to. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "osPolicyResourceCompliances": {
          "items": {
            "$ref": "OSPolicyResourceCompliance"
          },
          "type": "array",
          "description": "Compliance data for each `OSPolicyResource` that is applied to the VM."
        },
        "state": {
          "enum": [
            "OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT",
            "UNKNOWN",
            "NO_OS_POLICIES_APPLICABLE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Compliant state.",
            "Non-compliant state",
            "Unknown compliance state.",
            "No applicable OS policies were found for the instance. This state is only applicable to the instance."
          ],
          "description": "Compliance state of the OS policy.",
          "type": "string"
        }
      },
      "description": "Compliance data for an OS policy"
    },
    "VulnerabilityReportVulnerability": {
      "description": "A vulnerability affecting the VM instance.",
      "type": "object",
      "properties": {
        "availableInventoryItemIds": {
          "type": "array",
          "description": "Corresponds to the `AVAILABLE_PACKAGE` inventory item on the VM. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. If there is no available fix, the field is empty. The `inventory_item` value specifies the latest `SoftwarePackage` available to the VM that fixes the vulnerability.",
          "items": {
            "type": "string"
          }
        },
        "installedInventoryItemIds": {
[...]
