{
  "description": "",
  "rootUrl": "https://paymentsresellersubscription.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "protocol": "rest",
  "baseUrl": "https://paymentsresellersubscription.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://paymentsresellersubscription.mtls.googleapis.com/",
  "revision": "20240222",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "version": "v1",
  "documentationLink": "https://developers.google.com/payments/reseller/subscription/",
  "name": "paymentsresellersubscription",
  "version_module": true,
  "batchPath": "batch",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    }
  },
  "schemas": {
    "GoogleCloudPaymentsResellerSubscriptionV1Extension": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Extension",
      "type": "object",
      "properties": {
        "duration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "description": "Specifies the period of access the subscription should grant."
        },
        "partnerUserToken": {
          "type": "string",
          "description": "Required. Identifier of the end-user in partner’s system."
        }
      },
      "description": "Describes the details of an extension request."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FiniteBillingCycleDetails": {
      "properties": {
        "billingCycleCountLimit": {
          "type": "string",
          "format": "int64",
          "description": "Required. The number of a subscription line item billing cycles after which billing will stop automatically."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FiniteBillingCycleDetails",
      "type": "object",
      "description": "Details for a subscriptiin line item with finite billing cycles."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse",
      "type": "object",
      "description": "Response that contains the updated subscription resource.",
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
          "description": "The updated subscription resource."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequestLineItemEntitlementDetails": {
      "type": "object",
      "description": "The details of the line item to be entitled.",
      "properties": {
        "products": {
          "description": "Optional. Only applicable if the line item corresponds to a hard bundle. Product resource names that identify the bundle elements to be entitled in the line item. If unspecified, all bundle elements will be entitled. The format is 'partners/{partner_id}/products/{product_id}'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lineItemIndex": {
          "description": "Required. The index of the line item to be entitled.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequestLineItemEntitlementDetails"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod": {
      "description": "A description of what time period or moment in time the product or service is being delivered over.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Optional. The end time of the service period. Time is exclusive.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Required. The start time of the service period. Time is inclusive.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest": {
      "properties": {
        "lineItemEntitlementDetails": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequestLineItemEntitlementDetails"
          },
          "type": "array",
          "description": "Optional. The line items to be entitled. If unspecified, all line items will be entitled."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest",
      "type": "object",
      "description": "Partner request for entitling the previously provisioned subscription to an end user. The end user identity is inferred from the request OAuth context."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse": {
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
          "description": "The cancelled subscription resource."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemBundleDetailsBundleElementDetails": {
      "properties": {
        "product": {
          "description": "Output only. Product resource name that identifies the bundle element. The format is 'partners/{partner_id}/products/{product_id}'.",
          "readOnly": true,
          "type": "string"
        },
        "userAccountLinkedTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when this product is linked to an end user."
        }
      },
      "description": "The details for an element in the hard bundle.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemBundleDetailsBundleElementDetails",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest",
      "type": "object",
      "description": "Request to revoke a cancellation request.",
      "properties": {}
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Product"
          },
          "description": "The products for the specified partner."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "promotions": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          },
          "description": "The promotions for the specified partner.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse": {
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
          "description": "The subscription that has user linked to it."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem": {
      "properties": {
        "amount": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Amount",
          "readOnly": true,
          "description": "Output only. The price of the product/service in this line item. The amount could be the wholesale price, or it can include a cost of sale based on the contract."
        },
        "lineItemIndex": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. A unique index of the subscription line item.",
          "format": "int32"
        },
        "lineItemPromotionSpecs": {
          "description": "Optional. The promotions applied on the line item. It can be: - a free trial promotion, which overrides the subscription-level free trial promotion. - an introductory pricing promotion. When used as input in Create or Provision API, specify its resource name only.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          },
          "type": "array"
        },
        "recurrenceType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The line item recurrence type is unspecified.",
            "The line item recurs periodically.",
            "The line item does not recur in the future."
          ],
          "description": "Output only. The recurrence type of the line item.",
          "enum": [
            "LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED",
            "LINE_ITEM_RECURRENCE_TYPE_PERIODIC",
            "LINE_ITEM_RECURRENCE_TYPE_ONE_TIME"
          ]
        },
        "oneTimeRecurrenceDetails": {
          "readOnly": true,
          "description": "Output only. Details only set for a ONE_TIME recurrence line item.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails"
        },
        "productPayload": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ProductPayload",
          "description": "Optional. Product specific payload for this line item."
        },
        "state": {
          "description": "Output only. The state of the line item.",
          "readOnly": true,
          "enum": [
            "LINE_ITEM_STATE_UNSPECIFIED",
            "LINE_ITEM_STATE_ACTIVE",
            "LINE_ITEM_STATE_INACTIVE",
            "LINE_ITEM_STATE_NEW",
            "LINE_ITEM_STATE_ACTIVATING",
            "LINE_ITEM_STATE_DEACTIVATING",
            "LINE_ITEM_STATE_WAITING_TO_DEACTIVATE",
            "LINE_ITEM_STATE_OFF_CYCLE_CHARGING"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The line item is in ACTIVE state. If the subscription is cancelled or suspended, the line item will not be charged even if the line item is active.",
            "The line item is in INACTIVE state.",
            "The line item is new, and is not activated or charged yet.",
            "The line item is being activated in order to be charged. If a free trial applies to the line item, the line item is pending a prorated charge at the end of the free trial period, as indicated by `line_item_free_trial_end_time`.",
            "The line item is being deactivated, and a prorated refund in being processed.",
            "The line item is scheduled to be deactivated at the end of the current cycle.",
            "Line item is being charged off-cycle."
          ],
          "type": "string"
        },
        "bundleDetails": {
          "description": "Output only. The bundle details for the line item. Only populated if the line item corresponds to a hard bundle.",
          "readOnly": true,
          "$ref": "SubscriptionLineItemBundleDetails"
        },
        "description": {
          "description": "Output only. Description of this line item.",
          "type": "string",
          "readOnly": true
        },
        "finiteBillingCycleDetails": {
          "description": "Optional. Details for a subscription line item with finite billing cycles. If unset, the line item will be charged indefinitely. Used only with LINE_ITEM_RECURRENCE_TYPE_PERIODIC.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FiniteBillingCycleDetails"
        },
        "product": {
          "description": "Required. Product resource name that identifies one the line item The format is 'partners/{partner_id}/products/{product_id}'.",
          "type": "string"
        },
        "lineItemFreeTrialEndTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The free trial end time will be populated after the line item is successfully processed. End time of the line item free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem",
      "description": "Individual line item definition of a subscription.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ProductBundleDetailsBundleElement": {
      "description": "The individual product that is included in the bundle.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ProductBundleDetailsBundleElement",
      "properties": {
        "product": {
          "readOnly": true,
          "description": "Required. Output only. Product resource name that identifies the bundle element. The format is 'partners/{partner_id}/products/{product_id}'.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Promotion": {
      "description": "A Promotion resource that defines a promotion for a subscription that can be resold.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Promotion",
      "type": "object",
      "properties": {
        "promotionType": {
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "description": "Output only. Output Only. Specifies the type of the promotion.",
          "type": "string",
          "readOnly": true
        },
        "applicableProducts": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The product ids this promotion can be applied to.",
          "items": {
            "type": "string"
          }
        },
        "freeTrialDuration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "description": "Optional. Specifies the duration of the free trial of the subscription when promotion_type is PROMOTION_TYPE_FREE_TRIAL"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Response only. Resource name of the subscription promotion. It will have the format of \"partners/{partner_id}/promotion/{promotion_id}\""
        },
        "startTime": {
          "description": "Optional. Specifies the start time (inclusive) of the period that the promotion is available in.",
          "type": "string",
          "format": "google-datetime"
        },
        "regionCodes": {
          "description": "Output only. 2-letter ISO region code where the promotion is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "titles": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          },
          "type": "array",
          "description": "Output only. Localized human readable name of the promotion."
        },
        "introductoryPricingDetails": {
          "description": "Optional. Specifies the introductory pricing details when the promotion_type is PROMOTION_TYPE_INTRODUCTORY_PRICING.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails"
        },
        "endTime": {
          "description": "Optional. Specifies the end time (exclusive) of the period that the promotion is available in. If unset, the promotion is available indefinitely.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Subscription": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
      "description": "A subscription serves as a central billing entity between an external partner and Google. The underlying Google services rely on the subscription state to grant or revoke the user's service entitlement. It's important to note that the subscription state may not always perfectly align with the user's service entitlement. For example, some Google services may continue providing access to the user until the current billing cycle ends, even if the subscription has been immediately canceled. However, other services may not do the same. To fully understand the specific details, please consult the relevant contract or product policy.",
      "properties": {
        "promotions": {
          "description": "Optional. Deprecated: consider using the top-level `promotion_specs` as the input. Optional. Resource name that identifies one or more promotions that can be applied on the product. A typical promotion for a subscription is Free trial. The format will be 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "partnerUserToken": {
          "type": "string",
          "description": "Required. Identifier of the end-user in partner’s system. The value is restricted to 63 ASCII characters at the maximum."
        },
        "endUserEntitled": {
          "type": "boolean",
          "description": "Output only. Indicates if the subscription is entitled to the end user.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the subscription. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\". This is available for authorizeAddon, but otherwise is response only."
        },
        "promotionSpecs": {
          "description": "Optional. Subscription-level promotions. Only free trial is supported on this level. It determines the first renewal time of the subscription to be the end of the free trial period. Specify the promotion resource name only when used as input.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          }
        },
        "serviceLocation": {
          "description": "Required. The location that the service is provided as indicated by the partner.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Location"
        },
        "cancellationDetails": {
          "description": "Output only. Describes the details of a cancelled subscription. Only applicable to subscription of state `STATE_CANCELLED`.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails",
          "readOnly": true
        },
        "processingState": {
          "type": "string",
          "description": "Output only. Describes the processing state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "enumDescriptions": [
            "The processing state is unspecified.",
            "The subscription is being cancelled.",
            "The subscription is recurring."
          ],
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PROCESSING_STATE_CANCELLING",
            "PROCESSING_STATE_RECURRING"
          ],
          "readOnly": true
        },
        "upgradeDowngradeDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails",
          "description": "Optional. Details about the previous subscription that this new subscription upgrades/downgrades from. Only populated if this subscription is an upgrade/downgrade from another subscription."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. System generated timestamp when the subscription is most recently updated. UTC timezone.",
          "type": "string",
          "readOnly": true
        },
        "lineItems": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem"
          },
          "type": "array",
          "description": "Required. The line items of the subscription."
        },
        "redirectUri": {
          "type": "string",
          "description": "Output only. The place where partners should redirect the end-user to after creation. This field might also be populated when creation failed. However, Partners should always prepare a default URL to redirect the user in case this field is empty.",
          "readOnly": true
        },
        "renewalTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The subscription is created, a state before it is moved to STATE_ACTIVE.",
            "The subscription is active.",
            "The subscription is cancelled. This is the final state of the subscription, as it can no longer be modified or reactivated.",
            "The subscription is in grace period. It can happen: 1) in manual extend mode, the subscription is not extended by the partner at the end of current cycle. 2) for outbound authorization enabled partners, a renewal purchase order is rejected.",
            "The subscription is waiting to be cancelled by the next recurrence cycle.",
            "The subscription is suspended."
          ],
          "description": "Output only. Describes the state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CREATED",
            "STATE_ACTIVE",
            "STATE_CANCELLED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_CANCEL_AT_END_OF_CYCLE",
            "STATE_SUSPENDED"
          ],
          "type": "string"
        },
        "products": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Deprecated: consider using `line_items` as the input. Required. Resource name that identifies the purchased products. The format will be 'partners/{partner_id}/products/{product_id}'."
        },
        "cycleEndTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. For example: \"2019-08-31T17:28:54.564Z\"",
          "type": "string"
        },
        "freeTrialEndTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. End of the free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. System generated timestamp when the subscription is created. UTC timezone."
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest": {
      "description": "Request message for extending a Subscription resource. A new recurrence will be made based on the subscription schedule defined by the original product.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest",
      "properties": {
        "requestId": {
          "description": "Required. Restricted to 36 ASCII characters. A random UUID is recommended. The idempotency key for the request. The ID generation logic is controlled by the partner. request_id should be the same as on retries of the same request. A different request_id must be used for a extension of a different cycle.",
          "type": "string"
        },
        "extension": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Extension",
          "description": "Required. Specifies details of the extension. Currently, the duration of the extension must be exactly one billing cycle of the original subscription."
        }
      },
      "type": "object"
    },
    "ProductBundleDetails": {
      "description": "Details for a bundle product.",
      "id": "ProductBundleDetails",
      "properties": {
        "entitlementMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. It's reserved as an unexpected value, should not be used.",
            "All the bundle elements must be fully activated in a single request.",
            "The bundle elements could be incrementally activated."
          ],
          "enum": [
            "ENTITLEMENT_MODE_UNSPECIFIED",
            "ENTITLEMENT_MODE_FULL",
            "ENTITLEMENT_MODE_INCREMENTAL"
          ],
          "description": "The entitlement mode of the bundle product."
        },
        "bundleElements": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ProductBundleDetailsBundleElement"
          },
          "description": "The individual products that are included in the bundle."
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "promotions": {
          "description": "The promotions for the current user.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response containing the found promotions for the current user."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Product": {
      "properties": {
        "subscriptionBillingCycleDuration": {
          "description": "Output only. Specifies the length of the billing cycle of the subscription.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Response only. Resource name of the product. It will have the format of \"partners/{partner_id}/products/{product_id}\""
        },
        "titles": {
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          },
          "description": "Output only. Localized human readable name of the product.",
          "readOnly": true,
          "type": "array"
        },
        "productType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_SUBSCRIPTION",
            "PRODUCT_TYPE_BUNDLE_SUBSCRIPTION"
          ],
          "enumDescriptions": [
            "Unspecified. It's reserved as an unexpected value, should not be used.",
            "The product is a subscription.",
            "The product is a bundled subscription plan, which includes multiple subscription elements."
          ],
          "description": "Output only. Output Only. Specifies the type of the product."
        },
        "regionCodes": {
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "bundleDetails": {
          "description": "Output only. Output Only. Specifies the details for a bundle product.",
          "$ref": "ProductBundleDetails",
          "readOnly": true
        },
        "priceConfigs": {
          "description": "Output only. Price configs for the product in the available regions.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig"
          }
        },
        "finiteBillingCycleDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FiniteBillingCycleDetails",
          "description": "Optional. Details for a subscription line item with finite billing cycles. If unset, the line item will be charged indefinitely."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Product",
      "type": "object",
      "description": "A Product resource that defines a subscription service that can be resold."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest",
      "properties": {
        "pageSize": {
          "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token."
        },
        "filter": {
          "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig",
      "properties": {
        "amount": {
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Amount",
          "description": "Output only. The price in the region."
        },
        "regionCode": {
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configs the prices in an available region."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ProductPayload": {
      "properties": {
        "googleOnePayload": {
          "description": "Product-specific payloads. Payload specific to Google One products.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload"
        },
        "youtubePayload": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload",
          "description": "Payload specific to Youtube products."
        }
      },
      "description": "Specifies product specific payload.",
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ProductPayload"
    },
    "SubscriptionLineItemBundleDetails": {
      "id": "SubscriptionLineItemBundleDetails",
      "description": "The bundle details for a line item corresponding to a hard bundle.",
      "properties": {
        "bundleElementDetails": {
          "description": "Output only. The details for each element in the hard bundle.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemBundleDetailsBundleElementDetails"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails",
      "type": "object",
      "description": "Details about the previous subscription that this new subscription upgrades/downgrades from.",
      "properties": {
        "billingCycleSpec": {
          "type": "string",
          "description": "Required. Specifies the billing cycle spec for the new upgraded/downgraded subscription.",
          "enum": [
            "BILLING_CYCLE_SPEC_UNSPECIFIED",
            "BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION",
            "BILLING_CYCLE_SPEC_START_IMMEDIATELY"
          ],
          "enumDescriptions": [
            "Billing cycle spec is not specified.",
            "The billing cycle of the new subscription aligns with the previous subscription it upgrades or downgrades from.",
            "The billing cycle of the new subscription starts immediately."
          ]
        },
        "previousSubscriptionId": {
          "type": "string",
          "description": "Required. The previous subscription id to be replaced. This is not the full resource name, use the subscription_id segment only."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails",
      "properties": {
        "introductoryPricingSpecs": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Specifies the introductory pricing periods.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec"
          }
        }
      },
      "description": "The details of a introductory pricing promotion.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest",
      "properties": {
        "cancellationReason": {
          "type": "string",
          "description": "Specifies the reason for the cancellation.",
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "Used for notification only, do not use in Cancel API. User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Used for notification only, do not use in Cancel API. Cancellation due to an unrecoverable system error.",
            "Used for notification only, do not use in Cancel API. The subscription is cancelled by Google automatically since it is no longer valid.",
            "Other reason."
          ],
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_SYSTEM_CANCEL",
            "CANCELLATION_REASON_OTHER"
          ]
        },
        "cancelImmediately": {
          "type": "boolean",
          "description": "Optional. If true, Google will cancel the subscription immediately, and may or may not (based on the contract) issue a prorated refund for the remainder of the billing cycle. Otherwise, Google defers the cancelation at renewal_time, and will not issue a refund."
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec": {
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "description": "Output only. The type of the promotion for the spec."
        },
        "freeTrialDuration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "readOnly": true,
          "description": "Output only. The duration of the free trial if the promotion is of type FREE_TRIAL."
        },
        "introductoryPricingDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails",
          "readOnly": true,
          "description": "Output only. The details of the introductory pricing spec if the promotion is of type INTRODUCTORY_PRICING."
        },
        "promotion": {
          "description": "Required. Promotion resource name that identifies a promotion. The format is 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "string"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec",
      "type": "object",
      "description": "Describes the spec for one promotion."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails": {
      "type": "object",
      "description": "Describes the details of a cancelled or cancelling subscription.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails",
      "properties": {
        "reason": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "Used for notification only, do not use in Cancel API. User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Used for notification only, do not use in Cancel API. Cancellation due to an unrecoverable system error.",
            "Used for notification only, do not use in Cancel API. The subscription is cancelled by Google automatically since it is no longer valid.",
            "Other reason."
          ],
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_SYSTEM_CANCEL",
            "CANCELLATION_REASON_OTHER"
          ],
          "description": "Output only. The reason of the cancellation."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Location": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Location",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "2-letter ISO region code for current content region. Ex. “US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code this location refers to. Ex. \"94043\""
        }
      },
      "type": "object",
      "description": "Describes a location of an end user."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload": {
      "properties": {
        "salesChannel": {
          "type": "string",
          "enumDescriptions": [
            "The channel type is unspecified.",
            "Sold at store.",
            "Sold through partner website.",
            "Sold through partner android app.",
            "Sold through partner iOS app."
          ],
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "CHANNEL_RETAIL",
            "CHANNEL_ONLINE_WEB",
            "CHANNEL_ONLINE_ANDROID_APP",
            "CHANNEL_ONLINE_IOS_APP"
          ],
          "description": "The type of sales channel through which the subscription was sold."
        },
        "offering": {
          "enum": [
            "OFFERING_UNSPECIFIED",
            "OFFERING_VAS_BUNDLE",
            "OFFERING_VAS_STANDALONE",
            "OFFERING_HARD_BUNDLE",
            "OFFERING_SOFT_BUNDLE"
          ],
          "type": "string",
          "description": "The type of offering the subscription was sold by the partner. e.g. VAS.",
          "enumDescriptions": [
            "The type of partner offering is unspecified.",
            "Google One product purchased as a Value added service in addition to existing partner's products. Customer pays additional amount for Google One product.",
            "Google One product purchased by itself by customer as a value add service. Customer pays additional amount for Google One product.",
            "Product purchased as part of a hard bundle where Google One was included with the bundle. Google One pricing is included in the bundle.",
            "Purchased as part of a bundle where Google One was provided as an option. Google One pricing is included in the bundle."
          ]
        },
        "campaigns": {
          "description": "Campaign attributed to sales of this subscription.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storeId": {
          "description": "The identifier for the partner store where the subscription was sold.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload",
      "description": "Payload specific to Google One products."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec": {
      "description": "The duration of an introductory pricing promotion.",
      "type": "object",
      "properties": {
        "recurrenceCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Output Only. The duration of an introductory offer in billing cycles."
        },
        "discountAmount": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Amount",
          "readOnly": true,
          "description": "Output only. The discount amount. The value is positive."
        },
        "discountRatioMicros": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The discount percentage in micros. For example, 50,000 represents 5%.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\"."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse",
      "properties": {
        "cycleEndTime": {
          "type": "string",
          "description": "The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. Example, \"cycleEndTime\":\"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime"
        },
        "renewalTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "type": "string"
        },
        "freeTrialEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End of the free trial period, in ISO 8061 format. UTC timezone. Example, \"freeTrialEndTime\":\"2019-08-31T17:28:54.564Z\" This time will be set the same as initial subscription creation time if no free trial period is offered to the partner."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Amount": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Amount",
      "properties": {
        "amountMicros": {
          "description": "Required. Amount in micros (1_000_000 micros = 1 currency unit)",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "Required. Currency codes in accordance with [ISO-4217 Currency Codes] (https://en.wikipedia.org/wiki/ISO_4217). For example, USD.",
          "type": "string"
        }
      },
      "description": "Describes the amount unit including the currency code.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload": {
      "type": "object",
      "description": "Payload specific to Youtube products.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload",
      "properties": {
        "accessEndTime": {
          "type": "string",
          "description": "Output only. The access expiration time for this line item.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "partnerPlanType": {
          "enum": [
            "PARTNER_PLAN_TYPE_UNSPECIFIED",
            "PARTNER_PLAN_TYPE_STANDALONE",
            "PARTNER_PLAN_TYPE_HARD_BUNDLE",
            "PARTNER_PLAN_TYPE_SOFT_BUNDLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Should not use, reserved as an invalid value.",
            "This item is offered as a standalone product to the user.",
            "This item is bundled with another partner offering, the item is provisioned at purchase time.",
            "This item is bundled with another partner offering, the item is provisioned after puchase, when the user opts in this Google service."
          ],
          "description": "Optional. Specifies the plan type offered to the end user by the partner."
        },
        "partnerEligibilityIds": {
          "description": "The list of eligibility_ids which are applicable for the line item.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Duration": {
      "description": "Describes the length of a period of a time.",
      "properties": {
        "unit": {
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "MONTH",
            "DAY",
            "HOUR"
          ],
          "enumDescriptions": [
            "Default value, reserved as an invalid or an unexpected value.",
            "Unit of a calendar month.",
            "Unit of a day.",
            "Unit of an hour. It is used for testing."
          ],
          "description": "The unit used for the duration"
        },
        "count": {
          "format": "int32",
          "description": "number of duration units to be included.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Duration"
    },
    "GoogleTypeLocalizedText": {
      "type": "object",
      "id": "GoogleTypeLocalizedText",
      "description": "Localized variant of a text in a particular language.",
      "properties": {
        "text": {
          "description": "Localized string in the language corresponding to language_code below.",
          "type": "string"
        },
        "languageCode": {
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails": {
      "properties": {
        "servicePeriod": {
          "description": "Output only. The service period of the ONE_TIME line item.",
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod"
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails",
      "description": "Details for a ONE_TIME recurrence line item."
    }
  },
  "kind": "discovery#restDescription",
  "canonicalName": "Payments Reseller Subscription",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "partners": {
      "resources": {
        "products": {
          "methods": {
            "list": {
              "description": "To retrieve the products that can be resold by the partner. It should be autenticated with a service account.",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse"
              },
              "path": "v1/{+parent}/products",
              "id": "paymentsresellersubscription.partners.products.list",
              "httpMethod": "GET",
              "scopes": [
                "openid"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Specifies the filters for the product results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token."
                }
              },
              "flatPath": "v1/partners/{partnersId}/products"
            }
          }
        },
        "promotions": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse"
              },
              "flatPath": "v1/partners/{partnersId}/promotions",
              "description": "To retrieve the promotions, such as free trial, that can be used by the partner. It should be autenticated with a service account.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/promotions",
              "id": "paymentsresellersubscription.partners.promotions.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "openid"
              ]
            },
            "findEligible": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/promotions:findEligible",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$"
                }
              },
              "flatPath": "v1/partners/{partnersId}/promotions:findEligible",
              "scopes": [
                "openid"
              ],
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse"
              },
              "description": "To find eligible promotions for the current user. The API requires user authorization via OAuth. The bare minimum oauth scope `openid` is sufficient, which will skip the consent screen.",
              "id": "paymentsresellersubscription.partners.promotions.findEligible"
            }
          }
        },
        "subscriptions": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/subscriptions",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "parameters": {
                "subscriptionId": {
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "pattern": "^partners/[^/]+$"
                }
              },
              "path": "v1/{+parent}/subscriptions",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "openid"
              ],
              "id": "paymentsresellersubscription.partners.subscriptions.create",
              "description": "Used by partners to create a subscription for their customers. The created subscription is associated with the end user inferred from the end user credentials. This API must be authorized by the end user using OAuth.",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              }
            },
            "undoCancel": {
              "httpMethod": "POST",
              "description": "Used by partners to revoke the pending cancellation of a subscription, which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription is already cancelled, the request will fail. It should be called directly by the partner using service accounts.",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:undoCancel",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the subscription resource whose pending cancellation needs to be undone. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\""
                }
              },
              "id": "paymentsresellersubscription.partners.subscriptions.undoCancel",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "openid"
              ],
              "path": "v1/{+name}:undoCancel",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse"
              }
            },
            "extend": {
              "httpMethod": "POST",
              "scopes": [
                "openid"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest"
              },
              "path": "v1/{+name}:extend",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:extend",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource to be extended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\".",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "[Opt-in only] Most partners should be on auto-extend by default. Used by partners to extend a subscription service for their customers on an ongoing basis for the subscription to remain active and renewable. It should be called directly by the partner using service accounts.",
              "id": "paymentsresellersubscription.partners.subscriptions.extend",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the subscription resource to retrieve. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\""
                }
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "httpMethod": "GET",
              "description": "Used by partners to get a subscription by id. It should be called directly by the partner using service accounts.",
              "id": "paymentsresellersubscription.partners.subscriptions.get",
              "scopes": [
                "openid"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}"
            },
            "cancel": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the subscription resource to be cancelled. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest"
              },
              "scopes": [
                "openid"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse"
              },
              "path": "v1/{+name}:cancel",
              "id": "paymentsresellersubscription.partners.subscriptions.cancel",
              "description": "Used by partners to cancel a subscription service either immediately or by the end of the current billing cycle for their customers. It should be called directly by the partner using service accounts.",
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:cancel"
            },
            "entitle": {
              "scopes": [
                "openid"
              ],
              "id": "paymentsresellersubscription.partners.subscriptions.entitle",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse"
              },
              "path": "v1/{+name}:entitle",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:entitle",
              "description": "Used by partners to entitle a previously provisioned subscription to the current end user. The end user identity is inferred from the authorized credential of the request. This API must be authorized by the end user using OAuth.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource that is entitled to the current end user. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path"
                }
              }
            },
            "provision": {
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/subscriptions:provision",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "path": "v1/{+parent}/subscriptions:provision",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.provision",
              "description": "Used by partners to provision a subscription for their customers. This creates a subscription without associating it with the end user account. EntitleSubscription must be called separately using OAuth in order for the end user account to be associated with the subscription. It should be called directly by the partner using service accounts.",
              "parameters": {
                "subscriptionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "required": true,
                  "pattern": "^partners/[^/]+$"
                }
              },
              "scopes": [
                "openid"
              ]
            }
          }
        }
      }
    }
  },
  "id": "paymentsresellersubscription:v1",
  "fullyEncodeReservedExpansion": true,
  "title": "Payments Reseller Subscription API"
}
