{
  "servicePath": "",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/payments/reseller/subscription/",
  "rootUrl": "https://paymentsresellersubscription.googleapis.com/",
  "version": "v1",
  "id": "paymentsresellersubscription:v1",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "baseUrl": "https://paymentsresellersubscription.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "resources": {
    "partners": {
      "resources": {
        "products": {
          "methods": {
            "list": {
              "flatPath": "v1/partners/{partnersId}/products",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/products",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Specifies the filters for the product results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "To retrieve the products that can be resold by the partner. It should be autenticated with a service account.",
              "id": "paymentsresellersubscription.partners.products.list",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse"
              }
            }
          }
        },
        "subscriptions": {
          "methods": {
            "provision": {
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.provision",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\"."
                },
                "subscriptionId": {
                  "type": "string",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions:provision",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "path": "v1/{+parent}/subscriptions:provision",
              "httpMethod": "POST",
              "description": "Used by partners to provision a subscription for their customers. This creates a subscription without associating it with the end user account. EntitleSubscription must be called separately using OAuth in order for the end user account to be associated with the subscription. It should be called directly by the partner using service accounts."
            },
            "cancel": {
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest"
              },
              "path": "v1/{+name}:cancel",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the subscription resource to be cancelled. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "location": "path"
                }
              },
              "id": "paymentsresellersubscription.partners.subscriptions.cancel",
              "httpMethod": "POST",
              "description": "Used by partners to cancel a subscription service either immediately or by the end of the current billing cycle for their customers. It should be called directly by the partner using service accounts."
            },
            "entitle": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the subscription resource that is entitled to the current end user. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:entitle",
              "description": "Used by partners to entitle a previously provisioned subscription to the current end user. The end user identity is inferred from the authorized credential of the request. This API must be authorized by the end user using OAuth.",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest"
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:entitle",
              "httpMethod": "POST",
              "id": "paymentsresellersubscription.partners.subscriptions.entitle"
            },
            "extend": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the subscription resource to be extended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"."
                }
              },
              "description": "Used by partners to extend a subscription service for their customers on an ongoing basis for the subscription to remain active and renewable. It should be called directly by the partner using service accounts.",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.extend",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:extend",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest"
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:extend"
            },
            "create": {
              "description": "Used by partners to create a subscription for their customers. The created subscription is associated with the end user inferred from the end user credentials. This API must be authorized by the end user using OAuth.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^partners/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\"."
                },
                "subscriptionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one."
                }
              },
              "path": "v1/{+parent}/subscriptions",
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/subscriptions",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.create",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              }
            },
            "undoCancel": {
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:undoCancel",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse"
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:undoCancel",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest"
              },
              "description": "Used by partners to revoke the pending cancellation of a subscription, which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription is already cancelled, the request will fail. It should be called directly by the partner using service accounts.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource whose pending cancellation needs to be undone. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "paymentsresellersubscription.partners.subscriptions.undoCancel"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource to retrieve. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "paymentsresellersubscription.partners.subscriptions.get",
              "path": "v1/{+name}",
              "description": "Used by partners to get a subscription by id. It should be called directly by the partner using service accounts.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}"
            }
          }
        },
        "promotions": {
          "methods": {
            "findEligible": {
              "path": "v1/{+parent}/promotions:findEligible",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "type": "string",
                  "pattern": "^partners/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "To find eligible promotions for the current user. The API requires user authorization via OAuth. The user is inferred from the authenticated OAuth credential.",
              "httpMethod": "POST",
              "id": "paymentsresellersubscription.partners.promotions.findEligible",
              "flatPath": "v1/partners/{partnersId}/promotions:findEligible",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse"
              },
              "flatPath": "v1/partners/{partnersId}/promotions",
              "id": "paymentsresellersubscription.partners.promotions.list",
              "path": "v1/{+parent}/promotions",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
                }
              },
              "httpMethod": "GET",
              "description": "To retrieve the promotions, such as free trial, that can be used by the partner. It should be autenticated with a service account."
            }
          }
        }
      }
    }
  },
  "name": "paymentsresellersubscription",
  "revision": "20221030",
  "basePath": "",
  "description": "",
  "mtlsRootUrl": "https://paymentsresellersubscription.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "title": "Payments Reseller Subscription API",
  "canonicalName": "Payments Reseller Subscription",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudPaymentsResellerSubscriptionV1Product": {
      "type": "object",
      "description": "A Product resource that defines a subscription service that can be resold.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Product",
      "properties": {
        "regionCodes": {
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "titles": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Localized human readable name of the product.",
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          }
        },
        "priceConfigs": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig"
          },
          "description": "Output only. Price configs for the product in the available regions.",
          "type": "array",
          "readOnly": true
        },
        "subscriptionBillingCycleDuration": {
          "readOnly": true,
          "description": "Output only. Specifies the length of the billing cycle of the subscription.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration"
        },
        "name": {
          "description": "Output only. Response only. Resource name of the product. It will have the format of \"partners/{partner_id}/products/{product_id}\"",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem",
      "description": "Individual line item definition of a subscription. Next id: 9",
      "type": "object",
      "properties": {
        "product": {
          "description": "Required. Product resource name that identifies one the line item The format is 'partners/{partner_id}/products/{product_id}'.",
          "type": "string"
        },
        "oneTimeRecurrenceDetails": {
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails",
          "description": "Output only. Details only set for a ONE_TIME recurrence line item."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the line item.",
          "enumDescriptions": [
            "Unspecified state.",
            "The line item is in ACTIVE state.",
            "The line item is in INACTIVE state.",
            "The line item is new, and is not activated or charged yet.",
            "The line item is being activated in order to be charged. If a free trial applies to the line item, the line item is pending a prorated charge at the end of the free trial period, as indicated by `line_item_free_trial_end_time`.",
            "The line item is being deactivated."
          ],
          "enum": [
            "LINE_ITEM_STATE_UNSPECIFIED",
            "LINE_ITEM_STATE_ACTIVE",
            "LINE_ITEM_STATE_INACTIVE",
            "LINE_ITEM_STATE_NEW",
            "LINE_ITEM_STATE_ACTIVATING",
            "LINE_ITEM_STATE_DEACTIVATING"
          ]
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of this line item."
        },
        "lineItemPromotionSpecs": {
          "description": "Optional. The promotions applied on the line item. It can be: - a free trial promotion, which overrides the subscription-level free trial promotion. - an introductory pricing promotion. When used as input in Create or Provision API, specify its resource name only.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          },
          "type": "array"
        },
        "recurrenceType": {
          "description": "Output only. The recurrence type of the line item.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED",
            "LINE_ITEM_RECURRENCE_TYPE_PERIODIC",
            "LINE_ITEM_RECURRENCE_TYPE_ONE_TIME"
          ],
          "enumDescriptions": [
            "The line item recurrence type is unspecified.",
            "The line item recurs periodically.",
            "The line item does not recur in the future."
          ]
        },
        "lineItemFreeTrialEndTime": {
          "description": "Output only. It is set only if the line item has its own free trial applied. End time of the line item free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The subscription that has user linked to it.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse": {
      "type": "object",
      "properties": {
        "promotions": {
          "description": "The promotions for the current user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response containing the found promotions for the current user.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest",
      "properties": {
        "extension": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Extension",
          "description": "Required. Specifies details of the extension. Currently, the duration of the extension must be exactly one billing cycle of the original subscription."
        },
        "requestId": {
          "description": "Required. Restricted to 36 ASCII characters. A random UUID is recommended. The idempotency key for the request. The ID generation logic is controlled by the partner. request_id should be the same as on retries of the same request. A different request_id must be used for a extension of a different cycle. A random UUID is recommended.",
          "type": "string"
        }
      },
      "description": "Request message for extending a Subscription resource. A new recurrence will be made based on the subscription schedule defined by the original product.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig": {
      "properties": {
        "regionCode": {
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\".",
          "type": "string"
        },
        "amount": {
          "description": "Output only. The price in the region.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Amount",
          "readOnly": true
        }
      },
      "description": "Configs the prices in an available region.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec": {
      "properties": {
        "discountAmount": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Amount",
          "description": "Output only. The discount amount. The value is positive.",
          "readOnly": true
        },
        "discountRatioMicros": {
          "format": "int64",
          "description": "Output only. The discount percentage in micros. For example, 50,000 represents 5%.",
          "readOnly": true,
          "type": "string"
        },
        "recurrenceCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Output Only. The duration of an introductory offer in billing cycles."
        },
        "regionCode": {
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec",
      "description": "The duration of an introductory pricing promotion.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The start time of the service period. Time is inclusive."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. The end time of the service period. Time is exclusive.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A description of what time period or moment in time the product or service is being delivered over.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec",
      "properties": {
        "introductoryPricingDetails": {
          "description": "Output only. The details of the introductory pricing spec if the promotion is of type INTRODUCTORY_PRICING.",
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails"
        },
        "promotion": {
          "description": "Required. Promotion resource name that identifies a promotion. The format is 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the promotion for the spec.",
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "type": "string",
          "readOnly": true
        },
        "freeTrialDuration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "description": "Output only. The duration of the free trial if the promotion is of type FREE_TRIAL.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Describes the spec for one promotion."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails": {
      "properties": {
        "introductoryPricingSpecs": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec"
          },
          "type": "array",
          "description": "Specifies the introductory pricing periods."
        }
      },
      "type": "object",
      "description": "The details of a introductory pricing promotion.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails"
    },
    "GoogleTypeLocalizedText": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Localized string in the language corresponding to `language_code' below."
        },
        "languageCode": {
          "type": "string",
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      },
      "id": "GoogleTypeLocalizedText",
      "type": "object",
      "description": "Localized variant of a text in a particular language."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Duration": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
      "description": "Describes the length of a period of a time.",
      "properties": {
        "unit": {
          "enum": [
            "UNIT_UNSPECIFIED",
            "MONTH",
            "DAY"
          ],
          "description": "The unit used for the duration",
          "enumDescriptions": [
            "Default value.",
            "Unit of a calendar month.",
            "Unit of a day."
          ],
          "type": "string"
        },
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "number of duration units to be included."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Extension": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Extension",
      "properties": {
        "partnerUserToken": {
          "description": "Required. Identifier of the end-user in partner’s system.",
          "type": "string"
        },
        "duration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "description": "Specifies the period of access the subscription should grant."
        }
      },
      "description": "Describes the details of an extension request.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Subscription": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
      "properties": {
        "partnerUserToken": {
          "description": "Required. Identifier of the end-user in partner’s system. The value is restricted to 63 ASCII characters at the maximum.",
          "type": "string"
        },
        "endUserEntitled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the subscription is entitled to the end user."
        },
        "cancellationDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails",
          "readOnly": true,
          "description": "Output only. Describes the details of a cancelled subscription. Only applicable to subscription of state `STATE_CANCELLED`."
        },
        "upgradeDowngradeDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails",
          "description": "Optional. Details about the previous subscription that this new subscription upgrades/downgrades from. Only populated if this subscription is an upgrade/downgrade from another subscription."
        },
        "promotionSpecs": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          },
          "description": "Optional. Subscription-level promotions. Only free trial is supported on this level. It determines the first renewal time of the subscription to be the end of the free trial period. Specify the promotion resource name only when used as input.",
          "type": "array"
        },
        "processingState": {
          "enumDescriptions": [
            "The processing state is unspecified.",
            "The subscription is being cancelled.",
            "The subscription is recurring."
          ],
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PROCESSING_STATE_CANCELLING",
            "PROCESSING_STATE_RECURRING"
          ],
          "readOnly": true,
          "description": "Output only. Describes the processing state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "type": "string"
        },
        "products": {
          "description": "Required. Deprecated: consider using `line_items` as the input. Required. Resource name that identifies the purchased products. The format will be 'partners/{partner_id}/products/{product_id}'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "redirectUri": {
          "readOnly": true,
          "description": "Output only. The place where partners should redirect the end-user to after creation. This field might also be populated when creation failed. However, Partners should always prepare a default URL to redirect the user in case this field is empty.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The subscription is created, a state before it is moved to STATE_ACTIVE.",
            "The subscription is active.",
            "The subscription is cancelled.",
            "The subscription has not been extended by the partner after the end of current cycle.",
            "The subscription is waiting to be cancelled by the next recurrence cycle.",
            "The subscription is suspended."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CREATED",
            "STATE_ACTIVE",
            "STATE_CANCELLED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_CANCEL_AT_END_OF_CYCLE",
            "STATE_SUSPENDED"
          ],
          "description": "Output only. Describes the state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle)."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. System generated timestamp when the subscription is created. UTC timezone."
        },
        "name": {
          "description": "Optional. Resource name of the subscription. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\". This is available for authorizeAddon, but otherwise is response only.",
          "type": "string"
        },
        "lineItems": {
          "description": "Required. The line items of the subscription.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem"
          },
          "type": "array"
        },
        "freeTrialEndTime": {
          "readOnly": true,
          "description": "Output only. End of the free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "format": "google-datetime",
          "type": "string"
        },
        "cycleEndTime": {
          "readOnly": true,
          "description": "Output only. The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. For example: \"2019-08-31T17:28:54.564Z\"",
          "type": "string",
          "format": "google-datetime"
        },
        "promotions": {
          "description": "Optional. Deprecated: consider using the top-level `promotion_specs` as the input. Optional. Resource name that identifies one or more promotions that can be applied on the product. A typical promotion for a subscription is Free trial. The format will be 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceLocation": {
          "description": "Required. The location that the service is provided as indicated by the partner.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Location"
        },
        "updateTime": {
          "description": "Output only. System generated timestamp when the subscription is most recently updated. UTC timezone.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "renewalTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\""
        }
      },
      "type": "object",
      "description": "A Subscription resource managed by 3P Partners."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse",
      "properties": {
        "renewalTime": {
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "freeTrialEndTime": {
          "description": "End of the free trial period, in ISO 8061 format. UTC timezone. Example, \"freeTrialEndTime\":\"2019-08-31T17:28:54.564Z\" This time will be set the same as initial subscription creation time if no free trial period is offered to the partner.",
          "type": "string",
          "format": "google-datetime"
        },
        "cycleEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. Example, \"cycleEndTime\":\"2019-08-31T17:28:54.564Z\""
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest": {
      "properties": {
        "cancellationReason": {
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_OTHER"
          ],
          "description": "Specifies the reason for the cancellation.",
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Other reason."
          ],
          "type": "string"
        },
        "cancelImmediately": {
          "description": "Optional. If true, Google will cancel the subscription immediately, and issue a prorated refund for the remainder of the billing cycle. Otherwise, Google defers the cancelation at renewal_time, and therefore, will not issue a refund.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails": {
      "description": "Details for a ONE_TIME recurrence line item.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails",
      "properties": {
        "servicePeriod": {
          "description": "The service period of the ONE_TIME line item.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod"
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "products": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Product"
          },
          "type": "array",
          "description": "The products for the specified partner."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse",
      "properties": {
        "promotions": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          },
          "type": "array",
          "description": "The promotions for the specified partner."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails": {
      "description": "Details about the previous subscription that this new subscription upgrades/downgrades from.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails",
      "type": "object",
      "properties": {
        "previousSubscriptionId": {
          "type": "string",
          "description": "Required. The previous subscription id to be replaced. This is not the full resource name, use the subscription_id segment only."
        },
        "billingCycleSpec": {
          "type": "string",
          "description": "Required. Specifies the billing cycle spec for the new upgraded/downgraded subscription.",
          "enumDescriptions": [
            "Billing cycle spec is not specified.",
            "The billing cycle of the new subscription aligns with the previous subscription it upgrades or downgrades from.",
            "The billing cycle of the new subscription starts immediately."
          ],
          "enum": [
            "BILLING_CYCLE_SPEC_UNSPECIFIED",
            "BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION",
            "BILLING_CYCLE_SPEC_START_IMMEDIATELY"
          ]
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest": {
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse": {
      "properties": {
        "subscription": {
          "description": "The cancelled subscription resource.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Location": {
      "description": "Describes a location of an end user.",
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Location",
      "properties": {
        "postalCode": {
          "type": "string",
          "description": "The postal code this location refers to. Ex. \"94043\""
        },
        "regionCode": {
          "description": "2-letter ISO region code for current content region. Ex. “US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "type": "string"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Promotion": {
      "properties": {
        "regionCodes": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the promotion is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "type": "array"
        },
        "introductoryPricingDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails",
          "description": "Optional. Specifies the introductory pricing details when the promotion_type is PROMOTION_TYPE_INTRODUCTORY_PRICING."
        },
        "titles": {
          "type": "array",
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          },
          "readOnly": true,
          "description": "Output only. Localized human readable name of the promotion."
        },
        "promotionType": {
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "description": "Output only. Output Only. Specifies the type of the promotion.",
          "type": "string",
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "readOnly": true
        },
        "freeTrialDuration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "description": "Optional. Specifies the duration of the free trial of the subscription when promotion_type is PROMOTION_TYPE_FREE_TRIAL"
        },
        "applicableProducts": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The product ids this promotion can be applied to.",
          "type": "array"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. Specifies the end time (exclusive) of the period that the promotion is available in. If unset, the promotion is available indefinitely.",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "description": "Optional. Specifies the start time (inclusive) of the period that the promotion is available in.",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Response only. Resource name of the subscription promotion. It will have the format of \"partners/{partner_id}/promotion/{promotion_id}\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Promotion",
      "type": "object",
      "description": "A Promotion resource that defines a promotion for a subscription that can be resold."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The updated subscription resource.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
        }
      },
      "description": "Response that contains the updated subscription resource.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest",
      "description": "Partner request for entitling the previously provisioned subscription to an end user. The end user identity is inferred from the request OAuth context.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest",
      "description": "Request to revoke a cancellation request."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails": {
      "description": "Describes the details of a cancelled or cancelling subscription.",
      "properties": {
        "reason": {
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_OTHER"
          ],
          "type": "string",
          "description": "The reason of the cancellation.",
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Other reason."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Amount": {
      "description": "Describes the amount unit including the currency code.",
      "properties": {
        "amountMicros": {
          "description": "Required. Amount in micros (1_000_000 micros = 1 currency unit)",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "Required. Currency codes in accordance with [ISO-4217 Currency Codes] (https://en.wikipedia.org/wiki/ISO_4217). For example, USD."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Amount",
      "type": "object"
    }
  }
}
