{
  "ownerDomain": "google.com",
  "name": "paymentsresellersubscription",
  "canonicalName": "Payments Reseller Subscription",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/payments/reseller/subscription/",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Payments Reseller Subscription API",
  "schemas": {
    "GoogleTypeLocalizedText": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Localized string in the language corresponding to `language_code' below."
        },
        "languageCode": {
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Localized variant of a text in a particular language.",
      "id": "GoogleTypeLocalizedText"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse": {
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
          "description": "The subscription that has user linked to it."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec": {
      "description": "The duration of an introductory pricing promotion.",
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec",
      "properties": {
        "recurrenceCount": {
          "description": "Output only. Output Only. The duration of an introductory offer in billing cycles.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails": {
      "description": "Details for a ONE_TIME recurrence line item.",
      "type": "object",
      "properties": {
        "servicePeriod": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod",
          "description": "The service period of the ONE_TIME line item."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest": {
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "format": "int32"
        },
        "filter": {
          "description": "Optional. Specifies the filters for the promotion results. The syntax defined in the EBNF grammar: https://google.aip.dev/assets/misc/ebnf-filtering.txt. An error will be thrown if any specified parameter is not supported. Currently, it can only be used by Youtube partners. Allowed parameters are: - regionCodes - zipCode - eligibilityId - applicableProducts Multiple parameters can be specified, for example: \"regionCodes=US zipCode=94043 eligibilityId=2022H1Campaign\", or \"applicableProducts=partners/p1/products/product2\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Extension": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Extension",
      "properties": {
        "duration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "description": "Specifies the period of access the subscription should grant."
        },
        "partnerUserToken": {
          "description": "Required. Identifier of the end-user in partner’s system.",
          "type": "string"
        }
      },
      "description": "Describes the details of an extension request."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Subscription": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
      "description": "A Subscription resource managed by 3P Partners.",
      "properties": {
        "cycleEndTime": {
          "readOnly": true,
          "description": "Output only. The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. For example: \"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime",
          "type": "string"
        },
        "serviceLocation": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Location",
          "description": "Required. The location that the service is provided as indicated by the partner."
        },
        "redirectUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The place where partners should redirect the end-user to after creation. This field might also be populated when creation failed. However, Partners should always prepare a default URL to redirect the user in case this field is empty."
        },
        "renewalTime": {
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "cancellationDetails": {
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails",
          "description": "Output only. Describes the details of a cancelled subscription. Only applicable to subscription of state `STATE_CANCELLED`."
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The subscription is created, a state before it is moved to STATE_ACTIVE.",
            "The subscription is active.",
            "The subscription is cancelled.",
            "The subscription has not been extended by the partner after the end of current cycle.",
            "The subscription is waiting to be cancelled by the next recurrence cycle."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CREATED",
            "STATE_ACTIVE",
            "STATE_CANCELLED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_CANCEL_AT_END_OF_CYCLE"
          ],
          "readOnly": true,
          "description": "Output only. Describes the state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle)."
        },
        "lineItems": {
          "description": "Required. The line items of the subscription.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem"
          },
          "type": "array"
        },
        "promotions": {
          "description": "Optional. Deprecated: consider using the top-level `promotion_specs` as the input. Optional. Resource name that identifies one or more promotions that can be applied on the product. A typical promotion for a subscription is Free trial. The format will be 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endUserEntitled": {
          "description": "Output only. Indicates if the subscription is entitled to the end user.",
          "type": "boolean",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated timestamp when the subscription is most recently updated. UTC timezone.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. Response only. Resource name of the subscription. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
          "readOnly": true
        },
        "partnerUserToken": {
          "type": "string",
          "description": "Required. Identifier of the end-user in partner’s system. The value is restricted to 63 ASCII characters at the maximum."
        },
        "createTime": {
          "description": "Output only. System generated timestamp when the subscription is created. UTC timezone.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "processingState": {
          "enumDescriptions": [
            "The processing state is unspecified.",
            "The subscription is being cancelled.",
            "The subscription is recurring."
          ],
          "description": "Output only. Describes the processing state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PROCESSING_STATE_CANCELLING",
            "PROCESSING_STATE_RECURRING"
          ],
          "readOnly": true,
          "type": "string"
        },
        "products": {
          "description": "Required. Deprecated: consider using `line_items` as the input. Required. Resource name that identifies the purchased products. The format will be 'partners/{partner_id}/products/{product_id}'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "promotionSpecs": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          },
          "description": "Optional. Subscription-level promotions. Only free trial is supported on this level. It determines the first renewal time of the subscription to be the end of the free trial period. Specify the promotion resource name only when used as input.",
          "type": "array"
        },
        "freeTrialEndTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. End of the free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "type": "string"
        },
        "upgradeDowngradeDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails",
          "description": "Optional. Details about the previous subscription that this new subscription upgrades/downgrades from. Only populated if this subscription is an upgrade/downgrade from another subscription."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest": {
      "properties": {},
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest",
      "description": "Partner request for entitling the previously provisioned subscription to an end user. The end user identity is inferred from the request OAuth context.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The cancelled subscription resource.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec": {
      "properties": {
        "type": {
          "description": "Output only. The type of the promotion for the spec.",
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "readOnly": true
        },
        "promotion": {
          "description": "Required. Promotion resource name that identifies a promotion. The format is 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "string"
        },
        "introductoryPricingDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails",
          "readOnly": true,
          "description": "Output only. The details of the introductory pricing spec if the promotion is of type INTRODUCTORY_PRICING."
        },
        "freeTrialDuration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "description": "Output only. The duration of the free trial if the promotion is of type FREE_TRIAL.",
          "readOnly": true
        }
      },
      "description": "Describes the spec for one promotion.",
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails": {
      "properties": {
        "introductoryPricingSpecs": {
          "type": "array",
          "description": "Specifies the introductory pricing periods.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec"
          }
        }
      },
      "description": "The details of a introductory pricing promotion.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Product": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Product",
      "type": "object",
      "properties": {
        "regionCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "readOnly": true
        },
        "titles": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          },
          "description": "Output only. Localized human readable name of the product.",
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Response only. Resource name of the subscription. It will have the format of \"partners/{partner_id}/products/{product_id}\"",
          "type": "string"
        },
        "subscriptionBillingCycleDuration": {
          "description": "Output only. Specifies the length of the billing cycle of the subscription.",
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration"
        }
      },
      "description": "A Product resource that defines a subscription service that can be resold."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails": {
      "description": "Details about the previous subscription that this new subscription upgrades/downgrades from.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails",
      "properties": {
        "previousSubscriptionId": {
          "description": "Required. The previous subscription id to be replaced. This is not the full resource name, use the subscription_id segment only.",
          "type": "string"
        },
        "billingCycleSpec": {
          "description": "Required. Specifies the billing cycle spec for the new upgraded/downgraded subscription.",
          "enumDescriptions": [
            "Billing cycle spec is not specified.",
            "The billing cycle of the new subscription aligns with the previous subscription it upgrades or downgrades from.",
            "The billing cycle of the new subscription starts immediately."
          ],
          "enum": [
            "BILLING_CYCLE_SPEC_UNSPECIFIED",
            "BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION",
            "BILLING_CYCLE_SPEC_START_IMMEDIATELY"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod",
      "type": "object",
      "description": "A description of what time period or moment in time the product or service is being delivered over.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required. The start time of the service period. Time is inclusive.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The end time of the service period. Time is exclusive."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails",
      "type": "object",
      "properties": {
        "reason": {
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_OTHER"
          ],
          "description": "The reason of the cancellation.",
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Other reason."
          ],
          "type": "string"
        }
      },
      "description": "Describes the details of a cancelled or cancelling subscription."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Duration": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "number of duration units to be included."
        },
        "unit": {
          "enumDescriptions": [
            "Default value.",
            "Unit of a calendar month.",
            "Unit of a day."
          ],
          "enum": [
            "UNIT_UNSPECIFIED",
            "MONTH",
            "DAY"
          ],
          "type": "string",
          "description": "The unit used for the duration"
        }
      },
      "description": "Describes the length of a period of a time."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest": {
      "properties": {
        "cancellationReason": {
          "description": "Specifies the reason for the cancellation.",
          "type": "string",
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_OTHER"
          ],
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Other reason."
          ]
        },
        "cancelImmediately": {
          "description": "Optional. If true, the subscription will be cancelled immediately. Otherwise, the subscription will be cancelled at renewal_time, and therefore no prorated refund will be issued for the rest of the cycle.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem": {
      "description": "Individual line item definition of a subscription. Next id: 8",
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem",
      "properties": {
        "oneTimeRecurrenceDetails": {
          "description": "Output only. Details only set for a ONE_TIME recurrence line item.",
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails"
        },
        "product": {
          "type": "string",
          "description": "Required. Product resource name that identifies one the line item The format is 'partners/{partner_id}/products/{product_id}'."
        },
        "recurrenceType": {
          "description": "Output only. The recurrence type of the line item.",
          "type": "string",
          "enumDescriptions": [
            "The line item recurrence type is unspecified.",
            "The line item recurs periodically.",
            "The line item does not recur in the future."
          ],
          "readOnly": true,
          "enum": [
            "LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED",
            "LINE_ITEM_RECURRENCE_TYPE_PERIODIC",
            "LINE_ITEM_RECURRENCE_TYPE_ONE_TIME"
          ]
        },
        "lineItemPromotionSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          },
          "description": "Optional. The promotions applied on the line item. It can be: - a free trial promotion, which overrides the subscription-level free trial promotion. - an introductory pricing promotion. When used as input in Create or Provision API, specify its resource name only."
        },
        "state": {
          "description": "Output only. The state of the line item.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The line item is in ACTIVE state.",
            "The line item is in INACTIVE state.",
            "The line item is new, and is not activated or charged yet.",
            "The line item is being activated in order to be charged. If a free trial applies to the line item, the line item is pending a prorated charge at the end of the free trial period, as indicated by `line_item_free_trial_end_time`.",
            "The line item is being deactivated."
          ],
          "type": "string",
          "enum": [
            "LINE_ITEM_STATE_UNSPECIFIED",
            "LINE_ITEM_STATE_ACTIVE",
            "LINE_ITEM_STATE_INACTIVE",
            "LINE_ITEM_STATE_NEW",
            "LINE_ITEM_STATE_ACTIVATING",
            "LINE_ITEM_STATE_DEACTIVATING"
          ]
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of this line item."
        },
        "lineItemFreeTrialEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. It is set only if the line item has its own free trial applied. End time of the line item free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Location": {
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "2-letter ISO region code for current content region. Ex. “US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code this location refers to. Ex. \"94043\""
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Location",
      "description": "Describes a location of an end user."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse": {
      "description": "Response containing the found promotions for the current user.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "promotions": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          },
          "type": "array",
          "description": "The promotions for the current user."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse",
      "properties": {
        "freeTrialEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End of the free trial period, in ISO 8061 format. UTC timezone. Example, \"freeTrialEndTime\":\"2019-08-31T17:28:54.564Z\" This time will be set the same as initial subscription creation time if no free trial period is offered to the partner."
        },
        "renewalTime": {
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "cycleEndTime": {
          "description": "The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. Example, \"cycleEndTime\":\"2019-08-31T17:28:54.564Z\"",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "products": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Product"
          },
          "type": "array",
          "description": "The products for the specified partner."
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Promotion": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Promotion",
      "properties": {
        "promotionType": {
          "description": "Output only. Output Only. Specifies the type of the promotion.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ]
        },
        "freeTrialDuration": {
          "description": "Optional. Specifies the duration of the free trial of the subscription when promotion_type is PROMOTION_TYPE_FREE_TRIAL",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration"
        },
        "introductoryPricingDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails",
          "description": "Optional. Specifies the introductory pricing details when the promotion_type is PROMOTION_TYPE_INTRODUCTORY_PRICING."
        },
        "titles": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Localized human readable name of the promotion.",
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          }
        },
        "applicableProducts": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The product ids this promotion can be applied to.",
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Response only. Resource name of the subscription promotion. It will have the format of \"partners/{partner_id}/promotion/{promotion_id}\"",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "description": "Optional. Specifies the start time (inclusive) of the period that the promotion is available in.",
          "format": "google-datetime"
        },
        "regionCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the promotion is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
        },
        "endTime": {
          "description": "Optional. Specifies the end time (exclusive) of the period that the promotion is available in. If unset, the promotion is available indefinitely.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A Promotion resource that defines a promotion for a subscription that can be resold."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest",
      "properties": {
        "extension": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Extension",
          "description": "Required. Specifies details of the extension. Currently, the duration of the extension must be exactly one billing cycle of the original subscription."
        },
        "requestId": {
          "type": "string",
          "description": "Required. Restricted to 36 ASCII characters. A random UUID is recommended. The idempotency key for the request. The ID generation logic is controlled by the partner. request_id should be the same as on retries of the same request. A different request_id must be used for a extension of a different cycle. A random UUID is recommended."
        }
      },
      "description": "Request message for extending a Subscription resource. A new recurrence will be made based on the subscription schedule defined by the original product."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest",
      "description": "Request to revoke a cancellation request.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse": {
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
          "description": "The updated subscription resource."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse",
      "type": "object",
      "description": "Response that contains the updated subscription resource."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse": {
      "type": "object",
      "properties": {
        "promotions": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          },
          "description": "The promotions for the specified partner.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse"
    }
  },
  "version_module": true,
  "resources": {
    "partners": {
      "resources": {
        "products": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "paymentsresellersubscription.partners.products.list",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse"
              },
              "httpMethod": "GET",
              "description": "To retrieve the products that can be resold by the partner. It should be autenticated with a service account.",
              "path": "v1/{+parent}/products",
              "flatPath": "v1/partners/{partnersId}/products",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Specifies the filters for the products results. The syntax defined in the EBNF grammar: https://google.aip.dev/assets/misc/ebnf-filtering.txt. An error will be thrown if any specified parameter is not supported. Currently, it can only be used by Youtube partners. Allowed parameters are: - regionCodes - zipCode - eligibilityId Multiple parameters can be specified, for example: \"regionCodes=US zipCode=94043 eligibilityId=2022H1Campaign\""
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token.",
                  "type": "string"
                }
              }
            }
          }
        },
        "subscriptions": {
          "methods": {
            "provision": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions:provision",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.provision",
              "description": "Used by partners to provision a subscription for their customers. This creates a subscription without associating it with the end user account. EntitleSubscription must be called separately using OAuth in order for the end user account to be associated with the subscription. It should be called directly by the partner using service accounts.",
              "parameters": {
                "parent": {
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "subscriptionId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one."
                }
              },
              "path": "v1/{+parent}/subscriptions:provision",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              }
            },
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "paymentsresellersubscription.partners.subscriptions.get",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Used by partners to get a subscription by id. It should be called directly by the partner using service accounts.",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the subscription resource to retrieve. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "type": "string",
                  "location": "path",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$"
                }
              }
            },
            "extend": {
              "id": "paymentsresellersubscription.partners.subscriptions.extend",
              "parameterOrder": [
                "name"
              ],
              "description": "Used by partners to extend a subscription service for their customers on an ongoing basis for the subscription to remain active and renewable. It should be called directly by the partner using service accounts.",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:extend",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest"
              },
              "path": "v1/{+name}:extend",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource to be extended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\".",
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "cancel": {
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Used by partners to cancel a subscription service either immediately or by the end of the current billing cycle for their customers. It should be called directly by the partner using service accounts.",
              "httpMethod": "POST",
              "id": "paymentsresellersubscription.partners.subscriptions.cancel",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource to be cancelled. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\""
                }
              },
              "path": "v1/{+name}:cancel"
            },
            "undoCancel": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the subscription resource whose pending cancellation needs to be undone. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Used by partners to revoke the pending cancellation of a subscription, which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription is already cancelled, the request will fail. It should be called directly by the partner using service accounts.",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:undoCancel",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.undoCancel",
              "path": "v1/{+name}:undoCancel",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest"
              }
            },
            "entitle": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the subscription resource that is entitled to the current end user. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "required": true,
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Used by partners to entitle a previously provisioned subscription to the current end user. The end user identity is inferred from the authorized credential of the request. This API must be authorized by the end user using OAuth.",
              "path": "v1/{+name}:entitle",
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:entitle",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest"
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "paymentsresellersubscription.partners.subscriptions.entitle"
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.create",
              "flatPath": "v1/partners/{partnersId}/subscriptions",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\"."
                },
                "subscriptionId": {
                  "location": "query",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "path": "v1/{+parent}/subscriptions",
              "parameterOrder": [
                "parent"
              ],
              "description": "Used by partners to create a subscription for their customers. The created subscription is associated with the end user inferred from the end user credentials. This API must be authorized by the end user using OAuth."
            }
          }
        },
        "promotions": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "paymentsresellersubscription.partners.promotions.list",
              "flatPath": "v1/partners/{partnersId}/promotions",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Specifies the filters for the promotion results. The syntax defined in the EBNF grammar: https://google.aip.dev/assets/misc/ebnf-filtering.txt. An error will be thrown if the specified parameter(s) is not supported. Currently, it can only be used by Youtube partners. Allowed parameters are: - region_codes: \"US\" - zip_code: \"94043\" - eligibility_id: \"2022H1Campaign\" Multiple parameters can be specified, for example: \"region_codes=US zip_code=94043 eligibility_id=2022H1Campaign\""
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/promotions",
              "description": "To retrieve the promotions, such as free trial, that can be used by the partner. It should be autenticated with a service account.",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse"
              }
            },
            "findEligible": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/promotions:findEligible",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest"
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse"
              },
              "description": "To find eligible promotions for the current user. The API requires user authorization via OAuth. The user is inferred from the authenticated OAuth credential.",
              "id": "paymentsresellersubscription.partners.promotions.findEligible",
              "flatPath": "v1/partners/{partnersId}/promotions:findEligible",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20220706",
  "ownerName": "Google",
  "protocol": "rest",
  "mtlsRootUrl": "https://paymentsresellersubscription.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "batchPath": "batch",
  "id": "paymentsresellersubscription:v1",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "baseUrl": "https://paymentsresellersubscription.googleapis.com/",
  "rootUrl": "https://paymentsresellersubscription.googleapis.com/",
  "servicePath": "",
  "description": ""
}
