{
  "baseUrl": "https://paymentsresellersubscription.googleapis.com/",
  "version": "v1",
  "version_module": true,
  "basePath": "",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "servicePath": "",
  "description": "",
  "batchPath": "batch",
  "mtlsRootUrl": "https://paymentsresellersubscription.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "paymentsresellersubscription:v1",
  "schemas": {
    "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse": {
      "properties": {
        "products": {
          "description": "The products for the specified partner.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Product"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest": {
      "properties": {},
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest",
      "type": "object",
      "description": "Partner request for entitling the previously provisioned subscription to an end user. The end user identity is inferred from the request OAuth context."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails": {
      "type": "object",
      "properties": {
        "previousSubscriptionId": {
          "type": "string",
          "description": "Required. The previous subscription id to be replaced. This is not the full resource name, use the subscription_id segment only."
        },
        "billingCycleSpec": {
          "enum": [
            "BILLING_CYCLE_SPEC_UNSPECIFIED",
            "BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION",
            "BILLING_CYCLE_SPEC_START_IMMEDIATELY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Billing cycle spec is not specified.",
            "The billing cycle of the new subscription aligns with the previous subscription it upgrades or downgrades from.",
            "The billing cycle of the new subscription starts immediately."
          ],
          "description": "Required. Specifies the billing cycle spec for the new upgraded/downgraded subscription."
        }
      },
      "description": "Details about the previous subscription that this new subscription upgrades/downgrades from.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod": {
      "type": "object",
      "description": "A description of what time period or moment in time the product or service is being delivered over.",
      "properties": {
        "startTime": {
          "description": "Required. The start time of the service period. Time is inclusive.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. The end time of the service period. Time is exclusive.",
          "type": "string"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod"
    },
    "GoogleTypeLocalizedText": {
      "properties": {
        "text": {
          "description": "Localized string in the language corresponding to `language_code' below.",
          "type": "string"
        },
        "languageCode": {
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Localized variant of a text in a particular language.",
      "id": "GoogleTypeLocalizedText"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest": {
      "type": "object",
      "properties": {
        "cancelImmediately": {
          "description": "Optional. If true, the subscription will be cancelled immediately. Otherwise, the subscription will be cancelled at renewal_time, and therefore no prorated refund will be issued for the rest of the cycle.",
          "type": "boolean"
        },
        "cancellationReason": {
          "type": "string",
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Other reason."
          ],
          "description": "Specifies the reason for the cancellation.",
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_OTHER"
          ]
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails": {
      "type": "object",
      "properties": {
        "introductoryPricingSpecs": {
          "description": "Specifies the introductory pricing periods.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec"
          }
        }
      },
      "description": "The details of a introductory pricing promotion.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse": {
      "properties": {
        "freeTrialEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End of the free trial period, in ISO 8061 format. UTC timezone. Example, \"freeTrialEndTime\":\"2019-08-31T17:28:54.564Z\" This time will be set the same as initial subscription creation time if no free trial period is offered to the partner."
        },
        "renewalTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "type": "string",
          "readOnly": true
        },
        "cycleEndTime": {
          "description": "The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. Example, \"cycleEndTime\":\"2019-08-31T17:28:54.564Z\"",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse",
      "properties": {
        "promotions": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          },
          "description": "The promotions for the specified partner.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest": {
      "description": "Request message for extending a Subscription resource. A new recurrence will be made based on the subscription schedule defined by the original product.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest",
      "type": "object",
      "properties": {
        "extension": {
          "description": "Required. Specifies details of the extension. Currently, the duration of the extension must be exactly one billing cycle of the original subscription.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Extension"
        },
        "requestId": {
          "type": "string",
          "description": "Required. Restricted to 36 ASCII characters. A random UUID is recommended. The idempotency key for the request. The ID generation logic is controlled by the partner. request_id should be the same as on retries of the same request. A different request_id must be used for a extension of a different cycle. A random UUID is recommended."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem",
      "type": "object",
      "description": "Individual line item definition of a subscription. Next id: 8",
      "properties": {
        "product": {
          "type": "string",
          "description": "Required. Product resource name that identifies one the line item The format is 'partners/{partner_id}/products/{product_id}'."
        },
        "recurrenceType": {
          "description": "Output only. The recurrence type of the line item.",
          "enum": [
            "LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED",
            "LINE_ITEM_RECURRENCE_TYPE_PERIODIC",
            "LINE_ITEM_RECURRENCE_TYPE_ONE_TIME"
          ],
          "type": "string",
          "enumDescriptions": [
            "The line item recurrence type is unspecified.",
            "The line item recurs periodically.",
            "The line item does not recur in the future."
          ],
          "readOnly": true
        },
        "oneTimeRecurrenceDetails": {
          "readOnly": true,
          "description": "Output only. Details only set for a ONE_TIME recurrence line item.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails"
        },
        "lineItemPromotionSpecs": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          },
          "type": "array",
          "description": "Optional. The promotions applied on the line item. It can be: - a free trial promotion, which overrides the subscription-level free trial promotion. - an introductory pricing promotion. When used as input in Create or Provision API, specify its resource name only."
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of this line item.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The line item is in ACTIVE state.",
            "The line item is in INACTIVE state.",
            "The line item is new, and is not activated or charged yet.",
            "The line item is being activated in order to be charged. If a free trial applies to the line item, the line item is pending a prorated charge at the end of the free trial period, as indicated by `line_item_free_trial_end_time`.",
            "The line item is being deactivated."
          ],
          "type": "string",
          "enum": [
            "LINE_ITEM_STATE_UNSPECIFIED",
            "LINE_ITEM_STATE_ACTIVE",
            "LINE_ITEM_STATE_INACTIVE",
            "LINE_ITEM_STATE_NEW",
            "LINE_ITEM_STATE_ACTIVATING",
            "LINE_ITEM_STATE_DEACTIVATING"
          ],
          "readOnly": true,
          "description": "Output only. The state of the line item."
        },
        "lineItemFreeTrialEndTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. It is set only if the line item has its own free trial applied. End time of the line item free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse": {
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
          "description": "The subscription that has user linked to it."
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Duration": {
      "properties": {
        "unit": {
          "enumDescriptions": [
            "Default value.",
            "Unit of a calendar month.",
            "Unit of a day."
          ],
          "description": "The unit used for the duration",
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "MONTH",
            "DAY"
          ]
        },
        "count": {
          "format": "int32",
          "description": "number of duration units to be included.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
      "description": "Describes the length of a period of a time.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `applicable_products` - `region_codes` - `youtube_payload.partner_eligibility_id` - `youtube_payload.postal_code` - Unless explicitly mentioned above, other features are not supported. Example: `applicable_products:partners/partner1/products/product1 AND region_codes:US AND youtube_payload.postal_code=94043 AND youtube_payload.partner_eligibility_id=eligibility-id`"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Product": {
      "type": "object",
      "properties": {
        "titles": {
          "description": "Output only. Localized human readable name of the product.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          }
        },
        "regionCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Response only. Resource name of the subscription. It will have the format of \"partners/{partner_id}/products/{product_id}\"",
          "readOnly": true
        },
        "subscriptionBillingCycleDuration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "readOnly": true,
          "description": "Output only. Specifies the length of the billing cycle of the subscription."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Product",
      "description": "A Product resource that defines a subscription service that can be resold."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Extension": {
      "description": "Describes the details of an extension request.",
      "properties": {
        "partnerUserToken": {
          "description": "Required. Identifier of the end-user in partner’s system.",
          "type": "string"
        },
        "duration": {
          "description": "Specifies the period of access the subscription should grant.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Extension"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Promotion": {
      "description": "A Promotion resource that defines a promotion for a subscription that can be resold.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Promotion",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Optional. Specifies the end time (exclusive) of the period that the promotion is available in. If unset, the promotion is available indefinitely.",
          "format": "google-datetime",
          "type": "string"
        },
        "titles": {
          "type": "array",
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          },
          "readOnly": true,
          "description": "Output only. Localized human readable name of the promotion."
        },
        "applicableProducts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The product ids this promotion can be applied to.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Response only. Resource name of the subscription promotion. It will have the format of \"partners/{partner_id}/promotion/{promotion_id}\"",
          "type": "string",
          "readOnly": true
        },
        "introductoryPricingDetails": {
          "description": "Optional. Specifies the introductory pricing details when the promotion_type is PROMOTION_TYPE_INTRODUCTORY_PRICING.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails"
        },
        "promotionType": {
          "description": "Output only. Output Only. Specifies the type of the promotion.",
          "type": "string",
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ]
        },
        "startTime": {
          "type": "string",
          "description": "Optional. Specifies the start time (inclusive) of the period that the promotion is available in.",
          "format": "google-datetime"
        },
        "regionCodes": {
          "type": "array",
          "description": "Output only. 2-letter ISO region code where the promotion is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "freeTrialDuration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "description": "Optional. Specifies the duration of the free trial of the subscription when promotion_type is PROMOTION_TYPE_FREE_TRIAL"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Location": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Location",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "2-letter ISO region code for current content region. Ex. “US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code this location refers to. Ex. \"94043\""
        }
      },
      "type": "object",
      "description": "Describes a location of an end user."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec": {
      "description": "Describes the spec for one promotion.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec",
      "type": "object",
      "properties": {
        "introductoryPricingDetails": {
          "description": "Output only. The details of the introductory pricing spec if the promotion is of type INTRODUCTORY_PRICING.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails",
          "readOnly": true
        },
        "promotion": {
          "type": "string",
          "description": "Required. Promotion resource name that identifies a promotion. The format is 'partners/{partner_id}/promotions/{promotion_id}'."
        },
        "freeTrialDuration": {
          "readOnly": true,
          "description": "Output only. The duration of the free trial if the promotion is of type FREE_TRIAL.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration"
        },
        "type": {
          "description": "Output only. The type of the promotion for the spec.",
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Subscription": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
      "description": "A Subscription resource managed by 3P Partners.",
      "type": "object",
      "properties": {
        "endUserEntitled": {
          "description": "Output only. Indicates if the subscription is entitled to the end user.",
          "type": "boolean",
          "readOnly": true
        },
        "processingState": {
          "description": "Output only. Describes the processing state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "readOnly": true,
          "enumDescriptions": [
            "The processing state is unspecified.",
            "The subscription is being cancelled.",
            "The subscription is recurring."
          ],
          "type": "string",
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PROCESSING_STATE_CANCELLING",
            "PROCESSING_STATE_RECURRING"
          ]
        },
        "renewalTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\""
        },
        "name": {
          "description": "Optional. Resource name of the subscription. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\". This is available for authorizeAddon, but otherwise is response only.",
          "type": "string"
        },
        "promotionSpecs": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          },
          "type": "array",
          "description": "Optional. Subscription-level promotions. Only free trial is supported on this level. It determines the first renewal time of the subscription to be the end of the free trial period. Specify the promotion resource name only when used as input."
        },
        "cycleEndTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. For example: \"2019-08-31T17:28:54.564Z\""
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CREATED",
            "STATE_ACTIVE",
            "STATE_CANCELLED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_CANCEL_AT_END_OF_CYCLE"
          ],
          "description": "Output only. Describes the state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "enumDescriptions": [
            "The state is unspecified.",
            "The subscription is created, a state before it is moved to STATE_ACTIVE.",
            "The subscription is active.",
            "The subscription is cancelled.",
            "The subscription has not been extended by the partner after the end of current cycle.",
            "The subscription is waiting to be cancelled by the next recurrence cycle."
          ]
        },
        "cancellationDetails": {
          "description": "Output only. Describes the details of a cancelled subscription. Only applicable to subscription of state `STATE_CANCELLED`.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails",
          "readOnly": true
        },
        "redirectUri": {
          "description": "Output only. The place where partners should redirect the end-user to after creation. This field might also be populated when creation failed. However, Partners should always prepare a default URL to redirect the user in case this field is empty.",
          "type": "string",
          "readOnly": true
        },
        "promotions": {
          "description": "Optional. Deprecated: consider using the top-level `promotion_specs` as the input. Optional. Resource name that identifies one or more promotions that can be applied on the product. A typical promotion for a subscription is Free trial. The format will be 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. System generated timestamp when the subscription is created. UTC timezone."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated timestamp when the subscription is most recently updated. UTC timezone.",
          "format": "google-datetime"
        },
        "freeTrialEndTime": {
          "description": "Output only. End of the free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "partnerUserToken": {
          "description": "Required. Identifier of the end-user in partner’s system. The value is restricted to 63 ASCII characters at the maximum.",
          "type": "string"
        },
        "serviceLocation": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Location",
          "description": "Required. The location that the service is provided as indicated by the partner."
        },
        "lineItems": {
          "description": "Required. The line items of the subscription.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem"
          },
          "type": "array"
        },
        "products": {
          "type": "array",
          "description": "Required. Deprecated: consider using `line_items` as the input. Required. Resource name that identifies the purchased products. The format will be 'partners/{partner_id}/products/{product_id}'.",
          "items": {
            "type": "string"
          }
        },
        "upgradeDowngradeDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails",
          "description": "Optional. Details about the previous subscription that this new subscription upgrades/downgrades from. Only populated if this subscription is an upgrade/downgrade from another subscription."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec": {
      "properties": {
        "recurrenceCount": {
          "readOnly": true,
          "description": "Output only. Output Only. The duration of an introductory offer in billing cycles.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec",
      "description": "The duration of an introductory pricing promotion.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse": {
      "properties": {
        "promotions": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          },
          "description": "The promotions for the current user.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse",
      "type": "object",
      "description": "Response containing the found promotions for the current user."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse",
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
          "description": "The cancelled subscription resource."
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails",
      "properties": {
        "servicePeriod": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod",
          "description": "The service period of the ONE_TIME line item."
        }
      },
      "description": "Details for a ONE_TIME recurrence line item."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_OTHER"
          ],
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Other reason."
          ],
          "description": "The reason of the cancellation."
        }
      },
      "description": "Describes the details of a cancelled or cancelling subscription."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest": {
      "description": "Request to revoke a cancellation request.",
      "properties": {},
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The updated subscription resource.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
        }
      },
      "description": "Response that contains the updated subscription resource.",
      "type": "object"
    }
  },
  "name": "paymentsresellersubscription",
  "revision": "20220901",
  "rootUrl": "https://paymentsresellersubscription.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "Payments Reseller Subscription API",
  "resources": {
    "partners": {
      "resources": {
        "subscriptions": {
          "methods": {
            "entitle": {
              "id": "paymentsresellersubscription.partners.subscriptions.entitle",
              "path": "v1/{+name}:entitle",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:entitle",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse"
              },
              "description": "Used by partners to entitle a previously provisioned subscription to the current end user. The end user identity is inferred from the authorized credential of the request. This API must be authorized by the end user using OAuth.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the subscription resource that is entitled to the current end user. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}",
              "description": "Used by partners to get a subscription by id. It should be called directly by the partner using service accounts.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource to retrieve. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "paymentsresellersubscription.partners.subscriptions.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "httpMethod": "GET"
            },
            "extend": {
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:extend",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the subscription resource to be extended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\".",
                  "location": "path",
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "paymentsresellersubscription.partners.subscriptions.extend",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest"
              },
              "path": "v1/{+name}:extend",
              "httpMethod": "POST",
              "description": "Used by partners to extend a subscription service for their customers on an ongoing basis for the subscription to remain active and renewable. It should be called directly by the partner using service accounts."
            },
            "provision": {
              "flatPath": "v1/partners/{partnersId}/subscriptions:provision",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "description": "Used by partners to provision a subscription for their customers. This creates a subscription without associating it with the end user account. EntitleSubscription must be called separately using OAuth in order for the end user account to be associated with the subscription. It should be called directly by the partner using service accounts.",
              "path": "v1/{+parent}/subscriptions:provision",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "parameters": {
                "subscriptionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one."
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "location": "path"
                }
              },
              "id": "paymentsresellersubscription.partners.subscriptions.provision"
            },
            "cancel": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource to be cancelled. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.cancel",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest"
              },
              "description": "Used by partners to cancel a subscription service either immediately or by the end of the current billing cycle for their customers. It should be called directly by the partner using service accounts.",
              "path": "v1/{+name}:cancel",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:cancel"
            },
            "undoCancel": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:undoCancel",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource whose pending cancellation needs to be undone. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "required": true
                }
              },
              "id": "paymentsresellersubscription.partners.subscriptions.undoCancel",
              "description": "Used by partners to revoke the pending cancellation of a subscription, which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription is already cancelled, the request will fail. It should be called directly by the partner using service accounts.",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:undoCancel",
              "httpMethod": "POST"
            },
            "create": {
              "description": "Used by partners to create a subscription for their customers. The created subscription is associated with the end user inferred from the end user credentials. This API must be authorized by the end user using OAuth.",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "httpMethod": "POST",
              "id": "paymentsresellersubscription.partners.subscriptions.create",
              "path": "v1/{+parent}/subscriptions",
              "flatPath": "v1/partners/{partnersId}/subscriptions",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "pattern": "^partners/[^/]+$"
                },
                "subscriptionId": {
                  "type": "string",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "promotions": {
          "methods": {
            "findEligible": {
              "path": "v1/{+parent}/promotions:findEligible",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse"
              },
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest"
              },
              "description": "To find eligible promotions for the current user. The API requires user authorization via OAuth. The user is inferred from the authenticated OAuth credential.",
              "id": "paymentsresellersubscription.partners.promotions.findEligible",
              "parameters": {
                "parent": {
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/partners/{partnersId}/promotions:findEligible",
              "httpMethod": "POST"
            },
            "list": {
              "path": "v1/{+parent}/promotions",
              "description": "To retrieve the promotions, such as free trial, that can be used by the partner. It should be autenticated with a service account.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^partners/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `applicable_products` - `region_codes` - `youtube_payload.partner_eligibility_id` - `youtube_payload.postal_code` - Unless explicitly mentioned above, other features are not supported. Example: `applicable_products:partners/partner1/products/product1 AND region_codes:US AND youtube_payload.postal_code=94043 AND youtube_payload.partner_eligibility_id=eligibility-id`",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse"
              },
              "id": "paymentsresellersubscription.partners.promotions.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/promotions",
              "httpMethod": "GET"
            }
          }
        },
        "products": {
          "methods": {
            "list": {
              "description": "To retrieve the products that can be resold by the partner. It should be autenticated with a service account.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/products",
              "flatPath": "v1/partners/{partnersId}/products",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Specifies the filters for the product results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `region_codes` - `youtube_payload.partner_eligibility_id` - `youtube_payload.postal_code` - Unless explicitly mentioned above, other features are not supported. Example: `region_codes:US AND youtube_payload.postal_code=94043 AND youtube_payload.partner_eligibility_id=eligibility-id`",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "id": "paymentsresellersubscription.partners.products.list",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse"
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "canonicalName": "Payments Reseller Subscription",
  "documentationLink": "https://developers.google.com/payments/reseller/subscription/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "ownerName": "Google"
}
