{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "revision": "20230504",
  "resources": {
    "partners": {
      "resources": {
        "promotions": {
          "methods": {
            "list": {
              "id": "paymentsresellersubscription.partners.promotions.list",
              "flatPath": "v1/partners/{partnersId}/promotions",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^partners/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse"
              },
              "path": "v1/{+parent}/promotions",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "To retrieve the promotions, such as free trial, that can be used by the partner. It should be autenticated with a service account."
            },
            "findEligible": {
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse"
              },
              "description": "To find eligible promotions for the current user. The API requires user authorization via OAuth. The user is inferred from the authenticated OAuth credential.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "required": true,
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "location": "path"
                }
              },
              "id": "paymentsresellersubscription.partners.promotions.findEligible",
              "path": "v1/{+parent}/promotions:findEligible",
              "flatPath": "v1/partners/{partnersId}/promotions:findEligible"
            }
          }
        },
        "products": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse"
              },
              "httpMethod": "GET",
              "id": "paymentsresellersubscription.partners.products.list",
              "flatPath": "v1/partners/{partnersId}/products",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Specifies the filters for the product results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "To retrieve the products that can be resold by the partner. It should be autenticated with a service account.",
              "path": "v1/{+parent}/products"
            }
          }
        },
        "subscriptions": {
          "methods": {
            "get": {
              "description": "Used by partners to get a subscription by id. It should be called directly by the partner using service accounts.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource to retrieve. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "provision": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions:provision",
              "description": "Used by partners to provision a subscription for their customers. This creates a subscription without associating it with the end user account. EntitleSubscription must be called separately using OAuth in order for the end user account to be associated with the subscription. It should be called directly by the partner using service accounts.",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/subscriptions:provision",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.provision"
            },
            "undoCancel": {
              "path": "v1/{+name}:undoCancel",
              "id": "paymentsresellersubscription.partners.subscriptions.undoCancel",
              "description": "Used by partners to revoke the pending cancellation of a subscription, which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription is already cancelled, the request will fail. It should be called directly by the partner using service accounts.",
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:undoCancel",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the subscription resource whose pending cancellation needs to be undone. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\""
                }
              },
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest"
              }
            },
            "entitle": {
              "id": "paymentsresellersubscription.partners.subscriptions.entitle",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse"
              },
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:entitle",
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource that is entitled to the current end user. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Used by partners to entitle a previously provisioned subscription to the current end user. The end user identity is inferred from the authorized credential of the request. This API must be authorized by the end user using OAuth.",
              "path": "v1/{+name}:entitle"
            },
            "cancel": {
              "description": "Used by partners to cancel a subscription service either immediately or by the end of the current billing cycle for their customers. It should be called directly by the partner using service accounts.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource to be cancelled. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:cancel",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest"
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.cancel",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel"
            },
            "extend": {
              "parameterOrder": [
                "name"
              ],
              "description": "[Opt-in only] Most partners should be on auto-extend by default. Used by partners to extend a subscription service for their customers on an ongoing basis for the subscription to remain active and renewable. It should be called directly by the partner using service accounts.",
              "path": "v1/{+name}:extend",
              "id": "paymentsresellersubscription.partners.subscriptions.extend",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource to be extended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"."
                }
              },
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:extend",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "httpMethod": "POST",
              "id": "paymentsresellersubscription.partners.subscriptions.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\"."
                },
                "subscriptionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one."
                }
              },
              "path": "v1/{+parent}/subscriptions",
              "flatPath": "v1/partners/{partnersId}/subscriptions",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "description": "Used by partners to create a subscription for their customers. The created subscription is associated with the end user inferred from the end user credentials. This API must be authorized by the end user using OAuth."
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://paymentsresellersubscription.mtls.googleapis.com/",
  "name": "paymentsresellersubscription",
  "title": "Payments Reseller Subscription API",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "rootUrl": "https://paymentsresellersubscription.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "version": "v1",
  "schemas": {
    "GoogleCloudPaymentsResellerSubscriptionV1Promotion": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Promotion",
      "type": "object",
      "description": "A Promotion resource that defines a promotion for a subscription that can be resold.",
      "properties": {
        "applicableProducts": {
          "description": "Output only. The product ids this promotion can be applied to.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "introductoryPricingDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails",
          "description": "Optional. Specifies the introductory pricing details when the promotion_type is PROMOTION_TYPE_INTRODUCTORY_PRICING."
        },
        "regionCodes": {
          "description": "Output only. 2-letter ISO region code where the promotion is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "startTime": {
          "description": "Optional. Specifies the start time (inclusive) of the period that the promotion is available in.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Specifies the end time (exclusive) of the period that the promotion is available in. If unset, the promotion is available indefinitely."
        },
        "titles": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Localized human readable name of the promotion.",
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          }
        },
        "freeTrialDuration": {
          "description": "Optional. Specifies the duration of the free trial of the subscription when promotion_type is PROMOTION_TYPE_FREE_TRIAL",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration"
        },
        "promotionType": {
          "description": "Output only. Output Only. Specifies the type of the promotion.",
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Response only. Resource name of the subscription promotion. It will have the format of \"partners/{partner_id}/promotion/{promotion_id}\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails": {
      "description": "Describes the details of a cancelled or cancelling subscription.",
      "properties": {
        "reason": {
          "type": "string",
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_OTHER"
          ],
          "description": "The reason of the cancellation.",
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Cancellation due to an unrecoverable system error.",
            "Other reason."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails",
      "description": "The details of a introductory pricing promotion.",
      "properties": {
        "introductoryPricingSpecs": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec"
          },
          "description": "Specifies the introductory pricing periods.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Amount": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Amount",
      "description": "Describes the amount unit including the currency code.",
      "type": "object",
      "properties": {
        "amountMicros": {
          "type": "string",
          "format": "int64",
          "description": "Required. Amount in micros (1_000_000 micros = 1 currency unit)"
        },
        "currencyCode": {
          "type": "string",
          "description": "Required. Currency codes in accordance with [ISO-4217 Currency Codes] (https://en.wikipedia.org/wiki/ISO_4217). For example, USD."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "promotions": {
          "type": "array",
          "description": "The promotions for the current user.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          }
        }
      },
      "description": "Response containing the found promotions for the current user.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest": {
      "properties": {
        "cancelImmediately": {
          "type": "boolean",
          "description": "Optional. If true, Google will cancel the subscription immediately, and may or may not (based on the contract) issue a prorated refund for the remainder of the billing cycle. Otherwise, Google defers the cancelation at renewal_time, and will not issue a refund."
        },
        "cancellationReason": {
          "type": "string",
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_OTHER"
          ],
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Cancellation due to an unrecoverable system error.",
            "Other reason."
          ],
          "description": "Specifies the reason for the cancellation."
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest": {
      "type": "object",
      "description": "Request to revoke a cancellation request.",
      "properties": {},
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Subscription": {
      "description": "A Subscription resource managed by 3P Partners.",
      "properties": {
        "promotions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Deprecated: consider using the top-level `promotion_specs` as the input. Optional. Resource name that identifies one or more promotions that can be applied on the product. A typical promotion for a subscription is Free trial. The format will be 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "array"
        },
        "promotionSpecs": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          },
          "description": "Optional. Subscription-level promotions. Only free trial is supported on this level. It determines the first renewal time of the subscription to be the end of the free trial period. Specify the promotion resource name only when used as input.",
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. System generated timestamp when the subscription is created. UTC timezone."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. System generated timestamp when the subscription is most recently updated. UTC timezone.",
          "format": "google-datetime",
          "type": "string"
        },
        "endUserEntitled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the subscription is entitled to the end user."
        },
        "partnerUserToken": {
          "type": "string",
          "description": "Required. Identifier of the end-user in partner’s system. The value is restricted to 63 ASCII characters at the maximum."
        },
        "state": {
          "type": "string",
          "description": "Output only. Describes the state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The subscription is created, a state before it is moved to STATE_ACTIVE.",
            "The subscription is active.",
            "The subscription is cancelled. This is the final state of the subscription, as it can no longer be modified or reactivated.",
            "The subscription is in grace period. It can happen: 1) in manual extend mode, the subscription is not extended by the partner at the end of current cycle. 2) for outbound authorization enabled partners, a renewal purchase order is rejected.",
            "The subscription is waiting to be cancelled by the next recurrence cycle.",
            "The subscription is suspended."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CREATED",
            "STATE_ACTIVE",
            "STATE_CANCELLED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_CANCEL_AT_END_OF_CYCLE",
            "STATE_SUSPENDED"
          ]
        },
        "cycleEndTime": {
          "readOnly": true,
          "description": "Output only. The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. For example: \"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime",
          "type": "string"
        },
        "renewalTime": {
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "lineItems": {
          "description": "Required. The line items of the subscription.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem"
          },
          "type": "array"
        },
        "redirectUri": {
          "readOnly": true,
          "description": "Output only. The place where partners should redirect the end-user to after creation. This field might also be populated when creation failed. However, Partners should always prepare a default URL to redirect the user in case this field is empty.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Resource name of the subscription. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\". This is available for authorizeAddon, but otherwise is response only.",
          "type": "string"
        },
        "serviceLocation": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Location",
          "description": "Required. The location that the service is provided as indicated by the partner."
        },
        "products": {
          "description": "Optional. Deprecated: consider using `line_items` as the input. Required. Resource name that identifies the purchased products. The format will be 'partners/{partner_id}/products/{product_id}'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cancellationDetails": {
          "description": "Output only. Describes the details of a cancelled subscription. Only applicable to subscription of state `STATE_CANCELLED`.",
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails"
        },
        "freeTrialEndTime": {
          "description": "Output only. End of the free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "upgradeDowngradeDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails",
          "description": "Optional. Details about the previous subscription that this new subscription upgrades/downgrades from. Only populated if this subscription is an upgrade/downgrade from another subscription."
        },
        "processingState": {
          "type": "string",
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PROCESSING_STATE_CANCELLING",
            "PROCESSING_STATE_RECURRING"
          ],
          "enumDescriptions": [
            "The processing state is unspecified.",
            "The subscription is being cancelled.",
            "The subscription is recurring."
          ],
          "description": "Output only. Describes the processing state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig": {
      "type": "object",
      "properties": {
        "amount": {
          "description": "Output only. The price in the region.",
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Amount"
        },
        "regionCode": {
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig",
      "description": "Configs the prices in an available region."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload",
      "type": "object",
      "properties": {
        "campaigns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Campaign attributed to sales of this subscription."
        },
        "storeId": {
          "description": "The identifier for the partner store where the subscription was sold.",
          "type": "string"
        },
        "offering": {
          "enum": [
            "OFFERING_UNSPECIFIED",
            "OFFERING_VAS_BUNDLE",
            "OFFERING_VAS_STANDALONE",
            "OFFERING_HARD_BUNDLE",
            "OFFERING_SOFT_BUNDLE"
          ],
          "type": "string",
          "description": "The type of offering the subscription was sold by the partner. e.g. VAS.",
          "enumDescriptions": [
            "The type of partner offering is unspecified.",
            "Google One product purchased as a Value added service in addition to existing partner's products. Customer pays additional amount for Google One product.",
            "Google One product purchased by itself by customer as a value add service. Customer pays additional amount for Google One product.",
            "Product purchased as part of a hard bundle where Google One was included with the bundle. Google One pricing is included in the bundle.",
            "Purchased as part of a bundle where Google One was provided as an option. Google One pricing is included in the bundle."
          ]
        },
        "salesChannel": {
          "description": "The type of sales channel through which the subscription was sold.",
          "enumDescriptions": [
            "The channel type is unspecified.",
            "Sold at store.",
            "Sold through partner website.",
            "Sold through partner android app.",
            "Sold through partner iOS app."
          ],
          "type": "string",
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "CHANNEL_RETAIL",
            "CHANNEL_ONLINE_WEB",
            "CHANNEL_ONLINE_ANDROID_APP",
            "CHANNEL_ONLINE_IOS_APP"
          ]
        }
      },
      "description": "Payload specific to Google One products."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Duration": {
      "properties": {
        "unit": {
          "enumDescriptions": [
            "Default value.",
            "Unit of a calendar month.",
            "Unit of a day."
          ],
          "description": "The unit used for the duration",
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "MONTH",
            "DAY"
          ]
        },
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "number of duration units to be included."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
      "description": "Describes the length of a period of a time.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails": {
      "type": "object",
      "description": "Details for a ONE_TIME recurrence line item.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails",
      "properties": {
        "servicePeriod": {
          "description": "The service period of the ONE_TIME line item.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse": {
      "properties": {
        "renewalTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime"
        },
        "cycleEndTime": {
          "type": "string",
          "description": "The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. Example, \"cycleEndTime\":\"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime"
        },
        "freeTrialEndTime": {
          "type": "string",
          "description": "End of the free trial period, in ISO 8061 format. UTC timezone. Example, \"freeTrialEndTime\":\"2019-08-31T17:28:54.564Z\" This time will be set the same as initial subscription creation time if no free trial period is offered to the partner.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Product": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Product",
      "properties": {
        "regionCodes": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
        },
        "priceConfigs": {
          "type": "array",
          "description": "Output only. Price configs for the product in the available regions.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig"
          }
        },
        "titles": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          },
          "description": "Output only. Localized human readable name of the product."
        },
        "subscriptionBillingCycleDuration": {
          "description": "Output only. Specifies the length of the billing cycle of the subscription.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Response only. Resource name of the product. It will have the format of \"partners/{partner_id}/products/{product_id}\"",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A Product resource that defines a subscription service that can be resold."
    },
    "GoogleTypeLocalizedText": {
      "id": "GoogleTypeLocalizedText",
      "description": "Localized variant of a text in a particular language.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Localized string in the language corresponding to `language_code' below."
        },
        "languageCode": {
          "type": "string",
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails",
      "description": "Details about the previous subscription that this new subscription upgrades/downgrades from.",
      "properties": {
        "billingCycleSpec": {
          "enumDescriptions": [
            "Billing cycle spec is not specified.",
            "The billing cycle of the new subscription aligns with the previous subscription it upgrades or downgrades from.",
            "The billing cycle of the new subscription starts immediately."
          ],
          "type": "string",
          "enum": [
            "BILLING_CYCLE_SPEC_UNSPECIFIED",
            "BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION",
            "BILLING_CYCLE_SPEC_START_IMMEDIATELY"
          ],
          "description": "Required. Specifies the billing cycle spec for the new upgraded/downgraded subscription."
        },
        "previousSubscriptionId": {
          "description": "Required. The previous subscription id to be replaced. This is not the full resource name, use the subscription_id segment only.",
          "type": "string"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest",
      "properties": {
        "pageToken": {
          "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "type": "integer"
        },
        "filter": {
          "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload": {
      "description": "Payload specific to Youtube products.",
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload",
      "properties": {
        "partnerEligibilityIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of eligibility_ids which are applicable for the line item."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest": {
      "properties": {
        "requestId": {
          "description": "Required. Restricted to 36 ASCII characters. A random UUID is recommended. The idempotency key for the request. The ID generation logic is controlled by the partner. request_id should be the same as on retries of the same request. A different request_id must be used for a extension of a different cycle. A random UUID is recommended.",
          "type": "string"
        },
        "extension": {
          "description": "Required. Specifies details of the extension. Currently, the duration of the extension must be exactly one billing cycle of the original subscription.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Extension"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest",
      "type": "object",
      "description": "Request message for extending a Subscription resource. A new recurrence will be made based on the subscription schedule defined by the original product."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\".",
          "type": "string",
          "readOnly": true
        },
        "discountRatioMicros": {
          "description": "Output only. The discount percentage in micros. For example, 50,000 represents 5%.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "discountAmount": {
          "description": "Output only. The discount amount. The value is positive.",
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Amount"
        },
        "recurrenceCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Output Only. The duration of an introductory offer in billing cycles.",
          "format": "int32"
        }
      },
      "description": "The duration of an introductory pricing promotion."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse",
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
          "description": "The subscription that has user linked to it."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec",
      "properties": {
        "promotion": {
          "type": "string",
          "description": "Required. Promotion resource name that identifies a promotion. The format is 'partners/{partner_id}/promotions/{promotion_id}'."
        },
        "introductoryPricingDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails",
          "description": "Output only. The details of the introductory pricing spec if the promotion is of type INTRODUCTORY_PRICING.",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "description": "Output only. The type of the promotion for the spec.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ]
        },
        "freeTrialDuration": {
          "description": "Output only. The duration of the free trial if the promotion is of type FREE_TRIAL.",
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration"
        }
      },
      "type": "object",
      "description": "Describes the spec for one promotion."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "promotions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          },
          "description": "The promotions for the specified partner."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Location": {
      "type": "object",
      "description": "Describes a location of an end user.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Location",
      "properties": {
        "postalCode": {
          "type": "string",
          "description": "The postal code this location refers to. Ex. \"94043\""
        },
        "regionCode": {
          "type": "string",
          "description": "2-letter ISO region code for current content region. Ex. “US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ProductPayload": {
      "properties": {
        "youtubePayload": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload",
          "description": "Payload specific to Youtube products."
        },
        "googleOnePayload": {
          "description": "Payload specific to Google One products.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload"
        }
      },
      "type": "object",
      "description": "Specifies product specific payload.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ProductPayload"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "products": {
          "description": "The products for the specified partner.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Product"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Extension": {
      "type": "object",
      "properties": {
        "partnerUserToken": {
          "description": "Required. Identifier of the end-user in partner’s system.",
          "type": "string"
        },
        "duration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "description": "Specifies the period of access the subscription should grant."
        }
      },
      "description": "Describes the details of an extension request.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Extension"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse": {
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
          "description": "The updated subscription resource."
        }
      },
      "description": "Response that contains the updated subscription resource.",
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "The cancelled subscription resource.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod",
      "type": "object",
      "description": "A description of what time period or moment in time the product or service is being delivered over.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The end time of the service period. Time is exclusive."
        },
        "startTime": {
          "type": "string",
          "description": "Required. The start time of the service period. Time is inclusive.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest": {
      "properties": {},
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest",
      "description": "Partner request for entitling the previously provisioned subscription to an end user. The end user identity is inferred from the request OAuth context.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem": {
      "properties": {
        "amount": {
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Amount",
          "description": "Output only. The price of the product/service in this line item. The amount could be the wholesale price, or it can include a cost of sale based on the contract."
        },
        "lineItemFreeTrialEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The free trial end time will be populated after the line item is successfully processed. End time of the line item free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "readOnly": true
        },
        "recurrenceType": {
          "type": "string",
          "enum": [
            "LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED",
            "LINE_ITEM_RECURRENCE_TYPE_PERIODIC",
            "LINE_ITEM_RECURRENCE_TYPE_ONE_TIME"
          ],
          "description": "Output only. The recurrence type of the line item.",
          "readOnly": true,
          "enumDescriptions": [
            "The line item recurrence type is unspecified.",
            "The line item recurs periodically.",
            "The line item does not recur in the future."
          ]
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of this line item."
        },
        "product": {
          "type": "string",
          "description": "Required. Product resource name that identifies one the line item The format is 'partners/{partner_id}/products/{product_id}'."
        },
        "state": {
          "enum": [
            "LINE_ITEM_STATE_UNSPECIFIED",
            "LINE_ITEM_STATE_ACTIVE",
            "LINE_ITEM_STATE_INACTIVE",
            "LINE_ITEM_STATE_NEW",
            "LINE_ITEM_STATE_ACTIVATING",
            "LINE_ITEM_STATE_DEACTIVATING",
            "LINE_ITEM_STATE_WAITING_TO_DEACTIVATE",
            "LINE_ITEM_STATE_OFF_CYCLE_CHARGING"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The line item is in ACTIVE state. If the subscription is cancelled or suspended, the line item will not be charged even if the line item is active.",
            "The line item is in INACTIVE state.",
            "The line item is new, and is not activated or charged yet.",
            "The line item is being activated in order to be charged. If a free trial applies to the line item, the line item is pending a prorated charge at the end of the free trial period, as indicated by `line_item_free_trial_end_time`.",
            "The line item is being deactivated, and a prorated refund in being processed.",
            "The line item is scheduled to be deactivated at the end of the current cycle.",
            "Line item is being charged off-cycle."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the line item."
        },
        "lineItemIndex": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. A unique index of the subscription line item."
        },
        "lineItemPromotionSpecs": {
          "type": "array",
          "description": "Optional. The promotions applied on the line item. It can be: - a free trial promotion, which overrides the subscription-level free trial promotion. - an introductory pricing promotion. When used as input in Create or Provision API, specify its resource name only.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          }
        },
        "productPayload": {
          "description": "Optional. Product specific payload for this line item.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ProductPayload"
        },
        "oneTimeRecurrenceDetails": {
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails",
          "description": "Output only. Details only set for a ONE_TIME recurrence line item."
        }
      },
      "description": "Individual line item definition of a subscription.",
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem"
    }
  },
  "documentationLink": "https://developers.google.com/payments/reseller/subscription/",
  "canonicalName": "Payments Reseller Subscription",
  "id": "paymentsresellersubscription:v1",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "baseUrl": "https://paymentsresellersubscription.googleapis.com/",
  "basePath": "",
  "ownerName": "Google",
  "description": ""
}
