{
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "batchPath": "batch",
  "basePath": "",
  "mtlsRootUrl": "https://paymentsresellersubscription.mtls.googleapis.com/",
  "rootUrl": "https://paymentsresellersubscription.googleapis.com/",
  "name": "paymentsresellersubscription",
  "version_module": true,
  "discoveryVersion": "v1",
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://paymentsresellersubscription.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "revision": "20240404",
  "ownerName": "Google",
  "canonicalName": "Payments Reseller Subscription",
  "servicePath": "",
  "schemas": {
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse",
      "type": "object",
      "properties": {
        "cycleEndTime": {
          "type": "string",
          "description": "The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. Example, \"cycleEndTime\":\"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime"
        },
        "freeTrialEndTime": {
          "description": "End of the free trial period, in ISO 8061 format. UTC timezone. Example, \"freeTrialEndTime\":\"2019-08-31T17:28:54.564Z\" This time will be set the same as initial subscription creation time if no free trial period is offered to the partner.",
          "type": "string",
          "format": "google-datetime"
        },
        "renewalTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\""
        }
      },
      "description": "Response that contains the timestamps after the extension."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ProductBundleDetailsBundleElement": {
      "description": "The individual product that is included in the bundle.",
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ProductBundleDetailsBundleElement",
      "properties": {
        "product": {
          "readOnly": true,
          "type": "string",
          "description": "Required. Output only. Product resource name that identifies the bundle element. The format is 'partners/{partner_id}/products/{product_id}'."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Location": {
      "description": "Describes a location of an end user.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Location",
      "properties": {
        "postalCode": {
          "description": "The postal code this location refers to. Ex. \"94043\"",
          "type": "string"
        },
        "regionCode": {
          "description": "2-letter ISO region code for current content region. Ex. “US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest": {
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
        },
        "pageSize": {
          "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest",
      "type": "object",
      "description": "Request to find eligible promotions for the current user."
    },
    "GoogleTypeLocalizedText": {
      "description": "Localized variant of a text in a particular language.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Localized string in the language corresponding to language_code below.",
          "type": "string"
        },
        "languageCode": {
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      },
      "id": "GoogleTypeLocalizedText"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest",
      "type": "object",
      "properties": {},
      "description": "Request to revoke a cancellation request."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec": {
      "properties": {
        "recurrenceCount": {
          "description": "Output only. Output Only. The duration of an introductory offer in billing cycles.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "discountRatioMicros": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The discount percentage in micros. For example, 50,000 represents 5%."
        },
        "discountAmount": {
          "readOnly": true,
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Amount",
          "description": "Output only. The discount amount. The value is positive."
        },
        "regionCode": {
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\".",
          "type": "string"
        }
      },
      "description": "The duration of an introductory pricing promotion.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem": {
      "description": "Individual line item definition of a subscription.",
      "type": "object",
      "properties": {
        "lineItemFreeTrialEndTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The free trial end time will be populated after the line item is successfully processed. End time of the line item free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "format": "google-datetime"
        },
        "productPayload": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ProductPayload",
          "description": "Optional. Product specific payload for this line item."
        },
        "lineItemIndex": {
          "readOnly": true,
          "description": "Output only. A unique index of the subscription line item.",
          "format": "int32",
          "type": "integer"
        },
        "oneTimeRecurrenceDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails",
          "readOnly": true,
          "description": "Output only. Details only set for a ONE_TIME recurrence line item."
        },
        "product": {
          "description": "Required. Product resource name that identifies one the line item The format is 'partners/{partner_id}/products/{product_id}'.",
          "type": "string"
        },
        "state": {
          "enum": [
            "LINE_ITEM_STATE_UNSPECIFIED",
            "LINE_ITEM_STATE_ACTIVE",
            "LINE_ITEM_STATE_INACTIVE",
            "LINE_ITEM_STATE_NEW",
            "LINE_ITEM_STATE_ACTIVATING",
            "LINE_ITEM_STATE_DEACTIVATING",
            "LINE_ITEM_STATE_WAITING_TO_DEACTIVATE",
            "LINE_ITEM_STATE_OFF_CYCLE_CHARGING"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The line item is in ACTIVE state. If the subscription is cancelled or suspended, the line item will not be charged even if the line item is active.",
            "The line item is in INACTIVE state.",
            "The line item is new, and is not activated or charged yet.",
            "The line item is being activated in order to be charged. If a free trial applies to the line item, the line item is pending a prorated charge at the end of the free trial period, as indicated by `line_item_free_trial_end_time`.",
            "The line item is being deactivated, and a prorated refund in being processed.",
            "The line item is scheduled to be deactivated at the end of the current cycle.",
            "Line item is being charged off-cycle."
          ],
          "type": "string",
          "description": "Output only. The state of the line item.",
          "readOnly": true
        },
        "amount": {
          "readOnly": true,
          "description": "Output only. The price of the product/service in this line item. The amount could be the wholesale price, or it can include a cost of sale based on the contract.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Amount"
        },
        "bundleDetails": {
          "description": "Output only. The bundle details for the line item. Only populated if the line item corresponds to a hard bundle.",
          "$ref": "SubscriptionLineItemBundleDetails",
          "readOnly": true
        },
        "finiteBillingCycleDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FiniteBillingCycleDetails",
          "description": "Optional. Details for a subscription line item with finite billing cycles. If unset, the line item will be charged indefinitely. Used only with LINE_ITEM_RECURRENCE_TYPE_PERIODIC."
        },
        "recurrenceType": {
          "description": "Output only. The recurrence type of the line item.",
          "enum": [
            "LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED",
            "LINE_ITEM_RECURRENCE_TYPE_PERIODIC",
            "LINE_ITEM_RECURRENCE_TYPE_ONE_TIME"
          ],
          "type": "string",
          "enumDescriptions": [
            "The line item recurrence type is unspecified.",
            "The line item recurs periodically.",
            "The line item does not recur in the future."
          ],
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of this line item.",
          "readOnly": true
        },
        "lineItemPromotionSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          },
          "description": "Optional. The promotions applied on the line item. It can be: - an introductory pricing promotion. - a free trial promotion. This feature is not enabled. If used, the request will be rejected. When used as input in Create or Provision API, specify its resource name only."
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem"
    },
    "SubscriptionLineItemBundleDetails": {
      "type": "object",
      "description": "The bundle details for a line item corresponding to a hard bundle.",
      "id": "SubscriptionLineItemBundleDetails",
      "properties": {
        "bundleElementDetails": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The details for each element in the hard bundle.",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemBundleDetailsBundleElementDetails"
          }
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "promotions": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          },
          "type": "array",
          "description": "The promotions for the current user."
        }
      },
      "type": "object",
      "description": "Response containing the found promotions for the current user.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Promotion": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Promotion",
      "properties": {
        "freeTrialDuration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "description": "Optional. Specifies the duration of the free trial of the subscription when promotion_type is PROMOTION_TYPE_FREE_TRIAL"
        },
        "promotionType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Output Only. Specifies the type of the promotion.",
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ]
        },
        "startTime": {
          "description": "Optional. Specifies the start time (inclusive) of the period that the promotion is available in.",
          "format": "google-datetime",
          "type": "string"
        },
        "titles": {
          "description": "Output only. Localized human readable name of the promotion.",
          "type": "array",
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          },
          "readOnly": true
        },
        "endTime": {
          "description": "Optional. Specifies the end time (exclusive) of the period that the promotion is available in. If unset, the promotion is available indefinitely.",
          "type": "string",
          "format": "google-datetime"
        },
        "regionCodes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. 2-letter ISO region code where the promotion is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
        },
        "introductoryPricingDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails",
          "description": "Optional. Specifies the introductory pricing details when the promotion_type is PROMOTION_TYPE_INTRODUCTORY_PRICING."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Response only. Resource name of the subscription promotion. It will have the format of \"partners/{partner_id}/promotion/{promotion_id}\""
        },
        "applicableProducts": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The product ids this promotion can be applied to.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A Promotion resource that defines a promotion for a subscription that can be resold."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails",
      "type": "object",
      "description": "Details for a ONE_TIME recurrence line item.",
      "properties": {
        "servicePeriod": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod",
          "readOnly": true,
          "description": "Output only. The service period of the ONE_TIME line item."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest": {
      "description": "Request to cancel a subscription.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest",
      "type": "object",
      "properties": {
        "cancellationReason": {
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "Used for notification only, do not use in Cancel API. User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Used for notification only, do not use in Cancel API. Cancellation due to an unrecoverable system error.",
            "Used for notification only, do not use in Cancel API. The subscription is cancelled by Google automatically since it is no longer valid.",
            "Other reason."
          ],
          "description": "Specifies the reason for the cancellation.",
          "type": "string",
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_SYSTEM_CANCEL",
            "CANCELLATION_REASON_OTHER"
          ]
        },
        "cancelImmediately": {
          "type": "boolean",
          "description": "Optional. If true, Google will cancel the subscription immediately, and may or may not (based on the contract) issue a prorated refund for the remainder of the billing cycle. Otherwise, Google defers the cancelation at renewal_time, and will not issue a refund."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemBundleDetailsBundleElementDetails": {
      "type": "object",
      "description": "The details for an element in the hard bundle.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemBundleDetailsBundleElementDetails",
      "properties": {
        "product": {
          "description": "Output only. Product resource name that identifies the bundle element. The format is 'partners/{partner_id}/products/{product_id}'.",
          "readOnly": true,
          "type": "string"
        },
        "userAccountLinkedTime": {
          "readOnly": true,
          "description": "Output only. The time when this product is linked to an end user.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Product": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Product",
      "type": "object",
      "properties": {
        "priceConfigs": {
          "description": "Output only. Price configs for the product in the available regions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig"
          },
          "readOnly": true
        },
        "subscriptionBillingCycleDuration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "description": "Output only. Specifies the length of the billing cycle of the subscription.",
          "readOnly": true
        },
        "regionCodes": {
          "items": {
            "type": "string"
          },
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "readOnly": true,
          "type": "array"
        },
        "productType": {
          "description": "Output only. Output Only. Specifies the type of the product.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified. It's reserved as an unexpected value, should not be used.",
            "The product is a subscription.",
            "The product is a bundled subscription plan, which includes multiple subscription elements."
          ],
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_SUBSCRIPTION",
            "PRODUCT_TYPE_BUNDLE_SUBSCRIPTION"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. Response only. Resource name of the product. It will have the format of \"partners/{partner_id}/products/{product_id}\""
        },
        "bundleDetails": {
          "$ref": "ProductBundleDetails",
          "readOnly": true,
          "description": "Output only. Output Only. Specifies the details for a bundle product."
        },
        "titles": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Localized human readable name of the product.",
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          }
        },
        "finiteBillingCycleDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FiniteBillingCycleDetails",
          "description": "Optional. Details for a subscription line item with finite billing cycles. If unset, the line item will be charged indefinitely."
        }
      },
      "description": "A Product resource that defines a subscription service that can be resold."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FiniteBillingCycleDetails": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FiniteBillingCycleDetails",
      "properties": {
        "billingCycleCountLimit": {
          "format": "int64",
          "type": "string",
          "description": "Required. The number of a subscription line item billing cycles after which billing will stop automatically."
        }
      },
      "description": "Details for a subscriptiin line item with finite billing cycles.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails": {
      "type": "object",
      "description": "Details about the previous subscription that this new subscription upgrades/downgrades from.",
      "properties": {
        "billingCycleSpec": {
          "enum": [
            "BILLING_CYCLE_SPEC_UNSPECIFIED",
            "BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION",
            "BILLING_CYCLE_SPEC_START_IMMEDIATELY"
          ],
          "description": "Required. Specifies the billing cycle spec for the new upgraded/downgraded subscription.",
          "enumDescriptions": [
            "Billing cycle spec is not specified.",
            "The billing cycle of the new subscription aligns with the previous subscription it upgrades or downgrades from.",
            "The billing cycle of the new subscription starts immediately."
          ],
          "type": "string"
        },
        "previousSubscriptionId": {
          "description": "Required. The previous subscription id to be replaced. This is not the full resource name, use the subscription_id segment only.",
          "type": "string"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse",
      "type": "object",
      "properties": {
        "products": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Product"
          },
          "type": "array",
          "description": "The products for the specified partner."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "Response that contains the products."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload": {
      "description": "Payload specific to Google One products.",
      "properties": {
        "salesChannel": {
          "enumDescriptions": [
            "The channel type is unspecified.",
            "Sold at store.",
            "Sold through partner website.",
            "Sold through partner android app.",
            "Sold through partner iOS app."
          ],
          "description": "The type of sales channel through which the subscription was sold.",
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "CHANNEL_RETAIL",
            "CHANNEL_ONLINE_WEB",
            "CHANNEL_ONLINE_ANDROID_APP",
            "CHANNEL_ONLINE_IOS_APP"
          ],
          "type": "string"
        },
        "storeId": {
          "description": "The identifier for the partner store where the subscription was sold.",
          "type": "string"
        },
        "offering": {
          "enumDescriptions": [
            "The type of partner offering is unspecified.",
            "Google One product purchased as a Value added service in addition to existing partner's products. Customer pays additional amount for Google One product.",
            "Google One product purchased by itself by customer as a value add service. Customer pays additional amount for Google One product.",
            "Product purchased as part of a hard bundle where Google One was included with the bundle. Google One pricing is included in the bundle.",
            "Purchased as part of a bundle where Google One was provided as an option. Google One pricing is included in the bundle."
          ],
          "enum": [
            "OFFERING_UNSPECIFIED",
            "OFFERING_VAS_BUNDLE",
            "OFFERING_VAS_STANDALONE",
            "OFFERING_HARD_BUNDLE",
            "OFFERING_SOFT_BUNDLE"
          ],
          "type": "string",
          "description": "The type of offering the subscription was sold by the partner. e.g. VAS."
        },
        "campaigns": {
          "items": {
            "type": "string"
          },
          "description": "Campaign attributed to sales of this subscription.",
          "type": "array"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails": {
      "properties": {
        "introductoryPricingSpecs": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec"
          },
          "description": "Output only. Specifies the introductory pricing periods.",
          "type": "array"
        }
      },
      "description": "The details of a introductory pricing promotion.",
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ProductPayload": {
      "description": "Specifies product specific payload.",
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ProductPayload",
      "properties": {
        "googleOnePayload": {
          "description": "Product-specific payloads. Payload specific to Google One products.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload"
        },
        "youtubePayload": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload",
          "description": "Payload specific to Youtube products."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec": {
      "type": "object",
      "description": "Describes the spec for one promotion.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec",
      "properties": {
        "promotion": {
          "type": "string",
          "description": "Required. Promotion resource name that identifies a promotion. The format is 'partners/{partner_id}/promotions/{promotion_id}'."
        },
        "type": {
          "type": "string",
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "description": "Output only. The type of the promotion for the spec.",
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "readOnly": true
        },
        "introductoryPricingDetails": {
          "description": "Output only. The details of the introductory pricing spec if the promotion is of type INTRODUCTORY_PRICING.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails",
          "readOnly": true
        },
        "freeTrialDuration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "readOnly": true,
          "description": "Output only. The duration of the free trial if the promotion is of type FREE_TRIAL."
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse": {
      "type": "object",
      "description": "Response that contains the updated subscription resource.",
      "properties": {
        "subscription": {
          "description": "The updated subscription resource.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequestLineItemEntitlementDetails": {
      "description": "The details of the line item to be entitled.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequestLineItemEntitlementDetails",
      "type": "object",
      "properties": {
        "lineItemIndex": {
          "format": "int32",
          "description": "Required. The index of the line item to be entitled.",
          "type": "integer"
        },
        "products": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Only applicable if the line item corresponds to a hard bundle. Product resource names that identify the bundle elements to be entitled in the line item. If unspecified, all bundle elements will be entitled. The format is 'partners/{partner_id}/products/{product_id}'.",
          "type": "array"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails",
      "properties": {
        "reason": {
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_SYSTEM_CANCEL",
            "CANCELLATION_REASON_OTHER"
          ],
          "type": "string",
          "description": "Output only. The reason of the cancellation.",
          "readOnly": true,
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "Used for notification only, do not use in Cancel API. User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Used for notification only, do not use in Cancel API. Cancellation due to an unrecoverable system error.",
            "Used for notification only, do not use in Cancel API. The subscription is cancelled by Google automatically since it is no longer valid.",
            "Other reason."
          ]
        }
      },
      "description": "Describes the details of a cancelled or cancelling subscription."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse",
      "description": "Response that contains the entitled subscription resource.",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "The subscription that has user linked to it.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
        }
      }
    },
    "ProductBundleDetails": {
      "id": "ProductBundleDetails",
      "description": "Details for a bundle product.",
      "properties": {
        "bundleElements": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ProductBundleDetailsBundleElement"
          },
          "type": "array",
          "description": "The individual products that are included in the bundle."
        },
        "entitlementMode": {
          "type": "string",
          "description": "The entitlement mode of the bundle product.",
          "enum": [
            "ENTITLEMENT_MODE_UNSPECIFIED",
            "ENTITLEMENT_MODE_FULL",
            "ENTITLEMENT_MODE_INCREMENTAL"
          ],
          "enumDescriptions": [
            "Unspecified. It's reserved as an unexpected value, should not be used.",
            "All the bundle elements must be fully activated in a single request.",
            "The bundle elements could be incrementally activated."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest",
      "properties": {
        "extension": {
          "description": "Required. Specifies details of the extension. Currently, the duration of the extension must be exactly one billing cycle of the original subscription.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Extension"
        },
        "requestId": {
          "type": "string",
          "description": "Required. Restricted to 36 ASCII characters. A random UUID is recommended. The idempotency key for the request. The ID generation logic is controlled by the partner. request_id should be the same as on retries of the same request. A different request_id must be used for a extension of a different cycle."
        }
      },
      "description": "Request message for extending a Subscription resource. A new recurrence will be made based on the subscription schedule defined by the original product.",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Duration": {
      "type": "object",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
      "properties": {
        "count": {
          "format": "int32",
          "description": "number of duration units to be included.",
          "type": "integer"
        },
        "unit": {
          "description": "The unit used for the duration",
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "MONTH",
            "DAY",
            "HOUR"
          ],
          "enumDescriptions": [
            "Default value, reserved as an invalid or an unexpected value.",
            "Unit of a calendar month.",
            "Unit of a day.",
            "Unit of an hour. It is used for testing."
          ]
        }
      },
      "description": "Describes the length of a period of a time."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse": {
      "description": "Response that contains the cancelled subscription resource.",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "The cancelled subscription resource.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "promotions": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          },
          "description": "The promotions for the specified partner.",
          "type": "array"
        }
      },
      "description": "Response that contains the promotions.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Amount": {
      "type": "object",
      "description": "Describes the amount unit including the currency code.",
      "properties": {
        "amountMicros": {
          "format": "int64",
          "description": "Required. Amount in micros (1_000_000 micros = 1 currency unit)",
          "type": "string"
        },
        "currencyCode": {
          "description": "Required. Currency codes in accordance with [ISO-4217 Currency Codes] (https://en.wikipedia.org/wiki/ISO_4217). For example, USD.",
          "type": "string"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Amount"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig",
      "description": "Configs the prices in an available region.",
      "properties": {
        "amount": {
          "description": "Output only. The price in the region.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Amount",
          "readOnly": true
        },
        "regionCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\"."
        }
      },
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod": {
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. The end time of the service period. Time is exclusive.",
          "type": "string"
        },
        "startTime": {
          "description": "Required. The start time of the service period. Time is inclusive.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod",
      "description": "A description of what time period or moment in time the product or service is being delivered over."
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest": {
      "description": "Partner request for entitling the previously provisioned subscription to an end user. The end user identity is inferred from the request OAuth context.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest",
      "type": "object",
      "properties": {
        "lineItemEntitlementDetails": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequestLineItemEntitlementDetails"
          },
          "description": "Optional. The line items to be entitled. If unspecified, all line items will be entitled.",
          "type": "array"
        }
      }
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Subscription": {
      "description": "A subscription serves as a central billing entity between an external partner and Google. The underlying Google services rely on the subscription state to grant or revoke the user's service entitlement. It's important to note that the subscription state may not always perfectly align with the user's service entitlement. For example, some Google services may continue providing access to the user until the current billing cycle ends, even if the subscription has been immediately canceled. However, other services may not do the same. To fully understand the specific details, please consult the relevant contract or product policy.",
      "properties": {
        "freeTrialEndTime": {
          "description": "Output only. End of the free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "cycleEndTime": {
          "type": "string",
          "description": "Output only. The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. For example: \"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime",
          "readOnly": true
        },
        "redirectUri": {
          "description": "Output only. The place where partners should redirect the end-user to after creation. This field might also be populated when creation failed. However, Partners should always prepare a default URL to redirect the user in case this field is empty.",
          "readOnly": true,
          "type": "string"
        },
        "lineItems": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem"
          },
          "description": "Required. The line items of the subscription."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated timestamp when the subscription is most recently updated. UTC timezone."
        },
        "promotionSpecs": {
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          },
          "description": "Optional. Subscription-level promotions. Only free trial is supported on this level. It determines the first renewal time of the subscription to be the end of the free trial period. Specify the promotion resource name only when used as input.",
          "type": "array"
        },
        "promotions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Deprecated: consider using the top-level `promotion_specs` as the input. Optional. Resource name that identifies one or more promotions that can be applied on the product. A typical promotion for a subscription is Free trial. The format will be 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "array"
        },
        "partnerUserToken": {
          "type": "string",
          "description": "Required. Identifier of the end-user in partner’s system. The value is restricted to 63 ASCII characters at the maximum."
        },
        "processingState": {
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PROCESSING_STATE_CANCELLING",
            "PROCESSING_STATE_RECURRING"
          ],
          "description": "Output only. Describes the processing state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "enumDescriptions": [
            "The processing state is unspecified.",
            "The subscription is being cancelled.",
            "The subscription is recurring."
          ],
          "readOnly": true,
          "type": "string"
        },
        "cancellationDetails": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails",
          "description": "Output only. Describes the details of a cancelled subscription. Only applicable to subscription of state `STATE_CANCELLED`.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated timestamp when the subscription is created. UTC timezone.",
          "format": "google-datetime"
        },
        "products": {
          "description": "Optional. Deprecated: consider using `line_items` as the input. Required. Resource name that identifies the purchased products. The format will be 'partners/{partner_id}/products/{product_id}'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. Resource name of the subscription. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\". This is available for authorizeAddon, but otherwise is response only.",
          "type": "string"
        },
        "renewalTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime"
        },
        "endUserEntitled": {
          "readOnly": true,
          "description": "Output only. Indicates if the subscription is entitled to the end user.",
          "type": "boolean"
        },
        "purchaseTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The timestamp when the user transaction was made with the Partner. Specify for the case of \"bundle with choice\", and it must be before the provision_time (when the user makes a selection)."
        },
        "serviceLocation": {
          "description": "Required. The location that the service is provided as indicated by the partner.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Location"
        },
        "upgradeDowngradeDetails": {
          "description": "Optional. Details about the previous subscription that this new subscription upgrades/downgrades from. Only populated if this subscription is an upgrade/downgrade from another subscription.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails"
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The subscription is created, a state before it is moved to STATE_ACTIVE.",
            "The subscription is active.",
            "The subscription is cancelled. This is the final state of the subscription, as it can no longer be modified or reactivated.",
            "The subscription is in grace period. It can happen: 1) in manual extend mode, the subscription is not extended by the partner at the end of current cycle. 2) for outbound authorization enabled partners, a renewal purchase order is rejected.",
            "The subscription is waiting to be cancelled by the next recurrence cycle.",
            "The subscription is suspended."
          ],
          "readOnly": true,
          "description": "Output only. Describes the state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CREATED",
            "STATE_ACTIVE",
            "STATE_CANCELLED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_CANCEL_AT_END_OF_CYCLE",
            "STATE_SUSPENDED"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
      "type": "object"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Extension": {
      "type": "object",
      "properties": {
        "duration": {
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
          "description": "Required. Specifies the period of access the subscription should grant."
        },
        "partnerUserToken": {
          "description": "Required. Identifier of the end-user in partner’s system.",
          "type": "string"
        }
      },
      "description": "Describes the details of an extension request.",
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Extension"
    },
    "GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload",
      "description": "Payload specific to Youtube products.",
      "properties": {
        "accessEndTime": {
          "format": "google-datetime",
          "description": "Output only. The access expiration time for this line item.",
          "type": "string",
          "readOnly": true
        },
        "partnerPlanType": {
          "type": "string",
          "description": "Optional. Specifies the plan type offered to the end user by the partner.",
          "enum": [
            "PARTNER_PLAN_TYPE_UNSPECIFIED",
            "PARTNER_PLAN_TYPE_STANDALONE",
            "PARTNER_PLAN_TYPE_HARD_BUNDLE",
            "PARTNER_PLAN_TYPE_SOFT_BUNDLE"
          ],
          "enumDescriptions": [
            "Unspecified. Should not use, reserved as an invalid value.",
            "This item is offered as a standalone product to the user.",
            "This item is bundled with another partner offering, the item is provisioned at purchase time.",
            "This item is bundled with another partner offering, the item is provisioned after puchase, when the user opts in this Google service."
          ]
        },
        "partnerEligibilityIds": {
          "description": "The list of eligibility_ids which are applicable for the line item.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Payments Reseller Subscription API",
  "id": "paymentsresellersubscription:v1",
  "documentationLink": "https://developers.google.com/payments/reseller/subscription/",
  "resources": {
    "partners": {
      "resources": {
        "subscriptions": {
          "methods": {
            "get": {
              "description": "Used by partners to get a subscription by id. It should be called directly by the partner using service accounts.",
              "scopes": [
                "openid"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the subscription resource to retrieve. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.get",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}"
            },
            "cancel": {
              "id": "paymentsresellersubscription.partners.subscriptions.cancel",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse"
              },
              "scopes": [
                "openid"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Used by partners to cancel a subscription service either immediately or by the end of the current billing cycle for their customers. It should be called directly by the partner using service accounts.",
              "path": "v1/{+name}:cancel",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:cancel",
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the subscription resource to be cancelled. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "provision": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\"."
                },
                "subscriptionId": {
                  "type": "string",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one.",
                  "location": "query"
                }
              },
              "description": "Used by partners to provision a subscription for their customers. This creates a subscription without associating it with the end user account. EntitleSubscription must be called separately using OAuth in order for the end user account to be associated with the subscription. It should be called directly by the partner using service accounts.",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "scopes": [
                "openid"
              ],
              "path": "v1/{+parent}/subscriptions:provision",
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/subscriptions:provision",
              "id": "paymentsresellersubscription.partners.subscriptions.provision"
            },
            "extend": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:extend",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.extend",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse"
              },
              "path": "v1/{+name}:extend",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the subscription resource to be extended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\".",
                  "required": true,
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$"
                }
              },
              "scopes": [
                "openid"
              ],
              "description": "[Opt-in only] Most partners should be on auto-extend by default. Used by partners to extend a subscription service for their customers on an ongoing basis for the subscription to remain active and renewable. It should be called directly by the partner using service accounts."
            },
            "entitle": {
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse"
              },
              "path": "v1/{+name}:entitle",
              "scopes": [
                "openid"
              ],
              "id": "paymentsresellersubscription.partners.subscriptions.entitle",
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the subscription resource that is entitled to the current end user. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest"
              },
              "description": "Used by partners to entitle a previously provisioned subscription to the current end user. The end user identity is inferred from the authorized credential of the request. This API must be authorized by the end user using OAuth.",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:entitle",
              "httpMethod": "POST"
            },
            "create": {
              "id": "paymentsresellersubscription.partners.subscriptions.create",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "path": "v1/{+parent}/subscriptions",
              "scopes": [
                "openid"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Used by partners to create a subscription for their customers. The created subscription is associated with the end user inferred from the end user credentials. This API must be authorized by the end user using OAuth.",
              "flatPath": "v1/partners/{partnersId}/subscriptions",
              "parameters": {
                "subscriptionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one."
                },
                "parent": {
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "type": "string",
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "required": true
                }
              }
            },
            "undoCancel": {
              "description": "Used by partners to revoke the pending cancellation of a subscription, which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription is already cancelled, the request will fail. It should be called directly by the partner using service accounts.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:undoCancel",
              "path": "v1/{+name}:undoCancel",
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the subscription resource whose pending cancellation needs to be undone. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest"
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.undoCancel",
              "scopes": [
                "openid"
              ]
            }
          }
        },
        "products": {
          "methods": {
            "list": {
              "scopes": [
                "openid"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/products",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse"
              },
              "id": "paymentsresellersubscription.partners.products.list",
              "path": "v1/{+parent}/products",
              "httpMethod": "GET",
              "description": "To retrieve the products that can be resold by the partner. It should be autenticated with a service account.",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Specifies the filters for the product results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
                  "type": "string"
                }
              }
            }
          }
        },
        "promotions": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/promotions",
              "description": "To retrieve the promotions, such as free trial, that can be used by the partner. It should be autenticated with a service account.",
              "scopes": [
                "openid"
              ],
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse"
              },
              "path": "v1/{+parent}/promotions",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "paymentsresellersubscription.partners.promotions.list"
            },
            "findEligible": {
              "id": "paymentsresellersubscription.partners.promotions.findEligible",
              "parameterOrder": [
                "parent"
              ],
              "description": "To find eligible promotions for the current user. The API requires user authorization via OAuth. The bare minimum oauth scope `openid` is sufficient, which will skip the consent screen.",
              "flatPath": "v1/partners/{partnersId}/promotions:findEligible",
              "scopes": [
                "openid"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/promotions:findEligible",
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest"
              }
            }
          }
        }
      }
    }
  }
}
