{
  "title": "People API",
  "servicePath": "",
  "revision": "20210617",
  "kind": "discovery#restDescription",
  "version": "v1",
  "id": "people:v1",
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "rootUrl": "https://people.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "documentationLink": "https://developers.google.com/people/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "See and download your personal phone numbers"
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "See and download all of your Google Account email addresses"
        },
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        },
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's GSuite directory"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "See and download your exact date of birth"
        }
      }
    }
  },
  "canonicalName": "People Service",
  "baseUrl": "https://people.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    }
  },
  "basePath": "",
  "description": "Provides access to information about profiles and contacts.",
  "name": "people",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "schemas": {
    "ListContactGroupsResponse": {
      "id": "ListContactGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used to retrieve the next page of results."
        },
        "nextSyncToken": {
          "description": "The token that can be used to retrieve changes since the last request.",
          "type": "string"
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of items in the list without pagination.",
          "format": "int32"
        },
        "contactGroups": {
          "type": "array",
          "items": {
            "$ref": "ContactGroup"
          },
          "description": "The list of contact groups. Members of the contact groups are not populated."
        }
      },
      "type": "object",
      "description": "The response to a list contact groups request."
    },
    "UpdateContactGroupRequest": {
      "properties": {
        "readGroupFields": {
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
          "type": "string"
        },
        "contactGroup": {
          "description": "Required. The contact group to update.",
          "$ref": "ContactGroup"
        },
        "updateGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "A request to update an existing user contact group. All updated fields will be replaced.",
      "id": "UpdateContactGroupRequest",
      "type": "object"
    },
    "Relation": {
      "type": "object",
      "id": "Relation",
      "description": "A person's relation to another person.",
      "properties": {
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header."
        },
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`"
        },
        "metadata": {
          "description": "Metadata about the relation.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "SipAddress": {
      "type": "object",
      "id": "SipAddress",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the SIP address."
        },
        "value": {
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`",
          "type": "string"
        }
      },
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet."
    },
    "Birthday": {
      "type": "object",
      "id": "Birthday",
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to.",
      "properties": {
        "date": {
          "description": "The date of the birthday.",
          "$ref": "Date"
        },
        "metadata": {
          "description": "Metadata about the birthday.",
          "$ref": "FieldMetadata"
        },
        "text": {
          "type": "string",
          "description": "A free-form string representing the user's birthday."
        }
      }
    },
    "DomainMembership": {
      "description": "A Google Workspace Domain membership.",
      "id": "DomainMembership",
      "type": "object",
      "properties": {
        "inViewerDomain": {
          "type": "boolean",
          "description": "True if the person is in the viewer's Google Workspace domain."
        }
      }
    },
    "Name": {
      "properties": {
        "middleName": {
          "type": "string",
          "description": "The middle name(s)."
        },
        "phoneticFamilyName": {
          "type": "string",
          "description": "The family name spelled as it sounds."
        },
        "phoneticFullName": {
          "description": "The full name spelled as it sounds.",
          "type": "string"
        },
        "phoneticHonorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes spelled as they sound."
        },
        "phoneticMiddleName": {
          "type": "string",
          "description": "The middle name(s) spelled as they sound."
        },
        "metadata": {
          "description": "Metadata about the name.",
          "$ref": "FieldMetadata"
        },
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "familyName": {
          "description": "The family name.",
          "type": "string"
        },
        "phoneticHonorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes spelled as they sound."
        },
        "displayNameLastFirst": {
          "description": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "type": "string",
          "readOnly": true
        },
        "phoneticGivenName": {
          "type": "string",
          "description": "The given name spelled as it sounds."
        },
        "honorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes, such as `Jr.`"
        },
        "honorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header."
        },
        "unstructuredName": {
          "description": "The free form name value.",
          "type": "string"
        }
      },
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "type": "object",
      "id": "Name"
    },
    "ListConnectionsResponse": {
      "description": "The response to a request for the authenticated user's connections.",
      "type": "object",
      "properties": {
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token. When the response is paginated, only the last page will contain `nextSyncToken`."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Person"
          },
          "description": "The list of people that the requestor is connected to."
        },
        "totalItems": {
          "description": "The total number of items in the list without pagination.",
          "format": "int32",
          "type": "integer"
        },
        "totalPeople": {
          "type": "integer",
          "description": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination.",
          "format": "int32"
        }
      },
      "id": "ListConnectionsResponse"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "PersonMetadata": {
      "description": "The metadata about a person.",
      "id": "PersonMetadata",
      "type": "object",
      "properties": {
        "linkedPeopleResourceNames": {
          "type": "array",
          "description": "Output only. Resource names of people linked to this resource.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "sources": {
          "type": "array",
          "description": "The sources of data for the person.",
          "items": {
            "$ref": "Source"
          }
        },
        "objectType": {
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object.",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "readOnly": true
        },
        "previousResourceNames": {
          "type": "array",
          "description": "Output only. Any former resource names this person has had. Populated only for [`connections.list`](/people/api/rest/v1/people.connections/list) requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "deleted": {
          "description": "Output only. True if the person resource has been deleted. Populated only for [`connections.list`](/people/api/rest/v1/people.connections/list) and [`otherContacts.list`](/people/api/rest/v1/otherContacts/list) requests that include a sync token.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "ModifyContactGroupMembersResponse": {
      "type": "object",
      "id": "ModifyContactGroupMembersResponse",
      "properties": {
        "notFoundResourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The contact people resource names that were not found."
        },
        "canNotRemoveLastContactGroupResourceNames": {
          "description": "The contact people resource names that cannot be removed from their last contact group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response to a modify contact group members request."
    },
    "Organization": {
      "description": "A person's past or current organization. Overlapping date ranges are permitted.",
      "properties": {
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym.",
          "type": "string"
        },
        "current": {
          "type": "boolean",
          "description": "True if the organization is the person's current organization; false if the organization is a past organization."
        },
        "endDate": {
          "description": "The end date when the person left the organization.",
          "$ref": "Date"
        },
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        },
        "title": {
          "description": "The person's job title at the organization.",
          "type": "string"
        },
        "phoneticName": {
          "description": "The phonetic name of the organization.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the organization."
        },
        "location": {
          "description": "The location of the organization office the person works at.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "domain": {
          "type": "string",
          "description": "The domain name associated with the organization; for example, `google.com`."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the organization."
        },
        "jobDescription": {
          "type": "string",
          "description": "The person's job description at the organization."
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date when the person joined the organization."
        },
        "type": {
          "type": "string",
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`"
        }
      },
      "type": "object",
      "id": "Organization"
    },
    "Occupation": {
      "type": "object",
      "description": "A person's occupation.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the occupation."
        },
        "value": {
          "description": "The occupation; for example, `carpenter`.",
          "type": "string"
        }
      },
      "id": "Occupation"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Date"
    },
    "Locale": {
      "description": "A person's locale preference.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the locale.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47) language tag representing the locale.",
          "type": "string"
        }
      },
      "id": "Locale"
    },
    "CalendarUrl": {
      "type": "object",
      "id": "CalendarUrl",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the calendar URL."
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "type": {
          "type": "string",
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`"
        },
        "url": {
          "type": "string",
          "description": "The calendar URL."
        }
      },
      "description": "A person's calendar URL."
    },
    "CreateContactGroupRequest": {
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to create.",
          "$ref": "ContactGroup"
        },
        "readGroupFields": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * metadata * name",
          "format": "google-fieldmask"
        }
      },
      "id": "CreateContactGroupRequest",
      "type": "object",
      "description": "A request to create a new contact group."
    },
    "Residence": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The address of the residence."
        },
        "current": {
          "description": "True if the residence is the person's current residence; false if the residence is a past residence.",
          "type": "boolean"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the residence."
        }
      },
      "id": "Residence",
      "type": "object",
      "description": "**DEPRECATED**: Please use `person.locations` instead. A person's past or current residence."
    },
    "Location": {
      "type": "object",
      "properties": {
        "buildingId": {
          "type": "string",
          "description": "The building identifier."
        },
        "deskCode": {
          "type": "string",
          "description": "The individual desk location."
        },
        "value": {
          "type": "string",
          "description": "The free-form value of the location."
        },
        "type": {
          "type": "string",
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`"
        },
        "floor": {
          "description": "The floor name or number.",
          "type": "string"
        },
        "current": {
          "type": "boolean",
          "description": "Whether the location is the current location."
        },
        "floorSection": {
          "type": "string",
          "description": "The floor section in `floor_name`."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the location."
        }
      },
      "description": "A person's location.",
      "id": "Location"
    },
    "Tagline": {
      "type": "object",
      "id": "Tagline",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the tagline."
        },
        "value": {
          "type": "string",
          "description": "The tagline."
        }
      },
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person."
    },
    "Biography": {
      "id": "Biography",
      "properties": {
        "value": {
          "type": "string",
          "description": "The short biography."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the biography."
        },
        "contentType": {
          "description": "The content type of the biography.",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ],
          "type": "string"
        }
      },
      "description": "A person's short biography.",
      "type": "object"
    },
    "Photo": {
      "description": "A person's photo. A picture shown next to the person's name to help others recognize the person.",
      "id": "Photo",
      "type": "object",
      "properties": {
        "default": {
          "description": "True if the photo is a default photo; false if the photo is a user-provided photo.",
          "type": "boolean"
        },
        "url": {
          "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the photo."
        }
      }
    },
    "BatchDeleteContactsRequest": {
      "id": "BatchDeleteContactsRequest",
      "type": "object",
      "description": "A request to delete a batch of existing contacts.",
      "properties": {
        "resourceNames": {
          "description": "Required. The resource names of the contact to delete. It's repeatable. Allows up to 500 resource names in a single request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CopyOtherContactToMyContactsGroupRequest": {
      "description": "A request to copy an \"Other contact\" to my contacts group.",
      "type": "object",
      "id": "CopyOtherContactToMyContactsGroupRequest",
      "properties": {
        "readMask": {
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask",
          "type": "string"
        },
        "sources": {
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ],
            "type": "string"
          },
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "type": "array"
        },
        "copyMask": {
          "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "ExternalId": {
      "type": "object",
      "id": "ExternalId",
      "properties": {
        "type": {
          "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the external ID."
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the external ID."
        }
      },
      "description": "An identifier from an external entity related to the person."
    },
    "Url": {
      "description": "A person's associated URLs.",
      "properties": {
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the URL.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The URL.",
          "type": "string"
        },
        "type": {
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`",
          "type": "string"
        }
      },
      "id": "Url",
      "type": "object"
    },
    "PhoneNumber": {
      "type": "object",
      "id": "PhoneNumber",
      "properties": {
        "value": {
          "type": "string",
          "description": "The phone number."
        },
        "canonicalForm": {
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
          "type": "string",
          "readOnly": true
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the phone number."
        },
        "type": {
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`",
          "type": "string"
        }
      },
      "description": "A person's phone number."
    },
    "UserDefined": {
      "id": "UserDefined",
      "properties": {
        "key": {
          "type": "string",
          "description": "The end user specified key of the user defined data."
        },
        "metadata": {
          "description": "Metadata about the user defined data.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The end user specified value of the user defined data.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Arbitrary user data that is populated by the end users."
    },
    "Address": {
      "type": "object",
      "description": "A person's physical address. May be a P.O. box or street address. All fields are optional.",
      "id": "Address",
      "properties": {
        "region": {
          "description": "The region of the address; for example, the state or province.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the address. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the address."
        },
        "city": {
          "description": "The city of the address.",
          "type": "string"
        },
        "extendedAddress": {
          "type": "string",
          "description": "The extended address of the address; for example, the apartment number."
        },
        "countryCode": {
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country code of the address.",
          "type": "string"
        },
        "poBox": {
          "description": "The P.O. box of the address.",
          "type": "string"
        },
        "country": {
          "description": "The country of the address.",
          "type": "string"
        },
        "streetAddress": {
          "description": "The street address.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code of the address.",
          "type": "string"
        },
        "formattedValue": {
          "description": "The unstructured value of the address. If this is not set by the user it will be automatically constructed from structured values.",
          "type": "string"
        }
      }
    },
    "ContactGroupMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The time the group was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "deleted": {
          "description": "Output only. True if the contact group resource has been deleted. Populated only for [`ListContactGroups`](/people/api/rest/v1/contactgroups/list) requests that include a sync token.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "The metadata about a contact group.",
      "id": "ContactGroupMetadata"
    },
    "RelationshipStatus": {
      "type": "object",
      "description": "**DEPRECATED**: No data will be returned A person's relationship status.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The relationship status. The value can be custom or one of these predefined values: * `single` * `inARelationship` * `engaged` * `married` * `itsComplicated` * `openRelationship` * `widowed` * `inDomesticPartnership` * `inCivilUnion`"
        },
        "formattedValue": {
          "description": "Output only. The value of the relationship status translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship status."
        }
      },
      "id": "RelationshipStatus"
    },
    "ClientData": {
      "type": "object",
      "id": "ClientData",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the client data."
        },
        "key": {
          "description": "The client specified key of the client data.",
          "type": "string"
        },
        "value": {
          "description": "The client specified value of the client data.",
          "type": "string"
        }
      },
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed."
    },
    "ListOtherContactsResponse": {
      "type": "object",
      "id": "ListOtherContactsResponse",
      "properties": {
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token."
        },
        "otherContacts": {
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information.",
          "type": "array",
          "items": {
            "$ref": "Person"
          }
        },
        "totalSize": {
          "description": "The total number of other contacts in the list without pagination.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The response to a request for the authenticated user's \"Other contacts\"."
    },
    "BraggingRights": {
      "id": "BraggingRights",
      "properties": {
        "metadata": {
          "description": "Metadata about the bragging rights.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The bragging rights; for example, `climbed mount everest`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "**DEPRECATED**: No data will be returned A person's bragging rights."
    },
    "ListDirectoryPeopleResponse": {
      "type": "object",
      "properties": {
        "people": {
          "items": {
            "$ref": "Person"
          },
          "description": "The list of people in the domain directory.",
          "type": "array"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response to a request for the authenticated user's domain directory.",
      "id": "ListDirectoryPeopleResponse"
    },
    "EmailAddress": {
      "id": "EmailAddress",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the email address. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the email."
        },
        "formattedType": {
          "description": "Output only. The type of the email address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The email address.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the email address."
        }
      },
      "description": "A person's email address."
    },
    "GroupClientData": {
      "properties": {
        "key": {
          "description": "The client specified key of the client data.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The client specified value of the client data."
        }
      },
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "type": "object",
      "id": "GroupClientData"
    },
    "BatchCreateContactsRequest": {
      "id": "BatchCreateContactsRequest",
      "description": "A request to create a batch of contacts.",
      "properties": {
        "contacts": {
          "items": {
            "$ref": "ContactToCreate"
          },
          "type": "array",
          "description": "Required. The contact to create. Allows up to 200 contacts in a single request."
        },
        "sources": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ]
          },
          "description": "Optional. A mask of what source types to return in the post mutate read. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        },
        "readMask": {
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on each person are returned in the response. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MiscKeyword": {
      "type": "object",
      "id": "MiscKeyword",
      "properties": {
        "formattedType": {
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The value of the miscellaneous keyword.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the miscellaneous keyword.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "description": "The miscellaneous keyword type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ]
        }
      },
      "description": "A person's miscellaneous keyword."
    },
    "ContactGroup": {
      "type": "object",
      "properties": {
        "metadata": {
          "readOnly": true,
          "$ref": "ContactGroupMetadata",
          "description": "Output only. Metadata about the contact group."
        },
        "resourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
          "type": "string"
        },
        "memberResourceNames": {
          "type": "array",
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The contact group name set by the group owner or a system provided name for system groups."
        },
        "memberCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "type": "integer"
        },
        "groupType": {
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "readOnly": true,
          "description": "Output only. The contact group type.",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ],
          "type": "string"
        },
        "clientData": {
          "description": "The group's client data.",
          "items": {
            "$ref": "GroupClientData"
          },
          "type": "array"
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "formattedName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name."
        }
      },
      "description": "A contact group.",
      "id": "ContactGroup"
    },
    "SearchResult": {
      "type": "object",
      "description": "A result of a search query.",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The matched Person."
        }
      },
      "id": "SearchResult"
    },
    "Membership": {
      "description": "A person's membership in a group. Only contact group memberships can be modified.",
      "type": "object",
      "id": "Membership",
      "properties": {
        "contactGroupMembership": {
          "description": "The contact group membership.",
          "$ref": "ContactGroupMembership"
        },
        "domainMembership": {
          "readOnly": true,
          "$ref": "DomainMembership",
          "description": "Output only. The domain membership."
        },
        "metadata": {
          "description": "Metadata about the membership.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "Interest": {
      "description": "One of the person's interests.",
      "id": "Interest",
      "type": "object",
      "properties": {
        "value": {
          "description": "The interest; for example, `stargazing`.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the interest."
        }
      }
    },
    "BatchUpdateContactsResponse": {
      "id": "BatchUpdateContactsResponse",
      "type": "object",
      "description": "The response to a request to create a batch of contacts.",
      "properties": {
        "updateResult": {
          "description": "A map of resource names to the contacts that were updated, unless the request `read_mask` is empty.",
          "type": "object",
          "additionalProperties": {
            "$ref": "PersonResponse"
          }
        }
      }
    },
    "RelationshipInterest": {
      "id": "RelationshipInterest",
      "description": "**DEPRECATED**: No data will be returned A person's relationship interest .",
      "type": "object",
      "properties": {
        "formattedValue": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship interest."
        },
        "value": {
          "type": "string",
          "description": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`"
        }
      }
    },
    "Nickname": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the nickname.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ],
          "type": "string",
          "description": "The type of the nickname.",
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ]
        },
        "value": {
          "type": "string",
          "description": "The nickname."
        }
      },
      "id": "Nickname",
      "description": "A person's nickname."
    },
    "FieldMetadata": {
      "id": "FieldMetadata",
      "description": "Metadata about a field.",
      "properties": {
        "primary": {
          "description": "True if the field is the primary field; false if the field is a secondary field.",
          "type": "boolean"
        },
        "verified": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person."
        },
        "source": {
          "description": "The source of the field.",
          "$ref": "Source"
        }
      },
      "type": "object"
    },
    "FileAs": {
      "id": "FileAs",
      "description": "The name that should be used to sort the person in a list.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the file-as.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The file-as value",
          "type": "string"
        }
      }
    },
    "UpdateContactPhotoResponse": {
      "id": "UpdateContactPhotoResponse",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The updated person, if person_fields is set in the UpdateContactPhotoRequest; otherwise this will be unset."
        }
      },
      "description": "The response for updating a contact's photo.",
      "type": "object"
    },
    "SearchResponse": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "description": "The results of the request.",
          "items": {
            "$ref": "SearchResult"
          }
        }
      },
      "description": "The response to a search request for the authenticated user, given a query.",
      "id": "SearchResponse"
    },
    "AgeRangeType": {
      "description": "A person's age range.",
      "type": "object",
      "properties": {
        "ageRange": {
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "description": "The age range."
        },
        "metadata": {
          "description": "Metadata about the age range.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "AgeRangeType"
    },
    "Gender": {
      "description": "A person's gender.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the gender."
        },
        "formattedValue": {
          "readOnly": true,
          "description": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized.",
          "type": "string"
        },
        "addressMeAs": {
          "type": "string",
          "description": "The type of pronouns that should be used to address the person. The value can be custom or one of these predefined values: * `male` * `female` * `other`"
        },
        "value": {
          "description": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Gender"
    },
    "CoverPhoto": {
      "type": "object",
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the cover photo."
        },
        "metadata": {
          "description": "Metadata about the cover photo.",
          "$ref": "FieldMetadata"
        },
        "default": {
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo.",
          "type": "boolean"
        }
      },
      "id": "CoverPhoto"
    },
    "Person": {
      "id": "Person",
      "type": "object",
      "properties": {
        "coverPhotos": {
          "description": "Output only. The person's cover photos.",
          "items": {
            "$ref": "CoverPhoto"
          },
          "readOnly": true,
          "type": "array"
        },
        "biographies": {
          "items": {
            "$ref": "Biography"
          },
          "description": "The person's biographies. This field is a singleton for contact sources.",
          "type": "array"
        },
        "ageRanges": {
          "readOnly": true,
          "description": "Output only. The person's age ranges.",
          "type": "array",
          "items": {
            "$ref": "AgeRangeType"
          }
        },
        "metadata": {
          "readOnly": true,
          "$ref": "PersonMetadata",
          "description": "Output only. Metadata about the person."
        },
        "taglines": {
          "items": {
            "$ref": "Tagline"
          },
          "readOnly": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "type": "array"
        },
        "memberships": {
          "items": {
            "$ref": "Membership"
          },
          "description": "The person's group memberships.",
          "type": "array"
        },
        "relationshipStatuses": {
          "readOnly": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses.",
          "items": {
            "$ref": "RelationshipStatus"
          },
          "type": "array"
        },
        "birthdays": {
          "items": {
            "$ref": "Birthday"
          },
          "type": "array",
          "description": "The person's birthdays. This field is a singleton for contact sources."
        },
        "imClients": {
          "type": "array",
          "items": {
            "$ref": "ImClient"
          },
          "description": "The person's instant messaging clients."
        },
        "emailAddresses": {
          "description": "The person's email addresses. For [`connections.list`](/people/api/rest/v1/people.connections/list), [`otherContacts.list`](/people/api/rest/v1/otherContacts/list), and [`people.listDirectoryPeople`](/people/api/rest/v1/people/listDirectoryPeople) the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling ['people.get'](/people/api/rest/v1/people/get).",
          "type": "array",
          "items": {
            "$ref": "EmailAddress"
          }
        },
        "fileAses": {
          "description": "The person's file-ases.",
          "type": "array",
          "items": {
            "$ref": "FileAs"
          }
        },
        "photos": {
          "type": "array",
          "items": {
            "$ref": "Photo"
          },
          "readOnly": true,
          "description": "Output only. The person's photos."
        },
        "braggingRights": {
          "items": {
            "$ref": "BraggingRights"
          },
          "type": "array",
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights."
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "relationshipInterests": {
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RelationshipInterest"
          }
        },
        "interests": {
          "items": {
            "$ref": "Interest"
          },
          "type": "array",
          "description": "The person's interests."
        },
        "organizations": {
          "description": "The person's past or current organizations.",
          "items": {
            "$ref": "Organization"
          },
          "type": "array"
        },
        "phoneNumbers": {
          "items": {
            "$ref": "PhoneNumber"
          },
          "type": "array",
          "description": "The person's phone numbers. For [`connections.list`](/people/api/rest/v1/people.connections/list), [`otherContacts.list`](/people/api/rest/v1/otherContacts/list), and [`people.listDirectoryPeople`](/people/api/rest/v1/people/listDirectoryPeople) the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling ['people.get'](/people/api/rest/v1/people/get)."
        },
        "userDefined": {
          "description": "The person's user defined data.",
          "type": "array",
          "items": {
            "$ref": "UserDefined"
          }
        },
        "externalIds": {
          "items": {
            "$ref": "ExternalId"
          },
          "description": "The person's external IDs.",
          "type": "array"
        },
        "occupations": {
          "description": "The person's occupations.",
          "items": {
            "$ref": "Occupation"
          },
          "type": "array"
        },
        "skills": {
          "items": {
            "$ref": "Skill"
          },
          "description": "The person's skills.",
          "type": "array"
        },
        "calendarUrls": {
          "description": "The person's calendar URLs.",
          "items": {
            "$ref": "CalendarUrl"
          },
          "type": "array"
        },
        "ageRange": {
          "readOnly": true,
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ]
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the person, assigned by the server. An ASCII string with a max length of 27 characters, in the form of `people/{person_id}`."
        },
        "names": {
          "type": "array",
          "items": {
            "$ref": "Name"
          },
          "description": "The person's names. This field is a singleton for contact sources."
        },
        "residences": {
          "items": {
            "$ref": "Residence"
          },
          "type": "array",
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences."
        },
        "urls": {
          "description": "The person's associated URLs.",
          "type": "array",
          "items": {
            "$ref": "Url"
          }
        },
        "addresses": {
          "type": "array",
          "items": {
            "$ref": "Address"
          },
          "description": "The person's street addresses."
        },
        "miscKeywords": {
          "description": "The person's miscellaneous keywords.",
          "type": "array",
          "items": {
            "$ref": "MiscKeyword"
          }
        },
        "clientData": {
          "items": {
            "$ref": "ClientData"
          },
          "type": "array",
          "description": "The person's client data."
        },
        "locations": {
          "description": "The person's locations.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "events": {
          "description": "The person's events.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        },
        "sipAddresses": {
          "type": "array",
          "items": {
            "$ref": "SipAddress"
          },
          "description": "The person's SIP addresses."
        },
        "relations": {
          "type": "array",
          "description": "The person's relations.",
          "items": {
            "$ref": "Relation"
          }
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "type": "array",
          "description": "The person's locale preferences."
        },
        "nicknames": {
          "items": {
            "$ref": "Nickname"
          },
          "type": "array",
          "description": "The person's nicknames."
        },
        "genders": {
          "items": {
            "$ref": "Gender"
          },
          "description": "The person's genders. This field is a singleton for contact sources.",
          "type": "array"
        }
      },
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true."
    },
    "ContactGroupMembership": {
      "type": "object",
      "id": "ContactGroupMembership",
      "description": "A Google contact group membership.",
      "properties": {
        "contactGroupId": {
          "readOnly": true,
          "description": "Output only. The contact group ID for the contact group membership.",
          "type": "string"
        },
        "contactGroupResourceName": {
          "type": "string",
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership."
        }
      }
    },
    "ImClient": {
      "id": "ImClient",
      "properties": {
        "formattedProtocol": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "description": "Metadata about the IM client.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "protocol": {
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The user name used in the IM client."
        },
        "formattedType": {
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "A person's instant messaging client."
    },
    "Event": {
      "properties": {
        "formattedType": {
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "metadata": {
          "description": "Metadata about the event.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "type": "string",
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`"
        },
        "date": {
          "$ref": "Date",
          "description": "The date of the event."
        }
      },
      "type": "object",
      "id": "Event",
      "description": "An event related to the person."
    },
    "ContactToCreate": {
      "properties": {
        "contactPerson": {
          "$ref": "Person",
          "description": "Required. The person data to populate a newly created source."
        }
      },
      "id": "ContactToCreate",
      "type": "object",
      "description": "A wrapper that contains the person data to populate a newly created source."
    },
    "BatchUpdateContactsRequest": {
      "type": "object",
      "properties": {
        "contacts": {
          "additionalProperties": {
            "$ref": "Person"
          },
          "description": "Required. A map of resource names to the person data to be updated. Allows up to 200 contacts in a single request.",
          "type": "object"
        },
        "readMask": {
          "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ],
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ]
          }
        },
        "updateMask": {
          "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All specified fields will be replaced, or cleared if left empty for each person. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "BatchUpdateContactsRequest",
      "description": "A request to update a batch of contacts."
    },
    "BatchGetContactGroupsResponse": {
      "type": "object",
      "id": "BatchGetContactGroupsResponse",
      "description": "The response to a batch get contact groups request.",
      "properties": {
        "responses": {
          "description": "The list of responses for each requested contact group resource.",
          "type": "array",
          "items": {
            "$ref": "ContactGroupResponse"
          }
        }
      }
    },
    "SearchDirectoryPeopleResponse": {
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query.",
      "id": "SearchDirectoryPeopleResponse",
      "type": "object",
      "properties": {
        "totalSize": {
          "description": "The total number of items in the list without pagination.",
          "type": "integer",
          "format": "int32"
        },
        "people": {
          "type": "array",
          "description": "The list of people in the domain directory that match the query.",
          "items": {
            "$ref": "Person"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "DeleteContactPhotoResponse": {
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset."
        }
      },
      "type": "object",
      "description": "The response for deleting a contact's photo.",
      "id": "DeleteContactPhotoResponse"
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ContactGroupResponse": {
      "properties": {
        "contactGroup": {
          "$ref": "ContactGroup",
          "description": "The contact group."
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        },
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name."
        }
      },
      "id": "ContactGroupResponse",
      "type": "object",
      "description": "The response for a specific contact group."
    },
    "Source": {
      "id": "Source",
      "properties": {
        "etag": {
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "profileMetadata": {
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE.",
          "readOnly": true,
          "$ref": "ProfileMetadata"
        },
        "type": {
          "description": "The source type.",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[Google Workspace domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[Google Workspace domain shared contact](https://support.google.com/a/answer/9281635)."
          ]
        },
        "id": {
          "type": "string",
          "description": "The unique identifier within the source type generated by the server."
        }
      },
      "description": "The source of a field.",
      "type": "object"
    },
    "Skill": {
      "properties": {
        "value": {
          "description": "The skill; for example, `underwater basket weaving`.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the skill.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "Skill",
      "description": "A skill that the person has.",
      "type": "object"
    },
    "ModifyContactGroupMembersRequest": {
      "properties": {
        "resourceNamesToRemove": {
          "type": "array",
          "description": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "items": {
            "type": "string"
          }
        },
        "resourceNamesToAdd": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000."
        }
      },
      "type": "object",
      "description": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups.",
      "id": "ModifyContactGroupMembersRequest"
    },
    "UpdateContactPhotoRequest": {
      "description": "A request to update an existing contact's photo. All requests must have a valid photo format: JPEG or PNG.",
      "type": "object",
      "properties": {
        "personFields": {
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "type": "string"
        },
        "photoBytes": {
          "description": "Required. Raw photo bytes",
          "format": "byte",
          "type": "string"
        },
        "sources": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ]
          },
          "type": "array",
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        }
      },
      "id": "UpdateContactPhotoRequest"
    },
    "PersonResponse": {
      "description": "The response for a single person",
      "type": "object",
      "properties": {
        "requestedResourceName": {
          "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL.",
          "type": "string"
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        },
        "httpStatusCode": {
          "type": "integer",
          "format": "int32",
          "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html)."
        },
        "person": {
          "description": "The person.",
          "$ref": "Person"
        }
      },
      "id": "PersonResponse"
    },
    "ProfileMetadata": {
      "properties": {
        "objectType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The profile object type.",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ]
        },
        "userTypes": {
          "items": {
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ],
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Currents user.",
              "The user is a Google Workspace user."
            ],
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The user types.",
          "type": "array"
        }
      },
      "id": "ProfileMetadata",
      "type": "object",
      "description": "The metadata about a profile."
    },
    "BatchCreateContactsResponse": {
      "properties": {
        "createdPeople": {
          "description": "The contacts that were created, unless the request `read_mask` is empty.",
          "items": {
            "$ref": "PersonResponse"
          },
          "type": "array"
        }
      },
      "id": "BatchCreateContactsResponse",
      "type": "object",
      "description": "The response to a request to create a batch of contacts."
    },
    "GetPeopleResponse": {
      "description": "The response to a get request for a list of people by resource name.",
      "properties": {
        "responses": {
          "items": {
            "$ref": "PersonResponse"
          },
          "description": "The response for each requested resource name.",
          "type": "array"
        }
      },
      "id": "GetPeopleResponse",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "resources": {
    "contactGroups": {
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "id": "people.contactGroups.members.modify",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "path": "v1/{+resourceName}/members:modify",
              "parameters": {
                "resourceName": {
                  "description": "Required. The resource name of the contact group to modify.",
                  "required": true,
                  "pattern": "^contactGroups/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "parameterOrder": [
                "resourceName"
              ]
            }
          }
        }
      },
      "methods": {
        "get": {
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "parameters": {
            "maxMembers": {
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "resourceName": {
              "type": "string",
              "pattern": "^contactGroups/[^/]+$",
              "location": "path",
              "description": "Required. The resource name of the contact group to get.",
              "required": true
            },
            "groupFields": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name"
            }
          },
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name.",
          "id": "people.contactGroups.get",
          "response": {
            "$ref": "ContactGroup"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ]
        },
        "update": {
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "parameters": {
            "resourceName": {
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "pattern": "^contactGroups/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "description": "Update the name of an existing contact group owned by the authenticated user.",
          "id": "people.contactGroups.update",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "ContactGroup"
          },
          "path": "v1/{+resourceName}"
        },
        "create": {
          "id": "people.contactGroups.create",
          "response": {
            "$ref": "ContactGroup"
          },
          "parameterOrder": [],
          "flatPath": "v1/contactGroups",
          "path": "v1/contactGroups",
          "request": {
            "$ref": "CreateContactGroupRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "httpMethod": "POST",
          "description": "Create a new contact group owned by the authenticated user.",
          "parameters": {}
        },
        "batchGet": {
          "parameters": {
            "groupFields": {
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "maxMembers": {
              "format": "int32",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members.",
              "location": "query",
              "type": "integer"
            },
            "resourceNames": {
              "type": "string",
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
              "repeated": true,
              "location": "query"
            }
          },
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "flatPath": "v1/contactGroups:batchGet",
          "parameterOrder": [],
          "path": "v1/contactGroups:batchGet",
          "id": "people.contactGroups.batchGet",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "flatPath": "v1/contactGroups",
          "id": "people.contactGroups.list",
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated.",
          "parameterOrder": [],
          "parameters": {
            "groupFields": {
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "path": "v1/contactGroups"
        },
        "delete": {
          "parameters": {
            "resourceName": {
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the contact group to delete.",
              "pattern": "^contactGroups/[^/]+$",
              "type": "string"
            },
            "deleteContacts": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Set to true to also delete the contacts in the specified group."
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name.",
          "id": "people.contactGroups.delete",
          "path": "v1/{+resourceName}",
          "httpMethod": "DELETE",
          "flatPath": "v1/contactGroups/{contactGroupsId}"
        }
      }
    },
    "people": {
      "methods": {
        "deleteContactPhoto": {
          "id": "people.people.deleteContactPhoto",
          "description": "Delete a contact's photo.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "DeleteContactPhotoResponse"
          },
          "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
          "path": "v1/{+resourceName}:deleteContactPhoto",
          "parameters": {
            "sources": {
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "type": "string"
            },
            "resourceName": {
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the contact whose photo will be deleted.",
              "pattern": "^people/[^/]+$",
              "type": "string"
            },
            "personFields": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "resourceName"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "requestMask.includeField": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`."
            },
            "sources": {
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_PROFILE and READ_SOURCE_TYPE_CONTACT if not set.",
              "location": "query",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "repeated": true
            },
            "personFields": {
              "type": "string",
              "description": "Required. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask"
            },
            "resourceName": {
              "required": true,
              "pattern": "^people/[^/]+$",
              "description": "Required. The resource name of the person to provide information about. - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by [`people.connections.list`](/people/api/rest/v1/people.connections/list).",
              "type": "string",
              "location": "path"
            }
          },
          "id": "people.people.get",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Provides information about a person by specifying a resource name. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "response": {
            "$ref": "Person"
          },
[...]
