{
  "title": "People API",
  "batchPath": "batch",
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "revision": "20210105",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "id": "people:v1",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "name": "people",
  "version_module": true,
  "servicePath": "",
  "version": "v1",
  "canonicalName": "People Service",
  "documentationLink": "https://developers.google.com/people/",
  "baseUrl": "https://people.googleapis.com/",
  "rootUrl": "https://people.googleapis.com/",
  "resources": {
    "people": {
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+resourceName}/connections",
              "id": "people.people.connections.list",
              "description": "Provides a list of the authenticated user's contacts. The request returns a 400 error if `personFields` is not specified. The request returns a 410 error if `sync_token` is specified and is expired. Sync tokens expire after 7 days to prevent data drift between clients and the server. To handle a sync token expired error, a request should be sent without `sync_token` to get all contacts.",
              "parameterOrder": [
                "resourceName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ],
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "parameters": {
                "personFields": {
                  "format": "google-fieldmask",
                  "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
                  "location": "query",
                  "type": "string"
                },
                "requestMask.includeField": {
                  "format": "google-fieldmask",
                  "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
                  "location": "query",
                  "type": "string"
                },
                "sources": {
                  "enum": [
                    "READ_SOURCE_TYPE_UNSPECIFIED",
                    "READ_SOURCE_TYPE_PROFILE",
                    "READ_SOURCE_TYPE_CONTACT",
                    "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                  ],
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified.",
                    "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                    "Returns SourceType.CONTACT.",
                    "Returns SourceType.DOMAIN_CONTACT."
                  ],
                  "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
                },
                "sortOrder": {
                  "type": "string",
                  "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`.",
                  "location": "query",
                  "enumDescriptions": [
                    "Sort people by when they were changed; older entries first.",
                    "Sort people by when they were changed; newer entries first.",
                    "Sort people by first name.",
                    "Sort people by last name."
                  ],
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "LAST_MODIFIED_DESCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ]
                },
                "resourceName": {
                  "description": "Required. The resource name to return connections for. Only `people/me` is valid.",
                  "required": true,
                  "type": "string",
                  "pattern": "^people/[^/]+$",
                  "location": "path"
                },
                "requestSyncToken": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Whether the response should include `next_sync_token` on the last page, which can be used to get all changes since the last request. For subsequent sync requests use the `sync_token` param instead. Initial full sync requests that specify `request_sync_token` and do not specify `sync_token` have an additional rate limit per user. Each client should generally only be doing a full sync once every few days per user and so should not hit this limit."
                },
                "pageSize": {
                  "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "syncToken": {
                  "location": "query",
                  "description": "Optional. A sync token, received from a previous `ListConnections` call. Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `ListConnections` except `page_size` and `page_token` must match the initial call that provided the sync token. Sync tokens expire after seven days, after which a full sync request without a `sync_token` should be made.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListConnections` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnections` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "flatPath": "v1/people/{peopleId}/connections"
            }
          }
        }
      },
      "methods": {
        "get": {
          "response": {
            "$ref": "Person"
          },
          "description": "Provides information about a person by specifying a resource name. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "httpMethod": "GET",
          "path": "v1/{+resourceName}",
          "id": "people.people.get",
          "parameters": {
            "personFields": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Required. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string"
            },
            "resourceName": {
              "location": "path",
              "description": "Required. The resource name of the person to provide information about. - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by [`people.connections.list`](/people/api/rest/v1/people.connections/list).",
              "type": "string",
              "pattern": "^people/[^/]+$",
              "required": true
            },
            "sources": {
              "location": "query",
              "repeated": true,
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_PROFILE and READ_SOURCE_TYPE_CONTACT if not set.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ]
            },
            "requestMask.includeField": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "flatPath": "v1/people/{peopleId}",
          "parameterOrder": [
            "resourceName"
          ]
        },
        "createContact": {
          "parameters": {
            "personFields": {
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask",
              "location": "query"
            },
            "sources": {
              "repeated": true,
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ]
            }
          },
          "request": {
            "$ref": "Person"
          },
          "parameterOrder": [],
          "flatPath": "v1/people:createContact",
          "response": {
            "$ref": "Person"
          },
          "httpMethod": "POST",
          "id": "people.people.createContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Create a new contact and return the person resource for that contact. The request returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names",
          "path": "v1/people:createContact"
        },
        "searchDirectoryPeople": {
          "id": "people.people.searchDirectoryPeople",
          "httpMethod": "GET",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory that match the search query.",
          "path": "v1/people:searchDirectoryPeople",
          "parameterOrder": [],
          "flatPath": "v1/people:searchDirectoryPeople",
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "response": {
            "$ref": "SearchDirectoryPeopleResponse"
          },
          "parameters": {
            "query": {
              "description": "Required. Prefix query that matches fields in the person. Does NOT use the read_mask for determining what fields to match.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 500, inclusive. Defaults to 100 if not set or set to 0."
            },
            "sources": {
              "repeated": true,
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "G Suite domain shared contact.",
                "G Suite domain profile."
              ],
              "type": "string",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "description": "Required. Directory sources to return."
            },
            "readMask": {
              "location": "query",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `SearchDirectoryPeople` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchDirectoryPeople` must match the call that provided the page token.",
              "location": "query"
            },
            "mergeSources": {
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "type": "string",
              "repeated": true,
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ]
            }
          }
        },
        "deleteContact": {
          "path": "v1/{+resourceName}:deleteContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "httpMethod": "DELETE",
          "description": "Delete a contact person. Any non-contact data will not be deleted.",
          "response": {
            "$ref": "Empty"
          },
          "id": "people.people.deleteContact",
          "parameterOrder": [
            "resourceName"
          ],
          "parameters": {
            "resourceName": {
              "type": "string",
              "pattern": "^people/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the contact to delete."
            }
          },
          "flatPath": "v1/people/{peopleId}:deleteContact"
        },
        "getBatchGet": {
          "id": "people.people.getBatchGet",
          "parameterOrder": [],
          "flatPath": "v1/people:batchGet",
          "description": "Provides information about a list of specific people by specifying a list of requested resource names. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "path": "v1/people:batchGet",
          "response": {
            "$ref": "GetPeopleResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "sources": {
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "repeated": true,
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "location": "query"
            },
            "personFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            },
            "resourceNames": {
              "type": "string",
              "repeated": true,
              "description": "Required. The resource names of the people to provide information about. It's repeatable. The URL query parameter should be resourceNames=\u003cname1\u003e&resourceNames=\u003cname2\u003e&... - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by [`people.connections.list`](/people/api/rest/v1/people.connections/list). You can include up to 50 resource names in one request.",
              "location": "query"
            },
            "requestMask.includeField": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "type": "string"
            }
          }
        },
        "updateContact": {
          "response": {
            "$ref": "Person"
          },
          "request": {
            "$ref": "Person"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "v1/people/{peopleId}:updateContact",
          "parameters": {
            "updatePersonFields": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All updated fields will be replaced. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
              "type": "string",
              "location": "query"
            },
            "resourceName": {
              "type": "string",
              "location": "path",
              "pattern": "^people/[^/]+$",
              "required": true,
              "description": "The resource name for the person, assigned by the server. An ASCII string with a max length of 27 characters, in the form of `people/{person_id}`."
            },
            "personFields": {
              "description": "Optional. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "sources": {
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ]
            }
          },
          "id": "people.people.updateContact",
          "httpMethod": "PATCH",
          "path": "v1/{+resourceName}:updateContact",
          "description": "Update contact data for an existing contact person. Any non-contact data will not be modified. Any non-contact data in the person to update will be ignored. All fields specified in the `update_mask` will be replaced. The server returns a 400 error if `person.metadata.sources` is not specified for the contact to be updated or if there is no contact source. The server returns a 400 error with reason `\"failedPrecondition\"` if `person.metadata.sources.etag` is different than the contact's etag, which indicates the contact has changed since its data was read. Clients should get the latest person and merge their updates into the latest person. The server returns a 400 error if `memberships` are being updated and there are no contact group memberships specified on the person. The server returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        },
        "listDirectoryPeople": {
          "path": "v1/people:listDirectoryPeople",
          "response": {
            "$ref": "ListDirectoryPeopleResponse"
          },
          "parameters": {
            "requestSyncToken": {
              "location": "query",
              "description": "Optional. Whether the response should include `next_sync_token`, which can be used to get all changes since the last request. For subsequent sync requests use the `sync_token` param instead.",
              "type": "boolean"
            },
            "sources": {
              "type": "string",
              "location": "query",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "repeated": true,
              "description": "Required. Directory sources to return.",
              "enumDescriptions": [
                "Unspecified.",
                "G Suite domain shared contact.",
                "G Suite domain profile."
              ]
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0."
            },
            "mergeSources": {
              "repeated": true,
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListDirectoryPeople` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDirectoryPeople` must match the call that provided the page token.",
              "location": "query"
            },
            "readMask": {
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask"
            },
            "syncToken": {
              "description": "Optional. A sync token, received from a previous `ListDirectoryPeople` call. Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `ListDirectoryPeople` must match the call that provided the sync token.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "people.people.listDirectoryPeople",
          "flatPath": "v1/people:listDirectoryPeople",
          "httpMethod": "GET",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ]
        },
        "updateContactPhoto": {
          "parameterOrder": [
            "resourceName"
          ],
          "request": {
            "$ref": "UpdateContactPhotoRequest"
          },
          "response": {
            "$ref": "UpdateContactPhotoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Person resource name"
            }
          },
          "httpMethod": "PATCH",
          "id": "people.people.updateContactPhoto",
          "flatPath": "v1/people/{peopleId}:updateContactPhoto",
          "path": "v1/{+resourceName}:updateContactPhoto",
          "description": "Update a contact's photo."
        },
        "deleteContactPhoto": {
          "httpMethod": "DELETE",
          "response": {
            "$ref": "DeleteContactPhotoResponse"
          },
          "id": "people.people.deleteContactPhoto",
          "parameters": {
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the contact whose photo will be deleted."
            },
            "sources": {
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "repeated": true
            },
            "personFields": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Delete a contact's photo.",
          "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
          "path": "v1/{+resourceName}:deleteContactPhoto"
        }
      }
    },
    "contactGroups": {
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "path": "v1/{+resourceName}/members:modify",
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "parameters": {
                "resourceName": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the contact group to modify.",
                  "pattern": "^contactGroups/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resourceName"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "id": "people.contactGroups.members.modify"
            }
          }
        }
      },
      "methods": {
        "get": {
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "id": "people.contactGroups.get",
          "response": {
            "$ref": "ContactGroup"
          },
          "parameters": {
            "resourceName": {
              "required": true,
              "type": "string",
              "description": "Required. The resource name of the contact group to get.",
              "pattern": "^contactGroups/[^/]+$",
              "location": "path"
            },
            "maxMembers": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members.",
              "location": "query"
            }
          },
          "path": "v1/{+resourceName}",
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name."
        },
        "batchGet": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "parameterOrder": [],
          "parameters": {
            "maxMembers": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members."
            },
            "resourceNames": {
              "description": "Required. The resource names of the contact groups to get.",
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1/contactGroups:batchGet",
          "path": "v1/contactGroups:batchGet",
          "httpMethod": "GET",
          "id": "people.contactGroups.batchGet",
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          }
        },
        "create": {
          "request": {
            "$ref": "CreateContactGroupRequest"
          },
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "ContactGroup"
          },
          "id": "people.contactGroups.create",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/contactGroups",
          "description": "Create a new contact group owned by the authenticated user.",
          "httpMethod": "POST",
          "flatPath": "v1/contactGroups"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "flatPath": "v1/contactGroups",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "syncToken": {
              "location": "query",
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned.",
              "type": "string"
            },
            "pageToken": {
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated.",
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "id": "people.contactGroups.list",
          "parameterOrder": [],
          "path": "v1/contactGroups"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "deleteContacts": {
              "type": "boolean",
              "description": "Optional. Set to true to also delete the contacts in the specified group.",
              "location": "query"
            },
            "resourceName": {
              "location": "path",
              "required": true,
              "pattern": "^contactGroups/[^/]+$",
              "description": "Required. The resource name of the contact group to delete.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/{+resourceName}",
          "id": "people.contactGroups.delete",
          "response": {
            "$ref": "Empty"
          },
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name.",
          "flatPath": "v1/contactGroups/{contactGroupsId}"
        },
        "update": {
          "response": {
            "$ref": "ContactGroup"
          },
          "parameters": {
            "resourceName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "pattern": "^contactGroups/[^/]+$"
            }
          },
          "id": "people.contactGroups.update",
          "description": "Update the name of an existing contact group owned by the authenticated user.",
          "parameterOrder": [
            "resourceName"
          ],
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/{+resourceName}",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "httpMethod": "PUT"
        }
      }
    },
    "otherContacts": {
      "methods": {
        "list": {
          "description": "List all \"Other contacts\", that is contacts that are not in a contact group. \"Other contacts\" are typically auto created contacts from interactions.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "path": "v1/otherContacts",
          "parameterOrder": [],
          "id": "people.otherContacts.list",
          "parameters": {
            "syncToken": {
              "description": "Optional. A sync token, received from a previous `ListOtherContacts` call. Provide this to retrieve only the resources changed since the last request. Sync requests that specify `sync_token` have an additional rate limit. When syncing, all other parameters provided to `ListOtherContacts` must match the call that provided the sync token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. The number of \"Other contacts\" to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query"
            },
            "requestSyncToken": {
              "description": "Optional. Whether the response should include `next_sync_token`, which can be used to get all changes since the last request. For subsequent sync requests use the `sync_token` param instead. Initial sync requests that specify `request_sync_token` have an additional rate limit.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListOtherContacts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOtherContacts` must match the call that provided the page token.",
              "location": "query"
            },
            "readMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * names * phoneNumbers",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListOtherContactsResponse"
          },
          "flatPath": "v1/otherContacts",
          "httpMethod": "GET"
        },
        "copyOtherContactToMyContactsGroup": {
          "request": {
            "$ref": "CopyOtherContactToMyContactsGroupRequest"
          },
          "path": "v1/{+resourceName}:copyOtherContactToMyContactsGroup",
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceName"
          ],
          "id": "people.otherContacts.copyOtherContactToMyContactsGroup",
          "flatPath": "v1/otherContacts/{otherContactsId}:copyOtherContactToMyContactsGroup",
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the \"Other contact\" to copy.",
              "pattern": "^otherContacts/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "response": {
            "$ref": "Person"
          },
          "description": "Copies an \"Other contact\" to a new contact in the user's \"myContacts\" group"
        }
      }
    }
  },
  "description": "Provides access to information about profiles and contacts.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "View your email addresses"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "View your complete date of birth"
        },
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's GSuite directory"
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "View your email address"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "View your phone numbers"
        }
      }
    }
  },
  "basePath": "",
  "schemas": {
    "ListConnectionsResponse": {
      "properties": {
        "totalItems": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of items in the list without pagination."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token. When the response is paginated, only the last page will contain `nextSyncToken`."
        },
        "connections": {
          "description": "The list of people that the requestor is connected to.",
          "items": {
            "$ref": "Person"
          },
          "type": "array"
        },
        "totalPeople": {
          "format": "int32",
          "description": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination.",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The response to a request for the authenticated user's connections.",
      "type": "object",
      "id": "ListConnectionsResponse"
    },
    "Residence": {
      "description": "**DEPRECATED**: Please use `person.locations` instead. A person's past or current residence.",
      "properties": {
        "current": {
          "description": "True if the residence is the person's current residence; false if the residence is a past residence.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Metadata about the residence.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The address of the residence.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Residence"
    },
    "BraggingRights": {
      "id": "BraggingRights",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the bragging rights."
        },
        "value": {
          "type": "string",
          "description": "The bragging rights; for example, `climbed mount everest`."
        }
      },
      "description": "**DEPRECATED**: No data will be returned A person's bragging rights.",
      "type": "object"
    },
    "ContactGroupResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "Status",
          "description": "The status of the response."
        },
        "contactGroup": {
          "$ref": "ContactGroup",
          "description": "The contact group."
        },
        "requestedResourceName": {
          "description": "The original requested resource name.",
          "type": "string"
        }
      },
      "id": "ContactGroupResponse",
      "description": "The response for a specific contact group."
    },
    "RelationshipInterest": {
      "type": "object",
      "id": "RelationshipInterest",
      "description": "**DEPRECATED**: No data will be returned A person's relationship interest .",
      "properties": {
        "metadata": {
          "description": "Metadata about the relationship interest.",
          "$ref": "FieldMetadata"
        },
        "formattedValue": {
          "type": "string",
          "description": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`"
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status"
    },
    "DomainMembership": {
      "properties": {
        "inViewerDomain": {
          "type": "boolean",
          "description": "True if the person is in the viewer's G Suite domain."
        }
      },
      "description": "A G Suite Domain membership.",
      "id": "DomainMembership",
      "type": "object"
    },
    "BatchGetContactGroupsResponse": {
      "description": "The response to a batch get contact groups request.",
      "type": "object",
      "id": "BatchGetContactGroupsResponse",
      "properties": {
        "responses": {
          "type": "array",
          "description": "The list of responses for each requested contact group resource.",
          "items": {
            "$ref": "ContactGroupResponse"
          }
        }
      }
    },
    "UpdateContactPhotoResponse": {
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The updated person, if person_fields is set in the UpdateContactPhotoRequest; otherwise this will be unset."
        }
      },
      "type": "object",
      "id": "UpdateContactPhotoResponse",
      "description": "The response for updating a contact's photo."
    },
    "UpdateContactGroupRequest": {
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to update.",
          "$ref": "ContactGroup"
        }
      },
      "description": "A request to update an existing user contact group. All updated fields will be replaced.",
      "id": "UpdateContactGroupRequest",
      "type": "object"
    },
    "Biography": {
      "description": "A person's short biography.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the biography."
        },
        "value": {
          "type": "string",
          "description": "The short biography."
        },
        "contentType": {
          "description": "The content type of the biography.",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "Biography"
    },
    "ListContactGroupsResponse": {
      "description": "The response to a list contact groups request.",
      "id": "ListContactGroupsResponse",
      "properties": {
        "nextSyncToken": {
          "type": "string",
          "description": "The token that can be used to retrieve changes since the last request."
        },
        "totalItems": {
          "format": "int32",
          "description": "The total number of items in the list without pagination.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "The token that can be used to retrieve the next page of results.",
          "type": "string"
        },
        "contactGroups": {
          "description": "The list of contact groups. Members of the contact groups are not populated.",
          "type": "array",
          "items": {
            "$ref": "ContactGroup"
          }
        }
      },
      "type": "object"
    },
    "RelationshipStatus": {
      "description": "**DEPRECATED**: No data will be returned A person's relationship status.",
      "id": "RelationshipStatus",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The relationship status. The value can be custom or one of these predefined values: * `single` * `inARelationship` * `engaged` * `married` * `itsComplicated` * `openRelationship` * `widowed` * `inDomesticPartnership` * `inCivilUnion`"
        },
        "metadata": {
          "description": "Metadata about the relationship status.",
          "$ref": "FieldMetadata"
        },
        "formattedValue": {
          "readOnly": true,
          "description": "Output only. The value of the relationship status translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        }
      }
    },
    "FileAs": {
      "description": "The name that should be used to sort the person in a list.",
      "id": "FileAs",
      "type": "object",
      "properties": {
        "value": {
          "description": "The file-as value",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the file-as."
        }
      }
    },
    "Gender": {
      "properties": {
        "metadata": {
          "description": "Metadata about the gender.",
          "$ref": "FieldMetadata"
        },
        "formattedValue": {
          "readOnly": true,
          "description": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized.",
          "type": "string"
        },
        "addressMeAs": {
          "description": "The type of pronouns that should be used to address the person. The value can be custom or one of these predefined values: * `male` * `female` * `other`",
          "type": "string"
        },
        "value": {
          "description": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A person's gender.",
      "id": "Gender"
    },
    "CreateContactGroupRequest": {
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to create.",
          "$ref": "ContactGroup"
        }
      },
      "description": "A request to create a new contact group.",
      "type": "object",
      "id": "CreateContactGroupRequest"
    },
    "Birthday": {
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to.",
      "id": "Birthday",
      "properties": {
        "text": {
          "description": "A free-form string representing the user's birthday.",
          "type": "string"
        },
        "date": {
          "description": "The date of the birthday.",
          "$ref": "Date"
        },
        "metadata": {
          "description": "Metadata about the birthday.",
          "$ref": "FieldMetadata"
        }
      },
      "type": "object"
    },
    "DeleteContactPhotoResponse": {
      "id": "DeleteContactPhotoResponse",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset."
        }
      },
      "description": "The response for deleteing a contact's photo.",
      "type": "object"
    },
    "PhoneNumber": {
      "type": "object",
      "description": "A person's phone number.",
      "properties": {
        "canonicalForm": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number."
        },
        "value": {
          "type": "string",
          "description": "The phone number."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the phone number."
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "type": {
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`",
          "type": "string"
        }
      },
      "id": "PhoneNumber"
    },
    "Url": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the URL.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`",
          "type": "string"
        },
        "value": {
          "description": "The URL.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        }
      },
      "description": "A person's associated URLs.",
      "id": "Url"
    },
    "Relation": {
      "type": "object",
      "description": "A person's relation to another person.",
      "id": "Relation",
      "properties": {
        "type": {
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header."
        },
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relation."
        }
      }
    },
    "ListDirectoryPeopleResponse": {
      "properties": {
        "people": {
          "description": "The list of people in the domain directory.",
          "items": {
            "$ref": "Person"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token."
        }
      },
      "description": "The response to a request for the authenticated user's domain directory.",
      "id": "ListDirectoryPeopleResponse",
      "type": "object"
    },
    "FieldMetadata": {
      "description": "Metadata about a field.",
      "properties": {
        "primary": {
          "description": "True if the field is the primary field; false if the field is a secondary field.",
          "type": "boolean"
        },
        "source": {
          "$ref": "Source",
          "description": "The source of the field."
        },
        "verified": {
          "description": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "FieldMetadata",
      "type": "object"
    },
    "PersonMetadata": {
      "description": "The metadata about a person.",
      "id": "PersonMetadata",
      "type": "object",
      "properties": {
        "previousResourceNames": {
          "description": "Output only. Any former resource names this person has had. Populated only for [`connections.list`](/people/api/rest/v1/people.connections/list) requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "objectType": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://gsuite.google.com/products/currents/)"
          ],
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object."
        },
        "sources": {
          "type": "array",
          "description": "The sources of data for the person.",
          "items": {
            "$ref": "Source"
          }
        },
        "linkedPeopleResourceNames": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Resource names of people linked to this resource.",
          "items": {
            "type": "string"
          }
        },
        "deleted": {
          "description": "Output only. True if the person resource has been deleted. Populated only for [`connections.list`](/people/api/rest/v1/people.connections/list) requests that include a sync token.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "ContactGroupMembership": {
      "properties": {
        "contactGroupId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The contact group ID for the contact group membership."
        },
        "contactGroupResourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership.",
          "type": "string"
        }
      },
      "description": "A Google contact group membership.",
      "type": "object",
      "id": "ContactGroupMembership"
    },
    "ProfileMetadata": {
      "properties": {
        "objectType": {
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://gsuite.google.com/products/currents/)"
          ],
          "readOnly": true,
          "description": "Output only. The profile object type."
        },
        "userTypes": {
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Currents user.",
              "The user is a G Suite user."
            ],
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ]
          },
          "description": "Output only. The user types.",
          "type": "array"
        }
      },
      "description": "The metadata about a profile.",
      "type": "object",
      "id": "ProfileMetadata"
    },
    "EmailAddress": {
      "properties": {
        "formattedType": {
          "description": "Output only. The type of the email address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the email address. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the email address.",
          "$ref": "FieldMetadata"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the email."
        },
        "value": {
          "description": "The email address.",
          "type": "string"
        }
      },
      "description": "A person's email address.",
      "type": "object",
      "id": "EmailAddress"
    },
    "CopyOtherContactToMyContactsGroupRequest": {
      "description": "A request to copy an \"Other contact\" to my contacts group.",
      "properties": {
        "sources": {
          "items": {
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ]
          },
          "type": "array",
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        },
        "readMask": {
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask",
          "type": "string"
        },
        "copyMask": {
          "type": "string",
          "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "id": "CopyOtherContactToMyContactsGroupRequest"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A person's location.",
      "properties": {
        "deskCode": {
          "type": "string",
          "description": "The individual desk location."
        },
        "floorSection": {
          "type": "string",
          "description": "The floor section in `floor_name`."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the location."
        },
        "type": {
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`",
          "type": "string"
        },
        "floor": {
          "type": "string",
          "description": "The floor name or number."
        },
        "current": {
          "description": "Whether the location is the current location.",
          "type": "boolean"
        },
        "value": {
          "description": "The free-form value of the location.",
          "type": "string"
        },
        "buildingId": {
          "description": "The building identifier.",
          "type": "string"
        }
      }
    },
    "SipAddress": {
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the SIP address."
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "value": {
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`"
        }
      },
      "type": "object",
      "id": "SipAddress"
    },
    "Skill": {
      "id": "Skill",
      "properties": {
        "metadata": {
          "description": "Metadata about the skill.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The skill; for example, `underwater basket weaving`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A skill that the person has."
    },
    "Occupation": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The occupation; for example, `carpenter`.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the occupation.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "Occupation",
      "description": "A person's occupation."
    },
    "ExternalId": {
      "description": "An identifier from an external entity related to the person.",
      "properties": {
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "type": {
          "type": "string",
          "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`"
        },
        "metadata": {
          "description": "Metadata about the external ID.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The value of the external ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExternalId"
    },
    "PersonResponse": {
      "type": "object",
      "id": "PersonResponse",
      "properties": {
        "status": {
          "$ref": "Status",
          "description": "The status of the response."
        },
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL."
        },
        "person": {
          "$ref": "Person",
          "description": "The person."
        },
        "httpStatusCode": {
          "type": "integer",
          "format": "int32",
          "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html)."
        }
      },
      "description": "The response for a single person"
    },
    "Nickname": {
      "type": "object",
      "description": "A person's nickname.",
      "id": "Nickname",
      "properties": {
        "value": {
          "type": "string",
          "description": "The nickname."
        },
        "metadata": {
          "description": "Metadata about the nickname.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ],
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ],
          "type": "string",
          "description": "The type of the nickname."
        }
      }
    },
    "Event": {
      "description": "An event related to the person.",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "The date of the event."
        },
        "metadata": {
          "description": "Metadata about the event.",
          "$ref": "FieldMetadata"
        },
        "formattedType": {
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`"
        }
      },
      "id": "Event",
      "type": "object"
    },
    "Membership": {
      "description": "A person's membership in a group. Only contact group memberships can be modified.",
      "id": "Membership",
      "properties": {
        "contactGroupMembership": {
          "description": "The contact group membership.",
          "$ref": "ContactGroupMembership"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the membership."
        },
        "domainMembership": {
          "description": "Output only. The domain membership.",
          "$ref": "DomainMembership",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Tagline": {
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the tagline."
        },
        "value": {
          "type": "string",
          "description": "The tagline."
        }
      },
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person.",
      "type": "object",
      "id": "Tagline"
    },
    "CoverPhoto": {
      "type": "object",
      "id": "CoverPhoto",
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about.",
      "properties": {
        "default": {
          "type": "boolean",
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo."
        },
        "url": {
          "description": "The URL of the cover photo.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the cover photo."
        }
      }
    },
    "SearchDirectoryPeopleResponse": {
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query.",
      "id": "SearchDirectoryPeopleResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of items in the list without pagination.",
          "format": "int32",
          "type": "integer"
        },
        "people": {
          "type": "array",
          "description": "The list of people in the domain directory that match the query.",
          "items": {
            "$ref": "Person"
          }
        }
      },
      "type": "object"
    },
    "ListOtherContactsResponse": {
      "properties": {
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "otherContacts": {
          "type": "array",
          "items": {
            "$ref": "Person"
          },
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListOtherContactsResponse",
      "type": "object",
      "description": "The response to a request for the authenticated user's \"Other contacts\"."
    },
    "ContactGroupMetadata": {
      "id": "ContactGroupMetadata",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the group was last updated."
        },
        "deleted": {
          "description": "Output only. True if the contact group resource has been deleted. Populated only for [`ListContactGroups`](/people/api/rest/v1/contactgroups/list) requests that include a sync token.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "The metadata about a contact group.",
      "type": "object"
    },
    "Interest": {
      "description": "One of the person's interests.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The interest; for example, `stargazing`."
        },
        "metadata": {
          "description": "Metadata about the interest.",
          "$ref": "FieldMetadata"
        }
      },
      "type": "object",
      "id": "Interest"
    },
    "Name": {
      "properties": {
        "displayNameLastFirst": {
          "readOnly": true,
          "description": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "type": "string"
        },
        "unstructuredName": {
          "description": "The free form name value.",
          "type": "string"
        },
        "honorificPrefix": {
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`",
          "type": "string"
        },
        "phoneticHonorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes spelled as they sound."
        },
        "phoneticFullName": {
          "description": "The full name spelled as it sounds.",
          "type": "string"
        },
        "middleName": {
          "description": "The middle name(s).",
          "type": "string"
        },
        "honorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes, such as `Jr.`"
        },
        "metadata": {
          "description": "Metadata about the name.",
          "$ref": "FieldMetadata"
        },
        "phoneticHonorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes spelled as they sound."
        },
        "phoneticGivenName": {
          "description": "The given name spelled as it sounds.",
          "type": "string"
        },
        "phoneticFamilyName": {
          "type": "string",
          "description": "The family name spelled as it sounds."
        },
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header."
        },
        "familyName": {
          "description": "The family name.",
          "type": "string"
        },
        "phoneticMiddleName": {
          "description": "The middle name(s) spelled as they sound.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "id": "Name"
    },
    "Person": {
      "type": "object",
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true.",
      "id": "Person",
      "properties": {
        "relationshipInterests": {
          "items": {
            "$ref": "RelationshipInterest"
          },
          "type": "array",
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "readOnly": true
        },
        "occupations": {
          "type": "array",
          "description": "The person's occupations.",
          "items": {
            "$ref": "Occupation"
          }
        },
        "resourceName": {
          "description": "The resource name for the person, assigned by the server. An ASCII string with a max length of 27 characters, in the form of `people/{person_id}`.",
          "type": "string"
        },
        "calendarUrls": {
          "description": "The person's calendar URLs.",
          "type": "array",
          "items": {
            "$ref": "CalendarUrl"
          }
        },
        "names": {
          "items": {
            "$ref": "Name"
          },
          "type": "array",
          "description": "The person's names. This field is a singleton for contact sources."
        },
        "photos": {
          "items": {
            "$ref": "Photo"
          },
          "description": "Output only. The person's photos.",
          "type": "array",
          "readOnly": true
        },
        "ageRange": {
          "type": "string",
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ]
        },
        "interests": {
          "description": "The person's interests.",
          "items": {
            "$ref": "Interest"
          },
          "type": "array"
        },
        "residences": {
          "items": {
            "$ref": "Residence"
          },
          "type": "array",
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences."
        },
        "miscKeywords": {
          "type": "array",
          "items": {
            "$ref": "MiscKeyword"
          },
          "description": "The person's miscellaneous keywords."
        },
        "relations": {
          "items": {
            "$ref": "Relation"
          },
          "description": "The person's relations.",
          "type": "array"
        },
        "nicknames": {
          "type": "array",
          "items": {
            "$ref": "Nickname"
          },
          "description": "The person's nicknames."
        },
        "externalIds": {
          "items": {
            "$ref": "ExternalId"
          },
          "type": "array",
          "description": "The person's external IDs."
        },
        "biographies": {
          "description": "The person's biographies. This field is a singleton for contact sources.",
          "type": "array",
          "items": {
            "$ref": "Biography"
          }
        },
        "metadata": {
          "$ref": "PersonMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about the person."
        },
        "ageRanges": {
          "readOnly": true,
          "description": "Output only. The person's age ranges.",
          "type": "array",
          "items": {
            "$ref": "AgeRangeType"
          }
        },
        "skills": {
          "items": {
            "$ref": "Skill"
          },
          "type": "array",
          "description": "The person's skills."
        },
        "clientData": {
          "type": "array",
          "description": "The person's client data.",
          "items": {
            "$ref": "ClientData"
          }
        },
        "userDefined": {
          "description": "The person's user defined data.",
          "type": "array",
          "items": {
            "$ref": "UserDefined"
          }
        },
        "memberships": {
          "description": "The person's group memberships.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "The person's events."
        },
        "birthdays": {
          "description": "The person's birthdays. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Birthday"
          },
          "type": "array"
        },
        "imClients": {
          "description": "The person's instant messaging clients.",
          "items": {
            "$ref": "ImClient"
          },
          "type": "array"
        },
        "sipAddresses": {
          "description": "The person's SIP addresses.",
          "type": "array",
          "items": {
            "$ref": "SipAddress"
          }
        },
        "relationshipStatuses": {
          "items": {
            "$ref": "RelationshipStatus"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses."
        },
        "etag": {
          "type": "string",
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation."
        },
        "locales": {
          "type": "array",
          "items": {
            "$ref": "Locale"
          },
          "description": "The person's locale preferences."
        },
        "addresses": {
          "items": {
            "$ref": "Address"
          },
          "description": "The person's street addresses.",
          "type": "array"
        },
        "locations": {
          "type": "array",
          "description": "The person's locations.",
          "items": {
            "$ref": "Location"
          }
        },
        "genders": {
          "items": {
            "$ref": "Gender"
          },
          "type": "array",
          "description": "The person's genders. This field is a singleton for contact sources."
        },
        "braggingRights": {
          "type": "array",
          "items": {
            "$ref": "BraggingRights"
          },
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights."
        },
        "phoneNumbers": {
          "type": "array",
          "description": "The person's phone numbers.",
          "items": {
            "$ref": "PhoneNumber"
          }
        },
        "emailAddresses": {
          "items": {
            "$ref": "EmailAddress"
          },
          "description": "The person's email addresses.",
          "type": "array"
        },
        "fileAses": {
          "items": {
            "$ref": "FileAs"
          },
          "description": "The person's file-ases.",
          "type": "array"
        },
        "coverPhotos": {
          "items": {
            "$ref": "CoverPhoto"
          },
          "description": "Output only. The person's cover photos.",
          "type": "array",
          "readOnly": true
        },
        "taglines": {
          "readOnly": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "type": "array",
          "items": {
            "$ref": "Tagline"
          }
        },
        "organizations": {
          "description": "The person's past or current organizations.",
          "items": {
            "$ref": "Organization"
          },
          "type": "array"
        },
        "urls": {
          "type": "array",
          "description": "The person's associated URLs.",
          "items": {
            "$ref": "Url"
          }
        }
      }
    },
    "Photo": {
      "type": "object",
      "description": "A person's photo. A picture shown next to the person's name to help others recognize the person.",
      "properties": {
        "metadata": {
          "description": "Metadata about the photo.",
          "$ref": "FieldMetadata"
        },
        "default": {
          "type": "boolean",
          "description": "True if the photo is a default photo; false if the photo is a user-provided photo."
        },
        "url": {
          "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50",
          "type": "string"
        }
      },
      "id": "Photo"
    },
    "GetPeopleResponse": {
      "description": "The response to a get request for a list of people by resource name.",
      "properties": {
        "responses": {
          "description": "The response for each requested resource name.",
          "type": "array",
          "items": {
            "$ref": "PersonResponse"
          }
        }
      },
      "type": "object",
      "id": "GetPeopleResponse"
    },
    "AgeRangeType": {
      "description": "A person's age range.",
      "id": "AgeRangeType",
      "properties": {
        "metadata": {
          "description": "Metadata about the age range.",
          "$ref": "FieldMetadata"
        },
        "ageRange": {
          "description": "The age range.",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Address": {
      "id": "Address",
      "properties": {
        "type": {
          "description": "The type of the address. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "countryCode": {
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country code of the address.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "The region of the address; for example, the state or province."
        },
        "formattedValue": {
          "type": "string",
          "description": "The unstructured value of the address. If this is not set by the user it will be automatically constructed from structured values."
        },
        "extendedAddress": {
          "type": "string",
          "description": "The extended address of the address; for example, the apartment number."
        },
        "poBox": {
          "description": "The P.O. box of the address.",
          "type": "string"
        },
        "country": {
          "description": "The country of the address.",
          "type": "string"
        },
        "streetAddress": {
          "type": "string",
          "description": "The street address."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the address."
        },
        "city": {
          "type": "string",
          "description": "The city of the address."
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
[...]
