{
  "discoveryVersion": "v1",
  "revision": "20210621",
  "title": "People API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "See and download all of your Google Account email addresses"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "See and download your personal phone numbers"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "See and download your exact date of birth"
        },
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's GSuite directory"
        },
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "version": "v1",
  "basePath": "",
  "rootUrl": "https://people.googleapis.com/",
  "id": "people:v1",
  "schemas": {
    "SearchDirectoryPeopleResponse": {
      "properties": {
        "people": {
          "items": {
            "$ref": "Person"
          },
          "type": "array",
          "description": "The list of people in the domain directory that match the query."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of items in the list without pagination.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "SearchDirectoryPeopleResponse",
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query."
    },
    "Relation": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relation."
        },
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header."
        },
        "type": {
          "type": "string",
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`"
        }
      },
      "id": "Relation",
      "description": "A person's relation to another person."
    },
    "RelationshipInterest": {
      "id": "RelationshipInterest",
      "description": "**DEPRECATED**: No data will be returned A person's relationship interest .",
      "properties": {
        "metadata": {
          "description": "Metadata about the relationship interest.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`",
          "type": "string"
        },
        "formattedValue": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header."
        }
      },
      "type": "object"
    },
    "BatchDeleteContactsRequest": {
      "description": "A request to delete a batch of existing contacts.",
      "type": "object",
      "properties": {
        "resourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The resource names of the contact to delete. It's repeatable. Allows up to 500 resource names in a single request."
        }
      },
      "id": "BatchDeleteContactsRequest"
    },
    "RelationshipStatus": {
      "properties": {
        "formattedValue": {
          "description": "Output only. The value of the relationship status translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "The relationship status. The value can be custom or one of these predefined values: * `single` * `inARelationship` * `engaged` * `married` * `itsComplicated` * `openRelationship` * `widowed` * `inDomesticPartnership` * `inCivilUnion`"
        },
        "metadata": {
          "description": "Metadata about the relationship status.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "**DEPRECATED**: No data will be returned A person's relationship status.",
      "id": "RelationshipStatus",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "type": "object"
    },
    "Photo": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the photo."
        },
        "url": {
          "type": "string",
          "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50"
        },
        "default": {
          "description": "True if the photo is a default photo; false if the photo is a user-provided photo.",
          "type": "boolean"
        }
      },
      "id": "Photo",
      "description": "A person's photo. A picture shown next to the person's name to help others recognize the person."
    },
    "SipAddress": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the SIP address."
        },
        "value": {
          "type": "string",
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format."
        }
      },
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet.",
      "id": "SipAddress"
    },
    "Biography": {
      "type": "object",
      "properties": {
        "contentType": {
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ],
          "description": "The content type of the biography."
        },
        "metadata": {
          "description": "Metadata about the biography.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The short biography.",
          "type": "string"
        }
      },
      "description": "A person's short biography.",
      "id": "Biography"
    },
    "ContactGroupResponse": {
      "properties": {
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        },
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name."
        },
        "contactGroup": {
          "$ref": "ContactGroup",
          "description": "The contact group."
        }
      },
      "description": "The response for a specific contact group.",
      "type": "object",
      "id": "ContactGroupResponse"
    },
    "UpdateContactPhotoRequest": {
      "id": "UpdateContactPhotoRequest",
      "description": "A request to update an existing contact's photo. All requests must have a valid photo format: JPEG or PNG.",
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ],
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ]
          }
        },
        "personFields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        },
        "photoBytes": {
          "description": "Required. Raw photo bytes",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "FileAs": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The file-as value"
        },
        "metadata": {
          "description": "Metadata about the file-as.",
          "$ref": "FieldMetadata"
        }
      },
      "type": "object",
      "id": "FileAs",
      "description": "The name that should be used to sort the person in a list."
    },
    "BatchCreateContactsRequest": {
      "type": "object",
      "properties": {
        "readMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on each person are returned in the response. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        },
        "contacts": {
          "description": "Required. The contact to create. Allows up to 200 contacts in a single request.",
          "items": {
            "$ref": "ContactToCreate"
          },
          "type": "array"
        },
        "sources": {
          "description": "Optional. A mask of what source types to return in the post mutate read. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ]
          },
          "type": "array"
        }
      },
      "description": "A request to create a batch of contacts.",
      "id": "BatchCreateContactsRequest"
    },
    "UpdateContactGroupRequest": {
      "properties": {
        "updateGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name",
          "type": "string",
          "format": "google-fieldmask"
        },
        "readGroupFields": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
          "format": "google-fieldmask"
        },
        "contactGroup": {
          "description": "Required. The contact group to update.",
          "$ref": "ContactGroup"
        }
      },
      "type": "object",
      "id": "UpdateContactGroupRequest",
      "description": "A request to update an existing user contact group. All updated fields will be replaced."
    },
    "SearchResponse": {
      "id": "SearchResponse",
      "type": "object",
      "description": "The response to a search request for the authenticated user, given a query.",
      "properties": {
        "results": {
          "type": "array",
          "description": "The results of the request.",
          "items": {
            "$ref": "SearchResult"
          }
        }
      }
    },
    "BatchUpdateContactsResponse": {
      "id": "BatchUpdateContactsResponse",
      "type": "object",
      "properties": {
        "updateResult": {
          "additionalProperties": {
            "$ref": "PersonResponse"
          },
          "type": "object",
          "description": "A map of resource names to the contacts that were updated, unless the request `read_mask` is empty."
        }
      },
      "description": "The response to a request to create a batch of contacts."
    },
    "CreateContactGroupRequest": {
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to create.",
          "$ref": "ContactGroup"
        },
        "readGroupFields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * metadata * name"
        }
      },
      "description": "A request to create a new contact group.",
      "type": "object",
      "id": "CreateContactGroupRequest"
    },
    "MiscKeyword": {
      "description": "A person's miscellaneous keyword.",
      "type": "object",
      "id": "MiscKeyword",
      "properties": {
        "type": {
          "description": "The miscellaneous keyword type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ]
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the miscellaneous keyword."
        },
        "value": {
          "description": "The value of the miscellaneous keyword.",
          "type": "string"
        }
      }
    },
    "ContactGroupMetadata": {
      "description": "The metadata about a contact group.",
      "properties": {
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the contact group resource has been deleted. Populated only for [`ListContactGroups`](/people/api/rest/v1/contactgroups/list) requests that include a sync token."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the group was last updated."
        }
      },
      "type": "object",
      "id": "ContactGroupMetadata"
    },
    "ProfileMetadata": {
      "id": "ProfileMetadata",
      "properties": {
        "objectType": {
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "readOnly": true,
          "description": "Output only. The profile object type."
        },
        "userTypes": {
          "type": "array",
          "description": "Output only. The user types.",
          "items": {
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Currents user.",
              "The user is a Google Workspace user."
            ],
            "type": "string",
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ]
          },
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The metadata about a profile."
    },
    "Skill": {
      "id": "Skill",
      "description": "A skill that the person has.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The skill; for example, `underwater basket weaving`."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the skill."
        }
      }
    },
    "ListOtherContactsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of other contacts in the list without pagination."
        },
        "otherContacts": {
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information.",
          "items": {
            "$ref": "Person"
          },
          "type": "array"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token."
        }
      },
      "description": "The response to a request for the authenticated user's \"Other contacts\".",
      "id": "ListOtherContactsResponse"
    },
    "PersonResponse": {
      "description": "The response for a single person",
      "properties": {
        "httpStatusCode": {
          "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).",
          "format": "int32",
          "type": "integer"
        },
        "person": {
          "$ref": "Person",
          "description": "The person."
        },
        "status": {
          "$ref": "Status",
          "description": "The status of the response."
        },
        "requestedResourceName": {
          "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL.",
          "type": "string"
        }
      },
      "id": "PersonResponse",
      "type": "object"
    },
    "UserDefined": {
      "properties": {
        "value": {
          "description": "The end user specified value of the user defined data.",
          "type": "string"
        },
        "key": {
          "description": "The end user specified key of the user defined data.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the user defined data."
        }
      },
      "id": "UserDefined",
      "type": "object",
      "description": "Arbitrary user data that is populated by the end users."
    },
    "Residence": {
      "properties": {
        "value": {
          "description": "The address of the residence.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the residence.",
          "$ref": "FieldMetadata"
        },
        "current": {
          "type": "boolean",
          "description": "True if the residence is the person's current residence; false if the residence is a past residence."
        }
      },
      "type": "object",
      "description": "**DEPRECATED**: Please use `person.locations` instead. A person's past or current residence.",
      "id": "Residence"
    },
    "SearchResult": {
      "properties": {
        "person": {
          "description": "The matched Person.",
          "$ref": "Person"
        }
      },
      "id": "SearchResult",
      "description": "A result of a search query.",
      "type": "object"
    },
    "ContactGroup": {
      "description": "A contact group.",
      "type": "object",
      "properties": {
        "groupType": {
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "description": "Output only. The contact group type."
        },
        "memberCount": {
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the contact group.",
          "$ref": "ContactGroupMetadata"
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`."
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "clientData": {
          "type": "array",
          "description": "The group's client data.",
          "items": {
            "$ref": "GroupClientData"
          }
        },
        "formattedName": {
          "readOnly": true,
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error."
        },
        "memberResourceNames": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ContactGroup"
    },
    "Date": {
      "type": "object",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "id": "Date"
    },
    "ContactGroupMembership": {
      "description": "A Google contact group membership.",
      "type": "object",
      "properties": {
        "contactGroupId": {
          "description": "Output only. The contact group ID for the contact group membership.",
          "readOnly": true,
          "type": "string"
        },
        "contactGroupResourceName": {
          "type": "string",
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership."
        }
      },
      "id": "ContactGroupMembership"
    },
    "CoverPhoto": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the cover photo.",
          "$ref": "FieldMetadata"
        },
        "url": {
          "description": "The URL of the cover photo.",
          "type": "string"
        },
        "default": {
          "type": "boolean",
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo."
        }
      },
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about.",
      "id": "CoverPhoto"
    },
    "ListConnectionsResponse": {
      "type": "object",
      "properties": {
        "totalItems": {
          "type": "integer",
          "description": "The total number of items in the list without pagination.",
          "format": "int32"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token. When the response is paginated, only the last page will contain `nextSyncToken`."
        },
        "totalPeople": {
          "format": "int32",
          "type": "integer",
          "description": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "connections": {
          "description": "The list of people that the requestor is connected to.",
          "type": "array",
          "items": {
            "$ref": "Person"
          }
        }
      },
      "description": "The response to a request for the authenticated user's connections.",
      "id": "ListConnectionsResponse"
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "properties": {
        "etag": {
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation.",
          "type": "string"
        },
        "profileMetadata": {
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE.",
          "$ref": "ProfileMetadata",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source.",
          "readOnly": true
        },
        "type": {
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ],
          "description": "The source type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[Google Workspace domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[Google Workspace domain shared contact](https://support.google.com/a/answer/9281635)."
          ]
        },
        "id": {
          "description": "The unique identifier within the source type generated by the server.",
          "type": "string"
        }
      },
      "description": "The source of a field."
    },
    "AgeRangeType": {
      "type": "object",
      "id": "AgeRangeType",
      "properties": {
        "ageRange": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "description": "The age range.",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ]
        },
        "metadata": {
          "description": "Metadata about the age range.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "A person's age range."
    },
    "ModifyContactGroupMembersResponse": {
      "type": "object",
      "description": "The response to a modify contact group members request.",
      "id": "ModifyContactGroupMembersResponse",
      "properties": {
        "notFoundResourceNames": {
          "items": {
            "type": "string"
          },
          "description": "The contact people resource names that were not found.",
          "type": "array"
        },
        "canNotRemoveLastContactGroupResourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The contact people resource names that cannot be removed from their last contact group."
        }
      }
    },
    "UpdateContactPhotoResponse": {
      "description": "The response for updating a contact's photo.",
      "id": "UpdateContactPhotoResponse",
      "type": "object",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The updated person, if person_fields is set in the UpdateContactPhotoRequest; otherwise this will be unset."
        }
      }
    },
    "PersonMetadata": {
      "properties": {
        "objectType": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object."
        },
        "linkedPeopleResourceNames": {
          "description": "Output only. Resource names of people linked to this resource.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "previousResourceNames": {
          "description": "Output only. Any former resource names this person has had. Populated only for [`connections.list`](/people/api/rest/v1/people.connections/list) requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "description": "The sources of data for the person.",
          "type": "array"
        },
        "deleted": {
          "readOnly": true,
          "description": "Output only. True if the person resource has been deleted. Populated only for [`connections.list`](/people/api/rest/v1/people.connections/list) and [`otherContacts.list`](/people/api/rest/v1/otherContacts/list) requests that include a sync token.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "PersonMetadata",
      "description": "The metadata about a person."
    },
    "Location": {
      "properties": {
        "floor": {
          "description": "The floor name or number.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`"
        },
        "buildingId": {
          "type": "string",
          "description": "The building identifier."
        },
        "value": {
          "description": "The free-form value of the location.",
          "type": "string"
        },
        "floorSection": {
          "type": "string",
          "description": "The floor section in `floor_name`."
        },
        "current": {
          "type": "boolean",
          "description": "Whether the location is the current location."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the location."
        },
        "deskCode": {
          "type": "string",
          "description": "The individual desk location."
        }
      },
      "description": "A person's location.",
      "id": "Location",
      "type": "object"
    },
    "Event": {
      "id": "Event",
      "description": "An event related to the person.",
      "type": "object",
      "properties": {
        "date": {
          "description": "The date of the event.",
          "$ref": "Date"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the event."
        },
        "formattedType": {
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`",
          "type": "string"
        }
      }
    },
    "EmailAddress": {
      "properties": {
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the email address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "type": {
          "type": "string",
          "description": "The type of the email address. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "metadata": {
          "description": "Metadata about the email address.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The email address.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the email."
        }
      },
      "type": "object",
      "description": "A person's email address.",
      "id": "EmailAddress"
    },
    "DomainMembership": {
      "properties": {
        "inViewerDomain": {
          "type": "boolean",
          "description": "True if the person is in the viewer's Google Workspace domain."
        }
      },
      "id": "DomainMembership",
      "type": "object",
      "description": "A Google Workspace Domain membership."
    },
    "DeleteContactPhotoResponse": {
      "id": "DeleteContactPhotoResponse",
      "description": "The response for deleting a contact's photo.",
      "type": "object",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset."
        }
      }
    },
    "Membership": {
      "id": "Membership",
      "description": "A person's membership in a group. Only contact group memberships can be modified.",
      "type": "object",
      "properties": {
        "contactGroupMembership": {
          "$ref": "ContactGroupMembership",
          "description": "The contact group membership."
        },
        "metadata": {
          "description": "Metadata about the membership.",
          "$ref": "FieldMetadata"
        },
        "domainMembership": {
          "description": "Output only. The domain membership.",
          "readOnly": true,
          "$ref": "DomainMembership"
        }
      }
    },
    "ExternalId": {
      "id": "ExternalId",
      "description": "An identifier from an external entity related to the person.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the external ID."
        },
        "value": {
          "description": "The value of the external ID.",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`"
        }
      }
    },
    "Nickname": {
      "id": "Nickname",
      "properties": {
        "type": {
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ],
          "description": "The type of the nickname.",
          "type": "string",
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ]
        },
        "value": {
          "description": "The nickname.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the nickname."
        }
      },
      "description": "A person's nickname.",
      "type": "object"
    },
    "ClientData": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The client specified value of the client data."
        },
        "key": {
          "type": "string",
          "description": "The client specified key of the client data."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the client data."
        }
      },
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "id": "ClientData",
      "type": "object"
    },
    "Interest": {
      "type": "object",
      "description": "One of the person's interests.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the interest."
        },
        "value": {
          "description": "The interest; for example, `stargazing`.",
          "type": "string"
        }
      },
      "id": "Interest"
    },
    "Locale": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47) language tag representing the locale."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the locale."
        }
      },
      "id": "Locale",
      "type": "object",
      "description": "A person's locale preference."
    },
    "Birthday": {
      "id": "Birthday",
      "properties": {
        "date": {
          "description": "The date of the birthday.",
          "$ref": "Date"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the birthday."
        },
        "text": {
          "type": "string",
          "description": "A free-form string representing the user's birthday."
        }
      },
      "type": "object",
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GetPeopleResponse": {
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "PersonResponse"
          },
          "description": "The response for each requested resource name."
        }
      },
      "type": "object",
      "id": "GetPeopleResponse",
      "description": "The response to a get request for a list of people by resource name."
    },
    "Tagline": {
      "type": "object",
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person.",
      "properties": {
        "value": {
          "description": "The tagline.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the tagline.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "Tagline"
    },
    "Name": {
      "type": "object",
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "properties": {
        "phoneticHonorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes spelled as they sound."
        },
        "familyName": {
          "type": "string",
          "description": "The family name."
        },
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "phoneticGivenName": {
          "type": "string",
          "description": "The given name spelled as it sounds."
        },
        "unstructuredName": {
          "description": "The free form name value.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the name.",
          "$ref": "FieldMetadata"
        },
        "phoneticMiddleName": {
          "description": "The middle name(s) spelled as they sound.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header."
        },
        "phoneticFamilyName": {
          "type": "string",
          "description": "The family name spelled as it sounds."
        },
        "honorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes, such as `Jr.`"
        },
        "honorificPrefix": {
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`",
          "type": "string"
        },
        "phoneticFullName": {
          "description": "The full name spelled as it sounds.",
          "type": "string"
        },
        "displayNameLastFirst": {
          "description": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "type": "string",
          "readOnly": true
        },
        "phoneticHonorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes spelled as they sound."
        },
        "middleName": {
          "type": "string",
          "description": "The middle name(s)."
        }
      },
      "id": "Name"
    },
    "BatchCreateContactsResponse": {
      "properties": {
        "createdPeople": {
          "description": "The contacts that were created, unless the request `read_mask` is empty.",
          "type": "array",
          "items": {
            "$ref": "PersonResponse"
          }
        }
      },
      "type": "object",
      "description": "The response to a request to create a batch of contacts.",
      "id": "BatchCreateContactsResponse"
    },
    "ModifyContactGroupMembersRequest": {
      "id": "ModifyContactGroupMembersRequest",
      "type": "object",
      "properties": {
        "resourceNamesToRemove": {
          "description": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceNamesToAdd": {
          "type": "array",
          "description": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups."
    },
    "BatchUpdateContactsRequest": {
      "id": "BatchUpdateContactsRequest",
      "description": "A request to update a batch of contacts.",
      "properties": {
        "readMask": {
          "type": "string",
          "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask"
        },
        "updateMask": {
          "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All specified fields will be replaced, or cleared if left empty for each person. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
          "format": "google-fieldmask",
          "type": "string"
        },
        "contacts": {
          "description": "Required. A map of resource names to the person data to be updated. Allows up to 200 contacts in a single request.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Person"
          }
        },
        "sources": {
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ]
          },
          "type": "array",
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        }
      },
      "type": "object"
    },
    "BraggingRights": {
      "properties": {
        "metadata": {
          "description": "Metadata about the bragging rights.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The bragging rights; for example, `climbed mount everest`.",
          "type": "string"
        }
      },
      "id": "BraggingRights",
      "type": "object",
      "description": "**DEPRECATED**: No data will be returned A person's bragging rights."
    },
    "FieldMetadata": {
      "type": "object",
      "description": "Metadata about a field.",
      "id": "FieldMetadata",
      "properties": {
        "primary": {
          "type": "boolean",
          "description": "True if the field is the primary field; false if the field is a secondary field."
        },
        "source": {
          "description": "The source of the field.",
          "$ref": "Source"
        },
        "verified": {
          "description": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GroupClientData": {
      "type": "object",
      "id": "GroupClientData",
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The client specified value of the client data."
        },
        "key": {
          "type": "string",
          "description": "The client specified key of the client data."
        }
      }
    },
    "ListContactGroupsResponse": {
      "properties": {
        "contactGroups": {
          "type": "array",
          "items": {
            "$ref": "ContactGroup"
          },
          "description": "The list of contact groups. Members of the contact groups are not populated."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "The token that can be used to retrieve changes since the last request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used to retrieve the next page of results."
        },
        "totalItems": {
          "description": "The total number of items in the list without pagination.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ListContactGroupsResponse",
      "description": "The response to a list contact groups request.",
      "type": "object"
    },
    "Organization": {
      "id": "Organization",
      "properties": {
        "metadata": {
          "description": "Metadata about the organization.",
          "$ref": "FieldMetadata"
        },
        "phoneticName": {
          "type": "string",
          "description": "The phonetic name of the organization."
        },
        "type": {
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`",
          "type": "string"
        },
        "endDate": {
          "description": "The end date when the person left the organization.",
          "$ref": "Date"
        },
        "location": {
          "description": "The location of the organization office the person works at.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The domain name associated with the organization; for example, `google.com`."
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date when the person joined the organization."
        },
        "current": {
          "type": "boolean",
          "description": "True if the organization is the person's current organization; false if the organization is a past organization."
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym.",
          "type": "string"
        },
        "jobDescription": {
          "type": "string",
          "description": "The person's job description at the organization."
        },
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the organization."
        },
        "title": {
          "description": "The person's job title at the organization.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A person's past or current organization. Overlapping date ranges are permitted."
    },
    "ImClient": {
      "properties": {
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "formattedProtocol": {
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "protocol": {
          "type": "string",
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`"
        },
        "metadata": {
          "description": "Metadata about the IM client.",
          "$ref": "FieldMetadata"
        },
        "username": {
          "type": "string",
          "description": "The user name used in the IM client."
        }
      },
      "description": "A person's instant messaging client.",
      "id": "ImClient",
      "type": "object"
    },
    "CalendarUrl": {
      "id": "CalendarUrl",
      "properties": {
        "type": {
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the calendar URL."
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "url": {
          "type": "string",
          "description": "The calendar URL."
        }
      },
      "description": "A person's calendar URL.",
      "type": "object"
    },
    "Address": {
      "properties": {
        "region": {
          "description": "The region of the address; for example, the state or province.",
          "type": "string"
        },
        "countryCode": {
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country code of the address.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code of the address.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the address. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the address."
        },
        "city": {
          "description": "The city of the address.",
          "type": "string"
        },
        "formattedValue": {
          "description": "The unstructured value of the address. If this is not set by the user it will be automatically constructed from structured values.",
          "type": "string"
        },
        "extendedAddress": {
          "description": "The extended address of the address; for example, the apartment number.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "The country of the address."
        },
        "streetAddress": {
          "description": "The street address.",
          "type": "string"
        },
        "poBox": {
          "description": "The P.O. box of the address.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A person's physical address. May be a P.O. box or street address. All fields are optional.",
      "id": "Address"
    },
    "Occupation": {
      "description": "A person's occupation.",
      "type": "object",
      "id": "Occupation",
      "properties": {
        "value": {
          "description": "The occupation; for example, `carpenter`.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the occupation."
        }
      }
    },
    "CopyOtherContactToMyContactsGroupRequest": {
      "description": "A request to copy an \"Other contact\" to my contacts group.",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ]
          },
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        },
        "copyMask": {
          "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers",
          "format": "google-fieldmask",
          "type": "string"
        },
        "readMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        }
      },
      "type": "object",
      "id": "CopyOtherContactToMyContactsGroupRequest"
    },
    "ListDirectoryPeopleResponse": {
      "description": "The response to a request for the authenticated user's domain directory.",
      "properties": {
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "people": {
          "description": "The list of people in the domain directory.",
          "items": {
            "$ref": "Person"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListDirectoryPeopleResponse"
    },
    "Url": {
      "type": "object",
      "id": "Url",
      "properties": {
        "type": {
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`",
          "type": "string"
        },
        "value": {
          "description": "The URL.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the URL."
        }
      },
      "description": "A person's associated URLs."
    },
    "PhoneNumber": {
      "description": "A person's phone number.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The phone number.",
          "type": "string"
        },
        "canonicalForm": {
          "type": "string",
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
          "readOnly": true
        },
        "type": {
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the phone number."
        },
        "formattedType": {
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "PhoneNumber"
    },
    "BatchGetContactGroupsResponse": {
      "description": "The response to a batch get contact groups request.",
      "type": "object",
      "id": "BatchGetContactGroupsResponse",
      "properties": {
        "responses": {
          "description": "The list of responses for each requested contact group resource.",
          "type": "array",
          "items": {
            "$ref": "ContactGroupResponse"
          }
        }
      }
    },
    "Person": {
      "id": "Person",
      "type": "object",
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true.",
      "properties": {
        "metadata": {
          "$ref": "PersonMetadata",
          "description": "Output only. Metadata about the person.",
          "readOnly": true
        },
        "biographies": {
          "type": "array",
          "description": "The person's biographies. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Biography"
          }
        },
        "taglines": {
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "readOnly": true,
          "items": {
            "$ref": "Tagline"
          },
          "type": "array"
        },
        "ageRanges": {
          "type": "array",
          "description": "Output only. The person's age ranges.",
          "readOnly": true,
          "items": {
            "$ref": "AgeRangeType"
          }
        },
        "calendarUrls": {
          "description": "The person's calendar URLs.",
          "items": {
            "$ref": "CalendarUrl"
          },
          "type": "array"
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "type": "array",
          "description": "The person's locale preferences."
        },
        "braggingRights": {
          "items": {
            "$ref": "BraggingRights"
          },
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights.",
          "type": "array"
        },
        "coverPhotos": {
          "readOnly": true,
          "description": "Output only. The person's cover photos.",
          "type": "array",
          "items": {
            "$ref": "CoverPhoto"
          }
        },
        "birthdays": {
          "items": {
            "$ref": "Birthday"
          },
          "type": "array",
          "description": "The person's birthdays. This field is a singleton for contact sources."
        },
        "residences": {
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences.",
          "type": "array",
          "items": {
            "$ref": "Residence"
          }
        },
        "fileAses": {
          "description": "The person's file-ases.",
          "type": "array",
          "items": {
            "$ref": "FileAs"
          }
        },
        "nicknames": {
          "items": {
            "$ref": "Nickname"
          },
          "description": "The person's nicknames.",
          "type": "array"
        },
        "organizations": {
          "type": "array",
          "description": "The person's past or current organizations.",
          "items": {
            "$ref": "Organization"
          }
        },
        "occupations": {
          "items": {
            "$ref": "Occupation"
          },
          "description": "The person's occupations.",
          "type": "array"
        },
        "sipAddresses": {
          "description": "The person's SIP addresses.",
          "items": {
            "$ref": "SipAddress"
          },
          "type": "array"
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "The person's locations."
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the person, assigned by the server. An ASCII string with a max length of 27 characters, in the form of `people/{person_id}`."
        },
        "miscKeywords": {
          "description": "The person's miscellaneous keywords.",
          "type": "array",
          "items": {
            "$ref": "MiscKeyword"
          }
        },
        "phoneNumbers": {
          "type": "array",
          "description": "The person's phone numbers. For [`connections.list`](/people/api/rest/v1/people.connections/list), [`otherContacts.list`](/people/api/rest/v1/otherContacts/list), and [`people.listDirectoryPeople`](/people/api/rest/v1/people/listDirectoryPeople) the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling ['people.get'](/people/api/rest/v1/people/get).",
          "items": {
            "$ref": "PhoneNumber"
          }
        },
        "urls": {
          "items": {
            "$ref": "Url"
          },
          "type": "array",
          "description": "The person's associated URLs."
        },
        "relationshipStatuses": {
          "readOnly": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses.",
          "type": "array",
          "items": {
            "$ref": "RelationshipStatus"
          }
        },
        "memberships": {
          "type": "array",
          "description": "The person's group memberships.",
          "items": {
            "$ref": "Membership"
          }
        },
        "imClients": {
          "description": "The person's instant messaging clients.",
          "items": {
            "$ref": "ImClient"
          },
          "type": "array"
        },
        "photos": {
          "readOnly": true,
          "items": {
            "$ref": "Photo"
          },
          "type": "array",
          "description": "Output only. The person's photos."
        },
        "emailAddresses": {
          "type": "array",
          "items": {
            "$ref": "EmailAddress"
          },
          "description": "The person's email addresses. For [`connections.list`](/people/api/rest/v1/people.connections/list), [`otherContacts.list`](/people/api/rest/v1/otherContacts/list), and [`people.listDirectoryPeople`](/people/api/rest/v1/people/listDirectoryPeople) the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling ['people.get'](/people/api/rest/v1/people/get)."
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "The person's events."
        },
        "interests": {
          "type": "array",
          "description": "The person's interests.",
          "items": {
            "$ref": "Interest"
          }
        },
        "names": {
          "type": "array",
          "items": {
            "$ref": "Name"
          },
          "description": "The person's names. This field is a singleton for contact sources."
        },
        "addresses": {
          "items": {
            "$ref": "Address"
          },
          "description": "The person's street addresses.",
          "type": "array"
        },
        "ageRange": {
          "type": "string",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ]
        },
        "relationshipInterests": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "items": {
            "$ref": "RelationshipInterest"
          }
        },
        "relations": {
          "items": {
            "$ref": "Relation"
          },
          "type": "array",
          "description": "The person's relations."
        },
        "clientData": {
          "type": "array",
          "items": {
            "$ref": "ClientData"
          },
          "description": "The person's client data."
        },
        "skills": {
          "type": "array",
          "items": {
            "$ref": "Skill"
          },
          "description": "The person's skills."
        },
        "userDefined": {
          "type": "array",
          "description": "The person's user defined data.",
          "items": {
            "$ref": "UserDefined"
          }
        },
        "genders": {
          "items": {
            "$ref": "Gender"
          },
          "description": "The person's genders. This field is a singleton for contact sources.",
          "type": "array"
        },
        "externalIds": {
          "description": "The person's external IDs.",
          "type": "array",
          "items": {
            "$ref": "ExternalId"
          }
        }
      }
    },
    "ContactToCreate": {
      "id": "ContactToCreate",
      "type": "object",
      "properties": {
        "contactPerson": {
          "$ref": "Person",
          "description": "Required. The person data to populate a newly created source."
        }
      },
      "description": "A wrapper that contains the person data to populate a newly created source."
    },
    "Gender": {
      "id": "Gender",
      "properties": {
        "formattedValue": {
          "description": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized.",
          "type": "string",
          "readOnly": true
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the gender."
        },
        "addressMeAs": {
          "description": "The type of pronouns that should be used to address the person. The value can be custom or one of these predefined values: * `male` * `female` * `other`",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`"
        }
      },
      "type": "object",
      "description": "A person's gender."
    }
  },
  "description": "Provides access to information about profiles and contacts.",
  "canonicalName": "People Service",
  "baseUrl": "https://people.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "servicePath": "",
  "version_module": true,
  "protocol": "rest",
  "name": "people",
  "ownerName": "Google",
  "resources": {
    "contactGroups": {
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "id": "people.contactGroups.members.modify",
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "httpMethod": "POST",
              "parameters": {
                "resourceName": {
                  "pattern": "^contactGroups/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the contact group to modify.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+resourceName}/members:modify",
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "parameterOrder": [
                "resourceName"
              ],
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              }
            }
          }
        }
      },
      "methods": {
        "create": {
          "httpMethod": "POST",
          "response": {
            "$ref": "ContactGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "CreateContactGroupRequest"
          },
          "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error.",
          "flatPath": "v1/contactGroups",
          "parameters": {},
          "id": "people.contactGroups.create",
          "path": "v1/contactGroups"
        },
        "batchGet": {
          "parameters": {
            "resourceNames": {
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "groupFields": {
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            },
            "maxMembers": {
              "format": "int32",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members.",
              "location": "query",
              "type": "integer"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
          "id": "people.contactGroups.batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "flatPath": "v1/contactGroups:batchGet",
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "path": "v1/contactGroups:batchGet"
        },
        "get": {
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "id": "people.contactGroups.get",
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}",
          "response": {
            "$ref": "ContactGroup"
          },
          "parameters": {
            "groupFields": {
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "type": "string",
              "location": "query"
            },
            "resourceName": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^contactGroups/[^/]+$",
              "description": "Required. The resource name of the contact group to get."
            },
            "maxMembers": {
              "location": "query",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members.",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name."
        },
        "list": {
          "flatPath": "v1/contactGroups",
          "httpMethod": "GET",
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated.",
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "parameterOrder": [],
          "path": "v1/contactGroups",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned."
            },
            "groupFields": {
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources."
            }
          },
          "id": "people.contactGroups.list",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "people.contactGroups.delete",
          "path": "v1/{+resourceName}",
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the contact group to delete.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^contactGroups/[^/]+$"
            },
            "deleteContacts": {
              "type": "boolean",
              "description": "Optional. Set to true to also delete the contacts in the specified group.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name.",
          "httpMethod": "DELETE"
        },
        "update": {
          "id": "people.contactGroups.update",
          "httpMethod": "PUT",
          "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error.",
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "ContactGroup"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "parameters": {
            "resourceName": {
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "location": "path",
              "pattern": "^contactGroups/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+resourceName}",
          "flatPath": "v1/contactGroups/{contactGroupsId}"
        }
      }
    },
    "otherContacts": {
      "methods": {
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "parameterOrder": [],
          "flatPath": "v1/otherContacts:search",
          "path": "v1/otherContacts:search",
          "id": "people.otherContacts.search",
          "description": "Provides a list of contacts in the authenticated user's other contacts that matches the search query. The query matches on a contact's `names`, `emailAddresses`, and `phoneNumbers` fields that are from the OTHER_CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/other-contacts#search_the_users_other_contacts",
          "response": {
            "$ref": "SearchResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 10 will be capped to 10.",
              "type": "integer",
              "format": "int32"
            },
            "readMask": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers",
              "location": "query",
              "type": "string"
            },
            "query": {
              "location": "query",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
              "type": "string"
            }
          }
        },
        "list": {
          "flatPath": "v1/otherContacts",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "description": "List all \"Other contacts\", that is contacts that are not in a contact group. \"Other contacts\" are typically auto created contacts from interactions.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListOtherContacts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOtherContacts` must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. The number of \"Other contacts\" to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0."
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A sync token, received from a previous `ListOtherContacts` call. Provide this to retrieve only the resources changed since the last request. Sync requests that specify `sync_token` have an additional rate limit. When the `syncToken` is specified, resources deleted since the last sync will be returned as a person with [`PersonMetadata.deleted`](/people/api/rest/v1/people#Person.PersonMetadata.FIELDS.deleted) set to true. When the `syncToken` is specified, all other parameters provided to `ListOtherContacts` must match the call that provided the sync token."
            },
            "requestSyncToken": {
              "description": "Optional. Whether the response should include `next_sync_token`, which can be used to get all changes since the last request. For subsequent sync requests use the `sync_token` param instead. Initial sync requests that specify `request_sync_token` have an additional rate limit.",
              "location": "query",
              "type": "boolean"
            },
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "people.otherContacts.list",
          "path": "v1/otherContacts",
          "response": {
            "$ref": "ListOtherContactsResponse"
          }
        },
        "copyOtherContactToMyContactsGroup": {
          "response": {
            "$ref": "Person"
          },
          "path": "v1/{+resourceName}:copyOtherContactToMyContactsGroup",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Copies an \"Other contact\" to a new contact in the user's \"myContacts\" group",
          "request": {
            "$ref": "CopyOtherContactToMyContactsGroupRequest"
          },
          "parameters": {
            "resourceName": {
              "pattern": "^otherContacts/[^/]+$",
              "description": "Required. The resource name of the \"Other contact\" to copy.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
[...]
