{
  "baseUrl": "https://people.googleapis.com/",
  "canonicalName": "People Service",
  "discoveryVersion": "v1",
  "version": "v1",
  "description": "Provides access to information about profiles and contacts.",
  "resources": {
    "people": {
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "path": "v1/{+resourceName}/connections",
              "parameters": {
                "resourceName": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name to return connections for. Only `people/me` is valid.",
                  "required": true,
                  "pattern": "^people/[^/]+$"
                },
                "sortOrder": {
                  "location": "query",
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "LAST_MODIFIED_DESCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ],
                  "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`.",
                  "type": "string",
                  "enumDescriptions": [
                    "Sort people by when they were changed; older entries first.",
                    "Sort people by when they were changed; newer entries first.",
                    "Sort people by first name.",
                    "Sort people by last name."
                  ]
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.connections.list` must match the first call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "personFields": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
                  "format": "google-fieldmask"
                },
                "sources": {
                  "enumDescriptions": [
                    "Unspecified.",
                    "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                    "Returns SourceType.CONTACT.",
                    "Returns SourceType.DOMAIN_CONTACT."
                  ],
                  "type": "string",
                  "enum": [
                    "READ_SOURCE_TYPE_UNSPECIFIED",
                    "READ_SOURCE_TYPE_PROFILE",
                    "READ_SOURCE_TYPE_CONTACT",
                    "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                  ],
                  "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
                  "repeated": true,
                  "location": "query"
                },
                "requestMask.includeField": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`."
                },
                "requestSyncToken": {
                  "location": "query",
                  "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.connections.list`.",
                  "type": "boolean"
                },
                "syncToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.connections.list` must match the first call that provided the sync token. More details about sync behavior at `people.connections.list`."
                }
              },
              "id": "people.people.connections.list",
              "parameterOrder": [
                "resourceName"
              ],
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/people/{peopleId}/connections",
              "description": "Provides a list of the authenticated user's contacts. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's contacts that have changed](/people/v1/contacts#list_the_users_contacts_that_have_changed)."
            }
          }
        }
      },
      "methods": {
        "deleteContact": {
          "parameters": {
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "type": "string",
              "description": "Required. The resource name of the contact to delete.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "v1/people/{peopleId}:deleteContact",
          "description": "Delete a contact person. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/{+resourceName}:deleteContact",
          "httpMethod": "DELETE",
          "id": "people.people.deleteContact",
          "response": {
            "$ref": "Empty"
          }
        },
        "searchContacts": {
          "description": "Provides a list of contacts in the authenticated user's grouped contacts that matches the search query. The query matches on a contact's `names`, `nickNames`, `emailAddresses`, `phoneNumbers`, and `organizations` fields that are from the CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/contacts#search_the_users_contacts",
          "parameters": {
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\"."
            },
            "pageSize": {
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "type": "string",
              "repeated": true,
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "location": "query",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set."
            }
          },
          "path": "v1/people:searchContacts",
          "flatPath": "v1/people:searchContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "id": "people.people.searchContacts",
          "response": {
            "$ref": "SearchResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "getBatchGet": {
          "description": "Provides information about a list of specific people by specifying a list of requested resource names. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "path": "v1/people:batchGet",
          "parameters": {
            "personFields": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            },
            "resourceNames": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Required. The resource names of the people to provide information about. It's repeatable. The URL query parameter should be resourceNames=\u003cname1\u003e&resourceNames=\u003cname2\u003e&... - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`. There is a maximum of 200 resource names."
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "location": "query",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "repeated": true,
              "type": "string"
            },
            "requestMask.includeField": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`."
            }
          },
          "flatPath": "v1/people:batchGet",
          "response": {
            "$ref": "GetPeopleResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "people.people.getBatchGet",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ]
        },
        "batchCreateContacts": {
          "response": {
            "$ref": "BatchCreateContactsResponse"
          },
          "flatPath": "v1/people:batchCreateContacts",
          "id": "people.people.batchCreateContacts",
          "path": "v1/people:batchCreateContacts",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "httpMethod": "POST",
          "description": "Create a batch of new contacts and return the PersonResponses for the newly Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "request": {
            "$ref": "BatchCreateContactsRequest"
          }
        },
        "searchDirectoryPeople": {
          "httpMethod": "GET",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory that match the search query.",
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "SearchDirectoryPeopleResponse"
          },
          "path": "v1/people:searchDirectoryPeople",
          "flatPath": "v1/people:searchDirectoryPeople",
          "id": "people.people.searchDirectoryPeople",
          "parameters": {
            "sources": {
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ],
              "description": "Required. Directory sources to return.",
              "type": "string",
              "location": "query",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ]
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 500, inclusive. Defaults to 100 if not set or set to 0."
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchDirectoryPeople` must match the first call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "mergeSources": {
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "repeated": true,
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "location": "query",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "type": "string"
            },
            "readMask": {
              "type": "string",
              "location": "query",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. Prefix query that matches fields in the person. Does NOT use the read_mask for determining what fields to match."
            }
          }
        },
        "batchDeleteContacts": {
          "parameters": {},
          "path": "v1/people:batchDeleteContacts",
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "id": "people.people.batchDeleteContacts",
          "flatPath": "v1/people:batchDeleteContacts",
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "BatchDeleteContactsRequest"
          },
          "description": "Delete a batch of contacts. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures."
        },
        "listDirectoryPeople": {
          "parameters": {
            "readMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0."
            },
            "mergeSources": {
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "requestSyncToken": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Whether the response should return `next_sync_token`. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.listDirectoryPeople`."
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the page token.",
              "type": "string"
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the sync token. More details about sync behavior at `people.listDirectoryPeople`."
            },
            "sources": {
              "repeated": true,
              "description": "Required. Directory sources to return.",
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ],
              "location": "query",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListDirectoryPeopleResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the directory people that have changed](/people/v1/directory#list_the_directory_people_that_have_changed).",
          "httpMethod": "GET",
          "id": "people.people.listDirectoryPeople",
          "path": "v1/people:listDirectoryPeople",
          "flatPath": "v1/people:listDirectoryPeople"
        },
        "updateContactPhoto": {
          "parameters": {
            "resourceName": {
              "type": "string",
              "required": true,
              "description": "Required. Person resource name",
              "pattern": "^people/[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "UpdateContactPhotoRequest"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}:updateContactPhoto",
          "id": "people.people.updateContactPhoto",
          "description": "Update a contact's photo. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "UpdateContactPhotoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/people/{peopleId}:updateContactPhoto"
        },
        "get": {
          "description": "Provides information about a person by specifying a resource name. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "id": "people.people.get",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "path": "v1/{+resourceName}",
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "v1/people/{peopleId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Person"
          },
          "parameters": {
            "personFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            },
            "requestMask.includeField": {
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "resourceName": {
              "type": "string",
              "pattern": "^people/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the person to provide information about. - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`."
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "location": "query",
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_PROFILE and READ_SOURCE_TYPE_CONTACT if not set.",
              "repeated": true,
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ]
            }
          }
        },
        "updateContact": {
          "response": {
            "$ref": "Person"
          },
          "description": "Update contact data for an existing contact person. Any non-contact data will not be modified. Any non-contact data in the person to update will be ignored. All fields specified in the `update_mask` will be replaced. The server returns a 400 error if `person.metadata.sources` is not specified for the contact to be updated or if there is no contact source. The server returns a 400 error with reason `\"failedPrecondition\"` if `person.metadata.sources.etag` is different than the contact's etag, which indicates the contact has changed since its data was read. Clients should get the latest person and merge their updates into the latest person. The server returns a 400 error if `memberships` are being updated and there are no contact group memberships specified on the person. The server returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "request": {
            "$ref": "Person"
          },
          "id": "people.people.updateContact",
          "path": "v1/{+resourceName}:updateContact",
          "flatPath": "v1/people/{peopleId}:updateContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceName"
          ],
          "parameters": {
            "sources": {
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "location": "query",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ]
            },
            "personFields": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            },
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "location": "path",
              "required": true,
              "description": "The resource name for the person, assigned by the server. An ASCII string with a max length of 27 characters, in the form of `people/{person_id}`.",
              "type": "string"
            },
            "updatePersonFields": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All updated fields will be replaced. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined"
            }
          }
        },
        "deleteContactPhoto": {
          "parameters": {
            "personFields": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "location": "query",
              "repeated": true,
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ]
            },
            "resourceName": {
              "required": true,
              "description": "Required. The resource name of the contact whose photo will be deleted.",
              "pattern": "^people/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "id": "people.people.deleteContactPhoto",
          "httpMethod": "DELETE",
          "description": "Delete a contact's photo. Mutate requests for the same user should be done sequentially to avoid // lock contention.",
          "response": {
            "$ref": "DeleteContactPhotoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
          "path": "v1/{+resourceName}:deleteContactPhoto",
          "parameterOrder": [
            "resourceName"
          ]
        },
        "batchUpdateContacts": {
          "request": {
            "$ref": "BatchUpdateContactsRequest"
          },
          "id": "people.people.batchUpdateContacts",
          "parameterOrder": [],
          "response": {
            "$ref": "BatchUpdateContactsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Update a batch of contacts and return a map of resource names to PersonResponses for the updated contacts. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/people:batchUpdateContacts",
          "parameters": {},
          "flatPath": "v1/people:batchUpdateContacts",
          "httpMethod": "POST"
        },
        "createContact": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v1/people:createContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Create a new contact and return the person resource for that contact. The request returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "request": {
            "$ref": "Person"
          },
          "parameters": {
            "sources": {
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query"
            },
            "personFields": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Person"
          },
          "id": "people.people.createContact",
          "flatPath": "v1/people:createContact"
        }
      }
    },
    "contactGroups": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.contactGroups.update",
          "response": {
            "$ref": "ContactGroup"
          },
          "path": "v1/{+resourceName}",
          "parameters": {
            "resourceName": {
              "pattern": "^contactGroups/[^/]+$",
              "required": true,
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "UpdateContactGroupRequest"
          }
        },
        "list": {
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources.",
              "location": "query",
              "type": "string"
            },
            "syncToken": {
              "location": "query",
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned.",
              "type": "string"
            },
            "groupFields": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "id": "people.contactGroups.list",
          "flatPath": "v1/contactGroups",
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "httpMethod": "GET",
          "path": "v1/contactGroups"
        },
        "delete": {
          "parameters": {
            "resourceName": {
              "pattern": "^contactGroups/[^/]+$",
              "location": "path",
              "description": "Required. The resource name of the contact group to delete.",
              "type": "string",
              "required": true
            },
            "deleteContacts": {
              "type": "boolean",
              "description": "Optional. Set to true to also delete the contacts in the specified group.",
              "location": "query"
            }
          },
          "id": "people.contactGroups.delete",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/{+resourceName}",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "parameterOrder": [
            "resourceName"
          ]
        },
        "batchGet": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "id": "people.contactGroups.batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "flatPath": "v1/contactGroups:batchGet",
          "path": "v1/contactGroups:batchGet",
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
          "parameters": {
            "resourceNames": {
              "location": "query",
              "repeated": true,
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
              "type": "string"
            },
            "groupFields": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name"
            },
            "maxMembers": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members."
            }
          }
        },
        "create": {
          "parameters": {},
          "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/contactGroups",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "request": {
            "$ref": "CreateContactGroupRequest"
          },
          "parameterOrder": [],
          "id": "people.contactGroups.create",
          "response": {
            "$ref": "ContactGroup"
          },
          "flatPath": "v1/contactGroups",
          "httpMethod": "POST"
        },
        "get": {
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "path": "v1/{+resourceName}",
          "response": {
            "$ref": "ContactGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "GET",
          "parameters": {
            "groupFields": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "type": "string"
            },
            "resourceName": {
              "pattern": "^contactGroups/[^/]+$",
              "description": "Required. The resource name of the contact group to get.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxMembers": {
              "type": "integer",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members.",
              "location": "query",
              "format": "int32"
            }
          },
          "id": "people.contactGroups.get",
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name."
        }
      },
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "id": "people.contactGroups.members.modify",
              "parameters": {
                "resourceName": {
                  "description": "Required. The resource name of the contact group to modify.",
                  "pattern": "^contactGroups/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "parameterOrder": [
                "resourceName"
              ],
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "path": "v1/{+resourceName}/members:modify",
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "otherContacts": {
      "methods": {
        "list": {
          "path": "v1/otherContacts",
          "description": "List all \"Other contacts\", that is contacts that are not in a contact group. \"Other contacts\" are typically auto created contacts from interactions. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's other contacts that have changed](/people/v1/other-contacts#list_the_users_other_contacts_that_have_changed).",
          "parameterOrder": [],
          "id": "people.otherContacts.list",
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "response": {
            "$ref": "ListOtherContactsResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Optional. The number of \"Other contacts\" to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `otherContacts.list` must match the first call that provided the page token."
            },
            "requestSyncToken": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `otherContacts.list`."
            },
            "sources": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set. Possible values for this field are: * READ_SOURCE_TYPE_CONTACT * READ_SOURCE_TYPE_CONTACT,READ_SOURCE_TYPE_PROFILE Specifying READ_SOURCE_TYPE_PROFILE without specifying READ_SOURCE_TYPE_CONTACT is not permitted.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ]
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `otherContacts.list` must match the first call that provided the sync token. More details about sync behavior at `otherContacts.list`."
            },
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. What values are valid depend on what ReadSourceType is used. If READ_SOURCE_TYPE_CONTACT is used, valid values are: * emailAddresses * metadata * names * phoneNumbers * photos If READ_SOURCE_TYPE_PROFILE is used, valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1/otherContacts"
        },
        "copyOtherContactToMyContactsGroup": {
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "flatPath": "v1/otherContacts/{otherContactsId}:copyOtherContactToMyContactsGroup",
          "id": "people.otherContacts.copyOtherContactToMyContactsGroup",
          "parameters": {
            "resourceName": {
              "pattern": "^otherContacts/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the \"Other contact\" to copy."
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Person"
          },
          "path": "v1/{+resourceName}:copyOtherContactToMyContactsGroup",
          "request": {
            "$ref": "CopyOtherContactToMyContactsGroupRequest"
          },
          "description": "Copies an \"Other contact\" to a new contact in the user's \"myContacts\" group Mutate requests for the same user should be sent sequentially to avoid increased latency and failures."
        },
        "search": {
          "flatPath": "v1/otherContacts:search",
          "description": "Provides a list of contacts in the authenticated user's other contacts that matches the search query. The query matches on a contact's `names`, `emailAddresses`, and `phoneNumbers` fields that are from the OTHER_CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/other-contacts#search_the_users_other_contacts",
          "response": {
            "$ref": "SearchResponse"
          },
          "id": "people.otherContacts.search",
          "httpMethod": "GET",
          "path": "v1/otherContacts:search",
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "format": "int32"
            },
            "query": {
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
              "type": "string",
              "location": "query"
            },
            "readMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers",
              "location": "query"
            }
          },
          "parameterOrder": []
        }
      }
    }
  },
  "version_module": true,
  "id": "people:v1",
  "protocol": "rest",
  "batchPath": "batch",
  "schemas": {
    "ListOtherContactsResponse": {
      "properties": {
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "otherContacts": {
          "type": "array",
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information.",
          "items": {
            "$ref": "Person"
          }
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of other contacts in the list without pagination.",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The response to a request for the authenticated user's \"Other contacts\".",
      "id": "ListOtherContactsResponse",
      "type": "object"
    },
    "Tagline": {
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person.",
      "properties": {
        "metadata": {
          "description": "Metadata about the tagline.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The tagline.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Tagline"
    },
    "Source": {
      "description": "The source of a field.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The source type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[Google Workspace domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[Google Workspace domain shared contact](https://support.google.com/a/answer/9281635)."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ]
        },
        "id": {
          "type": "string",
          "description": "The unique identifier within the source type generated by the server."
        },
        "profileMetadata": {
          "$ref": "ProfileMetadata",
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source."
        },
        "etag": {
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation.",
          "type": "string"
        }
      },
      "id": "Source"
    },
    "DomainMembership": {
      "description": "A Google Workspace Domain membership.",
      "id": "DomainMembership",
      "type": "object",
      "properties": {
        "inViewerDomain": {
          "type": "boolean",
          "description": "True if the person is in the viewer's Google Workspace domain."
        }
      }
    },
    "Locale": {
      "properties": {
        "metadata": {
          "description": "Metadata about the locale.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47) language tag representing the locale."
        }
      },
      "type": "object",
      "id": "Locale",
      "description": "A person's locale preference."
    },
    "Date": {
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "ListConnectionsResponse": {
      "properties": {
        "connections": {
          "items": {
            "$ref": "Person"
          },
          "type": "array",
          "description": "The list of people that the requestor is connected to."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token. When the response is paginated, only the last page will contain `nextSyncToken`."
        },
        "totalItems": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of items in the list without pagination."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "totalPeople": {
          "type": "integer",
          "format": "int32",
          "description": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination."
        }
      },
      "type": "object",
      "id": "ListConnectionsResponse",
      "description": "The response to a request for the authenticated user's connections."
    },
    "ClientData": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The client specified value of the client data."
        },
        "key": {
          "type": "string",
          "description": "The client specified key of the client data."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the client data."
        }
      },
      "id": "ClientData",
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed."
    },
    "Event": {
      "type": "object",
      "id": "Event",
      "properties": {
        "type": {
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`",
          "type": "string"
        },
        "date": {
          "description": "The date of the event.",
          "$ref": "Date"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "description": "Metadata about the event.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "An event related to the person."
    },
    "Relation": {
      "description": "A person's relation to another person.",
      "id": "Relation",
      "properties": {
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the relation.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "type": "string",
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`"
        },
        "person": {
          "type": "string",
          "description": "The name of the other person this relation refers to."
        }
      },
      "type": "object"
    },
    "CoverPhoto": {
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about.",
      "type": "object",
      "id": "CoverPhoto",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the cover photo."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the cover photo."
        },
        "default": {
          "type": "boolean",
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo."
        }
      }
    },
    "Url": {
      "id": "Url",
      "type": "object",
      "description": "A person's associated URLs.",
      "properties": {
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the URL."
        },
        "type": {
          "type": "string",
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`"
        },
        "value": {
          "type": "string",
          "description": "The URL."
        }
      }
    },
    "UpdateContactPhotoResponse": {
      "id": "UpdateContactPhotoResponse",
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the UpdateContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      },
      "type": "object",
      "description": "The response for updating a contact's photo."
    },
    "SearchResult": {
      "id": "SearchResult",
      "properties": {
        "person": {
          "description": "The matched Person.",
          "$ref": "Person"
        }
      },
      "type": "object",
      "description": "A result of a search query."
    },
    "Organization": {
      "description": "A person's past or current organization. Overlapping date ranges are permitted.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The person's job title at the organization."
        },
        "name": {
          "type": "string",
          "description": "The name of the organization."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the organization."
        },
        "location": {
          "type": "string",
          "description": "The location of the organization office the person works at."
        },
        "current": {
          "type": "boolean",
          "description": "True if the organization is the person's current organization; false if the organization is a past organization."
        },
        "jobDescription": {
          "description": "The person's job description at the organization.",
          "type": "string"
        },
        "symbol": {
          "type": "string",
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym."
        },
        "type": {
          "type": "string",
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`"
        },
        "phoneticName": {
          "description": "The phonetic name of the organization.",
          "type": "string"
        },
        "fullTimeEquivalentMillipercent": {
          "format": "int32",
          "description": "The person's full-time equivalent millipercent within the organization (100000 = 100%).",
          "type": "integer"
        },
        "domain": {
          "type": "string",
          "description": "The domain name associated with the organization; for example, `google.com`."
        },
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        },
        "endDate": {
          "description": "The end date when the person left the organization.",
          "$ref": "Date"
        },
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date when the person joined the organization."
        },
        "costCenter": {
          "type": "string",
          "description": "The person's cost center at the organization."
        }
      },
      "type": "object",
      "id": "Organization"
    },
    "MiscKeyword": {
      "type": "object",
      "id": "MiscKeyword",
      "properties": {
        "value": {
          "description": "The value of the miscellaneous keyword.",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ],
          "type": "string",
          "description": "The miscellaneous keyword type.",
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ]
        },
        "metadata": {
          "description": "Metadata about the miscellaneous keyword.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "A person's miscellaneous keyword."
    },
    "Interest": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The interest; for example, `stargazing`."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the interest."
        }
      },
      "type": "object",
      "id": "Interest",
      "description": "One of the person's interests."
    },
    "Name": {
      "type": "object",
      "id": "Name",
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "properties": {
        "phoneticFullName": {
          "description": "The full name spelled as it sounds.",
          "type": "string"
        },
        "displayNameLastFirst": {
          "description": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "type": "string",
          "readOnly": true
        },
        "middleName": {
          "type": "string",
          "description": "The middle name(s)."
        },
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "familyName": {
          "description": "The family name.",
          "type": "string"
        },
        "phoneticGivenName": {
          "type": "string",
          "description": "The given name spelled as it sounds."
        },
        "phoneticHonorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes spelled as they sound."
        },
        "metadata": {
          "description": "Metadata about the name.",
          "$ref": "FieldMetadata"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "type": "string"
        },
        "unstructuredName": {
          "type": "string",
          "description": "The free form name value."
        },
        "phoneticMiddleName": {
          "type": "string",
          "description": "The middle name(s) spelled as they sound."
        },
        "phoneticHonorificPrefix": {
          "description": "The honorific prefixes spelled as they sound.",
          "type": "string"
        },
        "honorificSuffix": {
          "description": "The honorific suffixes, such as `Jr.`",
          "type": "string"
        },
        "honorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`"
        },
        "phoneticFamilyName": {
          "type": "string",
          "description": "The family name spelled as it sounds."
        }
      }
    },
    "SipAddress": {
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet.",
      "id": "SipAddress",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the SIP address.",
          "$ref": "FieldMetadata"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "type": {
          "type": "string",
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`"
        },
        "value": {
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format.",
          "type": "string"
        }
      }
    },
    "Nickname": {
      "description": "A person's nickname.",
      "properties": {
        "value": {
          "description": "The nickname.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the nickname.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ],
          "type": "string",
          "description": "The type of the nickname.",
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ]
        }
      },
      "id": "Nickname",
      "type": "object"
    },
    "CalendarUrl": {
      "properties": {
        "formattedType": {
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "url": {
          "description": "The calendar URL.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the calendar URL.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`",
          "type": "string"
        }
      },
      "id": "CalendarUrl",
      "type": "object",
      "description": "A person's calendar URL."
    },
    "FileAs": {
      "properties": {
        "value": {
          "description": "The file-as value",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the file-as."
        }
      },
      "description": "The name that should be used to sort the person in a list.",
      "type": "object",
      "id": "FileAs"
    },
    "BatchUpdateContactsRequest": {
      "description": "A request to update a batch of contacts.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All specified fields will be replaced, or cleared if left empty for each person. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
          "type": "string"
        },
        "readMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        },
        "contacts": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Person"
          },
          "description": "Required. A map of resource names to the person data to be updated. Allows up to 200 contacts in a single request."
        },
        "sources": {
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ]
          }
        }
      },
      "type": "object",
      "id": "BatchUpdateContactsRequest"
    },
    "ImClient": {
      "type": "object",
      "description": "A person's instant messaging client.",
      "properties": {
        "protocol": {
          "type": "string",
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`"
        },
        "formattedProtocol": {
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "username": {
          "type": "string",
          "description": "The user name used in the IM client."
        },
        "formattedType": {
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the IM client."
        }
      },
      "id": "ImClient"
    },
    "ContactGroupMetadata": {
      "description": "The metadata about a contact group.",
      "id": "ContactGroupMetadata",
      "type": "object",
      "properties": {
        "deleted": {
          "type": "boolean",
          "description": "Output only. True if the contact group resource has been deleted. Populated only for [`ListContactGroups`](/people/api/rest/v1/contactgroups/list) requests that include a sync token.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the group was last updated.",
          "format": "google-datetime"
        }
      }
    },
    "PhoneNumber": {
      "description": "A person's phone number.",
      "type": "object",
      "id": "PhoneNumber",
      "properties": {
        "type": {
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "canonicalForm": {
          "readOnly": true,
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the phone number."
        },
        "value": {
          "description": "The phone number.",
          "type": "string"
        }
      }
    },
    "PersonMetadata": {
      "type": "object",
      "description": "The metadata about a person.",
      "properties": {
        "linkedPeopleResourceNames": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Resource names of people linked to this resource."
        },
        "previousResourceNames": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Any former resource names this person has had. Populated only for `people.connections.list` requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL.",
          "items": {
            "type": "string"
          }
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the person resource has been deleted. Populated only for `people.connections.list` and `otherContacts.list` sync requests."
        },
        "objectType": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object.",
          "readOnly": true,
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "The sources of data for the person.",
          "items": {
            "$ref": "Source"
          }
        }
      },
      "id": "PersonMetadata"
    },
    "BatchUpdateContactsResponse": {
      "properties": {
        "updateResult": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PersonResponse"
          },
          "description": "A map of resource names to the contacts that were updated, unless the request `read_mask` is empty."
        }
      },
      "id": "BatchUpdateContactsResponse",
      "type": "object",
      "description": "If not successful, returns BatchUpdateContactsErrorDetails, a list of errors corresponding to each contact. The response to a request to update a batch of contacts."
    },
    "UserDefined": {
      "id": "UserDefined",
      "properties": {
        "value": {
          "description": "The end user specified value of the user defined data.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The end user specified key of the user defined data."
        },
        "metadata": {
          "description": "Metadata about the user defined data.",
          "$ref": "FieldMetadata"
        }
      },
      "type": "object",
      "description": "Arbitrary user data that is populated by the end users."
    },
    "Membership": {
      "description": "A person's membership in a group. Only contact group memberships can be modified.",
      "id": "Membership",
      "properties": {
        "contactGroupMembership": {
          "$ref": "ContactGroupMembership",
          "description": "The contact group membership."
        },
        "domainMembership": {
          "readOnly": true,
          "$ref": "DomainMembership",
          "description": "Output only. The domain membership."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the membership."
        }
      },
      "type": "object"
    },
    "Person": {
      "properties": {
        "braggingRights": {
          "type": "array",
          "items": {
            "$ref": "BraggingRights"
          },
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights."
        },
        "events": {
          "items": {
            "$ref": "Event"
          },
          "type": "array",
          "description": "The person's events."
        },
        "externalIds": {
          "type": "array",
          "description": "The person's external IDs.",
          "items": {
            "$ref": "ExternalId"
          }
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the person.",
          "$ref": "PersonMetadata"
        },
        "relations": {
          "description": "The person's relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        },
        "fileAses": {
          "type": "array",
          "items": {
            "$ref": "FileAs"
          },
          "description": "The person's file-ases."
        },
        "organizations": {
          "type": "array",
          "items": {
            "$ref": "Organization"
          },
          "description": "The person's past or current organizations."
        },
        "calendarUrls": {
          "description": "The person's calendar URLs.",
          "type": "array",
          "items": {
            "$ref": "CalendarUrl"
          }
        },
        "birthdays": {
          "description": "The person's birthdays. This field is a singleton for contact sources.",
          "type": "array",
          "items": {
            "$ref": "Birthday"
          }
        },
        "urls": {
          "items": {
            "$ref": "Url"
          },
          "description": "The person's associated URLs.",
          "type": "array"
        },
        "relationshipInterests": {
          "items": {
            "$ref": "RelationshipInterest"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests."
        },
        "relationshipStatuses": {
          "readOnly": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses.",
          "items": {
            "$ref": "RelationshipStatus"
          },
          "type": "array"
        },
        "sipAddresses": {
          "type": "array",
          "description": "The person's SIP addresses.",
          "items": {
            "$ref": "SipAddress"
          }
        },
        "photos": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The person's photos.",
          "items": {
            "$ref": "Photo"
          }
        },
        "imClients": {
          "type": "array",
          "description": "The person's instant messaging clients.",
          "items": {
            "$ref": "ImClient"
          }
        },
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "Membership"
          },
          "description": "The person's group memberships."
        },
        "clientData": {
          "items": {
            "$ref": "ClientData"
          },
          "description": "The person's client data.",
          "type": "array"
        },
        "userDefined": {
          "type": "array",
          "description": "The person's user defined data.",
          "items": {
            "$ref": "UserDefined"
          }
        },
        "occupations": {
          "description": "The person's occupations.",
          "items": {
            "$ref": "Occupation"
          },
          "type": "array"
        },
        "skills": {
          "description": "The person's skills.",
          "type": "array",
          "items": {
            "$ref": "Skill"
          }
        },
        "names": {
          "items": {
            "$ref": "Name"
          },
          "type": "array",
          "description": "The person's names. This field is a singleton for contact sources."
        },
        "addresses": {
          "items": {
            "$ref": "Address"
          },
          "type": "array",
          "description": "The person's street addresses."
        },
        "ageRanges": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The person's age ranges.",
          "items": {
            "$ref": "AgeRangeType"
          }
        },
        "taglines": {
          "items": {
            "$ref": "Tagline"
          },
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "readOnly": true,
          "type": "array"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "The person's locations."
        },
        "emailAddresses": {
          "type": "array",
          "description": "The person's email addresses. For `people.connections.list` and `otherContacts.list` the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling GetPeople.",
          "items": {
            "$ref": "EmailAddress"
          }
        },
        "biographies": {
          "description": "The person's biographies. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Biography"
          },
          "type": "array"
        },
        "genders": {
          "description": "The person's genders. This field is a singleton for contact sources.",
          "type": "array",
          "items": {
            "$ref": "Gender"
          }
        },
        "interests": {
          "items": {
            "$ref": "Interest"
          },
          "description": "The person's interests.",
          "type": "array"
        },
        "nicknames": {
          "description": "The person's nicknames.",
          "type": "array",
          "items": {
            "$ref": "Nickname"
          }
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "locales": {
          "description": "The person's locale preferences.",
          "type": "array",
          "items": {
            "$ref": "Locale"
          }
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the person, assigned by the server. An ASCII string with a max length of 27 characters, in the form of `people/{person_id}`."
        },
        "coverPhotos": {
          "description": "Output only. The person's cover photos.",
          "readOnly": true,
          "items": {
            "$ref": "CoverPhoto"
          },
          "type": "array"
        },
        "miscKeywords": {
          "items": {
            "$ref": "MiscKeyword"
          },
          "type": "array",
          "description": "The person's miscellaneous keywords."
        },
        "ageRange": {
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "type": "string",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "readOnly": true
        },
        "residences": {
          "type": "array",
          "items": {
            "$ref": "Residence"
          },
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences."
        },
        "phoneNumbers": {
          "items": {
            "$ref": "PhoneNumber"
          },
          "description": "The person's phone numbers. For `people.connections.list` and `otherContacts.list` the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling GetPeople.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Person",
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true."
    },
    "BatchGetContactGroupsResponse": {
      "id": "BatchGetContactGroupsResponse",
      "description": "The response to a batch get contact groups request.",
      "type": "object",
      "properties": {
        "responses": {
[...]
