{
  "version": "v1",
  "protocol": "rest",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/people/",
  "version_module": true,
  "discoveryVersion": "v1",
  "canonicalName": "People Service",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "See and download your personal phone numbers"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "See and download your exact date of birth"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "See and download all of your Google Account email addresses"
        },
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's GSuite directory"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        }
      }
    }
  },
  "basePath": "",
  "name": "people",
  "title": "People API",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    }
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://people.googleapis.com/",
  "batchPath": "batch",
  "revision": "20210720",
  "schemas": {
    "Locale": {
      "properties": {
        "value": {
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47) language tag representing the locale.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the locale."
        }
      },
      "description": "A person's locale preference.",
      "id": "Locale",
      "type": "object"
    },
    "BatchGetContactGroupsResponse": {
      "type": "object",
      "description": "The response to a batch get contact groups request.",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "ContactGroupResponse"
          },
          "description": "The list of responses for each requested contact group resource."
        }
      },
      "id": "BatchGetContactGroupsResponse"
    },
    "BatchCreateContactsResponse": {
      "id": "BatchCreateContactsResponse",
      "type": "object",
      "description": "The response to a request to create a batch of contacts.",
      "properties": {
        "createdPeople": {
          "description": "The contacts that were created, unless the request `read_mask` is empty.",
          "type": "array",
          "items": {
            "$ref": "PersonResponse"
          }
        }
      }
    },
    "ClientData": {
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the client data."
        },
        "value": {
          "type": "string",
          "description": "The client specified value of the client data."
        },
        "key": {
          "type": "string",
          "description": "The client specified key of the client data."
        }
      },
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "id": "ClientData",
      "type": "object"
    },
    "Photo": {
      "type": "object",
      "id": "Photo",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50"
        },
        "default": {
          "description": "True if the photo is a default photo; false if the photo is a user-provided photo.",
          "type": "boolean"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the photo."
        }
      },
      "description": "A person's photo. A picture shown next to the person's name to help others recognize the person."
    },
    "CoverPhoto": {
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the cover photo."
        },
        "default": {
          "type": "boolean",
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo."
        },
        "url": {
          "type": "string",
          "description": "The URL of the cover photo."
        }
      },
      "id": "CoverPhoto"
    },
    "CalendarUrl": {
      "id": "CalendarUrl",
      "type": "object",
      "description": "A person's calendar URL.",
      "properties": {
        "url": {
          "description": "The calendar URL.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`"
        },
        "formattedType": {
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the calendar URL.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "ContactGroup": {
      "id": "ContactGroup",
      "properties": {
        "name": {
          "type": "string",
          "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error."
        },
        "clientData": {
          "description": "The group's client data.",
          "items": {
            "$ref": "GroupClientData"
          },
          "type": "array"
        },
        "metadata": {
          "$ref": "ContactGroupMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about the contact group."
        },
        "memberResourceNames": {
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "formattedName": {
          "readOnly": true,
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name.",
          "type": "string"
        },
        "resourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation."
        },
        "memberCount": {
          "format": "int32",
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "readOnly": true,
          "type": "integer"
        },
        "groupType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The contact group type.",
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ]
        }
      },
      "description": "A contact group.",
      "type": "object"
    },
    "FileAs": {
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the file-as."
        },
        "value": {
          "type": "string",
          "description": "The file-as value"
        }
      },
      "type": "object",
      "description": "The name that should be used to sort the person in a list.",
      "id": "FileAs"
    },
    "BatchUpdateContactsResponse": {
      "type": "object",
      "description": "The response to a request to create a batch of contacts.",
      "properties": {
        "updateResult": {
          "type": "object",
          "description": "A map of resource names to the contacts that were updated, unless the request `read_mask` is empty.",
          "additionalProperties": {
            "$ref": "PersonResponse"
          }
        }
      },
      "id": "BatchUpdateContactsResponse"
    },
    "Biography": {
      "description": "A person's short biography.",
      "type": "object",
      "id": "Biography",
      "properties": {
        "contentType": {
          "description": "The content type of the biography.",
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ],
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ],
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the biography.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The short biography.",
          "type": "string"
        }
      }
    },
    "Residence": {
      "properties": {
        "current": {
          "type": "boolean",
          "description": "True if the residence is the person's current residence; false if the residence is a past residence."
        },
        "value": {
          "description": "The address of the residence.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the residence."
        }
      },
      "type": "object",
      "description": "**DEPRECATED**: Please use `person.locations` instead. A person's past or current residence.",
      "id": "Residence"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "Tagline": {
      "type": "object",
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The tagline."
        },
        "metadata": {
          "description": "Metadata about the tagline.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "Tagline"
    },
    "ModifyContactGroupMembersRequest": {
      "type": "object",
      "description": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups.",
      "id": "ModifyContactGroupMembersRequest",
      "properties": {
        "resourceNamesToAdd": {
          "description": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceNamesToRemove": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000."
        }
      }
    },
    "Birthday": {
      "properties": {
        "metadata": {
          "description": "Metadata about the birthday.",
          "$ref": "FieldMetadata"
        },
        "date": {
          "description": "The date of the birthday.",
          "$ref": "Date"
        },
        "text": {
          "type": "string",
          "description": "A free-form string representing the user's birthday."
        }
      },
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to.",
      "id": "Birthday",
      "type": "object"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Date"
    },
    "SearchResult": {
      "type": "object",
      "id": "SearchResult",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The matched Person."
        }
      },
      "description": "A result of a search query."
    },
    "ListConnectionsResponse": {
      "type": "object",
      "id": "ListConnectionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token. When the response is paginated, only the last page will contain `nextSyncToken`.",
          "type": "string"
        },
        "totalPeople": {
          "type": "integer",
          "description": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination.",
          "format": "int32"
        },
        "connections": {
          "items": {
            "$ref": "Person"
          },
          "type": "array",
          "description": "The list of people that the requestor is connected to."
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of items in the list without pagination.",
          "format": "int32"
        }
      },
      "description": "The response to a request for the authenticated user's connections."
    },
    "SearchResponse": {
      "id": "SearchResponse",
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          },
          "description": "The results of the request."
        }
      },
      "description": "The response to a search request for the authenticated user, given a query."
    },
    "BraggingRights": {
      "properties": {
        "value": {
          "description": "The bragging rights; for example, `climbed mount everest`.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the bragging rights."
        }
      },
      "type": "object",
      "description": "**DEPRECATED**: No data will be returned A person's bragging rights.",
      "id": "BraggingRights"
    },
    "UserDefined": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The end user specified value of the user defined data."
        },
        "key": {
          "description": "The end user specified key of the user defined data.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the user defined data."
        }
      },
      "description": "Arbitrary user data that is populated by the end users.",
      "type": "object",
      "id": "UserDefined"
    },
    "Gender": {
      "properties": {
        "formattedValue": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized."
        },
        "metadata": {
          "description": "Metadata about the gender.",
          "$ref": "FieldMetadata"
        },
        "addressMeAs": {
          "type": "string",
          "description": "The type of pronouns that should be used to address the person. The value can be custom or one of these predefined values: * `male` * `female` * `other`"
        },
        "value": {
          "type": "string",
          "description": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`"
        }
      },
      "type": "object",
      "id": "Gender",
      "description": "A person's gender."
    },
    "ListOtherContactsResponse": {
      "properties": {
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "otherContacts": {
          "type": "array",
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information.",
          "items": {
            "$ref": "Person"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of other contacts in the list without pagination.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ListOtherContactsResponse",
      "type": "object",
      "description": "The response to a request for the authenticated user's \"Other contacts\"."
    },
    "BatchDeleteContactsRequest": {
      "type": "object",
      "id": "BatchDeleteContactsRequest",
      "description": "A request to delete a batch of existing contacts.",
      "properties": {
        "resourceNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The resource names of the contact to delete. It's repeatable. Allows up to 500 resource names in a single request."
        }
      }
    },
    "RelationshipInterest": {
      "properties": {
        "formattedValue": {
          "description": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the relationship interest.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "**DEPRECATED**: No data will be returned A person's relationship interest .",
      "id": "RelationshipInterest",
      "type": "object"
    },
    "EmailAddress": {
      "properties": {
        "displayName": {
          "description": "The display name of the email.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The email address."
        },
        "type": {
          "description": "The type of the email address. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the email address."
        },
        "formattedType": {
          "description": "Output only. The type of the email address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "EmailAddress",
      "description": "A person's email address.",
      "type": "object"
    },
    "PhoneNumber": {
      "type": "object",
      "id": "PhoneNumber",
      "description": "A person's phone number.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the phone number."
        },
        "type": {
          "type": "string",
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "canonicalForm": {
          "readOnly": true,
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
          "type": "string"
        },
        "value": {
          "description": "The phone number.",
          "type": "string"
        }
      }
    },
    "Relation": {
      "description": "A person's relation to another person.",
      "type": "object",
      "id": "Relation",
      "properties": {
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        },
        "type": {
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relation."
        },
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "type": "string"
        }
      }
    },
    "SipAddress": {
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet.",
      "id": "SipAddress",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`"
        },
        "value": {
          "type": "string",
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format."
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the SIP address."
        }
      },
      "type": "object"
    },
    "FieldMetadata": {
      "id": "FieldMetadata",
      "properties": {
        "primary": {
          "type": "boolean",
          "description": "True if the field is the primary field for the person."
        },
        "verified": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person."
        },
        "source": {
          "$ref": "Source",
          "description": "The source of the field."
        },
        "sourcePrimary": {
          "type": "boolean",
          "description": "True if the field is the primary field for the source."
        }
      },
      "description": "Metadata about a field.",
      "type": "object"
    },
    "Membership": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the membership.",
          "$ref": "FieldMetadata"
        },
        "domainMembership": {
          "$ref": "DomainMembership",
          "readOnly": true,
          "description": "Output only. The domain membership."
        },
        "contactGroupMembership": {
          "description": "The contact group membership.",
          "$ref": "ContactGroupMembership"
        }
      },
      "description": "A person's membership in a group. Only contact group memberships can be modified.",
      "id": "Membership"
    },
    "Person": {
      "properties": {
        "emailAddresses": {
          "description": "The person's email addresses. For `people.connections.list` and `otherContacts.list` the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling GetPeople.",
          "items": {
            "$ref": "EmailAddress"
          },
          "type": "array"
        },
        "organizations": {
          "type": "array",
          "description": "The person's past or current organizations.",
          "items": {
            "$ref": "Organization"
          }
        },
        "occupations": {
          "type": "array",
          "items": {
            "$ref": "Occupation"
          },
          "description": "The person's occupations."
        },
        "locales": {
          "type": "array",
          "description": "The person's locale preferences.",
          "items": {
            "$ref": "Locale"
          }
        },
        "imClients": {
          "type": "array",
          "items": {
            "$ref": "ImClient"
          },
          "description": "The person's instant messaging clients."
        },
        "clientData": {
          "items": {
            "$ref": "ClientData"
          },
          "description": "The person's client data.",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation."
        },
        "miscKeywords": {
          "type": "array",
          "description": "The person's miscellaneous keywords.",
          "items": {
            "$ref": "MiscKeyword"
          }
        },
        "metadata": {
          "$ref": "PersonMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about the person."
        },
        "userDefined": {
          "description": "The person's user defined data.",
          "type": "array",
          "items": {
            "$ref": "UserDefined"
          }
        },
        "birthdays": {
          "items": {
            "$ref": "Birthday"
          },
          "description": "The person's birthdays. This field is a singleton for contact sources.",
          "type": "array"
        },
        "skills": {
          "type": "array",
          "items": {
            "$ref": "Skill"
          },
          "description": "The person's skills."
        },
        "phoneNumbers": {
          "items": {
            "$ref": "PhoneNumber"
          },
          "type": "array",
          "description": "The person's phone numbers. For `people.connections.list` and `otherContacts.list` the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling GetPeople."
        },
        "genders": {
          "items": {
            "$ref": "Gender"
          },
          "description": "The person's genders. This field is a singleton for contact sources.",
          "type": "array"
        },
        "ageRanges": {
          "type": "array",
          "items": {
            "$ref": "AgeRangeType"
          },
          "description": "Output only. The person's age ranges.",
          "readOnly": true
        },
        "residences": {
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences.",
          "type": "array",
          "items": {
            "$ref": "Residence"
          }
        },
        "sipAddresses": {
          "description": "The person's SIP addresses.",
          "items": {
            "$ref": "SipAddress"
          },
          "type": "array"
        },
        "names": {
          "type": "array",
          "description": "The person's names. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Name"
          }
        },
        "relationshipStatuses": {
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RelationshipStatus"
          }
        },
        "biographies": {
          "description": "The person's biographies. This field is a singleton for contact sources.",
          "type": "array",
          "items": {
            "$ref": "Biography"
          }
        },
        "ageRange": {
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "readOnly": true
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "The person's locations.",
          "type": "array"
        },
        "interests": {
          "description": "The person's interests.",
          "items": {
            "$ref": "Interest"
          },
          "type": "array"
        },
        "calendarUrls": {
          "items": {
            "$ref": "CalendarUrl"
          },
          "type": "array",
          "description": "The person's calendar URLs."
        },
        "memberships": {
          "items": {
            "$ref": "Membership"
          },
          "type": "array",
          "description": "The person's group memberships."
        },
        "relationshipInterests": {
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "type": "array",
          "items": {
            "$ref": "RelationshipInterest"
          },
          "readOnly": true
        },
        "fileAses": {
          "type": "array",
          "description": "The person's file-ases.",
          "items": {
            "$ref": "FileAs"
          }
        },
        "braggingRights": {
          "items": {
            "$ref": "BraggingRights"
          },
          "type": "array",
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights."
        },
        "resourceName": {
          "description": "The resource name for the person, assigned by the server. An ASCII string with a max length of 27 characters, in the form of `people/{person_id}`.",
          "type": "string"
        },
        "coverPhotos": {
          "type": "array",
          "description": "Output only. The person's cover photos.",
          "items": {
            "$ref": "CoverPhoto"
          },
          "readOnly": true
        },
        "externalIds": {
          "description": "The person's external IDs.",
          "type": "array",
          "items": {
            "$ref": "ExternalId"
          }
        },
        "taglines": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "items": {
            "$ref": "Tagline"
          }
        },
        "events": {
          "items": {
            "$ref": "Event"
          },
          "type": "array",
          "description": "The person's events."
        },
        "urls": {
          "type": "array",
          "items": {
            "$ref": "Url"
          },
          "description": "The person's associated URLs."
        },
        "addresses": {
          "description": "The person's street addresses.",
          "items": {
            "$ref": "Address"
          },
          "type": "array"
        },
        "relations": {
          "description": "The person's relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        },
        "nicknames": {
          "type": "array",
          "items": {
            "$ref": "Nickname"
          },
          "description": "The person's nicknames."
        },
        "photos": {
          "type": "array",
          "description": "Output only. The person's photos.",
          "readOnly": true,
          "items": {
            "$ref": "Photo"
          }
        }
      },
      "type": "object",
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true.",
      "id": "Person"
    },
    "ProfileMetadata": {
      "description": "The metadata about a profile.",
      "properties": {
        "objectType": {
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "readOnly": true,
          "description": "Output only. The profile object type."
        },
        "userTypes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ],
            "type": "string",
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Currents user.",
              "The user is a Google Workspace user."
            ]
          },
          "description": "Output only. The user types."
        }
      },
      "id": "ProfileMetadata",
      "type": "object"
    },
    "GetPeopleResponse": {
      "id": "GetPeopleResponse",
      "properties": {
        "responses": {
          "items": {
            "$ref": "PersonResponse"
          },
          "type": "array",
          "description": "The response for each requested resource name."
        }
      },
      "type": "object",
      "description": "The response to a get request for a list of people by resource name."
    },
    "DomainMembership": {
      "type": "object",
      "properties": {
        "inViewerDomain": {
          "type": "boolean",
          "description": "True if the person is in the viewer's Google Workspace domain."
        }
      },
      "description": "A Google Workspace Domain membership.",
      "id": "DomainMembership"
    },
    "ImClient": {
      "type": "object",
      "description": "A person's instant messaging client.",
      "properties": {
        "username": {
          "type": "string",
          "description": "The user name used in the IM client."
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "protocol": {
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "formattedProtocol": {
          "readOnly": true,
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the IM client."
        }
      },
      "id": "ImClient"
    },
    "DeleteContactPhotoResponse": {
      "id": "DeleteContactPhotoResponse",
      "type": "object",
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      },
      "description": "The response for deleting a contact's photo."
    },
    "ExternalId": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the external ID."
        },
        "metadata": {
          "description": "Metadata about the external ID.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "type": "string",
          "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        }
      },
      "id": "ExternalId",
      "description": "An identifier from an external entity related to the person.",
      "type": "object"
    },
    "UpdateContactPhotoResponse": {
      "type": "object",
      "description": "The response for updating a contact's photo.",
      "id": "UpdateContactPhotoResponse",
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the UpdateContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      }
    },
    "ContactGroupResponse": {
      "type": "object",
      "id": "ContactGroupResponse",
      "properties": {
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name."
        },
        "status": {
          "$ref": "Status",
          "description": "The status of the response."
        },
        "contactGroup": {
          "description": "The contact group.",
          "$ref": "ContactGroup"
        }
      },
      "description": "The response for a specific contact group."
    },
    "UpdateContactPhotoRequest": {
      "type": "object",
      "id": "UpdateContactPhotoRequest",
      "description": "A request to update an existing contact's photo. All requests must have a valid photo format: JPEG or PNG.",
      "properties": {
        "sources": {
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ],
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ]
          }
        },
        "photoBytes": {
          "description": "Required. Raw photo bytes",
          "format": "byte",
          "type": "string"
        },
        "personFields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        }
      }
    },
    "CreateContactGroupRequest": {
      "id": "CreateContactGroupRequest",
      "properties": {
        "contactGroup": {
          "$ref": "ContactGroup",
          "description": "Required. The contact group to create."
        },
        "readGroupFields": {
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * metadata * name",
          "type": "string"
        }
      },
      "description": "A request to create a new contact group.",
      "type": "object"
    },
    "GroupClientData": {
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "id": "GroupClientData",
      "properties": {
        "value": {
          "type": "string",
          "description": "The client specified value of the client data."
        },
        "key": {
          "description": "The client specified key of the client data.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Occupation": {
      "id": "Occupation",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the occupation."
        },
        "value": {
          "description": "The occupation; for example, `carpenter`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A person's occupation."
    },
    "BatchUpdateContactsRequest": {
      "properties": {
        "contacts": {
          "type": "object",
          "description": "Required. A map of resource names to the person data to be updated. Allows up to 200 contacts in a single request.",
          "additionalProperties": {
            "$ref": "Person"
          }
        },
        "updateMask": {
          "type": "string",
          "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All specified fields will be replaced, or cleared if left empty for each person. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
          "format": "google-fieldmask"
        },
        "readMask": {
          "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask",
          "type": "string"
        },
        "sources": {
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ]
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A request to update a batch of contacts.",
      "id": "BatchUpdateContactsRequest"
    },
    "RelationshipStatus": {
      "type": "object",
      "id": "RelationshipStatus",
      "properties": {
        "formattedValue": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The value of the relationship status translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "value": {
          "description": "The relationship status. The value can be custom or one of these predefined values: * `single` * `inARelationship` * `engaged` * `married` * `itsComplicated` * `openRelationship` * `widowed` * `inDomesticPartnership` * `inCivilUnion`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship status."
        }
      },
      "description": "**DEPRECATED**: No data will be returned A person's relationship status."
    },
    "Nickname": {
      "id": "Nickname",
      "type": "object",
      "description": "A person's nickname.",
      "properties": {
        "value": {
          "description": "The nickname.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ],
          "description": "The type of the nickname.",
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ]
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the nickname."
        }
      }
    },
    "Address": {
      "properties": {
        "region": {
          "type": "string",
          "description": "The region of the address; for example, the state or province."
        },
        "formattedType": {
          "description": "Output only. The type of the address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "poBox": {
          "description": "The P.O. box of the address.",
          "type": "string"
        },
        "formattedValue": {
          "description": "The unstructured value of the address. If this is not set by the user it will be automatically constructed from structured values.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "The country of the address."
        },
        "postalCode": {
          "description": "The postal code of the address.",
          "type": "string"
        },
        "type": {
          "description": "The type of the address. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the address."
        },
        "streetAddress": {
          "type": "string",
          "description": "The street address."
        },
        "city": {
          "type": "string",
          "description": "The city of the address."
        },
        "countryCode": {
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country code of the address.",
          "type": "string"
        },
        "extendedAddress": {
          "type": "string",
          "description": "The extended address of the address; for example, the apartment number."
        }
      },
      "id": "Address",
      "type": "object",
      "description": "A person's physical address. May be a P.O. box or street address. All fields are optional."
    },
    "UpdateContactGroupRequest": {
      "type": "object",
      "description": "A request to update an existing user contact group. All updated fields will be replaced.",
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to update.",
          "$ref": "ContactGroup"
        },
        "updateGroupFields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name"
        },
        "readGroupFields": {
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
          "type": "string"
        }
      },
      "id": "UpdateContactGroupRequest"
    },
    "PersonResponse": {
      "id": "PersonResponse",
      "type": "object",
      "properties": {
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL."
        },
        "person": {
          "description": "The person.",
          "$ref": "Person"
        },
        "httpStatusCode": {
          "type": "integer",
          "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).",
          "format": "int32"
        },
        "status": {
          "$ref": "Status",
          "description": "The status of the response."
        }
      },
      "description": "The response for a single person"
    },
    "Source": {
      "id": "Source",
      "properties": {
        "profileMetadata": {
          "readOnly": true,
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE.",
          "$ref": "ProfileMetadata"
        },
        "id": {
          "description": "The unique identifier within the source type generated by the server.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[Google Workspace domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[Google Workspace domain shared contact](https://support.google.com/a/answer/9281635)."
          ],
          "description": "The source type.",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ]
        },
        "etag": {
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The source of a field.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "ContactGroupMembership": {
      "properties": {
        "contactGroupId": {
          "description": "Output only. The contact group ID for the contact group membership.",
          "type": "string",
          "readOnly": true
        },
        "contactGroupResourceName": {
          "type": "string",
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership."
        }
      },
      "id": "ContactGroupMembership",
      "description": "A Google contact group membership.",
      "type": "object"
    },
    "Url": {
      "description": "A person's associated URLs.",
      "type": "object",
      "id": "Url",
      "properties": {
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the URL."
        },
        "type": {
          "type": "string",
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`"
        },
        "value": {
          "type": "string",
          "description": "The URL."
        }
      }
    },
    "Organization": {
      "description": "A person's past or current organization. Overlapping date ranges are permitted.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`"
        },
        "current": {
          "type": "boolean",
          "description": "True if the organization is the person's current organization; false if the organization is a past organization."
        },
        "domain": {
          "description": "The domain name associated with the organization; for example, `google.com`.",
          "type": "string"
        },
        "title": {
          "description": "The person's job title at the organization.",
          "type": "string"
        },
        "symbol": {
          "type": "string",
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym."
        },
        "jobDescription": {
          "type": "string",
          "description": "The person's job description at the organization."
        },
        "phoneticName": {
          "description": "The phonetic name of the organization.",
          "type": "string"
        },
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the organization."
        },
        "location": {
          "description": "The location of the organization office the person works at.",
          "type": "string"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date when the person left the organization."
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "startDate": {
          "description": "The start date when the person joined the organization.",
          "$ref": "Date"
        },
        "name": {
          "type": "string",
          "description": "The name of the organization."
        }
      },
      "id": "Organization",
      "type": "object"
    },
    "AgeRangeType": {
      "type": "object",
      "properties": {
        "ageRange": {
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "description": "The age range.",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the age range.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "A person's age range.",
      "id": "AgeRangeType"
    },
    "ContactToCreate": {
      "type": "object",
      "properties": {
        "contactPerson": {
          "description": "Required. The person data to populate a newly created source.",
          "$ref": "Person"
        }
      },
      "id": "ContactToCreate",
      "description": "A wrapper that contains the person data to populate a newly created source."
    },
    "CopyOtherContactToMyContactsGroupRequest": {
      "id": "CopyOtherContactToMyContactsGroupRequest",
      "type": "object",
      "properties": {
        "readMask": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask"
        },
        "sources": {
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "type": "array",
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ],
            "type": "string"
          }
        },
        "copyMask": {
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers",
          "type": "string"
        }
      },
      "description": "A request to copy an \"Other contact\" to my contacts group."
    },
    "Skill": {
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the skill."
        },
        "value": {
          "description": "The skill; for example, `underwater basket weaving`.",
          "type": "string"
        }
      },
      "id": "Skill",
      "description": "A skill that the person has.",
      "type": "object"
    },
    "SearchDirectoryPeopleResponse": {
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of items in the list without pagination."
        },
        "people": {
          "description": "The list of people in the domain directory that match the query.",
          "type": "array",
          "items": {
            "$ref": "Person"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "SearchDirectoryPeopleResponse",
      "type": "object",
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query."
    },
    "Event": {
      "type": "object",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "The date of the event."
        },
        "type": {
          "type": "string",
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the event."
        },
        "formattedType": {
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Event",
      "description": "An event related to the person."
    },
    "ListDirectoryPeopleResponse": {
      "type": "object",
      "properties": {
        "people": {
          "type": "array",
          "items": {
            "$ref": "Person"
          },
          "description": "The list of people in the domain directory."
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The response to a request for the authenticated user's domain directory.",
      "id": "ListDirectoryPeopleResponse"
    },
    "ModifyContactGroupMembersResponse": {
      "properties": {
        "notFoundResourceNames": {
          "items": {
            "type": "string"
          },
          "description": "The contact people resource names that were not found.",
          "type": "array"
        },
        "canNotRemoveLastContactGroupResourceNames": {
          "items": {
            "type": "string"
          },
          "description": "The contact people resource names that cannot be removed from their last contact group.",
          "type": "array"
        }
      },
      "id": "ModifyContactGroupMembersResponse",
      "description": "The response to a modify contact group members request.",
      "type": "object"
    },
    "Interest": {
      "id": "Interest",
      "description": "One of the person's interests.",
      "properties": {
        "metadata": {
          "description": "Metadata about the interest.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The interest; for example, `stargazing`."
        }
      },
      "type": "object"
    },
    "Location": {
      "properties": {
        "deskCode": {
          "description": "The individual desk location.",
          "type": "string"
        },
        "type": {
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the location."
        },
        "floorSection": {
          "description": "The floor section in `floor_name`.",
          "type": "string"
        },
        "value": {
          "description": "The free-form value of the location.",
          "type": "string"
        },
        "floor": {
          "type": "string",
          "description": "The floor name or number."
        },
        "buildingId": {
          "type": "string",
          "description": "The building identifier."
        },
        "current": {
          "description": "Whether the location is the current location.",
          "type": "boolean"
        }
      },
      "id": "Location",
      "description": "A person's location.",
      "type": "object"
    },
    "ContactGroupMetadata": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the group was last updated.",
          "format": "google-datetime"
        },
        "deleted": {
          "description": "Output only. True if the contact group resource has been deleted. Populated only for [`ListContactGroups`](/people/api/rest/v1/contactgroups/list) requests that include a sync token.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "The metadata about a contact group.",
      "type": "object",
      "id": "ContactGroupMetadata"
    },
    "BatchCreateContactsRequest": {
      "properties": {
        "readMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. A field mask to restrict which fields on each person are returned in the response. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        },
        "contacts": {
          "type": "array",
          "description": "Required. The contact to create. Allows up to 200 contacts in a single request.",
          "items": {
            "$ref": "ContactToCreate"
          }
        },
        "sources": {
          "description": "Optional. A mask of what source types to return in the post mutate read. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT."
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A request to create a batch of contacts.",
      "id": "BatchCreateContactsRequest",
      "type": "object"
    },
    "MiscKeyword": {
      "id": "MiscKeyword",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the miscellaneous keyword.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The value of the miscellaneous keyword."
        },
        "formattedType": {
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ],
          "description": "The miscellaneous keyword type."
        }
      },
      "description": "A person's miscellaneous keyword."
    },
    "Name": {
      "id": "Name",
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "type": "object",
      "properties": {
        "phoneticHonorificPrefix": {
          "description": "The honorific prefixes spelled as they sound.",
          "type": "string"
        },
        "unstructuredName": {
          "type": "string",
          "description": "The free form name value."
        },
        "honorificPrefix": {
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`",
          "type": "string"
        },
        "middleName": {
          "description": "The middle name(s).",
          "type": "string"
        },
        "phoneticGivenName": {
          "description": "The given name spelled as it sounds.",
          "type": "string"
        },
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "displayName": {
          "description": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "readOnly": true,
          "type": "string"
        },
        "phoneticFamilyName": {
          "description": "The family name spelled as it sounds.",
          "type": "string"
        },
        "phoneticHonorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes spelled as they sound."
        },
        "displayNameLastFirst": {
          "description": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "type": "string",
          "readOnly": true
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the name."
        },
        "familyName": {
          "type": "string",
          "description": "The family name."
        },
        "phoneticFullName": {
          "type": "string",
          "description": "The full name spelled as it sounds."
        },
        "honorificSuffix": {
          "description": "The honorific suffixes, such as `Jr.`",
          "type": "string"
        },
        "phoneticMiddleName": {
          "type": "string",
          "description": "The middle name(s) spelled as they sound."
        }
      }
    },
    "PersonMetadata": {
      "type": "object",
      "description": "The metadata about a person.",
      "id": "PersonMetadata",
      "properties": {
        "previousResourceNames": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Any former resource names this person has had. Populated only for `people.connections.list` requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL."
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "The sources of data for the person."
        },
        "objectType": {
          "readOnly": true,
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object.",
          "type": "string"
        },
        "linkedPeopleResourceNames": {
          "description": "Output only. Resource names of people linked to this resource.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "deleted": {
          "readOnly": true,
          "description": "Output only. True if the person resource has been deleted. Populated only for `people.connections.list` and `otherContacts.list` sync requests.",
          "type": "boolean"
        }
      }
    },
    "ListContactGroupsResponse": {
      "id": "ListContactGroupsResponse",
      "description": "The response to a list contact groups request.",
      "type": "object",
      "properties": {
        "contactGroups": {
          "description": "The list of contact groups. Members of the contact groups are not populated.",
          "items": {
            "$ref": "ContactGroup"
          },
          "type": "array"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "The token that can be used to retrieve changes since the last request."
        },
        "totalItems": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of items in the list without pagination."
        },
        "nextPageToken": {
          "description": "The token that can be used to retrieve the next page of results.",
          "type": "string"
        }
      }
    }
  },
  "description": "Provides access to information about profiles and contacts.",
  "resources": {
    "otherContacts": {
      "methods": {
        "copyOtherContactToMyContactsGroup": {
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}:copyOtherContactToMyContactsGroup",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "parameters": {
            "resourceName": {
              "type": "string",
              "description": "Required. The resource name of the \"Other contact\" to copy.",
              "location": "path",
              "required": true,
              "pattern": "^otherContacts/[^/]+$"
            }
          },
          "description": "Copies an \"Other contact\" to a new contact in the user's \"myContacts\" group",
          "request": {
            "$ref": "CopyOtherContactToMyContactsGroupRequest"
          },
          "id": "people.otherContacts.copyOtherContactToMyContactsGroup",
          "httpMethod": "POST",
          "flatPath": "v1/otherContacts/{otherContactsId}:copyOtherContactToMyContactsGroup",
          "response": {
            "$ref": "Person"
          }
        },
        "list": {
          "parameters": {
            "requestSyncToken": {
              "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `otherContacts.list`.",
              "type": "boolean",
              "location": "query"
            },
            "sources": {
              "repeated": true,
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT"
              ],
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of \"Other contacts\" to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query"
            },
            "syncToken": {
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `otherContacts.list` must match the first call that provided the sync token. More details about sync behavior at `otherContacts.list`.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `otherContacts.list` must match the first call that provided the page token."
            },
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers * photos",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "flatPath": "v1/otherContacts",
          "httpMethod": "GET",
          "description": "List all \"Other contacts\", that is contacts that are not in a contact group. \"Other contacts\" are typically auto created contacts from interactions. Sync tokens expire 7 days after the full sync. A request with an expired sync token will result in a 410 error. In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's other contacts that have changed](/people/v1/other-contacts#list_the_users_other_contacts_that_have_changed).",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "id": "people.otherContacts.list",
          "response": {
            "$ref": "ListOtherContactsResponse"
          },
          "path": "v1/otherContacts"
        },
        "search": {
          "parameters": {
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\"."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "location": "query"
            },
            "readMask": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "SearchResponse"
          },
          "path": "v1/otherContacts:search",
          "flatPath": "v1/otherContacts:search",
          "id": "people.otherContacts.search",
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Provides a list of contacts in the authenticated user's other contacts that matches the search query. The query matches on a contact's `names`, `emailAddresses`, and `phoneNumbers` fields that are from the OTHER_CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/other-contacts#search_the_users_other_contacts"
        }
      }
    },
    "people": {
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "id": "people.people.connections.list",
              "parameters": {
                "requestMask.includeField": {
                  "type": "string",
                  "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "syncToken": {
                  "type": "string",
                  "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.connections.list` must match the first call that provided the sync token. More details about sync behavior at `people.connections.list`.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.connections.list` must match the first call that provided the page token.",
                  "location": "query"
                },
                "personFields": {
                  "format": "google-fieldmask",
                  "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
                  "type": "string",
                  "location": "query"
                },
                "sources": {
                  "enum": [
                    "READ_SOURCE_TYPE_UNSPECIFIED",
                    "READ_SOURCE_TYPE_PROFILE",
                    "READ_SOURCE_TYPE_CONTACT",
                    "READ_SOURCE_TYPE_DOMAIN_CONTACT"
                  ],
                  "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified.",
                    "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                    "Returns SourceType.CONTACT.",
                    "Returns SourceType.DOMAIN_CONTACT."
                  ],
                  "repeated": true
                },
                "resourceName": {
                  "type": "string",
                  "description": "Required. The resource name to return connections for. Only `people/me` is valid.",
                  "pattern": "^people/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "requestSyncToken": {
                  "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.connections.list`.",
                  "type": "boolean",
                  "location": "query"
                },
                "sortOrder": {
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "LAST_MODIFIED_DESCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ],
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Sort people by when they were changed; older entries first.",
                    "Sort people by when they were changed; newer entries first.",
                    "Sort people by first name.",
                    "Sort people by last name."
                  ],
                  "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`."
                },
                "pageSize": {
                  "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/people/{peopleId}/connections",
              "parameterOrder": [
                "resourceName"
              ],
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "description": "Provides a list of the authenticated user's contacts. Sync tokens expire 7 days after the full sync. A request with an expired sync token will result in a 410 error. In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's contacts that have changed](/people/v1/contacts#list_the_users_contacts_that_have_changed).",
              "path": "v1/{+resourceName}/connections"
            }
          }
        }
      },
      "methods": {
        "batchDeleteContacts": {
          "httpMethod": "POST",
          "id": "people.people.batchDeleteContacts",
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Delete a batch of contacts. Any non-contact data will not be deleted. Limited to 10 parallel requests per user.",
          "flatPath": "v1/people:batchDeleteContacts",
          "path": "v1/people:batchDeleteContacts",
          "request": {
            "$ref": "BatchDeleteContactsRequest"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "path": "v1/{+resourceName}",
          "parameters": {
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "description": "Required. The resource name of the person to provide information about. - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`.",
[...]
