{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/maps-platform.places": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/maps-platform.places.textsearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.textsearch"
        }
      }
    }
  },
  "batchPath": "batch",
  "description": "",
  "revision": "20231022",
  "protocol": "rest",
  "baseUrl": "https://places.googleapis.com/",
  "kind": "discovery#restDescription",
  "resources": {
    "places": {
      "methods": {
        "searchText": {
          "path": "v1/places:searchText",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.textsearch"
          ],
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchTextRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchTextResponse"
          },
          "description": "Text query based place search.",
          "parameterOrder": [],
          "flatPath": "v1/places:searchText",
          "id": "places.places.searchText"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "id": "places:v1",
  "servicePath": "",
  "ownerName": "Google",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://places.mtls.googleapis.com/",
  "version": "v1",
  "title": "Places API (New)",
  "schemas": {
    "GoogleTypeLocalizedText": {
      "id": "GoogleTypeLocalizedText",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Localized string in the language corresponding to language_code below."
        },
        "languageCode": {
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      },
      "description": "Localized variant of a text in a particular language."
    },
    "GoogleMapsPlacesV1PlaceOpeningHours": {
      "id": "GoogleMapsPlacesV1PlaceOpeningHours",
      "type": "object",
      "properties": {
        "openNow": {
          "description": "Is this place open right now? Always present unless we lack time-of-day or timezone data for these opening hours.",
          "type": "boolean"
        },
        "specialDays": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay"
          },
          "type": "array",
          "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day. Set for current_opening_hours and current_secondary_opening_hours if there are exceptional hours."
        },
        "periods": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod"
          },
          "description": "The periods that this place is open during the week. The periods are in chronological order, starting with Sunday in the place-local timezone. An empty (but not absent) value indicates a place that is never open, e.g. because it is closed temporarily for renovations."
        },
        "secondaryHoursType": {
          "description": "A type string used to identify the type of secondary hours.",
          "enum": [
            "SECONDARY_HOURS_TYPE_UNSPECIFIED",
            "DRIVE_THROUGH",
            "HAPPY_HOUR",
            "DELIVERY",
            "TAKEOUT",
            "KITCHEN",
            "BREAKFAST",
            "LUNCH",
            "DINNER",
            "BRUNCH",
            "PICKUP",
            "ACCESS",
            "SENIOR_HOURS",
            "ONLINE_SERVICE_HOURS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value when secondary hour type is not specified.",
            "The drive-through hour for banks, restaurants, or pharmacies.",
            "The happy hour.",
            "The delivery hour.",
            "The takeout hour.",
            "The kitchen hour.",
            "The breakfast hour.",
            "The lunch hour.",
            "The dinner hour.",
            "The brunch hour.",
            "The pickup hour.",
            "The access hours for storage places.",
            "The special hours for seniors.",
            "The online service hours."
          ]
        },
        "weekdayDescriptions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Localized strings describing the opening hours of this place, one string for each day of the week. Will be empty if the hours are unknown or could not be converted to localized text. Example: \"Sun: 18:00–06:00\""
        }
      },
      "description": "Information about business hour of the place."
    },
    "GoogleMapsPlacesV1SearchTextRequest": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported."
        },
        "minRating": {
          "type": "number",
          "format": "double",
          "description": "Filter out results whose average user rating is strictly less than this limit. A valid value must be an float between 0 and 5 (inclusively) at a 0.5 cadence i.e. [0, 0.5, 1.0, ... , 5.0] inclusively. This is to keep parity with LocalRefinement_UserRating. The input rating will round up to the nearest 0.5(ceiling). For instance, a rating of 0.6 will eliminate all results with a less than 1.0 rating."
        },
        "maxResultCount": {
          "type": "integer",
          "description": "Maximum number of results to return. It must be between 1 and 20, inclusively. If the number is unset, it falls back to the upper limit. If the number is set to negative or exceeds the upper limit, an INVALID_ARGUMENT error is returned.",
          "format": "int32"
        },
        "openNow": {
          "type": "boolean",
          "description": "Used to restrict the search to places that are currently open."
        },
        "includedType": {
          "description": "The requested place type. Full list of types supported: https://developers.google.com/maps/documentation/places/web-service/place-types. Only support one included type.",
          "type": "string"
        },
        "locationBias": {
          "description": "The region to search. This location serves as a bias which means results around given location might be returned. Cannot be set along with location_restriction.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationBias"
        },
        "rankPreference": {
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "RELEVANCE"
          ],
          "enumDescriptions": [
            "RankPreference value not set. Will default to DISTANCE.",
            "Ranks results by distance.",
            "Ranks results by relevance. Sort order determined by normal ranking stack. See SortRefinement::RELEVANCE."
          ],
          "description": "How results will be ranked in the response.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport."
        },
        "strictTypeFiltering": {
          "type": "boolean",
          "description": "Used to set strict type filtering for included_type. If set to true, only results of the same type will be returned. Default to false."
        },
        "priceLevels": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Place price level is unspecified or unknown.",
              "Place provides free services.",
              "Place provides inexpensive services.",
              "Place provides moderately priced services.",
              "Place provides expensive services.",
              "Place provides very expensive service s."
            ],
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ]
          },
          "type": "array",
          "description": "Used to restrict the search to places that are marked as certain price levels. Users can choose any combinations of price levels. Default to select all price levels."
        },
        "textQuery": {
          "description": "Required. The text query for textual search.",
          "type": "string"
        },
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
          "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned. Cannot be set along with location_bias."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextRequest",
      "description": "Request proto for SearchText. "
    },
    "GoogleMapsPlacesV1SearchTextResponse": {
      "properties": {
        "places": {
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "type": "array",
          "description": "A list of places that meet the user's text search criteria."
        }
      },
      "description": "Response proto for SearchText. ",
      "id": "GoogleMapsPlacesV1SearchTextResponse",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay": {
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay",
      "properties": {
        "date": {
          "description": "The date of this special day.",
          "$ref": "GoogleTypeDate"
        }
      },
      "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day."
    },
    "GoogleTypeDate": {
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "GoogleMapsPlacesV1Place": {
      "description": "All the information representing a Place.",
      "id": "GoogleMapsPlacesV1Place",
      "type": "object",
      "properties": {
        "adrFormatAddress": {
          "description": "The place's address in adr microformat: http://microformats.org/wiki/adr.",
          "type": "string"
        },
        "reservable": {
          "type": "boolean",
          "description": "Specifies if the place supports reservations."
        },
        "regularSecondaryOpeningHours": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          },
          "description": "Contains an array of entries for information about regular secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place.",
          "type": "array"
        },
        "name": {
          "description": "An ID representing this place which may be used to look up this place again (a.k.a. the API \"resource\" name: places/place_id).",
          "type": "string"
        },
        "location": {
          "$ref": "GoogleTypeLatLng",
          "description": "The position of this place."
        },
        "types": {
          "description": "A set of type tags for this result. For example, \"political\" and \"locality\". See: https://developers.google.com/maps/documentation/places/web-service/place-types",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "iconBackgroundColor": {
          "type": "string",
          "description": "Background color for icon_mask in hex format, e.g. #909CE1."
        },
        "viewport": {
          "description": "A viewport suitable for displaying the place on an average-sized map.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "servesBreakfast": {
          "description": "Specifies if the place serves breakfast.",
          "type": "boolean"
        },
        "curbsidePickup": {
          "description": "Specifies if the business supports curbside pickup.",
          "type": "boolean"
        },
        "iconMaskBaseUri": {
          "type": "string",
          "description": "A truncated URL to an v2 icon mask. User can access different icon type by appending type suffix to the end (eg, \".svg\" or \".png\")."
        },
        "servesLunch": {
          "description": "Specifies if the place serves lunch.",
          "type": "boolean"
        },
        "addressComponents": {
          "type": "array",
          "description": "Repeated components for each locality level. Note the following facts about the address_components[] array: - The array of address components may contain more components than the formatted_address. - The array does not necessarily include all the political entities that contain an address, apart from those included in the formatted_address. To retrieve all the political entities that contain a specific address, you should use reverse geocoding, passing the latitude/longitude of the address as a parameter to the request. - The format of the response is not guaranteed to remain the same between requests. In particular, the number of address_components varies based on the address requested and can change over time for the same address. A component can change position in the array. The type of the component can change. A particular component may be missing in a later response.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAddressComponent"
          }
        },
        "businessStatus": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The establishment is operational, not necessarily open now.",
            "The establishment is temporarily closed.",
            "The establishment is permanently closed."
          ],
          "description": "The business status for the place.",
          "enum": [
            "BUSINESS_STATUS_UNSPECIFIED",
            "OPERATIONAL",
            "CLOSED_TEMPORARILY",
            "CLOSED_PERMANENTLY"
          ]
        },
        "editorialSummary": {
          "description": "Contains a summary of the place. A summary is comprised of a textual overview, and also includes the language code for these if applicable. Summary text must be presented as-is and can not be modified or altered.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "formattedAddress": {
          "description": "A full, human-readable address for this place.",
          "type": "string"
        },
        "priceLevel": {
          "type": "string",
          "enum": [
            "PRICE_LEVEL_UNSPECIFIED",
            "PRICE_LEVEL_FREE",
            "PRICE_LEVEL_INEXPENSIVE",
            "PRICE_LEVEL_MODERATE",
            "PRICE_LEVEL_EXPENSIVE",
            "PRICE_LEVEL_VERY_EXPENSIVE"
          ],
          "description": "Price level of the place.",
          "enumDescriptions": [
            "Place price level is unspecified or unknown.",
            "Place provides free services.",
            "Place provides inexpensive services.",
            "Place provides moderately priced services.",
            "Place provides expensive services.",
            "Place provides very expensive service s."
          ]
        },
        "reviews": {
          "type": "array",
          "description": "List of reviews about this place.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          }
        },
        "servesWine": {
          "description": "Specifies if the place serves wine.",
          "type": "boolean"
        },
        "servesDinner": {
          "type": "boolean",
          "description": "Specifies if the place serves dinner."
        },
        "nationalPhoneNumber": {
          "description": "A human-readable phone number for the place, in national format.",
          "type": "string"
        },
        "servesVegetarianFood": {
          "description": "Specifies if the place serves vegetarian food.",
          "type": "boolean"
        },
        "delivery": {
          "type": "boolean",
          "description": "Specifies if the business supports delivery."
        },
        "displayName": {
          "description": "The localized name of the place, suitable as a short human-readable description. For example, \"Google Sydney\", \"Starbucks\", \"Pyrmont\", etc.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "internationalPhoneNumber": {
          "type": "string",
          "description": "A human-readable phone number for the place, in international format."
        },
        "plusCode": {
          "description": "Plus code of the place location lat/long.",
          "$ref": "GoogleMapsPlacesV1PlacePlusCode"
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of a place."
        },
        "attributions": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAttribution"
          },
          "description": "A set of data provider that must be shown with this result.",
          "type": "array"
        },
        "dineIn": {
          "description": "Specifies if the business supports indoor or outdoor seating options.",
          "type": "boolean"
        },
        "websiteUri": {
          "type": "string",
          "description": "The authoritative website for this place, e.g. a business' homepage. Note that for places that are part of a chain (e.g. an IKEA store), this will usually be the website for the individual store, not the overall chain."
        },
        "rating": {
          "description": "A rating between 1.0 and 5.0, based on user reviews of this place.",
          "type": "number",
          "format": "double"
        },
        "servesBeer": {
          "description": "Specifies if the place serves beer.",
          "type": "boolean"
        },
        "takeout": {
          "type": "boolean",
          "description": "Specifies if the business supports takeout."
        },
        "servesBrunch": {
          "description": "Specifies if the place serves brunch.",
          "type": "boolean"
        },
        "accessibilityOptions": {
          "$ref": "GoogleMapsPlacesV1PlaceAccessibilityOptions",
          "description": "Information about the accessibility options a place offers."
        },
        "currentOpeningHours": {
          "description": "The hours of operation for the next seven days (including today). The time period starts at midnight on the date of the request and ends at 11:59 pm six days later. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
        },
        "regularOpeningHours": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours",
          "description": "The regular hours of operation."
        },
        "utcOffsetMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Number of minutes this place's timezone is currently offset from UTC. This is expressed in minutes to support timezones that are offset by fractions of an hour, e.g. X hours and 15 minutes."
        },
        "currentSecondaryOpeningHours": {
          "type": "array",
          "description": "Contains an array of entries for the next seven days including information about secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          }
        },
        "googleMapsUri": {
          "description": "A URL providing more information about this place.",
          "type": "string"
        },
        "userRatingCount": {
          "type": "integer",
          "description": "The total number of reviews (with or without text) for this place.",
          "format": "int32"
        }
      }
    },
    "GoogleMapsPlacesV1Review": {
      "id": "GoogleMapsPlacesV1Review",
      "type": "object",
      "properties": {
        "authorAttribution": {
          "readOnly": true,
          "description": "Output only. This review's author.",
          "$ref": "GoogleMapsPlacesV1AuthorAttribution"
        },
        "publishTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp for the review."
        },
        "relativePublishTimeDescription": {
          "type": "string",
          "description": "Output only. A string of formatted recent time, expressing the review time relative to the current time in a form appropriate for the language and country.",
          "readOnly": true
        },
        "originalText": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "Output only. The review text in its original language.",
          "readOnly": true
        },
        "rating": {
          "type": "number",
          "format": "double",
          "description": "Output only. A number between 1.0 and 5.0, a.k.a. the number of stars.",
          "readOnly": true
        },
        "text": {
          "readOnly": true,
          "description": "Output only. The localized text of the review.",
          "$ref": "GoogleTypeLocalizedText"
        }
      },
      "description": "Information about a review of a place."
    },
    "GoogleMapsPlacesV1PlaceAccessibilityOptions": {
      "id": "GoogleMapsPlacesV1PlaceAccessibilityOptions",
      "type": "object",
      "description": "Information about the accessibility options a place offers.",
      "properties": {
        "wheelchairAccessibleEntrance": {
          "description": "Places has wheelchair accessible entrance.",
          "type": "boolean"
        }
      }
    },
    "GoogleMapsPlacesV1AuthorAttribution": {
      "description": "Information about the author of the UGC data. Used in Photo, and Review.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Output only. URI of the author of the Photo or Review.",
          "readOnly": true
        },
        "photoUri": {
          "readOnly": true,
          "description": "Output only. Profile photo URI of the author of the Photo or Review.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Name of the author of the Photo or Review.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1AuthorAttribution",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlacePlusCode": {
      "description": "Plus code (http://plus.codes) is a location reference with two formats: global code defining a 14mx14m (1/8000th of a degree) or smaller rectangle, and compound code, replacing the prefix with a reference location.",
      "properties": {
        "compoundCode": {
          "description": "Place's compound code, such as \"33GV+HQ, Ramberg, Norway\", containing the suffix of the global code and replacing the prefix with a formatted name of a reference entity.",
          "type": "string"
        },
        "globalCode": {
          "description": "Place's global (full) code, such as \"9FWM33GV+HQ\", representing an 1/8000 by 1/8000 degree area (~14 by 14 meters).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlacePlusCode"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriod": {
      "type": "object",
      "properties": {
        "close": {
          "description": "The time that the place starts to be closed.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
        },
        "open": {
          "description": "The time that the place starts to be open.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod",
      "description": "A period the place remains in open_now status."
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationBias": {
      "description": "The region to search. This location serves as a bias which means results around given location might be returned.",
      "type": "object",
      "properties": {
        "circle": {
          "description": "A circle defined by center point and radius.",
          "$ref": "GoogleMapsPlacesV1Circle"
        },
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A rectangle box defined by northeast and southwest corner."
        }
      },
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationBias"
    },
    "GoogleMapsPlacesV1PlaceAddressComponent": {
      "id": "GoogleMapsPlacesV1PlaceAddressComponent",
      "properties": {
        "shortText": {
          "type": "string",
          "description": "An abbreviated textual name for the address component, if available. For example, an address component for the country of Australia may have a short_name of \"AU\"."
        },
        "longText": {
          "description": "The full text description or name of the address component. For example, an address component for the country Australia may have a long_name of \"Australia\".",
          "type": "string"
        },
        "types": {
          "items": {
            "type": "string"
          },
          "description": "An array indicating the type(s) of the address component.",
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "description": "The language used to format this components, in CLDR notation."
        }
      },
      "description": "The structured components that form the formatted address, if this information is available.",
      "type": "object"
    },
    "GoogleMapsPlacesV1Circle": {
      "description": "Circle with a LatLng as center and radius.",
      "properties": {
        "center": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. Center latitude and longitude. The range of latitude must be within [-90.0, 90.0]. The range of the longitude must be within [-180.0, 180.0]."
        },
        "radius": {
          "type": "number",
          "format": "double",
          "description": "Required. Radius measured in meters. The radius must be within [0.0, 50000.0]."
        }
      },
      "id": "GoogleMapsPlacesV1Circle",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationRestriction": {
      "type": "object",
      "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned.",
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
      "properties": {
        "rectangle": {
          "description": "A rectangle box defined by northeast and southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        }
      }
    },
    "GoogleGeoTypeViewport": {
      "id": "GoogleGeoTypeViewport",
      "type": "object",
      "description": "A latitude-longitude viewport, represented as two diagonally opposite `low` and `high` points. A viewport is considered a closed region, i.e. it includes its boundary. The latitude bounds must range between -90 to 90 degrees inclusive, and the longitude bounds must range between -180 to 180 degrees inclusive. Various cases include: - If `low` = `high`, the viewport consists of that single point. - If `low.longitude` \u003e `high.longitude`, the longitude range is inverted (the viewport crosses the 180 degree longitude line). - If `low.longitude` = -180 degrees and `high.longitude` = 180 degrees, the viewport includes all longitudes. - If `low.longitude` = 180 degrees and `high.longitude` = -180 degrees, the longitude range is empty. - If `low.latitude` \u003e `high.latitude`, the latitude range is empty. Both `low` and `high` must be populated, and the represented box cannot be empty (as specified by the definitions above). An empty viewport will result in an error. For example, this viewport fully encloses New York City: { \"low\": { \"latitude\": 40.477398, \"longitude\": -74.259087 }, \"high\": { \"latitude\": 40.91618, \"longitude\": -73.70018 } }",
      "properties": {
        "high": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. The high point of the viewport."
        },
        "low": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. The low point of the viewport."
        }
      }
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint": {
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
      "description": "Status changing points.",
      "properties": {
        "hour": {
          "type": "integer",
          "description": "The hour in 2 digits. Ranges from 00 to 23.",
          "format": "int32"
        },
        "date": {
          "$ref": "GoogleTypeDate",
          "description": "Date in the local timezone for the place."
        },
        "minute": {
          "format": "int32",
          "description": "The minute in 2 digits. Ranges from 00 to 59.",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "A day of the week, as an integer in the range 0-6. 0 is Sunday, 1 is Monday, etc.",
          "format": "int32"
        },
        "truncated": {
          "description": "Whether or not this endpoint was truncated. Truncation occurs when the real hours are outside the times we are willing to return hours between, so we truncate the hours back to these boundaries. This ensures that at most 24 * 7 hours from midnight of the day of the request are returned.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleTypeLatLng": {
      "type": "object",
      "id": "GoogleTypeLatLng",
      "properties": {
        "latitude": {
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "GoogleMapsPlacesV1PlaceAttribution": {
      "description": "Information about data providers of this place.",
      "type": "object",
      "properties": {
        "providerUri": {
          "type": "string",
          "description": "URI to the Place's data provider."
        },
        "provider": {
          "type": "string",
          "description": "Name of the Place's data provider."
        }
      },
      "id": "GoogleMapsPlacesV1PlaceAttribution"
    }
  },
  "canonicalName": "Maps Places",
  "documentationLink": "https://mapsplatform.google.com/maps-products/#places-section",
  "name": "places",
  "rootUrl": "https://places.googleapis.com/",
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  }
}
