{
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/maps-platform.places.textsearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.textsearch"
        },
        "https://www.googleapis.com/auth/maps-platform.places": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places"
        },
        "https://www.googleapis.com/auth/maps-platform.places.nearbysearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.nearbysearch"
        },
        "https://www.googleapis.com/auth/maps-platform.places.details": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.details"
        },
        "https://www.googleapis.com/auth/maps-platform.places.autocomplete": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.autocomplete"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://places.mtls.googleapis.com/",
  "rootUrl": "https://places.googleapis.com/",
  "documentationLink": "https://mapsplatform.google.com/maps-products/#places-section",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "batchPath": "batch",
  "id": "places:v1",
  "title": "Places API (New)",
  "basePath": "",
  "description": "",
  "revision": "20240512",
  "baseUrl": "https://places.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "version_module": true,
  "protocol": "rest",
  "resources": {
    "places": {
      "resources": {
        "photos": {
          "methods": {
            "getMedia": {
              "path": "v1/{+name}",
              "id": "places.places.photos.getMedia",
              "parameterOrder": [
                "name"
              ],
              "description": "Get a photo media with a photo reference string.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleMapsPlacesV1PhotoMedia"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/maps-platform.places"
              ],
              "parameters": {
                "maxWidthPx": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Specifies the maximum desired width, in pixels, of the image. If the image is smaller than the values specified, the original image will be returned. If the image is larger in either dimension, it will be scaled to match the smaller of the two dimensions, restricted to its original aspect ratio. Both the max_height_px and max_width_px properties accept an integer between 1 and 4800, inclusively. If the value is not within the allowed range, an INVALID_ARGUMENT error will be returned. At least one of max_height_px or max_width_px needs to be specified. If neither max_height_px nor max_width_px is specified, an INVALID_ARGUMENT error will be returned.",
                  "type": "integer"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of a photo media in the format: `places/{place_id}/photos/{photo_reference}/media`. The resource name of a photo as returned in a Place object's `photos.name` field comes with the format `places/{place_id}/photos/{photo_reference}`. You need to append `/media` at the end of the photo resource to get the photo media resource name.",
                  "pattern": "^places/[^/]+/photos/[^/]+/media$"
                },
                "skipHttpRedirect": {
                  "location": "query",
                  "description": "Optional. If set, skip the default HTTP redirect behavior and render a text format (for example, in JSON format for HTTP use case) response. If not set, an HTTP redirect will be issued to redirect the call to the image media. This option is ignored for non-HTTP requests.",
                  "type": "boolean"
                },
                "maxHeightPx": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Specifies the maximum desired height, in pixels, of the image. If the image is smaller than the values specified, the original image will be returned. If the image is larger in either dimension, it will be scaled to match the smaller of the two dimensions, restricted to its original aspect ratio. Both the max_height_px and max_width_px properties accept an integer between 1 and 4800, inclusively. If the value is not within the allowed range, an INVALID_ARGUMENT error will be returned. At least one of max_height_px or max_width_px needs to be specified. If neither max_height_px nor max_width_px is specified, an INVALID_ARGUMENT error will be returned."
                }
              },
              "flatPath": "v1/places/{placesId}/photos/{photosId}/media"
            }
          }
        }
      },
      "methods": {
        "searchText": {
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchTextRequest"
          },
          "path": "v1/places:searchText",
          "flatPath": "v1/places:searchText",
          "httpMethod": "POST",
          "description": "Text query based place search.",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchTextResponse"
          },
          "id": "places.places.searchText",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.textsearch"
          ]
        },
        "autocomplete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.autocomplete"
          ],
          "path": "v1/places:autocomplete",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1/places:autocomplete",
          "description": "Returns predictions for the given input.",
          "id": "places.places.autocomplete",
          "parameters": {},
          "response": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponse"
          },
          "request": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesRequest"
          }
        },
        "searchNearby": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.nearbysearch"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "v1/places:searchNearby",
          "id": "places.places.searchNearby",
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchNearbyResponse"
          },
          "path": "v1/places:searchNearby",
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchNearbyRequest"
          },
          "description": "Search for places near locations."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.details"
          ],
          "parameters": {
            "sessionToken": {
              "description": "Optional. A string which identifies an Autocomplete session for billing purposes. Must be a URL and filename safe base64 string with at most 36 ASCII characters in length. Otherwise an INVALID_ARGUMENT error is returned. The session begins when the user starts typing a query, and concludes when they select a place and a call to Place Details or Address Validation is made. Each session can have multiple queries, followed by one Place Details or Address Validation request. The credentials used for each request within a session must belong to the same Google Cloud Console project. Once a session has concluded, the token is no longer valid; your app must generate a fresh token for each session. If the `session_token` parameter is omitted, or if you reuse a session token, the session is charged as if no session token was provided (each request is billed separately). We recommend the following guidelines: * Use session tokens for all Place Autocomplete calls. * Generate a fresh token for each session. Using a version 4 UUID is recommended. * Ensure that the credentials used for all Place Autocomplete, Place Details, and Address Validation requests within a session belong to the same Cloud Console project. * Be sure to pass a unique session token for each new session. Using the same token for more than one session will result in each request being billed individually.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^places/[^/]+$",
              "description": "Required. The resource name of a place, in the `places/{place_id}` format."
            },
            "regionCode": {
              "description": "Optional. The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported.",
              "location": "query",
              "type": "string"
            },
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "Optional. Place details will be displayed with the preferred language if available. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "description": "Get the details of a place based on its resource name, which is a string in the `places/{place_id}` format.",
          "response": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "id": "places.places.get",
          "flatPath": "v1/places/{placesId}"
        }
      }
    }
  },
  "canonicalName": "Maps Places",
  "name": "places",
  "schemas": {
    "GoogleMapsPlacesV1FuelOptionsFuelPrice": {
      "id": "GoogleMapsPlacesV1FuelOptionsFuelPrice",
      "description": "Fuel price information for a given type.",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the fuel price was last updated."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified fuel type.",
            "Diesel fuel.",
            "Regular unleaded.",
            "Midgrade.",
            "Premium.",
            "SP 91.",
            "SP 91 E10.",
            "SP 92.",
            "SP 95.",
            "SP95 E10.",
            "SP 98.",
            "SP 99.",
            "SP 100.",
            "LPG.",
            "E 80.",
            "E 85.",
            "Methane.",
            "Bio-diesel.",
            "Truck diesel."
          ],
          "type": "string",
          "enum": [
            "FUEL_TYPE_UNSPECIFIED",
            "DIESEL",
            "REGULAR_UNLEADED",
            "MIDGRADE",
            "PREMIUM",
            "SP91",
            "SP91_E10",
            "SP92",
            "SP95",
            "SP95_E10",
            "SP98",
            "SP99",
            "SP100",
            "LPG",
            "E80",
            "E85",
            "METHANE",
            "BIO_DIESEL",
            "TRUCK_DIESEL"
          ],
          "description": "The type of fuel."
        },
        "price": {
          "description": "The price of the fuel.",
          "$ref": "GoogleTypeMoney"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat": {
      "type": "object",
      "properties": {
        "mainText": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
          "description": "Represents the name of the Place or query."
        },
        "secondaryText": {
          "description": "Represents additional disambiguating features (such as a city or region) to further identify the Place or refine the query.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        }
      },
      "description": "Contains a breakdown of a Place or query prediction into main text and secondary text. For Place predictions, the main text contains the specific name of the Place. For query predictions, the main text contains the query. The secondary text contains additional disambiguating features (such as a city or region) to further identify the Place or refine the query.",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat"
    },
    "GoogleMapsPlacesV1SearchNearbyRequest": {
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchNearbyRequest",
      "properties": {
        "regionCode": {
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported.",
          "type": "string"
        },
        "languageCode": {
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport.",
          "type": "string"
        },
        "excludedTypes": {
          "description": "Excluded Place type (eg, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If the client provides both included_types (e.g. restaurant) and excluded_types (e.g. cafe), then the response should include places that are restaurant but not cafe. The response includes places that match at least one of the included_types and none of the excluded_types. If there are any conflicting types, i.e. a type appears in both included_types and excluded_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedPrimaryTypes": {
          "type": "array",
          "description": "Excluded primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "items": {
            "type": "string"
          }
        },
        "includedPrimaryTypes": {
          "type": "array",
          "description": "Included primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. A place can only have a single primary type from the supported types table associated with it. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "items": {
            "type": "string"
          }
        },
        "maxResultCount": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of results to return. It must be between 1 and 20 (default), inclusively. If the number is unset, it falls back to the upper limit. If the number is set to negative or exceeds the upper limit, an INVALID_ARGUMENT error is returned."
        },
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction",
          "description": "Required. The region to search."
        },
        "rankPreference": {
          "description": "How results will be ranked in the response.",
          "type": "string",
          "enumDescriptions": [
            "RankPreference value not set. Will use rank by POPULARITY by default.",
            "Ranks results by distance.",
            "Ranks results by popularity."
          ],
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "POPULARITY"
          ]
        },
        "includedTypes": {
          "description": "Included Place type (eg, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting types, i.e. a type appears in both included_types and excluded_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request proto for Search Nearby. "
    },
    "GoogleMapsPlacesV1ContextualContentJustification": {
      "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. Justifications for the place. Justifications answers the question of why a place could interest an end user.",
      "id": "GoogleMapsPlacesV1ContextualContentJustification",
      "type": "object",
      "properties": {
        "businessAvailabilityAttributesJustification": {
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification",
          "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details."
        },
        "reviewJustification": {
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustification",
          "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details."
        }
      }
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange": {
      "description": "The range of highlighted text.",
      "type": "object",
      "properties": {
        "endIndex": {
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange"
    },
    "GoogleMapsPlacesV1PlaceAreaSummary": {
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceAreaSummary",
      "properties": {
        "contentBlocks": {
          "items": {
            "$ref": "GoogleMapsPlacesV1ContentBlock"
          },
          "description": "Content blocks that compose the area summary. Each block has a separate topic about the area.",
          "type": "array"
        }
      },
      "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. AI-generated summary of the area that the place is in."
    },
    "GoogleMapsPlacesV1PhotoMedia": {
      "properties": {
        "photoUri": {
          "description": "A short-lived uri that can be used to render the photo.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of a photo media in the format: `places/{place_id}/photos/{photo_reference}/media`."
        }
      },
      "description": "A photo media from Places API.",
      "id": "GoogleMapsPlacesV1PhotoMedia",
      "type": "object"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction": {
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction",
      "properties": {
        "text": {
          "description": "Contains the human-readable name for the returned result. For establishment results, this is usually the business name and address. `text` is recommended for developers who wish to show a single UI element. Developers who wish to show two separate, but related, UI elements may want to use `structured_format` instead. They are two different ways to represent a Place prediction. Users should not try to parse `structured_format` into `text` or vice versa. This text may be different from the `display_name` returned by GetPlace. May be in mixed languages if the request `input` and `language_code` are in different languages or if the Place does not have a translation from the local language to `language_code`.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        },
        "placeId": {
          "description": "The unique identifier of the suggested Place. This identifier can be used in other APIs that accept Place IDs.",
          "type": "string"
        },
        "place": {
          "type": "string",
          "description": "The resource name of the suggested Place. This name can be used in other APIs that accept Place names."
        },
        "structuredFormat": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat",
          "description": "A breakdown of the Place prediction into main text containing the name of the Place and secondary text containing additional disambiguating features (such as a city or region). `structured_format` is recommended for developers who wish to show two separate, but related, UI elements. Developers who wish to show a single UI element may want to use `text` instead. They are two different ways to represent a Place prediction. Users should not try to parse `structured_format` into `text` or vice versa."
        },
        "types": {
          "type": "array",
          "description": "List of types that apply to this Place from Table A or Table B in https://developers.google.com/maps/documentation/places/web-service/place-types. A type is a categorization of a Place. Places with shared types will share similar characteristics.",
          "items": {
            "type": "string"
          }
        },
        "distanceMeters": {
          "format": "int32",
          "type": "integer",
          "description": "The length of the geodesic in meters from `origin` if `origin` is specified. Certain predictions such as routes may not populate this field."
        }
      },
      "description": "Prediction results for a Place Autocomplete prediction."
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay": {
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay",
      "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day.",
      "type": "object",
      "properties": {
        "date": {
          "description": "The date of this special day.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
      "properties": {
        "matches": {
          "description": "A list of string ranges identifying where the input request matched in `text`. The ranges can be used to format specific parts of `text`. The substrings may not be exact matches of `input` if the matching was determined by criteria other than string matching (for example, spell corrections or transliterations). These values are Unicode character offsets of `text`. The ranges are guaranteed to be ordered in increasing offset values.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange"
          }
        },
        "text": {
          "description": "Text that may be used as is or formatted with `matches`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Text representing a Place or query prediction. The text may be used as is or formatted."
    },
    "GoogleMapsPlacesV1PlaceSubDestination": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The place id of the sub destination."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the sub destination."
        }
      },
      "id": "GoogleMapsPlacesV1PlaceSubDestination",
      "type": "object",
      "description": "Place resource name and id of sub destinations that relate to the place. For example, different terminals are different destinations of an airport."
    },
    "GoogleMapsPlacesV1Review": {
      "type": "object",
      "id": "GoogleMapsPlacesV1Review",
      "description": "Information about a review of a place.",
      "properties": {
        "rating": {
          "format": "double",
          "description": "A number between 1.0 and 5.0, also called the number of stars.",
          "type": "number"
        },
        "originalText": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The review text in its original language."
        },
        "text": {
          "description": "The localized text of the review.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "name": {
          "type": "string",
          "description": "A reference representing this place review which may be used to look up this place review again (also called the API \"resource\" name: `places/{place_id}/reviews/{review}`)."
        },
        "publishTime": {
          "description": "Timestamp for the review.",
          "format": "google-datetime",
          "type": "string"
        },
        "authorAttribution": {
          "$ref": "GoogleMapsPlacesV1AuthorAttribution",
          "description": "This review's author."
        },
        "relativePublishTimeDescription": {
          "description": "A string of formatted recent time, expressing the review time relative to the current time in a form appropriate for the language and country.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1ContentBlock": {
      "properties": {
        "topic": {
          "description": "The topic of the content, for example \"overview\" or \"restaurant\".",
          "type": "string"
        },
        "content": {
          "description": "Content related to the topic.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "references": {
          "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. References that are related to this block of content.",
          "$ref": "GoogleMapsPlacesV1References"
        }
      },
      "id": "GoogleMapsPlacesV1ContentBlock",
      "type": "object",
      "description": "A block of content that can be served individually."
    },
    "GoogleGeoTypeViewport": {
      "properties": {
        "high": {
          "description": "Required. The high point of the viewport.",
          "$ref": "GoogleTypeLatLng"
        },
        "low": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. The low point of the viewport."
        }
      },
      "description": "A latitude-longitude viewport, represented as two diagonally opposite `low` and `high` points. A viewport is considered a closed region, i.e. it includes its boundary. The latitude bounds must range between -90 to 90 degrees inclusive, and the longitude bounds must range between -180 to 180 degrees inclusive. Various cases include: - If `low` = `high`, the viewport consists of that single point. - If `low.longitude` \u003e `high.longitude`, the longitude range is inverted (the viewport crosses the 180 degree longitude line). - If `low.longitude` = -180 degrees and `high.longitude` = 180 degrees, the viewport includes all longitudes. - If `low.longitude` = 180 degrees and `high.longitude` = -180 degrees, the longitude range is empty. - If `low.latitude` \u003e `high.latitude`, the latitude range is empty. Both `low` and `high` must be populated, and the represented box cannot be empty (as specified by the definitions above). An empty viewport will result in an error. For example, this viewport fully encloses New York City: { \"low\": { \"latitude\": 40.477398, \"longitude\": -74.259087 }, \"high\": { \"latitude\": 40.91618, \"longitude\": -73.70018 } }",
      "type": "object",
      "id": "GoogleGeoTypeViewport"
    },
    "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification": {
      "properties": {
        "takeout": {
          "type": "boolean",
          "description": "If a place provides takeout."
        },
        "delivery": {
          "type": "boolean",
          "description": "If a place provides delivery."
        },
        "dineIn": {
          "type": "boolean",
          "description": "If a place provides dine-in."
        }
      },
      "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. BusinessAvailabilityAttributes justifications. This shows some attributes a business has that could interest an end user.",
      "id": "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationRestriction": {
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
      "type": "object",
      "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned.",
      "properties": {
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A rectangle box defined by northeast and southwest corner. `rectangle.high()` must be the northeast point of the rectangle viewport. `rectangle.low()` must be the southwest point of the rectangle viewport. `rectangle.low().latitude()` cannot be greater than `rectangle.high().latitude()`. This will result in an empty latitude range. A rectangle viewport cannot be wider than 180 degrees."
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion",
      "type": "object",
      "description": "An Autocomplete suggestion result.",
      "properties": {
        "placePrediction": {
          "description": "A prediction for a Place.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction"
        },
        "queryPrediction": {
          "description": "A prediction for a query.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction"
        }
      }
    },
    "GoogleMapsPlacesV1Place": {
      "id": "GoogleMapsPlacesV1Place",
      "properties": {
        "servesVegetarianFood": {
          "type": "boolean",
          "description": "Specifies if the place serves vegetarian food."
        },
        "subDestinations": {
          "description": "A list of sub destinations related to the place.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceSubDestination"
          }
        },
        "servesBrunch": {
          "type": "boolean",
          "description": "Specifies if the place serves brunch."
        },
        "nationalPhoneNumber": {
          "type": "string",
          "description": "A human-readable phone number for the place, in national format."
        },
        "location": {
          "description": "The position of this place.",
          "$ref": "GoogleTypeLatLng"
        },
        "regularSecondaryOpeningHours": {
          "type": "array",
          "description": "Contains an array of entries for information about regular secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          }
        },
        "iconBackgroundColor": {
          "type": "string",
          "description": "Background color for icon_mask in hex format, e.g. #909CE1."
        },
        "id": {
          "description": "The unique identifier of a place.",
          "type": "string"
        },
        "goodForWatchingSports": {
          "description": "Place is suitable for watching sports.",
          "type": "boolean"
        },
        "dineIn": {
          "type": "boolean",
          "description": "Specifies if the business supports indoor or outdoor seating options."
        },
        "servesDessert": {
          "description": "Place serves dessert.",
          "type": "boolean"
        },
        "editorialSummary": {
          "description": "Contains a summary of the place. A summary is comprised of a textual overview, and also includes the language code for these if applicable. Summary text must be presented as-is and can not be modified or altered.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "reviews": {
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          },
          "type": "array",
          "description": "List of reviews about this place, sorted by relevance. A maximum of 5 reviews can be returned."
        },
        "servesCocktails": {
          "description": "Place serves cocktails.",
          "type": "boolean"
        },
        "fuelOptions": {
          "description": "The most recent information about fuel options in a gas station. This information is updated regularly.",
          "$ref": "GoogleMapsPlacesV1FuelOptions"
        },
        "viewport": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A viewport suitable for displaying the place on an average-sized map."
        },
        "areaSummary": {
          "$ref": "GoogleMapsPlacesV1PlaceAreaSummary",
          "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. AI-generated summary of the area that the place is in."
        },
        "curbsidePickup": {
          "description": "Specifies if the business supports curbside pickup.",
          "type": "boolean"
        },
        "evChargeOptions": {
          "description": "Information of ev charging options.",
          "$ref": "GoogleMapsPlacesV1EVChargeOptions"
        },
        "userRatingCount": {
          "description": "The total number of reviews (with or without text) for this place.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "This Place's resource name, in `places/{place_id}` format. Can be used to look up the Place."
        },
        "internationalPhoneNumber": {
          "type": "string",
          "description": "A human-readable phone number for the place, in international format."
        },
        "priceLevel": {
          "description": "Price level of the place.",
          "type": "string",
          "enum": [
            "PRICE_LEVEL_UNSPECIFIED",
            "PRICE_LEVEL_FREE",
            "PRICE_LEVEL_INEXPENSIVE",
            "PRICE_LEVEL_MODERATE",
            "PRICE_LEVEL_EXPENSIVE",
            "PRICE_LEVEL_VERY_EXPENSIVE"
          ],
          "enumDescriptions": [
            "Place price level is unspecified or unknown.",
            "Place provides free services.",
            "Place provides inexpensive services.",
            "Place provides moderately priced services.",
            "Place provides expensive services.",
            "Place provides very expensive services."
          ]
        },
        "delivery": {
          "type": "boolean",
          "description": "Specifies if the business supports delivery."
        },
        "servesCoffee": {
          "type": "boolean",
          "description": "Place serves coffee."
        },
        "currentSecondaryOpeningHours": {
          "description": "Contains an array of entries for the next seven days including information about secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          },
          "type": "array"
        },
        "regularOpeningHours": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours",
          "description": "The regular hours of operation."
        },
        "rating": {
          "format": "double",
          "description": "A rating between 1.0 and 5.0, based on user reviews of this place.",
          "type": "number"
        },
        "liveMusic": {
          "description": "Place provides live music.",
          "type": "boolean"
        },
        "servesBreakfast": {
          "type": "boolean",
          "description": "Specifies if the place serves breakfast."
        },
        "goodForChildren": {
          "type": "boolean",
          "description": "Place is good for children."
        },
        "menuForChildren": {
          "type": "boolean",
          "description": "Place has a children's menu."
        },
        "businessStatus": {
          "enum": [
            "BUSINESS_STATUS_UNSPECIFIED",
            "OPERATIONAL",
            "CLOSED_TEMPORARILY",
            "CLOSED_PERMANENTLY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The establishment is operational, not necessarily open now.",
            "The establishment is temporarily closed.",
            "The establishment is permanently closed."
          ],
          "description": "The business status for the place.",
          "type": "string"
        },
        "servesLunch": {
          "description": "Specifies if the place serves lunch.",
          "type": "boolean"
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The localized name of the place, suitable as a short human-readable description. For example, \"Google Sydney\", \"Starbucks\", \"Pyrmont\", etc."
        },
        "adrFormatAddress": {
          "type": "string",
          "description": "The place's address in adr microformat: http://microformats.org/wiki/adr."
        },
        "accessibilityOptions": {
          "description": "Information about the accessibility options a place offers.",
          "$ref": "GoogleMapsPlacesV1PlaceAccessibilityOptions"
        },
        "allowsDogs": {
          "type": "boolean",
          "description": "Place allows dogs."
        },
        "reservable": {
          "type": "boolean",
          "description": "Specifies if the place supports reservations."
        },
        "types": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A set of type tags for this result. For example, \"political\" and \"locality\". For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types"
        },
        "plusCode": {
          "$ref": "GoogleMapsPlacesV1PlacePlusCode",
          "description": "Plus code of the place location lat/long."
        },
        "takeout": {
          "type": "boolean",
          "description": "Specifies if the business supports takeout."
        },
        "photos": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1Photo"
          },
          "description": "Information (including references) about photos of this place. A maximum of 10 photos can be returned."
        },
        "paymentOptions": {
          "description": "Payment options the place accepts. If a payment option data is not available, the payment option field will be unset.",
          "$ref": "GoogleMapsPlacesV1PlacePaymentOptions"
        },
        "formattedAddress": {
          "type": "string",
          "description": "A full, human-readable address for this place."
        },
        "primaryTypeDisplayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The display name of the primary type, localized to the request language if applicable. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types"
        },
        "generativeSummary": {
          "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. AI-generated summary of the place.",
          "$ref": "GoogleMapsPlacesV1PlaceGenerativeSummary"
        },
        "websiteUri": {
          "description": "The authoritative website for this place, e.g. a business' homepage. Note that for places that are part of a chain (e.g. an IKEA store), this will usually be the website for the individual store, not the overall chain.",
          "type": "string"
        },
        "restroom": {
          "type": "boolean",
          "description": "Place has restroom."
        },
        "currentOpeningHours": {
          "description": "The hours of operation for the next seven days (including today). The time period starts at midnight on the date of the request and ends at 11:59 pm six days later. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
        },
        "iconMaskBaseUri": {
          "description": "A truncated URL to an icon mask. User can access different icon type by appending type suffix to the end (eg, \".svg\" or \".png\").",
          "type": "string"
        },
        "outdoorSeating": {
          "description": "Place provides outdoor seating.",
          "type": "boolean"
        },
        "servesDinner": {
          "type": "boolean",
          "description": "Specifies if the place serves dinner."
        },
        "parkingOptions": {
          "description": "Options of parking provided by the place.",
          "$ref": "GoogleMapsPlacesV1PlaceParkingOptions"
        },
        "addressComponents": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAddressComponent"
          },
          "description": "Repeated components for each locality level. Note the following facts about the address_components[] array: - The array of address components may contain more components than the formatted_address. - The array does not necessarily include all the political entities that contain an address, apart from those included in the formatted_address. To retrieve all the political entities that contain a specific address, you should use reverse geocoding, passing the latitude/longitude of the address as a parameter to the request. - The format of the response is not guaranteed to remain the same between requests. In particular, the number of address_components varies based on the address requested and can change over time for the same address. A component can change position in the array. The type of the component can change. A particular component may be missing in a later response."
        },
        "attributions": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAttribution"
          },
          "description": "A set of data provider that must be shown with this result."
        },
        "utcOffsetMinutes": {
          "type": "integer",
          "description": "Number of minutes this place's timezone is currently offset from UTC. This is expressed in minutes to support timezones that are offset by fractions of an hour, e.g. X hours and 15 minutes.",
          "format": "int32"
        },
        "servesWine": {
          "type": "boolean",
          "description": "Specifies if the place serves wine."
        },
        "shortFormattedAddress": {
          "type": "string",
          "description": "A short, human-readable address for this place."
        },
        "primaryType": {
          "description": "The primary type of the given result. This type must one of the Places API supported types. For example, \"restaurant\", \"cafe\", \"airport\", etc. A place can only have a single primary type. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types",
          "type": "string"
        },
        "goodForGroups": {
          "description": "Place accommodates groups.",
          "type": "boolean"
        },
        "googleMapsUri": {
          "description": "A URL providing more information about this place.",
          "type": "string"
        },
        "servesBeer": {
          "type": "boolean",
          "description": "Specifies if the place serves beer."
        }
      },
      "description": "All the information representing a Place.",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestEVOptions": {
      "description": "Searchable EV options of a place search request.",
      "type": "object",
      "properties": {
        "minimumChargingRateKw": {
          "format": "double",
          "description": "Optional. Minimum required charging rate in kilowatts. A place with a charging rate less than the specified rate is filtered out.",
          "type": "number"
        },
        "connectorTypes": {
          "description": "Optional. The list of preferred EV connector types. A place that does not support any of the listed connector types is filtered out.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified connector.",
              "Other connector types.",
              "J1772 type 1 connector.",
              "IEC 62196 type 2 connector. Often referred to as MENNEKES.",
              "CHAdeMO type connector.",
              "Combined Charging System (AC and DC). Based on SAE. Type-1 J-1772 connector",
              "Combined Charging System (AC and DC). Based on Type-2 Mennekes connector",
              "The generic TESLA connector. This is NACS in the North America but can be non-NACS in other parts of the world (e.g. CCS Combo 2 (CCS2) or GB/T). This value is less representative of an actual connector type, and more represents the ability to charge a Tesla brand vehicle at a Tesla owned charging station.",
              "GB/T type corresponds to the GB/T standard in China. This type covers all GB_T types.",
              "Unspecified wall outlet."
            ],
            "enum": [
              "EV_CONNECTOR_TYPE_UNSPECIFIED",
              "EV_CONNECTOR_TYPE_OTHER",
              "EV_CONNECTOR_TYPE_J1772",
              "EV_CONNECTOR_TYPE_TYPE_2",
              "EV_CONNECTOR_TYPE_CHADEMO",
              "EV_CONNECTOR_TYPE_CCS_COMBO_1",
              "EV_CONNECTOR_TYPE_CCS_COMBO_2",
              "EV_CONNECTOR_TYPE_TESLA",
              "EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T",
              "EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET"
            ]
          }
        }
      },
      "id": "GoogleMapsPlacesV1SearchTextRequestEVOptions"
    },
    "GoogleMapsPlacesV1PlaceParkingOptions": {
      "properties": {
        "paidGarageParking": {
          "type": "boolean",
          "description": "Place offers paid garage parking."
        },
        "valetParking": {
          "description": "Place offers valet parking.",
          "type": "boolean"
        },
        "freeStreetParking": {
          "description": "Place offers free street parking.",
          "type": "boolean"
        },
        "paidParkingLot": {
          "description": "Place offers paid parking lots.",
          "type": "boolean"
        },
        "paidStreetParking": {
          "type": "boolean",
          "description": "Place offers paid street parking."
        },
        "freeParkingLot": {
          "description": "Place offers free parking lots.",
          "type": "boolean"
        },
        "freeGarageParking": {
          "type": "boolean",
          "description": "Place offers free garage parking."
        }
      },
      "description": "Information about parking options for the place. A parking lot could support more than one option at the same time.",
      "id": "GoogleMapsPlacesV1PlaceParkingOptions",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationBias": {
      "properties": {
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A rectangle box defined by northeast and southwest corner. `rectangle.high()` must be the northeast point of the rectangle viewport. `rectangle.low()` must be the southwest point of the rectangle viewport. `rectangle.low().latitude()` cannot be greater than `rectangle.high().latitude()`. This will result in an empty latitude range. A rectangle viewport cannot be wider than 180 degrees."
        },
        "circle": {
          "description": "A circle defined by center point and radius.",
          "$ref": "GoogleMapsPlacesV1Circle"
        }
      },
      "type": "object",
      "description": "The region to search. This location serves as a bias which means results around given location might be returned.",
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationBias"
    },
    "GoogleTypeLatLng": {
      "id": "GoogleTypeLatLng",
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        },
        "longitude": {
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double"
        }
      }
    },
    "GoogleMapsPlacesV1PlaceAddressComponent": {
      "id": "GoogleMapsPlacesV1PlaceAddressComponent",
      "type": "object",
      "properties": {
        "longText": {
          "description": "The full text description or name of the address component. For example, an address component for the country Australia may have a long_name of \"Australia\".",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The language used to format this components, in CLDR notation."
        },
        "types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An array indicating the type(s) of the address component."
        },
        "shortText": {
          "type": "string",
          "description": "An abbreviated textual name for the address component, if available. For example, an address component for the country of Australia may have a short_name of \"AU\"."
        }
      },
      "description": "The structured components that form the formatted address, if this information is available."
    },
    "GoogleMapsPlacesV1References": {
      "type": "object",
      "id": "GoogleMapsPlacesV1References",
      "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. Reference that the generative content is related to.",
      "properties": {
        "places": {
          "description": "The list of resource names of the referenced places. This name can be used in other APIs that accept Place resource names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reviews": {
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          },
          "description": "Reviews that serve as references.",
          "type": "array"
        }
      }
    },
    "GoogleMapsPlacesV1FuelOptions": {
      "type": "object",
      "description": "The most recent information about fuel options in a gas station. This information is updated regularly.",
      "id": "GoogleMapsPlacesV1FuelOptions",
      "properties": {
        "fuelPrices": {
          "items": {
            "$ref": "GoogleMapsPlacesV1FuelOptionsFuelPrice"
          },
          "description": "The last known fuel price for each type of fuel this station has. There is one entry per fuel type this station has. Order is not important.",
          "type": "array"
        }
      }
    },
    "GoogleMapsPlacesV1PlaceOpeningHours": {
      "type": "object",
      "description": "Information about business hour of the place.",
      "id": "GoogleMapsPlacesV1PlaceOpeningHours",
      "properties": {
        "periods": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod"
          },
          "description": "The periods that this place is open during the week. The periods are in chronological order, starting with Sunday in the place-local timezone. An empty (but not absent) value indicates a place that is never open, e.g. because it is closed temporarily for renovations."
        },
        "weekdayDescriptions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Localized strings describing the opening hours of this place, one string for each day of the week. Will be empty if the hours are unknown or could not be converted to localized text. Example: \"Sun: 18:00–06:00\""
        },
        "secondaryHoursType": {
          "type": "string",
          "description": "A type string used to identify the type of secondary hours.",
          "enumDescriptions": [
            "Default value when secondary hour type is not specified.",
            "The drive-through hour for banks, restaurants, or pharmacies.",
            "The happy hour.",
            "The delivery hour.",
            "The takeout hour.",
            "The kitchen hour.",
            "The breakfast hour.",
            "The lunch hour.",
            "The dinner hour.",
            "The brunch hour.",
            "The pickup hour.",
            "The access hours for storage places.",
            "The special hours for seniors.",
            "The online service hours."
          ],
          "enum": [
            "SECONDARY_HOURS_TYPE_UNSPECIFIED",
            "DRIVE_THROUGH",
            "HAPPY_HOUR",
            "DELIVERY",
            "TAKEOUT",
            "KITCHEN",
            "BREAKFAST",
            "LUNCH",
            "DINNER",
            "BRUNCH",
            "PICKUP",
            "ACCESS",
            "SENIOR_HOURS",
            "ONLINE_SERVICE_HOURS"
          ]
        },
        "openNow": {
          "type": "boolean",
          "description": "Is this place open right now? Always present unless we lack time-of-day or timezone data for these opening hours."
        },
        "specialDays": {
          "type": "array",
          "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day. Set for current_opening_hours and current_secondary_opening_hours if there are exceptional hours.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay"
          }
        }
      }
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText": {
      "description": "The text highlighted by the justification. This is a subset of the review itself. The exact word to highlight is marked by the HighlightedTextRange. There could be several words in the text being highlighted.",
      "type": "object",
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText",
      "properties": {
        "text": {
          "type": "string"
        },
        "highlightedTextRanges": {
          "description": "The list of the ranges of the highlighted text.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange"
          }
        }
      }
    },
    "GoogleMapsPlacesV1EVChargeOptions": {
      "type": "object",
      "id": "GoogleMapsPlacesV1EVChargeOptions",
      "properties": {
        "connectorAggregation": {
          "description": "A list of EV charging connector aggregations that contain connectors of the same type and same charge rate.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation"
          }
        },
        "connectorCount": {
          "description": "Number of connectors at this station. However, because some ports can have multiple connectors but only be able to charge one car at a time (e.g.) the number of connectors may be greater than the total number of cars which can charge simultaneously.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Information about the EV Charge Station hosted in Place. Terminology follows https://afdc.energy.gov/fuels/electricity_infrastructure.html One port could charge one car at a time. One port has one or more connectors. One station has one or more ports."
    },
    "GoogleMapsPlacesV1SearchTextResponse": {
      "description": "Response proto for SearchText. ",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted or empty, there are no subsequent pages.",
          "type": "string"
        },
        "places": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "description": "A list of places that meet the user's text search criteria."
        },
        "contextualContents": {
          "type": "array",
          "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. A list of contextual contents where each entry associates to the corresponding place in the same index in the places field. The contents that are relevant to the `text_query` in the request are preferred. If the contextual content is not available for one of the places, it will return non-contextual content. It will be empty only when the content is unavailable for this place. This list should have as many entries as the list of places if requested.",
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContent"
          }
        }
      },
      "id": "GoogleMapsPlacesV1SearchTextResponse",
      "type": "object"
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias": {
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias",
      "properties": {
        "rectangle": {
          "description": "A viewport defined by a northeast and a southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by a center point and radius."
        }
      },
      "description": "The region to search. The results may be biased around the specified region."
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint": {
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "A day of the week, as an integer in the range 0-6. 0 is Sunday, 1 is Monday, etc."
        },
        "truncated": {
          "description": "Whether or not this endpoint was truncated. Truncation occurs when the real hours are outside the times we are willing to return hours between, so we truncate the hours back to these boundaries. This ensures that at most 24 * 7 hours from midnight of the day of the request are returned.",
          "type": "boolean"
        },
        "minute": {
          "description": "The minute in 2 digits. Ranges from 00 to 59.",
          "type": "integer",
          "format": "int32"
        },
        "hour": {
          "format": "int32",
          "description": "The hour in 2 digits. Ranges from 00 to 23.",
          "type": "integer"
        },
        "date": {
          "description": "Date in the local timezone for the place.",
          "$ref": "GoogleTypeDate"
        }
      },
      "description": "Status changing points.",
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriod": {
      "properties": {
        "open": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
          "description": "The time that the place starts to be open."
        },
        "close": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
          "description": "The time that the place starts to be closed."
        }
      },
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod",
      "type": "object",
      "description": "A period the place remains in open_now status."
    },
    "GoogleMapsPlacesV1AuthorAttribution": {
      "id": "GoogleMapsPlacesV1AuthorAttribution",
      "description": "Information about the author of the UGC data. Used in Photo, and Review.",
      "properties": {
        "displayName": {
          "description": "Name of the author of the Photo or Review.",
          "type": "string"
        },
        "photoUri": {
          "type": "string",
          "description": "Profile photo URI of the author of the Photo or Review."
        },
        "uri": {
          "type": "string",
          "description": "URI of the author of the Photo or Review."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponse": {
      "properties": {
        "suggestions": {
          "type": "array",
          "description": "Contains a list of suggestions, ordered in descending order of relevance.",
          "items": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion"
          }
        }
      },
      "description": "Response proto for AutocompletePlaces.",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponse",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceAccessibilityOptions": {
      "id": "GoogleMapsPlacesV1PlaceAccessibilityOptions",
      "description": "Information about the accessibility options a place offers.",
      "type": "object",
      "properties": {
        "wheelchairAccessibleParking": {
          "description": "Place offers wheelchair accessible parking.",
          "type": "boolean"
        },
        "wheelchairAccessibleSeating": {
          "type": "boolean",
          "description": "Place has wheelchair accessible seating."
        },
        "wheelchairAccessibleEntrance": {
          "type": "boolean",
          "description": "Places has wheelchair accessible entrance."
        },
        "wheelchairAccessibleRestroom": {
          "type": "boolean",
          "description": "Place has wheelchair accessible restroom."
        }
      }
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustification": {
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustification",
      "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. User review justifications. This highlights a section of the user review that would interest an end user. For instance, if the search query is \"firewood pizza\", the review justification highlights the text relevant to the search query.",
      "properties": {
        "review": {
          "$ref": "GoogleMapsPlacesV1Review",
          "description": "The review that the highlighted text is generated from."
        },
        "highlightedText": {
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1PlacePlusCode": {
      "type": "object",
      "properties": {
        "globalCode": {
          "type": "string",
          "description": "Place's global (full) code, such as \"9FWM33GV+HQ\", representing an 1/8000 by 1/8000 degree area (~14 by 14 meters)."
        },
        "compoundCode": {
          "description": "Place's compound code, such as \"33GV+HQ, Ramberg, Norway\", containing the suffix of the global code and replacing the prefix with a formatted name of a reference entity.",
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1PlacePlusCode",
      "description": "Plus code (http://plus.codes) is a location reference with two formats: global code defining a 14mx14m (1/8000th of a degree) or smaller rectangle, and compound code, replacing the prefix with a reference location."
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction": {
      "properties": {
        "structuredFormat": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat",
          "description": "A breakdown of the query prediction into main text containing the query and secondary text containing additional disambiguating features (such as a city or region). `structured_format` is recommended for developers who wish to show two separate, but related, UI elements. Developers who wish to show a single UI element may want to use `text` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa."
        },
        "text": {
          "description": "The predicted text. This text does not represent a Place, but rather a text query that could be used in a search endpoint (for example, Text Search). `text` is recommended for developers who wish to show a single UI element. Developers who wish to show two separate, but related, UI elements may want to use `structured_format` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa. May be in mixed languages if the request `input` and `language_code` are in different languages or if part of the query does not have a translation from the local language to `language_code`.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction",
      "description": "Prediction results for a Query Autocomplete prediction."
    },
    "GoogleTypeLocalizedText": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "text": {
          "type": "string",
          "description": "Localized string in the language corresponding to language_code below."
        }
      },
      "type": "object",
      "id": "GoogleTypeLocalizedText",
      "description": "Localized variant of a text in a particular language."
    },
    "GoogleMapsPlacesV1PlaceGenerativeSummary": {
      "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. AI-generated summary of the place.",
      "id": "GoogleMapsPlacesV1PlaceGenerativeSummary",
      "properties": {
        "description": {
          "description": "The detailed description of the place.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "references": {
          "$ref": "GoogleMapsPlacesV1References",
          "description": "References that are used to generate the summary description."
        },
        "overview": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The overview of the place."
        }
      },
      "type": "object"
    },
    "GoogleTypeMoney": {
      "id": "GoogleTypeMoney",
      "type": "object",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      }
    },
    "GoogleTypeDate": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction": {
      "type": "object",
      "properties": {
        "circle": {
          "description": "A circle defined by a center point and radius.",
          "$ref": "GoogleMapsPlacesV1Circle"
        },
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A viewport defined by a northeast and a southwest corner."
        }
      },
      "description": "The region to search. The results will be restricted to the specified region.",
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction"
    },
    "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction": {
      "type": "object",
      "properties": {
        "circle": {
          "description": "A circle defined by center point and radius.",
          "$ref": "GoogleMapsPlacesV1Circle"
        }
      },
      "description": "The region to search.",
      "id": "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange": {
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange",
      "properties": {
        "startOffset": {
          "format": "int32",
          "type": "integer",
          "description": "Zero-based offset of the first Unicode character of the string (inclusive)."
        },
        "endOffset": {
          "description": "Zero-based offset of the last Unicode character (exclusive).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Identifies a substring within a given text."
    },
    "GoogleMapsPlacesV1PlacePaymentOptions": {
      "type": "object",
      "properties": {
        "acceptsDebitCards": {
          "type": "boolean",
          "description": "Place accepts debit cards as payment."
        },
        "acceptsNfc": {
          "description": "Place accepts NFC payments.",
          "type": "boolean"
        },
        "acceptsCashOnly": {
          "type": "boolean",
          "description": "Place accepts cash only as payment. Places with this attribute may still accept other payment methods."
        },
        "acceptsCreditCards": {
          "description": "Place accepts credit cards as payment.",
          "type": "boolean"
        }
      },
      "id": "GoogleMapsPlacesV1PlacePaymentOptions",
      "description": "Payment options the place accepts."
    },
    "GoogleMapsPlacesV1SearchTextRequest": {
      "properties": {
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
          "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned. Cannot be set along with location_bias."
        },
        "evOptions": {
          "description": "Optional. Set the searchable EV options of a place search request.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestEVOptions"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of results per page that can be returned. If the number of available results is larger than `page_size`, a `next_page_token` is returned which can be passed to `page_token` to get the next page of results in subsequent requests. If 0 or no value is provided, a default of 20 is used. The maximum value is 20; values above 20 will be set to 20. Negative values will return an INVALID_ARGUMENT error. If both `max_result_count` and `page_size` are specified, `max_result_count` will be ignored.",
          "type": "integer"
        },
        "textQuery": {
          "type": "string",
          "description": "Required. The text query for textual search."
        },
        "includedType": {
          "description": "The requested place type. Full list of types supported: https://developers.google.com/maps/documentation/places/web-service/place-types. Only support one included type.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport."
        },
        "strictTypeFiltering": {
          "type": "boolean",
          "description": "Used to set strict type filtering for included_type. If set to true, only results of the same type will be returned. Default to false."
        },
        "maxResultCount": {
          "format": "int32",
          "deprecated": true,
          "type": "integer",
          "description": "Deprecated: Use `page_size` instead. The maximum number of results per page that can be returned. If the number of available results is larger than `max_result_count`, a `next_page_token` is returned which can be passed to `page_token` to get the next page of results in subsequent requests. If 0 or no value is provided, a default of 20 is used. The maximum value is 20; values above 20 will be coerced to 20. Negative values will return an INVALID_ARGUMENT error. If both `max_result_count` and `page_size` are specified, `max_result_count` will be ignored."
        },
        "openNow": {
          "description": "Used to restrict the search to places that are currently open. The default is false.",
          "type": "boolean"
        },
        "priceLevels": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Place price level is unspecified or unknown.",
              "Place provides free services.",
              "Place provides inexpensive services.",
              "Place provides moderately priced services.",
              "Place provides expensive services.",
              "Place provides very expensive services."
            ],
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ]
          },
          "type": "array",
          "description": "Used to restrict the search to places that are marked as certain price levels. Users can choose any combinations of price levels. Default to select all price levels."
        },
        "rankPreference": {
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "RELEVANCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "For a categorical query such as \"Restaurants in New York City\", RELEVANCE is the default. For non-categorical queries such as \"Mountain View, CA\" we recommend that you leave rankPreference unset.",
            "Ranks results by distance.",
            "Ranks results by relevance. Sort order determined by normal ranking stack."
          ],
          "description": "How results will be ranked in the response."
        },
        "minRating": {
          "description": "Filter out results whose average user rating is strictly less than this limit. A valid value must be a float between 0 and 5 (inclusively) at a 0.5 cadence i.e. [0, 0.5, 1.0, ... , 5.0] inclusively. The input rating will round up to the nearest 0.5(ceiling). For instance, a rating of 0.6 will eliminate all results with a less than 1.0 rating.",
          "type": "number",
          "format": "double"
        },
        "locationBias": {
          "description": "The region to search. This location serves as a bias which means results around given location might be returned. Cannot be set along with location_restriction.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationBias"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous TextSearch call. Provide this to retrieve the subsequent page. When paginating, all parameters other than `page_token`, `page_size`, and `max_result_count` provided to TextSearch must match the initial call that provided the page token. Otherwise an INVALID_ARGUMENT error is returned."
        },
        "regionCode": {
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported.",
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1SearchTextRequest",
      "type": "object",
      "description": "Request proto for SearchText. "
    },
    "GoogleMapsPlacesV1ContextualContent": {
      "properties": {
        "reviews": {
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          },
          "type": "array",
          "description": "List of reviews about this place, contexual to the place query."
        },
        "photos": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1Photo"
          },
          "description": "Information (including references) about photos of this place, contexual to the place query."
        },
        "justifications": {
          "type": "array",
          "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. Justifications for the place.",
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContentJustification"
          }
        }
      },
      "id": "GoogleMapsPlacesV1ContextualContent",
      "type": "object",
      "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. Content that is contextual to the place query."
    },
    "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation": {
      "description": "EV charging information grouped by [type, max_charge_rate_kw]. Shows EV charge aggregation of connectors that have the same type and max charge rate in kw.",
      "id": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation",
      "properties": {
        "availabilityLastUpdateTime": {
          "type": "string",
          "description": "The timestamp when the connector availability information in this aggregation was last updated.",
          "format": "google-datetime"
        },
        "maxChargeRateKw": {
          "type": "number",
          "description": "The static max charging rate in kw of each connector in the aggregation.",
          "format": "double"
        },
        "outOfServiceCount": {
          "description": "Number of connectors in this aggregation that are currently out of service.",
          "type": "integer",
          "format": "int32"
        },
        "availableCount": {
          "format": "int32",
          "description": "Number of connectors in this aggregation that are currently available.",
          "type": "integer"
        },
        "type": {
          "description": "The connector type of this aggregation.",
          "enumDescriptions": [
            "Unspecified connector.",
            "Other connector types.",
            "J1772 type 1 connector.",
            "IEC 62196 type 2 connector. Often referred to as MENNEKES.",
            "CHAdeMO type connector.",
            "Combined Charging System (AC and DC). Based on SAE. Type-1 J-1772 connector",
            "Combined Charging System (AC and DC). Based on Type-2 Mennekes connector",
            "The generic TESLA connector. This is NACS in the North America but can be non-NACS in other parts of the world (e.g. CCS Combo 2 (CCS2) or GB/T). This value is less representative of an actual connector type, and more represents the ability to charge a Tesla brand vehicle at a Tesla owned charging station.",
            "GB/T type corresponds to the GB/T standard in China. This type covers all GB_T types.",
            "Unspecified wall outlet."
          ],
          "enum": [
            "EV_CONNECTOR_TYPE_UNSPECIFIED",
            "EV_CONNECTOR_TYPE_OTHER",
            "EV_CONNECTOR_TYPE_J1772",
            "EV_CONNECTOR_TYPE_TYPE_2",
            "EV_CONNECTOR_TYPE_CHADEMO",
            "EV_CONNECTOR_TYPE_CCS_COMBO_1",
            "EV_CONNECTOR_TYPE_CCS_COMBO_2",
            "EV_CONNECTOR_TYPE_TESLA",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET"
          ],
          "type": "string"
        },
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "Number of connectors in this aggregation."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1Photo": {
      "type": "object",
      "properties": {
        "widthPx": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum available width, in pixels."
        },
        "heightPx": {
          "type": "integer",
          "description": "The maximum available height, in pixels.",
          "format": "int32"
        },
        "authorAttributions": {
          "description": "This photo's authors.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1AuthorAttribution"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. A reference representing this place photo which may be used to look up this place photo again (also called the API \"resource\" name: `places/{place_id}/photos/{photo}`)."
        }
      },
      "description": "Information about a photo of a place.",
      "id": "GoogleMapsPlacesV1Photo"
    },
    "GoogleMapsPlacesV1PlaceAttribution": {
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceAttribution",
      "properties": {
        "providerUri": {
          "description": "URI to the Place's data provider.",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "description": "Name of the Place's data provider."
        }
      },
      "description": "Information about data providers of this place."
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequest": {
      "description": "Request proto for AutocompletePlaces.",
      "properties": {
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction",
          "description": "Optional. Restrict results to a specified location. At most one of `location_bias` or `location_restriction` should be set. If neither are set, the results will be biased by IP address, meaning the IP address will be mapped to an imprecise location and used as a biasing signal."
        },
        "includedPrimaryTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Included primary Place type (for example, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. A Place is only returned if its primary type is included in this list. Up to 5 values can be specified. If no types are specified, all Place types are returned."
        },
        "includeQueryPredictions": {
          "type": "boolean",
          "description": "Optional. If true, the response will include both Place and query predictions. Otherwise the response will only return Place predictions."
        },
        "languageCode": {
          "description": "Optional. The language in which to return results. Defaults to en-US. The results may be in mixed languages if the language used in `input` is different from `language_code` or if the returned Place does not have a translation from the local language to `language_code`.",
          "type": "string"
        },
        "sessionToken": {
          "type": "string",
          "description": "Optional. A string which identifies an Autocomplete session for billing purposes. Must be a URL and filename safe base64 string with at most 36 ASCII characters in length. Otherwise an INVALID_ARGUMENT error is returned. The session begins when the user starts typing a query, and concludes when they select a place and a call to Place Details or Address Validation is made. Each session can have multiple queries, followed by one Place Details or Address Validation request. The credentials used for each request within a session must belong to the same Google Cloud Console project. Once a session has concluded, the token is no longer valid; your app must generate a fresh token for each session. If the `session_token` parameter is omitted, or if you reuse a session token, the session is charged as if no session token was provided (each request is billed separately). We recommend the following guidelines: * Use session tokens for all Place Autocomplete calls. * Generate a fresh token for each session. Using a version 4 UUID is recommended. * Ensure that the credentials used for all Place Autocomplete, Place Details, and Address Validation requests within a session belong to the same Cloud Console project. * Be sure to pass a unique session token for each new session. Using the same token for more than one session will result in each request being billed individually."
        },
        "inputOffset": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. A zero-based Unicode character offset of `input` indicating the cursor position in `input`. The cursor position may influence what predictions are returned. If empty, defaults to the length of `input`."
        },
        "input": {
          "description": "Required. The text string on which to search.",
          "type": "string"
        },
        "locationBias": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias",
          "description": "Optional. Bias results to a specified location. At most one of `location_bias` or `location_restriction` should be set. If neither are set, the results will be biased by IP address, meaning the IP address will be mapped to an imprecise location and used as a biasing signal."
        },
        "regionCode": {
          "description": "Optional. The region code, specified as a CLDR two-character region code. This affects address formatting, result ranking, and may influence what results are returned. This does not restrict results to the specified region. To restrict results to a region, use `region_code_restriction`.",
          "type": "string"
        },
        "includedRegionCodes": {
          "description": "Optional. Only include results in the specified regions, specified as up to 15 CLDR two-character region codes. An empty set will not restrict the results. If both `location_restriction` and `included_region_codes` are set, the results will be located in the area of intersection.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "origin": {
          "description": "Optional. The origin point from which to calculate geodesic distance to the destination (returned as `distance_meters`). If this value is omitted, geodesic distance will not be returned.",
          "$ref": "GoogleTypeLatLng"
        }
      },
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequest",
      "type": "object"
    },
    "GoogleMapsPlacesV1Circle": {
      "id": "GoogleMapsPlacesV1Circle",
      "description": "Circle with a LatLng as center and radius.",
      "type": "object",
      "properties": {
        "center": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. Center latitude and longitude. The range of latitude must be within [-90.0, 90.0]. The range of the longitude must be within [-180.0, 180.0]."
        },
        "radius": {
          "description": "Required. Radius measured in meters. The radius must be within [0.0, 50000.0].",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleMapsPlacesV1SearchNearbyResponse": {
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchNearbyResponse",
      "description": "Response proto for Search Nearby. ",
      "properties": {
        "places": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "description": "A list of places that meets user's requirements like places types, number of places and specific location restriction."
        }
      }
    }
  }
}
