{
  "name": "places",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/maps-platform.places.textsearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.textsearch"
        },
        "https://www.googleapis.com/auth/maps-platform.places": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "places:v1",
  "baseUrl": "https://places.googleapis.com/",
  "mtlsRootUrl": "https://places.mtls.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "version_module": true,
  "resources": {
    "places": {
      "methods": {
        "searchText": {
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchTextResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v1/places:searchText",
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchTextRequest"
          },
          "id": "places.places.searchText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.textsearch"
          ],
          "description": "Text query based place search.",
          "path": "v1/places:searchText"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://mapsplatform.google.com/maps-products/#places-section",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Places API (New)",
  "ownerDomain": "google.com",
  "version": "v1",
  "servicePath": "",
  "batchPath": "batch",
  "revision": "20231016",
  "schemas": {
    "GoogleMapsPlacesV1SearchTextRequest": {
      "properties": {
        "locationBias": {
          "description": "The region to search. This location serves as a bias which means results around given location might be returned. Cannot be set along with location_restriction.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationBias"
        },
        "maxResultCount": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of results to return. It must be between 1 and 20, inclusively. If the number is unset, it falls back to the upper limit. If the number is set to negative or exceeds the upper limit, an INVALID_ARGUMENT error is returned."
        },
        "strictTypeFiltering": {
          "type": "boolean",
          "description": "Used to set strict type filtering for included_type. If set to true, only results of the same type will be returned. Default to false."
        },
        "includedType": {
          "type": "string",
          "description": "The requested place type. Full list of types supported: https://developers.google.com/maps/documentation/places/web-service/place-types. Only support one included type."
        },
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
          "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned. Cannot be set along with location_bias."
        },
        "languageCode": {
          "type": "string",
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport."
        },
        "textQuery": {
          "type": "string",
          "description": "Required. The text query for textual search."
        },
        "minRating": {
          "type": "number",
          "format": "double",
          "description": "Filter out results whose average user rating is strictly less than this limit. A valid value must be an float between 0 and 5 (inclusively) at a 0.5 cadence i.e. [0, 0.5, 1.0, ... , 5.0] inclusively. This is to keep parity with LocalRefinement_UserRating. The input rating will round up to the nearest 0.5(ceiling). For instance, a rating of 0.6 will eliminate all results with a less than 1.0 rating."
        },
        "openNow": {
          "type": "boolean",
          "description": "Used to restrict the search to places that are currently open."
        },
        "regionCode": {
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see http://www.unicode.org/reports/tr35/#unicode_region_subtag. Note that 3-digit region codes are not currently supported.",
          "type": "string"
        },
        "priceLevels": {
          "type": "array",
          "description": "Used to restrict the search to places that are marked as certain price levels. Users can choose any combinations of price levels. Default to select all price levels.",
          "items": {
            "type": "string",
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ],
            "enumDescriptions": [
              "Place price level is unspecified or unknown.",
              "Place provides free services.",
              "Place provides inexpensive services.",
              "Place provides moderately priced services.",
              "Place provides expensive services.",
              "Place provides very expensive service s."
            ]
          }
        },
        "rankPreference": {
          "enumDescriptions": [
            "RankPreference value not set. Will default to DISTANCE.",
            "Ranks results by distance.",
            "Ranks results by relevance. Sort order determined by normal ranking stack. See SortRefinement::RELEVANCE."
          ],
          "type": "string",
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "RELEVANCE"
          ],
          "description": "How results will be ranked in the response."
        }
      },
      "id": "GoogleMapsPlacesV1SearchTextRequest",
      "type": "object",
      "description": "Request proto for SearchText. "
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint": {
      "description": "Status changing points.",
      "type": "object",
      "properties": {
        "minute": {
          "type": "integer",
          "format": "int32",
          "description": "The minute in 2 digits. Ranges from 00 to 59."
        },
        "truncated": {
          "description": "Whether or not this endpoint was truncated. Truncation occurs when the real hours are outside the times we are willing to return hours between, so we truncate the hours back to these boundaries. This ensures that at most 24 * 7 hours from midnight of the day of the request are returned.",
          "type": "boolean"
        },
        "hour": {
          "format": "int32",
          "description": "The hour in 2 digits. Ranges from 00 to 23.",
          "type": "integer"
        },
        "date": {
          "description": "Date in the local timezone for the place.",
          "$ref": "GoogleTypeDate"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "A day of the week, as an integer in the range 0-6. 0 is Sunday, 1 is Monday, etc."
        }
      },
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
    },
    "GoogleMapsPlacesV1Place": {
      "type": "object",
      "description": "All the information representing a Place.",
      "id": "GoogleMapsPlacesV1Place",
      "properties": {
        "attributions": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAttribution"
          },
          "description": "A set of data provider that must be shown with this result."
        },
        "servesWine": {
          "type": "boolean",
          "description": "Specifies if the place serves wine."
        },
        "websiteUri": {
          "type": "string",
          "description": "The authoritative website for this place, e.g. a business' homepage. Note that for places that are part of a chain (e.g. an IKEA store), this will usually be the website for the individual store, not the overall chain."
        },
        "servesBrunch": {
          "description": "Specifies if the place serves brunch.",
          "type": "boolean"
        },
        "iconBackgroundColor": {
          "description": "Background color for icon_mask in hex format, e.g. #909CE1.",
          "type": "string"
        },
        "plusCode": {
          "description": "Plus code of the place location lat/long.",
          "$ref": "GoogleMapsPlacesV1PlacePlusCode"
        },
        "currentOpeningHours": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours",
          "description": "The hours of operation for the next seven days (including today). The time period starts at midnight on the date of the request and ends at 11:59 pm six days later. This field includes the special_days subfield of all hours, set for dates that have exceptional hours."
        },
        "adrFormatAddress": {
          "type": "string",
          "description": "The place's address in adr microformat: http://microformats.org/wiki/adr."
        },
        "utcOffsetMinutes": {
          "type": "integer",
          "description": "Number of minutes this place's timezone is currently offset from UTC. This is expressed in minutes to support timezones that are offset by fractions of an hour, e.g. X hours and 15 minutes.",
          "format": "int32"
        },
        "servesDinner": {
          "type": "boolean",
          "description": "Specifies if the place serves dinner."
        },
        "editorialSummary": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "Contains a summary of the place. A summary is comprised of a textual overview, and also includes the language code for these if applicable. Summary text must be presented as-is and can not be modified or altered."
        },
        "priceLevel": {
          "enumDescriptions": [
            "Place price level is unspecified or unknown.",
            "Place provides free services.",
            "Place provides inexpensive services.",
            "Place provides moderately priced services.",
            "Place provides expensive services.",
            "Place provides very expensive service s."
          ],
          "enum": [
            "PRICE_LEVEL_UNSPECIFIED",
            "PRICE_LEVEL_FREE",
            "PRICE_LEVEL_INEXPENSIVE",
            "PRICE_LEVEL_MODERATE",
            "PRICE_LEVEL_EXPENSIVE",
            "PRICE_LEVEL_VERY_EXPENSIVE"
          ],
          "description": "Price level of the place.",
          "type": "string"
        },
        "reservable": {
          "type": "boolean",
          "description": "Specifies if the place supports reservations."
        },
        "businessStatus": {
          "description": "The business status for the place.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The establishment is operational, not necessarily open now.",
            "The establishment is temporarily closed.",
            "The establishment is permanently closed."
          ],
          "type": "string",
          "enum": [
            "BUSINESS_STATUS_UNSPECIFIED",
            "OPERATIONAL",
            "CLOSED_TEMPORARILY",
            "CLOSED_PERMANENTLY"
          ]
        },
        "addressComponents": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAddressComponent"
          },
          "type": "array",
          "description": "Repeated components for each locality level. Note the following facts about the address_components[] array: - The array of address components may contain more components than the formatted_address. - The array does not necessarily include all the political entities that contain an address, apart from those included in the formatted_address. To retrieve all the political entities that contain a specific address, you should use reverse geocoding, passing the latitude/longitude of the address as a parameter to the request. - The format of the response is not guaranteed to remain the same between requests. In particular, the number of address_components varies based on the address requested and can change over time for the same address. A component can change position in the array. The type of the component can change. A particular component may be missing in a later response."
        },
        "internationalPhoneNumber": {
          "type": "string",
          "description": "A human-readable phone number for the place, in international format."
        },
        "name": {
          "description": "An ID representing this place which may be used to look up this place again (a.k.a. the API \"resource\" name: places/place_id).",
          "type": "string"
        },
        "dineIn": {
          "type": "boolean",
          "description": "Specifies if the business supports indoor or outdoor seating options."
        },
        "userRatingCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of reviews (with or without text) for this place."
        },
        "viewport": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A viewport suitable for displaying the place on an average-sized map."
        },
        "currentSecondaryOpeningHours": {
          "description": "Contains an array of entries for the next seven days including information about secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          },
          "type": "array"
        },
        "iconMaskBaseUri": {
          "description": "A truncated URL to an v2 icon mask. User can access different icon type by appending type suffix to the end (eg, \".svg\" or \".png\").",
          "type": "string"
        },
        "googleMapsUri": {
          "type": "string",
          "description": "A URL providing more information about this place."
        },
        "id": {
          "description": "The unique identifier of a place.",
          "type": "string"
        },
        "curbsidePickup": {
          "type": "boolean",
          "description": "Specifies if the business supports curbside pickup."
        },
        "rating": {
          "type": "number",
          "format": "double",
          "description": "A rating between 1.0 and 5.0, based on user reviews of this place."
        },
        "delivery": {
          "description": "Specifies if the business supports delivery.",
          "type": "boolean"
        },
        "accessibilityOptions": {
          "$ref": "GoogleMapsPlacesV1PlaceAccessibilityOptions",
          "description": "Information about the accessibility options a place offers."
        },
        "nationalPhoneNumber": {
          "description": "A human-readable phone number for the place, in national format.",
          "type": "string"
        },
        "servesVegetarianFood": {
          "description": "Specifies if the place serves vegetarian food.",
          "type": "boolean"
        },
        "regularSecondaryOpeningHours": {
          "type": "array",
          "description": "Contains an array of entries for information about regular secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          }
        },
        "servesBeer": {
          "type": "boolean",
          "description": "Specifies if the place serves beer."
        },
        "regularOpeningHours": {
          "description": "The regular hours of operation.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
        },
        "servesBreakfast": {
          "description": "Specifies if the place serves breakfast.",
          "type": "boolean"
        },
        "formattedAddress": {
          "type": "string",
          "description": "A full, human-readable address for this place."
        },
        "location": {
          "$ref": "GoogleTypeLatLng",
          "description": "The position of this place."
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The localized name of the place, suitable as a short human-readable description. For example, \"Google Sydney\", \"Starbucks\", \"Pyrmont\", etc."
        },
        "servesLunch": {
          "type": "boolean",
          "description": "Specifies if the place serves lunch."
        },
        "types": {
          "type": "array",
          "description": "A set of type tags for this result. For example, \"political\" and \"locality\". See: https://developers.google.com/maps/documentation/places/web-service/place-types",
          "items": {
            "type": "string"
          }
        },
        "reviews": {
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          },
          "type": "array",
          "description": "List of reviews about this place."
        },
        "takeout": {
          "type": "boolean",
          "description": "Specifies if the business supports takeout."
        }
      }
    },
    "GoogleGeoTypeViewport": {
      "id": "GoogleGeoTypeViewport",
      "type": "object",
      "description": "A latitude-longitude viewport, represented as two diagonally opposite `low` and `high` points. A viewport is considered a closed region, i.e. it includes its boundary. The latitude bounds must range between -90 to 90 degrees inclusive, and the longitude bounds must range between -180 to 180 degrees inclusive. Various cases include: - If `low` = `high`, the viewport consists of that single point. - If `low.longitude` \u003e `high.longitude`, the longitude range is inverted (the viewport crosses the 180 degree longitude line). - If `low.longitude` = -180 degrees and `high.longitude` = 180 degrees, the viewport includes all longitudes. - If `low.longitude` = 180 degrees and `high.longitude` = -180 degrees, the longitude range is empty. - If `low.latitude` \u003e `high.latitude`, the latitude range is empty. Both `low` and `high` must be populated, and the represented box cannot be empty (as specified by the definitions above). An empty viewport will result in an error. For example, this viewport fully encloses New York City: { \"low\": { \"latitude\": 40.477398, \"longitude\": -74.259087 }, \"high\": { \"latitude\": 40.91618, \"longitude\": -73.70018 } }",
      "properties": {
        "low": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. The low point of the viewport."
        },
        "high": {
          "description": "Required. The high point of the viewport.",
          "$ref": "GoogleTypeLatLng"
        }
      }
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationBias": {
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationBias",
      "properties": {
        "rectangle": {
          "description": "A rectangle box defined by northeast and southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by center point and radius."
        }
      },
      "description": "The region to search. This location serves as a bias which means results around given location might be returned.",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceAttribution": {
      "id": "GoogleMapsPlacesV1PlaceAttribution",
      "properties": {
        "provider": {
          "description": "Name of the Place's data provider.",
          "type": "string"
        },
        "providerUri": {
          "description": "URI to the Place's data provider.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about data providers of this place."
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay": {
      "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day.",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay",
      "properties": {
        "date": {
          "$ref": "GoogleTypeDate",
          "description": "The date of this special day."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceAddressComponent": {
      "id": "GoogleMapsPlacesV1PlaceAddressComponent",
      "type": "object",
      "properties": {
        "shortText": {
          "type": "string",
          "description": "An abbreviated textual name for the address component, if available. For example, an address component for the country of Australia may have a short_name of \"AU\"."
        },
        "longText": {
          "description": "The full text description or name of the address component. For example, an address component for the country Australia may have a long_name of \"Australia\".",
          "type": "string"
        },
        "languageCode": {
          "description": "The language used to format this components, in CLDR notation.",
          "type": "string"
        },
        "types": {
          "type": "array",
          "description": "An array indicating the type(s) of the address component.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The structured components that form the formatted address, if this information is available."
    },
    "GoogleMapsPlacesV1AuthorAttribution": {
      "properties": {
        "photoUri": {
          "readOnly": true,
          "description": "Output only. Profile photo URI of the author of the Photo or Review.",
          "type": "string"
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of the author of the Photo or Review."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the author of the Photo or Review."
        }
      },
      "description": "Information about the author of the UGC data. Used in Photo, and Review.",
      "type": "object",
      "id": "GoogleMapsPlacesV1AuthorAttribution"
    },
    "GoogleTypeDate": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      }
    },
    "GoogleTypeLocalizedText": {
      "description": "Localized variant of a text in a particular language.",
      "type": "object",
      "id": "GoogleTypeLocalizedText",
      "properties": {
        "text": {
          "description": "Localized string in the language corresponding to language_code below.",
          "type": "string"
        },
        "languageCode": {
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1PlaceOpeningHours": {
      "id": "GoogleMapsPlacesV1PlaceOpeningHours",
      "properties": {
        "secondaryHoursType": {
          "enum": [
            "SECONDARY_HOURS_TYPE_UNSPECIFIED",
            "DRIVE_THROUGH",
            "HAPPY_HOUR",
            "DELIVERY",
            "TAKEOUT",
            "KITCHEN",
            "BREAKFAST",
            "LUNCH",
            "DINNER",
            "BRUNCH",
            "PICKUP",
            "ACCESS",
            "SENIOR_HOURS",
            "ONLINE_SERVICE_HOURS"
          ],
          "enumDescriptions": [
            "Default value when secondary hour type is not specified.",
            "The drive-through hour for banks, restaurants, or pharmacies.",
            "The happy hour.",
            "The delivery hour.",
            "The takeout hour.",
            "The kitchen hour.",
            "The breakfast hour.",
            "The lunch hour.",
            "The dinner hour.",
            "The brunch hour.",
            "The pickup hour.",
            "The access hours for storage places.",
            "The special hours for seniors.",
            "The online service hours."
          ],
          "description": "A type string used to identify the type of secondary hours.",
          "type": "string"
        },
        "periods": {
          "type": "array",
          "description": "The periods that this place is open during the week. The periods are in chronological order, starting with Sunday in the place-local timezone. An empty (but not absent) value indicates a place that is never open, e.g. because it is closed temporarily for renovations.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod"
          }
        },
        "weekdayDescriptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Localized strings describing the opening hours of this place, one string for each day of the week. Will be empty if the hours are unknown or could not be converted to localized text. Example: \"Sun: 18:00–06:00\""
        },
        "openNow": {
          "type": "boolean",
          "description": "Is this place open right now? Always present unless we lack time-of-day or timezone data for these opening hours."
        },
        "specialDays": {
          "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day. Set for current_opening_hours and current_secondary_opening_hours if there are exceptional hours.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay"
          }
        }
      },
      "description": "Information about business hour of the place.",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationRestriction": {
      "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned.",
      "type": "object",
      "properties": {
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A rectangle box defined by northeast and southwest corner."
        }
      },
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction"
    },
    "GoogleMapsPlacesV1SearchTextResponse": {
      "id": "GoogleMapsPlacesV1SearchTextResponse",
      "properties": {
        "places": {
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "type": "array",
          "description": "A list of places that meet the user's text search criteria."
        }
      },
      "description": "Response proto for SearchText. ",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriod": {
      "type": "object",
      "properties": {
        "close": {
          "description": "The time that the place starts to be closed.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
        },
        "open": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
          "description": "The time that the place starts to be open."
        }
      },
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod",
      "description": "A period the place remains in open_now status."
    },
    "GoogleMapsPlacesV1PlaceAccessibilityOptions": {
      "properties": {
        "wheelchairAccessibleEntrance": {
          "type": "boolean",
          "description": "Places has wheelchair accessible entrance."
        }
      },
      "type": "object",
      "description": "Information about the accessibility options a place offers.",
      "id": "GoogleMapsPlacesV1PlaceAccessibilityOptions"
    },
    "GoogleMapsPlacesV1Circle": {
      "id": "GoogleMapsPlacesV1Circle",
      "description": "Circle with a LatLng as center and radius.",
      "type": "object",
      "properties": {
        "radius": {
          "format": "double",
          "type": "number",
          "description": "Required. Radius measured in meters. The radius must be within [0.0, 50000.0]."
        },
        "center": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. Center latitude and longitude. The range of latitude must be within [-90.0, 90.0]. The range of the longitude must be within [-180.0, 180.0]."
        }
      }
    },
    "GoogleMapsPlacesV1PlacePlusCode": {
      "type": "object",
      "properties": {
        "compoundCode": {
          "type": "string",
          "description": "Place's compound code, such as \"33GV+HQ, Ramberg, Norway\", containing the suffix of the global code and replacing the prefix with a formatted name of a reference entity."
        },
        "globalCode": {
          "description": "Place's global (full) code, such as \"9FWM33GV+HQ\", representing an 1/8000 by 1/8000 degree area (~14 by 14 meters).",
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1PlacePlusCode",
      "description": "Plus code (http://plus.codes) is a location reference with two formats: global code defining a 14mx14m (1/8000th of a degree) or smaller rectangle, and compound code, replacing the prefix with a reference location."
    },
    "GoogleMapsPlacesV1Review": {
      "description": "Information about a review of a place.",
      "properties": {
        "relativePublishTimeDescription": {
          "description": "Output only. A string of formatted recent time, expressing the review time relative to the current time in a form appropriate for the language and country.",
          "type": "string",
          "readOnly": true
        },
        "rating": {
          "format": "double",
          "type": "number",
          "readOnly": true,
          "description": "Output only. A number between 1.0 and 5.0, a.k.a. the number of stars."
        },
        "text": {
          "description": "Output only. The localized text of the review.",
          "$ref": "GoogleTypeLocalizedText",
          "readOnly": true
        },
        "authorAttribution": {
          "readOnly": true,
          "$ref": "GoogleMapsPlacesV1AuthorAttribution",
          "description": "Output only. This review's author."
        },
        "publishTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp for the review.",
          "type": "string",
          "readOnly": true
        },
        "originalText": {
          "description": "Output only. The review text in its original language.",
          "$ref": "GoogleTypeLocalizedText",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1Review"
    },
    "GoogleTypeLatLng": {
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        },
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        }
      },
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "GoogleTypeLatLng"
    }
  },
  "rootUrl": "https://places.googleapis.com/",
  "description": "",
  "canonicalName": "Maps Places"
}
