{
  "basePath": "",
  "rootUrl": "https://places.googleapis.com/",
  "canonicalName": "Maps Places",
  "version": "v1",
  "resources": {
    "Text": {
      "methods": {
        "search": {
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchTextRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.textsearch"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/Text:search",
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchTextResponse"
          },
          "description": "Text query based place search.",
          "path": "v1/Text:search",
          "id": "places.Text.search"
        }
      }
    },
    "places": {
      "methods": {
        "searchText": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.textsearch"
          ],
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchTextRequest"
          },
          "description": "Text query based place search.",
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchTextResponse"
          },
          "flatPath": "v1/places:searchText",
          "path": "v1/places:searchText",
          "id": "places.places.searchText",
          "httpMethod": "POST"
        }
      }
    }
  },
  "documentationLink": "https://mapsplatform.google.com/maps-products/#places-section",
  "description": "",
  "revision": "20230829",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "name": "places",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "id": "places:v1",
  "title": "Places API (New)",
  "version_module": true,
  "ownerName": "Google",
  "mtlsRootUrl": "https://places.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "servicePath": "",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/maps-platform.places": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places"
        },
        "https://www.googleapis.com/auth/maps-platform.places.textsearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.textsearch"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleGeoTypeViewport": {
      "description": "A latitude-longitude viewport, represented as two diagonally opposite `low` and `high` points. A viewport is considered a closed region, i.e. it includes its boundary. The latitude bounds must range between -90 to 90 degrees inclusive, and the longitude bounds must range between -180 to 180 degrees inclusive. Various cases include: - If `low` = `high`, the viewport consists of that single point. - If `low.longitude` \u003e `high.longitude`, the longitude range is inverted (the viewport crosses the 180 degree longitude line). - If `low.longitude` = -180 degrees and `high.longitude` = 180 degrees, the viewport includes all longitudes. - If `low.longitude` = 180 degrees and `high.longitude` = -180 degrees, the longitude range is empty. - If `low.latitude` \u003e `high.latitude`, the latitude range is empty. Both `low` and `high` must be populated, and the represented box cannot be empty (as specified by the definitions above). An empty viewport will result in an error. For example, this viewport fully encloses New York City: { \"low\": { \"latitude\": 40.477398, \"longitude\": -74.259087 }, \"high\": { \"latitude\": 40.91618, \"longitude\": -73.70018 } }",
      "properties": {
        "high": {
          "description": "Required. The high point of the viewport.",
          "$ref": "GoogleTypeLatLng"
        },
        "low": {
          "description": "Required. The low point of the viewport.",
          "$ref": "GoogleTypeLatLng"
        }
      },
      "type": "object",
      "id": "GoogleGeoTypeViewport"
    },
    "GoogleTypeLocalizedText": {
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "text": {
          "description": "Localized string in the language corresponding to `language_code' below.",
          "type": "string"
        }
      },
      "id": "GoogleTypeLocalizedText",
      "description": "Localized variant of a text in a particular language."
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationBias": {
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationBias",
      "type": "object",
      "description": "The region to search. This location serves as a bias which means results around given location might be returned.",
      "properties": {
        "rectangle": {
          "description": "A rectangle box defined by northeast and southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by center point and radius."
        }
      }
    },
    "GoogleMapsPlacesV1Place": {
      "id": "GoogleMapsPlacesV1Place",
      "type": "object",
      "description": "All the information representing a Place.",
      "properties": {
        "currentSecondaryOpeningHours": {
          "description": "Output only. Contains an array of entries for the next seven days including information about secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          },
          "type": "array",
          "readOnly": true
        },
        "secondaryOpeningHours": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          },
          "description": "Output only. Contains an array of entries for information about regular secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place.",
          "readOnly": true,
          "type": "array"
        },
        "adrFormatAddress": {
          "type": "string",
          "description": "Output only. The place's address in adr microformat: http://microformats.org/wiki/adr.",
          "readOnly": true
        },
        "attributions": {
          "type": "array",
          "description": "Output only. A set of data provider that must be shown with this result.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAttribution"
          }
        },
        "addressComponents": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAddressComponent"
          },
          "description": "Output only. Repeated components for each locality level.",
          "readOnly": true
        },
        "websiteUri": {
          "readOnly": true,
          "description": "Output only. The authoritative website for this place, e.g. a business' homepage. Note that for places that are part of a chain (e.g. an IKEA store), this will usually be the website for the individual store, not the overall chain.",
          "type": "string"
        },
        "userRatingCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total number of reviews (with or without text) for this place."
        },
        "priceLevel": {
          "description": "Output only. Price level of the place.",
          "enum": [
            "PRICE_LEVEL_UNSPECIFIED",
            "PRICE_LEVEL_FREE",
            "PRICE_LEVEL_INEXPENSIVE",
            "PRICE_LEVEL_MODERATE",
            "PRICE_LEVEL_EXPENSIVE",
            "PRICE_LEVEL_VERY_EXPENSIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Place price level is unspecified or unknown.",
            "Place provides free services.",
            "Place provides inexpensive services.",
            "Place provides moderately priced services.",
            "Place provides expensive services.",
            "Place provides very expensive services."
          ],
          "type": "string"
        },
        "servesVegetarianFood": {
          "description": "Output only. Specifies if the place serves vegetarian food.",
          "readOnly": true,
          "type": "boolean"
        },
        "viewport": {
          "readOnly": true,
          "description": "Output only. A viewport suitable for displaying the place on an average-sized map.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "nationalPhoneNumber": {
          "description": "Output only. A human-readable phone number for the place, in national format.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "$ref": "GoogleTypeLocalizedText",
          "description": "Output only. The localized name of the place, suitable as a short human-readable description. For example, \"Google Sydney\", \"Starbucks\", \"Pyrmont\", etc."
        },
        "takeout": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Specifies if the business supports takeout."
        },
        "iconBackgroundColor": {
          "description": "Output only. Background color for icon_mask in hex format, e.g. #909CE1.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. An ID representing this place which may be used to look up this place again (a.k.a. the API \"resource\" name: places/).",
          "type": "string",
          "readOnly": true
        },
        "servesLunch": {
          "description": "Output only. Specifies if the place serves lunch.",
          "type": "boolean",
          "readOnly": true
        },
        "plusCode": {
          "readOnly": true,
          "description": "Output only. Plus code of the place location lat/long.",
          "$ref": "GoogleMapsPlacesV1PlacePlusCode"
        },
        "types": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. A set of type tags for this result. For example, \"political\" and \"locality\".",
          "items": {
            "type": "string"
          }
        },
        "servesDinner": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Specifies if the place serves dinner."
        },
        "dineIn": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Specifies if the business supports indoor or outdoor seating options."
        },
        "wheelchairAccessibleEntrance": {
          "description": "Output only. Specifies if the place has an entrance that is wheelchair-accessible.",
          "readOnly": true,
          "type": "boolean"
        },
        "openingHours": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours",
          "description": "Output only. The regular hours of operation.",
          "readOnly": true
        },
        "currentOpeningHours": {
          "readOnly": true,
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours",
          "description": "Output only. The hours of operation for the next seven days (including today). The time period starts at midnight on the date of the request and ends at 11:59 pm six days later. This field includes the special_days subfield of all hours, set for dates that have exceptional hours."
        },
        "editorialSummary": {
          "description": "Output only. Contains a summary of the place. A summary is comprised of a textual overview, and also includes the language code for these if applicable. Summary text must be presented as-is and can not be modified or altered.",
          "readOnly": true,
          "$ref": "GoogleTypeLocalizedText"
        },
        "id": {
          "type": "string",
          "description": "Output only. The unique identifier of a place.",
          "readOnly": true
        },
        "utcOffsetMinutes": {
          "readOnly": true,
          "description": "Output only. Number of minutes this place's timezone is currently offset from UTC. This is expressed in minutes to support timezones that are offset by fractions of an hour, e.g. X hours and 15 minutes.",
          "type": "integer",
          "format": "int32"
        },
        "formattedAddress": {
          "description": "Output only. A full, human-readable address for this place.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "readOnly": true,
          "$ref": "GoogleTypeLatLng",
          "description": "Output only. The position of this place."
        },
        "servesBreakfast": {
          "description": "Output only. Specifies if the place serves breakfast.",
          "readOnly": true,
          "type": "boolean"
        },
        "delivery": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Specifies if the business supports delivery."
        },
        "reservable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Specifies if the place supports reservations."
        },
        "curbsidePickup": {
          "description": "Output only. Specifies if the business supports curbside pickup.",
          "readOnly": true,
          "type": "boolean"
        },
        "businessStatus": {
          "description": "Output only. The business status for the place.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The establishment is operational, not necessarily open now.",
            "The establishment is temporarily closed.",
            "The establishment is permanently closed."
          ],
          "enum": [
            "BUSINESS_STATUS_UNSPECIFIED",
            "OPERATIONAL",
            "CLOSED_TEMPORARILY",
            "CLOSED_PERMANENTLY"
          ],
          "readOnly": true,
          "type": "string"
        },
        "rating": {
          "description": "Output only. A rating between 1.0 and 5.0, based on user reviews of this place.",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "servesBrunch": {
          "readOnly": true,
          "description": "Output only. Specifies if the place serves brunch.",
          "type": "boolean"
        },
        "servesBeer": {
          "type": "boolean",
          "description": "Output only. Specifies if the place serves beer.",
          "readOnly": true
        },
        "servesWine": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Specifies if the place serves wine."
        },
        "googleMapsUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A URL providing more information about this place."
        },
        "iconMaskBaseUri": {
          "description": "Output only. A truncated URL to an v2 icon mask. User can access different icon type by appending type suffix to the end (eg, \".svg\" or \".png\").",
          "type": "string",
          "readOnly": true
        },
        "reviews": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          },
          "description": "Output only. List of reviews about this place."
        },
        "internationalPhoneNumber": {
          "readOnly": true,
          "description": "Output only. A human-readable phone number for the place, in international format.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1PlaceAddressComponent": {
      "description": "The structured components that form the formatted address, if this information is available.",
      "id": "GoogleMapsPlacesV1PlaceAddressComponent",
      "properties": {
        "shortText": {
          "readOnly": true,
          "description": "Output only. An abbreviated textual name for the address component, if available. For example, an address component for the country of Australia may have a short_name of \"AU\".",
          "type": "string"
        },
        "languageCode": {
          "description": "Output only. The language used to format this components, in CLDR notation.",
          "type": "string",
          "readOnly": true
        },
        "types": {
          "items": {
            "type": "string"
          },
          "description": "Output only. An array indicating the type(s) of the address component.",
          "readOnly": true,
          "type": "array"
        },
        "longText": {
          "description": "Output only. The full text description or name of the address component. For example, an address component for the country Australia may have a long_name of \"Australia\".",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1Review": {
      "description": "Information about a review of a place.",
      "id": "GoogleMapsPlacesV1Review",
      "properties": {
        "text": {
          "description": "Output only. The localized text of the review.",
          "$ref": "GoogleTypeLocalizedText",
          "readOnly": true
        },
        "publishTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp for the review."
        },
        "authorAttribution": {
          "description": "Output only. This review's author.",
          "$ref": "GoogleMapsPlacesV1AuthorAttribution",
          "readOnly": true
        },
        "rating": {
          "format": "double",
          "readOnly": true,
          "description": "Output only. A number between 1.0 and 5.0, a.k.a. the number of stars.",
          "type": "number"
        },
        "originalText": {
          "readOnly": true,
          "description": "Output only. The review text in its original language.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "relativePublishTimeDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A string of formatted recent time, expressing the review time relative to the current time in a form appropriate for the language and country."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationRestriction": {
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
      "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned.",
      "properties": {
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A rectangle box defined by northeast and southwest corner."
        }
      }
    },
    "GoogleMapsPlacesV1SearchTextResponse": {
      "properties": {
        "places": {
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "description": "A list of places that meet the user's text search criteria.",
          "type": "array"
        }
      },
      "description": "Response proto for SearchText. ",
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextResponse"
    },
    "GoogleMapsPlacesV1PlacePlusCode": {
      "description": "Plus code (http://plus.codes) is a location reference with two formats: global code defining a 14mx14m (1/8000th of a degree) or smaller rectangle, and compound code, replacing the prefix with a reference location.",
      "properties": {
        "globalCode": {
          "description": "Output only. Place's global (full) code, such as \"9FWM33GV+HQ\", representing an 1/8000 by 1/8000 degree area (~14 by 14 meters).",
          "readOnly": true,
          "type": "string"
        },
        "compoundCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Place's compound code, such as \"33GV+HQ, Ramberg, Norway\", containing the suffix of the global code and replacing the prefix with a formatted name of a reference entity."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlacePlusCode"
    },
    "GoogleMapsPlacesV1PlaceAttribution": {
      "description": "Information about data providers of this place.",
      "properties": {
        "provider": {
          "description": "Output only. Name of the Place's data provider.",
          "readOnly": true,
          "type": "string"
        },
        "providerUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI to the Place's data provider."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceAttribution"
    },
    "GoogleMapsPlacesV1PlaceOpeningHours": {
      "type": "object",
      "description": "Information about business hour of the place.",
      "properties": {
        "secondaryHoursType": {
          "enumDescriptions": [
            "Default value when secondary hour type is not specified.",
            "The drive-through hour for banks, restaurants, or pharmacies.",
            "The happy hour.",
            "The delivery hour.",
            "The takeout hour.",
            "The kitchen hour.",
            "The breakfast hour.",
            "The lunch hour.",
            "The dinner hour.",
            "The brunch hour.",
            "The pickup hour.",
            "The access hours for storage places.",
            "The special hours for seniors.",
            "The online service hours."
          ],
          "type": "string",
          "description": "Output only. A type string used to identify the type of secondary hours.",
          "enum": [
            "SECONDARY_HOURS_TYPE_UNSPECIFIED",
            "DRIVE_THROUGH",
            "HAPPY_HOUR",
            "DELIVERY",
            "TAKEOUT",
            "KITCHEN",
            "BREAKFAST",
            "LUNCH",
            "DINNER",
            "BRUNCH",
            "PICKUP",
            "ACCESS",
            "SENIOR_HOURS",
            "ONLINE_SERVICE_HOURS"
          ],
          "readOnly": true
        },
        "openNow": {
          "readOnly": true,
          "description": "Output only. Is this place open right now? Always present unless we lack time-of-day or timezone data for these opening hours.",
          "type": "boolean"
        },
        "periods": {
          "description": "Output only. The periods that this place is open during the week. The periods are in chronological order, starting with Sunday in the place-local timezone. An empty (but not absent) value indicates a place that is never open, e.g. because it is closed temporarily for renovations.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod"
          },
          "readOnly": true
        },
        "specialDays": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day. Set for current_opening_hours and current_secondary_opening_hours if there are exceptional hours.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay"
          }
        },
        "weekdayDescriptions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Localized strings describing the opening hours of this place, one string for each day of the week. Will be empty if the hours are unknown or could not be converted to localized text. Example: \"Sun: 18:00–06:00\"",
          "readOnly": true
        }
      },
      "id": "GoogleMapsPlacesV1PlaceOpeningHours"
    },
    "GoogleTypeLatLng": {
      "properties": {
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        },
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleTypeLatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint": {
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
      "type": "object",
      "description": "Status changing points.",
      "properties": {
        "minute": {
          "description": "Output only. The minute in 2 digits. Ranges from 00 to 59.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "date": {
          "description": "Output only. Date in the local timezone for the place.",
          "$ref": "GoogleTypeDate",
          "readOnly": true
        },
        "truncated": {
          "readOnly": true,
          "description": "Output only. Whether or not this endpoint was truncated. Truncation occurs when the real hours are outside the times we are willing to return hours between, so we truncate the hours back to these boundaries. This ensures that at most 24 * 7 hours from midnight of the day of the request are returned.",
          "type": "boolean"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. A day of the week, as an integer in the range 0-6. 0 is Sunday, 1 is Monday, etc.",
          "readOnly": true
        },
        "hour": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The hour in 2 digits. Ranges from 00 to 23.",
          "format": "int32"
        }
      }
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay": {
      "properties": {
        "date": {
          "readOnly": true,
          "$ref": "GoogleTypeDate",
          "description": "Output only. The date of this special day."
        }
      },
      "type": "object",
      "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day.",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay"
    },
    "GoogleMapsPlacesV1AuthorAttribution": {
      "id": "GoogleMapsPlacesV1AuthorAttribution",
      "properties": {
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of the author of the Photo or Review."
        },
        "photoUri": {
          "description": "Output only. Profile photo URI of the author of the Photo or Review.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Name of the author of the Photo or Review.",
          "type": "string"
        }
      },
      "description": "Information about the author of the UGC data. Used in Photo, and Review.",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequest": {
      "properties": {
        "rankPreference": {
          "enumDescriptions": [
            "RankPreference value not set. Will default to DISTANCE.",
            "Ranks results by distance.",
            "Ranks results by relevance. Sort order determined by normal ranking stack. See SortRefinement::RELEVANCE."
          ],
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "RELEVANCE"
          ],
          "type": "string",
          "description": "How results will be ranked in the response."
        },
        "regionCode": {
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see http://www.unicode.org/reports/tr35/#unicode_region_subtag. Note that 3-digit region codes are not currently supported.",
          "type": "string"
        },
        "maxResultCount": {
          "description": "Maximum number of results to return. It must be between 1 and 20, inclusively. If the number is unset, it falls back to the upper limit. If the number is set to negative or exceeds the upper limit, an INVALID_ARGUMENT error is returned.",
          "type": "integer",
          "format": "int32"
        },
        "strictTypeFiltering": {
          "type": "boolean",
          "description": "Used to set strict type filtering for included_type. If set to true, only results of the same type will be returned. Default to false."
        },
        "priceLevels": {
          "description": "Used to restrict the search to places that are marked as certain price levels. Users can choose any combinations of price levels. Default to select all price levels.",
          "items": {
            "enumDescriptions": [
              "Place price level is unspecified or unknown.",
              "Place provides free services.",
              "Place provides inexpensive services.",
              "Place provides moderately priced services.",
              "Place provides expensive services.",
              "Place provides very expensive services."
            ],
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "includedType": {
          "description": "The requested place type. Full list of types supported: https://developers.google.com/places/supported_types. Only support one included type.",
          "type": "string"
        },
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
          "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned. Cannot be set along with location_bias."
        },
        "openNow": {
          "type": "boolean",
          "description": "Used to restrict the search to places that are open at a specific time. open_now marks if a business is currently open."
        },
        "locationBias": {
          "description": "The region to search. This location serves as a bias which means results around given location might be returned. Cannot be set along with location_restriction.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationBias"
        },
        "languageCode": {
          "type": "string",
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport."
        },
        "minRating": {
          "description": "Filter out results whose average user rating is strictly less than this limit. A valid value must be an float between 0 and 5 (inclusively) at a 0.5 cadence i.e. [0, 0.5, 1.0, ... , 5.0] inclusively. This is to keep parity with LocalRefinement_UserRating. The input rating will round up to the nearest 0.5(ceiling). For instance, a rating of 0.6 will eliminate all results with a less than 1.0 rating.",
          "type": "number",
          "format": "double"
        },
        "textQuery": {
          "type": "string",
          "description": "Required. The text query for textual search."
        }
      },
      "description": "Request proto for SearchText. ",
      "id": "GoogleMapsPlacesV1SearchTextRequest",
      "type": "object"
    },
    "GoogleMapsPlacesV1Circle": {
      "properties": {
        "radius": {
          "type": "number",
          "format": "double",
          "description": "Required. Radius measured in meters. The radius must be within [0.0, 50000.0]."
        },
        "center": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. Center latitude and longitude. The range of latitude must be within [-90.0, 90.0]. The range of the longitude must be within [-180.0, 180.0]."
        }
      },
      "type": "object",
      "description": "Circle with a LatLng as center and radius.",
      "id": "GoogleMapsPlacesV1Circle"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriod": {
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod",
      "type": "object",
      "description": "A period the place remains in open_now status.",
      "properties": {
        "open": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
          "description": "Output only. The time that the place starts to be open.",
          "readOnly": true
        },
        "close": {
          "description": "Output only. The time that the place starts to be closed.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
          "readOnly": true
        }
      }
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "type": "object"
    }
  },
  "baseUrl": "https://places.googleapis.com/"
}
