{
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    }
  },
  "description": "",
  "servicePath": "",
  "batchPath": "batch",
  "canonicalName": "Maps Places",
  "name": "places",
  "id": "places:v1",
  "baseUrl": "https://places.googleapis.com/",
  "mtlsRootUrl": "https://places.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://mapsplatform.google.com/maps-products/#places-section",
  "discoveryVersion": "v1",
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/maps-platform.places.textsearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.textsearch"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/maps-platform.places": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places"
        },
        "https://www.googleapis.com/auth/maps-platform.places.details": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.details"
        },
        "https://www.googleapis.com/auth/maps-platform.places.nearbysearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.nearbysearch"
        }
      }
    }
  },
  "revision": "20240114",
  "rootUrl": "https://places.googleapis.com/",
  "schemas": {
    "GoogleMapsPlacesV1PlaceParkingOptions": {
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceParkingOptions",
      "description": "Information about parking options for the place. A parking lot could support more than one option at the same time.",
      "properties": {
        "freeGarageParking": {
          "description": "Place offers free garage parking.",
          "type": "boolean"
        },
        "freeStreetParking": {
          "description": "Place offers free street parking.",
          "type": "boolean"
        },
        "valetParking": {
          "description": "Place offers valet parking.",
          "type": "boolean"
        },
        "paidStreetParking": {
          "type": "boolean",
          "description": "Place offers paid street parking."
        },
        "freeParkingLot": {
          "description": "Place offers free parking lots.",
          "type": "boolean"
        },
        "paidParkingLot": {
          "description": "Place offers paid parking lots.",
          "type": "boolean"
        },
        "paidGarageParking": {
          "type": "boolean",
          "description": "Place offers paid garage parking."
        }
      }
    },
    "GoogleMapsPlacesV1PlacePaymentOptions": {
      "properties": {
        "acceptsCreditCards": {
          "description": "Place accepts credit cards as payment.",
          "type": "boolean"
        },
        "acceptsNfc": {
          "type": "boolean",
          "description": "Place accepts NFC payments."
        },
        "acceptsCashOnly": {
          "type": "boolean",
          "description": "Place accepts cash only as payment. Places with this attribute may still accept other payment methods."
        },
        "acceptsDebitCards": {
          "type": "boolean",
          "description": "Place accepts debit cards as payment."
        }
      },
      "type": "object",
      "description": "Payment options the place accepts.",
      "id": "GoogleMapsPlacesV1PlacePaymentOptions"
    },
    "GoogleMapsPlacesV1SearchNearbyResponse": {
      "type": "object",
      "properties": {
        "places": {
          "description": "A list of places that meets user's requirements like places types, number of places and specific location restriction.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "type": "array"
        }
      },
      "description": "Response proto for Search Nearby. ",
      "id": "GoogleMapsPlacesV1SearchNearbyResponse"
    },
    "GoogleTypeLocalizedText": {
      "description": "Localized variant of a text in a particular language.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Localized string in the language corresponding to language_code below.",
          "type": "string"
        },
        "languageCode": {
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      },
      "id": "GoogleTypeLocalizedText"
    },
    "GoogleMapsPlacesV1AuthorAttribution": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI of the author of the Photo or Review."
        },
        "photoUri": {
          "type": "string",
          "description": "Profile photo URI of the author of the Photo or Review."
        },
        "displayName": {
          "type": "string",
          "description": "Name of the author of the Photo or Review."
        }
      },
      "description": "Information about the author of the UGC data. Used in Photo, and Review.",
      "type": "object",
      "id": "GoogleMapsPlacesV1AuthorAttribution"
    },
    "GoogleMapsPlacesV1SearchTextRequest": {
      "description": "Request proto for SearchText. ",
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextRequest",
      "properties": {
        "maxResultCount": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of results to return. It must be between 1 and 20, inclusively. The default is 20. If the number is unset, it falls back to the upper limit. If the number is set to negative or exceeds the upper limit, an INVALID_ARGUMENT error is returned."
        },
        "priceLevels": {
          "items": {
            "enumDescriptions": [
              "Place price level is unspecified or unknown.",
              "Place provides free services.",
              "Place provides inexpensive services.",
              "Place provides moderately priced services.",
              "Place provides expensive services.",
              "Place provides very expensive service s."
            ],
            "type": "string",
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ]
          },
          "type": "array",
          "description": "Used to restrict the search to places that are marked as certain price levels. Users can choose any combinations of price levels. Default to select all price levels."
        },
        "textQuery": {
          "description": "Required. The text query for textual search.",
          "type": "string"
        },
        "regionCode": {
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported.",
          "type": "string"
        },
        "minRating": {
          "description": "Filter out results whose average user rating is strictly less than this limit. A valid value must be a float between 0 and 5 (inclusively) at a 0.5 cadence i.e. [0, 0.5, 1.0, ... , 5.0] inclusively. The input rating will round up to the nearest 0.5(ceiling). For instance, a rating of 0.6 will eliminate all results with a less than 1.0 rating.",
          "format": "double",
          "type": "number"
        },
        "languageCode": {
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport.",
          "type": "string"
        },
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
          "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned. Cannot be set along with location_bias."
        },
        "strictTypeFiltering": {
          "type": "boolean",
          "description": "Used to set strict type filtering for included_type. If set to true, only results of the same type will be returned. Default to false."
        },
        "includedType": {
          "type": "string",
          "description": "The requested place type. Full list of types supported: https://developers.google.com/maps/documentation/places/web-service/place-types. Only support one included type."
        },
        "rankPreference": {
          "enumDescriptions": [
            "RankPreference value not set. Will default to DISTANCE.",
            "Ranks results by distance.",
            "Ranks results by relevance. Sort order determined by normal ranking stack."
          ],
          "description": "How results will be ranked in the response.",
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "RELEVANCE"
          ],
          "type": "string"
        },
        "openNow": {
          "type": "boolean",
          "description": "Used to restrict the search to places that are currently open. The default is false."
        },
        "locationBias": {
          "description": "The region to search. This location serves as a bias which means results around given location might be returned. Cannot be set along with location_restriction.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationBias"
        }
      }
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriod": {
      "properties": {
        "close": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
          "description": "The time that the place starts to be closed."
        },
        "open": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
          "description": "The time that the place starts to be open."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod",
      "description": "A period the place remains in open_now status."
    },
    "GoogleMapsPlacesV1Place": {
      "id": "GoogleMapsPlacesV1Place",
      "properties": {
        "accessibilityOptions": {
          "description": "Information about the accessibility options a place offers.",
          "$ref": "GoogleMapsPlacesV1PlaceAccessibilityOptions"
        },
        "primaryTypeDisplayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The display name of the primary type, localized to the request language if applicable. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types"
        },
        "paymentOptions": {
          "$ref": "GoogleMapsPlacesV1PlacePaymentOptions",
          "description": "Payment options the place accepts. If a payment option data is not available, the payment option field will be unset."
        },
        "parkingOptions": {
          "description": "Options of parking provided by the place.",
          "$ref": "GoogleMapsPlacesV1PlaceParkingOptions"
        },
        "servesCocktails": {
          "type": "boolean",
          "description": "Place serves cocktails."
        },
        "goodForGroups": {
          "description": "Place accommodates groups.",
          "type": "boolean"
        },
        "delivery": {
          "description": "Specifies if the business supports delivery.",
          "type": "boolean"
        },
        "fuelOptions": {
          "description": "The most recent information about fuel options in a gas station. This information is updated regularly.",
          "$ref": "GoogleMapsPlacesV1FuelOptions"
        },
        "userRatingCount": {
          "description": "The total number of reviews (with or without text) for this place.",
          "type": "integer",
          "format": "int32"
        },
        "liveMusic": {
          "description": "Place provides live music.",
          "type": "boolean"
        },
        "menuForChildren": {
          "type": "boolean",
          "description": "Place has a children's menu."
        },
        "iconMaskBaseUri": {
          "type": "string",
          "description": "A truncated URL to an icon mask. User can access different icon type by appending type suffix to the end (eg, \".svg\" or \".png\")."
        },
        "addressComponents": {
          "description": "Repeated components for each locality level. Note the following facts about the address_components[] array: - The array of address components may contain more components than the formatted_address. - The array does not necessarily include all the political entities that contain an address, apart from those included in the formatted_address. To retrieve all the political entities that contain a specific address, you should use reverse geocoding, passing the latitude/longitude of the address as a parameter to the request. - The format of the response is not guaranteed to remain the same between requests. In particular, the number of address_components varies based on the address requested and can change over time for the same address. A component can change position in the array. The type of the component can change. A particular component may be missing in a later response.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAddressComponent"
          }
        },
        "formattedAddress": {
          "type": "string",
          "description": "A full, human-readable address for this place."
        },
        "curbsidePickup": {
          "type": "boolean",
          "description": "Specifies if the business supports curbside pickup."
        },
        "goodForChildren": {
          "description": "Place is good for children.",
          "type": "boolean"
        },
        "servesVegetarianFood": {
          "type": "boolean",
          "description": "Specifies if the place serves vegetarian food."
        },
        "plusCode": {
          "$ref": "GoogleMapsPlacesV1PlacePlusCode",
          "description": "Plus code of the place location lat/long."
        },
        "primaryType": {
          "type": "string",
          "description": "The primary type of the given result. This type must one of the Places API supported types. For example, \"restaurant\", \"cafe\", \"airport\", etc. A place can only have a single primary type. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types"
        },
        "currentOpeningHours": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours",
          "description": "The hours of operation for the next seven days (including today). The time period starts at midnight on the date of the request and ends at 11:59 pm six days later. This field includes the special_days subfield of all hours, set for dates that have exceptional hours."
        },
        "businessStatus": {
          "enum": [
            "BUSINESS_STATUS_UNSPECIFIED",
            "OPERATIONAL",
            "CLOSED_TEMPORARILY",
            "CLOSED_PERMANENTLY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The establishment is operational, not necessarily open now.",
            "The establishment is temporarily closed.",
            "The establishment is permanently closed."
          ],
          "type": "string",
          "description": "The business status for the place."
        },
        "editorialSummary": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "Contains a summary of the place. A summary is comprised of a textual overview, and also includes the language code for these if applicable. Summary text must be presented as-is and can not be modified or altered."
        },
        "servesBeer": {
          "type": "boolean",
          "description": "Specifies if the place serves beer."
        },
        "servesCoffee": {
          "description": "Place serves coffee.",
          "type": "boolean"
        },
        "restroom": {
          "description": "Place has restroom.",
          "type": "boolean"
        },
        "rating": {
          "type": "number",
          "description": "A rating between 1.0 and 5.0, based on user reviews of this place.",
          "format": "double"
        },
        "adrFormatAddress": {
          "description": "The place's address in adr microformat: http://microformats.org/wiki/adr.",
          "type": "string"
        },
        "outdoorSeating": {
          "type": "boolean",
          "description": "Place provides outdoor seating."
        },
        "evChargeOptions": {
          "$ref": "GoogleMapsPlacesV1EVChargeOptions",
          "description": "Information of ev charging options."
        },
        "servesBrunch": {
          "type": "boolean",
          "description": "Specifies if the place serves brunch."
        },
        "regularOpeningHours": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours",
          "description": "The regular hours of operation."
        },
        "reviews": {
          "description": "List of reviews about this place, sorted by relevance.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          },
          "type": "array"
        },
        "servesLunch": {
          "type": "boolean",
          "description": "Specifies if the place serves lunch."
        },
        "priceLevel": {
          "enum": [
            "PRICE_LEVEL_UNSPECIFIED",
            "PRICE_LEVEL_FREE",
            "PRICE_LEVEL_INEXPENSIVE",
            "PRICE_LEVEL_MODERATE",
            "PRICE_LEVEL_EXPENSIVE",
            "PRICE_LEVEL_VERY_EXPENSIVE"
          ],
          "enumDescriptions": [
            "Place price level is unspecified or unknown.",
            "Place provides free services.",
            "Place provides inexpensive services.",
            "Place provides moderately priced services.",
            "Place provides expensive services.",
            "Place provides very expensive service s."
          ],
          "description": "Price level of the place.",
          "type": "string"
        },
        "internationalPhoneNumber": {
          "description": "A human-readable phone number for the place, in international format.",
          "type": "string"
        },
        "goodForWatchingSports": {
          "description": "Place is suitable for watching sports.",
          "type": "boolean"
        },
        "viewport": {
          "description": "A viewport suitable for displaying the place on an average-sized map.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "servesWine": {
          "type": "boolean",
          "description": "Specifies if the place serves wine."
        },
        "servesDinner": {
          "description": "Specifies if the place serves dinner.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The localized name of the place, suitable as a short human-readable description. For example, \"Google Sydney\", \"Starbucks\", \"Pyrmont\", etc.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "subDestinations": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceSubDestination"
          },
          "type": "array",
          "description": "A list of sub destinations related to the place."
        },
        "attributions": {
          "type": "array",
          "description": "A set of data provider that must be shown with this result.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAttribution"
          }
        },
        "dineIn": {
          "type": "boolean",
          "description": "Specifies if the business supports indoor or outdoor seating options."
        },
        "shortFormattedAddress": {
          "type": "string",
          "description": "A short, human-readable address for this place."
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of a place."
        },
        "utcOffsetMinutes": {
          "description": "Number of minutes this place's timezone is currently offset from UTC. This is expressed in minutes to support timezones that are offset by fractions of an hour, e.g. X hours and 15 minutes.",
          "format": "int32",
          "type": "integer"
        },
        "nationalPhoneNumber": {
          "type": "string",
          "description": "A human-readable phone number for the place, in national format."
        },
        "photos": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1Photo"
          },
          "description": "Information (including references) about photos of this place."
        },
        "types": {
          "description": "A set of type tags for this result. For example, \"political\" and \"locality\". For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "websiteUri": {
          "description": "The authoritative website for this place, e.g. a business' homepage. Note that for places that are part of a chain (e.g. an IKEA store), this will usually be the website for the individual store, not the overall chain.",
          "type": "string"
        },
        "reservable": {
          "description": "Specifies if the place supports reservations.",
          "type": "boolean"
        },
        "takeout": {
          "description": "Specifies if the business supports takeout.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "This Place's resource name, in `places/{place_id}` format. Can be used to look up the Place."
        },
        "allowsDogs": {
          "type": "boolean",
          "description": "Place allows dogs."
        },
        "servesDessert": {
          "type": "boolean",
          "description": "Place serves dessert."
        },
        "googleMapsUri": {
          "description": "A URL providing more information about this place.",
          "type": "string"
        },
        "location": {
          "$ref": "GoogleTypeLatLng",
          "description": "The position of this place."
        },
        "servesBreakfast": {
          "description": "Specifies if the place serves breakfast.",
          "type": "boolean"
        },
        "regularSecondaryOpeningHours": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          },
          "description": "Contains an array of entries for information about regular secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place.",
          "type": "array"
        },
        "currentSecondaryOpeningHours": {
          "description": "Contains an array of entries for the next seven days including information about secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          }
        },
        "iconBackgroundColor": {
          "description": "Background color for icon_mask in hex format, e.g. #909CE1.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "All the information representing a Place."
    },
    "GoogleMapsPlacesV1SearchNearbyRequest": {
      "type": "object",
      "description": "Request proto for Search Nearby. ",
      "id": "GoogleMapsPlacesV1SearchNearbyRequest",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported."
        },
        "rankPreference": {
          "enumDescriptions": [
            "RankPreference value not set. Will use rank by POPULARITY by default.",
            "Ranks results by distance.",
            "Ranks results by popularity."
          ],
          "description": "How results will be ranked in the response.",
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "POPULARITY"
          ],
          "type": "string"
        },
        "maxResultCount": {
          "type": "integer",
          "description": "Maximum number of results to return. It must be between 1 and 20 (default), inclusively. If the number is unset, it falls back to the upper limit. If the number is set to negative or exceeds the upper limit, an INVALID_ARGUMENT error is returned.",
          "format": "int32"
        },
        "excludedPrimaryTypes": {
          "description": "Excluded primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "includedTypes": {
          "description": "Included Place type (eg, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting types, i.e. a type appears in both included_types and excluded_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport.",
          "type": "string"
        },
        "excludedTypes": {
          "items": {
            "type": "string"
          },
          "description": "Excluded Place type (eg, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If the client provides both included_types (e.g. restaurant) and excluded_types (e.g. cafe), then the response should include places that are restaurant but not cafe. The response includes places that match at least one of the included_types and none of the excluded_types. If there are any conflicting types, i.e. a type appears in both included_types and excluded_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "type": "array"
        },
        "includedPrimaryTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Included primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. A place can only have a single primary type from the supported types table associated with it. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\"."
        },
        "locationRestriction": {
          "description": "Required. The region to search.",
          "$ref": "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction"
        }
      }
    },
    "GoogleMapsPlacesV1SearchTextResponse": {
      "id": "GoogleMapsPlacesV1SearchTextResponse",
      "properties": {
        "places": {
          "description": "A list of places that meet the user's text search criteria.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "type": "array"
        }
      },
      "description": "Response proto for SearchText. ",
      "type": "object"
    },
    "GoogleMapsPlacesV1Photo": {
      "type": "object",
      "id": "GoogleMapsPlacesV1Photo",
      "properties": {
        "widthPx": {
          "format": "int32",
          "description": "The maximum available width, in pixels.",
          "type": "integer"
        },
        "heightPx": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum available height, in pixels."
        },
        "authorAttributions": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1AuthorAttribution"
          },
          "description": "This photo's authors."
        },
        "name": {
          "description": "Identifier. A reference representing this place photo which may be used to look up this place photo again (also called the API \"resource\" name: `places/{place_id}/photos/{photo}`).",
          "type": "string"
        }
      },
      "description": "Information about a photo of a place."
    },
    "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation": {
      "properties": {
        "type": {
          "enum": [
            "EV_CONNECTOR_TYPE_UNSPECIFIED",
            "EV_CONNECTOR_TYPE_OTHER",
            "EV_CONNECTOR_TYPE_J1772",
            "EV_CONNECTOR_TYPE_TYPE_2",
            "EV_CONNECTOR_TYPE_CHADEMO",
            "EV_CONNECTOR_TYPE_CCS_COMBO_1",
            "EV_CONNECTOR_TYPE_CCS_COMBO_2",
            "EV_CONNECTOR_TYPE_TESLA",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified connector.",
            "Other connector types.",
            "J1772 type 1 connector.",
            "IEC 62196 type 2 connector. Often referred to as MENNEKES.",
            "CHAdeMO type connector.",
            "Combined Charging System (AC and DC). Based on SAE. Type-1 J-1772 connector",
            "Combined Charging System (AC and DC). Based on Type-2 Mennekes connector",
            "The generic TESLA connector. This is NACS in the North America but can be non-NACS in other parts of the world (e.g. CCS Combo 2 (CCS2) or GB/T). This value is less representative of an actual connector type, and more represents the ability to charge a Tesla brand vehicle at a Tesla owned charging station.",
            "GB/T type corresponds to the GB/T standard in China. This type covers all GB_T types.",
            "Unspecified wall outlet."
          ],
          "description": "The connector type of this aggregation."
        },
        "outOfServiceCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of connectors in this aggregation that are currently out of service."
        },
        "availabilityLastUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the connector availability information in this aggregation was last updated."
        },
        "count": {
          "type": "integer",
          "description": "Number of connectors in this aggregation.",
          "format": "int32"
        },
        "maxChargeRateKw": {
          "format": "double",
          "description": "The static max charging rate in kw of each connector in the aggregation.",
          "type": "number"
        },
        "availableCount": {
          "description": "Number of connectors in this aggregation that are currently available.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "EV charging information grouped by [type, max_charge_rate_kw]. Shows EV charge aggregation of connectors that have the same type and max charge rate in kw.",
      "id": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceAddressComponent": {
      "description": "The structured components that form the formatted address, if this information is available.",
      "id": "GoogleMapsPlacesV1PlaceAddressComponent",
      "type": "object",
      "properties": {
        "shortText": {
          "type": "string",
          "description": "An abbreviated textual name for the address component, if available. For example, an address component for the country of Australia may have a short_name of \"AU\"."
        },
        "longText": {
          "description": "The full text description or name of the address component. For example, an address component for the country Australia may have a long_name of \"Australia\".",
          "type": "string"
        },
        "types": {
          "description": "An array indicating the type(s) of the address component.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "languageCode": {
          "description": "The language used to format this components, in CLDR notation.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1Review": {
      "type": "object",
      "properties": {
        "publishTime": {
          "description": "Timestamp for the review.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "A reference representing this place review which may be used to look up this place review again (also called the API \"resource\" name: `places/{place_id}/reviews/{review}`).",
          "type": "string"
        },
        "authorAttribution": {
          "$ref": "GoogleMapsPlacesV1AuthorAttribution",
          "description": "This review's author."
        },
        "relativePublishTimeDescription": {
          "type": "string",
          "description": "A string of formatted recent time, expressing the review time relative to the current time in a form appropriate for the language and country."
        },
        "originalText": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The review text in its original language."
        },
        "text": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The localized text of the review."
        },
        "rating": {
          "description": "A number between 1.0 and 5.0, also called the number of stars.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleMapsPlacesV1Review",
      "description": "Information about a review of a place."
    },
    "GoogleMapsPlacesV1PlaceOpeningHours": {
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceOpeningHours",
      "properties": {
        "openNow": {
          "description": "Is this place open right now? Always present unless we lack time-of-day or timezone data for these opening hours.",
          "type": "boolean"
        },
        "secondaryHoursType": {
          "type": "string",
          "enum": [
            "SECONDARY_HOURS_TYPE_UNSPECIFIED",
            "DRIVE_THROUGH",
            "HAPPY_HOUR",
            "DELIVERY",
            "TAKEOUT",
            "KITCHEN",
            "BREAKFAST",
            "LUNCH",
            "DINNER",
            "BRUNCH",
            "PICKUP",
            "ACCESS",
            "SENIOR_HOURS",
            "ONLINE_SERVICE_HOURS"
          ],
          "description": "A type string used to identify the type of secondary hours.",
          "enumDescriptions": [
            "Default value when secondary hour type is not specified.",
            "The drive-through hour for banks, restaurants, or pharmacies.",
            "The happy hour.",
            "The delivery hour.",
            "The takeout hour.",
            "The kitchen hour.",
            "The breakfast hour.",
            "The lunch hour.",
            "The dinner hour.",
            "The brunch hour.",
            "The pickup hour.",
            "The access hours for storage places.",
            "The special hours for seniors.",
            "The online service hours."
          ]
        },
        "specialDays": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay"
          },
          "type": "array",
          "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day. Set for current_opening_hours and current_secondary_opening_hours if there are exceptional hours."
        },
        "weekdayDescriptions": {
          "items": {
            "type": "string"
          },
          "description": "Localized strings describing the opening hours of this place, one string for each day of the week. Will be empty if the hours are unknown or could not be converted to localized text. Example: \"Sun: 18:00–06:00\"",
          "type": "array"
        },
        "periods": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod"
          },
          "type": "array",
          "description": "The periods that this place is open during the week. The periods are in chronological order, starting with Sunday in the place-local timezone. An empty (but not absent) value indicates a place that is never open, e.g. because it is closed temporarily for renovations."
        }
      },
      "description": "Information about business hour of the place."
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationRestriction": {
      "properties": {
        "rectangle": {
          "description": "A rectangle box defined by northeast and southwest corner. `rectangle.high()` must be the northeast point of the rectangle viewport. `rectangle.low()` must be the southwest point of the rectangle viewport. `rectangle.low().latitude()` cannot be greater than `rectangle.high().latitude()`. This will result in an empty latitude range. A rectangle viewport cannot be wider than 180 degrees.",
          "$ref": "GoogleGeoTypeViewport"
        }
      },
      "type": "object",
      "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned.",
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction"
    },
    "GoogleMapsPlacesV1PlaceSubDestination": {
      "id": "GoogleMapsPlacesV1PlaceSubDestination",
      "properties": {
        "id": {
          "type": "string",
          "description": "The place id of the sub destination."
        },
        "name": {
          "description": "The resource name of the sub destination.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Place resource name and id of sub destinations that relate to the place. For example, different terminals are different destinations of an airport."
    },
    "GoogleMapsPlacesV1PlacePlusCode": {
      "properties": {
        "compoundCode": {
          "description": "Place's compound code, such as \"33GV+HQ, Ramberg, Norway\", containing the suffix of the global code and replacing the prefix with a formatted name of a reference entity.",
          "type": "string"
        },
        "globalCode": {
          "description": "Place's global (full) code, such as \"9FWM33GV+HQ\", representing an 1/8000 by 1/8000 degree area (~14 by 14 meters).",
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1PlacePlusCode",
      "type": "object",
      "description": "Plus code (http://plus.codes) is a location reference with two formats: global code defining a 14mx14m (1/8000th of a degree) or smaller rectangle, and compound code, replacing the prefix with a reference location."
    },
    "GoogleMapsPlacesV1PlaceAttribution": {
      "description": "Information about data providers of this place.",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Name of the Place's data provider."
        },
        "providerUri": {
          "type": "string",
          "description": "URI to the Place's data provider."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceAttribution"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint": {
      "description": "Status changing points.",
      "properties": {
        "hour": {
          "format": "int32",
          "description": "The hour in 2 digits. Ranges from 00 to 23.",
          "type": "integer"
        },
        "minute": {
          "description": "The minute in 2 digits. Ranges from 00 to 59.",
          "type": "integer",
          "format": "int32"
        },
        "truncated": {
          "description": "Whether or not this endpoint was truncated. Truncation occurs when the real hours are outside the times we are willing to return hours between, so we truncate the hours back to these boundaries. This ensures that at most 24 * 7 hours from midnight of the day of the request are returned.",
          "type": "boolean"
        },
        "date": {
          "description": "Date in the local timezone for the place.",
          "$ref": "GoogleTypeDate"
        },
        "day": {
          "format": "int32",
          "description": "A day of the week, as an integer in the range 0-6. 0 is Sunday, 1 is Monday, etc.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
    },
    "GoogleMapsPlacesV1FuelOptions": {
      "type": "object",
      "id": "GoogleMapsPlacesV1FuelOptions",
      "properties": {
        "fuelPrices": {
          "items": {
            "$ref": "GoogleMapsPlacesV1FuelOptionsFuelPrice"
          },
          "description": "The last known fuel price for each type of fuel this station has. There is one entry per fuel type this station has. Order is not important.",
          "type": "array"
        }
      },
      "description": "The most recent information about fuel options in a gas station. This information is updated regularly."
    },
    "GoogleMapsPlacesV1PlaceAccessibilityOptions": {
      "id": "GoogleMapsPlacesV1PlaceAccessibilityOptions",
      "properties": {
        "wheelchairAccessibleRestroom": {
          "description": "Place has wheelchair accessible restroom.",
          "type": "boolean"
        },
        "wheelchairAccessibleParking": {
          "type": "boolean",
          "description": "Place offers wheelchair accessible parking."
        },
        "wheelchairAccessibleSeating": {
          "type": "boolean",
          "description": "Place has wheelchair accessible seating."
        },
        "wheelchairAccessibleEntrance": {
          "type": "boolean",
          "description": "Places has wheelchair accessible entrance."
        }
      },
      "type": "object",
      "description": "Information about the accessibility options a place offers."
    },
    "GoogleMapsPlacesV1FuelOptionsFuelPrice": {
      "id": "GoogleMapsPlacesV1FuelOptionsFuelPrice",
      "description": "Fuel price information for a given type.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified fuel type.",
            "Diesel fuel.",
            "Regular unleaded.",
            "Midgrade.",
            "Premium.",
            "SP 91.",
            "SP 91 E10.",
            "SP 92.",
            "SP 95.",
            "SP95 E10.",
            "SP 98.",
            "SP 99.",
            "SP 100.",
            "LPG.",
            "E 80.",
            "E 85.",
            "Methane.",
            "Bio-diesel.",
            "Truck diesel."
          ],
          "description": "The type of fuel.",
          "type": "string",
          "enum": [
            "FUEL_TYPE_UNSPECIFIED",
            "DIESEL",
            "REGULAR_UNLEADED",
            "MIDGRADE",
            "PREMIUM",
            "SP91",
            "SP91_E10",
            "SP92",
            "SP95",
            "SP95_E10",
            "SP98",
            "SP99",
            "SP100",
            "LPG",
            "E80",
            "E85",
            "METHANE",
            "BIO_DIESEL",
            "TRUCK_DIESEL"
          ]
        },
        "price": {
          "$ref": "GoogleTypeMoney",
          "description": "The price of the fuel."
        },
        "updateTime": {
          "type": "string",
          "description": "The time the fuel price was last updated.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction": {
      "description": "The region to search.",
      "properties": {
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by center point and radius."
        }
      },
      "id": "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay": {
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay",
      "properties": {
        "date": {
          "$ref": "GoogleTypeDate",
          "description": "The date of this special day."
        }
      },
      "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day.",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationBias": {
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationBias",
      "type": "object",
      "properties": {
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A rectangle box defined by northeast and southwest corner. `rectangle.high()` must be the northeast point of the rectangle viewport. `rectangle.low()` must be the southwest point of the rectangle viewport. `rectangle.low().latitude()` cannot be greater than `rectangle.high().latitude()`. This will result in an empty latitude range. A rectangle viewport cannot be wider than 180 degrees."
        },
        "circle": {
          "description": "A circle defined by center point and radius.",
          "$ref": "GoogleMapsPlacesV1Circle"
        }
      },
      "description": "The region to search. This location serves as a bias which means results around given location might be returned."
    },
    "GoogleGeoTypeViewport": {
      "description": "A latitude-longitude viewport, represented as two diagonally opposite `low` and `high` points. A viewport is considered a closed region, i.e. it includes its boundary. The latitude bounds must range between -90 to 90 degrees inclusive, and the longitude bounds must range between -180 to 180 degrees inclusive. Various cases include: - If `low` = `high`, the viewport consists of that single point. - If `low.longitude` \u003e `high.longitude`, the longitude range is inverted (the viewport crosses the 180 degree longitude line). - If `low.longitude` = -180 degrees and `high.longitude` = 180 degrees, the viewport includes all longitudes. - If `low.longitude` = 180 degrees and `high.longitude` = -180 degrees, the longitude range is empty. - If `low.latitude` \u003e `high.latitude`, the latitude range is empty. Both `low` and `high` must be populated, and the represented box cannot be empty (as specified by the definitions above). An empty viewport will result in an error. For example, this viewport fully encloses New York City: { \"low\": { \"latitude\": 40.477398, \"longitude\": -74.259087 }, \"high\": { \"latitude\": 40.91618, \"longitude\": -73.70018 } }",
      "id": "GoogleGeoTypeViewport",
      "type": "object",
      "properties": {
        "high": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. The high point of the viewport."
        },
        "low": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. The low point of the viewport."
        }
      }
    },
    "GoogleMapsPlacesV1Circle": {
      "properties": {
        "radius": {
          "format": "double",
          "description": "Required. Radius measured in meters. The radius must be within [0.0, 50000.0].",
          "type": "number"
        },
        "center": {
          "description": "Required. Center latitude and longitude. The range of latitude must be within [-90.0, 90.0]. The range of the longitude must be within [-180.0, 180.0].",
          "$ref": "GoogleTypeLatLng"
        }
      },
      "description": "Circle with a LatLng as center and radius.",
      "id": "GoogleMapsPlacesV1Circle",
      "type": "object"
    },
    "GoogleTypeLatLng": {
      "id": "GoogleTypeLatLng",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number"
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object"
    },
    "GoogleMapsPlacesV1PhotoMedia": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of a photo media in the format: `places/{place_id}/photos/{photo_reference}/media`."
        },
        "photoUri": {
          "type": "string",
          "description": "A short-lived uri that can be used to render the photo."
        }
      },
      "description": "A photo media from Places API.",
      "type": "object",
      "id": "GoogleMapsPlacesV1PhotoMedia"
    },
    "GoogleTypeMoney": {
      "type": "object",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "id": "GoogleTypeMoney"
    },
    "GoogleMapsPlacesV1EVChargeOptions": {
      "id": "GoogleMapsPlacesV1EVChargeOptions",
      "type": "object",
      "description": "Information about the EV Charge Station hosted in Place. Terminology follows https://afdc.energy.gov/fuels/electricity_infrastructure.html One port could charge one car at a time. One port has one or more connectors. One station has one or more ports.",
      "properties": {
        "connectorCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of connectors at this station. However, because some ports can have multiple connectors but only be able to charge one car at a time (e.g.) the number of connectors may be greater than the total number of cars which can charge simultaneously."
        },
        "connectorAggregation": {
          "items": {
            "$ref": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation"
          },
          "description": "A list of EV charging connector aggregations that contain connectors of the same type and same charge rate.",
          "type": "array"
        }
      }
    }
  },
  "title": "Places API (New)",
  "resources": {
    "places": {
      "resources": {
        "photos": {
          "methods": {
            "getMedia": {
              "id": "places.places.photos.getMedia",
              "parameters": {
                "maxHeightPx": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Specifies the maximum desired height, in pixels, of the image. If the image is smaller than the values specified, the original image will be returned. If the image is larger in either dimension, it will be scaled to match the smaller of the two dimensions, restricted to its original aspect ratio. Both the max_height_px and max_width_px properties accept an integer between 1 and 4800, inclusively. If the value is not within the allowed range, an INVALID_ARGUMENT error will be returned. At least one of max_height_px or max_width_px needs to be specified. If neither max_height_px nor max_width_px is specified, an INVALID_ARGUMENT error will be returned."
                },
                "name": {
                  "pattern": "^places/[^/]+/photos/[^/]+/media$",
                  "description": "Required. The resource name of a photo media in the format: `places/{place_id}/photos/{photo_reference}/media`. The resource name of a photo as returned in a Place object's `photos.name` field comes with the format `places/{place_id}/photos/{photo_reference}`. You need to append `/media` at the end of the photo resource to get the photo media resource name.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "skipHttpRedirect": {
                  "description": "Optional. If set, skip the default HTTP redirect behavior and render a text format (for example, in JSON format for HTTP use case) response. If not set, an HTTP redirect will be issued to redirect the call to the image media. This option is ignored for non-HTTP requests.",
                  "location": "query",
                  "type": "boolean"
                },
                "maxWidthPx": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. Specifies the maximum desired width, in pixels, of the image. If the image is smaller than the values specified, the original image will be returned. If the image is larger in either dimension, it will be scaled to match the smaller of the two dimensions, restricted to its original aspect ratio. Both the max_height_px and max_width_px properties accept an integer between 1 and 4800, inclusively. If the value is not within the allowed range, an INVALID_ARGUMENT error will be returned. At least one of max_height_px or max_width_px needs to be specified. If neither max_height_px nor max_width_px is specified, an INVALID_ARGUMENT error will be returned."
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/places/{placesId}/photos/{photosId}/media",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/maps-platform.places"
              ],
              "description": "Get a photo media with a photo reference string.",
              "response": {
                "$ref": "GoogleMapsPlacesV1PhotoMedia"
              }
            }
          }
        }
      },
      "methods": {
        "searchNearby": {
          "parameters": {},
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchNearbyResponse"
          },
          "description": "Search for places near locations.",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchNearbyRequest"
          },
          "flatPath": "v1/places:searchNearby",
          "path": "v1/places:searchNearby",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.nearbysearch"
          ],
          "parameterOrder": [],
          "id": "places.places.searchNearby"
        },
        "searchText": {
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchTextResponse"
          },
          "parameters": {},
          "description": "Text query based place search.",
          "path": "v1/places:searchText",
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchTextRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.textsearch"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "v1/places:searchText",
          "id": "places.places.searchText"
        },
        "get": {
          "description": "Get the details of a place based on its resource name, which is a string in the `places/{place_id}` format.",
          "parameters": {
            "name": {
              "description": "Required. The resource name of a place, in the `places/{place_id}` format.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^places/[^/]+$"
            },
            "regionCode": {
              "type": "string",
              "description": "Optional. The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported.",
              "location": "query"
            },
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "Optional. Place details will be displayed with the preferred language if available. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport."
            }
          },
          "id": "places.places.get",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.details"
          ],
          "response": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "flatPath": "v1/places/{placesId}"
        }
      }
    }
  },
  "version_module": true,
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "protocol": "rest"
}
