{
  "rootUrl": "https://places.googleapis.com/",
  "title": "Places API (New)",
  "canonicalName": "Places API (New)",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/maps-platform.places.textsearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.textsearch"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/maps-platform.places": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places"
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "revision": "20230718",
  "id": "places:v1",
  "discoveryVersion": "v1",
  "version": "v1",
  "resources": {
    "Text": {
      "methods": {
        "search": {
          "path": "v1/Text:search",
          "id": "places.Text.search",
          "parameters": {},
          "flatPath": "v1/Text:search",
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchTextRequest"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchTextResponse"
          },
          "description": "Text query based place search.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.textsearch"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "places": {
      "methods": {
        "searchText": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.textsearch"
          ],
          "id": "places.places.searchText",
          "flatPath": "v1/places:searchText",
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1/places:searchText",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchTextRequest"
          },
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchTextResponse"
          },
          "description": "Text query based place search."
        }
      }
    }
  },
  "name": "places",
  "description": "",
  "baseUrl": "https://places.googleapis.com/",
  "mtlsRootUrl": "https://places.mtls.googleapis.com/",
  "schemas": {
    "GoogleTypeDate": {
      "type": "object",
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      }
    },
    "GoogleTypeLatLng": {
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object",
      "id": "GoogleTypeLatLng",
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleMapsPlacesV1SearchTextRequestLocation": {
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextRequestLocation",
      "properties": {
        "strictRestriction": {
          "description": "Make location field a strict restriction and filter out POIs outside of the given location. If location type field is unset this field will have no effect.",
          "type": "boolean"
        },
        "rectangle": {
          "description": "A rectangle box defined by northeast and southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        }
      },
      "description": "[Deprecated!]The region to search."
    },
    "GoogleGeoTypeViewport": {
      "id": "GoogleGeoTypeViewport",
      "description": "A latitude-longitude viewport, represented as two diagonally opposite `low` and `high` points. A viewport is considered a closed region, i.e. it includes its boundary. The latitude bounds must range between -90 to 90 degrees inclusive, and the longitude bounds must range between -180 to 180 degrees inclusive. Various cases include: - If `low` = `high`, the viewport consists of that single point. - If `low.longitude` \u003e `high.longitude`, the longitude range is inverted (the viewport crosses the 180 degree longitude line). - If `low.longitude` = -180 degrees and `high.longitude` = 180 degrees, the viewport includes all longitudes. - If `low.longitude` = 180 degrees and `high.longitude` = -180 degrees, the longitude range is empty. - If `low.latitude` \u003e `high.latitude`, the latitude range is empty. Both `low` and `high` must be populated, and the represented box cannot be empty (as specified by the definitions above). An empty viewport will result in an error. For example, this viewport fully encloses New York City: { \"low\": { \"latitude\": 40.477398, \"longitude\": -74.259087 }, \"high\": { \"latitude\": 40.91618, \"longitude\": -73.70018 } }",
      "properties": {
        "high": {
          "description": "Required. The high point of the viewport.",
          "$ref": "GoogleTypeLatLng"
        },
        "low": {
          "description": "Required. The low point of the viewport.",
          "$ref": "GoogleTypeLatLng"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay": {
      "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day.",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay",
      "properties": {
        "date": {
          "readOnly": true,
          "$ref": "GoogleTypeDate",
          "description": "Output only. The date of this special day."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceAttribution": {
      "properties": {
        "providerUri": {
          "description": "Output only. URI to the Place's data provider.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Place's data provider."
        }
      },
      "id": "GoogleMapsPlacesV1PlaceAttribution",
      "type": "object",
      "description": "Information about data providers of this place."
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationBias": {
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationBias",
      "description": "The region to search. This location serves as a bias which means results around given location might be returned.",
      "properties": {
        "rectangle": {
          "description": "A rectangle box defined by northeast and southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by center point and radius."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1AuthorAttribution": {
      "type": "object",
      "id": "GoogleMapsPlacesV1AuthorAttribution",
      "properties": {
        "photoUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Profile photo URI of the author of the Photo or Review."
        },
        "displayName": {
          "description": "Output only. Name of the author of the Photo or Review.",
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of the author of the Photo or Review."
        }
      },
      "description": "Information about the author of the UGC data. Used in Photo, and Review."
    },
    "GoogleMapsPlacesV1PlaceAddressComponent": {
      "id": "GoogleMapsPlacesV1PlaceAddressComponent",
      "properties": {
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language used to format this components, in CLDR notation."
        },
        "shortText": {
          "description": "Output only. An abbreviated textual name for the address component, if available. For example, an address component for the country of Australia may have a short_name of \"AU\".",
          "readOnly": true,
          "type": "string"
        },
        "types": {
          "description": "Output only. An array indicating the type(s) of the address component.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "longText": {
          "description": "Output only. The full text description or name of the address component. For example, an address component for the country Australia may have a long_name of \"Australia\".",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The structured components that form the formatted address, if this information is available."
    },
    "GoogleMapsPlacesV1PlaceOpeningHours": {
      "type": "object",
      "description": "Information about business hour of the place.",
      "properties": {
        "periods": {
          "description": "Output only. The periods that this place is open during the week. The periods are in chronological order, starting with Sunday in the place-local timezone. An empty (but not absent) value indicates a place that is never open, e.g. because it is closed temporarily for renovations.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod"
          },
          "readOnly": true,
          "type": "array"
        },
        "specialDays": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay"
          },
          "description": "Output only. Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day. Set for current_opening_hours and current_secondary_opening_hours if there are exceptional hours.",
          "readOnly": true,
          "type": "array"
        },
        "secondaryHoursType": {
          "enum": [
            "SECONDARY_HOURS_TYPE_UNSPECIFIED",
            "DRIVE_THROUGH",
            "HAPPY_HOUR",
            "DELIVERY",
            "TAKEOUT",
            "KITCHEN",
            "BREAKFAST",
            "LUNCH",
            "DINNER",
            "BRUNCH",
            "PICKUP",
            "ACCESS",
            "SENIOR_HOURS",
            "ONLINE_SERVICE_HOURS"
          ],
          "readOnly": true,
          "description": "Output only. A type string used to identify the type of secondary hours.",
          "enumDescriptions": [
            "Default value when secondary hour type is not specified.",
            "The drive-through hour for banks, restaurants, or pharmacies.",
            "The happy hour.",
            "The delivery hour.",
            "The takeout hour.",
            "The kitchen hour.",
            "The breakfast hour.",
            "The lunch hour.",
            "The dinner hour.",
            "The brunch hour.",
            "The pickup hour.",
            "The access hours for storage places.",
            "The special hours for seniors.",
            "The online service hours."
          ],
          "type": "string"
        },
        "weekdayDescriptions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Localized strings describing the opening hours of this place, one string for each day of the week. Will be empty if the hours are unknown or could not be converted to localized text. Example: \"Sun: 18:00–06:00\""
        },
        "openNow": {
          "description": "Output only. Is this place open right now? Always present unless we lack time-of-day or timezone data for these opening hours.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleMapsPlacesV1PlaceOpeningHours"
    },
    "GoogleMapsPlacesV1Int32Range": {
      "properties": {
        "min": {
          "type": "integer",
          "format": "int32",
          "description": "Lower bound. If unset, behavior is documented on the range field."
        },
        "max": {
          "type": "integer",
          "format": "int32",
          "description": "Upper bound. If unset, behavior is documented on the range field."
        }
      },
      "id": "GoogleMapsPlacesV1Int32Range",
      "description": "int 32 range. Both min and max are optional. If only min is set, then the range only has a lower bound. If only max is set, then range only has an upper bound. At least one of min and max must be set. Values are inclusive.",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationRestriction": {
      "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned.",
      "properties": {
        "rectangle": {
          "description": "A rectangle box defined by northeast and southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction"
    },
    "GoogleMapsPlacesV1PlacePlusCode": {
      "id": "GoogleMapsPlacesV1PlacePlusCode",
      "description": "Plus code (http://plus.codes) is a location reference with two formats: global code defining a 14mx14m (1/8000th of a degree) or smaller rectangle, and compound code, replacing the prefix with a reference location.",
      "properties": {
        "globalCode": {
          "description": "Output only. Place's global (full) code, such as \"9FWM33GV+HQ\", representing an 1/8000 by 1/8000 degree area (~14 by 14 meters).",
          "type": "string",
          "readOnly": true
        },
        "compoundCode": {
          "type": "string",
          "description": "Output only. Place's compound code, such as \"33GV+HQ, Ramberg, Norway\", containing the suffix of the global code and replacing the prefix with a formatted name of a reference entity.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextResponse": {
      "description": "Response proto for SearchText. ",
      "properties": {
        "places": {
          "description": "A list of places that meet the user's text search criteria.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          }
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextResponse"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint": {
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
      "description": "Status changing points.",
      "properties": {
        "dateDeprecated": {
          "deprecated": true,
          "description": "Output only. Date of the endpoint expressed in RFC3339 format in the local timezone for the place. For example 2010-12-31.",
          "readOnly": true,
          "type": "string"
        },
        "hour": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The hour in 2 digits. Ranges from 00 to 23."
        },
        "minute": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The minute in 2 digits. Ranges from 00 to 59.",
          "readOnly": true
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. A day of the week, as an integer in the range 0-6. 0 is Sunday, 1 is Monday, etc.",
          "readOnly": true
        },
        "truncated": {
          "readOnly": true,
          "description": "Output only. Whether or not this endpoint was truncated. Truncation occurs when the real hours are outside the times we are willing to return hours between, so we truncate the hours back to these boundaries. This ensures that at most 24 * 7 hours from midnight of the day of the request are returned.",
          "type": "boolean"
        },
        "date": {
          "readOnly": true,
          "description": "Output only. Date in the local timezone for the place.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleMapsPlacesV1Circle": {
      "type": "object",
      "id": "GoogleMapsPlacesV1Circle",
      "properties": {
        "center": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. Center latitude and longitude. The range of latitude must be within [-90.0, 90.0]. The range of the longitude must be within [-180.0, 180.0]."
        },
        "radius": {
          "format": "double",
          "description": "Required. Radius measured in meters. The radius must be within [0.0, 50000.0].",
          "type": "number"
        }
      },
      "description": "Circle with a LatLng as center and radius."
    },
    "GoogleMapsPlacesV1PlaceReview": {
      "description": "Information about a review of the place.",
      "type": "object",
      "properties": {
        "originalText": {
          "readOnly": true,
          "$ref": "GoogleTypeLocalizedText",
          "description": "Output only. The review text in its original language."
        },
        "relativePublishTimeDescription": {
          "type": "string",
          "description": "Output only. A string of formatted recent time, expressing the review time relative to the current time in a form appropriate for the language and country.",
          "readOnly": true
        },
        "translated": {
          "readOnly": true,
          "deprecated": true,
          "type": "boolean",
          "description": "Output only. A boolean value indicating if the review was translated from the original language it was written in. If a review has been translated, corresponding to a value of true, Google recommends that you indicate this to your users. For example, you can add the following string, “Translated by Google”, to the review."
        },
        "text": {
          "readOnly": true,
          "description": "Output only. The localized text of the review.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "publishTime": {
          "description": "Output only. Timestamp for the review, expressed in seconds since epoch.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "originalLanguageCode": {
          "deprecated": true,
          "type": "string",
          "description": "Output only. A BCP-47 language code indicating the original language of the review. If the review has been translated, then original_language != language. This field contains the main language tag only, and not the secondary tag indicating country or region. For example, all the English reviews are tagged as 'en', and not 'en-AU' or 'en-UK' and so on.This field is empty if there is only a rating with no review text.",
          "readOnly": true
        },
        "rating": {
          "type": "number",
          "description": "Output only. A whole number between 1.0 and 5.0, a.k.a. the number of stars.",
          "format": "double",
          "readOnly": true
        },
        "authorAttribution": {
          "$ref": "GoogleMapsPlacesV1AuthorAttribution",
          "description": "Output only. This review's author.",
          "readOnly": true
        }
      },
      "id": "GoogleMapsPlacesV1PlaceReview"
    },
    "GoogleMapsPlacesV1SearchTextRequest": {
      "description": "Request proto for SearchText. ",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. It is used to display the place details, like region-specific place name, if available. For more information, see http://www.unicode.org/reports/tr35/#unicode_region_subtag. Note that 3-digit region codes are not currently supported."
        },
        "priceLevels": {
          "description": "Used to restrict the search to places that are marked as certain price levels. Users can choose any combinations of price levels. Default to select all price levels.",
          "items": {
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Place price level is unspecified or unknown.",
              "Place provides free services.",
              "Place provides inexpensive services.",
              "Place provides moderately priced services.",
              "Place provides expensive services.",
              "Place provides very expensive services."
            ]
          },
          "type": "array"
        },
        "location": {
          "description": "[Deprecated!]The region to search. Setting location would usually yields better results. Recommended to set. This location serves as a bias unless strict_restriction is set to true, which turns the location to a strict restriction.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocation",
          "deprecated": true
        },
        "priceRange": {
          "deprecated": true,
          "$ref": "GoogleMapsPlacesV1Int32Range",
          "description": "[Deprecated!]Used to restrict the search to places that are within a certain price range. This is on a scale of 0 to 4. Set a minimum of 0 or set a maximum of 4 has no effect on the search results. Min price is default to 0 and max price is default to 4. Default value will be used if either min or max is unset."
        },
        "rankPreference": {
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "RELEVANCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "RankPreference value not set. Will default to DISTANCE.",
            "Ranks results by distance.",
            "Ranks results by relevance. Sort order determined by normal ranking stack. See SortRefinement::RELEVANCE."
          ],
          "description": "How results will be ranked in the response."
        },
        "strictTypeFiltering": {
          "description": "Used to set strict type filtering for included_type. If set to true, only results of the same type will be returned. Default to false.",
          "type": "boolean"
        },
        "includedType": {
          "type": "string",
          "description": "The requested place type. Full list of types supported: https://developers.google.com/places/supported_types. Only support one included type."
        },
        "maxResultCount": {
          "type": "integer",
          "description": "Maximum number of results to return. It must be between 1 and 20, inclusively. If the number is unset, it falls back to the upper limit. If the number is set to negative or exceeds the upper limit, an INVALID_ARGUMENT error is returned.",
          "format": "int32"
        },
        "languageCode": {
          "type": "string",
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport."
        },
        "minRating": {
          "type": "number",
          "format": "double",
          "description": "Filter out results whose average user rating is strictly less than this limit. A valid value must be an float between 0 and 5 (inclusively) at a 0.5 cadence i.e. [0, 0.5, 1.0, ... , 5.0] inclusively. This is to keep parity with LocalRefinement_UserRating. The input rating will round up to the nearest 0.5(ceiling). For instance, a rating of 0.6 will eliminate all results with a less than 1.0 rating."
        },
        "openNow": {
          "type": "boolean",
          "description": "Used to restrict the search to places that are open at a specific time. open_now marks if a business is currently open."
        },
        "locationBias": {
          "description": "The region to search. This location serves as a bias which means results around given location might be returned. Cannot be set along with location_restriction.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationBias"
        },
        "textQuery": {
          "type": "string",
          "description": "Required. The text query for textual search."
        },
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
          "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned. Cannot be set along with location_bias."
        }
      },
      "id": "GoogleMapsPlacesV1SearchTextRequest",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriod": {
      "properties": {
        "open": {
          "description": "Output only. The time that the place starts to be open.",
          "readOnly": true,
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
        },
        "close": {
          "readOnly": true,
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
          "description": "Output only. The time that the place starts to be closed."
        }
      },
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod",
      "description": "A period the place remains in open_now status.",
      "type": "object"
    },
    "GoogleTypeLocalizedText": {
      "description": "Localized variant of a text in a particular language.",
      "id": "GoogleTypeLocalizedText",
      "type": "object",
      "properties": {
        "text": {
          "description": "Localized string in the language corresponding to `language_code' below.",
          "type": "string"
        },
        "languageCode": {
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1Place": {
      "description": "All the information representing a Place.",
      "properties": {
        "reservable": {
          "readOnly": true,
          "description": "Output only. Specifies if the place supports reservations.",
          "type": "boolean"
        },
        "viewport": {
          "$ref": "GoogleGeoTypeViewport",
          "readOnly": true,
          "description": "Output only. A viewport suitable for displaying the place on an average-sized map."
        },
        "formattedAddress": {
          "description": "Output only. A full, human-readable address for this place.",
          "type": "string",
          "readOnly": true
        },
        "servesVegetarianFood": {
          "description": "Output only. Specifies if the place serves vegetarian food.",
          "type": "boolean",
          "readOnly": true
        },
        "rating": {
          "format": "double",
          "description": "Output only. A rating between 1.0 and 5.0, based on user reviews of this place.",
          "readOnly": true,
          "type": "number"
        },
        "servesDinner": {
          "description": "Output only. Specifies if the place serves dinner.",
          "type": "boolean",
          "readOnly": true
        },
        "servesBreakfast": {
          "description": "Output only. Specifies if the place serves breakfast.",
          "readOnly": true,
          "type": "boolean"
        },
        "delivery": {
          "type": "boolean",
          "description": "Output only. Specifies if the business supports delivery.",
          "readOnly": true
        },
        "id": {
          "description": "Output only. The unique identifier of a place.",
          "type": "string",
          "readOnly": true
        },
        "editorialSummary": {
          "$ref": "GoogleTypeLocalizedText",
          "readOnly": true,
          "description": "Output only. Contains a summary of the place. A summary is comprised of a textual overview, and also includes the language code for these if applicable. Summary text must be presented as-is and can not be modified or altered."
        },
        "servesWine": {
          "description": "Output only. Specifies if the place serves wine.",
          "readOnly": true,
          "type": "boolean"
        },
        "adrFormatAddress": {
          "readOnly": true,
          "description": "Output only. The place's address in adr microformat: http://microformats.org/wiki/adr.",
          "type": "string"
        },
        "currentOpeningHours": {
          "description": "Output only. The hours of operation for the next seven days (including today). The time period starts at midnight on the date of the request and ends at 11:59 pm six days later. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "readOnly": true,
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
        },
        "priceLevel": {
          "enum": [
            "PRICE_LEVEL_UNSPECIFIED",
            "PRICE_LEVEL_FREE",
            "PRICE_LEVEL_INEXPENSIVE",
            "PRICE_LEVEL_MODERATE",
            "PRICE_LEVEL_EXPENSIVE",
            "PRICE_LEVEL_VERY_EXPENSIVE"
          ],
          "readOnly": true,
          "description": "Output only. Price level of the place.",
          "type": "string",
          "enumDescriptions": [
            "Place price level is unspecified or unknown.",
            "Place provides free services.",
            "Place provides inexpensive services.",
            "Place provides moderately priced services.",
            "Place provides expensive services.",
            "Place provides very expensive services."
          ]
        },
        "businessStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The establishment is operational, not necessarily open now.",
            "The establishment is temporarily closed.",
            "The establishment is permanently closed."
          ],
          "enum": [
            "BUSINESS_STATUS_UNSPECIFIED",
            "OPERATIONAL",
            "CLOSED_TEMPORARILY",
            "CLOSED_PERMANENTLY"
          ],
          "type": "string",
          "description": "Output only. The business status for the place."
        },
        "servesBrunch": {
          "type": "boolean",
          "description": "Output only. Specifies if the place serves brunch.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An ID representing this place which may be used to look up this place again (a.k.a. the API \"resource\" name: places/)."
        },
        "utcOffsetMinutes": {
          "type": "integer",
          "description": "Output only. Number of minutes this place's timezone is currently offset from UTC. This is expressed in minutes to support timezones that are offset by fractions of an hour, e.g. X hours and 15 minutes.",
          "format": "int32",
          "readOnly": true
        },
        "secondaryOpeningHours": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          },
          "type": "array",
          "description": "Output only. Contains an array of entries for information about regular secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place."
        },
        "plusCode": {
          "$ref": "GoogleMapsPlacesV1PlacePlusCode",
          "description": "Output only. Plus code of the place location lat/long.",
          "readOnly": true
        },
        "types": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. A set of type tags for this result. For example, \"political\" and \"locality\".",
          "type": "array"
        },
        "userRatingCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The total number of reviews (with or without text) for this place."
        },
        "websiteUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The authoritative website for this place, e.g. a business' homepage. Note that for places that are part of a chain (e.g. an IKEA store), this will usually be the website for the individual store, not the overall chain."
        },
        "attributions": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAttribution"
          },
          "type": "array",
          "description": "Output only. A set of data provider that must be shown with this result.",
          "readOnly": true
        },
        "googleMapsUri": {
          "description": "Output only. A URL providing more information about this place.",
          "type": "string",
          "readOnly": true
        },
        "openingHours": {
          "readOnly": true,
          "description": "Output only. The regular hours of operation.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
        },
        "addressComponents": {
          "description": "Output only. Repeated components for each locality level.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAddressComponent"
          }
        },
        "takeout": {
          "description": "Output only. Specifies if the business supports takeout.",
          "readOnly": true,
          "type": "boolean"
        },
        "dineIn": {
          "readOnly": true,
          "description": "Output only. Specifies if the business supports indoor or outdoor seating options.",
          "type": "boolean"
        },
        "internationalPhoneNumber": {
          "description": "Output only. A human-readable phone number for the place, in international format.",
          "readOnly": true,
          "type": "string"
        },
        "currentSecondaryOpeningHours": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          },
          "description": "Output only. Contains an array of entries for the next seven days including information about secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place. This field includes the special_days subfield of all hours, set for dates that have exceptional hours."
        },
        "iconBackgroundColor": {
          "readOnly": true,
          "description": "Output only. Background color for icon_mask in hex format, e.g. #909CE1.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The localized name of the place, suitable as a short human-readable description. For example, \"Google Sydney\", \"Starbucks\", \"Pyrmont\", etc.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "iconMaskBaseUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A truncated URL to an v2 icon mask. User can access different icon type by appending type suffix to the end (eg, \".svg\" or \".png\")."
        },
        "servesLunch": {
          "description": "Output only. Specifies if the place serves lunch.",
          "type": "boolean",
          "readOnly": true
        },
        "wheelchairAccessibleEntrance": {
          "type": "boolean",
          "description": "Output only. Specifies if the place has an entrance that is wheelchair-accessible.",
          "readOnly": true
        },
        "curbsidePickup": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Specifies if the business supports curbside pickup."
        },
        "servesBeer": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Specifies if the place serves beer."
        },
        "location": {
          "readOnly": true,
          "$ref": "GoogleTypeLatLng",
          "description": "Output only. The position of this place."
        },
        "reviews": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceReview"
          },
          "description": "Output only. List of reviews about this place."
        },
        "nationalPhoneNumber": {
          "readOnly": true,
          "description": "Output only. A human-readable phone number for the place, in national format.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1Place"
    }
  },
  "version_module": true,
  "servicePath": "",
  "batchPath": "batch",
  "documentationLink": "https://mapsplatform.google.com/maps-products/#places-section"
}
