{
  "protocol": "rest",
  "batchPath": "batch",
  "baseUrl": "https://places.googleapis.com/",
  "canonicalName": "Maps Places",
  "discoveryVersion": "v1",
  "rootUrl": "https://places.googleapis.com/",
  "schemas": {
    "GoogleMapsPlacesV1PlaceAccessibilityOptions": {
      "description": "Information about the accessibility options a place offers.",
      "type": "object",
      "properties": {
        "wheelchairAccessibleRestroom": {
          "type": "boolean",
          "description": "Place has wheelchair accessible restroom."
        },
        "wheelchairAccessibleEntrance": {
          "description": "Places has wheelchair accessible entrance.",
          "type": "boolean"
        },
        "wheelchairAccessibleSeating": {
          "description": "Place has wheelchair accessible seating.",
          "type": "boolean"
        },
        "wheelchairAccessibleParking": {
          "description": "Place offers wheelchair accessible parking.",
          "type": "boolean"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceAccessibilityOptions"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriod": {
      "properties": {
        "open": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
          "description": "The time that the place starts to be open."
        },
        "close": {
          "description": "The time that the place starts to be closed.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
        }
      },
      "description": "A period the place remains in open_now status.",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequest": {
      "description": "Request proto for SearchText. ",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported."
        },
        "textQuery": {
          "type": "string",
          "description": "Required. The text query for textual search."
        },
        "openNow": {
          "type": "boolean",
          "description": "Used to restrict the search to places that are currently open. The default is false."
        },
        "strictTypeFiltering": {
          "type": "boolean",
          "description": "Used to set strict type filtering for included_type. If set to true, only results of the same type will be returned. Default to false."
        },
        "rankPreference": {
          "enumDescriptions": [
            "RankPreference value not set. Will default to DISTANCE.",
            "Ranks results by distance.",
            "Ranks results by relevance. Sort order determined by normal ranking stack. See SortRefinement::RELEVANCE."
          ],
          "description": "How results will be ranked in the response.",
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "RELEVANCE"
          ],
          "type": "string"
        },
        "languageCode": {
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport.",
          "type": "string"
        },
        "locationBias": {
          "description": "The region to search. This location serves as a bias which means results around given location might be returned. Cannot be set along with location_restriction.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationBias"
        },
        "locationRestriction": {
          "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned. Cannot be set along with location_bias.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction"
        },
        "maxResultCount": {
          "format": "int32",
          "description": "Maximum number of results to return. It must be between 1 and 20, inclusively. The default is 20. If the number is unset, it falls back to the upper limit. If the number is set to negative or exceeds the upper limit, an INVALID_ARGUMENT error is returned.",
          "type": "integer"
        },
        "includedType": {
          "type": "string",
          "description": "The requested place type. Full list of types supported: https://developers.google.com/maps/documentation/places/web-service/place-types. Only support one included type."
        },
        "priceLevels": {
          "type": "array",
          "items": {
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Place price level is unspecified or unknown.",
              "Place provides free services.",
              "Place provides inexpensive services.",
              "Place provides moderately priced services.",
              "Place provides expensive services.",
              "Place provides very expensive service s."
            ]
          },
          "description": "Used to restrict the search to places that are marked as certain price levels. Users can choose any combinations of price levels. Default to select all price levels."
        },
        "minRating": {
          "type": "number",
          "description": "Filter out results whose average user rating is strictly less than this limit. A valid value must be an float between 0 and 5 (inclusively) at a 0.5 cadence i.e. [0, 0.5, 1.0, ... , 5.0] inclusively. This is to keep parity with LocalRefinement_UserRating. The input rating will round up to the nearest 0.5(ceiling). For instance, a rating of 0.6 will eliminate all results with a less than 1.0 rating.",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextRequest"
    },
    "GoogleTypeMoney": {
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "id": "GoogleTypeMoney",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      }
    },
    "GoogleTypeLocalizedText": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Localized string in the language corresponding to language_code below."
        },
        "languageCode": {
          "type": "string",
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      },
      "description": "Localized variant of a text in a particular language.",
      "type": "object",
      "id": "GoogleTypeLocalizedText"
    },
    "GoogleMapsPlacesV1AuthorAttribution": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "URI of the author of the Photo or Review.",
          "type": "string"
        },
        "displayName": {
          "description": "Name of the author of the Photo or Review.",
          "type": "string"
        },
        "photoUri": {
          "description": "Profile photo URI of the author of the Photo or Review.",
          "type": "string"
        }
      },
      "description": "Information about the author of the UGC data. Used in Photo, and Review.",
      "id": "GoogleMapsPlacesV1AuthorAttribution"
    },
    "GoogleMapsPlacesV1PlaceAttribution": {
      "id": "GoogleMapsPlacesV1PlaceAttribution",
      "type": "object",
      "description": "Information about data providers of this place.",
      "properties": {
        "providerUri": {
          "type": "string",
          "description": "URI to the Place's data provider."
        },
        "provider": {
          "description": "Name of the Place's data provider.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1PlaceSubDestination": {
      "description": "Place resource name and id of sub destinations that relate to the place. For example, different terminals are different destinations of an airport.",
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceSubDestination",
      "properties": {
        "name": {
          "description": "The resource name of the sub destination.",
          "type": "string"
        },
        "id": {
          "description": "The place id of the sub destination.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1PhotoMedia": {
      "id": "GoogleMapsPlacesV1PhotoMedia",
      "description": "A photo media from Places API.",
      "properties": {
        "name": {
          "description": "The resource name of a photo in the format: places/place_id/photos/photo_reference.",
          "type": "string"
        },
        "photoUri": {
          "type": "string",
          "description": "A short-lived uri that can be used to render the photo."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchNearbyResponse": {
      "properties": {
        "places": {
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "type": "array",
          "description": "A list of places that meets user's requirements like places types, number of places and specific location restriction."
        }
      },
      "description": "Response proto for Search Nearby. ",
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchNearbyResponse"
    },
    "GoogleMapsPlacesV1SearchTextResponse": {
      "description": "Response proto for SearchText. ",
      "type": "object",
      "properties": {
        "places": {
          "type": "array",
          "description": "A list of places that meet the user's text search criteria.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          }
        }
      },
      "id": "GoogleMapsPlacesV1SearchTextResponse"
    },
    "GoogleMapsPlacesV1PlaceOpeningHours": {
      "description": "Information about business hour of the place.",
      "type": "object",
      "properties": {
        "openNow": {
          "description": "Is this place open right now? Always present unless we lack time-of-day or timezone data for these opening hours.",
          "type": "boolean"
        },
        "secondaryHoursType": {
          "enumDescriptions": [
            "Default value when secondary hour type is not specified.",
            "The drive-through hour for banks, restaurants, or pharmacies.",
            "The happy hour.",
            "The delivery hour.",
            "The takeout hour.",
            "The kitchen hour.",
            "The breakfast hour.",
            "The lunch hour.",
            "The dinner hour.",
            "The brunch hour.",
            "The pickup hour.",
            "The access hours for storage places.",
            "The special hours for seniors.",
            "The online service hours."
          ],
          "enum": [
            "SECONDARY_HOURS_TYPE_UNSPECIFIED",
            "DRIVE_THROUGH",
            "HAPPY_HOUR",
            "DELIVERY",
            "TAKEOUT",
            "KITCHEN",
            "BREAKFAST",
            "LUNCH",
            "DINNER",
            "BRUNCH",
            "PICKUP",
            "ACCESS",
            "SENIOR_HOURS",
            "ONLINE_SERVICE_HOURS"
          ],
          "description": "A type string used to identify the type of secondary hours.",
          "type": "string"
        },
        "specialDays": {
          "type": "array",
          "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day. Set for current_opening_hours and current_secondary_opening_hours if there are exceptional hours.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay"
          }
        },
        "weekdayDescriptions": {
          "type": "array",
          "description": "Localized strings describing the opening hours of this place, one string for each day of the week. Will be empty if the hours are unknown or could not be converted to localized text. Example: \"Sun: 18:00–06:00\"",
          "items": {
            "type": "string"
          }
        },
        "periods": {
          "description": "The periods that this place is open during the week. The periods are in chronological order, starting with Sunday in the place-local timezone. An empty (but not absent) value indicates a place that is never open, e.g. because it is closed temporarily for renovations.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod"
          },
          "type": "array"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceOpeningHours"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationRestriction": {
      "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned.",
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
      "properties": {
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A rectangle box defined by northeast and southwest corner."
        }
      }
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay": {
      "properties": {
        "date": {
          "description": "The date of this special day.",
          "$ref": "GoogleTypeDate"
        }
      },
      "type": "object",
      "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day.",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint": {
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "A day of the week, as an integer in the range 0-6. 0 is Sunday, 1 is Monday, etc."
        },
        "hour": {
          "format": "int32",
          "type": "integer",
          "description": "The hour in 2 digits. Ranges from 00 to 23."
        },
        "date": {
          "description": "Date in the local timezone for the place.",
          "$ref": "GoogleTypeDate"
        },
        "truncated": {
          "description": "Whether or not this endpoint was truncated. Truncation occurs when the real hours are outside the times we are willing to return hours between, so we truncate the hours back to these boundaries. This ensures that at most 24 * 7 hours from midnight of the day of the request are returned.",
          "type": "boolean"
        },
        "minute": {
          "description": "The minute in 2 digits. Ranges from 00 to 59.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Status changing points.",
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
    },
    "GoogleMapsPlacesV1Review": {
      "id": "GoogleMapsPlacesV1Review",
      "properties": {
        "rating": {
          "description": "A number between 1.0 and 5.0, also called the number of stars.",
          "format": "double",
          "type": "number"
        },
        "relativePublishTimeDescription": {
          "description": "A string of formatted recent time, expressing the review time relative to the current time in a form appropriate for the language and country.",
          "type": "string"
        },
        "name": {
          "description": "A reference representing this place review which may be used to look up this place review again (also called the API \"resource\" name: places/place_id/reviews/review).",
          "type": "string"
        },
        "text": {
          "description": "The localized text of the review.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "authorAttribution": {
          "$ref": "GoogleMapsPlacesV1AuthorAttribution",
          "description": "This review's author."
        },
        "publishTime": {
          "description": "Timestamp for the review.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalText": {
          "description": "The review text in its original language.",
          "$ref": "GoogleTypeLocalizedText"
        }
      },
      "description": "Information about a review of a place.",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction": {
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction",
      "properties": {
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by center point and radius."
        }
      },
      "description": "The region to search."
    },
    "GoogleTypeDate": {
      "type": "object",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate"
    },
    "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation": {
      "properties": {
        "count": {
          "description": "Number of connectors in this aggregation.",
          "format": "int32",
          "type": "integer"
        },
        "availableCount": {
          "description": "Number of connectors in this aggregation that are currently available.",
          "format": "int32",
          "type": "integer"
        },
        "availabilityLastUpdateTime": {
          "type": "string",
          "description": "The timestamp when the connector availability information in this aggregation was last updated.",
          "format": "google-datetime"
        },
        "outOfServiceCount": {
          "description": "Number of connectors in this aggregation that are currently out of service.",
          "format": "int32",
          "type": "integer"
        },
        "maxChargeRateKw": {
          "description": "The static max charging rate in kw of each connector in the aggregation.",
          "format": "double",
          "type": "number"
        },
        "type": {
          "description": "The connector type of this aggregation.",
          "type": "string",
          "enum": [
            "EV_CONNECTOR_TYPE_UNSPECIFIED",
            "EV_CONNECTOR_TYPE_OTHER",
            "EV_CONNECTOR_TYPE_J1772",
            "EV_CONNECTOR_TYPE_TYPE_2",
            "EV_CONNECTOR_TYPE_CHADEMO",
            "EV_CONNECTOR_TYPE_CCS_COMBO_1",
            "EV_CONNECTOR_TYPE_CCS_COMBO_2",
            "EV_CONNECTOR_TYPE_TESLA",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET"
          ],
          "enumDescriptions": [
            "Unspecified connector.",
            "Other connector types.",
            "J1772 type 1 connector.",
            "IEC 62196 type 2 connector. Often referred to as MENNEKES.",
            "CHAdeMO type connector.",
            "Combined Charging System (AC and DC). Based on SAE. Type-1 J-1772 connector",
            "Combined Charging System (AC and DC). Based on Type-2 Mennekes connector",
            "The generic TESLA connector. This is NACS in the North America but can be non-NACS in other parts of the world (e.g. CCS Combo 2 (CCS2) or GB/T). This value is less representative of an actual connector type, and more represents the ability to charge a Tesla brand vehicle at a Tesla owned charging station.",
            "GB/T type corresponds to the GB/T standard in China. This type covers all GB_T types.",
            "Unspecified wall outlet."
          ]
        }
      },
      "description": "EV charging information grouped by [type, max_charge_rate_kw]. Shows EV charge aggregation of connectors that have the same type and max charge rate in kw.",
      "id": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation",
      "type": "object"
    },
    "GoogleMapsPlacesV1FuelOptionsFuelPrice": {
      "id": "GoogleMapsPlacesV1FuelOptionsFuelPrice",
      "description": "Fuel price information for a given type.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of fuel.",
          "enum": [
            "FUEL_TYPE_UNSPECIFIED",
            "DIESEL",
            "REGULAR_UNLEADED",
            "MIDGRADE",
            "PREMIUM",
            "SP91",
            "SP91_E10",
            "SP92",
            "SP95",
            "SP95_E10",
            "SP98",
            "SP99",
            "SP100",
            "LPG",
            "E80",
            "E85",
            "METHANE",
            "BIO_DIESEL",
            "TRUCK_DIESEL"
          ],
          "enumDescriptions": [
            "Unspecified fuel type.",
            "Diesel fuel.",
            "Regular unleaded.",
            "Midgrade.",
            "Premium.",
            "SP 91.",
            "SP 91 E10.",
            "SP 92.",
            "SP 95.",
            "SP95 E10.",
            "SP 98.",
            "SP 99.",
            "SP 100.",
            "LPG.",
            "E 80.",
            "E 85.",
            "Methane.",
            "Bio-diesel.",
            "Truck diesel."
          ]
        },
        "price": {
          "description": "The price of the fuel.",
          "$ref": "GoogleTypeMoney"
        },
        "updateTime": {
          "description": "The time the fuel price was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleTypeLatLng": {
      "id": "GoogleTypeLatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "latitude": {
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationBias": {
      "type": "object",
      "description": "The region to search. This location serves as a bias which means results around given location might be returned.",
      "properties": {
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A rectangle box defined by northeast and southwest corner."
        },
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by center point and radius."
        }
      },
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationBias"
    },
    "GoogleMapsPlacesV1PlaceAddressComponent": {
      "id": "GoogleMapsPlacesV1PlaceAddressComponent",
      "type": "object",
      "description": "The structured components that form the formatted address, if this information is available.",
      "properties": {
        "shortText": {
          "description": "An abbreviated textual name for the address component, if available. For example, an address component for the country of Australia may have a short_name of \"AU\".",
          "type": "string"
        },
        "types": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "An array indicating the type(s) of the address component."
        },
        "languageCode": {
          "description": "The language used to format this components, in CLDR notation.",
          "type": "string"
        },
        "longText": {
          "description": "The full text description or name of the address component. For example, an address component for the country Australia may have a long_name of \"Australia\".",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1EVChargeOptions": {
      "id": "GoogleMapsPlacesV1EVChargeOptions",
      "properties": {
        "connectorAggregation": {
          "description": "A list of EV charging connector aggregations that contain connectors of the same type and same charge rate.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation"
          }
        },
        "connectorCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of connectors at this station. However, because some ports can have multiple connectors but only be able to charge one car at a time (e.g.) the number of connectors may be greater than the total number of cars which can charge simultaneously."
        }
      },
      "type": "object",
      "description": "Information about the EV Charge Station hosted in Place. Terminology follows https://afdc.energy.gov/fuels/electricity_infrastructure.html One port could charge one car at a time. One port has one or more connectors. One station has one or more ports."
    },
    "GoogleMapsPlacesV1FuelOptions": {
      "description": "The most recent information about fuel options in a gas station. This information is updated regularly.",
      "type": "object",
      "id": "GoogleMapsPlacesV1FuelOptions",
      "properties": {
        "fuelPrices": {
          "items": {
            "$ref": "GoogleMapsPlacesV1FuelOptionsFuelPrice"
          },
          "type": "array",
          "description": "The last known fuel price for each type of fuel this station has. There is one entry per fuel type this station has. Order is not important."
        }
      }
    },
    "GoogleMapsPlacesV1PlacePaymentOptions": {
      "type": "object",
      "properties": {
        "acceptsDebitCards": {
          "type": "boolean",
          "description": "Place accepts debit cards as payment."
        },
        "acceptsNfc": {
          "description": "Place accepts NFC payments.",
          "type": "boolean"
        },
        "acceptsCashOnly": {
          "type": "boolean",
          "description": "Place accepts cash only as payment. Places with this attribute may still accept other payment methods."
        },
        "acceptsCreditCards": {
          "type": "boolean",
          "description": "Place accepts credit cards as payment."
        }
      },
      "description": "Payment options the place accepts.",
      "id": "GoogleMapsPlacesV1PlacePaymentOptions"
    },
    "GoogleMapsPlacesV1PlaceParkingOptions": {
      "properties": {
        "paidGarageParking": {
          "description": "Place offers paid garage parking.",
          "type": "boolean"
        },
        "freeParkingLot": {
          "type": "boolean",
          "description": "Place offers free parking lots."
        },
        "freeGarageParking": {
          "type": "boolean",
          "description": "Place offers free garage parking."
        },
        "paidStreetParking": {
          "description": "Place offers paid street parking.",
          "type": "boolean"
        },
        "paidParkingLot": {
          "type": "boolean",
          "description": "Place offers paid parking lots."
        },
        "freeStreetParking": {
          "description": "Place offers free street parking.",
          "type": "boolean"
        },
        "valetParking": {
          "description": "Place offers valet parking.",
          "type": "boolean"
        }
      },
      "description": "Information about parking options for the place. A parking lot could support more than one option at the same time.",
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceParkingOptions"
    },
    "GoogleMapsPlacesV1PlacePlusCode": {
      "id": "GoogleMapsPlacesV1PlacePlusCode",
      "description": "Plus code (http://plus.codes) is a location reference with two formats: global code defining a 14mx14m (1/8000th of a degree) or smaller rectangle, and compound code, replacing the prefix with a reference location.",
      "properties": {
        "globalCode": {
          "description": "Place's global (full) code, such as \"9FWM33GV+HQ\", representing an 1/8000 by 1/8000 degree area (~14 by 14 meters).",
          "type": "string"
        },
        "compoundCode": {
          "description": "Place's compound code, such as \"33GV+HQ, Ramberg, Norway\", containing the suffix of the global code and replacing the prefix with a formatted name of a reference entity.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleGeoTypeViewport": {
      "id": "GoogleGeoTypeViewport",
      "properties": {
        "high": {
          "description": "Required. The high point of the viewport.",
          "$ref": "GoogleTypeLatLng"
        },
        "low": {
          "description": "Required. The low point of the viewport.",
          "$ref": "GoogleTypeLatLng"
        }
      },
      "type": "object",
      "description": "A latitude-longitude viewport, represented as two diagonally opposite `low` and `high` points. A viewport is considered a closed region, i.e. it includes its boundary. The latitude bounds must range between -90 to 90 degrees inclusive, and the longitude bounds must range between -180 to 180 degrees inclusive. Various cases include: - If `low` = `high`, the viewport consists of that single point. - If `low.longitude` \u003e `high.longitude`, the longitude range is inverted (the viewport crosses the 180 degree longitude line). - If `low.longitude` = -180 degrees and `high.longitude` = 180 degrees, the viewport includes all longitudes. - If `low.longitude` = 180 degrees and `high.longitude` = -180 degrees, the longitude range is empty. - If `low.latitude` \u003e `high.latitude`, the latitude range is empty. Both `low` and `high` must be populated, and the represented box cannot be empty (as specified by the definitions above). An empty viewport will result in an error. For example, this viewport fully encloses New York City: { \"low\": { \"latitude\": 40.477398, \"longitude\": -74.259087 }, \"high\": { \"latitude\": 40.91618, \"longitude\": -73.70018 } }"
    },
    "GoogleMapsPlacesV1SearchNearbyRequest": {
      "description": "Request proto for Search Nearby. ",
      "id": "GoogleMapsPlacesV1SearchNearbyRequest",
      "properties": {
        "rankPreference": {
          "enumDescriptions": [
            "RankPreference value not set. Will use rank by POPULARITY by default.",
            "Ranks results by distance.",
            "Ranks results by popularity."
          ],
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "POPULARITY"
          ],
          "description": "How results will be ranked in the response.",
          "type": "string"
        },
        "maxResultCount": {
          "description": "Maximum number of results to return. It must be between 1 and 20 (default), inclusively. If the number is unset, it falls back to the upper limit. If the number is set to negative or exceeds the upper limit, an INVALID_ARGUMENT error is returned.",
          "type": "integer",
          "format": "int32"
        },
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction",
          "description": "Required. The region to search."
        },
        "includedPrimaryTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Included primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. A place can only have a single primary type from the supported types table associated with it. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\"."
        },
        "regionCode": {
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported.",
          "type": "string"
        },
        "excludedPrimaryTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Excluded primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\"."
        },
        "excludedTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Excluded Place type (eg, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. If the client provides both included_types (e.g. restaurant) and excluded_types (e.g. cafe), then the response should include places that are restaurant but not cafe. The response includes places that match at least one of the included_types and none of the excluded_types. If there are any conflicting types, i.e. a type appears in both included_types and excluded_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\"."
        },
        "languageCode": {
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport.",
          "type": "string"
        },
        "includedTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Included Place type (eg, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. If there are any conflicting types, i.e. a type appears in both included_types and excluded_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\"."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1Photo": {
      "id": "GoogleMapsPlacesV1Photo",
      "description": "Information about a photo of a place.",
      "properties": {
        "widthPx": {
          "type": "integer",
          "description": "The maximum available width, in pixels.",
          "format": "int32"
        },
        "name": {
          "description": "Identifier. A reference representing this place photo which may be used to look up this place photo again (a.k.a. the API \"resource\" name: places/{place_id}/photos/{photo}).",
          "type": "string"
        },
        "heightPx": {
          "type": "integer",
          "description": "The maximum available height, in pixels.",
          "format": "int32"
        },
        "authorAttributions": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1AuthorAttribution"
          },
          "description": "This photo's authors."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1Circle": {
      "properties": {
        "radius": {
          "description": "Required. Radius measured in meters. The radius must be within [0.0, 50000.0]. The default radius is 0.0.",
          "format": "double",
          "type": "number"
        },
        "center": {
          "description": "Required. Center latitude and longitude. The range of latitude must be within [-90.0, 90.0]. The range of the longitude must be within [-180.0, 180.0].",
          "$ref": "GoogleTypeLatLng"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1Circle",
      "description": "Circle with a LatLng as center and radius."
    },
    "GoogleMapsPlacesV1Place": {
      "id": "GoogleMapsPlacesV1Place",
      "properties": {
        "adrFormatAddress": {
          "type": "string",
          "description": "The place's address in adr microformat: http://microformats.org/wiki/adr."
        },
        "parkingOptions": {
          "$ref": "GoogleMapsPlacesV1PlaceParkingOptions",
          "description": "Options of parking provided by the place."
        },
        "regularOpeningHours": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours",
          "description": "The regular hours of operation."
        },
        "servesDinner": {
          "description": "Specifies if the place serves dinner.",
          "type": "boolean"
        },
        "allowsDogs": {
          "description": "Place allows dogs.",
          "type": "boolean"
        },
        "location": {
          "description": "The position of this place.",
          "$ref": "GoogleTypeLatLng"
        },
        "websiteUri": {
          "description": "The authoritative website for this place, e.g. a business' homepage. Note that for places that are part of a chain (e.g. an IKEA store), this will usually be the website for the individual store, not the overall chain.",
          "type": "string"
        },
        "servesLunch": {
          "type": "boolean",
          "description": "Specifies if the place serves lunch."
        },
        "outdoorSeating": {
          "description": "Place provides outdoor seating.",
          "type": "boolean"
        },
        "dineIn": {
          "type": "boolean",
          "description": "Specifies if the business supports indoor or outdoor seating options."
        },
        "rating": {
          "type": "number",
          "format": "double",
          "description": "A rating between 1.0 and 5.0, based on user reviews of this place."
        },
        "regularSecondaryOpeningHours": {
          "type": "array",
          "description": "Contains an array of entries for information about regular secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          }
        },
        "currentSecondaryOpeningHours": {
          "description": "Contains an array of entries for the next seven days including information about secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          },
          "type": "array"
        },
        "viewport": {
          "description": "A viewport suitable for displaying the place on an average-sized map.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "servesBeer": {
          "description": "Specifies if the place serves beer.",
          "type": "boolean"
        },
        "liveMusic": {
          "type": "boolean",
          "description": "Place provides live music."
        },
        "iconBackgroundColor": {
          "description": "Background color for icon_mask in hex format, e.g. #909CE1.",
          "type": "string"
        },
        "shortFormattedAddress": {
          "type": "string",
          "description": "A short, human-readable address for this place."
        },
        "googleMapsUri": {
          "description": "A URL providing more information about this place.",
          "type": "string"
        },
        "paymentOptions": {
          "description": "Payment options the place accepts. If a payment option data is not available, the payment option field will be unset.",
          "$ref": "GoogleMapsPlacesV1PlacePaymentOptions"
        },
        "id": {
          "description": "The unique identifier of a place.",
          "type": "string"
        },
        "servesBreakfast": {
          "type": "boolean",
          "description": "Specifies if the place serves breakfast."
        },
        "photos": {
          "description": "Information (including references) about photos of this place.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1Photo"
          }
        },
        "types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of type tags for this result. For example, \"political\" and \"locality\". For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types"
        },
        "primaryTypeDisplayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The display name of the primary type, localized to the request language if applicable. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types"
        },
        "subDestinations": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceSubDestination"
          },
          "description": "A list of sub destinations related to the place.",
          "type": "array"
        },
        "goodForGroups": {
          "type": "boolean",
          "description": "Place accommodates groups."
        },
        "utcOffsetMinutes": {
          "type": "integer",
          "description": "Number of minutes this place's timezone is currently offset from UTC. This is expressed in minutes to support timezones that are offset by fractions of an hour, e.g. X hours and 15 minutes.",
          "format": "int32"
        },
        "nationalPhoneNumber": {
          "type": "string",
          "description": "A human-readable phone number for the place, in national format."
        },
        "servesWine": {
          "type": "boolean",
          "description": "Specifies if the place serves wine."
        },
        "currentOpeningHours": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours",
          "description": "The hours of operation for the next seven days (including today). The time period starts at midnight on the date of the request and ends at 11:59 pm six days later. This field includes the special_days subfield of all hours, set for dates that have exceptional hours."
        },
        "primaryType": {
          "description": "The primary type of the given result. This type must one of the Places API supported types. For example, \"restaurant\", \"cafe\", \"airport\", etc. A place can only have a single primary type. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types",
          "type": "string"
        },
        "name": {
          "description": "An ID representing this place which may be used to look up this place again (a.k.a. the API \"resource\" name: places/place_id).",
          "type": "string"
        },
        "servesVegetarianFood": {
          "type": "boolean",
          "description": "Specifies if the place serves vegetarian food."
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The localized name of the place, suitable as a short human-readable description. For example, \"Google Sydney\", \"Starbucks\", \"Pyrmont\", etc."
        },
        "reservable": {
          "description": "Specifies if the place supports reservations.",
          "type": "boolean"
        },
        "menuForChildren": {
          "description": "Place has a children's menu.",
          "type": "boolean"
        },
        "takeout": {
          "type": "boolean",
          "description": "Specifies if the business supports takeout."
        },
        "iconMaskBaseUri": {
          "type": "string",
          "description": "A truncated URL to an icon mask. User can access different icon type by appending type suffix to the end (eg, \".svg\" or \".png\")."
        },
        "servesDessert": {
          "type": "boolean",
          "description": "Place serves dessert."
        },
        "evChargeOptions": {
          "description": "Information of ev charging options.",
          "$ref": "GoogleMapsPlacesV1EVChargeOptions"
        },
        "accessibilityOptions": {
          "$ref": "GoogleMapsPlacesV1PlaceAccessibilityOptions",
          "description": "Information about the accessibility options a place offers."
        },
        "goodForWatchingSports": {
          "type": "boolean",
          "description": "Place is suitable for watching sports."
        },
        "attributions": {
          "description": "A set of data provider that must be shown with this result.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAttribution"
          },
          "type": "array"
        },
        "curbsidePickup": {
          "type": "boolean",
          "description": "Specifies if the business supports curbside pickup."
        },
        "servesCoffee": {
          "type": "boolean",
          "description": "Place serves coffee."
        },
        "delivery": {
          "type": "boolean",
          "description": "Specifies if the business supports delivery."
        },
        "servesBrunch": {
          "type": "boolean",
          "description": "Specifies if the place serves brunch."
        },
        "plusCode": {
          "description": "Plus code of the place location lat/long.",
          "$ref": "GoogleMapsPlacesV1PlacePlusCode"
        },
        "restroom": {
          "description": "Place has restroom.",
          "type": "boolean"
        },
        "businessStatus": {
          "type": "string",
          "enum": [
            "BUSINESS_STATUS_UNSPECIFIED",
            "OPERATIONAL",
            "CLOSED_TEMPORARILY",
            "CLOSED_PERMANENTLY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The establishment is operational, not necessarily open now.",
            "The establishment is temporarily closed.",
            "The establishment is permanently closed."
          ],
          "description": "The business status for the place."
        },
        "addressComponents": {
          "type": "array",
          "description": "Repeated components for each locality level. Note the following facts about the address_components[] array: - The array of address components may contain more components than the formatted_address. - The array does not necessarily include all the political entities that contain an address, apart from those included in the formatted_address. To retrieve all the political entities that contain a specific address, you should use reverse geocoding, passing the latitude/longitude of the address as a parameter to the request. - The format of the response is not guaranteed to remain the same between requests. In particular, the number of address_components varies based on the address requested and can change over time for the same address. A component can change position in the array. The type of the component can change. A particular component may be missing in a later response.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAddressComponent"
          }
        },
        "fuelOptions": {
          "description": "The most recent information about fuel options in a gas station. This information is updated regularly.",
          "$ref": "GoogleMapsPlacesV1FuelOptions"
        },
        "internationalPhoneNumber": {
          "type": "string",
          "description": "A human-readable phone number for the place, in international format."
        },
        "priceLevel": {
          "type": "string",
          "enum": [
            "PRICE_LEVEL_UNSPECIFIED",
            "PRICE_LEVEL_FREE",
            "PRICE_LEVEL_INEXPENSIVE",
            "PRICE_LEVEL_MODERATE",
            "PRICE_LEVEL_EXPENSIVE",
            "PRICE_LEVEL_VERY_EXPENSIVE"
          ],
          "description": "Price level of the place.",
          "enumDescriptions": [
            "Place price level is unspecified or unknown.",
            "Place provides free services.",
            "Place provides inexpensive services.",
            "Place provides moderately priced services.",
            "Place provides expensive services.",
            "Place provides very expensive service s."
          ]
        },
        "goodForChildren": {
          "type": "boolean",
          "description": "Place is good for children."
        },
        "reviews": {
          "type": "array",
          "description": "List of reviews about this place, sorted by relevance.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          }
        },
        "formattedAddress": {
          "type": "string",
          "description": "A full, human-readable address for this place."
        },
        "userRatingCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of reviews (with or without text) for this place."
        },
        "editorialSummary": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "Contains a summary of the place. A summary is comprised of a textual overview, and also includes the language code for these if applicable. Summary text must be presented as-is and can not be modified or altered."
        },
        "servesCocktails": {
          "type": "boolean",
          "description": "Place serves cocktails."
        }
      },
      "type": "object",
      "description": "All the information representing a Place."
    }
  },
  "title": "Places API (New)",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "places:v1",
  "name": "places",
  "documentationLink": "https://mapsplatform.google.com/maps-products/#places-section",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/maps-platform.places.details": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.details"
        },
        "https://www.googleapis.com/auth/maps-platform.places.textsearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.textsearch"
        },
        "https://www.googleapis.com/auth/maps-platform.places.nearbysearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.nearbysearch"
        },
        "https://www.googleapis.com/auth/maps-platform.places": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "version": "v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "revision": "20231025",
  "servicePath": "",
  "ownerDomain": "google.com",
  "resources": {
    "places": {
      "resources": {
        "photos": {
          "methods": {
            "getMedia": {
              "response": {
                "$ref": "GoogleMapsPlacesV1PhotoMedia"
              },
              "id": "places.places.photos.getMedia",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/maps-platform.places"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/places/{placesId}/photos/{photosId}/media",
              "description": "Get a photo media with a photo reference string.",
              "parameters": {
                "skipHttpRedirect": {
                  "type": "boolean",
                  "description": "Optional. If set, skip the default HTTP redirect behavior and render a text format (for example, in JSON format for HTTP use case) response. If not set, an HTTP redirect will be issued to redirect the call to the image midea. This option is ignored for non-HTTP requests.",
                  "location": "query"
                },
                "maxHeightPx": {
                  "description": "Optional. Specifies the maximum desired height, in pixels, of the image. If the image is smaller than the values specified, the original image will be returned. If the image is larger in either dimension, it will be scaled to match the smaller of the two dimensions, restricted to its original aspect ratio. Both the max_height_px and max_width_px properties accept an integer between 1 and 4800, inclusively. If the value is not within the allowed range, an INVALID_ARGUMENT error will be returned. At least one of max_height_px or max_width_px needs to be specified. If neither max_height_px nor max_width_px is specified, an INVALID_ARGUMENT error will be returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "maxWidthPx": {
                  "type": "integer",
                  "description": "Optional. Specifies the maximum desired width, in pixels, of the image. If the image is smaller than the values specified, the original image will be returned. If the image is larger in either dimension, it will be scaled to match the smaller of the two dimensions, restricted to its original aspect ratio. Both the max_height_px and max_width_px properties accept an integer between 1 and 4800, inclusively. If the value is not within the allowed range, an INVALID_ARGUMENT error will be returned. At least one of max_height_px or max_width_px needs to be specified. If neither max_height_px nor max_width_px is specified, an INVALID_ARGUMENT error will be returned.",
                  "location": "query",
                  "format": "int32"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^places/[^/]+/photos/[^/]+/media$",
                  "description": "Required. The resource name of a photo as returned in a Place object's photos.name field. Format: places/place_id/photos/photo_reference.",
                  "required": true
                }
              },
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "get": {
          "flatPath": "v1/places/{placesId}",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "parameters": {
            "regionCode": {
              "type": "string",
              "description": "Optional. The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported.",
              "location": "query"
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "Optional. Place details will be displayed with the preferred language if available. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport."
            },
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^places/[^/]+$",
              "type": "string",
              "description": "Required. A place ID returned in a Place (with \"places/\" prefix), or equivalently the name in the same Place. Format: places/*place_id*."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Get place details with a place id (in a name) string.",
          "id": "places.places.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.details"
          ]
        },
        "searchText": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.textsearch"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchTextRequest"
          },
          "parameters": {},
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchTextResponse"
          },
          "flatPath": "v1/places:searchText",
          "description": "Text query based place search.",
          "id": "places.places.searchText",
          "path": "v1/places:searchText"
        },
        "searchNearby": {
          "flatPath": "v1/places:searchNearby",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.nearbysearch"
          ],
          "path": "v1/places:searchNearby",
          "id": "places.places.searchNearby",
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchNearbyResponse"
          },
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchNearbyRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Search for places near locations."
        }
      }
    }
  },
  "mtlsRootUrl": "https://places.mtls.googleapis.com/",
  "version_module": true,
  "description": "",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json"
    }
  }
}
