{
  "name": "playintegrity",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Play Integrity API",
  "version_module": true,
  "parameters": {
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "servicePath": "",
  "resources": {
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": " Package name of the app the attached integrity token belongs to."
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "description": "Decodes the integrity token and returns the token payload.",
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "id": "playintegrity.decodeIntegrityToken",
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          }
        }
      }
    }
  },
  "protocol": "rest",
  "id": "playintegrity:v1",
  "canonicalName": "Play Integrity",
  "revision": "20240422",
  "discoveryVersion": "v1",
  "schemas": {
    "DeviceIntegrity": {
      "properties": {
        "deviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "type": "string"
          },
          "description": "Details about the integrity of the device the app is running on."
        },
        "recentDeviceActivity": {
          "$ref": "RecentDeviceActivity",
          "description": "Details about the device activity of the device the app is running on."
        }
      },
      "id": "DeviceIntegrity",
      "description": "Contains the device attestation information. Next tag: 4",
      "type": "object"
    },
    "RecentDeviceActivity": {
      "type": "object",
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming.",
      "id": "RecentDeviceActivity",
      "properties": {
        "deviceActivityLevel": {
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ],
          "description": "Required. Indicates the activity level of the device.",
          "type": "string",
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ]
        }
      }
    },
    "AppIntegrity": {
      "type": "object",
      "properties": {
        "versionCode": {
          "format": "int64",
          "type": "string",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED."
        },
        "certificateSha256Digest": {
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appRecognitionVerdict": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "description": "Required. Details about the app recognition verdict"
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED."
        }
      },
      "description": "Contains the application integrity information.",
      "id": "AppIntegrity"
    },
    "EnvironmentDetails": {
      "type": "object",
      "id": "EnvironmentDetails",
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict.",
      "properties": {
        "appAccessRiskVerdict": {
          "$ref": "AppAccessRiskVerdict",
          "description": "The evaluation of the App Access Risk verdicts."
        },
        "playProtectVerdict": {
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ],
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ],
          "description": "The evaluation of Play Protect verdict.",
          "type": "string"
        }
      }
    },
    "TestingDetails": {
      "type": "object",
      "description": "Contains additional information generated for testing responses.",
      "id": "TestingDetails",
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      }
    },
    "AccountActivity": {
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic.",
      "properties": {
        "activityLevel": {
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ],
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ],
          "description": "Required. Indicates the activity level of the account."
        }
      },
      "id": "AccountActivity",
      "type": "object"
    },
    "DecodeIntegrityTokenRequest": {
      "description": "Request to decode the integrity token.",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DecodeIntegrityTokenRequest"
    },
    "DecodeIntegrityTokenResponse": {
      "description": "Response containing the decoded integrity payload.",
      "type": "object",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      },
      "id": "DecodeIntegrityTokenResponse"
    },
    "RequestDetails": {
      "type": "object",
      "description": "Contains the integrity request information.",
      "properties": {
        "nonce": {
          "type": "string",
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap)."
        },
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        },
        "timestampMillis": {
          "type": "string",
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "format": "int64"
        },
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity."
        }
      },
      "id": "RequestDetails"
    },
    "AppAccessRiskVerdict": {
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app.",
      "properties": {
        "playOrSystemApps": {
          "description": "App access risk verdict related to apps that are not installed by the Google Play Store, and are not preloaded on the system image by the device manufacturer.",
          "enum": [
            "UNKNOWN",
            "UNEVALUATED",
            "NOT_INSTALLED",
            "INSTALLED",
            "CAPTURING",
            "CONTROLLING"
          ],
          "enumDescriptions": [
            "Risk type is unknown.",
            "App access risk was not evaluated because a requirement was missed, such as the device not being trusted enough.",
            "No apps under this field are installed on the device. This is only valid for the other apps field.",
            "One or more apps under this field are installed on the device.",
            "Apps under this field are running that could be used to read or capture inputs and outputs of the requesting app, such as screen recording apps.",
            "Apps under this field are running that could be used to control the device and inputs and outputs of the requesting app, such as remote controlling apps."
          ],
          "type": "string"
        },
        "otherApps": {
          "description": "App access risk verdict related to apps that are not installed by Google Play, and are not preloaded on the system image by the device manufacturer.",
          "enum": [
            "UNKNOWN",
            "UNEVALUATED",
            "NOT_INSTALLED",
            "INSTALLED",
            "CAPTURING",
            "CONTROLLING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Risk type is unknown.",
            "App access risk was not evaluated because a requirement was missed, such as the device not being trusted enough.",
            "No apps under this field are installed on the device. This is only valid for the other apps field.",
            "One or more apps under this field are installed on the device.",
            "Apps under this field are running that could be used to read or capture inputs and outputs of the requesting app, such as screen recording apps.",
            "Apps under this field are running that could be used to control the device and inputs and outputs of the requesting app, such as remote controlling apps."
          ]
        }
      },
      "type": "object",
      "id": "AppAccessRiskVerdict"
    },
    "TokenPayloadExternal": {
      "id": "TokenPayloadExternal",
      "description": "Contains basic app information and integrity signals like device attestation and licensing details.",
      "properties": {
        "appIntegrity": {
          "$ref": "AppIntegrity",
          "description": "Required. Details about the application integrity."
        },
        "environmentDetails": {
          "$ref": "EnvironmentDetails",
          "description": "Details of the environment Play Integrity API runs in."
        },
        "testingDetails": {
          "$ref": "TestingDetails",
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status."
        },
        "requestDetails": {
          "$ref": "RequestDetails",
          "description": "Required. Details about the integrity request."
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "DeviceIntegrity"
        },
        "accountDetails": {
          "$ref": "AccountDetails",
          "description": "Required. Details about the Play Store account."
        }
      },
      "type": "object"
    },
    "AccountDetails": {
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "properties": {
        "appLicensingVerdict": {
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ]
        },
        "accountActivity": {
          "description": "(Restricted Access) Details about the account activity for the user in the scope.",
          "$ref": "AccountActivity"
        }
      },
      "type": "object",
      "id": "AccountDetails"
    }
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "baseUrl": "https://playintegrity.googleapis.com/",
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "version": "v1",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "rootUrl": "https://playintegrity.googleapis.com/"
}
