{
  "canonicalName": "Play Integrity",
  "revision": "20220829",
  "version_module": true,
  "title": "Google Play Integrity API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "description": "Play Integrity",
  "servicePath": "",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "ownerDomain": "google.com",
  "schemas": {
    "TestingDetails": {
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      },
      "type": "object",
      "id": "TestingDetails",
      "description": "Contains additional information generated for testing responses."
    },
    "DeviceIntegrity": {
      "type": "object",
      "description": "Contains the device attestation information.",
      "id": "DeviceIntegrity",
      "properties": {
        "deviceRecognitionVerdict": {
          "items": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ]
          },
          "type": "array",
          "description": "Details about the integrity of the device the app is running on"
        }
      }
    },
    "TokenPayloadExternal": {
      "description": "Contains basic app information and integrity signals like device attestation and licensing details.",
      "properties": {
        "appIntegrity": {
          "description": "Required. Details about the application integrity.",
          "$ref": "AppIntegrity"
        },
        "deviceIntegrity": {
          "$ref": "DeviceIntegrity",
          "description": "Required. Details about the device integrity."
        },
        "accountDetails": {
          "$ref": "AccountDetails",
          "description": "Required. Details about the Play Store account."
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "TestingDetails"
        },
        "requestDetails": {
          "$ref": "RequestDetails",
          "description": "Required. Details about the integrity request."
        }
      },
      "id": "TokenPayloadExternal",
      "type": "object"
    },
    "DecodeIntegrityTokenResponse": {
      "description": "Response containing the decoded integrity payload.",
      "id": "DecodeIntegrityTokenResponse",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      },
      "type": "object"
    },
    "RequestDetails": {
      "properties": {
        "nonce": {
          "description": "Required. Nonce that was provided in the request (which is base64 web-safe no-wrap).",
          "type": "string"
        },
        "timestampMillis": {
          "format": "int64",
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "type": "string"
        },
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RequestDetails",
      "description": "Contains the integrity request information."
    },
    "AppIntegrity": {
      "description": "Contains the application integrity information.",
      "id": "AppIntegrity",
      "properties": {
        "certificateSha256Digest": {
          "description": "Hex fingerprint of the application signing certificate. e.g. “ABCE1F....” Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED."
        },
        "versionCode": {
          "type": "string",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED.",
          "format": "int64"
        },
        "appRecognitionVerdict": {
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "description": "Required. Details about the app recognition verdict",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ]
        }
      },
      "type": "object"
    },
    "AccountDetails": {
      "type": "object",
      "id": "AccountDetails",
      "properties": {
        "appLicensingVerdict": {
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "type": "string"
        },
        "accountRiskVerdict": {
          "description": "Details about the account risk for the user in the scope. This feature is available only to selected developers.",
          "$ref": "AccountRiskVerdict"
        }
      },
      "description": "Contains the account information such as the licensing status for the user in the scope."
    },
    "DecodeIntegrityTokenRequest": {
      "type": "object",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "id": "DecodeIntegrityTokenRequest",
      "description": "Request to decode the integrity token."
    },
    "AccountRiskVerdict": {
      "properties": {
        "risk": {
          "type": "string",
          "enum": [
            "RISK_UNSPECIFIED",
            "UNEVALUATED",
            "HIGHER",
            "UNKNOWN",
            "LOWER",
            "LOWEST"
          ],
          "description": "Required. Indicates the account risk level of the current user session.",
          "enumDescriptions": [
            "Risk has not been set.",
            "The account risk is not evaluated, because the device is not trusted or the user does not have a Play app license.",
            "Play thinks that at least one of the user accounts on the device has some unusual store engagement behavior that could be risky.",
            "Play does not have sufficient information to assess the risk. The account may be new, or it may lack activity on the Play Store.",
            "Play thinks the user could be genuine, since there is some store engagement. However, some signals to support the trust level are missing.",
            "Play thinks the user is more likely to be genuine due to harder to replicate store engagement signals."
          ]
        },
        "riskLevel": {
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_UNEVALUATED",
            "RISK_LEVEL_RISK",
            "RISK_LEVEL_UNKNOWN",
            "RISK_LEVEL_LOW_RISK",
            "RISK_LEVEL_LOWEST_RISK"
          ],
          "description": "Required. Indicates the account risk level of the current user session.",
          "enumDescriptions": [
            "Risk level has not been set.",
            "The account risk is not evaluated, because the device is not trusted or the user does not have a Play app license.",
            "Play thinks that at least one of the user accounts on the device has some unusual store engagement behavior that could be risky.",
            "Play does not have sufficient information to assess the risk. The account may be new, or it may lack activity on the Play Store.",
            "Play thinks the user could be genuine, since there is some store engagement. However, some signals to support the trust level are missing.",
            "Play thinks the user is more likely to be genuine due to harder to replicate store engagement signals."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains information about account risk that indicates if the current user session seems low risk, unknown, or risky before you allow important actions to proceed.",
      "id": "AccountRiskVerdict"
    }
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://playintegrity.googleapis.com/",
  "rootUrl": "https://playintegrity.googleapis.com/",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "id": "playintegrity.decodeIntegrityToken",
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          },
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "parameters": {
            "packageName": {
              "description": " Package name of the app the attached integrity token belongs to.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Decodes the integrity token and returns the token payload.",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "httpMethod": "POST"
        }
      }
    }
  },
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "id": "playintegrity:v1",
  "name": "playintegrity",
  "ownerName": "Google",
  "protocol": "rest"
}
