{
  "ownerName": "Google",
  "version_module": true,
  "baseUrl": "https://playdeveloperreporting.googleapis.com/",
  "revision": "20240306",
  "documentationLink": "https://developers.google.com/play/developer/reporting",
  "kind": "discovery#restDescription",
  "description": "",
  "discoveryVersion": "v1",
  "schemas": {
    "GooglePlayDeveloperReportingV1beta1ErrorIssue": {
      "description": "A group of related ErrorReports received for an app. Similar error reports are grouped together into issues with a likely identical root cause. **Please note:** this resource is currently in Alpha. There could be changes to the issue grouping that would result in similar but more recent error reports being assigned to different issues. This could also cause some issues disappearing entirely and being replaced by new ones. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "type": "object",
      "properties": {
        "firstAppVersion": {
          "$ref": "GooglePlayDeveloperReportingV1beta1AppVersion",
          "description": "The earliest (inclusive) app version appearing in this ErrorIssue in the requested time period (only considering occurrences matching the filters)."
        },
        "firstOsVersion": {
          "$ref": "GooglePlayDeveloperReportingV1beta1OsVersion",
          "description": "The smallest OS version in which this error cluster has occurred in the requested time period (only considering occurrences matching the filters and within the requested time period)."
        },
        "lastOsVersion": {
          "description": "The latest OS version in which this error cluster has occurred in the requested time period (only considering occurrences matching the filters and within the requested time period).",
          "$ref": "GooglePlayDeveloperReportingV1beta1OsVersion"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the issue. Format: apps/{app}/{issue}"
        },
        "distinctUsersPercent": {
          "description": "An estimated percentage of users affected by any issue that are affected by this issue (only considering occurrences matching the filters and within the requested time period).",
          "$ref": "GoogleTypeDecimal"
        },
        "type": {
          "description": "Type of the errors grouped in this issue.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "APPLICATION_NOT_RESPONDING",
            "CRASH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified error type.",
            "Application Not Responding (ANR) error. To learn more about this type of errors visit the corresponding Android Developers documentation.",
            "Crash caused by an unhandled exception in Java (or Kotlin or any other JVM language) or a signal in native code such as SIGSEGV."
          ]
        },
        "lastErrorReportTime": {
          "format": "google-datetime",
          "description": "Start of the hour during which the last error report in this issue occurred.",
          "type": "string"
        },
        "lastAppVersion": {
          "$ref": "GooglePlayDeveloperReportingV1beta1AppVersion",
          "description": "The latest (inclusive) app version appearing in this ErrorIssue in the requested time period (only considering occurrences matching the filters)."
        },
        "issueUri": {
          "description": "Link to the issue in Android vitals in the Play Console.",
          "type": "string"
        },
        "distinctUsers": {
          "format": "int64",
          "description": "An estimate of the number of unique users who have experienced this issue (only considering occurrences matching the filters and within the requested time period).",
          "type": "string"
        },
        "location": {
          "description": "Location where the issue happened. Depending on the type this can be either: * APPLICATION_NOT_RESPONDING: the name of the activity or service that stopped responding. * CRASH: the likely method name that caused the error.",
          "type": "string"
        },
        "errorReportCount": {
          "description": "The total number of error reports in this issue (only considering occurrences matching the filters and within the requested time period).",
          "format": "int64",
          "type": "string"
        },
        "sampleErrorReports": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Sample error reports which belong to this ErrorIssue. *Note:* currently a maximum of 1 per ErrorIssue is supported. Format: \"apps/{app}/{report}\"",
          "readOnly": true
        },
        "cause": {
          "type": "string",
          "description": "Cause of the issue. Depending on the type this can be either: * APPLICATION_NOT_RESPONDING: the type of ANR that occurred, e.g., 'Input dispatching timed out'. * CRASH: for Java unhandled exception errors, the type of the innermost exception that was thrown, e.g., IllegalArgumentException. For signals in native code, the signal that was raised, e.g. SIGSEGV."
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1ErrorIssue"
    },
    "GooglePlayDeveloperReportingV1beta1FreshnessInfo": {
      "id": "GooglePlayDeveloperReportingV1beta1FreshnessInfo",
      "properties": {
        "freshnesses": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfoFreshness"
          },
          "description": "Information about data freshness for every supported aggregation period. This field has set semantics, keyed by the `aggregation_period` field."
        }
      },
      "type": "object",
      "description": "Represents the latest available time that can be requested in a TimelineSpec. Different aggregation periods have different freshness. For example, `DAILY` aggregation may lag behind `HOURLY` in cases where such aggregation is computed only once at the end of the day."
    },
    "GooglePlayDeveloperReportingV1beta1DeviceModelSummary": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1DeviceModelSummary",
      "properties": {
        "deviceId": {
          "$ref": "GooglePlayDeveloperReportingV1beta1DeviceId",
          "description": "Identifier of the device."
        },
        "deviceUri": {
          "description": "Link to the device in Play Device Catalog.",
          "type": "string"
        },
        "marketingName": {
          "type": "string",
          "description": "Display name of the device."
        }
      },
      "description": "Summary of a device"
    },
    "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetRequest": {
      "description": "Request message for QuerySlowRenderingRateMetricSet.",
      "properties": {
        "filter": {
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "userCohort": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "description": "User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta Android versions only, excluding data from released Android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\".",
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ]
        },
        "dimensions": {
          "type": "array",
          "description": "Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "items": {
            "type": "string"
          }
        },
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Metrics to aggregate. **Supported metrics:** * `slowRenderingRate20Fps` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow rendering. * `slowRenderingRate20Fps7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate20Fps` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate20Fps28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate20Fps` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate30Fps` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow rendering. * `slowRenderingRate30Fps7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate30Fps` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate30Fps28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate30Fps` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowRenderingRate20Fps`/`slowRenderingRate30Fps` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value."
        },
        "timelineSpec": {
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`.",
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000."
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetRequest",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetRequest": {
      "description": "Request message for QueryCrashRateMetricSet.",
      "id": "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetRequest",
      "properties": {
        "dimensions": {
          "type": "array",
          "description": "Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "type": "string",
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
        },
        "userCohort": {
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "description": "User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\".",
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000."
        },
        "timelineSpec": {
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`.",
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec"
        },
        "metrics": {
          "type": "array",
          "description": "Metrics to aggregate. **Supported metrics:** * `crashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash. * `crashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `crashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash while they were actively using your app (a user-perceived crash). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedCrashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `crashRate` and `userPerceivedCrashRate` metrics. A user is counted in this metric if they used the app actively during the aggregation period. An app is considered to be in active use if it is displaying any activity or executing any foreground service. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "items": {
            "type": "string"
          }
        },
        "pageToken": {
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetRequest": {
      "type": "object",
      "properties": {
        "pageSize": {
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "format": "int32",
          "type": "integer"
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics to aggregate. **Supported metrics:** * `excessiveWakeupRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had more than 10 wakeups per hour. * `excessiveWakeupRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `excessiveWakeupRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `excessiveWakeupRate` metric. A user is counted in this metric if they app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "type": "array"
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec",
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`."
        },
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "filter": {
          "type": "string",
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
        },
        "dimensions": {
          "type": "array",
          "description": "Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "items": {
            "type": "string"
          }
        },
        "userCohort": {
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "description": "User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\".",
          "type": "string",
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ]
        }
      },
      "description": "Request message for QueryExcessiveWakeupRateMetricSet.",
      "id": "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetRequest"
    },
    "GooglePlayDeveloperReportingV1beta1FreshnessInfoFreshness": {
      "properties": {
        "latestEndTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Latest end time for which data is available, for the aggregation period. The time is specified in the metric set's default timezone. *Note:* time ranges in TimelineSpec are represented as `start_time, end_time)`. For example, if the latest available timeline data point for a `DAILY` aggregation period is `2021-06-23 00:00:00 America/Los_Angeles`, the value of this field would be `2021-06-24 00:00:00 America/Los_Angeles` so it can be easily reused in [TimelineSpec.end_time."
        },
        "aggregationPeriod": {
          "enumDescriptions": [
            "Unspecified granularity.",
            "Data is aggregated in hourly intervals.",
            "Data is aggregated in daily intervals.",
            "Data is aggregated over the full timeline range. Effectively this produces a single value rather than a timeline."
          ],
          "type": "string",
          "description": "Aggregation period for which data is available.",
          "enum": [
            "AGGREGATION_PERIOD_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "FULL_RANGE"
          ]
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1FreshnessInfoFreshness",
      "description": "Information about data freshness for a single aggregation period.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1SearchAccessibleAppsResponse": {
      "id": "GooglePlayDeveloperReportingV1beta1SearchAccessibleAppsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "apps": {
          "description": "The apps accessible to the user calling the endpoint.",
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1App"
          }
        }
      },
      "description": "Response message for SearchAccessibleApps."
    },
    "GoogleTypeTimeZone": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "id": "GoogleTypeTimeZone"
    },
    "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetResponse": {
      "type": "object",
      "description": "Response message for QuerySlowStartRateMetricSet.",
      "id": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetResponse",
      "properties": {
        "rows": {
          "description": "Returned rows of data.",
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          }
        },
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1OsVersion": {
      "id": "GooglePlayDeveloperReportingV1beta1OsVersion",
      "description": "Representation of an OS version.",
      "properties": {
        "apiLevel": {
          "description": "Numeric version code of the OS - API level",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1Anomaly": {
      "description": "Represents an anomaly detected in a dataset. Our anomaly detection systems flag datapoints in a time series that fall outside of and expected range derived from historical data. Although those expected ranges have an upper and a lower bound, we only flag anomalies when the data has become unexpectedly _worse_, which usually corresponds to the case where the metric crosses the upper bound. Multiple contiguous datapoints in a timeline outside of the expected range will be grouped into a single anomaly. Therefore, an anomaly represents effectively a segment of a metric's timeline. The information stored in the `timeline_spec`, `dimensions` and `metric` can be used to fetch a full timeline with extended ragne for context. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1Anomaly",
      "properties": {
        "metricSet": {
          "description": "Metric set resource where the anomaly was detected.",
          "type": "string"
        },
        "dimensions": {
          "description": "Combination of dimensions in which the anomaly was detected.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1DimensionValue"
          },
          "type": "array"
        },
        "metric": {
          "$ref": "GooglePlayDeveloperReportingV1beta1MetricValue",
          "description": "Metric where the anomaly was detected, together with the anomalous value."
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec",
          "description": "Timeline specification that covers the anomaly period."
        },
        "name": {
          "description": "Identifier. Name of the anomaly. Format: apps/{app}/anomalies/{anomaly}",
          "type": "string"
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1MetricValue": {
      "id": "GooglePlayDeveloperReportingV1beta1MetricValue",
      "properties": {
        "decimalValueConfidenceInterval": {
          "$ref": "GooglePlayDeveloperReportingV1beta1DecimalConfidenceInterval",
          "description": "Confidence interval of a value that is of type `type.Decimal`."
        },
        "metric": {
          "description": "Name of the metric.",
          "type": "string"
        },
        "decimalValue": {
          "description": "Actual value, represented as a decimal number.",
          "$ref": "GoogleTypeDecimal"
        }
      },
      "description": "Represents the value of a metric.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetResponse": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetResponse",
      "description": "Response message for QueryExcessiveWakeupRateMetricSet.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        },
        "rows": {
          "description": "Returned rows of data.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          },
          "type": "array"
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetResponse": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        },
        "rows": {
          "description": "Returned rows of data.",
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          }
        }
      },
      "description": "Response message for QueryCrashRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1beta1AnrRateMetricSet": {
      "id": "GooglePlayDeveloperReportingV1beta1AnrRateMetricSet",
      "type": "object",
      "properties": {
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        },
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/anrRateMetricSet",
          "type": "string"
        }
      },
      "description": "Singleton resource representing the set of ANR (Application not responding) metrics. This metric set contains ANRs data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`. **Supported metrics:** * `anrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one ANR. * `anrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `anrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one user-perceived ANR. User-perceived ANRs are currently those of 'Input dispatching' type. * `userPerceivedAnrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `anrRate` and `userPerceivedAnrRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about crashes, another stability metric."
    },
    "GooglePlayDeveloperReportingV1beta1App": {
      "type": "object",
      "description": "A representation of an app in the Play Store.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Package name of the app. Example: `com.example.app123`."
        },
        "displayName": {
          "description": "Title of the app. This is the latest title as set in the Play Console and may not yet have been reviewed, so might not match the Play Store. Example: `Google Maps`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name. Format: apps/{app}"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1App"
    },
    "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetResponse": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetResponse",
      "description": "Response message for QueryStuckBackgroundWakelockRateMetricSet.",
      "properties": {
        "rows": {
          "type": "array",
          "description": "Returned rows of data.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1DecimalConfidenceInterval": {
      "id": "GooglePlayDeveloperReportingV1beta1DecimalConfidenceInterval",
      "properties": {
        "lowerBound": {
          "description": "The confidence interval's lower bound.",
          "$ref": "GoogleTypeDecimal"
        },
        "upperBound": {
          "$ref": "GoogleTypeDecimal",
          "description": "The confidence interval's upper bound."
        }
      },
      "type": "object",
      "description": "Represents the confidence interval of a metric."
    },
    "GooglePlayDeveloperReportingV1beta1DeviceId": {
      "description": "Identifier of a device.",
      "properties": {
        "buildBrand": {
          "description": "Value of Build.BRAND.",
          "type": "string"
        },
        "buildDevice": {
          "description": "Value of Build.DEVICE.",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1DeviceId",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetRequest": {
      "id": "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetRequest",
      "properties": {
        "metrics": {
          "description": "Metrics to aggregate. **Supported metrics:** * `errorReportCount` (`google.type.Decimal`): Absolute count of individual error reports that have been received for an app. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which reports have been received. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. This value is not rounded, however it may be an approximation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec",
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. The default and only supported timezone is `America/Los_Angeles`."
        },
        "dimensions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): identifier of the device's form factor, e.g., PHONE. * `reportType` (string): the type of error. The value should correspond to one of the possible values in ErrorType. * `isUserPerceived` (string): denotes whether error is user perceived or not, USER_PERCEIVED or NOT_USER_PERCEIVED. * `issueId` (string): the id an error was assigned to. The value should correspond to the `{issue}` component of the issue name. * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
        },
        "filter": {
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "pageToken": {
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Request message for QueryErrorCountMetricSet."
    },
    "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetRequest": {
      "id": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetRequest",
      "properties": {
        "filter": {
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "userCohort": {
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "description": "User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta Android versions only, excluding data from released Android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\".",
          "type": "string"
        },
        "pageSize": {
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "type": "integer",
          "format": "int32"
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec",
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`."
        },
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics to aggregate. **Supported metrics:** * `slowStartRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow start. * `slowStartRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowStartRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowStartRate` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "type": "array"
        },
        "dimensions": {
          "items": {
            "type": "string"
          },
          "description": "Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "type": "array"
        }
      },
      "description": "Request message for QuerySlowStartRateMetricSet.",
      "type": "object"
    },
    "GoogleTypeDateTime": {
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "id": "GoogleTypeDateTime",
      "type": "object",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer"
        },
        "seconds": {
          "format": "int32",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32"
        },
        "timeZone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Time zone."
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration",
          "type": "string"
        },
        "minutes": {
          "type": "integer",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1StuckBackgroundWakelockRateMetricSet": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1StuckBackgroundWakelockRateMetricSet",
      "description": "Singleton resource representing the set of Stuck Background Wakelocks metrics. This metric set contains PowerManager wakelock duration data combined with process state data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `stuckBgWakelockRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a wakelock held in the background for longer than 1 hour. * `stuckBgWakelockRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `stuckBgWakelockRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `stuckBgWakelockRate` metric. A user is counted in this metric if their app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "properties": {
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet"
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetResponse": {
      "description": "Response message for QuerySlowRenderingRateMetricSet.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        },
        "rows": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          },
          "type": "array",
          "description": "Returned rows of data."
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetResponse"
    },
    "GooglePlayDeveloperReportingV1beta1SearchErrorIssuesResponse": {
      "id": "GooglePlayDeveloperReportingV1beta1SearchErrorIssuesResponse",
      "description": "Response with a paginated list of issues that matched the request.",
      "type": "object",
      "properties": {
        "errorIssues": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ErrorIssue"
          },
          "type": "array",
          "description": "ErrorIssues that were found."
        },
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1SlowRenderingRateMetricSet": {
      "description": "Singleton resource representing the set of Slow Rendering metrics. This metric set contains low-level rendering data captured by SurafeFlinger. Sessions are evaluated based on the present-to-present histogram of frames handled by any SurfaceFlinger layer owned by the app. A slow session is a session where more than 25% of frames for the session did not meet the metric's target frame rate (either 20fps, or 30fps). *NOTE:* This metric set is only available for games. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `slowRenderingRate20Fps` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had slow rendering. * `slowRenderingRate20Fps7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate20Fps` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate20Fps28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate20Fps` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate30Fps` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had slow rendering. * `slowRenderingRate30Fps7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate30Fps` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate30Fps28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate30Fps` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowRenderingRate20Fps`/`slowRenderingRate30Fps` metric. A user is counted in this metric if their app rendered any frames. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name. Format: apps/{app}/slowRenderingRateMetricSet"
        },
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1SlowRenderingRateMetricSet",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetRequest": {
      "properties": {
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec",
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`."
        },
        "userCohort": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "description": "User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\"."
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000."
        },
        "filter": {
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics to aggregate. **Supported metrics:** * `anrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one ANR. * `anrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `anrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one user-perceived ANR. User-perceived ANRs are currently those of 'Input dispatching' type. * `userPerceivedAnrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not . supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `anrRate` and `userPerceivedAnrRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "type": "array"
        },
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "dimensions": {
          "type": "array",
          "description": "Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetRequest",
      "type": "object",
      "description": "Request message for QueryAnrRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1beta1TimelineSpec": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1TimelineSpec",
      "description": "Specification of the time-related aggregation parameters of a timeline. Timelines have an aggregation period (`DAILY`, `HOURLY`, etc) which defines how events are aggregated in metrics. The points in a timeline are defined by the starting DateTime of the aggregation period. The duration is implicit in the AggregationPeriod. Hourly aggregation periods, when supported by a metric set, are always specified in UTC to avoid ambiguities around daylight saving time transitions, where an hour is skipped when adopting DST, and repeated when abandoning DST. For example, the timestamp '2021-11-07 01:00:00 America/Los_Angeles' is ambiguous since it can correspond to '2021-11-07 08:00:00 UTC' or '2021-11-07 09:00:00 UTC'. Daily aggregation periods require specifying a timezone which will determine the precise instants of the start and the end of the day. Not all metric sets support all timezones, so make sure to check which timezones are supported by the metric set you want to query.",
      "properties": {
        "startTime": {
          "description": "Starting datapoint of the timeline (inclusive). Must be aligned to the aggregation period as follows: * HOURLY: the 'minutes', 'seconds' and 'nanos' fields must be unset. The time_zone can be left unset (defaults to UTC) or set explicitly to \"UTC\". Setting any other utc_offset or timezone id will result in a validation error. * DAILY: the 'hours', 'minutes', 'seconds' and 'nanos' fields must be unset. Different metric sets support different timezones. It can be left unset to use the default timezone specified by the metric set. The timezone of the end point must match the timezone of the start point.",
          "$ref": "GoogleTypeDateTime"
        },
        "endTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Ending datapoint of the timeline (exclusive). See start_time for restrictions. The timezone of the end point must match the timezone of the start point."
        },
        "aggregationPeriod": {
          "description": "Type of the aggregation period of the datapoints in the timeline. Intervals are identified by the date and time at the start of the interval.",
          "type": "string",
          "enum": [
            "AGGREGATION_PERIOD_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "FULL_RANGE"
          ],
          "enumDescriptions": [
            "Unspecified granularity.",
            "Data is aggregated in hourly intervals.",
            "Data is aggregated in daily intervals.",
            "Data is aggregated over the full timeline range. Effectively this produces a single value rather than a timeline."
          ]
        }
      }
    },
    "GoogleTypeDecimal": {
      "type": "object",
      "id": "GoogleTypeDecimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's BigDecimal or Python's decimal.Decimal. [BigDecimal]: https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html [decimal.Decimal]: https://docs.python.org/3/library/decimal.html",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -\u003e `2.5`). - Replacing a zero-length integer value with `0` (`.5` -\u003e `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -\u003e `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -\u003e `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` \u003c-\u003e `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1AppVersion": {
      "id": "GooglePlayDeveloperReportingV1beta1AppVersion",
      "description": "Representations of an app version.",
      "type": "object",
      "properties": {
        "versionCode": {
          "description": "Numeric version code of the app version (set by the app's developer).",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1DimensionValue": {
      "type": "object",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Actual value, represented as a string."
        },
        "int64Value": {
          "format": "int64",
          "description": "Actual value, represented as an int64.",
          "type": "string"
        },
        "valueLabel": {
          "type": "string",
          "description": "Optional. Human-friendly label for the value, always in English. For example, 'Spain' for the 'ES' country code. Whereas the dimension value is stable, this value label is subject to change. Do not assume that the (value, value_label) relationship is stable. For example, the ISO country code 'MK' changed its name recently to 'North Macedonia'."
        },
        "dimension": {
          "description": "Name of the dimension.",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1DimensionValue",
      "description": "Represents the value of a single dimension."
    },
    "GooglePlayDeveloperReportingV1beta1CrashRateMetricSet": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/crashRateMetricSet",
          "type": "string"
        },
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo"
        }
      },
      "description": "Singleton resource representing the set of crashrate metrics. This metric set contains crashes data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`. **Supported metrics:** * `crashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash. * `crashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `crashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash while they were actively using your app (a user-perceived crash). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedCrashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `crashRate` and `userPerceivedCrashRate` metrics. A user is counted in this metric if they used the app actively during the aggregation period. An app is considered to be in active use if it is displaying any activity or executing any foreground service. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about ANRs, another stability metric.",
      "id": "GooglePlayDeveloperReportingV1beta1CrashRateMetricSet"
    },
    "GooglePlayDeveloperReportingV1beta1ExcessiveWakeupRateMetricSet": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet"
        },
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1ExcessiveWakeupRateMetricSet",
      "description": "Singleton resource representing the set of Excessive Weakeups metrics. This metric set contains AlarmManager wakeup counts data combined with process state data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `excessiveWakeupRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had more than 10 wakeups per hour. * `excessiveWakeupRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `excessiveWakeupRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `excessiveWakeupRate` metric. A user is counted in this metric if they app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app."
    },
    "GooglePlayDeveloperReportingV1beta1ListAnomaliesResponse": {
      "id": "GooglePlayDeveloperReportingV1beta1ListAnomaliesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        },
        "anomalies": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1Anomaly"
          },
          "description": "Anomalies that were found."
        }
      },
      "description": "Response with a list of anomalies in datasets."
    },
    "GooglePlayDeveloperReportingV1beta1Track": {
      "id": "GooglePlayDeveloperReportingV1beta1Track",
      "description": "A representation of a Play release track.",
      "properties": {
        "servingReleases": {
          "description": "Represents all active releases in the track.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1Release"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Readable identifier of the track.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the track."
        }
      },
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1Release": {
      "description": "A representation of an app release.",
      "properties": {
        "versionCodes": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "The version codes contained in this release."
        },
        "displayName": {
          "description": "Readable identifier of the release.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1Release"
    },
    "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetResponse": {
      "id": "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetResponse",
      "type": "object",
      "description": "Error counts query response.",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          },
          "description": "Returned rows."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1ReleaseFilterOptions": {
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1Track"
          },
          "description": "List of tracks to filter releases over. Provides the grouping of version codes under releases and tracks.",
          "type": "array"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1ReleaseFilterOptions",
      "type": "object",
      "description": "A set of filtering options for releases and version codes specific to an app."
    },
    "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetResponse": {
      "type": "object",
      "properties": {
        "rows": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          },
          "description": "Returned rows of data.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        }
      },
      "description": "Response message for QueryAnrRateMetricSet.",
      "id": "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetResponse"
    },
    "GooglePlayDeveloperReportingV1beta1ErrorReport": {
      "description": "An error report received for an app. There reports are produced by the Android platform code when a (potentially fatal) error condition is detected. Identical reports from many users will be deduplicated and coalesced into a single ErrorReport. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "properties": {
        "vcsInformation": {
          "description": "Version control system information from BUNDLE-METADATA/version-control-info.textproto or META-INF/version-control-info.textproto of the app bundle or APK, respectively.",
          "type": "string"
        },
        "osVersion": {
          "description": "The OS version on which an event in this error report occurred on.",
          "$ref": "GooglePlayDeveloperReportingV1beta1OsVersion"
        },
        "name": {
          "description": "The resource name of the report. Format: apps/{app}/{report}",
          "type": "string"
        },
        "appVersion": {
          "$ref": "GooglePlayDeveloperReportingV1beta1AppVersion",
          "description": "The app version on which an event in this error report occurred on."
        },
        "issue": {
          "description": "The issue this report was associated with. **Please note:** this resource is currently in Alpha. There could be changes to the issue grouping that would result in similar but more recent error reports being assigned to a different issue.",
          "type": "string"
        },
        "reportText": {
          "description": "Textual representation of the error report. These textual reports are produced by the platform. The reports are then sanitized and filtered to remove any potentially sensitive information. Although their format is fairly stable, they are not entirely meant for machine consumption and we cannot guarantee that there won't be subtle changes to the formatting that may break systems trying to parse information out of the reports.",
          "type": "string"
        },
        "deviceModel": {
          "$ref": "GooglePlayDeveloperReportingV1beta1DeviceModelSummary",
          "description": "A device model on which an event in this error report occurred on."
        },
        "type": {
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "APPLICATION_NOT_RESPONDING",
            "CRASH"
          ],
          "description": "Type of the error for which this report was generated.",
          "enumDescriptions": [
            "Unspecified error type.",
            "Application Not Responding (ANR) error. To learn more about this type of errors visit the corresponding Android Developers documentation.",
            "Crash caused by an unhandled exception in Java (or Kotlin or any other JVM language) or a signal in native code such as SIGSEGV."
          ]
        },
        "eventTime": {
          "type": "string",
          "description": "Start of the hour during which the latest event in this error report occurred.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1ErrorReport"
    },
    "GooglePlayDeveloperReportingV1beta1SearchErrorReportsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token to fetch the next page of reports."
        },
        "errorReports": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ErrorReport"
          },
          "type": "array",
          "description": "Error reports that were found."
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1SearchErrorReportsResponse",
      "description": "Response with a paginated list of error reports matching the search query.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet": {
      "id": "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet",
      "properties": {
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/slowStartRateMetricSet",
          "type": "string"
        },
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo"
        }
      },
[...]
