{
  "mtlsRootUrl": "https://playdeveloperreporting.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "canonicalName": "Playdeveloperreporting",
  "title": "Google Play Developer Reporting API",
  "revision": "20230419",
  "description": "",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playdeveloperreporting": {
          "description": "See metrics and data about the apps in your Google Play Developer account"
        }
      }
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "baseUrl": "https://playdeveloperreporting.googleapis.com/",
  "name": "playdeveloperreporting",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/play/developer/reporting",
  "resources": {
    "anomalies": {
      "methods": {
        "list": {
          "path": "v1beta1/{+parent}/anomalies",
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ListAnomaliesResponse"
          },
          "description": "Lists anomalies in any of the datasets.",
          "parameterOrder": [
            "parent"
          ],
          "id": "playdeveloperreporting.anomalies.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "parameters": {
            "parent": {
              "description": "Required. Parent app for which anomalies were detected. Format: apps/{app}",
              "required": true,
              "type": "string",
              "pattern": "^apps/[^/]+$",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListErrorReports` must match the call that provided the page token."
            },
            "filter": {
              "description": "Filtering criteria for anomalies. For basic filter guidance, please check: https://google.aip.dev/160. **Supported functions:** * `activeBetween(startTime, endTime)`: If specified, only list anomalies that were active in between `startTime` (inclusive) and `endTime` (exclusive). Both parameters are expected to conform to an RFC-3339 formatted string (e.g. `2012-04-21T11:30:00-04:00`). UTC offsets are supported. Both `startTime` and `endTime` accept the special value `UNBOUNDED`, to signify intervals with no lower or upper bound, respectively. Examples: * `activeBetween(\"2021-04-21T11:30:00Z\", \"2021-07-21T00:00:00Z\")` * `activeBetween(UNBOUNDED, \"2021-11-21T00:00:00-04:00\")` * `activeBetween(\"2021-07-21T00:00:00-04:00\", UNBOUNDED)`",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "Maximum size of the returned data. If unspecified, at most 10 anomalies will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32",
              "type": "integer"
            }
          },
          "flatPath": "v1beta1/apps/{appsId}/anomalies"
        }
      }
    },
    "vitals": {
      "resources": {
        "slowstartrate": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet"
              },
              "description": "Describes the properties of the metric set.",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "flatPath": "v1beta1/apps/{appsId}/slowStartRateMetricSet",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "playdeveloperreporting.vitals.slowstartrate.get",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet",
                  "required": true,
                  "location": "path",
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$",
                  "type": "string"
                }
              }
            },
            "query": {
              "flatPath": "v1beta1/apps/{appsId}/slowStartRateMetricSet:query",
              "id": "playdeveloperreporting.vitals.slowstartrate.query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$",
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet",
                  "required": true
                }
              },
              "description": "Queries the metrics in the metric set.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetResponse"
              },
              "path": "v1beta1/{+name}:query",
              "httpMethod": "POST"
            }
          }
        },
        "stuckbackgroundwakelockrate": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1StuckBackgroundWakelockRateMetricSet"
              },
              "flatPath": "v1beta1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet"
                }
              },
              "description": "Describes the properties of the metric set.",
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.get",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ]
            },
            "query": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "flatPath": "v1beta1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet:query",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet"
                }
              },
              "description": "Queries the metrics in the metric set.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:query",
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetResponse"
              }
            }
          }
        },
        "excessivewakeuprate": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1ExcessiveWakeupRateMetricSet"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "required": true
                }
              },
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1beta1/apps/{appsId}/excessiveWakeupRateMetricSet",
              "description": "Describes the properties of the metric set."
            },
            "query": {
              "flatPath": "v1beta1/apps/{appsId}/excessiveWakeupRateMetricSet:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetRequest"
              },
              "path": "v1beta1/{+name}:query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Queries the metrics in the metric set.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.query",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "type": "string",
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetResponse"
              }
            }
          }
        },
        "crashrate": {
          "methods": {
            "query": {
              "flatPath": "v1beta1/apps/{appsId}/crashRateMetricSet:query",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetRequest"
              },
              "id": "playdeveloperreporting.vitals.crashrate.query",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "required": true,
                  "pattern": "^apps/[^/]+/crashRateMetricSet$",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Queries the metrics in the metric set.",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetResponse"
              },
              "path": "v1beta1/{+name}:query"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1CrashRateMetricSet"
              },
              "description": "Describes the properties of the metric set.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "required": true,
                  "pattern": "^apps/[^/]+/crashRateMetricSet$"
                }
              },
              "flatPath": "v1beta1/apps/{appsId}/crashRateMetricSet",
              "id": "playdeveloperreporting.vitals.crashrate.get",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "slowrenderingrate": {
          "methods": {
            "query": {
              "httpMethod": "POST",
              "id": "playdeveloperreporting.vitals.slowrenderingrate.query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Queries the metrics in the metric set.",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetRequest"
              },
              "flatPath": "v1beta1/apps/{appsId}/slowRenderingRateMetricSet:query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetResponse"
              },
              "path": "v1beta1/{+name}:query",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet",
                  "type": "string",
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "v1beta1/apps/{appsId}/slowRenderingRateMetricSet",
              "id": "playdeveloperreporting.vitals.slowrenderingrate.get",
              "description": "Describes the properties of the metric set.",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet",
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$",
                  "location": "path"
                }
              },
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1SlowRenderingRateMetricSet"
              }
            }
          }
        },
        "anrrate": {
          "methods": {
            "query": {
              "flatPath": "v1beta1/apps/{appsId}/anrRateMetricSet:query",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetResponse"
              },
              "description": "Queries the metrics in the metric set.",
              "path": "v1beta1/{+name}:query",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetRequest"
              },
              "id": "playdeveloperreporting.vitals.anrrate.query"
            },
            "get": {
              "flatPath": "v1beta1/apps/{appsId}/anrRateMetricSet",
              "id": "playdeveloperreporting.vitals.anrrate.get",
              "description": "Describes the properties of the metric set.",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet",
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1AnrRateMetricSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ]
            }
          }
        },
        "errors": {
          "resources": {
            "reports": {
              "methods": {
                "search": {
                  "path": "v1beta1/{+parent}/errorReports:search",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "interval.endTime.utcOffset": {
                      "type": "string",
                      "format": "google-duration",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "A selection predicate to retrieve only a subset of the reports. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error reports that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error reports that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error reports that occurred in the requested devices. Example: `deviceModel = \"walleye\" OR deviceModel = \"marlin\"`. * `deviceType`: Matches error reports that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error reports of the requested types only. Valid candidates: `JAVA_CRASH`, `NATIVE_CRASH`, `ANR`. Example: `errorIssueType = JAVA_CRASH OR errorIssueType = NATIVE_CRASH`. * `errorIssueId`: Matches error reports belonging to the requested error issue ids only. Example: `errorIssueId = 1234 OR errorIssueId = 4567`. * `appProcessState`: Matches error reports on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error reports that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR versionCode = ANR`. The filter expression `versionCode = 123 OR errorIssueType = ANR` is not valid. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `SearchErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchErrorReports` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "interval.startTime.hours": {
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.endTime.minutes": {
                      "location": "query",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.endTime.month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "location": "query"
                    },
                    "interval.startTime.timeZone.id": {
                      "location": "query",
                      "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
                      "type": "string"
                    },
                    "interval.endTime.day": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
                    },
                    "interval.startTime.minutes": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "format": "int32"
                    },
                    "interval.startTime.day": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "format": "int32"
                    },
                    "interval.startTime.year": {
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "interval.endTime.year": {
                      "format": "int32",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageSize": {
                      "description": "The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 50 reports will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.endTime.timeZone.id": {
                      "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^apps/[^/]+$",
                      "description": "Required. Parent resource of the reports, indicating the application for which they were received. Format: apps/{app}",
                      "type": "string"
                    },
                    "interval.endTime.timeZone.version": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
                    },
                    "interval.startTime.timeZone.version": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
                    },
                    "interval.startTime.nanos": {
                      "type": "integer",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.endTime.hours": {
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "interval.startTime.month": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "type": "integer"
                    },
                    "interval.startTime.seconds": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "type": "integer"
                    },
                    "interval.startTime.utcOffset": {
                      "type": "string",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "location": "query",
                      "format": "google-duration"
                    },
                    "interval.endTime.nanos": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
                    },
                    "interval.endTime.seconds": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
                    }
                  },
                  "id": "playdeveloperreporting.vitals.errors.reports.search",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1SearchErrorReportsResponse"
                  },
                  "description": "Searches all error reports received for an app.",
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "flatPath": "v1beta1/apps/{appsId}/errorReports:search"
                }
              }
            },
            "issues": {
              "methods": {
                "search": {
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1SearchErrorIssuesResponse"
                  },
                  "flatPath": "v1beta1/apps/{appsId}/errorIssues:search",
                  "parameters": {
                    "interval.endTime.minutes": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "format": "int32"
                    },
                    "interval.endTime.timeZone.version": {
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
                      "type": "string"
                    },
                    "interval.startTime.utcOffset": {
                      "location": "query",
                      "type": "string",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "format": "google-duration"
                    },
                    "interval.startTime.day": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
                    },
                    "interval.startTime.hours": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "location": "query"
                    },
                    "interval.startTime.timeZone.id": {
                      "type": "string",
                      "location": "query",
                      "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\"."
                    },
                    "interval.endTime.timeZone.id": {
                      "location": "query",
                      "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
                      "type": "string"
                    },
                    "interval.endTime.day": {
                      "location": "query",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.startTime.seconds": {
                      "type": "integer",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "format": "int32",
                      "location": "query"
                    },
                    "interval.startTime.minutes": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
                    },
                    "interval.endTime.hours": {
                      "type": "integer",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of error issues to return. The service may return fewer than this value. If unspecified, at most 50 error issues will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "interval.startTime.month": {
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.endTime.nanos": {
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Parent resource of the error issues, indicating the application for which they were received. Format: apps/{app}"
                    },
                    "interval.endTime.year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "location": "query"
                    },
                    "interval.startTime.nanos": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "format": "int32"
                    },
                    "interval.startTime.year": {
                      "format": "int32",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "type": "integer",
                      "location": "query"
                    },
                    "interval.startTime.timeZone.version": {
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
                      "type": "string"
                    },
                    "interval.endTime.seconds": {
                      "format": "int32",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.endTime.month": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "A selection predicate to retrieve only a subset of the issues. Counts in the returned error issues will only reflect occurrences that matched the filter. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error issues that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error issues that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"walleye\" OR deviceModel = \"marlin\"`. * `deviceType`: Matches error issues that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error issues of the requested types only. Valid candidates: `CRASH`, `ANR`. Example: `errorIssueType = CRASH OR errorIssueType = ANR`. * `appProcessState`: Matches error issues on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error issues that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR errorIssueType = ANR` is not a valid filter. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "type": "string",
                      "location": "query"
                    },
                    "interval.endTime.utcOffset": {
                      "type": "string",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "location": "query",
                      "format": "google-duration"
                    }
                  },
                  "id": "playdeveloperreporting.vitals.errors.issues.search",
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "httpMethod": "GET",
                  "description": "Searches all error issues in which reports have been grouped.",
                  "path": "v1beta1/{+parent}/errorIssues:search",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "counts": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "description": "Describes the properties of the metrics set.",
                  "flatPath": "v1beta1/apps/{appsId}/errorCountMetricSet",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^apps/[^/]+/errorCountMetricSet$",
                      "type": "string",
                      "description": "Required. Name of the errors metric set. Format: apps/{app}/errorCountMetricSet",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "playdeveloperreporting.vitals.errors.counts.get",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1ErrorCountMetricSet"
                  }
                },
                "query": {
                  "description": "Queries the metrics in the metrics set.",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetResponse"
                  },
                  "httpMethod": "POST",
                  "id": "playdeveloperreporting.vitals.errors.counts.query",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name. Format: apps/{app}/errorCountMetricSet",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^apps/[^/]+/errorCountMetricSet$"
                    }
                  },
                  "flatPath": "v1beta1/apps/{appsId}/errorCountMetricSet:query",
                  "request": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetRequest"
                  },
                  "path": "v1beta1/{+name}:query",
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "playdeveloperreporting:v1beta1",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "batchPath": "batch",
  "version": "v1beta1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetRequest": {
      "id": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetRequest",
      "description": "Request message for QuerySlowStartRateMetricSet.",
      "properties": {
        "filter": {
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000."
        },
        "userCohort": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "description": "User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta Android versions only, excluding data from released Android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\"."
        },
        "metrics": {
          "description": "Metrics to aggregate. **Supported metrics:** * `slowStartRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow start. * `slowStartRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowStartRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowStartRate` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec",
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`."
        },
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "dimensions": {
          "description": "Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleTypeTimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
        }
      },
      "id": "GoogleTypeTimeZone",
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetResponse": {
      "id": "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetResponse",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          },
          "description": "Returned rows."
        },
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        }
      },
      "description": "Error counts query response.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1StuckBackgroundWakelockRateMetricSet": {
      "type": "object",
      "description": "Singleton resource representing the set of Stuck Background Wakelocks metrics. This metric set contains PowerManager wakelock duration data combined with process state data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `stuckBgWakelockRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a wakelock held in the background for longer than 1 hour. * `stuckBgWakelockRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `stuckBgWakelockRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `stuckBgWakelockRate` metric. A user is counted in this metric if their app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "id": "GooglePlayDeveloperReportingV1beta1StuckBackgroundWakelockRateMetricSet",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet"
        },
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo"
        }
      }
    },
    "GoogleTypeDateTime": {
      "properties": {
        "year": {
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "format": "int32"
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
        },
        "seconds": {
          "type": "integer",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "type": "integer"
        },
        "utcOffset": {
          "format": "google-duration",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "type": "string"
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "GoogleTypeTimeZone"
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleTypeDateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetRequest": {
      "description": "Request message for QueryCrashRateMetricSet.",
      "type": "object",
      "properties": {
        "dimensions": {
          "description": "Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "filter": {
          "type": "string",
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
        },
        "pageToken": {
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        },
        "userCohort": {
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "description": "User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\".",
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000.",
          "format": "int32"
        },
        "timelineSpec": {
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`.",
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec"
        },
        "metrics": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Metrics to aggregate. **Supported metrics:** * `crashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash. * `crashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `crashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `userPerceivedCrashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash while they were actively using your app (a user-perceived crash). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedCrashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `userPerceivedCrashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `crashRate` and `userPerceivedCrashRate` metrics. A user is counted in this metric if they used the app actively during the aggregation period. An app is considered to be in active use if it is displaying any activity or executing any foreground service. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value."
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetRequest"
    },
    "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetRequest": {
      "id": "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetRequest",
      "type": "object",
      "description": "Request message for QueryExcessiveWakeupRateMetricSet.",
      "properties": {
        "pageToken": {
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        },
        "userCohort": {
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "description": "User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\".",
          "type": "string",
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ]
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Metrics to aggregate. **Supported metrics:** * `excessiveWakeupRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had more than 10 wakeups per hour. * `excessiveWakeupRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `excessiveWakeupRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `excessiveWakeupRate` metric. A user is counted in this metric if they app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value."
        },
        "timelineSpec": {
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`.",
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec"
        },
        "pageSize": {
          "type": "integer",
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "format": "int32"
        },
        "filter": {
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1DimensionValue": {
      "id": "GooglePlayDeveloperReportingV1beta1DimensionValue",
      "properties": {
        "int64Value": {
          "type": "string",
          "description": "Actual value, represented as an int64.",
          "format": "int64"
        },
        "stringValue": {
          "type": "string",
          "description": "Actual value, represented as a string."
        },
        "dimension": {
          "type": "string",
          "description": "Name of the dimension."
        },
        "valueLabel": {
          "type": "string",
          "description": "Optional. Human-friendly label for the value, always in English. For example, 'Spain' for the 'ES' country code. Whereas the dimension value is stable, this value label is subject to change. Do not assume that the (value, value_label) relationship is stable. For example, the ISO country code 'MK' changed its name recently to 'North Macedonia'."
        }
      },
      "type": "object",
      "description": "Represents the value of a single dimension."
    },
    "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet",
      "description": "Singleton resource representing the set of Slow Start metrics. This metric set contains Activity start duration data. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `slowStartRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow start. * `slowStartRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowStartRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowStartRate` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Required dimension:** This dimension must be specified with each request for the request to be valid. * `startType` (string): the type of start that was measured. Valid types are `HOT`, `WARM` and `COLD`. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "properties": {
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo"
        },
        "name": {
          "description": "The resource name. Format: apps/{app}/slowStartRateMetricSet",
          "type": "string"
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        },
        "rows": {
          "description": "Returned rows of data.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          },
          "type": "array"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetResponse",
      "type": "object",
      "description": "Response message for QueryExcessiveWakeupRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1beta1FreshnessInfoFreshness": {
      "description": "Information about data freshness for a single aggregation period.",
      "id": "GooglePlayDeveloperReportingV1beta1FreshnessInfoFreshness",
      "properties": {
        "aggregationPeriod": {
          "enumDescriptions": [
            "Unspecified granularity.",
            "Data is aggregated in hourly intervals.",
            "Data is aggregated in daily intervals."
          ],
          "enum": [
            "AGGREGATION_PERIOD_UNSPECIFIED",
            "HOURLY",
            "DAILY"
          ],
          "type": "string",
          "description": "Aggregation period for which data is available."
        },
        "latestEndTime": {
          "description": "Latest end time for which data is available, for the aggregation period. The time is specified in the metric set's default timezone. *Note:* time ranges in TimelineSpec are represented as `start_time, end_time)`. For example, if the latest available timeline data point for a `DAILY` aggregation period is `2021-06-23 00:00:00 America/Los_Angeles`, the value of this field would be `2021-06-24 00:00:00 America/Los_Angeles` so it can be easily reused in [TimelineSpec.end_time.",
          "$ref": "GoogleTypeDateTime"
        }
      },
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetResponse": {
      "properties": {
        "rows": {
          "description": "Returned rows of data.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        }
      },
      "description": "Response message for QueryCrashRateMetricSet.",
      "id": "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetResponse",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1MetricValue": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1MetricValue",
      "description": "Represents the value of a metric.",
      "properties": {
        "decimalValue": {
          "description": "Actual value, represented as a decimal number.",
          "$ref": "GoogleTypeDecimal"
        },
        "decimalValueConfidenceInterval": {
          "$ref": "GooglePlayDeveloperReportingV1beta1DecimalConfidenceInterval",
          "description": "Confidence interval of a value that is of type `type.Decimal`."
        },
        "metric": {
          "description": "Name of the metric.",
          "type": "string"
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1MetricsRow": {
      "id": "GooglePlayDeveloperReportingV1beta1MetricsRow",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricValue"
          },
          "description": "Metric columns in the row."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1DimensionValue"
          },
          "description": "Dimension columns in the row."
        },
        "startTime": {
          "description": "Starting date (and time for hourly aggregation) of the period covered by this row.",
          "$ref": "GoogleTypeDateTime"
        },
        "aggregationPeriod": {
          "type": "string",
          "description": "Granularity of the aggregation period of the row.",
          "enumDescriptions": [
            "Unspecified granularity.",
            "Data is aggregated in hourly intervals.",
            "Data is aggregated in daily intervals."
          ],
          "enum": [
            "AGGREGATION_PERIOD_UNSPECIFIED",
            "HOURLY",
            "DAILY"
          ]
        }
      },
      "description": "Represents a row of dimensions and metrics.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1Anomaly": {
      "properties": {
        "timelineSpec": {
          "description": "Timeline specification that covers the anomaly period.",
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec"
        },
        "dimensions": {
          "type": "array",
          "description": "Combination of dimensions in which the anomaly was detected.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1DimensionValue"
          }
        },
        "metric": {
          "description": "Metric where the anomaly was detected, together with the anomalous value.",
          "$ref": "GooglePlayDeveloperReportingV1beta1MetricValue"
        },
        "name": {
          "description": "Name of the anomaly. Format: apps/{app}/anomalies/{anomaly}",
          "type": "string"
        },
        "metricSet": {
          "description": "Metric set resource where the anomaly was detected.",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1Anomaly",
      "description": "Represents an anomaly detected in a dataset. Our anomaly detection systems flag datapoints in a time series that fall outside of and expected range derived from historical data. Although those expected ranges have an upper and a lower bound, we only flag anomalies when the data has become unexpectedly _worse_, which usually corresponds to the case where the metric crosses the upper bound. Multiple contiguous datapoints in a timeline outside of the expected range will be grouped into a single anomaly. Therefore, an anomaly represents effectively a segment of a metric's timeline. The information stored in the `timeline_spec`, `dimensions` and `metric` can be used to fetch a full timeline with extended ragne for context. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1ExcessiveWakeupRateMetricSet": {
      "id": "GooglePlayDeveloperReportingV1beta1ExcessiveWakeupRateMetricSet",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
          "type": "string"
        },
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        }
      },
      "description": "Singleton resource representing the set of Excessive Weakeups metrics. This metric set contains AlarmManager wakeup counts data combined with process state data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `excessiveWakeupRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had more than 10 wakeups per hour. * `excessiveWakeupRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `excessiveWakeupRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `excessiveWakeupRate` metric. A user is counted in this metric if they app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app."
    },
    "GooglePlayDeveloperReportingV1beta1ErrorCountMetricSet": {
      "description": "Singleton resource representing the set of error report metrics. This metric set contains un-normalized error report counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. The default and only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `errorReportCount` (`google.type.Decimal`): Absolute count of individual error reports that have been received for an app. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which reports have been received. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. This value is not rounded, however it may be an approximation. **Required dimension:** This dimension must be always specified in all requests in the `dimensions` field in query requests. * `reportType` (string): the type of error. The value should correspond to one of the possible values in ErrorType. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): identifier of the device's form factor, e.g., PHONE. * `issueId` (string): the id an error was assigned to. The value should correspond to the `{issue}` component of the issue name. * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors.counts contains normalized metrics about Crashes, another stability metric. * vitals.errors.counts contains normalized metrics about ANRs, another stability metric.",
      "properties": {
        "name": {
          "description": "The resource name. Format: apps/{app}/errorCountMetricSet",
          "type": "string"
        },
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1ErrorCountMetricSet",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1DecimalConfidenceInterval": {
      "id": "GooglePlayDeveloperReportingV1beta1DecimalConfidenceInterval",
      "description": "Represents the confidence interval of a metric.",
      "type": "object",
      "properties": {
        "upperBound": {
          "$ref": "GoogleTypeDecimal",
          "description": "The confidence interval's upper bound."
        },
        "lowerBound": {
          "$ref": "GoogleTypeDecimal",
          "description": "The confidence interval's lower bound."
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1ListAnomaliesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        },
        "anomalies": {
          "description": "Anomalies that were found.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1Anomaly"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response with a list of anomalies in datasets.",
      "id": "GooglePlayDeveloperReportingV1beta1ListAnomaliesResponse"
    },
    "GooglePlayDeveloperReportingV1beta1ErrorReport": {
      "description": "An error report received for an app. There reports are produced by the Android platform code when a (potentially fatal) error condition is detected. Identical reports from many users will be deduplicated and coalesced into a single ErrorReport. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1ErrorReport",
      "properties": {
        "type": {
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "APPLICATION_NOT_RESPONDING",
            "CRASH"
          ],
          "description": "Type of the error for which this report was generated.",
          "enumDescriptions": [
            "Unspecified error type.",
            "Application Not Responding (ANR) error. To learn more about this type of errors visit the corresponding Android Developers documentation.",
            "Crash caused by an unhandled exception in Java (or Kotlin or any other JVM language) or a signal in native code such as SIGSEGV."
          ],
          "type": "string"
        },
        "issue": {
          "type": "string",
          "description": "The issue this report was associated with. **Please note:** this resource is currently in Alpha. There could be changes to the issue grouping that would result in similar but more recent error reports being assigned to a different issue."
        },
        "name": {
          "description": "The resource name of the report. Format: apps/{app}/errorReports/{report}",
          "type": "string"
        },
        "reportText": {
          "type": "string",
          "description": "Textual representation of the error report. These textual reports are produced by the platform. The reports are then sanitized and filtered to remove any potentially sensitive information. Although their format is fairly stable, they are not entirely meant for machine consumption and we cannot guarantee that there won't be subtle changes to the formatting that may break systems trying to parse information out of the reports."
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1SearchErrorIssuesResponse": {
      "properties": {
        "errorIssues": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ErrorIssue"
          },
          "description": "ErrorIssues that were found.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1SearchErrorIssuesResponse",
      "type": "object",
      "description": "Response with a paginated list of issues that matched the request."
    },
    "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetResponse": {
      "description": "Response message for QueryStuckBackgroundWakelockRateMetricSet.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        },
        "rows": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          },
          "description": "Returned rows of data.",
          "type": "array"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetResponse",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1CrashRateMetricSet": {
      "description": "Singleton resource representing the set of crashrate metrics. This metric set contains crashes data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `crashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash. * `crashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `crashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `userPerceivedCrashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash while they were actively using your app (a user-perceived crash). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedCrashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `userPerceivedCrashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `crashRate` and `userPerceivedCrashRate` metrics. A user is counted in this metric if they used the app actively during the aggregation period. An app is considered to be in active use if it is displaying any activity or executing any foreground service. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): the type (also known as form factor) of the user's device. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about ANRs, another stability metric.",
      "properties": {
        "name": {
          "type": "string",
[...]
