{
  "revision": "20220904",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "protocol": "rest",
  "id": "playintegrity:v1",
  "description": "Play Integrity",
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "rootUrl": "https://playintegrity.googleapis.com/",
  "title": "Google Play Integrity API",
  "resources": {
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "id": "playintegrity.decodeIntegrityToken",
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          },
          "parameters": {
            "packageName": {
              "location": "path",
              "description": " Package name of the app the attached integrity token belongs to.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "description": "Decodes the integrity token and returns the token payload.",
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          }
        }
      }
    }
  },
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "playintegrity",
  "basePath": "",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "DeviceIntegrity": {
      "type": "object",
      "description": "Contains the device attestation information.",
      "properties": {
        "deviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "type": "string"
          },
          "description": "Details about the integrity of the device the app is running on"
        }
      },
      "id": "DeviceIntegrity"
    },
    "AppIntegrity": {
      "description": "Contains the application integrity information.",
      "id": "AppIntegrity",
      "type": "object",
      "properties": {
        "versionCode": {
          "type": "string",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED.",
          "format": "int64"
        },
        "packageName": {
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "certificateSha256Digest": {
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appRecognitionVerdict": {
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the app recognition verdict",
          "type": "string"
        }
      }
    },
    "TestingDetails": {
      "properties": {
        "isTestingResponse": {
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      },
      "description": "Contains additional information generated for testing responses.",
      "id": "TestingDetails",
      "type": "object"
    },
    "AccountRiskVerdict": {
      "id": "AccountRiskVerdict",
      "type": "object",
      "properties": {
        "risk": {
          "description": "Required. Indicates the account risk level of the current user session.",
          "enumDescriptions": [
            "Risk has not been set.",
            "The account risk is not evaluated, because the device is not trusted or the user does not have a Play app license.",
            "Play thinks that at least one of the user accounts on the device has some unusual store engagement behavior that could be risky.",
            "Play does not have sufficient information to assess the risk. The account may be new, or it may lack activity on the Play Store.",
            "Play thinks the user could be genuine, since there is some store engagement. However, some signals to support the trust level are missing.",
            "Play thinks the user is more likely to be genuine due to harder to replicate store engagement signals."
          ],
          "type": "string",
          "enum": [
            "RISK_UNSPECIFIED",
            "UNEVALUATED",
            "HIGHER",
            "UNKNOWN",
            "LOWER",
            "LOWEST"
          ]
        },
        "riskLevel": {
          "type": "string",
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_UNEVALUATED",
            "RISK_LEVEL_RISK",
            "RISK_LEVEL_UNKNOWN",
            "RISK_LEVEL_LOW_RISK",
            "RISK_LEVEL_LOWEST_RISK"
          ],
          "description": "Required. Indicates the account risk level of the current user session.",
          "enumDescriptions": [
            "Risk level has not been set.",
            "The account risk is not evaluated, because the device is not trusted or the user does not have a Play app license.",
            "Play thinks that at least one of the user accounts on the device has some unusual store engagement behavior that could be risky.",
            "Play does not have sufficient information to assess the risk. The account may be new, or it may lack activity on the Play Store.",
            "Play thinks the user could be genuine, since there is some store engagement. However, some signals to support the trust level are missing.",
            "Play thinks the user is more likely to be genuine due to harder to replicate store engagement signals."
          ]
        }
      },
      "description": "Contains information about account risk that indicates if the current user session seems low risk, unknown, or risky before you allow important actions to proceed."
    },
    "RequestDetails": {
      "id": "RequestDetails",
      "type": "object",
      "properties": {
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity."
        },
        "timestampMillis": {
          "format": "int64",
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "type": "string"
        },
        "nonce": {
          "type": "string",
          "description": "Required. Nonce that was provided in the request (which is base64 web-safe no-wrap)."
        }
      },
      "description": "Contains the integrity request information."
    },
    "DecodeIntegrityTokenRequest": {
      "type": "object",
      "description": "Request to decode the integrity token.",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "id": "DecodeIntegrityTokenRequest"
    },
    "TokenPayloadExternal": {
      "type": "object",
      "properties": {
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "TestingDetails"
        },
        "requestDetails": {
          "$ref": "RequestDetails",
          "description": "Required. Details about the integrity request."
        },
        "deviceIntegrity": {
          "$ref": "DeviceIntegrity",
          "description": "Required. Details about the device integrity."
        },
        "appIntegrity": {
          "description": "Required. Details about the application integrity.",
          "$ref": "AppIntegrity"
        },
        "accountDetails": {
          "$ref": "AccountDetails",
          "description": "Required. Details about the Play Store account."
        }
      },
      "id": "TokenPayloadExternal",
      "description": "Contains basic app information and integrity signals like device attestation and licensing details."
    },
    "DecodeIntegrityTokenResponse": {
      "type": "object",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      },
      "description": "Response containing the decoded integrity payload.",
      "id": "DecodeIntegrityTokenResponse"
    },
    "AccountDetails": {
      "id": "AccountDetails",
      "properties": {
        "accountRiskVerdict": {
          "description": "Details about the account risk for the user in the scope. This feature is available only to selected developers.",
          "$ref": "AccountRiskVerdict"
        },
        "appLicensingVerdict": {
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains the account information such as the licensing status for the user in the scope."
    }
  },
  "batchPath": "batch",
  "baseUrl": "https://playintegrity.googleapis.com/",
  "canonicalName": "Play Integrity",
  "kind": "discovery#restDescription"
}
