{
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "protocol": "rest",
  "mtlsRootUrl": "https://playdeveloperreporting.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "version_module": true,
  "name": "playdeveloperreporting",
  "servicePath": "",
  "title": "Google Play Developer Reporting API",
  "batchPath": "batch",
  "version": "v1beta1",
  "baseUrl": "https://playdeveloperreporting.googleapis.com/",
  "description": "",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    }
  },
  "canonicalName": "Playdeveloperreporting",
  "rootUrl": "https://playdeveloperreporting.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playdeveloperreporting": {
          "description": "See metrics and data about the apps in your Google Play Developer account"
        }
      }
    }
  },
  "revision": "20231207",
  "resources": {
    "apps": {
      "methods": {
        "fetchReleaseFilterOptions": {
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "id": "playdeveloperreporting.apps.fetchReleaseFilterOptions",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Name of the resource, i.e. app the filtering options are for. Format: apps/{app}",
              "pattern": "^apps/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1beta1/{+name}:fetchReleaseFilterOptions",
          "description": "Describes filtering options for releases.",
          "flatPath": "v1beta1/apps/{appsId}:fetchReleaseFilterOptions",
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ReleaseFilterOptions"
          }
        },
        "search": {
          "flatPath": "v1beta1/apps:search",
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1beta1SearchAccessibleAppsResponse"
          },
          "description": "Searches for Apps accessible by the user.",
          "path": "v1beta1/apps:search",
          "parameterOrder": [],
          "id": "playdeveloperreporting.apps.search",
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "parameters": {
            "pageToken": {
              "description": "A page token, received from a previous `SearchAccessibleApps` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchAccessibleApps` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of apps to return. The service may return fewer than this value. If unspecified, at most 50 apps will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "anomalies": {
      "methods": {
        "list": {
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ListAnomaliesResponse"
          },
          "description": "Lists anomalies in any of the datasets.",
          "httpMethod": "GET",
          "flatPath": "v1beta1/apps/{appsId}/anomalies",
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "id": "playdeveloperreporting.anomalies.list",
          "parameters": {
            "filter": {
              "location": "query",
              "description": "Filtering criteria for anomalies. For basic filter guidance, please check: https://google.aip.dev/160. **Supported functions:** * `activeBetween(startTime, endTime)`: If specified, only list anomalies that were active in between `startTime` (inclusive) and `endTime` (exclusive). Both parameters are expected to conform to an RFC-3339 formatted string (e.g. `2012-04-21T11:30:00-04:00`). UTC offsets are supported. Both `startTime` and `endTime` accept the special value `UNBOUNDED`, to signify intervals with no lower or upper bound, respectively. Examples: * `activeBetween(\"2021-04-21T11:30:00Z\", \"2021-07-21T00:00:00Z\")` * `activeBetween(UNBOUNDED, \"2021-11-21T00:00:00-04:00\")` * `activeBetween(\"2021-07-21T00:00:00-04:00\", UNBOUNDED)`",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "pattern": "^apps/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. Parent app for which anomalies were detected. Format: apps/{app}"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListErrorReports` must match the call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "Maximum size of the returned data. If unspecified, at most 10 anomalies will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer",
              "location": "query"
            }
          },
          "path": "v1beta1/{+parent}/anomalies",
          "parameterOrder": [
            "parent"
          ]
        }
      }
    },
    "vitals": {
      "resources": {
        "crashrate": {
          "methods": {
            "query": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "flatPath": "v1beta1/apps/{appsId}/crashRateMetricSet:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetRequest"
              },
              "id": "playdeveloperreporting.vitals.crashrate.query",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^apps/[^/]+/crashRateMetricSet$",
                  "required": true,
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetResponse"
              },
              "path": "v1beta1/{+name}:query",
              "httpMethod": "POST",
              "description": "Queries the metrics in the metric set."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta1/apps/{appsId}/crashRateMetricSet",
              "description": "Describes the properties of the metric set.",
              "id": "playdeveloperreporting.vitals.crashrate.get",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1CrashRateMetricSet"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^apps/[^/]+/crashRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "type": "string"
                }
              }
            }
          }
        },
        "stuckbackgroundwakelockrate": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet",
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$"
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1StuckBackgroundWakelockRateMetricSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Describes the properties of the metric set.",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.get",
              "httpMethod": "GET",
              "flatPath": "v1beta1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet"
            },
            "query": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetRequest"
              },
              "description": "Queries the metrics in the metric set.",
              "flatPath": "v1beta1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet:query",
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.query",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$",
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:query"
            }
          }
        },
        "excessivewakeuprate": {
          "methods": {
            "query": {
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:query",
              "flatPath": "v1beta1/apps/{appsId}/excessiveWakeupRateMetricSet:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetRequest"
              },
              "description": "Queries the metrics in the metric set.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "type": "string",
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$"
                }
              }
            },
            "get": {
              "flatPath": "v1beta1/apps/{appsId}/excessiveWakeupRateMetricSet",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.get",
              "description": "Describes the properties of the metric set.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1ExcessiveWakeupRateMetricSet"
              },
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "required": true,
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ]
            }
          }
        },
        "slowrenderingrate": {
          "methods": {
            "query": {
              "id": "playdeveloperreporting.vitals.slowrenderingrate.query",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$",
                  "required": true,
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet"
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "flatPath": "v1beta1/apps/{appsId}/slowRenderingRateMetricSet:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetRequest"
              },
              "description": "Queries the metrics in the metric set.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "path": "v1beta1/{+name}:query"
            },
            "get": {
              "flatPath": "v1beta1/apps/{appsId}/slowRenderingRateMetricSet",
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1SlowRenderingRateMetricSet"
              },
              "description": "Describes the properties of the metric set.",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet",
                  "type": "string",
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "playdeveloperreporting.vitals.slowrenderingrate.get"
            }
          }
        },
        "anrrate": {
          "methods": {
            "query": {
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet"
                }
              },
              "flatPath": "v1beta1/apps/{appsId}/anrRateMetricSet:query",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetRequest"
              },
              "httpMethod": "POST",
              "description": "Queries the metrics in the metric set.",
              "path": "v1beta1/{+name}:query",
              "id": "playdeveloperreporting.vitals.anrrate.query"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "description": "Describes the properties of the metric set.",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1AnrRateMetricSet"
              },
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet",
                  "location": "path"
                }
              },
              "id": "playdeveloperreporting.vitals.anrrate.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "flatPath": "v1beta1/apps/{appsId}/anrRateMetricSet"
            }
          }
        },
        "errors": {
          "resources": {
            "reports": {
              "methods": {
                "search": {
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "parameters": {
                    "interval.endTime.month": {
                      "format": "int32",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `SearchErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchErrorReports` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.startTime.timeZone.id": {
                      "location": "query",
                      "type": "string",
                      "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\"."
                    },
                    "interval.startTime.seconds": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent resource of the reports, indicating the application for which they were received. Format: apps/{app}",
                      "pattern": "^apps/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "description": "A selection predicate to retrieve only a subset of the reports. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error reports that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error reports that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"google/walleye\" OR deviceModel = \"google/marlin\"`. * `deviceBrand`: Matches error issues that occurred in the requested device brands. Example: `deviceBrand = \"Google\". * `deviceType`: Matches error reports that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error reports of the requested types only. Valid candidates: `JAVA_CRASH`, `NATIVE_CRASH`, `ANR`. Example: `errorIssueType = JAVA_CRASH OR errorIssueType = NATIVE_CRASH`. * `errorIssueId`: Matches error reports belonging to the requested error issue ids only. Example: `errorIssueId = 1234 OR errorIssueId = 4567`. * `appProcessState`: Matches error reports on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error reports that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR versionCode = ANR`. The filter expression `versionCode = 123 OR errorIssueType = ANR` is not valid. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 50 reports will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32"
                    },
                    "interval.startTime.day": {
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.endTime.nanos": {
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.endTime.day": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "type": "integer"
                    },
                    "interval.startTime.utcOffset": {
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "location": "query",
                      "type": "string",
                      "format": "google-duration"
                    },
                    "interval.startTime.nanos": {
                      "format": "int32",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.startTime.timeZone.version": {
                      "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.startTime.hours": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "location": "query"
                    },
                    "interval.startTime.month": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "location": "query"
                    },
                    "interval.endTime.timeZone.version": {
                      "type": "string",
                      "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
                      "location": "query"
                    },
                    "interval.endTime.timeZone.id": {
                      "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.startTime.year": {
                      "format": "int32",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.endTime.utcOffset": {
                      "format": "google-duration",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "type": "string",
                      "location": "query"
                    },
                    "interval.endTime.minutes": {
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "interval.endTime.seconds": {
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.endTime.hours": {
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.startTime.minutes": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
                    },
                    "interval.endTime.year": {
                      "location": "query",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1SearchErrorReportsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/apps/{appsId}/errorReports:search",
                  "id": "playdeveloperreporting.vitals.errors.reports.search",
                  "description": "Searches all error reports received for an app.",
                  "path": "v1beta1/{+parent}/errorReports:search"
                }
              }
            },
            "counts": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1ErrorCountMetricSet"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/apps/{appsId}/errorCountMetricSet",
                  "httpMethod": "GET",
                  "id": "playdeveloperreporting.vitals.errors.counts.get",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the errors metric set. Format: apps/{app}/errorCountMetricSet",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^apps/[^/]+/errorCountMetricSet$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "description": "Describes the properties of the metrics set."
                },
                "query": {
                  "request": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetRequest"
                  },
                  "flatPath": "v1beta1/apps/{appsId}/errorCountMetricSet:query",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "description": "Queries the metrics in the metrics set.",
                  "path": "v1beta1/{+name}:query",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^apps/[^/]+/errorCountMetricSet$",
                      "description": "Required. The resource name. Format: apps/{app}/errorCountMetricSet",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "id": "playdeveloperreporting.vitals.errors.counts.query",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetResponse"
                  }
                }
              }
            },
            "issues": {
              "methods": {
                "search": {
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1SearchErrorIssuesResponse"
                  },
                  "parameters": {
                    "interval.endTime.seconds": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "location": "query"
                    },
                    "interval.startTime.nanos": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.endTime.hours": {
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.startTime.timeZone.version": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
                    },
                    "filter": {
                      "description": "A selection predicate to retrieve only a subset of the issues. Counts in the returned error issues will only reflect occurrences that matched the filter. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error issues that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error issues that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"google/walleye\" OR deviceModel = \"google/marlin\"`. * `deviceBrand`: Matches error issues that occurred in the requested device brands. Example: `deviceBrand = \"Google\". * `deviceType`: Matches error issues that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error issues of the requested types only. Valid candidates: `CRASH`, `ANR`. Example: `errorIssueType = CRASH OR errorIssueType = ANR`. * `appProcessState`: Matches error issues on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error issues that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR errorIssueType = ANR` is not a valid filter. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.endTime.day": {
                      "location": "query",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.startTime.month": {
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.endTime.timeZone.version": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
                    },
                    "interval.startTime.minutes": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of error issues to return. The service may return fewer than this value. If unspecified, at most 50 error issues will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "interval.endTime.year": {
                      "type": "integer",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.startTime.timeZone.id": {
                      "type": "string",
                      "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Specifies a field that will be used to order the results. ** Supported dimensions:** * `errorReportCount`: Orders issues by number of error reports. * `distinctUsers`: Orders issues by number of unique affected users. ** Supported operations:** * `asc` for ascending order. * `desc` for descending order. Format: A field and an operation, e.g., `errorReportCount desc` *Note:* currently only one field is supported at a time.",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.startTime.utcOffset": {
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "format": "google-duration",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.endTime.utcOffset": {
                      "type": "string",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "format": "google-duration",
                      "location": "query"
                    },
                    "interval.startTime.seconds": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
                    },
                    "interval.endTime.minutes": {
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.startTime.year": {
                      "format": "int32",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.endTime.month": {
                      "type": "integer",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "format": "int32",
                      "location": "query"
                    },
                    "interval.endTime.timeZone.id": {
                      "location": "query",
                      "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
                      "type": "string"
                    },
                    "interval.startTime.day": {
                      "location": "query",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.endTime.nanos": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "type": "integer"
                    },
                    "interval.startTime.hours": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^apps/[^/]+$",
                      "description": "Required. Parent resource of the error issues, indicating the application for which they were received. Format: apps/{app}",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "playdeveloperreporting.vitals.errors.issues.search",
                  "description": "Searches all error issues in which reports have been grouped.",
                  "path": "v1beta1/{+parent}/errorIssues:search",
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/apps/{appsId}/errorIssues:search"
                }
              }
            }
          }
        },
        "slowstartrate": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "id": "playdeveloperreporting.vitals.slowstartrate.get",
              "description": "Describes the properties of the metric set.",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet"
              },
              "flatPath": "v1beta1/apps/{appsId}/slowStartRateMetricSet",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$"
                }
              },
              "httpMethod": "GET"
            },
            "query": {
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$",
                  "type": "string"
                }
              },
              "id": "playdeveloperreporting.vitals.slowstartrate.query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetResponse"
              },
              "httpMethod": "POST",
              "description": "Queries the metrics in the metric set.",
              "flatPath": "v1beta1/apps/{appsId}/slowStartRateMetricSet:query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "path": "v1beta1/{+name}:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetRequest"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "id": "playdeveloperreporting:v1beta1",
  "schemas": {
    "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetRequest": {
      "id": "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetRequest",
      "properties": {
        "pageSize": {
          "type": "integer",
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "format": "int32"
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec",
          "description": "Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`."
        },
        "metrics": {
          "description": "Metrics to aggregate. **Supported metrics:** * `stuckBgWakelockRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a wakelock held in the background for longer than 1 hour. * `stuckBgWakelockRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `stuckBgWakelockRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `stuckBgWakelockRate` metric. A user is counted in this metric if they app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "filter": {
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "userCohort": {
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "description": "User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\".",
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
        },
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        }
      },
      "type": "object",
      "description": "Request message for QueryStuckBackgroundWakelockRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1beta1SearchErrorIssuesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        },
        "errorIssues": {
          "type": "array",
          "description": "ErrorIssues that were found.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ErrorIssue"
          }
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1SearchErrorIssuesResponse",
      "type": "object",
      "description": "Response with a paginated list of issues that matched the request."
    },
    "GooglePlayDeveloperReportingV1beta1ErrorIssue": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the issue. Format: apps/{app}/errorIssues/{issue}",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of the errors grouped in this issue.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "APPLICATION_NOT_RESPONDING",
            "CRASH"
          ],
          "enumDescriptions": [
            "Unspecified error type.",
            "Application Not Responding (ANR) error. To learn more about this type of errors visit the corresponding Android Developers documentation.",
            "Crash caused by an unhandled exception in Java (or Kotlin or any other JVM language) or a signal in native code such as SIGSEGV."
          ]
        },
        "lastAppVersion": {
          "description": "The latest (inclusive) app version appearing in this ErrorIssue in the requested time period (only considering occurrences matching the filters).",
          "$ref": "GooglePlayDeveloperReportingV1beta1AppVersion"
        },
        "distinctUsersPercent": {
          "description": "An estimated percentage of users affected by any issue that are affected by this issue (only considering occurrences matching the filters and within the requested time period).",
          "$ref": "GoogleTypeDecimal"
        },
        "lastOsVersion": {
          "description": "The latest OS version in which this error cluster has occurred in the requested time period (only considering occurrences matching the filters and within the requested time period).",
          "$ref": "GooglePlayDeveloperReportingV1beta1OsVersion"
        },
        "cause": {
          "description": "Cause of the issue. Depending on the type this can be either: * APPLICATION_NOT_RESPONDING: the type of ANR that occurred, e.g., 'Input dispatching timed out'. * CRASH: for Java unhandled exception errors, the type of the innermost exception that was thrown, e.g., IllegalArgumentException. For signals in native code, the signal that was raised, e.g. SIGSEGV.",
          "type": "string"
        },
        "issueUri": {
          "type": "string",
          "description": "Link to the issue in Android vitals in the Play Console."
        },
        "firstOsVersion": {
          "$ref": "GooglePlayDeveloperReportingV1beta1OsVersion",
          "description": "The smallest OS version in which this error cluster has occurred in the requested time period (only considering occurrences matching the filters and within the requested time period)."
        },
        "distinctUsers": {
          "type": "string",
          "description": "An estimate of the number of unique users who have experienced this issue (only considering occurrences matching the filters and within the requested time period).",
          "format": "int64"
        },
        "lastErrorReportTime": {
          "description": "Start of the hour during which the last error report in this issue occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "location": {
          "description": "Location where the issue happened. Depending on the type this can be either: * APPLICATION_NOT_RESPONDING: the name of the activity or service that stopped responding. * CRASH: the likely method name that caused the error.",
          "type": "string"
        },
        "firstAppVersion": {
          "$ref": "GooglePlayDeveloperReportingV1beta1AppVersion",
          "description": "The earliest (inclusive) app version appearing in this ErrorIssue in the requested time period (only considering occurrences matching the filters)."
        },
        "errorReportCount": {
          "format": "int64",
          "description": "The total number of error reports in this issue (only considering occurrences matching the filters and within the requested time period).",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1ErrorIssue",
      "description": "A group of related ErrorReports received for an app. Similar error reports are grouped together into issues with a likely identical root cause. **Please note:** this resource is currently in Alpha. There could be changes to the issue grouping that would result in similar but more recent error reports being assigned to different issues. This could also cause some issues disappearing entirely and being replaced by new ones. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app."
    },
    "GooglePlayDeveloperReportingV1beta1CrashRateMetricSet": {
      "properties": {
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        },
        "name": {
          "description": "The resource name. Format: apps/{app}/crashRateMetricSet",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1CrashRateMetricSet",
      "description": "Singleton resource representing the set of crashrate metrics. This metric set contains crashes data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`. **Supported metrics:** * `crashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash. * `crashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `crashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash while they were actively using your app (a user-perceived crash). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedCrashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `crashRate` and `userPerceivedCrashRate` metrics. A user is counted in this metric if they used the app actively during the aggregation period. An app is considered to be in active use if it is displaying any activity or executing any foreground service. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about ANRs, another stability metric.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1MetricValue": {
      "description": "Represents the value of a metric.",
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1MetricValue",
      "properties": {
        "decimalValue": {
          "description": "Actual value, represented as a decimal number.",
          "$ref": "GoogleTypeDecimal"
        },
        "metric": {
          "description": "Name of the metric.",
          "type": "string"
        },
        "decimalValueConfidenceInterval": {
          "description": "Confidence interval of a value that is of type `type.Decimal`.",
          "$ref": "GooglePlayDeveloperReportingV1beta1DecimalConfidenceInterval"
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1App": {
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Package name of the app. Example: `com.example.app123`.",
          "type": "string"
        },
        "name": {
          "description": "The resource name. Format: apps/{app}",
          "type": "string"
        },
        "displayName": {
          "description": "Title of the app. This is the latest title as set in the Play Console and may not yet have been reviewed, so might not match the Play Store. Example: `Google Maps`.",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1App",
      "description": "A representation of an app in the Play Store."
    },
    "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        },
        "rows": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          },
          "description": "Returned rows of data.",
          "type": "array"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetResponse",
      "description": "Response message for QueryStuckBackgroundWakelockRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1beta1MetricsRow": {
      "type": "object",
      "description": "Represents a row of dimensions and metrics.",
      "properties": {
        "aggregationPeriod": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified granularity.",
            "Data is aggregated in hourly intervals.",
            "Data is aggregated in daily intervals.",
            "Data is aggregated over the full timeline range. Effectively this produces a single value rather than a timeline."
          ],
          "enum": [
            "AGGREGATION_PERIOD_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "FULL_RANGE"
          ],
          "description": "Granularity of the aggregation period of the row."
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricValue"
          },
          "description": "Metric columns in the row."
        },
        "dimensions": {
          "description": "Dimension columns in the row.",
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1DimensionValue"
          }
        },
        "startTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Starting date (and time for hourly aggregation) of the period covered by this row."
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1MetricsRow"
    },
    "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetResponse": {
      "id": "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          },
          "description": "Returned rows of data."
        }
      },
      "type": "object",
      "description": "Response message for QueryCrashRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet",
      "description": "Singleton resource representing the set of Slow Start metrics. This metric set contains Activity start duration data. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `slowStartRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow start. * `slowStartRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowStartRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowStartRate` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Required dimension:** This dimension must be specified with each request for the request to be valid. * `startType` (string): the type of start that was measured. Valid types are `HOT`, `WARM` and `COLD`. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "properties": {
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        },
        "name": {
          "description": "The resource name. Format: apps/{app}/slowStartRateMetricSet",
          "type": "string"
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1DeviceId": {
      "properties": {
        "buildDevice": {
          "type": "string",
          "description": "Value of Build.DEVICE."
        },
        "buildBrand": {
          "type": "string",
          "description": "Value of Build.BRAND."
        }
      },
      "description": "Identifier of a device.",
      "id": "GooglePlayDeveloperReportingV1beta1DeviceId",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetResponse": {
      "id": "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetResponse",
      "description": "Error counts query response.",
      "properties": {
        "rows": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          },
          "description": "Returned rows.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        }
      },
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1FreshnessInfo": {
      "type": "object",
      "properties": {
        "freshnesses": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfoFreshness"
          },
          "type": "array",
          "description": "Information about data freshness for every supported aggregation period. This field has set semantics, keyed by the `aggregation_period` field."
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1FreshnessInfo",
      "description": "Represents the latest available time that can be requested in a TimelineSpec. Different aggregation periods have different freshness. For example, `DAILY` aggregation may lag behind `HOURLY` in cases where such aggregation is computed only once at the end of the day."
    },
    "GooglePlayDeveloperReportingV1beta1Release": {
      "id": "GooglePlayDeveloperReportingV1beta1Release",
      "properties": {
        "versionCodes": {
          "description": "The version codes contained in this release.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Readable identifier of the release."
        }
      },
      "description": "A representation of an app release.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1SearchErrorReportsResponse": {
      "properties": {
        "errorReports": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ErrorReport"
          },
          "description": "Error reports that were found.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to fetch the next page of reports.",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1SearchErrorReportsResponse",
      "type": "object",
      "description": "Response with a paginated list of error reports matching the search query."
    },
    "GooglePlayDeveloperReportingV1beta1DecimalConfidenceInterval": {
      "id": "GooglePlayDeveloperReportingV1beta1DecimalConfidenceInterval",
      "description": "Represents the confidence interval of a metric.",
      "properties": {
        "upperBound": {
          "description": "The confidence interval's upper bound.",
          "$ref": "GoogleTypeDecimal"
        },
        "lowerBound": {
          "$ref": "GoogleTypeDecimal",
          "description": "The confidence interval's lower bound."
        }
      },
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1Track": {
      "id": "GooglePlayDeveloperReportingV1beta1Track",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the track."
        },
        "displayName": {
          "type": "string",
          "description": "Readable identifier of the track."
        },
        "servingReleases": {
          "type": "array",
          "description": "Represents all active releases in the track.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1Release"
          }
        }
      },
      "description": "A representation of a Play release track."
    },
    "GooglePlayDeveloperReportingV1beta1StuckBackgroundWakelockRateMetricSet": {
      "id": "GooglePlayDeveloperReportingV1beta1StuckBackgroundWakelockRateMetricSet",
      "description": "Singleton resource representing the set of Stuck Background Wakelocks metrics. This metric set contains PowerManager wakelock duration data combined with process state data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `stuckBgWakelockRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a wakelock held in the background for longer than 1 hour. * `stuckBgWakelockRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `stuckBgWakelockRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `stuckBgWakelockRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `stuckBgWakelockRate` metric. A user is counted in this metric if their app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet"
        },
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo"
        }
      },
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetResponse": {
      "description": "Response message for QueryExcessiveWakeupRateMetricSet.",
      "properties": {
        "rows": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          },
          "description": "Returned rows of data.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetResponse",
      "type": "object"
    },
    "GoogleTypeDateTime": {
      "id": "GoogleTypeDateTime",
      "properties": {
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "GoogleTypeTimeZone"
        },
        "month": {
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32",
          "type": "integer"
        },
        "utcOffset": {
          "format": "google-duration",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "type": "string"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
        },
        "day": {
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "format": "int32",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        }
      },
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "type": "object"
    },
    "GoogleTypeDecimal": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -\u003e `2.5`). - Replacing a zero-length integer value with `0` (`.5` -\u003e `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -\u003e `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -\u003e `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` \u003c-\u003e `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      },
      "type": "object",
      "id": "GoogleTypeDecimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's BigDecimal or Python's decimal.Decimal. [BigDecimal]: https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html [decimal.Decimal]: https://docs.python.org/3/library/decimal.html"
    },
    "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetResponse": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetResponse",
      "properties": {
        "rows": {
          "description": "Returned rows of data.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        }
      },
      "description": "Response message for QuerySlowStartRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1beta1ReleaseFilterOptions": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1ReleaseFilterOptions",
      "properties": {
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1Track"
          },
          "description": "List of tracks to filter releases over. Provides the grouping of version codes under releases and tracks."
        }
      },
      "description": "A set of filtering options for releases and version codes specific to an app."
    },
    "GooglePlayDeveloperReportingV1beta1ErrorReport": {
      "id": "GooglePlayDeveloperReportingV1beta1ErrorReport",
      "description": "An error report received for an app. There reports are produced by the Android platform code when a (potentially fatal) error condition is detected. Identical reports from many users will be deduplicated and coalesced into a single ErrorReport. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "type": "object",
      "properties": {
        "osVersion": {
          "description": "The OS version on which an event in this error report occurred on.",
          "$ref": "GooglePlayDeveloperReportingV1beta1OsVersion"
        },
        "issue": {
          "description": "The issue this report was associated with. **Please note:** this resource is currently in Alpha. There could be changes to the issue grouping that would result in similar but more recent error reports being assigned to a different issue.",
          "type": "string"
        },
        "reportText": {
          "type": "string",
          "description": "Textual representation of the error report. These textual reports are produced by the platform. The reports are then sanitized and filtered to remove any potentially sensitive information. Although their format is fairly stable, they are not entirely meant for machine consumption and we cannot guarantee that there won't be subtle changes to the formatting that may break systems trying to parse information out of the reports."
        },
        "vcsInformation": {
          "description": "Version control system information from BUNDLE-METADATA/version-control-info.textproto or META-INF/version-control-info.textproto of the app bundle or APK, respectively.",
          "type": "string"
        },
        "eventTime": {
          "description": "Start of the hour during which the latest event in this error report occurred.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified error type.",
            "Application Not Responding (ANR) error. To learn more about this type of errors visit the corresponding Android Developers documentation.",
            "Crash caused by an unhandled exception in Java (or Kotlin or any other JVM language) or a signal in native code such as SIGSEGV."
          ],
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "APPLICATION_NOT_RESPONDING",
            "CRASH"
          ],
          "description": "Type of the error for which this report was generated."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the report. Format: apps/{app}/errorReports/{report}"
        },
        "deviceModel": {
          "$ref": "GooglePlayDeveloperReportingV1beta1DeviceModelSummary",
          "description": "A device model on which an event in this error report occurred on."
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        },
        "rows": {
          "type": "array",
          "description": "Returned rows of data.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          }
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetResponse",
      "description": "Response message for QueryAnrRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1beta1DeviceModelSummary": {
      "properties": {
        "deviceId": {
          "$ref": "GooglePlayDeveloperReportingV1beta1DeviceId",
          "description": "Identifier of the device."
        },
        "deviceUri": {
          "description": "Link to the device in Play Device Catalog.",
          "type": "string"
        },
        "marketingName": {
          "description": "Display name of the device.",
          "type": "string"
        }
      },
      "description": "Summary of a device",
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1DeviceModelSummary"
    },
    "GooglePlayDeveloperReportingV1beta1Anomaly": {
      "type": "object",
      "properties": {
        "dimensions": {
          "description": "Combination of dimensions in which the anomaly was detected.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1DimensionValue"
          },
          "type": "array"
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec",
          "description": "Timeline specification that covers the anomaly period."
        },
        "metric": {
          "$ref": "GooglePlayDeveloperReportingV1beta1MetricValue",
          "description": "Metric where the anomaly was detected, together with the anomalous value."
        },
        "metricSet": {
          "type": "string",
          "description": "Metric set resource where the anomaly was detected."
        },
        "name": {
          "type": "string",
          "description": "Name of the anomaly. Format: apps/{app}/anomalies/{anomaly}"
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1Anomaly",
      "description": "Represents an anomaly detected in a dataset. Our anomaly detection systems flag datapoints in a time series that fall outside of and expected range derived from historical data. Although those expected ranges have an upper and a lower bound, we only flag anomalies when the data has become unexpectedly _worse_, which usually corresponds to the case where the metric crosses the upper bound. Multiple contiguous datapoints in a timeline outside of the expected range will be grouped into a single anomaly. Therefore, an anomaly represents effectively a segment of a metric's timeline. The information stored in the `timeline_spec`, `dimensions` and `metric` can be used to fetch a full timeline with extended ragne for context. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app."
    },
    "GooglePlayDeveloperReportingV1beta1FreshnessInfoFreshness": {
      "id": "GooglePlayDeveloperReportingV1beta1FreshnessInfoFreshness",
      "type": "object",
      "properties": {
        "latestEndTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Latest end time for which data is available, for the aggregation period. The time is specified in the metric set's default timezone. *Note:* time ranges in TimelineSpec are represented as `start_time, end_time)`. For example, if the latest available timeline data point for a `DAILY` aggregation period is `2021-06-23 00:00:00 America/Los_Angeles`, the value of this field would be `2021-06-24 00:00:00 America/Los_Angeles` so it can be easily reused in [TimelineSpec.end_time."
        },
        "aggregationPeriod": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified granularity.",
            "Data is aggregated in hourly intervals.",
            "Data is aggregated in daily intervals.",
            "Data is aggregated over the full timeline range. Effectively this produces a single value rather than a timeline."
          ],
          "description": "Aggregation period for which data is available.",
          "enum": [
            "AGGREGATION_PERIOD_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "FULL_RANGE"
          ]
        }
      },
      "description": "Information about data freshness for a single aggregation period."
    },
    "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetRequest": {
      "properties": {
        "pageToken": {
          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000."
        },
        "filter": {
          "description": "Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
[...]
