{
  "canonicalName": "Play Integrity",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "resources": {
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "description": "Decodes the integrity token and returns the token payload.",
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "id": "playintegrity.decodeIntegrityToken",
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "parameters": {
            "packageName": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": " Package name of the app the attached integrity token belongs to.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          }
        }
      }
    }
  },
  "rootUrl": "https://playintegrity.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://playintegrity.googleapis.com/",
  "version_module": true,
  "id": "playintegrity:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "revision": "20220211",
  "ownerDomain": "google.com",
  "version": "v1",
  "basePath": "",
  "description": "Play Integrity",
  "name": "playintegrity",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "schemas": {
    "AppIntegrity": {
      "id": "AppIntegrity",
      "description": "Contains the application integrity information.",
      "type": "object",
      "properties": {
        "appRecognitionVerdict": {
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "type": "string",
          "description": "Required. Details about the app recognition verdict"
        },
        "certificateSha256Digest": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Hex fingerprint of the application signing certificate. e.g. “ABCE1F....” Set iff app_recognition_verdict != UNEVALUATED."
        },
        "versionCode": {
          "format": "int64",
          "type": "string",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED."
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED."
        }
      }
    },
    "TestingDetails": {
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      },
      "id": "TestingDetails",
      "type": "object",
      "description": "Contains additional information generated for testing responses."
    },
    "DecodeIntegrityTokenRequest": {
      "type": "object",
      "id": "DecodeIntegrityTokenRequest",
      "description": "Request to decode the integrity token.",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Encoded integrity token."
        }
      }
    },
    "RequestDetails": {
      "type": "object",
      "properties": {
        "timestampMillis": {
          "format": "int64",
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "type": "string"
        },
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity.",
          "type": "string"
        },
        "nonce": {
          "type": "string",
          "description": "Required. Nonce that was provided in the request (which is base64 web-safe no-wrap)."
        }
      },
      "description": "Contains the integrity request information.",
      "id": "RequestDetails"
    },
    "TokenPayloadExternal": {
      "type": "object",
      "properties": {
        "deviceIntegrity": {
          "$ref": "DeviceIntegrity",
          "description": "Required. Details about the device integrity."
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "TestingDetails"
        },
        "accountDetails": {
          "description": "Required. Details about the Play Store account.",
          "$ref": "AccountDetails"
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "RequestDetails"
        },
        "appIntegrity": {
          "$ref": "AppIntegrity",
          "description": "Required. Details about the application integrity."
        }
      },
      "id": "TokenPayloadExternal",
      "description": "Contains basic app information and integrity signals like device attestation and licensing details."
    },
    "AccountDetails": {
      "properties": {
        "appLicensingVerdict": {
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ]
        }
      },
      "type": "object",
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "id": "AccountDetails"
    },
    "DeviceIntegrity": {
      "properties": {
        "deviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "type": "string",
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ]
          },
          "description": "Details about the integrity of the device the app is running on"
        }
      },
      "type": "object",
      "description": "Contains the device attestation information.",
      "id": "DeviceIntegrity"
    },
    "DecodeIntegrityTokenResponse": {
      "type": "object",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      },
      "description": "Response containing the decoded integrity payload.",
      "id": "DecodeIntegrityTokenResponse"
    }
  },
  "title": "Google Play Integrity API",
  "batchPath": "batch",
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "servicePath": ""
}
