{
  "discoveryVersion": "v1",
  "servicePath": "",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "protocol": "rest",
  "title": "Google Play Integrity API",
  "version_module": true,
  "batchPath": "batch",
  "basePath": "",
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "DeviceIntegrity": {
      "id": "DeviceIntegrity",
      "description": "Contains the device attestation information.",
      "properties": {
        "deviceRecognitionVerdict": {
          "description": "Details about the integrity of the device the app is running on.",
          "items": {
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements.",
              "App is running on a device that passes only weak integrity checks (is a physical device). See go/pcm-physical-device-detection for more details. Note that this label won't be served for PIA heavyweight and express for now, only for the crystal mode."
            ],
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY",
              "MEETS_WEAK_INTEGRITY"
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AppIntegrity": {
      "id": "AppIntegrity",
      "properties": {
        "packageName": {
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "appRecognitionVerdict": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "description": "Required. Details about the app recognition verdict"
        },
        "certificateSha256Digest": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED."
        },
        "versionCode": {
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Contains the application integrity information.",
      "type": "object"
    },
    "TestingDetails": {
      "type": "object",
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      },
      "description": "Contains additional information generated for testing responses.",
      "id": "TestingDetails"
    },
    "RequestDetails": {
      "properties": {
        "nonce": {
          "type": "string",
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap)."
        },
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        },
        "timestampMillis": {
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "type": "string",
          "format": "int64"
        },
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity."
        }
      },
      "id": "RequestDetails",
      "type": "object",
      "description": "Contains the integrity request information."
    },
    "UserRemediationDetails": {
      "description": "Contains details of remediation guidance that the user can perform. See go/pia-interstitials-dd",
      "id": "UserRemediationDetails",
      "properties": {
        "remediation": {
          "description": "Description of the user remediation action. Required.",
          "enum": [
            "UNKNOWN_USER_REMEDIATION",
            "RESTORE_FACTORY_ROM",
            "LOCK_BOOTLOADER",
            "GET_UNMODIFIED_APP",
            "SIGN_INTO_GOOGLE_ACCOUNT",
            "INSTALL_APP_FROM_PLAY"
          ],
          "enumDescriptions": [
            "Catch-all for unrecognized enum values. See go/protodosdonts.",
            "The user has installed a custom ROM, and should restore the device to a clean factory ROM.",
            "The device bootloader has been unlocked, the user should lock the bootloader.",
            "The app is unrecognized. The user should get an unmodified version of the app.",
            "The user has not signed into their Google account.",
            "The user has no license. They should install or purchase the app on the Google Play Store to add it to their library."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "DecodeIntegrityTokenRequest": {
      "id": "DecodeIntegrityTokenRequest",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to decode the integrity token."
    },
    "AccountDetails": {
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "type": "object",
      "properties": {
        "appLicensingVerdict": {
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ]
        },
        "accountActivity": {
          "$ref": "AccountActivity",
          "description": "Details about the account activity for the user in the scope."
        }
      },
      "id": "AccountDetails"
    },
    "GuidanceDetails": {
      "properties": {
        "userRemediationDetails": {
          "description": "This shows when there is an issue with at least one of the integrity verdicts, which can be remedied by the user and provides additional details.",
          "items": {
            "$ref": "UserRemediationDetails"
          },
          "type": "array"
        }
      },
      "description": "Contains guidance details about the Integrity API response, providing additional context to the integrity verdicts.",
      "type": "object",
      "id": "GuidanceDetails"
    },
    "DecodeIntegrityTokenResponse": {
      "description": "Response containing the decoded integrity payload.",
      "id": "DecodeIntegrityTokenResponse",
      "type": "object",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      }
    },
    "TokenPayloadExternal": {
      "type": "object",
      "id": "TokenPayloadExternal",
      "properties": {
        "appIntegrity": {
          "$ref": "AppIntegrity",
          "description": "Required. Details about the application integrity."
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "RequestDetails"
        },
        "deviceIntegrity": {
          "$ref": "DeviceIntegrity",
          "description": "Required. Details about the device integrity."
        },
        "testingDetails": {
          "$ref": "TestingDetails",
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status."
        },
        "guidanceDetails": {
          "description": "Additional guidance related to the integrity API response.",
          "$ref": "GuidanceDetails"
        },
        "accountDetails": {
          "$ref": "AccountDetails",
          "description": "Required. Details about the Play Store account."
        }
      },
      "description": "Contains basic app information and integrity signals like device attestation and licensing details."
    },
    "AccountActivity": {
      "type": "object",
      "description": "Contains a signal helping apps differentiating between likely genuine users and likely non-genuine traffic (such as accounts being used for fraud, accounts used by automated traffic, or accounts used in device farms) based on the presence and volume of Play store activity.",
      "properties": {
        "activityLevel": {
          "description": "Required. Indicates the activity level of the account.",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ],
          "type": "string",
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated because one of the prerequisite conditions is not met (e.g., device is not trusted, the user does not have Play app license)",
            "Google Play store activity is unusual for at least one of the user accounts on the device. Google Play recommends checking that this is a real user.",
            "Google Play does not have sufficient activity for the user account on the device. The account may be new, or it may lack activity on Google Play.",
            "Google Play store activity is typical for the user account or accounts on the device.",
            "Google Play store activity is typical for the user account or accounts on the device, with harder to replicate signals."
          ]
        }
      },
      "id": "AccountActivity"
    }
  },
  "resources": {
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "description": "Decodes the integrity token and returns the token payload.",
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "parameters": {
            "packageName": {
              "pattern": "^[^/]+$",
              "description": " Package name of the app the attached integrity token belongs to.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          },
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "id": "playintegrity.decodeIntegrityToken"
        }
      }
    }
  },
  "baseUrl": "https://playintegrity.googleapis.com/",
  "revision": "20230920",
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "id": "playintegrity:v1",
  "ownerDomain": "google.com",
  "version": "v1",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "name": "playintegrity",
  "canonicalName": "Play Integrity",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "rootUrl": "https://playintegrity.googleapis.com/"
}
