{
  "mtlsRootUrl": "https://playablelocations.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "",
  "version_module": true,
  "ownerName": "Google",
  "batchPath": "batch",
  "resources": {
    "v3": {
      "methods": {
        "logImpressions": {
          "response": {
            "$ref": "GoogleMapsPlayablelocationsV3LogImpressionsResponse"
          },
          "description": "Logs new events when playable locations are displayed, and when they are interacted with. Impressions are not partially saved; either all impressions are saved and this request succeeds, or no impressions are saved, and this request fails.",
          "httpMethod": "POST",
          "id": "playablelocations.logImpressions",
          "parameters": {},
          "path": "v3:logImpressions",
          "request": {
            "$ref": "GoogleMapsPlayablelocationsV3LogImpressionsRequest"
          },
          "flatPath": "v3:logImpressions",
          "parameterOrder": []
        },
        "logPlayerReports": {
          "id": "playablelocations.logPlayerReports",
          "flatPath": "v3:logPlayerReports",
          "description": "Logs bad playable location reports submitted by players. Reports are not partially saved; either all reports are saved and this request succeeds, or no reports are saved, and this request fails.",
          "response": {
            "$ref": "GoogleMapsPlayablelocationsV3LogPlayerReportsResponse"
          },
          "path": "v3:logPlayerReports",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleMapsPlayablelocationsV3LogPlayerReportsRequest"
          }
        },
        "samplePlayableLocations": {
          "path": "v3:samplePlayableLocations",
          "description": "Returns a set of playable locations that lie within a specified area, that satisfy optional filter criteria. Note: Identical `SamplePlayableLocations` requests can return different results as the state of the world changes over time.",
          "id": "playablelocations.samplePlayableLocations",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleMapsPlayablelocationsV3SamplePlayableLocationsRequest"
          },
          "parameters": {},
          "flatPath": "v3:samplePlayableLocations",
          "response": {
            "$ref": "GoogleMapsPlayablelocationsV3SamplePlayableLocationsResponse"
          },
          "parameterOrder": []
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "title": "Playable Locations API",
  "documentationLink": "https://developers.google.com/maps/contact-sales/",
  "discoveryVersion": "v1",
  "revision": "20201013",
  "baseUrl": "https://playablelocations.googleapis.com/",
  "protocol": "rest",
  "name": "playablelocations",
  "id": "playablelocations:v3",
  "kind": "discovery#restDescription",
  "version": "v3",
  "servicePath": "",
  "schemas": {
    "GoogleMapsUnityClientInfo": {
      "type": "object",
      "properties": {
        "operatingSystem": {
          "description": "Operating system name and version as reported by the OS. For example, \"Mac OS X 10.10.4\". The exact format is platform-dependent.",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code (in BCP-47 format) indicating the UI language of the client. Examples are \"en\", \"en-US\" or \"ja-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "applicationId": {
          "description": "Application ID, such as the package name on Android and the bundle identifier on iOS platforms.",
          "type": "string"
        },
        "deviceModel": {
          "description": "Device model as reported by the device. The exact format is platform-dependent.",
          "type": "string"
        },
        "operatingSystemBuild": {
          "description": "Build number/version of the operating system. e.g., the contents of android.os.Build.ID in Android, or the contents of sysctl \"kern.osversion\" in iOS.",
          "type": "string"
        },
        "platform": {
          "description": "Platform where the application is running.",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "EDITOR",
            "MAC_OS",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "IOS",
            "WEB_GL"
          ],
          "enumDescriptions": [
            "Unspecified or unknown OS.",
            "Development environment.",
            "macOS.",
            "Windows.",
            "Linux",
            "Android",
            "iOS",
            "WebGL."
          ],
          "type": "string"
        },
        "apiClient": {
          "description": "API client name and version. For example, the SDK calling the API. The exact format is up to the client.",
          "type": "string"
        },
        "applicationVersion": {
          "type": "string",
          "description": "Application version number, such as \"1.2.3\". The exact format is application-dependent."
        }
      },
      "id": "GoogleMapsUnityClientInfo",
      "description": "Client information."
    },
    "GoogleMapsPlayablelocationsV3SamplePlayableLocationsRequest": {
      "description": " Life of a query: - When a game starts in a new location, your game server issues a SamplePlayableLocations request. The request specifies the S2 cell, and contains one or more \"criteria\" for filtering: - Criterion 0: i locations for long-lived bases, or level 0 monsters, or... - Criterion 1: j locations for short-lived bases, or level 1 monsters, ... - Criterion 2: k locations for random objects. - etc (up to 5 criterion may be specified). `PlayableLocationList` will then contain mutually exclusive lists of `PlayableLocation` objects that satisfy each of the criteria. Think of it as a collection of real-world locations that you can then associate with your game state. Note: These points are impermanent in nature. E.g, parks can close, and places can be removed. The response specifies how long you can expect the playable locations to last. Once they expire, you should query the `samplePlayableLocations` API again to get a fresh view of the real world.",
      "properties": {
        "criteria": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlayablelocationsV3SampleCriterion"
          },
          "description": "Required. Specifies one or more (up to 5) criteria for filtering the returned playable locations."
        },
        "areaFilter": {
          "$ref": "GoogleMapsPlayablelocationsV3SampleAreaFilter",
          "description": "Required. Specifies the area to search within for playable locations."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlayablelocationsV3SamplePlayableLocationsRequest"
    },
    "GoogleMapsPlayablelocationsV3Impression": {
      "properties": {
        "locationName": {
          "description": "Required. The name of the playable location.",
          "type": "string"
        },
        "impressionType": {
          "type": "string",
          "enum": [
            "IMPRESSION_TYPE_UNSPECIFIED",
            "PRESENTED",
            "INTERACTED"
          ],
          "enumDescriptions": [
            "Unspecified type. Do not use.",
            "The playable location was presented to a player.",
            "A player interacted with the playable location."
          ],
          "description": "Required. The type of impression event."
        },
        "gameObjectType": {
          "format": "int32",
          "description": "An arbitrary, developer-defined type identifier for each type of game object used in your game. Since players interact with differ types of game objects in different ways, this field allows you to segregate impression data by type for analysis. You should assign a unique `game_object_type` ID to represent a distinct type of game object in your game. For example, 1=monster location, 2=powerup location.",
          "type": "integer"
        }
      },
      "id": "GoogleMapsPlayablelocationsV3Impression",
      "type": "object",
      "description": "Encapsulates impression event details."
    },
    "GoogleMapsPlayablelocationsV3SamplePlayableLocation": {
      "type": "object",
      "id": "GoogleMapsPlayablelocationsV3SamplePlayableLocation",
      "properties": {
        "plusCode": {
          "type": "string",
          "description": "A [plus code] (http://openlocationcode.com)"
        },
        "snappedPoint": {
          "description": "The playable location's coordinates, snapped to the sidewalk of the nearest road, if a nearby road exists.",
          "$ref": "GoogleTypeLatLng"
        },
        "types": {
          "description": "A collection of [Playable Location Types](/maps/documentation/gaming/tt/types) for this playable location. The first type in the collection is the primary type. Type information might not be available for all playable locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The name of this playable location."
        },
        "placeId": {
          "description": "A [place ID] (https://developers.google.com/places/place-id)",
          "type": "string"
        },
        "centerPoint": {
          "description": "Required. The latitude and longitude associated with the center of the playable location. By default, the set of playable locations returned from SamplePlayableLocations use center-point coordinates.",
          "$ref": "GoogleTypeLatLng"
        }
      },
      "description": "A geographical point suitable for placing game objects in location-based games."
    },
    "GoogleMapsPlayablelocationsV3PlayerReport": {
      "id": "GoogleMapsPlayablelocationsV3PlayerReport",
      "properties": {
        "reasonDetails": {
          "description": "Required. A free-form description detailing why the playable location is considered bad.",
          "type": "string"
        },
        "reasons": {
          "items": {
            "enumDescriptions": [
              "Unspecified reason. Do not use.",
              "The reason isn't one of the reasons in this enumeration.",
              "The playable location isn't accessible to pedestrians. For example, if it's in the middle of a highway.",
              "The playable location isn't open to the public. For example, a private office building.",
              "The playable location is permanently closed. For example, when a business has been shut down.",
              "The playable location is temporarily inaccessible. For example, when a business has closed for renovations."
            ],
            "type": "string",
            "enum": [
              "BAD_LOCATION_REASON_UNSPECIFIED",
              "OTHER",
              "NOT_PEDESTRIAN_ACCESSIBLE",
              "NOT_OPEN_TO_PUBLIC",
              "PERMANENTLY_CLOSED",
              "TEMPORARILY_INACCESSIBLE"
            ]
          },
          "description": "Required. One or more reasons why this playable location is considered bad.",
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "description": "Language code (in BCP-47 format) indicating the language of the freeform description provided in `reason_details`. Examples are \"en\", \"en-US\" or \"ja-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "locationName": {
          "type": "string",
          "description": "Required. The name of the playable location."
        }
      },
      "type": "object",
      "description": "A report submitted by a player about a playable location that is considered inappropriate for use in the game."
    },
    "GoogleMapsPlayablelocationsV3LogPlayerReportsResponse": {
      "id": "GoogleMapsPlayablelocationsV3LogPlayerReportsResponse",
      "properties": {},
      "description": "A response for the LogPlayerReports method. This method returns no data upon success.",
      "type": "object"
    },
    "GoogleMapsPlayablelocationsV3SampleFilter": {
      "description": "Specifies the filters to use when searching for playable locations.",
      "id": "GoogleMapsPlayablelocationsV3SampleFilter",
      "type": "object",
      "properties": {
        "spacing": {
          "description": "A set of options that control the spacing between playable locations. By default the minimum distance between locations is 200m.",
          "$ref": "GoogleMapsPlayablelocationsV3SampleSpacingOptions"
        },
        "maxLocationCount": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the maximum number of playable locations to return. This value must not be greater than 1000. The default value is 100. Only the top-ranking playable locations are returned."
        },
        "includedTypes": {
          "description": "Restricts the set of playable locations to just the [types](/maps/documentation/gaming/tt/types) that you want.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleMapsPlayablelocationsV3LogImpressionsResponse": {
      "properties": {},
      "description": "A response for the LogImpressions method. This method returns no data upon success.",
      "type": "object",
      "id": "GoogleMapsPlayablelocationsV3LogImpressionsResponse"
    },
    "GoogleMapsPlayablelocationsV3SampleSpacingOptions": {
      "id": "GoogleMapsPlayablelocationsV3SampleSpacingOptions",
      "description": "A set of options that specifies the separation between playable locations.",
      "type": "object",
      "properties": {
        "minSpacingMeters": {
          "type": "number",
          "description": "Required. The minimum spacing between any two playable locations, measured in meters. The minimum value is 30. The maximum value is 1000. Inputs will be rounded up to the next 10 meter interval. The default value is 200m. Set this field to remove tight clusters of playable locations. Note: The spacing is a greedy algorithm. It optimizes for selecting the highest ranking locations first, not to maximize the number of locations selected. Consider the following scenario: * Rank: A: 2, B: 1, C: 3. * Distance: A--200m--B--200m--C If spacing=250, it will pick the highest ranked location [B], not [A, C]. Note: Spacing works within the game object type itself, as well as the previous ones. Suppose three game object types, each with the following spacing: * X: 400m, Y: undefined, Z: 200m. 1. Add locations for X, within 400m of each other. 2. Add locations for Y, without any spacing. 3. Finally, add locations for Z within 200m of each other as well X and Y. The distance diagram between those locations end up as: * From-\u003eTo. * X-\u003eX: 400m * Y-\u003eX, Y-\u003eY: unspecified. * Z-\u003eX, Z-\u003eY, Z-\u003eZ: 200m.",
          "format": "double"
        },
        "pointType": {
          "type": "string",
          "enum": [
            "POINT_TYPE_UNSPECIFIED",
            "CENTER_POINT",
            "SNAPPED_POINT"
          ],
          "description": "Specifies whether the minimum spacing constraint applies to the center-point or to the snapped point of playable locations. The default value is `CENTER_POINT`. If a snapped point is not available for a playable location, its center-point is used instead. Set this to the point type used in your game.",
          "enumDescriptions": [
            "Unspecified point type. Do not use this value.",
            "The geographic coordinates correspond to the center of the location.",
            "The geographic coordinates correspond to the location snapped to the sidewalk of the nearest road (when a nearby road exists)."
          ]
        }
      }
    },
    "GoogleMapsPlayablelocationsV3SampleCriterion": {
      "properties": {
        "gameObjectType": {
          "format": "int32",
          "type": "integer",
          "description": "Required. An arbitrary, developer-defined identifier of the type of game object that the playable location is used for. This field allows you to specify criteria per game object type when searching for playable locations. You should assign a unique `game_object_type` ID across all `request_criteria` to represent a distinct type of game object. For example, 1=monster location, 2=powerup location. The response contains a map."
        },
        "filter": {
          "$ref": "GoogleMapsPlayablelocationsV3SampleFilter",
          "description": "Specifies filtering options, and specifies what will be included in the result set."
        },
        "fieldsToReturn": {
          "format": "google-fieldmask",
          "description": "Specifies which `PlayableLocation` fields are returned. `name` (which is used for logging impressions), `center_point` and `place_id` (or `plus_code`) are always returned. The following fields are omitted unless you specify them here: * snapped_point * types Note: The more fields you include, the more expensive in terms of data and associated latency your query will be.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Encapsulates a filter criterion for searching for a set of playable locations.",
      "id": "GoogleMapsPlayablelocationsV3SampleCriterion"
    },
    "GoogleMapsPlayablelocationsV3SampleAreaFilter": {
      "properties": {
        "s2CellId": {
          "description": "Required. The S2 cell ID of the area you want. This must be between cell level 11 and 14 (inclusive). S2 cells are 64-bit integers that identify areas on the Earth. They are hierarchical, and can therefore be used for spatial indexing. The S2 geometry library is available in a number of languages: * [C++](https://github.com/google/s2geometry) * [Java](https://github.com/google/s2-geometry-library-java) * [Go](https://github.com/golang/geo) * [Python](https://github.com/google/s2geometry/tree/master/src/python)",
          "type": "string",
          "format": "uint64"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlayablelocationsV3SampleAreaFilter",
      "description": "Specifies the area to search for playable locations."
    },
    "GoogleMapsPlayablelocationsV3LogImpressionsRequest": {
      "id": "GoogleMapsPlayablelocationsV3LogImpressionsRequest",
      "type": "object",
      "description": "A request for logging impressions.",
      "properties": {
        "requestId": {
          "description": "Required. A string that uniquely identifies the log impressions request. This allows you to detect duplicate requests. We recommend that you use UUIDs for this value. The value must not exceed 50 characters. You should reuse the `request_id` only when retrying a request in case of failure. In this case, the request must be identical to the one that failed.",
          "type": "string"
        },
        "impressions": {
          "description": "Required. Impression event details. The maximum number of impression reports that you can log at once is 50.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlayablelocationsV3Impression"
          }
        },
        "clientInfo": {
          "description": "Required. Information about the client device. For example, device model and operating system.",
          "$ref": "GoogleMapsUnityClientInfo"
        }
      }
    },
    "GoogleMapsPlayablelocationsV3SamplePlayableLocationsResponse": {
      "id": "GoogleMapsPlayablelocationsV3SamplePlayableLocationsResponse",
      "description": " Response for the SamplePlayableLocations method.",
      "type": "object",
      "properties": {
        "locationsPerGameObjectType": {
          "type": "object",
          "description": "Each PlayableLocation object corresponds to a game_object_type specified in the request.",
          "additionalProperties": {
            "$ref": "GoogleMapsPlayablelocationsV3SamplePlayableLocationList"
          }
        },
        "ttl": {
          "format": "google-duration",
          "description": "Required. Specifies the \"time-to-live\" for the set of playable locations. You can use this value to determine how long to cache the set of playable locations. After this length of time, your back-end game server should issue a new SamplePlayableLocations request to get a fresh set of playable locations (because for example, they might have been removed, a park might have closed for the day, a business might have closed permanently).",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlayablelocationsV3LogPlayerReportsRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Required. A string that uniquely identifies the log player reports request. This allows you to detect duplicate requests. We recommend that you use UUIDs for this value. The value must not exceed 50 characters. You should reuse the `request_id` only when retrying a request in the case of a failure. In that case, the request must be identical to the one that failed.",
          "type": "string"
        },
        "playerReports": {
          "description": "Required. Player reports. The maximum number of player reports that you can log at once is 50.",
          "items": {
            "$ref": "GoogleMapsPlayablelocationsV3PlayerReport"
          },
          "type": "array"
        },
        "clientInfo": {
          "description": "Required. Information about the client device (for example, device model and operating system).",
          "$ref": "GoogleMapsUnityClientInfo"
        }
      },
      "description": "A request for logging your player's bad location reports.",
      "id": "GoogleMapsPlayablelocationsV3LogPlayerReportsRequest"
    },
    "GoogleMapsPlayablelocationsV3SamplePlayableLocationList": {
      "description": "A list of PlayableLocation objects that satisfies a single Criterion.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "GoogleMapsPlayablelocationsV3SamplePlayableLocation"
          },
          "type": "array",
          "description": "A list of playable locations for this game object type."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlayablelocationsV3SamplePlayableLocationList"
    },
    "GoogleTypeLatLng": {
      "properties": {
        "latitude": {
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double"
        },
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleTypeLatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this must conform to the WGS84 standard. Values must be within normalized ranges."
    }
  },
  "rootUrl": "https://playablelocations.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "canonicalName": "Playable Locations"
}
