{
  "documentationLink": "https://cloud.google.com/iam/docs/simulating-access",
  "servicePath": "",
  "title": "Policy Simulator API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "policysimulator:v1alpha",
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "version": "v1alpha",
  "description": " Policy Simulator is a collection of endpoints for creating, running, and viewing a Replay. A `Replay` is a type of simulation that lets you see how your members' access to resources might change if you changed your IAM policy. During a `Replay`, Policy Simulator re-evaluates, or replays, past access attempts under both the current policy and your proposed policy, and compares those results to determine how your members' access might change under the proposed policy.",
  "canonicalName": "Policy Simulator",
  "revision": "20230917",
  "rootUrl": "https://policysimulator.googleapis.com/",
  "baseUrl": "https://policysimulator.googleapis.com/",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "GoogleCloudPolicysimulatorV1alphaOrgPolicyOverlayCustomConstraintOverlay": {
      "type": "object",
      "properties": {
        "customConstraintParent": {
          "type": "string",
          "description": "Resource the constraint is attached to. Example: \"organization/987654\""
        },
        "customConstraint": {
          "$ref": "GoogleCloudOrgpolicyV2CustomConstraint",
          "description": "The new or updated custom constraint."
        }
      },
      "description": "A change to an OrgPolicy custom constraint.",
      "id": "GoogleCloudPolicysimulatorV1alphaOrgPolicyOverlayCustomConstraintOverlay"
    },
    "GoogleCloudPolicysimulatorV1alphaOrgPolicyOverlayPolicyOverlay": {
      "properties": {
        "policy": {
          "$ref": "GoogleCloudOrgpolicyV2Policy",
          "description": "The new or updated OrgPolicy."
        },
        "policyParent": {
          "description": "The parent of the policy we are attaching to. Example: \"projects/123456\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudPolicysimulatorV1alphaOrgPolicyOverlayPolicyOverlay",
      "type": "object",
      "description": "A change to an OrgPolicy."
    },
    "GoogleCloudOrgpolicyV2Policy": {
      "properties": {
        "spec": {
          "description": "Basic information about the Organization Policy.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec"
        },
        "dryRunSpec": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec",
          "description": "Dry-run policy. Audit-only policy, can be used to monitor how the policy would have impacted the existing and future resources if it's enforced."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number."
        },
        "alternate": {
          "$ref": "GoogleCloudOrgpolicyV2AlternatePolicySpec",
          "description": "Deprecated.",
          "deprecated": true
        }
      },
      "description": "Defines an organization policy which is used to specify constraints for configurations of Google Cloud resources.",
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2Policy"
    },
    "GoogleCloudPolicysimulatorV1alphaOrgPolicyOverlay": {
      "description": "The proposed changes to OrgPolicy.",
      "id": "GoogleCloudPolicysimulatorV1alphaOrgPolicyOverlay",
      "type": "object",
      "properties": {
        "customConstraints": {
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaOrgPolicyOverlayCustomConstraintOverlay"
          },
          "type": "array",
          "description": "The OrgPolicy CustomConstraint changes to preview violations for. Any existing CustomConstraints with the same name will be overridden in the simulation. That is, violations will be determined as if all custom constraints in the overlay were instantiated. Only a single custom_constraint is supported in the overlay at a time. For evaluating multiple constraints, multiple `GenerateOrgPolicyViolationsPreview` requests are made, where each request evaluates a single constraint."
        },
        "policies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaOrgPolicyOverlayPolicyOverlay"
          },
          "description": "The OrgPolicy changes to preview violations for. Any existing OrgPolicies with the same name will be overridden in the simulation. That is, violations will be determined as if all policies in the overlay were created or updated."
        }
      }
    },
    "GoogleCloudOrgpolicyV2AlternatePolicySpec": {
      "type": "object",
      "properties": {
        "launch": {
          "description": "Reference to the launch that will be used while audit logging and to control the launch. Should be set only in the alternate policy.",
          "type": "string"
        },
        "spec": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec",
          "description": "Specify constraint for configurations of Google Cloud resources."
        }
      },
      "description": "Similar to PolicySpec but with an extra 'launch' field for launch reference. The PolicySpec here is specific for dry-run/darklaunch.",
      "id": "GoogleCloudOrgpolicyV2AlternatePolicySpec"
    },
    "GoogleCloudPolicysimulatorV1alphaAccessStateDiff": {
      "properties": {
        "simulated": {
          "description": "The results of evaluating the access tuple under the proposed (simulated) policies. If the AccessState couldn't be fully evaluated, this field explains why.",
          "$ref": "GoogleCloudPolicysimulatorV1alphaExplainedAccess"
        },
        "baseline": {
          "$ref": "GoogleCloudPolicysimulatorV1alphaExplainedAccess",
          "description": "The results of evaluating the access tuple under the current (baseline) policies. If the AccessState couldn't be fully evaluated, this field explains why."
        },
        "accessChange": {
          "description": "How the principal's access, specified in the AccessState field, changed between the current (baseline) policies and proposed (simulated) policies.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The principal's access did not change. This includes the case where both baseline and simulated are UNKNOWN, but the unknown information is equivalent.",
            "The principal's access under both the current policies and the proposed policies is `UNKNOWN`, but the unknown information differs between them.",
            "The principal had access under the current policies (`GRANTED`), but will no longer have access after the proposed changes (`NOT_GRANTED`).",
            "The principal did not have access under the current policies (`NOT_GRANTED`), but will have access after the proposed changes (`GRANTED`).",
            "This result can occur for the following reasons: * The principal had access under the current policies (`GRANTED`), but their access after the proposed changes is `UNKNOWN`. * The principal's access under the current policies is `UNKNOWN`, but they will not have access after the proposed changes (`NOT_GRANTED`).",
            "This result can occur for the following reasons: * The principal did not have access under the current policies (`NOT_GRANTED`), but their access after the proposed changes is `UNKNOWN`. * The principal's access under the current policies is `UNKNOWN`, but they will have access after the proposed changes (`GRANTED`)."
          ],
          "enum": [
            "ACCESS_CHANGE_TYPE_UNSPECIFIED",
            "NO_CHANGE",
            "UNKNOWN_CHANGE",
            "ACCESS_REVOKED",
            "ACCESS_GAINED",
            "ACCESS_MAYBE_REVOKED",
            "ACCESS_MAYBE_GAINED"
          ],
          "type": "string"
        }
      },
      "description": "A summary and comparison of the principal's access under the current (baseline) policies and the proposed (simulated) policies for a single access tuple.",
      "id": "GoogleCloudPolicysimulatorV1alphaAccessStateDiff",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2PolicySpec": {
      "description": "Defines a Google Cloud policy specification which is used to specify constraints for configurations of Google Cloud resources.",
      "id": "GoogleCloudOrgpolicyV2PolicySpec",
      "type": "object",
      "properties": {
        "rules": {
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule"
          },
          "description": "In policies for boolean constraints, the following requirements apply: - There must be one and only one policy rule where condition is unset. - Boolean policy rules with conditions must set `enforced` to the opposite of the policy rule without a condition. - During policy evaluation, policy rules with conditions that are true for a target resource take precedence.",
          "type": "array"
        },
        "reset": {
          "type": "boolean",
          "description": "Ignores policies set above this resource and restores the `constraint_default` enforcement behavior of the specific constraint at this resource. This field can be set in policies for either list or boolean constraints. If set, `rules` must be empty and `inherit_from_parent` must be set to false."
        },
        "etag": {
          "description": "An opaque tag indicating the current version of the policy, used for concurrency control. This field is ignored if used in a `CreatePolicy` request. When the policy` is returned from either a `GetPolicy` or a `ListPolicies` request, this `etag` indicates the version of the current policy to use when executing a read-modify-write loop. When the policy is returned from a `GetEffectivePolicy` request, the `etag` will be unset.",
          "type": "string"
        },
        "inheritFromParent": {
          "description": "Determines the inheritance behavior for this policy. If `inherit_from_parent` is true, policy rules set higher up in the hierarchy (up to the closest root) are inherited and present in the effective policy. If it is false, then no rules are inherited, and this policy becomes the new root for evaluation. This field can be set only for policies which configure list constraints.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time stamp this was previously updated. This represents the last time a call to `CreatePolicy` or `UpdatePolicy` was made for that policy."
        }
      }
    },
    "GoogleCloudPolicysimulatorV1alphaGenerateOrgPolicyViolationsPreviewOperationMetadata": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Time when the request started processing, i.e. when the state was set to RUNNING.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourcesFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of resources that need scanning. Should equal resource_scanned + resources_pending"
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The OrgPolicyViolationsPreview has not been created yet.",
            "The OrgPolicyViolationsPreview is currently being created.",
            "The OrgPolicyViolationsPreview creation finished successfully.",
            "The OrgPolicyViolationsPreview creation failed with an error."
          ],
          "enum": [
            "PREVIEW_STATE_UNSPECIFIED",
            "PREVIEW_PENDING",
            "PREVIEW_RUNNING",
            "PREVIEW_SUCCEEDED",
            "PREVIEW_FAILED"
          ],
          "type": "string",
          "description": "The current state of the operation."
        },
        "resourcesScanned": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources already scanned."
        },
        "resourcesPending": {
          "description": "Number of resources still to scan.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudPolicysimulatorV1alphaGenerateOrgPolicyViolationsPreviewOperationMetadata",
      "description": "GenerateOrgPolicyViolationsPreviewOperationMetadata is metadata about an OrgPolicyViolationsPreview generations operation."
    },
    "GoogleIamV1AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "id": "GoogleIamV1AuditConfig"
    },
    "GoogleCloudPolicysimulatorV1betaOrgPolicyViolationsPreview": {
      "description": "OrgPolicyViolationsPreview is a resource providing a preview of the violations that will exist if an OrgPolicy change is made. The list of violations are modeled as child resources and retrieved via a ListOrgPolicyViolations API call. There are potentially more OrgPolicyViolations than could fit in an embedded field. Thus, the use of a child resource instead of a field.",
      "id": "GoogleCloudPolicysimulatorV1betaOrgPolicyViolationsPreview",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when this `OrgPolicyViolationsPreview` was created."
        },
        "state": {
          "enum": [
            "PREVIEW_STATE_UNSPECIFIED",
            "PREVIEW_PENDING",
            "PREVIEW_RUNNING",
            "PREVIEW_SUCCEEDED",
            "PREVIEW_FAILED"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The OrgPolicyViolationsPreview has not been created yet.",
            "The OrgPolicyViolationsPreview is currently being created.",
            "The OrgPolicyViolationsPreview creation finished successfully.",
            "The OrgPolicyViolationsPreview creation failed with an error."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the `OrgPolicyViolationsPreview`."
        },
        "resourceCounts": {
          "$ref": "GoogleCloudPolicysimulatorV1betaOrgPolicyViolationsPreviewResourceCounts",
          "readOnly": true,
          "description": "Output only. A summary of the state of all resources scanned for compliance with the changed OrgPolicy."
        },
        "violationsCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of OrgPolicyViolations in this `OrgPolicyViolationsPreview`. This count may differ from `resource_summary.noncompliant_count` because each OrgPolicyViolation is specific to a resource **and** constraint. If there are multiple constraints being evaluated (i.e. multiple policies in the overlay), a single resource may violate multiple constraints.",
          "format": "int32"
        },
        "customConstraints": {
          "description": "Output only. The names of the constraints against which all `OrgPolicyViolations` were evaluated. If `OrgPolicyOverlay` only contains `PolicyOverlay` then it contains the name of the configured custom constraint, applicable to the specified policies. Otherwise it contains the name of the constraint specified in `CustomConstraintOverlay`. Format: `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms`",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the `OrgPolicyViolationsPreview`. It has the following format: `organizations/{organization}/locations/{location}/orgPolicyViolationsPreviews/{orgPolicyViolationsPreview}` Example: `organizations/my-example-org/locations/global/orgPolicyViolationsPreviews/506a5f7f`"
        },
        "overlay": {
          "description": "Required. The proposed changes we are previewing violations for.",
          "$ref": "GoogleCloudPolicysimulatorV1betaOrgPolicyOverlay"
        }
      }
    },
    "GoogleCloudPolicysimulatorV1ReplayConfig": {
      "type": "object",
      "properties": {
        "policyOverlay": {
          "additionalProperties": {
            "$ref": "GoogleIamV1Policy"
          },
          "type": "object",
          "description": "A mapping of the resources that you want to simulate policies for and the policies that you want to simulate. Keys are the full resource names for the resources. For example, `//cloudresourcemanager.googleapis.com/projects/my-project`. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names. Values are Policy objects representing the policies that you want to simulate. Replays automatically take into account any IAM policies inherited through the resource hierarchy, and any policies set on descendant resources. You do not need to include these policies in the policy overlay."
        },
        "logSource": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified log source. If the log source is unspecified, the Replay defaults to using `RECENT_ACCESSES`.",
            "All access logs from the last 90 days. These logs may not include logs from the most recent 7 days."
          ],
          "description": "The logs to use as input for the Replay.",
          "enum": [
            "LOG_SOURCE_UNSPECIFIED",
            "RECENT_ACCESSES"
          ]
        }
      },
      "id": "GoogleCloudPolicysimulatorV1ReplayConfig",
      "description": "The configuration used for a Replay."
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "id": "GoogleTypeDate",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudPolicysimulatorV1alphaBindingExplanation": {
      "id": "GoogleCloudPolicysimulatorV1alphaBindingExplanation",
      "description": "Details about how a binding in a policy affects a principal's ability to use a permission.",
      "properties": {
        "rolePermissionRelevance": {
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string",
          "description": "The relevance of the permission's existence, or nonexistence, in the role to the overall determination for the entire policy."
        },
        "role": {
          "description": "The role that this binding grants. For example, `roles/compute.serviceAgent`. For a complete list of predefined IAM roles, as well as the permissions in each role, see https://cloud.google.com/iam/help/roles/reference.",
          "type": "string"
        },
        "rolePermission": {
          "enum": [
            "ROLE_PERMISSION_UNSPECIFIED",
            "ROLE_PERMISSION_INCLUDED",
            "ROLE_PERMISSION_NOT_INCLUDED",
            "ROLE_PERMISSION_UNKNOWN_INFO_DENIED"
          ],
          "type": "string",
          "description": "Indicates whether the role granted by this binding contains the specified permission.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The permission is included in the role.",
            "The permission is not included in the role.",
            "The user who created the Replay is not allowed to access the binding."
          ]
        },
        "relevance": {
          "description": "The relevance of this binding to the overall determination for the entire policy.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ]
        },
        "memberships": {
          "type": "object",
          "description": "Indicates whether each principal in the binding includes the principal specified in the request, either directly or indirectly. Each key identifies a principal in the binding, and each value indicates whether the principal in the binding includes the principal in the request. For example, suppose that a binding includes the following principals: * `user:alice@example.com` * `group:product-eng@example.com` The principal in the replayed access tuple is `user:bob@example.com`. This user is a principal of the group `group:product-eng@example.com`. For the first principal in the binding, the key is `user:alice@example.com`, and the `membership` field in the value is set to `MEMBERSHIP_NOT_INCLUDED`. For the second principal in the binding, the key is `group:product-eng@example.com`, and the `membership` field in the value is set to `MEMBERSHIP_INCLUDED`.",
          "additionalProperties": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaBindingExplanationAnnotatedMembership"
          }
        },
        "condition": {
          "description": "A condition expression that prevents this binding from granting access unless the expression evaluates to `true`. To learn about IAM Conditions, see https://cloud.google.com/iam/docs/conditions-overview.",
          "$ref": "GoogleTypeExpr"
        },
        "access": {
          "description": "Required. Indicates whether _this binding_ provides the specified permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal actually has the permission for the resource. There might be another binding that overrides this binding. To determine whether the principal actually has the permission, use the `access` field in the TroubleshootIamPolicyResponse.",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The principal has the permission.",
            "The principal does not have the permission.",
            "The principal has the permission only if a condition expression evaluates to `true`.",
            "The user who created the Replay does not have access to all of the policies that Policy Simulator needs to evaluate."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1alphaExplainedPolicy": {
      "description": "Details about how a specific IAM Policy contributed to the access check.",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "The IAM policy attached to the resource. If the user who created the Replay does not have access to the policy, this field is empty."
        },
        "relevance": {
          "description": "The relevance of this policy to the overall determination in the TroubleshootIamPolicyResponse. If the user who created the Replay does not have access to the policy, this field is omitted.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        },
        "fullResourceName": {
          "type": "string",
          "description": "The full resource name that identifies the resource. For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`. If the user who created the Replay does not have access to the policy, this field is omitted. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names."
        },
        "access": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The principal has the permission.",
            "The principal does not have the permission.",
            "The principal has the permission only if a condition expression evaluates to `true`.",
            "The user who created the Replay does not have access to all of the policies that Policy Simulator needs to evaluate."
          ],
          "type": "string",
          "description": "Indicates whether _this policy_ provides the specified permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal actually has the permission for the resource. There might be another policy that overrides this policy. To determine whether the principal actually has the permission, use the `access` field in the TroubleshootIamPolicyResponse.",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        },
        "bindingExplanations": {
          "description": "Details about how each binding in the policy affects the principal's ability, or inability, to use the permission for the resource. If the user who created the Replay does not have access to the policy, this field is omitted.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaBindingExplanation"
          }
        }
      },
      "id": "GoogleCloudPolicysimulatorV1alphaExplainedPolicy"
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues": {
      "type": "object",
      "properties": {
        "allowedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of values allowed at this resource."
        },
        "deniedValues": {
          "type": "array",
          "description": "List of values denied at this resource.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues",
      "description": "A message that holds specific allowed and denied values. This message can define specific values and subtrees of the Resource Manager resource hierarchy (`Organizations`, `Folders`, `Projects`) that are allowed or denied. This is achieved by using the `under:` and optional `is:` prefixes. The `under:` prefix is used to denote resource subtree values. The `is:` prefix is used to denote specific values, and is required only if the value contains a \":\". Values prefixed with \"is:\" are treated the same as values with no prefix. Ancestry subtrees must be in one of the following formats: - `projects/` (for example, `projects/tokyo-rain-123`) - `folders/` (for example, `folders/1234`) - `organizations/` (for example, `organizations/1234`) The `supports_under` field of the associated `Constraint` defines whether ancestry prefixes can be used."
    },
    "GoogleCloudPolicysimulatorV1Replay": {
      "id": "GoogleCloudPolicysimulatorV1Replay",
      "type": "object",
      "description": "A resource describing a `Replay`, or simulation.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The `Replay` has not started yet.",
            "The `Replay` is currently running.",
            "The `Replay` has successfully completed.",
            "The `Replay` has finished with an error."
          ],
          "type": "string",
          "description": "Output only. The current state of the `Replay`.",
          "readOnly": true
        },
        "resultsSummary": {
          "description": "Output only. Summary statistics about the replayed log entries.",
          "$ref": "GoogleCloudPolicysimulatorV1ReplayResultsSummary",
          "readOnly": true
        },
        "config": {
          "$ref": "GoogleCloudPolicysimulatorV1ReplayConfig",
          "description": "Required. The configuration used for the `Replay`."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the `Replay`, which has the following format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}`, where `{resource-id}` is the ID of the project, folder, or organization that owns the Replay. Example: `projects/my-example-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36`"
        }
      }
    },
    "GoogleCloudPolicysimulatorV1betaOrgPolicyOverlayCustomConstraintOverlay": {
      "type": "object",
      "description": "A change to an OrgPolicy custom constraint.",
      "properties": {
        "customConstraint": {
          "$ref": "GoogleCloudOrgpolicyV2CustomConstraint",
          "description": "The new or updated custom constraint."
        },
        "customConstraintParent": {
          "type": "string",
          "description": "Resource the constraint is attached to. Example: \"organization/987654\""
        }
      },
      "id": "GoogleCloudPolicysimulatorV1betaOrgPolicyOverlayCustomConstraintOverlay"
    },
    "GoogleCloudPolicysimulatorV1alphaReplay": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the `Replay`, which has the following format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}`, where `{resource-id}` is the ID of the project, folder, or organization that owns the Replay. Example: `projects/my-example-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36`",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The `Replay` has not started yet.",
            "The `Replay` is currently running.",
            "The `Replay` has successfully completed.",
            "The `Replay` has finished with an error."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the `Replay`."
        },
        "resultsSummary": {
          "description": "Output only. Summary statistics about the replayed log entries.",
          "$ref": "GoogleCloudPolicysimulatorV1alphaReplayResultsSummary",
          "readOnly": true
        },
        "config": {
          "$ref": "GoogleCloudPolicysimulatorV1alphaReplayConfig",
          "description": "Required. The configuration used for the `Replay`."
        }
      },
      "description": "A resource describing a `Replay`, or simulation.",
      "id": "GoogleCloudPolicysimulatorV1alphaReplay"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudPolicysimulatorV1betaOrgPolicyOverlay": {
      "type": "object",
      "id": "GoogleCloudPolicysimulatorV1betaOrgPolicyOverlay",
      "properties": {
        "customConstraints": {
          "description": "The OrgPolicy CustomConstraint changes to preview violations for. Any existing CustomConstraints with the same name will be overridden in the simulation. That is, violations will be determined as if all custom constraints in the overlay were instantiated. Only a single custom_constraint is supported in the overlay at a time. For evaluating multiple constraints, multiple `GenerateOrgPolicyViolationsPreview` requests are made, where each request evaluates a single constraint.",
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1betaOrgPolicyOverlayCustomConstraintOverlay"
          },
          "type": "array"
        },
        "policies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1betaOrgPolicyOverlayPolicyOverlay"
          },
          "description": "The OrgPolicy changes to preview violations for. Any existing OrgPolicies with the same name will be overridden in the simulation. That is, violations will be determined as if all policies in the overlay were created or updated."
        }
      },
      "description": "The proposed changes to OrgPolicy."
    },
    "GoogleCloudPolicysimulatorV1alphaListOrgPolicyViolationsPreviewsResponse": {
      "description": "ListOrgPolicyViolationsPreviewsResponse is the response message for OrgPolicyViolationsPreviewService.ListOrgPolicyViolationsPreviews.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that you can use to retrieve the next page of results. If this field is omitted, there are no subsequent pages."
        },
        "orgPolicyViolationsPreviews": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreview"
          },
          "description": "The list of OrgPolicyViolationsPreview"
        }
      },
      "type": "object",
      "id": "GoogleCloudPolicysimulatorV1alphaListOrgPolicyViolationsPreviewsResponse"
    },
    "GoogleCloudPolicysimulatorV1alphaBindingExplanationAnnotatedMembership": {
      "description": "Details about whether the binding includes the principal.",
      "id": "GoogleCloudPolicysimulatorV1alphaBindingExplanationAnnotatedMembership",
      "type": "object",
      "properties": {
        "membership": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The binding includes the principal. The principal can be included directly or indirectly. For example: * A principal is included directly if that principal is listed in the binding. * A principal is included indirectly if that principal is in a Google group or Google Workspace domain that is listed in the binding.",
            "The binding does not include the principal.",
            "The user who created the Replay is not allowed to access the binding.",
            "The principal is an unsupported type. Only Google Accounts and service accounts are supported."
          ],
          "description": "Indicates whether the binding includes the principal.",
          "type": "string",
          "enum": [
            "MEMBERSHIP_UNSPECIFIED",
            "MEMBERSHIP_INCLUDED",
            "MEMBERSHIP_NOT_INCLUDED",
            "MEMBERSHIP_UNKNOWN_INFO_DENIED",
            "MEMBERSHIP_UNKNOWN_UNSUPPORTED"
          ]
        },
        "relevance": {
          "description": "The relevance of the principal's status to the overall determination for the binding.",
          "type": "string",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ]
        }
      }
    },
    "GoogleCloudPolicysimulatorV1alphaAccessTuple": {
      "description": "Information about the principal, resource, and permission to check.",
      "properties": {
        "fullResourceName": {
          "type": "string",
          "description": "Required. The full resource name that identifies the resource. For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names."
        },
        "permission": {
          "type": "string",
          "description": "Required. The IAM permission to check for the specified principal and resource. For a complete list of IAM permissions, see https://cloud.google.com/iam/help/permissions/reference. For a complete list of predefined IAM roles and the permissions in each role, see https://cloud.google.com/iam/help/roles/reference."
        },
        "principal": {
          "description": "Required. The principal whose access you want to check, in the form of the email address that represents that principal. For example, `alice@example.com` or `my-service-account@my-project.iam.gserviceaccount.com`. The principal must be a Google Account or a service account. Other types of principals are not supported.",
          "type": "string"
        }
      },
      "id": "GoogleCloudPolicysimulatorV1alphaAccessTuple",
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1betaOrgPolicyViolationsPreviewResourceCounts": {
      "type": "object",
      "id": "GoogleCloudPolicysimulatorV1betaOrgPolicyViolationsPreviewResourceCounts",
      "description": "A summary of the state of all resources scanned for compliance with the changed OrgPolicy.",
      "properties": {
        "errors": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources that returned an error when scanned."
        },
        "compliant": {
          "description": "Number of scanned resources with zero violations.",
          "format": "int32",
          "type": "integer"
        },
        "scanned": {
          "type": "integer",
          "description": "Number of resources checked for compliance. Must equal: unenforced + noncompliant + compliant + error",
          "format": "int32"
        },
        "noncompliant": {
          "type": "integer",
          "format": "int32",
          "description": "Number of scanned resources with at least one violation."
        },
        "unenforced": {
          "description": "Number of resources where the constraint was not enforced, i.e. the Policy set `enforced: false` for that resource.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRule": {
      "properties": {
        "denyAll": {
          "type": "boolean",
          "description": "Setting this to true means that all values are denied. This field can be set only in policies for list constraints."
        },
        "enforce": {
          "description": "If `true`, then the policy is enforced. If `false`, then any configuration is acceptable. This field can be set only in policies for boolean constraints.",
          "type": "boolean"
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "A condition which determines whether this rule is used in the evaluation of the policy. When set, the `expression` field in the `Expr' must include from 1 to 10 subexpressions, joined by the \"||\" or \"&&\" operators. Each subexpression must be of the form \"resource.matchTag('/tag_key_short_name, 'tag_value_short_name')\". or \"resource.matchTagId('tagKeys/key_id', 'tagValues/value_id')\". where key_name and value_name are the resource names for Label Keys and Values. These names are available from the Tag Manager Service. An example expression is: \"resource.matchTag('123456789/environment, 'prod')\". or \"resource.matchTagId('tagKeys/123', 'tagValues/456')\"."
        },
        "allowAll": {
          "type": "boolean",
          "description": "Setting this to true means that all values are allowed. This field can be set only in policies for list constraints."
        },
        "values": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues",
          "description": "List of values to be used for this policy rule. This field can be set only in policies for list constraints."
        }
      },
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule",
      "description": "A rule used to express this policy.",
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1betaGenerateOrgPolicyViolationsPreviewOperationMetadata": {
      "description": "GenerateOrgPolicyViolationsPreviewOperationMetadata is metadata about an OrgPolicyViolationsPreview generations operation.",
      "id": "GoogleCloudPolicysimulatorV1betaGenerateOrgPolicyViolationsPreviewOperationMetadata",
      "properties": {
        "resourcesPending": {
          "format": "int32",
          "description": "Number of resources still to scan.",
          "type": "integer"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time when the request started processing, i.e. when the state was set to RUNNING.",
          "type": "string"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "Time when the request was received.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The OrgPolicyViolationsPreview has not been created yet.",
            "The OrgPolicyViolationsPreview is currently being created.",
            "The OrgPolicyViolationsPreview creation finished successfully.",
            "The OrgPolicyViolationsPreview creation failed with an error."
          ],
          "type": "string",
          "description": "The current state of the operation.",
          "enum": [
            "PREVIEW_STATE_UNSPECIFIED",
            "PREVIEW_PENDING",
            "PREVIEW_RUNNING",
            "PREVIEW_SUCCEEDED",
            "PREVIEW_FAILED"
          ]
        },
        "resourcesFound": {
          "format": "int32",
          "description": "Total number of resources that need scanning. Should equal resource_scanned + resources_pending",
          "type": "integer"
        },
        "resourcesScanned": {
          "format": "int32",
          "description": "Number of resources already scanned.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1betaOrgPolicyOverlayPolicyOverlay": {
      "properties": {
        "policyParent": {
          "description": "The parent of the policy we are attaching to. Example: \"projects/123456\"",
          "type": "string"
        },
        "policy": {
          "$ref": "GoogleCloudOrgpolicyV2Policy",
          "description": "The new or updated OrgPolicy."
        }
      },
      "description": "A change to an OrgPolicy.",
      "id": "GoogleCloudPolicysimulatorV1betaOrgPolicyOverlayPolicyOverlay",
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1alphaReplayResult": {
      "description": "The result of replaying a single access tuple against a simulated state.",
      "properties": {
        "name": {
          "description": "The resource name of the `ReplayResult`, in the following format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}/results/{replay-result-id}`, where `{resource-id}` is the ID of the project, folder, or organization that owns the Replay. Example: `projects/my-example-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36/results/1234`",
          "type": "string"
        },
        "accessTuple": {
          "$ref": "GoogleCloudPolicysimulatorV1alphaAccessTuple",
          "description": "The access tuple that was replayed. This field includes information about the principal, resource, and permission that were involved in the access attempt."
        },
        "diff": {
          "$ref": "GoogleCloudPolicysimulatorV1alphaReplayDiff",
          "description": "The difference between the principal's access under the current (baseline) policies and the principal's access under the proposed (simulated) policies. This field is only included for access tuples that were successfully replayed and had different results under the current policies and the proposed policies."
        },
        "lastSeenDate": {
          "description": "The latest date this access tuple was seen in the logs.",
          "$ref": "GoogleTypeDate"
        },
        "error": {
          "description": "The error that caused the access tuple replay to fail. This field is only included for access tuples that were not replayed successfully.",
          "$ref": "GoogleRpcStatus"
        },
        "parent": {
          "type": "string",
          "description": "The Replay that the access tuple was included in."
        }
      },
      "id": "GoogleCloudPolicysimulatorV1alphaReplayResult",
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1alphaListOrgPolicyViolationsResponse": {
      "description": "ListOrgPolicyViolationsResponse is the response message for OrgPolicyViolationsPreviewService.ListOrgPolicyViolations",
      "properties": {
        "orgPolicyViolations": {
          "description": "The list of OrgPolicyViolations",
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that you can use to retrieve the next page of results. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudPolicysimulatorV1alphaListOrgPolicyViolationsResponse",
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "GoogleIamV1Policy",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      }
    },
    "GoogleCloudPolicysimulatorV1ReplayResultsSummary": {
      "type": "object",
      "properties": {
        "oldestDate": {
          "$ref": "GoogleTypeDate",
          "description": "The date of the oldest log entry replayed."
        },
        "differenceCount": {
          "type": "integer",
          "description": "The number of replayed log entries with a difference between baseline and simulated policies.",
          "format": "int32"
        },
        "newestDate": {
          "$ref": "GoogleTypeDate",
          "description": "The date of the newest log entry replayed."
        },
        "errorCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of log entries that could not be replayed."
        },
        "unchangedCount": {
          "format": "int32",
          "description": "The number of replayed log entries with no difference between baseline and simulated policies.",
          "type": "integer"
        },
        "logCount": {
          "format": "int32",
          "description": "The total number of log entries replayed.",
          "type": "integer"
        }
      },
      "description": "Summary statistics about the replayed log entries.",
      "id": "GoogleCloudPolicysimulatorV1ReplayResultsSummary"
    },
    "GoogleCloudPolicysimulatorV1alphaListReplayResultsResponse": {
      "description": "Response message for Simulator.ListReplayResults.",
      "id": "GoogleCloudPolicysimulatorV1alphaListReplayResultsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that you can use to retrieve the next page of ReplayResult objects. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "replayResults": {
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaReplayResult"
          },
          "type": "array",
          "description": "The results of running a Replay."
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "type": "object",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudPolicysimulatorV1alphaExplainedAccess": {
      "type": "object",
      "description": "Details about how a set of policies, listed in ExplainedPolicy, resulted in a certain AccessState when replaying an access tuple.",
      "id": "GoogleCloudPolicysimulatorV1alphaExplainedAccess",
      "properties": {
        "accessState": {
          "description": "Whether the principal in the access tuple has permission to access the resource in the access tuple under the given policies.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The principal has the permission.",
            "The principal does not have the permission.",
            "The principal has the permission only if a condition expression evaluates to `true`.",
            "The user who created the Replay does not have access to all of the policies that Policy Simulator needs to evaluate."
          ],
          "type": "string",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        },
        "errors": {
          "description": "If the AccessState is `UNKNOWN`, this field contains a list of errors explaining why the result is `UNKNOWN`. If the `AccessState` is `GRANTED` or `NOT_GRANTED`, this field is omitted.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "policies": {
          "description": "If the AccessState is `UNKNOWN`, this field contains the policies that led to that result. If the `AccessState` is `GRANTED` or `NOT_GRANTED`, this field is omitted.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaExplainedPolicy"
          }
        }
      }
    },
    "GoogleIamV1Binding": {
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleCloudPolicysimulatorV1ReplayOperationMetadata": {
      "id": "GoogleCloudPolicysimulatorV1ReplayOperationMetadata",
      "description": "Metadata about a Replay operation.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the request was received."
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreviewResourceCounts": {
      "properties": {
        "errors": {
          "type": "integer",
          "description": "Number of resources that returned an error when scanned.",
          "format": "int32"
        },
        "scanned": {
          "description": "Number of resources checked for compliance. Must equal: unenforced + noncompliant + compliant + error",
          "type": "integer",
          "format": "int32"
        },
        "noncompliant": {
          "type": "integer",
          "description": "Number of scanned resources with at least one violation.",
          "format": "int32"
        },
        "unenforced": {
          "description": "Number of resources where the constraint was not enforced, i.e. the Policy set `enforced: false` for that resource.",
          "format": "int32",
          "type": "integer"
        },
        "compliant": {
          "type": "integer",
          "description": "Number of scanned resources with zero violations.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreviewResourceCounts",
      "description": "A summary of the state of all resources scanned for compliance with the changed OrgPolicy.",
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1alphaReplayResultsSummary": {
      "id": "GoogleCloudPolicysimulatorV1alphaReplayResultsSummary",
      "properties": {
        "errorCount": {
          "type": "integer",
          "description": "The number of log entries that could not be replayed.",
          "format": "int32"
        },
        "newestDate": {
          "description": "The date of the newest log entry replayed.",
          "$ref": "GoogleTypeDate"
        },
        "logCount": {
          "type": "integer",
          "description": "The total number of log entries replayed.",
          "format": "int32"
        },
        "differenceCount": {
          "description": "The number of replayed log entries with a difference between baseline and simulated policies.",
          "type": "integer",
          "format": "int32"
        },
        "unchangedCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of replayed log entries with no difference between baseline and simulated policies."
        },
        "oldestDate": {
          "description": "The date of the oldest log entry replayed.",
          "$ref": "GoogleTypeDate"
        }
      },
      "type": "object",
      "description": "Summary statistics about the replayed log entries."
    },
    "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolation": {
      "properties": {
        "resource": {
          "$ref": "GoogleCloudPolicysimulatorV1alphaResourceContext",
          "description": "The resource violating the constraint."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Any error encountered during the evaluation."
        },
        "name": {
          "description": "The name of the `OrgPolicyViolation`. Example: organizations/my-example-org/locations/global/orgPolicyViolationsPreviews/506a5f7f/orgPolicyViolations/38ce`",
          "type": "string"
        },
        "customConstraint": {
          "description": "The custom constraint being violated.",
          "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
        }
      },
      "description": "OrgPolicyViolation is a resource representing a single resource violating a single OrgPolicy constraint.",
      "type": "object",
      "id": "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolation"
    },
    "GoogleCloudPolicysimulatorV1alphaReplayDiff": {
      "type": "object",
      "properties": {
        "accessDiff": {
          "$ref": "GoogleCloudPolicysimulatorV1alphaAccessStateDiff",
          "description": "A summary and comparison of the principal's access under the current (baseline) policies and the proposed (simulated) policies for a single access tuple. The evaluation of the principal's access is reported in the AccessState field."
        }
      },
      "description": "The difference between the results of evaluating an access tuple under the current (baseline) policies and under the proposed (simulated) policies. This difference explains how a principal's access could change if the proposed policies were applied.",
      "id": "GoogleCloudPolicysimulatorV1alphaReplayDiff"
    },
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "GoogleTypeExpr",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "GoogleIamV1AuditLogConfig"
    },
    "GoogleCloudPolicysimulatorV1alphaReplayConfig": {
      "description": "The configuration used for a Replay.",
      "id": "GoogleCloudPolicysimulatorV1alphaReplayConfig",
      "properties": {
        "logSource": {
          "description": "The logs to use as input for the Replay.",
          "enumDescriptions": [
            "An unspecified log source. If the log source is unspecified, the Replay defaults to using `RECENT_ACCESSES`.",
            "All access logs from the last 90 days. These logs may not include logs from the most recent 7 days."
          ],
          "enum": [
            "LOG_SOURCE_UNSPECIFIED",
            "RECENT_ACCESSES"
          ],
          "type": "string"
        },
        "policyOverlay": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleIamV1Policy"
          },
          "description": "A mapping of the resources that you want to simulate policies for and the policies that you want to simulate. Keys are the full resource names for the resources. For example, `//cloudresourcemanager.googleapis.com/projects/my-project`. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names. Values are Policy objects representing the policies that you want to simulate. Replays automatically take into account any IAM policies inherited through the resource hierarchy, and any policies set on descendant resources. You do not need to include these policies in the policy overlay."
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1alphaResourceContext": {
      "properties": {
        "assetType": {
          "description": "The asset type of the resource as defined by CAIS. Example: `compute.googleapis.com/Firewall` See [Supported asset types](https://cloud.google.com/asset-inventory/docs/supported-asset-types) for more information.",
          "type": "string"
        },
        "ancestors": {
          "description": "The ancestry path of the resource in Google Cloud [resource hierarchy](https://cloud.google.com/resource-manager/docs/cloud-platform-resource-hierarchy), represented as a list of relative resource names. An ancestry path starts with the closest ancestor in the hierarchy and ends at root. If the resource is a project, folder, or organization, the ancestry path starts from the resource itself. Example: `[\"projects/123456789\", \"folders/5432\", \"organizations/1234\"]`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resource": {
          "type": "string",
          "description": "The full name of the resource. Example: `//compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1` See [Resource names](https://cloud.google.com/apis/design/resource_names#full_resource_name) for more information."
        }
      },
      "type": "object",
      "id": "GoogleCloudPolicysimulatorV1alphaResourceContext",
      "description": "ResourceContext provides the context we know about a resource. It is similar in concept to google.cloud.asset.v1.Resource, but focuses on the information specifically used by Simulator."
    },
    "GoogleCloudPolicysimulatorV1alphaListReplaysResponse": {
      "type": "object",
      "description": "Response message for Simulator.ListReplays.",
      "id": "GoogleCloudPolicysimulatorV1alphaListReplaysResponse",
      "properties": {
        "replays": {
          "description": "The list of Replay objects.",
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaReplay"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that you can use to retrieve the next page of results. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOrgpolicyV2CustomConstraint": {
      "properties": {
        "description": {
          "description": "Detailed information about this custom policy constraint. The max length of the description is 2000 characters.",
          "type": "string"
        },
        "actionType": {
          "enumDescriptions": [
            "Unspecified. Results in an error.",
            "Allowed action type.",
            "Deny action type."
          ],
          "type": "string",
          "description": "Allow or deny type.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "methodTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Results in an error.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Constraint applied when deleting the resource. Not supported yet."
            ],
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE"
            ]
          },
          "description": "All the operations being applied for this constraint.",
          "type": "array"
        },
        "condition": {
          "type": "string",
          "description": "Org policy condition/expression. For example: `resource.instanceName.matches(\"[production|test]_.*_(\\d)+\")` or, `resource.management.auto_upgrade == true` The max length of the condition is 1000 characters."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Name of the constraint. This is unique within the organization. Format of the name should be * `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms` The max length is 70 characters and the minimum length is 1. Note that the prefix `organizations/{organization_id}/customConstraints/` is not counted."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last time this custom constraint was updated. This represents the last time that the `CreateCustomConstraint` or `UpdateCustomConstraint` RPC was called"
        },
        "resourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Immutable. The resource instance type on which this policy applies. Format will be of the form : `/` Example: * `compute.googleapis.com/Instance`."
        },
        "displayName": {
          "type": "string",
          "description": "One line display name for the UI. The max length of the display_name is 200 characters."
        }
      },
      "id": "GoogleCloudOrgpolicyV2CustomConstraint",
      "type": "object",
      "description": "A custom constraint defined by customers which can *only* be applied to the given resource types and organization. By creating a custom constraint, customers can apply policies of this custom constraint. *Creating a custom constraint itself does NOT apply any policy enforcement*."
    },
    "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreview": {
      "description": "OrgPolicyViolationsPreview is a resource providing a preview of the violations that will exist if an OrgPolicy change is made. The list of violations are modeled as child resources and retrieved via a ListOrgPolicyViolations API call. There are potentially more OrgPolicyViolations than could fit in an embedded field. Thus, the use of a child resource instead of a field.",
      "id": "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreview",
      "type": "object",
      "properties": {
        "customConstraints": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The names of the constraints against which all `OrgPolicyViolations` were evaluated. If `OrgPolicyOverlay` only contains `PolicyOverlay` then it contains the name of the configured custom constraint, applicable to the specified policies. Otherwise it contains the name of the constraint specified in `CustomConstraintOverlay`. Format: `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms`"
        },
        "violationsCount": {
          "description": "Output only. The number of OrgPolicyViolations in this `OrgPolicyViolationsPreview`. This count may differ from `resource_summary.noncompliant_count` because each OrgPolicyViolation is specific to a resource **and** constraint. If there are multiple constraints being evaluated (i.e. multiple policies in the overlay), a single resource may violate multiple constraints.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the `OrgPolicyViolationsPreview`. It has the following format: `organizations/{organization}/locations/{location}/orgPolicyViolationsPreviews/{orgPolicyViolationsPreview}` Example: `organizations/my-example-org/locations/global/orgPolicyViolationsPreviews/506a5f7f`"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the `OrgPolicyViolationsPreview`.",
          "enum": [
            "PREVIEW_STATE_UNSPECIFIED",
            "PREVIEW_PENDING",
            "PREVIEW_RUNNING",
            "PREVIEW_SUCCEEDED",
            "PREVIEW_FAILED"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The OrgPolicyViolationsPreview has not been created yet.",
            "The OrgPolicyViolationsPreview is currently being created.",
            "The OrgPolicyViolationsPreview creation finished successfully.",
            "The OrgPolicyViolationsPreview creation failed with an error."
          ]
        },
        "resourceCounts": {
          "readOnly": true,
          "description": "Output only. A summary of the state of all resources scanned for compliance with the changed OrgPolicy.",
          "$ref": "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreviewResourceCounts"
        },
        "overlay": {
          "$ref": "GoogleCloudPolicysimulatorV1alphaOrgPolicyOverlay",
          "description": "Required. The proposed changes we are previewing violations for."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this `OrgPolicyViolationsPreview` was created.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch",
  "name": "policysimulator",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "ownerName": "Google",
  "mtlsRootUrl": "https://policysimulator.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "resources": {
    "operations": {
      "methods": {
        "list": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v1alpha/operations",
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The standard list page token."
            },
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^operations$",
              "description": "The name of the operation's parent resource.",
              "type": "string"
            },
            "pageSize": {
              "description": "The standard list page size.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "filter": {
              "type": "string",
              "description": "The standard list filter.",
              "location": "query"
            }
          },
          "path": "v1alpha/{+name}",
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "id": "policysimulator.operations.list"
        },
        "get": {
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "id": "policysimulator.operations.get",
          "flatPath": "v1alpha/operations/{operationsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1alpha/{+name}",
          "httpMethod": "GET"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "orgPolicyViolationsPreviews": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "httpMethod": "GET",
                      "id": "policysimulator.projects.locations.orgPolicyViolationsPreviews.operations.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/orgPolicyViolationsPreviews/[^/]+/operations/.*$",
                          "type": "string",
                          "required": true,
                          "description": "The name of the operation resource.",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/orgPolicyViolationsPreviews/{orgPolicyViolationsPreviewsId}/operations/{operationsId}",
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    }
                  }
                }
              }
            },
            "replays": {
              "resources": {
                "results": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "policysimulator.projects.locations.replays.results.list",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/replays/{replaysId}/results",
                      "path": "v1alpha/{+parent}/results",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudPolicysimulatorV1alphaListReplayResultsResponse"
                      },
                      "description": "Lists the results of running a Replay.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, received from a previous Simulator.ListReplayResults call. Provide this token to retrieve the next page of results. When paginating, all other parameters provided to [Simulator.ListReplayResults[] must match the call that provided the page token."
                        },
                        "parent": {
                          "description": "Required. The Replay whose results are listed, in the following format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}` Example: `projects/my-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/replays/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of ReplayResult objects to return. Defaults to 5000. The maximum value is 5000; values above 5000 are rounded down to 5000.",
                          "format": "int32"
                        }
                      }
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "get": {
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "policysimulator.projects.locations.replays.operations.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/replays/[^/]+/operations/.*$",
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "required": true
                        }
                      },
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/replays/{replaysId}/operations/{operationsId}"
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "httpMethod": "GET",
                      "id": "policysimulator.projects.locations.replays.operations.list",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/replays/{replaysId}/operations",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "description": "The name of the operation's parent resource.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/replays/[^/]+/operations$",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The standard list page size."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The standard list page token.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "path": "v1alpha/{+parent}/replays",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource where this Replay will be created. This resource must be a project, folder, or organization with a location. Example: `projects/my-example-project/locations/global`",
                      "type": "string",
                      "location": "path"
[...]
