{
  "discoveryVersion": "v1",
  "baseUrl": "https://policysimulator.googleapis.com/",
  "ownerDomain": "google.com",
  "description": " Policy Simulator is a collection of endpoints for creating, running, and viewing a Replay. A `Replay` is a type of simulation that lets you see how your members' access to resources might change if you changed your IAM policy. During a `Replay`, Policy Simulator re-evaluates, or replays, past access attempts under both the current policy and your proposed policy, and compares those results to determine how your members' access might change under the proposed policy.",
  "servicePath": "",
  "id": "policysimulator:v1alpha",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/iam/docs/simulating-access",
  "protocol": "rest",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "orgPolicyViolationsPreviews": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "policysimulator.organizations.locations.orgPolicyViolationsPreviews.get",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreview"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the OrgPolicyViolationsPreview to get.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/orgPolicyViolationsPreviews/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/orgPolicyViolationsPreviews/{orgPolicyViolationsPreviewsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "GetOrgPolicyViolationsPreview gets the specified OrgPolicyViolationsPreview. Each OrgPolicyViolationsPreview is available for at least 7 days."
                },
                "list": {
                  "description": "ListOrgPolicyViolationsPreviews lists each OrgPolicyViolationsPreview in an organization. Each OrgPolicyViolationsPreview is available for at least 7 days.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent the violations are scoped to. Format: `organizations/{organization}/locations/{location}` Example: `organizations/my-example-org/locations/global`",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of items to return. The service may return fewer than this value. If unspecified, at most 5 items will be returned. The maximum value is 10; values above 10 will be coerced to 10.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/orgPolicyViolationsPreviews",
                  "path": "v1alpha/{+parent}/orgPolicyViolationsPreviews",
                  "id": "policysimulator.organizations.locations.orgPolicyViolationsPreviews.list",
                  "response": {
                    "$ref": "GoogleCloudPolicysimulatorV1alphaListOrgPolicyViolationsPreviewsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              },
              "resources": {
                "orgPolicyViolations": {
                  "methods": {
                    "list": {
                      "path": "v1alpha/{+parent}/orgPolicyViolations",
                      "description": "ListOrgPolicyViolations lists the OrgPolicyViolations that are present in an OrgPolicyViolationsPreview.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "policysimulator.organizations.locations.orgPolicyViolationsPreviews.orgPolicyViolations.list",
                      "response": {
                        "$ref": "GoogleCloudPolicysimulatorV1alphaListOrgPolicyViolationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/orgPolicyViolationsPreviews/{orgPolicyViolationsPreviewsId}/orgPolicyViolations",
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/orgPolicyViolationsPreviews/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The OrgPolicyViolationsPreview to get OrgPolicyViolations from. Format: organizations/{organization}/locations/{location}/orgPolicyViolationsPreviews/{orgPolicyViolationsPreview}"
                        },
                        "pageSize": {
                          "description": "The maximum number of items to return. The service may return fewer than this value. If unspecified, at most 50 items will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET"
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/orgPolicyViolationsPreviews/[^/]+/operations/.*$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "httpMethod": "GET",
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/orgPolicyViolationsPreviews/{orgPolicyViolationsPreviewsId}/operations/{operationsId}",
                      "id": "policysimulator.organizations.locations.orgPolicyViolationsPreviews.operations.get"
                    }
                  }
                }
              }
            },
            "replays": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/replays/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the Replay to retrieve, in the following format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}`, where `{resource-id}` is the ID of the project, folder, or organization that owns the `Replay`. Example: `projects/my-example-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "policysimulator.organizations.locations.replays.get",
                  "response": {
                    "$ref": "GoogleCloudPolicysimulatorV1alphaReplay"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/replays/{replaysId}",
                  "description": "Gets the specified Replay. Each `Replay` is available for at least 7 days."
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource, in the following format: `{projects|folders|organizations}/{resource-id}/locations/global`, where `{resource-id}` is the ID of the project, folder, or organization that owns the Replay. Example: `projects/my-example-project/locations/global` Only `Replay` objects that are direct children of the provided parent are listed. In other words, `Replay` objects that are children of a project will not be included when the parent is a folder of that project."
                    },
                    "pageSize": {
                      "description": "The maximum number of Replay objects to return. Defaults to 50. The maximum value is 1000; values above 1000 are rounded down to 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous Simulator.ListReplays call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to Simulator.ListReplays must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudPolicysimulatorV1alphaListReplaysResponse"
                  },
                  "id": "policysimulator.organizations.locations.replays.list",
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/replays",
                  "description": "Lists each Replay in a project, folder, or organization. Each `Replay` is available for at least 7 days.",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/replays",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "path": "v1alpha/{+parent}/replays",
                  "description": "Creates and starts a Replay using the given ReplayConfig.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "policysimulator.organizations.locations.replays.create",
                  "request": {
                    "$ref": "GoogleCloudPolicysimulatorV1alphaReplay"
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/replays",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource where this Replay will be created. This resource must be a project, folder, or organization with a location. Example: `projects/my-example-project/locations/global`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "GET",
                      "path": "v1alpha/{+name}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "policysimulator.organizations.locations.replays.operations.get",
                      "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/replays/{replaysId}/operations/{operationsId}",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/replays/[^/]+/operations/.*$"
                        }
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/replays/{replaysId}/operations",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}",
                      "id": "policysimulator.organizations.locations.replays.operations.list",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list filter."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The standard list page size.",
                          "type": "integer",
                          "location": "query"
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/replays/[^/]+/operations$"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The standard list page token.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET"
                    }
                  }
                },
                "results": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "id": "policysimulator.organizations.locations.replays.results.list",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A page token, received from a previous Simulator.ListReplayResults call. Provide this token to retrieve the next page of results. When paginating, all other parameters provided to [Simulator.ListReplayResults[] must match the call that provided the page token."
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of ReplayResult objects to return. Defaults to 5000. The maximum value is 5000; values above 5000 are rounded down to 5000.",
                          "type": "integer"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/replays/[^/]+$",
                          "description": "Required. The Replay whose results are listed, in the following format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}` Example: `projects/my-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36`",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudPolicysimulatorV1alphaListReplayResultsResponse"
                      },
                      "description": "Lists the results of running a Replay.",
                      "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/replays/{replaysId}/results",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/results"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "orgPolicyViolationsPreviews": {
              "path": "v1alpha/{+parent}/orgPolicyViolationsPreviews",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+/locations/[^/]+$",
                  "description": "Required. The organization under which this OrgPolicyViolationsPreview will be created. Example: `organizations/my-example-org/locations/global`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/locations/{locationsId}/orgPolicyViolationsPreviews",
              "request": {
                "$ref": "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreview"
              },
              "description": "GenerateOrgPolicyViolationsPreview generates an OrgPolicyViolationsPreview for the proposed changes in the provided OrgPolicyViolationsPreview.OrgPolicyOverlay. The changes to OrgPolicy are specified by this `OrgPolicyOverlay`. The resources to scan are inferred from these specified changes.",
              "parameterOrder": [
                "parent"
              ],
              "id": "policysimulator.organizations.locations.orgPolicyViolationsPreviews",
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "orgPolicyViolationsPreviews": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "pattern": "^folders/[^/]+/locations/[^/]+/orgPolicyViolationsPreviews/[^/]+/operations/.*$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/folders/{foldersId}/locations/{locationsId}/orgPolicyViolationsPreviews/{orgPolicyViolationsPreviewsId}/operations/{operationsId}",
                      "id": "policysimulator.folders.locations.orgPolicyViolationsPreviews.operations.get",
                      "path": "v1alpha/{+name}"
                    }
                  }
                }
              }
            },
            "replays": {
              "resources": {
                "operations": {
                  "methods": {
                    "list": {
                      "id": "policysimulator.folders.locations.replays.operations.list",
                      "parameters": {
                        "pageToken": {
                          "description": "The standard list page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "The standard list page size."
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^folders/[^/]+/locations/[^/]+/replays/[^/]+/operations$",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation's parent resource."
                        }
                      },
                      "flatPath": "v1alpha/folders/{foldersId}/locations/{locationsId}/replays/{replaysId}/operations",
                      "httpMethod": "GET",
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "policysimulator.folders.locations.replays.operations.get",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "required": true,
                          "pattern": "^folders/[^/]+/locations/[^/]+/replays/[^/]+/operations/.*$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1alpha/folders/{foldersId}/locations/{locationsId}/replays/{replaysId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1alpha/{+name}"
                    }
                  }
                },
                "results": {
                  "methods": {
                    "list": {
                      "id": "policysimulator.folders.locations.replays.results.list",
                      "description": "Lists the results of running a Replay.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/results",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudPolicysimulatorV1alphaListReplayResultsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^folders/[^/]+/locations/[^/]+/replays/[^/]+$",
                          "location": "path",
                          "description": "Required. The Replay whose results are listed, in the following format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}` Example: `projects/my-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36`",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of ReplayResult objects to return. Defaults to 5000. The maximum value is 5000; values above 5000 are rounded down to 5000."
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous Simulator.ListReplayResults call. Provide this token to retrieve the next page of results. When paginating, all other parameters provided to [Simulator.ListReplayResults[] must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/folders/{foldersId}/locations/{locationsId}/replays/{replaysId}/results"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/folders/{foldersId}/locations/{locationsId}/replays",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/replays",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource, in the following format: `{projects|folders|organizations}/{resource-id}/locations/global`, where `{resource-id}` is the ID of the project, folder, or organization that owns the Replay. Example: `projects/my-example-project/locations/global` Only `Replay` objects that are direct children of the provided parent are listed. In other words, `Replay` objects that are children of a project will not be included when the parent is a folder of that project.",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of Replay objects to return. Defaults to 50. The maximum value is 1000; values above 1000 are rounded down to 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous Simulator.ListReplays call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to Simulator.ListReplays must match the call that provided the page token."
                    }
                  },
                  "id": "policysimulator.folders.locations.replays.list",
                  "description": "Lists each Replay in a project, folder, or organization. Each `Replay` is available for at least 7 days.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudPolicysimulatorV1alphaListReplaysResponse"
                  }
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudPolicysimulatorV1alphaReplay"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource where this Replay will be created. This resource must be a project, folder, or organization with a location. Example: `projects/my-example-project/locations/global`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/folders/{foldersId}/locations/{locationsId}/replays",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/replays",
                  "description": "Creates and starts a Replay using the given ReplayConfig.",
                  "id": "policysimulator.folders.locations.replays.create"
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/folders/{foldersId}/locations/{locationsId}/replays/{replaysId}",
                  "id": "policysimulator.folders.locations.replays.get",
                  "response": {
                    "$ref": "GoogleCloudPolicysimulatorV1alphaReplay"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/replays/[^/]+$",
                      "description": "Required. The name of the Replay to retrieve, in the following format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}`, where `{resource-id}` is the ID of the project, folder, or organization that owns the `Replay`. Example: `projects/my-example-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36`"
                    }
                  },
                  "description": "Gets the specified Replay. Each `Replay` is available for at least 7 days.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "orgPolicyViolationsPreviews": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "policysimulator.projects.locations.orgPolicyViolationsPreviews.operations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/orgPolicyViolationsPreviews/[^/]+/operations/.*$"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/orgPolicyViolationsPreviews/{orgPolicyViolationsPreviewsId}/operations/{operationsId}"
                    }
                  }
                }
              }
            },
            "replays": {
              "resources": {
                "results": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudPolicysimulatorV1alphaListReplayResultsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/replays/{replaysId}/results",
                      "id": "policysimulator.projects.locations.replays.results.list",
                      "description": "Lists the results of running a Replay.",
                      "path": "v1alpha/{+parent}/results",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous Simulator.ListReplayResults call. Provide this token to retrieve the next page of results. When paginating, all other parameters provided to [Simulator.ListReplayResults[] must match the call that provided the page token.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The Replay whose results are listed, in the following format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}` Example: `projects/my-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/replays/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of ReplayResult objects to return. Defaults to 5000. The maximum value is 5000; values above 5000 are rounded down to 5000.",
                          "type": "integer"
                        }
                      },
                      "httpMethod": "GET"
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/replays/[^/]+/operations/.*$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "policysimulator.projects.locations.replays.operations.get",
                      "path": "v1alpha/{+name}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/replays/{replaysId}/operations/{operationsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/replays/{replaysId}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/replays/[^/]+/operations$",
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation's parent resource.",
                          "required": true
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "The standard list filter."
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "The standard list page size."
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "policysimulator.projects.locations.replays.operations.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Replay to retrieve, in the following format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}`, where `{resource-id}` is the ID of the project, folder, or organization that owns the `Replay`. Example: `projects/my-example-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/replays/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/replays/{replaysId}",
                  "description": "Gets the specified Replay. Each `Replay` is available for at least 7 days.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "policysimulator.projects.locations.replays.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudPolicysimulatorV1alphaReplay"
                  }
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudPolicysimulatorV1alphaReplay"
                  },
                  "id": "policysimulator.projects.locations.replays.create",
                  "httpMethod": "POST",
                  "description": "Creates and starts a Replay using the given ReplayConfig.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/replays",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource where this Replay will be created. This resource must be a project, folder, or organization with a location. Example: `projects/my-example-project/locations/global`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/replays",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "list": {
                  "id": "policysimulator.projects.locations.replays.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists each Replay in a project, folder, or organization. Each `Replay` is available for at least 7 days.",
                  "response": {
                    "$ref": "GoogleCloudPolicysimulatorV1alphaListReplaysResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/replays",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous Simulator.ListReplays call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to Simulator.ListReplays must match the call that provided the page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of Replay objects to return. Defaults to 50. The maximum value is 1000; values above 1000 are rounded down to 1000.",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource, in the following format: `{projects|folders|organizations}/{resource-id}/locations/global`, where `{resource-id}` is the ID of the project, folder, or organization that owns the Replay. Example: `projects/my-example-project/locations/global` Only `Replay` objects that are direct children of the provided parent are listed. In other words, `Replay` objects that are children of a project will not be included when the parent is a folder of that project.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+parent}/replays"
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the operation's parent resource.",
              "required": true,
              "pattern": "^operations$",
              "location": "path",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "The standard list filter.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The standard list page token."
            },
            "pageSize": {
              "type": "integer",
              "description": "The standard list page size.",
              "location": "query",
              "format": "int32"
            }
          },
          "id": "policysimulator.operations.list",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/operations",
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "path": "v1alpha/{+name}",
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
        },
        "get": {
          "id": "policysimulator.operations.get",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1alpha/operations/{operationsId}",
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^operations/.*$"
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://policysimulator.googleapis.com/",
  "version_module": true,
  "name": "policysimulator",
  "version": "v1alpha",
  "revision": "20231203",
  "kind": "discovery#restDescription",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Policy Simulator API",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://policysimulator.mtls.googleapis.com/",
  "canonicalName": "Policy Simulator",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudPolicysimulatorV1alphaListOrgPolicyViolationsPreviewsResponse": {
      "id": "GoogleCloudPolicysimulatorV1alphaListOrgPolicyViolationsPreviewsResponse",
      "type": "object",
      "description": "ListOrgPolicyViolationsPreviewsResponse is the response message for OrgPolicyViolationsPreviewService.ListOrgPolicyViolationsPreviews.",
      "properties": {
        "nextPageToken": {
          "description": "A token that you can use to retrieve the next page of results. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "orgPolicyViolationsPreviews": {
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreview"
          },
          "description": "The list of OrgPolicyViolationsPreview",
          "type": "array"
        }
      }
    },
    "GoogleCloudPolicysimulatorV1alphaBindingExplanation": {
      "id": "GoogleCloudPolicysimulatorV1alphaBindingExplanation",
      "properties": {
        "rolePermission": {
          "description": "Indicates whether the role granted by this binding contains the specified permission.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The permission is included in the role.",
            "The permission is not included in the role.",
            "The user who created the Replay is not allowed to access the binding."
          ],
          "enum": [
            "ROLE_PERMISSION_UNSPECIFIED",
            "ROLE_PERMISSION_INCLUDED",
            "ROLE_PERMISSION_NOT_INCLUDED",
            "ROLE_PERMISSION_UNKNOWN_INFO_DENIED"
          ]
        },
        "access": {
          "type": "string",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The principal has the permission.",
            "The principal does not have the permission.",
            "The principal has the permission only if a condition expression evaluates to `true`.",
            "The user who created the Replay does not have access to all of the policies that Policy Simulator needs to evaluate."
          ],
          "description": "Required. Indicates whether _this binding_ provides the specified permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal actually has the permission for the resource. There might be another binding that overrides this binding. To determine whether the principal actually has the permission, use the `access` field in the TroubleshootIamPolicyResponse."
        },
        "relevance": {
          "description": "The relevance of this binding to the overall determination for the entire policy.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ]
        },
        "role": {
          "description": "The role that this binding grants. For example, `roles/compute.serviceAgent`. For a complete list of predefined IAM roles, as well as the permissions in each role, see https://cloud.google.com/iam/help/roles/reference.",
          "type": "string"
        },
        "rolePermissionRelevance": {
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "description": "The relevance of the permission's existence, or nonexistence, in the role to the overall determination for the entire policy.",
          "type": "string"
        },
        "memberships": {
          "description": "Indicates whether each principal in the binding includes the principal specified in the request, either directly or indirectly. Each key identifies a principal in the binding, and each value indicates whether the principal in the binding includes the principal in the request. For example, suppose that a binding includes the following principals: * `user:alice@example.com` * `group:product-eng@example.com` The principal in the replayed access tuple is `user:bob@example.com`. This user is a principal of the group `group:product-eng@example.com`. For the first principal in the binding, the key is `user:alice@example.com`, and the `membership` field in the value is set to `MEMBERSHIP_NOT_INCLUDED`. For the second principal in the binding, the key is `group:product-eng@example.com`, and the `membership` field in the value is set to `MEMBERSHIP_INCLUDED`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaBindingExplanationAnnotatedMembership"
          }
        },
        "condition": {
          "description": "A condition expression that prevents this binding from granting access unless the expression evaluates to `true`. To learn about IAM Conditions, see https://cloud.google.com/iam/docs/conditions-overview.",
          "$ref": "GoogleTypeExpr"
        }
      },
      "description": "Details about how a binding in a policy affects a principal's ability to use a permission.",
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreviewResourceCounts": {
      "properties": {
        "noncompliant": {
          "description": "Number of scanned resources with at least one violation.",
          "type": "integer",
          "format": "int32"
        },
        "scanned": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources checked for compliance. Must equal: unenforced + noncompliant + compliant + error"
        },
        "unenforced": {
          "type": "integer",
          "description": "Number of resources where the constraint was not enforced, i.e. the Policy set `enforced: false` for that resource.",
          "format": "int32"
        },
        "compliant": {
          "format": "int32",
          "type": "integer",
          "description": "Number of scanned resources with zero violations."
        },
        "errors": {
          "description": "Number of resources that returned an error when scanned.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A summary of the state of all resources scanned for compliance with the changed OrgPolicy.",
      "id": "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreviewResourceCounts",
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreview": {
      "description": "OrgPolicyViolationsPreview is a resource providing a preview of the violations that will exist if an OrgPolicy change is made. The list of violations are modeled as child resources and retrieved via a ListOrgPolicyViolations API call. There are potentially more OrgPolicyViolations than could fit in an embedded field. Thus, the use of a child resource instead of a field.",
      "id": "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreview",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The OrgPolicyViolationsPreview has not been created yet.",
            "The OrgPolicyViolationsPreview is currently being created.",
            "The OrgPolicyViolationsPreview creation finished successfully.",
            "The OrgPolicyViolationsPreview creation failed with an error."
          ],
          "type": "string",
          "description": "Output only. The state of the `OrgPolicyViolationsPreview`.",
          "enum": [
            "PREVIEW_STATE_UNSPECIFIED",
            "PREVIEW_PENDING",
            "PREVIEW_RUNNING",
            "PREVIEW_SUCCEEDED",
            "PREVIEW_FAILED"
          ]
        },
        "createTime": {
          "description": "Output only. Time when this `OrgPolicyViolationsPreview` was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "customConstraints": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The names of the constraints against which all `OrgPolicyViolations` were evaluated. If `OrgPolicyOverlay` only contains `PolicyOverlay` then it contains the name of the configured custom constraint, applicable to the specified policies. Otherwise it contains the name of the constraint specified in `CustomConstraintOverlay`. Format: `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms`",
          "items": {
            "type": "string"
          }
        },
        "violationsCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of OrgPolicyViolations in this `OrgPolicyViolationsPreview`. This count may differ from `resource_summary.noncompliant_count` because each OrgPolicyViolation is specific to a resource **and** constraint. If there are multiple constraints being evaluated (i.e. multiple policies in the overlay), a single resource may violate multiple constraints."
        },
        "resourceCounts": {
          "description": "Output only. A summary of the state of all resources scanned for compliance with the changed OrgPolicy.",
          "$ref": "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolationsPreviewResourceCounts",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the `OrgPolicyViolationsPreview`. It has the following format: `organizations/{organization}/locations/{location}/orgPolicyViolationsPreviews/{orgPolicyViolationsPreview}` Example: `organizations/my-example-org/locations/global/orgPolicyViolationsPreviews/506a5f7f`",
          "readOnly": true
        },
        "overlay": {
          "$ref": "GoogleCloudPolicysimulatorV1alphaOrgPolicyOverlay",
          "description": "Required. The proposed changes we are previewing violations for."
        }
      },
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1alphaReplay": {
      "type": "object",
      "id": "GoogleCloudPolicysimulatorV1alphaReplay",
      "properties": {
        "config": {
          "$ref": "GoogleCloudPolicysimulatorV1alphaReplayConfig",
          "description": "Required. The configuration used for the `Replay`."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the `Replay`, which has the following format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}`, where `{resource-id}` is the ID of the project, folder, or organization that owns the Replay. Example: `projects/my-example-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36`"
        },
        "resultsSummary": {
          "description": "Output only. Summary statistics about the replayed log entries.",
          "readOnly": true,
          "$ref": "GoogleCloudPolicysimulatorV1alphaReplayResultsSummary"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The `Replay` has not started yet.",
            "The `Replay` is currently running.",
            "The `Replay` has successfully completed.",
            "The `Replay` has finished with an error."
          ],
          "type": "string",
          "description": "Output only. The current state of the `Replay`.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      },
      "description": "A resource describing a `Replay`, or simulation."
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudPolicysimulatorV1betaGenerateOrgPolicyViolationsPreviewOperationMetadata": {
      "description": "GenerateOrgPolicyViolationsPreviewOperationMetadata is metadata about an OrgPolicyViolationsPreview generations operation.",
      "type": "object",
      "id": "GoogleCloudPolicysimulatorV1betaGenerateOrgPolicyViolationsPreviewOperationMetadata",
      "properties": {
        "resourcesPending": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources still to scan."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the request started processing, i.e. when the state was set to RUNNING."
        },
        "resourcesScanned": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources already scanned."
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "Time when the request was received.",
          "type": "string"
        },
        "resourcesFound": {
          "format": "int32",
          "description": "Total number of resources that need scanning. Should equal resource_scanned + resources_pending",
          "type": "integer"
        },
        "state": {
          "type": "string",
          "enum": [
            "PREVIEW_STATE_UNSPECIFIED",
            "PREVIEW_PENDING",
            "PREVIEW_RUNNING",
            "PREVIEW_SUCCEEDED",
            "PREVIEW_FAILED"
          ],
          "description": "The current state of the operation.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The OrgPolicyViolationsPreview has not been created yet.",
            "The OrgPolicyViolationsPreview is currently being created.",
            "The OrgPolicyViolationsPreview creation finished successfully.",
            "The OrgPolicyViolationsPreview creation failed with an error."
          ]
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleCloudPolicysimulatorV1betaOrgPolicyOverlayPolicyOverlay": {
      "properties": {
        "policyParent": {
          "description": "The parent of the policy we are attaching to. Example: \"projects/123456\"",
          "type": "string"
        },
        "policy": {
          "description": "The new or updated OrgPolicy.",
          "$ref": "GoogleCloudOrgpolicyV2Policy"
        }
      },
      "description": "A change to an OrgPolicy.",
      "id": "GoogleCloudPolicysimulatorV1betaOrgPolicyOverlayPolicyOverlay",
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1alphaReplayResultsSummary": {
      "id": "GoogleCloudPolicysimulatorV1alphaReplayResultsSummary",
      "description": "Summary statistics about the replayed log entries.",
      "properties": {
        "differenceCount": {
          "description": "The number of replayed log entries with a difference between baseline and simulated policies.",
          "format": "int32",
          "type": "integer"
        },
        "newestDate": {
          "$ref": "GoogleTypeDate",
          "description": "The date of the newest log entry replayed."
        },
        "oldestDate": {
          "$ref": "GoogleTypeDate",
          "description": "The date of the oldest log entry replayed."
        },
        "logCount": {
          "format": "int32",
          "description": "The total number of log entries replayed.",
          "type": "integer"
        },
        "errorCount": {
          "format": "int32",
          "description": "The number of log entries that could not be replayed.",
          "type": "integer"
        },
        "unchangedCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of replayed log entries with no difference between baseline and simulated policies."
        }
      },
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues": {
      "properties": {
        "deniedValues": {
          "description": "List of values denied at this resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowedValues": {
          "type": "array",
          "description": "List of values allowed at this resource.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues",
      "type": "object",
      "description": "A message that holds specific allowed and denied values. This message can define specific values and subtrees of the Resource Manager resource hierarchy (`Organizations`, `Folders`, `Projects`) that are allowed or denied. This is achieved by using the `under:` and optional `is:` prefixes. The `under:` prefix is used to denote resource subtree values. The `is:` prefix is used to denote specific values, and is required only if the value contains a \":\". Values prefixed with \"is:\" are treated the same as values with no prefix. Ancestry subtrees must be in one of the following formats: - `projects/` (for example, `projects/tokyo-rain-123`) - `folders/` (for example, `folders/1234`) - `organizations/` (for example, `organizations/1234`) The `supports_under` field of the associated `Constraint` defines whether ancestry prefixes can be used."
    },
    "GoogleCloudPolicysimulatorV1alphaExplainedPolicy": {
      "description": "Details about how a specific IAM Policy contributed to the access check.",
      "type": "object",
      "id": "GoogleCloudPolicysimulatorV1alphaExplainedPolicy",
      "properties": {
        "relevance": {
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "description": "The relevance of this policy to the overall determination in the TroubleshootIamPolicyResponse. If the user who created the Replay does not have access to the policy, this field is omitted."
        },
        "bindingExplanations": {
          "type": "array",
          "description": "Details about how each binding in the policy affects the principal's ability, or inability, to use the permission for the resource. If the user who created the Replay does not have access to the policy, this field is omitted.",
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaBindingExplanation"
          }
        },
        "fullResourceName": {
          "description": "The full resource name that identifies the resource. For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`. If the user who created the Replay does not have access to the policy, this field is omitted. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names.",
          "type": "string"
        },
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "The IAM policy attached to the resource. If the user who created the Replay does not have access to the policy, this field is empty."
        },
        "access": {
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The principal has the permission.",
            "The principal does not have the permission.",
            "The principal has the permission only if a condition expression evaluates to `true`.",
            "The user who created the Replay does not have access to all of the policies that Policy Simulator needs to evaluate."
          ],
          "type": "string",
          "description": "Indicates whether _this policy_ provides the specified permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal actually has the permission for the resource. There might be another policy that overrides this policy. To determine whether the principal actually has the permission, use the `access` field in the TroubleshootIamPolicyResponse."
        }
      }
    },
    "GoogleCloudPolicysimulatorV1alphaReplayResult": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the `ReplayResult`, in the following format: `{projects|folders|organizations}/{resource-id}/locations/global/replays/{replay-id}/results/{replay-result-id}`, where `{resource-id}` is the ID of the project, folder, or organization that owns the Replay. Example: `projects/my-example-project/locations/global/replays/506a5f7f-38ce-4d7d-8e03-479ce1833c36/results/1234`",
          "type": "string"
        },
        "lastSeenDate": {
          "$ref": "GoogleTypeDate",
          "description": "The latest date this access tuple was seen in the logs."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error that caused the access tuple replay to fail. This field is only included for access tuples that were not replayed successfully."
        },
        "parent": {
          "description": "The Replay that the access tuple was included in.",
          "type": "string"
        },
        "accessTuple": {
          "$ref": "GoogleCloudPolicysimulatorV1alphaAccessTuple",
          "description": "The access tuple that was replayed. This field includes information about the principal, resource, and permission that were involved in the access attempt."
        },
        "diff": {
          "$ref": "GoogleCloudPolicysimulatorV1alphaReplayDiff",
          "description": "The difference between the principal's access under the current (baseline) policies and the principal's access under the proposed (simulated) policies. This field is only included for access tuples that were successfully replayed and had different results under the current policies and the proposed policies."
        }
      },
      "id": "GoogleCloudPolicysimulatorV1alphaReplayResult",
      "description": "The result of replaying a single access tuple against a simulated state."
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRule": {
      "properties": {
        "enforce": {
          "description": "If `true`, then the policy is enforced. If `false`, then any configuration is acceptable. This field can be set only in policies for boolean constraints.",
          "type": "boolean"
        },
        "values": {
          "description": "List of values to be used for this policy rule. This field can be set only in policies for list constraints.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues"
        },
        "denyAll": {
          "type": "boolean",
          "description": "Setting this to true means that all values are denied. This field can be set only in policies for list constraints."
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "A condition which determines whether this rule is used in the evaluation of the policy. When set, the `expression` field in the `Expr' must include from 1 to 10 subexpressions, joined by the \"||\" or \"&&\" operators. Each subexpression must be of the form \"resource.matchTag('/tag_key_short_name, 'tag_value_short_name')\". or \"resource.matchTagId('tagKeys/key_id', 'tagValues/value_id')\". where key_name and value_name are the resource names for Label Keys and Values. These names are available from the Tag Manager Service. An example expression is: \"resource.matchTag('123456789/environment, 'prod')\". or \"resource.matchTagId('tagKeys/123', 'tagValues/456')\"."
        },
        "allowAll": {
          "description": "Setting this to true means that all values are allowed. This field can be set only in policies for list constraints.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A rule used to express this policy.",
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule"
    },
    "GoogleCloudPolicysimulatorV1alphaListOrgPolicyViolationsResponse": {
      "properties": {
        "orgPolicyViolations": {
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaOrgPolicyViolation"
          },
          "type": "array",
          "description": "The list of OrgPolicyViolations"
        },
        "nextPageToken": {
          "description": "A token that you can use to retrieve the next page of results. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "ListOrgPolicyViolationsResponse is the response message for OrgPolicyViolationsPreviewService.ListOrgPolicyViolations",
      "type": "object",
      "id": "GoogleCloudPolicysimulatorV1alphaListOrgPolicyViolationsResponse"
    },
    "GoogleCloudPolicysimulatorV1alphaReplayConfig": {
      "id": "GoogleCloudPolicysimulatorV1alphaReplayConfig",
      "type": "object",
      "properties": {
        "logSource": {
          "enum": [
            "LOG_SOURCE_UNSPECIFIED",
            "RECENT_ACCESSES"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified log source. If the log source is unspecified, the Replay defaults to using `RECENT_ACCESSES`.",
            "All access logs from the last 90 days. These logs may not include logs from the most recent 7 days."
          ],
          "description": "The logs to use as input for the Replay."
        },
        "policyOverlay": {
          "description": "A mapping of the resources that you want to simulate policies for and the policies that you want to simulate. Keys are the full resource names for the resources. For example, `//cloudresourcemanager.googleapis.com/projects/my-project`. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names. Values are Policy objects representing the policies that you want to simulate. Replays automatically take into account any IAM policies inherited through the resource hierarchy, and any policies set on descendant resources. You do not need to include these policies in the policy overlay.",
          "additionalProperties": {
            "$ref": "GoogleIamV1Policy"
          },
          "type": "object"
        }
      },
      "description": "The configuration used for a Replay."
    },
    "GoogleCloudPolicysimulatorV1alphaAccessStateDiff": {
      "description": "A summary and comparison of the principal's access under the current (baseline) policies and the proposed (simulated) policies for a single access tuple.",
      "properties": {
        "simulated": {
          "$ref": "GoogleCloudPolicysimulatorV1alphaExplainedAccess",
          "description": "The results of evaluating the access tuple under the proposed (simulated) policies. If the AccessState couldn't be fully evaluated, this field explains why."
        },
        "accessChange": {
          "enum": [
            "ACCESS_CHANGE_TYPE_UNSPECIFIED",
            "NO_CHANGE",
            "UNKNOWN_CHANGE",
            "ACCESS_REVOKED",
            "ACCESS_GAINED",
            "ACCESS_MAYBE_REVOKED",
            "ACCESS_MAYBE_GAINED"
          ],
          "description": "How the principal's access, specified in the AccessState field, changed between the current (baseline) policies and proposed (simulated) policies.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The principal's access did not change. This includes the case where both baseline and simulated are UNKNOWN, but the unknown information is equivalent.",
            "The principal's access under both the current policies and the proposed policies is `UNKNOWN`, but the unknown information differs between them.",
            "The principal had access under the current policies (`GRANTED`), but will no longer have access after the proposed changes (`NOT_GRANTED`).",
            "The principal did not have access under the current policies (`NOT_GRANTED`), but will have access after the proposed changes (`GRANTED`).",
            "This result can occur for the following reasons: * The principal had access under the current policies (`GRANTED`), but their access after the proposed changes is `UNKNOWN`. * The principal's access under the current policies is `UNKNOWN`, but they will not have access after the proposed changes (`NOT_GRANTED`).",
            "This result can occur for the following reasons: * The principal did not have access under the current policies (`NOT_GRANTED`), but their access after the proposed changes is `UNKNOWN`. * The principal's access under the current policies is `UNKNOWN`, but they will have access after the proposed changes (`GRANTED`)."
          ]
        },
        "baseline": {
          "$ref": "GoogleCloudPolicysimulatorV1alphaExplainedAccess",
          "description": "The results of evaluating the access tuple under the current (baseline) policies. If the AccessState couldn't be fully evaluated, this field explains why."
        }
      },
      "id": "GoogleCloudPolicysimulatorV1alphaAccessStateDiff",
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1alphaListReplayResultsResponse": {
      "properties": {
        "replayResults": {
          "description": "The results of running a Replay.",
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaReplayResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that you can use to retrieve the next page of ReplayResult objects. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "GoogleCloudPolicysimulatorV1alphaListReplayResultsResponse",
      "description": "Response message for Simulator.ListReplayResults."
    },
    "GoogleCloudOrgpolicyV2Policy": {
      "properties": {
        "spec": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec",
          "description": "Basic information about the Organization Policy."
        },
        "alternate": {
          "description": "Deprecated.",
          "deprecated": true,
          "$ref": "GoogleCloudOrgpolicyV2AlternatePolicySpec"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint which this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_id}/policies/{constraint_name}` * `organizations/{organization_id}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number."
        },
        "dryRunSpec": {
          "description": "Dry-run policy. Audit-only policy, can be used to monitor how the policy would have impacted the existing and future resources if it's enforced.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec"
        }
      },
      "id": "GoogleCloudOrgpolicyV2Policy",
      "description": "Defines an organization policy which is used to specify constraints for configurations of Google Cloud resources.",
      "type": "object"
    },
    "GoogleCloudPolicysimulatorV1alphaResourceContext": {
      "description": "ResourceContext provides the context we know about a resource. It is similar in concept to google.cloud.asset.v1.Resource, but focuses on the information specifically used by Simulator.",
      "type": "object",
      "id": "GoogleCloudPolicysimulatorV1alphaResourceContext",
      "properties": {
        "assetType": {
          "type": "string",
          "description": "The asset type of the resource as defined by CAIS. Example: `compute.googleapis.com/Firewall` See [Supported asset types](https://cloud.google.com/asset-inventory/docs/supported-asset-types) for more information."
        },
        "resource": {
          "description": "The full name of the resource. Example: `//compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1` See [Resource names](https://cloud.google.com/apis/design/resource_names#full_resource_name) for more information.",
          "type": "string"
        },
        "ancestors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ancestry path of the resource in Google Cloud [resource hierarchy](https://cloud.google.com/resource-manager/docs/cloud-platform-resource-hierarchy), represented as a list of relative resource names. An ancestry path starts with the closest ancestor in the hierarchy and ends at root. If the resource is a project, folder, or organization, the ancestry path starts from the resource itself. Example: `[\"projects/123456789\", \"folders/5432\", \"organizations/1234\"]`"
        }
      }
    },
    "GoogleCloudPolicysimulatorV1ReplayConfig": {
      "description": "The configuration used for a Replay.",
      "type": "object",
      "properties": {
        "logSource": {
          "enum": [
            "LOG_SOURCE_UNSPECIFIED",
            "RECENT_ACCESSES"
          ],
          "enumDescriptions": [
            "An unspecified log source. If the log source is unspecified, the Replay defaults to using `RECENT_ACCESSES`.",
            "All access logs from the last 90 days. These logs may not include logs from the most recent 7 days."
          ],
          "description": "The logs to use as input for the Replay.",
          "type": "string"
        },
        "policyOverlay": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleIamV1Policy"
          },
          "description": "A mapping of the resources that you want to simulate policies for and the policies that you want to simulate. Keys are the full resource names for the resources. For example, `//cloudresourcemanager.googleapis.com/projects/my-project`. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names. Values are Policy objects representing the policies that you want to simulate. Replays automatically take into account any IAM policies inherited through the resource hierarchy, and any policies set on descendant resources. You do not need to include these policies in the policy overlay."
        }
      },
      "id": "GoogleCloudPolicysimulatorV1ReplayConfig"
    },
    "GoogleCloudPolicysimulatorV1alphaListReplaysResponse": {
      "properties": {
        "replays": {
          "items": {
            "$ref": "GoogleCloudPolicysimulatorV1alphaReplay"
          },
          "description": "The list of Replay objects.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that you can use to retrieve the next page of results. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for Simulator.ListReplays.",
      "id": "GoogleCloudPolicysimulatorV1alphaListReplaysResponse"
    },
    "GoogleCloudPolicysimulatorV1betaOrgPolicyOverlayCustomConstraintOverlay": {
      "type": "object",
      "id": "GoogleCloudPolicysimulatorV1betaOrgPolicyOverlayCustomConstraintOverlay",
      "properties": {
        "customConstraintParent": {
          "description": "Resource the constraint is attached to. Example: \"organization/987654\"",
          "type": "string"
        },
        "customConstraint": {
          "$ref": "GoogleCloudOrgpolicyV2CustomConstraint",
          "description": "The new or updated custom constraint."
        }
      },
      "description": "A change to an OrgPolicy custom constraint."
    },
    "GoogleCloudPolicysimulatorV1alphaOrgPolicyOverlayPolicyOverlay": {
      "properties": {
        "policy": {
          "$ref": "GoogleCloudOrgpolicyV2Policy",
          "description": "The new or updated OrgPolicy."
        },
        "policyParent": {
          "description": "The parent of the policy we are attaching to. Example: \"projects/123456\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A change to an OrgPolicy.",
      "id": "GoogleCloudPolicysimulatorV1alphaOrgPolicyOverlayPolicyOverlay"
    },
    "GoogleCloudPolicysimulatorV1ReplayResultsSummary": {
      "type": "object",
      "id": "GoogleCloudPolicysimulatorV1ReplayResultsSummary",
      "properties": {
        "errorCount": {
          "description": "The number of log entries that could not be replayed.",
          "format": "int32",
          "type": "integer"
        },
        "oldestDate": {
          "description": "The date of the oldest log entry replayed.",
          "$ref": "GoogleTypeDate"
        },
        "unchangedCount": {
          "description": "The number of replayed log entries with no difference between baseline and simulated policies.",
          "type": "integer",
          "format": "int32"
        },
        "newestDate": {
          "description": "The date of the newest log entry replayed.",
          "$ref": "GoogleTypeDate"
        },
        "differenceCount": {
          "format": "int32",
          "description": "The number of replayed log entries with a difference between baseline and simulated policies.",
          "type": "integer"
        },
        "logCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of log entries replayed."
        }
      },
[...]
