{
  "kind": "discovery#restDescription",
  "canonicalName": "Certificate Authority Service",
  "description": "The Certificate Authority Service API is a highly-available, scalable service that enables you to simplify and automate the management of private certificate authorities (CAs) while staying in control of your private keys. ",
  "revision": "20220309",
  "discoveryVersion": "v1",
  "name": "privateca",
  "servicePath": "",
  "schemas": {
    "SubordinateConfig": {
      "id": "SubordinateConfig",
      "description": "Describes a subordinate CA's issuers. This is either a resource name to a known issuing CertificateAuthority, or a PEM issuer certificate chain.",
      "properties": {
        "pemIssuerChain": {
          "$ref": "SubordinateConfigChain",
          "description": "Required. Contains the PEM certificate chain for the issuers of this CertificateAuthority, but not pem certificate for this CA itself."
        },
        "certificateAuthority": {
          "description": "Required. This can refer to a CertificateAuthority that was used to create a subordinate CertificateAuthority. This field is used for information and usability purposes only. The resource name is in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CertificateRevocationList": {
      "description": "A CertificateRevocationList corresponds to a signed X.509 certificate Revocation List (CRL). A CRL contains the serial numbers of certificates that should no longer be trusted.",
      "type": "object",
      "properties": {
        "accessUrl": {
          "description": "Output only. The location where 'pem_crl' can be accessed.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which this CertificateRevocationList was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "sequenceNumber": {
          "description": "Output only. The CRL sequence number that appears in pem_crl.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "pemCrl": {
          "type": "string",
          "description": "Output only. The PEM-encoded X.509 CRL.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for this CertificateRevocationList in the format `projects/*/locations/*/caPools/*certificateAuthorities/*/ certificateRevocationLists/*`."
        },
        "revisionId": {
          "description": "Output only. The revision ID of this CertificateRevocationList. A new revision is committed whenever a new CRL is published. The format is an 8-character hexadecimal string.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels with user-defined metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "revokedCertificates": {
          "description": "Output only. The revoked serial numbers that appear in pem_crl.",
          "readOnly": true,
          "items": {
            "$ref": "RevokedCertificate"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Output only. The time at which this CertificateRevocationList was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The CertificateRevocationList is up to date.",
            "The CertificateRevocationList is no longer current."
          ],
          "description": "Output only. The State for this CertificateRevocationList.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUPERSEDED"
          ]
        }
      },
      "id": "CertificateRevocationList"
    },
    "ExtendedKeyUsageOptions": {
      "properties": {
        "serverAuth": {
          "description": "Corresponds to OID 1.3.6.1.5.5.7.3.1. Officially described as \"TLS WWW server authentication\", though regularly used for non-WWW TLS.",
          "type": "boolean"
        },
        "emailProtection": {
          "type": "boolean",
          "description": "Corresponds to OID 1.3.6.1.5.5.7.3.4. Officially described as \"Email protection\"."
        },
        "codeSigning": {
          "description": "Corresponds to OID 1.3.6.1.5.5.7.3.3. Officially described as \"Signing of downloadable executable code client authentication\".",
          "type": "boolean"
        },
        "ocspSigning": {
          "description": "Corresponds to OID 1.3.6.1.5.5.7.3.9. Officially described as \"Signing OCSP responses\".",
          "type": "boolean"
        },
        "timeStamping": {
          "type": "boolean",
          "description": "Corresponds to OID 1.3.6.1.5.5.7.3.8. Officially described as \"Binding the hash of an object to a time\"."
        },
        "clientAuth": {
          "description": "Corresponds to OID 1.3.6.1.5.5.7.3.2. Officially described as \"TLS WWW client authentication\", though regularly used for non-WWW TLS.",
          "type": "boolean"
        }
      },
      "id": "ExtendedKeyUsageOptions",
      "description": "KeyUsage.ExtendedKeyUsageOptions has fields that correspond to certain common OIDs that could be specified as an extended key usage value.",
      "type": "object"
    },
    "IssuancePolicy": {
      "description": "Defines controls over all certificate issuance within a CaPool.",
      "properties": {
        "identityConstraints": {
          "description": "Optional. Describes constraints on identities that may appear in Certificates issued through this CaPool. If this is omitted, then this CaPool will not add restrictions on a certificate's identity.",
          "$ref": "CertificateIdentityConstraints"
        },
        "baselineValues": {
          "$ref": "X509Parameters",
          "description": "Optional. A set of X.509 values that will be applied to all certificates issued through this CaPool. If a certificate request includes conflicting values for the same properties, they will be overwritten by the values defined here. If a certificate request uses a CertificateTemplate that defines conflicting predefined_values for the same properties, the certificate issuance request will fail."
        },
        "allowedKeyTypes": {
          "description": "Optional. If any AllowedKeyType is specified, then the certificate request's public key must match one of the key types listed here. Otherwise, any key may be used.",
          "items": {
            "$ref": "AllowedKeyType"
          },
          "type": "array"
        },
        "allowedIssuanceModes": {
          "$ref": "IssuanceModes",
          "description": "Optional. If specified, then only methods allowed in the IssuanceModes may be used to issue Certificates."
        },
        "passthroughExtensions": {
          "description": "Optional. Describes the set of X.509 extensions that may appear in a Certificate issued through this CaPool. If a certificate request sets extensions that don't appear in the passthrough_extensions, those extensions will be dropped. If a certificate request uses a CertificateTemplate with predefined_values that don't appear here, the certificate issuance request will fail. If this is omitted, then this CaPool will not add restrictions on a certificate's X.509 extensions. These constraints do not apply to X.509 extensions set in this CaPool's baseline_values.",
          "$ref": "CertificateExtensionConstraints"
        },
        "maximumLifetime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The maximum lifetime allowed for issued Certificates. Note that if the issuing CertificateAuthority expires before a Certificate's requested maximum_lifetime, the effective lifetime will be explicitly truncated to match it."
        }
      },
      "id": "IssuancePolicy",
      "type": "object"
    },
    "ObjectId": {
      "properties": {
        "objectIdPath": {
          "type": "array",
          "description": "Required. The parts of an OID path. The most significant parts of the path come first.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "type": "object",
      "id": "ObjectId",
      "description": "An ObjectId specifies an object identifier (OID). These provide context and describe types in ASN.1 messages."
    },
    "SubjectDescription": {
      "properties": {
        "notAfterTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time after which the certificate is expired. Per RFC 5280, the validity period for a certificate is the period of time from not_before_time through not_after_time, inclusive. Corresponds to 'not_before_time' + 'lifetime' - 1 second."
        },
        "hexSerialNumber": {
          "description": "The serial number encoded in lowercase hexadecimal.",
          "type": "string"
        },
        "subject": {
          "$ref": "Subject",
          "description": "Contains distinguished name fields such as the common name, location and / organization."
        },
        "lifetime": {
          "description": "For convenience, the actual lifetime of an issued certificate.",
          "type": "string",
          "format": "google-duration"
        },
        "subjectAltName": {
          "$ref": "SubjectAltNames",
          "description": "The subject alternative name fields."
        },
        "notBeforeTime": {
          "format": "google-datetime",
          "description": "The time at which the certificate becomes valid.",
          "type": "string"
        }
      },
      "description": "These values describe fields in an issued X.509 certificate such as the distinguished name, subject alternative names, serial number, and lifetime.",
      "type": "object",
      "id": "SubjectDescription"
    },
    "CertificateExtensionConstraints": {
      "properties": {
        "additionalExtensions": {
          "description": "Optional. A set of ObjectIds identifying custom X.509 extensions. Will be combined with known_extensions to determine the full set of X.509 extensions.",
          "items": {
            "$ref": "ObjectId"
          },
          "type": "array"
        },
        "knownExtensions": {
          "description": "Optional. A set of named X.509 extensions. Will be combined with additional_extensions to determine the full set of X.509 extensions.",
          "items": {
            "enum": [
              "KNOWN_CERTIFICATE_EXTENSION_UNSPECIFIED",
              "BASE_KEY_USAGE",
              "EXTENDED_KEY_USAGE",
              "CA_OPTIONS",
              "POLICY_IDS",
              "AIA_OCSP_SERVERS"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Refers to a certificate's Key Usage extension, as described in [RFC 5280 section 4.2.1.3](https://tools.ietf.org/html/rfc5280#section-4.2.1.3). This corresponds to the KeyUsage.base_key_usage field.",
              "Refers to a certificate's Extended Key Usage extension, as described in [RFC 5280 section 4.2.1.12](https://tools.ietf.org/html/rfc5280#section-4.2.1.12). This corresponds to the KeyUsage.extended_key_usage message.",
              "Refers to a certificate's Basic Constraints extension, as described in [RFC 5280 section 4.2.1.9](https://tools.ietf.org/html/rfc5280#section-4.2.1.9). This corresponds to the X509Parameters.ca_options field.",
              "Refers to a certificate's Policy object identifiers, as described in [RFC 5280 section 4.2.1.4](https://tools.ietf.org/html/rfc5280#section-4.2.1.4). This corresponds to the X509Parameters.policy_ids field.",
              "Refers to OCSP servers in a certificate's Authority Information Access extension, as described in [RFC 5280 section 4.2.2.1](https://tools.ietf.org/html/rfc5280#section-4.2.2.1), This corresponds to the X509Parameters.aia_ocsp_servers field."
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Describes a set of X.509 extensions that may be part of some certificate issuance controls.",
      "type": "object",
      "id": "CertificateExtensionConstraints"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "CertChain": {
      "id": "CertChain",
      "properties": {
        "certificates": {
          "description": "The certificates that form the CA chain, from leaf to root order.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "type": "object",
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "AllowedKeyType": {
      "id": "AllowedKeyType",
      "type": "object",
      "properties": {
        "rsa": {
          "$ref": "RsaKeyType",
          "description": "Represents an allowed RSA key type."
        },
        "ellipticCurve": {
          "description": "Represents an allowed Elliptic Curve key type.",
          "$ref": "EcKeyType"
        }
      },
      "description": "Describes a \"type\" of key that may be used in a Certificate issued from a CaPool. Note that a single AllowedKeyType may refer to either a fully-qualified key algorithm, such as RSA 4096, or a family of key algorithms, such as any RSA key."
    },
    "KeyUsageOptions": {
      "type": "object",
      "properties": {
        "contentCommitment": {
          "description": "The key may be used for cryptographic commitments. Note that this may also be referred to as \"non-repudiation\".",
          "type": "boolean"
        },
        "decipherOnly": {
          "type": "boolean",
          "description": "The key may be used to decipher only."
        },
        "crlSign": {
          "description": "The key may be used sign certificate revocation lists.",
          "type": "boolean"
        },
        "digitalSignature": {
          "description": "The key may be used for digital signatures.",
          "type": "boolean"
        },
        "keyAgreement": {
          "type": "boolean",
          "description": "The key may be used in a key agreement protocol."
        },
        "dataEncipherment": {
          "description": "The key may be used to encipher data.",
          "type": "boolean"
        },
        "keyEncipherment": {
          "description": "The key may be used to encipher other keys.",
          "type": "boolean"
        },
        "certSign": {
          "description": "The key may be used to sign certificates.",
          "type": "boolean"
        },
        "encipherOnly": {
          "description": "The key may be used to encipher only.",
          "type": "boolean"
        }
      },
      "description": "KeyUsage.KeyUsageOptions corresponds to the key usage values described in https://tools.ietf.org/html/rfc5280#section-4.2.1.3.",
      "id": "KeyUsageOptions"
    },
    "RevocationDetails": {
      "description": "Describes fields that are relavent to the revocation of a Certificate.",
      "type": "object",
      "properties": {
        "revocationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which this Certificate was revoked."
        },
        "revocationState": {
          "description": "Indicates why a Certificate was revoked.",
          "enumDescriptions": [
            "Default unspecified value. This value does indicate that a Certificate has been revoked, but that a reason has not been recorded.",
            "Key material for this Certificate may have leaked.",
            "The key material for a certificate authority in the issuing path may have leaked.",
            "The subject or other attributes in this Certificate have changed.",
            "This Certificate has been superseded.",
            "This Certificate or entities in the issuing path have ceased to operate.",
            "This Certificate should not be considered valid, it is expected that it may become valid in the future.",
            "This Certificate no longer has permission to assert the listed attributes.",
            "The authority which determines appropriate attributes for a Certificate may have been compromised."
          ],
          "type": "string",
          "enum": [
            "REVOCATION_REASON_UNSPECIFIED",
            "KEY_COMPROMISE",
            "CERTIFICATE_AUTHORITY_COMPROMISE",
            "AFFILIATION_CHANGED",
            "SUPERSEDED",
            "CESSATION_OF_OPERATION",
            "CERTIFICATE_HOLD",
            "PRIVILEGE_WITHDRAWN",
            "ATTRIBUTE_AUTHORITY_COMPROMISE"
          ]
        }
      },
      "id": "RevocationDetails"
    },
    "SubjectConfig": {
      "type": "object",
      "properties": {
        "subject": {
          "$ref": "Subject",
          "description": "Required. Contains distinguished name fields such as the common name, location and organization."
        },
        "subjectAltName": {
          "description": "Optional. The subject alternative name fields.",
          "$ref": "SubjectAltNames"
        }
      },
      "description": "These values are used to create the distinguished name and subject alternative name fields in an X.509 certificate.",
      "id": "SubjectConfig"
    },
    "CertificateDescription": {
      "type": "object",
      "properties": {
        "subjectDescription": {
          "description": "Describes some of the values in a certificate that are related to the subject and lifetime.",
          "$ref": "SubjectDescription"
        },
        "certFingerprint": {
          "$ref": "CertificateFingerprint",
          "description": "The hash of the x.509 certificate."
        },
        "x509Description": {
          "$ref": "X509Parameters",
          "description": "Describes some of the technical X.509 fields in a certificate."
        },
        "subjectKeyId": {
          "$ref": "KeyId",
          "description": "Provides a means of identifiying certificates that contain a particular public key, per https://tools.ietf.org/html/rfc5280#section-4.2.1.2."
        },
        "aiaIssuingCertificateUrls": {
          "items": {
            "type": "string"
          },
          "description": "Describes lists of issuer CA certificate URLs that appear in the \"Authority Information Access\" extension in the certificate.",
          "type": "array"
        },
        "publicKey": {
          "$ref": "PublicKey",
          "description": "The public key that corresponds to an issued certificate."
        },
        "crlDistributionPoints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Describes a list of locations to obtain CRL information, i.e. the DistributionPoint.fullName described by https://tools.ietf.org/html/rfc5280#section-4.2.1.13"
        },
        "authorityKeyId": {
          "$ref": "KeyId",
          "description": "Identifies the subject_key_id of the parent certificate, per https://tools.ietf.org/html/rfc5280#section-4.2.1.1"
        }
      },
      "description": "A CertificateDescription describes an X.509 certificate or CSR that has been issued, as an alternative to using ASN.1 / X.509.",
      "id": "CertificateDescription"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      }
    },
    "ListCertificateAuthoritiesResponse": {
      "type": "object",
      "id": "ListCertificateAuthoritiesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in ListCertificateAuthoritiesRequest.next_page_token to retrieve the next page of results.",
          "type": "string"
        },
        "unreachable": {
          "description": "A list of locations (e.g. \"us-west1\") that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "certificateAuthorities": {
          "description": "The list of CertificateAuthorities.",
          "type": "array",
          "items": {
            "$ref": "CertificateAuthority"
          }
        }
      },
      "description": "Response message for CertificateAuthorityService.ListCertificateAuthorities."
    },
    "ListCertificatesResponse": {
      "id": "ListCertificatesResponse",
      "properties": {
        "unreachable": {
          "description": "A list of locations (e.g. \"us-west1\") that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "certificates": {
          "type": "array",
          "description": "The list of Certificates.",
          "items": {
            "$ref": "Certificate"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in ListCertificatesRequest.next_page_token to retrieve the next page of results."
        }
      },
      "description": "Response message for CertificateAuthorityService.ListCertificates.",
      "type": "object"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging."
    },
    "KeyId": {
      "properties": {
        "keyId": {
          "type": "string",
          "description": "Optional. The value of this KeyId encoded in lowercase hexadecimal. This is most likely the 160 bit SHA-1 hash of the public key."
        }
      },
      "description": "A KeyId identifies a specific public key, usually by hashing the public key.",
      "type": "object",
      "id": "KeyId"
    },
    "FetchCaCertsRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "FetchCaCertsRequest",
      "description": "Request message for CertificateAuthorityService.FetchCaCerts."
    },
    "RsaKeyType": {
      "properties": {
        "maxModulusSize": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The maximum allowed RSA modulus size (inclusive), in bits. If this is not set, or if set to zero, the service will not enforce an explicit upper bound on RSA modulus sizes."
        },
        "minModulusSize": {
          "description": "Optional. The minimum allowed RSA modulus size (inclusive), in bits. If this is not set, or if set to zero, the service-level min RSA modulus size will continue to apply.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Describes an RSA key that may be used in a Certificate issued from a CaPool.",
      "id": "RsaKeyType",
      "type": "object"
    },
    "PublicKey": {
      "type": "object",
      "properties": {
        "key": {
          "format": "byte",
          "description": "Required. A public key. The padding and encoding must match with the `KeyFormat` value specified for the `format` field.",
          "type": "string"
        },
        "format": {
          "enum": [
            "KEY_FORMAT_UNSPECIFIED",
            "PEM"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "The key is PEM-encoded as defined in [RFC 7468](https://tools.ietf.org/html/rfc7468). It can be any of the following: a PEM-encoded PKCS#1/RFC 3447 RSAPublicKey structure, an RFC 5280 [SubjectPublicKeyInfo](https://tools.ietf.org/html/rfc5280#section-4.1) or a PEM-encoded X.509 certificate signing request (CSR). If a [SubjectPublicKeyInfo](https://tools.ietf.org/html/rfc5280#section-4.1) is specified, it can contain a A PEM-encoded PKCS#1/RFC 3447 RSAPublicKey or a NIST P-256/secp256r1/prime256v1 or P-384 key. If a CSR is specified, it will used solely for the purpose of extracting the public key. When generated by the service, it will always be an RFC 5280 [SubjectPublicKeyInfo](https://tools.ietf.org/html/rfc5280#section-4.1) structure containing an algorithm identifier and a key."
          ],
          "description": "Required. The format of the public key.",
          "type": "string"
        }
      },
      "id": "PublicKey",
      "description": "A PublicKey describes a public key."
    },
    "DisableCertificateAuthorityRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "Request message for CertificateAuthorityService.DisableCertificateAuthority.",
      "type": "object",
      "id": "DisableCertificateAuthorityRequest"
    },
    "CertificateFingerprint": {
      "type": "object",
      "description": "A group of fingerprints for the x509 certificate.",
      "properties": {
        "sha256Hash": {
          "type": "string",
          "description": "The SHA 256 hash, encoded in hexadecimal, of the DER x509 certificate."
        }
      },
      "id": "CertificateFingerprint"
    },
    "SubordinateConfigChain": {
      "description": "This message describes a subordinate CA's issuer certificate chain. This wrapper exists for compatibility reasons.",
      "type": "object",
      "id": "SubordinateConfigChain",
      "properties": {
        "pemCertificates": {
          "description": "Required. Expected to be in leaf-to-root order according to RFC 5246.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CertificateAuthority": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "STAGED",
            "AWAITING_USER_ACTIVATION",
            "DELETED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Certificates can be issued from this CA. CRLs will be generated for this CA. The CA will be part of the CaPool's trust anchor, and will be used to issue certificates from the CaPool.",
            "Certificates cannot be issued from this CA. CRLs will still be generated. The CA will be part of the CaPool's trust anchor, but will not be used to issue certificates from the CaPool.",
            "Certificates can be issued from this CA. CRLs will be generated for this CA. The CA will be part of the CaPool's trust anchor, but will not be used to issue certificates from the CaPool.",
            "Certificates cannot be issued from this CA. CRLs will not be generated. The CA will not be part of the CaPool's trust anchor, and will not be used to issue certificates from the CaPool.",
            "Certificates cannot be issued from this CA. CRLs will not be generated. The CA may still be recovered by calling CertificateAuthorityService.UndeleteCertificateAuthority before expire_time. The CA will not be part of the CaPool's trust anchor, and will not be used to issue certificates from the CaPool."
          ],
          "description": "Output only. The State for this CertificateAuthority."
        },
        "expireTime": {
          "description": "Output only. The time at which this CertificateAuthority will be permanently purged, if it is in the DELETED state.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "gcsBucket": {
          "description": "Immutable. The name of a Cloud Storage bucket where this CertificateAuthority will publish content, such as the CA certificate and CRLs. This must be a bucket name, without any prefixes (such as `gs://`) or suffixes (such as `.googleapis.com`). For example, to use a bucket named `my-bucket`, you would simply specify `my-bucket`. If not specified, a managed bucket will be created.",
          "type": "string"
        },
        "lifetime": {
          "type": "string",
          "description": "Required. Immutable. The desired lifetime of the CA certificate. Used to create the \"not_before_time\" and \"not_after_time\" fields inside an X.509 certificate.",
          "format": "google-duration"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels with user-defined metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "accessUrls": {
          "description": "Output only. URLs for accessing content published by this CA, such as the CA certificate and CRLs.",
          "readOnly": true,
          "$ref": "AccessUrls"
        },
        "updateTime": {
          "description": "Output only. The time at which this CertificateAuthority was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "subordinateConfig": {
          "description": "Optional. If this is a subordinate CertificateAuthority, this field will be set with the subordinate configuration, which describes its issuers. This may be updated, but this CertificateAuthority must continue to validate.",
          "$ref": "SubordinateConfig"
        },
        "createTime": {
          "description": "Output only. The time at which this CertificateAuthority was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "caCertificateDescriptions": {
          "readOnly": true,
          "description": "Output only. A structured description of this CertificateAuthority's CA certificate and its issuers. Ordered as self-to-root.",
          "items": {
            "$ref": "CertificateDescription"
          },
          "type": "array"
        },
        "tier": {
          "enumDescriptions": [
            "Not specified.",
            "Enterprise tier.",
            "DevOps tier."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "ENTERPRISE",
            "DEVOPS"
          ],
          "type": "string",
          "description": "Output only. The CaPool.Tier of the CaPool that includes this CertificateAuthority.",
          "readOnly": true
        },
        "type": {
          "description": "Required. Immutable. The Type of this CertificateAuthority.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SELF_SIGNED",
            "SUBORDINATE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Self-signed CA.",
            "Subordinate CA. Could be issued by a Private CA CertificateAuthority or an unmanaged CA."
          ]
        },
        "config": {
          "description": "Required. Immutable. The config used to create a self-signed X.509 certificate or CSR.",
          "$ref": "CertificateConfig"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for this CertificateAuthority in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`."
        },
        "deleteTime": {
          "description": "Output only. The time at which this CertificateAuthority was soft deleted, if it is in the DELETED state.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "keySpec": {
          "$ref": "KeyVersionSpec",
          "description": "Required. Immutable. Used when issuing certificates for this CertificateAuthority. If this CertificateAuthority is a self-signed CertificateAuthority, this key is also used to sign the self-signed CA certificate. Otherwise, it is used to sign a CSR."
        },
        "pemCaCertificates": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. This CertificateAuthority's certificate chain, including the current CertificateAuthority's certificate. Ordered such that the root issuer is the final element (consistent with RFC 5246). For a self-signed CA, this will only list the current CertificateAuthority's certificate."
        }
      },
      "id": "CertificateAuthority",
      "type": "object",
      "description": "A CertificateAuthority represents an individual Certificate Authority. A CertificateAuthority can be used to create Certificates."
    },
    "Location": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "CertificateConfig": {
      "description": "A CertificateConfig describes an X.509 certificate or CSR that is to be created, as an alternative to using ASN.1.",
      "properties": {
        "subjectConfig": {
          "description": "Required. Specifies some of the values in a certificate that are related to the subject.",
          "$ref": "SubjectConfig"
        },
        "publicKey": {
          "$ref": "PublicKey",
          "description": "Optional. The public key that corresponds to this config. This is, for example, used when issuing Certificates, but not when creating a self-signed CertificateAuthority or CertificateAuthority CSR."
        },
        "x509Config": {
          "description": "Required. Describes how some of the technical X.509 fields in a certificate should be populated.",
          "$ref": "X509Parameters"
        }
      },
      "id": "CertificateConfig",
      "type": "object"
    },
    "Subject": {
      "id": "Subject",
      "properties": {
        "streetAddress": {
          "type": "string",
          "description": "The street address of the subject."
        },
        "province": {
          "description": "The province, territory, or regional state of the subject.",
          "type": "string"
        },
        "organizationalUnit": {
          "description": "The organizational_unit of the subject.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the subject."
        },
        "organization": {
          "description": "The organization of the subject.",
          "type": "string"
        },
        "commonName": {
          "type": "string",
          "description": "The \"common name\" of the subject."
        },
        "locality": {
          "description": "The locality or city of the subject.",
          "type": "string"
        },
        "countryCode": {
          "description": "The country code of the subject.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Subject describes parts of a distinguished name that, in turn, describes the subject of the certificate."
    },
    "ListCaPoolsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in ListCertificateAuthoritiesRequest.next_page_token to retrieve the next page of results."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "A list of locations (e.g. \"us-west1\") that could not be reached.",
          "type": "array"
        },
        "caPools": {
          "items": {
            "$ref": "CaPool"
          },
          "description": "The list of CaPools.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for CertificateAuthorityService.ListCaPools.",
      "id": "ListCaPoolsResponse"
    },
    "RevokedCertificate": {
      "description": "Describes a revoked Certificate.",
      "properties": {
        "revocationReason": {
          "description": "The reason the Certificate was revoked.",
          "enum": [
            "REVOCATION_REASON_UNSPECIFIED",
            "KEY_COMPROMISE",
            "CERTIFICATE_AUTHORITY_COMPROMISE",
            "AFFILIATION_CHANGED",
            "SUPERSEDED",
            "CESSATION_OF_OPERATION",
            "CERTIFICATE_HOLD",
            "PRIVILEGE_WITHDRAWN",
            "ATTRIBUTE_AUTHORITY_COMPROMISE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value. This value does indicate that a Certificate has been revoked, but that a reason has not been recorded.",
            "Key material for this Certificate may have leaked.",
            "The key material for a certificate authority in the issuing path may have leaked.",
            "The subject or other attributes in this Certificate have changed.",
            "This Certificate has been superseded.",
            "This Certificate or entities in the issuing path have ceased to operate.",
            "This Certificate should not be considered valid, it is expected that it may become valid in the future.",
            "This Certificate no longer has permission to assert the listed attributes.",
            "The authority which determines appropriate attributes for a Certificate may have been compromised."
          ]
        },
        "hexSerialNumber": {
          "type": "string",
          "description": "The serial number of the Certificate."
        },
        "certificate": {
          "description": "The resource name for the Certificate in the format `projects/*/locations/*/caPools/*/certificates/*`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RevokedCertificate"
    },
    "CaPool": {
      "type": "object",
      "id": "CaPool",
      "description": "A CaPool represents a group of CertificateAuthorities that form a trust anchor. A CaPool can be used to manage issuance policies for one or more CertificateAuthority resources and to rotate CA certificates in and out of the trust anchor.",
      "properties": {
        "name": {
          "description": "Output only. The resource name for this CaPool in the format `projects/*/locations/*/caPools/*`.",
          "readOnly": true,
          "type": "string"
        },
        "tier": {
          "enumDescriptions": [
            "Not specified.",
            "Enterprise tier.",
            "DevOps tier."
          ],
          "type": "string",
          "description": "Required. Immutable. The Tier of this CaPool.",
          "enum": [
            "TIER_UNSPECIFIED",
            "ENTERPRISE",
            "DEVOPS"
          ]
        },
        "labels": {
          "description": "Optional. Labels with user-defined metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "publishingOptions": {
          "description": "Optional. The PublishingOptions to follow when issuing Certificates from any CertificateAuthority in this CaPool.",
          "$ref": "PublishingOptions"
        },
        "issuancePolicy": {
          "$ref": "IssuancePolicy",
          "description": "Optional. The IssuancePolicy to control how Certificates will be issued from this CaPool."
        }
      }
    },
    "IssuanceModes": {
      "type": "object",
      "id": "IssuanceModes",
      "properties": {
        "allowCsrBasedIssuance": {
          "description": "Optional. When true, allows callers to create Certificates by specifying a CSR.",
          "type": "boolean"
        },
        "allowConfigBasedIssuance": {
          "type": "boolean",
          "description": "Optional. When true, allows callers to create Certificates by specifying a CertificateConfig."
        }
      },
      "description": "IssuanceModes specifies the allowed ways in which Certificates may be requested from this CaPool."
    },
    "X509Extension": {
      "type": "object",
      "description": "An X509Extension specifies an X.509 extension, which may be used in different parts of X.509 objects like certificates, CSRs, and CRLs.",
      "properties": {
        "objectId": {
          "$ref": "ObjectId",
          "description": "Required. The OID for this X.509 extension."
        },
        "value": {
          "format": "byte",
          "description": "Required. The value of this X.509 extension.",
          "type": "string"
        },
        "critical": {
          "type": "boolean",
          "description": "Optional. Indicates whether or not this extension is critical (i.e., if the client does not know how to handle this extension, the client should consider this to be an error)."
        }
      },
      "id": "X509Extension"
    },
    "FetchCaCertsResponse": {
      "properties": {
        "caCerts": {
          "description": "The PEM encoded CA certificate chains of all ACTIVE CertificateAuthority resources in this CaPool.",
          "items": {
            "$ref": "CertChain"
          },
          "type": "array"
        }
      },
      "description": "Response message for CertificateAuthorityService.FetchCaCerts.",
      "id": "FetchCaCertsResponse",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Certificate": {
      "id": "Certificate",
      "properties": {
        "lifetime": {
          "description": "Required. Immutable. The desired lifetime of a certificate. Used to create the \"not_before_time\" and \"not_after_time\" fields inside an X.509 certificate. Note that the lifetime may be truncated if it would extend past the life of any certificate authority in the issuing chain.",
          "type": "string",
          "format": "google-duration"
        },
        "certificateDescription": {
          "description": "Output only. A structured description of the issued X.509 certificate.",
          "$ref": "CertificateDescription",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which this Certificate was updated."
        },
        "certificateTemplate": {
          "description": "Immutable. The resource name for a CertificateTemplate used to issue this certificate, in the format `projects/*/locations/*/certificateTemplates/*`. If this is specified, the caller must have the necessary permission to use this template. If this is omitted, no template will be used. This template must be in the same location as the Certificate.",
          "type": "string"
        },
        "config": {
          "$ref": "CertificateConfig",
          "description": "Immutable. A description of the certificate and key that does not require X.509 or ASN.1."
        },
        "revocationDetails": {
          "description": "Output only. Details regarding the revocation of this Certificate. This Certificate is considered revoked if and only if this field is present.",
          "readOnly": true,
          "$ref": "RevocationDetails"
        },
        "pemCertificateChain": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The chain that may be used to verify the X.509 certificate. Expected to be in issuer-to-root order according to RFC 5246.",
          "type": "array"
        },
        "issuerCertificateAuthority": {
          "description": "Output only. The resource name of the issuing CertificateAuthority in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`.",
          "type": "string",
          "readOnly": true
        },
        "subjectMode": {
          "enumDescriptions": [
            "Not specified.",
            "The default mode used in most cases. Indicates that the certificate's Subject and/or SubjectAltNames are specified in the certificate request. This mode requires the caller to have the `privateca.certificates.create` permission.",
            "A mode reserved for special cases. Indicates that the certificate should have one or more SPIFFE SubjectAltNames set by the service based on the caller's identity. This mode will ignore any explicitly specified Subject and/or SubjectAltNames in the certificate request. This mode requires the caller to have the `privateca.certificates.createForSelf` permission."
          ],
          "enum": [
            "SUBJECT_REQUEST_MODE_UNSPECIFIED",
            "DEFAULT",
            "REFLECTED_SPIFFE"
          ],
          "type": "string",
          "description": "Immutable. Specifies how the Certificate's identity fields are to be decided. If this is omitted, the `DEFAULT` subject mode will be used."
        },
        "pemCsr": {
          "type": "string",
          "description": "Immutable. A pem-encoded X.509 certificate signing request (CSR)."
        },
        "pemCertificate": {
          "readOnly": true,
          "description": "Output only. The pem-encoded, signed X.509 certificate.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name for this Certificate in the format `projects/*/locations/*/caPools/*/certificates/*`.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels with user-defined metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which this Certificate was created."
        }
      },
      "type": "object",
      "description": "A Certificate corresponds to a signed X.509 certificate issued by a CertificateAuthority."
    },
    "Expr": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "SubjectAltNames": {
      "type": "object",
      "description": "SubjectAltNames corresponds to a more modern way of listing what the asserted identity is in a certificate (i.e., compared to the \"common name\" in the distinguished name).",
      "properties": {
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Contains only valid 32-bit IPv4 addresses or RFC 4291 IPv6 addresses."
        },
        "dnsNames": {
          "type": "array",
          "description": "Contains only valid, fully-qualified host names.",
          "items": {
            "type": "string"
          }
        },
        "uris": {
          "description": "Contains only valid RFC 3986 URIs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customSans": {
          "description": "Contains additional subject alternative name values. For each custom_san, the `value` field must contain an ASN.1 encoded UTF8String.",
          "type": "array",
          "items": {
            "$ref": "X509Extension"
          }
        },
        "emailAddresses": {
          "description": "Contains only valid RFC 2822 E-mail addresses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SubjectAltNames"
    },
    "CertificateTemplate": {
      "type": "object",
      "properties": {
        "predefinedValues": {
          "$ref": "X509Parameters",
          "description": "Optional. A set of X.509 values that will be applied to all issued certificates that use this template. If the certificate request includes conflicting values for the same properties, they will be overwritten by the values defined here. If the issuing CaPool's IssuancePolicy defines conflicting baseline_values for the same properties, the certificate issuance request will fail."
        },
        "passthroughExtensions": {
          "$ref": "CertificateExtensionConstraints",
          "description": "Optional. Describes the set of X.509 extensions that may appear in a Certificate issued using this CertificateTemplate. If a certificate request sets extensions that don't appear in the passthrough_extensions, those extensions will be dropped. If the issuing CaPool's IssuancePolicy defines baseline_values that don't appear here, the certificate issuance request will fail. If this is omitted, then this template will not add restrictions on a certificate's X.509 extensions. These constraints do not apply to X.509 extensions set in this CertificateTemplate's predefined_values."
        },
        "description": {
          "description": "Optional. A human-readable description of scenarios this template is intended for.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which this CertificateTemplate was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which this CertificateTemplate was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "identityConstraints": {
          "$ref": "CertificateIdentityConstraints",
          "description": "Optional. Describes constraints on identities that may be appear in Certificates issued using this template. If this is omitted, then this template will not add restrictions on a certificate's identity."
        },
        "name": {
          "description": "Output only. The resource name for this CertificateTemplate in the format `projects/*/locations/*/certificateTemplates/*`.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels with user-defined metadata."
        }
      },
      "id": "CertificateTemplate",
      "description": "A CertificateTemplate refers to a managed template for certificate issuance."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {}
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "CertificateIdentityConstraints": {
      "id": "CertificateIdentityConstraints",
      "properties": {
        "celExpression": {
          "$ref": "Expr",
          "description": "Optional. A CEL expression that may be used to validate the resolved X.509 Subject and/or Subject Alternative Name before a certificate is signed. To see the full allowed syntax and some examples, see https://cloud.google.com/certificate-authority-service/docs/using-cel"
        },
        "allowSubjectAltNamesPassthrough": {
          "description": "Required. If this is true, the SubjectAltNames extension may be copied from a certificate request into the signed certificate. Otherwise, the requested SubjectAltNames will be discarded.",
          "type": "boolean"
        },
        "allowSubjectPassthrough": {
          "description": "Required. If this is true, the Subject field may be copied from a certificate request into the signed certificate. Otherwise, the requested Subject will be discarded.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Describes constraints on a Certificate's Subject and SubjectAltNames."
    },
    "CaOptions": {
      "properties": {
        "maxIssuerPathLength": {
          "description": "Optional. Refers to the path length restriction X.509 extension. For a CA certificate, this value describes the depth of subordinate CA certificates that are allowed. If this value is less than 0, the request will fail. If this value is missing, the max path length will be omitted from the CA certificate.",
          "format": "int32",
          "type": "integer"
        },
        "isCa": {
          "description": "Optional. Refers to the \"CA\" X.509 extension, which is a boolean value. When this value is missing, the extension will be omitted from the CA certificate.",
          "type": "boolean"
        }
      },
      "id": "CaOptions",
      "type": "object",
      "description": "Describes values that are relevant in a CA certificate."
    },
    "PublishingOptions": {
      "description": "Options relating to the publication of each CertificateAuthority's CA certificate and CRLs and their inclusion as extensions in issued Certificates. The options set here apply to certificates issued by any CertificateAuthority in the CaPool.",
      "properties": {
        "publishCaCert": {
          "description": "Optional. When true, publishes each CertificateAuthority's CA certificate and includes its URL in the \"Authority Information Access\" X.509 extension in all issued Certificates. If this is false, the CA certificate will not be published and the corresponding X.509 extension will not be written in issued certificates.",
          "type": "boolean"
        },
        "publishCrl": {
          "description": "Optional. When true, publishes each CertificateAuthority's CRL and includes its URL in the \"CRL Distribution Points\" X.509 extension in all issued Certificates. If this is false, CRLs will not be published and the corresponding X.509 extension will not be written in issued certificates. CRLs will expire 7 days from their creation. However, we will rebuild daily. CRLs are also rebuilt shortly after a certificate is revoked.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "PublishingOptions"
    },
    "UndeleteCertificateAuthorityRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for CertificateAuthorityService.UndeleteCertificateAuthority.",
      "type": "object",
      "id": "UndeleteCertificateAuthorityRequest"
    },
    "ActivateCertificateAuthorityRequest": {
      "id": "ActivateCertificateAuthorityRequest",
      "description": "Request message for CertificateAuthorityService.ActivateCertificateAuthority.",
      "properties": {
        "subordinateConfig": {
          "$ref": "SubordinateConfig",
          "description": "Required. Must include information about the issuer of 'pem_ca_certificate', and any further issuers until the self-signed CA."
        },
        "requestId": {
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "pemCaCertificate": {
          "description": "Required. The signed CA certificate issued from FetchCertificateAuthorityCsrResponse.pem_csr.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "FetchCertificateAuthorityCsrResponse": {
      "properties": {
        "pemCsr": {
          "description": "Output only. The PEM-encoded signed certificate signing request (CSR).",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "FetchCertificateAuthorityCsrResponse",
      "description": "Response message for CertificateAuthorityService.FetchCertificateAuthorityCsr."
    },
    "EcKeyType": {
      "description": "Describes an Elliptic Curve key that may be used in a Certificate issued from a CaPool.",
      "id": "EcKeyType",
      "type": "object",
      "properties": {
        "signatureAlgorithm": {
          "enumDescriptions": [
            "Not specified. Signifies that any signature algorithm may be used.",
            "Refers to the Elliptic Curve Digital Signature Algorithm over the NIST P-256 curve.",
            "Refers to the Elliptic Curve Digital Signature Algorithm over the NIST P-384 curve.",
            "Refers to the Edwards-curve Digital Signature Algorithm over curve 25519, as described in RFC 8410."
          ],
          "type": "string",
          "description": "Optional. A signature algorithm that must be used. If this is omitted, any EC-based signature algorithm will be allowed.",
          "enum": [
            "EC_SIGNATURE_ALGORITHM_UNSPECIFIED",
            "ECDSA_P256",
            "ECDSA_P384",
            "EDDSA_25519"
          ]
        }
      }
    },
    "ReconciliationOperationMetadata": {
      "type": "object",
      "id": "ReconciliationOperationMetadata",
      "description": "Operation metadata returned by the CLH during resource state reconciliation.",
      "properties": {
        "exclusiveAction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ],
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ]
        },
        "deleteResource": {
          "type": "boolean",
          "description": "DEPRECATED. Use exclusive_action instead."
        }
      }
    },
    "RevokeCertificateRequest": {
      "type": "object",
      "id": "RevokeCertificateRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "reason": {
          "enumDescriptions": [
            "Default unspecified value. This value does indicate that a Certificate has been revoked, but that a reason has not been recorded.",
            "Key material for this Certificate may have leaked.",
            "The key material for a certificate authority in the issuing path may have leaked.",
            "The subject or other attributes in this Certificate have changed.",
            "This Certificate has been superseded.",
            "This Certificate or entities in the issuing path have ceased to operate.",
            "This Certificate should not be considered valid, it is expected that it may become valid in the future.",
            "This Certificate no longer has permission to assert the listed attributes.",
            "The authority which determines appropriate attributes for a Certificate may have been compromised."
          ],
          "enum": [
            "REVOCATION_REASON_UNSPECIFIED",
            "KEY_COMPROMISE",
            "CERTIFICATE_AUTHORITY_COMPROMISE",
            "AFFILIATION_CHANGED",
            "SUPERSEDED",
            "CESSATION_OF_OPERATION",
            "CERTIFICATE_HOLD",
            "PRIVILEGE_WITHDRAWN",
            "ATTRIBUTE_AUTHORITY_COMPROMISE"
          ],
          "type": "string",
          "description": "Required. The RevocationReason for revoking this certificate."
        }
      },
      "description": "Request message for CertificateAuthorityService.RevokeCertificate."
    },
    "KeyVersionSpec": {
      "description": "A Cloud KMS key configuration that a CertificateAuthority will use.",
      "type": "object",
      "id": "KeyVersionSpec",
      "properties": {
        "algorithm": {
          "enumDescriptions": [
            "Not specified.",
            "maps to CryptoKeyVersionAlgorithm.RSA_SIGN_PSS_2048_SHA256",
            "maps to CryptoKeyVersionAlgorithm. RSA_SIGN_PSS_3072_SHA256",
            "maps to CryptoKeyVersionAlgorithm.RSA_SIGN_PSS_4096_SHA256",
            "maps to CryptoKeyVersionAlgorithm.RSA_SIGN_PKCS1_2048_SHA256",
            "maps to CryptoKeyVersionAlgorithm.RSA_SIGN_PKCS1_3072_SHA256",
            "maps to CryptoKeyVersionAlgorithm.RSA_SIGN_PKCS1_4096_SHA256",
            "maps to CryptoKeyVersionAlgorithm.EC_SIGN_P256_SHA256",
            "maps to CryptoKeyVersionAlgorithm.EC_SIGN_P384_SHA384"
          ],
          "enum": [
            "SIGN_HASH_ALGORITHM_UNSPECIFIED",
            "RSA_PSS_2048_SHA256",
            "RSA_PSS_3072_SHA256",
            "RSA_PSS_4096_SHA256",
            "RSA_PKCS1_2048_SHA256",
            "RSA_PKCS1_3072_SHA256",
            "RSA_PKCS1_4096_SHA256",
            "EC_P256_SHA256",
            "EC_P384_SHA384"
          ],
          "type": "string",
          "description": "The algorithm to use for creating a managed Cloud KMS key for a for a simplified experience. All managed keys will be have their ProtectionLevel as `HSM`."
        },
        "cloudKmsKeyVersion": {
          "description": "The resource name for an existing Cloud KMS CryptoKeyVersion in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*`. This option enables full flexibility in the key's capabilities and properties.",
          "type": "string"
        }
      }
    },
    "ListCertificateRevocationListsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "A list of locations (e.g. \"us-west1\") that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in ListCertificateRevocationListsRequest.next_page_token to retrieve the next page of results."
        },
        "certificateRevocationLists": {
          "type": "array",
          "items": {
            "$ref": "CertificateRevocationList"
          },
          "description": "The list of CertificateRevocationLists."
        }
      },
      "description": "Response message for CertificateAuthorityService.ListCertificateRevocationLists.",
      "id": "ListCertificateRevocationListsResponse",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse"
    },
    "KeyUsage": {
      "type": "object",
      "description": "A KeyUsage describes key usage values that may appear in an X.509 certificate.",
      "id": "KeyUsage",
      "properties": {
        "extendedKeyUsage": {
          "description": "Detailed scenarios in which a key may be used.",
          "$ref": "ExtendedKeyUsageOptions"
        },
        "unknownExtendedKeyUsages": {
          "type": "array",
          "description": "Used to describe extended key usages that are not listed in the KeyUsage.ExtendedKeyUsageOptions message.",
          "items": {
            "$ref": "ObjectId"
          }
        },
        "baseKeyUsage": {
          "$ref": "KeyUsageOptions",
          "description": "Describes high-level ways in which a key may be used."
        }
      }
    },
    "AccessUrls": {
      "type": "object",
      "properties": {
        "caCertificateAccessUrl": {
          "type": "string",
          "description": "The URL where this CertificateAuthority's CA certificate is published. This will only be set for CAs that have been activated."
        },
        "crlAccessUrls": {
          "items": {
            "type": "string"
          },
          "description": "The URLs where this CertificateAuthority's CRLs are published. This will only be set for CAs that have been activated.",
          "type": "array"
        }
      },
      "id": "AccessUrls",
      "description": "URLs where a CertificateAuthority will publish content."
    },
    "ListCertificateTemplatesResponse": {
      "type": "object",
      "description": "Response message for CertificateAuthorityService.ListCertificateTemplates.",
      "id": "ListCertificateTemplatesResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "A list of locations (e.g. \"us-west1\") that could not be reached.",
          "type": "array"
        },
        "certificateTemplates": {
          "description": "The list of CertificateTemplates.",
          "items": {
            "$ref": "CertificateTemplate"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in ListCertificateTemplatesRequest.next_page_token to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "X509Parameters": {
      "description": "An X509Parameters is used to describe certain fields of an X.509 certificate, such as the key usage fields, fields specific to CA certificates, certificate policy extensions and custom extensions.",
      "type": "object",
      "id": "X509Parameters",
      "properties": {
        "policyIds": {
          "items": {
            "$ref": "ObjectId"
          },
          "type": "array",
          "description": "Optional. Describes the X.509 certificate policy object identifiers, per https://tools.ietf.org/html/rfc5280#section-4.2.1.4."
        },
        "keyUsage": {
          "description": "Optional. Indicates the intended use for keys that correspond to a certificate.",
          "$ref": "KeyUsage"
        },
        "additionalExtensions": {
          "description": "Optional. Describes custom X.509 extensions.",
          "items": {
            "$ref": "X509Extension"
          },
          "type": "array"
        },
        "caOptions": {
          "$ref": "CaOptions",
          "description": "Optional. Describes options in this X509Parameters that are relevant in a CA certificate."
        },
        "aiaOcspServers": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Describes Online Certificate Status Protocol (OCSP) endpoint addresses that appear in the \"Authority Information Access\" extension in the certificate.",
          "type": "array"
        }
      }
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "EnableCertificateAuthorityRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "Request message for CertificateAuthorityService.EnableCertificateAuthority.",
      "type": "object",
      "id": "EnableCertificateAuthorityRequest"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "version_module": true,
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "version": "v1",
  "basePath": "",
  "baseUrl": "https://privateca.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://privateca.googleapis.com/",
  "documentationLink": "https://cloud.google.com/",
  "title": "Certificate Authority API",
  "protocol": "rest",
  "mtlsRootUrl": "https://privateca.mtls.googleapis.com/",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "id": "privateca.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "privateca.projects.locations.list",
              "description": "Lists information about the supported locations for this service.",
              "flatPath": "v1/projects/{projectsId}/locations"
            }
          },
          "resources": {
            "certificateTemplates": {
              "methods": {
                "delete": {
                  "description": "DeleteCertificateTemplate deletes a CertificateTemplate.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
[...]
