{
  "title": "Certificate Authority API",
  "description": "The Certificate Authority Service API is a highly-available, scalable service that enables you to simplify and automate the management of private certificate authorities (CAs) while staying in control of your private keys.\" ",
  "canonicalName": "Certificate Authority Service",
  "revision": "20210426",
  "discoveryVersion": "v1",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ReusableConfigWrapper": {
      "type": "object",
      "id": "ReusableConfigWrapper",
      "description": "A ReusableConfigWrapper describes values that may assist in creating an X.509 certificate, or a reference to a pre-defined set of values.",
      "properties": {
        "reusableConfig": {
          "description": "Required. A resource path to a ReusableConfig in the format `projects/*/locations/*/reusableConfigs/*`.",
          "type": "string"
        },
        "reusableConfigValues": {
          "description": "Required. A user-specified inline ReusableConfigValues.",
          "$ref": "ReusableConfigValues"
        }
      }
    },
    "ObjectId": {
      "type": "object",
      "description": "An ObjectId specifies an object identifier (OID). These provide context and describe types in ASN.1 messages.",
      "properties": {
        "objectIdPath": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Required. The parts of an OID path. The most significant parts of the path come first.",
          "type": "array"
        }
      },
      "id": "ObjectId"
    },
    "SubjectConfig": {
      "type": "object",
      "id": "SubjectConfig",
      "description": "These values are used to create the distinguished name and subject alternative name fields in an X.509 certificate.",
      "properties": {
        "subjectAltName": {
          "description": "Optional. The subject alternative name fields.",
          "$ref": "SubjectAltNames"
        },
        "commonName": {
          "type": "string",
          "description": "Optional. The \"common name\" of the distinguished name."
        },
        "subject": {
          "description": "Required. Contains distinguished name fields such as the location and organization.",
          "$ref": "Subject"
        }
      }
    },
    "KeyVersionSpec": {
      "id": "KeyVersionSpec",
      "properties": {
        "cloudKmsKeyVersion": {
          "description": "Required. The resource name for an existing Cloud KMS CryptoKeyVersion in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*`. This option enables full flexibility in the key's capabilities and properties.",
          "type": "string"
        },
        "algorithm": {
          "enumDescriptions": [
            "Not specified.",
            "maps to CryptoKeyVersionAlgorithm.RSA_SIGN_PSS_2048_SHA256",
            "maps to CryptoKeyVersionAlgorithm. RSA_SIGN_PSS_3072_SHA256",
            "maps to CryptoKeyVersionAlgorithm.RSA_SIGN_PSS_4096_SHA256",
            "maps to CryptoKeyVersionAlgorithm.RSA_SIGN_PKCS1_2048_SHA256",
            "maps to CryptoKeyVersionAlgorithm.RSA_SIGN_PKCS1_3072_SHA256",
            "maps to CryptoKeyVersionAlgorithm.RSA_SIGN_PKCS1_4096_SHA256",
            "maps to CryptoKeyVersionAlgorithm.EC_SIGN_P256_SHA256",
            "maps to CryptoKeyVersionAlgorithm.EC_SIGN_P384_SHA384"
          ],
          "type": "string",
          "description": "Required. The algorithm to use for creating a managed Cloud KMS key for a for a simplified experience. All managed keys will be have their ProtectionLevel as `HSM`.",
          "enum": [
            "SIGN_HASH_ALGORITHM_UNSPECIFIED",
            "RSA_PSS_2048_SHA256",
            "RSA_PSS_3072_SHA256",
            "RSA_PSS_4096_SHA256",
            "RSA_PKCS1_2048_SHA256",
            "RSA_PKCS1_3072_SHA256",
            "RSA_PKCS1_4096_SHA256",
            "EC_P256_SHA256",
            "EC_P384_SHA384"
          ]
        }
      },
      "type": "object",
      "description": "A Cloud KMS key configuration that a CertificateAuthority will use."
    },
    "FetchCertificateAuthorityCsrResponse": {
      "properties": {
        "pemCsr": {
          "readOnly": true,
          "description": "Output only. The PEM-encoded signed certificate signing request (CSR).",
          "type": "string"
        }
      },
      "description": "Response message for CertificateAuthorityService.FetchCertificateAuthorityCsr.",
      "type": "object",
      "id": "FetchCertificateAuthorityCsrResponse"
    },
    "KeyId": {
      "properties": {
        "keyId": {
          "type": "string",
          "description": "Optional. The value of this KeyId encoded in lowercase hexadecimal. This is most likely the 160 bit SHA-1 hash of the public key."
        }
      },
      "description": "A KeyId identifies a specific public key, usually by hashing the public key.",
      "type": "object",
      "id": "KeyId"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "id": "ListLocationsResponse"
    },
    "SubordinateConfig": {
      "description": "Describes a subordinate CA's issuers. This is either a resource path to a known issuing CertificateAuthority, or a PEM issuer certificate chain.",
      "properties": {
        "certificateAuthority": {
          "type": "string",
          "description": "Required. This can refer to a CertificateAuthority in the same project that was used to create a subordinate CertificateAuthority. This field is used for information and usability purposes only. The resource name is in the format `projects/*/locations/*/certificateAuthorities/*`."
        },
        "pemIssuerChain": {
          "description": "Required. Contains the PEM certificate chain for the issuers of this CertificateAuthority, but not pem certificate for this CA itself.",
          "$ref": "SubordinateConfigChain"
        }
      },
      "id": "SubordinateConfig",
      "type": "object"
    },
    "CertificateDescription": {
      "id": "CertificateDescription",
      "description": "A CertificateDescription describes an X.509 certificate or CSR that has been issued, as an alternative to using ASN.1 / X.509.",
      "properties": {
        "publicKey": {
          "description": "The public key that corresponds to an issued certificate.",
          "$ref": "PublicKey"
        },
        "aiaIssuingCertificateUrls": {
          "description": "Describes lists of issuer CA certificate URLs that appear in the \"Authority Information Access\" extension in the certificate.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "configValues": {
          "$ref": "ReusableConfigValues",
          "description": "Describes some of the technical fields in a certificate."
        },
        "subjectDescription": {
          "description": "Describes some of the values in a certificate that are related to the subject and lifetime.",
          "$ref": "SubjectDescription"
        },
        "crlDistributionPoints": {
          "description": "Describes a list of locations to obtain CRL information, i.e. the DistributionPoint.fullName described by https://tools.ietf.org/html/rfc5280#section-4.2.1.13",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "certFingerprint": {
          "$ref": "CertificateFingerprint",
          "description": "The hash of the x.509 certificate."
        },
        "authorityKeyId": {
          "description": "Identifies the subject_key_id of the parent certificate, per https://tools.ietf.org/html/rfc5280#section-4.2.1.1",
          "$ref": "KeyId"
        },
        "subjectKeyId": {
          "description": "Provides a means of identifiying certificates that contain a particular public key, per https://tools.ietf.org/html/rfc5280#section-4.2.1.2.",
          "$ref": "KeyId"
        }
      },
      "type": "object"
    },
    "SubjectAltNames": {
      "id": "SubjectAltNames",
      "type": "object",
      "properties": {
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Contains only valid 32-bit IPv4 addresses or RFC 4291 IPv6 addresses."
        },
        "dnsNames": {
          "type": "array",
          "description": "Contains only valid, fully-qualified host names.",
          "items": {
            "type": "string"
          }
        },
        "emailAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Contains only valid RFC 2822 E-mail addresses."
        },
        "customSans": {
          "type": "array",
          "items": {
            "$ref": "X509Extension"
          },
          "description": "Contains additional subject alternative name values."
        },
        "uris": {
          "description": "Contains only valid RFC 3986 URIs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "SubjectAltNames corresponds to a more modern way of listing what the asserted identity is in a certificate (i.e., compared to the \"common name\" in the distinguished name)."
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "id": "AuditConfig",
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging."
    },
    "RevokedCertificate": {
      "id": "RevokedCertificate",
      "type": "object",
      "properties": {
        "hexSerialNumber": {
          "description": "The serial number of the Certificate.",
          "type": "string"
        },
        "revocationReason": {
          "enumDescriptions": [
            "Default unspecified value. This value does indicate that a Certificate has been revoked, but that a reason has not been recorded.",
            "Key material for this Certificate may have leaked.",
            "The key material for a certificate authority in the issuing path may have leaked.",
            "The subject or other attributes in this Certificate have changed.",
            "This Certificate has been superseded.",
            "This Certificate or entities in the issuing path have ceased to operate.",
            "This Certificate should not be considered valid, it is expected that it may become valid in the future.",
            "This Certificate no longer has permission to assert the listed attributes.",
            "The authority which determines appropriate attributes for a Certificate may have been compromised."
          ],
          "enum": [
            "REVOCATION_REASON_UNSPECIFIED",
            "KEY_COMPROMISE",
            "CERTIFICATE_AUTHORITY_COMPROMISE",
            "AFFILIATION_CHANGED",
            "SUPERSEDED",
            "CESSATION_OF_OPERATION",
            "CERTIFICATE_HOLD",
            "PRIVILEGE_WITHDRAWN",
            "ATTRIBUTE_AUTHORITY_COMPROMISE"
          ],
          "type": "string",
          "description": "The reason the Certificate was revoked."
        },
        "certificate": {
          "type": "string",
          "description": "The resource path for the Certificate in the format `projects/*/locations/*/certificateAuthorities/*/certificates/*`."
        }
      },
      "description": "Describes a revoked Certificate."
    },
    "SubordinateConfigChain": {
      "description": "This message describes a subordinate CA's issuer certificate chain. This wrapper exists for compatibility reasons.",
      "type": "object",
      "properties": {
        "pemCertificates": {
          "description": "Required. Expected to be in leaf-to-root order according to RFC 5246.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SubordinateConfigChain"
    },
    "CertificateConfig": {
      "description": "A CertificateConfig describes an X.509 certificate or CSR that is to be created, as an alternative to using ASN.1.",
      "id": "CertificateConfig",
      "type": "object",
      "properties": {
        "subjectConfig": {
          "$ref": "SubjectConfig",
          "description": "Required. Specifies some of the values in a certificate that are related to the subject."
        },
        "reusableConfig": {
          "description": "Required. Describes how some of the technical fields in a certificate should be populated.",
          "$ref": "ReusableConfigWrapper"
        },
        "publicKey": {
          "description": "Optional. The public key that corresponds to this config. This is, for example, used when issuing Certificates, but not when creating a self-signed CertificateAuthority or CertificateAuthority CSR.",
          "$ref": "PublicKey"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "AccessUrls": {
      "id": "AccessUrls",
      "properties": {
        "caCertificateAccessUrl": {
          "type": "string",
          "description": "The URL where this CertificateAuthority's CA certificate is published. This will only be set for CAs that have been activated."
        },
        "crlAccessUrl": {
          "type": "string",
          "description": "The URL where this CertificateAuthority's CRLs are published. This will only be set for CAs that have been activated."
        }
      },
      "type": "object",
      "description": "URLs where a CertificateAuthority will publish content."
    },
    "CertificateRevocationList": {
      "description": "A CertificateRevocationList corresponds to a signed X.509 certificate Revocation List (CRL). A CRL contains the serial numbers of certificates that should no longer be trusted.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which this CertificateRevocationList was updated."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource path for this CertificateRevocationList in the format `projects/*/locations/*/certificateAuthorities/*/ certificateRevocationLists/*`."
        },
        "revokedCertificates": {
          "type": "array",
          "items": {
            "$ref": "RevokedCertificate"
          },
          "readOnly": true,
          "description": "Output only. The revoked serial numbers that appear in pem_crl."
        },
        "sequenceNumber": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The CRL sequence number that appears in pem_crl.",
          "type": "string"
        },
        "pemCrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The PEM-encoded X.509 CRL."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels with user-defined metadata."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which this CertificateRevocationList was created.",
          "type": "string"
        },
        "accessUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The location where 'pem_crl' can be accessed."
        },
        "state": {
          "description": "Output only. The State for this CertificateRevocationList.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUPERSEDED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "The CertificateRevocationList is up to date.",
            "The CertificateRevocationList is no longer current."
          ]
        }
      },
      "id": "CertificateRevocationList",
      "type": "object"
    },
    "ExtendedKeyUsageOptions": {
      "id": "ExtendedKeyUsageOptions",
      "type": "object",
      "properties": {
        "serverAuth": {
          "description": "Corresponds to OID 1.3.6.1.5.5.7.3.1. Officially described as \"TLS WWW server authentication\", though regularly used for non-WWW TLS.",
          "type": "boolean"
        },
        "clientAuth": {
          "description": "Corresponds to OID 1.3.6.1.5.5.7.3.2. Officially described as \"TLS WWW client authentication\", though regularly used for non-WWW TLS.",
          "type": "boolean"
        },
        "timeStamping": {
          "type": "boolean",
          "description": "Corresponds to OID 1.3.6.1.5.5.7.3.8. Officially described as \"Binding the hash of an object to a time\"."
        },
        "ocspSigning": {
          "description": "Corresponds to OID 1.3.6.1.5.5.7.3.9. Officially described as \"Signing OCSP responses\".",
          "type": "boolean"
        },
        "codeSigning": {
          "type": "boolean",
          "description": "Corresponds to OID 1.3.6.1.5.5.7.3.3. Officially described as \"Signing of downloadable executable code client authentication\"."
        },
        "emailProtection": {
          "type": "boolean",
          "description": "Corresponds to OID 1.3.6.1.5.5.7.3.4. Officially described as \"Email protection\"."
        }
      },
      "description": "KeyUsage.ExtendedKeyUsageOptions has fields that correspond to certain common OIDs that could be specified as an extended key usage value."
    },
    "KeyUsage": {
      "id": "KeyUsage",
      "description": "A KeyUsage describes key usage values that may appear in an X.509 certificate.",
      "type": "object",
      "properties": {
        "unknownExtendedKeyUsages": {
          "description": "Used to describe extended key usages that are not listed in the KeyUsage.ExtendedKeyUsageOptions message.",
          "type": "array",
          "items": {
            "$ref": "ObjectId"
          }
        },
        "baseKeyUsage": {
          "$ref": "KeyUsageOptions",
          "description": "Describes high-level ways in which a key may be used."
        },
        "extendedKeyUsage": {
          "$ref": "ExtendedKeyUsageOptions",
          "description": "Detailed scenarios in which a key may be used."
        }
      }
    },
    "DisableCertificateAuthorityRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "DisableCertificateAuthorityRequest",
      "description": "Request message for CertificateAuthorityService.DisableCertificateAuthority."
    },
    "AllowedSubjectAltNames": {
      "type": "object",
      "description": "AllowedSubjectAltNames specifies the allowed values for SubjectAltNames by the CertificateAuthority when issuing Certificates.",
      "id": "AllowedSubjectAltNames",
      "properties": {
        "allowCustomSans": {
          "description": "Optional. Specifies if to allow custom X509Extension values.",
          "type": "boolean"
        },
        "allowedDnsNames": {
          "description": "Optional. Contains valid, fully-qualified host names. Glob patterns are also supported. To allow an explicit wildcard certificate, escape with backlash (i.e. \"\\*\"). E.g. for globbed entries: '*bar.com' will allow 'foo.bar.com', but not '*.bar.com', unless the allow_globbing_dns_wildcards field is set. E.g. for wildcard entries: '\\*.bar.com' will allow '*.bar.com', but not 'foo.bar.com'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowedIps": {
          "type": "array",
          "description": "Optional. Contains valid 32-bit IPv4 addresses and subnet ranges or RFC 4291 IPv6 addresses and subnet ranges. Subnet ranges are specified using the '/' notation (e.g. 10.0.0.0/8, 2001:700:300:1800::/64). Glob patterns are supported only for ip address entries (i.e. not for subnet ranges).",
          "items": {
            "type": "string"
          }
        },
        "allowedEmailAddresses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains valid RFC 2822 E-mail addresses. Glob patterns are also supported.",
          "type": "array"
        },
        "allowGlobbingDnsWildcards": {
          "type": "boolean",
          "description": "Optional. Specifies if glob patterns used for allowed_dns_names allow wildcard certificates. If this is set, certificate requests with wildcard domains will be permitted to match a glob pattern specified in allowed_dns_names. Otherwise, certificate requests with wildcard domains will be permitted only if allowed_dns_names contains a literal wildcard."
        },
        "allowedUris": {
          "description": "Optional. Contains valid RFC 3986 URIs. Glob patterns are also supported. To match across path seperators (i.e. '/') use the double star glob pattern (i.e. '**').",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata"
    },
    "ReconciliationOperationMetadata": {
      "id": "ReconciliationOperationMetadata",
      "description": "Operation metadata returned by the CLH during resource state reconciliation.",
      "type": "object",
      "properties": {
        "deleteResource": {
          "description": "If set to TRUE, the resource has to be deleted. When using this bit, the CLH should fail the operation.",
          "type": "boolean"
        }
      }
    },
    "IssuingOptions": {
      "id": "IssuingOptions",
      "description": "Options that affect all certificates issued by a CertificateAuthority.",
      "type": "object",
      "properties": {
        "includeCaCertUrl": {
          "description": "Required. When true, includes a URL to the issuing CA certificate in the \"authority information access\" X.509 extension.",
          "type": "boolean"
        },
        "includeCrlAccessUrl": {
          "type": "boolean",
          "description": "Required. When true, includes a URL to the CRL corresponding to certificates issued from a CertificateAuthority. CRLs will expire 7 days from their creation. However, we will rebuild daily. CRLs are also rebuilt shortly after a certificate is revoked."
        }
      }
    },
    "PublicKey": {
      "id": "PublicKey",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. A public key. When this is specified in a request, the padding and encoding can be any of the options described by the respective 'KeyType' value. When this is generated by the service, it will always be an RFC 5280 [SubjectPublicKeyInfo](https://tools.ietf.org/html/rfc5280#section-4.1) structure containing an algorithm identifier and a key.",
          "format": "byte"
        },
        "type": {
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "PEM_RSA_KEY",
            "PEM_EC_KEY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "A PEM-encoded PKCS#1/RFC 3447 RSAPublicKey structure, or an RFC 5280 [SubjectPublicKeyInfo](https://tools.ietf.org/html/rfc5280#section-4.1) structure containing the former.",
            "An RFC 5280 [SubjectPublicKeyInfo](https://tools.ietf.org/html/rfc5280#section-4.1) structure containing a PEM-encoded compressed NIST P-256/secp256r1/prime256v1 or P-384 key."
          ],
          "type": "string",
          "description": "Optional. The type of public key. If specified, it must match the public key used for the`key` field."
        }
      },
      "type": "object",
      "description": "A PublicKey describes a public key."
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ReusableConfigValues": {
      "type": "object",
      "properties": {
        "caOptions": {
          "$ref": "CaOptions",
          "description": "Optional. Describes options in this ReusableConfigValues that are relevant in a CA certificate."
        },
        "additionalExtensions": {
          "description": "Optional. Describes custom X.509 extensions.",
          "type": "array",
          "items": {
            "$ref": "X509Extension"
          }
        },
        "aiaOcspServers": {
          "type": "array",
          "description": "Optional. Describes Online Certificate Status Protocol (OCSP) endpoint addresses that appear in the \"Authority Information Access\" extension in the certificate.",
          "items": {
            "type": "string"
          }
        },
        "keyUsage": {
          "$ref": "KeyUsage",
          "description": "Optional. Indicates the intended use for keys that correspond to a certificate."
        },
        "policyIds": {
          "description": "Optional. Describes the X.509 certificate policy object identifiers, per https://tools.ietf.org/html/rfc5280#section-4.2.1.4.",
          "items": {
            "$ref": "ObjectId"
          },
          "type": "array"
        }
      },
      "id": "ReusableConfigValues",
      "description": "A ReusableConfigValues is used to describe certain fields of an X.509 certificate, such as the key usage fields, fields specific to CA certificates, certificate policy extensions and custom extensions."
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ActivateCertificateAuthorityRequest": {
      "description": "Request message for CertificateAuthorityService.ActivateCertificateAuthority.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "pemCaCertificate": {
          "type": "string",
          "description": "Required. The signed CA certificate issued from FetchCertificateAuthorityCsrResponse.pem_csr."
        },
        "subordinateConfig": {
          "$ref": "SubordinateConfig",
          "description": "Required. Must include information about the issuer of 'pem_ca_certificate', and any further issuers until the self-signed CA."
        }
      },
      "type": "object",
      "id": "ActivateCertificateAuthorityRequest"
    },
    "ListCertificateAuthoritiesResponse": {
      "description": "Response message for CertificateAuthorityService.ListCertificateAuthorities.",
      "type": "object",
      "id": "ListCertificateAuthoritiesResponse",
      "properties": {
        "certificateAuthorities": {
          "items": {
            "$ref": "CertificateAuthority"
          },
          "type": "array",
          "description": "The list of CertificateAuthorities."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in ListCertificateAuthoritiesRequest.next_page_token to retrieve the next page of results.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "A list of locations (e.g. \"us-west1\") that could not be reached.",
          "type": "array"
        }
      }
    },
    "IssuanceModes": {
      "description": "IssuanceModes specifies the allowed ways in which Certificates may be requested from this CertificateAuthority.",
      "type": "object",
      "id": "IssuanceModes",
      "properties": {
        "allowCsrBasedIssuance": {
          "type": "boolean",
          "description": "Required. When true, allows callers to create Certificates by specifying a CSR."
        },
        "allowConfigBasedIssuance": {
          "type": "boolean",
          "description": "Required. When true, allows callers to create Certificates by specifying a CertificateConfig."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "RestoreCertificateAuthorityRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "RestoreCertificateAuthorityRequest",
      "description": "Request message for CertificateAuthorityService.RestoreCertificateAuthority."
    },
    "CertificateAuthority": {
      "id": "CertificateAuthority",
      "type": "object",
      "properties": {
        "deleteTime": {
          "description": "Output only. The time at which this CertificateAuthority will be deleted, if scheduled for deletion.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Not specified.",
            "Self-signed CA.",
            "Subordinate CA. Could be issued by a Private CA CertificateAuthority or an unmanaged CA."
          ],
          "description": "Required. Immutable. The Type of this CertificateAuthority.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SELF_SIGNED",
            "SUBORDINATE"
          ]
        },
        "certificatePolicy": {
          "$ref": "CertificateAuthorityPolicy",
          "description": "Optional. The CertificateAuthorityPolicy to enforce when issuing Certificates from this CertificateAuthority."
        },
        "lifetime": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The desired lifetime of the CA certificate. Used to create the \"not_before_time\" and \"not_after_time\" fields inside an X.509 certificate."
        },
        "accessUrls": {
          "description": "Output only. URLs for accessing content published by this CA, such as the CA certificate and CRLs.",
          "readOnly": true,
          "$ref": "AccessUrls"
        },
        "config": {
          "$ref": "CertificateConfig",
          "description": "Required. Immutable. The config used to create a self-signed X.509 certificate or CSR."
        },
        "createTime": {
          "description": "Output only. The time at which this CertificateAuthority was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels with user-defined metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Output only. The resource name for this CertificateAuthority in the format `projects/*/locations/*/certificateAuthorities/*`.",
          "readOnly": true,
          "type": "string"
        },
        "keySpec": {
          "$ref": "KeyVersionSpec",
          "description": "Required. Immutable. Used when issuing certificates for this CertificateAuthority. If this CertificateAuthority is a self-signed CertificateAuthority, this key is also used to sign the self-signed CA certificate. Otherwise, it is used to sign a CSR."
        },
        "gcsBucket": {
          "type": "string",
          "description": "Immutable. The name of a Cloud Storage bucket where this CertificateAuthority will publish content, such as the CA certificate and CRLs. This must be a bucket name, without any prefixes (such as `gs://`) or suffixes (such as `.googleapis.com`). For example, to use a bucket named `my-bucket`, you would simply specify `my-bucket`. If not specified, a managed bucket will be created."
        },
        "subordinateConfig": {
          "$ref": "SubordinateConfig",
          "description": "Optional. If this is a subordinate CertificateAuthority, this field will be set with the subordinate configuration, which describes its issuers. This may be updated, but this CertificateAuthority must continue to validate."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which this CertificateAuthority was updated.",
          "format": "google-datetime"
        },
        "caCertificateDescriptions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CertificateDescription"
          },
          "description": "Output only. A structured description of this CertificateAuthority's CA certificate and its issuers. Ordered as self-to-root."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "PENDING_ACTIVATION",
            "PENDING_DELETION"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Certificates can be issued from this CA. CRLs will be generated for this CA.",
            "Certificates cannot be issued from this CA. CRLs will still be generated.",
            "Certificates cannot be issued from this CA. CRLs will not be generated.",
            "Certificates cannot be issued from this CA. CRLs will not be generated."
          ],
          "description": "Output only. The State for this CertificateAuthority.",
          "type": "string",
          "readOnly": true
        },
        "issuingOptions": {
          "$ref": "IssuingOptions",
          "description": "Optional. The IssuingOptions to follow when issuing Certificates from this CertificateAuthority."
        },
        "tier": {
          "type": "string",
          "description": "Required. Immutable. The Tier of this CertificateAuthority.",
          "enum": [
            "TIER_UNSPECIFIED",
            "ENTERPRISE",
            "DEVOPS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Enterprise tier.",
            "DevOps tier."
          ]
        },
        "pemCaCertificates": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. This CertificateAuthority's certificate chain, including the current CertificateAuthority's certificate. Ordered such that the root issuer is the final element (consistent with RFC 5246). For a self-signed CA, this will only list the current CertificateAuthority's certificate.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A CertificateAuthority represents an individual Certificate Authority. A CertificateAuthority can be used to create Certificates."
    },
    "SubjectDescription": {
      "description": "These values describe fields in an issued X.509 certificate such as the distinguished name, subject alternative names, serial number, and lifetime.",
      "properties": {
        "notBeforeTime": {
          "type": "string",
          "description": "The time at which the certificate becomes valid.",
          "format": "google-datetime"
        },
        "hexSerialNumber": {
          "type": "string",
          "description": "The serial number encoded in lowercase hexadecimal."
        },
        "commonName": {
          "type": "string",
          "description": "The \"common name\" of the distinguished name."
        },
        "subjectAltName": {
          "$ref": "SubjectAltNames",
          "description": "The subject alternative name fields."
        },
        "notAfterTime": {
          "description": "The time at which the certificate expires.",
          "format": "google-datetime",
          "type": "string"
        },
        "lifetime": {
          "description": "For convenience, the actual lifetime of an issued certificate. Corresponds to 'not_after_time' - 'not_before_time'.",
          "format": "google-duration",
          "type": "string"
        },
        "subject": {
          "$ref": "Subject",
          "description": "Contains distinguished name fields such as the location and organization."
        }
      },
      "type": "object",
      "id": "SubjectDescription"
    },
    "EnableCertificateAuthorityRequest": {
      "description": "Request message for CertificateAuthorityService.EnableCertificateAuthority.",
      "properties": {
        "requestId": {
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "EnableCertificateAuthorityRequest",
      "type": "object"
    },
    "RevokeCertificateRequest": {
      "type": "object",
      "description": "Request message for CertificateAuthorityService.RevokeCertificate.",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Default unspecified value. This value does indicate that a Certificate has been revoked, but that a reason has not been recorded.",
            "Key material for this Certificate may have leaked.",
            "The key material for a certificate authority in the issuing path may have leaked.",
            "The subject or other attributes in this Certificate have changed.",
            "This Certificate has been superseded.",
            "This Certificate or entities in the issuing path have ceased to operate.",
            "This Certificate should not be considered valid, it is expected that it may become valid in the future.",
            "This Certificate no longer has permission to assert the listed attributes.",
            "The authority which determines appropriate attributes for a Certificate may have been compromised."
          ],
          "description": "Required. The RevocationReason for revoking this certificate.",
          "type": "string",
          "enum": [
            "REVOCATION_REASON_UNSPECIFIED",
            "KEY_COMPROMISE",
            "CERTIFICATE_AUTHORITY_COMPROMISE",
            "AFFILIATION_CHANGED",
            "SUPERSEDED",
            "CESSATION_OF_OPERATION",
            "CERTIFICATE_HOLD",
            "PRIVILEGE_WITHDRAWN",
            "ATTRIBUTE_AUTHORITY_COMPROMISE"
          ]
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "RevokeCertificateRequest"
    },
    "CaOptions": {
      "description": "Describes values that are relevant in a CA certificate.",
      "properties": {
        "isCa": {
          "type": "boolean",
          "description": "Optional. Refers to the \"CA\" X.509 extension, which is a boolean value. When this value is missing, the extension will be omitted from the CA certificate."
        },
        "maxIssuerPathLength": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Refers to the path length restriction X.509 extension. For a CA certificate, this value describes the depth of subordinate CA certificates that are allowed. If this value is less than 0, the request will fail. If this value is missing, the max path length will be omitted from the CA certificate."
        }
      },
      "type": "object",
      "id": "CaOptions"
    },
    "ReusableConfig": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource path for this ReusableConfig in the format `projects/*/locations/*/reusableConfigs/*`."
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of scenarios these ReusableConfigValues may be compatible with."
        },
        "updateTime": {
          "description": "Output only. The time at which this ReusableConfig was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels with user-defined metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "values": {
          "description": "Required. The config values.",
          "$ref": "ReusableConfigValues"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which this ReusableConfig was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "A ReusableConfig refers to a managed ReusableConfigValues. Those, in turn, are used to describe certain fields of an X.509 certificate, such as the key usage fields, fields specific to CA certificates, certificate policy extensions and custom extensions.",
      "type": "object",
      "id": "ReusableConfig"
    },
    "ScheduleDeleteCertificateAuthorityRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "ignoreActiveCertificates": {
          "description": "Optional. This field allows the CA to be scheduled for deletion even if the CA has active certs. Active certs include both unrevoked and unexpired certs.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ScheduleDeleteCertificateAuthorityRequest",
      "description": "Request message for CertificateAuthorityService.ScheduleDeleteCertificateAuthority."
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Location"
    },
    "AllowedConfigList": {
      "id": "AllowedConfigList",
      "properties": {
        "allowedConfigValues": {
          "type": "array",
          "description": "Required. All Certificates issued by the CertificateAuthority must match at least one listed ReusableConfigWrapper. If a ReusableConfigWrapper has an empty field, any value will be allowed for that field.",
          "items": {
            "$ref": "ReusableConfigWrapper"
          }
        }
      },
      "type": "object"
    },
    "ListCertificatesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in ListCertificatesRequest.next_page_token to retrieve the next page of results.",
          "type": "string"
        },
        "certificates": {
          "type": "array",
          "description": "The list of Certificates.",
          "items": {
            "$ref": "Certificate"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of locations (e.g. \"us-west1\") that could not be reached."
        }
      },
      "type": "object",
      "description": "Response message for CertificateAuthorityService.ListCertificates.",
      "id": "ListCertificatesResponse"
    },
    "RevocationDetails": {
      "properties": {
        "revocationTime": {
          "description": "The time at which this Certificate was revoked.",
          "type": "string",
          "format": "google-datetime"
        },
        "revocationState": {
          "type": "string",
          "enum": [
            "REVOCATION_REASON_UNSPECIFIED",
            "KEY_COMPROMISE",
            "CERTIFICATE_AUTHORITY_COMPROMISE",
            "AFFILIATION_CHANGED",
            "SUPERSEDED",
            "CESSATION_OF_OPERATION",
            "CERTIFICATE_HOLD",
            "PRIVILEGE_WITHDRAWN",
            "ATTRIBUTE_AUTHORITY_COMPROMISE"
          ],
          "enumDescriptions": [
            "Default unspecified value. This value does indicate that a Certificate has been revoked, but that a reason has not been recorded.",
            "Key material for this Certificate may have leaked.",
            "The key material for a certificate authority in the issuing path may have leaked.",
            "The subject or other attributes in this Certificate have changed.",
            "This Certificate has been superseded.",
            "This Certificate or entities in the issuing path have ceased to operate.",
            "This Certificate should not be considered valid, it is expected that it may become valid in the future.",
            "This Certificate no longer has permission to assert the listed attributes.",
            "The authority which determines appropriate attributes for a Certificate may have been compromised."
          ],
          "description": "Indicates why a Certificate was revoked."
        }
      },
      "id": "RevocationDetails",
      "description": "Describes fields that are relavent to the revocation of a Certificate.",
      "type": "object"
    },
    "Subject": {
      "description": "Subject describes parts of a distinguished name that, in turn, describes the subject of the certificate.",
      "type": "object",
      "properties": {
        "countryCode": {
          "description": "The country code of the subject.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the subject."
        },
        "organization": {
          "type": "string",
          "description": "The organization of the subject."
        },
        "province": {
          "description": "The province, territory, or regional state of the subject.",
          "type": "string"
        },
        "organizationalUnit": {
          "type": "string",
          "description": "The organizational_unit of the subject."
        },
        "streetAddress": {
          "description": "The street address of the subject.",
          "type": "string"
        },
        "locality": {
          "description": "The locality or city of the subject.",
          "type": "string"
        }
      },
      "id": "Subject"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "Certificate": {
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "Output only. The pem-encoded, signed X.509 certificate.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which this Certificate was created."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels with user-defined metadata."
        },
        "lifetime": {
          "format": "google-duration",
          "description": "Required. Immutable. The desired lifetime of a certificate. Used to create the \"not_before_time\" and \"not_after_time\" fields inside an X.509 certificate. Note that the lifetime may be truncated if it would extend past the life of any certificate authority in the issuing chain.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource path for this Certificate in the format `projects/*/locations/*/certificateAuthorities/*/certificates/*`.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time at which this Certificate was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "revocationDetails": {
          "$ref": "RevocationDetails",
          "readOnly": true,
          "description": "Output only. Details regarding the revocation of this Certificate. This Certificate is considered revoked if and only if this field is present."
        },
        "config": {
          "$ref": "CertificateConfig",
          "description": "Immutable. A description of the certificate and key that does not require X.509 or ASN.1."
        },
        "pemCertificateChain": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The chain that may be used to verify the X.509 certificate. Expected to be in issuer-to-root order according to RFC 5246.",
          "readOnly": true
        },
        "certificateDescription": {
          "$ref": "CertificateDescription",
          "description": "Output only. A structured description of the issued X.509 certificate.",
          "readOnly": true
        },
        "pemCsr": {
          "description": "Immutable. A pem-encoded X.509 certificate signing request (CSR).",
          "type": "string"
        }
      },
      "description": "A Certificate corresponds to a signed X.509 certificate issued by a CertificateAuthority.",
      "type": "object",
      "id": "Certificate"
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "X509Extension": {
      "description": "An X509Extension specifies an X.509 extension, which may be used in different parts of X.509 objects like certificates, CSRs, and CRLs.",
      "id": "X509Extension",
      "type": "object",
      "properties": {
        "objectId": {
          "$ref": "ObjectId",
          "description": "Required. The OID for this X.509 extension."
        },
        "value": {
          "format": "byte",
          "type": "string",
          "description": "Required. The value of this X.509 extension."
        },
        "critical": {
          "description": "Required. Indicates whether or not this extension is critical (i.e., if the client does not know how to handle this extension, the client should consider this to be an error).",
          "type": "boolean"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "CertificateFingerprint": {
      "properties": {
        "sha256Hash": {
          "type": "string",
          "description": "The SHA 256 hash, encoded in hexadecimal, of the DER x509 certificate."
        }
      },
      "id": "CertificateFingerprint",
      "type": "object",
      "description": "A group of fingerprints for the x509 certificate."
    },
    "KeyUsageOptions": {
      "properties": {
        "encipherOnly": {
          "type": "boolean",
          "description": "The key may be used to encipher only."
        },
        "dataEncipherment": {
          "type": "boolean",
          "description": "The key may be used to encipher data."
        },
        "keyAgreement": {
          "type": "boolean",
          "description": "The key may be used in a key agreement protocol."
        },
        "certSign": {
          "type": "boolean",
          "description": "The key may be used to sign certificates."
        },
        "keyEncipherment": {
          "description": "The key may be used to encipher other keys.",
          "type": "boolean"
        },
        "digitalSignature": {
          "type": "boolean",
          "description": "The key may be used for digital signatures."
        },
        "decipherOnly": {
          "description": "The key may be used to decipher only.",
          "type": "boolean"
        },
        "crlSign": {
          "type": "boolean",
          "description": "The key may be used sign certificate revocation lists."
        },
        "contentCommitment": {
          "description": "The key may be used for cryptographic commitments. Note that this may also be referred to as \"non-repudiation\".",
          "type": "boolean"
        }
      },
      "description": "KeyUsage.KeyUsageOptions corresponds to the key usage values described in https://tools.ietf.org/html/rfc5280#section-4.2.1.3.",
      "id": "KeyUsageOptions",
      "type": "object"
    },
    "ListReusableConfigsResponse": {
      "type": "object",
      "description": "Response message for CertificateAuthorityService.ListReusableConfigs.",
      "id": "ListReusableConfigsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "A list of locations (e.g. \"us-west1\") that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in ListReusableConfigsRequest.next_page_token to retrieve the next page of results.",
          "type": "string"
        },
        "reusableConfigs": {
          "description": "The list of ReusableConfigs.",
          "items": {
            "$ref": "ReusableConfig"
          },
          "type": "array"
        }
      }
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "properties": {
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "description": "Associates `members` with a `role`."
    },
    "ListCertificateRevocationListsResponse": {
      "type": "object",
      "id": "ListCertificateRevocationListsResponse",
      "properties": {
        "certificateRevocationLists": {
          "description": "The list of CertificateRevocationLists.",
          "items": {
            "$ref": "CertificateRevocationList"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in ListCertificateRevocationListsRequest.next_page_token to retrieve the next page of results."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of locations (e.g. \"us-west1\") that could not be reached."
        }
      },
      "description": "Response message for CertificateAuthorityService.ListCertificateRevocationLists."
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "type": "object"
    },
    "CertificateAuthorityPolicy": {
      "properties": {
        "maximumLifetime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The maximum lifetime allowed by the CertificateAuthority. Note that if the any part if the issuing chain expires before a Certificate's requested maximum_lifetime, the effective lifetime will be explicitly truncated."
        },
        "allowedConfigList": {
          "$ref": "AllowedConfigList",
          "description": "Optional. All Certificates issued by the CertificateAuthority must match at least one listed ReusableConfigWrapper in the list."
        },
        "allowedLocationsAndOrganizations": {
          "description": "Optional. If any Subject is specified here, then all Certificates issued by the CertificateAuthority must match at least one listed Subject. If a Subject has an empty field, any value will be allowed for that field.",
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        },
        "allowedCommonNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. If any value is specified here, then all Certificates issued by the CertificateAuthority must match at least one listed value. If no value is specified, all values will be allowed for this fied. Glob patterns are also supported."
        },
        "overwriteConfigValues": {
          "description": "Optional. All Certificates issued by the CertificateAuthority will use the provided configuration values, overwriting any requested configuration values.",
          "$ref": "ReusableConfigWrapper"
        },
        "allowedIssuanceModes": {
          "description": "Optional. If specified, then only methods allowed in the IssuanceModes may be used to issue Certificates.",
          "$ref": "IssuanceModes"
        },
        "allowedSans": {
          "description": "Optional. If a AllowedSubjectAltNames is specified here, then all Certificates issued by the CertificateAuthority must match AllowedSubjectAltNames. If no value or an empty value is specified, any value will be allowed for the SubjectAltNames field.",
          "$ref": "AllowedSubjectAltNames"
        }
      },
      "type": "object",
      "description": "The issuing policy for a CertificateAuthority. Certificates will not be successfully issued from this CertificateAuthority if they violate the policy.",
      "id": "CertificateAuthorityPolicy"
    }
  },
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "basePath": "",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "baseUrl": "https://privateca.googleapis.com/",
  "id": "privateca:v1beta1",
  "name": "privateca",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "ownerName": "Google",
  "version": "v1beta1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "reusableConfigs": {
              "methods": {
                "getIamPolicy": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/reusableConfigs/{reusableConfigsId}:getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/reusableConfigs/[^/]+$"
                    },
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "privateca.projects.locations.reusableConfigs.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+resource}:getIamPolicy"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/reusableConfigs",
                  "description": "Lists ReusableConfigs.",
                  "id": "privateca.projects.locations.reusableConfigs.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the location associated with the ReusableConfigs, in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "orderBy": {
                      "description": "Optional. Specify how the results should be sorted.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Limit on the number of ReusableConfigs to include in the response. Further ReusableConfigs can subsequently be obtained by including the ListReusableConfigsResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Pagination token, returned earlier via ListReusableConfigsResponse.next_page_token.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Only include resources that match the filter in the response.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1beta1/{+parent}/reusableConfigs",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListReusableConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "testIamPermissions": {
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "httpMethod": "POST",
                  "id": "privateca.projects.locations.reusableConfigs.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/reusableConfigs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field."
                    }
                  },
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/reusableConfigs/{reusableConfigsId}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/reusableConfigs/{reusableConfigsId}:setIamPolicy",
                  "id": "privateca.projects.locations.reusableConfigs.setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "path": "v1beta1/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/reusableConfigs/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/reusableConfigs/{reusableConfigsId}",
                  "id": "privateca.projects.locations.reusableConfigs.get",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/reusableConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the ReusableConfigs to get."
                    }
                  },
                  "response": {
                    "$ref": "ReusableConfig"
                  },
                  "description": "Returns a ReusableConfig.",
                  "httpMethod": "GET"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "privateca.projects.locations.operations.get",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "id": "privateca.projects.locations.operations.delete",
                  "path": "v1beta1/{+name}"
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:cancel",
                  "id": "privateca.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
[...]
