{
  "id": "prod_tt_sasportal:v1alpha1",
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "revision": "20200210",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "SasPortalNode": {
      "description": "The Node.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name.",
          "type": "string"
        },
        "displayName": {
          "description": "The node's display name.",
          "type": "string"
        },
        "sasUserIds": {
          "description": "User ids used by the devices belonging to this node.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SasPortalNode"
    },
    "SasPortalValidateInstallerRequest": {
      "description": "Request for ValidateInstaller method.",
      "type": "object",
      "properties": {
        "installerId": {
          "description": "Required. Unique installer id (cpiId) from the Certified\nProfessional Installers database.",
          "type": "string"
        },
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret method.",
          "type": "string"
        },
        "encodedSecret": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload\nmust include a \"secret\" claim whose value is the secret.",
          "type": "string"
        }
      },
      "id": "SasPortalValidateInstallerRequest"
    },
    "SasPortalMoveNodeRequest": {
      "id": "SasPortalMoveNodeRequest",
      "description": "Request for MoveNode method.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or Customer) to reparent the node under.",
          "type": "string"
        }
      }
    },
    "SasPortalAssignment": {
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "members": {
          "description": "The identities the role is assigned to. It can have the following\nvalues:\n\n* `{user_email}`: An email address that represents a specific\n   Google account. For example: `alice@gmail.com`.\n\n* `{group_email}`: An email address that represents a Google\n   group.  For example, `viewers@gmail.com`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Required. Role that is assigned to `members`.",
          "type": "string"
        }
      },
      "id": "SasPortalAssignment"
    },
    "SasPortalListDevicesResponse": {
      "type": "object",
      "properties": {
        "devices": {
          "description": "The devices that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDevice"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListDevices method\nthat indicates from where listing should continue. If the field\nis missing or empty, it means there is no more devices."
        }
      },
      "id": "SasPortalListDevicesResponse",
      "description": "Response for ListDevices method."
    },
    "SasPortalValidateInstallerResponse": {
      "description": "Response for ValidateInstaller method]\n[spectrum.sas.portal.v1alpha1.DeviceManager.ValidateInstaller].",
      "type": "object",
      "properties": {},
      "id": "SasPortalValidateInstallerResponse"
    },
    "SasPortalGetPolicyRequest": {
      "description": "Request message for `GetPolicy` method.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the policy is being requested.",
          "type": "string"
        }
      },
      "id": "SasPortalGetPolicyRequest"
    },
    "SasPortalBulkCreateDeviceResponse": {
      "description": "Response for BulkCreateDevice method.",
      "type": "object",
      "properties": {
        "devices": {
          "description": "Required. The devices that were imported.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDevice"
          }
        }
      },
      "id": "SasPortalBulkCreateDeviceResponse"
    },
    "SasPortalStatus": {
      "id": "SasPortalStatus",
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        }
      }
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "type": "object",
      "properties": {
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional\nInstallers database.",
          "type": "string"
        },
        "encodedDevice": {
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload\nmust be the JSON encoding\nof the device.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "SasPortalUpdateSignedDeviceRequest",
      "description": "Request for UpdateSignedDevice method."
    },
    "SasPortalFrequencyRange": {
      "id": "SasPortalFrequencyRange",
      "description": "Frequency range from `low_frequency` to `high_frequency`.",
      "type": "object",
      "properties": {
        "highFrequencyMhz": {
          "type": "number",
          "description": "The highest frequency of the frequency range in MHz.",
          "format": "double"
        },
        "lowFrequencyMhz": {
          "type": "number",
          "description": "The lowest frequency of the frequency range in MHz.",
          "format": "double"
        }
      }
    },
    "SasPortalListNodesResponse": {
      "id": "SasPortalListNodesResponse",
      "description": "Response for ListNodes method.",
      "type": "object",
      "properties": {
        "nodes": {
          "description": "The nodes that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalNode"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to\nListNodes method\nthat indicates from where listing should continue. If the field is missing\nor empty, it means there is no more nodes.",
          "type": "string"
        }
      }
    },
    "SasPortalInstallationParams": {
      "type": "object",
      "properties": {
        "indoorDeployment": {
          "description": "Whether the device antenna is indoor or not. True: indoor. False:\noutdoor.",
          "type": "boolean"
        },
        "heightType": {
          "description": "Specifies how the height is measured.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ],
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ]
        },
        "antennaModel": {
          "description": "If an external antenna is used, the antenna model is optionally\nprovided in this field. The string has a maximum length of 128\noctets.",
          "type": "string"
        },
        "latitude": {
          "description": "Latitude of the device antenna location in degrees relative to\nthe WGS 84 datum. The allowed range is from -90.000000 to\n+90.000000. Positive values represent latitudes north of the\nequator; negative values south of the equator.",
          "format": "double",
          "type": "number"
        },
        "verticalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device\nantenna vertical location. This optional parameter should only be\npresent if its value is less than the FCC requirement of 3\nmeters.",
          "format": "double",
          "type": "number"
        },
        "antennaBeamwidth": {
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in\ndegrees.  This parameter is an unsigned integer having a value\nbetween 0 and 360 (degrees) inclusive; it is optional for\nCategory A devices and conditional for Category B devices.",
          "format": "int32",
          "type": "integer"
        },
        "antennaAzimuth": {
          "description": "Boresight direction of the horizontal plane of the antenna in\ndegrees with respect to true north. The value of this parameter\nis an integer with a value between 0 and 359 inclusive. A value\nof 0 degrees means true north; a value of 90 degrees means\neast. This parameter is optional for Category A devices and\nconditional for Category B devices.",
          "format": "int32",
          "type": "integer"
        },
        "horizontalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device\nantenna horizontal location. This optional parameter should only\nbe present if its value is less than the FCC requirement of 50\nmeters.",
          "format": "double",
          "type": "number"
        },
        "height": {
          "description": "Device antenna height in meters. When the heightType parameter\nvalue is \"AGL\", the antenna height should be given relative to\nground level. When the heightType parameter value is \"AMSL\", it\nis given with respect to WGS84 datum.",
          "format": "double",
          "type": "number"
        },
        "antennaGain": {
          "description": "Peak antenna gain in dBi. This parameter is an integer with a\nvalue between -127 and +128 (dBi) inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "eirpCapability": {
          "type": "integer",
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz\nand is an integer with a value between -127 and +47 (dBm/10 MHz)\ninclusive. If not included, SAS interprets it as maximum\nallowable EIRP in units of dBm/10MHz for device category.",
          "format": "int32"
        },
        "antennaDowntilt": {
          "description": "Antenna downtilt in degrees and is an integer with a value\nbetween -90 and +90 inclusive; a negative value means the antenna\nis tilted up (above horizontal). This parameter is optional for\nCategory A devices and conditional for Category B devices.",
          "format": "int32",
          "type": "integer"
        },
        "longitude": {
          "type": "number",
          "description": "Longitude of the device antenna location. in degrees relative to\nthe WGS 84 datum. The allowed range is from -180.000000 to\n+180.000000. Positive values represent longitudes east of the\nprime meridian; negative values west of the prime\nmeridian.",
          "format": "double"
        }
      },
      "id": "SasPortalInstallationParams",
      "description": "Information about the device installation parameters."
    },
    "SasPortalTestPermissionsResponse": {
      "description": "Response message for `TestPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A set of permissions that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SasPortalTestPermissionsResponse"
    },
    "SasPortalEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "SasPortalEmpty"
    },
    "SasPortalSetPolicyRequest": {
      "id": "SasPortalSetPolicyRequest",
      "description": "Request message for `SetPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "Required. The policy to be applied to the `resource`.",
          "$ref": "SasPortalPolicy"
        },
        "resource": {
          "description": "Required. The resource for which the policy is being specified. This policy\nreplaces any existing policy.",
          "type": "string"
        }
      }
    },
    "SasPortalDeviceModel": {
      "id": "SasPortalDeviceModel",
      "description": "Information about the model of the device.",
      "type": "object",
      "properties": {
        "vendor": {
          "description": "The name of the device vendor.",
          "type": "string"
        },
        "name": {
          "description": "The name of the device model.",
          "type": "string"
        },
        "softwareVersion": {
          "description": "The software version of the device.",
          "type": "string"
        },
        "hardwareVersion": {
          "description": "The hardware version of the device.",
          "type": "string"
        },
        "firmwareVersion": {
          "description": "The firmware version of the device.",
          "type": "string"
        }
      }
    },
    "SasPortalTestPermissionsRequest": {
      "description": "Request message for `TestPermissions` method.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the permissions are being requested.",
          "type": "string"
        },
        "permissions": {
          "description": "The set of permissions to check for the `resource`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SasPortalTestPermissionsRequest"
    },
    "SasPortalPolicy": {
      "description": "Defines an access control policy to the resources.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "The [etag] is used for optimistic concurrency control as a way to\nhelp prevent simultaneous updates of a policy from overwriting\neach other.  It is strongly suggested that systems make use of\nthe [etag] in the read-modify-write cycle to perform policy\nupdates in order to avoid race conditions: An [etag] is returned\nin the response to [GetPolicy], and systems are expected to put\nthat etag in the request to [SetPolicy] to ensure that their\nchange will be applied to the same version of the policy.\n\nIf no [etag] is provided in the call to [SetPolicy], then the\nexisting policy is overwritten blindly.",
          "format": "byte",
          "type": "string"
        },
        "assignments": {
          "type": "array",
          "items": {
            "$ref": "SasPortalAssignment"
          }
        }
      },
      "id": "SasPortalPolicy"
    },
    "SasPortalListCustomersResponse": {
      "description": "Response for `ListCustomers`.",
      "type": "object",
      "properties": {
        "customers": {
          "type": "array",
          "items": {
            "$ref": "SasPortalCustomer"
          },
          "description": "The list of customers that\nmatch the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListCustomers method that indicates from\nwhere listing should continue. If the field is missing or empty, it means\nthere are no more customers."
        }
      },
      "id": "SasPortalListCustomersResponse"
    },
    "SasPortalDeviceGrant": {
      "description": "Device grant. It is an authorization provided by the Spectrum\nAccess System to a device to transmit using specified operating\nparameters after a successful heartbeat by the device.",
      "type": "object",
      "properties": {
        "moveList": {
          "description": "The DPA move lists on which this grant appears.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDpaMoveList"
          }
        },
        "channelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ],
          "description": "Type of channel used.",
          "type": "string"
        },
        "frequencyRange": {
          "description": "The transmission frequency range.",
          "$ref": "SasPortalFrequencyRange"
        },
        "maxEirp": {
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted\nby the grant. The maximum EIRP is in units of dBm/MHz. The\nvalue of maxEirp represents the average (RMS) EIRP that would be\nmeasured by the procedure defined in FCC part 96.41(e)(3).",
          "format": "double",
          "type": "number"
        },
        "expireTime": {
          "description": "The expiration time of the grant.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ],
          "description": "State of the grant.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ]
        }
      },
      "id": "SasPortalDeviceGrant"
    },
    "SasPortalOperation": {
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "SasPortalStatus"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "SasPortalOperation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call."
    },
    "SasPortalBulkCreateDeviceRequest": {
      "description": "Request for BulkCreateDevice method.",
      "type": "object",
      "properties": {
        "csv": {
          "description": "Required. A csv with each row representing a [device]. Each row must\nconform to the regulations described on CreateDeviceRequest's device field.",
          "type": "string"
        }
      },
      "id": "SasPortalBulkCreateDeviceRequest"
    },
    "SasPortalGenerateSecretResponse": {
      "description": "Response for GenerateSecret method.",
      "type": "object",
      "properties": {
        "secret": {
          "description": "The secret generated by the string and used by\n[ValidateInstaller] method.",
          "type": "string"
        }
      },
      "id": "SasPortalGenerateSecretResponse"
    },
    "SasPortalSignDeviceRequest": {
      "id": "SasPortalSignDeviceRequest",
      "description": "Request for SignDevice method.",
      "type": "object",
      "properties": {
        "device": {
          "$ref": "SasPortalDevice",
          "description": "Required. The device to sign.\nThe device fields name, fcc_id and serial_number must be set."
        }
      }
    },
    "SasPortalDeviceAirInterface": {
      "description": "Information about the device's air interface.",
      "type": "object",
      "properties": {
        "radioTechnology": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS"
          ],
          "description": "This field specifies the radio access technology that is used for the CBSD.\n\nConditional"
        },
        "supportedSpec": {
          "description": "This field is related to the radioTechnology field and provides the air\ninterface specification that the CBSD is compliant with at the time of\nregistration.\n\nOptional",
          "type": "string"
        }
      },
      "id": "SasPortalDeviceAirInterface"
    },
    "SasPortalDpaMoveList": {
      "description": "An entry in a DPA's move list.",
      "type": "object",
      "properties": {
        "dpaId": {
          "description": "The ID of the DPA.",
          "type": "string"
        },
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The frequency range that the move list affects."
        }
      },
      "id": "SasPortalDpaMoveList"
    },
    "SasPortalCustomer": {
      "id": "SasPortalCustomer",
      "description": "Entity representing a SAS customer.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the customer.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Name of the organization that the customer entity represents."
        },
        "sasUserIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User IDs used by the devices belonging to this customer."
        }
      }
    },
    "SasPortalMoveDeviceRequest": {
      "id": "SasPortalMoveDeviceRequest",
      "description": "Request for MoveDevice method.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource (Node or Customer) to\nreparent the device under.",
          "type": "string"
        }
      }
    },
    "SasPortalDevice": {
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "A serial number assigned to the device by the device\nmanufacturer.",
          "type": "string"
        },
        "fccId": {
          "description": "The FCC identifier of the device.",
          "type": "string"
        },
        "grants": {
          "type": "array",
          "items": {
            "$ref": "SasPortalDeviceGrant"
          },
          "description": "Output only. Grants held by the device."
        },
        "displayName": {
          "description": "Device display name.",
          "type": "string"
        },
        "preloadedConfig": {
          "$ref": "SasPortalDeviceConfig",
          "description": "Configuration of the device, as specified via SAS Portal API."
        },
        "state": {
          "description": "Output only. Device state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered\nwith SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ]
        },
        "name": {
          "description": "Output only. The resource path name.",
          "type": "string"
        },
        "activeConfig": {
          "description": "Output only. Current configuration of the device as registered to the SAS.",
          "$ref": "SasPortalDeviceConfig"
        }
      },
      "id": "SasPortalDevice"
    },
    "SasPortalCreateSignedDeviceRequest": {
      "type": "object",
      "properties": {
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer id (cpiId) from the Certified Professional\nInstallers database."
        },
        "encodedDevice": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload\nmust be the JSON encoding of the [Device].",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "SasPortalCreateSignedDeviceRequest",
      "description": "Request for CreateSignedDevice method."
    },
    "SasPortalGenerateSecretRequest": {
      "type": "object",
      "properties": {},
      "id": "SasPortalGenerateSecretRequest",
      "description": "Request for GenerateSecret method]\n[spectrum.sas.portal.v1alpha1.DeviceManager.GenerateSecret]."
    },
    "SasPortalDeviceConfig": {
      "id": "SasPortalDeviceConfig",
      "description": "Information about the device configuration.",
      "type": "object",
      "properties": {
        "isSigned": {
          "description": "Output-only. Whether the configuration has been signed by a CPI.",
          "type": "boolean"
        },
        "measurementCapabilities": {
          "description": "Measurement reporting capabilities of the device.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ]
          },
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "updateTime": {
          "description": "Output-only. The last time the device configuration was edited.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "State of the configuration.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ]
        },
        "userId": {
          "description": "Output only. The identifier of a device user.",
          "type": "string"
        },
        "callSign": {
          "description": "The call sign of the device operator.",
          "type": "string"
        },
        "installationParams": {
          "description": "Installation parameters for the device.",
          "$ref": "SasPortalInstallationParams"
        },
        "model": {
          "$ref": "SasPortalDeviceModel",
          "description": "Information about this device model."
        },
        "category": {
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ],
          "description": "FCC category of the device.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ]
        },
        "airInterface": {
          "description": "Information about this device's air interface.",
          "$ref": "SasPortalDeviceAirInterface"
        }
      }
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "SAS Portal Testing",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "View your email address"
        }
      }
    }
  },
  "rootUrl": "https://prod-tt-sasportal.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "prod_tt_sasportal",
  "mtlsRootUrl": "https://prod-tt-sasportal.mtls.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "title": "SAS Portal API (Testing)",
  "ownerName": "Google",
  "resources": {
    "nodes": {
      "resources": {
        "devices": {
          "methods": {
            "bulk": {
              "path": "v1alpha1/{+parent}/devices:bulk",
              "id": "prod_tt_sasportal.nodes.devices.bulk",
              "request": {
                "$ref": "SasPortalBulkCreateDeviceRequest"
              },
              "description": "Creates a device under a node or customer. Returned devices are unordered.",
              "response": {
                "$ref": "SasPortalBulkCreateDeviceResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the parent resource.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices:bulk"
            },
            "patch": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "path": "v1alpha1/{+name}",
              "id": "prod_tt_sasportal.nodes.devices.patch",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "description": "Updates a device."
            },
            "get": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device."
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "path": "v1alpha1/{+name}",
              "id": "prod_tt_sasportal.nodes.devices.get",
              "description": "Gets details about a device."
            },
            "signDevice": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:signDevice",
              "id": "prod_tt_sasportal.nodes.devices.signDevice",
              "path": "v1alpha1/{+name}:signDevice",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "description": "Signs a device."
            },
            "move": {
              "response": {
                "$ref": "SasPortalOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the device to move.",
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:move",
              "path": "v1alpha1/{+name}:move",
              "id": "prod_tt_sasportal.nodes.devices.move",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "description": "Moves a device under another node or customer."
            },
            "delete": {
              "description": "Deletes a device.",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "path": "v1alpha1/{+name}",
              "id": "prod_tt_sasportal.nodes.devices.delete"
            },
            "createSigned": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the parent resource."
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices:createSigned",
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "id": "prod_tt_sasportal.nodes.devices.createSigned",
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "description": "Creates a signed device under a\nnode or customer."
            },
            "list": {
              "description": "Lists devices under a node or customer.",
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDevices\nthat indicates where this listing should continue from.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of devices to return in the response.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The name of the parent resource.",
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression. The filter should have one of the following\nformats: \"sn=123454\" or \"display_name=MyDevice\". sn\ncorresponds to serial_number of the device. The filter is case insensitive."
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "path": "v1alpha1/{+parent}/devices",
              "id": "prod_tt_sasportal.nodes.devices.list"
            },
            "create": {
              "request": {
                "$ref": "SasPortalDevice"
              },
              "description": "Creates a device under a node or customer.",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the parent resource.",
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "path": "v1alpha1/{+parent}/devices",
              "id": "prod_tt_sasportal.nodes.devices.create"
            },
            "updateSigned": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the device to update.",
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:updateSigned",
              "path": "v1alpha1/{+name}:updateSigned",
              "id": "prod_tt_sasportal.nodes.devices.updateSigned",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "description": "Updates a signed device."
            }
          }
        },
        "nodes": {
          "methods": {
            "delete": {
              "description": "Deletes a node.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the node.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "id": "prod_tt_sasportal.nodes.nodes.delete",
              "path": "v1alpha1/{+name}"
            },
            "list": {
              "description": "Lists nodes.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListNodes method\nthat indicates where this listing should continue from."
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of nodes to return in the response.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "id": "prod_tt_sasportal.nodes.nodes.list",
              "path": "v1alpha1/{+parent}/nodes"
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the node is to be created.",
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "id": "prod_tt_sasportal.nodes.nodes.create",
              "path": "v1alpha1/{+parent}/nodes",
              "description": "Creates a new node.",
              "request": {
                "$ref": "SasPortalNode"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "description": "Output only. Resource name."
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "id": "prod_tt_sasportal.nodes.nodes.patch",
              "path": "v1alpha1/{+name}",
              "description": "Updates an existing node.",
              "request": {
                "$ref": "SasPortalNode"
              }
            },
            "get": {
              "description": "Returns a requested node.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalNode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the node."
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "id": "prod_tt_sasportal.nodes.nodes.get",
              "path": "v1alpha1/{+name}"
            },
            "move": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the node to\nmove.",
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}:move",
              "id": "prod_tt_sasportal.nodes.nodes.move",
              "path": "v1alpha1/{+name}:move",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "description": "Moves a node under another node or customer."
            }
          }
        }
      }
    },
    "customers": {
      "methods": {
        "get": {
          "description": "Returns a requested customer.",
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^customers/[^/]+$",
              "location": "path",
              "description": "Required. The name of the customer."
            }
          },
          "flatPath": "v1alpha1/customers/{customersId}",
          "path": "v1alpha1/{+name}",
          "id": "prod_tt_sasportal.customers.get"
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "A pagination token returned from a previous call to ListCustomers method that indicates where\nthis listing should continue from.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of customers\nto return in the response.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "flatPath": "v1alpha1/customers",
          "id": "prod_tt_sasportal.customers.list",
          "path": "v1alpha1/customers",
          "description": "Returns a list of requested customers."
        },
        "patch": {
          "id": "prod_tt_sasportal.customers.patch",
          "path": "v1alpha1/{+name}",
          "description": "Updates an existing customer.",
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "parameters": {
            "name": {
              "pattern": "^customers/[^/]+$",
              "location": "path",
              "description": "Output only. Resource name of the customer.",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Fields to be updated.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "flatPath": "v1alpha1/customers/{customersId}"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "patch": {
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "path": "v1alpha1/{+name}",
              "id": "prod_tt_sasportal.customers.devices.patch",
              "description": "Updates a device.",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH"
            },
            "get": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the device.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "path": "v1alpha1/{+name}",
              "id": "prod_tt_sasportal.customers.devices.get",
              "description": "Gets details about a device."
            },
            "signDevice": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Output only. The resource path name."
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
              "path": "v1alpha1/{+name}:signDevice",
              "id": "prod_tt_sasportal.customers.devices.signDevice",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "description": "Signs a device."
            },
            "move": {
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "description": "Moves a device under another node or customer.",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device to move.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move",
              "path": "v1alpha1/{+name}:move",
              "id": "prod_tt_sasportal.customers.devices.move"
            },
            "delete": {
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "path": "v1alpha1/{+name}",
              "id": "prod_tt_sasportal.customers.devices.delete",
              "description": "Deletes a device.",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "createSigned": {
              "description": "Creates a signed device under a\nnode or customer.",
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the parent resource.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "id": "prod_tt_sasportal.customers.devices.createSigned"
            },
            "list": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the parent resource.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have one of the following\nformats: \"sn=123454\" or \"display_name=MyDevice\". sn\ncorresponds to serial_number of the device. The filter is case insensitive.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDevices\nthat indicates where this listing should continue from.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of devices to return in the response.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "path": "v1alpha1/{+parent}/devices",
              "id": "prod_tt_sasportal.customers.devices.list",
              "description": "Lists devices under a node or customer.",
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "updateSigned": {
              "description": "Updates a signed device.",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to update.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned",
              "id": "prod_tt_sasportal.customers.devices.updateSigned",
              "path": "v1alpha1/{+name}:updateSigned"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the parent resource."
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "path": "v1alpha1/{+parent}/devices",
              "id": "prod_tt_sasportal.customers.devices.create",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "description": "Creates a device under a node or customer.",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "bulk": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalBulkCreateDeviceResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the parent resource.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices:bulk",
              "id": "prod_tt_sasportal.customers.devices.bulk",
              "path": "v1alpha1/{+parent}/devices:bulk",
              "description": "Creates a device under a node or customer. Returned devices are unordered.",
              "request": {
                "$ref": "SasPortalBulkCreateDeviceRequest"
              }
            }
          }
        },
        "nodes": {
          "methods": {
            "list": {
              "description": "Lists nodes.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListNodes method\nthat indicates where this listing should continue from.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of nodes to return in the response.",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "id": "prod_tt_sasportal.customers.nodes.list",
              "path": "v1alpha1/{+parent}/nodes"
            },
            "create": {
              "request": {
                "$ref": "SasPortalNode"
              },
              "description": "Creates a new node.",
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource name where the node is to be created.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "path": "v1alpha1/{+parent}/nodes",
              "id": "prod_tt_sasportal.customers.nodes.create"
            },
            "patch": {
              "description": "Updates an existing node.",
              "request": {
                "$ref": "SasPortalNode"
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Output only. Resource name.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "path": "v1alpha1/{+name}",
              "id": "prod_tt_sasportal.customers.nodes.patch"
            },
            "get": {
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the node.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "path": "v1alpha1/{+name}",
              "id": "prod_tt_sasportal.customers.nodes.get",
              "description": "Returns a requested node."
            },
            "move": {
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "description": "Moves a node under another node or customer.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the node to\nmove."
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "id": "prod_tt_sasportal.customers.nodes.move",
              "path": "v1alpha1/{+name}:move"
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "id": "prod_tt_sasportal.customers.nodes.delete",
              "description": "Deletes a node.",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the node.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}"
            }
          }
        }
      }
    },
    "policies": {
      "methods": {
        "test": {
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "parameters": {},
          "flatPath": "v1alpha1/policies:test",
          "id": "prod_tt_sasportal.policies.test",
          "path": "v1alpha1/policies:test",
          "request": {
            "$ref": "SasPortalTestPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalTestPermissionsResponse"
          }
        },
        "set": {
          "flatPath": "v1alpha1/policies:set",
          "path": "v1alpha1/policies:set",
          "id": "prod_tt_sasportal.policies.set",
          "request": {
            "$ref": "SasPortalSetPolicyRequest"
          },
          "description": "Sets the access control policy on the specified resource. Replaces any\nexisting policy.",
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "parameters": {}
        },
        "get": {
          "description": "Gets the access control policy for a resource.\nReturns an empty policy if the resource exists and does not have a policy\nset.",
          "request": {
            "$ref": "SasPortalGetPolicyRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "flatPath": "v1alpha1/policies:get",
          "id": "prod_tt_sasportal.policies.get",
          "path": "v1alpha1/policies:get"
        }
      }
    },
    "installer": {
      "methods": {
        "validate": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalValidateInstallerResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "flatPath": "v1alpha1/installer:validate",
          "id": "prod_tt_sasportal.installer.validate",
          "path": "v1alpha1/installer:validate",
          "description": "Validates the identity of a Certified Professional Installer (CPI).",
          "request": {
            "$ref": "SasPortalValidateInstallerRequest"
          }
        },
        "generateSecret": {
          "response": {
            "$ref": "SasPortalGenerateSecretResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "parameters": {},
          "flatPath": "v1alpha1/installer:generateSecret",
          "path": "v1alpha1/installer:generateSecret",
          "id": "prod_tt_sasportal.installer.generateSecret",
          "request": {
            "$ref": "SasPortalGenerateSecretRequest"
          },
          "description": "Generates a secret to be used with the ValidateInstaller method"
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v1alpha1",
  "baseUrl": "https://prod-tt-sasportal.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "",
  "servicePath": "",
  "basePath": ""
}
