{
  "servicePath": "",
  "title": "Cloud Pub/Sub API",
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "baseUrl": "https://pubsub.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "ownerName": "Google",
  "id": "pubsub:v1",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "schemas": {
          "methods": {
            "setIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:setIamPolicy",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$"
                }
              },
              "path": "v1/{+resource}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "response": {
                "$ref": "Policy"
              },
              "id": "pubsub.projects.schemas.setIamPolicy"
            },
            "delete": {
              "description": "Deletes a schema.",
              "id": "pubsub.projects.schemas.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the schema to delete. Format is `projects/{project}/schemas/{schema}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              }
            },
            "deleteRevision": {
              "parameters": {
                "revisionId": {
                  "location": "query",
                  "description": "Required. The revision ID to roll back to. It must be a revision of the same schema. Example: c7cfa2a8",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the schema revision to be deleted, with a revision ID explicitly included. Example: projects/123/schemas/my-schema@c7cfa2a8",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}:deleteRevision",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:deleteRevision",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a specific schema revision.",
              "id": "pubsub.projects.schemas.deleteRevision",
              "response": {
                "$ref": "Schema"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "commit": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+name}:commit",
              "httpMethod": "POST",
              "description": "Commits a new schema revision to an existing schema.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the schema we are revising. Format is `projects/{project}/schemas/{schema}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/schemas/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:commit",
              "request": {
                "$ref": "CommitSchemaRequest"
              },
              "id": "pubsub.projects.schemas.commit",
              "response": {
                "$ref": "Schema"
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project in which to list schemas. Format is `projects/{project-id}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListSchemasResponse`; indicates that this is a continuation of a prior `ListSchemas` call, and that the system should return the next page of data.",
                  "type": "string"
                },
                "view": {
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ],
                  "description": "The set of Schema fields to return in the response. If not set, returns Schemas with `name` and `type`, but not `definition`. Set to `FULL` to retrieve all fields.",
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ]
                },
                "pageSize": {
                  "description": "Maximum number of schemas to return.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListSchemasResponse"
              },
              "id": "pubsub.projects.schemas.list",
              "path": "v1/{+parent}/schemas",
              "flatPath": "v1/projects/{projectsId}/schemas",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists schemas in a project.",
              "httpMethod": "GET"
            },
            "get": {
              "parameters": {
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ],
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "description": "The set of fields to return in the response. If not set, returns a Schema with all fields filled out. Set to `BASIC` to omit the `definition`.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the schema to get. Format is `projects/{project}/schemas/{schema}`.",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}",
              "id": "pubsub.projects.schemas.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Gets a schema.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Schema"
              }
            },
            "getIamPolicy": {
              "id": "pubsub.projects.schemas.getIamPolicy",
              "httpMethod": "GET",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "path": "v1/{+resource}:getIamPolicy",
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                },
                "options.requestedPolicyVersion": {
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "create": {
              "path": "v1/{+parent}/schemas",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the project in which to create the schema. Format is `projects/{project-id}`.",
                  "pattern": "^projects/[^/]+$"
                },
                "schemaId": {
                  "location": "query",
                  "description": "The ID to use for the schema, which will become the final component of the schema's resource name. See https://cloud.google.com/pubsub/docs/admin#resource_names for resource name constraints.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Schema"
              },
              "httpMethod": "POST",
              "description": "Creates a schema.",
              "id": "pubsub.projects.schemas.create",
              "request": {
                "$ref": "Schema"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/schemas"
            },
            "testIamPermissions": {
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:testIamPermissions",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+resource}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "id": "pubsub.projects.schemas.testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ]
            },
            "validate": {
              "parameterOrder": [
                "parent"
              ],
              "id": "pubsub.projects.schemas.validate",
              "path": "v1/{+parent}/schemas:validate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Validates a schema.",
              "response": {
                "$ref": "ValidateSchemaResponse"
              },
              "flatPath": "v1/projects/{projectsId}/schemas:validate",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the project in which to validate schemas. Format is `projects/{project-id}`.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ValidateSchemaRequest"
              }
            },
            "rollback": {
              "description": "Creates a new schema revision that is a copy of the provided revision_id.",
              "id": "pubsub.projects.schemas.rollback",
              "httpMethod": "POST",
              "request": {
                "$ref": "RollbackSchemaRequest"
              },
              "response": {
                "$ref": "Schema"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:rollback",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:rollback",
              "parameters": {
                "name": {
                  "description": "Required. The schema being rolled back with revision id.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$"
                }
              }
            },
            "validateMessage": {
              "response": {
                "$ref": "ValidateMessageResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the project in which to validate schemas. Format is `projects/{project-id}`.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/schemas:validateMessage",
              "id": "pubsub.projects.schemas.validateMessage",
              "description": "Validates a message against a schema.",
              "flatPath": "v1/projects/{projectsId}/schemas:validateMessage",
              "request": {
                "$ref": "ValidateMessageRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "listRevisions": {
              "description": "Lists all schema revisions for the named schema.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "ListSchemaRevisionsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:listRevisions",
              "path": "v1/{+name}:listRevisions",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "view": {
                  "description": "The set of Schema fields to return in the response. If not set, returns Schemas with `name` and `type`, but not `definition`. Set to `FULL` to retrieve all fields.",
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ],
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of revisions to return per page.",
                  "type": "integer"
                },
                "name": {
                  "description": "Required. The name of the schema to list revisions for.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token, received from a previous ListSchemaRevisions call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                }
              },
              "id": "pubsub.projects.schemas.listRevisions"
            }
          }
        },
        "topics": {
          "methods": {
            "testIamPermissions": {
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.topics.testIamPermissions",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/topics/[^/]+$"
                }
              },
              "path": "v1/{+resource}:testIamPermissions"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The value returned by the last `ListTopicsResponse`; indicates that this is a continuation of a prior `ListTopics` call, and that the system should return the next page of data."
                },
                "project": {
                  "description": "Required. The name of the project in which to list topics. Format is `projects/{project-id}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of topics to return.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "v1/{+project}/topics",
              "description": "Lists matching topics.",
              "parameterOrder": [
                "project"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/topics",
              "response": {
                "$ref": "ListTopicsResponse"
              },
              "id": "pubsub.projects.topics.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "create": {
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "id": "pubsub.projects.topics.create",
              "request": {
                "$ref": "Topic"
              },
              "httpMethod": "PUT",
              "description": "Creates the given topic with the given name. See the [resource name rules] (https://cloud.google.com/pubsub/docs/admin#resource_names).",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the topic. It must have the format `\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Topic"
              }
            },
            "publish": {
              "request": {
                "$ref": "PublishRequest"
              },
              "parameters": {
                "topic": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "description": "Required. The messages in the request will be published on this topic. Format is `projects/{project}/topics/{topic}`."
                }
              },
              "id": "pubsub.projects.topics.publish",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "PublishResponse"
              },
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:publish",
              "description": "Adds one or more messages to the topic. Returns `NOT_FOUND` if the topic does not exist.",
              "parameterOrder": [
                "topic"
              ],
              "path": "v1/{+topic}:publish"
            },
            "get": {
              "description": "Gets the configuration of a topic.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Topic"
              },
              "parameterOrder": [
                "topic"
              ],
              "parameters": {
                "topic": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the topic to get. Format is `projects/{project}/topics/{topic}`.",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "id": "pubsub.projects.topics.get",
              "path": "v1/{+topic}"
            },
            "getIamPolicy": {
              "httpMethod": "GET",
              "parameters": {
                "resource": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                },
                "options.requestedPolicyVersion": {
                  "location": "query",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "path": "v1/{+resource}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "resource"
              ],
              "id": "pubsub.projects.topics.getIamPolicy",
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
            },
            "patch": {
              "httpMethod": "PATCH",
              "description": "Updates an existing topic. Note that certain properties of a topic are not modifiable.",
              "id": "pubsub.projects.topics.patch",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the topic. It must have the format `\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "path": "v1/{+name}",
              "request": {
                "$ref": "UpdateTopicRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Topic"
              }
            },
            "setIamPolicy": {
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "path": "v1/{+resource}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "id": "pubsub.projects.topics.setIamPolicy",
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              }
            },
            "delete": {
              "parameters": {
                "topic": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "description": "Required. Name of the topic to delete. Format is `projects/{project}/topics/{topic}`.",
                  "type": "string"
                }
              },
              "description": "Deletes the topic with the given name. Returns `NOT_FOUND` if the topic does not exist. After a topic is deleted, a new topic may be created with the same name; this is an entirely new topic with none of the old configuration or subscriptions. Existing subscriptions to this topic are not deleted, but their `topic` field is set to `_deleted-topic_`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+topic}",
              "parameterOrder": [
                "topic"
              ],
              "id": "pubsub.projects.topics.delete",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE"
            }
          },
          "resources": {
            "subscriptions": {
              "methods": {
                "list": {
                  "description": "Lists the names of the attached subscriptions on this topic.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/pubsub"
                  ],
                  "response": {
                    "$ref": "ListTopicSubscriptionsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "The value returned by the last `ListTopicSubscriptionsResponse`; indicates that this is a continuation of a prior `ListTopicSubscriptions` call, and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of subscription names to return."
                    },
                    "topic": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/topics/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the topic that subscriptions are attached to. Format is `projects/{project}/topics/{topic}`.",
                      "required": true
                    }
                  },
                  "path": "v1/{+topic}/subscriptions",
                  "parameterOrder": [
                    "topic"
                  ],
                  "flatPath": "v1/projects/{projectsId}/topics/{topicsId}/subscriptions",
                  "httpMethod": "GET",
                  "id": "pubsub.projects.topics.subscriptions.list"
                }
              }
            },
            "snapshots": {
              "methods": {
                "list": {
                  "id": "pubsub.projects.topics.snapshots.list",
                  "parameterOrder": [
                    "topic"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the names of the snapshots on this topic. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
                  "parameters": {
                    "topic": {
                      "pattern": "^projects/[^/]+/topics/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the topic that snapshots are attached to. Format is `projects/{project}/topics/{topic}`.",
                      "required": true
                    },
                    "pageToken": {
                      "description": "The value returned by the last `ListTopicSnapshotsResponse`; indicates that this is a continuation of a prior `ListTopicSnapshots` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Maximum number of snapshot names to return.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "path": "v1/{+topic}/snapshots",
                  "response": {
                    "$ref": "ListTopicSnapshotsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/topics/{topicsId}/snapshots",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/pubsub"
                  ]
                }
              }
            }
          }
        },
        "subscriptions": {
          "methods": {
            "patch": {
              "description": "Updates an existing subscription. Note that certain properties of a subscription, such as its topic, are not modifiable.",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "id": "pubsub.projects.subscriptions.patch",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Subscription"
              },
              "request": {
                "$ref": "UpdateSubscriptionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "testIamPermissions": {
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "resource"
              ],
              "path": "v1/{+resource}:testIamPermissions",
              "id": "pubsub.projects.subscriptions.testIamPermissions",
              "httpMethod": "POST"
            },
            "pull": {
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:pull",
              "description": "Pulls messages from the server.",
              "path": "v1/{+subscription}:pull",
              "response": {
                "$ref": "PullResponse"
              },
              "parameterOrder": [
                "subscription"
              ],
              "request": {
                "$ref": "PullRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "subscription": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The subscription from which messages should be pulled. Format is `projects/{project}/subscriptions/{sub}`.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.subscriptions.pull"
            },
            "detach": {
              "path": "v1/{+subscription}:detach",
              "description": "Detaches a subscription from this topic. All messages retained in the subscription are dropped. Subsequent `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will stop.",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:detach",
              "id": "pubsub.projects.subscriptions.detach",
              "httpMethod": "POST",
              "response": {
                "$ref": "DetachSubscriptionResponse"
              },
              "parameters": {
                "subscription": {
                  "type": "string",
                  "description": "Required. The subscription to detach. Format is `projects/{project}/subscriptions/{subscription}`.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "subscription"
              ]
            },
            "acknowledge": {
              "httpMethod": "POST",
              "request": {
                "$ref": "AcknowledgeRequest"
              },
              "description": "Acknowledges the messages associated with the `ack_ids` in the `AcknowledgeRequest`. The Pub/Sub system can remove the relevant messages from the subscription. Acknowledging a message whose ack deadline has expired may succeed, but such a message may be redelivered later. Acknowledging a message more than once will not result in an error.",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:acknowledge",
              "parameters": {
                "subscription": {
                  "location": "path",
                  "description": "Required. The subscription whose message is being acknowledged. Format is `projects/{project}/subscriptions/{sub}`.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "subscription"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+subscription}:acknowledge",
              "id": "pubsub.projects.subscriptions.acknowledge"
            },
            "modifyPushConfig": {
              "request": {
                "$ref": "ModifyPushConfigRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+subscription}:modifyPushConfig",
              "parameters": {
                "subscription": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription. Format is `projects/{project}/subscriptions/{sub}`."
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyPushConfig",
              "response": {
                "$ref": "Empty"
              },
              "id": "pubsub.projects.subscriptions.modifyPushConfig",
              "description": "Modifies the `PushConfig` for a specified subscription. This may be used to change a push subscription to a pull one (signified by an empty `PushConfig`) or vice versa, or change the endpoint URL and other attributes of a push subscription. Messages will accumulate for delivery continuously through the call regardless of changes to the `PushConfig`.",
              "parameterOrder": [
                "subscription"
              ]
            },
            "modifyAckDeadline": {
              "parameterOrder": [
                "subscription"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.subscriptions.modifyAckDeadline",
              "request": {
                "$ref": "ModifyAckDeadlineRequest"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyAckDeadline",
              "httpMethod": "POST",
              "description": "Modifies the ack deadline for a specific message. This method is useful to indicate that more time is needed to process a message by the subscriber, or to make the message available for redelivery if the processing was interrupted. Note that this does not modify the subscription-level `ackDeadlineSeconds` used for subsequent messages.",
              "path": "v1/{+subscription}:modifyAckDeadline",
              "parameters": {
                "subscription": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the subscription. Format is `projects/{project}/subscriptions/{sub}`."
                }
              }
            },
            "delete": {
              "path": "v1/{+subscription}",
              "httpMethod": "DELETE",
              "id": "pubsub.projects.subscriptions.delete",
              "parameterOrder": [
                "subscription"
              ],
              "description": "Deletes an existing subscription. All messages retained in the subscription are immediately dropped. Calls to `Pull` after deletion will return `NOT_FOUND`. After a subscription is deleted, a new one may be created with the same name, but the new one has no association with the old subscription or its topic unless the same topic is specified.",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "parameters": {
                "subscription": {
                  "type": "string",
                  "description": "Required. The subscription to delete. Format is `projects/{project}/subscriptions/{sub}`.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "description": "Gets the configuration details of a subscription.",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+subscription}",
              "parameterOrder": [
                "subscription"
              ],
              "parameters": {
                "subscription": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the subscription to get. Format is `projects/{project}/subscriptions/{sub}`."
                }
              },
              "httpMethod": "GET",
              "id": "pubsub.projects.subscriptions.get",
              "response": {
                "$ref": "Subscription"
              }
            },
            "setIamPolicy": {
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "path": "v1/{+resource}:setIamPolicy",
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.subscriptions.setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:setIamPolicy",
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListSubscriptionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/subscriptions",
              "parameters": {
                "project": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the project in which to list subscriptions. Format is `projects/{project-id}`."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The value returned by the last `ListSubscriptionsResponse`; indicates that this is a continuation of a prior `ListSubscriptions` call, and that the system should return the next page of data."
                },
                "pageSize": {
                  "description": "Maximum number of subscriptions to return.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "description": "Lists matching subscriptions.",
              "parameterOrder": [
                "project"
              ],
              "id": "pubsub.projects.subscriptions.list",
              "path": "v1/{+project}/subscriptions"
            },
            "seek": {
              "request": {
                "$ref": "SeekRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Seeks an existing subscription to a point in time or to a given snapshot, whichever is provided in the request. Snapshots are used in [Seek] (https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot. Note that both the subscription and the snapshot must be on the same topic.",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:seek",
              "parameters": {
                "subscription": {
                  "type": "string",
                  "description": "Required. The subscription to affect.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+subscription}:seek",
              "id": "pubsub.projects.subscriptions.seek",
              "response": {
                "$ref": "SeekResponse"
              },
              "parameterOrder": [
                "subscription"
              ]
            },
            "getIamPolicy": {
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                },
                "options.requestedPolicyVersion": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "type": "integer"
                }
              },
              "path": "v1/{+resource}:getIamPolicy",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:getIamPolicy",
              "id": "pubsub.projects.subscriptions.getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "resource"
              ],
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
            },
            "create": {
              "request": {
                "$ref": "Subscription"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                }
              },
              "id": "pubsub.projects.subscriptions.create",
              "httpMethod": "PUT",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "description": "Creates a subscription to a given topic. See the [resource name rules] (https://cloud.google.com/pubsub/docs/admin#resource_names). If the subscription already exists, returns `ALREADY_EXISTS`. If the corresponding topic doesn't exist, returns `NOT_FOUND`. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic, conforming to the [resource name format] (https://cloud.google.com/pubsub/docs/admin#resource_names). The generated name is populated in the returned Subscription object. Note that for REST API requests, you must specify a name in the request.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Subscription"
              },
              "path": "v1/{+name}"
            }
          }
        },
        "snapshots": {
          "methods": {
            "create": {
              "path": "v1/{+name}",
              "description": "Creates a snapshot from the requested subscription. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot. If the snapshot already exists, returns `ALREADY_EXISTS`. If the requested subscription doesn't exist, returns `NOT_FOUND`. If the backlog in the subscription is too old -- and the resulting snapshot would expire in less than 1 hour -- then `FAILED_PRECONDITION` is returned. See also the `Snapshot.expire_time` field. If the name is not provided in the request, the server will assign a random name for this snapshot on the same project as the subscription, conforming to the [resource name format] (https://cloud.google.com/pubsub/docs/admin#resource_names). The generated name is populated in the returned Snapshot object. Note that for REST API requests, you must specify a name in the request.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CreateSnapshotRequest"
              },
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. User-provided name for this snapshot. If the name is not provided in the request, the server will assign a random name for this snapshot on the same project as the subscription. Note that for REST API requests, you must specify a name. See the [resource name rules](https://cloud.google.com/pubsub/docs/admin#resource_names). Format is `projects/{project}/snapshots/{snap}`.",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "pubsub.projects.snapshots.create",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Snapshot"
              }
            },
            "patch": {
              "request": {
                "$ref": "UpdateSnapshotRequest"
              },
              "response": {
                "$ref": "Snapshot"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "parameters": {
                "name": {
                  "description": "The name of the snapshot.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Updates an existing snapshot. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "id": "pubsub.projects.snapshots.patch"
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Removes an existing snapshot. Snapshots are used in [Seek] (https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot. When the snapshot is deleted, all messages retained in the snapshot are immediately dropped. After a snapshot is deleted, a new one may be created with the same name, but the new one has no association with the old snapshot or its subscription, unless the same subscription is specified.",
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "snapshot": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the snapshot to delete. Format is `projects/{project}/snapshots/{snap}`.",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+snapshot}",
              "id": "pubsub.projects.snapshots.delete",
              "parameterOrder": [
                "snapshot"
              ]
            },
            "setIamPolicy": {
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "httpMethod": "POST",
              "path": "v1/{+resource}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "id": "pubsub.projects.snapshots.setIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              }
            },
            "testIamPermissions": {
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "id": "pubsub.projects.snapshots.testIamPermissions",
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:testIamPermissions",
              "path": "v1/{+resource}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "getIamPolicy": {
              "path": "v1/{+resource}:getIamPolicy",
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true
                },
                "options.requestedPolicyVersion": {
                  "type": "integer",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "format": "int32",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "id": "pubsub.projects.snapshots.getIamPolicy",
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "resource"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListSnapshotsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of snapshots to return."
                },
                "pageToken": {
                  "type": "string",
                  "description": "The value returned by the last `ListSnapshotsResponse`; indicates that this is a continuation of a prior `ListSnapshots` call, and that the system should return the next page of data.",
                  "location": "query"
                },
                "project": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the project in which to list snapshots. Format is `projects/{project-id}`.",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/snapshots",
              "parameterOrder": [
                "project"
              ],
              "id": "pubsub.projects.snapshots.list",
              "description": "Lists the existing snapshots. Snapshots are used in [Seek]( https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
              "path": "v1/{+project}/snapshots",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "get": {
              "parameters": {
                "snapshot": {
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the snapshot to get. Format is `projects/{project}/snapshots/{snap}`."
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Snapshot"
              },
              "description": "Gets the configuration details of a snapshot. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
              "path": "v1/{+snapshot}",
              "id": "pubsub.projects.snapshots.get",
              "parameterOrder": [
                "snapshot"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}"
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "basePath": "",
  "ownerDomain": "google.com",
  "version": "v1",
  "batchPath": "batch",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "schemas": {
    "ListTopicSnapshotsResponse": {
      "type": "object",
      "id": "ListTopicSnapshotsResponse",
      "description": "Response for the `ListTopicSnapshots` method.",
      "properties": {
        "snapshots": {
          "type": "array",
          "description": "The names of the snapshots that match the request.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more snapshots that match the request; this value should be passed in a new `ListTopicSnapshotsRequest` to get more snapshots.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "type": "object"
    },
    "OidcToken": {
      "description": "Contains information needed for generating an [OpenID Connect token](https://developers.google.com/identity/protocols/OpenIDConnect). [Service account email](https://cloud.google.com/iam/docs/service-accounts) used for generating the OIDC token. For more information on setting up authentication, see [Push subscriptions](https://cloud.google.com/pubsub/docs/push).",
      "type": "object",
      "properties": {
        "serviceAccountEmail": {
          "type": "string"
        },
        "audience": {
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for. The audience value is a single case-sensitive string. Having multiple values (array) for the audience field is not supported. More info about the OIDC JWT token audience here: https://tools.ietf.org/html/rfc7519#section-4.1.3 Note: if not specified, the Push endpoint URL will be used.",
          "type": "string"
        }
      },
      "id": "OidcToken"
    },
    "ValidateSchemaResponse": {
      "id": "ValidateSchemaResponse",
      "description": "Response for the `ValidateSchema` method. Empty for now.",
      "properties": {},
      "type": "object"
    },
    "CommitSchemaRequest": {
      "properties": {
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema revision to commit."
        }
      },
      "id": "CommitSchemaRequest",
      "type": "object",
      "description": "Request for CommitSchema method."
    },
    "SeekResponse": {
      "id": "SeekResponse",
      "description": "Response for the `Seek` method (this response is empty).",
      "properties": {},
      "type": "object"
    },
    "Snapshot": {
      "type": "object",
      "description": "A snapshot resource. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
      "id": "Snapshot",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "The snapshot is guaranteed to exist up until this time. A newly-created snapshot expires no later than 7 days from the time of its creation. Its exact lifetime is determined at creation by the existing backlog in the source subscription. Specifically, the lifetime of the snapshot is `7 days - (age of oldest unacked message in the subscription)`. For example, consider a subscription whose oldest unacked message is 3 days old. If a snapshot is created from this subscription, the snapshot -- which will always capture this 3-day-old backlog as long as the snapshot exists -- will expire in 4 days. The service will refuse to create a snapshot that would expire in less than 1 hour after creation.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "See [Creating and managing labels] (https://cloud.google.com/pubsub/docs/labels).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "The name of the snapshot.",
          "type": "string"
        },
        "topic": {
          "description": "The name of the topic from which this snapshot is retaining messages.",
          "type": "string"
        }
      }
    },
    "Topic": {
      "description": "A topic resource.",
      "id": "Topic",
      "properties": {
        "messageRetentionDuration": {
          "description": "Indicates the minimum duration to retain a message after it is published to the topic. If this field is set, messages published to the topic in the last `message_retention_duration` are always available to subscribers. For instance, it allows any attached subscription to [seek to a timestamp](https://cloud.google.com/pubsub/docs/replay-overview#seek_to_a_time) that is up to `message_retention_duration` in the past. If this field is not set, message retention is controlled by settings on individual subscriptions. Cannot be more than 31 days or less than 10 minutes.",
          "type": "string",
          "format": "google-duration"
        },
        "kmsKeyName": {
          "description": "The resource name of the Cloud KMS CryptoKey to be used to protect access to messages published on this topic. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        },
        "labels": {
          "description": "See [Creating and managing labels] (https://cloud.google.com/pubsub/docs/labels).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "schemaSettings": {
          "$ref": "SchemaSettings",
          "description": "Settings for validating messages published against a schema."
        },
        "satisfiesPzs": {
          "description": "Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "type": "boolean"
        },
        "messageStoragePolicy": {
          "description": "Policy constraining the set of Google Cloud Platform regions where messages published to the topic may be stored. If not present, then no constraints are in effect.",
          "$ref": "MessageStoragePolicy"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the topic. It must have the format `\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`."
        }
      },
      "type": "object"
    },
    "Subscription": {
      "description": "A subscription resource. If none of `push_config` or `bigquery_config` is set, then the subscriber will pull and ack messages using API methods. At most one of these fields may be set.",
      "id": "Subscription",
      "type": "object",
      "properties": {
        "enableExactlyOnceDelivery": {
          "description": "If true, Pub/Sub provides the following guarantees for the delivery of a message with a given value of `message_id` on this subscription: * The message sent to a subscriber is guaranteed not to be resent before the message's acknowledgement deadline expires. * An acknowledged message will not be resent to a subscriber. Note that subscribers may still receive multiple copies of a message when `enable_exactly_once_delivery` is true if the message was published multiple times by a publisher client. These copies are considered distinct by Pub/Sub and have distinct `message_id` values.",
          "type": "boolean"
        },
        "bigqueryConfig": {
          "$ref": "BigQueryConfig",
          "description": "If delivery to BigQuery is used with this subscription, this field is used to configure it."
        },
        "pushConfig": {
          "description": "If push delivery is used with this subscription, this field is used to configure it.",
          "$ref": "PushConfig"
        },
        "expirationPolicy": {
          "description": "A policy that specifies the conditions for this subscription's expiration. A subscription is considered active as long as any connected subscriber is successfully consuming messages from the subscription or is issuing operations on the subscription. If `expiration_policy` is not set, a *default policy* with `ttl` of 31 days will be used. The minimum allowed value for `expiration_policy.ttl` is 1 day. If `expiration_policy` is set, but `expiration_policy.ttl` is not set, the subscription never expires.",
          "$ref": "ExpirationPolicy"
        },
        "messageRetentionDuration": {
          "description": "How long to retain unacknowledged messages in the subscription's backlog, from the moment a message is published. If `retain_acked_messages` is true, then this also configures the retention of acknowledged messages, and thus configures how far back in time a `Seek` can be done. Defaults to 7 days. Cannot be more than 7 days or less than 10 minutes.",
          "type": "string",
          "format": "google-duration"
        },
        "retryPolicy": {
          "$ref": "RetryPolicy",
          "description": "A policy that specifies how Pub/Sub retries message delivery for this subscription. If not set, the default retry policy is applied. This generally implies that messages will be retried as soon as possible for healthy subscribers. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message."
        },
        "filter": {
          "description": "An expression written in the Pub/Sub [filter language](https://cloud.google.com/pubsub/docs/filtering). If non-empty, then only `PubsubMessage`s whose `attributes` field matches the filter are delivered on this subscription. If empty, then no messages are filtered out.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`."
        },
        "deadLetterPolicy": {
          "$ref": "DeadLetterPolicy",
          "description": "A policy that specifies the conditions for dead lettering messages in this subscription. If dead_letter_policy is not set, dead lettering is disabled. The Cloud Pub/Sub service account associated with this subscriptions's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Acknowledge() messages on this subscription."
        },
        "retainAckedMessages": {
          "description": "Indicates whether to retain acknowledged messages. If true, then messages are not expunged from the subscription's backlog, even if they are acknowledged, until they fall out of the `message_retention_duration` window. This must be true if you would like to [`Seek` to a timestamp] (https://cloud.google.com/pubsub/docs/replay-overview#seek_to_a_time) in the past to replay previously-acknowledged messages.",
          "type": "boolean"
        },
        "detached": {
          "description": "Indicates whether the subscription is detached from its topic. Detached subscriptions don't receive messages from their topic and don't retain any backlog. `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will not be made.",
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "RESOURCE_ERROR"
          ],
          "description": "Output only. An output-only field indicating whether or not the subscription can receive messages.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The subscription can actively receive messages",
            "The subscription cannot receive messages because of an error with the resource to which it pushes messages. See the more detailed error state in the corresponding configuration."
          ]
        },
        "topicMessageRetentionDuration": {
          "readOnly": true,
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Indicates the minimum duration for which a message is retained after it is published to the subscription's topic. If this field is set, messages published to the subscription's topic in the last `topic_message_retention_duration` are always available to subscribers. See the `message_retention_duration` field in `Topic`. This field is set only in responses from the server; it is ignored if it is set in any requests."
        },
        "topic": {
          "type": "string",
          "description": "Required. The name of the topic from which this subscription is receiving messages. Format is `projects/{project}/topics/{topic}`. The value of this field will be `_deleted-topic_` if the topic has been deleted."
        },
        "labels": {
          "type": "object",
          "description": "See [Creating and managing labels](https://cloud.google.com/pubsub/docs/labels).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableMessageOrdering": {
          "type": "boolean",
          "description": "If true, messages published with the same `ordering_key` in `PubsubMessage` will be delivered to the subscribers in the order in which they are received by the Pub/Sub system. Otherwise, they may be delivered in any order."
        },
        "ackDeadlineSeconds": {
          "type": "integer",
          "description": "The approximate amount of time (on a best-effort basis) Pub/Sub waits for the subscriber to acknowledge receipt before resending the message. In the interval after the message is delivered and before it is acknowledged, it is considered to be _outstanding_. During that time period, the message will not be redelivered (on a best-effort basis). For pull subscriptions, this value is used as the initial value for the ack deadline. To override this value for a given message, call `ModifyAckDeadline` with the corresponding `ack_id` if using non-streaming pull or send the `ack_id` in a `StreamingModifyAckDeadlineRequest` if using streaming pull. The minimum custom deadline you can specify is 10 seconds. The maximum custom deadline you can specify is 600 seconds (10 minutes). If this parameter is 0, a default value of 10 seconds is used. For push delivery, this value is also used to set the request timeout for the call to the push endpoint. If the subscriber never acknowledges the message, the Pub/Sub system will eventually redeliver the message.",
          "format": "int32"
        }
      }
    },
    "PushConfig": {
      "id": "PushConfig",
      "description": "Configuration for a push delivery endpoint.",
      "properties": {
        "oidcToken": {
          "$ref": "OidcToken",
          "description": "If specified, Pub/Sub will generate and attach an OIDC JWT token as an `Authorization` header in the HTTP request for every pushed message."
        },
        "attributes": {
          "description": "Endpoint configuration attributes that can be used to control different aspects of the message delivery. The only currently supported attribute is `x-goog-version`, which you can use to change the format of the pushed message. This attribute indicates the version of the data expected by the endpoint. This controls the shape of the pushed message (i.e., its fields and metadata). If not present during the `CreateSubscription` call, it will default to the version of the Pub/Sub API used to make such call. If not present in a `ModifyPushConfig` call, its value will not be changed. `GetSubscription` calls will always return a valid version, even if the subscription was created without this attribute. The only supported values for the `x-goog-version` attribute are: * `v1beta1`: uses the push format defined in the v1beta1 Pub/Sub API. * `v1` or `v1beta2`: uses the push format defined in the v1 Pub/Sub API. For example: `attributes { \"x-goog-version\": \"v1\" }`",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pushEndpoint": {
          "type": "string",
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use `https://example.com/push`."
        }
      },
      "type": "object"
    },
    "ExpirationPolicy": {
      "properties": {
        "ttl": {
          "description": "Specifies the \"time-to-live\" duration for an associated resource. The resource expires if it is not active for a period of `ttl`. The definition of \"activity\" depends on the type of the associated resource. The minimum and maximum allowed values for `ttl` depend on the type of the associated resource, as well. If `ttl` is not set, the associated resource never expires.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "A policy that specifies the conditions for resource expiration (i.e., automatic resource deletion).",
      "id": "ExpirationPolicy"
    },
    "RetryPolicy": {
      "type": "object",
      "description": "A policy that specifies how Cloud Pub/Sub retries message delivery. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message. Retry Policy is implemented on a best effort basis. At times, the delay between consecutive deliveries may not match the configuration. That is, delay can be more or less than configured backoff.",
      "id": "RetryPolicy",
      "properties": {
        "minimumBackoff": {
          "description": "The minimum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 10 seconds.",
          "format": "google-duration",
          "type": "string"
        },
        "maximumBackoff": {
          "description": "The maximum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 600 seconds.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "PublishRequest": {
      "description": "Request for the Publish method.",
      "type": "object",
      "id": "PublishRequest",
      "properties": {
        "messages": {
          "description": "Required. The messages to publish.",
          "items": {
            "$ref": "PubsubMessage"
          },
          "type": "array"
        }
      }
    },
    "ValidateSchemaRequest": {
      "description": "Request for the `ValidateSchema` method.",
      "type": "object",
      "id": "ValidateSchemaRequest",
      "properties": {
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema object to validate."
        }
      }
    },
    "MessageStoragePolicy": {
      "properties": {
        "allowedPersistenceRegions": {
          "description": "A list of IDs of GCP regions where messages that are published to the topic may be persisted in storage. Messages published by publishers running in non-allowed GCP regions (or running outside of GCP altogether) will be routed for storage in one of the allowed regions. An empty list means that no regions are allowed, and is not a valid configuration.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "MessageStoragePolicy",
      "description": "A policy constraining the storage of messages published to the topic.",
      "type": "object"
    },
    "SeekRequest": {
      "type": "object",
      "id": "SeekRequest",
      "properties": {
        "time": {
          "format": "google-datetime",
          "description": "The time to seek to. Messages retained in the subscription that were published before this time are marked as acknowledged, and messages retained in the subscription that were published after this time are marked as unacknowledged. Note that this operation affects only those messages retained in the subscription (configured by the combination of `message_retention_duration` and `retain_acked_messages`). For example, if `time` corresponds to a point before the message retention window (or to a point before the system's notion of the subscription creation time), only retained messages will be marked as unacknowledged, and already-expunged messages will not be restored.",
          "type": "string"
        },
        "snapshot": {
          "type": "string",
          "description": "The snapshot to seek to. The snapshot's topic must be the same as that of the provided subscription. Format is `projects/{project}/snapshots/{snap}`."
        }
      },
      "description": "Request for the `Seek` method."
    },
    "UpdateSubscriptionRequest": {
      "description": "Request for the UpdateSubscription method.",
      "id": "UpdateSubscriptionRequest",
      "properties": {
        "subscription": {
          "description": "Required. The updated subscription object.",
          "$ref": "Subscription"
        },
        "updateMask": {
          "description": "Required. Indicates which fields in the provided subscription to update. Must be specified and non-empty.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Schema": {
      "type": "object",
      "id": "Schema",
      "description": "A schema resource.",
      "properties": {
        "type": {
          "description": "The type of the schema definition.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PROTOCOL_BUFFER",
            "AVRO"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A Protocol Buffer schema definition.",
            "An Avro schema definition."
          ]
        },
        "definition": {
          "description": "The definition of the schema. This should contain a string representing the full definition of the schema that is a valid schema definition of the type specified in `type`.",
          "type": "string"
        },
        "revisionCreateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp that the revision was created."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the schema. Format is `projects/{project}/schemas/{schema}`."
        },
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the schema.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PullRequest": {
      "id": "PullRequest",
      "type": "object",
      "description": "Request for the `Pull` method.",
      "properties": {
        "maxMessages": {
          "format": "int32",
[...]
