{
  "rootUrl": "https://pubsublite.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "baseUrl": "https://pubsublite.googleapis.com/",
  "description": "",
  "mtlsRootUrl": "https://pubsublite.mtls.googleapis.com/",
  "name": "pubsublite",
  "kind": "discovery#restDescription",
  "version": "v1",
  "batchPath": "batch",
  "basePath": "",
  "id": "pubsublite:v1",
  "canonicalName": "PubsubLite",
  "version_module": true,
  "schemas": {
    "ComputeHeadCursorRequest": {
      "id": "ComputeHeadCursorRequest",
      "description": "Compute the current head cursor for a partition.",
      "properties": {
        "partition": {
          "description": "Required. The partition for which we should compute the head cursor.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "TimeTarget": {
      "type": "object",
      "id": "TimeTarget",
      "description": "A target publish or event time. Can be used for seeking to or retrieving the corresponding cursor.",
      "properties": {
        "eventTime": {
          "type": "string",
          "description": "Request the cursor of the first message with event time greater than or equal to `event_time`. If messages are missing an event time, the publish time is used as a fallback. As event times are user supplied, subsequent messages may have event times less than `event_time` and should be filtered by the client, if necessary.",
          "format": "google-datetime"
        },
        "publishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Request the cursor of the first message with publish time greater than or equal to `publish_time`. All messages thereafter are guaranteed to have publish times \u003e= `publish_time`."
        }
      }
    },
    "ComputeMessageStatsResponse": {
      "properties": {
        "minimumPublishTime": {
          "format": "google-datetime",
          "description": "The minimum publish timestamp across these messages. Note that publish timestamps within a partition are not guaranteed to be non-decreasing. The timestamp will be unset if there are no messages.",
          "type": "string"
        },
        "messageBytes": {
          "format": "int64",
          "type": "string",
          "description": "The number of quota bytes accounted to these messages."
        },
        "minimumEventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The minimum event timestamp across these messages. For the purposes of this computation, if a message does not have an event time, we use the publish time. The timestamp will be unset if there are no messages."
        },
        "messageCount": {
          "format": "int64",
          "type": "string",
          "description": "The count of messages."
        }
      },
      "type": "object",
      "id": "ComputeMessageStatsResponse",
      "description": "Response containing stats for messages in the requested topic and partition."
    },
    "ComputeMessageStatsRequest": {
      "properties": {
        "startCursor": {
          "description": "The inclusive start of the range.",
          "$ref": "Cursor"
        },
        "endCursor": {
          "description": "The exclusive end of the range. The range is empty if end_cursor \u003c= start_cursor. Specifying a start_cursor before the first message and an end_cursor after the last message will retrieve all messages.",
          "$ref": "Cursor"
        },
        "partition": {
          "format": "int64",
          "type": "string",
          "description": "Required. The partition for which we should compute message stats."
        }
      },
      "type": "object",
      "id": "ComputeMessageStatsRequest",
      "description": "Compute statistics about a range of messages in a given topic and partition."
    },
    "CommitCursorResponse": {
      "description": "Response for CommitCursor.",
      "properties": {},
      "type": "object",
      "id": "CommitCursorResponse"
    },
    "ListTopicsResponse": {
      "id": "ListTopicsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "topics": {
          "items": {
            "$ref": "Topic"
          },
          "type": "array",
          "description": "The list of topic in the requested parent. The order of the topics is unspecified."
        }
      },
      "type": "object",
      "description": "Response for ListTopics."
    },
    "ListSubscriptionsResponse": {
      "id": "ListSubscriptionsResponse",
      "description": "Response for ListSubscriptions.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "description": "The list of subscriptions in the requested parent. The order of the subscriptions is unspecified.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "target": {
          "description": "Resource path for the target of the operation. For example, targets of seeks are subscription resources, structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running. Not set if the operation has not completed.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for long running operations.",
      "id": "OperationMetadata"
    },
    "SeekSubscriptionResponse": {
      "id": "SeekSubscriptionResponse",
      "type": "object",
      "properties": {},
      "description": "Response for SeekSubscription long running operation."
    },
    "ListReservationsResponse": {
      "id": "ListReservationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "reservations": {
          "description": "The list of reservation in the requested parent. The order of the reservations is unspecified.",
          "items": {
            "$ref": "Reservation"
          },
          "type": "array"
        }
      },
      "description": "Response for ListReservations.",
      "type": "object"
    },
    "ListTopicSubscriptionsResponse": {
      "description": "Response for ListTopicSubscriptions.",
      "id": "ListTopicSubscriptionsResponse",
      "type": "object",
      "properties": {
        "subscriptions": {
          "items": {
            "type": "string"
          },
          "description": "The names of subscriptions attached to the topic. The order of the subscriptions is unspecified.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      }
    },
    "ListReservationTopicsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "topics": {
          "description": "The names of topics attached to the reservation. The order of the topics is unspecified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response for ListReservationTopics.",
      "type": "object",
      "id": "ListReservationTopicsResponse"
    },
    "ListPartitionCursorsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "partitionCursors": {
          "type": "array",
          "description": "The partition cursors from this request.",
          "items": {
            "$ref": "PartitionCursor"
          }
        }
      },
      "description": "Response for ListPartitionCursors",
      "type": "object",
      "id": "ListPartitionCursorsResponse"
    },
    "DeliveryConfig": {
      "description": "The settings for a subscription's message delivery.",
      "type": "object",
      "properties": {
        "deliveryRequirement": {
          "enum": [
            "DELIVERY_REQUIREMENT_UNSPECIFIED",
            "DELIVER_IMMEDIATELY",
            "DELIVER_AFTER_STORED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server does not wait for a published message to be successfully written to storage before delivering it to subscribers.",
            "The server will not deliver a published message to subscribers until the message has been successfully written to storage. This will result in higher end-to-end latency, but consistent delivery."
          ],
          "type": "string",
          "description": "The DeliveryRequirement for this subscription."
        }
      },
      "id": "DeliveryConfig"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "PubSubConfig": {
      "type": "object",
      "description": "Configuration for exporting to a Pub/Sub topic.",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The name of the Pub/Sub topic. Structured like: projects/{project_number}/topics/{topic_id}. The topic may be changed."
        }
      },
      "id": "PubSubConfig"
    },
    "ReservationConfig": {
      "properties": {
        "throughputReservation": {
          "description": "The Reservation to use for this topic's throughput capacity. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
          "type": "string"
        }
      },
      "id": "ReservationConfig",
      "type": "object",
      "description": "The settings for this topic's Reservation usage."
    },
    "RetentionConfig": {
      "type": "object",
      "properties": {
        "period": {
          "description": "How long a published message is retained. If unset, messages will be retained as long as the bytes retained for each partition is below `per_partition_bytes`.",
          "type": "string",
          "format": "google-duration"
        },
        "perPartitionBytes": {
          "type": "string",
          "format": "int64",
          "description": "The provisioned storage, in bytes, per partition. If the number of bytes stored in any of the topic's partitions grows beyond this value, older messages will be dropped to make room for newer ones, regardless of the value of `period`."
        }
      },
      "id": "RetentionConfig",
      "description": "The settings for a topic's message retention."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "Topic": {
      "id": "Topic",
      "type": "object",
      "description": "Metadata about a topic resource.",
      "properties": {
        "reservationConfig": {
          "description": "The settings for this topic's Reservation usage.",
          "$ref": "ReservationConfig"
        },
        "partitionConfig": {
          "$ref": "PartitionConfig",
          "description": "The settings for this topic's partitions."
        },
        "retentionConfig": {
          "description": "The settings for this topic's message retention.",
          "$ref": "RetentionConfig"
        },
        "name": {
          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "PartitionConfig": {
      "type": "object",
      "description": "The settings for a topic's partitions.",
      "properties": {
        "scale": {
          "deprecated": true,
          "description": "DEPRECATED: Use capacity instead which can express a superset of configurations. Every partition in the topic is allocated throughput equivalent to `scale` times the standard partition throughput (4 MiB/s). This is also reflected in the cost of this topic; a topic with `scale` of 2 and count of 10 is charged for 20 partitions. This value must be in the range [1,4].",
          "format": "int32",
          "type": "integer"
        },
        "capacity": {
          "$ref": "Capacity",
          "description": "The capacity configuration."
        },
        "count": {
          "type": "string",
          "description": "The number of partitions in the topic. Must be at least 1. Once a topic has been created the number of partitions can be increased but not decreased. Message ordering is not guaranteed across a topic resize. For more information see https://cloud.google.com/pubsub/lite/docs/topics#scaling_capacity",
          "format": "int64"
        }
      },
      "id": "PartitionConfig"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "Cursor": {
      "description": "A cursor that describes the position of a message within a topic partition.",
      "properties": {
        "offset": {
          "type": "string",
          "description": "The offset of a message within a topic partition. Must be greater than or equal 0.",
          "format": "int64"
        }
      },
      "id": "Cursor",
      "type": "object"
    },
    "ComputeHeadCursorResponse": {
      "description": "Response containing the head cursor for the requested topic and partition.",
      "type": "object",
      "properties": {
        "headCursor": {
          "description": "The head cursor.",
          "$ref": "Cursor"
        }
      },
      "id": "ComputeHeadCursorResponse"
    },
    "Capacity": {
      "type": "object",
      "properties": {
        "subscribeMibPerSec": {
          "description": "Subscribe throughput capacity per partition in MiB/s. Must be \u003e= 4 and \u003c= 32.",
          "type": "integer",
          "format": "int32"
        },
        "publishMibPerSec": {
          "format": "int32",
          "description": "Publish throughput capacity per partition in MiB/s. Must be \u003e= 4 and \u003c= 16.",
          "type": "integer"
        }
      },
      "id": "Capacity",
      "description": "The throughput capacity configuration for each partition."
    },
    "PartitionCursor": {
      "description": "A pair of a Cursor and the partition it is for.",
      "id": "PartitionCursor",
      "type": "object",
      "properties": {
        "partition": {
          "format": "int64",
          "description": "The partition this is for.",
          "type": "string"
        },
        "cursor": {
          "$ref": "Cursor",
          "description": "The value of the cursor."
        }
      }
    },
    "CommitCursorRequest": {
      "description": "Request for CommitCursor.",
      "properties": {
        "cursor": {
          "$ref": "Cursor",
          "description": "The new value for the committed cursor."
        },
        "partition": {
          "format": "int64",
          "description": "The partition for which to update the cursor. Partitions are zero indexed, so `partition` must be in the range [0, topic.num_partitions).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CommitCursorRequest"
    },
    "ComputeTimeCursorRequest": {
      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
      "properties": {
        "target": {
          "description": "Required. The target publish or event time. Specifying a future time will return an unset cursor.",
          "$ref": "TimeTarget"
        },
        "partition": {
          "description": "Required. The partition for which we should compute the cursor.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ComputeTimeCursorRequest"
    },
    "Subscription": {
      "properties": {
        "deliveryConfig": {
          "$ref": "DeliveryConfig",
          "description": "The settings for this subscription's message delivery."
        },
        "topic": {
          "type": "string",
          "description": "The name of the topic this subscription is attached to. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}"
        },
        "name": {
          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        },
        "exportConfig": {
          "$ref": "ExportConfig",
          "description": "If present, messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a destination."
        }
      },
      "id": "Subscription",
      "description": "Metadata about a subscription resource.",
      "type": "object"
    },
    "Reservation": {
      "description": "Metadata about a reservation resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}"
        },
        "throughputCapacity": {
          "description": "The reserved throughput capacity. Every unit of throughput capacity is equivalent to 1 MiB/s of published messages or 2 MiB/s of subscribed messages. Any topics which are declared as using capacity from a Reservation will consume resources from this reservation instead of being charged individually.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Reservation"
    },
    "ComputeTimeCursorResponse": {
      "properties": {
        "cursor": {
          "$ref": "Cursor",
          "description": "If present, the cursor references the first message with time greater than or equal to the specified target time. If such a message cannot be found, the cursor will be unset (i.e. `cursor` is not present)."
        }
      },
      "type": "object",
      "id": "ComputeTimeCursorResponse",
      "description": "Response containing the cursor corresponding to a publish or event time in a topic partition."
    },
    "TopicPartitions": {
      "properties": {
        "partitionCount": {
          "type": "string",
          "description": "The number of partitions in the topic.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Response for GetTopicPartitions.",
      "id": "TopicPartitions"
    },
    "SeekSubscriptionRequest": {
      "description": "Request for SeekSubscription.",
      "type": "object",
      "id": "SeekSubscriptionRequest",
      "properties": {
        "timeTarget": {
          "$ref": "TimeTarget",
          "description": "Seek to the first message whose publish or event time is greater than or equal to the specified query time. If no such message can be located, will seek to the end of the message backlog."
        },
        "namedTarget": {
          "type": "string",
          "description": "Seek to a named position with respect to the message backlog.",
          "enumDescriptions": [
            "Unspecified named target. Do not use.",
            "Seek to the oldest retained message.",
            "Seek past all recently published messages, skipping the entire message backlog."
          ],
          "enum": [
            "NAMED_TARGET_UNSPECIFIED",
            "TAIL",
            "HEAD"
          ]
        }
      }
    },
    "ExportConfig": {
      "properties": {
        "pubsubConfig": {
          "description": "Messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a Pub/Sub topic.",
          "$ref": "PubSubConfig"
        },
        "currentState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the export, which may be different to the desired state due to errors. This field is output only."
        },
        "deadLetterTopic": {
          "type": "string",
          "description": "Optional. The name of an optional Pub/Sub Lite topic to publish messages that can not be exported to the destination. For example, the message can not be published to the Pub/Sub service because it does not satisfy the constraints documented at https://cloud.google.com/pubsub/docs/publisher. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}. Must be within the same project and location as the subscription. The topic may be changed or removed."
        },
        "desiredState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ],
          "description": "The desired state of this export. Setting this to values other than `ACTIVE` and `PAUSED` will result in an error.",
          "type": "string"
        }
      },
      "description": "Configuration for a Pub/Sub Lite subscription that writes messages to a destination. User subscriber clients must not connect to this subscription.",
      "id": "ExportConfig",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    }
  },
  "revision": "20230707",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    }
  },
  "documentationLink": "https://cloud.google.com/pubsub/lite/docs",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "topicStats": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "topics": {
                  "methods": {
                    "computeMessageStats": {
                      "response": {
                        "$ref": "ComputeMessageStatsResponse"
                      },
                      "description": "Compute statistics about a range of messages in a given topic and partition.",
                      "id": "pubsublite.topicStats.projects.locations.topics.computeMessageStats",
                      "path": "v1/topicStats/{+topic}:computeMessageStats",
                      "request": {
                        "$ref": "ComputeMessageStatsRequest"
                      },
                      "parameters": {
                        "topic": {
                          "description": "Required. The topic for which we should compute message stats.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeMessageStats",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "topic"
                      ]
                    },
                    "computeHeadCursor": {
                      "description": "Compute the head cursor for the partition. The head cursor's offset is guaranteed to be less than or equal to all messages which have not yet been acknowledged as published, and greater than the offset of any message whose publish has already been acknowledged. It is zero if there have never been messages in the partition.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/topicStats/{+topic}:computeHeadCursor",
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeHeadCursor",
                      "response": {
                        "$ref": "ComputeHeadCursorResponse"
                      },
                      "parameters": {
                        "topic": {
                          "description": "Required. The topic for which we should compute the head cursor.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "ComputeHeadCursorRequest"
                      },
                      "parameterOrder": [
                        "topic"
                      ],
                      "id": "pubsublite.topicStats.projects.locations.topics.computeHeadCursor"
                    },
                    "computeTimeCursor": {
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeTimeCursor",
                      "parameterOrder": [
                        "topic"
                      ],
                      "response": {
                        "$ref": "ComputeTimeCursorResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
                      "parameters": {
                        "topic": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "description": "Required. The topic for which we should compute the cursor.",
                          "type": "string"
                        }
                      },
                      "id": "pubsublite.topicStats.projects.locations.topics.computeTimeCursor",
                      "path": "v1/topicStats/{+topic}:computeTimeCursor",
                      "request": {
                        "$ref": "ComputeTimeCursorRequest"
                      },
                      "httpMethod": "POST"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "cursor": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "subscriptions": {
                  "resources": {
                    "cursors": {
                      "methods": {
                        "list": {
                          "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}/cursors",
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A page token, received from a previous `ListPartitionCursors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPartitionCursors` must match the call that provided the page token."
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "The maximum number of cursors to return. The service may return fewer than this value. If unset or zero, all cursors for the parent will be returned.",
                              "format": "int32",
                              "type": "integer"
                            },
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                              "location": "path",
                              "description": "Required. The subscription for which to retrieve cursors. Structured like `projects/{project_number}/locations/{location}/subscriptions/{subscription_id}`.",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "ListPartitionCursorsResponse"
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "pubsublite.cursor.projects.locations.subscriptions.cursors.list",
                          "path": "v1/cursor/{+parent}/cursors",
                          "description": "Returns all committed cursor information for a subscription.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "commitCursor": {
                      "description": "Updates the committed cursor.",
                      "path": "v1/cursor/{+subscription}:commitCursor",
                      "id": "pubsublite.cursor.projects.locations.subscriptions.commitCursor",
                      "request": {
                        "$ref": "CommitCursorRequest"
                      },
                      "response": {
                        "$ref": "CommitCursorResponse"
                      },
                      "parameterOrder": [
                        "subscription"
                      ],
                      "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:commitCursor",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "subscription": {
                          "location": "path",
                          "description": "The subscription for which to update the cursor.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$"
                        }
                      },
                      "httpMethod": "POST"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "admin": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "reservations": {
                  "methods": {
                    "get": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "description": "Returns the reservation configuration.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the reservation whose configuration to return. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Reservation"
                      },
                      "httpMethod": "GET",
                      "path": "v1/admin/{+name}",
                      "id": "pubsublite.admin.projects.locations.reservations.get",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "request": {
                        "$ref": "Reservation"
                      },
                      "response": {
                        "$ref": "Reservation"
                      },
                      "description": "Creates a new reservation.",
                      "path": "v1/admin/{+parent}/reservations",
                      "id": "pubsublite.admin.projects.locations.reservations.create",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent location in which to create the reservation. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true
                        },
                        "reservationId": {
                          "description": "Required. The ID to use for the reservation, which will become the final component of the reservation's name. This value is structured like: `my-reservation-name`.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations"
                    },
                    "delete": {
                      "description": "Deletes the specified reservation.",
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the reservation to delete. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.delete",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}"
                    },
                    "list": {
                      "path": "v1/admin/{+parent}/reservations",
                      "description": "Returns the list of reservations for the given project.",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "response": {
                        "$ref": "ListReservationsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListReservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservations` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent whose reservations are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of reservations to return. The service may return fewer than this value. If unset or zero, all reservations for the parent will be returned.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.reservations.list",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "path": "v1/admin/{+name}",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Reservation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Reservation"
                      },
                      "id": "pubsublite.admin.projects.locations.reservations.patch",
                      "parameters": {
                        "name": {
                          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Required. A mask specifying the reservation fields to change.",
                          "location": "query"
                        }
                      },
                      "description": "Updates properties of the specified reservation."
                    }
                  },
                  "resources": {
                    "topics": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "pageSize": {
                              "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the given reservation will be returned.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A page token, received from a previous `ListReservationTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservationTopics` must match the call that provided the page token."
                            },
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                              "required": true,
                              "description": "Required. The name of the reservation whose topics to list. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                              "location": "path"
                            }
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "pubsublite.admin.projects.locations.reservations.topics.list",
                          "path": "v1/admin/{+name}/topics",
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/topics",
                          "response": {
                            "$ref": "ListReservationTopicsResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Lists the topics attached to the specified reservation."
                        }
                      }
                    }
                  }
                },
                "topics": {
                  "resources": {
                    "subscriptions": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/subscriptions",
                          "description": "Lists the subscriptions attached to the specified topic.",
                          "response": {
                            "$ref": "ListTopicSubscriptionsResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "pubsublite.admin.projects.locations.topics.subscriptions.list",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the topic whose subscriptions to list."
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A page token, received from a previous `ListTopicSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopicSubscriptions` must match the call that provided the page token."
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the given topic will be returned.",
                              "location": "query"
                            }
                          },
                          "path": "v1/admin/{+name}/subscriptions"
                        }
                      }
                    }
                  },
                  "methods": {
                    "getPartitions": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.getPartitions",
                      "response": {
                        "$ref": "TopicPartitions"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "description": "Required. The topic whose partition information to return.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1/admin/{+name}/partitions",
                      "description": "Returns the partition information for the requested topic.",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/partitions"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/admin/{+name}",
                      "description": "Returns the topic configuration.",
                      "id": "pubsublite.admin.projects.locations.topics.get",
                      "response": {
                        "$ref": "Topic"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the topic whose configuration to return.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "id": "pubsublite.admin.projects.locations.topics.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/admin/{+name}",
                      "description": "Deletes the specified topic.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the topic to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE"
                    },
                    "create": {
                      "path": "v1/admin/{+parent}/topics",
                      "request": {
                        "$ref": "Topic"
                      },
                      "parameters": {
                        "topicId": {
                          "type": "string",
                          "description": "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "Required. The parent location in which to create the topic. Structured like `projects/{project_number}/locations/{location}`.",
                          "type": "string"
                        }
                      },
                      "description": "Creates a new topic.",
                      "response": {
                        "$ref": "Topic"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.create",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/admin/{+parent}/topics",
                      "id": "pubsublite.admin.projects.locations.topics.list",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "description": "Returns the list of topics for the given project.",
                      "response": {
                        "$ref": "ListTopicsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "Required. The parent whose topics are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent will be returned."
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "patch": {
                      "id": "pubsublite.admin.projects.locations.topics.patch",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Topic"
                      },
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. A mask specifying the topic fields to change.",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Topic"
                      },
                      "httpMethod": "PATCH",
                      "path": "v1/admin/{+name}",
                      "description": "Updates properties of the specified topic.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "cancel": {
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource to be cancelled.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "id": "pubsublite.admin.projects.locations.operations.cancel",
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "path": "v1/admin/{+name}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "delete": {
                      "path": "v1/admin/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation resource to be deleted.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.operations.delete",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                    },
                    "list": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "path": "v1/admin/{+name}/operations",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The standard list page size."
                        },
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The standard list page token."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.operations.list"
                    },
                    "get": {
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "path": "v1/admin/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "pubsublite.admin.projects.locations.operations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The name of the operation resource."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "subscriptions": {
                  "methods": {
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "description": "Required. The name of the subscription to delete.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "description": "Deletes the specified subscription.",
                      "path": "v1/admin/{+name}",
                      "id": "pubsublite.admin.projects.locations.subscriptions.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the parent will be returned.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "Required. The parent whose subscriptions are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+parent}/subscriptions",
                      "description": "Returns the list of subscriptions for the given project.",
                      "response": {
                        "$ref": "ListSubscriptionsResponse"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "response": {
                        "$ref": "Subscription"
                      },
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. A mask specifying the subscription fields to change."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates properties of the specified subscription.",
                      "path": "v1/admin/{+name}",
                      "request": {
                        "$ref": "Subscription"
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "id": "pubsublite.admin.projects.locations.subscriptions.patch"
                    },
                    "seek": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Performs an out-of-band seek for a subscription to a specified target, which may be timestamps or named positions within the message backlog. Seek translates these targets to cursors for each partition and orchestrates subscribers to start consuming messages from these seek cursors. If an operation is returned, the seek has been registered and subscribers will eventually receive messages from the seek cursors (i.e. eventual consistency), as long as they are using a minimum supported client library version and not a system that tracks cursors independently of Pub/Sub Lite (e.g. Apache Beam, Dataflow, Spark). The seek operation will fail for unsupported clients. If clients would like to know when subscribers react to the seek (or not), they can poll the operation. The seek operation will succeed and complete once subscribers are ready to receive messages from the seek cursors for all partitions of the topic. This means that the seek operation will not complete until all subscribers come online. If the previous seek operation has not yet completed, it will be aborted and the new invocation of seek will supersede it.",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:seek",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the subscription to seek.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "SeekSubscriptionRequest"
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.seek",
                      "path": "v1/admin/{+name}:seek"
                    },
                    "get": {
                      "description": "Returns the subscription configuration.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "description": "Required. The name of the subscription whose configuration to return.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.get",
                      "response": {
                        "$ref": "Subscription"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+name}"
                    },
                    "create": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/admin/{+parent}/subscriptions",
                      "httpMethod": "POST",
                      "description": "Creates a new subscription.",
                      "request": {
                        "$ref": "Subscription"
                      },
                      "response": {
                        "$ref": "Subscription"
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.create",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent location in which to create the subscription. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path"
                        },
                        "skipBacklog": {
                          "description": "If true, the newly created subscription will only receive messages published after the subscription was created. Otherwise, the entire message backlog will be received on the subscription. Defaults to false.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "subscriptionId": {
                          "description": "Required. The ID to use for the subscription, which will become the final component of the subscription's name. This value is structured like: `my-sub-name`.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "title": "Pub/Sub Lite API"
}
