{
  "rootUrl": "https://pubsub.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "version": "v1",
  "title": "Cloud Pub/Sub API",
  "servicePath": "",
  "baseUrl": "https://pubsub.googleapis.com/",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "canonicalName": "Pubsub",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        }
      }
    }
  },
  "id": "pubsub:v1",
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "resources": {
    "projects": {
      "resources": {
        "subscriptions": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "subscription": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The subscription to delete. Format is `projects/{project}/subscriptions/{sub}`."
                }
              },
              "description": "Deletes an existing subscription. All messages retained in the subscription are immediately dropped. Calls to `Pull` after deletion will return `NOT_FOUND`. After a subscription is deleted, a new one may be created with the same name, but the new one has no association with the old subscription or its topic unless the same topic is specified.",
              "path": "v1/{+subscription}",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "id": "pubsub.projects.subscriptions.delete",
              "parameterOrder": [
                "subscription"
              ],
              "httpMethod": "DELETE"
            },
            "patch": {
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "id": "pubsub.projects.subscriptions.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "UpdateSubscriptionRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Subscription"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Updates an existing subscription. Note that certain properties of a subscription, such as its topic, are not modifiable."
            },
            "detach": {
              "description": "Detaches a subscription from this topic. All messages retained in the subscription are dropped. Subsequent `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will stop.",
              "parameterOrder": [
                "subscription"
              ],
              "id": "pubsub.projects.subscriptions.detach",
              "path": "v1/{+subscription}:detach",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:detach",
              "response": {
                "$ref": "DetachSubscriptionResponse"
              },
              "parameters": {
                "subscription": {
                  "description": "Required. The subscription to detach. Format is `projects/{project}/subscriptions/{subscription}`.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "POST"
            },
            "modifyAckDeadline": {
              "request": {
                "$ref": "ModifyAckDeadlineRequest"
              },
              "path": "v1/{+subscription}:modifyAckDeadline",
              "parameterOrder": [
                "subscription"
              ],
              "description": "Modifies the ack deadline for a specific message. This method is useful to indicate that more time is needed to process a message by the subscriber, or to make the message available for redelivery if the processing was interrupted. Note that this does not modify the subscription-level `ackDeadlineSeconds` used for subsequent messages.",
              "parameters": {
                "subscription": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the subscription. Format is `projects/{project}/subscriptions/{sub}`.",
                  "required": true
                }
              },
              "id": "pubsub.projects.subscriptions.modifyAckDeadline",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyAckDeadline",
              "httpMethod": "POST"
            },
            "list": {
              "id": "pubsub.projects.subscriptions.list",
              "flatPath": "v1/projects/{projectsId}/subscriptions",
              "parameterOrder": [
                "project"
              ],
              "description": "Lists matching subscriptions.",
              "path": "v1/{+project}/subscriptions",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of subscriptions to return.",
                  "format": "int32",
                  "type": "integer"
                },
                "project": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the project in which to list subscriptions. Format is `projects/{project-id}`."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The value returned by the last `ListSubscriptionsResponse`; indicates that this is a continuation of a prior `ListSubscriptions` call, and that the system should return the next page of data."
                }
              },
              "response": {
                "$ref": "ListSubscriptionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "GET"
            },
            "pull": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Pulls messages from the server.",
              "parameterOrder": [
                "subscription"
              ],
              "response": {
                "$ref": "PullResponse"
              },
              "id": "pubsub.projects.subscriptions.pull",
              "request": {
                "$ref": "PullRequest"
              },
              "parameters": {
                "subscription": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The subscription from which messages should be pulled. Format is `projects/{project}/subscriptions/{sub}`.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+subscription}:pull",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:pull",
              "httpMethod": "POST"
            },
            "acknowledge": {
              "parameterOrder": [
                "subscription"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:acknowledge",
              "request": {
                "$ref": "AcknowledgeRequest"
              },
              "parameters": {
                "subscription": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The subscription whose message is being acknowledged. Format is `projects/{project}/subscriptions/{sub}`.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Acknowledges the messages associated with the `ack_ids` in the `AcknowledgeRequest`. The Pub/Sub system can remove the relevant messages from the subscription. Acknowledging a message whose ack deadline has expired may succeed, but such a message may be redelivered later. Acknowledging a message more than once will not result in an error.",
              "path": "v1/{+subscription}:acknowledge",
              "httpMethod": "POST",
              "id": "pubsub.projects.subscriptions.acknowledge"
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "parameters": {
                "subscription": {
                  "required": true,
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the subscription to get. Format is `projects/{project}/subscriptions/{sub}`.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "subscription"
              ],
              "httpMethod": "GET",
              "id": "pubsub.projects.subscriptions.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Gets the configuration details of a subscription.",
              "response": {
                "$ref": "Subscription"
              },
              "path": "v1/{+subscription}"
            },
            "modifyPushConfig": {
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyPushConfig",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Modifies the `PushConfig` for a specified subscription. This may be used to change a push subscription to a pull one (signified by an empty `PushConfig`) or vice versa, or change the endpoint URL and other attributes of a push subscription. Messages will accumulate for delivery continuously through the call regardless of changes to the `PushConfig`.",
              "httpMethod": "POST",
              "parameters": {
                "subscription": {
                  "type": "string",
                  "description": "Required. The name of the subscription. Format is `projects/{project}/subscriptions/{sub}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                }
              },
              "path": "v1/{+subscription}:modifyPushConfig",
              "request": {
                "$ref": "ModifyPushConfigRequest"
              },
              "id": "pubsub.projects.subscriptions.modifyPushConfig",
              "parameterOrder": [
                "subscription"
              ]
            },
            "setIamPolicy": {
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "id": "pubsub.projects.subscriptions.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "testIamPermissions": {
              "id": "pubsub.projects.subscriptions.testIamPermissions",
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "path": "v1/{+resource}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              }
            },
            "getIamPolicy": {
              "path": "v1/{+resource}:getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "httpMethod": "GET",
              "parameters": {
                "options.requestedPolicyVersion": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                },
                "resource": {
                  "location": "path",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.subscriptions.getIamPolicy"
            },
            "create": {
              "id": "pubsub.projects.subscriptions.create",
              "httpMethod": "PUT",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                }
              },
              "description": "Creates a subscription to a given topic. See the [resource name rules] (https://cloud.google.com/pubsub/docs/admin#resource_names). If the subscription already exists, returns `ALREADY_EXISTS`. If the corresponding topic doesn't exist, returns `NOT_FOUND`. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic, conforming to the [resource name format] (https://cloud.google.com/pubsub/docs/admin#resource_names). The generated name is populated in the returned Subscription object. Note that for REST API requests, you must specify a name in the request.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Subscription"
              },
              "response": {
                "$ref": "Subscription"
              }
            },
            "seek": {
              "parameterOrder": [
                "subscription"
              ],
              "description": "Seeks an existing subscription to a point in time or to a given snapshot, whichever is provided in the request. Snapshots are used in [Seek] (https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot. Note that both the subscription and the snapshot must be on the same topic.",
              "path": "v1/{+subscription}:seek",
              "httpMethod": "POST",
              "response": {
                "$ref": "SeekResponse"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:seek",
              "id": "pubsub.projects.subscriptions.seek",
              "request": {
                "$ref": "SeekRequest"
              },
              "parameters": {
                "subscription": {
                  "type": "string",
                  "description": "Required. The subscription to affect.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            }
          }
        },
        "schemas": {
          "methods": {
            "listRevisions": {
              "description": "Lists all schema revisions for the named schema.",
              "parameters": {
                "view": {
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "location": "query",
                  "description": "The set of Schema fields to return in the response. If not set, returns Schemas with `name` and `type`, but not `definition`. Set to `FULL` to retrieve all fields.",
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ]
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token, received from a previous ListSchemaRevisions call. Provide this to retrieve the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "description": "Required. The name of the schema to list revisions for.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of revisions to return per page."
                }
              },
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:listRevisions",
              "response": {
                "$ref": "ListSchemaRevisionsResponse"
              },
              "id": "pubsub.projects.schemas.listRevisions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:listRevisions"
            },
            "setIamPolicy": {
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "pubsub.projects.schemas.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
            },
            "rollback": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Schema"
              },
              "id": "pubsub.projects.schemas.rollback",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:rollback",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "RollbackSchemaRequest"
              },
              "description": "Creates a new schema revision that is a copy of the provided revision_id.",
              "path": "v1/{+name}:rollback",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "description": "Required. The schema being rolled back with revision id.",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "delete": {
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "id": "pubsub.projects.schemas.delete",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a schema.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the schema to delete. Format is `projects/{project}/schemas/{schema}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "create": {
              "description": "Creates a schema.",
              "response": {
                "$ref": "Schema"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "schemaId": {
                  "description": "The ID to use for the schema, which will become the final component of the schema's resource name. See https://cloud.google.com/pubsub/docs/admin#resource_names for resource name constraints.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in which to create the schema. Format is `projects/{project-id}`."
                }
              },
              "httpMethod": "POST",
              "id": "pubsub.projects.schemas.create",
              "flatPath": "v1/projects/{projectsId}/schemas",
              "request": {
                "$ref": "Schema"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+parent}/schemas"
            },
            "deleteRevision": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "revisionId": {
                  "location": "query",
                  "description": "Required. The revision ID to roll back to. It must be a revision of the same schema. Example: c7cfa2a8",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the schema revision to be deleted, with a revision ID explicitly included. Example: `projects/123/schemas/my-schema@c7cfa2a8`",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:deleteRevision",
              "path": "v1/{+name}:deleteRevision",
              "description": "Deletes a specific schema revision.",
              "response": {
                "$ref": "Schema"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "DELETE",
              "id": "pubsub.projects.schemas.deleteRevision"
            },
            "validateMessage": {
              "response": {
                "$ref": "ValidateMessageResponse"
              },
              "flatPath": "v1/projects/{projectsId}/schemas:validateMessage",
              "id": "pubsub.projects.schemas.validateMessage",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Validates a message against a schema.",
              "path": "v1/{+parent}/schemas:validateMessage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the project in which to validate schemas. Format is `projects/{project-id}`."
                }
              },
              "request": {
                "$ref": "ValidateMessageRequest"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the schema to get. Format is `projects/{project}/schemas/{schema}`.",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ],
                  "description": "The set of fields to return in the response. If not set, returns a Schema with all fields filled out. Set to `BASIC` to omit the `definition`.",
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "pubsub.projects.schemas.get",
              "response": {
                "$ref": "Schema"
              },
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Gets a schema."
            },
            "validate": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in which to validate schemas. Format is `projects/{project-id}`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "ValidateSchemaRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Validates a schema.",
              "id": "pubsub.projects.schemas.validate",
              "path": "v1/{+parent}/schemas:validate",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/schemas:validate",
              "response": {
                "$ref": "ValidateSchemaResponse"
              }
            },
            "commit": {
              "id": "pubsub.projects.schemas.commit",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "CommitSchemaRequest"
              },
              "description": "Commits a new schema revision to an existing schema.",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:commit",
              "response": {
                "$ref": "Schema"
              },
              "path": "v1/{+name}:commit",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the schema we are revising. Format is `projects/{project}/schemas/{schema}`.",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "list": {
              "path": "v1/{+parent}/schemas",
              "description": "Lists schemas in a project.",
              "id": "pubsub.projects.schemas.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The name of the project in which to list schemas. Format is `projects/{project-id}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListSchemasResponse`; indicates that this is a continuation of a prior `ListSchemas` call, and that the system should return the next page of data.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of schemas to return.",
                  "format": "int32"
                },
                "view": {
                  "description": "The set of Schema fields to return in the response. If not set, returns Schemas with `name` and `type`, but not `definition`. Set to `FULL` to retrieve all fields.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ]
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "ListSchemasResponse"
              },
              "flatPath": "v1/projects/{projectsId}/schemas",
              "parameterOrder": [
                "parent"
              ]
            },
            "getIamPolicy": {
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "resource"
              ],
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "parameters": {
                "options.requestedPolicyVersion": {
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "resource": {
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+resource}:getIamPolicy",
              "id": "pubsub.projects.schemas.getIamPolicy"
            },
            "testIamPermissions": {
              "path": "v1/{+resource}:testIamPermissions",
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameters": {
                "resource": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "id": "pubsub.projects.schemas.testIamPermissions",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            }
          }
        },
        "snapshots": {
          "methods": {
            "getIamPolicy": {
              "httpMethod": "GET",
              "path": "v1/{+resource}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.snapshots.getIamPolicy",
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:getIamPolicy",
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "options.requestedPolicyVersion": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "format": "int32"
                }
              }
            },
            "testIamPermissions": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "httpMethod": "POST",
              "id": "pubsub.projects.snapshots.testIamPermissions",
              "path": "v1/{+resource}:testIamPermissions",
              "parameters": {
                "resource": {
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$"
                }
              }
            },
            "setIamPolicy": {
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Policy"
              },
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+resource}:setIamPolicy",
              "id": "pubsub.projects.snapshots.setIamPolicy"
            },
            "patch": {
              "response": {
                "$ref": "Snapshot"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the snapshot.",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$"
                }
              },
              "id": "pubsub.projects.snapshots.patch",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "UpdateSnapshotRequest"
              },
              "description": "Updates an existing snapshot. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot."
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/snapshots",
              "path": "v1/{+project}/snapshots",
              "description": "Lists the existing snapshots. Snapshots are used in [Seek]( https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
              "response": {
                "$ref": "ListSnapshotsResponse"
              },
              "parameterOrder": [
                "project"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of snapshots to return."
                },
                "project": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the project in which to list snapshots. Format is `projects/{project-id}`.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListSnapshotsResponse`; indicates that this is a continuation of a prior `ListSnapshots` call, and that the system should return the next page of data.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "pubsub.projects.snapshots.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "create": {
              "description": "Creates a snapshot from the requested subscription. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot. If the snapshot already exists, returns `ALREADY_EXISTS`. If the requested subscription doesn't exist, returns `NOT_FOUND`. If the backlog in the subscription is too old -- and the resulting snapshot would expire in less than 1 hour -- then `FAILED_PRECONDITION` is returned. See also the `Snapshot.expire_time` field. If the name is not provided in the request, the server will assign a random name for this snapshot on the same project as the subscription, conforming to the [resource name format] (https://cloud.google.com/pubsub/docs/admin#resource_names). The generated name is populated in the returned Snapshot object. Note that for REST API requests, you must specify a name in the request.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. User-provided name for this snapshot. If the name is not provided in the request, the server will assign a random name for this snapshot on the same project as the subscription. Note that for REST API requests, you must specify a name. See the [resource name rules](https://cloud.google.com/pubsub/docs/admin#resource_names). Format is `projects/{project}/snapshots/{snap}`."
                }
              },
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "CreateSnapshotRequest"
              },
              "id": "pubsub.projects.snapshots.create",
              "response": {
                "$ref": "Snapshot"
              }
            },
            "delete": {
              "parameters": {
                "snapshot": {
                  "required": true,
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the snapshot to delete. Format is `projects/{project}/snapshots/{snap}`."
                }
              },
              "path": "v1/{+snapshot}",
              "parameterOrder": [
                "snapshot"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Removes an existing snapshot. Snapshots are used in [Seek] (https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot. When the snapshot is deleted, all messages retained in the snapshot are immediately dropped. After a snapshot is deleted, a new one may be created with the same name, but the new one has no association with the old snapshot or its subscription, unless the same subscription is specified.",
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "httpMethod": "DELETE",
              "id": "pubsub.projects.snapshots.delete"
            },
            "get": {
              "description": "Gets the configuration details of a snapshot. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
              "parameterOrder": [
                "snapshot"
              ],
              "path": "v1/{+snapshot}",
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Snapshot"
              },
              "id": "pubsub.projects.snapshots.get",
              "parameters": {
                "snapshot": {
                  "type": "string",
                  "description": "Required. The name of the snapshot to get. Format is `projects/{project}/snapshots/{snap}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$"
                }
              }
            }
          }
        },
        "topics": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Gets the configuration of a topic.",
              "parameterOrder": [
                "topic"
              ],
              "parameters": {
                "topic": {
                  "description": "Required. The name of the topic to get. Format is `projects/{project}/topics/{topic}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "response": {
                "$ref": "Topic"
              },
              "httpMethod": "GET",
              "path": "v1/{+topic}",
              "id": "pubsub.projects.topics.get"
            },
            "testIamPermissions": {
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:testIamPermissions",
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.topics.testIamPermissions",
              "path": "v1/{+resource}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              }
            },
            "create": {
              "response": {
                "$ref": "Topic"
              },
              "id": "pubsub.projects.topics.create",
              "description": "Creates the given topic with the given name. See the [resource name rules] (https://cloud.google.com/pubsub/docs/admin#resource_names).",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "Topic"
              },
              "httpMethod": "PUT",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the topic. It must have the format `\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "required": true
                }
              }
            },
            "publish": {
              "response": {
                "$ref": "PublishResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "topic": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The messages in the request will be published on this topic. Format is `projects/{project}/topics/{topic}`.",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+topic}:publish",
              "description": "Adds one or more messages to the topic. Returns `NOT_FOUND` if the topic does not exist.",
              "id": "pubsub.projects.topics.publish",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "PublishRequest"
              },
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:publish",
              "parameterOrder": [
                "topic"
              ]
            },
            "delete": {
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "parameters": {
                "topic": {
                  "description": "Required. Name of the topic to delete. Format is `projects/{project}/topics/{topic}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "id": "pubsub.projects.topics.delete",
              "path": "v1/{+topic}",
              "parameterOrder": [
                "topic"
              ],
              "description": "Deletes the topic with the given name. Returns `NOT_FOUND` if the topic does not exist. After a topic is deleted, a new topic may be created with the same name; this is an entirely new topic with none of the old configuration or subscriptions. Existing subscriptions to this topic are not deleted, but their `topic` field is set to `_deleted-topic_`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "patch": {
              "request": {
                "$ref": "UpdateTopicRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the topic. It must have the format `\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Topic"
              },
              "description": "Updates an existing topic. Note that certain properties of a topic are not modifiable.",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.topics.patch",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameterOrder": [
                "project"
              ],
              "id": "pubsub.projects.topics.list",
              "flatPath": "v1/projects/{projectsId}/topics",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+project}/topics",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of topics to return.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The value returned by the last `ListTopicsResponse`; indicates that this is a continuation of a prior `ListTopics` call, and that the system should return the next page of data.",
                  "location": "query",
                  "type": "string"
                },
                "project": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the project in which to list topics. Format is `projects/{project-id}`."
                }
              },
              "description": "Lists matching topics.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListTopicsResponse"
              }
            },
            "getIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.topics.getIamPolicy",
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                },
                "options.requestedPolicyVersion": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "format": "int32"
                }
              },
              "path": "v1/{+resource}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "GET"
            },
            "setIamPolicy": {
              "response": {
                "$ref": "Policy"
              },
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "POST",
              "path": "v1/{+resource}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "id": "pubsub.projects.topics.setIamPolicy",
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "snapshots": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/pubsub"
                  ],
                  "flatPath": "v1/projects/{projectsId}/topics/{topicsId}/snapshots",
                  "description": "Lists the names of the snapshots on this topic. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
                  "parameters": {
                    "topic": {
                      "description": "Required. The name of the topic that snapshots are attached to. Format is `projects/{project}/topics/{topic}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/topics/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum number of snapshot names to return."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The value returned by the last `ListTopicSnapshotsResponse`; indicates that this is a continuation of a prior `ListTopicSnapshots` call, and that the system should return the next page of data."
                    }
                  },
                  "httpMethod": "GET",
                  "id": "pubsub.projects.topics.snapshots.list",
                  "path": "v1/{+topic}/snapshots",
                  "response": {
                    "$ref": "ListTopicSnapshotsResponse"
                  },
                  "parameterOrder": [
                    "topic"
                  ]
                }
              }
            },
            "subscriptions": {
              "methods": {
                "list": {
                  "parameters": {
                    "topic": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/topics/[^/]+$",
                      "description": "Required. The name of the topic that subscriptions are attached to. Format is `projects/{project}/topics/{topic}`.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The value returned by the last `ListTopicSubscriptionsResponse`; indicates that this is a continuation of a prior `ListTopicSubscriptions` call, and that the system should return the next page of data."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of subscription names to return.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/topics/{topicsId}/subscriptions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/pubsub"
                  ],
                  "path": "v1/{+topic}/subscriptions",
                  "parameterOrder": [
                    "topic"
                  ],
                  "response": {
                    "$ref": "ListTopicSubscriptionsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "pubsub.projects.topics.subscriptions.list",
                  "description": "Lists the names of the attached subscriptions on this topic."
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20230124",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "pubsub",
  "schemas": {
    "ListSchemaRevisionsResponse": {
      "description": "Response for the `ListSchemaRevisions` method.",
      "properties": {
        "schemas": {
          "type": "array",
          "description": "The revisions of the schema.",
          "items": {
            "$ref": "Schema"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "ListSchemaRevisionsResponse",
      "type": "object"
    },
    "PublishResponse": {
      "type": "object",
      "properties": {
        "messageIds": {
          "items": {
            "type": "string"
          },
          "description": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic.",
          "type": "array"
        }
      },
      "description": "Response for the `Publish` method.",
      "id": "PublishResponse"
    },
    "AcknowledgeRequest": {
      "description": "Request for the Acknowledge method.",
      "properties": {
        "ackIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The acknowledgment ID for the messages being acknowledged that was returned by the Pub/Sub system in the `Pull` response. Must not be empty."
        }
      },
      "type": "object",
      "id": "AcknowledgeRequest"
    },
    "ValidateSchemaResponse": {
      "type": "object",
      "id": "ValidateSchemaResponse",
      "description": "Response for the `ValidateSchema` method. Empty for now.",
      "properties": {}
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "Topic": {
      "id": "Topic",
      "properties": {
        "kmsKeyName": {
          "description": "The resource name of the Cloud KMS CryptoKey to be used to protect access to messages published on this topic. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "type": "boolean"
        },
        "schemaSettings": {
          "$ref": "SchemaSettings",
          "description": "Settings for validating messages published against a schema."
        },
        "messageStoragePolicy": {
          "description": "Policy constraining the set of Google Cloud Platform regions where messages published to the topic may be stored. If not present, then no constraints are in effect.",
          "$ref": "MessageStoragePolicy"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "See [Creating and managing labels] (https://cloud.google.com/pubsub/docs/labels)."
        },
        "messageRetentionDuration": {
          "description": "Indicates the minimum duration to retain a message after it is published to the topic. If this field is set, messages published to the topic in the last `message_retention_duration` are always available to subscribers. For instance, it allows any attached subscription to [seek to a timestamp](https://cloud.google.com/pubsub/docs/replay-overview#seek_to_a_time) that is up to `message_retention_duration` in the past. If this field is not set, message retention is controlled by settings on individual subscriptions. Cannot be more than 31 days or less than 10 minutes.",
          "format": "google-duration",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the topic. It must have the format `\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A topic resource."
    },
    "ModifyPushConfigRequest": {
      "type": "object",
      "properties": {
        "pushConfig": {
          "description": "Required. The push configuration for future deliveries. An empty `pushConfig` indicates that the Pub/Sub system should stop pushing messages from the given subscription and allow messages to be pulled and acknowledged - effectively pausing the subscription if `Pull` or `StreamingPull` is not called.",
          "$ref": "PushConfig"
        }
      },
      "id": "ModifyPushConfigRequest",
      "description": "Request for the ModifyPushConfig method."
    },
    "BigQueryConfig": {
      "description": "Configuration for a BigQuery subscription.",
      "properties": {
        "state": {
          "description": "Output only. An output-only field that indicates whether or not the subscription can receive messages.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The subscription can actively send messages to BigQuery",
            "Cannot write to the BigQuery table because of permission denied errors. This can happen if - Pub/Sub SA has not been granted the [appropriate BigQuery IAM permissions](https://cloud.google.com/pubsub/docs/create-subscription#assign_bigquery_service_account) - bigquery.googleapis.com API is not enabled for the project ([instructions](https://cloud.google.com/service-usage/docs/enable-disable))",
            "Cannot write to the BigQuery table because it does not exist.",
            "Cannot write to the BigQuery table due to a schema mismatch."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PERMISSION_DENIED",
            "NOT_FOUND",
            "SCHEMA_MISMATCH"
          ],
          "type": "string"
        },
        "useTopicSchema": {
          "type": "boolean",
          "description": "When true, use the topic's schema as the columns to write to in BigQuery, if it exists."
        },
        "table": {
          "type": "string",
          "description": "The name of the table to which to write data, of the form {projectId}.{datasetId}.{tableId}"
        },
        "writeMetadata": {
          "type": "boolean",
          "description": "When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column."
        },
        "dropUnknownFields": {
          "type": "boolean",
          "description": "When true and use_topic_schema is true, any fields that are a part of the topic schema that are not part of the BigQuery table schema are dropped when writing to BigQuery. Otherwise, the schemas must be kept in sync and any messages with extra fields are not written and remain in the subscription's backlog."
        }
      },
      "type": "object",
      "id": "BigQueryConfig"
    },
    "ValidateMessageRequest": {
      "id": "ValidateMessageRequest",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the schema against which to validate. Format is `projects/{project}/schemas/{schema}`."
        },
        "message": {
          "format": "byte",
          "description": "Message to validate against the provided `schema_spec`.",
          "type": "string"
        },
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "JSON",
            "BINARY"
          ],
          "enumDescriptions": [
            "Unspecified",
            "JSON encoding",
            "Binary encoding, as defined by the schema type. For some schema types, binary encoding may not be available."
          ],
          "description": "The encoding expected for messages",
          "type": "string"
        },
        "schema": {
          "description": "Ad-hoc schema against which to validate",
          "$ref": "Schema"
        }
      },
      "description": "Request for the `ValidateMessage` method."
    },
    "ModifyAckDeadlineRequest": {
      "properties": {
        "ackDeadlineSeconds": {
          "format": "int32",
          "description": "Required. The new ack deadline with respect to the time this request was sent to the Pub/Sub system. For example, if the value is 10, the new ack deadline will expire 10 seconds after the `ModifyAckDeadline` call was made. Specifying zero might immediately make the message available for delivery to another subscriber client. This typically results in an increase in the rate of message redeliveries (that is, duplicates). The minimum deadline you can specify is 0 seconds. The maximum deadline you can specify is 600 seconds (10 minutes).",
          "type": "integer"
        },
        "ackIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of acknowledgment IDs."
        }
      },
      "id": "ModifyAckDeadlineRequest",
      "description": "Request for the ModifyAckDeadline method.",
      "type": "object"
    },
    "ValidateSchemaRequest": {
      "type": "object",
      "id": "ValidateSchemaRequest",
      "description": "Request for the `ValidateSchema` method.",
      "properties": {
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema object to validate."
        }
      }
    },
    "ListTopicSubscriptionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more subscriptions that match the request; this value should be passed in a new `ListTopicSubscriptionsRequest` to get more subscriptions.",
          "type": "string"
        },
        "subscriptions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of subscriptions attached to the topic specified in the request."
        }
      },
      "id": "ListTopicSubscriptionsResponse",
      "description": "Response for the `ListTopicSubscriptions` method."
    },
    "SeekResponse": {
      "description": "Response for the `Seek` method (this response is empty).",
      "id": "SeekResponse",
      "properties": {},
      "type": "object"
    },
    "PushConfig": {
      "id": "PushConfig",
      "description": "Configuration for a push delivery endpoint.",
      "properties": {
        "pushEndpoint": {
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use `https://example.com/push`.",
          "type": "string"
        },
        "oidcToken": {
          "$ref": "OidcToken",
          "description": "If specified, Pub/Sub will generate and attach an OIDC JWT token as an `Authorization` header in the HTTP request for every pushed message."
        },
        "attributes": {
          "description": "Endpoint configuration attributes that can be used to control different aspects of the message delivery. The only currently supported attribute is `x-goog-version`, which you can use to change the format of the pushed message. This attribute indicates the version of the data expected by the endpoint. This controls the shape of the pushed message (i.e., its fields and metadata). If not present during the `CreateSubscription` call, it will default to the version of the Pub/Sub API used to make such call. If not present in a `ModifyPushConfig` call, its value will not be changed. `GetSubscription` calls will always return a valid version, even if the subscription was created without this attribute. The only supported values for the `x-goog-version` attribute are: * `v1beta1`: uses the push format defined in the v1beta1 Pub/Sub API. * `v1` or `v1beta2`: uses the push format defined in the v1 Pub/Sub API. For example: `attributes { \"x-goog-version\": \"v1\" }`",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "RetryPolicy": {
      "properties": {
        "maximumBackoff": {
          "format": "google-duration",
          "description": "The maximum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 600 seconds.",
          "type": "string"
        },
        "minimumBackoff": {
          "description": "The minimum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 10 seconds.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "RetryPolicy",
      "description": "A policy that specifies how Cloud Pub/Sub retries message delivery. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message. Retry Policy is implemented on a best effort basis. At times, the delay between consecutive deliveries may not match the configuration. That is, delay can be more or less than configured backoff.",
      "type": "object"
    },
    "ListSnapshotsResponse": {
      "properties": {
        "snapshots": {
          "description": "The resulting snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more snapshot that match the request; this value should be passed in a new `ListSnapshotsRequest`."
        }
      },
      "description": "Response for the `ListSnapshots` method.",
      "id": "ListSnapshotsResponse",
      "type": "object"
    },
    "RollbackSchemaRequest": {
      "id": "RollbackSchemaRequest",
      "properties": {
        "revisionId": {
          "description": "Required. The revision ID to roll back to. It must be a revision of the same schema. Example: c7cfa2a8",
          "type": "string"
        }
      },
      "description": "Request for the `RollbackSchema` method.",
      "type": "object"
    },
    "ListSubscriptionsResponse": {
      "description": "Response for the `ListSubscriptions` method.",
      "type": "object",
      "id": "ListSubscriptionsResponse",
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "type": "array",
          "description": "The subscriptions that match the request."
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more subscriptions that match the request; this value should be passed in a new `ListSubscriptionsRequest` to get more subscriptions.",
          "type": "string"
        }
      }
    },
    "SeekRequest": {
      "type": "object",
      "id": "SeekRequest",
      "properties": {
        "time": {
          "format": "google-datetime",
          "description": "The time to seek to. Messages retained in the subscription that were published before this time are marked as acknowledged, and messages retained in the subscription that were published after this time are marked as unacknowledged. Note that this operation affects only those messages retained in the subscription (configured by the combination of `message_retention_duration` and `retain_acked_messages`). For example, if `time` corresponds to a point before the message retention window (or to a point before the system's notion of the subscription creation time), only retained messages will be marked as unacknowledged, and already-expunged messages will not be restored.",
          "type": "string"
        },
        "snapshot": {
          "type": "string",
          "description": "The snapshot to seek to. The snapshot's topic must be the same as that of the provided subscription. Format is `projects/{project}/snapshots/{snap}`."
        }
      },
      "description": "Request for the `Seek` method."
    },
    "ExpirationPolicy": {
      "type": "object",
      "properties": {
        "ttl": {
          "description": "Specifies the \"time-to-live\" duration for an associated resource. The resource expires if it is not active for a period of `ttl`. The definition of \"activity\" depends on the type of the associated resource. The minimum and maximum allowed values for `ttl` depend on the type of the associated resource, as well. If `ttl` is not set, the associated resource never expires.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "A policy that specifies the conditions for resource expiration (i.e., automatic resource deletion).",
      "id": "ExpirationPolicy"
    },
    "PullResponse": {
      "id": "PullResponse",
      "type": "object",
      "description": "Response for the `Pull` method.",
      "properties": {
        "receivedMessages": {
          "description": "Received Pub/Sub messages. The list will be empty if there are no more messages available in the backlog, or if no messages could be returned before the request timeout. For JSON, the response can be entirely empty. The Pub/Sub system may return fewer than the `maxMessages` requested even if there are more messages available in the backlog.",
          "type": "array",
          "items": {
            "$ref": "ReceivedMessage"
          }
        }
      }
    },
    "SchemaSettings": {
      "properties": {
        "encoding": {
          "description": "The encoding of messages validated against `schema`.",
          "enumDescriptions": [
            "Unspecified",
            "JSON encoding",
            "Binary encoding, as defined by the schema type. For some schema types, binary encoding may not be available."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "JSON",
            "BINARY"
          ],
          "type": "string"
        },
        "lastRevisionId": {
          "description": "The maximum (inclusive) revision allowed for validating messages. If empty or not present, allow any revision to be validated against first_revision or any revision created after.",
          "type": "string"
        },
        "firstRevisionId": {
          "description": "The minimum (inclusive) revision allowed for validating messages. If empty or not present, allow any revision to be validated against last_revision or any revision created before.",
          "type": "string"
        },
        "schema": {
          "type": "string",
          "description": "Required. The name of the schema that messages published should be validated against. Format is `projects/{project}/schemas/{schema}`. The value of this field will be `_deleted-schema_` if the schema has been deleted."
        }
      },
      "type": "object",
      "description": "Settings for validating messages published against a schema.",
      "id": "SchemaSettings"
    },
    "Snapshot": {
      "description": "A snapshot resource. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
      "id": "Snapshot",
      "properties": {
        "labels": {
          "description": "See [Creating and managing labels] (https://cloud.google.com/pubsub/docs/labels).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The snapshot is guaranteed to exist up until this time. A newly-created snapshot expires no later than 7 days from the time of its creation. Its exact lifetime is determined at creation by the existing backlog in the source subscription. Specifically, the lifetime of the snapshot is `7 days - (age of oldest unacked message in the subscription)`. For example, consider a subscription whose oldest unacked message is 3 days old. If a snapshot is created from this subscription, the snapshot -- which will always capture this 3-day-old backlog as long as the snapshot exists -- will expire in 4 days. The service will refuse to create a snapshot that would expire in less than 1 hour after creation."
        },
        "topic": {
          "type": "string",
          "description": "The name of the topic from which this snapshot is retaining messages."
        },
        "name": {
          "type": "string",
          "description": "The name of the snapshot."
        }
      },
      "type": "object"
    },
    "Subscription": {
      "type": "object",
      "properties": {
        "retryPolicy": {
          "$ref": "RetryPolicy",
          "description": "A policy that specifies how Pub/Sub retries message delivery for this subscription. If not set, the default retry policy is applied. This generally implies that messages will be retried as soon as possible for healthy subscribers. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message."
        },
        "ackDeadlineSeconds": {
          "description": "The approximate amount of time (on a best-effort basis) Pub/Sub waits for the subscriber to acknowledge receipt before resending the message. In the interval after the message is delivered and before it is acknowledged, it is considered to be _outstanding_. During that time period, the message will not be redelivered (on a best-effort basis). For pull subscriptions, this value is used as the initial value for the ack deadline. To override this value for a given message, call `ModifyAckDeadline` with the corresponding `ack_id` if using non-streaming pull or send the `ack_id` in a `StreamingModifyAckDeadlineRequest` if using streaming pull. The minimum custom deadline you can specify is 10 seconds. The maximum custom deadline you can specify is 600 seconds (10 minutes). If this parameter is 0, a default value of 10 seconds is used. For push delivery, this value is also used to set the request timeout for the call to the push endpoint. If the subscriber never acknowledges the message, the Pub/Sub system will eventually redeliver the message.",
          "format": "int32",
          "type": "integer"
        },
        "deadLetterPolicy": {
          "description": "A policy that specifies the conditions for dead lettering messages in this subscription. If dead_letter_policy is not set, dead lettering is disabled. The Cloud Pub/Sub service account associated with this subscriptions's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Acknowledge() messages on this subscription.",
          "$ref": "DeadLetterPolicy"
        },
        "labels": {
          "description": "See [Creating and managing labels](https://cloud.google.com/pubsub/docs/labels).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. An output-only field indicating whether or not the subscription can receive messages.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The subscription can actively receive messages",
            "The subscription cannot receive messages because of an error with the resource to which it pushes messages. See the more detailed error state in the corresponding configuration."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "RESOURCE_ERROR"
          ],
          "readOnly": true
        },
        "enableMessageOrdering": {
          "description": "If true, messages published with the same `ordering_key` in `PubsubMessage` will be delivered to the subscribers in the order in which they are received by the Pub/Sub system. Otherwise, they may be delivered in any order.",
          "type": "boolean"
        },
        "messageRetentionDuration": {
          "type": "string",
          "description": "How long to retain unacknowledged messages in the subscription's backlog, from the moment a message is published. If `retain_acked_messages` is true, then this also configures the retention of acknowledged messages, and thus configures how far back in time a `Seek` can be done. Defaults to 7 days. Cannot be more than 7 days or less than 10 minutes.",
          "format": "google-duration"
        },
        "bigqueryConfig": {
          "$ref": "BigQueryConfig",
[...]
