{
  "version": "v1",
  "servicePath": "",
  "batchPath": "batch",
  "name": "pubsub",
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "title": "Cloud Pub/Sub API",
  "id": "pubsub:v1",
  "canonicalName": "Pubsub",
  "revision": "20230509",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "schemas": {
    "UpdateTopicRequest": {
      "properties": {
        "updateMask": {
          "description": "Required. Indicates which fields in the provided topic to update. Must be specified and non-empty. Note that if `update_mask` contains \"message_storage_policy\" but the `message_storage_policy` is not set in the `topic` provided above, then the updated value is determined by the policy configured at the project or organization level.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "topic": {
          "description": "Required. The updated topic object.",
          "$ref": "Topic"
        }
      },
      "id": "UpdateTopicRequest",
      "description": "Request for the UpdateTopic method.",
      "type": "object"
    },
    "AvroConfig": {
      "type": "object",
      "id": "AvroConfig",
      "description": "Configuration for writing message data in Avro format. Message payloads and metadata will be written to files as an Avro binary.",
      "properties": {
        "writeMetadata": {
          "type": "boolean",
          "description": "When true, write the subscription name, message_id, publish_time, attributes, and ordering_key as additional fields in the output."
        }
      }
    },
    "ValidateMessageResponse": {
      "type": "object",
      "description": "Response for the `ValidateMessage` method. Empty for now.",
      "id": "ValidateMessageResponse",
      "properties": {}
    },
    "ModifyPushConfigRequest": {
      "properties": {
        "pushConfig": {
          "description": "Required. The push configuration for future deliveries. An empty `pushConfig` indicates that the Pub/Sub system should stop pushing messages from the given subscription and allow messages to be pulled and acknowledged - effectively pausing the subscription if `Pull` or `StreamingPull` is not called.",
          "$ref": "PushConfig"
        }
      },
      "id": "ModifyPushConfigRequest",
      "description": "Request for the ModifyPushConfig method.",
      "type": "object"
    },
    "ReceivedMessage": {
      "id": "ReceivedMessage",
      "properties": {
        "message": {
          "description": "The message.",
          "$ref": "PubsubMessage"
        },
        "ackId": {
          "description": "This ID can be used to acknowledge the received message.",
          "type": "string"
        },
        "deliveryAttempt": {
          "type": "integer",
          "format": "int32",
          "description": "The approximate number of times that Cloud Pub/Sub has attempted to deliver the associated message to a subscriber. More precisely, this is 1 + (number of NACKs) + (number of ack_deadline exceeds) for this message. A NACK is any call to ModifyAckDeadline with a 0 deadline. An ack_deadline exceeds event is whenever a message is not acknowledged within ack_deadline. Note that ack_deadline is initially Subscription.ackDeadlineSeconds, but may get extended automatically by the client library. Upon the first delivery of a given message, `delivery_attempt` will have a value of 1. The value is calculated at best effort and is approximate. If a DeadLetterPolicy is not set on the subscription, this will be 0."
        }
      },
      "type": "object",
      "description": "A message and its corresponding acknowledgment ID."
    },
    "TextConfig": {
      "type": "object",
      "description": "Configuration for writing message data in text format. Message payloads will be written to files as raw text, separated by a newline.",
      "properties": {},
      "id": "TextConfig"
    },
    "OidcToken": {
      "type": "object",
      "description": "Contains information needed for generating an [OpenID Connect token](https://developers.google.com/identity/protocols/OpenIDConnect).",
      "id": "OidcToken",
      "properties": {
        "audience": {
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for. The audience value is a single case-sensitive string. Having multiple values (array) for the audience field is not supported. More info about the OIDC JWT token audience here: https://tools.ietf.org/html/rfc7519#section-4.1.3 Note: if not specified, the Push endpoint URL will be used.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "[Service account email](https://cloud.google.com/iam/docs/service-accounts) used for generating the OIDC token. For more information on setting up authentication, see [Push subscriptions](https://cloud.google.com/pubsub/docs/push).",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse"
    },
    "ListTopicsResponse": {
      "type": "object",
      "properties": {
        "topics": {
          "type": "array",
          "description": "The resulting topics.",
          "items": {
            "$ref": "Topic"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more topics that match the request; this value should be passed in a new `ListTopicsRequest`."
        }
      },
      "id": "ListTopicsResponse",
      "description": "Response for the `ListTopics` method."
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "type": "object",
      "id": "Binding"
    },
    "RollbackSchemaRequest": {
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "Required. The revision ID to roll back to. It must be a revision of the same schema. Example: c7cfa2a8"
        }
      },
      "description": "Request for the `RollbackSchema` method.",
      "id": "RollbackSchemaRequest",
      "type": "object"
    },
    "ListTopicSnapshotsResponse": {
      "id": "ListTopicSnapshotsResponse",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more snapshots that match the request; this value should be passed in a new `ListTopicSnapshotsRequest` to get more snapshots.",
          "type": "string"
        },
        "snapshots": {
          "items": {
            "type": "string"
          },
          "description": "The names of the snapshots that match the request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for the `ListTopicSnapshots` method."
    },
    "ListSnapshotsResponse": {
      "description": "Response for the `ListSnapshots` method.",
      "id": "ListSnapshotsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more snapshot that match the request; this value should be passed in a new `ListSnapshotsRequest`."
        },
        "snapshots": {
          "description": "The resulting snapshots.",
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          }
        }
      },
      "type": "object"
    },
    "ListSchemaRevisionsResponse": {
      "type": "object",
      "description": "Response for the `ListSchemaRevisions` method.",
      "id": "ListSchemaRevisionsResponse",
      "properties": {
        "schemas": {
          "items": {
            "$ref": "Schema"
          },
          "type": "array",
          "description": "The revisions of the schema."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "id": "ListSubscriptionsResponse",
      "description": "Response for the `ListSubscriptions` method.",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more subscriptions that match the request; this value should be passed in a new `ListSubscriptionsRequest` to get more subscriptions.",
          "type": "string"
        },
        "subscriptions": {
          "type": "array",
          "description": "The subscriptions that match the request.",
          "items": {
            "$ref": "Subscription"
          }
        }
      }
    },
    "DeadLetterPolicy": {
      "description": "Dead lettering is done on a best effort basis. The same message might be dead lettered multiple times. If validation on any of the fields fails at subscription creation/updation, the create/update subscription request will fail.",
      "id": "DeadLetterPolicy",
      "properties": {
        "maxDeliveryAttempts": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of delivery attempts for any message. The value must be between 5 and 100. The number of delivery attempts is defined as 1 + (the sum of number of NACKs and number of times the acknowledgement deadline has been exceeded for the message). A NACK is any call to ModifyAckDeadline with a 0 deadline. Note that client libraries may automatically extend ack_deadlines. This field will be honored on a best effort basis. If this parameter is 0, a default value of 5 is used."
        },
        "deadLetterTopic": {
          "description": "The name of the topic to which dead letter messages should be published. Format is `projects/{project}/topics/{topic}`.The Cloud Pub/Sub service account associated with the enclosing subscription's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Publish() to this topic. The operation will fail if the topic does not exist. Users should ensure that there is a subscription attached to this topic since messages published to a topic with no subscriptions are lost.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudStorageConfig": {
      "description": "Configuration for a Cloud Storage subscription.",
      "properties": {
        "filenameSuffix": {
          "description": "User-provided suffix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming).",
          "type": "string"
        },
        "avroConfig": {
          "description": "If set, message data will be written to Cloud Storage in Avro format.",
          "$ref": "AvroConfig"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The subscription can actively send messages to Cloud Storage.",
            "Cannot write to the Cloud Storage bucket because of permission denied errors.",
            "Cannot write to the Cloud Storage bucket because it does not exist."
          ],
          "description": "Output only. An output-only field that indicates whether or not the subscription can receive messages."
        },
        "maxBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum bytes that can be written to a Cloud Storage file before a new file is created. Min 1 KB, max 10 GiB. The max_bytes limit may be exceeded in cases where messages are larger than the limit."
        },
        "bucket": {
          "type": "string",
          "description": "Required. User-provided name for the Cloud Storage bucket. The bucket must be created by the user. The bucket name must be without any prefix like \"gs://\". See the [bucket naming requirements] (https://cloud.google.com/storage/docs/buckets#naming)."
        },
        "textConfig": {
          "$ref": "TextConfig",
          "description": "If set, message data will be written to Cloud Storage in text format."
        },
        "filenamePrefix": {
          "type": "string",
          "description": "User-provided prefix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming)."
        },
        "maxDuration": {
          "format": "google-duration",
          "description": "The maximum duration that can elapse before a new Cloud Storage file is created. Min 1 minute, max 10 minutes, default 5 minutes. May not exceed the subscription's acknowledgement deadline.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudStorageConfig"
    },
    "Expr": {
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "Snapshot": {
      "type": "object",
      "id": "Snapshot",
      "properties": {
        "topic": {
          "description": "The name of the topic from which this snapshot is retaining messages.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "The snapshot is guaranteed to exist up until this time. A newly-created snapshot expires no later than 7 days from the time of its creation. Its exact lifetime is determined at creation by the existing backlog in the source subscription. Specifically, the lifetime of the snapshot is `7 days - (age of oldest unacked message in the subscription)`. For example, consider a subscription whose oldest unacked message is 3 days old. If a snapshot is created from this subscription, the snapshot -- which will always capture this 3-day-old backlog as long as the snapshot exists -- will expire in 4 days. The service will refuse to create a snapshot that would expire in less than 1 hour after creation.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "See [Creating and managing labels] (https://cloud.google.com/pubsub/docs/labels)."
        },
        "name": {
          "type": "string",
          "description": "The name of the snapshot."
        }
      },
      "description": "A snapshot resource. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot."
    },
    "PubsubMessage": {
      "id": "PubsubMessage",
      "type": "object",
      "description": "A message that is published by publishers and consumed by subscribers. The message must contain either a non-empty data field or at least one attribute. Note that client libraries represent this object differently depending on the language. See the corresponding [client library documentation](https://cloud.google.com/pubsub/docs/reference/libraries) for more information. See [quotas and limits] (https://cloud.google.com/pubsub/quotas) for more information about message limits.",
      "properties": {
        "orderingKey": {
          "description": "If non-empty, identifies related messages for which publish order should be respected. If a `Subscription` has `enable_message_ordering` set to `true`, messages published with the same non-empty `ordering_key` value will be delivered to subscribers in the order in which they are received by the Pub/Sub system. All `PubsubMessage`s published in a given `PublishRequest` must specify the same `ordering_key` value. For more information, see [ordering messages](https://cloud.google.com/pubsub/docs/ordering).",
          "type": "string"
        },
        "publishTime": {
          "format": "google-datetime",
          "description": "The time at which the message was published, populated by the server when it receives the `Publish` call. It must not be populated by the publisher in a `Publish` call.",
          "type": "string"
        },
        "attributes": {
          "description": "Attributes for this message. If this field is empty, the message must contain non-empty data. This can be used to filter messages on the subscription.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "data": {
          "description": "The message data field. If this field is empty, the message must contain at least one attribute.",
          "type": "string",
          "format": "byte"
        },
        "messageId": {
          "description": "ID of this message, assigned by the server when the message is published. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a `PubsubMessage` via a `Pull` call or a push delivery. It must not be populated by the publisher in a `Publish` call.",
          "type": "string"
        }
      }
    },
    "ModifyAckDeadlineRequest": {
      "description": "Request for the ModifyAckDeadline method.",
      "id": "ModifyAckDeadlineRequest",
      "type": "object",
      "properties": {
        "ackIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of acknowledgment IDs.",
          "type": "array"
        },
        "ackDeadlineSeconds": {
          "format": "int32",
          "description": "Required. The new ack deadline with respect to the time this request was sent to the Pub/Sub system. For example, if the value is 10, the new ack deadline will expire 10 seconds after the `ModifyAckDeadline` call was made. Specifying zero might immediately make the message available for delivery to another subscriber client. This typically results in an increase in the rate of message redeliveries (that is, duplicates). The minimum deadline you can specify is 0 seconds. The maximum deadline you can specify is 600 seconds (10 minutes).",
          "type": "integer"
        }
      }
    },
    "Schema": {
      "description": "A schema resource.",
      "type": "object",
      "id": "Schema",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A Protocol Buffer schema definition.",
            "An Avro schema definition."
          ],
          "type": "string",
          "description": "The type of the schema definition.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PROTOCOL_BUFFER",
            "AVRO"
          ]
        },
        "definition": {
          "type": "string",
          "description": "The definition of the schema. This should contain a string representing the full definition of the schema that is a valid schema definition of the type specified in `type`."
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. Immutable. The revision ID of the schema.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the schema. Format is `projects/{project}/schemas/{schema}`.",
          "type": "string"
        },
        "revisionCreateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp that the revision was created."
        }
      }
    },
    "DetachSubscriptionResponse": {
      "type": "object",
      "description": "Response for the DetachSubscription method. Reserved for future use.",
      "properties": {},
      "id": "DetachSubscriptionResponse"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "PushConfig": {
      "type": "object",
      "description": "Configuration for a push delivery endpoint.",
      "properties": {
        "pushEndpoint": {
          "type": "string",
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use `https://example.com/push`."
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Endpoint configuration attributes that can be used to control different aspects of the message delivery. The only currently supported attribute is `x-goog-version`, which you can use to change the format of the pushed message. This attribute indicates the version of the data expected by the endpoint. This controls the shape of the pushed message (i.e., its fields and metadata). If not present during the `CreateSubscription` call, it will default to the version of the Pub/Sub API used to make such call. If not present in a `ModifyPushConfig` call, its value will not be changed. `GetSubscription` calls will always return a valid version, even if the subscription was created without this attribute. The only supported values for the `x-goog-version` attribute are: * `v1beta1`: uses the push format defined in the v1beta1 Pub/Sub API. * `v1` or `v1beta2`: uses the push format defined in the v1 Pub/Sub API. For example: `attributes { \"x-goog-version\": \"v1\" }`"
        },
        "oidcToken": {
          "$ref": "OidcToken",
          "description": "If specified, Pub/Sub will generate and attach an OIDC JWT token as an `Authorization` header in the HTTP request for every pushed message."
        }
      },
      "id": "PushConfig"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "UpdateSubscriptionRequest": {
      "id": "UpdateSubscriptionRequest",
      "properties": {
        "subscription": {
          "description": "Required. The updated subscription object.",
          "$ref": "Subscription"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Indicates which fields in the provided subscription to update. Must be specified and non-empty."
        }
      },
      "type": "object",
      "description": "Request for the UpdateSubscription method."
    },
    "BigQueryConfig": {
      "properties": {
        "table": {
          "type": "string",
          "description": "The name of the table to which to write data, of the form {projectId}.{datasetId}.{tableId}"
        },
        "useTopicSchema": {
          "type": "boolean",
          "description": "When true, use the topic's schema as the columns to write to in BigQuery, if it exists."
        },
        "writeMetadata": {
          "type": "boolean",
          "description": "When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column."
        },
        "dropUnknownFields": {
          "description": "When true and use_topic_schema is true, any fields that are a part of the topic schema that are not part of the BigQuery table schema are dropped when writing to BigQuery. Otherwise, the schemas must be kept in sync and any messages with extra fields are not written and remain in the subscription's backlog.",
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "description": "Output only. An output-only field that indicates whether or not the subscription can receive messages.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The subscription can actively send messages to BigQuery",
            "Cannot write to the BigQuery table because of permission denied errors. This can happen if - Pub/Sub SA has not been granted the [appropriate BigQuery IAM permissions](https://cloud.google.com/pubsub/docs/create-subscription#assign_bigquery_service_account) - bigquery.googleapis.com API is not enabled for the project ([instructions](https://cloud.google.com/service-usage/docs/enable-disable))",
            "Cannot write to the BigQuery table because it does not exist.",
            "Cannot write to the BigQuery table due to a schema mismatch."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PERMISSION_DENIED",
            "NOT_FOUND",
            "SCHEMA_MISMATCH"
          ]
        }
      },
      "description": "Configuration for a BigQuery subscription.",
      "type": "object",
      "id": "BigQueryConfig"
    },
    "ListTopicSubscriptionsResponse": {
      "properties": {
        "subscriptions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of subscriptions attached to the topic specified in the request."
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more subscriptions that match the request; this value should be passed in a new `ListTopicSubscriptionsRequest` to get more subscriptions.",
          "type": "string"
        }
      },
      "description": "Response for the `ListTopicSubscriptions` method.",
      "id": "ListTopicSubscriptionsResponse",
      "type": "object"
    },
    "CreateSnapshotRequest": {
      "type": "object",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "Required. The subscription whose backlog the snapshot retains. Specifically, the created snapshot is guaranteed to retain: (a) The existing backlog on the subscription. More precisely, this is defined as the messages in the subscription's backlog that are unacknowledged upon the successful completion of the `CreateSnapshot` request; as well as: (b) Any messages published to the subscription's topic following the successful completion of the CreateSnapshot request. Format is `projects/{project}/subscriptions/{sub}`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "See [Creating and managing labels](https://cloud.google.com/pubsub/docs/labels)."
        }
      },
      "description": "Request for the `CreateSnapshot` method.",
      "id": "CreateSnapshotRequest"
    },
    "MessageStoragePolicy": {
      "description": "A policy constraining the storage of messages published to the topic.",
      "id": "MessageStoragePolicy",
      "type": "object",
      "properties": {
        "allowedPersistenceRegions": {
          "type": "array",
          "description": "A list of IDs of GCP regions where messages that are published to the topic may be persisted in storage. Messages published by publishers running in non-allowed GCP regions (or running outside of GCP altogether) will be routed for storage in one of the allowed regions. An empty list means that no regions are allowed, and is not a valid configuration.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PublishResponse": {
      "description": "Response for the `Publish` method.",
      "type": "object",
      "properties": {
        "messageIds": {
          "description": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "PublishResponse"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Topic": {
      "id": "Topic",
      "type": "object",
      "properties": {
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests."
        },
        "kmsKeyName": {
          "description": "The resource name of the Cloud KMS CryptoKey to be used to protect access to messages published on this topic. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the topic. It must have the format `\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "See [Creating and managing labels] (https://cloud.google.com/pubsub/docs/labels)."
        },
        "messageStoragePolicy": {
          "$ref": "MessageStoragePolicy",
          "description": "Policy constraining the set of Google Cloud Platform regions where messages published to the topic may be stored. If not present, then no constraints are in effect."
        },
        "messageRetentionDuration": {
          "type": "string",
          "description": "Indicates the minimum duration to retain a message after it is published to the topic. If this field is set, messages published to the topic in the last `message_retention_duration` are always available to subscribers. For instance, it allows any attached subscription to [seek to a timestamp](https://cloud.google.com/pubsub/docs/replay-overview#seek_to_a_time) that is up to `message_retention_duration` in the past. If this field is not set, message retention is controlled by settings on individual subscriptions. Cannot be more than 31 days or less than 10 minutes.",
          "format": "google-duration"
        },
        "schemaSettings": {
          "description": "Settings for validating messages published against a schema.",
          "$ref": "SchemaSettings"
        }
      },
      "description": "A topic resource."
    },
    "ExpirationPolicy": {
      "type": "object",
      "properties": {
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Specifies the \"time-to-live\" duration for an associated resource. The resource expires if it is not active for a period of `ttl`. The definition of \"activity\" depends on the type of the associated resource. The minimum and maximum allowed values for `ttl` depend on the type of the associated resource, as well. If `ttl` is not set, the associated resource never expires."
        }
      },
      "description": "A policy that specifies the conditions for resource expiration (i.e., automatic resource deletion).",
      "id": "ExpirationPolicy"
    },
    "PullRequest": {
      "description": "Request for the `Pull` method.",
      "properties": {
        "returnImmediately": {
          "description": "Optional. If this field set to true, the system will respond immediately even if it there are no messages available to return in the `Pull` response. Otherwise, the system may wait (for a bounded amount of time) until at least one message is available, rather than returning no messages. Warning: setting this field to `true` is discouraged because it adversely impacts the performance of `Pull` operations. We recommend that users do not set this field.",
          "type": "boolean"
        },
        "maxMessages": {
          "description": "Required. The maximum number of messages to return for this request. Must be a positive integer. The Pub/Sub system may return fewer than the number specified.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "PullRequest",
      "type": "object"
    },
    "SchemaSettings": {
      "properties": {
        "lastRevisionId": {
          "description": "The maximum (inclusive) revision allowed for validating messages. If empty or not present, allow any revision to be validated against first_revision or any revision created after.",
          "type": "string"
        },
        "schema": {
          "description": "Required. The name of the schema that messages published should be validated against. Format is `projects/{project}/schemas/{schema}`. The value of this field will be `_deleted-schema_` if the schema has been deleted.",
          "type": "string"
        },
        "firstRevisionId": {
          "type": "string",
          "description": "The minimum (inclusive) revision allowed for validating messages. If empty or not present, allow any revision to be validated against last_revision or any revision created before."
        },
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "JSON",
            "BINARY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "JSON encoding",
            "Binary encoding, as defined by the schema type. For some schema types, binary encoding may not be available."
          ],
          "description": "The encoding of messages validated against `schema`."
        }
      },
      "description": "Settings for validating messages published against a schema.",
      "type": "object",
      "id": "SchemaSettings"
    },
    "Subscription": {
      "description": "A subscription resource. If none of `push_config`, `bigquery_config`, or `cloud_storage_config` is set, then the subscriber will pull and ack messages using API methods. At most one of these fields may be set.",
      "type": "object",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Required. The name of the topic from which this subscription is receiving messages. Format is `projects/{project}/topics/{topic}`. The value of this field will be `_deleted-topic_` if the topic has been deleted."
        },
        "filter": {
          "description": "An expression written in the Pub/Sub [filter language](https://cloud.google.com/pubsub/docs/filtering). If non-empty, then only `PubsubMessage`s whose `attributes` field matches the filter are delivered on this subscription. If empty, then no messages are filtered out.",
          "type": "string"
        },
        "retryPolicy": {
          "$ref": "RetryPolicy",
          "description": "A policy that specifies how Pub/Sub retries message delivery for this subscription. If not set, the default retry policy is applied. This generally implies that messages will be retried as soon as possible for healthy subscribers. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message."
        },
        "detached": {
          "type": "boolean",
          "description": "Indicates whether the subscription is detached from its topic. Detached subscriptions don't receive messages from their topic and don't retain any backlog. `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will not be made."
        },
        "retainAckedMessages": {
          "description": "Indicates whether to retain acknowledged messages. If true, then messages are not expunged from the subscription's backlog, even if they are acknowledged, until they fall out of the `message_retention_duration` window. This must be true if you would like to [`Seek` to a timestamp] (https://cloud.google.com/pubsub/docs/replay-overview#seek_to_a_time) in the past to replay previously-acknowledged messages.",
          "type": "boolean"
        },
        "cloudStorageConfig": {
          "$ref": "CloudStorageConfig",
          "description": "If delivery to Google Cloud Storage is used with this subscription, this field is used to configure it."
        },
        "expirationPolicy": {
          "description": "A policy that specifies the conditions for this subscription's expiration. A subscription is considered active as long as any connected subscriber is successfully consuming messages from the subscription or is issuing operations on the subscription. If `expiration_policy` is not set, a *default policy* with `ttl` of 31 days will be used. The minimum allowed value for `expiration_policy.ttl` is 1 day. If `expiration_policy` is set, but `expiration_policy.ttl` is not set, the subscription never expires.",
          "$ref": "ExpirationPolicy"
        },
        "enableExactlyOnceDelivery": {
          "description": "If true, Pub/Sub provides the following guarantees for the delivery of a message with a given value of `message_id` on this subscription: * The message sent to a subscriber is guaranteed not to be resent before the message's acknowledgement deadline expires. * An acknowledged message will not be resent to a subscriber. Note that subscribers may still receive multiple copies of a message when `enable_exactly_once_delivery` is true if the message was published multiple times by a publisher client. These copies are considered distinct by Pub/Sub and have distinct `message_id` values.",
          "type": "boolean"
        },
        "topicMessageRetentionDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Indicates the minimum duration for which a message is retained after it is published to the subscription's topic. If this field is set, messages published to the subscription's topic in the last `topic_message_retention_duration` are always available to subscribers. See the `message_retention_duration` field in `Topic`. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "readOnly": true
        },
        "bigqueryConfig": {
          "$ref": "BigQueryConfig",
          "description": "If delivery to BigQuery is used with this subscription, this field is used to configure it."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`."
        },
        "pushConfig": {
          "$ref": "PushConfig",
          "description": "If push delivery is used with this subscription, this field is used to configure it."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The subscription can actively receive messages",
            "The subscription cannot receive messages because of an error with the resource to which it pushes messages. See the more detailed error state in the corresponding configuration."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "RESOURCE_ERROR"
          ],
          "description": "Output only. An output-only field indicating whether or not the subscription can receive messages."
        },
        "enableMessageOrdering": {
          "type": "boolean",
          "description": "If true, messages published with the same `ordering_key` in `PubsubMessage` will be delivered to the subscribers in the order in which they are received by the Pub/Sub system. Otherwise, they may be delivered in any order."
        },
        "deadLetterPolicy": {
          "description": "A policy that specifies the conditions for dead lettering messages in this subscription. If dead_letter_policy is not set, dead lettering is disabled. The Cloud Pub/Sub service account associated with this subscriptions's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Acknowledge() messages on this subscription.",
          "$ref": "DeadLetterPolicy"
        },
        "messageRetentionDuration": {
          "type": "string",
          "description": "How long to retain unacknowledged messages in the subscription's backlog, from the moment a message is published. If `retain_acked_messages` is true, then this also configures the retention of acknowledged messages, and thus configures how far back in time a `Seek` can be done. Defaults to 7 days. Cannot be more than 7 days or less than 10 minutes.",
          "format": "google-duration"
        },
        "ackDeadlineSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "The approximate amount of time (on a best-effort basis) Pub/Sub waits for the subscriber to acknowledge receipt before resending the message. In the interval after the message is delivered and before it is acknowledged, it is considered to be _outstanding_. During that time period, the message will not be redelivered (on a best-effort basis). For pull subscriptions, this value is used as the initial value for the ack deadline. To override this value for a given message, call `ModifyAckDeadline` with the corresponding `ack_id` if using non-streaming pull or send the `ack_id` in a `StreamingModifyAckDeadlineRequest` if using streaming pull. The minimum custom deadline you can specify is 10 seconds. The maximum custom deadline you can specify is 600 seconds (10 minutes). If this parameter is 0, a default value of 10 seconds is used. For push delivery, this value is also used to set the request timeout for the call to the push endpoint. If the subscriber never acknowledges the message, the Pub/Sub system will eventually redeliver the message."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "See [Creating and managing labels](https://cloud.google.com/pubsub/docs/labels)."
        }
      },
      "id": "Subscription"
    },
    "UpdateSnapshotRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Indicates which fields in the provided snapshot to update. Must be specified and non-empty."
        },
        "snapshot": {
          "description": "Required. The updated snapshot object.",
          "$ref": "Snapshot"
        }
      },
      "description": "Request for the UpdateSnapshot method.",
      "id": "UpdateSnapshotRequest",
      "type": "object"
    },
    "ListSchemasResponse": {
      "properties": {
        "schemas": {
          "items": {
            "$ref": "Schema"
          },
          "description": "The resulting schemas.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more schemas that match the request; this value should be passed in a new `ListSchemasRequest`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for the `ListSchemas` method.",
      "id": "ListSchemasResponse"
    },
    "SeekResponse": {
      "id": "SeekResponse",
      "description": "Response for the `Seek` method (this response is empty).",
      "properties": {},
      "type": "object"
    },
    "ValidateSchemaRequest": {
      "type": "object",
      "id": "ValidateSchemaRequest",
      "properties": {
        "schema": {
          "description": "Required. The schema object to validate.",
          "$ref": "Schema"
        }
      },
      "description": "Request for the `ValidateSchema` method."
    },
    "RetryPolicy": {
      "type": "object",
      "properties": {
        "maximumBackoff": {
          "type": "string",
          "format": "google-duration",
          "description": "The maximum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 600 seconds."
        },
        "minimumBackoff": {
          "description": "The minimum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 10 seconds.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "RetryPolicy",
      "description": "A policy that specifies how Cloud Pub/Sub retries message delivery. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message. Retry Policy is implemented on a best effort basis. At times, the delay between consecutive deliveries may not match the configuration. That is, delay can be more or less than configured backoff."
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "properties": {
        "messages": {
          "type": "array",
          "description": "Required. The messages to publish.",
          "items": {
            "$ref": "PubsubMessage"
          }
        }
      },
      "type": "object",
      "description": "Request for the Publish method."
    },
    "ValidateMessageRequest": {
      "description": "Request for the `ValidateMessage` method.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the schema against which to validate. Format is `projects/{project}/schemas/{schema}`."
        },
        "schema": {
          "$ref": "Schema",
          "description": "Ad-hoc schema against which to validate"
        },
        "encoding": {
          "type": "string",
          "description": "The encoding expected for messages",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "JSON",
            "BINARY"
          ],
          "enumDescriptions": [
            "Unspecified",
            "JSON encoding",
            "Binary encoding, as defined by the schema type. For some schema types, binary encoding may not be available."
          ]
        },
        "message": {
          "type": "string",
          "format": "byte",
          "description": "Message to validate against the provided `schema_spec`."
        }
      },
      "id": "ValidateMessageRequest",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "CommitSchemaRequest": {
      "id": "CommitSchemaRequest",
      "type": "object",
      "description": "Request for CommitSchema method.",
      "properties": {
        "schema": {
          "description": "Required. The schema revision to commit.",
          "$ref": "Schema"
        }
      }
    },
    "PullResponse": {
      "description": "Response for the `Pull` method.",
      "id": "PullResponse",
      "properties": {
        "receivedMessages": {
          "items": {
            "$ref": "ReceivedMessage"
          },
          "type": "array",
          "description": "Received Pub/Sub messages. The list will be empty if there are no more messages available in the backlog, or if no messages could be returned before the request timeout. For JSON, the response can be entirely empty. The Pub/Sub system may return fewer than the `maxMessages` requested even if there are more messages available in the backlog."
        }
      },
      "type": "object"
    },
    "SeekRequest": {
      "properties": {
        "time": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time to seek to. Messages retained in the subscription that were published before this time are marked as acknowledged, and messages retained in the subscription that were published after this time are marked as unacknowledged. Note that this operation affects only those messages retained in the subscription (configured by the combination of `message_retention_duration` and `retain_acked_messages`). For example, if `time` corresponds to a point before the message retention window (or to a point before the system's notion of the subscription creation time), only retained messages will be marked as unacknowledged, and already-expunged messages will not be restored."
        },
        "snapshot": {
          "type": "string",
          "description": "The snapshot to seek to. The snapshot's topic must be the same as that of the provided subscription. Format is `projects/{project}/snapshots/{snap}`."
        }
      },
      "type": "object",
      "id": "SeekRequest",
      "description": "Request for the `Seek` method."
    },
    "AcknowledgeRequest": {
      "type": "object",
      "id": "AcknowledgeRequest",
      "properties": {
        "ackIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The acknowledgment ID for the messages being acknowledged that was returned by the Pub/Sub system in the `Pull` response. Must not be empty."
        }
      },
      "description": "Request for the Acknowledge method."
    },
    "ValidateSchemaResponse": {
      "id": "ValidateSchemaResponse",
      "type": "object",
      "description": "Response for the `ValidateSchema` method. Empty for now.",
      "properties": {}
    }
  },
  "rootUrl": "https://pubsub.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "schemas": {
          "methods": {
            "listRevisions": {
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:listRevisions",
              "parameterOrder": [
                "name"
              ],
              "id": "pubsub.projects.schemas.listRevisions",
              "response": {
                "$ref": "ListSchemaRevisionsResponse"
              },
              "path": "v1/{+name}:listRevisions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameters": {
                "view": {
                  "description": "The set of Schema fields to return in the response. If not set, returns Schemas with `name` and `type`, but not `definition`. Set to `FULL` to retrieve all fields.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ]
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of revisions to return per page."
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token, received from a previous ListSchemaRevisions call. Provide this to retrieve the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "description": "Required. The name of the schema to list revisions for."
                }
              },
              "description": "Lists all schema revisions for the named schema.",
              "httpMethod": "GET"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.schemas.create",
              "request": {
                "$ref": "Schema"
              },
              "path": "v1/{+parent}/schemas",
              "description": "Creates a schema.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "schemaId": {
                  "description": "The ID to use for the schema, which will become the final component of the schema's resource name. See https://cloud.google.com/pubsub/docs/admin#resource_names for resource name constraints.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project in which to create the schema. Format is `projects/{project-id}`."
                }
              },
              "response": {
                "$ref": "Schema"
              },
              "flatPath": "v1/projects/{projectsId}/schemas",
              "httpMethod": "POST"
            },
            "setIamPolicy": {
              "id": "pubsub.projects.schemas.setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
            },
            "delete": {
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the schema to delete. Format is `projects/{project}/schemas/{schema}`.",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "id": "pubsub.projects.schemas.delete",
              "description": "Deletes a schema.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "testIamPermissions": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "httpMethod": "POST",
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:testIamPermissions",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$"
                }
              },
              "id": "pubsub.projects.schemas.testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "path": "v1/{+resource}:testIamPermissions"
            },
            "validateMessage": {
              "description": "Validates a message against a schema.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "ValidateMessageResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "ValidateMessageRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the project in which to validate schemas. Format is `projects/{project-id}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "id": "pubsub.projects.schemas.validateMessage",
              "path": "v1/{+parent}/schemas:validateMessage",
              "flatPath": "v1/projects/{projectsId}/schemas:validateMessage"
            },
            "commit": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the schema we are revising. Format is `projects/{project}/schemas/{schema}`."
                }
              },
              "path": "v1/{+name}:commit",
              "description": "Commits a new schema revision to an existing schema.",
              "response": {
                "$ref": "Schema"
              },
              "id": "pubsub.projects.schemas.commit",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "CommitSchemaRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:commit"
            },
            "rollback": {
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:rollback",
              "httpMethod": "POST",
              "response": {
                "$ref": "Schema"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "description": "Required. The schema being rolled back with revision id."
                }
              },
              "path": "v1/{+name}:rollback",
              "description": "Creates a new schema revision that is a copy of the provided revision_id.",
              "request": {
                "$ref": "RollbackSchemaRequest"
              },
              "id": "pubsub.projects.schemas.rollback",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "deleteRevision": {
              "id": "pubsub.projects.schemas.deleteRevision",
              "path": "v1/{+name}:deleteRevision",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:deleteRevision",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "description": "Required. The name of the schema revision to be deleted, with a revision ID explicitly included. Example: `projects/123/schemas/my-schema@c7cfa2a8`"
                },
                "revisionId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. This field is deprecated and should not be used for specifying the revision ID. The revision ID should be specified via the `name` parameter."
                }
              },
              "httpMethod": "DELETE",
              "description": "Deletes a specific schema revision.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Schema"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Gets a schema.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Schema"
              },
              "id": "pubsub.projects.schemas.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}",
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ],
                  "type": "string",
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "description": "The set of fields to return in the response. If not set, returns a Schema with all fields filled out. Set to `BASIC` to omit the `definition`.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the schema to get. Format is `projects/{project}/schemas/{schema}`."
                }
              }
            },
            "getIamPolicy": {
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                },
                "options.requestedPolicyVersion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "location": "query"
                }
              },
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "id": "pubsub.projects.schemas.getIamPolicy"
            },
            "validate": {
              "flatPath": "v1/projects/{projectsId}/schemas:validate",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/schemas:validate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "ValidateSchemaRequest"
              },
              "httpMethod": "POST",
              "description": "Validates a schema.",
              "id": "pubsub.projects.schemas.validate",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project in which to validate schemas. Format is `projects/{project-id}`.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "ValidateSchemaResponse"
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the project in which to list schemas. Format is `projects/{project-id}`.",
                  "location": "path"
                },
                "view": {
                  "description": "The set of Schema fields to return in the response. If not set, returns Schemas with `name` and `type`, but not `definition`. Set to `FULL` to retrieve all fields.",
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ],
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The value returned by the last `ListSchemasResponse`; indicates that this is a continuation of a prior `ListSchemas` call, and that the system should return the next page of data.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of schemas to return.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "pubsub.projects.schemas.list",
              "flatPath": "v1/projects/{projectsId}/schemas",
              "response": {
                "$ref": "ListSchemasResponse"
              },
              "description": "Lists schemas in a project.",
              "path": "v1/{+parent}/schemas",
              "httpMethod": "GET"
            }
          }
        },
        "subscriptions": {
          "methods": {
            "modifyAckDeadline": {
              "httpMethod": "POST",
              "parameterOrder": [
                "subscription"
              ],
              "description": "Modifies the ack deadline for a specific message. This method is useful to indicate that more time is needed to process a message by the subscriber, or to make the message available for redelivery if the processing was interrupted. Note that this does not modify the subscription-level `ackDeadlineSeconds` used for subsequent messages.",
              "path": "v1/{+subscription}:modifyAckDeadline",
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "ModifyAckDeadlineRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyAckDeadline",
              "id": "pubsub.projects.subscriptions.modifyAckDeadline",
              "parameters": {
                "subscription": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the subscription. Format is `projects/{project}/subscriptions/{sub}`.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path"
                }
              }
            },
            "seek": {
              "request": {
                "$ref": "SeekRequest"
              },
              "parameters": {
                "subscription": {
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "description": "Required. The subscription to affect.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "pubsub.projects.subscriptions.seek",
              "path": "v1/{+subscription}:seek",
              "description": "Seeks an existing subscription to a point in time or to a given snapshot, whichever is provided in the request. Snapshots are used in [Seek] (https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot. Note that both the subscription and the snapshot must be on the same topic.",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:seek",
              "parameterOrder": [
                "subscription"
              ],
              "response": {
                "$ref": "SeekResponse"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "id": "pubsub.projects.subscriptions.delete",
              "description": "Deletes an existing subscription. All messages retained in the subscription are immediately dropped. Calls to `Pull` after deletion will return `NOT_FOUND`. After a subscription is deleted, a new one may be created with the same name, but the new one has no association with the old subscription or its topic unless the same topic is specified.",
              "parameters": {
                "subscription": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The subscription to delete. Format is `projects/{project}/subscriptions/{sub}`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "parameterOrder": [
                "subscription"
              ],
              "httpMethod": "DELETE",
              "path": "v1/{+subscription}"
            },
            "setIamPolicy": {
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "pubsub.projects.subscriptions.setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "response": {
                "$ref": "Policy"
              },
              "path": "v1/{+resource}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:setIamPolicy"
            },
            "modifyPushConfig": {
              "path": "v1/{+subscription}:modifyPushConfig",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyPushConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.subscriptions.modifyPushConfig",
              "httpMethod": "POST",
              "parameters": {
                "subscription": {
                  "description": "Required. The name of the subscription. Format is `projects/{project}/subscriptions/{sub}`.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                }
              },
              "request": {
                "$ref": "ModifyPushConfigRequest"
              },
              "description": "Modifies the `PushConfig` for a specified subscription. This may be used to change a push subscription to a pull one (signified by an empty `PushConfig`) or vice versa, or change the endpoint URL and other attributes of a push subscription. Messages will accumulate for delivery continuously through the call regardless of changes to the `PushConfig`.",
              "parameterOrder": [
                "subscription"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "response": {
                "$ref": "Subscription"
              },
              "id": "pubsub.projects.subscriptions.patch",
              "request": {
                "$ref": "UpdateSubscriptionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`."
                }
              },
              "httpMethod": "PATCH",
              "description": "Updates an existing subscription. Note that certain properties of a subscription, such as its topic, are not modifiable.",
              "path": "v1/{+name}"
            },
            "detach": {
              "response": {
                "$ref": "DetachSubscriptionResponse"
              },
              "id": "pubsub.projects.subscriptions.detach",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "subscription"
              ],
              "path": "v1/{+subscription}:detach",
              "parameters": {
                "subscription": {
                  "description": "Required. The subscription to detach. Format is `projects/{project}/subscriptions/{subscription}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Detaches a subscription from this topic. All messages retained in the subscription are dropped. Subsequent `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will stop.",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:detach"
            },
            "testIamPermissions": {
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:testIamPermissions",
              "id": "pubsub.projects.subscriptions.testIamPermissions",
              "path": "v1/{+resource}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              }
            },
            "pull": {
              "response": {
                "$ref": "PullResponse"
              },
              "parameters": {
                "subscription": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The subscription from which messages should be pulled. Format is `projects/{project}/subscriptions/{sub}`."
                }
              },
              "path": "v1/{+subscription}:pull",
              "httpMethod": "POST",
              "parameterOrder": [
                "subscription"
              ],
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:pull",
              "description": "Pulls messages from the server.",
              "request": {
                "$ref": "PullRequest"
              },
              "id": "pubsub.projects.subscriptions.pull",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "get": {
              "id": "pubsub.projects.subscriptions.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "subscription"
              ],
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "path": "v1/{+subscription}",
              "httpMethod": "GET",
              "description": "Gets the configuration details of a subscription.",
              "parameters": {
                "subscription": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription to get. Format is `projects/{project}/subscriptions/{sub}`.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Subscription"
              }
            },
            "list": {
              "description": "Lists matching subscriptions.",
              "response": {
                "$ref": "ListSubscriptionsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListSubscriptionsResponse`; indicates that this is a continuation of a prior `ListSubscriptions` call, and that the system should return the next page of data.",
                  "type": "string"
                },
                "project": {
                  "description": "Required. The name of the project in which to list subscriptions. Format is `projects/{project-id}`.",
                  "location": "path",
[...]
