{
  "ownerDomain": "google.com",
  "protocol": "rest",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "discoveryVersion": "v1",
  "title": "Cloud Pub/Sub API",
  "resources": {
    "projects": {
      "resources": {
        "topics": {
          "methods": {
            "testIamPermissions": {
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "required": true,
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:testIamPermissions",
              "path": "v1/{+resource}:testIamPermissions",
              "id": "pubsub.projects.topics.testIamPermissions"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Deletes the topic with the given name. Returns `NOT_FOUND` if the topic does not exist. After a topic is deleted, a new topic may be created with the same name; this is an entirely new topic with none of the old configuration or subscriptions. Existing subscriptions to this topic are not deleted, but their `topic` field is set to `_deleted-topic_`.",
              "parameterOrder": [
                "topic"
              ],
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "parameters": {
                "topic": {
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the topic to delete. Format is `projects/{project}/topics/{topic}`."
                }
              },
              "id": "pubsub.projects.topics.delete",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+topic}",
              "httpMethod": "DELETE"
            },
            "getIamPolicy": {
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "id": "pubsub.projects.topics.getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+resource}:getIamPolicy",
              "parameters": {
                "options.requestedPolicyVersion": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                },
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/topics/[^/]+$"
                }
              }
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "id": "pubsub.projects.topics.setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy"
            },
            "publish": {
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:publish",
              "parameterOrder": [
                "topic"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Adds one or more messages to the topic. Returns `NOT_FOUND` if the topic does not exist.",
              "httpMethod": "POST",
              "response": {
                "$ref": "PublishResponse"
              },
              "path": "v1/{+topic}:publish",
              "id": "pubsub.projects.topics.publish",
              "request": {
                "$ref": "PublishRequest"
              },
              "parameters": {
                "topic": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "location": "path",
                  "description": "Required. The messages in the request will be published on this topic. Format is `projects/{project}/topics/{topic}`.",
                  "required": true
                }
              }
            },
            "list": {
              "id": "pubsub.projects.topics.list",
              "path": "v1/{+project}/topics",
              "response": {
                "$ref": "ListTopicsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "project": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the project in which to list topics. Format is `projects/{project-id}`.",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The value returned by the last `ListTopicsResponse`; indicates that this is a continuation of a prior `ListTopics` call, and that the system should return the next page of data."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of topics to return."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Lists matching topics.",
              "parameterOrder": [
                "project"
              ],
              "flatPath": "v1/projects/{projectsId}/topics"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.topics.get",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "httpMethod": "GET",
              "parameters": {
                "topic": {
                  "description": "Required. The name of the topic to get. Format is `projects/{project}/topics/{topic}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets the configuration of a topic.",
              "response": {
                "$ref": "Topic"
              },
              "parameterOrder": [
                "topic"
              ],
              "path": "v1/{+topic}"
            },
            "patch": {
              "id": "pubsub.projects.topics.patch",
              "request": {
                "$ref": "UpdateTopicRequest"
              },
              "description": "Updates an existing topic. Note that certain properties of a topic are not modifiable.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Topic"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the topic. It must have the format `\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "pattern": "^projects/[^/]+/topics/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH"
            },
            "create": {
              "httpMethod": "PUT",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the topic. It must have the format `\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Topic"
              },
              "request": {
                "$ref": "Topic"
              },
              "description": "Creates the given topic with the given name. See the [resource name rules] (https://cloud.google.com/pubsub/docs/admin#resource_names).",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.topics.create",
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "subscriptions": {
              "methods": {
                "list": {
                  "parameters": {
                    "topic": {
                      "description": "Required. The name of the topic that subscriptions are attached to. Format is `projects/{project}/topics/{topic}`.",
                      "pattern": "^projects/[^/]+/topics/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of subscription names to return.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The value returned by the last `ListTopicSubscriptionsResponse`; indicates that this is a continuation of a prior `ListTopicSubscriptions` call, and that the system should return the next page of data.",
                      "location": "query"
                    }
                  },
                  "id": "pubsub.projects.topics.subscriptions.list",
                  "description": "Lists the names of the attached subscriptions on this topic.",
                  "httpMethod": "GET",
                  "path": "v1/{+topic}/subscriptions",
                  "flatPath": "v1/projects/{projectsId}/topics/{topicsId}/subscriptions",
                  "response": {
                    "$ref": "ListTopicSubscriptionsResponse"
                  },
                  "parameterOrder": [
                    "topic"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/pubsub"
                  ]
                }
              }
            },
            "snapshots": {
              "methods": {
                "list": {
                  "description": "Lists the names of the snapshots on this topic. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
                  "parameterOrder": [
                    "topic"
                  ],
                  "flatPath": "v1/projects/{projectsId}/topics/{topicsId}/snapshots",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/pubsub"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum number of snapshot names to return."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The value returned by the last `ListTopicSnapshotsResponse`; indicates that this is a continuation of a prior `ListTopicSnapshots` call, and that the system should return the next page of data."
                    },
                    "topic": {
                      "description": "Required. The name of the topic that snapshots are attached to. Format is `projects/{project}/topics/{topic}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/topics/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListTopicSnapshotsResponse"
                  },
                  "path": "v1/{+topic}/snapshots",
                  "id": "pubsub.projects.topics.snapshots.list"
                }
              }
            }
          }
        },
        "snapshots": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "UpdateSnapshotRequest"
              },
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "path": "v1/{+name}",
              "description": "Updates an existing snapshot. Snapshots are used in Seek operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Snapshot"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the snapshot.",
                  "required": true,
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "id": "pubsub.projects.snapshots.patch"
            },
            "setIamPolicy": {
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "required": true,
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy",
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "httpMethod": "POST",
              "id": "pubsub.projects.snapshots.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "project"
              ],
              "flatPath": "v1/projects/{projectsId}/snapshots",
              "httpMethod": "GET",
              "path": "v1/{+project}/snapshots",
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in which to list snapshots. Format is `projects/{project-id}`."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of snapshots to return."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The value returned by the last `ListSnapshotsResponse`; indicates that this is a continuation of a prior `ListSnapshots` call, and that the system should return the next page of data."
                }
              },
              "id": "pubsub.projects.snapshots.list",
              "response": {
                "$ref": "ListSnapshotsResponse"
              },
              "description": "Lists the existing snapshots. Snapshots are used in [Seek]( https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot."
            },
            "get": {
              "id": "pubsub.projects.snapshots.get",
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "httpMethod": "GET",
              "parameters": {
                "snapshot": {
                  "description": "Required. The name of the snapshot to get. Format is `projects/{project}/snapshots/{snap}`.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$"
                }
              },
              "response": {
                "$ref": "Snapshot"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Gets the configuration details of a snapshot. Snapshots are used in Seek operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
              "path": "v1/{+snapshot}",
              "parameterOrder": [
                "snapshot"
              ]
            },
            "testIamPermissions": {
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "id": "pubsub.projects.snapshots.testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameters": {
                "resource": {
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+resource}:testIamPermissions",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "getIamPolicy": {
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "type": "string",
                  "location": "path"
                },
                "options.requestedPolicyVersion": {
                  "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "GET",
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "pubsub.projects.snapshots.getIamPolicy"
            },
            "create": {
              "id": "pubsub.projects.snapshots.create",
              "description": "Creates a snapshot from the requested subscription. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot. If the snapshot already exists, returns `ALREADY_EXISTS`. If the requested subscription doesn't exist, returns `NOT_FOUND`. If the backlog in the subscription is too old -- and the resulting snapshot would expire in less than 1 hour -- then `FAILED_PRECONDITION` is returned. See also the `Snapshot.expire_time` field. If the name is not provided in the request, the server will assign a random name for this snapshot on the same project as the subscription, conforming to the [resource name format] (https://cloud.google.com/pubsub/docs/admin#resource_names). The generated name is populated in the returned Snapshot object. Note that for REST API requests, you must specify a name in the request.",
              "httpMethod": "PUT",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CreateSnapshotRequest"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Snapshot"
              },
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. User-provided name for this snapshot. If the name is not provided in the request, the server will assign a random name for this snapshot on the same project as the subscription. Note that for REST API requests, you must specify a name. See the resource name rules. Format is `projects/{project}/snapshots/{snap}`.",
                  "required": true
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/{+snapshot}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "snapshot"
              ],
              "parameters": {
                "snapshot": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "description": "Required. The name of the snapshot to delete. Format is `projects/{project}/snapshots/{snap}`.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "id": "pubsub.projects.snapshots.delete",
              "description": "Removes an existing snapshot. Snapshots are used in [Seek] (https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot. When the snapshot is deleted, all messages retained in the snapshot are immediately dropped. After a snapshot is deleted, a new one may be created with the same name, but the new one has no association with the old snapshot or its subscription, unless the same subscription is specified."
            }
          }
        },
        "schemas": {
          "methods": {
            "validate": {
              "id": "pubsub.projects.schemas.validate",
              "response": {
                "$ref": "ValidateSchemaResponse"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/schemas:validate",
              "description": "Validates a schema.",
              "flatPath": "v1/projects/{projectsId}/schemas:validate",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the project in which to validate schemas. Format is `projects/{project-id}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "ValidateSchemaRequest"
              }
            },
            "validateMessage": {
              "response": {
                "$ref": "ValidateMessageResponse"
              },
              "path": "v1/{+parent}/schemas:validateMessage",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "pubsub.projects.schemas.validateMessage",
              "flatPath": "v1/projects/{projectsId}/schemas:validateMessage",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the project in which to validate schemas. Format is `projects/{project-id}`.",
                  "type": "string"
                }
              },
              "description": "Validates a message against a schema.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "ValidateMessageRequest"
              }
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "ListSchemasResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListSchemasResponse`; indicates that this is a continuation of a prior `ListSchemas` call, and that the system should return the next page of data.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of schemas to return.",
                  "type": "integer"
                },
                "view": {
                  "description": "The set of Schema fields to return in the response. If not set, returns Schemas with `name` and `type`, but not `definition`. Set to `FULL` to retrieve all fields.",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ],
                  "type": "string",
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project in which to list schemas. Format is `projects/{project-id}`."
                }
              },
              "flatPath": "v1/projects/{projectsId}/schemas",
              "path": "v1/{+parent}/schemas",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists schemas in a project.",
              "id": "pubsub.projects.schemas.list"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "description": "Required. The name of the schema to get. Format is `projects/{project}/schemas/{schema}`.",
                  "location": "path"
                },
                "view": {
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "description": "The set of fields to return in the response. If not set, returns a Schema with all fields filled out. Set to `BASIC` to omit the `definition`.",
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ]
                }
              },
              "path": "v1/{+name}",
              "description": "Gets a schema.",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Schema"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.schemas.get"
            },
            "setIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "path": "v1/{+resource}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:setIamPolicy",
              "httpMethod": "POST",
              "response": {
                "$ref": "Policy"
              },
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "id": "pubsub.projects.schemas.setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              }
            },
            "getIamPolicy": {
              "path": "v1/{+resource}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.schemas.getIamPolicy",
              "parameters": {
                "options.requestedPolicyVersion": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "type": "integer"
                },
                "resource": {
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field."
                }
              },
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "GET",
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
            },
            "testIamPermissions": {
              "id": "pubsub.projects.schemas.testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "httpMethod": "POST",
              "path": "v1/{+resource}:testIamPermissions",
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "resource"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes a schema.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "pubsub.projects.schemas.delete",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the schema to delete. Format is `projects/{project}/schemas/{schema}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "path": "v1/{+parent}/schemas",
              "description": "Creates a schema.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "Schema"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/schemas",
              "parameters": {
                "schemaId": {
                  "description": "The ID to use for the schema, which will become the final component of the schema's resource name. See https://cloud.google.com/pubsub/docs/admin#resource_names for resource name constraints.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The name of the project in which to create the schema. Format is `projects/{project-id}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Schema"
              },
              "id": "pubsub.projects.schemas.create"
            }
          }
        },
        "subscriptions": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "subscription"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes an existing subscription. All messages retained in the subscription are immediately dropped. Calls to `Pull` after deletion will return `NOT_FOUND`. After a subscription is deleted, a new one may be created with the same name, but the new one has no association with the old subscription or its topic unless the same topic is specified.",
              "id": "pubsub.projects.subscriptions.delete",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "path": "v1/{+subscription}",
              "parameters": {
                "subscription": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The subscription to delete. Format is `projects/{project}/subscriptions/{sub}`.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "detach": {
              "id": "pubsub.projects.subscriptions.detach",
              "path": "v1/{+subscription}:detach",
              "parameterOrder": [
                "subscription"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Detaches a subscription from this topic. All messages retained in the subscription are dropped. Subsequent `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will stop.",
              "response": {
                "$ref": "DetachSubscriptionResponse"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:detach",
              "parameters": {
                "subscription": {
                  "required": true,
                  "description": "Required. The subscription to detach. Format is `projects/{project}/subscriptions/{subscription}`.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "testIamPermissions": {
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:testIamPermissions",
              "id": "pubsub.projects.subscriptions.testIamPermissions",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field."
                }
              },
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "httpMethod": "POST",
              "path": "v1/{+resource}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ]
            },
            "acknowledge": {
              "parameterOrder": [
                "subscription"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+subscription}:acknowledge",
              "request": {
                "$ref": "AcknowledgeRequest"
              },
              "parameters": {
                "subscription": {
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The subscription whose message is being acknowledged. Format is `projects/{project}/subscriptions/{sub}`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Acknowledges the messages associated with the `ack_ids` in the `AcknowledgeRequest`. The Pub/Sub system can remove the relevant messages from the subscription. Acknowledging a message whose ack deadline has expired may succeed, but such a message may be redelivered later. Acknowledging a message more than once will not result in an error.",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:acknowledge",
              "id": "pubsub.projects.subscriptions.acknowledge"
            },
            "get": {
              "parameterOrder": [
                "subscription"
              ],
              "response": {
                "$ref": "Subscription"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Gets the configuration details of a subscription.",
              "path": "v1/{+subscription}",
              "id": "pubsub.projects.subscriptions.get",
              "parameters": {
                "subscription": {
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the subscription to get. Format is `projects/{project}/subscriptions/{sub}`.",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "httpMethod": "GET"
            },
            "modifyPushConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Modifies the `PushConfig` for a specified subscription. This may be used to change a push subscription to a pull one (signified by an empty `PushConfig`) or vice versa, or change the endpoint URL and other attributes of a push subscription. Messages will accumulate for delivery continuously through the call regardless of changes to the `PushConfig`.",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyPushConfig",
              "parameterOrder": [
                "subscription"
              ],
              "request": {
                "$ref": "ModifyPushConfigRequest"
              },
              "id": "pubsub.projects.subscriptions.modifyPushConfig",
              "httpMethod": "POST",
              "parameters": {
                "subscription": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the subscription. Format is `projects/{project}/subscriptions/{sub}`."
                }
              },
              "path": "v1/{+subscription}:modifyPushConfig",
              "response": {
                "$ref": "Empty"
              }
            },
            "seek": {
              "httpMethod": "POST",
              "parameterOrder": [
                "subscription"
              ],
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:seek",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+subscription}:seek",
              "description": "Seeks an existing subscription to a point in time or to a given snapshot, whichever is provided in the request. Snapshots are used in [Seek] (https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot. Note that both the subscription and the snapshot must be on the same topic.",
              "response": {
                "$ref": "SeekResponse"
              },
              "request": {
                "$ref": "SeekRequest"
              },
              "parameters": {
                "subscription": {
                  "description": "Required. The subscription to affect.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "pubsub.projects.subscriptions.seek"
            },
            "pull": {
              "response": {
                "$ref": "PullResponse"
              },
              "request": {
                "$ref": "PullRequest"
              },
              "parameterOrder": [
                "subscription"
              ],
              "id": "pubsub.projects.subscriptions.pull",
              "httpMethod": "POST",
              "description": "Pulls messages from the server. The server may return `UNAVAILABLE` if there are too many concurrent pull requests pending for the given subscription.",
              "parameters": {
                "subscription": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The subscription from which messages should be pulled. Format is `projects/{project}/subscriptions/{sub}`."
                }
              },
              "path": "v1/{+subscription}:pull",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:pull",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "modifyAckDeadline": {
              "request": {
                "$ref": "ModifyAckDeadlineRequest"
              },
              "path": "v1/{+subscription}:modifyAckDeadline",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyAckDeadline",
              "parameterOrder": [
                "subscription"
              ],
              "httpMethod": "POST",
              "description": "Modifies the ack deadline for a specific message. This method is useful to indicate that more time is needed to process a message by the subscriber, or to make the message available for redelivery if the processing was interrupted. Note that this does not modify the subscription-level `ackDeadlineSeconds` used for subsequent messages.",
              "id": "pubsub.projects.subscriptions.modifyAckDeadline",
              "parameters": {
                "subscription": {
                  "description": "Required. The name of the subscription. Format is `projects/{project}/subscriptions/{sub}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "type": "string"
                }
              }
            },
            "setIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Policy"
              },
              "path": "v1/{+resource}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:setIamPolicy",
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "id": "pubsub.projects.subscriptions.setIamPolicy",
              "parameters": {
                "resource": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                }
              }
            },
            "getIamPolicy": {
              "path": "v1/{+resource}:getIamPolicy",
              "parameters": {
                "resource": {
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                },
                "options.requestedPolicyVersion": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "resource"
              ],
              "id": "pubsub.projects.subscriptions.getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:getIamPolicy"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "The value returned by the last `ListSubscriptionsResponse`; indicates that this is a continuation of a prior `ListSubscriptions` call, and that the system should return the next page of data.",
                  "type": "string",
                  "location": "query"
                },
                "project": {
                  "description": "Required. The name of the project in which to list subscriptions. Format is `projects/{project-id}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of subscriptions to return.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "id": "pubsub.projects.subscriptions.list",
              "description": "Lists matching subscriptions.",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/subscriptions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "ListSubscriptionsResponse"
              },
              "path": "v1/{+project}/subscriptions",
              "parameterOrder": [
                "project"
              ]
            },
            "patch": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Updates an existing subscription. Note that certain properties of a subscription, such as its topic, are not modifiable.",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "UpdateSubscriptionRequest"
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Subscription"
              },
              "id": "pubsub.projects.subscriptions.patch"
            },
            "create": {
              "request": {
                "$ref": "Subscription"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Creates a subscription to a given topic. See the [resource name rules] (https://cloud.google.com/pubsub/docs/admin#resource_names). If the subscription already exists, returns `ALREADY_EXISTS`. If the corresponding topic doesn't exist, returns `NOT_FOUND`. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic, conforming to the [resource name format] (https://cloud.google.com/pubsub/docs/admin#resource_names). The generated name is populated in the returned Subscription object. Note that for REST API requests, you must specify a name in the request.",
              "response": {
                "$ref": "Subscription"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "location": "path"
                }
              },
              "id": "pubsub.projects.subscriptions.create",
              "httpMethod": "PUT",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            }
          }
        }
      }
    }
  },
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "schemas": {
    "ValidateMessageRequest": {
      "type": "object",
      "properties": {
        "encoding": {
          "description": "The encoding expected for messages",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "JSON",
            "BINARY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "JSON encoding",
            "Binary encoding, as defined by the schema type. For some schema types, binary encoding may not be available."
          ]
        },
        "message": {
          "description": "Message to validate against the provided `schema_spec`.",
          "format": "byte",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the schema against which to validate. Format is `projects/{project}/schemas/{schema}`."
        },
        "schema": {
          "$ref": "Schema",
          "description": "Ad-hoc schema against which to validate"
        }
      },
      "id": "ValidateMessageRequest",
      "description": "Request for the `ValidateMessage` method."
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "Binding": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "UpdateSubscriptionRequest": {
      "properties": {
        "updateMask": {
          "description": "Required. Indicates which fields in the provided subscription to update. Must be specified and non-empty.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "subscription": {
          "$ref": "Subscription",
          "description": "Required. The updated subscription object."
        }
      },
      "id": "UpdateSubscriptionRequest",
      "description": "Request for the UpdateSubscription method.",
      "type": "object"
    },
    "PullRequest": {
      "type": "object",
      "id": "PullRequest",
      "properties": {
        "returnImmediately": {
          "description": "Optional. If this field set to true, the system will respond immediately even if it there are no messages available to return in the `Pull` response. Otherwise, the system may wait (for a bounded amount of time) until at least one message is available, rather than returning no messages. Warning: setting this field to `true` is discouraged because it adversely impacts the performance of `Pull` operations. We recommend that users do not set this field.",
          "type": "boolean"
        },
        "maxMessages": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The maximum number of messages to return for this request. Must be a positive integer. The Pub/Sub system may return fewer than the number specified."
        }
      },
      "description": "Request for the `Pull` method."
    },
    "AcknowledgeRequest": {
      "description": "Request for the Acknowledge method.",
      "type": "object",
      "id": "AcknowledgeRequest",
      "properties": {
        "ackIds": {
          "type": "array",
          "description": "Required. The acknowledgment ID for the messages being acknowledged that was returned by the Pub/Sub system in the `Pull` response. Must not be empty.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeadLetterPolicy": {
      "type": "object",
      "description": "Dead lettering is done on a best effort basis. The same message might be dead lettered multiple times. If validation on any of the fields fails at subscription creation/updation, the create/update subscription request will fail.",
      "properties": {
        "maxDeliveryAttempts": {
          "description": "The maximum number of delivery attempts for any message. The value must be between 5 and 100. The number of delivery attempts is defined as 1 + (the sum of number of NACKs and number of times the acknowledgement deadline has been exceeded for the message). A NACK is any call to ModifyAckDeadline with a 0 deadline. Note that client libraries may automatically extend ack_deadlines. This field will be honored on a best effort basis. If this parameter is 0, a default value of 5 is used.",
          "type": "integer",
          "format": "int32"
        },
        "deadLetterTopic": {
          "type": "string",
          "description": "The name of the topic to which dead letter messages should be published. Format is `projects/{project}/topics/{topic}`.The Cloud Pub/Sub service account associated with the enclosing subscription's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Publish() to this topic. The operation will fail if the topic does not exist. Users should ensure that there is a subscription attached to this topic since messages published to a topic with no subscriptions are lost."
        }
      },
      "id": "DeadLetterPolicy"
    },
    "SeekResponse": {
      "id": "SeekResponse",
      "type": "object",
      "description": "Response for the `Seek` method (this response is empty).",
      "properties": {}
    },
    "ExpirationPolicy": {
      "properties": {
        "ttl": {
          "description": "Specifies the \"time-to-live\" duration for an associated resource. The resource expires if it is not active for a period of `ttl`. The definition of \"activity\" depends on the type of the associated resource. The minimum and maximum allowed values for `ttl` depend on the type of the associated resource, as well. If `ttl` is not set, the associated resource never expires.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "ExpirationPolicy",
      "type": "object",
      "description": "A policy that specifies the conditions for resource expiration (i.e., automatic resource deletion)."
    },
    "ValidateSchemaResponse": {
      "description": "Response for the `ValidateSchema` method. Empty for now.",
      "id": "ValidateSchemaResponse",
      "type": "object",
      "properties": {}
    },
    "SeekRequest": {
      "type": "object",
      "properties": {
        "time": {
          "description": "The time to seek to. Messages retained in the subscription that were published before this time are marked as acknowledged, and messages retained in the subscription that were published after this time are marked as unacknowledged. Note that this operation affects only those messages retained in the subscription (configured by the combination of `message_retention_duration` and `retain_acked_messages`). For example, if `time` corresponds to a point before the message retention window (or to a point before the system's notion of the subscription creation time), only retained messages will be marked as unacknowledged, and already-expunged messages will not be restored.",
          "format": "google-datetime",
          "type": "string"
        },
        "snapshot": {
          "description": "The snapshot to seek to. The snapshot's topic must be the same as that of the provided subscription. Format is `projects/{project}/snapshots/{snap}`.",
          "type": "string"
        }
      },
      "description": "Request for the `Seek` method.",
      "id": "SeekRequest"
    },
    "ReceivedMessage": {
      "description": "A message and its corresponding acknowledgment ID.",
      "id": "ReceivedMessage",
      "type": "object",
      "properties": {
        "deliveryAttempt": {
          "description": "The approximate number of times that Cloud Pub/Sub has attempted to deliver the associated message to a subscriber. More precisely, this is 1 + (number of NACKs) + (number of ack_deadline exceeds) for this message. A NACK is any call to ModifyAckDeadline with a 0 deadline. An ack_deadline exceeds event is whenever a message is not acknowledged within ack_deadline. Note that ack_deadline is initially Subscription.ackDeadlineSeconds, but may get extended automatically by the client library. Upon the first delivery of a given message, `delivery_attempt` will have a value of 1. The value is calculated at best effort and is approximate. If a DeadLetterPolicy is not set on the subscription, this will be 0.",
          "format": "int32",
          "type": "integer"
        },
        "ackId": {
          "description": "This ID can be used to acknowledge the received message.",
          "type": "string"
        },
        "message": {
          "description": "The message.",
          "$ref": "PubsubMessage"
        }
      }
    },
    "Schema": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the schema definition.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A Protocol Buffer schema definition.",
            "An Avro schema definition."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PROTOCOL_BUFFER",
            "AVRO"
          ]
        },
        "definition": {
          "type": "string",
          "description": "The definition of the schema. This should contain a string representing the full definition of the schema that is a valid schema definition of the type specified in `type`."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the schema. Format is `projects/{project}/schemas/{schema}`."
        }
      },
      "type": "object",
      "id": "Schema",
      "description": "A schema resource."
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "PullResponse": {
      "description": "Response for the `Pull` method.",
      "id": "PullResponse",
      "type": "object",
      "properties": {
        "receivedMessages": {
          "type": "array",
          "description": "Received Pub/Sub messages. The list will be empty if there are no more messages available in the backlog. For JSON, the response can be entirely empty. The Pub/Sub system may return fewer than the `maxMessages` requested even if there are more messages available in the backlog.",
          "items": {
            "$ref": "ReceivedMessage"
          }
        }
      }
    },
    "PubsubMessage": {
      "type": "object",
      "properties": {
        "publishTime": {
          "description": "The time at which the message was published, populated by the server when it receives the `Publish` call. It must not be populated by the publisher in a `Publish` call.",
          "format": "google-datetime",
          "type": "string"
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Attributes for this message. If this field is empty, the message must contain non-empty data. This can be used to filter messages on the subscription."
        },
        "orderingKey": {
          "type": "string",
          "description": "If non-empty, identifies related messages for which publish order should be respected. If a `Subscription` has `enable_message_ordering` set to `true`, messages published with the same non-empty `ordering_key` value will be delivered to subscribers in the order in which they are received by the Pub/Sub system. All `PubsubMessage`s published in a given `PublishRequest` must specify the same `ordering_key` value."
        },
        "messageId": {
          "type": "string",
          "description": "ID of this message, assigned by the server when the message is published. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a `PubsubMessage` via a `Pull` call or a push delivery. It must not be populated by the publisher in a `Publish` call."
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The message data field. If this field is empty, the message must contain at least one attribute."
        }
      },
      "id": "PubsubMessage",
      "description": "A message that is published by publishers and consumed by subscribers. The message must contain either a non-empty data field or at least one attribute. Note that client libraries represent this object differently depending on the language. See the corresponding [client library documentation](https://cloud.google.com/pubsub/docs/reference/libraries) for more information. See [quotas and limits] (https://cloud.google.com/pubsub/quotas) for more information about message limits."
    },
    "UpdateTopicRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. Indicates which fields in the provided topic to update. Must be specified and non-empty. Note that if `update_mask` contains \"message_storage_policy\" but the `message_storage_policy` is not set in the `topic` provided above, then the updated value is determined by the policy configured at the project or organization level."
        },
        "topic": {
          "description": "Required. The updated topic object.",
          "$ref": "Topic"
        }
      },
      "type": "object",
      "description": "Request for the UpdateTopic method.",
      "id": "UpdateTopicRequest"
    },
    "ListSchemasResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more schemas that match the request; this value should be passed in a new `ListSchemasRequest`."
        },
        "schemas": {
          "items": {
            "$ref": "Schema"
          },
          "type": "array",
          "description": "The resulting schemas."
        }
      },
      "description": "Response for the `ListSchemas` method.",
      "id": "ListSchemasResponse"
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "PubsubMessage"
          },
          "description": "Required. The messages to publish."
        }
      },
      "type": "object",
      "description": "Request for the Publish method."
    },
    "ListTopicSnapshotsResponse": {
      "properties": {
        "snapshots": {
          "description": "The names of the snapshots that match the request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more snapshots that match the request; this value should be passed in a new `ListTopicSnapshotsRequest` to get more snapshots.",
          "type": "string"
        }
      },
      "description": "Response for the `ListTopicSnapshots` method.",
      "type": "object",
      "id": "ListTopicSnapshotsResponse"
    },
    "Subscription": {
      "properties": {
        "deadLetterPolicy": {
          "$ref": "DeadLetterPolicy",
          "description": "A policy that specifies the conditions for dead lettering messages in this subscription. If dead_letter_policy is not set, dead lettering is disabled. The Cloud Pub/Sub service account associated with this subscriptions's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Acknowledge() messages on this subscription."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "See Creating and managing labels."
        },
        "ackDeadlineSeconds": {
          "format": "int32",
          "description": "The approximate amount of time (on a best-effort basis) Pub/Sub waits for the subscriber to acknowledge receipt before resending the message. In the interval after the message is delivered and before it is acknowledged, it is considered to be *outstanding*. During that time period, the message will not be redelivered (on a best-effort basis). For pull subscriptions, this value is used as the initial value for the ack deadline. To override this value for a given message, call `ModifyAckDeadline` with the corresponding `ack_id` if using non-streaming pull or send the `ack_id` in a `StreamingModifyAckDeadlineRequest` if using streaming pull. The minimum custom deadline you can specify is 10 seconds. The maximum custom deadline you can specify is 600 seconds (10 minutes). If this parameter is 0, a default value of 10 seconds is used. For push delivery, this value is also used to set the request timeout for the call to the push endpoint. If the subscriber never acknowledges the message, the Pub/Sub system will eventually redeliver the message.",
          "type": "integer"
        },
        "retryPolicy": {
          "description": "A policy that specifies how Pub/Sub retries message delivery for this subscription. If not set, the default retry policy is applied. This generally implies that messages will be retried as soon as possible for healthy subscribers. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message.",
          "$ref": "RetryPolicy"
        },
        "pushConfig": {
          "$ref": "PushConfig",
          "description": "If push delivery is used with this subscription, this field is used to configure it. An empty `pushConfig` signifies that the subscriber will pull and ack messages using API methods."
        },
        "name": {
          "description": "Required. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
          "type": "string"
        },
        "detached": {
          "type": "boolean",
          "description": "Indicates whether the subscription is detached from its topic. Detached subscriptions don't receive messages from their topic and don't retain any backlog. `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will not be made."
        },
        "enableMessageOrdering": {
          "type": "boolean",
          "description": "If true, messages published with the same `ordering_key` in `PubsubMessage` will be delivered to the subscribers in the order in which they are received by the Pub/Sub system. Otherwise, they may be delivered in any order."
        },
        "filter": {
          "description": "An expression written in the Pub/Sub [filter language](https://cloud.google.com/pubsub/docs/filtering). If non-empty, then only `PubsubMessage`s whose `attributes` field matches the filter are delivered on this subscription. If empty, then no messages are filtered out.",
          "type": "string"
        },
        "messageRetentionDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "How long to retain unacknowledged messages in the subscription's backlog, from the moment a message is published. If `retain_acked_messages` is true, then this also configures the retention of acknowledged messages, and thus configures how far back in time a `Seek` can be done. Defaults to 7 days. Cannot be more than 7 days or less than 10 minutes."
        },
        "topicMessageRetentionDuration": {
          "description": "Output only. Indicates the minimum duration for which a message is retained after it is published to the subscription's topic. If this field is set, messages published to the subscription's topic in the last `topic_message_retention_duration` are always available to subscribers. See the `message_retention_duration` field in `Topic`. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "topic": {
          "type": "string",
          "description": "Required. The name of the topic from which this subscription is receiving messages. Format is `projects/{project}/topics/{topic}`. The value of this field will be `_deleted-topic_` if the topic has been deleted."
        },
        "retainAckedMessages": {
          "description": "Indicates whether to retain acknowledged messages. If true, then messages are not expunged from the subscription's backlog, even if they are acknowledged, until they fall out of the `message_retention_duration` window. This must be true if you would like to [`Seek` to a timestamp] (https://cloud.google.com/pubsub/docs/replay-overview#seek_to_a_time) in the past to replay previously-acknowledged messages.",
          "type": "boolean"
        },
        "expirationPolicy": {
[...]
