{
  "baseUrl": "https://realtimebidding.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "schemas": {
    "DestinationNotWorkingEvidence": {
      "id": "DestinationNotWorkingEvidence",
      "description": "Evidence of the creative's destination URL not functioning properly or having been incorrectly set up.",
      "type": "object",
      "properties": {
        "expandedUrl": {
          "type": "string",
          "description": "The full non-working URL."
        },
        "dnsError": {
          "enumDescriptions": [
            "Default value that should never be used.",
            "DNS name was not found.",
            "An internal issue occurred when Google's crawler tried to resolve the DNS entry. This is a Google-internal issue and may not be the result of an issue with the landing page."
          ],
          "type": "string",
          "description": "DNS lookup errors.",
          "enum": [
            "DNS_ERROR_UNSPECIFIED",
            "ERROR_DNS",
            "GOOGLE_CRAWLER_DNS_ISSUE"
          ]
        },
        "redirectionError": {
          "type": "string",
          "description": "HTTP redirect chain error.",
          "enumDescriptions": [
            "Default value that should never be used.",
            "Too many redirect hops.",
            "Got a redirect but it was invalid.",
            "Got a redirect but it was empty.",
            "Unknown redirect error."
          ],
          "enum": [
            "REDIRECTION_ERROR_UNSPECIFIED",
            "TOO_MANY_REDIRECTS",
            "INVALID_REDIRECT",
            "EMPTY_REDIRECT",
            "REDIRECT_ERROR_UNKNOWN"
          ]
        },
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "PERSONAL_COMPUTER",
            "ANDROID",
            "IOS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value that should never be used.",
            "The personal computer platform.",
            "The Android platform.",
            "The iOS platform."
          ],
          "description": "Platform of the non-working URL."
        },
        "httpError": {
          "description": "HTTP error code (e.g. 404 or 5xx)",
          "type": "integer",
          "format": "int32"
        },
        "invalidPage": {
          "description": "Page was crawled successfully, but was detected as either a page with no content or an error page.",
          "enum": [
            "INVALID_PAGE_UNSPECIFIED",
            "EMPTY_OR_ERROR_PAGE"
          ],
          "enumDescriptions": [
            "Default value that should never be used.",
            "Page was empty or had an error."
          ],
          "type": "string"
        },
        "lastCheckTime": {
          "description": "Approximate time when the ad destination was last checked.",
          "type": "string",
          "format": "google-datetime"
        },
        "urlRejected": {
          "enum": [
            "URL_REJECTED_UNSPECIFIED",
            "BAD_REQUEST",
            "MALFORMED_URL",
            "URL_REJECTED_UNKNOWN"
          ],
          "enumDescriptions": [
            "Default value that should never be used.",
            "URL rejected because of a malformed request.",
            "URL rejected because of a malformed URL.",
            "URL rejected because of unknown reason."
          ],
          "type": "string",
          "description": "Rejected because of malformed URLs or invalid requests."
        }
      }
    },
    "DomainCalls": {
      "type": "object",
      "description": "The number of HTTP calls made to the given domain.",
      "id": "DomainCalls",
      "properties": {
        "domain": {
          "type": "string",
          "description": "The domain name."
        },
        "httpCallCount": {
          "format": "int32",
          "description": "Number of HTTP calls made to the domain.",
          "type": "integer"
        }
      }
    },
    "RemoveTargetedAppsRequest": {
      "id": "RemoveTargetedAppsRequest",
      "type": "object",
      "description": "A request to stop targeting the provided apps in a specific pretargeting configuration. The pretargeting configuration itself specifies how these apps are targeted. in PretargetingConfig.appTargeting.mobileAppTargeting.",
      "properties": {
        "appIds": {
          "type": "array",
          "description": "A list of app IDs to stop targeting in the pretargeting configuration. These values will be removed from the list of targeted app IDs in PretargetingConfig.appTargeting.mobileAppTargeting.values.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OpenUserListRequest": {
      "description": "A request to open a specified user list.",
      "type": "object",
      "properties": {},
      "id": "OpenUserListRequest"
    },
    "UrlRestriction": {
      "description": "Represents the URL restriction (for the URL captured by the pixel callback) for a user list.",
      "id": "UrlRestriction",
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. The URL to use for applying the restriction on the user list."
        },
        "endDate": {
          "description": "End date (if specified) of the URL restriction. End date should be later than the start date for the date range to be valid.",
          "$ref": "Date"
        },
        "startDate": {
          "$ref": "Date",
          "description": "Start date (if specified) of the URL restriction."
        },
        "restrictionType": {
          "type": "string",
          "description": "The restriction type for the specified URL.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "CONTAINS",
            "EQUALS",
            "STARTS_WITH",
            "ENDS_WITH",
            "DOES_NOT_EQUAL",
            "DOES_NOT_CONTAIN",
            "DOES_NOT_START_WITH",
            "DOES_NOT_END_WITH"
          ],
          "enumDescriptions": [
            "Default value that should never be used.",
            "The tag URL (as recorded by the pixel callback) contains the specified URL.",
            "The tag URL (as recorded by the pixel callback) exactly matches the specified URL.",
            "The tag URL (as recorded by the pixel callback) starts with the specified URL.",
            "The tag URL (as recorded by the pixel callback) ends with the specified URL.",
            "The tag URL (as recorded by the pixel callback) does not equal the specified URL.",
            "The tag URL (as recorded by the pixel callback) does not contain the specified URL.",
            "The tag URL (as recorded by the pixel callback) does not start with the specified URL.",
            "The tag URL (as recorded by the pixel callback) does not end with the specified URL."
          ]
        }
      },
      "type": "object"
    },
    "RemoveTargetedPublishersRequest": {
      "type": "object",
      "description": "A request to stop targeting publishers in a specific configuration. The pretargeting configuration itself specifies how these publishers are targeted in PretargetingConfig.publisherTargeting.",
      "properties": {
        "publisherIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of publisher IDs to stop targeting in the pretargeting configuration. These values will be removed from the list of targeted publisher IDs in PretargetingConfig.publisherTargeting.values. Publishers are identified by their publisher ID from ads.txt / app-ads.txt. See https://iabtechlab.com/ads-txt/ and https://iabtechlab.com/app-ads-txt/ for more details.",
          "type": "array"
        }
      },
      "id": "RemoveTargetedPublishersRequest"
    },
    "PolicyTopicEvidence": {
      "type": "object",
      "description": "Evidence associated with a policy topic entry.",
      "id": "PolicyTopicEvidence",
      "properties": {
        "domainCall": {
          "description": "Number of HTTP calls made by the creative, broken down by domain.",
          "$ref": "DomainCallEvidence"
        },
        "httpCall": {
          "$ref": "HttpCallEvidence",
          "description": "HTTP calls made by the creative that resulted in policy violations."
        },
        "httpCookie": {
          "$ref": "HttpCookieEvidence",
          "description": "Evidence for HTTP cookie-related policy violations."
        },
        "downloadSize": {
          "$ref": "DownloadSizeEvidence",
          "description": "Total download size and URL-level download size breakdown for resources in a creative."
        },
        "destinationNotCrawlable": {
          "description": "The creative's destination URL was not crawlable by Google.",
          "$ref": "DestinationNotCrawlableEvidence"
        },
        "destinationNotWorking": {
          "$ref": "DestinationNotWorkingEvidence",
          "description": "The creative's destination URL did not function properly or was incorrectly set up."
        },
        "destinationUrl": {
          "description": "URL of the actual landing page.",
          "$ref": "DestinationUrlEvidence"
        }
      }
    },
    "PolicyTopicEntry": {
      "type": "object",
      "id": "PolicyTopicEntry",
      "properties": {
        "helpCenterUrl": {
          "description": "URL of the help center article describing this policy topic.",
          "type": "string"
        },
        "policyTopic": {
          "description": "Policy topic this entry refers to. For example, \"ALCOHOL\", \"TRADEMARKS_IN_AD_TEXT\", or \"DESTINATION_NOT_WORKING\". The set of possible policy topics is not fixed for a particular API version and may change at any time. Can be used to filter the response of the creatives.list method",
          "type": "string"
        },
        "evidences": {
          "items": {
            "$ref": "PolicyTopicEvidence"
          },
          "description": "Pieces of evidence associated with this policy topic entry.",
          "type": "array"
        }
      },
      "description": "Each policy topic entry will represent a violation of a policy topic for a creative, with the policy topic information and optional evidence for the policy violation."
    },
    "AdvertiserAndBrand": {
      "id": "AdvertiserAndBrand",
      "type": "object",
      "properties": {
        "advertiserName": {
          "description": "Advertiser name. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "brandId": {
          "format": "int64",
          "type": "string",
          "description": "Detected brand ID or zero if no brand has been detected. See https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt for the list of possible values. Can be used to filter the response of the creatives.list method."
        },
        "brandName": {
          "description": "Brand name. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "See https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt for the list of possible values. Can be used to filter the response of the creatives.list method."
        }
      },
      "description": "Detected advertiser and brand information."
    },
    "RemoveTargetedSitesRequest": {
      "type": "object",
      "properties": {
        "sites": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of site URLs to stop targeting in the pretargeting configuration. These values will be removed from the list of targeted URLs in PretargetingConfig.webTargeting.values."
        }
      },
      "id": "RemoveTargetedSitesRequest",
      "description": "A request to stop targeting sites in a specific pretargeting configuration. The pretargeting configuration itself specifies how these sites are targeted in PretargetingConfig.webTargeting."
    },
    "GetRemarketingTagResponse": {
      "properties": {
        "snippet": {
          "description": "A HTML tag that can be placed on the advertiser's page to add users to a user list. For more information and code samples on using snippet on your website refer to [Tag your site for remarketing]( https://support.google.com/google-ads/answer/2476688).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for a request to get remarketing tag.",
      "id": "GetRemarketingTagResponse"
    },
    "DestinationNotCrawlableEvidence": {
      "id": "DestinationNotCrawlableEvidence",
      "description": "Evidence that the creative's destination URL was not crawlable by Google.",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Default value that should never be used.",
            "Site's robots exclusion file (e.g., robots.txt) was unreachable.",
            "Timed out reading site's robots exclusion file (e.g., robots.txt).",
            "Crawler was disallowed by the site's robots exclusion file (e.g., robots.txt).",
            "Unknown reason."
          ],
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "UNREACHABLE_ROBOTS",
            "TIMEOUT_ROBOTS",
            "ROBOTED_DENIED",
            "UNKNOWN"
          ],
          "description": "Reason of destination not crawlable."
        },
        "crawlTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Approximate time of the crawl."
        },
        "crawledUrl": {
          "description": "Destination URL that was attempted to be crawled.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListBuyersResponse": {
      "id": "ListBuyersResponse",
      "description": "A response containing buyer account information.",
      "properties": {
        "buyers": {
          "items": {
            "$ref": "Buyer"
          },
          "type": "array",
          "description": "List of buyers."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be passed to a subsequent call to the `ListBuyers` method to retrieve the next page of results in ListBuyersRequest.pageToken."
        }
      },
      "type": "object"
    },
    "DestinationUrlEvidence": {
      "properties": {
        "destinationUrl": {
          "type": "string",
          "description": "The full landing page URL of the destination."
        }
      },
      "id": "DestinationUrlEvidence",
      "type": "object",
      "description": "The full landing page URL of the destination."
    },
    "AdTechnologyProviders": {
      "description": "The list of detected Ad Technology Providers for this creative. Bids placed for inventory that will serve to EEA or UK users are expected to comply with GDPR requirements. You must ensure that the creatives used in such bids should contain only user consented ad technology providers as indicated in the bid request. Google reserves the right to filter non-compliant bids. User consented ad technology providers can be found in the [Google Protocol](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) with the `BidRequest.adslot.consented_providers_settings` field, and can be found as an [OpenRTB extension](https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto) with the `BidRequest.user.ext.consented_providers_settings` and `BidRequest.user.ext.consent` fields. See https://support.google.com/authorizedbuyers/answer/9789378 for additional information about the Google TCF v2 integration.",
      "id": "AdTechnologyProviders",
      "type": "object",
      "properties": {
        "detectedProviderIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "The detected [Google Ad Tech Providers (ATP)](https://support.google.com/admanager/answer/9012903) for this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv for mapping of provider ID to provided name, a privacy policy URL, and a list of domains which can be attributed to the provider."
        },
        "detectedGvlIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The detected IAB Global Vendor List (GVL) IDs for this creative. See the IAB Global Vendor List at https://vendorlist.consensu.org/v2/vendor-list.json for details about the vendors."
        },
        "unidentifiedProviderDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Domains of detected unidentified ad technology providers (if any). You must ensure that the creatives used in bids placed for inventory that will serve to EEA or UK users does not contain unidentified ad technology providers. Google reserves the right to filter non-compliant bids."
        }
      }
    },
    "ListPretargetingConfigsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token which can be passed to a subsequent call to the `ListPretargetingConfigs` method to retrieve the next page of results in ListPretargetingConfigsRequest.pageToken.",
          "type": "string"
        },
        "pretargetingConfigs": {
          "description": "List of pretargeting configurations.",
          "type": "array",
          "items": {
            "$ref": "PretargetingConfig"
          }
        }
      },
      "id": "ListPretargetingConfigsResponse",
      "description": "A response containing pretargeting configurations."
    },
    "Creative": {
      "properties": {
        "agencyId": {
          "format": "int64",
          "description": "The agency ID for this creative.",
          "type": "string"
        },
        "dealIds": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. IDs of all of the deals with which this creative has been used in bidding. Can be used to filter the response of the creatives.list method."
        },
        "declaredAttributes": {
          "items": {
            "type": "string",
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0"
            ],
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported."
            ]
          },
          "type": "array",
          "description": "All declared attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method. If the `excluded_attribute` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto\") contains one of the attributes that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction."
        },
        "html": {
          "description": "An HTML creative.",
          "$ref": "HtmlContent"
        },
        "creativeId": {
          "description": "Buyer-specific creative ID that references this creative in bid responses. This field is Ignored in update operations. Can be used to filter the response of the creatives.list method. The maximum length of the creative ID is 128 bytes.",
          "type": "string"
        },
        "adChoicesDestinationUrl": {
          "description": "The link to AdChoices destination page. This is only supported for native ads.",
          "type": "string"
        },
        "creativeFormat": {
          "enumDescriptions": [
            "The format is unknown.",
            "HTML creative.",
            "Video creative.",
            "Native creative."
          ],
          "type": "string",
          "description": "Output only. The format of this creative. Can be used to filter the response of the creatives.list method.",
          "readOnly": true,
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "HTML",
            "VIDEO",
            "NATIVE"
          ]
        },
        "version": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The version of this creative. Version for a new creative is 1 and it increments during subsequent creative updates."
        },
        "creativeServingDecision": {
          "readOnly": true,
          "description": "Output only. Top level status and detected attributes of a creative (for example domain, language, advertiser, product category, etc.) that affect whether (status) and where (context) a creative will be allowed to serve.",
          "$ref": "CreativeServingDecision"
        },
        "native": {
          "description": "A native creative.",
          "$ref": "NativeContent"
        },
        "declaredClickThroughUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of declared destination URLs for the creative. Can be used to filter the response of the creatives.list method."
        },
        "impressionTrackingUrls": {
          "description": "The set of URLs to be called to record an impression.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "declaredRestrictedCategories": {
          "type": "array",
          "description": "All declared restricted categories for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value that should never be used.",
              "The alcohol restricted category."
            ],
            "enum": [
              "RESTRICTED_CATEGORY_UNSPECIFIED",
              "ALCOHOL"
            ]
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the creative. Follows the pattern `buyers/{buyer}/creatives/{creative}`, where `{buyer}` represents the account ID of the buyer who owns the creative, and `{creative}` is the buyer-specific creative ID that references this creative in the bid response.",
          "readOnly": true
        },
        "video": {
          "description": "A video creative.",
          "$ref": "VideoContent"
        },
        "declaredVendorIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "IDs for the declared ad technology vendors that may be used by this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values. Can be used to filter the response of the creatives.list method."
        },
        "advertiserName": {
          "description": "The name of the company being advertised in the creative. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "accountId": {
          "description": "Output only. ID of the buyer account that this creative is owned by. Can be used to filter the response of the creatives.list method with equality and inequality check.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "apiUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last update timestamp of the creative via API."
        },
        "restrictedCategories": {
          "items": {
            "type": "string",
            "enum": [
              "RESTRICTED_CATEGORY_UNSPECIFIED",
              "ALCOHOL"
            ],
            "enumDescriptions": [
              "Default value that should never be used.",
              "The alcohol restricted category."
            ]
          },
          "type": "array",
          "description": "All restricted categories for the ads that may be shown from this creative."
        }
      },
      "id": "Creative",
      "description": "A creative and its classification data.",
      "type": "object"
    },
    "CreativeDimensions": {
      "properties": {
        "height": {
          "format": "int64",
          "type": "string",
          "description": "The height of the creative in pixels."
        },
        "width": {
          "format": "int64",
          "type": "string",
          "description": "The width of the creative in pixels."
        }
      },
      "id": "CreativeDimensions",
      "description": "The dimensions of a creative. This applies to only HTML and Native creatives.",
      "type": "object"
    },
    "WatchCreativesResponse": {
      "properties": {
        "subscription": {
          "description": "The Pub/Sub subscription that can be used to pull creative status notifications. This would be of the format `projects/{project_id}/subscriptions/{subscription_id}`. Subscription is created with pull delivery. All service accounts belonging to the bidder will have read access to this subscription. Subscriptions that are inactive for more than 90 days will be disabled. Please use watchCreatives to re-enable the subscription.",
          "type": "string"
        },
        "topic": {
          "type": "string",
          "description": "The Pub/Sub topic that will be used to publish creative serving status notifications. This would be of the format `projects/{project_id}/topics/{topic_id}`."
        }
      },
      "id": "WatchCreativesResponse",
      "description": "A response for the request to receive push notification when a bidder's creatives change status.",
      "type": "object"
    },
    "PolicyCompliance": {
      "description": "Policy compliance of the creative for a transaction type or a region.",
      "properties": {
        "topics": {
          "type": "array",
          "description": "Topics related to the policy compliance for this transaction type (e.g., open auction, deals) or region (e.g., China, Russia). Topics may be present only if status is DISAPPROVED.",
          "items": {
            "$ref": "PolicyTopicEntry"
          }
        },
        "status": {
          "enumDescriptions": [
            "Default value that should never be used.",
            "Creative is pending review.",
            "Creative cannot serve.",
            "Creative is approved."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_REVIEW",
            "DISAPPROVED",
            "APPROVED"
          ],
          "description": "Serving status for the given transaction type (e.g., open auction, deals) or region (e.g., China, Russia). Can be used to filter the response of the creatives.list method.",
          "type": "string"
        }
      },
      "id": "PolicyCompliance",
      "type": "object"
    },
    "Image": {
      "type": "object",
      "properties": {
        "width": {
          "description": "Image width in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "url": {
          "description": "The URL of the image.",
          "type": "string"
        },
        "height": {
          "description": "Image height in pixels.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Image",
      "description": "An image resource. You may provide a larger image than was requested, so long as the aspect ratio is preserved."
    },
    "HttpCookieEvidence": {
      "id": "HttpCookieEvidence",
      "description": "Evidence for HTTP cookie-related policy violations.",
      "type": "object",
      "properties": {
        "cookieNames": {
          "items": {
            "type": "string"
          },
          "description": "Names of cookies that violate Google policies. For TOO_MANY_COOKIES policy, this will be the cookie names of top domains with the largest number of cookies. For other policies, this will be all the cookie names that violate the policy.",
          "type": "array"
        },
        "maxCookieCount": {
          "format": "int32",
          "type": "integer",
          "description": "The largest number of cookies set by a creative. If this field is set, cookie_names above will be set to the cookie names of top domains with the largest number of cookies. This field will only be set for TOO_MANY_COOKIES policy."
        }
      }
    },
    "ListEndpointsResponse": {
      "id": "ListEndpointsResponse",
      "type": "object",
      "description": "A response containing bidder endpoints.",
      "properties": {
        "endpoints": {
          "type": "array",
          "description": "List of bidder endpoints.",
          "items": {
            "$ref": "Endpoint"
          }
        },
        "nextPageToken": {
          "description": "A token which can be passed to a subsequent call to the `ListEndpoints` method to retrieve the next page of results in ListEndpointsRequest.pageToken.",
          "type": "string"
        }
      }
    },
    "ListUserListsResponse": {
      "description": "The list user list response.",
      "id": "ListUserListsResponse",
      "properties": {
        "userLists": {
          "items": {
            "$ref": "UserList"
          },
          "description": "List of user lists from the search.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation page token to send back to the server in a subsequent request. Due to a currently known issue, it is recommended that the caller keep invoking the list method till the time a next page token is not returned (even if the result set is empty)."
        }
      },
      "type": "object"
    },
    "AddTargetedPublishersRequest": {
      "description": "A request to start targeting the provided publishers in a specific pretargeting configuration. The pretargeting configuration itself specifies how these publishers are targeted in PretargetingConfig.publisherTargeting.",
      "id": "AddTargetedPublishersRequest",
      "type": "object",
      "properties": {
        "publisherIds": {
          "type": "array",
          "description": "A list of publisher IDs to target in the pretargeting configuration. These values will be added to the list of targeted publisher IDs in PretargetingConfig.publisherTargeting.values. Publishers are identified by their publisher ID from ads.txt / app-ads.txt. See https://iabtechlab.com/ads-txt/ and https://iabtechlab.com/app-ads-txt/ for more details.",
          "items": {
            "type": "string"
          }
        },
        "targetingMode": {
          "enum": [
            "TARGETING_MODE_UNSPECIFIED",
            "INCLUSIVE",
            "EXCLUSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Placeholder for undefined targeting mode.",
            "The inclusive list type. Inventory must match an item in this list to be targeted.",
            "The exclusive list type. Inventory must not match any item in this list to be targeted."
          ],
          "description": "Required. The targeting mode that should be applied to the list of publisher IDs. If are existing publisher IDs, must be equal to the existing PretargetingConfig.publisherTargeting.targetingMode or a 400 bad request error will be returned."
        }
      }
    },
    "AddTargetedSitesRequest": {
      "type": "object",
      "properties": {
        "targetingMode": {
          "description": "Required. The targeting mode that should be applied to the list of site URLs. If there are existing targeted sites, must be equal to the existing PretargetingConfig.webTargeting.targetingMode or a 400 bad request error will be returned.",
          "type": "string",
          "enum": [
            "TARGETING_MODE_UNSPECIFIED",
            "INCLUSIVE",
            "EXCLUSIVE"
          ],
          "enumDescriptions": [
            "Placeholder for undefined targeting mode.",
            "The inclusive list type. Inventory must match an item in this list to be targeted.",
            "The exclusive list type. Inventory must not match any item in this list to be targeted."
          ]
        },
        "sites": {
          "description": "A list of site URLs to target in the pretargeting configuration. These values will be added to the list of targeted URLs in PretargetingConfig.webTargeting.values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AddTargetedSitesRequest",
      "description": "A request to start targeting the provided sites in a specific pretargeting configuration. The pretargeting configuration itself specifies how these sites are targeted in PretargetingConfig.webTargeting."
    },
    "NumericTargetingDimension": {
      "description": "Generic targeting used for targeting dimensions that contain a list of included and excluded numeric IDs used in app, user list, geo, and vertical id targeting.",
      "id": "NumericTargetingDimension",
      "type": "object",
      "properties": {
        "includedIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The IDs included in a configuration.",
          "type": "array"
        },
        "excludedIds": {
          "description": "The IDs excluded in a configuration.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Date": {
      "type": "object",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date"
    },
    "ListBiddersResponse": {
      "type": "object",
      "id": "ListBiddersResponse",
      "description": "A response containing bidders.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be passed to a subsequent call to the `ListBidders` method to retrieve the next page of results in ListBiddersRequest.pageToken."
        },
        "bidders": {
          "type": "array",
          "description": "List of bidders.",
          "items": {
            "$ref": "Bidder"
          }
        }
      }
    },
    "MediaFile": {
      "id": "MediaFile",
      "type": "object",
      "properties": {
        "bitrate": {
          "format": "int64",
          "type": "string",
          "description": "Bitrate of the video file, in Kbps. Can be used to filter the response of the creatives.list method."
        },
        "mimeType": {
          "type": "string",
          "enumDescriptions": [
            "Default value that should never be used.",
            "Flash container.",
            "WebM container assuming VP9 codec.",
            "MPEG-4 container typically with H.264 codec.",
            "Ogg container assuming Theora codec.",
            "Video files hosted on YouTube.",
            "Windows Media Video Codec.",
            "3GPP container format used on 3G phones.",
            "Quicktime container format.",
            "Shockwave Flash (used for VPAID ads).",
            "Properties of VAST served by consumer survey.",
            "JavaScript (used for VPAID ads).",
            "Silverlight (used for VPAID ads).",
            "HLS/M3U8.",
            "DASH.",
            "MPEG-4 audio format.",
            "MPEG-3 audio format.",
            "Ogg audio format"
          ],
          "description": "The MIME type of this media file. Can be used to filter the response of the creatives.list method.",
          "enum": [
            "VIDEO_MIME_TYPE_UNSPECIFIED",
            "MIME_VIDEO_XFLV",
            "MIME_VIDEO_WEBM",
            "MIME_VIDEO_MP4",
            "MIME_VIDEO_OGG",
            "MIME_VIDEO_YT_HOSTED",
            "MIME_VIDEO_X_MS_WMV",
            "MIME_VIDEO_3GPP",
            "MIME_VIDEO_MOV",
            "MIME_APPLICATION_SWF",
            "MIME_APPLICATION_SURVEY",
            "MIME_APPLICATION_JAVASCRIPT",
            "MIME_APPLICATION_SILVERLIGHT",
            "MIME_APPLICATION_MPEGURL",
            "MIME_APPLICATION_MPEGDASH",
            "MIME_AUDIO_MP4A",
            "MIME_AUDIO_MP3",
            "MIME_AUDIO_OGG"
          ]
        }
      },
      "description": "Information about each media file in the VAST."
    },
    "VideoMetadata": {
      "properties": {
        "vastVersion": {
          "enumDescriptions": [
            "Default value that should never be used.",
            "VAST 1.0",
            "VAST 2.0",
            "VAST 3.0",
            "VAST 4.0"
          ],
          "enum": [
            "VAST_VERSION_UNSPECIFIED",
            "VAST_VERSION_1_0",
            "VAST_VERSION_2_0",
            "VAST_VERSION_3_0",
            "VAST_VERSION_4_0"
          ],
          "type": "string",
          "description": "The maximum VAST version across all wrapped VAST documents. Can be used to filter the response of the creatives.list method."
        },
        "mediaFiles": {
          "description": "The list of all media files declared in the VAST. If there are multiple VASTs in a wrapper chain, this includes the media files from the deepest one in the chain.",
          "items": {
            "$ref": "MediaFile"
          },
          "type": "array"
        },
        "isValidVast": {
          "description": "Is this a valid VAST ad? Can be used to filter the response of the creatives.list method.",
          "type": "boolean"
        },
        "skipOffset": {
          "format": "google-duration",
          "description": "The minimum duration that the user has to watch before being able to skip this ad. If the field is not set, the ad is not skippable. If the field is set, the ad is skippable. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "isVpaid": {
          "type": "boolean",
          "description": "Is this a VPAID ad? Can be used to filter the response of the creatives.list method."
        },
        "duration": {
          "description": "The duration of the ad. Can be used to filter the response of the creatives.list method.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Video metadata for a creative.",
      "id": "VideoMetadata",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ActivatePretargetingConfigRequest": {
      "description": "A request to activate a pretargeting configuration. Sets the configuration's state to ACTIVE.",
      "id": "ActivatePretargetingConfigRequest",
      "properties": {},
      "type": "object"
    },
    "CreativeServingDecision": {
      "properties": {
        "detectedProductCategories": {
          "description": "Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs. Can be used to filter the response of the creatives.list method.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes. Can be used to filter the response of the creatives.list method."
        },
        "detectedSensitiveCategories": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Detected sensitive categories, if any. Can be used to filter the response of the creatives.list method. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids."
        },
        "detectedDomains": {
          "description": "The detected domains for this creative.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "russiaPolicyCompliance": {
          "$ref": "PolicyCompliance",
          "description": "The policy compliance of this creative in Russia. When approved or disapproved, this applies to both deals and open auction in Russia. When pending review, this creative is allowed to serve for deals but not for open auction."
        },
        "chinaPolicyCompliance": {
          "$ref": "PolicyCompliance",
          "description": "The policy compliance of this creative in China. When approved or disapproved, this applies to both deals and open auction in China. When pending review, this creative is allowed to serve for deals but not for open auction."
        },
        "adTechnologyProviders": {
          "description": "The detected ad technology providers.",
          "$ref": "AdTechnologyProviders"
        },
        "detectedVendorIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "IDs of the ad technology vendors that were detected to be used by this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values. Can be used to filter the response of the creatives.list method. If the `allowed_vendor_type` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) does not contain one of the vendor type IDs that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction."
        },
        "platformPolicyCompliance": {
          "$ref": "PolicyCompliance",
          "description": "Policy compliance of this creative when bidding in Open Bidding (outside of Russia and China). For the list of platform policies, see: https://support.google.com/platformspolicy/answer/3013851."
        },
        "detectedAttributes": {
          "items": {
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported."
            ],
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Publisher-excludable attributes that were detected for this creative. Can be used to filter the response of the creatives.list method. If the `excluded_attribute` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) contains one of the attributes that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction."
        },
        "detectedClickThroughUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of detected destination URLs for the creative. Can be used to filter the response of the creatives.list method."
        },
        "detectedAdvertisers": {
          "description": "Detected advertisers and brands.",
          "items": {
            "$ref": "AdvertiserAndBrand"
          },
          "type": "array"
        },
        "lastStatusUpdate": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last time the creative status was updated. Can be used to filter the response of the creatives.list method."
        },
        "dealsPolicyCompliance": {
          "description": "Policy compliance of this creative when bidding on Programmatic Guaranteed and Preferred Deals (outside of Russia and China).",
          "$ref": "PolicyCompliance"
        },
        "networkPolicyCompliance": {
          "$ref": "PolicyCompliance",
          "description": "Policy compliance of this creative when bidding in open auction, private auction, or auction packages (outside of Russia and China)."
        }
      },
      "description": "Top level status and detected attributes of a creative.",
      "id": "CreativeServingDecision",
      "type": "object"
    },
    "UrlDownloadSize": {
      "properties": {
        "downloadSizeKb": {
          "type": "integer",
          "description": "Download size of the URL in kilobytes.",
          "format": "int32"
        },
        "normalizedUrl": {
          "description": "The normalized URL with query parameters and fragment removed.",
          "type": "string"
        }
      },
      "id": "UrlDownloadSize",
      "description": "The URL-level breakdown for the download size.",
      "type": "object"
    },
    "CloseUserListRequest": {
      "properties": {},
      "type": "object",
      "id": "CloseUserListRequest",
      "description": "A request to close a specified user list."
    },
    "VideoContent": {
      "type": "object",
      "properties": {
        "videoMetadata": {
          "$ref": "VideoMetadata",
          "description": "Output only. Video metadata.",
          "readOnly": true
        },
        "videoVastXml": {
          "description": "The contents of a VAST document for a video ad. This document should conform to the VAST 2.0 or 3.0 standard.",
          "type": "string"
        },
        "videoUrl": {
          "type": "string",
          "description": "The URL to fetch a video ad."
        }
      },
      "id": "VideoContent",
      "description": "Video content for a creative."
    },
    "Bidder": {
      "description": "Bidder settings.",
      "type": "object",
      "properties": {
        "dealsBillingId": {
          "readOnly": true,
          "description": "Output only. The billing ID for the deals pretargeting config. This billing ID is sent on the bid request for guaranteed and nonguaranteed deals matched in pretargeting.",
          "type": "string"
        },
        "cookieMatchingNetworkId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The buyer's network ID used for cookie matching. This ID corresponds to the `google_nid` parameter in the URL used in cookie match requests. Refer to https://developers.google.com/authorized-buyers/rtb/cookie-guide for further information."
        },
        "bypassNonguaranteedDealsPretargeting": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. A flag to bypass pretargeting for private auctions and preferred deals. When true, bid requests from these nonguaranteed deals will always be sent. When false, bid requests will be subject to regular pretargeting configurations. Programmatic Guaranteed deals will always be sent to the bidder, regardless of the value for this flag. Auction packages are not impacted by this value and are subject to the regular pretargeting configurations."
        },
        "name": {
          "description": "Output only. Name of the bidder resource that must follow the pattern `bidders/{bidderAccountId}`, where `{bidderAccountId}` is the account ID of the bidder whose information is to be received. One can get their account ID on the Authorized Buyers or Open Bidding UI, or by contacting their Google account manager.",
          "type": "string",
          "readOnly": true
        },
        "cookieMatchingUrl": {
          "type": "string",
          "description": "Output only. The base URL used in cookie match requests. Refer to https://developers.google.com/authorized-buyers/rtb/cookie-guide for further information.",
          "readOnly": true
        }
      },
      "id": "Bidder"
    },
    "Endpoint": {
      "description": "Bidder endpoint that receives bid requests.",
      "properties": {
        "bidProtocol": {
          "enum": [
            "BID_PROTOCOL_UNSPECIFIED",
            "GOOGLE_RTB",
            "OPENRTB_2_2",
            "OPENRTB_2_3",
            "OPENRTB_PROTOBUF_2_3",
            "OPENRTB_2_4",
            "OPENRTB_PROTOBUF_2_4",
            "OPENRTB_2_5",
            "OPENRTB_PROTOBUF_2_5"
          ],
          "enumDescriptions": [
            "Placeholder for undefined bid protocol. This value should not be used.",
            "Google RTB protocol / Protobuf encoding.",
            "OpenRTB / JSON encoding, specification version 2.2.",
            "OpenRTB / JSON encoding, specification version 2.3.",
            "OpenRTB / Protobuf encoding, specification version 2.3.",
            "OpenRTB / JSON encoding, specification version 2.4.",
            "OpenRTB / Protobuf encoding, specification version 2.4.",
            "OpenRTB / JSON encoding, specification version 2.5.",
            "OpenRTB / Protobuf encoding, specification version 2.5."
          ],
          "type": "string",
          "description": "The protocol that the bidder endpoint is using."
        },
        "maximumQps": {
          "type": "string",
          "format": "int64",
          "description": "The maximum number of queries per second allowed to be sent to this server."
        },
        "tradingLocation": {
          "type": "string",
          "enum": [
            "TRADING_LOCATION_UNSPECIFIED",
            "US_WEST",
            "US_EAST",
            "EUROPE",
            "ASIA"
          ],
          "description": "The trading location that bid requests should be sent from. See https://developers.google.com/authorized-buyers/rtb/peer-guide#trading-locations for further information.",
          "enumDescriptions": [
            "A placeholder for an undefined trading region. This value should not be used.",
            "The Western US trading location.",
            "The Eastern US trading location.",
            "The European trading location.",
            "The Asia trading location."
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the endpoint resource that must follow the pattern `bidders/{bidderAccountId}/endpoints/{endpointId}`, where {bidderAccountId} is the account ID of the bidder who operates this endpoint, and {endpointId} is a unique ID assigned by the server."
        },
        "url": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL that bid requests should be sent to."
        }
      },
      "id": "Endpoint",
      "type": "object"
    },
    "UserList": {
      "id": "UserList",
      "properties": {
        "displayName": {
          "description": "Required. Display name of the user list. This must be unique across all user lists for a given account.",
          "type": "string"
        },
        "urlRestriction": {
          "$ref": "UrlRestriction",
          "description": "Required. The URL restriction for the user list."
        },
        "description": {
          "type": "string",
          "description": "The description for the user list."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Default value that should never be used.",
            "New users can be added to the user list.",
            "New users cannot be added to the user list."
          ],
          "readOnly": true,
          "description": "Output only. The status of the user list. A new user list starts out as open.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ]
        },
        "membershipDurationDays": {
          "type": "string",
          "format": "int64",
          "description": "Required. The number of days a user's cookie stays on the user list. The field must be between 0 and 540 inclusive."
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the user list that must follow the pattern `buyers/{buyer}/userLists/{user_list}`, where `{buyer}` represents the account ID of the buyer who owns the user list. For a bidder accessing user lists on behalf of a child seat buyer, `{buyer}` represents the account ID of the child seat buyer. `{user_list}` is an int64 identifier assigned by Google to uniquely identify a user list.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents an Authorized Buyers user list. Authorized Buyers can create/update/list user lists. Once a user list is created in the system, Authorized Buyers can add users to the user list using the bulk uploader API. Alternatively, users can be added by hosting a tag on the advertiser's page."
    },
    "DomainCallEvidence": {
      "properties": {
        "totalHttpCallCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of HTTP calls made by the creative, including but not limited to the number of calls in the top_http_call_domains."
        },
        "topHttpCallDomains": {
          "type": "array",
          "items": {
            "$ref": "DomainCalls"
          },
          "description": "Breakdown of the most frequent domains called via HTTP by the creative."
        }
      },
      "type": "object",
      "id": "DomainCallEvidence",
      "description": "Number of HTTP calls made by a creative, broken down by domain."
    },
    "SuspendPretargetingConfigRequest": {
      "type": "object",
      "description": "A request to suspend a pretargeting configuration. Sets the configuration's state to SUSPENDED.",
      "id": "SuspendPretargetingConfigRequest",
      "properties": {}
    },
    "ListCreativesResponse": {
      "properties": {
        "creatives": {
          "type": "array",
          "description": "The list of creatives.",
          "items": {
            "$ref": "Creative"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativesRequest.pageToken field in the subsequent call to the `ListCreatives` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListCreativesResponse",
      "description": "A response for listing creatives.",
      "type": "object"
    },
    "HtmlContent": {
      "type": "object",
      "properties": {
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "The width of the HTML snippet in pixels. Can be used to filter the response of the creatives.list method."
        },
        "height": {
          "description": "The height of the HTML snippet in pixels. Can be used to filter the response of the creatives.list method.",
          "format": "int32",
          "type": "integer"
        },
        "snippet": {
          "description": "The HTML snippet that displays the ad when inserted in the web page.",
          "type": "string"
        }
      },
      "description": "HTML content for a creative.",
      "id": "HtmlContent"
    },
    "WatchCreativesRequest": {
      "id": "WatchCreativesRequest",
      "properties": {},
      "description": "A request to receive push notifications when any of the creatives belonging to the bidder changes status.",
      "type": "object"
    },
    "DownloadSizeEvidence": {
      "description": "Total download size and URL-level download size breakdown for resources in a creative.",
      "id": "DownloadSizeEvidence",
      "type": "object",
      "properties": {
        "topUrlDownloadSizeBreakdowns": {
          "items": {
            "$ref": "UrlDownloadSize"
          },
          "type": "array",
          "description": "Download size broken down by URLs with the top download size."
        },
        "totalDownloadSizeKb": {
          "type": "integer",
          "format": "int32",
          "description": "Total download size (in kilobytes) for all the resources in the creative."
        }
      }
    },
    "NativeContent": {
      "description": "Native content for a creative.",
      "properties": {
        "starRating": {
          "type": "number",
          "format": "double",
          "description": "The app rating in the app store. Must be in the range [0-5]."
        },
        "body": {
          "type": "string",
          "description": "A long description of the ad."
        },
        "videoVastXml": {
          "type": "string",
          "description": "The contents of a VAST document for a native video ad."
        },
        "logo": {
          "description": "A smaller image, for the advertiser's logo.",
          "$ref": "Image"
        },
        "image": {
          "description": "A large image.",
          "$ref": "Image"
        },
        "headline": {
          "description": "A short title for the ad.",
          "type": "string"
        },
        "priceDisplayText": {
          "type": "string",
          "description": "The price of the promoted app including currency info."
        },
        "advertiserName": {
          "description": "The name of the advertiser or sponsor, to be displayed in the ad creative.",
          "type": "string"
        },
        "clickTrackingUrl": {
          "type": "string",
          "description": "The URL to use for click tracking."
        },
        "videoUrl": {
          "description": "The URL to fetch a native video ad.",
          "type": "string"
        },
        "clickLinkUrl": {
          "type": "string",
          "description": "The URL that the browser/SDK will load when the user clicks the ad."
        },
        "callToAction": {
          "description": "A label for the button that the user is supposed to click.",
          "type": "string"
        },
        "appIcon": {
          "description": "The app icon, for app download ads.",
          "$ref": "Image"
        }
      },
      "id": "NativeContent",
      "type": "object"
    },
    "Buyer": {
      "id": "Buyer",
      "type": "object",
      "description": "RTB Buyer account information.",
      "properties": {
        "name": {
          "description": "Output only. Name of the buyer resource that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` is the account ID of the buyer account whose information is to be received. One can get their account ID on the Authorized Buyers or Open Bidding UI, or by contacting their Google account manager.",
          "type": "string",
          "readOnly": true
        },
        "bidder": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the bidder resource that is responsible for receiving bidding traffic for this account. The bidder name must follow the pattern `bidders/{bidderAccountId}`, where `{bidderAccountId}` is the account ID of the bidder receiving traffic for this buyer."
        },
        "maximumActiveCreativeCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The maximum number of active creatives that this buyer can have.",
          "type": "string"
        },
        "activeCreativeCount": {
          "type": "string",
          "description": "Output only. The number of creatives that this buyer submitted via the API or bid with in the last 30 days. This is counted against the maximum number of active creatives.",
          "format": "int64",
          "readOnly": true
        },
        "billingIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. A list of billing IDs associated with this account. These IDs appear on: 1. A bid request, to signal which buyers are eligible to bid on a given opportunity, and which pretargeting configurations were matched for each eligible buyer. 2. The bid response, to attribute a winning impression to a specific account for billing, reporting, policy and publisher block enforcement.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The diplay name associated with this buyer account, as visible to sellers.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AppTargeting": {
      "description": "A subset of app inventory to target. Bid requests that match criteria in at least one of the specified dimensions will be sent.",
      "id": "AppTargeting",
      "properties": {
        "mobileAppTargeting": {
          "description": "Targeted app IDs. App IDs can refer to those found in an app store or ones that are not published in an app store. A maximum of 30,000 app IDs can be targeted.",
          "$ref": "StringTargetingDimension"
        },
        "mobileAppCategoryTargeting": {
          "description": "Lists of included and excluded mobile app categories as defined in https://developers.google.com/adwords/api/docs/appendix/mobileappcategories.csv.",
          "$ref": "NumericTargetingDimension"
        }
      },
      "type": "object"
    },
    "StringTargetingDimension": {
      "description": "Generic targeting with string values used in app, website and publisher targeting.",
      "type": "object",
      "properties": {
        "targetingMode": {
          "description": "How the items in this list should be targeted.",
          "enum": [
            "TARGETING_MODE_UNSPECIFIED",
            "INCLUSIVE",
            "EXCLUSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Placeholder for undefined targeting mode.",
            "The inclusive list type. Inventory must match an item in this list to be targeted.",
            "The exclusive list type. Inventory must not match any item in this list to be targeted."
          ]
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The values specified."
        }
      },
      "id": "StringTargetingDimension"
    },
    "PretargetingConfig": {
      "description": "Pretargeting configuration: a set of targeting dimensions applied at the pretargeting stage of the RTB funnel. These control which inventory a bidder will receive bid requests for.",
      "properties": {
        "includedFormats": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Placeholder for undefined creative format. This value should not be used.",
              "HTML and AMPHTML creatives.",
              "VAST video or audio creative.",
              "Native creative, including standard and video native ads."
            ],
            "type": "string",
            "enum": [
              "CREATIVE_FORMAT_UNSPECIFIED",
              "HTML",
              "VAST",
              "NATIVE"
            ]
          },
          "description": "Creative formats included by this configuration. Only bid requests eligible for at least one of the specified creative formats will be sent. An unset value will allow all bid requests to be sent, regardless of format."
        },
        "includedLanguages": {
          "description": "The languages included in this configuration, represented by their language code. See https://developers.google.com/adwords/api/docs/appendix/languagecodes.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "The diplay name associated with this configuration. This name must be unique among all the pretargeting configurations a bidder has."
        },
        "minimumViewabilityDecile": {
          "description": "The targeted minimum viewability decile, ranging in values [0, 10]. A value of 5 means that the configuration will only match adslots for which we predict at least 50% viewability. Values \u003e 10 will be rounded down to 10. An unset value or a value of 0 indicates that bid requests will be sent regardless of viewability.",
          "format": "int32",
          "type": "integer"
        },
        "includedEnvironments": {
          "description": "Environments that are being included. Bid requests will not be sent for a given environment if it is not included. Further restrictions can be applied to included environments to target only a subset of its inventory. An unset value includes all environments.",
          "items": {
            "enumDescriptions": [
              "Placeholder for unspecified environment. This value should not be used.",
              "App environment.",
              "Web environment."
            ],
            "type": "string",
            "enum": [
              "ENVIRONMENT_UNSPECIFIED",
              "APP",
              "WEB"
            ]
          },
          "type": "array"
        },
        "webTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Targeting on a subset of site inventory. If WEB is listed in included_environments, the specified targeting is applied. A maximum of 50,000 site URLs can be targeted. An unset value for targeting allows all web-based bid requests to be sent. Sites can either be targeting positively (bid requests will be sent only if the destination site is listed in the targeting dimension) or negatively (bid requests will be sent only if the destination site is not listed in the pretargeting configuration)."
        },
        "includedMobileOperatingSystemIds": {
          "description": "The mobile operating systems included in this configuration as defined in https://storage.googleapis.com/adx-rtb-dictionaries/mobile-os.csv",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "invalidGeoIds": {
          "description": "Output only. Existing included or excluded geos that are invalid. Previously targeted geos may become invalid due to privacy restrictions.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "readOnly": true,
          "type": "array"
        },
        "excludedContentLabelIds": {
          "type": "array",
          "description": "The sensitive content category label IDs excluded in this configuration. Bid requests for inventory with any of the specified content label IDs will not be sent. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "maximumQps": {
          "description": "The maximum QPS threshold for this configuration. The bidder should receive no more than this number of bid requests matching this configuration per second across all their bidding endpoints among all trading locations. Further information available at https://developers.google.com/authorized-buyers/rtb/peer-guide",
          "type": "string",
          "format": "int64"
        },
        "includedCreativeDimensions": {
          "description": "Creative dimensions included by this configuration. Only bid requests eligible for at least one of the specified creative dimensions will be sent. An unset value allows all bid requests to be sent, regardless of creative dimension.",
          "items": {
            "$ref": "CreativeDimensions"
          },
          "type": "array"
        },
        "allowedUserTargetingModes": {
          "type": "array",
          "description": "Targeting modes included by this configuration. A bid request must allow all the specified targeting modes. An unset value allows all bid requests to be sent, regardless of which targeting modes they allow.",
          "items": {
            "enumDescriptions": [
              "Placeholder for undefined user targeting mode.",
              "Remarketing ads are allowed to serve.",
              "Ads based on user interest category targeting are allowed to serve."
            ],
            "type": "string",
            "enum": [
              "USER_TARGETING_MODE_UNSPECIFIED",
              "REMARKETING_ADS",
              "INTEREST_BASED_TARGETING"
            ]
          }
        },
        "billingId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The identifier that corresponds to this pretargeting configuration that helps buyers track and attribute their spend across their own arbitrary divisions. If a bid request matches more than one configuration, the buyer chooses which billing_id to attribute each of their bids."
        },
        "publisherTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Targeting on a subset of publisher inventory. Publishers can either be targeted positively (bid requests will be sent only if the publisher is listed in the targeting dimension) or negatively (bid requests will be sent only if the publisher is not listed in the targeting dimension). A maximum of 10,000 publisher IDs can be targeted. Publisher IDs are found in [ads.txt](https://iabtechlab.com/ads-txt/) / [app-ads.txt](https://iabtechlab.com/app-ads-txt/) and in bid requests in the `BidRequest.publisher_id` field on the [Google RTB protocol](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) or the `BidRequest.site.publisher.id` / `BidRequest.app.publisher.id` field on the [OpenRTB protocol](https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto)."
        },
        "verticalTargeting": {
          "description": "The verticals included or excluded in this configuration as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals",
          "$ref": "NumericTargetingDimension"
        },
        "interstitialTargeting": {
          "enum": [
            "INTERSTITIAL_TARGETING_UNSPECIFIED",
            "ONLY_INTERSTITIAL_REQUESTS",
            "ONLY_NON_INTERSTITIAL_REQUESTS"
          ],
          "description": "The interstitial targeting specified for this configuration. The unset value will allow bid requests to be sent regardless of whether they are for interstitials or not.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified interstitial targeting. Represents an interstitial-agnostic selection.",
            "Only bid requests for interstitial inventory should be sent.",
            "Only bid requests for non-interstitial inventory should be sent."
          ]
        },
        "name": {
          "description": "Output only. Name of the pretargeting configuration that must follow the pattern `bidders/{bidder_account_id}/pretargetingConfigs/{config_id}`",
          "readOnly": true,
          "type": "string"
        },
        "includedPlatforms": {
          "description": "The platforms included by this configration. Bid requests for devices with the specified platform types will be sent. An unset value allows all bid requests to be sent, regardless of platform.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Placeholder for an undefined platform. This value should not be used.",
              "The personal computer platform.",
              "The mobile platform.",
              "The tablet platform.",
              "The connected TV platform."
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "PERSONAL_COMPUTER",
              "PHONE",
              "TABLET",
              "CONNECTED_TV"
            ]
          },
          "type": "array"
        },
        "includedUserIdTypes": {
          "description": "User identifier types included in this configuration. At least one of the user identifier types specified in this list must be available for the bid request to be sent.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Placeholder for unspecified user identifier.",
              "Hosted match data, referring to hosted_match_data in the bid request.",
              "Google cookie, referring to google_user_id in the bid request.",
              "Mobile device advertising ID."
            ],
            "type": "string",
            "enum": [
              "USER_ID_TYPE_UNSPECIFIED",
              "HOSTED_MATCH_DATA",
              "GOOGLE_COOKIE",
              "DEVICE_ID"
            ]
          }
        },
        "appTargeting": {
          "$ref": "AppTargeting",
          "description": "Targeting on a subset of app inventory. If APP is listed in targeted_environments, the specified targeting is applied. A maximum of 30,000 app IDs can be targeted. An unset value for targeting allows all app-based bid requests to be sent. Apps can either be targeting positively (bid requests will be sent only if the destination app is listed in the targeting dimension) or negatively (bid requests will be sent only if the destination app is not listed in the targeting dimension)."
        },
        "geoTargeting": {
          "$ref": "NumericTargetingDimension",
          "description": "The geos included or excluded in this configuration defined in https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv"
        },
        "state": {
          "description": "Output only. The state of this pretargeting configuration.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Placeholder for undefined state.",
            "This pretargeting configuration is actively being used to filter bid requests.",
            "This pretargeting configuration is suspended and not used in serving."
          ]
        },
        "userListTargeting": {
          "description": "The remarketing lists included or excluded in this configuration as defined in UserList.",
          "$ref": "NumericTargetingDimension"
        }
      },
      "id": "PretargetingConfig",
      "type": "object"
    },
    "HttpCallEvidence": {
      "type": "object",
      "properties": {
        "urls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "URLs of HTTP calls made by the creative."
        }
      },
      "id": "HttpCallEvidence",
      "description": "HTTP calls made by a creative that resulted in policy violations."
    },
    "AddTargetedAppsRequest": {
      "description": "A request to start targeting the provided app IDs in a specific pretargeting configuration. The pretargeting configuration itself specifies how these apps are targeted. in PretargetingConfig.appTargeting.mobileAppTargeting.",
      "id": "AddTargetedAppsRequest",
      "properties": {
        "appIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of app IDs to target in the pretargeting configuration. These values will be added to the list of targeted app IDs in PretargetingConfig.appTargeting.mobileAppTargeting.values."
        },
        "targetingMode": {
          "enumDescriptions": [
            "Placeholder for undefined targeting mode.",
            "The inclusive list type. Inventory must match an item in this list to be targeted.",
            "The exclusive list type. Inventory must not match any item in this list to be targeted."
          ],
          "enum": [
            "TARGETING_MODE_UNSPECIFIED",
            "INCLUSIVE",
            "EXCLUSIVE"
          ],
          "type": "string",
          "description": "Required. The targeting mode that should be applied to the list of app IDs. If there are existing targeted app IDs, must be equal to the existing PretargetingConfig.appTargeting.mobileAppTargeting.targetingMode or a 400 bad request error will be returned."
        }
      },
      "type": "object"
    }
  },
  "description": "Allows external bidders to manage their RTB integration with Google. This includes managing bidder endpoints, QPS quotas, configuring what ad inventory to receive via pretargeting, submitting creatives for verification, and accessing creative metadata such as approval status.",
  "kind": "discovery#restDescription",
  "id": "realtimebidding:v1",
  "batchPath": "batch",
  "name": "realtimebidding",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "resources": {
    "buyers": {
      "resources": {
        "userLists": {
          "methods": {
            "close": {
              "httpMethod": "POST",
              "path": "v1/{+name}:close",
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}:close",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the user list to close. See UserList.name",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$"
                }
              },
              "id": "realtimebidding.buyers.userLists.close",
              "description": "Change the status of a user list to CLOSED. This prevents new users from being added to the user list.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CloseUserListRequest"
              },
              "response": {
                "$ref": "UserList"
              }
            },
            "list": {
              "response": {
                "$ref": "ListUserListsResponse"
              },
              "path": "v1/{+parent}/userLists",
              "description": "Lists the user lists visible to the current user.",
              "flatPath": "v1/buyers/{buyersId}/userLists",
              "id": "realtimebidding.buyers.userLists.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Continuation page token (as received from a previous response)."
                },
                "parent": {
                  "description": "Required. The name of the parent buyer for the user lists to be returned that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns user lists. For a bidder accessing user lists on behalf of a child seat buyer , `{buyerAccountId}` should represent the account ID of the child seat buyer.",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The number of results to return per page.",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ]
            },
            "getRemarketingTag": {
              "response": {
                "$ref": "GetRemarketingTagResponse"
              },
              "id": "realtimebidding.buyers.userLists.getRemarketingTag",
              "description": "Gets remarketing tag for a buyer. A remarketing tag is a piece of JavaScript code that can be placed on a web page. When a user visits a page containing a remarketing tag, Google adds the user to a user list.",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}:getRemarketingTag",
              "path": "v1/{+name}:getRemarketingTag",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. To fetch remarketing tag for an account, name must follow the pattern `buyers/{accountId}` where `{accountId}` represents ID of a buyer that owns the remarketing tag. For a bidder accessing remarketing tag on behalf of a child seat buyer, `{accountId}` should represent the ID of the child seat buyer. To fetch remarketing tag for a specific user list, name must follow the pattern `buyers/{accountId}/userLists/{userListId}`. See UserList.name."
                }
              }
            },
            "open": {
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "request": {
                "$ref": "OpenUserListRequest"
              },
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}:open",
              "path": "v1/{+name}:open",
              "description": "Change the status of a user list to OPEN. This allows new users to be added to the user list.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$",
                  "description": "Required. The name of the user list to open. See UserList.name"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "UserList"
              },
              "id": "realtimebidding.buyers.userLists.open"
            },
            "update": {
              "httpMethod": "PUT",
              "response": {
                "$ref": "UserList"
              },
              "request": {
                "$ref": "UserList"
              },
              "id": "realtimebidding.buyers.userLists.update",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. Name of the user list that must follow the pattern `buyers/{buyer}/userLists/{user_list}`, where `{buyer}` represents the account ID of the buyer who owns the user list. For a bidder accessing user lists on behalf of a child seat buyer, `{buyer}` represents the account ID of the child seat buyer. `{user_list}` is an int64 identifier assigned by Google to uniquely identify a user list.",
                  "required": true,
                  "location": "path",
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "description": "Update the given user list. Only user lists with URLRestrictions can be updated.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}",
              "description": "Gets a user list by its name.",
              "id": "realtimebidding.buyers.userLists.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "response": {
                "$ref": "UserList"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$",
                  "description": "Required. The name of the user list to be retrieved. See UserList.name.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "create": {
              "path": "v1/{+parent}/userLists",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "flatPath": "v1/buyers/{buyersId}/userLists",
              "httpMethod": "POST",
              "request": {
                "$ref": "UserList"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Create a new user list.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "description": "Required. The name of the parent buyer of the user list to be retrieved that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns user lists. For a bidder accessing user lists on behalf of a child seat buyer , `{buyerAccountId}` should represent the account ID of the child seat buyer.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "UserList"
              },
              "id": "realtimebidding.buyers.userLists.create"
            }
          }
        },
        "creatives": {
          "methods": {
            "patch": {
              "path": "v1/{+name}",
              "id": "realtimebidding.buyers.creatives.patch",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Creative"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Output only. Name of the creative. Follows the pattern `buyers/{buyer}/creatives/{creative}`, where `{buyer}` represents the account ID of the buyer who owns the creative, and `{creative}` is the buyer-specific creative ID that references this creative in the bid response.",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+/creatives/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Field mask to use for partial in-place updates.",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "response": {
                "$ref": "Creative"
              },
              "description": "Updates a creative.",
              "httpMethod": "PATCH",
              "flatPath": "v1/buyers/{buyersId}/creatives/{creativesId}"
            },
            "create": {
              "id": "realtimebidding.buyers.creatives.create",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent buyer that the new creative belongs to that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns a creative. For a bidder accessing creatives on behalf of a child seat buyer, `{buyerAccountId}` should represent the account ID of the child seat buyer.",
                  "location": "path",
[...]
