{
  "mtlsRootUrl": "https://realtimebidding.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "canonicalName": "Real-time Bidding",
  "discoveryVersion": "v1",
  "name": "realtimebidding",
  "baseUrl": "https://realtimebidding.googleapis.com/",
  "description": "Allows external bidders to manage their RTB integration with Google. This includes managing bidder endpoints, QPS quotas, configuring what ad inventory to receive via pretargeting, submitting creatives for verification, and accessing creative metadata such as approval status.",
  "basePath": "",
  "revision": "20230207",
  "id": "realtimebidding:v1",
  "version": "v1",
  "resources": {
    "buyers": {
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "description": "Gets a buyer account by its name.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/buyers/{buyersId}",
          "id": "realtimebidding.buyers.get",
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^buyers/[^/]+$",
              "type": "string",
              "description": "Required. Name of the buyer to get. Format: `buyers/{buyerId}`",
              "required": true
            }
          },
          "response": {
            "$ref": "Buyer"
          }
        },
        "getRemarketingTag": {
          "id": "realtimebidding.buyers.getRemarketingTag",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. To fetch remarketing tag for an account, name must follow the pattern `buyers/{accountId}` where `{accountId}` represents ID of a buyer that owns the remarketing tag. For a bidder accessing remarketing tag on behalf of a child seat buyer, `{accountId}` should represent the ID of the child seat buyer. To fetch remarketing tag for a specific user list, name must follow the pattern `buyers/{accountId}/userLists/{userListId}`. See UserList.name.",
              "pattern": "^buyers/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/buyers/{buyersId}:getRemarketingTag",
          "description": "Gets remarketing tag for a buyer. A remarketing tag is a piece of JavaScript code that can be placed on a web page. When a user visits a page containing a remarketing tag, Google adds the user to a user list.",
          "response": {
            "$ref": "GetRemarketingTagResponse"
          },
          "path": "v1/{+name}:getRemarketingTag",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ]
        },
        "list": {
          "flatPath": "v1/buyers",
          "parameters": {
            "pageToken": {
              "description": "A token identifying a page of results the server should return. This value is received from a previous `ListBuyers` call in ListBuyersResponse.nextPageToken.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of buyers to return. If unspecified, at most 100 buyers will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "realtimebidding.buyers.list",
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ],
          "path": "v1/buyers",
          "description": "Lists all buyer account information the calling buyer user or service account is permissioned to manage.",
          "response": {
            "$ref": "ListBuyersResponse"
          }
        }
      },
      "resources": {
        "creatives": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/creatives/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the creative to retrieve. See creative.name.",
                  "location": "path",
                  "required": true
                },
                "view": {
                  "description": "Controls the amount of information included in the response. By default only creativeServingDecision is included. To retrieve the entire creative resource (including the declared fields and the creative content) specify the view as \"FULL\".",
                  "type": "string",
                  "enumDescriptions": [
                    "Not specified, equivalent to SERVING_DECISION_ONLY.",
                    "Only creativeServingDecision is included in the response.",
                    "The entire creative resource (including the declared fields and the creative content) is included in the response."
                  ],
                  "location": "query",
                  "enum": [
                    "CREATIVE_VIEW_UNSPECIFIED",
                    "SERVING_DECISION_ONLY",
                    "FULL"
                  ]
                }
              },
              "id": "realtimebidding.buyers.creatives.get",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "flatPath": "v1/buyers/{buyersId}/creatives/{creativesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a creative.",
              "response": {
                "$ref": "Creative"
              }
            },
            "patch": {
              "description": "Updates a creative.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/creatives/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Output only. Name of the creative. Follows the pattern `buyers/{buyer}/creatives/{creative}`, where `{buyer}` represents the account ID of the buyer who owns the creative, and `{creative}` is the buyer-specific creative ID that references this creative in the bid response."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Field mask to use for partial in-place updates.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/creatives/{creativesId}",
              "id": "realtimebidding.buyers.creatives.patch",
              "response": {
                "$ref": "Creative"
              },
              "request": {
                "$ref": "Creative"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH"
            },
            "create": {
              "request": {
                "$ref": "Creative"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent buyer that the new creative belongs to that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns a creative. For a bidder accessing creatives on behalf of a child seat buyer, `{buyerAccountId}` should represent the account ID of the child seat buyer.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+parent}/creatives",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "description": "Creates a creative.",
              "id": "realtimebidding.buyers.creatives.create",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Creative"
              },
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/creatives"
            },
            "list": {
              "path": "v1/{+parent}/creatives",
              "description": "Lists creatives as they are at the time of the initial request. This call may take multiple hours to complete. For large, paginated requests, this method returns a snapshot of creatives at the time of request for the first page. `lastStatusUpdate` and `creativeServingDecision` may be outdated for creatives on sequential pages. We recommend [Google Cloud Pub/Sub](//cloud.google.com/pubsub/docs/overview) to view the latest status.",
              "id": "realtimebidding.buyers.creatives.list",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "flatPath": "v1/buyers/{buyersId}/creatives",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListCreativesResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the parent buyer that owns the creatives. The pattern for this resource is either `buyers/{buyerAccountId}` or `bidders/{bidderAccountId}`. For `buyers/{buyerAccountId}`, the `buyerAccountId` can be one of the following: 1. The ID of the buyer that is accessing their own creatives. 2. The ID of the child seat buyer under a bidder account. So for listing creatives pertaining to the child seat buyer (`456`) under bidder account (`123`), you would use the pattern: `buyers/456`. 3. The ID of the bidder itself. So for listing creatives pertaining to bidder (`123`), you would use `buyers/123`. If you want to access all creatives pertaining to both the bidder and all of its child seat accounts, you would use `bidders/{bidderAccountId}`, for example, for all creatives pertaining to bidder (`123`), use `bidders/123`.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativesResponse.nextPageToken returned from the previous call to the 'ListCreatives' method. Page tokens for continued pages are valid for up to five hours, counting from the call to 'ListCreatives' for the first page."
                },
                "view": {
                  "enumDescriptions": [
                    "Not specified, equivalent to SERVING_DECISION_ONLY.",
                    "Only creativeServingDecision is included in the response.",
                    "The entire creative resource (including the declared fields and the creative content) is included in the response."
                  ],
                  "description": "Controls the amount of information included in the response. By default only creativeServingDecision is included. To retrieve the entire creative resource (including the declared fields and the creative content) specify the view as \"FULL\".",
                  "enum": [
                    "CREATIVE_VIEW_UNSPECIFIED",
                    "SERVING_DECISION_ONLY",
                    "FULL"
                  ],
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Query string to filter creatives. If no filter is specified, all active creatives will be returned. Example: 'accountId=12345 AND (dealsStatus:DISAPPROVED AND disapprovalReason:UNACCEPTABLE_CONTENT) OR declaredAttributes:IS_COOKIE_TARGETED'",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer creatives than requested (due to timeout constraint) even if more are available through another call. If unspecified, server will pick an appropriate default. Acceptable values are 1 to 1000, inclusive.",
                  "location": "query"
                }
              }
            }
          }
        },
        "userLists": {
          "methods": {
            "list": {
              "flatPath": "v1/buyers/{buyersId}/userLists",
              "id": "realtimebidding.buyers.userLists.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Lists the user lists visible to the current user.",
              "path": "v1/{+parent}/userLists",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "response": {
                "$ref": "ListUserListsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "The number of results to return per page.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Continuation page token (as received from a previous response)."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the parent buyer for the user lists to be returned that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns user lists. For a bidder accessing user lists on behalf of a child seat buyer , `{buyerAccountId}` should represent the account ID of the child seat buyer.",
                  "pattern": "^buyers/[^/]+$"
                }
              }
            },
            "close": {
              "description": "Change the status of a user list to CLOSED. This prevents new users from being added to the user list.",
              "request": {
                "$ref": "CloseUserListRequest"
              },
              "path": "v1/{+name}:close",
              "httpMethod": "POST",
              "id": "realtimebidding.buyers.userLists.close",
              "response": {
                "$ref": "UserList"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the user list to close. See UserList.name",
                  "type": "string"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}:close"
            },
            "create": {
              "request": {
                "$ref": "UserList"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "description": "Required. The name of the parent buyer of the user list to be retrieved that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns user lists. For a bidder accessing user lists on behalf of a child seat buyer , `{buyerAccountId}` should represent the account ID of the child seat buyer."
                }
              },
              "response": {
                "$ref": "UserList"
              },
              "flatPath": "v1/buyers/{buyersId}/userLists",
              "description": "Create a new user list.",
              "path": "v1/{+parent}/userLists",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.buyers.userLists.create",
              "httpMethod": "POST"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a user list by its name.",
              "path": "v1/{+name}",
              "id": "realtimebidding.buyers.userLists.get",
              "response": {
                "$ref": "UserList"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the user list to be retrieved. See UserList.name.",
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}"
            },
            "update": {
              "response": {
                "$ref": "UserList"
              },
              "id": "realtimebidding.buyers.userLists.update",
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Output only. Name of the user list that must follow the pattern `buyers/{buyer}/userLists/{user_list}`, where `{buyer}` represents the account ID of the buyer who owns the user list. For a bidder accessing user lists on behalf of a child seat buyer, `{buyer}` represents the account ID of the child seat buyer. `{user_list}` is an int64 identifier assigned by Google to uniquely identify a user list."
                }
              },
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "request": {
                "$ref": "UserList"
              },
              "path": "v1/{+name}",
              "description": "Update the given user list. Only user lists with URLRestrictions can be updated.",
              "parameterOrder": [
                "name"
              ]
            },
            "open": {
              "request": {
                "$ref": "OpenUserListRequest"
              },
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}:open",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the user list to open. See UserList.name"
                }
              },
              "id": "realtimebidding.buyers.userLists.open",
              "response": {
                "$ref": "UserList"
              },
              "path": "v1/{+name}:open",
              "httpMethod": "POST",
              "description": "Change the status of a user list to OPEN. This allows new users to be added to the user list.",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ]
            },
            "getRemarketingTag": {
              "response": {
                "$ref": "GetRemarketingTagResponse"
              },
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}:getRemarketingTag",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "httpMethod": "GET",
              "description": "Gets remarketing tag for a buyer. A remarketing tag is a piece of JavaScript code that can be placed on a web page. When a user visits a page containing a remarketing tag, Google adds the user to a user list.",
              "path": "v1/{+name}:getRemarketingTag",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$",
                  "description": "Required. To fetch remarketing tag for an account, name must follow the pattern `buyers/{accountId}` where `{accountId}` represents ID of a buyer that owns the remarketing tag. For a bidder accessing remarketing tag on behalf of a child seat buyer, `{accountId}` should represent the ID of the child seat buyer. To fetch remarketing tag for a specific user list, name must follow the pattern `buyers/{accountId}/userLists/{userListId}`. See UserList.name.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "realtimebidding.buyers.userLists.getRemarketingTag"
            }
          }
        }
      }
    },
    "bidders": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. Name of the bidder to get. Format: `bidders/{bidderAccountId}`",
              "location": "path",
              "pattern": "^bidders/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/bidders/{biddersId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ],
          "response": {
            "$ref": "Bidder"
          },
          "description": "Gets a bidder account by its name.",
          "id": "realtimebidding.bidders.get"
        },
        "list": {
          "id": "realtimebidding.bidders.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ],
          "path": "v1/bidders",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of bidders to return. If unspecified, at most 100 bidders will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. This value is received from a previous `ListBidders` call in ListBiddersResponse.nextPageToken.",
              "location": "query"
            }
          },
          "description": "Lists all the bidder accounts that belong to the caller.",
          "flatPath": "v1/bidders",
          "response": {
            "$ref": "ListBiddersResponse"
          }
        }
      },
      "resources": {
        "publisherConnections": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^bidders/[^/]+/publisherConnections/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the publisher whose connection information is to be retrieved. In the pattern `bidders/{bidder}/publisherConnections/{publisher}` where `{bidder}` is the account ID of the bidder, and `{publisher}` is the ads.txt/app-ads.txt publisher ID. See publisherConnection.name."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "response": {
                "$ref": "PublisherConnection"
              },
              "id": "realtimebidding.bidders.publisherConnections.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/bidders/{biddersId}/publisherConnections/{publisherConnectionsId}",
              "description": "Gets a publisher connection."
            },
            "batchApprove": {
              "parameters": {
                "parent": {
                  "pattern": "^bidders/[^/]+$",
                  "type": "string",
                  "description": "Required. The bidder for whom publisher connections will be approved. Format: `bidders/{bidder}` where `{bidder}` is the account ID of the bidder.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "BatchApprovePublisherConnectionsResponse"
              },
              "path": "v1/{+parent}/publisherConnections:batchApprove",
              "description": "Batch approves multiple publisher connections.",
              "request": {
                "$ref": "BatchApprovePublisherConnectionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.bidders.publisherConnections.batchApprove",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/bidders/{biddersId}/publisherConnections:batchApprove",
              "httpMethod": "POST"
            },
            "batchReject": {
              "httpMethod": "POST",
              "description": "Batch rejects multiple publisher connections.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/publisherConnections:batchReject",
              "id": "realtimebidding.bidders.publisherConnections.batchReject",
              "request": {
                "$ref": "BatchRejectPublisherConnectionsRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The bidder for whom publisher connections will be rejected. Format: `bidders/{bidder}` where `{bidder}` is the account ID of the bidder.",
                  "type": "string",
                  "required": true,
                  "pattern": "^bidders/[^/]+$"
                }
              },
              "response": {
                "$ref": "BatchRejectPublisherConnectionsResponse"
              },
              "flatPath": "v1/bidders/{biddersId}/publisherConnections:batchReject",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/bidders/{biddersId}/publisherConnections",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested (due to timeout constraint) even if more are available through another call. If unspecified, the server will pick an appropriate default. Acceptable values are 1 to 5000, inclusive."
                },
                "filter": {
                  "description": "Query string to filter publisher connections. Connections can be filtered by `displayName`, `publisherPlatform`, and `biddingState`. If no filter is specified, all publisher connections will be returned. Example: 'displayName=\"Great Publisher*\" AND publisherPlatform=ADMOB AND biddingState != PENDING' See https://google.aip.dev/160 for more information about filtering syntax.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListPublisherConnectionsResponse.nextPageToken returned from the previous call to the 'ListPublisherConnections' method.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^bidders/[^/]+$",
                  "description": "Required. Name of the bidder for which publishers have initiated connections. The pattern for this resource is `bidders/{bidder}` where `{bidder}` represents the account ID of the bidder.",
                  "location": "path",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Order specification by which results should be sorted. If no sort order is specified, the results will be returned in alphabetic order based on the publisher's publisher code. Results can be sorted by `createTime`. Example: 'createTime DESC'.",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/publisherConnections",
              "description": "Lists publisher connections for a given bidder.",
              "httpMethod": "GET",
              "id": "realtimebidding.bidders.publisherConnections.list",
              "response": {
                "$ref": "ListPublisherConnectionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ]
            }
          }
        },
        "pretargetingConfigs": {
          "methods": {
            "removeTargetedSites": {
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:removeTargetedSites",
              "path": "v1/{+pretargetingConfig}:removeTargetedSites",
              "parameters": {
                "pretargetingConfig": {
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "location": "path"
                }
              },
              "id": "realtimebidding.bidders.pretargetingConfigs.removeTargetedSites",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "request": {
                "$ref": "RemoveTargetedSitesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "description": "Removes targeted sites from the pretargeting configuration.",
              "httpMethod": "POST"
            },
            "removeTargetedApps": {
              "parameters": {
                "pretargetingConfig": {
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}"
                }
              },
              "response": {
                "$ref": "PretargetingConfig"
              },
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "description": "Removes targeted apps from the pretargeting configuration.",
              "path": "v1/{+pretargetingConfig}:removeTargetedApps",
              "request": {
                "$ref": "RemoveTargetedAppsRequest"
              },
              "id": "realtimebidding.bidders.pretargetingConfigs.removeTargetedApps",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:removeTargetedApps"
            },
            "get": {
              "description": "Gets a pretargeting configuration.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PretargetingConfig"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "description": "Required. Name of the pretargeting configuration to get. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "type": "string"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}",
              "id": "realtimebidding.bidders.pretargetingConfigs.get",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "description": "Lists all pretargeting configurations for a single bidder.",
              "response": {
                "$ref": "ListPretargetingConfigsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of pretargeting configurations to return. If unspecified, at most 10 pretargeting configurations will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. This value is received from a previous `ListPretargetingConfigs` call in ListPretargetingConfigsResponse.nextPageToken.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^bidders/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the bidder whose pretargeting configurations will be listed. Format: bidders/{bidderAccountId}"
                }
              },
              "path": "v1/{+parent}/pretargetingConfigs",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs",
              "parameterOrder": [
                "parent"
              ],
              "id": "realtimebidding.bidders.pretargetingConfigs.list"
            },
            "removeTargetedPublishers": {
              "response": {
                "$ref": "PretargetingConfig"
              },
              "path": "v1/{+pretargetingConfig}:removeTargetedPublishers",
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "description": "Removes targeted publishers from the pretargeting config.",
              "id": "realtimebidding.bidders.pretargetingConfigs.removeTargetedPublishers",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:removeTargetedPublishers",
              "request": {
                "$ref": "RemoveTargetedPublishersRequest"
              },
              "parameters": {
                "pretargetingConfig": {
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ]
            },
            "patch": {
              "path": "v1/{+name}",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "response": {
                "$ref": "PretargetingConfig"
              },
              "id": "realtimebidding.bidders.pretargetingConfigs.patch",
              "description": "Updates a pretargeting configuration.",
              "request": {
                "$ref": "PretargetingConfig"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Output only. Name of the pretargeting configuration that must follow the pattern `bidders/{bidder_account_id}/pretargetingConfigs/{config_id}`",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Field mask to use for partial in-place updates.",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "addTargetedSites": {
              "description": "Adds targeted sites to the pretargeting configuration.",
              "id": "realtimebidding.bidders.pretargetingConfigs.addTargetedSites",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:addTargetedSites",
              "path": "v1/{+pretargetingConfig}:addTargetedSites",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "parameters": {
                "pretargetingConfig": {
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "location": "path",
                  "required": true,
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "request": {
                "$ref": "AddTargetedSitesRequest"
              }
            },
            "addTargetedPublishers": {
              "id": "realtimebidding.bidders.pretargetingConfigs.addTargetedPublishers",
              "path": "v1/{+pretargetingConfig}:addTargetedPublishers",
              "httpMethod": "POST",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:addTargetedPublishers",
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "request": {
                "$ref": "AddTargetedPublishersRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "pretargetingConfig": {
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "required": true,
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "PretargetingConfig"
              },
              "description": "Adds targeted publishers to the pretargeting config."
            },
            "delete": {
              "id": "realtimebidding.bidders.pretargetingConfigs.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "description": "Required. The name of the pretargeting configuration to delete. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "description": "Deletes a pretargeting configuration."
            },
            "suspend": {
              "response": {
                "$ref": "PretargetingConfig"
              },
              "request": {
                "$ref": "SuspendPretargetingConfigRequest"
              },
              "path": "v1/{+name}:suspend",
              "description": "Suspends a pretargeting configuration.",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "id": "realtimebidding.bidders.pretargetingConfigs.suspend",
              "parameters": {
                "name": {
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:suspend"
            },
            "addTargetedApps": {
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "description": "Adds targeted apps to the pretargeting configuration.",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:addTargetedApps",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "path": "v1/{+pretargetingConfig}:addTargetedApps",
              "id": "realtimebidding.bidders.pretargetingConfigs.addTargetedApps",
              "parameters": {
                "pretargetingConfig": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$"
                }
              },
              "request": {
                "$ref": "AddTargetedAppsRequest"
              },
              "httpMethod": "POST"
            },
            "create": {
              "id": "realtimebidding.bidders.pretargetingConfigs.create",
              "request": {
                "$ref": "PretargetingConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs",
              "parameters": {
                "parent": {
                  "pattern": "^bidders/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the bidder to create the pretargeting configuration for. Format: bidders/{bidderAccountId}",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "PretargetingConfig"
              },
              "description": "Creates a pretargeting configuration. A pretargeting configuration's state (PretargetingConfig.state) is active upon creation, and it will start to affect traffic shortly after. A bidder may create a maximum of 10 pretargeting configurations. Attempts to exceed this maximum results in a 400 bad request error.",
              "path": "v1/{+parent}/pretargetingConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "httpMethod": "POST"
            },
            "activate": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "path": "v1/{+name}:activate",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ActivatePretargetingConfigRequest"
              },
              "id": "realtimebidding.bidders.pretargetingConfigs.activate",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:activate",
              "parameters": {
                "name": {
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Activates a pretargeting configuration."
            }
          }
        },
        "endpoints": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "flatPath": "v1/bidders/{biddersId}/endpoints/{endpointsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Endpoint"
              },
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Field mask to use for partial in-place updates."
                },
                "name": {
                  "type": "string",
                  "pattern": "^bidders/[^/]+/endpoints/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Output only. Name of the endpoint resource that must follow the pattern `bidders/{bidderAccountId}/endpoints/{endpointId}`, where {bidderAccountId} is the account ID of the bidder who operates this endpoint, and {endpointId} is a unique ID assigned by the server."
                }
              },
              "id": "realtimebidding.bidders.endpoints.patch",
              "description": "Updates a bidder's endpoint.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Endpoint"
              }
            },
            "list": {
              "flatPath": "v1/bidders/{biddersId}/endpoints",
              "response": {
                "$ref": "ListEndpointsResponse"
              },
              "path": "v1/{+parent}/endpoints",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. This value is received from a previous `ListEndpoints` call in ListEndpointsResponse.nextPageToken.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Name of the bidder whose endpoints will be listed. Format: `bidders/{bidderAccountId}`",
                  "type": "string",
                  "pattern": "^bidders/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of endpoints to return. If unspecified, at most 100 endpoints will be returned. The maximum value is 500; values above 500 will be coerced to 500."
                }
              },
              "httpMethod": "GET",
              "description": "Lists all the bidder's endpoints.",
              "id": "realtimebidding.bidders.endpoints.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "response": {
                "$ref": "Endpoint"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "realtimebidding.bidders.endpoints.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^bidders/[^/]+/endpoints/[^/]+$",
                  "description": "Required. Name of the bidder endpoint to get. Format: `bidders/{bidderAccountId}/endpoints/{endpointId}`",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/bidders/{biddersId}/endpoints/{endpointsId}",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "description": "Gets a bidder endpoint by its name.",
              "httpMethod": "GET"
            }
          }
        },
        "creatives": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1/bidders/{biddersId}/creatives",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^bidders/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the parent buyer that owns the creatives. The pattern for this resource is either `buyers/{buyerAccountId}` or `bidders/{bidderAccountId}`. For `buyers/{buyerAccountId}`, the `buyerAccountId` can be one of the following: 1. The ID of the buyer that is accessing their own creatives. 2. The ID of the child seat buyer under a bidder account. So for listing creatives pertaining to the child seat buyer (`456`) under bidder account (`123`), you would use the pattern: `buyers/456`. 3. The ID of the bidder itself. So for listing creatives pertaining to bidder (`123`), you would use `buyers/123`. If you want to access all creatives pertaining to both the bidder and all of its child seat accounts, you would use `bidders/{bidderAccountId}`, for example, for all creatives pertaining to bidder (`123`), use `bidders/123`.",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativesResponse.nextPageToken returned from the previous call to the 'ListCreatives' method. Page tokens for continued pages are valid for up to five hours, counting from the call to 'ListCreatives' for the first page.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Query string to filter creatives. If no filter is specified, all active creatives will be returned. Example: 'accountId=12345 AND (dealsStatus:DISAPPROVED AND disapprovalReason:UNACCEPTABLE_CONTENT) OR declaredAttributes:IS_COOKIE_TARGETED'",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer creatives than requested (due to timeout constraint) even if more are available through another call. If unspecified, server will pick an appropriate default. Acceptable values are 1 to 1000, inclusive.",
                  "type": "integer"
                },
                "view": {
                  "description": "Controls the amount of information included in the response. By default only creativeServingDecision is included. To retrieve the entire creative resource (including the declared fields and the creative content) specify the view as \"FULL\".",
                  "location": "query",
                  "enum": [
                    "CREATIVE_VIEW_UNSPECIFIED",
                    "SERVING_DECISION_ONLY",
                    "FULL"
                  ],
                  "enumDescriptions": [
                    "Not specified, equivalent to SERVING_DECISION_ONLY.",
                    "Only creativeServingDecision is included in the response.",
                    "The entire creative resource (including the declared fields and the creative content) is included in the response."
                  ],
                  "type": "string"
                }
              },
              "id": "realtimebidding.bidders.creatives.list",
              "description": "Lists creatives as they are at the time of the initial request. This call may take multiple hours to complete. For large, paginated requests, this method returns a snapshot of creatives at the time of request for the first page. `lastStatusUpdate` and `creativeServingDecision` may be outdated for creatives on sequential pages. We recommend [Google Cloud Pub/Sub](//cloud.google.com/pubsub/docs/overview) to view the latest status.",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "response": {
                "$ref": "ListCreativesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/creatives"
            },
            "watch": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Watches all creatives pertaining to a bidder. It is sufficient to invoke this endpoint once per bidder. A Pub/Sub topic will be created and notifications will be pushed to the topic when any of the bidder's creatives change status. All of the bidder's service accounts will have access to read from the topic. Subsequent invocations of this method will return the existing Pub/Sub configuration.",
              "id": "realtimebidding.bidders.creatives.watch",
              "request": {
                "$ref": "WatchCreativesRequest"
              },
              "response": {
                "$ref": "WatchCreativesResponse"
              },
              "flatPath": "v1/bidders/{biddersId}/creatives:watch",
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^bidders/[^/]+$",
                  "description": "Required. To watch all creatives pertaining to the bidder and all its child seat accounts, the bidder must follow the pattern `bidders/{bidderAccountId}`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+parent}/creatives:watch"
            }
          }
        }
      }
    }
  },
  "title": "Real-time Bidding API",
  "protocol": "rest",
  "schemas": {
    "PolicyTopicEntry": {
      "type": "object",
      "properties": {
        "helpCenterUrl": {
          "description": "URL of the help center article describing this policy topic.",
          "type": "string"
        },
        "policyTopic": {
          "description": "Policy topic this entry refers to. For example, \"ALCOHOL\", \"TRADEMARKS_IN_AD_TEXT\", or \"DESTINATION_NOT_WORKING\". The set of possible policy topics is not fixed for a particular API version and may change at any time. Can be used to filter the response of the creatives.list method",
          "type": "string"
        },
        "evidences": {
          "description": "Pieces of evidence associated with this policy topic entry.",
          "items": {
            "$ref": "PolicyTopicEvidence"
          },
          "type": "array"
        }
      },
      "description": "Each policy topic entry will represent a violation of a policy topic for a creative, with the policy topic information and optional evidence for the policy violation.",
      "id": "PolicyTopicEntry"
    },
    "HtmlContent": {
      "type": "object",
      "id": "HtmlContent",
      "properties": {
        "snippet": {
          "type": "string",
          "description": "The HTML snippet that displays the ad when inserted in the web page."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the HTML snippet in pixels. Can be used to filter the response of the creatives.list method."
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the HTML snippet in pixels. Can be used to filter the response of the creatives.list method."
        }
      },
      "description": "HTML content for a creative."
    },
    "AppTargeting": {
      "description": "A subset of app inventory to target. Bid requests that match criteria in at least one of the specified dimensions will be sent.",
      "properties": {
        "mobileAppTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Targeted app IDs. App IDs can refer to those found in an app store or ones that are not published in an app store. A maximum of 30,000 app IDs can be targeted."
        },
        "mobileAppCategoryTargeting": {
          "description": "Lists of included and excluded mobile app categories as defined in https://developers.google.com/adwords/api/docs/appendix/mobileappcategories.csv.",
          "$ref": "NumericTargetingDimension"
        }
      },
      "type": "object",
      "id": "AppTargeting"
    },
    "Endpoint": {
      "description": "Bidder endpoint that receives bid requests.",
      "type": "object",
      "id": "Endpoint",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the endpoint resource that must follow the pattern `bidders/{bidderAccountId}/endpoints/{endpointId}`, where {bidderAccountId} is the account ID of the bidder who operates this endpoint, and {endpointId} is a unique ID assigned by the server."
        },
        "bidProtocol": {
          "description": "The protocol that the bidder endpoint is using.",
          "type": "string",
          "enumDescriptions": [
            "Placeholder for undefined bid protocol. This value should not be used.",
            "Google RTB protocol / Protobuf encoding.",
            "OpenRTB / JSON encoding (unversioned/latest).",
            "OpenRTB / Protobuf encoding (unversioned/latest)."
          ],
          "enum": [
            "BID_PROTOCOL_UNSPECIFIED",
            "GOOGLE_RTB",
            "OPENRTB_JSON",
            "OPENRTB_PROTOBUF"
          ]
        },
        "tradingLocation": {
          "enum": [
            "TRADING_LOCATION_UNSPECIFIED",
            "US_WEST",
            "US_EAST",
            "EUROPE",
            "ASIA"
          ],
          "type": "string",
          "description": "The trading location that bid requests should be sent from. See https://developers.google.com/authorized-buyers/rtb/peer-guide#trading-locations for further information.",
          "enumDescriptions": [
            "A placeholder for an undefined trading region. This value should not be used.",
            "The Western US trading location.",
            "The Eastern US trading location.",
            "The European trading location.",
            "The Asia trading location."
          ]
        },
        "url": {
          "description": "Output only. The URL that bid requests should be sent to.",
          "readOnly": true,
          "type": "string"
        },
        "maximumQps": {
          "type": "string",
          "description": "The maximum number of queries per second allowed to be sent to this server.",
          "format": "int64"
        }
      }
    },
    "AdvertiserAndBrand": {
      "properties": {
        "brandName": {
          "type": "string",
          "description": "Brand name. Can be used to filter the response of the creatives.list method."
        },
        "advertiserId": {
          "description": "See https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt for the list of possible values. Can be used to filter the response of the creatives.list method.",
          "type": "string",
          "format": "int64"
        },
        "advertiserName": {
          "type": "string",
          "description": "Advertiser name. Can be used to filter the response of the creatives.list method."
        },
        "brandId": {
          "format": "int64",
          "description": "Detected brand ID or zero if no brand has been detected. See https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt for the list of possible values. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        }
      },
      "description": "Detected advertiser and brand information.",
      "id": "AdvertiserAndBrand",
      "type": "object"
    },
    "CreativeServingDecision": {
      "type": "object",
      "description": "Top level status and detected attributes of a creative.",
      "properties": {
        "detectedProductCategories": {
          "description": "Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs. Can be used to filter the response of the creatives.list method.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "detectedClickThroughUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of detected destination URLs for the creative. Can be used to filter the response of the creatives.list method."
        },
        "detectedVendorIds": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "IDs of the ad technology vendors that were detected to be used by this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values. Can be used to filter the response of the creatives.list method. If the `allowed_vendor_type` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) does not contain one of the vendor type IDs that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction."
        },
        "networkPolicyCompliance": {
          "description": "Policy compliance of this creative when bidding in open auction, private auction, or auction packages (outside of Russia and China).",
          "$ref": "PolicyCompliance"
        },
        "adTechnologyProviders": {
          "description": "The detected ad technology providers.",
          "$ref": "AdTechnologyProviders"
        },
        "detectedAttributes": {
          "description": "Publisher-excludable attributes that were detected for this creative. Can be used to filter the response of the creatives.list method. If the `excluded_attribute` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) contains one of the attributes that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported."
            ],
            "type": "string",
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0"
            ]
          }
        },
        "detectedAdvertisers": {
          "type": "array",
          "items": {
            "$ref": "AdvertiserAndBrand"
          },
          "description": "Detected advertisers and brands."
        },
        "lastStatusUpdate": {
          "description": "The last time the creative status was updated. Can be used to filter the response of the creatives.list method.",
          "format": "google-datetime",
          "type": "string"
        },
        "detectedDomains": {
          "type": "array",
          "description": "The detected domains for this creative.",
          "items": {
            "type": "string"
          }
        },
        "detectedSensitiveCategories": {
          "description": "Detected sensitive categories, if any. Can be used to filter the response of the creatives.list method. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "platformPolicyCompliance": {
          "$ref": "PolicyCompliance",
          "description": "Policy compliance of this creative when bidding in Open Bidding (outside of Russia and China). For the list of platform policies, see: https://support.google.com/platformspolicy/answer/3013851."
        },
        "chinaPolicyCompliance": {
          "description": "The policy compliance of this creative in China. When approved or disapproved, this applies to both deals and open auction in China. When pending review, this creative is allowed to serve for deals but not for open auction.",
          "$ref": "PolicyCompliance"
        },
        "russiaPolicyCompliance": {
          "$ref": "PolicyCompliance",
          "description": "The policy compliance of this creative in Russia. When approved or disapproved, this applies to both deals and open auction in Russia. When pending review, this creative is allowed to serve for deals but not for open auction."
        },
        "dealsPolicyCompliance": {
          "$ref": "PolicyCompliance",
          "description": "Policy compliance of this creative when bidding on Programmatic Guaranteed and Preferred Deals (outside of Russia and China)."
        },
        "detectedLanguages": {
          "description": "The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes. Can be used to filter the response of the creatives.list method.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CreativeServingDecision"
    },
    "ListBuyersResponse": {
      "properties": {
        "buyers": {
          "items": {
            "$ref": "Buyer"
          },
          "description": "List of buyers.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be passed to a subsequent call to the `ListBuyers` method to retrieve the next page of results in ListBuyersRequest.pageToken."
        }
      },
      "id": "ListBuyersResponse",
      "description": "A response containing buyer account information.",
      "type": "object"
    },
    "StringTargetingDimension": {
      "type": "object",
      "id": "StringTargetingDimension",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "The values specified.",
          "type": "array"
        },
        "targetingMode": {
          "type": "string",
          "enumDescriptions": [
            "Placeholder for undefined targeting mode.",
            "The inclusive list type. Inventory must match an item in this list to be targeted.",
            "The exclusive list type. Inventory must not match any item in this list to be targeted."
          ],
          "description": "How the items in this list should be targeted.",
          "enum": [
            "TARGETING_MODE_UNSPECIFIED",
            "INCLUSIVE",
            "EXCLUSIVE"
          ]
        }
      },
      "description": "Generic targeting with string values used in app, website and publisher targeting."
    },
    "WatchCreativesResponse": {
      "description": "A response for the request to receive push notification when a bidder's creatives change status.",
      "type": "object",
      "id": "WatchCreativesResponse",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The Pub/Sub topic that will be used to publish creative serving status notifications. This would be of the format `projects/{project_id}/topics/{topic_id}`."
        },
        "subscription": {
          "type": "string",
          "description": "The Pub/Sub subscription that can be used to pull creative status notifications. This would be of the format `projects/{project_id}/subscriptions/{subscription_id}`. Subscription is created with pull delivery. All service accounts belonging to the bidder will have read access to this subscription. Subscriptions that are inactive for more than 90 days will be disabled. Use watchCreatives to re-enable the subscription."
        }
      }
    },
    "RemoveTargetedSitesRequest": {
      "properties": {
        "sites": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of site URLs to stop targeting in the pretargeting configuration. These values will be removed from the list of targeted URLs in PretargetingConfig.webTargeting.values."
        }
      },
      "id": "RemoveTargetedSitesRequest",
      "type": "object",
      "description": "A request to stop targeting sites in a specific pretargeting configuration. The pretargeting configuration itself specifies how these sites are targeted in PretargetingConfig.webTargeting."
    },
    "BatchApprovePublisherConnectionsRequest": {
      "type": "object",
      "id": "BatchApprovePublisherConnectionsRequest",
      "description": "A request to approve a batch of publisher connections.",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The names of the publishers with which connections will be approved. In the pattern `bidders/{bidder}/publisherConnections/{publisher}` where `{bidder}` is the account ID of the bidder, and `{publisher}` is the ads.txt/app-ads.txt publisher ID."
        }
      }
    },
    "Creative": {
      "type": "object",
      "id": "Creative",
      "properties": {
        "accountId": {
          "readOnly": true,
          "description": "Output only. ID of the buyer account that this creative is owned by. Can be used to filter the response of the creatives.list method with equality and inequality check.",
          "format": "int64",
          "type": "string"
        },
        "advertiserName": {
          "description": "The name of the company being advertised in the creative. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "renderUrl": {
          "type": "string",
          "description": "Experimental field that can be used during the [FLEDGE Origin Trial](/authorized-buyers/rtb/fledge-origin-trial). The URL to fetch an interest group ad used in [TURTLEDOVE on-device auction](https://github.com/WICG/turtledove/blob/main/FLEDGE.md#1-browsers-record-interest-groups\"). This should be unique among all creatives for a given `accountId`."
        },
        "declaredAttributes": {
          "items": {
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0"
            ],
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported."
            ],
            "type": "string"
          },
          "description": "All declared attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method. If the `excluded_attribute` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto\") contains one of the attributes that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction.",
          "type": "array"
        },
        "html": {
          "$ref": "HtmlContent",
          "description": "An HTML creative."
        },
        "video": {
          "$ref": "VideoContent",
          "description": "A video creative."
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the creative. Follows the pattern `buyers/{buyer}/creatives/{creative}`, where `{buyer}` represents the account ID of the buyer who owns the creative, and `{creative}` is the buyer-specific creative ID that references this creative in the bid response.",
          "readOnly": true
        },
        "creativeFormat": {
          "description": "Output only. The format of this creative. Can be used to filter the response of the creatives.list method.",
          "enumDescriptions": [
            "The format is unknown.",
            "HTML creative.",
            "Video creative.",
            "Native creative."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "HTML",
            "VIDEO",
            "NATIVE"
          ]
        },
        "agencyId": {
          "description": "The agency ID for this creative.",
          "format": "int64",
          "type": "string"
        },
        "restrictedCategories": {
          "items": {
            "enumDescriptions": [
              "Default value that should never be used.",
              "The alcohol restricted category."
            ],
            "type": "string",
            "enum": [
              "RESTRICTED_CATEGORY_UNSPECIFIED",
              "ALCOHOL"
            ]
          },
          "description": "All restricted categories for the ads that may be shown from this creative.",
          "type": "array"
        },
        "native": {
          "description": "A native creative.",
          "$ref": "NativeContent"
        },
        "version": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The version of the creative. Version for a new creative is 1 and it increments during subsequent creative updates."
        },
        "adChoicesDestinationUrl": {
          "description": "The link to AdChoices destination page. This is only supported for native ads.",
          "type": "string"
        },
        "declaredVendorIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "IDs for the declared ad technology vendors that may be used by this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values. Can be used to filter the response of the creatives.list method."
        },
        "creativeServingDecision": {
          "description": "Output only. Top level status and detected attributes of a creative (for example domain, language, advertiser, product category, etc.) that affect whether (status) and where (context) a creative will be allowed to serve.",
          "$ref": "CreativeServingDecision",
          "readOnly": true
        },
        "declaredRestrictedCategories": {
          "type": "array",
          "items": {
            "enum": [
              "RESTRICTED_CATEGORY_UNSPECIFIED",
              "ALCOHOL"
            ],
            "enumDescriptions": [
              "Default value that should never be used.",
              "The alcohol restricted category."
            ],
            "type": "string"
          },
          "description": "All declared restricted categories for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method."
        },
        "creativeId": {
          "description": "Buyer-specific creative ID that references this creative in bid responses. This field is Ignored in update operations. Can be used to filter the response of the creatives.list method. The maximum length of the creative ID is 128 bytes.",
          "type": "string"
        },
        "declaredClickThroughUrls": {
          "type": "array",
          "description": "The set of declared destination URLs for the creative. Can be used to filter the response of the creatives.list method.",
          "items": {
            "type": "string"
          }
        },
        "apiUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last update timestamp of the creative through the API.",
          "type": "string"
        },
        "dealIds": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. IDs of all of the deals with which this creative has been used in bidding. Can be used to filter the response of the creatives.list method."
        },
        "impressionTrackingUrls": {
          "description": "The set of URLs to be called to record an impression.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A creative and its classification data."
    },
    "UrlRestriction": {
      "id": "UrlRestriction",
      "description": "Represents the URL restriction (for the URL captured by the pixel callback) for a user list.",
      "properties": {
        "restrictionType": {
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "CONTAINS",
            "EQUALS",
            "STARTS_WITH",
            "ENDS_WITH",
            "DOES_NOT_EQUAL",
            "DOES_NOT_CONTAIN",
            "DOES_NOT_START_WITH",
            "DOES_NOT_END_WITH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value that should never be used.",
            "The tag URL (as recorded by the pixel callback) contains the specified URL.",
            "The tag URL (as recorded by the pixel callback) exactly matches the specified URL.",
            "The tag URL (as recorded by the pixel callback) starts with the specified URL.",
            "The tag URL (as recorded by the pixel callback) ends with the specified URL.",
            "The tag URL (as recorded by the pixel callback) does not equal the specified URL.",
            "The tag URL (as recorded by the pixel callback) does not contain the specified URL.",
            "The tag URL (as recorded by the pixel callback) does not start with the specified URL.",
            "The tag URL (as recorded by the pixel callback) does not end with the specified URL."
          ],
          "description": "The restriction type for the specified URL."
        },
        "url": {
          "description": "Required. The URL to use for applying the restriction on the user list.",
          "type": "string"
        },
        "endDate": {
          "$ref": "Date",
          "description": "End date (if specified) of the URL restriction. End date should be later than the start date for the date range to be valid."
        },
        "startDate": {
          "description": "Start date (if specified) of the URL restriction.",
          "$ref": "Date"
        }
      },
      "type": "object"
    },
    "ListCreativesResponse": {
      "properties": {
        "creatives": {
          "type": "array",
          "description": "The list of creatives.",
          "items": {
            "$ref": "Creative"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativesRequest.pageToken field in the subsequent call to the `ListCreatives` method to retrieve the next page of results."
        }
      },
      "id": "ListCreativesResponse",
      "type": "object",
      "description": "A response for listing creatives."
    },
    "DestinationNotCrawlableEvidence": {
      "description": "Evidence that the creative's destination URL was not crawlable by Google.",
      "properties": {
        "crawledUrl": {
          "description": "Destination URL that was attempted to be crawled.",
          "type": "string"
        },
        "reason": {
          "description": "Reason of destination not crawlable.",
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "UNREACHABLE_ROBOTS",
            "TIMEOUT_ROBOTS",
            "ROBOTED_DENIED",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Default value that should never be used.",
            "Site's robots exclusion file (for example, robots.txt) was unreachable.",
            "Timed out reading site's robots exclusion file (for example, robots.txt).",
            "Crawler was disallowed by the site's robots exclusion file (for example, robots.txt).",
            "Unknown reason."
          ]
        },
        "crawlTime": {
          "format": "google-datetime",
          "description": "Approximate time of the crawl.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DestinationNotCrawlableEvidence"
    },
    "PolicyTopicEvidence": {
      "properties": {
        "destinationUrl": {
          "description": "URL of the actual landing page.",
          "$ref": "DestinationUrlEvidence"
        },
        "httpCall": {
          "$ref": "HttpCallEvidence",
          "description": "HTTP calls made by the creative that resulted in policy violations."
        },
        "destinationNotWorking": {
          "$ref": "DestinationNotWorkingEvidence",
          "description": "The creative's destination URL did not function properly or was incorrectly set up."
        },
        "downloadSize": {
          "description": "Total download size and URL-level download size breakdown for resources in a creative.",
          "$ref": "DownloadSizeEvidence"
        },
        "domainCall": {
          "$ref": "DomainCallEvidence",
          "description": "Number of HTTP calls made by the creative, broken down by domain."
        },
        "httpCookie": {
          "$ref": "HttpCookieEvidence",
          "description": "Evidence for HTTP cookie-related policy violations."
        },
        "destinationNotCrawlable": {
          "description": "The creative's destination URL was not crawlable by Google.",
          "$ref": "DestinationNotCrawlableEvidence"
        }
      },
      "type": "object",
      "id": "PolicyTopicEvidence",
      "description": "Evidence associated with a policy topic entry."
    },
    "BatchRejectPublisherConnectionsResponse": {
      "properties": {
        "publisherConnections": {
          "items": {
            "$ref": "PublisherConnection"
          },
          "description": "The publisher connections that have been rejected.",
          "type": "array"
        }
      },
      "description": "A response for the request to reject a batch of publisher connections.",
      "id": "BatchRejectPublisherConnectionsResponse",
      "type": "object"
    },
    "ListPretargetingConfigsResponse": {
      "description": "A response containing pretargeting configurations.",
      "properties": {
        "pretargetingConfigs": {
          "type": "array",
          "items": {
            "$ref": "PretargetingConfig"
          },
          "description": "List of pretargeting configurations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be passed to a subsequent call to the `ListPretargetingConfigs` method to retrieve the next page of results in ListPretargetingConfigsRequest.pageToken."
        }
      },
      "id": "ListPretargetingConfigsResponse",
      "type": "object"
    },
    "DownloadSizeEvidence": {
      "id": "DownloadSizeEvidence",
      "type": "object",
      "description": "Total download size and URL-level download size breakdown for resources in a creative.",
      "properties": {
        "totalDownloadSizeKb": {
          "description": "Total download size (in kilobytes) for all the resources in the creative.",
          "type": "integer",
          "format": "int32"
        },
        "topUrlDownloadSizeBreakdowns": {
          "description": "Download size broken down by URLs with the top download size.",
          "items": {
            "$ref": "UrlDownloadSize"
          },
          "type": "array"
        }
      }
    },
    "PublisherConnection": {
      "id": "PublisherConnection",
      "description": "An Open Bidding exchange's connection to a publisher. This is initiated by the publisher for the bidder to review. If approved by the bidder, this means that the bidder agrees to receive bid requests from the publisher.",
      "type": "object",
      "properties": {
        "publisherPlatform": {
          "enumDescriptions": [
            "An unspecified publisher platform.",
            "A Google Ad Manager publisher.",
            "An AdMob publisher."
          ],
          "description": "Output only. Whether the publisher is an Ad Manager or AdMob publisher.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "PUBLISHER_PLATFORM_UNSPECIFIED",
            "GOOGLE_AD_MANAGER",
            "ADMOB"
          ]
        },
        "biddingState": {
          "enumDescriptions": [
            "An unspecified bidding status.",
            "Indicates a request for connection from the publisher that the bidder needs to review.",
            "Indicates that the publisher was rejected.",
            "Indicates that the publisher was approved."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "APPROVED"
          ],
          "description": "Whether the publisher has been approved by the bidder."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the publisher connection. This follows the pattern `bidders/{bidder}/publisherConnections/{publisher}`, where `{bidder}` represents the account ID of the bidder, and `{publisher}` is the ads.txt/app-ads.txt publisher ID."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the publisher initiated a connection with the bidder (irrespective of if or when the bidder approves it). This is subsequently updated if the publisher revokes and re-initiates the connection."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Publisher display name."
        }
      }
    },
    "DestinationNotWorkingEvidence": {
      "properties": {
        "platform": {
          "enumDescriptions": [
            "Default value that should never be used.",
            "The personal computer platform.",
            "The Android platform.",
            "The iOS platform."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "PERSONAL_COMPUTER",
            "ANDROID",
            "IOS"
          ],
          "type": "string",
          "description": "Platform of the non-working URL."
        },
        "invalidPage": {
          "type": "string",
          "enum": [
            "INVALID_PAGE_UNSPECIFIED",
            "EMPTY_OR_ERROR_PAGE"
          ],
          "description": "Page was crawled successfully, but was detected as either a page with no content or an error page.",
          "enumDescriptions": [
            "Default value that should never be used.",
            "Page was empty or had an error."
          ]
        },
        "dnsError": {
          "enum": [
            "DNS_ERROR_UNSPECIFIED",
            "ERROR_DNS",
            "GOOGLE_CRAWLER_DNS_ISSUE"
          ],
          "description": "DNS lookup errors.",
          "type": "string",
          "enumDescriptions": [
            "Default value that should never be used.",
            "DNS name was not found.",
            "An internal issue occurred when Google's crawler tried to resolve the DNS entry. This is a Google-internal issue and may not be the result of an issue with the landing page."
          ]
        },
        "urlRejected": {
          "description": "Rejected because of malformed URLs or invalid requests.",
          "enum": [
            "URL_REJECTED_UNSPECIFIED",
            "BAD_REQUEST",
            "MALFORMED_URL",
            "URL_REJECTED_UNKNOWN"
          ],
          "enumDescriptions": [
            "Default value that should never be used.",
            "URL rejected because of a malformed request.",
            "URL rejected because of a malformed URL.",
            "URL rejected because of unknown reason."
          ],
          "type": "string"
        },
        "expandedUrl": {
          "description": "The full non-working URL.",
          "type": "string"
        },
[...]
