{
  "id": "recaptchaenterprise:v1",
  "documentationLink": "https://cloud.google.com/recaptcha-enterprise/",
  "mtlsRootUrl": "https://recaptchaenterprise.mtls.googleapis.com/",
  "name": "recaptchaenterprise",
  "batchPath": "batch",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://recaptchaenterprise.googleapis.com/",
  "version_module": true,
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "description": "Help protect your website from fraudulent activity, spam, and abuse without creating friction.",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "revision": "20240204",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "title": "reCAPTCHA Enterprise API",
  "canonicalName": "Recaptcha Enterprise",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "firewallpolicies": {
          "methods": {
            "reorder": {
              "path": "v1/{+parent}/firewallpolicies:reorder",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project to list the policies for, in the format `projects/{project}`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "recaptchaenterprise.projects.firewallpolicies.reorder",
              "description": "Reorders all firewall policies.",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies:reorder",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse"
              }
            },
            "get": {
              "description": "Returns the specified firewall policy.",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "id": "recaptchaenterprise.projects.firewallpolicies.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "description": "Required. The name of the requested policy, in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.firewallpolicies.list",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "description": "Returns the list of all firewall policies that belong to a project.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/firewallpolicies",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project to list the policies for, in the format `projects/{project}`."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The next_page_token value returned from a previous. ListFirewallPoliciesRequest, if any."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of policies to return. Default is 10. Max limit is 1000.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse"
              }
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "description": "Creates a new FirewallPolicy, specifying conditions at which reCAPTCHA Enterprise actions can be executed. A project may have a maximum of 1000 policies.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project this policy will apply to, in the format `projects/{project}`.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "path": "v1/{+parent}/firewallpolicies",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.firewallpolicies.create"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. The mask to control which fields of the policy get updated. If the mask is not present, all fields will be updated."
                }
              },
              "id": "recaptchaenterprise.projects.firewallpolicies.patch",
              "description": "Updates the specified firewall policy.",
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              }
            },
            "delete": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.firewallpolicies.delete",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the policy to be deleted, in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$"
                }
              },
              "description": "Deletes the specified firewall policy.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE"
            }
          }
        },
        "relatedaccountgroupmemberships": {
          "methods": {
            "search": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroupmemberships:search",
              "description": "Search group memberships related to a given account.",
              "httpMethod": "POST",
              "parameterOrder": [
                "project"
              ],
              "id": "recaptchaenterprise.projects.relatedaccountgroupmemberships.search",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest"
              },
              "path": "v1/{+project}/relatedaccountgroupmemberships:search",
              "parameters": {
                "project": {
                  "type": "string",
                  "description": "Required. The name of the project to search related account group memberships from. Specify the project name in the following format: `projects/{project}`.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        },
        "relatedaccountgroups": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListRelatedAccountGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRelatedAccountGroups` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The name of the project to list related account groups from, in the format `projects/{project}`.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroups",
              "httpMethod": "GET",
              "description": "List groups of related accounts.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/relatedaccountgroups",
              "id": "recaptchaenterprise.projects.relatedaccountgroups.list"
            }
          },
          "resources": {
            "memberships": {
              "methods": {
                "list": {
                  "id": "recaptchaenterprise.projects.relatedaccountgroups.memberships.list",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListRelatedAccountGroupMemberships` call. When paginating, all other parameters provided to `ListRelatedAccountGroupMemberships` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of accounts to return. The service might return fewer than this value. If unspecified, at most 50 accounts are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/relatedaccountgroups/[^/]+$",
                      "description": "Required. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/relatedaccountgroups/{relatedaccountgroupsId}/memberships",
                  "path": "v1/{+parent}/memberships",
                  "httpMethod": "GET",
                  "description": "Get memberships in a group of related accounts.",
                  "response": {
                    "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "assessments": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project in which the assessment will be created, in the format `projects/{project}`.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "path": "v1/{+parent}/assessments",
              "id": "recaptchaenterprise.projects.assessments.create",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "flatPath": "v1/projects/{projectsId}/assessments",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates an Assessment of the likelihood an event is legitimate.",
              "httpMethod": "POST"
            },
            "annotate": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/assessments/[^/]+$",
                  "description": "Required. The resource name of the Assessment, in the format `projects/{project}/assessments/{assessment}`.",
                  "type": "string"
                }
              },
              "path": "v1/{+name}:annotate",
              "description": "Annotates a previously created Assessment to provide additional information on whether the event turned out to be authentic or fraudulent.",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse"
              },
              "httpMethod": "POST",
              "id": "recaptchaenterprise.projects.assessments.annotate",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/assessments/{assessmentsId}:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "keys": {
          "methods": {
            "retrieveLegacySecretKey": {
              "description": "Returns the secret key related to the specified public key. You must use the legacy secret key only in a 3rd party integration with legacy reCAPTCHA.",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:retrieveLegacySecretKey",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "key"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+key}:retrieveLegacySecretKey",
              "parameters": {
                "key": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "description": "Required. The public key name linked to the requested secret key in the format `projects/{project}/keys/{key}`.",
                  "required": true
                }
              },
              "id": "recaptchaenterprise.projects.keys.retrieveLegacySecretKey"
            },
            "getMetrics": {
              "description": "Get some aggregated metrics for a Key. This data can be used to build dashboards.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the requested metrics, in the format `projects/{project}/keys/{key}/metrics`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/keys/[^/]+/metrics$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Metrics"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/metrics",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "recaptchaenterprise.projects.keys.getMetrics"
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in which the key will be created, in the format `projects/{project}`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys",
              "description": "Creates a new reCAPTCHA Enterprise key.",
              "path": "v1/{+parent}/keys",
              "id": "recaptchaenterprise.projects.keys.create",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "migrate": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:migrate",
              "httpMethod": "POST",
              "path": "v1/{+name}:migrate",
              "description": "Migrates an existing key from reCAPTCHA to reCAPTCHA Enterprise. Once a key is migrated, it can be used from either product. SiteVerify requests are billed as CreateAssessment calls. You must be authenticated as one of the current owners of the reCAPTCHA Key, and your user must have the reCAPTCHA Enterprise Admin IAM role in the destination project.",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest"
              },
              "id": "recaptchaenterprise.projects.keys.migrate",
              "parameters": {
                "name": {
                  "description": "Required. The name of the key to be migrated, in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the specified key.",
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the key to be deleted, in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE"
            },
            "patch": {
              "description": "Updates the specified key.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The resource name for the Key in the format `projects/{project}/keys/{key}`.",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The mask to control which fields of the key get updated. If the mask is not present, all fields will be updated.",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "id": "recaptchaenterprise.projects.keys.patch",
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "id": "recaptchaenterprise.projects.keys.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "description": "Required. The name of the requested key, in the format `projects/{project}/keys/{key}`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Returns the specified key.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}"
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/keys",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.keys.list",
              "path": "v1/{+parent}/keys",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the project that contains the keys that will be listed, in the format `projects/{project}`."
                },
                "pageToken": {
                  "description": "Optional. The next_page_token value returned from a previous. ListKeysRequest, if any.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of keys to return. Default is 10. Max limit is 1000.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "description": "Returns the list of all keys that belong to a project.",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse"
              },
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict": {
      "description": "Information about behavioral trust of the transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
      "type": "object",
      "properties": {
        "trust": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. Probability of this transaction attempt being executed in a behaviorally trustworthy way. Values are from 0.0 (lowest) to 1.0 (highest).",
          "format": "float"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreMetrics": {
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics",
      "description": "Metrics related to scoring.",
      "type": "object",
      "properties": {
        "actionMetrics": {
          "description": "Action-based metrics. The map key is the action name which specified by the site owners at time of the \"execute\" client-side call.",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
          },
          "type": "object"
        },
        "overallMetrics": {
          "description": "Aggregated score metrics for all traffic.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
        }
      }
    },
    "GoogleRpcStatus": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics": {
      "description": "Metrics related to challenges.",
      "type": "object",
      "properties": {
        "failedCount": {
          "type": "string",
          "description": "Count of submitted challenge solutions that were incorrect or otherwise deemed suspicious such that a subsequent challenge was triggered.",
          "format": "int64"
        },
        "passedCount": {
          "format": "int64",
          "description": "Count of nocaptchas (successful verification without a challenge) plus submitted challenge solutions that were correct and resulted in verification.",
          "type": "string"
        },
        "pageloadCount": {
          "description": "Count of reCAPTCHA checkboxes or badges rendered. This is mostly equivalent to a count of pageloads for pages that include reCAPTCHA.",
          "type": "string",
          "format": "int64"
        },
        "nocaptchaCount": {
          "type": "string",
          "description": "Count of nocaptchas (successful verification without a challenge) issued.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
    },
    "GoogleCloudRecaptchaenterpriseV1Assessment": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Assessment",
      "description": "A reCAPTCHA Enterprise assessment resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name for the Assessment in the format `projects/{project}/assessments/{assessment}`.",
          "readOnly": true
        },
        "privatePasswordLeakVerification": {
          "description": "Optional. The private password leak verification field contains the parameters that are used to to check for leaks privately without sharing user credentials.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification"
        },
        "accountVerification": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
          "description": "Optional. Account verification information for identity verification. The assessment event must include a token and site key to use this feature."
        },
        "riskAnalysis": {
          "description": "Output only. The risk analysis result for the event being assessed.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
          "readOnly": true
        },
        "event": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1Event",
          "description": "Optional. The event being assessed."
        },
        "fraudPreventionAssessment": {
          "readOnly": true,
          "description": "Output only. Assessment returned by Fraud Prevention when TransactionData is provided.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment"
        },
        "accountDefenderAssessment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
          "readOnly": true,
          "description": "Output only. Assessment returned by account defender when an account identifier is provided."
        },
        "firewallPolicyAssessment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
          "readOnly": true,
          "description": "Output only. Assessment returned when firewall policies belonging to the project are evaluated using the field firewall_policy_evaluation."
        },
        "tokenProperties": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
          "readOnly": true,
          "description": "Output only. Properties of the provided event token."
        },
        "fraudSignals": {
          "readOnly": true,
          "description": "Output only. Fraud Signals specific to the users involved in a payment transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignals"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1Event": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Event",
      "properties": {
        "headers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HTTP header information about the request."
        },
        "ja3": {
          "description": "Optional. JA3 fingerprint for SSL clients.",
          "type": "string"
        },
        "userIpAddress": {
          "type": "string",
          "description": "Optional. The IP address in the request from the user's device related to this event."
        },
        "userAgent": {
          "description": "Optional. The user agent present in the request from the user's device related to this event.",
          "type": "string"
        },
        "userInfo": {
          "description": "Optional. Information about the user that generates this event, when they can be identified. They are often identified through the use of an account for logged-in requests or login/registration requests, or by providing user identifiers for guest actions like checkout.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1UserInfo"
        },
        "transactionData": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionData",
          "description": "Optional. Data describing a payment transaction to be assessed. Sending this data enables reCAPTCHA Enterprise Fraud Prevention and the FraudPreventionAssessment component in the response."
        },
        "hashedAccountId": {
          "format": "byte",
          "description": "Optional. Deprecated: use `user_info.account_id` instead. Unique stable hashed user identifier for the request. The identifier must be hashed using hmac-sha256 with stable secret.",
          "type": "string",
          "deprecated": true
        },
        "requestedUri": {
          "description": "Optional. The URI resource the user requested that triggered an assessment.",
          "type": "string"
        },
        "express": {
          "description": "Optional. Flag for a reCAPTCHA express request for an assessment without a token. If enabled, `site_key` must reference a SCORE key with WAF feature set to EXPRESS.",
          "type": "boolean"
        },
        "siteKey": {
          "type": "string",
          "description": "Optional. The site key that was used to invoke reCAPTCHA Enterprise on your site and generate the token."
        },
        "expectedAction": {
          "type": "string",
          "description": "Optional. The expected action for this type of event. This should be the same action provided at token generation time on client-side platforms already integrated with recaptcha enterprise."
        },
        "firewallPolicyEvaluation": {
          "type": "boolean",
          "description": "Optional. Flag for enabling firewall policy config assessment. If this flag is enabled, the firewall policy will be evaluated and a suggested firewall action will be returned in the response."
        },
        "token": {
          "type": "string",
          "description": "Optional. The user response token provided by the reCAPTCHA Enterprise client-side integration on your site."
        },
        "wafTokenAssessment": {
          "type": "boolean",
          "description": "Optional. Flag for running WAF token assessment. If enabled, the token must be specified, and have been created by a WAF-enabled key."
        }
      },
      "description": "The event being assessed."
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataUser": {
      "type": "object",
      "properties": {
        "phoneVerified": {
          "description": "Optional. Whether the phone number has been verified to be accessible by the user (OTP or similar).",
          "type": "boolean"
        },
        "creationMs": {
          "format": "int64",
          "description": "Optional. The epoch milliseconds of the user's account creation.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Optional. Whether the email has been verified to be accessible by the user (OTP or similar)."
        },
        "accountId": {
          "type": "string",
          "description": "Optional. Unique account identifier for this user. If using account defender, this should match the hashed_account_id field. Otherwise, a unique and persistent identifier for this account."
        },
        "email": {
          "description": "Optional. The email address of the user.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Optional. The phone number of the user, with country code."
        }
      },
      "description": "Details about a user's account involved in the transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest": {
      "type": "object",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list containing all policy names, in the new order. Each name is in the format `projects/{project}/firewallpolicies/{firewallpolicy}`."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest",
      "description": "The reorder firewall policies request message."
    },
    "GoogleCloudRecaptchaenterpriseV1Metrics": {
      "description": "Metrics for a single Key.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Inclusive start time aligned to a day (UTC)."
        },
        "challengeMetrics": {
          "description": "Metrics will be continuous and in order by dates, and in the granularity of day. Only challenge-based keys (CHECKBOX, INVISIBLE), will have challenge-based data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
          }
        },
        "name": {
          "description": "Output only. Identifier. The name of the metrics, in the format `projects/{project}/keys/{key}/metrics`.",
          "type": "string",
          "readOnly": true
        },
        "scoreMetrics": {
          "description": "Metrics will be continuous and in order by dates, and in the granularity of day. All Key types should have score-based data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Metrics"
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettings": {
      "type": "object",
      "description": "Settings specific to keys that can be used by websites.",
      "properties": {
        "allowAmpTraffic": {
          "type": "boolean",
          "description": "Optional. If set to true, the key can be used on AMP (Accelerated Mobile Pages) websites. This is supported only for the SCORE integration type."
        },
        "allowAllDomains": {
          "type": "boolean",
          "description": "Optional. If set to true, it means allowed_domains will not be enforced."
        },
        "integrationType": {
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified. This is not a valid IntegrationType, one of the other types must be specified instead.",
            "Only used to produce scores. It doesn't display the \"I'm not a robot\" checkbox and never shows captcha challenges.",
            "Displays the \"I'm not a robot\" checkbox and may show captcha challenges after it is checked.",
            "Doesn't display the \"I'm not a robot\" checkbox, but may show captcha challenges after risk analysis."
          ],
          "description": "Required. Describes how this key is integrated with the website.",
          "type": "string",
          "enum": [
            "INTEGRATION_TYPE_UNSPECIFIED",
            "SCORE",
            "CHECKBOX",
            "INVISIBLE"
          ]
        },
        "challengeSecurityPreference": {
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "type": "string",
          "description": "Optional. Settings for the frequency and difficulty at which this key triggers captcha challenges. This should only be specified for IntegrationTypes CHECKBOX and INVISIBLE."
        },
        "allowedDomains": {
          "type": "array",
          "description": "Optional. Domains or subdomains of websites allowed to use the key. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com'",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse": {
      "description": "The reorder firewall policies response message.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest": {
      "description": "The request message to search related account group memberships.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest",
      "properties": {
        "pageSize": {
          "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "hashedAccountId": {
          "format": "byte",
          "deprecated": true,
          "description": "Optional. Deprecated: use `account_id` instead. The unique stable hashed account identifier used to search connections. The identifier should correspond to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both.",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchRelatedAccountGroupMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchRelatedAccountGroupMemberships` must match the call that provided the page token.",
          "type": "string"
        },
        "accountId": {
          "description": "Optional. The unique stable account identifier used to search connections. The identifier should correspond to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction",
      "properties": {
        "key": {
          "type": "string",
          "description": "Optional. The header key to set in the request to the backend server."
        },
        "value": {
          "type": "string",
          "description": "Optional. The header value to set in the request to the backend server."
        }
      },
      "type": "object",
      "description": "A set header action sets a header and forwards the request to the backend. This can be used to trigger custom protection implemented on the backend."
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreDistribution": {
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
      "properties": {
        "scoreBuckets": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "Map key is score value multiplied by 100. The scores are discrete values between [0, 1]. The maximum number of buckets is on order of a few dozen, but typically much lower (ie. 10)."
        }
      },
      "description": "Score distribution.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo": {
      "type": "object",
      "description": "Information about a verification endpoint that can be used for 2FA.",
      "id": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo",
      "properties": {
        "phoneNumber": {
          "description": "Phone number for which to trigger a verification request. Should be given in E.164 format.",
          "type": "string"
        },
        "requestToken": {
          "description": "Output only. Token to provide to the client to trigger endpoint verification. It must be used within 15 minutes.",
          "type": "string",
          "readOnly": true
        },
        "lastVerificationTime": {
          "description": "Output only. Timestamp of the last successful verification for the endpoint, if any.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address for which to trigger a verification request."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings",
      "properties": {
        "wafService": {
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor",
            "Fastly"
          ],
          "type": "string",
          "description": "Required. The WAF service that uses this key.",
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA",
            "FASTLY"
          ]
        },
        "wafFeature": {
          "description": "Required. The WAF feature for which this key is enabled.",
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions.",
            "Use reCAPTCHA WAF express protection to protect any content other than web pages, like APIs and IoT devices."
          ],
          "type": "string",
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN",
            "EXPRESS"
          ]
        }
      },
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall).",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse",
      "description": "Response to request to list firewall policies belonging to a key.",
      "properties": {
        "firewallPolicies": {
          "type": "array",
          "description": "Policy details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no policies remain in results."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicy": {
      "properties": {
        "description": {
          "description": "Optional. A description of what this policy aims to achieve, for convenience purposes. The description can at most include 256 UTF-8 characters.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "Optional. A CEL (Common Expression Language) conditional expression that specifies if this policy applies to an incoming user request. If this condition evaluates to true and the requested path matched the path pattern, the associated actions should be executed by the caller. The condition string is checked for CEL syntax correctness on creation. For more information, see the [CEL spec](https://github.com/google/cel-spec) and its [language definition](https://github.com/google/cel-spec/blob/master/doc/langdef.md). A condition has a max length of 500 characters."
        },
        "actions": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
          },
          "description": "Optional. The actions that the caller should take regarding user access. There should be at most one terminal action. A terminal action is any action that forces a response, such as `AllowAction`, `BlockAction` or `SubstituteAction`. Zero or more non-terminal actions such as `SetHeader` might be specified. A single policy can contain up to 16 actions.",
          "type": "array"
        },
        "path": {
          "description": "Optional. The path for which this policy applies, specified as a glob pattern. For more information on glob, see the [manual page](https://man7.org/linux/man-pages/man7/glob.7.html). A path has a max length of 200 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
      "description": "A FirewallPolicy represents a single matching pattern and resulting actions to take.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification": {
      "type": "object",
      "properties": {
        "encryptedUserCredentialsHash": {
          "format": "byte",
          "type": "string",
          "description": "Optional. Encrypted Scrypt hash of the canonicalized username+password. It is re-encrypted by the server and returned through `reencrypted_user_credentials_hash`."
        },
        "encryptedLeakMatchPrefixes": {
          "description": "Output only. List of prefixes of the encrypted potential password leaks that matched the given parameters. They must be compared with the client-side decryption prefix of `reencrypted_user_credentials_hash`",
          "items": {
            "format": "byte",
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "reencryptedUserCredentialsHash": {
          "format": "byte",
          "type": "string",
          "description": "Output only. Corresponds to the re-encryption of the `encrypted_user_credentials_hash` field. It is used to match potential password leaks within `encrypted_leak_match_prefixes`.",
          "readOnly": true
        },
        "lookupHashPrefix": {
          "description": "Required. Exactly 26-bit prefix of the SHA-256 hash of the canonicalized username. It is used to look up password leaks associated with that hash prefix.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification",
      "description": "Private password leak verification info."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignals": {
      "type": "object",
      "description": "Fraud signals describing users and cards involved in the transaction.",
      "properties": {
        "cardSignals": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
          "description": "Output only. Signals describing the payment card or cards used in this transaction.",
          "readOnly": true
        },
        "userSignals": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
          "description": "Output only. Signals describing the end user in this transaction.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignals"
    },
    "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings": {
      "properties": {
        "allowAllPackageNames": {
          "type": "boolean",
          "description": "Optional. If set to true, allowed_package_names are not enforced."
        },
        "supportNonGoogleAppStoreDistribution": {
          "type": "boolean",
          "description": "Optional. Set to true for keys that are used in an Android application that is available for download in app stores in addition to the Google Play Store."
        },
        "allowedPackageNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Android package names of apps allowed to use the key. Example: 'com.companyname.appname'"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
      "description": "Settings specific to keys that can be used by Android apps.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId": {
      "type": "object",
      "properties": {
        "teamId": {
          "description": "Required. The Apple team ID (10-character string) owning the provisioning profile used to build your application.",
          "type": "string"
        },
        "privateKey": {
          "description": "Required. Input only. A private key (downloaded as a text file with a .p8 file extension) generated for your Apple Developer account. Ensure that Apple DeviceCheck is enabled for the private key.",
          "type": "string"
        },
        "keyId": {
          "description": "Required. The Apple developer key ID (10-character string).",
          "type": "string"
        }
      },
      "description": "Contains fields that are required to perform Apple-specific integrity checks.",
      "id": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId"
    },
    "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse": {
      "properties": {
        "legacySecretKey": {
          "type": "string",
          "description": "The secret key (also known as shared secret) authorizes communication between your application backend and the reCAPTCHA Enterprise server to create an assessment. The secret key needs to be kept safe for security purposes."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse",
      "type": "object",
      "description": "Secret key is used only in legacy reCAPTCHA. It must be used in a 3rd party integration with legacy reCAPTCHA."
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "properties": {
        "relatedAccountGroupMemberships": {
          "type": "array",
          "description": "The queried memberships.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse",
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionData": {
      "description": "Transaction data associated with a payment protected by reCAPTCHA Enterprise.",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionData",
      "properties": {
        "paymentMethod": {
          "type": "string",
          "description": "Optional. The payment method for the transaction. The allowed values are: * credit-card * debit-card * gift-card * processor-{name} (If a third-party is used, for example, processor-paypal) * custom-{name} (If an alternative method is used, for example, custom-crypto)"
        },
        "user": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
          "description": "Optional. Information about the user paying/initiating the transaction."
        },
        "cardBin": {
          "type": "string",
          "description": "Optional. The Bank Identification Number - generally the first 6 or 8 digits of the card."
        },
        "billingAddress": {
          "description": "Optional. Address associated with the payment method when applicable.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "value": {
          "description": "Optional. The decimal value of the transaction in the specified currency.",
          "format": "double",
          "type": "number"
        },
        "gatewayInfo": {
          "description": "Optional. Information about the payment gateway's response to the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo"
        },
        "merchants": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
          },
          "type": "array",
          "description": "Optional. Information about the user or users fulfilling the transaction."
        },
        "cardLastFour": {
          "type": "string",
          "description": "Optional. The last four digits of the card."
        },
        "items": {
          "description": "Optional. Items purchased in this transaction.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem"
          },
          "type": "array"
        },
        "shippingValue": {
          "type": "number",
          "format": "double",
          "description": "Optional. The value of shipping in the specified currency. 0 for free or no shipping."
        },
        "transactionId": {
          "type": "string",
          "description": "Unique identifier for the transaction. This custom identifier can be used to reference this transaction in the future, for example, labeling a refund or chargeback event. Two attempts at the same transaction should use the same transaction id."
        },
        "currencyCode": {
          "description": "Optional. The currency code in ISO-4217 format.",
          "type": "string"
        },
        "shippingAddress": {
          "description": "Optional. Destination address if this transaction involves shipping a physical item.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionEvent": {
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Timestamp when this transaction event occurred; otherwise assumed to be the time of the API call."
        },
        "eventType": {
          "enum": [
            "TRANSACTION_EVENT_TYPE_UNSPECIFIED",
            "MERCHANT_APPROVE",
            "MERCHANT_DENY",
            "MANUAL_REVIEW",
            "AUTHORIZATION",
            "AUTHORIZATION_DECLINE",
            "PAYMENT_CAPTURE",
            "PAYMENT_CAPTURE_DECLINE",
            "CANCEL",
            "CHARGEBACK_INQUIRY",
            "CHARGEBACK_ALERT",
            "FRAUD_NOTIFICATION",
            "CHARGEBACK",
            "CHARGEBACK_REPRESENTMENT",
            "CHARGEBACK_REVERSE",
            "REFUND_REQUEST",
            "REFUND_DECLINE",
            "REFUND",
            "REFUND_REVERSE"
          ],
          "enumDescriptions": [
            "Default, unspecified event type.",
            "Indicates that the transaction is approved by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is denied and concluded due to risks detected by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is being evaluated by a human, due to suspicion or risk.",
            "Indicates that the authorization attempt with the card issuer succeeded.",
            "Indicates that the authorization attempt with the card issuer failed. The accompanying reasons can include Visa's '54' indicating that the card is expired, or '82' indicating that the CVV is incorrect.",
            "Indicates that the transaction is completed because the funds were settled.",
            "Indicates that the transaction could not be completed because the funds were not settled.",
            "Indicates that the transaction has been canceled. Specify the reason for the cancellation. For example, 'INSUFFICIENT_INVENTORY'.",
            "Indicates that the merchant has received a chargeback inquiry due to fraud for the transaction, requesting additional information before a fraud chargeback is officially issued and a formal chargeback notification is sent.",
            "Indicates that the merchant has received a chargeback alert due to fraud for the transaction. The process of resolving the dispute without involving the payment network is started.",
            "Indicates that a fraud notification is issued for the transaction, sent by the payment instrument's issuing bank because the transaction appears to be fraudulent. We recommend including TC40 or SAFE data in the `reason` field for this event type. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant is informed by the payment network that the transaction has entered the chargeback process due to fraud. Reason code examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has entered the chargeback process due to fraud, and that the merchant has chosen to enter representment. Reason examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has had a fraud chargeback which was illegitimate and was reversed as a result. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant has received a refund for a completed transaction. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the merchant has received a refund request for this transaction, but that they have declined it. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant, and that this refund was reversed. For partial refunds, we recommend that you include an amount in the `value` field."
          ],
          "description": "Optional. The type of this transaction event.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value that corresponds with this transaction event, if one exists. For example, a refund event where $5.00 was refunded. Currency is obtained from the original transaction data.",
          "format": "double",
          "type": "number"
        },
        "reason": {
          "description": "Optional. The reason or standardized code that corresponds with this transaction event, if one exists. For example, a CHARGEBACK event with code 6005.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
      "description": "Describes an event in the lifecycle of a payment transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction",
      "description": "An include reCAPTCHA script action involves injecting reCAPTCHA JavaScript code into the HTML returned by the site backend. This reCAPTCHA script is tasked with collecting user signals on the requested web page, issuing tokens as a cookie within the site domain, and enabling their utilization in subsequent page requests.",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
      "description": "Assessment for Fraud Prevention.",
      "type": "object",
      "properties": {
        "cardTestingVerdict": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
          "description": "Output only. Assessment of this transaction for risk of being part of a card testing attack."
        },
        "transactionRisk": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. Probability of this transaction being fraudulent. Summarizes the combined risk of attack vectors below. Values are from 0.0 (lowest) to 1.0 (highest).",
          "type": "number"
        },
        "stolenInstrumentVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
          "readOnly": true,
          "description": "Output only. Assessment of this transaction for risk of a stolen instrument."
        },
        "behavioralTrustVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
          "description": "Output only. Assessment of this transaction for behavioral trust.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "type": "object",
      "properties": {
        "testingChallenge": {
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ],
          "type": "string",
          "description": "Optional. For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site will return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE.",
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ]
        },
        "testingScore": {
          "format": "float",
          "type": "number",
          "description": "Optional. All assessments for this Key will return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
      "description": "Options for user acceptance testing."
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "description": "Response to request to list keys in a project.",
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse",
      "properties": {
        "keys": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          },
          "type": "array",
          "description": "Key details."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "relatedAccountGroupMemberships": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "type": "array",
          "description": "The memberships listed by the query."
        }
      },
      "description": "The response to a `ListRelatedAccountGroupMemberships` call.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1Key": {
      "properties": {
        "androidSettings": {
          "description": "Settings for keys that can be used by Android apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings"
        },
        "webSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
          "description": "Settings for keys that can be used by websites."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name of this key. Modifiable by user."
        },
        "testingOptions": {
          "description": "Optional. Options for user acceptance testing.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TestingOptions"
        },
        "name": {
          "description": "Identifier. The resource name for the Key in the format `projects/{project}/keys/{key}`.",
          "type": "string"
        },
        "iosSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings",
          "description": "Settings for keys that can be used by iOS apps."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. See [Creating and managing labels] (https://cloud.google.com/recaptcha-enterprise/docs/labels)."
        },
        "wafSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WafSettings",
          "description": "Optional. Settings for WAF"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp corresponding to the creation of this key.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "A key used to identify and configure applications (web and/or mobile) that use reCAPTCHA Enterprise.",
      "id": "GoogleCloudRecaptchaenterpriseV1Key"
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership": {
      "type": "object",
      "properties": {
        "hashedAccountId": {
          "format": "byte",
          "description": "Deprecated: use `account_id` instead. The unique stable hashed account identifier of the member. The identifier corresponds to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call.",
          "deprecated": true,
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "The unique stable account identifier of the member. The identifier corresponds to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name for this membership in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}/memberships/{membership}`."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership",
      "description": "A membership in a group of related accounts."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
      "type": "object",
      "description": "Signals describing the payment card used in this transaction.",
      "properties": {
        "cardLabels": {
          "items": {
            "type": "string",
            "enum": [
              "CARD_LABEL_UNSPECIFIED",
              "PREPAID",
              "VIRTUAL",
              "UNEXPECTED_LOCATION"
            ],
            "enumDescriptions": [
              "No label specified.",
              "This card has been detected as prepaid.",
              "This card has been detected as virtual, such as a card number generated for a single transaction or merchant.",
              "This card has been detected as being used in an unexpected geographic location."
            ]
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The labels for the payment card in this transaction."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict": {
      "type": "object",
      "properties": {
        "risk": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. Probability of this transaction attempt being part of a card testing attack. Values are from 0.0 (lowest) to 1.0 (highest)."
        }
      },
      "description": "Information about card testing fraud, where an adversary is testing fraudulently obtained cards or brute forcing their details.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
      "type": "object",
      "properties": {},
      "description": "A redirect action returns a 307 (temporary redirect) response, pointing the user to a ReCaptcha interstitial page to attach a token."
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest",
      "properties": {
        "annotation": {
          "description": "Optional. The annotation that will be assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "Provides information that the event turned out to be legitimate.",
            "Provides information that the event turned out to be fraudulent.",
            "Provides information that the event was related to a login event in which the user typed the correct password. Deprecated, prefer indicating CORRECT_PASSWORD through the reasons field instead.",
            "Provides information that the event was related to a login event in which the user typed the incorrect password. Deprecated, prefer indicating INCORRECT_PASSWORD through the reasons field instead."
          ],
          "enum": [
            "ANNOTATION_UNSPECIFIED",
            "LEGITIMATE",
            "FRAUDULENT",
            "PASSWORD_CORRECT",
            "PASSWORD_INCORRECT"
          ]
        },
        "hashedAccountId": {
          "format": "byte",
          "type": "string",
          "description": "Optional. A stable hashed account identifier to apply to the assessment. This is an alternative to setting `hashed_account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request."
        },
        "reasons": {
          "description": "Optional. Reasons for the annotation that are assigned to the event.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default unspecified reason.",
              "Indicates that the transaction had a chargeback issued with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates that the transaction had a chargeback issued related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates that the transaction had a chargeback issued related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates that the completed payment transaction was refunded by the seller.",
              "Indicates that the completed payment transaction was determined to be fraudulent by the seller, and was cancelled and refunded as a result.",
              "Indicates that the payment transaction was accepted, and the user was charged.",
              "Indicates that the payment transaction was declined, for example due to invalid card details.",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password.",
              "Indicates that the user sent unwanted and abusive messages to other users of the platform, such as spam, scams, phishing, or social engineering."
            ],
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "REFUND",
              "REFUND_FRAUD",
              "TRANSACTION_ACCEPTED",
              "TRANSACTION_DECLINED",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD",
              "SOCIAL_SPAM"
            ],
            "type": "string"
          }
        },
        "accountId": {
          "description": "Optional. A stable account identifier to apply to the assessment. This is an alternative to setting `account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request.",
          "type": "string"
        },
        "transactionEvent": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
          "description": "Optional. If the assessment is part of a payment transaction, provide details on payment lifecycle events that occur in the transaction."
        }
      },
      "description": "The request message to annotate an Assessment.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1IOSKeySettings": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings",
      "properties": {
        "allowAllBundleIds": {
          "description": "Optional. If set to true, allowed_bundle_ids are not enforced.",
          "type": "boolean"
        },
        "allowedBundleIds": {
          "type": "array",
          "description": "Optional. iOS bundle ids of apps allowed to use the key. Example: 'com.companyname.productname.appname'",
          "items": {
            "type": "string"
          }
        },
        "appleDeveloperId": {
          "description": "Optional. Apple Developer account details for the app that is protected by the reCAPTCHA Key. reCAPTCHA Enterprise leverages platform-specific checks like Apple App Attest and Apple DeviceCheck to protect your app from abuse. Providing these fields allows reCAPTCHA Enterprise to get a better assessment of the integrity of your app.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId"
        }
      },
      "description": "Settings specific to keys that can be used by iOS apps."
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup": {
      "properties": {
        "name": {
          "description": "Required. Identifier. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{related_account_group}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup",
      "type": "object",
      "description": "A group of related accounts."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction": {
      "description": "An allow action continues processing a request unimpeded.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction": {
      "properties": {
        "path": {
          "type": "string",
          "description": "Optional. The address to redirect to. The target is a relative path in the current host. Example: \"/blog/404.html\"."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
      "description": "A substitute action transparently serves a different page than the one requested.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest": {
      "properties": {
        "skipBillingCheck": {
          "description": "Optional. If true, skips the billing check. A reCAPTCHA Enterprise key or migrated key behaves differently than a reCAPTCHA (non-Enterprise version) key when you reach a quota limit (see https://cloud.google.com/recaptcha-enterprise/quotas#quota_limit). To avoid any disruption of your usage, we check that a billing account is present. If your usage of reCAPTCHA is under the free quota, you can safely skip the billing check and proceed with the migration. See https://cloud.google.com/recaptcha-enterprise/docs/billing-information.",
          "type": "boolean"
        }
      },
      "description": "The migrate key request message.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest"
    },
    "GoogleCloudRecaptchaenterpriseV1TokenProperties": {
      "description": "Properties of the provided event token.",
      "id": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp corresponding to the generation of the token."
        },
        "hostname": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The hostname of the page on which the token was generated (Web keys only)."
        },
        "androidPackageName": {
          "type": "string",
          "description": "Output only. The name of the Android package with which the token was generated (Android keys only).",
          "readOnly": true
        },
        "action": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Action name provided at token generation."
        },
        "iosBundleId": {
          "readOnly": true,
          "description": "Output only. The ID of the iOS bundle with which the token was generated (iOS keys only).",
          "type": "string"
        },
        "valid": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the provided user response token is valid. When valid = false, the reason could be specified in invalid_reason or it could also be due to a user failing to solve a challenge or a sitekey mismatch (i.e the sitekey used to generate the token was different than the one specified in the assessment)."
        },
        "invalidReason": {
          "enum": [
            "INVALID_REASON_UNSPECIFIED",
            "UNKNOWN_INVALID_REASON",
            "MALFORMED",
            "EXPIRED",
            "DUPE",
            "MISSING",
            "BROWSER_ERROR"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "If the failure reason was not accounted for.",
            "The provided user verification token was malformed.",
            "The user verification token had expired.",
            "The user verification had already been seen.",
            "The user verification token was not present.",
            "A retriable error (such as network failure) occurred on the browser. Could easily be simulated by an attacker."
          ],
          "description": "Output only. Reason associated with the response when valid = false."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
      "type": "object",
      "description": "Policy config assessment.",
      "properties": {
        "error": {
          "readOnly": true,
          "$ref": "GoogleRpcStatus",
          "description": "Output only. If the processing of a policy config fails, an error will be populated and the firewall_policy will be left empty."
        },
        "firewallPolicy": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
          "description": "Output only. The policy that matched the request. If more than one policy may match, this is the first match. If no policy matches the incoming request, the policy field will be left empty.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
      "description": "Signals describing the user involved in this transaction.",
      "type": "object",
      "properties": {
        "syntheticRisk": {
          "description": "Output only. Likelihood (from 0.0 to 1.0) this user includes synthetic components in their identity, such as a randomly generated email address, temporary phone number, or fake shipping address.",
          "format": "float",
          "type": "number",
          "readOnly": true
        },
        "activeDaysLowerBound": {
          "description": "Output only. This user (based on email, phone, and other identifiers) has been seen on the internet for at least this number of days.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
      "properties": {
        "latestVerificationResult": {
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCESS_USER_VERIFIED",
            "ERROR_USER_NOT_VERIFIED",
            "ERROR_SITE_ONBOARDING_INCOMPLETE",
            "ERROR_RECIPIENT_NOT_ALLOWED",
            "ERROR_RECIPIENT_ABUSE_LIMIT_EXHAUSTED",
            "ERROR_CRITICAL_INTERNAL",
            "ERROR_CUSTOMER_QUOTA_EXHAUSTED",
            "ERROR_VERIFICATION_BYPASSED",
            "ERROR_VERDICT_MISMATCH"
          ],
          "enumDescriptions": [
            "No information about the latest account verification.",
            "The user was successfully verified. This means the account verification challenge was successfully completed.",
            "The user failed the verification challenge.",
            "The site is not properly onboarded to use the account verification feature.",
            "The recipient is not allowed for account verification. This can occur during integration but should not occur in production.",
            "The recipient has already been sent too many verification codes in a short amount of time.",
            "The verification flow could not be completed due to a critical internal error.",
            "The client has exceeded their two factor request quota for this period of time.",
            "The request cannot be processed at the time because of an incident. This bypass can be restricted to a problematic destination email domain, a customer, or could affect the entire service.",
            "The request parameters do not match with the token provided and cannot be processed."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Result of the latest account verification challenge."
        },
        "endpoints": {
          "description": "Optional. Endpoints that can be used for identity verification.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo"
          }
        },
        "username": {
          "type": "string",
          "deprecated": true,
          "description": "Username of the account that is being verified. Deprecated. Customers should now provide the `account_id` field in `event.user_info`."
        },
        "languageCode": {
          "description": "Optional. Language code preference for the verification message, set as a IETF BCP 47 language code.",
          "type": "string"
        }
      },
      "description": "Information about account verification, used for identity verification.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment": {
      "type": "object",
      "description": "Account defender risk assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
      "properties": {
        "labels": {
          "readOnly": true,
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default unspecified type.",
              "The request matches a known good profile for the user.",
              "The request is potentially a suspicious login event and must be further verified either through multi-factor authentication or another system.",
              "The request matched a profile that previously had suspicious account creation behavior. This can mean that this is a fake account.",
              "The account in the request has a high number of related accounts. It does not necessarily imply that the account is bad but can require further investigation."
            ],
            "type": "string",
            "enum": [
              "ACCOUNT_DEFENDER_LABEL_UNSPECIFIED",
              "PROFILE_MATCH",
              "SUSPICIOUS_LOGIN_ACTIVITY",
              "SUSPICIOUS_ACCOUNT_CREATION",
              "RELATED_ACCOUNTS_NUMBER_HIGH"
            ]
          },
          "description": "Output only. Labels for this request."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallAction",
      "properties": {
        "allow": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
          "description": "The user request did not match any policy and should be allowed access to the requested resource."
        },
        "substitute": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
          "description": "This action will transparently serve a different page to an offending user."
        },
        "includeRecaptchaScript": {
          "description": "This action will inject reCAPTCHA JavaScript code into the HTML page returned by the site backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction"
        },
        "block": {
          "description": "This action will deny access to a given page. The user will get an HTTP error code.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction"
        },
        "redirect": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
          "description": "This action will redirect the request to a ReCaptcha interstitial to attach a token."
        },
        "setHeader": {
          "description": "This action will set a custom header but allow the request to continue to the customer backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction"
        }
      },
      "type": "object",
      "description": "An individual action. Each action represents what to do if a policy matches."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction",
      "description": "A block action serves an HTTP error code a prevents the request from hitting the backend.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo": {
      "properties": {
        "cvvResponseCode": {
          "description": "Optional. CVV response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization).",
          "type": "string"
        },
        "avsResponseCode": {
          "type": "string",
          "description": "Optional. AVS response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization)."
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the gateway service (for example, stripe, square, paypal)."
        },
        "gatewayResponseCode": {
          "type": "string",
          "description": "Optional. Gateway response code describing the state of the transaction."
        }
      },
      "description": "Details about the transaction from the gateway.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict": {
      "description": "Information about stolen instrument fraud, where the user is not the legitimate owner of the instrument being used for the purchase.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
      "properties": {
        "risk": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. Probability of this transaction being executed with a stolen instrument. Values are from 0.0 (lowest) to 1.0 (highest).",
          "type": "number"
        }
      },
      "type": "object"
    },
[...]
