{
  "discoveryVersion": "v1",
  "id": "recaptchaenterprise:v1",
  "fullyEncodeReservedExpansion": true,
  "name": "recaptchaenterprise",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://recaptchaenterprise.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://recaptchaenterprise.mtls.googleapis.com/",
  "version": "v1",
  "ownerName": "Google",
  "revision": "20220319",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1WebKeySettings": {
      "type": "object",
      "description": "Settings specific to keys that can be used by websites.",
      "properties": {
        "allowAllDomains": {
          "type": "boolean",
          "description": "If set to true, it means allowed_domains will not be enforced."
        },
        "challengeSecurityPreference": {
          "description": "Settings for the frequency and difficulty at which this key triggers captcha challenges. This should only be specified for IntegrationTypes CHECKBOX and INVISIBLE.",
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "type": "string"
        },
        "integrationType": {
          "type": "string",
          "description": "Required. Describes how this key is integrated with the website.",
          "enum": [
            "INTEGRATION_TYPE_UNSPECIFIED",
            "SCORE",
            "CHECKBOX",
            "INVISIBLE"
          ],
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified. This is not a valid IntegrationType, one of the other types must be specified instead.",
            "Only used to produce scores. It doesn't display the \"I'm not a robot\" checkbox and never shows captcha challenges.",
            "Displays the \"I'm not a robot\" checkbox and may show captcha challenges after it is checked.",
            "Doesn't display the \"I'm not a robot\" checkbox, but may show captcha challenges after risk analysis."
          ]
        },
        "allowAmpTraffic": {
          "type": "boolean",
          "description": "If set to true, the key can be used on AMP (Accelerated Mobile Pages) websites. This is supported only for the SCORE integration type."
        },
        "allowedDomains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Domains or subdomains of websites allowed to use the key. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com'"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1IOSKeySettings": {
      "description": "Settings specific to keys that can be used by iOS apps.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings",
      "properties": {
        "allowAllBundleIds": {
          "description": "If set to true, allowed_bundle_ids are not enforced.",
          "type": "boolean"
        },
        "allowedBundleIds": {
          "type": "array",
          "description": "iOS bundle ids of apps allowed to use the key. Example: 'com.companyname.productname.appname'",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1Assessment": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for the Assessment in the format \"projects/{project}/assessments/{assessment}\"."
        },
        "accountDefenderAssessment": {
          "description": "Assessment returned by Account Defender when a hashed_account_id is provided.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment"
        },
        "event": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1Event",
          "description": "The event being assessed."
        },
        "tokenProperties": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
          "description": "Output only. Properties of the provided event token.",
          "readOnly": true
        },
        "riskAnalysis": {
          "description": "Output only. The risk analysis result for the event being assessed.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Assessment",
      "description": "A recaptcha assessment resource.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse",
      "properties": {},
      "description": "Empty response for AnnotateAssessment.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreMetrics": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics",
      "description": "Metrics related to scoring.",
      "properties": {
        "actionMetrics": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
          },
          "description": "Action-based metrics. The map key is the action name which specified by the site owners at time of the \"execute\" client-side call. Populated only for SCORE keys."
        },
        "overallMetrics": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
          "description": "Aggregated score metrics for all traffic."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1Event": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Event",
      "properties": {
        "siteKey": {
          "type": "string",
          "description": "Optional. The site key that was used to invoke reCAPTCHA on your site and generate the token."
        },
        "userIpAddress": {
          "type": "string",
          "description": "Optional. The IP address in the request from the user's device related to this event."
        },
        "hashedAccountId": {
          "format": "byte",
          "description": "Optional. Optional unique stable hashed user identifier for the request. The identifier should ideally be hashed using sha256 with stable secret.",
          "type": "string"
        },
        "expectedAction": {
          "type": "string",
          "description": "Optional. The expected action for this type of event. This should be the same action provided at token generation time on client-side platforms already integrated with recaptcha enterprise."
        },
        "token": {
          "description": "Optional. The user response token provided by the reCAPTCHA client-side integration on your site.",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "Optional. The user agent present in the request from the user's device related to this event."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1Metrics": {
      "description": "Metrics for a single Key.",
      "type": "object",
      "properties": {
        "challengeMetrics": {
          "description": "Metrics will be continuous and in order by dates, and in the granularity of day. Only challenge-based keys (CHECKBOX, INVISIBLE), will have challenge-based data.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
          },
          "type": "array"
        },
        "scoreMetrics": {
          "description": "Metrics will be continuous and in order by dates, and in the granularity of day. All Key types should have score-based data.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
          },
          "type": "array"
        },
        "startTime": {
          "description": "Inclusive start time aligned to a day (UTC).",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the metrics, in the format \"projects/{project}/keys/{key}/metrics\".",
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Metrics"
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{related_account_group}`."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup",
      "description": "A group of related accounts.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreDistribution": {
      "type": "object",
      "properties": {
        "scoreBuckets": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object",
          "description": "Map key is score value multiplied by 100. The scores are discrete values between [0, 1]. The maximum number of buckets is on order of a few dozen, but typically much lower (ie. 10)."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
      "description": "Score distribution."
    },
    "GoogleCloudRecaptchaenterpriseV1Key": {
      "id": "GoogleCloudRecaptchaenterpriseV1Key",
      "description": "A key used to identify and configure applications (web and/or mobile) that use reCAPTCHA Enterprise.",
      "properties": {
        "wafSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WafSettings",
          "description": "Settings for WAF"
        },
        "createTime": {
          "description": "The timestamp corresponding to the creation of this Key.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name for the Key in the format \"projects/{project}/keys/{key}\"."
        },
        "webSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
          "description": "Settings for keys that can be used by websites."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "See Creating and managing labels.",
          "type": "object"
        },
        "displayName": {
          "description": "Human-readable display name of this key. Modifiable by user.",
          "type": "string"
        },
        "androidSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
          "description": "Settings for keys that can be used by Android apps."
        },
        "iosSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings",
          "description": "Settings for keys that can be used by iOS apps."
        },
        "testingOptions": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
          "description": "Options for user acceptance testing."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall).",
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings",
      "properties": {
        "wafService": {
          "description": "Required. The WAF service that uses this key.",
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA"
          ],
          "type": "string",
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor"
          ]
        },
        "wafFeature": {
          "description": "Required. The WAF feature for which this key is enabled.",
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions."
          ],
          "type": "string",
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "description": "The response to a `ListRelatedAccountGroupMemberships` call.",
      "type": "object",
      "properties": {
        "relatedAccountGroupMemberships": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "type": "array",
          "description": "The memberships listed by the query."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership": {
      "description": "A membership in a group of related accounts.",
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The resource name for this membership in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}/memberships/{membership}`.",
          "type": "string"
        },
        "hashedAccountId": {
          "type": "string",
          "description": "The unique stable hashed user identifier of the member. The identifier corresponds to a `hashed_account_id` provided in a previous CreateAssessment or AnnotateAssessment call.",
          "format": "byte"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse",
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "relatedAccountGroupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "description": "The queried memberships."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest",
      "description": "The migrate key request message.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics": {
      "description": "Metrics related to challenges.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics",
      "type": "object",
      "properties": {
        "pageloadCount": {
          "description": "Count of reCAPTCHA checkboxes or badges rendered. This is mostly equivalent to a count of pageloads for pages that include reCAPTCHA.",
          "type": "string",
          "format": "int64"
        },
        "failedCount": {
          "format": "int64",
          "description": "Count of submitted challenge solutions that were incorrect or otherwise deemed suspicious such that a subsequent challenge was triggered.",
          "type": "string"
        },
        "passedCount": {
          "description": "Count of nocaptchas (successful verification without a challenge) plus submitted challenge solutions that were correct and resulted in verification.",
          "type": "string",
          "format": "int64"
        },
        "nocaptchaCount": {
          "description": "Count of nocaptchas (successful verification without a challenge) issued.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest": {
      "description": "The request message to search related account group memberships.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest",
      "properties": {
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of groups to return. The service may return fewer than this value. If unspecified, at most 50 groups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "format": "int32"
        },
        "hashedAccountId": {
          "description": "Optional. The unique stable hashed user identifier we should search connections to. The identifier should correspond to a `hashed_account_id` provided in a previous CreateAssessment or AnnotateAssessment call.",
          "format": "byte",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchRelatedAccountGroupMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchRelatedAccountGroupMemberships` must match the call that provided the page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
      "properties": {
        "testingScore": {
          "format": "float",
          "type": "number",
          "description": "All assessments for this Key will return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive."
        },
        "testingChallenge": {
          "description": "For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site will return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE.",
          "type": "string",
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ],
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ]
        }
      },
      "type": "object",
      "description": "Options for user acceptance testing."
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse": {
      "type": "object",
      "properties": {
        "relatedAccountGroups": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup"
          },
          "description": "The groups of related accounts listed by the query.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse",
      "description": "The response to a `ListRelatedAccountGroups` call."
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "properties": {
        "annotation": {
          "enum": [
            "ANNOTATION_UNSPECIFIED",
            "LEGITIMATE",
            "FRAUDULENT",
            "PASSWORD_CORRECT",
            "PASSWORD_INCORRECT"
          ],
          "description": "Optional. The annotation that will be assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "Provides information that the event turned out to be legitimate.",
            "Provides information that the event turned out to be fraudulent.",
            "Provides information that the event was related to a login event in which the user typed the correct password. Deprecated, prefer indicating CORRECT_PASSWORD through the reasons field instead.",
            "Provides information that the event was related to a login event in which the user typed the incorrect password. Deprecated, prefer indicating INCORRECT_PASSWORD through the reasons field instead."
          ]
        },
        "reasons": {
          "items": {
            "type": "string",
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD"
            ],
            "enumDescriptions": [
              "Default unspecified reason.",
              "Indicates a chargeback issued for the transaction with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates a chargeback related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates a chargeback related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password."
            ]
          },
          "type": "array",
          "description": "Optional. Optional reasons for the annotation that will be assigned to the Event."
        },
        "hashedAccountId": {
          "description": "Optional. Optional unique stable hashed user identifier to apply to the assessment. This is an alternative to setting the hashed_account_id in CreateAssessment, for example when the account identifier is not yet known in the initial request. It is recommended that the identifier is hashed using hmac-sha256 with stable secret.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "The request message to annotate an Assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TokenProperties": {
      "properties": {
        "action": {
          "description": "Action name provided at token generation.",
          "type": "string"
        },
        "invalidReason": {
          "enum": [
            "INVALID_REASON_UNSPECIFIED",
            "UNKNOWN_INVALID_REASON",
            "MALFORMED",
            "EXPIRED",
            "DUPE",
            "MISSING",
            "BROWSER_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "If the failure reason was not accounted for.",
            "The provided user verification token was malformed.",
            "The user verification token had expired.",
            "The user verification had already been seen.",
            "The user verification token was not present.",
            "A retriable error (such as network failure) occurred on the browser. Could easily be simulated by an attacker."
          ],
          "description": "Reason associated with the response when valid = false."
        },
        "createTime": {
          "type": "string",
          "description": "The timestamp corresponding to the generation of the token.",
          "format": "google-datetime"
        },
        "valid": {
          "type": "boolean",
          "description": "Whether the provided user response token is valid. When valid = false, the reason could be specified in invalid_reason or it could also be due to a user failing to solve a challenge or a sitekey mismatch (i.e the sitekey used to generate the token was different than the one specified in the assessment)."
        },
        "hostname": {
          "description": "The hostname of the page on which the token was generated.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1RiskAnalysis": {
      "id": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
      "description": "Risk analysis result for an event.",
      "properties": {
        "reasons": {
          "items": {
            "type": "string",
            "enum": [
              "CLASSIFICATION_REASON_UNSPECIFIED",
              "AUTOMATION",
              "UNEXPECTED_ENVIRONMENT",
              "TOO_MUCH_TRAFFIC",
              "UNEXPECTED_USAGE_PATTERNS",
              "LOW_CONFIDENCE_SCORE"
            ],
            "enumDescriptions": [
              "Default unspecified type.",
              "Interactions matched the behavior of an automated agent.",
              "The event originated from an illegitimate environment.",
              "Traffic volume from the event source is higher than normal.",
              "Interactions with the site were significantly different than expected patterns.",
              "Too little traffic has been received from this site thus far to generate quality risk analysis."
            ]
          },
          "description": "Reasons contributing to the risk analysis verdict.",
          "type": "array"
        },
        "score": {
          "format": "float",
          "description": "Legitimate event score from 0.0 to 1.0. (1.0 means very likely legitimate traffic while 0.0 means very likely non-legitimate traffic).",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse",
      "description": "Response to request to list keys in a project.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results.",
          "type": "string"
        },
        "keys": {
          "type": "array",
          "description": "Key details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment": {
      "properties": {
        "labels": {
          "items": {
            "enum": [
              "ACCOUNT_DEFENDER_LABEL_UNSPECIFIED",
              "PROFILE_MATCH",
              "SUSPICIOUS_LOGIN_ACTIVITY",
              "SUSPICIOUS_ACCOUNT_CREATION",
              "RELATED_ACCOUNTS_NUMBER_HIGH"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default unspecified type.",
              "The request matches a known good profile for the user.",
              "The request is potentially a suspicious login event and should be further verified either via multi-factor authentication or another system.",
              "The request matched a profile that previously had suspicious account creation behavior. This could mean this is a fake account.",
              "The account in the request has a high number of related accounts. It does not necessarily imply that the account is bad but could require investigating."
            ]
          },
          "description": "Labels for this request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Account Defender risk assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings": {
      "type": "object",
      "description": "Settings specific to keys that can be used by Android apps.",
      "properties": {
        "allowedPackageNames": {
          "items": {
            "type": "string"
          },
          "description": "Android package names of apps allowed to use the key. Example: 'com.companyname.appname'",
          "type": "array"
        },
        "allowAllPackageNames": {
          "description": "If set to true, allowed_package_names are not enforced.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings"
    }
  },
  "description": "",
  "version_module": true,
  "rootUrl": "https://recaptchaenterprise.googleapis.com/",
  "batchPath": "batch",
  "protocol": "rest",
  "title": "reCAPTCHA Enterprise API",
  "canonicalName": "Recaptcha Enterprise",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/recaptcha-enterprise/",
  "resources": {
    "projects": {
      "resources": {
        "relatedaccountgroupmemberships": {
          "methods": {
            "search": {
              "parameters": {
                "project": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the project to search related account group memberships from, in the format \"projects/{project}\".",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest"
              },
              "description": "Search group memberships related to a given account.",
              "parameterOrder": [
                "project"
              ],
              "path": "v1/{+project}/relatedaccountgroupmemberships:search",
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroupmemberships:search",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse"
              },
              "id": "recaptchaenterprise.projects.relatedaccountgroupmemberships.search"
            }
          }
        },
        "assessments": {
          "methods": {
            "create": {
              "flatPath": "v1/projects/{projectsId}/assessments",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the project in which the assessment will be created, in the format \"projects/{project}\"."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "path": "v1/{+parent}/assessments",
              "id": "recaptchaenterprise.projects.assessments.create",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates an Assessment of the likelihood an event is legitimate."
            },
            "annotate": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest"
              },
              "flatPath": "v1/projects/{projectsId}/assessments/{assessmentsId}:annotate",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the Assessment, in the format \"projects/{project}/assessments/{assessment}\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/assessments/[^/]+$"
                }
              },
              "id": "recaptchaenterprise.projects.assessments.annotate",
              "description": "Annotates a previously created Assessment to provide additional information on whether the event turned out to be authentic or fraudulent."
            }
          }
        },
        "relatedaccountgroups": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of groups to return. The service may return fewer than this value. If unspecified, at most 50 groups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the project to list related account groups from, in the format \"projects/{project}\".",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListRelatedAccountGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRelatedAccountGroups` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "description": "List groups of related accounts.",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "recaptchaenterprise.projects.relatedaccountgroups.list",
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroups",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/relatedaccountgroups"
            }
          },
          "resources": {
            "memberships": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/relatedaccountgroups/[^/]+$",
                      "description": "Required. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}`."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListRelatedAccountGroupMemberships` call. When paginating, all other parameters provided to `ListRelatedAccountGroupMemberships` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/memberships",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "recaptchaenterprise.projects.relatedaccountgroups.memberships.list",
                  "flatPath": "v1/projects/{projectsId}/relatedaccountgroups/{relatedaccountgroupsId}/memberships",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse"
                  },
                  "description": "Get the memberships in a group of related accounts."
                }
              }
            }
          }
        },
        "keys": {
          "methods": {
            "getMetrics": {
              "description": "Get some aggregated metrics for a Key. This data can be used to build dashboards.",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/metrics",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Metrics"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+/metrics$",
                  "description": "Required. The name of the requested metrics, in the format \"projects/{project}/keys/{key}/metrics\".",
                  "type": "string"
                }
              },
              "id": "recaptchaenterprise.projects.keys.getMetrics",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "migrate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:migrate",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "description": "Required. The name of the key to be migrated, in the format \"projects/{project}/keys/{key}\".",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.migrate",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest"
              },
              "path": "v1/{+name}:migrate",
              "description": "Migrates an existing key from reCAPTCHA to reCAPTCHA Enterprise. Once a key is migrated, it can be used from either product. SiteVerify requests are billed as CreateAssessment calls. You must be authenticated as one of the current owners of the reCAPTCHA Site Key, and your user must have the reCAPTCHA Enterprise Admin IAM role in the destination project."
            },
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the project in which the key will be created, in the format \"projects/{project}\"."
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "description": "Creates a new reCAPTCHA Enterprise key.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/keys",
              "flatPath": "v1/projects/{projectsId}/keys",
              "id": "recaptchaenterprise.projects.keys.create",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "id": "recaptchaenterprise.projects.keys.patch",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "description": "Updates the specified key.",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The resource name for the Key in the format \"projects/{project}/keys/{key}\".",
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. The mask to control which fields of the key get updated. If the mask is not present, all fields will be updated."
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "description": "Returns the list of all keys that belong to a project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.keys.list",
              "path": "v1/{+parent}/keys",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/keys",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The next_page_token value returned from a previous. ListKeysRequest, if any.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of keys to return. Default is 10. Max limit is 1000.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the project that contains the keys that will be listed, in the format \"projects/{project}\"."
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "recaptchaenterprise.projects.keys.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the key to be deleted, in the format \"projects/{project}/keys/{key}\".",
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "description": "Deletes the specified key.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "recaptchaenterprise.projects.keys.get",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns the specified key.",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the requested key, in the format \"projects/{project}/keys/{key}\".",
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  }
}
