{
  "servicePath": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "properties": {
        "keys": {
          "type": "array",
          "description": "Key details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse",
      "description": "Response to request to list keys in a project."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction": {
      "properties": {
        "path": {
          "type": "string",
          "description": "The address to redirect to. The target is a relative path in the current host. Example: \"/blog/404.html\"."
        }
      },
      "description": "A substitute action transparently serves a different page than the one requested.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse",
      "description": "Response to request to list firewall policies belonging to a key.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no policies remain in results."
        },
        "firewallPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
          },
          "description": "Policy details."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId": {
      "type": "object",
      "properties": {
        "privateKey": {
          "type": "string",
          "description": "Required. Input only. A private key (downloaded as a text file with a .p8 file extension) generated for your Apple Developer account. Ensure that Apple DeviceCheck is enabled for the private key."
        },
        "keyId": {
          "type": "string",
          "description": "Required. The Apple developer key ID (10-character string)."
        },
        "teamId": {
          "description": "Required. The Apple team ID (10-character string) owning the provisioning profile used to build your application.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
      "description": "Contains fields that are required to perform Apple-specific integrity checks."
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "properties": {
        "relatedAccountGroupMemberships": {
          "description": "The memberships listed by the query.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse",
      "description": "The response to a `ListRelatedAccountGroupMemberships` call.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Metrics": {
      "id": "GoogleCloudRecaptchaenterpriseV1Metrics",
      "properties": {
        "scoreMetrics": {
          "description": "Metrics will be continuous and in order by dates, and in the granularity of day. All Key types should have score-based data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
          }
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Inclusive start time aligned to a day (UTC).",
          "type": "string"
        },
        "challengeMetrics": {
          "description": "Metrics will be continuous and in order by dates, and in the granularity of day. Only challenge-based keys (CHECKBOX, INVISIBLE), will have challenge-based data.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the metrics, in the format \"projects/{project}/keys/{key}/metrics\".",
          "readOnly": true
        }
      },
      "description": "Metrics for a single Key.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment": {
      "description": "Assessment for Fraud Prevention.",
      "type": "object",
      "properties": {
        "behavioralTrustVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
          "description": "Assessment of this transaction for behavioral trust."
        },
        "stolenInstrumentVerdict": {
          "description": "Assessment of this transaction for risk of a stolen instrument.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict"
        },
        "cardTestingVerdict": {
          "description": "Assessment of this transaction for risk of being part of a card testing attack.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict"
        },
        "transactionRisk": {
          "format": "float",
          "description": "Probability (0-1) of this transaction being fraudulent. Summarizes the combined risk of attack vectors below.",
          "type": "number"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
      "type": "object",
      "properties": {},
      "description": "An allow action continues processing a request unimpeded."
    },
    "GoogleCloudRecaptchaenterpriseV1Key": {
      "description": "A key used to identify and configure applications (web and/or mobile) that use reCAPTCHA Enterprise.",
      "properties": {
        "androidSettings": {
          "description": "Settings for keys that can be used by Android apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings"
        },
        "iosSettings": {
          "description": "Settings for keys that can be used by iOS apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings"
        },
        "name": {
          "type": "string",
          "description": "The resource name for the Key in the format \"projects/{project}/keys/{key}\"."
        },
        "webSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
          "description": "Settings for keys that can be used by websites."
        },
        "testingOptions": {
          "description": "Options for user acceptance testing.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TestingOptions"
        },
        "displayName": {
          "description": "Human-readable display name of this key. Modifiable by user.",
          "type": "string"
        },
        "wafSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WafSettings",
          "description": "Settings for WAF"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "See Creating and managing labels."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp corresponding to the creation of this key.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Key",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict": {
      "properties": {
        "trust": {
          "description": "Probability (0-1) of this transaction attempt being executed in a behaviorally trustworthy way.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Information about behavioral trust of the transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo": {
      "properties": {
        "requestToken": {
          "readOnly": true,
          "description": "Output only. Token to provide to the client to trigger endpoint verification. It must be used within 15 minutes.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address for which to trigger a verification request."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number for which to trigger a verification request. Should be given in E.164 format."
        },
        "lastVerificationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last successful verification for the endpoint, if any.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo",
      "description": "Information about a verification endpoint that can be used for 2FA."
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreMetrics": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics",
      "description": "Metrics related to scoring.",
      "properties": {
        "overallMetrics": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
          "description": "Aggregated score metrics for all traffic."
        },
        "actionMetrics": {
          "description": "Action-based metrics. The map key is the action name which specified by the site owners at time of the \"execute\" client-side call.",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "type": "object",
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call.",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "relatedAccountGroupMemberships": {
          "description": "The queried memberships.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1IOSKeySettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings",
      "properties": {
        "allowedBundleIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "iOS bundle ids of apps allowed to use the key. Example: 'com.companyname.productname.appname'"
        },
        "allowAllBundleIds": {
          "description": "If set to true, allowed_bundle_ids are not enforced.",
          "type": "boolean"
        },
        "appleDeveloperId": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
          "description": "Apple Developer account details for the app that is protected by the reCAPTCHA Key. reCAPTCHA Enterprise leverages platform-specific checks like Apple App Attest and Apple DeviceCheck to protect your app from abuse. Providing these fields allows reCAPTCHA Enterprise to get a better assessment of the integrity of your app."
        }
      },
      "description": "Settings specific to keys that can be used by iOS apps.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
      "description": "Account defender risk assessment.",
      "type": "object",
      "properties": {
        "labels": {
          "items": {
            "enumDescriptions": [
              "Default unspecified type.",
              "The request matches a known good profile for the user.",
              "The request is potentially a suspicious login event and must be further verified either through multi-factor authentication or another system.",
              "The request matched a profile that previously had suspicious account creation behavior. This can mean that this is a fake account.",
              "The account in the request has a high number of related accounts. It does not necessarily imply that the account is bad but can require further investigation."
            ],
            "type": "string",
            "enum": [
              "ACCOUNT_DEFENDER_LABEL_UNSPECIFIED",
              "PROFILE_MATCH",
              "SUSPICIOUS_LOGIN_ACTIVITY",
              "SUSPICIOUS_ACCOUNT_CREATION",
              "RELATED_ACCOUNTS_NUMBER_HIGH"
            ]
          },
          "description": "Labels for this request.",
          "type": "array"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment": {
      "description": "Policy config assessment.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "If the processing of a policy config fails, an error will be populated and the firewall_policy will be left empty."
        },
        "firewallPolicy": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
          "description": "Output only. The policy that matched the request. If more than one policy may match, this is the first match. If no policy matches the incoming request, the policy field will be left empty.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings": {
      "description": "Settings specific to keys that can be used by Android apps.",
      "id": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
      "type": "object",
      "properties": {
        "allowAllPackageNames": {
          "type": "boolean",
          "description": "If set to true, allowed_package_names are not enforced."
        },
        "allowedPackageNames": {
          "description": "Android package names of apps allowed to use the key. Example: 'com.companyname.appname'",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "supportNonGoogleAppStoreDistribution": {
          "type": "boolean",
          "description": "Set to true for keys that are used in an Android application that is available for download in app stores in addition to the Google Play Store."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup": {
      "description": "A group of related accounts.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{related_account_group}`."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction": {
      "properties": {
        "key": {
          "type": "string",
          "description": "The header key to set in the request to the backend server."
        },
        "value": {
          "description": "The header value to set in the request to the backend server.",
          "type": "string"
        }
      },
      "description": "A set header action sets a header and forwards the request to the backend. This can be used to trigger custom protection implemented on the backend.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataUser": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
      "properties": {
        "phoneVerified": {
          "description": "Whether the phone number has been verified to be accessible by the user (OTP or similar).",
          "type": "boolean"
        },
        "phoneNumber": {
          "description": "The phone number of the user, with country code.",
          "type": "string"
        },
        "creationMs": {
          "description": "The epoch milliseconds of the user's account creation.",
          "type": "string",
          "format": "int64"
        },
        "emailVerified": {
          "description": "Whether the email has been verified to be accessible by the user (OTP or similar).",
          "type": "boolean"
        },
        "accountId": {
          "type": "string",
          "description": "Unique account identifier for this user. If using account defender, this should match the hashed_account_id field. Otherwise, a unique and persistent identifier for this account."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        }
      },
      "description": "Details about a user's account involved in the transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1Event": {
      "properties": {
        "requestedUri": {
          "description": "Optional. The URI resource the user requested that triggered an assessment.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Optional. The user response token provided by the reCAPTCHA Enterprise client-side integration on your site."
        },
        "expectedAction": {
          "description": "Optional. The expected action for this type of event. This should be the same action provided at token generation time on client-side platforms already integrated with recaptcha enterprise.",
          "type": "string"
        },
        "headers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HTTP header information about the request."
        },
        "transactionData": {
          "description": "Optional. Data describing a payment transaction to be assessed. Sending this data enables reCAPTCHA Enterprise Fraud Prevention and the FraudPreventionAssessment component in the response.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionData"
        },
        "userIpAddress": {
          "type": "string",
          "description": "Optional. The IP address in the request from the user's device related to this event."
        },
        "firewallPolicyEvaluation": {
          "type": "boolean",
          "description": "Optional. Flag for enabling firewall policy config assessment. If this flag is enabled, the firewall policy will be evaluated and a suggested firewall action will be returned in the response."
        },
        "userAgent": {
          "description": "Optional. The user agent present in the request from the user's device related to this event.",
          "type": "string"
        },
        "express": {
          "type": "boolean",
          "description": "Optional. Flag for a reCAPTCHA express request for an assessment without a token. If enabled, `site_key` must reference a SCORE key with WAF feature set to EXPRESS."
        },
        "ja3": {
          "type": "string",
          "description": "Optional. Optional JA3 fingerprint for SSL clients."
        },
        "wafTokenAssessment": {
          "type": "boolean",
          "description": "Optional. Flag for running WAF token assessment. If enabled, the token must be specified, and have been created by a WAF-enabled key."
        },
        "siteKey": {
          "description": "Optional. The site key that was used to invoke reCAPTCHA Enterprise on your site and generate the token.",
          "type": "string"
        },
        "hashedAccountId": {
          "description": "Optional. Unique stable hashed user identifier for the request. The identifier must be hashed using hmac-sha256 with stable secret.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Event",
      "type": "object",
      "description": "The event being assessed."
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreDistribution": {
      "type": "object",
      "properties": {
        "scoreBuckets": {
          "description": "Map key is score value multiplied by 100. The scores are discrete values between [0, 1]. The maximum number of buckets is on order of a few dozen, but typically much lower (ie. 10).",
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
      "description": "Score distribution."
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionData": {
      "description": "Transaction data associated with a payment protected by reCAPTCHA Enterprise. All fields are optional.",
      "properties": {
        "merchants": {
          "description": "Information about the user or users fulfilling the transaction.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
          },
          "type": "array"
        },
        "transactionId": {
          "description": "Unique identifier for the transaction. This custom identifier can be used to reference this transaction in the future, for example, labeling a refund or chargeback event. Two attempts at the same transaction should use the same transaction id.",
          "type": "string"
        },
        "paymentMethod": {
          "type": "string",
          "description": "The payment method for the transaction. The allowed values are: * credit-card * debit-card * gift-card * processor-{name} (If a third-party is used, for example, processor-paypal) * custom-{name} (If an alternative method is used, for example, custom-crypto)"
        },
        "cardLastFour": {
          "description": "The last four digits of the card.",
          "type": "string"
        },
        "cardBin": {
          "description": "The Bank Identification Number - generally the first 6 or 8 digits of the card.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem"
          },
          "type": "array",
          "description": "Items purchased in this transaction."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "The decimal value of the transaction in the specified currency."
        },
        "user": {
          "description": "Information about the user paying/initiating the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
        },
        "currencyCode": {
          "description": "The currency code in ISO-4217 format.",
          "type": "string"
        },
        "shippingValue": {
          "format": "double",
          "type": "number",
          "description": "The value of shipping in the specified currency. 0 for free or no shipping."
        },
        "gatewayInfo": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo",
          "description": "Information about the payment gateway's response to the transaction."
        },
        "shippingAddress": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
          "description": "Destination address if this transaction involves shipping a physical item."
        },
        "billingAddress": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
          "description": "Address associated with the payment method when applicable."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionData",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction",
      "type": "object",
      "description": "A block action serves an HTTP error code a prevents the request from hitting the backend.",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest": {
      "properties": {
        "skipBillingCheck": {
          "description": "Optional. If true, skips the billing check. A reCAPTCHA Enterprise key or migrated key behaves differently than a reCAPTCHA (non-Enterprise version) key when you reach a quota limit (see https://cloud.google.com/recaptcha-enterprise/quotas#quota_limit). To avoid any disruption of your usage, we check that a billing account is present. If your usage of reCAPTCHA is under the free quota, you can safely skip the billing check and proceed with the migration. See https://cloud.google.com/recaptcha-enterprise/docs/billing-information.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest",
      "description": "The migrate key request message.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse",
      "description": "Empty response for AnnotateAssessment."
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo",
      "type": "object",
      "description": "Details about the transaction from the gateway.",
      "properties": {
        "avsResponseCode": {
          "type": "string",
          "description": "AVS response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization)."
        },
        "cvvResponseCode": {
          "description": "CVV response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the gateway service (for example, stripe, square, paypal)."
        },
        "gatewayResponseCode": {
          "type": "string",
          "description": "Gateway response code describing the state of the transaction."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict": {
      "properties": {
        "risk": {
          "type": "number",
          "description": "Probability (0-1) of this transaction attempt being part of a card testing attack.",
          "format": "float"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
      "description": "Information about card testing fraud, where an adversary is testing fraudulently obtained cards or brute forcing their details.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "properties": {
        "testingChallenge": {
          "description": "For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site will return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE.",
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ],
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ],
          "type": "string"
        },
        "testingScore": {
          "format": "float",
          "description": "All assessments for this Key will return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive.",
          "type": "number"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
      "description": "Options for user acceptance testing.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse": {
      "properties": {
        "legacySecretKey": {
          "description": "The secret key (also known as shared secret) authorizes communication between your application backend and the reCAPTCHA Enterprise server to create an assessment. The secret key needs to be kept safe for security purposes.",
          "type": "string"
        }
      },
      "description": "Secret key is used only in legacy reCAPTCHA. It must be used in a 3rd party integration with legacy reCAPTCHA.",
      "id": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict": {
      "properties": {
        "risk": {
          "format": "float",
          "type": "number",
          "description": "Probability (0-1) of this transaction being executed with a stolen instrument."
        }
      },
      "description": "Information about stolen instrument fraud, where the user is not the legitimate owner of the instrument being used for the purchase.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo": {
      "properties": {
        "latestVerificationResult": {
          "readOnly": true,
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCESS_USER_VERIFIED",
            "ERROR_USER_NOT_VERIFIED",
            "ERROR_SITE_ONBOARDING_INCOMPLETE",
            "ERROR_RECIPIENT_NOT_ALLOWED",
            "ERROR_RECIPIENT_ABUSE_LIMIT_EXHAUSTED",
            "ERROR_CRITICAL_INTERNAL",
            "ERROR_CUSTOMER_QUOTA_EXHAUSTED",
            "ERROR_VERIFICATION_BYPASSED",
            "ERROR_VERDICT_MISMATCH"
          ],
          "type": "string",
          "description": "Output only. Result of the latest account verification challenge.",
          "enumDescriptions": [
            "No information about the latest account verification.",
            "The user was successfully verified. This means the account verification challenge was successfully completed.",
            "The user failed the verification challenge.",
            "The site is not properly onboarded to use the account verification feature.",
            "The recipient is not allowed for account verification. This can occur during integration but should not occur in production.",
            "The recipient has already been sent too many verification codes in a short amount of time.",
            "The verification flow could not be completed due to a critical internal error.",
            "The client has exceeded their two factor request quota for this period of time.",
            "The request cannot be processed at the time because of an incident. This bypass can be restricted to a problematic destination email domain, a customer, or could affect the entire service.",
            "The request parameters do not match with the token provided and cannot be processed."
          ]
        },
        "username": {
          "description": "Username of the account that is being verified. Deprecated. Customers should now provide the hashed account ID field in Event.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Language code preference for the verification message, set as a IETF BCP 47 language code."
        },
        "endpoints": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo"
          },
          "type": "array",
          "description": "Endpoints that can be used for identity verification."
        }
      },
      "description": "Information about account verification, used for identity verification.",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallAction": {
      "properties": {
        "substitute": {
          "description": "This action will transparently serve a different page to an offending user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction"
        },
        "allow": {
          "description": "The user request did not match any policy and should be allowed access to the requested resource.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction"
        },
        "setHeader": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction",
          "description": "This action will set a custom header but allow the request to continue to the customer backend."
        },
        "redirect": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
          "description": "This action will redirect the request to a ReCaptcha interstitial to attach a token."
        },
        "block": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction",
          "description": "This action will deny access to a given page. The user will get an HTTP error code."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallAction",
      "description": "An individual action. Each action represents what to do if a policy matches.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicy": {
      "type": "object",
      "properties": {
        "path": {
          "description": "The path for which this policy applies, specified as a glob pattern. For more information on glob, see the [manual page](https://man7.org/linux/man-pages/man7/glob.7.html). A path has a max length of 200 characters.",
          "type": "string"
        },
        "name": {
          "description": "The resource name for the FirewallPolicy in the format \"projects/{project}/firewallpolicies/{firewallpolicy}\".",
          "type": "string"
        },
        "condition": {
          "description": "A CEL (Common Expression Language) conditional expression that specifies if this policy applies to an incoming user request. If this condition evaluates to true and the requested path matched the path pattern, the associated actions should be executed by the caller. The condition string is checked for CEL syntax correctness on creation. For more information, see the [CEL spec](https://github.com/google/cel-spec) and its [language definition](https://github.com/google/cel-spec/blob/master/doc/langdef.md). A condition has a max length of 500 characters.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of what this policy aims to achieve, for convenience purposes. The description can at most include 256 UTF-8 characters."
        },
        "actions": {
          "description": "The actions that the caller should take regarding user access. There should be at most one terminal action. A terminal action is any action that forces a response, such as AllowAction, BlockAction or SubstituteAction. Zero or more non-terminal actions such as SetHeader might be specified. A single policy can contain up to 16 actions.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
      "description": "A FirewallPolicy represents a single matching pattern and resulting actions to take."
    },
    "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification": {
      "description": "Private password leak verification info.",
      "type": "object",
      "properties": {
        "lookupHashPrefix": {
          "format": "byte",
          "description": "Optional. Exactly 26-bit prefix of the SHA-256 hash of the canonicalized username. It is used to look up password leaks associated with that hash prefix.",
          "type": "string"
        },
        "encryptedLeakMatchPrefixes": {
          "readOnly": true,
          "items": {
            "format": "byte",
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of prefixes of the encrypted potential password leaks that matched the given parameters. They must be compared with the client-side decryption prefix of `reencrypted_user_credentials_hash`"
        },
        "reencryptedUserCredentialsHash": {
          "description": "Output only. Corresponds to the re-encryption of the `encrypted_user_credentials_hash` field. It is used to match potential password leaks within `encrypted_leak_match_prefixes`.",
          "format": "byte",
          "type": "string",
          "readOnly": true
        },
        "encryptedUserCredentialsHash": {
          "type": "string",
          "format": "byte",
          "description": "Optional. Encrypted Scrypt hash of the canonicalized username+password. It is re-encrypted by the server and returned through `reencrypted_user_credentials_hash`."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics": {
      "type": "object",
      "properties": {
        "failedCount": {
          "description": "Count of submitted challenge solutions that were incorrect or otherwise deemed suspicious such that a subsequent challenge was triggered.",
          "type": "string",
          "format": "int64"
        },
        "nocaptchaCount": {
          "description": "Count of nocaptchas (successful verification without a challenge) issued.",
          "type": "string",
          "format": "int64"
        },
        "passedCount": {
          "type": "string",
          "description": "Count of nocaptchas (successful verification without a challenge) plus submitted challenge solutions that were correct and resulted in verification.",
          "format": "int64"
        },
        "pageloadCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of reCAPTCHA checkboxes or badges rendered. This is mostly equivalent to a count of pageloads for pages that include reCAPTCHA."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics",
      "description": "Metrics related to challenges."
    },
    "GoogleCloudRecaptchaenterpriseV1Assessment": {
      "type": "object",
      "description": "A reCAPTCHA Enterprise assessment resource.",
      "properties": {
        "accountDefenderAssessment": {
          "description": "Assessment returned by account defender when a hashed_account_id is provided.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment"
        },
        "event": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1Event",
          "description": "The event being assessed."
        },
        "fraudPreventionAssessment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
          "description": "Assessment returned by Fraud Prevention when TransactionData is provided."
        },
        "name": {
          "description": "Output only. The resource name for the Assessment in the format \"projects/{project}/assessments/{assessment}\".",
          "type": "string",
          "readOnly": true
        },
        "accountVerification": {
          "description": "Account verification information for identity verification. The assessment event must include a token and site key to use this feature.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo"
        },
        "privatePasswordLeakVerification": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification",
          "description": "The private password leak verification field contains the parameters that are used to to check for leaks privately without sharing user credentials."
        },
        "riskAnalysis": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
          "readOnly": true,
          "description": "Output only. The risk analysis result for the event being assessed."
        },
        "firewallPolicyAssessment": {
          "description": "Assessment returned when firewall policies belonging to the project are evaluated using the field firewall_policy_evaluation.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment"
        },
        "tokenProperties": {
          "description": "Output only. Properties of the provided event token.",
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1TokenProperties"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Assessment"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionEvent": {
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "Optional. The value that corresponds with this transaction event, if one exists. For example, a refund event where $5.00 was refunded. Currency is obtained from the original transaction data."
        },
        "eventTime": {
          "type": "string",
          "description": "Optional. Timestamp when this transaction event occurred; otherwise assumed to be the time of the API call.",
          "format": "google-datetime"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Default, unspecified event type.",
            "Indicates that the transaction is approved by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is denied and concluded due to risks detected by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is being evaluated by a human, due to suspicion or risk.",
            "Indicates that the authorization attempt with the card issuer succeeded.",
            "Indicates that the authorization attempt with the card issuer failed. The accompanying reasons can include Visa's '54' indicating that the card is expired, or '82' indicating that the CVV is incorrect.",
            "Indicates that the transaction is completed because the funds were settled.",
            "Indicates that the transaction could not be completed because the funds were not settled.",
            "Indicates that the transaction has been canceled. Specify the reason for the cancellation. For example, 'INSUFFICIENT_INVENTORY'.",
            "Indicates that the merchant has received a chargeback inquiry due to fraud for the transaction, requesting additional information before a fraud chargeback is officially issued and a formal chargeback notification is sent.",
            "Indicates that the merchant has received a chargeback alert due to fraud for the transaction. The process of resolving the dispute without involving the payment network is started.",
            "Indicates that a fraud notification is issued for the transaction, sent by the payment instrument's issuing bank because the transaction appears to be fraudulent. We recommend including TC40 or SAFE data in the `reason` field for this event type. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant is informed by the payment network that the transaction has entered the chargeback process due to fraud. Reason code examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has entered the chargeback process due to fraud, and that the merchant has chosen to enter representment. Reason examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has had a fraud chargeback which was illegitimate and was reversed as a result. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant has received a refund for a completed transaction. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the merchant has received a refund request for this transaction, but that they have declined it. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant, and that this refund was reversed. For partial refunds, we recommend that you include an amount in the `value` field."
          ],
          "description": "Optional. The type of this transaction event.",
          "enum": [
            "TRANSACTION_EVENT_TYPE_UNSPECIFIED",
            "MERCHANT_APPROVE",
            "MERCHANT_DENY",
            "MANUAL_REVIEW",
            "AUTHORIZATION",
            "AUTHORIZATION_DECLINE",
            "PAYMENT_CAPTURE",
            "PAYMENT_CAPTURE_DECLINE",
            "CANCEL",
            "CHARGEBACK_INQUIRY",
            "CHARGEBACK_ALERT",
            "FRAUD_NOTIFICATION",
            "CHARGEBACK",
            "CHARGEBACK_REPRESENTMENT",
            "CHARGEBACK_REVERSE",
            "REFUND_REQUEST",
            "REFUND_DECLINE",
            "REFUND",
            "REFUND_REVERSE"
          ]
        },
        "reason": {
          "description": "Optional. The reason or standardized code that corresponds with this transaction event, if one exists. For example, a CHARGEBACK event with code 6005.",
          "type": "string"
        }
      },
      "description": "Describes an event in the lifecycle of a payment transaction.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionEvent"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress": {
      "description": "Structured address format for billing and shipping addresses.",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
      "properties": {
        "postalCode": {
          "type": "string",
          "description": "The postal or ZIP code of the address."
        },
        "recipient": {
          "type": "string",
          "description": "The recipient name, potentially including information such as \"care of\"."
        },
        "address": {
          "description": "The first lines of the address. The first line generally contains the street name and number, and further lines may include information such as an apartment number.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "administrativeArea": {
          "type": "string",
          "description": "The state, province, or otherwise administrative area of the address."
        },
        "locality": {
          "type": "string",
          "description": "The town/city of the address."
        },
        "regionCode": {
          "description": "The CLDR country/region of the address.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TokenProperties": {
      "id": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
      "description": "Properties of the provided event token.",
      "type": "object",
      "properties": {
        "androidPackageName": {
          "description": "The name of the Android package with which the token was generated (Android keys only).",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "The hostname of the page on which the token was generated (Web keys only)."
        },
        "invalidReason": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "If the failure reason was not accounted for.",
            "The provided user verification token was malformed.",
            "The user verification token had expired.",
            "The user verification had already been seen.",
            "The user verification token was not present.",
            "A retriable error (such as network failure) occurred on the browser. Could easily be simulated by an attacker."
          ],
          "description": "Reason associated with the response when valid = false.",
          "enum": [
            "INVALID_REASON_UNSPECIFIED",
            "UNKNOWN_INVALID_REASON",
            "MALFORMED",
            "EXPIRED",
            "DUPE",
            "MISSING",
            "BROWSER_ERROR"
          ]
        },
        "valid": {
          "type": "boolean",
          "description": "Whether the provided user response token is valid. When valid = false, the reason could be specified in invalid_reason or it could also be due to a user failing to solve a challenge or a sitekey mismatch (i.e the sitekey used to generate the token was different than the one specified in the assessment)."
        },
        "action": {
          "type": "string",
          "description": "Action name provided at token generation."
        },
        "createTime": {
          "type": "string",
          "description": "The timestamp corresponding to the generation of the token.",
          "format": "google-datetime"
        },
        "iosBundleId": {
          "description": "The ID of the iOS bundle with which the token was generated (iOS keys only).",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "type": "object",
      "description": "The request message to annotate an Assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest",
      "properties": {
        "transactionEvent": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
          "description": "Optional. If the assessment is part of a payment transaction, provide details on payment lifecycle events that occur in the transaction."
        },
        "annotation": {
          "description": "Optional. The annotation that will be assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.",
          "enumDescriptions": [
            "Default unspecified type.",
            "Provides information that the event turned out to be legitimate.",
            "Provides information that the event turned out to be fraudulent.",
            "Provides information that the event was related to a login event in which the user typed the correct password. Deprecated, prefer indicating CORRECT_PASSWORD through the reasons field instead.",
            "Provides information that the event was related to a login event in which the user typed the incorrect password. Deprecated, prefer indicating INCORRECT_PASSWORD through the reasons field instead."
          ],
          "type": "string",
          "enum": [
            "ANNOTATION_UNSPECIFIED",
            "LEGITIMATE",
            "FRAUDULENT",
            "PASSWORD_CORRECT",
            "PASSWORD_INCORRECT"
          ]
        },
        "hashedAccountId": {
          "format": "byte",
          "description": "Optional. Unique stable hashed user identifier to apply to the assessment. This is an alternative to setting the hashed_account_id in CreateAssessment, for example when the account identifier is not yet known in the initial request. It is recommended that the identifier is hashed using hmac-sha256 with stable secret.",
          "type": "string"
        },
        "reasons": {
          "type": "array",
          "description": "Optional. Optional reasons for the annotation that will be assigned to the Event.",
          "items": {
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "REFUND",
              "REFUND_FRAUD",
              "TRANSACTION_ACCEPTED",
              "TRANSACTION_DECLINED",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD",
              "SOCIAL_SPAM"
            ],
            "enumDescriptions": [
              "Default unspecified reason.",
              "Indicates that the transaction had a chargeback issued with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates that the transaction had a chargeback issued related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates that the transaction had a chargeback issued related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates that the completed payment transaction was refunded by the seller.",
              "Indicates that the completed payment transaction was determined to be fraudulent by the seller, and was cancelled and refunded as a result.",
              "Indicates that the payment transaction was accepted, and the user was charged.",
              "Indicates that the payment transaction was declined, for example due to invalid card details.",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password.",
              "Indicates that the user sent unwanted and abusive messages to other users of the platform, such as spam, scams, phishing, or social engineering."
            ],
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest": {
      "description": "The request message to search related account group memberships.",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest",
      "properties": {
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
          "type": "integer"
        },
        "hashedAccountId": {
          "format": "byte",
          "type": "string",
          "description": "Optional. The unique stable hashed user identifier used to search connections. The identifier should correspond to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `SearchRelatedAccountGroupMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchRelatedAccountGroupMemberships` must match the call that provided the page token."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettings": {
      "properties": {
        "allowAmpTraffic": {
          "description": "If set to true, the key can be used on AMP (Accelerated Mobile Pages) websites. This is supported only for the SCORE integration type.",
          "type": "boolean"
        },
        "challengeSecurityPreference": {
          "type": "string",
          "description": "Settings for the frequency and difficulty at which this key triggers captcha challenges. This should only be specified for IntegrationTypes CHECKBOX and INVISIBLE.",
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ]
        },
        "allowAllDomains": {
          "description": "If set to true, it means allowed_domains will not be enforced.",
          "type": "boolean"
        },
        "allowedDomains": {
          "description": "Domains or subdomains of websites allowed to use the key. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com'",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "integrationType": {
          "description": "Required. Describes how this key is integrated with the website.",
          "enum": [
            "INTEGRATION_TYPE_UNSPECIFIED",
            "SCORE",
            "CHECKBOX",
            "INVISIBLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified. This is not a valid IntegrationType, one of the other types must be specified instead.",
            "Only used to produce scores. It doesn't display the \"I'm not a robot\" checkbox and never shows captcha challenges.",
            "Displays the \"I'm not a robot\" checkbox and may show captcha challenges after it is checked.",
            "Doesn't display the \"I'm not a robot\" checkbox, but may show captcha challenges after risk analysis."
          ]
        }
      },
      "description": "Settings specific to keys that can be used by websites.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "relatedAccountGroups": {
          "description": "The groups of related accounts listed by the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup"
          }
        }
      },
      "description": "The response to a `ListRelatedAccountGroups` call.",
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1RiskAnalysis": {
      "id": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
      "type": "object",
      "properties": {
        "reasons": {
          "type": "array",
          "items": {
            "enum": [
              "CLASSIFICATION_REASON_UNSPECIFIED",
              "AUTOMATION",
              "UNEXPECTED_ENVIRONMENT",
              "TOO_MUCH_TRAFFIC",
              "UNEXPECTED_USAGE_PATTERNS",
              "LOW_CONFIDENCE_SCORE",
              "SUSPECTED_CARDING",
              "SUSPECTED_CHARGEBACK"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default unspecified type.",
              "Interactions matched the behavior of an automated agent.",
              "The event originated from an illegitimate environment.",
              "Traffic volume from the event source is higher than normal.",
              "Interactions with the site were significantly different than expected patterns.",
              "Too little traffic has been received from this site thus far to generate quality risk analysis.",
              "The request matches behavioral characteristics of a carding attack.",
              "The request matches behavioral characteristics of chargebacks for fraud."
            ]
          },
          "description": "Reasons contributing to the risk analysis verdict."
        },
        "extendedVerdictReasons": {
          "items": {
            "type": "string"
          },
          "description": "Extended verdict reasons to be used for experimentation only. The set of possible reasons is subject to change.",
          "type": "array"
        },
        "score": {
          "format": "float",
          "description": "Legitimate event score from 0.0 to 1.0. (1.0 means very likely legitimate traffic while 0.0 means very likely non-legitimate traffic).",
          "type": "number"
        }
      },
      "description": "Risk analysis result for an event."
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "properties": {
        "wafService": {
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor",
            "Fastly"
          ],
          "type": "string",
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA",
            "FASTLY"
          ],
          "description": "Required. The WAF service that uses this key."
        },
        "wafFeature": {
          "type": "string",
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN",
            "EXPRESS"
          ],
          "description": "Required. The WAF feature for which this key is enabled.",
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions.",
            "Use reCAPTCHA WAF express protection to protect any content other than web pages, like APIs and IoT devices."
          ]
        }
      },
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall).",
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership": {
      "properties": {
        "hashedAccountId": {
          "type": "string",
          "description": "The unique stable hashed user identifier of the member. The identifier corresponds to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call.",
          "format": "byte"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name for this membership in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}/memberships/{membership}`."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership",
      "description": "A membership in a group of related accounts."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
      "properties": {},
      "type": "object",
      "description": "A redirect action returns a 307 (temporary redirect) response, pointing the user to a ReCaptcha interstitial page to attach a token."
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataItem": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem",
      "properties": {
        "value": {
          "type": "number",
          "description": "The value per item that the user is paying, in the transaction currency, after discounts.",
          "format": "double"
        },
        "merchantAccountId": {
          "description": "When a merchant is specified, its corresponding account_id. Necessary to populate marketplace-style transactions.",
          "type": "string"
        },
        "name": {
          "description": "The full name of the item.",
          "type": "string"
        },
        "quantity": {
          "format": "int64",
          "type": "string",
          "description": "The quantity of this item that is being purchased."
        }
      },
      "description": "Line items being purchased in this transaction.",
      "type": "object"
    }
  },
  "canonicalName": "Recaptcha Enterprise",
  "description": "Help protect your website from fraudulent activity, spam, and abuse without creating friction.",
  "kind": "discovery#restDescription",
  "title": "reCAPTCHA Enterprise API",
  "ownerName": "Google",
  "version": "v1",
  "name": "recaptchaenterprise",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "revision": "20230528",
  "id": "recaptchaenterprise:v1",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://recaptchaenterprise.mtls.googleapis.com/",
  "rootUrl": "https://recaptchaenterprise.googleapis.com/",
  "baseUrl": "https://recaptchaenterprise.googleapis.com/",
  "documentationLink": "https://cloud.google.com/recaptcha-enterprise/",
  "version_module": true,
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "relatedaccountgroupmemberships": {
          "methods": {
            "search": {
              "parameterOrder": [
                "project"
              ],
              "path": "v1/{+project}/relatedaccountgroupmemberships:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest"
              },
              "id": "recaptchaenterprise.projects.relatedaccountgroupmemberships.search",
              "parameters": {
                "project": {
                  "description": "Required. The name of the project to search related account group memberships from. Specify the project name in the following format: \"projects/{project}\".",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "description": "Search group memberships related to a given account.",
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroupmemberships:search",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse"
              }
            }
          }
        },
        "firewallpolicies": {
          "methods": {
            "delete": {
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "id": "recaptchaenterprise.projects.firewallpolicies.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the policy to be deleted, in the format \"projects/{project}/firewallpolicies/{firewallpolicy}\".",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes the specified firewall policy.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "path": "v1/{+name}"
            },
            "list": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the project to list the policies for, in the format \"projects/{project}\".",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of policies to return. Default is 10. Max limit is 1000.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. The next_page_token value returned from a previous. ListFirewallPoliciesRequest, if any.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse"
              },
              "id": "recaptchaenterprise.projects.firewallpolicies.list",
              "httpMethod": "GET",
              "description": "Returns the list of all firewall policies that belong to a project.",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/firewallpolicies"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the requested policy, in the format \"projects/{project}/firewallpolicies/{firewallpolicy}\"."
                }
              },
              "path": "v1/{+name}",
              "id": "recaptchaenterprise.projects.firewallpolicies.get",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "description": "Returns the specified firewall policy."
            },
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the project this policy will apply to, in the format \"projects/{project}\"."
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "id": "recaptchaenterprise.projects.firewallpolicies.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new FirewallPolicy, specifying conditions at which reCAPTCHA Enterprise actions can be executed. A project may have a maximum of 1000 policies.",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "path": "v1/{+parent}/firewallpolicies"
            },
            "patch": {
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.firewallpolicies.patch",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "description": "The resource name for the FirewallPolicy in the format \"projects/{project}/firewallpolicies/{firewallpolicy}\".",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "Optional. The mask to control which fields of the policy get updated. If the mask is not present, all fields will be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "description": "Updates the specified firewall policy.",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              }
            }
          }
        },
        "assessments": {
          "methods": {
            "annotate": {
              "path": "v1/{+name}:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.assessments.annotate",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse"
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest"
              },
              "flatPath": "v1/projects/{projectsId}/assessments/{assessmentsId}:annotate",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the Assessment, in the format \"projects/{project}/assessments/{assessment}\".",
                  "pattern": "^projects/[^/]+/assessments/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Annotates a previously created Assessment to provide additional information on whether the event turned out to be authentic or fraudulent."
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/assessments",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project in which the assessment will be created, in the format \"projects/{project}\".",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "description": "Creates an Assessment of the likelihood an event is legitimate.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "flatPath": "v1/projects/{projectsId}/assessments",
              "parameterOrder": [
                "parent"
              ],
              "id": "recaptchaenterprise.projects.assessments.create"
            }
          }
        },
        "keys": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "id": "recaptchaenterprise.projects.keys.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "description": "The resource name for the Key in the format \"projects/{project}/keys/{key}\"."
                },
                "updateMask": {
                  "location": "query",
                  "description": "Optional. The mask to control which fields of the key get updated. If the mask is not present, all fields will be updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "description": "Updates the specified key.",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "path": "v1/{+name}"
            },
            "getMetrics": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/metrics",
              "id": "recaptchaenterprise.projects.keys.getMetrics",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Metrics"
              },
              "description": "Get some aggregated metrics for a Key. This data can be used to build dashboards.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+/metrics$",
                  "type": "string",
                  "description": "Required. The name of the requested metrics, in the format \"projects/{project}/keys/{key}/metrics\".",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "retrieveLegacySecretKey": {
              "path": "v1/{+key}:retrieveLegacySecretKey",
              "parameters": {
                "key": {
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "description": "Required. The public key name linked to the requested secret key in the format \"projects/{project}/keys/{key}\".",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "recaptchaenterprise.projects.keys.retrieveLegacySecretKey",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse"
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:retrieveLegacySecretKey",
              "httpMethod": "GET",
              "parameterOrder": [
                "key"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns the secret key related to the specified public key. You must use the legacy secret key only in a 3rd party integration with legacy reCAPTCHA."
            },
            "create": {
              "id": "recaptchaenterprise.projects.keys.create",
              "flatPath": "v1/projects/{projectsId}/keys",
              "path": "v1/{+parent}/keys",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new reCAPTCHA Enterprise key.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project in which the key will be created, in the format \"projects/{project}\".",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              }
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "id": "recaptchaenterprise.projects.keys.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the requested key, in the format \"projects/{project}/keys/{key}\"."
                }
              },
              "description": "Returns the specified key.",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "recaptchaenterprise.projects.keys.list",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/keys",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse"
              },
              "description": "Returns the list of all keys that belong to a project.",
              "path": "v1/{+parent}/keys",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The next_page_token value returned from a previous. ListKeysRequest, if any."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project that contains the keys that will be listed, in the format \"projects/{project}\".",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of keys to return. Default is 10. Max limit is 1000.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "migrate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest"
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "id": "recaptchaenterprise.projects.keys.migrate",
              "description": "Migrates an existing key from reCAPTCHA to reCAPTCHA Enterprise. Once a key is migrated, it can be used from either product. SiteVerify requests are billed as CreateAssessment calls. You must be authenticated as one of the current owners of the reCAPTCHA Key, and your user must have the reCAPTCHA Enterprise Admin IAM role in the destination project.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:migrate",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the key to be migrated, in the format \"projects/{project}/keys/{key}\".",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+name}:migrate"
            },
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes the specified key.",
              "path": "v1/{+name}",
              "id": "recaptchaenterprise.projects.keys.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the key to be deleted, in the format \"projects/{project}/keys/{key}\".",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "relatedaccountgroups": {
          "resources": {
            "memberships": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of accounts to return. The service might return fewer than this value. If unspecified, at most 50 accounts are returned. The maximum value is 1000; values above 1000 are coerced to 1000."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListRelatedAccountGroupMemberships` call. When paginating, all other parameters provided to `ListRelatedAccountGroupMemberships` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/relatedaccountgroups/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/relatedaccountgroups/{relatedaccountgroupsId}/memberships",
                  "path": "v1/{+parent}/memberships",
                  "id": "recaptchaenterprise.projects.relatedaccountgroups.memberships.list",
                  "description": "Get memberships in a group of related accounts.",
                  "response": {
                    "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "description": "List groups of related accounts.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroups",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/relatedaccountgroups",
              "id": "recaptchaenterprise.projects.relatedaccountgroups.list",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListRelatedAccountGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRelatedAccountGroups` must match the call that provided the page token."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project to list related account groups from, in the format \"projects/{project}\".",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}
