{
  "servicePath": "",
  "batchPath": "batch",
  "name": "recaptchaenterprise",
  "protocol": "rest",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "description": "Help protect your website from fraudulent activity, spam, and abuse without creating friction.",
  "fullyEncodeReservedExpansion": true,
  "revision": "20230702",
  "documentationLink": "https://cloud.google.com/recaptcha-enterprise/",
  "rootUrl": "https://recaptchaenterprise.googleapis.com/",
  "version": "v1",
  "title": "reCAPTCHA Enterprise API",
  "id": "recaptchaenterprise:v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "version_module": true,
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict": {
      "properties": {
        "risk": {
          "format": "float",
          "type": "number",
          "description": "Probability (0-1) of this transaction attempt being part of a card testing attack."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
      "type": "object",
      "description": "Information about card testing fraud, where an adversary is testing fraudulently obtained cards or brute forcing their details."
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreMetrics": {
      "description": "Metrics related to scoring.",
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics",
      "type": "object",
      "properties": {
        "actionMetrics": {
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
          },
          "description": "Action-based metrics. The map key is the action name which specified by the site owners at time of the \"execute\" client-side call.",
          "type": "object"
        },
        "overallMetrics": {
          "description": "Aggregated score metrics for all traffic.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataItem": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem",
      "properties": {
        "quantity": {
          "description": "The quantity of this item that is being purchased.",
          "type": "string",
          "format": "int64"
        },
        "merchantAccountId": {
          "type": "string",
          "description": "When a merchant is specified, its corresponding account_id. Necessary to populate marketplace-style transactions."
        },
        "value": {
          "type": "number",
          "description": "The value per item that the user is paying, in the transaction currency, after discounts.",
          "format": "double"
        },
        "name": {
          "type": "string",
          "description": "The full name of the item."
        }
      },
      "type": "object",
      "description": "Line items being purchased in this transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1RiskAnalysis": {
      "properties": {
        "extendedVerdictReasons": {
          "type": "array",
          "description": "Extended verdict reasons to be used for experimentation only. The set of possible reasons is subject to change.",
          "items": {
            "type": "string"
          }
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "Legitimate event score from 0.0 to 1.0. (1.0 means very likely legitimate traffic while 0.0 means very likely non-legitimate traffic)."
        },
        "reasons": {
          "description": "Reasons contributing to the risk analysis verdict.",
          "items": {
            "enum": [
              "CLASSIFICATION_REASON_UNSPECIFIED",
              "AUTOMATION",
              "UNEXPECTED_ENVIRONMENT",
              "TOO_MUCH_TRAFFIC",
              "UNEXPECTED_USAGE_PATTERNS",
              "LOW_CONFIDENCE_SCORE",
              "SUSPECTED_CARDING",
              "SUSPECTED_CHARGEBACK"
            ],
            "enumDescriptions": [
              "Default unspecified type.",
              "Interactions matched the behavior of an automated agent.",
              "The event originated from an illegitimate environment.",
              "Traffic volume from the event source is higher than normal.",
              "Interactions with the site were significantly different than expected patterns.",
              "Too little traffic has been received from this site thus far to generate quality risk analysis.",
              "The request matches behavioral characteristics of a carding attack.",
              "The request matches behavioral characteristics of chargebacks for fraud."
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Risk analysis result for an event.",
      "id": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo",
      "description": "Information about account verification, used for identity verification.",
      "properties": {
        "endpoints": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo"
          },
          "type": "array",
          "description": "Endpoints that can be used for identity verification."
        },
        "latestVerificationResult": {
          "enumDescriptions": [
            "No information about the latest account verification.",
            "The user was successfully verified. This means the account verification challenge was successfully completed.",
            "The user failed the verification challenge.",
            "The site is not properly onboarded to use the account verification feature.",
            "The recipient is not allowed for account verification. This can occur during integration but should not occur in production.",
            "The recipient has already been sent too many verification codes in a short amount of time.",
            "The verification flow could not be completed due to a critical internal error.",
            "The client has exceeded their two factor request quota for this period of time.",
            "The request cannot be processed at the time because of an incident. This bypass can be restricted to a problematic destination email domain, a customer, or could affect the entire service.",
            "The request parameters do not match with the token provided and cannot be processed."
          ],
          "description": "Output only. Result of the latest account verification challenge.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCESS_USER_VERIFIED",
            "ERROR_USER_NOT_VERIFIED",
            "ERROR_SITE_ONBOARDING_INCOMPLETE",
            "ERROR_RECIPIENT_NOT_ALLOWED",
            "ERROR_RECIPIENT_ABUSE_LIMIT_EXHAUSTED",
            "ERROR_CRITICAL_INTERNAL",
            "ERROR_CUSTOMER_QUOTA_EXHAUSTED",
            "ERROR_VERIFICATION_BYPASSED",
            "ERROR_VERDICT_MISMATCH"
          ]
        },
        "languageCode": {
          "description": "Language code preference for the verification message, set as a IETF BCP 47 language code.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "deprecated": true,
          "description": "Username of the account that is being verified. Deprecated. Customers should now provide the hashed account ID field in Event."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataUser": {
      "properties": {
        "creationMs": {
          "type": "string",
          "description": "The epoch milliseconds of the user's account creation.",
          "format": "int64"
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "accountId": {
          "type": "string",
          "description": "Unique account identifier for this user. If using account defender, this should match the hashed_account_id field. Otherwise, a unique and persistent identifier for this account."
        },
        "phoneVerified": {
          "description": "Whether the phone number has been verified to be accessible by the user (OTP or similar).",
          "type": "boolean"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the email has been verified to be accessible by the user (OTP or similar)."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the user, with country code."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
      "description": "Details about a user's account involved in the transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup",
      "properties": {
        "name": {
          "description": "Required. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{related_account_group}`.",
          "type": "string"
        }
      },
      "description": "A group of related accounts."
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "description": "Options for user acceptance testing.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
      "properties": {
        "testingScore": {
          "type": "number",
          "format": "float",
          "description": "All assessments for this Key will return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive."
        },
        "testingChallenge": {
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ],
          "type": "string",
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ],
          "description": "For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site will return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings",
      "type": "object",
      "properties": {
        "wafService": {
          "type": "string",
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA",
            "FASTLY"
          ],
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor",
            "Fastly"
          ],
          "description": "Required. The WAF service that uses this key."
        },
        "wafFeature": {
          "description": "Required. The WAF feature for which this key is enabled.",
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions.",
            "Use reCAPTCHA WAF express protection to protect any content other than web pages, like APIs and IoT devices."
          ],
          "type": "string",
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN",
            "EXPRESS"
          ]
        }
      },
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall)."
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse": {
      "description": "The response to a `ListRelatedAccountGroups` call.",
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse",
      "properties": {
        "relatedAccountGroups": {
          "type": "array",
          "description": "The groups of related accounts listed by the query.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Key": {
      "properties": {
        "webSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
          "description": "Settings for keys that can be used by websites."
        },
        "name": {
          "type": "string",
          "description": "The resource name for the Key in the format \"projects/{project}/keys/{key}\"."
        },
        "androidSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
          "description": "Settings for keys that can be used by Android apps."
        },
        "wafSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WafSettings",
          "description": "Settings for WAF"
        },
        "labels": {
          "description": "See Creating and managing labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Human-readable display name of this key. Modifiable by user.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp corresponding to the creation of this key."
        },
        "testingOptions": {
          "description": "Options for user acceptance testing.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TestingOptions"
        },
        "iosSettings": {
          "description": "Settings for keys that can be used by iOS apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Key",
      "type": "object",
      "description": "A key used to identify and configure applications (web and/or mobile) that use reCAPTCHA Enterprise."
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse",
      "properties": {},
      "description": "Empty response for AnnotateAssessment."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict": {
      "type": "object",
      "description": "Information about behavioral trust of the transaction.",
      "properties": {
        "trust": {
          "format": "float",
          "type": "number",
          "description": "Probability (0-1) of this transaction attempt being executed in a behaviorally trustworthy way."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionEvent": {
      "description": "Describes an event in the lifecycle of a payment transaction.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Optional. The reason or standardized code that corresponds with this transaction event, if one exists. For example, a CHARGEBACK event with code 6005.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "description": "Optional. Timestamp when this transaction event occurred; otherwise assumed to be the time of the API call.",
          "format": "google-datetime"
        },
        "eventType": {
          "enum": [
            "TRANSACTION_EVENT_TYPE_UNSPECIFIED",
            "MERCHANT_APPROVE",
            "MERCHANT_DENY",
            "MANUAL_REVIEW",
            "AUTHORIZATION",
            "AUTHORIZATION_DECLINE",
            "PAYMENT_CAPTURE",
            "PAYMENT_CAPTURE_DECLINE",
            "CANCEL",
            "CHARGEBACK_INQUIRY",
            "CHARGEBACK_ALERT",
            "FRAUD_NOTIFICATION",
            "CHARGEBACK",
            "CHARGEBACK_REPRESENTMENT",
            "CHARGEBACK_REVERSE",
            "REFUND_REQUEST",
            "REFUND_DECLINE",
            "REFUND",
            "REFUND_REVERSE"
          ],
          "description": "Optional. The type of this transaction event.",
          "enumDescriptions": [
            "Default, unspecified event type.",
            "Indicates that the transaction is approved by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is denied and concluded due to risks detected by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is being evaluated by a human, due to suspicion or risk.",
            "Indicates that the authorization attempt with the card issuer succeeded.",
            "Indicates that the authorization attempt with the card issuer failed. The accompanying reasons can include Visa's '54' indicating that the card is expired, or '82' indicating that the CVV is incorrect.",
            "Indicates that the transaction is completed because the funds were settled.",
            "Indicates that the transaction could not be completed because the funds were not settled.",
            "Indicates that the transaction has been canceled. Specify the reason for the cancellation. For example, 'INSUFFICIENT_INVENTORY'.",
            "Indicates that the merchant has received a chargeback inquiry due to fraud for the transaction, requesting additional information before a fraud chargeback is officially issued and a formal chargeback notification is sent.",
            "Indicates that the merchant has received a chargeback alert due to fraud for the transaction. The process of resolving the dispute without involving the payment network is started.",
            "Indicates that a fraud notification is issued for the transaction, sent by the payment instrument's issuing bank because the transaction appears to be fraudulent. We recommend including TC40 or SAFE data in the `reason` field for this event type. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant is informed by the payment network that the transaction has entered the chargeback process due to fraud. Reason code examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has entered the chargeback process due to fraud, and that the merchant has chosen to enter representment. Reason examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has had a fraud chargeback which was illegitimate and was reversed as a result. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant has received a refund for a completed transaction. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the merchant has received a refund request for this transaction, but that they have declined it. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant, and that this refund was reversed. For partial refunds, we recommend that you include an amount in the `value` field."
          ],
          "type": "string"
        },
        "value": {
          "format": "double",
          "description": "Optional. The value that corresponds with this transaction event, if one exists. For example, a refund event where $5.00 was refunded. Currency is obtained from the original transaction data.",
          "type": "number"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionEvent"
    },
    "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse": {
      "properties": {
        "legacySecretKey": {
          "type": "string",
          "description": "The secret key (also known as shared secret) authorizes communication between your application backend and the reCAPTCHA Enterprise server to create an assessment. The secret key needs to be kept safe for security purposes."
        }
      },
      "description": "Secret key is used only in legacy reCAPTCHA. It must be used in a 3rd party integration with legacy reCAPTCHA.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics": {
      "description": "Metrics related to challenges.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics",
      "properties": {
        "passedCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of nocaptchas (successful verification without a challenge) plus submitted challenge solutions that were correct and resulted in verification."
        },
        "pageloadCount": {
          "description": "Count of reCAPTCHA checkboxes or badges rendered. This is mostly equivalent to a count of pageloads for pages that include reCAPTCHA.",
          "type": "string",
          "format": "int64"
        },
        "nocaptchaCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of nocaptchas (successful verification without a challenge) issued."
        },
        "failedCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of submitted challenge solutions that were incorrect or otherwise deemed suspicious such that a subsequent challenge was triggered."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
      "description": "Account defender risk assessment.",
      "properties": {
        "labels": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified type.",
              "The request matches a known good profile for the user.",
              "The request is potentially a suspicious login event and must be further verified either through multi-factor authentication or another system.",
              "The request matched a profile that previously had suspicious account creation behavior. This can mean that this is a fake account.",
              "The account in the request has a high number of related accounts. It does not necessarily imply that the account is bad but can require further investigation."
            ],
            "enum": [
              "ACCOUNT_DEFENDER_LABEL_UNSPECIFIED",
              "PROFILE_MATCH",
              "SUSPICIOUS_LOGIN_ACTIVITY",
              "SUSPICIOUS_ACCOUNT_CREATION",
              "RELATED_ACCOUNTS_NUMBER_HIGH"
            ]
          },
          "description": "Labels for this request.",
          "type": "array"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
      "description": "Structured address format for billing and shipping addresses.",
      "type": "object",
      "properties": {
        "postalCode": {
          "description": "The postal or ZIP code of the address.",
          "type": "string"
        },
        "locality": {
          "type": "string",
          "description": "The town/city of the address."
        },
        "administrativeArea": {
          "type": "string",
          "description": "The state, province, or otherwise administrative area of the address."
        },
        "address": {
          "items": {
            "type": "string"
          },
          "description": "The first lines of the address. The first line generally contains the street name and number, and further lines may include information such as an apartment number.",
          "type": "array"
        },
        "recipient": {
          "type": "string",
          "description": "The recipient name, potentially including information such as \"care of\"."
        },
        "regionCode": {
          "description": "The CLDR country/region of the address.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "The address to redirect to. The target is a relative path in the current host. Example: \"/blog/404.html\"."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
      "description": "A substitute action transparently serves a different page than the one requested."
    },
    "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest",
      "properties": {
        "skipBillingCheck": {
          "description": "Optional. If true, skips the billing check. A reCAPTCHA Enterprise key or migrated key behaves differently than a reCAPTCHA (non-Enterprise version) key when you reach a quota limit (see https://cloud.google.com/recaptcha-enterprise/quotas#quota_limit). To avoid any disruption of your usage, we check that a billing account is present. If your usage of reCAPTCHA is under the free quota, you can safely skip the billing check and proceed with the migration. See https://cloud.google.com/recaptcha-enterprise/docs/billing-information.",
          "type": "boolean"
        }
      },
      "description": "The migrate key request message."
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership": {
      "description": "A membership in a group of related accounts.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name for this membership in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}/memberships/{membership}`."
        },
        "hashedAccountId": {
          "description": "The unique stable hashed user identifier of the member. The identifier corresponds to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest": {
      "properties": {
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchRelatedAccountGroupMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchRelatedAccountGroupMemberships` must match the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "hashedAccountId": {
          "type": "string",
          "format": "byte",
          "description": "Optional. The unique stable hashed user identifier used to search connections. The identifier should correspond to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest",
      "description": "The request message to search related account group memberships."
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo": {
      "type": "object",
      "description": "Details about the transaction from the gateway.",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo",
      "properties": {
        "avsResponseCode": {
          "description": "AVS response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization).",
          "type": "string"
        },
        "gatewayResponseCode": {
          "description": "Gateway response code describing the state of the transaction.",
          "type": "string"
        },
        "cvvResponseCode": {
          "type": "string",
          "description": "CVV response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization)."
        },
        "name": {
          "description": "Name of the gateway service (for example, stripe, square, paypal).",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1Event": {
      "type": "object",
      "properties": {
        "wafTokenAssessment": {
          "description": "Optional. Flag for running WAF token assessment. If enabled, the token must be specified, and have been created by a WAF-enabled key.",
          "type": "boolean"
        },
        "token": {
          "description": "Optional. The user response token provided by the reCAPTCHA Enterprise client-side integration on your site.",
          "type": "string"
        },
        "firewallPolicyEvaluation": {
          "description": "Optional. Flag for enabling firewall policy config assessment. If this flag is enabled, the firewall policy will be evaluated and a suggested firewall action will be returned in the response.",
          "type": "boolean"
        },
        "expectedAction": {
          "description": "Optional. The expected action for this type of event. This should be the same action provided at token generation time on client-side platforms already integrated with recaptcha enterprise.",
          "type": "string"
        },
        "transactionData": {
          "description": "Optional. Data describing a payment transaction to be assessed. Sending this data enables reCAPTCHA Enterprise Fraud Prevention and the FraudPreventionAssessment component in the response.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionData"
        },
        "headers": {
          "description": "Optional. HTTP header information about the request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ja3": {
          "type": "string",
          "description": "Optional. Optional JA3 fingerprint for SSL clients."
        },
        "userAgent": {
          "description": "Optional. The user agent present in the request from the user's device related to this event.",
          "type": "string"
        },
        "requestedUri": {
          "type": "string",
          "description": "Optional. The URI resource the user requested that triggered an assessment."
        },
        "express": {
          "type": "boolean",
          "description": "Optional. Flag for a reCAPTCHA express request for an assessment without a token. If enabled, `site_key` must reference a SCORE key with WAF feature set to EXPRESS."
        },
        "userIpAddress": {
          "description": "Optional. The IP address in the request from the user's device related to this event.",
          "type": "string"
        },
        "siteKey": {
          "description": "Optional. The site key that was used to invoke reCAPTCHA Enterprise on your site and generate the token.",
          "type": "string"
        },
        "hashedAccountId": {
          "format": "byte",
          "description": "Optional. Unique stable hashed user identifier for the request. The identifier must be hashed using hmac-sha256 with stable secret.",
          "type": "string"
        }
      },
      "description": "The event being assessed.",
      "id": "GoogleCloudRecaptchaenterpriseV1Event"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
      "properties": {
        "risk": {
          "description": "Probability (0-1) of this transaction being executed with a stolen instrument.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Information about stolen instrument fraud, where the user is not the legitimate owner of the instrument being used for the purchase."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction": {
      "properties": {},
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction",
      "type": "object",
      "description": "An allow action continues processing a request unimpeded."
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "description": "The response to a `ListRelatedAccountGroupMemberships` call.",
      "properties": {
        "relatedAccountGroupMemberships": {
          "description": "The memberships listed by the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionData": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionData",
      "type": "object",
      "description": "Transaction data associated with a payment protected by reCAPTCHA Enterprise. All fields are optional.",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem"
          },
          "description": "Items purchased in this transaction.",
          "type": "array"
        },
        "gatewayInfo": {
          "description": "Information about the payment gateway's response to the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo"
        },
        "shippingValue": {
          "description": "The value of shipping in the specified currency. 0 for free or no shipping.",
          "type": "number",
          "format": "double"
        },
        "shippingAddress": {
          "description": "Destination address if this transaction involves shipping a physical item.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "paymentMethod": {
          "description": "The payment method for the transaction. The allowed values are: * credit-card * debit-card * gift-card * processor-{name} (If a third-party is used, for example, processor-paypal) * custom-{name} (If an alternative method is used, for example, custom-crypto)",
          "type": "string"
        },
        "billingAddress": {
          "description": "Address associated with the payment method when applicable.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "currencyCode": {
          "description": "The currency code in ISO-4217 format.",
          "type": "string"
        },
        "merchants": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
          },
          "description": "Information about the user or users fulfilling the transaction."
        },
        "cardBin": {
          "type": "string",
          "description": "The Bank Identification Number - generally the first 6 or 8 digits of the card."
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "The decimal value of the transaction in the specified currency."
        },
        "user": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser",
          "description": "Information about the user paying/initiating the transaction."
        },
        "transactionId": {
          "type": "string",
          "description": "Unique identifier for the transaction. This custom identifier can be used to reference this transaction in the future, for example, labeling a refund or chargeback event. Two attempts at the same transaction should use the same transaction id."
        },
        "cardLastFour": {
          "type": "string",
          "description": "The last four digits of the card."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1Metrics": {
      "id": "GoogleCloudRecaptchaenterpriseV1Metrics",
      "description": "Metrics for a single Key.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Inclusive start time aligned to a day (UTC).",
          "format": "google-datetime"
        },
        "scoreMetrics": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
          },
          "description": "Metrics will be continuous and in order by dates, and in the granularity of day. All Key types should have score-based data.",
          "type": "array"
        },
        "challengeMetrics": {
          "type": "array",
          "description": "Metrics will be continuous and in order by dates, and in the granularity of day. Only challenge-based keys (CHECKBOX, INVISIBLE), will have challenge-based data.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
          }
        },
        "name": {
          "description": "Output only. The name of the metrics, in the format \"projects/{project}/keys/{key}/metrics\".",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallAction": {
      "properties": {
        "block": {
          "description": "This action will deny access to a given page. The user will get an HTTP error code.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction"
        },
        "allow": {
          "description": "The user request did not match any policy and should be allowed access to the requested resource.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction"
        },
        "substitute": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
          "description": "This action will transparently serve a different page to an offending user."
        },
        "setHeader": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction",
          "description": "This action will set a custom header but allow the request to continue to the customer backend."
        },
        "redirect": {
          "description": "This action will redirect the request to a ReCaptcha interstitial to attach a token.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallAction",
      "description": "An individual action. Each action represents what to do if a policy matches."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment": {
      "properties": {
        "error": {
          "description": "If the processing of a policy config fails, an error will be populated and the firewall_policy will be left empty.",
          "$ref": "GoogleRpcStatus"
        },
        "firewallPolicy": {
          "description": "Output only. The policy that matched the request. If more than one policy may match, this is the first match. If no policy matches the incoming request, the policy field will be left empty.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
          "readOnly": true
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
      "type": "object",
      "description": "Policy config assessment."
    },
    "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId": {
      "description": "Contains fields that are required to perform Apple-specific integrity checks.",
      "properties": {
        "keyId": {
          "type": "string",
          "description": "Required. The Apple developer key ID (10-character string)."
        },
        "privateKey": {
          "description": "Required. Input only. A private key (downloaded as a text file with a .p8 file extension) generated for your Apple Developer account. Ensure that Apple DeviceCheck is enabled for the private key.",
          "type": "string"
        },
        "teamId": {
          "description": "Required. The Apple team ID (10-character string) owning the provisioning profile used to build your application.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification",
      "description": "Private password leak verification info.",
      "properties": {
        "encryptedUserCredentialsHash": {
          "type": "string",
          "description": "Optional. Encrypted Scrypt hash of the canonicalized username+password. It is re-encrypted by the server and returned through `reencrypted_user_credentials_hash`.",
          "format": "byte"
        },
        "encryptedLeakMatchPrefixes": {
          "description": "Output only. List of prefixes of the encrypted potential password leaks that matched the given parameters. They must be compared with the client-side decryption prefix of `reencrypted_user_credentials_hash`",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "reencryptedUserCredentialsHash": {
          "readOnly": true,
          "type": "string",
          "format": "byte",
          "description": "Output only. Corresponds to the re-encryption of the `encrypted_user_credentials_hash` field. It is used to match potential password leaks within `encrypted_leak_match_prefixes`."
        },
        "lookupHashPrefix": {
          "description": "Optional. Exactly 26-bit prefix of the SHA-256 hash of the canonicalized username. It is used to look up password leaks associated with that hash prefix.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1EndpointVerificationInfo",
      "description": "Information about a verification endpoint that can be used for 2FA.",
      "properties": {
        "requestToken": {
          "description": "Output only. Token to provide to the client to trigger endpoint verification. It must be used within 15 minutes.",
          "readOnly": true,
          "type": "string"
        },
        "lastVerificationTime": {
          "type": "string",
          "description": "Output only. Timestamp of the last successful verification for the endpoint, if any.",
          "format": "google-datetime",
          "readOnly": true
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number for which to trigger a verification request. Should be given in E.164 format."
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address for which to trigger a verification request."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TokenProperties": {
      "description": "Properties of the provided event token.",
      "id": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "The hostname of the page on which the token was generated (Web keys only).",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "Action name provided at token generation."
        },
        "iosBundleId": {
          "description": "The ID of the iOS bundle with which the token was generated (iOS keys only).",
          "type": "string"
        },
        "androidPackageName": {
          "description": "The name of the Android package with which the token was generated (Android keys only).",
          "type": "string"
        },
        "invalidReason": {
          "type": "string",
          "enum": [
            "INVALID_REASON_UNSPECIFIED",
            "UNKNOWN_INVALID_REASON",
            "MALFORMED",
            "EXPIRED",
            "DUPE",
            "MISSING",
            "BROWSER_ERROR"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "If the failure reason was not accounted for.",
            "The provided user verification token was malformed.",
            "The user verification token had expired.",
            "The user verification had already been seen.",
            "The user verification token was not present.",
            "A retriable error (such as network failure) occurred on the browser. Could easily be simulated by an attacker."
          ],
          "description": "Reason associated with the response when valid = false."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp corresponding to the generation of the token."
        },
        "valid": {
          "description": "Whether the provided user response token is valid. When valid = false, the reason could be specified in invalid_reason or it could also be due to a user failing to solve a challenge or a sitekey mismatch (i.e the sitekey used to generate the token was different than the one specified in the assessment).",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment": {
      "description": "Assessment for Fraud Prevention.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
      "properties": {
        "cardTestingVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
          "description": "Assessment of this transaction for risk of being part of a card testing attack."
        },
        "behavioralTrustVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
          "description": "Assessment of this transaction for behavioral trust."
        },
        "stolenInstrumentVerdict": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
          "description": "Assessment of this transaction for risk of a stolen instrument."
        },
        "transactionRisk": {
          "description": "Probability (0-1) of this transaction being fraudulent. Summarizes the combined risk of attack vectors below.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction",
      "description": "A block action serves an HTTP error code a prevents the request from hitting the backend.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettings": {
      "type": "object",
      "properties": {
        "allowAllDomains": {
          "description": "If set to true, it means allowed_domains will not be enforced.",
          "type": "boolean"
        },
        "allowedDomains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Domains or subdomains of websites allowed to use the key. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com'"
        },
        "challengeSecurityPreference": {
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "description": "Settings for the frequency and difficulty at which this key triggers captcha challenges. This should only be specified for IntegrationTypes CHECKBOX and INVISIBLE.",
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "type": "string"
        },
        "integrationType": {
          "description": "Required. Describes how this key is integrated with the website.",
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified. This is not a valid IntegrationType, one of the other types must be specified instead.",
            "Only used to produce scores. It doesn't display the \"I'm not a robot\" checkbox and never shows captcha challenges.",
            "Displays the \"I'm not a robot\" checkbox and may show captcha challenges after it is checked.",
            "Doesn't display the \"I'm not a robot\" checkbox, but may show captcha challenges after risk analysis."
          ],
          "type": "string",
          "enum": [
            "INTEGRATION_TYPE_UNSPECIFIED",
            "SCORE",
            "CHECKBOX",
            "INVISIBLE"
          ]
        },
        "allowAmpTraffic": {
          "description": "If set to true, the key can be used on AMP (Accelerated Mobile Pages) websites. This is supported only for the SCORE integration type.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
      "description": "Settings specific to keys that can be used by websites."
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results."
        },
        "keys": {
          "type": "array",
          "description": "Key details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          }
        }
      },
      "description": "Response to request to list keys in a project.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse",
      "properties": {
        "relatedAccountGroupMemberships": {
          "description": "The queried memberships.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call."
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreDistribution": {
      "description": "Score distribution.",
      "type": "object",
      "properties": {
        "scoreBuckets": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object",
          "description": "Map key is score value multiplied by 100. The scores are discrete values between [0, 1]. The maximum number of buckets is on order of a few dozen, but typically much lower (ie. 10)."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicy": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
      "properties": {
        "name": {
          "description": "The resource name for the FirewallPolicy in the format \"projects/{project}/firewallpolicies/{firewallpolicy}\".",
          "type": "string"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
          },
          "description": "The actions that the caller should take regarding user access. There should be at most one terminal action. A terminal action is any action that forces a response, such as AllowAction, BlockAction or SubstituteAction. Zero or more non-terminal actions such as SetHeader might be specified. A single policy can contain up to 16 actions."
        },
        "condition": {
          "description": "A CEL (Common Expression Language) conditional expression that specifies if this policy applies to an incoming user request. If this condition evaluates to true and the requested path matched the path pattern, the associated actions should be executed by the caller. The condition string is checked for CEL syntax correctness on creation. For more information, see the [CEL spec](https://github.com/google/cel-spec) and its [language definition](https://github.com/google/cel-spec/blob/master/doc/langdef.md). A condition has a max length of 500 characters.",
          "type": "string"
        },
        "description": {
          "description": "A description of what this policy aims to achieve, for convenience purposes. The description can at most include 256 UTF-8 characters.",
          "type": "string"
        },
        "path": {
          "description": "The path for which this policy applies, specified as a glob pattern. For more information on glob, see the [manual page](https://man7.org/linux/man-pages/man7/glob.7.html). A path has a max length of 200 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A FirewallPolicy represents a single matching pattern and resulting actions to take."
    },
    "GoogleCloudRecaptchaenterpriseV1IOSKeySettings": {
      "type": "object",
      "properties": {
        "allowedBundleIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "iOS bundle ids of apps allowed to use the key. Example: 'com.companyname.productname.appname'"
        },
        "appleDeveloperId": {
          "description": "Apple Developer account details for the app that is protected by the reCAPTCHA Key. reCAPTCHA Enterprise leverages platform-specific checks like Apple App Attest and Apple DeviceCheck to protect your app from abuse. Providing these fields allows reCAPTCHA Enterprise to get a better assessment of the integrity of your app.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId"
        },
        "allowAllBundleIds": {
          "description": "If set to true, allowed_bundle_ids are not enforced.",
          "type": "boolean"
        }
      },
      "description": "Settings specific to keys that can be used by iOS apps.",
      "id": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1Assessment": {
      "properties": {
        "event": {
          "description": "The event being assessed.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1Event"
        },
        "fraudPreventionAssessment": {
          "description": "Assessment returned by Fraud Prevention when TransactionData is provided.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment"
        },
        "riskAnalysis": {
          "readOnly": true,
          "description": "Output only. The risk analysis result for the event being assessed.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis"
        },
        "accountVerification": {
          "description": "Account verification information for identity verification. The assessment event must include a token and site key to use this feature.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for the Assessment in the format \"projects/{project}/assessments/{assessment}\"."
        },
        "tokenProperties": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
          "description": "Output only. Properties of the provided event token."
        },
        "accountDefenderAssessment": {
          "description": "Assessment returned by account defender when a hashed_account_id is provided.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment"
        },
        "firewallPolicyAssessment": {
          "description": "Assessment returned when firewall policies belonging to the project are evaluated using the field firewall_policy_evaluation.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment"
        },
        "privatePasswordLeakVerification": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification",
          "description": "The private password leak verification field contains the parameters that are used to to check for leaks privately without sharing user credentials."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Assessment",
      "description": "A reCAPTCHA Enterprise assessment resource."
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest",
      "properties": {
        "transactionEvent": {
          "description": "Optional. If the assessment is part of a payment transaction, provide details on payment lifecycle events that occur in the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionEvent"
        },
        "hashedAccountId": {
          "type": "string",
          "format": "byte",
          "description": "Optional. Unique stable hashed user identifier to apply to the assessment. This is an alternative to setting the hashed_account_id in CreateAssessment, for example when the account identifier is not yet known in the initial request. It is recommended that the identifier is hashed using hmac-sha256 with stable secret."
        },
        "annotation": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true
          ],
          "enum": [
            "ANNOTATION_UNSPECIFIED",
            "LEGITIMATE",
            "FRAUDULENT",
            "PASSWORD_CORRECT",
            "PASSWORD_INCORRECT"
          ],
          "description": "Optional. The annotation that will be assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.",
          "enumDescriptions": [
            "Default unspecified type.",
            "Provides information that the event turned out to be legitimate.",
            "Provides information that the event turned out to be fraudulent.",
            "Provides information that the event was related to a login event in which the user typed the correct password. Deprecated, prefer indicating CORRECT_PASSWORD through the reasons field instead.",
            "Provides information that the event was related to a login event in which the user typed the incorrect password. Deprecated, prefer indicating INCORRECT_PASSWORD through the reasons field instead."
          ],
          "type": "string"
        },
        "reasons": {
          "description": "Optional. Optional reasons for the annotation that will be assigned to the Event.",
          "type": "array",
          "items": {
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "REFUND",
              "REFUND_FRAUD",
              "TRANSACTION_ACCEPTED",
              "TRANSACTION_DECLINED",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD",
              "SOCIAL_SPAM"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default unspecified reason.",
              "Indicates that the transaction had a chargeback issued with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates that the transaction had a chargeback issued related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates that the transaction had a chargeback issued related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates that the completed payment transaction was refunded by the seller.",
              "Indicates that the completed payment transaction was determined to be fraudulent by the seller, and was cancelled and refunded as a result.",
              "Indicates that the payment transaction was accepted, and the user was charged.",
              "Indicates that the payment transaction was declined, for example due to invalid card details.",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password.",
              "Indicates that the user sent unwanted and abusive messages to other users of the platform, such as spam, scams, phishing, or social engineering."
            ]
          }
        }
      },
      "type": "object",
      "description": "The request message to annotate an Assessment."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction": {
      "description": "A set header action sets a header and forwards the request to the backend. This can be used to trigger custom protection implemented on the backend.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction",
      "properties": {
        "key": {
          "type": "string",
          "description": "The header key to set in the request to the backend server."
        },
        "value": {
          "description": "The header value to set in the request to the backend server.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction": {
      "properties": {},
      "description": "A redirect action returns a 307 (temporary redirect) response, pointing the user to a ReCaptcha interstitial page to attach a token.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse": {
      "description": "Response to request to list firewall policies belonging to a key.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse",
      "properties": {
        "firewallPolicies": {
          "description": "Policy details.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no policies remain in results."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings": {
      "description": "Settings specific to keys that can be used by Android apps.",
      "properties": {
        "allowAllPackageNames": {
          "description": "If set to true, allowed_package_names are not enforced.",
          "type": "boolean"
        },
        "allowedPackageNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Android package names of apps allowed to use the key. Example: 'com.companyname.appname'"
        },
        "supportNonGoogleAppStoreDistribution": {
          "description": "Set to true for keys that are used in an Android application that is available for download in app stores in addition to the Google Play Store.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://recaptchaenterprise.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "assessments": {
          "methods": {
            "create": {
              "flatPath": "v1/projects/{projectsId}/assessments",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in which the assessment will be created, in the format \"projects/{project}\".",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "recaptchaenterprise.projects.assessments.create",
              "path": "v1/{+parent}/assessments",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "description": "Creates an Assessment of the likelihood an event is legitimate.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "annotate": {
              "description": "Annotates a previously created Assessment to provide additional information on whether the event turned out to be authentic or fraudulent.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest"
              },
              "flatPath": "v1/projects/{projectsId}/assessments/{assessmentsId}:annotate",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the Assessment, in the format \"projects/{project}/assessments/{assessment}\".",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/assessments/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.assessments.annotate",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse"
              },
              "path": "v1/{+name}:annotate"
            }
          }
        },
        "relatedaccountgroups": {
          "resources": {
            "memberships": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Get memberships in a group of related accounts.",
                  "response": {
                    "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of accounts to return. The service might return fewer than this value. If unspecified, at most 50 accounts are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/relatedaccountgroups/[^/]+$",
                      "description": "Required. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListRelatedAccountGroupMemberships` call. When paginating, all other parameters provided to `ListRelatedAccountGroupMemberships` must match the call that provided the page token."
                    }
                  },
                  "path": "v1/{+parent}/memberships",
                  "flatPath": "v1/projects/{projectsId}/relatedaccountgroups/{relatedaccountgroupsId}/memberships",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "recaptchaenterprise.projects.relatedaccountgroups.memberships.list"
                }
              }
            }
          },
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.relatedaccountgroups.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the project to list related account groups from, in the format \"projects/{project}\".",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListRelatedAccountGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRelatedAccountGroups` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroups",
              "httpMethod": "GET",
              "description": "List groups of related accounts.",
              "path": "v1/{+parent}/relatedaccountgroups",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "firewallpolicies": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.firewallpolicies.delete",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the policy to be deleted, in the format \"projects/{project}/firewallpolicies/{firewallpolicy}\".",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$"
                }
              },
              "description": "Deletes the specified firewall policy."
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Optional. The mask to control which fields of the policy get updated. If the mask is not present, all fields will be updated.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$",
                  "description": "The resource name for the FirewallPolicy in the format \"projects/{project}/firewallpolicies/{firewallpolicy}\".",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "recaptchaenterprise.projects.firewallpolicies.patch",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the specified firewall policy.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "id": "recaptchaenterprise.projects.firewallpolicies.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "description": "Creates a new FirewallPolicy, specifying conditions at which reCAPTCHA Enterprise actions can be executed. A project may have a maximum of 1000 policies.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project this policy will apply to, in the format \"projects/{project}\".",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "path": "v1/{+parent}/firewallpolicies",
              "httpMethod": "POST"
            },
            "get": {
              "id": "recaptchaenterprise.projects.firewallpolicies.get",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
              },
              "flatPath": "v1/projects/{projectsId}/firewallpolicies/{firewallpoliciesId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns the specified firewall policy.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the requested policy, in the format \"projects/{project}/firewallpolicies/{firewallpolicy}\".",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/firewallpolicies/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/firewallpolicies",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. The next_page_token value returned from a previous. ListFirewallPoliciesRequest, if any.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the project to list the policies for, in the format \"projects/{project}\".",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of policies to return. Default is 10. Max limit is 1000.",
                  "type": "integer"
                }
              },
              "description": "Returns the list of all firewall policies that belong to a project.",
              "path": "v1/{+parent}/firewallpolicies",
              "id": "recaptchaenterprise.projects.firewallpolicies.list"
            }
          }
        },
        "relatedaccountgroupmemberships": {
          "methods": {
            "search": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+project}/relatedaccountgroupmemberships:search",
              "parameters": {
                "project": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the project to search related account group memberships from. Specify the project name in the following format: \"projects/{project}\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "description": "Search group memberships related to a given account.",
              "id": "recaptchaenterprise.projects.relatedaccountgroupmemberships.search",
              "parameterOrder": [
                "project"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroupmemberships:search",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest"
              }
            }
          }
        },
        "keys": {
          "methods": {
            "patch": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Optional. The mask to control which fields of the key get updated. If the mask is not present, all fields will be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "type": "string",
                  "description": "The resource name for the Key in the format \"projects/{project}/keys/{key}\".",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "description": "Updates the specified key.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recaptchaenterprise.projects.keys.patch",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              }
            },
            "retrieveLegacySecretKey": {
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:retrieveLegacySecretKey",
              "parameters": {
                "key": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The public key name linked to the requested secret key in the format \"projects/{project}/keys/{key}\"."
                }
              },
              "parameterOrder": [
                "key"
              ],
              "httpMethod": "GET",
              "description": "Returns the secret key related to the specified public key. You must use the legacy secret key only in a 3rd party integration with legacy reCAPTCHA.",
              "id": "recaptchaenterprise.projects.keys.retrieveLegacySecretKey",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse"
              },
              "path": "v1/{+key}:retrieveLegacySecretKey"
            },
            "migrate": {
              "path": "v1/{+name}:migrate",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:migrate",
              "parameters": {
                "name": {
                  "description": "Required. The name of the key to be migrated, in the format \"projects/{project}/keys/{key}\".",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$"
                }
              },
              "id": "recaptchaenterprise.projects.keys.migrate",
              "description": "Migrates an existing key from reCAPTCHA to reCAPTCHA Enterprise. Once a key is migrated, it can be used from either product. SiteVerify requests are billed as CreateAssessment calls. You must be authenticated as one of the current owners of the reCAPTCHA Key, and your user must have the reCAPTCHA Enterprise Admin IAM role in the destination project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              }
            },
            "list": {
              "description": "Returns the list of all keys that belong to a project.",
              "id": "recaptchaenterprise.projects.keys.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse"
              },
              "path": "v1/{+parent}/keys",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of keys to return. Default is 10. Max limit is 1000.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. The next_page_token value returned from a previous. ListKeysRequest, if any.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project that contains the keys that will be listed, in the format \"projects/{project}\".",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getMetrics": {
              "path": "v1/{+name}",
              "description": "Get some aggregated metrics for a Key. This data can be used to build dashboards.",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/metrics",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/keys/[^/]+/metrics$",
                  "description": "Required. The name of the requested metrics, in the format \"projects/{project}/keys/{key}/metrics\".",
                  "type": "string",
                  "required": true
                }
              },
              "id": "recaptchaenterprise.projects.keys.getMetrics",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Metrics"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.delete",
              "description": "Deletes the specified key.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the key to be deleted, in the format \"projects/{project}/keys/{key}\".",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}"
            },
            "create": {
              "id": "recaptchaenterprise.projects.keys.create",
              "description": "Creates a new reCAPTCHA Enterprise key.",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "path": "v1/{+parent}/keys",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the project in which the key will be created, in the format \"projects/{project}\".",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys"
            },
            "get": {
              "httpMethod": "GET",
              "description": "Returns the specified key.",
              "id": "recaptchaenterprise.projects.keys.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the requested key, in the format \"projects/{project}/keys/{key}\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://recaptchaenterprise.googleapis.com/",
  "canonicalName": "Recaptcha Enterprise"
}
