{
  "baseUrl": "https://recaptchaenterprise.googleapis.com/",
  "revision": "20220522",
  "basePath": "",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://recaptchaenterprise.mtls.googleapis.com/",
  "version": "v1",
  "rootUrl": "https://recaptchaenterprise.googleapis.com/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "batchPath": "batch",
  "protocol": "rest",
  "canonicalName": "Recaptcha Enterprise",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/recaptcha-enterprise/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "name": "recaptchaenterprise",
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1WebKeySettings": {
      "type": "object",
      "description": "Settings specific to keys that can be used by websites.",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
      "properties": {
        "allowAmpTraffic": {
          "description": "If set to true, the key can be used on AMP (Accelerated Mobile Pages) websites. This is supported only for the SCORE integration type.",
          "type": "boolean"
        },
        "allowedDomains": {
          "type": "array",
          "description": "Domains or subdomains of websites allowed to use the key. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com'",
          "items": {
            "type": "string"
          }
        },
        "integrationType": {
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified. This is not a valid IntegrationType, one of the other types must be specified instead.",
            "Only used to produce scores. It doesn't display the \"I'm not a robot\" checkbox and never shows captcha challenges.",
            "Displays the \"I'm not a robot\" checkbox and may show captcha challenges after it is checked.",
            "Doesn't display the \"I'm not a robot\" checkbox, but may show captcha challenges after risk analysis."
          ],
          "description": "Required. Describes how this key is integrated with the website.",
          "enum": [
            "INTEGRATION_TYPE_UNSPECIFIED",
            "SCORE",
            "CHECKBOX",
            "INVISIBLE"
          ],
          "type": "string"
        },
        "allowAllDomains": {
          "type": "boolean",
          "description": "If set to true, it means allowed_domains will not be enforced."
        },
        "challengeSecurityPreference": {
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ],
          "type": "string",
          "description": "Settings for the frequency and difficulty at which this key triggers captcha challenges. This should only be specified for IntegrationTypes CHECKBOX and INVISIBLE."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest": {
      "properties": {
        "hashedAccountId": {
          "description": "Optional. The unique stable hashed user identifier we should search connections to. The identifier should correspond to a `hashed_account_id` provided in a previous CreateAssessment or AnnotateAssessment call.",
          "type": "string",
          "format": "byte"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `SearchRelatedAccountGroupMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchRelatedAccountGroupMemberships` must match the call that provided the page token."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of groups to return. The service may return fewer than this value. If unspecified, at most 50 groups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest",
      "type": "object",
      "description": "The request message to search related account group memberships."
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse",
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call.",
      "properties": {
        "relatedAccountGroupMemberships": {
          "description": "The queried memberships.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse",
      "description": "Empty response for AnnotateAssessment.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Assessment": {
      "type": "object",
      "description": "A recaptcha assessment resource.",
      "properties": {
        "accountDefenderAssessment": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
          "description": "Assessment returned by Account Defender when a hashed_account_id is provided."
        },
        "event": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1Event",
          "description": "The event being assessed."
        },
        "riskAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
          "description": "Output only. The risk analysis result for the event being assessed."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for the Assessment in the format \"projects/{project}/assessments/{assessment}\"."
        },
        "tokenProperties": {
          "description": "Output only. Properties of the provided event token.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
          "readOnly": true
        },
        "privatePasswordLeakVerification": {
          "description": "The private password leak verification field contains the parameters used to check for leaks privately without sharing user credentials.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Assessment"
    },
    "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest",
      "type": "object",
      "description": "The migrate key request message.",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment": {
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ACCOUNT_DEFENDER_LABEL_UNSPECIFIED",
              "PROFILE_MATCH",
              "SUSPICIOUS_LOGIN_ACTIVITY",
              "SUSPICIOUS_ACCOUNT_CREATION",
              "RELATED_ACCOUNTS_NUMBER_HIGH"
            ],
            "enumDescriptions": [
              "Default unspecified type.",
              "The request matches a known good profile for the user.",
              "The request is potentially a suspicious login event and should be further verified either via multi-factor authentication or another system.",
              "The request matched a profile that previously had suspicious account creation behavior. This could mean this is a fake account.",
              "The account in the request has a high number of related accounts. It does not necessarily imply that the account is bad but could require investigating."
            ]
          },
          "description": "Labels for this request."
        }
      },
      "description": "Account Defender risk assessment.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment"
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreDistribution": {
      "type": "object",
      "description": "Score distribution.",
      "properties": {
        "scoreBuckets": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "Map key is score value multiplied by 100. The scores are discrete values between [0, 1]. The maximum number of buckets is on order of a few dozen, but typically much lower (ie. 10).",
          "type": "object"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
    },
    "GoogleCloudRecaptchaenterpriseV1Event": {
      "id": "GoogleCloudRecaptchaenterpriseV1Event",
      "type": "object",
      "properties": {
        "siteKey": {
          "description": "Optional. The site key that was used to invoke reCAPTCHA on your site and generate the token.",
          "type": "string"
        },
        "userIpAddress": {
          "description": "Optional. The IP address in the request from the user's device related to this event.",
          "type": "string"
        },
        "expectedAction": {
          "description": "Optional. The expected action for this type of event. This should be the same action provided at token generation time on client-side platforms already integrated with recaptcha enterprise.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Optional. The user response token provided by the reCAPTCHA client-side integration on your site."
        },
        "hashedAccountId": {
          "description": "Optional. Optional unique stable hashed user identifier for the request. The identifier should ideally be hashed using sha256 with stable secret.",
          "type": "string",
          "format": "byte"
        },
        "userAgent": {
          "type": "string",
          "description": "Optional. The user agent present in the request from the user's device related to this event."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1RiskAnalysis": {
      "description": "Risk analysis result for an event.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
      "properties": {
        "score": {
          "description": "Legitimate event score from 0.0 to 1.0. (1.0 means very likely legitimate traffic while 0.0 means very likely non-legitimate traffic).",
          "type": "number",
          "format": "float"
        },
        "reasons": {
          "items": {
            "enum": [
              "CLASSIFICATION_REASON_UNSPECIFIED",
              "AUTOMATION",
              "UNEXPECTED_ENVIRONMENT",
              "TOO_MUCH_TRAFFIC",
              "UNEXPECTED_USAGE_PATTERNS",
              "LOW_CONFIDENCE_SCORE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default unspecified type.",
              "Interactions matched the behavior of an automated agent.",
              "The event originated from an illegitimate environment.",
              "Traffic volume from the event source is higher than normal.",
              "Interactions with the site were significantly different than expected patterns.",
              "Too little traffic has been received from this site thus far to generate quality risk analysis."
            ]
          },
          "type": "array",
          "description": "Reasons contributing to the risk analysis verdict."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name for this membership in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}/memberships/{membership}`."
        },
        "hashedAccountId": {
          "format": "byte",
          "type": "string",
          "description": "The unique stable hashed user identifier of the member. The identifier corresponds to a `hashed_account_id` provided in a previous CreateAssessment or AnnotateAssessment call."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership",
      "type": "object",
      "description": "A membership in a group of related accounts."
    },
    "GoogleCloudRecaptchaenterpriseV1Key": {
      "type": "object",
      "description": "A key used to identify and configure applications (web and/or mobile) that use reCAPTCHA Enterprise.",
      "id": "GoogleCloudRecaptchaenterpriseV1Key",
      "properties": {
        "webSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
          "description": "Settings for keys that can be used by websites."
        },
        "displayName": {
          "description": "Human-readable display name of this key. Modifiable by user.",
          "type": "string"
        },
        "iosSettings": {
          "description": "Settings for keys that can be used by iOS apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings"
        },
        "labels": {
          "type": "object",
          "description": "See Creating and managing labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The timestamp corresponding to the creation of this Key.",
          "type": "string"
        },
        "wafSettings": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1WafSettings",
          "description": "Settings for WAF"
        },
        "name": {
          "description": "The resource name for the Key in the format \"projects/{project}/keys/{key}\".",
          "type": "string"
        },
        "androidSettings": {
          "description": "Settings for keys that can be used by Android apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings"
        },
        "testingOptions": {
          "description": "Options for user acceptance testing.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TestingOptions"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1Metrics": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the metrics, in the format \"projects/{project}/keys/{key}/metrics\".",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Inclusive start time aligned to a day (UTC).",
          "format": "google-datetime",
          "type": "string"
        },
        "challengeMetrics": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
          },
          "type": "array",
          "description": "Metrics will be continuous and in order by dates, and in the granularity of day. Only challenge-based keys (CHECKBOX, INVISIBLE), will have challenge-based data."
        },
        "scoreMetrics": {
          "description": "Metrics will be continuous and in order by dates, and in the granularity of day. All Key types should have score-based data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1Metrics",
      "description": "Metrics for a single Key."
    },
    "GoogleCloudRecaptchaenterpriseV1IOSKeySettings": {
      "description": "Settings specific to keys that can be used by iOS apps.",
      "properties": {
        "allowedBundleIds": {
          "items": {
            "type": "string"
          },
          "description": "iOS bundle ids of apps allowed to use the key. Example: 'com.companyname.productname.appname'",
          "type": "array"
        },
        "allowAllBundleIds": {
          "type": "boolean",
          "description": "If set to true, allowed_bundle_ids are not enforced."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings"
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreMetrics": {
      "type": "object",
      "properties": {
        "overallMetrics": {
          "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
          "description": "Aggregated score metrics for all traffic."
        },
        "actionMetrics": {
          "description": "Action-based metrics. The map key is the action name which specified by the site owners at time of the \"execute\" client-side call. Populated only for SCORE keys.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
          }
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics",
      "description": "Metrics related to scoring."
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse",
      "description": "The response to a `ListRelatedAccountGroups` call.",
      "type": "object",
      "properties": {
        "relatedAccountGroups": {
          "description": "The groups of related accounts listed by the query.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{related_account_group}`."
        }
      },
      "description": "A group of related accounts.",
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "description": "Response to request to list keys in a project.",
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results.",
          "type": "string"
        },
        "keys": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          },
          "description": "Key details."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "properties": {
        "annotation": {
          "enumDescriptions": [
            "Default unspecified type.",
            "Provides information that the event turned out to be legitimate.",
            "Provides information that the event turned out to be fraudulent.",
            "Provides information that the event was related to a login event in which the user typed the correct password. Deprecated, prefer indicating CORRECT_PASSWORD through the reasons field instead.",
            "Provides information that the event was related to a login event in which the user typed the incorrect password. Deprecated, prefer indicating INCORRECT_PASSWORD through the reasons field instead."
          ],
          "description": "Optional. The annotation that will be assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.",
          "type": "string",
          "enum": [
            "ANNOTATION_UNSPECIFIED",
            "LEGITIMATE",
            "FRAUDULENT",
            "PASSWORD_CORRECT",
            "PASSWORD_INCORRECT"
          ]
        },
        "hashedAccountId": {
          "format": "byte",
          "description": "Optional. Optional unique stable hashed user identifier to apply to the assessment. This is an alternative to setting the hashed_account_id in CreateAssessment, for example when the account identifier is not yet known in the initial request. It is recommended that the identifier is hashed using hmac-sha256 with stable secret.",
          "type": "string"
        },
        "reasons": {
          "type": "array",
          "description": "Optional. Optional reasons for the annotation that will be assigned to the Event.",
          "items": {
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default unspecified reason.",
              "Indicates a chargeback issued for the transaction with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates a chargeback related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates a chargeback related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password."
            ]
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest",
      "description": "The request message to annotate an Assessment."
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "description": "Options for user acceptance testing.",
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
      "properties": {
        "testingScore": {
          "description": "All assessments for this Key will return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive.",
          "type": "number",
          "format": "float"
        },
        "testingChallenge": {
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ],
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ],
          "description": "For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site will return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification",
      "description": "Private password leak verification info.",
      "properties": {
        "encryptedUserCredentialsHash": {
          "description": "Optional. Encrypted Scrypt hash of the canonicalized username+password. It is re-encrypted by the server and returned through `reencrypted_user_credentials_hash`.",
          "type": "string",
          "format": "byte"
        },
        "reencryptedUserCredentialsHash": {
          "readOnly": true,
          "format": "byte",
          "type": "string",
          "description": "Output only. Corresponds to the re-encryption of the `encrypted_user_credentials_hash` field. Used to match potential password leaks within `encrypted_leak_match_prefixes`."
        },
        "encryptedLeakMatchPrefixes": {
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          },
          "description": "Output only. List of prefixes of the encrypted potential password leaks that matched the given parameters. They should be compared with the client-side decryption prefix of `reencrypted_user_credentials_hash`",
          "readOnly": true
        },
        "lookupHashPrefix": {
          "type": "string",
          "format": "byte",
          "description": "Optional. Exactly 26-bit prefix of the SHA-256 hash of the canonicalized username. It is used to look up password leaks associated with that hash prefix."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "type": "object",
      "description": "The response to a `ListRelatedAccountGroupMemberships` call.",
      "properties": {
        "relatedAccountGroupMemberships": {
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "type": "array",
          "description": "The memberships listed by the query."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse"
    },
    "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings": {
      "description": "Settings specific to keys that can be used by Android apps.",
      "id": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
      "properties": {
        "allowAllPackageNames": {
          "type": "boolean",
          "description": "If set to true, allowed_package_names are not enforced."
        },
        "allowedPackageNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Android package names of apps allowed to use the key. Example: 'com.companyname.appname'"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "properties": {
        "wafService": {
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor"
          ],
          "description": "Required. The WAF service that uses this key.",
          "type": "string",
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA"
          ]
        },
        "wafFeature": {
          "type": "string",
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN"
          ],
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions."
          ],
          "description": "Required. The WAF feature for which this key is enabled."
        }
      },
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings",
      "type": "object",
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall)."
    },
    "GoogleCloudRecaptchaenterpriseV1TokenProperties": {
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The timestamp corresponding to the generation of the token.",
          "format": "google-datetime"
        },
        "valid": {
          "description": "Whether the provided user response token is valid. When valid = false, the reason could be specified in invalid_reason or it could also be due to a user failing to solve a challenge or a sitekey mismatch (i.e the sitekey used to generate the token was different than the one specified in the assessment).",
          "type": "boolean"
        },
        "invalidReason": {
          "description": "Reason associated with the response when valid = false.",
          "enum": [
            "INVALID_REASON_UNSPECIFIED",
            "UNKNOWN_INVALID_REASON",
            "MALFORMED",
            "EXPIRED",
            "DUPE",
            "MISSING",
            "BROWSER_ERROR"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "If the failure reason was not accounted for.",
            "The provided user verification token was malformed.",
            "The user verification token had expired.",
            "The user verification had already been seen.",
            "The user verification token was not present.",
            "A retriable error (such as network failure) occurred on the browser. Could easily be simulated by an attacker."
          ],
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "The hostname of the page on which the token was generated."
        },
        "action": {
          "type": "string",
          "description": "Action name provided at token generation."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics": {
      "description": "Metrics related to challenges.",
      "properties": {
        "pageloadCount": {
          "description": "Count of reCAPTCHA checkboxes or badges rendered. This is mostly equivalent to a count of pageloads for pages that include reCAPTCHA.",
          "type": "string",
          "format": "int64"
        },
        "passedCount": {
          "description": "Count of nocaptchas (successful verification without a challenge) plus submitted challenge solutions that were correct and resulted in verification.",
          "type": "string",
          "format": "int64"
        },
        "nocaptchaCount": {
          "description": "Count of nocaptchas (successful verification without a challenge) issued.",
          "format": "int64",
          "type": "string"
        },
        "failedCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of submitted challenge solutions that were incorrect or otherwise deemed suspicious such that a subsequent challenge was triggered."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "relatedaccountgroupmemberships": {
          "methods": {
            "search": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Search group memberships related to a given account.",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse"
              },
              "path": "v1/{+project}/relatedaccountgroupmemberships:search",
              "parameterOrder": [
                "project"
              ],
              "parameters": {
                "project": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the project to search related account group memberships from, in the format \"projects/{project}\".",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "id": "recaptchaenterprise.projects.relatedaccountgroupmemberships.search",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroupmemberships:search",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest"
              }
            }
          }
        },
        "keys": {
          "methods": {
            "migrate": {
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.migrate",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "description": "Required. The name of the key to be migrated, in the format \"projects/{project}/keys/{key}\".",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Migrates an existing key from reCAPTCHA to reCAPTCHA Enterprise. Once a key is migrated, it can be used from either product. SiteVerify requests are billed as CreateAssessment calls. You must be authenticated as one of the current owners of the reCAPTCHA Site Key, and your user must have the reCAPTCHA Enterprise Admin IAM role in the destination project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest"
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}:migrate",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "path": "v1/{+name}:migrate"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/keys",
              "id": "recaptchaenterprise.projects.keys.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse"
              },
              "description": "Returns the list of all keys that belong to a project.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/keys",
              "parameters": {
                "pageToken": {
                  "description": "Optional. The next_page_token value returned from a previous. ListKeysRequest, if any.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The name of the project that contains the keys that will be listed, in the format \"projects/{project}\".",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of keys to return. Default is 10. Max limit is 1000.",
                  "location": "query",
                  "format": "int32"
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "description": "Updates the specified key.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "id": "recaptchaenterprise.projects.keys.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The resource name for the Key in the format \"projects/{project}/keys/{key}\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. The mask to control which fields of the key get updated. If the mask is not present, all fields will be updated.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              }
            },
            "getMetrics": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the requested metrics, in the format \"projects/{project}/keys/{key}/metrics\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+/keys/[^/]+/metrics$",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}/metrics",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Metrics"
              },
              "description": "Get some aggregated metrics for a Key. This data can be used to build dashboards.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.getMetrics",
              "path": "v1/{+name}",
              "httpMethod": "GET"
            },
            "create": {
              "id": "recaptchaenterprise.projects.keys.create",
              "description": "Creates a new reCAPTCHA Enterprise key.",
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "flatPath": "v1/projects/{projectsId}/keys",
              "path": "v1/{+parent}/keys",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the project in which the key will be created, in the format \"projects/{project}\".",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the requested key, in the format \"projects/{project}/keys/{key}\".",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/keys/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
              },
              "description": "Returns the specified key.",
              "id": "recaptchaenterprise.projects.keys.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}"
            },
            "delete": {
              "flatPath": "v1/projects/{projectsId}/keys/{keysId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the key to be deleted, in the format \"projects/{project}/keys/{key}\".",
                  "required": true,
                  "pattern": "^projects/[^/]+/keys/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "recaptchaenterprise.projects.keys.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the specified key.",
              "httpMethod": "DELETE"
            }
          }
        },
        "relatedaccountgroups": {
          "methods": {
            "list": {
              "id": "recaptchaenterprise.projects.relatedaccountgroups.list",
              "flatPath": "v1/projects/{projectsId}/relatedaccountgroups",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of groups to return. The service may return fewer than this value. If unspecified, at most 50 groups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "parent": {
                  "description": "Required. The name of the project to list related account groups from, in the format \"projects/{project}\".",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListRelatedAccountGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRelatedAccountGroups` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupsResponse"
              },
              "path": "v1/{+parent}/relatedaccountgroups",
              "description": "List groups of related accounts.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "memberships": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/relatedaccountgroups/{relatedaccountgroupsId}/memberships",
                  "id": "recaptchaenterprise.projects.relatedaccountgroups.memberships.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 50 accounts will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListRelatedAccountGroupMemberships` call. When paginating, all other parameters provided to `ListRelatedAccountGroupMemberships` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/relatedaccountgroups/[^/]+$",
                      "description": "Required. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/memberships",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get the memberships in a group of related accounts."
                }
              }
            }
          }
        },
        "assessments": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in which the assessment will be created, in the format \"projects/{project}\".",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "recaptchaenterprise.projects.assessments.create",
              "description": "Creates an Assessment of the likelihood an event is legitimate.",
              "flatPath": "v1/projects/{projectsId}/assessments",
              "path": "v1/{+parent}/assessments",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1Assessment"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "annotate": {
              "path": "v1/{+name}:annotate",
              "request": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentResponse"
              },
              "id": "recaptchaenterprise.projects.assessments.annotate",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/assessments/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the Assessment, in the format \"projects/{project}/assessments/{assessment}\"."
                }
              },
              "description": "Annotates a previously created Assessment to provide additional information on whether the event turned out to be authentic or fraudulent.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/assessments/{assessmentsId}:annotate",
              "httpMethod": "POST"
            }
          }
        }
      }
    }
  },
  "title": "reCAPTCHA Enterprise API",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "id": "recaptchaenterprise:v1"
}
