{
  "description": "The Resource Settings API allows users to control and modify the behavior of their GCP resources (e.g., VM, firewall, Project, etc.) across the Cloud Resource Hierarchy.",
  "batchPath": "batch",
  "baseUrl": "https://resourcesettings.googleapis.com/",
  "revision": "20210615",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "title": "Resource Settings API",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "protocol": "rest",
  "name": "resourcesettings",
  "ownerName": "Google",
  "canonicalName": "Resource Settings",
  "rootUrl": "https://resourcesettings.googleapis.com/",
  "basePath": "",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "mtlsRootUrl": "https://resourcesettings.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "settings": {
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "description": "The resource name of the setting. Must be in one of the following forms: * `projects/{project_number}/settings/{setting_name}` * `folders/{folder_id}/settings/{setting_name}` * `organizations/{organization_id}/settings/{setting_name}` For example, \"/projects/123/settings/gcp-enableMyFeature\"",
                  "pattern": "^projects/[^/]+/settings/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Updates a specified setting. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.FAILED_PRECONDITION` if the setting is flagged as read only. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the setting value. On success, the response will contain only `name`, `local_value` and `etag`. The `metadata` and `effective_value` cannot be updated through this API. Note: the supplied setting will perform a full overwrite of the `local_value` field.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "id": "resourcesettings.projects.settings.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/settings/{settingsId}"
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/settings",
              "httpMethod": "GET",
              "id": "resourcesettings.projects.settings.list",
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1ListSettingsResponse"
              },
              "path": "v1/{+parent}/settings",
              "description": "Lists all the settings that are available on the Cloud resource `parent`.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Unused. A page token used to retrieve the next page."
                },
                "view": {
                  "description": "The SettingView for this request.",
                  "type": "string",
                  "enum": [
                    "SETTING_VIEW_UNSPECIFIED",
                    "SETTING_VIEW_BASIC",
                    "SETTING_VIEW_EFFECTIVE_VALUE",
                    "SETTING_VIEW_LOCAL_VALUE"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the SETTING_VIEW_BASIC view.",
                    "Include Setting.metadata, but nothing else. This is the default value (for both ListSettings and GetSetting).",
                    "Include Setting.effective_value, but nothing else.",
                    "Include Setting.local_value, but nothing else."
                  ]
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Unused. The size of the page to be returned."
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The project, folder, or organization that is the parent resource for this setting. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "parameters": {
                "view": {
                  "description": "The SettingView for this request.",
                  "location": "query",
                  "enum": [
                    "SETTING_VIEW_UNSPECIFIED",
                    "SETTING_VIEW_BASIC",
                    "SETTING_VIEW_EFFECTIVE_VALUE",
                    "SETTING_VIEW_LOCAL_VALUE"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the SETTING_VIEW_BASIC view.",
                    "Include Setting.metadata, but nothing else. This is the default value (for both ListSettings and GetSetting).",
                    "Include Setting.effective_value, but nothing else.",
                    "Include Setting.local_value, but nothing else."
                  ]
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the setting to get. See Setting for naming requirements.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/settings/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/settings/{settingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns a specified setting. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist.",
              "id": "resourcesettings.projects.settings.get"
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "settings": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/settings",
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1ListSettingsResponse"
              },
              "description": "Lists all the settings that are available on the Cloud resource `parent`.",
              "parameters": {
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The project, folder, or organization that is the parent resource for this setting. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Unused. A page token used to retrieve the next page."
                },
                "view": {
                  "location": "query",
                  "description": "The SettingView for this request.",
                  "enum": [
                    "SETTING_VIEW_UNSPECIFIED",
                    "SETTING_VIEW_BASIC",
                    "SETTING_VIEW_EFFECTIVE_VALUE",
                    "SETTING_VIEW_LOCAL_VALUE"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the SETTING_VIEW_BASIC view.",
                    "Include Setting.metadata, but nothing else. This is the default value (for both ListSettings and GetSetting).",
                    "Include Setting.effective_value, but nothing else.",
                    "Include Setting.local_value, but nothing else."
                  ]
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Unused. The size of the page to be returned."
                }
              },
              "id": "resourcesettings.folders.settings.list",
              "flatPath": "v1/folders/{foldersId}/settings",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the SETTING_VIEW_BASIC view.",
                    "Include Setting.metadata, but nothing else. This is the default value (for both ListSettings and GetSetting).",
                    "Include Setting.effective_value, but nothing else.",
                    "Include Setting.local_value, but nothing else."
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "The SettingView for this request.",
                  "enum": [
                    "SETTING_VIEW_UNSPECIFIED",
                    "SETTING_VIEW_BASIC",
                    "SETTING_VIEW_EFFECTIVE_VALUE",
                    "SETTING_VIEW_LOCAL_VALUE"
                  ]
                },
                "name": {
                  "pattern": "^folders/[^/]+/settings/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the setting to get. See Setting for naming requirements."
                }
              },
              "id": "resourcesettings.folders.settings.get",
              "description": "Returns a specified setting. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist.",
              "flatPath": "v1/folders/{foldersId}/settings/{settingsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "resourcesettings.folders.settings.patch",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "request": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "The resource name of the setting. Must be in one of the following forms: * `projects/{project_number}/settings/{setting_name}` * `folders/{folder_id}/settings/{setting_name}` * `organizations/{organization_id}/settings/{setting_name}` For example, \"/projects/123/settings/gcp-enableMyFeature\"",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+/settings/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/folders/{foldersId}/settings/{settingsId}",
              "description": "Updates a specified setting. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.FAILED_PRECONDITION` if the setting is flagged as read only. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the setting value. On success, the response will contain only `name`, `local_value` and `etag`. The `metadata` and `effective_value` cannot be updated through this API. Note: the supplied setting will perform a full overwrite of the `local_value` field."
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "settings": {
          "methods": {
            "list": {
              "id": "resourcesettings.organizations.settings.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/settings",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Unused. A page token used to retrieve the next page.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "enum": [
                    "SETTING_VIEW_UNSPECIFIED",
                    "SETTING_VIEW_BASIC",
                    "SETTING_VIEW_EFFECTIVE_VALUE",
                    "SETTING_VIEW_LOCAL_VALUE"
                  ],
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the SETTING_VIEW_BASIC view.",
                    "Include Setting.metadata, but nothing else. This is the default value (for both ListSettings and GetSetting).",
                    "Include Setting.effective_value, but nothing else.",
                    "Include Setting.local_value, but nothing else."
                  ],
                  "description": "The SettingView for this request.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Unused. The size of the page to be returned."
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The project, folder, or organization that is the parent resource for this setting. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1ListSettingsResponse"
              },
              "description": "Lists all the settings that are available on the Cloud resource `parent`.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/settings"
            },
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/settings/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The resource name of the setting. Must be in one of the following forms: * `projects/{project_number}/settings/{setting_name}` * `folders/{folder_id}/settings/{setting_name}` * `organizations/{organization_id}/settings/{setting_name}` For example, \"/projects/123/settings/gcp-enableMyFeature\""
                }
              },
              "description": "Updates a specified setting. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.FAILED_PRECONDITION` if the setting is flagged as read only. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the setting value. On success, the response will contain only `name`, `local_value` and `etag`. The `metadata` and `effective_value` cannot be updated through this API. Note: the supplied setting will perform a full overwrite of the `local_value` field.",
              "flatPath": "v1/organizations/{organizationsId}/settings/{settingsId}",
              "id": "resourcesettings.organizations.settings.patch",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "httpMethod": "PATCH"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "description": "Returns a specified setting. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/settings/{settingsId}",
              "id": "resourcesettings.organizations.settings.get",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/settings/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the setting to get. See Setting for naming requirements.",
                  "location": "path"
                },
                "view": {
                  "type": "string",
                  "enum": [
                    "SETTING_VIEW_UNSPECIFIED",
                    "SETTING_VIEW_BASIC",
                    "SETTING_VIEW_EFFECTIVE_VALUE",
                    "SETTING_VIEW_LOCAL_VALUE"
                  ],
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the SETTING_VIEW_BASIC view.",
                    "Include Setting.metadata, but nothing else. This is the default value (for both ListSettings and GetSetting).",
                    "Include Setting.effective_value, but nothing else.",
                    "Include Setting.local_value, but nothing else."
                  ],
                  "location": "query",
                  "description": "The SettingView for this request."
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/resource-manager/docs/resource-settings/overview",
  "id": "resourcesettings:v1",
  "schemas": {
    "GoogleCloudResourcesettingsV1Value": {
      "description": "The data in a setting value.",
      "type": "object",
      "properties": {
        "stringValue": {
          "description": "Defines this value as being a string value.",
          "type": "string"
        },
        "stringSetValue": {
          "$ref": "GoogleCloudResourcesettingsV1ValueStringSet",
          "description": "Defines this value as being a StringSet."
        },
        "stringMapValue": {
          "description": "Defines this value as being a StringMap.",
          "$ref": "GoogleCloudResourcesettingsV1ValueStringMap"
        },
        "durationValue": {
          "type": "string",
          "format": "google-duration",
          "description": "Defines this value as being a Duration."
        },
        "enumValue": {
          "$ref": "GoogleCloudResourcesettingsV1ValueEnumValue",
          "description": "Defines this value as being a Enum."
        },
        "booleanValue": {
          "description": "Defines this value as being a boolean value.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudResourcesettingsV1Value"
    },
    "GoogleCloudResourcesettingsV1ValueStringSet": {
      "type": "object",
      "id": "GoogleCloudResourcesettingsV1ValueStringSet",
      "properties": {
        "values": {
          "type": "array",
          "description": "The strings in the set",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A string set value that can hold a set of strings. The maximum length of each string is 200 characters and there can be a maximum of 50 strings in the string set."
    },
    "GoogleCloudResourcesettingsV1ValueEnumValue": {
      "id": "GoogleCloudResourcesettingsV1ValueEnumValue",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of this enum"
        }
      },
      "type": "object",
      "description": "A enum value that can hold any enum type setting values. Each enum type is represented by a number, this representation is stored in the definitions."
    },
    "GoogleCloudResourcesettingsV1ValueStringMap": {
      "description": "A string-\u003estring map value that can hold a map of string keys to string values. The maximum length of each string is 200 characters and there can be a maximum of 50 key-value pairs in the map.",
      "properties": {
        "mappings": {
          "description": "The key-value pairs in the map",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudResourcesettingsV1ValueStringMap",
      "type": "object"
    },
    "GoogleCloudResourcesettingsV1ListSettingsResponse": {
      "id": "GoogleCloudResourcesettingsV1ListSettingsResponse",
      "type": "object",
      "description": "The response from ListSettings.",
      "properties": {
        "settings": {
          "type": "array",
          "description": "A list of settings that are available at the specified Cloud resource.",
          "items": {
            "$ref": "GoogleCloudResourcesettingsV1Setting"
          }
        },
        "nextPageToken": {
          "description": "Unused. A page token used to retrieve the next page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudResourcesettingsV1Setting": {
      "id": "GoogleCloudResourcesettingsV1Setting",
      "properties": {
        "metadata": {
          "$ref": "GoogleCloudResourcesettingsV1SettingMetadata",
          "description": "Output only. Metadata about a setting which is not editable by the end user.",
          "readOnly": true
        },
        "effectiveValue": {
          "$ref": "GoogleCloudResourcesettingsV1Value",
          "description": "Output only. The effective value of the setting at the given parent resource, evaluated based on the resource hierarchy The effective value evaluates to one of the following options, in this order. If an option is not valid or doesn't exist, then the next option is used: 1. The local setting value on the given resource: Setting.local_value 2. If one of the given resource's ancestors in the resource hierarchy have a local setting value, the local value at the nearest such ancestor. 3. The setting's default value: SettingMetadata.default_value 4. An empty value, defined as a `Value` with all fields unset. The data type of Value must always be consistent with the data type defined in Setting.metadata.",
          "readOnly": true
        },
        "etag": {
          "description": "A fingerprint used for optimistic concurrency. See UpdateSetting for more details.",
          "type": "string"
        },
        "localValue": {
          "description": "The configured value of the setting at the given parent resource, ignoring the resource hierarchy. The data type of Value must always be consistent with the data type defined in Setting.metadata.",
          "$ref": "GoogleCloudResourcesettingsV1Value"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the setting. Must be in one of the following forms: * `projects/{project_number}/settings/{setting_name}` * `folders/{folder_id}/settings/{setting_name}` * `organizations/{organization_id}/settings/{setting_name}` For example, \"/projects/123/settings/gcp-enableMyFeature\""
        }
      },
      "description": "The schema for settings.",
      "type": "object"
    },
    "GoogleCloudResourcesettingsV1SettingMetadata": {
      "id": "GoogleCloudResourcesettingsV1SettingMetadata",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A detailed description of what this setting does."
        },
        "dataType": {
          "description": "The data type for this setting.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "STRING_SET",
            "ENUM_VALUE",
            "DURATION_VALUE",
            "STRING_MAP"
          ],
          "enumDescriptions": [
            "Unspecified data type.",
            "A boolean setting.",
            "A string setting.",
            "A string set setting.",
            "A Enum setting",
            "A Duration setting",
            "A string-\u003estring map setting"
          ],
          "type": "string"
        },
        "readOnly": {
          "description": "A flag indicating that values of this setting cannot be modified. See documentation for the specific setting for updates and reasons.",
          "type": "boolean"
        },
        "defaultValue": {
          "description": "The value provided by Setting.effective_value if no setting value is explicitly set. Note: not all settings have a default value.",
          "$ref": "GoogleCloudResourcesettingsV1Value"
        },
        "displayName": {
          "description": "The human readable name for this setting.",
          "type": "string"
        }
      },
      "description": "Metadata about a setting which is not editable by the end user."
    }
  },
  "version": "v1",
  "fullyEncodeReservedExpansion": true
}
