{
  "documentationLink": "https://cloud.google.com/resource-manager/docs/resource-settings/overview",
  "ownerName": "Google",
  "canonicalName": "Resource Settings",
  "servicePath": "",
  "version": "v1",
  "name": "resourcesettings",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://resourcesettings.googleapis.com/",
  "rootUrl": "https://resourcesettings.googleapis.com/",
  "resources": {
    "folders": {
      "resources": {
        "settings": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "description": "Returns a specified setting. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist.",
              "flatPath": "v1/folders/{foldersId}/settings/{settingsId}",
              "deprecated": true,
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "resourcesettings.folders.settings.get",
              "httpMethod": "GET",
              "parameters": {
                "view": {
                  "enum": [
                    "SETTING_VIEW_UNSPECIFIED",
                    "SETTING_VIEW_BASIC",
                    "SETTING_VIEW_EFFECTIVE_VALUE",
                    "SETTING_VIEW_LOCAL_VALUE"
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "The SettingView for this request.",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the SETTING_VIEW_BASIC view.",
                    "Include Setting.metadata, but nothing else. This is the default value (for both ListSettings and GetSetting).",
                    "Include Setting.effective_value, but nothing else.",
                    "Include Setting.local_value, but nothing else."
                  ]
                },
                "name": {
                  "required": true,
                  "pattern": "^folders/[^/]+/settings/[^/]+$",
                  "description": "Required. The name of the setting to get. See Setting for naming requirements.",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource name of the setting. Must be in one of the following forms: * `projects/{project_number}/settings/{setting_name}` * `folders/{folder_id}/settings/{setting_name}` * `organizations/{organization_id}/settings/{setting_name}` For example, \"/projects/123/settings/gcp-enableMyFeature\"",
                  "pattern": "^folders/[^/]+/settings/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "description": "Updates a specified setting. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.FAILED_PRECONDITION` if the setting is flagged as read only. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the setting value. On success, the response will contain only `name`, `local_value` and `etag`. The `metadata` and `effective_value` cannot be updated through this API. Note: the supplied setting will perform a full overwrite of the `local_value` field.",
              "request": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "flatPath": "v1/folders/{foldersId}/settings/{settingsId}",
              "id": "resourcesettings.folders.settings.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "deprecated": true
            },
            "list": {
              "description": "Lists all the settings that are available on the Cloud resource `parent`.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1ListSettingsResponse"
              },
              "deprecated": true,
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Unused. A page token used to retrieve the next page.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Unused. The size of the page to be returned.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "description": "Required. The project, folder, or organization that is the parent resource for this setting. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
                },
                "view": {
                  "type": "string",
                  "location": "query",
                  "description": "The SettingView for this request.",
                  "enum": [
                    "SETTING_VIEW_UNSPECIFIED",
                    "SETTING_VIEW_BASIC",
                    "SETTING_VIEW_EFFECTIVE_VALUE",
                    "SETTING_VIEW_LOCAL_VALUE"
                  ],
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the SETTING_VIEW_BASIC view.",
                    "Include Setting.metadata, but nothing else. This is the default value (for both ListSettings and GetSetting).",
                    "Include Setting.effective_value, but nothing else.",
                    "Include Setting.local_value, but nothing else."
                  ]
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "resourcesettings.folders.settings.list",
              "flatPath": "v1/folders/{foldersId}/settings",
              "path": "v1/{+parent}/settings"
            }
          },
          "deprecated": true
        }
      }
    },
    "projects": {
      "resources": {
        "settings": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/settings/{settingsId}",
              "description": "Updates a specified setting. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.FAILED_PRECONDITION` if the setting is flagged as read only. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the setting value. On success, the response will contain only `name`, `local_value` and `etag`. The `metadata` and `effective_value` cannot be updated through this API. Note: the supplied setting will perform a full overwrite of the `local_value` field.",
              "id": "resourcesettings.projects.settings.patch",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/settings/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The resource name of the setting. Must be in one of the following forms: * `projects/{project_number}/settings/{setting_name}` * `folders/{folder_id}/settings/{setting_name}` * `organizations/{organization_id}/settings/{setting_name}` For example, \"/projects/123/settings/gcp-enableMyFeature\"",
                  "required": true
                }
              },
              "httpMethod": "PATCH",
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Unused. The size of the page to be returned."
                },
                "view": {
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the SETTING_VIEW_BASIC view.",
                    "Include Setting.metadata, but nothing else. This is the default value (for both ListSettings and GetSetting).",
                    "Include Setting.effective_value, but nothing else.",
                    "Include Setting.local_value, but nothing else."
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "The SettingView for this request.",
                  "enum": [
                    "SETTING_VIEW_UNSPECIFIED",
                    "SETTING_VIEW_BASIC",
                    "SETTING_VIEW_EFFECTIVE_VALUE",
                    "SETTING_VIEW_LOCAL_VALUE"
                  ]
                },
                "pageToken": {
                  "description": "Unused. A page token used to retrieve the next page.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The project, folder, or organization that is the parent resource for this setting. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
                }
              },
              "id": "resourcesettings.projects.settings.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/settings",
              "httpMethod": "GET",
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1ListSettingsResponse"
              },
              "description": "Lists all the settings that are available on the Cloud resource `parent`.",
              "path": "v1/{+parent}/settings"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the setting to get. See Setting for naming requirements.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/settings/[^/]+$"
                },
                "view": {
                  "description": "The SettingView for this request.",
                  "enum": [
                    "SETTING_VIEW_UNSPECIFIED",
                    "SETTING_VIEW_BASIC",
                    "SETTING_VIEW_EFFECTIVE_VALUE",
                    "SETTING_VIEW_LOCAL_VALUE"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the SETTING_VIEW_BASIC view.",
                    "Include Setting.metadata, but nothing else. This is the default value (for both ListSettings and GetSetting).",
                    "Include Setting.effective_value, but nothing else.",
                    "Include Setting.local_value, but nothing else."
                  ],
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/settings/{settingsId}",
              "id": "resourcesettings.projects.settings.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a specified setting. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist.",
              "deprecated": true
            }
          },
          "deprecated": true
        }
      }
    },
    "organizations": {
      "resources": {
        "settings": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/settings/{settingsId}",
              "parameters": {
                "view": {
                  "enum": [
                    "SETTING_VIEW_UNSPECIFIED",
                    "SETTING_VIEW_BASIC",
                    "SETTING_VIEW_EFFECTIVE_VALUE",
                    "SETTING_VIEW_LOCAL_VALUE"
                  ],
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the SETTING_VIEW_BASIC view.",
                    "Include Setting.metadata, but nothing else. This is the default value (for both ListSettings and GetSetting).",
                    "Include Setting.effective_value, but nothing else.",
                    "Include Setting.local_value, but nothing else."
                  ],
                  "location": "query",
                  "description": "The SettingView for this request.",
                  "type": "string"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/settings/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the setting to get. See Setting for naming requirements.",
                  "required": true
                }
              },
              "deprecated": true,
              "id": "resourcesettings.organizations.settings.get",
              "description": "Returns a specified setting. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist.",
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "path": "v1/{+parent}/settings",
              "flatPath": "v1/organizations/{organizationsId}/settings",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all the settings that are available on the Cloud resource `parent`.",
              "httpMethod": "GET",
              "id": "resourcesettings.organizations.settings.list",
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1ListSettingsResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The project, folder, or organization that is the parent resource for this setting. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Unused. The size of the page to be returned.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Unused. A page token used to retrieve the next page.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "location": "query",
                  "description": "The SettingView for this request.",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the SETTING_VIEW_BASIC view.",
                    "Include Setting.metadata, but nothing else. This is the default value (for both ListSettings and GetSetting).",
                    "Include Setting.effective_value, but nothing else.",
                    "Include Setting.local_value, but nothing else."
                  ],
                  "type": "string",
                  "enum": [
                    "SETTING_VIEW_UNSPECIFIED",
                    "SETTING_VIEW_BASIC",
                    "SETTING_VIEW_EFFECTIVE_VALUE",
                    "SETTING_VIEW_LOCAL_VALUE"
                  ]
                }
              },
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "flatPath": "v1/organizations/{organizationsId}/settings/{settingsId}",
              "request": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "description": "Updates a specified setting. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.FAILED_PRECONDITION` if the setting is flagged as read only. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the setting value. On success, the response will contain only `name`, `local_value` and `etag`. The `metadata` and `effective_value` cannot be updated through this API. Note: the supplied setting will perform a full overwrite of the `local_value` field.",
              "deprecated": true,
              "parameters": {
                "name": {
                  "description": "The resource name of the setting. Must be in one of the following forms: * `projects/{project_number}/settings/{setting_name}` * `folders/{folder_id}/settings/{setting_name}` * `organizations/{organization_id}/settings/{setting_name}` For example, \"/projects/123/settings/gcp-enableMyFeature\"",
                  "required": true,
                  "pattern": "^organizations/[^/]+/settings/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudResourcesettingsV1Setting"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "id": "resourcesettings.organizations.settings.patch"
            }
          },
          "deprecated": true
        }
      }
    }
  },
  "revision": "20240602",
  "title": "Resource Settings API",
  "version_module": true,
  "description": "The Resource Settings API allows users to control and modify the behavior of their GCP resources (e.g., VM, firewall, Project, etc.) across the Cloud Resource Hierarchy.",
  "schemas": {
    "GoogleCloudResourcesettingsV1SettingMetadata": {
      "description": "Metadata about a setting which is not editable by the end user.",
      "type": "object",
      "id": "GoogleCloudResourcesettingsV1SettingMetadata",
      "properties": {
        "readOnly": {
          "type": "boolean",
          "description": "A flag indicating that values of this setting cannot be modified. See documentation for the specific setting for updates and reasons."
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "STRING_SET",
            "ENUM_VALUE",
            "DURATION_VALUE",
            "STRING_MAP"
          ],
          "description": "The data type for this setting.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified data type.",
            "A boolean setting.",
            "A string setting.",
            "A string set setting.",
            "A Enum setting",
            "A Duration setting",
            "A string-\u003estring map setting"
          ]
        },
        "defaultValue": {
          "$ref": "GoogleCloudResourcesettingsV1Value",
          "description": "The value provided by Setting.effective_value if no setting value is explicitly set. Note: not all settings have a default value."
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name for this setting."
        },
        "description": {
          "description": "A detailed description of what this setting does.",
          "type": "string"
        }
      }
    },
    "GoogleCloudResourcesettingsV1ValueStringSet": {
      "id": "GoogleCloudResourcesettingsV1ValueStringSet",
      "type": "object",
      "description": "A string set value that can hold a set of strings. The maximum length of each string is 200 characters and there can be a maximum of 50 strings in the string set.",
      "properties": {
        "values": {
          "description": "The strings in the set",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudResourcesettingsV1ValueEnumValue": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of this enum"
        }
      },
      "description": "A enum value that can hold any enum type setting values. Each enum type is represented by a number, this representation is stored in the definitions.",
      "id": "GoogleCloudResourcesettingsV1ValueEnumValue"
    },
    "GoogleCloudResourcesettingsV1Setting": {
      "type": "object",
      "description": "The schema for settings.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the setting. Must be in one of the following forms: * `projects/{project_number}/settings/{setting_name}` * `folders/{folder_id}/settings/{setting_name}` * `organizations/{organization_id}/settings/{setting_name}` For example, \"/projects/123/settings/gcp-enableMyFeature\""
        },
        "effectiveValue": {
          "readOnly": true,
          "$ref": "GoogleCloudResourcesettingsV1Value",
          "description": "Output only. The effective value of the setting at the given parent resource, evaluated based on the resource hierarchy The effective value evaluates to one of the following options, in this order. If an option is not valid or doesn't exist, then the next option is used: 1. The local setting value on the given resource: Setting.local_value 2. If one of the given resource's ancestors in the resource hierarchy have a local setting value, the local value at the nearest such ancestor. 3. The setting's default value: SettingMetadata.default_value 4. An empty value, defined as a `Value` with all fields unset. The data type of Value must always be consistent with the data type defined in Setting.metadata."
        },
        "metadata": {
          "$ref": "GoogleCloudResourcesettingsV1SettingMetadata",
          "description": "Output only. Metadata about a setting which is not editable by the end user.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "A fingerprint used for optimistic concurrency. See UpdateSetting for more details."
        },
        "localValue": {
          "$ref": "GoogleCloudResourcesettingsV1Value",
          "description": "The configured value of the setting at the given parent resource, ignoring the resource hierarchy. The data type of Value must always be consistent with the data type defined in Setting.metadata."
        }
      },
      "id": "GoogleCloudResourcesettingsV1Setting"
    },
    "GoogleCloudResourcesettingsV1Value": {
      "description": "The data in a setting value.",
      "properties": {
        "enumValue": {
          "$ref": "GoogleCloudResourcesettingsV1ValueEnumValue",
          "description": "Defines this value as being a Enum."
        },
        "stringMapValue": {
          "description": "Defines this value as being a StringMap.",
          "$ref": "GoogleCloudResourcesettingsV1ValueStringMap"
        },
        "stringSetValue": {
          "$ref": "GoogleCloudResourcesettingsV1ValueStringSet",
          "description": "Defines this value as being a StringSet."
        },
        "durationValue": {
          "format": "google-duration",
          "type": "string",
          "description": "Defines this value as being a Duration."
        },
        "stringValue": {
          "description": "Defines this value as being a string value.",
          "type": "string"
        },
        "booleanValue": {
          "description": "Defines this value as being a boolean value.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudResourcesettingsV1Value"
    },
    "GoogleCloudResourcesettingsV1ListSettingsResponse": {
      "description": "The response from ListSettings.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Unused. A page token used to retrieve the next page."
        },
        "settings": {
          "description": "A list of settings that are available at the specified Cloud resource.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudResourcesettingsV1Setting"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudResourcesettingsV1ListSettingsResponse"
    },
    "GoogleCloudResourcesettingsV1ValueStringMap": {
      "id": "GoogleCloudResourcesettingsV1ValueStringMap",
      "properties": {
        "mappings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The key-value pairs in the map"
        }
      },
      "type": "object",
      "description": "A string-\u003estring map value that can hold a map of string keys to string values. The maximum length of each string is 200 characters and there can be a maximum of 50 key-value pairs in the map."
    }
  },
  "mtlsRootUrl": "https://resourcesettings.mtls.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "id": "resourcesettings:v1"
}
