{
  "servicePath": "",
  "mtlsRootUrl": "https://retail.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "baseUrl": "https://retail.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://retail.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "revision": "20211203",
  "description": "Cloud Retail service enables customers to build end-to-end personalized recommendation systems without requiring a high level of expertise in machine learning, recommendation system, or Google Cloud.",
  "id": "retail:v2beta",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "retail.projects.locations.operations.list",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "path": "v2beta/{+name}/operations"
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "retail.projects.locations.operations.get",
                  "path": "v2beta/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            },
            "catalogs": {
              "resources": {
                "completionData": {
                  "methods": {
                    "import": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "type": "string",
                          "description": "Required. The catalog which the suggestions dataset belongs to. Format: `projects/1234/locations/global/catalogs/default_catalog`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/completionData:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Bulk import of processed completion dataset. Request processing may be synchronous. Partial updating is not supported. This feature is only available for users who have Retail Search enabled. Please submit a form [here](https://cloud.google.com/contact) to contact cloud sales if you are interested in using Retail Search.",
                      "id": "retail.projects.locations.catalogs.completionData.import",
                      "path": "v2beta/{+parent}/completionData:import",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaImportCompletionDataRequest"
                      }
                    }
                  }
                },
                "userEvents": {
                  "methods": {
                    "import": {
                      "id": "retail.projects.locations.catalogs.userEvents.import",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "description": "Bulk import of User events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "location": "path",
                          "description": "Required. `projects/1234/locations/global/catalogs/default_catalog`"
                        }
                      },
                      "path": "v2beta/{+parent}/userEvents:import",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/userEvents:import",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaImportUserEventsRequest"
                      }
                    },
                    "rejoin": {
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/userEvents:rejoin",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaRejoinUserEventsRequest"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "description": "Required. The parent catalog resource name, such as `projects/1234/locations/global/catalogs/default_catalog`."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v2beta/{+parent}/userEvents:rejoin",
                      "description": "Triggers a user event rejoin operation with latest product catalog. Events will not be annotated with detailed product information if product is missing from the catalog at the time the user event is ingested, and these events are stored as unjoined events with a limited usage on training and serving. This API can be used to trigger a 'join' operation on specified events with latest version of product catalog. It can also be used to correct events joined with wrong product catalog.",
                      "id": "retail.projects.locations.catalogs.userEvents.rejoin",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "write": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaUserEvent"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2beta/{+parent}/userEvents:write",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaUserEvent"
                      },
                      "id": "retail.projects.locations.catalogs.userEvents.write",
                      "description": "Writes a single user event.",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent catalog resource name, such as `projects/1234/locations/global/catalogs/default_catalog`."
                        }
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/userEvents:write"
                    },
                    "purge": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "retail.projects.locations.catalogs.userEvents.purge",
                      "description": "Deletes permanently all user events specified by the filter provided. Depending on the number of events specified by the filter, this operation could take hours or days to complete. To test a filter, use the list command first.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/userEvents:purge",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the catalog under which the events are created. The format is `projects/${projectId}/locations/global/catalogs/${catalogId}`",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaPurgeUserEventsRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v2beta/{+parent}/userEvents:purge"
                    },
                    "collect": {
                      "id": "retail.projects.locations.catalogs.userEvents.collect",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "path": "v2beta/{+parent}/userEvents:collect",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/userEvents:collect",
                      "parameters": {
                        "ets": {
                          "description": "The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.",
                          "type": "string",
                          "location": "query",
                          "format": "int64"
                        },
                        "userEvent": {
                          "location": "query",
                          "description": "Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters.",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "description": "Required. The parent catalog name, such as `projects/1234/locations/global/catalogs/default_catalog`.",
                          "required": true
                        },
                        "uri": {
                          "type": "string",
                          "description": "The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for 3rd party requests.",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a 3rd party domain. This method is used only by the Retail API JavaScript pixel and Google Tag Manager. Users should not call this method directly.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "placements": {
                  "methods": {
                    "predict": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "placement": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/placements/[^/]+$",
                          "description": "Required. Full resource name of the format: {name=projects/*/locations/global/catalogs/default_catalog/placements/*} The ID of the Recommendations AI placement. Before you can request predictions from your model, you must create at least one placement for it. For more information, see [Managing placements](https://cloud.google.com/retail/recommendations-ai/docs/manage-placements). The full list of available placements can be seen at https://console.cloud.google.com/recommendation/catalogs/default_catalog/placements",
                          "type": "string"
                        }
                      },
                      "path": "v2beta/{+placement}:predict",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaPredictRequest"
                      },
                      "parameterOrder": [
                        "placement"
                      ],
                      "description": "Makes a recommendation prediction.",
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaPredictResponse"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/placements/{placementsId}:predict",
                      "id": "retail.projects.locations.catalogs.placements.predict",
                      "httpMethod": "POST"
                    },
                    "search": {
                      "response": {
                        "$ref": "GoogleCloudRetailV2betaSearchResponse"
                      },
                      "path": "v2beta/{+placement}:search",
                      "parameters": {
                        "placement": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/placements/[^/]+$",
                          "description": "Required. The resource name of the search engine placement, such as `projects/*/locations/global/catalogs/default_catalog/placements/default_search`. This field is used to identify the serving configuration name and the set of models that will be used to make the search.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "id": "retail.projects.locations.catalogs.placements.search",
                      "request": {
                        "$ref": "GoogleCloudRetailV2betaSearchRequest"
                      },
                      "parameterOrder": [
                        "placement"
                      ],
                      "description": "Performs a search. This feature is only available for users who have Retail Search enabled. Please submit a form [here](https://cloud.google.com/contact) to contact cloud sales if you are interested in using Retail Search.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/placements/{placementsId}:search"
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "path": "v2beta/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "retail.projects.locations.catalogs.operations.get"
                    },
                    "list": {
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                      "id": "retail.projects.locations.catalogs.operations.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2beta/{+name}/operations",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list filter."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The standard list page size.",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "branches": {
                  "resources": {
                    "products": {
                      "methods": {
                        "patch": {
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Immutable. Full resource name of the product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/product_id`.",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$"
                            },
                            "allowMissing": {
                              "location": "query",
                              "description": "If set to true, and the Product is not found, a new Product will be created. In this situation, `update_mask` is ignored.",
                              "type": "boolean"
                            },
                            "updateMask": {
                              "type": "string",
                              "format": "google-fieldmask",
                              "location": "query",
                              "description": "Indicates which fields in the provided Product to update. The immutable and output only fields are NOT supported. If not set, all supported fields (the fields that are neither immutable nor output only) are updated. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned."
                            }
                          },
                          "description": "Updates a Product.",
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}",
                          "path": "v2beta/{+name}",
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaProduct"
                          },
                          "httpMethod": "PATCH",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "retail.projects.locations.catalogs.branches.products.patch",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudRetailV2betaProduct"
                          }
                        },
                        "import": {
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products:import",
                          "description": "Bulk import of multiple Products. Request processing may be synchronous. No partial updating is supported. Non-existing items are created. Note that it is possible for a subset of the Products to be successfully updated.",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v2beta/{+parent}/products:import",
                          "id": "retail.projects.locations.catalogs.branches.products.import",
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaImportProductsRequest"
                          },
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Required. `projects/1234/locations/global/catalogs/default_catalog/branches/default_branch` If no updateMask is specified, requires products.create permission. If updateMask is specified, requires products.update permission."
                            }
                          }
                        },
                        "list": {
                          "path": "v2beta/{+parent}/products",
                          "parameters": {
                            "filter": {
                              "description": "A filter to apply on the list results. Supported features: * List all the products under the parent branch if filter is unset. * List Product.Type.VARIANT Products sharing the same Product.Type.PRIMARY Product. For example: `primary_product_id = \"some_product_id\"` * List Products bundled in a Product.Type.COLLECTION Product. For example: `collection_product_id = \"some_product_id\"` * List Products with a partibular type. For example: `type = \"PRIMARY\"` `type = \"VARIANT\"` `type = \"COLLECTION\"` If the field is unrecognizable, an INVALID_ARGUMENT error is returned. If the specified Product.Type.PRIMARY Product or Product.Type.COLLECTION Product does not exist, a NOT_FOUND error is returned.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. The parent branch resource name, such as `projects/*/locations/global/catalogs/default_catalog/branches/0`. Use `default_branch` as the branch ID, to list products under the default branch. If the caller does not have permission to list Products under this branch, regardless of whether or not this branch exists, a PERMISSION_DENIED error is returned.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+$",
                              "type": "string",
                              "location": "path"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "description": "Maximum number of Products to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an INVALID_ARGUMENT error is returned.",
                              "location": "query"
                            },
                            "readMask": {
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask",
                              "description": "The fields of Product to return in the responses. If not set or empty, the following fields are returned: * Product.name * Product.id * Product.title * Product.uri * Product.images * Product.price_info * Product.brands If \"*\" is provided, all fields are returned. Product.name is always returned no matter what mask is set. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned."
                            },
                            "pageToken": {
                              "description": "A page token ListProductsResponse.next_page_token, received from a previous ProductService.ListProducts call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ProductService.ListProducts must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products",
                          "id": "retail.projects.locations.catalogs.branches.products.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Gets a list of Products.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudRetailV2betaListProductsResponse"
                          },
                          "httpMethod": "GET"
                        },
                        "addFulfillmentPlaces": {
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaAddFulfillmentPlacesRequest"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Incrementally adds place IDs to Product.fulfillment_info.place_ids. This process is asynchronous and does not require the Product to exist before updating fulfillment information. If the request is valid, the update will be enqueued and processed downstream. As a consequence, when a response is returned, the added place IDs are not immediately manifested in the Product queried by GetProduct or ListProducts. This feature is only available for users who have Retail Search enabled. Please submit a form [here](https://cloud.google.com/contact) to contact cloud sales if you are interested in using Retail Search.",
                          "id": "retail.projects.locations.catalogs.branches.products.addFulfillmentPlaces",
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}:addFulfillmentPlaces",
                          "parameters": {
                            "product": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. Full resource name of Product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/some_product_id`. If the caller does not have permission to access the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$"
                            }
                          },
                          "parameterOrder": [
                            "product"
                          ],
                          "path": "v2beta/{+product}:addFulfillmentPlaces",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "setInventory": {
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$",
                              "location": "path",
                              "description": "Immutable. Full resource name of the product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/product_id`."
                            }
                          },
                          "path": "v2beta/{+name}:setInventory",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Updates inventory information for a Product while respecting the last update timestamps of each inventory field. This process is asynchronous and does not require the Product to exist before updating fulfillment information. If the request is valid, the update will be enqueued and processed downstream. As a consequence, when a response is returned, updates are not immediately manifested in the Product queried by GetProduct or ListProducts. When inventory is updated with CreateProduct and UpdateProduct, the specified inventory field value(s) will overwrite any existing value(s) while ignoring the last update time for this field. Furthermore, the last update time for the specified inventory fields will be overwritten to the time of the CreateProduct or UpdateProduct request. If no inventory fields are set in CreateProductRequest.product, then any pre-existing inventory information for this product will be used. If no inventory fields are set in UpdateProductRequest.set_mask, then any existing inventory information will be preserved. Pre-existing inventory information can only be updated with SetInventory, AddFulfillmentPlaces, and RemoveFulfillmentPlaces. This feature is only available for users who have Retail Search enabled. Please submit a form [here](https://cloud.google.com/contact) to contact cloud sales if you are interested in using Retail Search.",
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaSetInventoryRequest"
                          },
                          "httpMethod": "POST",
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}:setInventory",
                          "id": "retail.projects.locations.catalogs.branches.products.setInventory"
                        },
                        "removeFulfillmentPlaces": {
                          "parameterOrder": [
                            "product"
                          ],
                          "description": "Incrementally removes place IDs from a Product.fulfillment_info.place_ids. This process is asynchronous and does not require the Product to exist before updating fulfillment information. If the request is valid, the update will be enqueued and processed downstream. As a consequence, when a response is returned, the removed place IDs are not immediately manifested in the Product queried by GetProduct or ListProducts. This feature is only available for users who have Retail Search enabled. Please submit a form [here](https://cloud.google.com/contact) to contact cloud sales if you are interested in using Retail Search.",
                          "path": "v2beta/{+product}:removeFulfillmentPlaces",
                          "parameters": {
                            "product": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. Full resource name of Product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/some_product_id`. If the caller does not have permission to access the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "id": "retail.projects.locations.catalogs.branches.products.removeFulfillmentPlaces",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}:removeFulfillmentPlaces",
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaRemoveFulfillmentPlacesRequest"
                          },
                          "httpMethod": "POST"
                        },
                        "create": {
                          "path": "v2beta/{+parent}/products",
                          "response": {
                            "$ref": "GoogleCloudRetailV2betaProduct"
                          },
                          "description": "Creates a Product.",
                          "httpMethod": "POST",
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products",
                          "request": {
                            "$ref": "GoogleCloudRetailV2betaProduct"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "productId": {
                              "description": "Required. The ID to use for the Product, which will become the final component of the Product.name. If the caller does not have permission to create the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. This field must be unique among all Products with the same parent. Otherwise, an ALREADY_EXISTS error is returned. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "type": "string",
                              "description": "Required. The parent catalog resource name, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+$",
                              "location": "path"
                            }
                          },
                          "id": "retail.projects.locations.catalogs.branches.products.create"
                        },
                        "get": {
                          "id": "retail.projects.locations.catalogs.branches.products.get",
                          "response": {
                            "$ref": "GoogleCloudRetailV2betaProduct"
                          },
                          "path": "v2beta/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "description": "Gets a Product.",
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$",
                              "location": "path",
                              "description": "Required. Full resource name of Product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/some_product_id`. If the caller does not have permission to access the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested Product does not exist, a NOT_FOUND error is returned."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Deletes a Product.",
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Required. Full resource name of Product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/some_product_id`. If the caller does not have permission to delete the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the Product to delete does not exist, a NOT_FOUND error is returned. The Product to delete can neither be a Product.Type.COLLECTION Product member nor a Product.Type.PRIMARY Product with more than one variants. Otherwise, an INVALID_ARGUMENT error is returned. All inventory information for the named Product will be deleted.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$"
                            }
                          },
                          "path": "v2beta/{+name}",
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "retail.projects.locations.catalogs.branches.products.delete",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}"
                        }
                      }
                    },
                    "operations": {
                      "methods": {
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/operations/[^/]+$",
                              "description": "The name of the operation resource.",
                              "type": "string",
                              "required": true
                            }
                          },
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/operations/{operationsId}",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "GET",
                          "path": "v2beta/{+name}",
                          "id": "retail.projects.locations.catalogs.branches.operations.get",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "setDefaultBranch": {
                  "httpMethod": "POST",
                  "description": "Set a specified branch id as default branch. API methods such as SearchService.Search, ProductService.GetProduct, ProductService.ListProducts will treat requests using \"default_branch\" to the actual branch id set as default. For example, if `projects/*/locations/*/catalogs/*/branches/1` is set as default, setting SearchRequest.branch to `projects/*/locations/*/catalogs/*/branches/default_branch` is equivalent to setting SearchRequest.branch to `projects/*/locations/*/catalogs/*/branches/1`. Using multiple branches can be useful when developers would like to have a staging branch to test and verify for future usage. When it becomes ready, developers switch on the staging branch using this API while keeping using `projects/*/locations/*/catalogs/*/branches/default_branch` as SearchRequest.branch to route the traffic to this staging branch. CAUTION: If you have live predict/search traffic, switching the default branch could potentially cause outages if the ID space of the new branch is very different from the old one. More specifically: * PredictionService will only return product IDs from branch {newBranch}. * SearchService will only return product IDs from branch {newBranch} (if branch is not explicitly set). * UserEventService will only join events with products from branch {newBranch}. This feature is only available for users who have Retail Search enabled. Please submit a form [here](https://cloud.google.com/contact) to contact cloud sales if you are interested in using Retail Search.",
                  "request": {
                    "$ref": "GoogleCloudRetailV2betaSetDefaultBranchRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}:setDefaultBranch",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "catalog"
                  ],
                  "id": "retail.projects.locations.catalogs.setDefaultBranch",
                  "path": "v2beta/{+catalog}:setDefaultBranch",
                  "parameters": {
                    "catalog": {
                      "location": "path",
                      "required": true,
                      "description": "Full resource name of the catalog, such as `projects/*/locations/global/catalogs/default_catalog`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$"
                    }
                  }
                },
                "patch": {
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}",
                  "httpMethod": "PATCH",
                  "path": "v2beta/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRetailV2betaCatalog"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Immutable. The fully qualified resource name of the catalog.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Indicates which fields in the provided Catalog to update. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "retail.projects.locations.catalogs.patch",
                  "description": "Updates the Catalogs.",
                  "request": {
                    "$ref": "GoogleCloudRetailV2betaCatalog"
                  }
                },
                "getDefaultBranch": {
                  "httpMethod": "GET",
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}:getDefaultBranch",
                  "path": "v2beta/{+catalog}:getDefaultBranch",
                  "description": "Get which branch is currently default branch set by CatalogService.SetDefaultBranch method under a specified parent catalog. This feature is only available for users who have Retail Search enabled. Please submit a form [here](https://cloud.google.com/contact) to contact cloud sales if you are interested in using Retail Search.",
                  "parameterOrder": [
                    "catalog"
                  ],
                  "id": "retail.projects.locations.catalogs.getDefaultBranch",
                  "parameters": {
                    "catalog": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The parent catalog resource name, such as `projects/*/locations/global/catalogs/default_catalog`.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudRetailV2betaGetDefaultBranchResponse"
                  }
                },
                "list": {
                  "path": "v2beta/{+parent}/catalogs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The account resource name with an associated location. If the caller does not have permission to list Catalogs under this location, regardless of whether or not this location exists, a PERMISSION_DENIED error is returned.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token ListCatalogsResponse.next_page_token, received from a previous CatalogService.ListCatalogs call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to CatalogService.ListCatalogs must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Maximum number of Catalogs to return. If unspecified, defaults to 50. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an INVALID_ARGUMENT is returned.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "id": "retail.projects.locations.catalogs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all the Catalogs associated with the project.",
                  "response": {
                    "$ref": "GoogleCloudRetailV2betaListCatalogsResponse"
                  },
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs",
                  "httpMethod": "GET"
                },
                "completeQuery": {
                  "description": "Completes the specified prefix with keyword suggestions. This feature is only available for users who have Retail Search enabled. Please submit a form [here](https://cloud.google.com/contact) to contact cloud sales if you are interested in using Retail Search.",
                  "parameters": {
                    "deviceType": {
                      "location": "query",
                      "type": "string",
                      "description": "The device type context for completion suggestions. It is useful to apply different suggestions on different device types, e.g. `DESKTOP`, `MOBILE`. If it is empty, the suggestions are across all device types. Supported formats: * `UNKNOWN_DEVICE_TYPE` * `DESKTOP` * `MOBILE` * A customized string starts with `OTHER_`, e.g. `OTHER_IPHONE`."
                    },
                    "query": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The query used to generate suggestions. The maximum number of allowed characters is 255."
                    },
                    "languageCodes": {
                      "description": "The list of languages of the query. This is the BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47). The maximum number of allowed characters is 255. Only \"en-US\" is currently supported.",
                      "location": "query",
                      "type": "string",
                      "repeated": true
                    },
                    "catalog": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                      "location": "path",
                      "description": "Required. Catalog for which the completion is performed. Full resource name of catalog, such as `projects/*/locations/global/catalogs/default_catalog`."
                    },
                    "visitorId": {
                      "description": "A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "maxSuggestions": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Completion max suggestions. If left unset or set to 0, then will fallback to the configured value CompletionConfig.max_suggestions. The maximum allowed max suggestions is 20. If it is set higher, it will be capped by 20."
                    },
                    "dataset": {
                      "type": "string",
                      "description": "Determines which dataset to use for fetching completion. \"user-data\" will use the imported dataset through CompletionService.ImportCompletionData. \"cloud-retail\" will use the dataset generated by cloud retail based on user events. If leave empty, it will use the \"user-data\". Current supported values: * user-data * cloud-retail This option requires additional allowlisting. Before using cloud-retail, contact Cloud Retail support team first.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "retail.projects.locations.catalogs.completeQuery",
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}:completeQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "catalog"
                  ],
                  "path": "v2beta/{+catalog}:completeQuery",
                  "response": {
                    "$ref": "GoogleCloudRetailV2betaCompleteQueryResponse"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "version_module": true,
  "protocol": "rest",
  "schemas": {
    "GoogleCloudRetailLoggingHttpRequestContext": {
      "description": "HTTP request data that is related to a reported error.",
      "id": "GoogleCloudRetailLoggingHttpRequestContext",
      "type": "object",
      "properties": {
        "responseStatusCode": {
          "type": "integer",
          "description": "The HTTP response status code for the request.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudRetailV2ImportMetadata": {
      "properties": {
        "requestId": {
          "description": "Id of the request / operation. This is parroting back the requestId that was passed in the request.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that were processed successfully."
        },
        "notificationPubsubTopic": {
          "description": "Pub/Sub topic for receiving notification. If this field is set, when the import is finished, a notification will be sent to specified Pub/Sub topic. The message data will be JSON string of a Operation. Format of the Pub/Sub topic is `projects/{project}/topics/{topic}`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudRetailV2ImportMetadata"
    },
    "GoogleCloudRetailLoggingErrorLog": {
      "id": "GoogleCloudRetailLoggingErrorLog",
      "type": "object",
      "description": "An error log which is reported to the Error Reporting system. This proto a superset of google.devtools.clouderrorreporting.v1beta1.ReportedErrorEvent.",
      "properties": {
        "message": {
          "type": "string",
          "description": "A message describing the error."
        },
        "importPayload": {
          "description": "The error payload that is populated on LRO import APIs.",
          "$ref": "GoogleCloudRetailLoggingImportErrorContext"
        },
        "context": {
          "$ref": "GoogleCloudRetailLoggingErrorContext",
          "description": "A description of the context in which the error occurred."
        },
        "serviceContext": {
          "$ref": "GoogleCloudRetailLoggingServiceContext",
          "description": "The service context in which this error has occurred."
        },
        "requestPayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The API request payload, represented as a protocol buffer. Most API request types are supported. For example: \"type.googleapis.com/google.cloud.retail.v2.ProductService.CreateProductRequest\" \"type.googleapis.com/google.cloud.retail.v2.UserEventService.WriteUserEventRequest\""
        },
        "status": {
          "description": "The RPC status associated with the error log.",
          "$ref": "GoogleRpcStatus"
        },
        "responsePayload": {
          "type": "object",
          "description": "The API response payload, represented as a protocol buffer. This is used to log some \"soft errors\", where the response is valid but we consider there are some quality issues like unjoined events. The following API responses are supported and no PII is included: \"google.cloud.retail.v2.PredictionService.Predict\" \"google.cloud.retail.v2.UserEventService.WriteUserEvent\" \"google.cloud.retail.v2.UserEventService.CollectUserEvent\"",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudRetailV2alphaImportCompletionDataResponse": {
      "id": "GoogleCloudRetailV2alphaImportCompletionDataResponse",
      "type": "object",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "description": "Response of the ImportCompletionDataRequest. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful."
    },
    "GoogleCloudRetailV2alphaImportErrorsConfig": {
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Import errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "description": "Configuration of destination for Import related errors.",
      "id": "GoogleCloudRetailV2alphaImportErrorsConfig"
    },
    "GoogleCloudRetailV2betaCompleteQueryResponseRecentSearchResult": {
      "id": "GoogleCloudRetailV2betaCompleteQueryResponseRecentSearchResult",
      "description": "Recent search of this user.",
      "properties": {
        "recentSearch": {
          "type": "string",
          "description": "The recent search query."
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2RejoinUserEventsResponse": {
      "properties": {
        "rejoinedUserEventsCount": {
          "type": "string",
          "description": "Number of user events that were joined with latest product catalog.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudRetailV2RejoinUserEventsResponse",
      "type": "object",
      "description": "Response message for RejoinUserEvents method."
    },
    "GoogleCloudRetailV2betaPriceInfo": {
      "properties": {
        "priceEffectiveTime": {
          "description": "The timestamp when the price starts to be effective. This can be set as a future timestamp, and the price is only used for search after price_effective_time. If so, the original_price must be set and original_price is used before price_effective_time. Do not set if price is always effective because it will cause additional latency during search.",
          "type": "string",
          "format": "google-datetime"
        },
        "price": {
          "type": "number",
          "description": "Price of the product. Google Merchant Center property [price](https://support.google.com/merchants/answer/6324371). Schema.org property [Offer.priceSpecification](https://schema.org/priceSpecification).",
          "format": "float"
        },
        "currencyCode": {
          "type": "string",
          "description": "The 3-letter currency code defined in [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html). If this field is an unrecognizable currency code, an INVALID_ARGUMENT error is returned. The Product.Type.VARIANT Products with the same Product.primary_product_id must share the same currency_code. Otherwise, a FAILED_PRECONDITION error is returned."
        },
        "priceExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the price stops to be effective. The price is used for search before price_expire_time. If this field is set, the original_price must be set and original_price is used after price_expire_time. Do not set if price is always effective because it will cause additional latency during search."
        },
        "originalPrice": {
          "description": "Price of the product without any discount. If zero, by default set to be the price.",
          "format": "float",
          "type": "number"
        },
        "priceRange": {
          "description": "Output only. The price range of all the child Product.Type.VARIANT Products grouped together on the Product.Type.PRIMARY Product. Only populated for Product.Type.PRIMARY Products. Note: This field is OUTPUT_ONLY for ProductService.GetProduct. Do not set this field in API requests.",
          "$ref": "GoogleCloudRetailV2betaPriceInfoPriceRange",
          "readOnly": true
        },
        "cost": {
          "format": "float",
          "description": "The costs associated with the sale of a particular product. Used for gross profit reporting. * Profit = price - cost Google Merchant Center property [cost_of_goods_sold](https://support.google.com/merchants/answer/9017895).",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2betaPriceInfo",
      "description": "The price information of a Product."
    },
    "GoogleCloudRetailV2alphaAddLocalInventoriesMetadata": {
      "description": "Metadata related to the progress of the AddLocalInventories operation. Currently empty because there is no meaningful metadata populated from the AddLocalInventories method.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudRetailV2alphaAddLocalInventoriesMetadata"
    },
    "GoogleCloudRetailV2betaProductInputConfig": {
      "id": "GoogleCloudRetailV2betaProductInputConfig",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudRetailV2betaGcsSource",
          "description": "Google Cloud Storage location for the input content."
        },
        "productInlineSource": {
          "$ref": "GoogleCloudRetailV2betaProductInlineSource",
          "description": "The Inline source for the input content for products."
        },
        "bigQuerySource": {
          "description": "BigQuery input source.",
          "$ref": "GoogleCloudRetailV2betaBigQuerySource"
        }
      },
      "type": "object",
      "description": "The input config source for products."
    },
    "GoogleCloudRetailV2betaCatalog": {
      "properties": {
        "productLevelConfig": {
          "description": "Required. The product level configuration.",
          "$ref": "GoogleCloudRetailV2betaProductLevelConfig"
        },
        "name": {
          "type": "string",
          "description": "Required. Immutable. The fully qualified resource name of the catalog."
        },
        "displayName": {
          "description": "Required. Immutable. The catalog display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        }
      },
      "description": "The catalog configuration.",
      "id": "GoogleCloudRetailV2betaCatalog",
      "type": "object"
    },
    "GoogleCloudRetailV2betaUserEventImportSummary": {
      "type": "object",
      "properties": {
        "unjoinedEventsCount": {
          "description": "Count of user events imported, but with catalog information not found in the imported catalog.",
          "type": "string",
          "format": "int64"
        },
        "joinedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user events imported with complete existing catalog information."
        }
      },
      "id": "GoogleCloudRetailV2betaUserEventImportSummary",
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events."
    },
    "GoogleCloudRetailV2betaAudience": {
      "description": "An intended audience of the Product for whom it's sold.",
      "id": "GoogleCloudRetailV2betaAudience",
      "properties": {
        "genders": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The genders of the audience. Strongly encouraged to use the standard values: \"male\", \"female\", \"unisex\". At most 5 values are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [gender](https://support.google.com/merchants/answer/6324479). Schema.org property [Product.audience.suggestedGender](https://schema.org/suggestedGender)."
        },
        "ageGroups": {
          "description": "The age groups of the audience. Strongly encouraged to use the standard values: \"newborn\" (up to 3 months old), \"infant\" (3–12 months old), \"toddler\" (1–5 years old), \"kids\" (5–13 years old), \"adult\" (typically teens or older). At most 5 values are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [age_group](https://support.google.com/merchants/answer/6324463). Schema.org property [Product.audience.suggestedMinAge](https://schema.org/suggestedMinAge) and [Product.audience.suggestedMaxAge](https://schema.org/suggestedMaxAge).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2betaExportErrorsConfig": {
      "description": "Configuration of destination for Export related errors.",
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2betaExportErrorsConfig"
    },
    "GoogleCloudRetailV2betaAddFulfillmentPlacesRequest": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The fulfillment type, including commonly used types (such as pickup in store and same day delivery), and custom types. Supported values: * \"pickup-in-store\" * \"ship-to-store\" * \"same-day-delivery\" * \"next-day-delivery\" * \"custom-type-1\" * \"custom-type-2\" * \"custom-type-3\" * \"custom-type-4\" * \"custom-type-5\" If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned. This field directly corresponds to Product.fulfillment_info.type."
        },
        "placeIds": {
          "type": "array",
          "description": "Required. The IDs for this type, such as the store IDs for \"pickup-in-store\" or the region IDs for \"same-day-delivery\" to be added for this type. Duplicate IDs will be automatically ignored. At least 1 value is required, and a maximum of 2000 values are allowed. Each value must be a string with a length limit of 10 characters, matching the pattern `[a-zA-Z0-9_-]+`, such as \"store1\" or \"REGION-2\". Otherwise, an INVALID_ARGUMENT error is returned. If the total number of place IDs exceeds 2000 for this type after adding, then the update will be rejected.",
          "items": {
            "type": "string"
          }
        },
        "addTime": {
          "description": "The time when the fulfillment updates are issued, used to prevent out-of-order updates on fulfillment information. If not provided, the internal system time will be used.",
          "format": "google-datetime",
          "type": "string"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "If set to true, and the Product is not found, the fulfillment information will still be processed and retained for at most 1 day and processed once the Product is created. If set to false, a NOT_FOUND error is returned if the Product is not found."
        }
      },
      "description": "Request message for AddFulfillmentPlaces method.",
      "type": "object",
      "id": "GoogleCloudRetailV2betaAddFulfillmentPlacesRequest"
    },
    "GoogleCloudRetailV2betaGcsSource": {
      "properties": {
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for product imports: * `product` (default): One JSON Product per line. Each product must have a valid Product.id. * `product_merchant_center`: See [Importing catalog data from Merchant Center](https://cloud.google.com/retail/recommendations-ai/docs/upload-catalog#mc). Supported values for user events imports: * `user_event` (default): One JSON UserEvent per line. * `user_event_ga360`: Using https://support.google.com/analytics/answer/3437719."
        },
        "inputUris": {
          "description": "Required. Google Cloud Storage URIs to input files. URI can be up to 2000 characters long. URIs can match the full object path (for example, `gs://bucket/directory/object.json`) or a pattern matching one or more files, such as `gs://bucket/directory/*.json`. A request can contain at most 100 files, and each file can be up to 2 GB. See [Importing product information](https://cloud.google.com/retail/recommendations-ai/docs/upload-catalog) for the expected file format and setup instructions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Google Cloud Storage location for input content. format.",
      "id": "GoogleCloudRetailV2betaGcsSource",
      "type": "object"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      }
    },
    "GoogleCloudRetailV2betaPredictRequest": {
      "id": "GoogleCloudRetailV2betaPredictRequest",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters, and cannot be empty. Values can be empty, and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object"
        },
        "pageToken": {
          "description": "The previous PredictResponse.next_page_token.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Maximum number of results to return per page. Set this property to the number of prediction results needed. If zero, the service will choose a reasonable default. The maximum allowed value is 100. Values above 100 will be coerced to 100.",
          "type": "integer"
        },
        "params": {
          "description": "Additional domain specific parameters for the predictions. Allowed values: * `returnProduct`: Boolean. If set to true, the associated product object will be returned in the `results.metadata` field in the prediction response. * `returnScore`: Boolean. If set to true, the prediction 'score' corresponding to each returned product will be set in the `results.metadata` field in the prediction response. The given 'score' indicates the probability of an product being clicked/purchased given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to false, the service will return generic (unfiltered) popular products instead of empty if your filter blocks all prediction results. * `priceRerankLevel`: String. Default empty. If set to be non-empty, then it needs to be one of {'no-price-reranking', 'low-price-reranking', 'medium-price-reranking', 'high-price-reranking'}. This gives request-level control and adjusts prediction results based on product price. * `diversityLevel`: String. Default empty. If set to be non-empty, then it needs to be one of {'no-diversity', 'low-diversity', 'medium-diversity', 'high-diversity', 'auto-diversity'}. This gives request-level control and adjusts prediction results based on product category.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "userEvent": {
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the predict request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging.",
          "$ref": "GoogleCloudRetailV2betaUserEvent"
        },
        "filter": {
          "type": "string",
          "description": "Filter for restricting prediction results with a length limit of 5,000 characters. Accepts values for tags and the `filterOutOfStockItems` flag. * Tag expressions. Restricts predictions to products that match all of the specified tags. Boolean operators `OR` and `NOT` are supported if the expression is enclosed in parentheses, and must be separated from the tag values by a space. `-\"tagA\"` is also supported and is equivalent to `NOT \"tagA\"`. Tag values must be double quoted UTF-8 encoded strings with a size limit of 1,000 characters. Note: \"Recently viewed\" models don't support tag filtering at the moment. * filterOutOfStockItems. Restricts predictions to products that do not have a stockState value of OUT_OF_STOCK. Examples: * tag=(\"Red\" OR \"Blue\") tag=\"New-Arrival\" tag=(NOT \"promotional\") * filterOutOfStockItems tag=(-\"promotional\") * filterOutOfStockItems If your filter blocks all prediction results, nothing will be returned. If you want generic (unfiltered) popular products to be returned instead, set `strictFiltering` to false in `PredictRequest.params`."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Use validate only mode for this prediction query. If set to true, a dummy model will be used that returns arbitrary products. Note that the validate only mode should only be used for testing the API, or if the model is not ready."
        }
      },
      "description": "Request message for Predict method.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaAddFulfillmentPlacesMetadata": {
      "id": "GoogleCloudRetailV2alphaAddFulfillmentPlacesMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata related to the progress of the AddFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the AddFulfillmentPlaces method."
    },
    "GoogleCloudRetailV2alphaAddLocalInventoriesResponse": {
      "type": "object",
      "description": "Response of the AddLocalInventories API. Currently empty because there is no meaningful response populated from the AddLocalInventories method.",
      "id": "GoogleCloudRetailV2alphaAddLocalInventoriesResponse",
      "properties": {}
    },
    "GoogleCloudRetailV2alphaPurgeUserEventsResponse": {
      "properties": {
        "purgedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of events purged as a result of the operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaPurgeUserEventsResponse",
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field."
    },
    "GoogleCloudRetailV2alphaUserEventImportSummary": {
      "properties": {
        "unjoinedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user events imported, but with catalog information not found in the imported catalog."
        },
        "joinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported with complete existing catalog information.",
          "type": "string"
        }
      },
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events.",
      "id": "GoogleCloudRetailV2alphaUserEventImportSummary",
      "type": "object"
    },
    "GoogleCloudRetailV2betaRejoinUserEventsMetadata": {
      "type": "object",
      "description": "Metadata for RejoinUserEvents method.",
      "id": "GoogleCloudRetailV2betaRejoinUserEventsMetadata",
      "properties": {}
    },
    "GoogleCloudRetailLoggingServiceContext": {
      "properties": {
        "service": {
          "type": "string",
          "description": "An identifier of the service. For example, \"retail.googleapis.com\"."
        }
      },
      "description": "Describes a running service that sends errors.",
      "type": "object",
      "id": "GoogleCloudRetailLoggingServiceContext"
    },
    "GoogleCloudRetailV2betaFulfillmentInfo": {
      "id": "GoogleCloudRetailV2betaFulfillmentInfo",
      "type": "object",
      "description": "Fulfillment information, such as the store IDs for in-store pickup or region IDs for different shipping methods.",
      "properties": {
        "placeIds": {
          "type": "array",
          "description": "The IDs for this type, such as the store IDs for FulfillmentInfo.type.pickup-in-store or the region IDs for FulfillmentInfo.type.same-day-delivery. A maximum of 3000 values are allowed. Each value must be a string with a length limit of 30 characters, matching the pattern `[a-zA-Z0-9_-]+`, such as \"store1\" or \"REGION-2\". Otherwise, an INVALID_ARGUMENT error is returned.",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "The fulfillment type, including commonly used types (such as pickup in store and same day delivery), and custom types. Customers have to map custom types to their display names before rendering UI. Supported values: * \"pickup-in-store\" * \"ship-to-store\" * \"same-day-delivery\" * \"next-day-delivery\" * \"custom-type-1\" * \"custom-type-2\" * \"custom-type-3\" * \"custom-type-4\" * \"custom-type-5\" If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2betaSetInventoryResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudRetailV2betaSetInventoryResponse",
      "description": "Response of the SetInventoryRequest. Currently empty because there is no meaningful response populated from the SetInventory method."
    },
    "GoogleCloudRetailV2betaListCatalogsResponse": {
      "type": "object",
      "id": "GoogleCloudRetailV2betaListCatalogsResponse",
      "properties": {
        "catalogs": {
          "description": "All the customer's Catalogs.",
          "items": {
            "$ref": "GoogleCloudRetailV2betaCatalog"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListCatalogsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for CatalogService.ListCatalogs method."
    },
    "GoogleCloudRetailV2betaUserEventInputConfig": {
      "type": "object",
      "properties": {
        "bigQuerySource": {
          "$ref": "GoogleCloudRetailV2betaBigQuerySource",
          "description": "Required. BigQuery input source."
        },
        "userEventInlineSource": {
          "$ref": "GoogleCloudRetailV2betaUserEventInlineSource",
          "description": "Required. The Inline source for the input content for UserEvents."
        },
        "gcsSource": {
          "description": "Required. Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudRetailV2betaGcsSource"
        }
      },
      "id": "GoogleCloudRetailV2betaUserEventInputConfig",
      "description": "The input config source for user events."
    },
    "GoogleCloudRetailV2UserEventImportSummary": {
      "properties": {
        "unjoinedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user events imported, but with catalog information not found in the imported catalog."
        },
        "joinedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user events imported with complete existing catalog information."
        }
      },
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events.",
      "id": "GoogleCloudRetailV2UserEventImportSummary",
      "type": "object"
    },
    "GoogleCloudRetailV2betaExportUserEventsResponse": {
      "type": "object",
      "id": "GoogleCloudRetailV2betaExportUserEventsResponse",
      "properties": {
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2betaExportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "Response of the ExportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2betaImportProductsResponse": {
      "type": "object",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2betaImportErrorsConfig"
        }
      },
      "id": "GoogleCloudRetailV2betaImportProductsResponse",
      "description": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2alphaSetInventoryResponse": {
      "properties": {},
      "type": "object",
      "description": "Response of the SetInventoryRequest. Currently empty because there is no meaningful response populated from the SetInventory method.",
      "id": "GoogleCloudRetailV2alphaSetInventoryResponse"
    },
    "GoogleCloudRetailV2betaRemoveFulfillmentPlacesMetadata": {
      "id": "GoogleCloudRetailV2betaRemoveFulfillmentPlacesMetadata",
      "description": "Metadata related to the progress of the RemoveFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the RemoveFulfillmentPlaces method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRetailV2alphaAddFulfillmentPlacesResponse": {
      "description": "Response of the AddFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the AddFulfillmentPlaces method.",
      "id": "GoogleCloudRetailV2alphaAddFulfillmentPlacesResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudRetailLoggingSourceLocation": {
      "type": "object",
      "id": "GoogleCloudRetailLoggingSourceLocation",
      "description": "Indicates a location in the source code of the service for which errors are reported.",
      "properties": {
        "functionName": {
          "description": "Human-readable name of a function or method. For example, \"google.cloud.retail.v2.UserEventService.ImportUserEvents\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2betaSearchRequestQueryExpansionSpec": {
      "description": "Specification to determine under which conditions query expansion should occur.",
      "properties": {
        "pinUnexpandedResults": {
          "type": "boolean",
          "description": "Whether to pin unexpanded results. If this field is set to true, unexpanded products are always at the top of the search results, followed by the expanded results."
        },
        "condition": {
          "enumDescriptions": [
            "Unspecified query expansion condition. This defaults to Condition.DISABLED.",
            "Disabled query expansion. Only the exact search query is used, even if SearchResponse.total_size is zero.",
            "Automatic query expansion built by Google Retail Search."
          ],
          "description": "The condition under which query expansion should occur. Default to Condition.DISABLED.",
          "type": "string",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "AUTO"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2betaSearchRequestQueryExpansionSpec"
    },
    "GoogleCloudRetailV2betaSearchRequestBoostSpec": {
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "description": "Condition boost specifications. If a product matches multiple conditions in the specifictions, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 10.",
          "items": {
            "$ref": "GoogleCloudRetailV2betaSearchRequestBoostSpecConditionBoostSpec"
          }
        }
      },
      "id": "GoogleCloudRetailV2betaSearchRequestBoostSpec",
      "description": "Boost specification to boost certain items.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaSetLocalInventoriesMetadata": {
      "description": "Metadata related to the progress of the SetLocalInventories operation. Currently empty because there is no meaningful metadata populated from the SetLocalInventories method.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaSetLocalInventoriesMetadata",
      "properties": {}
    },
    "GoogleCloudRetailV2betaProductInlineSource": {
      "id": "GoogleCloudRetailV2betaProductInlineSource",
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2betaProduct"
          },
          "description": "Required. A list of products to update/create. Each product must have a valid Product.id. Recommended max of 100 items."
        }
      },
[...]
