{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "revision": "20230427",
  "documentationLink": "https://cloud.google.com/recommendations",
  "ownerDomain": "google.com",
  "servicePath": "",
  "ownerName": "Google",
  "id": "retail:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "description": "Cloud Retail service enables customers to build end-to-end personalized recommendation systems without requiring a high level of expertise in machine learning, recommendation system, or Google Cloud.",
  "baseUrl": "https://retail.googleapis.com/",
  "name": "retail",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://retail.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudRetailV2ListProductsResponse": {
      "type": "object",
      "description": "Response message for ProductService.ListProducts method.",
      "id": "GoogleCloudRetailV2ListProductsResponse",
      "properties": {
        "products": {
          "description": "The Products.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2Product"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListProductsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2RemoveLocalInventoriesMetadata": {
      "properties": {},
      "type": "object",
      "description": "Metadata related to the progress of the RemoveLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.RemoveLocalInventories method.",
      "id": "GoogleCloudRetailV2RemoveLocalInventoriesMetadata"
    },
    "GoogleCloudRetailV2betaRemoveLocalInventoriesMetadata": {
      "id": "GoogleCloudRetailV2betaRemoveLocalInventoriesMetadata",
      "description": "Metadata related to the progress of the RemoveLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.RemoveLocalInventories method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudRetailV2Model": {
      "description": "Metadata that describes the training and serving parameters of a Model. A Model can be associated with a ServingConfig and then queried through the Predict API.",
      "type": "object",
      "properties": {
        "dataState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "DATA_STATE_UNSPECIFIED",
            "DATA_OK",
            "DATA_ERROR"
          ],
          "enumDescriptions": [
            "Unspecified default value, should never be explicitly set.",
            "The model has sufficient training data.",
            "The model does not have sufficient training data. Error messages can be queried via Stackdriver."
          ],
          "description": "Output only. The state of data requirements for this model: `DATA_OK` and `DATA_ERROR`. Recommendation model cannot be trained if the data is in `DATA_ERROR` state. Recommendation model can have `DATA_ERROR` state even if serving state is `ACTIVE`: models were trained successfully before, but cannot be refreshed because model no longer has sufficient data for training."
        },
        "lastTuneTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the latest successful tune finished."
        },
        "servingConfigLists": {
          "readOnly": true,
          "description": "Output only. The list of valid serving configs associated with the PageOptimizationConfig.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2ModelServingConfigList"
          }
        },
        "filteringOption": {
          "enumDescriptions": [
            "Value used when unset. In this case, server behavior defaults to RECOMMENDATIONS_FILTERING_DISABLED.",
            "Recommendation filtering is disabled.",
            "Recommendation filtering is enabled."
          ],
          "enum": [
            "RECOMMENDATIONS_FILTERING_OPTION_UNSPECIFIED",
            "RECOMMENDATIONS_FILTERING_DISABLED",
            "RECOMMENDATIONS_FILTERING_ENABLED"
          ],
          "description": "Optional. If `RECOMMENDATIONS_FILTERING_ENABLED`, recommendation filtering by attributes is enabled for the model.",
          "type": "string"
        },
        "optimizationObjective": {
          "type": "string",
          "description": "Optional. The optimization objective e.g. `cvr`. Currently supported values: `ctr`, `cvr`, `revenue-per-order`. If not specified, we choose default based on model type. Default depends on type of recommendation: `recommended-for-you` =\u003e `ctr` `others-you-may-like` =\u003e `ctr` `frequently-bought-together` =\u003e `revenue_per_order` This field together with optimization_objective describe model metadata to use to control model training and serving. See https://cloud.google.com/retail/docs/models for more details on what the model metadata control and which combination of parameters are valid. For invalid combinations of parameters (e.g. type = `frequently-bought-together` and optimization_objective = `ctr`), you receive an error 400 if you try to create/update a recommendation with this set of knobs."
        },
        "tuningOperation": {
          "type": "string",
          "description": "Output only. The tune operation associated with the model. Can be used to determine if there is an ongoing tune for this recommendation. Empty field implies no tune is goig on.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp the Recommendation Model was last updated. E.g. if a Recommendation Model was paused - this would be the time the pause was initiated."
        },
        "servingState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "SERVING_STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE",
            "TUNED"
          ],
          "enumDescriptions": [
            "Unspecified serving state.",
            "The model is not serving.",
            "The model is serving and can be queried.",
            "The model is trained on tuned hyperparameters and can be queried."
          ],
          "description": "Output only. The serving state of the model: `ACTIVE`, `NOT_ACTIVE`."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the model. Should be human readable, used to display Recommendation Models in the Retail Cloud Console Dashboard. UTF-8 encoded string with limit of 1024 characters."
        },
        "trainingState": {
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ],
          "type": "string",
          "description": "Optional. The training state that the model is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train model in order to control cost. If not specified: the default value for `CreateModel` method is `TRAINING`. The default value for `UpdateModel` method is to keep the state the same as before.",
          "enumDescriptions": [
            "Unspecified training state.",
            "The model training is paused.",
            "The model is training."
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. The fully qualified resource name of the model. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}` catalog_id has char limit of 50. recommendation_model_id has char limit of 40."
        },
        "createTime": {
          "description": "Output only. Timestamp the Recommendation Model was created at.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "modelFeaturesConfig": {
          "$ref": "GoogleCloudRetailV2ModelModelFeaturesConfig",
          "description": "Optional. Additional model features config."
        },
        "type": {
          "description": "Required. The type of model e.g. `home-page`. Currently supported values: `recommended-for-you`, `others-you-may-like`, `frequently-bought-together`, `page-optimization`, `similar-items`, `buy-it-again`, `on-sale-items`, and `recently-viewed`(readonly value). This field together with optimization_objective describe model metadata to use to control model training and serving. See https://cloud.google.com/retail/docs/models for more details on what the model metadata control and which combination of parameters are valid. For invalid combinations of parameters (e.g. type = `frequently-bought-together` and optimization_objective = `ctr`), you receive an error 400 if you try to create/update a recommendation with this set of knobs.",
          "type": "string"
        },
        "periodicTuningState": {
          "enumDescriptions": [
            "Unspecified default value, should never be explicitly set.",
            "The model has periodic tuning disabled. Tuning can be reenabled by calling the `EnableModelPeriodicTuning` method or by calling the `TuneModel` method.",
            "The model cannot be tuned with periodic tuning OR the `TuneModel` method. Hide the options in customer UI and reject any requests through the backend self serve API.",
            "The model has periodic tuning enabled. Tuning can be disabled by calling the `DisableModelPeriodicTuning` method."
          ],
          "enum": [
            "PERIODIC_TUNING_STATE_UNSPECIFIED",
            "PERIODIC_TUNING_DISABLED",
            "ALL_TUNING_DISABLED",
            "PERIODIC_TUNING_ENABLED"
          ],
          "type": "string",
          "description": "Optional. The state of periodic tuning. The period we use is 3 months - to do a one-off tune earlier use the `TuneModel` method. Default value is `PERIODIC_TUNING_ENABLED`."
        }
      },
      "id": "GoogleCloudRetailV2Model"
    },
    "GoogleCloudRetailV2alphaModel": {
      "type": "object",
      "description": "Metadata that describes the training and serving parameters of a Model. A Model can be associated with a ServingConfig and then queried through the Predict API.",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp the Recommendation Model was created at.",
          "format": "google-datetime"
        },
        "servingState": {
          "enumDescriptions": [
            "Unspecified serving state.",
            "The model is not serving.",
            "The model is serving and can be queried.",
            "The model is trained on tuned hyperparameters and can be queried."
          ],
          "readOnly": true,
          "enum": [
            "SERVING_STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE",
            "TUNED"
          ],
          "type": "string",
          "description": "Output only. The serving state of the model: `ACTIVE`, `NOT_ACTIVE`."
        },
        "name": {
          "description": "Required. The fully qualified resource name of the model. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}` catalog_id has char limit of 50. recommendation_model_id has char limit of 40.",
          "type": "string"
        },
        "lastTuneTime": {
          "description": "Output only. The timestamp when the latest successful tune finished.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp the Recommendation Model was last updated. E.g. if a Recommendation Model was paused - this would be the time the pause was initiated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "servingConfigLists": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaModelServingConfigList"
          },
          "readOnly": true,
          "description": "Output only. The list of valid serving configs associated with the PageOptimizationConfig."
        },
        "periodicTuningState": {
          "enum": [
            "PERIODIC_TUNING_STATE_UNSPECIFIED",
            "PERIODIC_TUNING_DISABLED",
            "ALL_TUNING_DISABLED",
            "PERIODIC_TUNING_ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified default value, should never be explicitly set.",
            "The model has periodic tuning disabled. Tuning can be reenabled by calling the `EnableModelPeriodicTuning` method or by calling the `TuneModel` method.",
            "The model cannot be tuned with periodic tuning OR the `TuneModel` method. Hide the options in customer UI and reject any requests through the backend self serve API.",
            "The model has periodic tuning enabled. Tuning can be disabled by calling the `DisableModelPeriodicTuning` method."
          ],
          "type": "string",
          "description": "Optional. The state of periodic tuning. The period we use is 3 months - to do a one-off tune earlier use the `TuneModel` method. Default value is `PERIODIC_TUNING_ENABLED`."
        },
        "type": {
          "type": "string",
          "description": "Required. The type of model e.g. `home-page`. Currently supported values: `recommended-for-you`, `others-you-may-like`, `frequently-bought-together`, `page-optimization`, `similar-items`, `buy-it-again`, `on-sale-items`, and `recently-viewed`(readonly value). This field together with optimization_objective describe model metadata to use to control model training and serving. See https://cloud.google.com/retail/docs/models for more details on what the model metadata control and which combination of parameters are valid. For invalid combinations of parameters (e.g. type = `frequently-bought-together` and optimization_objective = `ctr`), you receive an error 400 if you try to create/update a recommendation with this set of knobs."
        },
        "tuningOperation": {
          "readOnly": true,
          "description": "Output only. The tune operation associated with the model. Can be used to determine if there is an ongoing tune for this recommendation. Empty field implies no tune is goig on.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the model. Should be human readable, used to display Recommendation Models in the Retail Cloud Console Dashboard. UTF-8 encoded string with limit of 1024 characters."
        },
        "pageOptimizationConfig": {
          "description": "Optional. The page optimization config.",
          "$ref": "GoogleCloudRetailV2alphaModelPageOptimizationConfig"
        },
        "optimizationObjective": {
          "type": "string",
          "description": "Optional. The optimization objective e.g. `cvr`. Currently supported values: `ctr`, `cvr`, `revenue-per-order`. If not specified, we choose default based on model type. Default depends on type of recommendation: `recommended-for-you` =\u003e `ctr` `others-you-may-like` =\u003e `ctr` `frequently-bought-together` =\u003e `revenue_per_order` This field together with optimization_objective describe model metadata to use to control model training and serving. See https://cloud.google.com/retail/docs/models for more details on what the model metadata control and which combination of parameters are valid. For invalid combinations of parameters (e.g. type = `frequently-bought-together` and optimization_objective = `ctr`), you receive an error 400 if you try to create/update a recommendation with this set of knobs."
        },
        "dataState": {
          "description": "Output only. The state of data requirements for this model: `DATA_OK` and `DATA_ERROR`. Recommendation model cannot be trained if the data is in `DATA_ERROR` state. Recommendation model can have `DATA_ERROR` state even if serving state is `ACTIVE`: models were trained successfully before, but cannot be refreshed because model no longer has sufficient data for training.",
          "enum": [
            "DATA_STATE_UNSPECIFIED",
            "DATA_OK",
            "DATA_ERROR"
          ],
          "enumDescriptions": [
            "Unspecified default value, should never be explicitly set.",
            "The model has sufficient training data.",
            "The model does not have sufficient training data. Error messages can be queried via Stackdriver."
          ],
          "readOnly": true,
          "type": "string"
        },
        "trainingState": {
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified training state.",
            "The model training is paused.",
            "The model is training."
          ],
          "description": "Optional. The training state that the model is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train model in order to control cost. If not specified: the default value for `CreateModel` method is `TRAINING`. The default value for `UpdateModel` method is to keep the state the same as before."
        },
        "modelFeaturesConfig": {
          "$ref": "GoogleCloudRetailV2alphaModelModelFeaturesConfig",
          "description": "Optional. Additional model features config."
        },
        "filteringOption": {
          "type": "string",
          "enum": [
            "RECOMMENDATIONS_FILTERING_OPTION_UNSPECIFIED",
            "RECOMMENDATIONS_FILTERING_DISABLED",
            "RECOMMENDATIONS_FILTERING_ENABLED"
          ],
          "description": "Optional. If `RECOMMENDATIONS_FILTERING_ENABLED`, recommendation filtering by attributes is enabled for the model.",
          "enumDescriptions": [
            "Value used when unset. In this case, server behavior defaults to RECOMMENDATIONS_FILTERING_DISABLED.",
            "Recommendation filtering is disabled.",
            "Recommendation filtering is enabled."
          ]
        }
      },
      "id": "GoogleCloudRetailV2alphaModel"
    },
    "GoogleCloudRetailV2alphaImportUserEventsResponse": {
      "id": "GoogleCloudRetailV2alphaImportUserEventsResponse",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "properties": {
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2alphaImportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "importSummary": {
          "$ref": "GoogleCloudRetailV2alphaUserEventImportSummary",
          "description": "Aggregated statistics of user event import status."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudRetailV2AddFulfillmentPlacesRequest": {
      "type": "object",
      "description": "Request message for ProductService.AddFulfillmentPlaces method.",
      "properties": {
        "placeIds": {
          "description": "Required. The IDs for this type, such as the store IDs for \"pickup-in-store\" or the region IDs for \"same-day-delivery\" to be added for this type. Duplicate IDs will be automatically ignored. At least 1 value is required, and a maximum of 2000 values are allowed. Each value must be a string with a length limit of 10 characters, matching the pattern `[a-zA-Z0-9_-]+`, such as \"store1\" or \"REGION-2\". Otherwise, an INVALID_ARGUMENT error is returned. If the total number of place IDs exceeds 2000 for this type after adding, then the update will be rejected.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "If set to true, and the Product is not found, the fulfillment information will still be processed and retained for at most 1 day and processed once the Product is created. If set to false, a NOT_FOUND error is returned if the Product is not found."
        },
        "addTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the fulfillment updates are issued, used to prevent out-of-order updates on fulfillment information. If not provided, the internal system time will be used."
        },
        "type": {
          "type": "string",
          "description": "Required. The fulfillment type, including commonly used types (such as pickup in store and same day delivery), and custom types. Supported values: * \"pickup-in-store\" * \"ship-to-store\" * \"same-day-delivery\" * \"next-day-delivery\" * \"custom-type-1\" * \"custom-type-2\" * \"custom-type-3\" * \"custom-type-4\" * \"custom-type-5\" If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned. This field directly corresponds to Product.fulfillment_info.type."
        }
      },
      "id": "GoogleCloudRetailV2AddFulfillmentPlacesRequest"
    },
    "GoogleCloudRetailV2SearchResponse": {
      "properties": {
        "results": {
          "description": "A list of matched items. The order represents the ranking.",
          "items": {
            "$ref": "GoogleCloudRetailV2SearchResponseSearchResult"
          },
          "type": "array"
        },
        "correctedQuery": {
          "type": "string",
          "description": "Contains the spell corrected query, if found. If the spell correction type is AUTOMATIC, then the search results are based on corrected_query. Otherwise the original query is used for search."
        },
        "nextPageToken": {
          "description": "A token that can be sent as SearchRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "experimentInfo": {
          "description": "Metadata related to A/B testing Experiment associated with this response. Only exists when an experiment is triggered.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2ExperimentInfo"
          }
        },
        "appliedControls": {
          "description": "The fully qualified resource name of applied [controls](https://cloud.google.com/retail/docs/serving-control-rules).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "facets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2SearchResponseFacet"
          },
          "description": "Results of facets requested by user."
        },
        "invalidConditionBoostSpecs": {
          "type": "array",
          "description": "The invalid SearchRequest.BoostSpec.condition_boost_specs that are not applied during serving.",
          "items": {
            "$ref": "GoogleCloudRetailV2SearchRequestBoostSpecConditionBoostSpec"
          }
        },
        "attributionToken": {
          "description": "A unique search token. This should be included in the UserEvent logs resulting from this search, which enables accurate attribution of search model performance.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "The estimated total count of matched items irrespective of pagination. The count of results returned by pagination may be less than the total_size that matches.",
          "format": "int32"
        },
        "redirectUri": {
          "type": "string",
          "description": "The URI of a customer-defined redirect page. If redirect action is triggered, no search is performed, and only redirect_uri and attribution_token are set in the response."
        },
        "queryExpansionInfo": {
          "$ref": "GoogleCloudRetailV2SearchResponseQueryExpansionInfo",
          "description": "Query expansion information for the returned results."
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2SearchResponse",
      "description": "Response message for SearchService.Search method."
    },
    "GoogleCloudRetailV2alphaPurgeUserEventsResponse": {
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "id": "GoogleCloudRetailV2alphaPurgeUserEventsResponse",
      "type": "object",
      "properties": {
        "purgedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of events purged as a result of the operation."
        }
      }
    },
    "GoogleCloudRetailV2ImportUserEventsResponse": {
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        },
        "importSummary": {
          "description": "Aggregated statistics of user event import status.",
          "$ref": "GoogleCloudRetailV2UserEventImportSummary"
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2ImportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2ImportUserEventsResponse",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2CompleteQueryResponseRecentSearchResult": {
      "properties": {
        "recentSearch": {
          "type": "string",
          "description": "The recent search query."
        }
      },
      "description": "Recent search of this user.",
      "id": "GoogleCloudRetailV2CompleteQueryResponseRecentSearchResult",
      "type": "object"
    },
    "GoogleCloudRetailV2betaOutputResult": {
      "properties": {
        "gcsResult": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaGcsOutputResult"
          },
          "description": "The Google Cloud Storage location where the result is stored.",
          "type": "array"
        },
        "bigqueryResult": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaBigQueryOutputResult"
          },
          "description": "The BigQuery location where the result is stored.",
          "type": "array"
        }
      },
      "description": "Output result that stores the information about where the exported data is stored.",
      "id": "GoogleCloudRetailV2betaOutputResult",
      "type": "object"
    },
    "GoogleCloudRetailV2ExperimentInfo": {
      "id": "GoogleCloudRetailV2ExperimentInfo",
      "description": "Metadata for active A/B testing Experiment.",
      "type": "object",
      "properties": {
        "experiment": {
          "description": "The fully qualified resource name of the experiment that provides the serving config under test, should an active experiment exist. For example: `projects/*/locations/global/catalogs/default_catalog/experiments/experiment_id`",
          "type": "string"
        },
        "servingConfigExperiment": {
          "$ref": "GoogleCloudRetailV2ExperimentInfoServingConfigExperiment",
          "description": "A/B test between existing Cloud Retail Search ServingConfigs."
        }
      }
    },
    "GoogleCloudRetailV2AddLocalInventoriesMetadata": {
      "id": "GoogleCloudRetailV2AddLocalInventoriesMetadata",
      "description": "Metadata related to the progress of the AddLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddLocalInventories method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudRetailV2Rating": {
      "properties": {
        "ratingHistogram": {
          "description": "List of rating counts per rating value (index = rating - 1). The list is empty if there is no rating. If the list is non-empty, its size is always 5. Otherwise, an INVALID_ARGUMENT error is returned. For example, [41, 14, 13, 47, 303]. It means that the Product got 41 ratings with 1 star, 14 ratings with 2 star, and so on.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "ratingCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of ratings. This value is independent of the value of rating_histogram. This value must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "averageRating": {
          "format": "float",
          "description": "The average rating of the Product. The rating is scaled at 1-5. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "number"
        }
      },
      "id": "GoogleCloudRetailV2Rating",
      "description": "The rating of a Product.",
      "type": "object"
    },
    "GoogleCloudRetailV2betaExportMetadata": {
      "id": "GoogleCloudRetailV2betaExportMetadata",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the Export operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudRetailV2TuneModelMetadata": {
      "properties": {
        "model": {
          "description": "The resource name of the model that this tune applies to. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2TuneModelMetadata",
      "description": "Metadata associated with a tune operation."
    },
    "GoogleCloudRetailV2RemoveCatalogAttributeRequest": {
      "id": "GoogleCloudRetailV2RemoveCatalogAttributeRequest",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The attribute name key of the CatalogAttribute to remove."
        }
      },
      "description": "Request for CatalogService.RemoveCatalogAttribute method.",
      "type": "object"
    },
    "GoogleCloudRetailV2PurchaseTransaction": {
      "properties": {
        "revenue": {
          "description": "Required. Total non-zero revenue or grand total associated with the transaction. This value include shipping, tax, or other adjustments to total revenue that you want to include as part of your revenue calculations.",
          "format": "float",
          "type": "number"
        },
        "cost": {
          "format": "float",
          "type": "number",
          "description": "All the costs associated with the products. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs, such that: * Profit = revenue - tax - cost"
        },
        "currencyCode": {
          "type": "string",
          "description": "Required. Currency code. Use three-character ISO-4217 code."
        },
        "id": {
          "description": "The transaction ID with a length limit of 128 characters.",
          "type": "string"
        },
        "tax": {
          "type": "number",
          "description": "All the taxes associated with the transaction.",
          "format": "float"
        }
      },
      "description": "A transaction represents the entire purchase transaction.",
      "id": "GoogleCloudRetailV2PurchaseTransaction",
      "type": "object"
    },
    "GoogleCloudRetailV2UserEventImportSummary": {
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events.",
      "id": "GoogleCloudRetailV2UserEventImportSummary",
      "type": "object",
      "properties": {
        "joinedEventsCount": {
          "description": "Count of user events imported with complete existing catalog information.",
          "type": "string",
          "format": "int64"
        },
        "unjoinedEventsCount": {
          "description": "Count of user events imported, but with catalog information not found in the imported catalog.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2UserEvent": {
      "type": "object",
      "description": "UserEvent captures all metadata information Retail API needs to know about how end users interact with customers' website.",
      "id": "GoogleCloudRetailV2UserEvent",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Complete URL (window.location.href) of the user's current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. Maximum length 5,000 characters."
        },
        "searchQuery": {
          "description": "The user's search query. See SearchRequest.query for definition. The value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "experimentIds": {
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups (e.g. using Retail API, using different recommendation models).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sessionId": {
          "description": "A unique identifier for tracking a visitor session with a length limit of 128 bytes. A session is an aggregation of an end user behavior in a time span. A general guideline to populate the sesion_id: 1. If user has no activity for 30 min, a new session_id should be assigned. 2. The session_id should be unique across users, suggest use uuid or add visitor_id as prefix.",
          "type": "string"
        },
        "visitorId": {
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. The field should not contain PII or user-data. We recommend to use Google Analytics [Client ID](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#clientId) for this field.",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "description": "Required. User event type. Allowed values are: * `add-to-cart`: Products being added to cart. * `category-page-view`: Special pages such as sale or promotion pages viewed. * `detail-page-view`: Products detail page viewed. * `home-page-view`: Homepage viewed. * `promotion-offered`: Promotion is offered to a user. * `promotion-not-offered`: Promotion is not offered to a user. * `purchase-complete`: User finishing a purchase. * `search`: Product search. * `shopping-cart-page-view`: User viewing a shopping cart."
        },
        "entity": {
          "type": "string",
          "description": "The entity for customers that may run multiple different entities, domains, sites or regions, for example, `Google US`, `Google Ads`, `Waymo`, `google.com`, `youtube.com`, etc. We recommend that you set this field to get better per-entity search, completion, and prediction results."
        },
        "cartId": {
          "type": "string",
          "description": "The ID or name of the associated shopping cart. This ID is used to associate multiple items added or present in the cart before purchase. This can only be set for `add-to-cart`, `purchase-complete`, or `shopping-cart-page-view` events."
        },
        "offset": {
          "type": "integer",
          "format": "int32",
          "description": "An integer that specifies the current offset for pagination (the 0-indexed starting location, amongst the products deemed by the API as relevant). See SearchRequest.offset for definition. If this field is negative, an INVALID_ARGUMENT is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "orderBy": {
          "description": "The order in which products are returned. See SearchRequest.order_by for definition and syntax. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "completionDetail": {
          "$ref": "GoogleCloudRetailV2CompletionDetail",
          "description": "The main auto-completion details related to the event. This field should be set for `search` event when autocomplete function is enabled and the user clicks a suggestion for search."
        },
        "purchaseTransaction": {
          "description": "A transaction represents the entire purchase transaction. Required for `purchase-complete` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "$ref": "GoogleCloudRetailV2PurchaseTransaction"
        },
        "pageCategories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The categories associated with a category page. To represent full path of category, use '\u003e' sign to separate different hierarchies. If '\u003e' is part of the category name, replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: \"pageCategories\" : [\"Sales \u003e 2017 Black Friday Deals\"]. Required for `category-page-view` events. At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "userInfo": {
          "description": "User information.",
          "$ref": "GoogleCloudRetailV2UserInfo"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened."
        },
        "attributionToken": {
          "description": "Highly recommended for user events that are the result of PredictionService.Predict. This field enables accurate attribution of recommendation model performance. The value must be a valid PredictResponse.attribution_token for user events that are the result of PredictionService.Predict. The value must be a valid SearchResponse.attribution_token for user events that are the result of SearchService.Search. This token enables us to accurately attribute page view or purchase back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass PredictResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the PredictResponse.attribution_token to this field.",
          "type": "string"
        },
        "productDetails": {
          "items": {
            "$ref": "GoogleCloudRetailV2ProductDetail"
          },
          "description": "The main product details related to the event. This field is optional except for the following event types: * `add-to-cart` * `detail-page-view` * `purchase-complete` In a `search` event, this field represents the products returned to the end user on the current page (the end user may have not finished browsing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different product_details is desired. The end user may have not finished browsing the whole page yet.",
          "type": "array"
        },
        "pageViewId": {
          "description": "A unique ID of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageViewId` property should be kept the same for all these events so that they can be grouped together properly. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically.",
          "type": "string"
        },
        "attributes": {
          "description": "Extra user event features to include in the recommendation model. If you provide custom attributes for ingested user events, also include them in the user events that you associate with prediction requests. Custom attribute formatting must be consistent between imported events and events provided with prediction requests. This lets the Retail API use those custom attributes when training models and serving predictions, which helps improve recommendation quality. This field needs to pass all below criteria, otherwise an INVALID_ARGUMENT error is returned: * The key must be a UTF-8 encoded string with a length limit of 5,000 characters. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed. For product recommendations, an example of extra user information is traffic_channel, which is how a user arrives at the site. Users can arrive at the site by coming to the site directly, coming through Google search, or in other ways.",
          "additionalProperties": {
            "$ref": "GoogleCloudRetailV2CustomAttribute"
          },
          "type": "object"
        },
        "referrerUri": {
          "description": "The referrer URL of the current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically.",
          "type": "string"
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the products being filtered. See SearchRequest.filter for definition and syntax. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2alphaExportErrorsConfig": {
      "description": "Configuration of destination for Export related errors.",
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "id": "GoogleCloudRetailV2alphaExportErrorsConfig"
    },
    "GoogleCloudRetailV2alphaModelPageOptimizationConfig": {
      "description": "The PageOptimizationConfig for model training. This determines how many panels to optimize for, and which serving configs to consider for each panel. The purpose of this model is to optimize which ServingConfig to show on which panels in way that optimizes the visitors shopping journey.",
      "properties": {
        "panels": {
          "description": "Required. A list of panel configurations. Limit = 5.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaModelPageOptimizationConfigPanel"
          }
        },
        "restriction": {
          "description": "Optional. How to restrict results across panels e.g. can the same ServingConfig be shown on multiple panels at once. If unspecified, default to `UNIQUE_MODEL_RESTRICTION`.",
          "enumDescriptions": [
            "Unspecified value for restriction.",
            "Allow any ServingConfig to be show on any number of panels. Example: `Panel1 candidates`: pdp_ctr, pdp_cvr, home_page_ctr_no_diversity `Panel2 candidates`: home_page_ctr_no_diversity, home_page_ctr_diversity, pdp_cvr_no_diversity `Restriction` = NO_RESTRICTION `Valid combinations`: * * (pdp_ctr, home_page_ctr_no_diversity) * (pdp_ctr, home_page_ctr_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_cvr, home_page_ctr_no_diversity) * (pdp_cvr, home_page_ctr_diversity) * (pdp_cvr, pdp_cvr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_diversity) * (home_page_ctr_no_diversity, pdp_cvr_no_diversity) * `Invalid combinations`: []",
            "Do not allow the same ServingConfig.name to be shown on multiple panels. Example: `Panel1 candidates`: * pdp_ctr, pdp_cvr, home_page_ctr_no_diversity * `Panel2 candidates`: * home_page_ctr_no_diversity, home_page_ctr_diversity_low, pdp_cvr_no_diversity * `Restriction` = `UNIQUE_SERVING_CONFIG_RESTRICTION` `Valid combinations`: * * (pdp_ctr, home_page_ctr_no_diversity) * (pdp_ctr, home_page_ctr_diversity_low) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_cvr, home_page_ctr_no_diversity) * (pdp_cvr, home_page_ctr_diversity_low) * (pdp_cvr, pdp_cvr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_diversity_low) * (home_page_ctr_no_diversity, pdp_cvr_no_diversity) * `Invalid combinations`: * * (home_page_ctr_no_diversity, home_page_ctr_no_diversity) *",
            "Do not allow multiple ServingConfigs with same Model.name to be show on on different panels. Example: `Panel1 candidates`: * pdp_ctr, pdp_cvr, home_page_ctr_no_diversity * `Panel2 candidates`: * home_page_ctr_no_diversity, home_page_ctr_diversity_low, pdp_cvr_no_diversity * `Restriction` = `UNIQUE_MODEL_RESTRICTION` `Valid combinations`: * * (pdp_ctr, home_page_ctr_no_diversity) * (pdp_ctr, home_page_ctr_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_cvr, home_page_ctr_no_diversity) * (pdp_cvr, home_page_ctr_diversity_low) * (home_page_ctr_no_diversity, pdp_cvr_no_diversity) * `Invalid combinations`: * * (home_page_ctr_no_diversity, home_page_ctr_no_diversity) * (pdp_cvr, pdp_cvr_no_diversity) *",
            "Do not allow multiple ServingConfigs with same Model.type to be shown on different panels. Example: `Panel1 candidates`: * pdp_ctr, pdp_cvr, home_page_ctr_no_diversity * `Panel2 candidates`: * home_page_ctr_no_diversity, home_page_ctr_diversity_low, pdp_cvr_no_diversity * `Restriction` = `UNIQUE_MODEL_RESTRICTION` `Valid combinations`: * * (pdp_ctr, home_page_ctr_no_diversity) * (pdp_ctr, home_page_ctr_diversity) * (pdp_cvr, home_page_ctr_no_diversity) * (pdp_cvr, home_page_ctr_diversity_low) * (home_page_ctr_no_diversity, pdp_cvr_no_diversity) * `Invalid combinations`: * * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_ctr, pdp_cvr_no_diversity) * (pdp_cvr, pdp_cvr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_no_diversity) * (home_page_ctr_no_diversity, home_page_ctr_diversity) *"
          ],
          "type": "string",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "NO_RESTRICTION",
            "UNIQUE_SERVING_CONFIG_RESTRICTION",
            "UNIQUE_MODEL_RESTRICTION",
            "UNIQUE_MODEL_TYPE_RESTRICTION"
          ]
        },
        "pageOptimizationEventType": {
          "description": "Required. The type of UserEvent this page optimization is shown for. Each page has an associated event type - this will be the corresponding event type for the page that the page optimization model is used on. Supported types: * `add-to-cart`: Products being added to cart. * `detail-page-view`: Products detail page viewed. * `home-page-view`: Homepage viewed * `category-page-view`: Homepage viewed * `shopping-cart-page-view`: User viewing a shopping cart. `home-page-view` only allows models with type `recommended-for-you`. All other page_optimization_event_type allow all Model.types.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaModelPageOptimizationConfig"
    },
    "GoogleCloudRetailV2Image": {
      "id": "GoogleCloudRetailV2Image",
      "properties": {
        "width": {
          "type": "integer",
          "description": "Width of the image in number of pixels. This field must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned.",
          "format": "int32"
        },
        "uri": {
          "type": "string",
          "description": "Required. URI of the image. This field must be a valid UTF-8 encoded URI with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [image_link](https://support.google.com/merchants/answer/6324350). Schema.org property [Product.image](https://schema.org/image)."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "Height of the image in number of pixels. This field must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned."
        }
      },
      "type": "object",
      "description": "Product image. Recommendations AI and Retail Search do not use product images to improve prediction and search results. However, product images can be returned in results, and are shown in prediction or search previews in the console."
    },
    "GoogleCloudRetailV2alphaPurgeProductsMetadata": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaPurgeProductsMetadata",
      "description": "Metadata related to the progress of the PurgeProducts operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "successCount": {
          "description": "Count of entries that were deleted successfully.",
          "format": "int64",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2alphaRemoveLocalInventoriesMetadata": {
      "id": "GoogleCloudRetailV2alphaRemoveLocalInventoriesMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata related to the progress of the RemoveLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.RemoveLocalInventories method."
    },
    "GoogleCloudRetailV2alphaExportMetadata": {
      "id": "GoogleCloudRetailV2alphaExportMetadata",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the Export operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudRetailV2SearchResponseFacet": {
      "description": "A facet result.",
      "type": "object",
      "properties": {
        "dynamicFacet": {
          "description": "Whether the facet is dynamically generated.",
          "type": "boolean"
        },
        "key": {
          "description": "The key for this facet. E.g., \"colorFamilies\" or \"price\" or \"attributes.attr1\".",
          "type": "string"
        },
        "values": {
          "description": "The facet values for this field.",
          "items": {
            "$ref": "GoogleCloudRetailV2SearchResponseFacetFacetValue"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRetailV2SearchResponseFacet"
    },
    "GoogleTypeDate": {
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      },
      "id": "GoogleTypeDate",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleCloudRetailV2alphaRejoinUserEventsResponse": {
      "id": "GoogleCloudRetailV2alphaRejoinUserEventsResponse",
      "type": "object",
      "description": "Response message for `RejoinUserEvents` method.",
      "properties": {
        "rejoinedUserEventsCount": {
          "type": "string",
          "description": "Number of user events that were joined with latest product catalog.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudRetailV2AddLocalInventoriesResponse": {
      "id": "GoogleCloudRetailV2AddLocalInventoriesResponse",
      "description": "Response of the ProductService.AddLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.AddLocalInventories method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRetailV2PriceInfo": {
      "description": "The price information of a Product.",
      "type": "object",
      "id": "GoogleCloudRetailV2PriceInfo",
      "properties": {
        "price": {
          "description": "Price of the product. Google Merchant Center property [price](https://support.google.com/merchants/answer/6324371). Schema.org property [Offer.price](https://schema.org/price).",
          "format": "float",
          "type": "number"
        },
        "priceExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the price stops to be effective. The price is used for search before price_expire_time. If this field is set, the original_price must be set and original_price is used after price_expire_time. Do not set if price is always effective because it will cause additional latency during search."
        },
        "originalPrice": {
          "type": "number",
          "format": "float",
          "description": "Price of the product without any discount. If zero, by default set to be the price. If set, original_price should be greater than or equal to price, otherwise an INVALID_ARGUMENT error is thrown."
        },
        "priceRange": {
          "description": "Output only. The price range of all the child Product.Type.VARIANT Products grouped together on the Product.Type.PRIMARY Product. Only populated for Product.Type.PRIMARY Products. Note: This field is OUTPUT_ONLY for ProductService.GetProduct. Do not set this field in API requests.",
          "readOnly": true,
          "$ref": "GoogleCloudRetailV2PriceInfoPriceRange"
        },
        "cost": {
          "description": "The costs associated with the sale of a particular product. Used for gross profit reporting. * Profit = price - cost Google Merchant Center property [cost_of_goods_sold](https://support.google.com/merchants/answer/9017895).",
          "type": "number",
          "format": "float"
        },
        "currencyCode": {
          "description": "The 3-letter currency code defined in [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html). If this field is an unrecognizable currency code, an INVALID_ARGUMENT error is returned. The Product.Type.VARIANT Products with the same Product.primary_product_id must share the same currency_code. Otherwise, a FAILED_PRECONDITION error is returned.",
          "type": "string"
        },
        "priceEffectiveTime": {
          "description": "The timestamp when the price starts to be effective. This can be set as a future timestamp, and the price is only used for search after price_effective_time. If so, the original_price must be set and original_price is used before price_effective_time. Do not set if price is always effective because it will cause additional latency during search.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudRetailV2alphaAddFulfillmentPlacesResponse": {
      "type": "object",
      "description": "Response of the AddFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.AddFulfillmentPlaces method.",
      "properties": {},
      "id": "GoogleCloudRetailV2alphaAddFulfillmentPlacesResponse"
    },
    "GoogleCloudRetailV2betaRejoinUserEventsResponse": {
      "id": "GoogleCloudRetailV2betaRejoinUserEventsResponse",
      "properties": {
        "rejoinedUserEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of user events that were joined with latest product catalog."
        }
      },
      "type": "object",
      "description": "Response message for `RejoinUserEvents` method."
    },
    "GoogleCloudRetailV2betaMerchantCenterAccountLink": {
      "description": "Represents a link between a Merchant Center account and a branch. After a link is established, products from the linked Merchant Center account are streamed to the linked branch.",
      "id": "GoogleCloudRetailV2betaMerchantCenterAccountLink",
      "properties": {
        "merchantCenterAccountId": {
          "type": "string",
          "format": "int64",
          "description": "Required. The linked [Merchant center account id](https://developers.google.com/shopping-content/guides/accountstatuses). The account must be a standalone account or a sub-account of a MCA."
        },
        "projectId": {
          "type": "string",
          "description": "Output only. Google Cloud project ID.",
          "readOnly": true
        },
        "languageCode": {
          "type": "string",
          "description": "Language of the title/description and other string attributes. Use language tags defined by [BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). ISO 639-1. This specifies the language of offers in Merchant Center that will be accepted. If empty, no language filtering will be performed. Example value: `en`."
        },
        "branchId": {
          "type": "string",
          "description": "Required. The branch ID (e.g. 0/1/2) within the catalog that products from merchant_center_account_id are streamed to. When updating this field, an empty value will use the currently configured default branch. However, changing the default branch later on won't change the linked branch here. A single branch ID can only have one linked Merchant Center account ID."
        },
        "feedLabel": {
          "type": "string",
          "description": "The FeedLabel used to perform filtering. Note: this replaces [region_id](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.feed_label). Example value: `US`. Example value: `FeedLabel1`."
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "Link is created and LRO is not complete.",
            "Link is active.",
            "Link creation failed."
          ],
          "description": "Output only. Represents the state of the link.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED"
          ],
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. MerchantCenterAccountLink identifier, which is the final component of name. This field is auto generated and follows the convention: `BranchId_MerchantCenterAccountId`. `projects/*/locations/global/catalogs/default_catalog/merchantCenterAccountLinks/id_1`."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Full resource name of the Merchant Center Account Link, such as `projects/*/locations/global/catalogs/default_catalog/merchantCenterAccountLinks/merchant_center_account_link`."
        },
        "feedFilters": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaMerchantCenterAccountLinkMerchantCenterFeedFilter"
          },
          "type": "array",
          "description": "Criteria for the Merchant Center feeds to be ingested via the link. All offers will be ingested if the list is empty. Otherwise the offers will be ingested from selected feeds."
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2alphaRemoveFulfillmentPlacesMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the RemoveFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the ProductService.RemoveFulfillmentPlaces method.",
      "id": "GoogleCloudRetailV2alphaRemoveFulfillmentPlacesMetadata",
      "properties": {}
    },
    "GoogleCloudRetailV2alphaTransformedUserEventsMetadata": {
      "description": "Metadata related to transform user events operation.",
      "type": "object",
      "properties": {
        "sourceEventsCount": {
          "format": "int64",
          "description": "Count of entries in the source user events BigQuery table.",
          "type": "string"
        },
        "transformedEventsCount": {
          "description": "Count of entries in the transformed user events BigQuery table, which could be different from the actually imported number of user events.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2alphaTransformedUserEventsMetadata"
    },
    "GoogleCloudRetailV2betaExportProductsResponse": {
      "type": "object",
      "id": "GoogleCloudRetailV2betaExportProductsResponse",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2betaExportErrorsConfig",
          "description": "This field is never set."
        },
        "outputResult": {
          "description": "Output result indicating where the data were exported to.",
          "$ref": "GoogleCloudRetailV2betaOutputResult"
        }
      },
      "description": "Response of the ExportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudRetailV2PriceInfoPriceRange": {
      "description": "The price range of all variant Product having the same Product.primary_product_id.",
      "id": "GoogleCloudRetailV2PriceInfoPriceRange",
      "properties": {
        "originalPrice": {
          "$ref": "GoogleCloudRetailV2Interval",
          "description": "The inclusive Product.pricing_info.original_price internal of all variant Product having the same Product.primary_product_id."
        },
        "price": {
          "description": "The inclusive Product.pricing_info.price interval of all variant Product having the same Product.primary_product_id.",
          "$ref": "GoogleCloudRetailV2Interval"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2ReplaceCatalogAttributeRequest": {
      "type": "object",
      "id": "GoogleCloudRetailV2ReplaceCatalogAttributeRequest",
      "properties": {
        "updateMask": {
          "description": "Indicates which fields in the provided CatalogAttribute to update. The following are NOT supported: * CatalogAttribute.key If not set, all supported fields are updated.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "catalogAttribute": {
          "$ref": "GoogleCloudRetailV2CatalogAttribute",
          "description": "Required. The updated CatalogAttribute."
        }
      },
      "description": "Request for CatalogService.ReplaceCatalogAttribute method."
    },
    "GoogleCloudRetailV2alphaGcsOutputResult": {
      "type": "object",
      "description": "A Gcs output result.",
      "id": "GoogleCloudRetailV2alphaGcsOutputResult",
      "properties": {
        "outputUri": {
          "type": "string",
          "description": "The uri of Gcs output"
        }
      }
    },
    "GoogleCloudRetailV2betaExportErrorsConfig": {
      "id": "GoogleCloudRetailV2betaExportErrorsConfig",
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "description": "Configuration of destination for Export related errors."
    },
    "GoogleCloudRetailV2ModelModelFeaturesConfig": {
      "type": "object",
      "id": "GoogleCloudRetailV2ModelModelFeaturesConfig",
      "description": "Additional model features config.",
      "properties": {
        "frequentlyBoughtTogetherConfig": {
          "$ref": "GoogleCloudRetailV2ModelFrequentlyBoughtTogetherFeaturesConfig",
          "description": "Additional configs for frequently-bought-together models."
        }
      }
    },
    "GoogleCloudRetailV2ImportMetadata": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Deprecated. This field is never set."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "format": "int64",
          "type": "string"
        },
        "notificationPubsubTopic": {
          "description": "Pub/Sub topic for receiving notification. If this field is set, when the import is finished, a notification is sent to specified Pub/Sub topic. The message data is JSON string of a Operation. Format of the Pub/Sub topic is `projects/{project}/topics/{topic}`.",
          "type": "string"
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudRetailV2ImportMetadata"
    },
    "GoogleCloudRetailV2betaAddLocalInventoriesResponse": {
      "type": "object",
      "description": "Response of the ProductService.AddLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.AddLocalInventories method.",
      "id": "GoogleCloudRetailV2betaAddLocalInventoriesResponse",
      "properties": {}
    },
    "GoogleCloudRetailV2BigQuerySource": {
      "id": "GoogleCloudRetailV2BigQuerySource",
      "description": "BigQuery source import data from.",
      "properties": {
        "projectId": {
          "description": "The project ID (can be project # or ID) that the BigQuery source is in with a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory."
        },
        "datasetId": {
          "type": "string",
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters."
        },
        "partitionDate": {
          "$ref": "GoogleTypeDate",
          "description": "BigQuery time partitioned table's _PARTITIONDATE in YYYY-MM-DD format. Only supported in ImportProductsRequest."
        },
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for product imports: * `product` (default): One JSON Product per line. Each product must have a valid Product.id. * `product_merchant_center`: See [Importing catalog data from Merchant Center](https://cloud.google.com/retail/recommendations-ai/docs/upload-catalog#mc). Supported values for user events imports: * `user_event` (default): One JSON UserEvent per line. * `user_event_ga360`: The schema is available here: https://support.google.com/analytics/answer/3437719. * `user_event_ga4`: The schema is available here: https://support.google.com/analytics/answer/7029846. Supported values for autocomplete imports: * `suggestions` (default): One JSON completion suggestion per line. * `denylist`: One JSON deny suggestion per line. * `allowlist`: One JSON allow suggestion per line."
        },
        "tableId": {
          "type": "string",
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters."
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2ProductInlineSource": {
      "description": "The inline source for the input config for ImportProducts method.",
      "type": "object",
      "id": "GoogleCloudRetailV2ProductInlineSource",
      "properties": {
        "products": {
          "items": {
            "$ref": "GoogleCloudRetailV2Product"
          },
          "type": "array",
          "description": "Required. A list of products to update/create. Each product must have a valid Product.id. Recommended max of 100 items."
        }
      }
    },
    "GoogleCloudRetailV2alphaCreateModelMetadata": {
      "type": "object",
      "description": "Metadata associated with a create operation.",
      "properties": {
        "model": {
          "type": "string",
          "description": "The resource name of the model that this create applies to. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`"
        }
      },
      "id": "GoogleCloudRetailV2alphaCreateModelMetadata"
    },
    "GoogleCloudRetailV2betaExportUserEventsResponse": {
      "type": "object",
      "description": "Response of the ExportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudRetailV2betaExportUserEventsResponse",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "outputResult": {
          "$ref": "GoogleCloudRetailV2betaOutputResult",
          "description": "Output result indicating where the data were exported to."
        },
        "errorsConfig": {
          "description": "This field is never set.",
          "$ref": "GoogleCloudRetailV2betaExportErrorsConfig"
        }
      }
    },
    "GoogleCloudRetailV2UserEventInputConfig": {
      "id": "GoogleCloudRetailV2UserEventInputConfig",
      "properties": {
        "gcsSource": {
          "description": "Required. Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudRetailV2GcsSource"
        },
        "userEventInlineSource": {
          "description": "Required. The Inline source for the input content for UserEvents.",
          "$ref": "GoogleCloudRetailV2UserEventInlineSource"
        },
        "bigQuerySource": {
          "$ref": "GoogleCloudRetailV2BigQuerySource",
          "description": "Required. BigQuery input source."
        }
      },
      "type": "object",
      "description": "The input config source for user events."
    },
    "GoogleCloudRetailV2alphaOutputResult": {
      "description": "Output result that stores the information about where the exported data is stored.",
      "type": "object",
      "properties": {
        "bigqueryResult": {
          "type": "array",
          "description": "The BigQuery location where the result is stored.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaBigQueryOutputResult"
          }
        },
        "gcsResult": {
          "description": "The Google Cloud Storage location where the result is stored.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaGcsOutputResult"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRetailV2alphaOutputResult"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRetailV2Condition": {
      "properties": {
        "queryTerms": {
          "items": {
            "$ref": "GoogleCloudRetailV2ConditionQueryTerm"
          },
          "description": "A list (up to 10 entries) of terms to match the query on. If not specified, match all queries. If many query terms are specified, the condition is matched if any of the terms is a match (i.e. using the OR operator).",
          "type": "array"
        },
        "activeTimeRange": {
          "items": {
            "$ref": "GoogleCloudRetailV2ConditionTimeRange"
          },
          "type": "array",
          "description": "Range of time(s) specifying when Condition is active. Condition true if any time range matches."
        }
      },
      "id": "GoogleCloudRetailV2Condition",
      "type": "object",
      "description": "Metadata that is used to define a condition that triggers an action. A valid condition must specify at least one of 'query_terms' or 'products_filter'. If multiple fields are specified, the condition is met if all the fields are satisfied e.g. if a set of query terms and product_filter are set, then only items matching the product_filter for requests with a query matching the query terms wil get boosted."
    },
    "GoogleCloudRetailV2alphaRejoinUserEventsMetadata": {
      "properties": {},
      "description": "Metadata for `RejoinUserEvents` method.",
      "id": "GoogleCloudRetailV2alphaRejoinUserEventsMetadata",
      "type": "object"
    },
    "GoogleCloudRetailV2RuleIgnoreAction": {
      "description": "Prevents a term in the query from being used in search. Example: Don't search for \"shoddy\".",
      "id": "GoogleCloudRetailV2RuleIgnoreAction",
      "properties": {
        "ignoreTerms": {
          "description": "Terms to ignore in the search query.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2SearchResponseQueryExpansionInfo": {
      "description": "Information describing query expansion including whether expansion has occurred.",
      "id": "GoogleCloudRetailV2SearchResponseQueryExpansionInfo",
      "properties": {
        "expandedQuery": {
          "description": "Bool describing whether query expansion has occurred.",
          "type": "boolean"
        },
        "pinnedResultCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of pinned results. This field will only be set when expansion happens and SearchRequest.QueryExpansionSpec.pin_unexpanded_results is set to true."
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2alphaSetInventoryResponse": {
      "id": "GoogleCloudRetailV2alphaSetInventoryResponse",
      "properties": {},
      "description": "Response of the SetInventoryRequest. Currently empty because there is no meaningful response populated from the ProductService.SetInventory method.",
      "type": "object"
    },
    "GoogleCloudRetailV2betaTuneModelMetadata": {
      "properties": {
        "model": {
          "description": "The resource name of the model that this tune applies to. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`",
          "type": "string"
        }
      },
      "description": "Metadata associated with a tune operation.",
      "id": "GoogleCloudRetailV2betaTuneModelMetadata",
      "type": "object"
    },
    "GoogleCloudRetailV2ExperimentInfoServingConfigExperiment": {
      "id": "GoogleCloudRetailV2ExperimentInfoServingConfigExperiment",
      "type": "object",
      "description": "Metadata for active serving config A/B tests.",
      "properties": {
        "originalServingConfig": {
          "type": "string",
          "description": "The fully qualified resource name of the original SearchRequest.placement in the search request prior to reassignment by experiment API. For example: `projects/*/locations/*/catalogs/*/servingConfigs/*`."
        },
        "experimentServingConfig": {
          "type": "string",
          "description": "The fully qualified resource name of the serving config VariantArm.serving_config_id responsible for generating the search response. For example: `projects/*/locations/*/catalogs/*/servingConfigs/*`."
        }
      }
    },
    "GoogleCloudRetailV2betaSetInventoryResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudRetailV2betaSetInventoryResponse",
      "description": "Response of the SetInventoryRequest. Currently empty because there is no meaningful response populated from the ProductService.SetInventory method."
    },
    "GoogleCloudRetailV2UserEventInlineSource": {
      "type": "object",
      "id": "GoogleCloudRetailV2UserEventInlineSource",
      "properties": {
        "userEvents": {
          "description": "Required. A list of user events to import. Recommended max of 10k items.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2UserEvent"
          }
        }
      },
      "description": "The inline source for the input config for ImportUserEvents method."
    },
    "GoogleCloudRetailV2alphaImportCompletionDataResponse": {
      "id": "GoogleCloudRetailV2alphaImportCompletionDataResponse",
      "description": "Response of the ImportCompletionDataRequest. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "type": "object",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudRetailV2ImportProductsRequest": {
      "properties": {
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2ImportErrorsConfig",
          "description": "The desired location of errors incurred during the Import."
        },
        "updateMask": {
          "description": "Indicates which fields in the provided imported `products` to update. If not set, all fields are updated.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "reconciliationMode": {
          "enumDescriptions": [
            "Defaults to INCREMENTAL.",
            "Inserts new products or updates existing products.",
            "Calculates diff and replaces the entire product dataset. Existing products may be deleted if they are not present in the source location."
          ],
          "description": "The mode of reconciliation between existing products and the products to be imported. Defaults to ReconciliationMode.INCREMENTAL.",
          "enum": [
            "RECONCILIATION_MODE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL"
          ],
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "notificationPubsubTopic": {
          "description": "Full Pub/Sub topic name for receiving notification. If this field is set, when the import is finished, a notification is sent to specified Pub/Sub topic. The message data is JSON string of a Operation. Format of the Pub/Sub topic is `projects/{project}/topics/{topic}`. It has to be within the same project as ImportProductsRequest.parent. Make sure that both `cloud-retail-customer-data-access@system.gserviceaccount.com` and `service-@gcp-sa-retail.iam.gserviceaccount.com` have the `pubsub.topics.publish` IAM permission on the topic. Only supported when ImportProductsRequest.reconciliation_mode is set to `FULL`.",
          "type": "string"
        },
        "inputConfig": {
          "description": "Required. The desired input location of the data.",
          "$ref": "GoogleCloudRetailV2ProductInputConfig"
        }
      },
      "type": "object",
      "description": "Request message for Import methods.",
      "id": "GoogleCloudRetailV2ImportProductsRequest"
    },
    "GoogleCloudRetailV2ListModelsResponse": {
      "properties": {
        "models": {
          "description": "List of Models.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2Model"
          }
        },
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        }
      },
      "description": "Response to a ListModelRequest.",
      "type": "object",
      "id": "GoogleCloudRetailV2ListModelsResponse"
    },
    "GoogleCloudRetailV2CatalogAttribute": {
      "type": "object",
      "properties": {
        "retrievableOption": {
          "enumDescriptions": [
            "Value used when unset.",
            "Retrievable option enabled for an attribute.",
            "Retrievable option disabled for an attribute."
          ],
          "type": "string",
          "enum": [
            "RETRIEVABLE_OPTION_UNSPECIFIED",
            "RETRIEVABLE_ENABLED",
            "RETRIEVABLE_DISABLED"
          ],
          "description": "If RETRIEVABLE_ENABLED, attribute values are retrievable in the search results. If unset, the server behavior defaults to RETRIEVABLE_DISABLED."
        },
        "type": {
          "enumDescriptions": [
            "The type of the attribute is unknown. Used when type cannot be derived from attribute that is not in_use.",
            "Textual attribute.",
            "Numerical attribute."
          ],
          "readOnly": true,
          "enum": [
            "UNKNOWN",
            "TEXTUAL",
            "NUMERICAL"
          ],
          "description": "Output only. The type of this attribute. This is derived from the attribute in Product.attributes.",
          "type": "string"
        },
        "exactSearchableOption": {
          "type": "string",
          "enum": [
            "EXACT_SEARCHABLE_OPTION_UNSPECIFIED",
            "EXACT_SEARCHABLE_ENABLED",
            "EXACT_SEARCHABLE_DISABLED"
          ],
          "description": "If EXACT_SEARCHABLE_ENABLED, attribute values will be exact searchable. This property only applies to textual custom attributes and requires indexable set to enabled to enable exact-searchable. If unset, the server behavior defaults to EXACT_SEARCHABLE_DISABLED.",
          "enumDescriptions": [
            "Value used when unset.",
            "Exact searchable option enabled for an attribute.",
            "Exact searchable option disabled for an attribute."
          ]
        },
        "indexableOption": {
          "enum": [
            "INDEXABLE_OPTION_UNSPECIFIED",
            "INDEXABLE_ENABLED",
            "INDEXABLE_DISABLED"
          ],
          "enumDescriptions": [
            "Value used when unset.",
            "Indexable option enabled for an attribute.",
            "Indexable option disabled for an attribute."
          ],
          "description": "When AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, if INDEXABLE_ENABLED attribute values are indexed so that it can be filtered, faceted, or boosted in SearchService.Search. Must be specified, otherwise throws INVALID_FORMAT error.",
          "type": "string"
        },
        "inUse": {
          "description": "Output only. Indicates whether this attribute has been used by any products. `True` if at least one Product is using this attribute in Product.attributes. Otherwise, this field is `False`. CatalogAttribute can be pre-loaded by using CatalogService.AddCatalogAttribute, CatalogService.ImportCatalogAttributes, or CatalogService.UpdateAttributesConfig APIs. This field is `False` for pre-loaded CatalogAttributes. Only pre-loaded catalog attributes that are neither in use by products nor predefined can be deleted. Catalog attributes that are either in use by products or are predefined attributes cannot be deleted; however, their configuration properties will reset to default values upon removal request. After catalog changes, it takes about 10 minutes for this field to update.",
          "type": "boolean",
          "readOnly": true
        },
        "key": {
          "type": "string",
          "description": "Required. Attribute name. For example: `color`, `brands`, `attributes.custom_attribute`, such as `attributes.xyz`. To be indexable, the attribute name can contain only alpha-numeric characters and underscores. For example, an attribute named `attributes.abc_xyz` can be indexed, but an attribute named `attributes.abc-xyz` cannot be indexed. If the attribute key starts with `attributes.`, then the attribute is a custom attribute. Attributes such as `brands`, `patterns`, and `title` are built-in and called system attributes."
        },
        "dynamicFacetableOption": {
          "description": "If DYNAMIC_FACETABLE_ENABLED, attribute values are available for dynamic facet. Could only be DYNAMIC_FACETABLE_DISABLED if CatalogAttribute.indexable_option is INDEXABLE_DISABLED. Otherwise, an INVALID_ARGUMENT error is returned. Must be specified, otherwise throws INVALID_FORMAT error.",
          "enumDescriptions": [
            "Value used when unset.",
            "Dynamic facetable option enabled for an attribute.",
            "Dynamic facetable option disabled for an attribute."
          ],
          "type": "string",
          "enum": [
            "DYNAMIC_FACETABLE_OPTION_UNSPECIFIED",
            "DYNAMIC_FACETABLE_ENABLED",
            "DYNAMIC_FACETABLE_DISABLED"
          ]
        },
        "searchableOption": {
          "description": "When AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, if SEARCHABLE_ENABLED, attribute values are searchable by text queries in SearchService.Search. If SEARCHABLE_ENABLED but attribute type is numerical, attribute values will not be searchable by text queries in SearchService.Search, as there are no text values associated to numerical attributes. Must be specified, otherwise throws INVALID_FORMAT error.",
          "type": "string",
          "enum": [
            "SEARCHABLE_OPTION_UNSPECIFIED",
            "SEARCHABLE_ENABLED",
            "SEARCHABLE_DISABLED"
          ],
          "enumDescriptions": [
            "Value used when unset.",
            "Searchable option enabled for an attribute.",
            "Searchable option disabled for an attribute."
          ]
        }
      },
      "id": "GoogleCloudRetailV2CatalogAttribute",
      "description": "Catalog level attribute config for an attribute. For example, if customers want to enable/disable facet for a specific attribute."
    },
    "GoogleCloudRetailV2alphaAddFulfillmentPlacesMetadata": {
      "id": "GoogleCloudRetailV2alphaAddFulfillmentPlacesMetadata",
      "description": "Metadata related to the progress of the AddFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddFulfillmentPlaces method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRetailV2RemoveFulfillmentPlacesResponse": {
      "properties": {},
      "description": "Response of the RemoveFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.RemoveFulfillmentPlaces method.",
      "type": "object",
      "id": "GoogleCloudRetailV2RemoveFulfillmentPlacesResponse"
    },
    "GoogleCloudRetailV2ListCatalogsResponse": {
      "properties": {
        "catalogs": {
          "type": "array",
          "description": "All the customer's Catalogs.",
          "items": {
            "$ref": "GoogleCloudRetailV2Catalog"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListCatalogsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for CatalogService.ListCatalogs method.",
      "type": "object",
      "id": "GoogleCloudRetailV2ListCatalogsResponse"
    },
    "GoogleCloudRetailV2PurgeUserEventsResponse": {
      "type": "object",
      "id": "GoogleCloudRetailV2PurgeUserEventsResponse",
      "properties": {
        "purgedEventsCount": {
          "format": "int64",
          "description": "The total count of events purged as a result of the operation.",
          "type": "string"
        }
      },
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field."
    },
    "GoogleCloudRetailV2ImportErrorsConfig": {
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2ImportErrorsConfig",
      "type": "object",
      "description": "Configuration of destination for Import related errors."
    },
    "GoogleCloudRetailV2SearchRequestSpellCorrectionSpec": {
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Unspecified spell correction mode. In this case, server behavior defaults to Mode.AUTO.",
            "Google Retail Search will try to find a spell suggestion if there is any and put in the SearchResponse.corrected_query. The spell suggestion will not be used as the search query.",
            "Automatic spell correction built by Google Retail Search. Search will be based on the corrected query if found."
          ],
          "description": "The mode under which spell correction should take effect to replace the original search query. Default to Mode.AUTO.",
          "enum": [
            "MODE_UNSPECIFIED",
            "SUGGESTION_ONLY",
            "AUTO"
          ],
          "type": "string"
        }
      },
      "description": "The specification for query spell correction.",
      "id": "GoogleCloudRetailV2SearchRequestSpellCorrectionSpec",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaImportErrorsConfig": {
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.",
[...]
