{
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "revision": "20210416",
  "basePath": "",
  "servicePath": "",
  "rootUrl": "https://retail.googleapis.com/",
  "protocol": "rest",
  "baseUrl": "https://retail.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "retail",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "title": "Retail API",
  "id": "retail:v2",
  "canonicalName": "Cloud Retail",
  "description": "Cloud Retail service enables customers to build end-to-end personalized recommendation systems without requiring a high level of expertise in machine learning, recommendation system, or Google Cloud.",
  "version": "v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudRetailV2ImportMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were processed successfully."
        }
      },
      "id": "GoogleCloudRetailV2ImportMetadata",
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudRetailV2betaExportErrorsConfig": {
      "id": "GoogleCloudRetailV2betaExportErrorsConfig",
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration of destination for Export related errors."
    },
    "GoogleCloudRetailV2ImportUserEventsRequest": {
      "description": "Request message for the ImportUserEvents request.",
      "id": "GoogleCloudRetailV2ImportUserEventsRequest",
      "type": "object",
      "properties": {
        "inputConfig": {
          "description": "Required. The desired input location of the data.",
          "$ref": "GoogleCloudRetailV2UserEventInputConfig"
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2ImportErrorsConfig",
          "description": "The desired location of errors incurred during the Import. Cannot be set for inline user event imports."
        }
      }
    },
    "GoogleCloudRetailLoggingHttpRequestContext": {
      "type": "object",
      "properties": {
        "responseStatusCode": {
          "format": "int32",
          "description": "The HTTP response status code for the request.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudRetailLoggingHttpRequestContext",
      "description": "HTTP request data that is related to a reported error."
    },
    "GoogleCloudRetailV2CustomAttribute": {
      "description": "A custom attribute that is not explicitly modeled in Product.",
      "type": "object",
      "id": "GoogleCloudRetailV2CustomAttribute",
      "properties": {
        "numbers": {
          "description": "The numerical values of this custom attribute. For example, `[2.3, 15.4]` when the key is \"lengths_cm\". At most 400 values are allowed.Otherwise, an INVALID_ARGUMENT error is returned. Exactly one of text or numbers should be set. Otherwise, an INVALID_ARGUMENT error is returned.",
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        },
        "text": {
          "items": {
            "type": "string"
          },
          "description": "The textual values of this custom attribute. For example, `[\"yellow\", \"green\"]` when the key is \"color\". At most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. Otherwise, an INVALID_ARGUMENT error is returned. Exactly one of text or numbers should be set. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "array"
        }
      }
    },
    "GoogleCloudRetailV2alphaImportErrorsConfig": {
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Import errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "description": "Configuration of destination for Import related errors.",
      "id": "GoogleCloudRetailV2alphaImportErrorsConfig"
    },
    "GoogleCloudRetailV2alphaExportMetadata": {
      "id": "GoogleCloudRetailV2alphaExportMetadata",
      "description": "Metadata related to the progress of the Export operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2PurgeUserEventsResponse": {
      "type": "object",
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "id": "GoogleCloudRetailV2PurgeUserEventsResponse",
      "properties": {
        "purgedEventsCount": {
          "format": "int64",
          "description": "The total count of events purged as a result of the operation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2betaImportUserEventsResponse": {
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudRetailV2betaImportErrorsConfig"
        },
        "importSummary": {
          "description": "Aggregated statistics of user event import status.",
          "$ref": "GoogleCloudRetailV2betaUserEventImportSummary"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2betaImportUserEventsResponse",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2UserEventInlineSource": {
      "id": "GoogleCloudRetailV2UserEventInlineSource",
      "properties": {
        "userEvents": {
          "description": "Required. A list of user events to import. Recommended max of 10k items.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2UserEvent"
          }
        }
      },
      "type": "object",
      "description": "The inline source for the input config for ImportUserEvents method."
    },
    "GoogleCloudRetailV2betaRejoinUserEventsMetadata": {
      "id": "GoogleCloudRetailV2betaRejoinUserEventsMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata for RejoinUserEvents method."
    },
    "GoogleCloudRetailV2alphaExportErrorsConfig": {
      "description": "Configuration of destination for Export related errors.",
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "id": "GoogleCloudRetailV2alphaExportErrorsConfig"
    },
    "GoogleCloudRetailV2Catalog": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. Immutable. The catalog display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "productLevelConfig": {
          "$ref": "GoogleCloudRetailV2ProductLevelConfig",
          "description": "Required. The product level configuration."
        },
        "name": {
          "type": "string",
          "description": "Required. Immutable. The fully qualified resource name of the catalog."
        }
      },
      "description": "The catalog configuration.",
      "id": "GoogleCloudRetailV2Catalog"
    },
    "GoogleCloudRetailV2betaExportUserEventsResponse": {
      "properties": {
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2betaExportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "description": "Response of the ExportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "id": "GoogleCloudRetailV2betaExportUserEventsResponse"
    },
    "GoogleCloudRetailV2ProductInlineSource": {
      "id": "GoogleCloudRetailV2ProductInlineSource",
      "properties": {
        "products": {
          "type": "array",
          "description": "Required. A list of products to update/create. Each product must have a valid Product.id. Recommended max of 10k items.",
          "items": {
            "$ref": "GoogleCloudRetailV2Product"
          }
        }
      },
      "type": "object",
      "description": "The inline source for the input config for ImportProducts method."
    },
    "GoogleCloudRetailV2alphaPurgeUserEventsResponse": {
      "id": "GoogleCloudRetailV2alphaPurgeUserEventsResponse",
      "type": "object",
      "properties": {
        "purgedEventsCount": {
          "description": "The total count of events purged as a result of the operation.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field."
    },
    "GoogleCloudRetailV2PurchaseTransaction": {
      "type": "object",
      "id": "GoogleCloudRetailV2PurchaseTransaction",
      "description": "A transaction represents the entire purchase transaction.",
      "properties": {
        "id": {
          "description": "The transaction ID with a length limit of 128 characters.",
          "type": "string"
        },
        "cost": {
          "description": "All the costs associated with the products. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs, such that: * Profit = revenue - tax - cost",
          "type": "number",
          "format": "float"
        },
        "currencyCode": {
          "type": "string",
          "description": "Required. Currency code. Use three-character ISO-4217 code."
        },
        "tax": {
          "description": "All the taxes associated with the transaction.",
          "format": "float",
          "type": "number"
        },
        "revenue": {
          "type": "number",
          "format": "float",
          "description": "Required. Total non-zero revenue or grand total associated with the transaction. This value include shipping, tax, or other adjustments to total revenue that you want to include as part of your revenue calculations."
        }
      }
    },
    "GoogleCloudRetailV2betaRejoinUserEventsResponse": {
      "description": "Response message for RejoinUserEvents method.",
      "properties": {
        "rejoinedUserEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of user events that were joined with latest product catalog."
        }
      },
      "id": "GoogleCloudRetailV2betaRejoinUserEventsResponse",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2ProductInputConfig": {
      "id": "GoogleCloudRetailV2ProductInputConfig",
      "type": "object",
      "description": "The input config source for products.",
      "properties": {
        "productInlineSource": {
          "description": "The Inline source for the input content for products.",
          "$ref": "GoogleCloudRetailV2ProductInlineSource"
        },
        "bigQuerySource": {
          "$ref": "GoogleCloudRetailV2BigQuerySource",
          "description": "BigQuery input source."
        },
        "gcsSource": {
          "description": "Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudRetailV2GcsSource"
        }
      }
    },
    "GoogleCloudRetailV2betaImportMetadata": {
      "id": "GoogleCloudRetailV2betaImportMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "successCount": {
          "format": "int64",
          "description": "Count of entries that were processed successfully.",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that encountered errors while processing."
        }
      },
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudRetailV2ListCatalogsResponse": {
      "description": "Response for CatalogService.ListCatalogs method.",
      "properties": {
        "catalogs": {
          "items": {
            "$ref": "GoogleCloudRetailV2Catalog"
          },
          "type": "array",
          "description": "All the customer's Catalogs."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListCatalogsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2ListCatalogsResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2UserEventImportSummary": {
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events.",
      "id": "GoogleCloudRetailV2UserEventImportSummary",
      "properties": {
        "unjoinedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user events imported, but with catalog information not found in the imported catalog."
        },
        "joinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported with complete existing catalog information.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2ImportProductsResponse": {
      "id": "GoogleCloudRetailV2ImportProductsResponse",
      "properties": {
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2ImportErrorsConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        },
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "type": "object",
      "description": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2alphaRejoinUserEventsResponse": {
      "id": "GoogleCloudRetailV2alphaRejoinUserEventsResponse",
      "description": "Response message for RejoinUserEvents method.",
      "properties": {
        "rejoinedUserEventsCount": {
          "format": "int64",
          "description": "Number of user events that were joined with latest product catalog.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2alphaExportUserEventsResponse": {
      "id": "GoogleCloudRetailV2alphaExportUserEventsResponse",
      "type": "object",
      "properties": {
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2alphaExportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      },
      "description": "Response of the ExportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2alphaRejoinUserEventsMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudRetailV2alphaRejoinUserEventsMetadata",
      "description": "Metadata for RejoinUserEvents method."
    },
    "GoogleCloudRetailV2PriceInfo": {
      "id": "GoogleCloudRetailV2PriceInfo",
      "description": "The price information of a Product.",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The 3-letter currency code defined in [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html). If this field is an unrecognizable currency code, an INVALID_ARGUMENT error is returned."
        },
        "price": {
          "type": "number",
          "description": "Price of the product. Google Merchant Center property [price](https://support.google.com/merchants/answer/6324371). Schema.org property [Offer.priceSpecification](https://schema.org/priceSpecification).",
          "format": "float"
        },
        "originalPrice": {
          "format": "float",
          "type": "number",
          "description": "Price of the product without any discount. If zero, by default set to be the price."
        },
        "cost": {
          "type": "number",
          "format": "float",
          "description": "The costs associated with the sale of a particular product. Used for gross profit reporting. * Profit = price - cost Google Merchant Center property [cost_of_goods_sold](https://support.google.com/merchants/answer/9017895)."
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2ProductDetail": {
      "type": "object",
      "id": "GoogleCloudRetailV2ProductDetail",
      "properties": {
        "quantity": {
          "description": "Quantity of the product associated with the user event. For example, this field will be 2 if two products are added to the shopping cart for `purchase-complete` event. Required for `add-to-cart` and `purchase-complete` event types.",
          "format": "int32",
          "type": "integer"
        },
        "product": {
          "$ref": "GoogleCloudRetailV2Product",
          "description": "Required. Product information. Only Product.id field is used when ingesting an event, all other product fields are ignored as we will look them up from the catalog."
        }
      },
      "description": "Detailed product information associated with a user event."
    },
    "GoogleCloudRetailLoggingErrorContext": {
      "id": "GoogleCloudRetailLoggingErrorContext",
      "description": "A description of the context in which an error occurred.",
      "type": "object",
      "properties": {
        "httpRequest": {
          "$ref": "GoogleCloudRetailLoggingHttpRequestContext",
          "description": "The HTTP request which was processed when the error was triggered."
        },
        "reportLocation": {
          "description": "The location in the source code where the decision was made to report the error, usually the place where it was logged.",
          "$ref": "GoogleCloudRetailLoggingSourceLocation"
        }
      }
    },
    "GoogleCloudRetailV2RejoinUserEventsMetadata": {
      "properties": {},
      "id": "GoogleCloudRetailV2RejoinUserEventsMetadata",
      "type": "object",
      "description": "Metadata for RejoinUserEvents method."
    },
    "GoogleCloudRetailV2alphaImportUserEventsResponse": {
      "id": "GoogleCloudRetailV2alphaImportUserEventsResponse",
      "properties": {
        "importSummary": {
          "description": "Aggregated statistics of user event import status.",
          "$ref": "GoogleCloudRetailV2alphaUserEventImportSummary"
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2alphaImportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2PredictResponsePredictionResult": {
      "type": "object",
      "id": "GoogleCloudRetailV2PredictResponsePredictionResult",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the recommended product"
        },
        "metadata": {
          "type": "object",
          "description": "Additional product metadata / annotations. Possible values: * `product`: JSON representation of the product. Will be set if `returnProduct` is set to true in `PredictRequest.params`. * `score`: Prediction score in double value. Will be set if `returnScore` is set to true in `PredictRequest.params`.",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "description": "PredictionResult represents the recommendation prediction results."
    },
    "GoogleCloudRetailV2alphaPurgeMetadata": {
      "description": "Metadata related to the progress of the Purge operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudRetailV2alphaPurgeMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudRetailV2ImportUserEventsResponse": {
      "properties": {
        "importSummary": {
          "description": "Aggregated statistics of user event import status.",
          "$ref": "GoogleCloudRetailV2UserEventImportSummary"
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2ImportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      },
      "id": "GoogleCloudRetailV2ImportUserEventsResponse",
      "type": "object",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2betaImportErrorsConfig": {
      "type": "object",
      "id": "GoogleCloudRetailV2betaImportErrorsConfig",
      "description": "Configuration of destination for Import related errors.",
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Import errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      }
    },
    "GoogleApiHttpBody": {
      "properties": {
        "extensions": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP request/response body as raw binary."
        }
      },
      "id": "GoogleApiHttpBody",
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "GoogleCloudRetailV2UserEventInputConfig": {
      "type": "object",
      "properties": {
        "userEventInlineSource": {
          "description": "Required. The Inline source for the input content for UserEvents.",
          "$ref": "GoogleCloudRetailV2UserEventInlineSource"
        },
        "bigQuerySource": {
          "description": "Required. BigQuery input source.",
          "$ref": "GoogleCloudRetailV2BigQuerySource"
        },
        "gcsSource": {
          "$ref": "GoogleCloudRetailV2GcsSource",
          "description": "Required. Google Cloud Storage location for the input content."
        }
      },
      "id": "GoogleCloudRetailV2UserEventInputConfig",
      "description": "The input config source for user events."
    },
    "GoogleCloudRetailV2PurgeMetadata": {
      "id": "GoogleCloudRetailV2PurgeMetadata",
      "properties": {},
      "type": "object",
      "description": "Metadata related to the progress of the Purge operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudRetailV2ProductLevelConfig": {
      "description": "Configures what level the product should be uploaded with regards to how users will be send events and how predictions will be made.",
      "properties": {
        "merchantCenterProductIdField": {
          "type": "string",
          "description": "Which field of [Merchant Center Product](/bigquery-transfer/docs/merchant-center-products-schema) should be imported as Product.id. Acceptable values are: * `offerId` (default): Import `offerId` as the product ID. * `itemGroupId`: Import `itemGroupId` as the product ID. Notice that Retail API will choose one item from the ones with the same `itemGroupId`, and use it to represent the item group. If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned. If this field is `itemGroupId` and ingestion_product_type is `variant`, an INVALID_ARGUMENT error is returned. See [Using product levels](https://cloud.google.com/retail/recommendations-ai/docs/catalog#product-levels) for more details."
        },
        "ingestionProductType": {
          "type": "string",
          "description": "The type of Products allowed to be ingested into the catalog. Acceptable values are: * `primary` (default): You can only ingest Product.Type.PRIMARY Products. This means Product.primary_product_id can only be empty or set to the same value as Product.id. * `variant`: You can only ingest Product.Type.VARIANT Products. This means Product.primary_product_id cannot be empty. If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned. If this field is `variant` and merchant_center_product_id_field is `itemGroupId`, an INVALID_ARGUMENT error is returned. See [Using product levels](https://cloud.google.com/retail/recommendations-ai/docs/catalog#product-levels) for more details."
        }
      },
      "id": "GoogleCloudRetailV2ProductLevelConfig",
      "type": "object"
    },
    "GoogleCloudRetailV2Product": {
      "type": "object",
      "description": "Product captures all metadata information of items to be recommended or searched.",
      "properties": {
        "primaryProductId": {
          "description": "Variant group identifier. Must be an id, with the same parent branch with this product. Otherwise, an error is thrown. For Type.PRIMARY Products, this field can only be empty or set to the same value as id. For VARIANT Products, this field cannot be empty. A maximum of 2,000 products are allowed to share the same Type.PRIMARY Product. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center Property [item_group_id](https://support.google.com/merchants/answer/6324507). Schema.org Property [Product.inProductGroupWithID](https://schema.org/inProductGroupWithID). This field must be enabled before it can be used. [Learn more](/recommendations-ai/docs/catalog#item-group-id).",
          "type": "string"
        },
        "categories": {
          "items": {
            "type": "string"
          },
          "description": "Product categories. This field is repeated for supporting one product belonging to several parallel categories. Strongly recommended using the full path for better search / recommendation quality. To represent full path of category, use '\u003e' sign to separate different hierarchies. If '\u003e' is part of the category name, please replace it with other character(s). For example, if a shoes product belongs to both [\"Shoes & Accessories\" -\u003e \"Shoes\"] and [\"Sports & Fitness\" -\u003e \"Athletic Clothing\" -\u003e \"Shoes\"], it could be represented as: \"categories\": [ \"Shoes & Accessories \u003e Shoes\", \"Sports & Fitness \u003e Athletic Clothing \u003e Shoes\" ] Must be set for Type.PRIMARY Product otherwise an INVALID_ARGUMENT error is returned. At most 250 values are allowed per Product. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property google_product_category. Schema.org property [Product.category] (https://schema.org/category). [mc_google_product_category]: https://support.google.com/merchants/answer/6324436",
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "Required. Product title. This field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [title](https://support.google.com/merchants/answer/6324415). Schema.org property [Product.name](https://schema.org/name)."
        },
        "availableQuantity": {
          "format": "int32",
          "description": "The available quantity of the item.",
          "type": "integer"
        },
        "images": {
          "type": "array",
          "description": "Product images for the product.Highly recommended to put the main image to the first. A maximum of 300 images are allowed. Google Merchant Center property [image_link](https://support.google.com/merchants/answer/6324350). Schema.org property [Product.image](https://schema.org/image).",
          "items": {
            "$ref": "GoogleCloudRetailV2Image"
          }
        },
        "availableTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when this Product becomes available for recommendation."
        },
        "tags": {
          "description": "Custom tags associated with the product. At most 250 values are allowed per Product. This value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This tag can be used for filtering recommendation results by passing the tag as part of the PredictRequest.filter. Google Merchant Center property [custom_label_0–4](https://support.google.com/merchants/answer/6324473).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "availability": {
          "type": "string",
          "description": "The online availability of the Product. Default to Availability.IN_STOCK. Google Merchant Center Property [availability](https://support.google.com/merchants/answer/6324448). Schema.org Property [Offer.availability](https://schema.org/availability).",
          "enumDescriptions": [
            "Default product availability. Default to Availability.IN_STOCK if unset.",
            "Product in stock.",
            "Product out of stock.",
            "Product that is in pre-order state.",
            "Product that is back-ordered (i.e. temporarily out of stock)."
          ],
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "BACKORDER"
          ]
        },
        "id": {
          "type": "string",
          "description": "Immutable. Product identifier, which is the final component of name. For example, this field is \"id_1\", if name is `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/id_1`. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [id](https://support.google.com/merchants/answer/6324405). Schema.org Property [Product.sku](https://schema.org/sku)."
        },
        "priceInfo": {
          "description": "Product price and cost information. Google Merchant Center property [price](https://support.google.com/merchants/answer/6324371).",
          "$ref": "GoogleCloudRetailV2PriceInfo"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URL directly linking to the product detail page. It is strongly recommended to provide a valid uri for the product, otherwise the service performance could be significantly degraded. This field must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [link](https://support.google.com/merchants/answer/6324416). Schema.org property [Offer.url](https://schema.org/url)."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY",
            "VARIANT",
            "COLLECTION"
          ],
          "description": "Immutable. The type of the product. This field is output-only. Default to Catalog.product_level_config.ingestion_product_type if unset.",
          "enumDescriptions": [
            "Default value. Default to Catalog.product_level_config.ingestion_product_type if unset.",
            "The primary type. As the primary unit for predicting, indexing and search serving, a Type.PRIMARY Product is grouped with multiple Type.VARIANT Products.",
            "The variant type. Type.VARIANT Products usually share some common attributes on the same Type.PRIMARY Products, but they have variant attributes like different colors, sizes and prices, etc.",
            "The collection type. Collection products are bundled Type.PRIMARY Products or Type.VARIANT Products that are sold together, such as a jewelry set with necklaces, earrings and rings, etc."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Full resource name of the product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/product_id`. The branch ID must be \"default_branch\"."
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRetailV2CustomAttribute"
          },
          "description": "Highly encouraged. Extra product attributes to be included. For example, for products, this could include the store name, vendor, style, color, etc. These are very strong signals for recommendation model, thus we highly recommend providing the attributes here. Features that can take on one of a limited number of possible values. Two types of features can be set are: Textual features. some examples would be the brand/maker of a product, or country of a customer. Numerical features. Some examples would be the height/weight of a product, or age of a customer. For example: `{ \"vendor\": {\"text\": [\"vendor123\", \"vendor456\"]}, \"lengths_cm\": {\"numbers\":[2.3, 15.4]}, \"heights_cm\": {\"numbers\":[8.1, 6.4]} }`. This field needs to pass all below criteria, otherwise an INVALID_ARGUMENT error is returned: * Max entries count: 150 by default; 100 for Type.VARIANT. * The key must be a UTF-8 encoded string with a length limit of 128 characters."
        },
        "description": {
          "type": "string",
          "description": "Product description. This field must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [description](https://support.google.com/merchants/answer/6324468). schema.org property [Product.description](https://schema.org/description)."
        }
      },
      "id": "GoogleCloudRetailV2Product"
    },
    "GoogleCloudRetailV2betaExportProductsResponse": {
      "description": "Response of the ExportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2betaExportErrorsConfig"
        }
      },
      "id": "GoogleCloudRetailV2betaExportProductsResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2Image": {
      "description": "Product thumbnail/detail image.",
      "id": "GoogleCloudRetailV2Image",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URI of the image. This field must be a valid UTF-8 encoded URI with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [image_link](https://support.google.com/merchants/answer/6324350). Schema.org property [Product.image](https://schema.org/image)."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "Height of the image in number of pixels. This field must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "Width of the image in number of pixels. This field must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned."
        }
      }
    },
    "GoogleCloudRetailV2PurgeUserEventsRequest": {
      "properties": {
        "filter": {
          "description": "Required. The filter string to specify the events to be deleted with a length limit of 5,000 characters. Empty string filter is not allowed. The eligible fields for filtering are: * `eventType`: Double quoted UserEvent.event_type string. * `eventTime`: in ISO 8601 \"zulu\" format. * `visitorId`: Double quoted string. Specifying this will delete all events associated with a visitor. * `userId`: Double quoted string. Specifying this will delete all events associated with a user. Examples: * Deleting all events in a time range: `eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventTime \u003c \"2012-04-23T18:30:43.511Z\"` * Deleting specific eventType in time range: `eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventType = \"detail-page-view\"` * Deleting all events for a specific visitor: `visitorId = \"visitor1024\"` The filtering fields are assumed to have an implicit AND.",
          "type": "string"
        },
        "force": {
          "description": "Actually perform the purge. If `force` is set to false, the method will return the expected purge count without deleting any user events.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2PurgeUserEventsRequest",
      "description": "Request message for PurgeUserEvents method."
    },
    "GoogleCloudRetailLoggingImportErrorContext": {
      "id": "GoogleCloudRetailLoggingImportErrorContext",
      "description": "The error payload that is populated on LRO import APIs. Including: \"google.cloud.retail.v2.ProductService.ImportProducts\" \"google.cloud.retail.v2.EventService.ImportUserEvents\"",
      "type": "object",
      "properties": {
        "userEvent": {
          "type": "string",
          "description": "The detailed content which caused the error on importing a user event."
        },
        "product": {
          "type": "string",
          "description": "The detailed content which caused the error on importing a product."
        },
        "lineNumber": {
          "description": "Line number of the content in file. Should be empty for permission or batch operation error.",
          "type": "string"
        },
        "catalogItem": {
          "type": "string",
          "description": "The detailed content which caused the error on importing a catalog item."
        },
        "operationName": {
          "description": "The operation resource name of the LRO.",
          "type": "string"
        },
        "gcsPath": {
          "type": "string",
          "description": "GCS file path of the import source. Can be set for batch operation error."
        }
      }
    },
    "GoogleCloudRetailV2GcsSource": {
      "id": "GoogleCloudRetailV2GcsSource",
      "properties": {
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for product imports: * `product` (default): One JSON Product per line. Each product must have a valid Product.id. * `product_merchant_center`: See [Importing catalog data from Merchant Center](https://cloud.google.com/retail/recommendations-ai/docs/upload-catalog#mc). Supported values for user events imports: * `user_event` (default): One JSON UserEvent per line. * `user_event_ga360`: Using https://support.google.com/analytics/answer/3437719?hl=en."
        },
        "inputUris": {
          "description": "Required. Google Cloud Storage URIs to input files. URI can be up to 2000 characters long. URIs can match the full object path (for example, `gs://bucket/directory/object.json`) or a pattern matching one or more files, such as `gs://bucket/directory/*.json`. A request can contain at most 100 files, and each file can be up to 2 GB. See [Importing product information](https://cloud.google.com/retail/recommendations-ai/docs/upload-catalog) for the expected file format and setup instructions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Google Cloud Storage location for input content. format.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRetailV2RejoinUserEventsResponse": {
      "id": "GoogleCloudRetailV2RejoinUserEventsResponse",
      "description": "Response message for RejoinUserEvents method.",
      "type": "object",
      "properties": {
        "rejoinedUserEventsCount": {
          "description": "Number of user events that were joined with latest product catalog.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudRetailV2alphaImportMetadata": {
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "format": "int64",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudRetailV2alphaImportMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudRetailV2BigQuerySource": {
      "description": "BigQuery source import data from.",
      "properties": {
        "dataSchema": {
          "description": "The schema to use when parsing the data from the source. Supported values for product imports: * `product` (default): One JSON Product per line. Each product must have a valid Product.id. * `product_merchant_center`: See [Importing catalog data from Merchant Center](https://cloud.google.com/retail/recommendations-ai/docs/upload-catalog#mc). Supported values for user events imports: * `user_event` (default): One JSON UserEvent per line. * `user_event_ga360`: Using https://support.google.com/analytics/answer/3437719?hl=en.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "The project ID (can be project # or ID) that the BigQuery source is in with a length limit of 128 characters. If not specified, inherits the project ID from the parent request."
        },
        "datasetId": {
          "type": "string",
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters."
        },
        "gcsStagingDir": {
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory.",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters."
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2BigQuerySource"
    },
    "GoogleCloudRetailLoggingSourceLocation": {
      "id": "GoogleCloudRetailLoggingSourceLocation",
      "type": "object",
      "description": "Indicates a location in the source code of the service for which errors are reported.",
      "properties": {
        "functionName": {
          "description": "Human-readable name of a function or method. For example, \"google.cloud.retail.v2.UserEventService.ImportUserEvents\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2RejoinUserEventsRequest": {
      "properties": {
        "userEventRejoinScope": {
          "type": "string",
          "description": "The type of the user event rejoin to define the scope and range of the user events to be rejoined with the latest product catalog. Defaults to USER_EVENT_REJOIN_SCOPE_UNSPECIFIED if this field is not set, or set to an invalid integer value.",
          "enum": [
            "USER_EVENT_REJOIN_SCOPE_UNSPECIFIED",
            "JOINED_EVENTS",
            "UNJOINED_EVENTS"
          ],
          "enumDescriptions": [
            "Rejoin all events with the latest product catalog, including both joined events and unjoined events.",
            "Only rejoin joined events with the latest product catalog.",
            "Only rejoin unjoined events with the latest product catalog."
          ]
        }
      },
      "id": "GoogleCloudRetailV2RejoinUserEventsRequest",
      "type": "object",
      "description": "Request message for RejoinUserEvents method."
    },
    "GoogleCloudRetailV2ImportProductsRequest": {
      "id": "GoogleCloudRetailV2ImportProductsRequest",
      "description": "Request message for Import methods.",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Indicates which fields in the provided imported 'products' to update. If not set, will by default update all fields."
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2ImportErrorsConfig",
          "description": "The desired location of errors incurred during the Import."
        },
        "inputConfig": {
          "description": "Required. The desired input location of the data.",
          "$ref": "GoogleCloudRetailV2ProductInputConfig"
        }
      }
    },
    "GoogleCloudRetailV2PredictResponse": {
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudRetailV2PredictResponsePredictionResult"
          },
          "type": "array",
          "description": "A list of recommended products. The order represents the ranking (from the most relevant product to the least)."
        },
        "missingIds": {
          "items": {
            "type": "string"
          },
          "description": "IDs of products in the request that were missing from the inventory.",
          "type": "array"
        },
        "attributionToken": {
          "type": "string",
          "description": "A unique attribution token. This should be included in the UserEvent logs resulting from this recommendation, which enables accurate attribution of recommendation model performance."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "True if the validateOnly property was set in the request."
        }
      },
      "description": "Response message for predict method.",
      "id": "GoogleCloudRetailV2PredictResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaUserEventImportSummary": {
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events.",
      "id": "GoogleCloudRetailV2alphaUserEventImportSummary",
      "type": "object",
      "properties": {
        "unjoinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported, but with catalog information not found in the imported catalog.",
          "type": "string"
        },
        "joinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported with complete existing catalog information.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2UserInfo": {
      "type": "object",
      "description": "Information of an end user.",
      "id": "GoogleCloudRetailV2UserInfo",
      "properties": {
        "ipAddress": {
          "description": "The end user's IP address. This field is used to extract location information for personalization. This field must be either an IPv4 address (e.g. \"104.133.9.80\") or an IPv6 address (e.g. \"2001:0db8:85a3:0000:0000:8a2e:0370:7334\"). Otherwise, an INVALID_ARGUMENT error is returned. This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent or if direct_user_request is set.",
          "type": "string"
        },
        "userAgent": {
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if direct_user_request is set.",
          "type": "string"
        },
        "userId": {
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "directUserRequest": {
          "type": "boolean",
          "description": "True if the request is made directly from the end user, in which case the ip_address and user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      }
    },
    "GoogleCloudRetailLoggingServiceContext": {
      "properties": {
        "service": {
          "type": "string",
          "description": "An identifier of the service. For example, \"retail.googleapis.com\"."
        }
      },
      "id": "GoogleCloudRetailLoggingServiceContext",
      "description": "Describes a running service that sends errors.",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudRetailV2alphaExportProductsResponse": {
      "id": "GoogleCloudRetailV2alphaExportProductsResponse",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2alphaExportErrorsConfig"
        }
      },
      "type": "object",
      "description": "Response of the ExportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2betaPurgeMetadata": {
      "type": "object",
      "id": "GoogleCloudRetailV2betaPurgeMetadata",
      "properties": {},
      "description": "Metadata related to the progress of the Purge operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudRetailV2alphaImportProductsResponse": {
      "description": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudRetailV2alphaImportProductsResponse",
      "type": "object",
      "properties": {
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2alphaImportErrorsConfig"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudRetailV2ImportErrorsConfig": {
      "description": "Configuration of destination for Import related errors.",
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Import errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2ImportErrorsConfig",
      "type": "object"
    },
    "GoogleCloudRetailV2betaPurgeUserEventsResponse": {
      "properties": {
        "purgedEventsCount": {
          "format": "int64",
          "description": "The total count of events purged as a result of the operation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2betaPurgeUserEventsResponse",
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object"
    },
    "GoogleCloudRetailV2betaImportProductsResponse": {
      "properties": {
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2betaImportErrorsConfig"
        },
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2betaImportProductsResponse",
      "description": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2betaUserEventImportSummary": {
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events.",
      "properties": {
        "joinedEventsCount": {
          "type": "string",
          "description": "Count of user events imported with complete existing catalog information.",
          "format": "int64"
        },
        "unjoinedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user events imported, but with catalog information not found in the imported catalog."
        }
      },
      "id": "GoogleCloudRetailV2betaUserEventImportSummary",
      "type": "object"
    },
    "GoogleCloudRetailV2UserEvent": {
      "type": "object",
      "properties": {
        "experimentIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups (e.g. using Retail API, using different recommendation models)."
        },
        "eventTime": {
          "type": "string",
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened.",
          "format": "google-datetime"
        },
        "productDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2ProductDetail"
          },
          "description": "The main product details related to the event. This field is required for the following event types: * `add-to-cart` * `detail-page-view` * `purchase-complete` In a `search` event, this field represents the products returned to the end user on the current page (the end user may have not finished broswing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different product_details is desired. The end user may have not finished broswing the whole page yet."
        },
        "referrerUri": {
          "type": "string",
          "description": "The referrer URL of the current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically."
        },
        "visitorId": {
          "type": "string",
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. The field should not contain PII or user-data. We recommend to use Google Analystics [Client ID](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#clientId) for this field."
        },
        "pageViewId": {
          "type": "string",
          "description": "A unique id of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageViewId` property should be kept the same for all these events so that they can be grouped together properly. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically."
        },
        "searchQuery": {
          "type": "string",
          "description": "The user's search query. The value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "uri": {
          "type": "string",
          "description": "Complete URL (window.location.href) of the user's current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. Maximum length 5,000 characters."
        },
        "cartId": {
          "type": "string",
          "description": "The id or name of the associated shopping cart. This id is used to associate multiple items added or present in the cart before purchase. This can only be set for `add-to-cart`, `purchase-complete`, or `shopping-cart-page-view` events."
        },
        "purchaseTransaction": {
          "description": "A transaction represents the entire purchase transaction. Required for `purchase-complete` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "$ref": "GoogleCloudRetailV2PurchaseTransaction"
        },
        "attributes": {
          "description": "Extra user event features to include in the recommendation model. The key must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. For product recommendation, an example of extra user information is traffic_channel, i.e. how user arrives at the site. Users can arrive at the site by coming to the site directly, or coming through Google search, and etc.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRetailV2CustomAttribute"
          }
        },
        "userInfo": {
          "description": "User information.",
          "$ref": "GoogleCloudRetailV2UserInfo"
        },
        "eventType": {
          "type": "string",
          "description": "Required. User event type. Allowed values are: * `add-to-cart`: Products being added to cart. * `category-page-view`: Special pages such as sale or promotion pages viewed. * `detail-page-view`: Products detail page viewed. * `home-page-view`: Homepage viewed. * `promotion-offered`: Promotion is offered to a user. * `promotion-not-offered`: Promotion is not offered to a user. * `purchase-complete`: User finishing a purchase. * `search`: Product search. * `shopping-cart-page-view`: User viewing a shopping cart."
        },
        "attributionToken": {
          "description": "Highly recommended for user events that are the result of PredictionService.Predict. This field enables accurate attribution of recommendation model performance. The value must be a valid PredictResponse.attribution_token for user events that are the result of PredictionService.Predict. This token enables us to accurately attribute page view or purchase back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass PredictResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the PredictResponse.attribution_token to this field.",
          "type": "string"
        },
        "pageCategories": {
          "items": {
            "type": "string"
          },
          "description": "The categories associated with a category page. To represent full path of category, use '\u003e' sign to separate different hierarchies. If '\u003e' is part of the category name, please replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: \"pageCategories\" : [\"Sales \u003e 2017 Black Friday Deals\"]. Required for `category-page-view` events. At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "array"
        }
      },
      "id": "GoogleCloudRetailV2UserEvent",
      "description": "UserEvent captures all metadata information Retail API needs to know about how end users interact with customers' website."
    },
    "GoogleCloudRetailV2PredictRequest": {
      "id": "GoogleCloudRetailV2PredictRequest",
      "description": "Request message for Predict method.",
      "type": "object",
      "properties": {
        "userEvent": {
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the predict request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging.",
          "$ref": "GoogleCloudRetailV2UserEvent"
        },
        "pageToken": {
          "type": "string",
          "description": "The previous PredictResponse.next_page_token."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Use validate only mode for this prediction query. If set to true, a dummy model will be used that returns arbitrary products. Note that the validate only mode should only be used for testing the API, or if the model is not ready."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters, and cannot be empty. Values can be empty, and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of results to return per page. Set this property to the number of prediction results needed. If zero, the service will choose a reasonable default. The maximum allowed value is 100. Values above 100 will be coerced to 100."
        },
        "filter": {
          "type": "string",
          "description": "Filter for restricting prediction results with a length limit of 5,000 characters. Accepts values for tags and the `filterOutOfStockItems` flag. * Tag expressions. Restricts predictions to products that match all of the specified tags. Boolean operators `OR` and `NOT` are supported if the expression is enclosed in parentheses, and must be separated from the tag values by a space. `-\"tagA\"` is also supported and is equivalent to `NOT \"tagA\"`. Tag values must be double quoted UTF-8 encoded strings with a size limit of 1,000 characters. Note: \"Recently viewed\" models don't support tag filtering at the moment. * filterOutOfStockItems. Restricts predictions to products that do not have a stockState value of OUT_OF_STOCK. Examples: * tag=(\"Red\" OR \"Blue\") tag=\"New-Arrival\" tag=(NOT \"promotional\") * filterOutOfStockItems tag=(-\"promotional\") * filterOutOfStockItems If your filter blocks all prediction results, nothing will be returned. If you want generic (unfiltered) popular products to be returned instead, set `strictFiltering` to false in `PredictRequest.params`."
        },
        "params": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Additional domain specific parameters for the predictions. Allowed values: * `returnProduct`: Boolean. If set to true, the associated product object will be returned in the `results.metadata` field in the prediction response. * `returnScore`: Boolean. If set to true, the prediction 'score' corresponding to each returned product will be set in the `results.metadata` field in the prediction response. The given 'score' indicates the probability of an product being clicked/purchased given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to false, the service will return generic (unfiltered) popular products instead of empty if your filter blocks all prediction results."
        }
      }
    },
    "GoogleCloudRetailLoggingErrorLog": {
      "description": "An error log which is reported to the Error Reporting system. This proto a superset of google.devtools.clouderrorreporting.v1beta1.ReportedErrorEvent.",
      "type": "object",
      "id": "GoogleCloudRetailLoggingErrorLog",
      "properties": {
        "context": {
          "description": "A description of the context in which the error occurred.",
          "$ref": "GoogleCloudRetailLoggingErrorContext"
        },
        "requestPayload": {
          "description": "The API request payload, represented as a protocol buffer. Most API request types are supported. For example: \"type.googleapis.com/google.cloud.retail.v2.ProductService.CreateProductRequest\" \"type.googleapis.com/google.cloud.retail.v2.UserEventService.WriteUserEventRequest\"",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "responsePayload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The API response payload, represented as a protocol buffer. This is used to log some \"soft errors\", where the response is valid but we consider there are some quality issues like unjoined events. The following API responses are supported and no PII is included: \"google.cloud.retail.v2.PredictionService.Predict\" \"google.cloud.retail.v2.UserEventService.WriteUserEvent\" \"google.cloud.retail.v2.UserEventService.CollectUserEvent\""
        },
        "message": {
          "description": "A message describing the error.",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The RPC status associated with the error log."
        },
        "serviceContext": {
          "$ref": "GoogleCloudRetailLoggingServiceContext",
          "description": "The service context in which this error has occurred."
        },
        "importPayload": {
          "$ref": "GoogleCloudRetailLoggingImportErrorContext",
          "description": "The error payload that is populated on LRO import APIs."
        }
      }
    },
    "GoogleCloudRetailV2betaExportMetadata": {
      "id": "GoogleCloudRetailV2betaExportMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the Export operation. This will be returned by the google.longrunning.Operation.metadata field."
    }
  },
  "documentationLink": "https://cloud.google.com/recommendations",
  "mtlsRootUrl": "https://retail.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "id": "retail.projects.locations.operations.list",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size."
                    }
                  },
                  "path": "v2/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "retail.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}"
                }
              }
            },
            "catalogs": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudRetailV2Catalog"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "retail.projects.locations.catalogs.patch",
                  "request": {
                    "$ref": "GoogleCloudRetailV2Catalog"
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}",
                  "httpMethod": "PATCH",
                  "description": "Updates the Catalogs.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                      "description": "Required. Immutable. The fully qualified resource name of the catalog.",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Indicates which fields in the provided Catalog to update. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of Catalogs to return. If unspecified, defaults to 50. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an INVALID_ARGUMENT is returned.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token ListCatalogsResponse.next_page_token, received from a previous CatalogService.ListCatalogs call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to CatalogService.ListCatalogs must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The account resource name with an associated location. If the caller does not have permission to list Catalogs under this location, regardless of whether or not this location exists, a PERMISSION_DENIED error is returned.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v2/{+parent}/catalogs",
                  "response": {
                    "$ref": "GoogleCloudRetailV2ListCatalogsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all the Catalogs associated with the project.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/catalogs",
                  "id": "retail.projects.locations.catalogs.list",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              },
              "resources": {
                "branches": {
                  "resources": {
                    "products": {
                      "methods": {
                        "create": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "id": "retail.projects.locations.catalogs.branches.products.create",
                          "response": {
                            "$ref": "GoogleCloudRetailV2Product"
                          },
                          "parameters": {
                            "productId": {
                              "description": "Required. The ID to use for the Product, which will become the final component of the Product.name. If the caller does not have permission to create the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. This field must be unique among all Products with the same parent. Otherwise, an ALREADY_EXISTS error is returned. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. The parent catalog resource name, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+$"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudRetailV2Product"
                          },
                          "description": "Creates a Product.",
                          "path": "v2/{+parent}/products",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products"
                        },
                        "get": {
                          "id": "retail.projects.locations.catalogs.branches.products.get",
                          "path": "v2/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$",
                              "type": "string",
                              "description": "Required. Full resource name of Product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/some_product_id`. If the caller does not have permission to access the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested Product does not exist, a NOT_FOUND error is returned.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudRetailV2Product"
                          },
                          "description": "Gets a Product."
                        },
                        "import": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. `projects/1234/locations/global/catalogs/default_catalog/branches/default_branch` If no updateMask is specified, requires products.create permission. If updateMask is specified, requires products.update permission.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+$",
                              "location": "path"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudRetailV2ImportProductsRequest"
                          },
                          "path": "v2/{+parent}/products:import",
                          "description": "Bulk import of multiple Products. Request processing may be synchronous. No partial updating is supported. Non-existing items are created. Note that it is possible for a subset of the Products to be successfully updated.",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products:import",
                          "httpMethod": "POST",
                          "id": "retail.projects.locations.catalogs.branches.products.import",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "delete": {
                          "id": "retail.projects.locations.catalogs.branches.products.delete",
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes a Product.",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v2/{+name}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. Full resource name of Product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/some_product_id`. If the caller does not have permission to delete the Product, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the Product to delete does not exist, a NOT_FOUND error is returned. The Product to delete can neither be a Product.Type.COLLECTION Product member nor a Product.Type.PRIMARY Product with more than one variants. Otherwise, an INVALID_ARGUMENT error is returned. All inventory information for the named Product will be deleted.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$",
                              "location": "path"
                            }
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/branches/{branchesId}/products/{productsId}"
                        },
                        "patch": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/branches/[^/]+/products/.*$",
                              "type": "string",
                              "description": "Immutable. Full resource name of the product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/product_id`. The branch ID must be \"default_branch\".",
                              "location": "path",
                              "required": true
                            },
                            "allowMissing": {
                              "description": "If set to true, and the Product is not found, a new Product will be created. In this situation, `update_mask` is ignored.",
                              "type": "boolean",
                              "location": "query"
                            },
                            "updateMask": {
                              "type": "string",
                              "location": "query",
                              "description": "Indicates which fields in the provided Product to update. The immutable and output only fields are NOT supported. If not set, all supported fields (the fields that are neither immutable nor output only) are updated. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned.",
[...]
