{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Retail API",
  "baseUrl": "https://retail.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "revision": "20220127",
  "mtlsRootUrl": "https://retail.mtls.googleapis.com/",
  "rootUrl": "https://retail.googleapis.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "servicePath": "",
  "id": "retail:v2beta",
  "description": "Cloud Retail service enables customers to build end-to-end personalized recommendation systems without requiring a high level of expertise in machine learning, recommendation system, or Google Cloud.",
  "version": "v2beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "retail",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Cloud Retail",
  "schemas": {
    "GoogleCloudRetailV2betaProductDetail": {
      "properties": {
        "product": {
          "description": "Required. Product information. Required field(s): * Product.id Optional override field(s): * Product.price_info If any supported optional fields are provided, we will treat them as a full override when looking up product information from the catalog. Thus, it is important to ensure that the overriding fields are accurate and complete. All other product fields are ignored and instead populated via catalog lookup after event ingestion.",
          "$ref": "GoogleCloudRetailV2betaProduct"
        },
        "quantity": {
          "format": "int32",
          "description": "Quantity of the product associated with the user event. For example, this field will be 2 if two products are added to the shopping cart for `purchase-complete` event. Required for `add-to-cart` and `purchase-complete` event types.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Detailed product information associated with a user event.",
      "id": "GoogleCloudRetailV2betaProductDetail"
    },
    "GoogleCloudRetailV2betaImportUserEventsResponse": {
      "properties": {
        "importSummary": {
          "description": "Aggregated statistics of user event import status.",
          "$ref": "GoogleCloudRetailV2betaUserEventImportSummary"
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2betaImportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      },
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "id": "GoogleCloudRetailV2betaImportUserEventsResponse"
    },
    "GoogleCloudRetailV2betaRuleReplacementAction": {
      "type": "object",
      "properties": {
        "queryTerms": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Terms from the search query. Will be replaced by replacement term. Can specify up to 100 terms."
        },
        "term": {
          "type": "string",
          "description": "Will be [deprecated = true] post migration;"
        },
        "replacementTerm": {
          "description": "Term that will be used for replacement.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2betaRuleReplacementAction",
      "description": "Replaces a term in the query. Multiple replacement candidates can be specified. All `query_terms` will be replaced with the replacement term. Example: Replace \"gShoe\" with \"google shoe\"."
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "type": "object",
      "id": "GoogleTypeDate",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudRetailV2betaExportProductsResponse": {
      "type": "object",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2betaExportErrorsConfig"
        }
      },
      "id": "GoogleCloudRetailV2betaExportProductsResponse",
      "description": "Response of the ExportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2alphaExportMetadata": {
      "description": "Metadata related to the progress of the Export operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudRetailV2alphaExportMetadata"
    },
    "GoogleCloudRetailV2betaRemoveFulfillmentPlacesResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudRetailV2betaRemoveFulfillmentPlacesResponse",
      "description": "Response of the RemoveFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the RemoveFulfillmentPlaces method."
    },
    "GoogleCloudRetailV2alphaAddLocalInventoriesResponse": {
      "id": "GoogleCloudRetailV2alphaAddLocalInventoriesResponse",
      "type": "object",
      "description": "Response of the AddLocalInventories API. Currently empty because there is no meaningful response populated from the AddLocalInventories method.",
      "properties": {}
    },
    "GoogleCloudRetailV2alphaAddFulfillmentPlacesResponse": {
      "properties": {},
      "description": "Response of the AddFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the AddFulfillmentPlaces method.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaAddFulfillmentPlacesResponse"
    },
    "GoogleCloudRetailV2betaPredictResponse": {
      "description": "Response message for predict method.",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2betaPredictResponsePredictionResult"
          },
          "description": "A list of recommended products. The order represents the ranking (from the most relevant product to the least)."
        },
        "validateOnly": {
          "description": "True if the validateOnly property was set in the request.",
          "type": "boolean"
        },
        "missingIds": {
          "items": {
            "type": "string"
          },
          "description": "IDs of products in the request that were missing from the inventory.",
          "type": "array"
        },
        "attributionToken": {
          "description": "A unique attribution token. This should be included in the UserEvent logs resulting from this recommendation, which enables accurate attribution of recommendation model performance.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2betaPredictResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2betaListServingConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        },
        "servingConfigs": {
          "description": "All the ServingConfigs for a given catalog.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2betaServingConfig"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2betaListServingConfigsResponse",
      "description": "Response for ListServingConfigs method."
    },
    "GoogleCloudRetailV2betaAddControlRequest": {
      "properties": {
        "controlId": {
          "description": "Required. The id of the control to apply. Assumed to be in the same catalog as the serving config - if id is not found a NOT_FOUND error is returned.",
          "type": "string"
        }
      },
      "description": "Request for AddControl method.",
      "type": "object",
      "id": "GoogleCloudRetailV2betaAddControlRequest"
    },
    "GoogleCloudRetailV2betaExportMetadata": {
      "description": "Metadata related to the progress of the Export operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudRetailV2betaExportMetadata",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailLoggingServiceContext": {
      "id": "GoogleCloudRetailLoggingServiceContext",
      "description": "Describes a running service that sends errors.",
      "type": "object",
      "properties": {
        "service": {
          "description": "An identifier of the service. For example, \"retail.googleapis.com\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailLoggingHttpRequestContext": {
      "type": "object",
      "id": "GoogleCloudRetailLoggingHttpRequestContext",
      "properties": {
        "responseStatusCode": {
          "description": "The HTTP response status code for the request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "HTTP request data that is related to a reported error."
    },
    "GoogleCloudRetailV2betaSearchRequestBoostSpecConditionBoostSpec": {
      "properties": {
        "condition": {
          "description": "An expression which specifies a boost condition. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost products with product ID \"product_1\" or \"product_2\", and color \"Red\" or \"Blue\": * (id: ANY(\"product_1\", \"product_2\")) AND (colorFamilies: ANY(\"Red\",\"Blue\"))",
          "type": "string"
        },
        "boost": {
          "type": "number",
          "description": "Strength of the condition boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the item a big promotion. However, it does not necessarily mean that the boosted item will be the top result at all times, nor that other items will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant items. Setting to -1.0 gives the item a big demotion. However, results that are deeply relevant might still be shown. The item will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "format": "float"
        }
      },
      "description": "Boost applies to products which match a condition.",
      "id": "GoogleCloudRetailV2betaSearchRequestBoostSpecConditionBoostSpec",
      "type": "object"
    },
    "GoogleCloudRetailV2betaImportErrorsConfig": {
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Import errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "id": "GoogleCloudRetailV2betaImportErrorsConfig",
      "description": "Configuration of destination for Import related errors.",
      "type": "object"
    },
    "GoogleCloudRetailLoggingErrorContext": {
      "id": "GoogleCloudRetailLoggingErrorContext",
      "properties": {
        "reportLocation": {
          "description": "The location in the source code where the decision was made to report the error, usually the place where it was logged.",
          "$ref": "GoogleCloudRetailLoggingSourceLocation"
        },
        "httpRequest": {
          "description": "The HTTP request which was processed when the error was triggered.",
          "$ref": "GoogleCloudRetailLoggingHttpRequestContext"
        }
      },
      "description": "A description of the context in which an error occurred.",
      "type": "object"
    },
    "GoogleCloudRetailV2betaRemoveFulfillmentPlacesRequest": {
      "properties": {
        "removeTime": {
          "description": "The time when the fulfillment updates are issued, used to prevent out-of-order updates on fulfillment information. If not provided, the internal system time will be used.",
          "type": "string",
          "format": "google-datetime"
        },
        "placeIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The IDs for this type, such as the store IDs for \"pickup-in-store\" or the region IDs for \"same-day-delivery\", to be removed for this type. At least 1 value is required, and a maximum of 2000 values are allowed. Each value must be a string with a length limit of 10 characters, matching the pattern `[a-zA-Z0-9_-]+`, such as \"store1\" or \"REGION-2\". Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "array"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "If set to true, and the Product is not found, the fulfillment information will still be processed and retained for at most 1 day and processed once the Product is created. If set to false, a NOT_FOUND error is returned if the Product is not found."
        },
        "type": {
          "type": "string",
          "description": "Required. The fulfillment type, including commonly used types (such as pickup in store and same day delivery), and custom types. Supported values: * \"pickup-in-store\" * \"ship-to-store\" * \"same-day-delivery\" * \"next-day-delivery\" * \"custom-type-1\" * \"custom-type-2\" * \"custom-type-3\" * \"custom-type-4\" * \"custom-type-5\" If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned. This field directly corresponds to Product.fulfillment_info.type."
        }
      },
      "id": "GoogleCloudRetailV2betaRemoveFulfillmentPlacesRequest",
      "description": "Request message for RemoveFulfillmentPlaces method.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaAddLocalInventoriesMetadata": {
      "id": "GoogleCloudRetailV2alphaAddLocalInventoriesMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata related to the progress of the AddLocalInventories operation. Currently empty because there is no meaningful metadata populated from the AddLocalInventories method."
    },
    "GoogleCloudRetailV2alphaRemoveLocalInventoriesResponse": {
      "description": "Response of the RemoveLocalInventories API. Currently empty because there is no meaningful response populated from the RemoveLocalInventories method.",
      "properties": {},
      "id": "GoogleCloudRetailV2alphaRemoveLocalInventoriesResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2betaConditionTimeRange": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "End of time range. Range is inclusive.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Start of time range. Range is inclusive.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Used for time-dependent conditions. Example: Want to have rule applied for week long sale.",
      "id": "GoogleCloudRetailV2betaConditionTimeRange"
    },
    "GoogleCloudRetailV2betaImportMetadata": {
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "failureCount": {
          "type": "string",
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "successCount": {
          "type": "string",
          "description": "Count of entries that were processed successfully.",
          "format": "int64"
        },
        "requestId": {
          "description": "Id of the request / operation. This is parroting back the requestId that was passed in the request.",
          "type": "string"
        },
        "notificationPubsubTopic": {
          "type": "string",
          "description": "Pub/Sub topic for receiving notification. If this field is set, when the import is finished, a notification will be sent to specified Pub/Sub topic. The message data will be JSON string of a Operation. Format of the Pub/Sub topic is `projects/{project}/topics/{topic}`."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2betaImportMetadata",
      "type": "object"
    },
    "GoogleCloudRetailV2SetInventoryMetadata": {
      "properties": {},
      "id": "GoogleCloudRetailV2SetInventoryMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the SetInventory operation. Currently empty because there is no meaningful metadata populated from the SetInventory method."
    },
    "GoogleCloudRetailV2ImportProductsResponse": {
      "description": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "id": "GoogleCloudRetailV2ImportProductsResponse",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2ImportErrorsConfig"
        }
      }
    },
    "GoogleCloudRetailV2betaExportErrorsConfig": {
      "id": "GoogleCloudRetailV2betaExportErrorsConfig",
      "description": "Configuration of destination for Export related errors.",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2betaRemoveControlRequest": {
      "id": "GoogleCloudRetailV2betaRemoveControlRequest",
      "properties": {
        "controlId": {
          "description": "Required. The id of the control to apply. Assumed to be in the same catalog as the serving config.",
          "type": "string"
        }
      },
      "description": "Request for RemoveControl method.",
      "type": "object"
    },
    "GoogleCloudRetailV2betaAudience": {
      "id": "GoogleCloudRetailV2betaAudience",
      "properties": {
        "ageGroups": {
          "type": "array",
          "description": "The age groups of the audience. Strongly encouraged to use the standard values: \"newborn\" (up to 3 months old), \"infant\" (3–12 months old), \"toddler\" (1–5 years old), \"kids\" (5–13 years old), \"adult\" (typically teens or older). At most 5 values are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [age_group](https://support.google.com/merchants/answer/6324463). Schema.org property [Product.audience.suggestedMinAge](https://schema.org/suggestedMinAge) and [Product.audience.suggestedMaxAge](https://schema.org/suggestedMaxAge).",
          "items": {
            "type": "string"
          }
        },
        "genders": {
          "description": "The genders of the audience. Strongly encouraged to use the standard values: \"male\", \"female\", \"unisex\". At most 5 values are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [gender](https://support.google.com/merchants/answer/6324479). Schema.org property [Product.audience.suggestedGender](https://schema.org/suggestedGender).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "An intended audience of the Product for whom it's sold.",
      "type": "object"
    },
    "GoogleCloudRetailV2betaCatalog": {
      "type": "object",
      "id": "GoogleCloudRetailV2betaCatalog",
      "properties": {
        "displayName": {
          "description": "Required. Immutable. The catalog display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Immutable. The fully qualified resource name of the catalog."
        },
        "productLevelConfig": {
          "description": "Required. The product level configuration.",
          "$ref": "GoogleCloudRetailV2betaProductLevelConfig"
        }
      },
      "description": "The catalog configuration."
    },
    "GoogleCloudRetailV2betaCompleteQueryResponse": {
      "description": "Response of the auto-complete query.",
      "type": "object",
      "properties": {
        "completionResults": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaCompleteQueryResponseCompletionResult"
          },
          "description": "Results of the matching suggestions. The result list is ordered and the first result is top suggestion.",
          "type": "array"
        },
        "attributionToken": {
          "type": "string",
          "description": "A unique complete token. This should be included in the SearchRequest resulting from this completion, which enables accurate attribution of complete model performance."
        },
        "recentSearchResults": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaCompleteQueryResponseRecentSearchResult"
          },
          "type": "array",
          "description": "Matched recent searches of this user. The maximum number of recent searches is 10. This field is a restricted feature. Contact Retail Search support team if you are interested in enabling it. This feature is only available when CompleteQueryRequest.visitor_id field is set and UserEvent is imported. The recent searches satisfy the follow rules: * They are ordered from latest to oldest. * They are matched with CompleteQueryRequest.query case insensitively. * They are transformed to lower cases. * They are UTF-8 safe. Recent searches are deduplicated. More recent searches will be reserved when duplication happens."
        }
      },
      "id": "GoogleCloudRetailV2betaCompleteQueryResponse"
    },
    "GoogleCloudRetailV2AddFulfillmentPlacesMetadata": {
      "id": "GoogleCloudRetailV2AddFulfillmentPlacesMetadata",
      "description": "Metadata related to the progress of the AddFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the AddFulfillmentPlaces method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudRetailV2betaRule": {
      "properties": {
        "replacementAction": {
          "description": "Replaces specific terms in the query.",
          "$ref": "GoogleCloudRetailV2betaRuleReplacementAction"
        },
        "ignoreAction": {
          "$ref": "GoogleCloudRetailV2betaRuleIgnoreAction",
          "description": "Ignores specific terms from query during search."
        },
        "doNotAssociateAction": {
          "description": "Prevents term from being associated with other terms.",
          "$ref": "GoogleCloudRetailV2betaRuleDoNotAssociateAction"
        },
        "filterAction": {
          "description": "Filters results.",
          "$ref": "GoogleCloudRetailV2betaRuleFilterAction"
        },
        "boostAction": {
          "$ref": "GoogleCloudRetailV2betaRuleBoostAction",
          "description": "A boost action."
        },
        "condition": {
          "description": "Required. The condition that triggers the rule. If the condition is empty, the rule will always apply.",
          "$ref": "GoogleCloudRetailV2betaCondition"
        },
        "twowaySynonymsAction": {
          "description": "Treats a set of terms as synonyms of one another.",
          "$ref": "GoogleCloudRetailV2betaRuleTwowaySynonymsAction"
        },
        "redirectAction": {
          "description": "Redirects a shopper to a specific page.",
          "$ref": "GoogleCloudRetailV2betaRuleRedirectAction"
        },
        "onewaySynonymsAction": {
          "$ref": "GoogleCloudRetailV2betaRuleOnewaySynonymsAction",
          "description": "Treats specific term as a synonym with a group of terms. Group of terms will not be treated as synonyms with the specific term."
        }
      },
      "id": "GoogleCloudRetailV2betaRule",
      "type": "object",
      "description": "A rule is a condition-action pair * A condition defines when a rule is to be triggered. * An action specifies what occurs on that trigger. Currently only boost rules are supported. Currently only supported by the search endpoint."
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudRetailV2SetInventoryResponse": {
      "type": "object",
      "properties": {},
      "description": "Response of the SetInventoryRequest. Currently empty because there is no meaningful response populated from the SetInventory method.",
      "id": "GoogleCloudRetailV2SetInventoryResponse"
    },
    "GoogleCloudRetailV2alphaSetInventoryResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudRetailV2alphaSetInventoryResponse",
      "description": "Response of the SetInventoryRequest. Currently empty because there is no meaningful response populated from the SetInventory method."
    },
    "GoogleCloudRetailV2betaPredictResponsePredictionResult": {
      "id": "GoogleCloudRetailV2betaPredictResponsePredictionResult",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional product metadata / annotations. Possible values: * `product`: JSON representation of the product. Will be set if `returnProduct` is set to true in `PredictRequest.params`. * `score`: Prediction score in double value. Will be set if `returnScore` is set to true in `PredictRequest.params`.",
          "type": "object"
        },
        "id": {
          "description": "ID of the recommended product",
          "type": "string"
        }
      },
      "description": "PredictionResult represents the recommendation prediction results."
    },
    "GoogleCloudRetailV2PurgeUserEventsResponse": {
      "type": "object",
      "properties": {
        "purgedEventsCount": {
          "description": "The total count of events purged as a result of the operation.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudRetailV2PurgeUserEventsResponse",
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field."
    },
    "GoogleCloudRetailV2betaUserEventInputConfig": {
      "id": "GoogleCloudRetailV2betaUserEventInputConfig",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudRetailV2betaGcsSource",
          "description": "Required. Google Cloud Storage location for the input content."
        },
        "userEventInlineSource": {
          "description": "Required. The Inline source for the input content for UserEvents.",
          "$ref": "GoogleCloudRetailV2betaUserEventInlineSource"
        },
        "bigQuerySource": {
          "$ref": "GoogleCloudRetailV2betaBigQuerySource",
          "description": "Required. BigQuery input source."
        }
      },
      "description": "The input config source for user events.",
      "type": "object"
    },
    "GoogleCloudRetailV2betaImportProductsResponse": {
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        },
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2betaImportErrorsConfig"
        }
      },
      "id": "GoogleCloudRetailV2betaImportProductsResponse",
      "description": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaImportCompletionDataResponse": {
      "id": "GoogleCloudRetailV2alphaImportCompletionDataResponse",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "description": "Response of the ImportCompletionDataRequest. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaImportErrorsConfig": {
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Import errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "type": "object",
      "description": "Configuration of destination for Import related errors.",
      "id": "GoogleCloudRetailV2alphaImportErrorsConfig"
    },
    "GoogleCloudRetailV2RejoinUserEventsResponse": {
      "type": "object",
      "properties": {
        "rejoinedUserEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of user events that were joined with latest product catalog."
        }
      },
      "description": "Response message for RejoinUserEvents method.",
      "id": "GoogleCloudRetailV2RejoinUserEventsResponse"
    },
    "GoogleCloudRetailV2betaUserEventInlineSource": {
      "type": "object",
      "description": "The inline source for the input config for ImportUserEvents method.",
      "properties": {
        "userEvents": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaUserEvent"
          },
          "type": "array",
          "description": "Required. A list of user events to import. Recommended max of 10k items."
        }
      },
      "id": "GoogleCloudRetailV2betaUserEventInlineSource"
    },
    "GoogleCloudRetailV2betaColorInfo": {
      "description": "The color information of a Product.",
      "type": "object",
      "properties": {
        "colorFamilies": {
          "items": {
            "type": "string"
          },
          "description": "The standard color families. Strongly recommended to use the following standard color groups: \"Red\", \"Pink\", \"Orange\", \"Yellow\", \"Purple\", \"Green\", \"Cyan\", \"Blue\", \"Brown\", \"White\", \"Gray\", \"Black\" and \"Mixed\". Normally it is expected to have only 1 color family. May consider using single \"Mixed\" instead of multiple values. A maximum of 5 values are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [color](https://support.google.com/merchants/answer/6324487). Schema.org property [Product.color](https://schema.org/color).",
          "type": "array"
        },
        "colors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The color display names, which may be different from standard color family names, such as the color aliases used in the website frontend. Normally it is expected to have only 1 color. May consider using single \"Mixed\" instead of multiple values. A maximum of 25 colors are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [color](https://support.google.com/merchants/answer/6324487). Schema.org property [Product.color](https://schema.org/color)."
        }
      },
      "id": "GoogleCloudRetailV2betaColorInfo"
    },
    "GoogleCloudRetailV2betaRejoinUserEventsMetadata": {
      "description": "Metadata for RejoinUserEvents method.",
      "properties": {},
      "id": "GoogleCloudRetailV2betaRejoinUserEventsMetadata",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaRejoinUserEventsResponse": {
      "id": "GoogleCloudRetailV2alphaRejoinUserEventsResponse",
      "type": "object",
      "properties": {
        "rejoinedUserEventsCount": {
          "type": "string",
          "description": "Number of user events that were joined with latest product catalog.",
          "format": "int64"
        }
      },
      "description": "Response message for RejoinUserEvents method."
    },
    "GoogleCloudRetailV2alphaSetInventoryMetadata": {
      "id": "GoogleCloudRetailV2alphaSetInventoryMetadata",
      "properties": {},
      "type": "object",
      "description": "Metadata related to the progress of the SetInventory operation. Currently empty because there is no meaningful metadata populated from the SetInventory method."
    },
    "GoogleCloudRetailV2betaRejoinUserEventsRequest": {
      "id": "GoogleCloudRetailV2betaRejoinUserEventsRequest",
      "description": "Request message for RejoinUserEvents method.",
      "type": "object",
      "properties": {
        "userEventRejoinScope": {
          "type": "string",
          "description": "The type of the user event rejoin to define the scope and range of the user events to be rejoined with the latest product catalog. Defaults to USER_EVENT_REJOIN_SCOPE_UNSPECIFIED if this field is not set, or set to an invalid integer value.",
          "enumDescriptions": [
            "Rejoin all events with the latest product catalog, including both joined events and unjoined events.",
            "Only rejoin joined events with the latest product catalog.",
            "Only rejoin unjoined events with the latest product catalog."
          ],
          "enum": [
            "USER_EVENT_REJOIN_SCOPE_UNSPECIFIED",
            "JOINED_EVENTS",
            "UNJOINED_EVENTS"
          ]
        }
      }
    },
    "GoogleCloudRetailV2alphaExportProductsResponse": {
      "id": "GoogleCloudRetailV2alphaExportProductsResponse",
      "description": "Response of the ExportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2alphaExportErrorsConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        }
      }
    },
    "GoogleCloudRetailV2betaRuleRedirectAction": {
      "type": "object",
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "URL must have length equal or less than 2000 characters."
        }
      },
      "description": "Redirects a shopper to a specific page. * Rule Condition: - Must specify Condition. * Action Input: Request Query * Action Result: Redirects shopper to provided uri.",
      "id": "GoogleCloudRetailV2betaRuleRedirectAction"
    },
    "GoogleCloudRetailV2betaConditionQueryTerm": {
      "id": "GoogleCloudRetailV2betaConditionQueryTerm",
      "description": "Query terms that we want to match on.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the term to match on. Value cannot be empty. Value can have at most 3 terms if specified as a partial match. Each space separated string is considered as one term. Example) \"a b c\" is 3 terms and allowed, \" a b c d\" is 4 terms and not allowed for partial match."
        },
        "fullMatch": {
          "type": "boolean",
          "description": "Whether this is supposed to be a full or partial match."
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2betaPurgeUserEventsRequest": {
      "properties": {
        "force": {
          "description": "Actually perform the purge. If `force` is set to false, the method will return the expected purge count without deleting any user events.",
          "type": "boolean"
        },
        "filter": {
          "description": "Required. The filter string to specify the events to be deleted with a length limit of 5,000 characters. Empty string filter is not allowed. The eligible fields for filtering are: * `eventType`: Double quoted UserEvent.event_type string. * `eventTime`: in ISO 8601 \"zulu\" format. * `visitorId`: Double quoted string. Specifying this will delete all events associated with a visitor. * `userId`: Double quoted string. Specifying this will delete all events associated with a user. Examples: * Deleting all events in a time range: `eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventTime \u003c \"2012-04-23T18:30:43.511Z\"` * Deleting specific eventType in time range: `eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventType = \"detail-page-view\"` * Deleting all events for a specific visitor: `visitorId = \"visitor1024\"` The filtering fields are assumed to have an implicit AND.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for PurgeUserEvents method.",
      "id": "GoogleCloudRetailV2betaPurgeUserEventsRequest"
    },
    "GoogleCloudRetailV2betaUserInfo": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "ipAddress": {
          "description": "The end user's IP address. Required for getting SearchResponse.sponsored_results. This field is used to extract location information for personalization. This field must be either an IPv4 address (e.g. \"104.133.9.80\") or an IPv6 address (e.g. \"2001:0db8:85a3:0000:0000:8a2e:0370:7334\"). Otherwise, an INVALID_ARGUMENT error is returned. This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent or if direct_user_request is set.",
          "type": "string"
        },
        "directUserRequest": {
          "type": "boolean",
          "description": "True if the request is made directly from the end user, in which case the ip_address and user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent."
        },
        "userAgent": {
          "type": "string",
          "description": "User agent as included in the HTTP header. Required for getting SearchResponse.sponsored_results. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if direct_user_request is set."
        }
      },
      "description": "Information of an end user.",
      "id": "GoogleCloudRetailV2betaUserInfo"
    },
    "GoogleCloudRetailV2ImportCompletionDataResponse": {
      "description": "Response of the ImportCompletionDataRequest. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRetailV2ImportCompletionDataResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaUserEventImportSummary": {
      "id": "GoogleCloudRetailV2alphaUserEventImportSummary",
      "type": "object",
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events.",
      "properties": {
        "joinedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user events imported with complete existing catalog information."
        },
        "unjoinedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user events imported, but with catalog information not found in the imported catalog."
        }
      }
    },
    "GoogleCloudRetailV2alphaExportUserEventsResponse": {
      "description": "Response of the ExportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaExportUserEventsResponse",
      "properties": {
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudRetailV2alphaExportErrorsConfig"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      }
    },
    "GoogleCloudRetailV2alphaExportErrorsConfig": {
      "id": "GoogleCloudRetailV2alphaExportErrorsConfig",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "type": "object",
      "description": "Configuration of destination for Export related errors."
    },
    "GoogleCloudRetailV2betaRating": {
      "properties": {
        "ratingCount": {
          "description": "The total number of ratings. This value is independent of the value of rating_histogram. This value must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned.",
          "format": "int32",
          "type": "integer"
        },
        "averageRating": {
          "type": "number",
          "format": "float",
          "description": "The average rating of the Product. The rating is scaled at 1-5. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "ratingHistogram": {
          "description": "List of rating counts per rating value (index = rating - 1). The list is empty if there is no rating. If the list is non-empty, its size is always 5. Otherwise, an INVALID_ARGUMENT error is returned. For example, [41, 14, 13, 47, 303]. It means that the Product got 41 ratings with 1 star, 14 ratings with 2 star, and so on.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "type": "object",
      "description": "The rating of a Product.",
      "id": "GoogleCloudRetailV2betaRating"
    },
    "GoogleCloudRetailV2betaAddFulfillmentPlacesResponse": {
      "id": "GoogleCloudRetailV2betaAddFulfillmentPlacesResponse",
      "type": "object",
      "description": "Response of the AddFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the AddFulfillmentPlaces method.",
      "properties": {}
    },
    "GoogleCloudRetailV2betaSearchRequestFacetSpecFacetKey": {
      "properties": {
        "intervals": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaInterval"
          },
          "type": "array",
          "description": "Set only if values should be bucketized into intervals. Must be set for facets with numerical values. Must not be set for facet with text values. Maximum number of intervals is 30."
        },
        "orderBy": {
          "description": "The order in which Facet.values are returned. Allowed values are: * \"count desc\", which means order by Facet.FacetValue.count descending. * \"value desc\", which means order by Facet.FacetValue.value descending. Only applies to textual facets. If not set, textual values are sorted in [natural order](https://en.wikipedia.org/wiki/Natural_sort_order); numerical intervals are sorted in the order given by FacetSpec.FacetKey.intervals; FulfillmentInfo.place_ids are sorted in the order given by FacetSpec.FacetKey.restricted_values.",
          "type": "string"
        },
        "restrictedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Only get facet for the given restricted values. For example, when using \"pickupInStore\" as key and set restricted values to [\"store123\", \"store456\"], only facets for \"store123\" and \"store456\" are returned. Only supported on textual fields and fulfillments. Maximum is 20. Must be set for the fulfillment facet keys: * pickupInStore * shipToStore * sameDayDelivery * nextDayDelivery * customFulfillment1 * customFulfillment2 * customFulfillment3 * customFulfillment4 * customFulfillment5"
        },
        "query": {
          "type": "string",
          "description": "The query that is used to compute facet for the given facet key. When provided, it will override the default behavior of facet computation. The query syntax is the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Notice that there is no limitation on FacetKey.key when query is specified. In the response, FacetValue.value will be always \"1\" and FacetValue.count will be the number of results that matches the query. For example, you can set a customized facet for \"shipToStore\", where FacetKey.key is \"customizedShipToStore\", and FacetKey.query is \"availability: ANY(\\\"IN_STOCK\\\") AND shipToStore: ANY(\\\"123\\\")\". Then the facet will count the products that are both in stock and ship to store \"123\"."
        },
        "contains": {
          "description": "Only get facet values that contains the given strings. For example, suppose \"categories\" has three values \"Women \u003e Shoe\", \"Women \u003e Dress\" and \"Men \u003e Shoe\". If set \"contains\" to \"Shoe\", the \"categories\" facet will give only \"Women \u003e Shoe\" and \"Men \u003e Shoe\". Only supported on textual fields. Maximum is 10.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "prefixes": {
          "items": {
            "type": "string"
          },
          "description": "Only get facet values that start with the given string prefix. For example, suppose \"categories\" has three values \"Women \u003e Shoe\", \"Women \u003e Dress\" and \"Men \u003e Shoe\". If set \"prefixes\" to \"Women\", the \"categories\" facet will give only \"Women \u003e Shoe\" and \"Women \u003e Dress\". Only supported on textual fields. Maximum is 10.",
          "type": "array"
        },
        "key": {
          "description": "Required. Supported textual and numerical facet keys in Product object, over which the facet values are computed. Facet key is case-sensitive. Allowed facet keys when FacetKey.query is not specified: * textual_field = * \"brands\" * \"categories\" * \"genders\" * \"ageGroups\" * \"availability\" * \"colorFamilies\" * \"colors\" * \"sizes\" * \"materials\" * \"patterns\" * \"conditions\" * \"attributes.key\" * \"pickupInStore\" * \"shipToStore\" * \"sameDayDelivery\" * \"nextDayDelivery\" * \"customFulfillment1\" * \"customFulfillment2\" * \"customFulfillment3\" * \"customFulfillment4\" * \"customFulfillment5\" * \"inventory(place_id,attributes.key)\" * numerical_field = * \"price\" * \"discount\" * \"rating\" * \"ratingCount\" * \"attributes.key\" * \"inventory(place_id,price)\" * \"inventory(place_id,original_price)\" * \"inventory(place_id,attributes.key)\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies how a facet is computed.",
      "id": "GoogleCloudRetailV2betaSearchRequestFacetSpecFacetKey"
    },
    "GoogleCloudRetailV2RemoveFulfillmentPlacesMetadata": {
      "properties": {},
      "id": "GoogleCloudRetailV2RemoveFulfillmentPlacesMetadata",
      "description": "Metadata related to the progress of the RemoveFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the RemoveFulfillmentPlaces method.",
      "type": "object"
    },
    "GoogleCloudRetailV2betaExportUserEventsResponse": {
      "id": "GoogleCloudRetailV2betaExportUserEventsResponse",
      "type": "object",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2betaExportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        }
      },
      "description": "Response of the ExportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2betaGetDefaultBranchResponse": {
      "type": "object",
      "description": "Response message of CatalogService.GetDefaultBranch.",
      "id": "GoogleCloudRetailV2betaGetDefaultBranchResponse",
      "properties": {
        "branch": {
          "type": "string",
          "description": "Full resource name of the branch id currently set as default branch."
        },
        "note": {
          "description": "This corresponds to SetDefaultBranchRequest.note field, when this branch was set as default.",
          "type": "string"
        },
        "setTime": {
          "type": "string",
          "description": "The time when this branch is set to default.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudRetailV2betaSearchRequestFacetSpec": {
      "properties": {
        "facetKey": {
          "$ref": "GoogleCloudRetailV2betaSearchRequestFacetSpecFacetKey",
          "description": "Required. The facet key specification."
        },
        "excludedFilterKeys": {
          "items": {
            "type": "string"
          },
          "description": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. For example, suppose there are 100 products with color facet \"Red\" and 200 products with color facet \"Blue\". A query containing the filter \"colorFamilies:ANY(\"Red\")\" and have \"colorFamilies\" as FacetKey.key will by default return the \"Red\" with count 100. If this field contains \"colorFamilies\", then the query returns both the \"Red\" with count 100 and \"Blue\" with count 200, because the \"colorFamilies\" key is now excluded from the filter. A maximum of 100 values are allowed. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "array"
        },
        "limit": {
          "description": "Maximum of facet values that should be returned for this facet. If unspecified, defaults to 20. The maximum allowed value is 300. Values above 300 will be coerced to 300. If this field is negative, an INVALID_ARGUMENT is returned.",
          "type": "integer",
          "format": "int32"
        },
        "enableDynamicPosition": {
          "type": "boolean",
          "description": "Enables dynamic position for this facet. If set to true, the position of this facet among all facets in the response is determined by Google Retail Search. It will be ordered together with dynamic facets if dynamic facets is enabled. If set to false, the position of this facet in the response will be the same as in the request, and it will be ranked before the facets with dynamic position enable and all dynamic facets. For example, you may always want to have rating facet returned in the response, but it's not necessarily to always display the rating facet at the top. In that case, you can set enable_dynamic_position to true so that the position of rating facet in response will be determined by Google Retail Search. Another example, assuming you have the following facets in the request: * \"rating\", enable_dynamic_position = true * \"price\", enable_dynamic_position = false * \"brands\", enable_dynamic_position = false And also you have a dynamic facets enable, which will generate a facet 'gender'. Then the final order of the facets in the response can be (\"price\", \"brands\", \"rating\", \"gender\") or (\"price\", \"brands\", \"gender\", \"rating\") depends on how Google Retail Search orders \"gender\" and \"rating\" facets. However, notice that \"price\" and \"brands\" will always be ranked at 1st and 2nd position since their enable_dynamic_position are false."
        }
      },
      "description": "A facet specification to perform faceted search.",
      "id": "GoogleCloudRetailV2betaSearchRequestFacetSpec",
      "type": "object"
    },
    "GoogleCloudRetailV2betaUserEventImportSummary": {
      "type": "object",
      "properties": {
        "unjoinedEventsCount": {
          "description": "Count of user events imported, but with catalog information not found in the imported catalog.",
          "type": "string",
          "format": "int64"
        },
        "joinedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user events imported with complete existing catalog information."
        }
      },
      "id": "GoogleCloudRetailV2betaUserEventImportSummary",
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events."
    },
    "GoogleCloudRetailV2betaProduct": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value. Default to Catalog.product_level_config.ingestion_product_type if unset.",
            "The primary type. As the primary unit for predicting, indexing and search serving, a Type.PRIMARY Product is grouped with multiple Type.VARIANT Products.",
            "The variant type. Type.VARIANT Products usually share some common attributes on the same Type.PRIMARY Products, but they have variant attributes like different colors, sizes and prices, etc.",
            "The collection type. Collection products are bundled Type.PRIMARY Products or Type.VARIANT Products that are sold together, such as a jewelry set with necklaces, earrings and rings, etc."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY",
            "VARIANT",
            "COLLECTION"
          ],
          "description": "Immutable. The type of the product. Default to Catalog.product_level_config.ingestion_product_type if unset."
        },
        "audience": {
          "$ref": "GoogleCloudRetailV2betaAudience",
          "description": "The target group associated with a given audience (e.g. male, veterans, car owners, musicians, etc.) of the product."
        },
        "availableTime": {
          "description": "The timestamp when this Product becomes available for SearchService.Search.",
          "format": "google-datetime",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "description": "Highly encouraged. Extra product attributes to be included. For example, for products, this could include the store name, vendor, style, color, etc. These are very strong signals for recommendation model, thus we highly recommend providing the attributes here. Features that can take on one of a limited number of possible values. Two types of features can be set are: Textual features. some examples would be the brand/maker of a product, or country of a customer. Numerical features. Some examples would be the height/weight of a product, or age of a customer. For example: `{ \"vendor\": {\"text\": [\"vendor123\", \"vendor456\"]}, \"lengths_cm\": {\"numbers\":[2.3, 15.4]}, \"heights_cm\": {\"numbers\":[8.1, 6.4]} }`. This field needs to pass all below criteria, otherwise an INVALID_ARGUMENT error is returned: * Max entries count: 200. * The key must be a UTF-8 encoded string with a length limit of 128 characters. * For indexable attribute, the key must match the pattern: `a-zA-Z0-9*`. For example, `key0LikeThis` or `KEY_1_LIKE_THIS`. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed.",
          "additionalProperties": {
            "$ref": "GoogleCloudRetailV2betaCustomAttribute"
          }
        },
        "materials": {
          "description": "The material of the product. For example, \"leather\", \"wooden\". A maximum of 20 values are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [material](https://support.google.com/merchants/answer/6324410). Schema.org property [Product.material](https://schema.org/material).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sizes": {
          "items": {
            "type": "string"
          },
          "description": "The size of the product. To represent different size systems or size types, consider using this format: [[[size_system:]size_type:]size_value]. For example, in \"US:MENS:M\", \"US\" represents size system; \"MENS\" represents size type; \"M\" represents size value. In \"GIRLS:27\", size system is empty; \"GIRLS\" represents size type; \"27\" represents size value. In \"32 inches\", both size system and size type are empty, while size value is \"32 inches\". A maximum of 20 values are allowed per Product. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [size](https://support.google.com/merchants/answer/6324492), [size_type](https://support.google.com/merchants/answer/6324497), and [size_system](https://support.google.com/merchants/answer/6324502). Schema.org property [Product.size](https://schema.org/size).",
          "type": "array"
        },
        "promotions": {
          "type": "array",
          "description": "The promotions applied to the product. A maximum of 10 values are allowed per Product. Only Promotion.promotion_id will be used, other fields will be ignored if set.",
          "items": {
            "$ref": "GoogleCloudRetailV2betaPromotion"
          }
        },
        "collectionMemberIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The id of the collection members when type is Type.COLLECTION. Non-existent product ids are allowed. The type of the members must be either Type.PRIMARY or Type.VARIANT otherwise and INVALID_ARGUMENT error is thrown. Should not set it for other types. A maximum of 1000 values are allowed. Otherwise, an INVALID_ARGUMENT error is return."
        },
        "rating": {
          "description": "The rating of this product.",
          "$ref": "GoogleCloudRetailV2betaRating"
        },
        "tags": {
          "description": "Custom tags associated with the product. At most 250 values are allowed per Product. This value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This tag can be used for filtering recommendation results by passing the tag as part of the PredictRequest.filter. Corresponding properties: Google Merchant Center property [custom_label_0–4](https://support.google.com/merchants/answer/6324473).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "retrievableFields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Indicates which fields in the Products are returned in SearchResponse. Supported fields for all types: * audience * availability * brands * color_info * conditions * gtin * materials * name * patterns * price_info * rating * sizes * title * uri Supported fields only for Type.PRIMARY and Type.COLLECTION: * categories * description * images Supported fields only for Type.VARIANT: * Only the first image in images To mark attributes as retrievable, include paths of the form \"attributes.key\" where \"key\" is the key of a custom attribute, as specified in attributes. For Type.PRIMARY and Type.COLLECTION, the following fields are always returned in SearchResponse by default: * name For Type.VARIANT, the following fields are always returned in by default: * name * color_info Maximum number of paths is 30. Otherwise, an INVALID_ARGUMENT error is returned. Note: Returning more fields in SearchResponse may increase response payload size and serving latency."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Full resource name of the product, such as `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/product_id`."
        },
        "images": {
          "description": "Product images for the product.Highly recommended to put the main image to the first. A maximum of 300 images are allowed. Corresponding properties: Google Merchant Center property [image_link](https://support.google.com/merchants/answer/6324350). Schema.org property [Product.image](https://schema.org/image).",
          "items": {
            "$ref": "GoogleCloudRetailV2betaImage"
          },
          "type": "array"
        },
        "priceInfo": {
          "description": "Product price and cost information. Corresponding properties: Google Merchant Center property [price](https://support.google.com/merchants/answer/6324371).",
          "$ref": "GoogleCloudRetailV2betaPriceInfo"
        },
        "fulfillmentInfo": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaFulfillmentInfo"
          },
          "type": "array",
          "description": "Fulfillment information, such as the store IDs for in-store pickup or region IDs for different shipping methods. All the elements must have distinct FulfillmentInfo.type. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "gtin": {
          "description": "The Global Trade Item Number (GTIN) of the product. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. This field must be a Unigram. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [gtin](https://support.google.com/merchants/answer/6324461). Schema.org property [Product.isbn](https://schema.org/isbn), [Product.gtin8](https://schema.org/gtin8), [Product.gtin12](https://schema.org/gtin12), [Product.gtin13](https://schema.org/gtin13), or [Product.gtin14](https://schema.org/gtin14). If the value is not a valid GTIN, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "variants": {
          "description": "Output only. Product variants grouped together on primary product which share similar product attributes. It's automatically grouped by primary_product_id for all the product variants. Only populated for Type.PRIMARY Products. Note: This field is OUTPUT_ONLY for ProductService.GetProduct. Do not set this field in API requests.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRetailV2betaProduct"
          },
          "type": "array"
        },
        "colorInfo": {
          "$ref": "GoogleCloudRetailV2betaColorInfo",
          "description": "The color of the product. Corresponding properties: Google Merchant Center property [color](https://support.google.com/merchants/answer/6324487). Schema.org property [Product.color](https://schema.org/color)."
        },
        "availability": {
          "description": "The online availability of the Product. Default to Availability.IN_STOCK. Corresponding properties: Google Merchant Center property [availability](https://support.google.com/merchants/answer/6324448). Schema.org property [Offer.availability](https://schema.org/availability).",
          "type": "string",
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "BACKORDER"
          ],
          "enumDescriptions": [
            "Default product availability. Default to Availability.IN_STOCK if unset.",
            "Product in stock.",
            "Product out of stock.",
            "Product that is in pre-order state.",
            "Product that is back-ordered (i.e. temporarily out of stock)."
          ]
        },
        "id": {
          "description": "Immutable. Product identifier, which is the final component of name. For example, this field is \"id_1\", if name is `projects/*/locations/global/catalogs/default_catalog/branches/default_branch/products/id_1`. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [id](https://support.google.com/merchants/answer/6324405). Schema.org property [Product.sku](https://schema.org/sku).",
          "type": "string"
        },
        "ttl": {
          "format": "google-duration",
          "description": "Input only. The TTL (time to live) of the product. If it is set, it must be a non-negative value, and expire_time is set as current timestamp plus ttl. The derived expire_time is returned in the output and ttl is left blank when retrieving the Product. If it is set, the product is not available for SearchService.Search after current timestamp plus ttl. However, the product can still be retrieved by ProductService.GetProduct and ProductService.ListProducts.",
          "type": "string"
        },
        "patterns": {
          "description": "The pattern or graphic print of the product. For example, \"striped\", \"polka dot\", \"paisley\". A maximum of 20 values are allowed per Product. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [pattern](https://support.google.com/merchants/answer/6324483). Schema.org property [Product.pattern](https://schema.org/pattern).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Product description. This field must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [description](https://support.google.com/merchants/answer/6324468). Schema.org property [Product.description](https://schema.org/description)."
        },
        "publishTime": {
          "type": "string",
          "description": "The timestamp when the product is published by the retailer for the first time, which indicates the freshness of the products. Note that this field is different from available_time, given it purely describes product freshness regardless of when it is available on search and recommendation.",
          "format": "google-datetime"
        },
        "categories": {
          "items": {
            "type": "string"
          },
          "description": "Product categories. This field is repeated for supporting one product belonging to several parallel categories. Strongly recommended using the full path for better search / recommendation quality. To represent full path of category, use '\u003e' sign to separate different hierarchies. If '\u003e' is part of the category name, please replace it with other character(s). For example, if a shoes product belongs to both [\"Shoes & Accessories\" -\u003e \"Shoes\"] and [\"Sports & Fitness\" -\u003e \"Athletic Clothing\" -\u003e \"Shoes\"], it could be represented as: \"categories\": [ \"Shoes & Accessories \u003e Shoes\", \"Sports & Fitness \u003e Athletic Clothing \u003e Shoes\" ] Must be set for Type.PRIMARY Product otherwise an INVALID_ARGUMENT error is returned. At most 250 values are allowed per Product. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property google_product_category. Schema.org property [Product.category] (https://schema.org/category). [mc_google_product_category]: https://support.google.com/merchants/answer/6324436",
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "description": "Language of the title/description and other string attributes. Use language tags defined by [BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). For product prediction, this field is ignored and the model automatically detects the text language. The Product can include text in different languages, but duplicating Products to provide text in multiple languages can result in degraded model performance. For product search this field is in use. It defaults to \"en-US\" if unset."
        },
        "primaryProductId": {
          "type": "string",
          "description": "Variant group identifier. Must be an id, with the same parent branch with this product. Otherwise, an error is thrown. For Type.PRIMARY Products, this field can only be empty or set to the same value as id. For VARIANT Products, this field cannot be empty. A maximum of 2,000 products are allowed to share the same Type.PRIMARY Product. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [item_group_id](https://support.google.com/merchants/answer/6324507). Schema.org property [Product.inProductGroupWithID](https://schema.org/inProductGroupWithID)."
        },
        "uri": {
          "description": "Canonical URL directly linking to the product detail page. It is strongly recommended to provide a valid uri for the product, otherwise the service performance could be significantly degraded. This field must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [link](https://support.google.com/merchants/answer/6324416). Schema.org property [Offer.url](https://schema.org/url).",
          "type": "string"
        },
        "title": {
          "description": "Required. Product title. This field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [title](https://support.google.com/merchants/answer/6324415). Schema.org property [Product.name](https://schema.org/name).",
          "type": "string"
        },
        "brands": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The brands of the product. A maximum of 30 brands are allowed. Each brand must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [brand](https://support.google.com/merchants/answer/6324351). Schema.org property [Product.brand](https://schema.org/brand)."
        },
        "availableQuantity": {
          "type": "integer",
          "format": "int32",
          "description": "The available quantity of the item."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The timestamp when this product becomes unavailable for SearchService.Search. If it is set, the Product is not available for SearchService.Search after expire_time. However, the product can still be retrieved by ProductService.GetProduct and ProductService.ListProducts. expire_time must be later than available_time and publish_time, otherwise an INVALID_ARGUMENT error is thrown. Corresponding properties: Google Merchant Center property [expiration_date](https://support.google.com/merchants/answer/6324499).",
          "type": "string"
        },
        "conditions": {
          "items": {
            "type": "string"
          },
          "description": "The condition of the product. Strongly encouraged to use the standard values: \"new\", \"refurbished\", \"used\". A maximum of 1 value is allowed per Product. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Corresponding properties: Google Merchant Center property [condition](https://support.google.com/merchants/answer/6324469). Schema.org property [Offer.itemCondition](https://schema.org/itemCondition).",
          "type": "array"
        }
      },
      "description": "Product captures all metadata information of items to be recommended or searched.",
      "id": "GoogleCloudRetailV2betaProduct"
    },
    "GoogleCloudRetailV2betaImportProductsRequest": {
      "type": "object",
      "id": "GoogleCloudRetailV2betaImportProductsRequest",
      "properties": {
        "reconciliationMode": {
          "description": "The mode of reconciliation between existing products and the products to be imported. Defaults to ReconciliationMode.INCREMENTAL.",
          "enumDescriptions": [
            "Defaults to INCREMENTAL.",
            "Inserts new products or updates existing products.",
            "Calculates diff and replaces the entire product dataset. Existing products may be deleted if they are not present in the source location. Can only be set while using BigQuerySource. And the BigQuery dataset must be created in the data location \"us (multiple regions in United States)\", otherwise a PERMISSION_DENIED error is thrown. Add the IAM permission \"BigQuery Data Viewer\" for cloud-retail-customer-data-access@system.gserviceaccount.com before using this feature otherwise an error is thrown. This feature is only available for users who have Retail Search enabled. Please submit a form [here](https://cloud.google.com/contact) to contact cloud sales if you are interested in using Retail Search."
          ],
          "type": "string",
          "enum": [
            "RECONCILIATION_MODE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL"
          ]
        },
        "errorsConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudRetailV2betaImportErrorsConfig"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Indicates which fields in the provided imported 'products' to update. If not set, will by default update all fields.",
          "type": "string"
        },
        "notificationPubsubTopic": {
          "description": "Pub/Sub topic for receiving notification. If this field is set, when the import is finished, a notification will be sent to specified Pub/Sub topic. The message data will be JSON string of a Operation. Format of the Pub/Sub topic is `projects/{project}/topics/{topic}`. Only supported when ImportProductsRequest.reconciliation_mode is set to `FULL`.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Unique identifier provided by client, within the ancestor dataset scope. Ensures idempotency and used for request deduplication. Server-generated if unspecified. Up to 128 characters long and must match the pattern: `[a-zA-Z0-9_]+`. This is returned as Operation.name in ImportMetadata. Only supported when ImportProductsRequest.reconciliation_mode is set to `FULL`."
        },
        "inputConfig": {
          "$ref": "GoogleCloudRetailV2betaProductInputConfig",
          "description": "Required. The desired input location of the data."
        }
      },
      "description": "Request message for Import methods."
    },
    "GoogleCloudRetailV2betaSearchResponseQueryExpansionInfo": {
      "description": "Information describing query expansion including whether expansion has occurred.",
      "properties": {
        "pinnedResultCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of pinned results. This field will only be set when expansion happens and SearchRequest.QueryExpansionSpec.pin_unexpanded_results is set to true."
        },
        "expandedQuery": {
          "type": "boolean",
          "description": "Bool describing whether query expansion has occurred."
        }
      },
      "id": "GoogleCloudRetailV2betaSearchResponseQueryExpansionInfo",
      "type": "object"
    },
    "GoogleCloudRetailV2betaSearchResponse": {
      "type": "object",
      "properties": {
        "correctedQuery": {
          "type": "string",
          "description": "If spell correction applies, the corrected query. Otherwise, empty."
        },
        "facets": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaSearchResponseFacet"
          },
          "description": "Results of facets requested by user.",
          "type": "array"
        },
        "appliedControls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The fully qualified resource name of applied [controls](https://cloud.google.com/retail/docs/serving-control-rules)."
        },
        "results": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaSearchResponseSearchResult"
          },
          "type": "array",
          "description": "A list of matched items. The order represents the ranking."
        },
        "nextPageToken": {
          "description": "A token that can be sent as SearchRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "The estimated total count of matched items irrespective of pagination. The count of results returned by pagination may be less than the total_size that matches.",
          "type": "integer"
        },
        "redirectUri": {
          "type": "string",
          "description": "The URI of a customer-defined redirect page. If redirect action is triggered, no search will be performed, and only redirect_uri and attribution_token will be set in the response."
        },
        "queryExpansionInfo": {
          "$ref": "GoogleCloudRetailV2betaSearchResponseQueryExpansionInfo",
          "description": "Query expansion information for the returned results."
        },
        "attributionToken": {
          "description": "A unique search token. This should be included in the UserEvent logs resulting from this search, which enables accurate attribution of search model performance.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2betaSearchResponse",
      "description": "Response message for SearchService.Search method."
    },
    "GoogleCloudRetailV2ImportMetadata": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "notificationPubsubTopic": {
          "type": "string",
          "description": "Pub/Sub topic for receiving notification. If this field is set, when the import is finished, a notification will be sent to specified Pub/Sub topic. The message data will be JSON string of a Operation. Format of the Pub/Sub topic is `projects/{project}/topics/{topic}`."
        },
        "requestId": {
          "description": "Id of the request / operation. This is parroting back the requestId that was passed in the request.",
          "type": "string"
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64",
          "type": "string"
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that were processed successfully."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudRetailV2ImportMetadata"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudRetailV2betaSetInventoryMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudRetailV2betaSetInventoryMetadata",
      "description": "Metadata related to the progress of the SetInventory operation. Currently empty because there is no meaningful metadata populated from the SetInventory method."
    },
    "GoogleCloudRetailV2betaImportCompletionDataResponse": {
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "description": "Response of the ImportCompletionDataRequest. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "id": "GoogleCloudRetailV2betaImportCompletionDataResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2betaSearchResponseSearchResult": {
      "properties": {
        "matchingVariantCount": {
          "format": "int32",
          "description": "The count of matched variant Products.",
          "type": "integer"
        },
        "variantRollupValues": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "The rollup matching variant Product attributes. The key is one of the SearchRequest.variant_rollup_keys. The values are the merged and de-duplicated Product attributes. Notice that the rollup values are respect filter. For example, when filtering by \"colorFamilies:ANY(\\\"red\\\")\" and rollup \"colorFamilies\", only \"red\" is returned. For textual and numerical attributes, the rollup values is a list of string or double values with type google.protobuf.ListValue. For example, if there are two variants with colors \"red\" and \"blue\", the rollup values are { key: \"colorFamilies\" value { list_value { values { string_value: \"red\" } values { string_value: \"blue\" } } } } For FulfillmentInfo, the rollup values is a double value with type google.protobuf.Value. For example, `{key: \"pickupInStore.store1\" value { number_value: 10 }}` means a there are 10 variants in this product are available in the store \"store1\"."
        },
        "id": {
          "description": "Product.id of the searched Product.",
          "type": "string"
        },
        "matchingVariantFields": {
          "type": "object",
          "additionalProperties": {
            "format": "google-fieldmask",
            "type": "string"
          },
          "description": "If a variant Product matches the search query, this map indicates which Product fields are matched. The key is the Product.name, the value is a field mask of the matched Product fields. If matched attributes cannot be determined, this map will be empty. For example, a key \"sku1\" with field mask \"products.color_info\" indicates there is a match between \"sku1\" ColorInfo and the query."
        },
        "product": {
          "$ref": "GoogleCloudRetailV2betaProduct",
          "description": "The product data snippet in the search response. Only Product.name is guaranteed to be populated. Product.variants contains the product variants that match the search query. If there are multiple product variants matching the query, top 5 most relevant product variants are returned and ordered by relevancy. If relevancy can be deternmined, use matching_variant_fields to look up matched product variants fields. If relevancy cannot be determined, e.g. when searching \"shoe\" all products in a shoe product can be a match, 5 product variants are returned but order is meaningless."
        }
      },
      "type": "object",
      "description": "Represents the search results.",
      "id": "GoogleCloudRetailV2betaSearchResponseSearchResult"
    },
    "GoogleCloudRetailV2betaPriceInfoPriceRange": {
      "description": "The price range of all variant Product having the same Product.primary_product_id.",
      "type": "object",
      "id": "GoogleCloudRetailV2betaPriceInfoPriceRange",
      "properties": {
        "originalPrice": {
          "description": "The inclusive Product.pricing_info.original_price internal of all variant Product having the same Product.primary_product_id.",
          "$ref": "GoogleCloudRetailV2betaInterval"
        },
        "price": {
          "description": "The inclusive Product.pricing_info.price interval of all variant Product having the same Product.primary_product_id.",
          "$ref": "GoogleCloudRetailV2betaInterval"
        }
      }
    },
    "GoogleCloudRetailV2betaSearchRequest": {
      "description": "Request message for SearchService.Search method.",
      "properties": {
        "facetSpecs": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaSearchRequestFacetSpec"
          },
          "type": "array",
          "description": "Facet specifications for faceted search. If empty, no facets are returned. A maximum of 100 values are allowed. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "boostSpec": {
          "$ref": "GoogleCloudRetailV2betaSearchRequestBoostSpec",
          "description": "Boost specification to boost certain products. See more details at this [user guide](https://cloud.google.com/retail/docs/boosting). Notice that if both ServingConfig.boost_control_ids and [SearchRequest.boost_spec] are set, the boost conditions from both places are evaluated. If a search request matches multiple boost conditions, the final boost score is equal to the sum of the boost scores from all matched boost conditions."
        },
        "pageToken": {
          "type": "string",
          "description": "A page token SearchResponse.next_page_token, received from a previous SearchService.Search call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SearchService.Search must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "orderBy": {
          "type": "string",
          "description": "The order in which products are returned. Products can be ordered by a field in an Product object. Leave it unset if ordered by relevance. OrderBy expression is case-sensitive. See more details at this [user guide](https://cloud.google.com/retail/docs/filter-and-order#order). If this field is unrecognizable, an INVALID_ARGUMENT is returned."
        },
        "offset": {
          "description": "A 0-indexed integer that specifies the current offset (that is, starting result location, amongst the Products deemed by the API as relevant) in search results. This field is only considered if page_token is unset. If this field is negative, an INVALID_ARGUMENT is returned.",
          "type": "integer",
          "format": "int32"
        },
        "userInfo": {
          "$ref": "GoogleCloudRetailV2betaUserInfo",
          "description": "User information."
        },
        "pageCategories": {
          "items": {
            "type": "string"
          },
          "description": "The categories associated with a category page. Required for category navigation queries to achieve good search quality. The format should be the same as UserEvent.page_categories; To represent full path of category, use '\u003e' sign to separate different hierarchies. If '\u003e' is part of the category name, please replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: \"pageCategories\" : [\"Sales \u003e 2017 Black Friday Deals\"].",
          "type": "array"
        },
        "searchMode": {
          "type": "string",
          "description": "The search mode of the search request. If not specified, a single search request triggers both product search and faceted search.",
          "enumDescriptions": [
[...]
