{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://retail.mtls.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "baseUrl": "https://retail.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "title": "Retail API",
  "id": "retail:v2alpha",
  "servicePath": "",
  "description": "Cloud Retail service enables customers to build end-to-end personalized recommendation systems without requiring a high level of expertise in machine learning, recommendation system, or Google Cloud.",
  "name": "retail",
  "version": "v2alpha",
  "canonicalName": "Cloud Retail",
  "rootUrl": "https://retail.googleapis.com/",
  "version_module": true,
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/recommendations",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    }
  },
  "revision": "20230427",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudRetailV2betaAddFulfillmentPlacesResponse": {
      "description": "Response of the AddFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.AddFulfillmentPlaces method.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudRetailV2betaAddFulfillmentPlacesResponse"
    },
    "GoogleCloudRetailV2alphaExportProductsResponse": {
      "id": "GoogleCloudRetailV2alphaExportProductsResponse",
      "type": "object",
      "properties": {
        "outputResult": {
          "$ref": "GoogleCloudRetailV2alphaOutputResult",
          "description": "Output result indicating where the data were exported to."
        },
        "errorsConfig": {
          "description": "This field is never set.",
          "$ref": "GoogleCloudRetailV2alphaExportErrorsConfig"
        },
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "description": "Response of the ExportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudRetailV2alphaSearchRequestSpellCorrectionSpec": {
      "description": "The specification for query spell correction.",
      "id": "GoogleCloudRetailV2alphaSearchRequestSpellCorrectionSpec",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "SUGGESTION_ONLY",
            "AUTO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified spell correction mode. In this case, server behavior defaults to Mode.AUTO.",
            "Google Retail Search will try to find a spell suggestion if there is any and put in the SearchResponse.corrected_query. The spell suggestion will not be used as the search query.",
            "Automatic spell correction built by Google Retail Search. Search will be based on the corrected query if found."
          ],
          "description": "The mode under which spell correction should take effect to replace the original search query. Default to Mode.AUTO."
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2betaAddLocalInventoriesResponse": {
      "type": "object",
      "id": "GoogleCloudRetailV2betaAddLocalInventoriesResponse",
      "description": "Response of the ProductService.AddLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.AddLocalInventories method.",
      "properties": {}
    },
    "GoogleCloudRetailV2alphaListCatalogsResponse": {
      "id": "GoogleCloudRetailV2alphaListCatalogsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListCatalogsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "catalogs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaCatalog"
          },
          "description": "All the customer's Catalogs."
        }
      },
      "description": "Response for CatalogService.ListCatalogs method.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaPauseModelRequest": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaPauseModelRequest",
      "properties": {},
      "description": "Request for pausing training of a model."
    },
    "GoogleCloudRetailV2alphaModelPageOptimizationConfigCandidate": {
      "description": "A candidate to consider for a given panel. Currently only ServingConfig are valid candidates.",
      "properties": {
        "servingConfigId": {
          "description": "This has to be a valid ServingConfig identifier. For example, for a ServingConfig with full name: `projects/*/locations/global/catalogs/default_catalog/servingConfigs/my_candidate_config`, this would be `my_candidate_config`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaModelPageOptimizationConfigCandidate"
    },
    "GoogleCloudRetailV2betaImportUserEventsResponse": {
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudRetailV2betaImportUserEventsResponse",
      "properties": {
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2betaImportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "importSummary": {
          "description": "Aggregated statistics of user event import status.",
          "$ref": "GoogleCloudRetailV2betaUserEventImportSummary"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2betaRemoveFulfillmentPlacesResponse": {
      "properties": {},
      "id": "GoogleCloudRetailV2betaRemoveFulfillmentPlacesResponse",
      "description": "Response of the RemoveFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.RemoveFulfillmentPlaces method.",
      "type": "object"
    },
    "GoogleCloudRetailV2CreateModelMetadata": {
      "id": "GoogleCloudRetailV2CreateModelMetadata",
      "description": "Metadata associated with a create operation.",
      "properties": {
        "model": {
          "type": "string",
          "description": "The resource name of the model that this create applies to. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2alphaAddFulfillmentPlacesResponse": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaAddFulfillmentPlacesResponse",
      "properties": {},
      "description": "Response of the AddFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.AddFulfillmentPlaces method."
    },
    "GoogleCloudRetailV2alphaSearchRequestFacetSpecFacetKey": {
      "description": "Specifies how a facet is computed.",
      "type": "object",
      "properties": {
        "intervals": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaInterval"
          },
          "description": "Set only if values should be bucketized into intervals. Must be set for facets with numerical values. Must not be set for facet with text values. Maximum number of intervals is 40. For all numerical facet keys that appear in the list of products from the catalog, the percentiles 0, 10, 30, 50, 70, 90, and 100 are computed from their distribution weekly. If the model assigns a high score to a numerical facet key and its intervals are not specified in the search request, these percentiles become the bounds for its intervals and are returned in the response. If the facet key intervals are specified in the request, then the specified intervals are returned instead.",
          "type": "array"
        },
        "caseInsensitive": {
          "description": "True to make facet keys case insensitive when getting faceting values with prefixes or contains; false otherwise.",
          "type": "boolean"
        },
        "key": {
          "type": "string",
          "description": "Required. Supported textual and numerical facet keys in Product object, over which the facet values are computed. Facet key is case-sensitive. Allowed facet keys when FacetKey.query is not specified: * textual_field = * \"brands\" * \"categories\" * \"genders\" * \"ageGroups\" * \"availability\" * \"colorFamilies\" * \"colors\" * \"sizes\" * \"materials\" * \"patterns\" * \"conditions\" * \"attributes.key\" * \"pickupInStore\" * \"shipToStore\" * \"sameDayDelivery\" * \"nextDayDelivery\" * \"customFulfillment1\" * \"customFulfillment2\" * \"customFulfillment3\" * \"customFulfillment4\" * \"customFulfillment5\" * \"inventory(place_id,attributes.key)\" * numerical_field = * \"price\" * \"discount\" * \"rating\" * \"ratingCount\" * \"attributes.key\" * \"inventory(place_id,price)\" * \"inventory(place_id,original_price)\" * \"inventory(place_id,attributes.key)\""
        },
        "prefixes": {
          "description": "Only get facet values that start with the given string prefix. For example, suppose \"categories\" has three values \"Women \u003e Shoe\", \"Women \u003e Dress\" and \"Men \u003e Shoe\". If set \"prefixes\" to \"Women\", the \"categories\" facet gives only \"Women \u003e Shoe\" and \"Women \u003e Dress\". Only supported on textual fields. Maximum is 10.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "returnMinMax": {
          "type": "boolean",
          "description": "Returns the min and max value for each numerical facet intervals. Ignored for textual facets."
        },
        "restrictedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Only get facet for the given restricted values. For example, when using \"pickupInStore\" as key and set restricted values to [\"store123\", \"store456\"], only facets for \"store123\" and \"store456\" are returned. Only supported on predefined textual fields, custom textual attributes and fulfillments. Maximum is 20. Must be set for the fulfillment facet keys: * pickupInStore * shipToStore * sameDayDelivery * nextDayDelivery * customFulfillment1 * customFulfillment2 * customFulfillment3 * customFulfillment4 * customFulfillment5"
        },
        "query": {
          "description": "The query that is used to compute facet for the given facet key. When provided, it overrides the default behavior of facet computation. The query syntax is the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Notice that there is no limitation on FacetKey.key when query is specified. In the response, SearchResponse.Facet.values.value is always \"1\" and SearchResponse.Facet.values.count is the number of results that match the query. For example, you can set a customized facet for \"shipToStore\", where FacetKey.key is \"customizedShipToStore\", and FacetKey.query is \"availability: ANY(\\\"IN_STOCK\\\") AND shipToStore: ANY(\\\"123\\\")\". Then the facet counts the products that are both in stock and ship to store \"123\".",
          "type": "string"
        },
        "orderBy": {
          "type": "string",
          "description": "The order in which SearchResponse.Facet.values are returned. Allowed values are: * \"count desc\", which means order by SearchResponse.Facet.values.count descending. * \"value desc\", which means order by SearchResponse.Facet.values.value descending. Only applies to textual facets. If not set, textual values are sorted in [natural order](https://en.wikipedia.org/wiki/Natural_sort_order); numerical intervals are sorted in the order given by FacetSpec.FacetKey.intervals; FulfillmentInfo.place_ids are sorted in the order given by FacetSpec.FacetKey.restricted_values."
        },
        "contains": {
          "items": {
            "type": "string"
          },
          "description": "Only get facet values that contains the given strings. For example, suppose \"categories\" has three values \"Women \u003e Shoe\", \"Women \u003e Dress\" and \"Men \u003e Shoe\". If set \"contains\" to \"Shoe\", the \"categories\" facet gives only \"Women \u003e Shoe\" and \"Men \u003e Shoe\". Only supported on textual fields. Maximum is 10.",
          "type": "array"
        }
      },
      "id": "GoogleCloudRetailV2alphaSearchRequestFacetSpecFacetKey"
    },
    "GoogleCloudRetailV2alphaCondition": {
      "id": "GoogleCloudRetailV2alphaCondition",
      "properties": {
        "activeTimeRange": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaConditionTimeRange"
          },
          "description": "Range of time(s) specifying when Condition is active. Condition true if any time range matches."
        },
        "queryTerms": {
          "description": "A list (up to 10 entries) of terms to match the query on. If not specified, match all queries. If many query terms are specified, the condition is matched if any of the terms is a match (i.e. using the OR operator).",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaConditionQueryTerm"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Metadata that is used to define a condition that triggers an action. A valid condition must specify at least one of 'query_terms' or 'products_filter'. If multiple fields are specified, the condition is met if all the fields are satisfied e.g. if a set of query terms and product_filter are set, then only items matching the product_filter for requests with a query matching the query terms wil get boosted."
    },
    "GoogleCloudRetailV2alphaFulfillmentInfo": {
      "type": "object",
      "description": "Fulfillment information, such as the store IDs for in-store pickup or region IDs for different shipping methods.",
      "id": "GoogleCloudRetailV2alphaFulfillmentInfo",
      "properties": {
        "type": {
          "type": "string",
          "description": "The fulfillment type, including commonly used types (such as pickup in store and same day delivery), and custom types. Customers have to map custom types to their display names before rendering UI. Supported values: * \"pickup-in-store\" * \"ship-to-store\" * \"same-day-delivery\" * \"next-day-delivery\" * \"custom-type-1\" * \"custom-type-2\" * \"custom-type-3\" * \"custom-type-4\" * \"custom-type-5\" If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned."
        },
        "placeIds": {
          "items": {
            "type": "string"
          },
          "description": "The IDs for this type, such as the store IDs for FulfillmentInfo.type.pickup-in-store or the region IDs for FulfillmentInfo.type.same-day-delivery. A maximum of 3000 values are allowed. Each value must be a string with a length limit of 30 characters, matching the pattern `[a-zA-Z0-9_-]+`, such as \"store1\" or \"REGION-2\". Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "array"
        }
      }
    },
    "GoogleCloudRetailV2alphaCompleteQueryResponseRecentSearchResult": {
      "description": "Recent search of this user.",
      "properties": {
        "recentSearch": {
          "type": "string",
          "description": "The recent search query."
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaCompleteQueryResponseRecentSearchResult"
    },
    "GoogleCloudRetailV2alphaListProductsResponse": {
      "type": "object",
      "description": "Response message for ProductService.ListProducts method.",
      "id": "GoogleCloudRetailV2alphaListProductsResponse",
      "properties": {
        "products": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaProduct"
          },
          "type": "array",
          "description": "The Products."
        },
        "totalSize": {
          "description": "The total count of matched Products irrespective of pagination. The total number of Products returned by pagination may be less than the total_size that matches. This field is ignored if ListProductsRequest.require_total_size is not set or ListProductsRequest.page_token is not empty.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListProductsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudRetailV2RemoveLocalInventoriesResponse": {
      "id": "GoogleCloudRetailV2RemoveLocalInventoriesResponse",
      "properties": {},
      "type": "object",
      "description": "Response of the ProductService.RemoveLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.RemoveLocalInventories method."
    },
    "GoogleCloudRetailV2betaBigQueryOutputResult": {
      "description": "A BigQuery output result.",
      "type": "object",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "The ID of a BigQuery Table."
        },
        "datasetId": {
          "description": "The ID of a BigQuery Dataset.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRetailV2betaBigQueryOutputResult"
    },
    "GoogleCloudRetailV2alphaProductInlineSource": {
      "id": "GoogleCloudRetailV2alphaProductInlineSource",
      "description": "The inline source for the input config for ImportProducts method.",
      "properties": {
        "products": {
          "description": "Required. A list of products to update/create. Each product must have a valid Product.id. Recommended max of 100 items.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaProduct"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2alphaSearchRequestFacetSpec": {
      "id": "GoogleCloudRetailV2alphaSearchRequestFacetSpec",
      "type": "object",
      "description": "A facet specification to perform faceted search.",
      "properties": {
        "excludedFilterKeys": {
          "type": "array",
          "description": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. Listing a facet key in this field allows its values to appear as facet results, even when they are filtered out of search results. Using this field does not affect what search results are returned. For example, suppose there are 100 products with the color facet \"Red\" and 200 products with the color facet \"Blue\". A query containing the filter \"colorFamilies:ANY(\"Red\")\" and having \"colorFamilies\" as FacetKey.key would by default return only \"Red\" products in the search results, and also return \"Red\" with count 100 as the only color facet. Although there are also blue products available, \"Blue\" would not be shown as an available facet value. If \"colorFamilies\" is listed in \"excludedFilterKeys\", then the query returns the facet values \"Red\" with count 100 and \"Blue\" with count 200, because the \"colorFamilies\" key is now excluded from the filter. Because this field doesn't affect search results, the search results are still correctly filtered to return only \"Red\" products. A maximum of 100 values are allowed. Otherwise, an INVALID_ARGUMENT error is returned.",
          "items": {
            "type": "string"
          }
        },
        "facetKey": {
          "$ref": "GoogleCloudRetailV2alphaSearchRequestFacetSpecFacetKey",
          "description": "Required. The facet key specification."
        },
        "enableDynamicPosition": {
          "type": "boolean",
          "description": "Enables dynamic position for this facet. If set to true, the position of this facet among all facets in the response is determined by Google Retail Search. It is ordered together with dynamic facets if dynamic facets is enabled. If set to false, the position of this facet in the response is the same as in the request, and it is ranked before the facets with dynamic position enable and all dynamic facets. For example, you may always want to have rating facet returned in the response, but it's not necessarily to always display the rating facet at the top. In that case, you can set enable_dynamic_position to true so that the position of rating facet in response is determined by Google Retail Search. Another example, assuming you have the following facets in the request: * \"rating\", enable_dynamic_position = true * \"price\", enable_dynamic_position = false * \"brands\", enable_dynamic_position = false And also you have a dynamic facets enable, which generates a facet \"gender\". Then, the final order of the facets in the response can be (\"price\", \"brands\", \"rating\", \"gender\") or (\"price\", \"brands\", \"gender\", \"rating\") depends on how Google Retail Search orders \"gender\" and \"rating\" facets. However, notice that \"price\" and \"brands\" are always ranked at first and second position because their enable_dynamic_position values are false."
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum of facet values that should be returned for this facet. If unspecified, defaults to 50. The maximum allowed value is 300. Values above 300 will be coerced to 300. If this field is negative, an INVALID_ARGUMENT is returned."
        }
      }
    },
    "GoogleCloudRetailV2betaOutputResult": {
      "description": "Output result that stores the information about where the exported data is stored.",
      "id": "GoogleCloudRetailV2betaOutputResult",
      "type": "object",
      "properties": {
        "gcsResult": {
          "type": "array",
          "description": "The Google Cloud Storage location where the result is stored.",
          "items": {
            "$ref": "GoogleCloudRetailV2betaGcsOutputResult"
          }
        },
        "bigqueryResult": {
          "items": {
            "$ref": "GoogleCloudRetailV2betaBigQueryOutputResult"
          },
          "description": "The BigQuery location where the result is stored.",
          "type": "array"
        }
      }
    },
    "GoogleCloudRetailV2alphaAudience": {
      "properties": {
        "ageGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The age groups of the audience. Strongly encouraged to use the standard values: \"newborn\" (up to 3 months old), \"infant\" (3–12 months old), \"toddler\" (1–5 years old), \"kids\" (5–13 years old), \"adult\" (typically teens or older). At most 5 values are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [age_group](https://support.google.com/merchants/answer/6324463). Schema.org property [Product.audience.suggestedMinAge](https://schema.org/suggestedMinAge) and [Product.audience.suggestedMaxAge](https://schema.org/suggestedMaxAge)."
        },
        "genders": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The genders of the audience. Strongly encouraged to use the standard values: \"male\", \"female\", \"unisex\". At most 5 values are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [gender](https://support.google.com/merchants/answer/6324479). Schema.org property [Product.audience.suggestedGender](https://schema.org/suggestedGender)."
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaAudience",
      "description": "An intended audience of the Product for whom it's sold."
    },
    "GoogleCloudRetailV2alphaModelServingConfigList": {
      "description": "Represents an ordered combination of valid serving configs, which can be used for `PAGE_OPTIMIZATION` recommendations.",
      "properties": {
        "servingConfigIds": {
          "type": "array",
          "description": "Optional. A set of valid serving configs that may be used for `PAGE_OPTIMIZATION`.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudRetailV2alphaModelServingConfigList",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaModelFrequentlyBoughtTogetherFeaturesConfig": {
      "properties": {
        "contextProductsType": {
          "description": "Optional. Specifies the context of the model when used in predict requests. Only settable for the `frequently-bought-together` type. Will default to MULTI_CONTEXT if not specified.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified default value, should never be explicitly set. Defaults to MULTIPLE_CONTEXT_PRODUCTS.",
            "Use only a single product as context for the recommendation. Typically used on pages like add-to-cart or product details.",
            "Use one or multiple products as context for the recommendation. Typically used on shopping cart pages."
          ],
          "enum": [
            "CONTEXT_PRODUCTS_TYPE_UNSPECIFIED",
            "SINGLE_CONTEXT_PRODUCT",
            "MULTIPLE_CONTEXT_PRODUCTS"
          ]
        }
      },
      "id": "GoogleCloudRetailV2alphaModelFrequentlyBoughtTogetherFeaturesConfig",
      "type": "object",
      "description": "More configs of the frequently-bought-together model type."
    },
    "GoogleCloudRetailV2SetInventoryMetadata": {
      "id": "GoogleCloudRetailV2SetInventoryMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the SetInventory operation. Currently empty because there is no meaningful metadata populated from the ProductService.SetInventory method.",
      "properties": {}
    },
    "GoogleCloudRetailV2TuneModelMetadata": {
      "id": "GoogleCloudRetailV2TuneModelMetadata",
      "properties": {
        "model": {
          "type": "string",
          "description": "The resource name of the model that this tune applies to. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`"
        }
      },
      "description": "Metadata associated with a tune operation.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaCompletionDataInputConfig": {
      "id": "GoogleCloudRetailV2alphaCompletionDataInputConfig",
      "description": "The input config source for completion data.",
      "type": "object",
      "properties": {
        "bigQuerySource": {
          "$ref": "GoogleCloudRetailV2alphaBigQuerySource",
          "description": "Required. BigQuery input source. Add the IAM permission \"BigQuery Data Viewer\" for cloud-retail-customer-data-access@system.gserviceaccount.com before using this feature otherwise an error is thrown."
        }
      }
    },
    "GoogleCloudRetailV2alphaProductInputConfig": {
      "type": "object",
      "properties": {
        "bigQuerySource": {
          "$ref": "GoogleCloudRetailV2alphaBigQuerySource",
          "description": "BigQuery input source."
        },
        "productInlineSource": {
          "description": "The Inline source for the input content for products.",
          "$ref": "GoogleCloudRetailV2alphaProductInlineSource"
        },
        "gcsSource": {
          "$ref": "GoogleCloudRetailV2alphaGcsSource",
          "description": "Google Cloud Storage location for the input content."
        }
      },
      "id": "GoogleCloudRetailV2alphaProductInputConfig",
      "description": "The input config source for products."
    },
    "GoogleCloudRetailV2RemoveLocalInventoriesMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the RemoveLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.RemoveLocalInventories method.",
      "properties": {},
      "id": "GoogleCloudRetailV2RemoveLocalInventoriesMetadata"
    },
    "GoogleCloudRetailV2alphaRuleTwowaySynonymsAction": {
      "description": "Creates a set of terms that will be treated as synonyms of each other. Example: synonyms of \"sneakers\" and \"shoes\": * \"sneakers\" will use a synonym of \"shoes\". * \"shoes\" will use a synonym of \"sneakers\".",
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Defines a set of synonyms. Can specify up to 100 synonyms. Must specify at least 2 synonyms."
        }
      },
      "id": "GoogleCloudRetailV2alphaRuleTwowaySynonymsAction",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaUserEventImportSummary": {
      "properties": {
        "unjoinedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user events imported, but with catalog information not found in the imported catalog."
        },
        "joinedEventsCount": {
          "description": "Count of user events imported with complete existing catalog information.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaUserEventImportSummary",
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events."
    },
    "GoogleApiHttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "properties": {
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        }
      },
      "type": "object",
      "id": "GoogleApiHttpBody"
    },
    "GoogleCloudRetailV2alphaSearchResponseFacet": {
      "properties": {
        "dynamicFacet": {
          "description": "Whether the facet is dynamically generated.",
          "type": "boolean"
        },
        "values": {
          "description": "The facet values for this field.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaSearchResponseFacetFacetValue"
          }
        },
        "key": {
          "description": "The key for this facet. E.g., \"colorFamilies\" or \"price\" or \"attributes.attr1\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaSearchResponseFacet",
      "description": "A facet result."
    },
    "GoogleCloudRetailV2AddFulfillmentPlacesMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the AddFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddFulfillmentPlaces method.",
      "properties": {},
      "id": "GoogleCloudRetailV2AddFulfillmentPlacesMetadata"
    },
    "GoogleCloudRetailV2alphaListModelsResponse": {
      "description": "Response to a ListModelRequest.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaListModelsResponse",
      "properties": {
        "models": {
          "type": "array",
          "description": "List of Models.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaModel"
          }
        },
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2alphaAddFulfillmentPlacesRequest": {
      "properties": {
        "addTime": {
          "description": "The time when the fulfillment updates are issued, used to prevent out-of-order updates on fulfillment information. If not provided, the internal system time will be used.",
          "type": "string",
          "format": "google-datetime"
        },
        "placeIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The IDs for this type, such as the store IDs for \"pickup-in-store\" or the region IDs for \"same-day-delivery\" to be added for this type. Duplicate IDs will be automatically ignored. At least 1 value is required, and a maximum of 2000 values are allowed. Each value must be a string with a length limit of 10 characters, matching the pattern `[a-zA-Z0-9_-]+`, such as \"store1\" or \"REGION-2\". Otherwise, an INVALID_ARGUMENT error is returned. If the total number of place IDs exceeds 2000 for this type after adding, then the update will be rejected.",
          "type": "array"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "If set to true, and the Product is not found, the fulfillment information will still be processed and retained for at most 1 day and processed once the Product is created. If set to false, a NOT_FOUND error is returned if the Product is not found."
        },
        "type": {
          "type": "string",
          "description": "Required. The fulfillment type, including commonly used types (such as pickup in store and same day delivery), and custom types. Supported values: * \"pickup-in-store\" * \"ship-to-store\" * \"same-day-delivery\" * \"next-day-delivery\" * \"custom-type-1\" * \"custom-type-2\" * \"custom-type-3\" * \"custom-type-4\" * \"custom-type-5\" If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned. This field directly corresponds to Product.fulfillment_info.type."
        }
      },
      "id": "GoogleCloudRetailV2alphaAddFulfillmentPlacesRequest",
      "type": "object",
      "description": "Request message for ProductService.AddFulfillmentPlaces method."
    },
    "GoogleCloudRetailV2alphaModelModelFeaturesConfig": {
      "description": "Additional model features config.",
      "id": "GoogleCloudRetailV2alphaModelModelFeaturesConfig",
      "type": "object",
      "properties": {
        "frequentlyBoughtTogetherConfig": {
          "$ref": "GoogleCloudRetailV2alphaModelFrequentlyBoughtTogetherFeaturesConfig",
          "description": "Additional configs for frequently-bought-together models."
        }
      }
    },
    "GoogleCloudRetailV2alphaImportProductsResponse": {
      "type": "object",
      "properties": {
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRetailV2alphaImportErrorsConfig"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      },
      "description": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudRetailV2alphaImportProductsResponse"
    },
    "GoogleCloudRetailV2alphaConditionTimeRange": {
      "id": "GoogleCloudRetailV2alphaConditionTimeRange",
      "type": "object",
      "description": "Used for time-dependent conditions. Example: Want to have rule applied for week long sale.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End of time range. Range is inclusive."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Start of time range. Range is inclusive.",
          "type": "string"
        }
      }
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "GoogleCloudRetailV2alphaBigQueryOutputResult": {
      "properties": {
        "tableId": {
          "description": "The ID of a BigQuery Table.",
          "type": "string"
        },
        "datasetId": {
          "description": "The ID of a BigQuery Dataset.",
          "type": "string"
        }
      },
      "description": "A BigQuery output result.",
      "id": "GoogleCloudRetailV2alphaBigQueryOutputResult",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaCompleteQueryResponseAttributeResult": {
      "properties": {
        "suggestions": {
          "description": "The list of suggestions for the attribute.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Resource that represents attribute results.",
      "id": "GoogleCloudRetailV2alphaCompleteQueryResponseAttributeResult"
    },
    "GoogleCloudRetailV2ImportProductsResponse": {
      "description": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "id": "GoogleCloudRetailV2ImportProductsResponse",
      "properties": {
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2ImportErrorsConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudRetailV2betaPurgeMetadata": {
      "description": "Metadata related to the progress of the Purge operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudRetailV2betaPurgeMetadata",
      "properties": {}
    },
    "GoogleCloudRetailV2alphaCatalogAttribute": {
      "properties": {
        "searchableOption": {
          "description": "When AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, if SEARCHABLE_ENABLED, attribute values are searchable by text queries in SearchService.Search. If SEARCHABLE_ENABLED but attribute type is numerical, attribute values will not be searchable by text queries in SearchService.Search, as there are no text values associated to numerical attributes. Must be specified, otherwise throws INVALID_FORMAT error.",
          "enumDescriptions": [
            "Value used when unset.",
            "Searchable option enabled for an attribute.",
            "Searchable option disabled for an attribute."
          ],
          "enum": [
            "SEARCHABLE_OPTION_UNSPECIFIED",
            "SEARCHABLE_ENABLED",
            "SEARCHABLE_DISABLED"
          ],
          "type": "string"
        },
        "exactSearchableOption": {
          "enumDescriptions": [
            "Value used when unset.",
            "Exact searchable option enabled for an attribute.",
            "Exact searchable option disabled for an attribute."
          ],
          "description": "If EXACT_SEARCHABLE_ENABLED, attribute values will be exact searchable. This property only applies to textual custom attributes and requires indexable set to enabled to enable exact-searchable. If unset, the server behavior defaults to EXACT_SEARCHABLE_DISABLED.",
          "type": "string",
          "enum": [
            "EXACT_SEARCHABLE_OPTION_UNSPECIFIED",
            "EXACT_SEARCHABLE_ENABLED",
            "EXACT_SEARCHABLE_DISABLED"
          ]
        },
        "key": {
          "type": "string",
          "description": "Required. Attribute name. For example: `color`, `brands`, `attributes.custom_attribute`, such as `attributes.xyz`. To be indexable, the attribute name can contain only alpha-numeric characters and underscores. For example, an attribute named `attributes.abc_xyz` can be indexed, but an attribute named `attributes.abc-xyz` cannot be indexed. If the attribute key starts with `attributes.`, then the attribute is a custom attribute. Attributes such as `brands`, `patterns`, and `title` are built-in and called system attributes."
        },
        "retrievableOption": {
          "enum": [
            "RETRIEVABLE_OPTION_UNSPECIFIED",
            "RETRIEVABLE_ENABLED",
            "RETRIEVABLE_DISABLED"
          ],
          "type": "string",
          "description": "If RETRIEVABLE_ENABLED, attribute values are retrievable in the search results. If unset, the server behavior defaults to RETRIEVABLE_DISABLED.",
          "enumDescriptions": [
            "Value used when unset.",
            "Retrievable option enabled for an attribute.",
            "Retrievable option disabled for an attribute."
          ]
        },
        "type": {
          "enum": [
            "UNKNOWN",
            "TEXTUAL",
            "NUMERICAL"
          ],
          "description": "Output only. The type of this attribute. This is derived from the attribute in Product.attributes.",
          "type": "string",
          "enumDescriptions": [
            "The type of the attribute is unknown. Used when type cannot be derived from attribute that is not in_use.",
            "Textual attribute.",
            "Numerical attribute."
          ],
          "readOnly": true
        },
        "recommendationsFilteringOption": {
          "type": "string",
          "enumDescriptions": [
            "Value used when unset. In this case, server behavior defaults to RECOMMENDATIONS_FILTERING_DISABLED.",
            "Recommendation filtering is disabled.",
            "Recommendation filtering is enabled."
          ],
          "description": "When AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, if RECOMMENDATIONS_FILTERING_ENABLED, attribute values are filterable for recommendations. This option works for categorical features only, does not work for numerical features, inventory filtering.",
          "enum": [
            "RECOMMENDATIONS_FILTERING_OPTION_UNSPECIFIED",
            "RECOMMENDATIONS_FILTERING_DISABLED",
            "RECOMMENDATIONS_FILTERING_ENABLED"
          ]
        },
        "indexableOption": {
          "enumDescriptions": [
            "Value used when unset.",
            "Indexable option enabled for an attribute.",
            "Indexable option disabled for an attribute."
          ],
          "description": "When AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, if INDEXABLE_ENABLED attribute values are indexed so that it can be filtered, faceted, or boosted in SearchService.Search. Must be specified, otherwise throws INVALID_FORMAT error.",
          "type": "string",
          "enum": [
            "INDEXABLE_OPTION_UNSPECIFIED",
            "INDEXABLE_ENABLED",
            "INDEXABLE_DISABLED"
          ]
        },
        "dynamicFacetableOption": {
          "enum": [
            "DYNAMIC_FACETABLE_OPTION_UNSPECIFIED",
            "DYNAMIC_FACETABLE_ENABLED",
            "DYNAMIC_FACETABLE_DISABLED"
          ],
          "enumDescriptions": [
            "Value used when unset.",
            "Dynamic facetable option enabled for an attribute.",
            "Dynamic facetable option disabled for an attribute."
          ],
          "description": "If DYNAMIC_FACETABLE_ENABLED, attribute values are available for dynamic facet. Could only be DYNAMIC_FACETABLE_DISABLED if CatalogAttribute.indexable_option is INDEXABLE_DISABLED. Otherwise, an INVALID_ARGUMENT error is returned. Must be specified, otherwise throws INVALID_FORMAT error.",
          "type": "string"
        },
        "ignoredFacetValues": {
          "type": "array",
          "description": "Each instance represents a list of attribute values to ignore as facet values for a specific time range.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaCatalogAttributeIgnoredFacetValues"
          }
        },
        "facetIntervals": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaInterval"
          },
          "type": "array",
          "description": "If you don't set the facet SearchRequest.FacetSpec.FacetKey.intervals to a numerical attribute, then a weekly pipeline calculates intervals using some percentiles on the distribution of all its product numerical attribute values. The calculated intervals might not be ideal for some attributes. Therefore, we give you the option the overwrite them. For any numerical attribute that is passed as a facet key in the request along with given intervals, the given intervals are the facet intervals returned in the response."
        },
        "inUse": {
          "description": "Output only. Indicates whether this attribute has been used by any products. `True` if at least one Product is using this attribute in Product.attributes. Otherwise, this field is `False`. CatalogAttribute can be pre-loaded by using CatalogService.AddCatalogAttribute, CatalogService.ImportCatalogAttributes, or CatalogService.UpdateAttributesConfig APIs. This field is `False` for pre-loaded CatalogAttributes. Only pre-loaded catalog attributes that are neither in use by products nor predefined can be deleted. Catalog attributes that are either in use by products or are predefined attributes cannot be deleted; however, their configuration properties will reset to default values upon removal request. After catalog changes, it takes about 10 minutes for this field to update.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudRetailV2alphaCatalogAttribute",
      "description": "Catalog level attribute config for an attribute. For example, if customers want to enable/disable facet for a specific attribute."
    },
    "GoogleCloudRetailV2alphaCreateMerchantCenterAccountLinkMetadata": {
      "id": "GoogleCloudRetailV2alphaCreateMerchantCenterAccountLinkMetadata",
      "type": "object",
      "description": "Common metadata related to the progress of the operations.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRetailV2alphaServingConfig": {
      "type": "object",
      "description": "Configures metadata that is used to generate serving time results (e.g. search results or recommendation predictions).",
      "id": "GoogleCloudRetailV2alphaServingConfig",
      "properties": {
        "twowaySynonymsControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Condition synonyms specifications. If multiple syonyms conditions match, all matching synonyms control in the list will execute. Order of controls in the list will not matter. Maximum number of specifications is 100. Can only be set if solution_types is SOLUTION_TYPE_SEARCH.",
          "type": "array"
        },
        "solutionTypes": {
          "description": "Required. Immutable. Specifies the solution types that a serving config can be associated with. Currently we support setting only one type of solution.",
          "items": {
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Retail Search."
            ]
          },
          "type": "array"
        },
        "priceRerankingLevel": {
          "type": "string",
          "description": "How much price ranking we want in serving results. Price reranking causes product items with a similar recommendation probability to be ordered by price, with the highest-priced items first. This setting could result in a decrease in click-through and conversion rates. Allowed values are: * `no-price-reranking` * `low-price-reranking` * `medium-price-reranking` * `high-price-reranking` If not specified, we choose default based on model type. Default value: `no-price-reranking`. Can only be set if solution_types is SOLUTION_TYPE_RECOMMENDATION."
        },
        "diversityType": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Rule based diversity.",
            "Data driven diversity."
          ],
          "description": "What kind of diversity to use - data driven or rule based. If unset, the server behavior defaults to RULE_BASED_DIVERSITY.",
          "enum": [
            "DIVERSITY_TYPE_UNSPECIFIED",
            "RULE_BASED_DIVERSITY",
            "DATA_DRIVEN_DIVERSITY"
          ]
        },
        "personalizationSpec": {
          "$ref": "GoogleCloudRetailV2alphaSearchRequestPersonalizationSpec",
          "description": "The specification for personalization spec. Can only be set if solution_types is SOLUTION_TYPE_SEARCH. Notice that if both ServingConfig.personalization_spec and SearchRequest.personalization_spec are set. SearchRequest.personalization_spec will override ServingConfig.personalization_spec."
        },
        "diversityLevel": {
          "type": "string",
          "description": "How much diversity to use in recommendation model results e.g. `medium-diversity` or `high-diversity`. Currently supported values: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` If not specified, we choose default based on recommendation model type. Default value: `no-diversity`. Can only be set if solution_types is SOLUTION_TYPE_RECOMMENDATION."
        },
        "doNotAssociateControlIds": {
          "description": "Condition do not associate specifications. If multiple do not associate conditions match, all matching do not associate controls in the list will execute. - Order does not matter. - Maximum number of specifications is 100. Can only be set if solution_types is SOLUTION_TYPE_SEARCH.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "facetControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Facet specifications for faceted search. If empty, no facets are returned. The ids refer to the ids of Control resources with only the Facet control set. These controls are assumed to be in the same Catalog as the ServingConfig. A maximum of 100 values are allowed. Otherwise, an INVALID_ARGUMENT error is returned. Can only be set if solution_types is SOLUTION_TYPE_SEARCH.",
          "type": "array"
        },
        "displayName": {
          "description": "Required. The human readable serving config display name. Used in Retail UI. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "ignoreControlIds": {
          "type": "array",
          "description": "Condition ignore specifications. If multiple ignore conditions match, all matching ignore controls in the list will execute. - Order does not matter. - Maximum number of specifications is 100. Can only be set if solution_types is SOLUTION_TYPE_SEARCH.",
          "items": {
            "type": "string"
          }
        },
        "dynamicFacetSpec": {
          "description": "The specification for dynamically generated facets. Notice that only textual facets can be dynamically generated. Can only be set if solution_types is SOLUTION_TYPE_SEARCH.",
          "$ref": "GoogleCloudRetailV2alphaSearchRequestDynamicFacetSpec"
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/*/locations/global/catalogs/*/servingConfig/*`",
          "type": "string"
        },
        "onewaySynonymsControlIds": {
          "type": "array",
          "description": "Condition oneway synonyms specifications. If multiple oneway synonyms conditions match, all matching oneway synonyms controls in the list will execute. Order of controls in the list will not matter. Maximum number of specifications is 100. Can only be set if solution_types is SOLUTION_TYPE_SEARCH.",
          "items": {
            "type": "string"
          }
        },
        "filterControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Condition filter specifications. If a product matches multiple conditions in the specifications, filters from these specifications are all applied and combined via the AND operator. Maximum number of specifications is 100. Can only be set if solution_types is SOLUTION_TYPE_SEARCH.",
          "type": "array"
        },
        "redirectControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Condition redirect specifications. Only the first triggered redirect action is applied, even if multiple apply. Maximum number of specifications is 1000. Can only be set if solution_types is SOLUTION_TYPE_SEARCH.",
          "type": "array"
        },
        "modelId": {
          "description": "The id of the model in the same Catalog to use at serving time. Currently only RecommendationModels are supported: https://cloud.google.com/retail/recommendations-ai/docs/create-models Can be changed but only to a compatible model (e.g. others-you-may-like CTR to others-you-may-like CVR). Required when solution_types is SOLUTION_TYPE_RECOMMENDATION.",
          "type": "string"
        },
        "enableCategoryFilterLevel": {
          "type": "string",
          "description": "Whether to add additional category filters on the `similar-items` model. If not specified, we enable it by default. Allowed values are: * `no-category-match`: No additional filtering of original results from the model and the customer's filters. * `relaxed-category-match`: Only keep results with categories that match at least one item categories in the PredictRequests's context item. * If customer also sends filters in the PredictRequest, then the results will satisfy both conditions (user given and category match). Can only be set if solution_types is SOLUTION_TYPE_RECOMMENDATION."
        },
        "boostControlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Condition boost specifications. If a product matches multiple conditions in the specifications, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 100. Notice that if both ServingConfig.boost_control_ids and SearchRequest.boost_spec are set, the boost conditions from both places are evaluated. If a search request matches multiple boost conditions, the final boost score is equal to the sum of the boost scores from all matched boost conditions. Can only be set if solution_types is SOLUTION_TYPE_SEARCH."
        },
        "replacementControlIds": {
          "description": "Condition replacement specifications. - Applied according to the order in the list. - A previously replaced term can not be re-replaced. - Maximum number of specifications is 100. Can only be set if solution_types is SOLUTION_TYPE_SEARCH.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudRetailV2betaSetInventoryResponse": {
      "id": "GoogleCloudRetailV2betaSetInventoryResponse",
      "type": "object",
      "description": "Response of the SetInventoryRequest. Currently empty because there is no meaningful response populated from the ProductService.SetInventory method.",
      "properties": {}
    },
    "GoogleCloudRetailV2alphaRemoveLocalInventoriesRequest": {
      "description": "Request message for ProductService.RemoveLocalInventories method.",
      "id": "GoogleCloudRetailV2alphaRemoveLocalInventoriesRequest",
      "properties": {
        "allowMissing": {
          "description": "If set to true, and the Product is not found, the local inventory removal request will still be processed and retained for at most 1 day and processed once the Product is created. If set to false, a NOT_FOUND error is returned if the Product is not found.",
          "type": "boolean"
        },
        "removeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the inventory deletions are issued. Used to prevent out-of-order updates and deletions on local inventory fields. If not provided, the internal system time will be used."
        },
        "placeIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of place IDs to have their inventory deleted. At most 3000 place IDs are allowed per request.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2alphaBigQuerySource": {
      "id": "GoogleCloudRetailV2alphaBigQuerySource",
      "type": "object",
      "properties": {
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory."
        },
        "tableId": {
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        },
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for product imports: * `product` (default): One JSON Product per line. Each product must have a valid Product.id. * `product_merchant_center`: See [Importing catalog data from Merchant Center](https://cloud.google.com/retail/recommendations-ai/docs/upload-catalog#mc). Supported values for user events imports: * `user_event` (default): One JSON UserEvent per line. * `user_event_ga360`: The schema is available here: https://support.google.com/analytics/answer/3437719. * `user_event_ga4`: The schema is available here: https://support.google.com/analytics/answer/7029846. Supported values for autocomplete imports: * `suggestions` (default): One JSON completion suggestion per line. * `denylist`: One JSON deny suggestion per line. * `allowlist`: One JSON allow suggestion per line."
        },
        "partitionDate": {
          "$ref": "GoogleTypeDate",
          "description": "BigQuery time partitioned table's _PARTITIONDATE in YYYY-MM-DD format. Only supported in ImportProductsRequest."
        },
        "projectId": {
          "description": "The project ID (can be project # or ID) that the BigQuery source is in with a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters."
        }
      },
      "description": "BigQuery source import data from."
    },
    "GoogleCloudRetailV2alphaColorInfo": {
      "id": "GoogleCloudRetailV2alphaColorInfo",
      "description": "The color information of a Product.",
      "type": "object",
      "properties": {
        "colorFamilies": {
          "description": "The standard color families. Strongly recommended to use the following standard color groups: \"Red\", \"Pink\", \"Orange\", \"Yellow\", \"Purple\", \"Green\", \"Cyan\", \"Blue\", \"Brown\", \"White\", \"Gray\", \"Black\" and \"Mixed\". Normally it is expected to have only 1 color family. May consider using single \"Mixed\" instead of multiple values. A maximum of 5 values are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [color](https://support.google.com/merchants/answer/6324487). Schema.org property [Product.color](https://schema.org/color).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "colors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The color display names, which may be different from standard color family names, such as the color aliases used in the website frontend. Normally it is expected to have only 1 color. May consider using single \"Mixed\" instead of multiple values. A maximum of 75 colors are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [color](https://support.google.com/merchants/answer/6324487). Schema.org property [Product.color](https://schema.org/color)."
        }
      }
    },
    "GoogleCloudRetailV2betaExportProductsResponse": {
      "description": "Response of the ExportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "outputResult": {
          "$ref": "GoogleCloudRetailV2betaOutputResult",
          "description": "Output result indicating where the data were exported to."
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRetailV2betaExportErrorsConfig",
          "description": "This field is never set."
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudRetailV2betaExportProductsResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaUserEvent": {
      "type": "object",
      "description": "UserEvent captures all metadata information Retail API needs to know about how end users interact with customers' website.",
      "properties": {
        "sessionId": {
          "description": "A unique identifier for tracking a visitor session with a length limit of 128 bytes. A session is an aggregation of an end user behavior in a time span. A general guideline to populate the sesion_id: 1. If user has no activity for 30 min, a new session_id should be assigned. 2. The session_id should be unique across users, suggest use uuid or add visitor_id as prefix.",
          "type": "string"
        },
        "experimentIds": {
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups (e.g. using Retail API, using different recommendation models).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uri": {
          "description": "Complete URL (window.location.href) of the user's current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. Maximum length 5,000 characters.",
          "type": "string"
        },
        "eventType": {
          "description": "Required. User event type. Allowed values are: * `add-to-cart`: Products being added to cart. * `category-page-view`: Special pages such as sale or promotion pages viewed. * `detail-page-view`: Products detail page viewed. * `home-page-view`: Homepage viewed. * `promotion-offered`: Promotion is offered to a user. * `promotion-not-offered`: Promotion is not offered to a user. * `purchase-complete`: User finishing a purchase. * `search`: Product search. * `shopping-cart-page-view`: User viewing a shopping cart.",
          "type": "string"
        },
        "searchQuery": {
          "type": "string",
          "description": "The user's search query. See SearchRequest.query for definition. The value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the products being filtered. See SearchRequest.filter for definition and syntax. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "referrerUri": {
          "description": "The referrer URL of the current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically.",
          "type": "string"
        },
        "offset": {
          "format": "int32",
          "type": "integer",
          "description": "An integer that specifies the current offset for pagination (the 0-indexed starting location, amongst the products deemed by the API as relevant). See SearchRequest.offset for definition. If this field is negative, an INVALID_ARGUMENT is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "completionDetail": {
          "description": "The main auto-completion details related to the event. This field should be set for `search` event when autocomplete function is enabled and the user clicks a suggestion for search.",
          "$ref": "GoogleCloudRetailV2alphaCompletionDetail"
        },
        "entity": {
          "type": "string",
          "description": "The entity for customers that may run multiple different entities, domains, sites or regions, for example, `Google US`, `Google Ads`, `Waymo`, `google.com`, `youtube.com`, etc. We recommend that you set this field to get better per-entity search, completion, and prediction results."
        },
        "eventTime": {
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened.",
          "type": "string",
          "format": "google-datetime"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRetailV2alphaCustomAttribute"
          },
          "description": "Extra user event features to include in the recommendation model. If you provide custom attributes for ingested user events, also include them in the user events that you associate with prediction requests. Custom attribute formatting must be consistent between imported events and events provided with prediction requests. This lets the Retail API use those custom attributes when training models and serving predictions, which helps improve recommendation quality. This field needs to pass all below criteria, otherwise an INVALID_ARGUMENT error is returned: * The key must be a UTF-8 encoded string with a length limit of 5,000 characters. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed. For product recommendations, an example of extra user information is traffic_channel, which is how a user arrives at the site. Users can arrive at the site by coming to the site directly, coming through Google search, or in other ways."
        },
        "cartId": {
          "type": "string",
          "description": "The ID or name of the associated shopping cart. This ID is used to associate multiple items added or present in the cart before purchase. This can only be set for `add-to-cart`, `purchase-complete`, or `shopping-cart-page-view` events."
        },
        "pageViewId": {
          "description": "A unique ID of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageViewId` property should be kept the same for all these events so that they can be grouped together properly. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically.",
          "type": "string"
        },
        "pageCategories": {
          "items": {
            "type": "string"
          },
          "description": "The categories associated with a category page. To represent full path of category, use '\u003e' sign to separate different hierarchies. If '\u003e' is part of the category name, replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: \"pageCategories\" : [\"Sales \u003e 2017 Black Friday Deals\"]. Required for `category-page-view` events. At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "array"
        },
        "attributionToken": {
          "type": "string",
          "description": "Highly recommended for user events that are the result of PredictionService.Predict. This field enables accurate attribution of recommendation model performance. The value must be a valid PredictResponse.attribution_token for user events that are the result of PredictionService.Predict. The value must be a valid SearchResponse.attribution_token for user events that are the result of SearchService.Search. This token enables us to accurately attribute page view or purchase back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass PredictResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the PredictResponse.attribution_token to this field."
        },
        "orderBy": {
          "description": "The order in which products are returned. See SearchRequest.order_by for definition and syntax. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. The field should not contain PII or user-data. We recommend to use Google Analytics [Client ID](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#clientId) for this field."
        },
        "purchaseTransaction": {
          "description": "A transaction represents the entire purchase transaction. Required for `purchase-complete` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "$ref": "GoogleCloudRetailV2alphaPurchaseTransaction"
        },
        "userInfo": {
          "$ref": "GoogleCloudRetailV2alphaUserInfo",
          "description": "User information."
        },
        "productDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaProductDetail"
          },
          "description": "The main product details related to the event. This field is optional except for the following event types: * `add-to-cart` * `detail-page-view` * `purchase-complete` In a `search` event, this field represents the products returned to the end user on the current page (the end user may have not finished browsing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different product_details is desired. The end user may have not finished browsing the whole page yet."
        }
      },
      "id": "GoogleCloudRetailV2alphaUserEvent"
    },
    "GoogleCloudRetailV2betaRejoinUserEventsMetadata": {
      "properties": {},
      "description": "Metadata for `RejoinUserEvents` method.",
      "type": "object",
      "id": "GoogleCloudRetailV2betaRejoinUserEventsMetadata"
    },
    "GoogleCloudRetailV2alphaPurgeMetadata": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaPurgeMetadata",
      "description": "Metadata related to the progress of the Purge operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {}
    },
    "GoogleCloudRetailV2alphaTuneModelRequest": {
      "id": "GoogleCloudRetailV2alphaTuneModelRequest",
      "properties": {},
      "description": "Request to manually start a tuning process now (instead of waiting for the periodically scheduled tuning to happen).",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaSetInventoryResponse": {
      "id": "GoogleCloudRetailV2alphaSetInventoryResponse",
      "description": "Response of the SetInventoryRequest. Currently empty because there is no meaningful response populated from the ProductService.SetInventory method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRetailV2betaAddLocalInventoriesMetadata": {
      "id": "GoogleCloudRetailV2betaAddLocalInventoriesMetadata",
      "properties": {},
      "type": "object",
      "description": "Metadata related to the progress of the AddLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddLocalInventories method."
    },
    "GoogleCloudRetailV2alphaListMerchantCenterAccountLinksResponse": {
      "type": "object",
      "description": "Response for MerchantCenterAccountLinkService.ListMerchantCenterAccountLinks method.",
      "id": "GoogleCloudRetailV2alphaListMerchantCenterAccountLinksResponse",
      "properties": {
        "merchantCenterAccountLinks": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaMerchantCenterAccountLink"
          },
          "type": "array",
          "description": "The links."
        }
      }
    },
    "GoogleCloudRetailV2alphaCatalogAttributeIgnoredFacetValues": {
      "id": "GoogleCloudRetailV2alphaCatalogAttributeIgnoredFacetValues",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "List of facet values to ignore for the following time range. The facet values are the same as the attribute values.",
          "type": "array"
        },
        "endTime": {
          "description": "If start time is empty and end time is not empty, then ignore these facet values before end time.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time range for the current list of facet values to ignore. If multiple time ranges are specified for an facet value for the current attribute, consider all of them. If both are empty, ignore always. If start time and end time are set, then start time must be before end time. If start time is not empty and end time is empty, then will ignore these facet values after the start time.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Facet values to ignore on facets during the specified time range for the given SearchResponse.Facet.key attribute."
    },
    "GoogleCloudRetailV2alphaRating": {
      "id": "GoogleCloudRetailV2alphaRating",
      "properties": {
        "averageRating": {
          "type": "number",
          "format": "float",
          "description": "The average rating of the Product. The rating is scaled at 1-5. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "ratingCount": {
          "format": "int32",
          "description": "The total number of ratings. This value is independent of the value of rating_histogram. This value must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "integer"
        },
        "ratingHistogram": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "List of rating counts per rating value (index = rating - 1). The list is empty if there is no rating. If the list is non-empty, its size is always 5. Otherwise, an INVALID_ARGUMENT error is returned. For example, [41, 14, 13, 47, 303]. It means that the Product got 41 ratings with 1 star, 14 ratings with 2 star, and so on.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The rating of a Product."
    },
    "GoogleCloudRetailV2alphaCompleteQueryResponse": {
      "properties": {
        "recentSearchResults": {
          "description": "Matched recent searches of this user. The maximum number of recent searches is 10. This field is a restricted feature. If you want to enable it, contact Retail Search support. This feature is only available when CompleteQueryRequest.visitor_id field is set and UserEvent is imported. The recent searches satisfy the follow rules: * They are ordered from latest to oldest. * They are matched with CompleteQueryRequest.query case insensitively. * They are transformed to lower case. * They are UTF-8 safe. Recent searches are deduplicated. More recent searches will be reserved when duplication happens.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaCompleteQueryResponseRecentSearchResult"
          },
          "type": "array"
        },
        "attributeResults": {
          "type": "object",
          "description": "A map of matched attribute suggestions. This field is only available for \"cloud-retail\" dataset. Current supported keys: * `brands` * `categories`",
          "additionalProperties": {
            "$ref": "GoogleCloudRetailV2alphaCompleteQueryResponseAttributeResult"
          }
        },
        "completionResults": {
          "type": "array",
          "description": "Results of the matching suggestions. The result list is ordered and the first result is top suggestion.",
          "items": {
            "$ref": "GoogleCloudRetailV2alphaCompleteQueryResponseCompletionResult"
          }
        },
        "attributionToken": {
          "description": "A unique complete token. This should be included in the UserEvent.completion_detail for search events resulting from this completion, which enables accurate attribution of complete model performance.",
          "type": "string"
        }
      },
      "description": "Response of the autocomplete query.",
      "id": "GoogleCloudRetailV2alphaCompleteQueryResponse",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaBatchRemoveCatalogAttributesRequest": {
      "properties": {
        "attributeKeys": {
          "description": "Required. The attribute name keys of the CatalogAttributes to delete. A maximum of 1000 catalog attributes can be deleted in a batch.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRetailV2alphaBatchRemoveCatalogAttributesRequest",
      "type": "object",
      "description": "Request for CatalogService.BatchRemoveCatalogAttributes method."
    },
    "GoogleCloudRetailLoggingErrorLog": {
      "type": "object",
      "description": "An error log which is reported to the Error Reporting system. This proto a superset of google.devtools.clouderrorreporting.v1beta1.ReportedErrorEvent.",
      "id": "GoogleCloudRetailLoggingErrorLog",
      "properties": {
        "context": {
          "$ref": "GoogleCloudRetailLoggingErrorContext",
          "description": "A description of the context in which the error occurred."
        },
        "serviceContext": {
          "description": "The service context in which this error has occurred.",
          "$ref": "GoogleCloudRetailLoggingServiceContext"
        },
        "importPayload": {
          "description": "The error payload that is populated on LRO import APIs.",
          "$ref": "GoogleCloudRetailLoggingImportErrorContext"
        },
        "message": {
          "type": "string",
          "description": "A message describing the error."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The RPC status associated with the error log."
        },
        "requestPayload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The API request payload, represented as a protocol buffer. Most API request types are supported. For example: \"type.googleapis.com/google.cloud.retail.v2.ProductService.CreateProductRequest\" \"type.googleapis.com/google.cloud.retail.v2.UserEventService.WriteUserEventRequest\""
        },
        "responsePayload": {
          "type": "object",
          "description": "The API response payload, represented as a protocol buffer. This is used to log some \"soft errors\", where the response is valid but we consider there are some quality issues like unjoined events. The following API responses are supported and no PII is included: \"google.cloud.retail.v2.PredictionService.Predict\" \"google.cloud.retail.v2.UserEventService.WriteUserEvent\" \"google.cloud.retail.v2.UserEventService.CollectUserEvent\"",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudRetailV2alphaImportMetadata": {
      "description": "Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudRetailV2alphaImportMetadata",
      "properties": {
        "transformedUserEventsMetadata": {
          "description": "Metadata related to transform user events.",
          "$ref": "GoogleCloudRetailV2alphaTransformedUserEventsMetadata"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestId": {
          "description": "Deprecated. This field is never set.",
          "type": "string"
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were processed successfully."
        },
        "notificationPubsubTopic": {
          "type": "string",
          "description": "Pub/Sub topic for receiving notification. If this field is set, when the import is finished, a notification is sent to specified Pub/Sub topic. The message data is JSON string of a Operation. Format of the Pub/Sub topic is `projects/{project}/topics/{topic}`."
        }
      }
    },
    "GoogleCloudRetailV2SetInventoryResponse": {
      "properties": {},
      "id": "GoogleCloudRetailV2SetInventoryResponse",
      "description": "Response of the SetInventoryRequest. Currently empty because there is no meaningful response populated from the ProductService.SetInventory method.",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaSearchRequestBoostSpec": {
      "type": "object",
      "id": "GoogleCloudRetailV2alphaSearchRequestBoostSpec",
      "description": "Boost specification to boost certain items.",
      "properties": {
        "conditionBoostSpecs": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaSearchRequestBoostSpecConditionBoostSpec"
          },
          "description": "Condition boost specifications. If a product matches multiple conditions in the specifictions, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20.",
          "type": "array"
        },
        "skipBoostSpecValidation": {
          "description": "Whether to skip boostspec validation. If this field is set to true, invalid BoostSpec.condition_boost_specs will be ignored and valid BoostSpec.condition_boost_specs will still be applied.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudRetailV2alphaRemoveControlRequest": {
      "properties": {
        "controlId": {
          "description": "Required. The id of the control to apply. Assumed to be in the same catalog as the serving config.",
          "type": "string"
        }
      },
      "description": "Request for RemoveControl method.",
      "id": "GoogleCloudRetailV2alphaRemoveControlRequest",
      "type": "object"
    },
    "GoogleCloudRetailV2ModelModelFeaturesConfig": {
      "id": "GoogleCloudRetailV2ModelModelFeaturesConfig",
      "properties": {
        "frequentlyBoughtTogetherConfig": {
          "$ref": "GoogleCloudRetailV2ModelFrequentlyBoughtTogetherFeaturesConfig",
          "description": "Additional configs for frequently-bought-together models."
        }
      },
      "type": "object",
      "description": "Additional model features config."
    },
    "GoogleCloudRetailV2alphaCompleteQueryResponseCompletionResult": {
      "properties": {
        "totalProductCount": {
          "description": "Total number of products associated with a search with this suggestion. This is an experimental feature for limited customers. If you want to receive this product count information, reach out to the Retail support team.",
          "type": "integer",
          "format": "int32"
        },
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "facets": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaSearchResponseFacet"
          },
          "type": "array",
          "description": "Facet information for the suggestion term. Gives the number of items resulting from a search with this suggestion term for each facet. This is an experimental feature for limited customers. If you want to receive this facet information, reach out to the Retail support team."
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudRetailV2alphaCustomAttribute"
          },
          "description": "Custom attributes for the suggestion term. * For \"user-data\", the attributes are additional custom attributes ingested through BigQuery. * For \"cloud-retail\", the attributes are product attributes generated by Cloud Retail. It requires UserEvent.product_details is imported properly.",
          "type": "object"
        }
      },
      "description": "Resource that represents completion results.",
      "id": "GoogleCloudRetailV2alphaCompleteQueryResponseCompletionResult",
      "type": "object"
    },
    "GoogleCloudRetailV2alphaCatalog": {
      "id": "GoogleCloudRetailV2alphaCatalog",
      "description": "The catalog configuration.",
      "properties": {
        "productLevelConfig": {
          "$ref": "GoogleCloudRetailV2alphaProductLevelConfig",
          "description": "Required. The product level configuration."
        },
        "name": {
          "type": "string",
          "description": "Required. Immutable. The fully qualified resource name of the catalog."
        },
        "displayName": {
          "description": "Required. Immutable. The catalog display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "merchantCenterLinkingConfig": {
          "description": "The Merchant Center linking configuration. After a link is added, the data stream from Merchant Center to Cloud Retail will be enabled automatically. The requester must have access to the Merchant Center account in order to make changes to this field.",
          "$ref": "GoogleCloudRetailV2alphaMerchantCenterLinkingConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudRetailV2betaUserEventImportSummary": {
      "type": "object",
      "properties": {
        "joinedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user events imported with complete existing catalog information."
        },
        "unjoinedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user events imported, but with catalog information not found in the imported catalog."
        }
      },
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events.",
      "id": "GoogleCloudRetailV2betaUserEventImportSummary"
    },
    "GoogleCloudRetailV2alphaPredictResponse": {
      "description": "Response message for predict method.",
      "properties": {
        "validateOnly": {
          "description": "True if the validateOnly property was set in the request.",
          "type": "boolean"
        },
        "missingIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs of products in the request that were missing from the inventory."
        },
        "results": {
          "items": {
            "$ref": "GoogleCloudRetailV2alphaPredictResponsePredictionResult"
          },
          "description": "A list of recommended products. The order represents the ranking (from the most relevant product to the least).",
          "type": "array"
        },
        "attributionToken": {
[...]
