{
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Run",
  "documentationLink": "https://cloud.google.com/run/",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "description": "Deploy and manage user provided container images that scale automatically based on HTTP traffic.",
  "protocol": "rest",
  "revision": "20210402",
  "resources": {
    "namespaces": {
      "resources": {
        "jobs": {
          "methods": {
            "list": {
              "parameters": {
                "limit": {
                  "format": "int32",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "location": "query",
                  "type": "integer"
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The namespace from which the jobs should be listed. Replace {namespace_id} with the project ID or number.",
                  "required": true,
                  "location": "path"
                },
                "includeUninitialized": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Not currently used by Cloud Run."
                },
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Optional encoded string to continue paging."
                },
                "resourceVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run."
                },
                "fieldSelector": {
                  "description": "Optional. Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                }
              },
              "path": "apis/run.googleapis.com/v1alpha1/{+parent}/jobs",
              "flatPath": "apis/run.googleapis.com/v1alpha1/namespaces/{namespacesId}/jobs",
              "id": "run.namespaces.jobs.list",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List jobs.",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "request": {
                "$ref": "Job"
              },
              "parameters": {
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The namespace in which the job should be created. Replace {namespace_id} with the project ID or number.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Job"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "apis/run.googleapis.com/v1alpha1/namespaces/{namespacesId}/jobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Create a job.",
              "path": "apis/run.googleapis.com/v1alpha1/{+parent}/jobs",
              "id": "run.namespaces.jobs.create"
            },
            "delete": {
              "flatPath": "apis/run.googleapis.com/v1alpha1/namespaces/{namespacesId}/jobs/{jobsId}",
              "path": "apis/run.googleapis.com/v1alpha1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "kind": {
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter."
                },
                "name": {
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the job to delete. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "location": "path"
                },
                "propagationPolicy": {
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Delete a job.",
              "id": "run.namespaces.jobs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "apis/run.googleapis.com/v1alpha1/namespaces/{namespacesId}/jobs/{jobsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Job"
              },
              "path": "apis/run.googleapis.com/v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "run.namespaces.jobs.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the job to retrieve. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Get information about a job.",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "name": "run",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "baseUrl": "https://run.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "version": "v1alpha1",
  "rootUrl": "https://run.googleapis.com/",
  "id": "run:v1alpha1",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "schemas": {
    "SELinuxOptions": {
      "id": "SELinuxOptions",
      "properties": {
        "level": {
          "type": "string",
          "description": "Level is SELinux level label that applies to the container. +optional"
        },
        "role": {
          "type": "string",
          "description": "Role is a SELinux role label that applies to the container. +optional"
        },
        "type": {
          "type": "string",
          "description": "Type is a SELinux type label that applies to the container. +optional"
        },
        "user": {
          "type": "string",
          "description": "User is a SELinux user label that applies to the container. +optional"
        }
      },
      "description": "SELinuxOptions are the labels to be applied to the container",
      "type": "object"
    },
    "ContainerPort": {
      "description": "ContainerPort represents a network port in a single container.",
      "properties": {
        "hostIP": {
          "type": "string",
          "description": "What host IP to bind the external port to. +optional"
        },
        "protocol": {
          "description": "Protocol for port. Must be UDP or TCP. Defaults to \"TCP\". +optional",
          "type": "string"
        },
        "containerPort": {
          "description": "Number of port to expose on the pod's IP address. This must be a valid port number, 0 \u003c x \u003c 65536.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "If specified, this must be an IANA_SVC_NAME and unique within the pod. Each named port in a pod must have a unique name. Name for the port that can be referred to by services. +optional"
        },
        "hostPort": {
          "type": "integer",
          "format": "int32",
          "description": "Number of port to expose on the host. If specified, this must be a valid port number, 0 \u003c x \u003c 65536. If HostNetwork is specified, this must match ContainerPort. Most containers do not need this. +optional"
        }
      },
      "type": "object",
      "id": "ContainerPort"
    },
    "Capabilities": {
      "description": "Adds and removes POSIX capabilities from running containers.",
      "type": "object",
      "properties": {
        "add": {
          "items": {
            "type": "string"
          },
          "description": "Added capabilities +optional",
          "type": "array"
        },
        "drop": {
          "description": "Removed capabilities +optional",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Capabilities"
    },
    "SecretKeySelector": {
      "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported SecretKeySelector selects a key of a Secret.",
      "id": "SecretKeySelector",
      "properties": {
        "name": {
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported The name of the secret in the pod's namespace to select from.",
          "type": "string"
        },
        "optional": {
          "type": "boolean",
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported Specify whether the Secret or its key must be defined +optional"
        },
        "key": {
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported The key of the secret to select from. Must be a valid secret key.",
          "type": "string"
        },
        "localObjectReference": {
          "$ref": "LocalObjectReference",
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead."
        }
      },
      "type": "object"
    },
    "TCPSocketAction": {
      "type": "object",
      "id": "TCPSocketAction",
      "description": "TCPSocketAction describes an action based on opening a socket",
      "properties": {
        "host": {
          "type": "string",
          "description": "Optional: Host name to connect to, defaults to the pod IP. +optional"
        },
        "port": {
          "description": "Number or name of the port to access on the container. Number must be in the range 1 to 65535. Name must be an IANA_SVC_NAME.",
          "$ref": "IntOrString"
        }
      }
    },
    "JobStatus": {
      "id": "JobStatus",
      "properties": {
        "instances": {
          "description": "Optional. Status of completed, failed, and running instances. +optional",
          "type": "array",
          "items": {
            "$ref": "InstanceStatus"
          }
        },
        "succeeded": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of instances which reached phase Succeeded. +optional"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Represents time when the job was acknowledged by the job controller. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC. +optional",
          "type": "string"
        },
        "completionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Represents time when the job was completed. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC. +optional"
        },
        "observedGeneration": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The 'generation' of the job that was last processed by the controller."
        },
        "active": {
          "type": "integer",
          "description": "Optional. The number of actively running instances. +optional",
          "format": "int32"
        },
        "failed": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of instances which reached phase Failed. +optional"
        },
        "conditions": {
          "description": "Optional. The latest available observations of a job's current state. More info: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/ +optional",
          "type": "array",
          "items": {
            "$ref": "JobCondition"
          }
        },
        "imageDigest": {
          "type": "string",
          "description": "Optional. ImageDigest holds the resolved digest for the image specified within .Spec.Template.Spec.Container.Image. The digest is resolved during the creation of the Job. This field holds the digest value regardless of whether a tag or digest was originally specified in the Container object."
        }
      },
      "type": "object",
      "description": "JobStatus represents the current state of a Job."
    },
    "InstanceSpec": {
      "type": "object",
      "description": "InstanceSpec is a description of an instance.",
      "properties": {
        "volumes": {
          "type": "array",
          "description": "Optional. List of volumes that can be mounted by containers belonging to the instance. More info: https://kubernetes.io/docs/concepts/storage/volumes +optional",
          "items": {
            "$ref": "Volume"
          }
        },
        "restartPolicy": {
          "description": "Optional. Restart policy for all containers within the instance. Allowed values are: - OnFailure: Instances will always be restarted on failure if the backoffLimit has not been reached. - Never: Instances are never restarted and all failures are permanent. Cannot be used if backoffLimit is set. +optional",
          "type": "string"
        },
        "terminationGracePeriodSeconds": {
          "description": "Optional. Optional duration in seconds the instance needs to terminate gracefully. Value must be non-negative integer. The value zero indicates delete immediately. The grace period is the duration in seconds after the processes running in the instance are sent a termination signal and the time when the processes are forcibly halted with a kill signal. Set this value longer than the expected cleanup time for your process. +optional",
          "format": "int64",
          "type": "string"
        },
        "serviceAccountName": {
          "description": "Optional. Email address of the IAM service account associated with the instance of a Job. The service account represents the identity of the running instance, and determines what permissions the instance has. If not provided, the instance will use the project's default service account. +optional",
          "type": "string"
        },
        "activeDeadlineSeconds": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Optional duration in seconds the instance may be active relative to StartTime before the system will actively try to mark it failed and kill associated containers. If set to zero, the system will never attempt to kill an instance based on time. Otherwise, value must be a positive integer. +optional"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          },
          "description": "Optional. List of containers belonging to the instance. We disallow a number of fields on this Container. Only a single container may be provided."
        }
      },
      "id": "InstanceSpec"
    },
    "ConfigMapKeySelector": {
      "properties": {
        "localObjectReference": {
          "$ref": "LocalObjectReference",
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead."
        },
        "key": {
          "type": "string",
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported The key to select."
        },
        "name": {
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported The ConfigMap to select from.",
          "type": "string"
        },
        "optional": {
          "type": "boolean",
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported Specify whether the ConfigMap or its key must be defined +optional"
        }
      },
      "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported Selects a key from a ConfigMap.",
      "type": "object",
      "id": "ConfigMapKeySelector"
    },
    "Job": {
      "id": "Job",
      "description": "Job represents the configuration of a single job. A job an immutable resource that references a container image which is run to completion.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "JobStatus",
          "description": "Optional. Current status of a job. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#spec-and-status +optional"
        },
        "spec": {
          "description": "Optional. Specification of the desired behavior of a job. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#spec-and-status +optional",
          "$ref": "JobSpec"
        },
        "kind": {
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds +optional",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Standard object's metadata. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata +optional",
          "$ref": "ObjectMeta"
        },
        "apiVersion": {
          "type": "string",
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources +optional"
        }
      }
    },
    "HTTPGetAction": {
      "description": "HTTPGetAction describes an action based on HTTP Get requests.",
      "type": "object",
      "id": "HTTPGetAction",
      "properties": {
        "path": {
          "description": "Path to access on the HTTP server. +optional",
          "type": "string"
        },
        "port": {
          "$ref": "IntOrString",
          "description": "Name or number of the port to access on the container. Number must be in the range 1 to 65535. Name must be an IANA_SVC_NAME."
        },
        "host": {
          "description": "Host name to connect to, defaults to the pod IP. You probably want to set \"Host\" in httpHeaders instead. +optional",
          "type": "string"
        },
        "scheme": {
          "description": "Scheme to use for connecting to the host. Defaults to HTTP. +optional",
          "type": "string"
        },
        "httpHeaders": {
          "type": "array",
          "description": "Custom headers to set in the request. HTTP allows repeated headers. +optional",
          "items": {
            "$ref": "HTTPHeader"
          }
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ExecAction": {
      "properties": {
        "command": {
          "type": "array",
          "description": "Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy. +optional",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ExecAction",
      "description": "ExecAction describes a \"run in container\" action.",
      "type": "object"
    },
    "Handler": {
      "properties": {
        "exec": {
          "description": "One and only one of the following should be specified. Exec specifies the action to take. +optional",
          "$ref": "ExecAction"
        },
        "tcpSocket": {
          "description": "TCPSocket specifies an action involving a TCP port. TCP hooks not yet supported",
          "$ref": "TCPSocketAction"
        },
        "httpGet": {
          "$ref": "HTTPGetAction",
          "description": "HTTPGet specifies the http request to perform. +optional"
        }
      },
      "description": "Handler defines a specific action that should be taken",
      "type": "object",
      "id": "Handler"
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This field is equivalent to the metadata.continue field and is provided as a convenience for compatibility with https://google.aip.dev/158. The value is opaque and may be used to issue another request to the endpoint that served this list to retrieve the next set of available objects. Continuing a list may not be possible if the server configuration has changed or more than a few minutes have passed. The metadata.resourceVersion field returned when using this field will be identical to the value in the first response."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "apiVersion": {
          "description": "The API version for this call such as \"run.googleapis.com/v1alpha1\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this jobs list.",
          "$ref": "ListMeta"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"JobsList\".",
          "type": "string"
        },
        "items": {
          "description": "List of Jobs.",
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        }
      },
      "description": "ListJobsResponse is a list of Jobs resources.",
      "type": "object"
    },
    "SecretEnvSource": {
      "description": "SecretEnvSource selects a Secret to populate the environment variables with. The contents of the target Secret's Data field will represent the key-value pairs as environment variables.",
      "properties": {
        "optional": {
          "description": "Cloud Run fully managed: not supported Cloud Run for Anthos: supported Specify whether the Secret must be defined +optional",
          "type": "boolean"
        },
        "localObjectReference": {
          "$ref": "LocalObjectReference",
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead."
        },
        "name": {
          "type": "string",
          "description": "Cloud Run fully managed: not supported Cloud Run for Anthos: supported The Secret to select from."
        }
      },
      "type": "object",
      "id": "SecretEnvSource"
    },
    "ObjectMeta": {
      "description": "ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create.",
      "properties": {
        "generateName": {
          "description": "Not currently supported by Cloud Run. GenerateName is an optional prefix, used by the server, to generate a unique name ONLY IF the Name field has not been provided. If this field is used, the name returned to the client will be different than the name passed. This value will also be combined with a unique suffix. The provided value has the same validation rules as the Name field, and may be truncated by the length of the suffix required to make the value unique on the server. If this field is specified and the generated name exists, the server will NOT return a 409 - instead, it will either return 201 Created or 500 with Reason ServerTimeout indicating a unique name could not be found in the time allotted, and the client should retry (optionally after the time indicated in the Retry-After header). Applied only if Name is not specified. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#idempotency +optional string generateName = 2;",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "SelfLink is a URL representing this object. Populated by the system. Read-only. +optional string selfLink = 4;"
        },
        "namespace": {
          "description": "Namespace defines the space within each name must be unique, within a Cloud Run region. In Cloud Run the namespace must be equal to either the project ID or project number.",
          "type": "string"
        },
        "ownerReferences": {
          "description": "List of objects that own this object. If ALL objects in the list have been deleted, this object will be garbage collected. +optional",
          "items": {
            "$ref": "OwnerReference"
          },
          "type": "array"
        },
        "deletionTimestamp": {
          "description": "DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This field is set by the server when a graceful deletion is requested by the user, and is not directly settable by a client. The resource is expected to be deleted (no longer visible from resource lists, and not reachable by name) after the time in this field, once the finalizers list is empty. As long as the finalizers list contains items, deletion is blocked. Once the deletionTimestamp is set, this value may not be unset or be set further into the future, although it may be shortened or the resource may be deleted prior to this time. For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react by sending a graceful termination signal to the containers in the pod. After that 30 seconds, the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup, remove the pod from the API. In the presence of network partitions, this object may still exist after this timestamp, until an administrator or automated process can determine the resource is fully terminated. If not set, graceful deletion of the object has not been requested. Populated by the system when a graceful deletion is requested. Read-only. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata +optional",
          "format": "google-datetime",
          "type": "string"
        },
        "generation": {
          "description": "A sequence number representing a specific generation of the desired state. Populated by the system. Read-only. +optional",
          "type": "integer",
          "format": "int32"
        },
        "finalizers": {
          "description": "Not currently supported by Cloud Run. Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. +optional +patchStrategy=merge",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusterName": {
          "type": "string",
          "description": "Not currently supported by Cloud Run. The name of the cluster which the object belongs to. This is used to distinguish resources with same name and namespace in different clusters. This field is not set anywhere right now and apiserver is going to ignore it if set in create or update request. +optional"
        },
        "uid": {
          "type": "string",
          "description": "UID is the unique in time and space value for this object. It is typically generated by the server on successful creation of a resource and is not allowed to change on PUT operations. Populated by the system. Read-only. More info: http://kubernetes.io/docs/user-guide/identifiers#uids +optional"
        },
        "name": {
          "description": "Name must be unique within a namespace, within a Cloud Run region. Is required when creating resources, although some resources may allow a client to request the generation of an appropriate name automatically. Name is primarily intended for creation idempotence and configuration definition. Cannot be updated. More info: http://kubernetes.io/docs/user-guide/identifiers#names +optional",
          "type": "string"
        },
        "resourceVersion": {
          "description": "An opaque value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server. They may only be valid for a particular resource or set of resources. Populated by the system. Read-only. Value must be treated as opaque by clients and . More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency +optional",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: http://kubernetes.io/docs/user-guide/annotations +optional",
          "type": "object"
        },
        "deletionGracePeriodSeconds": {
          "type": "integer",
          "description": "Not currently supported by Cloud Run. Number of seconds allowed for this object to gracefully terminate before it will be removed from the system. Only set when deletionTimestamp is also set. May only be shortened. Read-only. +optional",
          "format": "int32"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and routes. More info: http://kubernetes.io/docs/user-guide/labels +optional",
          "type": "object"
        },
        "creationTimestamp": {
          "description": "CreationTimestamp is a timestamp representing the server time when this object was created. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It is represented in RFC3339 form and is in UTC. Populated by the system. Read-only. Null for lists. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata +optional",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "ObjectMeta",
      "type": "object"
    },
    "Probe": {
      "properties": {
        "handler": {
          "$ref": "Handler",
          "description": "The action taken to determine the health of a container"
        },
        "successThreshold": {
          "description": "Minimum consecutive successes for the probe to be considered successful after having failed. Defaults to 1. Must be 1 for liveness. Minimum value is 1. +optional",
          "format": "int32",
          "type": "integer"
        },
        "periodSeconds": {
          "description": "How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. +optional",
          "format": "int32",
          "type": "integer"
        },
        "timeoutSeconds": {
          "format": "int32",
          "description": "Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional",
          "type": "integer"
        },
        "initialDelaySeconds": {
          "description": "Number of seconds after the container has started before liveness probes are initiated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional",
          "format": "int32",
          "type": "integer"
        },
        "failureThreshold": {
          "description": "Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1. +optional",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Probe",
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
      "type": "object"
    },
    "ConfigMapVolumeSource": {
      "properties": {
        "defaultMode": {
          "type": "integer",
          "format": "int32",
          "description": "Mode bits to use on created files by default. Must be a value between 0 and 0777. Defaults to 0644. Directories within the path are not affected by this setting. This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set."
        },
        "optional": {
          "description": "Specify whether the Secret or its keys must be defined.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the config.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "If unspecified, each key-value pair in the Data field of the referenced Secret will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified which is not present in the Secret, the volume setup will error unless it is marked optional.",
          "items": {
            "$ref": "KeyToPath"
          }
        }
      },
      "type": "object",
      "description": "Adapts a ConfigMap into a volume. The contents of the target ConfigMap's Data field will be presented in a volume as files using the keys in the Data field as the file names, unless the items element is populated with specific mappings of keys to paths.",
      "id": "ConfigMapVolumeSource"
    },
    "HTTPHeader": {
      "description": "HTTPHeader describes a custom header to be used in HTTP probes",
      "properties": {
        "name": {
          "type": "string",
          "description": "The header field name"
        },
        "value": {
          "type": "string",
          "description": "The header field value"
        }
      },
      "type": "object",
      "id": "HTTPHeader"
    },
    "ListMeta": {
      "id": "ListMeta",
      "type": "object",
      "properties": {
        "continue": {
          "description": "continue may be set if the user set a limit on the number of items returned, and indicates that the server has more data available. The value is opaque and may be used to issue another request to the endpoint that served this list to retrieve the next set of available objects. Continuing a list may not be possible if the server configuration has changed or more than a few minutes have passed. The resourceVersion field returned when using this continue value will be identical to the value in the first response.",
          "type": "string"
        },
        "resourceVersion": {
          "type": "string",
          "description": "String that identifies the server's internal version of this object that can be used by clients to determine when objects have changed. Value must be treated as opaque by clients and passed unmodified back to the server. Populated by the system. Read-only. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency +optional"
        },
        "selfLink": {
          "description": "SelfLink is a URL representing this object. Populated by the system. Read-only. +optional",
          "type": "string"
        }
      },
      "description": "ListMeta describes metadata that synthetic resources must have, including lists and various status objects. A resource may have only one of {ObjectMeta, ListMeta}."
    },
    "SecretVolumeSource": {
      "id": "SecretVolumeSource",
      "properties": {
        "defaultMode": {
          "format": "int32",
          "description": "Mode bits to use on created files by default. Must be a value between 0 and 0777. Defaults to 0644. Directories within the path are not affected by this setting. This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "type": "integer"
        },
        "secretName": {
          "description": "Name of the secret in the container's namespace to use.",
          "type": "string"
        },
        "optional": {
          "type": "boolean",
          "description": "Specify whether the Secret or its keys must be defined."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "KeyToPath"
          },
          "description": "If unspecified, each key-value pair in the Data field of the referenced Secret will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified which is not present in the Secret, the volume setup will error unless it is marked optional."
        }
      },
      "type": "object",
      "description": "The contents of the target Secret's Data field will be presented in a volume as files using the keys in the Data field as the file names."
    },
    "JobSpec": {
      "description": "JobSpec describes how the job execution will look like.",
      "properties": {
        "backoffLimit": {
          "type": "integer",
          "description": "Optional. Specifies the number of retries per instance, before marking this job failed. If set to zero, instances will never retry on failure. +optional",
          "format": "int32"
        },
        "ttlSecondsAfterFinished": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. ttlSecondsAfterFinished limits the lifetime of a Job that has finished execution (either Complete or Failed). If this field is set, ttlSecondsAfterFinished after the Job finishes, it is eligible to be automatically deleted. When the Job is being deleted, its lifecycle guarantees (e.g. finalizers) will be honored. If this field is set to zero, the Job won't be automatically deleted. +optional"
        },
        "template": {
          "$ref": "InstanceTemplateSpec",
          "description": "Optional. Describes the instance that will be created when executing a job."
        },
        "activeDeadlineSeconds": {
          "format": "int64",
          "description": "Optional. Specifies the duration in seconds relative to the startTime that the job may be active before the system tries to terminate it. If set to zero, the system will never attempt to terminate the job based on time. Otherwise, the value must be positive integer. +optional",
          "type": "string"
        },
        "completions": {
          "format": "int32",
          "description": "Optional. Specifies the desired number of successfully finished instances the job should be run with. Setting to 1 means that parallelism is limited to 1 and the success of that instance signals the success of the job. More info: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/ +optional",
          "type": "integer"
        },
        "parallelism": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the maximum desired number of instances the job should run at any given time. Must be \u003c= completions. The actual number of instances running in steady state will be less than this number when ((.spec.completions - .status.successful) \u003c .spec.parallelism), i.e. when the work left to do is less than max parallelism. More info: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/ +optional"
        }
      },
      "id": "JobSpec",
      "type": "object"
    },
    "KeyToPath": {
      "type": "object",
      "properties": {
        "path": {
          "description": "The relative path of the file to map the key to. May not be an absolute path. May not contain the path element '..'. May not start with the string '..'.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The key to project."
        },
        "mode": {
          "format": "int32",
          "type": "integer",
          "description": "Mode bits to use on this file, must be a value between 0 and 0777. If not specified, the volume defaultMode will be used. This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set. +optional"
        }
      },
      "id": "KeyToPath",
      "description": "Maps a string key to a path within a volume."
    },
    "VolumeMount": {
      "description": "VolumeMount describes a mounting of a Volume within a container.",
      "type": "object",
      "properties": {
        "readOnly": {
          "description": "Mounted read-only if true, read-write otherwise (false or unspecified). Defaults to false. +optional",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "This must match the Name of a Volume."
        },
        "mountPropagation": {
          "type": "string",
          "description": "mountPropagation determines how mounts are propagated from the host to container and the other way around. When not set, MountPropagationHostToContainer is used. This field is beta in 1.10. +optional"
        },
        "subPath": {
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root). +optional",
          "type": "string"
        },
        "mountPath": {
          "type": "string",
          "description": "Path within the container at which the volume should be mounted. Must not contain ':'."
        }
      },
      "id": "VolumeMount"
    },
    "Quantity": {
      "properties": {
        "string": {
          "description": "Stringified version of the quantity, e.g., \"800 MiB\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Quantity",
      "description": "The view model of a single quantity, e.g. \"800 MiB\". Corresponds to https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/generated.proto"
    },
    "OwnerReference": {
      "description": "OwnerReference contains enough information to let you identify an owning object. Currently, an owning object must be in the same namespace, so there is no namespace field.",
      "type": "object",
      "id": "OwnerReference",
      "properties": {
        "name": {
          "description": "Name of the referent. More info: http://kubernetes.io/docs/user-guide/identifiers#names",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "UID of the referent. More info: http://kubernetes.io/docs/user-guide/identifiers#uids"
        },
        "apiVersion": {
          "type": "string",
          "description": "API version of the referent."
        },
        "kind": {
          "type": "string",
          "description": "Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
        },
        "controller": {
          "type": "boolean",
          "description": "If true, this reference points to the managing controller. +optional"
        },
        "blockOwnerDeletion": {
          "description": "If true, AND if the owner has the \"foregroundDeletion\" finalizer, then the owner cannot be deleted from the key-value store until this reference is removed. Defaults to false. To set this field, a user needs \"delete\" permission of the owner, otherwise 422 (Unprocessable Entity) will be returned. +optional",
          "type": "boolean"
        }
      }
    },
    "InstanceTemplateSpec": {
      "properties": {
        "spec": {
          "$ref": "InstanceSpec",
          "description": "Optional. Specification of the desired behavior of the instance. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#spec-and-status +optional"
        }
      },
      "type": "object",
      "description": "InstanceTemplateSpec describes the data an instance should have when created from a template.",
      "id": "InstanceTemplateSpec"
    },
    "IntOrString": {
      "description": "IntOrString is a type that can hold an int32 or a string. When used in JSON or YAML marshalling and unmarshalling, it produces or consumes the inner type. This allows you to have, for example, a JSON field that can accept a name or number.",
      "id": "IntOrString",
      "type": "object",
      "properties": {
        "type": {
          "type": "integer",
          "format": "int32",
          "description": "The type of the value."
        },
        "intVal": {
          "description": "The int value.",
          "format": "int32",
          "type": "integer"
        },
        "strVal": {
          "description": "The string value.",
          "type": "string"
        }
      }
    },
    "Volume": {
      "properties": {
        "name": {
          "description": "Volume's name.",
          "type": "string"
        },
        "secret": {
          "$ref": "SecretVolumeSource"
        },
        "configMap": {
          "$ref": "ConfigMapVolumeSource"
        }
      },
      "description": "Volume represents a named volume in a container.",
      "type": "object",
      "id": "Volume"
    },
    "ConfigMapEnvSource": {
      "type": "object",
      "id": "ConfigMapEnvSource",
      "properties": {
        "optional": {
          "description": "Cloud Run fully managed: not supported Cloud Run for Anthos: supported Specify whether the ConfigMap must be defined +optional",
          "type": "boolean"
        },
        "localObjectReference": {
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead.",
          "$ref": "LocalObjectReference"
        },
        "name": {
          "type": "string",
          "description": "Cloud Run fully managed: not supported Cloud Run for Anthos: supported The ConfigMap to select from."
        }
      },
      "description": "ConfigMapEnvSource selects a ConfigMap to populate the environment variables with. The contents of the target ConfigMap's Data field will represent the key-value pairs as environment variables."
    },
    "LocalObjectReference": {
      "type": "object",
      "description": "LocalObjectReference contains enough information to let you locate the referenced object inside the same namespace.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names"
        }
      },
      "id": "LocalObjectReference"
    },
    "Container": {
      "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments may be supplied by the system to the container at runtime.",
      "id": "Container",
      "properties": {
        "readinessProbe": {
          "description": "Periodic probe of container service readiness. Container will be removed from service endpoints if the probe fails. Cannot be updated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional",
          "$ref": "Probe"
        },
        "ports": {
          "items": {
            "$ref": "ContainerPort"
          },
          "type": "array",
          "description": "List of ports to expose from the container. Exposing a port here gives the system additional information about the network connections a container uses, but is primarily informational. Not specifying a port here DOES NOT prevent that port from being exposed. Any port which is listening on the default \"0.0.0.0\" address inside a container will be accessible from the network. Cannot be updated. +optional"
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Security options the pod should run with. More info: https://kubernetes.io/docs/concepts/policy/security-context/ More info: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ +optional"
        },
        "resources": {
          "$ref": "ResourceRequirements",
          "description": "Compute Resources required by this container. Cannot be updated. More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#resources +optional"
        },
        "stdinOnce": {
          "description": "Whether the container runtime should close the stdin channel after it has been opened by a single attach. When stdin is true the stdin stream will remain open across multiple attach sessions. If stdinOnce is set to true, stdin is opened on container start, is empty until the first client attaches to stdin, and then remains open and accepts data until the client disconnects, at which time stdin is closed and remains closed until the container is restarted. If this flag is false, a container processes that reads from stdin will never receive an EOF. Default is false +optional",
          "type": "boolean"
        },
        "volumeMounts": {
          "type": "array",
          "description": "Pod volumes to mount into the container's filesystem. Cannot be updated. +optional",
          "items": {
            "$ref": "VolumeMount"
          }
        },
        "args": {
          "description": "Arguments to the entrypoint. The docker image's CMD is used if this is not provided. Variable references $(VAR_NAME) are expanded using the container's environment. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. Cannot be updated. More info: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell +optional",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lifecycle": {
          "description": "Actions that the management system should take in response to container lifecycle events. Cannot be updated. +optional",
          "$ref": "Lifecycle"
        },
        "tty": {
          "type": "boolean",
          "description": "Whether this container should allocate a TTY for itself, also requires 'stdin' to be true. Default is false. +optional"
        },
        "terminationMessagePath": {
          "description": "Optional: Path at which the file to which the container's termination message will be written is mounted into the container's filesystem. Message written is intended to be brief final status, such as an assertion failure message. Will be truncated by the node if greater than 4096 bytes. The total message length across all containers will be limited to 12kb. Defaults to /dev/termination-log. Cannot be updated. +optional",
          "type": "string"
        },
        "livenessProbe": {
          "$ref": "Probe",
          "description": "Periodic probe of container liveness. Container will be restarted if the probe fails. Cannot be updated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional"
        },
        "imagePullPolicy": {
          "type": "string",
          "description": "Image pull policy. One of Always, Never, IfNotPresent. Defaults to Always if :latest tag is specified, or IfNotPresent otherwise. Cannot be updated. More info: https://kubernetes.io/docs/concepts/containers/images#updating-images +optional"
        },
        "name": {
          "description": "Name of the container specified as a DNS_LABEL. Each container must have a unique name (DNS_LABEL). Cannot be updated.",
          "type": "string"
        },
        "env": {
          "type": "array",
          "description": "List of environment variables to set in the container. Cannot be updated. +optional",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "volumeDevices": {
          "description": "volumeDevices is the list of block devices to be used by the container. This is an alpha feature and may change in the future. +optional",
          "items": {
            "$ref": "VolumeDevice"
          },
          "type": "array"
        },
        "envFrom": {
          "description": "List of sources to populate environment variables in the container. The keys defined within a source must be a C_IDENTIFIER. All invalid keys will be reported as an event when the container is starting. When a key exists in multiple sources, the value associated with the last source will take precedence. Values defined by an Env with a duplicate key will take precedence. Cannot be updated. +optional",
          "type": "array",
          "items": {
            "$ref": "EnvFromSource"
          }
        },
        "command": {
          "items": {
            "type": "string"
          },
          "description": "Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided. Variable references $(VAR_NAME) are expanded using the container's environment. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. Cannot be updated. More info: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell +optional",
          "type": "array"
        },
        "stdin": {
          "type": "boolean",
          "description": "Whether this container should allocate a buffer for stdin in the container runtime. If this is not set, reads from stdin in the container will always result in EOF. Default is false. +optional"
        },
        "workingDir": {
          "description": "Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image. Cannot be updated. +optional",
          "type": "string"
        },
        "terminationMessagePolicy": {
          "description": "Indicate how the termination message should be populated. File will use the contents of terminationMessagePath to populate the container status message on both success and failure. FallbackToLogsOnError will use the last chunk of container log output if the termination message file is empty and the container exited with an error. The log output is limited to 2048 bytes or 80 lines, whichever is smaller. Defaults to File. Cannot be updated. +optional",
          "type": "string"
        },
        "image": {
          "description": "Docker image name. More info: https://kubernetes.io/docs/concepts/containers/images",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Lifecycle": {
      "type": "object",
      "properties": {
        "postStart": {
          "description": "PostStart is called immediately after a container is created. If the handler fails, the container is terminated and restarted according to its restart policy. Other management of the container blocks until the hook completes. More info: https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#container-hooks +optional",
          "$ref": "Handler"
        },
        "preStop": {
          "description": "PreStop is called immediately before a container is terminated. The container is terminated after the handler completes. The reason for termination is passed to the handler. Regardless of the outcome of the handler, the container is eventually terminated. Other management of the container blocks until the hook completes. More info: https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#container-hooks +optional",
          "$ref": "Handler"
        }
      },
      "id": "Lifecycle",
      "description": "Lifecycle describes actions that the management system should take in response to container lifecycle events. For the PostStart and PreStop lifecycle handlers, management of the container blocks until the action is complete, unless the container process fails, in which case the handler is aborted."
    },
    "EnvVar": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the environment variable. Must be a C_IDENTIFIER."
        },
        "valueFrom": {
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported Source for the environment variable's value. Cannot be used if value is not empty. +optional",
          "$ref": "EnvVarSource"
        },
        "value": {
          "type": "string",
          "description": "Variable references $(VAR_NAME) are expanded using the previous defined environment variables in the container and any route environment variables. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. Defaults to \"\". +optional"
        }
      },
      "description": "EnvVar represents an environment variable present in a Container.",
      "id": "EnvVar"
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "description": "SecurityContext holds security configuration that will be applied to a container. Some fields are present in both SecurityContext and PodSecurityContext. When both are set, the values in SecurityContext take precedence.",
      "type": "object",
      "properties": {
        "allowPrivilegeEscalation": {
          "description": "AllowPrivilegeEscalation controls whether a process can gain more privileges than its parent process. This bool directly controls if the no_new_privs flag will be set on the container process. AllowPrivilegeEscalation is true always when the container is: 1) run as Privileged 2) has CAP_SYS_ADMIN +optional",
          "type": "boolean"
        },
        "capabilities": {
          "$ref": "Capabilities",
          "description": "The capabilities to add/drop when running containers. Defaults to the default set of capabilities granted by the container runtime. +optional"
        },
        "readOnlyRootFilesystem": {
          "type": "boolean",
          "description": "Whether this container has a read-only root filesystem. Default is false. +optional"
        },
        "privileged": {
          "description": "Run container in privileged mode. Processes in privileged containers are essentially equivalent to root on the host. Defaults to false. +optional",
          "type": "boolean"
        },
        "runAsUser": {
          "type": "integer",
          "description": "The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional",
          "format": "int32"
        },
        "runAsNonRoot": {
          "description": "Indicates that the container must run as a non-root user. If true, the Kubelet will validate the image at runtime to ensure that it does not run as UID 0 (root) and fail to start the container if it does. If unset or false, no such validation will be performed. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional",
          "type": "boolean"
        },
        "runAsGroup": {
          "type": "integer",
          "description": "The GID to run the entrypoint of the container process. Uses runtime default if unset. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional",
          "format": "int32"
        },
        "seLinuxOptions": {
          "$ref": "SELinuxOptions",
          "description": "The SELinux context to be applied to the container. If unspecified, the container runtime will allocate a random SELinux context for each container. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional"
        }
      }
    },
    "EnvFromSource": {
      "id": "EnvFromSource",
      "properties": {
        "prefix": {
          "type": "string",
          "description": "An optional identifier to prepend to each key in the ConfigMap. Must be a C_IDENTIFIER. +optional"
        },
        "configMapRef": {
          "$ref": "ConfigMapEnvSource",
          "description": "The ConfigMap to select from +optional"
        },
        "secretRef": {
          "$ref": "SecretEnvSource",
          "description": "The Secret to select from +optional"
        }
      },
      "type": "object",
      "description": "EnvFromSource represents the source of a set of ConfigMaps"
    },
    "ResourceRequirements": {
      "properties": {
        "limitsInMap": {
          "additionalProperties": {
            "$ref": "Quantity"
          },
          "description": "Limits describes the maximum amount of compute resources allowed. This is a temporary field created to migrate away from the map limits field. This is done to become compliant with k8s style API. This field is deprecated in favor of limits field.",
          "type": "object"
        },
        "requestsInMap": {
          "type": "object",
          "description": "Requests describes the minimum amount of compute resources required. If Requests is omitted for a container, it defaults to Limits if that is explicitly specified, otherwise to an implementation-defined value. This is a temporary field created to migrate away from the map requests field. This is done to become compliant with k8s style API. This field is deprecated in favor of requests field.",
          "additionalProperties": {
            "$ref": "Quantity"
          }
        },
        "limits": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Limits describes the maximum amount of compute resources allowed. The values of the map is string form of the 'quantity' k8s type: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go"
        },
        "requests": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Requests describes the minimum amount of compute resources required. If Requests is omitted for a container, it defaults to Limits if that is explicitly specified, otherwise to an implementation-defined value. The values of the map is string form of the 'quantity' k8s type: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go"
        }
      },
      "type": "object",
      "description": "ResourceRequirements describes the compute resource requirements.",
      "id": "ResourceRequirements"
    },
    "VolumeDevice": {
      "description": "volumeDevice describes a mapping of a raw block device within a container.",
      "id": "VolumeDevice",
      "properties": {
        "name": {
          "description": "name must match the name of a persistentVolumeClaim in the pod",
          "type": "string"
        },
        "devicePath": {
          "description": "devicePath is the path inside of the container that the device will be mapped to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobCondition": {
      "type": "object",
      "description": "JobCondition defines a readiness condition for a Revision.",
      "properties": {
        "message": {
          "description": "Optional. Human readable message indicating details about the current status.",
          "type": "string"
        },
        "status": {
          "description": "Required. Status of the condition, one of True, False, Unknown.",
          "type": "string"
        },
        "reason": {
          "description": "Optional. One-word CamelCase reason for the condition's last transition.",
          "type": "string"
        },
        "lastTransitionTime": {
          "format": "google-datetime",
          "description": "Optional. Last time the condition transitioned from one status to another.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "Optional. How to interpret failures of this condition, one of Error, Warning, Info"
        },
        "type": {
          "type": "string",
          "description": "Required. Type is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/master/docs/spec/errors.md#error-conditions-and-reporting Types include: * \"Completed\": True when the Job has successfully completed. * \"Started\": True when the Job has successfully started running. * \"ResourcesAvailable\": True when underlying resources have been provisioned."
        }
      },
      "id": "JobCondition"
    },
    "EnvVarSource": {
      "properties": {
        "secretKeyRef": {
          "$ref": "SecretKeySelector",
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported Selects a key of a secret in the pod's namespace +optional"
        },
        "configMapKeyRef": {
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported Selects a key of a ConfigMap. +optional",
          "$ref": "ConfigMapKeySelector"
        }
      },
      "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported EnvVarSource represents a source for the value of an EnvVar.",
      "id": "EnvVarSource",
      "type": "object"
    },
    "InstanceStatus": {
      "description": "Instance represents the status of an instance of a Job.",
      "type": "object",
      "id": "InstanceStatus",
      "properties": {
        "completionTime": {
          "format": "google-datetime",
          "description": "Optional. Represents time when the instance was completed. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC. +optional",
          "type": "string"
        },
        "restarted": {
          "description": "Optional. The number of times this instance was restarted. Instances are restarted according the restartPolicy configured in the Job template. +optional",
          "format": "int32",
          "type": "integer"
        },
        "lastExitCode": {
          "type": "integer",
          "description": "Optional. Last exit code seen for this instance. +optional",
          "format": "int32"
        },
        "failed": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of times this instance exited with code \u003e 0; +optional"
        },
        "succeeded": {
          "format": "int32",
          "description": "Optional. The number of times this instance exited with code == 0. +optional",
          "type": "integer"
        },
        "index": {
          "type": "integer",
          "description": "Required. Index of the instance, unique per Job, and beginning at 0.",
          "format": "int32"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Represents time when the instance was created by the job controller. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC. +optional",
          "type": "string"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "title": "Cloud Run Admin API",
  "fullyEncodeReservedExpansion": true,
  "version_module": true
}
