{
  "canonicalName": "Cloud Run",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "id": "run:v1",
  "baseUrl": "https://run.googleapis.com/",
  "version": "v1",
  "protocol": "rest",
  "title": "Cloud Run Admin API",
  "rootUrl": "https://run.googleapis.com/",
  "batchPath": "batch",
  "name": "run",
  "resources": {
    "namespaces": {
      "resources": {
        "tasks": {
          "methods": {
            "get": {
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks/{tasksId}",
              "id": "run.namespaces.tasks.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/tasks/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the task to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "response": {
                "$ref": "Task"
              },
              "description": "Get information about a task.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListTasksResponse"
              },
              "description": "List tasks.",
              "parameters": {
                "includeUninitialized": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "resourceVersion": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The namespace from which the tasks should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string"
                },
                "labelSelector": {
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn. For example, to list all tasks of execution \"foo\" in succeeded state: `run.googleapis.com/execution=foo,run.googleapis.com/runningState=Succeeded`. Supported states are: * `Pending`: Initial state of all tasks. The task has not yet started but eventually will. * `Running`: Container instances for this task are running or will be running shortly. * `Succeeded`: No more container instances to run for the task, and the last attempt succeeded. * `Failed`: No more container instances to run for the task, and the last attempt failed. This task has run out of retry attempts. * `Cancelled`: Task was running but got stopped because its parent execution has been aborted. * `Abandoned`: The task has not yet started and never will because its parent execution has been aborted.",
                  "type": "string",
                  "location": "query"
                },
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Optional encoded string to continue paging."
                },
                "limit": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "type": "integer"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks",
              "path": "apis/run.googleapis.com/v1/{+parent}/tasks",
              "httpMethod": "GET",
              "id": "run.namespaces.tasks.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "jobs": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Job"
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the job to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "run.namespaces.jobs.get",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}",
              "description": "Get information about a job."
            },
            "create": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Job"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "run.namespaces.jobs.create",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs",
              "path": "apis/run.googleapis.com/v1/{+parent}/jobs",
              "request": {
                "$ref": "Job"
              },
              "description": "Create a job.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The namespace in which the job should be created. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "run": {
              "description": "Trigger creation of a new execution of this job.",
              "id": "run.namespaces.jobs.run",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "RunJobRequest"
              },
              "httpMethod": "POST",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}:run",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "description": "Required. The name of the job to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Execution"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}:run"
            },
            "list": {
              "response": {
                "$ref": "ListJobsResponse"
              },
              "id": "run.namespaces.jobs.list",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs",
              "parameters": {
                "limit": {
                  "format": "int32",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "type": "integer",
                  "location": "query"
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string"
                },
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "fieldSelector": {
                  "type": "string",
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query"
                },
                "continue": {
                  "location": "query",
                  "description": "Optional. Optional encoded string to continue paging.",
                  "type": "string"
                },
                "includeUninitialized": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "resourceVersion": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The namespace from which the jobs should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+parent}/jobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List jobs.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "replaceJob": {
              "response": {
                "$ref": "Job"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}",
              "description": "Replace a job. Only the spec and metadata labels and annotations are modifiable. After the Replace request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "httpMethod": "PUT",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the job being replaced. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "request": {
                "$ref": "Job"
              },
              "id": "run.namespaces.jobs.replaceJob"
            },
            "delete": {
              "id": "run.namespaces.jobs.delete",
              "parameters": {
                "propagationPolicy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information."
                },
                "name": {
                  "location": "path",
                  "description": "Required. The name of the job to delete. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "apiVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Cloud Run currently ignores this parameter."
                },
                "kind": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter."
                }
              },
              "description": "Delete a job.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "response": {
                "$ref": "Status"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}"
            }
          }
        },
        "domainmappings": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "request": {
                "$ref": "DomainMapping"
              },
              "id": "run.namespaces.domainmappings.create",
              "httpMethod": "POST",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "response": {
                "$ref": "DomainMapping"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Create a new domain mapping.",
              "parameters": {
                "dryRun": {
                  "type": "string",
                  "location": "query",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The namespace in which the domain mapping should be created. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "delete": {
              "id": "run.namespaces.domainmappings.delete",
              "parameters": {
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/architecture/garbage-collection/ for more information.",
                  "type": "string",
                  "location": "query"
                },
                "apiVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the domain mapping to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "location": "path"
                },
                "dryRun": {
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query"
                }
              },
              "httpMethod": "DELETE",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "description": "Delete a domain mapping.",
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Status"
              }
            },
            "get": {
              "id": "run.namespaces.domainmappings.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Get information about a domain mapping.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the domain mapping to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "response": {
                "$ref": "DomainMapping"
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The namespace from which the domain mappings should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$"
                },
                "fieldSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                },
                "continue": {
                  "description": "Optional. Encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "limit": {
                  "description": "Optional. The maximum number of records that should be returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "watch": {
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean"
                },
                "labelSelector": {
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query"
                }
              },
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "run.namespaces.domainmappings.list",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "List all domain mappings."
            }
          }
        },
        "routes": {
          "methods": {
            "list": {
              "parameters": {
                "watch": {
                  "location": "query",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "type": "boolean"
                },
                "limit": {
                  "format": "int32",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "location": "query",
                  "type": "integer"
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean"
                },
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The namespace from which the routes should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+$"
                },
                "continue": {
                  "description": "Optional. Encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListRoutesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List routes.",
              "path": "apis/serving.knative.dev/v1/{+parent}/routes",
              "id": "run.namespaces.routes.list",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/serving.knative.dev/v1/{+name}",
              "id": "run.namespaces.routes.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/routes/[^/]+$",
                  "description": "The name of the route to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "Get information about a route.",
              "response": {
                "$ref": "Route"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes/{routesId}"
            }
          }
        },
        "authorizeddomains": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/domains.cloudrun.com/v1/{+parent}/authorizeddomains",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/authorizeddomains",
              "description": "List authorized domains.",
              "httpMethod": "GET",
              "id": "run.namespaces.authorizeddomains.list",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum results to return per page.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results."
                },
                "parent": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "executions": {
          "methods": {
            "list": {
              "parameters": {
                "watch": {
                  "type": "boolean",
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The namespace from which the executions should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string"
                },
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Optional encoded string to continue paging."
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string"
                },
                "fieldSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "limit": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of the records that should be returned."
                },
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "includeUninitialized": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "httpMethod": "GET",
              "description": "List executions.",
              "parameterOrder": [
                "parent"
              ],
              "id": "run.namespaces.executions.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions",
              "response": {
                "$ref": "ListExecutionsResponse"
              },
              "path": "apis/run.googleapis.com/v1/{+parent}/executions"
            },
            "delete": {
              "id": "run.namespaces.executions.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "propagationPolicy": {
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the execution to delete. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                },
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter."
                },
                "kind": {
                  "location": "query",
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string"
                }
              },
              "path": "apis/run.googleapis.com/v1/{+name}",
              "response": {
                "$ref": "Status"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Delete an execution.",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}",
              "httpMethod": "DELETE"
            },
            "cancel": {
              "response": {
                "$ref": "Execution"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the execution to cancel. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "CancelExecutionRequest"
              },
              "path": "apis/run.googleapis.com/v1/{+name}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "run.namespaces.executions.cancel",
              "description": "Cancel an execution.",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}:cancel"
            },
            "get": {
              "description": "Get information about an execution.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the execution to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "id": "run.namespaces.executions.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Execution"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}"
            }
          }
        },
        "services": {
          "methods": {
            "get": {
              "description": "Gets information about a service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/serving.knative.dev/v1/{+name}",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "parameters": {
                "name": {
                  "description": "Required. The fully qualified name of the service to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Service"
              },
              "id": "run.namespaces.services.get",
              "httpMethod": "GET"
            },
            "create": {
              "response": {
                "$ref": "Service"
              },
              "httpMethod": "POST",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "type": "string",
                  "location": "path"
                },
                "dryRun": {
                  "location": "query",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                }
              },
              "description": "Creates a new Service. Service creation will trigger a new deployment. Use GetService, and check service.status to determine if the Service is ready.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "id": "run.namespaces.services.create",
              "request": {
                "$ref": "Service"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "replaceService": {
              "request": {
                "$ref": "Service"
              },
              "response": {
                "$ref": "Service"
              },
              "description": "Replaces a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "parameters": {
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "Required. The fully qualified name of the service to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.services.replaceService",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PUT"
            },
            "list": {
              "description": "Lists services for the given project and region.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "response": {
                "$ref": "ListServicesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "resourceVersion": {
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "type": "string"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "pattern": "^namespaces/[^/]+$"
                },
                "fieldSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run."
                },
                "continue": {
                  "type": "string",
                  "location": "query",
                  "description": "Encoded string to continue paging."
                },
                "limit": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of records that should be returned."
                },
                "watch": {
                  "type": "boolean",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query"
                }
              },
              "id": "run.namespaces.services.list"
            },
            "delete": {
              "description": "Deletes the provided service. This will cause the Service to stop serving traffic and will delete all associated Revisions.",
              "parameters": {
                "kind": {
                  "type": "string",
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run."
                },
                "dryRun": {
                  "location": "query",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string"
                },
                "propagationPolicy": {
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "description": "Required. The fully qualified name of the service to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                  "location": "path",
                  "type": "string"
                },
                "apiVersion": {
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Status"
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "id": "run.namespaces.services.delete",
              "httpMethod": "DELETE"
            }
          }
        },
        "configurations": {
          "methods": {
            "list": {
              "description": "List configurations.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "id": "run.namespaces.configurations.list",
              "parameters": {
                "fieldSelector": {
                  "type": "string",
                  "description": "Not supported by Cloud Run.",
                  "location": "query"
                },
                "resourceVersion": {
                  "description": "Not supported by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "watch": {
                  "description": "Not supported by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "continue": {
                  "type": "string",
                  "description": "Optional. Encoded string to continue paging.",
                  "location": "query"
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "description": "Not supported by Cloud Run.",
                  "location": "query"
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "The namespace from which the configurations should be listed. For Cloud Run, replace {namespace_id} with the project ID or number.",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path"
                },
                "limit": {
                  "type": "integer",
                  "description": "Optional. The maximum number of the records that should be returned.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "path": "apis/serving.knative.dev/v1/{+parent}/configurations",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Get information about a configuration.",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations/{configurationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the configuration to retrieve. For Cloud Run, replace {namespace_id} with the project ID or number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/configurations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "GET",
              "id": "run.namespaces.configurations.get"
            }
          }
        },
        "revisions": {
          "methods": {
            "list": {
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/serving.knative.dev/v1/{+parent}/revisions",
              "response": {
                "$ref": "ListRevisionsResponse"
              },
              "id": "run.namespaces.revisions.list",
              "description": "List revisions.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "limit": {
                  "type": "integer",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "format": "int32",
                  "location": "query"
                },
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run."
                },
                "includeUninitialized": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Not currently used by Cloud Run."
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "continue": {
                  "description": "Optional. Encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+$"
                },
                "fieldSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "type": "string"
                }
              }
            },
            "get": {
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "httpMethod": "GET",
              "id": "run.namespaces.revisions.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "description": "The name of the revision to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Get information about a revision.",
              "response": {
                "$ref": "Revision"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Delete a revision.",
              "parameters": {
                "kind": {
                  "type": "string",
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "name": {
                  "location": "path",
                  "description": "The name of the revision to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background.",
                  "location": "query",
                  "type": "string"
                },
                "apiVersion": {
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "run.namespaces.revisions.delete",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "response": {
                "$ref": "Status"
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "authorizeddomains": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/authorizeddomains",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List authorized domains.",
              "id": "run.projects.authorizeddomains.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/authorizeddomains"
            }
          }
        },
        "locations": {
          "resources": {
            "domainmappings": {
              "methods": {
                "list": {
                  "parameters": {
                    "includeUninitialized": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Not currently used by Cloud Run."
                    },
                    "parent": {
                      "description": "Required. The namespace from which the domain mappings should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "watch": {
                      "type": "boolean",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "resourceVersion": {
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "type": "string"
                    },
                    "labelSelector": {
                      "type": "string",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "location": "query"
                    },
                    "fieldSelector": {
                      "type": "string",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "continue": {
                      "type": "string",
                      "description": "Optional. Encoded string to continue paging.",
                      "location": "query"
                    },
                    "limit": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of records that should be returned."
                    }
                  },
                  "response": {
                    "$ref": "ListDomainMappingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "run.projects.locations.domainmappings.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "path": "v1/{+parent}/domainmappings",
                  "httpMethod": "GET",
                  "description": "List all domain mappings."
                },
                "create": {
                  "id": "run.projects.locations.domainmappings.create",
                  "request": {
                    "$ref": "DomainMapping"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/domainmappings",
                  "parameters": {
                    "dryRun": {
                      "location": "query",
                      "type": "string",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The namespace in which the domain mapping should be created. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Create a new domain mapping.",
                  "response": {
                    "$ref": "DomainMapping"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "description": "Delete a domain mapping.",
                  "id": "run.projects.locations.domainmappings.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the domain mapping to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "type": "string"
                    },
                    "apiVersion": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query",
                      "type": "string"
                    },
                    "kind": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string",
                      "location": "query"
                    },
                    "propagationPolicy": {
                      "type": "string",
                      "location": "query",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/architecture/garbage-collection/ for more information."
                    },
                    "dryRun": {
                      "type": "string",
                      "location": "query",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Status"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Get information about a domain mapping.",
                  "response": {
                    "$ref": "DomainMapping"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "run.projects.locations.domainmappings.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                      "description": "Required. The name of the domain mapping to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "revisions": {
              "methods": {
                "list": {
                  "parameters": {
                    "labelSelector": {
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "type": "string"
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "continue": {
                      "location": "query",
                      "description": "Optional. Encoded string to continue paging.",
                      "type": "string"
                    },
                    "limit": {
                      "location": "query",
                      "description": "Optional. The maximum number of records that should be returned.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "resourceVersion": {
                      "type": "string",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/revisions",
                  "description": "List revisions.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.revisions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions",
                  "response": {
                    "$ref": "ListRevisionsResponse"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Revision"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the revision to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "description": "Get information about a revision.",
                  "id": "run.projects.locations.revisions.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "run.projects.locations.revisions.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Status"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "apiVersion": {
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query"
                    },
                    "dryRun": {
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "location": "query",
                      "type": "string"
                    },
                    "kind": {
                      "type": "string",
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the revision to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "required": true
                    },
                    "propagationPolicy": {
                      "type": "string",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a revision."
                }
              }
            },
            "services": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Service"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "run.projects.locations.services.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/services",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "response": {
                    "$ref": "Service"
                  },
                  "description": "Creates a new Service. Service creation will trigger a new deployment. Use GetService, and check service.status to determine if the Service is ready.",
                  "parameters": {
                    "dryRun": {
                      "location": "query",
                      "type": "string",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "dryRun": {
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "location": "query",
                      "type": "string"
                    },
                    "kind": {
                      "type": "string",
                      "description": "Not supported, and ignored by Cloud Run.",
                      "location": "query"
                    },
                    "apiVersion": {
                      "description": "Not supported, and ignored by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The fully qualified name of the service to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "propagationPolicy": {
                      "description": "Not supported, and ignored by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "id": "run.projects.locations.services.delete",
                  "response": {
                    "$ref": "Status"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the provided service. This will cause the Service to stop serving traffic and will delete all associated Revisions.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "replaceService": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Replaces a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
                  "id": "run.projects.locations.services.replaceService",
                  "request": {
                    "$ref": "Service"
                  },
                  "httpMethod": "PUT",
                  "parameters": {
                    "dryRun": {
                      "type": "string",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "Required. The fully qualified name of the service to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Service"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Service"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "run.projects.locations.services.get",
                  "description": "Gets information about a service.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The fully qualified name of the service to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "path": "v1/{+resource}:setIamPolicy",
                  "description": "Sets the IAM Access control policy for the specified Service. Overwrites any existing policy.",
                  "id": "run.projects.locations.services.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:setIamPolicy"
                },
                "getIamPolicy": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy",
                  "httpMethod": "GET",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    },
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.services.getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Gets the IAM Access Control policy currently in effect for the given Cloud Run service. This result does not include any inherited policies."
                },
                "testIamPermissions": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call.",
                  "id": "run.projects.locations.services.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "run.projects.locations.services.list",
                  "parameters": {
                    "resourceVersion": {
                      "location": "query",
                      "description": "Not supported, and ignored by Cloud Run.",
                      "type": "string"
                    },
                    "watch": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Not supported, and ignored by Cloud Run."
                    },
                    "limit": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32"
                    },
                    "includeUninitialized": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Not supported, and ignored by Cloud Run."
                    },
                    "labelSelector": {
                      "type": "string",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "location": "query"
                    },
                    "continue": {
                      "type": "string",
                      "location": "query",
                      "description": "Encoded string to continue paging."
                    },
                    "parent": {
                      "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "fieldSelector": {
                      "type": "string",
                      "description": "Not supported, and ignored by Cloud Run.",
                      "location": "query"
                    }
                  },
                  "description": "Lists services for the given project and region.",
                  "path": "v1/{+parent}/services",
                  "response": {
                    "$ref": "ListServicesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services"
                }
              }
            },
            "authorizeddomains": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/authorizeddomains",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizeddomains",
                  "id": "run.projects.locations.authorizeddomains.list",
                  "parameters": {
                    "parent": {
                      "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum results to return per page."
                    },
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListAuthorizedDomainsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "List authorized domains."
                }
              }
            },
            "routes": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListRoutesResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes",
                  "id": "run.projects.locations.routes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/routes",
                  "description": "List routes.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of records that should be returned.",
                      "location": "query"
                    },
                    "labelSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                    },
                    "includeUninitialized": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Not currently used by Cloud Run."
                    },
                    "continue": {
                      "description": "Optional. Encoded string to continue paging.",
                      "type": "string",
                      "location": "query"
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "type": "string",
                      "location": "query"
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "The namespace from which the routes should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "id": "run.projects.locations.routes.get",
                  "description": "Get information about a route.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes/{routesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Route"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the route to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/routes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "configurations": {
              "methods": {
                "list": {
                  "id": "run.projects.locations.configurations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations",
                  "parameters": {
                    "limit": {
                      "format": "int32",
                      "description": "Optional. The maximum number of the records that should be returned.",
                      "type": "integer",
                      "location": "query"
                    },
                    "continue": {
                      "type": "string",
                      "description": "Optional. Encoded string to continue paging.",
                      "location": "query"
                    },
                    "includeUninitialized": {
                      "location": "query",
                      "description": "Not supported by Cloud Run.",
                      "type": "boolean"
                    },
                    "resourceVersion": {
                      "type": "string",
                      "description": "Not supported by Cloud Run.",
                      "location": "query"
                    },
                    "fieldSelector": {
                      "type": "string",
                      "description": "Not supported by Cloud Run.",
                      "location": "query"
                    },
                    "watch": {
                      "type": "boolean",
                      "description": "Not supported by Cloud Run.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The namespace from which the configurations should be listed. For Cloud Run, replace {namespace_id} with the project ID or number.",
                      "type": "string"
                    },
                    "labelSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                    }
                  },
                  "response": {
                    "$ref": "ListConfigurationsResponse"
                  },
                  "description": "List configurations.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/configurations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Configuration"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/configurations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the configuration to retrieve. For Cloud Run, replace {namespace_id} with the project ID or number."
                    }
                  },
                  "description": "Get information about a configuration.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations/{configurationsId}",
                  "id": "run.projects.locations.configurations.get"
                }
              }
            },
            "jobs": {
              "methods": {
                "getIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:getIamPolicy",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32"
                    },
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:getIamPolicy",
[...]
