{
  "servicePath": "",
  "discoveryVersion": "v1",
  "rootUrl": "https://run.googleapis.com/",
  "documentationLink": "https://cloud.google.com/run/",
  "schemas": {
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2RevisionScaling": {
      "properties": {
        "maxInstanceCount": {
          "format": "int32",
          "description": "Maximum number of serving instances that this resource should have.",
          "type": "integer"
        },
        "minInstanceCount": {
          "description": "Minimum number of serving instances that this resource should have.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Settings for revision-level scaling settings.",
      "type": "object",
      "id": "GoogleCloudRunV2RevisionScaling"
    },
    "GoogleCloudRunV2HTTPGetAction": {
      "id": "GoogleCloudRunV2HTTPGetAction",
      "type": "object",
      "description": "HTTPGetAction describes an action based on HTTP Get requests.",
      "properties": {
        "port": {
          "format": "int32",
          "description": "Port number to access on the container. Must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort.",
          "type": "integer"
        },
        "httpHeaders": {
          "type": "array",
          "description": "Custom headers to set in the request. HTTP allows repeated headers.",
          "items": {
            "$ref": "GoogleCloudRunV2HTTPHeader"
          }
        },
        "path": {
          "description": "Path to access on the HTTP server. Defaults to '/'.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRunV2Job": {
      "type": "object",
      "id": "GoogleCloudRunV2Job",
      "description": "Job represents the configuration of a single job, which references a container image that is run to completion.",
      "properties": {
        "deleteTime": {
          "description": "Output only. The deletion time.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "clientVersion": {
          "type": "string",
          "description": "Arbitrary version identifier for the API client."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server assigned unique identifier for the Execution. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The fully qualified name of this Job. Format: projects/{project}/locations/{location}/jobs/{job}"
        },
        "terminalCondition": {
          "$ref": "GoogleCloudRunV2Condition",
          "readOnly": true,
          "description": "Output only. The Condition of this Job, containing its readiness status, and detailed error information in case it did not reach the desired state."
        },
        "client": {
          "description": "Arbitrary identifier for the API client.",
          "type": "string"
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted.",
          "format": "google-datetime",
          "type": "string"
        },
        "launchStage": {
          "description": "The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed. Set the launch stage to a preview stage on input to allow use of preview features in that stage. On read (or output), describes whether the resource uses preview features. For example, if ALPHA is provided as input, but only BETA and GA-level features are used, this field will be BETA on output.",
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
        },
        "template": {
          "description": "Required. The template used to create executions for this Job.",
          "$ref": "GoogleCloudRunV2ExecutionTemplate"
        },
        "binaryAuthorization": {
          "description": "Settings for the Binary Authorization feature.",
          "$ref": "GoogleCloudRunV2BinaryAuthorization"
        },
        "executionCount": {
          "readOnly": true,
          "description": "Output only. Number of executions created for this job.",
          "format": "int32",
          "type": "integer"
        },
        "creator": {
          "description": "Output only. Email address of the authenticated creator.",
          "readOnly": true,
          "type": "string"
        },
        "observedGeneration": {
          "description": "Output only. The generation of this Job. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected on new resources. All system annotations in v1 now have a corresponding field in v2 Job. This field follows Kubernetes annotations' namespacing, limits, and rules."
        },
        "latestCreatedExecution": {
          "readOnly": true,
          "$ref": "GoogleCloudRunV2ExecutionReference",
          "description": "Output only. Name of the last created execution."
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Returns true if the Job is currently being acted upon by the system to bring it into the desired state. When a new Job is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the Job to the desired state. This process is called reconciliation. While reconciliation is in process, `observed_generation` and `latest_succeeded_execution`, will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the state matches the Job, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `observed_generation` and `generation`, `latest_succeeded_execution` and `latest_created_execution`. If reconciliation failed, `observed_generation` and `latest_succeeded_execution` will have the state of the last succeeded execution or empty for newly created Job. Additional information on the failure can be found in `terminal_condition` and `conditions`.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "description": "Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 Job.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "generation": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation time.",
          "type": "string",
          "readOnly": true
        },
        "conditions": {
          "description": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the Job does not reach its desired state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last-modified time."
        },
        "lastModifier": {
          "description": "Output only. Email address of the last authenticated modifier.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      }
    },
    "GoogleCloudRunV2ExecutionReference": {
      "id": "GoogleCloudRunV2ExecutionReference",
      "properties": {
        "completionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation timestamp of the execution."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation timestamp of the execution."
        },
        "name": {
          "type": "string",
          "description": "Name of the execution."
        }
      },
      "description": "Reference to an Execution. Use /Executions.GetExecution with the given name to get full execution including the latest status.",
      "type": "object"
    },
    "GoogleCloudRunV2Service": {
      "properties": {
        "client": {
          "type": "string",
          "description": "Arbitrary identifier for the API client."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 Service."
        },
        "launchStage": {
          "type": "string",
          "description": "The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed. Set the launch stage to a preview stage on input to allow use of preview features in that stage. On read (or output), describes whether the resource uses preview features. For example, if ALPHA is provided as input, but only BETA and GA-level features are used, this field will be BETA on output.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ]
        },
        "latestReadyRevision": {
          "description": "Output only. Name of the latest revision that is serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true,
          "type": "string"
        },
        "generation": {
          "format": "int64",
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server assigned unique identifier for the trigger. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
        },
        "customAudiences": {
          "description": "One or more custom audiences that you want this service to support. Specify each custom audience as the full URL in a string. The custom audiences are encoded in the token and used to authenticate requests. For more information, see https://cloud.google.com/run/docs/configuring/custom-audiences.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conditions": {
          "description": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the Service does not reach its Serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          }
        },
        "observedGeneration": {
          "description": "Output only. The generation of this Service currently serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "ingress": {
          "description": "Provides the ingress settings for this Service. On output, returns the currently observed ingress settings, or INGRESS_TRAFFIC_UNSPECIFIED if no revision is active.",
          "enumDescriptions": [
            "Unspecified",
            "All inbound traffic is allowed.",
            "Only internal traffic is allowed.",
            "Both internal and Google Cloud Load Balancer traffic is allowed."
          ],
          "type": "string",
          "enum": [
            "INGRESS_TRAFFIC_UNSPECIFIED",
            "INGRESS_TRAFFIC_ALL",
            "INGRESS_TRAFFIC_INTERNAL_ONLY",
            "INGRESS_TRAFFIC_INTERNAL_LOAD_BALANCER"
          ]
        },
        "etag": {
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "readOnly": true,
          "type": "string"
        },
        "terminalCondition": {
          "$ref": "GoogleCloudRunV2Condition",
          "description": "Output only. The Condition of this Service, containing its readiness status, and detailed error information in case it did not reach a serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true
        },
        "binaryAuthorization": {
          "description": "Settings for the Binary Authorization feature.",
          "$ref": "GoogleCloudRunV2BinaryAuthorization"
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the authenticated creator."
        },
        "latestCreatedRevision": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the last created revision. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "lastModifier": {
          "description": "Output only. Email address of the last authenticated modifier.",
          "readOnly": true,
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The deletion time.",
          "format": "google-datetime"
        },
        "uri": {
          "type": "string",
          "description": "Output only. The main URI in which this Service is serving traffic.",
          "readOnly": true
        },
        "description": {
          "description": "User-provided description of the Service. This field currently has a 512-character limit.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected in new resources. All system annotations in v1 now have a corresponding field in v2 Service. This field follows Kubernetes annotations' namespacing, limits, and rules.",
          "type": "object"
        },
        "traffic": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2TrafficTarget"
          },
          "description": "Specifies how to distribute traffic over a collection of Revisions belonging to the Service. If traffic is empty or not provided, defaults to 100% traffic to the latest `Ready` Revision."
        },
        "name": {
          "type": "string",
          "description": "The fully qualified name of this Service. In CreateServiceRequest, this field is ignored, and instead composed from CreateServiceRequest.parent and CreateServiceRequest.service_id. Format: projects/{project}/locations/{location}/services/{service_id}"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last-modified time.",
          "type": "string",
          "format": "google-datetime"
        },
        "clientVersion": {
          "type": "string",
          "description": "Arbitrary version identifier for the API client."
        },
        "trafficStatuses": {
          "items": {
            "$ref": "GoogleCloudRunV2TrafficTargetStatus"
          },
          "type": "array",
          "description": "Output only. Detailed status information for corresponding traffic targets. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation time.",
          "type": "string",
          "readOnly": true
        },
        "template": {
          "$ref": "GoogleCloudRunV2RevisionTemplate",
          "description": "Required. The template used to create revisions for this Service."
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted.",
          "format": "google-datetime"
        },
        "reconciling": {
          "description": "Output only. Returns true if the Service is currently being acted upon by the system to bring it into the desired state. When a new Service is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the Service to the desired serving state. This process is called reconciliation. While reconciliation is in process, `observed_generation`, `latest_ready_revison`, `traffic_statuses`, and `uri` will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the serving state matches the Service, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `traffic` and `traffic_statuses`, `observed_generation` and `generation`, `latest_ready_revision` and `latest_created_revision`. If reconciliation failed, `traffic_statuses`, `observed_generation`, and `latest_ready_revision` will have the state of the last serving revision, or empty for newly created Services. Additional information on the failure can be found in `terminal_condition` and `conditions`.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2Service",
      "description": "Service acts as a top-level container that manages a set of configurations and revision templates which implement a network service. Service exists to provide a singular abstraction which can be access controlled, reasoned about, and which encapsulates software lifecycle decisions such as rollout policy and team resource ownership."
    },
    "GoogleCloudRunV2EnvVar": {
      "description": "EnvVar represents an environment variable present in a Container.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Variable references $(VAR_NAME) are expanded using the previous defined environment variables in the container and any route environment variables. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. Defaults to \"\", and the maximum length is 32768 bytes.",
          "type": "string"
        },
        "valueSource": {
          "$ref": "GoogleCloudRunV2EnvVarSource",
          "description": "Source for the environment variable's value."
        },
        "name": {
          "description": "Required. Name of the environment variable. Must be a C_IDENTIFIER, and must not exceed 32768 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2EnvVar"
    },
    "GoogleCloudRunV2Container": {
      "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments can be supplied by the system to the container at runtime.",
      "id": "GoogleCloudRunV2Container",
      "type": "object",
      "properties": {
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2VolumeMount"
          },
          "description": "Volume to mount into the container's filesystem."
        },
        "image": {
          "description": "Required. Name of the container image in Dockerhub, Google Artifact Registry, or Google Container Registry. If the host is not provided, Dockerhub is assumed.",
          "type": "string"
        },
        "livenessProbe": {
          "description": "Periodic probe of container liveness. Container will be restarted if the probe fails.",
          "$ref": "GoogleCloudRunV2Probe"
        },
        "command": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided."
        },
        "dependsOn": {
          "description": "Container names which must start before this container.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "env": {
          "description": "List of environment variables to set in the container.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2EnvVar"
          }
        },
        "resources": {
          "$ref": "GoogleCloudRunV2ResourceRequirements",
          "description": "Compute Resource requirements by this container."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Arguments to the entrypoint. The docker image's CMD is used if this is not provided.",
          "type": "array"
        },
        "startupProbe": {
          "description": "Startup probe of application within the container. All other probes are disabled if a startup probe is provided, until it succeeds. Container will not be added to service endpoints if the probe fails.",
          "$ref": "GoogleCloudRunV2Probe"
        },
        "workingDir": {
          "type": "string",
          "description": "Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image."
        },
        "name": {
          "type": "string",
          "description": "Name of the container specified as a DNS_LABEL (RFC 1123)."
        },
        "ports": {
          "description": "List of ports to expose from the container. Only a single port can be specified. The specified ports must be listening on all interfaces (0.0.0.0) within the container to be accessible. If omitted, a port number will be chosen and passed to the container through the PORT environment variable for the container to listen on.",
          "items": {
            "$ref": "GoogleCloudRunV2ContainerPort"
          },
          "type": "array"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "GoogleCloudRunV2EmptyDirVolumeSource": {
      "properties": {
        "medium": {
          "enumDescriptions": [
            "When not specified, falls back to the default implementation which is currently in memory (this may change over time).",
            "Explicitly set the EmptyDir to be in memory. Uses tmpfs."
          ],
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "MEMORY"
          ],
          "description": "The medium on which the data is stored. Acceptable values today is only MEMORY or none. When none, the default will currently be backed by memory but could change over time. +optional"
        },
        "sizeLimit": {
          "description": "Limit on the storage usable by this EmptyDir volume. The size limit is also applicable for memory medium. The maximum usage on memory medium EmptyDir would be the minimum value between the SizeLimit specified here and the sum of memory limits of all containers in a pod. This field's values are of the 'Quantity' k8s type: https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/quantity/. The default is nil which means that the limit is undefined. More info: https://kubernetes.io/docs/concepts/storage/volumes/#emptydir",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2EmptyDirVolumeSource",
      "description": "Ephemeral storage which can be backed by real disks (HD, SSD), network storage or memory (i.e. tmpfs). For now only in memory (tmpfs) is supported. It is ephemeral in the sense that when the sandbox is taken down, the data is destroyed with it (it does not persist across sandbox runs).",
      "type": "object"
    },
    "GoogleCloudRunV2ExecutionTemplate": {
      "description": "ExecutionTemplate describes the data an execution should have when created from a template.",
      "id": "GoogleCloudRunV2ExecutionTemplate",
      "type": "object",
      "properties": {
        "template": {
          "description": "Required. Describes the task(s) that will be created when executing an execution.",
          "$ref": "GoogleCloudRunV2TaskTemplate"
        },
        "parallelism": {
          "type": "integer",
          "description": "Specifies the maximum desired number of tasks the execution should run at given time. Must be \u003c= task_count. When the job is run, if this field is 0 or unset, the maximum possible value will be used for that execution. The actual number of tasks running in steady state will be less than this number when there are fewer tasks waiting to be completed remaining, i.e. when the work left to do is less than max parallelism.",
          "format": "int32"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system annotations in v1 now have a corresponding field in v2 ExecutionTemplate. This field follows Kubernetes annotations' namespacing, limits, and rules.",
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 ExecutionTemplate."
        },
        "taskCount": {
          "description": "Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution. Defaults to 1.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudRunV2Execution": {
      "id": "GoogleCloudRunV2Execution",
      "description": "Execution represents the configuration of a single execution. A execution an immutable resource that references a container image which is run to completion.",
      "type": "object",
      "properties": {
        "generation": {
          "format": "int64",
          "type": "string",
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "readOnly": true
        },
        "succeededCount": {
          "description": "Output only. The number of tasks which reached phase Succeeded.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "parallelism": {
          "description": "Output only. Specifies the maximum desired number of tasks the execution should run at any given time. Must be \u003c= task_count. The actual number of tasks running in steady state will be less than this number when ((.spec.task_count - .status.successful) \u003c .spec.parallelism), i.e. when the work left to do is less than max parallelism.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "description": "The least stable launch stage needed to create this resource, as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. Note that this value might not be what was used as input. For example, if ALPHA was provided as input in the parent resource, but only BETA and GA-level features are were, this field will be BETA.",
          "type": "string"
        },
        "completionTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents time when the execution was completed. It is not guaranteed to be set in happens-before order across separate operations.",
          "format": "google-datetime"
        },
        "template": {
          "description": "Output only. The template used to create tasks for this execution.",
          "$ref": "GoogleCloudRunV2TaskTemplate",
          "readOnly": true
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "cancelledCount": {
          "description": "Output only. The number of tasks which reached phase Cancelled.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "logUri": {
          "description": "Output only. URI where logs for this execution can be found in Cloud Console.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The unique name of this Execution.",
          "readOnly": true,
          "type": "string"
        },
        "runningCount": {
          "description": "Output only. The number of actively running tasks.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "etag": {
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Server assigned unique identifier for the Execution. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last-modified time.",
          "format": "google-datetime",
          "type": "string"
        },
        "taskCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution."
        },
        "startTime": {
          "description": "Output only. Represents time when the execution started to run. It is not guaranteed to be set in happens-before order across separate operations.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "retriedCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of tasks which have retried at least once.",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object"
        },
        "reconciling": {
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Represents time when the execution was acknowledged by the execution controller. It is not guaranteed to be set in happens-before order across separate operations.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request.",
          "format": "google-datetime",
          "readOnly": true
        },
        "job": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the parent Job."
        },
        "failedCount": {
          "type": "integer",
          "description": "Output only. The number of tasks which reached phase Failed.",
          "readOnly": true,
          "format": "int32"
        },
        "observedGeneration": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The generation of this Execution. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels",
          "readOnly": true,
          "type": "object"
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request.",
          "format": "google-datetime"
        },
        "conditions": {
          "description": "Output only. The Condition of this Execution, containing its readiness status, and detailed error information in case it did not reach the desired state.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "readOnly": true
        }
      }
    },
    "GoogleCloudRunV2TaskAttemptResult": {
      "description": "Result of a task attempt.",
      "properties": {
        "exitCode": {
          "description": "Output only. The exit code of this attempt. This may be unset if the container was unable to exit cleanly with a code due to some other failure. See status field for possible failure details.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "readOnly": true,
          "description": "Output only. The status of this attempt. If the status code is OK, then the attempt succeeded."
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2TaskAttemptResult"
    },
    "GoogleCloudRunV2ListRevisionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token indicating there are more items than page_size. Use it in the next ListRevisions request to continue.",
          "type": "string"
        },
        "revisions": {
          "items": {
            "$ref": "GoogleCloudRunV2Revision"
          },
          "description": "The resulting list of Revisions.",
          "type": "array"
        }
      },
      "id": "GoogleCloudRunV2ListRevisionsResponse",
      "description": "Response message containing a list of Revisions."
    },
    "GoogleCloudRunV2EnvVarSource": {
      "id": "GoogleCloudRunV2EnvVarSource",
      "description": "EnvVarSource represents a source for the value of an EnvVar.",
      "properties": {
        "secretKeyRef": {
          "$ref": "GoogleCloudRunV2SecretKeySelector",
          "description": "Selects a secret and a specific version from Cloud Secret Manager."
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2GRPCAction": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Service is the name of the service to place in the gRPC HealthCheckRequest (see https://github.com/grpc/grpc/blob/master/doc/health-checking.md). If this is not specified, the default behavior is defined by gRPC."
        },
        "port": {
          "description": "Port number of the gRPC service. Number must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "GRPCAction describes an action involving a GRPC port.",
      "id": "GoogleCloudRunV2GRPCAction"
    },
    "GoogleCloudRunV2ListJobsResponse": {
      "properties": {
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Job"
          },
          "description": "The resulting list of Jobs."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating there are more items than page_size. Use it in the next ListJobs request to continue."
        }
      },
      "id": "GoogleCloudRunV2ListJobsResponse",
      "type": "object",
      "description": "Response message containing a list of Jobs."
    },
    "GoogleCloudRunV2Condition": {
      "id": "GoogleCloudRunV2Condition",
      "properties": {
        "message": {
          "description": "Human readable message indicating details about the current status.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity",
            "Error severity.",
            "Warning severity.",
            "Info severity."
          ],
          "description": "How to interpret failures of this condition, one of Error, Warning, Info"
        },
        "lastTransitionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time the condition transitioned from one status to another."
        },
        "revisionReason": {
          "enumDescriptions": [
            "Default value.",
            "Revision in Pending state.",
            "Revision is in Reserve state.",
            "Revision is Retired.",
            "Revision is being retired.",
            "Revision is being recreated.",
            "There was a health check error.",
            "Health check failed due to user error from customized path of the container. System will retry.",
            "A revision with min_instance_count \u003e 0 was created and is reserved, but it was not configured to serve traffic, so it's not live. This can also happen momentarily during traffic migration.",
            "The maximum allowed number of active revisions has been reached.",
            "There was no deployment defined. This value is no longer used, but Services created in older versions of the API might contain this value.",
            "A revision's container has no port specified since the revision is of a manually scaled service with 0 instance count",
            "A revision with min_instance_count \u003e 0 was created and is waiting for enough instances to begin a traffic migration."
          ],
          "type": "string",
          "enum": [
            "REVISION_REASON_UNDEFINED",
            "PENDING",
            "RESERVE",
            "RETIRED",
            "RETIRING",
            "RECREATING",
            "HEALTH_CHECK_CONTAINER_ERROR",
            "CUSTOMIZED_PATH_RESPONSE_PENDING",
            "MIN_INSTANCES_NOT_PROVISIONED",
            "ACTIVE_REVISION_LIMIT_REACHED",
            "NO_DEPLOYMENT",
            "HEALTH_CHECK_SKIPPED",
            "MIN_INSTANCES_WARMING"
          ],
          "description": "A reason for the revision condition."
        },
        "type": {
          "type": "string",
          "description": "type is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/main/docs/spec/errors.md#error-conditions-and-reporting Types common to all resources include: * \"Ready\": True when the Resource is ready."
        },
        "reason": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Reason unknown. Further details will be in message.",
            "Revision creation process failed.",
            "Timed out waiting for completion.",
            "The container image path is incorrect.",
            "Insufficient permissions on the container image.",
            "Container image is not authorized by policy.",
            "Container image policy authorization check failed.",
            "Insufficient permissions on encryption key.",
            "Permission check on encryption key failed.",
            "At least one Access check on secrets failed.",
            "Waiting for operation to complete.",
            "System will retry immediately.",
            "System will retry later; current attempt failed.",
            "An internal error occurred. Further information may be in the message."
          ],
          "description": "A common (service-level) reason for this condition.",
          "enum": [
            "COMMON_REASON_UNDEFINED",
            "UNKNOWN",
            "REVISION_FAILED",
            "PROGRESS_DEADLINE_EXCEEDED",
            "CONTAINER_MISSING",
            "CONTAINER_PERMISSION_DENIED",
            "CONTAINER_IMAGE_UNAUTHORIZED",
            "CONTAINER_IMAGE_AUTHORIZATION_CHECK_FAILED",
            "ENCRYPTION_KEY_PERMISSION_DENIED",
            "ENCRYPTION_KEY_CHECK_FAILED",
            "SECRETS_ACCESS_CHECK_FAILED",
            "WAITING_FOR_OPERATION",
            "IMMEDIATE_RETRY",
            "POSTPONED_RETRY",
            "INTERNAL"
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CONDITION_PENDING",
            "CONDITION_RECONCILING",
            "CONDITION_FAILED",
            "CONDITION_SUCCEEDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Transient state: Reconciliation has not started yet.",
            "Transient state: reconciliation is still in progress.",
            "Terminal state: Reconciliation did not succeed.",
            "Terminal state: Reconciliation completed successfully."
          ],
          "description": "State of the condition."
        },
        "executionReason": {
          "enum": [
            "EXECUTION_REASON_UNDEFINED",
            "JOB_STATUS_SERVICE_POLLING_ERROR",
            "NON_ZERO_EXIT_CODE",
            "CANCELLED",
            "CANCELLING"
          ],
          "enumDescriptions": [
            "Default value.",
            "Internal system error getting execution status. System will retry.",
            "A task reached its retry limit and the last attempt failed due to the user container exiting with a non-zero exit code.",
            "The execution was cancelled by users.",
            "The execution is in the process of being cancelled."
          ],
          "type": "string",
          "description": "A reason for the execution condition."
        }
      },
      "description": "Defines a status condition for a resource.",
      "type": "object"
    },
    "GoogleCloudRunV2Task": {
      "type": "object",
      "description": "Task represents a single run of a container to completion.",
      "id": "GoogleCloudRunV2Task",
      "properties": {
        "completionTime": {
          "readOnly": true,
          "description": "Output only. Represents time when the Task was completed. It is not guaranteed to be set in happens-before order across separate operations.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "description": "Output only. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptionKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek"
        },
        "reconciling": {
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "boolean",
          "readOnly": true
        },
        "annotations": {
          "description": "Output only. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "job": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the parent Job."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Server assigned unique identifier for the Task. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Represents time when the task was created by the job controller. It is not guaranteed to be set in happens-before order across separate operations.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request."
        },
        "conditions": {
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "description": "Output only. The Condition of this Task, containing its readiness status, and detailed error information in case it did not reach the desired state.",
          "type": "array",
          "readOnly": true
        },
        "index": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Index of the Task, unique per execution, and beginning at 0."
        },
        "timeout": {
          "description": "Max allowed time duration the Task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout.",
          "format": "google-duration",
          "type": "string"
        },
        "lastAttemptResult": {
          "$ref": "GoogleCloudRunV2TaskAttemptResult",
          "description": "Output only. Result of the last attempt of this Task.",
          "readOnly": true
        },
        "retried": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of times this Task was retried. Tasks are retried when they fail up to the maxRetries limit."
        },
        "executionEnvironment": {
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ],
          "type": "string",
          "description": "The execution environment being used to host this Task.",
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ]
        },
        "observedGeneration": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The generation of this Task. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "execution": {
          "description": "Output only. The name of the parent Execution.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique name of this Task."
        },
        "vpcAccess": {
          "readOnly": true,
          "description": "Output only. VPC Access configuration to use for this Task. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc.",
          "$ref": "GoogleCloudRunV2VpcAccess"
        },
        "volumes": {
          "description": "A list of Volumes to make available to containers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          },
          "description": "Holds the single container that defines the unit of execution for this task."
        },
        "logUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI where logs for this execution can be found in Cloud Console."
        },
        "generation": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state."
        },
        "startTime": {
          "description": "Output only. Represents time when the task started to run. It is not guaranteed to be set in happens-before order across separate operations.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Email address of the IAM service account associated with the Task of a Job. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account."
        },
        "maxRetries": {
          "description": "Number of retries allowed per Task, before marking this Task failed.",
          "type": "integer",
          "format": "int32"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last-modified time."
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string"
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudRunV2RunJobRequest": {
      "description": "Request message to create a new Execution of a Job.",
      "type": "object",
      "id": "GoogleCloudRunV2RunJobRequest",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Indicates that the request should be validated without actually deleting any resources."
        },
        "etag": {
          "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRunV2BinaryAuthorization": {
      "id": "GoogleCloudRunV2BinaryAuthorization",
      "description": "Settings for Binary Authorization feature.",
      "properties": {
        "useDefault": {
          "description": "If True, indicates to use the default project's binary authorization policy. If False, binary authorization will be disabled.",
          "type": "boolean"
        },
        "breakglassJustification": {
          "description": "If present, indicates to use Breakglass using this justification. If use_default is False, then it must be empty. For more information on breakglass, see https://cloud.google.com/binary-authorization/docs/using-breakglass",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2ListTasksResponse": {
      "type": "object",
      "description": "Response message containing a list of Tasks.",
      "id": "GoogleCloudRunV2ListTasksResponse",
      "properties": {
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Task"
          },
          "description": "The resulting list of Tasks."
        },
        "nextPageToken": {
          "description": "A token indicating there are more items than page_size. Use it in the next ListTasks request to continue.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRunV2Volume": {
      "properties": {
        "cloudSqlInstance": {
          "$ref": "GoogleCloudRunV2CloudSqlInstance",
          "description": "For Cloud SQL volumes, contains the specific instances that should be mounted. Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run."
        },
        "emptyDir": {
          "description": "Ephemeral storage used as a shared volume.",
          "$ref": "GoogleCloudRunV2EmptyDirVolumeSource"
        },
        "secret": {
          "description": "Secret represents a secret that should populate this volume.",
          "$ref": "GoogleCloudRunV2SecretVolumeSource"
        },
        "name": {
          "type": "string",
          "description": "Required. Volume's name."
        }
      },
      "description": "Volume represents a named volume in a container.",
      "id": "GoogleCloudRunV2Volume",
      "type": "object"
    },
    "GoogleCloudRunV2ResourceRequirements": {
      "properties": {
        "limits": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Only ´memory´ and 'cpu' are supported. Notes: * The only supported values for CPU are '1', '2', '4', and '8'. Setting 4 CPU requires at least 2Gi of memory. For more information, go to https://cloud.google.com/run/docs/configuring/cpu. * For supported 'memory' values and syntax, go to https://cloud.google.com/run/docs/configuring/memory-limits"
        },
        "cpuIdle": {
          "description": "Determines whether CPU should be throttled or not outside of requests.",
          "type": "boolean"
        },
        "startupCpuBoost": {
          "description": "Determines whether CPU should be boosted on startup of a new container instance above the requested CPU threshold, this can help reduce cold-start latency.",
          "type": "boolean"
        }
      },
      "description": "ResourceRequirements describes the compute resource requirements.",
      "type": "object",
      "id": "GoogleCloudRunV2ResourceRequirements"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudRunV2HTTPHeader": {
      "id": "GoogleCloudRunV2HTTPHeader",
      "description": "HTTPHeader describes a custom header to be used in HTTP probes",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The header field value"
        },
        "name": {
          "description": "Required. The header field name",
          "type": "string"
        }
      }
    },
    "GoogleCloudRunV2SecretVolumeSource": {
      "id": "GoogleCloudRunV2SecretVolumeSource",
      "type": "object",
      "properties": {
        "defaultMode": {
          "description": "Integer representation of mode bits to use on created files by default. Must be a value between 0000 and 0777 (octal), defaulting to 0444. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set. This might be in conflict with other options that affect the file mode, like fsGroup, and as a result, other mode bits could be set.",
          "type": "integer",
          "format": "int32"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudRunV2VersionToPath"
          },
          "type": "array",
          "description": "If unspecified, the volume will expose a file whose name is the secret, relative to VolumeMount.mount_path. If specified, the key will be used as the version to fetch from Cloud Secret Manager and the path will be the name of the file exposed in the volume. When items are defined, they must specify a path and a version."
        },
        "secret": {
          "type": "string",
          "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret} if the secret is in the same project. projects/{project}/secrets/{secret} if the secret is in a different project."
        }
      },
      "description": "The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secret."
    },
    "GoogleCloudRunV2VersionToPath": {
      "description": "VersionToPath maps a specific version of a secret to a relative file to mount to, relative to VolumeMount's mount_path.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest value, or an integer or a secret alias for a specific version."
        },
        "mode": {
          "description": "Integer octal mode bits to use on this file, must be a value between 01 and 0777 (octal). If 0 or not set, the Volume's default mode will be used. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "type": "integer",
          "format": "int32"
        },
        "path": {
          "type": "string",
          "description": "Required. The relative path of the secret in the container."
        }
      },
      "id": "GoogleCloudRunV2VersionToPath",
      "type": "object"
    },
    "GoogleCloudRunV2TCPSocketAction": {
      "properties": {
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Port number to access on the container. Must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort."
        }
      },
      "description": "TCPSocketAction describes an action based on opening a socket",
      "id": "GoogleCloudRunV2TCPSocketAction",
      "type": "object"
    },
    "GoogleTypeExpr": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2Revision": {
      "properties": {
        "containers": {
          "type": "array",
          "description": "Holds the single container that defines the unit of execution for this Revision.",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          }
        },
        "volumes": {
          "type": "array",
          "description": "A list of Volumes to make available to containers.",
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          }
        },
        "vpcAccess": {
          "$ref": "GoogleCloudRunV2VpcAccess",
          "description": "VPC Access configuration for this Revision. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc."
        },
        "observedGeneration": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The generation of this Revision currently serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server assigned unique identifier for the Revision. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels.",
          "readOnly": true
        },
        "launchStage": {
          "description": "The least stable launch stage needed to create this resource, as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. Note that this value might not be what was used as input. For example, if ALPHA was provided as input in the parent resource, but only BETA and GA-level features are were, this field will be BETA.",
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "etag": {
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string",
          "readOnly": true
        },
        "service": {
          "type": "string",
          "description": "Output only. The name of the parent service.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The unique name of this Revision.",
          "type": "string"
        },
        "sessionAffinity": {
          "description": "Enable session affinity.",
          "type": "boolean"
        },
        "reconciling": {
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Service.reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true,
          "type": "boolean"
        },
        "annotations": {
          "type": "object",
          "description": "Output only. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "conditions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The Condition of this Revision, containing its readiness status, and detailed error information in case it did not reach a serving state.",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          }
        },
        "logUri": {
          "description": "Output only. The Google Console URI to obtain logs for the Revision.",
          "type": "string",
          "readOnly": true
        },
        "maxInstanceRequestConcurrency": {
          "description": "Sets the maximum number of requests that each serving instance can receive.",
          "format": "int32",
          "type": "integer"
        },
        "encryptionKeyRevocationAction": {
          "type": "string",
          "description": "The action to take if the encryption key is revoked.",
          "enum": [
            "ENCRYPTION_KEY_REVOCATION_ACTION_UNSPECIFIED",
            "PREVENT_NEW",
            "SHUTDOWN"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Prevents the creation of new instances.",
            "Shuts down existing instances, and prevents creation of new ones."
          ]
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request."
        },
        "expireTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request."
        },
        "scaling": {
          "$ref": "GoogleCloudRunV2RevisionScaling",
          "description": "Scaling settings for this revision."
        },
        "serviceAccount": {
          "description": "Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has.",
          "type": "string"
        },
        "encryptionKey": {
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek",
          "type": "string"
        },
        "encryptionKeyShutdownDuration": {
          "type": "string",
          "description": "If encryption_key_revocation_action is SHUTDOWN, the duration before shutting down all instances. The minimum increment is 1 hour.",
          "format": "google-duration"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation time.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last-modified time.",
          "readOnly": true
        },
        "executionEnvironment": {
          "description": "The execution environment being used to host this Revision.",
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ],
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ],
          "type": "string"
        },
        "generation": {
          "format": "int64",
          "type": "string",
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "readOnly": true
        },
        "timeout": {
          "description": "Max allowed time for an instance to respond to a request.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "A Revision is an immutable snapshot of code and configuration. A Revision references a container image. Revisions are only created by updates to its parent Service.",
      "id": "GoogleCloudRunV2Revision",
      "type": "object"
    },
    "GoogleCloudRunV2TaskTemplate": {
      "description": "TaskTemplate describes the data a task should have when created from a template.",
      "id": "GoogleCloudRunV2TaskTemplate",
      "properties": {
        "maxRetries": {
          "description": "Number of retries allowed per Task, before marking this Task failed. Defaults to 3.",
          "format": "int32",
          "type": "integer"
        },
        "executionEnvironment": {
          "description": "The execution environment being used to host this Task.",
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ],
          "type": "string"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Max allowed time duration the Task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout. Defaults to 600 seconds."
        },
        "vpcAccess": {
          "$ref": "GoogleCloudRunV2VpcAccess",
          "description": "VPC Access configuration to use for this Task. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc."
        },
        "containers": {
          "description": "Holds the single container that defines the unit of execution for this task.",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          },
          "type": "array"
        },
        "volumes": {
          "type": "array",
          "description": "A list of Volumes to make available to containers.",
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          }
        },
        "encryptionKey": {
          "type": "string",
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek"
        },
        "serviceAccount": {
          "description": "Email address of the IAM service account associated with the Task of a Job. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2VolumeMount": {
      "properties": {
        "name": {
          "description": "Required. This must match the Name of a Volume.",
          "type": "string"
        },
        "mountPath": {
          "type": "string",
          "description": "Required. Path within the container at which the volume should be mounted. Must not contain ':'. For Cloud SQL volumes, it can be left empty, or must otherwise be `/cloudsql`. All instances defined in the Volume will be available as `/cloudsql/[instance]`. For more information on Cloud SQL volumes, visit https://cloud.google.com/sql/docs/mysql/connect-run"
        }
      },
      "description": "VolumeMount describes a mounting of a Volume within a container.",
      "type": "object",
      "id": "GoogleCloudRunV2VolumeMount"
    },
    "GoogleCloudRunV2VpcAccess": {
      "id": "GoogleCloudRunV2VpcAccess",
      "type": "object",
      "properties": {
        "connector": {
          "description": "VPC Access connector name. Format: projects/{project}/locations/{location}/connectors/{connector}, where {project} can be project id or number.",
          "type": "string"
        },
        "egress": {
          "enumDescriptions": [
            "Unspecified",
            "All outbound traffic is routed through the VPC connector.",
            "Only private IP ranges are routed through the VPC connector."
          ],
          "type": "string",
          "enum": [
            "VPC_EGRESS_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_RANGES_ONLY"
          ],
          "description": "Traffic VPC egress settings. If not provided, it defaults to PRIVATE_RANGES_ONLY."
        }
      },
      "description": "VPC Access settings. For more information on creating a VPC Connector, visit https://cloud.google.com/vpc/docs/configure-serverless-vpc-access For information on how to configure Cloud Run with an existing VPC Connector, visit https://cloud.google.com/run/docs/configuring/connecting-vpc"
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
[...]
