{
  "batchPath": "batch",
  "version_module": true,
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/run/",
  "protocol": "rest",
  "ownerName": "Google",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "revision": "20211001",
  "baseUrl": "https://run.googleapis.com/",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "version": "v1alpha1",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "namespaces": {
      "resources": {
        "jobs": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "path": "apis/run.googleapis.com/v1alpha1/{+parent}/jobs",
              "request": {
                "$ref": "Job"
              },
              "response": {
                "$ref": "Job"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "apis/run.googleapis.com/v1alpha1/namespaces/{namespacesId}/jobs",
              "description": "Create a job.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The namespace in which the job should be created. Replace {namespace_id} with the project ID or number.",
                  "type": "string"
                }
              },
              "id": "run.namespaces.jobs.create"
            },
            "delete": {
              "path": "apis/run.googleapis.com/v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "apiVersion": {
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "propagationPolicy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information."
                },
                "name": {
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the job to delete. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "required": true
                },
                "kind": {
                  "location": "query",
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "description": "Delete a job.",
              "id": "run.namespaces.jobs.delete",
              "flatPath": "apis/run.googleapis.com/v1alpha1/namespaces/{namespacesId}/jobs/{jobsId}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "path": "apis/run.googleapis.com/v1alpha1/{+parent}/jobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListJobsResponse"
              },
              "parameters": {
                "includeUninitialized": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Not currently used by Cloud Run."
                },
                "parent": {
                  "description": "Required. The namespace from which the jobs should be listed. Replace {namespace_id} with the project ID or number.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$"
                },
                "labelSelector": {
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string",
                  "location": "query"
                },
                "watch": {
                  "location": "query",
                  "description": "Optional. Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "type": "boolean"
                },
                "continue": {
                  "location": "query",
                  "description": "Optional. Optional encoded string to continue paging.",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Optional. Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "resourceVersion": {
                  "location": "query",
                  "description": "Optional. The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "type": "string"
                },
                "limit": {
                  "type": "integer",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "id": "run.namespaces.jobs.list",
              "description": "List jobs.",
              "flatPath": "apis/run.googleapis.com/v1alpha1/namespaces/{namespacesId}/jobs"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the job to retrieve. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get information about a job.",
              "flatPath": "apis/run.googleapis.com/v1alpha1/namespaces/{namespacesId}/jobs/{jobsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.jobs.get",
              "path": "apis/run.googleapis.com/v1alpha1/{+name}",
              "response": {
                "$ref": "Job"
              }
            }
          }
        }
      }
    }
  },
  "description": "Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API follows the Knative Serving API specification.",
  "name": "run",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Run Admin API",
  "id": "run:v1alpha1",
  "rootUrl": "https://run.googleapis.com/",
  "schemas": {
    "HTTPHeader": {
      "properties": {
        "name": {
          "description": "The header field name",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The header field value"
        }
      },
      "description": "Not supported by Cloud Run HTTPHeader describes a custom header to be used in HTTP probes",
      "id": "HTTPHeader",
      "type": "object"
    },
    "ResourceRequirements": {
      "properties": {
        "limits": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "(Optional) Only memory and CPU are supported. Note: The only supported values for CPU are '1', '2', and '4'. Setting 4 CPU requires at least 2Gi of memory. Limits describes the maximum amount of compute resources allowed. The values of the map is string form of the 'quantity' k8s type: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go",
          "type": "object"
        },
        "requests": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "(Optional) Only memory and CPU are supported. Note: The only supported values for CPU are '1' and '2'. Requests describes the minimum amount of compute resources required. If Requests is omitted for a container, it defaults to Limits if that is explicitly specified, otherwise to an implementation-defined value. The values of the map is string form of the 'quantity' k8s type: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go"
        }
      },
      "type": "object",
      "description": "ResourceRequirements describes the compute resource requirements.",
      "id": "ResourceRequirements"
    },
    "EnvFromSource": {
      "id": "EnvFromSource",
      "description": "Not supported by Cloud Run EnvFromSource represents the source of a set of ConfigMaps",
      "type": "object",
      "properties": {
        "configMapRef": {
          "description": "(Optional) The ConfigMap to select from",
          "$ref": "ConfigMapEnvSource"
        },
        "secretRef": {
          "description": "(Optional) The Secret to select from",
          "$ref": "SecretEnvSource"
        },
        "prefix": {
          "description": "(Optional) An optional identifier to prepend to each key in the ConfigMap. Must be a C_IDENTIFIER.",
          "type": "string"
        }
      }
    },
    "OwnerReference": {
      "type": "object",
      "id": "OwnerReference",
      "properties": {
        "uid": {
          "type": "string",
          "description": "UID of the referent. More info: http://kubernetes.io/docs/user-guide/identifiers#uids"
        },
        "apiVersion": {
          "type": "string",
          "description": "API version of the referent."
        },
        "kind": {
          "type": "string",
          "description": "Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
        },
        "blockOwnerDeletion": {
          "description": "If true, AND if the owner has the \"foregroundDeletion\" finalizer, then the owner cannot be deleted from the key-value store until this reference is removed. Defaults to false. To set this field, a user needs \"delete\" permission of the owner, otherwise 422 (Unprocessable Entity) will be returned. +optional",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Name of the referent. More info: http://kubernetes.io/docs/user-guide/identifiers#names"
        },
        "controller": {
          "description": "If true, this reference points to the managing controller. +optional",
          "type": "boolean"
        }
      },
      "description": "OwnerReference contains enough information to let you identify an owning object. Currently, an owning object must be in the same namespace, so there is no namespace field."
    },
    "InstanceSpec": {
      "id": "InstanceSpec",
      "type": "object",
      "description": "InstanceSpec is a description of an instance.",
      "properties": {
        "restartPolicy": {
          "description": "Optional. Restart policy for all containers within the instance. Allowed values are: - OnFailure: Instances will always be restarted on failure if the backoffLimit has not been reached. - Never: Instances are never restarted and all failures are permanent. Cannot be used if backoffLimit is set. +optional",
          "type": "string"
        },
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "description": "Optional. List of volumes that can be mounted by containers belonging to the instance. More info: https://kubernetes.io/docs/concepts/storage/volumes +optional",
          "type": "array"
        },
        "activeDeadlineSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Optional duration in seconds the instance may be active relative to StartTime before the system will actively try to mark it failed and kill associated containers. If set to zero, the system will never attempt to kill an instance based on time. Otherwise, value must be a positive integer. +optional"
        },
        "serviceAccountName": {
          "type": "string",
          "description": "Optional. Email address of the IAM service account associated with the instance of a Job. The service account represents the identity of the running instance, and determines what permissions the instance has. If not provided, the instance will use the project's default service account. +optional"
        },
        "terminationGracePeriodSeconds": {
          "format": "int64",
          "description": "Optional. Optional duration in seconds the instance needs to terminate gracefully. Value must be non-negative integer. The value zero indicates delete immediately. The grace period is the duration in seconds after the processes running in the instance are sent a termination signal and the time when the processes are forcibly halted with a kill signal. Set this value longer than the expected cleanup time for your process. +optional",
          "type": "string"
        },
        "containers": {
          "description": "Optional. List of containers belonging to the instance. We disallow a number of fields on this Container. Only a single container may be provided.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        }
      }
    },
    "SecretEnvSource": {
      "type": "object",
      "description": "Not supported by Cloud Run SecretEnvSource selects a Secret to populate the environment variables with. The contents of the target Secret's Data field will represent the key-value pairs as environment variables.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The Secret to select from."
        },
        "optional": {
          "type": "boolean",
          "description": "(Optional) Specify whether the Secret must be defined"
        },
        "localObjectReference": {
          "$ref": "LocalObjectReference",
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead."
        }
      },
      "id": "SecretEnvSource"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ObjectMeta": {
      "type": "object",
      "id": "ObjectMeta",
      "properties": {
        "ownerReferences": {
          "type": "array",
          "description": "(Optional) Not supported by Cloud Run List of objects that own this object. If ALL objects in the list have been deleted, this object will be garbage collected.",
          "items": {
            "$ref": "OwnerReference"
          }
        },
        "uid": {
          "description": "(Optional) UID is the unique in time and space value for this object. It is typically generated by the server on successful creation of a resource and is not allowed to change on PUT operations. Populated by the system. Read-only. More info: http://kubernetes.io/docs/user-guide/identifiers#uids",
          "type": "string"
        },
        "namespace": {
          "description": "Namespace defines the space within each name must be unique, within a Cloud Run region. In Cloud Run the namespace must be equal to either the project ID or project number.",
          "type": "string"
        },
        "creationTimestamp": {
          "description": "(Optional) CreationTimestamp is a timestamp representing the server time when this object was created. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It is represented in RFC3339 form and is in UTC. Populated by the system. Read-only. Null for lists. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata",
          "type": "string",
          "format": "google-datetime"
        },
        "clusterName": {
          "type": "string",
          "description": "(Optional) Not supported by Cloud Run The name of the cluster which the object belongs to. This is used to distinguish resources with same name and namespace in different clusters. This field is not set anywhere right now and apiserver is going to ignore it if set in create or update request."
        },
        "annotations": {
          "description": "(Optional) Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: http://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Name must be unique within a namespace, within a Cloud Run region. Is required when creating resources, although some resources may allow a client to request the generation of an appropriate name automatically. Name is primarily intended for creation idempotence and configuration definition. Cannot be updated. More info: http://kubernetes.io/docs/user-guide/identifiers#names +optional",
          "type": "string"
        },
        "generation": {
          "description": "(Optional) A sequence number representing a specific generation of the desired state. Populated by the system. Read-only.",
          "format": "int32",
          "type": "integer"
        },
        "selfLink": {
          "description": "(Optional) SelfLink is a URL representing this object. Populated by the system. Read-only. string selfLink = 4;",
          "type": "string"
        },
        "finalizers": {
          "description": "(Optional) Not supported by Cloud Run Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. +patchStrategy=merge",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deletionTimestamp": {
          "description": "(Optional) Not supported by Cloud Run DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This field is set by the server when a graceful deletion is requested by the user, and is not directly settable by a client. The resource is expected to be deleted (no longer visible from resource lists, and not reachable by name) after the time in this field, once the finalizers list is empty. As long as the finalizers list contains items, deletion is blocked. Once the deletionTimestamp is set, this value may not be unset or be set further into the future, although it may be shortened or the resource may be deleted prior to this time. For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react by sending a graceful termination signal to the containers in the pod. After that 30 seconds, the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup, remove the pod from the API. In the presence of network partitions, this object may still exist after this timestamp, until an administrator or automated process can determine the resource is fully terminated. If not set, graceful deletion of the object has not been requested. Populated by the system when a graceful deletion is requested. Read-only. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata",
          "type": "string",
          "format": "google-datetime"
        },
        "generateName": {
          "type": "string",
          "description": "(Optional) Not supported by Cloud Run GenerateName is an optional prefix, used by the server, to generate a unique name ONLY IF the Name field has not been provided. If this field is used, the name returned to the client will be different than the name passed. This value will also be combined with a unique suffix. The provided value has the same validation rules as the Name field, and may be truncated by the length of the suffix required to make the value unique on the server. If this field is specified and the generated name exists, the server will NOT return a 409 - instead, it will either return 201 Created or 500 with Reason ServerTimeout indicating a unique name could not be found in the time allotted, and the client should retry (optionally after the time indicated in the Retry-After header). Applied only if Name is not specified. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#idempotency string generateName = 2;"
        },
        "resourceVersion": {
          "description": "Optional. An opaque value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server or omit the value to disable conflict-detection. They may only be valid for a particular resource or set of resources. Populated by the system. Read-only. Value must be treated as opaque by clients or omitted. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency",
          "type": "string"
        },
        "labels": {
          "description": "(Optional) Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and routes. More info: http://kubernetes.io/docs/user-guide/labels",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "deletionGracePeriodSeconds": {
          "type": "integer",
          "description": "(Optional) Not supported by Cloud Run Number of seconds allowed for this object to gracefully terminate before it will be removed from the system. Only set when deletionTimestamp is also set. May only be shortened. Read-only.",
          "format": "int32"
        }
      },
      "description": "k8s.io.apimachinery.pkg.apis.meta.v1.ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create."
    },
    "Container": {
      "id": "Container",
      "properties": {
        "ports": {
          "type": "array",
          "items": {
            "$ref": "ContainerPort"
          },
          "description": "(Optional) List of ports to expose from the container. Only a single port can be specified. The specified ports must be listening on all interfaces (0.0.0.0) within the container to be accessible. If omitted, a port number will be chosen and passed to the container through the PORT environment variable for the container to listen on."
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "(Optional) Security options the pod should run with. More info: https://kubernetes.io/docs/concepts/policy/security-context/ More info: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/"
        },
        "env": {
          "description": "(Optional) List of environment variables to set in the container.",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "startupProbe": {
          "description": "(Optional) Startup probe of application within the container. All other probes are disabled if a startup probe is provided, until it succeeds. Container will not be added to service endpoints if the probe fails. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes",
          "$ref": "Probe"
        },
        "terminationMessagePath": {
          "type": "string",
          "description": "(Optional) Path at which the file to which the container's termination message will be written is mounted into the container's filesystem. Message written is intended to be brief final status, such as an assertion failure message. Will be truncated by the node if greater than 4096 bytes. The total message length across all containers will be limited to 12kb. Defaults to /dev/termination-log."
        },
        "name": {
          "type": "string",
          "description": "(Optional) Name of the container specified as a DNS_LABEL. Currently unused in Cloud Run. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-label-names"
        },
        "envFrom": {
          "description": "(Optional) List of sources to populate environment variables in the container. The keys defined within a source must be a C_IDENTIFIER. All invalid keys will be reported as an event when the container is starting. When a key exists in multiple sources, the value associated with the last source will take precedence. Values defined by an Env with a duplicate key will take precedence. Cannot be updated.",
          "type": "array",
          "items": {
            "$ref": "EnvFromSource"
          }
        },
        "args": {
          "type": "array",
          "description": "(Optional) Arguments to the entrypoint. The docker image's CMD is used if this is not provided. Variable references $(VAR_NAME) are expanded using the container's environment. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. More info: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell",
          "items": {
            "type": "string"
          }
        },
        "resources": {
          "$ref": "ResourceRequirements",
          "description": "(Optional) Compute Resources required by this container. More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#resources"
        },
        "workingDir": {
          "type": "string",
          "description": "(Optional) Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image."
        },
        "volumeMounts": {
          "items": {
            "$ref": "VolumeMount"
          },
          "type": "array",
          "description": "(Optional) Volume to mount into the container's filesystem. Only supports SecretVolumeSources. Pod volumes to mount into the container's filesystem."
        },
        "terminationMessagePolicy": {
          "description": "(Optional) Indicate how the termination message should be populated. File will use the contents of terminationMessagePath to populate the container status message on both success and failure. FallbackToLogsOnError will use the last chunk of container log output if the termination message file is empty and the container exited with an error. The log output is limited to 2048 bytes or 80 lines, whichever is smaller. Defaults to File. Cannot be updated.",
          "type": "string"
        },
        "readinessProbe": {
          "description": "(Optional) Periodic probe of container service readiness. Container will be removed from service endpoints if the probe fails. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes",
          "$ref": "Probe"
        },
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "livenessProbe": {
          "description": "(Optional) Periodic probe of container liveness. Container will be restarted if the probe fails. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes",
          "$ref": "Probe"
        },
        "image": {
          "description": "Only supports containers from Google Container Registry or Artifact Registry URL of the Container image. More info: https://kubernetes.io/docs/concepts/containers/images",
          "type": "string"
        },
        "imagePullPolicy": {
          "description": "(Optional) Image pull policy. One of Always, Never, IfNotPresent. Defaults to Always if :latest tag is specified, or IfNotPresent otherwise. More info: https://kubernetes.io/docs/concepts/containers/images#updating-images",
          "type": "string"
        }
      },
      "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments may be supplied by the system to the container at runtime.",
      "type": "object"
    },
    "ContainerPort": {
      "description": "ContainerPort represents a network port in a single container.",
      "properties": {
        "protocol": {
          "description": "(Optional) Protocol for port. Must be \"TCP\". Defaults to \"TCP\".",
          "type": "string"
        },
        "name": {
          "description": "(Optional) If specified, used to specify which protocol to use. Allowed values are \"http1\" and \"h2c\".",
          "type": "string"
        },
        "containerPort": {
          "type": "integer",
          "description": "(Optional) Port number the container listens on. This must be a valid port number, 0 \u003c x \u003c 65536.",
          "format": "int32"
        }
      },
      "id": "ContainerPort",
      "type": "object"
    },
    "Job": {
      "properties": {
        "metadata": {
          "$ref": "ObjectMeta",
          "description": "Optional. Standard object's metadata. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata +optional"
        },
        "apiVersion": {
          "type": "string",
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources +optional"
        },
        "status": {
          "description": "Optional. Current status of a job. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#spec-and-status +optional",
          "$ref": "JobStatus"
        },
        "kind": {
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds +optional",
          "type": "string"
        },
        "spec": {
          "description": "Optional. Specification of the desired behavior of a job. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#spec-and-status +optional",
          "$ref": "JobSpec"
        }
      },
      "id": "Job",
      "description": "Job represents the configuration of a single job. A job an immutable resource that references a container image which is run to completion.",
      "type": "object"
    },
    "JobSpec": {
      "type": "object",
      "description": "JobSpec describes how the job execution will look like.",
      "properties": {
        "backoffLimit": {
          "description": "Optional. Specifies the number of retries per instance, before marking this job failed. If set to zero, instances will never retry on failure. +optional",
          "format": "int32",
          "type": "integer"
        },
        "completions": {
          "type": "integer",
          "description": "Optional. Specifies the desired number of successfully finished instances the job should be run with. Setting to 1 means that parallelism is limited to 1 and the success of that instance signals the success of the job. More info: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/ +optional",
          "format": "int32"
        },
        "activeDeadlineSeconds": {
          "description": "Optional. Not supported. Specifies the duration in seconds relative to the startTime that the job may be active before the system tries to terminate it. If set to zero, the system will never attempt to terminate the job based on time. Otherwise, the value must be positive integer. +optional",
          "format": "int64",
          "type": "string"
        },
        "ttlSecondsAfterFinished": {
          "description": "Optional. Not supported. ttlSecondsAfterFinished limits the lifetime of a Job that has finished execution (either Complete or Failed). If this field is set, ttlSecondsAfterFinished after the Job finishes, it is eligible to be automatically deleted. When the Job is being deleted, its lifecycle guarantees (e.g. finalizers) will be honored. If this field is set to zero, the Job won't be automatically deleted. +optional",
          "format": "int32",
          "type": "integer"
        },
        "parallelism": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies the maximum desired number of instances the job should run at any given time. Must be \u003c= completions. The actual number of instances running in steady state will be less than this number when ((.spec.completions - .status.successful) \u003c .spec.parallelism), i.e. when the work left to do is less than max parallelism. More info: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/ +optional"
        },
        "template": {
          "$ref": "InstanceTemplateSpec",
          "description": "Optional. Describes the instance that will be created when executing a job."
        }
      },
      "id": "JobSpec"
    },
    "HTTPGetAction": {
      "id": "HTTPGetAction",
      "description": "Not supported by Cloud Run HTTPGetAction describes an action based on HTTP Get requests.",
      "properties": {
        "path": {
          "type": "string",
          "description": "(Optional) Path to access on the HTTP server."
        },
        "httpHeaders": {
          "description": "(Optional) Custom headers to set in the request. HTTP allows repeated headers.",
          "type": "array",
          "items": {
            "$ref": "HTTPHeader"
          }
        },
        "scheme": {
          "description": "(Optional) Scheme to use for connecting to the host. Defaults to HTTP.",
          "type": "string"
        },
        "host": {
          "description": "(Optional) Host name to connect to, defaults to the pod IP. You probably want to set \"Host\" in httpHeaders instead.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstanceStatus": {
      "properties": {
        "restarted": {
          "format": "int32",
          "description": "Optional. The number of times this instance was restarted. Instances are restarted according the restartPolicy configured in the Job template. +optional",
          "type": "integer"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Represents time when the instance was created by the job controller. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC. +optional"
        },
        "lastExitCode": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Last exit code seen for this instance. +optional"
        },
        "succeeded": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of times this instance exited with code == 0. +optional"
        },
        "completionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Represents time when the instance was completed. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC. +optional"
        },
        "failed": {
          "description": "Optional. The number of times this instance exited with code \u003e 0; +optional",
          "type": "integer",
          "format": "int32"
        },
        "index": {
          "description": "Required. Index of the instance, unique per Job, and beginning at 0.",
          "type": "integer",
          "format": "int32"
        },
        "lastAttemptResult": {
          "$ref": "InstanceAttemptResult",
          "description": "Optional. Result of the last attempt of this instance. +optional"
        }
      },
      "id": "InstanceStatus",
      "description": "Instance represents the status of an instance of a Job.",
      "type": "object"
    },
    "ExecAction": {
      "id": "ExecAction",
      "properties": {
        "command": {
          "description": "(Optional) Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Not supported by Cloud Run ExecAction describes a \"run in container\" action."
    },
    "TCPSocketAction": {
      "id": "TCPSocketAction",
      "type": "object",
      "properties": {
        "host": {
          "type": "string",
          "description": "(Optional) Optional: Host name to connect to, defaults to the pod IP."
        },
        "port": {
          "description": "Number or name of the port to access on the container. Number must be in the range 1 to 65535. Name must be an IANA_SVC_NAME. This field is currently limited to integer types only because of proto's inability to properly support the IntOrString golang type.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Not supported by Cloud Run TCPSocketAction describes an action based on opening a socket"
    },
    "JobStatus": {
      "properties": {
        "observedGeneration": {
          "description": "Optional. The 'generation' of the job that was last processed by the controller.",
          "format": "int32",
          "type": "integer"
        },
        "conditions": {
          "description": "Optional. The latest available observations of a job's current state. More info: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/ +optional",
          "items": {
            "$ref": "JobCondition"
          },
          "type": "array"
        },
        "active": {
          "description": "Optional. The number of actively running instances. +optional",
          "type": "integer",
          "format": "int32"
        },
        "succeeded": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of instances which reached phase Succeeded. +optional"
        },
        "instances": {
          "items": {
            "$ref": "InstanceStatus"
          },
          "description": "Optional. Status of completed, failed, and running instances. +optional",
          "type": "array"
        },
        "failed": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of instances which reached phase Failed. +optional"
        },
        "completionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Represents time when the job was completed. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC. +optional"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Represents time when the job was acknowledged by the job controller. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC. +optional"
        },
        "imageDigest": {
          "description": "Optional. ImageDigest holds the resolved digest for the image specified within .Spec.Template.Spec.Container.Image. The digest is resolved during the creation of the Job. This field holds the digest value regardless of whether a tag or digest was originally specified in the Container object.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "JobStatus represents the current state of a Job.",
      "id": "JobStatus"
    },
    "KeyToPath": {
      "description": "Maps a string key to a path within a volume.",
      "type": "object",
      "id": "KeyToPath",
      "properties": {
        "key": {
          "type": "string",
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest value or an integer for a specific version. The key to project."
        },
        "path": {
          "type": "string",
          "description": "The relative path of the file to map the key to. May not be an absolute path. May not contain the path element '..'. May not start with the string '..'."
        },
        "mode": {
          "format": "int32",
          "type": "integer",
          "description": "(Optional) Mode bits to use on this file, must be a value between 01 and 0777 (octal). If 0 or not set, the Volume's default mode will be used. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set."
        }
      }
    },
    "EnvVarSource": {
      "id": "EnvVarSource",
      "description": "EnvVarSource represents a source for the value of an EnvVar.",
      "type": "object",
      "properties": {
        "configMapKeyRef": {
          "description": "(Optional) Not supported by Cloud Run Selects a key of a ConfigMap.",
          "$ref": "ConfigMapKeySelector"
        },
        "secretKeyRef": {
          "description": "(Optional) Selects a key (version) of a secret in Secret Manager.",
          "$ref": "SecretKeySelector"
        }
      }
    },
    "SecurityContext": {
      "type": "object",
      "properties": {
        "runAsUser": {
          "type": "integer",
          "format": "int32",
          "description": "(Optional) The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence."
        }
      },
      "id": "SecurityContext",
      "description": "Not supported by Cloud Run SecurityContext holds security configuration that will be applied to a container. Some fields are present in both SecurityContext and PodSecurityContext. When both are set, the values in SecurityContext take precedence."
    },
    "EnvVar": {
      "properties": {
        "name": {
          "description": "Name of the environment variable. Must be a C_IDENTIFIER.",
          "type": "string"
        },
        "value": {
          "description": "(Optional) Variable references $(VAR_NAME) are expanded using the previous defined environment variables in the container and any route environment variables. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. Defaults to \"\".",
          "type": "string"
        },
        "valueFrom": {
          "description": "(Optional) Source for the environment variable's value. Only supports secret_key_ref. Source for the environment variable's value. Cannot be used if value is not empty.",
          "$ref": "EnvVarSource"
        }
      },
      "type": "object",
      "id": "EnvVar",
      "description": "EnvVar represents an environment variable present in a Container."
    },
    "SecretVolumeSource": {
      "properties": {
        "items": {
          "items": {
            "$ref": "KeyToPath"
          },
          "type": "array",
          "description": "(Optional) If unspecified, the volume will expose a file whose name is the secret_name. If specified, the key will be used as the version to fetch from Cloud Secret Manager and the path will be the name of the file exposed in the volume. When items are defined, they must specify a key and a path. If unspecified, each key-value pair in the Data field of the referenced Secret will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified that is not present in the Secret, the volume setup will error unless it is marked optional."
        },
        "optional": {
          "type": "boolean",
          "description": "(Optional) Specify whether the Secret or its keys must be defined."
        },
        "defaultMode": {
          "description": "Integer representation of mode bits to use on created files by default. Must be a value between 01 and 0777 (octal). If 0 or not set, it will default to 0644. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "type": "integer",
          "format": "int32"
        },
        "secretName": {
          "description": "The name of the secret in Cloud Secret Manager. By default, the secret is assumed to be in the same project. If the secret is in another project, you must define an alias. An alias definition has the form: :projects//secrets/. If multiple alias definitions are needed, they must be separated by commas. The alias definitions must be set on the run.googleapis.com/secrets annotation. Name of the secret in the container's namespace to use.",
          "type": "string"
        }
      },
      "description": "The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secret_name. The contents of the target Secret's Data field will be presented in a volume as files using the keys in the Data field as the file names.",
      "id": "SecretVolumeSource",
      "type": "object"
    },
    "InstanceTemplateSpec": {
      "properties": {
        "spec": {
          "$ref": "InstanceSpec",
          "description": "Optional. Specification of the desired behavior of the instance. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#spec-and-status +optional"
        }
      },
      "type": "object",
      "description": "InstanceTemplateSpec describes the data an instance should have when created from a template.",
      "id": "InstanceTemplateSpec"
    },
    "ConfigMapKeySelector": {
      "properties": {
        "optional": {
          "type": "boolean",
          "description": "(Optional) Specify whether the ConfigMap or its key must be defined"
        },
        "name": {
          "type": "string",
          "description": "The ConfigMap to select from."
        },
        "localObjectReference": {
          "$ref": "LocalObjectReference",
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead."
        },
        "key": {
          "description": "The key to select.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConfigMapKeySelector",
      "description": "Not supported by Cloud Run Selects a key from a ConfigMap."
    },
    "InstanceAttemptResult": {
      "description": "Result of an instance attempt.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "Optional. The status of this attempt. If the status code is OK, then the attempt succeeded."
        },
        "exitCode": {
          "description": "Optional. The exit code of this attempt. This may be unset if the container was unable to exit cleanly with a code due to some other failure. See status field for possible failure details.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "InstanceAttemptResult"
    },
    "Probe": {
      "properties": {
        "successThreshold": {
          "description": "(Optional) Minimum consecutive successes for the probe to be considered successful after having failed. Defaults to 1. Must be 1 for liveness. Minimum value is 1.",
          "format": "int32",
          "type": "integer"
        },
        "timeoutSeconds": {
          "description": "(Optional) Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes",
          "format": "int32",
          "type": "integer"
        },
        "failureThreshold": {
          "type": "integer",
          "description": "(Optional) Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1.",
          "format": "int32"
        },
        "initialDelaySeconds": {
          "description": "(Optional) Number of seconds after the container has started before liveness probes are initiated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes",
          "type": "integer",
          "format": "int32"
        },
        "httpGet": {
          "$ref": "HTTPGetAction",
          "description": "(Optional) HTTPGet specifies the http request to perform. A field inlined from the Handler message."
        },
        "exec": {
          "description": "(Optional) One and only one of the following should be specified. Exec specifies the action to take. A field inlined from the Handler message.",
          "$ref": "ExecAction"
        },
        "periodSeconds": {
          "description": "(Optional) How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1.",
          "type": "integer",
          "format": "int32"
        },
        "tcpSocket": {
          "description": "(Optional) TCPSocket specifies an action involving a TCP port. TCP hooks not yet supported A field inlined from the Handler message.",
          "$ref": "TCPSocketAction"
        }
      },
      "id": "Probe",
      "type": "object",
      "description": "Not supported by Cloud Run Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic."
    },
    "ConfigMapEnvSource": {
      "properties": {
        "optional": {
          "type": "boolean",
          "description": "(Optional) Specify whether the ConfigMap must be defined"
        },
        "name": {
          "description": "The ConfigMap to select from.",
          "type": "string"
        },
        "localObjectReference": {
          "$ref": "LocalObjectReference",
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead."
        }
      },
      "type": "object",
      "description": "Not supported by Cloud Run ConfigMapEnvSource selects a ConfigMap to populate the environment variables with. The contents of the target ConfigMap's Data field will represent the key-value pairs as environment variables.",
      "id": "ConfigMapEnvSource"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "type": "object"
    },
    "ConfigMapVolumeSource": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the config."
        },
        "optional": {
          "type": "boolean",
          "description": "(Optional) Specify whether the Secret or its keys must be defined."
        },
        "items": {
          "type": "array",
          "description": "(Optional) If unspecified, each key-value pair in the Data field of the referenced Secret will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified that is not present in the Secret, the volume setup will error unless it is marked optional.",
          "items": {
            "$ref": "KeyToPath"
          }
        },
        "defaultMode": {
          "description": "(Optional) Integer representation of mode bits to use on created files by default. Must be a value between 01 and 0777 (octal). If 0 or not set, it will default to 0644. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Not supported by Cloud Run Adapts a ConfigMap into a volume. The contents of the target ConfigMap's Data field will be presented in a volume as files using the keys in the Data field as the file names, unless the items element is populated with specific mappings of keys to paths.",
      "id": "ConfigMapVolumeSource"
    },
    "Volume": {
      "description": "Volume represents a named volume in a container.",
      "id": "Volume",
      "type": "object",
      "properties": {
        "secret": {
          "$ref": "SecretVolumeSource"
        },
        "configMap": {
          "$ref": "ConfigMapVolumeSource"
        },
        "name": {
          "type": "string",
          "description": "Volume's name. In Cloud Run Fully Managed, the name 'cloudsql' is reserved."
        }
      }
    },
    "SecretKeySelector": {
      "id": "SecretKeySelector",
      "type": "object",
      "properties": {
        "optional": {
          "description": "(Optional) Specify whether the Secret or its key must be defined",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the secret in Cloud Secret Manager. By default, the secret is assumed to be in the same project. If the secret is in another project, you must define an alias. An alias definition has the form: :projects//secrets/. If multiple alias definitions are needed, they must be separated by commas. The alias definitions must be set on the run.googleapis.com/secrets annotation. The name of the secret in the pod's namespace to select from.",
          "type": "string"
        },
        "key": {
          "description": "A Cloud Secret Manager secret version. Must be 'latest' for the latest version or an integer for a specific version. The key of the secret to select from. Must be a valid secret key.",
          "type": "string"
        },
        "localObjectReference": {
          "$ref": "LocalObjectReference",
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead."
        }
      },
      "description": "SecretKeySelector selects a key of a Secret."
    },
    "ListMeta": {
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "SelfLink is a URL representing this object. Populated by the system. Read-only. +optional",
          "type": "string"
        },
        "continue": {
          "description": "continue may be set if the user set a limit on the number of items returned, and indicates that the server has more data available. The value is opaque and may be used to issue another request to the endpoint that served this list to retrieve the next set of available objects. Continuing a list may not be possible if the server configuration has changed or more than a few minutes have passed. The resourceVersion field returned when using this continue value will be identical to the value in the first response.",
          "type": "string"
        },
        "resourceVersion": {
          "type": "string",
          "description": "String that identifies the server's internal version of this object that can be used by clients to determine when objects have changed. Value must be treated as opaque by clients and passed unmodified back to the server. Populated by the system. Read-only. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency +optional"
        }
      },
      "id": "ListMeta",
      "description": "ListMeta describes metadata that synthetic resources must have, including lists and various status objects. A resource may have only one of {ObjectMeta, ListMeta}."
    },
    "VolumeMount": {
      "id": "VolumeMount",
      "properties": {
        "subPath": {
          "description": "(Optional) Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root).",
          "type": "string"
        },
        "name": {
          "description": "The name of the volume. There must be a corresponding Volume with the same name.",
          "type": "string"
        },
        "readOnly": {
          "type": "boolean",
          "description": "(Optional) Only true is accepted. Defaults to true."
        },
        "mountPath": {
          "type": "string",
          "description": "Path within the container at which the volume should be mounted. Must not contain ':'."
        }
      },
      "description": "VolumeMount describes a mounting of a Volume within a container.",
      "type": "object"
    },
    "ListJobsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "This field is equivalent to the metadata.continue field and is provided as a convenience for compatibility with https://google.aip.dev/158. The value is opaque and may be used to issue another request to the endpoint that served this list to retrieve the next set of available objects. Continuing a list may not be possible if the server configuration has changed or more than a few minutes have passed. The metadata.resourceVersion field returned when using this field will be identical to the value in the first response.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this jobs list.",
          "$ref": "ListMeta"
        },
        "apiVersion": {
          "description": "The API version for this call such as \"run.googleapis.com/v1alpha1\".",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"JobsList\"."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "items": {
          "items": {
            "$ref": "Job"
          },
          "type": "array",
          "description": "List of Jobs."
        }
      },
      "id": "ListJobsResponse",
      "type": "object",
      "description": "ListJobsResponse is a list of Jobs resources."
    },
    "JobCondition": {
      "properties": {
        "lastTransitionTime": {
          "description": "Optional. Last time the condition transitioned from one status to another.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "description": "Required. Type is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/main/docs/spec/errors.md#error-conditions-and-reporting Types include: * \"Completed\": True when the Job has successfully completed. * \"Started\": True when the Job has successfully started running. * \"ResourcesAvailable\": True when underlying resources have been provisioned.",
          "type": "string"
        },
        "status": {
          "description": "Required. Status of the condition, one of True, False, Unknown.",
          "type": "string"
        },
        "message": {
          "description": "Optional. Human readable message indicating details about the current status.",
          "type": "string"
        },
        "reason": {
          "description": "Optional. One-word CamelCase reason for the condition's last transition.",
          "type": "string"
        },
        "severity": {
          "description": "Optional. How to interpret failures of this condition, one of Error, Warning, Info",
          "type": "string"
        }
      },
      "type": "object",
      "id": "JobCondition",
      "description": "JobCondition defines a readiness condition for a Revision."
    },
    "LocalObjectReference": {
      "id": "LocalObjectReference",
      "type": "object",
      "description": "Not supported by Cloud Run LocalObjectReference contains enough information to let you locate the referenced object inside the same namespace.",
      "properties": {
        "name": {
          "type": "string",
          "description": "(Optional) Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names"
        }
      }
    }
  },
  "canonicalName": "Cloud Run",
  "kind": "discovery#restDescription"
}
