{
  "servicePath": "",
  "batchPath": "batch",
  "description": "Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving API specification, while v2 is aligned with Google Cloud AIP-based API standards, as described in https://google.aip.dev/.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/run/",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "id": "run:v1",
  "schemas": {
    "Policy": {
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object"
    },
    "ListServicesResponse": {
      "description": "A list of Service resources.",
      "id": "ListServicesResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "Service"
          },
          "description": "List of Services.",
          "type": "array"
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call; returns \"serving.knative.dev/v1\"."
        },
        "metadata": {
          "description": "Metadata associated with this Service list.",
          "$ref": "ListMeta"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "For calls against the global endpoint, returns the list of Cloud locations that could not be reached. For regional calls, this field is not used.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource; returns \"ServiceList\"."
        }
      },
      "type": "object"
    },
    "ExecAction": {
      "type": "object",
      "properties": {
        "command": {
          "description": "Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Not supported by Cloud Run. ExecAction describes a \"run in container\" action.",
      "id": "ExecAction"
    },
    "AuthorizedDomain": {
      "id": "AuthorizedDomain",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Relative name of the domain authorized for use. Example: `example.com`."
        },
        "name": {
          "description": "Deprecated Read only. Full path to the `AuthorizedDomain` resource in the API. Example: `projects/myproject/authorizedDomains/example.com`.",
          "type": "string",
          "deprecated": true
        }
      },
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via [Search Console](https://search.google.com/search-console/welcome)."
    },
    "Addressable": {
      "id": "Addressable",
      "type": "object",
      "description": "Information for connecting over HTTP(s).",
      "properties": {
        "url": {
          "type": "string"
        }
      }
    },
    "ConfigMapVolumeSource": {
      "description": "Not supported by Cloud Run. Adapts a ConfigMap into a volume. The contents of the target ConfigMap's Data field will be presented in a volume as files using the keys in the Data field as the file names, unless the items element is populated with specific mappings of keys to paths.",
      "type": "object",
      "properties": {
        "optional": {
          "description": "(Optional) Specify whether the Secret or its keys must be defined.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the config.",
          "type": "string"
        },
        "defaultMode": {
          "description": "(Optional) Integer representation of mode bits to use on created files by default. Must be a value between 01 and 0777 (octal). If 0 or not set, it will default to 0644. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "description": "(Optional) If unspecified, each key-value pair in the Data field of the referenced Secret will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified that is not present in the Secret, the volume setup will error unless it is marked optional.",
          "items": {
            "$ref": "KeyToPath"
          },
          "type": "array"
        }
      },
      "id": "ConfigMapVolumeSource"
    },
    "EnvVarSource": {
      "type": "object",
      "id": "EnvVarSource",
      "properties": {
        "secretKeyRef": {
          "description": "Selects a key (version) of a secret in Secret Manager.",
          "$ref": "SecretKeySelector"
        },
        "configMapKeyRef": {
          "description": "Not supported by Cloud Run. Not supported in Cloud Run.",
          "$ref": "ConfigMapKeySelector"
        }
      },
      "description": "EnvVarSource represents a source for the value of an EnvVar."
    },
    "ConfigMapKeySelector": {
      "id": "ConfigMapKeySelector",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. Not supported by Cloud Run."
        },
        "name": {
          "description": "Required. Not supported by Cloud Run.",
          "type": "string"
        },
        "optional": {
          "description": "Not supported by Cloud Run.",
          "type": "boolean"
        },
        "localObjectReference": {
          "description": "Not supported by Cloud Run.",
          "$ref": "LocalObjectReference",
          "deprecated": true
        }
      },
      "description": "Not supported by Cloud Run.",
      "type": "object"
    },
    "TaskSpec": {
      "type": "object",
      "properties": {
        "maxRetries": {
          "format": "int32",
          "description": "Optional. Number of retries allowed per task, before marking this job failed. Defaults to 3.",
          "type": "integer"
        },
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "type": "array",
          "description": "Optional. List of volumes that can be mounted by containers belonging to the task."
        },
        "timeoutSeconds": {
          "format": "int64",
          "description": "Optional. Duration in seconds the task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout. Defaults to 600 seconds.",
          "type": "string"
        },
        "containers": {
          "description": "Optional. List of containers belonging to the task. We disallow a number of fields on this Container. Only a single container may be provided.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "serviceAccountName": {
          "description": "Optional. Email address of the IAM service account associated with the task of a job execution. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account.",
          "type": "string"
        }
      },
      "id": "TaskSpec",
      "description": "TaskSpec is a description of a task."
    },
    "TCPSocketAction": {
      "description": "TCPSocketAction describes an action based on opening a socket",
      "type": "object",
      "id": "TCPSocketAction",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port number to access on the container. Number must be in the range 1 to 65535."
        },
        "host": {
          "type": "string",
          "description": "Not supported by Cloud Run."
        }
      }
    },
    "StatusCause": {
      "id": "StatusCause",
      "description": "StatusCause provides more information about an api.Status failure, including cases when multiple errors are encountered.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "A machine-readable description of the cause of the error. If this value is empty there is no information available."
        },
        "message": {
          "type": "string",
          "description": "A human-readable description of the cause of the error. This field may be presented as-is to a reader."
        },
        "field": {
          "type": "string",
          "description": "The field of the resource that has caused this error, as named by its JSON serialization. May include dot and postfix notation for nested attributes. Arrays are zero-indexed. Fields may appear more than once in an array of causes due to fields having multiple errors. Examples: \"name\" - the field \"name\" on the current resource \"items[0].name\" - the field \"name\" on the first array entry in \"items\""
        }
      },
      "type": "object"
    },
    "ContainerPort": {
      "properties": {
        "name": {
          "type": "string",
          "description": "If specified, used to specify which protocol to use. Allowed values are \"http1\" and \"h2c\"."
        },
        "protocol": {
          "type": "string",
          "description": "Protocol for port. Must be \"TCP\". Defaults to \"TCP\"."
        },
        "containerPort": {
          "description": "Port number the container listens on. If present, this must be a valid port number, 0 \u003c x \u003c 65536. If not present, it will default to port 8080. For more information, see https://cloud.google.com/run/docs/container-contract#port",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "ContainerPort represents a network port in a single container.",
      "type": "object",
      "id": "ContainerPort"
    },
    "EnvVar": {
      "properties": {
        "value": {
          "description": "Value of the environment variable. Defaults to \"\". Variable references are not supported in Cloud Run.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the environment variable. Must be a C_IDENTIFIER."
        },
        "valueFrom": {
          "$ref": "EnvVarSource",
          "description": "Source for the environment variable's value. Only supports secret_key_ref. Cannot be used if value is not empty."
        }
      },
      "id": "EnvVar",
      "type": "object",
      "description": "EnvVar represents an environment variable present in a Container."
    },
    "ConfigurationSpec": {
      "description": "ConfigurationSpec holds the desired state of the Configuration (from the client).",
      "id": "ConfigurationSpec",
      "type": "object",
      "properties": {
        "template": {
          "description": "Template holds the latest specification for the Revision to be stamped out.",
          "$ref": "RevisionTemplate"
        }
      }
    },
    "SecretEnvSource": {
      "properties": {
        "localObjectReference": {
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead.",
          "$ref": "LocalObjectReference",
          "deprecated": true
        },
        "name": {
          "description": "The Secret to select from.",
          "type": "string"
        },
        "optional": {
          "description": "Specify whether the Secret must be defined",
          "type": "boolean"
        }
      },
      "id": "SecretEnvSource",
      "type": "object",
      "description": "Not supported by Cloud Run. SecretEnvSource selects a Secret to populate the environment variables with. The contents of the target Secret's Data field will represent the key-value pairs as environment variables."
    },
    "ServiceSpec": {
      "properties": {
        "traffic": {
          "items": {
            "$ref": "TrafficTarget"
          },
          "description": "Specifies how to distribute traffic over a collection of Knative Revisions and Configurations to the Service's main URL.",
          "type": "array"
        },
        "template": {
          "description": "Holds the latest specification for the Revision to be stamped out.",
          "$ref": "RevisionTemplate"
        }
      },
      "description": "ServiceSpec holds the desired state of the Route (from the client), which is used to manipulate the underlying Route and Configuration(s).",
      "type": "object",
      "id": "ServiceSpec"
    },
    "ListAuthorizedDomainsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "domains": {
          "description": "The authorized domains belonging to the user.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          }
        }
      },
      "description": "A list of Authorized Domains.",
      "id": "ListAuthorizedDomainsResponse",
      "type": "object"
    },
    "RevisionSpec": {
      "type": "object",
      "description": "RevisionSpec holds the desired state of the Revision (from the client).",
      "id": "RevisionSpec",
      "properties": {
        "serviceAccountName": {
          "description": "Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has. If not provided, the revision will use the project's default service account.",
          "type": "string"
        },
        "containerConcurrency": {
          "type": "integer",
          "description": "ContainerConcurrency specifies the maximum allowed in-flight (concurrent) requests per container instance of the Revision. If not specified, defaults to 80.",
          "format": "int32"
        },
        "timeoutSeconds": {
          "type": "integer",
          "description": "TimeoutSeconds holds the max duration the instance is allowed for responding to a request. Cloud Run: defaults to 300 seconds (5 minutes). Maximum allowed value is 3600 seconds (1 hour).",
          "format": "int32"
        },
        "enableServiceLinks": {
          "type": "boolean",
          "description": "Not supported by Cloud Run."
        },
        "imagePullSecrets": {
          "items": {
            "$ref": "LocalObjectReference"
          },
          "type": "array",
          "description": "Not supported by Cloud Run."
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          },
          "description": "Containers holds the single container that defines the unit of execution for this Revision. In the context of a Revision, we disallow a number of fields on this Container, including: name and lifecycle. In Cloud Run, only a single container may be provided."
        },
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        }
      }
    },
    "ListJobsResponse": {
      "type": "object",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"run.googleapis.com/v1\"."
        },
        "metadata": {
          "description": "Metadata associated with this jobs list.",
          "$ref": "ListMeta"
        },
        "items": {
          "type": "array",
          "description": "List of Jobs.",
          "items": {
            "$ref": "Job"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "The kind of this resource, in this case \"JobsList\".",
          "type": "string"
        }
      },
      "id": "ListJobsResponse",
      "description": "ListJobsResponse is a list of Jobs resources."
    },
    "ServiceStatus": {
      "properties": {
        "traffic": {
          "description": "Holds the configured traffic distribution. These entries will always contain RevisionName references. When ConfigurationName appears in the spec, this will hold the LatestReadyRevisionName that we last observed.",
          "items": {
            "$ref": "TrafficTarget"
          },
          "type": "array"
        },
        "conditions": {
          "description": "Conditions communicate information about ongoing/complete reconciliation processes that bring the `spec` inline with the observed state of the world. Service-specific conditions include: * `ConfigurationsReady`: `True` when the underlying Configuration is ready. * `RoutesReady`: `True` when the underlying Route is ready. * `Ready`: `True` when all underlying resources are ready.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        },
        "url": {
          "type": "string",
          "description": "URL that will distribute traffic over the provided traffic targets. It generally has the form https://{route-hash}-{project-hash}-{cluster-level-suffix}.a.run.app"
        },
        "observedGeneration": {
          "description": "Returns the generation last fully processed by the system. This will only match metadata.generation when reconciliation is complete. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False.",
          "format": "int32",
          "type": "integer"
        },
        "address": {
          "description": "Similar to url, information on where the service is available on HTTP.",
          "$ref": "Addressable"
        },
        "latestReadyRevisionName": {
          "type": "string",
          "description": "Name of the latest Revision from this Service's Configuration that has had its `Ready` condition become `True`."
        },
        "latestCreatedRevisionName": {
          "description": "Name of the last revision that was created from this Service's Configuration. It might not be ready yet, for that use LatestReadyRevisionName.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The current state of the Service. Output only.",
      "id": "ServiceStatus"
    },
    "Overrides": {
      "properties": {
        "containerOverrides": {
          "description": "Per container override specification.",
          "items": {
            "$ref": "ContainerOverride"
          },
          "type": "array"
        },
        "taskCount": {
          "type": "integer",
          "description": "The desired number of tasks the execution should run. Will replace existing task_count value.",
          "format": "int32"
        },
        "timeoutSeconds": {
          "type": "integer",
          "description": "Duration in seconds the task may be active before the system will actively try to mark it failed and kill associated containers. Will replace existing timeout_seconds value.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Overrides",
      "description": "RunJob Overrides that contains Execution fields to be overridden on the go."
    },
    "Service": {
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call. It must be \"serving.knative.dev/v1\"."
        },
        "kind": {
          "description": "The kind of resource. It must be \"Service\".",
          "type": "string"
        },
        "spec": {
          "$ref": "ServiceSpec",
          "description": "Holds the desired state of the Service (from the client)."
        },
        "status": {
          "$ref": "ServiceStatus",
          "description": "Communicates the system-controlled state of the Service."
        },
        "metadata": {
          "description": "Metadata associated with this Service, including name, namespace, labels, and annotations. In Cloud Run, annotations with 'run.googleapis.com/' and 'autoscaling.knative.dev' are restricted, and the accepted annotations will be different depending on the resource type. The following Cloud Run-specific annotations are accepted in Service.metadata.annotations. * `run.googleapis.com/binary-authorization-breakglass` * `run.googleapis.com/binary-authorization` * `run.googleapis.com/client-name` * `run.googleapis.com/custom-audiences` * `run.googleapis.com/description` * `run.googleapis.com/gc-traffic-tags` * `run.googleapis.com/ingress` * `run.googleapis.com/ingress` sets the ingress settings for the Service. See [the ingress settings documentation](/run/docs/securing/ingress) for details on configuring ingress settings. * `run.googleapis.com/ingress-status` is output-only and contains the currently active ingress settings for the Service. `run.googleapis.com/ingress-status` may differ from `run.googleapis.com/ingress` while the system is processing a change to `run.googleapis.com/ingress` or if the system failed to process a change to `run.googleapis.com/ingress`. When the system has processed all changes successfully `run.googleapis.com/ingress-status` and `run.googleapis.com/ingress` are equal.",
          "$ref": "ObjectMeta"
        }
      },
      "id": "Service",
      "description": "Service acts as a top-level container that manages a set of Routes and Configurations which implement a network service. Service exists to provide a singular abstraction which can be access controlled, reasoned about, and which encapsulates software lifecycle decisions such as rollout policy and team resource ownership. Service acts only as an orchestrator of the underlying Routes and Configurations (much as a kubernetes Deployment orchestrates ReplicaSets). The Service's controller will track the statuses of its owned Configuration and Route, reflecting their statuses and conditions as its own.",
      "type": "object"
    },
    "CancelExecutionRequest": {
      "properties": {},
      "id": "CancelExecutionRequest",
      "type": "object",
      "description": "Request message for cancelling an execution."
    },
    "JobStatus": {
      "description": "JobStatus represents the current state of a Job.",
      "id": "JobStatus",
      "properties": {
        "conditions": {
          "description": "Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. Job-specific conditions include: * `Ready`: `True` when the job is ready to be executed.",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "type": "array"
        },
        "latestCreatedExecution": {
          "description": "A pointer to the most recently created execution for this job. This is set regardless of the eventual state of the execution.",
          "$ref": "ExecutionReference"
        },
        "observedGeneration": {
          "type": "integer",
          "format": "int32",
          "description": "The 'generation' of the job that was last processed by the controller."
        },
        "executionCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of executions created for this job."
        }
      },
      "type": "object"
    },
    "SecretKeySelector": {
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. A Cloud Secret Manager secret version. Must be 'latest' for the latest version, an integer for a specific version, or a version alias. The key of the secret to select from. Must be a valid secret key.",
          "type": "string"
        },
        "localObjectReference": {
          "deprecated": true,
          "$ref": "LocalObjectReference",
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead."
        },
        "name": {
          "description": "The name of the secret in Cloud Secret Manager. By default, the secret is assumed to be in the same project. If the secret is in another project, you must define an alias. An alias definition has the form: :projects//secrets/. If multiple alias definitions are needed, they must be separated by commas. The alias definitions must be set on the run.googleapis.com/secrets annotation. The name of the secret in the pod's namespace to select from.",
          "type": "string"
        },
        "optional": {
          "description": "Specify whether the Secret or its key must be defined.",
          "type": "boolean"
        }
      },
      "id": "SecretKeySelector",
      "description": "SecretKeySelector selects a key of a Secret."
    },
    "ListDomainMappingsResponse": {
      "description": "ListDomainMappingsResponse is a list of DomainMapping resources.",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "DomainMapping"
          },
          "type": "array",
          "description": "List of DomainMappings."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"domains.cloudrun.com/v1\"."
        },
        "metadata": {
          "description": "Metadata associated with this DomainMapping list.",
          "$ref": "ListMeta"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"DomainMappingList\"."
        }
      },
      "id": "ListDomainMappingsResponse"
    },
    "SecretVolumeSource": {
      "properties": {
        "optional": {
          "type": "boolean",
          "description": "Not supported by Cloud Run."
        },
        "items": {
          "type": "array",
          "description": "A list of secret versions to mount in the volume. If no items are specified, the volume will expose a file with the same name as the secret name. The contents of the file will be the data in the latest version of the secret. If items are specified, the key will be used as the version to fetch from Cloud Secret Manager and the path will be the name of the file exposed in the volume. When items are defined, they must specify both a key and a path.",
          "items": {
            "$ref": "KeyToPath"
          }
        },
        "defaultMode": {
          "format": "int32",
          "description": "Integer representation of mode bits to use on created files by default. Must be a value between 01 and 0777 (octal). If 0 or not set, it will default to 0444. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "type": "integer"
        },
        "secretName": {
          "description": "The name of the secret in Cloud Secret Manager. By default, the secret is assumed to be in the same project. If the secret is in another project, you must define an alias. An alias definition has the form: :projects//secrets/. If multiple alias definitions are needed, they must be separated by commas. The alias definitions must be set on the run.googleapis.com/secrets annotation. Name of the secret in the container's namespace to use.",
          "type": "string"
        }
      },
      "id": "SecretVolumeSource",
      "type": "object",
      "description": "A volume representing a secret stored in Google Secret Manager. The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secret_name. The contents of the target Secret's Data field will be presented in a volume as files using the keys in the Data field as the file names."
    },
    "JobSpec": {
      "type": "object",
      "id": "JobSpec",
      "properties": {
        "template": {
          "description": "Optional. Describes the execution that will be created when running a job.",
          "$ref": "ExecutionTemplateSpec"
        }
      },
      "description": "JobSpec describes how the job will look."
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object"
    },
    "RouteStatus": {
      "id": "RouteStatus",
      "type": "object",
      "properties": {
        "conditions": {
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "description": "Conditions communicates information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world.",
          "type": "array"
        },
        "address": {
          "description": "Similar to url, information on where the service is available on HTTP.",
          "$ref": "Addressable"
        },
        "observedGeneration": {
          "type": "integer",
          "format": "int32",
          "description": "ObservedGeneration is the 'Generation' of the Route that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False. Note that providing a TrafficTarget that has latest_revision=True will result in a Route that does not increment either its metadata.generation or its observedGeneration, as new \"latest ready\" revisions from the Configuration are processed without an update to the Route's spec."
        },
        "url": {
          "type": "string",
          "description": "URL holds the url that will distribute traffic over the provided traffic targets. It generally has the form: https://{route-hash}-{project-hash}-{cluster-level-suffix}.a.run.app"
        },
        "traffic": {
          "description": "Traffic holds the configured traffic distribution. These entries will always contain RevisionName references. When ConfigurationName appears in the spec, this will hold the LatestReadyRevisionName that was last observed.",
          "type": "array",
          "items": {
            "$ref": "TrafficTarget"
          }
        }
      },
      "description": "RouteStatus communicates the observed state of the Route (from the controller)."
    },
    "DomainMappingSpec": {
      "id": "DomainMappingSpec",
      "description": "The desired state of the Domain Mapping.",
      "type": "object",
      "properties": {
        "certificateMode": {
          "enum": [
            "CERTIFICATE_MODE_UNSPECIFIED",
            "NONE",
            "AUTOMATIC"
          ],
          "description": "The mode of the certificate.",
          "enumDescriptions": [
            "",
            "Do not provision an HTTPS certificate.",
            "Automatically provisions an HTTPS certificate via GoogleCA."
          ],
          "type": "string"
        },
        "routeName": {
          "description": "The name of the Knative Route that this DomainMapping applies to. The route must exist.",
          "type": "string"
        },
        "forceOverride": {
          "type": "boolean",
          "description": "If set, the mapping will override any mapping set before this spec was set. It is recommended that the user leaves this empty to receive an error warning about a potential conflict and only set it once the respective UI has given such a warning."
        }
      }
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "TaskTemplateSpec": {
      "properties": {
        "spec": {
          "$ref": "TaskSpec",
          "description": "Optional. Specification of the desired behavior of the task."
        }
      },
      "id": "TaskTemplateSpec",
      "type": "object",
      "description": "TaskTemplateSpec describes the data a task should have when created from a template."
    },
    "ListRevisionsResponse": {
      "type": "object",
      "id": "ListRevisionsResponse",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"RevisionList\".",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Revision"
          },
          "description": "List of Revisions."
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this revision list."
        }
      },
      "description": "ListRevisionsResponse is a list of Revision resources."
    },
    "TaskAttemptResult": {
      "type": "object",
      "properties": {
        "exitCode": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The exit code of this attempt. This may be unset if the container was unable to exit cleanly with a code due to some other failure. See status field for possible failure details."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "Optional. The status of this attempt. If the status code is OK, then the attempt succeeded."
        }
      },
      "id": "TaskAttemptResult",
      "description": "Result of a task attempt."
    },
    "ConfigurationStatus": {
      "type": "object",
      "id": "ConfigurationStatus",
      "properties": {
        "conditions": {
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "type": "array",
          "description": "Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world."
        },
        "observedGeneration": {
          "format": "int32",
          "description": "ObservedGeneration is the 'Generation' of the Configuration that was last processed by the controller. The observed generation is updated even if the controller failed to process the spec and create the Revision. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation, and the Ready condition's status is True or False.",
          "type": "integer"
        },
        "latestCreatedRevisionName": {
          "description": "LatestCreatedRevisionName is the last revision that was created from this Configuration. It might not be ready yet, so for the latest ready revision, use LatestReadyRevisionName.",
          "type": "string"
        },
        "latestReadyRevisionName": {
          "type": "string",
          "description": "LatestReadyRevisionName holds the name of the latest Revision stamped out from this Configuration that has had its \"Ready\" condition become \"True\"."
        }
      },
      "description": "ConfigurationStatus communicates the observed state of the Configuration (from the controller)."
    },
    "RevisionTemplate": {
      "description": "RevisionTemplateSpec describes the data a revision should have when created from a template.",
      "id": "RevisionTemplate",
      "properties": {
        "spec": {
          "$ref": "RevisionSpec",
          "description": "RevisionSpec holds the desired state of the Revision (from the client)."
        },
        "metadata": {
          "$ref": "ObjectMeta",
          "description": "Optional metadata for this Revision, including labels and annotations. Name will be generated by the Configuration. The following annotation keys set properties of the created revision: * `autoscaling.knative.dev/minScale` sets the minimum number of instances. * `autoscaling.knative.dev/maxScale` sets the maximum number of instances. * `run.googleapis.com/cloudsql-instances` sets Cloud SQL connections. Multiple values should be comma separated. * `run.googleapis.com/vpc-access-connector` sets a Serverless VPC Access connector. * `run.googleapis.com/vpc-access-egress` sets VPC egress. Supported values are `all-traffic`, `all` (deprecated), and `private-ranges-only`. `all-traffic` and `all` provide the same functionality. `all` is deprecated but will continue to be supported. Prefer `all-traffic`."
        }
      },
      "type": "object"
    },
    "AuditConfig": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "TaskStatus": {
      "description": "TaskStatus represents the status of a task.",
      "type": "object",
      "properties": {
        "completionTime": {
          "description": "Optional. Represents time when the task was completed. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC.",
          "format": "google-datetime",
          "type": "string"
        },
        "index": {
          "format": "int32",
          "description": "Required. Index of the task, unique per execution, and beginning at 0.",
          "type": "integer"
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "description": "Optional. Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. Task-specific conditions include: * `Started`: `True` when the task has started to execute. * `Completed`: `True` when the task has succeeded. `False` when the task has failed."
        },
        "observedGeneration": {
          "format": "int32",
          "description": "Optional. The 'generation' of the task that was last processed by the controller.",
          "type": "integer"
        },
        "retried": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of times this task was retried. Instances are retried when they fail up to the maxRetries limit."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Represents time when the task started to run. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC."
        },
        "logUri": {
          "type": "string",
          "description": "Optional. URI where logs for this task can be found in Cloud Console."
        },
        "lastAttemptResult": {
          "description": "Optional. Result of the last attempt of this task.",
          "$ref": "TaskAttemptResult"
        }
      },
      "id": "TaskStatus"
    },
    "Execution": {
      "properties": {
        "metadata": {
          "description": "Optional. Standard object's metadata.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Optional. Specification of the desired behavior of an execution.",
          "$ref": "ExecutionSpec"
        },
        "kind": {
          "type": "string",
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Current status of an execution.",
          "$ref": "ExecutionStatus"
        },
        "apiVersion": {
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values.",
          "type": "string"
        }
      },
      "description": "Execution represents the configuration of a single execution. An execution is an immutable resource that references a container image which is run to completion.",
      "type": "object",
      "id": "Execution"
    },
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "description": "ListExecutionsResponse is a list of Executions resources.",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "Execution"
          },
          "type": "array",
          "description": "List of Executions."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"run.googleapis.com/v1\"."
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"ExecutionsList\"."
        },
        "metadata": {
          "description": "Metadata associated with this executions list.",
          "$ref": "ListMeta"
        }
      }
    },
    "Task": {
      "properties": {
        "status": {
          "description": "Output only. Current status of a task.",
          "readOnly": true,
          "$ref": "TaskStatus"
        },
        "apiVersion": {
          "type": "string",
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values."
        },
        "spec": {
          "description": "Optional. Specification of the desired behavior of a task.",
          "$ref": "TaskSpec"
        },
        "kind": {
          "type": "string",
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase."
        },
        "metadata": {
          "description": "Optional. Standard object's metadata.",
          "$ref": "ObjectMeta"
        }
      },
      "description": "Task represents a single run of a container to completion.",
      "id": "Task",
      "type": "object"
    },
    "Job": {
      "description": "Job represents the configuration of a single job, which references a container image which is run to completion.",
      "properties": {
        "spec": {
          "$ref": "JobSpec",
          "description": "Optional. Specification of the desired behavior of a job."
        },
        "status": {
          "description": "Output only. Current status of a job.",
          "readOnly": true,
          "$ref": "JobStatus"
        },
        "apiVersion": {
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Standard object's metadata.",
          "$ref": "ObjectMeta"
        },
        "kind": {
          "type": "string",
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase."
        }
      },
      "type": "object",
      "id": "Job"
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "ListRoutesResponse": {
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"serving.knative.dev/v1\"."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "metadata": {
          "description": "Metadata associated with this Route list.",
          "$ref": "ListMeta"
        },
        "items": {
          "items": {
            "$ref": "Route"
          },
          "description": "List of Routes.",
          "type": "array"
        },
        "kind": {
          "description": "The kind of this resource, in this case always \"RouteList\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListRoutesResponse",
      "description": "ListRoutesResponse is a list of Route resources."
    },
    "KeyToPath": {
      "properties": {
        "path": {
          "type": "string",
          "description": "The relative path of the file to map the key to. May not be an absolute path. May not contain the path element '..'. May not start with the string '..'."
        },
        "mode": {
          "format": "int32",
          "type": "integer",
          "description": "(Optional) Mode bits to use on this file, must be a value between 01 and 0777 (octal). If 0 or not set, the Volume's default mode will be used. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set."
        },
        "key": {
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest value, or an integer or a secret alias for a specific version. The key to project.",
          "type": "string"
        }
      },
      "id": "KeyToPath",
      "type": "object",
      "description": "Maps a string key to a path within a volume."
    },
    "ExecutionStatus": {
      "type": "object",
      "description": "ExecutionStatus represents the current state of an Execution.",
      "properties": {
        "completionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Represents the time that the execution was completed. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC. +optional"
        },
        "observedGeneration": {
          "description": "Optional. The 'generation' of the execution that was last processed by the controller.",
          "format": "int32",
          "type": "integer"
        },
        "failedCount": {
          "type": "integer",
          "description": "Optional. The number of tasks which reached phase Failed.",
          "format": "int32"
        },
        "succeededCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of tasks which reached phase Succeeded."
        },
        "retriedCount": {
          "description": "Optional. The number of tasks which have retried at least once.",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Represents the time that the execution started to run. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC."
        },
        "logUri": {
          "description": "Optional. URI where logs for this execution can be found in Cloud Console.",
          "type": "string"
        },
        "runningCount": {
          "format": "int32",
          "description": "Optional. The number of actively running tasks.",
          "type": "integer"
        },
        "conditions": {
          "description": "Optional. Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. Execution-specific conditions include: * `ResourcesAvailable`: `True` when underlying resources have been provisioned. * `Started`: `True` when the execution has started to execute. * `Completed`: `True` when the execution has succeeded. `False` when the execution has failed.",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          },
          "type": "array"
        },
        "cancelledCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of tasks which reached phase Cancelled."
        }
      },
      "id": "ExecutionStatus"
    },
    "Route": {
      "description": "Route is responsible for configuring ingress over a collection of Revisions. Some of the Revisions a Route distributes traffic over may be specified by referencing the Configuration responsible for creating them; in these cases the Route is additionally responsible for monitoring the Configuration for \"latest ready\" revision changes, and smoothly rolling out latest revisions. Cloud Run currently supports referencing a single Configuration to automatically deploy the \"latest ready\" Revision from that Configuration.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"serving.knative.dev/v1\"."
        },
        "kind": {
          "description": "The kind of this resource, in this case always \"Route\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this Route, including name, namespace, labels, and annotations.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "$ref": "RouteSpec",
          "description": "Spec holds the desired state of the Route (from the client)."
        },
        "status": {
          "$ref": "RouteStatus",
          "description": "Status communicates the observed state of the Route (from the controller)."
        }
      },
      "id": "Route"
    },
    "GRPCAction": {
      "type": "object",
      "id": "GRPCAction",
      "description": "GRPCAction describes an action involving a GRPC port.",
      "properties": {
        "service": {
          "description": "Service is the name of the service to place in the gRPC HealthCheckRequest. If this is not specified, the default behavior is defined by gRPC.",
          "type": "string"
        },
        "port": {
          "description": "Port number of the gRPC service. Number must be in the range 1 to 65535.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ResourceRequirements": {
      "description": "ResourceRequirements describes the compute resource requirements.",
      "id": "ResourceRequirements",
      "properties": {
        "requests": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Requests describes the minimum amount of compute resources required. Only `cpu` and `memory` are supported. If Requests is omitted for a container, it defaults to Limits if that is explicitly specified, otherwise to an implementation-defined value. * For supported 'cpu' values, go to https://cloud.google.com/run/docs/configuring/cpu. * For supported 'memory' values and syntax, go to https://cloud.google.com/run/docs/configuring/memory-limits"
        },
        "limits": {
          "description": "Limits describes the maximum amount of compute resources allowed. Only 'cpu' and 'memory' keys are supported. * For supported 'cpu' values, go to https://cloud.google.com/run/docs/configuring/cpu. * For supported 'memory' values and syntax, go to https://cloud.google.com/run/docs/configuring/memory-limits",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ResourceRecord": {
      "properties": {
        "name": {
          "description": "Relative name of the object affected by this record. Only applicable for `CNAME` records. Example: 'www'.",
          "type": "string"
        },
        "rrdata": {
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1).",
          "type": "string"
        },
        "type": {
          "description": "Resource record type. Example: `AAAA`.",
          "type": "string",
          "enumDescriptions": [
            "An unknown resource record.",
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ],
          "enum": [
            "RECORD_TYPE_UNSPECIFIED",
            "A",
            "AAAA",
            "CNAME"
          ]
        }
      },
      "description": "A DNS resource record.",
      "id": "ResourceRecord",
      "type": "object"
    },
    "Revision": {
      "id": "Revision",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"Revision\"."
        },
        "status": {
          "description": "Status communicates the observed state of the Revision (from the controller).",
          "$ref": "RevisionStatus"
        },
        "metadata": {
          "description": "Metadata associated with this Revision, including name, namespace, labels, and annotations.",
          "$ref": "ObjectMeta"
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"serving.knative.dev/v1\"."
        },
        "spec": {
          "$ref": "RevisionSpec",
          "description": "Spec holds the desired state of the Revision (from the client)."
        }
      },
      "description": "Revision is an immutable snapshot of code and configuration. A revision references a container image. Revisions are created by updates to a Configuration. See also: https://github.com/knative/specs/blob/main/specs/serving/overview.md#revision",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      }
    },
    "OwnerReference": {
      "id": "OwnerReference",
      "type": "object",
      "properties": {
        "blockOwnerDeletion": {
          "type": "boolean",
          "description": "This is not supported or used by Cloud Run."
        },
        "name": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "This is not supported or used by Cloud Run."
        },
        "controller": {
          "type": "boolean",
          "description": "This is not supported or used by Cloud Run."
        },
        "uid": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is not supported or used by Cloud Run."
        }
      },
      "description": "This is not supported or used by Cloud Run."
    },
    "ExecutionReference": {
      "type": "object",
      "id": "ExecutionReference",
      "description": "Reference to an Execution. Use /Executions.GetExecution with the given name to get full execution including the latest status.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the execution."
        },
        "completionTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Completion timestamp of the execution."
        },
        "creationTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Creation timestamp of the execution."
        }
      }
    },
    "DomainMapping": {
      "id": "DomainMapping",
      "properties": {
        "status": {
          "$ref": "DomainMappingStatus",
          "description": "The current status of the DomainMapping."
        },
        "metadata": {
          "description": "Metadata associated with this BuildTemplate.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "$ref": "DomainMappingSpec",
          "description": "The spec for this DomainMapping."
        },
        "apiVersion": {
          "description": "The API version for this call such as \"domains.cloudrun.com/v1\".",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource, in this case \"DomainMapping\"."
        }
      },
      "description": "Resource to hold the state and status of a user's domain mapping. NOTE: This resource is currently in Beta.",
      "type": "object"
    },
    "RouteSpec": {
      "id": "RouteSpec",
      "description": "RouteSpec holds the desired state of the Route (from the client).",
      "properties": {
        "traffic": {
          "description": "Traffic specifies how to distribute traffic over a collection of Knative Revisions and Configurations. Cloud Run currently supports a single configurationName.",
          "type": "array",
          "items": {
            "$ref": "TrafficTarget"
          }
        }
      },
      "type": "object"
    },
    "StatusDetails": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name attribute of the resource associated with the status StatusReason (when there is a single name which can be described).",
          "type": "string"
        },
        "kind": {
          "description": "The kind attribute of the resource associated with the status StatusReason. On some operations may differ from the requested resource Kind.",
          "type": "string"
        },
        "retryAfterSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "If specified, the time in seconds before the operation should be retried. Some errors may indicate the client must take an alternate action - for those errors this field may indicate how long to wait before taking the alternate action."
        },
        "group": {
          "description": "The group attribute of the resource associated with the status StatusReason.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "UID of the resource. (when there is a single resource which can be described)."
        },
        "causes": {
          "items": {
            "$ref": "StatusCause"
          },
          "description": "The Causes array includes more details associated with the StatusReason failure. Not all StatusReasons may provide detailed causes.",
          "type": "array"
        }
      },
      "description": "StatusDetails is a set of additional properties that MAY be set by the server to provide additional information about a response. The Reason field of a Status object defines what attributes will be set. Clients must ignore fields that do not match the defined type of each attribute, and should assume that any attribute may be empty, invalid, or under defined.",
      "id": "StatusDetails"
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "type": "object",
      "properties": {
        "runAsUser": {
          "format": "int32",
          "description": "The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence.",
          "type": "integer"
        }
      },
      "description": "Not supported by Cloud Run. SecurityContext holds security configuration that will be applied to a container. Some fields are present in both SecurityContext and PodSecurityContext. When both are set, the values in SecurityContext take precedence."
    },
    "ExecutionTemplateSpec": {
      "type": "object",
      "id": "ExecutionTemplateSpec",
      "properties": {
        "metadata": {
          "description": "Optional. Optional metadata for this Execution, including labels and annotations. The following annotation keys set properties of the created execution: * `run.googleapis.com/cloudsql-instances` sets Cloud SQL connections. Multiple values should be comma separated. * `run.googleapis.com/vpc-access-connector` sets a Serverless VPC Access connector. * `run.googleapis.com/vpc-access-egress` sets VPC egress. Supported values are `all-traffic`, `all` (deprecated), and `private-ranges-only`. `all-traffic` and `all` provide the same functionality. `all` is deprecated but will continue to be supported. Prefer `all-traffic`.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Required. ExecutionSpec holds the desired configuration for executions of this job.",
          "$ref": "ExecutionSpec"
        }
      },
      "description": "ExecutionTemplateSpec describes the metadata and spec an Execution should have when created from a job."
    },
    "RunJobRequest": {
      "id": "RunJobRequest",
      "type": "object",
      "properties": {
        "overrides": {
          "description": "Optional. Private preview feature. Currently only available by invitation. Overrides specification for a given execution of a job. If provided, overrides will be applied to update the execution or task spec.",
          "$ref": "Overrides"
        }
      },
      "description": "Request message for creating a new execution of a job."
    },
    "ObjectMeta": {
      "id": "ObjectMeta",
      "type": "object",
      "description": "k8s.io.apimachinery.pkg.apis.meta.v1.ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create.",
      "properties": {
        "namespace": {
          "description": "Required. Defines the space within each name must be unique within a Cloud Run region. In Cloud Run, it must be project ID or number.",
          "type": "string"
        },
        "clusterName": {
          "description": "Not supported by Cloud Run",
          "type": "string"
        },
        "finalizers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Not supported by Cloud Run"
        },
        "deletionGracePeriodSeconds": {
          "description": "Not supported by Cloud Run",
          "format": "int32",
          "type": "integer"
        },
        "generation": {
          "format": "int32",
          "description": "A system-provided sequence number representing a specific generation of the desired state.",
          "type": "integer"
        },
        "labels": {
          "description": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and routes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ownerReferences": {
          "description": "Not supported by Cloud Run",
          "type": "array",
          "items": {
            "$ref": "OwnerReference"
          }
        },
        "uid": {
          "type": "string",
          "description": "Unique, system-generated identifier for this resource."
        },
        "resourceVersion": {
          "type": "string",
          "description": "Opaque, system-generated value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server or omit the value to disable conflict-detection."
        },
        "deletionTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The read-only soft deletion timestamp for this resource. In Cloud Run, users are not able to set this field. Instead, they must call the corresponding Delete API."
        },
        "name": {
          "description": "Required. The name of the resource. Name is required when creating top-level resources (Service, Job), must be unique within a Cloud Run project/region, and cannot be changed once created.",
          "type": "string"
        },
        "annotations": {
          "description": "Unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. In Cloud Run, annotations with 'run.googleapis.com/' and 'autoscaling.knative.dev' are restricted, and the accepted annotations will be different depending on the resource type. * `autoscaling.knative.dev/maxScale`: Revision. * `autoscaling.knative.dev/minScale`: Revision. * `run.googleapis.com/binary-authorization-breakglass`: Service, Job, * `run.googleapis.com/binary-authorization`: Service, Job, Execution. * `run.googleapis.com/client-name`: All resources. * `run.googleapis.com/cloudsql-instances`: Revision, Execution. * `run.googleapis.com/container-dependencies`: Revision. * `run.googleapis.com/cpu-throttling`: Revision. * `run.googleapis.com/custom-audiences`: Service. * `run.googleapis.com/description`: Service. * `run.googleapis.com/encryption-key-shutdown-hours`: Revision * `run.googleapis.com/encryption-key`: Revision, Execution. * `run.googleapis.com/execution-environment`: Revision, Execution. * `run.googleapis.com/gc-traffic-tags`: Service. * `run.googleapis.com/ingress`: Service. * `run.googleapis.com/launch-stage`: Service, Job. * `run.googleapis.com/network-interfaces`: Revision, Execution. * `run.googleapis.com/post-key-revocation-action-type`: Revision. * `run.googleapis.com/secrets`: Revision, Execution. * `run.googleapis.com/secure-session-agent`: Revision. * `run.googleapis.com/sessionAffinity`: Revision. * `run.googleapis.com/startup-cpu-boost`: Revision. * `run.googleapis.com/vpc-access-connector`: Revision, Execution. * `run.googleapis.com/vpc-access-egress`: Revision, Execution.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "selfLink": {
          "description": "URL representing this object.",
          "type": "string"
        },
        "generateName": {
          "description": "Not supported by Cloud Run",
          "type": "string"
        },
        "creationTimestamp": {
          "format": "google-datetime",
          "description": "UTC timestamp representing the server time when this object was created.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRunV1Condition": {
      "type": "object",
      "properties": {
        "reason": {
          "description": "Optional. One-word CamelCase reason for the condition's last transition. These are intended to be stable, unique values which the client may use to trigger error handling logic, whereas messages which may be changed later by the server.",
          "type": "string"
        },
        "lastTransitionTime": {
          "type": "string",
          "description": "Optional. Last time the condition transitioned from one status to another.",
          "format": "google-datetime"
        },
        "status": {
          "description": "Status of the condition, one of True, False, Unknown.",
          "type": "string"
        },
        "message": {
          "description": "Optional. Human readable message indicating details about the current status.",
          "type": "string"
        },
        "severity": {
          "description": "Optional. How to interpret this condition. One of Error, Warning, or Info. Conditions of severity Info do not contribute to resource readiness.",
          "type": "string"
        },
        "type": {
          "description": "type is used to communicate the status of the reconciliation process. Types common to all resources include: * \"Ready\" or \"Completed\": True when the Resource is ready.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV1Condition",
      "description": "Conditions show the status of reconciliation progress on a given resource. Most resource use a top-level condition type \"Ready\" or \"Completed\" to show overall status with other conditions to checkpoint each stage of reconciliation. Note that if metadata.Generation does not equal status.ObservedGeneration, the conditions shown may not be relevant for the current spec."
    },
    "Container": {
      "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments may be supplied by the system to the container at runtime.",
      "id": "Container",
      "type": "object",
      "properties": {
        "livenessProbe": {
          "description": "Periodic probe of container liveness. Container will be restarted if the probe fails.",
          "$ref": "Probe"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Arguments to the entrypoint. The docker image's CMD is used if this is not provided. Variable references are not supported in Cloud Run.",
          "type": "array"
        },
        "env": {
          "description": "List of environment variables to set in the container. EnvVar with duplicate names are generally allowed; if referencing a secret, the name must be unique for the container. For non-secret EnvVar names, the Container will only get the last-declared one.",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the container specified as a DNS_LABEL (RFC 1123)."
        },
        "image": {
          "description": "Required. Name of the container image in Dockerhub, Google Artifact Registry, or Google Container Registry. If the host is not provided, Dockerhub is assumed.",
          "type": "string"
        },
        "imagePullPolicy": {
          "type": "string",
          "description": "Image pull policy. One of Always, Never, IfNotPresent. Defaults to Always if :latest tag is specified, or IfNotPresent otherwise."
        },
        "startupProbe": {
          "description": "Startup probe of application within the container. All other probes are disabled if a startup probe is provided, until it succeeds. Container will not receive traffic if the probe fails. If not provided, a default startup probe with TCP socket action is used.",
          "$ref": "Probe"
        },
        "workingDir": {
          "type": "string",
          "description": "Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image."
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Not supported by Cloud Run."
        },
        "terminationMessagePolicy": {
          "description": "Indicate how the termination message should be populated. File will use the contents of terminationMessagePath to populate the container status message on both success and failure. FallbackToLogsOnError will use the last chunk of container log output if the termination message file is empty and the container exited with an error. The log output is limited to 2048 bytes or 80 lines, whichever is smaller. Defaults to File. Cannot be updated.",
          "type": "string"
        },
        "envFrom": {
          "description": "Not supported by Cloud Run.",
          "items": {
            "$ref": "EnvFromSource"
          },
          "type": "array"
        },
        "terminationMessagePath": {
          "type": "string",
          "description": "Path at which the file to which the container's termination message will be written is mounted into the container's filesystem. Message written is intended to be brief final status, such as an assertion failure message. Will be truncated by the node if greater than 4096 bytes. The total message length across all containers will be limited to 12kb. Defaults to /dev/termination-log."
        },
        "resources": {
          "$ref": "ResourceRequirements",
          "description": "Compute Resources required by this container."
        },
        "command": {
          "type": "array",
          "description": "Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided. Variable references are not supported in Cloud Run.",
          "items": {
            "type": "string"
          }
        },
        "readinessProbe": {
          "description": "Not supported by Cloud Run.",
          "$ref": "Probe"
        },
        "volumeMounts": {
          "type": "array",
          "description": "Volume to mount into the container's filesystem. Only supports SecretVolumeSources. Pod volumes to mount into the container's filesystem.",
          "items": {
            "$ref": "VolumeMount"
          }
        },
        "ports": {
          "items": {
            "$ref": "ContainerPort"
          },
          "description": "List of ports to expose from the container. Only a single port can be specified. The specified ports must be listening on all interfaces (0.0.0.0) within the container to be accessible. If omitted, a port number will be chosen and passed to the container through the PORT environment variable for the container to listen on.",
          "type": "array"
        }
      }
    },
    "VolumeMount": {
      "properties": {
        "readOnly": {
          "description": "Only true is accepted for Secret Volumes. Defaults to true for Secrets Volumes.",
          "type": "boolean"
        },
        "mountPath": {
          "description": "Required. Path within the container at which the volume should be mounted. Must not contain ':'.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the volume. There must be a corresponding Volume with the same name."
        },
        "subPath": {
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VolumeMount",
      "description": "VolumeMount describes a mounting of a Volume within a container."
    },
    "ListTasksResponse": {
      "description": "ListTasksResponse is a list of Tasks resources.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "items": {
          "type": "array",
          "description": "List of Tasks.",
          "items": {
            "$ref": "Task"
          }
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this tasks list."
        },
        "kind": {
          "description": "The kind of this resource, in this case \"TasksList\".",
          "type": "string"
        },
        "apiVersion": {
          "description": "The API version for this call such as \"run.googleapis.com/v1\".",
          "type": "string"
        }
      },
      "id": "ListTasksResponse"
    },
    "EmptyDirVolumeSource": {
      "type": "object",
      "id": "EmptyDirVolumeSource",
      "properties": {
        "medium": {
          "type": "string",
          "description": "The medium on which the data is stored. The default is \"\" which means to use the node's default medium. Must be an empty string (default) or Memory. More info: https://kubernetes.io/docs/concepts/storage/volumes#emptydir"
        },
        "sizeLimit": {
          "type": "string",
          "description": "Limit on the storage usable by this EmptyDir volume. The size limit is also applicable for memory medium. The maximum usage on memory medium EmptyDir would be the minimum value between the SizeLimit specified here and the sum of memory limits of all containers in a pod. This field's values are of the 'Quantity' k8s type: https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/quantity/. The default is nil which means that the limit is undefined. More info: https://kubernetes.io/docs/concepts/storage/volumes/#emptydir"
        }
      },
      "description": "Ephemeral storage which can be backed by real disks (HD, SSD), network storage or memory (i.e. tmpfs). For now only in memory (tmpfs) is supported. It is ephemeral in the sense that when the sandbox is taken down, the data is destroyed with it (it does not persist across sandbox runs)."
    },
    "Volume": {
      "id": "Volume",
      "properties": {
        "secret": {
          "$ref": "SecretVolumeSource",
          "description": "The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secretName."
        },
        "name": {
          "description": "Volume's name. In Cloud Run Fully Managed, the name 'cloudsql' is reserved.",
          "type": "string"
        },
        "emptyDir": {
          "$ref": "EmptyDirVolumeSource",
          "description": "Ephemeral storage used as a shared volume."
        },
        "configMap": {
          "$ref": "ConfigMapVolumeSource",
          "description": "Not supported in Cloud Run."
        }
      },
      "description": "Volume represents a named volume in a container.",
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        }
      }
    },
    "ConfigMapEnvSource": {
      "id": "ConfigMapEnvSource",
      "properties": {
        "localObjectReference": {
          "deprecated": true,
          "$ref": "LocalObjectReference",
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead."
        },
        "name": {
          "type": "string",
          "description": "The ConfigMap to select from."
        },
        "optional": {
          "description": "Specify whether the ConfigMap must be defined.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Not supported by Cloud Run. ConfigMapEnvSource selects a ConfigMap to populate the environment variables with. The contents of the target ConfigMap's Data field will represent the key-value pairs as environment variables."
    },
    "ListConfigurationsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1\".",
          "type": "string"
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this Configuration list."
        },
        "items": {
          "type": "array",
          "description": "List of Configurations.",
          "items": {
            "$ref": "Configuration"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"ConfigurationList\"."
        }
      },
      "id": "ListConfigurationsResponse",
      "type": "object",
      "description": "ListConfigurationsResponse is a list of Configuration resources."
    },
    "ListMeta": {
      "id": "ListMeta",
      "properties": {
        "selfLink": {
          "description": "URL representing this object.",
          "type": "string"
        },
        "continue": {
          "description": "Continuation token is a value emitted when the count of items is larger than the user/system limit. To retrieve the next page of items, pass the value of `continue` as the next request's `page_token`.",
          "type": "string"
        },
        "resourceVersion": {
          "type": "string",
          "description": "Opaque string that identifies the server's internal version of this object. It can be used by clients to determine when objects have changed. If the message is passed back to the server, it must be left unmodified."
        }
      },
      "description": "Metadata for synthetic resources like List. In Cloud Run, all List Resources Responses will have a ListMeta instead of ObjectMeta.",
      "type": "object"
    },
    "DomainMappingStatus": {
      "id": "DomainMappingStatus",
      "type": "object",
      "properties": {
        "url": {
          "description": "Optional. Not supported by Cloud Run.",
          "type": "string"
        },
        "observedGeneration": {
          "type": "integer",
          "format": "int32",
          "description": "ObservedGeneration is the 'Generation' of the DomainMapping that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False."
        },
        "mappedRouteName": {
          "description": "The name of the route that the mapping currently points to.",
          "type": "string"
        },
        "conditions": {
          "description": "Array of observed DomainMappingConditions, indicating the current state of the DomainMapping.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        },
        "resourceRecords": {
          "items": {
            "$ref": "ResourceRecord"
          },
[...]
