{
  "discoveryVersion": "v1",
  "baseUrl": "https://run.googleapis.com/",
  "name": "run",
  "id": "run:v2",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "protocol": "rest",
  "canonicalName": "Cloud Run",
  "rootUrl": "https://run.googleapis.com/",
  "schemas": {
    "GoogleCloudRunV2TaskAttemptResult": {
      "description": "Result of a task attempt.",
      "id": "GoogleCloudRunV2TaskAttemptResult",
      "properties": {
        "status": {
          "description": "Output only. The status of this attempt. If the status code is OK, then the attempt succeeded.",
          "$ref": "GoogleRpcStatus",
          "readOnly": true
        },
        "exitCode": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The exit code of this attempt. This may be unset if the container was unable to exit cleanly with a code due to some other failure. See status field for possible failure details."
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2VersionToPath": {
      "id": "GoogleCloudRunV2VersionToPath",
      "description": "VersionToPath maps a specific version of a secret to a relative file to mount to, relative to VolumeMount's mount_path.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest value or an integer for a specific version."
        },
        "path": {
          "type": "string",
          "description": "Required. The relative path of the secret in the container."
        },
        "mode": {
          "description": "Integer octal mode bits to use on this file, must be a value between 01 and 0777 (octal). If 0 or not set, the Volume's default mode will be used. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2Probe": {
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
      "properties": {
        "initialDelaySeconds": {
          "description": "Number of seconds after the container has started before the probe is initiated. Defaults to 0 seconds. Minimum value is 0. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes",
          "format": "int32",
          "type": "integer"
        },
        "timeoutSeconds": {
          "description": "Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. Maximum value is 3600. Must be smaller than period_seconds. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes",
          "type": "integer",
          "format": "int32"
        },
        "failureThreshold": {
          "format": "int32",
          "description": "Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1.",
          "type": "integer"
        },
        "periodSeconds": {
          "format": "int32",
          "description": "How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. Must be greater or equal than timeout_seconds.",
          "type": "integer"
        },
        "httpGet": {
          "$ref": "GoogleCloudRunV2HTTPGetAction",
          "description": "HTTPGet specifies the http request to perform. Exactly one of HTTPGet or TCPSocket must be specified."
        },
        "tcpSocket": {
          "description": "TCPSocket specifies an action involving a TCP port. Exactly one of HTTPGet or TCPSocket must be specified.",
          "$ref": "GoogleCloudRunV2TCPSocketAction"
        }
      },
      "id": "GoogleCloudRunV2Probe",
      "type": "object"
    },
    "GoogleCloudRunV2Task": {
      "description": "Task represents a single run of a container to completion.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "KRM-style labels for the resource. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels Cloud Run will populate some labels with 'run.googleapis.com' or 'serving.knative.dev' namespaces. Those labels are read-only, and user changes will not be preserved."
        },
        "containers": {
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          },
          "type": "array",
          "description": "Holds the single container that defines the unit of execution for this task."
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "readOnly": true,
          "description": "Output only. The Condition of this Task, containing its readiness status, and detailed error information in case it did not reach the desired state."
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string"
        },
        "volumes": {
          "type": "array",
          "description": "A list of Volumes to make available to containers.",
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          }
        },
        "reconciling": {
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true,
          "type": "boolean"
        },
        "vpcAccess": {
          "description": "Output only. VPC Access configuration to use for this Task. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc.",
          "readOnly": true,
          "$ref": "GoogleCloudRunV2VpcAccess"
        },
        "executionEnvironment": {
          "type": "string",
          "description": "The execution environment being used to host this Task.",
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ],
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ]
        },
        "serviceAccount": {
          "type": "string",
          "description": "Email address of the IAM service account associated with the Task of a Job. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last-modified time.",
          "type": "string",
          "format": "google-datetime"
        },
        "encryptionKey": {
          "description": "Output only. A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek",
          "readOnly": true,
          "type": "string"
        },
        "index": {
          "description": "Output only. Index of the Task, unique per execution, and beginning at 0.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Max allowed time duration the Task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "KRM-style annotations for the resource.",
          "type": "object"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server assigned unique identifier for the Task. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Represents time when the task started to run. It is not guaranteed to be set in happens-before order across separate operations."
        },
        "retried": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of times this Task was retried. Tasks are retried when they fail up to the maxRetries limit."
        },
        "generation": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "type": "string"
        },
        "execution": {
          "readOnly": true,
          "description": "Output only. The name of the parent Execution.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Represents time when the task was created by the job controller. It is not guaranteed to be set in happens-before order across separate operations."
        },
        "expireTime": {
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "observedGeneration": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The generation of this Task. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true
        },
        "job": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the parent Job."
        },
        "completionTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Represents time when the Task was completed. It is not guaranteed to be set in happens-before order across separate operations."
        },
        "maxRetries": {
          "description": "Number of retries allowed per Task, before marking this Task failed.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique name of this Task."
        },
        "lastAttemptResult": {
          "readOnly": true,
          "$ref": "GoogleCloudRunV2TaskAttemptResult",
          "description": "Output only. Result of the last attempt of this Task."
        }
      },
      "id": "GoogleCloudRunV2Task",
      "type": "object"
    },
    "GoogleCloudRunV2ResourceRequirements": {
      "description": "ResourceRequirements describes the compute resource requirements.",
      "properties": {
        "cpuIdle": {
          "type": "boolean",
          "description": "Determines whether CPU should be throttled or not outside of requests."
        },
        "limits": {
          "description": "Only memory and CPU are supported. Note: The only supported values for CPU are '1', '2', and '4'. Setting 4 CPU requires at least 2Gi of memory. The values of the map is string form of the 'quantity' k8s type: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2ResourceRequirements"
    },
    "GoogleCloudRunV2TrafficTargetStatus": {
      "id": "GoogleCloudRunV2TrafficTargetStatus",
      "type": "object",
      "properties": {
        "revision": {
          "description": "Revision to which this traffic is sent.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ],
          "enum": [
            "TRAFFIC_TARGET_ALLOCATION_TYPE_UNSPECIFIED",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_REVISION"
          ],
          "type": "string",
          "description": "The allocation type for this traffic target."
        },
        "tag": {
          "type": "string",
          "description": "Indicates the string used in the URI to exclusively reference this target."
        },
        "percent": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies percent of the traffic to this Revision."
        },
        "uri": {
          "description": "Displays the target URI.",
          "type": "string"
        }
      },
      "description": "Represents the observed state of a single `TrafficTarget` entry."
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "GoogleCloudRunV2CloudSqlInstance": {
      "type": "object",
      "description": "Represents a specific Cloud SQL instance.",
      "properties": {
        "instances": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Cloud SQL instance connection names, as can be found in https://console.cloud.google.com/sql/instances. Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run. Format: {project}:{location}:{instance}"
        }
      },
      "id": "GoogleCloudRunV2CloudSqlInstance"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudRunV2ListExecutionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating there are more items than page_size. Use it in the next ListExecutions request to continue."
        },
        "executions": {
          "type": "array",
          "description": "The resulting list of Executions.",
          "items": {
            "$ref": "GoogleCloudRunV2Execution"
          }
        }
      },
      "description": "Response message containing a list of Executions.",
      "id": "GoogleCloudRunV2ListExecutionsResponse",
      "type": "object"
    },
    "GoogleCloudRunV2TCPSocketAction": {
      "description": "TCPSocketAction describes an action based on opening a socket",
      "type": "object",
      "id": "GoogleCloudRunV2TCPSocketAction",
      "properties": {
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Port number to access on the container. Must be in the range 1 to 65535. If not specified, defaults to 8080."
        }
      }
    },
    "GoogleCloudRunV2TrafficTarget": {
      "properties": {
        "revision": {
          "type": "string",
          "description": "Revision to which to send this portion of traffic, if traffic allocation is by revision."
        },
        "percent": {
          "format": "int32",
          "description": "Specifies percent of the traffic to this Revision. This defaults to zero if unspecified.",
          "type": "integer"
        },
        "tag": {
          "description": "Indicates a string to be part of the URI to exclusively reference this target.",
          "type": "string"
        },
        "type": {
          "description": "The allocation type for this traffic target.",
          "enum": [
            "TRAFFIC_TARGET_ALLOCATION_TYPE_UNSPECIFIED",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_REVISION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ]
        }
      },
      "description": "Holds a single traffic routing entry for the Service. Allocations can be done to a specific Revision name, or pointing to the latest Ready Revision.",
      "type": "object",
      "id": "GoogleCloudRunV2TrafficTarget"
    },
    "GoogleCloudRunV2EnvVar": {
      "id": "GoogleCloudRunV2EnvVar",
      "properties": {
        "value": {
          "type": "string",
          "description": "Variable references $(VAR_NAME) are expanded using the previous defined environment variables in the container and any route environment variables. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. Defaults to \"\", and the maximum length is 32768 bytes."
        },
        "valueSource": {
          "description": "Source for the environment variable's value.",
          "$ref": "GoogleCloudRunV2EnvVarSource"
        },
        "name": {
          "description": "Required. Name of the environment variable. Must be a C_IDENTIFIER, and mnay not exceed 32768 characters.",
          "type": "string"
        }
      },
      "description": "EnvVar represents an environment variable present in a Container.",
      "type": "object"
    },
    "GoogleCloudRunV2EnvVarSource": {
      "id": "GoogleCloudRunV2EnvVarSource",
      "description": "EnvVarSource represents a source for the value of an EnvVar.",
      "properties": {
        "secretKeyRef": {
          "description": "Selects a secret and a specific version from Cloud Secret Manager.",
          "$ref": "GoogleCloudRunV2SecretKeySelector"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2SecretVolumeSource": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2VersionToPath"
          },
          "description": "If unspecified, the volume will expose a file whose name is the secret, relative to VolumeMount.mount_path. If specified, the key will be used as the version to fetch from Cloud Secret Manager and the path will be the name of the file exposed in the volume. When items are defined, they must specify a path and a version."
        },
        "secret": {
          "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret} if the secret is in the same project. projects/{project}/secrets/{secret} if the secret is in a different project.",
          "type": "string"
        },
        "defaultMode": {
          "format": "int32",
          "type": "integer",
          "description": "Integer representation of mode bits to use on created files by default. Must be a value between 0000 and 0777 (octal), defaulting to 0444. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set. This might be in conflict with other options that affect the file mode, like fsGroup, and as a result, other mode bits could be set."
        }
      },
      "description": "The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secret.",
      "type": "object",
      "id": "GoogleCloudRunV2SecretVolumeSource"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "GoogleIamV1Binding",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2TaskTemplate": {
      "id": "GoogleCloudRunV2TaskTemplate",
      "description": "TaskTemplate describes the data a task should have when created from a template.",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "Email address of the IAM service account associated with the Task of a Job. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account.",
          "type": "string"
        },
        "volumes": {
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          },
          "description": "A list of Volumes to make available to containers.",
          "type": "array"
        },
        "maxRetries": {
          "type": "integer",
          "description": "Number of retries allowed per Task, before marking this Task failed.",
          "format": "int32"
        },
        "encryptionKey": {
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek",
          "type": "string"
        },
        "timeout": {
          "description": "Max allowed time duration the Task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout.",
          "format": "google-duration",
          "type": "string"
        },
        "containers": {
          "description": "Holds the single container that defines the unit of execution for this task.",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          },
          "type": "array"
        },
        "vpcAccess": {
          "description": "VPC Access configuration to use for this Task. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc.",
          "$ref": "GoogleCloudRunV2VpcAccess"
        },
        "executionEnvironment": {
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ],
          "description": "The execution environment being used to host this Task.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ]
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "properties": {
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "GoogleCloudRunV2RevisionTemplate": {
      "properties": {
        "volumes": {
          "description": "A list of Volumes to make available to containers.",
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          },
          "type": "array"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          },
          "description": "Holds the single container that defines the unit of execution for this Revision."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "KRM-style annotations for the resource."
        },
        "serviceAccount": {
          "description": "Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has. If not provided, the revision will use the project's default service account.",
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "description": "Max allowed time for an instance to respond to a request.",
          "format": "google-duration"
        },
        "revision": {
          "description": "The unique name for the revision. If this field is omitted, it will be automatically generated based on the Service name.",
          "type": "string"
        },
        "labels": {
          "description": "KRM-style labels for the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "maxInstanceRequestConcurrency": {
          "type": "integer",
          "description": "Sets the maximum number of requests that each serving instance can receive.",
          "format": "int32"
        },
        "vpcAccess": {
          "description": "VPC Access configuration to use for this Revision. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc.",
          "$ref": "GoogleCloudRunV2VpcAccess"
        },
        "scaling": {
          "$ref": "GoogleCloudRunV2RevisionScaling",
          "description": "Scaling settings for this Revision."
        },
        "encryptionKey": {
          "type": "string",
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek"
        },
        "executionEnvironment": {
          "type": "string",
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ],
          "description": "The sandbox environment to host this Revision.",
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2RevisionTemplate",
      "description": "RevisionTemplate describes the data a revision should have when created from a template."
    },
    "GoogleCloudRunV2Volume": {
      "properties": {
        "cloudSqlInstance": {
          "$ref": "GoogleCloudRunV2CloudSqlInstance",
          "description": "For Cloud SQL volumes, contains the specific instances that should be mounted. Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run."
        },
        "name": {
          "type": "string",
          "description": "Required. Volume's name."
        },
        "secret": {
          "description": "Secret represents a secret that should populate this volume. More info: https://kubernetes.io/docs/concepts/storage/volumes#secret",
          "$ref": "GoogleCloudRunV2SecretVolumeSource"
        }
      },
      "description": "Volume represents a named volume in a container.",
      "id": "GoogleCloudRunV2Volume",
      "type": "object"
    },
    "GoogleCloudRunV2HTTPHeader": {
      "description": "HTTPHeader describes a custom header to be used in HTTP probes",
      "id": "GoogleCloudRunV2HTTPHeader",
      "properties": {
        "name": {
          "description": "Required. The header field name",
          "type": "string"
        },
        "value": {
          "description": "The header field value",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2Container": {
      "type": "object",
      "properties": {
        "workingDir": {
          "description": "Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image.",
          "type": "string"
        },
        "image": {
          "type": "string",
          "description": "Required. URL of the Container image in Google Container Registry or Google Artifact Registry. More info: https://kubernetes.io/docs/concepts/containers/images"
        },
        "livenessProbe": {
          "$ref": "GoogleCloudRunV2Probe",
          "description": "Periodic probe of container liveness. Container will be restarted if the probe fails. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes"
        },
        "resources": {
          "$ref": "GoogleCloudRunV2ResourceRequirements",
          "description": "Compute Resource requirements by this container. More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#resources"
        },
        "volumeMounts": {
          "description": "Volume to mount into the container's filesystem.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2VolumeMount"
          }
        },
        "ports": {
          "items": {
            "$ref": "GoogleCloudRunV2ContainerPort"
          },
          "description": "List of ports to expose from the container. Only a single port can be specified. The specified ports must be listening on all interfaces (0.0.0.0) within the container to be accessible. If omitted, a port number will be chosen and passed to the container through the PORT environment variable for the container to listen on.",
          "type": "array"
        },
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided. Variable references $(VAR_NAME) are expanded using the container's environment. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. More info: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell"
        },
        "startupProbe": {
          "description": "Startup probe of application within the container. All other probes are disabled if a startup probe is provided, until it succeeds. Container will not be added to service endpoints if the probe fails. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes",
          "$ref": "GoogleCloudRunV2Probe"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Arguments to the entrypoint. The docker image's CMD is used if this is not provided. Variable references $(VAR_NAME) are expanded using the container's environment. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. More info: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell",
          "type": "array"
        },
        "env": {
          "type": "array",
          "description": "List of environment variables to set in the container.",
          "items": {
            "$ref": "GoogleCloudRunV2EnvVar"
          }
        },
        "name": {
          "description": "Name of the container specified as a DNS_LABEL.",
          "type": "string"
        }
      },
      "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments may be supplied by the system to the container at runtime.",
      "id": "GoogleCloudRunV2Container"
    },
    "GoogleCloudRunV2BinaryAuthorization": {
      "properties": {
        "breakglassJustification": {
          "type": "string",
          "description": "If present, indicates to use Breakglass using this justification. If use_default is False, then it must be empty. For more information on breakglass, see https://cloud.google.com/binary-authorization/docs/using-breakglass"
        },
        "useDefault": {
          "description": "If True, indicates to use the default project's binary authorization policy. If False, binary authorization will be disabled.",
          "type": "boolean"
        }
      },
      "description": "Settings for Binary Authorization feature.",
      "id": "GoogleCloudRunV2BinaryAuthorization",
      "type": "object"
    },
    "GoogleCloudRunV2ContainerPort": {
      "properties": {
        "name": {
          "description": "If specified, used to specify which protocol to use. Allowed values are \"http1\" and \"h2c\".",
          "type": "string"
        },
        "containerPort": {
          "description": "Port number the container listens on. This must be a valid TCP port number, 0 \u003c container_port \u003c 65536.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudRunV2ContainerPort",
      "type": "object",
      "description": "ContainerPort represents a network port in a single container."
    },
    "GoogleCloudRunV2ListJobsResponse": {
      "description": "Response message containing a list of Jobs.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token indicating there are more items than page_size. Use it in the next ListJobs request to continue.",
          "type": "string"
        },
        "jobs": {
          "items": {
            "$ref": "GoogleCloudRunV2Job"
          },
          "type": "array",
          "description": "The resulting list of Jobs."
        }
      },
      "id": "GoogleCloudRunV2ListJobsResponse"
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2Condition": {
      "description": "Defines a status condition for a resource.",
      "id": "GoogleCloudRunV2Condition",
      "type": "object",
      "properties": {
        "executionReason": {
          "type": "string",
          "description": "A reason for the execution condition.",
          "enumDescriptions": [
            "Default value.",
            "Internal system error getting execution status. System will retry.",
            "A task reached its retry limit and the last attempt failed due to the user container exiting with a non-zero exit code.",
            "The execution was cancelled by users."
          ],
          "enum": [
            "EXECUTION_REASON_UNDEFINED",
            "JOB_STATUS_SERVICE_POLLING_ERROR",
            "NON_ZERO_EXIT_CODE",
            "CANCELLED"
          ]
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Transient state: Reconciliation has not started yet.",
            "Transient state: reconciliation is still in progress.",
            "Terminal state: Reconciliation did not succeed.",
            "Terminal state: Reconciliation completed successfully."
          ],
          "description": "State of the condition.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CONDITION_PENDING",
            "CONDITION_RECONCILING",
            "CONDITION_FAILED",
            "CONDITION_SUCCEEDED"
          ]
        },
        "reason": {
          "type": "string",
          "enum": [
            "COMMON_REASON_UNDEFINED",
            "UNKNOWN",
            "REVISION_FAILED",
            "PROGRESS_DEADLINE_EXCEEDED",
            "CONTAINER_MISSING",
            "CONTAINER_PERMISSION_DENIED",
            "CONTAINER_IMAGE_UNAUTHORIZED",
            "CONTAINER_IMAGE_AUTHORIZATION_CHECK_FAILED",
            "ENCRYPTION_KEY_PERMISSION_DENIED",
            "ENCRYPTION_KEY_CHECK_FAILED",
            "SECRETS_ACCESS_CHECK_FAILED",
            "WAITING_FOR_OPERATION",
            "IMMEDIATE_RETRY",
            "POSTPONED_RETRY",
            "INTERNAL"
          ],
          "enumDescriptions": [
            "Default value.",
            "Reason unknown. Further details will be in message.",
            "Revision creation process failed.",
            "Timed out waiting for completion.",
            "The container image path is incorrect.",
            "Insufficient permissions on the container image.",
            "Container image is not authorized by policy.",
            "Container image policy authorization check failed.",
            "Insufficient permissions on encryption key.",
            "Permission check on encryption key failed.",
            "At least one Access check on secrets failed.",
            "Waiting for operation to complete.",
            "System will retry immediately.",
            "System will retry later; current attempt failed.",
            "An internal error occurred. Further information may be in the message."
          ],
          "description": "A common (service-level) reason for this condition."
        },
        "lastTransitionTime": {
          "description": "Last time the condition transitioned from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "message": {
          "description": "Human readable message indicating details about the current status.",
          "type": "string"
        },
        "revisionReason": {
          "type": "string",
          "description": "A reason for the revision condition.",
          "enum": [
            "REVISION_REASON_UNDEFINED",
            "PENDING",
            "RESERVE",
            "RETIRED",
            "RETIRING",
            "RECREATING",
            "HEALTH_CHECK_CONTAINER_ERROR",
            "CUSTOMIZED_PATH_RESPONSE_PENDING",
            "MIN_INSTANCES_NOT_PROVISIONED",
            "ACTIVE_REVISION_LIMIT_REACHED",
            "NO_DEPLOYMENT",
            "HEALTH_CHECK_SKIPPED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Revision in Pending state.",
            "Revision is in Reserve state.",
            "Revision is Retired.",
            "Revision is being retired.",
            "Revision is being recreated.",
            "There was a health check error.",
            "Health check failed due to user error from customized path of the container. System will retry.",
            "A revision with min_instance_count \u003e 0 was created and is reserved, but it was not configured to serve traffic, so it's not live. This can also happen momentarily during traffic migration.",
            "The maximum allowed number of active revisions has been reached.",
            "There was no deployment defined. This value is no longer used, but Services created in older versions of the API might contain this value.",
            "A revision's container has no port specified since the revision is of a manually scaled service with 0 instance count"
          ]
        },
        "severity": {
          "description": "How to interpret failures of this condition, one of Error, Warning, Info",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "Unspecified severity",
            "Error severity.",
            "Warning severity.",
            "Info severity."
          ],
          "type": "string"
        },
        "type": {
          "description": "type is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/main/docs/spec/errors.md#error-conditions-and-reporting Types common to all resources include: * \"Ready\": True when the Resource is ready.",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudRunV2SecretKeySelector": {
      "description": "SecretEnvVarSource represents a source for the value of an EnvVar.",
      "type": "object",
      "properties": {
        "secret": {
          "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret_name} if the secret is in the same project. projects/{project}/secrets/{secret_name} if the secret is in a different project.",
          "type": "string"
        },
        "version": {
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest value or an integer for a specific version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2SecretKeySelector"
    },
    "GoogleCloudRunV2Execution": {
      "description": "Execution represents the configuration of a single execution. A execution an immutable resource that references a container image which is run to completion.",
      "type": "object",
      "id": "GoogleCloudRunV2Execution",
      "properties": {
        "runningCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of actively running tasks.",
          "readOnly": true
        },
        "failedCount": {
          "format": "int32",
          "description": "Output only. The number of tasks which reached phase Failed.",
          "readOnly": true,
          "type": "integer"
        },
        "parallelism": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Specifies the maximum desired number of tasks the execution should run at any given time. Must be \u003c= task_count. The actual number of tasks running in steady state will be less than this number when ((.spec.task_count - .status.successful) \u003c .spec.parallelism), i.e. when the work left to do is less than max parallelism. More info: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The unique name of this Execution.",
          "type": "string",
          "readOnly": true
        },
        "succeededCount": {
          "readOnly": true,
          "description": "Output only. The number of tasks which reached phase Succeeded.",
          "format": "int32",
          "type": "integer"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last-modified time.",
          "type": "string"
        },
        "job": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the parent Job."
        },
        "taskCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution. More info: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/"
        },
        "etag": {
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string",
          "readOnly": true
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Represents time when the execution was acknowledged by the execution controller. It is not guaranteed to be set in happens-before order across separate operations.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Represents time when the execution started to run. It is not guaranteed to be set in happens-before order across separate operations.",
          "type": "string"
        },
        "template": {
          "description": "Output only. The template used to create tasks for this execution.",
          "$ref": "GoogleCloudRunV2TaskTemplate",
          "readOnly": true
        },
        "completionTime": {
          "description": "Output only. Represents time when the execution was completed. It is not guaranteed to be set in happens-before order across separate operations.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "launchStage": {
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "type": "string",
          "description": "Set the launch stage to a preview stage on write to allow use of preview features in that stage. On read, describes whether the resource uses preview features. Launch Stages are defined at [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages).",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ]
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Job.reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "boolean"
        },
        "deleteTime": {
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "KRM-style labels for the resource. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels Cloud Run will populate some labels with 'run.googleapis.com' or 'serving.knative.dev' namespaces. Those labels are read-only, and user changes will not be preserved.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "KRM-style annotations for the resource."
        },
        "generation": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "type": "string"
        },
        "conditions": {
          "description": "Output only. The Condition of this Execution, containing its readiness status, and detailed error information in case it did not reach the desired state.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          }
        },
        "observedGeneration": {
          "type": "string",
          "description": "Output only. The generation of this Execution. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "format": "int64",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Server assigned unique identifier for the Execution. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "type": "string"
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GoogleRpcStatus": {
      "type": "object",
      "id": "GoogleRpcStatus",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudRunV2ExecutionTemplate": {
      "description": "ExecutionTemplate describes the data an execution should have when created from a template.",
      "id": "GoogleCloudRunV2ExecutionTemplate",
      "type": "object",
      "properties": {
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "KRM-style annotations for the resource."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "KRM-style labels for the resource."
        },
        "parallelism": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the maximum desired number of tasks the execution should run at given time. Must be \u003c= task_count. When the job is run, if this field is 0 or unset, the maximum possible value will be used for that execution. The actual number of tasks running in steady state will be less than this number when there are fewer tasks waiting to be completed remaining, i.e. when the work left to do is less than max parallelism."
        },
        "template": {
          "$ref": "GoogleCloudRunV2TaskTemplate",
          "description": "Required. Describes the task(s) that will be created when executing an execution."
        },
        "taskCount": {
          "type": "integer",
          "description": "Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution. More info: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/",
          "format": "int32"
        }
      }
    },
    "GoogleCloudRunV2HTTPGetAction": {
      "description": "HTTPGetAction describes an action based on HTTP Get requests.",
      "id": "GoogleCloudRunV2HTTPGetAction",
      "properties": {
        "httpHeaders": {
          "items": {
            "$ref": "GoogleCloudRunV2HTTPHeader"
          },
          "description": "Custom headers to set in the request. HTTP allows repeated headers.",
          "type": "array"
        },
        "path": {
          "type": "string",
          "description": "Path to access on the HTTP server. Defaults to '/'."
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2ListTasksResponse": {
      "id": "GoogleCloudRunV2ListTasksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating there are more items than page_size. Use it in the next ListTasks request to continue."
        },
        "tasks": {
          "items": {
            "$ref": "GoogleCloudRunV2Task"
          },
          "type": "array",
          "description": "The resulting list of Tasks."
        }
      },
      "description": "Response message containing a list of Tasks.",
      "type": "object"
    },
    "GoogleCloudRunV2ExecutionReference": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation timestamp of the execution."
        },
        "completionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Creation timestamp of the execution."
        },
        "name": {
          "description": "Name of the execution.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2ExecutionReference",
      "description": "Reference to an Execution. Use /Executions.GetExecution with the given name to get full execution including the latest status.",
      "type": "object"
    },
    "GoogleCloudRunV2VolumeMount": {
      "id": "GoogleCloudRunV2VolumeMount",
      "description": "VolumeMount describes a mounting of a Volume within a container.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. This must match the Name of a Volume.",
          "type": "string"
        },
        "mountPath": {
          "type": "string",
          "description": "Required. Path within the container at which the volume should be mounted. Must not contain ':'. For Cloud SQL volumes, it can be left empty, or must otherwise be `/cloudsql`. All instances defined in the Volume will be available as `/cloudsql/[instance]`. For more information on Cloud SQL volumes, visit https://cloud.google.com/sql/docs/mysql/connect-run"
        }
      }
    },
    "GoogleCloudRunV2Revision": {
      "id": "GoogleCloudRunV2Revision",
      "type": "object",
      "properties": {
        "logUri": {
          "description": "Output only. The Google Console URI to obtain logs for the Revision.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Service.reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "boolean",
          "readOnly": true
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          },
          "description": "A list of Volumes to make available to containers."
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request."
        },
        "vpcAccess": {
          "$ref": "GoogleCloudRunV2VpcAccess",
          "description": "VPC Access configuration for this Revision. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc."
        },
        "generation": {
          "readOnly": true,
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "type": "string",
          "format": "int64"
        },
        "scaling": {
          "$ref": "GoogleCloudRunV2RevisionScaling",
          "description": "Scaling settings for this revision."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation time."
        },
        "uid": {
          "description": "Output only. Server assigned unique identifier for the Revision. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "type": "string",
          "readOnly": true
        },
        "service": {
          "description": "Output only. The name of the parent service.",
          "type": "string",
          "readOnly": true
        },
        "encryptionKey": {
          "type": "string",
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek"
        },
        "maxInstanceRequestConcurrency": {
          "description": "Sets the maximum number of requests that each serving instance can receive.",
          "format": "int32",
          "type": "integer"
        },
        "launchStage": {
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "description": "Set the launch stage to a preview stage on write to allow use of preview features in that stage. On read, describes whether the resource uses preview features. Launch Stages are defined at [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages)."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "KRM-style labels for the resource. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels Cloud Run will populate some labels with 'run.googleapis.com' or 'serving.knative.dev' namespaces. Those labels are read-only, and user changes will not be preserved."
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique name of this Revision.",
          "readOnly": true
        },
        "executionEnvironment": {
          "type": "string",
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ],
          "description": "The execution environment being used to host this Revision."
        },
        "timeout": {
          "description": "Max allowed time for an instance to respond to a request.",
          "format": "google-duration",
          "type": "string"
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request.",
          "format": "google-datetime",
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          },
          "description": "Holds the single container that defines the unit of execution for this Revision."
        },
        "observedGeneration": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The generation of this Revision currently serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "format": "int64"
        },
        "annotations": {
          "type": "object",
          "description": "KRM-style annotations for the resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has.",
          "type": "string"
        },
        "conditions": {
          "description": "Output only. The Condition of this Revision, containing its readiness status, and detailed error information in case it did not reach a serving state.",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "type": "array",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last-modified time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "readOnly": true
        }
      },
      "description": "A Revision is an immutable snapshot of code and configuration. A Revision references a container image. Revisions are only created by updates to its parent Service."
    },
    "GoogleCloudRunV2ListServicesResponse": {
      "type": "object",
      "description": "Response message containing a list of Services.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating there are more items than page_size. Use it in the next ListServices request to continue."
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Service"
          },
          "description": "The resulting list of Services."
        }
      },
      "id": "GoogleCloudRunV2ListServicesResponse"
    },
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "id": "GoogleIamV1Policy",
      "type": "object"
    },
    "GoogleCloudRunV2Service": {
      "id": "GoogleCloudRunV2Service",
      "properties": {
        "etag": {
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "readOnly": true,
          "type": "string"
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The deletion time.",
          "format": "google-datetime"
        },
        "latestReadyRevision": {
          "description": "Output only. Name of the latest revision that is serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The creation time."
        },
        "launchStage": {
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "description": "The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "name": {
          "type": "string",
          "description": "The fully qualified name of this Service. In CreateServiceRequest, this field is ignored, and instead composed from CreateServiceRequest.parent and CreateServiceRequest.service_id. Format: projects/{project}/locations/{location}/services/{service_id}"
        },
        "uid": {
          "description": "Output only. Server assigned unique identifier for the trigger. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last-modified time.",
          "format": "google-datetime"
        },
        "conditions": {
          "description": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the Service does not reach its Serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "readOnly": true,
          "type": "array"
        },
        "expireTime": {
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "generation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`.",
          "format": "int64"
        },
        "ingress": {
          "description": "Provides the ingress settings for this Service. On output, returns the currently observed ingress settings, or INGRESS_TRAFFIC_UNSPECIFIED if no revision is active.",
          "enum": [
            "INGRESS_TRAFFIC_UNSPECIFIED",
            "INGRESS_TRAFFIC_ALL",
            "INGRESS_TRAFFIC_INTERNAL_ONLY",
            "INGRESS_TRAFFIC_INTERNAL_LOAD_BALANCER"
          ],
          "enumDescriptions": [
            "Unspecified",
            "All inbound traffic is allowed.",
            "Only internal traffic is allowed.",
            "Both internal and Google Cloud Load Balancer traffic is allowed."
          ],
          "type": "string"
        },
        "trafficStatuses": {
          "readOnly": true,
          "description": "Output only. Detailed status information for corresponding traffic targets. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2TrafficTargetStatus"
          }
        },
        "clientVersion": {
          "description": "Arbitrary version identifier for the API client.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run will populate some annotations using 'run.googleapis.com' or 'serving.knative.dev' namespaces. This field follows Kubernetes annotations' namespacing, limits, and rules. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "latestCreatedRevision": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the last created revision. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "creator": {
          "description": "Output only. Email address of the authenticated creator.",
          "type": "string",
          "readOnly": true
        },
        "template": {
          "$ref": "GoogleCloudRunV2RevisionTemplate",
          "description": "Required. The template used to create revisions for this Service."
        },
        "traffic": {
          "items": {
            "$ref": "GoogleCloudRunV2TrafficTarget"
          },
          "description": "Specifies how to distribute traffic over a collection of Revisions belonging to the Service. If traffic is empty or not provided, defaults to 100% traffic to the latest `Ready` Revision.",
          "type": "array"
        },
        "uri": {
          "description": "Output only. The main URI in which this Service is serving traffic.",
          "readOnly": true,
          "type": "string"
        },
        "lastModifier": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the last authenticated modifier."
        },
        "client": {
          "description": "Arbitrary identifier for the API client.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Returns true if the Service is currently being acted upon by the system to bring it into the desired state. When a new Service is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the Service to the desired serving state. This process is called reconciliation. While reconciliation is in process, `observed_generation`, `latest_ready_revison`, `traffic_statuses`, and `uri` will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the serving state matches the Service, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `traffic` and `traffic_statuses`, `observed_generation` and `generation`, `latest_ready_revision` and `latest_created_revision`. If reconciliation failed, `traffic_statuses`, `observed_generation`, and `latest_ready_revision` will have the state of the last serving revision, or empty for newly created Services. Additional information on the failure can be found in `terminal_condition` and `conditions`.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the Service. This field currently has a 512-character limit."
        },
        "observedGeneration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The generation of this Service currently serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`.",
          "format": "int64"
        },
        "binaryAuthorization": {
          "description": "Settings for the Binary Authorization feature.",
          "$ref": "GoogleCloudRunV2BinaryAuthorization"
        },
        "labels": {
          "description": "Map of string keys and values that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels Cloud Run will populate some labels with 'run.googleapis.com' or 'serving.knative.dev' namespaces. Those labels are read-only, and user changes will not be preserved.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "terminalCondition": {
          "description": "Output only. The Condition of this Service, containing its readiness status, and detailed error information in case it did not reach a serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "$ref": "GoogleCloudRunV2Condition",
          "readOnly": true
        }
      },
      "description": "Service acts as a top-level container that manages a set of configurations and revision templates which implement a network service. Service exists to provide a singular abstraction which can be access controlled, reasoned about, and which encapsulates software lifecycle decisions such as rollout policy and team resource ownership.",
      "type": "object"
    },
    "GoogleCloudRunV2VpcAccess": {
      "description": "VPC Access settings. For more information on creating a VPC Connector, visit https://cloud.google.com/vpc/docs/configure-serverless-vpc-access For information on how to configure Cloud Run with an existing VPC Connector, visit https://cloud.google.com/run/docs/configuring/connecting-vpc",
      "properties": {
        "egress": {
          "enum": [
            "VPC_EGRESS_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_RANGES_ONLY"
          ],
          "type": "string",
          "description": "Traffic VPC egress settings.",
          "enumDescriptions": [
            "Unspecified",
            "All outbound traffic is routed through the VPC connector.",
            "Only private IP ranges are routed through the VPC connector."
          ]
        },
        "connector": {
          "description": "VPC Access connector name. Format: projects/{project}/locations/{location}/connectors/{connector}",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2VpcAccess",
      "type": "object"
    },
[...]
