{
  "name": "run",
  "discoveryVersion": "v1",
  "rootUrl": "https://run.googleapis.com/",
  "id": "run:v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "revision": "20230219",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "description": "Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving API specification, while v2 is aligned with Google Cloud AIP-based API standards, as described in https://google.aip.dev/.",
  "version": "v1",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/run/",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "resources": {
    "namespaces": {
      "resources": {
        "configurations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations",
              "parameters": {
                "limit": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of the records that should be returned.",
                  "location": "query"
                },
                "continue": {
                  "type": "string",
                  "description": "Optional. Encoded string to continue paging.",
                  "location": "query"
                },
                "resourceVersion": {
                  "location": "query",
                  "description": "Not supported by Cloud Run.",
                  "type": "string"
                },
                "includeUninitialized": {
                  "description": "Not supported by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The namespace from which the configurations should be listed. For Cloud Run, replace {namespace_id} with the project ID or number."
                },
                "fieldSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Not supported by Cloud Run."
                },
                "watch": {
                  "description": "Not supported by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "labelSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                }
              },
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "run.namespaces.configurations.list",
              "description": "List configurations.",
              "path": "apis/serving.knative.dev/v1/{+parent}/configurations"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "GET",
              "description": "Get information about a configuration.",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "id": "run.namespaces.configurations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The name of the configuration to retrieve. For Cloud Run, replace {namespace_id} with the project ID or number.",
                  "pattern": "^namespaces/[^/]+/configurations/[^/]+$"
                }
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations/{configurationsId}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "tasks": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Task"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/tasks/[^/]+$",
                  "description": "Required. The name of the task to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks/{tasksId}",
              "description": "Get information about a task.",
              "id": "run.namespaces.tasks.get"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/tasks",
              "description": "List tasks.",
              "path": "apis/run.googleapis.com/v1/{+parent}/tasks",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListTasksResponse"
              },
              "id": "run.namespaces.tasks.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "includeUninitialized": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "continue": {
                  "description": "Optional. Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn. For example, to list all tasks of execution \"foo\" in succeeded state: `run.googleapis.com/execution=foo,run.googleapis.com/runningState=Succeeded`. Supported states are: * `Pending`: Initial state of all tasks. The task has not yet started but eventually will. * `Running`: Container instances for this task are running or will be running shortly. * `Succeeded`: No more container instances to run for the task, and the last attempt succeeded. * `Failed`: No more container instances to run for the task, and the last attempt failed. This task has run out of retry attempts. * `Cancelled`: Task was running but got stopped because its parent execution has been aborted. * `Abandoned`: The task has not yet started and never will because its parent execution has been aborted.",
                  "type": "string"
                },
                "fieldSelector": {
                  "type": "string",
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query"
                },
                "resourceVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "limit": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The namespace from which the tasks should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              }
            }
          }
        },
        "services": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "location": "path",
                  "description": "Required. The fully qualified name of the service to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Gets information about a service.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "run.namespaces.services.get",
              "response": {
                "$ref": "Service"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "id": "run.namespaces.services.delete",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Deletes the provided service. This will cause the Service to stop serving traffic and will delete all associated Revisions.",
              "parameters": {
                "propagationPolicy": {
                  "type": "string",
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run."
                },
                "apiVersion": {
                  "type": "string",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query"
                },
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                },
                "kind": {
                  "type": "string",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The fully qualified name of the service to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Status"
              },
              "httpMethod": "DELETE"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "description": "Lists services for the given project and region.",
              "httpMethod": "GET",
              "parameters": {
                "resourceVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Not supported, and ignored by Cloud Run."
                },
                "watch": {
                  "type": "boolean",
                  "description": "Not supported, and ignored by Cloud Run.",
                  "location": "query"
                },
                "includeUninitialized": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Not supported, and ignored by Cloud Run."
                },
                "limit": {
                  "format": "int32",
                  "description": "The maximum number of records that should be returned.",
                  "type": "integer",
                  "location": "query"
                },
                "fieldSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Not supported, and ignored by Cloud Run."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "required": true
                },
                "continue": {
                  "description": "Encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "labelSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListServicesResponse"
              },
              "id": "run.namespaces.services.list"
            },
            "create": {
              "description": "Creates a new Service. Service creation will trigger a new deployment. Use GetService, and check service.status to determine if the Service is ready.",
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "response": {
                "$ref": "Service"
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "run.namespaces.services.create",
              "request": {
                "$ref": "Service"
              },
              "httpMethod": "POST"
            },
            "replaceService": {
              "id": "run.namespaces.services.replaceService",
              "request": {
                "$ref": "Service"
              },
              "parameters": {
                "dryRun": {
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The fully qualified name of the service to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$"
                }
              },
              "httpMethod": "PUT",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "response": {
                "$ref": "Service"
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Replaces a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "revisions": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "response": {
                "$ref": "Revision"
              },
              "id": "run.namespaces.revisions.get",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "description": "Get information about a revision.",
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the revision to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Status"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "dryRun": {
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query"
                },
                "apiVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "propagationPolicy": {
                  "type": "string",
                  "location": "query",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see https://kubernetes.io/docs/concepts/architecture/garbage-collection/ for more information."
                },
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "description": "The name of the revision to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$",
                  "type": "string"
                }
              },
              "id": "run.namespaces.revisions.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "apis/serving.knative.dev/v1/{+name}",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "description": "Delete a revision."
            },
            "list": {
              "httpMethod": "GET",
              "path": "apis/serving.knative.dev/v1/{+parent}/revisions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                },
                "fieldSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string"
                },
                "continue": {
                  "description": "Optional. Encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "limit": {
                  "type": "integer",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "location": "query",
                  "format": "int32"
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Not currently used by Cloud Run."
                },
                "labelSelector": {
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query"
                }
              },
              "id": "run.namespaces.revisions.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "List revisions.",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions",
              "response": {
                "$ref": "ListRevisionsResponse"
              }
            }
          }
        },
        "executions": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions",
              "description": "List executions.",
              "parameters": {
                "continue": {
                  "location": "query",
                  "description": "Optional. Optional encoded string to continue paging.",
                  "type": "string"
                },
                "fieldSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "parent": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "description": "Required. The namespace from which the executions should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string"
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "resourceVersion": {
                  "type": "string",
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query"
                },
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "limit": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of the records that should be returned."
                }
              },
              "id": "run.namespaces.executions.list",
              "path": "apis/run.googleapis.com/v1/{+parent}/executions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListExecutionsResponse"
              }
            },
            "delete": {
              "id": "run.namespaces.executions.delete",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameters": {
                "kind": {
                  "location": "query",
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string"
                },
                "apiVersion": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "Required. The name of the execution to delete. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$"
                },
                "propagationPolicy": {
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Status"
              },
              "description": "Delete an execution.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}",
              "id": "run.namespaces.executions.get",
              "response": {
                "$ref": "Execution"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the execution to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Get information about an execution.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "cancel": {
              "response": {
                "$ref": "Execution"
              },
              "path": "apis/run.googleapis.com/v1/{+name}:cancel",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/executions/{executionsId}:cancel",
              "request": {
                "$ref": "CancelExecutionRequest"
              },
              "description": "Cancel an execution.",
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/executions/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the execution to cancel. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "run.namespaces.executions.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "domainmappings": {
          "methods": {
            "delete": {
              "id": "run.namespaces.domainmappings.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "description": "Delete a domain mapping.",
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "response": {
                "$ref": "Status"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "type": "string",
                  "description": "The name of the domain mapping to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path"
                },
                "kind": {
                  "type": "string",
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "apiVersion": {
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/architecture/garbage-collection/ for more information.",
                  "location": "query",
                  "type": "string"
                },
                "dryRun": {
                  "type": "string",
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "location": "query"
                }
              }
            },
            "get": {
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "id": "run.namespaces.domainmappings.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "type": "string",
                  "description": "The name of the domain mapping to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "DomainMapping"
              },
              "description": "Get information about a domain mapping.",
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "httpMethod": "GET",
              "id": "run.namespaces.domainmappings.list",
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "parameters": {
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "fieldSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                },
                "watch": {
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "limit": {
                  "description": "Optional. The maximum number of records that should be returned.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "continue": {
                  "description": "Optional. Encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "The namespace from which the domain mappings should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "List all domain mappings.",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "response": {
                "$ref": "DomainMapping"
              },
              "id": "run.namespaces.domainmappings.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Create a new domain mapping.",
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "parameters": {
                "dryRun": {
                  "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The namespace in which the domain mapping should be created. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true
                }
              },
              "request": {
                "$ref": "DomainMapping"
              }
            }
          }
        },
        "routes": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/routes/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the route to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              },
              "description": "Get information about a route.",
              "id": "run.namespaces.routes.get",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes/{routesId}",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Route"
              }
            },
            "list": {
              "response": {
                "$ref": "ListRoutesResponse"
              },
              "description": "List routes.",
              "id": "run.namespaces.routes.list",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes",
              "path": "apis/serving.knative.dev/v1/{+parent}/routes",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "continue": {
                  "location": "query",
                  "description": "Optional. Encoded string to continue paging.",
                  "type": "string"
                },
                "fieldSelector": {
                  "type": "string",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "labelSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "description": "Not currently used by Cloud Run.",
                  "location": "query"
                },
                "resourceVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run."
                },
                "limit": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "The namespace from which the routes should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "authorizeddomains": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "httpMethod": "GET",
              "id": "run.namespaces.authorizeddomains.list",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/authorizeddomains",
              "path": "apis/domains.cloudrun.com/v1/{+parent}/authorizeddomains",
              "parameterOrder": [
                "parent"
              ],
              "description": "List authorized domains.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results."
                },
                "parent": {
                  "type": "string",
                  "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum results to return per page."
                }
              }
            }
          }
        },
        "jobs": {
          "methods": {
            "replaceJob": {
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}",
              "response": {
                "$ref": "Job"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Job"
              },
              "id": "run.namespaces.jobs.replaceJob",
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the job being replaced. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "PUT",
              "path": "apis/run.googleapis.com/v1/{+name}",
              "description": "Replace a job. Only the spec and metadata labels and annotations are modifiable. After the Replace request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control."
            },
            "delete": {
              "response": {
                "$ref": "Status"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Delete a job.",
              "parameters": {
                "propagationPolicy": {
                  "description": "Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                  "location": "query",
                  "type": "string"
                },
                "kind": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Cloud Run currently ignores this parameter."
                },
                "name": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the job to delete. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                },
                "apiVersion": {
                  "description": "Optional. Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/run.googleapis.com/v1/{+name}",
              "id": "run.namespaces.jobs.delete",
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}"
            },
            "list": {
              "description": "List jobs.",
              "id": "run.namespaces.jobs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Not supported by Cloud Run."
                },
                "labelSelector": {
                  "location": "query",
                  "description": "Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string"
                },
                "limit": {
                  "location": "query",
                  "description": "Optional. The maximum number of records that should be returned.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The namespace from which the jobs should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true
                },
                "continue": {
                  "type": "string",
                  "description": "Optional. Optional encoded string to continue paging.",
                  "location": "query"
                },
                "resourceVersion": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "string",
                  "location": "query"
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Optional. Not supported by Cloud Run.",
                  "type": "boolean"
                },
                "fieldSelector": {
                  "description": "Optional. Not supported by Cloud Run.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "path": "apis/run.googleapis.com/v1/{+parent}/jobs",
              "httpMethod": "GET"
            },
            "run": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Execution"
              },
              "id": "run.namespaces.jobs.run",
              "httpMethod": "POST",
              "request": {
                "$ref": "RunJobRequest"
              },
              "path": "apis/run.googleapis.com/v1/{+name}:run",
              "description": "Trigger creation of a new execution of this job.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the job to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}:run",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "description": "Required. The namespace in which the job should be created. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Create a job.",
              "id": "run.namespaces.jobs.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "apis/run.googleapis.com/v1/{+parent}/jobs",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Job"
              },
              "request": {
                "$ref": "Job"
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs"
            },
            "get": {
              "path": "apis/run.googleapis.com/v1/{+name}",
              "description": "Get information about a job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the job to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                  "required": true,
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/jobs/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "apis/run.googleapis.com/v1/namespaces/{namespacesId}/jobs/{jobsId}",
              "httpMethod": "GET",
              "id": "run.namespaces.jobs.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Job"
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "path": "v1/{+name}/locations",
              "id": "run.projects.locations.list",
              "description": "Lists information about the supported locations for this service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "configurations": {
              "methods": {
                "list": {
                  "parameters": {
                    "includeUninitialized": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Not supported by Cloud Run."
                    },
                    "labelSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                    },
                    "watch": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Not supported by Cloud Run."
                    },
                    "limit": {
                      "format": "int32",
                      "description": "Optional. The maximum number of the records that should be returned.",
                      "type": "integer",
                      "location": "query"
                    },
                    "continue": {
                      "location": "query",
                      "description": "Optional. Encoded string to continue paging.",
                      "type": "string"
                    },
                    "resourceVersion": {
                      "location": "query",
                      "type": "string",
                      "description": "Not supported by Cloud Run."
                    },
                    "fieldSelector": {
                      "description": "Not supported by Cloud Run.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "The namespace from which the configurations should be listed. For Cloud Run, replace {namespace_id} with the project ID or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListConfigurationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/configurations",
                  "id": "run.projects.locations.configurations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations",
                  "description": "List configurations."
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.configurations.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Configuration"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations/{configurationsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/configurations/[^/]+$",
                      "description": "The name of the configuration to retrieve. For Cloud Run, replace {namespace_id} with the project ID or number."
                    }
                  },
                  "description": "Get information about a configuration."
                }
              }
            },
            "services": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Service"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Gets information about a service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "id": "run.projects.locations.services.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "Required. The fully qualified name of the service to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListServicesResponse"
                  },
                  "description": "Lists services for the given project and region.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "labelSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                    },
                    "fieldSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Not supported, and ignored by Cloud Run."
                    },
                    "watch": {
                      "type": "boolean",
                      "description": "Not supported, and ignored by Cloud Run.",
                      "location": "query"
                    },
                    "continue": {
                      "description": "Encoded string to continue paging.",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of records that should be returned."
                    },
                    "includeUninitialized": {
                      "type": "boolean",
                      "description": "Not supported, and ignored by Cloud Run.",
                      "location": "query"
                    },
                    "resourceVersion": {
                      "location": "query",
                      "description": "Not supported, and ignored by Cloud Run.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/services",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "id": "run.projects.locations.services.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "setIamPolicy": {
                  "description": "Sets the IAM Access control policy for the specified Service. Overwrites any existing policy.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:setIamPolicy",
                  "id": "run.projects.locations.services.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a new Service. Service creation will trigger a new deployment. Use GetService, and check service.status to determine if the Service is ready.",
                  "id": "run.projects.locations.services.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Service"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "path": "v1/{+parent}/services",
                  "request": {
                    "$ref": "Service"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "dryRun": {
                      "type": "string",
                      "location": "query",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                    },
                    "parent": {
                      "description": "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "Required. The fully qualified name of the service to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "dryRun": {
                      "location": "query",
                      "type": "string",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
                    },
                    "propagationPolicy": {
                      "type": "string",
                      "description": "Not supported, and ignored by Cloud Run.",
                      "location": "query"
                    },
                    "apiVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "Not supported, and ignored by Cloud Run."
                    },
                    "kind": {
                      "description": "Not supported, and ignored by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "run.projects.locations.services.delete",
                  "description": "Deletes the provided service. This will cause the Service to stop serving traffic and will delete all associated Revisions.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Status"
                  }
                },
                "replaceService": {
                  "description": "Replaces a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "response": {
                    "$ref": "Service"
                  },
                  "request": {
                    "$ref": "Service"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The fully qualified name of the service to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string"
                    },
                    "dryRun": {
                      "type": "string",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "location": "query"
                    }
                  },
                  "id": "run.projects.locations.services.replaceService",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PUT"
                },
                "testIamPermissions": {
                  "path": "v1/{+resource}:testIamPermissions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "run.projects.locations.services.testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  }
                },
                "getIamPolicy": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "id": "run.projects.locations.services.getIamPolicy",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the IAM Access Control policy currently in effect for the given Cloud Run service. This result does not include any inherited policies."
                }
              }
            },
            "domainmappings": {
              "methods": {
                "list": {
                  "parameters": {
                    "resourceVersion": {
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "format": "int32",
                      "description": "Optional. The maximum number of records that should be returned.",
                      "location": "query",
                      "type": "integer"
                    },
                    "includeUninitialized": {
                      "location": "query",
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "parent": {
                      "type": "string",
                      "description": "The namespace from which the domain mappings should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "continue": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Encoded string to continue paging."
                    },
                    "watch": {
                      "location": "query",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "type": "boolean"
                    }
                  },
                  "description": "List all domain mappings.",
                  "response": {
                    "$ref": "ListDomainMappingsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "id": "run.projects.locations.domainmappings.list",
                  "path": "v1/{+parent}/domainmappings"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                  "response": {
                    "$ref": "Status"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete a domain mapping.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "run.projects.locations.domainmappings.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the domain mapping to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                      "type": "string"
                    },
                    "apiVersion": {
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string"
                    },
                    "kind": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "propagationPolicy": {
                      "location": "query",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/architecture/garbage-collection/ for more information.",
                      "type": "string"
                    },
                    "dryRun": {
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                  "response": {
                    "$ref": "DomainMapping"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Get information about a domain mapping.",
                  "id": "run.projects.locations.domainmappings.get",
                  "parameters": {
                    "name": {
                      "description": "The name of the domain mapping to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "DomainMapping"
                  },
                  "request": {
                    "$ref": "DomainMapping"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create a new domain mapping.",
                  "httpMethod": "POST",
                  "id": "run.projects.locations.domainmappings.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The namespace in which the domain mapping should be created. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
                    },
                    "dryRun": {
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/domainmappings"
                }
              }
            },
            "revisions": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Revision"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "run.projects.locations.revisions.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the revision to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$"
                    }
                  },
                  "description": "Get information about a revision."
                },
                "list": {
                  "parameters": {
                    "fieldSelector": {
                      "location": "query",
                      "type": "string",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                    },
                    "watch": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                    },
                    "includeUninitialized": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Not currently used by Cloud Run."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "type": "string"
                    },
                    "continue": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Encoded string to continue paging."
                    },
                    "resourceVersion": {
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of records that should be returned.",
                      "format": "int32"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/revisions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListRevisionsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List revisions.",
                  "id": "run.projects.locations.revisions.list"
                },
                "delete": {
                  "id": "run.projects.locations.revisions.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Status"
                  },
                  "description": "Delete a revision.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "parameters": {
                    "kind": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "description": "The name of the revision to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID",
                      "location": "path"
                    },
                    "propagationPolicy": {
                      "type": "string",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see https://kubernetes.io/docs/concepts/architecture/garbage-collection/ for more information.",
                      "location": "query"
                    },
                    "dryRun": {
                      "location": "query",
                      "description": "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`",
                      "type": "string"
                    },
                    "apiVersion": {
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "jobs": {
              "methods": {
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "GET",
                  "id": "run.projects.locations.jobs.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
                    }
                  },
                  "description": "Get the IAM Access Control policy currently in effect for the given job. This result does not include any inherited policies.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy"
                },
                "testIamPermissions": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:testIamPermissions",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "run.projects.locations.jobs.testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
                    }
                  },
                  "description": "Returns permissions that a caller has on the specified job. There are no permissions required for making this API call."
                },
                "setIamPolicy": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:setIamPolicy",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "run.projects.locations.jobs.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "description": "Sets the IAM Access control policy for the specified job. Overwrites any existing policy."
                }
              }
            },
            "routes": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/routes",
                  "response": {
                    "$ref": "ListRoutesResponse"
                  },
                  "description": "List routes.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes",
                  "httpMethod": "GET",
                  "parameters": {
                    "labelSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                    },
                    "includeUninitialized": {
                      "type": "boolean",
                      "description": "Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of records that should be returned."
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
[...]
