{
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "protocol": "rest",
  "version_module": true,
  "ownerDomain": "google.com",
  "title": "Safe Browsing API",
  "name": "safebrowsing",
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "schemas": {
    "ListThreatListsResponse": {
      "id": "ListThreatListsResponse",
      "properties": {
        "threatLists": {
          "type": "array",
          "description": "The lists available for download by the client.",
          "items": {
            "$ref": "ThreatListDescriptor"
          }
        }
      },
      "type": "object"
    },
    "RawHashes": {
      "type": "object",
      "properties": {
        "prefixSize": {
          "format": "int32",
          "type": "integer",
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash)."
        },
        "rawHashes": {
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "RawHashes",
      "description": "The uncompressed threat entries in hash format of a particular prefix length. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URL. Used for sending ThreatEntrySet to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression."
    },
    "FindFullHashesRequest": {
      "type": "object",
      "id": "FindFullHashesRequest",
      "properties": {
        "client": {
          "description": "The client metadata.",
          "$ref": "ClientInfo"
        },
        "clientStates": {
          "description": "The current client states for each of the client's local threat lists.",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "type": "array"
        },
        "apiClient": {
          "$ref": "ClientInfo",
          "description": "Client metadata associated with callers of higher-level APIs built on top of the client's implementation."
        },
        "threatInfo": {
          "description": "The lists and hashes to be checked.",
          "$ref": "ThreatInfo"
        }
      },
      "description": "Request to return full hashes matched by the provided hash prefixes."
    },
    "FetchThreatListUpdatesResponse": {
      "properties": {
        "minimumWaitDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The minimum duration the client must wait before issuing any update request. If this field is not set clients may update as soon as they want."
        },
        "listUpdateResponses": {
          "type": "array",
          "items": {
            "$ref": "ListUpdateResponse"
          },
          "description": "The list updates requested by the clients. The number of responses here may be less than the number of requests sent by clients. This is the case, for example, if the server has no updates for a particular list."
        }
      },
      "type": "object",
      "id": "FetchThreatListUpdatesResponse"
    },
    "ThreatInfo": {
      "id": "ThreatInfo",
      "description": "The information regarding one or more threats that a client submits when checking for matches in threat lists.",
      "type": "object",
      "properties": {
        "threatEntries": {
          "type": "array",
          "items": {
            "$ref": "ThreatEntry"
          },
          "description": "The threat entries to be checked."
        },
        "threatTypes": {
          "description": "The threat types to be checked.",
          "items": {
            "enumDescriptions": [
              "Unknown.",
              "Malware threat type.",
              "Social engineering threat type.",
              "Unwanted software threat type.",
              "Potentially harmful application threat type.",
              "Social engineering threat type for internal use.",
              "API abuse threat type.",
              "Malicious binary threat type.",
              "Client side detection whitelist threat type.",
              "Client side download detection whitelist threat type.",
              "Client incident threat type.",
              "Whitelist used when detecting client incident threats.",
              "List used for offline APK checks in PAM.",
              "Patterns to be used for activating the subresource filter.",
              "Entities that are suspected to present a threat.",
              "Trick-to-bill threat type.",
              "URL expressions that are very likely to be safe.",
              "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
            ],
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "SOCIAL_ENGINEERING_INTERNAL",
              "API_ABUSE",
              "MALICIOUS_BINARY",
              "CSD_WHITELIST",
              "CSD_DOWNLOAD_WHITELIST",
              "CLIENT_INCIDENT",
              "CLIENT_INCIDENT_WHITELIST",
              "APK_MALWARE_OFFLINE",
              "SUBRESOURCE_FILTER",
              "SUSPICIOUS",
              "TRICK_TO_BILL",
              "HIGH_CONFIDENCE_ALLOWLIST",
              "ACCURACY_TIPS"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "platformTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unknown platform.",
              "Threat posed to Windows.",
              "Threat posed to Linux.",
              "Threat posed to Android.",
              "Threat posed to OS X.",
              "Threat posed to iOS.",
              "Threat posed to at least one of the defined platforms.",
              "Threat posed to all defined platforms.",
              "Threat posed to Chrome."
            ],
            "type": "string",
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ]
          },
          "description": "The platform types to be checked."
        },
        "threatEntryTypes": {
          "description": "The entry types to be checked.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "A URL.",
              "An executable program.",
              "An IP range.",
              "Chrome extension.",
              "Filename.",
              "CERT"
            ],
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ]
          },
          "type": "array"
        }
      }
    },
    "ThreatSource": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "THREAT_SOURCE_TYPE_UNSPECIFIED",
            "MATCHING_URL",
            "TAB_URL",
            "TAB_REDIRECT",
            "TAB_RESOURCE"
          ],
          "description": "The type of source reported.",
          "enumDescriptions": [
            "Unknown.",
            "The URL that matched the threat list (for which GetFullHash returned a valid hash).",
            "The final top-level URL of the tab that the client was browsing when the match occurred.",
            "A redirect URL that was fetched before hitting the final TAB_URL.",
            "A resource loaded within the final TAB_URL."
          ]
        },
        "url": {
          "type": "string",
          "description": "The URL of the resource."
        },
        "referrer": {
          "type": "string",
          "description": "Referrer of the resource. Only set if the referrer is available."
        },
        "remoteIp": {
          "type": "string",
          "description": "The remote IP of the resource in ASCII format. Either IPv4 or IPv6."
        }
      },
      "description": "A single resource related to a threat hit.",
      "id": "ThreatSource"
    },
    "ThreatHit": {
      "properties": {
        "platformType": {
          "description": "The platform type reported.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "entry": {
          "description": "The threat entry responsible for the hit. Full hash should be reported for hash-based hits.",
          "$ref": "ThreatEntry"
        },
        "userInfo": {
          "description": "Details about the user that encountered the threat.",
          "$ref": "UserInfo"
        },
        "resources": {
          "type": "array",
          "description": "The resources related to the threat hit.",
          "items": {
            "$ref": "ThreatSource"
          }
        },
        "clientInfo": {
          "$ref": "ClientInfo",
          "description": "Client-reported identification."
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "type": "string",
          "description": "The threat type reported.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ]
        }
      },
      "type": "object",
      "id": "ThreatHit"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ThreatEntryMetadata": {
      "id": "ThreatEntryMetadata",
      "description": "The metadata associated with a specific threat entry. The client is expected to know the metadata key/value pairs associated with each threat type.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "MetadataEntry"
          },
          "type": "array",
          "description": "The metadata entries."
        }
      },
      "type": "object"
    },
    "FetchThreatListUpdatesRequest": {
      "properties": {
        "client": {
          "$ref": "ClientInfo",
          "description": "The client metadata."
        },
        "listUpdateRequests": {
          "items": {
            "$ref": "ListUpdateRequest"
          },
          "type": "array",
          "description": "The requested threat list updates."
        }
      },
      "type": "object",
      "description": "Describes a Safe Browsing API update request. Clients can request updates for multiple lists in a single request. The server may not respond to all requests, if the server has no updates for that list. NOTE: Field index 2 is unused. NEXT: 5",
      "id": "FetchThreatListUpdatesRequest"
    },
    "ThreatMatch": {
      "id": "ThreatMatch",
      "description": "A match when checking a threat entry in the Safe Browsing threat lists.",
      "type": "object",
      "properties": {
        "threat": {
          "description": "The threat matching this threat.",
          "$ref": "ThreatEntry"
        },
        "cacheDuration": {
          "type": "string",
          "description": "The cache lifetime for the returned match. Clients must not cache this response for more than this duration to avoid false positives.",
          "format": "google-duration"
        },
        "platformType": {
          "description": "The platform type matching this threat.",
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "threatType": {
          "description": "The threat type matching this threat.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ]
        },
        "threatEntryMetadata": {
          "$ref": "ThreatEntryMetadata",
          "description": "Optional metadata associated with this threat."
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string",
          "description": "The threat entry type matching this threat."
        }
      }
    },
    "MetadataEntry": {
      "type": "object",
      "id": "MetadataEntry",
      "properties": {
        "value": {
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded.",
          "format": "byte",
          "type": "string"
        },
        "key": {
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "A single metadata entry."
    },
    "RawIndices": {
      "id": "RawIndices",
      "description": "A set of raw indices to remove from a local list.",
      "type": "object",
      "properties": {
        "indices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The indices to remove from a lexicographically-sorted local list.",
          "type": "array"
        }
      }
    },
    "ThreatListDescriptor": {
      "properties": {
        "platformType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type targeted by the list's entries."
        },
        "threatType": {
          "description": "The threat type posed by the list's entries.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ]
        },
        "threatEntryType": {
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "type": "string",
          "description": "The entry types contained in the list."
        }
      },
      "id": "ThreatListDescriptor",
      "type": "object",
      "description": "Describes an individual threat list. A list is defined by three parameters: the type of threat posed, the type of platform targeted by the threat, and the type of entries in the list."
    },
    "ThreatEntry": {
      "properties": {
        "digest": {
          "format": "byte",
          "description": "The digest of an executable in SHA256 format. The API supports both binary and hex digests. For JSON requests, digests are base64-encoded.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "A URL."
        },
        "hash": {
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "ThreatEntry",
      "description": "An individual threat; for example, a malicious URL or its hash representation. Only one of these fields should be set."
    },
    "ListUpdateResponse": {
      "description": "An update to an individual list.",
      "type": "object",
      "properties": {
        "removals": {
          "items": {
            "$ref": "ThreatEntrySet"
          },
          "type": "array",
          "description": "A set of entries to remove from a local threat type's list. In practice, this field is empty or contains exactly one ThreatEntrySet."
        },
        "additions": {
          "description": "A set of entries to add to a local threat type's list. Repeated to allow for a combination of compressed and raw data to be sent in a single response.",
          "type": "array",
          "items": {
            "$ref": "ThreatEntrySet"
          }
        },
        "threatType": {
          "description": "The threat type for which data is returned.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "type": "string",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ]
        },
        "platformType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type for which data is returned."
        },
        "newClientState": {
          "format": "byte",
          "description": "The new client state, in encrypted format. Opaque to clients.",
          "type": "string"
        },
        "responseType": {
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means that either the client was seriously out-of-date or the client is believed to be corrupt."
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ],
          "description": "The type of response. This may indicate that an action is required by the client when the response is received.",
          "type": "string"
        },
        "checksum": {
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided update. If the client state doesn't match the expected state, the client must disregard this update and retry later.",
          "$ref": "Checksum"
        },
        "threatEntryType": {
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "description": "The format of the threats."
        }
      },
      "id": "ListUpdateResponse"
    },
    "ListUpdateRequest": {
      "properties": {
        "constraints": {
          "description": "The constraints associated with this request.",
          "$ref": "Constraints"
        },
        "state": {
          "type": "string",
          "format": "byte",
          "description": "The current state of the client for the requested list (the encrypted client state that was received from the last successful list update)."
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The types of entries present in the list.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        },
        "threatType": {
          "description": "The type of threat posed by entries present in the list.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "type": "string",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ]
        },
        "platformType": {
          "description": "The type of platform at risk by entries present in the list.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        }
      },
      "id": "ListUpdateRequest",
      "type": "object",
      "description": "A single list update request."
    },
    "FindThreatMatchesRequest": {
      "description": "Request to check entries against lists.",
      "id": "FindThreatMatchesRequest",
      "type": "object",
      "properties": {
        "threatInfo": {
          "$ref": "ThreatInfo",
          "description": "The lists and entries to be checked for matches."
        },
        "client": {
          "$ref": "ClientInfo",
          "description": "The client metadata."
        }
      }
    },
    "Constraints": {
      "id": "Constraints",
      "description": "The constraints for this update.",
      "type": "object",
      "properties": {
        "maxUpdateEntries": {
          "type": "integer",
          "description": "The maximum size in number of entries. The update will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no update size limit is set.",
          "format": "int32"
        },
        "supportedCompressions": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unknown.",
              "Raw, uncompressed data.",
              "Rice-Golomb encoded data."
            ],
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ],
            "type": "string"
          },
          "description": "The compression types supported by the client."
        },
        "deviceLocation": {
          "description": "A client's physical location, expressed as a ISO 31166-1 alpha-2 region code.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "Requests the lists for a specific language. Expects ISO 639 alpha-2 format."
        },
        "maxDatabaseEntries": {
          "description": "Sets the maximum number of entries that the client is willing to have in the local database for the specified list. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
          "type": "integer",
          "format": "int32"
        },
        "region": {
          "type": "string",
          "description": "Requests the list for a specific geographic location. If not set the server may pick that value based on the user's IP address. Expects ISO 3166-1 alpha-2 format."
        }
      }
    },
    "UserInfo": {
      "id": "UserInfo",
      "description": "Details about the user that encountered the threat.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "Unique user identifier defined by the client.",
          "type": "string",
          "format": "byte"
        },
        "regionCode": {
          "description": "The UN M.49 region code associated with the user's location.",
          "type": "string"
        }
      }
    },
    "FindThreatMatchesResponse": {
      "id": "FindThreatMatchesResponse",
      "properties": {
        "matches": {
          "items": {
            "$ref": "ThreatMatch"
          },
          "description": "The threat list matches.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ThreatEntrySet": {
      "properties": {
        "riceIndices": {
          "$ref": "RiceDeltaEncoding",
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data."
        },
        "compressionType": {
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ],
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ],
          "description": "The compression type for the entries in this set.",
          "type": "string"
        },
        "riceHashes": {
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "RiceDeltaEncoding"
        },
        "rawIndices": {
          "description": "The raw removal indices for a local list.",
          "$ref": "RawIndices"
        },
        "rawHashes": {
          "description": "The raw SHA256-formatted entries.",
          "$ref": "RawHashes"
        }
      },
      "type": "object",
      "id": "ThreatEntrySet",
      "description": "A set of threats that should be added or removed from a client's local database."
    },
    "ClientInfo": {
      "id": "ClientInfo",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API."
        },
        "clientVersion": {
          "description": "The version of the client implementation.",
          "type": "string"
        }
      },
      "description": "The client metadata associated with Safe Browsing API requests."
    },
    "Checksum": {
      "type": "object",
      "properties": {
        "sha256": {
          "type": "string",
          "format": "byte",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database."
        }
      },
      "id": "Checksum",
      "description": "The expected state of a client's local database."
    },
    "RiceDeltaEncoding": {
      "type": "object",
      "id": "RiceDeltaEncoding",
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "properties": {
        "numEntries": {
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "format": "int32",
          "type": "integer"
        },
        "encodedData": {
          "format": "byte",
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "type": "string"
        },
        "riceParameter": {
          "format": "int32",
          "type": "integer",
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero."
        },
        "firstValue": {
          "format": "int64",
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "type": "string"
        }
      }
    },
    "FindFullHashesResponse": {
      "type": "object",
      "properties": {
        "matches": {
          "items": {
            "$ref": "ThreatMatch"
          },
          "type": "array",
          "description": "The full hashes that matched the requested prefixes."
        },
        "negativeCacheDuration": {
          "type": "string",
          "description": "For requested entities that did not match the threat list, how long to cache the response.",
          "format": "google-duration"
        },
        "minimumWaitDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The minimum duration the client must wait before issuing any find hashes request. If this field is not set, clients can issue a request as soon as they want."
        }
      },
      "id": "FindFullHashesResponse"
    }
  },
  "canonicalName": "Safebrowsing",
  "resources": {
    "threatLists": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "path": "v4/threatLists",
          "flatPath": "v4/threatLists",
          "parameters": {},
          "description": "Lists the Safe Browsing threat lists available for download.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListThreatListsResponse"
          },
          "id": "safebrowsing.threatLists.list"
        }
      }
    },
    "threatHits": {
      "methods": {
        "create": {
          "description": "Reports a Safe Browsing threat list hit to Google. Only projects with TRUSTED_REPORTER visibility can use this method.",
          "parameters": {},
          "id": "safebrowsing.threatHits.create",
          "parameterOrder": [],
          "flatPath": "v4/threatHits",
          "path": "v4/threatHits",
          "request": {
            "$ref": "ThreatHit"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "threatListUpdates": {
      "methods": {
        "fetch": {
          "id": "safebrowsing.threatListUpdates.fetch",
          "path": "v4/threatListUpdates:fetch",
          "response": {
            "$ref": "FetchThreatListUpdatesResponse"
          },
          "description": "Fetches the most recent threat list updates. A client can request updates for multiple lists at once.",
          "request": {
            "$ref": "FetchThreatListUpdatesRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "v4/threatListUpdates:fetch",
          "parameters": {}
        }
      }
    },
    "encodedFullHashes": {
      "methods": {
        "get": {
          "parameterOrder": [
            "encodedRequest"
          ],
          "description": "",
          "httpMethod": "GET",
          "response": {
            "$ref": "FindFullHashesResponse"
          },
          "flatPath": "v4/encodedFullHashes/{encodedRequest}",
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "id": "safebrowsing.encodedFullHashes.get",
          "parameters": {
            "clientId": {
              "type": "string",
              "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
              "location": "query"
            },
            "encodedRequest": {
              "type": "string",
              "required": true,
              "description": "A serialized FindFullHashesRequest proto.",
              "format": "byte",
              "location": "path"
            },
            "clientVersion": {
              "location": "query",
              "type": "string",
              "description": "The version of the client implementation."
            }
          }
        }
      }
    },
    "encodedUpdates": {
      "methods": {
        "get": {
          "response": {
            "$ref": "FetchThreatListUpdatesResponse"
          },
          "path": "v4/encodedUpdates/{encodedRequest}",
          "httpMethod": "GET",
          "flatPath": "v4/encodedUpdates/{encodedRequest}",
          "parameters": {
            "encodedRequest": {
              "type": "string",
              "description": "A serialized FetchThreatListUpdatesRequest proto.",
              "format": "byte",
              "location": "path",
              "required": true
            },
            "clientVersion": {
              "type": "string",
              "description": "The version of the client implementation.",
              "location": "query"
            },
            "clientId": {
              "location": "query",
              "description": "A client ID that uniquely identifies the client implementation of the Safe Browsing API.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "encodedRequest"
          ],
          "id": "safebrowsing.encodedUpdates.get",
          "description": ""
        }
      }
    },
    "fullHashes": {
      "methods": {
        "find": {
          "description": "Finds the full hashes that match the requested hash prefixes.",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "FindFullHashesRequest"
          },
          "flatPath": "v4/fullHashes:find",
          "httpMethod": "POST",
          "response": {
            "$ref": "FindFullHashesResponse"
          },
          "path": "v4/fullHashes:find",
          "id": "safebrowsing.fullHashes.find"
        }
      }
    },
    "threatMatches": {
      "methods": {
        "find": {
          "id": "safebrowsing.threatMatches.find",
          "description": "Finds the threat entries that match the Safe Browsing lists.",
          "httpMethod": "POST",
          "flatPath": "v4/threatMatches:find",
          "response": {
            "$ref": "FindThreatMatchesResponse"
          },
          "parameterOrder": [],
          "parameters": {},
          "path": "v4/threatMatches:find",
          "request": {
            "$ref": "FindThreatMatchesRequest"
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "version": "v4",
  "revision": "20230129",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
  "parameters": {
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "id": "safebrowsing:v4",
  "rootUrl": "https://safebrowsing.googleapis.com/"
}
