{
  "discoveryVersion": "v1",
  "id": "safebrowsing:v4",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "version": "v4",
  "revision": "20230212",
  "resources": {
    "threatLists": {
      "methods": {
        "list": {
          "flatPath": "v4/threatLists",
          "httpMethod": "GET",
          "description": "Lists the Safe Browsing threat lists available for download.",
          "path": "v4/threatLists",
          "id": "safebrowsing.threatLists.list",
          "parameters": {},
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4ListThreatListsResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "threatListUpdates": {
      "methods": {
        "fetch": {
          "path": "v4/threatListUpdates:fetch",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest"
          },
          "parameters": {},
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "description": "Fetches the most recent threat list updates. A client can request updates for multiple lists at once.",
          "id": "safebrowsing.threatListUpdates.fetch",
          "httpMethod": "POST",
          "flatPath": "v4/threatListUpdates:fetch",
          "parameterOrder": []
        }
      }
    },
    "fullHashes": {
      "methods": {
        "find": {
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "flatPath": "v4/fullHashes:find",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesRequest"
          },
          "path": "v4/fullHashes:find",
          "description": "Finds the full hashes that match the requested hash prefixes.",
          "id": "safebrowsing.fullHashes.find"
        }
      }
    },
    "threatHits": {
      "methods": {
        "create": {
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHit"
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Reports a Safe Browsing threat list hit to Google. Only projects with TRUSTED_REPORTER visibility can use this method.",
          "id": "safebrowsing.threatHits.create",
          "flatPath": "v4/threatHits",
          "path": "v4/threatHits",
          "parameters": {}
        }
      }
    },
    "threatMatches": {
      "methods": {
        "find": {
          "id": "safebrowsing.threatMatches.find",
          "parameterOrder": [],
          "flatPath": "v4/threatMatches:find",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest"
          },
          "description": "Finds the threat entries that match the Safe Browsing lists.",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse"
          },
          "path": "v4/threatMatches:find",
          "parameters": {}
        }
      }
    },
    "encodedUpdates": {
      "methods": {
        "get": {
          "description": "",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "flatPath": "v4/encodedUpdates/{encodedRequest}",
          "parameters": {
            "encodedRequest": {
              "format": "byte",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "A serialized FetchThreatListUpdatesRequest proto."
            },
            "clientId": {
              "type": "string",
              "location": "query",
              "description": "A client ID that uniquely identifies the client implementation of the Safe Browsing API."
            },
            "clientVersion": {
              "location": "query",
              "description": "The version of the client implementation.",
              "type": "string"
            }
          },
          "path": "v4/encodedUpdates/{encodedRequest}",
          "parameterOrder": [
            "encodedRequest"
          ],
          "id": "safebrowsing.encodedUpdates.get"
        }
      }
    },
    "encodedFullHashes": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "encodedRequest"
          ],
          "description": "",
          "parameters": {
            "clientVersion": {
              "type": "string",
              "description": "The version of the client implementation.",
              "location": "query"
            },
            "encodedRequest": {
              "type": "string",
              "description": "A serialized FindFullHashesRequest proto.",
              "location": "path",
              "required": true,
              "format": "byte"
            },
            "clientId": {
              "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v4/encodedFullHashes/{encodedRequest}",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "id": "safebrowsing.encodedFullHashes.get"
        }
      }
    }
  },
  "name": "safebrowsing",
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "batchPath": "batch",
  "schemas": {
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints": {
      "description": "The constraints for this update.",
      "properties": {
        "maxUpdateEntries": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum size in number of entries. The update will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no update size limit is set."
        },
        "language": {
          "description": "Requests the lists for a specific language. Expects ISO 639 alpha-2 format.",
          "type": "string"
        },
        "supportedCompressions": {
          "type": "array",
          "description": "The compression types supported by the client.",
          "items": {
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ],
            "enumDescriptions": [
              "Unknown.",
              "Raw, uncompressed data.",
              "Rice-Golomb encoded data."
            ],
            "type": "string"
          }
        },
        "region": {
          "type": "string",
          "description": "Requests the list for a specific geographic location. If not set the server may pick that value based on the user's IP address. Expects ISO 3166-1 alpha-2 format."
        },
        "maxDatabaseEntries": {
          "type": "integer",
          "format": "int32",
          "description": "Sets the maximum number of entries that the client is willing to have in the local database for the specified list. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set."
        },
        "deviceLocation": {
          "description": "A client's physical location, expressed as a ISO 31166-1 alpha-2 region code.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse",
      "properties": {
        "checksum": {
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided update. If the client state doesn't match the expected state, the client must disregard this update and retry later.",
          "$ref": "GoogleSecuritySafebrowsingV4Checksum"
        },
        "responseType": {
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means that either the client was seriously out-of-date or the client is believed to be corrupt."
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ],
          "type": "string",
          "description": "The type of response. This may indicate that an action is required by the client when the response is received."
        },
        "newClientState": {
          "description": "The new client state, in encrypted format. Opaque to clients.",
          "type": "string",
          "format": "byte"
        },
        "removals": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          },
          "description": "A set of entries to remove from a local threat type's list. In practice, this field is empty or contains exactly one ThreatEntrySet.",
          "type": "array"
        },
        "additions": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          },
          "description": "A set of entries to add to a local threat type's list. Repeated to allow for a combination of compressed and raw data to be sent in a single response.",
          "type": "array"
        },
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type for which data is returned."
        },
        "threatEntryType": {
          "description": "The format of the threats.",
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        },
        "threatType": {
          "description": "The threat type for which data is returned.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "An update to an individual list."
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest",
      "type": "object",
      "properties": {
        "constraints": {
          "description": "The constraints associated with this request.",
          "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints"
        },
        "state": {
          "description": "The current state of the client for the requested list (the encrypted client state that was received from the last successful list update).",
          "type": "string",
          "format": "byte"
        },
        "threatEntryType": {
          "description": "The types of entries present in the list.",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string"
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "type": "string",
          "description": "The type of threat posed by entries present in the list."
        },
        "platformType": {
          "description": "The type of platform at risk by entries present in the list.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string"
        }
      },
      "description": "A single list update request."
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest": {
      "properties": {
        "threatInfo": {
          "description": "The lists and entries to be checked for matches.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo"
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest",
      "description": "Request to check entries against lists."
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadata": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry"
          },
          "description": "The metadata entries."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata",
      "description": "The metadata associated with a specific threat entry. The client is expected to know the metadata key/value pairs associated with each threat type.",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesRequest": {
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesRequest",
      "type": "object",
      "description": "Request to return full hashes matched by the provided hash prefixes.",
      "properties": {
        "apiClient": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "Client metadata associated with callers of higher-level APIs built on top of the client's implementation."
        },
        "clientStates": {
          "type": "array",
          "description": "The current client states for each of the client's local threat lists.",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "threatInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo",
          "description": "The lists and hashes to be checked."
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ListThreatListsResponse": {
      "properties": {
        "threatLists": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatListDescriptor"
          },
          "type": "array",
          "description": "The lists available for download by the client."
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ListThreatListsResponse"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleSecuritySafebrowsingV4ThreatInfo": {
      "id": "GoogleSecuritySafebrowsingV4ThreatInfo",
      "description": "The information regarding one or more threats that a client submits when checking for matches in threat lists.",
      "properties": {
        "platformTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unknown platform.",
              "Threat posed to Windows.",
              "Threat posed to Linux.",
              "Threat posed to Android.",
              "Threat posed to OS X.",
              "Threat posed to iOS.",
              "Threat posed to at least one of the defined platforms.",
              "Threat posed to all defined platforms.",
              "Threat posed to Chrome."
            ],
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ],
            "type": "string"
          },
          "description": "The platform types to be checked."
        },
        "threatEntries": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
          },
          "type": "array",
          "description": "The threat entries to be checked."
        },
        "threatEntryTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "A URL.",
              "An executable program.",
              "An IP range.",
              "Chrome extension.",
              "Filename.",
              "CERT"
            ],
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ]
          },
          "description": "The entry types to be checked.",
          "type": "array"
        },
        "threatTypes": {
          "description": "The threat types to be checked.",
          "type": "array",
          "items": {
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "SOCIAL_ENGINEERING_INTERNAL",
              "API_ABUSE",
              "MALICIOUS_BINARY",
              "CSD_WHITELIST",
              "CSD_DOWNLOAD_WHITELIST",
              "CLIENT_INCIDENT",
              "CLIENT_INCIDENT_WHITELIST",
              "APK_MALWARE_OFFLINE",
              "SUBRESOURCE_FILTER",
              "SUSPICIOUS",
              "TRICK_TO_BILL",
              "HIGH_CONFIDENCE_ALLOWLIST",
              "ACCURACY_TIPS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unknown.",
              "Malware threat type.",
              "Social engineering threat type.",
              "Unwanted software threat type.",
              "Potentially harmful application threat type.",
              "Social engineering threat type for internal use.",
              "API abuse threat type.",
              "Malicious binary threat type.",
              "Client side detection whitelist threat type.",
              "Client side download detection whitelist threat type.",
              "Client incident threat type.",
              "Whitelist used when detecting client incident threats.",
              "List used for offline APK checks in PAM.",
              "Patterns to be used for activating the subresource filter.",
              "Entities that are suspected to present a threat.",
              "Trick-to-bill threat type.",
              "URL expressions that are very likely to be safe.",
              "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
            ]
          }
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatHit": {
      "id": "GoogleSecuritySafebrowsingV4ThreatHit",
      "type": "object",
      "properties": {
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "description": "The platform type reported."
        },
        "userInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo",
          "description": "Details about the user that encountered the threat."
        },
        "clientInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "Client-reported identification."
        },
        "resources": {
          "type": "array",
          "description": "The resources related to the threat hit.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource"
          }
        },
        "threatType": {
          "type": "string",
          "description": "The threat type reported.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ]
        },
        "entry": {
          "description": "The threat entry responsible for the hit. Full hash should be reported for hash-based hits.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4Checksum": {
      "id": "GoogleSecuritySafebrowsingV4Checksum",
      "properties": {
        "sha256": {
          "type": "string",
          "format": "byte",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database."
        }
      },
      "type": "object",
      "description": "The expected state of a client's local database."
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesResponse": {
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesResponse",
      "type": "object",
      "properties": {
        "negativeCacheDuration": {
          "type": "string",
          "description": "For requested entities that did not match the threat list, how long to cache the response.",
          "format": "google-duration"
        },
        "matches": {
          "type": "array",
          "description": "The full hashes that matched the requested prefixes.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          }
        },
        "minimumWaitDuration": {
          "format": "google-duration",
          "description": "The minimum duration the client must wait before issuing any find hashes request. If this field is not set, clients can issue a request as soon as they want.",
          "type": "string"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse": {
      "type": "object",
      "properties": {
        "matches": {
          "description": "The threat list matches.",
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          }
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse"
    },
    "GoogleSecuritySafebrowsingV4RiceDeltaEncoding": {
      "id": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding",
      "properties": {
        "encodedData": {
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "format": "byte",
          "type": "string"
        },
        "riceParameter": {
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero.",
          "type": "integer",
          "format": "int32"
        },
        "numEntries": {
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "type": "integer",
          "format": "int32"
        },
        "firstValue": {
          "format": "int64",
          "type": "string",
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero."
        }
      },
      "type": "object",
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices."
    },
    "GoogleSecuritySafebrowsingV4ThreatHitThreatSource": {
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the resource."
        },
        "type": {
          "type": "string",
          "enum": [
            "THREAT_SOURCE_TYPE_UNSPECIFIED",
            "MATCHING_URL",
            "TAB_URL",
            "TAB_REDIRECT",
            "TAB_RESOURCE"
          ],
          "description": "The type of source reported.",
          "enumDescriptions": [
            "Unknown.",
            "The URL that matched the threat list (for which GetFullHash returned a valid hash).",
            "The final top-level URL of the tab that the client was browsing when the match occurred.",
            "A redirect URL that was fetched before hitting the final TAB_URL.",
            "A resource loaded within the final TAB_URL."
          ]
        },
        "referrer": {
          "description": "Referrer of the resource. Only set if the referrer is available.",
          "type": "string"
        },
        "remoteIp": {
          "type": "string",
          "description": "The remote IP of the resource in ASCII format. Either IPv4 or IPv6."
        }
      },
      "description": "A single resource related to a threat hit.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource"
    },
    "GoogleSecuritySafebrowsingV4ThreatHitUserInfo": {
      "id": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo",
      "type": "object",
      "description": "Details about the user that encountered the threat.",
      "properties": {
        "userId": {
          "format": "byte",
          "description": "Unique user identifier defined by the client.",
          "type": "string"
        },
        "regionCode": {
          "description": "The UN M.49 region code associated with the user's location.",
          "type": "string"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse": {
      "type": "object",
      "properties": {
        "listUpdateResponses": {
          "description": "The list updates requested by the clients. The number of responses here may be less than the number of requests sent by clients. This is the case, for example, if the server has no updates for a particular list.",
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse"
          }
        },
        "minimumWaitDuration": {
          "format": "google-duration",
          "description": "The minimum duration the client must wait before issuing any update request. If this field is not set clients may update as soon as they want.",
          "type": "string"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
    },
    "GoogleSecuritySafebrowsingV4ThreatListDescriptor": {
      "id": "GoogleSecuritySafebrowsingV4ThreatListDescriptor",
      "type": "object",
      "properties": {
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "description": "The platform type targeted by the list's entries.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string"
        },
        "threatType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "description": "The threat type posed by the list's entries.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ]
        },
        "threatEntryType": {
          "description": "The entry types contained in the list.",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        }
      },
      "description": "Describes an individual threat list. A list is defined by three parameters: the type of threat posed, the type of platform targeted by the threat, and the type of entries in the list."
    },
    "GoogleSecuritySafebrowsingV4ThreatMatch": {
      "properties": {
        "cacheDuration": {
          "description": "The cache lifetime for the returned match. Clients must not cache this response for more than this duration to avoid false positives.",
          "format": "google-duration",
          "type": "string"
        },
        "threat": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry",
          "description": "The threat matching this threat."
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type matching this threat.",
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "description": "The threat entry type matching this threat.",
          "type": "string"
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "description": "The threat type matching this threat.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ]
        },
        "threatEntryMetadata": {
          "description": "Optional metadata associated with this threat.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatMatch",
      "type": "object",
      "description": "A match when checking a threat entry in the Safe Browsing threat lists."
    },
    "GoogleSecuritySafebrowsingV4RawIndices": {
      "properties": {
        "indices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "The indices to remove from a lexicographically-sorted local list."
        }
      },
      "type": "object",
      "description": "A set of raw indices to remove from a local list.",
      "id": "GoogleSecuritySafebrowsingV4RawIndices"
    },
    "GoogleSecuritySafebrowsingV4ThreatEntry": {
      "properties": {
        "hash": {
          "format": "byte",
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded.",
          "type": "string"
        },
        "digest": {
          "format": "byte",
          "description": "The digest of an executable in SHA256 format. The API supports both binary and hex digests. For JSON requests, digests are base64-encoded.",
          "type": "string"
        },
        "url": {
          "description": "A URL.",
          "type": "string"
        }
      },
      "description": "An individual threat; for example, a malicious URL or its hash representation. Only one of these fields should be set.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntry"
    },
    "GoogleSecuritySafebrowsingV4RawHashes": {
      "properties": {
        "rawHashes": {
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.",
          "type": "string",
          "format": "byte"
        },
        "prefixSize": {
          "format": "int32",
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash).",
          "type": "integer"
        }
      },
      "description": "The uncompressed threat entries in hash format of a particular prefix length. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URL. Used for sending ThreatEntrySet to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "id": "GoogleSecuritySafebrowsingV4RawHashes",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry",
      "properties": {
        "value": {
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded.",
          "format": "byte",
          "type": "string"
        },
        "key": {
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "A single metadata entry."
    },
    "GoogleSecuritySafebrowsingV4ClientInfo": {
      "properties": {
        "clientId": {
          "type": "string",
          "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API."
        },
        "clientVersion": {
          "description": "The version of the client implementation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ClientInfo",
      "description": "The client metadata associated with Safe Browsing API requests."
    },
    "GoogleSecuritySafebrowsingV4ThreatEntrySet": {
      "properties": {
        "rawHashes": {
          "description": "The raw SHA256-formatted entries.",
          "$ref": "GoogleSecuritySafebrowsingV4RawHashes"
        },
        "rawIndices": {
          "description": "The raw removal indices for a local list.",
          "$ref": "GoogleSecuritySafebrowsingV4RawIndices"
        },
        "compressionType": {
          "description": "The compression type for the entries in this set.",
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ],
          "type": "string",
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ]
        },
        "riceHashes": {
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding",
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data."
        },
        "riceIndices": {
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding"
        }
      },
      "description": "A set of threats that should be added or removed from a client's local database.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest": {
      "properties": {
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "listUpdateRequests": {
          "description": "The requested threat list updates.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest"
          },
          "type": "array"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest",
      "type": "object",
      "description": "Describes a Safe Browsing API update request. Clients can request updates for multiple lists in a single request. The server may not respond to all requests, if the server has no updates for that list. NOTE: Field index 2 is unused. NEXT: 5"
    }
  },
  "servicePath": "",
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "basePath": "",
  "protocol": "rest",
  "version_module": true,
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "canonicalName": "Safebrowsing",
  "title": "Safe Browsing API"
}
