{
  "kind": "discovery#restDescription",
  "version_module": true,
  "protocol": "rest",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://sasportal.mtls.googleapis.com/",
  "description": "",
  "basePath": "",
  "rootUrl": "https://sasportal.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sasportal": {
          "description": "Read, create, update, and delete your SAS Portal data."
        }
      }
    }
  },
  "resources": {
    "policies": {
      "methods": {
        "get": {
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "flatPath": "v1alpha1/policies:get",
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "parameters": {},
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "request": {
            "$ref": "SasPortalGetPolicyRequest"
          },
          "path": "v1alpha1/policies:get",
          "parameterOrder": [],
          "id": "sasportal.policies.get"
        },
        "test": {
          "request": {
            "$ref": "SasPortalTestPermissionsRequest"
          },
          "id": "sasportal.policies.test",
          "path": "v1alpha1/policies:test",
          "parameters": {},
          "response": {
            "$ref": "SasPortalTestPermissionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Returns permissions that a caller has on the specified resource.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "v1alpha1/policies:test"
        },
        "set": {
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "request": {
            "$ref": "SasPortalSetPolicyRequest"
          },
          "httpMethod": "POST",
          "path": "v1alpha1/policies:set",
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/policies:set",
          "id": "sasportal.policies.set",
          "parameterOrder": [],
          "parameters": {}
        }
      }
    },
    "deployments": {
      "resources": {
        "devices": {
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Output only. The resource path name.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Fields to be updated."
                }
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "id": "sasportal.deployments.devices.patch",
              "description": "Updates a device.",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH"
            },
            "move": {
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move",
              "id": "sasportal.deployments.devices.move",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to move.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "path": "v1alpha1/{+name}:move",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "description": "Moves a device under another node or customer.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "signDevice": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:signDevice",
              "description": "Signs a device.",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "parameters": {
                "name": {
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "sasportal.deployments.devices.signDevice",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets details about a device.",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "id": "sasportal.deployments.devices.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}"
            },
            "updateSigned": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to update.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "description": "Updates a signed device.",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.deployments.devices.updateSigned",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}:updateSigned"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "description": "Deletes a device.",
              "id": "sasportal.deployments.devices.delete",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      },
      "methods": {
        "get": {
          "flatPath": "v1alpha1/deployments/{deploymentsId}",
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalDeployment"
          },
          "path": "v1alpha1/{+name}",
          "description": "Returns a requested deployment.",
          "id": "sasportal.deployments.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the deployment.",
              "type": "string",
              "required": true,
              "pattern": "^deployments/[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "installer": {
      "methods": {
        "validate": {
          "description": "Validates the identity of a Certified Professional Installer (CPI).",
          "response": {
            "$ref": "SasPortalValidateInstallerResponse"
          },
          "path": "v1alpha1/installer:validate",
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "SasPortalValidateInstallerRequest"
          },
          "id": "sasportal.installer.validate",
          "httpMethod": "POST",
          "flatPath": "v1alpha1/installer:validate",
          "parameters": {}
        },
        "generateSecret": {
          "httpMethod": "POST",
          "description": "Generates a secret to be used with the ValidateInstaller.",
          "parameters": {},
          "id": "sasportal.installer.generateSecret",
          "path": "v1alpha1/installer:generateSecret",
          "flatPath": "v1alpha1/installer:generateSecret",
          "response": {
            "$ref": "SasPortalGenerateSecretResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "request": {
            "$ref": "SasPortalGenerateSecretRequest"
          },
          "parameterOrder": []
        }
      }
    },
    "nodes": {
      "resources": {
        "devices": {
          "methods": {
            "patch": {
              "description": "Updates a device.",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.nodes.devices.patch",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "Output only. The resource path name.",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            },
            "move": {
              "path": "v1alpha1/{+name}:move",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "id": "sasportal.nodes.devices.move",
              "httpMethod": "POST",
              "description": "Moves a device under another node or customer.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to move.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "description": "Deletes a device.",
              "id": "sasportal.nodes.devices.delete",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}"
            },
            "createSigned": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the parent resource."
                }
              },
              "id": "sasportal.nodes.devices.createSigned",
              "description": "Creates a signed device under a node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/devices:createSigned",
              "httpMethod": "POST"
            },
            "updateSigned": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.nodes.devices.updateSigned",
              "path": "v1alpha1/{+name}:updateSigned",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the device to update."
                }
              },
              "description": "Updates a signed device.",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:updateSigned",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              }
            },
            "signDevice": {
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.nodes.devices.signDevice",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:signDevice",
              "path": "v1alpha1/{+name}:signDevice",
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Signs a device.",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              }
            },
            "list": {
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "description": "Lists devices under a node or customer.",
              "path": "v1alpha1/{+parent}/devices",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent resource.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                }
              },
              "id": "sasportal.nodes.devices.list"
            },
            "get": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}",
              "id": "sasportal.nodes.devices.get",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "description": "Gets details about a device.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the device."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "create": {
              "description": "Creates a device under a node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+parent}/devices",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "sasportal.nodes.devices.create",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices"
            }
          }
        },
        "deployments": {
          "methods": {
            "patch": {
              "description": "Updates an existing deployment.",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Fields to be updated."
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Output only. Resource name.",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                }
              },
              "id": "sasportal.nodes.deployments.patch",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalDeployment"
              }
            },
            "move": {
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}:move",
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a deployment under another node or customer.",
              "id": "sasportal.nodes.deployments.move",
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the deployment to move.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                }
              }
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the deployment."
                }
              },
              "httpMethod": "DELETE",
              "id": "sasportal.nodes.deployments.delete",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a deployment."
            },
            "list": {
              "id": "sasportal.nodes.deployments.list",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of deployments to return in the response.",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^nodes/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2."
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "path": "v1alpha1/{+parent}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists deployments."
            },
            "get": {
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a requested deployment.",
              "httpMethod": "GET",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.deployments.get",
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the deployment.",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}"
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "createSigned": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices:createSigned",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "id": "sasportal.nodes.deployments.devices.createSigned",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "list": {
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "description": "Lists devices under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.nodes.deployments.devices.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "description": "Creates a device under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices",
                  "httpMethod": "POST",
                  "id": "sasportal.nodes.deployments.devices.create",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "nodes": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v1alpha1/{+name}",
              "id": "sasportal.nodes.nodes.delete",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the node.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "description": "Deletes a node."
            },
            "list": {
              "description": "Lists nodes.",
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "id": "sasportal.nodes.nodes.list",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "path": "v1alpha1/{+parent}/nodes",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of nodes to return in the response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "get": {
              "description": "Returns a requested node.",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the node."
                }
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "id": "sasportal.nodes.nodes.get",
              "httpMethod": "GET"
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "description": "Output only. Resource name.",
                  "type": "string",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "required": true
                }
              },
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalNode"
              },
              "id": "sasportal.nodes.nodes.patch",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalNode"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "description": "Updates an existing node."
            },
            "move": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the node to move.",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1alpha1/{+name}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "httpMethod": "POST",
              "id": "sasportal.nodes.nodes.move",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}:move",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Moves a node under another node or customer.",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "request": {
                "$ref": "SasPortalNode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Creates a new node.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the node is to be created.",
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "id": "sasportal.nodes.nodes.create",
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/nodes"
            }
          },
          "resources": {
            "nodes": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name where the node is to be created."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "id": "sasportal.nodes.nodes.nodes.create",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "description": "Creates a new node.",
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/nodes"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of nodes to return in the response.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name, for example, \"nodes/1\"."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists nodes.",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "path": "v1alpha1/{+parent}/nodes",
                  "id": "sasportal.nodes.nodes.nodes.list",
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  }
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.nodes.nodes.devices.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "description": "Lists devices under a node or customer.",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "path": "v1alpha1/{+parent}/devices",
                  "parameters": {
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "location": "path",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "create": {
                  "id": "sasportal.nodes.nodes.devices.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "httpMethod": "POST",
                  "description": "Creates a device under a node or customer.",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  }
                },
                "createSigned": {
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices:createSigned",
                  "id": "sasportal.nodes.nodes.devices.createSigned",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a signed device under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the parent resource."
                    }
                  }
                }
              }
            },
            "deployments": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "description": "Creates a new deployment.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "location": "path",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "id": "sasportal.nodes.nodes.deployments.create",
                  "path": "v1alpha1/{+parent}/deployments",
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "list": {
                  "path": "v1alpha1/{+parent}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of deployments to return in the response.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                    }
                  },
                  "httpMethod": "GET",
                  "id": "sasportal.nodes.nodes.deployments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists deployments.",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha1/nodes/{nodesId}",
          "description": "Returns a requested node.",
          "httpMethod": "GET",
          "response": {
            "$ref": "SasPortalNode"
          },
          "id": "sasportal.nodes.get",
          "parameters": {
            "name": {
              "description": "Required. The name of the node.",
              "required": true,
              "pattern": "^nodes/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1alpha1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ]
        }
      }
    },
    "customers": {
      "resources": {
        "deployments": {
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "path": "v1alpha1/{+parent}/devices",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "description": "Lists devices under a node or customer.",
                  "id": "sasportal.customers.deployments.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "parameters": {
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "description": "Creates a device under a node or customer.",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/devices",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.customers.deployments.devices.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  }
                },
                "createSigned": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices:createSigned",
                  "id": "sasportal.customers.deployments.devices.createSigned",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "pattern": "^customers/[^/]+/deployments/[^/]+$"
                    }
                  },
                  "description": "Creates a signed device under a node or customer."
                }
              }
            }
          },
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the deployment.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Deletes a deployment.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "id": "sasportal.customers.deployments.delete"
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource name where the deployment is to be created.",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "POST",
              "path": "v1alpha1/{+parent}/deployments",
              "description": "Creates a new deployment.",
              "id": "sasportal.customers.deployments.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "response": {
                "$ref": "SasPortalDeployment"
              }
            },
            "patch": {
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "description": "Output only. Resource name."
                },
                "updateMask": {
                  "location": "query",
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "id": "sasportal.customers.deployments.patch",
              "path": "v1alpha1/{+name}",
              "description": "Updates an existing deployment."
            },
            "move": {
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the deployment to move.",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$"
                }
              },
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a deployment under another node or customer.",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}:move",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "id": "sasportal.customers.deployments.move"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.customers.deployments.get",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the deployment.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$"
                }
              },
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}",
              "description": "Returns a requested deployment."
            },
            "list": {
              "path": "v1alpha1/{+parent}/deployments",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of deployments to return in the response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "id": "sasportal.customers.deployments.list",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Lists deployments."
            }
          }
        },
        "nodes": {
          "resources": {
            "deployments": {
              "methods": {
                "create": {
                  "description": "Creates a new deployment.",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "id": "sasportal.customers.nodes.deployments.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/deployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "SasPortalDeployment"
                  }
                },
                "list": {
                  "path": "v1alpha1/{+parent}/deployments",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from."
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of deployments to return in the response.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "description": "Lists deployments.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "id": "sasportal.customers.nodes.deployments.list"
                }
              }
            },
            "nodes": {
              "methods": {
                "list": {
                  "path": "v1alpha1/{+parent}/nodes",
                  "description": "Lists nodes.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of nodes to return in the response.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\"."
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "id": "sasportal.customers.nodes.nodes.list"
                },
                "create": {
                  "path": "v1alpha1/{+parent}/nodes",
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource name where the node is to be created.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Creates a new node.",
                  "id": "sasportal.customers.nodes.nodes.create",
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "httpMethod": "POST"
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "httpMethod": "GET",
                  "description": "Lists devices under a node or customer.",
                  "parameters": {
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the parent resource."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "id": "sasportal.customers.nodes.devices.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "createSigned": {
                  "description": "Creates a signed device under a node or customer.",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices:createSigned",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.customers.nodes.devices.createSigned",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Creates a device under a node or customer.",
                  "id": "sasportal.customers.nodes.devices.create",
                  "path": "v1alpha1/{+parent}/devices",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalDevice"
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "request": {
                "$ref": "SasPortalNode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "path": "v1alpha1/{+parent}/nodes",
              "parameterOrder": [
                "parent"
              ],
              "id": "sasportal.customers.nodes.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource name where the node is to be created.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "description": "Creates a new node.",
              "response": {
                "$ref": "SasPortalNode"
              },
              "httpMethod": "POST"
            },
            "list": {
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "description": "Lists nodes.",
              "parameters": {
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of nodes to return in the response."
                }
              },
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/nodes",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "sasportal.customers.nodes.list"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "description": "Deletes a node.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "id": "sasportal.customers.nodes.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the node."
                }
              },
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "get": {
              "response": {
                "$ref": "SasPortalNode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.nodes.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the node.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$"
                }
              },
              "description": "Returns a requested node.",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET"
            },
            "patch": {
              "response": {
                "$ref": "SasPortalNode"
              },
              "id": "sasportal.customers.nodes.patch",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates an existing node.",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "request": {
                "$ref": "SasPortalNode"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Output only. Resource name.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "move": {
              "httpMethod": "POST",
              "description": "Moves a node under another node or customer.",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "path": "v1alpha1/{+name}:move",
              "id": "sasportal.customers.nodes.move",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the node to move.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ]
            }
          }
        },
        "devices": {
          "methods": {
            "delete": {
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the device.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Deletes a device.",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.customers.devices.delete"
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "id": "sasportal.customers.devices.get",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Gets details about a device.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "description": "Lists devices under a node or customer.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the parent resource."
                },
                "filter": {
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "path": "v1alpha1/{+parent}/devices",
              "id": "sasportal.customers.devices.list",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "signDevice": {
              "id": "sasportal.customers.devices.signDevice",
              "description": "Signs a device.",
              "path": "v1alpha1/{+name}:signDevice",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Output only. The resource path name.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the parent resource."
                }
              },
              "description": "Creates a device under a node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "path": "v1alpha1/{+parent}/devices",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.customers.devices.create"
            },
            "move": {
              "id": "sasportal.customers.devices.move",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Moves a device under another node or customer.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device to move.",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}:move",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move"
            },
            "createSigned": {
              "description": "Creates a signed device under a node or customer.",
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "POST",
              "id": "sasportal.customers.devices.createSigned",
              "path": "v1alpha1/{+parent}/devices:createSigned"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.devices.patch",
              "path": "v1alpha1/{+name}",
              "description": "Updates a device.",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Fields to be updated."
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name."
                }
              }
            },
            "updateSigned": {
              "scopes": [
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a signed device.",
              "id": "sasportal.customers.devices.updateSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}:updateSigned",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the device to update.",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned"
            }
          }
        }
      },
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/customers",
          "description": "Returns a list of requested customers.",
          "id": "sasportal.customers.list",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of customers to return in the response.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from.",
              "location": "query"
            }
          },
          "path": "v1alpha1/customers",
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          }
        },
        "patch": {
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Fields to be updated.",
              "type": "string"
            },
            "name": {
              "pattern": "^customers/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Output only. Resource name of the customer."
            }
          },
          "description": "Updates an existing customer.",
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "id": "sasportal.customers.patch",
          "flatPath": "v1alpha1/customers/{customersId}",
          "httpMethod": "PATCH",
          "path": "v1alpha1/{+name}"
        },
        "get": {
          "flatPath": "v1alpha1/customers/{customersId}",
          "description": "Returns a requested customer.",
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "id": "sasportal.customers.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the customer.",
              "required": true,
              "pattern": "^customers/[^/]+$",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "title": "SAS Portal API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "servicePath": "",
  "id": "sasportal:v1alpha1",
  "revision": "20230105",
  "schemas": {
    "SasPortalListDeploymentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments."
        },
        "deployments": {
          "description": "The deployments that match the request.",
          "items": {
            "$ref": "SasPortalDeployment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for ListDeployments.",
      "id": "SasPortalListDeploymentsResponse"
    },
    "SasPortalDeployment": {
      "id": "SasPortalDeployment",
      "description": "The Deployment.",
      "type": "object",
      "properties": {
        "frns": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The deployment's display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name.",
          "readOnly": true,
          "type": "string"
        },
        "sasUserIds": {
          "type": "array",
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SasPortalFrequencyRange": {
      "type": "object",
      "properties": {
        "lowFrequencyMhz": {
          "type": "number",
          "format": "double",
          "description": "The lowest frequency of the frequency range in MHz."
        },
        "highFrequencyMhz": {
          "description": "The highest frequency of the frequency range in MHz.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "SasPortalFrequencyRange",
      "description": "Frequency range from `low_frequency` to `high_frequency`."
    },
    "SasPortalOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "SasPortalOperation",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "SasPortalStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
[...]
