{
  "discoveryVersion": "v1",
  "resources": {
    "deployments": {
      "resources": {
        "devices": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Fields to be updated."
                },
                "name": {
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "sasportal.deployments.devices.patch",
              "path": "v1alpha1/{+name}",
              "description": "Updates a device.",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "get": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "id": "sasportal.deployments.devices.get",
              "httpMethod": "GET",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "description": "Gets details about a device.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            },
            "signDevice": {
              "path": "v1alpha1/{+name}:signDevice",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "sasportal.deployments.devices.signDevice",
              "description": "Signs a device.",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true
                }
              }
            },
            "move": {
              "httpMethod": "POST",
              "path": "v1alpha1/{+name}:move",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move",
              "parameterOrder": [
                "name"
              ],
              "description": "Moves a device under another node or customer.",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to move."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "id": "sasportal.deployments.devices.move"
            },
            "updateSigned": {
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the device to update."
                }
              },
              "id": "sasportal.deployments.devices.updateSigned",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a signed device.",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}:updateSigned"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "httpMethod": "DELETE",
              "id": "sasportal.deployments.devices.delete",
              "path": "v1alpha1/{+name}",
              "description": "Deletes a device.",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}"
            }
          }
        }
      },
      "methods": {
        "get": {
          "httpMethod": "GET",
          "flatPath": "v1alpha1/deployments/{deploymentsId}",
          "response": {
            "$ref": "SasPortalDeployment"
          },
          "parameters": {
            "name": {
              "pattern": "^deployments/[^/]+$",
              "type": "string",
              "description": "Required. The name of the deployment.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Returns a requested deployment.",
          "path": "v1alpha1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "id": "sasportal.deployments.get"
        }
      }
    },
    "installer": {
      "methods": {
        "validate": {
          "response": {
            "$ref": "SasPortalValidateInstallerResponse"
          },
          "id": "sasportal.installer.validate",
          "request": {
            "$ref": "SasPortalValidateInstallerRequest"
          },
          "path": "v1alpha1/installer:validate",
          "parameterOrder": [],
          "flatPath": "v1alpha1/installer:validate",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "httpMethod": "POST",
          "description": "Validates the identity of a Certified Professional Installer (CPI)."
        },
        "generateSecret": {
          "httpMethod": "POST",
          "description": "Generates a secret to be used with the ValidateInstaller.",
          "response": {
            "$ref": "SasPortalGenerateSecretResponse"
          },
          "flatPath": "v1alpha1/installer:generateSecret",
          "request": {
            "$ref": "SasPortalGenerateSecretRequest"
          },
          "path": "v1alpha1/installer:generateSecret",
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "parameters": {},
          "id": "sasportal.installer.generateSecret",
          "parameterOrder": []
        }
      }
    },
    "policies": {
      "methods": {
        "get": {
          "path": "v1alpha1/policies:get",
          "httpMethod": "POST",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "flatPath": "v1alpha1/policies:get",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "request": {
            "$ref": "SasPortalGetPolicyRequest"
          },
          "parameterOrder": [],
          "id": "sasportal.policies.get"
        },
        "test": {
          "id": "sasportal.policies.test",
          "path": "v1alpha1/policies:test",
          "flatPath": "v1alpha1/policies:test",
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "request": {
            "$ref": "SasPortalTestPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "SasPortalTestPermissionsResponse"
          },
          "parameters": {}
        },
        "set": {
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "id": "sasportal.policies.set",
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "flatPath": "v1alpha1/policies:set",
          "request": {
            "$ref": "SasPortalSetPolicyRequest"
          },
          "path": "v1alpha1/policies:set",
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalPolicy"
          }
        }
      }
    },
    "customers": {
      "methods": {
        "list": {
          "description": "Returns a list of requested customers.",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of customers to return in the response."
            },
            "pageToken": {
              "description": "A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1alpha1/customers",
          "id": "sasportal.customers.list",
          "path": "v1alpha1/customers",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          }
        },
        "get": {
          "path": "v1alpha1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the customer.",
              "pattern": "^customers/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "description": "Returns a requested customer.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha1/customers/{customersId}",
          "id": "sasportal.customers.get"
        },
        "patch": {
          "parameters": {
            "updateMask": {
              "description": "Fields to be updated.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "pattern": "^customers/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Output only. Resource name of the customer."
            }
          },
          "id": "sasportal.customers.patch",
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Updates an existing customer.",
          "httpMethod": "PATCH",
          "flatPath": "v1alpha1/customers/{customersId}",
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "path": "v1alpha1/{+name}"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "move": {
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move",
              "id": "sasportal.customers.devices.move",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device to move."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "description": "Moves a device under another node or customer.",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "path": "v1alpha1/{+name}:move",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "updateSigned": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to update.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "sasportal.customers.devices.updateSigned",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned",
              "description": "Updates a signed device.",
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}:updateSigned"
            },
            "get": {
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "description": "Gets details about a device.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the device.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "GET",
              "id": "sasportal.customers.devices.get"
            },
            "create": {
              "path": "v1alpha1/{+parent}/devices",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the parent resource.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "sasportal.customers.devices.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "description": "Creates a device under a node or customer.",
              "flatPath": "v1alpha1/customers/{customersId}/devices"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.customers.devices.delete",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "httpMethod": "DELETE",
              "description": "Deletes a device.",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}"
            },
            "signDevice": {
              "path": "v1alpha1/{+name}:signDevice",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Output only. The resource path name.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Signs a device.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "id": "sasportal.customers.devices.signDevice",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              }
            },
            "createSigned": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "id": "sasportal.customers.devices.createSigned",
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The name of the parent resource.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "description": "Creates a signed device under a node or customer."
            },
            "list": {
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000]."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the parent resource.",
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1alpha1/{+parent}/devices",
              "parameterOrder": [
                "parent"
              ],
              "id": "sasportal.customers.devices.list",
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "httpMethod": "GET",
              "description": "Lists devices under a node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.customers.devices.patch",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "request": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates a device."
            }
          }
        },
        "nodes": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the node is to be created.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "request": {
                "$ref": "SasPortalNode"
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "id": "sasportal.customers.nodes.create",
              "path": "v1alpha1/{+parent}/nodes",
              "response": {
                "$ref": "SasPortalNode"
              },
              "description": "Creates a new node.",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalNode"
              },
              "id": "sasportal.customers.nodes.get",
              "description": "Returns a requested node.",
              "path": "v1alpha1/{+name}"
            },
            "move": {
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "description": "Moves a node under another node or customer.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the node to move.",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "id": "sasportal.customers.nodes.move",
              "httpMethod": "POST"
            },
            "list": {
              "id": "sasportal.customers.nodes.list",
              "path": "v1alpha1/{+parent}/nodes",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "description": "Lists nodes.",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of nodes to return in the response."
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\"."
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "patch": {
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "id": "sasportal.customers.nodes.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalNode"
              },
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. Resource name.",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "description": "Updates an existing node."
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1alpha1/{+name}",
              "id": "sasportal.customers.nodes.delete",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the node.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "description": "Deletes a node.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              }
            }
          },
          "resources": {
            "deployments": {
              "methods": {
                "create": {
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "description": "Creates a new deployment.",
                  "path": "v1alpha1/{+parent}/deployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "id": "sasportal.customers.nodes.deployments.create"
                },
                "list": {
                  "description": "Lists deployments.",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+parent}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "id": "sasportal.customers.nodes.deployments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of deployments to return in the response.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                }
              }
            },
            "devices": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "id": "sasportal.customers.nodes.devices.create",
                  "description": "Creates a device under a node or customer.",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/devices"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The name of the parent resource."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "sasportal.customers.nodes.devices.list",
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "description": "Lists devices under a node or customer.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "createSigned": {
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a signed device under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices:createSigned",
                  "id": "sasportal.customers.nodes.devices.createSigned",
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    }
                  }
                }
              }
            },
            "nodes": {
              "methods": {
                "list": {
                  "path": "v1alpha1/{+parent}/nodes",
                  "description": "Lists nodes.",
                  "id": "sasportal.customers.nodes.nodes.list",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of nodes to return in the response.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from."
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name where the node is to be created.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "id": "sasportal.customers.nodes.nodes.create",
                  "description": "Creates a new node.",
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "path": "v1alpha1/{+parent}/nodes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalNode"
                  }
                }
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "move": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the deployment to move.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "sasportal.customers.deployments.move",
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}:move",
              "description": "Moves a deployment under another node or customer.",
              "path": "v1alpha1/{+name}:move",
              "response": {
                "$ref": "SasPortalOperation"
              }
            },
            "delete": {
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.customers.deployments.delete",
              "description": "Deletes a deployment.",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists deployments.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of deployments to return in the response.",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2."
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "httpMethod": "GET",
              "path": "v1alpha1/{+parent}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "id": "sasportal.customers.deployments.list"
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent resource name where the deployment is to be created.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "path": "v1alpha1/{+parent}/deployments",
              "id": "sasportal.customers.deployments.create",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "description": "Creates a new deployment.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "id": "sasportal.customers.deployments.get",
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "description": "Returns a requested deployment.",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "description": "Updates an existing deployment.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Output only. Resource name.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$"
                }
              },
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "path": "v1alpha1/{+name}",
              "id": "sasportal.customers.deployments.patch",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "create": {
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "description": "Creates a device under a node or customer.",
                  "httpMethod": "POST",
                  "id": "sasportal.customers.deployments.devices.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices"
                },
                "createSigned": {
                  "description": "Creates a signed device under a node or customer.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+/deployments/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices:createSigned",
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "id": "sasportal.customers.deployments.devices.createSigned",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  }
                },
                "list": {
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "id": "sasportal.customers.deployments.devices.list",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists devices under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "nodes": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the node.",
              "pattern": "^nodes/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "id": "sasportal.nodes.get",
          "httpMethod": "GET",
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "description": "Returns a requested node.",
          "flatPath": "v1alpha1/nodes/{nodesId}",
          "response": {
            "$ref": "SasPortalNode"
          }
        }
      },
      "resources": {
        "nodes": {
          "methods": {
            "create": {
              "response": {
                "$ref": "SasPortalNode"
              },
              "path": "v1alpha1/{+parent}/nodes",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalNode"
              },
              "description": "Creates a new node.",
              "id": "sasportal.nodes.nodes.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The parent resource name where the node is to be created.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "id": "sasportal.nodes.nodes.delete",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "description": "Deletes a node.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the node.",
                  "required": true,
                  "location": "path",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "move": {
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}:move",
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a node under another node or customer.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the node to move.",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "type": "string"
                }
              },
              "id": "sasportal.nodes.nodes.move",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the node."
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "httpMethod": "GET",
              "description": "Returns a requested node.",
              "id": "sasportal.nodes.nodes.get",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists nodes.",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of nodes to return in the response.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1alpha1/{+parent}/nodes",
              "id": "sasportal.nodes.nodes.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "request": {
                "$ref": "SasPortalNode"
              },
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "description": "Output only. Resource name.",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "id": "sasportal.nodes.nodes.patch",
              "description": "Updates an existing node.",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "nodes": {
              "methods": {
                "create": {
                  "description": "Creates a new node.",
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name where the node is to be created."
                    }
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "id": "sasportal.nodes.nodes.nodes.create",
                  "response": {
                    "$ref": "SasPortalNode"
                  }
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of nodes to return in the response.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.nodes.nodes.nodes.list",
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "description": "Lists nodes.",
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                }
              }
            },
            "devices": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "description": "Creates a device under a node or customer.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "id": "sasportal.nodes.nodes.devices.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalDevice"
                  }
                },
                "createSigned": {
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices:createSigned",
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a signed device under a node or customer.",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "id": "sasportal.nodes.nodes.devices.createSigned"
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.nodes.nodes.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "description": "Lists devices under a node or customer.",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "deployments": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1alpha1/{+parent}/deployments",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of deployments to return in the response.",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "description": "Lists deployments.",
                  "id": "sasportal.nodes.nodes.deployments.list"
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "sasportal.nodes.nodes.deployments.create",
                  "description": "Creates a new deployment.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/deployments",
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name where the deployment is to be created."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "request": {
                    "$ref": "SasPortalDeployment"
                  }
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "get": {
              "id": "sasportal.nodes.devices.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "description": "Gets details about a device.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the device.",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "createSigned": {
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.nodes.devices.createSigned",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "description": "Creates a signed device under a node or customer.",
              "httpMethod": "POST",
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices:createSigned"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent resource.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^nodes/[^/]+$"
                }
              },
              "id": "sasportal.nodes.devices.create",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+parent}/devices",
              "description": "Creates a device under a node or customer."
            },
            "move": {
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:move",
              "path": "v1alpha1/{+name}:move",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to move.",
                  "required": true,
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "id": "sasportal.nodes.devices.move",
              "description": "Moves a device under another node or customer."
            },
            "updateSigned": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the device to update."
                }
              },
              "id": "sasportal.nodes.devices.updateSigned",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}:updateSigned",
              "description": "Updates a signed device.",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:updateSigned"
            },
            "patch": {
              "path": "v1alpha1/{+name}",
              "description": "Updates a device.",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "description": "Output only. The resource path name.",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "sasportal.nodes.devices.patch",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "signDevice": {
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "httpMethod": "POST",
              "path": "v1alpha1/{+name}:signDevice",
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "description": "Signs a device.",
              "id": "sasportal.nodes.devices.signDevice",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:signDevice",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "sasportal.nodes.devices.delete",
              "path": "v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a device."
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^nodes/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the parent resource."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "location": "query"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "id": "sasportal.nodes.devices.list",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "description": "Lists devices under a node or customer.",
              "path": "v1alpha1/{+parent}/devices"
            }
          }
        },
        "deployments": {
          "methods": {
            "get": {
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the deployment.",
                  "required": true,
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a requested deployment.",
              "httpMethod": "GET",
              "id": "sasportal.nodes.deployments.get"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment."
                }
              },
              "id": "sasportal.nodes.deployments.delete",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "DELETE",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "description": "Deletes a deployment.",
              "path": "v1alpha1/{+name}"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "id": "sasportal.nodes.deployments.patch",
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "parameters": {
                "updateMask": {
                  "description": "Fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "description": "Output only. Resource name.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                }
              },
              "description": "Updates an existing deployment.",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalDeployment"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "description": "Lists deployments.",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments",
              "id": "sasportal.nodes.deployments.list",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/deployments",
              "parameters": {
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "required": true,
                  "type": "string",
                  "pattern": "^nodes/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of deployments to return in the response.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "location": "query"
                }
              },
              "httpMethod": "GET"
            },
            "move": {
              "description": "Moves a deployment under another node or customer.",
              "path": "v1alpha1/{+name}:move",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}:move",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment to move."
                }
              },
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "id": "sasportal.nodes.deployments.move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a device under a node or customer.",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "id": "sasportal.nodes.deployments.devices.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/devices"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "id": "sasportal.nodes.deployments.devices.list",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000]."
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string"
                    }
                  },
                  "description": "Lists devices under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices"
                },
                "createSigned": {
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "id": "sasportal.nodes.deployments.devices.createSigned",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices:createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices:createSigned"
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "basePath": "",
  "id": "sasportal:v1alpha1",
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha1",
  "protocol": "rest",
  "servicePath": "",
  "title": "SAS Portal API",
  "name": "sasportal",
  "batchPath": "batch",
  "rootUrl": "https://sasportal.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        }
      }
    }
  },
  "ownerName": "Google",
  "version_module": true,
  "schemas": {
    "SasPortalMoveDeviceRequest": {
      "properties": {
        "destination": {
          "type": "string",
          "description": "Required. The name of the new parent resource node or customer to reparent the device under."
        }
      },
      "type": "object",
      "description": "Request for MoveDevice.",
      "id": "SasPortalMoveDeviceRequest"
    },
    "SasPortalStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "SasPortalStatus",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object"
    },
    "SasPortalMoveDeploymentRequest": {
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SasPortalMoveDeploymentRequest",
      "description": "Request for MoveDeployment."
    },
    "SasPortalEmpty": {
      "id": "SasPortalEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "SasPortalCreateSignedDeviceRequest": {
      "description": "Request for CreateSignedDevice.",
      "type": "object",
      "properties": {
        "encodedDevice": {
          "format": "byte",
          "type": "string",
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set."
        },
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database."
        }
      },
      "id": "SasPortalCreateSignedDeviceRequest"
    },
    "SasPortalPolicy": {
      "type": "object",
      "description": "Defines an access control policy to the resources.",
      "properties": {
        "etag": {
[...]
