{
  "batchPath": "batch",
  "rootUrl": "https://sasportal.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "discoveryVersion": "v1",
  "protocol": "rest",
  "id": "sasportal:v1alpha1",
  "schemas": {
    "SasPortalCheckHasProvisionedDeploymentResponse": {
      "description": "Response for [CheckHasProvisionedDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.CheckHasProvisionedDeployment].",
      "id": "SasPortalCheckHasProvisionedDeploymentResponse",
      "type": "object",
      "properties": {
        "hasProvisionedDeployment": {
          "description": "Whether a SAS deployment for the authentication context exists.",
          "type": "boolean"
        }
      }
    },
    "SasPortalDeviceConfig": {
      "id": "SasPortalDeviceConfig",
      "description": "Information about the device configuration.",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ],
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ],
          "description": "FCC category of the device."
        },
        "installationParams": {
          "$ref": "SasPortalInstallationParams",
          "description": "Installation parameters for the device."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the device configuration was edited.",
          "format": "google-datetime"
        },
        "userId": {
          "description": "The identifier of a device user.",
          "type": "string"
        },
        "model": {
          "description": "Information about this device model.",
          "$ref": "SasPortalDeviceModel"
        },
        "state": {
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "description": "State of the configuration.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "callSign": {
          "type": "string",
          "description": "The call sign of the device operator."
        },
        "airInterface": {
          "description": "Information about this device's air interface.",
          "$ref": "SasPortalDeviceAirInterface"
        },
        "measurementCapabilities": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          },
          "description": "Measurement reporting capabilities of the device."
        },
        "isSigned": {
          "description": "Output only. Whether the configuration has been signed by a CPI.",
          "type": "boolean"
        }
      }
    },
    "SasPortalTestPermissionsRequest": {
      "description": "Request message for `TestPermissions` method.",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the permissions are being requested.",
          "type": "string"
        },
        "permissions": {
          "description": "The set of permissions to check for the `resource`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "SasPortalTestPermissionsRequest"
    },
    "SasPortalListCustomersResponse": {
      "type": "object",
      "id": "SasPortalListCustomersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers."
        },
        "customers": {
          "description": "The list of customers that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalCustomer"
          }
        }
      },
      "description": "Response for `ListCustomers`."
    },
    "SasPortalListNodesResponse": {
      "description": "Response for ListNodes.",
      "id": "SasPortalListNodesResponse",
      "type": "object",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "SasPortalNode"
          },
          "type": "array",
          "description": "The nodes that match the request."
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.",
          "type": "string"
        }
      }
    },
    "SasPortalChannelWithScore": {
      "id": "SasPortalChannelWithScore",
      "properties": {
        "frequencyRange": {
          "description": "The frequency range of the channel.",
          "$ref": "SasPortalFrequencyRange"
        },
        "score": {
          "type": "number",
          "format": "double",
          "description": "The channel score, normalized to be in the range [0,100]."
        }
      },
      "description": "The channel with score.",
      "type": "object"
    },
    "SasPortalMigrateOrganizationResponse": {
      "type": "object",
      "properties": {
        "deploymentAssociation": {
          "type": "array",
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          },
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist."
        }
      },
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization].",
      "id": "SasPortalMigrateOrganizationResponse"
    },
    "SasPortalSetupSasAnalyticsRequest": {
      "type": "object",
      "id": "SasPortalSetupSasAnalyticsRequest",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Optional. User id to setup analytics for, if not provided the user id associated with the project is used. optional"
        }
      },
      "description": "Request for the SetupSasAnalytics rpc."
    },
    "SasPortalProvisionDeploymentResponse": {
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Optional. Optional error message if the provisioning request is not successful."
        }
      },
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].",
      "type": "object",
      "id": "SasPortalProvisionDeploymentResponse"
    },
    "SasPortalDevice": {
      "id": "SasPortalDevice",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource path name.",
          "type": "string"
        },
        "grants": {
          "description": "Output only. Grants held by the device.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDeviceGrant"
          }
        },
        "preloadedConfig": {
          "description": "Configuration of the device, as specified via SAS Portal API.",
          "$ref": "SasPortalDeviceConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Device display name."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ],
          "type": "string",
          "description": "Output only. Device state."
        },
        "deviceMetadata": {
          "$ref": "SasPortalDeviceMetadata",
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests."
        },
        "activeConfig": {
          "$ref": "SasPortalDeviceConfig",
          "description": "Output only. Current configuration of the device as registered to the SAS."
        },
        "fccId": {
          "description": "The FCC identifier of the device.",
          "type": "string"
        },
        "grantRangeAllowlists": {
          "items": {
            "$ref": "SasPortalFrequencyRange"
          },
          "type": "array",
          "description": "Only ranges that are within the allowlists are available for new grants."
        },
        "currentChannels": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "SasPortalChannelWithScore"
          },
          "deprecated": true,
          "description": "Output only. Current channels with scores."
        },
        "serialNumber": {
          "type": "string",
          "description": "A serial number assigned to the device by the device manufacturer."
        }
      }
    },
    "SasPortalMigrateOrganizationMetadata": {
      "type": "object",
      "description": "Long-running operation metadata message returned by the MigrateOrganization.",
      "id": "SasPortalMigrateOrganizationMetadata",
      "properties": {
        "operationState": {
          "type": "string",
          "description": "Output only. Current operation state",
          "readOnly": true,
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ]
        }
      }
    },
    "SasPortalGenerateSecretRequest": {
      "properties": {},
      "description": "Request for GenerateSecret.",
      "id": "SasPortalGenerateSecretRequest",
      "type": "object"
    },
    "SasPortalMoveNodeRequest": {
      "description": "Request for MoveNode.",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the node under.",
          "type": "string"
        }
      },
      "id": "SasPortalMoveNodeRequest",
      "type": "object"
    },
    "SasPortalCreateSignedDeviceRequest": {
      "description": "Request for CreateSignedDevice.",
      "id": "SasPortalCreateSignedDeviceRequest",
      "properties": {
        "encodedDevice": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "format": "byte",
          "type": "string"
        },
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database."
        }
      },
      "type": "object"
    },
    "SasPortalSetupSasAnalyticsMetadata": {
      "id": "SasPortalSetupSasAnalyticsMetadata",
      "properties": {},
      "description": "Metadata returned by the long running operation for the SetupSasAnalytics rpc.",
      "type": "object"
    },
    "SasPortalGetPolicyRequest": {
      "properties": {
        "resource": {
          "description": "Required. The resource for which the policy is being requested.",
          "type": "string"
        }
      },
      "id": "SasPortalGetPolicyRequest",
      "type": "object",
      "description": "Request message for `GetPolicy` method."
    },
    "SasPortalMoveDeviceRequest": {
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the device under.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for MoveDevice.",
      "id": "SasPortalMoveDeviceRequest"
    },
    "SasPortalListDevicesResponse": {
      "id": "SasPortalListDevicesResponse",
      "properties": {
        "devices": {
          "description": "The devices that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDevice"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for ListDevices."
    },
    "SasPortalDpaMoveList": {
      "properties": {
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The frequency range that the move list affects."
        },
        "dpaId": {
          "description": "The ID of the DPA.",
          "type": "string"
        }
      },
      "id": "SasPortalDpaMoveList",
      "description": "An entry in a DPA's move list.",
      "type": "object"
    },
    "SasPortalDeviceModel": {
      "id": "SasPortalDeviceModel",
      "properties": {
        "softwareVersion": {
          "type": "string",
          "description": "The software version of the device."
        },
        "hardwareVersion": {
          "type": "string",
          "description": "The hardware version of the device."
        },
        "name": {
          "description": "The name of the device model.",
          "type": "string"
        },
        "vendor": {
          "type": "string",
          "description": "The name of the device vendor."
        },
        "firmwareVersion": {
          "description": "The firmware version of the device.",
          "type": "string"
        }
      },
      "description": "Information about the model of the device.",
      "type": "object"
    },
    "SasPortalTestPermissionsResponse": {
      "id": "SasPortalTestPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A set of permissions that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestPermissions` method."
    },
    "SasPortalValidateInstallerResponse": {
      "type": "object",
      "description": "Response for ValidateInstaller.",
      "properties": {},
      "id": "SasPortalValidateInstallerResponse"
    },
    "SasPortalListLegacyOrganizationsResponse": {
      "id": "SasPortalListLegacyOrganizationsResponse",
      "type": "object",
      "properties": {
        "organizationIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Optional. IDs of legacy SAS organizations."
        }
      },
      "description": "Response for [ListLegacyOrganizations]. [spectrum.sas.portal.v1alpha1.Provisioning.ListLegacyOrganizations]."
    },
    "SasPortalDeploymentAssociation": {
      "description": "Association between a gcp project and a SAS user id.",
      "id": "SasPortalDeploymentAssociation",
      "properties": {
        "userId": {
          "type": "string",
          "description": "User id of the deployment."
        },
        "gcpProjectId": {
          "description": "GCP project id of the associated project.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalDeviceMetadata": {
      "type": "object",
      "id": "SasPortalDeviceMetadata",
      "description": "Device data overridable by both SAS Portal and registration requests.",
      "properties": {
        "nrqzValidation": {
          "$ref": "SasPortalNrqzValidation",
          "readOnly": true,
          "description": "Output only. National Radio Quiet Zone validation info."
        },
        "interferenceCoordinationGroup": {
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "nrqzValidated": {
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "type": "boolean",
          "deprecated": true,
          "readOnly": true
        },
        "antennaModel": {
          "type": "string",
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`"
        },
        "commonChannelGroup": {
          "type": "string",
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf)."
        }
      }
    },
    "SasPortalPolicy": {
      "properties": {
        "etag": {
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "type": "string",
          "format": "byte"
        },
        "assignments": {
          "description": "List of assignments",
          "items": {
            "$ref": "SasPortalAssignment"
          },
          "type": "array"
        }
      },
      "description": "Defines an access control policy to the resources.",
      "id": "SasPortalPolicy",
      "type": "object"
    },
    "SasPortalValidateInstallerRequest": {
      "id": "SasPortalValidateInstallerRequest",
      "properties": {
        "secret": {
          "type": "string",
          "description": "Required. Secret returned by the GenerateSecret."
        },
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database."
        },
        "encodedSecret": {
          "type": "string",
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret."
        }
      },
      "description": "Request for ValidateInstaller.",
      "type": "object"
    },
    "SasPortalSetupSasAnalyticsResponse": {
      "properties": {},
      "id": "SasPortalSetupSasAnalyticsResponse",
      "description": "Response returned by the long running operation for the SetupSasAnalytics rpc.",
      "type": "object"
    },
    "SasPortalDeviceAirInterface": {
      "type": "object",
      "id": "SasPortalDeviceAirInterface",
      "description": "Information about the device's air interface.",
      "properties": {
        "radioTechnology": {
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD."
        },
        "supportedSpec": {
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration.",
          "type": "string"
        }
      }
    },
    "SasPortalCustomer": {
      "properties": {
        "displayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "description": "User IDs used by the devices belonging to this customer.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the customer."
        }
      },
      "type": "object",
      "id": "SasPortalCustomer",
      "description": "Entity representing a SAS customer."
    },
    "SasPortalMoveDeploymentRequest": {
      "description": "Request for MoveDeployment.",
      "type": "object",
      "id": "SasPortalMoveDeploymentRequest",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under.",
          "type": "string"
        }
      }
    },
    "SasPortalEmpty": {
      "type": "object",
      "id": "SasPortalEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "SasPortalAssignment": {
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Required. Role that is assigned to `members`."
        },
        "members": {
          "type": "array",
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Associates `members` with a `role`.",
      "id": "SasPortalAssignment"
    },
    "SasPortalInstallationParams": {
      "description": "Information about the device installation parameters.",
      "id": "SasPortalInstallationParams",
      "properties": {
        "antennaBeamwidth": {
          "format": "int32",
          "type": "integer",
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices."
        },
        "cpeCbsdIndication": {
          "type": "boolean",
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not."
        },
        "longitude": {
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian.",
          "type": "number",
          "format": "double"
        },
        "antennaAzimuth": {
          "type": "integer",
          "format": "int32",
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices."
        },
        "verticalAccuracy": {
          "format": "double",
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "type": "number"
        },
        "horizontalAccuracy": {
          "type": "number",
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "format": "double"
        },
        "antennaModel": {
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets.",
          "type": "string"
        },
        "indoorDeployment": {
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor.",
          "type": "boolean"
        },
        "latitude": {
          "type": "number",
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator.",
          "format": "double"
        },
        "eirpCapability": {
          "format": "int32",
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category.",
          "type": "integer"
        },
        "heightType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ],
          "description": "Specifies how the height is measured.",
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ]
        },
        "height": {
          "type": "number",
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum.",
          "format": "double"
        },
        "antennaDowntilt": {
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices.",
          "type": "integer",
          "format": "int32"
        },
        "antennaGain": {
          "format": "int32",
          "type": "integer",
          "description": "Peak antenna gain in dBi. This parameter is an integer with a value between -127 and +128 (dBi) inclusive."
        }
      },
      "type": "object"
    },
    "SasPortalGenerateSecretResponse": {
      "type": "object",
      "properties": {
        "secret": {
          "description": "The secret generated by the string and used by ValidateInstaller.",
          "type": "string"
        }
      },
      "id": "SasPortalGenerateSecretResponse",
      "description": "Response for GenerateSecret."
    },
    "SasPortalOperation": {
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "$ref": "SasPortalStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "SasPortalOperation"
    },
    "SasPortalSetPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetPolicy` method.",
      "id": "SasPortalSetPolicyRequest",
      "properties": {
        "policy": {
          "description": "Required. The policy to be applied to the `resource`.",
          "$ref": "SasPortalPolicy"
        },
        "disableNotification": {
          "description": "Optional. Set the field as `true` to disable the onboarding notification.",
          "type": "boolean"
        },
        "resource": {
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy.",
          "type": "string"
        }
      }
    },
    "SasPortalNode": {
      "properties": {
        "sasUserIds": {
          "description": "User ids used by the devices belonging to this node.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The node's display name."
        },
        "name": {
          "description": "Output only. Resource name.",
          "type": "string"
        }
      },
      "description": "The Node.",
      "id": "SasPortalNode",
      "type": "object"
    },
    "SasPortalNrqzValidation": {
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "type": "string",
          "description": "State of the NRQZ validation info."
        },
        "caseId": {
          "type": "string",
          "description": "Validation case ID."
        },
        "cpiId": {
          "type": "string",
          "description": "CPI who signed the validation."
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Device longitude that's associated with the validation."
        },
        "latitude": {
          "description": "Device latitude that's associated with the validation.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Information about National Radio Quiet Zone validation.",
      "id": "SasPortalNrqzValidation"
    },
    "SasPortalProvisionDeploymentRequest": {
      "id": "SasPortalProvisionDeploymentRequest",
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment.",
      "properties": {
        "newDeploymentDisplayName": {
          "type": "string",
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field."
        },
        "newOrganizationDisplayName": {
          "type": "string",
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field."
        },
        "organizationId": {
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalDeviceGrant": {
      "id": "SasPortalDeviceGrant",
      "type": "object",
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device.",
      "properties": {
        "suspensionReason": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If the grant is suspended, the reason(s) for suspension."
        },
        "state": {
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ],
          "description": "State of the grant.",
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ],
          "type": "string"
        },
        "channelType": {
          "description": "Type of channel used.",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "maxEirp": {
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).",
          "type": "number",
          "format": "double"
        },
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The transmission frequency range."
        },
        "moveList": {
          "type": "array",
          "items": {
            "$ref": "SasPortalDpaMoveList"
          },
          "description": "The DPA move lists on which this grant appears."
        },
        "expireTime": {
          "type": "string",
          "description": "The expiration time of the grant.",
          "format": "google-datetime"
        },
        "grantId": {
          "description": "Grant Id.",
          "type": "string"
        },
        "lastHeartbeatTransmitExpireTime": {
          "description": "The transmit expiration time of the last heartbeat.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "SasPortalMigrateOrganizationRequest": {
      "id": "SasPortalMigrateOrganizationRequest",
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Required. Id of the SAS organization to be migrated.",
          "format": "int64"
        }
      },
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects."
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "description": "Request for UpdateSignedDevice.",
      "type": "object",
      "id": "SasPortalUpdateSignedDeviceRequest",
      "properties": {
        "encodedDevice": {
          "format": "byte",
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string"
        },
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database."
        }
      }
    },
    "SasPortalSignDeviceRequest": {
      "type": "object",
      "description": "Request for SignDevice.",
      "id": "SasPortalSignDeviceRequest",
      "properties": {
        "device": {
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set.",
          "$ref": "SasPortalDevice"
        }
      }
    },
    "SasPortalFrequencyRange": {
      "id": "SasPortalFrequencyRange",
      "properties": {
        "highFrequencyMhz": {
          "format": "double",
          "type": "number",
          "description": "The highest frequency of the frequency range in MHz."
        },
        "lowFrequencyMhz": {
          "description": "The lowest frequency of the frequency range in MHz.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Frequency range from `low_frequency` to `high_frequency`."
    },
    "SasPortalDeployment": {
      "type": "object",
      "description": "The Deployment.",
      "properties": {
        "name": {
          "description": "Output only. Resource name.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The deployment's display name."
        },
        "frns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent."
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID."
        }
      },
      "id": "SasPortalDeployment"
    },
    "SasPortalStatus": {
      "id": "SasPortalStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "SasPortalListDeploymentsResponse": {
      "description": "Response for ListDeployments.",
      "type": "object",
      "id": "SasPortalListDeploymentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments.",
          "type": "string"
        },
        "deployments": {
          "items": {
            "$ref": "SasPortalDeployment"
          },
          "type": "array",
          "description": "The deployments that match the request."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha1",
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "servicePath": "",
  "mtlsRootUrl": "https://sasportal.mtls.googleapis.com/",
  "baseUrl": "https://sasportal.googleapis.com/",
  "description": "",
  "title": "SAS Portal API",
  "resources": {
    "customers": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "description": "A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of customers to return in the response.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/customers",
          "description": "Returns a list of requested customers.",
          "id": "sasportal.customers.list",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v1alpha1/customers",
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          }
        },
        "get": {
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "flatPath": "v1alpha1/customers/{customersId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Returns a requested customer.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/{+name}",
          "id": "sasportal.customers.get",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the customer.",
              "pattern": "^customers/[^/]+$"
            }
          },
          "httpMethod": "GET"
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^customers/[^/]+$",
              "description": "Output only. Resource name of the customer."
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Fields to be updated.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "description": "Updates an existing customer.",
          "httpMethod": "PATCH",
          "id": "sasportal.customers.patch",
          "flatPath": "v1alpha1/customers/{customersId}",
          "response": {
            "$ref": "SasPortalCustomer"
          }
        },
        "setupSasAnalytics": {
          "description": "Setups the a GCP Project to receive SAS Analytics messages via GCP Pub/Sub with a subscription to BigQuery. All the Pub/Sub topics and BigQuery tables are created automatically as part of this service.",
          "request": {
            "$ref": "SasPortalSetupSasAnalyticsRequest"
          },
          "flatPath": "v1alpha1/customers:setupSasAnalytics",
          "httpMethod": "POST",
          "id": "sasportal.customers.setupSasAnalytics",
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalOperation"
          },
          "path": "v1alpha1/customers:setupSasAnalytics",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {}
        },
        "listLegacyOrganizations": {
          "parameters": {},
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalListLegacyOrganizationsResponse"
          },
          "description": "Checks whether account is legacy.",
          "flatPath": "v1alpha1/customers:listLegacyOrganizations",
          "parameterOrder": [],
          "path": "v1alpha1/customers:listLegacyOrganizations",
          "id": "sasportal.customers.listLegacyOrganizations"
        },
        "provisionDeployment": {
          "httpMethod": "POST",
          "description": "Creates a new SAS deployment through the GCP workflow. Creates a SAS organization if an organization match is not found.",
          "flatPath": "v1alpha1/customers:provisionDeployment",
          "id": "sasportal.customers.provisionDeployment",
          "path": "v1alpha1/customers:provisionDeployment",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "request": {
            "$ref": "SasPortalProvisionDeploymentRequest"
          },
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "SasPortalProvisionDeploymentResponse"
          }
        },
        "checkHasProvisionedDeployment": {
          "path": "v1alpha1/customers:checkHasProvisionedDeployment",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v1alpha1/customers:checkHasProvisionedDeployment",
          "description": "Checks whether a SAS deployment for the authentication context exists.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalCheckHasProvisionedDeploymentResponse"
          },
          "id": "sasportal.customers.checkHasProvisionedDeployment"
        },
        "migrateOrganization": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "sasportal.customers.migrateOrganization",
          "httpMethod": "POST",
          "flatPath": "v1alpha1/customers:migrateOrganization",
          "path": "v1alpha1/customers:migrateOrganization",
          "request": {
            "$ref": "SasPortalMigrateOrganizationRequest"
          },
          "parameters": {},
          "response": {
            "$ref": "SasPortalOperation"
          },
          "description": "Migrates a SAS organization to the cloud. This will create GCP projects for each deployment and associate them. The SAS Organization is linked to the gcp project that called the command. go/sas-legacy-customer-migration"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                },
                "parent": {
                  "description": "Required. The name of the parent resource.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "location": "query",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/devices",
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "id": "sasportal.customers.devices.list",
              "httpMethod": "GET",
              "description": "Lists devices under a node or customer.",
              "parameterOrder": [
                "parent"
              ]
            },
            "createSigned": {
              "description": "Creates a signed device under a node or customer.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.customers.devices.createSigned",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the parent resource.",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              }
            },
            "move": {
              "id": "sasportal.customers.devices.move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "description": "Moves a device under another node or customer.",
              "path": "v1alpha1/{+name}:move",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the device to move.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "id": "sasportal.customers.devices.get",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the device."
                }
              },
              "description": "Gets details about a device."
            },
            "signDevice": {
              "id": "sasportal.customers.devices.signDevice",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Signs a device.",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:signDevice",
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "updateSigned": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the device to update.",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "id": "sasportal.customers.devices.updateSigned",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a signed device.",
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned",
              "path": "v1alpha1/{+name}:updateSigned"
            },
            "create": {
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "id": "sasportal.customers.devices.create",
              "path": "v1alpha1/{+parent}/devices",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "description": "Creates a device under a node or customer.",
              "httpMethod": "POST"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "sasportal.customers.devices.delete",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a device.",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}"
            },
            "patch": {
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Output only. The resource path name."
                }
              },
              "description": "Updates a device.",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "id": "sasportal.customers.devices.patch",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              }
            }
          }
        },
        "deployments": {
          "resources": {
            "devices": {
              "methods": {
                "create": {
                  "id": "sasportal.customers.deployments.devices.create",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "httpMethod": "POST",
                  "description": "Creates a device under a node or customer.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000]."
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "httpMethod": "GET",
                  "id": "sasportal.customers.deployments.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Lists devices under a node or customer."
                },
                "createSigned": {
                  "id": "sasportal.customers.deployments.devices.createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "POST",
              "path": "v1alpha1/{+parent}/deployments",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource name where the deployment is to be created.",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "description": "Creates a new deployment.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "id": "sasportal.customers.deployments.create"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the deployment.",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a requested deployment.",
              "id": "sasportal.customers.deployments.get",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "list": {
              "path": "v1alpha1/{+parent}/deployments",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Lists deployments.",
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.deployments.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of deployments to return in the response.",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "patch": {
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "description": "Updates an existing deployment.",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "PATCH",
              "id": "sasportal.customers.deployments.patch",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Output only. Resource name.",
                  "required": true,
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Fields to be updated."
                }
              }
            },
            "move": {
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a deployment under another node or customer.",
              "id": "sasportal.customers.deployments.move",
              "httpMethod": "POST",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the deployment to move.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}:move"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "sasportal.customers.deployments.delete",
              "httpMethod": "DELETE",
              "description": "Deletes a deployment.",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the deployment.",
                  "required": true,
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "nodes": {
          "methods": {
            "list": {
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "description": "Lists nodes.",
              "httpMethod": "GET",
              "path": "v1alpha1/{+parent}/nodes",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.nodes.list",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of nodes to return in the response.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SasPortalListNodesResponse"
              }
            },
            "create": {
              "httpMethod": "POST",
              "id": "sasportal.customers.nodes.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/nodes",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The parent resource name where the node is to be created.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "request": {
                "$ref": "SasPortalNode"
              },
              "description": "Creates a new node.",
              "parameterOrder": [
                "parent"
              ]
            },
            "move": {
              "id": "sasportal.customers.nodes.move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "httpMethod": "POST",
              "path": "v1alpha1/{+name}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "description": "Moves a node under another node or customer.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the node to move.",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "path": "v1alpha1/{+name}",
              "description": "Returns a requested node.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.nodes.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the node.",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "id": "sasportal.customers.nodes.patch",
              "httpMethod": "PATCH",
              "description": "Updates an existing node.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "response": {
                "$ref": "SasPortalNode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "description": "Output only. Resource name."
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "SasPortalNode"
              }
            },
            "delete": {
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "id": "sasportal.customers.nodes.delete",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the node.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Deletes a node."
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "createSigned": {
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "description": "Creates a signed device under a node or customer.",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices:createSigned",
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "id": "sasportal.customers.nodes.devices.createSigned"
                },
                "create": {
                  "id": "sasportal.customers.nodes.devices.create",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "description": "Creates a device under a node or customer.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SasPortalDevice"
                  }
                },
                "list": {
                  "description": "Lists devices under a node or customer.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "httpMethod": "GET",
                  "id": "sasportal.customers.nodes.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices"
                }
              }
            },
            "deployments": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new deployment.",
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "id": "sasportal.customers.nodes.deployments.create",
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/deployments",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments"
                },
                "list": {
                  "description": "Lists deployments.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of deployments to return in the response.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "id": "sasportal.customers.nodes.deployments.list",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "path": "v1alpha1/{+parent}/deployments"
                }
              }
            },
            "nodes": {
              "methods": {
                "create": {
                  "path": "v1alpha1/{+parent}/nodes",
                  "description": "Creates a new node.",
                  "id": "sasportal.customers.nodes.nodes.create",
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name where the node is to be created.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "description": "Lists nodes.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "sasportal.customers.nodes.nodes.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of nodes to return in the response.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "path": "v1alpha1/{+parent}/nodes"
                }
              }
            }
          }
        }
      }
    },
    "policies": {
      "methods": {
        "get": {
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "httpMethod": "POST",
          "parameters": {},
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "path": "v1alpha1/policies:get",
          "parameterOrder": [],
          "id": "sasportal.policies.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "request": {
            "$ref": "SasPortalGetPolicyRequest"
          },
          "flatPath": "v1alpha1/policies:get"
        },
        "set": {
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "flatPath": "v1alpha1/policies:set",
          "path": "v1alpha1/policies:set",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "request": {
            "$ref": "SasPortalSetPolicyRequest"
          },
          "httpMethod": "POST",
          "id": "sasportal.policies.set"
        },
        "test": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "sasportal.policies.test",
          "response": {
            "$ref": "SasPortalTestPermissionsResponse"
          },
          "path": "v1alpha1/policies:test",
          "httpMethod": "POST",
          "description": "Returns permissions that a caller has on the specified resource.",
          "flatPath": "v1alpha1/policies:test",
          "parameters": {},
          "request": {
            "$ref": "SasPortalTestPermissionsRequest"
          },
          "parameterOrder": []
        }
      }
    },
    "deployments": {
      "resources": {
        "devices": {
          "methods": {
            "signDevice": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Signs a device.",
              "id": "sasportal.deployments.devices.signDevice",
              "path": "v1alpha1/{+name}:signDevice",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "POST"
            },
            "delete": {
              "description": "Deletes a device.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$"
                }
              },
              "path": "v1alpha1/{+name}",
              "id": "sasportal.deployments.devices.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "PATCH",
              "description": "Updates a device.",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name."
                }
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.deployments.devices.patch",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}"
            },
            "updateSigned": {
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a signed device.",
              "path": "v1alpha1/{+name}:updateSigned",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.deployments.devices.updateSigned",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to update.",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "get": {
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}",
              "description": "Gets details about a device.",
              "id": "sasportal.deployments.devices.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              }
            },
            "move": {
              "description": "Moves a device under another node or customer.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to move.",
[...]
