{
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "revision": "20230708",
  "batchPath": "batch",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://sasportal.googleapis.com/",
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "description": "",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://sasportal.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "SasPortalCustomer": {
      "description": "Entity representing a SAS customer.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Name of the organization that the customer entity represents."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the customer."
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "description": "User IDs used by the devices belonging to this customer.",
          "type": "array"
        }
      },
      "id": "SasPortalCustomer"
    },
    "SasPortalMoveDeploymentRequest": {
      "type": "object",
      "description": "Request for MoveDeployment.",
      "id": "SasPortalMoveDeploymentRequest",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under.",
          "type": "string"
        }
      }
    },
    "SasPortalDeploymentAssociation": {
      "properties": {
        "userId": {
          "description": "User id of the deployment.",
          "type": "string"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "GCP project id of the associated project."
        }
      },
      "type": "object",
      "id": "SasPortalDeploymentAssociation",
      "description": "Association between a gcp project and a SAS user id."
    },
    "SasPortalSignDeviceRequest": {
      "properties": {
        "device": {
          "$ref": "SasPortalDevice",
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set."
        }
      },
      "type": "object",
      "id": "SasPortalSignDeviceRequest",
      "description": "Request for SignDevice."
    },
    "SasPortalDeviceAirInterface": {
      "properties": {
        "radioTechnology": {
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS"
          ],
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "supportedSpec": {
          "type": "string",
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration."
        }
      },
      "description": "Information about the device's air interface.",
      "type": "object",
      "id": "SasPortalDeviceAirInterface"
    },
    "SasPortalAssignment": {
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`."
        },
        "role": {
          "description": "Required. Role that is assigned to `members`.",
          "type": "string"
        }
      },
      "id": "SasPortalAssignment"
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "id": "SasPortalUpdateSignedDeviceRequest",
      "description": "Request for UpdateSignedDevice.",
      "properties": {
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        },
        "encodedDevice": {
          "type": "string",
          "format": "byte",
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set."
        }
      },
      "type": "object"
    },
    "SasPortalProvisionDeploymentRequest": {
      "properties": {
        "newOrganizationDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "newDeploymentDisplayName": {
          "type": "string",
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field."
        },
        "organizationId": {
          "format": "int64",
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id.",
          "type": "string"
        }
      },
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment.",
      "id": "SasPortalProvisionDeploymentRequest",
      "type": "object"
    },
    "SasPortalMoveDeviceRequest": {
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the device under.",
          "type": "string"
        }
      },
      "description": "Request for MoveDevice.",
      "id": "SasPortalMoveDeviceRequest",
      "type": "object"
    },
    "SasPortalProvisionDeploymentResponse": {
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Optional. Optional error message if the provisioning request is not successful."
        }
      },
      "id": "SasPortalProvisionDeploymentResponse",
      "type": "object",
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]."
    },
    "SasPortalOperation": {
      "properties": {
        "error": {
          "$ref": "SasPortalStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "SasPortalOperation",
      "type": "object"
    },
    "SasPortalCheckHasProvisionedDeploymentResponse": {
      "properties": {
        "hasProvisionedDeployment": {
          "type": "boolean",
          "description": "Whether a SAS deployment for the authentication context exists."
        }
      },
      "type": "object",
      "description": "Response for [CheckHasProvisionedDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.CheckHasProvisionedDeployment].",
      "id": "SasPortalCheckHasProvisionedDeploymentResponse"
    },
    "SasPortalDeviceMetadata": {
      "properties": {
        "nrqzValidation": {
          "$ref": "SasPortalNrqzValidation",
          "description": "Output only. National Radio Quiet Zone validation info.",
          "readOnly": true
        },
        "nrqzValidated": {
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "type": "boolean",
          "readOnly": true,
          "deprecated": true
        },
        "commonChannelGroup": {
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "interferenceCoordinationGroup": {
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "antennaModel": {
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`",
          "type": "string"
        }
      },
      "id": "SasPortalDeviceMetadata",
      "description": "Device data overridable by both SAS Portal and registration requests.",
      "type": "object"
    },
    "SasPortalSetPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "SasPortalPolicy",
          "description": "Required. The policy to be applied to the `resource`."
        },
        "disableNotification": {
          "type": "boolean",
          "description": "Optional. Set the field as `true` to disable the onboarding notification."
        },
        "resource": {
          "type": "string",
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy."
        }
      },
      "type": "object",
      "id": "SasPortalSetPolicyRequest",
      "description": "Request message for `SetPolicy` method."
    },
    "SasPortalMigrateOrganizationMetadata": {
      "type": "object",
      "description": "Long-running operation metadata message returned by the MigrateOrganization.",
      "properties": {
        "operationState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current operation state",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ]
        }
      },
      "id": "SasPortalMigrateOrganizationMetadata"
    },
    "SasPortalMoveNodeRequest": {
      "id": "SasPortalMoveNodeRequest",
      "description": "Request for MoveNode.",
      "properties": {
        "destination": {
          "type": "string",
          "description": "Required. The name of the new parent resource node or customer to reparent the node under."
        }
      },
      "type": "object"
    },
    "SasPortalListNodesResponse": {
      "description": "Response for ListNodes.",
      "id": "SasPortalListNodesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.",
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "SasPortalNode"
          },
          "description": "The nodes that match the request."
        }
      }
    },
    "SasPortalGenerateSecretResponse": {
      "type": "object",
      "properties": {
        "secret": {
          "type": "string",
          "description": "The secret generated by the string and used by ValidateInstaller."
        }
      },
      "description": "Response for GenerateSecret.",
      "id": "SasPortalGenerateSecretResponse"
    },
    "SasPortalDevice": {
      "id": "SasPortalDevice",
      "properties": {
        "currentChannels": {
          "readOnly": true,
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "SasPortalChannelWithScore"
          },
          "description": "Output only. Current channels with scores."
        },
        "displayName": {
          "description": "Device display name.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "A serial number assigned to the device by the device manufacturer."
        },
        "grants": {
          "items": {
            "$ref": "SasPortalDeviceGrant"
          },
          "type": "array",
          "description": "Output only. Grants held by the device."
        },
        "deviceMetadata": {
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests.",
          "$ref": "SasPortalDeviceMetadata"
        },
        "activeConfig": {
          "$ref": "SasPortalDeviceConfig",
          "description": "Output only. Current configuration of the device as registered to the SAS."
        },
        "grantRangeAllowlists": {
          "items": {
            "$ref": "SasPortalFrequencyRange"
          },
          "description": "Only ranges that are within the allowlists are available for new grants.",
          "type": "array"
        },
        "name": {
          "description": "Output only. The resource path name.",
          "type": "string"
        },
        "preloadedConfig": {
          "description": "Configuration of the device, as specified via SAS Portal API.",
          "$ref": "SasPortalDeviceConfig"
        },
        "state": {
          "description": "Output only. Device state.",
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ],
          "type": "string"
        },
        "fccId": {
          "description": "The FCC identifier of the device.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalNode": {
      "properties": {
        "name": {
          "description": "Output only. Resource name.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The node's display name."
        },
        "sasUserIds": {
          "type": "array",
          "description": "User ids used by the devices belonging to this node.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The Node.",
      "type": "object",
      "id": "SasPortalNode"
    },
    "SasPortalDeviceConfig": {
      "description": "Information about the device configuration.",
      "id": "SasPortalDeviceConfig",
      "properties": {
        "callSign": {
          "type": "string",
          "description": "The call sign of the device operator."
        },
        "state": {
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "State of the configuration."
        },
        "isSigned": {
          "type": "boolean",
          "description": "Output only. Whether the configuration has been signed by a CPI."
        },
        "model": {
          "description": "Information about this device model.",
          "$ref": "SasPortalDeviceModel"
        },
        "userId": {
          "type": "string",
          "description": "The identifier of a device user."
        },
        "category": {
          "description": "FCC category of the device.",
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time the device configuration was edited."
        },
        "measurementCapabilities": {
          "items": {
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          },
          "description": "Measurement reporting capabilities of the device.",
          "type": "array"
        },
        "installationParams": {
          "$ref": "SasPortalInstallationParams",
          "description": "Installation parameters for the device."
        },
        "airInterface": {
          "description": "Information about this device's air interface.",
          "$ref": "SasPortalDeviceAirInterface"
        }
      },
      "type": "object"
    },
    "SasPortalEmpty": {
      "type": "object",
      "properties": {},
      "id": "SasPortalEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "SasPortalMigrateOrganizationRequest": {
      "properties": {
        "organizationId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Id of the SAS organization to be migrated."
        }
      },
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects.",
      "id": "SasPortalMigrateOrganizationRequest",
      "type": "object"
    },
    "SasPortalDeployment": {
      "properties": {
        "frns": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent."
        },
        "displayName": {
          "type": "string",
          "description": "The deployment's display name."
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID."
        },
        "name": {
          "description": "Output only. Resource name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "SasPortalDeployment",
      "description": "The Deployment.",
      "type": "object"
    },
    "SasPortalStatus": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "id": "SasPortalStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SasPortalGetPolicyRequest": {
      "type": "object",
      "description": "Request message for `GetPolicy` method.",
      "id": "SasPortalGetPolicyRequest",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. The resource for which the policy is being requested."
        }
      }
    },
    "SasPortalValidateInstallerResponse": {
      "properties": {},
      "description": "Response for ValidateInstaller.",
      "type": "object",
      "id": "SasPortalValidateInstallerResponse"
    },
    "SasPortalChannelWithScore": {
      "description": "The channel with score.",
      "type": "object",
      "id": "SasPortalChannelWithScore",
      "properties": {
        "score": {
          "format": "double",
          "type": "number",
          "description": "The channel score, normalized to be in the range [0,100]."
        },
        "frequencyRange": {
          "description": "The frequency range of the channel.",
          "$ref": "SasPortalFrequencyRange"
        }
      }
    },
    "SasPortalInstallationParams": {
      "type": "object",
      "properties": {
        "longitude": {
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian.",
          "type": "number",
          "format": "double"
        },
        "eirpCapability": {
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category.",
          "type": "integer",
          "format": "int32"
        },
        "indoorDeployment": {
          "type": "boolean",
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor."
        },
        "verticalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "format": "double",
          "type": "number"
        },
        "antennaGainNewField": {
          "description": "As above, but as a DoubleValue.",
          "type": "number",
          "format": "double"
        },
        "antennaGain": {
          "type": "integer",
          "format": "int32",
          "description": "Peak antenna gain in dBi. This parameter is an integer with a value between -127 and +128 (dBi) inclusive."
        },
        "eirpCapabilityNewField": {
          "type": "number",
          "format": "double",
          "description": "As above, but as a DoubleValue."
        },
        "antennaDowntilt": {
          "format": "int32",
          "type": "integer",
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices."
        },
        "heightType": {
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ],
          "description": "Specifies how the height is measured.",
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ],
          "type": "string"
        },
        "height": {
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum.",
          "format": "double",
          "type": "number"
        },
        "cpeCbsdIndication": {
          "type": "boolean",
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not."
        },
        "antennaBeamwidth": {
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices.",
          "format": "int32",
          "type": "integer"
        },
        "antennaAzimuth": {
          "type": "integer",
          "format": "int32",
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices."
        },
        "antennaModel": {
          "type": "string",
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets."
        },
        "horizontalAccuracy": {
          "type": "number",
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "format": "double"
        },
        "latitude": {
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "SasPortalInstallationParams",
      "description": "Information about the device installation parameters."
    },
    "SasPortalGenerateSecretRequest": {
      "type": "object",
      "properties": {},
      "description": "Request for GenerateSecret.",
      "id": "SasPortalGenerateSecretRequest"
    },
    "SasPortalTestPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestPermissions` method.",
      "id": "SasPortalTestPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`."
        },
        "resource": {
          "type": "string",
          "description": "Required. The resource for which the permissions are being requested."
        }
      }
    },
    "SasPortalListDeploymentsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments."
        },
        "deployments": {
          "items": {
            "$ref": "SasPortalDeployment"
          },
          "type": "array",
          "description": "The deployments that match the request."
        }
      },
      "id": "SasPortalListDeploymentsResponse",
      "description": "Response for ListDeployments."
    },
    "SasPortalDpaMoveList": {
      "description": "An entry in a DPA's move list.",
      "type": "object",
      "properties": {
        "dpaId": {
          "description": "The ID of the DPA.",
          "type": "string"
        },
        "frequencyRange": {
          "description": "The frequency range that the move list affects.",
          "$ref": "SasPortalFrequencyRange"
        }
      },
      "id": "SasPortalDpaMoveList"
    },
    "SasPortalListDevicesResponse": {
      "properties": {
        "devices": {
          "items": {
            "$ref": "SasPortalDevice"
          },
          "type": "array",
          "description": "The devices that match the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices."
        }
      },
      "type": "object",
      "description": "Response for ListDevices.",
      "id": "SasPortalListDevicesResponse"
    },
    "SasPortalFrequencyRange": {
      "description": "Frequency range from `low_frequency` to `high_frequency`.",
      "properties": {
        "highFrequencyMhz": {
          "format": "double",
          "description": "The highest frequency of the frequency range in MHz.",
          "type": "number"
        },
        "lowFrequencyMhz": {
          "type": "number",
          "format": "double",
          "description": "The lowest frequency of the frequency range in MHz."
        }
      },
      "id": "SasPortalFrequencyRange",
      "type": "object"
    },
    "SasPortalCreateSignedDeviceRequest": {
      "properties": {
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database."
        },
        "encodedDevice": {
          "type": "string",
          "format": "byte",
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set."
        }
      },
      "type": "object",
      "id": "SasPortalCreateSignedDeviceRequest",
      "description": "Request for CreateSignedDevice."
    },
    "SasPortalPolicy": {
      "type": "object",
      "id": "SasPortalPolicy",
      "description": "Defines an access control policy to the resources.",
      "properties": {
        "etag": {
          "format": "byte",
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "type": "string"
        },
        "assignments": {
          "items": {
            "$ref": "SasPortalAssignment"
          },
          "description": "List of assignments",
          "type": "array"
        }
      }
    },
    "SasPortalDeviceGrant": {
      "type": "object",
      "id": "SasPortalDeviceGrant",
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device.",
      "properties": {
        "frequencyRange": {
          "description": "The transmission frequency range.",
          "$ref": "SasPortalFrequencyRange"
        },
        "lastHeartbeatTransmitExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The transmit expiration time of the last heartbeat."
        },
        "channelType": {
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Type of channel used."
        },
        "maxEirp": {
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).",
          "type": "number",
          "format": "double"
        },
        "state": {
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ],
          "description": "State of the grant.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ]
        },
        "moveList": {
          "type": "array",
          "items": {
            "$ref": "SasPortalDpaMoveList"
          },
          "description": "The DPA move lists on which this grant appears."
        },
        "expireTime": {
          "description": "The expiration time of the grant.",
          "type": "string",
          "format": "google-datetime"
        },
        "suspensionReason": {
          "type": "array",
          "description": "If the grant is suspended, the reason(s) for suspension.",
          "items": {
            "type": "string"
          }
        },
        "grantId": {
          "description": "Grant Id.",
          "type": "string"
        }
      }
    },
    "SasPortalNrqzValidation": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "type": "string",
          "description": "State of the NRQZ validation info."
        },
        "caseId": {
          "type": "string",
          "description": "Validation case ID."
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Device longitude that's associated with the validation."
        },
        "latitude": {
          "description": "Device latitude that's associated with the validation.",
          "format": "double",
          "type": "number"
        },
        "cpiId": {
          "description": "CPI who signed the validation.",
          "type": "string"
        }
      },
      "id": "SasPortalNrqzValidation",
      "type": "object",
      "description": "Information about National Radio Quiet Zone validation."
    },
    "SasPortalMigrateOrganizationResponse": {
      "id": "SasPortalMigrateOrganizationResponse",
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization].",
      "type": "object",
      "properties": {
        "deploymentAssociation": {
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          },
          "type": "array",
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist."
        }
      }
    },
    "SasPortalTestPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of permissions that the caller is allowed."
        }
      },
      "id": "SasPortalTestPermissionsResponse"
    },
    "SasPortalDeviceModel": {
      "properties": {
        "firmwareVersion": {
          "type": "string",
          "description": "The firmware version of the device."
        },
        "hardwareVersion": {
          "description": "The hardware version of the device.",
          "type": "string"
        },
        "vendor": {
          "type": "string",
          "description": "The name of the device vendor."
        },
        "softwareVersion": {
          "description": "The software version of the device.",
          "type": "string"
        },
        "name": {
          "description": "The name of the device model.",
          "type": "string"
        }
      },
      "id": "SasPortalDeviceModel",
      "description": "Information about the model of the device.",
      "type": "object"
    },
    "SasPortalValidateInstallerRequest": {
      "type": "object",
      "description": "Request for ValidateInstaller.",
      "id": "SasPortalValidateInstallerRequest",
      "properties": {
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret.",
          "type": "string"
        },
        "encodedSecret": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret.",
          "type": "string"
        },
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database."
        }
      }
    },
    "SasPortalListCustomersResponse": {
      "description": "Response for `ListCustomers`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers."
        },
        "customers": {
          "type": "array",
          "description": "The list of customers that match the request.",
          "items": {
            "$ref": "SasPortalCustomer"
          }
        }
      },
      "id": "SasPortalListCustomersResponse",
      "type": "object"
    }
  },
  "title": "SAS Portal API",
  "version_module": true,
  "resources": {
    "deployments": {
      "methods": {
        "get": {
          "flatPath": "v1alpha1/deployments/{deploymentsId}",
          "id": "sasportal.deployments.get",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^deployments/[^/]+$",
              "description": "Required. The name of the deployment.",
              "location": "path"
            }
          },
          "description": "Returns a requested deployment.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "SasPortalDeployment"
          },
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "move": {
              "id": "sasportal.deployments.devices.move",
              "description": "Moves a device under another node or customer.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the device to move."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move",
              "path": "v1alpha1/{+name}:move",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "httpMethod": "POST"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.deployments.devices.get",
              "description": "Gets details about a device.",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the device.",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}"
            },
            "signDevice": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Signs a device.",
              "id": "sasportal.deployments.devices.signDevice",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "path": "v1alpha1/{+name}:signDevice",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "required": true
                }
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalDevice"
              },
              "description": "Updates a device.",
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Output only. The resource path name.",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "id": "sasportal.deployments.devices.patch",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}"
            },
            "updateSigned": {
              "id": "sasportal.deployments.devices.updateSigned",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the device to update.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "description": "Updates a signed device.",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:updateSigned"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.deployments.devices.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "description": "Deletes a device."
            }
          }
        }
      }
    },
    "customers": {
      "resources": {
        "nodes": {
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000]."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the parent resource."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "path": "v1alpha1/{+parent}/devices",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "description": "Lists devices under a node or customer.",
                  "id": "sasportal.customers.nodes.devices.list"
                },
                "create": {
                  "path": "v1alpha1/{+parent}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "description": "Creates a device under a node or customer.",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "id": "sasportal.customers.nodes.devices.create"
                },
                "createSigned": {
                  "description": "Creates a signed device under a node or customer.",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices:createSigned",
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "sasportal.customers.nodes.devices.createSigned",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "deployments": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1alpha1/{+parent}/deployments",
                  "description": "Creates a new deployment.",
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "id": "sasportal.customers.nodes.deployments.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalDeployment"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/deployments",
                  "description": "Lists deployments.",
                  "id": "sasportal.customers.nodes.deployments.list",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of deployments to return in the response."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "nodes": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from."
                    },
                    "pageSize": {
                      "description": "The maximum number of nodes to return in the response.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "sasportal.customers.nodes.nodes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists nodes.",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes"
                },
                "create": {
                  "id": "sasportal.customers.nodes.nodes.create",
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/nodes",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "description": "Creates a new node.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name where the node is to be created.",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "request": {
                    "$ref": "SasPortalNode"
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "id": "sasportal.customers.nodes.get",
              "response": {
                "$ref": "SasPortalNode"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "path": "v1alpha1/{+name}",
              "description": "Returns a requested node.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the node.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$"
                }
              }
            },
            "patch": {
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "response": {
                "$ref": "SasPortalNode"
              },
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Output only. Resource name.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Fields to be updated."
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalNode"
              },
              "description": "Updates an existing node.",
              "id": "sasportal.customers.nodes.patch",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "move": {
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "parameters": {
                "name": {
                  "description": "Required. The name of the node to move.",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "location": "path"
                }
              },
              "id": "sasportal.customers.nodes.move",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "description": "Moves a node under another node or customer.",
              "path": "v1alpha1/{+name}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "list": {
              "description": "Lists nodes.",
              "httpMethod": "GET",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "id": "sasportal.customers.nodes.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/nodes",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of nodes to return in the response.",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "SasPortalListNodesResponse"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "sasportal.customers.nodes.create",
              "response": {
                "$ref": "SasPortalNode"
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "path": "v1alpha1/{+parent}/nodes",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource name where the node is to be created.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "request": {
                "$ref": "SasPortalNode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Creates a new node."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a node.",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the node.",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "location": "path"
                }
              },
              "id": "sasportal.customers.nodes.delete",
              "httpMethod": "DELETE"
            }
          }
        },
        "devices": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "DELETE",
              "id": "sasportal.customers.devices.delete",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "description": "Deletes a device.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1alpha1/{+name}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/devices",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The name of the parent resource.",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                  "type": "string"
                }
              },
              "id": "sasportal.customers.devices.list",
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "description": "Lists devices under a node or customer."
            },
            "signDevice": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.devices.signDevice",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "httpMethod": "POST",
              "description": "Signs a device.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}:signDevice",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "request": {
                "$ref": "SasPortalDevice"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Fields to be updated."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "required": true
                }
              },
              "description": "Updates a device.",
              "id": "sasportal.customers.devices.patch",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}"
            },
            "updateSigned": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.customers.devices.updateSigned",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "path": "v1alpha1/{+name}:updateSigned",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to update.",
                  "required": true
                }
              },
              "description": "Updates a signed device."
            },
            "move": {
              "description": "Moves a device under another node or customer.",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move",
              "path": "v1alpha1/{+name}:move",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to move."
                }
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "id": "sasportal.customers.devices.move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "createSigned": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.customers.devices.createSigned",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Creates a signed device under a node or customer.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the parent resource.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "id": "sasportal.customers.devices.create",
              "path": "v1alpha1/{+parent}/devices",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the parent resource.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a device under a node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "sasportal.customers.devices.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the device."
                }
              },
              "description": "Gets details about a device.",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}"
            }
          }
        },
        "deployments": {
          "methods": {
            "create": {
              "description": "Creates a new deployment.",
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "path": "v1alpha1/{+parent}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "sasportal.customers.deployments.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name where the deployment is to be created.",
                  "required": true
                }
              },
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "POST"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the deployment.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "id": "sasportal.customers.deployments.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "description": "Returns a requested deployment.",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "move": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the deployment to move.",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "location": "path"
                }
              },
              "id": "sasportal.customers.deployments.move",
              "httpMethod": "POST",
              "description": "Moves a deployment under another node or customer.",
              "path": "v1alpha1/{+name}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}:move"
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the deployment.",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "required": true
                }
              },
              "description": "Deletes a deployment.",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.deployments.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "description": "Lists deployments.",
              "path": "v1alpha1/{+parent}/deployments",
              "id": "sasportal.customers.deployments.list",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "pattern": "^customers/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of deployments to return in the response.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from."
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              }
            },
            "patch": {
              "path": "v1alpha1/{+name}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Fields to be updated.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Output only. Resource name.",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Updates an existing deployment.",
              "id": "sasportal.customers.deployments.patch",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "PATCH"
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "createSigned": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "description": "Creates a signed device under a node or customer.",
                  "id": "sasportal.customers.deployments.devices.createSigned",
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "httpMethod": "POST",
                  "description": "Creates a device under a node or customer.",
                  "id": "sasportal.customers.deployments.devices.create"
                },
                "list": {
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+parent}/devices",
                  "id": "sasportal.customers.deployments.devices.list",
                  "description": "Lists devices under a node or customer.",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the parent resource."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "checkHasProvisionedDeployment": {
          "id": "sasportal.customers.checkHasProvisionedDeployment",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Checks whether a SAS deployment for the authentication context exists.",
          "path": "v1alpha1/customers:checkHasProvisionedDeployment",
          "response": {
            "$ref": "SasPortalCheckHasProvisionedDeploymentResponse"
          },
          "flatPath": "v1alpha1/customers:checkHasProvisionedDeployment"
        },
        "patch": {
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "flatPath": "v1alpha1/customers/{customersId}",
          "parameters": {
            "name": {
              "pattern": "^customers/[^/]+$",
              "location": "path",
              "description": "Output only. Resource name of the customer.",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "Fields to be updated.",
              "format": "google-fieldmask"
            }
          },
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "id": "sasportal.customers.patch",
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Updates an existing customer.",
          "httpMethod": "PATCH"
        },
        "migrateOrganization": {
          "request": {
            "$ref": "SasPortalMigrateOrganizationRequest"
          },
          "response": {
            "$ref": "SasPortalOperation"
          },
          "parameters": {},
          "id": "sasportal.customers.migrateOrganization",
          "parameterOrder": [],
          "description": "Migrates a SAS organization to the cloud. This will create GCP projects for each deployment and associate them. The SAS Organization is linked to the gcp project that called the command. go/sas-legacy-customer-migration",
          "flatPath": "v1alpha1/customers:migrateOrganization",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "httpMethod": "POST",
          "path": "v1alpha1/customers:migrateOrganization"
        },
        "list": {
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          },
          "httpMethod": "GET",
          "id": "sasportal.customers.list",
          "path": "v1alpha1/customers",
          "description": "Returns a list of requested customers.",
          "flatPath": "v1alpha1/customers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of customers to return in the response.",
              "type": "integer"
            },
            "pageToken": {
              "description": "A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "provisionDeployment": {
          "id": "sasportal.customers.provisionDeployment",
          "path": "v1alpha1/customers:provisionDeployment",
          "parameterOrder": [],
          "request": {
            "$ref": "SasPortalProvisionDeploymentRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/customers:provisionDeployment",
          "parameters": {},
          "response": {
            "$ref": "SasPortalProvisionDeploymentResponse"
          },
          "description": "Creates a new SAS deployment through the GCP workflow. Creates a SAS organization if an organization match is not found."
        },
        "get": {
          "path": "v1alpha1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^customers/[^/]+$",
              "description": "Required. The name of the customer.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "sasportal.customers.get",
          "flatPath": "v1alpha1/customers/{customersId}",
          "description": "Returns a requested customer."
        }
      }
    },
    "policies": {
      "methods": {
        "test": {
          "parameterOrder": [],
          "parameters": {},
          "id": "sasportal.policies.test",
          "request": {
            "$ref": "SasPortalTestPermissionsRequest"
          },
          "flatPath": "v1alpha1/policies:test",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalTestPermissionsResponse"
          },
          "description": "Returns permissions that a caller has on the specified resource.",
          "path": "v1alpha1/policies:test",
          "httpMethod": "POST"
        },
        "get": {
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalPolicy"
          },
[...]
