{
  "description": "Manages and executes Google Apps Script projects. ",
  "discoveryVersion": "v1",
  "rootUrl": "https://script.googleapis.com/",
  "version": "v1",
  "batchPath": "batch",
  "schemas": {
    "GoogleAppsScriptTypeWebAppConfig": {
      "description": "Web app entry point configuration.",
      "properties": {
        "access": {
          "description": "Who has permission to run the web app.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "type": "string"
        },
        "executeAs": {
          "description": "Who to execute the web app as.",
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ],
          "type": "string"
        }
      },
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "type": "object"
    },
    "UpdateDeploymentRequest": {
      "description": "Request with deployment information to update an existing deployment.",
      "properties": {
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        }
      },
      "id": "UpdateDeploymentRequest",
      "type": "object"
    },
    "Project": {
      "id": "Project",
      "description": "The script project resource.",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "When the script was last updated.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "When the script was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "parentId": {
          "type": "string",
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This filed is optional, and if not set, a stand-alone script will be created."
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "lastModifyUser": {
          "description": "User who last modified the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "creator": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who originally created the script."
        }
      }
    },
    "ExecuteStreamResponse": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "ScriptExecutionResult",
          "description": "The result of the execution."
        }
      },
      "id": "ExecuteStreamResponse",
      "description": "The response for executing or debugging a function in an Apps Script project."
    },
    "GoogleAppsScriptTypeProcess": {
      "properties": {
        "startTime": {
          "description": "Time the execution started.",
          "type": "string",
          "format": "google-datetime"
        },
        "duration": {
          "format": "google-duration",
          "description": "Duration the execution spent executing.",
          "type": "string"
        },
        "runtimeVersion": {
          "type": "string",
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ],
          "description": "Which version of maestro to use to execute the script.",
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ]
        },
        "processType": {
          "description": "The executions type.",
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "type": "string"
        },
        "userAccessLevel": {
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ],
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "type": "string",
          "description": "The executing users access level to the script."
        },
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "processStatus": {
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "description": "The executions status.",
          "type": "string"
        },
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        }
      },
      "id": "GoogleAppsScriptTypeProcess",
      "type": "object",
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API."
    },
    "ListDeploymentsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used in the next call to get the next page of results."
        },
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments.",
          "type": "array"
        }
      },
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "id": "ListDeploymentsResponse"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "Deployment": {
      "id": "Deployment",
      "description": "Representation of a single script deployment.",
      "properties": {
        "deploymentId": {
          "description": "The deployment ID for this deployment.",
          "type": "string"
        },
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        },
        "entryPoints": {
          "description": "The deployment's entry points.",
          "items": {
            "$ref": "EntryPoint"
          },
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last modified date time stamp."
        }
      },
      "type": "object"
    },
    "ExecutionRequest": {
      "type": "object",
      "id": "ExecutionRequest",
      "properties": {
        "function": {
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.",
          "type": "string"
        },
        "parameters": {
          "items": {
            "type": "any"
          },
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.",
          "type": "array"
        },
        "devMode": {
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.",
          "type": "boolean"
        },
        "sessionState": {
          "type": "string",
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional."
        }
      },
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script."
    },
    "EntryPoint": {
      "id": "EntryPoint",
      "description": "A configuration that defines how a deployment is accessed externally.",
      "type": "object",
      "properties": {
        "entryPointType": {
          "description": "The type of the entry point.",
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ],
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "type": "string"
        },
        "webApp": {
          "description": "An entry point specification for web apps.",
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint"
        },
        "executionApi": {
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint",
          "description": "An entry point specification for Apps Script API execution calls."
        },
        "addOn": {
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint",
          "description": "Add-on properties."
        }
      }
    },
    "ListScriptProcessesResponse": {
      "description": "Response with the list of Process resources.",
      "properties": {
        "processes": {
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "type": "array",
          "description": "List of processes matching request parameters."
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListScriptProcessesResponse"
    },
    "GoogleAppsScriptTypeFunction": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The function name in the script project."
        },
        "parameters": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ordered list of parameter names of the function in the script project."
        }
      },
      "type": "object",
      "description": "Represents a function in a script project.",
      "id": "GoogleAppsScriptTypeFunction"
    },
    "Version": {
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "type": "object",
      "id": "Version",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "versionNumber": {
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "type": "integer",
          "format": "int32"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the version was created."
        },
        "description": {
          "description": "The description for this version.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.",
      "type": "object",
      "properties": {
        "details": {
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "Value": {
      "properties": {
        "protoValue": {
          "type": "object",
          "description": "Represents a structured proto value.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "structValue": {
          "$ref": "Struct",
          "description": "Represents a structured value."
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "dateValue": {
          "type": "string",
          "description": "Represents a date in ms since the epoch.",
          "format": "int64"
        },
        "bytesValue": {
          "format": "byte",
          "type": "string",
          "description": "Represents raw byte values."
        },
        "listValue": {
          "$ref": "ListValue",
          "description": "Represents a repeated `Value`."
        },
        "numberValue": {
          "format": "double",
          "description": "Represents a double value.",
          "type": "number"
        },
        "nullValue": {
          "type": "string",
          "enumDescriptions": [
            "Null value."
          ],
          "description": "Represents a null value.",
          "enum": [
            "NULL_VALUE"
          ]
        }
      },
      "id": "Value",
      "description": "`Value` represents a dynamically typed value which is the outcome of an executed script.",
      "type": "object"
    },
    "DeploymentConfig": {
      "description": "Metadata the defines how a deployment is configured.",
      "type": "object",
      "id": "DeploymentConfig",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description for this deployment."
        },
        "manifestFileName": {
          "type": "string",
          "description": "The manifest file name for this deployment."
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "versionNumber": {
          "description": "The version number on which this deployment is based.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListValue": {
      "type": "object",
      "description": "`ListValue` is a wrapper around a repeated field of values.",
      "properties": {
        "values": {
          "description": "Repeated field of dynamically typed values.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "id": "ListValue"
    },
    "Content": {
      "id": "Content",
      "description": "The Content resource.",
      "type": "object",
      "properties": {
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project."
        },
        "revertFlumeInvoked": {
          "description": "Set to true if called from revert flume to allow deletion of system generated manifest file while validating content request. This value is false by default.",
          "type": "boolean"
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        }
      }
    },
    "CreateProjectRequest": {
      "description": "Request to create a script project. Request to create a script project.",
      "type": "object",
      "id": "CreateProjectRequest",
      "properties": {
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "parentId": {
          "type": "string",
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created."
        }
      }
    },
    "ExecutionResponse": {
      "id": "ExecutionResponse",
      "type": "object",
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "properties": {
        "result": {
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`.",
          "type": "any"
        }
      }
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "description": "An API executable entry point.",
      "type": "object",
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "properties": {
        "entryPointConfig": {
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig",
          "description": "The entry point's configuration."
        }
      }
    },
    "ListVersionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list."
        },
        "versions": {
          "description": "The list of versions.",
          "type": "array",
          "items": {
            "$ref": "Version"
          }
        }
      },
      "id": "ListVersionsResponse",
      "description": "Response with the list of the versions for the specified script project."
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "description": "A set of functions. No duplicates are permitted.",
      "id": "GoogleAppsScriptTypeFunctionSet",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "A list of functions composing the set.",
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          }
        }
      }
    },
    "GoogleAppsScriptTypeUser": {
      "description": "A simple user profile resource.",
      "id": "GoogleAppsScriptTypeUser",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The user's display name."
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's photo."
        },
        "email": {
          "type": "string",
          "description": "The user's identifying email address."
        },
        "domain": {
          "description": "The user's domain.",
          "type": "string"
        }
      }
    },
    "ListUserProcessesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token for the next page of results. If empty, there are no more pages remaining."
        },
        "processes": {
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response with the list of Process resources.",
      "id": "ListUserProcessesResponse"
    },
    "ExecutionError": {
      "type": "object",
      "properties": {
        "errorType": {
          "type": "string",
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included."
        },
        "scriptStackTraceElements": {
          "items": {
            "$ref": "ScriptStackTraceElement"
          },
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "type": "array"
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message thrown by Apps Script, usually localized into the user's language."
        }
      },
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "id": "ExecutionError"
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "type": "object",
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "description": "An add-on entry point.",
      "properties": {
        "addOnType": {
          "type": "string",
          "description": "The add-on's required list of supported container types.",
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ]
        },
        "description": {
          "type": "string",
          "description": "The add-on's optional description."
        },
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        },
        "helpUrl": {
          "description": "The add-on's optional help URL.",
          "type": "string"
        },
        "postInstallTipUrl": {
          "description": "The add-on's required post install tip URL.",
          "type": "string"
        },
        "reportIssueUrl": {
          "description": "The add-on's optional report issue URL.",
          "type": "string"
        }
      }
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "description": "A web application entry point.",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL for the web application."
        },
        "entryPointConfig": {
          "$ref": "GoogleAppsScriptTypeWebAppConfig",
          "description": "The entry point's configuration."
        }
      }
    },
    "ScriptStackTraceElement": {
      "id": "ScriptStackTraceElement",
      "description": "A stack trace through the script that shows where the execution failed.",
      "type": "object",
      "properties": {
        "lineNumber": {
          "description": "The line number where the script failed.",
          "type": "integer",
          "format": "int32"
        },
        "function": {
          "type": "string",
          "description": "The name of the function that failed."
        }
      }
    },
    "File": {
      "id": "File",
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.",
      "properties": {
        "updateTime": {
          "description": "Last modified date timestamp. This read-only field is only visible to users who have WRITER permission for the script project.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "The user who modified the file most recently. This read-only field is only visible to users who have WRITER permission for the script project."
        },
        "source": {
          "type": "string",
          "description": "The file content."
        },
        "functionSet": {
          "$ref": "GoogleAppsScriptTypeFunctionSet",
          "description": "The defined set of functions in the script file, if any."
        },
        "createTime": {
          "type": "string",
          "description": "Creation date timestamp. This read-only field is only visible to users who have WRITER permission for the script project.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field."
        },
        "type": {
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "description": "The type of the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MetricsValue": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Required field indicating the start time of the interval.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "Required field indicating the end time of the interval.",
          "type": "string",
          "format": "google-datetime"
        },
        "value": {
          "format": "uint64",
          "description": "Indicates the number of executions counted.",
          "type": "string"
        }
      },
      "description": "Metrics value that holds number of executions counted.",
      "id": "MetricsValue"
    },
    "ScriptExecutionResult": {
      "properties": {
        "returnValue": {
          "$ref": "Value",
          "description": "The returned value of the execution."
        }
      },
      "type": "object",
      "description": "The result of an execution.",
      "id": "ScriptExecutionResult"
    },
    "Metrics": {
      "type": "object",
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request.",
      "id": "Metrics",
      "properties": {
        "totalExecutions": {
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of total executions."
        },
        "activeUsers": {
          "description": "Number of active users.",
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array"
        },
        "failedExecutions": {
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of failed executions.",
          "type": "array"
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "id": "Operation",
      "properties": {
        "done": {
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed.",
          "type": "boolean"
        },
        "error": {
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error.",
          "$ref": "Status"
        },
        "response": {
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "type": "object",
      "properties": {
        "access": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "type": "string",
          "description": "Who has permission to run the API executable.",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        }
      },
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "description": "API executable entry point configuration."
    },
    "Struct": {
      "properties": {
        "fields": {
          "description": "Unordered map of dynamically typed values.",
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object"
        }
      },
      "id": "Struct",
      "type": "object",
      "description": "`Struct` represents a structured data value, consisting of fields which map to dynamically typed values."
    }
  },
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "id": "script:v1",
  "title": "Apps Script API",
  "servicePath": "",
  "ownerName": "Google",
  "canonicalName": "Script",
  "kind": "discovery#restDescription",
  "revision": "20231203",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "deployments": {
          "methods": {
            "list": {
              "path": "v1/projects/{scriptId}/deployments",
              "httpMethod": "GET",
              "parameterOrder": [
                "scriptId"
              ],
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The script project's Drive ID."
                },
                "pageToken": {
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "description": "Lists the deployments of an Apps Script project.",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "id": "script.projects.deployments.list"
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "id": "script.projects.deployments.delete",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "description": "Deletes a deployment of an Apps Script project.",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The script project's Drive ID."
                },
                "deploymentId": {
                  "location": "path",
                  "type": "string",
                  "description": "The deployment ID to be undeployed.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ]
            },
            "update": {
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Updates a deployment of an Apps Script project.",
              "httpMethod": "PUT",
              "parameters": {
                "deploymentId": {
                  "location": "path",
                  "description": "The deployment ID for this deployment.",
                  "type": "string",
                  "required": true
                },
                "scriptId": {
                  "required": true,
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Deployment"
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "id": "script.projects.deployments.update",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "request": {
                "$ref": "UpdateDeploymentRequest"
              }
            },
            "get": {
              "parameters": {
                "deploymentId": {
                  "location": "path",
                  "required": true,
                  "description": "The deployment ID.",
                  "type": "string"
                },
                "scriptId": {
                  "type": "string",
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Deployment"
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "id": "script.projects.deployments.get",
              "httpMethod": "GET",
              "description": "Gets a deployment of an Apps Script project."
            },
            "create": {
              "path": "v1/projects/{scriptId}/deployments",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The script project's Drive ID."
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "DeploymentConfig"
              },
              "flatPath": "v1/projects/{scriptId}/deployments",
              "id": "script.projects.deployments.create",
              "response": {
                "$ref": "Deployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "description": "Creates a deployment of an Apps Script project.",
              "parameterOrder": [
                "scriptId"
              ]
            }
          }
        },
        "versions": {
          "methods": {
            "list": {
              "parameterOrder": [
                "scriptId"
              ],
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "id": "script.projects.versions.list",
              "description": "List the versions of a script project.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "type": "string"
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "v1/projects/{scriptId}/versions",
              "flatPath": "v1/projects/{scriptId}/versions",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ]
            },
            "get": {
              "parameters": {
                "scriptId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID."
                },
                "versionNumber": {
                  "location": "path",
                  "format": "int32",
                  "type": "integer",
                  "description": "The version number.",
                  "required": true
                }
              },
              "description": "Gets a version of a script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "httpMethod": "GET",
              "id": "script.projects.versions.get",
              "response": {
                "$ref": "Version"
              },
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "path": "v1/projects/{scriptId}/versions/{versionNumber}"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "parameterOrder": [
                "scriptId"
              ],
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "id": "script.projects.versions.create",
              "request": {
                "$ref": "Version"
              },
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "path": "v1/projects/{scriptId}/versions",
              "flatPath": "v1/projects/{scriptId}/versions",
              "response": {
                "$ref": "Version"
              }
            }
          }
        }
      },
      "methods": {
        "getMetrics": {
          "response": {
            "$ref": "Metrics"
          },
          "parameterOrder": [
            "scriptId"
          ],
          "flatPath": "v1/projects/{scriptId}/metrics",
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "path": "v1/projects/{scriptId}/metrics",
          "id": "script.projects.getMetrics",
          "parameters": {
            "metricsGranularity": {
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ],
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "location": "query",
              "description": "Required field indicating what granularity of metrics are returned."
            },
            "metricsFilter.deploymentId": {
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "type": "string",
              "location": "query"
            },
            "scriptId": {
              "description": "Required field indicating the script to get metrics for.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET"
        },
        "updateContent": {
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "httpMethod": "PUT",
          "path": "v1/projects/{scriptId}/content",
          "request": {
            "$ref": "Content"
          },
          "id": "script.projects.updateContent",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "response": {
            "$ref": "Content"
          },
          "flatPath": "v1/projects/{scriptId}/content",
          "parameters": {
            "scriptId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The script project's Drive ID."
            }
          },
          "parameterOrder": [
            "scriptId"
          ]
        },
        "getContent": {
          "httpMethod": "GET",
          "path": "v1/projects/{scriptId}/content",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "id": "script.projects.getContent",
          "flatPath": "v1/projects/{scriptId}/content",
          "response": {
            "$ref": "Content"
          },
          "parameterOrder": [
            "scriptId"
          ],
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "parameters": {
            "scriptId": {
              "required": true,
              "description": "The script project's Drive ID.",
              "type": "string",
              "location": "path"
            },
            "versionNumber": {
              "type": "integer",
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "format": "int32",
              "location": "query"
            }
          }
        },
        "get": {
          "path": "v1/projects/{scriptId}",
          "id": "script.projects.get",
          "response": {
            "$ref": "Project"
          },
          "flatPath": "v1/projects/{scriptId}",
          "description": "Gets a script project's metadata.",
          "parameters": {
            "scriptId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The script project's Drive ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "scriptId"
          ]
        },
        "create": {
          "httpMethod": "POST",
          "path": "v1/projects",
          "flatPath": "v1/projects",
          "parameterOrder": [],
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "id": "script.projects.create",
          "parameters": {},
          "response": {
            "$ref": "Project"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ]
        }
      }
    },
    "scripts": {
      "methods": {
        "run": {
          "parameterOrder": [
            "scriptId"
          ],
          "flatPath": "v1/scripts/{scriptId}:run",
          "path": "v1/scripts/{scriptId}:run",
          "httpMethod": "POST",
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "request": {
            "$ref": "ExecutionRequest"
          },
          "id": "script.scripts.run",
          "response": {
            "$ref": "Operation"
          },
          "description": "Runs a function in an Apps Script project. The script project must be deployed for use with the Apps Script API and the calling application must share the same Cloud Platform project. This method requires authorization with an OAuth 2.0 token that includes at least one of the scopes listed in the [Authorization](#authorization-scopes) section; script projects that do not require authorization cannot be executed through this API. To find the correct scopes to include in the authentication token, open the script project **Overview** page and scroll down to \"Project OAuth Scopes.\" The error `403, PERMISSION_DENIED: The caller does not have permission` indicates that the Cloud Platform project used to authorize the request is not the same as the one used by the script.",
          "parameters": {
            "scriptId": {
              "type": "string",
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "processes": {
      "methods": {
        "list": {
          "parameters": {
            "userProcessFilter.types": {
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50."
            },
            "userProcessFilter.scriptId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "type": "string",
              "location": "query"
            },
            "userProcessFilter.deploymentId": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "type": "string"
            },
            "userProcessFilter.endTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "format": "google-datetime",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
            },
            "userProcessFilter.projectName": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string."
            },
            "userProcessFilter.startTime": {
              "format": "google-datetime",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "location": "query"
            },
            "userProcessFilter.functionName": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "type": "string"
            },
            "userProcessFilter.statuses": {
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "type": "string",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "repeated": true
            },
            "userProcessFilter.userAccessLevels": {
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "type": "string",
              "location": "query",
              "repeated": true
            }
          },
          "id": "script.processes.list",
          "httpMethod": "GET",
          "flatPath": "v1/processes",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "parameterOrder": [],
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "path": "v1/processes"
        },
        "listScriptProcesses": {
          "httpMethod": "GET",
          "id": "script.processes.listScriptProcesses",
          "parameters": {
            "scriptProcessFilter.endTime": {
              "format": "google-datetime",
              "location": "query",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query"
            },
            "scriptProcessFilter.functionName": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name."
            },
            "scriptProcessFilter.startTime": {
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "type": "string",
              "location": "query"
            },
            "scriptProcessFilter.statuses": {
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "location": "query",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ]
            },
            "scriptProcessFilter.userAccessLevels": {
              "location": "query",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "repeated": true,
              "type": "string"
            },
            "scriptProcessFilter.types": {
              "repeated": true,
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "type": "string",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ]
            },
            "scriptId": {
              "type": "string",
              "location": "query",
              "description": "The script ID of the project whose processes are listed."
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "location": "query",
              "type": "integer"
            },
            "scriptProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "description": "List information about a script's executed processes, such as process type and current status.",
          "parameterOrder": [],
          "flatPath": "v1/processes:listScriptProcesses",
          "path": "v1/processes:listScriptProcesses",
          "response": {
            "$ref": "ListScriptProcessesResponse"
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "protocol": "rest",
  "name": "script",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "baseUrl": "https://script.googleapis.com/",
  "ownerDomain": "google.com"
}
