{
  "mtlsRootUrl": "https://searchconsole.mtls.googleapis.com/",
  "canonicalName": "Search Console",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "basePath": "",
  "revision": "20220107",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/webmasters.readonly": {
          "description": "View Search Console data for your verified sites"
        },
        "https://www.googleapis.com/auth/webmasters": {
          "description": "View and manage Search Console data for your verified sites"
        }
      }
    }
  },
  "version_module": true,
  "ownerName": "Google",
  "protocol": "rest",
  "name": "searchconsole",
  "discoveryVersion": "v1",
  "rootUrl": "https://searchconsole.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "WmxSitemap": {
      "type": "object",
      "properties": {
        "isPending": {
          "description": "If true, the sitemap has not been processed.",
          "type": "boolean"
        },
        "errors": {
          "format": "int64",
          "description": "Number of errors in the sitemap. These are issues with the sitemap itself that need to be fixed before it can be processed correctly.",
          "type": "string"
        },
        "type": {
          "enum": [
            "NOT_SITEMAP",
            "URL_LIST",
            "SITEMAP",
            "RSS_FEED",
            "ATOM_FEED",
            "PATTERN_SITEMAP",
            "OCEANFRONT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Unsupported sitemap types.",
            ""
          ],
          "description": "The type of the sitemap. For example: `rssFeed`."
        },
        "contents": {
          "items": {
            "$ref": "WmxSitemapContent"
          },
          "description": "The various content types in the sitemap.",
          "type": "array"
        },
        "lastDownloaded": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date & time in which this sitemap was last downloaded. Date format is in RFC 3339 format (yyyy-mm-dd)."
        },
        "warnings": {
          "description": "Number of warnings for the sitemap. These are generally non-critical issues with URLs in the sitemaps.",
          "type": "string",
          "format": "int64"
        },
        "path": {
          "description": "The url of the sitemap.",
          "type": "string"
        },
        "lastSubmitted": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date & time in which this sitemap was submitted. Date format is in RFC 3339 format (yyyy-mm-dd)."
        },
        "isSitemapsIndex": {
          "description": "If true, the sitemap is a collection of sitemaps.",
          "type": "boolean"
        }
      },
      "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184).",
      "id": "WmxSitemap"
    },
    "MobileFriendlyIssue": {
      "id": "MobileFriendlyIssue",
      "properties": {
        "rule": {
          "description": "Rule violated.",
          "enumDescriptions": [
            "Unknown rule. Sorry, we don't have any description for the rule that was broken.",
            "Plugins incompatible with mobile devices are being used. [Learn more] (https://support.google.com/webmasters/answer/6352293#flash_usage).",
            "Viewsport is not specified using the meta viewport tag. [Learn more] (https://support.google.com/webmasters/answer/6352293#viewport_not_configured).",
            "Viewport defined to a fixed width. [Learn more] (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport).",
            "Content not sized to viewport. [Learn more] (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport).",
            "Font size is too small for easy reading on a small screen. [Learn More] (https://support.google.com/webmasters/answer/6352293#small_font_size).",
            "Touch elements are too close to each other. [Learn more] (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close)."
          ],
          "enum": [
            "MOBILE_FRIENDLY_RULE_UNSPECIFIED",
            "USES_INCOMPATIBLE_PLUGINS",
            "CONFIGURE_VIEWPORT",
            "FIXED_WIDTH_VIEWPORT",
            "SIZE_CONTENT_TO_VIEWPORT",
            "USE_LEGIBLE_FONT_SIZES",
            "TAP_TARGETS_TOO_CLOSE"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Mobile-friendly issue."
    },
    "RunMobileFriendlyTestResponse": {
      "properties": {
        "mobileFriendliness": {
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "The page is mobile friendly.",
            "The page is not mobile friendly."
          ],
          "type": "string",
          "enum": [
            "MOBILE_FRIENDLY_TEST_RESULT_UNSPECIFIED",
            "MOBILE_FRIENDLY",
            "NOT_MOBILE_FRIENDLY"
          ],
          "description": "Test verdict, whether the page is mobile friendly or not."
        },
        "resourceIssues": {
          "items": {
            "$ref": "ResourceIssue"
          },
          "description": "Information about embedded resources issues.",
          "type": "array"
        },
        "screenshot": {
          "description": "Screenshot of the requested URL.",
          "$ref": "Image"
        },
        "mobileFriendlyIssues": {
          "type": "array",
          "items": {
            "$ref": "MobileFriendlyIssue"
          },
          "description": "List of mobile-usability issues."
        },
        "testStatus": {
          "description": "Final state of the test, can be either complete or an error.",
          "$ref": "TestStatus"
        }
      },
      "description": "Mobile-friendly test response, including mobile-friendly issues and resource issues.",
      "type": "object",
      "id": "RunMobileFriendlyTestResponse"
    },
    "BlockedResource": {
      "type": "object",
      "id": "BlockedResource",
      "description": "Blocked resource.",
      "properties": {
        "url": {
          "description": "URL of the blocked resource.",
          "type": "string"
        }
      }
    },
    "SearchAnalyticsQueryRequest": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "News tab in search.",
            "Discover.",
            "Google News (news.google.com or mobile app)."
          ],
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "DISCOVER",
            "GOOGLE_NEWS"
          ],
          "description": "Optional. [Optional; Default is \\\"web\\\"] Type of report: search type, or either Discover or Gnews.",
          "type": "string"
        },
        "searchType": {
          "type": "string",
          "description": "[Optional; Default is \\\"web\\\"] The search type to filter for.",
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "DISCOVER",
            "GOOGLE_NEWS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "News tab in search.",
            "Discover.",
            "Google News (news.google.com or mobile app)."
          ]
        },
        "dimensionFilterGroups": {
          "items": {
            "$ref": "ApiDimensionFilterGroup"
          },
          "type": "array",
          "description": "[Optional] Zero or more filters to apply to the dimension grouping values; for example, 'query contains \\\"buy\\\"' to see only data where the query string contains the substring \\\"buy\\\" (not case-sensitive). You can filter by a dimension without grouping by it."
        },
        "startDate": {
          "description": " [Required] Start date of the requested date range, in YYYY-MM-DD format, in PST time (UTC - 8:00). Must be less than or equal to the end date. This value is included in the range.",
          "type": "string"
        },
        "endDate": {
          "description": "[Required] End date of the requested date range, in YYYY-MM-DD format, in PST (UTC - 8:00). Must be greater than or equal to the start date. This value is included in the range.",
          "type": "string"
        },
        "dataState": {
          "description": "The data state to be fetched, can be full or all, the latter including full and partial data.",
          "type": "string",
          "enum": [
            "DATA_STATE_UNSPECIFIED",
            "FINAL",
            "ALL"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "Include full final data only, without partial.",
            "Include all data, full and partial."
          ]
        },
        "aggregationType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "[Optional; Default is \\\"auto\\\"] How data is aggregated. If aggregated by property, all data for the same property is aggregated; if aggregated by page, all data is aggregated by canonical URI. If you filter or group by page, choose AUTO; otherwise you can aggregate either by property or by page, depending on how you want your data calculated; see the help documentation to learn how data is calculated differently by site versus by page. **Note:** If you group or filter by page, you cannot aggregate by property. If you specify any value other than AUTO, the aggregation type in the result will match the requested type, or if you request an invalid type, you will get an error. The API will never change your aggregation type if the requested type is invalid.",
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE"
          ],
          "type": "string"
        },
        "rowLimit": {
          "type": "integer",
          "description": "[Optional; Default is 1000] The maximum number of rows to return. Must be a number from 1 to 25,000 (inclusive).",
          "format": "int32"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "DATE",
              "QUERY",
              "PAGE",
              "COUNTRY",
              "DEVICE",
              "SEARCH_APPEARANCE"
            ],
            "type": "string"
          },
          "description": "[Optional] Zero or more dimensions to group results by. Dimensions are the group-by values in the Search Analytics page. Dimensions are combined to create a unique row key for each row. Results are grouped in the order that you supply these dimensions."
        },
        "startRow": {
          "format": "int32",
          "type": "integer",
          "description": "[Optional; Default is 0] Zero-based index of the first row in the response. Must be a non-negative number."
        }
      },
      "type": "object",
      "id": "SearchAnalyticsQueryRequest"
    },
    "Image": {
      "id": "Image",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The mime-type of the image data."
        },
        "data": {
          "type": "string",
          "description": "Image data in format determined by the mime type. Currently, the format will always be \"image/png\", but this might change in the future.",
          "format": "byte"
        }
      },
      "description": "Describe image data.",
      "type": "object"
    },
    "RunMobileFriendlyTestRequest": {
      "properties": {
        "url": {
          "description": "URL for inspection.",
          "type": "string"
        },
        "requestScreenshot": {
          "description": "Whether or not screenshot is requested. Default is false.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Mobile-friendly test request.",
      "id": "RunMobileFriendlyTestRequest"
    },
    "TestStatus": {
      "properties": {
        "details": {
          "description": "Error details if applicable.",
          "type": "string"
        },
        "status": {
          "description": "Status of the test.",
          "enum": [
            "TEST_STATUS_UNSPECIFIED",
            "COMPLETE",
            "INTERNAL_ERROR",
            "PAGE_UNREACHABLE"
          ],
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "Inspection has completed without errors.",
            "Inspection terminated in an error state. This indicates a problem in Google's infrastructure, not a user error. Please try again later.",
            "Google can not access the URL because of a user error such as a robots.txt blockage, a 403 or 500 code etc. Please make sure that the URL provided is accessible by Googlebot and is not password protected."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "TestStatus",
      "description": "Final state of the test, including error details if necessary."
    },
    "WmxSite": {
      "id": "WmxSite",
      "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999).",
      "properties": {
        "permissionLevel": {
          "description": "The user's permission level for the site.",
          "type": "string",
          "enum": [
            "SITE_PERMISSION_LEVEL_UNSPECIFIED",
            "SITE_OWNER",
            "SITE_FULL_USER",
            "SITE_RESTRICTED_USER",
            "SITE_UNVERIFIED_USER"
          ],
          "enumDescriptions": [
            "",
            "Owner has complete access to the site.",
            "Full users can access all data, and perform most of the operations.",
            "Restricted users can access most of the data, and perform some operations.",
            "Unverified user has no access to site's data."
          ]
        },
        "siteUrl": {
          "description": "The URL of the site.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApiDataRow": {
      "properties": {
        "position": {
          "format": "double",
          "type": "number"
        },
        "keys": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clicks": {
          "type": "number",
          "format": "double"
        },
        "impressions": {
          "type": "number",
          "format": "double"
        },
        "ctr": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "ApiDataRow",
      "type": "object"
    },
    "SitemapsListResponse": {
      "id": "SitemapsListResponse",
      "properties": {
        "sitemap": {
          "type": "array",
          "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184).",
          "items": {
            "$ref": "WmxSitemap"
          }
        }
      },
      "description": "List of sitemaps.",
      "type": "object"
    },
    "ApiDimensionFilter": {
      "type": "object",
      "properties": {
        "expression": {
          "type": "string"
        },
        "dimension": {
          "enum": [
            "QUERY",
            "PAGE",
            "COUNTRY",
            "DEVICE",
            "SEARCH_APPEARANCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "operator": {
          "enum": [
            "EQUALS",
            "NOT_EQUALS",
            "CONTAINS",
            "NOT_CONTAINS",
            "INCLUDING_REGEX",
            "EXCLUDING_REGEX"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "ApiDimensionFilter",
      "description": "A filter test to be applied to each row in the data set, where a match can return the row. Filters are string comparisons, and values and dimension names are not case-sensitive. Individual filters are either AND'ed or OR'ed within their parent filter group, according to the group's group type. You do not need to group by a specified dimension to filter against it."
    },
    "WmxSitemapContent": {
      "id": "WmxSitemapContent",
      "description": "Information about the various content types in the sitemap.",
      "properties": {
        "indexed": {
          "description": "*Deprecated; do not use.*",
          "type": "string",
          "format": "int64"
        },
        "submitted": {
          "description": "The number of URLs in the sitemap (of the content type).",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Unsupported content type.",
            "",
            "Unsupported content type."
          ],
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "MOBILE",
            "ANDROID_APP",
            "PATTERN",
            "IOS_APP",
            "DATA_FEED_ELEMENT"
          ],
          "description": "The specific type of content in this sitemap. For example: `web`."
        }
      },
      "type": "object"
    },
    "ResourceIssue": {
      "description": "Information about a resource with issue.",
      "id": "ResourceIssue",
      "type": "object",
      "properties": {
        "blockedResource": {
          "$ref": "BlockedResource",
          "description": "Describes a blocked resource issue."
        }
      }
    },
    "SearchAnalyticsQueryResponse": {
      "type": "object",
      "properties": {
        "rows": {
          "description": "A list of rows grouped by the key values in the order given in the query.",
          "items": {
            "$ref": "ApiDataRow"
          },
          "type": "array"
        },
        "responseAggregationType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "How the results were aggregated.",
          "type": "string",
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE"
          ]
        }
      },
      "id": "SearchAnalyticsQueryResponse",
      "description": "A list of rows, one per result, grouped by key. Metrics in each row are aggregated for all data grouped by that key either by page or property, as specified by the aggregation type parameter."
    },
    "SitesListResponse": {
      "description": "List of sites with access level information.",
      "properties": {
        "siteEntry": {
          "items": {
            "$ref": "WmxSite"
          },
          "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999).",
          "type": "array"
        }
      },
      "id": "SitesListResponse",
      "type": "object"
    },
    "ApiDimensionFilterGroup": {
      "description": "A set of dimension value filters to test against each row. Only rows that pass all filter groups will be returned. All results within a filter group are either AND'ed or OR'ed together, depending on the group type selected. All filter groups are AND'ed together.",
      "id": "ApiDimensionFilterGroup",
      "properties": {
        "groupType": {
          "enumDescriptions": [
            ""
          ],
          "type": "string",
          "enum": [
            "AND"
          ]
        },
        "filters": {
          "items": {
            "$ref": "ApiDimensionFilter"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "batchPath": "batch",
  "id": "searchconsole:v1",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "title": "Google Search Console API",
  "servicePath": "",
  "resources": {
    "sites": {
      "methods": {
        "get": {
          "path": "webmasters/v3/sites/{siteUrl}",
          "description": " Retrieves information about specific site.",
          "id": "webmasters.sites.get",
          "response": {
            "$ref": "WmxSite"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "parameters": {
            "siteUrl": {
              "required": true,
              "type": "string",
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "siteUrl"
          ]
        },
        "delete": {
          "id": "webmasters.sites.delete",
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "path": "webmasters/v3/sites/{siteUrl}",
          "parameterOrder": [
            "siteUrl"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "siteUrl": {
              "required": true,
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.",
              "type": "string",
              "location": "path"
            }
          },
          "description": " Removes a site from the set of the user's Search Console sites."
        },
        "add": {
          "id": "webmasters.sites.add",
          "parameterOrder": [
            "siteUrl"
          ],
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "parameters": {
            "siteUrl": {
              "required": true,
              "description": "The URL of the site to add.",
              "type": "string",
              "location": "path"
            }
          },
          "description": " Adds a site to the set of the user's sites in Search Console.",
          "path": "webmasters/v3/sites/{siteUrl}"
        },
        "list": {
          "description": " Lists the user's Search Console sites.",
          "flatPath": "webmasters/v3/sites",
          "httpMethod": "GET",
          "path": "webmasters/v3/sites",
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "SitesListResponse"
          },
          "id": "webmasters.sites.list",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ]
        }
      }
    },
    "searchanalytics": {
      "methods": {
        "query": {
          "description": "Query your data with filters and parameters that you define. Returns zero or more rows grouped by the row keys that you define. You must define a date range of one or more days. When date is one of the group by values, any days without data are omitted from the result list. If you need to know which days have data, issue a broad date range query grouped by date for any metric, and see which day rows are returned.",
          "id": "webmasters.searchanalytics.query",
          "path": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "SearchAnalyticsQueryRequest"
          },
          "flatPath": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query",
          "parameters": {
            "siteUrl": {
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "SearchAnalyticsQueryResponse"
          },
          "parameterOrder": [
            "siteUrl"
          ]
        }
      }
    },
    "urlTestingTools": {
      "resources": {
        "mobileFriendlyTest": {
          "methods": {
            "run": {
              "response": {
                "$ref": "RunMobileFriendlyTestResponse"
              },
              "flatPath": "v1/urlTestingTools/mobileFriendlyTest:run",
              "parameterOrder": [],
              "httpMethod": "POST",
              "path": "v1/urlTestingTools/mobileFriendlyTest:run",
              "description": "Runs Mobile-Friendly Test for a given URL.",
              "parameters": {},
              "request": {
                "$ref": "RunMobileFriendlyTestRequest"
              },
              "id": "searchconsole.urlTestingTools.mobileFriendlyTest.run"
            }
          }
        }
      }
    },
    "sitemaps": {
      "methods": {
        "list": {
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "description": " Lists the [sitemaps-entries](/webmaster-tools/v3/sitemaps) submitted for this site, or included in the sitemap index file (if `sitemapIndex` is specified in the request).",
          "parameters": {
            "siteUrl": {
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sitemapIndex": {
              "description": " A URL of a site's sitemap index. For example: `http://www.example.com/sitemapindex.xml`.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "siteUrl"
          ],
          "response": {
            "$ref": "SitemapsListResponse"
          },
          "id": "webmasters.sitemaps.list",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "httpMethod": "GET"
        },
        "submit": {
          "parameters": {
            "siteUrl": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`."
            },
            "feedpath": {
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "id": "webmasters.sitemaps.submit",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "description": "Submits a sitemap for a site."
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "description": "Deletes a sitemap from the Sitemaps report. Does not stop Google from crawling this sitemap or the URLs that were previously crawled in the deleted sitemap.",
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "id": "webmasters.sitemaps.delete",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "parameters": {
            "feedpath": {
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "siteUrl": {
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "get": {
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "httpMethod": "GET",
          "id": "webmasters.sitemaps.get",
          "response": {
            "$ref": "WmxSitemap"
          },
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "description": "Retrieves information about a specific sitemap.",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "type": "string",
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "required": true
            },
            "feedpath": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`."
            }
          },
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ]
        }
      }
    }
  },
  "description": "The Search Console API provides access to both Search Console data (verified users only) and to public information on an URL basis (anyone)",
  "baseUrl": "https://searchconsole.googleapis.com/",
  "documentationLink": "https://developers.google.com/webmaster-tools/search-console-api/"
}
