{
  "canonicalName": "Search Console",
  "documentationLink": "https://developers.google.com/webmaster-tools/search-console-api/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "baseUrl": "https://searchconsole.googleapis.com/",
  "title": "Google Search Console API",
  "batchPath": "batch",
  "name": "searchconsole",
  "id": "searchconsole:v1",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "ownerName": "Google",
  "version": "v1",
  "schemas": {
    "WmxSite": {
      "properties": {
        "permissionLevel": {
          "description": "The user's permission level for the site.",
          "enum": [
            "SITE_PERMISSION_LEVEL_UNSPECIFIED",
            "SITE_OWNER",
            "SITE_FULL_USER",
            "SITE_RESTRICTED_USER",
            "SITE_UNVERIFIED_USER"
          ],
          "enumDescriptions": [
            "",
            "Owner has complete access to the site.",
            "Full users can access all data, and perform most of the operations.",
            "Restricted users can access most of the data, and perform some operations.",
            "Unverified user has no access to site's data."
          ],
          "type": "string"
        },
        "siteUrl": {
          "description": "The URL of the site.",
          "type": "string"
        }
      },
      "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999).",
      "id": "WmxSite",
      "type": "object"
    },
    "ApiDimensionFilter": {
      "properties": {
        "dimension": {
          "enum": [
            "QUERY",
            "PAGE",
            "COUNTRY",
            "DEVICE",
            "SEARCH_APPEARANCE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "operator": {
          "enum": [
            "EQUALS",
            "NOT_EQUALS",
            "CONTAINS",
            "NOT_CONTAINS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "expression": {
          "type": "string"
        }
      },
      "id": "ApiDimensionFilter",
      "type": "object",
      "description": "A filter test to be applied to each row in the data set, where a match can return the row. Filters are string comparisons, and values and dimension names are not case-sensitive. Individual filters are either AND'ed or OR'ed within their parent filter group, according to the group's group type. You do not need to group by a specified dimension to filter against it."
    },
    "ResourceIssue": {
      "description": "Information about a resource with issue.",
      "id": "ResourceIssue",
      "properties": {
        "blockedResource": {
          "description": "Describes a blocked resource issue.",
          "$ref": "BlockedResource"
        }
      },
      "type": "object"
    },
    "MobileFriendlyIssue": {
      "type": "object",
      "id": "MobileFriendlyIssue",
      "properties": {
        "rule": {
          "enum": [
            "MOBILE_FRIENDLY_RULE_UNSPECIFIED",
            "USES_INCOMPATIBLE_PLUGINS",
            "CONFIGURE_VIEWPORT",
            "FIXED_WIDTH_VIEWPORT",
            "SIZE_CONTENT_TO_VIEWPORT",
            "USE_LEGIBLE_FONT_SIZES",
            "TAP_TARGETS_TOO_CLOSE"
          ],
          "type": "string",
          "description": "Rule violated.",
          "enumDescriptions": [
            "Unknown rule. Sorry, we don't have any description for the rule that was broken.",
            "Plugins incompatible with mobile devices are being used. [Learn more] (https://support.google.com/webmasters/answer/6352293#flash_usage).",
            "Viewsport is not specified using the meta viewport tag. [Learn more] (https://support.google.com/webmasters/answer/6352293#viewport_not_configured).",
            "Viewport defined to a fixed width. [Learn more] (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport).",
            "Content not sized to viewport. [Learn more] (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport).",
            "Font size is too small for easy reading on a small screen. [Learn More] (https://support.google.com/webmasters/answer/6352293#small_font_size).",
            "Touch elements are too close to each other. [Learn more] (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close)."
          ]
        }
      },
      "description": "Mobile-friendly issue."
    },
    "ApiDimensionFilterGroup": {
      "properties": {
        "filters": {
          "items": {
            "$ref": "ApiDimensionFilter"
          },
          "type": "array"
        },
        "groupType": {
          "enumDescriptions": [
            ""
          ],
          "enum": [
            "AND"
          ],
          "type": "string"
        }
      },
      "id": "ApiDimensionFilterGroup",
      "description": "A set of dimension value filters to test against each row. Only rows that pass all filter groups will be returned. All results within a filter group are either AND'ed or OR'ed together, depending on the group type selected. All filter groups are AND'ed together.",
      "type": "object"
    },
    "SearchAnalyticsQueryResponse": {
      "id": "SearchAnalyticsQueryResponse",
      "properties": {
        "responseAggregationType": {
          "description": "How the results were aggregated.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE"
          ],
          "type": "string"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "ApiDataRow"
          },
          "description": "A list of rows grouped by the key values in the order given in the query."
        }
      },
      "type": "object",
      "description": "A list of rows, one per result, grouped by key. Metrics in each row are aggregated for all data grouped by that key either by page or property, as specified by the aggregation type parameter."
    },
    "Image": {
      "id": "Image",
      "description": "Describe image data.",
      "type": "object",
      "properties": {
        "data": {
          "description": "Image data in format determined by the mime type. Currently, the format will always be \"image/png\", but this might change in the future.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "The mime-type of the image data.",
          "type": "string"
        }
      }
    },
    "RunMobileFriendlyTestResponse": {
      "properties": {
        "screenshot": {
          "$ref": "Image",
          "description": "Screenshot of the requested URL."
        },
        "mobileFriendliness": {
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "The page is mobile friendly.",
            "The page is not mobile friendly."
          ],
          "type": "string",
          "enum": [
            "MOBILE_FRIENDLY_TEST_RESULT_UNSPECIFIED",
            "MOBILE_FRIENDLY",
            "NOT_MOBILE_FRIENDLY"
          ],
          "description": "Test verdict, whether the page is mobile friendly or not."
        },
        "resourceIssues": {
          "items": {
            "$ref": "ResourceIssue"
          },
          "description": "Information about embedded resources issues.",
          "type": "array"
        },
        "mobileFriendlyIssues": {
          "items": {
            "$ref": "MobileFriendlyIssue"
          },
          "type": "array",
          "description": "List of mobile-usability issues."
        },
        "testStatus": {
          "$ref": "TestStatus",
          "description": "Final state of the test, can be either complete or an error."
        }
      },
      "description": "Mobile-friendly test response, including mobile-friendly issues and resource issues.",
      "id": "RunMobileFriendlyTestResponse",
      "type": "object"
    },
    "TestStatus": {
      "properties": {
        "status": {
          "description": "Status of the test.",
          "enum": [
            "TEST_STATUS_UNSPECIFIED",
            "COMPLETE",
            "INTERNAL_ERROR",
            "PAGE_UNREACHABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "Inspection has completed without errors.",
            "Inspection terminated in an error state. This indicates a problem in Google's infrastructure, not a user error. Please try again later.",
            "Google can not access the URL because of a user error such as a robots.txt blockage, a 403 or 500 code etc. Please make sure that the URL provided is accessible by Googlebot and is not password protected."
          ]
        },
        "details": {
          "type": "string",
          "description": "Error details if applicable."
        }
      },
      "id": "TestStatus",
      "type": "object",
      "description": "Final state of the test, including error details if necessary."
    },
    "RunMobileFriendlyTestRequest": {
      "description": "Mobile-friendly test request.",
      "type": "object",
      "properties": {
        "requestScreenshot": {
          "type": "boolean",
          "description": "Whether or not screenshot is requested. Default is false."
        },
        "url": {
          "type": "string",
          "description": "URL for inspection."
        }
      },
      "id": "RunMobileFriendlyTestRequest"
    },
    "WmxSitemap": {
      "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184).",
      "type": "object",
      "id": "WmxSitemap",
      "properties": {
        "lastSubmitted": {
          "format": "google-datetime",
          "description": "Date & time in which this sitemap was submitted. Date format is in RFC 3339 format (yyyy-mm-dd).",
          "type": "string"
        },
        "type": {
          "description": "The type of the sitemap. For example: `rssFeed`.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Unsupported sitemap types.",
            ""
          ],
          "type": "string",
          "enum": [
            "NOT_SITEMAP",
            "URL_LIST",
            "SITEMAP",
            "RSS_FEED",
            "ATOM_FEED",
            "PATTERN_SITEMAP",
            "OCEANFRONT"
          ]
        },
        "warnings": {
          "type": "string",
          "description": "Number of warnings for the sitemap. These are generally non-critical issues with URLs in the sitemaps.",
          "format": "int64"
        },
        "isPending": {
          "description": "If true, the sitemap has not been processed.",
          "type": "boolean"
        },
        "errors": {
          "format": "int64",
          "type": "string",
          "description": "Number of errors in the sitemap. These are issues with the sitemap itself that need to be fixed before it can be processed correctly."
        },
        "isSitemapsIndex": {
          "type": "boolean",
          "description": "If true, the sitemap is a collection of sitemaps."
        },
        "contents": {
          "type": "array",
          "items": {
            "$ref": "WmxSitemapContent"
          },
          "description": "The various content types in the sitemap."
        },
        "path": {
          "type": "string",
          "description": "The url of the sitemap."
        },
        "lastDownloaded": {
          "description": "Date & time in which this sitemap was last downloaded. Date format is in RFC 3339 format (yyyy-mm-dd).",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "BlockedResource": {
      "type": "object",
      "properties": {
        "url": {
          "description": "URL of the blocked resource.",
          "type": "string"
        }
      },
      "description": "Blocked resource.",
      "id": "BlockedResource"
    },
    "WmxSitemapContent": {
      "properties": {
        "indexed": {
          "format": "int64",
          "description": "*Deprecated; do not use.*",
          "type": "string"
        },
        "type": {
          "description": "The specific type of content in this sitemap. For example: `web`.",
          "type": "string",
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "MOBILE",
            "ANDROID_APP",
            "PATTERN",
            "IOS_APP",
            "DATA_FEED_ELEMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Unsupported content type.",
            "",
            "Unsupported content type."
          ]
        },
        "submitted": {
          "format": "int64",
          "description": "The number of URLs in the sitemap (of the content type).",
          "type": "string"
        }
      },
      "description": "Information about the various content types in the sitemap.",
      "type": "object",
      "id": "WmxSitemapContent"
    },
    "SearchAnalyticsQueryRequest": {
      "properties": {
        "startRow": {
          "type": "integer",
          "description": "[Optional; Default is 0] Zero-based index of the first row in the response. Must be a non-negative number.",
          "format": "int32"
        },
        "dimensionFilterGroups": {
          "items": {
            "$ref": "ApiDimensionFilterGroup"
          },
          "description": "[Optional] Zero or more filters to apply to the dimension grouping values; for example, 'query contains \\\"buy\\\"' to see only data where the query string contains the substring \\\"buy\\\" (not case-sensitive). You can filter by a dimension without grouping by it.",
          "type": "array"
        },
        "startDate": {
          "type": "string",
          "description": " [Required] Start date of the requested date range, in YYYY-MM-DD format, in PST time (UTC - 8:00). Must be less than or equal to the end date. This value is included in the range."
        },
        "endDate": {
          "description": "[Required] End date of the requested date range, in YYYY-MM-DD format, in PST (UTC - 8:00). Must be greater than or equal to the start date. This value is included in the range.",
          "type": "string"
        },
        "dataState": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "Include full final data only, without partial.",
            "Include all data, full and partial."
          ],
          "type": "string",
          "description": "The data state to be fetched, can be full or all, the latter including full and partial data.",
          "enum": [
            "DATA_STATE_UNSPECIFIED",
            "FINAL",
            "ALL"
          ]
        },
        "aggregationType": {
          "description": "[Optional; Default is \\\"auto\\\"] How data is aggregated. If aggregated by property, all data for the same property is aggregated; if aggregated by page, all data is aggregated by canonical URI. If you filter or group by page, choose AUTO; otherwise you can aggregate either by property or by page, depending on how you want your data calculated; see the help documentation to learn how data is calculated differently by site versus by page. **Note:** If you group or filter by page, you cannot aggregate by property. If you specify any value other than AUTO, the aggregation type in the result will match the requested type, or if you request an invalid type, you will get an error. The API will never change your aggregation type if the requested type is invalid.",
          "type": "string",
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "dimensions": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "DATE",
              "QUERY",
              "PAGE",
              "COUNTRY",
              "DEVICE",
              "SEARCH_APPEARANCE"
            ]
          },
          "description": "[Optional] Zero or more dimensions to group results by. Dimensions are the group-by values in the Search Analytics page. Dimensions are combined to create a unique row key for each row. Results are grouped in the order that you supply these dimensions.",
          "type": "array"
        },
        "rowLimit": {
          "description": "[Optional; Default is 1000] The maximum number of rows to return. Must be a number from 1 to 25,000 (inclusive).",
          "format": "int32",
          "type": "integer"
        },
        "searchType": {
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "[Optional; Default is \\\"web\\\"] The search type to filter for."
        }
      },
      "id": "SearchAnalyticsQueryRequest",
      "type": "object"
    },
    "SitemapsListResponse": {
      "type": "object",
      "properties": {
        "sitemap": {
          "items": {
            "$ref": "WmxSitemap"
          },
          "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184).",
          "type": "array"
        }
      },
      "description": "List of sitemaps.",
      "id": "SitemapsListResponse"
    },
    "SitesListResponse": {
      "id": "SitesListResponse",
      "type": "object",
      "description": "List of sites with access level information.",
      "properties": {
        "siteEntry": {
          "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999).",
          "type": "array",
          "items": {
            "$ref": "WmxSite"
          }
        }
      }
    },
    "ApiDataRow": {
      "properties": {
        "impressions": {
          "type": "number",
          "format": "double"
        },
        "position": {
          "type": "number",
          "format": "double"
        },
        "clicks": {
          "format": "double",
          "type": "number"
        },
        "keys": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ctr": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "ApiDataRow"
    }
  },
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "description": "The Search Console API provides access to both Search Console data (verified users only) and to public information on an URL basis (anyone)",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/webmasters": {
          "description": "View and manage Search Console data for your verified sites"
        },
        "https://www.googleapis.com/auth/webmasters.readonly": {
          "description": "View Search Console data for your verified sites"
        }
      }
    }
  },
  "mtlsRootUrl": "https://searchconsole.mtls.googleapis.com/",
  "resources": {
    "sites": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "webmasters.sites.get",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "type": "string",
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "response": {
            "$ref": "WmxSite"
          },
          "parameterOrder": [
            "siteUrl"
          ],
          "path": "webmasters/v3/sites/{siteUrl}",
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "description": " Retrieves information about specific site."
        },
        "list": {
          "path": "webmasters/v3/sites",
          "parameterOrder": [],
          "flatPath": "webmasters/v3/sites",
          "id": "webmasters.sites.list",
          "response": {
            "$ref": "SitesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {},
          "description": " Lists the user's Search Console sites."
        },
        "delete": {
          "description": " Removes a site from the set of the user's Search Console sites.",
          "parameters": {
            "siteUrl": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "httpMethod": "DELETE",
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "path": "webmasters/v3/sites/{siteUrl}",
          "parameterOrder": [
            "siteUrl"
          ],
          "id": "webmasters.sites.delete"
        },
        "add": {
          "parameterOrder": [
            "siteUrl"
          ],
          "id": "webmasters.sites.add",
          "parameters": {
            "siteUrl": {
              "type": "string",
              "required": true,
              "description": "The URL of the site to add.",
              "location": "path"
            }
          },
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "path": "webmasters/v3/sites/{siteUrl}",
          "httpMethod": "PUT",
          "description": " Adds a site to the set of the user's sites in Search Console."
        }
      }
    },
    "searchanalytics": {
      "methods": {
        "query": {
          "path": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query",
          "httpMethod": "POST",
          "response": {
            "$ref": "SearchAnalyticsQueryResponse"
          },
          "flatPath": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query",
          "parameters": {
            "siteUrl": {
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Query your data with filters and parameters that you define. Returns zero or more rows grouped by the row keys that you define. You must define a date range of one or more days. When date is one of the group by values, any days without data are omitted from the result list. If you need to know which days have data, issue a broad date range query grouped by date for any metric, and see which day rows are returned.",
          "request": {
            "$ref": "SearchAnalyticsQueryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "id": "webmasters.searchanalytics.query",
          "parameterOrder": [
            "siteUrl"
          ]
        }
      }
    },
    "urlTestingTools": {
      "resources": {
        "mobileFriendlyTest": {
          "methods": {
            "run": {
              "parameters": {},
              "flatPath": "v1/urlTestingTools/mobileFriendlyTest:run",
              "id": "searchconsole.urlTestingTools.mobileFriendlyTest.run",
              "path": "v1/urlTestingTools/mobileFriendlyTest:run",
              "parameterOrder": [],
              "request": {
                "$ref": "RunMobileFriendlyTestRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "RunMobileFriendlyTestResponse"
              },
              "description": "Runs Mobile-Friendly Test for a given URL."
            }
          }
        }
      }
    },
    "sitemaps": {
      "methods": {
        "list": {
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "parameters": {
            "siteUrl": {
              "type": "string",
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "required": true,
              "location": "path"
            },
            "sitemapIndex": {
              "type": "string",
              "description": " A URL of a site's sitemap index. For example: `http://www.example.com/sitemapindex.xml`.",
              "location": "query"
            }
          },
          "id": "webmasters.sitemaps.list",
          "description": " Lists the [sitemaps-entries](/webmaster-tools/v3/sitemaps) submitted for this site, or included in the sitemap index file (if `sitemapIndex` is specified in the request).",
          "parameterOrder": [
            "siteUrl"
          ],
          "response": {
            "$ref": "SitemapsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "httpMethod": "GET"
        },
        "delete": {
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "description": "Deletes a sitemap from this site.",
          "id": "webmasters.sitemaps.delete",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "parameters": {
            "feedpath": {
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "siteUrl": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`."
            }
          }
        },
        "get": {
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "id": "webmasters.sitemaps.get",
          "response": {
            "$ref": "WmxSitemap"
          },
          "parameters": {
            "feedpath": {
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "siteUrl": {
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Retrieves information about a specific sitemap.",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "httpMethod": "GET"
        },
        "submit": {
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "parameters": {
            "siteUrl": {
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string",
              "location": "path"
            },
            "feedpath": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`."
            }
          },
          "httpMethod": "PUT",
          "id": "webmasters.sitemaps.submit",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "description": "Submits a sitemap for a site.",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ]
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "revision": "20210903",
  "rootUrl": "https://searchconsole.googleapis.com/",
  "kind": "discovery#restDescription"
}
