{
  "basePath": "",
  "servicePath": "",
  "title": "Google Search Console API",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    }
  },
  "name": "searchconsole",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "version": "v1",
  "mtlsRootUrl": "https://searchconsole.mtls.googleapis.com/",
  "canonicalName": "Search Console",
  "version_module": true,
  "protocol": "rest",
  "description": "The Search Console API provides access to both Search Console data (verified users only) and to public information on an URL basis (anyone)",
  "schemas": {
    "Item": {
      "id": "Item",
      "description": "A specific rich result found on the page.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The user-provided name of this item."
        },
        "issues": {
          "items": {
            "$ref": "RichResultsIssue"
          },
          "type": "array",
          "description": "A list of zero or more rich result issues found for this instance."
        }
      }
    },
    "TestStatus": {
      "type": "object",
      "id": "TestStatus",
      "description": "Final state of the test, including error details if necessary.",
      "properties": {
        "details": {
          "type": "string",
          "description": "Error details if applicable."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "Inspection has completed without errors.",
            "Inspection terminated in an error state. This indicates a problem in Google's infrastructure, not a user error. Please try again later.",
            "Google can not access the URL because of a user error such as a robots.txt blockage, a 403 or 500 code etc. Please make sure that the URL provided is accessible by Googlebot and is not password protected."
          ],
          "description": "Status of the test.",
          "enum": [
            "TEST_STATUS_UNSPECIFIED",
            "COMPLETE",
            "INTERNAL_ERROR",
            "PAGE_UNREACHABLE"
          ]
        }
      }
    },
    "MobileUsabilityInspectionResult": {
      "properties": {
        "verdict": {
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "type": "string",
          "description": "High-level mobile-usability inspection result for this URL.",
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Equivalent to \"Valid with warnings\" for the page or item in Search Console.",
            "Equivalent to Error or Invalid for the page or item in Search Console.",
            "Equivalent to \"Neutral\" for the page or item in Search Console."
          ]
        },
        "issues": {
          "items": {
            "$ref": "MobileUsabilityIssue"
          },
          "description": "A list of zero or more mobile-usability issues detected for this URL.",
          "type": "array"
        }
      },
      "id": "MobileUsabilityInspectionResult",
      "description": "Mobile-usability inspection results.",
      "type": "object"
    },
    "RunMobileFriendlyTestRequest": {
      "id": "RunMobileFriendlyTestRequest",
      "type": "object",
      "properties": {
        "url": {
          "description": "URL for inspection.",
          "type": "string"
        },
        "requestScreenshot": {
          "description": "Whether or not screenshot is requested. Default is false.",
          "type": "boolean"
        }
      },
      "description": "Mobile-friendly test request."
    },
    "ApiDimensionFilterGroup": {
      "id": "ApiDimensionFilterGroup",
      "description": "A set of dimension value filters to test against each row. Only rows that pass all filter groups will be returned. All results within a filter group are either AND'ed or OR'ed together, depending on the group type selected. All filter groups are AND'ed together.",
      "type": "object",
      "properties": {
        "groupType": {
          "type": "string",
          "enum": [
            "AND"
          ],
          "enumDescriptions": [
            ""
          ]
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "ApiDimensionFilter"
          }
        }
      }
    },
    "AmpIssue": {
      "type": "object",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "description": "Severity of this issue: WARNING or ERROR.",
          "type": "string",
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ]
        },
        "issueMessage": {
          "type": "string",
          "description": "Brief description of this issue."
        }
      },
      "id": "AmpIssue",
      "description": "AMP issue."
    },
    "WmxSitemap": {
      "properties": {
        "contents": {
          "items": {
            "$ref": "WmxSitemapContent"
          },
          "description": "The various content types in the sitemap.",
          "type": "array"
        },
        "warnings": {
          "format": "int64",
          "description": "Number of warnings for the sitemap. These are generally non-critical issues with URLs in the sitemaps.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "The url of the sitemap."
        },
        "isPending": {
          "description": "If true, the sitemap has not been processed.",
          "type": "boolean"
        },
        "lastSubmitted": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date & time in which this sitemap was submitted. Date format is in RFC 3339 format (yyyy-mm-dd)."
        },
        "isSitemapsIndex": {
          "description": "If true, the sitemap is a collection of sitemaps.",
          "type": "boolean"
        },
        "lastDownloaded": {
          "format": "google-datetime",
          "description": "Date & time in which this sitemap was last downloaded. Date format is in RFC 3339 format (yyyy-mm-dd).",
          "type": "string"
        },
        "type": {
          "enum": [
            "NOT_SITEMAP",
            "URL_LIST",
            "SITEMAP",
            "RSS_FEED",
            "ATOM_FEED",
            "PATTERN_SITEMAP",
            "OCEANFRONT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Unsupported sitemap types.",
            ""
          ],
          "type": "string",
          "description": "The type of the sitemap. For example: `rssFeed`."
        },
        "errors": {
          "type": "string",
          "format": "int64",
          "description": "Number of errors in the sitemap. These are issues with the sitemap itself that need to be fixed before it can be processed correctly."
        }
      },
      "type": "object",
      "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184).",
      "id": "WmxSitemap"
    },
    "SearchAnalyticsQueryResponse": {
      "type": "object",
      "description": "A list of rows, one per result, grouped by key. Metrics in each row are aggregated for all data grouped by that key either by page or property, as specified by the aggregation type parameter.",
      "id": "SearchAnalyticsQueryResponse",
      "properties": {
        "responseAggregationType": {
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "How the results were aggregated."
        },
        "rows": {
          "description": "A list of rows grouped by the key values in the order given in the query.",
          "items": {
            "$ref": "ApiDataRow"
          },
          "type": "array"
        }
      }
    },
    "ResourceIssue": {
      "description": "Information about a resource with issue.",
      "id": "ResourceIssue",
      "properties": {
        "blockedResource": {
          "description": "Describes a blocked resource issue.",
          "$ref": "BlockedResource"
        }
      },
      "type": "object"
    },
    "ApiDimensionFilter": {
      "type": "object",
      "properties": {
        "dimension": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY",
            "PAGE",
            "COUNTRY",
            "DEVICE",
            "SEARCH_APPEARANCE"
          ],
          "type": "string"
        },
        "expression": {
          "type": "string"
        },
        "operator": {
          "enum": [
            "EQUALS",
            "NOT_EQUALS",
            "CONTAINS",
            "NOT_CONTAINS",
            "INCLUDING_REGEX",
            "EXCLUDING_REGEX"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "ApiDimensionFilter",
      "description": "A filter test to be applied to each row in the data set, where a match can return the row. Filters are string comparisons, and values and dimension names are not case-sensitive. Individual filters are either AND'ed or OR'ed within their parent filter group, according to the group's group type. You do not need to group by a specified dimension to filter against it."
    },
    "RunMobileFriendlyTestResponse": {
      "description": "Mobile-friendly test response, including mobile-friendly issues and resource issues.",
      "properties": {
        "resourceIssues": {
          "items": {
            "$ref": "ResourceIssue"
          },
          "description": "Information about embedded resources issues.",
          "type": "array"
        },
        "mobileFriendliness": {
          "description": "Test verdict, whether the page is mobile friendly or not.",
          "enum": [
            "MOBILE_FRIENDLY_TEST_RESULT_UNSPECIFIED",
            "MOBILE_FRIENDLY",
            "NOT_MOBILE_FRIENDLY"
          ],
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "The page is mobile friendly.",
            "The page is not mobile friendly."
          ],
          "type": "string"
        },
        "mobileFriendlyIssues": {
          "description": "List of mobile-usability issues.",
          "items": {
            "$ref": "MobileFriendlyIssue"
          },
          "type": "array"
        },
        "testStatus": {
          "$ref": "TestStatus",
          "description": "Final state of the test, can be either complete or an error."
        },
        "screenshot": {
          "$ref": "Image",
          "description": "Screenshot of the requested URL."
        }
      },
      "type": "object",
      "id": "RunMobileFriendlyTestResponse"
    },
    "MobileUsabilityIssue": {
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "type": "string",
          "description": "Not returned; reserved for future use.",
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ]
        },
        "message": {
          "type": "string",
          "description": "Additional information regarding the issue."
        },
        "issueType": {
          "enum": [
            "MOBILE_USABILITY_ISSUE_TYPE_UNSPECIFIED",
            "USES_INCOMPATIBLE_PLUGINS",
            "CONFIGURE_VIEWPORT",
            "FIXED_WIDTH_VIEWPORT",
            "SIZE_CONTENT_TO_VIEWPORT",
            "USE_LEGIBLE_FONT_SIZES",
            "TAP_TARGETS_TOO_CLOSE"
          ],
          "enumDescriptions": [
            "Unknown issue. Sorry, we don't have any description for the rule that was broken.",
            "Plugins incompatible with mobile devices are being used. [Learn more] (https://support.google.com/webmasters/answer/6352293#flash_usage#error-list).",
            "Viewport is not specified using the meta viewport tag. [Learn more] (https://support.google.com/webmasters/answer/6352293#viewport_not_configured#error-list).",
            "Viewport defined to a fixed width. [Learn more] (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport#error-list).",
            "Content not sized to viewport. [Learn more] (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport#error-list).",
            "Font size is too small for easy reading on a small screen. [Learn More] (https://support.google.com/webmasters/answer/6352293#small_font_size#error-list).",
            "Touch elements are too close to each other. [Learn more] (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close#error-list)."
          ],
          "description": "Mobile-usability issue type.",
          "type": "string"
        }
      },
      "id": "MobileUsabilityIssue",
      "type": "object",
      "description": "Mobile-usability issue."
    },
    "WmxSitemapContent": {
      "properties": {
        "indexed": {
          "description": "*Deprecated; do not use.*",
          "format": "int64",
          "type": "string"
        },
        "submitted": {
          "format": "int64",
          "type": "string",
          "description": "The number of URLs in the sitemap (of the content type)."
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Unsupported content type.",
            "",
            "Unsupported content type."
          ],
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "MOBILE",
            "ANDROID_APP",
            "PATTERN",
            "IOS_APP",
            "DATA_FEED_ELEMENT"
          ],
          "description": "The specific type of content in this sitemap. For example: `web`.",
          "type": "string"
        }
      },
      "id": "WmxSitemapContent",
      "description": "Information about the various content types in the sitemap.",
      "type": "object"
    },
    "SitesListResponse": {
      "id": "SitesListResponse",
      "type": "object",
      "properties": {
        "siteEntry": {
          "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999).",
          "type": "array",
          "items": {
            "$ref": "WmxSite"
          }
        }
      },
      "description": "List of sites with access level information."
    },
    "InspectUrlIndexResponse": {
      "type": "object",
      "description": "Index-Status inspection response.",
      "properties": {
        "inspectionResult": {
          "$ref": "UrlInspectionResult",
          "description": "URL inspection results."
        }
      },
      "id": "InspectUrlIndexResponse"
    },
    "Image": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The mime-type of the image data."
        },
        "data": {
          "format": "byte",
          "description": "Image data in format determined by the mime type. Currently, the format will always be \"image/png\", but this might change in the future.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describe image data.",
      "id": "Image"
    },
    "ApiDataRow": {
      "properties": {
        "impressions": {
          "format": "double",
          "type": "number"
        },
        "ctr": {
          "type": "number",
          "format": "double"
        },
        "clicks": {
          "type": "number",
          "format": "double"
        },
        "position": {
          "format": "double",
          "type": "number"
        },
        "keys": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ApiDataRow"
    },
    "RichResultsIssue": {
      "id": "RichResultsIssue",
      "type": "object",
      "properties": {
        "issueMessage": {
          "type": "string",
          "description": "Rich Results issue type."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "type": "string",
          "description": "Severity of this issue: WARNING, or ERROR. Items with an issue of status ERROR cannot appear with rich result features in Google Search results.",
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ]
        }
      },
      "description": "Severity and status of a single issue affecting a single rich result instance on a page."
    },
    "SearchAnalyticsQueryRequest": {
      "properties": {
        "endDate": {
          "description": "[Required] End date of the requested date range, in YYYY-MM-DD format, in PST (UTC - 8:00). Must be greater than or equal to the start date. This value is included in the range.",
          "type": "string"
        },
        "rowLimit": {
          "description": "[Optional; Default is 1000] The maximum number of rows to return. Must be a number from 1 to 25,000 (inclusive).",
          "type": "integer",
          "format": "int32"
        },
        "dataState": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "Include full final data only, without partial.",
            "Include all data, full and partial."
          ],
          "enum": [
            "DATA_STATE_UNSPECIFIED",
            "FINAL",
            "ALL"
          ],
          "type": "string",
          "description": "The data state to be fetched, can be full or all, the latter including full and partial data."
        },
        "aggregationType": {
          "description": "[Optional; Default is \\\"auto\\\"] How data is aggregated. If aggregated by property, all data for the same property is aggregated; if aggregated by page, all data is aggregated by canonical URI. If you filter or group by page, choose AUTO; otherwise you can aggregate either by property or by page, depending on how you want your data calculated; see the help documentation to learn how data is calculated differently by site versus by page. **Note:** If you group or filter by page, you cannot aggregate by property. If you specify any value other than AUTO, the aggregation type in the result will match the requested type, or if you request an invalid type, you will get an error. The API will never change your aggregation type if the requested type is invalid.",
          "type": "string",
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "type": {
          "description": "Optional. [Optional; Default is \\\"web\\\"] Type of report: search type, or either Discover or Gnews.",
          "type": "string",
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "DISCOVER",
            "GOOGLE_NEWS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "News tab in search.",
            "Discover.",
            "Google News (news.google.com or mobile app)."
          ]
        },
        "startRow": {
          "type": "integer",
          "format": "int32",
          "description": "[Optional; Default is 0] Zero-based index of the first row in the response. Must be a non-negative number."
        },
        "searchType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "News tab in search.",
            "Discover.",
            "Google News (news.google.com or mobile app)."
          ],
          "description": "[Optional; Default is \\\"web\\\"] The search type to filter for.",
          "type": "string",
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "DISCOVER",
            "GOOGLE_NEWS"
          ]
        },
        "startDate": {
          "description": " [Required] Start date of the requested date range, in YYYY-MM-DD format, in PST time (UTC - 8:00). Must be less than or equal to the end date. This value is included in the range.",
          "type": "string"
        },
        "dimensionFilterGroups": {
          "description": "[Optional] Zero or more filters to apply to the dimension grouping values; for example, 'query contains \\\"buy\\\"' to see only data where the query string contains the substring \\\"buy\\\" (not case-sensitive). You can filter by a dimension without grouping by it.",
          "type": "array",
          "items": {
            "$ref": "ApiDimensionFilterGroup"
          }
        },
        "dimensions": {
          "items": {
            "enum": [
              "DATE",
              "QUERY",
              "PAGE",
              "COUNTRY",
              "DEVICE",
              "SEARCH_APPEARANCE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "description": "[Optional] Zero or more dimensions to group results by. Dimensions are the group-by values in the Search Analytics page. Dimensions are combined to create a unique row key for each row. Results are grouped in the order that you supply these dimensions.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "SearchAnalyticsQueryRequest"
    },
    "MobileFriendlyIssue": {
      "type": "object",
      "properties": {
        "rule": {
          "enum": [
            "MOBILE_FRIENDLY_RULE_UNSPECIFIED",
            "USES_INCOMPATIBLE_PLUGINS",
            "CONFIGURE_VIEWPORT",
            "FIXED_WIDTH_VIEWPORT",
            "SIZE_CONTENT_TO_VIEWPORT",
            "USE_LEGIBLE_FONT_SIZES",
            "TAP_TARGETS_TOO_CLOSE"
          ],
          "description": "Rule violated.",
          "type": "string",
          "enumDescriptions": [
            "Unknown rule. Sorry, we don't have any description for the rule that was broken.",
            "Plugins incompatible with mobile devices are being used. [Learn more] (https://support.google.com/webmasters/answer/6352293#flash_usage).",
            "Viewport is not specified using the meta viewport tag. [Learn more] (https://support.google.com/webmasters/answer/6352293#viewport_not_configured).",
            "Viewport defined to a fixed width. [Learn more] (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport).",
            "Content not sized to viewport. [Learn more] (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport).",
            "Font size is too small for easy reading on a small screen. [Learn More] (https://support.google.com/webmasters/answer/6352293#small_font_size).",
            "Touch elements are too close to each other. [Learn more] (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close)."
          ]
        }
      },
      "description": "Mobile-friendly issue.",
      "id": "MobileFriendlyIssue"
    },
    "IndexStatusInspectionResult": {
      "id": "IndexStatusInspectionResult",
      "properties": {
        "indexingState": {
          "enum": [
            "INDEXING_STATE_UNSPECIFIED",
            "INDEXING_ALLOWED",
            "BLOCKED_BY_META_TAG",
            "BLOCKED_BY_HTTP_HEADER",
            "BLOCKED_BY_ROBOTS_TXT"
          ],
          "description": "Whether or not the page blocks indexing through a noindex rule.",
          "type": "string",
          "enumDescriptions": [
            "Unknown indexing status.",
            "Indexing allowed.",
            "Indexing not allowed, 'noindex' detected in 'robots' meta tag.",
            "Indexing not allowed, 'noindex' detected in 'X-Robots-Tag' http header.",
            "Indexing not allowed, No: 'noindex' detected in robots.txt."
          ]
        },
        "verdict": {
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "description": "High level verdict about whether the URL *is* indexed (indexed status), or *can be* indexed (live inspection).",
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Equivalent to \"Valid with warnings\" for the page or item in Search Console.",
            "Equivalent to Error or Invalid for the page or item in Search Console.",
            "Equivalent to \"Neutral\" for the page or item in Search Console."
          ]
        },
        "robotsTxtState": {
          "enum": [
            "ROBOTS_TXT_STATE_UNSPECIFIED",
            "ALLOWED",
            "DISALLOWED"
          ],
          "description": "Whether or not the page is blocked to Google by a robots.txt rule.",
          "enumDescriptions": [
            "Unknown robots.txt state, typically because the page wasn't fetched or found, or because robots.txt itself couldn't be reached.",
            "Crawl allowed by robots.txt.",
            "Crawl blocked by robots.txt."
          ],
          "type": "string"
        },
        "sitemap": {
          "description": "Any sitemaps that this URL was listed in, as known by Google. Not guaranteed to be an exhaustive list, especially if Google did not discover this URL through a sitemap. Absent if no sitemaps were found.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "coverageState": {
          "type": "string",
          "description": "Could Google find and index the page. More details about page indexing appear in 'indexing_state'."
        },
        "crawledAs": {
          "enum": [
            "CRAWLING_USER_AGENT_UNSPECIFIED",
            "DESKTOP",
            "MOBILE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown user agent.",
            "Desktop user agent.",
            "Mobile user agent."
          ],
          "description": "Primary crawler that was used by Google to crawl your site."
        },
        "userCanonical": {
          "type": "string",
          "description": "The URL that your page or site [declares as canonical](https://developers.google.com/search/docs/advanced/crawling/consolidate-duplicate-urls?#define-canonical). If you did not declare a canonical URL, this field is absent."
        },
        "googleCanonical": {
          "description": "The URL of the page that Google selected as canonical. If the page was not indexed, this field is absent.",
          "type": "string"
        },
        "lastCrawlTime": {
          "description": "Last time this URL was crawled by Google using the [primary crawler](https://support.google.com/webmasters/answer/7440203#primary_crawler). Absent if the URL was never crawled successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "referringUrls": {
          "type": "array",
          "description": "URLs that link to the inspected URL, directly and indirectly.",
          "items": {
            "type": "string"
          }
        },
        "pageFetchState": {
          "enum": [
            "PAGE_FETCH_STATE_UNSPECIFIED",
            "SUCCESSFUL",
            "SOFT_404",
            "BLOCKED_ROBOTS_TXT",
            "NOT_FOUND",
            "ACCESS_DENIED",
            "SERVER_ERROR",
            "REDIRECT_ERROR",
            "ACCESS_FORBIDDEN",
            "BLOCKED_4XX",
            "INTERNAL_CRAWL_ERROR",
            "INVALID_URL"
          ],
          "description": "Whether or not Google could retrieve the page from your server. Equivalent to [\"page fetch\"](https://support.google.com/webmasters/answer/9012289#index_coverage) in the URL inspection report.",
          "type": "string",
          "enumDescriptions": [
            "Unknown fetch state.",
            "Successful fetch.",
            "Soft 404.",
            "Blocked by robots.txt.",
            "Not found (404).",
            "Blocked due to unauthorized request (401).",
            "Server error (5xx).",
            "Redirection error.",
            "Blocked due to access forbidden (403).",
            "Blocked due to other 4xx issue (not 403, 404).",
            "Internal error.",
            "Invalid URL."
          ]
        }
      },
      "type": "object",
      "description": "Results of index status inspection for either the live page or the version in Google's index, depending on whether you requested a live inspection or not. For more information, see the [Index coverage report documentation](https://support.google.com/webmasters/answer/7440203)."
    },
    "InspectUrlIndexRequest": {
      "id": "InspectUrlIndexRequest",
      "description": "Index inspection request.",
      "properties": {
        "inspectionUrl": {
          "type": "string",
          "description": "Required. URL to inspect. Must be under the property specified in \"site_url\"."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. An [IETF BCP-47](https://en.wikipedia.org/wiki/IETF_language_tag) language code representing the requested language for translated issue messages, e.g. \"en-US\", \"or \"de-CH\". Default value is \"en-US\"."
        },
        "siteUrl": {
          "description": "Required. The URL of the property as defined in Search Console. **Examples:** `http://www.example.com/` for a URL-prefix property, or `sc-domain:example.com` for a Domain property.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AmpInspectionResult": {
      "properties": {
        "verdict": {
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Equivalent to \"Valid with warnings\" for the page or item in Search Console.",
            "Equivalent to Error or Invalid for the page or item in Search Console.",
            "Equivalent to \"Neutral\" for the page or item in Search Console."
          ],
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "description": "The status of the most severe error on the page. If a page has both warnings and errors, the page status is error. Error status means the page cannot be shown in Search results."
        },
        "robotsTxtState": {
          "description": "Whether or not the page is blocked to Google by a robots.txt rule.",
          "type": "string",
          "enumDescriptions": [
            "Unknown robots.txt state, typically because the page wasn't fetched or found, or because robots.txt itself couldn't be reached.",
            "Crawl allowed by robots.txt.",
            "Crawl blocked by robots.txt."
          ],
          "enum": [
            "ROBOTS_TXT_STATE_UNSPECIFIED",
            "ALLOWED",
            "DISALLOWED"
          ]
        },
        "indexingState": {
          "enum": [
            "AMP_INDEXING_STATE_UNSPECIFIED",
            "AMP_INDEXING_ALLOWED",
            "BLOCKED_DUE_TO_NOINDEX",
            "BLOCKED_DUE_TO_EXPIRED_UNAVAILABLE_AFTER"
          ],
          "enumDescriptions": [
            "Unknown indexing status.",
            "Indexing allowed.",
            "Indexing not allowed, 'noindex' detected.",
            "Indexing not allowed, 'unavailable_after' date expired."
          ],
          "type": "string",
          "description": "Whether or not the page blocks indexing through a noindex rule."
        },
        "pageFetchState": {
          "description": "Whether or not Google could fetch the AMP.",
          "enum": [
            "PAGE_FETCH_STATE_UNSPECIFIED",
            "SUCCESSFUL",
            "SOFT_404",
            "BLOCKED_ROBOTS_TXT",
            "NOT_FOUND",
            "ACCESS_DENIED",
            "SERVER_ERROR",
            "REDIRECT_ERROR",
            "ACCESS_FORBIDDEN",
            "BLOCKED_4XX",
            "INTERNAL_CRAWL_ERROR",
            "INVALID_URL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown fetch state.",
            "Successful fetch.",
            "Soft 404.",
            "Blocked by robots.txt.",
            "Not found (404).",
            "Blocked due to unauthorized request (401).",
            "Server error (5xx).",
            "Redirection error.",
            "Blocked due to access forbidden (403).",
            "Blocked due to other 4xx issue (not 403, 404).",
            "Internal error.",
            "Invalid URL."
          ]
        },
        "ampUrl": {
          "description": "URL of the AMP that was inspected. If the submitted URL is a desktop page that refers to an AMP version, the AMP version will be inspected.",
          "type": "string"
        },
        "lastCrawlTime": {
          "format": "google-datetime",
          "description": "Last time this AMP version was crawled by Google. Absent if the URL was never crawled successfully.",
          "type": "string"
        },
        "ampIndexStatusVerdict": {
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Equivalent to \"Valid with warnings\" for the page or item in Search Console.",
            "Equivalent to Error or Invalid for the page or item in Search Console.",
            "Equivalent to \"Neutral\" for the page or item in Search Console."
          ],
          "description": "Index status of the AMP URL.",
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ]
        },
        "issues": {
          "items": {
            "$ref": "AmpIssue"
          },
          "type": "array",
          "description": "A list of zero or more AMP issues found for the inspected URL."
        }
      },
      "id": "AmpInspectionResult",
      "description": "AMP inspection result of the live page or the current information from Google's index, depending on whether you requested a live inspection or not.",
      "type": "object"
    },
    "SitemapsListResponse": {
      "properties": {
        "sitemap": {
          "type": "array",
          "items": {
            "$ref": "WmxSitemap"
          },
          "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184)."
        }
      },
      "description": "List of sitemaps.",
      "type": "object",
      "id": "SitemapsListResponse"
    },
    "BlockedResource": {
      "description": "Blocked resource.",
      "type": "object",
      "properties": {
        "url": {
          "description": "URL of the blocked resource.",
          "type": "string"
        }
      },
      "id": "BlockedResource"
    },
    "WmxSite": {
      "id": "WmxSite",
      "properties": {
        "permissionLevel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Owner has complete access to the site.",
            "Full users can access all data, and perform most of the operations.",
            "Restricted users can access most of the data, and perform some operations.",
            "Unverified user has no access to site's data."
          ],
          "enum": [
            "SITE_PERMISSION_LEVEL_UNSPECIFIED",
            "SITE_OWNER",
            "SITE_FULL_USER",
            "SITE_RESTRICTED_USER",
            "SITE_UNVERIFIED_USER"
          ],
          "description": "The user's permission level for the site."
        },
        "siteUrl": {
          "type": "string",
          "description": "The URL of the site."
        }
      },
      "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999).",
      "type": "object"
    },
    "UrlInspectionResult": {
      "type": "object",
      "id": "UrlInspectionResult",
      "properties": {
        "ampResult": {
          "description": "Result of the AMP analysis. Absent if the page is not an AMP page.",
          "$ref": "AmpInspectionResult"
        },
        "inspectionResultLink": {
          "description": "Link to Search Console URL inspection.",
          "type": "string"
        },
        "richResultsResult": {
          "$ref": "RichResultsInspectionResult",
          "description": "Result of the Rich Results analysis. Absent if there are no rich results found."
        },
        "indexStatusResult": {
          "description": "Result of the index status analysis.",
          "$ref": "IndexStatusInspectionResult"
        },
        "mobileUsabilityResult": {
          "$ref": "MobileUsabilityInspectionResult",
          "description": "Result of the Mobile usability analysis."
        }
      },
      "description": "URL inspection result, including all inspection results."
    },
    "DetectedItems": {
      "id": "DetectedItems",
      "description": "Rich Results items grouped by type.",
      "properties": {
        "items": {
          "type": "array",
          "description": "List of Rich Results items.",
          "items": {
            "$ref": "Item"
          }
        },
        "richResultType": {
          "type": "string",
          "description": "Rich Results type"
        }
      },
      "type": "object"
    },
    "RichResultsInspectionResult": {
      "description": "Rich-Results inspection result, including any rich results found at this URL.",
      "properties": {
        "verdict": {
          "type": "string",
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Equivalent to \"Valid with warnings\" for the page or item in Search Console.",
            "Equivalent to Error or Invalid for the page or item in Search Console.",
            "Equivalent to \"Neutral\" for the page or item in Search Console."
          ],
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "description": "High-level rich results inspection result for this URL."
        },
        "detectedItems": {
          "type": "array",
          "items": {
            "$ref": "DetectedItems"
          },
          "description": "A list of zero or more rich results detected on this page. Rich results that cannot even be parsed due to syntactic issues will not be listed here."
        }
      },
      "id": "RichResultsInspectionResult",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "baseUrl": "https://searchconsole.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "searchconsole:v1",
  "kind": "discovery#restDescription",
  "resources": {
    "sites": {
      "methods": {
        "get": {
          "parameters": {
            "siteUrl": {
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "webmasters.sites.get",
          "parameterOrder": [
            "siteUrl"
          ],
          "response": {
            "$ref": "WmxSite"
          },
          "description": " Retrieves information about specific site.",
          "path": "webmasters/v3/sites/{siteUrl}",
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ]
        },
        "add": {
          "id": "webmasters.sites.add",
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "parameterOrder": [
            "siteUrl"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "parameters": {
            "siteUrl": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The URL of the site to add."
            }
          },
          "httpMethod": "PUT",
          "path": "webmasters/v3/sites/{siteUrl}",
          "description": " Adds a site to the set of the user's sites in Search Console."
        },
        "delete": {
          "description": " Removes a site from the set of the user's Search Console sites.",
          "path": "webmasters/v3/sites/{siteUrl}",
          "parameters": {
            "siteUrl": {
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "siteUrl"
          ],
          "id": "webmasters.sites.delete",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "httpMethod": "DELETE",
          "flatPath": "webmasters/v3/sites/{siteUrl}"
        },
        "list": {
          "id": "webmasters.sites.list",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "flatPath": "webmasters/v3/sites",
          "path": "webmasters/v3/sites",
          "httpMethod": "GET",
          "response": {
            "$ref": "SitesListResponse"
          },
          "parameters": {},
          "description": " Lists the user's Search Console sites.",
          "parameterOrder": []
        }
      }
    },
    "searchanalytics": {
      "methods": {
        "query": {
          "flatPath": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query",
          "path": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query",
          "request": {
            "$ref": "SearchAnalyticsQueryRequest"
          },
          "id": "webmasters.searchanalytics.query",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "SearchAnalyticsQueryResponse"
          },
          "parameterOrder": [
            "siteUrl"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "description": "Query your data with filters and parameters that you define. Returns zero or more rows grouped by the row keys that you define. You must define a date range of one or more days. When date is one of the group by values, any days without data are omitted from the result list. If you need to know which days have data, issue a broad date range query grouped by date for any metric, and see which day rows are returned.",
          "httpMethod": "POST"
        }
      }
    },
    "urlInspection": {
      "resources": {
        "index": {
          "methods": {
            "inspect": {
              "httpMethod": "POST",
              "description": "Index inspection.",
              "id": "searchconsole.urlInspection.index.inspect",
              "parameters": {},
              "path": "v1/urlInspection/index:inspect",
              "request": {
                "$ref": "InspectUrlIndexRequest"
              },
              "parameterOrder": [],
              "response": {
                "$ref": "InspectUrlIndexResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/webmasters",
                "https://www.googleapis.com/auth/webmasters.readonly"
              ],
              "flatPath": "v1/urlInspection/index:inspect"
            }
          }
        }
      }
    },
    "sitemaps": {
      "methods": {
        "delete": {
          "id": "webmasters.sitemaps.delete",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`."
            },
            "feedpath": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`."
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "description": "Deletes a sitemap from the Sitemaps report. Does not stop Google from crawling this sitemap or the URLs that were previously crawled in the deleted sitemap.",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}"
        },
        "list": {
          "id": "webmasters.sitemaps.list",
          "parameters": {
            "sitemapIndex": {
              "description": " A URL of a site's sitemap index. For example: `http://www.example.com/sitemapindex.xml`.",
              "type": "string",
              "location": "query"
            },
            "siteUrl": {
              "required": true,
              "location": "path",
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "SitemapsListResponse"
          },
          "httpMethod": "GET",
          "description": " Lists the [sitemaps-entries](/webmaster-tools/v3/sitemaps) submitted for this site, or included in the sitemap index file (if `sitemapIndex` is specified in the request).",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "parameterOrder": [
            "siteUrl"
          ]
        },
        "submit": {
          "parameters": {
            "siteUrl": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`."
            },
            "feedpath": {
              "type": "string",
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "required": true,
              "location": "path"
            }
          },
          "id": "webmasters.sitemaps.submit",
          "description": "Submits a sitemap for a site.",
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "httpMethod": "PUT"
        },
        "get": {
          "id": "webmasters.sitemaps.get",
          "description": "Retrieves information about a specific sitemap.",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "response": {
            "$ref": "WmxSitemap"
          },
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "parameters": {
            "feedpath": {
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "siteUrl": {
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "urlTestingTools": {
      "resources": {
        "mobileFriendlyTest": {
          "methods": {
            "run": {
              "request": {
                "$ref": "RunMobileFriendlyTestRequest"
              },
              "flatPath": "v1/urlTestingTools/mobileFriendlyTest:run",
              "httpMethod": "POST",
              "description": "Runs Mobile-Friendly Test for a given URL.",
              "parameters": {},
              "response": {
                "$ref": "RunMobileFriendlyTestResponse"
              },
              "path": "v1/urlTestingTools/mobileFriendlyTest:run",
              "id": "searchconsole.urlTestingTools.mobileFriendlyTest.run",
              "parameterOrder": []
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/webmasters": {
          "description": "View and manage Search Console data for your verified sites"
        },
        "https://www.googleapis.com/auth/webmasters.readonly": {
          "description": "View Search Console data for your verified sites"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/webmaster-tools/search-console-api/",
  "rootUrl": "https://searchconsole.googleapis.com/",
  "batchPath": "batch",
  "revision": "20220128"
}
