{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "title": "Google Search Console API",
  "baseUrl": "https://searchconsole.googleapis.com/",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20230920",
  "protocol": "rest",
  "servicePath": "",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/webmasters": {
          "description": "View and manage Search Console data for your verified sites"
        },
        "https://www.googleapis.com/auth/webmasters.readonly": {
          "description": "View Search Console data for your verified sites"
        }
      }
    }
  },
  "resources": {
    "sites": {
      "methods": {
        "add": {
          "httpMethod": "PUT",
          "id": "webmasters.sites.add",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "path": "webmasters/v3/sites/{siteUrl}",
          "parameterOrder": [
            "siteUrl"
          ],
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "parameters": {
            "siteUrl": {
              "description": "The URL of the site to add.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": " Adds a site to the set of the user's sites in Search Console."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "parameterOrder": [
            "siteUrl"
          ],
          "description": " Retrieves information about specific site.",
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "response": {
            "$ref": "WmxSite"
          },
          "path": "webmasters/v3/sites/{siteUrl}",
          "id": "webmasters.sites.get",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "type": "string",
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.",
              "required": true
            }
          },
          "httpMethod": "GET"
        },
        "list": {
          "flatPath": "webmasters/v3/sites",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "id": "webmasters.sites.list",
          "description": " Lists the user's Search Console sites.",
          "response": {
            "$ref": "SitesListResponse"
          },
          "path": "webmasters/v3/sites",
          "parameters": {},
          "httpMethod": "GET"
        },
        "delete": {
          "path": "webmasters/v3/sites/{siteUrl}",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "description": " Removes a site from the set of the user's Search Console sites.",
          "parameters": {
            "siteUrl": {
              "required": true,
              "type": "string",
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.",
              "location": "path"
            }
          },
          "id": "webmasters.sites.delete",
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "parameterOrder": [
            "siteUrl"
          ],
          "httpMethod": "DELETE"
        }
      }
    },
    "sitemaps": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "httpMethod": "DELETE",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "description": "Deletes a sitemap from the Sitemaps report. Does not stop Google from crawling this sitemap or the URLs that were previously crawled in the deleted sitemap.",
          "id": "webmasters.sitemaps.delete",
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "parameters": {
            "siteUrl": {
              "type": "string",
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "required": true,
              "location": "path"
            },
            "feedpath": {
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "submit": {
          "description": "Submits a sitemap for a site.",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string",
              "required": true
            },
            "feedpath": {
              "type": "string",
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "id": "webmasters.sitemaps.submit",
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "httpMethod": "PUT"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "parameters": {
            "feedpath": {
              "location": "path",
              "type": "string",
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "required": true
            },
            "siteUrl": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`."
            }
          },
          "response": {
            "$ref": "WmxSitemap"
          },
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "id": "webmasters.sitemaps.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "description": "Retrieves information about a specific sitemap.",
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}"
        },
        "list": {
          "description": " Lists the [sitemaps-entries](/webmaster-tools/v3/sitemaps) submitted for this site, or included in the sitemap index file (if `sitemapIndex` is specified in the request).",
          "id": "webmasters.sitemaps.list",
          "parameters": {
            "sitemapIndex": {
              "description": " A URL of a site's sitemap index. For example: `http://www.example.com/sitemapindex.xml`.",
              "type": "string",
              "location": "query"
            },
            "siteUrl": {
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "response": {
            "$ref": "SitemapsListResponse"
          },
          "parameterOrder": [
            "siteUrl"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "searchanalytics": {
      "methods": {
        "query": {
          "request": {
            "$ref": "SearchAnalyticsQueryRequest"
          },
          "description": "Query your data with filters and parameters that you define. Returns zero or more rows grouped by the row keys that you define. You must define a date range of one or more days. When date is one of the group by values, any days without data are omitted from the result list. If you need to know which days have data, issue a broad date range query grouped by date for any metric, and see which day rows are returned.",
          "id": "webmasters.searchanalytics.query",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "response": {
            "$ref": "SearchAnalyticsQueryResponse"
          },
          "path": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "type": "string",
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "required": true
            }
          },
          "flatPath": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query",
          "parameterOrder": [
            "siteUrl"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "urlInspection": {
      "resources": {
        "index": {
          "methods": {
            "inspect": {
              "id": "searchconsole.urlInspection.index.inspect",
              "parameters": {},
              "flatPath": "v1/urlInspection/index:inspect",
              "parameterOrder": [],
              "httpMethod": "POST",
              "path": "v1/urlInspection/index:inspect",
              "description": "Index inspection.",
              "scopes": [
                "https://www.googleapis.com/auth/webmasters",
                "https://www.googleapis.com/auth/webmasters.readonly"
              ],
              "request": {
                "$ref": "InspectUrlIndexRequest"
              },
              "response": {
                "$ref": "InspectUrlIndexResponse"
              }
            }
          }
        }
      }
    },
    "urlTestingTools": {
      "resources": {
        "mobileFriendlyTest": {
          "methods": {
            "run": {
              "path": "v1/urlTestingTools/mobileFriendlyTest:run",
              "parameters": {},
              "description": "Runs Mobile-Friendly Test for a given URL.",
              "id": "searchconsole.urlTestingTools.mobileFriendlyTest.run",
              "httpMethod": "POST",
              "flatPath": "v1/urlTestingTools/mobileFriendlyTest:run",
              "parameterOrder": [],
              "response": {
                "$ref": "RunMobileFriendlyTestResponse"
              },
              "request": {
                "$ref": "RunMobileFriendlyTestRequest"
              }
            }
          }
        }
      }
    }
  },
  "name": "searchconsole",
  "ownerDomain": "google.com",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    }
  },
  "mtlsRootUrl": "https://searchconsole.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/webmaster-tools/search-console-api/",
  "basePath": "",
  "rootUrl": "https://searchconsole.googleapis.com/",
  "id": "searchconsole:v1",
  "schemas": {
    "InspectUrlIndexRequest": {
      "id": "InspectUrlIndexRequest",
      "type": "object",
      "properties": {
        "siteUrl": {
          "description": "Required. The URL of the property as defined in Search Console. **Examples:** `http://www.example.com/` for a URL-prefix property, or `sc-domain:example.com` for a Domain property.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. An [IETF BCP-47](https://en.wikipedia.org/wiki/IETF_language_tag) language code representing the requested language for translated issue messages, e.g. \"en-US\", \"or \"de-CH\". Default value is \"en-US\".",
          "type": "string"
        },
        "inspectionUrl": {
          "description": "Required. URL to inspect. Must be under the property specified in \"site_url\".",
          "type": "string"
        }
      },
      "description": "Index inspection request."
    },
    "TestStatus": {
      "type": "object",
      "id": "TestStatus",
      "description": "Final state of the test, including error details if necessary.",
      "properties": {
        "details": {
          "description": "Error details if applicable.",
          "type": "string"
        },
        "status": {
          "enum": [
            "TEST_STATUS_UNSPECIFIED",
            "COMPLETE",
            "INTERNAL_ERROR",
            "PAGE_UNREACHABLE"
          ],
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "Inspection has completed without errors.",
            "Inspection terminated in an error state. This indicates a problem in Google's infrastructure, not a user error. Please try again later.",
            "Google can not access the URL because of a user error such as a robots.txt blockage, a 403 or 500 code etc. Please make sure that the URL provided is accessible by Googlebot and is not password protected."
          ],
          "type": "string",
          "description": "Status of the test."
        }
      }
    },
    "SitemapsListResponse": {
      "id": "SitemapsListResponse",
      "type": "object",
      "properties": {
        "sitemap": {
          "items": {
            "$ref": "WmxSitemap"
          },
          "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184).",
          "type": "array"
        }
      },
      "description": "List of sitemaps."
    },
    "MobileUsabilityIssue": {
      "id": "MobileUsabilityIssue",
      "description": "Mobile-usability issue.",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "type": "string",
          "description": "Not returned; reserved for future use."
        },
        "issueType": {
          "enumDescriptions": [
            "Unknown issue. Sorry, we don't have any description for the rule that was broken.",
            "Plugins incompatible with mobile devices are being used. [Learn more] (https://support.google.com/webmasters/answer/6352293#flash_usage#error-list).",
            "Viewport is not specified using the meta viewport tag. [Learn more] (https://support.google.com/webmasters/answer/6352293#viewport_not_configured#error-list).",
            "Viewport defined to a fixed width. [Learn more] (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport#error-list).",
            "Content not sized to viewport. [Learn more] (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport#error-list).",
            "Font size is too small for easy reading on a small screen. [Learn More] (https://support.google.com/webmasters/answer/6352293#small_font_size#error-list).",
            "Touch elements are too close to each other. [Learn more] (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close#error-list)."
          ],
          "type": "string",
          "description": "Mobile-usability issue type.",
          "enum": [
            "MOBILE_USABILITY_ISSUE_TYPE_UNSPECIFIED",
            "USES_INCOMPATIBLE_PLUGINS",
            "CONFIGURE_VIEWPORT",
            "FIXED_WIDTH_VIEWPORT",
            "SIZE_CONTENT_TO_VIEWPORT",
            "USE_LEGIBLE_FONT_SIZES",
            "TAP_TARGETS_TOO_CLOSE"
          ]
        },
        "message": {
          "type": "string",
          "description": "Additional information regarding the issue."
        }
      },
      "type": "object"
    },
    "ApiDimensionFilterGroup": {
      "id": "ApiDimensionFilterGroup",
      "properties": {
        "groupType": {
          "type": "string",
          "enumDescriptions": [
            ""
          ],
          "enum": [
            "AND"
          ]
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "ApiDimensionFilter"
          }
        }
      },
      "description": "A set of dimension value filters to test against each row. Only rows that pass all filter groups will be returned. All results within a filter group are either AND'ed or OR'ed together, depending on the group type selected. All filter groups are AND'ed together.",
      "type": "object"
    },
    "SearchAnalyticsQueryResponse": {
      "type": "object",
      "properties": {
        "responseAggregationType": {
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE",
            "BY_NEWS_SHOWCASE_PANEL"
          ],
          "description": "How the results were aggregated.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "rows": {
          "type": "array",
          "description": "A list of rows grouped by the key values in the order given in the query.",
          "items": {
            "$ref": "ApiDataRow"
          }
        }
      },
      "id": "SearchAnalyticsQueryResponse",
      "description": "A list of rows, one per result, grouped by key. Metrics in each row are aggregated for all data grouped by that key either by page or property, as specified by the aggregation type parameter."
    },
    "IndexStatusInspectionResult": {
      "description": "Results of index status inspection for either the live page or the version in Google's index, depending on whether you requested a live inspection or not. For more information, see the [Index coverage report documentation](https://support.google.com/webmasters/answer/7440203).",
      "id": "IndexStatusInspectionResult",
      "type": "object",
      "properties": {
        "crawledAs": {
          "enumDescriptions": [
            "Unknown user agent.",
            "Desktop user agent.",
            "Mobile user agent."
          ],
          "enum": [
            "CRAWLING_USER_AGENT_UNSPECIFIED",
            "DESKTOP",
            "MOBILE"
          ],
          "description": "Primary crawler that was used by Google to crawl your site.",
          "type": "string"
        },
        "robotsTxtState": {
          "enumDescriptions": [
            "Unknown robots.txt state, typically because the page wasn't fetched or found, or because robots.txt itself couldn't be reached.",
            "Crawl allowed by robots.txt.",
            "Crawl blocked by robots.txt."
          ],
          "enum": [
            "ROBOTS_TXT_STATE_UNSPECIFIED",
            "ALLOWED",
            "DISALLOWED"
          ],
          "description": "Whether or not the page is blocked to Google by a robots.txt rule.",
          "type": "string"
        },
        "sitemap": {
          "description": "Any sitemaps that this URL was listed in, as known by Google. Not guaranteed to be an exhaustive list, especially if Google did not discover this URL through a sitemap. Absent if no sitemaps were found.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "googleCanonical": {
          "type": "string",
          "description": "The URL of the page that Google selected as canonical. If the page was not indexed, this field is absent."
        },
        "pageFetchState": {
          "type": "string",
          "enum": [
            "PAGE_FETCH_STATE_UNSPECIFIED",
            "SUCCESSFUL",
            "SOFT_404",
            "BLOCKED_ROBOTS_TXT",
            "NOT_FOUND",
            "ACCESS_DENIED",
            "SERVER_ERROR",
            "REDIRECT_ERROR",
            "ACCESS_FORBIDDEN",
            "BLOCKED_4XX",
            "INTERNAL_CRAWL_ERROR",
            "INVALID_URL"
          ],
          "description": "Whether or not Google could retrieve the page from your server. Equivalent to [\"page fetch\"](https://support.google.com/webmasters/answer/9012289#index_coverage) in the URL inspection report.",
          "enumDescriptions": [
            "Unknown fetch state.",
            "Successful fetch.",
            "Soft 404.",
            "Blocked by robots.txt.",
            "Not found (404).",
            "Blocked due to unauthorized request (401).",
            "Server error (5xx).",
            "Redirection error.",
            "Blocked due to access forbidden (403).",
            "Blocked due to other 4xx issue (not 403, 404).",
            "Internal error.",
            "Invalid URL."
          ]
        },
        "verdict": {
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "description": "High level verdict about whether the URL *is* indexed (indexed status), or *can be* indexed (live inspection).",
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "type": "string"
        },
        "userCanonical": {
          "description": "The URL that your page or site [declares as canonical](https://developers.google.com/search/docs/advanced/crawling/consolidate-duplicate-urls?#define-canonical). If you did not declare a canonical URL, this field is absent.",
          "type": "string"
        },
        "coverageState": {
          "description": "Could Google find and index the page. More details about page indexing appear in 'indexing_state'.",
          "type": "string"
        },
        "indexingState": {
          "enum": [
            "INDEXING_STATE_UNSPECIFIED",
            "INDEXING_ALLOWED",
            "BLOCKED_BY_META_TAG",
            "BLOCKED_BY_HTTP_HEADER",
            "BLOCKED_BY_ROBOTS_TXT"
          ],
          "type": "string",
          "description": "Whether or not the page blocks indexing through a noindex rule.",
          "enumDescriptions": [
            "Unknown indexing status.",
            "Indexing allowed.",
            "Indexing not allowed, 'noindex' detected in 'robots' meta tag.",
            "Indexing not allowed, 'noindex' detected in 'X-Robots-Tag' http header.",
            "Reserved, no longer in use."
          ]
        },
        "referringUrls": {
          "description": "URLs that link to the inspected URL, directly and indirectly.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lastCrawlTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time this URL was crawled by Google using the [primary crawler](https://support.google.com/webmasters/answer/7440203#primary_crawler). Absent if the URL was never crawled successfully."
        }
      }
    },
    "Item": {
      "type": "object",
      "description": "A specific rich result found on the page.",
      "id": "Item",
      "properties": {
        "name": {
          "type": "string",
          "description": "The user-provided name of this item."
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "RichResultsIssue"
          },
          "description": "A list of zero or more rich result issues found for this instance."
        }
      }
    },
    "WmxSitemapContent": {
      "type": "object",
      "properties": {
        "indexed": {
          "format": "int64",
          "deprecated": true,
          "type": "string",
          "description": "*Deprecated; do not use.*"
        },
        "submitted": {
          "type": "string",
          "format": "int64",
          "description": "The number of URLs in the sitemap (of the content type)."
        },
        "type": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "MOBILE",
            "ANDROID_APP",
            "PATTERN",
            "IOS_APP",
            "DATA_FEED_ELEMENT"
          ],
          "description": "The specific type of content in this sitemap. For example: `web`.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Unsupported content type.",
            "",
            "Unsupported content type."
          ]
        }
      },
      "description": "Information about the various content types in the sitemap.",
      "id": "WmxSitemapContent"
    },
    "RichResultsIssue": {
      "id": "RichResultsIssue",
      "description": "Severity and status of a single issue affecting a single rich result instance on a page.",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ],
          "type": "string",
          "description": "Severity of this issue: WARNING, or ERROR. Items with an issue of status ERROR cannot appear with rich result features in Google Search results."
        },
        "issueMessage": {
          "description": "Rich Results issue type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApiDataRow": {
      "id": "ApiDataRow",
      "type": "object",
      "properties": {
        "position": {
          "format": "double",
          "type": "number"
        },
        "ctr": {
          "format": "double",
          "type": "number"
        },
        "impressions": {
          "type": "number",
          "format": "double"
        },
        "keys": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clicks": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "InspectUrlIndexResponse": {
      "type": "object",
      "description": "Index-Status inspection response.",
      "properties": {
        "inspectionResult": {
          "$ref": "UrlInspectionResult",
          "description": "URL inspection results."
        }
      },
      "id": "InspectUrlIndexResponse"
    },
    "DetectedItems": {
      "type": "object",
      "description": "Rich Results items grouped by type.",
      "id": "DetectedItems",
      "properties": {
        "items": {
          "items": {
            "$ref": "Item"
          },
          "type": "array",
          "description": "List of Rich Results items."
        },
        "richResultType": {
          "description": "Rich Results type",
          "type": "string"
        }
      }
    },
    "MobileUsabilityInspectionResult": {
      "description": "Mobile-usability inspection results.",
      "type": "object",
      "properties": {
        "verdict": {
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "description": "High-level mobile-usability inspection result for this URL."
        },
        "issues": {
          "items": {
            "$ref": "MobileUsabilityIssue"
          },
          "description": "A list of zero or more mobile-usability issues detected for this URL.",
          "type": "array"
        }
      },
      "id": "MobileUsabilityInspectionResult"
    },
    "RichResultsInspectionResult": {
      "type": "object",
      "description": "Rich-Results inspection result, including any rich results found at this URL.",
      "properties": {
        "verdict": {
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "description": "High-level rich results inspection result for this URL.",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "type": "string"
        },
        "detectedItems": {
          "description": "A list of zero or more rich results detected on this page. Rich results that cannot even be parsed due to syntactic issues will not be listed here.",
          "type": "array",
          "items": {
            "$ref": "DetectedItems"
          }
        }
      },
      "id": "RichResultsInspectionResult"
    },
    "Image": {
      "description": "Describe image data.",
      "id": "Image",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "description": "Image data in format determined by the mime type. Currently, the format will always be \"image/png\", but this might change in the future.",
          "format": "byte"
        },
        "mimeType": {
          "description": "The mime-type of the image data.",
          "type": "string"
        }
      }
    },
    "ResourceIssue": {
      "description": "Information about a resource with issue.",
      "type": "object",
      "properties": {
        "blockedResource": {
          "description": "Describes a blocked resource issue.",
          "$ref": "BlockedResource"
        }
      },
      "id": "ResourceIssue"
    },
    "AmpIssue": {
      "type": "object",
      "id": "AmpIssue",
      "properties": {
        "issueMessage": {
          "description": "Brief description of this issue.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "description": "Severity of this issue: WARNING or ERROR.",
          "type": "string"
        }
      },
      "description": "AMP issue."
    },
    "SearchAnalyticsQueryRequest": {
      "properties": {
        "endDate": {
          "description": "[Required] End date of the requested date range, in YYYY-MM-DD format, in PST (UTC - 8:00). Must be greater than or equal to the start date. This value is included in the range.",
          "type": "string"
        },
        "rowLimit": {
          "type": "integer",
          "description": "[Optional; Default is 1000] The maximum number of rows to return. Must be a number from 1 to 25,000 (inclusive).",
          "format": "int32"
        },
        "dimensions": {
          "type": "array",
          "description": "[Optional] Zero or more dimensions to group results by. Dimensions are the group-by values in the Search Analytics page. Dimensions are combined to create a unique row key for each row. Results are grouped in the order that you supply these dimensions.",
          "items": {
            "enum": [
              "DATE",
              "QUERY",
              "PAGE",
              "COUNTRY",
              "DEVICE",
              "SEARCH_APPEARANCE"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "startRow": {
          "description": "[Optional; Default is 0] Zero-based index of the first row in the response. Must be a non-negative number.",
          "format": "int32",
          "type": "integer"
        },
        "searchType": {
          "description": "[Optional; Default is \\\"web\\\"] The search type to filter for.",
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "DISCOVER",
            "GOOGLE_NEWS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "News tab in search.",
            "Discover.",
            "Google News (news.google.com or mobile app)."
          ]
        },
        "startDate": {
          "description": " [Required] Start date of the requested date range, in YYYY-MM-DD format, in PST time (UTC - 8:00). Must be less than or equal to the end date. This value is included in the range.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "News tab in search.",
            "Discover.",
            "Google News (news.google.com or mobile app)."
          ],
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "DISCOVER",
            "GOOGLE_NEWS"
          ],
          "description": "Optional. [Optional; Default is \\\"web\\\"] Type of report: search type, or either Discover or Gnews."
        },
        "dimensionFilterGroups": {
          "description": "[Optional] Zero or more filters to apply to the dimension grouping values; for example, 'query contains \\\"buy\\\"' to see only data where the query string contains the substring \\\"buy\\\" (not case-sensitive). You can filter by a dimension without grouping by it.",
          "type": "array",
          "items": {
            "$ref": "ApiDimensionFilterGroup"
          }
        },
        "aggregationType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE",
            "BY_NEWS_SHOWCASE_PANEL"
          ],
          "type": "string",
          "description": "[Optional; Default is \\\"auto\\\"] How data is aggregated. If aggregated by property, all data for the same property is aggregated; if aggregated by page, all data is aggregated by canonical URI. If you filter or group by page, choose AUTO; otherwise you can aggregate either by property or by page, depending on how you want your data calculated; see the help documentation to learn how data is calculated differently by site versus by page. **Note:** If you group or filter by page, you cannot aggregate by property. If you specify any value other than AUTO, the aggregation type in the result will match the requested type, or if you request an invalid type, you will get an error. The API will never change your aggregation type if the requested type is invalid."
        },
        "dataState": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "Include full final data only, without partial.",
            "Include all data, full and partial."
          ],
          "type": "string",
          "description": "The data state to be fetched, can be full or all, the latter including full and partial data.",
          "enum": [
            "DATA_STATE_UNSPECIFIED",
            "FINAL",
            "ALL"
          ]
        }
      },
      "id": "SearchAnalyticsQueryRequest",
      "type": "object"
    },
    "RunMobileFriendlyTestResponse": {
      "id": "RunMobileFriendlyTestResponse",
      "type": "object",
      "properties": {
        "testStatus": {
          "description": "Final state of the test, can be either complete or an error.",
          "$ref": "TestStatus"
        },
        "resourceIssues": {
          "type": "array",
          "description": "Information about embedded resources issues.",
          "items": {
            "$ref": "ResourceIssue"
          }
        },
        "mobileFriendliness": {
          "type": "string",
          "enum": [
            "MOBILE_FRIENDLY_TEST_RESULT_UNSPECIFIED",
            "MOBILE_FRIENDLY",
            "NOT_MOBILE_FRIENDLY"
          ],
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "The page is mobile friendly.",
            "The page is not mobile friendly."
          ],
          "description": "Test verdict, whether the page is mobile friendly or not."
        },
        "mobileFriendlyIssues": {
          "items": {
            "$ref": "MobileFriendlyIssue"
          },
          "type": "array",
          "description": "List of mobile-usability issues."
        },
        "screenshot": {
          "$ref": "Image",
          "description": "Screenshot of the requested URL."
        }
      },
      "description": "Mobile-friendly test response, including mobile-friendly issues and resource issues."
    },
    "WmxSite": {
      "properties": {
        "permissionLevel": {
          "type": "string",
          "enum": [
            "SITE_PERMISSION_LEVEL_UNSPECIFIED",
            "SITE_OWNER",
            "SITE_FULL_USER",
            "SITE_RESTRICTED_USER",
            "SITE_UNVERIFIED_USER"
          ],
          "description": "The user's permission level for the site.",
          "enumDescriptions": [
            "",
            "Owner has complete access to the site.",
            "Full users can access all data, and perform most of the operations.",
            "Restricted users can access most of the data, and perform some operations.",
            "Unverified user has no access to site's data."
          ]
        },
        "siteUrl": {
          "description": "The URL of the site.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WmxSite",
      "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999)."
    },
    "ApiDimensionFilter": {
      "properties": {
        "expression": {
          "type": "string"
        },
        "dimension": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "QUERY",
            "PAGE",
            "COUNTRY",
            "DEVICE",
            "SEARCH_APPEARANCE"
          ]
        },
        "operator": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EQUALS",
            "NOT_EQUALS",
            "CONTAINS",
            "NOT_CONTAINS",
            "INCLUDING_REGEX",
            "EXCLUDING_REGEX"
          ],
          "type": "string"
        }
      },
      "id": "ApiDimensionFilter",
      "type": "object",
      "description": "A filter test to be applied to each row in the data set, where a match can return the row. Filters are string comparisons, and values and dimension names are not case-sensitive. Individual filters are either AND'ed or OR'ed within their parent filter group, according to the group's group type. You do not need to group by a specified dimension to filter against it."
    },
    "UrlInspectionResult": {
      "id": "UrlInspectionResult",
      "description": "URL inspection result, including all inspection results.",
      "type": "object",
      "properties": {
        "indexStatusResult": {
          "$ref": "IndexStatusInspectionResult",
          "description": "Result of the index status analysis."
        },
        "ampResult": {
          "description": "Result of the AMP analysis. Absent if the page is not an AMP page.",
          "$ref": "AmpInspectionResult"
        },
        "inspectionResultLink": {
          "description": "Link to Search Console URL inspection.",
          "type": "string"
        },
        "richResultsResult": {
          "$ref": "RichResultsInspectionResult",
          "description": "Result of the Rich Results analysis. Absent if there are no rich results found."
        },
        "mobileUsabilityResult": {
          "$ref": "MobileUsabilityInspectionResult",
          "description": "Result of the Mobile usability analysis."
        }
      }
    },
    "SitesListResponse": {
      "id": "SitesListResponse",
      "type": "object",
      "description": "List of sites with access level information.",
      "properties": {
        "siteEntry": {
          "items": {
            "$ref": "WmxSite"
          },
          "type": "array",
          "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999)."
        }
      }
    },
    "BlockedResource": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "URL of the blocked resource."
        }
      },
      "id": "BlockedResource",
      "description": "Blocked resource."
    },
    "RunMobileFriendlyTestRequest": {
      "id": "RunMobileFriendlyTestRequest",
      "type": "object",
      "properties": {
        "requestScreenshot": {
          "type": "boolean",
          "description": "Whether or not screenshot is requested. Default is false."
        },
        "url": {
          "type": "string",
          "description": "URL for inspection."
        }
      },
      "description": "Mobile-friendly test request."
    },
    "AmpInspectionResult": {
      "description": "AMP inspection result of the live page or the current information from Google's index, depending on whether you requested a live inspection or not.",
      "id": "AmpInspectionResult",
      "properties": {
        "robotsTxtState": {
          "enum": [
            "ROBOTS_TXT_STATE_UNSPECIFIED",
            "ALLOWED",
            "DISALLOWED"
          ],
          "description": "Whether or not the page is blocked to Google by a robots.txt rule.",
          "type": "string",
          "enumDescriptions": [
            "Unknown robots.txt state, typically because the page wasn't fetched or found, or because robots.txt itself couldn't be reached.",
            "Crawl allowed by robots.txt.",
            "Crawl blocked by robots.txt."
          ]
        },
        "lastCrawlTime": {
          "type": "string",
          "description": "Last time this AMP version was crawled by Google. Absent if the URL was never crawled successfully.",
          "format": "google-datetime"
        },
        "indexingState": {
          "enum": [
            "AMP_INDEXING_STATE_UNSPECIFIED",
            "AMP_INDEXING_ALLOWED",
            "BLOCKED_DUE_TO_NOINDEX",
            "BLOCKED_DUE_TO_EXPIRED_UNAVAILABLE_AFTER"
          ],
          "description": "Whether or not the page blocks indexing through a noindex rule.",
          "enumDescriptions": [
            "Unknown indexing status.",
            "Indexing allowed.",
            "Indexing not allowed, 'noindex' detected.",
            "Indexing not allowed, 'unavailable_after' date expired."
          ],
          "type": "string"
        },
        "issues": {
          "items": {
            "$ref": "AmpIssue"
          },
          "description": "A list of zero or more AMP issues found for the inspected URL.",
          "type": "array"
        },
        "pageFetchState": {
          "type": "string",
          "description": "Whether or not Google could fetch the AMP.",
          "enumDescriptions": [
            "Unknown fetch state.",
            "Successful fetch.",
            "Soft 404.",
            "Blocked by robots.txt.",
            "Not found (404).",
            "Blocked due to unauthorized request (401).",
            "Server error (5xx).",
            "Redirection error.",
            "Blocked due to access forbidden (403).",
            "Blocked due to other 4xx issue (not 403, 404).",
            "Internal error.",
            "Invalid URL."
          ],
          "enum": [
            "PAGE_FETCH_STATE_UNSPECIFIED",
            "SUCCESSFUL",
            "SOFT_404",
            "BLOCKED_ROBOTS_TXT",
            "NOT_FOUND",
            "ACCESS_DENIED",
            "SERVER_ERROR",
            "REDIRECT_ERROR",
            "ACCESS_FORBIDDEN",
            "BLOCKED_4XX",
            "INTERNAL_CRAWL_ERROR",
            "INVALID_URL"
          ]
        },
        "verdict": {
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "type": "string",
          "description": "The status of the most severe error on the page. If a page has both warnings and errors, the page status is error. Error status means the page cannot be shown in Search results.",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ]
        },
        "ampUrl": {
          "type": "string",
          "description": "URL of the AMP that was inspected. If the submitted URL is a desktop page that refers to an AMP version, the AMP version will be inspected."
        },
        "ampIndexStatusVerdict": {
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "description": "Index status of the AMP URL.",
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ]
        }
      },
      "type": "object"
    },
    "MobileFriendlyIssue": {
      "properties": {
        "rule": {
          "type": "string",
          "enum": [
            "MOBILE_FRIENDLY_RULE_UNSPECIFIED",
            "USES_INCOMPATIBLE_PLUGINS",
            "CONFIGURE_VIEWPORT",
            "FIXED_WIDTH_VIEWPORT",
            "SIZE_CONTENT_TO_VIEWPORT",
            "USE_LEGIBLE_FONT_SIZES",
            "TAP_TARGETS_TOO_CLOSE"
          ],
          "description": "Rule violated.",
          "enumDescriptions": [
            "Unknown rule. Sorry, we don't have any description for the rule that was broken.",
            "Plugins incompatible with mobile devices are being used. [Learn more] (https://support.google.com/webmasters/answer/6352293#flash_usage).",
            "Viewport is not specified using the meta viewport tag. [Learn more] (https://support.google.com/webmasters/answer/6352293#viewport_not_configured).",
            "Viewport defined to a fixed width. [Learn more] (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport).",
            "Content not sized to viewport. [Learn more] (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport).",
            "Font size is too small for easy reading on a small screen. [Learn More] (https://support.google.com/webmasters/answer/6352293#small_font_size).",
            "Touch elements are too close to each other. [Learn more] (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close)."
          ]
        }
      },
      "type": "object",
      "id": "MobileFriendlyIssue",
      "description": "Mobile-friendly issue."
    },
    "WmxSitemap": {
      "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184).",
      "type": "object",
      "id": "WmxSitemap",
      "properties": {
        "path": {
          "description": "The url of the sitemap.",
          "type": "string"
        },
        "errors": {
          "description": "Number of errors in the sitemap. These are issues with the sitemap itself that need to be fixed before it can be processed correctly.",
          "format": "int64",
          "type": "string"
        },
        "contents": {
          "description": "The various content types in the sitemap.",
          "items": {
            "$ref": "WmxSitemapContent"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "The type of the sitemap. For example: `rssFeed`.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Unsupported sitemap types.",
            ""
          ],
          "enum": [
            "NOT_SITEMAP",
            "URL_LIST",
            "SITEMAP",
            "RSS_FEED",
            "ATOM_FEED",
            "PATTERN_SITEMAP",
            "OCEANFRONT"
          ]
        },
        "isPending": {
          "type": "boolean",
          "description": "If true, the sitemap has not been processed."
        },
        "isSitemapsIndex": {
          "description": "If true, the sitemap is a collection of sitemaps.",
          "type": "boolean"
        },
        "lastSubmitted": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date & time in which this sitemap was submitted. Date format is in RFC 3339 format (yyyy-mm-dd)."
        },
        "lastDownloaded": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date & time in which this sitemap was last downloaded. Date format is in RFC 3339 format (yyyy-mm-dd)."
        },
        "warnings": {
          "description": "Number of warnings for the sitemap. These are generally non-critical issues with URLs in the sitemaps.",
          "format": "int64",
          "type": "string"
        }
      }
    }
  },
  "version": "v1",
  "description": "The Search Console API provides access to both Search Console data (verified users only) and to public information on an URL basis (anyone)",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "canonicalName": "Search Console"
}
