{
  "revision": "20220617",
  "documentationLink": "https://cloud.google.com/secret-manager/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://secretmanager.mtls.googleapis.com/",
  "description": "Stores sensitive data such as API keys, passwords, and certificates. Provides convenience while improving security. ",
  "baseUrl": "https://secretmanager.googleapis.com/",
  "basePath": "",
  "version_module": true,
  "protocol": "rest",
  "id": "secretmanager:v1",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "servicePath": "",
  "rootUrl": "https://secretmanager.googleapis.com/",
  "title": "Secret Manager API",
  "schemas": {
    "Replication": {
      "properties": {
        "automatic": {
          "$ref": "Automatic",
          "description": "The Secret will automatically be replicated without any restrictions."
        },
        "userManaged": {
          "$ref": "UserManaged",
          "description": "The Secret will only be replicated into the locations specified."
        }
      },
      "description": "A policy that defines the replication and encryption configuration of data.",
      "type": "object",
      "id": "Replication"
    },
    "SecretPayload": {
      "id": "SecretPayload",
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The secret data. Must be no larger than 64KiB."
        },
        "dataCrc32c": {
          "description": "Optional. If specified, SecretManagerService will verify the integrity of the received data on SecretManagerService.AddSecretVersion calls using the crc32c checksum and store it to include in future SecretManagerService.AccessSecretVersion responses. If a checksum is not provided in the SecretManagerService.AddSecretVersion request, the SecretManagerService will generate and store one for you. The CRC32C value is encoded as a Int64 for compatibility, and can be safely downconverted to uint32 in languages that support this type. https://cloud.google.com/apis/design/design_patterns#integer_types",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A secret payload resource in the Secret Manager API. This contains the sensitive secret payload that is associated with a SecretVersion."
    },
    "Replica": {
      "description": "Represents a Replica for this Secret.",
      "id": "Replica",
      "properties": {
        "customerManagedEncryption": {
          "description": "Optional. The customer-managed encryption configuration of the User-Managed Replica. If no configuration is provided, Google-managed default encryption is used. Updates to the Secret encryption configuration only apply to SecretVersions added afterwards. They do not apply retroactively to existing SecretVersions.",
          "$ref": "CustomerManagedEncryption"
        },
        "location": {
          "type": "string",
          "description": "The canonical IDs of the location to replicate data. For example: `\"us-east1\"`."
        }
      },
      "type": "object"
    },
    "SecretVersion": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the SecretVersion was created."
        },
        "replicationStatus": {
          "$ref": "ReplicationStatus",
          "description": "The replication status of the SecretVersion."
        },
        "clientSpecifiedPayloadChecksum": {
          "type": "boolean",
          "description": "Output only. True if payload checksum specified in SecretPayload object has been received by SecretManagerService on SecretManagerService.AddSecretVersion.",
          "readOnly": true
        },
        "destroyTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this SecretVersion was destroyed. Only present if state is DESTROYED."
        },
        "name": {
          "description": "Output only. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*`. SecretVersion IDs in a Secret start at 1 and are incremented for each subsequent version of the secret.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. Etag of the currently stored SecretVersion.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified. This value is unused and invalid.",
            "The SecretVersion may be accessed.",
            "The SecretVersion may not be accessed, but the secret data is still available and can be placed back into the ENABLED state.",
            "The SecretVersion is destroyed and the secret data is no longer stored. A version may not leave this state once entered."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DESTROYED"
          ],
          "description": "Output only. The current state of the SecretVersion."
        }
      },
      "description": "A secret version resource in the Secret Manager API.",
      "type": "object",
      "id": "SecretVersion"
    },
    "Automatic": {
      "properties": {
        "customerManagedEncryption": {
          "description": "Optional. The customer-managed encryption configuration of the Secret. If no configuration is provided, Google-managed default encryption is used. Updates to the Secret encryption configuration only apply to SecretVersions added afterwards. They do not apply retroactively to existing SecretVersions.",
          "$ref": "CustomerManagedEncryption"
        }
      },
      "description": "A replication policy that replicates the Secret payload without any restrictions.",
      "type": "object",
      "id": "Automatic"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "UserManagedStatus": {
      "description": "The replication status of a SecretVersion using user-managed replication. Only populated if the parent Secret has a user-managed replication policy.",
      "type": "object",
      "id": "UserManagedStatus",
      "properties": {
        "replicas": {
          "description": "Output only. The list of replica statuses for the SecretVersion.",
          "items": {
            "$ref": "ReplicaStatus"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "ListSecretVersionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in ListSecretVersionsRequest.page_token to retrieve the next page."
        },
        "versions": {
          "items": {
            "$ref": "SecretVersion"
          },
          "type": "array",
          "description": "The list of SecretVersions sorted in reverse by create_time (newest first)."
        },
        "totalSize": {
          "description": "The total number of SecretVersions but 0 when the ListSecretsRequest.filter field is set.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ListSecretVersionsResponse",
      "description": "Response message for SecretManagerService.ListSecretVersions."
    },
    "SetIamPolicyRequest": {
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "type": "object",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "Topic": {
      "id": "Topic",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name of the Pub/Sub topic that will be published to, in the following format: `projects/*/topics/*`. For publication to succeed, the Secret Manager P4SA must have `pubsub.publisher` permissions on the topic."
        }
      },
      "description": "A Pub/Sub topic which Secret Manager will publish to when control plane events occur on this secret."
    },
    "CustomerManagedEncryption": {
      "properties": {
        "kmsKeyName": {
          "description": "Required. The resource name of the Cloud KMS CryptoKey used to encrypt secret payloads. For secrets using the UserManaged replication policy type, Cloud KMS CryptoKeys must reside in the same location as the replica location. For secrets using the Automatic replication policy type, Cloud KMS CryptoKeys must reside in `global`. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        }
      },
      "id": "CustomerManagedEncryption",
      "description": "Configuration for encrypting secret payloads using customer-managed encryption keys (CMEK).",
      "type": "object"
    },
    "DestroySecretVersionRequest": {
      "description": "Request message for SecretManagerService.DestroySecretVersion.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. Etag of the SecretVersion. The request succeeds if it matches the etag of the currently stored secret version object. If the etag is omitted, the request succeeds."
        }
      },
      "type": "object",
      "id": "DestroySecretVersionRequest"
    },
    "EnableSecretVersionRequest": {
      "id": "EnableSecretVersionRequest",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. Etag of the SecretVersion. The request succeeds if it matches the etag of the currently stored secret version object. If the etag is omitted, the request succeeds.",
          "type": "string"
        }
      },
      "description": "Request message for SecretManagerService.EnableSecretVersion."
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        }
      },
      "type": "object"
    },
    "AccessSecretVersionResponse": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*`."
        },
        "payload": {
          "description": "Secret payload",
          "$ref": "SecretPayload"
        }
      },
      "description": "Response message for SecretManagerService.AccessSecretVersion.",
      "type": "object",
      "id": "AccessSecretVersionResponse"
    },
    "ReplicaStatus": {
      "description": "Describes the status of a user-managed replica for the SecretVersion.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Output only. The canonical ID of the replica location. For example: `\"us-east1\"`.",
          "readOnly": true
        },
        "customerManagedEncryption": {
          "$ref": "CustomerManagedEncryptionStatus",
          "readOnly": true,
          "description": "Output only. The customer-managed encryption status of the SecretVersion. Only populated if customer-managed encryption is used."
        }
      },
      "id": "ReplicaStatus",
      "type": "object"
    },
    "AutomaticStatus": {
      "properties": {
        "customerManagedEncryption": {
          "readOnly": true,
          "description": "Output only. The customer-managed encryption status of the SecretVersion. Only populated if customer-managed encryption is used.",
          "$ref": "CustomerManagedEncryptionStatus"
        }
      },
      "type": "object",
      "id": "AutomaticStatus",
      "description": "The replication status of a SecretVersion using automatic replication. Only populated if the parent Secret has an automatic replication policy."
    },
    "UserManaged": {
      "type": "object",
      "description": "A replication policy that replicates the Secret payload into the locations specified in Secret.replication.user_managed.replicas",
      "id": "UserManaged",
      "properties": {
        "replicas": {
          "description": "Required. The list of Replicas for this Secret. Cannot be empty.",
          "type": "array",
          "items": {
            "$ref": "Replica"
          }
        }
      }
    },
    "CustomerManagedEncryptionStatus": {
      "id": "CustomerManagedEncryptionStatus",
      "properties": {
        "kmsKeyVersionName": {
          "type": "string",
          "description": "Required. The resource name of the Cloud KMS CryptoKeyVersion used to encrypt the secret payload, in the following format: `projects/*/locations/*/keyRings/*/cryptoKeys/*/versions/*`."
        }
      },
      "description": "Describes the status of customer-managed encryption.",
      "type": "object"
    },
    "ReplicationStatus": {
      "id": "ReplicationStatus",
      "description": "The replication status of a SecretVersion.",
      "type": "object",
      "properties": {
        "userManaged": {
          "$ref": "UserManagedStatus",
          "description": "Describes the replication status of a SecretVersion with user-managed replication. Only populated if the parent Secret has a user-managed replication policy."
        },
        "automatic": {
          "description": "Describes the replication status of a SecretVersion with automatic replication. Only populated if the parent Secret has an automatic replication policy.",
          "$ref": "AutomaticStatus"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method."
    },
    "Secret": {
      "description": "A Secret is a logical secret whose value and versions can be accessed. A Secret is made up of zero or more SecretVersions that represent the secret data.",
      "properties": {
        "ttl": {
          "format": "google-duration",
          "description": "Input only. The TTL for the Secret.",
          "type": "string"
        },
        "rotation": {
          "$ref": "Rotation",
          "description": "Optional. Rotation policy attached to the Secret. May be excluded if there is no rotation policy."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels assigned to this Secret. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: `\\p{Ll}\\p{Lo}{0,62}` Label values must be between 0 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}` No more than 64 labels can be assigned to a given resource."
        },
        "versionAliases": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "Optional. Mapping from version alias to version name. A version alias is a string with a maximum length of 63 characters and can contain uppercase and lowercase letters, numerals, and the hyphen (`-`) and underscore ('_') characters. An alias string must start with a letter and cannot be the string 'latest' or 'NEW'. No more than 50 aliases can be assigned to a given secret. Version-Alias pairs will be viewable via GetSecret and modifiable via UpdateSecret. At launch Access by Allias will only be supported on GetSecretVersion and AccessSecretVersion.",
          "type": "object"
        },
        "topics": {
          "items": {
            "$ref": "Topic"
          },
          "type": "array",
          "description": "Optional. A list of up to 10 Pub/Sub topics to which messages are published when control plane operations are called on the secret or its versions."
        },
        "name": {
          "description": "Output only. The resource name of the Secret in the format `projects/*/secrets/*`.",
          "readOnly": true,
          "type": "string"
        },
        "replication": {
          "description": "Required. Immutable. The replication policy of the secret data attached to the Secret. The replication policy cannot be changed after the Secret has been created.",
          "$ref": "Replication"
        },
        "createTime": {
          "description": "Output only. The time at which the Secret was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. Etag of the currently stored Secret.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. Timestamp in UTC when the Secret is scheduled to expire. This is always provided on output, regardless of what was sent on input.",
          "format": "google-datetime"
        }
      },
      "id": "Secret",
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "id": "Expr"
    },
    "Binding": {
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      },
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "type": "object"
    },
    "Rotation": {
      "id": "Rotation",
      "description": "The rotation time and period for a Secret. At next_rotation_time, Secret Manager will send a Pub/Sub notification to the topics configured on the Secret. Secret.topics must be set to configure rotation.",
      "properties": {
        "nextRotationTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp in UTC at which the Secret is scheduled to rotate. Cannot be set to less than 300s (5 min) in the future and at most 3153600000s (100 years). next_rotation_time MUST be set if rotation_period is set.",
          "type": "string"
        },
        "rotationPeriod": {
          "type": "string",
          "description": "Input only. The Duration between rotation notifications. Must be in seconds and at least 3600s (1h) and at most 3153600000s (100 years). If rotation_period is set, next_rotation_time must be set. next_rotation_time will be advanced by this period when the service automatically sends rotation notifications.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "ListSecretsResponse": {
      "description": "Response message for SecretManagerService.ListSecrets.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in ListSecretsRequest.page_token to retrieve the next page.",
          "type": "string"
        },
        "secrets": {
          "type": "array",
          "description": "The list of Secrets sorted in reverse by create_time (newest first).",
          "items": {
            "$ref": "Secret"
          }
        },
        "totalSize": {
          "description": "The total number of Secrets but 0 when the ListSecretsRequest.filter field is set.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ListSecretsResponse"
    },
    "AddSecretVersionRequest": {
      "description": "Request message for SecretManagerService.AddSecretVersion.",
      "properties": {
        "payload": {
          "description": "Required. The secret payload of the SecretVersion.",
          "$ref": "SecretPayload"
        }
      },
      "type": "object",
      "id": "AddSecretVersionRequest"
    },
    "DisableSecretVersionRequest": {
      "type": "object",
      "description": "Request message for SecretManagerService.DisableSecretVersion.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. Etag of the SecretVersion. The request succeeds if it matches the etag of the currently stored secret version object. If the etag is omitted, the request succeeds."
        }
      },
      "id": "DisableSecretVersionRequest"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    }
  },
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Secret Manager",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "id": "secretmanager.projects.locations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "id": "secretmanager.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service.",
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                }
              },
              "httpMethod": "GET"
            }
          }
        },
        "secrets": {
          "resources": {
            "versions": {
              "methods": {
                "disable": {
                  "description": "Disables a SecretVersion. Sets the state of the SecretVersion to DISABLED.",
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "DisableSecretVersionRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the SecretVersion to disable in the format `projects/*/secrets/*/versions/*`.",
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:disable",
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}:disable",
                  "id": "secretmanager.projects.secrets.versions.disable"
                },
                "destroy": {
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "path": "v1/{+name}:destroy",
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}:destroy",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the SecretVersion to destroy in the format `projects/*/secrets/*/versions/*`.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$"
                    }
                  },
                  "id": "secretmanager.projects.secrets.versions.destroy",
                  "httpMethod": "POST",
                  "description": "Destroys a SecretVersion. Sets the state of the SecretVersion to DESTROYED and irrevocably destroys the secret data.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "DestroySecretVersionRequest"
                  }
                },
                "enable": {
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the SecretVersion to enable in the format `projects/*/secrets/*/versions/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$"
                    }
                  },
                  "id": "secretmanager.projects.secrets.versions.enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:enable",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "EnableSecretVersionRequest"
                  },
                  "description": "Enables a SecretVersion. Sets the state of the SecretVersion to ENABLED.",
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}:enable"
                },
                "access": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}:access",
                  "response": {
                    "$ref": "AccessSecretVersionResponse"
                  },
                  "id": "secretmanager.projects.secrets.versions.access",
                  "path": "v1/{+name}:access",
                  "httpMethod": "GET",
                  "description": "Accesses a SecretVersion. This call returns the secret data. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*`. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListSecretVersionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the Secret associated with the SecretVersions to list, in the format `projects/*/secrets/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/secrets/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. Pagination token, returned earlier via ListSecretVersionsResponse.next_page_token][].",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of results to be returned in a single page. If set to 0, the server decides the number of results to return. If the number is greater than 25000, it is capped at 25000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter string, adhering to the rules in [List-operation filtering](https://cloud.google.com/secret-manager/docs/filtering). List only secret versions matching the filter. If filter is empty, all secret versions are listed."
                    }
                  },
                  "path": "v1/{+parent}/versions",
                  "id": "secretmanager.projects.secrets.versions.list",
                  "httpMethod": "GET",
                  "description": "Lists SecretVersions. This call does not return secret data."
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "httpMethod": "GET",
                  "description": "Gets metadata for a SecretVersion. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
                  "id": "secretmanager.projects.secrets.versions.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/secrets/[^/]+/versions/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*`. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}/versions/{versionsId}"
                }
              }
            }
          },
          "methods": {
            "getIamPolicy": {
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                },
                "options.requestedPolicyVersion": {
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "path": "v1/{+resource}:getIamPolicy",
              "description": "Gets the access control policy for a secret. Returns empty policy if the secret exists and does not have a policy set.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "id": "secretmanager.projects.secrets.getIamPolicy"
            },
            "get": {
              "path": "v1/{+name}",
              "id": "secretmanager.projects.secrets.get",
              "response": {
                "$ref": "Secret"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the Secret, in the format `projects/*/secrets/*`.",
                  "type": "string"
                }
              },
              "description": "Gets metadata for a given Secret.",
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "setIamPolicy": {
              "description": "Sets the access control policy on the specified secret. Replaces any existing policy. Permissions on SecretVersions are enforced according to the policy set on the associated Secret.",
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+resource}:setIamPolicy",
              "id": "secretmanager.projects.secrets.setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            },
            "create": {
              "flatPath": "v1/projects/{projectsId}/secrets",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Secret"
              },
              "response": {
                "$ref": "Secret"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new Secret containing no SecretVersions.",
              "path": "v1/{+parent}/secrets",
              "id": "secretmanager.projects.secrets.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the project to associate with the Secret, in the format `projects/*`.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "secretId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. This must be unique within the project. A secret ID is a string with a maximum length of 255 characters and can contain uppercase and lowercase letters, numerals, and the hyphen (`-`) and underscore (`_`) characters."
                }
              }
            },
            "addVersion": {
              "description": "Creates a new SecretVersion containing secret data and attaches it to an existing Secret.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*`."
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "SecretVersion"
              },
              "request": {
                "$ref": "AddSecretVersionRequest"
              },
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:addVersion",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}:addVersion",
              "id": "secretmanager.projects.secrets.addVersion",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Specifies the fields to be updated.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "description": "Output only. The resource name of the Secret in the format `projects/*/secrets/*`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Secret"
              },
              "response": {
                "$ref": "Secret"
              },
              "description": "Updates metadata of an existing Secret.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "secretmanager.projects.secrets.patch"
            },
            "list": {
              "description": "Lists Secrets.",
              "path": "v1/{+parent}/secrets",
              "response": {
                "$ref": "ListSecretsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of results to be returned in a single page. If set to 0, the server decides the number of results to return. If the number is greater than 25000, it is capped at 25000."
                },
                "pageToken": {
                  "description": "Optional. Pagination token, returned earlier via ListSecretsResponse.next_page_token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter string, adhering to the rules in [List-operation filtering](https://cloud.google.com/secret-manager/docs/filtering). List only secrets matching the filter. If filter is empty, all secrets are listed.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The resource name of the project associated with the Secrets, in the format `projects/*`.",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/secrets",
              "id": "secretmanager.projects.secrets.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "testIamPermissions": {
              "description": "Returns permissions that a caller has for the specified secret. If the secret does not exist, this call returns an empty set of permissions, not a NOT_FOUND error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "httpMethod": "POST",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+resource}:testIamPermissions",
              "id": "secretmanager.projects.secrets.testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:testIamPermissions"
            },
            "delete": {
              "parameters": {
                "etag": {
                  "description": "Optional. Etag of the Secret. The request succeeds if it matches the etag of the currently stored secret object. If the etag is omitted, the request succeeds.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "description": "Required. The resource name of the Secret to delete in the format `projects/*/secrets/*`.",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "id": "secretmanager.projects.secrets.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a Secret.",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}"
            }
          }
        }
      }
    }
  },
  "name": "secretmanager"
}
