{
  "canonicalName": "Security Command Center",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1beta2",
  "servicePath": "",
  "revision": "20201231",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "basePath": "",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "schemas": {
    "EventThreatDetectionSettings": {
      "type": "object",
      "description": "Resource capturing the settings for the Event Threat Detection service.",
      "id": "EventThreatDetectionSettings",
      "properties": {
        "updateTime": {
          "description": "Output only. The time the settings were last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
          "type": "string"
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "modules": {
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "properties": {
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource",
          "description": "The Cloud resource tied to the notification."
        },
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        }
      },
      "description": "Security Command Center's Notification",
      "type": "object"
    },
    "SecurityMarks": {
      "type": "object",
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        }
      },
      "id": "SecurityMarks",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization."
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end"
        },
        "state": {
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string"
        }
      },
      "description": "Response of asset discovery run",
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse"
    },
    "WebSecurityScannerSettings": {
      "description": "Resource capturing the settings for the Web Security Scanner service.",
      "id": "WebSecurityScannerSettings",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
        },
        "serviceEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ]
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          },
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the settings were last updated.",
          "format": "google-datetime"
        }
      }
    },
    "Folder": {
      "type": "object",
      "id": "Folder",
      "description": "Message that contains the resource name and display name of a folder resource.",
      "properties": {
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        }
      }
    },
    "Config": {
      "type": "object",
      "id": "Config",
      "description": "Configuration of a module.",
      "properties": {
        "moduleEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "The state of enablement for the module at its level of the resource hierarchy.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "type": "string"
        },
        "value": {
          "type": "object",
          "description": "The configuration value for the module. The absence of this field implies its inheritance from the parent.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "SecurityCenterSettings": {
      "properties": {
        "orgServiceAccount": {
          "description": "The organization level service account to be used for security center components.",
          "type": "string"
        },
        "logSinkProject": {
          "description": "The resource name of the project to send logs to. This project must be part of the organization this resource resides in. The format is `projects/{project_id}`. An empty value disables logging. This value is only referenced by services that support log sink. Please refer to the documentation for an updated list of compatible services.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the SecurityCenterSettings. Format: organizations/{organization}/securityCenterSettings"
        }
      },
      "type": "object",
      "id": "SecurityCenterSettings",
      "description": "Resource capturing the settings for Security Center."
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "properties": {
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "type": "string",
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      },
      "type": "object",
      "description": "Response of asset discovery run",
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse"
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "type": "object",
      "description": "Cloud SCC's Notification",
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "properties": {
        "finding": {
          "$ref": "Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        },
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource",
          "description": "The Cloud resource tied to this notification's Finding."
        }
      }
    },
    "ContainerThreatDetectionSettings": {
      "type": "object",
      "description": "Resource capturing the settings for the Container Threat Detection service.",
      "id": "ContainerThreatDetectionSettings",
      "properties": {
        "serviceEnablementState": {
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the settings were last updated."
        },
        "serviceAccount": {
          "description": "Output only. The service account used by Container Threat Detection for scanning. Service accounts are scoped at the project level meaning this field will be empty at any level above a project.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
          "type": "string"
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object",
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "properties": {
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "description": "The state of an asset discovery run.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "type": "string"
        }
      }
    },
    "Finding": {
      "type": "object",
      "id": "Finding",
      "properties": {
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved."
        },
        "resourceName": {
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the finding was created in Security Command Center."
        },
        "sourceProperties": {
          "type": "object",
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "$ref": "SecurityMarks"
        },
        "state": {
          "description": "The state of the finding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ]
        },
        "name": {
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data, public SSH access with weak or no passwords, etc. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization’s ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding."
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        }
      },
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding."
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "type": "object",
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding.",
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "resourceName": {
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time.",
          "type": "string"
        },
        "state": {
          "description": "The state of the finding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "type": "string"
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time at which the finding was created in Security Command Center.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved."
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ]
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
          "readOnly": true
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      }
    },
    "Details": {
      "id": "Details",
      "description": "Details of a subscription.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the subscription has or will start."
        },
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard subscription.",
            "The trial subscription.",
            "The alpha subscription."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL",
            "ALPHA"
          ],
          "type": "string",
          "description": "The type of subscription"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the subscription has or will end."
        }
      }
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "type": "object",
      "properties": {
        "folders": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "items": {
            "$ref": "Folder"
          }
        },
        "projectDisplayName": {
          "description": "The human readable name of project that the resource belongs to.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        },
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "description": "Information related to the Google Cloud resource.",
      "id": "GoogleCloudSecuritycenterV1Resource"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "properties": {
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        },
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "type": "object",
      "description": "Message that contains the resource name and display name of a folder resource."
    },
    "SecurityHealthAnalyticsSettings": {
      "description": "Resource capturing the settings for the Security Health Analytics service.",
      "type": "object",
      "id": "SecurityHealthAnalyticsSettings",
      "properties": {
        "serviceEnablementState": {
          "type": "string",
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ]
        },
        "name": {
          "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Output only. The service account used by Security Health Analytics detectors.",
          "readOnly": true,
          "type": "string"
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object",
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        },
        "updateTime": {
          "description": "Output only. The time the settings were last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        }
      },
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
    },
    "Subscription": {
      "properties": {
        "tier": {
          "description": "The tier of SCC features this organization currently has access to.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard tier.",
            "The premium tier."
          ],
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM"
          ]
        },
        "details": {
          "$ref": "Details",
          "description": "The details of the most recent active subscription. If there has never been a subscription this will be empty."
        },
        "name": {
          "description": "The resource name of the subscription. Format: organizations/{organization}/subscription",
          "type": "string"
        }
      },
      "description": "Resource capturing the state of an organization's subscription.",
      "type": "object",
      "id": "Subscription"
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "folders": {
          "readOnly": true,
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          }
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The human readable name of project that the resource belongs to."
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "type": "object",
      "description": "Information related to the Google Cloud resource."
    }
  },
  "version_module": true,
  "rootUrl": "https://securitycenter.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "updateEventThreatDetectionSettings": {
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "description": "Update the EventThreatDetectionSettings resource.",
          "id": "securitycenter.projects.updateEventThreatDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "getContainerThreatDetectionSettings": {
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "id": "securitycenter.projects.getContainerThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateContainerThreatDetectionSettings": {
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "location": "query"
            },
            "name": {
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "required": true,
              "type": "string"
            }
          },
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "location": "path",
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "description": "The list of fields to be updated.",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ]
        },
        "updateWebSecurityScannerSettings": {
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "location": "query"
            },
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$"
            }
          },
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "id": "securitycenter.projects.updateWebSecurityScannerSettings",
          "description": "Update the WebSecurityScannerSettings resource.",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "getWebSecurityScannerSettings": {
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.projects.getWebSecurityScannerSettings",
          "description": "Get the WebSecurityScannerSettings resource.",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "type": "string",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getSecurityHealthAnalyticsSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "required": true,
              "location": "path"
            }
          },
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "httpMethod": "GET",
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings"
        },
        "getEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "description": "Get the EventThreatDetectionSettings resource.",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.projects.getEventThreatDetectionSettings",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "updateContainerThreatDetectionSettings": {
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The list of fields to be updated."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "location": "path",
                      "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "path": "v1beta2/{+name}",
                  "description": "Update the ContainerThreatDetectionSettings resource.",
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  }
                },
                "getContainerThreatDetectionSettings": {
                  "httpMethod": "GET",
                  "path": "v1beta2/{+name}",
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings",
                  "description": "Get the ContainerThreatDetectionSettings resource.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings"
                }
              },
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "path": "v1beta2/{+name}:calculate",
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings."
                    }
                  }
                }
              }
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate",
              "parameters": {
                "name": {
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "required": true,
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings."
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "id": "securitycenter.projects.webSecurityScannerSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings."
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "type": "string"
                }
              },
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "type": "string"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              }
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "httpMethod": "GET",
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "required": true
                }
              },
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate"
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      },
      "methods": {
        "updateEventThreatDetectionSettings": {
          "description": "Update the EventThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "type": "string",
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          }
        },
        "getWebSecurityScannerSettings": {
          "description": "Get the WebSecurityScannerSettings resource.",
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
            }
          },
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "GET"
        },
        "updateWebSecurityScannerSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "httpMethod": "PATCH",
          "path": "v1beta2/{+name}",
          "description": "Update the WebSecurityScannerSettings resource.",
          "parameters": {
            "updateMask": {
              "description": "The list of fields to be updated.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          }
        },
        "updateContainerThreatDetectionSettings": {
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings"
        },
        "getSubscription": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "description": "Get the Subscription resource.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Subscription"
          },
          "id": "securitycenter.organizations.getSubscription",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/subscription$",
              "description": "Required. The name of the subscription to retrieve. Format: organizations/{organization}/subscription",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1beta2/{+name}"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            },
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "type": "string",
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
            }
          },
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings"
        },
        "getSecurityHealthAnalyticsSettings": {
          "parameters": {
            "name": {
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path"
            }
          },
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings",
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings"
        },
        "getSecurityCenterSettings": {
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings",
              "location": "path"
            }
          },
          "description": "Get the SecurityCenterSettings resource.",
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "getContainerThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "httpMethod": "GET"
        },
        "getEventThreatDetectionSettings": {
          "description": "Get the EventThreatDetectionSettings resource.",
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getEventThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate",
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                  "location": "path",
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate",
              "httpMethod": "GET"
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
                }
              }
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        }
      },
      "methods": {
        "updateEventThreatDetectionSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
            }
          },
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "description": "Update the EventThreatDetectionSettings resource.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "type": "string"
            }
          },
          "description": "Get the SecurityHealthAnalyticsSettings resource."
        },
        "updateSecurityHealthAnalyticsSettings": {
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
            },
            "updateMask": {
              "location": "query",
              "description": "The list of fields to be updated.",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "httpMethod": "PATCH"
        },
        "getEventThreatDetectionSettings": {
          "id": "securitycenter.folders.getEventThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "description": "Get the EventThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings"
        },
        "updateContainerThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "location": "path",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "The list of fields to be updated.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          }
        },
        "updateWebSecurityScannerSettings": {
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "description": "Update the WebSecurityScannerSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "type": "string",
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "The list of fields to be updated."
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.updateWebSecurityScannerSettings",
          "httpMethod": "PATCH"
        },
        "getContainerThreatDetectionSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "id": "securitycenter.folders.getContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getWebSecurityScannerSettings": {
          "description": "Get the WebSecurityScannerSettings resource.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/security-command-center",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "id": "securitycenter:v1beta2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "name": "securitycenter",
  "title": "Security Command Center API",
  "protocol": "rest"
}
