{
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://securitycenter.googleapis.com/",
  "version_module": true,
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "basePath": "",
  "servicePath": "",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "schemas": {
    "EventThreatDetectionSettings": {
      "type": "object",
      "description": "Resource capturing the settings for the Event Threat Detection service.",
      "properties": {
        "modules": {
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the settings were last updated."
        },
        "name": {
          "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
          "type": "string"
        }
      },
      "id": "EventThreatDetectionSettings"
    },
    "IamBinding": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to \"members\". For example, \"roles/viewer\", \"roles/editor\", or \"roles/owner\"."
        },
        "member": {
          "type": "string",
          "description": "A single identity requesting access for a Cloud Platform resource, e.g. \"foo@google.com\"."
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "description": "The action that was performed on a Binding."
        }
      },
      "description": "Represents a particular IAM binding, which captures a member's role addition, removal, or state.",
      "id": "IamBinding",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "description": "A mute config is a Cloud SCC resource that contains the configuration to mute create/update events of findings.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "properties": {
        "filter": {
          "description": "Required. An expression that defines the filter to apply across create/update events of findings. While creating a filter string, be mindful of the scope in which the mute configuration is being created. E.g., If a filter contains project = X but is created under the project = Y scope, it might not match any findings. The following field and operator combinations are supported: * severity: `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.type: `=`, `:` * finding_class: `=`, `:` * indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\""
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the mute config was created. This field is set by the server and will be ignored if provided on config creation.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The human readable name to be displayed for the mute config.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time at which the mute config was updated. This field is set by the server and will be ignored if provided on config creation or update.",
          "format": "google-datetime"
        },
        "description": {
          "description": "A description of the mute config.",
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "description": "Output only. Email address of the user who last edited the mute config. This field is set by the server and will be ignored if provided on config creation or update.",
          "type": "string"
        }
      }
    },
    "Access": {
      "description": "Represents an access event.",
      "id": "Access",
      "properties": {
        "serviceName": {
          "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\"",
          "type": "string"
        },
        "methodName": {
          "description": "The method that the service account called, e.g. \"SetIamPolicy\".",
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string",
          "description": "What kind of user agent is associated, e.g. operating system shells, embedded or stand-alone applications, etc."
        },
        "callerIp": {
          "description": "Caller's IP address, such as \"1.1.1.1\".",
          "type": "string"
        },
        "principalEmail": {
          "description": "Associated email, such as \"foo@google.com\".",
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation",
          "description": "The caller IP's geolocation, which identifies where the call came from."
        }
      },
      "type": "object"
    },
    "Subscription": {
      "type": "object",
      "id": "Subscription",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the subscription. Format: organizations/{organization}/subscription"
        },
        "details": {
          "$ref": "Details",
          "description": "The details of the most recent active subscription. If there has never been a subscription this will be empty."
        },
        "tier": {
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM"
          ],
          "type": "string",
          "description": "The tier of SCC features this organization currently has access to.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard tier.",
            "The premium tier."
          ]
        }
      },
      "description": "Resource capturing the state of an organization's subscription."
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "type": "object",
      "properties": {
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        },
        "resource": {
          "description": "The Cloud resource tied to the notification.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "description": "Security Command Center's Notification"
    },
    "Vulnerability": {
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "type": "object",
      "id": "Vulnerability",
      "properties": {
        "cve": {
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "Cve"
        }
      }
    },
    "Indicator": {
      "id": "Indicator",
      "description": "Represents what's commonly known as an Indicator of compromise (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. Reference: https://en.wikipedia.org/wiki/Indicator_of_compromise",
      "type": "object",
      "properties": {
        "domains": {
          "description": "List of domains associated to the Finding.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of ip addresses associated to the Finding."
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "properties": {
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\""
        },
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)"
        }
      },
      "type": "object",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization."
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "description": "Configures how to deliver Findings to BigQuery Instance.",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "The dataset to write findings' updates to. Its format is \"projects/[project_id]/datasets/[bigquery_dataset_id]\". BigQuery Dataset unique ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_)."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the big query export was created. This field is set by the server and will be ignored if provided on export on creation.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "The description of the export (max of 1024 characters).",
          "type": "string"
        },
        "principal": {
          "description": "Output only. The service account that needs permission to create table, upload data to the big query dataset.",
          "type": "string",
          "readOnly": true
        },
        "filter": {
          "description": "Expression that defines the filter to apply across create/update events of findings. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. Example format: \"organizations/{organization_id}/bigQueryExports/{export_id}\" Example format: \"folders/{folder_id}/bigQueryExports/{export_id}\" Example format: \"projects/{project_id}/bigQueryExports/{export_id}\" This field is provided in responses, and is ignored when provided in create requests."
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the big export was updated. This field is set by the server and will be ignored if provided on export creation or update.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "mostRecentEditor": {
          "description": "Output only. Email address of the user who last edited the big query export. This field is set by the server and will be ignored if provided on export creation or update.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1BigQueryExport"
    },
    "MitreAttack": {
      "type": "object",
      "id": "MitreAttack",
      "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
      "properties": {
        "additionalTactics": {
          "items": {
            "enumDescriptions": [
              "Unspecified value.",
              "TA0043",
              "TA0042",
              "TA0001",
              "TA0002",
              "TA0003",
              "TA0004",
              "TA0005",
              "TA0006",
              "TA0007",
              "TA0008",
              "TA0009",
              "TA0011",
              "TA0010",
              "TA0040"
            ],
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "type": "string"
          },
          "description": "Additional MITRE ATT&CK tactics related to this finding, if any.",
          "type": "array"
        },
        "version": {
          "description": "The MITRE ATT&CK version referenced by the above fields. E.g. \"8\".",
          "type": "string"
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562"
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES"
            ]
          },
          "description": "Additional MITRE ATT&CK techniques related to this finding, if any, along with any of their respective parent techniques."
        },
        "primaryTactic": {
          "enumDescriptions": [
            "Unspecified value.",
            "TA0043",
            "TA0042",
            "TA0001",
            "TA0002",
            "TA0003",
            "TA0004",
            "TA0005",
            "TA0006",
            "TA0007",
            "TA0008",
            "TA0009",
            "TA0011",
            "TA0010",
            "TA0040"
          ],
          "description": "The MITRE ATT&CK tactic most closely represented by this finding, if any.",
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "primaryTechniques": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562"
            ],
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES"
            ]
          },
          "description": "The MITRE ATT&CK technique most closely represented by this finding, if any. primary_techniques is a repeated field because there are multiple levels of MITRE ATT&CK techniques. If the technique most closely represented by this finding is a sub-technique (e.g. `SCANNING_IP_BLOCKS`), both the sub-technique and its parent technique(s) will be listed (e.g. `SCANNING_IP_BLOCKS`, `ACTIVE_SCANNING`)."
        }
      }
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration between asset discovery run start and end"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "properties": {
        "status": {
          "description": "Most recent status of the corresponding finding's ticket/tracker in the external system.",
          "type": "string"
        },
        "name": {
          "description": "External System Name e.g. jira, demisto, etc. e.g.: `organizations/1234/sources/5678/findings/123456/externalSystems/jira` `folders/1234/sources/5678/findings/123456/externalSystems/jira` `projects/1234/sources/5678/findings/123456/externalSystems/jira`",
          "type": "string"
        },
        "externalUid": {
          "description": "Identifier that's used to track the given finding in the external system.",
          "type": "string"
        },
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "description": "The most recent time when the corresponding finding's ticket/tracker was updated in the external system.",
          "type": "string"
        },
        "assignees": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "References primary/secondary etc assignees in the external system."
        }
      },
      "description": "Representation of third party SIEM/SOAR fields within SCC."
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "properties": {
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "Finding"
        },
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        },
        "resource": {
          "description": "The Cloud resource tied to this notification's Finding.",
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "description": "Cloud SCC's Notification"
    },
    "ContainerThreatDetectionSettings": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Output only. The service account used by Container Threat Detection for scanning. Service accounts are scoped at the project level meaning this field will be empty at any level above a project.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the settings were last updated."
        },
        "modules": {
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        }
      },
      "description": "Resource capturing the settings for the Container Threat Detection service.",
      "id": "ContainerThreatDetectionSettings",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding."
        },
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved. Must not be set to a value greater than the current timestamp.",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "description": "The state of the finding.",
          "type": "string"
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "category": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\""
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding."
        },
        "resourceName": {
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time.",
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only."
        },
        "canonicalName": {
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "description": "The response to a BulkMute request. Contains the LRO information.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "properties": {}
    },
    "Connection": {
      "id": "Connection",
      "type": "object",
      "description": "Contains information about the IP connection associated with the finding.",
      "properties": {
        "destinationIp": {
          "description": "Destination IP address. Not present for sockets that are listening and not connected.",
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17)."
        },
        "sourcePort": {
          "type": "integer",
          "description": "Source port.",
          "format": "int32"
        },
        "sourceIp": {
          "description": "Source IP address.",
          "type": "string"
        },
        "destinationPort": {
          "format": "int32",
          "description": "Destination port. Not present for sockets that are listening and not connected.",
          "type": "integer"
        }
      }
    },
    "Cve": {
      "description": "CVE stands for Common Vulnerabilities and Exposures. More information: https://cve.mitre.org",
      "properties": {
        "references": {
          "description": "Additional information about the CVE. e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527",
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        },
        "id": {
          "description": "The unique identifier for the vulnerability. e.g. CVE-2021-34527",
          "type": "string"
        },
        "upstreamFixAvailable": {
          "type": "boolean",
          "description": "Whether upstream fix is available for the CVE."
        },
        "cvssv3": {
          "$ref": "Cvssv3",
          "description": "Describe Common Vulnerability Scoring System specified at https://www.first.org/cvss/v3.1/specification-document"
        }
      },
      "type": "object",
      "id": "Cve"
    },
    "Finding": {
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding.",
      "type": "object",
      "id": "Finding",
      "properties": {
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only."
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "mitreAttack": {
          "$ref": "MitreAttack",
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "iamBindings": {
          "description": "Represents IAM bindings associated with the Finding.",
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "access": {
          "description": "Access details associated to the Finding, such as more information on the caller, which method was accessed, from where, etc.",
          "$ref": "Access"
        },
        "canonicalName": {
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding.",
          "type": "string"
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "connections": {
          "description": "Contains information about the IP connection associated with the finding.",
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data, public SSH access with weak or no passwords, etc. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "type": "string"
        },
        "muteUpdateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The most recent time this finding was muted or unmuted.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "muteInitiator": {
          "type": "string",
          "description": "First known as mute_annotation. Records additional information about the mute operation e.g. mute config that muted the finding, user who muted the finding, etc. Unlike other attributes of a finding, a finding provider shouldn't set the value of mute."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "description": "The state of the finding."
        },
        "description": {
          "description": "Contains more detail about the finding.",
          "type": "string"
        },
        "mute": {
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute."
        },
        "findingClass": {
          "enumDescriptions": [
            "Unspecified finding class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality."
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR"
          ],
          "type": "string",
          "description": "The class of the finding."
        },
        "indicator": {
          "$ref": "Indicator",
          "description": "Represents what's commonly known as an Indicator of compromise (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. Reference: https://en.wikipedia.org/wiki/Indicator_of_compromise"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the finding was first detected. If an existing finding is updated, then this is the time the update occurred. For example, if the finding represents an open firewall, this property captures the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding is later resolved, then this time reflects when the finding was resolved. This must not be set to a value greater than the current timestamp."
        },
        "externalSystems": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "readOnly": true,
          "description": "Output only. Third party SIEM/SOAR fields within SCC, contains external system information and external system finding fields."
        },
        "vulnerability": {
          "description": "Represents vulnerability specific fields like cve, cvss scores etc. CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "Vulnerability"
        },
        "nextSteps": {
          "description": "Next steps associate to the finding.",
          "type": "string"
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "$ref": "SecurityMarks",
          "readOnly": true
        },
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        }
      }
    },
    "OnboardingState": {
      "type": "object",
      "description": "Resource capturing onboarding information for a given CRM resource.",
      "id": "OnboardingState",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the OnboardingState. Format: organizations/{organization}/onboardingState Format: folders/{folder}/onboardingState Format: projects/{project}/onboardingState"
        },
        "onboardingLevel": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "This resource is onboarded at the project level. Only possible for projects.",
            "This resource is onboarded at the organization level. Possible for organizations, folders, and projects."
          ],
          "enum": [
            "ONBOARDING_LEVEL_UNSPECIFIED",
            "ONBOARDING_LEVEL_PROJECT",
            "ONBOARDING_LEVEL_ORGANIZATION"
          ],
          "description": "Describes the level a given organization, folder, or project is onboarded with SCC. If the resource wasn't onboarded, NOT_FOUND would have been thrown."
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "description": "The state of an asset discovery run."
        },
        "duration": {
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end",
          "type": "string"
        }
      }
    },
    "Geolocation": {
      "description": "Represents a geographical location for a given access.",
      "id": "Geolocation",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "A CLDR."
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "properties": {
        "folders": {
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          },
          "readOnly": true,
          "type": "array"
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "projectDisplayName": {
          "description": "The project id that the resource belongs to.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        }
      },
      "description": "Information related to the Google Cloud resource.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource"
    },
    "VirtualMachineThreatDetectionSettings": {
      "description": "Resource capturing the settings for the Virtual Machine Threat Detection service.",
      "id": "VirtualMachineThreatDetectionSettings",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the settings were last updated.",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "Output only. The service account used by Virtual Machine Threat Detection detectors.",
          "type": "string",
          "readOnly": true
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          },
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        },
        "serviceEnablementState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "name": {
          "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Details": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL",
            "ALPHA",
            "DEMO"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard subscription.",
            "The trial subscription.",
            "The alpha subscription.",
            "The demo subscription for channel partners."
          ],
          "description": "The type of subscription",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the subscription has or will end."
        },
        "startTime": {
          "description": "The time the subscription has or will start.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details of a subscription.",
      "id": "Details"
    },
    "WebSecurityScannerSettings": {
      "id": "WebSecurityScannerSettings",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time the settings were last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "serviceEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ]
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object",
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        },
        "name": {
          "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Resource capturing the settings for the Web Security Scanner service."
    },
    "Config": {
      "description": "Configuration of a module.",
      "type": "object",
      "properties": {
        "moduleEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "The state of enablement for the module at its level of the resource hierarchy.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "type": "string"
        },
        "value": {
          "description": "The configuration value for the module. The absence of this field implies its inheritance from the parent.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "Config"
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "description": "Response of asset discovery run",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end",
          "type": "string"
        },
        "state": {
          "description": "The state of an asset discovery run.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "type": "object",
      "description": "Information related to the Google Cloud resource.",
      "properties": {
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "projectDisplayName": {
          "description": "The project ID that the resource belongs to.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name of the resource."
        },
        "folders": {
          "items": {
            "$ref": "Folder"
          },
          "type": "array",
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "readOnly": true
        },
        "type": {
          "description": "The full resource type of the resource.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1Resource"
    },
    "SecurityCenterSettings": {
      "properties": {
        "onboardingTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when the customer organization was onboarded to SCC."
        },
        "orgServiceAccount": {
          "type": "string",
          "description": "The organization level service account to be used for security center components."
        },
        "logSinkProject": {
          "description": "The resource name of the project to send logs to. This project must be part of the organization this resource resides in. The format is `projects/{project_id}`. An empty value disables logging. This value is only referenced by services that support log sink. Please refer to the documentation for an updated list of compatible services.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the SecurityCenterSettings. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings"
        }
      },
      "id": "SecurityCenterSettings",
      "description": "Resource capturing the settings for Security Center.",
      "type": "object"
    },
    "Cvssv3": {
      "type": "object",
      "properties": {
        "availabilityImpact": {
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability."
        },
        "attackVector": {
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. This metric reflects the context by which vulnerability exploitation is possible.",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read/write/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "type": "string"
        },
        "attackComplexity": {
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ],
          "type": "string",
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability.",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ],
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability.",
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "scope": {
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "integrityImpact": {
          "type": "string",
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ]
        },
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "format": "double",
          "type": "number"
        },
        "confidentialityImpact": {
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "userInteraction": {
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ],
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        }
      },
      "description": "Common Vulnerability Scoring System version 3.",
      "id": "Cvssv3"
    },
    "Folder": {
      "properties": {
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string",
          "description": "The user defined display name for this folder."
        }
      },
      "description": "Message that contains the resource name and display name of a folder resource.",
      "id": "Folder",
      "type": "object"
    },
    "SecurityHealthAnalyticsSettings": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the settings were last updated.",
          "readOnly": true
        },
        "serviceEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ]
        },
        "serviceAccount": {
          "description": "Output only. The service account used by Security Health Analytics detectors.",
          "type": "string",
          "readOnly": true
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          },
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        }
      },
      "description": "Resource capturing the settings for the Security Health Analytics service.",
      "id": "SecurityHealthAnalyticsSettings"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "properties": {
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message that contains the resource name and display name of a folder resource."
    },
    "SecurityMarks": {
      "properties": {
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\""
        },
        "marks": {
          "type": "object",
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        }
      },
      "id": "SecurityMarks",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "type": "object"
    },
    "Reference": {
      "id": "Reference",
      "description": "Additional Links",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Uri for the mentioned source e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527.",
          "type": "string"
        },
        "source": {
          "description": "Source of the reference e.g. NVD",
          "type": "string"
        }
      }
    }
  },
  "version": "v1beta2",
  "title": "Security Command Center API",
  "canonicalName": "Security Command Center",
  "id": "securitycenter:v1beta2",
  "protocol": "rest",
  "resources": {
    "organizations": {
      "resources": {
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate",
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "type": "string"
                }
              }
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.virtualMachineThreatDetectionSettings.calculate",
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings:calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
                  "location": "path",
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
                }
              },
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate"
            }
          }
        }
      },
      "methods": {
        "getOnboardingState": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "flatPath": "v1beta2/organizations/{organizationsId}/onboardingState",
          "path": "v1beta2/{+name}",
          "description": "Retrieve the OnboardingState of a resource.",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/onboardingState$",
              "required": true,
              "description": "Required. The name of the OnboardingState to retrieve. Formats: * organizations/{organization}/onboardingState * folders/{folder}/onboardingState * projects/{project}/onboardingState",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.getOnboardingState",
          "response": {
            "$ref": "OnboardingState"
          }
        },
        "getWebSecurityScannerSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "description": "Get the WebSecurityScannerSettings resource.",
          "parameters": {
            "name": {
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "type": "string",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}"
        },
        "getSubscription": {
          "response": {
            "$ref": "Subscription"
          },
          "description": "Get the Subscription resource.",
          "id": "securitycenter.organizations.getSubscription",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the subscription to retrieve. Format: organizations/{organization}/subscription",
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/subscription$"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "description": "Get the VirtualMachineThreatDetectionSettings resource.",
          "id": "securitycenter.organizations.getVirtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "required": true,
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$"
            }
          },
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "httpMethod": "PATCH",
          "id": "securitycenter.organizations.updateVirtualMachineThreatDetectionSettings",
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "The list of fields to be updated."
            }
          },
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        },
        "getSecurityHealthAnalyticsSettings": {
          "httpMethod": "GET",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "location": "path",
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "type": "string"
            }
          },
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ]
        },
        "getSecurityCenterSettings": {
          "description": "Get the SecurityCenterSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings",
              "location": "path",
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings",
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityCenterSettings"
          }
        },
        "updateEventThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "description": "Update the EventThreatDetectionSettings resource.",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "The list of fields to be updated."
            },
            "name": {
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "getContainerThreatDetectionSettings": {
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "type": "string",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "required": true
            }
          },
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "httpMethod": "GET"
        },
        "updateContainerThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings",
          "path": "v1beta2/{+name}"
        },
        "updateWebSecurityScannerSettings": {
          "httpMethod": "PATCH",
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "description": "Update the WebSecurityScannerSettings resource.",
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The list of fields to be updated."
            },
            "name": {
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
            }
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "httpMethod": "PATCH",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "getEventThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "description": "Get the EventThreatDetectionSettings resource.",
          "id": "securitycenter.organizations.getEventThreatDetectionSettings"
        }
      }
    },
    "projects": {
      "resources": {
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
                  "location": "path",
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "parameterOrder": [
                "name"
[...]
