{
  "version_module": true,
  "title": "Security Command Center API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://securitycenter.googleapis.com/",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "id": "securitycenter:v1beta2",
  "revision": "20220624",
  "name": "securitycenter",
  "kind": "discovery#restDescription",
  "canonicalName": "Security Command Center",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "version": "v1beta2",
  "resources": {
    "projects": {
      "resources": {
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              }
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.virtualMachineThreatDetectionSettings.calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
                  "location": "path",
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "required": true
                }
              }
            }
          }
        },
        "locations": {
          "resources": {
            "clusters": {
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "path": "v1beta2/{+name}:calculate",
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings."
                    }
                  }
                }
              },
              "methods": {
                "getContainerThreatDetectionSettings": {
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "description": "Get the ContainerThreatDetectionSettings resource.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
                    }
                  },
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "httpMethod": "GET",
                  "path": "v1beta2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings"
                },
                "updateContainerThreatDetectionSettings": {
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "parameters": {
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "location": "path",
                      "required": true,
                      "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "description": "Update the ContainerThreatDetectionSettings resource.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/{+name}",
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  }
                }
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "id": "securitycenter.projects.webSecurityScannerSettings.calculate",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings:calculate",
              "parameters": {
                "name": {
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "required": true,
                  "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate",
              "httpMethod": "GET",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate",
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings."
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "httpMethod": "GET",
              "description": "Calculates the effective RapidVulnerabilityDetectionSettings based on its level in the resource hierarchy and its settings.",
              "id": "securitycenter.projects.rapidVulnerabilityDetectionSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the RapidVulnerabilityDetectionSettings to calculate. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
                  "type": "string",
                  "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$"
                }
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
                  "type": "string",
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              }
            }
          }
        }
      },
      "methods": {
        "updateVirtualMachineThreatDetectionSettings": {
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "type": "string",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "id": "securitycenter.projects.updateVirtualMachineThreatDetectionSettings",
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "updateContainerThreatDetectionSettings": {
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "The list of fields to be updated.",
              "type": "string"
            },
            "name": {
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "required": true
            }
          },
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "getRapidVulnerabilityDetectionSettings": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the RapidVulnerabilityDetectionSettings to retrieve. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "id": "securitycenter.projects.getRapidVulnerabilityDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "description": "Get the RapidVulnerabilityDetectionSettings resource.",
          "path": "v1beta2/{+name}"
        },
        "getWebSecurityScannerSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.projects.getWebSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "location": "path",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$"
            }
          },
          "description": "Get the WebSecurityScannerSettings resource.",
          "parameterOrder": [
            "name"
          ]
        },
        "getVirtualMachineThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "securitycenter.projects.getVirtualMachineThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "Get the VirtualMachineThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}"
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "id": "securitycenter.projects.updateRapidVulnerabilityDetectionSettings",
          "description": "Update the RapidVulnerabilityDetectionSettings resource.",
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "httpMethod": "PATCH",
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            },
            "name": {
              "type": "string",
              "location": "path",
              "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true
            }
          },
          "path": "v1beta2/{+name}"
        },
        "getContainerThreatDetectionSettings": {
          "httpMethod": "GET",
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
            }
          },
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "id": "securitycenter.projects.getContainerThreatDetectionSettings"
        },
        "updateEventThreatDetectionSettings": {
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "id": "securitycenter.projects.updateEventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string"
            },
            "name": {
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "description": "Update the EventThreatDetectionSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings"
        },
        "getSecurityCenterSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/securityCenterSettings",
          "description": "Get the SecurityCenterSettings resource.",
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings",
              "pattern": "^projects/[^/]+/securityCenterSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "securitycenter.projects.getSecurityCenterSettings"
        },
        "getEventThreatDetectionSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
            }
          },
          "httpMethod": "GET",
          "description": "Get the EventThreatDetectionSettings resource.",
          "id": "securitycenter.projects.getEventThreatDetectionSettings"
        },
        "getSecurityHealthAnalyticsSettings": {
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings",
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "httpMethod": "GET"
        },
        "getOnboardingState": {
          "id": "securitycenter.projects.getOnboardingState",
          "response": {
            "$ref": "OnboardingState"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/onboardingState",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/onboardingState$",
              "location": "path",
              "description": "Required. The name of the OnboardingState to retrieve. Formats: * organizations/{organization}/onboardingState * folders/{folder}/onboardingState * projects/{project}/onboardingState",
              "required": true,
              "type": "string"
            }
          },
          "description": "Retrieve the OnboardingState of a resource.",
          "parameterOrder": [
            "name"
          ]
        },
        "updateWebSecurityScannerSettings": {
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "type": "string",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "id": "securitycenter.projects.updateWebSecurityScannerSettings",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "description": "Update the WebSecurityScannerSettings resource.",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "The list of fields to be updated."
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "organizations": {
      "resources": {
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "parameters": {
                "name": {
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "httpMethod": "GET",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "location": "path"
                }
              },
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings."
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.virtualMachineThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings:calculate"
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the RapidVulnerabilityDetectionSettings to calculate. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings"
                }
              },
              "description": "Calculates the effective RapidVulnerabilityDetectionSettings based on its level in the resource hierarchy and its settings.",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.rapidVulnerabilityDetectionSettings.calculate"
            }
          }
        }
      },
      "methods": {
        "getVirtualMachineThreatDetectionSettings": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "description": "Get the VirtualMachineThreatDetectionSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "id": "securitycenter.organizations.getVirtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1beta2/{+name}"
        },
        "getSecurityCenterSettings": {
          "httpMethod": "GET",
          "description": "Get the SecurityCenterSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "required": true,
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getSubscription": {
          "parameterOrder": [
            "name"
          ],
          "description": "Get the Subscription resource.",
          "response": {
            "$ref": "Subscription"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the subscription to retrieve. Format: organizations/{organization}/subscription",
              "pattern": "^organizations/[^/]+/subscription$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getSubscription"
        },
        "getEventThreatDetectionSettings": {
          "id": "securitycenter.organizations.getEventThreatDetectionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the EventThreatDetectionSettings resource."
        },
        "getOnboardingState": {
          "description": "Retrieve the OnboardingState of a resource.",
          "response": {
            "$ref": "OnboardingState"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/onboardingState",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/onboardingState$",
              "description": "Required. The name of the OnboardingState to retrieve. Formats: * organizations/{organization}/onboardingState * folders/{folder}/onboardingState * projects/{project}/onboardingState",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "securitycenter.organizations.getOnboardingState",
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateSecurityHealthAnalyticsSettings": {
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "The list of fields to be updated.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "required": true
            }
          },
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "getWebSecurityScannerSettings": {
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "parameterOrder": [
            "name"
          ],
          "description": "Get the WebSecurityScannerSettings resource.",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "securitycenter.organizations.getWebSecurityScannerSettings"
        },
        "updateContainerThreatDetectionSettings": {
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings",
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query"
            }
          }
        },
        "updateWebSecurityScannerSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the WebSecurityScannerSettings resource.",
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ]
        },
        "getSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "parameters": {
            "name": {
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings"
        },
        "updateEventThreatDetectionSettings": {
          "description": "Update the EventThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "The list of fields to be updated.",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ]
        },
        "getContainerThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "description": "Get the ContainerThreatDetectionSettings resource."
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "The list of fields to be updated.",
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateVirtualMachineThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "httpMethod": "PATCH",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateRapidVulnerabilityDetectionSettings",
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "required": true
            }
          },
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "description": "Update the RapidVulnerabilityDetectionSettings resource."
        },
        "getRapidVulnerabilityDetectionSettings": {
          "id": "securitycenter.organizations.getRapidVulnerabilityDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "description": "Get the RapidVulnerabilityDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "description": "Required. The name of the RapidVulnerabilityDetectionSettings to retrieve. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "folders": {
      "resources": {
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
                  "location": "path",
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings."
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "required": true,
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate"
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.virtualMachineThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings:calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings."
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "description": "Calculates the effective RapidVulnerabilityDetectionSettings based on its level in the resource hierarchy and its settings.",
              "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings:calculate",
              "id": "securitycenter.folders.rapidVulnerabilityDetectionSettings.calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "description": "Required. The name of the RapidVulnerabilityDetectionSettings to calculate. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "type": "string",
                  "location": "path",
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "required": true,
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$"
                }
              },
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate",
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "httpMethod": "GET",
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate"
            }
          }
        }
      },
      "methods": {
        "getVirtualMachineThreatDetectionSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "id": "securitycenter.folders.getVirtualMachineThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "type": "string",
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "description": "Get the VirtualMachineThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "updateContainerThreatDetectionSettings": {
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "httpMethod": "PATCH"
        },
        "getSecurityHealthAnalyticsSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.folders.updateVirtualMachineThreatDetectionSettings",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "The list of fields to be updated."
            },
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "type": "string",
              "required": true
            }
          },
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the VirtualMachineThreatDetectionSettings resource."
        },
        "updateSecurityHealthAnalyticsSettings": {
          "httpMethod": "PATCH",
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "updateMask": {
              "description": "The list of fields to be updated.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          }
        },
        "getContainerThreatDetectionSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "id": "securitycenter.folders.getContainerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET"
        },
        "getWebSecurityScannerSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "required": true
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "parameterOrder": [
            "name"
          ],
          "description": "Get the WebSecurityScannerSettings resource.",
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getRapidVulnerabilityDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "description": "Get the RapidVulnerabilityDetectionSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the RapidVulnerabilityDetectionSettings to retrieve. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true
            }
          },
          "id": "securitycenter.folders.getRapidVulnerabilityDetectionSettings"
        },
        "getEventThreatDetectionSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.folders.getEventThreatDetectionSettings",
          "parameters": {
            "name": {
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "required": true,
              "type": "string",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "location": "path"
            }
          },
          "description": "Get the EventThreatDetectionSettings resource.",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          }
        },
        "getSecurityCenterSettings": {
          "id": "securitycenter.folders.getSecurityCenterSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings",
              "pattern": "^folders/[^/]+/securityCenterSettings$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Get the SecurityCenterSettings resource.",
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/securityCenterSettings",
          "response": {
            "$ref": "SecurityCenterSettings"
          }
        },
        "getOnboardingState": {
          "response": {
            "$ref": "OnboardingState"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/onboardingState$",
              "description": "Required. The name of the OnboardingState to retrieve. Formats: * organizations/{organization}/onboardingState * folders/{folder}/onboardingState * projects/{project}/onboardingState"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/onboardingState",
          "id": "securitycenter.folders.getOnboardingState",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "description": "Retrieve the OnboardingState of a resource.",
          "parameterOrder": [
            "name"
          ]
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "description": "Update the RapidVulnerabilityDetectionSettings resource.",
          "id": "securitycenter.folders.updateRapidVulnerabilityDetectionSettings",
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameters": {
            "name": {
              "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "The list of fields to be updated."
            }
          }
        },
        "updateEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "location": "query"
            },
            "name": {
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "description": "Update the EventThreatDetectionSettings resource.",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          }
        },
        "updateWebSecurityScannerSettings": {
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "type": "string",
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "id": "securitycenter.folders.updateWebSecurityScannerSettings",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "description": "Update the WebSecurityScannerSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "schemas": {
    "Cvssv3": {
      "properties": {
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ],
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.",
          "type": "string"
        },
        "userInteraction": {
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ],
          "type": "string"
        },
        "privilegesRequired": {
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ],
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "confidentialityImpact": {
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "attackVector": {
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read/write/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ],
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. This metric reflects the context by which vulnerability exploitation is possible."
        },
        "integrityImpact": {
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ]
        },
        "attackComplexity": {
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ]
        },
        "availabilityImpact": {
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability."
        },
        "baseScore": {
          "format": "double",
          "type": "number",
          "description": "The base score is a function of the base metric scores."
        }
      },
      "id": "Cvssv3",
      "type": "object",
      "description": "Common Vulnerability Scoring System version 3."
    },
    "Exfiltration": {
      "type": "object",
      "properties": {
        "sources": {
          "items": {
            "$ref": "ExfilResource"
          },
          "description": "If there are multiple sources, then the data is considered \"joined\" between them. For instance, BigQuery can join multiple tables, and each table would be considered a source.",
          "type": "array"
        },
        "targets": {
          "type": "array",
          "description": "If there are multiple targets, each target would get a complete copy of the \"joined\" source data.",
          "items": {
            "$ref": "ExfilResource"
          }
        }
      },
      "id": "Exfiltration",
      "description": "Exfiltration represents a data exfiltration attempt of one or more sources to one or more targets. Sources represent the source of data that is exfiltrated, and Targets represents the destination the data was copied to."
    },
    "Details": {
      "description": "Details of a subscription.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL",
            "ALPHA",
            "DEMO"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard subscription.",
            "The trial subscription.",
            "The alpha subscription.",
            "The demo subscription for channel partners."
          ],
          "description": "The type of subscription"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the subscription has or will start."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the subscription has or will end."
        }
      },
      "id": "Details"
    },
    "Config": {
      "properties": {
        "moduleEnablementState": {
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "description": "The state of enablement for the module at its level of the resource hierarchy."
        },
        "value": {
          "description": "The configuration value for the module. The absence of this field implies its inheritance from the parent.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "Config",
      "type": "object",
      "description": "Configuration of a module."
    },
    "SecurityMarks": {
      "id": "SecurityMarks",
      "type": "object",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "properties": {
        "marks": {
          "type": "object",
[...]
